<div class="modal fade" id="modalPreview" tabindex="-1" role="dialog" aria-labelledby="previewModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="previewModalLabel">寄件預覽</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
				<div class="mail-content">
				    <div class="mail-operating-header">
					    <div class="operating-left">
							<button type="button" class="btn btn-previous">
								<i class="fa fa-chevron-left"></i> 上一位
							</button>
						</div>
                        <div class="operating-center">
							<div class="d-inline-block">
                                <select class="browser-default custom-select operating-select">
                                    <option selected>陳麒文 lilycheng@nctu.edu.tw</option>
                                    <option>林韋廷 maggic@nctu.edu.tw</option>
                                    <option>吳晨璿 leehow@nctu.edu.tw</option>
                                    <option>楊佳昕 whang@nctu.edu.tw</option>
                                </select>
							</div>
							<button type="button" data-toggle="modal" data-target="#modalAddresseeTable" class="btn btn-list" title="列表">
							    <i class="fa fa-th-list mr-0"></i>
							</button>
                        </div>
						<div class="operating-right">
							<button type="button" class="btn btn-next">
								下一位 <i class="fa fa-chevron-right"></i>
							</button>
						</div>
					</div>
					<div class="mail-compose">
						<div class="form-group row">
                            <label class="col-sm-2 col-form-label">收件人</label>
							<div class="col-sm-10">
                                <div class="form-control">陳麒文 &lt;lilycheng@nctu.edu.tw&gt;</div>
							</div>
                        </div>
                        <div class="form-group row last">
                            <label class="col-sm-2 col-form-label" for="subject">主旨</label>
							<div class="col-sm-10">
                                <div class="form-control">Keep Calm and Carry On</div>
							</div>
                        </div>
					</div>
					<div class="editor-wrapper" style="border: 1px solid #eee; margin: 0 1.25rem 1.25rem; height: 450px;">
						<!-- ckeditor 放這裡，請將 .editor-wrapper 的 inline style 拿掉 -->
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ut vehicula nibh. Nullam ut nisi sollicitudin, fringilla orci quis, iaculis magna. Nulla vitae nisl pulvinar, varius elit at, vestibulum est. Aliquam erat volutpat. Aliquam finibus orci a lorem mattis, et viverra libero cursus. Phasellus facilisis id nunc eu consequat. Integer eleifend, nunc vel tincidunt iaculis, augue velit interdum arcu, et ullamcorper metus sapien gravida leo. </p>
					</div>
					<div class="editor-files-wrapper">
                        <div class="editor-files-inner">
                            附加檔案
                        </div>
						<div class="d-flex flex-wrap align-items-center">
                            <div class="file-wrapper exhibit">
                                <div class="file-name">Datacolor Spyder3Express_.pdf</div>
                            </div>
							<div class="file-wrapper exhibit">
                                <div class="file-name">Dani_Box_Mini_manual.pdf</div>
                            </div>
						</div>
					</div>
				</div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn  btn-link" data-dismiss="modal">關閉</button>
                <button type="button" class="btn btn-primary">寄送</button>
            </div>
        </div>
    </div>
</div>