<!-- admin-page: Dashborad -->

<!-- Dashborad (首頁) 不需要麵包屑 breadcrumb -->

<main class="main">
	<div class="page-header">
        <h2>Dashboard</h2>
		<p><%= lorem_sentence %></p>
    </div>
    <div class="row">
        <div class="col-5">
            <div class="welcome">
                <p class="h4"><span class="font-weight-bold indigo-text">Welcome</span> <small>to the National Taiwan University System Overseas High School Recommendation System</small></p>
				<p class="h6">Application Period  <span class="font-weight-normal pink-text">August 3, 2020, 9:00 a.m. to October 8, 2020, 5:00 p.m. (GMT+8)</span></p>
				<ol>
				    <li class="mb-3"><strong>Recommendation of applicants:</strong> Please click on the "Recommendation of Applicants" option on the right side of this recommendation system to complete the recommendation of your school's applicants. </li>
					<li><strong>Upload Recommendation Letter:</strong> After the student has completed the department selection, you will see the student's list and the department to which he/she applied in the "Upload Recommendation Letter" field. To complete the application process, you must upload the recommendation letters for each department you are applying to during the application period. <span class="pink-text">The maximum recommendation file size is 10MB</span></li>
				</ol>
				<p>Thank you for your help and recommendation. If you have any questions, please feel free to contact us by phone or email.</p>
				<p class="grey-text">按照以上範例加上 class name</p>
            </div>
        </div>
		<div class="col-7">
            <div class="progress-timeline pl-5 pt-4">
				<h4>Program Description</h4>
                <ul class="progress-list">
                    <li class="progress-item">
                        <div class="progress-check">
                            <div class="progress-circ">1</div>
                            <a href="#" class="progress-brief">
                                <h5>Recommended list</h5>
                                <p><%= lorem_sentence %></p>
                            </a>
                        </div>
                        <div class="progress-card">
                            <div class="progress-card-body">
                                Create a list of recommended students, and after completion, students will be given an account to log into the system to apply.
                            </div>
                        </div>
                    </li>
					<li class="progress-item">
                        <div class="progress-check">
                            <div class="progress-circ">2</div>
                            <a href="#" class="progress-brief">
                                <h5>Upload</h5>
                                <p><%= lorem_sentence %></p>
                            </a>
                        </div>
                        <div class="progress-card">
                            <div class="progress-card-body">
                                After the student chooses to apply for a voluntary school and program, the school sponsor must assist the student in uploading a recommendation letter.
                            </div>
                        </div>
                    </li>
                </ul>
				<div class="nav-btn-group">
				    <a href="#" class="btn btn-lg btn-default btn-rounded">Uploaded <span class="badge badge-pill badge-danger">100</span></a>
					<a href="#" class="btn btn-lg btn-default btn-rounded">Supplement <span class="badge badge-pill badge-danger">0</span></a>
				</div>
            </div>
        </div>
    </div>
</main>

<% content_for :js do %>

<% end %>