<!-- admin-page: 學校簡介 -->
<%= render :partial => "/partials/admin_breadcrumb" %>

<main class="main">
    <div class="page-header">
        <h2>About the School</h2>
    </div>
	<div class="row">
	    <div class="col-12">
		    <div class="profile-sidebar">
                <div class="col-block mb-20">
                    <div class="block-content expansion pb-5">
                        <div class="profile-avatar no-avatar">
							<div class="scrap">
								<div class="scrap-info">
									<p><i class="fa fa-university"></i></p>
									<span class="school h4">港九街坊婦女會孫方中書院</span>
									<span class="en-school">Hong Kong and Kowloon Kaifong Women's Association Sun Fong Chung College</span>
								</div>
							</div>
                        </div>
						<div id="accordion" class="profile-side_accordion">
                            <ul class="collapsible collapsible-accordion" id="accordion" role="tablist" aria-multiselectable="true">
                                <li class="menu-item current">
                                    <div class="panel-heading">
                                        <a class="btn btn-link" href="#" >About the School</a>
                                    </div>
                                </li>
                                <li class="menu-item">
                                    <div class="panel-heading">
                                        <a class="btn btn-link" href="#">Basic Information</a>
                                    </div>
                                </li>
								<li class="menu-item">
                                    <div class="panel-heading">
                                        <a class="btn btn-link" href="#">History</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
			</div>
			<div class="profile-content">

                <div class="col-block">
                    <div class="block-content">
                        <p><%= lorem_paragraph %></p>
                        <div class="form-group">
                            <textarea class="form-control rounded-0" id="" rows="10"></textarea>
                        </div>
                        <div class="form-group">
                            <div class="custom-file w-auto">
                                <input type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01" />
                                <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                            </div>
                        </div>
						<div class="form-action">
						    <button type="button" class="btn btn-primary">Save</button>
							<button type="button" class="btn btn-link">Cancel</button>
						</div>
                    </div>
                </div>
				
			</div>
		</div>
	</div>
</main>

<% content_for :js do %>
    <script>
		 $('.panel-collapse').on('show.bs.collapse', function() {
			 $(this).siblings('.panel-heading').addClass('active');
		 });

		 $('.panel-collapse').on('hide.bs.collapse', function() {
			 $(this).siblings('.panel-heading').removeClass('active');
		 });
    </script>
<% end %>