
// `Carousel

.main-carousel {
    margin-bottom: 6.25rem;
    margin-bottom: calc(1.75rem + 3.5vw);
    
    // `重設時間
    .carousel-item,
    .carousel-fade .active.carousel-item-start,
    .carousel-fade .active.carousel-item-end {
        transition: opacity .8s ease-in-out;
    }
	.item-inner {
		display: flex;
        justify-content: space-between;
	}
	.item-photo {
		width: 66.66666%;
		img {
			display: block;
			width: 100%;
			height: auto;
		}
	}
	.item-text {
		width: 33.33334%;
        flex-grow: 1;
        position: relative;
        .text-inner {
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-left: 60px;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
        }
        .text-position { margin-top: -3rem; }
		h2 {
			margin-bottom: 1.75rem;
			font-size: 4.75rem;
			font-weight: 500;
            line-height: 1.1;
            color: $main_color;
		}
		p {
			margin-bottom: 1.75rem;
            font-size: calc(1rem + 0.390625vw);
			font-size: 1.25rem;
			line-height: 1.7;
		}
	}
	.carousel-indicators {
		left: 66.66666%;
		right: auto;
		bottom: 1.5rem;
		margin: 0;
		padding-left: 60px;
		[data-bs-target] {
			border-radius: 50%;
			background-color: $main_color;
			width: 16px;
			height: 16px;
			opacity: 0.2;
		}
		.active { opacity: 1; }
        button { margin-right: .75rem; }
	}
    
    // `特效
    
    .carousel-inner { background: $main_color; }
    
    .item-photo,
    .item-text {
        transition: transform .6s cubic-bezier(.29,.27,.43,.98);
        &:after {
            content: "";
            background: $main_color;
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            transition: transform .4s ease-in-out;
            transform-origin: center top;
            transform: scaleY(0);
        }
    }

    .item-photo {
        transform: translateY(0%);
        background: $body_background;
        img {
            transform: translateY(10%);
            transition: transform .4s cubic-bezier(.29,.27,.43,.98);
            transition-delay: .1s;
        }
    }
    .item-text {
        transform: translateY(0%);
        background: $body_background;
        &:after { background: $main_color; }
        .text-position {
            transform: translateY(10%);
            transition: transform .4s cubic-bezier(.29,.27,.43,.98);
            transition-delay: .3s;
        }
    }
    
    .carousel-item-next.carousel-item-start,
    .carousel-item-prev.carousel-item-end {
        .item-photo {
            transform: translateY(0%);
            &:after { transform: scaleY(1); }
        }
        .item-text {
            transform: translateY(0%);
            &:after { transform: scaleY(1); }
        } 
    }
    .carousel-item.active {
        .item-photo {
            transform: translateY(0);
            &:after {
                transform: scaleY(0);
            }
            img { transform: translateY(0%); }
        }
        .item-text {
            transform: translateY(0);
            //transition-delay: .2s;
            &:after {
                transition-delay: .2s;
                transform: scaleY(0);
            }
            .text-position { transform: translateY(0%); }
        }
    }
    .active.carousel-item-start {
        .item-photo {
            transform: translateY(0%);
            &:after { transform: scaleY(1); }
        }
        .item-text {
            transform: translateY(0%);
            &:after { transform: scaleY(1); }
        }
    }
    .carousel-item-end.active {
        .item-photo {
            transform: translateY(0%);
            &:after { transform: scaleY(1); }
        }
        .item-text {
            transform: translateY(0%);
            &:after { transform: scaleY(1); }
        } 
    }
    
    

    .carousel-item.carousel-item-next.carousel-item-start,
    .carousel-item-prev.carousel-item-end {
        opacity: 0;
    }
    
    .carousel-item.active.carousel-item-start {
        opacity: 0;
    }
    
    
    /* `特效 1
    .item-photo,
    .item-text {
        transition: transform .6s ease-in-out;
    }

    .item-photo {
        transform: translateY(10%);
    }
    .item-text {
        transform: translateY(10%);
    }
    .carousel-item-prev.carousel-item-end {
        .item-photo {
            transform: translateY(10%);
        }
        .item-text {
            transform: translateY(10%);
        } 
    }
    .carousel-item.active {
        .item-photo {
            transform: translateY(0);
        }
        .item-text {
            transform: translateY(0);
            transition-delay: .2s;
        }
    }
    .active.carousel-item-start {
        .item-photo {
            transform: translateY(10%);
        }
        .item-text {
            transform: translateY(10%);
        }
    }
    .carousel-item-end.active {
        .item-photo {
            transform: translateY(10%);
        }
        .item-text {
            transform: translateY(10%);
        } 
    }
    
    

    .carousel-item.carousel-item-next.carousel-item-start,
    .carousel-item-prev.carousel-item-end {
        opacity: 0;
    }
    
    .carousel-item.active.carousel-item-start {
        opacity: 0;
    }
    */
    
    
    /* 特效 2
    .item-photo {
        transform: translateX(-100%);
    }
    .item-text {
        transform: translateX(100%);
    }
    .carousel-item-prev.carousel-item-end {
        .item-photo {
            transform: translateX(-100%);
            //opacity: 0;
        }
        .item-text {
            transform: translateX(100%);
            //opacity: 0;
        } 
    }
    .carousel-item.active {
        .item-photo { transform: translateX(0); }
        .item-text {
            transform: translateX(0);
            transition-delay: .1s;
        }
    }
    .active.carousel-item-start {
        .item-photo {
            transform: translateX(-100%);
        }
        .item-text {
            transform: translateX(100%);
        }
    }
    .carousel-item-end.active {
        .item-photo {
            transform: translateX(-100%);
        }
        .item-text {
            transform: translateX(100%);
        } 
    }
    */
}

@-moz-document url-prefix() {
    .main-carousel .item-text {
        right: -1px;
    }
}

/* `Responsive
-----------------------------------------------------------------------------*/

@media (max-width: 1920px) {
    .main-carousel .item-text h2 {
        font-size: calc(2rem + 2vw);
    }
}

@media (max-width: 1599px) {
    .main-carousel {
        .item-inner {
            display: block;
            position: relative;
        }
        .item-photo,
        .item-text { width: 100%; }
        .item-text {
            .text-inner {
                position: static;
                padding-left: 0;
            }
            .text-position {
                margin-top: 0;
                padding: 40px 0 80px;
            }
            &:after {
                transform-origin: center top;
            }
        }
        .carousel-indicators {
            padding-left: 0;
            left: 0;
            right: 0;
            bottom: 20px;
        }
    }
}

@media (max-width: 768px) {
    .main-carousel {
        .item-text {
            h2 { margin-bottom: 1rem; }
            p { font-size: 1.125rem; }
        }
    }
}




























