<!-- template: 登入 -->

<div class="container-lg">
	<div class="login-wrapper">
	    <div class="login-card">
		    <div class="card-hd">
			    <h3 class="mb-0">Log in</h3>
			</div>
			<div class="card-bd">
			    <h6>系統開放時間</h6>
				<p>2020-12-11 11:00 ~ 2020-12-31 11:00</p>
			</div>
            <div class="d-grid mt-4">
                <button class="btn btn-lg btn-primary" type="button">Login</button>
            </div>
		</div>
	</div>
</div>



<% content_for :js do %>

<% end %>

