<div class="container-fluid">
	<div class="pages">
        <header class="welcome">
            <h1>Welcome to NISA</h1>
        </header>
        <div class="links">
            <ul>
                <li>
                    <a href="/">輔導人員</a>
                </li>
				<li>
                    <a href="/">境外學生</a>
                </li>
				<li>
                    <a href="/">訪客</a>
                </li>
				<li class="color-nisa">
                    <a href="/">境外學生諮詢</a>
                </li>
				<li class="font-roboto color-nisa">
                    <a href="/">Inquiry Service for Overseas Students</a>
                </li>
				<li class="font-roboto color-nisa">
                    <a href="/">Dịch vụ tư vấn cho viên nước ngoài</a>
                </li>
				<li class="font-roboto color-nisa">
                    <a href="/">Layanan Konsultasi Siswa Luar Wilayah</a>
                </li>
            </ul>
        </div>
	</div>
</div>