<footer class="footer">
	<div class="container">
		<div class="footer-inner">
            <div class="contact">
                <h6>國立高雄科技大學 招生組</h6>
                <p class="contact-item"><i class="fa fa-phone"></i> 07-3814526～30</p>
                <p class="contact-item"><i class="fa fa-envelope"></i> <a href="mailto:cboffice@nkust.edu.tw">cboffice@nkust.edu.tw</a></p>
                <p class="contact-item"><i class="fa fa-map-marker"></i>
					<span>[ 建工校區 ] 807618 高雄市三民區建工路 415 號</span>
					<span>[ 燕巢校區 ] 824004 高雄市燕巢區深中路 58 號</span>
					<span>[ 第一校區 ] 824005 高雄市燕巢區大學路 1 號</span>
					<span>[ 楠梓校區 ] 811213 高雄市楠梓區海專路 142 號</span>
					<span>[ 旗津校區 ] 805301 高雄市旗津區中洲三路 482 號</span>
				</p>
            </div>
            <div class="browser-support">
                瀏覽器支援
                <a href="https://www.mozilla.org/firefox/new/">Firefox</a>, 
                <a href="https://www.google.com/chrome/">Google Chrome</a> 或
                <a href="https://microsoft-edge.en.softonic.com/">IE11+</a>
			</div>
		</div>
	</div>
</footer>
