<header class="header">
    <div class="container">
		<div class="header-link">
		    <a href="#">報名合格統計查詢</a>
			<a href="#">各系所報到狀況查詢</a>
		</div>
		<div class="header-wrap">
			<div class="brands">
				<a href="#">
                    <div class="logo">
                        <h1 class="text-hide">國立高雄科技大學 National Kaohsiung University of Science and Technology</h1>
                        <img class="h1-logo" src="../assets/logo@2x.png" / title="國立高雄科技大學 National Kaohsiung University of Science and Technology">
						<img class="h1-logo-mobile" src="../assets/logo-mobile@2x.png" / title="國立高雄科技大學 National Kaohsiung University of Science and Technology">
                    </div>
				</a>
			</div>
            <div class="account">
                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Hi, 史佳麗</a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="#">變更密碼</a>
                    <a class="dropdown-item" href="#">登出</a>
                </div>
            </div>
		</div>
		<div class="program-wrap">
			<h2>110 學年度日間部碩士班考試線上申請系統</h2>
		</div>
    </div>
</header>