<footer class="footer">
	<div class="container-lg">
		<div class="footer-inner">
			<div class="block-transition">
                <div class="central-content">
                    <ul class="menu-item contact">
                        <li>
                            <i class="fas fa-map-marker-alt"></i>
                            10617 臺北市大安區羅斯福路四段1號望樂樓區
                        </li>
                        <li>
                            <i class="fas fa-envelope"></i>
                            <a href="mailto:career@ntu.edu.tw">career@ntu.edu.tw</a>
                        </li>
                        <li>
                            <i class="fas fa-phone-alt"></i>
                            +886-2-33662046~7
                        </li>
                        <li>
                            <i class="fas fa-fax"></i>
                            +886-2-23623560
                        </li>
                    </ul>
                    <div class="browser">
                        瀏覽器建議
                        <a href="https://www.google.com/intl/zh-TW/chrome/">Google Chrome</a>,
                        <a href="https://www.mozilla.org/zh-TW/firefox/new/">Firefox</a> 或
                        <a href="https://www.microsoft.com/zh-tw/edge">Edge</a>
                    </div>
                </div>
			</div>
            <div class="ft-block end-content">
                <div class="ft-links">
                    <a href="#" target="_blank">臺灣引路人的網站</a>
                    <a href="#" target="_blank">隱私權與資訊安全政策</a>
                </div>
                <address>本網站著作權屬於國立臺灣大學 學生事務處</address>
            </div>
		</div>
	</div>
</footer>