<header class="header" id="pagetop">
    <div class="container-lg">
		<div class="header-wrap">
            <div class="header-function">
				<div class="header-right"></div>
            </div>
			<div class="brands">
                <a href="#" class="brand-link" title="推薦系統首頁">
                    <div class="logo">
                        <h1 class="text-hide">臺灣引路人計畫實習網站 線上推薦信</h1>
                        <img class="h1-logo" src="../assets/logo@2x.png">
                    </div>
                    <div class="sub">臺灣引路人計畫實習網站 線上推薦信</div>
                </a>
			</div>
		</div>
    </div>
</header>