<!-- admin-page: 台大 - 系統索引 -->

<body class="height-layout">
    <div class="workbench-wrapper">
        <div class="container">

            <header class="workbench-header">
                <h1 class="logo"><img class="logo__img" src="../assets/ntuoia_logo@2x.png" title="NTU OIA" /></h1>
                <div class="account">
                    <a href="#">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-power" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                          <path stroke="none" d="M0 0h24v24H0z"/>
                          <path d="M7 6a7.75 7.75 0 1 0 10 0" />
                          <line x1="12" y1="4" x2="12" y2="12" />
                        </svg>
                        <span>登出</span>
                    </a>
                </div>
            </header>

            <div class="workbench-index">
                <ul class="menu-item">
                    <li class="workbench-item">
                        <div class="workbench-card">
                            <div class="flag">
                                <span>01</span>
                            </div>
                            <div class="card-bd">
                                <h3 class="system-title">國際合作</h3>
                                <a class="link" href="#"><span></span>國際合作管理系統</a>
                                <a class="link" href="#"><span></span>院系國合帳號管理</a>
                            </div>
                        </div>
                    </li>
                    <li class="workbench-item">
                        <div class="workbench-card">
                            <div class="flag">
                                <span>02</span>
                            </div>
                            <div class="card-bd">
                                <h3 class="system-title">海外教育</h3>
                                <a class="link" href="#"><span></span>出國學生管理系統（出國交換、訪問、海外暑期課程）</a>
                                <a class="link" href="#"><span></span>出國交換學生管理系統（新）</a>
                                <a class="link" href="#"><span></span>海外暑期課程</a>
                            </div>
                        </div>
                    </li>
                    <li class="workbench-item">
                        <div class="workbench-card">
                            <div class="flag">
                                <span>03</span>
                            </div>
                            <div class="card-bd">
                                <h3 class="system-title">學校管理</h3>
                                <a class="link" href="#"><span></span>締約學校設定管理</a>
                            </div>
                        </div>
                    </li>
                    <li class="workbench-item">
                        <div class="workbench-card">
                            <div class="flag">
                                <span>04</span>
                            </div>
                            <div class="card-bd">
                                <h3 class="system-title">網站後台 (新)</h3>
                                <a class="link" href="#"><span></span>新版網頁後台（臺大校色版）</a>
                            </div>
                        </div>
                    </li>
                    <li class="workbench-item">
                        <div class="workbench-card">
                            <div class="flag">
                                <span>05</span>
                            </div>
                            <div class="card-bd">
                                <h3 class="system-title">帳號管理</h3>
                                <a class="link" href="#"><span></span>使用者個人資料管理</a>
                            </div>
                        </div>
                    </li>
                    <li class="workbench-item">
                        <div class="workbench-card">
                            <div class="flag">
                                <span>06</span>
                            </div>
                            <div class="card-bd">
                                <h3 class="system-title">網站後台 (舊)</h3>
                                <a class="link" href="#"><span></span>舊版網頁後台（藍色版）</a>
                            </div>
                        </div>
                    </li>
                    <li class="workbench-item">
                        <div class="workbench-card">
                            <div class="flag">
                                <span>07</span>
                            </div>
                            <div class="card-bd">
                                <h3 class="system-title">國際學生</h3>
                                <a class="link" href="#"><span></span>學位生管理系統</a>
                                <a class="link" href="#"><span></span>非學位生管理系統（來校交換、訪問、短期研習）</a>
                                <a class="link" href="#"><span></span>志工系統</a>
                            </div>
                        </div>
                    </li>
                    <li class="workbench-item">
                        <div class="workbench-card">
                            <div class="flag">
                                <span>08</span>
                            </div>
                            <div class="card-bd">
                                <h3 class="system-title">國際教育中心</h3>
                                <a class="link" href="#"><span></span>Plus Academy 學生資料</a>
                            </div>
                        </div>
                    </li>
                    <li class="workbench-item">
                        <div class="workbench-card">
                            <div class="flag">
                                <span>09</span>
                            </div>
                            <div class="card-bd">
                                <h3 class="system-title">統計資料</h3>
                                <a class="link" href="#"><span></span>來校／出國學生 balance 條件設定查詢</a>
                            </div>
                        </div>
                    </li>
                    <li class="workbench-item">
                        <div class="workbench-card">
                            <div class="flag">
                                <span>10</span>
                            </div>
                            <div class="card-bd">
                                <h3 class="system-title">出訪紀錄</h3>
                                <a class="link" href="#"><span></span>處內人員出訪紀錄</a>
                            </div>
                        </div>
                    </li>
                    <li class="workbench-item">
                        <div class="workbench-card">
                            <div class="flag">
                                <span>11</span>
                            </div>
                            <div class="card-bd">
                                <h3 class="system-title">帳號管理 - 網管專區</h3>
                                <a class="link" href="#"><span></span>網管專區（總網管+分組網管）</a>
                            </div>
                        </div>
                    </li>
                    <li class="workbench-item">
                        <div class="workbench-card">
                            <div class="flag">
                                <span>12</span>
                            </div>
                            <div class="card-bd">
                                <h3 class="system-title">紀念品管理</h3>
                                <a class="link" href="#"><span></span>紀念品管理</a>
                            </div>
                        </div>
                    </li>

                    <li class="workbench-item">
                        <div class="workbench-card">
                            <div class="flag">
                                <span>13</span>
                            </div>
                            <div class="card-bd">
                                <h3 class="system-title">2017</h3>
                                <a class="link" href="#"><span></span>國合通用設定</a>
                                <a class="link" href="#"><span></span>國際學人前台</a>
                                <a class="link" href="#"><span></span>來校交換生後台</a>
                                <a class="link" href="#"><span></span>來校訪問生後台</a>
                                <a class="link" href="#"><span></span>交換生申請(可自訂網址)</a>
                                <a class="link" href="#"><span></span>訪問生申請(可自訂網址)</a>
                                <a class="link" href="#"><span></span>姊妹校承辦人</a>
                                <a class="link" href="#"><span></span>交換生/訪問生, 院系承辦人</a>
                                <a class="link" href="#"><span></span>Balance</a>
                                <a class="link" href="#"><span></span>Fact sheet 後台</a>
                                <a class="link" href="#"><span></span>Fact sheet 姊妹校人員填寫問卷 (預設密碼123)</a>
                                <a class="link" href="#"><span></span>入台證後台</a>
                            </div>
                        </div>
                    </li>
                    <li class="workbench-item">
                        <div class="workbench-card">
                            <div class="flag">
                                <span>14</span>
                            </div>
                            <div class="card-bd">
                                <h3 class="system-title">更多</h3>
                                <a class="link" href="#"><span></span>更多</a>
                            </div>
                        </div>
                    </li>
                    <li class="workbench-item">
                        <div class="workbench-card">
                            <div class="flag">
                                <span>15</span>
                            </div>
                            <div class="card-bd">
                                <h3 class="system-title">其他</h3>
                                <a class="link" href="#"><span></span>其他</a>
                            </div>
                        </div>
                    </li>

                    <li class="workbench-item">
                        <div class="workbench-card">
                            <div class="flag">
                                <span>16</span>
                            </div>
                            <div class="card-bd">
                                <h3 class="system-title">Loop</h3>
                                <a class="link" href="#"><span></span>Loop</a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>

        </div>
    </div>
    <script src="../javascripts/jquery-3.3.1.min.js"></script>
    <script src="../javascripts/popper.min.js"></script>
    <script src="../javascripts/bootstrap.min.js"></script>
    <script src="../javascripts/mdb.min.js"></script>
    <!--[if lt IE 10]>
        <script src="../javascripts/jquery-placeholder-fixed.js"></script>
        <script type="text/javascript">
            $(function() {
                $("input").placeholder();
            });
    </script>
    <![endif]-->
    <!--%= livereload_js if ENV["RACK_ENV"] != "production" && defined?(App)%-->
</body>