<!-- admin-page: 國立雲林科技大學 - 院系單位索引 -->

<body class="yuntech-entrance">
    <div class="workbench-wrapper">
        <header class="workbench-header">
			<div class="entrance-container">
                <h1 class="logo"><img class="logo__img" src="../assets/yuntech_logo-dark@2x.png" title="YunTech" /></h1>
                <div class="account">
                    <span>您好, 史嘉蕾</span>
                    <a href="#" class="logout">登出</a>
                    <a href="#" class="btn btn-sm btn-warning">切換身份</a>
                </div>
			</div>
        </header>
        
        <div class="admission-index">
			<div class="entrance-container">
                <ul class="menu-item">
                    <li class="admission-item">
                        <div class="admission-card">
                            <div class="flag">
                                <span>01</span>
                            </div>
                            <div class="card-bd">
                                <h3 class="system-title">國際會議</h3>
                                <div class="description">
                                    <p>請進入此系統登錄貴單位主辦之國際會議</p>
                                </div>
                                <div class="card-ft">
                                    <a href="#" class="btn waves-effect">進入系統</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="admission-item">
                        <div class="admission-card">
                            <div class="flag">
                                <span>02</span>
                            </div>
                            <div class="card-bd">
                                <h3 class="system-title">境外訪賓</h3>
                                <div class="description">
                                    <p>請進入此系統登錄貴單位主辦之國際會議</p>
                                </div>
                                <div class="card-ft">
                                    <p class="message">貴單位尚有 36 訪賓紀錄需填寫</p>
                                    <a href="#" class="btn waves-effect">進入系統</a>
                                    <a href="#" class="btn waves-effect">開始填寫資料</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="admission-item">
                        <div class="admission-card">
                            <div class="flag">
                                <span>03</span>
                            </div>
                            <div class="card-bd">
                                <h3 class="system-title">境外合約</h3>
                                <div class="description">
                                    <p>請進入此系統登錄貴單位主辦之國際會議</p>
                                </div>
                                <div class="card-ft">
                                    <a href="#" class="btn waves-effect">進入系統</a>
                                </div>
                            </div>
                        </div>
                    </li>

                    <li class="admission-item">
                        <div class="admission-card">
                            <div class="flag">
                                <span>04</span>
                            </div>
                            <div class="card-bd">
                                <h3 class="system-title">國際雙聯學位生系所調查 申請入學審查系統<span class="badge">開放中</span></h3>
                                <div class="description">
                                    <p>請填報非本國籍之境外學術教育單位/人士來訪紀錄，大多為一天內的單次性訪問，或不超過一週的多次性訪問。</p>
                                    <p>與交換教授、來訪學人等較長期的來訪不同。</p>
                                    <p>若主辦研討會，請勿將與會者名單全數填入訪賓紀錄；特邀講者、有特別安排議程以外的會面或拜訪者可列入紀錄。</p>
                                </div>
                                <div class="card-ft">
                                    <p class="message">貴單位尚有 36 訪賓紀錄需填寫</p>
                                    <a href="#" class="btn waves-effect">進入系統</a>
                                    <a href="#" class="btn waves-effect">開始填寫資料</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="admission-item">
                        <div class="admission-card">
                            <div class="flag">
                                <span>05</span>
                            </div>
                            <div class="card-bd">
                                <h3 class="system-title">二級單位帳號管理</h3>
                                <div class="description">
                                    <p>尚未提供描述</p>
                                </div>
                                <div class="card-ft">
                                    <a href="#" class="btn waves-effect">進入系統</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="admission-item">
                        <div class="admission-card">
                            <div class="flag">
                                <span>06</span>
                            </div>
                            <div class="card-bd">
                                <h3 class="system-title">交流紀錄查詢</h3>
                                <div class="description">
                                    <p>請進入此系統登錄貴單位主辦之國際會議</p>
                                </div>
                                <div class="card-ft">
                                    <a href="#" class="btn waves-effect">進入系統</a>
                                </div>
                            </div>
                        </div>
                    </li>

                    <li class="admission-item">
                        <div class="admission-card">
                            <div class="flag">
                                <span>07</span>
                            </div>
                            <div class="card-bd">
                                <h3 class="system-title">國際會議</h3>
                                <div class="description">
                                    <p>請進入此系統登錄貴單位主辦之國際會議</p>
                                </div>
                                <div class="card-ft">
                                    <a href="#" class="btn waves-effect">進入系統</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="admission-item">
                        <div class="admission-card">
                            <div class="flag">
                                <span>08</span>
                            </div>
                            <div class="card-bd">
                                <h3 class="system-title">國際會議</h3>
                                <div class="description">
                                    <p>請進入此系統登錄貴單位主辦之國際會議</p>
                                </div>
                                <div class="card-ft">
                                    <a href="#" class="btn waves-effect">進入系統</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="admission-item">
                        <div class="admission-card">
                            <div class="flag">
                                <span>09</span>
                            </div>
                            <div class="card-bd">
                                <h3 class="system-title">國際會議</h3>
                                <div class="description">
                                    <p>請進入此系統登錄貴單位主辦之國際會議</p>
                                </div>
                                <div class="card-ft">
                                    <a href="#" class="btn waves-effect">進入系統</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="admission-item">
                        <div class="admission-card">
                            <div class="flag">
                                <span>10</span>
                            </div>
                            <div class="card-bd">
                                <h3 class="system-title">Loop</h3>
                                <div class="description">
                                    <p>請進入此系統登錄貴單位主辦之國際會議</p>
                                </div>
                                <div class="card-ft">
                                    <a href="#" class="btn waves-effect">進入系統</a>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
			</div>
        </div>
		<div class="yuntech_landscape">
			<img src="../assets/yuntech_landscape.png">
		</div>
    </div>
    <script src="../javascripts/jquery-3.3.1.min.js"></script>
    <script src="../javascripts/popper.min.js"></script>
    <script src="../javascripts/bootstrap.min.js"></script>
    <script src="../javascripts/mdb.min.js"></script>
    <!--[if lt IE 10]>
        <script src="../javascripts/jquery-placeholder-fixed.js"></script>
        <script type="text/javascript">
            $(function() {
                $("input").placeholder();
            });
    </script>
    <![endif]-->
    <!--%= livereload_js if ENV["RACK_ENV"] != "production" && defined?(App)%-->
</body>