<!-- tdrf: 首頁表單 -->

<div class="manual-wrapper">
    <div class="container">
	    <p>您可填寫下方申請表格進行套印下載填寫資料，或是下載空白申請書手動填寫，謝謝。
		<a href="#"><i class="fa fa-cloud-download"></i> 空白藥害救濟申請書下載</a></p>
		<p class="application--warning"><i class="fa fa-exclamation-triangle"></i> 關閉或離開此頁面後資料將會全部清除，系統不提供暫存或儲存任何資料功能，僅提供登錄資料進行套印!!</p>
	</div>
</div>

<div class="container">
    <div class="application-container">
		<div class="application-wrapper">
			<div class="wrapper-bd">
			    <section class="section">
				    <h4 class="section-title"><span>申請項目選擇</span></h4>
                    <div class="form-group">
                        <label class="d-block">申請類別</label>
                        <div class="custom-control custom-checkbox custom-control-inline">
                            <input type="checkbox" class="custom-control-input" id="defaultcheckbox01">
                            <label class="custom-control-label" for="defaultcheckbox01">死亡給付</label>
                        </div>
						<div class="custom-control custom-checkbox custom-control-inline">
                            <input type="checkbox" class="custom-control-input" id="defaultcheckbox02">
                            <label class="custom-control-label" for="defaultcheckbox02">障礙給付</label>
                        </div>
						<div class="custom-control custom-checkbox custom-control-inline">
                            <input type="checkbox" class="custom-control-input" id="defaultcheckbox03">
                            <label class="custom-control-label" for="defaultcheckbox03">嚴重疾病給付</label>
                        </div>
                    </div>
					<div class="form-group">
                        <label class="d-block">申請資訊來源</label>
                        <div class="custom-control custom-checkbox custom-control-inline">
                            <input type="checkbox" class="custom-control-input" id="defaultcheckbox04">
                            <label class="custom-control-label" for="defaultcheckbox04">醫療人員</label>
                        </div>
						<div class="custom-control custom-checkbox custom-control-inline">
                            <input type="checkbox" class="custom-control-input" id="defaultcheckbox05">
                            <label class="custom-control-label" for="defaultcheckbox05">藥袋標示</label>
                        </div>
						<div class="custom-control custom-checkbox custom-control-inline">
                            <input type="checkbox" class="custom-control-input" id="defaultcheckbox06">
                            <label class="custom-control-label" for="defaultcheckbox06">衛生機關</label>
                        </div>
						<div class="custom-control custom-checkbox custom-control-inline">
                            <input type="checkbox" class="custom-control-input" id="defaultcheckbox07">
                            <label class="custom-control-label" for="defaultcheckbox07">傳播媒體</label>
                        </div>
						<div class="custom-control custom-checkbox custom-control-inline">
                            <input type="checkbox" class="custom-control-input" id="defaultcheckbox08">
                            <label class="custom-control-label" for="defaultcheckbox08">親友介紹</label>
                        </div>
						<div class="custom-control custom-checkbox custom-control-inline">
                            <input type="checkbox" class="custom-control-input" id="defaultcheckbox09">
                            <label class="custom-control-label" for="defaultcheckbox09">其他</label>
                        </div>
                    </div>
					<div class="form-group">
                        <label for="example_01">其他說明</label>
                        <input type="text" id="example_01" class="form-control w49" placeholder="">
                    </div>
				</section>
				
				<section class="section">
				    <h4 class="section-title"><span>受害人基本資料</span></h4>
					<div class="row">
					    <div class="col-6">
                            <div class="form-group">
                                <label for="exampleVictim_02">姓名</label>
                                <input type="text" id="exampleVictim_02" class="form-control" placeholder="">
                            </div>
						</div>
						<div class="col-6">
                            <div class="form-group">
                                <label class="d-block">性別</label>
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" class="custom-control-input" id="genderMale" name="genderVictim">
                                    <label class="custom-control-label" for="genderMale">男</label>
                                </div>
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" class="custom-control-input" id="genderFemale" name="genderVictim">
                                    <label class="custom-control-label" for="genderFemale">女</label>
                                </div>
                            </div>
						</div>
						<div class="col-6">
                            <div class="form-group">
                                <label for="exampleVictim_03">身分證字號</label>
                                <input type="text" id="exampleVictim_03" class="form-control" placeholder="">
                            </div>
						</div>
						<div class="col-6">
                            <div class="form-group">
                                <label>出生日期</label>
                                <div class="form-row">
                                    <div class="col-4">
                                        <select class="browser-default custom-select">
                                            <option selected>選擇年</option>
                                            <option value="1">One</option>
                                            <option value="2">Two</option>
                                            <option value="3">Three</option>
                                        </select>
                                    </div>
                                    <div class="col-4">
                                        <select class="browser-default custom-select">
                                            <option selected>選擇月</option>
                                            <option value="1">One</option>
                                            <option value="2">Two</option>
                                            <option value="3">Three</option>
                                        </select>
                                    </div>
                                    <div class="col-4">
                                        <select class="browser-default custom-select">
                                            <option selected>選擇日</option>
                                            <option value="1">One</option>
                                            <option value="2">Two</option>
                                            <option value="3">Three</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
						</div>
						<div class="col-6">
                            <div class="form-group">
                                <label for="exampleVictim_04">聯絡電話(日)</label>
                                <input type="text" id="exampleVictim_04" class="form-control" placeholder="">
                            </div>
						</div>
						<div class="col-6">
                            <div class="form-group">
                                <label for="exampleVictim_05">聯絡電話(夜)</label>
                                <input type="text" id="exampleVictim_05" class="form-control" placeholder="">
                            </div>
						</div>
						<div class="col-12">
                            <div class="form-group">
                                <label>聯絡地址</label>
                                <div class="form-row">
                                    <div class="col-5">
										<div class="form-row">
										    <div class="col-4">
											    <input type="text" id="" class="form-control">
											</div>
											<div class="col-4">
                                                <select class="browser-default custom-select">
                                                    <option selected>台北市</option>
                                                    <option value="1">One</option>
                                                    <option value="2">Two</option>
                                                    <option value="3">Three</option>
                                                </select>
											</div>
											<div class="col-4">
                                                <select class="browser-default custom-select">
                                                    <option selected>中山區</option>
                                                    <option value="1">One</option>
                                                    <option value="2">Two</option>
                                                    <option value="3">Three</option>
                                                </select>
											</div>
										</div>
                                    </div>
                                    <div class="col-7">
                                        <input type="text" id="" class="form-control" placeholder="郵遞區號">
                                    </div>
                                </div>
                            </div>
						</div>
					</div>
				</section>
				
				<section class="section">
				    <h4 class="section-title"><span>申請人基本資料</span></h4>
					<div class="form-group">
					    <label class="d-block">申請人資格</label>
                        <div class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" id="defaultChecked3" name="defaultExample3">
                            <label class="custom-control-label" for="defaultChecked3">申請人為受害人本人(申請嚴重疾病給付、障礙給付) ，免填申請人資料</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" id="defaultChecked4" name="defaultExample3">
                            <label class="custom-control-label" for="defaultChecked4">申請人為受害人之法定代理人(申請嚴重疾病給付、障礙給付時，當受害人未成年或經監護宣告)</label>
                        </div>
						<div class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" id="defaultChecked5" name="defaultExample3">
                            <label class="custom-control-label" for="defaultChecked5">請人為受害人之法定繼承人(申請死亡給付)</label>
                        </div>
					</div>
					<div class="row">
					    <div class="col-6">
                            <div class="form-group">
                                <label for="exampleApplicant_02">姓名</label>
                                <input type="text" id="exampleApplicant_02" class="form-control" placeholder="">
                            </div>
						</div>
						<div class="col-6">
                            <div class="form-group">
                                <label class="d-block">性別</label>
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" class="custom-control-input" id="genderApplicantMale" name="genderApplicant">
                                    <label class="custom-control-label" for="genderApplicantMale">男</label>
                                </div>
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" class="custom-control-input" id="genderApplicantFemale" name="genderApplicant">
                                    <label class="custom-control-label" for="genderApplicantFemale">女</label>
                                </div>
                            </div>
						</div>
						<div class="col-6">
                            <div class="form-group">
                                <label for="exampleApplicant_03">身分證字號</label>
                                <input type="text" id="exampleApplicant_03" class="form-control" placeholder="">
                            </div>
						</div>
						<div class="col-6">
                            <div class="form-group">
                                <label>出生日期</label>
                                <div class="form-row">
                                    <div class="col-4">
                                        <select class="browser-default custom-select">
                                            <option selected>選擇年</option>
                                            <option value="1">One</option>
                                            <option value="2">Two</option>
                                            <option value="3">Three</option>
                                        </select>
                                    </div>
                                    <div class="col-4">
                                        <select class="browser-default custom-select">
                                            <option selected>選擇月</option>
                                            <option value="1">One</option>
                                            <option value="2">Two</option>
                                            <option value="3">Three</option>
                                        </select>
                                    </div>
                                    <div class="col-4">
                                        <select class="browser-default custom-select">
                                            <option selected>選擇日</option>
                                            <option value="1">One</option>
                                            <option value="2">Two</option>
                                            <option value="3">Three</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
						</div>
						<div class="col-6">
                            <div class="form-group">
                                <label for="exampleApplicant_04">聯絡電話(日)</label>
                                <input type="text" id="exampleApplicant_04" class="form-control" placeholder="">
                            </div>
						</div>
						<div class="col-6">
                            <div class="form-group">
                                <label for="exampleApplicant_05">聯絡電話(夜)</label>
                                <input type="text" id="exampleApplicant_05" class="form-control" placeholder="">
                            </div>
						</div>
						<div class="col-12">
                            <div class="form-group">
                                <label>聯絡地址</label>
                                <div class="form-row">
                                    <div class="col-5">
										<div class="form-row">
										    <div class="col-4">
											    <input type="text" id="" class="form-control">
											</div>
											<div class="col-4">
                                                <select class="browser-default custom-select">
                                                    <option selected>台北市</option>
                                                    <option value="1">One</option>
                                                    <option value="2">Two</option>
                                                    <option value="3">Three</option>
                                                </select>
											</div>
											<div class="col-4">
                                                <select class="browser-default custom-select">
                                                    <option selected>中山區</option>
                                                    <option value="1">One</option>
                                                    <option value="2">Two</option>
                                                    <option value="3">Three</option>
                                                </select>
											</div>
										</div>
                                    </div>
                                    <div class="col-7">
                                        <input type="text" id="" class="form-control">
                                    </div>
                                </div>
                            </div>
						</div>
					</div>
				</section>
				
				<section class="section">
				    <h4 class="section-title"><span>申請事實(請求救濟事件之經過)</span></h4>
					<h3 class="section-inner-title">(一) 用藥原因</h3>
                    <div class="form-group">
                        <label for="example_10">用藥原因(疾病)</label>
                        <input type="text" id="example_10" class="form-control w49">
                    </div>
                    <div class="form-group">
                        <label for="example_11">疑似引起嚴重不良反應之藥品名稱</label>
                        <input type="text" id="example_11" class="form-control w49">
                    </div>
                    <div class="form-group">
                        <label>藥品取得日期(處方日期)</label>
                        <div class="form-row w50">
                            <div class="col-4">
                                <select class="browser-default custom-select">
                                    <option selected>年</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                            </div>
                            <div class="col-4">
                                <select class="browser-default custom-select">
                                    <option selected>月</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                            </div>
                            <div class="col-4">
                                <select class="browser-default custom-select">
                                    <option selected>日</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="example_12">藥品(處方)取得之醫療院所</label>
                        <input type="text" id="example_12" class="form-control w49">
                    </div>
					<!--div class="row">
					    <div class="col-6">
                            <div class="form-group">
                                <label for="example_10">用藥原因(疾病)</label>
                                <input type="text" id="example_10" class="form-control">
                            </div>
						</div>
						<div class="col-6">
                            <div class="form-group">
                                <label for="example_11">疑似引起嚴重不良反應之藥品名稱</label>
                                <input type="text" id="example_11" class="form-control">
                            </div>
						</div>
						<div class="col-6">
                            <div class="form-group">
                                <label>藥品取得日期(處方日期)</label>
                                <div class="form-row">
                                    <div class="col-4">
                                        <select class="browser-default custom-select">
                                            <option selected>年</option>
                                            <option value="1">One</option>
                                            <option value="2">Two</option>
                                            <option value="3">Three</option>
                                        </select>
                                    </div>
                                    <div class="col-4">
                                        <select class="browser-default custom-select">
                                            <option selected>月</option>
                                            <option value="1">One</option>
                                            <option value="2">Two</option>
                                            <option value="3">Three</option>
                                        </select>
                                    </div>
                                    <div class="col-4">
                                        <select class="browser-default custom-select">
                                            <option selected>日</option>
                                            <option value="1">One</option>
                                            <option value="2">Two</option>
                                            <option value="3">Three</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
						</div>
						<div class="col-6">
                            <div class="form-group">
                                <label for="example_12">藥品(處方)取得之醫療院所</label>
                                <input type="text" id="example_12" class="form-control">
                            </div>
						</div>
					</div-->
					<h3 class="section-inner-title">(二) 嚴重不良反應發生及處置</h3>
                    <div class="form-group">
                        <label for="example_13">嚴重不良反應症狀</label>
                        <input type="text" id="example_13" class="form-control w49">
                    </div>
                    <div class="form-group">
                        <label>嚴重不良反應發生日期</label>
                        <div class="form-row w50">
                            <div class="col-4">
                                <select class="browser-default custom-select">
                                    <option selected>年</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                            </div>
                            <div class="col-4">
                                <select class="browser-default custom-select">
                                    <option selected>月</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                            </div>
                            <div class="col-4">
                                <select class="browser-default custom-select">
                                    <option selected>日</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>就醫日期</label>
                        <div class="form-row w50">
                            <div class="col-4">
                                <select class="browser-default custom-select">
                                    <option selected>年</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                            </div>
                            <div class="col-4">
                                <select class="browser-default custom-select">
                                    <option selected>月</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                            </div>
                            <div class="col-4">
                                <select class="browser-default custom-select">
                                    <option selected>日</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>申請人知悉嚴重不良反應日期</label>
                        <div class="form-row w50">
                            <div class="col-4">
                                <select class="browser-default custom-select">
                                    <option selected>年</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                            </div>
                            <div class="col-4">
                                <select class="browser-default custom-select">
                                    <option selected>月</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                            </div>
                            <div class="col-4">
                                <select class="browser-default custom-select">
                                    <option selected>日</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="example_14">嚴重不良反應治療之醫療院所</label>
                        <input type="text" id="example_14" class="form-control w49">
                    </div>
                    <div class="form-group">
                        <label for="example_15">診斷病名</label>
                        <input type="text" id="example_15" class="form-control w49">
                    </div>
                    <div class="form-group">
                        <label class="d-block">接受治療過程</label>
                        <div>
                            <div class="custom-control custom-checkbox custom-control-inline">
                                <input type="checkbox" class="custom-control-input" id="defaultcheckbox21">
                                <label class="custom-control-label" for="defaultcheckbox21">住院</label>
                            </div>
                            <div class="custom-control custom-checkbox custom-control-inline">
                                <input type="checkbox" class="custom-control-input" id="defaultcheckbox22">
                                <label class="custom-control-label" for="defaultcheckbox22">其他治療</label>
                            </div>
                        </div>
                        <!-- 麻煩工程師處理 show/hide js -->
                        <div class="expand-wrapper">
                            <div class="date-row">
                                <div class="date-col">住院日期自</div>
                                <div class="date-col date-col-data">
                                    <div class="form-row">
                                        <div class="col-4">
                                            <select class="browser-default custom-select">
                                                <option selected>年</option>
                                                <option value="1">1900</option>
                                                <option value="2">Two</option>
                                                <option value="3">Three</option>
                                            </select>
                                        </div>
                                        <div class="col-4">
                                            <select class="browser-default custom-select">
                                                <option selected>月</option>
                                                <option value="1">12</option>
                                                <option value="2">Two</option>
                                                <option value="3">Three</option>
                                            </select>
                                        </div>
                                        <div class="col-4">
                                            <select class="browser-default custom-select">
                                                <option selected>日</option>
                                                <option value="1">31</option>
                                                <option value="2">Two</option>
                                                <option value="3">Three</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="date-col">至</div>
                                <div class="date-col date-col-data">
                                    <div class="form-row">
                                        <div class="col-4">
                                            <select class="browser-default custom-select">
                                                <option selected>年</option>
                                                <option value="1">One</option>
                                                <option value="2">Two</option>
                                                <option value="3">Three</option>
                                            </select>
                                        </div>
                                        <div class="col-4">
                                            <select class="browser-default custom-select">
                                                <option selected>月</option>
                                                <option value="1">One</option>
                                                <option value="2">Two</option>
                                                <option value="3">Three</option>
                                            </select>
                                        </div>
                                        <div class="col-4">
                                            <select class="browser-default custom-select">
                                                <option selected>日</option>
                                                <option value="1">One</option>
                                                <option value="2">Two</option>
                                                <option value="3">Three</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="date-col">共</div>
                                <div class="date-col date-col-data">
                                    <input type="text" id="" class="form-control">
                                </div>
                                <div class="date-col">日</div>
                            </div>
                            <div class="treatments-text">
                                <input type="text" id="" class="form-control w49" placeholder="輸入其他治療">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="example_16">治療後情形</label>
                        <input type="text" id="example_16" class="form-control w49">
                    </div>
					<!--div class="row">
					    <div class="col-6">
                            <div class="form-group">
                                <label for="example_13">嚴重不良反應症狀</label>
                                <input type="text" id="example_13" class="form-control">
                            </div>
						</div>
						<div class="col-6">
                            <div class="form-group">
                                <label>嚴重不良反應發生日期</label>
                                <div class="form-row">
                                    <div class="col-4">
                                        <select class="browser-default custom-select">
                                            <option selected>年</option>
                                            <option value="1">One</option>
                                            <option value="2">Two</option>
                                            <option value="3">Three</option>
                                        </select>
                                    </div>
                                    <div class="col-4">
                                        <select class="browser-default custom-select">
                                            <option selected>月</option>
                                            <option value="1">One</option>
                                            <option value="2">Two</option>
                                            <option value="3">Three</option>
                                        </select>
                                    </div>
                                    <div class="col-4">
                                        <select class="browser-default custom-select">
                                            <option selected>日</option>
                                            <option value="1">One</option>
                                            <option value="2">Two</option>
                                            <option value="3">Three</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
						</div>
						<div class="col-6">
                            <div class="form-group">
                                <label>就醫日期</label>
                                <div class="form-row">
                                    <div class="col-4">
                                        <select class="browser-default custom-select">
                                            <option selected>年</option>
                                            <option value="1">One</option>
                                            <option value="2">Two</option>
                                            <option value="3">Three</option>
                                        </select>
                                    </div>
                                    <div class="col-4">
                                        <select class="browser-default custom-select">
                                            <option selected>月</option>
                                            <option value="1">One</option>
                                            <option value="2">Two</option>
                                            <option value="3">Three</option>
                                        </select>
                                    </div>
                                    <div class="col-4">
                                        <select class="browser-default custom-select">
                                            <option selected>日</option>
                                            <option value="1">One</option>
                                            <option value="2">Two</option>
                                            <option value="3">Three</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
						</div>
						<div class="col-6">
                            <div class="form-group">
                                <label>申請人知悉嚴重不良反應日期</label>
                                <div class="form-row">
                                    <div class="col-4">
                                        <select class="browser-default custom-select">
                                            <option selected>年</option>
                                            <option value="1">One</option>
                                            <option value="2">Two</option>
                                            <option value="3">Three</option>
                                        </select>
                                    </div>
                                    <div class="col-4">
                                        <select class="browser-default custom-select">
                                            <option selected>月</option>
                                            <option value="1">One</option>
                                            <option value="2">Two</option>
                                            <option value="3">Three</option>
                                        </select>
                                    </div>
                                    <div class="col-4">
                                        <select class="browser-default custom-select">
                                            <option selected>日</option>
                                            <option value="1">One</option>
                                            <option value="2">Two</option>
                                            <option value="3">Three</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
						</div>
						<div class="col-6">
                            <div class="form-group">
                                <label for="example_14">嚴重不良反應治療之醫療院所</label>
                                <input type="text" id="example_14" class="form-control">
                            </div>
						</div>
						<div class="col-6">
                            <div class="form-group">
                                <label for="example_15">診斷病名</label>
                                <input type="text" id="example_15" class="form-control">
                            </div>
						</div>
						<div class="col-12">
                            <div class="form-group">
                                <label class="d-block">接受治療過程</label>
								<div>
                                    <div class="custom-control custom-checkbox custom-control-inline">
                                        <input type="checkbox" class="custom-control-input" id="defaultcheckbox21">
                                        <label class="custom-control-label" for="defaultcheckbox21">住院</label>
                                    </div>
                                    <div class="custom-control custom-checkbox custom-control-inline">
                                        <input type="checkbox" class="custom-control-input" id="defaultcheckbox22">
                                        <label class="custom-control-label" for="defaultcheckbox22">其他治療</label>
                                    </div>
								</div>
								
								<div class="expand-wrapper">
								    <div class="date-row">
									    <div class="date-col">住院日期自</div>
										<div class="date-col date-col-data">
                                            <div class="form-row">
                                                <div class="col-4">
                                                    <select class="browser-default custom-select">
                                                        <option selected>年</option>
                                                        <option value="1">One</option>
                                                        <option value="2">Two</option>
                                                        <option value="3">Three</option>
                                                    </select>
                                                </div>
                                                <div class="col-4">
                                                    <select class="browser-default custom-select">
                                                        <option selected>月</option>
                                                        <option value="1">One</option>
                                                        <option value="2">Two</option>
                                                        <option value="3">Three</option>
                                                    </select>
                                                </div>
                                                <div class="col-4">
                                                    <select class="browser-default custom-select">
                                                        <option selected>日</option>
                                                        <option value="1">One</option>
                                                        <option value="2">Two</option>
                                                        <option value="3">Three</option>
                                                    </select>
                                                </div>
                                            </div>
										</div>
										<div class="date-col">至</div>
										<div class="date-col date-col-data">
                                            <div class="form-row">
                                                <div class="col-4">
                                                    <select class="browser-default custom-select">
                                                        <option selected>年</option>
                                                        <option value="1">One</option>
                                                        <option value="2">Two</option>
                                                        <option value="3">Three</option>
                                                    </select>
                                                </div>
                                                <div class="col-4">
                                                    <select class="browser-default custom-select">
                                                        <option selected>月</option>
                                                        <option value="1">One</option>
                                                        <option value="2">Two</option>
                                                        <option value="3">Three</option>
                                                    </select>
                                                </div>
                                                <div class="col-4">
                                                    <select class="browser-default custom-select">
                                                        <option selected>日</option>
                                                        <option value="1">One</option>
                                                        <option value="2">Two</option>
                                                        <option value="3">Three</option>
                                                    </select>
                                                </div>
                                            </div>
										</div>
										<div class="date-col">共</div>
										<div class="date-col date-col-data">
											<input type="text" id="" class="form-control">
										</div>
										<div class="date-col">日</div>
									</div>
									<div class="treatments-text">
                                        <input type="text" id="" class="form-control" placeholder="輸入其他治療">
                                    </div>
								</div>
                            </div>
						</div>
						<div class="col-12">
                            <div class="form-group">
                                <label for="example_16">治療後情形</label>
                                <input type="text" id="example_16" class="form-control">
                            </div>
						</div>
					</div-->
					<h3 class="section-inner-title">(三) 嚴重不良反應導致之結果</h3>
					<div class="form-group">
					    <label class="d-block">請擇一勾選導致之結果</label>
						<div>
                            <div class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input" id="defaultChecked33" name="defaultExample10">
                                <label class="custom-control-label" for="defaultChecked33">死亡</label>
                            </div>
                            <div class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input" id="defaultChecked34" name="defaultExample10">
                                <label class="custom-control-label" for="defaultChecked34">障礙(疑似因嚴重不良反應造成永久性殘疾，且領有身心障礙手冊或障礙證明)</label>
                            </div>
                            <div class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input" id="defaultChecked35" name="defaultExample10">
                                <label class="custom-control-label" for="defaultChecked35">嚴重疾病</label>
                            </div>
						</div>
						<div class="expand-wrapper">
                            <div>
                                <label>死亡日期</label>
                                <div id="date-picker-example" class="md-form md-outline input-with-post-icon datepicker my-0 w49">
                                    <input placeholder="Select date" type="text" id="example" class="form-control" />
                                    <i class="fa fa-calendar input-prefix" tabindex="0"></i>
                                </div>
								<small class="form-text text-muted">檢附死亡證明書</small>
                            </div>
                        </div>
					</div>
				</section>
				
				<section class="section">
				    <h4 class="section-title"><span>其他說明</span></h4>
					<div class="form-group">
					    <label class="d-block">一、受害人是否有藥物過敏史</label>
						<div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" class="custom-control-input" id="defaultChecked40" name="defaultExample20">
                                <label class="custom-control-label" for="defaultChecked40">無</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" class="custom-control-input" id="defaultChecked41" name="defaultExample20">
                                <label class="custom-control-label" for="defaultChecked41">有；藥物名稱</label>
                            </div>
						</div>
						<div class="expand-wrapper">
                            <input type="text" id="" class="form-control w49">
                        </div>
					</div>
					<div class="form-group">
					    <label class="d-block">二、是否就本次事件與醫事機構或個人達成和解，或已取得補償或賠償</label>
						<div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" class="custom-control-input" id="defaultChecked42" name="defaultExample21">
                                <label class="custom-control-label" for="defaultChecked42">無</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" class="custom-control-input" id="defaultChecked43" name="defaultExample21">
                                <label class="custom-control-label" for="defaultChecked43">有</label>
                            </div>
						</div>
					</div>
                    <div class="form-group">
                        <label for="example_50">三、其他</label>
                        <input type="text" id="example_50" class="form-control w49">
                    </div>
				</section>
				
				<section class="section statement-section">
				    <h4>聲明事項</h4>
					<ol>
					    <li>本人確認上述申請資料屬實。</li>
						<li>本人同意並委託衛生福利部及其指定之財團法人藥害救濟基金會，向中央健康保險署及各級醫療院所調閱本件藥害救濟申請案因調查及審議所需之健保就醫紀錄及完整醫療病歷等資料。</li>
					</ol>
				</section>
				
				<div class="text-center">
				    <a href="#" target="_blank" class="btn btn-primary btn-rounded">進行套印並下載 PDF 檔案申請書</a>
				</div>
			</div>
		</div>
	</div>
</div>


<% content_for :js do %>
    <script>
		$('.datepicker').datepicker();
	</script>
<% end %>