<!-- tdrf: 申請資料查詢 -->

<div class="container">
    <div class="inquire-wrapper">
	    <div class="card">
			<div class="card-head">
			    <h4 class="card-title">案件進度查詢</h4>
			</div>
		    <div class="card-body">
                <div class="form-group">
                    <label for="example_60">案件編號</label>
                    <input type="text" id="example_60" class="form-control">
                    <small class="form-text text-muted">請填入受理通知專函所示之「案例編號」</small>
                </div>
				<div class="form-group">
                    <label for="example_61">密碼</label>
                    <input type="password" id="example_61" class="form-control">
                    <small class="form-text text-muted">受害人身分證字號</small>
                </div>
				<div class="text-center">
					<button type="submit" class="btn btn-submit btn-rounded">查詢</button>
				</div>
			</div>
		</div>
	</div>
</div>


<% content_for :js do %>

<% end %>