<!-- tdrf: 查詢結果 -->

<div class="container">
    <div class="result-wrapper">
	    <div class="export-wall">
		    <h5>您好：</h5>
			<p>您查詢的案件：<strong>{受害人姓名}</strong>，案例編號：<strong>{案件編號}</strong>，受理日期：<strong>{YYY-MM-DD}</strong>，目前已於<strong>{階段名稱}</strong>階段，敬請耐心等候。</p>
			<p>若有任何問題請洽諮詢專線：02-2358-4097謝謝您!!</p>
		</div>
		<h4 class="result-title"><span>藥害救濟申請案件目前進度</span></h4>
		<div class="wrapper-inner">
		    <div class="process-container">
			    <ul class="menu-item">
				    <li class="done">
					    <div class="item">提出申請</div>
					</li>
					<li class="done">
					    <div class="item">檢核資料並發送受理通知</div>
					</li>
					<li class="current">
					    <div class="item">藥害資料調查</div>
					</li>
					<li>
					    <div class="item">彙整資料並撰寫報告提送初審</div>
					</li>
					<li>
					    <div class="item">衛生福利部審議案件</div>
					</li>
					<li>
					    <div class="item">衛生福利部通知審議結果並轉知申請人</div>
					</li>
				</ul>
			</div>
			<main class="main">
			    <h5 class="font-weight-bold purple-text">進度說明：</h5>
				<p>依據個案案情複雜程度不同，從<span class="purple-text">申請人</span>收到受理通知至通知審議結果，一般需耗時6~9個月不等。</p>
			</main>
		</div>
	</div>
</div>


<% content_for :js do %>

<% end %>