<!-- admin-page: Dashborad -->

<!-- Dashborad (首頁) 不需要麵包屑 breadcrumb -->

<main class="main">
    <div class="dashboard-head internal">
        <hgroup>
            <h2 class="event-title">2021 年僑務委員會海外青年臺灣學習體驗營</h2>
            <h5 class="event-title-sm">Application Form for 2021 Overseas Youth Taiwan Experience Program</h5>
        </hgroup>
        <div class="event-period">
            <div class="period-wrap">
                <span class="label">開始</span>
                <span class="date"><i class="fa fa-clock-o"></i> 2021.06.15</span>
            </div>
            <div class="period-wrap">
                <span class="label">結束</span>
                <span class="date"><i class="fa fa-clock-o"></i> 2021.10.15</span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-8">
            <div class="col-block">
                <div class="block-header has-border">
                    <h4 class="block-subject">各項日程及進度</h4>
                </div>
                <div class="block-content">
					<div class="scrollbar-inner">
                        <div class="event-stage stage-five reduction my-5">
                            <ul class="stage-list">
                                <li class="done">
                                    <div class="start-inner">
                                        <span class="start-date">02/01</span>
                                        <span class="status"><i class="fa fa-check"></i></span>
                                        <h4>活動報名</h4>
                                        <span class="end-date">03/05</span>
                                    </div>
                                </li>
                                <li class="done">
                                    <div class="start-inner">
                                        <span class="status"><i class="fa fa-check"></i></span>
                                        <h4>初審作業</h4>
                                        <span class="end-date">04/15</span>
                                    </div>
                                </li>
                                <li class="done">
                                    <div class="start-inner">
                                        <span class="status"><i class="fa fa-check"></i></span>
                                        <h4>複審作業</h4>
                                        <span class="end-date">05/20</span>
                                    </div>
                                </li>
                                <li class="active">
                                    <div class="start-inner">
                                        <span class="status"><i class="fa fa-play"></i></span>
                                        <h4>確認參加</h4>
                                        <span class="end-date">06/30</span>
                                    </div>
                                </li>
                                <li class="">
                                    <div class="start-inner">
                                        <span class="status">5</span>
                                        <h4>測試</h4>
                                        <span class="end-date">07/30</span>
                                    </div>
                                </li>
                            </ul>
                        </div>
					</div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="col-block">
                <div class="block-header has-border">
                    <h4 class="block-subject">活動設定</h4>
                </div>
                <div class="block-content">
					<p class="text-danger"><i class="fa fa-exclamation-triangle"></i> 駐胡志明市辦事處僑務組無審查人員</p>
					<ul class="menu-item menu-item-border">
					    <li>以梯次方式申請，共 2 梯次。</li>
						<li>限制邀請名單</li>
						<li>限制 2 年內不得參加同類活動。</li>
						<li>對外公告</li>
						<li>共有 4 位協辦人員</li>
						<li>報名人數 80/100</li>
					</ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <div class="col-block">
                <div class="block-header has-border">
                    <h4 class="block-subject">報名狀況</h4>
                </div>
                <div class="block-content expansion">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>梯次</th>
                                <th class="text-center">報名人數</th>
								<th class="text-center">人數限制</th>
                            </tr>   
                        </thead>
                        <tbody>
                            <% (1..3).each do |n| %>
                            <tr>
                                <td><%= n %></td>
                                <td>第 <%= n %> 梯(菲律賓地區)</td>
                                <td class="text-center">80</td>
								<td class="text-center">100</td>
                            </tr>
                            <% end %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="col-block">
                <div class="block-header has-border">
                    <h4 class="block-subject">初審進度 <small class="text-secondary">( 05/30 止)</small></h4>
                </div>
                <div class="block-content expansion">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>洲別</th>
                                <th>駐外單位</th>
								<th class="text-center">進度</th>
								<th class="text-center">審查帳號數</th>
								<th class="text-center">狀態</th>
                            </tr>   
                        </thead>
                        <tbody>
                            <% (1..3).each do |n| %>
                            <tr>
                                <td><%= n %></td>
                                <td>亞洲</td>
                                <td>駐胡志明市辦事處僑務組</td>
								<td class="text-center">80/100</td>
								<td class="text-center">2</td>
								<td class="text-center"><i class="fa fa-check-circle text-success"></i></td>
                            </tr>
                            <% end %>
							<tr>
                                <td>4</td>
                                <td>亞洲</td>
                                <td>菲華文教服務中心</td>
								<td class="text-center">8888/9999</td>
								<td class="text-center">2</td>
								<td class="text-center"><i class="fa fa-exclamation-circle text-danger"></i></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
	<div class="row">
	    <div class="col-6">
		    <div class="col-block">
                <div class="block-header has-border">
                    <h4 class="block-subject">待辦事項 <span class="badge badge-pill badge-warning badge-fix-position">72</span></h4>
                </div>
				<div class="block-content block-scrollbar">
                    <div class="scrollbar-inner">
					    <ul class="menu-item upcoming-menu">
							<% (1..20).map do |i| %>
						    <li>
							    <div class="">
								    <h5 class="upcoming-title">資料複審作業</h5>
									<p class="upcoming-info">菲華文教服務中心已送出初審資料</p>
								</div>
								<span class="date">2021/04/02 18:00</span>
							</li>
							<% end %>
						</ul>
					</div>
                </div>
			</div>
		</div>
		<div class="col-6">
		    <div class="col-block">
                <div class="block-header has-border">
                    <h4 class="block-subject">全部聯絡人</h4>
                    <div class="block-options pull-right">
                        <span class="text-secondary">未讀訊息 35</span>
                    </div>
                </div>
				<div class="block-content block-scrollbar">
                    <div class="scrollbar-inner">
                        <div class="unread-wrapper">
                            <ul class="menu-item unread-menu">
								<li>
                                    <div class="item-start">
										<img alt="Pic" src="https://avatarfiles.alphacoders.com/231/231252.jpg">
                                        <h5 class="contact">Lorem ipsum dolor sit amet</h5>
                                        <p class="contact-info">Phasellus placerat nunc nec tortor elementum aliquet.</p>
                                    </div>
                                    <div class="item-end">
									    <span>5 mins</span>
									</div>
                                </li>
                                <% (1..15).map do |i| %>
                                <li>
                                    <div class="item-start">
										<img alt="Pic" src="https://avatarfiles.alphacoders.com/231/231252.jpg">
                                        <h5 class="contact">資料複審作業</h5>
                                        <p class="contact-info">菲華文教服務中心已送出初審資料</p>
                                    </div>
                                    <div class="item-end">
									    <span>35 mins</span>
										<a href="#" class="badge badge-pill badge-info">5</a>
									</div>
                                </li>
                                <% end %>
                            </ul>
                        </div>
                    </div>
                </div>
			</div>
		</div>
	</div>
</main>

<% content_for :js do %>

<% end %>