<footer class="footer">
	<div class="container clearfix">
        <div class="float-left">
			<ul class="menu-item links">
			    <li><a href="#">Privacy Policy</a></li>
				<li>Case Officer <a href="#">Login</a></li>
			</ul>
            <div class="contact">
                <p>No. 100, Wenhwa Rd., Seatwen, Taichung, Taiwan 40724, R.O.C.</p>
                <p>(04)2451-7250 #2485</p>
                <p class="browser-support">Browser support Firefox、Chrome or IE11+</p>
            </div>
        </div>
        <address class="float-right">© 2019 Network for International Student Advisors</address>
	</div>
</footer>
