

@import "base";


body { background: $body_background; }

.list-wrap {
	.nav-item {
		a.waves-effect, a.waves-light { display: block; }
		.nav-link { padding: 0.75rem 1.25rem; }
		.nav-link.active {
			background-color: $main_color;
			border-radius: 5px 5px 0 0;
			color: #fff;
		}
		.badge.badge-pill {
			margin-left: 3px;
			padding: 0.25em 0.5em;
			font-size: 80%;
		}
	}
	.tab-content.card {
		border-radius: 0 0 5px 5px;
		border-top: 2px solid $main_color;
	}
}