

@import "base";


body { background: $body_background; }

.list-wrap {
	.nav-item {
		a.waves-effect, a.waves-light { display: block; }
		.nav-link { padding: 0.75rem 1.25rem; }
		.nav-link.active {
			background-color: $main_color;
			border-radius: 5px 5px 0 0;
			color: #fff;
		}
		.badge.badge-pill {
			margin-left: 3px;
			padding: 0.25em 0.5em;
			font-size: 80%;
		}
	}
	.tab-content.card {
		border-radius: 0 0 5px 5px;
		border-top: 2px solid $main_color;
		padding: 1.25rem;
		padding-top: 2rem;
		.pagination {
			margin-bottom: 0;
			.count {
				display: inline-block;
				border-right: 1px solid #e5e5e5;
				padding: 0.5rem 0.75rem 0.5rem 0;
				font-size: 0.9rem;
				color: #787878;
				line-height: 1.25;
			}
		}
	}
	.controller {
		margin-bottom: 20px;
		.btn.btn-sm { margin: 0; }
		position: relative;
		.form-inline {
			margin-top: 0;
			position: absolute;
			right: 0;
			top: 0;
		}
	}
}