<header class="header" id="pagetop">
    <div class="container-lg">
		<div class="header-wrap">
            <div class="header-function">
				<!--div class="header-right">
                    <div class="organization">國立成功大學</div>
                    <div class="account">
                        <div class="dropdown">
                            <button class="dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                李曉明
                            </button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">修改密碼</a></li>
                                <li><a class="dropdown-item" href="#">登出</a></li>
                            </ul>
                        </div>
                    </div>
				</div-->
            </div>
			<div class="brands">
                <div class="brands-inner">
                    <div class="logo logo-white">
                        <h1 class="text-hide">教育部補助大學校院推動臺灣優華語計畫申請系統</h1>
                        <img class="h1-logo" src="../assets/logo_white@2x.png">
                    </div>
                    <div class="sub">
                        <span>教育部補助大學校院</span>
                        <span class="fw-bold">推動臺灣優華語計畫申請系統</span>
                    </div>
                </div>
			</div>
		</div>
    </div>
</header>