
@import "base";
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&display=swap');

/* `All
-----------------------------------------------------------------------------*/

.home-wrapper {
	display: flex;
	.main {
		border-right: 1px solid #e9ebed;
		padding: 80px 30px 60px 0;
		width: 730px;
	}
	.aside {
		padding: 160px 0 60px 30px;
		width: 380px;
		text-align: center;
		h6 {
			margin-bottom: 40px;
			color: #848b98;
		}
		.btn {
			padding: 1rem 5rem;
			font-size: 1.5rem;
		}
	}
	.period {
		color: #ee7331;
		span {
			display: block;
			margin-bottom: 40px;
			font-family: 'Roboto Mono', monospace;
			font-weight: 700;
			font-size: 1.5rem;
			&:first-child {
				position: relative;
                &:after {
                    content: "\f103";
					margin-left: -5px;
					font: normal normal normal 16px/1 FontAwesome;
					color: #ddd;
                    position: absolute;
                    left: 50%;
                    bottom: -28px;
                }
			}
		}
	}
}

.section-title {
	margin-bottom: 50px;
	color: $main_color;
	position: relative;
	&:after {
		content: "";
		background: $main_color;
		width: 3rem;
		height: 1px;
		position: absolute;
		left: 0;
		bottom: -20px;
	}
}

.aside-title {
	margin-bottom: 4rem;
	font-size: 1.375rem;
	font-weight: 700;
	color: #000;
	text-transform: uppercase;
	position: relative;
	&:after {
		content: "";
		background: #000;
		margin-left: -1rem;
		width: 2rem;
		height: 1px;
		position: absolute;
		left: 50%;
		bottom: -2rem;
	}
}

.upload-wrapper {
	margin: 0 auto;
	padding: 140px 0 100px;
	width: 480px;
	text-align: center;
	.upload-title {
		display: inline-block;
		margin-bottom: 80px;
		font-size: 1.5rem;
		color: $main_color;
		text-transform: uppercase;
		position: relative;
        &:after {
            content: "";
            background: $main_color;
			margin-left: -35%;
            width: 70%;
            height: 1px;
            position: absolute;
            left: 50%;
            bottom: -40px;
        }
	}
	.brief {
		margin-bottom: 60px;
		color: #6b757b;
		strong { color: #000; }
	}
	.md-form { margin-bottom: 60px; }
}

.btn-gmba {
	background: $main_color !important;
	font-size: 1.5rem;
}

.eq-wrapper,
.questionnaire-wrapper {
	padding: 80px 0 60px;
}

.eq-intro {
	border-bottom: 1px dashed #d5d9dc;
	margin-bottom: 46px;
	padding-bottom: 30px;
	color: #6b757b;
}

.eq-content,
.questionnaire-content {
	margin-bottom: 30px;
}

.required {
    padding-right: 0.25rem;
    font-weight: bold;
    color: red;
}

.dualnationality-group {
	border-radius: .25rem;
	background: #f3f6f9;
	margin-bottom: 1rem;
	padding: 1rem;
	display: none;
	.btn {
		box-shadow: none;
		margin: 0;
	}
}

.form-group { margin-bottom: 1.5rem; }

.form-check label { font-weight: 400; }

.font-weight-bolder { font-weight: 500; }

.other-wrap { margin-top: .5rem; }

.category-block {
	margin-top: 3rem;
	.block-title {
		margin-bottom: 1.5rem;
		font-size: 1.125rem;
		font-weight: 300;
		position: relative;
		span {
			display: inline-block;
			background: $secondary_color;
			border-radius: 5rem;
			padding: .5rem 1rem;
			color: #fff;
			position: relative;
			z-index: 1;
		}
		&:after {
			content: "";
            background: #afb5bd;
            height: 1px;
            position: absolute;
            left: 0;
			right: 0;
            top: 50%;
			z-index: 0;
		}
	}
}

.definite-wrap {
	border-radius: .25rem;
	background: #f3f6f9;
	margin-top: 1rem;
	padding: 1.5rem 1.5rem 0;
	display: none;
	.form-group { margin-bottom: 1rem; }
}


/* `Responsive
-----------------------------------------------------------------------------*/

@media (max-width: 1199px) {
    .home-wrapper {
		.main {
			padding: 60px 30px 40px 0;
			width: 65%;
		}
		.aside {
			padding: 140px 0 40px 30px;
			width: 35%;
		}
	}
}

@media (max-width: 991px) {
    .home-wrapper {
		.main {
			width: 55%;
		}
		.aside {
			width: 45%;
		}
	}
	.eq-wrapper,
	.questionnaire-wrapper { padding: 60px 0 40px; }
}

@media (max-width: 768px) {
	.home-wrapper {
		display: block;
		.main, .aside {
			border-right: none;
			padding-left: 0;
			padding-right: 0;
			width: 100%;
		}
		.aside {
			border-top: 1px solid #e9ebed;
			padding-top: 40px;
		}
	}
	.upload-wrapper { padding: 80px 0 60px; }
}

@media (max-width: 575px) {
	.home-wrapper {
		.main {
			padding: 40px 0 30px;
		}
		.aside {
			border-top: 1px solid #e9ebed;
			padding-top: 40px;
		}
	}
	.upload-wrapper { width: 100%; }
	.eq-wrapper,
	.questionnaire-wrapper { padding: 40px 0 30px; }
	.section-title { font-size: 1.5rem; }
	.category-block {
		.block-title { font-size: 1.0625rem; }
	}
}

@media (max-width: 480px) {
	.category-block {
		.block-title { font-size: 1rem; }
	}
}














