<!-- template: 首頁 (未登入) -->

<div class="container-lg">
	<div class="index-content">
	    <main class="main">
			<div class="text-content">
			    <p><%= lorem_paragraphs(3) %></p>
				<p><%= lorem_paragraphs(3) %></p>
				<p><%= lorem_paragraphs(3) %></p>
			</div>
		</main>
		<aside class="aside">
            <div class="section-title">
                <h4>登入</h4>
            </div>
            <a href="#" class="btn btn-primary btn-lg btn-block">SSO 登入</a>
		</aside>
	</div>
</div>



<% content_for :js do %>

<% end %>

