<!-- template: 簽到退 -->

<div class="container-lg">
    <div class="roll_call-wrapper">
        <div>
            <div class="h4 mb-4">請掃描此 QRCODE 進行登入點名</div>
            <div class="qrcode-wrap">
                <img class="qrcode" src="../assets/fake/qrcode.png">
            </div>
            <div class="mt-3"><a href="#">https://aee.ndhu.edu.tw/</a></div>
        </div>
    </div>
</div>



<% content_for :js do %>

<% end %>

