<!-- kktix-page: Event demo -->

<main class="main">
    <div class="page-header">
        <h2>Demo</h2>
        <p>Bootstrap & MDBootstrap style</p>
    </div>
    <div class="row">
        <div class="col-12">
			<div class="col-block">
                <div class="block-content">123</div>
			</div>
        </div>
    </div>
</div>

<% content_for :js do %>
<script src="/javascripts/jquery.dataTables.js"></script>
<script src="/javascripts/dataTables-settings.js"></script>
<script src="/javascripts/dataTable-initialisation-with-select2.js"></script>
<script src="/javascripts/select2.js"></script>

<% end %>