<!-- template: 抽籤作業 - 統計人數 -->

<div class="container-lg">
    
    <div class="content-head">
        <h1>
            臺中市公設民營東區大智慧國小托嬰中心
            <span>抽籤作業</span>
        </h1>
    </div>
    
    <div class="content-body">
        <ul class="menu-item menu-date">
            <li>
                <span class="label">總報名人數</span>
                <span class="output">10 人</span>
            </li>
            <li>
                <span class="label">資格審核通過人數</span>
                <span class="output">10 人</span>
            </li>
            <li>
                <span class="label">可抽籤名額</span>
                <span class="output">
                    5 人
                    <span class="output-help">含提供公托場地回饋名額 1 人</span>
                </span>
            </li>
        </ul>
        
        <h4 class="fw-bold text-center mb-4">各身分別人數統計</h4>
        
        <ul class="menu-item menu-date">
            <li>
                <span class="label">A 提供公托場地單位之回饋</span>
                <span class="output">2 人</span>
            </li>
            <li>
                <span class="label">B 弱勢家庭</span>
                <span class="output">1 人</span>
            </li>
            <li>
                <span class="label">C 發展遲緩或持有身心障礙證明之嬰幼兒</span>
                <span class="output">
                    1 人
                </span>
            </li>
            <li>
                <span class="label">一般身分</span>
                <span class="output">
                    6 人
                </span>
            </li>
        </ul>
        
        <button type="button" class="btn btn-xl btn-primary btn-start">開始抽籤</button>
    </div>
    
</div>



<% content_for :js do %>

<% end %>

