<!-- template: 抽籤作業 - 各身分別抽籤 -->

<div class="container-lg">
    
    <div class="content-head">
        <h1>
            臺中市公設民營東區大智慧國小托嬰中心
            <span>抽籤作業</span>
        </h1>
    </div>
    
    <div class="content-body">
        <h4 class="fw-bold text-center mb-4">A 提供公托場地單位之回饋</h4>
        <ul class="menu-item menu-date">
            <li>
                <span class="label">可抽籤名額</span>
                <span class="output">1 人</span>
            </li>
            <li>
                <span class="label">抽籤人數</span>
                <span class="output">99999 人</span>
            </li>
        </ul>
        
        <div class="submit-controller">
            <button type="button" class="btn btn-xl btn-primary btn-start">開始抽籤</button>
        </div>
        
        <div class="result-wrapper">
            <ul class="menu-item menu-result">
                <% (1..6).map do |i| %>
                <li>
                    <span class="label">113001000<%= i %></span>
                    <span class="output">錄取</span>
                </li>
                <% end %>
                <li>
                    <span class="label">1130010007</span>
                    <span class="output">未錄取，併入一般身分</span>
                </li>
            </ul>
            
            <button type="button" class="btn btn-xl btn-dark">下一個身分別</button>
        </div>
    </div>
    
</div>



<% content_for :js do %>

<script>
$(document).ready(function() {
    $('.btn-start').click(function() {
        setTimeout(function() {
            $('.result-wrapper').addClass('show');
            $('.submit-controller').addClass('hide');
        }, 500); // 延遲 0.5 秒
    });
});
</script>

<% end %>

