<!-- tigp: 推薦信 - 同意推薦  -->

<div class="container">
	<div class="program-title">
	    <h3>Taiwan International Graduate Program On-line Application, 2020</h3>
	</div>
	<div class="recommendation-container">
        <h5>Do you agree to recommend this applicant?</h5>
		<div class="information-wrapper awall">
            <div class="row">
                <div class="col-4">
                    <div class="form-group">
                        <label>Name</label>
                        <div class="output">Scarlett Johansson</div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <label>Course</label>
                        <div class="output">Chemical Biology and Molecular Biophysics</div>
                    </div>
                </div>
            </div>
			<div class="row">
                <div class="col-4">
                    <div class="form-group">
                        <label>Official E-mail Address</label>
                        <div class="output">scarlettjohansson@gmail.com</div>
                    </div>
                </div>
				<div class="col-8">
                    <div class="form-group">
                        <label>Telephone Number</label>
                        <div class="output">Mobile +886 0928888888</div>
                    </div>
                </div>
            </div>
		</div>
        <div>
            <a href="recommend.html" class="btn btn-default btn-rounded mr-2">Yes, i am agree</a>
            <a href="negative.html" class="btn btn-link">No, i am disagree</a>
        </div>
	</div>
</div>

