<!-- tigp: 推薦信 - 資料核對  -->

<div class="container">
	<div class="program-title">
	    <h3>Taiwan International Graduate Program On-line Application, 2020</h3>
	</div>
	<div class="recommendation-container">
        <h4>Dear Mr. Ryan Reynolds</h4>
		<p>Please confirm the following information is correct</p>
		<div class="information-wrapper awall">
            <div class="row">
                <div class="col-4">
                    <div class="form-group">
                        <label>First Name</label>
                        <div class="output">Ryan</div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <label>Last Name</label>
                        <div class="output">Reynolds</div>
                    </div>
                </div>
            </div>
			<div class="row">
                <div class="col-4">
                    <div class="form-group">
                        <label>Official E-mail Address</label>
                        <div class="output">ryanreynolds@gmail.com</div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <label>Official Website of Referee</label>
                        <div class="output">https://www.instagram.com/vancityreynolds/</div>
                    </div>
                </div>
				<div class="col-4">
                    <div class="form-group">
                        <label>Telephone Number</label>
                        <div class="output">Mobile +886 0928888888</div>
                    </div>
                </div>
            </div>
			<div class="row">
                <div class="col-4">
                    <div class="form-group">
                        <label>Title/ Position</label>
                        <div class="output">Actor, film producer, entrepreneur</div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <label>Institute/ Company</label>
                        <div class="output">Aviation American Gin</div>
                    </div>
                </div>
				<div class="col-4">
                    <div class="form-group">
                        <label>Relationship to You</label>
                        <div class="output">Ex-husband</div>
                    </div>
                </div>
            </div>
		</div>
        <div class="form-group">
            <label>Are you the referrer himself?</label>
			<div>
			    <a href="confirm.html" class="btn btn-default btn-rounded mr-2">Yes, iam</a>
				<a href="negative.html" class="btn btn-link">No, i am not</a>
			</div>
        </div>
	</div>
</div>

