<!-- tigp: 推薦信 - 否定  -->

<div class="container">
	<div class="program-title">
	    <h3>Taiwan International Graduate Program On-line Application, 2020</h3>
	</div>
	<div class="recommendation-container">
		<div class="brief-wrap">
            <h3>Thanks for your response</h3>
            <p>Sorry for the result, have a nice day.</p>
		</div>
	</div>
</div>

