<!-- tigp: 推薦信 - 填寫推薦信  -->

<div class="container">
	<div class="program-title">
	    <h3>Taiwan International Graduate Program On-line Application, 2020</h3>
	</div>
	<div class="recommendation-container">
		<div class="block-title">
            <h4 class="h-title">Recommendation</h4>
        </div>
		<form>
			<div class="score-wrapper">
                <div class="form-group">
                    <label for="knownTextarea">How long and in what capacity have you known the applicant?</label>
                    <textarea class="form-control rounded-0" id="knownTextarea" rows="3"></textarea>
                </div>
                <div class="form-group">
                    <label for="knownTextarea">Please complete the chart below and rank the applicant relative to other prospective students you have known by clicking on the appropriate box</label>
                    <table class="table table-bordered rank-table">
                        <thead>
                            <tr>
                                <th rowspan="2">Background for proposed field of study</th>
                                <th colspan="3">Outstanding or above</th>
                                <th>Good</th>
                                <th>Average</th>
                                <th>Below average</th>
                                <th rowspan="2">Not able to judge</th>
                            </tr>
                            <tr>
                                <th>&lt; 1%</th>
                                <th>&lt; 5%</th>
                                <th>&lt; 10%</th>
                                <th>10~25%</th>
                                <th>25~40%</th>
                                <th>&gt; 40%</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Creativity/ Initiative</td>
                                <td><input type="radio" class="default-radio" name="defaultRadios1"></td>
                                <td><input type="radio" class="default-radio" name="defaultRadios1"></td>
                                <td><input type="radio" class="default-radio" name="defaultRadios1"></td>
                                <td><input type="radio" class="default-radio" name="defaultRadios1"></td>
                                <td><input type="radio" class="default-radio" name="defaultRadios1"></td>
                                <td><input type="radio" class="default-radio" name="defaultRadios1"></td>
                                <td><input type="radio" class="default-radio" name="defaultRadios1"></td>
                            </tr>
                            <tr>
                                <td>Independence/ Maturity</td>
                                <td><input type="radio" class="default-radio" name="defaultRadios2"></td>
                                <td><input type="radio" class="default-radio" name="defaultRadios2"></td>
                                <td><input type="radio" class="default-radio" name="defaultRadios2"></td>
                                <td><input type="radio" class="default-radio" name="defaultRadios2"></td>
                                <td><input type="radio" class="default-radio" name="defaultRadios2"></td>
                                <td><input type="radio" class="default-radio" name="defaultRadios2"></td>
                                <td><input type="radio" class="default-radio" name="defaultRadios2"></td>
                            </tr>
                            <tr>
                                <td>Capacity for analytical thinking</td>
                                <td><input type="radio" class="default-radio" name="defaultRadios3"></td>
                                <td><input type="radio" class="default-radio" name="defaultRadios3"></td>
                                <td><input type="radio" class="default-radio" name="defaultRadios3"></td>
                                <td><input type="radio" class="default-radio" name="defaultRadios3"></td>
                                <td><input type="radio" class="default-radio" name="defaultRadios3"></td>
                                <td><input type="radio" class="default-radio" name="defaultRadios3"></td>
                                <td><input type="radio" class="default-radio" name="defaultRadios3"></td>
                            </tr>
                            <tr>
                                <td>Research Skills</td>
                                <td><input type="radio" class="default-radio" name="defaultRadios4"></td>
                                <td><input type="radio" class="default-radio" name="defaultRadios4"></td>
                                <td><input type="radio" class="default-radio" name="defaultRadios4"></td>
                                <td><input type="radio" class="default-radio" name="defaultRadios4"></td>
                                <td><input type="radio" class="default-radio" name="defaultRadios4"></td>
                                <td><input type="radio" class="default-radio" name="defaultRadios4"></td>
                                <td><input type="radio" class="default-radio" name="defaultRadios4"></td>
                            </tr>
                            <tr>
                                <td>Ability in presentation</td>
                                <td><input type="radio" class="default-radio" name="defaultRadios5"></td>
                                <td><input type="radio" class="default-radio" name="defaultRadios5"></td>
                                <td><input type="radio" class="default-radio" name="defaultRadios5"></td>
                                <td><input type="radio" class="default-radio" name="defaultRadios5"></td>
                                <td><input type="radio" class="default-radio" name="defaultRadios5"></td>
                                <td><input type="radio" class="default-radio" name="defaultRadios5"></td>
                                <td><input type="radio" class="default-radio" name="defaultRadios5"></td>
                            </tr>
                            <tr>
                                <td>Ability in writing</td>
                                <td><input type="radio" class="default-radio" name="defaultRadios6"></td>
                                <td><input type="radio" class="default-radio" name="defaultRadios6"></td>
                                <td><input type="radio" class="default-radio" name="defaultRadios6"></td>
                                <td><input type="radio" class="default-radio" name="defaultRadios6"></td>
                                <td><input type="radio" class="default-radio" name="defaultRadios6"></td>
                                <td><input type="radio" class="default-radio" name="defaultRadios6"></td>
                                <td><input type="radio" class="default-radio" name="defaultRadios6"></td>
                            </tr>
                            <tr>
                                <td>Quality of previous work</td>
                                <td><input type="radio" class="default-radio" name="defaultRadios7"></td>
                                <td><input type="radio" class="default-radio" name="defaultRadios7"></td>
                                <td><input type="radio" class="default-radio" name="defaultRadios7"></td>
                                <td><input type="radio" class="default-radio" name="defaultRadios7"></td>
                                <td><input type="radio" class="default-radio" name="defaultRadios7"></td>
                                <td><input type="radio" class="default-radio" name="defaultRadios7"></td>
                                <td><input type="radio" class="default-radio" name="defaultRadios7"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
				<div class="form-group">
                    <label for="knownTextarea">If the applicants' native language is not English, please evaluate his/ her English proficiency by clicking on the following boxes</label>
                    <table class="table table-bordered rank-table">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Excellent</th>
								<th>Fluent</th>
                                <th>Fair</th>
								<th>Poor</th>
                                <th>Not able to judge</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Speaking</td>
                                <td><input type="radio" class="default-radio" name="defaultRadios8"></td>
                                <td><input type="radio" class="default-radio" name="defaultRadios8"></td>
                                <td><input type="radio" class="default-radio" name="defaultRadios8"></td>
                                <td><input type="radio" class="default-radio" name="defaultRadios8"></td>
                                <td><input type="radio" class="default-radio" name="defaultRadios8"></td>
                            </tr>
							<tr>
                                <td>Reading</td>
                                <td><input type="radio" class="default-radio" name="defaultRadios9"></td>
                                <td><input type="radio" class="default-radio" name="defaultRadios9"></td>
                                <td><input type="radio" class="default-radio" name="defaultRadios9"></td>
                                <td><input type="radio" class="default-radio" name="defaultRadios9"></td>
                                <td><input type="radio" class="default-radio" name="defaultRadios9"></td>
                            </tr>
							<tr>
                                <td>Writing</td>
                                <td><input type="radio" class="default-radio" name="defaultRadios10"></td>
                                <td><input type="radio" class="default-radio" name="defaultRadios10"></td>
                                <td><input type="radio" class="default-radio" name="defaultRadios10"></td>
                                <td><input type="radio" class="default-radio" name="defaultRadios10"></td>
                                <td><input type="radio" class="default-radio" name="defaultRadios10"></td>
                            </tr>
							<tr>
                                <td>Listening</td>
                                <td><input type="radio" class="default-radio" name="defaultRadios11"></td>
                                <td><input type="radio" class="default-radio" name="defaultRadios11"></td>
                                <td><input type="radio" class="default-radio" name="defaultRadios11"></td>
                                <td><input type="radio" class="default-radio" name="defaultRadios11"></td>
                                <td><input type="radio" class="default-radio" name="defaultRadios11"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
				<div class="form-group">
                    <label for="knownTextarea">Comment</label>
                    <textarea class="form-control rounded-0" id="knownTextarea" rows="3"></textarea>
                </div>
				<div class="form-group">
                    <label for="knownTextarea">File upload</label>
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="customFile" lang="en">
                        <label class="custom-file-label" for="customFile">Choose file</label>
						<small class="form-text text-muted">If you have more than one file, please merge them into one file and upload the file under 50MB.</small>
                    </div>
                </div>
			</div>
            <div class="form-action no-border mt-5">
                <a href="/" class="btn btn-default mr-2">Preview</a>
                <a href="application_home.html" class="btn btn-link">Previous Step</a>
            </div>
		</form>
	</div>
</div>

