<!-- oia-nkust: 短期 - 同意具結書  -->

<div class="container">
	<h6 class="mb-4"><a href="#"><i class="fa fa-angle-left"></i> 2018 第七屆高科暑期陸生實訓營</a></h6>
	<h4 class="mb-4">同意具結書</h4>
	<div class="mb-5">
		<p><%= lorem_sentences(4) %></p>
		<p><%= lorem_sentences(6) %></p>
		<p><%= lorem_sentences(4) %></p>
		<p><%= lorem_sentences(4) %></p>
	</div>
	<hr />
	<div class="text-center mt-5">
	    <a class="btn btn-primary btn-lg" href="#">同意</a>
	</div>
</div>