<!-- oia-nkust: 短期 - 首頁  -->

<div class="container">
	<ul class="wrap-list camp-list menu-item">
		<% 6.times do %>
		<li>
			<a href="#">
				<h5 class="font-weight-bold">2018 第七屆高科暑期陸生實訓營</h5>
				<h6>2018 KUAS Chinese students summer camp</h6>
			</a>
		</li>
		<% end %>
	</ul>
</div>