<!-- TPEAA: Login -->

<div class="login">
    <h1 class="logo text-center">校務系統</h1>
    <div class="card">
        <div class="card-body">
            <form>
                <p class="h4 text-center py-4">登入</p>
				<div class="md-form">
					<input type="email" id="materialLoginFormEmail" class="form-control">
					<label for="materialLoginFormEmail">帳號</label>
				</div>

				<!-- Password -->
				<div class="md-form">
					<input type="password" id="materialLoginFormPassword" class="form-control">
					<label for="materialLoginFormPassword">密碼</label>
				</div>
                <div class="text-center py-4 mt-3">
					<button class="btn btn-outline-primary btn-rounded btn-block my-4 waves-effect z-depth-0" type="submit">登入</button>
                </div>
            </form>
        </div>
    </div>
</div>