<!-- TPEAA: Login -->

<div class="login">
    <h1 class="logo"><img alt="" src="../assets/logo_w.png"> 臺灣警察專科學校</h1>
    <div class="card">
        <div class="card-body">
            <form>
                <p class="h4 text-center py-4">教師官入口網</p>
				<!--p class="h4 text-center py-4">學生入口網</p-->
				<div class="md-form">
					<i class="fa fa-user prefix grey-text"></i>
					<input type="text" id="orangeForm-name" class="form-control">
					<label for="orangeForm-name">帳號</label>
				</div>
				<div class="md-form">
					<i class="fa fa-lock prefix grey-text"></i>
					<input type="password" id="orangeForm-pass" class="form-control">
					<label for="orangeForm-pass">密碼</label>
				</div>
                <div class="text-center py-4 mt-3">
					<button class="btn btn-outline-primary btn-rounded btn-block my-4 waves-effect z-depth-0" type="submit">登入</button>
                </div>
            </form>
        </div>
    </div>
</div>