<div class="modal fade" id="evaluationModal" tabindex="-1" role="dialog" aria-labelledby="evaluationModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="evaluationModalLabel">時數分析</h5>
                <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="evaluation-tabs">
                    <ul class="nav nav-tabs" id="evaluationTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="staff1-tab" data-mdb-toggle="tab" href="#staff1" role="tab" aria-controls="staff1" aria-selected="true">
                                <div class="staff-display mb-1">
                                    <div class="avatar">
                                        <img alt="Pic" src="https://avatarfiles.alphacoders.com/231/231252.jpg">
                                    </div>
                                    <div class="ps-2">
                                        <span>史佳麗</span>
                                        <small class="d-block grey-text">專案部經理</small>
                                    </div>
                                    <div class="number">24D</div>
                                </div>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="staff2-tab" data-mdb-toggle="tab" href="#staff2" role="tab" aria-controls="staff2" aria-selected="false">
                                <div class="staff-display mb-1">
                                    <div class="avatar">
                                        <img alt="Pic" src="https://i2.wp.com/short-biography.com/wp-content/uploads/blake-lively/Blake-Ellender-Brown.jpg">
                                    </div>
                                    <div class="ps-2">
                                        <span>布蕾克</span>
                                        <small class="d-block grey-text">Project Manager</small>
                                    </div>
                                    <div class="number">20D</div>
                                </div>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="staff3-tab" data-mdb-toggle="tab" href="#staff3" role="tab" aria-controls="staff3" aria-selected="false">
                                <div class="staff-display mb-1">
                                    <div class="avatar">
                                        <img alt="Pic" src="https://pbs.twimg.com/profile_images/1665596867/Ryan-Reynolds_400x400.jpg">
                                    </div>
                                    <div class="ps-2">
                                        <span>Ryan Reynolds</span>
                                        <small class="d-block grey-text">Actor, Producer</small>
                                    </div>
                                    <div class="number">20D</div>
                                </div>
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content" id="evaluationTabContent">
                        <div class="tab-pane fade show active" id="staff1" role="tabpanel" aria-labelledby="staff1-tab">
                            <table class="table table-bordered table-vertical-middle table-sm text-nowrap">
                                <thead>
                                    <tr>
                                        <th>職務</th>
                                        <th class="text-center">預估</th>
                                        <th class="text-center">樂觀</th>
                                        <th class="text-center">悲觀</th>
                                        <th>說明</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>專案經理</td>
                                        <td class="text-center">8</td>
                                        <td class="text-center">1</td>
                                        <td class="text-center">10</td>
                                        <td class="text-break"><%= zh_lorem_sentence %></td>
                                    </tr>
                                    <tr>
                                        <td>系統分析師</td>
                                        <td class="text-center">16</td>
                                        <td class="text-center">4</td>
                                        <td class="text-center">24</td>
                                        <td class="text-break"><%= lorem_sentences(2) %></td>
                                    </tr>
                                    <tr>
                                        <td>專案負責</td>
                                        <td class="text-center">10</td>
                                        <td class="text-center">2</td>
                                        <td class="text-center">14</td>
                                        <td class="text-break"></td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td>合計</td>
                                        <td class="text-center">34</td>
                                        <td class="text-center">7</td>
                                        <td class="text-center">48</td>
                                        <td></td>
                                    </tr>
                                </tfoot>
                            </table>
							<p class="mb-0" style="color:#9c27b0;">版本 3</p>
                        </div>

                        <div class="tab-pane fade" id="staff2" role="tabpanel" aria-labelledby="staff2-tab">
                            Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo
                            booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar helvetica VHS salvia yr, vero magna velit sapiente
                            labore stumptown. Vegan fanny pack odio cillum wes anderson 8-bit, sustainable jean shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester stumptown, tumblr butcher vero sint qui sapiente accusamus
                            tattooed echo park.
                        </div>

                        <div class="tab-pane fade" id="staff3" role="tabpanel" aria-labelledby="staff3-tab">
                            Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork tattooed craft beer, iphone skateboard locavore carles
                            etsy salvia banksy hoodie helvetica. DIY synth PBR banksy irony. Leggings gentrify squid 8-bit cred pitchfork. Williamsburg banh mi whatever gluten-free, carles pitchfork biodiesel fixie etsy retro mlkshk vice blog. Scenester cred
                            you probably haven't heard of them, vinyl craft beer blog stumptown. Pitchfork sustainable tofu synth chambray yr.
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer justify-content-between">
				<a href="#" class="btn btn-md btn-angel">開啟評估表</a>
                <button type="button" class="btn btn-md btn-dark" data-dismiss="modal">關閉</button>
            </div>
        </div>
    </div>
</div>

<% content_for :js do %>

<% end %>