<!-- admin-page: Editor - Frontend -->
<% content_for :page_styles do %>
    <link href="../stylesheets/frontend-editor/formEditor.css" rel="preload" as="style" />
    <link href="../javascripts/frontend-editor/chunk-vendors.js" rel="preload" as="script" />
    <link href="../javascripts/frontend-editor/formEditor.js" rel="preload" as="script" />
    <link href="../stylesheets/frontend-editor/formEditor.css" rel="stylesheet" />
<% end %>
<%= render :partial => "/partials/admin_breadcrumb" %>

<div id="form_editor"></div>

<% content_for :js do %>
    <script src="../javascripts/frontend-editor/chunk-vendors.js"></script>
    <script src="../javascripts/frontend-editor/formEditor.js"></script>

    <script>
      $(".sidebar-scroll").slimscroll({
        height: "100%",
      });
    </script>

<% end %>