<!-- template: 選擇申請課程 -->

<div class="container-lg">
	<div class="page-content">
        <main class="main">
            <div class="page-title">
                <h3>112-2 開放申請課程</h3>
            </div>
			<div class="course-list">
			    <div class="course-card">
				    <div class="card-hd">
					    <h4>基礎專業與通識課程</h4>
					</div>
					<div class="card-bd">
					    <p>【基礎專業課程】：基礎專業與通識課程（微積分、普通生物學、普通物理學等）</p>
						<p>【通識課程】：分為「A1文學與藝術」、「A2歷史思維」、「A3世界文明」、「A4哲學與道德思考」、「A5公民意識與社會分析」、「A6量化分析與數學素養」、「A7物質科學」、「A8生命科學」八大領域。</p>
						<p>說明：</p>
						<ol>
						    <li>補助對象限編制內專任教師。</li>
							<li>語言訓練、專題研究、專題討論、論文、實習等課程，不適用本補助。系（所、學位學程）因推動英語授課已獲得其他補助者，不得申請本補助。但經國際事務處認定得補助之課程，不在此限。</li>
							<li>其餘規範請詳閱國際處公告 http://oia.ntu.edu.tw/ntu-staff/EN/EnglishProgram</li>
							<li>預計於10月中前以email通知教師最終課程補助結果。</li>
						</ol>
						<div class="card-action"><a href="#" class="btn btn-lg btn-primary">提出申請</a></div>
					</div>
				</div>
				<div class="course-card">
				    <div class="card-hd">
					    <h4>模組課程</h4>
					</div>
					<div class="card-bd">
					    <p>【模組】：由碩博班（含學位學程）針對特定主題或領域，整合至少三門以上之模組課程，且其中至少由兩位以上不同老師開課。</p>
						<p>說明：</p>
						<ol>
						    <li>補助對象限編制內專任教師。</li>
							<li>語言訓練、專題研究、專題討論、論文、實習等課程，不適用本補助。系（所、學位學程）因推動英語授課已獲得其他補助者，不得申請本補助。但經國際事務處認定得補助之課程，不在此限。</li>
							<li>其餘規範請詳閱國際處公告 http://oia.ntu.edu.tw/ntu-staff/EN/EnglishProgram</li>
							<li>預計於10月中前以email通知老師最終課程補助結果。</li>
						</ol>
						<div class="card-action"><a href="#" class="btn btn-lg btn-primary">提出申請</a></div>
					</div>
				</div>
				<div class="course-card">
				    <div class="card-hd">
					    <h4>領域專長課程</h4>
					</div>
					<div class="card-bd">
					    <p>【領域專長】：依「臺灣大學領域專長實施要點」，經教務處核定之領域專長課程：https://specom.aca.ntu.edu.tw/</p>
						<p>說明：</p>
						<ol>
						    <li>補助對象限編制內專任教師。</li>
							<li>語言訓練、專題研究、專題討論、論文、實習等課程，不適用本補助。系（所、學位學程）因推動英語授課已獲得其他補助者，不得申請本補助。但經國際事務處認定得補助之課程，不在此限。</li>
							<li>其餘規範請詳閱國際處公告 https://oia.ntu.edu.tw/ntu-staff/EN/EnglishProgram</li>
							<li>預計於10月中前以email通知教師最終課程補助結果。</li>
						</ol>
						<div class="card-action"><a href="#" class="btn btn-lg btn-primary">提出申請</a></div>
					</div>
				</div>
				<div class="course-card">
				    <div class="card-hd">
					    <h4>系訂必修</h4>
					</div>
					<div class="card-bd">
					    <p>【系訂必修】：系所訂定之必修課程（不含共同必修或通識）</p>
						<p>說明：</p>
						<ol>
						    <li>補助對象限編制內專任教師。</li>
							<li>語言訓練、專題研究、專題討論、論文、實習等課程，不適用本補助。系（所、學位學程）因推動英語授課已獲得其他補助者，不得申請本補助。但經國際事務處認定得補助之課程，不在此限。</li>
							<li>其餘規範請詳閱國際處公告 https://oia.ntu.edu.tw/ntu-staff/EN/EnglishProgram</li>
							<li>預計於10月中前以email通知教師最終課程補助結果。</li>
						</ol>
						<div class="card-action"><a href="#" class="btn btn-lg btn-primary">提出申請</a></div>
					</div>
				</div>
			</div>
        </main>
	</div>
</div>



<% content_for :js do %>

<% end %>

