<!-- template: 申請紀錄 -->

<div class="container-lg">
	<div class="page-content">
        <main class="main">
            <div class="page-title">
                <h3>申請紀錄</h3>
            </div>
			<p>最新進度 : 學院審查完畢</p>
            <button type="button" class="btn btn-outline-third" data-bs-toggle="modal" data-bs-target="#reviewProcessModal">審查歷程</button>
			<hr class="hr-lg">
			<a href="#" class="btn btn-primary">檢視申請表</a>
        </main>
	</div>
</div>



<% content_for :js do %>

<% end %>

