<!-- TCU-AE: 申請人 - 首頁  -->

<div class="container">
    <div class="row">
	    <div class="col-8">
            <div class="col-block">
                <h4>公告</h4>
                <small>2018-06-12</small>
                <p><%= lorem_sentences 5 %></p>
                <p><%= lorem_sentences 10 %></p>
                <p><%= lorem_sentences 10 %></p>
                <p><%= lorem_sentences 2 %></p>
            </div>
		</div>
		<div class="col-4">
            <form>
                <p class="h4 text-center mb-4">登入</p>
                <div class="md-form">
                    <i class="fa fa-envelope prefix grey-text"></i>
                    <input type="email" id="materialFormLoginEmailEx" class="form-control">
                    <label for="materialFormLoginEmailEx">email</label>
                </div>
                <div class="md-form">
                    <i class="fa fa-lock prefix grey-text"></i>
                    <input type="password" id="materialFormLoginPasswordEx" class="form-control">
                    <label for="materialFormLoginPasswordEx">password</label>
                </div>
            
                <div class="text-center mt-4">
                    <button class="btn btn-dark-green" type="submit">Login</button>
                </div>
            </form>
		</div>
	</div>
</div>