<!-- TCU-AE: 申請人 - 申請件列表  -->

<div class="container">
    <div class="row">
		<div class="col">
			<div class="col-block">
                <div>
                    <button type="button" class="btn btn-dark-green">建立新案件</button>
                    <div class="d-inline-flex ml-2">
                        <select class="mdb-select colorful-select dropdown-primary">
                            <option value="" disabled selected>過濾條件</option>
                            <option value="1">全部</option>
                            <option value="2">Option 2</option>
                            <option value="3">Option 3</option>
                                                </select>
                    </div>
                </div>
				<table class="table">
                    <thead>
                        <tr>
                            <th></th>
                            <th>狀態</th>
                            <th>流水號</th>
                            <th>單位</th>
                            <th>計畫/課程/實驗名稱</th>
                            <th>申請人</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><button type="button" class="btn btn-xs btn-primary">開啟</button></td>
                            <td>編修中</td>
                            <td>107003</td>
                            <td>分子生物暨人類遺傳系</td>
                            <td>可溶性 P-選擇素對小鼠受損組織的保護機制</td>
                            <td>張新侯</td>
                        </tr>
                        <tr>
                            <td><button type="button" class="btn btn-xs btn-primary">開啟</button></td>
                            <td>審查中</td>
                            <td>107007</td>
                            <td>分子生物暨人類遺傳系</td>
                            <td>可溶性 P-選擇素對小鼠受損組織的保護機制</td>
                            <td>張新侯</td>
                        </tr>
                        <tr>
                            <td><button type="button" class="btn btn-xs btn-primary">開啟</button></td>
                            <td>需補件</td>
                            <td>117007</td>
                            <td>分子生物暨人類遺傳系</td>
                            <td>可溶性 P-選擇素對小鼠受損組織的保護機制</td>
                            <td>張新侯</td>
                        </tr>
                        <tr>
                            <td><button type="button" class="btn btn-xs btn-primary">開啟</button></td>
                            <td>通過</td>
                            <td>117007</td>
                            <td>分子生物暨人類遺傳系</td>
                            <td>可溶性 P-選擇素對小鼠受損組織的保護機制</td>
                            <td>張新侯</td>
                        </tr>
                        <tr>
                            <td><button type="button" class="btn btn-xs btn-primary">開啟</button></td>
                            <td>不通過</td>
                            <td>117007</td>
                            <td>分子生物暨人類遺傳系</td>
                            <td>可溶性 P-選擇素對小鼠受損組織的保護機制</td>
                            <td>張新侯</td>
                        </tr>
                    </tbody>
                </table>
                <h4>變更申請</h4>
                <table class="table">
                    <thead>
                        <tr>
                            <th></th>
                            <th>狀態</th>
                            <th>流水號</th>
                            <th>單位</th>
                            <th>計畫/課程/實驗名稱</th>
                            <th>申請人</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><button type="button" class="btn btn-xs btn-primary">開啟</button></td>
                            <td>編修中</td>
                            <td>107003</td>
                            <td>分子生物暨人類遺傳系</td>
                            <td>可溶性 P-選擇素對小鼠受損組織的保護機制</td>
                            <td>張新侯</td>
                        </tr>
                        <tr>
                            <td><button type="button" class="btn btn-xs btn-primary">開啟</button></td>
                            <td>審查中</td>
                            <td>107007</td>
                            <td>分子生物暨人類遺傳系</td>
                            <td>可溶性 P-選擇素對小鼠受損組織的保護機制</td>
                            <td>張新侯</td>
                        </tr>
                        <tr>
                            <td><button type="button" class="btn btn-xs btn-primary">開啟</button></td>
                            <td>需補件</td>
                            <td>117007</td>
                            <td>分子生物暨人類遺傳系</td>
                            <td>可溶性 P-選擇素對小鼠受損組織的保護機制</td>
                            <td>張新侯</td>
                        </tr>
                        <tr>
                            <td><button type="button" class="btn btn-xs btn-primary">開啟</button></td>
                            <td>通過</td>
                            <td>117007</td>
                            <td>分子生物暨人類遺傳系</td>
                            <td>可溶性 P-選擇素對小鼠受損組織的保護機制</td>
                            <td>張新侯</td>
                        </tr>
                        <tr>
                            <td><button type="button" class="btn btn-xs btn-primary">開啟</button></td>
                            <td>不通過</td>
                            <td>117007</td>
                            <td>分子生物暨人類遺傳系</td>
                            <td>可溶性 P-選擇素對小鼠受損組織的保護機制</td>
                            <td>張新侯</td>
                        </tr>
                    </tbody>
                </table>
			</div>
		</div>
	</div>
</div>

<% content_for :js do %>
    <script>
		$(document).ready(function() {
			$('.mdb-select').material_select();
		});
    </script>
<% end %>