<!-- TCU-AE: 申請人 - 申請表  -->

<div class="container">
    <div class="row">
	    <div class="col-4">
		    <nav class="stepnav">
			    <ul>
				    <li>
					    <a class="item all-pass" href="#">
							<span class="num"><span>1</span></span>
							<span class="question">申請人、單位</span>
							<div class="end">
								<span class="status"><i class="fa fa-check" aria-hidden="true" title="完成"></i></span>
								<span class="result"><i class="fa fa-check" aria-hidden="true" title="通過"></i></span>
							</div>
						</a>
					</li>
					<li>
					    <a class="item" href="#">
							<span class="num"><span>2</span></span>
							<span class="question">計畫/課程/試驗名稱、經費來源、執行期限</span>
							<div class="end">
								<span class="status">退補件</span>
								<span class="result">不通過</span>
							</div>
						</a>
					</li>
					<li class="current">
					    <a class="item all-pass" href="#">
							<span class="num"><span>3</span></span>
							<span class="question">進行動物實驗之相關人員資料</span>
							<div class="end">
								<span class="status"><i class="fa fa-check" aria-hidden="true" title="完成"></i></span>
								<span class="result"><i class="fa fa-check" aria-hidden="true" title="通過"></i></span>
							</div>
						</a>
					</li>
					<li>
					    <a class="item all-pass" href="#">
							<span class="num"><span>4</span></span>
							<span class="question">實驗所需之動物</span>
							<div class="end">
								<span class="status"><i class="fa fa-check" aria-hidden="true" title="完成"></i></span>
								<span class="result"><i class="fa fa-check" aria-hidden="true" title="通過"></i></span>
							</div>
						</a>
					</li>
					<li>
					    <a class="item all-pass" href="#">
							<span class="num"><span>5</span></span>
							<span class="question">動物飼養</span>
							<div class="end">
								<span class="status"><i class="fa fa-check" aria-hidden="true" title="完成"></i></span>
								<span class="result"><i class="fa fa-check" aria-hidden="true" title="通過"></i></span>
							</div>
						</a>
					</li>
					<li>
					    <a class="item all-pass" href="#">
							<span class="num"><span>6</span></span>
							<span class="question">請簡述本研究之目的</span>
							<div class="end">
								<span class="status"><i class="fa fa-check" aria-hidden="true" title="完成"></i></span>
								<span class="result"><i class="fa fa-check" aria-hidden="true" title="通過"></i></span>
							</div>
						</a>
					</li>
					<li>
					    <a class="item all-pass" href="#">
							<span class="num"><span>7</span></span>
							<span class="question">請以動物實驗應用3Rs之替代及減量原則，說明動物實驗試驗設計、實驗動物需求、動物種別及數量之必要性</span>
							<div class="end">
								<span class="status"><i class="fa fa-check" aria-hidden="true" title="完成"></i></span>
								<span class="result"><i class="fa fa-check" aria-hidden="true" title="通過"></i></span>
							</div>
						</a>
					</li>
					<li>
					    <a class="item all-pass" href="#">
							<span class="num"><span>8</span></span>
							<span class="question">請以實驗動物應用3Rs之精緻化原則，說明實驗中所進行之動物實驗內容</span>
							<div class="end">
								<span class="status"><i class="fa fa-check" aria-hidden="true" title="完成"></i></span>
								<span class="result"><i class="fa fa-check" aria-hidden="true" title="通過"></i></span>
							</div>
						</a>
					</li>
					<li>
					    <a class="item all-pass" href="#">
							<span class="num"><span>9</span></span>
							<span class="question">請說明實驗結束後動物之處置方式</span>
							<div class="end">
								<span class="status"><i class="fa fa-check" aria-hidden="true" title="完成"></i></span>
								<span class="result"><i class="fa fa-check" aria-hidden="true" title="通過"></i></span>
							</div>
						</a>
					</li>
					<li>
					    <a class="item all-pass" href="#">
							<span class="num"><span>10</span></span>
							<span class="question">有無進行危險性實驗，如具生物危害 (含感染性物質、致癌藥物、基因重組)、放射線及化學危害(含毒物) 實驗？</span>
							<div class="end">
								<span class="status"><i class="fa fa-check" aria-hidden="true" title="完成"></i></span>
								<span class="result"><i class="fa fa-check" aria-hidden="true" title="通過"></i></span>
							</div>
						</a>
					</li>
					<li>
					    <a class="item all-pass" href="#">
							<span class="num"><span>11</span></span>
							<span class="question">本申請表是否與過去七年內審核通過之實驗內容相似？</span>
							<div class="end">
								<span class="status"><i class="fa fa-check" aria-hidden="true" title="完成"></i></span>
								<span class="result"><i class="fa fa-check" aria-hidden="true" title="通過"></i></span>
							</div>
						</a>
					</li>
				</ul>
			</nav>
			<nav class="stepnav excursus">
			    <ul>
					<li>
					    <a class="item all-pass" href="#">
							<span class="num">附錄一</span>
							<span class="question">實驗動物繁殖表<span class="red-text">(如有繁殖實驗動物時，請填寫本表)</span></span>
							<div class="end">
								<span class="status"><i class="fa fa-check" aria-hidden="true" title="完成"></i></span>
								<span class="result"><i class="fa fa-check" aria-hidden="true" title="通過"></i></span>
							</div>
						</a>
					</li>
					<li>
					    <a class="item" href="#">
							<span class="num">附錄二</span>
							<span class="question">本申請表是否與過去七年內審核通過之實驗內容相似？</span>
							<div class="end">
								<span class="status">退補件</span>
								<span class="result">不通過</span>
							</div>
						</a>
					</li>
				</ul>
			</nav>
		</div>
		<div class="col">
			<div class="list-wrap">
				<form>
					<div class="tabs-wrapper"> 
						<ul class="nav" role="tablist">
							<li class="nav-item">
								<a class="nav-link waves-light active" data-toggle="tab" href="#panel51" role="tab">申請資料</a>
							</li>
							<li class="nav-item">
								<a class="nav-link waves-light" data-toggle="tab" href="#panel52" role="tab">審查意見<span class="badge badge-pill pink">3</span></a>
							</li>
						</ul>
					</div>
					<div class="tab-content card un-shadows">
						<div class="tab-pane fade in show active" id="panel51" role="tabpanel">
							<div class="form-wrap">
								<div class="form-title mb-4">
									<h5>1.1 申請人</h5>
									<small class="pink-text">下列欄位皆必填</small>
								</div>
								<div class="form-group row">
									<label for="text_1" class="col-sm-3 col-form-label">活動名稱</label>
									<div class="col-sm-9">
										<input type="text" class="form-control" id="text_1" placeholder="">
									</div>
								</div>
								<div class="form-group row">
									<label for="text_2" class="col-sm-3 col-form-label">活動名稱(英文)</label>
									<div class="col-sm-9">
										<input type="text" class="form-control" id="text_2" placeholder="">
									</div>
								</div>
								<div class="form-group row">
									<label for="text_3" class="col-sm-3 col-form-label">活動說明</label>
									<div class="col-sm-9">
										<textarea type="text" class="form-control" id="text_3" placeholder=""></textarea>
									</div>
								</div>
								<div class="form-group row">
									<label for="text_4" class="col-sm-3 col-form-label">活動說明(英文)</label>
									<div class="col-sm-9">
										<textarea type="text" class="form-control" id="text_4" placeholder=""></textarea>
									</div>
								</div>
								<div class="form-group row">
									<label for="text_5" class="col-sm-3 col-form-label">是否線上報名</label>
									<div class="col-sm-9 form-inline">
										<div class="form-check">
											<input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1" checked>
											<label class="form-check-label" for="gridRadios1">是</label>
										</div>
										<div class="form-check">
											<input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
											<label class="form-check-label" for="gridRadios2">否</label>
										</div>
									</div>
								</div>
								<div class="form-group row">
									<label for="text_6" class="col-sm-3 col-form-label">開放人數</label>
									<div class="col-sm-4">
										<input type="text" class="form-control" id="text_6" placeholder="">
									</div>
								</div>
								<div class="form-group row">
									<label for="text_7" class="col-sm-3 col-form-label">開始日期</label>
									<div class="col-sm-4">
										<input type="text" class="form-control" id="text_7" placeholder="yyyy/mm/dd hh:mm:ss">
									</div>
								</div>
							</div>

							<div class="form-wrap">
								<div class="form-title mb-4">
									<h5>1.2 單位</h5>
								</div>
								<div class="form-group row">
									<label for="text_21" class="col-sm-3 col-form-label">推播時間</label>
									<div class="col-sm-4">
										<input type="text" class="form-control" id="text_21" placeholder="yyyy/mm/dd hh:mm:ss">
									</div>
								</div>
								<div class="form-group row">
									<label for="text_22" class="col-sm-3 col-form-label">Itmu 發送內容</label>
									<div class="col-sm-9">
										<textarea type="text" class="form-control" id="text_22" placeholder="請輸入70字內的簡訊內容"></textarea>
									</div>
								</div>
							</div>
						</div>
						<div class="tab-pane fade" id="panel52" role="tabpanel">
							<div class="form-title mb-4">
								<h5>審查意見</h5>
							</div>
							<div class="form-group">
								<textarea type="text" class="form-control" placeholder="請輸入回覆改善意見"></textarea>
							</div>
							<div class="form-action text-center">
								<button type="button" class="btn purple-gradient">儲存內容</button>
								<button type="button" class="btn blue-gradient">儲存進行下一題</button>
							</div>
							<hr />
							<p class="red-text">需全部項次完成回覆修改後，重新送件才會送出修改意見</p>
							<p>2018/04/02 審查意見</p>
							<div class="form-group">
								<textarea type="text" class="form-control" placeholder="" rows="8" disabled>中華民國依照憲法是怎樣的涵蓋面，只能說炒作手法規模之大，也有很多人反對，然後是貨物稅，和別的地方有一些差別，我不能講你的數字一定錯，我立刻請財政部協調行庫，而是覺得你反過頭來好像都忘記這些政府為災民做的事情了……絕對不會排入舊濁水溪與濁水溪的河流當中，只有極少數的人超過標準。逆著風，結束在此刻難道就真的抱著遺憾一直到老了難道就真的抱著遺憾一直到老了難道就真的，時間不肯快走，就是，緊緊把昨天在拳心握著夢到你在我家的門口，也決定不愛了偶然聽了起德布西，我在喝粥，聽到你的消息最怕此生</textarea>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

<% content_for :js do %>

<script>
	$(document).ready(function() {
		$('.mdb-select').material_select();
	});
</script>

<% end %>