<!-- admin-page: 客戶 review -->
<%= render :partial => "/partials/admin_breadcrumb" %>

<main class="main">
    <div class="educate-wrapper">
        <ul class="nav nav-tabs educate-tabs">
            <li class="nav-item"><a href="#educate_basic" aria-controls="educate_basic" role="tab" data-toggle="tab">基本資料</a></li>
            <li class="nav-item"><a href="#educate_function" class="active" aria-controls="educate_function" role="tab" data-toggle="tab">功能</a></li>
            <li class="nav-item"><a href="#educate_uml" aria-controls="educate_uml" role="tab" data-toggle="tab">UML</a></li>
            <li class="nav-item"><a href="#educate_rules" aria-controls="educate_rules" role="tab" data-toggle="tab">規則</a></li>
			<li class="nav-item"><a href="#educate_interface" aria-controls="educate_interface" role="tab" data-toggle="tab">介面</a></li>
			<li class="nav-item"><a href="#educate_database" aria-controls="educate_database" role="tab" data-toggle="tab">資料庫</a></li>
			<li class="nav-item"><a href="#educate_test" aria-controls="educate_test" role="tab" data-toggle="tab">測試案例</a></li>
			<li class="nav-item"><a href="#educate_server" aria-controls="educate_server" role="tab" data-toggle="tab">主機</a></li>
			<li class="nav-item"><a href="#educate_component" aria-controls="educate_component" role="tab" data-toggle="tab">使用元件</a></li>
			<li class="nav-item"><a href="#educate_files" aria-controls="educate_files" role="tab" data-toggle="tab">檔案</a></li>
			<li class="nav-item"><a href="#educate_account" aria-controls="educate_account" role="tab" data-toggle="tab">帳號</a></li>
			<li class="nav-item"><a href="#educate_version" aria-controls="educate_version" role="tab" data-toggle="tab">版本</a></li>
        </ul>

        <div class="tab-content educate-content">
            <div role="tabpanel" class="tab-pane" id="educate_basic">
				<%= render :partial => "/partials/educate_basic" %>
            </div>
            <div role="tabpanel" class="tab-pane active" id="educate_function">
				<%= render :partial => "/partials/educate_function" %>
            </div>
            <div role="tabpanel" class="tab-pane" id="educate_uml">
                UML
            </div>
            <div role="tabpanel" class="tab-pane" id="educate_rules">
                rules
            </div>
			<div role="tabpanel" class="tab-pane" id="educate_interface">
                interface
            </div>
			<div role="tabpanel" class="tab-pane" id="educate_database">
                database
            </div>
			<div role="tabpanel" class="tab-pane" id="educate_test">
                test case
            </div>
			<div role="tabpanel" class="tab-pane" id="educate_server">
                server
            </div>
			<div role="tabpanel" class="tab-pane" id="educate_component">
                component
            </div>
			<div role="tabpanel" class="tab-pane" id="educate_files">
                files
            </div>
			<div role="tabpanel" class="tab-pane" id="educate_account">
                account
            </div>
			<div role="tabpanel" class="tab-pane" id="educate_version">
                version
            </div>
        </div>
    </div>
</main>

<% content_for :js do %>
    <script src="../javascripts/select2.min.js"></script>
    <script>
        $(document).ready(function() {
            $('.js-example-basic-single').select2();
        });
    </script>
<% end %>