<!-- admin-page: 專案事項 - 單一事項 -->
<%= render :partial => "/partials/admin_breadcrumb" %>

<main class="main">
    <div class="row">
	    <div class="col-3">
		    <div class="col-block mb-20">
			    <div class="block-content">
				    <div class="row">
					    <div class="col-6">
							<label>填表日</label>
                            <div id="date-picker-example" class="md-form md-outline input-with-post-icon datepicker my-0" inline="true">
                                <input placeholder="Select date" type="text" id="example" class="form-control" />
                                <i class="fa fa-calendar input-prefix"></i>
                            </div>
						</div>
						<div class="col-6">
							<label>客戶*單位部門</label>
						    <div>
                                <select class="browser-default custom-select">
                                    <option selected>Open this select menu</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
							</div>
						</div>
					</div>
                    <div class="form-group mb-1">
                        <textarea class="form-control rounded-0" id="exampleFormControlTextarea2" rows="3" placeholder="描述..."></textarea>
                    </div>
					<div class="text-right">
					    <button type="button" class="btn btn-sm btn-primary mx-0">產生摘要</button>
					</div>
				</div>
			</div>
			<div class="col-block">
			    <div class="block-header has-border">
					<h4 class="d-inline-block">Timeline</h4>
					<div class="pull-right m-0"><button type="button" class="btn btn-sm btn-primary">新增動作</button></div>
				</div>
				<div class="block-content">
				    <div class="matters_timeline">
					    <div class="matters-item">
						    <div class="d-flex">
							    <div class="avatar">
								    <img alt="Pic" src="https://avatarfiles.alphacoders.com/231/231252.jpg">
									<span class="name">Scarlett Johansson</span>
								</div>
								<div class="info pl-3 flex-1">
								    <span class="d-block">
									    <i class="fa fa-clock-o"></i>
										<span class="d-inline-block ml-1">2022/02/15 14:00</span>
									</span>
									<span class="d-block mb-2"><a href="#">國際處/陳小明</a> 電話回報問題</span>
									<div class="links">
									    <a href="#" class="d-inline-block mr-2">
										    <i class="fa fa-commenting-o"></i> 3
										</a>
										<a href="#" class="d-inline-block">
										    <i class="fa fa-paperclip"></i> 2
										</a>
									</div>
								</div>
								<div class="cost">
								    <span class="badge badge-pill badge-light">30 min</span>
								</div>
							</div>
						</div>
						
						<div class="matters-item selected">
						    <div class="d-flex">
							    <div class="avatar">
								    <img alt="Pic" src="https://i2.wp.com/short-biography.com/wp-content/uploads/blake-lively/Blake-Ellender-Brown.jpg">
									<span class="name">布蕾克</span>
								</div>
								<div class="info pl-3 flex-1">
								    <span class="d-block">
									    <i class="fa fa-clock-o"></i>
										<span class="d-inline-block ml-1">2022/02/15 14:00</span>
									</span>
									<span class="d-block mb-2"><a href="#">國際處/Scarlett</a> 電話回報問題</span>
									<div class="links">
									    <a href="#" class="d-inline-block mr-2">
										    <i class="fa fa-commenting-o"></i> 3
										</a>
										<a href="#" class="d-inline-block">
										    <i class="fa fa-paperclip"></i> 2
										</a>
									</div>
								</div>
								<div class="cost">
								    <span class="badge badge-pill badge-light">30 min</span>
								</div>
							</div>
						</div>
						
						<div class="matters-item">
						    <div class="d-flex">
							    <div class="avatar">
								    <img alt="Pic" src="../assets/default.png">
									<span class="name">預設頭像</span>
								</div>
								<div class="info pl-3 flex-1">
								    <span class="d-block">
									    <i class="fa fa-clock-o"></i>
										<span class="d-inline-block ml-1">2022/02/15 14:00</span>
									</span>
									<span class="d-block mb-2">送 Mars 分配工作</span>
									<div class="links">
									    <a href="#" class="d-inline-block mr-2">
										    <i class="fa fa-commenting-o"></i> 3
										</a>
										<a href="#" class="d-inline-block">
										    <i class="fa fa-paperclip"></i> 2
										</a>
									</div>
								</div>
								<div class="cost">
								    <span class="badge badge-pill badge-light">30 min</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-5">
		    <div class="col-block mb-20">
			    <div class="block-header has-border">
					<span class="ticket-done"><i class="fa fa-check-circle"></i></span>
					<div class="d-inline-block">
					    <button type="button" class="btn btn-sm btn-primary m-0">問題</button>
						<button type="button" class="btn btn-sm btn-primary m-0">最高</button>
						<button type="button" class="btn btn-sm btn-primary m-0">分配工作</button>
					</div>
					<div class="pull-right m-0">
					    <a href="#" class="d-inline-block mr-3" style="font-size: 1.25rem;"><i class="fa fa-pencil-square-o"></i></a>
						<a href="#" class="d-inline-block" style="font-size: 1.25rem;"><i class="fa fa-trash-o"></i></a>
					</div>
				</div>
			    <div class="block-content">
					<div class="matters-content">
                        <div class="content-info">
                            <p>
                                <strong class="d-inline-block mr-3">關聯功能</strong>
                                <span>\後台 \ 系統管理 \ 使用者管理 \ 新增</span>
                            </p>
                            <div class="form-group">
                                <textarea class="form-control rounded-0" id="exampleFormControlTextarea2" rows="3"></textarea>
                            </div>
                            <div class="matters-files">
                                <a href="#" class="file-name"><i class="fa fa-file-pdf-o"></i>檔案名稱.pdf</a>
                                <a href="#" class="file-name"><i class="fa fa-file-excel-o"></i>檔案名稱.xls</a>
                                <a href="#" class="file-name"><i class="fa fa-file-word-o"></i>檔案名稱.docx</a>
                                <a href="#" class="file-name"><i class="fa fa-file-text-o"></i>檔案名稱.text</a>
                                <a href="#" class="file-name"><i class="fa fa-file-zip-o"></i>檔案名稱.zip</a>
                            </div>
                            <div class="matters-images">
                                <div class="photo-group">
                                    <div class="mdb-lightbox" data-pswp-uid="1">
                                        <figure>
                                            <a href="../assets/fake/c01.jpg" data-size="800x600">
                                                <img alt="Pic" src="../assets/fake/c01.jpg" class="img-fluid" />
                                            </a>
                                        </figure>
                                        <figure>
                                            <a href="../assets/fake/k05.jpg" data-size="542x800">
                                                <img alt="Pic" src="../assets/fake/k05.jpg" class="img-fluid" />
                                            </a>
                                        </figure>
                                        <figure>
                                            <a href="../assets/fake/chat.gif" data-size="30x23">
                                                <img alt="Pic" src="../assets/fake/chat.gif" class="img-fluid" />
                                            </a>
                                        </figure>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="matters-step">
						    <h5>進度</h5>
							<ol>
							    <li>PA 確認</li>
								<li>任務分配</li>
								<li>工程師執行</li>
								<li class="current">測試機驗證</li>
								<li>更新正式機</li>
								<li>正式機驗證</li>
								<li>結案</li>
							</ol>
						</div>
					</div>
				</div>
				<div class="block-footer has-border">
				    <div class="d-flex justify-content-between align-items-center">
					    <div class="matters-executor">
						    <div class="avatar">
                                <img alt="Pic" src="https://avatarfiles.alphacoders.com/231/231252.jpg">
                            </div>
							<span class="name">Scarlett Johansson</span>
						</div>
						<div class="matters-action">
							<a href="#">
                                <i class="fa fa-cubes"></i> 8
                            </a>
                            <a href="#">
                                <i class="fa fa-commenting-o"></i> 24
                            </a>
                            <a href="#">
                                <i class="fa fa-paperclip"></i> 17
                            </a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-block mb-20">
			    <div class="block-header has-border">
					<div class="d-inline-block">
					    <button type="button" class="btn btn-sm btn-primary m-0">問題</button>
						<button type="button" class="btn btn-sm btn-primary m-0">最高</button>
						<button type="button" class="btn btn-sm btn-primary m-0">分配工作</button>
					</div>
					<div class="pull-right m-0">
					    <a href="#" class="d-inline-block mr-3" style="font-size: 1.25rem;"><i class="fa fa-pencil-square-o"></i></a>
						<a href="#" class="d-inline-block" style="font-size: 1.25rem;"><i class="fa fa-trash-o"></i></a>
					</div>
				</div>
			    <div class="block-content">
					<div class="matters-content">
                        <div class="content-info">
                            <p>
                                <strong class="d-inline-block mr-3">關聯功能</strong>
                                <span>\後台 \ 系統管理 \ 使用者管理 \ 新增</span>
                            </p>
                            <div class="form-group">
                                <textarea class="form-control rounded-0" id="exampleFormControlTextarea2" rows="3"></textarea>
                            </div>
                        </div>
                        <div class="matters-step">
						    <h5>進度</h5>
							<ol>
							    <li>PA 確認</li>
								<li>任務分配</li>
								<li class="current">工程師執行</li>
								<li>測試機驗證</li>
								<li>更新正式機</li>
								<li>正式機驗證</li>
								<li>結案</li>
							</ol>
						</div>
					</div>
				</div>
				<div class="block-footer has-border">
				    <div class="d-flex justify-content-between align-items-center">
					    <div class="matters-executor">
						    <div class="avatar">
                                <img alt="Pic" src="https://avatarfiles.alphacoders.com/231/231252.jpg">
                            </div>
							<span class="name">Scarlett Johansson</span>
						</div>
						<div class="matters-action">
							<a href="#">
                                <i class="fa fa-cubes"></i> 8
                            </a>
                            <a href="#">
                                <i class="fa fa-commenting-o"></i> 24
                            </a>
                            <a href="#">
                                <i class="fa fa-paperclip"></i> 17
                            </a>
						</div>
					</div>
				</div>
			</div>
			
			<div class="matters-assignment-wrapper">
				<h4>工作分配</h4>
			    <div class="assignment-item">
				    <div class="item-hd">
					    <div class="matters-executor">
						    <div class="avatar">
                                <img alt="Pic" src="https://avatarfiles.alphacoders.com/231/231252.jpg">
                            </div>
							<span class="name">Scarlett Johansson</span>
						</div>
						<div class="item-project">錯誤檢測</div>
					</div>
					<div class="form-group">
                        <textarea class="form-control rounded-0" id="exampleFormControlTextarea2" rows="3"></textarea>
                    </div>
					<div class="form-group">
					    <div class="d-flex justify-content-between align-items-center">
						    <span>2022/02/15 14:00</span>
							<span class="h5 font-weight-bold">1D / 2D</span>
						</div>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
					</div>
					<div class="d-flex justify-content-between align-items-center">
					    <span class="item-status">
						    <span class="ticket-done"><i class="fa fa-check-circle"></i></span>
						</span>
						<div class="matters-action">
							<a href="#">
                                <i class="fa fa-git"></i> 8
                            </a>
							<a href="#">
                                <i class="fa fa-history"></i> 8
                            </a>
							<a href="#">
                                <i class="fa fa-cubes"></i> 8
                            </a>
							<a href="#">
                                <i class="fa fa-check-square-o"></i> 24
                            </a>
                            <a href="#">
                                <i class="fa fa-commenting-o"></i> 24
                            </a>
                            <a href="#">
                                <i class="fa fa-paperclip"></i> 17
                            </a>
						</div>
					</div>
				</div>
				
				<div class="assignment-item">
				    <div class="item-hd">
					    <div class="matters-executor">
						    <div class="avatar">
                                <img alt="Pic" src="https://avatarfiles.alphacoders.com/231/231252.jpg">
                            </div>
							<span class="name">Scarlett Johansson</span>
						</div>
						<div class="item-project">錯誤檢測</div>
					</div>
					<div class="form-group">
                        <textarea class="form-control rounded-0" id="exampleFormControlTextarea2" rows="3"></textarea>
                    </div>
					<div class="form-group">
					    <div class="d-flex justify-content-between align-items-center">
						    <span>2022/02/15 14:00</span>
							<span class="h5 font-weight-bold">1D / 2D</span>
						</div>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
					</div>
					<div class="d-flex justify-content-between align-items-center">
					    <span class="item-status"></span>
						<div class="matters-action">
							<a href="#">
                                <i class="fa fa-git"></i> 8
                            </a>
							<a href="#">
                                <i class="fa fa-history"></i> 8
                            </a>
							<a href="#">
                                <i class="fa fa-cubes"></i> 8
                            </a>
							<a href="#">
                                <i class="fa fa-check-square-o"></i> 24
                            </a>
                            <a href="#">
                                <i class="fa fa-commenting-o"></i> 24
                            </a>
                            <a href="#">
                                <i class="fa fa-paperclip"></i> 17
                            </a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-4">123</div>
	</div>
</main>

<% content_for :js do %>
    <script>
        $('.datepicker').datepicker({
          inline: true
        });
    </script>
<% end %>