<!-- oiaes-admin: Login -->
<div class="login-container">
    <div class="login">
        <h1 class="logo text-center"><img class="logo__img" src="../assets/logo_w.svg" alt="back" title="國立台灣大學國際事務處" width="140" height="41" /></h1>
        <div class="card">
            <div class="card-body">
                <form>
                    <p class="h4 text-center py-4">Login</p>
                    <div class="md-form">
                        <i class="fa fa-envelope prefix grey-text"></i>
                        <input type="email" id="materialFormCardEmailEx" class="form-control">
                        <label for="materialFormCardEmailEx" class="font-weight-light">Your email</label>
                    </div>
                    <div class="md-form">
                        <i class="fa fa-lock prefix grey-text"></i>
                        <input type="password" id="materialFormCardPasswordEx" class="form-control">
                        <label for="materialFormCardPasswordEx" class="font-weight-light">Your password</label>
                        <div class="form-check my-4">
                          <input class="form-check-input" type="checkbox" id="defaultCheck12">
                          <label for="defaultCheck12" class="grey-text">Remember me</label>
                        </div>
                    </div>
                    <div class="text-center py-4 mt-3">
                        <button class="btn btn-cyan" type="submit">Login</button>
                    </div>
                </form>
            </div>
            <div class="footer pt-3 blue-grey lighten-2">
                <div class="row d-flex justify-content-center">
                    <p class="font-small white-text mb-2 pt-3">or Sign up with:</p>
                </div>
                <div class="row mt-2 mb-3 d-flex justify-content-center">
                    <a class="btn btn-sm btn-rounded btn-outline-white waves-effect un-shadows">計中帳號登入</a>
                </div>
            </div>
        </div>
        <address class="text-center grey-text mt-2"><small>2018 © Copyright NTU OIA. All Rights Reserved</small></address>
    </div>
</div>