<!-- oiaes-admin: Workbench -->
<div class="workbench-container">
    <h1 class="logo"><img class="logo__img" src="../assets/logo.svg" alt="" title="國立台灣大學國際事務處" /></h1>
    <button type="button" class="btn btn-sm btn-outline-secondary btn-rounded waves-effect un-shadows logout">logout</button>
    <ul class="workbench-list">
        <li>
            <div class="card testimonial-card">
                <div class="card-up indigo lighten-5"></div>
                <div class="card-body">
                    <h4 class="card-title">國際合作</h4>
                    <hr>
                    <a href="#">國際合作管理系統</a>
                    <a href="#">院系國合帳號管理</a>
                </div>
            </div>
        </li>
        <li>
            <div class="card testimonial-card">
                <div class="card-up indigo lighten-4"></div>
                <div class="card-body">
                    <h4 class="card-title">海外教育</h4>
                    <hr>
                    <a href="#">出國學生管理系統</a>
                    <a href="#">來校交換生管理系統</a>
                    <a href="#">來校訪問生管理系統</a>
                    <a href="#">來校訪問研究生管理系統</a>
                    <a href="#">出國交換學生管理系統（新）</a>
                    <a href="#">海外暑期課程</a>
                </div>
            </div>
        </li>
        <li>
            <div class="card testimonial-card">
                <div class="card-up indigo lighten-3"></div>
                <div class="card-body">
                    <h4 class="card-title">學校管理</h4>
                    <hr>
                    <a href="#">締約學校設定管理</a>
                </div>
            </div>
        </li>
        <li>
            <div class="card testimonial-card">
                <div class="card-up indigo lighten-2"></div>
                <div class="card-body">
                    <h4 class="card-title">網站後台(新)</h4>
                    <hr>
                    <a href="#">新版網頁後台<small>臺大校色版</small></a>
                </div>
            </div>
        </li>
        <li>
            <div class="card testimonial-card">
                <div class="card-up indigo lighten-1"></div>
                <div class="card-body">
                    <h4 class="card-title">帳號管理</h4>
                    <hr>
                    <a href="#">使用者個人資料管理</a>
                </div>
            </div>
        </li>
        <li>
            <div class="card testimonial-card">
                <div class="card-up indigo"></div>
                <div class="card-body">
                    <h4 class="card-title">網站後台(舊)</h4>
                    <hr>
                    <a href="#">舊版網頁後台<small>藍色版</small></a>
                </div>
            </div>
        </li>
        <li>
            <div class="card testimonial-card">
                <div class="card-up indigo"></div>
                <div class="card-body">
                    <h4 class="card-title">國際學生</h4>
                    <hr>
                    <a href="#">學位生管理系統</a>
                    <a href="#">非學位生管理系統<small>來校交換、訪問、短期研習</small></a>
                    <a href="#">志工系統</a>
                </div>
            </div>
        </li>
        <li>
            <div class="card testimonial-card">
                <div class="card-up indigo lighten-1"></div>
                <div class="card-body">
                    <h4 class="card-title">國際教育中心</h4>
                    <hr>
                    <a href="#">Plus Academy 學生資料</a>
                    <a href="#">國際短期課程</a>
                </div>
            </div>
        </li>
        <li>
            <div class="card testimonial-card">
                <div class="card-up indigo lighten-2"></div>
                <div class="card-body">
                    <h4 class="card-title">統計資料</h4>
                    <hr>
                    <a href="#">來校／出國學生 <small>Balance 條件設定查詢</small></a>
                </div>
            </div>
        </li>
        <li>
            <div class="card testimonial-card">
                <div class="card-up indigo lighten-3"></div>
                <div class="card-body">
                    <h4 class="card-title">出訪紀錄</h4>
                    <hr>
                    <a href="#">處內人員出訪紀錄</a>
                </div>
            </div>
        </li>
        <li>
            <div class="card testimonial-card">
                <div class="card-up indigo lighten-4"></div>
                <div class="card-body">
                    <h4 class="card-title">
                        帳號管理<small>網管專區</small>
                    </h4>
                    <hr>
                    <a href="#">網管專區<small>總網管+分組網管</small></a>
                </div>
            </div>
        </li>
        <li>
            <div class="card testimonial-card">
                <div class="card-up indigo lighten-5"></div>
                <div class="card-body">
                    <h4 class="card-title">紀念品管理</h4>
                    <hr>
                    <a href="#">紀念品管理</a>
                </div>
            </div>
        </li>
    </ul>
</div>