<!-- admin-page: 技術收藏分類 -->

<%= render :partial => "/partials/admin_breadcrumb" %>

<main class="main">
    <div class="row">
        <div class="col-3">
            <div class="col-block">
                <div class="block-header has-border">
                    <h4>技術分類</h4>
                </div>
                <div class="block-content">
                    
                    <div class="d-flex justify-content-between mb-4">
                        <span><button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="fas fa-tags"></i> 建立技術分類</button></span>
                        <span>
                            <select class="form-select" aria-label="Default select example">
                                <option selected>進行中</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                            </select>
                        </span>
                    </div>
                    
                    <div class="category-list">
                        <div class="card bg-light p-3 mb-3">
                            <small>技術分類名稱</small>
                            <h5 class="fw-bold mb-3">綠能再進化</h5>
                            <ul class="menu-item mb-3">
                                <li>
                                    <span>關聯技術發明人：</span>
                                    <span class="fw-bold ps-2">10</span>
                                </li>
                                <li>
                                    <span>關聯技術文獻：</span>
                                    <span class="fw-bold ps-2">9999</span>
                                </li>
                                <li>
                                    <span>關聯企業：</span>
                                    <span class="fw-bold ps-2">2</span>
                                </li>
                            </ul>
                            <div>
                                <button type="button" class="btn btn-info">開啟</button>
                                <button type="button" class="btn btn-danger">刪除</button>
                            </div>
                        </div>
                        
                        <div class="card p-3 mb-3">
                            <small>技術分類名稱</small>
                            <h5 class="fw-bold mb-3">多元化綠能</h5>
                            <ul class="menu-item mb-3">
                                <li>
                                    <span>關聯技術發明人：</span>
                                    <span class="fw-bold ps-2">10</span>
                                </li>
                                <li>
                                    <span>關聯技術文獻：</span>
                                    <span class="fw-bold ps-2">9999</span>
                                </li>
                                <li>
                                    <span>關聯企業：</span>
                                    <span class="fw-bold ps-2">2</span>
                                </li>
                            </ul>
                            <div>
                                <button type="button" class="btn btn-info">開啟</button>
                                <button type="button" class="btn btn-danger">刪除</button>
                            </div>
                        </div>
                        
                        <div class="card p-3 mb-3">
                            <small>技術分類名稱</small>
                            <h5 class="fw-bold mb-3">土木工程</h5>
                            <ul class="menu-item mb-3">
                                <li>
                                    <span>關聯技術發明人：</span>
                                    <span class="fw-bold ps-2"></span>
                                </li>
                                <li>
                                    <span>關聯技術文獻：</span>
                                    <span class="fw-bold ps-2"></span>
                                </li>
                                <li>
                                    <span>關聯企業：</span>
                                    <span class="fw-bold ps-2"></span>
                                </li>
                            </ul>
                            <div>
                                <button type="button" class="btn btn-info">開啟</button>
                                <button type="button" class="btn btn-danger">刪除</button>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        
        <div class="col-9">
        
            <div class="col-block">
                <div class="block-header has-border">
                    <h4>綠能再進化</h4>
                </div>
                <div class="block-content">
                    
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="ex1-tab" data-bs-toggle="tab" data-bs-target="#ex1-tab-pane" type="button" role="tab" aria-controls="ex1-tab-pane" aria-selected="true">分類基本資料設定</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="ex2-tab" data-bs-toggle="tab" data-bs-target="#ex2-tab-pane" type="button" role="tab" aria-controls="ex2-tab-pane" aria-selected="false">已關聯發明人 <span class="badge rounded-pill text-bg-warning">3</span></button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="ex3-tab" data-bs-toggle="tab" data-bs-target="#ex3-tab-pane" type="button" role="tab" aria-controls="ex3-tab-pane" aria-selected="false">已關聯技術文獻 <span class="badge rounded-pill text-bg-warning">3</span></button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="ex4-tab" data-bs-toggle="tab" data-bs-target="#ex4-tab-pane" type="button" role="tab" aria-controls="ex4-tab-pane" aria-selected="false">已關聯企業資訊 <span class="badge rounded-pill text-bg-warning">3</span></button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="ex5-tab" data-bs-toggle="tab" data-bs-target="#ex5-tab-pane" type="button" role="tab" aria-controls="ex5-tab-pane" aria-selected="false">摘要文件自動生成</button>
                        </li>
                    </ul>
                    
                    <div class="tab-content" id="myTabContent">
                        
                        <div class="tab-pane fade show active" id="ex1-tab-pane" role="tabpanel" aria-labelledby="ex1-tab" tabindex="0">
                            <div class="narrow-wrapper">
                                <div class="form-group">
                                    <label class="form-label" for="exInput_01">分類名稱</label>
                                    <input type="text" id="exInput_01" class="form-control" value="綠能再進化">
                                </div>
                                <div class="form-group">
                                    <label class="form-label" for="exInput_01">執行狀況</label>
                                    <div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1" checked/>
                                            <label class="form-check-label" for="inlineRadio1">尚未開始</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2" />
                                            <label class="form-check-label" for="inlineRadio2">進行中</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3" />
                                            <label class="form-check-label" for="inlineRadio3">已完成</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio4" value="option4" />
                                            <label class="form-check-label" for="inlineRadio4">不執行</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="form-label" for="exInput_02">備註</label>
                                    <textarea class="form-control" id="exInput_02" rows="8">「綠能再進化」是一個關於綠色能源領域的題目，它強調綠能技術和產業的不斷演進和創新。隨著科技的進步和環境意識的提高，綠能領域正經歷著一個新的階段，帶來更多的可能性和機會。  這個標題提醒我們，綠色能源不僅是為了保護環境和減少碳排放，而且成為了一個具有巨大商業潛力的領域。技術創新是推動綠能產業向前發展的關鍵因素之一。透過科技的應用和不斷的研發，我們能夠改進可再生能源的效率、降低成本，並開發出更多多元化的綠能解決方案。</textarea>
                                </div>
                                <button type="submit" class="btn btn-lg btn-primary">儲存</button>
                            </div>
                        </div>
                        
                        <div class="tab-pane fade" id="ex2-tab-pane" role="tabpanel" aria-labelledby="ex2-tab" tabindex="0">
                            <table class="table table-hover align-middle">
                                <thead>
                                    <tr class="text-nowrap">
                                        <th>#</th>
                                        <th></th>
                                        <th>姓名</th>
                                        <th>學校</th>
                                        <th>現職單位</th>
                                        <th>職稱</th>
                                        <th>技術專長</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% (1..6).map do |i| %>
                                    <tr>
                                        <th><%= i %></th>
                                        <td><a href="#" class="btn btn-light">技術領域</a></td>
                                        <td class="text-nowrap">王曉輝<%= i %></td>
                                        <td class="text-nowrap">義守大學</td>
                                        <td class="text-nowrap">國際企業經營系</td>
                                        <td class="text-nowrap">助理教授</td>
                                        <td>藝術創作理論研究；繪畫、絹印版畫、裝置與雕塑創作；資本主義；德勒茲；機器；媚俗；前衛精神；藝術生產</td>
                                    </tr>
                                    <% end %>
                                </tbody>
                            </table>
                        </div>
                        
                        <div class="tab-pane fade" id="ex3-tab-pane" role="tabpanel" aria-labelledby="ex3-tab" tabindex="0">
                            <div class="w-50 mb-3">
                                <select class="form-select" aria-label="Default select example">
                                    <option selected>Open this select menu</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                            </div>
                            
                            <table class="table table-bordered align-middle">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">First</th>
                                        <th scope="col">Last</th>
                                        <th scope="col">Handle</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>Mark</td>
                                        <td>Otto</td>
                                        <td>@mdo</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">2</th>
                                        <td>Jacob</td>
                                        <td>Thornton</td>
                                        <td>@fat</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">3</th>
                                        <td colspan="2">Larry the Bird</td>
                                        <td>@twitter</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        
                        <div class="tab-pane fade" id="ex4-tab-pane" role="tabpanel" aria-labelledby="ex4-tab" tabindex="0">
                            <table class="table table-hover align-middle">
                                <thead>
                                    <tr class="text-nowrap">
                                        <th>#</th>
                                        <th></th>
                                        <th>公司代表名稱</th>
                                        <th>公司英文代表名稱</th>
                                        <th>國別</th>
                                        <th>統一編號</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% (1..6).map do |i| %>
                                    <tr>
                                        <th><%= i %></th>
                                        <td><a href="#" class="btn btn-light">技術領域</a></td>
                                        <td>鴻海精密工業股份有限公司</td>
                                        <td>Hon Hai Precision Industry Co., Ltd.</td>
                                        <td>TAIWAN</td>
                                        <td>04541302</td>
                                    </tr>
                                    <% end %>
                                </tbody>
                            </table>
                        </div>
                        
                        <div class="tab-pane fade" id="ex5-tab-pane" role="tabpanel" aria-labelledby="ex5-tab" tabindex="0">
                            <ul class="menu-item">
                                <li class="d-flex align-items-center mb-3">
                                    <span class="pe-4"><button type="button" class="btn btn-secondary">中文計畫摘要</button></span>
                                    <span><a href="#"><i class="fas fa-cloud-download-alt"></i> 下載檔案</a></span>
                                </li>
                                <li class="d-flex align-items-center mb-3">
                                    <span class="pe-4"><button type="button" class="btn btn-secondary">英文計畫摘要</button></span>
                                    <span><a href="#"><i class="fas fa-cloud-download-alt"></i> 下載檔案</a></span>
                                </li>
                                <li class="d-flex align-items-center mb-3">
                                    <span class="pe-4"><button type="button" class="btn btn-secondary">按鈕名稱</button></span>
                                    <span></span>
                                </li>
                            </ul>
                        </div>
                        
                    </div>

                    
                </div>
            </div>
        
        </div>
    </div>
</main>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">建立技術分類</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <label for="exampleInput" class="form-label">分類名稱</label>
                    <input type="text" class="form-control" id="exampleInput">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">關閉</button>
                <button type="button" class="btn btn-primary">確定</button>
            </div>
        </div>
    </div>
</div>

<% content_for :js do %>

<% end %>