<!-- admin-page: 審查資訊勘誤管理 -->

<%= render :partial => "/partials/admin_breadcrumb" %>

<main class="main">
    <div class="narrow-wrapper">
        <div class="col-block">
            <div class="block-header has-border">
                <h4>審查資訊勘誤管理：發明人勘誤管理</h4>
            </div>
            <div class="block-content">
                
                <section class="section">
                    <div class="section-title">
                        <h5>提報人</h5>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label class="form-label">提報人姓名</label>
                                <div class="output">陳曉明</div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label class="form-label">Email</label>
                                <div class="output">suchart@aa.com.tw</div>
                            </div>
                        </div>
                    </div>
                </section>
                
                <section class="section">
                    <div class="section-title">
                        <h5>發明人資訊</h5>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label class="form-label">中文姓名</label>
                                <input type="text" class="form-control" value="黃良得" disabled readonly>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label class="form-label">英文姓名</label>
                                <input type="text" class="form-control" value="Shouzheng Song" disabled readonly>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label class="form-label">學校</label>
                                <input type="text" class="form-control" value="南亞技術學院" disabled readonly>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label class="form-label">現職單位</label>
                                <input type="text" class="form-control" value="資訊工程系" disabled readonly>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label class="form-label">職級</label>
                                <input type="text" class="form-control" value="助理教授" disabled readonly>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label class="form-label">Email</label>
                                <input type="text" class="form-control" value="song6611@nanya.edu.tw" disabled readonly>
                            </div>
                        </div>
                    </div>
                </section>
                
                <section class="section">
                    <div class="section-title">
                        <h5>回報錯誤</h5>
                    </div>
                    
                    <div class="row mb-2">
                        <div class="col-4"><span class="fw-bold">選擇錯誤欄位</span></div>
                        <div class="col-8"><span class="fw-bold">正確內容</span></div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <div class="form-group">
                                <select class="form-select" aria-label="Disabled select example" disabled>
                                    <option selected>中文姓名</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-8">
                            <div class="form-group">
                                <input type="text" class="form-control" value="黃良的" disabled readonly>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <div class="form-group">
                                <select class="form-select" aria-label="Disabled select example" disabled>
                                    <option selected>現職單位</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-8">
                            <div class="form-group">
                                <input type="text" class="form-control" value="資訊工程學系" disabled readonly>
                            </div>
                        </div>
                    </div>
                </section>
                
                <section class="section">
                    <div class="section-title">
                        <h5>處理結果</h5>
                    </div>
                    <div class="form-group">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1" />
                            <label class="form-check-label" for="inlineRadio1">未修正</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2" />
                            <label class="form-check-label" for="inlineRadio2">源頭未修改</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3" />
                            <label class="form-check-label" for="inlineRadio3">源頭已修改</label>
                        </div>
                    </div>
                </section>
                
                <div class="my-5">
                    <button type="button" class="btn btn-lg btn-primary px-5">儲存</button>
                </div>
                
            </div>
        </div>
    </div>
</main>

<% content_for :js do %>
    
<% end %>