<!-- admin-page: 意願調查內容 -->
<%= render :partial => "/partials/admin_breadcrumb" %>

<main class="main">
	<div class="clearfix">
        <div class="profile-sidebar">
            <div class="col-block">
                <div class="block-content expansion">
                    <div class="profile-avatar pt-3">
                        <div class="scrap">
                            <div class="scrap-name">
                                <span class="h4">黃良得</span>
                                <span class="h6">Huang Lean-Teik</span>
                            </div>
                            <div class="scrap-info pb-3">
                                <span class="school">教授</span>
                                <span class="department">台灣大學農業化學系(所)</span>
                            </div>
                            <div class="border border-info rounded-pill p-2 mb-4"><small>可填寫時間：</small>YYYY-MM-DD 09:00</div>
                        </div>
                    </div>
                    <div class="px-4 pt-4">
                        <span>合作專長：</span>
                        <div class="mt-2 mb-3">
                            <ul class="menu-item">
                                <li>天然物生物技術</li>
                                <li>生物資源利用</li>
                                <li>保健品開發與品質管制</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
		<div class="profile-content">        
            <div class="narrow-wrapper">
                <div class="col-block">
                    <div class="block-header has-border">
                        <h4>徵案意願調查表</h4>
                    </div>
                    <div class="block-content">
                        <div class="form-group">
                            <label class="form-label fw-bold">1.參加本專案意願</label>
                            <span class="d-block">不願意參加</span>
                        </div>
                        <div class="form-group">
                            <label class="form-label fw-bold">2.Contect NAME</label>
                            <span class="d-block">黃良得</span>
                        </div>
                        <div class="form-group">
                            <label class="form-label fw-bold">3.Contect Email</label>
                            <span class="d-block">sa@aa.com.tw</span>
                        </div>
                        <div class="form-group">
                            <label class="form-label fw-bold">4.Phone</label>
                            <span class="d-block">0289336651</span>
                        </div>
                        <section class="section">
                            <div class="section-title">
                                <h5>登錄媒合技術資料</h5>
                            </div>
                            <div class="mb-4">
                                <h5>技術標題1</h5>
                                <div class="card p-3">
                                    <ul class="menu-item">
                                        <li class="mb-3">
                                            <span class="d-block fw-bold">技術類型</span>
                                            <div>綠能再進化</div>
                                        </li>
                                        <li class="mb-3">
                                            <span class="d-block fw-bold">目標TA</span>
                                            <div>模型語言是指透過計算機技術，訓練出能夠理解和生成人類語言的人工智慧模型。這些模型使用大量的文字資料進行學習，從而能夠執行翻譯、問答、文本生成等多種任務。其中，GPT-3（Generative Pre-trained Transformer 3）是一個具有代表性的模型，具備極高的自然語言理解和生成能力，能夠產生流暢、具有上下文的文本。模型語言正在不斷革新，對於教育、商業和科研領域都有深遠的影響，為人機溝通帶來全新的可能性。</div>
                                        </li>
                                        <li class="mb-3">
                                            <span class="d-block fw-bold">技術特點</span>
                                            <div>模型語言利用大數據訓練，具備翻譯、生成等能力，代表作GPT-3強化人機溝通，推動教育、商業創新。</div>
                                        </li>
                                        <li class="mb-3">
                                            <span class="d-block fw-bold">應用領域</span>
                                            <div>綠能再進化</div>
                                        </li>
                                        <li class="mb-3">
                                            <span class="d-block fw-bold">技術研發階段進度</span>
                                            <div>TRL or Discovery</div>
                                        </li>
                                        <li class="mb-3">
                                            <span class="d-block fw-bold">欲合作之模式</span>
                                            <div>技術授權、Sponsored Research資金挹注</div>
                                        </li>
                                        <li class="d-flex">
                                            <span class="me-3">檔案上傳</span>
                                            <span><a href="#"><i class="fas fa-cloud-download-alt"></i> 下載</a></span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="mb-4">
                                <h5>技術標題2</h5>
                                <div class="card p-3">
                                    <ul class="menu-item">
                                        <li class="mb-3">
                                            <span class="d-block fw-bold">技術類型</span>
                                            <div>綠能再進化</div>
                                        </li>
                                        <li class="mb-3">
                                            <span class="d-block fw-bold">目標TA</span>
                                            <div>模型語言是指透過計算機技術，訓練出能夠理解和生成人類語言的人工智慧模型。這些模型使用大量的文字資料進行學習，從而能夠執行翻譯、問答、文本生成等多種任務。其中，GPT-3（Generative Pre-trained Transformer 3）是一個具有代表性的模型，具備極高的自然語言理解和生成能力，能夠產生流暢、具有上下文的文本。模型語言正在不斷革新，對於教育、商業和科研領域都有深遠的影響，為人機溝通帶來全新的可能性。</div>
                                        </li>
                                        <li class="mb-3">
                                            <span class="d-block fw-bold">技術特點</span>
                                            <div>模型語言利用大數據訓練，具備翻譯、生成等能力，代表作GPT-3強化人機溝通，推動教育、商業創新。</div>
                                        </li>
                                        <li class="mb-3">
                                            <span class="d-block fw-bold">應用領域</span>
                                            <div></div>
                                        </li>
                                        <li class="mb-3">
                                            <span class="d-block fw-bold">技術研發階段進度</span>
                                            <div>TRL or Discovery</div>
                                        </li>
                                        <li class="mb-3">
                                            <span class="d-block fw-bold">欲合作之模式</span>
                                            <div>技術授權、Sponsored Research資金挹注</div>
                                        </li>
                                        <li class="d-flex">
                                            <span class="fw-bold me-3">檔案上傳</span>
                                            <span><a href="#"><i class="fas fa-cloud-download-alt"></i> 下載</a></span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
		</div>
	</div>
</main>

<% content_for :js do %>

<% end %>