<!-- ietw: IERC (各縣市) -->

<%= render :partial => "/partials/breadcrumb" %>
<div class="sidenav-overlay"></div>
<div class="content-wrapper">
    <div class="container">
	    <div class="pages-row">
			
			<!-- 側欄選單 -->
            <div class="sidenav">
                <div class="scrollbar-inner">
                    <a accesskey="L" href="#accesskey_left_nav" tabindex="0" title="左側目錄" id="accesskey_left_nav" class="ackey d-none d-xl-block">:::</a>
                    <div id="accordian_nav" class="sidenav-inner">
                        <h5 class="fw-bold nav-title">臺灣國際教育旅行聯盟2.0</h5>
                        <ul>
                            <li>
                                <h4>
                                    <a href="#" title="{連結名稱}">臺灣國際教育旅行聯盟1.0沿革</a>
                                </h4>
                            </li>
                            <li>
                                <h4>
                                    <a href="#" title="{連結名稱}">臺灣國際教育旅行聯盟2.0 介紹</a>
                                </h4>
                            </li>
                            <li>
                                <h4>
                                    <a href="#" title="{連結名稱}">國際教育旅行專案分享</a>
                                </h4>
                            </li>
                            <li>
                                <h4>
                                    <a href="#" class="current" title="{連結名稱}">全臺IERC介紹及聯絡方式</a>
                                </h4>
                            </li>
                            <li>
                                <h4>
                                    <a href="#" title="{連結名稱}">先導行程規劃</a>
                                </h4>
                            </li>
                            <li>
                                <h4>
                                    <a href="#" title="{連結名稱}">全臺接待家庭手冊</a>
                                </h4>
                            </li>
                            <li>
                                <h4>
                                    <a href="#" title="{連結名稱}">駐外單位聯絡資訊</a>
                                </h4>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- 主要內容 -->
            <main class="main">
                <a accesskey="C" href="#accesskey_content" tabindex="0" title="主要內容" id="accesskey_content" class="ackey">:::</a>

                <article class="page-article">
					<div class="post-head">
						<div class="post-title">
                            <h2>全臺 IERC 介紹及聯絡方式</h2>
						</div>
					</div>
					
					<div class="post-content">
						
						<div class="ierc-wrapper">
							<h3 class="mb-4">New Taipei 新北市 IERC</h3>
                            <div class="row intro-head">
                                <div class="col-md-4">
                                    <ul class="menu-item">
                                        <li>
                                            <span class="label">學校名稱</span>
                                            <span class="out">新北市中和高中</span>
                                        </li>
                                        <li>
                                            <span class="label">校長</span>
                                            <span class="out">劉淑芬</span>
                                        </li>
                                        <li>
                                            <span class="label">聯絡信箱</span>
                                            <span class="out"><a href="mailto:principal@mail2.chshs.ntpc.edu.tw" title="E-mail">principal@mail2.chshs.ntpc.edu.tw</a></span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-md-4">
                                    <ul class="menu-item">
                                        <li>
                                            <span class="label">承辦人</span>
                                            <span class="out">陳睿妏</span>
                                        </li>
                                        <li>
                                            <span class="label">職稱</span>
                                            <span class="out">專責教師</span>
                                        </li>
                                        <li>
                                            <span class="label">連絡電話</span>
                                            <span class="out">國際教育資源中心/0222227146分機528</span>
                                        </li>
                                        <li>
                                            <span class="label">聯絡信箱</span>
                                            <span class="out"><a href="mailto:chentiffany@smsh.ntpc.edu.tw" title="E-mail">chentiffany@smsh.ntpc.edu.tw</a></span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-md-4">
                                    <h5 class="mb-3">網址</h5>
                                    <ul class="menu-item">
                                        <li>
                                            <span class="label">IERC</span>
                                            <span class="out"><a href="#" title="{連結名稱}">https://reurl.cc/Wq2qOy</a></span>
                                        </li>
                                        <li>
                                            <span class="label">學校</span>
                                            <span class="out"><a href="#" title="{連結名稱}">https://www.chshs.ntpc.edu.tw</a></span>
                                        </li>
                                        <li>
                                            <span class="label">縣市</span>
                                            <span class="out"><a href="#" title="{連結名稱}">https://newtaipei.travel/zh-tw</a></span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="copywriting">
                                <p>新北市是臺灣本島最北的城市,環繞整個臺北市,總面積達二千多平方公里,海岸線長達120餘公里,幅員遼闊,新北市的東北、北部、西北部均臨海,市內北海岸與東北角海岸擁有豐富的海景奇觀及海岸風光,每逢夏日,海上盡是弄潮張帆的人潮,整條綿延的山海線,銜接成臺北人最鍾愛的黃金旅遊路線。</p>
                                <p>新北市的南部則為中央山脈北端雪山山脈的支稜,山多溪谷多,為新北市內陸地景的一大特色,也是重要的觀光資源。新北市風景名勝之多,為全臺之冠,如著名的觀音山風景區、九份、淡水、東北角、野柳、板橋林本源園邸、鶯歌陶瓷、三峽老街等各類風景及名勝古蹟、風光特殊令人無不嚮往。</p>
                                <p>這裡有名的特產如觀音山的綠竹筍、坪林的茶葉、鶯歌的陶瓷,更是此地獨有的好東西,您不能不到此一探其趣。</p>
                            </div>
                            <dic class="county-cover">
                                <span><img src="../assets/league/cover/001.jpg" alt="新北市IERC-九份老街茶樓"></span>
                            </dic>
                            <div class="resources">
                                <span><a href="#" title="{連結名稱}">文字來源</a></span>
                                <span><a href="#" title="{連結名稱}">照片來源</a></span>
                            </div>
						</div>
						
					</div>
				</article>
				
            </main>
			
		</div>
	</div>
</div>



<% content_for :js do %>

<% end %>




