<!-- ietw: IERC (全臺IERC介紹及聯絡方式) -->

<%= render :partial => "/partials/breadcrumb" %>
<div class="sidenav-overlay"></div>
<div class="content-wrapper">
    <div class="container">
	    <div class="pages-row">
			
			<!-- 側欄選單 -->
            <div class="sidenav">
                <div class="scrollbar-inner">
                    <a accesskey="L" href="#accesskey_left_nav" tabindex="0" title="左側目錄" id="accesskey_left_nav" class="ackey d-none d-xl-block">:::</a>
                    <div id="accordian_nav" class="sidenav-inner">
                        <h5 class="fw-bold nav-title">臺灣國際教育旅行聯盟2.0</h5>
                        <ul>
                            <li>
                                <h4>
                                    <a href="#" title="{連結名稱}">臺灣國際教育旅行聯盟1.0沿革</a>
                                </h4>
                            </li>
                            <li>
                                <h4>
                                    <a href="#" title="{連結名稱}">臺灣國際教育旅行聯盟2.0 介紹</a>
                                </h4>
                            </li>
                            <li>
                                <h4>
                                    <a href="#" title="{連結名稱}">國際教育旅行專案分享</a>
                                </h4>
                            </li>
                            <li>
                                <h4>
                                    <a href="#" class="current" title="{連結名稱}">全臺IERC介紹及聯絡方式</a>
                                </h4>
                            </li>
                            <li>
                                <h4>
                                    <a href="#" title="{連結名稱}">先導行程規劃</a>
                                </h4>
                            </li>
                            <li>
                                <h4>
                                    <a href="#" title="{連結名稱}">全臺接待家庭手冊</a>
                                </h4>
                            </li>
                            <li>
                                <h4>
                                    <a href="#" title="{連結名稱}">駐外單位聯絡資訊</a>
                                </h4>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- 主要內容 -->
            <main class="main">
                <a accesskey="C" href="#accesskey_content" tabindex="0" title="主要內容" id="accesskey_content" class="ackey">:::</a>

                <article class="page-article">
					<div class="post-head">
						<div class="post-title">
                            <h2>全臺 IERC 介紹及聯絡方式</h2>
						</div>
					</div>
					
					<div class="post-content">
						
						<div class="ierc-wrapper">
							<h3 class="mb-4">臺灣國際教育旅行聯盟2.0 暨全臺 IERC 組織</h3>
                            <div class="org-chart chart-1">
                                <div class="box">
                                    <div class="inner">教育部駐外單位</div>
                                </div>
                                <div class="box">
                                    <div class="inner">教育部國際及兩岸教育司</div>
                                </div>
                                <div class="box main-box">
                                    <div class="inner">教育部國民及學前教育署</div>
                                </div>
                                <div class="box">
                                    <div class="inner">地方政府教育局處</div>
                                </div>
                            </div>
                            <div class="org-chart chart-2">
                                <div class="box">
                                    <div class="inner">
                                        <span class="box-hd">國際交流櫥窗</span>
                                        <span class="box-bd">國立臺灣科技大學</span>
                                    </div>
                                </div>
                                <div class="box main-box">
                                    <div class="inner">
                                        <span class="h5 fw-bold mb-0">臺灣國際教育旅行聯盟2.0</span>
                                    </div>
                                </div>
                            </div>
                            <div class="org-chart chart-3">
                                <div class="box">
                                    <div class="inner">
                                        <ul class="menu-item">
                                            <li><a href="#">國教署(北區)</a></li>
                                            <li><a href="#">新北市</a></li>
                                            <li><a href="#">臺北市</a></li>
                                            <li><a href="#">基隆市</a></li>
                                            <li><a href="#">桃園市</a></li>
                                            <li><a href="#">新竹市</a></li>
                                            <li><a href="#">新竹縣</a></li>
                                            <li><a href="#">宜蘭縣</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="box">
                                    <div class="inner">
                                        <ul class="menu-item">
                                            <li><a href="#">國教署(東區)</a></li>
                                            <li><a href="#">花蓮縣</a></li>
                                            <li><a href="#">臺東縣</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="box">
                                    <div class="inner">
                                        <ul class="menu-item">
                                            <li><a href="#">國教署(中區)</a></li>
                                            <li><a href="#">苗栗縣</a></li>
                                            <li><a href="#">臺中市</a></li>
                                            <li><a href="#">彰化縣</a></li>
                                            <li><a href="#">南投縣</a></li>
                                            <li><a href="#">雲林縣</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="box">
                                    <div class="inner">
                                        <ul class="menu-item">
                                            <li><a href="#">國教署(南區)</a></li>
                                            <li><a href="#">嘉義市</a></li>
                                            <li><a href="#">嘉義縣</a></li>
                                            <li><a href="#">臺南市</a></li>
                                            <li><a href="#">高雄市</a></li>
                                            <li><a href="#">屏東縣</a></li>
                                            <li><a href="#">澎湖縣</a></li>
                                            <li><a href="#">金門縣</a></li>
                                            <li><a href="#">馬祖(連江縣)</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
						</div>
                        
                        <div class="mt-4">
                            <a href="" class="btn btn-lg btn-dark btn-round" title="{連結名稱}"><i class="far fa-file-pdf"></i> 下載 IERC簡介</a>
                        </div>
						
					</div>
				</article>
				
            </main>
			
		</div>
	</div>
</div>



<% content_for :js do %>

<% end %>




