<!-- ietw: 首頁 -->

<div class="carousel-wrapper">
    <div class="container">
		
		<!-- 輪播 -->
        <div id="carouselCaptions" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
					
					<!-- banner 圖片統一標準尺寸 1600*600 -->
					
                    <img src="../assets/banner/banner06.jpg" class="d-block w-100" alt="..." />
                    <div class="carousel-caption d-none d-md-block">
                        <p>圖片附加文字說明可放可不放</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="../assets/banner/banner07.jpg" class="d-block w-100" alt="..." />
                    <div class="carousel-caption d-none d-md-block">
                        <p>日辦交流協會拜訪 IE 專辦，洽談國際教育旅行未來發展事宜</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="../assets/banner/banner08.jpg" class="d-block w-100" alt="..." />
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselCaptions" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselCaptions" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
		
    </div>
</div>

<div class="main-nav">
    <div class="container">
	    <a accesskey="C" href="#accesskey_content" title="主要內容" id="accesskey_content" class="ackey" tabindex="0">:::</a>
		
		<!-- 快速連結 -->
		<ul class="menu-item">
		    <li>
				<a href="#" class="main-item" title="會議資料下載">
				    <div class="main-nav-inner">
					    <img src="../assets/nav_icon_01.png" alt="會議資料下載">
						<h6>會議資料下載</h6>
					</div>
				</a>
			</li>
			<li>
				<a href="#" class="main-item" title="IELCG 地方培力團">
				    <div class="main-nav-inner">
					    <img src="../assets/nav_icon_02.png" alt="IELCG 地方培力團">
						<h6>IELCG 地方培力團</h6>
					</div>
				</a>
			</li>
			<li>
				<a href="#" class="main-item" title="IEAS 行政支援窗口">
				    <div class="main-nav-inner">
					    <img src="../assets/nav_icon_03.png" alt="IEAS 行政支援窗口">
						<h6>IEAS 行政支援窗口</h6>
					</div>
				</a>
			</li>
			<li>
				<a href="#" class="main-item" title="IERC 資源中心">
				    <div class="main-nav-inner">
					    <img src="../assets/nav_icon_04.png" alt="IERC 資源中心">
						<h6>IERC 資源中心</h6>
					</div>
				</a>
			</li>
			<li>
				<a href="#" class="main-item" title="國際交流資源">
				    <div class="main-nav-inner">
					    <img src="../assets/nav_icon_05.png" alt="國際交流資源">
						<h6>國際交流資源</h6>
					</div>
				</a>
			</li>
		</ul>
		
	</div>
</div>

<div class="index-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
				
				<!-- 最新消息 -->
                <section class="index-section">
                    <div class="section-title">
                        <h2>
                            <img src="../assets/icon-news.png" alt="最新消息"> 最新消息
                        </h2>
                        <a href="#" class="more_link" tabindex="0" title="查看更多"><span>查看更多</span></a>
                    </div>
					<div class="section-bd">
					    <ul class="menu-item news-list">
						    <li>
							    <a href="#" class="news-link" title="完整新聞標題">
								    <span class="date">2021-12-23</span>
									<span class="news-title">【活動新聞】 韓國觀光公社台北支社與臺灣國際教育旅行聯盟 2.0簽訂合作備忘錄簽署儀式</span>
								</a>
							</li>
							<li>
							    <a href="#" class="news-link" title="完整新聞標題">
								    <span class="date">2021-12-22</span>
									<span class="news-title">【活動訊息】北海道教育旅行線上研討會（相關連結）</span>
								</a>
							</li>
							<li>
							    <a href="#" class="news-link" title="完整新聞標題">
								    <span class="date">2021-12-02</span>
									<span class="news-title">【參訪報告】日本臺灣交流協會臺北事務所</span>
								</a>
							</li>
							<li>
							    <a href="#" class="news-link" title="完整新聞標題">
								    <span class="date">2021-11-26</span>
									<span class="news-title">【活動訊息】日本福島縣說明會</span>
								</a>
							</li>
							<li>
							    <a href="#" class="news-link" title="完整新聞標題">
								    <span class="date">2021-11-26</span>
									<span class="news-title">【活動訊息】北海道教育旅行線上研討會</span>
								</a>
							</li>
							<li>
							    <a href="#" class="news-link" title="完整新聞標題">
								    <span class="date">2021-11-19</span>
									<span class="news-title">活動新聞】 首次「2021年臺灣國際教育旅行產官學民交流論壇」 實體與線上同步召開</span>
								</a>
							</li>
						</ul>
					</div>
                </section>
				
            </div>
            <div class="col-lg-6">
				
				<!-- 影音 slick -->
			    <section class="index-section">
                    <div class="section-title">
                        <h2>
                            <img src="../assets/icon-video-player.png" alt="精彩影音"> 精彩影音
                        </h2>
                    </div>
                    <div class="video-wrapper">
                        <div class="slider single-item">
                            <div class="item">
                                <div class="videobox">
                                    <iframe width="560" height="315" src="https://www.youtube.com/embed/5KnLaqEdfds" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                </div>
                            </div>
                            <div class="item">
                                <div class="videobox">
                                    <iframe width="560" height="315" src="https://www.youtube.com/embed/BmH8363I4y4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                </div>
                            </div>
                            <div class="item">
                                <div class="videobox">
                                    <iframe width="560" height="315" src="https://www.youtube.com/embed/n_Z47GOOMQU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                </div>
                            </div>
                            <div class="item">
                                <div class="videobox">
                                    <iframe width="560" height="315" src="https://www.youtube.com/embed/rA-vdQgWVOs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
				</section>
				
			</div>
        </div>
		
		<!-- 國際好站 slick -->
		<section class="index-section mt-4">
            <div class="section-title">
                <h2>
                    <img src="../assets/icon-browser.png" alt="國際好站"> 國際好站
                </h2>
				<a href="#" class="more_link" tabindex="0" title="查看更多"><span>查看更多</span></a>
            </div>
            <div class="slick-center slider">
                <div class="link-container">
					<a href="#">
						
						<!-- screenshot 標準尺寸 800*500 -->
						
                        <img src="../assets/link/01.jpg" alt="國際好站17">
						<span class="site-title">教育部國際及兩岸教育司</span>
					</a>
                </div>
                <div class="link-container">
                    <a href="#">
                        <img src="../assets/link/02.jpg" alt="國際好站17">
						<span class="site-title">iEARN</span>
					</a>
                </div>
				<div class="link-container">
                    <a href="#">
                        <img src="../assets/link/03.jpg" alt="國際好站17">
						<span class="site-title">學校線上 Schools Online</span>
					</a>
                </div>
                <div class="link-container">
					<a href="#">
                        <img src="../assets/link/04.jpg" alt="國際好站17">
						<span class="site-title">美國南方國際研究中心網</span>
					</a>
                </div>
				<div class="link-container">
					<a href="#">
                        <img src="../assets/link/01.jpg" alt="國際好站17">
						<span class="site-title">教育部國際及兩岸教育司</span>
					</a>
                </div>
                <div class="link-container">
                    <a href="#">
                        <img src="../assets/link/02.jpg" alt="國際好站17">
						<span class="site-title">iEARN</span>
					</a>
                </div>
				<div class="link-container">
                    <a href="#">
                        <img src="../assets/link/03.jpg" alt="國際好站17">
						<span class="site-title">學校線上 Schools Online</span>
					</a>
                </div>
				<div class="link-container">
					<a href="#">
                        <img src="../assets/link/04.jpg" alt="國際好站17">
						<span class="site-title">美國南方國際研究中心網</span>
					</a>
                </div>
				<div class="link-container">
					<a href="#">
                        <img src="../assets/link/01.jpg" alt="國際好站17">
						<span class="site-title">教育部國際及兩岸教育司</span>
					</a>
                </div>
            </div>
		</section>
		
    </div>
</div>

<% content_for :js do %>

<% end %>




