<!-- ietw: 講師資料庫 -->

<%= render :partial => "/partials/breadcrumb" %>
<div class="sidenav-overlay"></div>
<div class="content-wrapper">
    <div class="container">

        <!-- 主要內容 -->
        <main class="main">
            <a accesskey="C" href="#accesskey_content" tabindex="0" title="主要內容" id="accesskey_content" class="ackey">:::</a>

            <article class="page-article">
                <div class="post-head">
                    <div class="post-title">
                        <img src="../assets/title_img03.png" alt="講師資料庫">
                        <h2>講師資料庫</h2>
                    </div>
                </div>

                <div class="post-content">
					
					<p>可使用任一、或多種條件塞選查詢</p>
					
                    <div class="search-wrapper">
                        <form>
                            <div class="row">
                                <div class="col-sm-4 col-md-4 col-lg-2">
                                    <div class="form-group">
                                        <label class="form-label">依課程主題搜尋</label>
                                        <select class="form-select" aria-label="Default select example">
                                            <option selected>全部顯示</option>
                                            <option value="1">One</option>
                                            <option value="2">Two</option>
                                            <option value="3">共通課程</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-8 col-md-8 col-lg-4">
                                    <div class="form-group">
                                        <label class="form-label">依課程名稱搜尋</label>
                                        <select class="form-select" aria-label="Default select example">
                                            <option selected>全部顯示</option>
                                            <option value="1">One</option>
                                            <option value="2">Two</option>
                                            <option value="3">分流課程－國際交流模組與架構實務工作坊</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-4 col-md-4 col-lg-2">
                                    <div class="form-group">
                                        <label class="form-label">依縣市搜尋</label>
                                        <select class="form-select" aria-label="Default select example">
                                            <option selected>全部顯示</option>
                                            <option value="1">One</option>
                                            <option value="2">Two</option>
                                            <option value="3">台北市</option>
                                        </select>
                                    </div>
                                </div>
								<div class="col-sm-8 col-md-8 col-lg-4">
                                    <div class="form-group">
                                        <label for="inputSearch" class="form-label">講師名稱搜尋</label>
                                        <input type="text" id="inputSearch" class="form-control">
                                    </div>
								</div>
                            </div>
                            <div class="text-center">
                                <button type="button" class="btn btn-lg btn-success">查詢</button>
                                <button type="button" class="btn btn-lg btn-light">重設</button>
                            </div>
                        </form>
                    </div>
					
					<div class="lecturer-database">
						
					    <div class="card">
							<div class="card-subject">
							    <span>共通課程</span>
							</div>
						    <div class="card-body">
							    <h5 class="card-title">SIEP課程發展與教學－國定課程</h5>
                                <div class="info-wrap">
                                    <div class="info-row">
                                        <span class="label">姓名</span>
                                        <span class="output">廖偉民</span>
                                    </div>
                                    <div class="info-row">
                                        <span class="label">職稱</span>
                                        <span class="output">校長</span>
                                    </div>
									<div class="info-row">
                                        <span class="label">單位名稱</span>
                                        <span class="output">臺東縣富山國際實驗小學</span>
                                    </div>
									<div class="info-row">
                                        <span class="label">電子信箱</span>
                                        <span class="output">weimin1031@yahoo.com.tw</span>
                                    </div>
									<div class="info-row">
                                        <span class="label">連絡電話</span>
                                        <span class="output">089-281086#111</span>
                                    </div>
                                </div>
							</div>
						</div>
						<div class="card">
							<div class="card-subject">
							    <span>共通課程</span>
							</div>
						    <div class="card-body">
							    <h5 class="card-title">實施國際教育的外環境分析</h5>
                                <div class="info-wrap">
                                    <div class="info-row">
                                        <span class="label">姓名</span>
                                        <span class="output">李志宏</span>
                                    </div>
                                    <div class="info-row">
                                        <span class="label">職稱</span>
                                        <span class="output">總稽核</span>
                                    </div>
									<div class="info-row">
                                        <span class="label">單位名稱</span>
                                        <span class="output">財團法人國際發展合作基金會</span>
                                    </div>
									<div class="info-row">
                                        <span class="label">電子信箱</span>
                                        <span class="output">jyh_horng@yahoo.com.tw</span>
                                    </div>
									<div class="info-row">
                                        <span class="label">連絡電話</span>
                                        <span class="output">02-28732323#111</span>
                                    </div>
                                </div>
							</div>
						</div>

						<% (1..10).map do |i| %>
					    <div class="card">
							<div class="card-subject">
							    <span>分流課程</span>
							</div>
						    <div class="card-body">
							    <h5 class="card-title">雙語課程模組與架構實務工作坊</h5>
                                <div class="info-wrap">
                                    <div class="info-row">
                                        <span class="label">姓名</span>
                                        <span class="output">侯怡如</span>
                                    </div>
                                    <div class="info-row">
                                        <span class="label">職稱</span>
                                        <span class="output">教師</span>
                                    </div>
									<div class="info-row">
                                        <span class="label">單位名稱</span>
                                        <span class="output">嘉義市文雅國民小學</span>
                                    </div>
									<div class="info-row">
                                        <span class="label">電子信箱</span>
                                        <span class="output">test@yahoo.com.tw</span>
                                    </div>
									<div class="info-row">
                                        <span class="label">連絡電話</span>
                                        <span class="output">05-2768011#176</span>
                                    </div>
                                </div>
							</div>
						</div>
						<% end %>
						
					</div>
					
                    <nav class="pagination-container" aria-label="Page navigation">
                        <ul class="pagination justify-content-end">
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <li class="page-item active"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </article>

        </main>
			
	</div>
</div>



<% content_for :js do %>

<% end %>




