<!-- ietw: 駐外單位聯絡資訊 -->

<%= render :partial => "/partials/breadcrumb" %>
<div class="sidenav-overlay"></div>
<div class="content-wrapper">
    <div class="container">
	    <div class="pages-row">
			
			<!-- 側欄選單 -->
            <div class="sidenav">
                <div class="scrollbar-inner">
                    <a accesskey="L" href="#accesskey_left_nav" tabindex="0" title="左側目錄" id="accesskey_left_nav" class="ackey d-none d-xl-block">:::</a>
                    <div id="accordian_nav" class="sidenav-inner">
                        <h5 class="fw-bold nav-title">臺灣國際教育旅行聯盟2.0</h5>
                        <ul>
                            <li>
                                <h4>
                                    <a href="#" title="{連結名稱}">臺灣國際教育旅行聯盟1.0沿革</a>
                                </h4>
                            </li>
                            <li>
                                <h4>
                                    <a href="#" title="{連結名稱}">臺灣國際教育旅行聯盟2.0 介紹</a>
                                </h4>
                            </li>
                            <li>
                                <h4>
                                    <a href="#" title="{連結名稱}">國際教育旅行專案分享</a>
                                </h4>
                            </li>
                            <li>
                                <h4>
                                    <a href="#" title="{連結名稱}">全臺IERC介紹及聯絡方式</a>
                                </h4>
                            </li>
                            <li>
                                <h4>
                                    <a href="#" title="{連結名稱}">先導行程規劃</a>
                                </h4>
                            </li>
                            <li>
                                <h4>
                                    <a href="#" title="{連結名稱}">全臺接待家庭手冊</a>
                                </h4>
                            </li>
                            <li>
                                <h4>
                                    <a href="#" class="current" title="{連結名稱}">駐外單位聯絡資訊</a>
                                </h4>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- 主要內容 -->
            <main class="main">
                <a accesskey="C" href="#accesskey_content" tabindex="0" title="主要內容" id="accesskey_content" class="ackey">:::</a>

                <article class="page-article">
					<div class="post-head">
						<div class="post-title">
                            <h2>駐外單位聯絡資訊</h2>
						</div>
					</div>
					
					<div class="post-content">
						
						<div class="overseas-wrapper">
                            <div class="worldmap-wrap">
                                <img class="img-fuild" src="../assets/worldmap.svg" alt="駐外單位世界地圖">
                            </div>
                            <div class="contact-wrap">
                                <ol>
                                    <li><a href="#" target="_blank" title="{連結名稱}">日本駐日本代表處教育組</a></li>
                                    <li><a href="#" target="_blank" title="{連結名稱}">駐大阪辦事處（派駐人員）</a></li>
                                    <li><a href="#" target="_blank" title="{連結名稱}">駐福岡辦事處（派駐人員）</a></li>
                                    <li><a href="#" target="_blank" title="{連結名稱}">駐韓國代表處教育組</a></li>
                                    <li><a href="#" target="_blank" title="{連結名稱}">駐香港臺北經濟文化辦事處（派駐人員）</a></li>
                                    <li><a href="#" target="_blank" title="{連結名稱}">駐越南代表處教育組</a></li>
                                    <li><a href="#" target="_blank" title="{連結名稱}">駐菲律賓代表處教育組</a></li>
                                    <li><a href="#" target="_blank" title="{連結名稱}">駐胡志明市辦事處教育組</a></li>
                                    <li><a href="#" target="_blank" title="{連結名稱}">駐印尼代表處教育組</a></li>
                                    <li><a href="#" target="_blank" title="{連結名稱}">駐泰國代表處教育組</a></li>
                                    <li><a href="#" target="_blank" title="{連結名稱}">駐馬來西亞代表處教育組</a></li>
                                    <li><a href="#" target="_blank" title="{連結名稱}">駐印度代表處教育組</a></li>
                                    <li><a href="#" target="_blank" title="{連結名稱}">駐奧地利代表處教育組</a></li>
                                    <li><a href="#" target="_blank" title="{連結名稱}">駐歐盟兼駐比利時代表處教育組</a></li>
                                    <li><a href="#" target="_blank" title="{連結名稱}">駐法國代表處教育組</a></li>
                                    <li><a href="#" target="_blank" title="{連結名稱}">駐英國代表處教育組</a></li>
                                    <li><a href="#" target="_blank" title="{連結名稱}">駐瑞典代表處教育組</a></li>
                                    <li><a href="#" target="_blank" title="{連結名稱}">駐波蘭代表處教育組</a></li>
                                    <li><a href="#" target="_blank" title="{連結名稱}">駐德國代表處教育組</a></li>
                                    <li><a href="#" target="_blank" title="{連結名稱}">駐俄羅斯代表處教育組</a></li>
                                    <li><a href="#" target="_blank" title="{連結名稱}">駐波士頓辦事處教育組</a></li>
                                    <li><a href="#" target="_blank" title="{連結名稱}">駐紐約辦事處教育組</a></li>
                                    <li><a href="#" target="_blank" title="{連結名稱}">駐休士頓辦事處教育組</a></li>
                                    <li><a href="#" target="_blank" title="{連結名稱}">駐芝加哥辦事處教育組</a></li>
                                    <li><a href="#" target="_blank" title="{連結名稱}">駐美國代表處教育組</a></li>
                                    <li><a href="#" target="_blank" title="{連結名稱}">駐洛杉磯辦事處教育組</a></li>
                                    <li><a href="#" target="_blank" title="{連結名稱}">駐舊金山辦事處教育組</a></li>
                                    <li><a href="#" target="_blank" title="{連結名稱}">駐溫哥華辦事處教育組</a></li>
                                    <li><a href="#" target="_blank" title="{連結名稱}">駐加拿大代表處教育組</a></li>
                                    <li><a href="#" target="_blank" title="{連結名稱}">駐巴拉圭共和國大使館教育參事處</a></li>
                                    <li><a href="#" title="{連結名稱}">駐澳大利亞代表處教育組</a></li>
                                </ol>
                            </div>
                        </div>
						
					</div>
				</article>
				
            </main>
			
		</div>
	</div>
</div>



<% content_for :js do %>

<% end %>




