<!-- ietw: 公告列表 -->

<%= render :partial => "/partials/breadcrumb" %>
<div class="sidenav-overlay"></div>
<div class="content-wrapper">
    <div class="container">
	    <div class="pages-row">
			
			<%= render :partial => "/partials/sidenav" %>

            <!-- 主要內容 -->
            <main class="main">
                <a accesskey="C" href="#accesskey_content" tabindex="0" title="主要內容" id="accesskey_content" class="ackey">:::</a>

                <article class="page-article">
					<div class="post-head">
						<div class="post-title">
							<img src="../assets/icon-news.png" alt="最新消息">
                            <h2>最新消息</h2>
						</div>
					</div>
					
					<div class="news-list-wrapper">
						<ul class="menu-item">
						    <li>
								<div class="img-wrap">
								    <img src="../assets/flag/korea.png" alt="圖片說明">
								</div>
								<div class="news-summary">
								    <a href="#" title="完整新聞標題" class="h5">【資料下載】SIEP成果報告書格式說明</a>
									<span class="date">2022-01-19 16:27:32</span>
								</div>
							</li>
							<li>
								<div class="img-wrap">
								    <img src="https://www.ietw2.edu.tw/ietw2/include/UploadImages/20210927160554-66862699161517b31e2808-p01.png" alt="圖片說明">
								</div>
								<div class="news-summary">
								    <a href="#" title="完整新聞標題" class="h5">臺灣國際教育旅行聯盟2.0 第五區 2021年推動國際教育旅行實務研習</a>
									<span class="date">2022-01-19 16:27:32</span>
								</div>
							</li>
							<li>
								<div class="img-wrap">
								    <img src="../assets/flag/german.png" alt="圖片說明">
								</div>
								<div class="news-summary">
								    <a href="#" title="完整新聞標題" class="h5">【轉知】歌德學院辦理2021年「共築未來」青少年永續發展計畫比賽相關訊息，邀請我國國中、高中同學參與</a>
									<span class="date">2022-01-19 16:27:32</span>
								</div>
							</li>
							<li>
								<div class="img-wrap">
								    <img src="../assets/flag/japan.png" alt="圖片說明">
								</div>
								<div class="news-summary">
								    <a href="#" title="完整新聞標題" class="h5">【資料更新】110年國際交流櫥窗（IEW）線上填報說明會簡報、手冊、活動影片已上傳</a>
									<span class="date">2022-01-19 16:27:32</span>
								</div>
							</li>
							<li>
								<div class="img-wrap">
								    <img src="https://www.ietw2.edu.tw/ietw2/include/UploadImages/20210927160554-66862699161517b31e2808-p01.png" alt="圖片說明">
								</div>
								<div class="news-summary">
								    <a href="#" title="完整新聞標題" class="h5">臺灣國際教育旅行聯盟2.0 第五區 2021年推動國際教育旅行實務研習</a>
									<span class="date">2022-01-19 16:27:32</span>
								</div>
							</li>
							<li>
								<div class="img-wrap">
								    <img src="https://www.ietw2.edu.tw/ietw2/include/UploadImages/20211119001535-936534300619679b6ead6e-p01.jpg" alt="圖片說明">
								</div>
								<div class="news-summary">
								    <a href="#" title="完整新聞標題" class="h5">【活動訊息】北海道教育旅行線上研討會（相關連結）</a>
									<span class="date">2022-01-19 16:27:32</span>
								</div>
							</li>
							<li>
								<div class="img-wrap">
								    <img src="../assets/flag/japan.png" alt="圖片說明">
								</div>
								<div class="news-summary">
								    <a href="#" title="完整新聞標題" class="h5">【活動當日相關連結】2021 臺灣國際教育旅行產官學民交流論壇</a>
									<span class="date">2022-01-19 16:27:32</span>
								</div>
							</li>
							<li>
								<div class="img-wrap">
								    <img src="https://www.ietw2.edu.tw/ietw2/include/UploadImages/20210927160554-66862699161517b31e2808-p01.png" alt="圖片說明">
								</div>
								<div class="news-summary">
								    <a href="#" title="完整新聞標題" class="h5">日臺交流協會拜訪IE專辦洽談國際教育旅行未來發展事宜</a>
									<span class="date">2022-01-19 16:27:32</span>
								</div>
							</li>
						</ul>
					</div>
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-center">
                            <li class="page-item disabled">
                                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#">Next</a>
                            </li>
                        </ul>
                    </nav>
				</article>
				
            </main>
			
		</div>
	</div>
</div>



<% content_for :js do %>

<% end %>




