<!-- ietw: 單一工具包檢視 - 相關資源 -->

<%= render :partial => "/partials/breadcrumb" %>
<div class="sidenav-overlay"></div>
<div class="content-wrapper">
    <div class="container">
		
		<div class="pages-head">
			<hgroup class="st">
                <h5>新北市立江翠國民中學</h5>
                <h2>剩食、聖食、永續 Finding solution to Hunger</h2>
			</hgroup>
		</div>
		
	    <div class="pages-row">
			
            <div class="sidenav sidenav-retrieval">
                <div class="scrollbar-inner">
                    <a accesskey="L" href="#accesskey_left_nav" tabindex="0" title="左側目錄" id="accesskey_left_nav" class="ackey d-none d-xl-block">:::</a>
                    <div id="accordian_nav" class="sidenav-inner">
                        <h5 class="fw-bold nav-title">屏東縣私立南榮國民中學</h5>
                        <div class="dl-toolkit">
                            <span>工具包下載</span>
                            <a href="#" title="下載{校名}工具包"><i class="fas fa-cloud-download-alt"></i></a>
                        </div>
                        <ul>
                            <li>
                                <h4>
                                    <a href="#" title="{連結名稱}">課程概覽</a>
                                </h4>
                            </li>
                            <li class="has-child">
                                <h4>
                                    <a href="#" title="{連結名稱}">情境分析與課程目標</a>
                                </h4>
                                <ul>
                                    <li><a href="#" title="{連結名稱}">學校資源盤點</a></li>
                                    <li><a href="#" title="{連結名稱}">國際教育現況分析</a></li>
                                    <li><a href="#" title="{連結名稱}">本學年度推動目標</a></li>
                                    <li><a href="#" title="{連結名稱}">組織分工</a></li>
                                </ul>
                            </li>
                            <li>
                                <h4>
                                    <a href="#" title="{連結名稱}">教學活動與評量</a>
                                </h4>
                            </li>
                            <li class="has-child">
                                <h4>
                                    <a href="#" title="{連結名稱}">課程實施與成效評估</a>
                                </h4>
                                <ul>
                                    <li><a href="#" title="{連結名稱}">課程實施歷程</a></li>
                                    <li><a href="#" title="{連結名稱}">學生學習成果</a></li>
                                    <li><a href="#" title="{連結名稱}">成效評估</a></li>
                                </ul>
                            </li>
                            <li>
                                <h4>
                                    <a href="#" class="current" title="{連結名稱}">相關資源</a>
                                </h4>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- 主要內容 -->
            <main class="main">
                <a accesskey="C" href="#accesskey_content" tabindex="0" title="主要內容" id="accesskey_content" class="ackey">:::</a>

                <div class="single-content">
                    <section class="section">
                        <div class="section-head head-start">
							<div class="inner">
                                <h5>參考資料</h5>
							</div>
                        </div>
                        <div class="section-content">
							<div class="post-content pt-4">
								<h6><strong>(一)網站資訊：</strong></h6>
								<ol>
								    <li>環境資訊中心 <a href="#" title="{連結名稱}">https://e-info.org.tw/</a></li>
									<li>廁所愛情故事預告片 <a href="#" title="{連結名稱}">https://www.youtube.com/watch?v=5ihi8pIU-rY</a></li>
									<li>日本里山–神秘水花園 <a href="#" title="{連結名稱}">https://www.youtube.com/watch?v=kGi3A44thQM</a></li>
								</ol>
								<h6><strong>(二)參考書籍、文章：</strong></h6>
								<ol>
								    <li>評量規準範例</li>
									<li>106年度臺北市國際教育國小學生資源手冊</li>
								</ol>
							</div>
                        </div>
                    </section>
					
					<section class="section">
                        <div class="section-head head-start">
							<div class="inner">
                                <h5>學習單與簡報</h5>
							</div>
                        </div>
                        <div class="section-content">
							<div class="post-content pt-4">
								<h6 class="my-3" style="color: #b649d1;"><strong>關懷國際特派員-志清愛水特派員</strong></h6>
                                <div class="download-wrap">
                                    <a class="dl-item" href="#" title="{連結名稱}">志1-1愛水特派員評量規準</a>
                                    <a class="dl-item" href="#" title="{連結名稱}">志1-2水資源困境分析學習單</a>
                                    <a class="dl-item" href="#" title="{連結名稱}">志1-3他山之石學習單</a>
                                    <a class="dl-item" href="#" title="{連結名稱}">志1-4愛水特派員上課簡報</a>
                                </div>
								<h6 class="my-3" style="color: #b649d1;"><strong>讓世界看見志清~小小導覽員</strong></h6>
                                <div class="download-wrap">
                                    <a class="dl-item" href="#" title="{連結名稱}">志2-1小小導覽員簡報評量規準</a>
                                    <a class="dl-item" href="#" title="{連結名稱}">志2-2小小導覽員導覽影片評量規準</a>
                                    <a class="dl-item" href="#" title="{連結名稱}">志2-3小小導覽員綜合課簡報</a>
                                    <a class="dl-item" href="#" title="{連結名稱}">志2-4小小導覽員英文課簡報</a>
                                </div>
								<h6 class="my-3" style="color: #b649d1;"><strong>各國地景大不同</strong></h6>
                                <div class="download-wrap">
                                    <a class="dl-item" href="#" title="{連結名稱}">志3-1志清世界地景彩繪作品簡介</a>
                                </div>
							</div>
                        </div>
                    </section>
					
					<section class="section">
                        <div class="section-head head-start">
							<div class="inner">
                                <h5>資源平台</h5>
							</div>
                        </div>
                        <div class="section-content">
							<div class="post-content pt-4">
								<p>iearn平台</p>
							</div>
                        </div>
                    </section>
				</div>
				
            </main>
			
		</div>
	</div>
</div>



<% content_for :js do %>

<% end %>




