<!-- ietw: 單一工具包檢視 - 情境分析與課程目標 - 組織分工 -->

<%= render :partial => "/partials/breadcrumb" %>
<div class="sidenav-overlay"></div>
<div class="content-wrapper">
    <div class="container">
		
		<div class="pages-head">
			<hgroup class="st">
                <h5>新北市立江翠國民中學</h5>
                <h2>剩食、聖食、永續 Finding solution to Hunger</h2>
			</hgroup>
		</div>
		
	    <div class="pages-row">
			
            <div class="sidenav sidenav-retrieval">
                <div class="scrollbar-inner">
                    <a accesskey="L" href="#accesskey_left_nav" tabindex="0" title="左側目錄" id="accesskey_left_nav" class="ackey d-none d-xl-block">:::</a>
                    <div id="accordian_nav" class="sidenav-inner">
                        <h5 class="fw-bold nav-title">新北市立江翠國民中學</h5>
                        <div class="dl-toolkit">
                            <span>工具包下載</span>
                            <a href="#" title="下載{校名}工具包"><i class="fas fa-cloud-download-alt"></i></a>
                        </div>
                        <ul>
                            <li>
                                <h4>
                                    <a href="#" title="{連結名稱}">課程概覽</a>
                                </h4>
                            </li>
                            <li class="has-child active">
                                <h4>
                                    <a href="#" title="{連結名稱}">情境分析與課程目標</a>
                                </h4>
                                <ul>
                                    <li><a href="#" title="{連結名稱}">學校資源盤點</a></li>
                                    <li><a href="#" title="{連結名稱}">國際教育現況分析</a></li>
                                    <li><a href="#" title="{連結名稱}">本學年度推動目標</a></li>
                                    <li><a href="#" class="current" title="{連結名稱}">組織分工</a></li>
                                </ul>
                            </li>
                            <li>
                                <h4>
                                    <a href="#" title="{連結名稱}">教學活動與評量</a>
                                </h4>
                            </li>
                            <li class="has-child">
                                <h4>
                                    <a href="#" title="{連結名稱}">課程實施與成效評估</a>
                                </h4>
                                <ul>
                                    <li><a href="#" title="{連結名稱}">課程實施歷程</a></li>
                                    <li><a href="#" title="{連結名稱}">學生學習成果</a></li>
                                    <li><a href="#" title="{連結名稱}">成效評估</a></li>
                                </ul>
                            </li>
                            <li>
                                <h4>
                                    <a href="#" title="{連結名稱}">相關資源</a>
                                </h4>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- 主要內容 -->
            <main class="main">
                <a accesskey="C" href="#accesskey_content" tabindex="0" title="主要內容" id="accesskey_content" class="ackey">:::</a>

                <div class="single-content">

                    <div class="post-content">
						<p>因支援 rwd 緣故，後台上稿系統請註明盡可能不要使用 table</p>
						
						<h4 style="color: #b649d1;">行政推動組</h4>
						
						<h5 style="color: #2583c6;"><strong>校長</strong></h5>
						<p>統籌全校協調與督導國際教育事務推動。</p>
						
						<h5 style="color: #2583c6;"><strong>教務主任、教學組長</strong></h5>
						<p>協調課程規畫、各處室協助工作、工作職掌表、落實與追蹤執行修  正、成果填報。協調課程計畫與授課、第二外語（日語）選修課程。</p>
						
						<h5 style="color: #2583c6;"><strong>輔導主任、國際教育事務組組長</strong></h5>
						<p>海外交流團行事曆安排、教育參訪團活動規劃、學生接待與活動規  劃業務。<br>國際教育課程規劃、遊學團團務、校訊編輯、安排寄宿家庭、人員培訓。</p>
						
						<h5 style="color: #2583c6;"><strong>學務主任</strong></h5>
						<p>海外遊學團進入校園後維安工作及規劃參與校園活動。</p>
						
						<h5 style="color: #2583c6;"><strong>總務處幹事</strong></h5>
						<p>英語村外師生活安排、校內外課程規劃、定期紀錄外師上課狀況、協助全台各國中小英語教學參訪。</p>
						
						<h4 style="color: #b649d1;">國際教育核心團隊</h4>
						
						<h5 style="color: #2583c6;"><strong>校長、教務主任、資訊主任、國際教育事務組組長、國際教育專案教師群</strong></h5>
						<p>行政推動小組與課程設計組溝通橋樑。籌劃與執行國際教育發展主軸、期程、各項課程研發、參與各交流國家相關資訊與課程、國際教育教學輔導、成效評估、全台成果分享。</p>
						<p>統籌校內國際教育發展方向、ICT課程軟硬體支援、數位教材與媒體製作與指導校內老師設計每年主題式教案。</p>
						
						<h4 style="color: #b649d1;">課程設計組</h4>
						
						<h5 style="color: #2583c6;"><strong>各領域教師</strong></h5>
						<p>統籌全校協調與督導國際教育事務推動。</p>
						
						<h5 style="color: #2583c6;"><strong>英語村外師、日語老師</strong></h5>
						<p>全英語教學、「話我家鄉」文化課程、寒暑假品格學習營隊、校慶藝術公演、全校日語選修課程。</p>
                    </div>
					
				</div>
				
            </main>
			
		</div>
	</div>
</div>



<% content_for :js do %>

<% end %>




