<!-- ietw: 單一工具包檢視 - 課程實施與成效評估 -->

<%= render :partial => "/partials/breadcrumb" %>
<div class="sidenav-overlay"></div>
<div class="content-wrapper">
    <div class="container">
		
		<div class="pages-head">
			<hgroup class="st">
                <h5>新北市立江翠國民中學</h5>
                <h2>剩食、聖食、永續 Finding solution to Hunger</h2>
			</hgroup>
		</div>
		
	    <div class="pages-row">
			
            <div class="sidenav sidenav-retrieval">
                <div class="scrollbar-inner">
                    <a accesskey="L" href="#accesskey_left_nav" tabindex="0" title="左側目錄" id="accesskey_left_nav" class="ackey d-none d-xl-block">:::</a>
                    <div id="accordian_nav" class="sidenav-inner">
                        <h5 class="fw-bold nav-title">屏東縣私立南榮國民中學</h5>
                        <div class="dl-toolkit">
                            <span>工具包下載</span>
                            <a href="#" title="下載{校名}工具包"><i class="fas fa-cloud-download-alt"></i></a>
                        </div>
                        <ul>
                            <li>
                                <h4>
                                    <a href="#" title="{連結名稱}">課程概覽</a>
                                </h4>
                            </li>
                            <li class="has-child">
                                <h4>
                                    <a href="#" title="{連結名稱}">情境分析與課程目標</a>
                                </h4>
                                <ul>
                                    <li><a href="#" title="{連結名稱}">學校資源盤點</a></li>
                                    <li><a href="#" title="{連結名稱}">國際教育現況分析</a></li>
                                    <li><a href="#" title="{連結名稱}">本學年度推動目標</a></li>
                                    <li><a href="#" title="{連結名稱}">組織分工</a></li>
                                </ul>
                            </li>
                            <li>
                                <h4>
                                    <a href="#" title="{連結名稱}">教學活動與評量</a>
                                </h4>
                            </li>
                            <li class="has-child active">
                                <h4>
                                    <a href="#" title="{連結名稱}">課程實施與成效評估</a>
                                </h4>
                                <ul>
                                    <li><a href="#" class="current" title="{連結名稱}">課程實施歷程</a></li>
                                    <li><a href="#" title="{連結名稱}">學生學習成果</a></li>
                                    <li><a href="#" title="{連結名稱}">成效評估</a></li>
                                </ul>
                            </li>
                            <li>
                                <h4>
                                    <a href="#" title="{連結名稱}">相關資源</a>
                                </h4>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- 主要內容 -->
            <main class="main">
                <a accesskey="C" href="#accesskey_content" tabindex="0" title="主要內容" id="accesskey_content" class="ackey">:::</a>

                <div class="single-content">
				    <div class="post-content">
						<p style="margin-bottom: 3rem; color: red;">以下舊站原始資料為展示用，後台自行編輯上稿必須避免使用 table 排版。</p>
                        <div class="editor_block">
                            <h4>&nbsp;</h4>

                            <h4>
                                <span style="color: #0000cd;"><strong>主題課程一：關懷國際特派員-志清愛水特派員</strong></span>
                            </h4>

                            <table border="3" bordercolor="#FBC91E" cellpadding="0" cellspacing="0" width="100%">
                                <tbody>
                                    <tr>
                                        <td style="width: 279px;">
                                            <p style="text-align: center;"><img alt="" src="https://www.ietw2.edu.tw/ietw2/include/img/志清-主題課程(一)教學活動紀錄-1.jpg" style="width: 449px; height: 323px;" /></p>
                                        </td>
                                        <td style="width: 275px;">
                                            <p style="text-align: center;"><img alt="" src="https://www.ietw2.edu.tw/ietw2/include/img/志清-主題課程(一)教學活動紀錄-2.jpg" style="width: 429px; height: 322px;" /></p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td bgcolor="#F4E76C" colspan="2" style="width: 553px;">
                                            <p style="text-align: center; margin-top: 10px;">
                                                引導學生搜尋網路上相關議題專題文章、新聞剪輯、影像 (圖片、影片)、深入報導，<br />
                                                課程中利用個人平版搜尋資料或製作簡報增進學生表達能力。
                                            </p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="width: 277px;">
                                            <p style="text-align: center;"><img alt="" src="https://www.ietw2.edu.tw/ietw2/include/img/志清-主題課程(一)教學活動紀錄-3.jpg" style="width: 447px; height: 352px;" /></p>
                                        </td>
                                        <td style="width: 277px;">
                                            <p style="text-align: center;"><img alt="" src="https://www.ietw2.edu.tw/ietw2/include/img/志清-主題課程(一)教學活動紀錄-4.jpg" style="width: 447px; height: 344px;" /></p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td bgcolor="#F4E76C" colspan="2" height="40" style="width: 553px;">
                                            <p style="text-align: center; margin-top: 10px;">分組上台發表，其他組別給予回饋及提問，並進行討論</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="width: 277px;">
                                            <p style="text-align: justify;"><img alt="" src="https://www.ietw2.edu.tw/ietw2/include/img/志清-主題課程(一)教學活動紀錄-5.jpg" style="width: 472px; height: 354px;" /></p>
                                        </td>
                                        <td style="width: 277px;">
                                            <p style="text-align: justify;"><img alt="" src="https://www.ietw2.edu.tw/ietw2/include/img/志清-主題課程(一)教學活動紀錄-6.jpg" style="width: 470px; height: 352px;" /></p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td bgcolor="#F4E76C" colspan="2" height="40" style="width: 553px;">
                                            <p style="text-align: center; margin-top: 10px;">同學彼此給予回饋，並以檢核表完成他評</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="width: 277px;">
                                            <p style="text-align: center;"><img alt="" src="https://www.ietw2.edu.tw/ietw2/include/img/志清-主題課程(一)教學活動紀錄-7.jpg" style="width: 423px; height: 337px;" /></p>
                                        </td>
                                        <td style="width: 277px;">
                                            <p style="text-align: center;"><img alt="" src="https://www.ietw2.edu.tw/ietw2/include/img/志清-主題課程(一)教學活動紀錄-8.jpg" style="width: 424px; height: 339px;" /></p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td bgcolor="#F4E76C" colspan="2" height="40" style="width: 553px;">
                                            <p style="text-align: center; margin-top: 10px;">小小達人準備報告資料到各班級宣導</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="width: 277px;">
                                            <p style="text-align: center;"><img alt="" src="https://www.ietw2.edu.tw/ietw2/include/img/志清-主題課程(一)教學活動紀錄-9.jpg" style="width: 423px; height: 317px;" /></p>
                                        </td>
                                        <td style="width: 277px;">
                                            <p style="text-align: center;"><img alt="" src="https://www.ietw2.edu.tw/ietw2/include/img/志清-主題課程(一)教學活動紀錄-10.jpg" style="width: 423px; height: 317px;" /></p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td bgcolor="#F4E76C" colspan="2" height="40" style="width: 553px;">
                                            <p style="text-align: center; margin-top: 10px;">愛水特派員到全校各班報告水資源報告<u>並</u>進行愛水宣導</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="width: 278px;">
                                            <p style="text-align: center;"><img alt="" src="https://www.ietw2.edu.tw/ietw2/include/img/志清-主題課程(一)教學活動紀錄-11.jpg" style="width: 423px; height: 267px;" /></p>
                                        </td>
                                        <td style="width: 276px;">
                                            <p style="text-align: center;"><img alt="" src="https://www.ietw2.edu.tw/ietw2/include/img/志清-主題課程(一)教學活動紀錄-12.jpg" style="width: 423px; height: 284px;" /></p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td bgcolor="#F4E76C" colspan="2" style="width: 553px;">
                                            <p style="text-align: center; margin-top: 10px;">參與臺北市108年度「小矽谷2.0」SDGs成果展，獲得來賓及媒體讚賞，活動中學生大方詳細的解說，</p>

                                            <p style="text-align: center;">並結合AR科技統整資料，讓體驗者能瞭解各國對於水資源議題目前的處境，</p>

                                            <p style="text-align: center;">透過大舞台展現學生學習成果，帶給孩子成就，參觀的來賓也給予高度肯定。</p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                            <p style="text-align: center;">&nbsp;</p>

                            <h4>
                                <span style="color: #0000cd;"><strong>主題課程二</strong><strong>：</strong><strong>讓世界看見志清</strong><strong>-</strong><strong>小小導覽員</strong></span>
                            </h4>

                            <table align="center" border="3" bordercolor="#FBC91E" cellpadding="0" cellspacing="0" width="567">
                                <tbody>
                                    <tr>
                                        <td height="40" style="width: 293px;">
                                            <p><img alt="" src="https://www.ietw2.edu.tw/ietw2/include/img/志清-主題課程(二)教學活動紀錄-1.jpg" style="width: 423px; height: 394px;" /></p>
                                        </td>
                                        <td style="width: 274px;">
                                            <p><img alt="" src="https://www.ietw2.edu.tw/ietw2/include/img/志清-主題課程(二)教學活動紀錄-2.jpg" style="width: 423px; height: 359px;" /></p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td bgcolor="#F4E76C" colspan="2" style="width: 567px;">
                                            <p align="center" style="margin-top: 10px;">教師準備相關資料放置雲端供學生利用平板下載參考</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="width: 293px;">
                                            <p><img alt="" src="https://www.ietw2.edu.tw/ietw2/include/img/志清-主題課程(二)教學活動紀錄-3.jpg" style="width: 423px; height: 317px;" /></p>
                                        </td>
                                        <td style="width: 274px;">
                                            <p><img alt="" src="https://www.ietw2.edu.tw/ietw2/include/img/志清-主題課程(二)教學活動紀錄-4.jpg" style="width: 423px; height: 338px;" /></p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td bgcolor="#F4E76C" height="40" style="width: 293px; margin-top: 10px;">
                                            <p style="text-align: center;">中文簡介(學生作品)</p>
                                        </td>
                                        <td bgcolor="#F4E76C" style="width: 274pxmargin-top: 10px;">
                                            <p style="text-align: center;">學生運用平板取景拍照</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="width: 293px;">
                                            <p><img alt="" src="https://www.ietw2.edu.tw/ietw2/include/img/志清-主題課程(二)教學活動紀錄-5.jpg" style="height: 317px; width: 423px;" /></p>
                                        </td>
                                        <td style="width: 274px;">
                                            <p><img alt="" src="https://www.ietw2.edu.tw/ietw2/include/img/志清-主題課程(二)教學活動紀錄-6.jpg" style="width: 423px; height: 317px;" /></p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td bgcolor="#F4E76C" colspan="2" height="40" style="width: 567px; margin-top: 10px;">
                                            <p align="center">小組討論規畫路線及分工</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td bgcolor="#F4E76C" colspan="2" style="width: 567px; text-align: center;">
                                            <p><img alt="" src="https://www.ietw2.edu.tw/ietw2/include/img/圖片5.jpg" style="width: 846px; height: 114px;" /></p>

                                            <p>英文句型(英文課進行教學)</p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                            <h4>&nbsp;</h4>

                            <h4>
                                <span style="color: #0000cd;"><strong>主題課程三</strong><strong>：各國</strong><strong>地景大不同</strong></span>
                            </h4>

                            <table align="center" border="3" bordercolor="#FBC91E" cellpadding="0" cellspacing="0" style="width: 567px;" width="567">
                                <tbody>
                                    <tr>
                                        <td style="width: 287px;">
                                            <p><img alt="" src="https://www.ietw2.edu.tw/ietw2/include/img/志清-主題課程(三)教學活動紀錄-1.jpg" style="width: 423px; height: 317px;" /></p>
                                        </td>
                                        <td style="width: 280px;">
                                            <p><img alt="" src="https://www.ietw2.edu.tw/ietw2/include/img/志清-主題課程(三)教學活動紀錄-2.jpg" style="width: 423px; height: 317px;" /></p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td bgcolor="#F4E76C" colspan="2" height="40" style="width: 567px; margin-top: 10px;">
                                            <p align="center">社會課認識家鄉之美-討論分享臺灣特色景點</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="width: 287px;">
                                            <p><img alt="" src="https://www.ietw2.edu.tw/ietw2/include/img/志清-主題課程(三)教學活動紀錄-3.jpg" style="width: 423px; height: 317px;" /></p>
                                        </td>
                                        <td style="width: 280px;">
                                            <p><img alt="" src="https://www.ietw2.edu.tw/ietw2/include/img/志清-主題課程(三)教學活動紀錄-4.jpg" style="width: 423px; height: 343px;" /></p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td bgcolor="#F4E76C" height="40" style="width: 287px; margin-top: 10px;">
                                            <p align="center">寫下臺灣具有特色的景觀或地標的介紹</p>
                                        </td>
                                        <td bgcolor="#F4E76C" style="width: 280px; margin-top: 10px;">
                                            <p align="center">蒐集臺灣特色景觀或地標的資料</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="width: 287px;">
                                            <p><img alt="" src="https://www.ietw2.edu.tw/ietw2/include/img/志清-主題課程(三)教學活動紀錄-5.jpg" style="width: 423px; height: 317px;" /></p>
                                        </td>
                                        <td style="width: 280px;">
                                            <p><img alt="" src="https://www.ietw2.edu.tw/ietw2/include/img/志清-主題課程(三)教學活動紀錄-6.jpg" style="width: 423px; height: 317px;" /></p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td bgcolor="#F4E76C" height="40" style="width: 287px; margin-top: 10px;">
                                            <p align="center">世界特色景觀賞析</p>
                                        </td>
                                        <td bgcolor="#F4E76C" height="45" style="width: 280px; text-align: center; margin-top: 10px;">
                                            電腦課進行資料查找<br />
                                            (臺灣特色景觀、世界特色地景)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td height="40" style="width: 287px;">
                                            <p><img alt="" src="https://www.ietw2.edu.tw/ietw2/include/img/志清-主題課程(三)教學活動紀錄-7.jpg" style="width: 423px; height: 317px;" /></p>
                                        </td>
                                        <td style="width: 280px;">
                                            <p><img alt="" src="https://www.ietw2.edu.tw/ietw2/include/img/志清-主題課程(三)教學活動紀錄-8.jpg" style="width: 423px; height: 317px;" /></p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td bgcolor="#F4E76C" height="45" style="width: 287px; text-align: center; margin-top: 10px;">設計世界地景解謎題目，讓各年級小朋友來認識世界地景</td>
                                        <td bgcolor="#F4E76C" height="45" style="width: 280px; text-align: center; margin-top: 10px;">
                                            設計世界地景線上解謎題目，<br />
                                            讓高年級小朋友透過解謎任務深入了解世界地景
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                            <p>&nbsp;</p>

                            <p>&nbsp;</p>

                            <p>&nbsp;</p>
                        </div>
					</div>
				</div>
				
            </main>
			
		</div>
	</div>
</div>



<% content_for :js do %>

<% end %>




