<!-- ietw: 國定課程工具包檢索平臺 -->

<%= render :partial => "/partials/breadcrumb" %>
<div class="sidenav-overlay"></div>
<div class="content-wrapper">
    <div class="container">
	    <div class="pages-row">
			
			<%= render :partial => "/partials/sidenav" %>

            <!-- 主要內容 -->
            <main class="main">
                <a accesskey="C" href="#accesskey_content" tabindex="0" title="主要內容" id="accesskey_content" class="ackey">:::</a>

                <article class="page-article">
					<div class="post-head">
						<div class="post-title">
							<img src="../assets/title_img04.png" alt="國定課程工具包檢索平臺">
                            <h2>國定課程工具包檢索平臺</h2>
						</div>
					</div>
					
					<div class="post-content">
						
                        <div class="page-content_note">
                            <div class="wrap">
								<span class="text">課程工具包檢索平臺以三種檢索方式作為途徑</span>
							</div>
                        </div>
						<ol class="retrieval-type">
						    <li>
								<div class="inner">
                                    <span class="icon"><img src="../assets/search_icon01.png" alt="工具包檢索圖示"></span>
                                    <a href="#">
                                        <h4>工具包檢索</h4>
                                        <p>藉由國際教育議題實質內涵，搜尋對應之學習目標，並連線至課程工具包。</p>
                                    </a>
								</div>
							</li>
							<li>
								<div class="inner">
                                    <span class="icon"><img src="../assets/search_icon02.png" alt="學習目標檢索圖示"></span>
                                    <a href="#">
                                        <h4>學習目標檢索</h4>
                                        <p>藉由教育階段、課程類型、進行方式與主題搜尋課程工具包。</p>
                                    </a>
								</div>
							</li>
							<li>
								<div class="inner">
                                    <span class="icon"><img src="../assets/search_icon03.png" alt="教學資源檢索圖示"></span>
                                    <a href="#">
                                        <h4>教學資源檢索</h4>
                                        <p>提供教學資源搜尋(包含學習單、評量規準、教學簡報與影片等)，並連結相應的課程工具包。</p>
                                    </a>
								</div>
							</li>
						</ol>
						
					</div>
				</article>
				
            </main>
			
		</div>
	</div>
</div>



<% content_for :js do %>

<% end %>




