<!-- ietw: 教學資源檢索 -->

<%= render :partial => "/partials/breadcrumb" %>
<div class="sidenav-overlay"></div>
<div class="content-wrapper">
    <div class="container">
	    <div class="pages-row">
			
			<%= render :partial => "/partials/sidenav" %>

            <!-- 主要內容 -->
            <main class="main">
                <a accesskey="C" href="#accesskey_content" tabindex="0" title="主要內容" id="accesskey_content" class="ackey">:::</a>

                <article class="page-article">
					<div class="post-head">
						<div class="post-title">
							<img src="../assets/title_img04.png" alt="教學資源檢索">
                            <h2>教學資源檢索</h2>
						</div>
					</div>
					
					<div class="post-content">
						
                        <div class="page-content_note">
                            <div class="wrap">
								<span class="icon"><img src="../assets/search_icon01.png" alt="教學資源檢索"></span>
								<span class="text">可依據教育階段、資源類型、關鍵概念與課程關鍵字進行工具包搜尋。</span>
							</div>
                        </div>
						
						<div class="content-search">
							<form>
								<div class="row">
									<div class="col-lg-3 col-md-6">
                                        <div class="form-group">
                                            <label class="form-label">教育階段</label>
                                            <select class="form-select" aria-label="Default select example">
                                                <option selected>Open this select menu</option>
                                                <option value="1">One</option>
                                                <option value="2">Two</option>
                                                <option value="3">Three</option>
                                            </select>
                                        </div>
									</div>
									<div class="col-lg-3 col-md-6">
                                        <div class="form-group">
                                            <label class="form-label">課程類型</label>
                                            <select class="form-select" aria-label="Default select example">
                                                <option selected>Open this select menu</option>
                                                <option value="1">One</option>
                                                <option value="2">Two</option>
                                                <option value="3">Three</option>
                                            </select>
                                        </div>
									</div>
									<div class="col-lg-3 col-md-6">
                                        <div class="form-group">
                                            <label class="form-label">進行方式</label>
                                            <select class="form-select" aria-label="Default select example">
                                                <option selected>Open this select menu</option>
                                                <option value="1">One</option>
                                                <option value="2">Two</option>
                                                <option value="3">Three</option>
                                            </select>
                                        </div>
									</div>
									<div class="col-lg-3 col-md-6">
									    <div class="form-group">
										    <label for="keywordInput" class="form-label">關鍵字搜尋</label>
											<input type="text" class="form-control" id="keywordInput">
										</div>
									</div>
								</div>
								<div class="text-center">
									<button type="submit" class="btn btn-lg btn-success">搜尋</button>
								</div>
							</form>
                        </div>
						
						<div class="result-search">
						    <h4 class="result-hd"><i class="fas fa-search text-success"></i> 搜尋結果</h4>
							
							<ul class="result-list result-resources-list menu-item">
								<% (1..4).map do |i| %>
							    <li class="result-item">
								    <span class="school">屏東縣私立南榮國民中學</span>
									<a class="title" href="#" tabindex="0" title="{完整標題}">
										<strong>世界，就是我的教室(草稿編輯中)</strong>
										活動:「Hello ! 福爾摩沙」
									</a>
									<a class="product" href="#" target="_blank" tabindex="0" title="{完整標題}">簡報:太平洋上的小珍珠上課簡報</a>
								</li>
								<li class="result-item">
								    <span class="school">臺東縣立富山國民小學</span>
									<a class="title" href="#" tabindex="0" title="{完整標題}">
										<strong>[蘭雅i國際—全球公民責任]</strong>
										活動:i人權：人權大步走
									</a>
									<a class="product" href="#" target="_blank" tabindex="0" title="{完整標題}">簡報:全球議題探討：人權--難民悲歌上課簡報</a>
								</li>
								<li class="result-item">
								    <span class="school">新北市立樟樹國際實創高級中學</span>
									<a class="title" href="#" tabindex="0" title="{完整標題}">
										<strong>[翻轉地球，定向世界]</strong>
										活動:向饑餓說 Bye Bye
									</a>
									<a class="product" href="#" target="_blank" tabindex="0" title="{完整標題}">簡報:翠1-1【簡報】國際永續發展SDGS</a>
								</li>
								<li class="result-item">
								    <span class="school">臺北市立劍潭國民小學</span>
									<a class="title" href="#" tabindex="0" title="{完整標題}">
										<strong>[剩食、聖食、永續  Finding solution to Hunger]</strong>
										活動:一餐一桌、剩食危機
									</a>
									<a class="product" href="#" target="_blank" tabindex="0" title="{完整標題}">文章與案例:小小導覽員英文課簡報</a>
								</li>
								<% end %>
							</ul>
						</div>
						
					</div>
				</article>
				
            </main>
			
		</div>
	</div>
</div>



<% content_for :js do %>

<% end %>




