<!-- ietw: 單一工具包檢視 - 情境分析與課程目標 - 國際教育現況分析 -->

<%= render :partial => "/partials/breadcrumb" %>
<div class="sidenav-overlay"></div>
<div class="content-wrapper">
    <div class="container">
		
		<div class="pages-head">
			<hgroup class="st">
                <h5>新北市立江翠國民中學</h5>
                <h2>剩食、聖食、永續 Finding solution to Hunger</h2>
			</hgroup>
		</div>
		
	    <div class="pages-row">
			
            <div class="sidenav sidenav-retrieval">
                <div class="scrollbar-inner">
                    <a accesskey="L" href="#accesskey_left_nav" tabindex="0" title="左側目錄" id="accesskey_left_nav" class="ackey d-none d-xl-block">:::</a>
                    <div id="accordian_nav" class="sidenav-inner">
                        <h5 class="fw-bold nav-title">新北市立江翠國民中學</h5>
                        <div class="dl-toolkit">
                            <span>工具包下載</span>
                            <a href="#" title="下載{校名}工具包"><i class="fas fa-cloud-download-alt"></i></a>
                        </div>
                        <ul>
                            <li>
                                <h4>
                                    <a href="#" title="{連結名稱}">課程概覽</a>
                                </h4>
                            </li>
                            <li class="has-child active">
                                <h4>
                                    <a href="#" title="{連結名稱}">情境分析與課程目標</a>
                                </h4>
                                <ul>
                                    <li><a href="#" title="{連結名稱}">學校資源盤點</a></li>
                                    <li><a href="#" class="current" title="{連結名稱}">國際教育現況分析</a></li>
                                    <li><a href="#" title="{連結名稱}">本學年度推動目標</a></li>
                                    <li><a href="#" title="{連結名稱}">組織分工</a></li>
                                </ul>
                            </li>
                            <li>
                                <h4>
                                    <a href="#" title="{連結名稱}">教學活動與評量</a>
                                </h4>
                            </li>
                            <li class="has-child">
                                <h4>
                                    <a href="#" title="{連結名稱}">課程實施與成效評估</a>
                                </h4>
                                <ul>
                                    <li><a href="#" title="{連結名稱}">課程實施歷程</a></li>
                                    <li><a href="#" title="{連結名稱}">學生學習成果</a></li>
                                    <li><a href="#" title="{連結名稱}">成效評估</a></li>
                                </ul>
                            </li>
                            <li>
                                <h4>
                                    <a href="#" title="{連結名稱}">相關資源</a>
                                </h4>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- 主要內容 -->
            <main class="main">
                <a accesskey="C" href="#accesskey_content" tabindex="0" title="主要內容" id="accesskey_content" class="ackey">:::</a>

                <div class="single-content">
					
					<h4>學校近二年推動國際教育課程之情形</h4>
					
                    <section class="section">
                        <div class="section-head head-start">
							<div class="inner">
                                <h5>課程進行方式</h5>
							</div>
                        </div>
                        <div class="section-content">
							<div class="tag-wrap">
								<div class="item">
								    <span class="circle"><i class="fas fa-check"></i></span>
									<span class="text">議題融入</span>
								</div>
								<div class="item">
								    <span class="circle"><i class="fas fa-check"></i></span>
									<span class="text">國際專案學習交流</span>
								</div>
							</div>
							<div class="post-content">
								<ol>
								    <li>議題融入：從105學年度開始，規劃全校一到六年級以議題融入方式設計國際教育課程；並搭配相關議題書箱進行全校推廣閱讀。</li>
									<li>國際專案學習交流：從107學年度開始，搭配國際學伴計畫，每學期選拔20~30名高年級學生與國際生進行八次視訊課程；從102學年度開始，搭配國際志工計畫，進行全校性課程規劃，開闊學生國際視野。</li>
								</ol>
							</div>
                        </div>
                    </section>
					
					<section class="section">
                        <div class="section-head head-start">
							<div class="inner">
                                <h5>課程類型</h5>
							</div>
                        </div>
                        <div class="section-content">
							<div class="tag-wrap">
								<div class="item">
								    <span class="circle"><i class="fas fa-check"></i></span>
									<span class="text">校訂課程</span>
								</div>
							</div>
							<div class="post-content">
								<ol>
								    <li>校訂課程：規畫一到六年級國際教育校訂課程，在每學年上學期第11~20週校訂課程中的彈性課程實施。</li>
									<li>彈性學習：國際學伴上下學期各進行八次的視訊，每學期申請3~6組國際學伴，學生要根據主題進行準備視訊準備內容；國際志工計畫視媒合情況實施，每位國際志工進行6~8週相關課程。</li>
								</ol>
							</div>
                        </div>
                    </section>
					
					<section class="section">
                        <div class="section-head head-start">
							<div class="inner">
                                <h5>課程主題</h5>
							</div>
                        </div>
                        <div class="section-content">
							<div class="tag-wrap">
								<div class="item">
								    <span class="circle"><i class="fas fa-check"></i></span>
									<span class="text">文化學習</span>
								</div>
								<div class="item">
								    <span class="circle"><i class="fas fa-check"></i></span>
									<span class="text">國際關聯</span>
								</div>
								<div class="item">
								    <span class="circle"><i class="fas fa-check"></i></span>
									<span class="text">全球議題</span>
								</div>
							</div>
							<div class="post-content">
								<p>各年級以SDGs的概念發展課程</p>
								<ol>
								    <li>一年級：世界美食嘉年華(SDGs二消除飢餓)<br>認識生活中常見的國際特色食物，理解國際中常見的飲食禁忌，進行班級營養午餐零廚餘活動，為消除全球飢餓盡一份心力。</li>
									<li>二年級：世界服飾大觀園(SDGs十二責任消費及生產)<br>認識亞洲各國特色服飾,理解快時尚帶來的環保問題,進行二手衣物捐贈活動，建立正確的永續消費觀念。</li>
									<li>三年級：「異」童上學去(SDGs四優質教育)<br>利用ORID分析影片國家孩童失學的原因，並代表該國孩童發言。進而珍惜自己擁有的受教權，寫出全班或個人愛上學的五種具體表現，創作「愛上學宣言」。</li>
									<li>四年級：世界「水」不「水」? (SDGs六淨水及衛生）<br>珍惜水資源，自動養成節約用水習慣；全班製作「『潔』水大作戰」檢核表，身體力行實施「潔」水任務。</li>
									<li>五年級：「緣」來都是一家人(SDGs十減少不平等)<br>透過生活觀察與講座，理解移工、新住民來台遭遇的困境；繪製竹北生活地圖，以實際行動關懷周遭新住民，學會互相尊重與包容。</li>
									<li>六年級：打造竹北永續城市(SDG 11永續城市與社區)<br>學生以小組的形式選定一個竹北地區待改善的生活環境問題；運用DFC四步驟，發展並執行行動方案；並將成果剪輯成微電影，在網路平台分享小組執行行動方案的過程、成果與感想。</li>
								</ol>
							</div>
                        </div>
                    </section>
					
					<section class="section">
                        <div class="section-head head-start">
							<div class="inner">
                                <h5>統整模式</h5>
							</div>
                        </div>
                        <div class="section-content">
							<div class="tag-wrap">
								<div class="item">
								    <span class="circle"><i class="fas fa-check"></i></span>
									<span class="text">跨領域統整</span>
								</div>
							</div>
							<div class="post-content">
								<p>本校國際教育校訂課程配合學生發展與課程的專業內容，低年級結合語文(閱讀)、生活為主；中高年級結合英語、社會、資訊、綜合以及藝術課程，以跨領域統整的方式完整建立學生國際觀；最後更希望學生在六年級能進行DFC公民行動，關懷身邊的環境，達成全球公民的基本素養。</p>
							</div>
                        </div>
                    </section>
					
					<section class="section">
                        <div class="section-head head-start">
							<div class="inner">
                                <h5>融入之課程領域</h5>
							</div>
                        </div>
                        <div class="section-content">
							<div class="tag-wrap">
								<div class="item">
								    <span class="circle"><i class="fas fa-check"></i></span>
									<span class="text">語文</span>
								</div>
								<div class="item">
								    <span class="circle"><i class="fas fa-check"></i></span>
									<span class="text">社會</span>
								</div>
								<div class="item">
								    <span class="circle"><i class="fas fa-check"></i></span>
									<span class="text">自然科學</span>
								</div>
								<div class="item">
								    <span class="circle"><i class="fas fa-check"></i></span>
									<span class="text">綜合活動</span>
								</div>
								<div class="item">
								    <span class="circle"><i class="fas fa-check"></i></span>
									<span class="text">科技</span>
								</div>
								<div class="item">
								    <span class="circle"><i class="fas fa-check"></i></span>
									<span class="text">藝術</span>
								</div>
								<div class="item">
								    <span class="circle"><i class="fas fa-check"></i></span>
									<span class="text">健康與體育</span>
								</div>
							</div>
							<div class="post-content">
								<p>一到六年級國際教育課程在彈性課程中實施；一~四年級導師兼任國語、數學、生活、綜合、藝術等科目，所以在課程實施上為跨領域統整教學。更因為有全校共備的規劃，社會、自然、科技、健體等科任老師隨時進行協同教學。</p>
							</div>
                        </div>
                    </section>
					
				</div>
				
            </main>
			
		</div>
	</div>
</div>



<% content_for :js do %>

<% end %>




