<!-- ietw: 單一工具包檢視 - 情境分析與課程目標 - 本學年度推動目標 -->

<%= render :partial => "/partials/breadcrumb" %>
<div class="sidenav-overlay"></div>
<div class="content-wrapper">
    <div class="container">
		
		<div class="pages-head">
			<hgroup class="st">
                <h5>新北市立江翠國民中學</h5>
                <h2>剩食、聖食、永續 Finding solution to Hunger</h2>
			</hgroup>
		</div>
		
	    <div class="pages-row">
			
            <div class="sidenav sidenav-retrieval">
                <div class="scrollbar-inner">
                    <a accesskey="L" href="#accesskey_left_nav" tabindex="0" title="左側目錄" id="accesskey_left_nav" class="ackey d-none d-xl-block">:::</a>
                    <div id="accordian_nav" class="sidenav-inner">
                        <h5 class="fw-bold nav-title">新北市立江翠國民中學</h5>
                        <div class="dl-toolkit">
                            <span>工具包下載</span>
                            <a href="#" title="下載{校名}工具包"><i class="fas fa-cloud-download-alt"></i></a>
                        </div>
                        <ul>
                            <li>
                                <h4>
                                    <a href="#" title="{連結名稱}">課程概覽</a>
                                </h4>
                            </li>
                            <li class="has-child active">
                                <h4>
                                    <a href="#" title="{連結名稱}">情境分析與課程目標</a>
                                </h4>
                                <ul>
                                    <li><a href="#" title="{連結名稱}">學校資源盤點</a></li>
                                    <li><a href="#" title="{連結名稱}">國際教育現況分析</a></li>
                                    <li><a href="#" class="current" title="{連結名稱}">本學年度推動目標</a></li>
                                    <li><a href="#" title="{連結名稱}">組織分工</a></li>
                                </ul>
                            </li>
                            <li>
                                <h4>
                                    <a href="#" title="{連結名稱}">教學活動與評量</a>
                                </h4>
                            </li>
                            <li class="has-child">
                                <h4>
                                    <a href="#" title="{連結名稱}">課程實施與成效評估</a>
                                </h4>
                                <ul>
                                    <li><a href="#" title="{連結名稱}">課程實施歷程</a></li>
                                    <li><a href="#" title="{連結名稱}">學生學習成果</a></li>
                                    <li><a href="#" title="{連結名稱}">成效評估</a></li>
                                </ul>
                            </li>
                            <li>
                                <h4>
                                    <a href="#" title="{連結名稱}">相關資源</a>
                                </h4>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- 主要內容 -->
            <main class="main">
                <a accesskey="C" href="#accesskey_content" tabindex="0" title="主要內容" id="accesskey_content" class="ackey">:::</a>

                <div class="single-content">

                    <div class="post-content">
						<h5 style="color: #b649d1;"><strong>目標一：推展學習成果分享並滾動修正國際教育課程。</strong></h5>
						<ul>
                            <li>1-1 教師能收集學生學習成果，於週三教師進修時間，各學年分享國際教育成果。</li>
                            <li>1-2 學校將各年級國際教育相關課程及活動，彙整成冊，作為下一年度國際教育課程修訂參考。</li>
						</ul>
						<h5 style="color: #b649d1;"><strong>目標二：課程能帶領學生發展具國際視野的本土認同。</strong></h5>
						<ul>
                            <li>2-1 能設計多元國際文化學習活動引導學生理解國際文化多樣性，探究我國與其他國的飲食、服飾文化的特色。</li>
                            <li>2-2 能設計課程引導學生向世界行銷自己的家鄉，發展本土認同與培養表逹本土文化特色的能力。</li>
						</ul>
						<h5 style="color: #b649d1;"><strong>目標三：精進各年級課程SDGs之議題融入。</strong></h5>
						<ul>
                            <li>3-1 學校每學年至少規畫三小時SDGs相關課程研習，提升教師課程修訂的能力。</li>
                            <li>3-2 議題融入朝行動取向設計，課程學習行動聚焦目標細項設計主題教案或學習單，並持續滾動式修正全校一到六年級國際教育校訂課程。</li>
						</ul>
						<h5 style="color: #b649d1;"><strong>目標四：觀察生活中的議題，並構思生活行動策略。</strong></h5>
						<ul>
                            <li>4-1 教師能帶領學生完成各年級國際教育SDGs相關議題課程，將實際行動落實於生活中。</li>
                            <li>4-2 學校提供學生DFC行動所需經費及行政支援。</li>
						</ul>
                    </div>
					
				</div>
				
            </main>
			
		</div>
	</div>
</div>



<% content_for :js do %>

<% end %>




