<!-- ietw: 客製化表格 -->

<%= render :partial => "/partials/breadcrumb" %>
<div class="sidenav-overlay"></div>
<div class="content-wrapper">
    <div class="container">
	    <div class="row">
			<% (1..12).map do |i| %>
			<div class="col-3 my-4">
                <table class="table table-s<%= i %>">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>First</th>
                            <th>Last</th>
                            <th>Handle</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% (1..4).map do |i| %>
                        <tr>
                            <th><%= i %></th>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                        </tr>
                        <% end %>
                    </tbody>
                </table>
			</div>
			<% end %>
		</div>
	</div>
</div>




