<!-- ietw: 成果專區 (相簿) -->

<%= render :partial => "/partials/breadcrumb" %>
<div class="sidenav-overlay"></div>
<div class="content-wrapper">
    <div class="container">
	    <div class="pages-row">
			
			<!-- 側欄選單 -->
            <div class="sidenav">
                <div class="scrollbar-inner">
                    <a accesskey="L" href="#accesskey_left_nav" tabindex="0" title="左側目錄" id="accesskey_left_nav" class="ackey d-none d-xl-block">:::</a>
                    <div id="accordian_nav" class="sidenav-inner">
                        <h5 class="fw-bold nav-title">研習資訊</h5>
                        <ul>
                            <li>
                                <h4>
                                    <a href="#" class="current" title="{連結名稱}">共通課程講師培力營</a>
                                </h4>
                            </li>
                            <li>
                                <h4>
                                    <a href="#" title="{連結名稱}">分流課程講師培力營</a>
                                </h4>
                            </li>
							<li>
                                <h4>
                                    <a href="#" title="{連結名稱}">教育行政人員培力營</a>
                                </h4>
                            </li>
                            <li>
                                <h4>
                                    <a href="#" title="{連結名稱}">中央培力團</a>
                                </h4>
                            </li>
							<li>
                                <h4>
                                    <a href="#" title="{連結名稱}">地方培力團</a>
                                </h4>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- 主要內容 -->
            <main class="main">
                <a accesskey="C" href="#accesskey_content" tabindex="0" title="主要內容" id="accesskey_content" class="ackey">:::</a>

                <article class="page-article">
					
					<div class="post-content">
						
                        <div class="album-list">
							<% (1..20).map do |i| %>
							<a href="#" class="album-link" title="{連結名稱}">
                                <figure>
                                    <img src="../assets/fake/04.jpg" alt="圖片說明">
                                    <figcaption>講師研習營施計畫(SIEP雙語課程)</figcaption>
                                </figure>
								<span class="date" title="日期"><i class="far fa-clock"></i> 2021-10-28</span>
							</a>
							<% end %>
							<a href="#" class="album-link" title="{連結名稱}">
                                <figure>
                                    <img src="../assets/fake/fake-01.jpg" alt="圖片說明">
                                    <figcaption>講師研習營施計畫(實施國際教育的外環境分析)</figcaption>
                                </figure>
								<span class="date" title="日期"><i class="far fa-clock"></i> 2021-10-28</span>
							</a>
							<a href="#" class="album-link" title="{連結名稱}">
                                <figure>
                                    <img src="../assets/fake/03.jpg" alt="圖片說明">
                                    <figcaption>An elephant at sunset</figcaption>
                                </figure>
								<span class="date" title="日期"><i class="far fa-clock"></i> 2021-10-28</span>
							</a>
                        </div>
						
					</div>
				</article>
				
            </main>
			
		</div>
	</div>
</div>



<% content_for :js do %>

<% end %>




