<!-- event-page: 個人資料修改 -->

<main class="main pt-5">
	<div class="container">
		<div class="account-wrapper">
            <div class="account-nav">
			    <ul class="menu-item">
				    <li><a href="#" class="current" title="個人資訊">個人資訊</a></li>
					<li><a href="#" title="參加的活動">參加的活動</a></li>
					<li><a href="#" title="變更密碼">變更密碼</a></li>
				</ul>
			</div>
			<div class="main-content">
			    <h2 class="page-title">個人資訊</h2>
                <form>
                    <div class="row">
                        <div class="col-md-6 col-12">
                            <div class="form-group">
                                <label for="registerEmail">Email</label>
                                <input type="text" class="form-control disabled" id="registerEmail" value="scarlett.johansson@gmail.com">
                            </div>
                        </div>
                        <div class="col-md-6 col-12">
                            <div class="form-group">
                                <label for="registerCard">僑胞卡卡號</label>
                                <input type="text" class="form-control" id="registerCard" value="COVID-19">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>洲別國別</label>
                        <div class="form-inline">
                            <div class="form-continent">
                                <select class="browser-default custom-select">
                                    <option selected>請選擇洲別</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                            </div>
                            <div class="form-country">
                                <select class="browser-default custom-select">
                                    <option selected>請選擇國家</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>外館轄區別</label>
                        <div>
                            <select class="browser-default custom-select">
                                <option>台北駐日經濟文化代表處橫濱分處</option>
                                <option>中國大陸香港</option>
                                <option>中國大陸澳門</option>
                                <option>中華民國駐阿拉伯聯合大公國杜拜商務辦事處</option>
                                <option>台北莫斯科經濟文化協調委員會駐莫斯科代表處</option>
                                <option>台北駐大阪經濟文化辦事處</option>
                                <option>台北駐大阪經濟文化辦事處福岡分處</option>
                                <option>台北駐日經濟文化代表處</option>
                                <option>台北駐日經濟文化代表處札幌分處</option>
                                <option>台北駐日經濟文化代表處那霸分處</option>
                                <option>中華民國（台灣）駐約旦商務辦事處</option>
                                <option>台灣駐巴林商務代表團</option>
                                <option>駐台拉維夫台北經濟文化辦事處</option>
                                <option>駐印尼台北經濟貿易代表處</option>
                                <option>駐吉里巴斯共和國大使館</option>
                                <option>駐安卡拉經濟文化代表團</option>
                                <option>駐汶萊台北經濟文化辦事處</option>
                                <option>駐沙烏地阿拉伯王國台北經濟文化代表處</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-12">
                            <div class="form-group">
                                <label for="registerChinese">中文姓名</label>
                                <input type="text" class="form-control" id="registerChinese">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>英文姓名</label>
                        <div class="form-row">
                            <div class="col-md-4 col-12 mb-2">
                                <input type="text" class="form-control" placeholder="first">
                            </div>
                            <div class="col-md-4 col-12 mb-2">
                                <input type="text" class="form-control" placeholder="middle">
                            </div>
                            <div class="col-md-4 col-12 mb-2">
                                <input type="text" class="form-control" placeholder="last">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>性別</label>
                        <div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" class="custom-control-input" id="registerMale" name="registerGender">
                                <label class="custom-control-label" for="registerMale">男</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" class="custom-control-input" id="registerFemale" name="registerGender">
                                <label class="custom-control-label" for="registerFemale">女</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 col-12">
                            <div class="form-group">
                                <label>出生日期</label>
                                <div id="date-picker-example" class="md-form md-outline input-with-post-icon datepicker white mt-0" inline="true">
                                    <input placeholder="Select date" type="text" id="example" class="form-control" />
                                    <i class="fa fa-calendar input-prefix"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-12">
                            <div class="form-group">
                                <label>出生地</label>
                                <div>
                                    <select class="browser-default custom-select">
                                        <option>台灣</option>
                                        <option>其他</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-12">
                            <div class="form-group">
                                <label>最高學歷</label>
                                <div>
                                    <select class="browser-default custom-select">
                                        <option>小學</option>
                                        <option>研究所</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-action">
                        <a href="#" class="btn btn-primary mr-2" title="儲存">儲存</a>
                        <a href="#" class="btn btn-link" title="取消">取消</a>
                    </div>
                </form>
			</div>
		</div>
    </div>
</main>
<a id="backtop"></a>


<% content_for :js do %>
	<!-- Back to top -->
	<script>
        var btn = $('#backtop');

        $(window).scroll(function() {
          if ($(window).scrollTop() > 600) {
            btn.addClass('show');
          } else {
            btn.removeClass('show');
          }
        });

        btn.on('click', function(e) {
          e.preventDefault();
          $('html, body').animate({scrollTop:0}, '300');
        });
	</script>
<% end %>
