<!-- event-page: 場地租借表單 -->

<main class="main">
	<div class="container">
        <div class="venue-wrapper">
			<h3 class="continent-title">亞洲</h3>
			<div class="continent-wrapper">
				<% (1..4).map do |i| %>
			    <div class="agency-item">
				    <h6 class="region-title">菲華文教服務中心</h6>
					<div class="bd">
					    <a href="#">場地借用申請表</a>
					</div>
				</div>
				<div class="agency-item">
				    <h6 class="region-title">駐泰國代表處僑務組</h6>
					<div class="bd">
					    <a href="#">場地借用申請表</a>
					</div>
				</div>
				<% end %>
			</div>
		</div>
		
		<div class="venue-wrapper">
			<h3 class="continent-title">歐洲</h3>
			<div class="continent-wrapper">
				<% (1..3).map do |i| %>
			    <div class="agency-item">
				    <h6 class="region-title">駐法國代表處僑務組</h6>
					<div class="bd">
					    <a href="#">場地借用申請表</a>
					</div>
				</div>
				<div class="agency-item">
				    <h6 class="region-title">駐德國代表處僑務秘書</h6>
					<div class="bd">
					    <a href="#">場地借用申請表</a>
					</div>
				</div>
				<% end %>
			</div>
		</div>
		
		<div class="venue-wrapper">
			<h3 class="continent-title">北美洲</h3>
			<div class="continent-wrapper">
				<% (1..5).map do |i| %>
			    <div class="agency-item">
				    <h6 class="region-title">駐溫哥華辦事處僑務組</h6>
					<div class="bd">
					    <a href="#">場地借用申請表</a>
					</div>
				</div>
				<div class="agency-item">
				    <h6 class="region-title">洛杉磯華僑文教服務中心</h6>
					<div class="bd">
					    <a href="#">場地借用申請表</a>
					</div>
				</div>
				<div class="agency-item">
				    <h6 class="region-title">金山灣區華僑文教服務中心</h6>
					<div class="bd">
					    <a href="#">場地借用申請表</a>
					</div>
				</div>
				<% end %>
			</div>
		</div>
		
		<div class="venue-wrapper">
			<h3 class="continent-title">中南美洲</h3>
			<div class="continent-wrapper">
			    <div class="agency-item">
				    <h6 class="region-title">駐瓜地馬拉大使館僑務秘書</h6>
					<div class="bd">
					    <a href="#">場地借用申請表</a>
					</div>
				</div>
				<div class="agency-item">
				    <h6 class="region-title">駐阿根廷代表處僑務秘書</h6>
					<div class="bd">
					    <a href="#">場地借用申請表</a>
					</div>
				</div>
				<div class="agency-item">
				    <h6 class="region-title">駐巴拉圭大使館僑務秘書</h6>
					<div class="bd">
					    <a href="#">場地借用申請表</a>
					</div>
				</div>
			</div>
		</div>
		
		<div class="venue-wrapper">
			<h3 class="continent-title">非洲</h3>
			<div class="continent-wrapper">
			    <div class="agency-item">
				    <h6 class="region-title">駐南非代表處僑務組</h6>
					<div class="bd">
					    <a href="#">場地借用申請表</a>
					</div>
				</div>
			</div>
		</div>
		
		<div class="venue-wrapper">
			<h3 class="continent-title">大洋洲</h3>
			<div class="continent-wrapper">
			    <div class="agency-item">
				    <h6 class="region-title">駐奧克蘭辦事處僑務秘書</h6>
					<div class="bd">
					    <a href="#">場地借用申請表</a>
					</div>
				</div>
				<div class="agency-item">
				    <h6 class="region-title">駐墨爾本辦事處僑務秘書</h6>
					<div class="bd">
					    <a href="#">場地借用申請表</a>
					</div>
				</div>
				<div class="agency-item">
				    <h6 class="region-title">澳洲雪梨華僑文教服務中心</h6>
					<div class="bd">
					    <a href="#">場地借用申請表</a>
					</div>
				</div>
			</div>
		</div>
    </div>
</main>
<a id="backtop"></a>


<% content_for :js do %>
    <script>
		// Back to top
        var btn = $('#backtop');

        $(window).scroll(function() {
          if ($(window).scrollTop() > 600) {
            btn.addClass('show');
          } else {
            btn.removeClass('show');
          }
        });

        btn.on('click', function(e) {
          e.preventDefault();
          $('html, body').animate({scrollTop:0}, '300');
        });
	</script>
	
	<script>

	</script>
<% end %>
