/* `Footer
-----------------------------------------------------------------------------*/

footer.footer {
	color: #888;
	.footer-inner {
		display: flex;
		justify-content: space-between;
		border-top: 1px solid #f0ece8;
		padding: 60px 0 80px;
		a {
			color: #000;
			&:hover {
				color: $main_color;
			}
		}
	}
	.footer-start {
		display: flex;
	}
	.links {
		margin-bottom: 20px;
		width: 320px;
		li {
			display: inline-block;
			margin-right: 12px;
			padding-right: 12px;
			position: relative;
			&:after {
				content: "";
				background: #ddd;
				width: 1px;
				height: 16px;
				position: absolute;
				right: -4px;
				top: 4px;
			}
			&:last-child{
				padding-right: 0;
				margin-right: 0;
                &:after {
                    content: none;
                }
			}
		}
	}
	.contact {
		li {
			margin-bottom: .375rem;
			padding-left: 30px;
			position: relative;
		}
        i {
            width: 16px;
            font-size: 1rem;
			color: #b7bbc0;
            text-align: center;
			position: absolute;
			left: 0;
			top: 5px;
			top: 5px;
        }
	}
	address { margin-bottom: 0; }
}

@media (max-width: 1199px) {
	footer.footer {
		.footer-start {
			display: block;
		}
	}
}

@media (max-width: 991px) {
	footer.footer {
        .footer-inner {
            display: block;
			padding: 40px 0;
        }
        .footer-start {
            margin-bottom: 20px;
        }
	}
}