
/* `Header
-----------------------------------------------------------------------------*/

header.header {
	border-top: 6px solid $main_color;
	padding: 40px 0 60px;
	position: relative;
}

.header-wrap {
	display: flex;
	justify-content: space-between;
	align-items: end;
	.brands {
		display: inline-block;
		a {
			display: block;
		}
        h1 { margin: 0; }
	}
	.h1-logo {
		display: block;
		width: 271px;
		height: auto;
	}
    .h1-logo-single {
		display: none;
		width: 56px;
	}
	.login {
		color: #2b87dc;
		cursor: pointer;
		&:hover { color: $main_color; }
	}
}

.event-page {
	header.header {
		padding: 20px 0;
	}
	.header-wrap {
		.h1-logo {
			width: 162px;
		}
        .h1-logo-single {
            width: 40px;
        }
	}
}

@media (max-width: 991px) {
	header.header {
		padding: 30px 0 40px;
	}
}

@media (max-width: 767px) {
	header.header {
		padding: 30px 0;
	}
}

@media (max-width: 575px) {
    .header-wrap {
		align-items: center;
		.h1-logo { display: none; }
        .h1-logo-single {
			display: block;
		}
    }
}