<!-- TCU-AE: 總召審查委員 - 確認審查委員名單  -->

<div class="container">
    <div class="mb-5">
        <h2 class="project-title">可溶性 P-選擇素對小鼠受損組織的保護機制</h2>
    </div>
    <div class="row">
		<div class="col">
			<div class="list-wrap col-block">
                <h4>審查委員名單確認</h4>
				<table class="table text-center">
                    <thead>
                        <tr>
                            <th></th>
                            <th>委員姓名</th>
                            <th>職稱</th>
                            <th>歷史件數</th>
                            <th>目前審查件數</th>
                            <th>說明</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>陳XX</td>
                            <td>教授</td>
                            <td><a class="normal-link" href="role_list.html">55</a></td>
                            <td>1</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>陳XX</td>
                            <td>教授</td>
                            <td><a class="normal-link" href="role_list.html">30</a></td>
                            <td>2</td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
                <div class="form-group">
                    <label for="exampleFormControlTextarea1">請輸入委員名單意見</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="5"></textarea>
                </div>
			</div>
		</div>
	</div>
    <div class="form-action text-center">
        <button type="button" class="btn blue-gradient">確認委員名單</button>
        <button type="button" class="btn btn-warning">退回委員名單</button>
    </div>
</div>