<!-- TCU-AE: 總召審查委員 - 委員歷史審查紀錄  -->

<div class="container">
    <div class="row">
		<div class="col">
			<div class="list-wrap col-block">
                <h4>陳XX 審查委員歷史審查紀錄</h4>
				<table class="table">
                    <thead>
                        <tr>
                            <th>最後總召委員審查結果</th>
                            <th>流水號</th>
                            <th>單位</th>
                            <th>計畫/課程/實驗名稱</th>
                            <th>申請人</th>
                            <th>申請日期</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>通過</td>
                            <td>107003</td>
                            <td>分子生物暨人類遺傳系</td>
                            <td>可溶性 P-選擇素對小鼠受損組織的保護機制</td>
                            <td>張新侯</td>
                            <td>2018/04/02</td>
                            <td><button type="button" class="btn btn-xs btn-primary">開啟</button></td>
                        </tr>
                        <tr>
                            <td><span class="red-text">不通過</span></td>
                            <td>107003</td>
                            <td>分子生物暨人類遺傳系</td>
                            <td><%= zh_lorem_sentences 2 %></td>
                            <td>張新侯</td>
                            <td>2018/04/02</td>
                            <td><button type="button" class="btn btn-xs btn-primary">開啟</button></td>
                        </tr>
                        <% (1..5).map do |i| %>
                        <tr>
                            <td>通過</td>
                            <td>107003</td>
                            <td><%= zh_lorem_words 10 %></td>
                            <td><%= zh_lorem_sentences 2 %></td>
                            <td><%= zh_lorem_name %></td>
                            <td>2018/04/02</td>
                            <td><button type="button" class="btn btn-xs btn-primary">開啟</button></td>
                        </tr>
                        <% end %>
                    </tbody>
                </table>
			</div>
		</div>
	</div>
</div>