
@import "base";

.block-title {
	border-left: 8px solid $main_color;
	margin-bottom: 2rem;
	padding-left: 1rem;
	font-weight: 700;
}

/* `覆蓋 mdb
-----------------------------------------------------------------------------*/

.carousel .carousel-control-next-icon {
	background-image: url(../assets/svg/arrow_right.svg);
}

.carousel .carousel-control-prev-icon {
    background-image: url(../assets/svg/arrow_left.svg);
}

/* `Login
-----------------------------------------------------------------------------*/

.center-warp {
	margin: 0 auto;
	max-width: 600px;
}

/* `FAQ
-----------------------------------------------------------------------------*/

.faq-list {
	li {
		border-bottom: 1px dashed #d7e7e8;
		margin-bottom: 20px;
		padding-bottom: 20px;
		&:first-child {
			border-bottom: 2px double #d7e7e8;
			padding-bottom: 10px;
			font-weight: bold;
		}
		&:last-child { border-bottom: 0; }
	}
	.list-wrap {
		display: flex;
		div { padding: 0 1%; }
	}
	.faq-classification { width: 15%; }
	.faq-question { width: 70%; }
	.faq-release { width: 10%; }
	.faq-view {
		width: 5%;
		text-align: right;
	}
}

/* `Index
-----------------------------------------------------------------------------*/

.carousel.slide {
	margin-bottom: 3rem;
}

.reference-wrap {
	background: #fff;
	border-radius: 5px;
	box-shadow: 0 0 5px rgba(#000, .06);
	padding: 28px 20px 10px;
}

.announcement-list {
	> li {
		display: block;
		border-bottom: 1px dashed #d7e7e8;
		margin-bottom: 20px;
		padding-bottom: 20px;
		&:last-child {
			border-bottom: 0;
		}
	}
	.date {
		margin-bottom: 0;
		color: #999;
	}
	.title {
		font-size: 18px;
		font-weight: 700;
	}
	.summary {
		margin-bottom: 0;
		line-height: 1.6;
	}
	.more { font-weight: 700; }
}

.article {
	.title {
		//font-size: 24px;
	}
}

.main-link {
	margin-bottom: 2rem;
	.main-btn {
		display: flex;
		align-items: center;
		align-content: center;
		background-color: #fff;
		border-radius: 5px;
		box-shadow: 0 2px 2px rgba(#000, .1);
		margin-bottom: 0.5rem;
		font-family: 'Roboto', '\5FAE\8EDF\6B63\9ED1\9AD4', Helvetica, Arial, sans-serif;
		color: #555;
		.icon, .character {
			display: flex;
			height: 128px;
			line-height: 1.2;
			span { align-self: center; }
		}
		.icon {
			transition: all .2s ease-in-out;
			border-radius: 5px 0 0 5px;
			width: 128px;
			span {
				text-align: center;
				width: 128px;
			}
			img {
				transition: all .2s ease-in-out;
				width: 64px;
				height: auto;
			}
		}
		.character {
			padding: 0 20px;
			font-size: 24px;
			font-weight: 400;
		}
		&:hover {
			box-shadow: 0 4px 6px rgba(#000, .1);
			color: #111;
		}
		&:active {
			box-shadow: 0 1px 1px rgba(#000, .2);
		}
	}
	.btn-inquiry {
		.icon { background: #4ba8f3; }
		&:hover {
			.icon { background: lighten(#4ba8f3, 5); }
			img {
				transform: rotate(-90deg);
			}
		}
	}
	.btn-status {
		.icon { background: #f8c605; }
		&:hover {
			.icon { background: lighten(#f8c605, 5); }
			img {
				transform: rotate(90deg);
			}
		}
	}
}

.video-wrapper {
	margin-bottom: 2rem;
    position: relative;
    padding-bottom: 56.25%;  //16:9
    overflow: hidden;
	iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;	
	}
}

.lazy-wrapper {
	.dl-box {
		display: block;
		position: relative;
		&:before {
			content: "";
			transition: all .15s ease-in-out;
			background: #000;
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			opacity: 0;
		}
		&:hover:before {
			opacity: 0.1;
		}
	}
	img {
		width: 100%;
		height: auto;
	}
}

/* `Application
-----------------------------------------------------------------------------*/

.block {
	border-bottom: 1px solid #e5e5e5;
	margin-bottom: 2rem;
	padding-bottom: 2rem;
	.block-hd {
		margin-bottom: 2rem;
		font-weight: bold;
		position: relative;
		&:after {
			content: "";
			background: $secondary_color;
			width: 39px;
			height: 3px;
			position: absolute;
			bottom: -15px;
			left: 0;
		}
	}
}

.announcement-list {
	.title { font-weight: bold; }
}

.attachment-link {
	background: #eaf0f1;
	border-radius: 19px;
	display: inline-block;
	margin-right: 0.25rem;
	margin-bottom: 0.25rem;
	padding: 0 16px;
	height: 38px;
	line-height: 38px;
}

.awall {
	background: #fbffff;
	padding: 1.5rem;
	margin: 1rem 0;
	p:last-child { margin: 0; }
	ol > li {
		margin-bottom: 0.5rem;
	}
	&.awall-lg {
		padding: 2.5rem;
	}
}

.border-wall {
	border: 1px solid rgba(#000 , .05);
	padding: 1.5rem;
}

.dashed-wall {
	background: rgba(#fbffff, .65);
	border: 1px dashed rgba(#ccc, .5);
	border-radius: 6px;
	padding: 1.5rem;
	margin: 1rem 0;
	p:last-child { margin: 0; }
	&.white { background-color: #fff; }
}

.inquary-application {
	label {
		font-weight: bold;
	}
}

.time-continuation {
	padding-left: 1rem;
	color: rgba(#000, .5);
	word-break: keep-all;
}


/* `Step
-----------------------------------------------------------------------------*/

.step-bar {
	margin: 60px auto 40px;
	text-align: center;
	ul, li {
		display: inline-block;
		list-style: none;
		margin: 0;
		padding: 0;
	}
	li {
		float: left;
		width: 200px;
		font-weight: 400;
	}
	.step {
		display: block;
		border-radius: 20px;
		border: 4px solid #bfbfbf;
		margin: 0 0 12px 80px;
		width: 40px;
		height: 40px;
		font-size: 20px;
		font-weight: 400;
		color: #666;
		line-height: 32px;
		position: relative;
		&:before, &:after {
			content: "";
			background: #bfbfbf;
			width: 65px;
			height: 4px;
			position: absolute;
			top: 14px;
		}
		&:before {
			border-radius: 0 2px 2px 0;
			left: -84px;
		}
		&:after {
			border-radius: 2px 0 0 2px;
			right: -84px;
		}
	}
    h4 {
		padding: 0 0.5rem;
		font-size: 1rem;
	}
	li {
		&:first-child .step:before, &:last-child .step:after {
			content: none;
		}
	}
	.active {
		color: $main_color;
	    .step {
			border-color: $main_color;
			color: $main_color;
			&:before {
				background: $main_color;
			}
		}
	}
	.done {
		color: #000;
		.step {
			background: $main_color;
			border-color: $main_color;
			color: #fff;
			&:before, &:after {
				background: $main_color;
			}
		}
	}
}

/* `Step Container
-----------------------------------------------------------------------------*/

.step-hd {
	border-left: 10px solid $secondary_color;
	padding: 0.1rem 0 0.2rem 1rem;
	h5 {
		font-size: 1.35rem;
		margin-bottom: 0;
	}
	h6 { margin: 0.5rem 0 0; }
}

.step-container {
	.avatar-wrap {
		border-bottom: none;
		margin: 0 auto;
		width: 300px;
	}
}

.grade-wrap {
	border-left: 3px solid #ccc;
	background: #f1f1f1;
	margin-bottom: 2rem;
	padding: 2rem;
	h6, h5 {
		display: inline-block;
		margin-bottom: 0;
	}
	h6 {
		border-right: 1px solid #ccc;
		margin-right: 1rem;
		padding-right: 1.5rem;
		font-weight: bold;
	}
	h5 { padding-right: 1rem; }
}

.document-item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px dashed #ddd;
	margin-bottom: 1.5rem;
	padding-bottom: 1.5rem;
	.document-hd {
		h6 { font-size: 1.05rem; }
		p { margin-bottom: 0; }
	}
	.md-form {
		margin: 0;
	}
	&:last-child { border-bottom: none; }
}

.document-ft {
	text-align: right;
	.btn { margin: 0; }
}

.required {
	padding-right: 0.25rem;
	font-weight: bold;
	color: red;
}

.result-wrap {
	.document-item {
		background: #eee;
		padding: 2rem;
		align-items: stretch;
	}
	.nav-tabs .nav-link.active {
		background-color: transparent;
		border-bottom-color: $body_background;
	}
}

.additional-documents {
	background: #fff;
	margin-bottom: 1.5rem;
	.document-item {
		background-color: transparent;
		margin-bottom: 0;
		padding: 1.5rem;
	}
	.additional-description { padding: 1.5rem; }
}

.flow-wrap {
	border-bottom: 1px dashed #ccc;
	margin-bottom: 1.5rem;
	padding-bottom: 1.5rem;
	.grade-wrap {
		display: flex;
		background: #fff;
		border-width: 5px;
		margin-bottom: 1rem;
		padding: 1rem 1rem 1rem 2rem;
		h6 { color: darken($secondary_color, 10); }
	}
}

.modal-xlg { max-width: 1110px; }

.modal {
	.grade-wrap {
		margin-bottom: 1rem;
	}
	.document-item:last-child {
		margin-bottom: 0;
	}
}

.late-payment {
	label { margin-bottom: 0.2rem; }
}

/**
 * Extracted from: SweetAlert
 * Modified by: Istiak Tridip
 */
.success-checkmark {
    width: 80px;
    height: 115px;
    margin: 0 auto;
    
    .check-icon {
        width: 80px;
        height: 80px;
        position: relative;
        border-radius: 50%;
        box-sizing: content-box;
        border: 4px solid #4CAF50;
        
        &::before {
            top: 3px;
            left: -2px;
            width: 30px;
            transform-origin: 100% 50%;
            border-radius: 100px 0 0 100px;
        }
        
        &::after {
            top: 0;
            left: 30px;
            width: 60px;
            transform-origin: 0 50%;
            border-radius: 0 100px 100px 0;
            animation: rotate-circle 4.25s ease-in;
        }
        
        &::before, &::after {
            content: '';
            height: 100px;
            position: absolute;

            transform: rotate(-45deg);
        }
        
        .icon-line {
            height: 5px;
            background-color: #4CAF50;
            display: block;
            border-radius: 2px;
            position: absolute;
            z-index: 10;
            
            &.line-tip {
                top: 46px;
                left: 14px;
                width: 25px;
                transform: rotate(45deg);
                animation: icon-line-tip 0.75s;
            }
            
            &.line-long {
                top: 38px;
                right: 8px;
                width: 47px;
                transform: rotate(-45deg);
                animation: icon-line-long 0.75s;
            }
        }
        
        .icon-circle {
            top: -4px;
            left: -4px;
            z-index: 10;
            width: 80px;
            height: 80px;
            border-radius: 50%;
            position: absolute;
            box-sizing: content-box;
            border: 4px solid rgba(76, 175, 80, .5);
        }
        
        .icon-fix {
            top: 8px;
            width: 5px;
            left: 26px;
            z-index: 1;
            height: 85px;
            position: absolute;
            transform: rotate(-45deg);
        }
    }
}

@keyframes rotate-circle {
    0% {
        transform: rotate(-45deg);
    }
    5% {
        transform: rotate(-45deg);
    }
    12% {
        transform: rotate(-405deg);
    }
    100% {
        transform: rotate(-405deg);
    }
}

@keyframes icon-line-tip {
    0% {
        width: 0;
        left: 1px;
        top: 19px;
    }
    54% {
        width: 0;
        left: 1px;
        top: 19px;
    }
    70% {
        width: 50px;
        left: -8px;
        top: 37px;
    }
    84% {
        width: 17px;
        left: 21px;
        top: 48px;
    }
    100% {
        width: 25px;
        left: 14px;
        top: 45px;
    }
}

@keyframes icon-line-long {
    0% {
        width: 0;
        right: 46px;
        top: 54px;
    }
    65% {
        width: 0;
        right: 46px;
        top: 54px;
    }
    84% {
        width: 55px;
        right: 0px;
        top: 35px;
    }
    100% {
        width: 47px;
        right: 8px;
        top: 38px;
    }
}


/* `Inquary
-----------------------------------------------------------------------------*/

.inquary-info-head {
	display: flex;
	// justify-content: space-between;
	padding-bottom: 1.5rem;
	color: #666;
	h6 {
		padding: 0 3rem 0 1.7em;
		font-size: 1.1rem;
		position: relative;
		&:after {
			content: "";
			border: 4px solid $orange_color;
			border-radius: 50%;
			width: 20px;
			height: 20px;
			position: absolute;
			top: 0;
			left: 0;
		}
	}
	strong {
		padding-left: 5px;
		color: #000;
	}
}

/* `Responsive
-----------------------------------------------------------------------------*/

@media (max-width: 1199px) {
    .main-link {
		display: flex;
		justify-content: space-between;
		.main-btn {
			width: 49%;
		}
    }
	.stuff-wrapper {
		display: flex;
		justify-content: space-between;
		.video-wrapper, .lazy-wrapper {
			width: 49%;
		}
		.video-wrapper { padding-bottom: 27.25%; }
    }
}

@media (max-width: 991px) {
    header.header {
		margin-bottom: 2rem;
		.nav-item {
			padding: 0;
			&:after { content: none; }
			.nav-link {
				padding: 0 14px;
				height: 40px;
				line-height: 40px;
				&:hover {
					background: #e1ebec;
					color: #000 !important;
				}
			}
			&:last-child .nav-link { border-radius: 0 0 6px 6px; }
		}
    }
	header.officer-header {
		.sub { display: none; }
	}
	.carousel.slide { margin-bottom: 2rem; }
	.block-title { margin-bottom: 1.5rem; }
	footer.footer { margin-top: 0; }
	.faq-list {
		li {
			margin-bottom: 15px;
			padding-bottom: 15px;
		}
		.faq-classification { width: 15%; }
		.faq-question { width: 65%; }
		.faq-release { width: 10%; }
		.faq-view {
			width: 10%;
			text-align: right;
		}
	}
	.inquary-info-head {
		padding-bottom: 0;
		strong {
			display: block;
			padding: 0.3rem 0 0;
		}
	}
	.step-bar {
		margin: 50px auto 30px;
		li {
			width: 170px;
		}
		.step {
			margin: 0 0 12px 65px;
			&:before, &:after {
				width: 50px;
			}
			&:before {
				left: -69px;
			}
			&:after {
				right: -69px;
			}
		}
	}
}

@media (max-width: 767px) {
	.mobile-hide { display: none; }
    .header-wrap .sub {
		padding-left: 20px;
        font-size: 1.2rem;
    }
    .main-link {
		display: block;
		.main-btn {
			width: 100%;
		}
    }
	.stuff-wrapper {
		display: block;
		.video-wrapper, .lazy-wrapper {
			width: 100%;
		}
		.video-wrapper { padding-bottom: 56.25%; }
    }
	.faq-list {
		.list-wrap {
			div { padding: 0 2%; }
		}
		.faq-classification { width: 25%; }
		.faq-question { width: 75%; }
		.faq-release, .faq-view {
			display: none;
		}
	}
	.step-bar {
		li {
			width: 126px;
		}
		.step {
			margin: 0 0 12px 43px;
			&:before, &:after {
				width: 28px;
			}
			&:before {
				left: -47px;
			}
			&:after {
				right: -47px;
			}
		}
		h4 { font-size: 0.95rem; }
	}
	.attachment-link { margin-top: 8px; }
	.awall + .mt-5 { margin-top: 1rem !important; }
}

@media (max-width: 575px) {
    .main-link {
		.main-btn {
			.icon, .character {
				height: 96px;
			}
			.icon {
				width: 96px;
				img { width: 48px; }
			}
		}
    }
	.inquary-info-head {
		display: block;
		h6 {
			font-size: 1rem;
			&:after {
				border-width: 3px;
				width: 14px;
				height: 14px;
				top: 2px;
			}
		}
		strong {
			display: inline-block;
			padding: 0 0 0 5px;
		}
	}
	.step-captcha {
		input.form-control {
			display: inline-block;
			width: 100px;
		}
	}
}

@media (max-width: 574px) {
    .header-wrap .sub {
		strong {
			display: block;
		}
    }
	.section-hd {
		display: block !important;
		margin-bottom: 1rem;
		.block-title {
			margin-bottom: 1rem !important;
		}
		.form-inline .w-75 { width: 88% !important; }
		&.mb-4 { margin-bottom: 1rem !important; }
	}
	.step-bar {
		margin: 30px auto 10px;
		text-align: left;
		ul { display: block;}
		li {
			float: none;
			margin-bottom: 0.5rem;
			width: 100%;
		}
		.step {
			display: inline-block;
			border-width: 3px;
			margin: 0;
			width: 28px;
			height: 28px;
			font-size: 16px;
			line-height: 22px;
			text-align: center;
			&:before, &:after {
				content: none;
			}
		}
		h4 {
			display: inline-block;
			font-size: 1rem;
		}
	}
}

@media (max-width: 479px) {
	.header-language a {
		padding: 0 8px;
	}
	.header-wrap {
		.logo { margin-right: 0; }
		.sub { border: none; }
	}
	.faq-list {
		.list-wrap {
			div { padding: 0 3%; }
		}
		.faq-classification { width: 30%; }
		.faq-question { width: 70%; }
	}
	.time-continuation {
		display: block;
		padding: 0.5rem 0 0;
	}
	.md-accordion .card .fa-angle-down { margin-top: -44px; }
}

@media (max-width: 375px) {
	.main-link .main-btn .character {
		font-size: 20px;
	}
	.faq-list {
		.list-wrap {
			div { padding: 0; }
		}
		.faq-classification { display: none; }
		.faq-question { width: 100%; }
	}
	header.officer-header .school-name { display: none; }
}

@media (max-width: 320px) {
	.header-wrap {
		.sub { display: none; }
	}
	.inquary-info-head {
		display: block;
		h6 {
			font-size: 0.85rem;
			&:after {
				top: 1px;
			}
		}
	}
}

























































































