<header class="header">
    <div class="container">
        <div class="header-wrap">
            <h1 class="brands d-inline-block">
                <a href="/">
                    <h1 class="text-hide">慈濟大學</h1>
					<img class="h1-logo" src="../assets/logo.svg" />
                    <small>動物實驗申請系統</small>
                </a>
            </h1>
            <!--div class="account">
                <span class="name">username</span>
                <button type="button" class="logout">登出</button>
            </div-->
        </div>
    </div>
</header>