<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>慈濟大學動物實驗申請系統</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" media="screen" href="../stylesheets/bootstrap.css">
    <link rel="stylesheet" media="screen, projection, print" href="../stylesheets/mdb.css">
<% if content_for? :replace_css %>
    <%= yield :replace_css %>
<% end %>
    <link rel="stylesheet" media="screen, projection, print" href="../stylesheets/application.css">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <script src="../javascripts/modernizr.custom.26633.js"></script>
<% if content_for? :page_styles %>
    <%= yield :page_styles %>
<% end %>
<script src="../javascripts/modernizr.custom.js"></script>
<% if content_for? :head_js %>
    <%= yield :head_js %>
<% end %>