<!-- template: 忘記密碼 -->

<div class="container-lg">
	<div class="login-wrapper">
		<div class="login-card">
		    <div class="card-hd">
			    <h3>忘記密碼</h3>
			</div>
			<div class="card-bd">
                <div class="form-group">
                    <label for="exampleFormControlInput1" class="form-label">Email <span class="required">*</span></label>
                    <input type="email" class="form-control" id="exampleFormControlInput1" />
                </div>
			</div>
            <div class="d-grid mt-4">
                <button class="btn btn-lg btn-primary" type="submin">寄發重設認證信</button>
            </div>
		</div>
	</div>
</div>



<% content_for :js do %>

<% end %>

