<header class="header" id="pagetop">
    <div class="container-lg">
		<div class="header-wrap">
            <div class="header-function">
				<div class="header-right">
                    <div class="language">
                        <a href="#" title="Switch language">English</a>
                    </div>
                    <div class="account">
                        <div class="dropdown">
                            <button class="dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                使用者
                            </button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Change password</a></li>
                                <li><a class="dropdown-item" href="#">Log out</a></li>
                            </ul>
                        </div>
                    </div>
				</div>
            </div>
			<div class="brands">
                <a class="brands-link" href="index.html">
                    <div class="logo">
                        <h1 class="text-hide">國立臺灣大學國際事務處 Office of International Affairs, National Taiwan University</h1>
                        <img class="h1-logo" src="../assets/logo@2x.png">
                    </div>
                </a>
			</div>
		</div>
    </div>
	<div class="sys-subject">
		<div class="container-lg">
			<div class="inner">
	            <h2>國際學位生在學生網站</h2>
			</div>
		</div>
	</div>
</header>