/* `Header
-----------------------------------------------------------------------------*/

header.header { margin-bottom: 3.75rem; }

.header-language {
	background: $main_darken_color;
	height: 30px;
	line-height: 30px;
	text-align: right;
	a {
		display: inline-block;
		padding: 0 15px;
		color: rgba(#fff, .5);
		&:hover { color: rgba(#fff, 1); }
	}
	a.current, a.current:hover {
		background: $secondary_color;
		color: #333;
		cursor: default;
	}
}

.header-wrap {
	box-shadow: 0 2px 4px rgba(#000, .3);
    background: $main_color;
	border-radius: 0 0 3px 3px;
	padding-left: 1.25rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 110px;
	.brands {
		a {
            align-items: center;
			color: #fff;
            &:hover { text-decoration: none; }
		}
        h1 { margin: 0; }
	}
	.h1-logo {
		display: inline-block;
		width: auto;
		height: 80px;
		vertical-align: middle;
	}
    .logo {
        margin-right: 20px;
    }
    .sub {
		font-size: 1.5rem;
        line-height: 1.2;
		color: #fff;
    }
    .account {
		a {
			background: #036f75;
			display: inline-block;
			padding: 0 1rem 0 3rem;
			height: 40px;
			line-height: 40px;
			color: #fff;
		}
		.logout {
			border-left: 1px solid rgba(#fff, .2);
			background-color: transparent;
			margin-left: 1rem;
			padding-left: 1rem;
			height: auto;
			line-height: normal;
		}
		.greetings {
			display: inline-block;
			width: 150px;
			color: rgba(#fff, .75);
			line-height: 15px;
			overflow : hidden;
			text-overflow : ellipsis;
			white-space : nowrap;
			text-align: right;
		}
	}
}

