<footer class="footer">
	<div class="container-lg">
		<div class="footer-inner">
            <div class="block-links">
                <ul class="menu-item">
                    <li><a href="#" title="{連結名稱}">臺大首頁</a></li>
                    <li><a href="#" title="{連結名稱}">臺大校友中心</a></li>
                    <li><a href="#" title="{連結名稱}">臺大校友總會</a></li>
                    <li><a href="#" title="{連結名稱}">臺大生活便利通</a></li>
                    <li><a href="#" title="{連結名稱}">臺大校史館</a></li>
                    <li><a href="#" title="{連結名稱}">臺大財務管理處</a></li>
                    <li><a href="#" title="{連結名稱}">臺大校友雙月刊捐款芳名錄</a></li>
                </ul>
            </div>
			<div class="block-contact">
                <ul class="menu-item contact">
                    <li>
                        <i class="fas fa-envelope"></i>
                        <a href="mailto:alumni@ntu.edu.tw">alumni@ntu.edu.tw</a>
                    </li>
                    <li>
                        <i class="fas fa-phone-alt"></i>
                        02 33662045
                    </li>
                    <li>
                        <i class="fas fa-fax"></i>
                        02 23623734
                    </li>
                    <li>
                        <i class="fas fa-map-marker-alt"></i>
                        106216台北市大安區羅斯福路4段1號/臺灣大學/臺大校友雙月刊
                    </li>
                </ul>
			</div>
		</div>
        
        <div class="footer-bottom">
            <address>Copyright © 2024 臺大校友雙月刊  All Rights Reserved.</address>
            <a href="#" title="移至無障礙標章網頁">
                <img src="../assets/accessibility.png" alt="通過A檢測等級無障礙網頁檢測" />
            </a>
        </div>
	</div>
</footer>