<header class="header" id="pagetop">
    <div class="container-lg">
		<div class="header-wrap">
			<div class="brands">
                <a class="brands-link" href="index.html" title="雙月刊首頁">
                    <div class="logo">
                        <img class="h1-logo" src="../assets/logo@2x.png">
                        <span class="web-only">
                            <span class="ch">國立臺灣大學</span>
                            <span class="en">National Taiwan University</span>
                        </span>
                    </div>
                    <h2 class="sub">
                        <span class="ch">臺大校友雙月刊</span>
                        <span class="en">NTU Alumni Bimonthly</span>
                    </h2>
                </a>
			</div>
            <nav class="navbar">
                <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasCustomNavbar" aria-controls="offcanvasCustomNavbar" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="" tabindex="-1" id="offcanvasCustomNavbar" aria-labelledby="offcanvasCustomNavbarLabel">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item dropdown">
                            <a class="nav-link current dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" title="{連結名稱}">
                                各期雙月刊
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#" title="{連結名稱}">雙月刊</a></li>
                                <li><a class="dropdown-item" href="#" title="{連結名稱}">季刊</a></li>
                                <li><a class="dropdown-item" href="#" title="{連結名稱}">專欄</a></li>
                            </ul>
                        </li>
                        
                        <!-- 只有當前內頁的 .nav-link 要給 .current，首頁不用 -->
                        
                        <li class="nav-item">
                            <a class="nav-link current" href="#" title="{連結名稱}">最新消息</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" title="{連結名稱}">關於我們</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" title="{連結名稱}">臺大百年</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" title="{連結名稱}">
                                下載專區
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#" title="{連結名稱}">雙月刊下載</a></li>
                                <li><a class="dropdown-item" href="#" title="{連結名稱}">專欄下載</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" title="{連結名稱}">本刊出版品</a>
                        </li>
                        <li class="nav-item search-item search-offcanvas">
                            <button class="btn btn-search" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasSearch" aria-controls="offcanvasSearch"><i class="fas fa-search"></i></button>
                        </li>
                        <li class="nav-item mobile-search">
                            <form class="item-form" role="search">
                                <input class="form-control" type="search" placeholder="搜尋" aria-label="Search" />
                                <button class="btn btn-search" type="submit"><i class="fas fa-search"></i></button>
                            </form>
                        </li>
                    </ul>
                </div>
            </nav>
		</div>
    </div>
</header>