
<!-- search offcanvas -->

<div class="offcanvas offcanvas-top offcanvas-search-top" tabindex="-1" id="offcanvasSearch" aria-labelledby="offcanvasSearchLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasTopLabel">搜尋</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div class="container-lg">
            <form class="d-flex" role="search">
                <input class="form-control form-control-lg" type="search" placeholder="搜尋" aria-label="Search" />
                <button class="btn btn-lg btn-search" type="submit"><i class="fas fa-search"></i></button>
            </form>
        </div>
    </div>
</div>