<!-- oia-yuntech: 推薦教授 - 線上推薦信確認 -->

<div class="container">
	<h5 class="mb-3">請確認推薦信內容無誤後送出</h5>
    <form>
        <div class="awall lighten">
            <p><%= lorem_sentences(5) %></p>
			<p><%= lorem_sentences(5) %></p>
			<p><%= lorem_sentences(5) %></p>
			<p><%= lorem_sentences(5) %></p>
        </div>
        <div class="form-action">
            <a href="confirm.html" class="btn btn-default">送出</a>
        </div>
	</form>
</div>

