<!-- oia-yuntech: 推薦教授 - 資料核對 (首頁) -->

<div class="container">
	<h4>Dear Mr./Ms. [推薦人姓名]</h4>
	<p>請確認下列資料是您本人</p>
	<div class="awall">
		<div class="row">
			<div class="col-6">
                <div class="form-group">
                    <label>姓名</label>
                    <div class="output">Bruce Wayne</div>
                </div>
			</div>
			<div class="col-6">
                <div class="form-group">
                    <label>聯絡電話</label>
					<div class="output">+1 201 555-1212</div>
                </div>
			</div>
		</div>
		<div class="row">
			<div class="col-6">
                <div class="form-group">
                    <label>職位</label>
                    <div class="output">Wayne Enterprises, Inc.</div>
                </div>
			</div>
			<div class="col-6">
                <div class="form-group">
                    <label>職稱</label>
					<div class="output">CEO</div>
                </div>
			</div>
		</div>
		<div class="row">
			<div class="col-6">
                <div class="form-group">
                    <label>City/Country</label>
                    <div class="output">Gotham City</div>
                </div>
			</div>
			<div class="col-6">
                <div class="form-group">
                    <label>電子郵件</label>
					<div class="output">batman@wayne.com</div>
                </div>
			</div>
		</div>
	</div>
    <div class="form-action">
        <a href="/" class="btn btn-default">是，是我本人</a>
		<a href="/" class="btn btn-link">否，不是我</a>
    </div>
</div>

