<!-- oia-yuntech: 推薦教授 - 線上填寫推薦信 -->

<div class="container">
	<h5 class="mb-3">希望您能撥冗詳實填寫下方推薦信，以利本校進行審核作業</h5>
    <form>
        <div class="form-group">
            <textarea class="form-control rounded-0 text-normal" id="" rows="16"></textarea>
        </div>
        <div class="form-action">
            <a href="confirm.html" class="btn btn-default">送出</a>
        </div>
	</form>
</div>

