<!-- oia-yuntech: 推薦教授 - 同意推薦 -->

<div class="container">
	<h5 class="mb-3">請問您是否同意推薦以下申請人?</h5>
    <table class="table table-custom-th">
        <tbody>
            <tr>
                <th>姓名</th>
                <td>Scarlett Johansson</td>
            </tr>
			<tr>
                <th>申請學校</th>
                <td>Yun Tech University</td>
            </tr>
			<tr>
                <th>申請系所</th>
                <td>理工學院 化學系 學士班</td>
            </tr>
        </tbody>
    </table>
    <div class="form-action">
        <a href="method.html" class="btn btn-default">同意</a>
		<a href="/" class="btn btn-link">不推薦</a>
    </div>
</div>

