<!-- oia-yuntech: 推薦教授 - 上傳推薦信 -->

<div class="container">
	<h4 class="mb-3">檔案上傳</h4>
	<p>若超過 1 份文件請合併成 1 個檔案上傳，檔案大小請在50MB以內</p>
    <form>
        <div class="form-group">
            <div class="custom-file">
                <input type="file" class="custom-file-input" id="customFileLang" lang="zn">
                <label class="custom-file-label" for="customFileLang">選擇檔案</label>
            </div>
        </div>
        <div class="form-action">
            <a href="#" class="btn btn-default">上傳</a>
        </div>
	</form>
</div>

