<!-- backend-rwd: JavaScript -->
<%= render :partial => "/partials/backend_breadcrumb" %>

<main class="main">
    <div class="page-header">
        <h2>JavaScript</h2>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="col-block">
                <div class="block-header has-border">MDBootstrap</div>
                <div class="block-content">
                    請參閱 <a href="https://mdbootstrap.com/javascript/">MDBootstrap</a>
                </div>
            </div>
        </div>
    </div>
</main>