
$process-light: #c5cece;
$step-deny: #d2407d;

/* `NKUST Login
-----------------------------------------------------------------------------*/

.login-bg {
    animation: slide 6s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, #374c8f 50%, #006dac 50%);
    bottom: 0;
    left: -50%;
    opacity: 0.5;
    position: fixed;
    right: -50%;
    top: 0;
    z-index: -1;
}

.login-innerbg {
    animation: slide 6s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, #6c3 50%, #09f 50%);
    bottom: 0;
    left: -50%;
    opacity: 0.5;
    position: fixed;
    right: -50%;
    top: 0;
    z-index: -1;
}

.login-bg2 {
    animation-direction: alternate-reverse;
    animation-duration: 8s;
}

.login-bg3 {
    animation-duration: 10s;
}

@keyframes slide {
  0% {
    transform:translateX(-25%);
  }
  100% {
    transform:translateX(25%);
  }
}

.nkust-login {
	width: 100%;
	height: 100%;
	section, .nkust_login-wrapper {
		position: absolute;
		left: 0;
		top: 0;
		bottom: 0;
		right: 0;
		z-index: 0;
	}
    canvas {
        position: absolute;
		position: fixed;
        top: 50%;
        transform: translateY(-50%);
    }
}

.nkust_login-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1 !important;
	.nkust_login-container {
		background: #fff;
		box-shadow: 0 -16px 8px rgba(#000, .07), 0 -4px 24px rgba(#000, .2);
		border-radius: 1rem;
		width: 420px;
		padding: 4rem 2rem 2rem;
		position: relative;
	}
	.logo {
		background: #fff;
		box-shadow: 0 -16px 8px rgba(#000, .05), 0 -24px 16px rgba(#000, .05);
		border-radius: 50%;
		margin-left: -53px;
		padding: .5rem;
		height: 106px;
		position: absolute;
		top: -53px;
		left: 50%;
		.logo__img {
			display: inline-block;
			width: 90px;
			height: auto;
		}
	}
	hgroup {
		text-align: center;
		h3 { font-weight: bold; }
		h5 { color: #666; }
	}
	.forget-password {
		margin-bottom: 0;
		padding-top: 3rem;
		text-align: center;
		position: relative;
		&:after {
			content: "";
			background: #777;
			margin-left: -24px;
			width: 48px;
			height: 2px;
			position: absolute;
			left: 50%;
			top: 12px;
		}
		a {
            color: #aaa;
            &:hover { color: #333; }
		}
	}
}

.nkust_switch-container {
    margin: 0 auto;
	padding: 4rem 0;
    width: 1140px;
    position: relative;
    z-index: 1;
	.nkust_logo {
		margin-bottom: 3rem;
		text-align: center;
		.logo__img {
			width: 128px;
			height: auto;
		}
	}
	.role-list {
		display: flex;
		flex-wrap: wrap;
		text-align: center;
		li {
			background: #fff;
			border-radius: .375rem;
			box-shadow: 0 8px 4px rgba(#000, .07), 0 2px 12px rgba(#000, .2);
			margin-right: 2%;
			margin-bottom: 1.375rem;
			padding: 2rem;
			width: 32%;
			&:nth-child(3n) {
				margin-right: 0;
			}
		}
		.item-title {
			margin-bottom: 1.5rem;
			position: relative;
			&:after {
				content: "";
				background: #d2a440;
				width: 1.5rem;
				height: 1px;
				margin-left: -0.75rem;
				position: absolute;
				left: 50%;
				bottom: -0.75rem;
			}
		}
		.item-description {
			color: #888;
		}
		.btn {
			background-color: rgb(0,109,172) !important;
			margin: 0;
		}
	}
	.switch-list {
		display: flex;
		flex-wrap: wrap;
		text-align: center;
		li {
			background: #fff;
			border-radius: .125rem;
			box-shadow: 0 8px 4px rgba(#000, .07), 0 2px 12px rgba(#000, .2);
			margin-right: 2%;
			margin-bottom: 1.375rem;
			padding: 2rem;
			width: 32%;
			&:nth-child(3n) {
				margin-right: 0;
			}
		}
		hgroup {
			margin-bottom: 2rem;
			position: relative;
			h5 { font-size: 1.375rem; }
			h6 { font-size: 1.125rem; }
			&:after {
				content: "";
				background: #d2a440;
				width: 2rem;
				height: 1px;
				margin-left: -1rem;
				position: absolute;
				left: 50%;
				bottom: -1.25rem;
			}
		}
		.principal {
			padding: 1.5rem 0 1rem;
			font-size: 1.125rem;
			color: #888;
			span {
				display: inline-block;
				margin-left: .25rem;
				font-weight: bold;
				color: #111;
			}
		}
		.btn {
			background-color: rgb(0,109,172) !important;
			margin: 0;
		}
		.dl-link {
			display: inline-block;
			margin-top: 1rem;
			color: #d2a440;
			&:hover {
				color: #111;
			}
		}
	}
}

/* `Stuff
-----------------------------------------------------------------------------*/

.hd-select {
	.inner { display: inline-block; }
	.btn {
		margin: -2px 0 0;
		padding: .5rem 1.5rem;
		font-size: 15px;
	}
}

.table th, .table td { font-size: 1rem !important; }

.btn-table {
	.btn-padding {
		margin: 0;
		padding: .25rem 1.25rem !important;
	}
}

.normal-wrapper { width: 1200px; }

.narrow-wrapper { width: 800px; }

.basic-form {
    padding-left: 1.875rem;
}

.btn.clear-color {
	color: #df5858;
}

.block-header.flex-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	.right-action {
		flex: 1;
		text-align: right;
		.btn { margin: 0; }
	}
}

.brief-content_wrapper {
	.content-group {
		margin-bottom: 2.5rem;
		&:last-child { margin-bottom: 0; }
		.btn-edit {
			margin: 0;
			padding: .25rem .75rem .125rem;
		}
		.sub-group {
			font-size: 1.0625rem;
			font-weight: bold;
			color: #752de9;
		}
	}
	.content-title {
        margin-bottom: 1rem;
		font-size: 1.375rem;
        font-weight: bold;
        color: #4e6fa7;
	}
}

.candidate-path {
	span {
		display: inline-block;
		margin-right: .375rem;
	}
}

.sub-head_border {
	border-bottom: 1px solid $base_border_color;
	padding: .75rem 0 1.5rem;
	font-size: 20px;
	span {
		display: inline-block;
	}
	.out {
		margin-left: .5rem;
		font-weight: 700;
	}
}

.third-head {
	padding: 1.5rem 0;
	font-size: 18px;
	div { margin-bottom: .5rem; }
	span {
		display: inline-block;
	}
	.out {
		margin-left: .5rem;
		font-weight: 700;
	}
}

table.table {
    .table-link {
		color: #5c93f7;
		&:hover { color: #c35cf7; }
	}
}

.review-block {
	background: #eee;
	padding: 20px;
	border: 1px dashed #ccc;
	.block-title {
		margin-bottom: 1.25rem;
		font-size: 1.625rem;
		text-align: center;
	}
	.block-inner {
		background: #fff;
		padding: 20px;
	}
	.info-wrap,
	.textarea-wrap {
		border-bottom: 1px solid $base_border_color;
		margin-bottom: 20px;
		padding-bottom: 20px;
	}
	.info-item {
		display: flex;
		margin-bottom: .5rem;
		font-size: 1.125rem;
		&:last-child {
			margin-bottom: 0;
		}
		.label {
			width: 120px;
			text-align: right;
		}
		.out {
			padding-left: 20px;
			font-weight: 700;
			color: #489350;
		}
	}
	.textarea-wrap {
		.label {
			display: block;
			margin-bottom: 10px;
			font-size: 1.125rem;
			font-weight: bold;
		}
	}
}

.output-section {
	background: #fbfbfb;
	padding: 1.5rem;
	label {
		margin-bottom: .25rem;
		color: #666;
	}
	.output {
		display: block;
		font-weight: 700;
		color: #5e3fdc;
		span {
			display: inline-block;
			margin-right: .25rem;
		}
		.inner-label {
			display: inline;
			font-weight: 400;
			color: #111;
		}
	}
	&.sheet-section {
		background: #fff;
		margin-top: 2rem;
		padding: 0;
	}
}

.avatar-wrap {
    margin-top: 0;
    width: 196px;
	.avatar-pic {
		width: 100%;
		height: auto;
	}
    .specification {
        display: inline-block;
        margin-top: .5rem;
        color: tomato;
        line-height: 1.2;
        text-align: center;
    }
}

.btn-mx0 {
	.btn {
		margin-left: 0;
		margin-right: 0;
	}
}

.unfold-wrap {
	margin-top: .75rem;
	.w-50 { width: 50%; }
}

.document-review-wrapper {
	margin-top: 2rem;
	.document-hd {
		display: flex;
		align-items: center;
		margin-bottom: 1.25rem;
	}
    .group-title {
        margin: 0 1rem 0 0;
		font-size: 1.375rem;
        font-weight: bold;
    }
	.document-item {
		border-bottom: 1px solid $base_border_color;
		margin-bottom: 2rem;
		padding-bottom: 2rem;
		padding-left: 3rem;
		&:last-child {
            border-bottom: none;
            margin-bottom: 0;
            padding-bottom: 0;
		}
	}
	.item-hd {
		margin-bottom: .75rem;
		position: relative;
		.number {
			font-size: 28px;
			font-weight: bold;
			color: #c28bc9;
			position: absolute;
			left: -2.75rem;
			top: -10px;
		}
		h5 {
		    font-weight: bold;
			small {
				display: inline-block;
				padding-left: .5rem;
				font-weight: 400;
			}
		}
	}
	.date {
		display: inline-block;
		margin-left: 1rem;
		color: #888;
	}
}

.select-bar {
	display: flex;
	margin-bottom: 2rem;
	max-width: 960px;
	.select-inline {
		margin-right: 1%;
		width: 30%;
		.btn {
			margin: 0;
			padding: .5rem 1.6rem;
		}
	}
}

/* `Classroom
-----------------------------------------------------------------------------*/

.classroom {
	background: url("../assets/bg-striped.png") repeat;
	border: 1px solid $base_border_color;
	padding: 40px;
	.room-hd {
		margin-bottom: 30px;
		position: relative;
		text-align: center;
	}
	.stage {
		display: inline-block;
		background: #eee;
		border: 1px solid $base_border_color;
		border-radius: .25rem;
		padding: 15px 100px;
		margin-left: -8px;
	}
	.door {
		background: #eee;
		border: 1px solid $base_border_color;
		padding: 25px 5px;
		width: 30px;
		position: absolute;
		top: 0;
		&.left {
			left: -41px;
		}
		&.right {
			right: -41px;
		}
	}
	.room-bd {
		display: flex;
		flex-wrap: wrap;
		padding: 0 0 15px 15px;
	}
	.seat {
		background: #fff;
		border: 1px solid $base_border_color;
		border-radius: .75rem;
		box-shadow: 0 3px 6px rgba(#000, .1);
		margin: 15px 15px 0 0;
		padding: .75rem;
		width: 160px;
		height: 94px;
		font-size: 15px;
		text-align: center;
		cursor: move;
		position: relative;
		transition: all 0.2s ease-in-out;
		&:after {
			content: "";
			background: #fff;
			border: 1px solid $base_border_color;
			border-radius: 2px;
			box-shadow: 0 1px 3px rgba(#000, .1);
			margin-left: -40px;
			width: 80px;
			height: 8px;
			position: absolute;
			left: 50%;
			bottom: -4px;
			transition: all 0.2s ease-in-out;
		}
		span { display: block; }
		.tl {
			display: flex;
			align-items: center;
			height: 44px;
			text-align: center;
			span {
				width: 100%;
			}
		}
		.nb {
			display: block;
			margin-top: 4px;
			font-size: 14px;
			color: #8c98a2;
		}
		&:hover, &:active {
			box-shadow: 0 4px 10px rgba(#000, .2);
			&:after { bottom: -8px; }
		}
	}
	&.row-2 {
		width: 460px;
	}
	&.row-3 {
		width: 635px;
	}
	&.row-4 {
		width: 810px;
	}
	&.row-5 {
		width: 985px;
	}
	&.row-6 {
		width: 1160px;
	}
	&.row-7 {
		width: 1335px;
	}
	&.row-8 {
		width: 1510px;
	}
	&.row-9 {
		width: 1685px;
	}
	&.row-10 {
		width: 1860px;
	}
	&.row-11 {
		width: 2035px;
	}
	&.row-12 {
		width: 2210px;
	}
	&.row-13 {
		width: 2385px;
	}
	&.row-14 {
		width: 2560px;
	}
	&.row-15 {
		width: 2735px;
	}
	&.row-16 {
		width: 2910px;
	}
}

/* `Process
-----------------------------------------------------------------------------*/

.signup-process {
	.process-list {
		padding: 2rem 0;
		position: relative;
		&:after {
            content: "";
            border-radius: 1px;
            background: #c5cece;
            width: 2px;
            position: absolute;
            left: 31px;
            top: 0;
            bottom: 0;
            z-index: 0;
		}
	}
	.process-item {
		position: relative;
		margin-bottom: 2rem;
		padding-left: 6rem;
		min-height: 6rem;
		.status {
			border-radius: 50%;
			background: #fff;
			//border: 2px solid $process-light;
			width: 4rem;
			height: 4rem;
			text-align: center;
			line-height: 4rem;
			position: absolute;
			left: 0;
			top: 0.375rem;
			z-index: 2;
		}
		.label { margin-bottom: 0; }
	}
	
    .label__checkbox {
        display: none;
    }

    .label__check {
        display: inline-block;
        border-radius: 50%;
        border: 5px solid rgba($process-light, 0.4);
        background: white;
        vertical-align: middle;
        width: 4rem;
        height: 4rem;
        cursor: pointer;
		color: $process-light;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: border 0.3s ease;

        i.icon {
            opacity: 0.5;
            font-size: 2rem;
			//font-size: calc(1rem + 1vw);
            //color: transparent;
            transition: opacity 0.3s 0.1s ease;
            //-webkit-text-stroke: 3px rgba(0, 0, 0, 0.5);
        }

        &:hover {
            border: 5px solid rgba($process-light, 0.9);
        }
    }

    .label__checkbox:checked + .label__text .label__check {
        animation: check 0.5s cubic-bezier(0.895, 0.03, 0.685, 0.22) forwards;

        .icon {
            opacity: 1;
            transform: scale(0);
            color: white;
            -webkit-text-stroke: 0;
            animation: icon 0.3s cubic-bezier(1, 0.008, 0.565, 1.65) 0.1s 1 forwards;
        }
    }

    @keyframes icon {
        from {
            opacity: 0;
            transform: scale(0.3);
        }
        to {
            opacity: 1;
            transform: scale(1);
        }
    }

    @keyframes check {
        0% {
            width: 1.5em;
            height: 1.5em;
            border-width: 5px;
        }
        10% {
            width: 1.5em;
            height: 1.5em;
            opacity: 0.1;
            background: rgba(0, 0, 0, 0.2);
            border-width: 15px;
        }
        12% {
            width: 1.5em;
            height: 1.5em;
            opacity: 0.4;
            background: rgba(0, 0, 0, 0.1);
            border-width: 0;
        }
        50% {
            width: 4rem;
            height: 4rem;
            background: #25d400;
            border: 0;
            opacity: 0.6;
        }
        100% {
            width: 4rem;
            height: 4rem;
            background: #51d845;
            border: 0;
            opacity: 1;
        }
    }
	
	.process-wrap {
		border-radius: 0.5rem;
		box-shadow: 0 1px 1px rgba(#000, .05);
		background: #fff;
		.wrap-hd, .wrap-bd {
			padding: 1rem;
		}
		.wrap-hd {
			border-bottom: 1px solid #e1eaea;
			position: relative;
			&:after {
				content: "";
				background: $body_background;
				border-radius: 0 0.25rem 0.25rem 0;
				box-shadow: -1px 1px 1px rgba(#000, .05) inset;
				width: 0.5rem;
				height: 1rem;
				position: absolute;
				left: 0;
				top: 1.25rem;
			}
			.wrap-title {
				margin-bottom: .25rem;
				font-weight: 700;
				color: rgba(#3b4a49, 1);
			}
			.brief {
				margin-bottom: 0;
				font-size: 0.9375rem;
				color: #5b9e98;
			}
		}
		.form-group {
			margin-bottom: 1.25rem;
			.datepicker,
			.form-control {
				margin: 0;
			}
		}
	}
	.text-caption {
		margin: .5rem 0 0;
		color: #8f959e;
		font-size: 0.9375rem;
	}
}

.custom-select2-wrap {
	display: flex;
	margin-top: 0.75rem;
	.wrap-select2 {
		flex-grow: 1;
	}
	.wrap-action {
		padding-left: 0.5rem;
		.btn-md {
			display: inline-block;
			margin: 0;
			padding: .5rem 1rem;
		}
	}
}

.custom-full-select2 {
    min-width: 100%;
    & + .select2-container--default .select2-selection--single {
        border-color: #ced4da;
        height: 38px;
        .select2-selection__rendered {
            line-height: 38px;
        }
        .select2-selection__arrow {
            height: 36px;
        }
    }
}

.date_period-row {
	display: flex;
	justify-content: space-between;
	align-items: center;
	.col-picker {
		width: 48%;
		.datepicker,
		.form-control {
			margin: 0;
		}
	}
	.col-hyphen {
		width: 4%;
		text-align: center;
	}
	&.has-time {
		.col-picker {
			display: flex;
			justify-content: space-between;
		}
		.date-wrap,
		.time-wrap {
			width: 49%;
		}
		.time-wrap {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
		.col-time {
            width: 47%;
		}
		.col-colon {
            width: 6%;
            text-align: center;
		}
	}
	&.only-time {
		.col-picker {
			display: flex;
			justify-content: space-between;
			margin-bottom: 0 !important;
		}
		.time-wrap {
			width: 100%;
		}
		.time-wrap {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
		.col-time {
            width: 47%;
		}
		.col-colon {
            width: 6%;
            text-align: center;
		}
	}
}

/* `Step
-----------------------------------------------------------------------------*/

.step-bar {
	margin: 60px auto;
	ul, li {
		display: inline-block;
		list-style: none;
		margin: 0;
		padding: 0;
	}
	li {
		float: left;
		width: 200px;
		font-weight: 400;
		text-align: center;
	}
	.step {
		display: block;
		border-radius: 20px;
		border: 4px solid #ccc;
		margin: 0 0 12px 80px;
		width: 40px;
		height: 40px;
		font-size: 20px;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
		color: #666;
		line-height: 32px;
		position: relative;
		&:before, &:after {
			content: "";
			background: #ccc;
			width: 65px;
			height: 4px;
			position: absolute;
			top: 14px;
		}
		&:before {
			border-radius: 0 2px 2px 0;
			left: -84px;
		}
		&:after {
			border-radius: 2px 0 0 2px;
			right: -84px;
		}
	}
    h4 {
		padding: 0 0.5rem;
		font-size: 1.15rem;
		font-weight: 400;
	}
	.brief {
        font-size: 0.9375rem;
        line-height: 1.4;
		color: #999;
		span {
			font-weight: bold;
			color: #333
		}
	}
	li {
		&:first-child .step:before, &:last-child .step:after {
			content: none;
		}
	}
	.active {
		color: #d2a440;
	    .step {
			border-color: #d2a440;
			color: #d2a440;
			&:before {
				background: linear-gradient(45deg, rgba(55,76,143,1) 0%, rgba(210,164,64,1) 100%);
			}
		}
		h4 { font-weight: 700; }
	}
	.done {
		color: #000;
		.step {
			background: $main_color;
			border-color: $main_color;
			color: #fff;
			&:before {
				background: $main_color;
			}
			&:after {
				background: $main_color;
			}
			span {
				display: block;
				color: $main_color;
				position: relative;
				&:after {
					content: "\f00c";
					width: 32px;
					height: 32px;
					font: normal normal normal 18px/32px FontAwesome;
					color: #fff;
					position: absolute;
					left: 0;
					top: 0;
				}
			}
		}
	}
	.deny {
		color: $step-deny;
	    .step {
			background: $step-deny;
			border-color: $step-deny;
			color: $step-deny;
			&:before {
				background: linear-gradient(45deg, rgba(55,76,143,1) 0%, rgba($step-deny,1) 100%);
			}
			span {
				display: block;
				color: $step-deny;
				position: relative;
				&:after {
					content: "\f00d";
					width: 32px;
					height: 32px;
					font: normal normal normal 18px/32px FontAwesome;
					color: #fff;
					position: absolute;
					left: 0;
					top: 0;
				}
			}
		}
	}
}



















