$pc-one:     #a7d906;
$pc-two:     #f8596d;
$pc-three:   #f7cb00;
$pc-four:    #1dd8bb;
$pc-five:    #3dcfff;
$pc-six:     #ff78d7;
$pc-seven:   #db7c3d;
$pc-eight:   #963ef0;
$pc-nine:    #3e74fc;
$pc-ten:     #d08f1d;
$pc-eleven:  #cb0;
$pc-twelve:  #41c17d;

.progress-timeline {
	.progress-list {
		list-style: none;
		margin: 0;
		padding: 0 0 1px;
		position: relative;
		&:after {
			content: "";
			border-radius: 2px;
			background: #e3e5ea;
			width: 4px;
			position: absolute;
			left: 258px;
			top: 0;
			bottom: 0;
			z-index: -1;
		}
	}
	.progress-item {
		display: flow-root;
		margin-bottom: 60px;
	}
	.progress-check {
		float: left;
		width: 300px;
		position: relative;
	}
	.progress-circ {
		background: #999;
		border-radius: 50%;
		width: 80px;
		height: 80px;
		font-family: "Roboto",sans-serif;
		font-size: 1.875rem;
		font-weight: 700;
		color: #999;
		text-align: center;
		line-height: 80px;
		position: absolute;
		top: -10px;
		right: 0;
		z-index: 0;
		&:before {
			content: "";
			display: block;
			box-shadow: 8px 8px 8px rgba(#000, .3);
            background: #fff;
            border-radius: 50%;
            width: 56px;
            height: 56px;
			position: absolute;
			left: 12px;
			top: 12px;
			z-index: -1;
		}
	}
	.progress-brief {
		padding-top: 20px;
		text-align: right;
		width: 190px;
		h5 {
			font-size: 1.1875rem;
			font-weight: bold;
			a {
				&:hover { color: #c15dff; }
			}
		}
		p {
			margin-bottom: 0;
			line-height: 1.4;
			color: #838d93;
		}
	}
	.progress-card {
		margin-left: 340px;
		position: relative;
		&:before, &:after {
			content: "";
			position: absolute;
		}
		&:before {
			background: #999;
			width: 24px;
			height: 2px;
			top: 29px;
			left: -40px;
		}
		&:after {
			border-radius: 50%;
			border: 2px solid #999;
			width: 12px;
			height: 12px;
			top: 24px;
			left: -16px;
		}
	}
	.progress-card-body {
		background: #fff;
		border-radius: 5px;
		padding: 20px;
	}
}

.progress-item.checked {
	.progress-circ {
		&:after {
			content: "\f00c";
			display: block;
			font: normal normal normal 2.5rem/88px FontAwesome;
			color: red;
		}
	}
}

.progress-item.checked, .history-timeline .progress-item {
	&:nth-child(12n-11) {
        .progress-circ {
            background: $pc-one;
			color: $pc-one;
			&:after { color: $pc-one; }
        }
		.progress-brief h5 { color: $pc-one; }
        .progress-card {
            &:before { background: $pc-one; }
			&:after { border-color: $pc-one; }
        }
	}
	&:nth-child(12n-10) {
        .progress-circ {
            background: $pc-two;
			color: $pc-two;
			&:after { color: $pc-two; }
        }
		.progress-brief h5 { color: $pc-two; }
        .progress-card {
            &:before { background: $pc-two; }
			&:after { border-color: $pc-two; }
        }
	}
	&:nth-child(12n-9) {
        .progress-circ {
            background: $pc-three;
			color: $pc-three;
			&:after { color: $pc-three; }
        }
		.progress-brief h5 { color: $pc-three; }
        .progress-card {
            &:before { background: $pc-three; }
			&:after { border-color: $pc-three; }
        }
	}
	&:nth-child(12n-8) {
        .progress-circ {
            background: $pc-four;
			color: $pc-four;
			&:after { color: $pc-four; }
        }
		.progress-brief h5 { color: $pc-four; }
        .progress-card {
            &:before { background: $pc-four; }
			&:after { border-color: $pc-four; }
        }
	}
	&:nth-child(12n-7) {
        .progress-circ {
            background: $pc-five;
			color: $pc-five;
			&:after { color: $pc-five; }
        }
		.progress-brief h5 { color: $pc-five; }
        .progress-card {
            &:before { background: $pc-five; }
			&:after { border-color: $pc-five; }
        }
	}
	&:nth-child(12n-6) {
        .progress-circ {
            background: $pc-six;
			color: $pc-six;
			&:after { color: $pc-six; }
        }
		.progress-brief h5 { color: $pc-six; }
        .progress-card {
            &:before { background: $pc-six; }
			&:after { border-color: $pc-six; }
        }
	}
	&:nth-child(12n-5) {
        .progress-circ {
            background: $pc-seven;
			color: $pc-seven;
			&:after { color: $pc-seven; }
        }
		.progress-brief h5 { color: $pc-seven; }
        .progress-card {
            &:before { background: $pc-seven; }
			&:after { border-color: $pc-seven; }
        }
	}
	&:nth-child(12n-4) {
        .progress-circ {
            background: $pc-eight;
			color: $pc-eight;
			&:after { color: $pc-eight; }
        }
		.progress-brief h5 { color: $pc-eight; }
        .progress-card {
            &:before { background: $pc-eight; }
			&:after { border-color: $pc-eight; }
        }
	}
	&:nth-child(12n-3) {
        .progress-circ {
            background: $pc-nine;
			color: $pc-nine;
			&:after { color: $pc-nine; }
        }
		.progress-brief h5 { color: $pc-nine; }
        .progress-card {
            &:before { background: $pc-nine; }
			&:after { border-color: $pc-nine; }
        }
	}
	&:nth-child(12n-2) {
        .progress-circ {
            background: $pc-ten;
			color: $pc-ten;
			&:after { color: $pc-ten; }
        }
		.progress-brief h5 { color: $pc-ten; }
        .progress-card {
            &:before { background: $pc-ten; }
			&:after { border-color: $pc-ten; }
        }
	}
	&:nth-child(12n-1) {
        .progress-circ {
            background: $pc-eleven;
			color: $pc-eleven;
			&:after { color: $pc-eleven; }
        }
		.progress-brief h5 { color: $pc-eleven; }
        .progress-card {
            &:before { background: $pc-eleven; }
			&:after { border-color: $pc-eleven; }
        }
	}
	&:nth-child(12n) {
        .progress-circ {
            background: $pc-twelve;
			color: $pc-twelve;
			&:after { color: $pc-twelve; }
        }
		.progress-brief h5 { color: $pc-twelve; }
        .progress-card {
            &:before { background: $pc-twelve; }
			&:after { border-color: $pc-twelve; }
        }
	}
}

/* `Timeline cross
-----------------------------------------------------------------------------*/

.timeline-cross {
	margin-bottom: 40px;
	ul {
		padding-left: 50%;
		&:after {
			content: "";
			background: $bg_border_color;
			width: 2px;
			position: absolute;
			top: 0;
			bottom: 0;
			left: 50%;
			z-index: -1;
		}
	}
	li {
		margin-bottom: 0;
		padding-left: 40px;
		&:nth-child(2n) {
			margin-left: -100%;
			padding-left: 0;
			padding-right: 40px;
			width: 100%;
		}
	}
}

/* `Block Timeline
-----------------------------------------------------------------------------*/

.block-timeline {
	ul {
		padding: 10px 0 0;
	}
	li, li:nth-child(2n) {
		.timeline-circ {
			display: none;
		}
	}
	.card {
		border-radius: 0;
		box-shadow: none;
		border-top: 0;
		border-left: 2px solid #aaa;
		z-index: 1;
	}
}

/* `History Timeline
-----------------------------------------------------------------------------*/

.history-timeline {
	//font-size: 1rem;
	.dateline {
		font-family: "Roboto",sans-serif;
		font-weight: 300;
		.years { font-weight: 500; }
	}
	.progress-list {
		list-style: none;
		margin: 0;
		padding: 30px 0 1px;
		position: relative;
		&:after {
			content: "";
			border-radius: 2px;
			background: #e3e5ea;
			width: 4px;
			position: absolute;
			left: 258px;
			top: 0;
			bottom: 0;
			z-index: 0;
		}
	}
	.progress-item {
		display: flow-root;
		margin-bottom: 60px;
		position: relative;
		z-index: 1;
	}
	.progress-check {
		float: left;
		width: 300px;
		position: relative;
	}
	.progress-circ {
		background: #999;
		border-radius: 50%;
		width: 80px;
		height: 80px;
		font-family: "Roboto",sans-serif;
		font-size: 1.875rem;
		font-weight: 700;
		color: #999;
		text-align: center;
		line-height: 80px;
		position: absolute;
		right: 0;
		z-index: 0;
		&:before {
			content: "";
			display: block;
			box-shadow: 8px 8px 8px rgba(#000, .3);
            background: #fff;
            border-radius: 50%;
            width: 56px;
            height: 56px;
			position: absolute;
			left: 12px;
			top: 12px;
			z-index: -1;
		}
	}
	.progress-brief {
		padding-top: 15px;
		text-align: right;
		width: 190px;
		p {
			margin-bottom: 0;
			line-height: 1.4;
			color: #838d93;
		}
	}
	.progress-card {
		margin-left: 340px;
		position: relative;
		&:before, &:after {
			content: "";
			position: absolute;
		}
		&:before {
			background: #999;
			width: 24px;
			height: 2px;
			top: 39px;
			left: -40px;
		}
		&:after {
			border-radius: 50%;
			border: 2px solid #999;
			width: 12px;
			height: 12px;
			top: 34px;
			left: -16px;
		}
	}
	.progress-card-body {
		background: #fff;
		border-radius: 5px;
		padding-left: 20px;
		min-height: 80px;
	}
}

/* `Audit Timeline
-----------------------------------------------------------------------------*/

.process_padding-container {
	padding-left: 450px;
	position: relative;
	.process-wrapper {
		width: 420px;
        position: absolute;
        left: 0;
	}
	.process-subject {
		margin-bottom: 2rem;
		padding-top: .9375rem;
	}
}

.audit-timeline {
	.progress-list {
        &:after {
            left: 138px;
        }
	}
	.progress-item {
		margin-bottom: 30px;
		&:last-child { margin-bottom: 0; }
	}
	.progress-circ {
		background: #fff;
		border: 2px solid $base_border_color;
        width: 40px;
        height: 40px;
		top: 10px;
		right: 20px;
		&:before { content: none; }
	}
	.progress-brief {
		width: 100px;
	}
	.progress-check {
		width: 180px;
	}
	.progress-card {
		margin-left: 220px;
		&:before {
			left: -60px;
		}
		&:after {
			left: -36px;
		}
	}
	.audit-card {
		background: #fff;
		border-radius: 5px;
		box-shadow: 0 2px 4px rgba(#000, .1);
		.card-hd {
			border-bottom: 1px solid $base_border_color;
			border-radius: 5px 5px 0 0;
			padding: 10px 20px;
			span {
				display: inline-block;
				margin-left: .5rem;
				font-weight: bold;
			}
		}
		.card-bd {
			padding: 20px;
			.btn {
				display: block;
				box-shadow: none;
				margin: 0;
				&:hover {
					border-color: #111 !important;
					color: #111 !important;
				}
			}
		}
	}
	.item-pass {
		.progress-circ {
			border-color: #4cb339;
		}
		.card-hd {
			background: #cff5c8 ;
		}
	}
	.item-return {
		.progress-circ {
			border-color: #e78353;
		}
		.card-hd {
			background: #ffd5c1;
		}
	}
	.item-current {
		.progress-circ {
			background: #222;
			border-color: #222;
		}
		.card-hd {
			background: #222;
			color: #fff;
		}
	}
}





















