<footer class="footer">
	<div class="container clearfix">
        <div class="float-left">
            <div class="language">
                <span>Language</span>
                <a href="#" class="selected">English</a>
                <a href="#">中文</a>
            </div>
            <div class="contact">
                <p>國立臺灣大學 National Taiwan University</p>
                <p>Phone：+886-2-3366-3366</p>
                <p>Fax：+886-2-2362-7651</p>
                <p>No. 1, Sec. 4, Roosevelt Rd., Taipei 10617, Taiwan (R.O.C.)</p>
                <p class="browser-support">瀏覽器建議 Firefox、Chrome 或 IE11+</p>
            </div>
        </div>
        <address class="float-right">© 2018 國立臺灣大學 National Taiwan University</address>
	</div>
</footer>
