<header class="header">
    <div class="container">
		<div class="header-wrap">
			<div class="brands">
				<a class="d-flex" href="/">
                    <div class="logo">
                        <h1 class="text-hide">臺灣大學 國際事務管理系統</h1>
                        <img class="h1-logo" src="../assets/logo.png" />
                    </div>
                    <div class="sub">
                        <span>自行車線上管理系統</span>
                        <span class="en">Bicycle online management system</span>
                    </div>
				</a>
			</div>
			<div class="account dropdown d-none">
				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					user@email.address
				</a>
				<div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
					<a class="dropdown-item" href="#">Change Password</a>
					<a class="dropdown-item" href="#">Settings</a>
					<div class="dropdown-divider"></div>
					<a class="dropdown-item" href="#">Logout</a>
				</div>
			</div>
		</div>
    </div>
</header>