<header class="header">
    <div class="container">
		<div class="header-wrap">
			<div class="brands">
				<a class="d-flex" href="/">
                    <div class="logo">
                        <h1 class="text-hide">臺灣大學 國際事務管理系統</h1>
                        <img class="h1-logo" src="../assets/logo.png" />
                    </div>
                    <div class="sub">
                        <span>自行車線上<span>管理系統</span></span>
                        <span class="en">Bicycle online management system</span>
                    </div>
				</a>
			</div>
			<div class="account">
				<a class="nav-link login-link" href="#">Login</a>
			</div>
		</div>
    </div>
</header>