<!-- admin-page: 選擇角色 S2 -->

<!-- 選擇角色可依此範本將 login 其他動態效果移植過來 -->

<div class="login-page role-page">
    <div class="role_switch-container">
        <h1 class="role_logo">
			<img class="logo__img" style="width: 200px;" src="../assets/fake/ndhu-logo@2x.png" alt="單位名稱" title="單位名稱" />
		</h1>
        <ul class="role-list menu-item">
            <li>
                <div class="role-inner">
                    <h5 class="item-title">資料登錄人員</h5>
                    <p class="item-description">案件資料登錄及管理但不可登錄登錄案件資訊(審議後) 資料</p>
                    <a href="#" class="btn btn-role purple-gradient btn-rounded">前往</a>
                </div>
            </li>
            <li>
                <div class="role-inner">
                    <h5 class="item-title">案件統計建檔人員</h5>
                    <p class="item-description">除登錄及維護案件各項資料外可進行登錄案件資訊(審議後) 資料</p>
                    <a href="#" class="btn btn-role purple-gradient btn-rounded">前往</a>
                </div>
            </li>
            <li>
                <div class="role-inner">
                    <h5 class="item-title">案件查閱人員</h5>
                    <p class="item-description">案件資料查詢</p>
                    <a href="#" class="btn btn-role purple-gradient btn-rounded">前往</a>
                </div>
            </li>
            <li>
                <div class="role-inner">
                    <h5 class="item-title">管理者</h5>
                    <p class="item-description">最大權限</p>
                    <a href="#" class="btn btn-role purple-gradient btn-rounded">前往</a>
                </div>
            </li>
			<li>
                <div class="role-inner">
                    <h5 class="item-title">案件查閱人員</h5>
                    <p class="item-description">案件資料查詢</p>
                    <a href="#" class="btn btn-role purple-gradient btn-rounded">前往</a>
                </div>
            </li>
            <li>
                <div class="role-inner">
                    <h5 class="item-title">管理者</h5>
                    <p class="item-description">最大權限</p>
                    <a href="#" class="btn btn-role purple-gradient btn-rounded">前往</a>
                </div>
            </li>
        </ul>
    </div>

	<!-- effect_clouds 可給 inline style 改變背景色 -->
	<div class="effect_clouds container-absolute">
        <svg viewBox="0 0 100 100" preserveAspectRatio="xMidYMid slice">
            <defs>
                <radialGradient id="Gradient1" cx="50%" cy="50%" fx="10%" fy="50%" r=".5">
                    <animate attributeName="fx" dur="34s" values="0%;3%;0%" repeatCount="indefinite" />
                    <stop offset="0%" stop-color="#ff0" />
                    <stop offset="100%" stop-color="#ff00" />
                </radialGradient>
                <radialGradient id="Gradient2" cx="50%" cy="50%" fx="10%" fy="50%" r=".5">
                    <animate attributeName="fx" dur="23.5s" values="0%;3%;0%" repeatCount="indefinite" />
                    <stop offset="0%" stop-color="#0ff" />
                    <stop offset="100%" stop-color="#0ff0" />
                </radialGradient>
                <radialGradient id="Gradient3" cx="50%" cy="50%" fx="50%" fy="50%" r=".5">
                    <animate attributeName="fx" dur="21.5s" values="0%;3%;0%" repeatCount="indefinite" />
                    <stop offset="0%" stop-color="#f0f" />
                    <stop offset="100%" stop-color="#f0f0" />
                </radialGradient>
            </defs>
            <rect x="0" y="0" width="100%" height="100%" fill="url(#Gradient1)">
                <animate attributeName="x" dur="20s" values="25%;0%;25%" repeatCount="indefinite" />
                <animate attributeName="y" dur="21s" values="0%;25%;0%" repeatCount="indefinite" />
                <animateTransform attributeName="transform" type="rotate" from="0 50 50" to="360 50 50" dur="17s" repeatCount="indefinite" />
            </rect>
            <rect x="0" y="0" width="100%" height="100%" fill="url(#Gradient2)">
                <animate attributeName="x" dur="23s" values="-25%;0%;-25%" repeatCount="indefinite" />
                <animate attributeName="y" dur="24s" values="0%;50%;0%" repeatCount="indefinite" />
                <animateTransform attributeName="transform" type="rotate" from="0 50 50" to="360 50 50" dur="18s" repeatCount="indefinite" />
            </rect>
            <rect x="0" y="0" width="100%" height="100%" fill="url(#Gradient3)">
                <animate attributeName="x" dur="25s" values="0%;25%;0%" repeatCount="indefinite" />
                <animate attributeName="y" dur="26s" values="0%;25%;0%" repeatCount="indefinite" />
                <animateTransform attributeName="transform" type="rotate" from="360 50 50" to="0 50 50" dur="19s" repeatCount="indefinite" />
            </rect>
        </svg>
	</div>
</div>