<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NFU Online Course Registration System</title>
</head>
<body>
    <h1>NFU Online Course Registration System</h1>
    <%= yield %>
</body>
</html>
