<!-- oia-yuntech: Step3 預覽 -->

<div class="container">
	
	<div class="step-bar four-step">
		<ul>
			<li class="done">
				<span>
					<span class="step">1</span>
					<h4>填寫報名表</h4>
				</span>
			</li>
			<li class="done">
				<span>
					<span class="step">2</span>
					<h4>上傳申請文件</h4>
				</span>
			</li>
			<li class="active">
				<span>
					<span class="step">3</span>
					<h4>預覽</h4>
				</span>
			</li>
		</ul>
	</div>
	
	<form>
		<div class="awall">請確認下列資料無誤送出後列印</div>
	    <%= render :partial => "/partials/application_review" %>
		
		<div class="form-action">
			<a href="/" class="btn btn-link">上一步</a>
			<a href="/" class="btn btn-default mr-2">送出</a>
		</div>
	</form>
</div>

