<!-- oia-yuntech: Step1 申請表 -->

<div class="container">
	
	<div class="step-bar four-step">
		<ul>
			<li class="active">
				<span>
					<span class="step">1</span>
					<h4>填寫報名表</h4>
				</span>
			</li>
			<li>
				<span>
					<span class="step">2</span>
					<h4>上傳申請文件</h4>
				</span>
			</li>
			<li>
				<span>
					<span class="step">3</span>
					<h4>預覽</h4>
				</span>
			</li>
		</ul>
	</div>
	
	<form>
	    <div class="mb-5">
		    <h4 class="block-title">申請志願</h4>
			<table class="table table-sm">
			    <thead>
				    <tr>
					    <th>志願序</th>
						<th>姊妹校</th>
						<th>交換期間</th>
					</tr>
				</thead>
				<tbody>
					<% (1..3).each do |n| %>
				    <tr>
					    <td class="text-center"><%= n %></td>
						<td>
							<div class="form-row">
								<div class="col">
									<select class="browser-default custom-select d-inline-block">
										<option selected>選擇洲別</option>
										<option value="1">Humanities and Social Sciences college</option>
										<option value="2">Two</option>
										<option value="3">Three</option>
									</select>
								</div>
								<div class="col">
									<select class="browser-default custom-select d-inline-block">
										<option selected>選擇國家</option>
										<option value="1">Bachelor of Information Engineering</option>
										<option value="2">Two</option>
										<option value="3">Three</option>
									</select>
								</div>
								<div class="col">
									<select class="browser-default custom-select d-inline-block">
										<option selected>選擇姊妹校</option>
										<option value="1">Molecular Chemistry Group</option>
										<option value="2">Two</option>
										<option value="3">Three</option>
									</select>
								</div>
							</div>
						</td>
						<td>
							<select class="browser-default custom-select">
								<option selected>請選擇</option>
								<option value="1">一學年</option>
								<option value="2">Two</option>
								<option value="3">Three</option>
							</select>
						</td>
					</tr>
					<% end %>
				</tbody>
			</table>
		</div>
		
		<div class="mb-5">
		    <h4 class="block-title">個人資料</h4>
			<p>不確定是否需要 <span class="required">*</span> 必填欄位符號，有的話請參考中文姓名</p>
			<div class="row">
				<div class="col-9">
					<div class="form-group">
						<label for="Chinesefullname"><span class="required">*</span> 中文姓名</label>
						<input type="text" class="form-control" id="Chinesefullname" placeholder="">
					</div>
					<div class="form-group">
						<label for="FullnameinEnglish">護照英文姓名</label>
						<input type="text" class="form-control" id="FullnameinEnglish" placeholder="Example input">
						<p class="form-text text-muted">Must match the English name on the passport</p>
					</div>
					
					<div class="row">
						<div class="col-6">
                            <div class="form-group">
                                <label>性別</label>
                                <div>
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" class="custom-control-input" id="male" name="PersonalGender">
                                        <label class="custom-control-label" for="male">男性</label>
                                    </div>
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" class="custom-control-input" id="female" name="PersonalGender">
                                        <label class="custom-control-label" for="female">女性</label>
                                    </div>
                                </div>
                            </div>
						</div>
						<div class="col-6">
                            <div class="form-group">
                                <label for="">出生日期</label>
                                <div class="form-row">
                                    <div class="col">
                                        <select class="browser-default custom-select">
                                            <option selected>年</option>
                                            <option value="1">1999</option>
                                            <option value="2">1998</option>
                                            <option value="3">1997</option>
                                        </select>
                                    </div>
                                    <div class="col">
                                        <select class="browser-default custom-select">
                                            <option selected>月</option>
                                            <option value="1">01</option>
                                            <option value="2">02</option>
                                            <option value="3">03</option>
                                        </select>
                                    </div>
                                    <div class="col">
                                        <select class="browser-default custom-select">
                                            <option selected>日</option>
                                            <option value="1">01</option>
                                            <option value="2">02</option>
                                            <option value="3">03</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
						</div>
					</div>
					
					<div class="form-group">
						<label for="idNumber">身份證字號</label>
						<input type="text" class="form-control" id="idNumber" placeholder="">
					</div>
					
					<div class="row">
						<div class="col-6">
                            <div class="form-group">
                                <label>系所</label>
                                <div class="output">
									<span>企業管理學系</span>
									<span>年級：</span>
									<span><input type="text" class="form-control" placeholder=""></span>
								</div>
                            </div>
						</div>
						<div class="col-6">
                            <div class="form-group">
                                <label>學號</label>
                                <div class="output">A9328011</div>
                            </div>
						</div>
					</div>
					
					<div class="row">
						<div class="col-6">
                            <div class="form-group">
                                <label>連絡電話 (日)</label>
                                <div class="form-row">
                                    <div class="col-3">
                                        <input type="text" class="form-control" placeholder="+國碼">
                                    </div>
                                    <div class="col-3">
                                        <input type="text" class="form-control" placeholder="區碼">
                                    </div>
                                    <div class="col-6">
                                        <input type="text" class="form-control" placeholder="號碼">
                                    </div>
                                </div>
                            </div>
						</div>
						<div class="col-6">
                            <div class="form-group">
                                <label>連絡電話 (夜)</label>
                                <div class="form-row">
                                    <div class="col-3">
                                        <input type="text" class="form-control" placeholder="+國碼">
                                    </div>
                                    <div class="col-3">
                                        <input type="text" class="form-control" placeholder="區碼">
                                    </div>
                                    <div class="col-6">
                                        <input type="text" class="form-control" placeholder="號碼">
                                    </div>
                                </div>
                            </div>
						</div>
					</div>
					
                    <div class="form-group">
                        <label>戶籍地址</label>
                        <div class="form-row">
                            <div class="col-2">
                                <input type="text" class="form-control" placeholder="郵遞區號">
                            </div>
                            <div class="col-10">
                                <input type="text" class="form-control" placeholder="請輸入完整地址">
                            </div>
                        </div>
                    </div>
					
					<div class="form-group">
                        <label>現居地址</label>
                        <div class="custom-control custom-checkbox d-inline-block ml-2">
                            <input type="checkbox" class="custom-control-input" id="defaultUnchecked">
                            <label class="custom-control-label" for="defaultUnchecked">同上</label>
                        </div>
                        <div class="form-row">
                            <div class="col-2">
                                <input type="text" class="form-control" placeholder="郵遞區號">
                            </div>
                            <div class="col-10">
                                <input type="text" class="form-control" placeholder="請輸入完整地址">
                            </div>
                        </div>
                    </div>
					
					<div class="form-group">
						<label for="Email">聯絡信箱</label>
						<div class="output">A9328011@yuntech.edu.tw</div>
					</div>
				</div>
				<div class="col-3">
					<div class="file-field">
						<div class="mb-4 text-center">
							<img src="../assets/default.png" class="avatar-pic avatar-recent" alt="Personal recent photo">
						</div>
						<div class="d-flex justify-content-center">
							<div class="btn btn-blue-grey btn-rounded float-left">
								<span>上傳照片</span>
								<input type="file">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="mb-5">
			<h4 class="block-title">緊急聯絡人</h4>
            <div class="row">
                <div class="col-6">
					<div class="form-group">
						<label for="ecpName">姓名</label>
						<input type="text" class="form-control" id="ecpName" placeholder="">
					</div>
                </div>
                <div class="col-6">
					<div class="form-group">
						<label for="ecpRelationship">關係</label>
						<input type="text" class="form-control" id="ecpRelationship" placeholder="">
					</div>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <label>連絡電話 (日)</label>
                        <div class="form-row">
                            <div class="col-3">
                                <input type="text" class="form-control" placeholder="+國碼">
                            </div>
                            <div class="col-3">
                                <input type="text" class="form-control" placeholder="區碼">
                            </div>
                            <div class="col-6">
                                <input type="text" class="form-control" placeholder="號碼">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label>連絡電話 (夜)</label>
                        <div class="form-row">
                            <div class="col-3">
                                <input type="text" class="form-control" placeholder="+國碼">
                            </div>
                            <div class="col-3">
                                <input type="text" class="form-control" placeholder="區碼">
                            </div>
                            <div class="col-6">
                                <input type="text" class="form-control" placeholder="號碼">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label>聯絡地址</label>
                <div class="form-row">
                    <div class="col-2">
                        <input type="text" class="form-control" placeholder="郵遞區號">
                    </div>
                    <div class="col-10">
                        <input type="text" class="form-control" placeholder="請輸入完整地址">
                    </div>
                </div>
            </div>
		</div>
		
		<div class="mb-5">
			<h4 class="block-title">在學成績</h4>
            <div class="row">
                <div class="col-4">
					<div class="form-group">
						<label for="gradeGPA">GPA</label>
						<input type="text" class="form-control" id="gradeGPA" placeholder="">
					</div>
                </div>
                <div class="col-4">
					<div class="form-group">
						<label for="gradePercentage">班排名百分比</label>
						<input type="text" class="form-control" id="gradePercentage" placeholder="">
					</div>
                </div>
				<div class="col-4">
					<div class="form-group">
						<label for="gradeConduct">操行成績</label>
						<input type="text" class="form-control" id="gradeConduct" placeholder="">
					</div>
                </div>
            </div>
		</div>
		
		<div class="mb-5">
			<h4 class="block-title">其他</h4>
            <div class="form-group">
                <label>外語能力</label>
                <div>
                    <div class="custom-control custom-checkbox custom-control-inline">
                        <input type="checkbox" class="custom-control-input" id="languageEN">
                        <label class="custom-control-label" for="languageEN">英文</label>
                    </div>
                    <div class="custom-control custom-checkbox custom-control-inline">
                        <input type="checkbox" class="custom-control-input" id="languageJP">
                        <label class="custom-control-label" for="languageJP">日文</label>
                    </div>
					<div class="custom-control custom-checkbox custom-control-inline">
                        <input type="checkbox" class="custom-control-input" id="languageMore">
                        <label class="custom-control-label" for="languageMore">其他</label>
                        <div class="d-inline-block ml-2">
                            <input type="text" class="form-control" id="" placeholder="">
                        </div>
                    </div>
				</div>
            </div>
			<div class="form-group">
                <label>健康狀況</label>
                <div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" class="custom-control-input" id="healthGood" name="healthStatus">
                        <label class="custom-control-label" for="healthGood">良好</label>
                    </div>
					<div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" class="custom-control-input" id="healthBad" name="healthStatus">
                        <label class="custom-control-label" for="healthBad">有疾病</label>
                    </div>
                    <div id="healthHS" class="mt-2">
                        <input type="text" class="form-control" id="" placeholder="請輸入疾病名稱">
                    </div>
				</div>
            </div>
		</div>
		
		<div class="form-action">
			<a href="/" class="btn btn-default mr-2">儲存</a>
			<a href="/" class="btn btn-link">下一步</a>
		</div>
	</form>
</div>

<% content_for :js do %>
<script>
$(document).ready(function() {
    $('input[type="radio"]').click(function() {
       if($(this).attr('id') == 'healthBad') {
            $('#healthHS').show();           
       }
       else {
            $('#healthHS').hide();   
       }
    });
});
</script>
<% end %>

























































