<footer class="footer">
	<div class="container">
		<div class="footer-inner">
            <div class="logo">
                <img class="h1-logo" src="../assets/logo_white@2x.png" />
            </div>
			<div class="contact">
                <h5>Taipei Medical University</h5>
				<p>250 Wuxing St. Taipei 11031 Taiwan</p>
				<p>Email: admission@tmu.edu.tw</p>
            </div>
		</div>
	</div>
</footer>