<footer class="footer">
	<div class="container clearfix">
        <div class="float-left">
            <div class="contact">
                <p>國立虎尾科技大學 National Formosa University</p>
                <p>Phone：+886-5-6315000</p>
                <p>Fax：+886-5-6315999</p>
                <p>632 雲林縣虎尾鎮文化路64號</p>
                <p class="browser-support">瀏覽器建議 Firefox、Chrome 或 IE11+</p>
            </div>
        </div>
        <address class="float-right">© 2018 國立虎尾科技大學 National Formosa University</address>
	</div>
</footer>
