
/* `Header
-----------------------------------------------------------------------------*/

header.header {
    background: #f8f8f8;
	position: relative;
	margin-bottom: 5rem;
    &:after {
        content: "";
        background: $main_color;
        height: 12px;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        z-index: 0;
    }
	.dropdown-toggle {
		background-color: transparent;
		border: none;
		padding: 0;
	}
	.header-function {
        margin-bottom: 24px;
        font-size: 1.125rem;
        text-align: end;
    }
    .organization { margin-bottom: .875rem; }
}

.header-wrap {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
	flex-direction: row-reverse;
    height: 160px;
	.account {
		padding: 0 0.5rem;
	}
	.brands-inner {
		display: flex;
		align-items: flex-end;
		color: #333;
	}
    .logo {
        background: #fff;
        margin-right: 24px;
        width: 160px;
        height: 160px;
        text-align: center;
        line-height: 160px;
        position: relative;
        z-index: 1;
        &.logo-white { background: $main_color; }
    }
	.h1-logo {
		display: inline-block;
		width: auto;
		height: 118px;
	}
	.sub {
        margin-bottom: 24px;
        line-height: 1.3;
		span {
			display: block;
			font-size: 1.875rem;
		}
	}
}

.header-right {
	text-align: end;
}

