<footer class="footer">
	<div class="container">
		<div class="footer-inner">
			<ul class="menu-item contact">
			    <li title="總機">
					<i class="fa fa-phone"></i>
					02-2358-7343
				</li>
				<li title="傳真">
					<i class="fa fa-fax"></i>
					02-2358-4098
				</li>
				<li title="地址">
					<i class="fa fa-map-marker"></i>
				    10092台北市中正區愛國東路22號10樓
				</li>
			</ul>
			<address>Copyright 2021 藥害救濟基金會 | All Rights Reserved</address>
		</div>
	</div>
</footer>