<header class="header">
    <div class="container">
		<div class="header-wrap">
			<div class="brands">
				<a href="../home/index.html">
                    <div class="logo">
                        <h1 class="text-hide">藥害救濟申請書</h1>
                        <img class="h1-logo" src="../assets/logo@2x.png" />
                    </div>
				</a>
			</div>
			<div class="sys-title">
			    <h2>線上填寫藥害救濟申請書</h2>
			</div>
		</div>
    </div>
</header>