/* `Header
-----------------------------------------------------------------------------*/

header.header {
	padding-top: 90px;
}

.header-wrap {
	background: #fff;
	padding-bottom: 40px;
	display: flex;
	flex-direction: column;
	align-items: center;
	.logo {
		margin: -50px auto 12px;
		a {
			display: inline-block;
		}
        h1 { margin: 0; }
	}
	.h1-title { display: none; }
	.h1-logo {
		display: inline-block;
		border-radius: 50%;
		box-shadow: 0 12px 16px rgba(0, 0, 0, .1), 0 8px 12px rgba(0, 0, 0, .2);
		width: 88px;
		height: auto;
		vertical-align: middle;
	}
    .sub {
		font-size: 1.625rem;
		font-weight: 400;
        line-height: 1.2;
		color: #576468;
		position: relative;
        > strong {
			display: inline-block;
			padding: 0 0.5rem;
			font-family: 'Roboto', sans-serif;
            font-size: 1.875rem;
			font-weight: 500;
			color: #3092ca;
        }
    }
}
