<header class="header">
    <div class="container-lg container-fixed">
		<div class="header-wrap">
			<div class="account">
				<a href="#" class="language">English</a>
			</div>
			<div class="brands">
                <div class="logo">
                    <h1 class="text-hide">國立臺灣大學出國交換甄選</h1>
                    <img class="h1-logo" src="../assets/logo@2x.png" />
                </div>
				<div class="sub">
				    <span class="sm">國立臺灣大學</span>
					<span class="md">出國交換學生甄選系統</span>
				</div>
			</div>
		</div>
    </div>
</header>