<header class="header has-mobile">
    <div class="container-lg">
		<div class="header-wrap">
			<div class="account">
				<a href="#" class="logout">Logout</a>
				<a href="#" class="language">繁體中文</a>
			</div>
			<div class="brands">
                <div class="logo">
                    <h1 class="text-hide">National Taiwan University Outgoing Exchange Students Internal Screening</h1>
                    <img class="h1-logo" src="../assets/logo@2x.png" />
                </div>
				<div class="sub">
				    <span class="sm">National Taiwan University</span>
					<span class="md">Outgoing Exchange Students Internal Screening Application System</span>
				</div>
			</div>
		</div>
    </div>
</header>