<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{E001}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <section class="section">
                    <div class="section-title">
                        <h4 class="title">個人資料</h4>
                    </div>
					<div class="row">
					    <div class="col-3">
                            <div class="form-group">
                                <label for="exInput1" class="form-label">中文姓名</label>
                                <div class="form-output">史嘉蕾</div>
                            </div>
						</div>
						<div class="col-3">
                            <div class="form-group">
                                <label for="exInput3" class="form-label">英文姓名</label>
                                <div class="form-output">Johansson Scarlett</div>
                            </div>
						</div>
						<div class="col-3">
                            <div class="form-group">
                                <label for="birthdayInput" class="form-label">生日</label>
                                <div class="form-output">1984-11-22</div>
                            </div>
						</div>
						<div class="col-3">
                            <div class="form-group">
                                <label class="form-label">性別</label>
                                <div class="form-output">女性</div>
                            </div>
						</div>
						<div class="col-3">
						    <div class="form-group">
                                <label class="form-label">身份別</label>
                                <div class="form-output">一般生</div>
                            </div>
						</div>
						<div class="col-3">
						    <div class="form-group">
                                <label for="exInput5" class="form-label">身份證號</label>
                                <div class="form-output">F0123456789</div>
                            </div>
						</div>
						<div class="col-6">
						    <div class="form-group">
                                <label for="exInput6" class="form-label">E-mail</label>
                                <div class="form-output">johanssonscarlett@gmail.com</div>
                            </div>
						</div>
						<div class="col-6">
						    <div class="form-group">
                                <label for="exInput7" class="form-label">手機號碼</label>
                                <div class="form-output">0900123456</div>
                            </div>
						</div>
					</div>
                </section>
                <section class="section">
                    <div class="section-title">
                        <h4 class="title">在學資料</h4>
                    </div>
					
					<div class="row">
					    <div class="col-3">
						    <div class="form-group">
                                <label for="exInput21" class="form-label">學號</label>
                                <div class="form-output">B05101048</div>
                            </div>
						</div>
						<div class="col-3">
						    <div class="form-group">
                                <label class="form-label">年級</label>
                                <div class="form-output">大一</div>
                            </div>
						</div>
						<div class="col-6">
                            <div class="form-group">
                                <label class="form-label">學院</label>
                                <div class="form-output">6000 生物資源暨農學院</div>
                            </div>
						</div>
						<div class="col-6">
                            <div class="form-group">
                                <label class="form-label">系所</label>
                                <div class="form-output">生物產業傳播暨發展學系</div>
                            </div>
						</div>
					</div>
                </section>
                <section class="section">
                    <div class="section-title">
                        <h4 class="title">各項成績</h4>
                    </div>
                    <div class="form-group">
                        <label class="form-label">歷年成績單</label>
                        <div class="form-output">
							<span class="text-danger">缺件</span>
							<a href="#">下載</a>
						</div>
                    </div>
                    <div class="sblock-title">
                        <h5 class="title">109 學年度在校成績</h5>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="exInput31" class="form-label">GPA</label>
                                        <div class="form-output">3</div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="exInput32" class="form-label">全校排名</label>
                                        <div class="form-output">2</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="exInput33" class="form-label">全班人數</label>
                                        <div class="form-output">50</div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="exInput34" class="form-label">全班排名百分比</label>
                                        <div class="form-output">4%</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="form-label">參加組別</label>
                        <div class="form-output">一般組</div>
                        <div class="form-text">本表送出後不得更換組別</div>
                    </div>

                    <div class="form-group">
                        <label class="form-label">語言能力證明</label>
                        <div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="exCheckbox11" checked disabled>
                                <label class="form-check-label" for="exCheckbox11">英語</label>
                            </div>

                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="exCheckbox14" checked disabled>
                                <label class="form-check-label" for="exCheckbox14">法語</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="exCheckbox18" checked disabled>
                                <label class="form-check-label" for="exCheckbox18">俄語</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="exCheckbox19" checked disabled>
                                <label class="form-check-label" for="exCheckbox19">義大利語</label>
                            </div>
                        </div>
                    </div>

                    <div class="language-container">

                        <div class="lang-item lang-en">

                            <div class="inner-block">
                                <div class="form-group">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="exCheck31" checked disabled />
                                        <label class="form-check-label" for="exCheck31">TOEFL</label>
                                    </div>
                                </div>

                                <div class="score-wrap">
                                    <div class="row">
                                        <div class="col-sm-4 col-md-2">
                                            <div class="form-group">
                                                <label class="form-label">總分</label>
                                                <div class="form-output">95</div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4 col-md-2">
                                            <div class="form-group">
                                                <label class="form-label">讀</label>
                                                <div class="form-output">90</div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4 col-md-2">
                                            <div class="form-group">
                                                <label class="form-label">聽</label>
                                                <div class="form-output">100</div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4 col-md-2">
                                            <div class="form-group">
                                                <label class="form-label"> 	說</label>
                                                <div class="form-output">90</div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4 col-md-2">
                                            <div class="form-group">
                                                <label class="form-label">寫</label>
                                                <div class="form-output">100</div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4 col-md-2">
                                            <div class="form-group">
                                                <label class="form-label">Test Date</label>
                                                <div class="form-output">2022-06-06</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group mb-0">
                                        <label class="form-label">是否為 Home Edition</label>
                                        <div class="form-output">是</div>
                                    </div>
                                </div>
                            </div>

                            <div class="inner-block">
                                <div class="form-group">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="exCheck32" checked disabled />
                                        <label class="form-check-label" for="exCheck32">IELTS</label>
                                    </div>
                                </div>

                                <div class="score-wrap">
                                    <div class="row">
                                        <div class="col-sm-4 col-md-2">
                                            <div class="form-group">
                                                <label class="form-label">總分</label>
                                                <div class="form-output">95</div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4 col-md-2">
                                            <div class="form-group">
                                                <label class="form-label">讀</label>
                                                <div class="form-output">90</div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4 col-md-2">
                                            <div class="form-group">
                                                <label class="form-label">聽</label>
                                                <div class="form-output">100</div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4 col-md-2">
                                            <div class="form-group">
                                                <label class="form-label"> 	說</label>
                                                <div class="form-output">90</div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4 col-md-2">
                                            <div class="form-group">
                                                <label class="form-label">寫</label>
                                                <div class="form-output">100</div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4 col-md-2">
                                            <div class="form-group">
                                                <label class="form-label">Test Date</label>
                                                <div class="form-output">2022-06-06</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="inner-block">
                                <div class="form-group">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="exCheck33" checked disabled />
                                        <label class="form-check-label" for="exCheck33">全民英檢(GEPT)</label>
                                    </div>
                                </div>

                                <div class="score-wrap">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="row">
                                                <div class="col-sm-8">
                                                    <div class="form-group">
                                                        <label class="form-label">級數</label>
                                                        <div class="form-output">超高級</div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-4">
                                                    <div class="form-group">
                                                        <label class="form-label">Test Date</label>
                                                        <div class="form-output">2022-06-06</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">關閉</button>
            </div>
        </div>
    </div>
</div>