<div class="container-lg">
    <div class="title-wrapper has-burger">
        <button class="navbar-toggler button-widget" type="button" id="navbarSideCollapse" aria-label="Toggle navigation">
            <span class="hamburger">
                <span class="line"></span>
                <span class="line"></span>
                <span class="line"></span>
            </span>
        </button>
	    <h2>111 學年度 (2022/2023 年度) 第 2 學期</h2>
	</div>
</div>