<!-- template: 來校: 承辦人 - 姊妹校承辦人登入 -->

<div class="workspace" canvas="container">
    <div class="pages general-pages">
        
        <header class="header" id="pagetop">
            <div class="container-lg">
                <div class="header-wrap">
                    <div class="header-function">
                    </div>
                    <div class="brands">
                        <div class="brands-link">
                            <div class="logo">
                                <h1 class="text-hide">College of Management ,National Taiwan University</h1>
                                <img class="h1-logo" src="../../assets/logo@2x.svg">
                            </div>
                            <div class="sub">
                                <span>國立臺灣大學 管理學院</span>
                                <span class="en">College of Management ,National Taiwan University</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sys-subject">
                <div class="container-lg">
                    <h4>Incoming Exchange Student Nominations for College of Management (College-wide Contracts)</h4>
                </div>
            </div>
        </header>
        
        <div class="content">
            <div class="container-lg">
                <div class="login-wrapper">
                    <div class="login-card">
                        <div class="card-hd">
                            <h3>Log in</h3>
                        </div>
                        <div class="card-bd">
                            <div class="form-group">
                                <label for="exampleFormControlInput1" class="form-label">Email address</label>
                                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Exchange Coordinator Email" />
                            </div>
                            <div class="form-group">
                                <label for="exampleFormControlInput2" class="form-label">Password</label>
                                <input type="password" class="form-control" id="exampleFormControlInput2" />
                            </div>
                        </div>
                        <div class="d-grid mt-4">
                            <button class="btn btn-lg btn-primary" type="button">Login</button>
                        </div>
                        <p class="text-center mt-4"><button class="btn btn-link" type="button">Reset password</button></p>
                    </div>
                </div>
            </div>
        </div>
        <a id="backtop"></a>
    </div>
    <%= render :partial => "/partials/footer" %>
</div>

<% content_for :js do %>

<% end %>
