<!-- template: 來校: 承辦人 - 問卷填寫 -->

<div class="workspace" canvas="container">
    <div class="pages general-pages">
        
        <header class="header" id="pagetop">
            <div class="container-lg">
                <div class="header-wrap">
                    <div class="header-function">
                        <div class="header-right">
                            <div class="account">
                                <div class="dropdown">
                                    <button class="dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        Hi, Ina Venhuizen
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="#">Change password</a></li>
                                        <li><a class="dropdown-item" href="#">Log out</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="brands">
                        <div class="brands-link">
                            <div class="logo">
                                <h1 class="text-hide">College of Management ,National Taiwan University</h1>
                                <img class="h1-logo" src="../../assets/logo@2x.svg">
                            </div>
                            <div class="sub">
                                <span>國立臺灣大學 管理學院</span>
                                <span class="en">College of Management ,National Taiwan University</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sys-subject">
                <div class="container-lg">
                    <h4>2025-2026 Incoming Exchange Program Online Survey</h4>
                </div>
            </div>
        </header>
        
        <div class="content">
            <div class="container-lg">
                <div class="page-content">
                    <main class="main">
                        
                        <div class="row">
                            <div class="col-6">
                                <div class="form-group">
                                    <label class="form-label">Your Name</label>
                                    <input class="form-control" type="text" aria-label="Your Name" value="Ina Venhuizen" disabled readonly>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <label class="form-label">Your eMail</label>
                                    <input class="form-control" type="email" aria-label="Your eMail" value="a.j.venhuizen@rug.nl" disabled readonly>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <label class="form-label">Your Institution</label>
                                    <input class="form-control" type="text" aria-label="Your Institution" value="Netherlands - Faculty of Economics and Business, University of Groningen" disabled readonly>
                                </div>
                            </div>
                        </div>
                        
                        <div class="bg-light p-4 mt-3">
                            <p><strong>College of Management, National Taiwan Univeristy (NTU CoM ) kindly requests your assistance in gathering information for upcoming AY2025-2026 exchanges to our institution by DATES</strong></p>
                            <p class="mb-0">Should you have any questions or queries for us , please contact us on:</p>
                            <p class="mb-0">Ms. Patty Lu : pattylu376@ntu.edu.tw for OUTGOING queries (your students coming to our institution)</p>
                            <p class="mb-0">Ms. Cola Sung: hysung@ntu.edu.tw for INCOMING queries (our students going to your institution)</p>
                        </div>
                        
                        <section class="section">
                            <div class="row">
                                <div class="col-6">
                                    <div class="form-group">
                                        <label for="exampleInput03" class="form-label">
                                            Name of Outgoing (Your Institution to NTU CoM ) exchange main contact
                                        </label>
                                        <input id="exampleInput03" class="form-control" type="text" aria-label="Name of Outgoing">
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <label for="exampleInput04" class="form-label">
                                            eMail of Outgoing (Your institution to NTU CoM ) exchange main contact
                                        </label>
                                        <input id="exampleInput04" class="form-control" type="email" aria-label="eMail of Outgoing">
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <label for="exampleInput05" class="form-label">
                                            Name of Incoming ( NTU CoM to your institution) exchange main contact
                                        </label>
                                        <input id="exampleInput05" class="form-control" type="text" aria-label="Name of Incoming">
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <label for="exampleInput06" class="form-label">
                                            eMail of Incoming ( NTU CoM to your institution) exchange main contact
                                        </label>
                                        <input id="exampleInput06" class="form-control" type="email" aria-label="eMail of Incoming">
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        <label class="form-label">
                                            NTU CoM would like to propose total semester slots in AY2025-2026
                                        </label>
                                        <div class="d-flex align-items-center">
                                            <span class="pe-2"><input type="number" class="form-control" name="tentacles" min="0" max="100" /></span>
                                            <span>If you have questions, please  contact our incoming coordinator- Ms. Patty Lu (pattylu376@ntu.edu.tw)</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        <label class="form-label">
                                            Do you want to specify the slots allocation for undergraduate/ graduate?
                                        </label>
                                        <div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="specifyYes" value="option1">
                                                <label class="form-check-label" for="specifyYes">Yes</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="specifyNo" value="option2">
                                                <label class="form-check-label" for="specifyNo">No</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                <!-- js 預設隱藏 -->
                                <div class="col-12 specify-allocation">
                                    <div class="form-group">
                                        <label class="form-label">
                                            Please specify the slots allocation (1 unit= 1 semester).(e.g. undergraduate 4 and graduate 2)
                                        </label>
                                        <div class="d-flex align-items-center">
                                            <span class="pe-2">undergraduate</span>
                                            <span class="pe-4"><input type="number" class="form-control" name="undergraduate" min="0" max="100" /></span>
                                            <span class="pe-2">graduate</span>
                                            <span class="pe-2"><input type="number" class="form-control" name="graduate" min="0" max="100" /></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>

                        <div class="form-action">
                            <button type="submit" class="btn btn-lg btn-primary">SUBMIT</button>
                            <span class="has-history"><a href="#" class="btn btn-link">Please Click HERE  for the latest Factsheet</a></span>
                        </div>
                    </main>
                </div>
            </div>
        </div>
        <a id="backtop"></a>
    </div>
    <%= render :partial => "/partials/footer" %>
</div>

<% content_for :js do %>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const specifyYes = document.getElementById('specifyYes');
            const specifyNo = document.getElementById('specifyNo');
            const specifyAllocation = document.querySelector('.specify-allocation');

            // 函數用於切換 .specify-allocation 的顯示/隱藏
            function toggleSpecifyAllocation() {
                if (specifyYes.checked) {
                    specifyAllocation.style.display = 'block';
                } else {
                    specifyAllocation.style.display = 'none';
                }
            }

            // 監聽 radio 按鈕的變化事件
            specifyYes.addEventListener('change', toggleSpecifyAllocation);
            specifyNo.addEventListener('change', toggleSpecifyAllocation);

            // 初始化設定
            toggleSpecifyAllocation();
        });
    </script>
<% end %>
