<!-- template: 來校: 承辦人 - 推薦學生名單 -->

<div class="workspace" canvas="container">
    <div class="pages general-pages">
        
        <header class="header" id="pagetop">
            <div class="container-lg">
                <div class="header-wrap">
                    <div class="header-function">
                        <div class="header-right">
                            <div class="account">
                                <div class="dropdown">
                                    <button class="dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        Hi, Ina Venhuizen
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="#">Change password</a></li>
                                        <li><a class="dropdown-item" href="#">Log out</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="brands">
                        <div class="brands-link">
                            <div class="logo">
                                <h1 class="text-hide">College of Management ,National Taiwan University</h1>
                                <img class="h1-logo" src="../../assets/logo@2x.svg">
                            </div>
                            <div class="sub">
                                <span>國立臺灣大學 管理學院</span>
                                <span class="en">College of Management ,National Taiwan University</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sys-subject">
                <div class="container-lg">
                    <h4>Incoming Exchange Student Nominations for College of Management (College-wide Contracts)</h4>
                </div>
            </div>
        </header>
        
        <div class="content">
            <div class="container-lg">
                <div class="page-content">
                    <main class="main">
                        
                        <div class="contact-recommend-hd">
                            <h4>
                                Macau University of Science and Technology
                                <span>2022/23 2nd Semester (February Entry)</span>
                            </h4>
                        </div>
                        
                        <div class="bg-light p-4 mt-3">
                            <p>Dear pa3, Please add the nomination information of your nominees below.</p>
                            <ol>
                                <li>First fill in the nomination information of your nominee(s) below</li>
                                <li>Confirm that the nomination list is correct</li>
                                <li>Click to submit</li>
                            </ol>
                            <p>Once you submit the nomination list, your student(s) will receive a notification on their email to start the online application.</p>
                            <p class="text-danger mb-0">*Please note that once the nomination list is submitted, it cannot be modified.</p>
                            <p class="mb-0">If you need to change any information about your nominee(s), please email us at pattylu376@ntu.edu.tw</p>
                            <p class="mb-0">Thank you very much.</p>
                        </div>
                        
                        <div class="my-5">
                            <h4>寄送住址</h4>
                            <div class="bg-light p-4 mt-3">待提供欄位及檢查規則 國家、地址、郵遞區號(DHL輸入格式)</div>
                        </div>
                        
                        <div class="nominations-wrapper">
                            <div class="nominations-hd">
                                <h3 class="mb-0">
                                    <small>The number of nominations must not exceed:</small>
                                    <strong class="d-inline-block fw-bold text-danger ms-1">4</strong>
                                </h3>
                                <a href="#"><i class="far fa-arrow-alt-circle-down"></i> Cover Letter Download</a>
                            </div>
                            
                            <% (1..4).map do |i| %>
                            <div class="nominations-item">
                                <div class="item-hd">
                                    <h4>No.<%= i %></h4>
                                    <a href="#" class="btn btn-delete" data-bs-toggle="tooltip" data-bs-title="delete"><i class="fas fa-times"></i></a>
                                </div>
                                <div class="item-bd">
                                    <div class="row">
                                        <div class="col-8">
                                            <div class="form-group">
                                                <label for="exampleInput01" class="form-label">
                                                    Name In English
                                                </label>
                                                <div class="row">
                                                    <div class="col-4">
                                                        <input id="" class="form-control" type="text" aria-label="First Name" placeholder="First Name">
                                                    </div>
                                                    <div class="col-4">
                                                        <input id="" class="form-control" type="text" aria-label="Middle Name" placeholder="Middle Name">
                                                    </div>
                                                    <div class="col-4">
                                                        <input id="" class="form-control" type="text" aria-label="Last/Family Name" placeholder="Last/Family Name">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div class="form-group">
                                                <label for="exampleInput01" class="form-label">
                                                    Name in Chinese
                                                </label>
                                                <input id="exampleInput01" class="form-control" type="text" aria-label="Name in Chinese">
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div class="form-group">
                                                <label for="exampleInput02" class="form-label">
                                                    Email
                                                </label>
                                                <input id="exampleInput02" class="form-control" type="email" aria-label="Email">
                                            </div>
                                        </div>
                                        <div class="col-8">
                                            <div class="form-group">
                                                <label for="exampleInput03" class="form-label">
                                                    Email addresses for officially receiving students' NTU E-transcript
                                                </label>
                                                <input id="exampleInput03" class="form-control" type="email" aria-label="Email">
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div class="form-group">
                                                <label class="form-label">
                                                    Degree Level at NTU
                                                </label>
                                                <select class="form-select" aria-label="Default select example">
                                                    <option selected>Open this select menu</option>
                                                    <option value="1">One</option>
                                                    <option value="2">Two</option>
                                                    <option value="3">Three</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div class="form-group">
                                                <label class="form-label">
                                                    Current Degree Level
                                                </label>
                                                <select class="form-select" aria-label="Default select example">
                                                    <option selected>Open this select menu</option>
                                                    <option value="1">One</option>
                                                    <option value="2">Two</option>
                                                    <option value="3">Three</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div class="form-group">
                                                <label for="exampleInput03" class="form-label">
                                                    Exchange Duration
                                                </label>
                                                <div>
                                                    <div class="form-check form-check-inline">
                                                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="durationSemester" value="option1">
                                                        <label class="form-check-label" for="durationSemester">One Semester</label>
                                                    </div>
                                                    <div class="form-check form-check-inline">
                                                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="durationYear" value="option2">
                                                        <label class="form-check-label" for="durationYear">OneYear</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <% end %>
                            
                            <button type="button" class="btn btn-dark btn-rounded"><i class="fas fa-plus"></i> Add</button>
                            
                        </div>

                        <div class="form-action">
                            <button type="submit" class="btn btn-lg btn-primary">Submit Nomination</button>
                        </div>
                    </main>
                </div>
            </div>
        </div>
        <a id="backtop"></a>
    </div>
    <%= render :partial => "/partials/footer" %>
</div>

<% content_for :js do %>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const specifyYes = document.getElementById('specifyYes');
            const specifyNo = document.getElementById('specifyNo');
            const specifyAllocation = document.querySelector('.specify-allocation');

            // 函數用於切換 .specify-allocation 的顯示/隱藏
            function toggleSpecifyAllocation() {
                if (specifyYes.checked) {
                    specifyAllocation.style.display = 'block';
                } else {
                    specifyAllocation.style.display = 'none';
                }
            }

            // 監聽 radio 按鈕的變化事件
            specifyYes.addEventListener('change', toggleSpecifyAllocation);
            specifyNo.addEventListener('change', toggleSpecifyAllocation);

            // 初始化設定
            toggleSpecifyAllocation();
        });
        
        const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
        const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
    </script>
<% end %>
