<!-- template: 未登入首頁 -->

<div class="container-lg">
	<div class="index-wrapper">
        <div class="announcement-wrap">
            <div class="wrap-title">
                <h4>公告</h4>
            </div>
            <div>
                <p>第 1 期至第 3 期臺灣優華語計畫期程原則如下，必要時得延長：</p>
                <p><%= lorem_paragraphs(3) %></p>
                <ol>
                    <% (1..4).map do |i| %>
                    <li><%= lorem_paragraph %></li>
                    <% end %>
                </ol>
            </div>
        </div>
		<div class="login-card">
		    <div class="card-hd">
			    <h4>登入</h4>
			</div>
			<div class="card-bd">
                <div class="form-group">
                    <label for="exampleFormControlInput1" class="form-label">登入帳號</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1" />
                </div>
                <div class="form-group">
                    <label for="exampleFormControlInput2" class="form-label">密碼</label>
                    <input type="password" class="form-control" id="exampleFormControlInput2" />
                </div>
                <div class="form-group">
                    <label for="loginInput4" class="form-label">驗證碼</label>
                    <div class="d-flex align-items-center">
                        <span class="me-1"><input type="text" class="form-control" id="loginInput4" /></span>
                        <span class="me-1"><img class="captcha" src="http://nfu-map.dev.com.tw/common/captcha.image" /></span>
                        <span>
                            <button class="btn btn-xs btn-outline-primary" type="button"><i class="fas fa-sync-alt"></i></button>
                        </span>
                    </div>
                </div>
			</div>
            <div class="d-grid mt-4">
                <button class="btn btn-lg btn-primary" type="button">登入</button>
                <div class="mt-4 text-center">
                    <a href="#">忘記密碼?</a>
                </div>
            </div>
		</div>
	</div>
</div>



<% content_for :js do %>

<% end %>

