/* `Header
-----------------------------------------------------------------------------*/

header.header {
	margin-bottom: 3.75rem;
	.navbar {
		background: $main_lighten_color;
		box-shadow: 0 1px 1px rgba(#000, .1);
		border-radius: 0 0 6px 6px;
		padding: 0;
		.btn {
			background: linear-gradient(40deg, #f75639, #fa883a) !important;
			box-shadow: 0 0 20px rgba(#ff7056, .65), 0 2px 10px rgba(#ff7056, .65), 0 -2px 2px rgba(#000, .1) inset;
			border-radius: 0 0 0 6px;
			margin: 0;
			text-shadow: 0 -1px 0 rgba(#000, .3);
			font-size: 20px;
			font-weight: bold;
			text-transform: none;
			&:hover {
				box-shadow: 0 0 8px rgba(#ff7056, .65), 0 2px 4px rgba(#ff7056, .65), 0 -1px 0px rgba(#000, .05) inset;
			}
			.fa { font-size: 20px; }
		}
	}
	.nav-item {
		padding: 0 0.5rem 0;
		font-size: 16px;
		position: relative;
		&:after {
			content: "";
			background: #c2e1e6;
			width: 1px;
			height: 16px;
			position: absolute;
			right: 0;
			top: 18px;
		}
		&:last-child {
			&:after { content: none; }
		}
	}
	.nav-link {
		padding-top: 0;
		padding-bottom: 0;
		height: 50px;
		line-height: 50px;
		color: $main_darken_color;
		&:hover { color: $main_color; }
	}
	.navbar-toggler {
		margin: 6px 0;
	}
}

.header-language {
	background: $main_darken_color;
	height: 30px;
	font-size: 13px;
	line-height: 30px;
	text-align: right;
	a {
		display: inline-block;
		padding: 0 12px;
		color: rgba(#fff, .5);
		&:hover { color: rgba(#fff, 1); }
	}
	a.current, a.current:hover {
		background: $secondary_color;
		color: #000;
		cursor: default;
	}
}

.header-wrap {
    background: $main_color;
	padding-left: 1.25rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 90px;
	.brands {
		a {
            align-items: center;
			color: #fff;
            &:hover { text-decoration: none; }
		}
        h1 { margin: 0; }
	}
	.h1-logo {
		display: inline-block;
		width: auto;
		height: 50px;
		vertical-align: middle;
	}
    .logo {
        margin-right: 20px;
    }
    .sub {
		border-left: 1px solid #2ed0da;
		padding-left: 28px;
		font-family: 'Roboto', '\5FAE\8EDF\6B63\9ED1\9AD4', Helvetica, Arial, sans-serif;
        line-height: 1.2;
		color: $main_darken_color;
		font-size: 1.6rem;
		font-weight: 300;
        > span {
            display: block;
        }
		strong {
			font-weight: 700;
		}
    }
    .account {
		a {
			background: #036f75;
			display: inline-block;
			border-radius: 3px 0 0 3px;
			margin-left: 10px;
			padding: 0 1rem;
			height: 32px;
			line-height: 32px;
			color: #fff;
		}
	}
}

