<!-- admin-page: GMBA - 總覽修改 -->
<%= render :partial => "/partials/admin_breadcrumb" %>

<main class="main">

<nav>
    <div class="nav nav-tabs gmba-overview-tabs" id="overview-tab" role="tablist">
        <button class="nav-link active" id="nav-overview-tab01" data-bs-toggle="tab" data-bs-target="#nav-tab01" type="button" role="tab" aria-controls="nav-tab01" aria-selected="true">總覽</button>
        <button class="nav-link" id="nav-overview-tab02" data-bs-toggle="tab" data-bs-target="#nav-tab02" type="button" role="tab" aria-controls="nav-tab02" aria-selected="false">入學申請資料</button>
        <button class="nav-link" id="nav-overview-tab03" data-bs-toggle="tab" data-bs-target="#nav-tab03" type="button" role="tab" aria-controls="nav-tab03" aria-selected="false">新生問卷</button>
        <button class="nav-link" id="nav-overview-tab04" data-bs-toggle="tab" data-bs-target="#nav-tab04" type="button" role="tab" aria-controls="nav-tab04" aria-selected="false">修課與抵免</button>
        <button class="nav-link" id="nav-overview-tab05" data-bs-toggle="tab" data-bs-target="#nav-tab05" type="button" role="tab" aria-controls="nav-tab05" aria-selected="false">畢業與論文</button>
    </div>
</nav>
<div class="tab-content" id="overview-tabContent">
    <div class="tab-pane fade show active" id="nav-tab01" role="tabpanel" aria-labelledby="nav-overview-tab01" tabindex="0">

	<div class="gmba-overview-wrapper">
        <div class="profile-sidebar">
            <div class="col-block">
                <div class="block-content expansion">
                    <div class="profile-avatar">
                        <div class="avatar-edit">
                            <img class="avatar" src="../assets/default.png" alt="avatar" />
                            <button type="button" class="btn" title="照片管理"><i class="fa fa-pencil"></i></button>
                        </div>
                        <div class="scrap">
                            <div class="scrap-name">
                                <span class="h6">R00749001</span>
                                <span class="h4">林信鋒</span>
                                <span class="h5">Mika Saito</span>
                                <span class="h6 mb-1">0912345678</span>
                                <span class="h6 mb-4">abcemail@email.com.tw</span>
                            </div>
                        </div>
                    </div>
                    <div class="table-wrap">
                        <div class="overview-actionbar">
                            <h5 class="mb-0 font-weight-bold">導師資料</h5>
                            <div>
                                <div class="btn-group btn-group-sm unshadow">
                                    <button type="button" class="btn btn-xs btn-light" title="重新整理"><i class="fa fa-refresh"></i></button>
                                    <button type="button" class="btn btn-xs btn-primary" title="新增"><i class="fa fa-plus"></i></button>
                                </div>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-bordered align-middle mb-0">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>學年學期</th>
                                        <th>導師姓名</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% (1..4).map do |i| %>
                                    <tr>
                                        <td>
                                            <div class="btn-group btn-group-sm unshadow">
                                                <button type="button" class="btn btn-xs btn-white"><i class="fa fa-pencil"></i></button>
                                                <button type="button" class="btn btn-xs btn-white"><i class="fa fa-trash"></i></i></button>
                                            </div>
                                        </td>
                                        <td>112-1</td>
                                        <td>王大明</td>
                                    </tr>
                                    <% end %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="table-wrap">
                        <div class="overview-actionbar">
                            <h5 class="mb-0 font-weight-bold">獎學金</h5>
                            <div>
                                <div class="btn-group btn-group-sm unshadow">
                                    <button type="button" class="btn btn-xs btn-light" title="重新整理"><i class="fa fa-refresh"></i></button>
                                    <button type="button" class="btn btn-xs btn-primary" title="新增"><i class="fa fa-plus"></i></button>
                                </div>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-bordered align-middle mb-0">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>學年學期</th>
                                        <th>獲得獎學金項目</th>
                                        <th>金額</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% (1..30).map do |i| %>
                                    <tr>
                                        <td>
                                            <div class="btn-group btn-group-sm unshadow">
                                                <button type="button" class="btn btn-xs btn-white"><i class="fa fa-pencil"></i></button>
                                                <button type="button" class="btn btn-xs btn-white"><i class="fa fa-trash"></i></i></button>
                                            </div>
                                        </td>
                                        <td>112-1</td>
                                        <td>GMBA</td>
                                        <td>300000</td>
                                    </tr>
                                    <% end %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
		<div class="profile-content">
			<div class="col-block mb-20">
                <div class="block-header has-border">
                    <h5 class="d-inline-block mb-0 pt-3 font-weight-bold">就學歷程</h5>
                    <div class="pull-right">
                        <div class="btn-group btn-group-sm unshadow">
                            <button type="button" class="btn btn-xs btn-light" title="重新整理"><i class="fa fa-refresh"></i></button>
                            <button type="button" class="btn btn-xs btn-primary" title="新增"><i class="fa fa-plus"></i></button>
                        </div>
                    </div>
                </div>
                <div class="block-content">
                    <ul class="stepper stepper-horizontal my-0">
                        <li class="active">
                            <a href="#" title="編輯">
                                <span class="circle"><i class="fa fa-check"></i></span>
                                <span class="label">105-1 (Fall 2016) 入學</span>
                            </a>
                        </li>
                        <li class="active">
                            <a href="#" title="編輯">
                                <span class="circle"><i class="fa fa-check"></i></span>
                                <span class="label"> 110-2 (Spring 2022) 畢業 </span>
                            </a>
                        </li>
                    </ul>
				</div>
            </div>
            
            <!-- 欄位只是範例 -->
            <div class="col-block mb-20">
                <div class="block-header has-border">
                    <h5 class="mb-0 font-weight-bold">個人資訊</h5>
                </div>
                <div class="block-content">
                    <div class="personal-div">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="active">入學身分別代碼</label>
                                    <input class="form-control" name="role_code" id="role_code" value="1R" type="text" disabled="" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="active">入學身分別描述</label>
                                    <input class="form-control" name="role_desc" id="role_desc" value="本國生 企管專班生" type="text" disabled="" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="active">系所代碼</label>
                                    <input class="form-control" name="dept_code" id="dept_code" value="7490" type="text" disabled="" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="active">家長姓名</label>
                                    <input class="form-control" name="fa_name" id="fa_name" value="郭甫鋒" type="text" disabled="" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="active">系所簡稱</label>
                                    <input class="form-control" name="dept_name" id="dept_name" value="企管碩士專班" type="text" disabled="" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="active">電話號碼1</label>
                                    <div class="switch custom-control-inline">
                                        <label>
                                            <input type="checkbox" name="not_sync_fields[]" value="tel_1" disabled="" />
                                            <span class="lever"></span> <span class="font-small text-gray">不同步此欄位</span>
                                        </label>
                                    </div>
                                    <input class="form-control" name="tel_1" id="tel_1" value="04-25629405" type="text" disabled="" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="active">年級</label>
                                    <input class="form-control" name="grade" id="grade" value="4" type="text" disabled="" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="active">電話號碼2</label>
                                    <input class="form-control" name="tel_2" id="tel_2" value="0910567082" type="text" disabled="" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="active">學號</label>
                                    <input class="form-control" name="student_id" id="student_id" value="R05749021" type="text" disabled="" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="active">電話號碼3</label>
                                    <input class="form-control" name="tel_3" id="tel_3" value="04-25629405" type="text" disabled="" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="active">中文姓名</label>
                                    <div class="switch custom-control-inline">
                                        <label>
                                            <input type="checkbox" name="not_sync_fields[]" value="name" disabled="" />
                                            <span class="lever"></span> <span class="font-small text-gray">不同步此欄位</span>
                                        </label>
                                    </div>
                                    <input class="form-control" name="name" id="name" value="郭甫鋒" type="text" disabled="" />
                                </div>
                            </div>
                            <div class="col-md-6">

                                <div class="form-group">
                                    <label>其他聯絡電話1</label>
                                    <input class="form-control" name="other_tel_1" id="other_tel_1" value="" type="text" disabled="" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="active">英文姓名</label>
                                    <input class="form-control" name="name_en" id="name_en" value="PUFENG KUO" type="text" disabled="" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>其他聯絡電話2</label>
                                    <input class="form-control" name="other_tel_2" id="other_tel_2" value="" type="text" disabled="" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="active">性別</label>
                                    <input class="form-control" name="gender" id="gender" value="M" type="text" disabled="" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="active">電子郵件信箱</label>
                                    <div class="switch custom-control-inline">
                                        <label>
                                            <input type="checkbox" name="not_sync_fields[]" value="email" disabled="" />
                                            <span class="lever"></span> <span class="font-small text-gray">不同步此欄位</span>
                                        </label>
                                    </div>
                                    <input class="form-control" name="email" id="email" value="pufengkuo@gmail.com" type="text" disabled="" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>出生日期</label>
                                    <input type="text" class="form-control" name="birthday" id="birthday" value="1986-07-28" disabled="" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="active">休學原因1</label>
                                    <input class="form-control" name="quit_reason_1" id="quit_reason_1" value="自1061起因工作休1學期" type="text" disabled="" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="active">入學身分別</label>
                                    <input class="form-control" name="role_id" id="role_id" value="1R 本國生 企管專班生" type="text" disabled="" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="active">休學原因2</label>
                                    <input class="form-control" name="quit_reason_2" id="quit_reason_2" value="自1062起因工作休1學期" type="text" disabled="" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>國籍</label>
                                    <input class="form-control" name="country" id="country" value="" type="text" disabled="" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="active">休學原因3</label>
                                    <input class="form-control" name="quit_reason_3" id="quit_reason_3" value="自1072起因工作休1學期" type="text" disabled="" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="active">身分證號</label>
                                    <input class="form-control" name="id_number" id="id_number" value="L123743222" type="text" disabled="" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="active">休學原因4</label>
                                    <input class="form-control" name="quit_reason_4" id="quit_reason_4" value="自1091起因工作休1學期" type="text" disabled="" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="active">在校<span class="text-secondary">(不在校者，需加標註*)</span></label>
                                    <input class="form-control" name="in_school" id="in_school" value="*" type="text" disabled="" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>休學原因5</label>
                                    <input class="form-control" name="quit_reason_5" id="quit_reason_5" value="" type="text" disabled="" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="active">異動學期</label>
                                    <input class="form-control" name="change_sms" id="change_sms" value="1102" type="text" disabled="" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>異動日期</label>
                                    <input class="form-control" name="change_date" id="change_date" value="" type="text" disabled="" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>休學原因7</label>
                                    <input class="form-control" name="quit_reason_7" id="quit_reason_7" value="" type="text" disabled="" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>退學原因</label>
                                    <input class="form-control" name="out_reason" id="out_reason" value="" type="text" disabled="" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>休學原因8</label>
                                    <input class="form-control" name="quit_reason_8" id="quit_reason_8" value="" type="text" disabled="" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>延修生</label>
                                    <input class="form-control" name="defer" id="defer" value="" type="text" disabled="" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>轉系前原系所</label>
                                    <input class="form-control" name="ts_dept" id="ts_dept" value="" type="text" disabled="" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="active">永久郵遞區號</label>
                                    <input class="form-control" name="home_postal_code" id="home_postal_code" value="429" type="text" disabled="" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>轉系學期</label>
                                    <input class="form-control" name="ts_sms" id="ts_sms" value="" type="text" disabled="" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="active">永久地址</label>
                                    <input class="form-control" name="home_addr" id="home_addr" value="台中市神岡區社口里社口街441號" type="text" disabled="" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="active">入學前畢業學校</label>
                                    <input class="form-control" name="ori_school" id="ori_school" value="政治大學" type="text" disabled="" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

		</div>
	</div>
        
    </div>
    
    <div class="tab-pane fade" id="nav-tab02" role="tabpanel" aria-labelledby="nav-overview-tab" tabindex="0">tab02</div>
    <div class="tab-pane fade" id="nav-tab03" role="tabpanel" aria-labelledby="nav-overview-tab" tabindex="0">tab03</div>
    <div class="tab-pane fade" id="nav-tab04" role="tabpanel" aria-labelledby="nav-overview-tab" tabindex="0">tab04</div>
    <div class="tab-pane fade" id="nav-tab05" role="tabpanel" aria-labelledby="nav-overview-tab" tabindex="0">tab05</div>
</div>

</main>

<% content_for :js do %>

<% end %>