
/* `Customized Table
-----------------------------------------------------------------------------*/

$table-custom-s1: #4a66ac;
$table-custom-s2: #629dd1;
$table-custom-s3: #297fd5;
$table-custom-s4: #5aa2ae;
$table-custom-s1_bg: lighten($table-custom-s1, 45);
$table-custom-s2_bg: lighten($table-custom-s2, 33);
$table-custom-s3_bg: lighten($table-custom-s3, 45);
$table-custom-s4_bg: lighten($table-custom-s4, 42);

.table-s1 {
	border-bottom: 2px solid $table-custom-s1;
	thead {
		th {
			border-top: 2px solid $table-custom-s1;
			border-bottom: 2px solid $table-custom-s1;
		}
	}
	tbody {
		tr {
			&:nth-child(odd) {
				background: $table-custom-s1_bg;
			}
		}
		th, td {
			border: none !important;
		}
	}
}

.table-s2 {
	border-bottom: 2px solid $table-custom-s2;
	thead {
		th {
			border-top: 2px solid $table-custom-s2;
			border-bottom: 2px solid $table-custom-s2;
		}
	}
	tbody {
		tr {
			&:nth-child(odd) {
				background: $table-custom-s2_bg;
			}
		}
		th, td {
			border: none !important;
		}
	}
}

.table-s3 {
	border-bottom: 2px solid $table-custom-s3;
	thead {
		th {
			border-top: 2px solid $table-custom-s3;
			border-bottom: 2px solid $table-custom-s3;
		}
	}
	tbody {
		tr {
			&:nth-child(odd) {
				background: $table-custom-s3_bg;
			}
		}
		th, td {
			border: none !important;
		}
	}
}

.table-s4 {
	border-bottom: 2px solid $table-custom-s4;
	thead {
		th {
			border-top: 2px solid $table-custom-s4;
			border-bottom: 2px solid $table-custom-s4;
		}
	}
	tbody {
		tr {
			&:nth-child(odd) {
				background: $table-custom-s4_bg;
			}
		}
		th, td {
			border: none !important;
		}
	}
}

.table-s5 {
	border: 1px solid $table-custom-s1;
	border-bottom: none;
	thead {
		th {
			background: $table-custom-s1;
			border-bottom: none;
			color: #fff;
		}
	}
	tbody {
		border-top-width: 0 !important;
		th, td {
			border-bottom: 1px solid $table-custom-s1;
		}
	}
}

.table-s6 {
	border: 1px solid $table-custom-s2;
	border-bottom: none;
	thead {
		th {
			background: $table-custom-s2;
			border-bottom: none;
			color: #fff;
		}
	}
	tbody {
		border-top-width: 0 !important;
		th, td {
			border-bottom: 1px solid $table-custom-s2;
		}
	}
}

.table-s7 {
	border: 1px solid $table-custom-s3;
	border-bottom: none;
	thead {
		th {
			background: $table-custom-s3;
			border-bottom: none;
			color: #fff;
		}
	}
	tbody {
		border-top-width: 0 !important;
		th, td {
			border-bottom: 1px solid $table-custom-s3;
		}
	}
}

.table-s8 {
	border: 1px solid $table-custom-s4;
	border-bottom: none;
	thead {
		th {
			background: $table-custom-s4;
			border-bottom: none;
			color: #fff;
		}
	}
	tbody {
		border-top-width: 0 !important;
		th, td {
			border-bottom: 1px solid $table-custom-s4;
		}
	}
}

.table-s9 {
	tbody {
		border-top-width: 0 !important;
		tr {
			&:nth-child(odd) {
				background: $table-custom-s1_bg;
			}
		}
	}
	tr {
		border-top: 1px solid $table-custom-s1;
		border-bottom: 1px solid $table-custom-s1;
	}
	th, td {
		border-left: 1px solid $table-custom-s1;
		border-right: 1px solid $table-custom-s1;
	}
}

.table-s10 {
	tbody {
		border-top-width: 0 !important;
		tr {
			&:nth-child(odd) {
				background: $table-custom-s2_bg;
			}
		}
	}
	tr {
		border-top: 1px solid $table-custom-s2;
		border-bottom: 1px solid $table-custom-s2;
	}
	th, td {
		border-left: 1px solid $table-custom-s2;
		border-right: 1px solid $table-custom-s2;
	}
}

.table-s11 {
	tbody {
		border-top-width: 0 !important;
		tr {
			&:nth-child(odd) {
				background: $table-custom-s3_bg;
			}
		}
	}
	tr {
		border-top: 1px solid $table-custom-s3;
		border-bottom: 1px solid $table-custom-s3;
	}
	th, td {
		border-left: 1px solid $table-custom-s3;
		border-right: 1px solid $table-custom-s3;
	}
}

.table-s12 {
	tbody {
		border-top-width: 0 !important;
		tr {
			&:nth-child(odd) {
				background: $table-custom-s4_bg;
			}
		}
	}
	tr {
		border-top: 1px solid $table-custom-s4;
		border-bottom: 1px solid $table-custom-s4;
	}
	th, td {
		border-left: 1px solid $table-custom-s4;
		border-right: 1px solid $table-custom-s4;
	}
}