/* Taiwan map */

.taiwan-map {
    height: 100%;
}

#map {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    height: 640px
}

#map svg {
    //max-height: 100vh
}

#map path {
    fill: #ddd;
    stroke: #333;
    cursor: pointer;
    -webkit-transition: fill .2s ease, stroke .2s ease, -webkit-transform .2s ease;
    transition: fill .2s ease, stroke .2s ease, -webkit-transform .2s ease;
    transition: fill .2s ease, stroke .2s ease, transform .2s ease;
    transition: fill .2s ease, stroke .2s ease, transform .2s ease, -webkit-transform .2s ease
}

#map path:hover,
#map path.active {
    fill: rgba(255, 202, 40, 0.5);
    stroke: #333;
    /* -webkit-transform: translateY(-5px); */
    /* transform: translateY(-5px) */
}

.shop-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    h1,
    h2 {
        position: relative;
        line-height: 2;
        text-align: center;
        font-weight: bold
    }

    h1 {
        font-size: 2rem;
        color: #000
    }

    h1::after {
        content: '';
        position: absolute;
        left: 50%;
        bottom: 0;
        width: 80%;
        height: 2px;
        background: rgba(#000, .1);
        transform: translateX(-50%);
    }

    h2 {
        font-size: 1.5rem;
        color: rgba(#000, .8)
    }
}

.shop-list h1,
.shop-list h2 {
    width: 100%
}
