/* `Footer
-----------------------------------------------------------------------------*/

footer.footer {
	color: #666;
	line-height: 1.8;
	.general-content { text-align: right; }
	.general-links, .custom-icon {
		li { display: inline-block; }
	}
	.general-links {
		li {
			margin-right: 15px;
			position: relative;
			&:after {
				content: "";
				background: rgba(#000, .1);
				border-radius: 50%;
				width: 5px;
				height: 5px;
				position: absolute;
				top: 12px;
				right: -12px;
			}
			&:last-child {
				margin-right: 0;
				&:after {
					content: none;
				}
			}
		}
	}
    .fb-logo {
        display: inline-block;
        margin-top: 1rem;
    }
	.contact-content {
		h5 { font-size: 1.125rem; }
	}
	.contact {
		i {
			margin-right: 10px;
			width: 15px;
			text-align: center;
		}
	}
	
	.footer-bt {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
		padding-bottom: 3rem;
		p { margin-bottom: 0; }
	}
	address { margin-bottom: 0; }
}

.footer-inner {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
	margin-bottom: 2rem;
}
.ft-logo {
	padding-right: 1.25rem;
	img {
		width: 138px;
		height: auto;
	}
}