/* `Header
-----------------------------------------------------------------------------*/

header.header {
	margin-bottom: 3rem;
	.navbar {
		background: $main_color;
		border-radius: 0 0 5px 5px;
		box-shadow: none;
		padding: 0;
		.header-toolbar {
            padding-right: 7px;
            padding-left: 0;
			a {
                color: #000 !important;
				&:hover {
					background: none; 
					color: #fff !important;
				}
            }
			li:last-child a { padding-right: 6px; }
		}
	}
	.nav-item {
		padding: 0 0.5rem 0;
		font-size: 16px;
		position: relative;
		&:before {
			content: "";
			background: rgba(0,0,0, .1);
			width: 1px;
			height: 16px;
			position: absolute;
			left: 0;
			top: 13px;
		}
		&:first-child {
			&:before { content: none; }
		}
	}
	.nav-link {
		padding-top: 0;
		padding-bottom: 0;
		height: 40px;
		line-height: 40px;
		color: #333 !important;
		&:hover { color: #fff !important; }
	}
	.navbar-toggler {
		margin: 6px 0;
	}
	.search-form {
        position: relative;
        &:after {
            content: "\f002";
            font-family: 'FontAwesome';
            position: absolute;
            right: 10px;
            top: 7px;
        }
	}
	.emergency-call {
		line-height: 1.2;
		text-align: right;
		span { display: block; }
		.symbol {
			font-size: 1.25rem;
			font-weight: bold;
		}
		.number {
			text-shadow: 1px 1px 0 #ff0000, 2px 2px 0 #ff6834;
			font-family: 'Roboto';
			font-size: 1.875rem;
			font-weight: 700;
		}
	}
	.mobile-only { display: none; }
	.emergency-call.mobile-only { display: none; }
}

.header-bar {
	background: $main_color;
	font-size: 13px;
	text-align: right;
	#AU {
		color: rgba(#000, .25);
		&:hover {
			color: rgba(#000, .5);
		}
	}
}

.header-toolbar {
	display: inline-block;
	li {
		display: inline-block;
		position: relative;
		&:after {
			content: "";
			background: rgba(#000, .1);
			width: 1px;
			height: 10px;
			position: absolute;
			right: -2px;
			top: 9px
		}
		&:last-child:after {
			content: none;
		}
	}
	a {
		display: inline-block;
		padding: 4.5px 6px;
		color: #000;
		&:hover {
			color: #fff;
		}
	}
	li.language:after { content: none; }
	.form-control {
		background: #ffa449;
		border-radius: 0;
		border: none;
		border-left: 1px solid #e58b30;
		padding: 0.25rem 0.75rem;
		color: #fff;
		transition: all .1s ease-in-out;
		&:focus {
			box-shadow: none;
			background: #ffae5e;;
		}
	}
	input::placeholder {
        color: #000 !important;
        opacity: 0.6 !important;
    }
	input:focus::placeholder { opacity: 1 !important; }
}

.header-wrap {
    background: $main_lighten_color;
	padding: .6rem 1.25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
	.brands {
		a {
            align-items: center;
			color: #fff;
            &:hover { text-decoration: none; }
		}
        h1 { margin: 0; }
	}
    .logo {
        margin-right: 20px;
		img {
            display: inline-block;
            width: auto;
            vertical-align: middle;
		}
    }
	.h1-logo {
		height: 76px;
		margin-right: 12px;
	}
	.h1-calligraphy {
		height: 60px;
	}
    .sub {
		font-family: 'Roboto', '\5FAE\8EDF\6B63\9ED1\9AD4', Helvetica, Arial, sans-serif;
        line-height: 1.2;
		color: #333;
		font-size: 1.25rem;
		font-weight: bold;
        > span {
            display: block;
        }
		.cht { font-size: 1.375rem; }
		.en {
			font-size: 1rem;
			font-weight: 400;
		}
    }
}


















