<!-- template: 展成果 - 列表 -->

<%= render :partial => "/partials/breadcrumb" %>

<main class="main main-list-wrapper" id="maincontent">

        <div class="main-container">
            
            <div class="list-toolbar-wrapper">
                <button type="button" class="btn btn-filter" id="filterButton"><i class="fas fa-filter"></i></button>
                <div class="list-toolbar" id="list-toolbar">
                    <div class="toolbar-part">
                        <select class="form-select form-select-xxxl" aria-label="選擇類別">
                            <option selected>全部類別</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </div>
                    <div class="toolbar-part">
                        <select class="form-select form-select-xxxl" aria-label="選擇年度">
                            <option selected>選擇年度</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </div>
                    <div class="toolbar-part">
                        <select class="form-select form-select-xxxl" aria-label="選擇主辦單位">
                            <option selected>主辦單位</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </div>
                    <div class="toolbar-part flex-fill">
                        <div class="input-group">
                            <input type="text" class="form-control form-control-xxxl" placeholder="請輸入關鍵字" aria-label="Recipient's username" aria-describedby="button-addon2" />
                            <button class="btn btn-xxxl btn-gold" type="button" id="button-addon2"><i class="fas fa-search"></i></button>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="table-wrapper">     
                <div class="table-responsive">     
                    <table class="table list-table align-middle">
                        <thead>
                            <tr>
                                <th>活動名稱</th>
                                <th>活動日期</th>
                                <th>主辦單位</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% (1..4).map do |i| %>
                            <tr>
                                <td>
                                    <a href="#" title="{連結名稱}"><%= zh_lorem_sentence %></a>
                                </td>
                                <td class="text-nowrap">
                                    <span>112-09-30</span> 至 <span>112-12-30</span>
                                </td>
                                <td class="text-nowrap">國家教育研究院</td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="#" title="{連結名稱}"><%= zh_lorem_sentence %></a>
                                </td>
                                <td class="text-nowrap">
                                    <span>112-09-30</span> 至 <span>112-12-30</span>
                                </td>
                                <td class="text-nowrap">台北市士林區至善路二段221號</td>
                            </tr>
                            <% end %>
                        </tbody>
                    </table>
                </div>
                
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-end">
                        <li class="page-item"><a class="page-link" href="#">上一頁</a></li>
                        <li class="page-item active"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">下一頁</a></li>
                    </ul>
                </nav>
            </div>
            
        </div>

</main>


<% content_for :js do %>

<!-- 分享按鈕 -->
<script>
  // 取得所有帶有 .item-social 這個 CSS 類別的按鈕元素
  const buttons = document.querySelectorAll('.btn-share');

  // 針對每個按鈕設置 click 事件監聽器
  buttons.forEach((button) => {
    button.addEventListener('click', () => {
      // 切換 .active 這個 CSS 類別
      button.classList.toggle('active');
    });
  });
</script>

<!-- Bootstrap5 Datepicker -->
<script src="../javascripts/moment.min.js"></script>
<script src="../javascripts/bootstrap-datetimepicker.min.js"></script>
<script>
    $(".datepicker").datetimepicker({
        useCurrent: false,
        format: "DD-MMM-YYYY",
        showTodayButton: true,
        icons: {
            next: "fa fa-chevron-right",
            previous: "fa fa-chevron-left",
            today: "todayText",
        },
    });
</script>

<!-- 塞選按鈕 -->
<script>
    const filterButton = document.getElementById("filterButton");
    const toolbar = document.getElementById("list-toolbar");

    filterButton.addEventListener("click", () => {
        filterButton.classList.toggle("active");
        toolbar.classList.toggle("show");
    });
</script>
<% end %>

