<!-- template: 修改密碼 -->

<%= render :partial => "/partials/breadcrumb" %>

<main class="main main-member">
    
    <div class="member-wrapper comments-form-wrppper">
        <div class="member-container comments-form">
            <h3 class="member-title">修改密碼</h3>
            <div class="form-group">
                <label for="exampleInput1" class="form-label">請輸入密碼</label>
                <input type="password" class="form-control" id="exampleInput1">
            </div>
            <div class="form-group">
                <label for="exampleInput2" class="form-label">請再次輸入密碼</label>
                <input type="password" class="form-control" id="exampleInput2">
            </div>
            <div class="member-action">
                <button type="submit" class="btn btn-block btn-xxxl btn-main">送出</button>
            </div>
        </div>
    </div>

</main>


<% content_for :js do %>

<% end %>

