<!-- template: 首頁 -->



<div class="index-content">
	<div class="container-fluid">
        
        <div class="main-carousel">
            <div id="carouselEtalkCaptions" class="carousel slide carousel-fade" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselEtalkCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselEtalkCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselEtalkCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="item-inner">
                            <div class="item-photo"><img src="http://placebeard.it/1600/900" class="d-block w-100" alt="{圖片描述}" /></div>
                            <div class="item-text">
                                <div class="text-inner">
                                    <div class="text-position">
                                        
                                        <!-- 後台欄位請限制 22 個全形字元並註明，超過會爆版 -->
                                        <h2>國家教育研究院教育播客站</h2>
                                        
                                        <!-- 後台欄位請限制 80 個全形字元並註明，超過會爆版 -->
                                        <p>在節目中我們將深入探討與介紹教學現場的現況，你我關心的教育問題，並提供國內外教育研究新知及最新發展趨勢，用輕鬆活潑交談方式帶你進入「播客站」的教育領域！</p>
                                        <div class="link-control">
                                            <a href="#" class="link-more" title="閱覽內容"><span>MORE</span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="item-inner">
                            <div class="item-photo"><img src="http://placebeard.it/1280/720" class="d-block w-100" alt="{圖片描述}" /></div>
                            <div class="item-text">
                                <div class="text-inner">
                                    <div class="text-position">
                                        
                                        <!-- 後台欄位請限制 22 個全形字元並註明，超過會爆版 -->
                                        <h2>數位世代青少年發展研究合作</h2>
                                        
                                        <!-- 後台欄位請限制 80 個全形字元並註明，超過會爆版 -->
                                        <p>中央研究院社會學研究所在國家科學及技術委員會經費的補助下，「臺灣數位世代青少年的成長歷程追蹤研究」（簡稱TIGPS）計畫以「數位生態系統理論」探討臺灣數位世代青少年的自我概念。</p>
                                        <div class="link-control">
                                            <a href="#" class="link-more" title="閱覽內容"><span>MORE</span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="item-inner">
                            <div class="item-photo"><img src="https://placehold.co/1600x900" class="d-block w-100" alt="{圖片描述}" /></div>
                            <div class="item-text">
                                <div class="text-inner">
                                    <div class="text-position">
                                        
                                        <!-- 後台欄位請限制 22 個全形字元並註明，超過會爆版 -->
                                        <h2>教育領導的理論探究與實踐經驗發展研究合作</h2>
                                        
                                        <!-- 後台欄位請限制 80 個全形字元並註明，超過會爆版 -->
                                        <p>中央研究院社會學研究所在國家科學及技術委員會經費的補助下，「臺灣數位世代青少年的成長歷程追蹤研究」（簡稱TIGPS）計畫以「數位生態系統理論」探討臺灣數位世代。</p>
                                        <div class="link-control">
                                            <a href="#" class="link-more" title="閱覽內容"><span>MORE</span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
	</div>
    
    <div class="landing-navigation">
        
        <ul class="menu-item">
            
            <li class="nav-item">
                <a href="discussion.html" class="main-link">
                    <div class="nav-flex">
                        <div class="nav-start">
                            <h3 class="nav-subject">論<span>教育</span></h3>
                            <div class="turn-end">
                                <h4 class="turn-package">
                                    <span class="chip">教育觀點</span>
                                    <span class="chip">透徹分析</span>
                                </h4>
                            </div>
                        </div>
                        <div class="nav-end">
                            <span class="package">
                                <span class="chip">教育觀點</span>
                                <span class="chip">透徹分析</span>
                            </span>
                            <div class="turn-start">
                                <div class="turn-subject">論<span>教育</span></div>
                            </div>
                        </div>
                        
                        <!-- 背景圖片可更換，上傳後的圖片名稱必須不同，才不用要求使用者清 cookie 才能看到更新結果，因此圖片為 inline css 方便更新檔名 -->
                        
                        <!-- 後台請標註上傳尺寸，960px * 240px，並註明建議使用 jpg -->
                        
                        <span class="nav-image" style="background-image: url('../assets/nav/demo-01.jpg');"></span>
                    </div>
                </a>
            </li>
            
            <li class="nav-item">
                <a href="interview.html" class="main-link">
                    <div class="nav-flex">
                        <div class="nav-start">
                            <h3 class="nav-subject">訪<span>人物</span></h3>
                            <div class="turn-end">
                                <h4 class="turn-package">
                                    <span class="chip">人物專訪</span>
                                    <span class="chip">深度對話</span>
                                </h4>
                            </div>
                        </div>
                        <div class="nav-end">
                            <span class="package">
                                <span class="chip">人物專訪</span>
                                <span class="chip">深度對話</span>
                            </span>
                            <div class="turn-start">
                                <div class="turn-subject">訪<span>人物</span></div>
                            </div>
                        </div>
                        
                        <!-- 背景圖片可更換，上傳後的圖片名稱必須不同，才不用要求使用者清 cookie 才能看到更新結果，因此圖片為 inline css 方便更新檔名 -->
                        <span class="nav-image" style="background-image: url('../assets/nav/demo-02.jpg');"></span>
                    </div>
                </a>
            </li>
            
            <li class="nav-item">
                <a href="trends_list.html" class="main-link">
                    <div class="nav-flex">
                        <div class="nav-start">
                            <h3 class="nav-subject">創<span>趨勢</span></h3>
                            <div class="turn-end">
                                <h4 class="turn-package">
                                    <span class="chip">開創未來</span>
                                    <span class="chip">引領趨勢</span>
                                </h4>
                            </div>
                        </div>
                        <div class="nav-end">
                            <span class="package">
                                <span class="chip">開創未來</span>
                                <span class="chip">引領趨勢</span>
                            </span>
                            <div class="turn-start">
                                <div class="turn-subject">創<span>趨勢</span></div>
                            </div>
                        </div>
                        
                        <!-- 背景圖片可更換，上傳後的圖片名稱必須不同，才不用要求使用者清 cookie 才能看到更新結果，因此圖片為 inline css 方便更新檔名 -->
                        <span class="nav-image" style="background-image: url('../assets/nav/demo-03.jpg');"></span>
                    </div>
                </a>
            </li>
            
            <li class="nav-item">
                <a href="events.html" class="main-link">
                    <div class="nav-flex">
                        <div class="nav-start">
                            <h3 class="nav-subject">尋<span>活動</span></h3>
                            <div class="turn-end">
                                <h4 class="turn-package">
                                    <span class="chip">多元活動</span>
                                    <span class="chip">百花齊放</span>
                                </h4>
                            </div>
                        </div>
                        <div class="nav-end">
                            <span class="package">
                                <span class="chip">多元活動</span>
                                <span class="chip">百花齊放</span>
                            </span>
                            <div class="turn-start">
                                <div class="turn-subject">尋<span>活動</span></div>
                            </div>
                        </div>
                        
                        <!-- 背景圖片可更換，上傳後的圖片名稱必須不同，才不用要求使用者清 cookie 才能看到更新結果，因此圖片為 inline css 方便更新檔名 -->
                        <span class="nav-image" style="background-image: url('../assets/nav/demo-04.jpg');"></span>
                    </div>
                </a>
            </li>
            
            <li class="nav-item">
                <a href="achievement.html" class="main-link">
                    <div class="nav-flex">
                        <div class="nav-start">
                            <h3 class="nav-subject">展<span>成果</span></h3>
                            <div class="turn-end">
                                <h4 class="turn-package">
                                    <span class="chip">精選成果</span>
                                    <span class="chip">歷年展示</span>
                                </h4>
                            </div>
                        </div>
                        <div class="nav-end">
                            <span class="package">
                                <span class="chip">精選成果</span>
                                <span class="chip">歷年展示</span>
                            </span>
                            <div class="turn-start">
                                <div class="turn-subject">展<span>成果</span></div>
                            </div>
                        </div>
                        
                        <!-- 背景圖片可更換，上傳後的圖片名稱必須不同，才不用要求使用者清 cookie 才能看到更新結果，因此圖片為 inline css 方便更新檔名 -->
                        <span class="nav-image" style="background-image: url('../assets/nav/demo-05.jpg');"></span>
                    </div>
                </a>
            </li>
            
            <li class="nav-item">
                <a href="comments_list.html" class="main-link">
                    <div class="nav-flex">
                        <div class="nav-start">
                            <h3 class="nav-subject">暢<span>留言</span></h3>
                            <div class="turn-end">
                                <h4 class="turn-package">
                                    <span class="chip">交流分享</span>
                                    <span class="chip">暢所欲言</span>
                                </h4>
                            </div>
                        </div>
                        <div class="nav-end">
                            <span class="package">
                                <span class="chip">交流分享</span>
                                <span class="chip">暢所欲言</span>
                            </span>
                            <div class="turn-start">
                                <div class="turn-subject">暢<span>留言</span></div>
                            </div>
                        </div>
                        
                        <!-- 背景圖片可更換，上傳後的圖片名稱必須不同，才不用要求使用者清 cookie 才能看到更新結果，因此圖片為 inline css 方便更新檔名 -->
                        <span class="nav-image" style="background-image: url('../assets/nav/demo-06.jpg');"></span>
                    </div>
                </a>
            </li>
            
        </ul>
    </div>
    
</div>



<% content_for :js do %>

<!-- Carousel Options -->
<script>
    const carouselEtalkCaptionsElement = document.querySelector('#carouselEtalkCaptions')
    const carousel = new bootstrap.Carousel(carouselEtalkCaptionsElement, {
        interval: 9000
    })
</script>
<% end %>

