<!-- template: 訪人物 -->

<%= render :partial => "/partials/breadcrumb" %>

<div class="respondents-list" id="respondents-list">
    <a href="interview_single.html" class="respondents-item">
        <div class="avatar">
            
            <!-- 後台請註明，受訪者照片為正方形，解析度最少 640 x 640 -->
            <img src="https://placekeanu.com/960/960/" class="item-img" alt="{圖片描述}">
        </div>
        <div class="info">
            <h3 class="title">為真愛單身20年！充滿故事的臉龐絕對是男人型格典範</h3>
            <div class="figure">
                <span>加拿大男演員基奴李維</span>
            </div>
        </div>
    </a>
    <a href="interview_single.html" class="respondents-item">
        <div class="avatar">
            <img src="https://picsum.photos/640" class="item-img" alt="{圖片描述}">
        </div>
        <div class="info">
            <h3 class="title">口述歷史應用於教科書研究：以統編本國中公民教科書發展史為例</h3>
            <div class="figure">
                <span>課程及教學研究中心洪詠善研究員</span>
                <span>教科書研究中心朱美珍研究員</span>
            </div>
        </div>
    </a>
    <a href="interview_single.html" class="respondents-item">
        <div class="avatar">
            <img src="https://picsum.photos/800" class="item-img" alt="{圖片描述}">
        </div>
        <div class="info">
            <h3 class="title"><%= lorem_sentence %></h3>
            <div class="figure">
                <span>教育制度及政策研究中心阮孝齊助理研究員</span>
            </div>
        </div>
    </a>
    <% (1..5).map do |i| %>
    <a href="interview_single.html" class="respondents-item">
        <div class="avatar">
            <img src="https://placehold.co/640x640" class="item-img" alt="{圖片描述}">
        </div>
        <div class="info">
            <h3 class="title"><%= lorem_sentence %></h3>
            <div class="figure">
                <span><%= lorem_words(8) %></span>
            </div>
        </div>
    </a>
    <% end %>
</div>

<div class="link-control control-end">
    <a href="interview_list.html" class="link-more link-end" title="專訪列表"><span>MORE</span></a>
</div>

<% content_for :js do %>

<!-- Hover Effect -->
<script>
document.getElementById("respondents-list").onmousemove = e => {
  for(const card of document.getElementsByClassName("respondents-item")) {
    const rect = card.getBoundingClientRect(),
          x = e.clientX - rect.left,
          y = e.clientY - rect.top;

    card.style.setProperty("--mouse-x", `${x}px`);
    card.style.setProperty("--mouse-y", `${y}px`);
  };
}
</script>

<% end %>

