<!-- template: 訪人物 - 單篇 -->

<%= render :partial => "/partials/breadcrumb" %>

<main class="main">

    <div class="main-head">
        <div class="main-container">
            <div class="interview-head">
                <div class="interview-cover">
                    
                    <!-- 專訪封面為正方形，最小解析度請註明 960 x 960 -->
                    <img src="../assets/default_interview.jpg" class="img-cover" alt="{圖片說明}">
                </div>
                <div class="interview-info">
                    <div class="info-hd">
                        <h3 class="interview-title">改變的方向一專訪國家教育研究院林崇熙院長</h3>
                        <span class="pt-1">
                            <ul class="menu-item action-options">
                                <li>
                                    <a title="分享" class="btn-action btn-share"><i class="fas fa-share-alt"></i></a>
                                    <div class="social-share">
                                        <a href="#" class="item-social" title="{連結名稱}"><i class="fab fa-facebook-f"></i></a>
                                        <a href="#" class="item-social" title="{連結名稱}"><i class="fab fa-line"></i></a>
                                        <a href="#" class="item-social" title="{連結名稱}"><i class="fab fa-twitter"></i></a>
                                        <a href="#" class="item-social" title="{連結名稱}"><i class="fas fa-envelope"></i></a>
                                    </div>
                                </li>
                                <li><a href="#" title="列印" class="btn-action"><i class="fas fa-print"></i></a></li>
                            </ul>
                        </span>
                    </div>
                    <div class="info-detail">
                        <div class="detail-item">
                            <span class="label">日期</span>
                            <span class="output">2023-12-02 (六)</span>
                        </div>
                        <div class="detail-item">
                            <span class="label">受訪者</span>
                            <span class="output">國家教育研究院林崇熙院長</span>
                        </div>
                        <div class="detail-item">
                            <span class="label">主持人</span>
                            <span class="output">
                                <span>林明佳</span>
                                <span>彼得潘</span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="main-container">
        
        <audio preload="auto" controls>
            <source src="../assets/fake/file_example_MP3_2MG.mp3">
        </audio>
        
        <div class="biography-wrapper">
            <div class="bio-inner">
                <h6 class="bio-title">受訪者簡介</h6>
                <div class="biography-item">
                    <div class="character-cover">
                        <img src="https://placekeanu.com/800/800/" class="img-cover" alt="{圖片說明}">
                    </div>
                    <div class="character-info">
                        <h5 class="fw-medium">國家教育研究院林崇熙院長</h5>
                        <div class="biography-brief">
                            學術興趣在於「科技與社會研究」（Science, Technology and Society），尤其著重於科技政策、科技史與知識論。其後因緣際會從事地方文史研究、社區營造、博物館、地方文化館、文化資產保存等領域，依然以知識論與政策關懷貫穿連結跨領域，企圖發展具在地意義的文化資產學及博物館學，並參與了文化政策、博物館政策、社區營造政策、科技政策等研發、撰述或評估。
                        </div>
                        <a class="btn-ellipsis" title="展開">MORE <i class="fas fa-angle-down"></i></a>
                    </div>
                </div>
            </div>
            <div class="bio-inner">
                <h6 class="bio-title">主持人簡介</h6>
                <div class="biography-item">
                    <div class="character-cover">
                        <img src="http://placebeard.it/960/960" class="img-cover" alt="{圖片說明}">
                    </div>
                    <div class="character-info">
                        <h5 class="fw-medium">林明佳</h5>
                        <div class="biography-brief">
                            社會參與方面，早年擔任雲林縣社區希望聯盟協進會理事長，促進地方文史與社區工作者共同關心與參與地方文化行動。其後擔任臺灣科技與社會研究學會理事長及臺灣文化資產學會理事長，促進跨領域學術社群的運作與社會議題連結。在國立臺灣歷史博物館任內，推動文化平權從設施平權、近用平權、到知識平權，透過公私協力策展及國家文化記憶庫促進歷史共筆式社會參與。
                        </div>
                        <a class="btn-ellipsis" title="展開">MORE <i class="fas fa-angle-down"></i></a>
                    </div>
                </div>
                <div class="biography-item">
                    <div class="character-cover">
                        <img src="http://placebeard.it/640/640" class="img-cover" alt="{圖片說明}">
                    </div>
                    <div class="character-info">
                        <h5 class="fw-medium">彼得潘</h5>
                        <div class="biography-brief">
                            教育發展方面，參與或協助推動教育部通識教育中綱計畫、現代公民核心能力養成計畫、大學學習生態系統創新計畫、高教深耕計畫、高等教育評鑑等。
                        </div>
                        <a class="btn-ellipsis" title="展開">MORE <i class="fas fa-angle-down"></i></a>
                    </div>
                </div>
            </div>
        </div>
        
        <article class="article interview-article">
            <h3>教育部技專校院增設停辦審議委員</h3>
            <p>社會參與方面，早年擔任雲林縣社區希望聯盟協進會理事長，促進地方文史與社區工作者共同關心與參與地方文化行動。其後擔任臺灣科技與社會研究學會理事長及臺灣文化資產學會理事長，促進跨領域學術社群的運作與社會議題連結。在國立臺灣歷史博物館任內，推動文化平權從設施平權、近用平權、到知識平權，透過公私協力策展及國家文化記憶庫促進歷史共筆式社會參與。</p>
            <h3>文化部全國文化會議分組召集人</h3>
            <p>教育發展方面，參與或協助推動教育部通識教育中綱計畫、現代公民核心能力養成計畫、大學學習生態系統創新計畫、高教深耕計畫、高等教育評鑑等。在雲林科技大學除了參與成立臺灣第一個文化資產保存系所，在通識教育中心以「募課平台」及微學分推動學生主動學習及跨領域探索，並首創於通識教育中心開設授予學位之前瞻學士學位學程，讓不適應一般科系體制的技優生得到量身定做的學習規劃，以適性適才發展；並由此成長為新型態學習的未來學院，可謂為體制內創新創業。</p>
            <p>國家教育研究院，簡稱國教院，是中華民國（台灣）關於教育研究工作的最高專責機構，隸屬於教育部，由「國立教育研究院籌備處」（後更名為國家教育研究院籌備處）陸續整併臺灣省國民學校教師研習會、臺灣省中等學校教師研習會、國立編譯館、國立教育資料館等重要教育機構的人員與業務，於2011年3月30日正式成立。除了進行整體性、系統性、長期性的教育研究以外，也負有教科書審定、課程研發、原住民族教育及測驗評量及辦理中小學行政人員研習等任務。 </p>
            <h3>台灣文化資產保存學會理事長</h3>
            <p>就一個現代化國家而言，舉凡十二年國教、偏鄉教育、雙語國家計畫與教育相關前瞻基礎建設等重大教育政策，其研擬、實施及改進，都需要透過研究以輔助政策成效之提升。而事實上，我國自2000年5月設置國立教育研究院籌備處，到2010年12月制定公布《國家教育研究院組織法》、2011年3月正式成立國家教育研究院（以下簡稱國教院），籌備整整十年之久，並終於整合國立編譯館、國立教育資料館所成立的國教院，照講也應該可以發揮前述功能，並充分達成組織法所標榜的「長期從事整體性、系統性之教育研究，促進國家教育之永續發展」的功能。</p>
            <div class="creativecommons-wrap">
                <a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="創用 CC 授權條款" style="border-width: 0;" src="https://i.creativecommons.org/l/by/4.0/88x31.png" /></a>
                <span>本著作係採用<a rel="license" href="http://creativecommons.org/licenses/by/4.0/">創用 CC 姓名標示 4.0 國際 授權條款</a>授權.</span>
            </div>
        </article>

        <div class="related-wrapper">
            <div class="related-topics related-link">
                <span class="topics-label">相關連結</span>
                <div class="topics-bd">
                    <ul class="menu-item menu-link">
                        <li>
                            <a href="#" title="{連結名稱}">學生在數學素養導向試題的表現</a>
                        </li>
                        <li>
                            <a href="#" title="{連結名稱}">新課綱系統影響力與社會設計對話暨閉幕式</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        
        <section class="media-section">
            <div class="section-title">
                <span>活動花絮</span>
            </div>
            <ul class="menu-item photo-gallery">
                <% (1..2).map do |i| %>
                <li>
                    <a href="https://picsum.photos/1900/1200" data-lightbox="example-gallery" class="gallery-link" data-title="{圖片描述}">
                        <img src="https://picsum.photos/1900/1200" alt="{圖片描述}" />
                    </a>
                </li>
                <li>
                    <a href="https://picsum.photos/900/1600" data-lightbox="example-gallery" class="gallery-link" data-title="{圖片描述}">
                        <img src="https://picsum.photos/900/1600" alt="{圖片描述}" />
                    </a>
                </li>
                <li>
                    <a href="https://placekeanu.com/800/450" data-lightbox="example-gallery" class="gallery-link" data-title="{圖片描述}">
                        <img src="https://placekeanu.com/800/450" alt="{圖片描述}" />
                    </a>
                </li>
                <li>
                    <a href="https://picsum.photos/1800/1450" data-lightbox="example-gallery" class="gallery-link" data-title="{圖片描述}">
                        <img src="https://picsum.photos/1800/1450" alt="{圖片描述}" />
                    </a>
                </li>
                <li>
                    <a href="https://picsum.photos/800/1200" data-lightbox="example-gallery" class="gallery-link" data-title="{圖片描述}">
                        <img src="https://picsum.photos/800/1200" alt="{圖片描述}" />
                    </a>
                </li>
                <% end %>
            </ul>
        </section>
        
        <div class="link-control">
            <a href="../homepage/index_loader.html#interview" class="link-more link-back" title="回專區首頁"><span>回專區首頁</span></a>
        </div>
    </div>
    
    
</main>


<% content_for :js do %>

<!-- 分享按鈕 -->
<script>
  // 取得所有帶有 .item-social 這個 CSS 類別的按鈕元素
  const buttons = document.querySelectorAll('.btn-share');

  // 針對每個按鈕設置 click 事件監聽器
  buttons.forEach((button) => {
    button.addEventListener('click', () => {
      // 切換 .active 這個 CSS 類別
      button.classList.toggle('active');
    });
  });
</script>

<!-- Gallery 正方形 -->
<script>
  // 獲取所有的 .gallery-link 元素
  const galleryLinks = document.querySelectorAll('.gallery-link');

  // 監聽視窗大小變化事件
  window.addEventListener('resize', () => {
    // 遍歷所有的 .gallery-link 元素
    galleryLinks.forEach((link) => {
      // 獲取 .gallery-link 元素的寬度
      const width = link.offsetWidth;
      // 將寬度值設定為 .gallery-link 的內嵌樣式
      link.style.cssText = `width: ${width}px; height: ${width}px;`;
    });
  });

  // 頁面載入完成時觸發一次，以初始化 .gallery-link 寬度
  window.addEventListener('load', () => {
    // 觸發視窗大小變化事件，進行初始化
    window.dispatchEvent(new Event('resize'));
  });
</script>

<!-- Lightbox2 -->
<script src="../javascripts/lightbox.min.js"></script>
<script>
    lightbox.option({
      'resizeDuration': 300
    })
</script>

<!-- AudioPlayer -->
<script src="../javascripts/audioplayer.js"></script>
<script>
    $(function() {
        $('audio').audioPlayer();
    });
</script>

<!-- 省略 -->
<script>
// 獲取所有 .biography-item 容器元素
const biographyItems = document.querySelectorAll(".biography-item");

// 迭代每個 .biography-item 容器元素，添加事件處理程序
biographyItems.forEach((item) => {
    const btnEllipsis = item.querySelector(".btn-ellipsis");
    const biographyBrief = item.querySelector(".biography-brief");
    const icon = btnEllipsis.querySelector("i");

    // 判斷文字是否超過四行
    const isMobile = window.innerWidth < 575;
    const maxLines = isMobile ? 2 : 4;

    if (biographyBrief.scrollHeight > maxLines * parseFloat(getComputedStyle(biographyBrief).lineHeight)) {
        btnEllipsis.style.display = "block";
        biographyBrief.style.display = "-webkit-box";
    } else {
        btnEllipsis.style.display = "none";
    }

    // 監聽 .btn-ellipsis 的 click 事件
    btnEllipsis.addEventListener("click", () => {
        // 切換 .biography-brief 的 display 屬性
        if (biographyBrief.style.display === "-webkit-box") {
            biographyBrief.style.display = "block";
            icon.style.transform = "rotate(180deg)";
            btnEllipsis.title = "收合";
        } else {
            biographyBrief.style.display = "-webkit-box";
            icon.style.transform = "rotate(0deg)";
            btnEllipsis.title = "展開";
        }
    });
});
</script>


<% end %>

