<!-- template: 登入 -->

<%= render :partial => "/partials/breadcrumb" %>

<main class="main main-member" id="maincontent">
    
    <div class="member-wrapper comments-form-wrppper">
        <div class="member-container comments-form">
            <h3 class="member-title">登入</h3>
            <div class="form-group">
                <label for="exampleInput1" class="form-label">電子信箱</label>
                <input type="email" class="form-control" id="exampleInput1">
            </div>
            <div class="form-group">
                <label for="exampleInput2" class="form-label">密碼</label>
                <input type="password" class="form-control" id="exampleInput2">
                <div class="form-text mt-2"><a href="forget-password.html" class="special-link" title="忘記密碼">忘記密碼</a></div>
            </div>
            <div class="form-group">
                <label for="InputCAPTCHA" class="form-label">驗證碼</label>
                <div class="d-flex">
                    <input type="text" class="form-control captcha-control" id="InputCAPTCHA">
                    <span class="captcha-img"><img id="u13318_img" class="img " src="https://dxlfb468n8ekd.cloudfront.net/gsc/6MXA2D/52/90/86/529086bfd0e948d0ab6c495b85af4420/images/註冊帳密/u11616.png?token=9f16c4c9739ed8d8a57ea2b98336bc59"></span>
                    <button type="button" class="btn btn-lg btn-secondary"><i class="fas fa-redo-alt"></i></button>
                </div>
            </div>
            <div class="member-action">
                <button type="submit" class="btn btn-block btn-xxxl btn-main">登入</button>
            </div>
            <div class="member-stuff">
                <span>還沒有帳號？<a href="register.html" title="註冊帳號">註冊</a></span>
            </div>
        </div>
    </div>

</main>


<% content_for :js do %>

<% end %>

