<!-- template: 註冊 -->

<%= render :partial => "/partials/breadcrumb" %>

<main class="main main-member" id="maincontent">
    
    <div class="member-wrapper comments-form-wrppper">
        <div class="member-container comments-form">
            <h3 class="member-title">註冊</h3>
            <div class="form-group">
                <label for="exampleInput1" class="form-label">電子信箱</label>
                <input type="email" class="form-control" id="exampleInput1">
                <div class="form-text">信箱同時會做為帳號登入使用</div>
            </div>
            <div class="form-group">
                請至信箱內收取驗證連結，請點選連結進行密碼修改後即完成驗證並註冊成功。
            </div>
            <div class="member-action">
                <button type="submit" class="btn btn-block btn-xxxl btn-main">驗證信箱</button>
            </div>
            <div class="member-stuff">
                <span>已有帳號，前往<a href="login.html" title="登入">登入</a></span>
            </div>
        </div>
    </div>

</main>


<% content_for :js do %>

<% end %>

