<!-- template: 全站檢索 -->

<%= render :partial => "/partials/breadcrumb" %>

<main class="main main-list-wrapper" id="maincontent">

    <div class="main-container">

        <div class="list-toolbar-wrapper">
            <div class="list-toolbar search-toolbar">
                <div class="toolbar-part">
                    <div class="input-group">
                        <input type="text" class="form-control form-control-xxxl" value="教育" aria-label="Recipient's username" aria-describedby="button-addon2" />
                        <button class="btn btn-xxxl btn-gold" type="button" id="button-addon2"><i class="fas fa-search"></i></button>
                    </div>
                </div>
                <div class="toolbar-part flex-fill">
                    <span class="search-note">
                        <span>檢索範圍：站內各主題的網頁內文、檔案名稱</span>
                    </span>
                </div>
            </div>
        </div>

        <div class="search-output-wrapper">
            
            <div class="result-list">
                
                <div class="result-item">
                    <h3><a href="#">十二年國民基本教育課程綱要語文領域-「臺灣手語」課程綱要修訂第10次大會會議紀錄</a></h3>
                    
                    <span class="result-url">https://www.naer.edu.tw/PageSyllabus?fid=52</span>
                    
                    <!-- 請限制最多62個全形字元，結尾要包含 ... -->
                    <p>為落實生命教育，教育部建立跨校平台，並建構生命教育課程模組，同時補助14所大專校院，鼓勵學校成立跨系所教學社群，將生命教育 ...</p>
                </div>
                
                <div class="result-item">
                    <h3><a href="#">國家教育研究院十二年國民基本教育第一屆至第四屆課程研究發展會委員名單</a></h3>
                    
                    <span class="result-url">https://www.naer.edu.tw/PageDoc/Detail?fid=55&id=3323</span>
                    
                    <!-- 請限制最多62個全形字元，結尾要包含 ... -->
                    <p>此次論壇邀請專家學者、教授、教師、學生代表共同分享創新實務觀點，研討未來學習歷程教育。總共規劃五場專題講座，包括由國家教育研 ...</p>
                </div>
                
                <% (1..6).map do |i| %>
                <div class="result-item">
                    <h3><a href="#">全國學習歷程未來教育論壇登場 共同探索新世代學習模式</a></h3>
                    
                    <span class="result-url">https://www.naer.edu.tw/PageManpower?fid=2<%= i %></span>
                    
                    <!-- 請限制最多62個全形字元，結尾要包含 ... -->
                    <p>本院主責國家課程綱要研發，在此區塊下可找到由教育部正式公布的各級學校課程綱要，目前最新的公布的課綱為十二年國民基本的教育課程 ...</p>
                </div>
                <% end %>
            </div>

            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-end">
                    <li class="page-item"><a class="page-link" href="#">上一頁</a></li>
                    <li class="page-item active"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">下一頁</a></li>
                </ul>
            </nav>
            
        </div>

    </div>

</main>


<% content_for :js do %>

<% end %>

