<!-- template: 網站地圖 -->

<%= render :partial => "/partials/breadcrumb" %>

<main class="main" id="maincontent">
    
    <div class="sitemap-wrapper">
        
        <div class="map-info">
            <div class="main-container">
                <p>本網站依無障礙網頁設計原則建置，網站的主要內容分為三大區塊：<br>1. 上方功能區塊、2. 中央內容區塊、3.下方功能區塊。
                </p>
                <p>本網站的快速鍵﹝Accesskey﹞設定如下：</p>
                <ul class="menu-item">
                    <li>Alt+U：右上方功能區塊，包括分區連結、網站導覽、網站搜尋等。</li>
                    <li>Alt+C：中央內容區塊，為本頁主要內容區。</li>
                    <li>Alt+S：網站搜尋。</li>
                    <li>Alt+X：下方功能區塊。</li>
                </ul>
                <p>如果您的瀏覽器是Firefox，快速鍵的使用方法是 Shift+Alt+(快速鍵字母)，例如 Shift+Alt+C會跳至網頁中央區塊，以此類推。</p>
            </div>
        </div>
        
        <div class="main-container">
            <ul class="menu-item sitemap-list">
                <li>
                    <a href="discussion.html" class="h4" title="論教育">論教育</a>
                    <a href="discussion_list.html" class="h5" title="論教育列表">論教育列表</a>
                </li>
                <li>
                    <a href="discussion.html" class="h4" title="訪人物">訪人物</a>
                    <a href="discussion_list.html" class="h5" title="訪人物列表">訪人物列表</a>
                </li>
                <li>
                    <a href="discussion.html" class="h4" title="創趨勢">創趨勢</a>
                    <a href="discussion_list.html" class="h5" title="創趨勢列表">創趨勢列表</a>
                </li>
                <li>
                    <a href="discussion.html" class="h4" title="尋活動">尋活動</a>
                    <a href="discussion_list.html" class="h5" title="尋活動列表">尋活動列表</a>
                </li>
                <li>
                    <a href="discussion.html" class="h4" title="展成果">展成果</a>
                    <a href="discussion_list.html" class="h5" title="展成果列表">展成果列表</a>
                </li>
                <li>
                    <a href="discussion.html" class="h4" title="暢留言">暢留言</a>
                </li>
                <li>
                    <span class="h4">特展</span>
                    <a href="discussion_list.html" class="h5" title="特展列表">特展列表</a>
                </li>
                <li>
                    <a href="discussion.html" class="h4" title="關於本站">關於本站</a>
                </li>
            </ul>
        </div>
    </div>

</main>


<% content_for :js do %>

<% end %>

