<!-- template: 創趨勢 - 單篇 -->

<%= render :partial => "/partials/breadcrumb" %>

<main class="main" id="maincontent">

    <div class="main-head">
        <div class="main-container">
            <div class="head-media">
                <img src="https://picsum.photos/1280/720" class="img-cover" alt="{圖片描述}" />
            </div>
        </div>
    </div>
    
    <div class="main-container">
        
        <div class="head-introduce trends-introduce">
            <div class="introduce-title">
                <h3 class="achievement-title">學生在數學素養導向試題的表現</h3>
                <ul class="menu-item action-options">
                    <li>
                        <a title="分享" class="btn-action btn-share" tabindex="0"><i class="fas fa-share-alt"></i></a>
                        <div class="social-share">
                            <a href="#" class="item-social" title="{連結名稱}" tabindex="-1"><i class="fab fa-facebook-f"></i></a>
                            <a href="#" class="item-social" title="{連結名稱}" tabindex="-1"><i class="fab fa-line"></i></a>
                            <a href="#" class="item-social" title="{連結名稱}" tabindex="-1"><i class="fab fa-twitter"></i></a>
                            <a href="#" class="item-social" title="{連結名稱}" tabindex="-1"><i class="fas fa-envelope"></i></a>
                        </div>
                    </li>
                    <li><a href="#" title="列印" class="btn-action"><i class="fas fa-print"></i></a></li>
                </ul>
            </div>
            <h4 class="achievement-subtitle">學校教育如何促發學生的多元發展？現行中小學的彈性學習時間常被作為學科的補救教學雖然補救教學，仍為十二年國教彈性學習課程的實施類型</h4>
            <div class="achievement-detail">
                <div class="detail-piece">
                    <span class="label">日期</span>
                    <span class="output">
                        <span class="date">112年9月25日</span>
                    </span>
                </div>
                <div class="detail-piece">
                    <span class="label">單位</span>
                    <span class="output">國家教育研究院</span>
                </div>
                <div class="detail-piece">
                    <span class="label">期數</span>
                    <span class="output">第111期</span>
                </div>
                <div class="detail-piece">
                    <span class="label">作者</span>
                    <span class="output">李文富主任（課程中心）</span>
                </div>
            </div>
        </div>
        
        <article class="article general-article">
            <h3 class="fw-medium">課程教學審定</h3>
            <p>為預先了解十二年國教課綱下，學校回應學生學習需求、推動校本課程發展、支持教師專業發展的歷程和問題，本院自民國103年6月起啟動「十二年國民基本教育課程綱要實施之課程轉化探究計畫」，邀請有能力、有意願的研究合作學校，進行先期規劃和實踐。本文即為其中一間學校的實踐故事，透過深度訪談，探討教師對學校課程發展的規劃觀點與實施歷程等，提供其他學校作為未來實施新課綱時的參考案例。</p>
            <p>在課程規劃方面，教師提出下列思考點，首先是跳脫過去趕進度、追成績的想法，重新思考學校為什麼而存在，如何培養孩子的學習熱情，發現學習的意義？因此該校教師嘗試改變教學方式，以自編學習單方式了解學生學習情形，將教科書作為學習的媒介，而非唯一材料，藉由教科書內容，讓學生進行相關主題多元延伸的學習，讓其相信在課堂上會學到東西，不會排斥或不愛上課。</p>
            <h3 class="fw-medium">課程及教學研究中心</h3>
            <p>其次，是學校教育如何促發學生的多元發展？現行中小學的彈性學習時間常被作為學科的補救教學，雖然補救教學仍為十二年國教彈性學習課程的實施類型之一，但亦鼓勵以統整性主題／專題／議題探究、社團活動與技藝課程、特殊需求領域課程或其他類課程進行規劃，意在提供學校和教師更多彈性自主的空間，而該校教師並分享在規劃彈性學習課程時，需考量該課程與領域學習的關連性、學生身心發展階段，以及自我探索能力的培養，讓孩子產生學習遷移的效應。再者，核心素養係十二年國教課程發展的主軸，除了鼓勵跨領域統整與素養導向教學外，也需要有清楚可行的範例，協助教師解決問題，提升其實踐的意願。</p>
            <p>在實施歷程方面，分組合作學習形式是該校常見的教學型態，可視學生能力與學習速度分配不同學習任務，而自主學習與共學在過程中會自然發生，透過同儕的力量，讓學習速度較慢的孩子也能完成任務，甚至在某些內容的學習上速度超前而轉變為教學者，重獲學習自信與延續學習動機。其次，強調學習歷程的設計與安排，以問題引導學習，以討論促進對話，教師可以從具體的問題或範例開始，鼓勵學生參與，給學生思考的時間，不馬上提供正確答案，協助其習得學習方法與策略，並幫助學生在討論的議題中找出相關連結，分析討論的結果，然後再接續往後的課程。再次，作業或作品的設計上選擇與學生生活經驗相關或是具有意義感、公共討論性的主題，促使行動力的展現從學校擴大到社區、社會，並且在課程結束後，還能持續對生活事件與社會議題保持關注。</p>
            <p>另外，便是提供教師在課程創新的行政支持，在推展新課綱前，行政端可先設定各實施階段的任務、目標與進程，預想教師會遇到的困難，以及可供解決的策略或資源，而行政端也可主動獲得領域召集人等的理解與認同，以其號召力在領域中擔任領頭羊的角色，增強改變的能量。最後，是引進與善用外部資源，如強化家長對學校的認同感，透過參與學校的活動，家長看見了孩子的進步，這份感動可使其主動關心孩子未來各項活動，也能成為促進班級團體動力、導師班級經營的助力，讓家長、教師、學生、學校的關係信任而長久，共同協助孩子的學習。</p>
            <div class="creativecommons-wrap">
                <a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="創用 CC 授權條款" style="border-width: 0;" src="https://i.creativecommons.org/l/by/4.0/88x31.png" /></a>
                <span>本著作係採用<a rel="license" href="http://creativecommons.org/licenses/by/4.0/">創用 CC 姓名標示 4.0 國際 授權條款</a>授權.</span>
            </div>
        </article>
        
        <div class="related-wrapper">
            <div class="related-topics related-keywords">
                <span class="topics-label">關鍵字</span>
                <div class="topics-bd">
                    <ul class="menu-item menu-keywords">
                        <li>
                            <a href="#" title="{連結名稱}">數學素養導向試題</a>
                        </li>
                        <li>
                            <a href="#" title="{連結名稱}">問題解決</a>
                        </li>
                        <li>
                            <a href="#" title="{連結名稱}">溝通表達</a>
                        </li>
                    </ul>
                </div>
            </div>
            <!--div class="related-topics related-link">
                <span class="topics-label">相關連結</span>
                <div class="topics-bd">
                    <ul class="menu-item menu-link">
                        <li>
                            <a href="#" title="{連結名稱}">學生在數學素養導向試題的表現</a>
                        </li>
                        <li>
                            <a href="#" title="{連結名稱}">新課綱系統影響力與社會設計對話暨閉幕式</a>
                        </li>
                    </ul>
                </div>
            </div-->
            <div class="related-topics related-files">
                <span class="topics-label">附加檔案</span>
                <div class="topics-bd">
                    <ul class="menu-item menu-files">
                        <li>
                            <a href="#" title="{連結名稱}">學生在數學素養導向試題的表現.pdf</a>
                        </li>
                        <li>
                            <a href="#" title="{連結名稱}">問題解決.pdf</a>
                        </li>
                        <li>
                            <a href="#" title="{連結名稱}">問題解決導向試題的表現.pdf</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        
        <div class="link-control">
            <a href="../homepage/index_loader.html#trends" class="link-more link-back" title="回專區首頁"><span>回專區首頁</span></a>
        </div>
    </div>
    
    
</main>


<% content_for :js do %>

<!-- 分享按鈕 -->
<script>
  // 取得所有帶有 .item-social 這個 CSS 類別的按鈕元素
  const buttons = document.querySelectorAll('.btn-share');

  // 針對每個按鈕設置 click 事件監聽器
  buttons.forEach((button) => {
    button.addEventListener('click', () => {
      // 切換 .active 這個 CSS 類別
      button.classList.toggle('active');
    });
  });
</script>


<!-- Gallery 正方形 -->
<script>
  // 獲取所有的 .gallery-link 元素
  const galleryLinks = document.querySelectorAll('.gallery-link');

  // 監聽視窗大小變化事件
  window.addEventListener('resize', () => {
    // 遍歷所有的 .gallery-link 元素
    galleryLinks.forEach((link) => {
      // 獲取 .gallery-link 元素的寬度
      const width = link.offsetWidth;
      // 將寬度值設定為 .gallery-link 的內嵌樣式
      link.style.cssText = `width: ${width}px; height: ${width}px;`;
    });
  });

  // 頁面載入完成時觸發一次，以初始化 .gallery-link 寬度
  window.addEventListener('load', () => {
    // 觸發視窗大小變化事件，進行初始化
    window.dispatchEvent(new Event('resize'));
  });
</script>

<!-- Lightbox2 -->
<script src="../javascripts/lightbox.min.js"></script>
<script>
    lightbox.option({
      'resizeDuration': 300
    })
</script>

<% end %>

