<!-- template: 新增/編輯訂單聯絡人 -->

<div class="container-lg">
    <section class="section">
        <div class="section-title">
            <h3>訂單聯絡人</h3>
        </div>
        <div class="information-wrap">
            <div class="row mb-5">
                <div class="col-6">
                    <div class="form-group">
                        <label for="formInput1" class="form-label"><span class="">*</span>姓名</label>
                        <input type="text" class="form-control" id="formInput1">
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label for="formInput2" class="form-label">職稱</label>
                        <input type="text" class="form-control" id="formInput2">
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label for="formInput3" class="form-label">電話</label>
                        <input type="text" class="form-control" id="formInput3">
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label for="formInput4" class="form-label">手機</label>
                        <input type="text" class="form-control" id="formInput4">
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label for="formInput5" class="form-label"><span class="">*</span>電子郵件</label>
                        <input type="email" class="form-control" id="formInput5">
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-group">
                        <label class="form-label">所屬會員單位</label>
                        <span class="d-block mt-1">大同大學</span>
                    </div>
                </div>
            </div>
            <div class="block-title">
                <h4>帳號密碼設定</h4>
            </div>
            <div class="w-50 pe-3">
                <div class="form-group">
                    <label for="formInput10" class="form-label">登入帳號</label>
                    <input type="text" class="form-control" id="formInput10">
                </div>
                <div class="form-group">
                    <label for="formInput11" class="form-label">新密碼</label>
                    <input type="password" class="form-control" id="formInput11">
                </div>
                <div class="form-group">
                    <label for="formInput12" class="form-label">再次輸入新密碼</label>
                    <input type="password" class="form-control" id="formInput12">
                </div>
            </div>
        </div>
        
        <div class="form-action">
            <button type="button" class="btn btn-lg btn-primary">確定</button>
            <button type="button" class="btn btn-lg btn-light">取消</button>
        </div>
        
    </section>
</div>

<% content_for :js do %>

<script>
    $(document).ready(function() {
        $('.btn-confirm').click(function() {
            $(this).hide(); // 隱藏 .btn-confirm
            $('.btn-confirm-disabled').show(); // 顯示 .btn-confirm-disabled
        });
    });
</script>

<% end %>













