<!-- template: 訂單紀錄 -->

<div class="container-lg">
    <div class="section-title">
        <h3>訂單紀錄</h3>
    </div>
    
    <section class="history-section">
        <div class="history-title">
            <h4>2024 第1輪訂購內容</h4>
            <span>第1輪開放下載確認函時間 2024/08/12 09:00~2024/10/12 18:00</span>
        </div>
        <div class="row">
            <div class="col-6">
                <div>
                    <label class="form-label fw-bold">下載全部資料庫確認函</label>
                    <div><a href="#" class="btn btn-light"><i class="fas fa-cloud-download-alt"></i> 下載 2024 第1輪訂購簽確認函</a></div>
                </div>
            </div>
            <div class="col-6">
                <div>
                    <label for="formFile" class="form-label fw-bold">上傳已簽確認函</label>
                    <div class="input-group">
                        <input class="form-control" type="file" id="formFile">
                          <button class="btn btn-secondary" type="button" id="button-addon2">上傳</button>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="system-group">
            <div class="plan-result">
                <ul class="menu-item">
                    <li>系統/資料庫：<strong>EBSCOhost - Academic Search Complete (ASC)</strong></li>
                    <li>系統狀態：<strong>新購</strong></li>
                    <li>訂購區間：<strong>2024-01-01 2024-12-31</strong></li>
                </ul>
            </div>
            <table class="table">
                <tbody>
                    <tr>
                        <td>T1 人文類</td>
                        <td class="text-end">NTD 365,448.00</td>
                    </tr>
                    <tr>
                        <td>T1 工程學類</td>
                        <td class="text-end">NTD 365,448.00</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td class="text-end" colspan="2">
                            <div class="price">總計：NTD 999,999.00</div>
                            <div class="price">最終價格：NTD 999,999.00</div>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
        
        <div class="system-group">
            <div class="plan-result">
                <ul class="menu-item">
                    <li>系統：<strong>Nature</strong></li>
                    <li>系統狀態：<strong>新購</strong></li>
                    <li>訂購區間：<strong>2024-01-01 2024-12-31</strong></li>
                </ul>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th class="text-center">#</th>
                        <th>Name of Journal</th>
                        <th class="text-center">本年度訂閱</th>
                        <th class="text-end">今年度價格 EUR</th>
                    </tr>
                </thead>
                <tbody>
                    <% (1..5).map do |i| %>
                    <tr>
                        <td class="text-center"><%= i %></td>
                        <td>Nature <%= lorem_words(3) %></td>
                        <td class="text-center">續訂</td>
                        <td class="text-end">6,127.00</td>
                    </tr>
                    <% end %>
                </tbody>
                <tfoot>
                    <tr>
                        <td class="text-end" colspan="4">
                            <div class="price">總計：€ 999,999.00</div>
                            <div class="price">最終價格：€ 999,999.00</div>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </section>
    
    <section class="history-section">
        <div class="history-title">
            <h4>2024 第2輪訂購內容</h4>
            <span>第1輪開放下載確認函時間 2024/08/12 09:00~2024/10/12 18:00</span>
        </div>
        <div class="row">
            <div class="col-6">
                <div>
                    <label class="form-label fw-bold">下載全部資料庫確認函</label>
                    <div><a href="#" class="btn btn-light"><i class="fas fa-cloud-download-alt"></i> 下載 2024 第1輪訂購簽確認函</a></div>
                </div>
            </div>
            <div class="col-6">
                <div>
                    <label for="formFile" class="form-label fw-bold">上傳已簽確認函</label>
                    <div class="input-group">
                        <input class="form-control" type="file" id="formFile">
                          <button class="btn btn-secondary" type="button" id="button-addon2">上傳</button>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="system-group">
            <div class="plan-result">
                <ul class="menu-item">
                    <li>系統/資料庫：<strong>EBSCOhost - Academic Search Complete (ASC)</strong></li>
                    <li>系統狀態：<strong>新購</strong></li>
                    <li>訂購區間：<strong>2024-01-01 2024-12-31</strong></li>
                </ul>
            </div>
            <table class="table">
                <tbody>
                    <tr>
                        <td>T1 人文類</td>
                        <td class="text-end">NTD 365,448.00</td>
                    </tr>
                    <tr>
                        <td>T1 工程學類</td>
                        <td class="text-end">NTD 365,448.00</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td class="text-end" colspan="2">
                            <div class="price">總計：NTD 999,999.00</div>
                            <div class="price">最終價格：NTD 999,999.00</div>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
        
        <div class="system-group">
            <div class="plan-result">
                <ul class="menu-item">
                    <li>系統：<strong>Nature</strong></li>
                    <li>系統狀態：<strong>新購</strong></li>
                    <li>訂購區間：<strong>2024-01-01 2024-12-31</strong></li>
                </ul>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th class="text-center">#</th>
                        <th>Name of Journal</th>
                        <th class="text-center">本年度訂閱</th>
                        <th class="text-end">今年度價格 EUR</th>
                    </tr>
                </thead>
                <tbody>
                    <% (1..5).map do |i| %>
                    <tr>
                        <td class="text-center"><%= i %></td>
                        <td>Nature <%= lorem_words(3) %></td>
                        <td class="text-center">續訂</td>
                        <td class="text-end">6,127.00</td>
                    </tr>
                    <% end %>
                </tbody>
                <tfoot>
                    <tr>
                        <td class="text-end" colspan="4">
                            <div class="price">總計：€ 999,999.00</div>
                            <div class="price">最終價格：€ 999,999.00</div>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </section>
    
</div>

<% content_for :js do %>

<% end %>













