<!-- template: 單位基本資訊異動申請紀錄 -->

<div class="container-lg">
    <section class="section">
        <div class="section-title">
            <h3>申請紀錄瀏覽</h3>
        </div>
        <div class="section-inner mb-5">
            <div class="information-wrap">
                <table class="table align-middle">
                    <thead>
                        <tr>
                            <th></th>
                            <th>申請日期</th>
                            <th>狀態</th>
                            <th>申請異動內容</th>
                            <th class="text-end">取消</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% (1..6).map do |i| %>
                        <tr>
                            <td><a href="#" class="btn btn-sm btn-info">瀏覽</a></td>
                            <td>YYYY/MM/DD</td>
                            <td>待處理</td>
                            <td>單位名稱(中文),單位名稱(英文)</td>
                            <td class="text-end"><a href="#" class="btn btn-sm btn-warning">取消</a></td>
                        </tr>
                        <% end %>
                    </tbody>
                </table>
            </div>
            
            <div class="movement-wrap">
                <a href="#" class="btn btn-dark btn-rounded">申請資料異動</a>
            </div>
        </div>
        
    </section>
</div>

<% content_for :js do %>

<% end %>













