<!-- template: 瀏覽異動申請單 -->

<div class="container-lg">
    <section class="section">
        <div class="block-title">
            <h4>提報人</h4>
        </div>
        <div class="row mb-5">
            <div class="col-4">
                <label class="form-label">提報人姓名</label>
                <span class="d-block fw-bold"><%= lorem_name %></span>
            </div>
            <div class="col-4">
                <label class="form-label">提報人單位</label>
                <span class="d-block fw-bold"><%= lorem_words(4) %></span>
            </div>
            <div class="col-4">
                <label class="form-label">E-mail</label>
                <span class="d-block fw-bold"><%= lorem_email %></span>
            </div>
        </div>
        <div class="block-title">
            <h4>單位基本資訊</h4>
        </div>
        <div class="row mb-5">
            <div class="col-4">
                <div class="form-group">
                    <label for="formInput1" class="form-label">單位名稱(中)</label>
                    <input type="text" class="form-control" id="formInput1" value="國立成功大學" disabled readonly>
                </div>
            </div>
            <div class="col-4">
                <div class="form-group">
                    <label for="formInput2" class="form-label">單位名稱(英)</label>
                    <input type="text" class="form-control" id="formInput2" value="Cheng Kung, University" disabled readonly>
                </div>
            </div>
            <div class="col-4">
                <div class="form-group">
                    <label for="formInput3" class="form-label">單位網址</label>
                    <input type="text" class="form-control" id="formInput3" value="https://www.lib.ncku.edu.tw/" disabled readonly>
                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <label for="formInput4" class="form-label">地址(中文)</label>
                    <input type="text" class="form-control" id="formInput4" disabled readonly>
                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <label for="formInput5" class="form-label">地址(英文)</label>
                    <input type="text" class="form-control" id="formInput5" disabled readonly>
                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <label for="formInput5" class="form-label">系統使用IP白名單設定</label>
                    <span class="d-block my-1">140.127.*.*,140.128.*.*,123.51.254.184~123.51.254.195</span>
                    <span class="form-text">*代表：0~255  |  多組請用半形「,」隔開   |  區間可用「/」例如：123.51.254.184/195  表示 123.51.254.184 至 123.51.254.195</span>
                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <label class="form-label">會員單位負責主管</label>
                    <span class="d-block"><%= lorem_name %></span>
                </div>
            </div>
        </div>
        <div class="block-title">
            <h4>申請異動內容</h4>
        </div>
        
        <div>
            <div class="row movement-item movement-item-hd">
                <div class="col-start"><span class="fw-bold">選擇異動欄位</span></div>
                <div class="col-end"><span class="fw-bold">正確內容</span></div>
            </div>
            
            <div class="row movement-item">
                <div class="col-start">
                    <select class="form-select" aria-label="Default select example" disabled readonly>
                        <option selected>Open this select menu</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>
                <div class="col-end">
                    <input type="text" class="form-control" id="" disabled readonly>
                </div>
            </div>
            <div class="row movement-item">
                <div class="col-start">
                    <select class="form-select" aria-label="Default select example" disabled readonly>
                        <option selected>Open this select menu</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>
                <div class="col-end">
                    <input type="text" class="form-control" id="" disabled readonly>
                </div>
            </div>
        </div>
        
        <div class="form-action">
            <span class="backhome"><a href="#" class="btn btn-lg btn-link"><i class="fas fa-long-arrow-alt-left"></i> 回上一頁</a></span>
        </div>
        
    </section>
</div>

<% content_for :js do %>

<% end %>













