<header class="header" id="pagetop">
    <div class="container-lg">
        <div class="header-wrap">
            <div class="header-function">
                <span class="toggler-wrap"></span>
                <div class="header-right">
                    <div class="language">
                        <a href="#">中文</a>
                        <a href="#" class="current">EN</a>
                    </div>
                    <div class="account">
                        <a href="#" class="btn-login"><i class="fas fa-user-circle"></i> 登入</a>
                    </div>
                </div>
            </div>
            <div class="brands">
                <a class="brands-link" href="index.html">
                    <div class="logo">
                        <h1 class="text-hide">學校或機構名稱 School or institution name</h1>
                        <img class="h1-logo" src="../assets/logo@2x.png">
                    </div>
                    <div class="sub">
                        <span>學校或機構中文名稱</span>
                        <span class="en">English name of school or institution</span>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="sys-subject">
        <div class="container-lg">
            <h2>系統名稱 System name</h2>
        </div>
    </div>
</header>