<!-- template: 首頁 -->

<div class="container-lg">
	<div class="index-content">
	    <main class="main">
            <div class="page-title">
                <h3>公告</h3>
            </div>
			<div class="text-content">
			    <p><%= lorem_paragraphs(3) %></p>
				<p><%= lorem_paragraphs(3) %></p>
				<p><%= lorem_paragraphs(3) %></p>
			</div>
		</main>
		<aside class="aside">
			<div class="schedule-wrapper">
                <div class="schedule-item">
                    <h5>申請開放日期</h5>
                    <div class="date">
                        <i class="far fa-calendar-minus"></i>
                        2022-09-01 ~ 2022-11-30
                    </div>
                </div>
				<div class="schedule-item">
                    <h5>資格初審日期</h5>
                    <div class="date">
                        <i class="far fa-calendar-minus"></i>
                        2022-10-01 ~ 2022-12-31
                    </div>
                </div>
			</div>
		</aside>
	</div>
</div>



<% content_for :js do %>

<% end %>

