
/* `Footer
-----------------------------------------------------------------------------*/

footer.footer {
    border-top: 1px solid $main_border_color;
    padding: 56px 0 96px 0;
    color: #666;
    .footer-inner {
        color: #999;
        display: flex;
        justify-content: space-between;
    }
	.start-content {
        padding-right: 12px;
		width: 50%;
	}
	.end-content {
        padding-left: 12px;
		width: 50%;
	}
    
    h2 {
        margin-bottom: .25rem;
        font-size: 1.188rem;
    }
    h3 {
        margin-bottom: 1.5rem;
        font-size: .875rem;
        span {
            font-family: 'robotobold_italic';
            font-weight: bold;
        }
    }
    
	.menu-item.contact {
		li {
            display: flex;
			margin-bottom: .25rem;
		}
        .label { min-width: 4rem; }
	}
    
    .menu-item.menu-link {
        display: flex;
        flex-wrap: wrap;
		li {
			margin-bottom: .25rem;
            padding-right: .75rem;
            width: 50%;
            &:nth-child(even) {
                padding-right: 0;
                padding-left: .75rem;
            }
		}
	}
}

/* `Responsive
-----------------------------------------------------------------------------*/

@media (max-width: 991px) {
    footer.footer {
        padding: calc(2.25rem + 2.25vw) 0 calc(3.5rem + 3.5vw) 0;
        .footer-inner,
        .menu-item.menu-link {
            display: block;
            margin-top: 1rem;
        }
        .start-content,
        .end-content {
            padding: 0;
            width: 100%;
        }
        .menu-item.menu-link li {
            padding: 0 !important;
        }
    }
}








