
/* `Header
-----------------------------------------------------------------------------*/

header.header {
	position: relative;
	margin-bottom: 4rem;
	.dropdown-toggle {
		background-color: transparent;
		border: none;
		padding: 0;
	}
	.sys-subject {
		background: url("../assets/dot.png") left top repeat;
		padding: 1.5rem 1.875rem;
		h2 {
			margin-bottom: 0;
		}
	}
	.button-widget {
		padding: 7px 12px 7px 0;
	}
}

.header-function {
	background: #fbfbfb;
	border-bottom: 1px solid #e5e5e5;
	font-size: .9375rem;
	.function-inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.function-right {
		display: flex;
		position: relative;
	}
	.aee-wrap {
		border-left: 1px solid #e5e5e5;
		border-right: 1px solid #e5e5e5;
		a {
			display: block;
			background: #f8f8f8;
			padding: 0 16px;
			height: 40px;
			line-height: 40px;
			color: #7b7e85;
			&:hover {
				background: #fff;
				color: #111;
			}
		}
	}
	.language {
		position: relative;
		&:before {
			content: "\f0ac";
			background: #4e4e4e;
			border-right: 1px solid #111;
			border-left: 1px solid #111;
			width: 40px;
			height: 40px;
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
			line-height: 40px;
			text-align: center;
			color: #b3b3b3;
			position: absolute;
			left: 0;
			top: 0;
			pointer-events: none;
		}
	}
	.link-calendar,
	.link-language {
		display: block;
		padding: 0 16px;
		height: 40px;
		line-height: 40px;
	}
	.link-calendar {
		background: #e3efea;
		border-left: 1px solid rgba(#555, .1);
		color: #006c3e;
		&:hover, &:active {
			background: #555;
			color: #fff;
		}
	}
	.link-language {
		background: $main_color;
		padding-left: 56px;
		color: rgba(#fff, .7);
		&:hover, &:active {
			color: rgba(#fff, 1);
		}
	}
	.btn-login {
		display: block;
		color: #111;
		i {
			margin-right: .25rem;
			color: #aaa;
			transition: all 0.2s ease-in-out
		}
		&:hover, &:active {
			color: #999;
			i { color: #333; }
		}
	}
	.account {
		font-size: 1rem;
		position: absolute;
		bottom: -70px;
		right: 0;
	}
}

.header-wrap {
    display: flex;
    align-items: center;
	padding: 30px 0;
	.brands-link {
		display: flex;
		align-items: center;
		color: #333;
	}
	.h1-logo {
		display: block;
		width: auto;
		height: 48px;
	}
	.sub {
		margin-left: 1rem;
		span {
			display: block;
			margin-top: .375rem;
			font-size: 1.625rem;
			font-weight: bold;
			line-height: 1.2;
		}
		.en {
			margin-top: 0;
			font-size: 1.125rem;
			font-weight: 300;
			color: #888;
			line-height: 1;
		}
	}
}

/* `Responsive
-----------------------------------------------------------------------------*/

@media (max-width: 1199px) {
	header.header {
		.toggler-wrap,
		.aee-wrap {
			display: inline-block;
		}
		.toggler-wrap {
			float: left;
			height: 40px;
		}
	}
}

@media (max-width: 991px) {
	header.header { margin-bottom: 2.5rem; }
	.header-function {
		.container-lg {
			padding-right: 0;
		}
		.account {
			right: 12px;
		}
	}
}

@media (max-width: 767px) {
	header.header {
		.aee-wrap {
			display: none;
		}
		.toggler-wrap {
			border-right: 1px solid #e5e5e5;
		}
		.account {
			bottom: -60px;
		}
	}
	.header-wrap {
		padding: 20px 0;
	}
}

@media (max-width: 574px) {
	header.header {
		.account {
			position: static;
		}
		.dropdown-toggle,
		.btn-login {
			padding: 8px 12px;
		}
		.link-calendar {
			padding: 0;
			width: 40px;
			height: 40px;
			position: relative;
            &:after {
                content: "\f073";
				background: $secondary_color;
                width: 40px;
                height: 40px;
                font-family: "Font Awesome 5 Free";
                font-weight: 900;
                line-height: 40px;
                text-align: center;
                color: rgba(#fff, .7);
                position: absolute;
                left: 0;
                top: 0;
                pointer-events: none;
            }
			&:active:after {
				color: rgba(#fff, 1);
			}
			span {
				display: none;
			}
		}
	}
	.header-wrap {
		.h1-logo {
			height: 40px;
		}
		.sub {
			span {
                font-size: 1.5rem;
			}
			.en {
                font-size: 1rem;
			}
		}
	}
}