<!-- template: 活動成果查詢 -->

<div class="container-lg">
	
	<!-- 當 sidebar 需要 sticky 時 page-content 加上 .has-sticky -->
	<div class="page-content has-sticky">
	    <aside class="aside offcanvas-collapse">
			<div class="scrollbar-inner">
		        <div class="sidenav">
					
					<!-- 因 step 有 position，當 main 高度不足時 step 會與 footer 重疊，因此需要前端協助用 js 判斷 .step-wrap 的高度後，將 min-height 塞進 .main 裡 -->
					<div class="step-wrap side-sticky">
                        <ul class="course-navigation menu-item">
                            <li><a class="nav-item" href="#">報名表</a></li>
                            <li>
                                <a class="nav-item" data-bs-toggle="collapse" href="#collapseMenu" role="button" aria-expanded="false" aria-controls="collapseMenu">
                                    課程 <i class="fas fa-angle-down"></i>
                                </a>
                                <div class="collapse" id="collapseMenu">
                                    <ul class="menu-item">
                                        <li><a class="nav-item" href="#">第 1 節課</a></li>
                                        <% (2..5).map do |i| %>
                                        <li><a class="nav-item" href="#">第 <%= i %> 節課</a></li>
                                        <% end %>
                                    </ul>
                                </div>
                            </li>
                            <li><a class="nav-item" href="#">問卷</a></li>
                            <li><a class="nav-item" href="#">心得</a></li>
							<li><a class="nav-item" href="#">活動成果查詢</a></li>
                            <li><a class="nav-item" href="#">活動問題諮詢</a></li>
                        </ul>
					</div>
					
				</div>
			</div>
		</aside>
		<div id="widget-overlay"></div>
		<main class="main">
			<div class="page-title">
			    <h3>活動成果</h3>
			</div>
			<div class="notice-wrapper mb-3">
				<h5 class="fw-bold">總參與時數</h5>
                <p class="mb-0"><span class="badge badge-normal rounded-pill text-bg-secondary">9999 小時</span></p>
            </div>
			<div class="notice-wrapper mb-3">
				<h5 class="fw-bold">問卷</h5>
                <p>已送出</p>
				<a href="#" class="btn btn-outline-primary btn-rounded">檢視問卷紀錄</a>
            </div>
			<div class="notice-wrapper mb-3">
				<h5 class="fw-bold">心得</h5>
                <p>已送出</p>
				<a href="#" class="btn btn-outline-primary btn-rounded">檢視心得</a>
            </div>
			<div class="notice-wrapper mb-3">
				<h5 class="fw-bold">核發時數</h5>
                <p><span class="badge badge-normal rounded-pill text-bg-secondary">9999 小時</span></p>
				<a href="#" class="btn btn-outline-primary btn-rounded">下載證書</a>
            </div>
		</main>
	</div>
</div>



<% content_for :js do %>
    <script>
        var stickEl = $('.side-sticky'),
          stickyElTop = stickEl.offset().top;

        var sticky = function(){  
          var scrollTop = $(window).scrollTop();  

          if (stickyElTop < scrollTop+20) {   
              stickEl.addClass('is-fixed');  
          } else {  
              stickEl.removeClass('is-fixed');   
          }  
        };

        $(window).scroll(function() {
          sticky();
        }); 
    </script>
<% end %>

