<!-- ntu: 忘記密碼 -->

<%= render :partial => "/partials/title-wrapper" %>

<div class="container-lg">
	<div class="login-container">
		<div class="login-wrapper">
            <div class="section-title">
                <h4 class="title">忘記密碼</h4>
            </div>
            <form>
                <div class="form-group">
					<label for="emailInput1" class="form-label">請輸入email</label>
                    <input type="email" class="form-control" id="emailInput1" />
                </div>
				
                <div class="form-group mb-4">
                    <label for="loginInput4" class="form-label">驗證碼</label>
                    <div class="d-flex align-items-center">
                        <span class="me-1"><input type="text" class="form-control" id="loginInput4" /></span>
                        <span class="me-1"><img class="captcha" src="http://nfu-map.dev.com.tw/common/captcha.image"></span>
                        <span><button class="btn btn-xs btn-outline-primary" type="button"><i class="fas fa-sync-alt"></i></button></span>
                    </div>
                </div>

                <div class="mb-5">
					<button class="btn btn-secondary" type="submit">寄送重設密碼信件</button>
				</div>
				
                <p>
                    <a class="forget-password" href=""><i class="fas fa-long-arrow-alt-left"></i> 返回登入</a>
                </p>
            </form>
		</div>
	</div>
</div>


<% content_for :js do %>

<% end %>