<!-- ntu: 登入 -->

<%= render :partial => "/partials/title-wrapper" %>

<div class="container-lg">
	<div class="login-container">
		<div class="login-wrapper">
            <div class="section-title">
                <h4 class="title">登入</h4>
            </div>
			<form>
                <div class="form-group">
                    <label for="loginInput1" class="form-label">申請序號</label>
                    <input type="text" class="form-control" id="loginInput1" />
                </div>
                <div class="form-group">
                    <label for="loginInput2" class="form-label">身分證/護照號碼/入臺證</label>
                    <input type="text" class="form-control" id="loginInput2" />
                </div>
                <div class="form-group">
                    <label class="form-label">出生年月日</label>
                    <input type="date" class="form-control" id="testDate1" name="trip-start" min="1980-01-01" max="2010-12-31">
                </div>
                <div class="form-group">
                    <label for="loginInput3" class="form-label">密碼</label>
                    <input type="password" class="form-control" id="loginInput3" />
                </div>
                <div class="form-group">
                    <label for="loginInput4" class="form-label">驗證碼</label>
                    <div class="d-flex align-items-center">
                        <span class="me-1"><input type="text" class="form-control" id="loginInput4" /></span>
                        <span class="me-1"><img class="captcha" src="http://nfu-map.dev.com.tw/common/captcha.image"></span>
                        <span><button class="btn btn-xs btn-outline-primary" type="button"><i class="fas fa-sync-alt"></i></button></span>
                    </div>
                </div>
                <div class="form-action">
                    <button type="submit" class="btn btn-lg btn-ntu">登入</button>
                </div>
				<p class="text-center mt-5"><a href="#" class="forget-password">忘記密碼/報名序號？</a></p>
			</form>
		</div>
	</div>
</div>




<% content_for :js do %>

<% end %>