<!-- admin-page: OTP 登入 -->

<div class="login-container">
    <div class="login">
        <div class="card">
            <div class="card-head">
                <h1 class="logo"><img class="logo__img" src="../assets/logo_badge@2x.png" alt="back" title="中華民國僑務委員會" /></h1>
                <h5 class="sys-title"><strong>僑務</strong> 活動報名系統</h5>
            </div>
            <div class="card-body">
                <form>
					<p class="h3 text-center py-4">登入</p>
					<div class="form-group">
						<label>身分別</label>
						<div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" class="custom-control-input" id="defaultInline1" name="inlineDefaultRadiosExample" />
                                <label class="custom-control-label" for="defaultInline1">本會</label>
                            </div>

                            <!-- Default inline 2-->
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" class="custom-control-input" id="defaultInline2" name="inlineDefaultRadiosExample" />
                                <label class="custom-control-label" for="defaultInline2">駐外人員</label>
                            </div>
						</div>
                    </div>
                    <div class="md-form">
                        <span class="text-muted pr-1">帳號</span>
						<strong>scarlett.johansson@gmail.com</strong>
                    </div>
                    <div class="md-form">
                        <input type="password" id="materialFormCardPasswordEx" class="form-control">
                        <label for="materialFormCardPasswordEx">密碼</label>
                    </div>
					<div class="md-form">
                        <input type="password" id="materialFormCardPasswordEx2" class="form-control">
                        <label for="materialFormCardPasswordEx2">信件驗證碼</label>
                    </div>
                    <div class="form-row">
                        <div class="col-7 col-md-5">
                            <div class="md-form mt-0">
                                <input type="text" id="CAPTCHA" class="form-control mb-4">
                                <label for="CAPTCHA">驗證碼</label>
                            </div>
                        </div>
                        <span class="col-5 col-md-7 input-group-addon verification">
                            <img class="captcha mt-0" src="http://nfu-map.dev.com.tw/common/captcha.image">
                            <button class="btn btn-xs btn-secondary mx-0" type="button"><i class="fa fa-refresh mr-0"></i></button>
                        </span>
                    </div>
                    <div class="text-center pb-4">
                        <button class="btn btn-outline-default btn-rounded my-4 waves-effect z-depth-0" type="submit">登入</button>
                    </div>
					<p class="text-center"><a href="#" class="bottom-link">返回首頁</a></p>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="bokeh-background">
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
</div>