<!-- admin-page: 登入 選擇角色 -->

<div class="login-container">
    <div class="login-role">
        <div class="card">
            <div class="card-body">
				<div class="role-card">
					<div class="role-hd">
                        <h4 class="role-name">系統管理</h4>
                        <div class="role-description">Phasellus interdum odio enim, nec consequat nunc tempus ac.</div>
					</div>
                    <p class="text-center mb-0"><a href="#" class="btn btn-go btn-default btn-rounded">前往</a></p>
				</div>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
				<div class="role-card">
					<div class="role-hd">
                        <h4 class="role-name">我舉辦的活動<span class="badge badge-danger">3</span></h4>
                        <div class="role-description">Quisque sit amet interdum quam, ut scelerisque massa. Quisque volutpat nisi sed egestas laoreet. Phasellus consequat ligula aliquet, rhoncus dui vel, lobortis libero.</div>
					</div>
                    <p class="text-center mb-0"><a href="#" class="btn btn-go btn-default btn-rounded">前往</a></p>
				</div>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
				<div class="role-card">
					<div class="role-hd">
                        <h4 class="role-name">待審查活動<span class="badge badge-danger">100</span></h4>
                        <div class="role-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla consequat vitae dolor eu venenatis. Duis finibus, neque sed egestas varius.</div>
					</div>
                    <p class="text-center mb-0"><a href="#" class="btn btn-go btn-default btn-rounded">前往</a></p>
				</div>
            </div>
        </div>
    </div>
</div>

<div class="bokeh-background">
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
</div>