<!-- admin-page: OIA NTU Dashborad -->
<% content_for :header do %>
    <%= render :partial => "/partials/admin_header2" %>
<% end %>
<main class="main">
    <div class="row">
        <div class="col-4">
            <div class="col-block">
                <div class="block-header has-border">
                    <h3 class="font-weight-bold">來校交換生</h3>
                </div>
                <div class="block-content">
					<p>建立新梯次的申請並複製上一學期的各項設定</p>
					<button type="button" class="btn btn btn-rounded btn-primary btn-block">建立新學期申請設定</button>
                </div>
            </div>
			<div class="col-block mt-4">
                <div class="block-header has-border">
                    <h3 class="font-weight-bold">切換學期梯次</h3>
                </div>
                <div class="block-content">
					<div class="row">
						<div class="col-9">
                            <select class="browser-default custom-select">
                                <option value="" disabled selected>請選擇</option>
                                <option value="1">Option 1</option>
                                <option value="2">Option 2</option>
                                <option value="3">Option 3</option>
                            </select>
						</div>
						<div class="col-3">
                            <button type="button" class="btn btn-select btn-secondary btn-block">前往</button>
						</div>
					</div>
                </div>
            </div>
			<div class="col-block mt-4">
                <div class="block-header has-border">
                    <h3 class="font-weight-bold">作業程序流程指引</h3>
                </div>
				<div class="block-content">
                    <div class="workflow-guide">
                        <ul class="menu-item">
                            <li class="guide-item">
                                <a href="#" class="btn btn btn-rounded btn-primary btn-block">交換日程設定</a>
                            </li>
                            <li class="guide-item">
                                <a href="#" class="btn btn btn-rounded btn-primary btn-block">交換計畫及名額設定</a>
                            </li>
                            <li class="guide-item">
                                <a href="#" class="btn btn btn-rounded btn-primary btn-block">申請文件設定</a>
                            </li>
                            <li class="guide-item">
                                <a href="#" class="btn btn btn-rounded btn-primary btn-block">姐妹校提名未挑選名單處理</a>
                            </li>
                            <li class="guide-item">
                                <a href="#" class="btn btn btn-rounded btn-primary btn-block">收件審查作業</a>
                            </li>
                        </ul>
                    </div>
				</div>
            </div>
        </div>
        <div class="col-8">
            <div class="col-block mb-4">
                <div class="block-header has-border">
                    <h3 class="font-weight-bold">未提名區</h3>
                </div>
                <div class="block-content expansion">
					<table class="table table-hover obvious-link">
						<thead>
							<tr class="text-center">
								<th class="text-left">#</th>
								<th>申請件數</th>
								<th>確認提名</th>
								<th>未提名件數</th>
							</tr>
						</thead>
						<tbody>
							<tr class="text-center">
								<td class="text-left">大洋洲</td>
								<td><a href="#">9</a></td>
								<td><a href="#">9</a></td>
								<td><a href="#">9</a></td>
							</tr>
							<tr class="text-center">
								<td class="text-left">亞洲</td>
								<td><a href="#">9</a></td>
								<td><a href="#">9</a></td>
								<td><a href="#">9</a></td>
							</tr>
							<tr class="text-center">
								<td class="text-left">歐洲</td>
								<td><a href="#">9</a></td>
								<td><a href="#">9</a></td>
								<td><a href="#">9</a></td>
							</tr>
							<tr class="text-center">
								<td class="text-left">美洲</td>
								<td><a href="#">9</a></td>
								<td><a href="#">9</a></td>
								<td><a href="#">9</a></td>
							</tr>
							<tr class="text-center">
								<td class="text-left">非洲</td>
								<td><a href="#">9</a></td>
								<td><a href="#">9</a></td>
								<td><a href="#">9</a></td>
							</tr>
							<tr class="text-center">
								<td class="text-left">總件數</td>
								<td><a href="#">9</a></td>
								<td><a href="#">9</a></td>
								<td><a href="#">9</a></td>
							</tr>
							<tr class="text-center">
								<td class="text-left">中國籍</td>
								<td><a href="#">9</a></td>
								<td><a href="#">9</a></td>
								<td><a href="#">9</a></td>
							</tr>
						</tbody>
					</table>
                </div>
            </div>
			<div class="row">
			    <div class="col-6">
				    <div class="col-block">
                        <div class="block-header has-border">
                            <h3 class="font-weight-bold">OIA 待審區</h3>
                        </div>
						<div class="block-content">
						    <ul class="circle-list menu-item">
							    <li>
								    <a href="#" class="circle-item circle-primary">
										<span>01</span>
									</a>
									<p>總件數</p>
								</li>
								<li>
								    <a href="#" class="circle-item circle-success">
										<span>02</span>
									</a>
									<p>已審查</p>
								</li>
								<li>
								    <a href="#" class="circle-item circle-danger">
										<span>34</span>
									</a>
									<p>未審查</p>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-6">
				    <div class="col-block">
                        <div class="block-header has-border">
                            <h3 class="font-weight-bold">補件區</h3>
                        </div>
						<div class="block-content">
						    <ul class="circle-list menu-item">
							    <li>
								    <a href="#" class="circle-item circle-secondary">
										<span>56</span>
									</a>
									<p>待補件</p>
								</li>
								<li>
								    <a href="#" class="circle-item circle-warning">
										<span>99</span>
									</a>
									<p>已補件待審查</p>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
        </div>
    </div>
</main>

<% content_for :js do %>
    
<% end %>