<header class="header">
	<div class="container">
        <div class="header-bar">
            <a href="#U" id="AU" name="U" title="右上方功能區塊" accesskey="U" tabindex="3">:::</a>
            <ul class="header-toolbar menu-item">
                <li><a href="#" title="臺灣大學">臺灣大學</a></li>
                <li><a href="#" title="學務處">學務處</a></li>
                <li><a href="#" title="聯絡我們">聯絡我們</a></li>
                <li><a href="#" title="常見問題">常見問題</a></li>
                <li><a href="#" title="網站地圖">網站地圖</a></li>
                <li class="language"><a href="#" title="切換英文語系">English</a></li>
				<li>
                    <form class="search-form">
                        <input class="form-control" type="text" placeholder="全站搜尋" aria-label="Search" title="全站搜尋" accesskey="S" tabindex="14">
                    </form>
				</li>
            </ul>
        </div>
        <div class="header-wrap">
            <div class="brands">
                <a class="d-flex" href="index.html" title="國立臺灣大學 學生住宿服務組" >
                    <div class="logo">
                        <h1 class="text-hide">國立臺灣大學</h1>
                        <img class="h1-logo" alt="學生住宿服務組" src="../assets/ntu-logo@2x.png" />
                        <img class="h1-calligraphy" alt="臺灣大學書法字" src="../assets/ntu-calligraphy.png" />
                    </div>
                    <div class="sub">
                        <span class="cht">學務處 | 校園安全中心</span>
                        <span class="en">Student Safety Center, Office of Student Affairs, NTU</span>
                    </div>
                </a>
            </div>
			<div class="emergency-call web-only">
			    <span class="symbol">24小時緊急聯絡專線</span>
				<span class="number">02-33669119</span>
			</div>
        </div>
        <nav class="navbar navbar-light navbar-expand-lg">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
			<div class="emergency-call mobile-only">
			    <span class="symbol">24小時緊急聯絡專線</span>
				<span class="number">02-33669119</span>
			</div>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <div class="header-bar mobile-only">
                    <ul class="header-toolbar menu-item">
                        <li><a href="#" title="臺灣大學">臺灣大學</a></li>
                        <li><a href="#" title="學務處">學務處</a></li>
                        <li><a href="#" title="聯絡我們">聯絡我們</a></li>
                        <li><a href="#" title="常見問題">常見問題</a></li>
                        <li><a href="#" title="網站地圖">網站地圖</a></li>
                        <li><a href="#" title="切換英文語系">English</a></li>
                    </ul>
                </div>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#" title="關於本中心">關於本中心</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" title="最新消息">最新消息</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" title="校園安全">校園安全</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" title="全民國防教育">全民國防教育</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" title="兵役專區">兵役專區</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" title="友站連結">友站連結</a>
                    </li>
                    <li class="nav-item mobile-only">
                        <form class="search-form">
                            <input class="form-control" type="text" placeholder="全站搜尋" aria-label="Search" title="全站搜尋" accesskey="S" tabindex="14">
                        </form>
                    </li>
                </ul>
            </div>
        </nav>
	</div>
</header>