<!-- Standard Sitemap -->
<%= render :partial => "/partials/admin_breadcrumb" %>

<main class="main">
    <div class="page-header">
        <h2>Standard Sitemap</h2>
    </div>
	<div class="standard_sitemap ssc_3">
		<p>by fire</p>
		<ul class="ssOne">
			<li class="home">
				<a href="###">Home</a>
				<ul class="ssTwo">
					<li>
						<a class="ssBox" href="/services/design">Graphic Design</a>
						<ul class="ssThree">
							<li><a class="ssBox" href="/social-media">Social Media</a></li>
							<li><a class="ssBox" href="/optimization">Search Optimization</a></li>
							<li><a class="ssBox" href="/adwords">Google AdWords</a></li>
						</ul>
					</li>
					<li>
						<a class="ssBox" href="/services/development">Web Development</a>
						<ul class="ssThree">
							<li><a class="ssBox" href="/social-media">Social Media</a></li>
							<li><a class="ssBox" href="/optimization">Search Optimization</a></li>
							<li><a class="ssBox" href="/adwords">Google AdWords</a></li>
						</ul>
					</li>
					<li><a class="ssBox" href="/services/marketing">Internet Marketing</a>
						<ul class="ssThree">
							<li><a class="ssBox" href="/social-media">Social Media</a></li>
							<li><a class="ssBox" href="/optimization">Search Optimization</a></li>
							<li><a class="ssBox" href="/adwords">Google AdWords</a></li>
						</ul>
					</li>
					<li><a class="ssBox" href="/services/copywriting">Copywriting</a></li>
					<li><a class="ssBox" href="/services/photography">Photography</a></li>
				</ul>
			</li>
		</ul>
		
		<!--ul class="ssNav">
			<li><a href="/register">Register</a></li>
			<li><a href="/login">Log In</a></li>
			<li><a href="/sitemap">Site Map</a></li>
		</ul-->
	</div>
</main>