<!-- tigp: 註冊  -->

<div class="container">
    <section class="login-warpper">
		<h2 class="logo-tigp">
			<a href="../home/index.html">
				<img src="../assets/logo-tigp@2x.png" alt="TIGP@AS">
			</a>
		</h2>
		<h4 class="warpper-title">Register Account</h4>
        <form>
            <div class="md-form">
                <input type="email" id="materialFormEmail" class="form-control">
				<label for="materialFormEmail">Email</label>
            </div>
			<div class="md-form">
                <input type="email" id="materialFormPassword" class="form-control">
				<label for="materialFormPassword">Password</label>
            </div>
			<div class="md-form">
                <input type="email" id="materialFormRePassword" class="form-control">
				<label for="materialFormRePassword">Re-enter password</label>
            </div>
            <div class="form-row">
                <div class="col-7 col-md-5">
                    <div class="md-form mt-0">
                        <input type="text" id="CAPTCHA" class="form-control mb-4">
						<label for="CAPTCHA">Verification code</label>
                    </div>
                </div>
                <span class="col-5 col-md-7 input-group-addon verification">
                    <img class="captcha" src="http://nfu-map.dev.com.tw/common/captcha.image">
                </span>
            </div>
            <div class="text-center pt-4">
                <button class="btn btn-outline-default btn-rounded my-4 waves-effect z-depth-0" type="submit">SUBMIT</button>
            </div>
        </form>
    </section>
</div>