<!-- tigp: 註冊完成  -->

<div class="container">
    <section class="login-warpper">
		<h2 class="logo-tigp">
			<a href="../home/index.html">
				<img src="../assets/logo-tigp@2x.png" alt="TIGP@AS">
			</a>
		</h2>
		<h4 class="warpper-title">Registration Success!</h4>
        <div>
            <p class="mb-5">Please go to the email address you filled in to receive the letter, click on the link to activate the account.</p>
            <p class="text-muted">Didn't receive the certification letter? <a href="#">Reissue certificate letter</a></p>
        </div>
    </section>
</div>