<!-- tigp: 驗證成功  -->

<div class="container">
    <section class="login-warpper">
		<h2 class="logo-tigp">
			<a href="../home/index.html">
				<img src="../assets/logo-tigp@2x.png" alt="TIGP@AS">
			</a>
		</h2>
		<h4 class="warpper-title">Successful</h4>
        <div>
            <p>The delivery is successful !! Please collect the letter from the email box you filled in to complete the authentication!</p>
			<div class="pt-4 text-center">
            <a class="btn btn-outline-default btn-rounded waves-effect z-depth-0" href="#">Start Applying</a>
			</div>
        </div>
    </section>
</div>