<footer class="footer">
	<div class="container">
		<div class="footer-inner clearfix">
			<div class="float-left">
				<div class="contact">
					<h6>中華民國儲蓄互助協會</h6>
					<p>地址：(40460)台中市北區北平路一段33號</p>
					<p>電話：04-22917272</p>
					<p>傳真：04-22969443</p>
				</div>
			</div>
			<address class="float-right">最佳瀏覽體驗請使用 Firefox、Chrome 或 IE11+</address>
		</div>
	</div>
</footer>
