<header class="header">
    <div class="container">
		<div class="header-wrap">
			<div class="brands">
				<a class="d-flex" href="/">
                    <div class="logo"><img class="h1-logo" src="../assets/logo.svg" /></div>
                    <div class="sub">
                        <span class="culroc">中華民國儲蓄互助協會</span>
                        <span class="sys">社員簿記系統</span>
                    </div>
				</a>
			</div>
			<div class="navbar navbar-dark account dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					<span class="navbar-toggler-icon"></span>
					<span class="web-only">您好 陳曉明</span>
				</a>
				<div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
					<div class="greetings">您好 陳曉明</div>
					<a class="dropdown-item" href="#">股金帳戶查詢</a>
					<a class="dropdown-item" href="#">備轉金帳戶查詢</a>
					<a class="dropdown-item" href="#">貸款資料查詢</a>
					<a class="dropdown-item" href="#">互助基金查詢</a>
					<a class="dropdown-item" href="#">薪資轉帳紀錄</a>
					<a class="dropdown-item" href="#">登入記錄查詢</a>
					<div class="dropdown-divider"></div>
					<a class="dropdown-item" href="#">變更密碼</a>
					<a class="dropdown-item" href="#">登出</a>
				</div>
			</div>
		</div>
    </div>
</header>