/* `Footer
-----------------------------------------------------------------------------*/

footer.footer {
	margin-top: 40px;
	color: #999;
    .container {
        width: 1110px;
        max-width: 1110px;
		border-top: 1px solid #dee2e6;
		padding: 40px 0;
		position: relative;
	}
    .browser-support { margin-top: 1rem; }
    address, .contact p, .language { line-height: 1.5; }
    .contact {
        p { margin-bottom: 0; }
    }
}

/* `Responsive
-----------------------------------------------------------------------------*/

@media (max-width: 991px) {
	footer.footer {
		.float-left, .float-right {
			float: none !important;
		}
		address { margin-top: 1rem; }
	}
}