
/* `Footer
-----------------------------------------------------------------------------*/

footer.footer {
	color: #777;
	.footer-inner {
		display: flex;
		justify-content: space-between;
		border-top: 1px dashed #ddd;
		padding: 80px 0 120px;
	}
	.block-transition {
		width: 63%;
        line-height: 1.4;
	}
	.end-content {
		width: 33.33333%;
		text-align: end;
	}
}







