
/* `Header
-----------------------------------------------------------------------------*/

header.header {
    background: $main_dark_color;
	position: relative;
	margin-bottom: 4rem;
	.dropdown-toggle {
		background-color: transparent;
		border: none;
		padding: 0;
        color: #fff;
	}
	.header-function { text-align: end; }
	.language {
        .fas { margin-right: .5rem; }
		a {
			display: inline-block;
			padding: 0 0.5rem;
			position: relative;
			color: #c4cee2;
			&:hover { color: $main_color; }
			&:after {
				content: "";
				background: #e5e5e5;
				width: 1px;
				height: 16px;
				position: absolute;
				right: -0.125rem;
				top: 0.25rem;
			}
			&:last-child:after {
				content: none;
			}
		}
	}
	.btn-login {
		margin-left: 1rem;
		i {
			margin-right: .25rem;
			color: #aaa;
			transition: all 0.2s ease-in-out
		}
		&:hover, &:active {
			i { color: #333; }
		}
	}
    .dropdown-menu {
        border-radius: 2px;
        border-color: $main_dark_color;
    }
}

.header-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
	flex-direction: row-reverse;
    height: 128px;
	.account {
        margin-top: .75rem;
		padding: 0 0.5rem;
	}
	.brands-link {
		display: flex;
		align-items: center;
		color: #333;
	}
	.h1-logo {
		display: block;
		width: auto;
		height: 72px;
	}
	.sub {
		margin-left: 1rem;
        font-size: 1.875rem;
        color: $main_color;
	}
}

.main-nav {
    border-top: 1px dashed #485368;
    .inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    ul {
        display: flex;
        margin-right: auto;
    }
    a {
        display: block;
        padding: 1.25rem 1.75rem;
        font-size: 1.25rem;
        font-weight: 500;
        color: #c4cee2;
        &:hover {
            background: #131820;
            color: #fff;
        }
        &.current {
            background: #f5f7fb;
            color: $main_dark_color;
            cursor: default;
        }
    }
    .quota {
        color: #89a1b9;
        span { color: #fff; }
    }
}

.header-right {
	text-align: end;
}















