
/* `Header
-----------------------------------------------------------------------------*/

header.header {
	position: relative;
    .nav {
        .link-span {
            display: inline-block;
            padding: 0 1.5rem;
            position: relative;
            &:after {
                content: "";
                background: $main_color;
                height: 1px;
                width: 100%;
                position: absolute;
                left: 0;
                bottom: 0;
                transform: translateY(.5rem) scaleY(1);
                transition: all 0.2s ease-in-out;
                opacity: 0;
                z-index: -1;
            }
        }
        a {
            display: block;
            font-size: 1.375rem;
            font-weight: 300;
            color: #777;
            &:hover {
                color: #fff;
                .link-span {
                    &:after {
                        transform: translateY(-4rem) scaleY(148);
                        opacity: 1;
                    }
                }
            }
            &.current {
                font-weight: 500;
                color: #000 !important;
                cursor: default;
                .link-span:after { content: none; }
            }
        }
        .separate {
            display: block;
            width: 3rem;
            position: relative;
            &:after {
                content: "";
                background: $etalk_grey;
                height: 48px;
                width: 1px;
                position: absolute;
                left: 50%;
                top: -.5rem;   
            }
        }
    }
}

.header-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 67px 0;
    .brands-link { display: block; }
	.h1-logo {
		display: block;
		width: auto;
		height: 96px;
	}
}

.header-right {
	text-align: end;
    .mobile-only { display: none; }
}

.offcanvas.offcanvas-search {
    background: $etalk_grey;
    height: 220px;
    max-height: none;
    .offcanvas-header {
        padding-bottom: 0;
        align-items: flex-end;
        height: 64px;
    }
}

.hamburger-toggler {
    background-color: transparent;
    border: none;
    .hamburger {
        .line {
            width: 50px;
            height: 5px;
            background-color: $main_color;
            display: block;
            margin: 8px auto;
        }
    }
}

.offcanvas.offcanvas-hamburger {
    background: $main_color;
    height: 100%;
    color: #fff;
    .offcanvas-body {
        margin: 0 auto;
        padding: 0;
        width: 100%;
        max-width: 1800px;
    }
    .close-pane {
        text-align: end;
        padding-top: 100px;
    }
    .hamburger {
        .line {
            background-color: #fff;
            &:nth-child(1) {
                transform: translateY(13px) rotate(45deg);
            }
            &:nth-child(2) {
                opacity: 0;
            }
            &:nth-child(3) {
                transform: translateY(-13px) rotate(-45deg);
            }
        }
        
    }
}

/* `Responsive
-----------------------------------------------------------------------------*/

@media (max-width: 1920px) {
    .header-wrap {
        padding: calc(2rem + 1.625vw) 0;
        .h1-logo {
            height: 86px;
        }
    }
}

@media (max-width: 1599px) {
    .header-right {
        .mobile-only { display: block; }
        .nav { display: none; }
    }
}

@media (max-width: 991px) {
    .header-wrap {
        .h1-logo {
            height: 80px;
        }
    }
}

@media (max-width: 767px) {
    .header-wrap {
        .h1-logo {
            height: 72px;
        }
    }
}