<header class="header" id="pagetop">
    <div class="container-lg">
        <div class="header-wrap">
            <div class="header-function">
                <div class="header-right">
                    <div class="language">
                        <a href="#">English</a>
                    </div>
                </div>
            </div>
			<div class="brands">
                <a class="brands-link" href="index.html">
                    <div class="logo">
                        <h1 class="text-hide">國立臺灣大學 National Taiwan University</h1>
                        <img class="h1-logo" src="../assets/logo@2x.png">
                    </div>
                    <div class="sub">
                        <span>國立臺灣大學國際事務處</span>
                        <span class="en">Office of International Affairs, National Taiwan University</span>
                    </div>
                </a>
			</div>
        </div>
    </div>
	<div class="sys-subject">
		<div class="container-lg">
			<div class="inner">
	            <h2>2022 學生實習申請</h2>
				
				<!-- 開放後申請時間應該隱藏？ -->
				<div class="date-wrap">
				    <span class="label">開放申請時間</span>
					<span class="date">
					    2022-08-31 12:00 ~ 2022-10-31 00:00
					</span>
				</div>
			</div>
		</div>
	</div>
</header>