<!-- oia-yuntech: 首頁 -->

<div class="container">
	<div class="row">
	    <div class="col-8">
			<div class="announcement-wrap">
				<h4 class="block-title">公告</h4>
				<h4>愈覺得金錢的寶貴奏起悲壯的進行曲</h4>
				<p><%= lorem_sentences(3) %></p>
                <p><%= lorem_paragraphs(2) %></p>
                <p><%= lorem_sentences(5) %></p>
			</div>
		</div>
		<div class="col-4">
		    <div class="index-login">
				<a href="#" class="btn sso-login">SSO 登入 <i class="fa fa-arrow-circle-right"></i></a>
			</div>
			<div class="warn-wrap">
			    <h4 class="block-title">日程提醒</h4>
				<ol class="warn-list">
				    <li>
						<span class="label">申請開始</span>
						<span class="date">2020 01-01</span>
					</li>
					<li>
						<span class="label">申請結束</span>
						<span class="date">2020 06-30</span>
					</li>
					<li>
						<span class="label">錄取公告</span>
						<span class="date">2020 07-15</span>
					</li>
					<li>
						<span class="label">心得填寫</span>
						<span class="date">2020 07-22</span>
					</li>
				</ol>
			</div>
		</div>
	</div>
</div>

