
<!-- 所有頁面對應的 sidenav 標籤要加上 .active，如有第二層需再加上 .current -->
<div id="accordian_nav">
    <ul>
        <li>
            <h3>
                <a href="#">About NTU EMBA</a>
            </h3>
        </li>
        <li>
            <h3>
                <a href="#">EMBA Director</a>
            </h3>
        </li>
        <li>
            <h3>
                <a href="#">EMBA CEO</a>
            </h3>
        </li>
        <li>
            <h3>
                <a href="#">Program Details</a>
            </h3>
        </li>
        <li class="has-child active">
            <h3>
                <a href="#" class="current">Student Profile</a>
            </h3>
            <ul>
                <li><a href="#" class="current">Executive Master of Business Administration</a></li>
                <li><a href="#">NTU-Fudan EMBA overseas program</a></li>
            </ul>
        </li>
        <li>
            <h3>
                <a href="#">Brief History for EMBA</a>
            </h3>
        </li>
        <li class="has-child">
            <h3>
                <a href="#">Environment and Teaching Facilities</a>
            </h3>
            <ul>
                <li><a href="#">Facility</a></li>
                <li><a href="#">EMBA Service Center</a></li>
                <li><a href="#">Discussion Room</a></li>
                <li><a href="#">Case Classroom</a></li>
            </ul>
        </li>
    </ul>
</div>