<footer class="footer">
	<div class="container-lg">
		<div class="footer-link">
            <a href="#">College of Management</a>
            <a href="#">Business Administration</a>
            <a href="#">Accounting</a>
            <a href="#">Finance</a>
            <a href="#">International Business</a>
            <a href="#">Information Management</a>
            <a href="#">EMBA</a>
            <a href="#">GMBA</a>
            <a href="#">EiMBA</a>
            <a href="#">SEED</a>
            <a href="#">CARDO</a>
		</div>
		<div class="footer-inner">
			<div class="block-transition">
                <div class="ft-block parent-logo">
                    <span><img class="ntu" src="../assets/ntu@2x.png" /></span>
                    <span><img class="management" src="../assets/ntu-management@2x.png" /></span>
                    <span><img class="emba_ch" src="../assets/ntu-emba_ch@2x.png" /></span>
                </div>
                <div class="ft-block central-content">
                    <h5 class="content-title">National Taiwan University EMBA</h5>
                    <ul class="menu-item contact">
                        <li>
                            <i class="fas fa-map-marker-alt"></i>
                            No.1,Sec. 4, Roosevelt Rd., Taipei City 106, Taiwan(R.O.C)
                        </li>
                        <li>
                            <i class="fas fa-phone-alt"></i>
                            +886 3366-1010
                        </li>
                        <li>
                            <i class="fas fa-fax"></i>
                            +886 2363-6073
                        </li>
                        <li>
                            <i class="fas fa-envelope"></i>
                            <a href="mailto:ntuemba@ntu.edu.tw">ntuemba@ntu.edu.tw</a>
                        </li>
                    </ul>
                    <h5 class="content-title">Follow US</h5>
                    <ul class="menu-item social-media">
                        <li>
                            <a href="#" title="Facebook">
                                <img src="../assets/social/facebook.png" />
                            </a>
                        </li>
                        <li>
                            <a href="#" title="Line">
                                <img src="../assets/social/line.png" />
                            </a>
                        </li>
                        <li>
                            <a href="#" title="WeChat">
                                <img src="../assets/social/wechat.png" />
                            </a>
                        </li>
                        <li>
                            <a href="#" title="weibo">
                                <img src="../assets/social/sina-weibo.png" />
                            </a>
                        </li>
                        <li>
                            <a href="#" title="Linkedin">
                                <img src="../assets/social/linkedin.png" />
                            </a>
                        </li>
                    </ul>
                </div>
			</div>
            <div class="ft-block end-content">
                <a href="#" class="landing-link">Why The National Taiwan University EMBA</a>
                <address>© National Taiwan University All Rights Reserved</address>
                <div class="badges">
                    <span class="aapbs"><img src="../assets/aapbs@2x.png"></span>
                    <span class="aacsb"><img src="../assets/aacsb@2x.png"></span>
                </div>
            </div>
		</div>
	</div>
</footer>