<header class="header" id="pagetop">
    <div class="container-lg">
		<div class="header-wrap">
			<div class="brands">
                <a href="#" class="logo">
                    <h1 class="text-hide">National Taiwan University EMBA</h1>
                    <img class="h1-logo" src="../assets/h1-logo@2x.png" />
                </a>
			</div>
			<div class="header-right">
				<div class="header-link">
				    <span class="link-item"><a href="#">Management</a></span>
					<span class="link-item"><a href="#">NTU</a></span>
				</div>
                <form class="header-search" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn" type="submit"><i class="fas fa-search"></i></button>
                </form>
                <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-content">
                    <div class="hamburger-toggle">
                        <div class="nav-hamburger">
                            <span class="line"></span>
                            <span class="line"></span>
							<span class="line"></span>
                        </div>
                    </div>
                </button>
			</div>
		</div>
		<div class="nav-wrapper">
            <nav class="navbar navbar-expand-xl navbar-dark">
                <div class="container-fluid">
                    <div class="collapse navbar-collapse" id="navbar-content">
						<!-- 這邊資料同步於 .header-right -->
                        <div class="mobile-right">
                            <div class="header-link">
                                <span class="link-item"><a href="#">Management</a></span>
                                <span class="link-item"><a href="#">NTU</a></span>
                            </div>
                            <form class="header-search" role="search">
                                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                                <button class="btn" type="submit"><i class="fas fa-search"></i></button>
                            </form>
                        </div>
						
						<!-- 所有頁面在對應選單的標籤要加上 .active -->
                        <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle active" href="#" data-bs-toggle="dropdown" data-bs-auto-close="outside">About NTU EMBA</a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#">Gallery</a></li>
                                    <li><a class="dropdown-item" href="#">Blog</a></li>
                                    <li class="dropend">
                                        <a href="#" class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" data-bs-auto-close="outside">Submenu Right</a>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" href=""> Second level 1</a></li>
                                            <li class="dropend">
                                                <a href="#" class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown">Let's go deeper!</a>
                                                <ul class="dropdown-menu dropdown-submenu">
                                                    <li><a class="dropdown-item" href=""> Third level 1</a></li>
                                                </ul>
                                            </li>
                                            <li><a class="dropdown-item" href=""> Third level 5</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" data-bs-auto-close="outside">Faculty & Staff</a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#">Gallery</a></li>
                                    <li class="dropend">
                                        <a class="dropdown-item" href="#">Gallery</a>
                                    </li>
                                </ul>
                            </li>
							<li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" data-bs-auto-close="outside">Admissions</a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#">Gallery</a></li>
                                    <li class="dropend">
                                        <a class="dropdown-item" href="#">Gallery</a>
                                    </li>
                                </ul>
                            </li>
							<li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" data-bs-auto-close="outside">Campus Life</a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#">Gallery</a></li>
                                    <li class="dropend">
                                        <a class="dropdown-item" href="#">Gallery</a>
                                    </li>
                                </ul>
                            </li>
							<li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" data-bs-auto-close="outside">Alumni</a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#">Gallery</a></li>
                                    <li class="dropend">
                                        <a class="dropdown-item" href="#">Gallery</a>
                                    </li>
                                </ul>
                            </li>
							<li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" data-bs-auto-close="outside">Great news</a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#">Gallery</a></li>
                                    <li class="dropend">
                                        <a class="dropdown-item" href="#">Gallery</a>
                                    </li>
                                </ul>
                            </li>
							<li class="nav-item">
								<a class="nav-link" href="#">EMBA Calendar</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
		</div>
    </div>
</header>