			<div class="main-bottom">
			    <div class="page-share">
					<span>Share</span>
                    <ul class="menu-item social-media">
						<li>
                            <a href="#" title="Email">
                                <img src="../assets/social/email.png">
                            </a>
                        </li>
                        <li>
                            <a href="#" title="Facebook">
                                <img src="../assets/social/facebook.png">
                            </a>
                        </li>
                        <li>
                            <a href="#" title="Line">
                                <img src="../assets/social/line.png">
                            </a>
                        </li>
                        <li>
                            <a href="#" title="WeChat">
                                <img src="../assets/social/wechat.png">
                            </a>
                        </li>
                        <li>
                            <a href="#" title="weibo">
                                <img src="../assets/social/sina-weibo.png">
                            </a>
                        </li>
                        <li>
                            <a href="#" title="Linkedin">
                                <img src="../assets/social/linkedin.png">
                            </a>
                        </li>
                    </ul>
				</div>
			</div>