<footer class="footer">
	<div class="container-lg">
		<div class="footer-inner">
			<div class="block-transition">
                <div class="central-content">
                    <h5>國立臺灣大學 國際事務處
                        <small>Office of International Affairs, National Taiwan University</small>
                    </h5>
                    <ul class="menu-item contact">
                        <!--li>
                            <i class="fas fa-map-marker-alt"></i>
                            No.221, Sec. 2, Zhishan Rd., Shilin Dist., Taipei City 11143, Taiwan (R.O.C.)
                        </li-->
                        <li>
                            <i class="fas fa-phone-alt"></i>
                            +886-2-3366-2007
                        </li>
                        <li>
                            <i class="fas fa-envelope"></i>
                            <a href="mailto:intadmission@ntu.edu.tw">intadmission@ntu.edu.tw</a>
                        </li>
                    </ul>
                </div>
			</div>
            <div class="ft-block end-content">
                Browser support
                <a href="https://www.google.com/intl/zh-TW/chrome/">Google Chrome</a>,
                <a href="https://www.mozilla.org/zh-TW/firefox/new/">Firefox</a> or
                <a href="https://www.microsoft.com/zh-tw/edge">IE11+</a>
            </div>
		</div>
	</div>
</footer>