<header class="header" id="pagetop">
    <div class="container-lg">
		<div class="header-wrap">
            <div class="header-function">
				<div class="header-right"></div>
            </div>
			<div class="brands">
                <div class="brands-wrap">
                    <div class="logo">
                        <h1 class="text-hide">國立臺灣大學</h1>
                        <img class="h1-logo" src="../assets/logo@2x.png">
                    </div>
                    <div class="sub">
                        <span>國立臺灣大學</span>
                        <span class="en">National Taiwan University</span>
                    </div>
                </div>
			</div>
		</div>
    </div>
	<div class="sys-subject">
		<div class="container-lg">
	        <h3>112學年度(2023/2024)僑生個人申請審查費繳費系統</h3>
            <h4>2023/2024 Application Fee Payment System for Overseas Chinese Students</h4>
		</div>
	</div>
</header>