/* `Footer
-----------------------------------------------------------------------------*/

footer.footer {
	margin-top: 60px;
	color: #aaa;
	a {
		color: #aaa;
		&:hover { color: $main_color; }
	}
	.language {
		display: inline-block;
		a {
			display: inline-block;
			margin-left: 5px;
			padding-bottom: 3px;
		}
		.selected {
			color: #000;
			border-bottom: 3px $main_color solid;
		}
	}
}
