/* `Header
-----------------------------------------------------------------------------*/

header.header {
	margin-bottom: 40px;
	.brands {
		a {
			display: inline-block;
			color: #333;
		}
	}
	.h1-logo {
		display: inline-block;
		width: 268px;
		height: 60px;
		vertical-align: middle;
	}
}

.header-wrap {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100px;
}

