/* `Header
-----------------------------------------------------------------------------*/

header.header {
	.brands {
		a {
			display: inline-block;
			color: #333;
		}
	}
	.h1-logo {
		display: inline-block;
		width: 268px;
		height: 60px;
		vertical-align: middle;
	}
}

.header-wrap {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100px;
}

.action-right {
	.btn-ii, .account { display: inline-block; }
	.btn-ii {
		border-radius: 1rem;
	}
}

.system-name {
	background: $main_color;
	border-top: 1px dashed #e5e5e5;
	border-bottom: 1px dashed #e5e5e5;
	margin-bottom: 2rem;
	padding: 1rem 0;
	color: #fff;
	.sys-title {
		margin-bottom: 0;
		font-weight: 300;
	}
}