<footer class="footer">
	<div class="container-lg">
		<div class="footer-inner">
			<div class="block-transition">
                <h5>國立臺北商業大學研究發展部</h5>
                <ul class="menu-item">
                    <li>10051 台北市中正區濟南路一段 321 號 (捷運板南線善導寺站下車)</li>
                    <li>No.321, Sec. 1, Jinan Rd., Zhongzheng  District, Taipei City 10051, Taiwan (R.O.C.)</li>
                </ul>
			</div>
            <div class="end-content">
                <a href="https://rd.ntub.edu.tw/p/412-1005-244.php?Lang=zh-tw"><img class="ft-logo" src="../assets/iacd-h.svg"></a>
            </div>
		</div>
	</div>
</footer>