<header class="header" id="pagetop">
    <div class="container-lg">
		<div class="header-wrap">
			<div class="brands">
                
                <!-- 網站首頁 -->
                <a class="brands-link" href="index.html" title="回首頁">
                    <div class="logo">
                        <h1 class="text-hide">國立臺北商業大學產學媒合平台</h1>
                        <img class="h1-logo" src="../assets/logo-ntub.svg">
                    </div>
                    <div class="sub">
                        國立臺北商業大學<span>產學媒合平台</span>
                    </div>
                </a>
			</div>
		</div>
        
        <nav class="navbar navbar-expand-lg">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
                            平台簡介
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">人員執掌</a></li>
                            <li><a class="dropdown-item" href="#">位置圖</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        
                        <!-- 當前頁面從屬的第一層要給 .current -->
                        <a class="nav-link current dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
                            訊息公告
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">最新消息</a></li>
                            <li><a class="dropdown-item" href="#">教師可申請計畫</a></li>
                            <li><a class="dropdown-item" href="#">企業可申請計畫</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
                            找專家/找合作
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">教師介紹</a></li>
                            <li><a class="dropdown-item" href="#">填報產學需求</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">產業趨勢</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">研發成果</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
                            服務項目
                        </a>
                        <ul class="dropdown-menu">
                            <li class="dropend">
                                <a class="dropdown-item dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" data-bs-auto-close="true" aria-expanded="false">
                                    產學合作計畫
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#">企業與民間機構</a></li>
                                    <li><a class="dropdown-item" href="#">國科會補助產學合作計畫</a></li>
                                    <li><a class="dropdown-item" href="#">政府其他計畫</a></li>
                                    <li><a class="dropdown-item" href="#">Q&A</a></li>
                                </ul>
                            </li>
                            <li class="dropend">
                                <a class="dropdown-item dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" data-bs-auto-close="true" aria-expanded="false">
                                    專利服務
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#">專利審查</a></li>
                                    <li><a class="dropdown-item" href="#">專利維護</a></li>
                                    <li><a class="dropdown-item" href="#">專利負擔</a></li>
                                    <li><a class="dropdown-item" href="#">專利檢索</a></li>
                                    <li><a class="dropdown-item" href="#">專利學習</a></li>
                                </ul>
                            </li>
                            <li><a class="dropdown-item" href="#">技轉服務</a></li>
                            <li><a class="dropdown-item" href="#">著作授權</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <a class="nav-fillin nav-link" href="#">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="none" viewBox="0 0 16 16">
                  <path fill="#fff" d="M10.5 1.5.293 11.707a1 1 0 0 0-.293.707V16a1 1 0 0 0 1 1h3.586a1 1 0 0 0 .707-.293L15.5 6.5a3.536 3.536 0 0 0-5-5ZM9 15.25a.75.75 0 0 0 0 1.5h7a.75.75 0 0 0 0-1.5H9Z"/>
                </svg>
                填報產學需求
            </a>
        </nav>
        
        <nav class="nav-breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="#"><img src="../assets/house.svg"></a>
                </li>
                <li class="breadcrumb-item"><a href="#">服務項目</a></li>
                <li class="breadcrumb-item"><a href="#">產學合作計畫</a></li>
                <li class="breadcrumb-item active">國科會補助產學合作計畫</li>
            </ol>
        </nav>

    </div>
</header>