<header class="header header-member" id="pagetop">
    <div class="container-lg">
		<div class="header-wrap">
			<div class="brands">
                
                <!-- 系統首頁 -->
                <a class="brands-link" href="index.html" title="回系統首頁">
                    <div class="logo">
                        <h1 class="text-hide">國立臺北商業大學 研究發展處 產學合作組</h1>
                        <img class="h1-logo" src="../assets/logo-iacd.svg">
                        <img class="h1-logo h1-hide" src="../assets/iacd-h.svg">
                    </div>
                    <div class="sub">
                        國立臺北商業大學<span class="pices">研究發展處<span class="pices-inner">產學合作組</span></span>
                    </div>
                </a>
			</div>
            
            <!-- 登入、註冊、忘記密碼頁面沒有 account，登入後所有頁面都要有 -->
            <div class="account">
                <div class="dropdown">
                    <button class="dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Hi, <%= zh_lorem_name %>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">基本資料修改</a></li>
                        <li><a class="dropdown-item" href="#">密碼修改</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">登出</a></li>
                    </ul>
                </div>
            </div>
            
		</div>
    </div>
    
	<div class="sys-subject">
		<div class="container-lg">
	        <h3><span>產學需求填報系統</span></h3>
		</div>
	</div>
    
</header>