<!-- admin-page: 前端 - 調查延續作業說明 -->

<div class="d-flex justify-content-center align-items-center"  style="min-height: 100vh;">
    <div class="card px-4 py-5" style="height: 1000px; width: 960px;">
        <div class="text-center">
            <h4>調查延續作業說明</h4>
            <p>針對各項技術文件的商化意願調查提供您相關作業說明資訊</p>
        </div>
        <div>
            <div class="mt-4 mb-5">
                <h5 class="fw-bold">帶領學生投入創業</h5>
                <div class="border p-4 pb-2">
                    <p>自定義文字 連結 tiny editor</p>
                </div>
            </div>
            <div class="mt-4 mb-5">
                <h5 class="fw-bold">邀請創業專家共作投入創業</h5>
                <div class="border p-4 pb-2">
                    <p><%= lorem_paragraph %></p>
                </div>
            </div>
            <div class="mt-4 mb-5">
                <h5 class="fw-bold">需與廠商互動</h5>
                <div class="border p-4 pb-2">
                    <p><%= lorem_paragraph %></p>
                </div>
            </div>
            <div class="mt-4 mb-5">
                <h5 class="fw-bold">技術移轉他人</h5>
                <div class="border p-4 pb-2">
                    <p><%= lorem_paragraph %></p>
                </div>
            </div>
        </div>
    </div>
</div>

<% content_for :js do %>

<% end %>