<!-- admin-page: 前端 - 無帳號者 -->

<div class="page non-member">
    <div class="card p-5 text-center">
        <h4>徵案意願調查表</h4>
        <p>感謝您的報名，因為系統無您的帳號資訊若您有意願參加徵案可聯繫..</p>
        <div class="mt-4" style="font-size: 1.5rem; color: #777;"><i class="fas fa-life-ring"></i></div>
    </div>
</div>

<% content_for :js do %>

<% end %>