<!-- tdrf: 忘記密碼 -->

<div class="container-lg">
	<div class="login-container">
		<h3 class="page-title">忘記密碼</h3>
	    <div class="login-wrapper">
            <form>
                <div class="mb-4">
                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="請輸入email" />
                </div>

				<div class="recaptcha" id="g-recaptcha1"></div>

                <div class="my-4">
					<button class="btn btn-primary" type="submit">寄送重設密碼信件</button>
				</div>
				
                <p>
                    <a class="forget-password" href="">返回登入</a>
                </p>
            </form>
		</div>
	</div>
</div>


<% content_for :js do %>

    <!-- Google reCAPTCHA -->
    <script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback"></script>
    <script>
        // setTimout is not necessary
        setTimeout(function() {

          $('.recaptcha').each(function() {
            grecaptcha.render(this.id, {
              'sitekey': '6LdVkwkUAAAAACeeETRX--v9Js0vWyjQOTIZxxeB',
              "theme":"light"
            });
          });

        }, 2000);
	</script>
<% end %>