<!-- tdrf: Email 驗證成功 -->

<div class="container-lg">
	<div class="login-container">
	    <div class="login-wrapper verify">
			<p class="h4 mb-5">您的 Email 已驗證成功</p>
            <div class="success-checkmark">
                <div class="check-icon">
                    <span class="icon-line line-tip"></span>
                    <span class="icon-line line-long"></span>
                    <div class="icon-circle"></div>
                    <div class="icon-fix"></div>
                </div>
            </div>
            <div class="d-grid mt-3">
                <a href="#" class="btn btn-lg btn-tdrf">請重新登入</a>
            </div>
		</div>
	</div>
</div>


<% content_for :js do %>

<% end %>