<footer class="footer">
	<div class="container-fluid">
		<div class="footer-inner">
			<div class="block-start">
                <h2 class="naer">
                    <a href="https://www.naer.edu.tw/" title="國家教育研究院">
                        <img src="../assets/logo-naer.svg" alt="國家教育研究院">
                    </a>
                </h2>
                <ul class="menu-item contact">
                    <li>
                        <span class="label">地址</span>
                        <span class="output">10644 台北市大安區和平東路一段179號</span>
                    </li>
                    <li>
                        <span class="label">電話</span>
                        <span class="output">(02)7740-7890</span>
                    </li>
                    <li>
                        <span class="label">傳真</span>
                        <span class="output">(02)7740-7899</span>
                    </li>
                </ul>
			</div>
            <div class="block-end">
                <a href="#" target="_blank" title="無障礙網站（另開新視窗）">
                    <img src="../assets/accessibility.png" alt="通過AA無障礙網頁2.0檢測標章">
                </a>
            </div>
		</div>
        <div class="footer-bottom">
            <ul class="menu-item footer-link">
                <li><a href="#X" id="X" name="X" title="下方功能區塊" accesskey="X">:::</a></li>
                <li><a href="#" title="個資法及隱私權聲明">個資法及隱私權聲明</a></li>
                <li><a href="#" title="資訊安全政策">資訊安全政策</a></li>
                <li><a href="#" title="政府網站資料開放宣告">政府網站資料開放宣告</a></li>
                <li><a href="#" title="政府公開資訊">政府公開資訊</a></li>
                <li><a href="#" title="聯絡信箱">聯絡信箱</a></li>
            </ul>
            <address>© 國家教育研究院</address>
        </div>
	</div>
</footer>                                