<div class="offcanvas offcanvas-top offcanvas-hamburger" tabindex="-1" id="offcanvasHamburger" aria-labelledby="offcanvasHamburgerLabel">
    <div class="offcanvas-body">
        <div class="close-pane">
            <button type="button" class="hamburger-toggler" data-bs-dismiss="offcanvas" aria-label="Close">
                <span class="hamburger">
                    <span class="line"></span>
                    <span class="line"></span>
                    <span class="line"></span>
                </span>
            </button>
        </div>
        ...
    </div>
</div>