<header class="header" id="pagetop">
    <a href="#maincontent" id="gotocenter" title="移到主要內容" class="sr-only sr-only-focusable">跳到主要內容</a>
    <div class="container-fluid">
		<div class="header-wrap">
			<!--div class="brands"> only for prototype, 請勿複製
                <a class="brands-link" href="index_loader.html" title="E Talk">
                    <h1 class="text-hide">E Talk</h1>
                    <img class="h1-logo" src="../assets/logo.svg">
                </a>
			</div-->
            <div class="header-right">
                <ul class="nav" aria-label="主要功能選單">
                    <li class="nav-item brands">
                        <a class="brands-link" href="#" title="E Talk 首頁">
                            <h1 class="text-hide">E Talk</h1>
                            <img class="h1-logo" src="../assets/logo.svg" />
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#U" id="AU" name="U" title="主要功能選單" accesskey="U">:::</a>
                    </li>
                    <li class="nav-item">
                        <a href="#discussion" title="{連結名稱}" class="current"><span class="link-span">論教育</span></a>
                    </li>
                    <li class="nav-item">
                        <a href="#interview" title="{連結名稱}"><span class="link-span">訪人物</span></a>
                    </li>
                    <li class="nav-item">
                        <a href="#trends" title="{連結名稱}"><span class="link-span">創趨勢</span></a>
                    </li>
                    <li class="nav-item">
                        <a href="#events" title="{連結名稱}"><span class="link-span">尋活動</span></a>
                    </li>
                    <li class="nav-item">
                        <a href="#achievement" title="{連結名稱}"><span class="link-span">展成果</span></a>
                    </li>
                    <li class="nav-item">
                        <a href="#comments" title="{連結名稱}"><span class="link-span">暢留言</span></a>
                    </li>
                    <li class="nav-item">
                        <a href="#exhibition" title="{連結名稱}"><span class="link-span">特展</span></a>
                    </li>
                    <li class="nav-item">
                        <a href="#about" title="{連結名稱}"><span class="link-span">關於本站</span></a>
                    </li>
                    <li class="nav-item"><span class="separate"></span></li>
                    <li class="nav-item">
                        <a href="#sitemap" title="網站地圖">
                            <span class="link-span"><i class="fas fa-sitemap"></i></span>
                        </a>
                    </li>
                    <li class="search-item">
                        <a href="#" title="搜尋" data-bs-toggle="offcanvas" data-bs-target="#offcanvasSearch" aria-controls="offcanvasSearch">
                            <span class="link-span"><i class="fas fa-search"></i></span>
                        </a>
                    </li>
                </ul>
                <div class="mobile-only">
                    <input type="checkbox" id="main-navigation-toggle" class="btn btn--close" title="Toggle main navigation" />
                    <label for="main-navigation-toggle">
                        <span></span>
                    </label>
                    <%= render :partial => "/partials/nav-main" %>
                </div>
            </div>
		</div>
    </div>
</header>




