<div class="table-wrapper">     
    <div class="table-responsive">     
        <table class="table list-table align-middle">
            <thead>
                <tr>
                    <th>活動名稱</th>
                    <th>日期</th>
                    <th>主辦單位</th>
                </tr>
            </thead>
            <tbody>
                <% (1..4).map do |i| %>
                <tr>
                    <td>
                        <a href="#" title="{連結名稱}"><%= zh_lorem_sentence %></a>
                    </td>
                    <td class="text-nowrap">2023-09-30</td>
                    <td class="text-nowrap">國家教育研究院</td>
                </tr>
                <tr>
                    <td>
                        <a href="#" title="{連結名稱}"><%= zh_lorem_sentence %></a>
                    </td>
                    <td class="text-nowrap">2023-09-30</td>
                    <td class="text-nowrap">教育部</td>
                </tr>
                <% end %>
            </tbody>
        </table>
    </div>

    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-end">
            <li class="page-item"><a class="page-link" href="#">上一頁</a></li>
            <li class="page-item active"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">下一頁</a></li>
        </ul>
    </nav>
</div>          