<footer class="footer">
	<div class="footer-nav">
		<div class="container">
            <div class="reveal-inner">
                <div class="reveal-col">
                    <h4>最新訊息</h4>
                    <ul class="navbar-reveal menu-item">
                        <li class="reveal-item">
                            <a href="#" title="公告">公告</a>
                        </li>
                        <li class="reveal-item">
                            <a href="#" title="活動訊息">活動訊息</a>
                        </li>
                        <li class="reveal-item">
                            <a href="#" title="徵才訊息">徵才訊息</a>
                        </li>
                        <li class="reveal-item">
                            <a href="#" title="特教訊息">特教訊息</a>
                        </li>
                    </ul>
                </div>
                <div class="reveal-col">
                    <h4>資教簡介</h4>
                    <ul class="navbar-reveal menu-item">
                        <li class="reveal-item">
                            <a href="#" title="簡介">簡介</a>
                        </li>
                        <li class="reveal-item">
                            <a href="#" title="地理位置">地理位置</a>
                        </li>
                    </ul>
                </div>
                <div class="reveal-col">
                    <h4>資教成員</h4>
                    <ul class="navbar-reveal menu-item">
                        <li class="reveal-item">
                            <a href="#" title="輔導老師">輔導老師</a>
                        </li>
                        <li class="reveal-item">
                            <a href="#" title="本校身心障礙學生人數分配說明">本校身心障礙學生人數分配說明</a>
                        </li>
                    </ul>
                </div>
                <div class="reveal-col">
                    <h4>服務項目</h4>
                    <ul class="navbar-reveal menu-item">
                        <li class="reveal-item">
                            <a href="#" title="服務流程圖">服務流程圖</a>
                        </li>
                        <li class="reveal-item">
                            <a href="#" title="生活輔導">生活輔導</a>
                        </li>
                        <li class="reveal-item">
                            <a href="#" title="學業輔導">學業輔導</a>
                        </li>
                        <li class="reveal-item">
                            <a href="#" title="生涯輔導">生涯輔導</a>
                        </li>
                        <li class="reveal-item">
                            <a href="#" title="心理輔導">心理輔導</a>
                        </li>
                        <li class="reveal-item">
                            <a href="#" title="輔具申請">輔具申請</a>
                        </li>
                    </ul>
                </div>
                <div class="reveal-col">
                    <h4>下載專區</h4>
                    <ul class="navbar-reveal menu-item">
                        <li class="reveal-item">
                            <a href="#" title="表單下載">表單下載</a>
                        </li>
                        <li class="reveal-item">
                            <a href="#" title="講座資料">講座資料</a>
                        </li>
                    </ul>
                </div>
                <div class="reveal-col">
                    <h4>特教網路資源</h4>
                    <ul class="navbar-reveal menu-item">
                        <li class="reveal-item">
                            <a href="#" title="校內資源">校內資源</a>
                        </li>
                        <li class="reveal-item">
                            <a href="#" title="校外資源">校外資源</a>
                        </li>
                        <li class="reveal-item">
                            <a href="#" title="相關組織">相關組織</a>
                        </li>
                        <li class="reveal-item">
                            <a href="#" title="學術網路">學術網路</a>
                        </li>
                        <li class="reveal-item">
                            <a href="#" title="其他資源">其他資源</a>
                        </li>
                    </ul>
                </div>
                <div class="reveal-col">
                    <h4>活動花絮</h4>
                    <ul class="navbar-reveal menu-item">
                        <li class="reveal-item">
                            <a href="#" title="活動相簿">活動相簿</a>
                        </li>
                    </ul>
                </div>
                <div class="reveal-col">
                    <h4>行事曆</h4>
                    <ul class="navbar-reveal menu-item">
                        <li class="reveal-item">
                            <a href="#" title="行事曆">行事曆</a>
                        </li>
                    </ul>
                </div>
            </div>
		</div>
	</div>
    <div class="footer-inner">
		<div class="container">
            <div class="general-content">
                <a accesskey="Z" href="#" class="sr-only" title="下方選單連結">:::</a>
                <ul class="menu-item general-links">
                    <li><a href="#" title="隱私權與資訊安全政策">隱私權與資訊安全政策</a></li>
                    <li><a href="#" title="行政人員後台登入">登入</a></li>
                </ul>
				<a class="acc" href="#" title="無障礙網站"><img alt="通過A檢測等級無障礙網頁檢測" src="../assets/acc@2x.png" /></a>
            </div>
            <ul class="menu-item contact">
                <li><i class="fa fa-map-marker" title="地址"></i> 10617臺北市羅斯福路四段一號</li>
                <li><i class="fa fa-envelope" title="信箱"></i> <a href="mailto:admdorm@ntu.edu.tw ">admdorm@ntu.edu.tw </a></li>
                <li><i class="fa fa-phone" title="聯絡電話"></i> 02-3366-3236~9</li>
                <li><i class="fa fa-fax" title="傳真"></i> 02-2368-1595</li>
            </ul>
		</div>
    </div>
    <div class="footer-bt">
		<div class="container">
            <div class="footer-data">
                <p>瀏覽器建議 Chrome、Mozilla Firefox、IE11+</p>
                <p>最後更新日期 2019-05-01 13:39</p>
                <p>瀏覽人數 5678126</p>
            </div>
            <address>本網站著作權屬於國立臺灣大學 學生事務處</address>
		</div>
    </div>
</footer>
