<!-- template: 出國: 學生 - 出國資料下載 -->

<div class="workspace" canvas="container">
    <div class="pages general-pages">
        
        <%= render :partial => "/partials/header-outgoing" %>
        
        <div class="content">
            <div class="container-lg">
                <div class="page-content has-sticky">
                    
                    <%= render :partial => "/partials/outgoing-result-sidebar" %>
                    
                    <main class="main">
                        <div class="page-title">
                            <h3>下載資料</h3>
                        </div>
                        
                        <a href="#" class="btn btn-outline-primary btn-rounded me-2">出國交換公文下載</a>
                        <a href="#" class="btn btn-outline-success btn-rounded">已簽署文件</a>
                    </main>
                </div>
            </div>
        </div>
        <a id="backtop"></a>
    </div>
    <%= render :partial => "/partials/footer" %>
</div>

<% content_for :js do %>

<% end %>

