<!-- template: 出國: 學生 - 申請資訊單筆明細 -->

<div class="workspace" canvas="container">
    <div class="pages general-pages">
        
        <header class="header header-outgoing" id="pagetop">
            <div class="container-lg">
                <div class="header-wrap">
                    <div class="header-function">
                        <div class="header-right">
                            <div class="language">
                                <a href="#">EN</a>
                            </div>
                        </div>
                    </div>
                    <div class="brands">
                        <div class="brands-link">
                            <div class="logo">
                                <h1 class="text-hide">College of Management ,National Taiwan University</h1>
                                <img class="h1-logo" src="../../assets/logo@2x.png">
                            </div>
                            <div class="sub">
                                <span>國立臺灣大學 管理學院</span>
                                <span>出國交換甄選系統</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sys-subject">
                <div class="container-lg">
                    <h4>113 學年度</h4>
                </div>
            </div>
        </header>
        
        <div class="content">
            <div class="container-lg">
                <div class="page-title">
                    <h3>學校申請資格一覽表</h3>
                </div>
                
                <div class="nation-university">
                    <div class="nation">西班牙</div>
                    <div class="university">ESADE 商學院</div>
                </div>
                
                <div class="mb-5">
                    <label class="form-label">申請資格</label>
                    <div>
                        <ol>
                            <li>本校大二以上/碩一以上學生。</li>
                            <li>GPA 達3.00分以上。</li>
                            <li>TOEFL iBT 79 (不接受 Home Edition) 或 IELTS 6.0。</li>
                        </ol>
                    </div>
                </div>
                
                <div class="row mb-5">
                    <div class="col-3">
                        <div class="info-block">
                            <label class="form-label">名額</label>
                            <div>學期數 6</div>
                        </div>
                    </div>
                    
                    <div class="col-3">
                        <div class="info-block">
                            <label class="form-label">學校網址</label>
                            <div><a href="#" class="btn btn-outline-primary btn-rounded">開啟連結</a></div>
                        </div>
                    </div>
                    
                    <div class="col-3">
                        <div class="info-block">
                            <label class="form-label">申請額外繳交文件</label>
                            <div>要求文件名稱</div>
                        </div>
                    </div>
                    
                    <div class="col-3">
                        <div class="info-block">
                            <label class="form-label">fact sheet</label>
                            <div>
                                <a href="#" class="btn btn-outline-primary btn-rounded"><i class="fas fa-cloud-download-alt"></i></a>
                                <a href="#" class="btn btn-outline-primary btn-rounded"><i class="fas fa-cloud-download-alt"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="mb-4">
                    <label class="form-label">其他資訊</label>
                    <div>
                        <ol>
                            <li>Undergraduate</li>
                            <li>Graduate</li>
                            <li>Business School Faculty level courses</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <a id="backtop"></a>
    </div>
    <%= render :partial => "/partials/footer" %>
</div>

<% content_for :js do %>

<% end %>
