<!-- template: 出國: 學生 - 在學資料 -->

<div class="workspace" canvas="container">
    <div class="pages general-pages">
        
        <%= render :partial => "/partials/header-outgoing" %>
        
        <div class="content">
            <div class="container-lg">
                <div class="page-content has-sticky">
                    
                    <%= render :partial => "/partials/outgoing-app-sidebar" %>
                    
                    <main class="main">

                        <!-- 規劃中很多欄位給了必填，包含 readonly，因為不知道正確性所以都沒給 *，需要的話請參考第一個 -->
                        
                        <!-- 只有第一筆 section 需要給 .mt-0 -->
                        <section class="section mt-0">
                            <div class="section-title">
                                <h4>在學資料</h4>
                            </div>
                            
                            <div class="row">
                                <div class="col-2">
                                    <div class="form-group">
                                        <label class="form-label">學號</label>
                                        <input class="form-control" type="text" value="B10412033" disabled readonly>
                                    </div>
                                </div>
                                <div class="col-2">
                                    <div class="form-group">
                                        <label class="form-label">學位</label>
                                        <input class="form-control" type="text" value="學士" disabled readonly>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <label class="form-label">系所</label>
                                        <input class="form-control" type="text" value="衛生福利部暨國立臺灣大學傳染病防治研究及教育中心" disabled readonly>
                                    </div>
                                </div>
                                <div class="col-2">
                                    <div class="form-group">
                                        <label class="form-label">年級</label>
                                        <input class="form-control" type="text" value="大一" disabled readonly>
                                    </div>
                                </div>
                                
                                <div class="col-6">
                                    <div class="form-group">
                                        <label for="outgoingInput11" class="form-label">大學就讀學校</label>
                                        <input id="outgoingInput11" class="form-control" type="text">
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <label for="outgoingInput12" class="form-label">大學就讀學校系所</label>
                                        <input id="outgoingInput12" class="form-control" type="text">
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        <label class="form-label">是否可接受交換校只提供學士課程?</label>
                                        <div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="outgoingRadio01" id="outgoingR01" value="option1">
                                                <label class="form-check-label" for="outgoingR01">否</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="outgoingRadio01" id="outgoingR02" value="option2">
                                                <label class="form-check-label" for="outgoingR02">是</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-4">
                                    <div class="form-group">
                                        <label class="form-label">是否為轉系生</label>
                                        <div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="outgoingRadio02" id="transmigrationNo" value="option1" checked>
                                                <label class="form-check-label" for="transmigrationNo">否</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="outgoingRadio02" id="transmigrationYes" value="option2">
                                                <label class="form-check-label" for="transmigrationYes">是</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-8">
                                    <div class="transmigration-wrapper">
                                        <div class="row">
                                            <div class="col-6">
                                                <div class="form-group">
                                                    <label for="outgoingInput13" class="form-label">轉系學期</label>
                                                    <input id="outgoingInput13" class="form-control" type="text">
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <div class="form-group">
                                                    <label for="outgoingInput14" class="form-label">轉系前原系所</label>
                                                    <input id="outgoingInput14" class="form-control" type="text">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="col-4">
                                    <div class="form-group">
                                        <label class="form-label">是否為延修生</label>
                                        <div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="outgoingRadio03" id="extensionNo" value="option1" checked>
                                                <label class="form-check-label" for="extensionNo">否</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="outgoingRadio03" id="extensionYes" value="option2">
                                                <label class="form-check-label" for="extensionYes">是</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-8">
                                    <div class="extension-wrapper">
                                        <div class="row">
                                            <div class="col-6">
                                                <div class="form-group">
                                                    <label for="outgoingInput15" class="form-label">雙修系所</label>
                                                    <input id="outgoingInput15" class="form-control" type="text">
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <div class="form-group">
                                                    <label for="outgoingInput16" class="form-label">輔系系所</label>
                                                    <input id="outgoingInput16" class="form-control" type="text">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="col-4">
                                    <div class="form-group">
                                        <label class="form-label">已修過幾門管院英語授課課程</label>
                                        <select class="form-select" aria-label="Default select example">
                                            <option selected>Open this select menu</option>
                                            <option value="1">One</option>
                                            <option value="2">Two</option>
                                            <option value="3">Three</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <label class="form-label">參加過幾次管院 Buddy program</label>
                                        <select class="form-select" aria-label="Default select example">
                                            <option selected>Open this select menu</option>
                                            <option value="1">One</option>
                                            <option value="2">Two</option>
                                            <option value="3">Three</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <label class="form-label">全職工作經驗幾年</label>
                                        <select class="form-select" aria-label="Default select example">
                                            <option selected>Open this select menu</option>
                                            <option value="1">One</option>
                                            <option value="2">Two</option>
                                            <option value="3">Three</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </section>
                        
                        <section class="section">
                            <div class="section-title">
                                <h4>獎學金</h4>
                            </div>
                            <div class="form-group">
                                <label class="form-label">是否有意願申請出國獎學金</label>
                                <div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="outgoingRadio04" id="outgoingR07" value="option1">
                                        <label class="form-check-label" for="outgoingR07">是</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="outgoingRadio04" id="outgoingR08" value="option2">
                                        <label class="form-check-label" for="outgoingR08">否</label>
                                    </div>
                                </div>
                            </div>
                        </section>
                        
                        <div class="form-action">
                            <span class="backhome"><button type="button" class="btn btn-lg btn-light"><i class="fas fa-chevron-left"></i> 上一步</button></span>
                            <button type="submit" class="btn btn-lg btn-primary">儲存</button>
                            <span class="has-history"><button type="button" class="btn btn-lg btn-light">下一步 <i class="fas fa-chevron-right"></i></button></span>
                        </div>
                    </main>
                </div>
            </div>
        </div>
        <a id="backtop"></a>
    </div>
    <%= render :partial => "/partials/footer" %>
</div>

<% content_for :js do %>

<script>
document.addEventListener('DOMContentLoaded', function() {
    const transmigrationYes = document.getElementById('transmigrationYes');
    const transmigrationNo = document.getElementById('transmigrationNo');
    const transmigrationWrapper = document.querySelector('.transmigration-wrapper');

    // 函數用於切換 .transmigration-wrapper 的顯示/隱藏
    function toggleTransmigrationWrapper() {
        if (transmigrationYes.checked) {
            transmigrationWrapper.style.display = 'block';
        } else if (transmigrationNo.checked) {
            transmigrationWrapper.style.display = 'none';
        }
    }

    // 監聽 radio 按鈕的變化事件
    transmigrationYes.addEventListener('change', toggleTransmigrationWrapper);
    transmigrationNo.addEventListener('change', toggleTransmigrationWrapper);

    // 初始化設定
    toggleTransmigrationWrapper();
});
</script>

<script>
document.addEventListener('DOMContentLoaded', function() {
    const extensionYes = document.getElementById('extensionYes');
    const extensionNo = document.getElementById('extensionNo');
    const extensionWrapper = document.querySelector('.extension-wrapper');

    // 函數用於切換 .extension-wrapper 的顯示/隱藏
    function toggleExtensionWrapper() {
        if (extensionYes.checked) {
            extensionWrapper.style.display = 'block';
        } else if (extensionNo.checked) {
            extensionWrapper.style.display = 'none';
        }
    }

    // 監聽 radio 按鈕的變化事件
    extensionYes.addEventListener('change', toggleExtensionWrapper);
    extensionNo.addEventListener('change', toggleExtensionWrapper);

    // 初始化設定
    toggleExtensionWrapper();
});

</script>

<% end %>
