<!-- template: 出國: 學生 - 登入入口 -->

<div class="workspace" canvas="container">
    <div class="pages general-pages">
        
        <header class="header header-outgoing" id="pagetop">
            <div class="container-lg">
                <div class="header-wrap">
                    <div class="header-function">
                        <div class="header-right">
                            <div class="language">
                                <a href="#">EN</a>
                            </div>
                        </div>
                    </div>
                    <div class="brands">
                        <div class="brands-link">
                            <div class="logo">
                                <h1 class="text-hide">College of Management ,National Taiwan University</h1>
                                <img class="h1-logo" src="../../assets/logo@2x.svg">
                            </div>
                            <div class="sub">
                                <span>國立臺灣大學 管理學院</span>
                                <span>出國交換甄選系統</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sys-subject">
                <div class="container-lg">
                    <h4>113 學年度</h4>
                </div>
            </div>
        </header>
        
        <div class="content">
            <div class="container-lg">
                <div class="page-title">
                    <h3>公告資訊</h3>
                </div>
                <div class="row mb-5">
                    <div class="col-9">
                        <div class="index-announcement">
                            <p>歡迎來到臺灣大學管理學院院級交換學生線上申請系統。</p>
                            <p>開始申請前，請詳閱「管理學院院級交換生計畫甄選簡章」，並務必提供正確且完整資料，資料不全者，概不受理。</p>
                            <p><span class="required">*</span>請使用您的NTU Email與密碼登入。</p>
                        </div>
                    </div>
                    <div class="col-3">
                        <a href="#" class="btn btn-lg btn-block btn-primary">臺大生SSO登入</a>
                    </div>
                </div>
            </div>
        </div>
        <a id="backtop"></a>
    </div>
    <%= render :partial => "/partials/footer" %>
</div>

<% content_for :js do %>

<% end %>
