/* `Header
-----------------------------------------------------------------------------*/

header.header {
	margin-bottom: 40px;
	.header-wrap {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		background: #fff;
		border-radius: 0 0 5px 5px;
		box-shadow: 0 1px 1px rgba(#000, .05);
		padding: 0 20px;
		height: 100px;
	}
	.brands {
		a {
			display: inline-block;
			color: #333;
		}
		small {
			margin-left: 10px;
			font-size: 24px;
		}
	}
	.h1-logo {
		display: inline-block;
		width: 116px;
		height: 60px;
		vertical-align: middle;
	}
	.name {
		margin-right: 18px;
		position: relative;
		&:after {
			content: "";
			background-color: #e5e5e5;
			width: 1px;
			position: absolute;
			right: -12px;
			top: 0;
			bottom: 0;
		}
	}
	.account {
		button {
			background-color: transparent;
			border: none;
			padding: 0;
			color: $main_color;
			cursor: pointer;
			&:hover { color: #333; }
		}
	}
}