<footer class="footer">
	<div class="container-lg">
		<div class="footer-inner">
			<div class="block-transition">
                The information on this website is for reference only, sourced from OPENFDA and AI models, and does not constitute professional medical advice. Please consult a professional for specific guidance and verify the accuracy of the information yourself.
			</div>
            <div class="end-content">
                <a href="https://www.stpi.narl.org.tw/index"><img class="w-100" src="../assets/logo-stpi.png"></a>
            </div>
		</div>
	</div>
</footer>