<header class="header" id="pagetop">
    <div class="container-lg">
		<div class="header-wrap">
            <div class="header-function">
                <span class="toggler-wrap">
                    <button class="navbar-toggler button-widget" type="button" id="navbarSideCollapse" aria-label="Toggle navigation">
                        <span class="hamburger">
                            <span class="line"></span>
                            <span class="line"></span>
                            <span class="line"></span>
                        </span>
                    </button>
                </span>
				<div class="header-right">
                    <div class="language">
                        <a href="#"><i class="fas fa-globe"></i> 中文</a>
                    </div>
                    <div class="account">
                        <div class="dropdown">
                            <button class="dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Hi Mr.Suchart
                            </button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Information</a></li>
                                <li><a class="dropdown-item" href="#">Change password</a></li>
                                <li><a class="dropdown-item" href="#">Log out</a></li>
                            </ul>
                        </div>
                    </div>
				</div>
            </div>
			<div class="brands">
                
                <!-- 點 Logo 回首頁 -->
                <a class="brands-link" href="index.html" title="Home">
                    <div class="logo">
                        <h1 class="text-hide">MEDPILOT</h1>
                        <img class="h1-logo" src="../assets/logo.svg">
                    </div>
                    <div class="sub">MEDPILOT</div>
                </a>
			</div>
		</div>
    </div>
	<nav class="main-nav">
		<div class="container-lg">
            <div class="inner">
                <ul class="menu-item">
                    
                    <!-- 當前頁面須給 classname .current -->
                    <!-- 不用放 Homepage -->
                    <li><a href="#">Data Search</a></li>
                    <li><a href="#" class="current">Smart Search</a></li>
                    <li><a href="#">Favorites</a></li>
                </ul>
                <div class="quota">genAi：<span>20 times left</span></div>
            </div>
		</div>
	</nav>
</header>