<header class="header" id="pagetop">
    <div class="container-lg">
        <div class="header-wrap">
            <div class="header-function">
                <span class="toggler-wrap"></span>
                <div class="header-right">
                    <div class="language">
                        <a href="#"><i class="fas fa-globe"></i> 中文</a>
                    </div>
                </div>
            </div>
            <div class="brands">
                <a class="brands-link" href="index.html" title="Home">
                    <div class="logo">
                        <h1 class="text-hide">MEDPILOT</h1>
                        <img class="h1-logo" src="../assets/logo.svg">
                    </div>
                    <div class="sub">MEDPILOT</div>
                </a>
            </div>
        </div>
    </div>
</header>