<!-- template: 補件作業 -->

<div class="container-lg">
    <div class="page-content d-block">

        <main class="main">
            <div class="page-title">
                <h3>補件作業</h3>
            </div>
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <section class="section">
                        <h5 class="mb-4 fw-bold">申請序號：YYYY0001</h5>
                        <div class="section-title">
                            <h4>財產編號申請文件</h4>
                        </div>
                        <p>發票或估價單等單據</p>
                        <div class="upload-wrapper fluid-wrapper">
                            <!-- 檔案上傳後多出 .file-pill，當再次上傳時則覆蓋上一筆，點選檔名另開視窗觀看文件 -->
                            <div class="upload-item">
                                <div class="additional-info">
                                    <p><%= zh_lorem_paragraph %></p>
                                </div>
                                <h4>單據</h4>
                                <p>稅後單價超過6000元才需申請編號及標籤</p>
                                <div class="form-group">
                                      <input class="form-control" type="file" id="photoFile">
                                </div>
                                <div class="upload-ft">
                                    <div class="ft-left">
                                        <span>
                                            <button type="button" class="btn btn-secondary">Upload</button>
                                        </span>
                                        <span>
                                            <div class="file-pill">
                                                <!-- 避免檔名過長有限制最大寬度 140px，超出時會字元會省略 -->
                                                <a href="#" target="_blank" class="filename">file_name.jpg</a>
                                                <button type="button" class="btn btn-sm btn-rounded btn-dark" title="移除">
                                                    <i class="fas fa-times"></i>
                                                </button>
                                            </div>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
            
            <div class="form-action">
                <span class="backhome">
                    <a href="#" class="btn btn-lg btn-link"><i class="fas fa-long-arrow-alt-left"></i> 回首頁</a>
                </span>
                <button type="button" class="btn btn-lg btn-primary">送出</button>
            </div>
            
        </main>

    </div>
</div>



<% content_for :js do %>
    
<% end %>

