<!-- template: 步驟二：預覽後送出申請表 -->

<div class="container-lg">
    <div class="page-content d-block">
        
        <div class="step-bar">
            <ul>
                <li class="done">
                    <span>
                        <span class="step">1</span>
                        <h4>填寫申請表</h4>
                    </span>
                </li>
                <li class="active">
                    <span>
                        <span class="step">2</span>
                        <h4>預覽後送出申請表</h4>
                    </span>
                </li>
            </ul>
        </div>
        
        <main class="main one-application">
            
            <section class="section">
                <div class="section-title">
                    <h4>申請表</h4>
                </div>
                
                <!-- 以下範例 -->
                
                <!-- 步驟一表單中的文字說明在預覽或編輯、檢視時都應完整保留 -->
                
                <div class="form-group">
                    <label for="" class="form-label">使用單位</label>
                    <input type="text" class="form-control" value="人事室" disabled readonly>
                    <p class="form-text mb-0">如有多個單位請洽承辦人，電話：65076、65077</p>
                </div>

                <!-- 沒有財物名稱狀態 -->
                <div class="applicant-wrap">
                    <label class="form-label">使用人</label>
                    <div class="applicant-inner">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" value="使用人" disabled readonly>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" value="小標籤" disabled readonly>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <input type="text" class="form-control" value="SONY KM-50X80K" disabled readonly>
                                <p class="form-text mb-0 text-danger">請輸入財物中文名稱及廠牌型號，如有以下情形本欄為必填：1. 使用人二人以上，請分列各財物使用人。2. 若選擇小標籤時請填寫該財物名稱。</p>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="exampleInputtext1" class="form-label">聯絡人</label>
                            <input id="exampleInputtext1" type="text" class="form-control" value="SONY KM-50X80K" disabled readonly>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="exampleInputtext2" class="form-label">聯絡電話</label>
                            <input id="exampleInputtext2" type="text" class="form-control" value="0123456789" disabled readonly>
                            <div class="form-text">辦公室電話</div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="exampleInputEmail1" class="form-label">Email</label>
                            <input id="exampleInputEmail1" type="email" class="form-control" value="username@email.com" disabled readonly>
                        </div>
                    </div>
                </div>
                
            </section>
            
            <section class="section">
                <div class="section-title">
                    <h4>取件方式</h4>
                </div>
                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1" checked/>
                        <label class="form-check-label" for="inlineRadio1">自行取件</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2" disabled/>
                        <label class="form-check-label" for="inlineRadio2">公文交換</label>
                    </div>
                </div>
            </section>
            
            <section class="section">
                <div class="section-title">
                    <h4>上傳財物照片</h4>
                </div>
                <p>至少上傳一張清楚外觀照片或型錄照片</p>
                <p>財物取得來源屬上述(3)本校營繕工程採購之財產、(4)受贈財物、撥入財物，得不上傳財物照片，惟申請核銷前須先e-mail【貼有標籤之財物照片】予保管組承辦人，確認該財物是否已貼標籤。</p>
                <ul class="list-group">
                    <li class="list-group-item"><a href="#"><%= lorem_words(2) %>.pdf</a></li>
                    <li class="list-group-item"><a href="#"><%= lorem_words(3) %>.jpg</a></li>
                    <li class="list-group-item"><a href="#"><%= lorem_word %>.pdf</a></li>
                </ul>
            </section>
            
            <div class="form-action">
                <span class="backhome">
                    <a href="#" class="btn btn-lg btn-link"><i class="fas fa-long-arrow-alt-left"></i> 回首頁</a>
                </span>
                <button type="button" class="btn btn-lg btn-secondary">回申請表</button>
                <button type="button" class="btn btn-lg btn-primary">送出</button>
            </div>
            
        </main>

    </div>
</div>



<% content_for :js do %>
    
<% end %>

