<!-- template: 步驟一：填寫申請表 -->

<div class="container-lg">
    <div class="page-content d-block">
        
        <div class="step-bar">
            <ul>
                <li class="active">
                    <span>
                        <span class="step">1</span>
                        <h4>填寫申請表</h4>
                    </span>
                </li>
                <li class="">
                    <span>
                        <span class="step">2</span>
                        <h4>預覽後送出申請表</h4>
                    </span>
                </li>
            </ul>
        </div>
        
        <main class="main one-application">
            
            <section class="section">
                <div class="section-title">
                    <h4>申請表</h4>
                </div>
                
                <!-- 以下範例 -->
                
                <div class="form-group">
                    <label for="" class="form-label">使用單位</label>
                    <div>
                        <select class="selectpicker form-control" data-live-search="true">
                            <option selected>請輸入單位代碼或名稱關鍵字搜尋</option>
                            <option data-tokens="ketchup mustard">Hot Dog, Fries and a Soda</option>
                            <option data-tokens="mustard">Burger, Shake and a Smile</option>
                            <option data-tokens="frosting">Sugar, Spice and all things nice</option>
                        </select>
                    </div>
                    <p class="form-text mb-0">如有多個單位請洽承辦人，電話：65076、65077</p>
                </div>

                <!-- 沒有財物名稱狀態 -->
                <div class="applicant-wrap">
                    <label class="form-label">使用人</label>
                    <div class="applicant-inner">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="請輸入使用人姓名">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <select class="form-select" aria-label="Default select example">
                                        <option selected>請選擇標籤大小</option>
                                        <option value="1">One</option>
                                        <option value="2">Two</option>
                                        <option value="3">Three</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <p class="add-control">
                        <a href="#" class="add-applicant">
                            <span class="plus-circle"><i class="fas fa-plus"></i></span>
                            <span class="text">新增一列使用人</span>
                        </a>
                    </p>
                </div>

                <!-- 有財物名稱狀態 -->
                <div class="applicant-wrap">
                    <label class="form-label">使用人</label>
                    <div class="applicant-inner">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="請輸入使用人姓名">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <select class="form-select" aria-label="Default select example">
                                        <option selected>請選擇標籤大小</option>
                                        <option value="1">One</option>
                                        <option value="2">Two</option>
                                        <option value="3">Three</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <input type="text" class="form-control" placeholder="財物名稱">
                                <p class="form-text mb-0 text-danger">請輸入財物中文名稱及廠牌型號，如有以下情形本欄為必填：1. 使用人二人以上，請分列各財物使用人。2. 若選擇小標籤時請填寫該財物名稱。</p>
                            </div>
                        </div>
                    </div>
                    <p class="add-control">
                        <a href="#" class="add-applicant">
                            <span class="plus-circle"><i class="fas fa-plus"></i></span>
                            <span class="text">新增一列使用人</span>
                        </a>
                    </p>
                </div>
                
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="exampleInputtext1" class="form-label">聯絡人</label>
                            <input type="text" class="form-control" id="exampleInputtext1" />
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="exampleInputtext2" class="form-label">聯絡電話</label>
                            <input type="text" class="form-control" id="exampleInputtext2" />
                            <div class="form-text">辦公室電話</div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="exampleInputEmail1" class="form-label">Email</label>
                            <input type="email" class="form-control" id="exampleInputEmail1" />
                        </div>
                    </div>
                </div>
                
            </section>
            
            <section class="section">
                <div class="section-title">
                    <h4>取件方式</h4>
                </div>
                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1" />
                        <label class="form-check-label" for="inlineRadio1">自行取件</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2" />
                        <label class="form-check-label" for="inlineRadio2">公文交換</label>
                    </div>
                </div>
            </section>
            
            <section class="section">
                <div class="section-title">
                    <h4>財產編號申請文件</h4>
                </div>
                <p>發票或估價單等單據</p>
            </section>
            
            <div class="form-action">
                <span class="backhome">
                    <a href="#" class="btn btn-lg btn-link"><i class="fas fa-long-arrow-alt-left"></i> 回首頁</a>
                </span>
                <button type="button" class="btn btn-lg btn-secondary">暫存</button>
                <button type="button" class="btn btn-lg btn-primary">預覽後送出</button>
            </div>
            
        </main>

    </div>
</div>



<% content_for :js do %>
    
<% end %>

