<!-- tmu: login -->

<div class="container">
    <div class="banner">
		<div class="banner-text">Welcome to TMU Admission System</div>
        <img src="../assets/banner.jpg" />
    </div>
	<main class="main main-wrapper">
		<div class="key-info">
		    <h3 class="block-title">Key information</h3>
			<p>TMU offer a range of graduate programs. Once you are ready to apply, have a look at our <a href="#">2021/2022 Admissions Guidelines for Graduate International Students at the Taipei Medical University</a> to know more about how to prepare your application.</p>
			<h6 class="my-4">Application timeline</h6>
			<ul>
			    <li>Application duration: November 2021 - March 2022</li>
				<li>Application and scholarship results released: May 2022</li>
				<li>Accepting your offer: June 1 2022</li>
				<li>Submitting authenticated documents: June 30 2022</li>
				<li>Arriving at TMU: September 2022</li>
			</ul>
			<p>For further inquiry, you can reach us at the Office of Global Engagement via E-mail: <a href="mailto:admission@tmu.edu.tw">admission@tmu.edu.tw</a></p>
		</div>
		<div class="main-guide">
		    <div class="guide-block">
			    <h3 class="block-title">First-time users</h3>
				<p class="guide-info"><%= lorem_sentence %></p>
				<a href="#" class="btn btn-lg btn-unique"><%= lorem_words(3) %></a>
			</div>
			<div class="guide-block">
			    <h3 class="block-title">Returning users</h3>
				<p class="guide-info"><%= lorem_sentence %></p>
                <form>
                    <div class="form-group">
						<label for="loginFormEmail">Email</label>
                        <input type="email" id="loginFormEmail" class="form-control">
                    </div>
                    <div class="form-group">
						<label for="loginFormPassword">Password</label>
                        <input type="password" id="loginFormPassword" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="CAPTCHA">Verification code</label>
						<div>
                            <div class="d-inline-block">
                                <input type="text" id="CAPTCHA" class="form-control">
                            </div>
                            <span class="d-inline-block">
                                <img src="http://nfu-map.dev.com.tw/common/captcha.image">
                                <button class="btn btn-xs btn-secondary mx-0" type="button"><i class="fa fa-refresh"></i></button>
                            </span>
						</div>
                    </div>
                    <a href="#" class="btn btn-lg btn-unique">Login</a>
                    <p class="forget-password"><a href="password.html">Forget Password?</a></p>
                </form>
			</div>
		</div>
	</main>
</div>

<% content_for :js do %>

<% end %>