$height-footer: 210px;

.pages {
    min-height: 100%;
}
.content {
    padding-bottom: $height-footer + 40px;
}

/* `Footer
-----------------------------------------------------------------------------*/

footer.footer {
    border-top: 1px solid #e5e5e5;
	margin-top: -$height-footer;
    padding: 40px 0;
	color: #aaa;
	height: $height-footer;
	width: 100%;
    .container { position: relative; }
	a {
		color: #aaa;
		&:hover { color: $main_color; }
	}
    .browser-support { margin-top: 1rem; }
    address, .contact p { line-height: 1.5; }
    .contact {
        p { margin-bottom: 0; }
    }
}