/* `Header
-----------------------------------------------------------------------------*/

header.header {
    background: #fbfbfb;
	margin-bottom: 4rem;
	.brands {
		a {
            align-items: center;
			color: #000;
            &:hover { text-decoration: none; }
		}
        h1 { margin: 0; }
	}
	.h1-logo {
		display: inline-block;
		width: 268px;
		height: auto;
		vertical-align: middle;
	}
    .logo {
        border-right: 1px solid #ebebeb;
        margin-right: 20px;
        padding-right: 20px;
    }
    .sub {
        font-weight: 400;
		color: #666;
        line-height: 1.2;
        > span {
            display: block;
            font-size: 1.5rem;
        }
    }
    .login-link { font-weight: bold; }
}

.header-wrap {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100px;
}

/* `Responsive
-----------------------------------------------------------------------------*/

@media (max-width: 991px) {
	header.header {
		.logo {
			width: 75px;
			overflow: hidden;
		}
	}
}

@media (max-width: 575px) {
	header.header {
		.logo {
			width: 72px;
			border: none;
			margin-right: 0;
			padding-right: 0;
		}
		.sub {
			span {
				font-size: 1rem;
			}
			.en { font-size: 0.8rem; }
		}
	}
}

@media (max-width: 480px) {
	header.header {
		.nav-link {
			width: 135px;
			text-align: right;
			overflow : hidden;
			text-overflow : ellipsis;
			white-space : nowrap;
		}
		.sub {
			span {
				span { display: block; }
			}
			.en { display: none; }
		}
	}
}

@media (max-width: 375px) {
	header.header {
		margin-bottom: 2rem;
	}
}