/* `Footer
-----------------------------------------------------------------------------*/

footer.footer {
	background: $main_lighten_color;
	font-size: 0.9375rem;
	color: #708790;
	line-height: 1.8;
	position: relative;
	z-index: 0;
	&:after {
		content: "";
		background: url(../assets/bg-leaf-r.png) right top no-repeat;
		position: absolute;
		right: 0;
		left: 0;
		top: 0;
		bottom: 0;
		z-index: -1;
	}
	.general-links, .custom-icon {
		li { display: inline-block; }
	}
	.general-links {
		li {
			margin-right: 15px;
			position: relative;
			&:after {
				content: "";
				background: rgba(#fff, .25);
				border-radius: 50%;
				width: 5px;
				height: 5px;
				position: absolute;
				top: 12px;
				right: -12px;
			}
			&:last-child {
				margin-right: 0;
				&:after {
					content: none;
				}
			}
		}
	}
	
	.contact {
		i {
			margin-right: 10px;
			width: 15px;
			font-size: 0.875rem;
			color: #96a9b0;
			text-align: center;
		}
	}
	
	.footer-bt {
		background: $main_color;
		padding: 1.5rem 0;
		color: #fff;
        .container {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
        }
		p { margin-bottom: 0; }
	}
	a {
		color: #485155;
		&:hover {
			color: #202629;
		}
	}
	address { margin-bottom: 0; }
}

.footer-inner {
	margin-bottom: 2rem;
	padding-top: 2rem;
	.container {
        display: flex;
		flex-direction: row-reverse;
        justify-content: space-between;
	}
}
