/* `Header
-----------------------------------------------------------------------------*/

header.header {
	background: $main_color;
	margin-bottom: 3.75rem;
	.navbar {
		background: $main_lighten_color;
		box-shadow: 0 1px 1px rgba(#000, .05);
		padding: 0;
		.header-toolbar {
            padding-right: 7px;
            padding-left: 0;
			a {
                color: $main_darken_color !important;
				&:hover {
					background: none; 
					color: #000 !important;
				}
            }
			li:last-child a { padding-right: 6px; }
		}
	}
	.nav-item {
		padding: 0 0.5rem 0;
		font-size: 17px;
		position: relative;
		&:before {
			content: "";
			background: rgba(255,255,255, .2);
			width: 1px;
			height: 16px;
			position: absolute;
			left: 0;
			top: 13px;
		}
		&:first-child {
			&:before { content: none; }
		}
	}
	.nav-link {
		padding-top: 0;
		padding-bottom: 0;
		height: 40px;
		line-height: 40px;
		color: $nav-link !important;
		&:hover { color: $nav-link_hover !important; }
	}
	.navbar-toggler {
		margin: 6px 0;
	}
	.search-form {
        position: relative;
        &:after {
            content: "\f002";
            font-family: 'FontAwesome';
            position: absolute;
            right: 10px;
            top: 7px;
        }
	}
	.mobile-only { display: none; }
}

.navbar {
	.dropdown-menu {
		a {
			display: block;
			padding: 8px 10px;
			font-weight: 400;
			color: $nav-link;
			&:hover {
				background: $main_color;
				color: $nav-link_hover;
			}
		}
	}
}

.header-bar {
	border-bottom: 1px solid rgba(#000, .07);
	font-size: 13px;
	text-align: right;
	#AU {
		color: rgba(#000, .6);
		&:hover {
			color: rgba(#000, .8);
		}
	}
}

.header-toolbar {
	display: inline-block;
	li {
		display: inline-block;
		position: relative;
		&:after {
			content: "";
			background: rgba(#000, .1);
			width: 1px;
			height: 10px;
			position: absolute;
			right: -2px;
			top: 9px
		}
		&:last-child:after {
			content: none;
		}
	}
	a {
		display: inline-block;
		padding: 4px 6px;
		color: #fff;
		&:hover {
			background: rgba(#fff, .85);
			color: $main_darken_color;
		}
	}
}

.header-wrap {
	padding: .6rem 0;
	position: relative;
	z-index: 0;
	&:after {
		content: "";
		background: url(../assets/bg-leaf.png) -40px center no-repeat;
		position: absolute;
		right: 0;
		left: 0;
		top: 0;
		bottom: 0;
		z-index: -1;
	}
	.container {
        display: flex;
        justify-content: space-between;
        align-items: center;
	}
	.brands {
		a {
            align-items: center;
			color: #3b464a;
            &:hover { text-decoration: none; }
		}
        h1 { margin: 0; }
	}
    .logo {
        margin-right: 20px;
		img {
            display: inline-block;
            width: auto;
            vertical-align: middle;
		}
    }
	.h1-logo {
		height: 76px;
		margin-right: 12px;
	}
	.h1-calligraphy {
		height: 60px;
	}
    .sub {
        line-height: 1.2;
		color: #3b464a;
		font-size: 1.25rem;
		font-weight: bold;
        > span {
            display: block;
        }
		.cht { font-size: 1.625rem; }
		.en {
			font-size: 1.0625rem;
			font-weight: 400;
		}
    }
}


















