<header class="header">
	<!-- Sidebar navigation -->
	<div id="slide-out" class="side-nav fixed">
		<ul class="custom-scrollbar">
			<!-- Logo -->
			<li class="logo-sn waves-effect">
				<div>
					<a href="/" class="backend_logo">
						<img alt="" src="../assets/logo_w.png">
						<span>校務系統</span>
					</a>
				</div>
			</li>
			<!--/. Logo -->

			<!--Search Form-->
			<li>
				<form class="search-form" role="search">
					<div class="form-group md-form mt-0 pt-1 waves-light">
						<input type="text" class="form-control" placeholder="Search">
					</div>
				</form>
			</li>
			<!--/.Search Form-->
			<!-- Side navigation links -->
			<li>
				<ul class="collapsible collapsible-accordion">
					<li><a href="../dashborad/index.html" class="collapsible-header waves-effect"><i class="fa fa-tachometer"></i> 表單管理系統</a></li>
					
					<li><a href="../general/t-plan.html" class="collapsible-header waves-effect"><i class="fa fa-line-chart"></i> 待處理表單</a></li>
					
					<li><a href="../general/grade.html" class="collapsible-header waves-effect"><i class="fa fa-calculator"></i> 表單查詢作業</a></li>

					<li><a class="collapsible-header waves-effect arrow-r"><i class="fa fa-user"></i> 申請單<i class="fa fa-angle-down rotate-icon"></i></a>
						<div class="collapsible-body">
							<ul>
								<li><a href="../general/basic.html" class="collapsible-header waves-effect">教室設備報修申請</a></li>
								<li><a href="#" class="collapsible-header waves-effect">獎懲申請單 (同隊學生)</a></li>
								<li><a href="#" class="collapsible-header waves-effect">獎懲申請單 (不同隊)</a></li>
								<li><a href="#" class="collapsible-header waves-effect">獎懲申請單(職員)</a></li>
							</ul>
						</div>
					</li>
					
					<li><a class="collapsible-header waves-effect arrow-r"><i class="fa fa-user"></i> 表單流程設定<i class="fa fa-angle-down rotate-icon"></i></a>
						<div class="collapsible-body">
							<ul>
								<li><a href="../general/basic.html" class="collapsible-header waves-effect">表單建置及流程設定</a></li>
							</ul>
						</div>
					</li>

				</ul>
			</li>
			<!--/. Side navigation links -->
		</ul>
		<div class="sidenav-bg mask-strong"></div>
		<span class="tpe-color"></span>
	</div>
	<!--/. Sidebar navigation -->

	<!-- Navbar -->
	<nav class="navbar navbar-expand-lg scrolling-navbar double-nav">
		<!-- SideNav slide-out button -->
		<div class="float-left">
			<a href="#" data-activates="slide-out" class="button-collapse black-text"><i class="fa fa-bars"></i></a>
		</div>

		<!--Navbar links-->
		<ul class="nav navbar-nav nav-flex-icons ml-auto">

			<!-- Dropdown -->
			<li class="nav-item dropdown notifications-nav">
				<a class="nav-link dropdown-toggle waves-effect" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
					aria-expanded="false">
					<span class="badge red">3</span> <i class="fa fa-bell"></i>
					<span class="d-none d-md-inline-block">Notifications</span>
				</a>
				<div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
					<a class="dropdown-item" href="#">
						<i class="fa fa-money mr-2" aria-hidden="true"></i>
						<span>New order received</span>
						<span class="float-right"><i class="fa fa-clock-o" aria-hidden="true"></i> 13 min</span>
					</a>
					<a class="dropdown-item" href="#">
						<i class="fa fa-money mr-2" aria-hidden="true"></i>
						<span>New order received</span>
						<span class="float-right"><i class="fa fa-clock-o" aria-hidden="true"></i> 33 min</span>
					</a>
					<a class="dropdown-item" href="#">
						<i class="fa fa-line-chart mr-2" aria-hidden="true"></i>
						<span>Your campaign is about to end</span>
						<span class="float-right"><i class="fa fa-clock-o" aria-hidden="true"></i> 53 min</span>
					</a>
				</div>
			</li>
			<li class="nav-item">
				<a class="nav-link waves-effect"><i class="fa fa-envelope"></i> <span class="clearfix d-none d-sm-inline-block">Contact</span></a>
			</li>
			<li class="nav-item">
				<a class="nav-link waves-effect"><i class="fa fa-comments-o"></i> <span class="clearfix d-none d-sm-inline-block">Support</span></a>
			</li>
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle waves-effect" href="#" id="userDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					<i class="fa fa-user"></i> <span class="clearfix d-none d-sm-inline-block">Profile</span></a>
				</a>
				<div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
					<a class="dropdown-item" href="#">個人資料</a>
					<a class="dropdown-item" href="#">身分切換</a>
					<a class="dropdown-item" href="#">登出</a>
				</div>
			</li>

		</ul>
		<!--/Navbar links-->
	</nav>
	<!-- /.Navbar -->

	<!-- Fixed button -->
	<!--div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
		<a class="btn-floating btn-lg red">
			<i class="fa fa-pencil"></i>
		</a>

		<ul class="list-unstyled">
			<li><a class="btn-floating red"><i class="fa fa-star"></i></a></li>
			<li><a class="btn-floating yellow darken-1"><i class="fa fa-user"></i></a></li>
			<li><a class="btn-floating green"><i class="fa fa-envelope"></i></a></li>
			<li><a class="btn-floating blue"><i class="fa fa-shopping-cart"></i></a></li>
		</ul>
	</div-->
	<!-- Fixed button -->
</header>