<footer class="footer">
    <div class="footer-inner">
		<div class="container">
            <div class="contact-content">
                <ul class="menu-item contact">
                    <li><i class="fa fa-map-marker" title="地址"></i> 10617臺北市羅斯福路四段一號</li>
                    <li><i class="fa fa-envelope" title="信箱"></i> <a href="mailto:ntugocfs@ntu.edu.tw ">shmc@ntu.edu.tw  </a></li>
                    <li><i class="fa fa-phone" title="聯絡電話"></i> 02-33662155</li>
                    <li><i class="fa fa-fax" title="傳真"></i> 02-23634995</li>
                </ul>
           </div>
            <div class="general-content">
				<address>本網站著作權屬於國立臺灣大學 學生事務處</address>
                <ul class="menu-item general-links">
                    <li><a href="#" title="隱私權與資訊安全政策">隱私權與資訊安全政策</a></li>
                    <li>最後更新日期 2019-05-01 13:39</li>
					<li>瀏覽人數 5678126</li>
                </ul>
            </div>
		</div>
    </div>
</footer>
