<!-- admin-page: 選擇角色 S3 -->

<!-- 選擇角色可依此範本將 login 其他動態效果移植過來 -->

<div class="login-page role-page">
    <div class="role_switch-container">
        <h1 class="role_logo">
			<img class="logo__img" style="height: 56px; width: auto;" src="../assets/fake/login-logo@2x.png" alt="單位名稱" title="單位名稱" />
		</h1>
        <ul class="role-list menu-item">
            <li>
                <div class="role-inner">
                    <h5 class="item-title">資料登錄人員</h5>
                    <p class="item-description">案件資料登錄及管理但不可登錄登錄案件資訊(審議後) 資料</p>
                    <a href="#" class="btn btn-role purple-gradient btn-rounded">前往</a>
                </div>
            </li>
            <li>
                <div class="role-inner">
                    <h5 class="item-title">案件統計建檔人員</h5>
                    <p class="item-description">除登錄及維護案件各項資料外可進行登錄案件資訊(審議後) 資料</p>
                    <a href="#" class="btn btn-role purple-gradient btn-rounded">前往</a>
                </div>
            </li>
            <li>
                <div class="role-inner">
                    <h5 class="item-title">案件查閱人員</h5>
                    <p class="item-description">案件資料查詢</p>
                    <a href="#" class="btn btn-role purple-gradient btn-rounded">前往</a>
                </div>
            </li>
            <li>
                <div class="role-inner">
                    <h5 class="item-title">管理者</h5>
                    <p class="item-description">最大權限</p>
                    <a href="#" class="btn btn-role purple-gradient btn-rounded">前往</a>
                </div>
            </li>
			<li>
                <div class="role-inner">
                    <h5 class="item-title">案件查閱人員</h5>
                    <p class="item-description">案件資料查詢</p>
                    <a href="#" class="btn btn-role purple-gradient btn-rounded">前往</a>
                </div>
            </li>
            <li>
                <div class="role-inner">
                    <h5 class="item-title">管理者</h5>
                    <p class="item-description">最大權限</p>
                    <a href="#" class="btn btn-role purple-gradient btn-rounded">前往</a>
                </div>
            </li>
        </ul>
    </div>

	<div class="effect_light container-absolute">
        <div class='light x1'></div>
        <div class='light x2'></div>
        <div class='light x3'></div>
        <div class='light x4'></div>
        <div class='light x5'></div>
        <div class='light x6'></div>
        <div class='light x7'></div>
        <div class='light x8'></div>
        <div class='light x9'></div>
	</div>
</div>