<!-- OIA-ES: mobile - 登入  -->

<div class="container">
    <h4 class="hd-title">臺灣大學訪問生入學報到作業</h4>
    <form>
        <h5 class="text-center">登入</h5>
        <div>
            <div class="form-group">
                <label for="exampleInputEmail1">Email address<span class="form-request">*</span></label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Password<span class="form-request">*</span></label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
            </div>
            <div class="form-group">
                <label for="InputCAPTCHA">CAPTCHA<span class="form-request">*</span></label>
                <div class="form-inline">
                    <input type="password" class="form-control" id="InputCAPTCHA" placeholder="CAPTCHA">
                    <span class="captcha-img"><img id="u13318_img" class="img " src="https://d1icd6shlvmxi6.cloudfront.net/gsc/6MXA2D/8b/07/7f/8b077f5ab1464e9f8065c408d6f6f5b6/images/%E8%A8%BB%E5%86%8A%E5%B8%B3%E5%AF%86/u15656.png?token=221a3c7ec29e320eb9a0bbbbc3660f68f5d1cbcccef30fc6444996ca81d34275"></span>
                    <button type="button" class="btn btn-sm btn-light">重新產生</button>
                </div>
            </div>
        </div>
        <div class="text-center">
            <button type="button" class="btn btn-success">Login</button>
        </div>
    </form>
</div>