<!-- OIA-ES: mobile - 新生入學報到  -->

<div class="container">
    <h4 class="hd-title">臺灣大學訪問生入學報到作業</h4>
	<p class="student-info">
		<span class="student-id">106123456</span>
		<span class="name">王測試 Mr.Wang</span>
	</p>
    <ul class="nav nav-tabs" id="semesterTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="sone-tab" data-toggle="tab" href="#sone" role="tab" aria-controls="sone" aria-selected="true">第一學期</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="stwo-tab" data-toggle="tab" href="#stwo" role="tab" aria-controls="stwo" aria-selected="true">第二學期</a>
        </li>
    </ul>
    <div class="tab-content" id="semesterTabContent">
        <div class="tab-pane fade show active" id="sone" role="tabpanel" aria-labelledby="sone-tab">
            <h5 class="form-title">報到時間</h5>
            <p class="date-time"><i class="fa fa-clock-o"></i> 2020/12/12 10:00 ~ 12:00</p>
            <h5 class="form-title">報到項目</h5>
            <ul class="menu-item register-item">
                <li>
                    <div class="item-summary">
                        <h4>
                            <span class="num">1</span>
                            <span class="title">家長同意書</span>
                        </h4>
                    </div>
                    <div class="item-status">
                        <span class="badge badge-pill badge-light">未審查</span>
                    </div>
                </li>
                <li>
                    <div class="item-summary">
                        <h4>
                            <span class="num">2</span>
                            <span class="title">健康檢查表</span>
                        </h4>
                    </div>
                    <div class="item-status">
                        <span class="badge badge-pill badge-success">通過</span>
                    </div>
                </li>
                <li>
                    <div class="item-summary">
                        <h4>
                            <span class="num">3</span>
                            <span class="title">護照影本</span>
                        </h4>
                    </div>
                    <div class="item-status">
                        <span class="badge badge-pill badge-primary">通過需補件</span>
                        <span class="status-caption">請補上相關證明文件</span>
                    </div>
                </li>
                <li>
                    <div class="item-summary">
                        <h4>
                            <span class="num">4</span>
                            <span class="title">居留證影本</span>
                        </h4>
                    </div>
                    <div class="item-status">
                        <span class="badge badge-pill badge-danger">不通過</span>
                        <span class="status-caption">請攜帶正本由國際處影印</span>
                    </div>
                </li>
                <li>
                    <div class="item-summary">
                        <h4>
                            <span class="num">5</span>
                            <span class="title">住宿申請表</span>
                        </h4>
                    </div>
                    <div class="item-status">
                        <span class="badge badge-pill badge-success">通過</span>
                    </div>
                </li>
                <li>
                    <div class="item-summary">
                        <h4>
                            <span class="num">6</span>
                            <span class="title">財力證明文件</span>
                        </h4>
                    </div>
                    <div class="item-status">
                        <span class="badge badge-pill badge-success">通過</span>
                    </div>
                </li>
                <li>
                    <div class="item-summary">
                        <h4>
                            <span class="num">7</span>
                            <span class="title">身分證件</span>
                        </h4>
                    </div>
                    <div class="item-status">
                        <span class="badge badge-pill badge-success">通過</span>
                    </div>
                </li>
            </ul>
            <div class="text-center">
                <button type="button" class="btn btn-outline-primary">列印在學證明</button>
            </div>
        </div>
        <div class="tab-pane fade" id="stwo" role="tabpanel" aria-labelledby="stwo-tab">
            <h5 class="form-title">報到時間</h5>
            <p class="date-time"><i class="fa fa-clock-o"></i> 2021/05/12 10:00 ~ 12:00</p>
            <h5 class="form-title">報到項目</h5>
        </div>
    </div>
    <!-- 非一學年的 tab 相關架構拿掉就好
    <h5 class="form-title">報到時間</h5>
    <p class="date-time"><i class="fa fa-clock-o"></i> 2020/12/12 10:00 ~ 12:00</p>
    <h5 class="form-title">報到項目</h5>
    <ul class="menu-item register-item">
        .....
    </ul>
    -->
</div>