<!-- NFU-TE: 歷史評鑑資料  -->

<div class="container">
    <div class="row">
        <div class="col-12">
			<h3 class="page-title">103 學年度評鑑資料</h3>
			<h4 class="mb-5">評鑑結果 <span class="badge purple">通過</span></h4>
			<table class="table percentage-table">
			    <thead>
				    <tr>
					    <th>選擇類型</th>
						<th>一、教學</th>
						<th>二、研究</th>
						<th>三、服務/一般服務</th>
						<th>四、產學服務</th>
						<th>總分</th>
					</tr>
				</thead>
				<tbody>
				    <tr>
					    <td>
							<div class="form-check">
								<input type="radio" class="form-check-input" id="materialUnchecked1" name="materialExampleRadios">
								<label class="form-check-label" for="materialUnchecked1">教學型</label>
							</div>
						</td>
						<td>
							<div class="form-inline">
								<span class="percentage">60%*</span>
								<input type="text" id="" class="form-control form-control-sm">
								<span class="equal">=</span>
								<input type="text" id="" class="form-control form-control-sm">
							</div>
						</td>
						<td>
							<div class="form-inline">
								<span class="percentage">30%*</span>
								<input type="text" id="" class="form-control form-control-sm">
								<span class="equal">=</span>
								<input type="text" id="" class="form-control form-control-sm">
							</div>
						</td>
						<td>
							<div class="form-inline">
								<span class="percentage">10%*</span>
								<input type="text" id="" class="form-control form-control-sm">
								<span class="equal">=</span>
								<input type="text" id="" class="form-control form-control-sm">
							</div>
						</td>
						<td></td>
						<td></td>
					</tr>
					<tr>
					    <td>
							<div class="form-check">
								<input type="radio" class="form-check-input" id="materialUnchecked2" name="materialExampleRadios">
								<label class="form-check-label" for="materialUnchecked2">研究型</label>
							</div>
						</td>
						<td>
							<div class="form-inline">
								<span class="percentage">40%*</span>
								<input type="text" id="" class="form-control form-control-sm">
								<span class="equal">=</span>
								<input type="text" id="" class="form-control form-control-sm">
							</div>
						</td>
						<td>
							<div class="form-inline">
								<span class="percentage">50%*</span>
								<input type="text" id="" class="form-control form-control-sm">
								<span class="equal">=</span>
								<input type="text" id="" class="form-control form-control-sm">
							</div>
						</td>
						<td>
							<div class="form-inline">
								<span class="percentage">10%*</span>
								<input type="text" id="" class="form-control form-control-sm">
								<span class="equal">=</span>
								<input type="text" id="" class="form-control form-control-sm">
							</div>
						</td>
						<td></td>
						<td></td>
					</tr>
					<tr>
					    <td>
							<div class="form-check">
								<input type="radio" class="form-check-input" id="materialUnchecked3" name="materialExampleRadios">
								<label class="form-check-label" for="materialUnchecked3">一般服務型</label>
							</div>
						</td>
						<td>
							<div class="form-inline">
								<span class="percentage">40%*</span>
								<input type="text" id="" class="form-control form-control-sm">
								<span class="equal">=</span>
								<input type="text" id="" class="form-control form-control-sm">
							</div>
						</td>
						<td>
							<div class="form-inline">
								<span class="percentage">30%*</span>
								<input type="text" id="" class="form-control form-control-sm">
								<span class="equal">=</span>
								<input type="text" id="" class="form-control form-control-sm">
							</div>
						</td>
						<td>
							<div class="form-inline">
								<span class="percentage">30%*</span>
								<input type="text" id="" class="form-control form-control-sm">
								<span class="equal">=</span>
								<input type="text" id="" class="form-control form-control-sm">
							</div>
						</td>
						<td></td>
						<td></td>
					</tr>
					<tr>
					    <td>
							<div class="form-check">
								<input type="radio" class="form-check-input" id="materialUnchecked4" name="materialExampleRadios">
								<label class="form-check-label" for="materialUnchecked4">產學服務型</label>
							</div>
						</td>
						<td>
							<div class="form-inline">
								<span class="percentage">40%*</span>
								<input type="text" id="" class="form-control form-control-sm">
								<span class="equal">=</span>
								<input type="text" id="" class="form-control form-control-sm">
							</div>
						</td>
						<td>
							<div class="form-inline">
								<span class="percentage">20%*</span>
								<input type="text" id="" class="form-control form-control-sm">
								<span class="equal">=</span>
								<input type="text" id="" class="form-control form-control-sm">
							</div>
						</td>
						<td>
							<div class="form-inline">
								<span class="percentage">10%*</span>
								<input type="text" id="" class="form-control form-control-sm">
								<span class="equal">=</span>
								<input type="text" id="" class="form-control form-control-sm">
							</div>
						</td>
						<td>
							<div class="form-inline">
								<span class="percentage">30%*</span>
								<input type="text" id="" class="form-control form-control-sm">
								<span class="equal">=</span>
								<input type="text" id="" class="form-control form-control-sm">
							</div>
						</td>
						<td></td>
					</tr>
				</tbody>
			</table>
			<!--div class="mt-5">
				<button class="btn purple-gradient btn-rounded">列印評鑑證明</button>
				列印注意說明事項，只適合短文案，若需要可換行的長文案請選擇下方樣式。
			</div-->
			<div class="mt-5">
				<div class="mb-3">列印注意說明事項<%= zh_lorem_paragraphs(1) %></p>
				<button class="btn purple-gradient btn-rounded">列印評鑑證明</button>
			</div>
        </div>
    </div>
</div>
