<!-- NFU-TE: 首頁 (已送出)  -->

<div class="container">
    <div class="row">
        <div class="col-8">
            <h3 class="wrap-title">評鑑公告</h3>
			<div class="announcement-wrap"><p><%= zh_lorem_paragraphs(5) %></p></div>
            <h3 class="wrap-title">院系公告</h3>
			<div class="announcement-wrap"><p><%= zh_lorem_paragraphs(3) %></p></div>
        </div>
		<div class="col-4">
			<div class="card">
				<!--div class="view overlay">
					<img class="card-img-top" src="../assets/ill-evaluation_submit.jpg" alt="Card image cap">
				</div-->
				<div class="card-body">
					<h4 class="card-title">評鑑日程</h4>
					<hr>
					<h5 class="date">2018/09/01 至 2019/12/31 止</h5>
					<hr>
					<h5 class="date text-secondary">已於2018/12/01 15:00 完成送出</h5>
					<hr>
					<p><%= zh_lorem_paragraph %></p>
					<button type="button" class="btn aqua-gradient btn-rounded btn-lg btn-block">檢視評鑑資料</button>
				</div>
			</div>
		</div>
    </div>
</div>