<!-- NFU-TE: Step3 - 檢視合併檔  -->

<div class="container">
	<div class="step-bar">
		<ul>
			<li class="done">
				<span>
					<span class="step"><i class="fa fa-check" aria-hidden="true"></i></span>
					<h4>填寫各項評鑑項目</h4>
				</span>
			</li>
			<li class="done">
				<span>
					<span class="step"><i class="fa fa-check" aria-hidden="true"></i></span>
					<h4>產生合併檔案</h4>
				</span>
			</li>
			<li class="active">
				<span>
					<span class="step">3</span>
					<h4>預覽評鑑檔案</h4>
				</span>
			</li>
			<li>
				<span>
					<span class="step">4</span>
					<h4>完成並送出評鑑</h4>
				</span>
			</li>
		</ul>
	</div>
	<div>
		<div class="well p-4 mb-4">
			請檢視合併檔案是否正確
			<button class="btn btn-elegant btn-sm">下載合併檔</button>
		</div>
		<div class="action-ft">
			<button class="btn purple-gradient btn-rounded mr-4">確認送出</button>
			<a href="/" class="text-dark">取消！再修改評鑑項目</a>
		</div>
	</div>
	
</div>