<!-- NFU-TE: Step2 - 產生合併檔案  -->

<div class="container">
	<div class="step-bar">
		<ul>
			<li class="done">
				<span>
					<span class="step"><i class="fa fa-check" aria-hidden="true"></i></span>
					<h4>填寫各項評鑑項目</h4>
				</span>
			</li>
			<li class="active">
				<span>
					<span class="step">2</span>
					<h4>產生合併檔案</h4>
				</span>
			</li>
			<li>
				<span>
					<span class="step">3</span>
					<h4>預覽評鑑檔案</h4>
				</span>
			</li>
			<li>
				<span>
					<span class="step">4</span>
					<h4>完成並送出評鑑</h4>
				</span>
			</li>
		</ul>
	</div>
	<div>
		<p class="mb-5">由於合併各項作證資料須較長時間，系統完成合併後會發送電子郵件通知，或是上系統查詢，檔案合併完成會自動跳至下一步驟。</p>
		<div class="well p-4">
			您可隨時取消合併，回到上一步驟，檔案合併完成後仍可修改內容重新產生。
			<button class="btn btn-blue-grey btn-sm">取消</button>
		</div>
	</div>
	
</div>