<!-- NFU-TE: Step4 - 完成步驟  -->

<div class="container">
	<div class="step-bar">
		<ul>
			<li class="done">
				<span>
					<span class="step"><i class="fa fa-check" aria-hidden="true"></i></span>
					<h4>填寫各項評鑑項目</h4>
				</span>
			</li>
			<li class="done">
				<span>
					<span class="step"><i class="fa fa-check" aria-hidden="true"></i></span>
					<h4>產生合併檔案</h4>
				</span>
			</li>
			<li class="done">
				<span>
					<span class="step"><i class="fa fa-check" aria-hidden="true"></i></span>
					<h4>預覽評鑑檔案</h4>
				</span>
			</li>
			<li class="active">
				<span>
					<span class="step">4</span>
					<h4>完成並送出評鑑</h4>
				</span>
			</li>
		</ul>
	</div>
	<h5 class="pt-5 text-center">您已於 2018-12-09 14:30 送出評鑑資料</h5>
	
</div>