/* design by fire */

@import "base";
@import "widgets/jquery.scrollbar";

.container-lg { max-width: 1140px; }

.container-fixed { min-width: 768px !important; }

.main-container,
.dashboard-container {
	padding-bottom: 100px;
	position: relative;
}

.btn-ntu {
	background: $main_color;
	box-shadow: 0 3px 6px 0 rgba(0,0,0,0.18),0 2px 7px 0 rgba(0,0,0,0.15);
	color: #fff;
	&:hover {
		background: $main_color;
		box-shadow: 0 1px 3px 0 rgba(0,0,0,0.18),0 1px 4px 0 rgba(0,0,0,0.15);
		color: #fff;
	}
}

.btn-review {
	border-radius: .5rem;
	margin-left: .25rem;
    padding: 0.125rem 0.375rem;
    font-size: 0.9375rem;
	position: relative;
	top: -3px;
}

.page-link {
	color: $link;
	&:hover { color: $link_hover; }
}

.page-item.active .page-link {
	background: $main_color;
	border-color: $link;
}

.required {
	display: inline-block;
    padding: 0 .375rem;
    font-weight: bold;
    color: #ed3f3f;
	position: relative;
	top: .125rem;
}

.w-auto { width: auto; }

.form-action {
	border-top: 1px dashed #ddd;
	margin-top: 2rem;
	padding-top: 2rem;
	text-align: center;
	.btn-lg {
		margin: 0 .125rem;
		padding: 0.625rem 2rem;
	}
	.btn-primary {
		box-shadow: 0 3px 6px 0 rgba(0,0,0,0.18),0 2px 7px 0 rgba(0,0,0,0.15);
		&:hover {
			box-shadow: 0 1px 3px 0 rgba(0,0,0,0.18),0 1px 4px 0 rgba(0,0,0,0.15);
		}
	}
}

.awell {
	background: #fafafa;
	border-radius: .25rem;
	margin-bottom: 1rem;
	padding: 20px;
	&.blue {
		background: #f5fcff;
		border-radius: .25rem;
	}
	&.p3 { padding: 30px; }
}

/* `Universal
-----------------------------------------------------------------------------*/

.button-widget {
    display: none !important;
	border: none;
	padding: 0;
	position: absolute;
	left: 12px;
	top: 50%;
	margin-top: -16px;
}

.hamburger {
    .line {
        width: 32px;
        height: 3px;
        background-color: #fff;
        display: block;
        margin: 5px auto;
    }
}

#widget-overlay {
    position: fixed;
	display: none;
    top: 0;
    right: 0;
    left: 0;
    z-index: 997;
    height: 120vh;
    background-color: rgba(0, 0, 0, 0.5);
    will-change: opacity;
}

.title-wrapper {
	display: flex;
	align-items: center;
	background: url(../assets/bg-striped.png) left top repeat;
	margin-bottom: 60px;
	padding: 0 40px;
	height: 100px;
	position: relative;
	h2 {
		margin-bottom: 0;
		font-size: 28px;
		color: #333;
	}
	&:before, &:after {
		content: "";
		position: absolute;
	}
	&:after {
		background: $main_color;
		width: 2.5rem;
		left: -2.5rem;
		top: 0;
		bottom: 0;
	}
	&:before {
		box-shadow: 0 5px 10px rgba(#000, .8);
		width: 1.75rem;
		left: -2rem;
		top: 0.5rem;
		bottom: 0.375rem;
        transform-origin: bottom;
        transform: skewY(-15deg);
	}
}

.page-caption {
	margin-bottom: 2rem;
}

.section { margin-bottom: 4rem; }

.section-title {
	margin-bottom: 3rem;
	.title {
		display: inline-block;
		margin-bottom: 0;
        font-size: 22px;
		font-weight: bold;
		color: #111;
        position: relative;
        &:before, &:after {
            content: "";
			height: 1px;
            position: absolute;
			left: 0;
			bottom: -1rem;
        }
        &:after {
            background: $main_color;
            width: 1.375rem;
			height: 2px;
			bottom: -17px;
        }
        &:before {
            background: #ccc;
            width: 100%;
        }
	}
}

.sblock-title {
	margin: 1.25rem 0;
	.title {
	    font-size: 1.125rem;
		color: #8820d7;
	}
}

.form-precautions {
	background: #f6f9ff;
	margin-bottom: 2rem;
	padding: 20px;
	color: #4c5568;
	ul, ol { margin-bottom: 0; }
}

.language-container {
    .lang-item {
        border: 1px dashed #ddd;
        border-radius: .25rem;
		margin-bottom: .75rem;
        padding: 20px;
    }
	.lang-general {
		padding-bottom: .25rem;
	}
	.score-wrap {
		background: #fafafa;
		border-radius: .25rem;
		padding: 20px;
	}
	.inner-block {
		border-bottom: 1px dashed #ddd;
		margin-bottom: 1.5rem;
		padding-bottom: 1.5rem;
		&:last-child {
            border-bottom: 0;
            margin-bottom: 0;
            padding-bottom: 0;
		}
	}
}

.item-label {
	margin-bottom: .5rem;
	font-size: 1.125rem;
	font-weight: bold;
}

.main.application-output,
.modal-dialog {
	.form-check-input[disabled],
	.form-check-input[disabled] ~ .form-check-label {
		opacity: 1;
	}
	.form-group { margin-bottom: 1.5rem; }
	.form-label {
		color: #a4a8ad;
		font-weight: bold;
	}
}

.q-section {
	margin-top: 2.5rem;
	padding-top: 2.5rem;
	position: relative;
    &:before, &:after {
        content: "";
        height: 1px;
        position: absolute;
		left: 0;
        top: 0;
    }
    &:after {
        background: $main_color;
        width:2rem;
    }
    &:before {
        border-bottom: 1px dashed #e5e5e5;
        width: 100%;
    }
	.title { margin-bottom: 1rem; }
	.abroad-wrap {
		background: #fbfbfb;
		border-radius: .25rem;
		margin: .375rem 0 .625rem;
		padding: 20px;
	}
}

.dashboard-container {
	display: flex;
	justify-content: space-between;
	margin: 60px 0;
	.sidenav {
        background: #fff;
		border-right: 1px solid #e5e5e5;
        width: 240px;
        min-width: 240px;
        height: 100%;
        z-index: 2;
	}
	.main {
		flex: 1;
		margin-left: 40px;
	}
	.navigation {
		li {
			border-bottom: 1px solid #e5e5e5;
			li {
				border-bottom-style: dashed;
                a {
                    display: block;
                    padding: .5rem 1rem .5rem .5rem;
					color: #777;
					&:hover { color: $link; }
                }
				&:last-child {
					border-bottom: 1px solid #c9c9c9;
					margin-bottom: 1px;
				}
			}
			&:last-child {
				border-bottom: none;
				li:last-child { border-bottom: none; }
			}
			.menu-item { display: none; }
		}
		.badge {
			position: relative;
			top: -2px;
			&.bg-danger {
				background: $link !important;
			}
		}
		.nav-item {
			display: block;
			padding: .75rem 1rem .75rem .5rem;
			font-size: 1.125rem;
			color: #777;
			position: relative;
            &:after {
				content: "";
				background: $link;
                width: 6px;
                position: absolute;
				top: 0;
                right: -1px;
                bottom: 0;
				transition: all 0.2s ease-in-out;
				opacity: 0;
            }
			&:hover {
				color: $link;
				&:after { opacity: 1; }
			}
			&.current {
				background: #fff;
				font-weight: bold;
                color: $main_color;
                cursor: default;
				&:after {
                    background: $main_color;
					opacity: 1;
				}
				.badge.bg-danger { background: $main_color !important; }
				& + .menu-item { display: block; }
			}
		}
	}
}

.form-label {
	.format-info {
		display: inline-block;
		margin-left: .25rem;
		width: 24px;
		height: 24px;
		position: relative;
		&:after {
			content: "\f05a";
            font-family: "Font Awesome 5 free";
            font-weight: 900;
			font-size: 20px;
			position: absolute;
			left: 0;
			top: 2px;
		}
	}
}

.refund-group {
	.form-group {
		margin-top: 2.5rem;
	}
}

.score-list {
	margin-bottom: 2rem;
	li {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 1.5rem;
		position: relative;
		&:after {
			content: "";
			border-bottom: 1px dashed #ddd;
			height: 1px;
			width: 100%;
			position: absolute;
			left: 0;
			top: 50%;
			z-index: -1;
		}
	}
	.label {
		background: #fff;
		padding-right: 1rem;
		font-size: 20px;
		font-weight: bold;
	}
	.score {
		background: #fff;
		padding-left: 1rem;
		span {
            background: #f2faff;
            border-radius: .5rem;
            font-size: 20px;
            padding: .25rem 1rem;
		}
	}
}

.score-illustrate {
	border-top: 3px double #aaa;
	margin-top: 3rem;
	padding-top: 3rem;
	font-size: 17px;
	line-height: 1.8;
}

.volunteer-wrapper { margin-top: 3rem; }

.volunteer-item {
	display: flex;
	.order {
		padding-right: 2rem;
		.num {
			display: inline-block;
			border: 2px solid $main_color;
			border-radius: 50%;
			width: 38px;
			height: 38px;
			font-weight: bold;
			color: $main_color;
			line-height: 34px;
			text-align: center;
		}
	}
	.item-inner {
		display: flex;
		flex-wrap: wrap;
		flex: 1;
		border-bottom: 1px dashed #eee;
		margin-bottom: 2rem;
		padding-bottom: 2rem;
	}
	&:last-child {
		.item-inner {
            border-bottom: none;
            margin-bottom: 0;
            padding-bottom: 0;
		}
	}
	.column-country {
		padding-right: 1rem;
		width: 40%;
	}
	.column-university {
		width: 60%;
	}
	.column-semester {
		margin-top: 1rem;
		width: 50%;
		.column-wrap {
			display: inline-block;
			padding-right: .75rem;
			width: 49%;
			&:last-child { padding-right: 0; }
		}
	}
	&.confirm-item {
		align-items: center;
        border-bottom: 1px dashed #eee;
        margin-bottom: 2rem;
        padding-bottom: 2rem;
		&:last-child {
            border-bottom: none;
            margin-bottom: 0;
            padding-bottom: 0;
		}
		.item-inner {
			justify-content: space-between;
            border-bottom: none;
            margin-bottom: 0;
            padding-bottom: 0;
		}
		.order-university,
		.order-semester {
			span { display: inline-block; }
			span + span {
				margin-left: .75rem;
				padding-left: .75rem;
				position: relative;
				&:after {
					content: "";
					background: #ddd;
					border-radius: 50%;
					margin: -3px 0 0 -3px;
					width: 6px;
					height: 6px;
					position: absolute;
					left: 0;
					top: 50%;
				}
			}
		}
	}
}

.admission-well {
	.item {
		margin-bottom: 3rem;
		.label {
			display: block;
			margin-bottom: .5rem;
			font-weight: bold;
			color: #999;
		}
		.h5 {
			color: #8820d7;
		}
	}
}




.success-wrapper {
    background: #f9f9f9 url(../assets/bg-striped2.png) left top repeat;
    padding: 6rem 3rem;
    text-align: center;
}

.success-checkmark {
    width: 80px;
    height: 115px;
    margin: 0 auto;
    
    .check-icon {
        width: 80px;
        height: 80px;
        position: relative;
        border-radius: 50%;
        box-sizing: content-box;
        border: 4px solid #4CAF50;
        
        &::before {
            top: 3px;
            left: -2px;
            width: 30px;
            transform-origin: 100% 50%;
            border-radius: 100px 0 0 100px;
        }
        
        &::after {
            top: 0;
            left: 30px;
            width: 60px;
            transform-origin: 0 50%;
            border-radius: 0 100px 100px 0;
            animation: rotate-circle 4.25s ease-in;
        }
        
        &::before, &::after {
            content: '';
            height: 100px;
            position: absolute;
			background-color: transparent;
            transform: rotate(-45deg);
        }
        
        .icon-line {
            height: 5px;
            background-color: #4CAF50;
            display: block;
            border-radius: 2px;
            position: absolute;
            z-index: 10;
            
            &.line-tip {
                top: 46px;
                left: 14px;
                width: 25px;
                transform: rotate(45deg);
                animation: icon-line-tip 0.75s;
            }
            
            &.line-long {
                top: 38px;
                right: 8px;
                width: 47px;
                transform: rotate(-45deg);
                animation: icon-line-long 0.75s;
            }
        }
        
        .icon-circle {
            top: -4px;
            left: -4px;
            z-index: 10;
            width: 80px;
            height: 80px;
            border-radius: 50%;
            position: absolute;
            box-sizing: content-box;
            border: 4px solid rgba(76, 175, 80, .5);
        }
        
        .icon-fix {
            top: 8px;
            width: 5px;
            left: 26px;
            z-index: 1;
            height: 85px;
            position: absolute;
            transform: rotate(-45deg);
            background-color: transparent;
        }
    }
}

@keyframes rotate-circle {
    0% {
        transform: rotate(-45deg);
    }
    5% {
        transform: rotate(-45deg);
    }
    12% {
        transform: rotate(-405deg);
    }
    100% {
        transform: rotate(-405deg);
    }
}

@keyframes icon-line-tip {
    0% {
        width: 0;
        left: 1px;
        top: 19px;
    }
    54% {
        width: 0;
        left: 1px;
        top: 19px;
    }
    70% {
        width: 50px;
        left: -8px;
        top: 37px;
    }
    84% {
        width: 17px;
        left: 21px;
        top: 48px;
    }
    100% {
        width: 25px;
        left: 14px;
        top: 45px;
    }
}

@keyframes icon-line-long {
    0% {
        width: 0;
        right: 46px;
        top: 54px;
    }
    65% {
        width: 0;
        right: 46px;
        top: 54px;
    }
    84% {
        width: 55px;
        right: 0px;
        top: 35px;
    }
    100% {
        width: 47px;
        right: 8px;
        top: 38px;
    }
}

/* `Login
-----------------------------------------------------------------------------*/

.login-container {
	padding-bottom: 60px;
	.login-wrapper {
		margin: 0 auto;
		width: 100%;
		max-width: 480px;
	}
	.forget-password {
		color: #aaa;
		&:hover { color: #111; }
	}
	.btn-link {
		color: #999;
		&:hover { color: #111; }
	}
	.section-title {
		margin-bottom: 4rem;
		text-align: center;
		.title { font-size: 26px; }
	}
	.form-action {
		margin-top: 3rem;
		padding-top: 3rem;
	}
}

/* `Professor
-----------------------------------------------------------------------------*/

.review-wrapper {
	.card {
		box-shadow: 0 10px 15px -3px rgba(0,0,0,.07),0 4px 6px -2px rgba(0,0,0,.05);
		margin-bottom: 1.5rem;
		.form-label { display: block; }
	}
	.card-hd {
		display: flex;
		border-radius: .25rem .25rem 0 0;
		border-bottom: 1px solid #e5e5e5;
		background: #f9f9f9;
		.serial {
			background: $link;
			border-radius: .25rem 0 0 0;
			padding: 1rem 2rem;
			font-weight: bold;
			color: #fff;
			&:hover {
				background: $main_color;
			}
		}
		.name {
			flex: 1;
			padding: 1rem; 
			span {
				display: inline-block;
				position: relative;
				&:first-child {
					margin-right: 1.5rem;
                    &:after {
                        content: "";
                        background: #ccc;
                        border-radius: 50%;
                        width: 4px;
                        height: 4px;
                        position: absolute;
                        right: -16px;
                        top: 40%;
                    }
				}
			}
		}
	}
	.card-file,
	.card-score { padding: 1rem; }
	.card-file {
		border-bottom: 1px solid #e5e5e5;
		a {
			display: inline-block;
			&.pdf { margin-right: 2rem; }
			i { color: #666; }
		}
	}
	.slash {
		display: inline-block;
		padding: 0 .25rem;
		color: #aaa;
	}
}

.modal-dialog {
	.modal-header,
	.modal-footer { padding: 1rem 2rem; }
	.modal-body { padding: 2rem; }
	.section {
		margin-bottom: 2rem;
		&:last-child {
			margin-bottom: 0;
		}
	}
}

/* `School list
-----------------------------------------------------------------------------*/

.project-link {
	margin-bottom: 1rem;
	h5 {
		display: inline-block;
		margin: 0 1.5rem 2rem 0;
		padding-right: 1.5rem;
		position: relative;
		&:after {
			content: "";
			background: #999;
			width: 1px;
			height: 22px;
			position: absolute;
			right: -2px;
			top: 2px;
		}
	}
	.inner {
		display: inline-block;
		a {
			display: inline-block;
			border-radius: .375rem;
			margin-right: 2rem;
			font-size: 1.25rem;
			color: #999;
			position: relative;
            &:after {
                content: "";
                background: $link;
                height: 1px;
                position: absolute;
                left: 0;
                right: 100%;
                bottom: -.25rem;
				transition: all 0.2s ease-in-out;
            }
			&:hover {
				color: $link;
				&:after {
					right: 0;
				}
			}
			&.current {
				font-weight: bold;
				font-size: 1.5rem;
				color: $main_color;
				cursor: default;
				&:after {
					content: none;
				}
				&:hover {
					background-color: transparent;
				}
			}
			+ a.current {
				color: #19992f;
			}
		}
	}
}

.filter-bar {
	background: #fafafa;
	border-radius: .375rem;
	margin-bottom: 2rem;
	padding: 30px;
	.inner {
		display: flex;
		justify-content: space-between;
		.group + .group { margin-left: 1rem; }
	}
	.inner-start { display: flex; }
	.form-select {
		display: inline-block;
		width: auto;
	}
	.inner-end {
		.label { margin-right: .375rem; }
		.group {
			display: flex;
			align-items: center;
		}
	}
}

.switch-input {
	display: none;
	height: 0;
	width: 0;
	visibility: hidden;
}

.switch-label {
	cursor: pointer;
	text-indent: -9999px;
	width: 64px;
	height: 32px;
	background: grey;
	display: block;
	border-radius: 5rem;
	position: relative;
	&:after {
        content: '';
        position: absolute;
        top: 5px;
        left: 5px;
        width: 22px;
        height: 22px;
        background: #fff;
        border-radius: 5rem;
        transition: 0.3s;
	}
	&:active:after {
		width: 32px;
	}
}

.switch-input:checked {
	& + .switch-label {
		background: #2ca4eb;
	}
	& + .switch-label:after {
        left: calc(100% - 5px);
        transform: translateX(-100%);
	}
}

.project-school {
	margin-bottom: 3rem;
	.menu-item {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -12px;
	}
	li {
		margin-bottom: 1.5rem;
		padding: 0 12px;
		width: 33.33333%;
	}
	.card {
		box-shadow: 0 5px 7px -2px rgba(0,0,0,.07),0 2px 3px -1px rgba(0,0,0,.05);
		padding: 12px 12px 12px 32px;
		position: relative;
		&:after {
			content: "\f13d";
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
			font-size: 14px;
			color: #ccc;
			position: absolute;
			left: .5rem;
			top: 50%;
			margin-top: -10px;
			opacity: 0;
			transition: all 0.2s ease-in-out;
		}
		&:hover {
			&:after {
				opacity: 1;
			}
		}
	}
	.inner {
		span { 
			display: inline-block;
			margin-right: .5rem;
		}
		.serial {
			font-weight: bold;
			color: #aaa;
		}
		.country {
			color: #333;
		}
	}
}

.university-list-wrapper,
.school-info-wrpper {
	.university-item {
		box-shadow: 0 2px 3px -1px rgba(0,0,0,.05),0 1px 2px -1px rgba(0,0,0,.03);
		border: 1px solid #eaeef1;
		border-radius: .5rem;
		margin-bottom: 40px;
		padding: 40px 40px 100px;
	}
}

.school-info-wrpper {
	.university-item {
		margin-bottom: 0;
		padding: 40px;
	}
	.info-hd {
		margin-bottom: 2rem;
		text-align: center;
		.school-name { font-weight: bold; }
		.school-en { color: #aaa; }
		.s-logo {
			width: auto;
			max-height: 100px;
		}
	}
}

.university-item {
	.item-hd {
		margin-bottom: 1.5rem;
		span, small {
			display: inline-block;
			line-height: 1.3;
			position: relative;
		}
		.hd-part {
			margin-bottom: 1.25rem;
			font-size: 1.063rem;
		}
		.item-link {
			font-size: 1.5rem;
			position: relative;
            &:after {
                content: "\f35d";
                font-family: "Font Awesome 5 Free";
                font-weight: 900;
				font-size: 1rem;
                color: #ccc;
                position: absolute;
                right: -1.5rem;
                top: .125rem;
            }
            &:before {
                content: "";
                background: #ddd;
                width: 0;
                height: 1px;
                position: absolute;
                left: 0;
                bottom: -.375rem;
                transition: all 0.2s ease-in-out;
            }
			&:hover {
				&:before { width: 100%; }
			}
		}
	}
	.serial {
		&:after {
			content: "";
			background: #eaeef1;
			width: 100%;
			height: 1px;
			position: absolute;
			left: 0;
			bottom: -.25rem;
			z-index: 1;
		}
	}
	.country {
		color: #333;
		&:after {
			content: "";
			background: #ccc;;
			height: 1px;
			position: absolute;
			left: -1rem;
			right: 0;
			bottom: -.25rem;
		}
	}
	.school {
		font-weight: bold;
		color: $main_color;
	}
	.school-en {
		font-size: 1.125rem;
		font-weight: 300;
		color: #aaa;
	}
	.item-warning {
		margin: 1.5rem 0;
		.warning {
			display: block;
			margin-bottom: .5rem;
			padding-left: 1.75rem;
			position: relative;
            &:after {
                content: "\f06a";
                font-family: "Font Awesome 5 Free";
                font-weight: 900;
				font-size: 1rem;
                color: #e38275;
                position: absolute;
                left: 0;
                top: -1px;
            }
			span {
				display: inline-block;
				border-bottom: 1px dashed #ccc;
				padding-bottom: .125rem;
			}
		}
	}
	.row-block {
		border-top: 1px solid #e5e5e5;
		padding-top: 1.5rem;
	}
	.qualifications {
		border-top: none;
		padding-top: 0;
	}
	.block-title {
		margin-bottom: 1rem;
		color: #8e4ec9;
	}
	.item-bd {
		position: relative;
	}
	.anchor-top {
		display: inline-block;
		background: #fff;
		border: 1px solid #e5e5e5;
		border-radius: 50%;
		margin-left: -20px;
		width: 40px;
		height: 40px;
		line-height: 38px;
		color: #ddd;
		text-align: center;
		position: absolute;
		left: 50%;
		bottom: -70px;
		&:hover {
			border-color: #666;
			color: #666;
		}
	}
}

/* `Lang
-----------------------------------------------------------------------------*/

:lang(en) {
	.title-wrapper {
		h2 {
			font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
			font-size: 32px;
		}
	}
    .dashboard-container {
        .navigation {
            .nav-item {
                font-size: 1.063rem;
            }
        }
    }
	.section-title .title:before {
		max-width: 40%;
		min-width: 3rem;
	}
	.volunteer-item.confirm-item {
		.item-inner {
			display: block;
			.order-university { display: block; }
		}
	}
	.project-school {
		li { width: 50%; }
		.inner .school {
			display: block;
		}
	}
}

/* `Responsive
-----------------------------------------------------------------------------*/

@media (max-width: 1199px) {
    .title-wrapper {
        padding-left: 80px;
        &:after {
            left: 0;
            top: 0;
            bottom: 0;
        }
        &:before {
            left: .5rem;
        }
    }
	.filter-bar {
		.inner { display: block; }
		.inner-end {
			margin-top: 1rem;
			.group {
				flex-direction: row-reverse;
				justify-content: flex-end;
			}
			.label {
				margin: 0 0 0 .375rem;
			}
		}
	}
	.university-item .item-hd .item-link:after { content: none; }
	
	:lang(en) {
        .score-list {
            .label,
            .score span { font-size: 18px; }
        }
    }
}

@media (max-width: 991px) {
	.dashboard-container {
		display: block;
		margin: 40px 0;
        .button-widget {
            display: inline-block;
        }
		.main { margin-left: 0; }
        .offcanvas-collapse {
			padding: 20px;
			width: 280px;
			min-width: 280px;
            position: fixed;
            top: 0;
            bottom: 0;
            left: -280px;
            overflow-y: auto;
            visibility: hidden;
            background-color: #fff;
            transition: transform 0.3s ease-in-out, visibility 0.3s ease-in-out;
			z-index: 1040;
        }
        .offcanvas-collapse.open {
            visibility: visible;
            transform: translateX(100%);
			& + #widget-overlay { display: block; }
        }
		.scrollbar-content {
			padding: 20px;
		}
	}
    .button-widget {
        display: inline-block !important;
		z-index: 2;
		& + .block-title {
			padding-left: 66px;
			&:before, &:after {
				content: none;
			}
		}
    }
    .title-wrapper {
		&.has-burger {
            &:after {
                width: 3.5rem;
            }
            &:before {
                width: 2.75rem;
            }	
		}
    }
	.project-school {
		.inner .school {
			display: block;
		}
	}
}

@media (max-width: 768px) {
	.project-school {
		li { width: 50%; }
	}
}

@media (max-width: 767px) {
    .title-wrapper {
        margin-bottom: 40px;
    }
    .score-list {
        .label,
        .score span { font-size: 18px; }
    }
	.filter-bar {
		.inner-start {
			display: block;
			.group {
				display: block;
				& + .group {
					margin: 1rem 0 0 0;
				}
			}
		}
	}
    .project-link {
		h5 { font-size: 1.25rem; }
		.inner a {
            font-size: 1.125rem;
			&.current {
				font-size: 1.375rem;
			}
		}
    }
	
    :lang(en) {
        .title-wrapper {
            h2 { font-size: 28px; }
        }
        .project-school {
			.menu-item {
				display: block;
				margin: 0;
			}
            li {
				margin-bottom: 1rem;
				padding: 0;
				width: 100%;
			}
        }
        .project-link {
            h5 {
                display: block;
                margin-bottom: .5rem;
                &:after { content: none; }
            }
        }
    }
}

@media (max-width: 575px) {
    .title-wrapper {
        height: 80px;
        h2 {
            font-size: 24px;
        }
    }
	.project-link {
		h5 {
			display: block;
			margin-bottom: .5rem;
			&:after { content: none; }
		}
	}
	
    :lang(en) {
        .title-wrapper {
            h2 { font-size: 24px; }
        }
        .score-list {
			li {
				display: block;
				&:after { content: none; }
			}
			.label { display: block; }
			.score {
				padding-left: 0;
				span {
					background-color: transparent;
					padding: 0;
					color: #0a91e1;
				}
			}
        }
    }
}

@media (max-width: 574px) {
	.project-school {
		.menu-item {
			display: block;
			margin: 0;
		}
		li {
			margin-bottom: 1rem;
			padding: 0;
            width: 100%;
        }
	}
	.university-list-wrapper,
	.school-info-wrpper {
		.university-item {
			border: none;
			box-shadow: none;
			padding: 0;
		}
	}
	.university-list-wrapper {
		.university-item {
			border-radius: 0;
			border-bottom: 4px double #aaa;
			margin-bottom: 2rem;
			padding-bottom: 2rem;
			&:last-child {
                border-bottom: none;
                margin-bottom: 0;
                padding-bottom: 0;
			}
			.anchor-top { display: none; }
			.item-hd .hd-part { margin-bottom: .75rem; }
		}
	}
}

@media (max-width: 479px) {
    .title-wrapper {
        h2 {
            font-size: 22px;
        }
    }
    .score-list {
        li {
            display: block;
            &:after { content: none; }
        }
        .label { display: block; }
        .score {
            padding-left: 0;
            span {
                background-color: transparent;
                padding: 0;
                color: #0a91e1;
            }
        }
    }
}







