<% I18n.locale = "zh-TW" %>
<!doctype html>
<html lang="<%= I18n.locale %>" class="no-js">
<head>
    <%= render :partial => "/partials/head" %>
</head>
<body>
	<%= yield %>
	
    <script src="../../javascripts/jquery-3.7.1.min.js"></script>
    <script src="../../javascripts/popper.min.js"></script>
    <script src="../../javascripts/bootstrap.bundle.min.js"></script>
    
    <!-- Back to top -->
    <script>
        var btn = $('#backtop');

        $(window).scroll(function() {
          if ($(window).scrollTop() > 600) {
            btn.addClass('show');
          } else {
            btn.removeClass('show');
          }
        });

        btn.on('click', function(e) {
          e.preventDefault();
          $('html, body').animate({scrollTop:0}, '300');
        });
    </script>
	
    <%= yield :js %>
</body>
</html>
