<!-- Jesda -->
<div class="content-wrapper">
    <div class="landing-page">
        <div class="main-stage">

            <nav class="spy-nav">
                <ul class="menu-item">
                    <li>
                        <a href="#" class="spy-link">
                            <img src="assets/svg/cup.svg" alt="">
                            <span class="spy-text">可以把樣板</span> 
                        </a>
                    </li>
                    <li>
                        <a href="#" class="spy-link">
                            <img src="assets/svg/shield.svg" alt="">
                            <span class="spy-text">語言段落以變數</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="spy-link">
                            <img src="assets/svg/feather.svg" alt="">
                            <span class="spy-text">範例便是把</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="spy-link">
                            <img src="assets/svg/info.svg" alt="">
                            <span class="spy-text">常應用在套用</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="landing-background">
            <svg class="main1" width="100%" height="100%">
                <defs>
                    <pattern id="stage-dot" patternUnits="userSpaceOnUse" width="12" height="12">
                        <rect width="2" height="2" fill="#fff" opacity="0.04" x="0" y="0"></rect>
                    </pattern>
                    <linearGradient id="grad1" x1="0" y1="0" x2="0"  y2="1">
                        <stop offset="0%" style="stop-color: #535b62; stop-opacity: 0.6;" />
                        <stop offset="100%" style="stop-color: #37393c; stop-opacity: 0.5;" />
                    </linearGradient>
                    <linearGradient id="grad2" x1="0" y1="0" x2="0"  y2="1">
                        <stop offset="0%" style="stop-color: #dd8ab7; stop-opacity: 0.5;" />
                        <stop offset="100%" style="stop-color: #bfd7fd; stop-opacity: 0.5;" />
                    </linearGradient>
                    <linearGradient id="grad3" x1="0" y1="0" x2="0"  y2="1">
                        <stop offset="0%" style="stop-color: #e9a5a5; stop-opacity: 0.5;" />
                        <stop offset="25%" style="stop-color: #b8c1c0; stop-opacity: 0.5;" />
                        <stop offset="50%" style="stop-color: #65c0e0; stop-opacity: 0.5;" />
                        <stop offset="75%" style="stop-color: #aea2db; stop-opacity: 0.5;" />
                        <stop offset="100%" style="stop-color: #81c1d9; stop-opacity: 0.5;" />
                    </linearGradient>
                    <linearGradient id="grad4" x1="0" y1="0" x2="0"  y2="1">
                        <stop offset="0%" style="stop-color: #937ef3; stop-opacity: 0.5;" />
                        <stop offset="50%" style="stop-color: #eaccf8; stop-opacity: 0.5;" />
                        <stop offset="100%" style="stop-color: #96e0da; stop-opacity: 0.5;" />
                    </linearGradient>
                </defs>
                
                

                <g class="m1_stage" opacity="0">

                    <g class="m1_cGroup">
                        <rect class="m1Bg" fill="url(#stage-dot)" x="-60%" y="-60%" width="120%" height="120%" />
                    </g>
                    
                    <g class="m1_cGroup">
                        <circle class="c1_line c1_line4" cx="0" cy="50" r="848" fill="none" stroke-width="0" stroke="url(#grad1)" opacity="0.9" />
                        <circle class="m1OrbBlank blurCircle" cx="0" cy="50" r="196" fill="#45535e" />
                        <g class="m1OrbBlank ">
                            <circle class="blurCircle" cx="0" cy="50" r="160" fill="#97c2ed" />
                        </g>
                        <g class="m1Orb orb4b">
                            <circle class="blurCircle" cx="0" cy="50" r="96" fill="#caf68b" />
                        </g>
                    </g>
                    <g class="m1_cGroup">
                        <circle class="c1_line c1_line3" cx="0" cy="50" r="640" fill="none" stroke-width="0" stroke="url(#grad1)" opacity="0.9" />
                        <g class="m1Orb orb3c">
                            <circle class="blurCircle" cx="0" cy="50" r="256" fill="#3a70a1" />
                        </g>
                        <g class="m1Orb orb3b">
                            <circle class="blurCircle" cx="0" cy="50" r="160" fill="#a2b7c8" />
                        </g>
                    </g>
                    
                    <g class="m1_cGroup">
                        <circle class="c1_line c1_line2" cx="0" cy="50" r="480" fill="none" stroke-width="0" stroke="#000" opacity="0" />
                        <g class="m1Orc c1_solid">
                            <text
                                opacity="0.5"
                                font-size="74"
                                text-anchor="middle"
                                dominant-baseline="middle"
                                font-family="Noto Sans TC"
                                font-weight="bold"
                                x="0"
                                y="528"
                                transform="rotate(0)"
                                transform-origin="400 400"
                                fill="#ffffff"
                                stroke="none"
                                stroke-width="0"
                                >更安心的網路系統開發
                            </text>
                        </g>
                    </g>
                    
                    <g class="m1_cGroup">
                        <circle class="c1_line c1_line2" cx="0" cy="50" r="384" fill="none" stroke-width="0" stroke="#000" opacity="0" />
                        <g class="">
                            <line class="st3" x1="0" y1="386" x2="0" y2="2172"/>
                        </g>
                    </g>
                    
                    <g class="m1_cGroup">
                        <circle class="c1_line c1_line2" cx="0" cy="50" r="384" fill="none" stroke-width="1" stroke="url(#grad1)" opacity="0.9" />
                    </g>
                    <g class="m1_cGroup">
                        <circle class="c1_line c1_line3" cx="0" cy="50" r="336" fill="none" stroke-width="2" stroke="url(#grad2)" opacity="0.6" />
                    </g>
                    <g class="m1_cGroup">
                        <circle class="c1_solid" cx="0" cy="50" r="288" fill="none" stroke-width="1" stroke="url(#grad1)" opacity="0.9" />
                    </g>
                    <g class="m1_cGroup">
                        <circle class="c1_line c1_line1" cx="0" cy="50" r="240" fill="none" stroke-width="2" stroke="url(#grad3)" opacity="0.6" />
                    </g>

                    <g class="m1_cGroup">
                        <circle class="c1_solid" cx="0" cy="50" r="192" fill="none" stroke-width="1" stroke="url(#grad1)" opacity="0.9" />
                    </g>
                    <g class="m1_cGroup">
                        <circle class="c1_solid" cx="0" cy="50" r="144" fill="none" stroke-width="2" stroke="url(#grad4)" opacity="0.6" />
                    </g>
                    <g class="m1_cGroup">
                        <g class="j-logo">
                            <g>
                                <g id="t-j">
                                    <path class="st2" d="M1.28,204.7h6.2c0.31-0.67,0.58-1.36,0.81-2.05l1.48,0.44c-0.18,0.54-0.38,1.08-0.61,1.62h11.66v1.35h-4.11
                                        c-0.58,1.75-1.43,3.2-2.53,4.35c1.42,0.49,2.86,1.07,4.35,1.72l-0.71,1.48c-1.66-0.79-3.3-1.47-4.92-2.05
                                        c-2.58,2-6.29,3.13-11.12,3.4l-0.4-1.35c4.22-0.22,7.5-1.11,9.84-2.66c-1.57-0.52-3.1-0.95-4.58-1.31
                                        c-0.43,0.65-0.86,1.26-1.31,1.82l-1.21-1.08c1.08-1.35,2-2.79,2.76-4.31H1.28V204.7z M4.24,185.57h6.3v-2.29h1.48v2.29h6.64v3.88
                                        h2.7v1.35h-2.7v3.81h-6.64v2.26h6.87v5.39H3.57v-5.39h6.97v-2.26h-6.3v-3.81H1.38v-1.35h2.86V185.57z M5.05,200.9h5.49v-2.7H5.05
                                        V200.9z M5.72,189.44h4.82v-2.56H5.72V189.44z M5.72,193.25h4.82v-2.46H5.72V193.25z M12.63,209.83c1.06-1.01,1.86-2.27,2.43-3.77
                                        H8.59c-0.36,0.81-0.75,1.57-1.18,2.29C9.09,208.75,10.83,209.24,12.63,209.83z M12.02,186.88v2.56h5.15v-2.56H12.02z M12.02,190.79
                                        v2.46h5.15v-2.46H12.02z M12.02,198.2v2.7h5.39v-2.7H12.02z M23.78,183.51l1.48,0.4c-0.38,2.45-0.88,4.83-1.48,7.14h8.46v1.35
                                        h-1.65c-0.47,5.44-1.56,9.9-3.27,13.41c-0.13,0.29-0.28,0.56-0.44,0.81c1.39,2.56,3.32,4.93,5.79,7.11l-1.08,1.35
                                        c-2.45-2.27-4.31-4.6-5.59-7.01c-1.8,2.81-4.12,5.1-6.97,6.87l-0.91-1.21c2.94-1.86,5.3-4.3,7.08-7.31
                                        c-1.19-2.49-2.2-5.86-3.03-10.11c-0.52,1.55-1.07,2.95-1.65,4.21l-1.21-1.11c1.06-2.22,1.97-4.79,2.73-7.68
                                        C22.84,188.83,23.42,186.1,23.78,183.51z M22.94,193.89c0.81,4.51,1.83,8.16,3.07,10.95c1.53-3.26,2.52-7.4,2.96-12.43h-5.59
                                        c-0.05,0.13-0.08,0.27-0.1,0.4C23.16,193.17,23.05,193.53,22.94,193.89z"/>
                                    <path class="st2" d="M44.13,183.38l1.62,0.54c-1.15,3.17-2.27,5.87-3.37,8.12v22.91h-1.65v-19.91c-1.19,2.07-2.48,4.02-3.87,5.86
                                        l-1.21-0.91c1.84-2.47,3.44-5.03,4.78-7.68C42.02,189.25,43.26,186.27,44.13,183.38z M44.13,211.85h23.45v1.62H44.13V211.85z
                                         M45.04,191.06h21.56v1.48H45.04V191.06z M49.66,195.67c1.53,4.07,2.82,8.51,3.88,13.34l-1.62,0.64
                                        c-0.92-4.92-2.08-9.32-3.47-13.21L49.66,195.67z M53.8,183.51c1.66,1.75,3.05,3.68,4.18,5.79l-1.48,1.11
                                        c-0.99-2.07-2.33-4.04-4.01-5.93L53.8,183.51z M61.52,195.37l1.62,0.57c-0.79,4.45-2.05,8.97-3.81,13.58l-1.48-0.78
                                        C59.55,204.08,60.78,199.62,61.52,195.37z"/>
                                    <path class="st2" d="M84.7,184.86v9.87H73.75v20.35h-1.48v-30.22H84.7z M73.75,189.07h9.47v-2.8h-9.47V189.07z M73.75,193.38h9.47
                                        v-2.96h-9.47V193.38z M77.15,197.56h18.16v1.35h-5.09v4.31h6.3v1.35h-6.3v8.62h-1.48v-8.62h-5.49c-0.18,1.73-0.74,3.31-1.68,4.75
                                        c-1.08,1.69-2.46,3.07-4.14,4.14l-1.25-0.98c1.98-1.28,3.44-2.74,4.38-4.38c0.65-1.14,1.06-2.32,1.21-3.54H75.8v-1.35h6.06v-4.31
                                        h-4.72V197.56z M88.74,203.22v-4.31h-5.39v4.31H88.74z M89.52,184.86h10.41v27.12c0,1.42-0.81,2.12-2.43,2.12
                                        c-1.01,0-2.19-0.05-3.54-0.13v-1.58c1.26,0.16,2.44,0.24,3.54,0.24c0.63,0,0.94-0.39,0.94-1.18v-16.71H87.26v-9.87H89.52z
                                         M88.74,189.07h9.7v-2.8h-9.7V189.07z M98.44,193.38v-2.96h-9.7v2.96H98.44z"/>
                                    <path class="st2" d="M107.2,185.57h12.8v1.48c-2.31,2.74-4.75,4.99-7.31,6.74c-0.11,0.09-0.23,0.17-0.34,0.24h4.82v6.64h-6.64
                                        l-1.04,4.04h7.51c-0.52,4.63-1.25,7.48-2.19,8.56c-0.56,0.65-1.36,0.98-2.39,0.98c-1.3,0-2.55-0.12-3.74-0.37v-1.48
                                        c1.57,0.36,2.82,0.54,3.74,0.54c0.65,0,1.14-0.31,1.48-0.94c0.54-0.85,0.99-2.83,1.35-5.93h-7.51l1.58-6.74h6.37v-3.94h-5.53
                                        c-1.57,0.9-3.11,1.63-4.62,2.19l-0.78-1.48c2.61-0.83,5.12-2.12,7.55-3.88c-0.81-1.05-1.76-2.1-2.86-3.13l1.11-0.98
                                        c1.01,0.94,2,2.03,2.96,3.27c1.68-1.3,3.17-2.74,4.45-4.31H107.2V185.57z M118.36,202.65h13.78c-1.37,3.12-3.11,5.66-5.22,7.61
                                        c2.34,1.55,5.47,2.66,9.4,3.34l-0.4,1.35c-4-0.61-7.36-1.88-10.07-3.81c-2.47,1.84-5.5,3.16-9.1,3.94l-0.51-1.48
                                        c3.28-0.72,6.05-1.86,8.32-3.44c-1.75-1.55-3.25-3.6-4.48-6.17h-1.72V202.65z M121.32,183.51c0.83,1.53,1.85,2.96,3.07,4.31
                                        c0.67-0.38,1.35-0.83,2.02-1.35c0.94-0.7,1.77-1.45,2.49-2.26l1.04,0.78c-0.74,0.92-1.62,1.77-2.63,2.56
                                        c-0.65,0.49-1.31,0.93-1.99,1.31c0.7,0.74,1.45,1.44,2.26,2.09c0.22,0.16,0.45,0.34,0.67,0.54c0.72-0.43,1.42-0.93,2.09-1.52
                                        c0.88-0.76,1.64-1.61,2.29-2.53l1.25,0.78c-0.74,1.03-1.59,1.98-2.56,2.83c-0.54,0.54-1.11,1-1.72,1.38
                                        c1.84,1.27,4.12,2.51,6.84,3.74l-1.08,1.35c-2.16-0.99-4.13-2.08-5.93-3.29v4.23c0,0.56,0.06,0.94,0.17,1.14
                                        c0.25,0.11,0.64,0.17,1.18,0.17c1.24,0,2.63-0.13,4.18-0.4v1.48c-1.17,0.27-2.56,0.4-4.18,0.4c-1.53,0-2.37-0.21-2.53-0.64
                                        c-0.2-0.25-0.3-0.7-0.3-1.35v-4.35h-4.88c-0.13,2.43-0.56,4.14-1.28,5.16c-0.83,1.21-2.11,2.01-3.84,2.39l-0.51-1.48
                                        c1.46-0.38,2.44-0.93,2.93-1.65c0.83-0.96,1.25-2.91,1.25-5.83h6.74c-0.58-0.43-1.16-0.88-1.72-1.35c-2.58-2.13-4.75-4.74-6.5-7.82
                                        L121.32,183.51z M121.59,204c1.14,2.16,2.49,3.91,4.04,5.26c1.57-1.42,2.94-3.17,4.11-5.26H121.59z"/>
                                </g>
                                <g id="t-s">
                                    <path class="st2" d="M2.7,143.86h5.21v-6.29c0-0.87-0.06-1.53-0.18-1.98c-0.12-0.36-0.18-0.66-0.18-0.9c0-0.24,0.3-0.36,0.9-0.36
                                        l3.59,0.49c0.36,0.18,0.54,0.33,0.54,0.45c0,0.27-0.18,0.4-0.54,0.4c-0.6,0.21-0.9,0.9-0.9,2.07v6.11h4.13
                                        c0.36,0,0.54,0.25,0.54,0.76v1.39c0,0.51-0.18,0.76-0.54,0.76h-4.13v9.43c1.35-0.63,2.65-1.27,3.91-1.93
                                        c0.09-0.09,0.16-0.13,0.22-0.13c0.24,0,0.36,0.12,0.36,0.36c0,1.5-0.06,2.32-0.18,2.47c-1.44,0.81-2.88,1.57-4.31,2.29v13.52
                                        c0,2.16-1.62,3.23-4.85,3.23l-3.23-0.18c-0.27,0-0.4-0.27-0.4-0.81c-0.12-0.57-0.4-1.26-0.85-2.07c0-0.24,0.12-0.36,0.36-0.36
                                        c1.41,0.36,2.67,0.54,3.77,0.54c1.32,0,1.98-0.52,1.98-1.57v-10.74c-1.14,0.51-2.28,1.02-3.41,1.53c-0.45,0.87-0.81,1.3-1.08,1.3
                                        s-0.87-1.26-1.8-3.77c1.74-0.51,3.83-1.27,6.29-2.29v-10.83H2.7c-0.36,0-0.54-0.25-0.54-0.76v-1.39
                                        C2.16,144.11,2.34,143.86,2.7,143.86z M16.71,137.75h10.96v-3.05c0-0.36,0.24-0.54,0.72-0.54c2.28,0,3.41,0.18,3.41,0.54
                                        c0,0.42-0.15,0.66-0.45,0.72c-0.3,0.03-0.45,0.33-0.45,0.9v1.44h11.68c0.39,0,0.58,0.24,0.58,0.72v1.44c0,0.51-0.2,0.76-0.58,0.76
                                        H30.91v3.73h8.8c0.48,0,0.72,0.18,0.72,0.54v5.75h2.74c0.33,0,0.49,0.24,0.49,0.72v1.44c0,0.48-0.17,0.72-0.49,0.72h-2.74v5.75
                                        c0,0.51-0.24,0.76-0.72,0.76h-8.8v4.27h10.24c0.36,0,0.54,0.24,0.54,0.72v1.44c0,0.48-0.18,0.72-0.54,0.72H30.91v5.03
                                        c4.46,0,8.83-0.22,13.12-0.67c0.24,0,0.36,0.1,0.36,0.31c-0.45,1.2-0.79,2.16-1.03,2.88c-0.03,0.39-0.22,0.58-0.58,0.58H30.55
                                        c-1.86,0-3.43-0.12-4.72-0.36c-1.59-0.3-2.74-0.69-3.46-1.17c-1.02-0.6-1.81-1.3-2.38-2.11c-0.06-0.09-0.12-0.18-0.18-0.27
                                        c-1.05,1.83-2.5,3.29-4.36,4.4c-0.3,0-0.52-0.09-0.67-0.27c-0.51-0.51-0.96-0.96-1.35-1.35c-0.21-0.21-0.31-0.39-0.31-0.54
                                        c0-0.18,0.1-0.3,0.31-0.36c1.02-0.57,1.84-1.2,2.47-1.89c0.66-0.69,1.2-1.44,1.62-2.25c0.33-0.75,0.63-1.63,0.9-2.65
                                        c0.27-1.23,0.42-2.68,0.45-4.36c0-0.36,0.18-0.54,0.54-0.54l2.96,0.76c0.3,0.15,0.45,0.31,0.45,0.49c0,0.39-0.2,0.61-0.58,0.67
                                        c-0.24,0.18-0.4,0.49-0.49,0.94c-0.12,1.23-0.31,2.38-0.58,3.46c0.3,0.9,0.67,1.6,1.12,2.11c0.54,0.66,1.29,1.17,2.25,1.53
                                        c0.78,0.27,1.83,0.45,3.14,0.54v-12.08h-8.45c-0.36,0-0.54-0.25-0.54-0.76v-1.39c0-0.51,0.18-0.76,0.54-0.76h8.45v-3.59h-10.6
                                        c-0.36,0-0.54-0.24-0.54-0.72v-1.44c0-0.48,0.18-0.72,0.54-0.72h10.6v-3.41h-8.45c-0.36,0-0.54-0.22-0.54-0.67v-1.48
                                        c0-0.48,0.18-0.72,0.54-0.72h8.45v-3.73H16.71c-0.36,0-0.54-0.25-0.54-0.76v-1.44C16.17,137.99,16.35,137.75,16.71,137.75z
                                         M30.91,147.27v3.41h6.29v-3.41H30.91z M30.91,153.56v3.59h6.29v-3.59H30.91z"/>
                                    <path class="st2" d="M53.01,161.11l2.74,1.12c0.45,0.21,0.67,0.43,0.67,0.67c0,0.36-0.16,0.63-0.49,0.81
                                        c-0.42,0-0.69,0.25-0.81,0.76c-1.14,3.95-2.29,7.02-3.46,9.21c-0.27,0.48-0.48,0.72-0.63,0.72c-0.24,0-0.51-0.11-0.81-0.31
                                        c-0.63-0.3-1.24-0.58-1.84-0.85c-0.27-0.12-0.4-0.21-0.4-0.27c0-0.12,0.06-0.29,0.18-0.49c1.14-1.89,1.99-3.53,2.56-4.94
                                        c0.84-1.89,1.45-3.74,1.84-5.57C52.71,161.39,52.86,161.11,53.01,161.11z M54.27,135.95h29.47c0.48,0,0.72,0.18,0.72,0.54v21.2
                                        c0,0.39-0.24,0.58-0.72,0.58h-1.8c-0.48,0-0.72-0.19-0.72-0.58v-2.16H56.78v2.16c0,0.39-0.24,0.58-0.72,0.58h-1.8
                                        c-0.48,0-0.72-0.19-0.72-0.58v-21.02C53.55,136.19,53.79,135.95,54.27,135.95z M56.78,144.4h10.6v-5.53h-10.6V144.4z M56.78,152.66
                                        h10.6v-5.39h-10.6V152.66z M60.91,159.49l3.05,0.4c0.36,0.06,0.54,0.18,0.54,0.36c0,0.27-0.09,0.43-0.27,0.49
                                        c-0.3,0.06-0.45,0.24-0.45,0.54v8.8c0,1.32,0.84,1.98,2.52,1.98h8.63c2.01,0,3.21-0.27,3.59-0.81c0.48-0.45,1.08-2.16,1.8-5.12
                                        c0.39,0.6,1.02,1.17,1.89,1.71c0.42,0.18,0.63,0.39,0.63,0.63c-0.99,3.34-1.74,5.17-2.25,5.5c-0.51,0.77-1.62,1.15-3.32,1.15H65.94
                                        c-3.59,0-5.39-1.08-5.39-3.23v-11.81C60.55,159.69,60.67,159.49,60.91,159.49z M69.54,158.59c1.62,1.14,2.92,2.19,3.91,3.14
                                        c1.2,1.14,2.23,2.19,3.1,3.14c0,0.06-0.07,0.18-0.22,0.36c-0.9,1.32-1.36,1.98-1.39,1.98c-1.32-1.5-2.71-2.88-4.18-4.13
                                        c-1.2-1.02-2.2-1.74-3.01-2.16c0-0.15,0.46-0.82,1.39-2.02C69.28,158.7,69.42,158.59,69.54,158.59z M70.62,138.87v5.53h10.6v-5.53
                                        H70.62z M70.62,152.66h10.6v-5.39h-10.6V152.66z M83.42,161.11c1.62,1.29,2.95,2.47,4,3.55c1.26,1.35,2.31,2.56,3.14,3.64
                                        c0,0.06-0.07,0.2-0.22,0.4c-0.9,1.29-1.36,1.93-1.39,1.93c-1.35-1.71-2.79-3.26-4.31-4.67c-1.23-1.17-2.25-2.01-3.05-2.52
                                        c0-0.18,0.46-0.85,1.39-2.02C83.12,161.21,83.27,161.11,83.42,161.11z"/>
                                    <path class="st2" d="M95.05,155h8.09c0.6,0,0.9,0.18,0.9,0.54v10.11c0,0.54,0.03,1.26,0.09,2.16c0.6,1.17,1.36,2.17,2.29,3.01
                                        c1.2,0.84,2.98,1.26,5.35,1.26h12.26c1.08,0,2.9-0.12,5.48-0.36c2.37-0.24,4.18-0.52,5.44-0.85c0.18-0.03,0.36-0.04,0.54-0.04
                                        c0.24,0,0.36,0.12,0.36,0.36c-0.57,1.05-1.05,1.99-1.44,2.83c-0.06,0.63-0.36,0.94-0.9,0.94h-21.74c-3.14,0-5.66-0.79-7.55-2.38
                                        c-0.84-0.87-1.62-2.07-2.34-3.59c-1.32,1.47-2.5,2.83-3.55,4.09c-0.63,0.48-0.97,1.03-1.03,1.66c0,0.54-0.09,0.81-0.27,0.81
                                        c-0.12,0-0.31-0.15-0.58-0.45l-2.29-3.32c0.72-0.09,2.65-1.59,5.79-4.49c0.48-0.24,0.72-0.78,0.72-1.62v-7.73h-5.62
                                        c-0.36,0-0.54-0.25-0.54-0.76v-1.44C94.52,155.24,94.7,155,95.05,155z M96.85,144.62c1.65,0.66,2.99,1.3,4.04,1.93
                                        c1.26,0.72,2.31,1.39,3.14,2.02c0,0.03-0.08,0.15-0.22,0.36c-0.9,1.29-1.36,1.93-1.39,1.93c-1.35-0.96-2.79-1.83-4.31-2.61
                                        c-1.23-0.63-2.25-1.08-3.05-1.35c0-0.15,0.46-0.81,1.39-1.98C96.6,144.73,96.73,144.62,96.85,144.62z M98.11,134.7
                                        c1.5,0.72,2.74,1.36,3.73,1.93c1.14,0.75,2.11,1.42,2.92,2.02c0,0.06-0.08,0.2-0.22,0.4c-0.87,1.32-1.33,1.98-1.39,1.98
                                        c-1.26-0.96-2.58-1.84-3.95-2.65c-1.14-0.63-2.1-1.06-2.88-1.3c0-0.21,0.48-0.88,1.44-2.02C97.87,134.82,97.99,134.7,98.11,134.7z
                                         M110.87,138.11h8.45v-3.41c0-0.36,0.24-0.54,0.72-0.54c2.28,0,3.41,0.18,3.41,0.54c0,0.42-0.15,0.66-0.45,0.72
                                        c-0.3,0.03-0.45,0.33-0.45,0.9v1.8h8.8c0.24,0,0.36,0.18,0.36,0.54v1.44c0,0.51-0.12,0.76-0.36,0.76h-8.8v3.19h11.86
                                        c0.24,0,0.36,0.2,0.36,0.58v1.39c0,0.51-0.12,0.76-0.36,0.76H114.6c0.72,0.93,1.3,1.81,1.75,2.65c0.45,0.81,0.84,1.65,1.17,2.52
                                        c0,0.09-0.69,0.33-2.07,0.72h9.79c-0.39-0.18-0.75-0.34-1.08-0.49c-0.24-0.12-0.36-0.19-0.36-0.22c0-0.06,0.04-0.13,0.13-0.22
                                        c0.63-0.81,1.11-1.53,1.44-2.16c0.48-0.81,0.84-1.63,1.08-2.47c0.06-0.21,0.13-0.31,0.22-0.31l2.43,0.99
                                        c0.42,0.15,0.63,0.36,0.63,0.63c0,0.15-0.09,0.25-0.27,0.31c-0.27,0-0.45,0.11-0.54,0.31c-0.63,1.53-1.26,2.74-1.89,3.64h6.65
                                        c0.24,0,0.36,0.18,0.36,0.54v1.44c0,0.48-0.12,0.72-0.36,0.72h-11.14v3.23h8.62c0.24,0,0.36,0.18,0.36,0.54v1.44
                                        c0,0.48-0.12,0.72-0.36,0.72h-8.62v3.05h11.14c0.24,0,0.36,0.18,0.36,0.54v1.44c0,0.48-0.12,0.72-0.36,0.72h-11.14v3.77
                                        c0,0.39-0.24,0.58-0.72,0.58h-1.8c-0.48,0-0.72-0.2-0.72-0.58v-3.77h-11.5c-0.24,0-0.36-0.24-0.36-0.72v-1.44
                                        c0-0.36,0.12-0.54,0.36-0.54h11.5v-3.05h-9.34c-0.24,0-0.36-0.24-0.36-0.72v-1.44c0-0.36,0.12-0.54,0.36-0.54h9.34v-3.23h-11.5
                                        c-0.24,0-0.36-0.24-0.36-0.72v-1.44c0-0.36,0.12-0.54,0.36-0.54h6.96c-0.15-0.54-0.42-1.15-0.81-1.84c-0.45-0.96-1.05-1.9-1.8-2.83
                                        c0-0.18,0.64-0.58,1.93-1.21h-6.47c-0.24,0-0.36-0.25-0.36-0.76v-1.39c0-0.39,0.12-0.58,0.36-0.58h11.68v-3.19h-8.45
                                        c-0.24,0-0.36-0.25-0.36-0.76v-1.44C110.51,138.29,110.63,138.11,110.87,138.11z"/>
                                </g>
                                <g>
                                    <path id="m-l" class="st0" d="M69,120c0,0-56-16-56-56V0h64v16H29v47c0,28.6,40,41,40,41s40-12.65,40-41.25V16H85V0h40v64
                                        C125,104,69,120,69,120z M85,16h16v45c0,22.59-32,34-32,34S37,83.59,37,61V24h16v36.5C53,71.8,69,78,69,78s16-6.2,16-17.5V16z
                                         M69,69c0,0-8-3.6-8-9.25V16h16v43.75C77,65.4,69,69,69,69z"/>
                                </g>
                                <g>
                                    <path id="m-j" class="st1" d="M69,120c0,0,56-16,56-56V0H85v16h24v46.75
                                        C109,91.35,69,104,69,104V120z M69,95c0,0,32-11.41,32-34V16H85v44.5C85,71.8,69,78,69,78V95z"/>
                                </g>
                            </g>
                        </g>
                        <circle class="c1_solid" cx="0" cy="50" r="96" fill="none" stroke-width="1" stroke="url(#grad1)" opacity="0.9" />
                    </g>
                </g>
                
            </svg>
        </div>
    </div>
    <main class="main">
        <section class="section pt-5">
            <div class="container-xl">
                <h2 class="mb-3"><%= lorem_sentence %></h2>
                <% (1..6).map do |i| %>
                <p><%= lorem_paragraphs(2) %></p>
                <% end %>
            </div>
        </section>
        <section class="section pb-5">
            <div class="container-xl">
                <h2 class="mb-3"><%= lorem_sentence %></h2>
                <% (1..6).map do |i| %>
                <p><%= lorem_paragraphs(2) %></p>
                <% end %>
            </div>
        </section>
    </main>
</div>


<% content_for :js do %>
 <script>
     
</script>
<% end %>