<!-- ntu: 在學生 - 學生基本資料 -->

<div class="container-lg">
	<div class="page-content">
	    <aside class="aside offcanvas-collapse">
			<div class="scrollbar-inner">
				<div class="user-wrapper">
				    <p><i class="far fa-user-circle"></i></p>
                    <div class="dropdown">
                        <button class="dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Angela Winson
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Change password</a></li>
                            <li><a class="dropdown-item" href="#">Log out</a></li>
                        </ul>
                    </div>
				</div>
		        <div class="sidenav">
                    <ul class="navigation menu-item">
                        <li><a class="nav-item" href="#">首頁</a></li>
                        <li><a class="nav-item" href="#">報名紀錄查詢</a></li>
						<li><a class="nav-item" href="#">繳費作業</a></li>
                        <li><a class="nav-item" href="#">獎學金資料上傳</a></li>
						<li><a class="nav-item" href="#">表單申請紀錄</a></li>
                    </ul>
				</div>
			</div>
		</aside>
		<div id="widget-overlay"></div>
		<main class="main">
			<!-- 操作自己的基本資料不需要再給本人名稱 -->
			<h2 class="mb-4">學生基本資料</h2>
            <section class="application-section">
				<fieldset disabled>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="form-label">在臺電話</label>
                                <input type="text" class="form-control" value="0987654321">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="form-label">在臺地址</label>
                                <input type="text" class="form-control" value="106台北市大安區羅斯福路四段85號B1">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="form-label">Email</label>
                                <input type="text" class="form-control" value="angelawinson@gmail.com">
                                <div class="form-text">同時作為帳號使用</div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="form-label">備用 email</label>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                    </div>
				  </fieldset>
            </section>
			
			<section class="application-section refund-wrapper">
				<h4 class="section-title unafter">
                    <span>密碼修改</span>
                </h4>
				<div class="row">
					<div class="col-sm-6">
                        <div class="form-group">
                            <label for="exampleFormControlInput2" class="form-label">密碼</label>
                            <input type="password" class="form-control" id="exampleFormControlInput2" />
                            <div class="form-text">須變更時候輸入</div>
                        </div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-6">
                        <div class="form-group">
                            <label for="exampleFormControlInput3" class="form-label">再次輸入密碼</label>
                            <input type="password" class="form-control" id="exampleFormControlInput3" />
                            <div class="form-text">須變更時候輸入</div>
                        </div>
					</div>
				</div>
            </section>
			<div class="form-action">
                <button type="submit" class="btn btn-lg btn-primary">儲存</button>
			</div>
		</main>
	</div>
</div>


<%= render :partial => "/partials/upload-history" %>

<% content_for :js do %>
    <!-- sidenav scrollbar -->
    <script src="../javascripts/jquery.scrollbar.min.js"></script>
    <script>
        jQuery(document).ready(function(){
            jQuery('.scrollbar-inner').scrollbar();
        });
	</script>

    <!-- sidenav open -->
	<script>
        (function () {
          'use strict'

          document.querySelector('#navbarSideCollapse').addEventListener('click', function () {
            document.querySelector('.offcanvas-collapse').classList.toggle('open')
          })
        })()
	</script>

    <!-- sidenav close -->
    <script>
        $("#widget-overlay").click(function(){
            $(".offcanvas-collapse").removeClass("open");
        });
	</script>
<% end %>

