<!-- ntu: 在學生 - 續讀調查填寫 -->

<div class="container-lg">
	<div class="page-content">
	    <aside class="aside offcanvas-collapse">
			<div class="scrollbar-inner">
				<div class="user-wrapper">
				    <p><i class="far fa-user-circle"></i></p>
                    <div class="dropdown">
                        <button class="dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Angela Winson
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Change password</a></li>
                            <li><a class="dropdown-item" href="#">Log out</a></li>
                        </ul>
                    </div>
				</div>
		        <div class="sidenav">
                    <ul class="navigation menu-item">
                        <li><a class="nav-item" href="#">首頁</a></li>
                        <li><a class="nav-item" href="#">報名紀錄查詢</a></li>
						<li><a class="nav-item" href="#">繳費作業</a></li>
                        <li><a class="nav-item" href="#">獎學金資料上傳</a></li>
						<li><a class="nav-item" href="#">表單申請紀錄</a></li>
                    </ul>
				</div>
			</div>
		</aside>
		<div id="widget-overlay"></div>
		<main class="main">
			<section class="application-section resume-section">
				<h4 class="section-title unafter">
                    <span>續讀學生基本資料</span>
                </h4>
				<div class="row">
				    <div class="col-sm-6 col-md-4">
					    <span class="resume-label">Your current class</span>
						<span class="resume-output">A02</span>
					</div>
					<div class="col-sm-6 col-md-4">
					    <span class="resume-label">Student ID</span>
						<span class="resume-output">A123456789</span>
					</div>
					<div class="col-sm-6 col-md-4">
					    <span class="resume-label">Full name in passport</span>
						<span class="resume-output">Angela Winson</span>
					</div>
					<div class="col-sm-6 col-md-4">
					    <span class="resume-label">Cell phone</span>
						<span class="resume-output">09218888888</span>
					</div>
					<div class="col-sm-6 col-md-4">
					    <span class="resume-label">E-Mail</span>
						<span class="resume-output">angelawinson@gmail.com</span>
					</div>
				</div>
			</section>
			
			<section class="application-section resume-section">
				<h4 class="section-title unafter">
                    <span>續讀調查內容</span>
                </h4>
				<div class="form-group">
                    <label class="form-label">You hope to</label>
                    <div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="hopeCLD" id="hopeCLDContinue" value="option1">
                            <label class="form-check-label" for="hopeCLDContinue">Continue studying in CLD</label>
                        </div>
						
						<!-- 勾選離開時隱藏 .continue-wrapper 以及 .continue-notice -->
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="hopeCLD" id="hopeCLDLeave" value="option2">
                            <label class="form-check-label" for="hopeCLDLeave">Leave CLD</label>
                        </div>
                    </div>
					<div class="form-text">Please choose only one from two</div>
                </div>
				
				<div class="continue-wrapper">
                    <div class="form-group">
                        <label class="form-label">Next term prefer Class Period</label>
                        <div class="notice-wrapper has-background mt-1">
							<h4 class="notice-title">Precautions</h4>
                            <p>Please mark “1” for first choice, “2” for second one, etc. While there are many considerations for class arrangement, CLD makes the final decision and it’s not guaranteed that you can definitely have the class you want.</p>
                        </div>
						<div>
                            <h5 class="group-title">可選擇時段</h5>
                            <div class="form-check-group">
                                <label class="d-block mb-2">(A) 08:20-11:10</label>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="schoolTime_a" id="schoolTime_a1" />
                                    <label class="form-check-label" for="schoolTime_a1">
                                        Volunteer 1
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="schoolTime_a" id="schoolTime_a2" />
                                    <label class="form-check-label" for="schoolTime_a2">
                                        Volunteer 2
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="schoolTime_a" id="schoolTime_a3" />
                                    <label class="form-check-label" for="schoolTime_a3">
                                        Volunteer 3
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="schoolTime_a" id="schoolTime_a4" />
                                    <label class="form-check-label" for="schoolTime_a4">
                                        Can't take Class
                                    </label>
                                </div>
                            </div>

                            <div class="form-check-group">
                                <label class="d-block mb-2">(B) 12:00-14:50</label>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="schoolTime_b" id="schoolTime_b1" />
                                    <label class="form-check-label" for="schoolTime_b1">
                                        志願 1
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="schoolTime_b" id="schoolTime_b2" />
                                    <label class="form-check-label" for="schoolTime_b2">
                                        志願 2
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="schoolTime_b" id="schoolTime_b3" />
                                    <label class="form-check-label" for="schoolTime_b3">
                                        志願 3
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="schoolTime_b" id="schoolTime_b4" />
                                    <label class="form-check-label" for="schoolTime_b4">
                                        無法上課
                                    </label>
                                </div>
                            </div>

                            <div class="form-check-group">
                                <label class="d-block mb-2">(C) 15:10-18:00</label>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="schoolTime_c" id="schoolTime_c1" />
                                    <label class="form-check-label" for="schoolTime_c1">
                                        志願 1
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="schoolTime_c" id="schoolTime_c2" />
                                    <label class="form-check-label" for="schoolTime_c2">
                                        志願 2
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="schoolTime_c" id="schoolTime_c3" />
                                    <label class="form-check-label" for="schoolTime_c3">
                                        志願 3
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="schoolTime_c" id="schoolTime_c4" />
                                    <label class="form-check-label" for="schoolTime_c4">
                                        無法上課
                                    </label>
                                </div>
                            </div>
						</div>
                    </div>
				</div>
				
				<div class="form-group">
				    <label for="leaveComments" class="form-label">Any other comments, suggestions, or concerns?</label>
					<textarea class="form-control" id="leaveComments" rows="3"></textarea>
				</div>
				
				<!-- .continue-notice -->
				<div class="notice-wrapper continue-notice has-background mt-1">
                    <h4 class="notice-title">Precautions</h4>
                    <p><%= lorem_paragraph %></p>
                </div>
			</section>
			
			<section class="application-section resume-section">
				<h4 class="section-title unafter">
                    <span>Q&A</span>
                </h4>
				<!-- 編號以及問答前方 icon 皆為 css 產生 -->
				<ul class="menu-item qa-list">
				    <li>
						<div class="inner">
                            <span class="question">Does everyone have to fill out this form?</span>
                            <span class="answer">Yes, please fill out this form by deadline even if you are not going to study in CLD next semester.</span>
						</div>
					</li>
					<% (2..6).map do |i| %>
					<li>
						<div class="inner">
                            <span class="question"><%= lorem_paragraph %></span>
                            <span class="answer"><%= lorem_paragraph %></span>
						</div>
					</li>
					<% end %>
					<li>
						<div class="inner">
                            <span class="question">加購意外險（非全民健康保險）?</span>
                            <span class="answer">敬請於繳費時主動告知，本組不會自動續保。</span>
						</div>
					</li>
				</ul>
                <div class="mb-5 mt-4">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                             I have read all mentioned above and there is no problem with it.
                        </label>
                    </div>
                </div>	
			</section>
            <div class="form-action">
                <button type="submit" class="btn btn-lg btn-primary">Submit</button>
			</div>
		</main>
	</div>
</div>



<% content_for :js do %>
    <!-- sidenav scrollbar -->
    <script src="../javascripts/jquery.scrollbar.min.js"></script>
    <script>
        jQuery(document).ready(function(){
            jQuery('.scrollbar-inner').scrollbar();
        });
	</script>

    <!-- sidenav open -->
	<script>
        (function () {
          'use strict'

          document.querySelector('#navbarSideCollapse').addEventListener('click', function () {
            document.querySelector('.offcanvas-collapse').classList.toggle('open')
          })
        })()
	</script>

    <!-- sidenav close -->
    <script>
        $("#widget-overlay").click(function(){
            $(".offcanvas-collapse").removeClass("open");
        });
	</script>
<% end %>

