<!-- ntu: 在學生 - 繳費作業 -->

<div class="container-lg">
	<div class="page-content">
	    <aside class="aside offcanvas-collapse">
			<div class="scrollbar-inner">
				<div class="user-wrapper">
				    <p><i class="far fa-user-circle"></i></p>
                    <div class="dropdown">
                        <button class="dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Angela Winson
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Change password</a></li>
                            <li><a class="dropdown-item" href="#">Log out</a></li>
                        </ul>
                    </div>
				</div>
		        <div class="sidenav">
                    <ul class="navigation menu-item">
                        <li><a class="nav-item" href="#">首頁</a></li>
                        <li><a class="nav-item" href="#">報名紀錄查詢</a></li>
						<li><a class="nav-item current" href="#">繳費作業</a></li>
                        <li><a class="nav-item" href="#">獎學金資料上傳</a></li>
						<li><a class="nav-item" href="#">表單申請紀錄</a></li>
                    </ul>
				</div>
			</div>
		</aside>
		<div id="widget-overlay"></div>
		<main class="main">
			<h2 class="mb-4">繳費作業</h2>
            <section class="application-section resume-section">
				<h4 class="section-title unafter">
                    <span>四季班報名紀錄</span>
                </h4>
                <div class="rwd-container">
                    <div class="record-table">
                        <div class="record-cell">
                            <span class="record-row">課程名稱</span>
                            <span class="record-row">2022 春季班</span>
                        </div>
                        <div class="record-cell">
                            <span class="record-row">上課日期</span>
                            <span class="record-row">2022/06/01 ~ 2022/09/31</span>
                        </div>
                        <div class="record-cell">
                            <span class="record-row">應繳學費</span>
                            <span class="record-row">45000</span>
                        </div>
                        <div class="record-cell">
                            <span class="record-row">已繳學費</span>
                            <span class="record-row">25000</span>
                        </div>
                        <div class="record-cell">
                            <span class="record-row">操作</span>
                            <span class="record-row">
                                <a href="#" class="btn btn-outline-primary">前往繳費</a>
                            </span>
                        </div>
                    </div>
                </div>
            </section>
			<section class="application-section resume-section">
				<h4 class="section-title unafter">
                    <span>個人班報名紀錄</span>
                </h4>
                <div class="rwd-container">
                    <div class="record-table">
                        <div class="record-cell">
                            <span class="record-row">課程名稱</span>
                            <span class="record-row">2022 個人飛高高班</span>
                        </div>
                        <div class="record-cell">
                            <span class="record-row">上課日期</span>
                            <span class="record-row">2022/06/01 ~ 2022/09/31</span>
                        </div>
                        <div class="record-cell">
                            <span class="record-row">應繳學費</span>
                            <span class="record-row">45000</span>
                        </div>
                        <div class="record-cell">
                            <span class="record-row">已繳學費</span>
                            <span class="record-row">25000</span>
                        </div>
                        <div class="record-cell">
                            <span class="record-row">操作</span>
                            <span class="record-row">
                                <a href="#" class="btn btn-outline-primary">前往繳費</a>
                            </span>
                        </div>
                    </div>
                </div>
            </section>
		</main>
	</div>
</div>


<% content_for :js do %>
    <!-- sidenav scrollbar -->
    <script src="../javascripts/jquery.scrollbar.min.js"></script>
    <script>
        jQuery(document).ready(function(){
            jQuery('.scrollbar-inner').scrollbar();
        });
	</script>

    <!-- sidenav open -->
	<script>
        (function () {
          'use strict'

          document.querySelector('#navbarSideCollapse').addEventListener('click', function () {
            document.querySelector('.offcanvas-collapse').classList.toggle('open')
          })
        })()
	</script>

    <!-- sidenav close -->
    <script>
        $("#widget-overlay").click(function(){
            $(".offcanvas-collapse").removeClass("open");
        });
	</script>
<% end %>

