<!-- admin-page: 前端 - 技術類別及意願分類 -->

<%= render :partial => "/partials/admin_breadcrumb" %>

<main class="main">
	<div class="clearfix">
        <div class="profile-sidebar">
            <div class="col-block">
                <div class="block-content expansion">
                    <div class="profile-avatar pt-3">
                        <div class="scrap">
                            <div class="scrap-name">
                                <span class="h4">黃良得</span>
                                <span class="h6">Huang Lean-Teik</span>
                            </div>
                            <div class="scrap-info pb-3">
                                <span class="school">教授</span>
                                <span class="department">台灣大學農業化學系(所)</span>
                            </div>
                            <div class="border border-info rounded-pill p-2 mb-4"><small>可填寫時間：</small>YYYY-MM-DD 09:00</div>
                        </div>
                    </div>
                    <div class="px-4 py-4">
                        <span>主題徵案調查：</span>
                        <div class="mt-2 mb-3">
                            代謝組學特徵影響研究徵案調查
                        </div>
                        <button type="button" class="btn btn-block btn-info">前往</button>
                    </div>
                </div>
            </div>
        </div>
		<div class="profile-content">
            
            <div class="card border-dark p-3 mb-3">
                <h6>操作說明：</h6>
                請點選頁籤上的類別，並針對每一個類別中的文件進行填寫商化意願調查
            </div>
            
            <div class="col-block block-tabs">
                <ul class="nav nav-tabs" id="ex1" role="tablist">
                    <li class="nav-item" role="presentation">
                        <a class="nav-link active" id="ex1-tab-1" data-bs-toggle="tab" href="#ex1-tabs-1" role="tab" aria-controls="ex1-tabs-1" aria-selected="true">臺灣專利 <span class="badge rounded-pill text-bg-warning">9</span></a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" id="ex1-tab-2" data-bs-toggle="tab" href="#ex1-tabs-2" role="tab" aria-controls="ex1-tabs-2" aria-selected="false">政府補助計畫 <span class="badge rounded-pill text-bg-warning">99</span></a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" id="ex1-tab-3" data-bs-toggle="tab" href="#ex1-tabs-3" role="tab" aria-controls="ex1-tabs-3" aria-selected="false">學術文獻 <span class="badge rounded-pill text-bg-warning">99</span></a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" id="ex1-tab-4" data-bs-toggle="tab" href="#ex1-tabs-4" role="tab" aria-controls="ex1-tabs-4" aria-selected="false">全球專利 <span class="badge rounded-pill text-bg-warning">99</span></a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" id="ex1-tab-5" data-bs-toggle="tab" href="#ex1-tabs-5" role="tab" aria-controls="ex1-tabs-5" aria-selected="false">博碩士論文 <span class="badge rounded-pill text-bg-warning">99</span></a>
                    </li>
                </ul>

                <div class="block-content tab-content" id="ex1-content">
                    
                    
                    <div class="tab-pane fade show active" id="ex1-tabs-1" role="tabpanel" aria-labelledby="ex1-tab-1">
                        
                        <div class="patent-investigation">
                            
                            <% (1..3).map do |i| %>
                            <div class="item-patent">
                                
                                <div class="item-start">
                                    <h6 class="patent-title mb-3"><a href="#">不同量氮、鉀對萬能薯生長、養分吸收及cynandione A含量的影響與其cynandione A生合成機制的研究</a></h6>
                                    <div class="mb-3">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault2" />
                                            <label class="form-check-label" for="flexCheckDefault2">
                                                全選
                                            </label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-6">
                                            <div class="form-check mb-1">
                                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault3" />
                                                <label class="form-check-label" for="flexCheckDefault3">
                                                    帶領學生投入創業
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="form-check mb-1">
                                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault4" />
                                                <label class="form-check-label" for="flexCheckDefault4">
                                                    邀請創業專家共作投入創業
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="form-check mb-1">
                                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault5" />
                                                <label class="form-check-label" for="flexCheckDefault5">
                                                    需與廠商互動(技術創新/解決瓶頸/共提合作)
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="form-check mb-1">
                                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault6" />
                                                <label class="form-check-label" for="flexCheckDefault6">
                                                    技術移轉他人
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                                
                                <div class="item-end">
                                    <ul class="menu-item">
                                        <li>
                                            <span>AI 生成 TDF文件</span>
                                            <a href="#"><i class="fas fa-cloud-download-alt"></i> 下載</a>
                                        </li>
                                        <li>
                                            <span>技術文件 TDF</span>
                                            <a href="#"><i class="fas fa-plus"></i> 建立</a>
                                        </li>
                                        <li>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
                                                <label class="form-check-label" for="flexCheckDefault">
                                                    技術文件 TDF
                                                </label>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <% end %>
                            
                            <div class="item-patent">
                                
                                <div class="item-start">
                                    <h6 class="patent-title mb-3"><a href="#">不同製備條件的舞菇多醣體與免疫受體的結合特性及活性研究</a></h6>
                                    <div class="mb-3">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault2" />
                                            <label class="form-check-label" for="flexCheckDefault2">
                                                全選
                                            </label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-6">
                                            <div class="form-check mb-1">
                                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault3" />
                                                <label class="form-check-label" for="flexCheckDefault3">
                                                    帶領學生投入創業
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="form-check mb-1">
                                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault4" />
                                                <label class="form-check-label" for="flexCheckDefault4">
                                                    邀請創業專家共作投入創業
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="form-check mb-1">
                                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault5" />
                                                <label class="form-check-label" for="flexCheckDefault5">
                                                    需與廠商互動(技術創新/解決瓶頸/共提合作)
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="form-check mb-1">
                                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault6" />
                                                <label class="form-check-label" for="flexCheckDefault6">
                                                    技術移轉他人
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                                
                                <div class="item-end">
                                    <ul class="menu-item">
                                        <li>
                                            <span>AI 生成 TDF文件</span>
                                            <a href="#" class="btn btn-light">自動生成</a>
                                        </li>
                                        <li>
                                            <span>技術文件 TDF</span>
                                            <a href="#"><i class="fas fa-exclamation-triangle"></i> 維護</a>
                                        </li>
                                        <li>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
                                                <label class="form-check-label" for="flexCheckDefault">
                                                    技術文件 TDF
                                                </label>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                                
                        </div>
                        
                    </div>
                    
                    
                    <div class="tab-pane fade" id="ex1-tabs-2" role="tabpanel" aria-labelledby="ex1-tab-2">
                        請參考臺灣專利
                    </div>
                    <div class="tab-pane fade" id="ex1-tabs-3" role="tabpanel" aria-labelledby="ex1-tab-3">
                        請參考臺灣專利
                    </div>
                    <div class="tab-pane fade" id="ex1-tabs-4" role="tabpanel" aria-labelledby="ex1-tab-4">
                        請參考臺灣專利
                    </div>
                    <div class="tab-pane fade" id="ex1-tabs-5" role="tabpanel" aria-labelledby="ex1-tab-5">
                        請參考臺灣專利
                    </div>
                </div>
            </div>
            
            <div class="d-flex justify-content-between mt-2">
                <div>
                    <div class="border border-info rounded-pill py-2 px-3 mb-4"><small>最後異動時間：</small>YYYY-MM-DD 20:05 王OO</div>
                </div>
                <div>
                    <button type="button" class="btn btn-lg btn-success">儲存</button>
                    <button type="button" class="btn btn-lg btn-primary" data-bs-toggle="modal" data-bs-target="#investigationModal">送出調查結果</button>
                </div>
            </div>

		</div>
	</div>
</main>

<!-- Modal -->
<div class="modal fade" id="investigationModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">調查延續作業說明</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p class="my-4">針對各項技術文件的商化意願調查提供您相關作業說明資訊</p>
                <div class="mt-4 mb-5">
                    <h5 class="fw-bold">帶領學生投入創業</h5>
                    <div class="border p-4 pb-2">
                        <p>自定義文字 連結 tiny editor</p>
                    </div>
                </div>
                <div class="mt-4 mb-5">
                    <h5 class="fw-bold">邀請創業專家共作投入創業</h5>
                    <div class="border p-4 pb-2">
                        <p><%= lorem_paragraph %></p>
                    </div>
                </div>
                <div class="mt-4 mb-5">
                    <h5 class="fw-bold">需與廠商互動</h5>
                    <div class="border p-4 pb-2">
                        <p><%= lorem_paragraph %></p>
                    </div>
                </div>
                <div class="mt-4 mb-5">
                    <h5 class="fw-bold">技術移轉他人</h5>
                    <div class="border p-4 pb-2">
                        <p><%= lorem_paragraph %></p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-dark"><i class="far fa-file-pdf"></i> 下載PDF</a>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">關閉</button>
            </div>
        </div>
    </div>
</div>

<% content_for :js do %>

<% end %>