<!-- admin-page: 前端 - 徵案調查填寫 -->
<%= render :partial => "/partials/admin_breadcrumb" %>

<main class="main">
	<div class="clearfix">
        <div class="profile-sidebar">
            <div class="col-block">
                <div class="block-content expansion">
                    <div class="profile-avatar pt-3">
                        <div class="scrap">
                            <div class="scrap-name">
                                <span class="h4">黃良得</span>
                                <span class="h6">Huang Lean-Teik</span>
                            </div>
                            <div class="scrap-info pb-3">
                                <span class="school">教授</span>
                                <span class="department">台灣大學農業化學系(所)</span>
                            </div>
                            <div class="border border-info rounded-pill p-2 mb-4"><small>可填寫時間：</small>YYYY-MM-DD 09:00</div>
                        </div>
                    </div>
                    <div class="px-4 pt-4">
                        <span>合作專長：</span>
                        <div class="mt-2 mb-3">
                            <ul class="menu-item">
                                <li>天然物生物技術</li>
                                <li>生物資源利用</li>
                                <li>保健品開發與品質管制</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
		<div class="profile-content">        
            <div class="narrow-wrapper">
                <div class="col-block">
                    <div class="block-header has-border">
                        <h4>徵案意願調查表</h4>
                    </div>
                    <div class="block-content">
                        <div class="form-group">
                            <label class="form-label fw-bold">1. 參加本專案意願</label>
                            <div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1" />
                                    <label class="form-check-label" for="inlineRadio1">願意參加</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2" />
                                    <label class="form-check-label" for="inlineRadio2">不願意參加</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3" />
                                    <label class="form-check-label" for="inlineRadio3">再想一下</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="form-label fw-bold" for="exInput1">2. Contect NAME</label>
                            <input class="form-control w-50" type="text" id="exInput1" value="黃良得">
                        </div>
                        <div class="form-group">
                            <label class="form-label fw-bold" for="exInput2">3. Contect Email</label>
                            <input class="form-control w-50" type="email" id="exInput2" value="sa@aa.com.tw">
                        </div>
                        <div class="form-group">
                            <label class="form-label fw-bold" for="exInput3">4. Phone</label>
                            <input class="form-control w-50" type="text" id="exInput3" value="0289336651">
                        </div>
                        <section class="section">
                            <div class="section-title">
                                <h5>登錄媒合技術資料</h5>
                            </div>
                            <div class="mb-5">
                                <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="fas fa-plus"></i> 新增一筆</button>
                            </div>
                            
                            <div class="mb-4">
                                <div class="d-flex justify-content-between">
                                    <div><h5>技術標題1</h5></div>
                                    <div class="ps-5">
                                        <div class="btn-group btn-group-sm unshadow">
                                            <a class="btn btn-primary" role="button" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="fas fa-pencil-alt"></i></a>
                                            <a class="btn btn-danger" role="button"><i class="fas fa-times"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="card p-3">
                                    <ul class="menu-item">
                                        <li class="mb-3">
                                            <span class="d-block fw-bold">技術類型</span>
                                            <div>綠能再進化</div>
                                        </li>
                                        <li class="mb-3">
                                            <span class="d-block fw-bold">目標TA</span>
                                            <div>模型語言是指透過計算機技術，訓練出能夠理解和生成人類語言的人工智慧模型。這些模型使用大量的文字資料進行學習，從而能夠執行翻譯、問答、文本生成等多種任務。其中，GPT-3（Generative Pre-trained Transformer 3）是一個具有代表性的模型，具備極高的自然語言理解和生成能力，能夠產生流暢、具有上下文的文本。模型語言正在不斷革新，對於教育、商業和科研領域都有深遠的影響，為人機溝通帶來全新的可能性。</div>
                                        </li>
                                        <li class="mb-3">
                                            <span class="d-block fw-bold">技術特點</span>
                                            <div>模型語言利用大數據訓練，具備翻譯、生成等能力，代表作GPT-3強化人機溝通，推動教育、商業創新。</div>
                                        </li>
                                        <li class="mb-3">
                                            <span class="d-block fw-bold">應用領域</span>
                                            <div>綠能再進化</div>
                                        </li>
                                        <li class="mb-3">
                                            <span class="d-block fw-bold">技術研發階段進度</span>
                                            <div>TRL or Discovery</div>
                                        </li>
                                        <li class="mb-3">
                                            <span class="d-block fw-bold">欲合作之模式</span>
                                            <div>技術授權、Sponsored Research資金挹注</div>
                                        </li>
                                        <li class="d-flex">
                                            <span class="me-3">檔案上傳</span>
                                            <span><a href="#"><i class="fas fa-cloud-download-alt"></i> 下載</a></span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="mb-4">
                                <div class="d-flex justify-content-between">
                                    <div><h5>技術標題2</h5></div>
                                    <div class="ps-5">
                                        <div class="btn-group btn-group-sm unshadow">
                                            <a class="btn btn-primary" role="button" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="fas fa-pencil-alt"></i></a>
                                            <a class="btn btn-danger" role="button"><i class="fas fa-times"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="card p-3">
                                    <ul class="menu-item">
                                        <li class="mb-3">
                                            <span class="d-block fw-bold">技術類型</span>
                                            <div>綠能再進化</div>
                                        </li>
                                        <li class="mb-3">
                                            <span class="d-block fw-bold">目標TA</span>
                                            <div>模型語言是指透過計算機技術，訓練出能夠理解和生成人類語言的人工智慧模型。這些模型使用大量的文字資料進行學習，從而能夠執行翻譯、問答、文本生成等多種任務。其中，GPT-3（Generative Pre-trained Transformer 3）是一個具有代表性的模型，具備極高的自然語言理解和生成能力，能夠產生流暢、具有上下文的文本。模型語言正在不斷革新，對於教育、商業和科研領域都有深遠的影響，為人機溝通帶來全新的可能性。</div>
                                        </li>
                                        <li class="mb-3">
                                            <span class="d-block fw-bold">技術特點</span>
                                            <div>模型語言利用大數據訓練，具備翻譯、生成等能力，代表作GPT-3強化人機溝通，推動教育、商業創新。</div>
                                        </li>
                                        <li class="mb-3">
                                            <span class="d-block fw-bold">應用領域</span>
                                            <div></div>
                                        </li>
                                        <li class="mb-3">
                                            <span class="d-block fw-bold">技術研發階段進度</span>
                                            <div>TRL or Discovery</div>
                                        </li>
                                        <li class="mb-3">
                                            <span class="d-block fw-bold">欲合作之模式</span>
                                            <div>技術授權、Sponsored Research資金挹注</div>
                                        </li>
                                        <li class="d-flex">
                                            <span class="fw-bold me-3">檔案上傳</span>
                                            <span><a href="#"><i class="fas fa-cloud-download-alt"></i> 下載</a></span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            
                            <div class="text-center">
                                <button type="submit" class="btn btn-lg btn-primary">送出調查表</button>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
		</div>
	</div>
</main>



<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">批次維護套印資料</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <div class="form-group">
                    <label class="form-label fw-bold" for="exInput1">技術標題</label>
                    <input class="form-control" type="text" id="exInput1">
                </div>
                <div class="form-group">
                    <div class="d-flex">
                        <label class="form-label fw-bold mb-0">技術類型</label>
                        <span class="question-mark">
                            <button type="button" class="btn btn-link btn-rounded"><i class="far fa-question-circle"></i></button>
                        </span>
                    </div>
                    <div class="w-50">
                        <select class="form-select" aria-label="Default select example">
                            <option selected>Open this select menu</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="d-flex">
                        <label class="form-label fw-bold mb-0" for="exFormControlTextarea1">目標 TA</label>
                        <span class="question-mark">
                            <button type="button" class="btn btn-link btn-rounded"><i class="far fa-question-circle"></i></button>
                        </span>
                    </div>
                    <textarea class="form-control" id="exFormControlTextarea1" rows="4"></textarea>
                </div>
                <div class="form-group">
                    <div class="d-flex">
                        <label class="form-label fw-bold mb-0" for="exFormControlTextarea2">技術特點</label>
                        <span class="question-mark">
                            <button type="button" class="btn btn-link btn-rounded"><i class="far fa-question-circle"></i></button>
                        </span>
                    </div>
                    <textarea class="form-control" id="exFormControlTextarea2" rows="4"></textarea>
                </div>
                <div class="form-group">
                    <div class="d-flex">
                        <label class="form-label fw-bold mb-0">應用領域</label>
                        <span class="question-mark">
                            <button type="button" class="btn btn-link btn-rounded"><i class="far fa-question-circle"></i></button>
                        </span>
                    </div>
                    
                    <!-- 如果字串是很長的那種請把 .form-check-inline 拿掉-->
                    <div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1" />
                            <label class="form-check-label" for="inlineCheckbox1">領域1</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2" />
                            <label class="form-check-label" for="inlineCheckbox2">領域2</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3" />
                            <label class="form-check-label" for="inlineCheckbox3">領域3</label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="d-flex">
                        <label class="form-label fw-bold mb-0">技術研發階段進度</label>
                        <span class="question-mark">
                            <button type="button" class="btn btn-link btn-rounded"><i class="far fa-question-circle"></i></button>
                        </span>
                    </div>
                    <div class="w-50">
                        <select class="form-select" aria-label="Default select example">
                            <option selected>Open this select menu</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="d-flex">
                        <label class="form-label fw-bold mb-0">欲合作之模式</label>
                        <span class="question-mark">
                            <button type="button" class="btn btn-link btn-rounded"><i class="far fa-question-circle"></i></button>
                        </span>
                    </div>
                    
                    <!-- 如果字串是很長的那種請把 .form-check-inline 拿掉-->
                    <div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox11" value="option11" />
                            <label class="form-check-label" for="inlineCheckbox11">技術授權</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox12" value="option12" />
                            <label class="form-check-label" for="inlineCheckbox12">Sponsored Research資金挹注</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox13" value="option13" />
                            <label class="form-check-label" for="inlineCheckbox13">共同研發</label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="d-flex">
                        <label class="form-label fw-bold mb-0" for="formFile">檔案上傳</label>
                        <span class="question-mark">
                            <button type="button" class="btn btn-link btn-rounded"><i class="far fa-question-circle"></i></button>
                        </span>
                    </div>
                    <div class="w-50">
                        <input class="form-control" type="file" id="formFile">
                    </div>
                </div>
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">關閉</button>
                <button type="button" class="btn btn-primary">儲存</button>
            </div>
        </div>
    </div>
</div>

<% content_for :js do %>

<% end %>