/* `Footer
-----------------------------------------------------------------------------*/

footer.footer {
	color: #999;
	.footer-inner {
		background: #fff;
		padding: 40px 20px;
	}
	h6 {
		margin-bottom: 1rem;
		font-weight: bold;
	}
    address, .contact p, .language { line-height: 1.5; }
    .contact {
        p { margin-bottom: 0; }
    }
}

/* `Responsive
-----------------------------------------------------------------------------*/

@media (max-width: 991px) {
	footer.footer {
		.float-left, .float-right {
			float: none !important;
		}
		address { margin-top: 1rem; }
	}
}