/* `Header
-----------------------------------------------------------------------------*/

header.header {
	height: 100px;
	.brands {
		a {
            align-items: center;
			color: #333;
            &:hover { text-decoration: none; }
		}
        h1 { margin: 0; }
	}
	.h1-logo {
		display: inline-block;
		width: 71px;
		height: auto;
		vertical-align: middle;
	}
    .logo { margin-right: 20px; }
    .sub {
		padding-top: 10px;
        font-weight: bold;
        line-height: 1.2;
        > span {
            display: block;
            font-size: 1.5rem;
        }
        .sys {
            padding-top: 6px;
            font-size: 1.2rem;
            font-weight: 400;
        }
    }
    .nav-link.dropdown-toggle {
		background: $eight_color;
		padding: 0 1.3rem;
		color: #fff;
		height: 100px;
		line-height: 100px;
		&:hover { background: darken($eight_color, 10); }
	}
	.dropdown.show {
		.nav-link.dropdown-toggle {
			background: darken($eight_color, 10);
		}
	}
	.dropdown-menu {
		background: darken($eight_color, 10);
		border-radius: 0;
		border-color: darken($eight_color, 10);
		.dropdown-item {
			padding: 0.3rem 0.4rem;
			font-size: 1rem;
			color: #fff !important;
			&:hover {
				background: #e6f5f0;
				box-shadow: 0 2px 3px rgba(#000, .1);
				color: darken($eight_color, 10) !important;
			}
		}
		.greetings {
			border-bottom: 1px solid rgba(#fff, .1);
			margin-bottom: 0.5rem;
			padding: 0.3rem 0.4rem 0.75rem;
			color: rgba(#fff, .7);
			display: none;
		}
	}
	.dropdown-divider { border-color: rgba(#fff, .1); }
	.navbar.account {
		box-shadow: none;
		padding: 0;
	}
	.navbar-toggler-icon { display: none; }
}

.header-wrap {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100px;
}

/* `Responsive
-----------------------------------------------------------------------------*/

