
@import "widgets/variables";

/* `Management
-----------------------------------------------------------------------------*/

body.management {
	background: #fff;
	position: relative;
	.form-control { border: 1px solid #ced4da; }
}

body.management-vote {
	.beneath-inner .system-title:after {
        background: $secondary_color;
	}
}

.pages { background-color: transparent; }
.header-wrap {
    padding: 1rem 0;
    &:after { content: none; }
}

.beneath-wrap {
    background: #f2f8fb;
    .account { color: #666; }
    .btn-logout {
        display: inline-block;
        margin-left: 1.25rem;
        color: $secondary_color;
        position: relative;
        &:after {
            content: "";
            background: $bg_border_color;
            width: 1px;
            height: 16px;
            position: absolute;
            left: -0.75rem;
            top: 4px;
        }
        &:hover { color: darken($secondary_color, 10); }
    }
}

.beneath-inner {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    .system-title {
        margin-bottom: 0;
        padding: 1rem 0;
        font-weight: bold;
        position: relative;
        &:after {
            content: "";
            background: $main_color;
            height: 4px;
            position: absolute;
            left: 0;
            right: 0;
            bottom: -4px;
        }
    }
}

.has-wave {
    &:after {
        content: "";
        background: #fff url(../assets/wave.svg) left bottom no-repeat;
        background-size: 100% auto;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: -1;
    }
}

.section-title { margin-bottom: 2.5rem; }

.login-warpper {
    margin: 6rem auto 0;
    width: 375px;
    .forget-password {
        color: #aaa;
        &:hover { color: #333; }
    }
}

.btn-wrapper {
	margin: 6rem auto 0;
	padding: 3rem 2rem 1rem;
	width: 50%;
	.btn {
		margin: 0 0 2rem;
		font-size: 1.125rem;
	}
}

.checklist-menu {
	.checklist-item {
		border-bottom: 1px dashed $base_border_color;
		margin-bottom: 1.5rem;
		padding-bottom: 1rem;
		&:last-child {
            border-bottom: none;
            margin-bottom: 0;
            padding-bottom: 0;
		}
		h5 { margin-bottom: 1rem; }
	}
	.restaurant {
		display: flex;
		align-items: center;
		background: #f7f8f9;
		border-radius: 0.25rem;
		margin-bottom: 0.5rem;
		padding: 0.5rem 1rem;
	}
	.restaurant-title {
		padding-top: 2px;
		font-size: 1.0625rem;
	}
	.status {
		border-radius: 20px;
		margin-left: 0.5rem;
		padding: 0.0625rem 0.75rem;;
		font-size: 0.8125rem;
		color: #fff;
		&.undone {
			background: #de5252;
		}
		&.done {
			background: #61a754;
		}
	}
}

.statistics-wrap {
	border: 1px solid $base_border_color;
	border-radius: 0.25rem;
	margin-bottom: 1.5rem;
	padding: 1rem;
	li {
		display: flex;
		justify-content: space-between;
		border-bottom: 1px dotted $base_border_color;
		margin-bottom: 1rem;
		padding-bottom: 1rem;
		&:last-child {
            border-bottom: none;
            padding-bottom: 0;
		}
	}
	.total {
		padding-top: 1rem;
		position: relative;
		font-weight: bold;
		&:after {
			content: "";
			background: $bg_border_color;
			width: 100%;
			height: 1px;
			position: absolute;
			left: 0;
			top: 0;
		}
	}
	.count {
		font-weight: bold;
		color: #000;
	}
}

.relevant-wrap {
	margin-bottom: 0.25rem;
	ul {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
        border: 1px solid $base_border_color;
        border-radius: 0.25rem;
		padding: 1rem;
	}
	li {
		border-bottom: 1px dashed $base_border_color;
		margin-bottom: 0.75rem;
		padding-bottom: 0.75rem;
		width: 48%;
		&:nth-child(3), &:nth-child(4) {
            border-bottom: none;
			margin-bottom: 0;
            padding-bottom: 0;
			color: #000;
		}
		.lable {
			display: inline-block;
			margin-right: 0.375rem;
			color: #ae5cd8;
		}
	}
}

.qualified {
	text-align: right;
	.btn { margin: 0; }
}

.checklist-form {
	.h5 { margin: 1.5rem 0; }
	.check-item {
		border-bottom: 1px dashed $base_border_color;
		margin-bottom: 1rem;
		padding-bottom: 1rem;
		&:last-child {
            border-bottom: none;
		}
	}
	.description { margin-bottom: 0.25rem; }
}

.form-action {
    border-top: 1px solid #bac4d0;
    margin-top: 1.5rem;
    padding-top: 1.5rem;
	text-align: center;
}

.select-inline {
	display: inline-block;
	.custom-select {
		padding-right: 2rem;
		width: auto;
	}
}

.btn.btn-select-submit {
    margin: 0 0 0 0.375rem;
    padding: 0.4375rem 1.5rem 0.375rem;
	position: relative;
	top: -2px;
}

.table-week {
	th, td { font-size: 1rem; }
	.btn.btn-xs { padding: 0.25rem 0.5rem 0.125rem; }
}

.universal-wrap {
	display: flex;
	justify-content: space-between;
	background: #f7f9fb;
    border-radius: 0.25rem;
	margin-bottom: 2rem;
    padding: 1rem;
	.item {
		width: 48%;
		span {
			display: inline-block;
			margin-right: 0.5rem;
		}
	}
	.lable { color: #999; }
	.output { font-weight: bold; }
}

.vote-detail {
	.block {
        border-bottom: 1px dashed $bg_border_color;
        margin-bottom: 1.5rem;
        padding-bottom: 1.5rem;
		h5 { color: $secondary_color; }
		p { margin-bottom: 0; }
	}
    [class^="col-"]:last-child .block {
        border-bottom: none;
        padding-bottom: 0;
    }
}

.vote-description {
    border-bottom: 1px dashed $bg_border_color;
    margin-bottom: 2.5rem;
    padding-bottom: 1.5rem;
}

.vote-action {
	text-align: center;
}

@media (max-width: 991px) {
    .btn-wrapper {
        margin: 0;
        padding: 3rem 0 0;
        width: 100%;
    }
	.universal-wrap {
		display: block;
		.item { width: 100%; }
	}
}

@media (max-width: 575px) {
    .header-wrap { padding: 0.5rem 0; }
    .beneath-inner {
        .account { font-size: 0.9375rem; }
        .username { display: none; }
        .btn-logout {
            &:after { content: none; }
        }
        .system-title {
            padding: 0.5rem 0;
            font-size: 1.125rem;
            &:after { content: none; }
        }
    }
	.section-title {
		margin-bottom: 1.5rem;
		h3 {
			&:after {
				height: auto;
				bottom: 2px;
			}
			.limit {
				display: block;
				margin-left: 0;
				font-size: 1.25rem;
			}
		}
	}
}

@media (max-width: 480px) {
    .login-warpper {
        margin-top: 4rem;
        width: 340px;
    }
	.relevant-wrap {
		ul { display: block; }
		.menu-item li {
            border-bottom: 1px dashed #e6eaee;
            margin-bottom: 0.5rem;
            padding-bottom: 0.5rem;
			width: 100%;
            &:last-child {
                border-bottom: none;
                margin-bottom: 0;
                padding-bottom: 0;
            }
		}
	}
}

@media (max-width: 479px) {
	.vote-description {
        margin-bottom: 1.75rem;
        padding-bottom: 0.5rem;
	}
	.vote-action {
		.btn {
			display: block;
			margin: 0 0 0.75rem 0;
		}
	}
}

