/* `Header
-----------------------------------------------------------------------------*/

header.header {
	margin-bottom: 40px;
	.brands {
		a {
            align-items: center;
			color: #000;
            &:hover { text-decoration: none; }
		}
        h1 { margin: 0; }
	}
	.h1-logo {
		display: inline-block;
		width: 268px;
		height: auto;
		vertical-align: middle;
	}
    .logo {
        border-right: 1px solid #ebebeb;
        margin-right: 20px;
        padding-right: 20px;
    }
    .sub {
        line-height: 1.2;
        span {
            font-size: 1.1rem;
        }
        .en {padding-left: 10px;
            font-size: 1rem;
        }
    }
    .login-link { font-weight: bold; }
}

.header-wrap {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100px;
}

