<!-- template: about -->

<%= render :partial => "/partials/header" %>

<div class="content page-content">
    <div class="container-xl">
        <section class="section about-section">
            <div class="section-title">
                <h3>關於捷思達</h3>
            </div>
            <div class="section-row">
                <div class="about-copywriting">
                    <p>捷思達數位成立於 2009 年 5 月，致力於「安心的系統開發」，為客戶提供 Web資訊系統、網站建置、APP 等客製化系統開發與基礎維護及資通安全技術服務人力支援。</p>
                    <p>捷思達營運及系統開發品質管理，一直遵循 SSDLC 軟體開發生命週期累積自己的技術與服務競爭力，內部軟體開發管控在 2021 年 3 月通過 ISO 27001 認證，外部專案服務於 2023 年開始也導入 ISO 27034 的開發服務程序，讓有心追求資通安全品質政策之委託案，能有更安心、穩定的管理流程與服務品質。</p>
                    <p>這15年來以「安心的系統開發」不斷精進服務，並且以此口碑贏得教育部、僑委會、國教署、中央研究院、中儲會、中央通訊社、40 多所大學，以及英商安天視聽、德淵上櫃公司等10多家領頭企業的肯定，每年開發、維護 400 多個網路系統專案，更累積 60 多種不同領域的專案實際開發及單位系統整合導入經驗，以下是我們主要的服務優勢：</p>
                </div>
                <div class="about-image">
                    <div class="building">
                        <span class="building3">
                            <svg version="1.1" id="b3" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 512 656">
                            <path class="st st5" d="M130,0h198v592H130V0z"/>
                            <path class="st st6" d="M78,47l52-47v592H78V47z"/>
                            </svg>
                        </span>
                        <span class="building2">
                            <svg version="1.1" id="b2" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 512 656">
                            <path class="st st3" d="M177,140h274v452H177V140z"/>
                            <path class="st st4" d="M130,164l48-24v452h-48V164z"/>
                            </svg>
                        </span>
                        <span class="building1">
                            <svg version="1.1" id="b1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                 viewBox="0 0 512 656" style="enable-background:new 0 0 512 656;" xml:space="preserve">
                                <path class="st st1" d="M104,362h286.5v116H512v178H104V362z"/>
                                <path class="st st2" d="M0,366l104-4v294L0,583V366z"/>
                            </svg>
                        </span>
                    </div>
                </div>
            </div>
            <div class="about-advantage">
                <ul class="menu-item">
                    <li>
                        <span class="img-wrap"><img src="../assets/icon/traget.svg"></span>
                        <div class="text-wrap">
                            <h5>精準需求分析並通過系統檢核</h5>
                            <p>需求分析師除了必須有豐富經驗，並透過系統化管理各項軟體規格。</p>
                        </div>
                    </li>
                    <li>
                        <span class="img-wrap"><img src="../assets/icon/circle-compass.svg"></span>
                        <div class="text-wrap">
                            <h5>系統架構師設計程式框架且通過系統檢核</h5>
                            <p>系統架構師撰寫程式框架，再由工程師依規定撰寫符合標準風格的程式碼及累積組件。</p>
                        </div>
                    </li>
                    <li>
                        <span class="img-wrap"><img src="../assets/icon/tools.svg"></span>
                        <div class="text-wrap">
                            <h5>善用快速開發工具增加應變能力</h5>
                            <p>採用與快速開發工具，為你建構可以精益求精的網路系統，陪伴您在未來多變的營運競爭中，能常保網路系統環境升級的營運優勢。</p>
                        </div>
                    </li>
                    <li>
                        <span class="img-wrap"><img src="../assets/icon/paintbrush.svg"></span>
                        <div class="text-wrap">
                            <h5>專注於 100% 客製化開發</h5>
                            <p>專注於客制化軟體專案開發、累積從無到有的系統開發能力及經驗，而非較簡易的現有系統或套裝軟體修改經驗，讓你隨時能發揮跨領域軟體系統整合的開發創意，常保網路營運的絕對優勢！</p>
                        </div>
                    </li>
                </ul>
            </div>
        </section>
        
        <section class="section vision-section">
            <div class="section-title">
                <h3>使命與願景</h3>
            </div>
            <p>作為軟體開發廠商，我們追求的不僅僅是一次性的交易，更重要的是建立長期且穩固的合作夥伴關係。我們明白客戶的需求不斷變化，因此我們致力於持續的創新和提升，以確保我們的服務能夠與客戶的需求保持同步。</p>
            <p>我們不僅提供高品質的軟體系統開發，更重要的是我們提供全方位的支援和服務。從需求分析到開發實施，再到後續的維護和升級，我們都將全程跟進，確保客戶在整個合作過程中都能夠感受到我們的專業和貼心。</p>
            <p>我們注重溝通和透明度，始終保持與客戶的緊密聯繫，及時反饋和解決問題。我們希望成為客戶的值得信賴的夥伴，不僅能夠滿足客戶的當前需求，更能夠與客戶共同成長和發展。無論是面對挑戰還是機遇，我們都願意與客戶攜手合作，共同創造更美好的未來。</p>
        </section>
    </div>
</div>



<% content_for :js do %>

<% end %>

