<!-- template: contact -->

<%= render :partial => "/partials/header" %>

<div class="content page-content">
    <div class="container-xl">
        <section class="section">
            <div class="section-title">
                <h3>聯絡我們</h3>
            </div>
            <div class="copywriting">
                <p>你是否花費了1至2個月以上的時間整理系統需求，卻依然感到頭痛不已？別擔心，我們能幫助你解決這個難題！通過與您進行3至6小時的會議，我們可以快速為您整理出更專業的開發需求規格書。而這還不是全部——我們不僅專注於規劃，更致力於激發創意，優化流程！</p>
                <p>讓我們幫助您輕鬆實現目標，節省時間，提升效率。</p>
            </div>
            <div class="contact-form">
                <div class="input-wrap">
                    <div class="form-group">
                        <label for="contactInput01" class="form-label">姓名</label>
                        <input type="text" class="form-control" id="contactInput01" />
                    </div>
                    <div class="form-group">
                        <label for="contactInput02" class="form-label">電子信箱</label>
                        <input type="email" class="form-control" id="contactInput02" />
                    </div>
                    <div class="form-group">
                        <label for="contactInput03" class="form-label">聯絡電話</label>
                        <input type="text" class="form-control" id="contactInput03" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="contacTextarea01" class="form-label">詢問內容</label>
                    <textarea class="form-control" id="contacTextarea01" rows="6"></textarea>
                </div>
                <div class="text-end">
                    <button type="submit" class="btn btn-lg btn-outline-secondary px-5">送出</button>
                </div>
            </div>
        </section>
    </div>
</div>



<% content_for :js do %>

<% end %>

