<!-- template: security policy -->

<%= render :partial => "/partials/header" %>

<div class="content page-content">
    <div class="container-xl">
        <section class="section">
            <div class="section-title">
                <h3>資訊安全政策</h3>
            </div>
            <div class="copywriting">
                <p>捷思達數位開發有限公司（簡稱本公司）資訊安全工作之最終目的在於，透過對人員、作業及資訊設備之管理，確保資訊處理作業能安全有效地運作，防範資訊處理作業過程，發生影響資訊機密性、完整性及可用性之安全事件，以保障學校資訊安全為前提，整合基層資訊系統之服務提供，進而建設體系之全景。</p>
                <p>本公司之資訊安全工作係以系統化之風險評估及風險管理為基礎，以管理及技術並重原則，由全體同仁落實於日常工作中，共同努力達成下列目標，以實現本公司資訊安全工作之目標：</p>
                
                <ul>
                    <li>資訊與隱私權之保護完全符合法令要求。</li>
                    <li>資訊處理過程與結果之完整正確。</li>
                    <li>資訊系統與資訊處理作業服務之不間斷。</li>
                </ul>
                
                <p>本公司同仁在資訊安全應扮演之角色及權責等有關規定，應在程序書、工作說明書或有關作業手冊中詳細載明，經由公告程序，責成作業管理人員於執行職務相關管理作業之前，必須先瞭解與熟悉本公司資訊安全相關作業規範，俾益其遵守與實行。</p>
                <p>本公司所有資訊安全管理相關同仁、約聘人員、委外廠商、系統硬軟體維護之簽約廠商應簽署保密協議書，使其瞭解於本公司工作期間所有取得之資訊皆為本公司之資產，且不被允許使用於其他未授權之用途上，以昭示本公司維護資訊安全之決心。</p>
                <p>若發現未遵循本政策或有行使任何危及本公司資訊安全之行為，應依內部相關懲處管理規範處理或訴諸適當之懲罰或法律行動。</p>
                <p>為反映政府資訊安全政策、法令、技術及機關業務之最新狀況，本公司將適時修訂本宣言，以確保資訊安全實務作業之可行性、有效性及持續改善。</p>
                
                <div class="policy_download">
                    <a href="#" ><span><i class="far fa-file-word"></i>檔案下載</span></a>
                </div>
            </div>
        </section>
    </div>
</div>



<% content_for :js do %>

<% end %>

