<!-- template: service -->

<%= render :partial => "/partials/header" %>

<div class="content page-content">
    <div class="container-xl">
        <div class="service-flow">
            <div class="part-1 flow-part">
                <div class="scrollbar-macosx">
                    <ul class="menu-item">
                        <li>
                            <div class="part-hd">
                                <span>01</span>
                            </div>
                            <h5>系統分析</h5>
                            <p class="brief">專案啟始會議由專案負責人及專案經理與相關承辦人員擬定專案計畫書，包含了專案各項會議日程、與會人員。</p>
                        </li>
                        <li>
                            <div class="part-hd">
                                <span>02</span>
                            </div>
                            <h5>原型製作</h5>
                            <p class="brief">系統分析師與需求單位進行需求訪談後，進行系統介接討論會議及各項資安措施的分析與規劃。</p>
                        </li>
                        <li>
                            <div class="part-hd">
                                <span>03</span>
                            </div>
                            <h5>開發規格書</h5>
                            <p class="brief">系統雛型製作系統雛型製作，系統雛型包含系統網站首頁、內文說明等，會將所有相關畫面及操作連結動態呈現。</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="part-2 flow-part">
                <div class="scrollbar-macosx">
                    <ul class="menu-item">
                        <li>
                            <div class="part-hd">
                                <span>04</span>
                            </div>
                            <h5>系統開發</h5>
                            <p class="brief">專案啟始會議由專案負責人及專案經理與相關承辦人員擬定專案計畫書，包含了專案各項會議日程、與會人員。</p>
                        </li>
                        <li>
                            <div class="part-hd">
                                <span>05</span>
                            </div>
                            <h5>系統測試</h5>
                            <p class="brief">系統分析師與需求單位進行需求訪談後，進行系統介接討論會議及各項資安措施的分析與規劃。</p>
                        </li>
                        <li>
                            <div class="part-hd">
                                <span>06</span>
                            </div>
                            <h5>安全性測試</h5>
                            <p class="brief">系統雛型製作系統雛型製作，系統雛型包含系統網站首頁、內文說明等，會將所有相關畫面及操作連結動態呈現。</p>
                        </li>
                        <li>
                            <div class="part-hd">
                                <span>07</span>
                            </div>
                            <h5>壓力測試</h5>
                            <p class="brief">系統雛型製作系統雛型製作，系統雛型包含系統網站首頁、內文說明等，會將所有相關畫面及操作連結動態呈現。</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="part-3 flow-part">
                <div class="scrollbar-macosx">
                    <ul class="menu-item">
                        <li>
                            <div class="part-hd">
                                <span>08</span>
                            </div>
                            <h5>資料移轉</h5>
                            <p class="brief">專案啟始會議由專案負責人及專案經理與相關承辦人員擬定專案計畫書，包含了專案各項會議日程、與會人員。</p>
                        </li>
                        <li>
                            <div class="part-hd">
                                <span>09</span>
                            </div>
                            <h5>教育訓練</h5>
                            <p class="brief">需求單位進行需求訪談後，進行系統介接討論會議及各項資安措施的分析與規劃。</p>
                        </li>
                        <li>
                            <div class="part-hd">
                                <span>10</span>
                            </div>
                            <h5>系統上線</h5>
                            <p class="brief">系統雛型包含系統網站首頁、內文說明等，會將所有相關畫面及操作連結動態呈現。</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="part-4 flow-part">
                <div class="scrollbar-macosx">
                    <ul class="menu-item">
                        <li>
                            <div class="part-hd">
                                <span>11</span>
                            </div>
                            <h5>定期上線專案會議</h5>
                            <p class="brief">專案啟始會議由專案負責人及專案經理與相關承辦人員擬定專案計畫書，包含了專案各項會議日程、與會人員。</p>
                        </li>
                        <li>
                            <div class="part-hd">
                                <span>12</span>
                            </div>
                            <h5>優化調整</h5>
                            <p class="brief">需求單位進行需求訪談後，進行系統介接討論會議及各項資安措施的分析與規劃。</p>
                        </li>
                        <li>
                            <div class="part-hd">
                                <span>13</span>
                            </div>
                            <h5>版本更新</h5>
                            <p class="brief">系統雛型包含系統網站首頁、內文說明等，會將所有相關畫面及操作連結動態呈現。</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="part-5 flow-part">
                <div class="scrollbar-macosx">
                    <ul class="menu-item">
                        <li>
                            <div class="part-hd">
                                <span>14</span>
                            </div>
                            <h5>正式結案</h5>
                            <p class="brief">需求單位進行需求訪談後，進行系統介接討論會議及各項資安措施的分析與規劃。</p>
                        </li>
                        <li>
                            <div class="part-hd">
                                <span>15</span>
                            </div>
                            <h5>維護保固</h5>
                            <p class="brief">系統雛型包含系統網站首頁、內文說明等，會將所有相關畫面及操作連結動態呈現。</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    
    <section class="section mission-section">
        <div class="container-lg">
            <div class="section-title">
                <h3>使命與願景</h3>
            </div>
            <div class="mission-copywriting">
                <p>捷思達已導入自主開發的軟體開發及維護品質管理系統，透過系統自動化檢核各階段工作及管理作業，讓客戶委託的專案能被系統化管理與追蹤，降低人為疏失及提升開發與服務的穩定度。</p>
                <img class="logo-admin" src="../assets/jesda-admin.svg">
            </div>
            <div class="mission-advantage">
                <div class="item">
                    <h4>自動化檢核各階段工作</h4>
                    <p class="brief">在開發、修改、升級及維護系統時，須持續注意、追蹤的事項及規則繁多，在工作分派或執行時如單純透過紙本或電子檔案容易造成疏漏，且經驗無法累積。捷思達累積開發15年的軟體開發及維護品質管理系統，以系統化檢核表方式，在系統開發各階段的工作任務產生時，會自動產生對應的檢核表，提供執行工作人員，檢核各項工作，減少因人為疏失造成系統問題。</p>
                </div>
                <div class="item">
                    <h4>精準溝通的需求分析與確認</h4>
                    <p class="brief">專案需求分析的品質，取決於需求是否已經達到精準溝通，進而直接影響系統上線後使用的實用價值。捷思達除了要求需求分析師須具備足夠的經驗外，更採用自主開發系統產生的檢核表追蹤專案的需求分析規範、雛型與規格書，讓每個專案的需求分析及規格確認能與客戶達到精準溝通，並且能夠符合公司定義的執行品質。</p>
                </div>
                <div class="item">
                    <h4>各功能模組自動產生對應的測試案例清單</h4>
                    <p class="brief">捷思達的測試管理系統與開發規格管理系統整合追蹤各項功能的變更，系統分析師及系統架構師可由測試案例範本庫中，針對各功能模組設計測試案例，在功能模組分派產生工作單時，會自動產生關連功能模組的測試案例清單，工程師交付工作單時須通過各項測試案例，確保功能模組品質。</p>
                </div>
                <div class="item">
                    <h4>需求變更影響精準評估</h4>
                    <p class="brief">捷思達開發的功能規格管理系統，包含的功能、資料庫欄位等規格關聯性，當有需求異動時，例如修改資料欄位，系統可自動產生關聯功能、需重新測試的測試案例項目及程式物件，能精準評估需求變更影響。</p>
                </div>
                <div class="item">
                    <h4>自動化的維護及資安工作</h4>
                    <p class="brief">由於需協助管理及維護400多的各類系統，捷思達已將日常多項維護及資安工作自動化，例如捷思達採用Gitlab版本管理，透過Gitlab API，將原始碼版本資訊整合到規格管理系統，並透過Gitlab pipelines & runner在需求異動合併時，自動執行PHP單元測試及資訊安全檢測，並透過規格管理及資訊安全管理系統檢視報告。</p>
                </div>
                <div class="item">
                    <h4>系統化管理各項維護工作</h4>
                    <p class="brief">系統維護時，專案顧問接到客戶諮詢或問題回報時，會在維護系統建立一筆維護紀錄，並透過系統產生維護工作單自動分派至維護工程師，並透過系統自動追蹤各工作單進度，並提供客戶端查詢目前回報的問題的處理狀況。</p>
                </div>
            </div>
        </div>
    </section>
    
    <section class="section mission-section dedicated-section">
        <div class="container-lg">
            <div class="section-title">
                <h3>單一窗口服務</h3>
            </div>
            <div class="mission-copywriting">
                <p>捷思達針對各系統提供一組專門人員，包含專案經理、專案顧問、工程師、網管及資安人員為本案服務，並提供維護事項追蹤系統，提供客戶隨時了解系統各事項處理狀態。</p>
                <img class="logo-admin" src="../assets/icon/icon-group.png">
            </div>
        </div>
    </section>
</div>



<% content_for :js do %>

<% end %>

