                <div class="mb-5">
                    <h4 class="block-title">申請志願</h4>
                    <table class="table table-sm">
                        <thead>
                            <tr>
                                <th>志願序</th>
                                <th>姊妹校</th>
                                <th>交換期間</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% (1..3).each do |n| %>
                            <tr>
                                <td class="text-center"><%= n %></td>
                                <td>
                                    North America / United States of America / Columbia University in the City of New York
                                </td>
                                <td>One academic year</td>
                            </tr>
                            <% end %>
                        </tbody>
                    </table>
                </div>

                <div class="mb-5">
                    <h4 class="block-title">個人資料</h4>
                    <div class="avatar-display">
                        <!-- 不確定照片大小需求，使用 inline style 方便工程師修改 -->
                        <img src="../assets/fake/collage-1558026551.jpg" class="avatar-pic avatar-recent" alt="Personal recent photo" style="width: 160px;">
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label for="Chinesefullname">中文姓名</label>
                                <div class="output">史嘉蕾喬韓森</div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label for="FullnameinEnglish">護照英文姓名</label>
                                <div class="output">Scarlett Ingrid Johansson</div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label>性別</label>
                                <div class="output">女</div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label for="">出生日期</label>
                                <div class="output">1984 / 11 / 22</div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="idNumber">身份證字號</label>
                        <div class="output">F123456789</div>
                    </div>

                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label>系所</label>
                                <div class="output">企業管理學系</div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label>學號</label>
                                <div class="output">A9328011</div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label>連絡電話 (日)</label>
                                <div class="output">+886 02 98765432</div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label>連絡電話 (夜)</label>
                                <div class="output">+886 02 98765432</div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label>戶籍地址</label>
                                <div class="output">100 台北市中正區重慶南路一段122號</div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label>現居地址</label>
                                <div class="output">100 台北市中正區重慶南路一段122號</div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="Email">聯絡信箱</label>
                        <div class="output">a9328011@yuntech.edu.tw</div>
                    </div>
                </div>

                <div class="mb-5">
                    <h4 class="block-title">緊急聯絡人</h4>
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label for="ecpName">姓名</label>
                                <div class="output">萊恩雷諾斯</div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label for="ecpRelationship">關係</label>
                                <div class="output">前夫</div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label>連絡電話 (日)</label>
                                <div class="output">+886 02 98765432</div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label>連絡電話 (夜)</label>
                                <div class="output">+886 02 98765432</div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>聯絡地址</label>
                        <div class="output">100 台北市中正區重慶南路一段122號</div>
                    </div>
                </div>

                <div class="mb-5">
                    <h4 class="block-title">在學成績</h4>
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label for="gradeGPA">GPA</label>
                                <div class="output">3.41</div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label for="gradePercentage">班排名百分比</label>
                                <div class="output">80.38</div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="gradeConduct">操行成績</label>
                        <div class="output">79</div>
                    </div>
                </div>

                <div class="mb-5">
                    <h4 class="block-title">其他</h4>
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label>外語能力</label>
                                <div class="output">英文/ 俄語</div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label>健康狀況</label>
                                <div class="output">創傷後壓力症候群</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="mb-5">
                    <h4 class="block-title">申請繳交文件</h4>
                    <div class="document-upload">

                        <div class="document-item">
                            <div class="document-hd">
                                <div class="title-wrap">
                                    <h5>1. 歷年成績單正本 
                                        <small>成績單上加蓋歷年排名章，請併同本申請表至教務處註冊組辦理</small>
                                    </h5>
                                    <button type="button" class="btn-description" data-toggle="modal" data-target="#basicExampleModal" title="詳細說明"><i class="fa fa-info"></i></button>
                                </div>
                                <p class="upload-time">上傳時間
                                    <i class="fa fa-clock-o"></i>
                                    <span class="date">2020/02/28 18:20</span>
                                </p>
                            </div>
                            <div class="document-ft md-form">
                                <a href="#" class="btn btn-info btn-xs">檢視</a>
                            </div>
                        </div>

                        <div class="document-item">
                            <div class="document-hd">
                                <div class="title-wrap">
                                    <h5>2. 家長同意書正本</h5>
                                    <button type="button" class="btn-description" data-toggle="modal" data-target="#basicExampleModal" title="詳細說明"><i class="fa fa-info"></i></button>
                                </div>
                                <p class="upload-time">上傳時間
                                    <i class="fa fa-clock-o"></i>
                                    <span class="date">2020/02/28 18:20</span>
                                </p>
                            </div>
                            <div class="document-ft md-form">
                                <a href="#" class="btn btn-info btn-xs">檢視</a>
                            </div>
                        </div>
                        <div class="document-item">
                            <div class="document-hd">
                                <div class="title-wrap">
                                    <h5>3. 身份證、學生證正反面影本</h5>
                                    <button type="button" class="btn-description" data-toggle="modal" data-target="#basicExampleModal" title="詳細說明"><i class="fa fa-info"></i></button>
                                </div>
                                <p class="upload-time">上傳時間
                                    <i class="fa fa-clock-o"></i>
                                    <span class="date">2020/02/28 18:20</span>
                                </p>
                            </div>
                            <div class="document-ft md-form">
                                <a href="#" class="btn btn-info btn-xs">檢視</a>
                            </div>
                        </div>
                        <div class="document-item">
                            <div class="document-hd">
                                <div class="title-wrap">
                                    <h5>
                                        4. 讀書計畫
                                        <small>兩頁 A4 為限</small>
                                    </h5>
                                    <button type="button" class="btn-description" data-toggle="modal" data-target="#basicExampleModal" title="詳細說明"><i class="fa fa-info"></i></button>
                                </div>
                                <p class="upload-time">上傳時間
                                    <i class="fa fa-clock-o"></i>
                                    <span class="date">2020/02/28 18:20</span>
                                </p>
                            </div>
                            <div class="document-ft">
                                <a href="#" class="btn btn-info btn-xs">檢視</a>
                            </div>
                        </div>
                        <div class="document-item">
                            <div class="document-hd">
                                <div class="title-wrap">
                                    <h5>
                                        5. 教授推薦信二封
                                        <small>中、英文版本皆可</small>
                                    </h5>
                                    <button type="button" class="btn-description" data-toggle="modal" data-target="#basicExampleModal" title="詳細說明"><i class="fa fa-info"></i></button>
                                </div>
                                <p class="upload-time">上傳時間
                                    <i class="fa fa-clock-o"></i>
                                    <span class="date">2020/02/28 18:20</span>
                                </p>
                            </div>
                            <div class="document-ft md-form">
                                <a href="#" class="btn btn-info btn-xs">檢視</a>
                            </div>
                        </div>
                        <div class="document-item">
                            <div class="document-hd">
                                <div class="title-wrap">
                                    <h5>
                                        6. 交換期間任務企畫書
                                        <small>兩頁 A4 為限</small>
                                    </h5>
                                    <button type="button" class="btn-description" data-toggle="modal" data-target="#basicExampleModal" title="詳細說明"><i class="fa fa-info"></i></button>
                                </div>
                                <p class="upload-time">上傳時間
                                    <i class="fa fa-clock-o"></i>
                                    <span class="date">2020/02/28 18:20</span>
                                </p>
                            </div>
                            <div class="document-ft md-form">
                                <a href="#" class="btn btn-info btn-xs">檢視</a>
                            </div>
                        </div>
                        <div class="document-item">
                            <div class="document-hd">
                                <div class="title-wrap">
                                    <h5>7. 語文能力證明</h5>
                                    <button type="button" class="btn-description" data-toggle="modal" data-target="#basicExampleModal" title="詳細說明"><i class="fa fa-info"></i></button>
                                </div>
                                <p class="upload-time">上傳時間
                                    <i class="fa fa-clock-o"></i>
                                    <span class="date">2020/02/28 18:20</span>
                                </p>
                            </div>
                            <div class="document-ft md-form">
                                <a href="#" class="btn btn-info btn-xs">檢視</a>
                            </div>
                        </div>
                        <div class="document-item">
                            <div class="document-hd">
                                <div class="title-wrap">
                                    <h5>
                                        8. 其他有利審查資料影本 
                                        <small>五頁為限</small>
                                    </h5>
                                    <button type="button" class="btn-description" data-toggle="modal" data-target="#basicExampleModal" title="詳細說明"><i class="fa fa-info"></i></button>
                                </div>
                                <p class="upload-time">上傳時間
                                    <i class="fa fa-clock-o"></i>
                                    <span class="date">2020/02/28 18:20</span>
                                </p>
                            </div>
                            <div class="document-ft md-form">
                                <a href="#" class="btn btn-info btn-xs">檢視</a>
                            </div>
                        </div>
                    </div>
                </div>