<header class="header">
    <div class="container">
		<div class="header-wrap">
			<div class="brands">
				<a class="logo" href="/">
                    <h1 class="text-hide">國立雲林科技大學 YunTech</h1>
                    <img class="h1-logo" src="../assets/logo@2x.png" />
				</a>
			</div>
			<div class="account dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					Hi, Scarlett Johansson
				</a>
				<div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
					<a class="dropdown-item" href="selection-list.html">甄選學校一覽表</a>
					<a class="dropdown-item" href="#">登出</a>
				</div>
			</div>
		</div>
    </div>
    <div class="project-wrapper">
        <div class="container">
		    <h3>
				<span class="strong">
					<span class="year">2020</span>
					秋季班
				</span>
				出國交換學生計畫甄選報名
			</h3>
		</div>
    </div>
</header>