<header class="header">
    <div class="container">
		<div class="header-wrap">
			<div class="brands">
				<a class="logo" href="/">
                    <h1 class="text-hide">國立雲林科技大學 YunTech</h1>
                    <img class="h1-logo" src="../assets/logo@2x.png" />
				</a>
			</div>
		</div>
    </div>
    <div class="project-wrapper">
        <div class="container">
		    <h3>
				<span class="strong">
					<span class="year">2020</span>
					秋季班
				</span>
				出國交換學生計畫甄選報名
			</h3>
			<div class="selection-link">
				<a href="../general/selection-list.html"><i class="fa fa-book"></i> 甄選學校一覽表</a>
			</div>
		</div>
    </div>
</header>