<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NTUST-Scholarship Prototype</title>
</head>
<body>
    <h1>NTUST-Scholarship Prototype</h1>
    <%= yield %>
</body>
</html>
