<footer class="footer">
	<div class="container-lg">
		<div class="footer-inner">
			<div class="block-transition">
                <div class="ft-block central-content">
                    <h5 class="mb-3">全國學術電子資訊資源共享聯盟</h5>
                    <ul class="menu-item contact">
                        <li>
                            <i class="fas fa-map-marker-alt"></i>
                            106-36 台北市和平東路二段 106 號 15 樓
                        </li>
                        <li>
                            <i class="fas fa-phone-alt"></i>
                            02-2737-7754
                        </li>
                        <li>
                            <i class="fas fa-envelope"></i>
                            <a href="mailto:concert@narlabs.org.tw">concert@narlabs.org.tw</a>
                        </li>
                    </ul>
                </div>
			</div>
            <div class="ft-block end-content">
                瀏覽器支援
                <a href="https://www.google.com/intl/zh-TW/chrome/">Google Chrome</a>,
                <a href="https://www.mozilla.org/zh-TW/firefox/new/">Firefox</a> or
                <a href="https://www.microsoft.com/zh-tw/edge">IE11+</a>
            </div>
		</div>
	</div>
</footer>