<header class="header" id="pagetop">
    
	<div class="header-top">
		<div class="container-lg">
	        <div class="top-inner">
                <div class="top-start">
                    <a href="#" class="logo-link" title="國家實驗研究院"><img class="logo logo-stpi" src="../assets/logo-stpi.svg"></a>
                    <a href="#" class="logo-link" title="全國學術電子資訊資源共享聯盟"><img class="logo logo-concert" src="../assets/logo-concert.png"></a>
                </div>
                <div class="top-end">
                    <span class="ip-address">IP : 203.70.70.1</span>
                    <div class="account">
                        <div class="dropdown">
                            <button class="dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Hi, 史嘉蕾
                            </button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">基本資料修改</a></li>
                                <li><a class="dropdown-item" href="#">登出</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
		</div>
	</div>
    
    <div class="header-middle">
		<div class="container-lg">
	        <div class="middle-inner">
                <h1>全國學術電子資訊資源共享聯盟 <strong>線上訂購調查系統</strong></h1>
                <a href="#" class="download-link">使用手冊下載</a>
            </div>
		</div>
	</div>
</header>