<!-- OIA-ES: Leaving NTU - 離校手續  -->

<div class="container">
    <div class="row">
		<div class="col-3">
		    <div id="accordion" class="sidenav">

				<ul class="collapsible collapsible-accordion" id="accordion" role="tablist" aria-multiselectable="true">
					<li class="menu-item has-sub menu-application">
						<div class="panel-heading" id="headingOne">
							<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">Application</button>
						</div>
						<div id="collapseOne" class="panel-collapse collapse" aria-labelledby="headingOne" data-parent="#accordion">
							<div class="panel-body">
								<ul class="sub-menu">
									<li class="completed"><a href="application_personal.html">Personal</a></li>
									<li class="completed"><a href="application_nationalityl.html">Nationality</a></li>
									<li class="completed"><a href="#">Exchange Information</a></li>
									<li class="completed"><a href="#">Chinese Learning</a></li>
									<li class="completed"><a href="#">Accommodation</a></li>
									<li class="completed"><a href="#">Privacy</a></li>
									<li class="completed"><a href="application_upload.html">上傳繳交文件</a></li>
									<li class="completed"><a href="#">設定推薦人</a></li>
									<li class="completed"><a href="#">預覽及送出申請資料</a></li>
									<li class="completed"><a href="#">入學繳交費用</a></li>
									<li class="completed"><a href="#">審查結果公告</a></li>
								</ul>
							</div>
						</div>
					</li>
					<li class="menu-item has-sub menu-before">
						<div class="panel-heading" id="headingTwo">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">Before Arrival</button>
						</div>
						<div id="collapseTwo" class="panel-collapse collapse" aria-labelledby="headingTwo" data-parent="#accordion">
							<div class="panel-body">
								<ul class="sub-menu">
									<li class="completed"><a href="#">入學確認</a></li>
									<li class="completed"><a href="#">新生調查</a></li>
                                    <li class="completed"><a href="#">入學繳交費用</a></li>
									<li class="completed"><a href="application_payment-receipt.html">下載繳費收據</a></li>
								</ul>
							</div>
						</div>
					</li>
					<li class="menu-item menu-after">
						<div class="panel-heading">
                            <a class="btn btn-link" href="#">Application</a>
						</div>
					</li>
					<li class="menu-item menu-leaving">
						<div class="panel-heading">
                            <a class="btn btn-link" href="application_leaving.html" >Leaving NTU</a>
						</div>
					</li>
				</ul>

			</div>
		</div>
		<div class="col-9 main-block">
            <h3 class="page-title">離校手續</h3>
		    <main class="main-inner">
                <div class="doc-list leaving">
                    <ol>
                        <li>
                            <div class="list-bd clearfix mb-0">
                                <div class="float-left">
                                    <h5 class="list-hd">退宿狀態</h5>
                                    <h6 class="mb-2">宿舍資訊：</h6>
                                    <p class="mb-0">Prince House-NTU ShuiYuan Dorms Single En Suite</p>
                                    <div>A102</div>
                                </div>
                                <div class="float-right">
                                    <span class="badge badge-warning">未退宿</span>
                                    <span class="badge badge-success">已退宿</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="list-bd clearfix mb-0">
                                <div class="float-left">
                                    <h5 class="list-hd">心得上傳</h5>
                                    <div class="mt-4"><a href="application_leaving-experience.html" class="btn btn-outline-success">填寫心得</a></div>
                                </div>
                                <div class="float-right">
                                    <span class="badge badge-warning">未上傳</span>
                                    <span class="badge badge-success">已上傳</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="list-bd clearfix mb-0">
                                <div class="float-left">
                                    <h5 class="list-hd">列印離校手續單</h5>
                                </div>
                                <div class="float-right">
                                    <span class="date">已列印 2017-12-18 12:00</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="list-bd clearfix mb-0">
                                <div class="float-left">
                                    <h5 class="list-hd">成績單寄送進度</h5>
                                </div>
                                <div class="float-right text-right">
                                    <span class="date d-block">已寄送 2017-12-18 12:00</span>
                                    <span class="date d-block">追蹤單號 : 1000017121800001</span>
                                </div>
                            </div>
                        </li>
                    </ol>
                </div>
			</main>
		</div>
	</div>
</div>

<% content_for :js do %>
    <script>
		 $('.panel-collapse').on('show.bs.collapse', function() {
			 $(this).siblings('.panel-heading').addClass('active');
		 });

		 $('.panel-collapse').on('hide.bs.collapse', function() {
			 $(this).siblings('.panel-heading').removeClass('active');
		 });
    </script>
<% end %>