<!-- OIA-ES: 申請 - View and Submit  -->

<div class="container">
    <div class="row">
		<div class="col-3">
		    <div id="accordion" class="sidenav">

				<ul class="collapsible collapsible-accordion" id="accordion" role="tablist" aria-multiselectable="true">
					<li class="menu-item has-sub menu-application">
						<div class="panel-heading active" id="headingOne">
							<button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Application</button>
						</div>
						<div id="collapseOne" class="panel-collapse collapse show" aria-labelledby="headingOne" data-parent="#accordion">
							<div class="panel-body">
								<ul class="sub-menu">
									<li class="current"><a href="application_personal.html">Personal</a></li>
									<li><a href="application_nationalityl.html">Nationality</a></li>
									<li><a href="#">Exchange Information</a></li>
									<li><a href="#">Chinese Learning</a></li>
									<li><a href="#">Accommodation</a></li>
									<li><a href="#">Privacy</a></li>
									<li><a href="application_upload.html">上傳繳交文件</a></li>
									<li><a href="#">設定推薦人</a></li>
									<li><a href="#">預覽及送出申請資料</a></li>
									<li><a href="#">入學繳交費用</a></li>
									<li><a href="#">審查結果公告</a></li>
								</ul>
							</div>
						</div>
					</li>
					<li class="menu-item has-sub menu-before">
						<div class="panel-heading" id="headingTwo">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">Before Arrival</button>
						</div>
						<div id="collapseTwo" class="panel-collapse collapse" aria-labelledby="headingTwo" data-parent="#accordion">
							<div class="panel-body">
								<ul class="sub-menu">
									<li><a href="#">入學確認</a></li>
									<li><a href="#">新生調查</a></li>
                                    <li><a href="#">入學繳交費用</a></li>
                                    <li><a href="application_register.html">新生入學報到</a></li>
									<li><a href="application_payment-receipt.html">下載繳費收據</a></li>
								</ul>
							</div>
						</div>
					</li>
					<li class="menu-item menu-after">
						<div class="panel-heading">
                            <a class="btn btn-link" href="#">After Arrival</a>
						</div>
					</li>
					<li class="menu-item menu-leaving">
						<div class="panel-heading">
                            <a class="btn btn-link" href="application_leaving.html" >Leaving NTU</a>
						</div>
					</li>
				</ul>

			</div>
		</div>
        <div class="col-9 main-block review-wrapper">
            <main class="main-inner">
                <div class="doc-list">
                    <img class="avatar" src="../assets/default.png" />
                </div>

                <!-- Personal Information -->
				<div class="group-block">
					<h5 class="form-title">Personal Information</h5>
                    <div class="form-group">
                        <label>I am from</label>
                        <p class="form-text text-muted">拉瑞爾應用科技大學 Laurea University of Applied Sciences</p>
                    </div>
                    <div class="form-group">
                        <label>Full Name in English</label>
                        <p class="form-text text-muted">Charlotte YI-CHING Chou</p>
                    </div>
                    <div class="form-group">
                        <label>Full Name in Chinese (if available)</label>
                        <p class="form-text text-muted">周小靜</p>
                    </div>
                    <div class="form-group">
                        <label>Date of Birth</label>
                        <p class="form-text text-muted">1996-01-29</p>
                    </div>
                    <div class="form-group">
                        <label>Gender</label>
                        <p class="form-text text-muted">女 Female</p>
                    </div>
                    <div class="form-group">
                        <label>Native Language(s)</label>
                        <p class="form-text text-muted">Chinese</p>
                        <p class="form-text text-muted"></p>
                    </div>
				</div>
				<div class="group-block">
                    <h5 class="form-title">Contact Information</h5>
                    <div class="form-group">
                        <label>Home Phone Number</label>
                        <p class="form-text text-muted">886 -2-33662007</p>
                    </div>
                    <div class="form-group">
                        <label>Cell Phone Number</label>
                        <p class="form-text text-muted">886 -98555555555</p>
                    </div>
                    <div class="form-group">
                        <label>Email</label>
                        <p class="form-text text-muted">charlottechou@ntu.edu.tw</p>
                    </div>
                    <div class="form-group">
                        <label>Mailing Address</label>
                        <p class="form-text text-muted">
                            323 Finland 芬蘭 helsinki dfdsffssdf
                        </p>
                    </div>
				</div>
                <!-- /# Personal Information -->

                <!-- Emergency Contact -->
				<div class="group-block">
                    <h5 class="form-title">Emergency Contact</h5>
                    <div class="form-group">
                        <label>Full Name</label>
                        <p class="form-text text-muted">Charlotte</p>
                    </div>
                    <div class="form-group">
                        <label>Relation with Applicant</label>
                        <p class="form-text text-muted">Parents</p>
                    </div>
                    <div class="form-group">
                        <label>Home Phone Number</label>
                        <p class="form-text text-muted">886 -2-33662007</p>
                    </div>
                    <div class="form-group">
                        <label>Cell Phone Number</label>
                        <p class="form-text text-muted">886 -985555555</p>
                    </div>
                    <div class="form-group">
                        <label>Email</label>
                        <p class="form-text text-muted">charlottechou@ntu.edu.tw</p>
                    </div>
                    <div class="form-group">
                        <label>Mailing Address</label>
                        <p class="form-text text-muted">
                            100- Finland 芬蘭 helsinki dfdfsf
                        </p>
                    </div>
				</div>
                <!-- /# Emergency Contact -->

                <!-- Nationality -->
				<div class="group-block">
                    <h5 class="form-title">Nationality</h5>
                    <div class="form-group">
                        <label>Nationality</label>
                        <p class="form-text text-muted">
                            Finland 芬蘭
                        </p>
                    </div>
                    <div class="form-group">
                        <label>Taiwan passport</label>
                        <p class="form-text text-muted">No</p>
                    </div>
                    <div class="form-group">
                        <label>Passport Country entering Taiwan</label>
                        <p class="form-text text-muted">
                            Finland 芬蘭
                        </p>
                    </div>
                    <div class="form-group">
                        <label>Passport number entering Taiwan</label>
                        <p class="form-text text-muted">dfdfdf</p>
                    </div>
				</div>
                <!-- /# Nationality -->

                <!-- Current Enrollment Information -->
				<div class="group-block">
                    <h5 class="form-title">Current Enrollment Information</h5>
                    <div class="form-group">
                        <label>Department (Institute) at home university</label>
                        <p class="form-text text-muted">DFL</p>
                    </div>
                    <div class="form-group">
                        <label>Current Degree Level</label>
                        <p class="form-text text-muted">Undergraduate (BSc) 學士</p>
                    </div>
				</div>
                <!-- /# Current Enrollment Information -->

                <!-- Study at NTU -->
				<div class="group-block">
                    <h5 class="form-title">Study at NTU</h5>
                    <div class="form-group">
                        <label>Duration</label>
                        <p class="form-text text-muted">
                            One Semester 1st Semster from 2021
                        </p>
                    </div>
                    <div class="form-group">
                        <label>College</label>
                        <p class="form-text text-muted">文學院 College of Liberal Arts</p>
                    </div>
                    <div class="form-group">
                        <label>Department (Institute)</label>
                        <p class="form-text text-muted">中國文學系 Department of Chinese Literature</p>
                    </div>
                    <div class="form-group">
                        <label>Level of study</label>
                        <p class="form-text text-muted">Undergraduate (BSc) 學士</p>
                    </div>
				</div>
                <!-- /# Study at NTU -->

                <!-- Chinese Language Proficiency -->
				<div class="group-block">
                    <h5 class="form-title">Chinese Language Proficiency</h5>
                    <div class="form-group">
                        <label>Do you plan to enroll in General Chinese Courses at NTU?</label>
                        <p class="form-text text-muted">Yes</p>
                    </div>
                    <div class="form-group">
                        <label>a. Is any part of your ethnic background Chinese?</label>
                        <p class="form-text text-muted">Yes</p>
                    </div>

                    <div class="form-group">
                        <label>b. Have you ever studied Chinese?</label>
                        <p class="form-text text-muted">Yes</p>
                    </div>

                    <div class="form-group">
                        <label>c. How long have you studied Chinese for?</label>
                        <p class="form-text text-muted">
                            Less than 6 months
                        </p>
                    </div>

                    <div class="form-group">
                        <label>d. How many hours of Chinese classes did you take when you studied Chinese?</label>
                        <p class="form-text text-muted">
                            Less than 6 hours per week
                        </p>
                    </div>

                    <div class="form-group">
                        <label>e. Did you learn with simplified or traditional Chinese characters?</label>
                        <p class="form-text text-muted">
                            Simplified
                        </p>
                    </div>

                    <div class="form-group">
                        <label>f. What is your level of proficiency in the following skills?</label>
                        <p class="form-text text-muted">
                            Listening：Good
                        </p>
                        <p class="form-text text-muted">
                            Speaking：Good
                        </p>
                        <p class="form-text text-muted">
                            Reading：Good
                        </p>
                        <p class="form-text text-muted">
                            Writing：Good
                        </p>
                    </div>

                    <div class="form-group">
                        <label>g. Have you ever taken TOCFL, HSK or other Chinese language proficiency tests?</label>
                        <p class="form-text text-muted">SCORE：0</p>
                    </div>

                    <div class="form-group">
                        <label>h. Enhanced Chinese Course?</label>
                        <p class="form-text text-muted">Yes</p>
                    </div>
				</div>
                <!-- /# Chinese Language Proficiency -->

                <!-- On-campus Accommodation -->
				<div class="group-block">
                    <h5 class="form-title">On-campus Accommodation</h5>
                    <div class="form-group">
                        <label>Do you wish to apply for the on-campus dormitory?</label>
                        <p class="form-text text-muted">Yes</p>
                    </div>
                    <div class="form-group">
                        <label>Please choose your order of preference on the following options:</label>
                        <p class="form-text text-muted">
                            1st Choice：(A).Prince House-NTU ShuiYuan Dorms Single En Suite with communal kitchen
                        </p>
                        <p class="form-text text-muted">
                            2nd Choice：(B).Prince House-NTU ShuiYuan Dorms Single En Suite
                        </p>
                        <p class="form-text text-muted">
                            3rd Choice：(C).Prince House-NTU ShuiYuan Dorms Twin En Suite
                        </p>
                    </div>
				</div>
                <!-- /# On-campus Accommodation -->

                <!-- 繳交文件 -->
				<div class="group-block">
                    <h5 class="form-title">繳交文件</h5>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>文件名稱</th>
                                <th>文件敘述</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Passport size photo in digital format 證件照</td>
                                <td>
                                    <span style="color: rgb(33, 37, 41); font-family: Roboto, 'Apple LiGothic Medium', 微軟正黑體, Helvetica, Arial, sans-serif; font-size: 15px; background-color: rgba(0, 0, 0, 0.05);">
                                        Passport size photo in digital format 證件照&nbsp; 0409
                                    </span>
                                </td>
                                <td><a href="/studentapply/apply/download.upload.file/sn/23/apply_sn/13" class="btn btn-sm btn-outline-success waves-effect waves-light" target="_blank">Download</a></td>
                            </tr>
                            <tr>
                                <td>A photocopy of a non-Taiwanese passport 護照影本</td>
                                <td>
                                    <p>
                                        A scanned PDF file of your "photo" and "personal information" page is sufficient.<br />
                                        *Note: Mainland China students are allowed to upload the two sides of the ID card if they do not have a passport.<br />
                                        *注意：具有中國大陸國籍之學生若無護照，可以
                                    </p>
                                </td>
                                <td><a href="/studentapply/apply/download.upload.file/sn/24/apply_sn/13" class="btn btn-sm btn-outline-success waves-effect waves-light" target="_blank">Download</a></td>
                            </tr>
                            <tr>
                                <td>Motivation letter / Statement of purpose (in Chinese or English) 讀書計畫</td>
                                <td>
                                    <p>
                                        (1) Restricted to one page only in PDF format.<br />
                                        (2) Must be written in Chinese or English.<br />
                                        (3) Please give a full explanation on what you expect to obtain and what courses you would like to select during your exchange period at NTU.
                                    </p>
                                </td>
                                <td><a href="/studentapply/apply/download.upload.file/sn/26/apply_sn/13" class="btn btn-sm btn-outline-success waves-effect waves-light" target="_blank">Download</a></td>
                            </tr>
                            <tr>
                                <td>Declaration Form 聲明書</td>
                                <td>
                                    Please print out the document, sign in and upload the signed copy in PDF file after reading.<br />
                                    請下載列印，詳閱後請簽名並以PDF檔上傳。
                                </td>
                                <td><a href="/studentapply/apply/download.upload.file/sn/72/apply_sn/13" class="btn btn-sm btn-outline-success waves-effect waves-light" target="_blank">Download</a></td>
                            </tr>
                        </tbody>
                    </table>
				</div>
                <!-- /# 繳交文件 -->

                <div class="text-center mt-4">
                    <a href="/studentapply/apply/save/sn/13" class="btn btn-lg btn-success waves-effect waves-light">Confirm and Submit</a>
                </div>
            </main>
        </div>
	</div>
</div>

<% content_for :js do %>
    <script>
		 $('.panel-collapse').on('show.bs.collapse', function() {
			 $(this).siblings('.panel-heading').addClass('active');
		 });

		 $('.panel-collapse').on('hide.bs.collapse', function() {
			 $(this).siblings('.panel-heading').removeClass('active');
		 });
    </script>
<% end %>