<!-- OIA-ES: 新生入學報到  -->

<div class="container">
    <div class="row">
		<div class="col-3">
		    <div id="accordion" class="sidenav">

				<ul class="collapsible collapsible-accordion" id="accordion" role="tablist" aria-multiselectable="true">
					<li class="menu-item has-sub menu-application">
						<div class="panel-heading active" id="headingOne">
							<button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Application</button>
						</div>
						<div id="collapseOne" class="panel-collapse collapse" aria-labelledby="headingOne" data-parent="#accordion">
							<div class="panel-body">
								<ul class="sub-menu">
									<li class="completed"><a href="application_personal.html">Personal</a></li>
									<li class="completed"><a href="application_nationalityl.html">Nationality</a></li>
									<li class="completed"><a href="#">Exchange Information</a></li>
									<li class="completed"><a href="#">Chinese Learning</a></li>
									<li class="completed"><a href="#">Accommodation</a></li>
									<li class="completed"><a href="#">Privacy</a></li>
									<li class="completed"><a href="application_upload.html">上傳繳交文件</a></li>
									<li class="completed"><a href="#">設定推薦人</a></li>
									<li class="completed"><a href="#">預覽及送出申請資料</a></li>
									<li class="completed"><a href="#">入學繳交費用</a></li>
									<li class="completed"><a href="#">審查結果公告</a></li>
								</ul>
							</div>
						</div>
					</li>
					<li class="menu-item has-sub menu-before">
						<div class="panel-heading" id="headingTwo">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">Before Arrival</button>
						</div>
						<div id="collapseTwo" class="panel-collapse collapse show" aria-labelledby="headingTwo" data-parent="#accordion">
							<div class="panel-body">
								<ul class="sub-menu">
									<li class="completed"><a href="#">入學確認</a></li>
									<li class="completed"><a href="#">新生調查</a></li>
                                    <li class="completed"><a href="#">入學繳交費用</a></li>
									<li class="current"><a href="application_register.html">新生入學報到</a></li>
									<li><a href="application_payment-receipt.html">下載繳費收據</a></li>
								</ul>
							</div>
						</div>
					</li>
					<li class="menu-item menu-after">
						<div class="panel-heading">
                            <a class="btn btn-link" href="#">After Arrival</a>
						</div>
					</li>
					<li class="menu-item menu-leaving">
						<div class="panel-heading">
                            <a class="btn btn-link" href="application_leaving.html" >Leaving NTU</a>
						</div>
					</li>
				</ul>

			</div>
		</div>
		<div class="col-9 main-block">
		    <main class="main-inner">
                <h5 class="form-title mt-0">新生入學報到</h5>
				<div class="to-mobile">
				    <a class="btn btn-white btn-sm" href="#">開啟手機板介面</a>
					<a class="btn btn-white btn-sm" href="#">發送手機版網址至 email</a>
				</div>
                <div>
                    <p>新生入學報到說明 ( 請國際處提供說明文字 )<%= zh_lorem_sentences(2) %></p>
					<p><%= lorem_sentences(5) %></p>
                </div>
				<ul class="nav nav-tabs" id="semesterTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="sone-tab" data-toggle="tab" href="#sone" role="tab" aria-controls="sone" aria-selected="true">第一學期</a>
                    </li>
					<li class="nav-item">
                        <a class="nav-link" id="stwo-tab" data-toggle="tab" href="#stwo" role="tab" aria-controls="stwo" aria-selected="true">第二學期</a>
                    </li>
				</ul>
                <div class="tab-content" id="semesterTabContent">
                    <div class="tab-pane fade show active" id="sone" role="tabpanel" aria-labelledby="sone-tab">
					    <h5 class="form-title">報到時間</h5>
						<p class="date-time"><i class="fa fa-clock-o"></i> 2020/12/12 10:00 ~ 12:00</p>
						<h5 class="form-title">報到項目</h5>
						<ul class="menu-item register-item">
						    <li>
								<div class="item-summary">
                                    <h4>
                                        <span class="num">1</span>
                                        <span class="title">家長同意書</span>
                                    </h4>
								</div>
								<div class="item-status">
									<span class="badge badge-pill badge-light">未審查</span>
								</div>
							</li>
							<li>
								<div class="item-summary">
                                    <h4>
                                        <span class="num">2</span>
                                        <span class="title">健康檢查表</span>
                                    </h4>
								</div>
								<div class="item-status">
									<span class="badge badge-pill badge-success">通過</span>
								</div>
							</li>
							<li>
								<div class="item-summary">
                                    <h4>
                                        <span class="num">3</span>
                                        <span class="title">護照影本</span>
                                    </h4>
								</div>
								<div class="item-status">
									<span class="badge badge-pill badge-primary">通過需補件</span>
									<span class="status-caption">請補上相關證明文件</span>
								</div>
							</li>
							<li>
								<div class="item-summary">
                                    <h4>
                                        <span class="num">4</span>
                                        <span class="title">居留證影本</span>
                                    </h4>
								</div>
								<div class="item-status">
									<span class="badge badge-pill badge-danger">不通過</span>
									<span class="status-caption">請攜帶正本由國際處影印</span>
								</div>
							</li>
							<li>
								<div class="item-summary">
                                    <h4>
                                        <span class="num">5</span>
                                        <span class="title">住宿申請表</span>
                                    </h4>
								</div>
								<div class="item-status">
									<span class="badge badge-pill badge-success">通過</span>
								</div>
							</li>
							<li>
								<div class="item-summary">
                                    <h4>
                                        <span class="num">6</span>
                                        <span class="title">財力證明文件</span>
                                    </h4>
								</div>
								<div class="item-status">
									<span class="badge badge-pill badge-success">通過</span>
								</div>
							</li>
							<li>
								<div class="item-summary">
                                    <h4>
                                        <span class="num">7</span>
                                        <span class="title">身分證件</span>
                                    </h4>
								</div>
								<div class="item-status">
									<span class="badge badge-pill badge-success">通過</span>
								</div>
							</li>
						</ul>
                        <div class="text-center mt-4">
                            <button type="button" class="btn btn-outline-primary">列印在學證明</button>
                        </div>
					</div>
					<div class="tab-pane fade" id="stwo" role="tabpanel" aria-labelledby="stwo-tab">
					    <h5 class="form-title">報到時間</h5>
						<p class="date-time"><i class="fa fa-clock-o"></i> 2021/05/12 10:00 ~ 12:00</p>
						<h5 class="form-title">報到項目</h5>
					</div>
				</div>
				<!-- 非一學年的 tab 相關架構拿掉就好
                <h5 class="form-title">報到時間</h5>
                <p class="date-time"><i class="fa fa-clock-o"></i> 2020/12/12 10:00 ~ 12:00</p>
                <h5 class="form-title">報到項目</h5>
                <ul class="menu-item register-item">
                    .....
                </ul>
                -->
			</main>
		</div>
	</div>
</div>

<% content_for :js do %>
    <script>
		 $('.panel-collapse').on('show.bs.collapse', function() {
			 $(this).siblings('.panel-heading').addClass('active');
		 });

		 $('.panel-collapse').on('hide.bs.collapse', function() {
			 $(this).siblings('.panel-heading').removeClass('active');
		 });
    </script>
<% end %>