<!-- OIA-ES: 申請 - Nationality  -->

<div class="container">
    <div class="row">
		<div class="col-3">
		    <div id="accordion" class="sidenav">

				<ul class="collapsible collapsible-accordion" id="accordion" role="tablist" aria-multiselectable="true">
					<li class="menu-item has-sub menu-application">
						<div class="panel-heading active" id="headingOne">
							<button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Application</button>
						</div>
						<div id="collapseOne" class="panel-collapse collapse show" aria-labelledby="headingOne" data-parent="#accordion">
							<div class="panel-body">
								<ul class="sub-menu">
									<li class="completed"><a href="application_personal.html">Personal</a></li>
									<li class="current"><a href="application_nationalityl.html">Nationality</a></li>
									<li><a href="#">Exchange Information</a></li>
									<li><a href="#">Chinese Learning</a></li>
									<li><a href="#">Accommodation</a></li>
									<li><a href="#">Privacy</a></li>
									<li><a href="application_upload.html">上傳繳交文件</a></li>
									<li><a href="#">設定推薦人</a></li>
									<li><a href="#">預覽及送出申請資料</a></li>
									<li><a href="#">入學繳交費用</a></li>
									<li><a href="#">審查結果公告</a></li>
								</ul>
							</div>
						</div>
					</li>
					<li class="menu-item has-sub menu-before">
						<div class="panel-heading" id="headingTwo">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">Before Arrival</button>
						</div>
						<div id="collapseTwo" class="panel-collapse collapse" aria-labelledby="headingTwo" data-parent="#accordion">
							<div class="panel-body">
								<ul class="sub-menu">
									<li><a href="#">入學確認</a></li>
									<li><a href="#">新生調查</a></li>
                                    <li><a href="#">入學繳交費用</a></li>
									<li><a href="application_payment-receipt.html">下載繳費收據</a></li>
								</ul>
							</div>
						</div>
					</li>
					<li class="menu-item menu-after">
						<div class="panel-heading">
                            <a class="btn btn-link" href="#">Application</a>
						</div>
					</li>
					<li class="menu-item menu-leaving">
						<div class="panel-heading">
                            <a class="btn btn-link" href="application_leaving.html" >Leaving NTU</a>
						</div>
					</li>
				</ul>

			</div>
		</div>
		<div class="col-9 main-block">
		    <main class="main-inner">
                <form>
                    <h5 class="form-title mt-0">Home University</h5><!-- main block 第一個 form-title 要給 mt-0 -->
                    <div class="form-group">
                        <p><%= lorem_sentences(5) %></p>
                        <p><%= lorem_sentences(8) %></p>
                    </div>
                    <div class="form-group">
                        <label>Nationality<span class="form-request">*</span></label>
                        <div class="row">
                            <div class="col-md-6">
                            <select class="custom-select">
                                <option selected>請選擇洲別</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                            </select>
                            </div>
                            <div class="col-md-6">
                            <select class="custom-select">
                                <option selected>請選擇國家</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                            </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Do you have a Taiwan passport?<span class="form-request">*</span></label>
                        <div>
                            <div class="custom-control custom-radio">
                                <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input">
                                <label class="custom-control-label" for="customRadio1">Yes，The Taiwanese passport number：</label>
                                <input type="text" class="form-control d-inline-block w-50 ml-4" placeholder="">
                            </div>
                            <div class="custom-control custom-radio">
                                <input type="radio" id="customRadio2" name="customRadio" class="custom-control-input">
                                <label class="custom-control-label" for="customRadio2">No</label>
                            </div>
                        </div>
                    </div>
                    <div class="text-center mt-4">
                        <button type="button" class="btn btn-lg btn-primary">Save</button>
                        <button type="button" class="btn btn-lg btn-secondary">Next</button>
                    </div>
                </form>
			</main>
		</div>
	</div>
</div>

<% content_for :js do %>
    <script>
		 $('.panel-collapse').on('show.bs.collapse', function() {
			 $(this).siblings('.panel-heading').addClass('active');
		 });

		 $('.panel-collapse').on('hide.bs.collapse', function() {
			 $(this).siblings('.panel-heading').removeClass('active');
		 });
    </script>
<% end %>