<!-- OIA-ES: 申請進度說明  -->

<div class="container">
    <div class="row">
		<div class="col-12">
		    <main class="main-block">
			    <h3>申請進度說明</h3>
                <p>請先填寫線上申請表，填寫完成後，請繼續完成其他項目。</p>
                <div class="document-upload">
                    <div class="document-item">
                        <div class="document-hd">
                            <div class="title-wrap">
                                <h4>1. 申請表</h4>
                            </div>
                            <p>填寫線上申請表</p>
                        </div>
                        <div class="document-ft">
                            <span class="badge badge-success">完成</span>
                            <p class="date">最後修改 2020/04/05 18:00</p>
                        </div>
                    </div>
                    <div class="document-item">
                        <div class="document-hd">
                            <div class="title-wrap">
                                <h4>2. 推薦信</h4>
                            </div>
                            <p>設定推薦人及指定推薦系所</p>
                        </div>
                        <div class="document-ft">
                            <span class="badge badge-danger">未設定</span>
                        </div>
                    </div>
                    <div class="document-item">
                        <div class="document-hd">
                            <div class="title-wrap">
                                <h4>3. 上傳繳交文件</h4>
                            </div>
                            <p>列印各系所的申請文件</p>
                        </div>
                        <div class="document-ft">
                            <span class="badge badge-danger">未完成</span>
                        </div>
                    </div>
                </div>
			</main>
		</div>
	</div>
</div>