/* design by fire */

@import "base";
@import "widgets/sidenav";
@import "widgets/jquery.scrollbar";
@import "widgets/home";

/* `Layout
-----------------------------------------------------------------------------*/

html, body, .workspace {
	height: 100%;
	min-height: 100%;
}

.workspace {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.reply-workspace {
	.container-lg {
		max-width: 1140px;
	}
	.content {
		padding-top: calc(2rem + 2vw);
		padding-bottom: calc(8rem + 8vw);
	}
}

.content {
	padding-top: 6rem;
	padding-bottom: calc(4rem + 4vw);
}

.narrow-container {
	max-width: 960px;
}

section.section {
	margin-bottom: calc(2rem + 1vw);
}

.matchmaking-home-page {
	.breadcrumb-container {
		display: none;
	}
	.content {
		padding-top: 0;
	}
}

/* `Component
-----------------------------------------------------------------------------*/

#backtop {
    display: inline-block;
    background-color: $main_color;
	border-radius: 12px;
    width: 50px;
    height: 50px;
    text-align: center;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s, opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
	cursor: pointer;
	&:after {
        content: "\f077";
        font-family: Font Awesome\ 5 Free;
        font-weight: 900;
        font-style: normal;
        font-size: 1em;
        line-height: 50px;
        color: #fff;
	}
	&.show {
		opacity: 1;
		visibility: visible;
	}
}

.search-modal {
	.modal-content {
		background: #f3f5f5;
		border-radius: 32px;
	}
	.modal-header {
		border-bottom: none;
		padding: 2rem 3rem 1.5rem 2.5rem;
		color: #728080;
	}
	.modal-body {
		padding: 0 2.5rem 2.5rem;
	}
	.form-control {
		border: none;
	}
}

.breadcrumb {
	margin-bottom: 0;
	padding: 1.75rem 0 0;
	.breadcrumb-item {
		font-size: 0.9375rem;
		font-weight: 400;
		color: #919d9d;
		& + .breadcrumb-item::before {
			content: "\f105";
			font-family: Font Awesome\ 5 Free;
			font-weight: 900;
			font-style: normal;
			margin: 0 0.375rem;
		}
	}
	a {
		color: #646c6c;
		&:hover {
			color: $main_color;
		}
	}
}

.form-control:focus {
	border-color: $main_color;
	box-shadow: 0 0 0 0.25rem rgba($main_color, .5);
}

.btn-main {
	background: $main_color;
	border-color: $main_color;
	color: #fff;
	&:hover, &:active {
		background: darken($main_color, 10%);
		border-color: darken($main_color, 10%);
		color: #fff;
	}
	&:focus {
		background: darken($main_color, 10%);
		border-color: darken($main_color, 10%);
		box-shadow: 0 0 0 0.25rem rgba(darken($main_color, 10%), .5);
		color: #fff;
	}
	&.btn-outline {
		background: transparent;
		color: $main_dark_color;
		&:hover, &:active {
			background: rgba($main_color, .1);
		}
		&:focus {
			background: rgba($main_color, .1);
			box-shadow: 0 0 0 0.25rem rgba($main_color, .5);
		}
	}
	&.btn-xl {
		border-radius: 1rem;
		padding: .75rem 4rem;
		font-size: 1.125rem;
	}
}

.video-wrapper {
	margin-bottom: 20px;
    position: relative;
	aspect-ratio: 16 / 9;
	overflow: hidden;
	iframe, video {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

.btn-outline-main {
	background: transparent;
	color: $main_dark_color;
	border-color: $main_color;
	&:hover, &:active {
		background: $main_dark_color;
		color: #fff;
	}
}

.page-title {
	margin-bottom: 2rem;
	h2 {
		font-weight: 300;
		color: #566060;
	}
	.dl-wrap {
		display: inline-block;
		margin-left: 1rem;
		font-size: 1.125rem;
		a {
			display: block;
		}
	}
}

.section-title {
	margin-bottom: 2rem;
	padding-left: 1.5rem;
	position: relative;
	&:before, &:after {
		content: "";
		background: #566060;
		border-radius: 50%;
		width: 6px;
		height: 6px;
		position: absolute;
		left: 0;
		z-index: 0;
	}
	&:before {
		top: 4px;
	}
	&:after {
		background: $main_color;
		top: 16px;
	}
	h4 {
		display: inline-block;
		margin-bottom: 0;
		font-weight: 400;
		line-height: 1.2;
	}
}

.section-heading {
	margin-top: calc(2rem + 2vw);
	position: relative;
	span {
		background: $body_background;
		display: inline-block;
		padding-right: 1rem;
		position: relative;
		z-index: 1;
	}
	&:after {
		content: "";
		background: #828989;
		width: 100%;
		height: 1px;
		position: absolute;
		left: 0;
		right: 0;
		top: 50%;
		z-index: -1;
	}
}

.notice-wrapper {
	border-radius: .375rem;
	background: url(../assets/dot.png) left top repeat;
	margin-bottom: 3rem;
	padding: 1.25rem;
	.notice-title { color: orangered; }
}

.required {
    display: inline-block;
    padding-right: 0.25rem;
    font-weight: bold;
    color: red;
}

.form-action {
	display: flow-root;
	margin-top: calc(3rem + 1vw);
	min-height: 1px;
	text-align: center;
	position: relative;
	.turnback {
		position: absolute;
		left: 0;
		top: 0;
	}
	.has-history {
		position: absolute;
		right: 0;
		top: 3rem;
	}
}

.turnback {
	display: flex;
	align-items: center;
	font-size: 1.125rem;
	font-weight: 400;
	color: #363E3E;
	span {
		padding-left: 1rem;
		transition: all 0.2s ease-in-out;
	}
	path {
		transform-origin: left;
		transition: all 0.2s ease-in-out;
	}
	&:hover {
		path:first-child {
			transform: scaleX(.5);
			stroke: $main_color;
		}
		path + path {
			transform: translateX(-5px);
		}
		span { transform: translateX(-28px); }
	}
	&.turnback-orange {
		&:hover {
			color: #2e2821;
			path:first-child {
				stroke: $orange_color;
			}
		}
	}
}

.avatar-wrapper {
    margin-bottom: 3.5rem;
    .inner {
        width: 280px;
        margin: 0 auto;
        position: relative;
    }
    .profile-pic {
        width: 240px;
        height: 240px;
        display: inline-block;
    }

    .file-upload {
        display: none;
    }
    .avatar {
        overflow: hidden;
        background: rgba(#fff, .65);
        border: 1px solid #e5e5e5;
        padding: 20px 20px 60px;
        width: 280px;
        height: 320px;
    }
    img {
        max-width: 100%;
        height: auto;
    }
    .p-image {
        position: absolute;
        bottom: 15px;
        right: 20px;
        color: #666666;
        transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }
    .p-image:hover {
        transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }
    .upload-button {
        font-size: 1.5rem;
    }

    .upload-button:hover {
        transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        color: #999;
    }
    .form-text {
        margin: .5rem auto 0;
        width: 280px;
    }
    &.avatar-square {
        .inner { margin: 0; }
        .profile-pic {
            max-height: 240px;
        }
        .avatar { height: 320px; }
        .form-text { margin: .5rem 0 0; }
    }
}

.pagination {
	.page-link {
		font-weight: 500;
		color: $main_dark_color;
		&:hover, &:active {
			background: $main_dark_color;
			color: #fff;
		}
		&:focus {
			background: #eee;
			box-shadow: 0 0 0 0.25rem rgba(#eee, .5);
		}
	}
	.active>.page-link, .page-link.active {
		background: #3d4d4b;
		border-color: #3d4d4b;
		color: #fff;
	}
}

.form-switch.switch-lg {
	padding-left: 4.5em;
	.form-check-input {
		margin-left: -4.5em;
		width: 3.5em;
		height: 1.75em;
	}
	.form-check-label {
		line-height: 2em;
		font-size: 1.25rem;
		font-weight: 400;
	}
}

.container-fixed {
	margin: 0 auto;
	padding: 0 .75rem;
	max-width: 1320px !important;
	min-width: 1200px !important;
}

.table-lg > :not(caption) > * > * {
	padding: 0.75rem 0.75rem;
}

.customized-select-lg {
	border-radius: 1rem;
	padding: .75rem 2.25rem .625rem 1rem;
	font-size: 1.063rem;
}

.sys-subject {
    background: url(../assets/dot.png) left top repeat;
    padding: 1.625rem 0 1.5rem;
	h3 {
		margin-bottom: 0;
		font-weight: 300;
	}
}

.about-content {
	font-size: 1.063rem;
	font-weight: 400;
}

/* `Login
-----------------------------------------------------------------------------*/

.login-wrapper {
	margin: 0 auto calc(4rem + 4vw);
	max-width: 480px;
}

.login-card {
	.card-hd {
		border-bottom: 1px dotted $base_border_color;
		margin-bottom: 2.5rem;
		padding-bottom: 1.25rem;
		h3 {
			margin-bottom: 0;
			//font-weight: 700;
			color: #697272;
			text-align: center;
		}
	}
}

/* `Setting
-----------------------------------------------------------------------------*/

.setting-wrapper {
	.setting-section {
		margin-bottom: calc(3rem + 3vw);
	}
	.form-hd {
		margin-bottom: calc(1rem + 1vw);
		h4 { margin: 0 2rem 0 0; }
	}
	.form-label {
		font-weight: 400;
	}
	.company-data-wrapper {
		padding-top: 1rem;
	}
}

/* `StartUp Info
-----------------------------------------------------------------------------*/

.startup-wrapper {
	.startup-filter {
		display: flex;
		margin-bottom: 3rem;
		span {
			flex-grow: 1;
			margin-right: .375rem;
			&:last-child {
				flex-grow: 0;
				margin-right: 0;
			}
		}
	}
	.short-field {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 3rem;
		li {
			border-bottom: 1px dashed $base_border_color;
			padding: 1.25rem 0;
			width: 32%;
			span { display: block; }
			.lebel {
				margin-bottom: .25rem;
				color: #171919;
				font-size: .813rem;
				font-weight: 500;
			}
		}
	}
	.field-block {
		border-bottom: 1px solid $lighten_border_color;
		margin-bottom: calc(1.5rem + 1vw);
		padding-bottom: calc(.75rem + .5vw);
		position: relative;
		&::after {
			content: "";
			background: $main_color;
			width: 2rem;
			height: 1px;
			position: absolute;
			right: 0;
			bottom: -1px;
			z-index: 1;
		}
	}
	ol ol li {
		list-style: lower-roman;
	}
}

/* `Search
-----------------------------------------------------------------------------*/

.search-container {
	.pagination {
		margin-top: calc(1rem + 1vw);
	}
}

.searchbar {
	display: flex;
	align-items: center;
	margin-bottom: calc(1rem + 1vw);
	.input-group {
		width: auto;
	}
	.search-info {
		flex-grow: 1;
		margin-left: 1.5rem;
		font-size: .9375rem;
		color: #888;
	}
}

.search-result-list {
	.result-item {
		border-bottom: 1px solid $lighten_border_color;
		padding: calc(1rem + .625vw) 0;
		&:last-child {
			border-bottom: none;
		}
	}
}

/* `Sitemap
-----------------------------------------------------------------------------*/

.sitemap-content {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -.75rem;
	.map-column {
		margin-bottom: calc(1.5rem + 1vw);
		padding: 0 .75rem;
		width: 25%;
		position: relative;
		h4 {
			margin-bottom: 0;
			font-weight: 300;
			span, a {
				display: block;
				border-radius: 16px;
				padding: 4rem 1rem 1rem 1rem;
				width: 100%;
				position: relative;
				&:after {
					content: "";
					position: absolute;
					left: 0;
					right: 0;
					bottom: 0;
				}
			}
			a {
				background: #eff8f8;
				&:hover {
					background: $main_color;
					color: #fff;
					&:after {
						border: none;
					}
				}
			}
			span {
				background: #f3f5f5;
			}
		}
		i {
			font-size: .875rem;
			font-style: normal;
			color: #171919;
			position: absolute;
			left: 1.75rem;
			top: .75rem;
			z-index: 1;
			transition: all 0.2s ease-in-out;
		}
		.menu-item {
			margin-top: 1rem;
			li { margin-top: 2px; }
			a {
				display: inline-block;
				margin-bottom: .5rem;
				padding: 0 1rem;
			}
		}
		&:hover i {
			transform: translateY(1rem);
		}
	}
}

/* `News
-----------------------------------------------------------------------------*/

.news-list-wrapper {
	.menu-item {
		margin-bottom: calc(1.5rem + 1.5vw);
	}
}

.article-wrapper {
	.article-head {
		margin-bottom: calc(1.5rem + 1vw);
		.date {
			border-left: 1px solid $base_border_color;
			padding-left: 1rem;
		}
	}
	.article {
		border-bottom: 1px solid $lighten_border_color;
		margin-bottom: calc(1.5rem + 1vw);
		padding-bottom: calc(1.5rem + 1vw);
		font-size: 1.063rem;
		.download-wrap {
			border-top: 1px solid $lighten_border_color;
			margin-top: calc(1.5rem + 1vw);
			padding-top: calc(1.5rem + 1vw);
			h5 { margin-bottom: calc(.75rem + .75vw); }
		}
		.file-link {
			display: inline-block;
			background: url(../assets/file-down.svg) left center no-repeat;
			margin: 0 1.5rem .75rem 0;
			padding-left: 1.5rem;
		}
	}
	.posted {
		img {
			margin-bottom: 1rem;
			width: auto;
			max-width: 100%;
			height: auto;
		}
	}
}

/* `Highlights
-----------------------------------------------------------------------------*/

.highlights-list-container {
	.highlights-wrapper {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -1rem calc(1.5rem + 1vw);
		&:has(.highlights-card:hover) .highlights-card {
			opacity: 0.35;
		}
		&:has(.highlights-card:hover) .highlights-card:hover {
			opacity: 1;
		}
	}
	.highlights-card {
		border-radius: 0;
		width: 25%;
		margin-bottom: 2rem;
		padding: 0 1rem;
		overflow: visible;
		transition: all 0.2s ease-in-out;
		li {
			padding: .25rem 1rem;
			color: $base_font_color;
			font-weight: 400;
		}
		.logo {
			background-color: #fff;
			position: relative;
			z-index: 2;
			transform-origin: center center;
			transition: all 0.2s ease-in-out;
		}
		.label {
			color: #94a0a0;
			line-height: 1;
		}
		.output {
			font-size: .9375rem;
			color: #565b5b;
			overflow: visible;
			text-overflow: unset;
			white-space: normal;
		}
		.info {
			background: #fff;
			border-top: 1px dashed $lighten_border_color;
			backdrop-filter: none;
		}
	}
	.list-link {
		display: block;
		border-radius: 32px;
		overflow: hidden;
		&:hover {
			box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
			.logo {
				transform: scale(1.05);
			}
		}
	}
}

.highlights-team {
	.team-head {
		display: flex;
		align-items: center;
	}
	.team-logo {
		position: relative;
		.inner {
			display: block;
			border-radius: 2rem;
			background: rgba(255, 255, 255, 1) url(../assets/default-logo.svg);
			background-size: cover;
			aspect-ratio: 4 / 3;
			min-width: 368px;
			width: 368px;
			overflow: hidden;
		}
		img {
			display: block;
			width: 100%;
    		height: auto;
		}
		.status {
			background: #F3EEFE;
			padding: .375rem 1rem;
			font-size: .875rem;
			font-weight: 500;
			position: absolute;
			left: 0;
			top: 0;
		}
	}
	.team-info {
		margin-left: 4rem;
	}
	.team-info-list {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		li {
			display: block;
			align-content: center;
			border-bottom: 1px solid $lighten_border_color;
			padding: .5rem 0 .5rem 3rem;
			min-height: 60px;
			width: 47%;
			position: relative;
			&:nth-child(5n),
			&:nth-child(6n) {
				width: 100%;
			}
			&:last-child {
				border-bottom: none;
			}
		}
		.label {
			font-size: 0.813rem;
			color: #7d8888;
			line-height: 1;
			position: absolute;
			left: 0rem;
			top: 40%;
		}
		.output {
			font-size: 1.063rem;
			span + span {
				position: relative;
				padding-left: 1rem;
				&::before {
					content: "、";
					position: absolute;
					left: -.125rem;
					top: -.125rem;
				}
			}
		}
	}
}

.team-introduction-wrapper {
	margin-top: 6rem;
	.intro-item {
		border-bottom: 1px solid $lighten_border_color;
		padding: 3rem 0;
		h4 {
			margin-bottom: 2rem;
			font-size: 1.25rem;
		}
		p { margin-bottom: 0; }
	}
	.intro-group {
		display: flex;
		border-bottom: 1px solid $lighten_border_color;
		position: relative;
		&::before, &::after {
			content: "";
			background: $main_color;
			position: absolute;
		}
		.intro-item {
			border: none;
			width: 50%;
			&:first-child {
				border-right: 1px solid $lighten_border_color;
			}
			&:last-child {
				border-left: 1px solid $lighten_border_color;
				margin-left: -1px;
			}
		}
		&.first-group {
			.intro-item {
				&:first-child {
					padding-right: 4rem;
					padding-top: 0;
				}
				&:last-child {
					padding-left: 4rem;
					padding-top: 0;
				}
			}
			&::before {
				margin-left: -24px;
				width: 48px;
				height: 1px;
				bottom: -1px;
				left: 50%;
			}
			&::after {
				margin-left: -1px;
				width: 1px;
				height: 24px;
				bottom: 0;
				left: 50%;
			}
		}
		&.last-group {
			.intro-item {
				&:first-child {
					padding-right: 4rem;
				}
				&:last-child {
					padding-left: 4rem;
				}
			}
			&::before {
				margin-left: -24px;
				width: 48px;
				height: 1px;
				top: -1px;
				left: 50%;
			}
			&::after {
				margin-left: -1px;
				width: 1px;
				height: 24px;
				top: 0;
				left: 50%;
			}
		}
	}
	.product-photo {
		display: flex;
		gap: .5rem;
		margin-top: 1.5rem;
		img {
			width: 22%;
			height: auto;
		}
	}
}

/* `Video
-----------------------------------------------------------------------------*/

.video-container {
	margin-bottom: 20px;
	.container-header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: calc(1.5rem + 1.5vw);
	}
	.filterbar {
		.btn {
			border-radius: 0 !important;
			font-weight: 300;
			position: relative;
			&:before, &:after {
				content: "";
				background: #5a5c5b;
				width: 100%;
				height: .75rem;
				position: absolute;
				left: 0;
				opacity: 0;
			}
			&:before {
				border-radius: .375rem .375rem 0 0;
				top: -.75rem;
			}
			&:after {
				border-radius: 0 0 .125rem .125rem;
				bottom: -.75rem;
			}
			&.selected {
				font-weight: 400;
				&:after {
					opacity: 1;
				}
			}
		}
	}
	.searchbar {
		margin-bottom: 0;
	}
	.is-animate {
		opacity: 1;
		animation: .6s zoom-in;
	}
}

@keyframes zoom-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        transform: none;
    }
}

.video-list-wrapper {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -1.5rem;
	.video-item {
		width: 25%;
		padding: 0 1.5rem;
		margin-bottom: 2.5rem;
		a {
			display: block;
			color: #515656;
			&:hover {
				.video-title { color: $main_color; }
			}
		}
	}
	.video-cover {
		display: block;
		margin-bottom: .5rem;
		aspect-ratio: 16 / 9;
		overflow: hidden;
		img {
			width: 100%;
			height: auto;
		}
	}
	.video-title {
		font-size: 1.063rem;
		transition: all 0.2s ease-in-out;
	}
	.info-hd {
		display: flex;
		justify-content: space-between;
		margin-bottom: .5rem;
		font-size: .875rem;
		font-weight: 400;
		color: #828989;
	}
	.video-description {
		margin-bottom: .5rem;
		font-size: .9375rem;
		line-height: 1.4;
	}
	.video-type {
		display: inline-block;
		background: url(../assets/tag.svg) left center no-repeat;
		padding-left: 1.5rem;
		font-weight: 400;
	}
}

.video-article-container {
	h2 {
		margin-bottom: calc(1.5rem + 1vw);
	}
	.container-inner {
		display: flex;
		justify-content: space-between;
	}
	.video-article {
		flex-grow: 1;
	}
	.video-aside {
		padding-left: 2.25rem;
		width: 368px;
		min-width: 368px;
	}
	.view-times {
		text-align: end;
		font-weight: 400;
		font-size: .9375rem;
		color: #585e62;
		img {
			display: inline-block;
			margin-right: .25rem;
		}
	}
	.info-block {
		border-bottom: 1px dashed #d9dddd;
		padding: calc(1.375rem + .5vw) 0 calc(.875rem + .5vw);
		position: relative;
		h5 { margin-bottom: calc(.5rem + .5vw); }
	}
	.link-menu {
		display: flex;
		gap: 1.75rem;
		a {
			display: block;
			padding-left: 1rem;
			position: relative;
			&:before {
				content: "";
				background: $link_hover;
				border-radius: 50%;
				margin-top: -3px;
				height: 4px;
				width: 4px;
				position: absolute;
				left: 0;
				top: 50%;
				transition: all 0.2s ease-in-out;
				transform-origin: center;
			}
			&:hover {
				&:before {
					background: $main_color;
					transform: scale(2);
				}
			}
		}
	}
	.video-aside {
		.aside-head {
			margin-bottom: .5rem;
			padding-left: .75rem;
			span {
				display: block;
				font-size: .813rem;
				line-height: 1.3;
				color: #7d8888;
				& + span {
					font-size: 1.063rem;
					color: $base_font_color;
				}
			}
		}
	}
	.aside-video-list {
		.video-link {
			display: flex;
			justify-content: space-between;
			border-radius: 3px;
			padding: .75rem;
			&:hover {
				background: #f0f3f3;
				h6 { color: darken($main_dark_color, 5); }
			}
			&.current {
				background: #fff;
				border: 1px solid $lighten_border_color;
				cursor: default;
				h6 { color: darken($main_dark_color, 5); }
			}
		}
		.video-cover {
			width: 48%;
			aspect-ratio: 16 / 9;
			overflow: hidden;
			img {
				width: 100%;
				height: auto;
			}
		}
		.video-info {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			width: 48%;
			h6 {
				margin-bottom: 0;
				font-weight: 400;
				color: $base_font_color;
				transition: all 0.2s ease-in-out;
			}
			span {
				font-size: .875rem;
				line-height: 1.1;
				color: #585e62;
			}
		}
	}
}

/* `Matchmaking
-----------------------------------------------------------------------------*/

.matchmaking-container {
	th, td {
		background-color: transparent;
		transition: all 0.1s ease-in-out;
	}
	th {
		border-color: #a1d2d2;
		padding-bottom: .75rem;
		font-weight: 500;
	}
	.home-section {
		margin-bottom: calc(3rem + 3vw);
		&:last-child {
			margin-bottom: 0;
		}
		.mobile-only { display: none; }
	}
	.home-section-title {
		margin-bottom: calc(1rem + 1vw);
		h4 {
			margin-bottom: 0;
			font-weight: 300;
			text-align: center;
		}
	}
	.table-hover > tbody > tr:hover > * {
		background: #edf9f9;
		box-shadow: none;
	}
}

.demand-table {
	th, td {
		&:last-child {
			text-align: center;
		}
	}
	tbody tr:last-child,
	tr:last-child td {
		border-bottom: none;
	}
	.owen-info {
		display: block;
		text-wrap: wrap;
		line-height: 1.2;
	}
	.owen-name, .comm-model {
		display: block;
	}
	.owen-name {
		font-weight: 400;
		line-height: 1.2;
	}
	.owen-company, .owen-department {
		font-size: .813rem;
		font-weight: 400;
		color: #515656;
		text-wrap: wrap;
	}
	.owen-company {
		padding-right: 1rem;
		position: relative;
		&:after {
			content: "/";
			position: absolute;
			right: 3px;
			top: 0;
		}
	}
}

.matchmaking-slogan {
	margin-bottom: calc(2rem + 2vw);
	padding: calc(2.5rem + 2.5vw) 0;
	overflow: hidden;
	position: relative;
	.slogan {
		position: relative;
		font-size: calc(1.188rem + .5vw);
		font-weight: 200;
		text-shadow: 0 0 4px rgba(0, 0, 0, 0.1), 0 0 6px rgba(0, 0, 0, 0.1), 0 0 8px rgba(0, 0, 0, 0.1);
		color: #2f2f37;
		text-align: center;
		z-index: 3;
		opacity: .75;
	}
}

@keyframes jumbo {
    from {
        background-position: 50% 50%, 50% 50%;
    }
    to {
        background-position: 350% 50%, 350% 50%;
    }
}

.jumbo {
    --stripes: repeating-linear-gradient(
        100deg,
        #fff 0%,
        #fff 7%,
        transparent 10%,
        transparent 12%,
        #fff 16%
    );
    --stripesDark: repeating-linear-gradient(
        100deg,
        #000 0%,
        #000 7%,
        transparent 10%,
        transparent 12%,
        #000 16%
    );
    --rainbow: repeating-linear-gradient(
        100deg,
        #60a5fa 10%,
        #e879f9 15%,
        #60a5fa 20%,
        #5eead4 25%,
        #60a5fa 30%
    );
    background-image: var(--stripes), var(--rainbow);
    background-size: 300%, 200%;
    background-position: 50% 50%, 50% 50%;
    filter: blur(10px) invert(100%);
    mask-image: radial-gradient(ellipse at 100% 0%, black 40%, transparent 70%);
    pointer-events: none;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	overflow: hidden;
	opacity: 0.5;
}

.jumbo::after {
    content: "";
    position: absolute;
    inset: 0;
    background-image: var(--stripes), var(--rainbow);
    background-size: 200%, 100%;
    animation: jumbo 60s linear infinite;
    background-attachment: fixed;
    mix-blend-mode: difference;
}

.matchmaking-route {
	display: flex;
	border-bottom: 1px solid $base_border_color;
	position: relative;
	&::before, &::after {
		content: "";
		background: $main_color;
		position: absolute;
	}
	&::before {
		margin-left: -24px;
		width: 48px;
		height: 1px;
		bottom: -1px;
		left: 50%;
	}
	&::after {
		margin-left: -1px;
		width: 1px;
		height: 24px;
		bottom: 0;
		left: 50%;
	}
	.section-route {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding: 1rem 0 4rem;
		width: 50%;
		text-align: center;
		&:first-child {
			border-right: 1px solid $base_border_color;
			padding-right: 4rem;
		}
		&:last-child {
			border-left: 1px solid $base_border_color;
			padding-left: 4rem;
			margin-left: -1px;
		}
	}
	h3 {
		margin-bottom: calc(.5rem + .5vw);
	}
	p {
		margin-bottom: calc(.75rem + .5vw);
	}
	.btn-main {
		border-radius: 14px;
		padding: .5rem 3rem .5rem 1.5rem;
		font-size: 1.063rem;
		font-weight: 300;
		position: relative;
		transition: all 0.2s ease-in-out !important;
		&:before {
			content: "";
			background: url(../assets/arrow-right-slim.svg) center center no-repeat;
			width: 1rem;
			height: 1rem;
			position: absolute;
			right: 1.25rem;
			top: 50%;
			transform: translateY(-50%);
			transition: all 0.2s ease-in-out;
		}
		&:hover {
			box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
			transform: translateY(-2px);
			&:before {
				transform: translateX(.25rem) translateY(-50%);
			}
		}
		&:active {
			box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
			border-color: $main_dark_color;
			color: $link_hover;
			transform: translateY(0);
			&:before {
				transform: translateX(.375rem) translateY(-50%);
			}
		}
	}
	.btn-provider {
		border-color: #844adb;
		color: #844adb;
		&:before { background: url(../assets/arrow-right-slim-provider.svg) center center no-repeat; }
		&.btn-outline:hover {
			background: rgba(#844adb, 0.1);
		}
	}
}

.achievements-wrapper {
	display: flex;
	border-top: 1px solid $base_border_color;
	.wrap-card {
		border-right: 1px solid $base_border_color;
		padding: 4rem 3rem 1.5rem;
		width: 33.33333%;
		text-align: center;
		&:last-child {
			border-right: none;
		}
	}
	h6 {
		margin-bottom: .5rem;
		font-size: .875rem;
		color: #585e62;
	}
	p {
		margin-bottom: 0;
		font-size: calc(1.5rem + .5vw);
		color: #9048b8;
	}
}

.matchmaking-workspace {
	.container-fixed {
		margin: 0 auto;
		padding: 0 .75rem;
		max-width: 1320px !important;
		min-width: 1200px !important;
	}
	.matchmaking-container {
		&.has-side-container {
			display: flex;
			.side-container {
				width: 256px;
				min-width: 256px;
			}
			main.main {
				flex-grow: 1;
				margin-left: 6rem;
			}
		}
	}
}

.matchmaking-container {
	.list-filter {
		display: flex;
		gap: .25rem;
		margin-bottom: calc(1rem + .5vw);
		.list-search {
			min-width: 320px;
		}
	}
	.side-container-title {
		border-radius: 4px 0 0 32px;
		background: #d6f2f5;
		margin: 0 0 2.5rem;
		padding: 1.5rem 2.5rem 1.5rem 1.5rem;
		font-size: 1.25rem;
		text-align: end;
	}
	.side-container {
		.item-link {
			display: block;
			padding: 1.5rem 2.5rem 1.5rem 1.5rem;
			font-size: 1.125rem;
			line-height: 1.1;
			color: #566060;
			text-align: end;
			position: relative;
			&::before {
				content: "";
				background: $main_color;
				border-radius: 1rem;
				margin-top: -16px;
				width: 12px;
				height: 32px;
				position: absolute;
				right: 0;
				top: 50%;
				transform-origin: right center;
				transition: all 0.2s ease-in-out;
			}
			&:hover {
				color: $link;
				&::before {
					width: 24px;
					height: 16px;
					transform: translateY(6px);
				}
			}
			&.active {
				font-weight: 400;
				color: #363E3E;
				cursor: default;
				&::before {
					background: #363E3E;
					width: 12px;
					height: 16px;
					transform: rotate(90deg) translate(13px, 7px);
				}
			}
		}
		.side-turnback {
			display: block;
			margin-top: 6rem;
			.turnback { font-size: 1rem; }
		}
	}

	.route-promote {
		border-bottom: 1px dashed #c1cdcd;
		margin-bottom: 5rem;
		padding-bottom: 4rem;
		text-align: center;
		h2, p { margin-bottom: 2rem; }
		p { font-size: 1.063rem; }
	}

	.rounded-pill {
		box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
		padding: 4px 7px 3px;
		line-height: 1.2;
		text-shadow: 0 0 2px rgba(0, 0, 0, 0.2), 0 0 2px rgba(0, 0, 0, 0.2);
	}

	.btn:hover, .btn:active {
		.rounded-pill {
			box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
			top: 1px !important;
		}
	}
}

.provider-container {
	.side-container-title {
		background: #f3ebff;
	}
	.side-container {
		.item-link {
			&::before {
				background: $third-color;
			}
			&:hover {
				color: $third-color;
			}
		}
	}
}

#mdWarningBackdrop {
	background: $main_color;
	.modal-content {
		background-color: transparent;
		box-shadow: none;
		border: none;
		font-size: 1.063rem;
		font-weight: 400;
		color: #222424;
	}
	.md-back {
		display: inline-block;
		background: url(../assets/arrow-left-white.svg) left center no-repeat;
		padding-left: 2rem;
		color: #fff;
	}
}

/* `Commercial
-----------------------------------------------------------------------------*/

.commercial-container {
	.form-section {
		margin-bottom: calc(2rem + 1.5vw);
	}
	.form-section-title {
		margin-bottom: calc(1rem + .5vw);
		h4 {
			display: inline-block;
			margin-bottom: 0;
			position: relative;
			&:before {
				content: "";
				background: #3d4d4b;
				border-radius: 2rem;
				width: 8px;
				height: 4px;
				position: absolute;
				left: -1.5rem;
				top: 40%;
				top: 12px;
			}
		}
	}
	.sort-model-item {
		margin-top: .5rem;
		span { margin-right: 1rem; }
	}
}

textarea.form-control {
	resize: vertical;
	appearance: none;
}

.upload-document-item {
	padding-top: 1rem;
	position: relative;
	&:before {
		content: "";
		background: #666;
		width: 1.5rem;
		height: 1px;
		position: absolute;
		left: 0;
		top: 0;
	}
	span { font-weight: 500; }
	.btn-delete {
		opacity: .5;
		&:hover {
			opacity: 1;
		}
	}
}

.upload-document-link {
	display: inline-block;
	border-radius: 10rem;
	border: 1px solid $main_color;
	padding: 6px 20px 5px;
	font-weight: 500;
	&:hover {
		border-color: $link_hover;
	}
}

.refer-img {
	margin-bottom: 1.5rem;
	aspect-ratio: 16 / 9;
	position: relative;
	.btn {
		background: #171919;
		border-radius: 2px;
		padding: 3px 8px 2px;
		color: #fff;
		position: absolute;
		right: .25rem;
		top: .25rem;
		&:hover { background: crimson; }
	}
}

.lightbox-row {
	display: flex;
	flex-wrap: wrap;
	gap: 48px;
	.lightbox-item {
		width: calc(33.33333% - 32px);
	}
}

.lightbox-item {
	aspect-ratio: 16 / 9;
	background-size: cover;
	background-position: center center;
	border-radius: 3px;
	&:hover, &:active {
		opacity: 0.8;
	}
}

.image-upload-wrapper {
	display: flex;
	flex-wrap: wrap;
	gap: 24px;
	.box {
		background: #fff;
		aspect-ratio: 16 / 9;
		width: calc(33.33333% - 24px);
		overflow: hidden;
		position: relative;
	}
	.upload-options {
		position: absolute;
		cursor: pointer;
		overflow: hidden;
		text-align: center;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		& input {
			width: 0.1px;
			height: 0.1px;
			opacity: 0;
			overflow: hidden;
			position: absolute;
			z-index: -1;
		}
		& label {
			display: flex;
			align-items: center;
			width: 100%;
			height: 100%;
			cursor: pointer;
			overflow: hidden;
			&::after {
				content: "";
				background: url(../assets/add-image-photo-icon.svg) center center no-repeat;
				background-size: cover;
				width: 71px;
				height: 64px;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				z-index: 0;
				opacity: .2;
				transition: all 0.1s ease-in-out;
			}
			& span {
				display: inline-block;
				width: 50%;
				height: 100%;
				text-overflow: ellipsis;
				white-space: nowrap;
				overflow: hidden;
				vertical-align: middle;
				text-align: center;
				&:hover i.material-icons {
					color: lightgray;
				}
			}
			&:hover {
				&::after {
					opacity: 0.4;
				}
			}
		}
	}

	.js--image-preview {
		height: 100%;
		width: 100%;
		position: relative;
		overflow: hidden;
		background-image: url("");
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
		border-radius: 8px;
		pointer-events: none;
		z-index: 1;
		&.js--no-default::after {
			display: none;
		}
	}

	.drop {
		display: block;
		position: absolute;
		border-radius: 100%;
		transform: scale(0);
	}
	.btn-remove {
		border-radius: 50%;
		padding: 0;
		width: 1.5rem;
		height: 1.5rem;
		line-height: 1.5rem;
		position: absolute;
		right: 16px;
		top: 16px;
		z-index: 2;
	}

}

/* `Question sheet
-----------------------------------------------------------------------------*/

.question-sheet-container {
	.company-info-wrapper {
		display: flex;
		margin-bottom: 4rem;
		.form-group {
			margin-bottom: 2rem;
		}
	}
	.company-logo {
		width: 328px;
		img {
			border-radius: 32px;
			display: block;
			width: 100%;
			height: auto;
		}
	}
	.company-info {
		flex-grow: 1;
		padding-left: 2rem;
	}
	.container-head {
		margin-bottom: 4rem;
		width: 51%;
	}
	.sheet-section {
		margin-bottom: 4rem;
		&:last-child {
			margin-bottom: 0;
		}
		.sheet-title {
			margin-bottom: 3rem;
			font-size: 1.625rem;
			color: #24213c;
		}
		.form-label {
			font-weight: 500;
			color: #24213c;
		}
	}
}

.matchmaking-nav-sheet {
	align-items: flex-end;
	margin-bottom: 3.5rem;
	.nav-item {
		margin-right: .5rem;
		&:first-child {
			margin-right: 4rem;
			.sheet-link {
				border: none;
				padding: 0;
				font-size: 2rem;
				font-weight: 500;
				span {
					display: block;
					margin-bottom: .125rem;
					font-size: .875rem;
				}
				&:hover,
				&.active {
					background-color: transparent;
					color: #24213c;
				}
			}
		}
	}
	.sheet-link {
		display: block;
		background-color: transparent;
		border-radius: 2rem;
		border: 1px solid $lighten_border_color;
		padding: .5rem 1rem;
		color: #728080;
		line-height: 1.1;
		text-align: left;
		transition: all 0.2s ease-in-out;
		span {
			display: inline-block;
			margin-bottom: 0;
			padding-right: .25rem;
			font-size: .813rem;
		}
		&:hover {
			background: #f0f3f3;
			color: #2f303b;
		}
		&.active {
			background: #363E3E;
			color: #fff;
		}
	}

	&.nav-normal {
		.nav-item {
			&:first-child {
				margin-right: .5rem;
				.sheet-link {
					border: 1px solid $lighten_border_color;
					padding: .5rem 1rem;
					font-size: 1.063rem;
					font-weight: 400;
					span {
						display: inline-block;
						margin-bottom: 0;
						font-size: .813rem;
					}
					&:hover {
						background: #f0f3f3;
						color: #2f303b;
					}
					&.active {
						background: #363E3E;
						color: #fff;
					}
				}
			}
			.sheet-link {
				font-size: 1.063rem;
				font-weight: 400;
			}
		}
	}
}

.specialist-details {
	.form-group {
		border-bottom: 1px dashed $lighten_border_color;
		margin-bottom: .75rem;
		padding-bottom: .75rem;
	}
	.form-label {
		margin-bottom: 0;
		font-size: .875rem;
		font-weight: 400;
	}
	.form-output {
		color: #24213c;
	}
	[class*="col-"]:last-child {
		.form-group {
			border-bottom: none;
		}
	}
}

.modal-xxl {
	width: 1320px;
	max-width: 1320px;
	.modal-body {
		padding-top: 3rem;
	}
}

.container-more .more-link-sm {
	font-size: 1rem;
}

/* `Reply
-----------------------------------------------------------------------------*/

.reply-container {
	.expose-wrap {
		border-bottom: 1px dashed #dce2e2;
		margin-bottom: calc(2rem + 1vw);
		padding-bottom: calc(1.5rem + 1vw);
		font-size: calc(.9375rem + .125vw);
		h4 {
			margin-bottom: 1rem;
			font-weight: 400;
		}
	}
	.confirm-wrap {
		margin-top: calc(2rem + 2vw);
		h5 { margin-bottom: calc(1.5rem + .5vw); }
	}
	.form-label { font-weight: 400; }
}

/* `Responsive
-----------------------------------------------------------------------------*/

@media (max-width: 1399px) {
	.content {
		padding-top: calc(2rem + 4vw);
	}
	.roadmap-container {
		.planet { display: none; }
	}
	.highlights-card {
		width: 336px;
	}

	.highlights-list-container {
		.highlights-card {
			width: 33.3333%;
		}
	}

	.video-list-wrapper {
		margin: 0 -1rem;
		.video-item {
			padding: 0 1rem;
		}
	}
	.matchmaking-container .home-section .mobile-only {
		display: block;
	}
}

@media (max-width: 1199px) {
	.carousel-container {
		.scroll-wrap {
			display: none;
		}
	}
	.highlights-container {
		.inner-wrapper {
			max-width: 480px;
			margin: 0 auto;
		}
		.highlights-wrapper {
			display: block;
		}
		#space, .bubble { display: none; }
		.highlights-card {
			margin-bottom: calc(1.5rem + .5vw);
			width: 100%;
		}
		#app {
			display: block;
			z-index: 1;
		}
	}

	.sitemap-content {
		.map-column {
			width: 50%;
		}
	}

	.startup-wrapper {
		.startup-filter {
			flex-wrap: wrap;
			span {
				margin-bottom: .5rem;
				&:first-child {
					width: 20%;
				}
				&:nth-child(2n) {
					width: 30%;
				}
				&:nth-child(3n) {
					margin-right: 0;
					width: 48%;
				}
			}
		}
	}

	.highlights-team {
		.team-head { align-items: flex-start; }
		.team-info {
			margin-left: 2rem;
		}
		.team-info-list {
			display: block;
			margin-top: -.75rem;
			li { width: 100%; }
		}
	}

	.video-list-wrapper {
		margin: 0 -.75rem;
		.video-item {
			padding: 0 .75rem;
		}
	}
}

@media (max-width: 991px) {
	.news-list {
		display: block;
		.news-item {
			width: 100%;
			&:nth-child(2) {
				border-top: none;
			}
		}
		.news-link { min-height: 112px; }
	}

	.moneymaker-container {
		.moneymaker-wrapper {
			grid-gap: 6%;
		}
		.moneymaker-card {
			margin-bottom: calc(1.5rem + 2vw);
    		width: 47%;
		}
	}

	.startup-wrapper {
		.short-field {
			li {
				width: 48%;
			}
		}
	}

	.highlights-list-container {
		.highlights-card {
			width: 50%;
		}
	}
	.team-introduction-wrapper {
		margin-top: calc(2rem + 4vw);
		.intro-item {
			padding: calc(1.5rem + 1vw) 0;
			h4 { margin-bottom: calc(1rem + 1vw); }
		}
		.intro-group {
			&.first-group {
				.intro-item {
					&:first-child {
						padding-right: calc(1.5rem + 1.5vw);
					}
					&:last-child {
						padding-left: calc(1.5rem + 1.5vw);
					}
				}
			}
			&.last-group {
				.intro-item {
					&:first-child {
						padding-right: calc(1.5rem + 1.5vw);
					}
					&:last-child {
						padding-left: calc(1.5rem + 1.5vw);
					}
				}
			}
		}
	}

	.video-article-container {
		.container-inner {
			display: block;
		}
		.video-aside {
			padding-left: 0;
			width: 100%;
		}
		.video-article {
			margin-bottom: calc(2rem + 2vw);
		}
		.aside-video-list {
			.menu-item {
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;
			}
			li {
				width: 48%;
			}
		}
	}

	.video-list-wrapper {
		.video-item {
			width: 33.33333%;
		}
	}

	.matchmaking-route {
		.section-route {
			padding: 1rem calc(1.5rem + 1vw) calc(1.5rem + 1.5vw) !important;
		}
	}
}

@media (max-width: 768px) {
	.highlights-team {
		.team-head {
			display: block;
		}
		.team-logo {
			margin-bottom: 1.5rem;
			width: 100%;
			.inner {
				min-width: 100%;
				width: 100%;
			}

		}
		.team-info {
			margin-left: 0;
			width: 100%;
		}
		.team-info-list {
			margin-top: 0;
		}
	}
}

@media (max-width: 767px) {
	.news-list {
		.news-date {
			margin-right: 24px;
		}
		.news-title {
			font-size: 1.063rem;
		}
	}

	.highlights-team {
		.team-info-list {
			li {
				min-height: 54px;
			}
			.output {
				font-size: 1rem;
			}
		}
	}
	.team-introduction-wrapper {
		.intro-item {
			border: none !important;
			border-bottom: 1px solid $lighten_border_color !important;
			padding: calc(1.5rem + 1vw) 0 !important;
		}
		.intro-group {
			display: block;
			border-bottom: none;
			&::before, &::after {
				content: none !important;
			}
			.intro-item { width: 100%; }
		}
		.product-photo {
			flex-wrap: wrap;
			img {
				width: 48%;
			}
		}
	}

	.video-container {
		.container-header {
			display: block;
		}
		.searchbar { margin-top: 2rem; }
	}
	.video-list-wrapper {
		.video-item {
			width: 50%;
		}
	}

	.achievements-wrapper {
		display: block;
		.wrap-card {
			border-right: none;
			border-bottom: 1px dashed $lighten_border_color;
			padding: calc(1.5rem + 1.5vw) 0 calc(1.25rem + 1vw);
			width: 100%;
			&:last-child {
				border-bottom: none;
			}
		}
	}
}

@media (max-width: 679px) {
	.startup-wrapper {
		.short-field {
			display: block;
			li {
				width: 100%;
			}
		}
		.startup-filter {
			display: block;
			span {
				display: block;
				margin-right: 0;
				width: 100% !important;
				&:last-child {
					text-align: end;
				}
			}
		}
	}

	.video-article-container {
		.aside-video-list {
			.menu-item {
				display: block;
			}
			li {
				width: 100%;
			}
		}
	}

	.matchmaking-route {
		display: block;
		border-bottom: none;
		&::before, &::after {
			content: none;
		}
		.section-route {
			border: none !important;
			border-bottom: 1px solid $lighten_border_color !important;
			padding: calc(2rem + 1vw) calc(1.5rem + 1.5vw) calc(1.5rem + 1vw) !important;
			width: 100%;
		}
	}
}

@media (max-width: 574px) {
	.highlights-list-container {
		.highlights-card {
			margin-bottom: 1rem;
			width: 100%;
		}
	}
}

@media (max-width: 479px) {
	.news-list {
		.news-date {
			margin-right: 16px;
		}
		.news-title {
			font-size: 1rem;
		}
	}
	.sitemap-content {
		display: block;
		.map-column {
			margin-bottom: .25rem;
			width: 100%;
			.menu-item {
				margin-bottom: calc(1rem + 1vw);
			}
		}
	}

	.video-list-wrapper {
		display: block;
		.video-item {
			width: 100%;
		}
	}
}