<!-- tdrf: 使用者條款 -->

<div class="container-lg">
	<div class="agreement_privacy">
		<section class="member-section">
            <div class="text-justify">
                <h1>使用者條款</h1>
				<p>本使用者條款（以下稱「本條款」）適用於財團法人藥害救濟基金會（Taiwan Drug Relief Foundation, 以下稱TDRF）建立之教育訓練雲端平台位於及連結於https://www.tdrf.org.tw/learning網域之網站（以下稱「TDRF教育資源中心」、「本中心」、「我們」、「我們的」）。</p>
            </div>    
        </section>
		
        <section class="member-section">
            <div class="text-justify">
                <h2 class="member-section-heading">同意條款</h2>
				<p>不論個別的使用者其物理位置於何處，本條款適用於所有連結至TDRF教育資源中心之會員（以下合稱「使用者」、「您」），透過持續使用TDRF教育資源中心提供之服務〈以下稱「本服務」〉，即表示您已知悉且同意本條款，若您不同意本條款之部分或全部內容，您應立即停止使用TDRF教育資源中心。於您使用TDRF教育資源中心前，亦請詳閱我們的隱私權政策。</p><p>若您為未滿二十歲之使用者，除您本人應符合TDRF教育資源中心的規定外，當您使用或繼續使用本中心網站或服務時，即表示您已確認您的家長（或監護人）已閱讀、瞭解並同意接受使用者條款之所有內容及其後續之修改變更。</p>
            </div>    
        </section>

        <section class="member-section">
            <div class="text-justify">
                <h2 class="member-section-heading">本條款更新</h2>
                <p>TDRF在法律准許的範圍內，有權隨時修改、調整本條款中的任何條款內容。一旦TDRF對本條款內容進行修改或調整，將會於TDRF教育資源中心以公告形式發布周知。任何修改或調整將於公布之時起生效。如果使用者在修改公布後，繼續使用TDRF教育資源中心所提供的服務，則表示同意遵守本條款之更動。因此，請使用者務必定期查閱本條款，以確保了解本條款的所有更動。</p>
            </div>  
        </section>

        <section class="member-section">
            <div class="text-justify">
                <h2 class="member-section-heading">會員帳號及密碼安全</h2>
                <p>無論使用者是訪客或會員，都可以瀏覽TDRF教育資源中心上的內容，但只有註冊成為會員之使用者始得報名參加或購買實體課程或線上課程，並享受TDRF教育資源中心提供的各項服務。訪客可以很容易在TDRF教育資源中心上建立帳號，只要輸入Email帳號登入即可。建立帳號後，會員應提供並持續確保所有建立該帳號之個人資料之真實性及完整性，所有的個人資料皆被視為註冊必備要素，如建立帳號時提供之個人資料有虛偽不實或不完整之情事，應視為違反本條款，TDRF有權停止提供該使用者之服務。任何因填具虛偽不實或不完整之個人資料引起之爭議，概與TDRF教育資源中心無涉，TDRF不對此負責。</p><p>使用者不應使用任何與其個人真實資料無關之資訊建立其帳號名稱，包括但不限於使用模仿他人姓名或使用攻擊性的字眼、任何種族歧視的文字及任何會傷害、侵害他人權利之文字作為帳號名稱，如發生前開事項，TDRF有權終止該帳號的服務。會員應妥善保管其帳號及密碼，不應將其帳號及密碼轉讓或出借給他人使用，如會員發現其帳號遭他人非法使用，應立即通知TDRF。因駭客行為或會員的保管疏忽導致帳號、密碼遭他人非法使用，TDRF不負擔任何責任。</p><p>您有義務妥善保管帳戶、密碼及其他相關身分驗證資訊，並為此帳號登入系統後所進行之一切活動、行為負責，包括但不限於衍生之相關費用。</p><p>您同意在使用TDRF教育資源中心時遵循所有適用法律，且僅可基於合法目的使用本服務。以非經TDRF同意或指示之方式使用本服務或接觸系統，均應被嚴格禁止，TDRF有權停止提供該使用者之服務。</p>
            </div>    
        </section>

        <section class="member-section">
            <div class="text-justify">
                <h2 class="member-section-heading">隱私權政策</h2>
                <p>使用者提供的個人資料及TDRF教育資源中心保存與使用者相關之若干其它資料將受到中華民國法律和TDRF教育資源中心隱私權政策之規範。</p>                    
            </div>
        </section>

        <section class="member-section">
            <div class="text-justify">
                <h2 class="member-section-heading">使用規定和條約</h2>
                <p>TDRF教育資源中心所有提供的教材（包含文字、圖片、影音檔、軟體等）皆為本中心或特定機構的智慧財產權，受到法律的保障。您如已同意使用者條款的內容，我們容許您進入本中心平台使用這些課程資源。您必須同意有關本中心所有課程的教材，您皆需在事先獲得我們的允許或同意之下方得下載，我們允許只為個人使用，不會涉及商業用途，並且保證不會非法拷貝、發行、轉載及發售本中心所提供的教材，您必須慎重考量教材的使用並遵守以上申明。如有其他教材、課程資源使用上的特殊需求（如用作學術研究、幫助弱勢等正當且非營利之用途），則應以正確管道聯絡我們，以申請使用之授權。TDRF有權針對使用者的侵權行為所造成之損害，提起訴訟要求賠償。</p><p>任何經由TDRF教育資源中心上載、張貼、發送電子郵件或任何其他方式傳送的資訊、資料、文字、軟體、音樂、音訊、照片、圖形、視訊、資訊等內容，均由內容提供者自行承擔責任。TDRF無法保證經由本服務傳送的內容，其內容的合法性、正確性、完整性或品質。</p><p>TDRF教育資源中心提供之特定服務可能存在其專屬之條款，於此情形，您同意一併遵守該特定服務之專屬條款之規定。</p>
            </div> 
        </section>

        <section class="member-section">
            <div class="text-justify">
                <h2 class="member-section-heading">課程及服務</h2>
                <p>課程講師單獨為其提供的課程及其他相關出版品負完全責任，TDRF對於課程講師、使用者及其他會員間產生之爭執，概不負責。TDRF不為任何個人或是團體擔保，任何課程講師或學員之行為產生之任何爭議、請求、損失或是損害，概與TDRF無關，TDRF亦不為其行為負責。為維護智慧財產權及個資保護，活動會場及課程禁止錄音、錄影、拍照。</p><p>有關付費之課程，會員須報名、繳費後始完成報名程序，TDRF將開立發票予會員。會員報名繳費後因故無法上課，得依各課程簡章之規定辦理退費且以一次為限，退費之匯款或轉帳產生的手續費由會員負擔，於已繳之課程費用扣除。若TDRF因故未能開課，將全額退還會員已繳之課程費用，以保障其權利。</p><p>TDRF保有所有課程之報名審核權及隨時修改、變更、暫停或終止課程（包括但不限於日期、時間、地點、內容、形式、講師、結訓條件等）之權利，亦有權對課程及服務之所有事項作出最終解釋及決定，無須另行通知；如有異動或未竟事宜，得適時修正或補充。如遇天災（如颱風、地震、豪雨等）或不可抗力因素取消，將擇期辦理。上述資訊以TDRF教育資源中心公告為準。</p><p>TDRF可能會主動寄送TDRF教育資源中心之相關課程或活動資訊給會員，若會員確定不想要收到課程或活動相關資訊，請以e-mail寄至<a href="mailto:tdrf_learning@tdrf.org.tw">tdrf_learning@tdrf.org.tw</a>，通知TDRF教育資源中心取消傳送。</p>
            </div>
        </section>

        <section class="member-section">
            <div class="text-justify">
                <h2 class="member-section-heading">第三方連結</h2>
                <p>TDRF教育資源中心可能含有連結至TDRF教育資源中心以外之第三方網站，由於TDRF教育資源中心無法控制這些網站及資源，因此使用者在使用各該第三方網站前，需自行瞭解各該第三方網站之使用者條款及隱私權政策。因第三方網站或資源獲得的任何內容、商品或服務所產生的任何損害或損失，TDRF不負任何直接或間接之責任。且TDRF並未推薦或保證前述第三方網站或資源。</p>
            </div> 
        </section>
        <section class="member-section">
            <div class="text-justify">
                <h2 class="member-section-heading">智慧財產權</h2>
                <p>TDRF教育資源中心可能含有連結至TDRF教育資源中心以外之第三方網站，由於TDRF教育資源中心無法控制這些網站及資源，因此使用者在使用各該第三方網站前，需自行瞭解各該第三方網站之使用者條款及隱私權政策。因第三方網站或資源獲得的任何內容、商品或服務所產生的任何損害或損失，TDRF不負任何直接或間接之責任。且TDRF並未推薦或保證前述第三方網站或資源。</p>
            </div>  
        </section>

        <section class="member-section">
            <div class="text-justify">
                <h2 class="member-section-heading">內容和其他合法權益</h2>
                <p>TDRF並非所有上傳至TDRF教育資源中心內容之所有者。然而當會員發表、上傳、提交內容至TDRF教育資源中心，該會員即同意授與TDRF全球的、不可撤銷的、非獨家的、免費的授權可以重製、使用、發表、翻譯、公開展示、公開傳輸、公開傳播、改作前述內容至所有現在或未來的媒體平台。該會員同意前述使用將無須支付任何費用。</p>     
            </div>  
        </section>

        <section class="member-section">
            <div class="text-justify">
                <h2 class="member-section-heading">終止服務</h2>
                <p>使用者同意TDRF有權可基於其判斷或任何原因，隨時以各樣理由終止或暫停會員使用TDRF教育資源中心之服務，包括但不限於該會員顯少使用服務、違反本條款等。而對已付費購買課程會員，其相關服務事項的終止，則依「課程及服務」之約定。</p><p>TDRF於終止服務後，不論是否已通知，均得刪除該會員之帳號及內容，並可避免該使用者於未來連結至TDRF教育資源中心或使用TDRF教育資源中心。</p>
            </div>  
        </section>

        <section class="member-section">
            <div class="text-justify">
                <h2 class="member-section-heading">賠償</h2>
                <p>使用者擔保如TDRF及其管理階層、董事、員工、代理人及承包商因：(1)該使用者所發布或遞交之內容；(2)使用TDRF教育資源中心；(3)該使用者違反本條款；及(4)使用者侵犯第三人之任何權利，而產生之各樣主張、要求，從而受有損失、須負擔責任、損害賠償或支出（包括但不限於合理的律師費用），使用者同意賠償。</p>
            </div>   
        </section>

        <section class="member-section">
            <div class="text-justify">
                <h2 class="member-section-heading">服務之修改</h2>
                <p>TDRF保留隨時新增、停止、更改TDRF教育資源中心各項服務內容之全部或一部之權利，且不另行個別通知，使用者不得因此而要求任何補償或賠償。TDRF並保留終止或停止任一會員帳號使用之權利，且無事先通知會員之義務。使用者同意隨時為資料備份，以防資料遺失，就停止或更改服務或終止會員帳號使用所可能產生之任何內容遺失、困擾、不便或損害，TDRF對任何使用者或第三人均不負任何責任。</p>
            </div> 
        </section>

        <section class="member-section">
            <div class="text-justify">
                <h2 class="member-section-heading">擔保與保證</h2>
                <p>TDRF不保證以下事項：(1)本服務將符合使用者的特定要求；(2)本服務將不受干擾、及時提供、安全可靠或不會出錯；(3)使用本服務取得之結果正確可靠。於TDRF教育資源中心購買或取得之任何產品、服務、資訊或其它課程將符合使用者的期望，且(4)TDRF教育資源中心 中任何錯誤都將得到更正。是否使用本服務下載或取得任何課程應由使用者自行考慮且自負風險。使用者自TDRF教育資源中心或經由本服務取得的任何建議或資訊，無論是書面或口頭形式，除非本條款有明確規定，將不構成本服務條款以外之任何保證。</p>
            </div>  
        </section>

        <section class="member-section">
            <div class="text-justify">
                <h2 class="member-section-heading">責任限制</h2>
				<p>使用者知悉且同意使用TDRF教育資源中心存在一定風險。於法律容許最大限度內，TDRF 就：</p>
                <ol>
                    <li>因使用或無法使用TDRF教育資源中心提供的服務；</li>
                    <li>因使用TDRF教育資源中心而產生需要取得替代商品或服務之成本；</li>
                    <li>未經授權存取或變造使用者的傳輸或數據；</li>
                    <li>任何第三方所為之聲明或行為；</li>
                    <li>或任何非屬本條款規範之TDRF教育資源中心服務相關的議題，不承擔因合約、擔保、侵權行為、產品責任或其他任何原因產生之任何直接、間接、附帶、特別、衍生性或懲罰性損害賠償責任（包括但不限於各樣資料丟失、收入、獲利或商業機會及其他形式的損失），即使TDRF事先已被告知發生該賠償之可能性亦然。</li>
                </ol>
            </div>   
        </section>

        <section class="member-section">
            <div class="text-justify">
                <h2 class="member-section-heading">一般性條款</h2>
				<p>本條款及使用者與TDRF之關係，均以中華民國法律為準據法。使用者與TDRF就本服務、本條款或其它TDRF教育資源中心有關事項發生的爭議，應以台灣台北地方法院為第一審管轄法院。倘本條款之部分規定因與中華民國法律抵觸而無效者，本條款其它規定仍應具有完整的效力及效果。本條款之標題僅供方便而設，不具任何法律或契約效果。</p>
            </div>   
        </section>

        <section class="member-section">
            <div class="text-justify">
                <h2 class="member-section-heading">暫時中止服務</h2>
				<p>發生以下情況時，TDRF教育資源中心將會暫時停止服務，我們會設法盡快恢復正常服務，請隨時注意TDRF教育資源中心公告之訊息：</p>
                <ol>
                    <li>定期或臨時性系統檢查、軟硬體施工、設備更新、系統更新改版、更換新系統時。</li>
                    <li>遭逢天災、地變，如水災、颱風、火災、地震等人力不可抗拒之因素時。</li>
                    <li>當ISP業者網路線路傳輸品質不良或其他透過網路連結至TDRF教育資源中心系統之伺服器發生延滯、斷線狀況時。</li>
                    <li>若TDRF教育資源中心系統伺服器遭到任何形式的破壞導致無法正常運作時。</li>
                </ol> 
            </div> 
        </section>

        <section class="member-section">
            <div class="text-justify">
                <h2 class="member-section-heading">檢舉</h2>
                <p>倘發現任何違反本條款之情事，請以e-mail寄至<a href="mailto:tdrf_learning@tdrf.org.tw">tdrf_learning@tdrf.org.tw</a>，通知TDRF教育資源中心。</p>
            </div> 
        </section>

        <section class="member-section">
            <div class="text-justify">
                <h2 class="member-section-heading">聯繫我們</h2>
				<p>如果對本使用者條款或我們的信息處理方法有任何疑問，歡迎以電子郵件聯繫我們：<a href="mailto:tdrf_learning@tdrf.org.tw">tdrf_learning@tdrf.org.tw</a>。</p>
            </div>    
        </section>
	</div>
</div>


<% content_for :js do %>

    <!-- sidenav scrollbar -->
    <script src="../javascripts/jquery.scrollbar.min.js"></script>
    <script>
        jQuery(document).ready(function(){
            jQuery('.scrollbar-inner').scrollbar();
        });
	</script>

    <!-- sidenav open -->
	<script>
        (function () {
          'use strict'

          document.querySelector('#navbarSideCollapse').addEventListener('click', function () {
            document.querySelector('.offcanvas-collapse').classList.toggle('open')
          })
        })()
	</script>

    <!-- sidenav close -->
    <script>
        $("#widget-overlay").click(function(){
            $(".offcanvas-collapse").removeClass("open");
        });
	</script>
<% end %>