<!-- tdrf: 隱私權政策 -->

<div class="container-lg">
	<div class="agreement_privacy">
		<section class="member-section">
            <div class="text-justify">
                <h1>隱私權政策</h1>
				<p>TDRF教育資源中心網站網址：<a href="https://www.tdrf.org.tw/learning">https://www.tdrf.org.tw/learning</a>（以下稱「本中心」、「我們」、「我們的」），我們非常重視您的隱私權，此隱私權政策描述了我們如何蒐集您的個人資料，以及這些資料將如何被處理及利用，還有您可以如何管理及控制我們藉由TDRF教育資源中心蒐集到您的相關資料。我們建議您在使用我們的網站、服務及與我們進行交易前，仔細閱讀此隱私權政策及我們的使用者條款。透過持續使用TDRF教育資源中心，即表明您已接受此隱私權政策中描述的行為，並同意我們蒐集、處理及利用您的個人資料。</p>
            </div>    
        </section>
		
        <section class="member-section">
            <div class="text-justify">
                <h2 class="member-section-heading">資料蒐集之個人資料類別</h2>
				<p>當您造訪或使用TDRF教育資源中心時，我們可能會蒐集您的個人資料包括但不限於以下：</p>
				<ul>
				    <li>個人辨識（例如：姓名、住址、電子郵件信箱、行動電話、社群帳號、身分證字號）。</li>
					<li>個人描述（例如：出生年月日、性別、出生地、服務機構、部門、職稱、執業別）。</li>
					<li>財務辨識（例如：信用卡或簽帳卡之號碼、銀行帳戶之號碼與姓名）。</li>
					<li>財務交易（例如：收付金額、支付方式、往來紀錄）。</li>
					<li>安全細節（例如：密碼）。</li>
					<li>電腦與行動應用裝置之資料，含軟硬體規格、裝置辨識資料、IP 位址、Cookie 與裝置地理位置。</li>
				</ul>
				<p>未分類之資料（例如：課程發問、備註、無法歸類之檔案、報告、留言、評論）。</p>
				<p>經您授權所蒐集的個人資料，將僅用於協助TDRF教育資源中心提供服務給您。TDRF教育資源中心在您使用電子郵件信箱登錄時，僅蒐集並使用您的e-mail帳號資訊，以提供客制化的內容及服務。</p>
				<p>當您於TDRF教育資源中心購買任何課程時，所提供之個人財務資料，其蒐集、處理及利用僅作為該課程之對帳、核銷使用。</p>
				<p>TDRF教育資源中心如舉辦抽獎或任何回饋活動，您所提供給我們的的聯繫資料，也僅供當次活動執行使用。</p>
            </div>    
        </section>

        <section class="member-section">
            <div class="text-justify">
                <h2 class="member-section-heading">Cookies</h2>
                <p>TDRF教育資源中心系統會在您的電腦上設定並存取Cookies，Cookie是一些簡短資訊，是網站伺服器用來和瀏覽器進行溝通的一種技術，它能辨識區別使用者，以保存使用者上次造訪本中心網站之設定與一些快取資訊，節省使用者的時間，及顯示更貼近使用者需求、計算網頁的訪客人數。您可於您的瀏覽器設定網際網路Cookies處理方式，若您關閉Cookies，將無法使用本中心網站部分服務。</p>
            </div>  
        </section>

        <section class="member-section">
            <div class="text-justify">
                <h2 class="member-section-heading">個人資料使用目的及利用方式</h2>
                <p>TDRF教育資源中心所蒐集之個人資料將用於提供服務、維持網站營運及提供技術支援和資安保護：<br>當您參加實體課程或觀看線上課程時，基於課務管理需要，我們將於下列情形蒐集、處理並利用您的個人資料：包括但不限於提交問卷、測驗、作業、記錄出席狀況及與講師互動等。</p>
            </div>    
        </section>

        <section class="member-section">
            <div class="text-justify">
                <h2 class="member-section-heading">個人資料分享政策</h2>
                <p>除本政策另有規定者、遵循法規之揭露或為了避免您或其他使用者受到任何威脅外，未經您的同意及授權，我們不會向第三人提供您的個人資料。於TDRF教育資源中心與第三方合作時，第三方之隱私權條款亦將適用。</p>
				<p>若TDRF教育資源中心與其他公司合併、發生收購或我們出售部分或全部資產予第三方，我們會依交易條件約定移轉您的個人資料給該第三方。我們將會在移轉前您的個人資料前通知您，移轉後該第三方之隱私權政策將會適用於如何處理您的資料上。</p>
				<p>為保障您的隱私及安全，我們將盡力以合理之技術及程序，保障所有個人資料之安全，但網路上的傳輸及資料之儲存，無法保證百分之百安全。</p>
            </div>
        </section>
        
		<section class="member-section">
            <div class="text-justify">
                <h2 class="member-section-heading">隱私權政策更新</h2>
                <p>TDRF教育資源中心隱私權政策可能隨網站業務的需求隨時更改，除另有聲明者外，所有的修訂條款將於張貼日起自動生效，請您定期查看本政策。</p>
            </div>
        </section>
		
		<section class="member-section">
            <div class="text-justify">
                <h2 class="member-section-heading">個人資料之權利</h2>
                <p>您可以隨時登入TDRF教育資源中心更新您的個人資料，或以e-mail 寄至tdrf_learning@tdrf.org.tw，通知我們欲查詢或閱覽、要求製作複製本、請求補充、更正或停止蒐集、處理或利用及刪除您的帳號及個人資料。惟於法律允許範圍內，我們仍得保留您部分個人資料，您提出前述請求時，您明白該請求將可能會導致TDRF教育資源中心無法提供部分或全部功能。</p>
				<p>TDRF教育資源中心將於存續期間內或您要求我們刪除您的個人資料前，於我們提供服務之區域利用您的個人資料。</p>
            </div>
        </section>
		
		<section class="member-section">
            <div class="text-justify">
                <h2 class="member-section-heading">第三方連結</h2>
                <p>TDRF教育資源中心可能會於服務內提供第三方外部連結，如果您點擊該連結進入第三方網站，則關於您的個人資料之蒐集、處理、利用都應受該網站之隱私權政策或相關協議規範，故建議您於使用該網站前，詳閱其隱私權政策，第三方網站如何蒐集及利用您的個人資料，概與TDRF教育資源中心無涉，我們無需負責。</p>
            </div>
        </section>
		
		<section class="member-section">
            <div class="text-justify">
                <h2 class="member-section-heading">聯繫我們</h2>
                <p>如果對本隱私權政策有任何疑問，歡迎隨時以電子郵件聯繫我們：<a href="mailto:tdrf_learning@tdrf.org.tw">tdrf_learning@tdrf.org.tw</a>。</p>
            </div>
        </section>
	</div>
</div>


<% content_for :js do %>

    <!-- sidenav scrollbar -->
    <script src="../javascripts/jquery.scrollbar.min.js"></script>
    <script>
        jQuery(document).ready(function(){
            jQuery('.scrollbar-inner').scrollbar();
        });
	</script>

    <!-- sidenav open -->
	<script>
        (function () {
          'use strict'

          document.querySelector('#navbarSideCollapse').addEventListener('click', function () {
            document.querySelector('.offcanvas-collapse').classList.toggle('open')
          })
        })()
	</script>

    <!-- sidenav close -->
    <script>
        $("#widget-overlay").click(function(){
            $(".offcanvas-collapse").removeClass("open");
        });
	</script>
<% end %>