<!-- tdrf: 我參加的課程 -->

<div class="container-lg">
    <div class="index-wrapper tickets-wrapper">
		<main class="main">
		    <div class="events-list-wrapper">
				
			    <div class="event-item">
				    <div class="event-item-hd">
					    <span class="serial-hd">
							<span class="number">COURSE-00152</span>
						</span>
						<h3 class="event-title"><a href="#">一般人員/收費【第06期】陪同就醫專業人員實務工作坊</a></h3>
					</div>
					<div class="event-item-ft">
					    <span class="date-open">
						    <span class="date-text">開放報名</span>
							<span>2022/04/30</span>
						</span>
						<span class="date-attend">
						    <span class="date-text">上課日期</span>
							<span>2022/05/15</span>
							<span class="tilde">~</span>
							<span>2022/06/15</span>
						</span>
					</div>
				</div>
				
				<% (1..2).map do |i| %>
				<div class="event-item">
				    <div class="event-item-hd">
					    <span class="serial-hd">
							<span class="number">COURSE-00152</span>
						</span>
						<h3 class="event-title"><a href="#">專業人員/免費《110年上市後醫療器材子法規及QMS系統說明會 II》</a></h3>
						<div class="tags">
						    <span class="item">免費課程</span>
							<span class="item">多字元中文標籤名稱</span>
							<span class="item">標籤</span>
						</div>
					</div>
					<div class="event-item-ft">
					    <span class="date-open">
						    <span class="date-text">開放報名</span>
							<span>2022/04/30</span>
						</span>
						<span class="date-attend">
						    <span class="date-text">上課日期</span>
							<span>2022/05/15</span>
							<span class="tilde">~</span>
							<span>2022/06/15</span>
						</span>
					</div>
				</div>
				
				<div class="event-item">
				    <div class="event-item-hd">
					    <span class="serial-hd">
							<span class="number">COURSE-00152</span>
						</span>
						<h3 class="event-title"><a href="#">民眾/免費【居家防疫．E起線上聽-5】看病不是算命，建立有效的醫病溝通</a></h3>
					</div>
					<div class="event-item-ft">
					    <span class="date-open">
						    <span class="date-text">開放報名</span>
							<span>2022/04/30</span>
						</span>
						<span class="date-attend">
						    <span class="date-text">上課日期</span>
							<span>2022/05/15</span>
							<span class="tilde">~</span>
							<span>2022/06/15</span>
						</span>
					</div>
				</div>
				<% end %>
				
				<div class="event-item">
				    <div class="event-item-hd">
					    <span class="serial-hd">
							<span class="number">COURSE-00152</span>
						</span>
						<h3 class="event-title"><a href="#">醫療器材上市後子法規及通報系統說明會(中部場)</a></h3>
						<div class="tags">
						    <span class="item">免費課程</span>
							<span class="item">多字元中文標籤名稱</span>
							<span class="item">標籤</span>
						</div>
					</div>
					<div class="event-item-ft">
					    <span class="date-open">
						    <span class="date-text">開放報名</span>
							<span>2022/04/30</span>
						</span>
						<span class="date-attend">
						    <span class="date-text">上課日期</span>
							<span>2022/05/15</span>
							<span class="tilde">~</span>
							<span>2022/06/15</span>
						</span>
					</div>
				</div>
				
			</div>
			
            <nav aria-label="Page navigation">
                <ul class="pagination justify-content-end">
                    <li class="page-item disabled">
                        <a class="page-link">上一頁</a>
                    </li>
                    <li class="page-item active"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#">下一頁</a>
                    </li>
                </ul>
            </nav>
		</main>
	</div>
</div>


<% content_for :js do %>

<% end %>