<!-- ntu: S1 首頁表單 -->

<%= render :partial => "/partials/title-wrapper" %>

<div class="container-lg container-fixed">
	<div class="main-container">
        <main class="main">
            <div class="page-caption">
                <p><span class="required">*</span>為必填說明</p>
            </div>
            <section class="section">
                <div class="section-title">
                    <h4 class="title">個人資料</h4>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="exInput1" class="form-label">中文姓 <span class="required">*</span></label>
                                    <input type="text" class="form-control" id="exInput1" />
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="exInput2" class="form-label">中文名 <span class="required">*</span></label>
                                    <input type="text" class="form-control" id="exInput2" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="exInput3" class="form-label">英文姓 <span class="required">*</span></label>
                                    <input type="text" class="form-control" id="exInput3" />
									<div class="form-text">需與護照英文姓相同</div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="exInput4" class="form-label">英文名 <span class="required">*</span></label>
                                    <input type="text" class="form-control" id="exInput4" />
									<div class="form-text">需與護照英文名相同</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="birthdayInput" class="form-label">生日 <span class="required">*</span></label>
                            <input type="date" class="form-control" id="birthdayInput" name="trip-start" min="1980-01-01" max="2010-12-31">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="form-label">性別 <span class="required">*</span></label>
                            <div class="mt-2">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="genderRadio" id="genderMale" />
                                    <label class="form-check-label" for="genderMale">
                                        男性
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="genderRadio" id="genderFemale" />
                                    <label class="form-check-label" for="genderFemale">
                                        女性
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="form-label">身份別 <span class="required">*</span></label>
                                    <select class="form-select" aria-label="Default select example">
                                        <option selected>Open this select menu</option>
                                        <option value="1">One</option>
                                        <option value="2">Two</option>
                                        <option value="3">Three</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="exInput5" class="form-label">身份證號 <span class="required">*</span></label>
                                    <input type="text" class="form-control" id="exInput5" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="exInput6" class="form-label">E-mail <span class="required">*</span></label>
                                    <input type="email" class="form-control" id="exInput6" />
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="exInput7" class="form-label">手機號碼 <span class="required">*</span></label>
                                    <input type="text" class="form-control" id="exInput7" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="sblock-title">
                            <h5 class="title">住家地址</h5>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label for="exInput8" class="form-label">郵遞區號 <span class="required">*</span></label>
                                    <input type="email" class="form-control" id="exInput8" />
                                </div>
                            </div>
                            <div class="col-sm-9">
                                <div class="form-group">
                                    <label for="exInput9" class="form-label">住址 <span class="required">*</span></label>
                                    <input type="text" class="form-control" id="exInput9" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="sblock-title">
                            <h5 class="title">住家電話</h5>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label for="exInput10" class="form-label">區碼 <span class="required">*</span></label>
                                    <input type="email" class="form-control" id="exInput10" />
                                </div>
                            </div>
                            <div class="col-sm-9">
                                <div class="form-group">
                                    <label for="exInput11" class="form-label">電話號碼 <span class="required">*</span></label>
                                    <input type="text" class="form-control" id="exInput11" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="sblock-title">
                            <h5 class="title">租賃地址</h5>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label for="exInput12" class="form-label">郵遞區號</label>
                                    <input type="email" class="form-control" id="exInput12" />
                                </div>
                            </div>
                            <div class="col-sm-9">
                                <div class="form-group">
                                    <label for="exInput13" class="form-label">住址</label>
                                    <input type="text" class="form-control" id="exInput13" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-6">
                        <div class="sblock-title">
                            <h5 class="title">緊急聯絡人</h5>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label for="exInput14" class="form-label">姓名 <span class="required">*</span></label>
                                    <input type="email" class="form-control" id="exInput14" />
                                </div>
                            </div>
                            <div class="col-sm-9">
                                <div class="form-group">
                                    <label for="exInput15" class="form-label">關係 <span class="required">*</span></label>
                                    <input type="text" class="form-control" id="exInput15" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="sblock-title">
                            <h5 class="title">緊急聯絡人電話</h5>
                        </div>
                        <div class="row">
                            <div class="col-sm-2">
                                <div class="form-group">
                                    <label for="exInput14" class="form-label">區碼 <span class="required">*</span></label>
                                    <input type="email" class="form-control" id="exInput14" />
                                </div>
                            </div>
                            <div class="col-sm-5">
                                <div class="form-group">
                                    <label for="exInput15" class="form-label">電話號碼 <span class="required">*</span></label>
                                    <input type="text" class="form-control" id="exInput15" />
                                </div>
                            </div>
                            <div class="col-sm-5">
                                <div class="form-group">
                                    <label for="exInput15" class="form-label">手機號碼 <span class="required">*</span></label>
                                    <input type="text" class="form-control" id="exInput15" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group mt-4">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="exCheck1" />
                        <label class="form-check-label" for="exCheck1">
                            持有當年度中華民國行政主管機關開立之中、低收入證明
                        </label>
                    </div>
                </div>

            </section>

            <section class="section">
                <div class="section-title">
                    <h4 class="title">在學資料</h4>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="exInput21" class="form-label">學號 <span class="required">*</span></label>
                                    <input type="text" class="form-control" id="exInput21" />
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="form-label">學位 <span class="required">*</span></label>
                                    <select class="form-select" aria-label="Default select example">
                                        <option selected>Open this select menu</option>
                                        <option value="1">One</option>
                                        <option value="2">Two</option>
                                        <option value="3">Three</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="form-label">學院 <span class="required">*</span></label>
                            <select class="form-select" aria-label="Default select example">
                                <option selected>Open this select menu</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="form-label">系所 <span class="required">*</span></label>
                                    <select class="form-select" aria-label="Default select example">
                                        <option selected>Open this select menu</option>
                                        <option value="1">One</option>
                                        <option value="2">Two</option>
                                        <option value="3">Three</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="form-label">年級 <span class="required">*</span></label>
                                    <select class="form-select" aria-label="Default select example">
                                        <option selected>Open this select menu</option>
                                        <option value="1">One</option>
                                        <option value="2">Two</option>
                                        <option value="3">Three</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="form-label">輔系/雙學位</label>
                            <div class="mt-2">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" value="" id="exCheck2" />
                                    <label class="form-check-label" for="exCheck2">
                                        輔系
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" value="" id="exCheck3" />
                                    <label class="form-check-label" for="exCheck3">
                                        雙學位
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </section>
			
			<section class="section">
                <div class="section-title">
                    <h4 class="title">各項成績</h4>
                </div>
                <div class="sblock-title">
                    <h5 class="title">109 學年度在校成績 <span class="required">*</span></h5>
                </div>
				<div class="row">
				    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="exInput31" class="form-label">GPA</label>
                                    <input type="text" class="form-control" id="exInput31" />
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="exInput32" class="form-label">全校排名</label>
                                    <input type="text" class="form-control" id="exInput32" />
                                </div>
                            </div>
                        </div>
					</div>
					<div class="col-lg-6">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="exInput33" class="form-label">全班人數</label>
                                    <input type="text" class="form-control" id="exInput33" />
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="exInput34" class="form-label">全班排名百分比</label>
                                    <input type="text" class="form-control" id="exInput34" />
                                </div>
                            </div>
                        </div>
					</div>
				</div>
				<div class="form-precautions">
                    <ol>
                        <li>學士生以109學年度學年名次證明書上所列總平均分數計（大一生以前一學期在校成績計）</li>
                        <li>碩士生以前一學期在校成績計（碩一生無前一學期成績者，以大學歷年成績計）</li>
                        <li>博士生以前一學期在校成績計（博一生無前一學期成績者，以碩士歷年成績計）</li>
                    </ol>
				</div>
                <div class="form-group">
                    <label class="form-label">歷年成績單是否有不及格科目</label>
                    <div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="exRadio1" id="exRadio1Yes" />
                            <label class="form-check-label" for="exRadio1Yes">
                                是 (若勾選"是"，則繼續跳下一題)
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="exRadio1" id="exRadio1No" />
                            <label class="form-check-label" for="exRadio1No">
                                否
                            </label>
                        </div>
                    </div>
                </div>
				<div class="form-precautions">
                    <ol>
                        <li>110-1入學之碩一生以大學歷年成績計</li>
                        <li>博一生以碩士歷年成績計</li>
                        <li>109-2入學之碩一及碩二生以上僅看碩士歷年成績，博二生以上僅看博士歷年成績</li>
                    </ol>
					<p class="mt-2 mb-0">科目包含體育、服務學習、實習、操行、暑修、研究所下修大學部、跨校選修、夏季學程等所有列於成績單上的科目</p>
				</div>
				
				<div class="row">
				    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="form-label">是否曾有校內獎勵紀錄</label>
                            <div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="exRadio2" id="exRadio2Yes" />
                                    <label class="form-check-label" for="exRadio2Yes">
                                        是 (若勾選"是"，則繼續輸入下方獎勵項目)
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="exRadio2" id="exRadio2No" />
                                    <label class="form-check-label" for="exRadio2No">
                                        否
                                    </label>
                                </div>
                            </div>
                            <div class="form-text">請參考 <a href="http://host.cc.ntu.edu.tw/sec/All_Law/04/04-009.pdf" target="_blank"><i class="far fa-file-pdf"></i> 國立臺灣大學學生個人獎懲辦法</a></div>
                        </div>
					</div>
					<div class="col-lg-6">
                        <div class="form-group">
                            <label class="form-label">是否曾有校內懲處紀錄</label>
                            <div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="exRadio3" id="exRadio3Yes" />
                                    <label class="form-check-label" for="exRadio3Yes">
                                        是 (若勾選"是"，則繼續輸入下方懲處項目)
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="exRadio3" id="exRadio3No" />
                                    <label class="form-check-label" for="exRadio3No">
                                        否
                                    </label>
                                </div>
                            </div>
                            <div class="form-text">請參考 <a href="http://host.cc.ntu.edu.tw/sec/All_Law/04/04-009.pdf" target="_blank"><i class="far fa-file-pdf"></i> 國立臺灣大學學生個人獎懲辦法</a></div>
                        </div>
					</div>
				</div>

				<div class="form-group">
                    <label class="form-label">參加組別 <span class="required">*</span></label>
                    <div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="exRadio4" id="exRadio4G1" />
                            <label class="form-check-label" for="exRadio4G1">一般組</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="exRadio4" id="exRadio4G2" />
                            <label class="form-check-label" for="exRadio4G2">日語組</label>
                        </div>
						<div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="exRadio4" id="exRadio4G3" />
                            <label class="form-check-label" for="exRadio4G3">德語組</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="exRadio4" id="exRadio4G4" />
                            <label class="form-check-label" for="exRadio4G4">法語組</label>
                        </div>
						<div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="exRadio4" id="exRadio4G5" />
                            <label class="form-check-label" for="exRadio4G5">西語組</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="exRadio4" id="exRadio4G6" />
                            <label class="form-check-label" for="exRadio4G6">韓語組</label>
                        </div>
						<div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="exRadio4" id="exRadio4G7" />
                            <label class="form-check-label" for="exRadio4G7">中語組</label>
                        </div>
                    </div>
					<div class="form-text">本表送出後不得更換組別</div>
                </div>
				
				<div class="form-group">
                    <label class="form-label">語言能力證明 <span class="required">*</span></label>
                    <div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="exCheckbox11">
                            <label class="form-check-label" for="exCheckbox11">英語</label>
                        </div>
						<div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="exCheckbox12">
                            <label class="form-check-label" for="exCheckbox12">日語</label>
                        </div>
						<div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="exCheckbox13">
                            <label class="form-check-label" for="exCheckbox13">德語</label>
                        </div>
						<div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="exCheckbox14">
                            <label class="form-check-label" for="exCheckbox14">法語</label>
                        </div>
						
						<div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="exCheckbox15">
                            <label class="form-check-label" for="exCheckbox15">西班牙語</label>
                        </div>
						<div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="exCheckbox16">
                            <label class="form-check-label" for="exCheckbox16">韓語</label>
                        </div>
						<div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="exCheckbox17">
                            <label class="form-check-label" for="exCheckbox17">葡萄牙語</label>
                        </div>
						<div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="exCheckbox18">
                            <label class="form-check-label" for="exCheckbox18">俄語</label>
                        </div>
						<div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="exCheckbox19">
                            <label class="form-check-label" for="exCheckbox19">義大利語</label>
                        </div>
                    </div>
                </div>
				
				<div class="language-container">
					
					<!-- show/hide 煩請工程師協助-->
				    <div class="lang-item lang-en">
						
                        <div class="inner-block">
                            <div class="form-group">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="exCheck31" />
                                    <label class="form-check-label" for="exCheck31">TOEFL</label>
                                </div>
                            </div>
							
							<!-- show/hide 煩請工程師協助-->
							<div class="score-wrap">
                                <div class="row">
                                    <div class="col-sm-4 col-md-2">
                                        <div class="form-group">
                                            <label class="form-label">總分</label>
                                            <select class="form-select" aria-label="Default select example">
                                                <option selected>請選擇</option>
                                                <option value="1">One</option>
                                                <option value="2">Two</option>
                                                <option value="3">Three</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-4 col-md-2">
                                        <div class="form-group">
                                            <label class="form-label">讀</label>
                                            <select class="form-select" aria-label="Default select example">
                                                <option selected>請選擇</option>
                                                <option value="1">One</option>
                                                <option value="2">Two</option>
                                                <option value="3">Three</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-4 col-md-2">
                                        <div class="form-group">
                                            <label class="form-label">聽</label>
                                            <select class="form-select" aria-label="Default select example">
                                                <option selected>請選擇</option>
                                                <option value="1">One</option>
                                                <option value="2">Two</option>
                                                <option value="3">Three</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-4 col-md-2">
                                        <div class="form-group">
                                            <label class="form-label"> 	說</label>
                                            <select class="form-select" aria-label="Default select example">
                                                <option selected>請選擇</option>
                                                <option value="1">One</option>
                                                <option value="2">Two</option>
                                                <option value="3">Three</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-4 col-md-2">
                                        <div class="form-group">
                                            <label class="form-label">寫</label>
                                            <select class="form-select" aria-label="Default select example">
                                                <option selected>請選擇</option>
                                                <option value="1">One</option>
                                                <option value="2">Two</option>
                                                <option value="3">Three</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-4 col-md-2">
                                        <div class="form-group">
                                            <label class="form-label">Test Date</label>
                                            <input type="date" class="form-control" id="testDate1" name="trip-start" min="1980-01-01" max="2010-12-31">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group mb-0">
                                    <label class="form-label">是否為 Home Edition</label>
                                    <div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="heRadio" id="heRadio3Yes" />
                                            <label class="form-check-label" for="heRadio3Yes">
                                                是
                                            </label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="heRadio" id="heRadio3No" />
                                            <label class="form-check-label" for="heRadio3No">
                                                否
                                            </label>
                                        </div>
                                    </div>
                                </div>
							</div>
							<div class="form-text">不得填入MyBest™ Scores，相關介紹請參考美國 <a href="https://www.ets.org/toefl/better_test_experience" target="_blank">ETS官網</a></div>
                        </div>
						
						<div class="inner-block">
                            <div class="form-group">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="exCheck32" />
                                    <label class="form-check-label" for="exCheck32">IELTS</label>
                                </div>
                            </div>
							
							<!-- show/hide 煩請工程師協助-->
							<div class="score-wrap">
                                <div class="row">
                                    <div class="col-sm-4 col-md-2">
                                        <div class="form-group">
                                            <label class="form-label">總分</label>
                                            <select class="form-select" aria-label="Default select example">
                                                <option selected>請選擇</option>
                                                <option value="1">One</option>
                                                <option value="2">Two</option>
                                                <option value="3">Three</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-4 col-md-2">
                                        <div class="form-group">
                                            <label class="form-label">讀</label>
                                            <select class="form-select" aria-label="Default select example">
                                                <option selected>請選擇</option>
                                                <option value="1">One</option>
                                                <option value="2">Two</option>
                                                <option value="3">Three</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-4 col-md-2">
                                        <div class="form-group">
                                            <label class="form-label">聽</label>
                                            <select class="form-select" aria-label="Default select example">
                                                <option selected>請選擇</option>
                                                <option value="1">One</option>
                                                <option value="2">Two</option>
                                                <option value="3">Three</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-4 col-md-2">
                                        <div class="form-group">
                                            <label class="form-label"> 	說</label>
                                            <select class="form-select" aria-label="Default select example">
                                                <option selected>請選擇</option>
                                                <option value="1">One</option>
                                                <option value="2">Two</option>
                                                <option value="3">Three</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-4 col-md-2">
                                        <div class="form-group">
                                            <label class="form-label">寫</label>
                                            <select class="form-select" aria-label="Default select example">
                                                <option selected>請選擇</option>
                                                <option value="1">One</option>
                                                <option value="2">Two</option>
                                                <option value="3">Three</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-4 col-md-2">
                                        <div class="form-group">
                                            <label class="form-label">Test Date</label>
                                            <input type="date" class="form-control" id="testDate1" name="trip-start" min="1980-01-01" max="2010-12-31">
                                        </div>
                                    </div>
                                </div>
							</div>
                        </div>
						
						<div class="inner-block">
                            <div class="form-group">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="exCheck33" />
                                    <label class="form-check-label" for="exCheck33">全民英檢(GEPT)</label>
                                </div>
                            </div>
							
							<!-- show/hide 煩請工程師協助-->
							<div class="score-wrap">
                                <div class="row">
                                    <div class="col-lg-6">
										<div class="row">
										    <div class="col-sm-8">
                                                <div class="form-group">
                                                    <label class="form-label">級數</label>
                                                    <select class="form-select" aria-label="Default select example">
                                                        <option selected>請選擇</option>
                                                        <option value="1">One</option>
                                                        <option value="2">Two</option>
                                                        <option value="3">Three</option>
                                                    </select>
                                                </div>
											</div>
											<div class="col-sm-4">
                                                <div class="form-group">
                                                    <label class="form-label">Test Date</label>
                                                    <input type="date" class="form-control" id="testDate1" name="trip-start" min="1980-01-01" max="2010-12-31">
                                                </div>
											</div>
										</div>
                                    </div>
                                </div>
							</div>
                        </div>
					</div>
					
					<!-- show/hide 煩請工程師協助-->
					<div class="lang-item lang-general">
						<label class="form-check-label item-label">日語能力證明 <span class="required">*</span></label>
					    <div class="row">
						    <div class="col-sm-8">
								<div class="form-group">
                                    <label class="form-label">通過日語檢定</label>
                                    <select class="form-select" aria-label="Default select example">
                                        <option selected>選擇級數</option>
                                        <option value="1">One</option>
                                        <option value="2">Two</option>
                                        <option value="3">Three</option>
                                    </select>
                                </div>
							</div>
							<div class="col-sm-4">
                                <div class="form-group">
                                    <label class="form-label">Test Date</label>
                                    <input type="date" class="form-control" id="testDate1" name="trip-start" min="1980-01-01" max="2010-12-31">
                                </div>
							</div>
						</div>
					</div>
					
					<!-- show/hide 煩請工程師協助-->
					<div class="lang-item lang-general">
						<label class="form-check-label item-label">德語能力證明</label>
					    <div class="row">
						    <div class="col-sm-8">
								<div>
                                    <label class="form-label">通過德語檢定</label>
									<div class="row">
									    <div class="col-sm-8">
											<div class="form-group">
                                                <select class="form-select" aria-label="Default select example">
                                                    <option selected>請選擇</option>
                                                    <option value="1">One</option>
                                                    <option value="2">Two</option>
                                                    <option value="3">Three</option>
                                                </select>
											</div>
										</div>
										<div class="col-sm-4">
											<div class="form-group">
                                                <select class="form-select" aria-label="Default select example">
                                                    <option selected>請選擇</option>
                                                    <option value="1">One</option>
                                                    <option value="2">Two</option>
                                                    <option value="3">Three</option>
                                                </select>
											</div>
										</div>
									</div>
                                </div>
							</div>
							<div class="col-sm-4">
                                <div class="form-group">
                                    <label class="form-label">Test Date</label>
                                    <input type="date" class="form-control" id="testDate1" name="trip-start" min="1980-01-01" max="2010-12-31">
                                </div>
							</div>
						</div>
					</div>
					
					<!-- show/hide 煩請工程師協助-->
					<div class="lang-item lang-general">
						<label class="form-check-label item-label">法語能力證明</label>
					    <div class="row">
						    <div class="col-sm-8">
								<div>
                                    <label class="form-label">通過法語檢定</label>
									<div class="row">
									    <div class="col-sm-8">
											<div class="form-group">
                                                <select class="form-select" aria-label="Default select example">
                                                    <option selected>請選擇</option>
                                                    <option value="1">One</option>
                                                    <option value="2">Two</option>
                                                    <option value="3">Three</option>
                                                </select>
											</div>
										</div>
										<div class="col-sm-4">
											<div class="form-group">
                                                <select class="form-select" aria-label="Default select example">
                                                    <option selected>請選擇</option>
                                                    <option value="1">One</option>
                                                    <option value="2">Two</option>
                                                    <option value="3">Three</option>
                                                </select>
											</div>
										</div>
									</div>
                                </div>
							</div>
							<div class="col-sm-4">
                                <div class="form-group">
                                    <label class="form-label">Test Date</label>
                                    <input type="date" class="form-control" id="testDate1" name="trip-start" min="1980-01-01" max="2010-12-31">
                                </div>
							</div>
						</div>
					</div>
					
					<!-- show/hide 煩請工程師協助-->
					<div class="lang-item lang-general">
						<label class="form-check-label item-label">西語能力證明</label>
					    <div class="row">
						    <div class="col-sm-8">
								<div>
                                    <label class="form-label">通過西語檢定</label>
									<div class="row">
									    <div class="col-sm-8">
											<div class="form-group">
                                                <select class="form-select" aria-label="Default select example">
                                                    <option selected>請選擇</option>
                                                    <option value="1">One</option>
                                                    <option value="2">Two</option>
                                                    <option value="3">Three</option>
                                                </select>
											</div>
										</div>
										<div class="col-sm-4">
											<div class="form-group">
                                                <select class="form-select" aria-label="Default select example">
                                                    <option selected>請選擇</option>
                                                    <option value="1">One</option>
                                                    <option value="2">Two</option>
                                                    <option value="3">Three</option>
                                                </select>
											</div>
										</div>
									</div>
                                </div>
							</div>
							<div class="col-sm-4">
                                <div class="form-group">
                                    <label class="form-label">Test Date</label>
                                    <input type="date" class="form-control" id="testDate1" name="trip-start" min="1980-01-01" max="2010-12-31">
                                </div>
							</div>
						</div>
					</div>
					
					<!-- show/hide 煩請工程師協助-->
					<div class="lang-item lang-korea">
						<label class="form-check-label item-label">韓語能力證明</label>
						
						<div class="inner-block">
                            <div class="form-group">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="exCheck40" />
                                    <label class="form-check-label" for="exCheck40">通過韓語檢定(TOPIK)</label>
                                </div>
                            </div>
							
							<!-- show/hide 煩請工程師協助-->
							<div class="score-wrap">
                                <div class="row">
                                    <div class="col-lg-6">
										<div class="row">
										    <div class="col-sm-8">
                                                <div class="form-group">
                                                    <label class="form-label">級數</label>
                                                    <select class="form-select" aria-label="Default select example">
                                                        <option selected>請選擇</option>
                                                        <option value="1">One</option>
                                                        <option value="2">Two</option>
                                                        <option value="3">Three</option>
                                                    </select>
                                                </div>
											</div>
											<div class="col-sm-4">
                                                <div class="form-group">
                                                    <label class="form-label">Test Date</label>
                                                    <input type="date" class="form-control" id="testDate1" name="trip-start" min="1980-01-01" max="2010-12-31">
                                                </div>
											</div>
										</div>
                                    </div>
                                </div>
							</div>
                        </div>
						
						<div class="inner-block">
                            <div class="form-group">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="exCheck40" />
                                    <label class="form-check-label" for="exCheck40">通過韓語檢定(KLPT)</label>
                                </div>
                            </div>
							
							<!-- show/hide 煩請工程師協助-->
							<div class="score-wrap">
                                <div class="row">
                                    <div class="col-lg-6">
										<div class="row">
										    <div class="col-sm-8">
                                                <div class="form-group">
                                                    <label class="form-label">級數</label>
                                                    <select class="form-select" aria-label="Default select example">
                                                        <option selected>請選擇</option>
                                                        <option value="1">One</option>
                                                        <option value="2">Two</option>
                                                        <option value="3">Three</option>
                                                    </select>
                                                </div>
											</div>
											<div class="col-sm-4">
                                                <div class="form-group">
                                                    <label class="form-label">Test Date</label>
                                                    <input type="date" class="form-control" id="testDate1" name="trip-start" min="1980-01-01" max="2010-12-31">
                                                </div>
											</div>
										</div>
                                    </div>
                                </div>
							</div>
                        </div>
					</div>
					
					<!-- show/hide 煩請工程師協助-->
					<div class="lang-item lang-other">
						<label class="form-check-label item-label">葡萄牙語能力證明</label>
                        <div class="form-group">
                            <label for="exInput42" class="form-label">具葡萄牙語能力證明</label>
                            <input type="text" class="form-control" id="exInput42" />
							<div class="form-text">請說明所具證明</div>
                        </div>
					</div>
					
					<!-- show/hide 煩請工程師協助-->
					<div class="lang-item lang-general">
						<label class="form-check-label item-label">俄語能力證明</label>
					    <div class="row">
						    <div class="col-sm-8">
								<div class="form-group">
                                    <label class="form-label">通過俄語檢定(TORFL)</label>
                                    <select class="form-select" aria-label="Default select example">
                                        <option selected>選擇級數</option>
                                        <option value="1">One</option>
                                        <option value="2">Two</option>
                                        <option value="3">Three</option>
                                    </select>
                                </div>
							</div>
							<div class="col-sm-4">
                                <div class="form-group">
                                    <label class="form-label">Test Date</label>
                                    <input type="date" class="form-control" id="testDate1" name="trip-start" min="1980-01-01" max="2010-12-31">
                                </div>
							</div>
						</div>
					</div>
					
					<!-- show/hide 煩請工程師協助-->
					<div class="lang-item lang-other">
						<label class="form-check-label item-label">義大利語能力證明</label>
                        <div class="form-group">
                            <label for="exInput41" class="form-label">具義大利語能力證明</label>
                            <input type="text" class="form-control" id="exInput41" />
							<div class="form-text">請說明所具證明</div>
                        </div>
					</div>
				</div>
			</section>
			
            <section class="section">
                <div class="section-title">
                    <h4 class="title">申請密碼</h4>
                </div>
				<div class="row">
					<div class="col-lg-6">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="exInput50" class="form-label">密碼 <span class="required">*</span></label>
                                    <input type="password" class="form-control" id="exInput50" />
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="exInput51" class="form-label">密碼確認  <span class="required">*</span></label>
                                    <input type="password" class="form-control" id="exInput51" />
                                </div>
                            </div>
                        </div>
						<div class="form-text">密碼需設定6碼，請牢記您的密碼，以便選填志願時使用。</div>
					</div>
				</div>
			</section>
			
			<section class="section">
                <div class="section-title">
                    <h4 class="title">注意事項</h4>
                </div>
                <div class="form-group mt-4">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="exCheck99" />
                        <label class="form-check-label" for="exCheck99">
                            我確認我已詳閱並充分了解國立臺灣大學 111 學年度（2022/2023 年度）第 2 學期 出國交換學生甄選簡章
                        </label>
                    </div>
                </div>
			</section>
			
			<div class="form-action">
				<button type="button" class="btn btn-lg btn-light">重填</button>
			    <button type="submit" class="btn btn-lg btn-ntu">送出</button>
			</div>
        </main>
	</div>
</div>




<% content_for :js do %>

<% end %>