<!-- ntu: S2 首頁表單輸出 -->

<%= render :partial => "/partials/title-wrapper" %>

<div class="container-lg container-fixed">
	<div class="main-container">
        <main class="main application-output">
            <section class="section">
                <div class="section-title">
                    <h4 class="title">個人資料</h4>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="exInput1" class="form-label">中文姓 <span class="required">*</span></label>
                                    <div class="form-output">史</div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="exInput2" class="form-label">中文名 <span class="required">*</span></label>
                                    <div class="form-output">嘉蕾</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="exInput3" class="form-label">英文姓 <span class="required">*</span></label>
                                    <div class="form-output">Johansson</div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="exInput4" class="form-label">英文名 <span class="required">*</span></label>
                                    <div class="form-output">Scarlett</div>
                                </div>
                            </div>
                        </div>
                    </div>
					<div class="col-lg-6">
						<div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="birthdayInput" class="form-label">生日 <span class="required">*</span></label>
                                    <div class="form-output">1984-11-22</div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="form-label">性別 <span class="required">*</span></label>
                                    <div class="form-output">女性</div>
                                </div>
                            </div>
						</div>
					</div>
                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="form-label">身份別 <span class="required">*</span></label>
                                    <div class="form-output">一般生</div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="exInput5" class="form-label">身份證號 <span class="required">*</span></label>
                                    <div class="form-output">F0123456789</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="exInput6" class="form-label">E-mail <span class="required">*</span></label>
                                    <div class="form-output">johanssonscarlett@gmail.com</div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="exInput7" class="form-label">手機號碼 <span class="required">*</span></label>
                                    <div class="form-output">0900123456</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
				
				<div class="row">
                    <div class="col-lg-6">
                        <div class="sblock-title">
                            <h5 class="title">住家地址</h5>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label for="exInput8" class="form-label">郵遞區號 <span class="required">*</span></label>
                                    <div class="form-output">100</div>
                                </div>
                            </div>
                            <div class="col-sm-9">
                                <div class="form-group">
                                    <label for="exInput9" class="form-label">住址 <span class="required">*</span></label>
                                    <div class="form-output">台北市中正區重慶南路一段122號</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="sblock-title">
                            <h5 class="title">住家電話</h5>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label for="exInput10" class="form-label">區碼 <span class="required">*</span></label>
                                    <div class="form-output">02</div>
                                </div>
                            </div>
                            <div class="col-sm-9">
                                <div class="form-group">
                                    <label for="exInput11" class="form-label">電話號碼 <span class="required">*</span></label>
                                    <div class="form-output">2311-3731</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="sblock-title">
                            <h5 class="title">租賃地址</h5>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label for="exInput12" class="form-label">郵遞區號</label>
                                    <div class="form-output">100</div>
                                </div>
                            </div>
                            <div class="col-sm-9">
                                <div class="form-group">
                                    <label for="exInput13" class="form-label">住址</label>
                                    <div class="form-output">台北市中正區忠孝東路一段1號</div>
                                </div>
                            </div>
                        </div>
                    </div>
				</div>

                <div class="row">
                    <div class="col-lg-6">
                        <div class="sblock-title">
                            <h5 class="title">緊急聯絡人</h5>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label for="exInput14" class="form-label">姓名 <span class="required">*</span></label>
                                    <div class="form-output">科林約斯特</div>
                                </div>
                            </div>
                            <div class="col-sm-9">
                                <div class="form-group">
                                    <label for="exInput15" class="form-label">關係 <span class="required">*</span></label>
                                    <div class="form-output">配偶</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="sblock-title">
                            <h5 class="title">緊急聯絡人電話</h5>
                        </div>
                        <div class="row">
                            <div class="col-sm-2">
                                <div class="form-group">
                                    <label for="exInput14" class="form-label">區碼 <span class="required">*</span></label>
                                    <div class="form-output">02</div>
                                </div>
                            </div>
                            <div class="col-sm-5">
                                <div class="form-group">
                                    <label for="exInput15" class="form-label">電話號碼 <span class="required">*</span></label>
                                    <div class="form-output">2311-3731</div>
                                </div>
                            </div>
                            <div class="col-sm-5">
                                <div class="form-group">
                                    <label for="exInput15" class="form-label">手機號碼 <span class="required">*</span></label>
                                    <div class="form-output">0900123456</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group mt-4">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="exCheck1" checked disabled/>
                        <label class="form-check-label" for="exCheck1">
                            持有當年度中華民國行政主管機關開立之中、低收入證明
                        </label>
                    </div>
                </div>

            </section>

            <section class="section">
                <div class="section-title">
                    <h4 class="title">在學資料</h4>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="exInput21" class="form-label">學號 <span class="required">*</span></label>
                                    <div class="form-output">B05101048</div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="form-label">學位 <span class="required">*</span></label>
                                    <div class="form-output">學士</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="form-label">學院 <span class="required">*</span></label>
                            <div class="form-output">6000 生物資源暨農學院</div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="form-label">系所 <span class="required">*</span></label>
                                    <div class="form-output">生物產業傳播暨發展學系</div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="form-label">年級 <span class="required">*</span></label>
                                    <div class="form-output">大一</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="form-label">輔系/雙學位</label>
							<div class="form-output">雙學位</div>
                        </div>
                    </div>
                </div>
            </section>
			
			<section class="section">
                <div class="section-title">
                    <h4 class="title">各項成績</h4>
                </div>
                <div class="sblock-title">
                    <h5 class="title">109 學年度在校成績 <span class="required">*</span></h5>
                </div>
				<div class="row">
				    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="exInput31" class="form-label">GPA</label>
                                    <div class="form-output">3</div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="exInput32" class="form-label">全校排名</label>
                                    <div class="form-output">2</div>
                                </div>
                            </div>
                        </div>
					</div>
					<div class="col-lg-6">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="exInput33" class="form-label">全班人數</label>
                                    <div class="form-output">50</div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="exInput34" class="form-label">全班排名百分比</label>
                                    <div class="form-output">4%</div>
                                </div>
                            </div>
                        </div>
					</div>
				</div>
				
				<div class="row">
					<div class="col-sm-6 col-lg-3">
                        <div class="form-group">
                            <label class="form-label">歷年成績單是否有不及格科目</label>
                            <div class="form-output">是</div>
                        </div>
					</div>
				    <div class="col-sm-6 col-lg-3">
                        <div class="form-group">
                            <label class="form-label">是否曾有校內獎勵紀錄</label>
                            <div class="form-output">是</div>
                        </div>
					</div>
					<div class="col-sm-6 col-lg-3">
                        <div class="form-group">
                            <label class="form-label">是否曾有校內懲處紀錄</label>
                            <div class="form-output">是</div>
                        </div>
					</div>
				</div>

				<div class="form-group">
                    <label class="form-label">參加組別 <span class="required">*</span></label>
                    <div class="form-output">一般組</div>
					<div class="form-text">本表送出後不得更換組別</div>
                </div>
				
				<div class="form-group">
                    <label class="form-label">語言能力證明 <span class="required">*</span></label>
                    <div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="exCheckbox11" checked disabled>
                            <label class="form-check-label" for="exCheckbox11">英語</label>
                        </div>

						<div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="exCheckbox14" checked disabled>
                            <label class="form-check-label" for="exCheckbox14">法語</label>
                        </div>
						<div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="exCheckbox18" checked disabled>
                            <label class="form-check-label" for="exCheckbox18">俄語</label>
                        </div>
						<div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="exCheckbox19" checked disabled>
                            <label class="form-check-label" for="exCheckbox19">義大利語</label>
                        </div>
                    </div>
                </div>
				
				<div class="language-container">
					
				    <div class="lang-item lang-en">
						
                        <div class="inner-block">
                            <div class="form-group">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="exCheck31" checked disabled />
                                    <label class="form-check-label" for="exCheck31">TOEFL</label>
                                </div>
                            </div>
							
							<div class="score-wrap">
                                <div class="row">
                                    <div class="col-sm-4 col-md-2">
                                        <div class="form-group">
                                            <label class="form-label">總分</label>
                                            <div class="form-output">95</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4 col-md-2">
                                        <div class="form-group">
                                            <label class="form-label">讀</label>
                                            <div class="form-output">90</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4 col-md-2">
                                        <div class="form-group">
                                            <label class="form-label">聽</label>
                                            <div class="form-output">100</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4 col-md-2">
                                        <div class="form-group">
                                            <label class="form-label"> 	說</label>
                                            <div class="form-output">90</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4 col-md-2">
                                        <div class="form-group">
                                            <label class="form-label">寫</label>
                                            <div class="form-output">100</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4 col-md-2">
                                        <div class="form-group">
                                            <label class="form-label">Test Date</label>
                                            <div class="form-output">2022-06-06</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group mb-0">
                                    <label class="form-label">是否為 Home Edition</label>
									<div class="form-output">是</div>
                                </div>
							</div>
							<div class="form-text">不得填入MyBest™ Scores，相關介紹請參考美國 <a href="https://www.ets.org/toefl/better_test_experience" target="_blank">ETS官網</a></div>
                        </div>
						
						<div class="inner-block">
                            <div class="form-group">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="exCheck32" checked disabled />
                                    <label class="form-check-label" for="exCheck32">IELTS</label>
                                </div>
                            </div>
							
							<div class="score-wrap">
                                <div class="row">
                                    <div class="col-sm-4 col-md-2">
                                        <div class="form-group">
                                            <label class="form-label">總分</label>
                                            <div class="form-output">95</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4 col-md-2">
                                        <div class="form-group">
                                            <label class="form-label">讀</label>
                                            <div class="form-output">90</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4 col-md-2">
                                        <div class="form-group">
                                            <label class="form-label">聽</label>
                                            <div class="form-output">100</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4 col-md-2">
                                        <div class="form-group">
                                            <label class="form-label"> 	說</label>
                                            <div class="form-output">90</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4 col-md-2">
                                        <div class="form-group">
                                            <label class="form-label">寫</label>
                                            <div class="form-output">100</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4 col-md-2">
                                        <div class="form-group">
                                            <label class="form-label">Test Date</label>
                                            <div class="form-output">2022-06-06</div>
                                        </div>
                                    </div>
                                </div>
							</div>
                        </div>
						
						<div class="inner-block">
                            <div class="form-group">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="exCheck33" checked disabled />
                                    <label class="form-check-label" for="exCheck33">全民英檢(GEPT)</label>
                                </div>
                            </div>

							<div class="score-wrap">
                                <div class="row">
                                    <div class="col-lg-6">
										<div class="row">
										    <div class="col-sm-8">
                                                <div class="form-group">
                                                    <label class="form-label">級數</label>
                                                    <div class="form-output">超高級</div>
                                                </div>
											</div>
											<div class="col-sm-4">
                                                <div class="form-group">
                                                    <label class="form-label">Test Date</label>
                                                    <div class="form-output">2022-06-06</div>
                                                </div>
											</div>
										</div>
                                    </div>
                                </div>
							</div>
                        </div>
					</div>
					
					<div class="lang-item lang-general">
						<label class="form-check-label item-label">日語能力證明 <span class="required">*</span></label>
					    <div class="row">
						    <div class="col-sm-8">
								<div class="form-group">
                                    <label class="form-label">通過日語檢定</label>
                                    <div class="form-output">3級</div>
                                </div>
							</div>
							<div class="col-sm-4">
                                <div class="form-group">
                                    <label class="form-label">Test Date</label>
                                    <div class="form-output">2022-06-06</div>
                                </div>
							</div>
						</div>
					</div>
					
					<div class="lang-item lang-general">
						<label class="form-check-label item-label">德語能力證明</label>
					    <div class="row">
						    <div class="col-sm-8">
								<div>
                                    <label class="form-label">通過德語檢定</label>
									<div class="row">
									    <div class="col-sm-8">
											<div class="form-group">
                                                <div class="form-output">Goethe-Zertifikat C2: GDS</div>
											</div>
										</div>
										<div class="col-sm-4">
											<div class="form-group">
                                                <div class="form-output">C2</div>
											</div>
										</div>
									</div>
                                </div>
							</div>
							<div class="col-sm-4">
                                <div class="form-group">
                                    <label class="form-label">Test Date</label>
                                    <div class="form-output">2022-06-06</div>
                                </div>
							</div>
						</div>
					</div>

					<div class="lang-item lang-general">
						<label class="form-check-label item-label">法語能力證明</label>
					    <div class="row">
						    <div class="col-sm-8">
								<div>
                                    <label class="form-label">通過法語檢定</label>
									<div class="row">
									    <div class="col-sm-8">
											<div class="form-group">
                                                <div class="form-output">DELF/DALF</div>
											</div>
										</div>
										<div class="col-sm-4">
											<div class="form-group">
                                                <div class="form-output">A1</div>
											</div>
										</div>
									</div>
                                </div>
							</div>
							<div class="col-sm-4">
                                <div class="form-group">
                                    <label class="form-label">Test Date</label>
                                    <div class="form-output">2022-06-06</div>
                                </div>
							</div>
						</div>
					</div>
					
					<div class="lang-item lang-general">
						<label class="form-check-label item-label">西語能力證明</label>
					    <div class="row">
						    <div class="col-sm-8">
								<div>
                                    <label class="form-label">通過西語檢定</label>
									<div class="row">
									    <div class="col-sm-8">
											<div class="form-group">
                                                <div class="form-output">DELF</div>
											</div>
										</div>
										<div class="col-sm-4">
											<div class="form-group">
                                                <div class="form-output">B2</div>
											</div>
										</div>
									</div>
                                </div>
							</div>
							<div class="col-sm-4">
                                <div class="form-group">
                                    <label class="form-label">Test Date</label>
                                    <div class="form-output">2022-06-06</div>
                                </div>
							</div>
						</div>
					</div>
					
					<div class="lang-item lang-korea">
						<label class="form-check-label item-label">韓語能力證明</label>
						
						<div class="inner-block">
                            <div class="form-group">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="exCheck40" checked disabled />
                                    <label class="form-check-label" for="exCheck40">通過韓語檢定(TOPIK)</label>
                                </div>
                            </div>
							
							<div class="score-wrap">
                                <div class="row">
                                    <div class="col-lg-6">
										<div class="row">
										    <div class="col-sm-8">
                                                <div class="form-group">
                                                    <label class="form-label">級數</label>
                                                    <div class="form-output">3</div>
                                                </div>
											</div>
											<div class="col-sm-4">
                                                <div class="form-group">
                                                    <label class="form-label">Test Date</label>
                                                    <div class="form-output">2022-06-06</div>
                                                </div>
											</div>
										</div>
                                    </div>
                                </div>
							</div>
                        </div>
						
						<div class="inner-block">
                            <div class="form-group">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="exCheck40" checked disabled />
                                    <label class="form-check-label" for="exCheck40">通過韓語檢定(KLPT)</label>
                                </div>
                            </div>
							
							<div class="score-wrap">
                                <div class="row">
                                    <div class="col-lg-6">
										<div class="row">
										    <div class="col-sm-8">
                                                <div class="form-group">
                                                    <label class="form-label">級數</label>
                                                    <div class="form-output">3</div>
                                                </div>
											</div>
											<div class="col-sm-4">
                                                <div class="form-group">
                                                    <label class="form-label">Test Date</label>
                                                    <div class="form-output">2022-06-06</div>
                                                </div>
											</div>
										</div>
                                    </div>
                                </div>
							</div>
                        </div>
					</div>

					<div class="lang-item lang-other">
						<label class="form-check-label item-label">葡萄牙語能力證明</label>
                        <div class="form-group">
                            <label for="exInput42" class="form-label">具葡萄牙語能力證明</label>
                            <div class="form-output"><%= lorem_sentence %></div>
							<div class="form-text">請說明所具證明</div>
                        </div>
					</div>

					<div class="lang-item lang-general">
						<label class="form-check-label item-label">俄語能力證明</label>
					    <div class="row">
						    <div class="col-sm-8">
								<div class="form-group">
                                    <label class="form-label">通過俄語檢定(TORFL)</label>
                                    <div class="form-output">3級</div>
                                </div>
							</div>
							<div class="col-sm-4">
                                <div class="form-group">
                                    <label class="form-label">Test Date</label>
                                    <div class="form-output">2022-06-06</div>
                                </div>
							</div>
						</div>
					</div>

					<div class="lang-item lang-other">
						<label class="form-check-label item-label">義大利語能力證明</label>
                        <div class="form-group">
                            <label for="exInput41" class="form-label">具義大利語能力證明</label>
                            <div class="form-output"><%= lorem_sentence %></div>
							<div class="form-text">請說明所具證明</div>
                        </div>
					</div>
				</div>
			</section>
			
			<section class="section">
                <div class="section-title">
                    <h4 class="title">注意事項</h4>
                </div>
                <div class="mt-4">
                    <p><strong class="text-danger">確認送出</strong>後，系統將自動寄發驗證信至您所填寫的電子信箱</p>
					<p>請收信並依指示完成信箱驗證，若超過10分鐘未收到驗證信，請檢察垃圾信件匣。</p>
                </div>
			</section>
			
			<div class="form-action">
				<button type="button" class="btn btn-lg btn-light">修改</button>
			    <button type="submit" class="btn btn-lg btn-ntu">確認送出</button>
			</div>
        </main>
	</div>
</div>




<% content_for :js do %>

<% end %>