<!-- ntu: S3 驗證信 -->

<%= render :partial => "/partials/title-wrapper" %>

<div class="container-lg container-fixed">
	<div class="main-container">
        <main class="main">
            <div class="page-caption">
                <p>史嘉蕾同學，您好</p>
				<p>請輸入驗證碼，<span class="text-danger">若有任何問題，請向國際事務處業務承辦人諮詢。</span></p>
            </div>
            <section class="section">
                <div class="section-title">
                    <h4 class="title">輸入驗證碼</h4>
                </div>
				<div class="row">
				    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="exInput1" class="form-label">驗證碼</label>
                            <input type="text" class="form-control" id="exInput1" />
                        </div>
					</div>
				</div>
            </section>
			<div class="form-action">
				<button type="button" class="btn btn-lg btn-light">登出</button>
			    <button type="submit" class="btn btn-lg btn-ntu">確認送出</button>
			</div>
        </main>
	</div>
</div>




<% content_for :js do %>

<% end %>