<!-- ntu: S4 問卷 -->

<%= render :partial => "/partials/title-wrapper" %>

<div class="container-lg container-fixed">
	<div class="main-container">
        <main class="main">
            <div class="page-caption">
                <p class="mb-1">臺大推動交換學生計畫已近20年，為瞭解本校學生跨文化溝通知能，以培養開闊深遠之國際觀，特編定此問卷以做為未來發展各項海外教育計畫之參考依據。</p>
				<p><span class="text-danger">本問卷不會影響您的甄選成績評分</span>，請您依實際狀況安心作答。</p>
            </div>
			
            <section class="q-section">
                <h5 class="title"><span class="required">*</span> 在參加出國交換計畫前，你是否曾經有出國經驗？</h5>
                <div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="abroadRadio" id="abroadYes" />
                        <label class="form-check-label" for="abroadYes">是</label>
                    </div>
                    <!-- 點選 "是" 之後才出現，show/hide 煩請工程師協助-->
                    <div class="abroad-wrap">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheck1" />
                            <label class="form-check-label" for="flexCheck1">
                                出國旅遊
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheck2" />
                            <label class="form-check-label" for="flexCheck2">
                                出國遊學／留學／會議／競賽／高中出國交換
                            </label>
                        </div>
                        <div class="d-flex align-items-center">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheck3" />
                                <label class="form-check-label" for="flexCheck3">
                                    其他
                                </label>
                            </div>
                            <div class="ms-2"><input type="text" class="form-control" id="" /></div>
                        </div>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="abroadRadio" id="abroadNo" />
                        <label class="form-check-label" for="abroadNo">否，以前從未有過出國經驗</label>
                    </div>
                </div>
            </section>
			
			<section class="q-section">
                <h5 class="title"><span class="required">*</span> 你對參加此海外交換計畫的期待為何？請勾選下列三項你認為最重要的項目</h5>
                <div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheck14" />
                        <label class="form-check-label" for="flexCheck14">增進外語溝通表達能力</label>
                    </div>
					<div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheck4" />
                        <label class="form-check-label" for="flexCheck4">增進在專業領域合作研究的能力</label>
                    </div>
					<div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheck5" />
                        <label class="form-check-label" for="flexCheck5">學習適應新的環境</label>
                    </div>
					<div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheck6" />
                        <label class="form-check-label" for="flexCheck6">學習如何與不同國家及文化背景的人互動</label>
                    </div>
					<div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheck7" />
                        <label class="form-check-label" for="flexCheck7">參與臺大沒有提供的課程</label>
                    </div>
					<div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheck8" />
                        <label class="form-check-label" for="flexCheck8">拓展國外旅行機會，參觀不同地方</label>
                    </div>
					<div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheck9" />
                        <label class="form-check-label" for="flexCheck9">增加自我察覺與反思的能力</label>
                    </div>
					<div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheck10" />
                        <label class="form-check-label" for="flexCheck10">增加自信與成熟度</label>
                    </div>
					<div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheck11" />
                        <label class="form-check-label" for="flexCheck11">增進了解不同文化</label>
                    </div>
					<div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheck12" />
                        <label class="form-check-label" for="flexCheck12">增加未來出國留學的準備與機會</label>
                    </div>
					<div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheck13" />
                        <label class="form-check-label" for="flexCheck13">增加未來出國工作的準備與機會</label>
                    </div>
                </div>
            </section>
			
			<section class="q-section">
                <h5 class="title">下列關於跨文化溝通的陳述，沒有正確答案或錯誤答案的考量，請依你個人直覺勾選每項陳述的同意程度</h5>
				<div class="mt-4">
                    <div class="form-group">
                        <label class="form-label"><span class="required">*</span> 我了解在我自己文化中的多元現象(種族、年齡、階級、性別、性向等)</label>
                        <div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="cultureRadio" id="cultureR1" />
                                <label class="form-check-label" for="cultureR1">非常不同意</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="cultureRadio" id="cultureR2" />
                                <label class="form-check-label" for="cultureR2">不同意</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="cultureRadio" id="cultureR3" />
                                <label class="form-check-label" for="cultureR3">同意</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="cultureRadio" id="cultureR4" />
                                <label class="form-check-label" for="cultureR4">非常同意</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-label"><span class="required">*</span> 我有興趣了解及探究不同文化的面向 (語言、價值觀、態度、行為和生活形態等)</label>
                        <div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="cultureRadio2" id="cultureA1" />
                                <label class="form-check-label" for="cultureA1">非常不同意</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="cultureRadio2" id="cultureA2" />
                                <label class="form-check-label" for="cultureA2">不同意</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="cultureRadio2" id="cultureA3" />
                                <label class="form-check-label" for="cultureA3">同意</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="cultureRadio2" id="cultureA4" />
                                <label class="form-check-label" for="cultureA4">非常同意</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-label"><span class="required">*</span> 要和不同種族、文化背景的人交談時，經常讓我感到緊張</label>
                        <div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="cultureRadio3" id="cultureB1" />
                                <label class="form-check-label" for="cultureB1">非常不同意</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="cultureRadio3" id="cultureB2" />
                                <label class="form-check-label" for="cultureB2">不同意</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="cultureRadio3" id="cultureB3" />
                                <label class="form-check-label" for="cultureB3">同意</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="cultureRadio3" id="cultureB4" />
                                <label class="form-check-label" for="cultureB4">非常同意</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-label"><span class="required">*</span> 相較於我的同儕，我對歧視的行為具有較高的敏感度</label>
                        <div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="cultureRadio4" id="cultureC1" />
                                <label class="form-check-label" for="cultureC1">非常不同意</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="cultureRadio4" id="cultureC2" />
                                <label class="form-check-label" for="cultureC2">不同意</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="cultureRadio4" id="cultureC3" />
                                <label class="form-check-label" for="cultureC3">同意</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="cultureRadio4" id="cultureC4" />
                                <label class="form-check-label" for="cultureC4">非常同意</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-label"><span class="required">*</span> 我能運用適當的語言或策略，與不同文化背景的人溝通</label>
                        <div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="cultureRadio5" id="cultureD1" />
                                <label class="form-check-label" for="cultureD1">非常不同意</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="cultureRadio5" id="cultureD2" />
                                <label class="form-check-label" for="cultureD2">不同意</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="cultureRadio5" id="cultureD3" />
                                <label class="form-check-label" for="cultureD3">同意</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="cultureRadio5" id="cultureD4" />
                                <label class="form-check-label" for="cultureD4">非常同意</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-label"><span class="required">*</span> 我有自己的方法減輕自己適應不同文化的壓力</label>
                        <div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="cultureRadio6" id="cultureE1" />
                                <label class="form-check-label" for="cultureE1">非常不同意</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="cultureRadio6" id="cultureE2" />
                                <label class="form-check-label" for="cultureE2">不同意</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="cultureRadio6" id="cultureE3" />
                                <label class="form-check-label" for="cultureE3">同意</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="cultureRadio6" id="cultureE4" />
                                <label class="form-check-label" for="cultureE4">非常同意</label>
                            </div>
                        </div>
                    </div>
				</div>
            </section>
			
			<section class="q-section">
                <h5 class="title">自從入學以來，你修過下列哪些課程？(課程數)</h5>
				<div class="mt-4">
                    <div class="form-group">
                        <label class="form-label"><span class="required">*</span> 第二外語課程(英語以外的語言課程)</label>
                        <div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="classRadio" id="classA0" />
                                <label class="form-check-label" for="classA0">0</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="classRadio" id="classA1" />
                                <label class="form-check-label" for="classA1">1</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="classRadio" id="classA2" />
                                <label class="form-check-label" for="classA2">2</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="classRadio" id="classA3" />
                                <label class="form-check-label" for="classA3">3</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="classRadio" id="classA4" />
                                <label class="form-check-label" for="classA4">4</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="classRadio" id="classA5" />
                                <label class="form-check-label" for="classA5">5+</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-label"><span class="required">*</span> 以英語授課的專業領域課程</label>
                        <div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="classRadio2" id="classB0" />
                                <label class="form-check-label" for="classB0">0</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="classRadio2" id="classB1" />
                                <label class="form-check-label" for="classB1">1</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="classRadio2" id="classB2" />
                                <label class="form-check-label" for="classB2">2</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="classRadio2" id="classB3" />
                                <label class="form-check-label" for="classB3">3</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="classRadio2" id="classB4" />
                                <label class="form-check-label" for="classB4">4</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="classRadio2" id="classB5" />
                                <label class="form-check-label" for="classB5">5+</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-label"><span class="required">*</span> 探討種族、性別、階級、宗教、性別傾向等議題的多元文化課程</label>
                        <div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="classRadio3" id="classC0" />
                                <label class="form-check-label" for="classC0">0</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="classRadio3" id="classC1" />
                                <label class="form-check-label" for="classC1">1</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="classRadio3" id="classC2" />
                                <label class="form-check-label" for="classC2">2</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="classRadio3" id="classC3" />
                                <label class="form-check-label" for="classC3">3</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="classRadio3" id="classC4" />
                                <label class="form-check-label" for="classC4">4</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="classRadio3" id="classC5" />
                                <label class="form-check-label" for="classC5">5+</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-label"><span class="required">*</span> 探討全球重大政治、社會、經濟、環境等議題的課程</label>
                        <div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="classRadio4" id="classD0" />
                                <label class="form-check-label" for="classD0">0</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="classRadio4" id="classD1" />
                                <label class="form-check-label" for="classD1">1</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="classRadio4" id="classD2" />
                                <label class="form-check-label" for="classD2">2</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="classRadio4" id="classD3" />
                                <label class="form-check-label" for="classD3">3</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="classRadio4" id="classD4" />
                                <label class="form-check-label" for="classD4">4</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="classRadio4" id="classD5" />
                                <label class="form-check-label" for="classD5">5+</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-label"><span class="required">*</span> 有機會能與不同文化背景的學生密集討論的課程</label>
                        <div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="classRadio5" id="classE0" />
                                <label class="form-check-label" for="classE0">0</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="classRadio5" id="classE1" />
                                <label class="form-check-label" for="classE1">1</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="classRadio5" id="classE2" />
                                <label class="form-check-label" for="classE2">2</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="classRadio5" id="classE3" />
                                <label class="form-check-label" for="classE3">3</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="classRadio5" id="classE4" />
                                <label class="form-check-label" for="classE4">4</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="classRadio5" id="classE5" />
                                <label class="form-check-label" for="classE5">5+</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-label"><span class="required">*</span> 授課教師從不同文化觀點呈現議題的課程</label>
                        <div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="classRadio6" id="classF0" />
                                <label class="form-check-label" for="classF0">0</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="classRadio6" id="classF1" />
                                <label class="form-check-label" for="classF1">1</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="classRadio6" id="classF2" />
                                <label class="form-check-label" for="classF2">2</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="classRadio6" id="classF3" />
                                <label class="form-check-label" for="classF3">3</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="classRadio6" id="classF4" />
                                <label class="form-check-label" for="classF4">4</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="classRadio6" id="classF5" />
                                <label class="form-check-label" for="classF5">5+</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-label"><span class="required">*</span> 世界歷史或文化的課程</label>
                        <div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="classRadio7" id="classG0" />
                                <label class="form-check-label" for="classG0">0</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="classRadio7" id="classG1" />
                                <label class="form-check-label" for="classG1">1</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="classRadio7" id="classG2" />
                                <label class="form-check-label" for="classG2">2</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="classRadio7" id="classG3" />
                                <label class="form-check-label" for="classG3">3</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="classRadio7" id="classG4" />
                                <label class="form-check-label" for="classG4">4</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="classRadio7" id="classG5" />
                                <label class="form-check-label" for="classG5">5+</label>
                            </div>
                        </div>
                    </div>
				</div>
            </section>
			
			<section class="q-section">
                <h5 class="title">自從入學以來，你是否有參與下列活動？</h5>
				<div class="mt-4">
                    <div class="form-group">
                        <label class="form-label"><span class="required">*</span> 全球集思論壇</label>
                        <div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="eventRadio" id="eventA0" />
                                <label class="form-check-label" for="eventA0">有</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="eventRadio" id="eventA1" />
                                <label class="form-check-label" for="eventA1">沒有</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="eventRadio" id="eventA2" />
                                <label class="form-check-label" for="eventA2">沒聽過</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-label"><span class="required">*</span> 擔任禮賓學生</label>
                        <div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="eventRadio2" id="eventB0" />
                                <label class="form-check-label" for="eventB0">有</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="eventRadio2" id="eventB1" />
                                <label class="form-check-label" for="eventB1">沒有</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="eventRadio2" id="eventB2" />
                                <label class="form-check-label" for="eventB2">沒聽過</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-label"><span class="required">*</span> 擔任國際學生接待志工</label>
                        <div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="eventRadio3" id="eventC0" />
                                <label class="form-check-label" for="eventC0">有</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="eventRadio3" id="eventC1" />
                                <label class="form-check-label" for="eventC1">沒有</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="eventRadio3" id="eventC2" />
                                <label class="form-check-label" for="eventC2">沒聽過</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-label"><span class="required">*</span> 擔任國際學生迎新專案組員</label>
                        <div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="eventRadio4" id="eventD0" />
                                <label class="form-check-label" for="eventD0">有</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="eventRadio4" id="eventD1" />
                                <label class="form-check-label" for="eventD1">沒有</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="eventRadio4" id="eventD2" />
                                <label class="form-check-label" for="eventD2">沒聽過</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-label"><span class="required">*</span> 擔任國際短期課程輔導員</label>
                        <div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="eventRadio5" id="eventE0" />
                                <label class="form-check-label" for="eventE0">有</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="eventRadio5" id="eventE1" />
                                <label class="form-check-label" for="eventE1">沒有</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="eventRadio5" id="eventE2" />
                                <label class="form-check-label" for="eventE2">沒聽過</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-label"><span class="required">*</span> 擔任外國學生寄宿家庭</label>
                        <div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="eventRadio6" id="eventF0" />
                                <label class="form-check-label" for="eventF0">有</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="eventRadio6" id="eventF1" />
                                <label class="form-check-label" for="eventF1">沒有</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="eventRadio6" id="eventF2" />
                                <label class="form-check-label" for="eventF2">沒聽過</label>
                            </div>
                        </div>
                    </div>
				</div>
            </section>
			
			<section class="q-section">
                <h5 class="title">自從入學以來，你參與下列活動的程度如何？</h5>
				<div class="mt-4">
                    <div class="form-group">
                        <label class="form-label"><span class="required">*</span> 參加旅外學者訪學授課或專題演講</label>
                        <div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="frequencyRadio" id="frequencyA0" />
                                <label class="form-check-label" for="frequencyA0">沒有</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="frequencyRadio" id="frequencyA1" />
                                <label class="form-check-label" for="frequencyA1">很少</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="frequencyRadio" id="frequencyA2" />
                                <label class="form-check-label" for="frequencyA2">偶爾</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="frequencyRadio" id="frequencyA3" />
                                <label class="form-check-label" for="frequencyA3">經常</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-label"><span class="required">*</span> 參加英(外)語社團舉辦的活動</label>
                        <div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="frequencyRadio2" id="frequencyB0" />
                                <label class="form-check-label" for="frequencyB0">沒有</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="frequencyRadio2" id="frequencyB1" />
                                <label class="form-check-label" for="frequencyB1">很少</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="frequencyRadio2" id="frequencyB2" />
                                <label class="form-check-label" for="frequencyB2">偶爾</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="frequencyRadio2" id="frequencyB3" />
                                <label class="form-check-label" for="frequencyB3">經常</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-label"><span class="required">*</span> 參加文化研究性質之社團舉辦的活動</label>
                        <div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="frequencyRadio3" id="frequencyC0" />
                                <label class="form-check-label" for="frequencyC0">沒有</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="frequencyRadio3" id="frequencyC1" />
                                <label class="form-check-label" for="frequencyC1">很少</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="frequencyRadio3" id="frequencyC2" />
                                <label class="form-check-label" for="frequencyC2">偶爾</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="frequencyRadio3" id="frequencyC3" />
                                <label class="form-check-label" for="frequencyC3">經常</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-label"><span class="required">*</span> 參加國際事務議題之社團舉辦的活動</label>
                        <div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="frequencyRadio4" id="frequencyD0" />
                                <label class="form-check-label" for="frequencyD0">沒有</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="frequencyRadio4" id="frequencyD1" />
                                <label class="form-check-label" for="frequencyD1">很少</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="frequencyRadio4" id="frequencyD2" />
                                <label class="form-check-label" for="frequencyD2">偶爾</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="frequencyRadio4" id="frequencyD3" />
                                <label class="form-check-label" for="frequencyD3">經常</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-label"><span class="required">*</span> 追蹤國際重大新聞或事件之發展</label>
                        <div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="frequencyRadio5" id="frequencyE0" />
                                <label class="form-check-label" for="frequencyE0">沒有</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="frequencyRadio5" id="frequencyE1" />
                                <label class="form-check-label" for="frequencyE1">很少</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="frequencyRadio5" id="frequencyE2" />
                                <label class="form-check-label" for="frequencyE2">偶爾</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="frequencyRadio5" id="frequencyE3" />
                                <label class="form-check-label" for="frequencyE3">經常</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-label"><span class="required">*</span> 與同學討論國際議題交換意見</label>
                        <div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="frequencyRadio6" id="frequencyF0" />
                                <label class="form-check-label" for="frequencyF0">沒有</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="frequencyRadio6" id="frequencyF1" />
                                <label class="form-check-label" for="frequencyF1">很少</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="frequencyRadio6" id="frequencyF2" />
                                <label class="form-check-label" for="frequencyF2">偶爾</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="frequencyRadio6" id="frequencyF3" />
                                <label class="form-check-label" for="frequencyF3">經常</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-label"><span class="required">*</span> 課外時間與不同文化背景或語言的學生互動</label>
                        <div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="frequencyRadio7" id="frequencyG0" />
                                <label class="form-check-label" for="frequencyG0">沒有</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="frequencyRadio7" id="frequencyG1" />
                                <label class="form-check-label" for="frequencyG1">很少</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="frequencyRadio7" id="frequencyG2" />
                                <label class="form-check-label" for="frequencyG2">偶爾</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="frequencyRadio7" id="frequencyG3" />
                                <label class="form-check-label" for="frequencyG3">經常</label>
                            </div>
                        </div>
                    </div>
				</div>
            </section>
			
			<div class="form-action">
			    <button type="submit" class="btn btn-lg btn-ntu">送出</button>
			</div>
        </main>
	</div>
</div>




<% content_for :js do %>

<% end %>