<!-- template: 首頁 -->

<!-- 輪撥 -->
<div class="index-carousel">
    <div class="container-lg">
        
        <!-- 輪撥後台上傳圖片請註明最低解析度 1600 * 640 -->
        <!-- 圖片裁切寬高比例請給 5:2 -->
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="https://placehold.co/1600x640" class="d-block w-100" alt="{圖片描述}" />
                    <div class="carousel-caption">
                        <h5>德國斯圖加特市立圖書館 Stuttgart City Library 其似魔術方塊的造型於 2013 年贏得年度圖書館大獎</h5>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="http://placebeard.it/1600/640" class="d-block w-100" alt="{圖片描述}" />
                    <div class="carousel-caption">
                        <h5><%= lorem_sentence %></h5>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="https://picsum.photos/1600/640" class="d-block w-100" alt="{圖片描述}" />
                    <div class="carousel-caption">
                        <h5><%= lorem_sentence %></h5>
                    </div>
                </div>
            </div>
            <!--button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button-->
            <!--button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button-->
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
        </div>

    </div>
</div>

<!-- 最新消息 -->
<div class="index-news">
    <div class="container-lg">
        <h3>最新消息</h3>
        <ul class="menu-item">
            <li>
                <a class="item-link" href="#" title="{文章標題}">
                    <small>2024.03.15</small>
                    <span>2024 年臺大傑出校友個別推薦說明</span>
                </a>
            </li>
            <li>
                <a class="item-link" href="#" title="{文章標題}">
                    <small>2024.03.15</small>
                    <span>大杜鵑花節登場</span>
                </a>
            </li>
            <li>
                <a class="item-link" href="#" title="{文章標題}">
                    <small>2024.03.15</small>
                    <span>臺中臺大校友會戀戀南洋小琉球之旅三日遊</span>
                </a>
            </li>
            <li>
                <a class="item-link" href="#" title="{文章標題}">
                    <small>2024.03.15</small>
                    <span>小巴環遊小琉球知名景點拉美半潛艇海地世界遊</span>
                </a>
            </li>
        </ul>
        <div class="areamore">
            <a href="#" class="btn btn-light btn-rounded" title="{連結名稱}">更多消息 <i class="fas fa-angle-right"></i></a>
        </div>
    </div>
</div>

<!-- 月刊 -->
<div class="index-article">
    <div class="container-lg">
        <h4 class="block-heading"><span>第 152 期校友雙月刊</span></h4>
        <ul class="menu-item article-list">
            
            <% (1..7).map do |i| %>
            <li class="item-article">
                <a class="article-link" href="#" title="{文章標題}">
                    <span class="img-wrap">
                        
                        <!-- 後台上傳圖片請註明最低解析度 800 * 450 -->
                        <!-- 圖片裁切寬高比例請給 16:9 -->
                        <img src="https://placehold.co/800x450" alt="{圖片描述}" />
                        <span class="tags">張慶瑞專欄</span>
                    </span>
                    <span class="title">由歧路亡羊到量子指數搜尋</span>
                    <span class="author">文・圖／張慶瑞</span>
                    
                    <!-- 後台請註明並限制 38 個字元 -->
                    <span class="intro">指數成長的威力有多強大? 古印度有個寓言故事，相傳國王要獎勵宰相，宰相輕鬆的說只需要在西洋棋盤的第一個格子上放上一顆麥粒</span>
                </a>
            </li>
            <% end %>
            
            <li class="item-article">
                <a class="article-link" href="#" title="{文章標題}">
                    <span class="img-wrap">
                        
                        <!-- 後台上傳圖片請註明最低解析度 800 * 450 -->
                        <!-- 圖片裁切寬高比例請給 16:9 -->
                        <img src="http://placebeard.it/800/450" alt="{圖片描述}" />
                        <span class="tags">校務報報</span>
                    </span>
                    <span class="title">開箱學務處</span>
                    <span class="author">文／朱士維（學生事務長） 蔡沛學、謝煜偉、徐瑋勵（副學生事務長） 圖／學生事務處</span>
                    
                    <!-- 後台請註明並限制 38 個字元 -->
                    <span class="intro">為什麼會有眾多不同單位呢？就是為了完成學務處的核心任務，給予學生生活支持，關懷真實身心健康</span>
                </a>
            </li>
            
            <li class="item-article">
                <a class="article-link" href="#" title="{文章標題}">
                    <span class="img-wrap">
                        
                        <!-- 後台上傳圖片請註明最低解析度 800 * 450 -->
                        <!-- 圖片裁切寬高比例請給 16:9 -->
                        <img src="http://placebeard.it/1600/900" alt="{圖片描述}" />
                        <span class="tags">臺大學術資產</span>
                    </span>
                    <span class="title">動物倫理研究＞ 牠／們的故事：動物倫理研究的回望與想望</span>
                    <span class="author">文・圖／張慶瑞</span>
                    
                    <!-- 後台請註明並限制 38 個字元 -->
                    <span class="intro">指數成長的威力有多強大? 古印度有個寓言故事，相傳國王要獎勵宰相，宰相輕鬆的說只需要在西洋棋盤的第一個格子上放上一顆麥粒</span>
                </a>
            </li>
            
        </ul>
        <div class="areamore">
            <a href="#" class="btn btn-main" title="{連結名稱}">查看其他期雙月刊 <i class="fas fa-angle-double-right"></i></a>
        </div>
    </div>
</div>


<% content_for :js do %>

<!-- 限制 38 個字元 -->
<script>
document.addEventListener('DOMContentLoaded', function() {
    const intros = document.querySelectorAll('.article-list .intro');
    
    intros.forEach(intro => {
        const text = intro.textContent.trim();
        if (text.length > 38) {
            intro.textContent = text.slice(0, 38) + ' ..';
        }
    });
});
</script>
<% end %>

