<!-- template: 搜尋結果 -->

<!-- 麵包屑 -->
<nav aria-label="breadcrumb" class="nav-breadcrumb">
    <div class="container-lg">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#" title="{連結名稱}">首頁</a></li>
            <li class="breadcrumb-item"><a href="#" title="{連結名稱}">雙月刊</a></li>
            <li class="breadcrumb-item active" aria-current="page">第 152 期校友雙月刊</li>
        </ol>
    </div>
</nav>

<div class="container-lg">
    
    <div class="search-wrapper">
        
        <div class="results-title"><span>"搜尋的關鍵字"</span> 搜尋結果</div>
        
        <ul class="menu-item search-results">
            
            <% (1..7).map do |i| %>
            <li><a href="#" title="{連結名稱}">2024 第152期校友雙月刊</a></li>
            <% end %>
            
        </ul>
        
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item disabled">
                    <a class="page-link">上一頁</a>
                </li>
                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                    <a class="page-link" href="#">下一頁</a>
                </li>
            </ul>
        </nav>

    </div>

</div>


<% content_for :js do %>

<% end %>

