<!-- ntu: 變更密碼 -->

<div class="container-lg">
	<div class="login-wrapper">
		<div class="login-card">
		    <div class="card-hd">
			    <h3>變更密碼</h3>
			</div>
			<div class="card-bd">
				<div class="form-group">
                    <label for="exampleFormControlInput1" class="form-label">請輸入原密碼</label>
                    <input type="password" class="form-control" id="exampleFormControlInput1" />
                </div>
                <div class="form-group">
                    <label for="exampleFormControlInput2" class="form-label">Password</label>
                    <input type="password" class="form-control" id="exampleFormControlInput2" />
                </div>
				<div class="form-group">
                    <label for="exampleFormControlInput3" class="form-label">Password again</label>
                    <input type="password" class="form-control" id="exampleFormControlInput3" />
					<div class="form-text">密碼長度最少8碼，須包含1各大小寫英文字母、數字及特殊符號</div>
                </div>
			</div>
            <div class="d-grid mt-5">
                <button class="btn btn-lg btn-cld" type="button">Confirm</button>
            </div>
			<p class="text-center mt-4">
			    <a href="#" class="btn btn-lg btn-link">Home</a>
			</p>
		</div>
	</div>
</div>



<% content_for :js do %>

<% end %>

