<!-- template: 註冊 - 選擇角色 -->

<!-- breadcrumb 麵包屑 -->
<div class="breadcrumb-wrapper">
    <div class="container-lg">
        <div class="breadcrumb-inner">
            <%= render :partial => "/partials/breadcrumb" %>
        </div>
    </div>
</div>

<div class="container-lg">
	<div class="page-content page-single-column">
        <div class="register-role-wrapper">
            <div class="page-title">
                <h3>請選擇註冊身分別</h3>
                <p class="mt-4"><%= lorem_sentences(5) %></p>
            </div>
            <ul class="menu-item index-menu role-select">
                <li>
                    <a href="#" class="role-link role-family" title="接待家庭">
                        
                        <!-- 使用首頁上傳的照片 -->
                        <img class="img-fluid" src="http://placebeard.it/800x450" alt="接待家庭">
                        <span class="role-name">
                            <span>接待家庭</span>
                        </span>
                    </a>
                </li>
                <li>
                    <a href="#" class="role-link role-students" title="境外學生">
                        
                        <!-- 使用首頁上傳的照片 -->
                        <img class="img-fluid" src="http://placebeard.it/1600x900" alt="境外學生">
                        <span class="role-name">
                            <span>境外學生</span>
                        </span>
                    </a>
                </li>
                <li>
                    <a href="#" class="role-link role-universities" title="大專校院">
                        
                        <!-- 使用首頁上傳的照片 -->
                        <img class="img-fluid" src="http://placebeard.it/1200x675" alt="大專校院">
                        <span class="role-name">
                            <span>大專校院</span>
                        </span>
                    </a>
                </li>
            </ul>
        </div>
	</div>
</div>

<% content_for :js do %>

<% end %>
