<!-- template: 註冊 - 設定帳號密碼 -->

<!-- 選擇註冊角色後之步驟要給於相對應的 theme，.header 記得給 .header-white -->

<!-- breadcrumb 麵包屑 -->
<div class="breadcrumb-wrapper">
    <div class="container-lg">
        <div class="breadcrumb-inner">
            <span class="toggler-wrap">
                <button class="navbar-toggler button-widget" type="button" id="navbarSideCollapse" aria-label="Toggle navigation" title="展開側欄">
                    <span class="hamburger">
                        <span class="line"></span>
                        <span class="line"></span>
                        <span class="line"></span>
                    </span>
                </button>
            </span>
            <%= render :partial => "/partials/breadcrumb" %>
        </div>
    </div>
</div>

<div class="container-lg">
	<div class="page-content">
        <aside class="aside offcanvas-collapse">
            <div class="scrollbar-inner">
                <div class="sidenav">
                    <ul class="step-navigation menu-item">
                        <li class="done">
                            <span class="nav-item">
                                <span class="step-briefly">設定帳號密碼</span>
                                <span class="step-desc">填寫帳號密碼資訊</span>
                            </span>
                        </li>
                        <li class="current">
                            <span class="nav-item">
                                <span class="step-briefly">申請表填寫</span>
                                <span class="step-desc">填寫申請所需資訊</span>
                            </span>
                        </li>
                        <li>
                            <span class="nav-item">
                                <span class="step-briefly">預覽</span>
                                <span class="step-desc">確認填寫內容並送出報名</span>
                            </span>
                        </li>
                        <li>
                            <span class="nav-item">
                                <span class="step-briefly">結果查詢</span>
                                <span class="step-desc">審查結果查詢</span>
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
        </aside>
        <div id="widget-overlay"></div>
        <main class="main">
            <div class="page-title">
                <h3>設定帳號密碼</h3>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="exampleFormControlInput1" class="form-label">
                            <span class="required">*</span> 申請帳號
                        </label>
                        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="請輸入 Email" />
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlInput2" class="form-label">
                            <span class="required">*</span> 密碼
                        </label>
                        <input type="password" class="form-control" id="exampleFormControlInput2" placeholder="請輸入密碼 8~16 碼" />
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlInput3" class="form-label">
                            <span class="required">*</span> 確認密碼
                        </label>
                        <input type="password" class="form-control" id="exampleFormControlInput3" placeholder="請輸入密碼 8~16 碼" />
                    </div>
                    <div class="form-group">
                        <label for="loginInput4" class="form-label">
                            <span class="required">*</span> 驗證碼
                        </label>
                        <div class="d-flex align-items-center">
                            <span class="me-1"><input type="text" class="form-control" id="loginInput4" placeholder="請輸入右方 4 位數的驗證碼" /></span>
                            <span class="me-1"><img class="captcha" src="http://nfu-map.dev.com.tw/common/captcha.image" /></span>
                            <span>
                                <button class="btn btn-xs btn-outline-primary" type="button"><i class="fas fa-sync-alt"></i></button>
                            </span>
                        </div>
                    </div>
                    <div class="form-action">
                        <button type="button" class="btn btn-lg btn-primary">送出並發送驗證信</button>
                    </div>
                </div>
            </div>
            
            <div class="page-title">
                <h3>設定帳號密碼</h3>
            </div>
            <p class="fw-bold">請進入信箱點擊驗證連結</p>
            <button type="button" class="btn btn-lg btn-light">重新發送驗證信</button>
        </main>
	</div>
</div>

<% content_for :js do %>

<% end %>
