
/* `Header
-----------------------------------------------------------------------------*/

header.header {
	position: relative;
	margin-bottom: 4rem;
    
	.dropdown-toggle {
		background-color: transparent;
		border: none;
		padding: 0;
        color: #fff;
	}
    
    .nav { border-bottom: 1px solid #e5e5e5; }
    .nav-menu {
        display: flex;
        li {
            padding: 24px 24px 0;
            height: 82px;
            position: relative;
            &:after {
                content: "";
                background: #e6e6e6;
                width: 1px;
                height: 36px;
                position: absolute;
                right: 0;
                top: 24px;
            }
            &:first-child {
                padding-left: 0;
            }
            &:last-child {
                padding-right: 0;
                &:after { content: none; }
            }
        }
        .menu-link {
            display: block;
            align-content: center;
            height: 38px;
            font-size: 1.125rem;
            font-weight: bold;
            line-height: 1.2;
            small {
                display: block;
                font-size: .9375rem;
                font-weight: 400;
                color: #5f676c;
            }
            &.current {
                font-weight: bold;
                color: #000;
                cursor: default;
            }
        }
    }
}

.header-top {
    background: $main_darken_color;
    color: #a4adb3;
    .top-inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 56px;
    }
    .top-start, .top-end {
        display: flex;
        align-items: center;
    }
    .logo-link {
        display: inline-block;
        margin-right: 2rem;
        &:hover { opacity: .7; }
    }
    .logo {
        display: block;
        width: auto;
        height: 24px;
    }
    .ip-address {
        margin-right: 22px;
        padding-right: 6px;
        font-weight: 500;
        position: relative;
        &:after {
            content: ",";
            position: absolute;
            right: 0;
            bottom: 0;
        }
    }
}

.header-middle {
    background: #f9f9f9;
    .middle-inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 104px;
    }
    h1 {
        margin-bottom: 0;
        font-size: 26px;
        color: #428c8f;
        strong {
            margin-left: .5rem;
            font-weight: bold;
            color: #333;
        }
    }
    .download-link {
        border-radius: 10rem;
        border: 1px solid $main_color;
        padding: .625rem 1.5rem .5rem;
        &:hover {
            background: $main_color;
            color: #fff;
        }
    }
}

.system-open {
    background: #eef3f3;
    align-content: center;
    height: 72px;
    text-align: center;
    h3 {
        margin-bottom: 0;
        font-size: 1.25rem;
        strong {
            display: inline-block;
            margin-left: .5rem;
            font-size: 1.5rem;
            font-weight: 500;
        }
    }
}
















