<!-- template: 客製化元件 -->

<div class="container-lg">
	<div class="page-content">
	    <aside class="aside offcanvas-collapse">
			<div class="scrollbar-inner">
		        <div class="sidenav">
                    <ul class="side-navigation menu-item">
                        <li>
							<a class="nav-item" href="#">
							    <span class="link-inner">個人資料維護</span>
							</a>
						</li>
						<li>
							<a class="nav-item" href="#">
								<span class="link-inner">瀏覽申請紀錄</span>
							</a>
						</li>
						<li>
							<a class="nav-item current" href="#">
								<span class="link-inner">補件作業</span>
							</a>
						</li>
						<li>
							<a class="nav-item" href="#">
								<span class="link-inner">繳交學費</span>
							</a>
						</li>
                    </ul>
				</div>
			</div>
		</aside>
		<div id="widget-overlay"></div>
		<main class="main">
			<div class="page-title">
			    <h3>客製化元件</h3>
			</div>
            <section class="section">
                <div class="section-title">
                    <h4>個人資料</h4>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="exampleForm80" class="form-label">申請帳號</label>
                            <input type="email" class="form-control" id="exampleForm80" />
                            <div class="form-text text-danger">收發註冊確認信等通知功能，如帳號有誤，請來信及來電告知。</div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="exampleForm81" class="form-label">密碼</label>
                            <input type="email" class="form-control" id="exampleForm81" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="exampleForm82" class="form-label">確認密碼</label>
                            <input type="email" class="form-control" id="exampleForm82" />
                        </div>
                    </div>
                </div>
            </section>
			<section class="section">
                <div class="section-title">
                    <h4>家庭成員</h4>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="exampleFormControlInput1" class="form-label">成員姓名</label>
                            <input type="email" class="form-control" id="exampleFormControlInput1">
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <label class="form-label">關係</label>
                                <select class="form-select" aria-label="Default select example">
                                    <option selected>Open this select menu</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">其他</option>
                                </select>
                            </div>
                            <div class="col-sm-6">
                                
                                <!-- 選擇其他時才秀出 -->
                                <div class="form-group">
                                    <label for="exampleFormOther" class="form-label">其他</label>
                                    <input type="email" class="form-control" id="exampleFormOther" />
                                </div>
                            </div>
                        </div>
                        <p class="text-end">
                            <button type="button" class="btn btn-secondary btn-rounded"><i class="fas fa-plus"></i> 加入</button>
                        </p>
                    </div>
                    <div class="col-md-6">
                        <div class="buddies-wrapper">
                            <ul class="menu-item">
                                <li>
                                    <span>
                                        <button type="button" class="btn btn-sm btn-rounded"><i class="fas fa-times"></i></button>
                                    </span>
                                    <span>史佳蕾</span>
                                    <span>配偶</span>
                                </li>
                                <li>
                                    <span>
                                        <button type="button" class="btn btn-sm btn-rounded"><i class="fas fa-times"></i></button>
                                    </span>
                                    <span>艾蜜莉</span>
                                    <span>其他</span>
                                    <span>前妻</span>
                                </li>
                                <li>
                                    <span>
                                        <button type="button" class="btn btn-sm btn-rounded"><i class="fas fa-times"></i></button>
                                    </span>
                                    <span>史翠普</span>
                                    <span>丈母娘</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>


			</section>

		</main>
	</div>
</div>

<%= render :partial => "/partials/upload-history" %>

<% content_for :js do %>

<% end %>
