<!-- NCTU-OASIS: 驗證成功  -->

<div class="container">
	<h5 class="font-700">Email verification is successful! <small><a class="btn btn-sm btn-default btn-rounded ml-4 waves-effect z-depth-0" href="#">Start applying</a></small></h5>
</div>