<!-- template: Theme Two -->

<% content_for :replace_css do %>
    <link rel="stylesheet" media="screen" href="/stylesheets/theme_2.css">
<% end %>

<header>header</header>

<main class="main">

    <div class="article-wrapper">
        123
    </div>

</main>


<% content_for :js do %>


<% end %>

