<!-- template: Theme One -->

<% content_for :replace_css do %>
    <link rel="stylesheet" media="screen" href="/stylesheets/theme_1.css">
<% end %>

<div class="theme_one">
    <div class="container-fluid">
        
        
        <header class="header">
            <h1>
                <a href="../homepage/index_loader.html" class="link-logo" title="E Talk">
                    <span class="text-hide">E Talk</span>
                    <img class="h1-logo" src="../assets/logo.svg">
                </a>
            </h1>
            <div class="social-media">
                <ul class="menu-item">
                    <li>
                        <a href="#" class="share-email" title="透過 Email 分享"><i class="fas fa-envelope"></i></a>
                    </li>
                    <li>
                        <a href="#" class="share-line" title="透過 Line 分享"><i class="fab fa-line"></i></a>
                    </li>
                    <li>
                        <a href="#" class="share-twitter" title="透過 Twitter 分享"><i class="fab fa-twitter"></i></a>
                    </li>
                    <li>
                        <a href="#" class="share-facebook" title="透過 Facebook 分享"><i class="fab fa-facebook-f"></i></a>
                    </li>
                </ul>
            </div>
        </header>
        
        <main class="main">
            
            <!-- 標題 -->
            <section class="element-section">
                <div class="element-title">
                    <div class="padding-inner">
                        <h2>未來教育之路：啟迪智慧，啟發無限</h2>
                        <h3>啟迪孩童創造力與未來的發展不僅是一種教學模式更是一種啟發孩童潛能的教育哲學</h3>
                    </div>
                </div>
            </section>
            
            <!-- 相關資訊 -->
            <section class="element-section">
                <div class="element-information">
                    <div class="padding-inner">
                        <ul class="menu-item menu-information">
                            <li class="subject">
                                <span class="label">主題類別</span>
                                <span class="output">台灣未來教育怎麼走</span>
                            </li>
                            <li class="date">
                                <span class="label">活動時間</span>
                                <span class="output">
                                    2023年10月15日 至
                                    <span>2023年10月15日</span>
                                </span>
                            </li>
                            <li class="location">
                                <span class="label">活動地點</span>
                                <span class="output">三峽總院區實體展</span>
                            </li>
                            <li class="organization">
                                <span class="label">指導單位</span>
                                <span class="output">教育部</span>
                            </li>
                            <li class="organization">
                                <span class="label">協辦單位</span>
                                <span class="output">National Aeronautics</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </section>
            
            <!-- 標題 & 相關資訊 (合併區塊) -->
            <section class="element-section">
                <div class="section-row">
                    <div class="element-title">
                        <div class="padding-inner">
                            <h2>未來教育之路：啟迪智慧，啟發無限</h2>
                            <h3>啟迪孩童創造力與未來的發展不僅是一種教學模式更是一種啟發孩童潛能的教育哲學</h3>
                        </div>
                    </div>
                    <div class="element-information">
                        <div class="padding-inner">
                            <ul class="menu-item menu-information">
                                <li class="subject">
                                    <span class="label">主題類別</span>
                                    <span class="output">台灣未來教育怎麼走</span>
                                </li>
                                <li class="date">
                                    <span class="label">活動時間</span>
                                    <span class="output">
                                        2023年10月15日 至
                                        <span>2023年10月15日</span>
                                    </span>
                                </li>
                                <li class="location">
                                    <span class="label">活動地點</span>
                                    <span class="output">三峽總院區實體展</span>
                                </li>
                                <li class="organization">
                                    <span class="label">指導單位</span>
                                    <span class="output">教育部</span>
                                </li>
                                <li class="organization">
                                    <span class="label">協辦單位</span>
                                    <span class="output">National Aeronautics</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
            
            <!-- 封面 -->
            <section class="element-section">
                <div class="element-cover">
                    <!-- 後台請註明，封面尺寸 16:9，e.g. 1600x900-->
                    <img class="img-cover" src="../assets/fake/1600x900.jpg" alt="{圖片描述}">
                </div>
            </section>
            
            <!-- 輪撥 -->
            <section class="element-section">
                <div class="element-carousel">
                    <div class="main-carousel">
                        <div id="carouselEtalkCaptions" class="carousel slide carousel-fade" data-bs-ride="carousel">
                            <div class="carousel-indicators">
                                <button type="button" data-bs-target="#carouselEtalkCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                                <button type="button" data-bs-target="#carouselEtalkCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                                <button type="button" data-bs-target="#carouselEtalkCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
                            </div>
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <div class="item-inner">
                                        <div class="item-photo"><img src="../assets/fake/1600x900.jpg" class="d-block w-100" alt="{圖片描述}" /></div>
                                        <div class="item-text">
                                            <div class="text-inner">
                                                <div class="text-position">

                                                    <!-- 後台欄位請限制 120 個全形字元 -->
                                                    <p>日本學術訪問團荒井克弘名譽教授蒞臨參訪，透過調查平臺各式測驗題型及題組、調查組卷及試題統計分析等功能的展示，進行深入淺出及務實詳細的介紹，讓參訪貴賓瞭解測評中心在測驗題型研發以及學生施測評量測驗的創新及努力，透過調查平臺各式測驗題型及題組。</p>
                                                    <div class="link-control">
                                                        <a href="#" class="link-more" title="閱覽內容"><span>MORE</span></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <div class="item-inner">
                                        <div class="item-photo"><img src="../assets/fake/1280x720.jpg" class="d-block w-100" alt="{圖片描述}" /></div>
                                        <div class="item-text">
                                            <div class="text-inner">
                                                <div class="text-position">

                                                    <!-- 後台欄位請限制 120 個全形字元 -->
                                                    <p>中央研究院社會學研究所在國家科學及技術委員會經費的補助下，「臺灣數位世代青少年的成長歷程追蹤研究」（簡稱TIGPS）計畫以「數位生態系統理論」探討臺灣數位世代青少年的自我概念。</p>
                                                    <div class="link-control">
                                                        <a href="#" class="link-more" title="閱覽內容"><span>MORE</span></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <div class="item-inner">
                                        <div class="item-photo"><img src="../assets/fake/1280x720_2.jpg" class="d-block w-100" alt="{圖片描述}" /></div>
                                        <div class="item-text">
                                            <div class="text-inner">
                                                <div class="text-position">

                                                    <!-- 後台欄位請限制 120 個全形字元 -->
                                                    <p>使師生能夠投入教學的情境脈絡；後者則配合當代議題，由靜宜大學其他系所師資支援開設課程，以結合傳統與現代知識。</p>
                                                    <div class="link-control">
                                                        <a href="#" class="link-more" title="閱覽內容"><span>MORE</span></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            
            <!-- 輪撥 large -->
            <section class="element-section">
                <div class="element-carousel-large">
                    <div class="large-carousel">
                        <div id="largeEtalkCaptions" class="carousel slide carousel-fade" data-bs-ride="carousel">
                            <div class="carousel-indicators">
                                <button type="button" data-bs-target="#largeEtalkCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                                <button type="button" data-bs-target="#largeEtalkCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                                <button type="button" data-bs-target="#largeEtalkCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
                            </div>
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <div class="item-inner">
                                        <div class="item-photo"><img src="../assets/fake/1600x900.jpg" class="d-block w-100" alt="{圖片描述}" /></div>
                                        <div class="item-text">
                                            <div class="text-position">

                                                <!-- 後台欄位請限制 120 個全形字元 -->
                                                <p>對於歷史課綱，吳老師強調歷史學科的教學主要是讓學生發展歷史意識，藉以創造過去、現在與未來之間的連結，而不同的歷史敘述對於價值觀會有不一樣的影響。透過時間詞彙、內容詞彙與分析詞彙，幫助學生掌握發展歷史的參考框架，理解歷史的創造與應用。</p>
                                                <div class="link-control">
                                                    <a href="#" class="link-more" title="閱覽內容"><span>MORE</span></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <div class="item-inner">
                                        <div class="item-photo"><img src="../assets/fake/1280x720.jpg" class="d-block w-100" alt="{圖片描述}" /></div>
                                        <div class="item-text">
                                            <div class="text-position">

                                                <!-- 後台欄位請限制 120 個全形字元 -->
                                                <p>中央研究院社會學研究所在國家科學及技術委員會經費的補助下，「臺灣數位世代青少年的成長歷程追蹤研究」（簡稱TIGPS）計畫以「數位生態系統理論」探討臺灣數位世代青少年的自我概念。</p>
                                                <div class="link-control">
                                                    <a href="#" class="link-more" title="閱覽內容"><span>MORE</span></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <div class="item-inner">
                                        <div class="item-photo"><img src="../assets/fake/1280x720_2.jpg" class="d-block w-100" alt="{圖片描述}" /></div>
                                        <div class="item-text">
                                            <div class="text-position">

                                                <!-- 後台欄位請限制 120 個全形字元 -->
                                                <p>使師生能夠投入教學的情境脈絡；後者則配合當代議題，由靜宜大學其他系所師資支援開設課程，以結合傳統與現代知識。</p>
                                                <div class="link-control">
                                                    <a href="#" class="link-more" title="閱覽內容"><span>MORE</span></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            
            <!-- 影片 -->
            <section class="element-section">
                <div class="element-video">
                    <div class="video-wrapper">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/jxehp43WAX0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                    </div>
                </div>
            </section>
            
            <!-- 單欄文案 -->
            <section class="element-section">
                <div class="element-introduce element-introduce-white">
                    <div class="padding-inner">
                        
                        <!-- 無障礙規則之故標題必須是 h4，後台編輯器請協助設定 -->
                        <h4>教科書外的沉浸式體驗—學習資源的多元面貌</h4>
                        
                        <p>因此，在課程規劃上面，以Gaya （賽德克族的傳統社會規範）為核心，考量民族的迫切性、專業性以及需求性，設計「文化傳承類課程」以及「方法與當代議題類課程」。前者如狩獵、樂舞、藤編、竹編與織布等等的課程設計，同時為配合民族知識的內涵，更以全族語進行，採雙軌教學機制，實踐「部落即教室」的理念，使師生能夠投入教學的情境脈絡；後者則配合當代議題，由靜宜大學其他系所師資支援開設課程，以結合傳統與現代知識，例如，國家法制與原住民族專題研究、小農與合作經濟專題研究。</p>
                        <p>在師資部分，耆老教授的聘任資格是以「特殊成就」為標準，而非以主流社會價值的學歷為門檻，打破過去「報導人」角色的框架，給予耆老應有的尊重與待遇。Iwan教授舉例，部落有2位耆老因榮獲2019年世界原住民族高等教育聯盟「耆老智慧傳承獎」 (World Indigenous Nations Higher Education Consortium) 的肯定，學校乃以此國際榮譽聘為兼任專業技術級教授，以借重2位耆老在傳統狩獵及樂舞的智慧，傳承給下一代族人。高等教育是大學生邁入職場就業的最後階段，大學生應具備哪些核心能力及如何有效進行評估。</p>
                        
                    </div>
                </div>
            </section>
            
            <!-- 雙欄文案 -->
            <section class="element-section">
                <div class="element-introduce element-introduce-main">
                    <div class="padding-inner">
                        
                        <!-- 標題樣式寫在 h4，後台編輯器請協助設定 -->
                        <h4>教科書外的沉浸式體驗—學習資源的多元面貌</h4>
                        
                        <div class="column">
                            <p>本文聚焦在介紹新冠肺炎疫情後的開放教育資源策略，首先反思新冠肺炎疫情下的傳統學校教育環境價值；其次介紹開放教育資源策略的理念及開放教育實務的推動指引，最後闡述開放教育策略的實務建言以及對未來教育學習變革的願景。</p>
                            <p>OER的教學整合是一種優先模式，用以創造數位包容的教育環境、促進學習者利益，以及減少數位落差（digital divide）的負面效應（Tudor, 2020）。數位落差指的是在使用科技時，有來自於社會經濟背景的差異。新冠肺炎疫情的流行促發對數位工具及OER的需求，讓數位落差的議題浮出檯面，包括在機構面（高等教育機構對開放資源的可得性）、家庭面（線上資源的可得性）、和個人層面（學生的線上學習意願、具有動機的資源及個別學習技術）等方面（Tudor, 2020）。進一步的策略行動包括：（1）區域層面，地方學校主管機關和地方社區合作促進它們自己的OER，包括大量的教育網站連結，例如以英文為主的教育網址，或是具有不同主題的線上課程網址；（2）中央政府層面，採取的行動包括在大眾頻道提供視覺化的非正式資源，以補充學生的線上學習環境，例如科學類的素材、主題互動式遊戲等，透過圖書館、Youtube頻道、NASA網站提供拼圖、著色本或教育遊戲等，聚焦休閒時間營造非正式的學習環境（Tudor, 2020）。</p>
                        </div>
                    </div>
                </div>
            </section>
            
            <!-- 系統相關文章 -->
            <section class="element-section">
                <div class="element-article-list">
                    <h4 class="section-title">相關文章區塊標題</h4>
                    <ul class="menu-item article-list-menu">
                        <li>
                            <a href="#" class="article-link" title="{文章標題}">
                                <span class="img-wrap">
                                    <img class="img-cover" src="../assets/fake/1600x900.jpg" alt="{圖片描述}">
                                </span>
                                <span class="h5">學校教育革新國小教師需要什麼支持，才能更加落實國小科技教育及資訊教育課程？</span>
                             </a>
                        </li>
                        <% (1..4).map do |i| %>
                         <li>
                            <a href="#" class="article-link" title="{文章標題}">
                                <span class="img-wrap">
                                    <img class="img-cover" src="../assets/fake/1600x900.jpg" alt="{圖片描述}">
                                </span>
                                <span class="h5">英國中小學學校教育革新之相關計畫與策略</span>
                             </a>
                        </li>
                        <% end %>
                    </ul>
                </div>
            </section>
            
            <!-- 系統相關文章 extend -->
            <!-- 後台請註明最少三則 -->
            <section class="element-section">
                <div class="element-article-list element-article-list-extend">
                    <h4 class="section-title">相關文章區塊標題</h4>
                    <ul class="menu-item article-list-menu">
                        <li>
                            <a href="#" class="article-link" title="{文章標題}">
                                <span class="img-wrap">
                                    <img class="img-cover" src="../assets/fake/1600x900.jpg" alt="{圖片描述}">
                                </span>
                                <span class="h5">學校教育革新國小教師需要什麼支持，才能更加落實國小科技教育及資訊教育課程？</span>
                             </a>
                        </li>
                        <% (1..4).map do |i| %>
                         <li>
                            <a href="#" class="article-link" title="{文章標題}">
                                <span class="img-wrap">
                                    <img class="img-cover" src="../assets/fake/1600x900.jpg" alt="{圖片描述}">
                                </span>
                                <span class="h5">英國中小學學校教育革新之相關計畫與策略</span>
                             </a>
                        </li>
                        <% end %>
                    </ul>
                </div>
            </section>
            
            <!-- 圖在左 -->
            <section class="element-section">
                <div class="element-img-left element-img-direction">
                    <div class="section-row">
                        <div class="cover-wrap">
                            
                            <!-- 後台請註明圖片尺寸 16:9，e.g. 1600x900-->
                            <img class="img-cover" src="../assets/fake/1600x900.jpg" alt="{圖片描述}">
                        </div>
                        <div class="element-content">
                            <div class="padding-inner">
                                <h4>故可推定為符合公平正義之舉措實驗教育應有之距離</h4>
                                
                                <!-- 後台請限制並註明最多 100 字元 -->
                                <p>國家推動實驗教育，在相當程度係為提供不適合接受制式教育者之另類選擇，以藉此保障人民的學習權、受教育權及教育選擇權，故可推定為符合公平正義之舉措。然而，依據法律意旨及實驗教育之本質，除應依法將私立學校設。</p>
                                <div class="link-control">
                                    <a href="/general/trends_single.html" class="link-more" title="閱覽全文"><span>MORE</span></a>
                                </div>
                            </div> 
                        </div>
                    </div>
                </div>
            </section>
            
            <!-- 圖在右 -->
            <section class="element-section">
                <div class="element-img-left element-img-direction">
                    <div class="section-row">
                        <div class="element-content">
                            <div class="padding-inner">
                                <h4>公平正義之舉措實驗教育應有之距離</h4>
                                
                                <!-- 後台請限制並註明最多 100 字元 -->
                                <p>國家推動實驗教育，在相當程度係為提供不適合接受制式教育者之另類選擇，以藉此保障人民的學習權、受教育權及教育選擇權，故可推定為符合公平正義之舉措。然而，依據法律意旨及實驗教育之本質，除應依法將私立學校設。</p>
                                <div class="link-control">
                                    <a href="/general/trends_single.html" class="link-more" title="閱覽全文"><span>MORE</span></a>
                                </div>
                            </div> 
                        </div>
                        <div class="cover-wrap">
                            
                            <!-- 後台請註明圖片尺寸 16:9，e.g. 1600x900-->
                            <img class="img-cover" src="../assets/fake/1600x900.jpg" alt="{圖片描述}">
                        </div>
                    </div>
                </div>
            </section>
            
            <!-- 圖文群組 -->
            <section class="element-section">
                <div class="element-content-group">
                    
                    <!-- 後台須給標題欄位讓無障礙 title 使用，請註明前台不會出現避免使用者困惑 -->
                    <% (1..4).map do |i| %>
                    <a href="#" class="element-group-item" title="連結名稱">
                        <span class="symbol"></span>
                        <div class="section-row">
                            <div class="img-wrap">
                                
                                <!-- 後台請註明圖片為正方形，解析度至少 640x640-->
                                <img class="img-cover" src="../assets/fake/640.jpg" alt="{圖片描述}">
                            </div>
                            <div class="element-description">
                                <div class="padding-inner">
                                    <!-- 後台請限制並註明最多 70 字元 -->
                                    <span>聚焦與社會連結的學習指導並進一步探討探索活動及其發展演變的社會文化情境脈絡，期望對於臺灣高中教育有所啟示，對於未來新一波課綱的研修助益匪淺。</span>
                                </div> 
                            </div>
                        </div>
                    </a>
                    <% end %>
                    
                </div>
            </section>
            
            <!-- 音檔 -->
            <section class="element-section">
                <div class="element-audio element-general">
                    <h4 class="general-title">音檔標題</h4>
                    <audio preload="auto" controls>
                        <source src="../assets/fake/file_example_MP3_2MG.mp3">
                    </audio>
                </div>
            </section>
            
            <!-- 相關連結 -->
            <section class="element-section">
                <div class="element-link element-general">
                    <h4 class="general-title">相關連結</h4>
                    <div class="padding-inner">
                        <ul class="menu-item">
                            <% (1..2).map do |i| %>
                            <li>
                                <a href="#" title="{連結名稱}" class="item-link">國家教育研究資料庫</a>
                            </li>
                            <li>
                                <a href="#" title="{連結名稱}" class="item-link">十二年國教新課綱推動專案辦公室</a>
                            </li>
                            <li>
                                <a href="#" title="{連結名稱}" class="item-link">108課綱資訊網</a>
                            </li>
                            <% end %>
                        </ul>
                    </div>
                </div>
            </section>
            
            <!-- 關鍵字 -->
            <section class="element-section">
                <div class="element-keywords element-general">
                    <h4 class="general-title">關鍵字</h4>
                    <div class="padding-inner">
                        <ul class="menu-item">
                            <li>
                                <a href="#" title="{連結名稱}" class="item-link">十二年國教課程綱要</a>
                            </li>
                            <li>
                                <a href="#" title="{連結名稱}" class="item-link">高級中等學校</a>
                            </li>
                            <li>
                                <a href="#" title="{連結名稱}" class="item-link">好好聽人權</a>
                            </li>
                            <li>
                                <a href="#" title="{連結名稱}" class="item-link">教育權及教育選擇權</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </section>
            
        </main>
        
        
    </div>
    <a id="backtop" title="回到頁首"></a>
    <%= render :partial => "/partials/footer" %>
</div>



<% content_for :js do %>

<!-- Carousel Options -->
<script>
    const carouselEtalkCaptionsElement = document.querySelector('#largeEtalkCaptions')
    const carousel = new bootstrap.Carousel(carouselEtalkCaptionsElement, {
        interval: 9000
    })
</script>

<!-- AudioPlayer -->
<script src="../javascripts/audioplayer.js"></script>
<script>
    $(function() {
        $('audio').audioPlayer();
    });
</script>

<% end %>