<!-- template: Theme Two -->

<% content_for :replace_css do %>
    <link rel="stylesheet" media="screen" href="../stylesheets/theme_2.css">
<% end %>

<div class="theme_two">
    <div class="container-fluid">
        
        <header class="header">
            <div class="section-container">
                <h1>
                    <a href="../homepage/index_loader.html" class="link-logo" title="E Talk">
                        <span class="text-hide">E Talk</span>
                        <img class="h1-logo" src="../assets/logo.svg">
                    </a>
                </h1>
                <div class="social-media">
                    <ul class="menu-item">
                        <li>
                            <a href="#" class="share-email" title="透過 Email 分享"><i class="fas fa-envelope"></i></a>
                        </li>
                        <li>
                            <a href="#" class="share-line" title="透過 Line 分享"><i class="fab fa-line"></i></a>
                        </li>
                        <li>
                            <a href="#" class="share-twitter" title="透過 Twitter 分享"><i class="fab fa-twitter"></i></a>
                        </li>
                        <li>
                            <a href="#" class="share-facebook" title="透過 Facebook 分享"><i class="fab fa-facebook-f"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </header>
        
        <main class="main">

            <!-- 標題 & 相關資訊 (合併區塊) -->
            <section class="element-section">
                <div class="section-container">
                    <div class="element-title element-title-horizontal">
                        <h2>未來教育之路：啟迪智慧，啟發無限</h2>
                        <h3>啟迪孩童創造力與未來的發展不僅是一種教學模式更是一種啟發孩童潛能的教育哲學</h3>
                    </div>
                    <div class="element-information">
                        <ul class="menu-item menu-information menu-information-horizontal">
                            <li class="subject">
                                <span class="label">主題類別</span>
                                <span class="output">台灣未來教育怎麼走</span>
                            </li>
                            <li class="date">
                                <span class="label">活動時間</span>
                                <span class="output">
                                    2023年10月15日 至
                                    <span>2023年10月15日</span>
                                </span>
                            </li>
                            <li class="location">
                                <span class="label">活動地點</span>
                                <span class="output">三峽總院區實體展</span>
                            </li>
                            <li class="organization">
                                <span class="label">指導單位</span>
                                <span class="output">教育部</span>
                            </li>
                            <li class="organization">
                                <span class="label">協辦單位</span>
                                <span class="output">National Aeronautics</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </section>
            
            <!-- 標題 & 相關資訊 (合併區塊) -->
            <section class="element-section">
                <div class="section-container">
                    <div class="section-row row-title-info">
                        <div class="element-title">
                            <h2>未來教育之路：啟迪智慧，啟發無限</h2>
                            <h3>啟迪孩童創造力與未來的發展不僅是一種教學模式更是一種啟發孩童潛能的教育哲學</h3>
                        </div>
                        <div class="element-information">
                            <ul class="menu-item menu-information">
                                <li class="subject">
                                    <span class="label">主題類別</span>
                                    <span class="output">台灣未來教育怎麼走</span>
                                </li>
                                <li class="date">
                                    <span class="label">活動時間</span>
                                    <span class="output">
                                        2023年10月15日 至
                                        <span>2023年10月15日</span>
                                    </span>
                                </li>
                                <li class="location">
                                    <span class="label">活動地點</span>
                                    <span class="output">三峽總院區實體展</span>
                                </li>
                                <li class="organization">
                                    <span class="label">指導單位</span>
                                    <span class="output">教育部</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
            
            <!-- 封面 -->
            <section class="element-section">
                <div class="section-container">
                    <div class="element-cover">
                        <span class="cover-inner">
                            <!-- 後台請註明，封面尺寸 16:9，e.g. 1600x900-->
                            <img class="img-cover" src="../assets/fake/1600x900_2.jpg" alt="{圖片描述}">
                        </span>
                    </div>
                </div>
            </section>
            
            <!-- 輪撥 slick -->
            <section class="element-section">
                <div class="element-carousel-splide">
                    <div id="splide" class="splide">
                        <div class="splide__track">
                            <ul class="splide__list">
                                
                                <li class="splide__slide">
                                    <div class="splide__inner">
                                        <img class="img-cover" src="../assets/fake/1600x900.jpg" alt="{圖片描述}">
                                        <div class="splide-caption">
                                            <div class="caption-position">
                                                
                                                <!-- 後台請設定並備註最多 60 個字元 -->
                                                <p>這些評量提供各國對於高等教育系統運作績效定量比較之重要資訊及評估了解，以擬訂高等教育系統評估指標，協助各國高等教育政策制</p>
                                                <div class="link-control">
                                                    <a href="#" class="link-more" title="閱覽全文">
                                                        <span>more</span>
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="link-arrow" viewBox="0 0 16 16">
                                                            <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z" />
                                                        </svg>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                
                                <% (1..3).map do |i| %>
                                <li class="splide__slide">
                                    <div class="splide__inner">
                                        <img class="img-cover" src="../assets/fake/1600x900_2.jpg" alt="{圖片描述}">
                                        <div class="splide-caption">
                                            <div class="caption-position">
                                                
                                                <!-- 後台請設定並備註最多 60 個字元 -->
                                                <p><%= lorem_sentence %></p>
                                                <div class="link-control">
                                                    <a href="#" class="link-more" title="閱覽全文">
                                                        <span>more</span>
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="link-arrow" viewBox="0 0 16 16">
                                                            <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z" />
                                                        </svg>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <% end %>

                            </ul>
                        </div>
                    </div>
                </div>
            </section>
            
            <!-- 輪撥 -->
            <section class="element-section">
                <div class="element-carousel">
                    <div class="section-container">
                        <div class="main-carousel">
                        <div id="carouselEtalkCaptions" class="carousel slide carousel-fade" data-bs-ride="carousel">
                            <div class="carousel-indicators">
                                <button type="button" data-bs-target="#carouselEtalkCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                                <button type="button" data-bs-target="#carouselEtalkCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                                <button type="button" data-bs-target="#carouselEtalkCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
                            </div>
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <div class="item-inner">
                                        <div class="item-photo"><img src="../assets/fake/1600x900_2.jpg" class="d-block w-100" alt="{圖片描述}" /></div>
                                        <div class="item-text">
                                            <div class="text-inner">
                                                <div class="text-position">

                                                    <!-- 後台欄位請限制 120 個全形字元 -->
                                                    <p>日本學術訪問團荒井克弘名譽教授蒞臨參訪，透過調查平臺各式測驗題型及題組、調查組卷及試題統計分析等功能的展示，進行深入淺出及務實詳細的介紹，讓參訪貴賓瞭解測評中心在測驗題型研發以及學生施測評量測驗的創新及努力，透過調查平臺各式測驗題型及題組。</p>
                                                    <div class="link-control">
                                                        <a href="#" class="link-more" title="閱覽全文">
                                                            <span>more</span>
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="link-arrow" viewBox="0 0 16 16">
                                                                <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z" />
                                                            </svg>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <div class="item-inner">
                                        <div class="item-photo"><img src="../assets/fake/1280x720.jpg" class="d-block w-100" alt="{圖片描述}" /></div>
                                        <div class="item-text">
                                            <div class="text-inner">
                                                <div class="text-position">

                                                    <!-- 後台欄位請限制 120 個全形字元 -->
                                                    <p>中央研究院社會學研究所在國家科學及技術委員會經費的補助下，「臺灣數位世代青少年的成長歷程追蹤研究」（簡稱TIGPS）計畫以「數位生態系統理論」探討臺灣數位世代青少年的自我概念。</p>
                                                    <div class="link-control">
                                                        <a href="#" class="link-more" title="閱覽全文">
                                                            <span>more</span>
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="link-arrow" viewBox="0 0 16 16">
                                                                <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z" />
                                                            </svg>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <div class="item-inner">
                                        <div class="item-photo"><img src="../assets/fake/1280x720_2.jpg" class="d-block w-100" alt="{圖片描述}" /></div>
                                        <div class="item-text">
                                            <div class="text-inner">
                                                <div class="text-position">

                                                    <!-- 後台欄位請限制 120 個全形字元 -->
                                                    <p>使師生能夠投入教學的情境脈絡；後者則配合當代議題，由靜宜大學其他系所師資支援開設課程，以結合傳統與現代知識。</p>
                                                    <div class="link-control">
                                                        <a href="#" class="link-more" title="閱覽全文">
                                                            <span>more</span>
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="link-arrow" viewBox="0 0 16 16">
                                                                <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z" />
                                                            </svg>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            </section>
            
            <!-- 單欄文案 -->
            <section class="element-section">
                <div class="section-container">
                    <div class="element-introduce">
                        <!-- 無障礙規則之故標題必須是 h4，後台編輯器請協助設定 -->
                        <h4>教科書外的沉浸式體驗—學習資源的多元面貌</h4>
                        
                        <p>因此，在課程規劃上面，以Gaya （賽德克族的傳統社會規範）為核心，考量民族的迫切性、專業性以及需求性，設計「文化傳承類課程」以及「方法與當代議題類課程」。前者如狩獵、樂舞、藤編、竹編與織布等等的課程設計，同時為配合民族知識的內涵，更以全族語進行，採雙軌教學機制，實踐「部落即教室」的理念，使師生能夠投入教學的情境脈絡；後者則配合當代議題，由靜宜大學其他系所師資支援開設課程，以結合傳統與現代知識，例如，國家法制與原住民族專題研究、小農與合作經濟專題研究。</p>
                        <p>在師資部分，耆老教授的聘任資格是以「特殊成就」為標準，而非以主流社會價值的學歷為門檻，打破過去「報導人」角色的框架，給予耆老應有的尊重與待遇。Iwan教授舉例，部落有2位耆老因榮獲2019年世界原住民族高等教育聯盟「耆老智慧傳承獎」 (World Indigenous Nations Higher Education Consortium) 的肯定，學校乃以此國際榮譽聘為兼任專業技術級教授，以借重2位耆老在傳統狩獵及樂舞的智慧，傳承給下一代族人。高等教育是大學生邁入職場就業的最後階段，大學生應具備哪些核心能力及如何有效進行評估。</p>
                    </div>
                </div>
            </section>
            
            <!-- 雙欄文案 -->
            <section class="element-section">
                <div class="section-container">
                    <div class="element-introduce">
                        <!-- 無障礙規則之故標題必須是 h4，後台編輯器請協助設定 -->
                        <h4>教科書外的沉浸式體驗—學習資源的多元面貌</h4>
                        
                        <div class="column">
                            <p>因此，在課程規劃上面，以蓋亞（賽德克族的傳統社會規範）為核心，考量民族的迫切性、專業性以及需求性，設計「文化傳承類課程」以及「方法與當代議題類課程」。前者如狩獵、樂舞、藤編、竹編與織布等等的課程設計，同時為配合民族知識的內涵，更以全族語進行，採雙軌教學機制，實踐「部落即教室」的理念，使師生能夠投入教學的情境脈絡；後者則配合當代議題，由靜宜大學其他系所師資多元思維進行支援開設課程，以結合傳統與現代知識，例如，國家法制與原住民族專題研究、小農與合作經濟專題研究。</p>
                            <p>批判思考在教育多元使用的領域發展已久，早於二十世紀初期，美國教育學者杜威即指出批判思考是主動、堅持、謹慎思考的任何信念多元思維進行或是任何支持進多元思維進行而形成結論的知識形式，並將批判思考列為重要教育目標，強調在教學上應該思考如何了解孩子的天生好奇心、想像力以及對自然生活的熱愛，並思考如何在教育中具體實踐。到1930年代，已有許多學校將批判思考視為重要教育目標並落實在教學上，並且開始嘗試發展評量試題。1946年批判思考首次出現於教科書中，被視為是重要的邏輯與科學的方法。70年代至80年代，批判思考受到更多關注和討論，在大學課程中也出多元思維進行現形式邏輯或是推理等相關課程，學者普遍認同批判思考是指個體對於師生能夠投入所遭遇問題進行邏輯推理，並採取實際行動解決之思維。90年代之後，更多學者關注問題情境中的批判思考，認為批判思考是指個體使用邏輯、推理、評鑑等綜合能力識別與評估不同問題解決方法進行問題解決的歷程。從批判思多元思維進行考之發展歷程可知批判思考從被視為對事物價值或論述進行邏輯推理以做出正確判斷，導向更為重視在問題情境中運用多元思維進行分析、推論及評估，以解決問題或進行決策，顯示批判思考從邏輯推理轉為更加著重情境化綜合思維能力的評估。</p>
                        </div>
                    </div>
                </div>
            </section>
            
            <!-- 影片 -->
            <section class="element-section">
                <div class="section-container">
                    <div class="element-video">
                        <div class="video-wrapper">
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/jxehp43WAX0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </section>
            
            <!-- 系統相關文章 -->
            <section class="element-section">
                <div class="section-container">
                    <div class="element-article-list">
                        <h4 class="section-title"><span>相關文章區塊標題</span></h4>
                        <ul class="menu-item article-list-menu">
                            <li>
                                <a href="#" class="article-link" title="{文章標題}">
                                    <span class="img-wrap">
                                        <img class="img-cover" src="../assets/fake/1600x900_2.jpg" alt="{圖片描述}">
                                    </span>
                                    <span class="h5">
                                        學校教育革新國小教師需要什麼支持，才能更加落實國小科技教育及資訊教育課程？
                                        <span class="arrow-right">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi-arrow-right" viewBox="0 0 16 16">
                                                <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                                            </svg>
                                        </span>
                                    </span>
                                 </a>
                            </li>
                            <% (1..4).map do |i| %>
                             <li>
                                <a href="#" class="article-link" title="{文章標題}">
                                    <span class="img-wrap">
                                        <img class="img-cover" src="../assets/fake/1600x900.jpg" alt="{圖片描述}">
                                    </span>
                                    <span class="h5">
                                        英國中小學學校教育革新之相關計畫與策略
                                        <span class="arrow-right">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi-arrow-right" viewBox="0 0 16 16">
                                                <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                                            </svg>
                                        </span>
                                    </span>
                                 </a>
                            </li>
                            <% end %>
                        </ul>
                    </div>
                </div>
            </section>
            
            <!-- 音檔 -->
            <section class="element-section">
                <div class="element-audio">
                    <div class="section-container">
                        <h4 class="audio-title">改變的方向一專訪國家教育研究院林崇熙院長</h4>
                        <audio preload="auto" controls>
                            <source src="../assets/fake/file_example_MP3_2MG.mp3">
                        </audio>
                    </div>
                </div>
            </section>
            
            <!-- 相關連結 & 關鍵字 (合併區塊) -->
            <section class="element-section">
                <div class="section-container">
                    <div class="section-row row-link-key">
                        <div class="element-link element-general">
                            <h4 class="general-title">相關連結</h4>
                            <div class="padding-inner">
                                <ul class="menu-item">
                                    <% (1..2).map do |i| %>
                                    <li>
                                        <a href="#" title="{連結名稱}" class="item-link">國家教育研究資料庫</a>
                                    </li>
                                    <li>
                                        <a href="#" title="{連結名稱}" class="item-link">十二年國教新課綱推動專案辦公室</a>
                                    </li>
                                    <li>
                                        <a href="#" title="{連結名稱}" class="item-link">108課綱資訊網</a>
                                    </li>
                                    <% end %>
                                </ul>
                            </div>
                        </div>
                        
                        <div class="element-keywords element-general">
                            <h4 class="general-title">關鍵字</h4>
                            <div class="padding-inner">
                                <ul class="menu-item">
                                    <li>
                                        <a href="#" title="{連結名稱}" class="item-link">十二年國教課程綱要</a>
                                    </li>
                                    <li>
                                        <a href="#" title="{連結名稱}" class="item-link">高級中等學校</a>
                                    </li>
                                    <li>
                                        <a href="#" title="{連結名稱}" class="item-link">好好聽人權</a>
                                    </li>
                                    <li>
                                        <a href="#" title="{連結名稱}" class="item-link">教育權及教育選擇權</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            
            <!-- 圖在左 -->
            <section class="element-section">
                <div class="section-container">
                    <div class="element-img-left element-img-direction">
                        <div class="section-row">
                            <div class="cover-wrap">

                                <!-- 後台請註明圖片尺寸 16:9，e.g. 1600x900-->
                                <img class="img-cover" src="../assets/fake/1600x900.jpg" alt="{圖片描述}">
                            </div>
                            <div class="element-content">
                                <h4>公立學校、偏遠學校與實驗教育應有之距離</h4>

                                <p>已有許多學校將批判思考視為重要教育目標並落實在教學上，並且開始嘗試發展評量試題。1946年批判思考首次出現於教科書中，被視為是重要的邏輯與科學的方法。70年代至80年代，批判思考受到更多關注和討論，在大學課程中也出現形式邏輯或是推理等相關課程，學者普遍認同批判思考是指個體對於所遭遇問題進行邏輯推理，並採取實際行動解決之思維。90年代之後，更多學者關注問題情境中的批判思考，認為批判思考是指個體使用邏輯、推理、評鑑等綜合能力識別與評估不同問題解決方法進行問題解決的歷程。從批判思考之發展歷程可知批判思考從被視為對事物價值或論述進行邏輯推理以做出正確判斷，導向更為重視在問題情境中運用多元思維進行分析、推論及評估，以解決問題或進行決策，顯示批判思考從邏輯推理轉為更加著重情境化綜合思維能力的評估。</p>
                                <div class="link-control">
                                    <a href="#" class="link-more" title="閱覽全文">
                                        <span>more</span>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="link-arrow" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z" />
                                        </svg>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            
            <!-- 圖在右 -->
            <section class="element-section">
                <div class="section-container">
                    <div class="element-img-right element-img-direction">
                        <div class="section-row">
                            <div class="cover-wrap">

                                <!-- 後台請註明圖片尺寸 16:9，e.g. 1600x900-->
                                <img class="img-cover" src="../assets/fake/1600x900.jpg" alt="{圖片描述}">
                            </div>
                            <div class="element-content">
                                <h4>回歸實驗教育本質的改善機制：公立學校、偏遠學校與實驗教育應有之距離</h4>

                                <p>在大學課程中也出現形式邏輯或是推理等相關課程，學者普遍認同批判思考是指個體對於所遭遇問題進行邏輯推理，並採取實際行動解決之思維。90年代之後，更多學者關注問題情境中的批判思考，認為批判思考是指個體使用邏輯、推理、評鑑等綜合能力識別。</p>
                                <div class="link-control">
                                    <a href="#" class="link-more" title="閱覽全文">
                                        <span>more</span>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="link-arrow" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z" />
                                        </svg>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            
            <!-- 圖在左 (正方形封面) -->
            <section class="element-section">
                <div class="section-container">
                    <div class="element-img-left element-img-direction cover-square">
                        <div class="square-inner">
                            <div class="section-row">
                                <div class="cover-wrap">

                                    <!-- 後台請註明圖片尺寸 16:9，e.g. 1600x900-->
                                    <img class="img-cover" src="../assets/fake/640.jpg" alt="{圖片描述}">
                                </div>
                                <div class="element-content">
                                    <div class="content-inner">
                                        <p>了解六個縣市電子教科書使用者同時使用紙本與電子教科書歷程與經驗，藉此提出支持數位教科書發展配套之芻議。首先，現行整合電子教科書與數位教學所涵蓋的範疇，可以包含至少兩個層次。第一個層次是使用以紙本教科書規範性內容為基底的電子教科書，基本上僅須學校教室配有桌上電腦與螢幕即可進行。第二個層次是在電子教科書之外，融合智慧型載具、各種教學平臺中教學媒材的數位教學，所須設備除了智慧型載具（或至少筆記型電腦）、高速網路，還需要授課教師整合運用紙本教科書與數位媒材的能力、以及學校端行政支持體系協助持續爭取經費維護甚至擴建相關設備。</p>
                                        <div class="link-control">
                                            <a href="#" class="link-more" title="閱覽全文">
                                                <span>more</span>
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="link-arrow" viewBox="0 0 16 16">
                                                    <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z" />
                                                </svg>
                                            </a>
                                        </div>
                                    </div> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            
            <!-- 圖在右-深色背景 (正方形封面) -->
            <section class="element-section">
                <div class="section-container">
                    
                    <!-- 後台操作介面需增加 checkbox，勾選後啟用深色背景，增加 .dark-background -->
                    <div class="element-img-right element-img-direction cover-square dark-background">
                        <div class="square-inner">
                            <div class="section-row">
                                <div class="cover-wrap">

                                    <!-- 後台請註明圖片尺寸 16:9，e.g. 1600x900-->
                                    <img class="img-cover" src="../assets/fake/640.jpg" alt="{圖片描述}">
                                </div>
                                <div class="element-content">
                                    <div class="content-inner">
                                        <p>支持數位教科書發展配套芻議資訊科技發展一日千里，不僅深刻改變日常生活溝通方式、更顛覆學生學習模式。本研究聚焦使用者，了解使用者同時虛實整合紙本與電子教科書的歷程與經驗，提出未來支持數位教科書發展配套之芻議。</p>
                                        <div class="link-control">
                                            <a href="#" class="link-more" title="閱覽全文">
                                                <span>more</span>
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="link-arrow" viewBox="0 0 16 16">
                                                    <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z" />
                                                </svg>
                                            </a>
                                        </div>
                                    </div> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- 圖文群組 -->
            <section class="element-section">
                <div class="section-container">
                    <div class="element-content-group">
                    
                    <!-- 後台須給標題欄位讓無障礙 title 使用，請註明前台不會出現避免使用者困惑 -->
                    <% (1..3).map do |i| %>
                    <a href="#" class="element-group-item" title="連結名稱">
                        <div class="section-row">
                            <div class="img-wrap">
                                
                                <!-- 後台請註明圖片為正方形，解析度至少 640x640-->
                                <img class="img-cover" src="../assets/fake/640.jpg" alt="{圖片描述}">
                            </div>
                            <div class="element-description">
                                <!-- 後台請限制並註明最多 70 字元 -->
                                聚焦與社會連結的學習指導並進一步探討探索活動及其發展演變的社會文化情境脈絡，期望對於臺灣高中教育有所啟示，對於未來新一波課綱的研修助益匪淺。
                            </div>
                        </div>
                    </a>
                    <% end %>
                    
                    <a href="#" class="element-group-item" title="連結名稱">
                        <div class="section-row">
                            <div class="img-wrap">
                                
                                <!-- 後台請註明圖片為正方形，解析度至少 640x640-->
                                <img class="img-cover" src="../assets/fake/640.jpg" alt="{圖片描述}">
                            </div>
                            <div class="element-description">
                                <!-- 後台請限制並註明最多 70 字元 -->
                                教科書廠商提供的電子教科書是給教師教學用，而政府教學平臺雖然也區分教師、學生與家長功能，提供數位媒材、課室管理系統、以及測驗評量供老師與學生使用，強化教學平臺的介面管理。
                            </div>
                        </div>
                    </a>
                    
                </div>
                </div>
            </section>
            
        </main>
        
        
    </div>
    <a id="backtop" title="回到頁首"></a>
    <%= render :partial => "/partials/footer" %>
</div>


<% content_for :js do %>

<!-- gsap scroll trigger -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/ScrollTrigger.min.js"></script>

<!-- AudioPlayer -->
<script src="../javascripts/audioplayer.js"></script>
<script>
    $(function() {
        $('audio').audioPlayer();
    });
</script>

<!-- slick -->
<script src="../javascripts/splide.min.js"></script>
<script>
document.addEventListener("DOMContentLoaded", function () {
    new Splide("#splide", {
        type: "loop",
        arrows: false,
        perPage: 1,
        focus: "center",
        autoplay: true,
        interval: 9000,
        flickMaxPages: 3,
        updateOnMove: true,
        pagination: true,
        padding: "0%",
        throttle: 300,
        breakpoints: {
            1328: {
                perPage: 1,
                padding: "24px",
            },
            574: {
                padding: "16px",
            },
        },
    }).mount();
});
</script>

<!-- Carousel Options -->
<script>
    const carouselEtalkCaptionsElement = document.querySelector('#carouselEtalkCaptions')
    const carousel = new bootstrap.Carousel(carouselEtalkCaptionsElement, {
        interval: 90000
    })
</script>

<% end %>

