<!-- ietw: 導航網站 - 聯絡我們 -->

<div class="content-wrapper">
    <div class="container-xl">
        <main class="main">
            <a accesskey="C" href="#accesskey_content" tabindex="0" title="主要內容" id="accesskey_content" class="ackey">:::</a>

            <div class="row-wrapper">
                <h4 class="section-title text-center">聯絡我們 Contact Us</h4>
                <p><%= lorem_paragraph %></p>
            </div>

        </main>
	</div>
</div>



<% content_for :js do %>

<% end %>




