<!-- ietw: 導航網站 - 首頁 -->

<div class="content-wrapper">
    <div class="container-xl">
        <main class="main">
            <a accesskey="C" href="#accesskey_content" tabindex="0" title="主要內容" id="accesskey_content" class="ackey">:::</a>

            <div class="map-wrapper">
                <hgroup>
                    <h3>區域搜索</h3>
                    <h4>Area Searching</h4>
                </hgroup>
                <div class="svg-wrap" id="taiwan_map">
                    <div class="taiwan-map" ref="map">
                        <div>
                            <div id="map">
                                <svg id="svg"></svg>
                            </div>
                        </div>
                    </div>
                    <div class="shop-list">
                        <h1>{{ h1 }}</h1>
                        <h2>{{ h2 }}</h2>
                    </div>
                </div>
            </div>

            <div class="mobile-maparea">
                <hgroup>
                    <h3>選擇區域</h3>
                    <h4>Area Select</h4>
                </hgroup>
                <ul class="menu-item area-list">
                    <li><a href="#" title="{連結名稱}">臺北市<span class="en">Taipei City</span></a></li>
                    <li><a href="#" title="{連結名稱}">新北市<span class="en">New Taipei City</span></a></li>
                    <li><a href="#" title="{連結名稱}">桃園市<span class="en">Taoyuan City</span></a></li>
                    <li><a href="#" title="{連結名稱}">臺中市<span class="en">Taichung City</span></a></li>
                    <li><a href="#" title="{連結名稱}">臺南市<span class="en">Tainan City</span></a></li>
                    <li><a href="#" title="{連結名稱}">高雄市<span class="en">Kaohsiung City</span></a></li>
                    <li><a href="#" title="{連結名稱}">新竹縣<span class="en">Hsinchu County</span></a></li>
                    <li><a href="#" title="{連結名稱}">苗栗縣<span class="en">Miaoli County</span></a></li>
                    <li><a href="#" title="{連結名稱}">彰化縣<span class="en">Changhua County</span></a></li>
                    <li><a href="#" title="{連結名稱}">南投縣<span class="en">Nantou County</span></a></li>
                    <li><a href="#" title="{連結名稱}">雲林縣<span class="en">Yunlin County</span></a></li>
                    <li><a href="#" title="{連結名稱}">嘉義縣<span class="en">Chiayi County</span></a></li>
                    <li><a href="#" title="{連結名稱}">屏東縣<span class="en">Pingtung County</span></a></li>
                    <li><a href="#" title="{連結名稱}">宜蘭縣<span class="en">Yilan County</span></a></li>
                    <li><a href="#" title="{連結名稱}">花蓮縣<span class="en">Hualien County</span></a></li>
                    <li><a href="#" title="{連結名稱}">臺東縣<span class="en">Taitung County</span></a></li>
                    <li><a href="#" title="{連結名稱}">澎湖縣<span class="en">Penghu County</span></a></li>
                    <li><a href="#" title="{連結名稱}">金門縣<span class="en">Kinmen County</span></a></li>
                    <li><a href="#" title="{連結名稱}">連江縣<span class="en">Lienchiang County</span></a></li>
                    <li><a href="#" title="{連結名稱}">基隆市<span class="en">Keelung City</span></a></li>
                    <li><a href="#" title="{連結名稱}">新竹市<span class="en">Hsinchu City</span></a></li>
                    <li><a href="#" title="{連結名稱}">嘉義市<span class="en">Chiayi City</span></a></li>
                </ul>
            </div>

        </main>
	</div>
</div>



<% content_for :js do %>
<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-polyfill/7.6.0/polyfill.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.js"></script>
<script src="https://d3js.org/d3.v3.min.js"></script>
<script src="../javascripts/taiwan_map.js"></script>
<% end %>




