
/* `Header
-----------------------------------------------------------------------------*/

header.header {
	position: relative;
	margin-bottom: 4rem;
	.dropdown-toggle {
		background-color: transparent;
		border: none;
		padding: 0;
	}
	.header-function { text-align: end; }
	.language {
		margin-bottom: 0.5rem;
		font-size: 0.9375rem;
		a {
			display: inline-block;
			padding: 0 0.5rem;
			position: relative;
			color: #999;
			&:hover { color: $main_color; }
			&.current {
				cursor: default;
				color: #000;
			}
			&:after {
				content: "";
				background: #e5e5e5;
				width: 1px;
				height: 16px;
				position: absolute;
				right: -0.125rem;
				top: 0.25rem;
			}
			&:last-child:after {
				content: none;
			}
		}
	}
	.sys-subject {
		background: url("../assets/dot.png") left top repeat;
        background: #f6eced;
		padding: calc(1rem + 1vw) 0;
		h3, h4 {
			margin-bottom: 0;
            color: #402b2f;
		}
        h3 {
            font-weight: 700;
            color: #403436;
        }
	}
	.btn-login {
		margin-left: 1rem;
		i {
			margin-right: .25rem;
			color: #aaa;
			transition: all 0.2s ease-in-out
		}
		&:hover, &:active {
			i { color: #333; }
		}
	}
}

.header-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
	flex-direction: row-reverse;
    height: 96px;
	.account {
		padding: 0 0.5rem;
	}
	.brands-wrap {
		display: flex;
		align-items: center;
		color: #333;
	}
	.h1-logo {
		display: block;
		width: auto;
		height: 56px;
	}
	.sub {
		margin-left: 1rem;
        line-height: 1.1;
		span {
			display: block;
			font-size: 1.375rem;
		}
		.en {
			font-size: 1rem;
			
		}
	}
}

.header-right {
	text-align: end;
}

/* `Responsive
-----------------------------------------------------------------------------*/

@media (max-width: 1199px) {
    header.header {
        margin-bottom: calc(2rem + 1vw);
    }
	.header-wrap {
		height: auto;
		.brands {
			padding: calc(.375rem + .75vw) 0;
		}
        .sub { margin-left: .75rem; }
        .h1-logo { height: 48px; }
	}
}

@media (max-width: 991px) {
	header.header {
        .sys-subject {
            h3 { font-size: calc(1.25rem + 0.625vw); }
            h4 { font-size: calc(1rem + 0.625vw); }
        }
    }
}

@media (max-width: 479px) {
	.header-wrap {
        .sub { display: none; }
	}
}

















