<!-- tigp: 學程首頁 -->

<div class="container">
	<div class="program-wrapper">
        <div class="program-title">
            <h3>Taiwan International Graduate Program On-line Application, 2020</h3>
            <div class="launch">
                <strong>Launch</strong>
				2020-09-15 00:00 ~ 2020-09-15 00:00
            </div>
            <div class="btn-custom">
                <a href="../home/index.html" class="flat-btn">
                    <span>APPLY <i class="fa fa-arrow-circle-o-right"></i></span>
                </a>
            </div>
        </div>
		<div class="program-title">
            <h3>Taiwan International Graduate Program On-line Application, 2020</h3>
            <div class="launch">
                <strong>Launch</strong>
				2020-09-15 00:00 ~ 2020-09-15 00:00
            </div>
            <div class="btn-custom">
                <a href="../home/index.html" class="flat-btn">
                    <span>APPLY <i class="fa fa-arrow-circle-o-right"></i></span>
                </a>
            </div>
        </div>
		<div class="program-title">
            <h3>Taiwan International Graduate Program On-line Application, 2020</h3>
            <div class="launch">
                <strong>Launch</strong>
				2020-09-15 00:00 ~ 2020-09-15 00:00
            </div>
            <div class="btn-custom">
                <a href="../home/index.html" class="flat-btn">
                    <span>APPLY <i class="fa fa-arrow-circle-o-right"></i></span>
                </a>
            </div>
        </div>
	</div>
</div>

