

@import "base";

.no-shadow { box-shadow: none !important; }

.page-link { color: $main_color; }

body { background: $body_background; }

.page-content { padding: 3rem 0; }

.select-group {
	background: #555;
	border-bottom: 1px dashed #e5e5e5;
	margin-top: -3rem;
	padding: 1rem 0 3rem;
	.select-dropdown { color: #fff; }
	.select-wrapper span.caret { color: #fff; }
	
}

.select-result {
	margin-bottom: -3rem;
	padding: 3rem 0;
}

.radar-wrap {
    padding-right: 2rem;
}

.chart1 {
	border-bottom: 1px dashed #e5e5e5;
	margin-bottom: 2rem;
	padding-bottom: 1rem;
}

.radar-title {
	margin-bottom: 1rem;
	position: relative;
	&:after {
		content: "";
		background: #000;
		width: 55px;
		height: 1px;
		position: absolute;
		bottom: -10px;
		left: 0;
	}
}

.pick-list,
.pick-list li,
.course-list ul, 
.course-list li {
	margin: 0;
	padding: 0;
	list-style: none;
}

.course-pick {
	background: #fbfbfb;
	border: 1px dashed #e5e5e5;
	border-radius: 5px;
	margin-bottom: 2rem;
	padding: 2rem;
}

.pick-list {
	margin-top: 2rem;
	li {
		border-bottom: 1px dashed #e5e5e5;
		margin-bottom: 1rem;
		padding-bottom: 0.65rem;
		&:last-child {
			border-bottom: none;
			margin-bottom: 0;
			padding-bottom: 0;
		}
	}
	label, select { float: left; }
	select {
		margin-top: -5px;
		margin-left: 1rem;
		width: 100px;
	}
	.btn-remove {
		display: inline-block;
		margin-top: -8px;
		font-size: 24px;
		color: red;
		opacity: 0.25;
		&:hover { opacity: 0.75; }
	}
}

.course-list {
	border-left: 1px dashed #e5e5e5;
	padding: 1rem 0 1rem 2rem;
	ul { margin-top: 2rem; }
	li { margin: 0 2rem 1rem 0; }
}










































