<!-- edu-committee: 變更密碼  -->

<div class="login-container">
    <div class="login">
        <!-- div class="alert alert-danger" role="alert">
            Warning when the password is different from the password!
        </div-->
        <form>
            <p class="h4 text-center py-4">變更密碼</p>
            <div class="md-form">
                <input type="password" id="oldPassword" class="form-control">
                <label for="oldPassword">請輸入原密碼</label>
            </div>
            <div class="md-form">
                <input type="password" id="newPassword" class="form-control">
                <label for="newPassword">新密碼</label>
				<small class="form-text text-muted">Please use English and numbers to form an 8 - 12 digit password.</small>
            </div>
            <div class="md-form">
                <input type="password" id="newPasswordAgain" class="form-control">
                <label for="newPasswordAgain">請再次輸入新密碼確認</label>
            </div>
            <div class="text-center py-4">
                <button class="btn btn-outline-info btn-rounded my-4 waves-effect z-depth-0" type="submit">確定</button>
            </div>
        </form>
    </div>
</div>