<!-- edu-committee: 首頁 (已登入)  -->

<div class="container">
	<div class="board-head">
		<div class="mission">
			<span class="year">111</span>
			留學獎學金書面審查委員推薦
		</div>
	</div>
	<div class="category-container">
		<div class="group-wrap">
			<div class="mission-date">
                <h4>執行推薦作業</h4>
                <div class="deadline">
                    <span class="date">2022 02/10 12:00</span>
                    <span class="to">-</span>
                    <span class="date">2022 03/30 23:59</span>
                </div>
			</div>
			<ul class="menu-item group-list">
			    <li>
				    <div class="item-start">
					    <h5>生命科學學群 (包括農林漁牧)<strong class="text-muted pl-2">A組</strong></h5>
						<span class="badge badge-pill badge-warning">尚未送出</span>
					</div>
					<div class="item-end">
					    <a href="#" class="btn btn-sm btn-outline-info btn-rounded waves-effect z-depth-0">推薦作業</a>
					</div>
				</li>
				<li>
				    <div class="item-start">
					    <h5>電資學群<strong class="text-muted pl-2">A組</strong></h5>
						<span class="badge badge-pill badge-success">已送出 2021-11-12 12:05</span>
					</div>
					<div class="item-end">
					    <a href="#" class="btn btn-sm btn-outline-info btn-rounded waves-effect z-depth-0">推薦作業</a>
					</div>
				</li>
				<li>
				    <div class="item-start">
					    <h5>電資學群<strong class="text-muted pl-2">B組</strong></h5>
						<span class="badge badge-pill badge-success">已送出 2021-11-12 12:05</span>
					</div>
					<div class="item-end">
					    <a href="#" class="btn btn-sm btn-outline-info btn-rounded waves-effect z-depth-0">推薦作業</a>
					</div>
				</li>
			</ul>
		</div>
		<div class="group-wrap">
			<div class="mission-date">
                <h4>建議更換組別</h4>
                <div class="deadline">
                    <span class="date">2022 02/10 12:00</span>
                    <span class="to">-</span>
                    <span class="date">2022 03/30 23:59</span>
                </div>
			</div>
			<ul class="menu-item group-list">
			    <li>
				    <div class="item-start">
					    <h5>生命科學學群 (包括農林漁牧)</h5>
						<span class="badge badge-pill badge-warning">尚未送出</span>
					</div>
					<div class="item-end wide-end">
						<a href="#" class="btn btn-sm btn-outline-secondary btn-rounded waves-effect z-depth-0"><i class="fa fa-lg fa-cloud-download mr-1"></i>名單</a>
					    <a href="#" class="btn btn-sm btn-outline-primary btn-rounded waves-effect z-depth-0">登記更換組別</a>
					</div>
				</li>
				<li>
				    <div class="item-start">
					    <h5>電資學群</h5>
						<span class="badge badge-pill badge-success">已送出 2021-11-12 12:05</span>
					</div>
					<div class="item-end wide-end">
						<a href="#" class="btn btn-sm btn-outline-secondary btn-rounded waves-effect z-depth-0"><i class="fa fa-lg fa-cloud-download mr-1"></i>名單</a>
					    <a href="#" class="btn btn-sm btn-outline-primary btn-rounded waves-effect z-depth-0">登記更換組別</a>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>

<% content_for :js do %>

<script src="../javascripts/select2.min.js"></script>
<script>
    $(".js-example-basic-single").select2({
      theme: "bootstrap4"
    });
</script>

<% end %>