
@import "widgets/font";
@import "vendor/font-awesome";
@import "widgets/variables";
@import "partials/header";
@import "partials/footer";

/* `Base
-----------------------------------------------------------------------------*/

html {
	height: 100%;
	min-height: 100%;
}

body {
	font-family: 'Roboto', 'Apple LiGothic Medium', '\5FAE\8EDF\6B63\9ED1\9AD4', Helvetica, Arial, sans-serif;
	                                                     // 微軟正黑體
    line-height: 1.5;
	font-size: 1rem;
	font-weight: 400;
	color: $base_font_color;
}

a {
	color: $link;
	text-decoration: none;
	transition: all 0.2s ease-in-out;
	&:focus {
		outline: none; /* for Firefox Google Chrome  */
		behavior: expression(this.onFocus=this.blur()); /* for IE */
	}
}

a:hover { color: $link_hover; }

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
}

.form-control::placeholder {
    color: #999;
}

.menu-item, .menu-item li {
	list-style: none;
	margin: 0;
	padding: 0;
}

.form-group { margin-bottom: 1rem; }

.hide, .text-hide { display: none; }

.btn.btn-lg { font-size: 1.125rem; }

.btn-block {
	display: block;
	width: 100%;
}

.btn-rounded { border-radius: 50%; }

p { line-height: 1.7; }

.un-shadows { box-shadow: none; }

.btn.btn-xs {
	border-radius: 0.2rem;
	padding: 0.375rem 0.5rem 0.35rem;
	font-size: 0.9375rem;
	text-transform: none;
	line-height: 1.2;
	word-break: keep-all;
}

select.browser-default {
	border-radius: 0.25rem;
	border: 1px solid #ced4da;
	box-shadow: none;
	width: 100%;
	font-family: 'Roboto', 'Apple LiGothic Medium', '\5FAE\8EDF\6B63\9ED1\9AD4', Helvetica, Arial, sans-serif;
	font-size: 1rem;
	color: #333;
	height: calc(2.3125rem);
}

.table {
	.btn { margin: 0; }
	.highlight {
		td { background-color: #fffde7; }
	}
	td { font-weight: 400; }
}

.keep-all { word-break: keep-all; }

@media (max-width: 575px) {
	.keep-all { word-break: normal; }
}

.form-control { font-size: 1rem; }

.normal-link {
	color: $main_color !important;
	text-decoration: underline;
	&:hover { color: darken($main_color, 10) !important; }
}

.default-radio {
	position: static !important;
	pointer-events: auto !important;
	opacity: 1 !important;
}














