/* `Footer
-----------------------------------------------------------------------------*/

footer.footer {
	font-size: $base_font_size;
	color: #7a808d;
	.footer-inner {
		display: flex;
		justify-content: space-between;
		border-top: 1px solid #e9ebed;
		padding: 40px 0 30px;
	}
	.contact {
		li {
			margin-bottom: .375rem;
			padding-left: 30px;
			position: relative;
		}
        .fa {
            width: 16px;
            font-size: 1rem;
			color: #b7bbc0;
            text-align: center;
			position: absolute;
			left: 0;
			top: 4px;
        }
	}
	address { color: #b7bbc0; }
}