
/* `Header
-----------------------------------------------------------------------------*/

header.header {
	background: #fff;
	border-bottom: 1px solid $main_lighten_color;
	padding: 35px 0 25px;
	position: relative;
	&:before {
		content: "";
		background: $main_color;
		height: 6px;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		z-index: 0;
	}
}

.header-wrap {
	display: flex;
	align-items: center;
	.brands {
		display: inline-block;
		a {
			display: block;
		}
        h1 { margin: 0; }
	}
	.h1-logo {
		display: block;
		width: 270px;
		height: auto;
	}
	.sys-title {
		padding-left: 8rem;
		h2 {
			margin-bottom: 0;
			font-size: 1.75rem;
		}
	}
}
