@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap');


@import "vendor/font-awesome";
@import "widgets/variables";
@import "partials/header";
@import "partials/footer";

@mixin clearfix() {
	&::after {
		display: block;
		content: "";
		clear: both;
	}
}

html, body {
	min-height: 100%;
}

.media {
  display: flex;
  align-items: flex-start;
}

.media-body {
  flex: 1;
}

.peach-gradient { background: linear-gradient(40deg,#ffd86f,#fc6262) !important; }
.purple-gradient { background: linear-gradient(40deg,#ff6ec4,#7873f5) !important; }
.blue-gradient { background: linear-gradient(40deg,#45cafc,#303f9f) !important; }
.aqua-gradient { background: linear-gradient(40deg,#2096ff,#05ffa3) !important; }

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
}

hr.hr-lg { margin: 1.5rem -1.25rem; }

.btn {
	white-space: nowrap;
	font-size: 0.9375rem;
}

.btn.btn-md { font-size: 0.9375rem; }

.btn.btn-lg { font-size: 1.125rem; }

.btn-select {
	padding: .525rem 2.14rem;
}

.modal-xl {
    max-width: 1140px;
}

.modal-xxl {
    max-width: 90%;
}

.custom-select-sm { font-size: 0.8rem; }

.hidden { display: none !important; }

.mr-15 { margin-right: 15px; }

.mb-20 { margin-bottom: 20px !important; }

.flex { display: flex; }

.between { justify-content: space-between; }

.block-content .push, .block-content .block, .block-content .items-push > div { margin: 0 0 20px; }

.text-gray { color: #999; }

.text-darkgray { color: #666; }

.font-w400 { font-weight: 400; }

.bg-lightgrey { background-color: #fafafa; }

.bg-grey { background-color: #e2e2e2; }

.bg-muted { background-color: #999; }

.bg-darkgray { background-color: #333; }

.bg-muted, .bg-darkgray { color: #fff; }

.btn-white .fa { color: #333; }

.block-header {
	&.bg-muted, &.bg-darkgray {
		h1, h2, h3, h4 { color: #fff !important; }
	}
}

.btn-group.btn-group-sm { box-shadow: none !important; }

.bg-success.lighten { background: $bg-success-light !important; }

.bg-info.lighten { background: $bg-info-light !important; }

.bg-primary.lighten { background: $bg-primary-light !important; }

.bg-warning.lighten { background: $bg-warning-light !important; }

.bg-danger.lighten { background: $bg-danger-light !important; }

.bg-success.lightness { background: $bg-success-lightness !important; }

.bg-info.lightness { background: $bg-info-lightness !important; }

.bg-primary.lightness { background: $bg-primary-lightness !important; }

.bg-warning.lightness { background: $bg-warning-lightness !important; }

.bg-danger.lightness { background: $bg-danger-lightness !important; }

.m-0, .m-0 > .btn { margin: 0; }

label + .mdb-select { margin-top: 0; }

table th { font-weight: bold; }

table td { font-weight: 400; }

/* `Fix FontAwesome 5 to FontAwesome
-----------------------------------------------------------------------------*/

.fas.fa-caret-down {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 14px;
    font-size: inherit;
    text-rendering: auto;
}

.picker__box .picker__header .picker__nav--prev:before, .picker__box .picker__header .picker__nav--next:before {
	font-family: "FontAwesome";
}