<footer class="footer">
	<div class="container clearfix">
        <div class="float-left">
            <div class="contact">
                <p>元智大學 Yuan Ze University</p>
                <p>桃園市 32003 中壢區遠東路 135 號 135</p>
                <p>Yuan-Tung Road, Chung-Li, Taiwan 32003, R.O.C. </p>
                <p>Tel: +886-3-463-8800</p>
                <p class="browser-support">Browser Support Firefox、Chrome 或 IE11+</p>
            </div>
        </div>
        <address class="float-right">© 2019 元智大學 Yuan Ze University</address>
	</div>
</footer>
