<!-- template: 計畫網站 - 首頁 -->

<div class="container-lg">
	<div class="index-content">
        
        <!-- 後台請備註：上傳圖片寬高比例 2:1，e.g. 1600 x 800 -->
        <div id="carouselHesp" class="carousel slide">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselHesp" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselHesp" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselHesp" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <a href="#" class="carousel-link" title="{連結名稱}">
                        <img src="https://placehold.co/1600x800" class="d-block w-100" alt="..." />
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Some representative placeholder content for the first slide.</h5>
                        </div>
                    </a>
                </div>
                <div class="carousel-item">
                    <a href="#" class="carousel-link" title="{連結名稱}">
                        <img src="https://placekitten.com/1600/800" class="d-block w-100" alt="..." />
                        <div class="carousel-caption d-none d-md-block">
                            <h5>2023大專校院分析報告學校說明會報名資訊與相關說明 </h5>
                        </div>
                    </a>
                </div>
                <div class="carousel-item">
                    <a href="#" class="carousel-link" title="{連結名稱}">
                        <img src="https://placehold.co/1600x800" class="d-block w-100" alt="..." />
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Some representative placeholder content for the third slide.</h5>
                        </div>
                    </a>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselHesp" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselHesp" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
        

        <div class="announcement-wrapper">
            <ul class="menu-item announcement-list">
                <% (1..3).map do |i| %>
                <li class="list-item">
                    <div class="list-hd">
                        <span class="pin"><i class="fas fa-thumbtack"></i></span>
                        <span class="date"><i class="far fa-clock"></i> 2023-10-30</span>
                    </div>
                    <h4><a href="#" class="item-link" title="{連結名稱}"><%= lorem_sentence %></a></h4>
                </li>
                <% end %>
                <% (1..7).map do |i| %>
                <li class="list-item">
                    <div class="list-hd">
                        <span class="date"><i class="far fa-clock"></i> 2023-10-30</span>
                    </div>
                    <h4><a href="#" class="item-link" title="{連結名稱}"><%= lorem_sentence %></a></h4>
                </li>
                <% end %>
            </ul>
            <div class="wrapper-ft">
                <a href="#" class="link-more" title="更多">更多</a>
            </div>
        </div>
        
	</div>
</div>



<% content_for :js do %>

<% end %>

