<!-- template: 計畫網站 - 網站導覽 -->

<nav aria-label="breadcrumb" style="margin-top: -3rem;" class="mb-5">
    <div class="container-lg">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#" title="{連結名稱}">Home</a></li>
            <li class="breadcrumb-item"><a href="#" title="{連結名稱}">Library</a></li>
            <li class="breadcrumb-item active" aria-current="page">Data</li>
        </ol>
    </div>
</nav>

<div class="container-lg">
	<div class="page-content d-block" id="maincontent">
        
        <div class="mb-4">
            <div class="main-container">
                <p>本網站依無障礙網頁設計原則建置，網站的主要內容分為三大區塊：<br>1. 上方功能區塊、2. 中央內容區塊、3.下方功能區塊。
                </p>
                <p>本網站的快速鍵﹝Accesskey﹞設定如下：</p>
                <ul class="menu-item">
                    <li>Alt+U：右上方功能區塊，包括分區連結、網站導覽、網站搜尋等。</li>
                    <li>Alt+C：中央內容區塊，為本頁主要內容區。</li>
                    <li>Alt+S：網站搜尋。</li>
                    <li>Alt+X：下方功能區塊。</li>
                </ul>
                <p>如果您的瀏覽器是Firefox，快速鍵的使用方法是 Shift+Alt+(快速鍵字母)，例如 Shift+Alt+C會跳至網頁中央區塊，以此類推。</p>
            </div>
        </div>

        <ul class="menu-item sitemap-list">
            <li class="mb-1">
                <a href="discussion.html" class="h5" title="{連結名稱}">關於計畫</a>
            </li>
            <li class="mb-1">
                <a href="discussion.html" class="h5" title="{連結名稱}">最新消息</a>
            </li>
            <li class="mb-1">
                <a href="discussion.html" class="h5" title="{連結名稱}">各中心成果與亮點</a>
            </li>
            <li class="mb-1">
                <a href="discussion.html" class="h5" title="{連結名稱}">聯絡我們</a>
            </li>
            <li class="mb-1">
                <a href="discussion.html" class="h5" title="{連結名稱}">相關連結</a>
            </li>
        </ul>
        
	</div>
</div>



<% content_for :js do %>

<% end %>

