<!-- templates: 登入  -->

<div class="container">
    <section class="login-warpper">
		<p class="h4 text-center py-4">登入</p>
        <form>
            <div class="md-form">
                <input type="email" id="materialLoginFormEmail" class="form-control" placeholder="請輸入信箱">
            </div>
            <div class="md-form">
                <input type="password" id="materialLoginFormPassword" class="form-control" placeholder="請輸入密碼">
            </div>
            <div class="text-center py-4">
                <button class="btn btn-outline-primary btn-rounded my-4 waves-effect z-depth-0" type="submit">登入</button>
            </div>
			<p class="text-center"><a href="#" class="forget-password">Forget password?</a></p>
            <p class="register">or sign in with <a href="#">SSO</a></p>
			
			<!-- SSO 登入-->
			<!--p class="text-center"><a class="btn btn-outline-primary btn-rounded my-4 waves-effect z-depth-0" href="#">SSO</a></p-->
        </form>
	</section>
</div>

