<!-- ntu: About the EMBA 關於EMBA -->

<div class="container-lg">
	<div class="main-layout">
		<aside class="emba-aside">
			<%= render :partial => "/partials/accordian_nav" %>
		</aside>
		<main class="emba-main">
		    <h2 class="main-title">About the EMBA</h2>
			<div class="about-wrapper">
				<h4 class="mb-4">NTU EMBA：Diversified integration and integration of international elites to join forces</h4>
				<img class="banner" src="../assets/fake/about_banner.jpg">
				<h5 class="paragraph-title">A learning platform that combines the top faculty of management colleges and departments to gather elites</h5>
				<p>The School of Management of National Taiwan University was the first to develop a typhoon trend. In 1997, the "School of Management Master's Degree Program (EMBA)" was established, combining the five departments of the School of Business, Accounting, Finance, State-owned Enterprises, and Asset Management under the National Taiwan University School of Management. and continue to invite internationally renowned scholars as lecturers.</p>
				<p>In 2010, in response to the international trend, the "National Taiwan University-Fudan EMBA Overseas Special Class" was organized. So far, NTU EMBA has become the pioneer of advanced management education in Taiwan, and it ranks among the leading business schools in the Asia-Pacific region. In addition, in terms of student composition, NTU EMBA has accumulated nearly 4,000 alumni from all walks of life since its establishment; NTU EMBA has become a diverse learning platform that brings together elites from all walks of life.</p>
				<h5 class="paragraph-title">Learner-centred multi-integration</h5>
				<p>NTU EMBA promotes the learner-centered discussion-based case-based teaching method; and continuously trains teachers, enhances cross-disciplinary and distinctive curriculum planning, and cultivates high-level management talents with innovative spirit, forward-looking thinking and social care.</p>
				<p>Starting from high-level management education, NTU EMBA is not just a higher education unit, but a lifelong learning and communication platform that integrates multiple values and provides innovative ideas and entrepreneurial opportunities. Through the EMBA of National Taiwan University, exchange and integration, explore the future, tap potential, and practice social responsibility. After so many years, National Taiwan University EMBA has created countless values, and will continue to work hard to write more exciting chapters and jointly create a future with infinite possibilities!</p>
				<h5 class="paragraph-title">Unanimously praised by senior managers and highly affirmed by international institutions</h5>
				<p>Every year, "Cheers" magazine conducts an evaluation survey on Taiwan's EMBA. National Taiwan University EMBA has repeatedly won the championship of "Top 3000 Enterprise Managers Want to Study EMBA". It ranks first in the evaluation items such as school reputation, previous student quality, and international exchange opportunities. Eduniversal, which is responsible for the global ranking and rating agency of higher education, ranked 6th in the Far East in the 2021 Global EMBA Competition.</p>
				<div class="content-tabs">
                    <ul class="nav nav-tabs" id="aboutTab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="intro-tab" data-bs-toggle="tab" data-bs-target="#intro-tab-pane" type="button" role="tab" aria-controls="intro-tab-pane" aria-selected="true">Introduction to NTU EMBA Studies</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="video-tab" data-bs-toggle="tab" data-bs-target="#video-tab-pane" type="button" role="tab" aria-controls="video-tab-pane" aria-selected="false">EMBA Introduction Video</button>
                        </li>
                    </ul>
                    <div class="tab-content" id="aboutTabContent">
                        <div class="tab-pane fade show active" id="intro-tab-pane" role="tabpanel" aria-labelledby="intro-tab" tabindex="0">
							<div class="mb-4">
						        <h5 class="fw-bold">Business Administration</h5>
								<ul>
								    <li>Established in 1972, the College of Management is the leader of MBA education in Taiwan. This Study offers comprehensive, diversified programs and faculty.</li>
									<li>urtures leaders with innovation and versatility and managers for boundary-crossing and interface-integrating business administration.</li>
									<li>Focuses on holistic education and combination of theory and practice to cultivate a new breed of professional managers. </li>
								</ul>
								<p><a href="#" class="sitelink">Website</a></p>
							</div>
							<div class="mb-4">
						        <h5 class="fw-bold">Accounting and Management Decision-Making</h5>
								<ul>
								    <li>Cultivates leaders for management.</li>
									<li>nhances continuous development for professional accountants</li>
									<li>Expands depth and width of expertise for accountants serving in public and private sectors.</li>
									<li>Focuses on communication skill and interactive behavior trainings for managers.</li>
									<li>Brings industrial practices and academic trainings into synergy.</li>
								</ul>
								<p><a href="#" class="sitelink">Website</a></p>
							</div>
							<div class="mb-4">
						        <h5 class="fw-bold">Finance</h5>
								<ul>
									<li>Develops experts in finance, investment, security, banking, financial engineering, insurance, and real estate.</li>
									<li>ocuses on management and decision-making for finance and emphasizes on financial structure based distribution of organizational resource and sustainable operation.</li>
									<li>Provides rich innovative programs and electives and integrates the latest knowledge in merchandising, marketing, and risk management.</li>
								</ul>
								<p><a href="#" class="sitelink">Website</a></p>
							</div>
							<div class="mb-4">
						        <h5 class="fw-bold">International Business Management</h5>
								<ul>
									<li>Offers programs developed with international aspects in mind and responds to the trend of global economy.</li>
									<li>mphasizes on cross-discipline, horizontal integration focusing on strategic thinking and economic analysis training.</li>
									<li>Aims to facilitate the top entrepreneurs with vision and planning centering on international business administration and development of multi-national integration and adaptation.</li>
								</ul>
								<p><a href="#" class="sitelink">Website</a></p>
							</div>
							<div class="mb-4">
						        <h5 class="fw-bold">Information Management</h5>
								<ul>
									<li>Focuses on developing skills in IT management with research and teaching incorporating comprehensive, strategic thinking.</li>
									<li>mpowers students to possess foundations in both managerial knowledge and information science and technology.</li>
									<li>Teaching and research goal: support organization activities with information technology, enhance efficiency and quality in decision-making and operation through information system development and application, and indirectly advocates full adaptation of information technology among the society.</li>
								</ul>
								<p><a href="#" class="sitelink">Website</a></p>
							</div>
						</div>
						
                        <div class="tab-pane fade" id="video-tab-pane" role="tabpanel" aria-labelledby="video-tab" tabindex="0">
						    <h5 class="fw-bold">Lorem ipsum dolor sit amet</h5>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. </p>
							<div class="video-wrapper">
							    <iframe width="560" height="315" src="https://www.youtube.com/embed/b_4ZTHLvKO8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
							</div>
							<div class="video-wrapper">
							    <iframe width="560" height="315" src="https://www.youtube.com/embed/21X5lGlDOfg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
							</div>
						</div>
                    </div>
				</div>
			</div>
			
			<%= render :partial => "/partials/page_share" %>
		</main>
	</div>
</div>

<% content_for :js do %>

<% end %>

