<!-- ntu: Alumni 校友 -->

<div class="container-lg">
	<div class="main-layout alumni-layout">
		<main class="main">
		    <h2 class="main-title">Alumni Distribution</h2>
			<div class="alumni-wrapper">
				<% (1..5).map do |i| %>
				<div class="alumni-area">
                    <h3>Northern Taiwan</h3>
					<ul class="menu-item">
						<li>
						    <a href="#">
								<span class="company">公司名稱</span>
								<span class="industry">產業別</span>
							</a>
						</li>
						<% (1..6).map do |i| %>
						<li>
						    <a href="#">
								<span class="company"><%= lorem_sentence %></span>
								<span class="industry">Manufacturing</span>
							</a>
						</li>
						<li>
						    <a href="#">
								<span class="company"><%= lorem_sentence %></span>
								<span class="industry">Service industry</span>
							</a>
						</li>
						<li>
						    <a href="#">
								<span class="company"><%= lorem_words(5) %></span>
								<span class="industry">Financial industry</span>
							</a>
						</li>
						<% end %>
					</ul>
				</div>
				<% end %>
			</div>
			<div class="main-bottom">
			    <div class="page-share">
					<span>Share</span>
                    <ul class="menu-item social-media">
						<li>
                            <a href="#" title="Email">
                                <img src="../assets/social/email.png">
                            </a>
                        </li>
                        <li>
                            <a href="#" title="Facebook">
                                <img src="../assets/social/facebook.png">
                            </a>
                        </li>
                        <li>
                            <a href="#" title="Line">
                                <img src="../assets/social/line.png">
                            </a>
                        </li>
                        <li>
                            <a href="#" title="WeChat">
                                <img src="../assets/social/wechat.png">
                            </a>
                        </li>
                        <li>
                            <a href="#" title="weibo">
                                <img src="../assets/social/sina-weibo.png">
                            </a>
                        </li>
                        <li>
                            <a href="#" title="Linkedin">
                                <img src="../assets/social/linkedin.png">
                            </a>
                        </li>
                    </ul>
				</div>
			</div>
		</main>
	</div>
</div>

<% content_for :js do %>

<% end %>

