<!-- ntu: Classrooms 個案教室 -->

<div class="container-lg">
	<div class="main-layout">
		<aside class="emba-aside">
			<%= render :partial => "/partials/accordian_nav" %>
		</aside>
		<main class="emba-main">
		    <h2 class="main-title">Case Classroom</h2>
			
			<div class="classroom-wrapper">
				<div class="room-item">
				    <div class="room-hd">
					    <span class="num">01</span>
						<span class="name">E.Sun Hall</span>
					</div>
					<div class="room-bd">
					    <div class="bd-left">
							<!-- 後台請註明上傳圖片 1200x750 或等比(4:3)) -->
                            <div id="carouselRoomControls_01" class="carousel slide" data-bs-ride="carousel">
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <img src="../assets/fake/room_01.jpg" class="d-block w-100" alt="..." />
                                    </div>
                                    <div class="carousel-item">
                                        <img src="../assets/fake/room_02.jpg" class="d-block w-100" alt="..." />
                                    </div>
                                    <div class="carousel-item">
                                        <img src="../assets/fake/room_03.jpg" class="d-block w-100" alt="..." />
                                    </div>
                                </div>
                                <button class="carousel-control-prev" type="button" data-bs-target="#carouselRoomControls_01" data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Previous</span>
                                </button>
                                <button class="carousel-control-next" type="button" data-bs-target="#carouselRoomControls_01" data-bs-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Next</span>
                                </button>
                            </div>
						</div>
						<div class="bd-right">
						    <p>As NTU College of Management’s first seminar room, “E.Sun Hall” was officially opened in 2006. Donated by E.Sun Bank, E. Sun Hall is the first case classroom in the nation. Located on the 3rd floor of the NTU College of Management building I, the classroom has its design emphasized on the audio-visual requirement of a globe theater like classroom. By offering teachers and learners a space to sufficiently interact with each another, it has created a “learner-centered” learning environment to help participants establishing logic of making a comprehensive decision.</p>
						</div>
					</div>
				</div>
				
				<div class="room-item">
				    <div class="room-hd">
					    <span class="num">02</span>
						<span class="name">Kindom Hall</span>
					</div>
					<div class="room-bd">
					    <div class="bd-left">
							<!-- 後台請註明上傳圖片 1200x750 或等比(4:3)) -->
                            <div id="carouselRoomControls_02" class="carousel slide" data-bs-ride="carousel">
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <img src="../assets/fake/room_01.jpg" class="d-block w-100" alt="..." />
                                    </div>
                                    <div class="carousel-item">
                                        <img src="../assets/fake/room_02.jpg" class="d-block w-100" alt="..." />
                                    </div>
                                    <div class="carousel-item">
                                        <img src="../assets/fake/room_03.jpg" class="d-block w-100" alt="..." />
                                    </div>
                                </div>
                                <button class="carousel-control-prev" type="button" data-bs-target="#carouselRoomControls_02" data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Previous</span>
                                </button>
                                <button class="carousel-control-next" type="button" data-bs-target="#carouselRoomControls_02" data-bs-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Next</span>
                                </button>
                            </div>
						</div>
						<div class="bd-right">
						    <p>NTU College of Management’s second case classroom “Kindom Hall” was officially launched in 2007. Donated by the Chairman of Kindom Construction, Yu-Shan Ma, this brand new case classroom on the 2nd floor of NTU College of Management building I has copied U.S. Harvard Business School’s pattern as a learner-centered platform adopted case teaching methods. </p>
						</div>
					</div>
				</div>
				
				<div class="room-item">
				    <div class="room-hd">
					    <span class="num">03</span>
						<span class="name">Jhong Guang Hall</span>
					</div>
					<div class="room-bd">
					    <div class="bd-left">
							<!-- 後台請註明上傳圖片 1200x750 或等比(4:3)) -->
                            <div id="carouselRoomControls_03" class="carousel slide" data-bs-ride="carousel">
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <img src="../assets/fake/room_01.jpg" class="d-block w-100" alt="..." />
                                    </div>
                                    <div class="carousel-item">
                                        <img src="../assets/fake/room_02.jpg" class="d-block w-100" alt="..." />
                                    </div>
                                    <div class="carousel-item">
                                        <img src="../assets/fake/room_03.jpg" class="d-block w-100" alt="..." />
                                    </div>
                                </div>
                                <button class="carousel-control-prev" type="button" data-bs-target="#carouselRoomControls_03" data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Previous</span>
                                </button>
                                <button class="carousel-control-next" type="button" data-bs-target="#carouselRoomControls_03" data-bs-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Next</span>
                                </button>
                            </div>
						</div>
						<div class="bd-right">
						    <p>Donated by Yu-Mei Chen, the alumnus of NTU EMBA Class 2002 and Taipei city councilor, and Bin-Fu Chen, the student association president of year 2007, NTU College of Management’s third case classroom “Jhong Guang Hall” was officially launched in 2009. She donated in the name of “Chen Jhong Guang Foundation” for remembering her father. To remember her father’s kind actions of giving alms, to actively promote social welfare as well as the athletic and education spirits, to implement his father’s concept of “acquiring the talents and educating them”, Yu-Mei Chen wishes to provide an even more excellent teaching environment to her alma mater in order to cultivate more senior management talents in the country. </p>
						</div>
					</div>
				</div>
			</div>
			
			<%= render :partial => "/partials/page_share" %>
		</main>
	</div>
</div>

<% content_for :js do %>

<% end %>

