<!-- ntu: About the Dean 長官的話 -->

<div class="container-lg">
	<div class="main-layout">
		<aside class="emba-aside">
			<%= render :partial => "/partials/accordian_nav" %>
		</aside>
		<main class="emba-main">
		    <h2 class="main-title">About the Dean</h2>
			<div class="official-wrapper">
				<div class="official-head">
					
					<!-- 為了因應 rwd，頭像上傳除了 img 外，請再用 css inline 寫在 div 裡。後台麻煩註記，長官大頭照請完全參考本範例，正方形不得小於 960 x 960px，頭部上方須留一定比例空白 -->
					<div class="official-photo" style="background-image: url(../assets/photo-dean.jpg);"><img class="mobile-only" src="../assets/photo-dean.jpg"></div>
					
				    <div class="official-intro">
					    <span class="official-position">Dean of College of Management</span>
						<h3>Dr. Shing-yang Hu</h3>
						<ul class="menu-item">
						    <li>Twelfth and Thirteenth Deans (from August 2019)</li>
							<li>Professor, Department of Finance, NTU</li>
							<li>Business Administration, National Taiwan University</li>
							<li>Economics, National Taiwan University</li>
							<li>Ph.D., Univ. of Rochester</li>
						</ul>
						<p class="mb-0">
							<i class="fas fa-globe-americas"></i>
							<a class="official-site" href="#">Website</a>
						</p>
					</div>
				</div>
				<div class="official-body">
                    <p>Choosing to join the NTU EMBA is to look forward to "change". Although everyone has different motivations and directions for change, before making changes, be sure to return to zero, let go of all achievements, remove the burden of the halo, and re-learn the original intention and body and mind of learning Only by returning to the campus in a balanced way, and regaining the classroom life with teachers and classmates, can the precipitation and tempering be obtained here, and insight can be generated.</p>
                    <p>The ancients said: "The unity of knowledge and action is to learn, to practice with time as a teacher, and to seek action and time in harmony." Learning and practicing with time have become the cornerstone of restarting learning. Through the study of EMBA, theory and practice are integrated into one; the practical social environment is complex, and academic theory helps to summarize and understand these complex situations, grasp current trends, and construct a blueprint for the future.</p>
                    <p>NTU EMBA provides a variety of learning opportunities. We need to let go of our prejudices and burdens, learn the breadth and depth of multi-faceted thinking, and internalize and integrate ourselves, temper multiple forces, and finally put them into action to achieve change.</p>
                    <p>In the past two years, we have faced the most serious epidemic crisis in the world together. In response to the severe situation, we have changed our curriculum planning and learning methods. With the assistance of the campus's rich software and hardware resources, we allow students to take classes in the cloud or in the real world, and complete them conscientiously. Learn, connect and grow.</p>
                    <p>National Taiwan University EMBA students have an international background, with a wide range of industries. Political and business circles with different cultural backgrounds and industry backgrounds gather together. In the future, we will strive for more academic resources and shoulder social responsibilities together. Let us uphold this "restart" and "start again" ” spirit, and move forward together to face severe challenges.</p>
				</div>
			</div>
			
			<%= render :partial => "/partials/page_share" %>
		</main>
	</div>
</div>

<% content_for :js do %>

<% end %>

