<!-- ntu: Faculty 師資 -->

<div class="container-lg">
	<div class="main-layout">
		<aside class="emba-aside">
			<%= render :partial => "/partials/accordian_nav" %>
		</aside>
		<main class="emba-main">
		    <h2 class="main-title">EMBA Faculty</h2>
			
			<div class="faculty-wrapper">
				<div class="select-year">
				    <span class="me-3">Choose year</span>
					<span>
                        <select class="form-select" aria-label="Default select example">
                            <option value="2021">2021</option>
                            <option value="2020">2020</option>
                            <option value="2019">2019</option>
                        </select>
					</span>
				</div>
				<div class="faculty-group">
				    <h4 class="group-title">Business Administration</h4>
					<ul class="menu-item faculty-list">
						<% (1..2).map do |i| %>
					    <li>
							<div class="faculty-item">
                                <img class="photo" src="http://placekitten.com/512/512">
                                <div class="bd">
                                    <h5 class="teacher"><a href="#" title="More information">Ruey-Shan Guo</a></h5>
                                    <span class="job-title">Professor</span>
                                    <p class="courses">Service and Operations Management / Entrepreneurship and Innovation Management</p>
                                </div>
							</div>
						</li>
						<li>
							<div class="faculty-item">
                                <img class="photo" src="http://placekitten.com/256/256">
                                <div class="bd">
                                    <h5 class="teacher"><a href="#" title="More information">Chun-Yao Huang</a></h5>
                                    <span class="job-title">Professor</span>
                                    <p class="courses">Marketing Management and Customer Analysis / Mnaging Businesses in the Digital Era</p>
                                </div>
							</div>
						</li>
						<li>
							<div class="faculty-item">
                                <img class="photo" src="http://placekitten.com/800/800">
                                <div class="bd">
                                    <h5 class="teacher"><a href="#" title="More information">Jiun-Yu Yu</a></h5>
                                    <span class="job-title">Professor</span>
                                    <p class="courses">Business Decision Making</p>
                                </div>
							</div>
						</li>
						<li>
							<div class="faculty-item">
                                <img class="photo" src="http://placekitten.com/960/960">
                                <div class="bd">
                                    <h5 class="teacher"><a href="#" title="More information">Wen-yi Chu</a></h5>
                                    <span class="job-title">Associate Professor</span>
                                    <p class="courses">Strategic Management</p>
                                </div>
							</div>
						</li>
						<li>
							<div class="faculty-item">
                                <img class="photo" src="http://placekitten.com/1024/1024">
                                <div class="bd">
                                    <h5 class="teacher"><a href="#" title="More information">Bou-Wen Lin</a></h5>
                                    <span class="job-title">Professor</span>
                                    <p class="courses">Technology Innovation and Business Strategy</p>
                                </div>
							</div>
						</li>
						<% end %>
					</ul>
				</div>
				<div class="faculty-group">
				    <h4 class="group-title">Accounting and Management Decision-Making</h4>
					<ul class="menu-item faculty-list">
						<% (1..2).map do |i| %>
						<li>
							<div class="faculty-item">
                                <img class="photo" src="http://placekitten.com/800/800">
                                <div class="bd">
                                    <h5 class="teacher"><a href="#" title="More information">Jiun-Yu Yu</a></h5>
                                    <span class="job-title">Professor</span>
                                    <p class="courses">Business Decision Making</p>
                                </div>
							</div>
						</li>
						<li>
							<div class="faculty-item">
                                <img class="photo" src="http://placekitten.com/256/256">
                                <div class="bd">
                                    <h5 class="teacher"><a href="#" title="More information">Chun-Yao Huang</a></h5>
                                    <span class="job-title">Professor</span>
                                    <p class="courses">Marketing Management and Customer Analysis / Mnaging Businesses in the Digital Era</p>
                                </div>
							</div>
						</li>
						<li>
							<div class="faculty-item">
                                <img class="photo" src="http://placekitten.com/960/960">
                                <div class="bd">
                                    <h5 class="teacher"><a href="#" title="More information">Wen-yi Chu</a></h5>
                                    <span class="job-title">Associate Professor</span>
                                    <p class="courses">Strategic Management</p>
                                </div>
							</div>
						</li>
						<% end %>
						<li>
							<div class="faculty-item">
                                <img class="photo" src="http://placekitten.com/1024/1024">
                                <div class="bd">
                                    <h5 class="teacher"><a href="#" title="More information">Bou-Wen Lin</a></h5>
                                    <span class="job-title">Professor</span>
                                    <p class="courses">Technology Innovation and Business Strategy</p>
                                </div>
							</div>
						</li>
					</ul>
				</div>
				<div class="faculty-group">
				    <h4 class="group-title">Finance</h4>
					<ul class="menu-item faculty-list">
						<% (1..2).map do |i| %>
						<li>
							<div class="faculty-item">
                                <img class="photo" src="http://placekitten.com/800/800">
                                <div class="bd">
                                    <h5 class="teacher"><a href="#" title="More information">Pai-Ta Shih</a></h5>
                                    <span class="job-title">Professor</span>
                                    <p class="courses">Issues in Finance</p>
                                </div>
							</div>
						</li>
						<li>
							<div class="faculty-item">
                                <img class="photo" src="http://placekitten.com/256/256">
                                <div class="bd">
                                    <h5 class="teacher"><a href="#" title="More information">Keng-Yu Ho</a></h5>
                                    <span class="job-title">Professor</span>
                                    <p class="courses">Financial Markets and Investments / Financial Management</p>
                                </div>
							</div>
						</li>
						<li>
							<div class="faculty-item">
                                <img class="photo" src="http://placekitten.com/960/960">
                                <div class="bd">
                                    <h5 class="teacher"><a href="#" title="More information">Tsun-Siou Lee</a></h5>
                                    <span class="job-title">Professor</span>
                                    <p class="courses">Financial Market of Mainland China / Financial Markets and Investments / Corporate Governance and Business Development / Financial Management / Issues in Finance</p>
                                </div>
							</div>
						</li>
						<li>
							<div class="faculty-item">
                                <img class="photo" src="http://placekitten.com/256/256">
                                <div class="bd">
                                    <h5 class="teacher"><a href="#" title="More information">Chun-Yao Huang</a></h5>
                                    <span class="job-title">Professor</span>
                                    <p class="courses">Financial Market of Mainland China / Financial Markets and Investments / Financial Management</p>
                                </div>
							</div>
						</li>
						<li>
							<div class="faculty-item">
                                <img class="photo" src="http://placekitten.com/256/256">
                                <div class="bd">
                                    <h5 class="teacher"><a href="#" title="More information">Chun-Yao Huang</a></h5>
                                    <span class="job-title">adjunct Professor</span>
                                    <p class="courses">Financial Management</p>
                                </div>
							</div>
						</li>
						<% end %>
						<li>
							<div class="faculty-item">
                                <img class="photo" src="http://placekitten.com/256/256">
                                <div class="bd">
                                    <h5 class="teacher"><a href="#" title="More information">Chun-Yao Huang</a></h5>
                                    <span class="job-title">Professor</span>
                                    <p class="courses">Challenges in Global Economy – the Business Portfolio Perspective</p>
                                </div>
							</div>
						</li>
					</ul>
				</div>
				
				<!-- 以下省略 -->
			</div>
			
			<%= render :partial => "/partials/page_share" %>
		</main>
	</div>
</div>

<% content_for :js do %>

<% end %>

