<!-- ntu: History 大事紀 -->

<div class="container-lg">
	<div class="main-layout">
		<aside class="emba-aside">
			<%= render :partial => "/partials/accordian_nav" %>
		</aside>
		<main class="emba-main">
		    <h2 class="main-title">EMBA Milestones</h2>
			<div class="history-wrapper">
				<div class="wrapper-inner">
                    <div class="year-block">
                        <h3 class="year-pill">2021</h3>
                        <ul class="menu-item month-wrap">
                            <li class="month-item">
                                <span class="hd">March</span>
                                <ul class="menu-item event-wrap">
                                    <li class="event-item"><a href="#">2021 NTU EMBA O-Camp</a></li>
                                </ul>
                            </li>
                            <li class="month-item">
                                <span class="hd">May</span>
                                <ul class="menu-item event-wrap">
                                    <li class="event-item">Due to the severe Covid-19 epidemic, the 109-2 will be taught remotely</li>
                                </ul>
                            </li>
                            <li class="month-item">
                                <span class="hd">June</span>
                                <ul class="menu-item event-wrap">
                                    <li class="event-item"><a href="#">The 17th Student Union launched the "Send Love Meal to NTU Hospital" activity, and received many voluntary acts of love and charity to help the society</a></li>
                                    <li class="event-item">Due to the impact of the Covid-19 epidemic, the summer semester of the 110 academic year is closed</li>
                                    <li class="event-item">NTU-Fudan EMBA overseas program " has been extended to 10/1</li>
                                    <li class="event-item"><a href="#">Senior Liu Shangming (level 109) was elected as the 18th student council president</a></li>
                                    <li class="event-item"><a href="#">"NTU EMBA Leaders Lecture" on "New Thinking in Sports Industry Management"</a></li>
                                </ul>
                            </li>
							<li class="month-item">
                                <span class="hd">September</span>
                                <ul class="menu-item event-wrap">
                                    <li class="event-item">In response to the epidemic prevention policy, the EMBA 111 academic year of NTU will conduct an open enrollment activity for the first time in an audio-visual mode</li>
                                </ul>
                            </li>
							<li class="month-item">
                                <span class="hd">December</span>
                                <ul class="menu-item event-wrap">
                                    <li class="event-item">The chairman of the 20th Alumni Foundation Bo-lin Xiao (level 105) led the team to take office</li>
                                </ul>
                            </li>
                        </ul>
                    </div>
					<div class="year-block">
                        <h3 class="year-pill">2020</h3>
                        <ul class="menu-item month-wrap">
                            <li class="month-item">
                                <span class="hd">January</span>
                                <ul class="menu-item event-wrap">
                                    <li class="event-item"><a href="#">"Softball Club" opening season event: Invitational Tournament of the Champions League, Ending Ceremony and President Handover Ceremony</a></li>
									<li class="event-item"><a href="#">For the first time, "Student Union" and "Alibaba" jointly held the "5th Campus Cross-border E-commerce Competition - Taipei Station Semi-finals"</a></li>
									<li class="event-item"><a href="#">The first preparatory meeting of "NTU-Fudan Society"</a></li>
                                </ul>
                            </li>
							<li class="month-item">
                                <span class="hd">February</span>
                                <ul class="menu-item event-wrap">
                                    <li class="event-item">In response to the development of the epidemic, the EMBA of NTU has been postponed to 2/17</li>
                                </ul>
                            </li>
							<li class="month-item">
                                <span class="hd">March</span>
                                <ul class="menu-item event-wrap">
                                    <li class="event-item"><a href="#">The second preparatory meeting of the NTU Fudan Society</a></li>
									<li class="event-item">"Alumni Foundation + Student Union" jointly held special sales and gratitude message activities such as "E-Starting to Survive the Anti-epidemic Difficulty" and "A4 Medical Care Praise"</li>
									<li class="event-item"><a href="#">"Asset Management Society" ITxM Summit Forum: "Post-epidemic Era - Technology Trends and Industry Business Opportunities"</a></li>
									<li class="event-item"><a href="#">National EMBA Campus Marathon Relay Competition</a></li>
                                </ul>
                            </li>
							<li class="month-item">
                                <span class="hd">December</span>
                                <ul class="menu-item event-wrap">
                                    <li class="event-item"><a href="#">NTU EMBA 2020 Freshman Entrance Ceremony First Class 4 Freshmen Gathered Together</a></li>
									<li class="event-item"><a href="#">E to travel! 2020 NTU EMBA 9th Campus Marathon is very different this year!</a></li>
									<li class="event-item"><a href="#">"Alumni Mutual Aid Welfare Society" "A Photo Album. A Green Seed" Seeing the Beautiful Taiwan Again</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
				</div>
			</div>
			<div class="main-bottom">
			    <div class="page-share">
					<span>Share</span>
                    <ul class="menu-item social-media">
						<li>
                            <a href="#" title="Email">
                                <img src="../assets/social/email.png">
                            </a>
                        </li>
                        <li>
                            <a href="#" title="Facebook">
                                <img src="../assets/social/facebook.png">
                            </a>
                        </li>
                        <li>
                            <a href="#" title="Line">
                                <img src="../assets/social/line.png">
                            </a>
                        </li>
                        <li>
                            <a href="#" title="WeChat">
                                <img src="../assets/social/wechat.png">
                            </a>
                        </li>
                        <li>
                            <a href="#" title="weibo">
                                <img src="../assets/social/sina-weibo.png">
                            </a>
                        </li>
                        <li>
                            <a href="#" title="Linkedin">
                                <img src="../assets/social/linkedin.png">
                            </a>
                        </li>
                    </ul>
				</div>
			</div>
		</main>
	</div>
</div>

<% content_for :js do %>

<% end %>

