<!-- ntu: Home 首頁 -->

<div class="container-lg">
	<div class="main-carousel">
        <div id="carouselEMBAIndicators" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="10000">
                    <div class="item-inner">
                        <div class="item-photo">
                            <img src="../assets/fake/carousel-1.jpg" alt="..." />
                        </div>
                        <div class="item-text">
                            <h4>NTU EMBA ranked No. 1 in Cheers Magazine's EMBA Evaluation Survey of Top 3000 Corporate Executives</h4>
                            <p>2021 EMBA Evaluation Survey of 3000 Large Enterprise Managers.</p>
                            <a href="#" class="readmore">Readmore <i class="fas fa-angle-double-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="carousel-item" data-bs-interval="10000">
                    <div class="item-inner">
                        <div class="item-photo">
                            <img src="../assets/fake/carousel-2.jpg" alt="..." />
                        </div>
                        <div class="item-text">
                            <h4>NTU EMBA ranked No. 4 for Eduniversal Masters Ranking of 2017</h4>
                            <p>The Executive MBA encompasses all the necessary requirements for any directive position in a company.</p>
                            <a href="#" class="readmore">Readmore <i class="fas fa-angle-double-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="carousel-item" data-bs-interval="10000">
                    <div class="item-inner">
                        <div class="item-photo">
                            <img src="../assets/fake/carousel-3.jpg" alt="..." />
                        </div>
                        <div class="item-text">
                            <h4>For the 7th time, NTU EMBA ranked top choice for the top 3000 corporate managers</h4>
                            <p>The 2020 EMBA Orientation was held on 15th, December, 2019. News</p>
                            <a href="#" class="readmore">Readmore <i class="fas fa-angle-double-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselEMBAIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselEMBAIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselEMBAIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
        </div>
	</div>
	<div class="main-news">
		<h3 class="area-title">News</h3>
		<div class="news-inner">
			<div class="news-wrap">
				<!-- 一欄三則 -->
                <ul class="menu-item">
                    <li>
                        <span class="date">2022-05-11</span>
                        <a class="news-link" href="#">EMBA Report-BBC NEWS - A Reluctant Family Successor: Joyce Chou’s Turn-around</a>
                    </li>
                    <li>
                        <span class="date">2022-05-09</span>
                        <a class="news-link" href="#">College of Mgmt. on AACSB Renew Review, May 17 – 19</a>
                    </li>
                    <li>
                        <span class="date">2022-05-02</span>
                        <a class="news-link" href="#">EMBA Bulletin - We Need Your Recommendation: The 4th NTU-Fudan EMBA Joint Program has Started to Recruit New Students!</a>
                    </li>
                </ul>
			</div>
			<div class="news-wrap">
				<!-- 一欄三則 -->
                <ul class="menu-item">
                    <li>
                        <span class="date">2022-04-28</span>
                        <a class="news-link" href="#">[Student Association Activity] Public announcement of the 10th EMBA Student Association President Election result</a>
                    </li>
                    <li>
                        <span class="date">2022-04-17</span>
                        <a class="news-link" href="#">[2019 EMBA Graduation Ceremony] A transboundary learning platform, with a spirit of multi-social integration and innovation</a>
                    </li>
                    <li>
                        <span class="date">2022-04-05</span>
                        <a class="news-link" href="#">NTU EMBA's participation in the 3rd “Entrepreneurship and Succession” presentation- A journey full of trans-boundary rewards, inheritance of innovation and entrepreneurship. </a>
                    </li>
                </ul>
				<a href="#" class="more-plus">more <i class="fas fa-plus"></i></a>
			</div>
		</div>
	</div>
	<div class="main-promo">
		<div class="promo-inner">
            <div class="promo-item">
                <a href="#" class="promo-link">
                    <!-- 後台上稿請註明圖片尺寸為 800x450 或等比 -->
                    <span class="promo-img">
                        <img src="../assets/fake/promo-1.jpg" alt="..." />
                    </span>
                    <h4>Student Profile</h4>
                    <p>The whole program on a glance! Key numbers on students</p>
                </a>
            </div>
            <div class="promo-item">
                <a href="#" class="promo-link">
                    <span class="promo-img">
                        <img src="../assets/fake/promo-2.jpg" alt="..." />
                    </span>
                    <h4>EMBA Faculty</h4>
                    <p>There are related introductions about NTU EMBA faculty</p>
                </a>
            </div>
            <div class="promo-item">
                <a href="#" class="promo-link">
                    <span class="promo-img">
                        <img src="../assets/fake/promo-3.jpg" alt="..." />
                    </span>
                    <h4>NTU EMBA master's program</h4>
                    <p>Find out how Global MBA Program trains you to become an intern</p>
                </a>
            </div>
            <div class="promo-item">
                <a href="#" class="promo-link">
                    <span class="promo-img">
                        <img src="../assets/fake/promo-4.jpg" alt="..." />
                    </span>
                    <h4>NTU Fudan EMBA overseas </h4>
                    <p>NTU-Fudan EMBA overseas program opens doors to the business community in Taiwan</p>
                </a>
            </div>
            <div class="promo-item">
                <a href="#" class="promo-link">
                    <span class="promo-img">
                        <img src="../assets/fake/promo-5.jpg" alt="..." />
                    </span>
                    <h4>Homecoming week</h4>
                    <p>NTU EMBA is a big family.  Up to now, we already have more than 5,000 Alumn! </p>
                </a>
            </div>
            <div class="promo-item">
                <a href="#" class="promo-link">
                    <span class="promo-img">
                        <img src="../assets/fake/promo-6.jpg" alt="..." />
                    </span>
                    <h4>Campus Life</h4>
                    <p>Discover what Global MBA Students are doing outside of the class</p>
                </a>
            </div>
		</div>
	</div>
</div>
	
<div class="main-enrolled">
    <div class="container-lg">
		<h3 class="enrolled-title">Students enrolled In the EMBA</h3>
	    <div class="enrolled-inner">
            <div class="doughnut-wrap">
                <h5 class="wrap-title">NTU EMBA master’s program</h5>
                <div class="doughnut-inner">
                    <canvas id="embaChart"></canvas>
                </div>
            </div>
            <div class="doughnut-wrap">
                <h5 class="wrap-title">NTU-Fudan EMBA overseas program</h5>
                <div class="doughnut-inner">
                    <canvas id="fudanChart"></canvas>
                </div>
            </div>
		</div>
	</div>
</div>


<% content_for :js do %>

    <!-- Chart.js -->
    <script src="../javascripts/chart.js"></script>
    <script src="../javascripts/chartjs-plugin-deferred.min.js"></script>
    <script>
        // 註冊 chart 滾動顯示
        Chart.register(ChartDeferred);

        const data1 = {
            // 標題
            labels: ['Technology Manufacturing', 'science and technology service', 'Finance and Insurance Industry', 'Government Organization & Culture and Education', 'Biotechnology industry', 'General Manufacturing', 'General service industry', 'Professional Services', 'Cultural and Creative Industries', 'something else'],
            datasets: [{
                // 標籤
                label: 'NTU EMBA master’s program',
                // 資料
                data: [22.0, 17.7, 14.0, 1.2, 12.8, 7.9, 7.3, 4.9, 5.5, 6.7],
                // 圖表背景色
                backgroundColor: [
                    'rgba(255, 180, 0)',
                    'rgba(210, 152, 13)',
                    'rgba(165, 124, 27)',
                    'rgba(120, 96, 40)',
                    'rgba(54, 52, 69)',
                    'rgba(72, 68, 110)',
					'rgba(94, 86, 155)',
                    'rgba(119, 107, 205)',
                    'rgba(144, 128, 255)',
                    'rgba(198, 156, 249)'
                ],
				borderColor: 'rgba(0, 0, 0, 0)',
            }]
        };

        const config1 = {
            type: 'doughnut',
            data: data1,
            options: {
                // 符合響應式
                responsive: true,
				// labels 字體顏色
				color: 'rgba(255, 255, 255, .7)',
                plugins: {
                    // 圖例
                    legend: {
                        position: 'right',
                    },
                    // 滾動顯示參數 
                    // 因上面已註冊事件 所以這邊移除一樣會滾到才顯示 可以調整參數
                    deferred: {
                        yOffset: '50%', // defer until 50% of the canvas height are inside the viewport
                        delay: 100      // delay of 500 ms after the canvas is considered inside the viewport
                    }
                }
            },
        };
		const data2 = {
            // 標題
            labels: ['Technology Manufacturing', 'science and technology service', 'Finance and Insurance Industry', 'Government Organization & Culture and Education', 'Biotechnology industry', 'General Manufacturing', 'General service industry', 'Professional Services'],
            datasets: [{
                // 標籤
                label: 'NTU-Fudan EMBA overseas program',
                // 資料
                data: [20.0, 23.3, 6.7, 10.0, 10.0, 16.7, 6.7, 6.6],
                // 圖表背景色
                backgroundColor: [
                    'rgba(255, 180, 0)',
                    'rgba(210, 152, 13)',
                    'rgba(165, 124, 27)',
                    'rgba(120, 96, 40)',
                    'rgba(54, 52, 69)',
                    'rgba(72, 68, 110)',
					'rgba(94, 86, 155)',
                    'rgba(119, 107, 205)'
                ],
				borderColor: 'rgba(0, 0, 0, 0)',
            }]
        };

        const config2 = {
            type: 'doughnut',
            data: data2,
            options: {
                // 符合響應式
                responsive: true,
				// labels 字體顏色
				color: 'rgba(255, 255, 255, .7)',
                plugins: {
                    // 圖例
                    legend: {
                        position: 'right',
                    },
                    // 滾動顯示參數 
                    // 因上面已註冊事件 所以這邊移除一樣會滾到才顯示 可以調整參數
                    deferred: {
                        yOffset: '50%', // defer until 50% of the canvas height are inside the viewport
                        delay: 100      // delay of 500 ms after the canvas is considered inside the viewport
                    }
                }
            },
        };
        new Chart(
            document.getElementById('embaChart'),
            config1
        );
        new Chart(
            document.getElementById('fudanChart'),
            config2
        );
    </script>
<% end %>

