<!-- ntu: News / Article list -->

<div class="container-lg">
	<div class="main-layout">
		<aside class="emba-aside">
			<%= render :partial => "/partials/accordian_nav" %>
		</aside>
		<main class="emba-main">
		    <h2 class="main-title">Great news</h2>
			<div class="news-wrapper">
                <ul class="menu-item news-list">
                    <li>
                        <span class="date">2022-05-11</span>
                        <a class="news-link" href="#">EMBA Report-BBC NEWS - A Reluctant Family Successor: Joyce Chou’s Turn-around</a>
                    </li>
                    <li>
                        <span class="date">2022-05-09</span>
                        <a class="news-link" href="#">College of Mgmt. on AACSB Renew Review, May 17 – 19</a>
                    </li>
                    <li>
                        <span class="date">2022-05-02</span>
                        <a class="news-link" href="#">EMBA Bulletin - We Need Your Recommendation: The 4th NTU-Fudan EMBA Joint Program has Started to Recruit New Students!</a>
                    </li>
					<li>
                        <span class="date">2022-04-28</span>
                        <a class="news-link" href="#">[Student Association Activity] Public announcement of the 10th EMBA Student Association President Election result</a>
                    </li>
					<li>
                        <span class="date">2022-04-17</span>
                        <a class="news-link" href="#">[2019 EMBA Graduation Ceremony] A transboundary learning platform, with a spirit of multi-social integration and innovation</a>
                    </li>
					<li>
                        <span class="date">2022-04-05</span>
                        <a class="news-link" href="#">NTU EMBA's participation in the 3rd “Entrepreneurship and Succession” presentation- A journey full of trans-boundary rewards, inheritance of innovation and entrepreneurship. </a>
                    </li>
					<li>
                        <span class="date">2022-05-11</span>
                        <a class="news-link" href="#">EMBA Report-BBC NEWS - A Reluctant Family Successor: Joyce Chou’s Turn-around</a>
                    </li>
                    <li>
                        <span class="date">2022-05-09</span>
                        <a class="news-link" href="#">College of Mgmt. on AACSB Renew Review, May 17 – 19</a>
                    </li>
                </ul>
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-end">
                        <li class="page-item disabled">
                            <a class="page-link">Previous</a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#">Next</a>
                        </li>
                    </ul>
                </nav>
			</div>
			
			<%= render :partial => "/partials/page_share" %>
		</main>
	</div>
</div>

<% content_for :js do %>

<% end %>

