<footer class="footer">
	<div class="container-lg">
		<div class="footer-inner">
			<h5>
				英語培力研究院籌備處
				<small>Academy of English Empowerment</small>
			</h5>
            <ul class="menu-item contact-group">
                <li>
                    <h6>王小姐 Ms. Wang</h6>
                    <a href="mailto:aee@gms.ndhu.edu.tw">
                        <i class="far fa-envelope"></i>
                        aee@gms.ndhu.edu.tw
                    </a>
                </li>
				<li>
                    <h6>徐小姐 Ms. Hsu</h6>
                    <a href="mailto:aeecd@gms.ndhu.edu.tw">
                        <i class="far fa-envelope"></i>
                        aeecd@gms.ndhu.edu.tw
                    </a>
                </li>
				<li>
                    <h6>蔡小姐 Ms. Tsai</h6>
                    <a href="mailto:aeepd@gms.ndhu.edu.tw">
                        <i class="far fa-envelope"></i>
                        aeepd@gms.ndhu.edu.tw
                    </a>
                </li>
            </ul>
            <ul class="menu-item contact">
                <li>
                    <i class="fas fa-phone-alt"></i>
                    +886-3-8905906
                </li>
                <li>
                    <i class="fas fa-map-marker-alt"></i>
                    理工二館E403室
                </li>
            </ul>
		</div>
	</div>
</footer>