<!-- 學院 -->

<div class="college-wrapper">
    <div class="banner motor"></div>
    <!--div class="banner engineering"></div-->
    <!--div class="banner management"></div-->
    <!--div class="banner as"></div-->
    <div class="container">
        <%= render :partial => "/partials/college_nab" %>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">電機資訊學院</li>
            <li class="breadcrumb-item active">電機工程系</li>
        </ol>
    </div>
    <main>
        <div class="container">
            <div class="row">
                <div class="col-3">
                    <div id="mdb-scrollspy" class="list-group sticky">
                        <ul class="nav nav-pills default-pills smooth-scroll">
                            <li class="nav-item"><a class="nav-link" href="#section1">教育目標</a></li>
                            <li class="nav-item"><a class="nav-link" href="#section2">核心能力</a></li>
                            <li class="nav-item"><a class="nav-link" href="#section3">院系教育指標對應</a></li>
                            <li class="nav-item"><a class="nav-link" href="#section4">校系教育目標對應</a></li>
                            <li class="nav-item"><a class="nav-link" href="#section5">核心能力與UCAN職能對應</a></li>
                            <li class="nav-item"><a class="nav-link" href="#section6">目標人才與職業對應</a></li>
                            <li class="nav-item animsition-link"><a class="nav-link" href="course_profession.html">課程與能力指標對應<i class="fa fa-external-link" aria-hidden="true"></i></a></li>
                            <li class="nav-item animsition-link"><a class="nav-link" href="course_standard.html">課程標準<i class="fa fa-external-link" aria-hidden="true"></i></a></li>
                            <li class="nav-item animsition-link"><a class="nav-link" href="course_map">課程地圖<i class="fa fa-external-link" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div data-spy="scroll" data-target="#mdb-scrollspy" data-offset="0">
                        <section id="section1" class="college-section">
                            <h3>教育目標</h3>
                            <ul class="items">
                                <li class="row">
                                    <div class="col-6 des-list text-right">奠定堅實電機工程理論基礎與實務技術</div>
                                    <div class="col-6 cor-list">數位內容開發與管理人才</div>
                                </li>
                                <li class="row">
                                    <div class="col-6 des-list text-right">培育人文素養與前瞻視野並善盡社會責任</div>
                                    <div class="col-6 cor-list">數位內容開發與管理人才</div>
                                </li>
                            </ul>
                        </section>
                        <section id="section2" class="college-section">
                            <h3>核心能力</h3>
                            <ul class="items">
                                <li class="row">
                                    <div class="col-6 des-list text-right">能運用電腦及儀器設計電路、執行實驗並解析實驗數據</div>
                                    <div class="col-6 cor-list">能運用電腦及儀器設計電路、執行實驗並解析實驗數據</div>
                                </li>
                                <li class="row">
                                    <div class="col-6 des-list text-right">具備軟、硬體應用能力，結合感測與驅動硬體電路，以完成特定功能的模組設計</div>
                                    <div class="col-6 cor-list">具備軟、硬體應用能力，結合感測與驅動硬體電路，以完成特定功能的模組設計</div>
                                </li>
                                <li class="row">
                                    <div class="col-6 des-list text-right">具備電機工程專業知識</div>
                                    <div class="col-6 cor-list">具備電機工程專業知識</div>
                                </li>
                                <li class="row">
                                    <div class="col-6 des-list text-right">具備團隊合作的精神和溝通協調的能力 以完成特定功能的模組設計</div>
                                    <div class="col-6 cor-list">具備團隊合作的精神和溝通協調的能力 以完成特定功能的模組設計</div>
                                </li>
                                <li class="row">
                                    <div class="col-6 des-list text-right">能關心時事、了解電機工程技術對於社會與環境的影響，建立經常學習的觀念，以持續吸取新知</div>
                                    <div class="col-6 cor-list">能關心時事、了解電機工程技術對於社會與環境的影響，建立經常學習的觀念，以持續吸取新知</div>
                                </li>
                                <li class="row">
                                    <div class="col-6 des-list text-right">理解專業倫理及社會責任</div>
                                    <div class="col-6 cor-list">理解專業倫理及社會責任</div>
                                </li>
                                <li class="row">
                                    <div class="col-6 des-list text-right">能關心時事、了解電機工程技術對於社會與環境的影響， 建立經常學習的觀念，以持續吸取新知</div>
                                    <div class="col-6 cor-list">能關心時事、了解電機工程技術對於社會與環境的影響， 建立經常學習的觀念，以持續吸取新知</div>
                                </li>
                                <li class="row">
                                    <div class="col-6 des-list text-right">理解專業倫理及社會責任</div>
                                    <div class="col-6 cor-list">理解專業倫理及社會責任</div>
                                </li>
                            </ul>
                        </section>
                        <section id="section3" class="college-section">
                            <h3>院系教育指標對應</h3>
                            <ul class="items">
                                <li class="row">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th class="text-right"><div class="des-list clean">系 / 院教育目標</div></th>
                                                <th class="null"></th>
                                                <th>瞭解現代生活的意義及趨勢</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th class="text-right"><div class="des-list">軟體開發及程式設計人才</div></th>
                                                <td class="null"></td>
                                                <td><i class="fa fa-check" aria-hidden="true"></i></td>
                                            </tr>
                                            <tr>
                                                <th class="text-right"><div class="des-list">數位內容開發與管理人才</div></th>
                                                <td class="null"></td>
                                                <td><i class="fa fa-check" aria-hidden="true"></i></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </li>
                            </ul>
                        </section>
                        <section id="section4" class="college-section">
                            <h3>校系教育目標對應</h3>
                            <ul class="items">
                                <li class="row">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th class="text-right"><div class="des-list clean">系教育目標 / 校教育目標</div></th>
                                                <th class="null"></th>
                                                <th>誠</th>
                                                <th>正</th>
                                                <th>精</th>
                                                <th>勤</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th class="text-right"><div class="des-list">軟體開發及程式設計人才</div></th>
                                                <td class="null"></td>
                                                <td><i class="fa fa-check" aria-hidden="true"></i></td>
                                                <td><i class="fa fa-check" aria-hidden="true"></i></td>
                                                <td><i class="fa fa-check" aria-hidden="true"></i></td>
                                                <td><i class="fa fa-check" aria-hidden="true"></i></td>
                                            </tr>
                                            <tr>
                                                <th class="text-right"><div class="des-list">軟體開發及程式設計人才</div></th>
                                                <td class="null"></td>
                                                <td><i class="fa fa-check" aria-hidden="true"></i></td>
                                                <td><i class="fa fa-check" aria-hidden="true"></i></td>
                                                <td><i class="fa fa-check" aria-hidden="true"></i></td>
                                                <td><i class="fa fa-check" aria-hidden="true"></i></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </li>
                            </ul>
                        </section>
                        <section id="section5" class="college-section">
                            <h3>核心能力與UCAN職能對應</h3>
                            <ul class="nav nav-pills section-tabs" id="pills-tab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="pills-professional-tab" data-toggle="pill" href="#pills-professional" role="tab" aria-controls="pills-professional" aria-selected="true">專業職能</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="pills-common-tab" data-toggle="pill" href="#pills-common" role="tab" aria-controls="pills-common" aria-selected="false">共通職能</a>
                                </li>
                            </ul>
                            <div class="tab-content" id="pills-tabContent">
                                <div class="tab-pane fade show active" id="pills-professional" role="tabpanel" aria-labelledby="pills-professional-tab">
                                    <div class="well">
                                        <h4>文字代號說明</h4>
                                        <ol>
                                            <li>應用工程實務的專業知識，將研發成果落實於產品之生產及製造上。</li>
                                            <li>瞭解工程以及技術研發流程中所需的相關基本概念和步驟。</li>
                                            <li>在製造流程中執行持續改善的程序，以維持品質</li>
                                            <li>改善生產流程，以達成生產目標，並且符合顧客的要求和產品的標準。</li>
                                        </ol>
                                    </div>
                                    <ul class="items">
                                        <li class="row">
                                            <table class="table">
                                                <thead class="first-head">
                                                    <tr>
                                                        <th class="text-right"><div class="des-list clean">UCAN 職涯類型_就業途徑</div></th>
                                                        <th class="null"></th>
                                                        <th colspan="2">科學、技術、工程、<br />數學_工程及技術</th>
                                                        <th colspan="2">製造_製程研發</th>
                                                        </tr>
                                                </thead>
                                                <thead>
                                                    <tr>
                                                        <th class="text-right"><div class="des-list clean">核心能力 / 專業職能</div></th>
                                                        <th class="null"></th>
                                                        <th>A</th>
                                                        <th>B</th>
                                                        <th>C</th>
                                                        <th>D</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <th class="text-right"><div class="des-list">電路設計與執行</div></th>
                                                        <td class="null"></td>
                                                        <td><i class="fa fa-check" aria-hidden="true"></i></td>
                                                        <td><i class="fa fa-check" aria-hidden="true"></i></td>
                                                        <td><i class="fa fa-check" aria-hidden="true"></i></td>
                                                        <td><i class="fa fa-check" aria-hidden="true"></i></td>
                                                    </tr>
                                                    <tr>
                                                        <th class="text-right"><div class="des-list">模組設計</div></th>
                                                        <td class="null"></td>
                                                        <td><i class="fa fa-check" aria-hidden="true"></i></td>
                                                        <td><i class="fa fa-check" aria-hidden="true"></i></td>
                                                        <td><i class="fa fa-check" aria-hidden="true"></i></td>
                                                        <td><i class="fa fa-check" aria-hidden="true"></i></td>
                                                    </tr>
                                                    <tr>
                                                        <th class="text-right"><div class="des-list">電機工程專業知識</div></th>
                                                        <td class="null"></td>
                                                        <td><i class="fa fa-check" aria-hidden="true"></i></td>
                                                        <td><i class="fa fa-check" aria-hidden="true"></i></td>
                                                        <td><i class="fa fa-check" aria-hidden="true"></i></td>
                                                        <td><i class="fa fa-check" aria-hidden="true"></i></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </li>
                                    </ul>
                                </div>
                                <div class="tab-pane fade" id="pills-common" role="tabpanel" aria-labelledby="pills-common-tab">
                                    <div class="well nfu-well">
                                        <h4>文字代號說明</h4>
                                        <ol>
                                            <li>應用工程實務的專業知識，將研發成果落實於產品之生產及製造上。</li>
                                            <li>瞭解工程以及技術研發流程中所需的相關基本概念和步驟。</li>
                                            <li>在製造流程中執行持續改善的程序，以維持品質</li>
                                            <li>改善生產流程，以達成生產目標，並且符合顧客的要求和產品的標準。</li>
                                        </ol>
                                    </div>
                                    <ul class="items">
                                        <li class="row">
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th class="text-right"><div class="des-list clean">系 / 院教育目標</div></th>
                                                        <th class="null"></th>
                                                        <th>瞭解現代生活的意義及趨勢</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <th class="text-right"><div class="des-list">軟體開發及程式設計人才</div></th>
                                                        <td class="null"></td>
                                                        <td><i class="fa fa-check" aria-hidden="true"></i></td>
                                                    </tr>
                                                    <tr>
                                                        <th class="text-right"><div class="des-list">數位內容開發與管理人才</div></th>
                                                        <td class="null"></td>
                                                        <td><i class="fa fa-check" aria-hidden="true"></i></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </section>
                        <section id="section6" class="college-section">
                            <h3>目標人才與職業對應</h3>
                            <div class="block-center">
                                <select class="mdb-select">
                                    <option value="" disabled selected>電機工程系日間部四技部</option>
                                    <option value="1">電機工程系日間部二技部</option>
                                    <option value="2">電機工程系進修推廣部四技部</option>
                                    <option value="3">電機工程系進修推廣部四技部攜手專班</option>
                                </select>
                            </div>
                            <ul class="items">
                                <li class="row">
                                    <div class="col-6 des-list text-right">軟體開發及程式設計人才</div>
                                    <div class="col-6 cor-list">程式設計師</div>
                                </li>
                                <li class="row">
                                    <div class="col-6 des-list text-right">企業資訊管理人才</div>
                                    <div class="col-6 cor-list">行政人員</div>
                                </li>
                                <li class="row">
                                    <div class="col-6 des-list text-right">數位內容開發與管理人才</div>
                                    <div class="col-6 cor-list">專案管理師、系統分析師</div>
                                </li>
                            </ul>
                        </section>
                        <section class="college-section mobile-only">
                            <h3><a class="nav-link" href="course_profession.html">課程與能力指標對應 <i class="fa fa-external-link" aria-hidden="true"></i></a></h3>
                        </section>
                        <section class="college-section mobile-only">
                            <h3><a class="nav-link" href="course_standard.html">課程標準 <i class="fa fa-external-link" aria-hidden="true"></i></a></h3>
                        </section>
                        <section class="college-section mobile-only">
                            <h3><a class="nav-link" href="course_map">課程地圖 <i class="fa fa-external-link" aria-hidden="true"></i></a></h3>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </main>  
</div>

<% content_for :js do %>

<script src="../javascripts/animsition.js"></script>
<script>
	$(document).ready(function(){
	
		$("body").scrollspy({
			target: "#mdb-scrollspy",
			offset: 140
		})
		
		$('[data-spy="scroll"]').each(function(){
	
			var $spy = $(this).scrollspy('refresh');
	
		}); 
	
		$(function () {
			$(".sticky").sticky({
				topSpacing: 0
				, zIndex: 2
				, stopper: ".footer"
			});
		});
		
		$('.mdb-select').material_select();
	
	});
	// Animsition ==========================
	$(document).ready(function() {
		$('.animsition').animsition({
				inClass: 'zoom-in-sm',
				outClass: 'zoom-out-sm'
			})
			.one('animsition.inStart', function() {
				$(this).append('<h2 class="target">Callback: Start</h2>');
				console.log('event -> inStart');
			})
			.one('animsition.inEnd', function() {
				$('.target', this).html('Callback: End');
				console.log('event -> inEnd');
			});
	});
</script>

<% end %>
