<!-- 學院 -->
<div class="animsition">
    <div class="back-wrap">
        <a href="javascript:history.back()" class="animsition-link close-button">Close</a>
    </div>
    <div class="fluid-wrapper">
        <div class="row">
            <select class="mdb-select col-2">
                <option value="" disabled selected>108 學年度</option>
                <option value="1">107 學年度</option>
                <option value="2">106 學年度</option>
                <option value="3">105 學年度</option>
            </select>
            <select class="mdb-select col-2">
                <option value="" disabled selected>電機資訊學院</option>
                <option value="1">工程學院</option>
                <option value="2">管理學院</option>
                <option value="3">文理學院</option>
            </select>
            <select class="mdb-select col-2">
                <option value="" disabled selected>電機工程系</option>
                <option value="1">光電工程系</option>
                <option value="2">資訊工程系</option>
                <option value="3">電子工程系</option>
            </select>
            <select class="mdb-select col-4">
                <option value="8" disabled selected>電機工程系日間部四技部</option>
                <option value="9">電機工程系日間部二技部</option>
                <option value="10">電機工程系進修推廣部四技部</option>
                <option value="11">電機工程系進修推廣部四技部攜手專班</option>
            </select>
        </div>
        <div class="btn-group push" data-toggle="buttons">
            <label class="btn btn-primary active">
                <input type="radio" name="options" id="option1" autocomplete="off" checked> 電機工程-教育目標_2
            </label>
            <label class="btn btn-primary">
                <input type="radio" name="options" id="option2" autocomplete="off"> 軟體開發及程式設計人才
            </label>
            <label class="btn btn-primary">
                <input type="radio" name="options" id="option3" autocomplete="off"> 數位內容開發與管理人才
            </label>
        </div>
        <div class="row">
            <div class="col-3 course-standard">
                <div class="course-hd">一上</div>
                <div class="course-bd">
                    <ul>
                        <% (1..4).each do |n| %>
                        <li>電機學</li>
                        <li class="select">英語聽講練習(一)</li>
                        <li>國文(一)</li>
                        <li>物理(一)</li>
                        <% end %>
                    </ul>
                </div>
            </div>
            <div class="col-3 course-standard">
                <div class="course-hd">一下</div>
                <div class="course-bd">
                    <ul>
                        <% (1..4).each do |n| %>
                        <li>物理(二)</li>
                        <li class="select">物理實驗(二)</li>
                        <li>微積分(二)</li>
                        <li>線性代數</li>
                        <% end %>
                    </ul>
                </div>
            </div>
            <div class="col-3 course-standard">
                <div class="course-hd">二上</div>
                <div class="course-bd">
                    <ul>
                        <% (1..4).each do |n| %>
                        <li>電機機械(一)</li>
                        <li>電子學(一)</li>
                        <li>體育(三)</li>
                        <li class="select">視覺軟體設計</li>
                        <% end %>
                    </ul>
                </div>
            </div>
            <div class="col-3 course-standard">
                <div class="course-hd">二下</div>
                <div class="course-bd">
                    <ul>
                        <% (1..4).each do |n| %>
                        <li class="select">電機機械實習(一)</li>
                        <li>校外實習(一)</li>
                        <li>電機機械(二)</li>
                        <li>工業電子學實習</li>
                        <% end %>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-3 course-standard">
                <div class="course-hd">三上</div>
                <div class="course-bd">
                    <ul>
                        <% (1..4).each do |n| %>
                        <li>電機學</li>
                        <li>英語聽講練習(一)</li>
                        <li class="select">國文(一)</li>
                        <li>物理(一)</li>
                        <% end %>
                    </ul>
                </div>
            </div>
            <div class="col-3 course-standard">
                <div class="course-hd">三下</div>
                <div class="course-bd">
                    <ul>
                        <% (1..4).each do |n| %>
                        <li class="select">物理(二)</li>
                        <li>物理實驗(二)</li>
                        <li>微積分(二)</li>
                        <li>線性代數</li>
                        <% end %>
                    </ul>
                </div>
            </div>
            <div class="col-3 course-standard">
                <div class="course-hd">四上</div>
                <div class="course-bd">
                    <ul>
                        <% (1..4).each do |n| %>
                        <li>電機機械(一)</li>
                        <li>電子學(一)</li>
                        <li>體育(三)</li>
                        <li>視覺軟體設計</li>
                        <% end %>
                    </ul>
                </div>
            </div>
            <div class="col-3 course-standard">
                <div class="course-hd">四下</div>
                <div class="course-bd">
                    <ul>
                        <% (1..4).each do |n| %>
                        <li>電機機械實習(一)</li>
                        <li>校外實習(一)</li>
                        <li class="select">電機機械(二)</li>
                        <li>工業電子學實習</li>
                        <% end %>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


<% content_for :js do %>

<script src="../javascripts/animsition.js"></script>
<script>
	$(document).ready(function() {
		$('.animsition').animsition({
			inClass: 'zoom-in-sm',
			outClass: 'zoom-out-sm'
        })
		
		$('.mdb-select').material_select();
	});
</script>

<% end %>
