
@import "base";

.container {
	width: 1140px;
	max-width: 1140px;
}

.block-title {
	margin-bottom: 1rem;
	font-weight: 700;
}

.avatar-recent {
	width: 100%;
	height: auto;
}

.main-wrap .nav-tabs .nav-link.active {
    background-color: transparent;
    border-bottom-color: #fafafa;
}

.badge { box-shadow: none; }

.awall {
	background: #f1f1f1;
	padding: 1.5rem;
	margin: 1rem 0;
	p:last-child { margin: 0; }
}

.modal-xl {
    max-width: 1110px;
}

/* `Login
-----------------------------------------------------------------------------*/

.login-container {
	.login {
		margin: 0 auto;
		width: 600px;
	}
}

/* `Index
-----------------------------------------------------------------------------*/

.wrap-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	> li {
		margin-bottom: 30px;
		width: 48.6%;
	}
	.date {
		margin-bottom: 0;
		color: #999;
	}
	.title {
		font-size: 18px;
		font-weight: 700;
	}
	.summary {
		margin-bottom: 0;
		line-height: 1.6;
	}
	.more { font-weight: 700; }
}

.announcement-list {
	> li {
		width: 100%;
	}
}

.wrap-list.camp-list {
	a {
		transition: all 0.15s ease-in-out;
		background: #fff;
		display: block;
		border-radius: 0.5rem;
		box-shadow: 0 2px 4px rgba(#000, .1);
		padding: 1.5rem;
		position: relative;
		&:after {
			transition: all 0.15s ease-in-out;
			content: "";
			border-radius: 0.3rem;
			border: 1px dashed #eee;
			position: absolute;
			top: 0.35rem;
			right: 0.35rem;
			bottom: 0.35rem;
			left: 0.35rem;
		}
		&:hover {
			background: $main_color;
			color: #fff;
			&:after { border-color: #6F84C7; }
		}
	}
}

.scholarship-list {
	li {
		background: #fff;
	}
	.hd {
		background: #eee;
		border-bottom: 4px solid $main_color;
		display: flex;
		align-items: center;
		padding: 0 20px;
		height: 88px;
		h5.title {
			margin-bottom: 0;
			font-weight: 400;
		}
	}
	.list-info {
		border-bottom: 1px solid #eee;
		padding: 0.5rem 0;
		&:last-child { border-bottom: none; }
		span {
			display: block;
			padding: 0 20px;
		}
	}
	.links {
		display: flex;
		align-items: center;
		a {
			height: 56px;
			line-height: 56px;
			text-align: center;
		}
		.view-link {
			background: #eee;
			width: 35%;
			color: $main_color;
			&:hover { background: #ddd; }
		}
		.application-link {
			background: $main_color;
			width: 65%;
			color: #fff;
			&:hover { background: darken($main_color, 5); }
		}
	}
}

.info-item {
	li {
		margin-bottom: 0.5rem;
		.label {
			padding-left: 0;
			font-weight: bold;
		}
	}
}

/* `Overview
-----------------------------------------------------------------------------*/

.avatar-wrap {
	border-bottom: 1px solid #e5e5e5;
	padding-bottom: 2rem;
	position: relative;
	.avatar {
		margin: 0 auto 1rem;
		width: 65%;
		height: auto;
		position: relative;
		img {
			border-radius: 50%;
			width: 100%;
			height: auto;
		}
		&:hover + .btn-delete { opacity: 1; }
	}
	.btn-delete {
		position: absolute;
		top: 0;
		left: 0;
		margin: 0;
		padding: 0.1rem 0.5rem;
		text-transform: none;
		opacity: 0.6;
		span {
			display: none;
		}
		&:hover {
			opacity: 1;
			span {
				display: inline-block;
			}
		}
		.fa { font-size: 0.9rem; }
	}
	h5 {
		text-align: center;
		small {
			display: block;
			margin-top: 1rem;
			padding-top: 1rem;
			font-size: 75%;
			position: relative;
			&:before, &:after {
				content: "";
				background: $main_color;
				border-radius: 50%;
				margin-left: 7px;
				width: 9px;
				height: 9px;
				position: absolute;
				top: -4.5px;
				left: 50%;
			}
			&:after {
				background: $secondary_color;
				margin-left: -7px;
			}
			span {
				display: block;
				margin-bottom: 0.5rem;
			}
		}
	}
}

.aside {
	.personal-menu {
		a {
			border-bottom: 1px solid #e5e5e5;
			display: block;
			padding: 0.75rem 0;
			position: relative;
			&:after {
				content: "";
				background: $main_color;
				width: 0;
				height: 2px;
				position: absolute;
				bottom: 0;
				left: 0;
				transition: all 0.2s ease-in-out;
			}
			&:hover {
				&:after {
					width: 20px;
				}
			}
		}
		.current a {
			background: #f0f0f0;
			padding-left: 0.85rem;
			padding-right: 0.85rem;
			color: #111;
			cursor: default;
			&:after { content: none; }
		}
	}
	.award-wrap {
		margin: 2rem 0;
	}
	.contact-wrap {
		color: #222;
		li {
			border-bottom: 1px dashed rgba(#000, .1);
			margin-bottom: 0.4rem;
			padding-bottom: 0.4rem;
			word-break: break-all;
			&:last-child {
				border-bottom: none;
				margin-bottom: 0;
				padding-bottom: 0;
			}
			.fa {
				margin-right: 8px;
				width: 20px;
			}
		}
	}
}

.scholarship-status {
	> li {
		width: 48.2%;
	}
	.hd {
		border-bottom: none;
	}
	.status {
		padding: 10px 20px;
		font-size: 18px;
		font-weight: bold;
		position: relative;
		overflow: hidden;
		&:after, &:before {
			content: "";
			transition: all 0.2s ease-in-out;
			position: absolute;
			top: 15px;
			right: -94px;
			height: 120px;
			width: 120px;
			transform: rotate(45deg);
		}
	}
	.open {
		.status {
			border-bottom: 2px solid $secondary_color;
			color: darken($secondary_color, 10);
			&:before {
				background: $main_color;
				top: 0;
			}
			&:after {
				background: $secondary_color;
			}
		}
	}
	.closed {
		.status {
			border-bottom: 2px solid $main_color;
			color: $main_color;
			&:before {
				background: $secondary_color;
				top: 0;
			}
			&:after {
				background: $main_color;
			}
		}
	}
	li:hover {
		.status:after,
		.status:before {
			right: -102px;
		}
	}
}

.personal-announcement {
	.announcement-list > li {
		width: 48.2%;
	}
}

/* `Application
-----------------------------------------------------------------------------*/

.block {
	border-bottom: 1px solid #e5e5e5;
	margin-bottom: 2rem;
	padding-bottom: 2rem;
	.block-hd {
		margin-bottom: 2rem;
		font-weight: bold;
		position: relative;
		&:after {
			content: "";
			background: $secondary_color;
			width: 39px;
			height: 3px;
			position: absolute;
			bottom: -15px;
			left: 0;
		}
	}
}

.referrer-container {
	margin-bottom: 2rem;
	padding: 1.5rem;
	border: 1px dashed #ddd;
	border-radius: 0.2rem;
	.referrer-number {
		font-weight: bold;
		color: $secondary_color;
	}
	.row {
		margin-bottom: 0.5rem;
		&:last-child { margin-bottom: 0; }
	}
}

/* `Step
-----------------------------------------------------------------------------*/

.step-bar {
	margin: 60px auto;
	text-align: center;
	ul, li {
		display: inline-block;
		list-style: none;
		margin: 0;
		padding: 0;
	}
	li {
		float: left;
		width: 200px;
		font-weight: 400;
	}
	.step {
		display: block;
		border-radius: 20px;
		border: 4px solid #bfbfbf;
		margin: 0 0 12px 80px;
		width: 40px;
		height: 40px;
		font-size: 20px;
		font-weight: 400;
		color: #666;
		line-height: 32px;
		position: relative;
		&:before, &:after {
			content: "";
			background: #bfbfbf;
			width: 65px;
			height: 4px;
			position: absolute;
			top: 14px;
		}
		&:before {
			border-radius: 0 2px 2px 0;
			left: -84px;
		}
		&:after {
			border-radius: 2px 0 0 2px;
			right: -84px;
		}
	}
	.brief {
		font-size: 0.85rem;
		line-height: 1.4;
		color: #999;
	}
    h4 {
		padding: 0 0.5rem;
		font-size: 1rem;
	}
	li {
		&:first-child .step:before, &:last-child .step:after {
			content: none;
		}
	}
	.active {
		color: $secondary_color;
	    .step {
			border-color: $secondary_color;
			color: $secondary_color;
			&:before {
				background: $secondary_color;
				background: linear-gradient(90deg, $main_color 0%, $secondary_color 100%); 
			}
		}
	}
	.done {
		color: #000;
		.step {
			background: $main_color;
			border-color: $main_color;
			color: #fff;
			&:before, &:after {
				background: $main_color;
			}
		}
	}
	&.four-step {
		li { width: 260px; }
		.step {
			margin-left: 110px;
			&:before, &:after { width: 95px; }
			&:before { left: -114px; }
			&:after { right: -114px; }
		}
	}
	&.three-step {
		li { width: 300px; }
		.step {
			margin-left: 130px;
			&:before, &:after { width: 115px; }
			&:before { left: -134px; }
			&:after { right: -134px; }
		}
	}
}

.step-bar.with-pick-seat {
	li { width: 160px; }
	.step {
		margin-left: 60px;
	}
	&:before, &:after { width: 45px; }
	&:before { left: -64px; }
	&:after { right: -64px; }
}

/* `Step Container
-----------------------------------------------------------------------------*/

.step-hd {
	border-left: 10px solid $secondary_color;
	padding: 0.1rem 0 0.2rem 1rem;
	h5 {
		font-size: 1.35rem;
		margin-bottom: 0;
	}
	h6 { margin: 0.5rem 0 0; }
}

.step-container {
	.avatar-wrap {
		border-bottom: none;
		margin: 0 auto;
		width: 300px;
	}
}

.grade-wrap {
	border-left: 3px solid #ccc;
	background: #f1f1f1;
	margin-bottom: 2rem;
	padding: 2rem;
	h6, h5 {
		display: inline-block;
		margin-bottom: 0;
	}
	h6 {
		border-right: 1px solid #ccc;
		margin-right: 1rem;
		padding-right: 1.5rem;
		font-weight: bold;
	}
	h5 { padding-right: 1rem; }
}

.document-upload {
	.document-item:nth-child(even) {
		background-color: #f1f1f1;
	}
}

.referrer-container {
	.document-item:nth-child(even) {
		background-color: transparent;
	}
}

.document-item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px dashed #ddd;
	padding: 1.5rem 1rem;
	.document-hd {
		h6 { font-size: 1.05rem; }
		p { margin-bottom: 0; }
	}
	.md-form {
		margin: 0;
	}
	&:last-child {
		border-bottom: none;
		margin-bottom: 0;
		padding-bottom: 0;
	}
	+ .document-info {
		border: 1px dashed #ddd;
		border-top: none;
		padding: 1.5rem 2rem;
	}
}

.document-ft {
	text-align: right;
	.btn { margin: 0; }
}

.required {
	padding-right: 0.25rem;
	font-weight: bold;
	color: red;
}

.result-wrap {
	.document-item {
		background: #eee;
		padding: 2rem;
		align-items: stretch;
	}
	.nav-tabs .nav-link.active {
		background-color: transparent;
		border-bottom-color: $body_background;
	}
}

.additional-documents {
	background: #fff;
	margin-bottom: 1.5rem;
	.document-item {
		background-color: transparent;
		margin-bottom: 0;
		padding: 1.5rem;
	}
	.additional-description { padding: 1.5rem; }
}

.flow-wrap {
	border-bottom: 1px dashed #ccc;
	margin-bottom: 1.5rem;
	padding-bottom: 1.5rem;
	.grade-wrap {
		display: flex;
		background: #fff;
		border-width: 5px;
		margin-bottom: 1rem;
		padding: 1rem 1rem 1rem 2rem;
		h6 { color: darken($secondary_color, 10); }
	}
}

.modal-xlg { max-width: 1110px; }

.modal {
	.grade-wrap {
		margin-bottom: 1rem;
	}
	.document-item:last-child {
		margin-bottom: 0;
	}
}

.late-payment {
	label { margin-bottom: 0.2rem; }
}




























































