<!-- TPEAA: 基本資料維護 -->

<main class="main">
    <div class="page-header">
        <h2>基本資料維護</h2>
		<p>form grid</p>
    </div>
    <div class="row">
		<div class="col-lg-2 col-md-3">
		    <h5 class="">女生隊中隊長</h5>
			<ul class="menu-item basic-menu">
			    <li><a href="/" class="current">基本資料</a></li>
				<li><a href="/">學經歷</a></li>
				<li><a href="/">帳號密碼</a></li>
				<li><a href="/">教師相關資料</a></li>
				<li><a href="/">代理人設定</a></li>
			</ul>
		</div>
        <div class="col-lg-10 col-md-9">
            <div class="col-block">
                <div class="block-header has-border"><h3>編輯使用者資料</h3></div>
                <div class="block-content">
					<form>
						<div class="form-row mb-3">
						    <div class="form-group col-md-6">
							    <label for="">服務機關</label>
								<select class="browser-default custom-select">
								    <option selected>Open this select menu</option>
									<option value="1">One</option>
									<option value="2">Two</option>
									<option value="3">Three</option>
								</select>
							</div>
							<div class="form-group col-md-6">
							    <label for="">服務單位</label>
								<select class="browser-default custom-select">
								    <option selected>Open this select menu</option>
									<option value="1">One</option>
									<option value="2">Two</option>
									<option value="3">Three</option>
								</select>
							</div>
						</div>
						
						<div class="form-row mb-3">
						    <div class="form-group col-md-4">
							    <label for="inputName">姓名</label>
								<input type="text" class="form-control" id="inputName" placeholder="username">
							</div>
							<div class="form-group col-md-4">
							    <label for="">職稱</label>
								<select class="browser-default custom-select">
								    <option selected>Open this select menu</option>
									<option value="1">One</option>
									<option value="2">Two</option>
									<option value="3">Three</option>
								</select>
							</div>
							<div class="form-group col-md-4">
							    <label for="">員工類別</label>
								<select class="browser-default custom-select">
								    <option selected>Open this select menu</option>
									<option value="1">One</option>
									<option value="2">Two</option>
									<option value="3">Three</option>
								</select>
							</div>
						</div>
						
					    <div class="form-row mb-3">
						    <div class="form-group col-md-6">
							    <label for="inputEmail4">職務列等(一)</label>
								<input type="text" class="form-control" id="input4" placeholder="委任第四職等至委任第五職等" disabled>
							</div>
							<div class="form-group col-md-6">
							    <label for="inputEmail4">職務列等(二)</label>
								<input type="text" class="form-control" id="input5" placeholder="薦任第六職等" disabled>
							</div>
						</div>
						
						<div class="form-row mb-3">
						    <div class="form-group col-md-4">
							    <label for="inputName">職等</label>
								<select class="browser-default custom-select">
								    <option selected>Open this select menu</option>
									<option value="1">One</option>
									<option value="2">Two</option>
									<option value="3">Three</option>
								</select>
							</div>
							<div class="form-group col-md-4">
							    <label for="input8">現支官等代碼</label>
								<input type="text" class="form-control" id="input8" placeholder="username">
							</div>
							<div class="form-group col-md-4">
							    <label for="input7">現支官等別</label>
								<input type="text" class="form-control" id="input7" placeholder="username">
							</div>
						</div>
						
						<div class="form-row mb-3">
						    <div class="form-group col-md-6">
							    <label for="">俸階</label>
								<input type="text" class="form-control" id="" placeholder="年功俸六級" disabled>
							</div>
							<div class="form-group col-md-6">
							    <label for="">俸點</label>
								<input type="text" class="form-control" id="" placeholder="535" disabled>
							</div>
						</div>
						
						<div class="form-row mb-3">
						    <div class="form-group col-md-4">
							    <label for="">職系</label>
								<input type="text" class="form-control" id="" placeholder="資訊處理" disabled>
							</div>
							<div class="form-group col-md-4">
							    <label for="">序列</label>
								<input type="text" class="form-control" id="" placeholder="9" disabled>
							</div>
							<div class="form-group col-md-4">
							    <label for="">職務編號</label>
								<input type="text" class="form-control" id="" placeholder="A640050" disabled>
							</div>
						</div>
						
						<div class="form-row mb-3">
						    <div class="form-group col-md-6">
								<label for="">出生日期</label>
							    <input placeholder="Selected date" type="text" id="date-picker-example" class="form-control datepicker">
							</div>
							<div class="form-group col-md-6">
							    <label for="">性別</label>
								<div>
									<div class="form-check form-check-inline">
									  <input type="radio" class="form-check-input" id="materialInline1" name="inlineMaterialRadiosExample">
									  <label class="form-check-label" for="materialInline1">男性</label>
									</div>
									<div class="form-check form-check-inline">
									  <input type="radio" class="form-check-input" id="materialInline2" name="inlineMaterialRadiosExample">
									  <label class="form-check-label" for="materialInline2">女性</label>
									</div>
								</div>
							</div>
						</div>
						
						<div class="form-row mb-3">
						    <div class="form-group col-md-6">
							    <label for="">身分證號</label>
								<input type="text" class="form-control" id="" placeholder="F128155555" disabled>
							</div>
							<div class="form-group col-md-6">
							    <label for="">電話</label>
								<input type="text" class="form-control" id="" placeholder="">
							</div>
						</div>
						
						<div class="form-row mb-3">
						    <div class="form-group col-12">
							    <label for="">地址</label>
								<input type="text" class="form-control" id="" placeholder="臺北縣永和市林森路118號3樓" disabled>
							</div>
						</div>
						<button class="btn btn-primary my-4" type="submit">儲存</button>
					</form>
                </div>
            </div>
        </div>
    </div>
</main>

<% content_for :js do %>

<script>
    $('.datepicker').pickadate();
</script>

<% end %>