<!-- TPEAA: 成績登錄 -->

<main class="main">
    <div class="page-header">
        <h3>
			<small class="pr-1">107年</small>
			<small class="pr-1">第1學期</small>
			<small class="pr-1">柔道</small>
		</h3>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="col-block">
                <ul class="nav nav-tabs">
                    <li class="nav-item"><a href="#tab1" class="active" aria-controls="tab1" role="tab" data-toggle="tab">成績登錄</a></li>
                    <li class="nav-item"><a href="#tab2" aria-controls="tab2" role="tab" data-toggle="tab">訓練日誌</a></li>
					<li class="nav-item"><a href="#tab3" aria-controls="tab3" role="tab" data-toggle="tab">訓練項目設定</a></li>
                </ul>
                <div class="block-content tab-content">
                    <div role="tabpanel" class="tab-pane active" id="tab1">
						<div class="row mb-3">
							<div class="btn-group-hd mr-2">
								<button class="btn btn-sm btn-primary" type="submit">儲存</button>
								<button class="btn btn-sm btn-primary" type="submit">計算平時成績</button>
								<button class="btn btn-sm btn-primary" type="submit">計算期中成績</button>
								<button class="btn btn-sm btn-primary" type="submit">計算期末成績</button>
								<button class="btn btn-sm btn-primary" type="submit">產生預警通知</button>
							</div>
							<div class="mr-auto">
								<select class="browser-default custom-select xs">
									<option selected>正34期01班(行)</option>
									<option value="1">One</option>
									<option value="2">Two</option>
									<option value="3">Three</option>
								</select>
							</div>
						</div>
						
						<div class="row">
							<div class="col-md-7">
								<div class="table-responsive">
									<table class="table table-sm">
										<thead>
											<tr>
												<th>學號</th>
												<th>姓名</th>
												<th>期中 30%</th>
												<th>期末 40%</th>
												<th>平時 30%</th>
												<th class="keep-all">學期成績</th>
											</tr>   
										</thead>
										<tbody>
											<% 24.times do %>
											<tr>
												<td>3700001</td>
												<td class="keep-all">學員1</td>
												<td><input type="text" class="form-control form-control-sm" id="" placeholder=""</td>
												<td><input type="text" class="form-control form-control-sm" id="" placeholder=""></td>
												<td><input type="text" class="form-control form-control-sm" id="" placeholder=""></td>
												<td></td>
											</tr>
											<% end %>
										</tbody>
									</table>
								</div>
							</div>
						    <div class="col-md-5">
								<div class="grade-student">
							        <h5>學員1</h5>
									<ul class="menu-item grade-student-item">
										<% 4.times do %>
									    <li class="row">
										    <span class="col-sm-5">2017/11/11</span>
											<span class="col-sm-3">跑5千</span>
											<span class="col-sm-2">3:50</span>
											<span class="col-sm-2">80分</span>
										</li>
										<% end %>
									</ul>
									<h6>平時成績：</h6>
									<hr />
									<ul class="menu-item grade-student-item">
										<% 4.times do %>
									    <li class="row">
										    <span class="col-sm-5">2017/11/11</span>
											<span class="col-sm-3">跑5千</span>
											<span class="col-sm-2">3:50</span>
											<span class="col-sm-2">80分</span>
										</li>
										<% end %>
									</ul>
									<h6>期中成績：</h6>
									<hr />
									<ul class="menu-item grade-student-item">
										<% 4.times do %>
									    <li class="row">
										    <span class="col-sm-5">2017/11/11</span>
											<span class="col-sm-3">跑5千</span>
											<span class="col-sm-2">3:50</span>
											<span class="col-sm-2">80分</span>
										</li>
										<% end %>
									</ul>
									<h6>期末成績：</h6>
								</div>
							</div>
						</div>
                    </div>
					
                    <div role="tabpanel" class="tab-pane" id="tab2">
						<div class="row mb-3">
							<div class="btn-group-hd mr-2">
								<button class="btn btn-sm btn-primary" type="submit">登錄</button>
							</div>
							<div class="row w-75 ml-auto">
								<div class="col-sm-4">
									<select class="browser-default custom-select xs">
										<option selected>全部項目</option>
										<option value="1">One</option>
										<option value="2">Two</option>
										<option value="3">Three</option>
									</select>
								</div>
								<div class="col-sm-4">
									<select class="browser-default custom-select xs">
										<option selected>全部項目</option>
										<option value="1">One</option>
										<option value="2">Two</option>
										<option value="3">Three</option>
									</select>
								</div>
								<div class="col-sm-4">
									<select class="browser-default custom-select xs">
										<option selected>正34期01班(行)</option>
										<option value="1">One</option>
										<option value="2">Two</option>
										<option value="3">Three</option>
									</select>
								</div>
							</div>
						</div>
						<div class="table-responsive">
							<table class="table table-sm">
								<thead>
									<tr>
										<th></th>
										<th></th>
										<th>學號</th>
										<th>姓名</th>
										<th>日期</th>
										<th>評量項目名稱</th>
										<th>紀錄</th>
										<th>單位</th>
										<th>分數</th>
										<th>計入成績</th>
										<th>最後修改</th>
										<th>操作人員</th>
									</tr>   
								</thead>
								<tbody>
									<% 5.times do %>
									<tr>
										<td>1</td>
										<td><a href="#"><i class="fa fa-pencil"></i></a></td>
										<td>A0001</td>
										<td>陳OO</td>
										<td>2017/XX/XX</td>
										<td>跑5千</td>
										<td>3.5</td>
										<td>分鐘</td>
										<td>80</td>
										<td>平時</td>
										<td>2018-11-11 11:20</td>
										<td>陳OO</td>
									</tr>
									<% end %>
								</tbody>
							</table>
						</div>
					</div>
					
					<div role="tabpanel" class="tab-pane" id="tab3">
					    <div class="table-responsive">
							<table class="table table-sm" id="participantTable">
								<thead>
									<tr>
										<th>序號</th>
										<th>名稱</th>
										<th>成績百分比</th>
										<th>計算單位</th>
										<th>刪除</th>
									</tr>   
								</thead>
								<tbody>
									<tr class="participantRow">
										<td>1</td>
										<td><input type="text" class="form-control form-control-sm" id="" placeholder="過肩摔"></td>
										<td><input type="text" class="form-control form-control-sm" id="" placeholder="33"></td>
										<td><input type="text" class="form-control form-control-sm" id="" placeholder=""></td>
										<td><a href="#" class="btn btn-xs btn-danger remove"><i class="fa fa-times mr-0"></i></a>
										</td>
									</tr>
									<tr id="addButtonRow">
										<td colspan="5">
											<a class="btn-floating btn-sm blue-gradient add"><i class="fa fa-plus"></i></a>
										</td>
									</tr>
								</tbody>
							</table>
							<hr />
							<button class="btn btn-primary" type="submit">儲存</button>
						</div>
					</div>
					
                </div>
            </div>
        </div>
    </div>
</main>

<% content_for :js do %>
    <script>
/* Variables */
var p = $("#participants").val();
var row = $(".participantRow");

/* Functions */
function getP(){
  p = $("#participants").val();
}

function addRow() {
  row.clone(true, true).appendTo("#participantTable");
}

function removeRow(button) {
  button.closest("tr").remove();
}
/* Doc ready */
$(".add").on('click', function () {
  getP();
  if($("#participantTable tr").length < 17) {
    addRow();
    var i = Number(p)+1;
    $("#participants").val(i);
  }
  $(this).closest("tr").appendTo("#participantTable");
  if ($("#participantTable tr").length === 3) {
    $(".remove").hide();
  } else {
    $(".remove").show();
  }
});
$(".remove").on('click', function () {
  getP();
  if($("#participantTable tr").length === 3) {
    //alert("Can't remove row.");
    $(".remove").hide();
  } else if($("#participantTable tr").length - 1 ==3) {
    $(".remove").hide();
    removeRow($(this));
    var i = Number(p)-1;
    $("#participants").val(i);
  } else {
    removeRow($(this));
    var i = Number(p)-1;
    $("#participants").val(i);
  }
});
$("#participants").change(function () {
  var i = 0;
  p = $("#participants").val();
  var rowCount = $("#participantTable tr").length - 2;
  if(p > rowCount) {
    for(i=rowCount; i<p; i+=1){
      addRow();
    }
    $("#participantTable #addButtonRow").appendTo("#participantTable");
  } else if(p < rowCount) {
  }
});
	</script>
<% end %>