<!-- TPEAA: 成績登錄作業 -->

<main class="main">
    <div class="page-header">
        <h2>教學計劃及授課進度表</h2>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="col-block">
				<div class="block-header has-border">
					<div class="form-row">
						<div class="form-group col-md-4">
							<select class="browser-default custom-select">
								<option selected>107年度</option>
								<option value="1">One</option>
								<option value="2">Two</option>
								<option value="3">Three</option>
							</select>
						</div>
						<div class="form-group col-md-4">
							<select class="browser-default custom-select">
								<option selected>第 1 學期</option>
								<option value="1">One</option>
								<option value="2">Two</option>
								<option value="3">Three</option>
							</select>
						</div>
						<div class="form-group col-md-4">
						    <button class="btn btn-sm btn-primary my-0 mx-0" type="submit">期中成績全部送出</button>
							<button class="btn btn-sm btn-primary my-0 mx-0" type="submit">期末成績全部送出</button>
						</div>
					</div>
				</div>
                <div class="block-content expansion">
					<div class="table-responsive">
						<table class="table">
							<thead>
								<tr>
									<th>序號</th>
									<th>科目代碼</th>
									<th>科目名稱</th>
									<th>學分數</th>
									<th>成績登錄</th>
									<th>期中成績送出</th>
									<th>期末成績送出</th>
								</tr>   
							</thead>
							<tbody>
								<% 6.times do %>
								<tr>
									<td>1</td>
									<td>A110101</td>
									<td class="keep-all">國父思想</td>
									<td>2.0</td>
									<td>
									    <a class="btn btn-sm btn-info" href="grade_record.html">編輯</a>
									</td>
									<td><a class="btn btn-sm btn-white un-shadows" href="#">2017/10/10 14:05</a></td>
									<td><a class="btn btn-sm btn-default" href="#">送出</a></td>
								</tr>
								<% end %>
								<tr>
									<td>7</td>
									<td>A110101</td>
									<td class="keep-all">警察勤務戰鬥訓練</td>
									<td>2.0</td>
									<td>
									    <a class="btn btn-sm btn-info" href="grade_record.html">編輯</a>
									</td>
									<td><a class="btn btn-sm btn-white un-shadows" href="#">2017/10/10 14:05</a></td>
									<td><a class="btn btn-sm btn-default" href="#">送出</a></td>
								</tr>
							</tbody>
						</table>
					</div>
                </div>
            </div>
        </div>
    </div>
</main>

<% content_for :js do %>
 
<% end %>