<!-- TPEAA: 後臺用請假相關介面 -->

<main class="main">
    <div class="page-header">
        <h2>請假外出及回校登記</h2>
    </div>
	<div class="leave-search">
		<div class="form-row align-items-center">
			<div class="col-auto mb-1">
				<input type="text" class="form-control" placeholder="todo 刷入條碼">
			</div>
			<div class="col-auto mb-1">或</div>
			<div class="col-auto mb-1">
				<input type="text" class="form-control" placeholder="請輸入學生姓名或學號擷取">
			</div>
			<div class="col-auto mb-1">
				<button class="btn btn-primary my-0 mx-0" type="submit">搜尋</button>
			</div>
		</div>
	</div>
	<div class="row">
	    <div class="col-lg-6">
			<div class="card leave-item">
				<div class="card-body">
				<hgroup>
					<h6><span class="label">班級</span>正34期01班(行)</h6>
					<h6><span class="label">姓名</span>測試01</h6>
					<h6><span class="label">事假</span>2018-12-03 12:00:00 ~ 2018-12-03 18:00:00</h6>
				</hgroup>
				<button class="btn btn-info my-0 mx-0" type="submit">確認銷假</button>
				</div>
			</div>
		</div>
		
		<div class="col-lg-6">
			<div class="card leave-item">
				<div class="card-body">
				<hgroup>
					<h6><span class="label">班級</span>正34期01班(行)</h6>
					<h6><span class="label">姓名</span>測試01</h6>
					<h6><span class="label">事假</span>2018-12-03 12:00:00 ~ 2018-12-03 18:00:00</h6>
				</hgroup>
				<button class="btn btn-info my-0 mx-0" type="submit">確認銷假</button>
				</div>
			</div>
		</div>
		
		<div class="col-lg-6">
			<div class="card leave-item">
				<div class="card-body">
				<hgroup>
					<h6><span class="label">班級</span>正34期01班(行)</h6>
					<h6><span class="label">姓名</span>測試01</h6>
					<h6><span class="label">事假</span>2018-12-03 12:00:00 ~ 2018-12-03 18:00:00</h6>
				</hgroup>
				<button class="btn btn-info my-0 mx-0" type="submit">確認銷假</button>
				</div>
			</div>
		</div>
		
		<div class="col-lg-6">
			<div class="card leave-item">
				<div class="card-body">
				<hgroup>
					<h6><span class="label">班級</span>正34期01班(行)</h6>
					<h6><span class="label">姓名</span>測試01</h6>
					<h6><span class="label">事假</span>2018-12-03 12:00:00 ~ 2018-12-03 18:00:00</h6>
				</hgroup>
				<button class="btn btn-info my-0 mx-0" type="submit">確認銷假</button>
				</div>
			</div>
		</div>
	</div>
	<nav aria-label="Page navigation" class="mt-3">
		<ul class="pagination pg-blue justify-content-end">
			<li class="page-item disabled">
				<a class="page-link" tabindex="-1">Previous</a>
			</li>
			<li class="page-item"><a class="page-link">1</a></li>
			<li class="page-item active">
				<a class="page-link">2 <span class="sr-only">(current)</span></a>
			</li>
			<li class="page-item"><a class="page-link">3</a></li>
			<li class="page-item">
				<a class="page-link">Next</a>
			</li>
		</ul>
	</nav>
</main>

<% content_for :js do %>
 
<% end %>