<!-- TPEAA: 線上點名 確認 -->

<main class="main">
    <div class="page-header">
        <h3>
			<small class="pr-1">2017/09/18</small>
			<small class="pr-1">星期二</small>
			<small class="pr-1">線上點名</small>
		</h3>
    </div>
	<div class="rollcall-hd">
		<div class="present">
			<div class="item">課程名稱<span class="badge badge-primary">國文</span></div>
			<div class="item">授課老師<span class="badge badge-primary">OOO 老師</span></div>
			<div class="item">上課地點<span class="badge badge-primary">OOO</span></div>
		</div>
		<div class="quick-group">
			<a href="/"><i class="fa fa-print"></i> 列印空白點名表</a>
			<a href="/"><i class="fa fa-wrench"></i> 報修申請單</a>
		</div>
	</div>
    <div class="row">
        <div class="col-12">
            <div class="col-block">
                <div class="block-content">
					<div class="table-responsive">
						<table class="table table-sm rollcall-table">
							<thead>
								<tr>
									<th>#</th>
									<th>學生</th>
									<th>點名結果</th>
									<th>備註</th>
								</tr>   
							</thead>
							<tbody>
								<tr>
									<td>1</td>
									<td>林仁龍</td>
									<td>
										<div class="btn-group" data-toggle="buttons">
											<label class="btn btn-sm btn-mdb-color form-check-label active">
												<input class="form-check-input" type="radio" name="options" id="option1" autocomplete="off" checked> 到課
											</label>
											<label class="btn btn-sm btn-mdb-color form-check-label">
												<input class="form-check-input" type="radio" name="options" id="option2" autocomplete="off"> 請假
											</label>
											<label class="btn btn-sm btn-mdb-color form-check-label">
												<input class="form-check-input" type="radio" name="options" id="option3" autocomplete="off"> 未到
											</label>
										</div>
									</td>
									<td></td>
								</tr>
								
								<tr class="teal lighten-5">
									<td>2</td>
									<td>王思齊</td>
									<td>
										<div class="btn-group" data-toggle="buttons">
											<label class="btn btn-sm btn-mdb-color form-check-label active">
												<input class="form-check-input" type="radio" name="options" id="option1" autocomplete="off" checked> 到課
											</label>
											<label class="btn btn-sm btn-mdb-color form-check-label">
												<input class="form-check-input" type="radio" name="options" id="option2" autocomplete="off"> 請假
											</label>
											<label class="btn btn-sm btn-mdb-color form-check-label">
												<input class="form-check-input" type="radio" name="options" id="option3" autocomplete="off"> 未到
											</label>
										</div>
									</td>
									<td>事假 2017/09/18 08:00~2017/09/18 10:00 (申請中)</td>
								</tr>
								
								<tr class="red lighten-5">
									<td>1</td>
									<td>陳小二</td>
									<td>
										<div class="btn-group" data-toggle="buttons">
											<label class="btn btn-sm btn-mdb-color form-check-label active">
												<input class="form-check-input" type="radio" name="options" id="option1" autocomplete="off" checked> 到課
											</label>
											<label class="btn btn-sm btn-mdb-color form-check-label">
												<input class="form-check-input" type="radio" name="options" id="option2" autocomplete="off"> 請假
											</label>
											<label class="btn btn-sm btn-mdb-color form-check-label">
												<input class="form-check-input" type="radio" name="options" id="option3" autocomplete="off"> 未到
											</label>
										</div>
									</td>
									<td>未到樣式</td>
								</tr>
								<% 10.times do %>
								<tr>
									<td>3</td>
									<td>林仁龍</td>
									<td>
										<div class="btn-group" data-toggle="buttons">
											<label class="btn btn-sm btn-mdb-color form-check-label active">
												<input class="form-check-input" type="radio" name="options" id="option1" autocomplete="off" checked> 到課
											</label>
											<label class="btn btn-sm btn-mdb-color form-check-label">
												<input class="form-check-input" type="radio" name="options" id="option2" autocomplete="off"> 請假
											</label>
											<label class="btn btn-sm btn-mdb-color form-check-label">
												<input class="form-check-input" type="radio" name="options" id="option3" autocomplete="off"> 未到
											</label>
										</div>
									</td>
									<td></td>
								</tr>
								<% end %>
							</tbody>
						</table>
						
						<div class="rollcall-result">
							<div class="item">應到<span class="badge badge-primary">40</span></div>
							<div class="item">實到<span class="badge badge-info">38</span></div>
							<div class="item">請假<span class="badge badge-default">1</span></div>
							<div class="item">未到<span class="badge badge-danger">1</span></div>
						</div>
						<div class="form-group mt-5">
						    <label for="exampleFormControlTextarea2">建議事項</label>
						    <textarea class="form-control rounded-0" id="exampleFormControlTextarea2" rows="3"></textarea>
						</div>
						<div class="pb-3">
							<button type="button" class="btn btn-primary">教師到課確認</button>
							<button type="button" class="btn btn-white">回上一頁</button>
						</div>
					</div>
                </div>
            </div>
        </div>
    </div>
</main>

<% content_for :js do %>
 
<% end %>