<!-- TPEAA: 線上點名 -->

<main class="main">
    <div class="page-header">
        <h3>
			<small class="pr-1">2017/09/18</small>
			<small class="pr-1">星期二</small>
			<small class="pr-1">線上點名</small>
		</h3>
    </div>
    <div class="row">
        <div class="col-lg-4 col-sm-6">
			<div class="card rollcall-card card-cascade">
				<div class="view view-cascade">
					<h2 class="card-header-title mb-3">國文</h2>
					<p class="card-header-subtitle mb-0">[1,2]</p>
				</div>
				<div class="card-body card-body-cascade">
					<ul class="menu-item menu-catalog">
					    <li>
						    <span class="label">應到</span>
							<span class="num">40</span>
						</li>
						<li>
						    <span class="label">實到</span>
							<span class="num">35</span>
						</li>
						<li>
						    <span class="label">請假</span>
							<span class="num">1</span>
						</li>
						<li>
						    <span class="label">未到</span>
							<span class="num">4</span>
						</li>
					</ul>
					<hr>
					<a href="rollcall_confirm.html" class="btn btn-block btn-success">2017/09/18 08:12 王OO</a>
					<a href="rollcall_confirm.html" class="btn btn-block btn-primary">教師確認</a>
					<a href="rollcall_confirm.html" class="btn btn-block btn-primary">陳聰明助教確認</a>
				</div>
			</div>
        </div>
        <div class="col-lg-4 col-sm-6">
			<div class="card rollcall-card card-cascade">
				<div class="view view-cascade">
					<h2 class="card-header-title mb-3">英文</h2>
					<p class="card-header-subtitle mb-0">[3,4]</p>
				</div>
				<div class="card-body card-body-cascade">
					<ul class="menu-item menu-catalog">
					    <li>
						    <span class="label">應到</span>
							<span class="num">40</span>
						</li>
						<li>
						    <span class="label">實到</span>
							<span class="num">35</span>
						</li>
						<li>
						    <span class="label">請假</span>
							<span class="num">1</span>
						</li>
						<li>
						    <span class="label">未到</span>
							<span class="num">4</span>
						</li>
					</ul>
					<hr>
					<a href="rollcall_confirm.html" class="btn btn-block btn-info">開啟點名</a>
					<a href="rollcall_confirm.html" class="btn btn-block btn-primary">教師確認</a>
					<a href="rollcall_confirm.html" class="btn btn-block btn-primary">陳聰明助教確認</a>
				</div>
			</div>
        </div>
        <div class="col-lg-4 col-sm-6">
			<div class="card rollcall-card card-cascade">
				<div class="view view-cascade">
					<h2 class="card-header-title mb-3">英文</h2>
					<p class="card-header-subtitle mb-0">[7,8]</p>
				</div>
				<div class="card-body card-body-cascade">
					<ul class="menu-item menu-catalog">
					    <li>
						    <span class="label">應到</span>
							<span class="num">40</span>
						</li>
						<li>
						    <span class="label">實到</span>
							<span class="num">35</span>
						</li>
						<li>
						    <span class="label">請假</span>
							<span class="num">1</span>
						</li>
						<li>
						    <span class="label">未到</span>
							<span class="num">4</span>
						</li>
					</ul>
					<hr>
					<a href="rollcall_confirm.html" class="btn btn-block btn-info">開啟點名</a>
					<a href="rollcall_confirm.html" class="btn btn-block btn-primary">教師確認</a>
					<a href="rollcall_confirm.html" class="btn btn-block btn-primary">陳聰明助教確認</a>
				</div>
			</div>
        </div>
    </div>
</main>

<% content_for :js do %>
 
<% end %>