<!-- TPEAA: 教學計劃及授課進度表 基本資料 -->

<main class="main">
    <div class="page-header">
        <h3>
			<small class="pr-1">107年</small>
			<small class="pr-1">第1學期</small>
			<small class="pr-1">國父思想</small>
		</h3>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="col-block">
                <ul class="nav nav-tabs">
                    <li class="nav-item"><a href="#basic" class="active" aria-controls="basic" role="tab" data-toggle="tab">基本資料</a></li>
                    <li class="nav-item"><a href="#progress" aria-controls="progress" role="tab" data-toggle="tab">授課進度</a></li>
                </ul>
                <div class="block-content tab-content">
                    <div role="tabpanel" class="tab-pane active" id="basic">
						<div class="form-group">
							<label for="Textarea1">學習目的與教學目標</label>
							 <textarea class="form-control rounded-0" id="Textarea1" rows="3"></textarea>
						</div>
						<div class="form-group">
							<label for="Textarea2">課程綱要與講授要點</label>
							 <textarea class="form-control rounded-0" id="Textarea2" rows="3"></textarea>
						</div>
						<div class="form-group">
							<label for="Textarea3">課程要求與評分標準</label>
							 <textarea class="form-control rounded-0" id="Textarea3" rows="3"></textarea>
						</div>
						<div class="form-group">
							<label for="Textarea4">教學方法與評量方式</label>
							 <textarea class="form-control rounded-0" id="Textarea4" rows="3"></textarea>
						</div>
						<div class="form-group">
							<label for="Textarea5">使用教材與參考書目</label>
							 <textarea class="form-control rounded-0" id="Textarea5" rows="3"></textarea>
						</div>
						<button class="btn btn-primary my-4" type="submit">儲存</button>
                    </div>
					
                    <div role="tabpanel" class="tab-pane" id="progress">
						<div class="table-responsive">
							<table class="table table-sm">
								<thead>
									<tr>
										<th>週別</th>
										<th>月</th>
										<th>日</th>
										<th>教學單元</th>
										<th>教學內容</th>
										<th>校外教學</th>
										<th>備考</th>
									</tr>   
								</thead>
								<tbody>
									<% 24.times do %>
									<tr>
										<td>1</td>
										<td>02</td>
										<td>24</td>
										<td><input type="text" class="form-control" id="" placeholder=""></td>
										<td><input type="text" class="form-control" id="" placeholder=""></td>
										<td><input type="text" class="form-control" id="" placeholder=""></td>
										<td><input type="text" class="form-control" id="" placeholder=""></td>
									</tr>
									<% end %>
								</tbody>
							</table>
						</div>
					    <button class="btn btn-primary my-4" type="submit">儲存</button>
					</div>
                </div>
            </div>
        </div>
    </div>
</main>

<% content_for :js do %>
 
<% end %>