<!-- TPEAA: 教學計畫及授課進度表 -->

<main class="main">
    <div class="page-header">
        <h2>教學計劃及授課進度表</h2>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="col-block">
				<div class="block-header has-border">
					<div class="form-row">
						<div class="form-group col-md-6">
							<select class="browser-default custom-select">
								<option selected>107年度</option>
								<option value="1">One</option>
								<option value="2">Two</option>
								<option value="3">Three</option>
							</select>
						</div>
						<div class="form-group col-md-6">
							<select class="browser-default custom-select">
								<option selected>第 1 學期</option>
								<option value="1">One</option>
								<option value="2">Two</option>
								<option value="3">Three</option>
							</select>
						</div>
					</div>
				</div>
                <div class="block-content expansion">
					<div class="table-responsive">
						<table class="table">
							<thead>
								<tr>
									<th>序號</th>
									<th>科目代碼</th>
									<th>科目名稱</th>
									<th>學分數</th>
									<th>編輯</th>
								</tr>   
							</thead>
							<tbody>
								<tr>
									<td>1</td>
									<td>A110101</td>
									<td>國父思想</td>
									<td>2.0</td>
									<td>
									    <a href="t-plan-basic.html"><i class="fa fa-pencil"></i></a>
									</td>
								</tr>
								<tr>
									<td>2</td>
									<td>A110102</td>
									<td>國文1</td>
									<td>2.0</td>
									<td>
									    <a href="t-plan-basic.html"><i class="fa fa-pencil"></i></a>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
                </div>
            </div>
        </div>
    </div>
</main>

<% content_for :js do %>
 
<% end %>