<!-- TPEAA: 表格工具列展示 -->

<main class="main">
    <div class="page-header">
        <h3>公告管理系統</h3>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="col-block">
				<div class="block-header d-flex has-border">
					<div class="mr-2">
						<div class="btn-group btn-group-sm unshadow">
							<a class="btn btn-white" role="button"><i class="fa fa-plus"></i></a>
							<a class="btn btn-white" role="button"><i class="fa fa-square-o"></i></a>
							<a class="btn btn-white" role="button"><i class="fa fa-trash-o"></i></a>
						</div>
						<div class="btn-group btn-group-sm unshadow">
							<a class="btn btn-white" role="button"><i class="fa fa-refresh"></i></a>
							<a class="btn btn-white" role="button"><i class="fa fa-list"></i></a>
							<a class="btn btn-white" role="button"><i class="fa fa-cog"></i></a>
							<a class="btn btn-white" role="button"><i class="fa fa-sort-alpha-asc"></i></a>
						</div>
					</div>
					<div class="d-inline mr-auto">
						<select class="browser-default custom-select xs">
							<option selected="">正34期01班(行)</option>
							<option value="1">One</option>
							<option value="2">Two</option>
							<option value="3">Three</option>
						</select>
					</div>
				</div>
                <div class="block-content expansion">
					<div class="table-responsive">
						<table class="table th-lighten5">
							<thead class="keep-all">
								<tr>
									<th>#</th>
									<th><label for="checkall" class="mr-2 label-table form-check-label">&nbsp;</label></th>
									<th>編輯</th>
									<th>訊息主題</th>
									<th>發布日期</th>
									<th>截止時間</th>
									<th>公告對象及群組</th>
									<th>審查狀態</th>
									<th>附件檔案</th>
									<th>通知人數</th>
									<th>已讀</th>
									<th>未讀</th>
									<th>訊息內容</th>
									<th>最後修改</th>
									<th>操作人員</th>
								</tr>   
							</thead>
							<tbody>
								<% 5.times do %>
								<tr>
									<td>1</td>
									<td><label for="checkall" class="mr-2 label-table form-check-label">&nbsp;</label></td>
									<td><button title="編輯" data-toggle="tooltip" type="button" class="btn btn-xs btn-default"><i class="fa fa-pencil"></i></button></td>
									<td>108年度獎懲辦法修訂內容</td>
									<td>2019-01-01 00:00</td>
									<td>2019-01-31 23:59</td>
									<td>指定群組：正式員工,全校師生</td>
									<td>同意</td>
									<td><a href="/bulletinmgr/bulletin/download.file/sn/2/" class="btn btn-default btn-sm" target="_blank">下載附件</a></td>
									<td>742</td>
									<td>2</td>
									<td>740</td>
									<td><span class="list-string" data-toggle="popover" data-trigger="hover" data-placement="bottom" data-html="true" data-content="108年度獎懲辦法修訂內容，請同仁務必仔細閱讀並遵守相關規定內容。" data-original-title="" title="">108年度獎懲辦法修訂內容，請同仁務必仔...</span></td>
									<td>2018-12-28 11:21</td>
									<td>邱信超</td>
								</tr>
								<% end %>
							</tbody>
						</table>
					</div>
                </div>
				<div class="block-footer">
					<div class="d-flex justify-content-between align-items-center">
						<div>
							<span id="checkedCount">選取 <strong>0</strong> 筆,</span>
							<span class="pr10">共 6 筆</span>
						</div>
						<nav aria-label="pagination example">
							<ul class="pagination pg-blue mb-0">
								<li class="page-item disabled">
									<a class="page-link waves-effect waves-effect" href="#" aria-label="Previous">
										<span aria-hidden="true">«</span>
										<span class="sr-only">Previous</span>
									</a>
								</li>
								<li class="page-item active">
									<a class="page-link waves-effect waves-effect" href="#">1 <span class="sr-only">(current)</span></a>
								</li>
								<li class="page-item"><a class="page-link waves-effect waves-effect" href="#">2</a></li>
								<li class="page-item"><a class="page-link waves-effect waves-effect" href="#">3</a></li>
								<li class="page-item"><a class="page-link waves-effect waves-effect" href="#">4</a></li>
								<li class="page-item"><a class="page-link waves-effect waves-effect" href="#">5</a></li>
								<li class="page-item">
									<a class="page-link waves-effect waves-effect" href="#" aria-label="Next">
										<span aria-hidden="true">»</span>
										<span class="sr-only">Next</span>
									</a>
								</li>
							</ul>
						</nav>					
						<select class="mdb-select md-form mt-0">
							<option value="" disabled selected>Choose your option</option>
							<option value="1">Option 1</option>
							<option value="2">Option 2</option>
							<option value="3">Option 3</option>
						</select>
					</div>
				</div>
            </div>
        </div>
    </div>
	<h4>工具列按鈕</h4>
    <div class="row">
        <div class="col-12">
            <div class="col-block">
				<div class="block-header d-flex has-border">
					<div class="mr-2">
						<div class="btn-group">
							<a class="btn btn-primary" role="button"><i class="fa fa-plus"></i></a>
							<a class="btn btn-primary" role="button"><i class="fa fa-square-o"></i></a>
							<a class="btn btn-primary" role="button"><i class="fa fa-trash-o"></i></a>
						</div>
						<div class="btn-group">
							<a class="btn btn-primary" role="button"><i class="fa fa-refresh"></i></a>
							<a class="btn btn-primary" role="button"><i class="fa fa-list"></i></a>
							<a class="btn btn-primary" role="button"><i class="fa fa-cog"></i></a>
							<a class="btn btn-primary" role="button"><i class="fa fa-sort-alpha-asc"></i></a>
						</div>
					</div>
					<div class="d-inline mr-auto">
						<select class="browser-default custom-select">
							<option selected="">正34期01班(行)</option>
							<option value="1">One</option>
							<option value="2">Two</option>
							<option value="3">Three</option>
						</select>
					</div>
				</div>
                <div class="block-content expansion">
					<div class="table-responsive">
						<table class="table th-lighten4">
							<thead class="keep-all">
								<tr>
									<th>#</th>
									<th><label for="checkall" class="mr-2 label-table form-check-label">&nbsp;</label></th>
									<th>編輯</th>
									<th>訊息主題</th>
									<th>發布日期</th>
									<th>截止時間</th>
									<th>公告對象及群組</th>
									<th>審查狀態</th>
									<th>附件檔案</th>
									<th>通知人數</th>
									<th>已讀</th>
									<th>未讀</th>
									<th>訊息內容</th>
									<th>最後修改</th>
									<th>操作人員</th>
								</tr>   
							</thead>
							<tbody>
								<% 5.times do %>
								<tr>
									<td>1</td>
									<td><label for="checkall" class="mr-2 label-table form-check-label">&nbsp;</label></td>
									<td><button title="編輯" data-toggle="tooltip" type="button" class="btn btn-xs btn-default"><i class="fa fa-pencil"></i></button></td>
									<td>108年度獎懲辦法修訂內容</td>
									<td>2019-01-01 00:00</td>
									<td>2019-01-31 23:59</td>
									<td>指定群組：正式員工,全校師生</td>
									<td>同意</td>
									<td><a href="/bulletinmgr/bulletin/download.file/sn/2/" class="btn btn-default btn-sm" target="_blank">下載附件</a></td>
									<td>742</td>
									<td>2</td>
									<td>740</td>
									<td><span class="list-string" data-toggle="popover" data-trigger="hover" data-placement="bottom" data-html="true" data-content="108年度獎懲辦法修訂內容，請同仁務必仔細閱讀並遵守相關規定內容。" data-original-title="" title="">108年度獎懲辦法修訂內容，請同仁務必仔...</span></td>
									<td>2018-12-28 11:21</td>
									<td>邱信超</td>
								</tr>
								<% end %>
							</tbody>
						</table>
					</div>
                </div>
				<div class="block-footer">
					<div class="d-flex justify-content-between align-items-center">
						<div>
							<span id="checkedCount">選取 <strong>0</strong> 筆,</span>
							<span class="pr10">共 6 筆</span>
						</div>
						<nav aria-label="pagination example">
							<ul class="pagination pg-blue mb-0">
								<li class="page-item disabled">
									<a class="page-link waves-effect waves-effect" href="#" aria-label="Previous">
										<span aria-hidden="true">«</span>
										<span class="sr-only">Previous</span>
									</a>
								</li>
								<li class="page-item active">
									<a class="page-link waves-effect waves-effect" href="#">1 <span class="sr-only">(current)</span></a>
								</li>
								<li class="page-item"><a class="page-link waves-effect waves-effect" href="#">2</a></li>
								<li class="page-item"><a class="page-link waves-effect waves-effect" href="#">3</a></li>
								<li class="page-item"><a class="page-link waves-effect waves-effect" href="#">4</a></li>
								<li class="page-item"><a class="page-link waves-effect waves-effect" href="#">5</a></li>
								<li class="page-item">
									<a class="page-link waves-effect waves-effect" href="#" aria-label="Next">
										<span aria-hidden="true">»</span>
										<span class="sr-only">Next</span>
									</a>
								</li>
							</ul>
						</nav>					
						<select class="mdb-select md-form mt-0">
							<option value="" disabled selected>Choose your option</option>
							<option value="1">Option 1</option>
							<option value="2">Option 2</option>
							<option value="3">Option 3</option>
						</select>
					</div>
				</div>
            </div>
        </div>
    </div>
</main>

<% content_for :js do %>
<script>
    $(document).ready(function () {
      $('.mdb-select').material_select();
    });
</script>
<% end %>