<!-- TPEAA: 課表查詢 -->

<main class="main">
    <div class="page-header">
		<div class="form-row">
			<div class="form-group col-lg-3 col-md-6">
				<select class="browser-default custom-select">
					<option selected>107 年度</option>
					<option value="1">One</option>
					<option value="2">Two</option>
					<option value="3">Three</option>
				</select>
			</div>
			<div class="form-group col-lg-3 col-md-6">
				<select class="browser-default custom-select">
					<option selected>第 1 學期</option>
					<option value="1">One</option>
					<option value="2">Two</option>
					<option value="3">Three</option>
				</select>
			</div>
		</div>
		<div class="form-group col-md-6">
			<label for="">請選擇課表類別</label>
			<div>
				<div class="form-check form-check-inline">
					<input type="radio" class="form-check-input" id="materialInline1" name="inlineMaterialRadiosExample">
					<label class="form-check-label" for="materialInline1">老師課表</label>
				</div>
				<div class="form-check form-check-inline">
					<input type="radio" class="form-check-input" id="materialInline2" name="inlineMaterialRadiosExample">
					<label class="form-check-label" for="materialInline2">教室課表</label>
				</div>
				<div class="form-check form-check-inline">
					<input type="radio" class="form-check-input" id="materialInline3" name="inlineMaterialRadiosExample">
					<label class="form-check-label" for="materialInline3">班級課表</label>
				</div>
			</div>
		</div>
		<div class="form-row">
			<div class="form-group col-lg-3 col-md-6 col-sm-12 mt-0">
				<select class="browser-default custom-select">
					<option selected>107 年度</option>
					<option value="1">One</option>
					<option value="2">Two</option>
					<option value="3">Three</option>
				</select>
			</div>
		</div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="col-block">
                <div class="block-content expansion">
					<div class="table-responsive">
						<table class="table table-striped timetable">
							<thead>
								<tr>
									<th>#</th>
									<th>星期一</th>
									<th>星期二</th>
									<th>星期三</th>
									<th>星期四</th>
									<th>星期五</th>
								</tr>   
							</thead>
							<tbody>
								<tr>
									<th>08:00-08:50</th>
									<td></td>
									<td rowspan="2" class="has-course">
									    <span>國文</span>
										<span>[正34期01班(行)]</span>
										<span>樹人103</span>
										<span>老師：OOO</span>
										<span>助教：OOO</span>
									</td>
									<td></td>
									<td></td>
									<td></td>
								</tr>
								<tr>
									<th>09:00-09:50</th>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
								</tr>
								<tr>
									<th>10:10-11:00</th>
									<td></td>
									<td class="has-course">
									    <span>英文</span>
										<span>[正34期01班(行)]</span>
										<span>樹人103</span>
										<span>老師：OOO</span>
									</td>
									<td></td>
									<td></td>
									<td></td>
								</tr>
								<tr>
									<th>11:10-12:00</th>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
								</tr>
								<tr>
									<th>14:00-14:50</th>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
								</tr>
								<tr>
									<th>15:00-15:50</th>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
								</tr>
								<tr>
									<th>16:00-16:50</th>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
								</tr>
								<tr>
									<th>17:00-17:50</th>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
								</tr>
							</tbody>
						</table>
					</div>
                </div>
            </div>
        </div>
    </div>
</main>

<% content_for :js do %>
 
<% end %>