<!-- template: 首頁 -->

<div class="container-lg">
	<div class="index-content logged-in">
        <div class="page-title">
            <h3>選擇獎學金</h3>
        </div>
		<ul class="menu-item scholarship-list">
		    <li class="scholarship-item">
			    <div class="item-card">
				    <div class="card-head">
						<span class="semester">111學年度 第1學期</span>
					    <h4>英語培力語言獎學金 <span class="badge bg-secondary">第一階段</span></h4>
					</div>
					<div class="card-body">
					    <div class="info-group">
						    <span class="label">申請開放時間</span>
							<span class="date">2022-01-01 ~ 2022-12-01</span>
						</div>
						<div class="info-group">
						    <span class="label">申請條件限制</span>
							<p class="mb-0"><%= zh_lorem_paragraph %></p>
						</div>
					</div>
					<div class="card-foot">
					    <a href="#" class="btn btn-lg btn-third">申請</a>
					</div>
				</div>
			</li>
			<li class="scholarship-item">
			    <div class="item-card">
				    <div class="card-head">
						<span class="semester">111學年度 第1學期</span>
					    <h4>英語培力語言獎學金 <span class="badge bg-secondary">第二階段</span></h4>
					</div>
					<div class="card-body">
					    <div class="info-group">
						    <span class="label">申請開放時間</span>
							<span class="date">2022-01-01 ~ 2022-12-01</span>
						</div>
						<div class="info-group">
						    <span class="label">申請條件限制</span>
							<p class="mb-0"><%= zh_lorem_paragraph %></p>
						</div>
					</div>
					<div class="card-foot">
					    <a href="#" class="btn btn-lg btn-third">申請</a>
					</div>
				</div>
			</li>
			<li class="scholarship-item">
			    <div class="item-card">
				    <div class="card-head">
						<span class="semester">111學年度 第1學期</span>
					    <h4>英語培力修課獎學金</h4>
					</div>
					<div class="card-body">
					    <div class="info-group">
						    <span class="label">申請開放時間</span>
							<span class="date">2022-01-01 ~ 2022-12-01</span>
						</div>
						<div class="info-group">
						    <span class="label">申請條件限制</span>
							<p class="mb-0"><%= zh_lorem_paragraph %></p>
						</div>
					</div>
					<div class="card-foot">
					    <a href="#" class="btn btn-lg btn-third">申請</a>
					</div>
				</div>
			</li>
			<li class="scholarship-item">
			    <div class="item-card">
				    <div class="card-head">
						<span class="semester">111學年度 第1學期</span>
					    <h4>英檢助學金</h4>
					</div>
					<div class="card-body">
					    <div class="info-group">
						    <span class="label">申請開放時間</span>
							<span class="date">2022-01-01 ~ 2022-12-01</span>
						</div>
						<div class="info-group">
						    <span class="label">申請條件限制</span>
							<p class="mb-0"><%= zh_lorem_paragraph %></p>
						</div>
					</div>
					<div class="card-foot">
					    <a href="#" class="btn btn-lg btn-third">申請</a>
					</div>
				</div>
			</li>
		</ul>
        <div class="page-title">
            <h3>公告</h3>
        </div>
		<div class="announcement-wrapper announcement-flex">
            <ul class="menu-item">
                <li class="ann-item">
                    <div class="ann-head">
                        <span class="post-pinned" title="置頂"><i class="fas fa-thumbtack"></i></span>
                        <span class="post-date">2022-09-25</span>
                        <span class="post-tag">
                            <a href="#" class="btn btn-outline-primary btn-rounded">英語培力語言獎學金</a>
                        </span>
                    </div>
                    <div class="ann-link">
                        <a href="#">07/13-07/15 東華與澳洲昆士蘭語言機構 EMI證照密集工作坊</a>
                    </div>
                </li>
                <li class="ann-item">
                    <div class="ann-head">
                        <span class="post-pinned" title="置頂"><i class="fas fa-thumbtack"></i></span>
                        <span class="post-date">2022-09-25</span>
                        <span class="post-tag">
                            <a href="#" class="btn btn-outline-primary btn-rounded">英檢助學金</a>
                        </span>
                    </div>
                    <div class="ann-link">
                        <a href="#">04/28 EMI 高峰會系列講座 第二場</a>
                    </div>
                </li>
                <% (1..2).map do |i| %>
                <li class="ann-item">
                    <div class="ann-head">
                        <span class="post-date">2022-09-25</span>
                        <span class="post-tag">
                            <a href="#" class="btn btn-outline-primary btn-rounded">英檢助學金</a>
                        </span>
                    </div>
                    <div class="ann-link">
                        <a href="#">110-2 英語培力語言獎學金-第一階段 (第一梯次)申請公告(自即日起至3/16止)</a>
                    </div>
                </li>
				<li class="ann-item">
                    <div class="ann-head">
                        <span class="post-date">2022-09-25</span>
                        <span class="post-tag">
                            <a href="#" class="btn btn-outline-primary btn-rounded">英檢助學金</a>
                        </span>
                    </div>
                    <div class="ann-link">
                        <a href="#">英語培力語言獎學金</a>
                    </div>
                </li>
				<li class="ann-item">
                    <div class="ann-head">
                        <span class="post-date">2022-09-25</span>
                        <span class="post-tag">
                            <a href="#" class="btn btn-outline-primary btn-rounded">英檢助學金</a>
                        </span>
                    </div>
                    <div class="ann-link">
                        <a href="#">東華與澳洲昆士蘭語言機構 EMI證照密集工作坊</a>
                    </div>
                </li>
                <% end %>
            </ul>
            <p class="more-link"><a href="#" class="btn btn-light">更多 <i class="fas fa-long-arrow-alt-right"></i></a></p>
        </div>
	</div>
</div>



<% content_for :js do %>

<% end %>

