<!-- template: 未登入首頁 -->

<div class="container-lg">
	<div class="index-content">
	    <main class="main">
            <div class="page-title">
                <h3>公告</h3>
            </div>
			<div class="announcement-wrapper">
				<ul class="menu-item">
					<li class="ann-item">
					    <div class="ann-head">
						    <span class="post-pinned" title="置頂"><i class="fas fa-thumbtack"></i></span>
							<span class="post-date">2022-09-25</span>
							<span class="post-tag">
							    <a href="#" class="btn btn-outline-primary btn-rounded">英語培力語言獎學金</a>
							</span>
						</div>
						<div class="ann-link">
						    <a href="#">07/13-07/15 東華與澳洲昆士蘭語言機構 EMI證照密集工作坊</a>
						</div>
					</li>
					<li class="ann-item">
					    <div class="ann-head">
						    <span class="post-pinned" title="置頂"><i class="fas fa-thumbtack"></i></span>
							<span class="post-date">2022-09-25</span>
							<span class="post-tag">
							    <a href="#" class="btn btn-outline-primary btn-rounded">英檢助學金</a>
							</span>
						</div>
						<div class="ann-link">
						    <a href="#">04/28 EMI 高峰會系列講座 第二場</a>
						</div>
					</li>
					<% (1..6).map do |i| %>
				    <li class="ann-item">
					    <div class="ann-head">
							<span class="post-date">2022-09-25</span>
							<span class="post-tag">
							    <a href="#" class="btn btn-outline-primary btn-rounded">英檢助學金</a>
							</span>
						</div>
						<div class="ann-link">
						    <a href="#">110-2 英語培力語言獎學金-第一階段 (第一梯次)申請公告(自即日起至3/16止)</a>
						</div>
					</li>
					<% end %>
				</ul>
				<p class="more-link"><a href="#" class="btn btn-light">更多 <i class="fas fa-long-arrow-alt-right"></i></a></p>
			</div>
		</main>
		<aside class="aside">
            <div class="login-card">
                <h4>登入</h4>
				<div class="card-bd">
                    <div class="form-group">
                        <label for="exampleInputEmail1" class="form-label">請輸入學號</label>
                        <input type="text" class="form-control" id="exampleInputEmail1" />
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1" class="form-label">請輸入密碼</label>
                        <input type="password" class="form-control" id="exampleInputPassword1" />
                    </div>
                    <div class="form-group">
                        <label for="loginInput4" class="form-label">驗證碼</label>
                        <div class="d-flex align-items-center">
                            <span class="me-1"><input type="text" class="form-control" id="loginInput4"></span>
                            <span class="me-1"><img class="captcha" src="http://nfu-map.dev.com.tw/common/captcha.image"></span>
                            <span>
                                <button class="btn btn-xs btn-outline-primary" type="button"><i class="fas fa-sync-alt"></i></button>
                            </span>
                        </div>
                    </div>
				</div>
                <div class="card-ft">
                    <button class="btn btn-lg btn-primary" type="submin">送出</button>
                </div>
            </div>
		</aside>
	</div>
</div>



<% content_for :js do %>

<% end %>

