<!-- template: 登入首頁 -->

<div class="container-lg">
	<div class="home-content">
	    <main class="main">
            <div class="page-title">
                <h3>公告</h3>
            </div>
			<div class="announcement-wrapper">
				<ul class="menu-item">
				    <li class="ann-item">
					    <div class="ann-head">
						    <span class="post-pinned"><i class="fas fa-map-pin"></i></span>
							<span class="post-date">2022-09-25</span>
							<span class="post-tag">
							    <a href="#">英語培力語言獎學金</a>
							</span>
						</div>
						<div class="ann-link">
						    <a href="#">110-2 英語培力語言獎學金-第一階段 (第一梯次)申請公告(自即日起至3/16止)</a>
						</div>
					</li>
				</ul>
			</div>
		</main>
		<aside class="aside">
			<div class="schedule-wrapper">
                <div class="schedule-item">
                    <h5>申請開放日期</h5>
                    <div class="date">
                        <i class="far fa-calendar-minus"></i>
                        2022-09-01 ~ 2022-11-30
                    </div>
                </div>
				<div class="schedule-item">
                    <h5>資格初審日期</h5>
                    <div class="date">
                        <i class="far fa-calendar-minus"></i>
                        2022-10-01 ~ 2022-12-31
                    </div>
                </div>
			</div>
		</aside>
	</div>
</div>



<% content_for :js do %>

<% end %>

