
/* `Footer
-----------------------------------------------------------------------------*/

footer.footer {
	color: #999;
	.footer-inner {
		display: flex;
		justify-content: space-between;
		border-top: 1px dashed #ddd;
		padding: 60px 0;
	}
	.block-transition {
		display: flex;
		background: url("../../assets/desk-lamp.png") no-repeat;
		background-size: 78px 92px;
		padding-left: 96px;
		width: 50%;
	}
	.menu-item.contact {
		margin-bottom: 1rem;
		li {
			margin-bottom: .25rem;
			padding-left: 30px;
			position: relative;
		}
		.fas {
			width: 16px;
			text-align: center;
			font-size: 14px;
			color: #ccc;
			position: absolute;
			left: 0;
			top: 5px;
			top: 5px;
		}
	}
	.end-content {
		width: 45%;
		text-align: end;
	}
	a {
		color: #000;
		&:hover {
			color: $link;
		}
	}
	address {
		margin-bottom: 0;
	}
}








