
@import "base";
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300;400;500;700;800&display=swap');

/* `All
-----------------------------------------------------------------------------*/

.container {
    width: 1140px !important;
	max-width: 1140px !important;
}

.workspace {
	height: 100%;
}

.pages {
	min-height: 100%;
}

.content { padding-bottom: 162px; }

.banner {
	margin-bottom: 50px;
	position: relative;
	img {
		display: block;
		width: 100%;
		height: auto;
	}
	.banner-text {
		background: rgba(#000, .75);
		padding: 20px 30px;
		width: 296px;
		font-size: 28px;
		font-weight: 500;
		color: #fff;
		line-height: 1.2;
		position: absolute;
		left: 30px;
		bottom: 30px;
	}
}

main.main {
	padding-bottom: 80px;
}

.main-text {
	margin-bottom: 40px;
	font-size: 32px;
	font-weight: 500;
	color: $main_color;
}

.round-item {
	margin-bottom: 80px;
	&:last-child { margin-bottom: 0; }
	.round-title {
		margin-bottom: 1rem;
        font-size: 28px;
        font-weight: 400;
		position: relative;
		span {
			display: inline-block;
			background: #fff;
			padding-right: 3rem;
		}
		&:after {
			content: "";
			background: #dce0e5;
			height: 1px;
			position: absolute;
			left: 0;
			right: 0;
			top: 50%;
			z-index: -1;
		}
	}
	.intro {
		margin-bottom: 1.5rem;
		p {
			margin: .25rem 0 0;
			strong { color: $main_color; }
		}
	}
}

.btn-unique {
    border-radius: .375rem;
    margin: 0;
    background: $main_color !important;
    text-transform: none;
}

.main-wrapper {
	display: flex;
	justify-content: space-between;
	.key-info {
		width: 350px;
		a {
			text-decoration: underline;
			&:hover { text-decoration: none; }
		}
	}
	.main-guide {
		width: 700px;
	}
}

.block-title {
	margin-bottom: 20px;
	font-size: 28px;
	font-weight: 500;
	color: #000;
}

.guide-block {
	border-bottom: 1px solid #dce0e5;
	margin-bottom: 2rem;
	padding-bottom: 2rem;
	&:last-child {
        border-bottom: none;
        margin-bottom: 0;
        padding-bottom: 0;
	}
	.guide-info { color: #666; }
	label { color: $main_color; }
}

.forget-password {
	margin-top: 1rem;
	a {
		color: $main_color;
		&:hover {
			color: #5d1e2a;
		}
	}
}




















