<!-- edu-seminar: 報名表  -->

<div class="container">
	<main class="main">
		<div class="application-wrapper">
			<div class="application-head">
			    <h3>北區 <small>國內大專校院選送學生出國研修或國外專業實習補助要點說明會</small></h3>
			</div>
		    <form>
			    <div class="row">
				    <div class="col-6">
                        <div class="form-group">
                            <label for="applicantName"><span class="required">*</span> 姓名</label>
                            <input type="text" class="form-control" id="applicantName">
                        </div>
					</div>
					<div class="col-6">
                        <div class="form-group">
                            <label for="applicantEmail"><span class="required">*</span> 信箱</label>
                            <input type="email" class="form-control" id="applicantEmail">
                        </div>
					</div>
					<div class="col-6">
                        <div class="form-group">
                            <label><span class="required">*</span> 學校名稱</label>
                            <select class="browser-default custom-select">
                                <option selected="">請選擇</option>
                                <option value="國立交通大學">國立交通大學</option>
                                <option value="國立台灣大學">國立台灣大學</option>
                                <option value="台北科技大學">台北科技大學</option>
                            </select>
                            
                        </div>
					</div>
					<div class="col-6">
                        <div class="form-group">
                            <label for="schoolDepartment"><span class="required">*</span> 單位/系所</label>
                            <input type="text" class="form-control" id="schoolDepartment">
                        </div>
					</div>
					<div class="col-6">
                        <div class="form-group">
                            <label><span class="required">*</span> 身份別</label>
                            <select class="browser-default custom-select">
                                <option selected="">請選擇</option>
                                <option value="學生">學生</option>
                                <option value="家長">家長</option>
                                <option value="老師">老師</option>
                            </select>
                        </div>
					</div>
					<div class="col-6">
                        <div class="form-group">
                            <label>承辦或執行過幾年學海計畫</label>
                            <select class="browser-default custom-select">
                                <option selected="">請選擇</option>
                                <option value="無">無</option>
                                <option value="不滿一年">不滿一年</option>
                                <option value="1 年">1 年</option>
                            </select>
                        </div>
					</div>
				</div>
				<p class="employees">北區目前報名人數：<strong>97</strong></p>
				<div class="text-center">
					<button type="submit" class="btn blue-gradient">送出申請</button>
				</div>
			</form>
		</div>
	</main>
</div>

<% content_for :js do %>

<script src="../javascripts/parallax.min.js"></script>
<script>
    // run parallax when everything has loaded
    $(window).on('load', function(){
        // define parallax dependencies
        var scene = document.getElementById('scene');
        var images = $('.layer');
        var p = new Parallax(scene);

        //fade in the view
        $('#scene').fadeIn(1800);
    });
</script>

<% end %>