<!-- edu-seminar: 首頁  -->

<div class="container">
	<main class="main">
		<div class="banner">
			<div class="plan">
			    <span>學海飛颺</span>
				<span>學海惜珠</span>
				<span>學海築夢</span>
				<span>新南向學海築夢</span>
			</div>
            <ul id="scene" class="menu-item">
                <li class="layer layer1" data-depth="0.15">
					<img src="../assets/landmark-merlion.png" />
				</li>
                <li class="layer layer2" data-depth="0.2">
				    <img src="../assets/landmark-opera.png" />
				</li>
                <li class="layer layer3" data-depth="0.10">
                    <img src="../assets/landmark-liberty.png" />
                </li>
                <li class="layer layer4" data-depth="0.06">
                    <img src="../assets/landmark-bigben.png" />
                </li>
				<li class="layer layer5" data-depth="0.08">
                    <img src="../assets/landmark-eiffel.png" />
                </li>
				<li class="layer layer6" data-depth="0.05">
                    <img src="../assets/bg-banner.png" />
                </li>
            </ul>
		</div>
		<div class="info-wrapper">
            <div class="info-title">
                <h5>報名資訊</h5>
            </div>
			<div class="region-wrap">
			    <div class="region">
					<div class="region-inner">
                        <h3>北區</h3>
                        <ul class="menu-item">
                            <li>
                                <span class="region-label">時間</span>
                                <span class="region-info">108/12/25 13:00~16:00</span>
                            </li>
                            <li>
                                <span class="region-label">地點</span>
                                <span class="region-info">逢甲大學・第六國際會議廳</span>
                            </li>
                            <li>
                                <span class="region-label">校內交通</span>
                                <span class="region-info"><a href="#"><i class="fa fa-map-marker"></i></a></span>
                            </li>
                            <li>
                                <span class="region-label">交通方式</span>
                                <span class="region-info"><a href="#"><i class="fa fa-bus"></i></a></span>
                            </li>
                        </ul>
                        <a href="form.html" class="btn btn-apply">前往報名</a>
					</div>
				</div>
				<div class="region">
					<div class="region-inner">
                        <h3>中區</h3>
                        <ul class="menu-item">
                            <li>
                                <span class="region-label">時間</span>
                                <span class="region-info">108/12/25 13:00~16:00</span>
                            </li>
                            <li>
                                <span class="region-label">地點</span>
                                <span class="region-info">逢甲大學・第六國際會議廳</span>
                            </li>
                            <li>
                                <span class="region-label">校內交通</span>
                                <span class="region-info"><a href="#"><i class="fa fa-map-marker"></i></a></span>
                            </li>
                            <li>
                                <span class="region-label">交通方式</span>
                                <span class="region-info"><a href="#"><i class="fa fa-bus"></i></a></span>
                            </li>
                        </ul>
                        <a href="form.html" class="btn btn-apply">前往報名</a>
					</div>
				</div>
				<div class="region">
					<div class="region-inner">
                        <h3>南區</h3>
                        <ul class="menu-item">
                            <li>
                                <span class="region-label">時間</span>
                                <span class="region-info">108/12/25 13:00~16:00</span>
                            </li>
                            <li>
                                <span class="region-label">地點</span>
                                <span class="region-info">逢甲大學・第六國際會議廳</span>
                            </li>
                            <li>
                                <span class="region-label">校內交通</span>
                                <span class="region-info"><a href="#"><i class="fa fa-map-marker"></i></a></span>
                            </li>
                            <li>
                                <span class="region-label">交通方式</span>
                                <span class="region-info"><a href="#"><i class="fa fa-bus"></i></a></span>
                            </li>
                        </ul>
                        <a href="form.html" class="btn btn-apply">前往報名</a>
					</div>
				</div>
			</div>
		</div>
		<div class="introduction-wrapper">
			<div class="intro">
			    <p class="my-0"><a class="file-download" href="#"><i class="fa fa-cloud-download"></i>下載要點</a></p>
			</div>
			<div class="intro">
			    <h5>與會人員</h5>
				<p>有意願參與選送計畫之學校除指派相關承辦人員及行政主管各1名出席，並請於校內公告通知。</p>
				<p>歡迎有意出國研修或實習之學生及參與執行選送國外實習計畫之系所教授參加。</p>
			</div>
			<div class="intro">
			    <h5>報名方式</h5>
				<p>請擇一場次報名，報名截止時間108/12/23 17:00 P.M. </p>
				<p>本說明會採上網報名方式，每梯次因場地空間有限，將依報名先後次序為準，如有不便請見諒。</p>
			</div>
		</div>
	</main>
</div>

<% content_for :js do %>

<script src="../javascripts/parallax.min.js"></script>
<script>
    // run parallax when everything has loaded
    $(window).on('load', function(){
        // define parallax dependencies
        var scene = document.getElementById('scene');
        var images = $('.layer');
        var p = new Parallax(scene);

        //fade in the view
        $('#scene').fadeIn(1800);
    });
</script>

<% end %>