<!-- admin-page: UI / 404 -->
<%= render :partial => "/partials/admin_breadcrumb" %>

<main class="main">
    <div class="error-page">
		<div class="error-inner">
            <h2 class="codename">404</h2>
            <p class="caption"><%= lorem_sentences(1) %></p>
            <form>
                <div class="input-group justify-content-center mb-3">
                    <div class="form-outline">
                        <input type="search" id="form1" class="form-control" />
                        <label class="form-label" for="form1">Search</label>
                    </div>
                    <button type="button" class="btn btn-primary">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
            </form>
			<p><a href="#">Go back to dashborad</a></p>
		</div>
    </div>
</main>