<!-- admin-page: UI / Alerts & Wells -->
<%= render :partial => "/partials/admin_breadcrumb" %>

<main class="main">
    <div class="page-header">
        <h2>Alerts / Well</h2>
        <p>Bootstrap style</p>
    </div>
    <div class="row">
        <div class="col-6">
            <div class="col-block">
                <div class="block-header has-border">Default</div>
                <div class="block-content">
                    <div class="alert alert-primary" role="alert">A simple primary alert—check it out!</div>
                    <div class="alert alert-secondary" role="alert">A simple secondary alert—check it out!</div>
                    <div class="alert alert-success" role="alert">A simple success alert—check it out!</div>
                    <div class="alert alert-danger" role="alert">A simple danger alert—check it out!</div>
                    <div class="alert alert-warning" role="alert">A simple warning alert—check it out!</div>
                    <div class="alert alert-info" role="alert">A simple info alert—check it out!</div>
                    <div class="alert alert-light" role="alert">A simple light alert—check it out!</div>
                    <div class="alert alert-dark" role="alert">A simple dark alert—check it out!</div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="col-block">
                <div class="block-header has-border">Dismissible alerts</div>
                <div class="block-content">
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        <strong>Holy guacamole!</strong> You should check in on some of those fields below.
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <h4 class="content-heading">使用類似舊版 well 的方式</h4>
    <div class="row">
        <div class="col-6">
            <div class="col-block">
                <div class="block-header has-border">Default</div>
                <div class="block-content">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">
                                <code>.card</code>
                            </p>
                            <button type="button" class="btn btn-primary">Button</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="col-block">
                <div class="block-header has-border">Optional</div>
                <div class="block-content">
                    <p>可以加上相關 class 讓容器符合需求，例如以下樣式為 padding 1rem、背景淺灰、取消陰影、margin bottom 1rem</p>
                    <div class="card p-3 bg-lightgrey unshadow mb-3">
                        <code>.card .p-3 .bg-lightgrey .unshadow .mb-3</code>
                    </div>
                    <p>或是 padding 1.5rem、背景灰</p>
                    <div class="card p-4 bg-grey">
                        <code>.card .p-4 .bg-grey</code>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<% content_for :js do %>

<% end %>