<!-- admin-page: Vertical Tabs -->
<%= render :partial => "/partials/admin_breadcrumb" %>

<main class="main">
	
    <div class="page-header">
        <h2>Vertical Tabs</h2>
		<p>學術單位一覽表</p>
    </div>
	
	<div class="row">
		<div class="col-6">
			<div class="col-block">
				<div class="block-header has-border">
					<h5 class="d-inline-block text-secondary">一級單位</h5>
					<div class="float-end m-0">
                        <button type="button" class="btn btn-sm btn-primary">新增</button>
                    </div>
				</div>
                <ul class="nav nav-tabs vertical-tabs mb-0" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="example_1-tab" data-mdb-toggle="tab" href="#example_1" role="tab" aria-controls="example_1" aria-selected="true">
						    <div class="department-wrap">
							    <div class="indicate">
								    <h4 class="title">工程學院</h4>
									<h6 class="en">College of Engineering</h6>
									<p class="count">5 個 2 級單位</p>
								</div>
								<div class="action">
                                    <div class="btn-group btn-group-sm unshadow">
                                        <button type="button" class="btn btn-white" role="button" title="編輯"><i class="fas fa-pencil-alt"></i></button>
                                        <button type="button" class="btn btn-white" role="button" title="上移"><i class="fas fa-long-arrow-alt-up"></i></button>
                                        <button type="button" class="btn btn-white" role="button" title="下移"><i class="fas fa-long-arrow-alt-down"></i></button>
                                    </div>
								</div>
							</div>
						</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" id="example_2-tab" data-mdb-toggle="tab" href="#example_2" role="tab" aria-controls="example_2" aria-selected="false">
						    <div class="department-wrap">
							    <div class="indicate">
								    <h4 class="title">資訊學院</h4>
									<h6 class="en">College of Information</h6>
									<p class="count">5 個 2 級單位</p>
								</div>
								<div class="action">
                                    <div class="btn-group btn-group-sm unshadow">
                                        <button type="button" class="btn btn-white" role="button" title="編輯"><i class="fas fa-pencil-alt"></i></button>
                                        <button type="button" class="btn btn-white" role="button" title="上移"><i class="fas fa-long-arrow-alt-up"></i></button>
                                        <button type="button" class="btn btn-white" role="button" title="下移"><i class="fas fa-long-arrow-alt-down"></i></button>
                                    </div>
								</div>
							</div>
						</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" id="example_3-tab" data-mdb-toggle="tab" href="#example_3" role="tab" aria-controls="example_3" aria-selected="false">
						    <div class="department-wrap">
							    <div class="indicate">
								    <h4 class="title">管理學院</h4>
									<h6 class="en">College of Electrical and Communication Engineering</h6>
									<p class="count">5 個 2 級單位</p>
								</div>
								<div class="action">
                                    <div class="btn-group btn-group-sm unshadow">
                                        <button type="button" class="btn btn-white" role="button" title="編輯"><i class="fas fa-pencil-alt"></i></button>
                                        <button type="button" class="btn btn-white" role="button" title="上移"><i class="fas fa-long-arrow-alt-up"></i></button>
                                        <button type="button" class="btn btn-white" role="button" title="下移"><i class="fas fa-long-arrow-alt-down"></i></button>
                                    </div>
								</div>
							</div>
						</a>
                    </li>
                </ul>
			</div>
		</div>
		<div class="col-6">
			<div class="col-block">
				<div class="block-header has-border">
					<h5 class="d-inline-block text-secondary">二級單位</h5>
				</div>
				<div class="block-content">
                    <div class="tab-content vertical-tabs-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="example_1" role="tabpanel" aria-labelledby="example_1-tab">
							<ul class="menu-item department-list">
								<% (1..5).map do |i| %>
							    <li>
                                    <div class="department-wrap">
                                        <div class="indicate">
                                            <h5 class="title">化學工程與材料科學學系</h5>
                                            <h6 class="en">Department of Chemical Engineering and Materials Science</h6>
                                        </div>
                                        <div class="action">
											<button type="button" class="btn btn-sm btn-angel" role="button" title="編輯"><i class="fas fa-pencil-alt"></i></button>
										</div>
                                    </div>
								</li>
								<% end %>
							</ul>
                        </div>
                        <div class="tab-pane fade" id="example_2" role="tabpanel" aria-labelledby="example_2-tab">
                            <ul class="menu-item department-list">
								<% (1..5).map do |i| %>
							    <li>
                                    <div class="department-wrap">
                                        <div class="indicate">
                                            <h5 class="title">生物與醫學資訊碩士學位學程</h5>
                                            <h6 class="en">Graduate Program for Biomedical Informatics </h6>
                                        </div>
                                        <div class="action">
											<button type="button" class="btn btn-sm btn-angel" role="button" title="編輯"><i class="fas fa-pencil-alt"></i></button>
										</div>
                                    </div>
								</li>
								<% end %>
							</ul>
                        </div>

                        <div class="tab-pane fade" id="example_3" role="tabpanel" aria-labelledby="example_3-tab">
                            <ul class="menu-item department-list">
								<% (1..5).map do |i| %>
							    <li>
                                    <div class="department-wrap">
                                        <div class="indicate">
                                            <h5 class="title">管理學院經營管理碩士班</h5>
                                            <h6 class="en">MBA Program in Business Administration and Leadership</h6>
                                        </div>
                                        <div class="action">
											<button type="button" class="btn btn-sm btn-angel" role="button" title="編輯"><i class="fas fa-pencil-alt"></i></button>
										</div>
                                    </div>
								</li>
								<% end %>
							</ul>
                        </div>
                    </div>
				</div>
			</div>
		</div>
	</div>
</main>