<input type="checkbox" class="sr-only sidebar-ctrler" id="v-nav-primary" checked>
<div class="vertical_nav sidebar sidebar--primary">
    <div class="sidebar__header media">
        <div class="logo-left">
            <h1 class="logo"><a class="logo__link" href="/"><img class="logo__img" src="../assets/logo.svg" alt="back" title="國立台灣大學國際事務處" width="109" height="32" /></a></h1>
        </div>
        <div class="media-body text-right">
            <label class="sidebar-ctrler--label" for="v-nav-primary"><i class="fa fa-ellipsis-v"></i></label>
        </div>
    </div>
    <div class="menu">
        <div class="sidebar-scroll">
            <ul class="nav">
                <li class="">
                    <a class="waves-effect" href="/dashborad/index.html">
                        <i class="fa fa-tachometer" title="Dashboard"></i>
                        <span class="menu-label">Dashboard</span>
                    </a>
                </li>
                <li class="title">
                    <span class="menu-label">DOC</span>
                </li>
                <li class="has-sub">
                    <a class="nav-ctrler waves-effect" href="###">
                        <i class="fa fa-cogs" title="UI Elements"></i>
                        <span class="menu-label">開放設定</span>
                        <i class="fa fa-angle-left leftNavIcon"></i>
                    </a>
                    <ul>
                        <li><a class="waves-effect" href="">交換日程設定</a></li>
                        <li><a class="waves-effect" href="">交換計畫及名額</a></li>
                        <li><a class="waves-effect" href="">申請文件設定</a></li>
                        <li><a class="waves-effect" href="">新生入學調查設定</a></li>
                        <li><a class="waves-effect" href="">郵件範本設定</a></li>
                        <li><a class="waves-effect" href="">網頁地圖</a></li>
                    </ul>
                </li>
                <li class="has-sub ">
                    <a class="nav-ctrler waves-effect" href="###">
                        <i class="fa fa-graduation-cap" title="Tables"></i>
                        <span class="menu-label">姊妹校提名</span>
                        <i class="fa fa-angle-left leftNavIcon"></i>
                    </a>
                    <ul>
                        <li><a class="waves-effect" href="">姊妹校提名列表</a></li>
                        <li><a class="waves-effect" href="">確認提名學生名單</a></li>
                        <li><a class="waves-effect" href="">未提名學生名單</a></li>
                    </ul>
                </li>
                <li class="has-sub ">
                    <a class="nav-ctrler waves-effect" href="###">
                        <i class="fa fa-file-text-o" title="Tables"></i>
                        <span class="menu-label">收件審查作業</span>
                        <i class="fa fa-angle-left leftNavIcon"></i>
                    </a>
                    <ul>
                        <li><a class="waves-effect" href="">申請件</a></li>
                        <li><a class="waves-effect" href="">等待審查</a></li>
                        <li><a class="waves-effect" href="">已通過</a></li>
                        <li><a class="waves-effect" href="">不通過</a></li>
                    </ul>
                </li>
                <li class="has-sub ">
                    <a class="nav-ctrler waves-effect" href="###">
                        <i class="fa fa-university" title="Tables"></i>
                        <span class="menu-label">系所審查作業</span>
                        <i class="fa fa-angle-left leftNavIcon"></i>
                    </a>
                    <ul>
                        <li><a class="waves-effect" href="">系所審查一覽表</a></li>
                    </ul>
                </li>
                <li class="has-sub ">
                    <a class="nav-ctrler waves-effect" href="###">
                        <i class="fa fa-list" title="Tables"></i>
                        <span class="menu-label">申請件名單管理</span>
                        <i class="fa fa-angle-left leftNavIcon"></i>
                    </a>
                    <ul>
                        <li><a class="waves-effect" href="">通過名單</a></li>
                        <li><a class="waves-effect" href="">未通過名單</a></li>
                        <li><a class="waves-effect" href="">確認入學名單</a></li>
                        <li><a class="waves-effect" href="">放棄入學名單</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
