$base_font_size:        16px;
$base_line_height:      24px;
$main_color:            #a31f34;
$secondary_color:       #8c6e4a;
$third_color:           #555559;
$fourth_color:          #a6a9ab;

@import "widgets/normalize";

// Font-awesome //
@import "vendor/font-awesome/font-awesome";

/* `Base
-----------------------------------------------------------------------------*/

html, body {
	width: 100%;
	height: 100%;
	min-height: 100%;
	overflow-x: hidden;
}

body {
	font-family: 'Apple LiGothic Medium', '\5FAE\8EDF\6B63\9ED1\9AD4', Helvetica, Arial, sans-serif;
	                                                     // 微軟正黑體
    line-height: $base_line_height;
	font-size: $base_font_size;
	color: #333;
}

.pages {
	min-height: 100%;
	position: relative;
}

a {
	color: $secondary_color;
	text-decoration: none;
	transition: all 0.2s ease-in-out;
	&:focus {
		outline: none; /* for Firefox Google Chrome  */
		behavior: expression(this.onFocus=this.blur()); /* for IE */
	}
}

a:hover { color: darken($secondary_color, 15%); }

p { line-height: 1.8; }
