/* design by fire */

@import "base";

body {
    background: rgb(88,147,255);
    background: url("../assets/noisy-texture.png") 0 0 repeat, linear-gradient(56deg, rgba(88,147,255,1) 0%, rgba(124,175,255,1) 42%, rgba(155,209,255,1) 61%, rgba(134,187,255,1) 76%, rgba(100,157,246,1) 100%);
	position: relative;
	&:after {
		content: "";
		background: radial-gradient(circle, rgba(169,215,255,0.5) 0%, rgba(100,157,246,0) 75%);;
		width: 600px;
		height: 600px;
		position: absolute;
		left: 20%;
		top: 20%;
	}
}

.clean-list, .clean-list li {
	list-style: none;
	margin: 0;
	padding: 0;
}

#scene{
	position: absolute;
	bottom: 0;
	display: none;
	height: 100%;
	min-height: 100%;
	z-index: 0;
}

#scene .layer{
	margin-left: -8%;
	padding-bottom: 20vh;
	width: 110vw;
    height: 100%;
    min-height: 100%;
	&.layer1 {
		background: url("../assets/bg1.png") right bottom no-repeat;
		background-size: 110% auto;
		z-index: 2;
	}
	&.layer2 {
		background: url("../assets/bg2.png") right bottom no-repeat;
		background-size: 110% auto;
		z-index: 1;
	}
	&.layer3, &.layer4 {
		position: relative;
		img {
			width: 170px;
			height: auto;
			position: absolute;
			left: 50%;
		}
	}
	&.layer3 {
		z-index: 4;
		img { top: 3rem; }
	}
	&.layer4 {
		z-index: 3;
		img {
			top: 50px;
			opacity: 0.5;
			filter: grayscale(65%) blur(5px);
		}
	}
}

.container {
	margin: 0 auto;
	padding: 315px 0 200px;
	width: 1400px;
	position: relative;
	z-index: 1;
}

.system-list {
	display: flex;
	flex-wrap: wrap;
	margin-left: -0.9375rem;
	margin-right: -0.9375rem;
	li {
		margin: 0 0.9375rem 1.875rem;
		width: 17.9%;
	}
	.card-link {
		display: flex;
		flex-direction: column;
		justify-content: center;
        background: #fff;
        border-radius: 2px;
        box-shadow: 0 1px 3px rgba(#000, .15);
		border: 1px solid #fff;
		padding: 3.75rem 1.875rem 2.5rem;
		position: relative;
		span {
			display: block;
			width: 100%;
		}
		.name {
			margin-bottom: 2.5rem;
			font-size: 1.5rem;
			text-align: center;
			position: relative;
			&:after {
				content: "";
				background: #f3f0ec;
				margin-left: -2rem;
				width: 4rem;
				height: 1px;
				position: absolute;
				left: 50%;
				bottom: -1.3rem;
			}
		}
		.info {
			color: #9d9183;
		}
        &:after {
            content: "";
            background: url("../assets/ribbon.svg") center center no-repeat;
            width: 24px;
            height: 31px;
            position: absolute;
            top: -2px;
            left: 6px;
			transition: all 0.1s ease-in-out;
        }
		&:hover {
			background: #f9f8f7;
			box-shadow: 0 1px 1px rgba(#000, .2);
			&:after {
				top: -1px;
			}
		}
	}
}

/* `Responsive
-----------------------------------------------------------------------------*/

@media (max-width: 1599px) {
	.container {
		width: 1200px;
	}
    .system-list {
        li {
            width: 22.55%;
        }
    }
	#scene .layer {
		&.layer3, &.layer4 {
			img { margin-left: -2%; }
		}
	}
}

@media (max-width: 1399px) {
	.container {
		width: 1140px;
	}
	.system-list {
        li {
            width: 22.435%;
        }
    }
}




























