<!-- NTU-OSA: 管理專區 - 當週檢查表 -->
<% content_for :replace_css do %>
    <link rel="stylesheet" media="screen, projection" href="../stylesheets/management.css">
<% end %>
<div class="container">
	<main class="main">
		<div class="row">
			<div class="col-md-3 sidenav">
				<div class="sticky">
					<ul class="collapsible collapsible-accordion menu-item">
						<li><a href="#" class="collapsible-header waves-effect current">當週檢查表</a></li>
						<li><a href="#" class="collapsible-header waves-effect">全部週次</a></li>
						<li><a href="#" class="collapsible-header waves-effect">編輯個人資料</a></li>
					</ul>
				</div>
			</div>
			<div class="col-md-9">
				<div class="section-title">
					<h3>週次時間 <span class="limit">2020/04/27~2020/05/03</span></h3>
				</div>
				<div class="row flex-row-reverse">
					<div class="col-12 col-lg-4">
					    <div class="statistics-wrap">
						    <ul class="menu-item">
							    <li>
								    <span class="lable">本週已完成填報數</span>
									<span class="count">0</span>
								</li>
								<li>
								    <span class="lable">本週待填報數</span>
									<span class="count">2</span>
								</li>
							</ul>
							<div class="total">
							    <div class="d-flex justify-content-between">
								    <span class="lable">本週總數量</span>
									<span class="count">2</span>
								</div>
							</div>
						</div>
					</div>
					<div class="col-12 col-lg-8">
					    <ul class="checklist-menu menu-item">
						    <li class="checklist-item">
							    <h5>國立臺灣大學「福利社」膳食衛生安全檢查表</h5>
								<div class="restaurant">
								    <span class="restaurant-title"><a href="#">女六宿舍餐廳</a></span>
									<span class="status undone">未填</span>
								</div>
							</li>
							<li class="checklist-item">
							    <h5>國立臺灣大學「餐廳」膳食衛生安全檢查表</h5>
								<div class="restaurant">
								    <span class="restaurant-title"><a href="#">男六宿舍餐廳</a></span>
									<span class="status undone">未填</span>
								</div>
							</li>
							<li class="checklist-item">
							    <h5>國立臺灣大學「餐廳」環境衛生安全檢查表</h5>
								<div class="restaurant">
								    <span class="restaurant-title"><a href="#">女六宿舍餐廳</a></span>
									<span class="status undone">未填</span>
								</div>
							</li>
							<li class="checklist-item">
							    <h5>餐具清潔檢查表</h5>
								<div class="restaurant">
								    <span class="restaurant-title"><a href="#">女六宿舍餐廳</a></span>
									<span class="status undone">未填</span>
								</div>
								<div class="restaurant">
								    <span class="restaurant-title"><a href="#">男六宿舍餐廳</a></span>
									<span class="status done">已填</span>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</main>
</div>


<% content_for :js do %>
<script>
$(function () {
	$(".sticky").sticky({
		topSpacing: 30,
		zIndex: 2,
		stopper: "footer.footer",
		minWidth: 991
	});
    jQuery(document).ready(function($) {
        var alterClass = function() {
            var ww = document.body.clientWidth;
            if (ww < 767) {
                $('.sticky').addClass('sticky-fix');
            } else if (ww >= 767) {
                $('.sticky').removeClass('sticky-fix');
            };
        };
        $(window).resize(function() {
            alterClass();
        });
        //Fire it when the page first loads:
        alterClass();
    });
	// MDB Lightbox Init
    $("#mdb-lightbox-ui").load("../mdb-addons/mdb-lightbox-ui.html");
	
});
	
</script>
<% end %>





















































