<!-- NTU-OSA: 管理專區 - 首頁 -->
<% content_for :replace_css do %>
    <link rel="stylesheet" media="screen, projection" href="../stylesheets/management.css">
<% end %>
<div class="container has-wave">
	<main class="main">
		<div class="btn-wrapper">
			<a class="btn btn-lg btn-rounded btn-block aqua-gradient" href="#" title="校內職員登入">校內職員登入</a>
			<a class="btn btn-lg btn-rounded btn-block blue-gradient" href="#" title="使用帳號密碼登入">使用帳號密碼登入</a>
		</div>
	</main>
</div>

<% content_for :js do %>
<script>
$(function () {
	$(".sticky").sticky({
		topSpacing: 30,
		zIndex: 2,
		stopper: "footer.footer",
		minWidth: 991
	});
    jQuery(document).ready(function($) {
        var alterClass = function() {
            var ww = document.body.clientWidth;
            if (ww < 767) {
                $('.sticky').addClass('sticky-fix');
            } else if (ww >= 767) {
                $('.sticky').removeClass('sticky-fix');
            };
        };
        $(window).resize(function() {
            alterClass();
        });
        //Fire it when the page first loads:
        alterClass();
    });
	// MDB Lightbox Init
    $("#mdb-lightbox-ui").load("../mdb-addons/mdb-lightbox-ui.html");
	
});
	
</script>
<% end %>





















































