<!-- TCU-AE: 審查委員 - 申請件列表  -->

<div class="container">
    <div class="row">
		<div class="col">
			<div class="list-wrap">
				<form>
					<div class="tabs-wrapper"> 
						<ul class="nav" role="tablist">
							<li class="nav-item">
								<a class="nav-link waves-light active" data-toggle="tab" href="#panel51" role="tab">審查中<span class="badge badge-pill pink">3</span></a>
							</li>
							<li class="nav-item">
								<a class="nav-link waves-light" data-toggle="tab" href="#panel52" role="tab">通過<span class="badge badge-pill pink">5</span></a>
							</li>
                            <li class="nav-item">
								<a class="nav-link waves-light" data-toggle="tab" href="#panel53" role="tab">應改善後複審<span class="badge badge-pill pink">2</span></a>
							</li>
                            <li class="nav-item">
								<a class="nav-link waves-light" data-toggle="tab" href="#panel54" role="tab">不通過<span class="badge badge-pill pink">3</span></a>
							</li>
						</ul>
					</div>
					<div class="tab-content card un-shadows">
						<div class="tab-pane fade in show active" id="panel51" role="tabpanel">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>狀態</th>
                                        <th>流水號</th>
                                        <th>單位</th>
                                        <th>計畫/課程/實驗名稱</th>
                                        <th>申請人</th>
                                        <th>申請日期</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <button type="button" class="btn btn-xs btn-primary">審閱</button>
                                        </td>
                                        <td>審查中 <strong class="degree">4/12</strong></td>
                                        <td>107003</td>
                                        <td>分子生物暨人類遺傳系</td>
                                        <td>可溶性 P-選擇素對小鼠受損組織的保護機制</td>
                                        <td>張新侯</td>
                                        <td>2018/04/02</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <button type="button" class="btn btn-xs btn-success">開啟</button>
                                        </td>
                                        <td>通過</td>
                                        <td>10700ˊ</td>
                                        <td>分子生物暨人類遺傳系</td>
                                        <td>可溶性 P-選擇素對小鼠受損組織的保護機制</td>
                                        <td>張新侯</td>
                                        <td>2018/04/02</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <button type="button" class="btn btn-xs btn-primary">審閱</button>
                                        </td>
                                        <td>應改善後複審</td>
                                        <td>106023</td>
                                        <td>分子生物暨人類遺傳系</td>
                                        <td>可溶性 P-選擇素對小鼠受損組織的保護機制</td>
                                        <td>張新侯</td>
                                        <td>2018/04/02</td>
                                    </tr>
                                </tbody>
                            </table>
						</div>
						<div class="tab-pane fade" id="panel52" role="tabpanel">panel 2</div>
                        <div class="tab-pane fade" id="panel53" role="tabpanel">panel 3</div>
                        <div class="tab-pane fade" id="panel54" role="tabpanel">panel 4</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>