<!-- TCU-AE: 審查委員 - 預覽並送出審查  -->

<div class="container">
    <div class="mb-5">
        <h2 class="project-title">可溶性 P-選擇素對小鼠受損組織的保護機制</h2>
        <p>請完成下列各項次的審查後，按下"預覽並送出審查結果"，完成審查作業</p>
    </div>
    <div class="row">
		<div class="col">
			<div class="list-wrap col-block">
				<table class="table">
                    <thead>
                        <tr>
                            <th></th>
                            <th>審查項次</th>
                            <th>審查結果</th>
                            <th>審查意見</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>申請人、單位</td>
                            <td><span class="red-text">應改善後複審</span></td>
                            <td>該單位當年度已有類似的實驗</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>計畫/課程/試驗名稱、經費來源、執行期限</td>
                            <td><span class="green-text">通過</span></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>進行動物實驗之相關人員資料</td>
                            <td><span class="green-text">通過</span></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>實驗所需之動物</td>
                            <td class="keep-all"><span class="red-text">應改善後複審</span></td>
                            <td><span class="red-text">動物數量建議減少</span></td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>動物飼養</td>
                            <td><span class="green-text">通過</span></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>6</td>
                            <td>請簡述本研究之目的</td>
                            <td><span class="green-text">通過</span></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>7</td>
                            <td>請以動物實驗應用3Rs之替代及減量原則，說明動物實驗試驗設計、實驗動物需求、動物種別及數量之必要性 </td>
                            <td class="keep-all"><span class="red-text">應改善後複審</span></td>
                            <td><span class="red-text">動物數量建議減少</span></td>
                        </tr>
                        <tr>
                            <td>8</td>
                            <td>請以實驗動物應用3Rs之精緻化原則，說明實驗中所進行之動物實驗內容</td>
                            <td><span class="green-text">通過</span></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>9</td>
                            <td>請說明實驗結束後動物之處置方式</td>
                            <td><span class="green-text">通過</span></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>10</td>
                            <td>有無進行危險性實驗，如具生物危害 (含感染性物質、致癌藥物、基因重組)、放射線及化學危害(含毒物) 實驗？ </td>
                            <td><span class="green-text">通過</span></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>11</td>
                            <td>本申請表是否與過去七年內審核通過之實驗內容相似？</td>
                            <td><span class="green-text">通過</span></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
			</div>
		</div>
	</div>
    <div class="form-action text-center">
        <button type="button" class="btn peach-gradient">修改審查結果</button>
        <button type="button" class="btn blue-gradient">確認無誤並送出審查結果</button>
    </div>
</div>