<!-- TCU-AE: 審查委員 - 單一項次審查  -->

<div class="container">
    <div class="mb-5">
        <h2 class="project-title">可溶性 P-選擇素對小鼠受損組織的保護機制</h2>
        <p>請完成下列各項次的審查後，按下"預覽並送出審查結果"，完成審查作業</p>
    </div>
    <div class="row">
	    <div class="col-4">
		    <nav class="stepnav single-review">
			    <ul>
				    <li>
					    <a class="item" href="#">
							<span class="num"><span>1</span></span>
							<span class="question">申請人、單位</span>
							<div class="end">
								<span class="result"><i class="fa fa-check" aria-hidden="true" title="通過"></i></span>
							</div>
						</a>
					</li>
					<li>
					    <a class="item" href="#">
							<span class="num"><span>2</span></span>
							<span class="question">計畫/課程/試驗名稱、經費來源、執行期限</span>
							<div class="end">
								<span class="re-examine">應改善後複審</span>
							</div>
						</a>
					</li>
					<li>
					    <a class="item" href="#">
							<span class="num"><span>3</span></span>
							<span class="question">進行動物實驗之相關人員資料</span>
							<div class="end">
                                <span class="unaudited">未審查</span>
							</div>
						</a>
					</li>
					<li>
					    <a class="item" href="#">
							<span class="num"><span>4</span></span>
							<span class="question">實驗所需之動物</span>
							<div class="end">
								<span class="status"><i class="fa fa-check" aria-hidden="true" title="完成"></i></span>
							</div>
						</a>
					</li>
					<li>
					    <a class="item" href="#">
							<span class="num"><span>5</span></span>
							<span class="question">動物飼養</span>
							<div class="end">
								<span class="status"><i class="fa fa-check" aria-hidden="true" title="完成"></i></span>
							</div>
						</a>
					</li>
					<li>
					    <a class="item" href="#">
							<span class="num"><span>6</span></span>
							<span class="question">請簡述本研究之目的</span>
							<div class="end">
								<span class="status"><i class="fa fa-check" aria-hidden="true" title="完成"></i></span>
							</div>
						</a>
					</li>
					<li>
					    <a class="item" href="#">
							<span class="num"><span>7</span></span>
							<span class="question">請以動物實驗應用3Rs之替代及減量原則，說明動物實驗試驗設計、實驗動物需求、動物種別及數量之必要性</span>
							<div class="end">
								<span class="status"><i class="fa fa-check" aria-hidden="true" title="完成"></i></span>
							</div>
						</a>
					</li>
					<li class="current">
					    <a class="item" href="#">
							<span class="num"><span>8</span></span>
							<span class="question">請以實驗動物應用3Rs之精緻化原則，說明實驗中所進行之動物實驗內容</span>
							<div class="end">
								<span class="status"><i class="fa fa-check" aria-hidden="true" title="完成"></i></span>
							</div>
						</a>
					</li>
					<li>
					    <a class="item" href="#">
							<span class="num"><span>9</span></span>
							<span class="question">請說明實驗結束後動物之處置方式</span>
							<div class="end">
								<span class="status"><i class="fa fa-check" aria-hidden="true" title="完成"></i></span>
							</div>
						</a>
					</li>
					<li>
					    <a class="item" href="#">
							<span class="num"><span>10</span></span>
							<span class="question">有無進行危險性實驗，如具生物危害 (含感染性物質、致癌藥物、基因重組)、放射線及化學危害(含毒物) 實驗？</span>
							<div class="end">
								<span class="status"><i class="fa fa-check" aria-hidden="true" title="完成"></i></span>
							</div>
						</a>
					</li>
					<li>
					    <a class="item" href="#">
							<span class="num"><span>11</span></span>
							<span class="question">本申請表是否與過去七年內審核通過之實驗內容相似？</span>
							<div class="end">
								<span class="status"><i class="fa fa-check" aria-hidden="true" title="完成"></i></span>
							</div>
						</a>
					</li>
				</ul>
			</nav>
		</div>
		<div class="col">
			<div class="list-wrap col-block">
				表單省略
                <p><%= lorem_sentences 25 %></p>
                <p><%= lorem_sentences 25 %></p>
			</div>
		</div>
	</div>
    <div class="form-action text-center">
        <button type="button" class="btn btn-white">回列表</button>
        <button type="button" class="btn blue-gradient">預覽並送出審查結果</button>
    </div>
</div>