<!-- template: 個人專區 - 課程單元 -->

<!-- breadcrumb 麵包屑 -->
<div class="breadcrumb-wrapper">
    <div class="container-lg">
        <div class="breadcrumb-inner">
            <span class="toggler-wrap">
                <button class="navbar-toggler button-widget" type="button" id="navbarSideCollapse" aria-label="Toggle navigation" title="展開側欄">
                    <span class="hamburger">
                        <span class="line"></span>
                        <span class="line"></span>
                        <span class="line"></span>
                    </span>
                </button>
            </span>
            <%= render :partial => "/partials/breadcrumb" %>
        </div>
    </div>
</div>

<div class="container-lg">
	<div class="page-content">
        
        <aside class="aside offcanvas-collapse">
            <div class="scrollbar-inner">
                <div class="sidenav">
                    <ul class="side-navigation menu-item">
                        <li>
                            <a class="nav-item" href="#" title="個人資料">
                                <span class="link-inner">個人資料</span>
                            </a>
                        </li>
                        <li>
                            <a class="nav-item current" href="#" title="線上課程">
                                <span class="link-inner">線上課程</span>
                            </a>
                        </li>
                        <li>
                            <a class="nav-item" href="#" title="課程問卷">
                                <span class="link-inner">課程問卷</span>
                            </a>
                        </li>
                        <li>
                            <a class="nav-item" href="#" title="面試作業">
                                <span class="link-inner">面試作業</span>
                            </a>
                        </li>
                        <li>
                            <a class="nav-item" href="#" title="火柴盒專區">
                                <span class="link-inner">火柴盒專區</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </aside>
        <div id="widget-overlay"></div>
        <main class="main">
            
            <div class="lesson-title">
                <h3>家庭、學生、學校將在火柴盒(接待家庭計畫2.0系統)發起活動及媒合彼此</h3>
            </div>
            
            <div class="courses-wrapper">
                <p>說明 <%= lorem_paragraphs(1) %></p>
                
                <div class="subject-wrapper">
                    
                    <div class="subject-item">
                        <div class="item-inner">
                            <h5>主題 1 僑外生畢業後留台工作適用規定說明</h5>
                            <p class="info"><span>講師</span>勞動部勞動力發展署</p>
                            <p class="info"><span>影片長度</span>50 分鐘</p>
                            <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#videoModal" title="觀看影片">觀看影片</button>
                        </div>
                    </div>
                    
                    <div class="subject-item">
                        <div class="item-inner">
                            <h5>主題 2 大專校院學生輔導人員支援體系計畫</h5>
                            <p class="info"><span>講師</span>大專校院境外學生輔導人員</p>
                            <p class="info"><span>影片長度</span>999 分鐘</p>
                            <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#videoModal" title="觀看影片">觀看影片</button>
                        </div>
                    </div>
                    
                    <div class="subject-item">
                        <div class="item-inner">
                            <h5>主題 3 建立全臺接待家庭網絡有學校的地方就有接待家庭</h5>
                            <p class="info"><span>講師</span>銜接汽車外觀設計人員</p>
                            <p class="info"><span>影片長度</span>50 分鐘</p>
                            <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#videoModal" title="觀看影片">觀看影片</button>
                        </div>
                    </div>
                    
                </div>
                
            </div>
            
        </main>
        
	</div>
</div>

<div class="modal fade" id="videoModal" tabindex="-1" aria-labelledby="videoModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="videoModalLabel">主題 1 僑外生畢業後留台工作適用規定說明</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" title="關閉"></button>
            </div>
            <div class="modal-body">
                <div class="video-wrapper">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/sX1Y2JMK6g8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" title="關閉">關閉</button>
            </div>
        </div>
    </div>
</div>


<% content_for :js do %>
<% end %>
