<!-- template: 個人專區 - 個人資料 -->

<!-- breadcrumb 麵包屑 -->
<div class="breadcrumb-wrapper">
    <div class="container-lg">
        <div class="breadcrumb-inner">
            <span class="toggler-wrap">
                <button class="navbar-toggler button-widget" type="button" id="navbarSideCollapse" aria-label="Toggle navigation" title="展開側欄">
                    <span class="hamburger">
                        <span class="line"></span>
                        <span class="line"></span>
                        <span class="line"></span>
                    </span>
                </button>
            </span>
            <%= render :partial => "/partials/breadcrumb" %>
        </div>
    </div>
</div>

<div class="container-lg">
	<div class="page-content">
        
        <aside class="aside offcanvas-collapse">
            <div class="scrollbar-inner">
                <div class="sidenav">
                    <ul class="side-navigation menu-item">
                        <li>
                            <a class="nav-item current" href="#" title="個人資料">
                                <span class="link-inner">個人資料</span>
                            </a>
                        </li>
                        <li>
                            <a class="nav-item" href="#" title="線上課程">
                                <span class="link-inner">線上課程</span>
                            </a>
                        </li>
                        <li>
                            <a class="nav-item" href="#" title="課程問卷">
                                <span class="link-inner">課程問卷</span>
                            </a>
                        </li>
                        <li>
                            <a class="nav-item" href="#" title="面試作業">
                                <span class="link-inner">面試作業</span>
                            </a>
                        </li>
                        <li>
                            <a class="nav-item" href="#" title="火柴盒專區">
                                <span class="link-inner">火柴盒專區</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </aside>
        <div id="widget-overlay"></div>
        <main class="main">
            
            <!-- Alert 樣式請參考 https://getbootstrap.com/docs/5.3/components/alerts/ -->
            <div class="alert alert-primary alert-dismissible fade show" role="alert">
                <strong>培訓中</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            
            <div class="page-title">
                <h3>個人資料</h3>
            </div>
            
            <!-- 以下只是撐版面高度假資料請拿掉 -->
            <div>
                <p>Alert 樣式請參考 <a href="https://getbootstrap.com/docs/5.3/components/alerts/">https://getbootstrap.com/docs/5.3/components/alerts/</a></p>
                <p>培訓中 <code>.alert-primary</code>，停權 <code>.alert-danger</code>，受限制 <code>.alert-warning</code>，正常 <code>.alert-success</code></p>
                <p><%= lorem_paragraphs(20) %></p>
            </div>
            
        </main>
        
	</div>
</div>

<% content_for :js do %>
<% end %>
