<!-- template: 個人專區 - 課程問卷 -->

<!-- breadcrumb 麵包屑 -->
<div class="breadcrumb-wrapper">
    <div class="container-lg">
        <div class="breadcrumb-inner">
            <span class="toggler-wrap">
                <button class="navbar-toggler button-widget" type="button" id="navbarSideCollapse" aria-label="Toggle navigation" title="展開側欄">
                    <span class="hamburger">
                        <span class="line"></span>
                        <span class="line"></span>
                        <span class="line"></span>
                    </span>
                </button>
            </span>
            <%= render :partial => "/partials/breadcrumb" %>
        </div>
    </div>
</div>

<div class="container-lg">
	<div class="page-content">
        
        <aside class="aside offcanvas-collapse">
            <div class="scrollbar-inner">
                <div class="sidenav">
                    <ul class="side-navigation menu-item">
                        <li>
                            <a class="nav-item" href="#" title="個人資料">
                                <span class="link-inner">個人資料</span>
                            </a>
                        </li>
                        <li>
                            <a class="nav-item" href="#" title="線上課程">
                                <span class="link-inner">線上課程</span>
                            </a>
                        </li>
                        <li>
                            <a class="nav-item current" href="#" title="課程問卷">
                                <span class="link-inner">課程問卷</span>
                            </a>
                        </li>
                        <li>
                            <a class="nav-item" href="#" title="面試作業">
                                <span class="link-inner">面試作業</span>
                            </a>
                        </li>
                        <li>
                            <a class="nav-item" href="#" title="火柴盒專區">
                                <span class="link-inner">火柴盒專區</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </aside>
        <div id="widget-overlay"></div>
        <main class="main">
            
            <div class="page-title">
                <h3>課程問卷</h3>
            </div>
            
            <!-- 純示範，表單滿版感覺太寬時可使用 -->
            <div class="row">
                <div class="col-md-8">
                    <p>純示範，表單滿版感覺太寬時可使用</p>
                    <p><%= lorem_paragraphs(5) %></p>
                </div>
            </div>
            
        </main>
        
	</div>
</div>

<% content_for :js do %>
<% end %>
