<!-- template: faq template -->

<div class="container-lg">
    
    <!-- 另有原始的 page-title 懶得刪，不要搞混了 -->
    <div class="pages-title">
        <h3><span>常見問答</span></h3>
    </div>
    <a href="#" title="主要內容" tabkey="A" id="main_content">:::</a>
	<div class="faq-wrapper">
        <div class="faq-filter">
            <div class="row">
                <div class="col-3">
                    <div class="form-group">
                        <label for="testInput" class="form-label">關鍵字</label>
                        <input type="text" id="testInput" class="form-control" aria-describedby="keyword">
                    </div>
                </div>
                <div class="col-3">
                    <div class="form-group">
                        <label for="" class="form-label">問題分類</label>
                        <select class="form-select" aria-label="Default select example">
                            <option selected>Open this select menu</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </div>
                </div>
                <div class="col-3">
                    <div class="form-group">
                        <label for="" class="form-label">身份別</label>
                        <select class="form-select" aria-label="Default select example">
                            <option selected>Open this select menu</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </div>
                </div>
                <div class="col-3">
                    <div class="form-group">
                        <label for="" class="form-label">問題語系</label>
                        <div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1" />
                                <label class="form-check-label" for="inlineCheckbox1">正體中文</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2" />
                                <label class="form-check-label" for="inlineCheckbox2">English</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <button type="button" class="btn btn-primary">查詢</button>
                <button type="button" class="btn btn-light">清除</button>
            </div>
        </div>
        
	    <div class="faq-list">
            
            <% (1..10).map do |i| %>
            <div class="list-item">
                <div class="item-inner">
                    <div class="item-category">
                        <span class="badge rounded-pill text-bg-primary">簽證/居留證</span>
                    </div>
                    <div class="item-identify">外國學生、僑生、港澳生</div>
                    <div class="item-question">
                        <a href="#"><%= zh_lorem_paragraph %></a>
                    </div>
                    <div class="date-popular">
                        <span class="date"><i class="far fa-calendar-alt"></i> 2024-02-15</span>
                        <span class="popular"><i class="fas fa-eye"></i> 215</span>
                    </div>
                </div>
            </div>
            <% end %>
            
            <% (1..6).map do |i| %>
            <div class="list-item">
                <div class="item-inner">
                    <div class="item-category">
                        <span class="badge rounded-pill text-bg-primary">Health and Insurance</span>
                    </div>
                    <div class="item-identify">Foreign Student, Overseas Compatriot Student, Students from Hong Kong and Macao</div>
                    <div class="item-question">
                        <a href="#"><%= lorem_sentence %></a>
                    </div>
                    <div class="date-popular">
                        <span class="date"><i class="far fa-calendar-alt"></i> 2024-02-15</span>
                        <span class="popular"><i class="fas fa-eye"></i> 215</span>
                    </div>
                </div>
            </div>
            <% end %>
            
        </div>
        
        <nav aria-label="...">
            <ul class="pagination justify-content-center">
                <li class="page-item disabled">
                    <a class="page-link">Previous</a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item active" aria-current="page">
                    <a class="page-link" href="#">2</a>
                </li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                    <a class="page-link" href="#">Next</a>
                </li>
            </ul>
        </nav>

	</div>
</div>

<div class="container-lg">
    <div class="mt-5">
        <div class="table-responsive">
<table class="table text-nowrap">
    <thead>
        <tr>
            <th>年份</th>
            <th>課程名稱</th>
            <th>課程日期</th>
            <th>講師</th>
            <th class="text-center">課程資料</th>
            <th>課程影片</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><span class="text-danger">最新</span> 2024</td>
            <td>境外學生留臺及延攬機制說明</td>
            <td>05/02 11:30-12:00</td>
            <td>Talent Taiwan國際人才服務及延攬中心</td>
            <td class="text-center"><a href="#"><i class="fas fa-cloud-download-alt"></i></a></td>
            <td></td>
        </tr>
        
        <% (1..6).map do |i| %>
        <tr>
            <td><span class="text-danger">最新</span> 2024</td>
            <td><%= lorem_words(5) %></td>
            <td>05/02 11:30-12:00</td>
            <td><%= lorem_words(5) %></td>
            <td class="text-center"><a href="#"><i class="fas fa-cloud-download-alt"></i></a></td>
            <td></td>
        </tr>
        <% end %>
    </tbody>
</table>
        </div>
    </div>
</div>

<% content_for :js do %>

<% end %>

