
/* `Footer
-----------------------------------------------------------------------------*/

footer.footer {
	border-top: 1px solid $base_border_color;
	color: #666;
	.footer-inner {
		display: flex;
		padding: calc(1.5rem + 1.5vw) 0;
	}
	.block-institution {
		margin-right: 3rem;
		width: auto;
		text-align: end;
		h2 {
			margin-bottom: 0;
			font-size: 1.125rem;
		}
		.institution-subtitle {
			display: block;
			margin-top: .25rem;
			font-size: 1.25rem;
			font-weight: bold;
		}
	}
	.menu-item.contact {
		li {
			display: flex;
			margin-bottom: .25rem;
			font-size: .9375rem;
			position: relative;
		}
		span { text-wrap: nowrap;}
		span + span {
			margin-left: .75rem;
			text-wrap: wrap;
		}
	}
	.end-content {
		width: 33.33333%;
		text-align: end;
	}
}

.footer-bottom {
	border-top: 1px dashed #ddd;
	.bottom-inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 24px 0;
		font-size: .875rem;
	}
	address { margin-bottom: 0; }
	.views {
		span + span { margin-left: .75rem; }
	}
}

/* `Responsive
-----------------------------------------------------------------------------*/

@media (max-width: 991px) {
	footer.footer {
		.footer-inner {
			display: block;
			padding: calc(1.75rem + 1.75vw) 0 calc(1.5rem + 1.5vw);
		}
		.block-institution {
			margin-bottom: 1rem;
			text-align: start;
		}
	}
	.footer-bottom {
		.bottom-inner {
			display: block;
			padding: 16px 0;
		}
		.views {
			margin-top: .5rem;
		}
	}
}








