<!-- template: 報名登記查詢 -->

<%= render :partial => "/partials/breadcrumb" %>

<div class="container-lg">
    <div class="page-content d-block">
        <div class="page-title">
            <h3>
                報名登記查詢
                <small>
                    <button type="button" class="btn btn-question" data-bs-toggle="modal" data-bs-target="#exampleModal" title="說明">
                        <i class="far fa-question-circle"></i>
                    </button>
                </small>
            </h3>
        </div>
        
        <div>
            <section class="section inquiry-section">
                <h4 class="inquiry-title"><span>B0123456789 <%= zh_lorem_name %></span></h4>
                
                <ul class="menu-item menu-inquiry">

                    <!-- 填寫中 -->
                    <li class="item-inquiry filling-in">
                        <div class="item-bd">
                            <span class="sn">20250010001</span>
                            <h5>臺中市公設民營東區大智國小托嬰中心</h5>
                            <div class="inquiry-status"><span>填寫中</span></div>
                            <div class="the-date">最後更新時間<strong> : 113-12-12</strong></div>
                        </div>
                        <div class="item-ft">
                            <button type="button" class="btn btn-outline-primary">繼續填寫</button>
                            <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#giveUpModal">放棄報名</button>
                        </div>
                    </li>
                    
                    <!-- 審核中 -->
                    <li class="item-inquiry under-review">
                        <div class="item-bd">
                            <span class="sn">20250010001</span>
                            <h5>艾樂比新民托嬰中心</h5>
                            <div class="inquiry-status"><span>審核中</span></div>
                            <div class="the-date">送出時間<strong> : 113-12-12</strong></div>
                        </div>
                        <div class="item-ft">
                            <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#giveUpModal">放棄報名</button>
                            <button type="button" class="btn btn-outline-success">重新報名</button>
                        </div>
                    </li>
                    
                    <!-- 資料等待補件 -->
                    <li class="item-inquiry replacement">
                        <div class="item-bd">
                            <span class="sn">20250010001</span>
                            <h5>臺中市公設民營東區大智國小托嬰中心</h5>
                            <div class="inquiry-status"><span>資料等待補件</span></div>
                            <div class="the-date">最後補件時間<strong> : 113-12-12</strong></div>
                        </div>
                        <div class="item-ft">
                            <button type="button" class="btn btn-outline-warning">補件</button>
                            <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#giveUpModal">放棄報名</button>
                            <button type="button" class="btn btn-outline-success">重新報名</button>
                        </div>
                    </li>

                </ul>
            </section>
            
            <section class="section inquiry-section">
                <h4 class="inquiry-title"><span>B0123456789 <%= zh_lorem_name %></span></h4>
                
                <ul class="menu-item menu-inquiry">

                    <!-- 完成報名 -->
                    <li class="item-inquiry complete-enrollment">
                        <div class="item-bd">
                            <span class="sn">20250010001</span>
                            <h5>文采永定托嬰中心</h5>
                            <div class="inquiry-status"><span>完成報名</span></div>
                            <div class="the-date">送出時間<strong> : 113-12-12</strong></div>
                        </div>
                        <div class="item-ft">
                            <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#giveUpModal">放棄報名</button>
                        </div>
                    </li>
                    
                    <!-- 取消報名 -->
                    <li class="item-inquiry cancel-enrollment">
                        <div class="item-bd">
                            <span class="sn">20250010001</span>
                            <h5>臺中市公設民營東區大智國小托嬰中心</h5>
                            <div class="inquiry-status"><span>取消報名</span></div>
                            <div class="the-date">最後更新時間<strong> : 113-12-12</strong></div>
                        </div>
                        <div class="item-ft">
                            <button type="button" class="btn btn-outline-success">重新報名</button>
                        </div>
                    </li>
                    
                    <!-- 放棄報名 -->
                    <li class="item-inquiry abandonment-enrollment">
                        <div class="item-bd">
                            <span class="sn">20250010001</span>
                            <h5>艾樂比新民托嬰中心</h5>
                            <div class="inquiry-status"><span>放棄報名</span></div>
                            <div class="the-date">最後更新時間<strong> : 113-12-12</strong></div>
                        </div>
                        <div class="item-ft">
                            <button type="button" class="btn btn-outline-success">重新報名</button>
                        </div>
                    </li>

                </ul>
            </section>
            
            <section class="section inquiry-section">
                <h4 class="inquiry-title"><span>B0123456789 <%= zh_lorem_name %></span></h4>
                
                <ul class="menu-item menu-inquiry">

                    <!-- 通知錄取 -->
                    <li class="item-inquiry admission">
                        <div class="item-bd">
                            <span class="sn">20250010001</span>
                            <h5>文采永定托嬰中心</h5>
                            <div class="inquiry-status"><span>通知錄取</span></div>
                            <div class="the-date">預計入托日<strong> : 113-12-12</strong></div>
                        </div>
                        <div class="item-ft">
                            <button type="button" class="btn btn-outline-primary">報到意願回覆</button>
                            <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#giveUpModal">放棄報名</button>
                        </div>
                    </li>
                    
                    <!-- 候補 -->
                    <li class="item-inquiry alternate">
                        <div class="item-bd">
                            <span class="sn">20250010001</span>
                            <h5>臺中市公設民營東區大智國小托嬰中心</h5>
                            <div class="inquiry-status"><span>候補</span></div>
                        </div>
                        <div class="item-ft">
                            <button type="button" class="btn btn-outline-success">重新報名</button>
                        </div>
                    </li>

                </ul>
            </section>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">說明</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="h5">狀態說明 :</div>
                <ol>
                    <li>填寫中：家長還在填寫未送出</li>
                    <li>審核中：家長送出資料，但公托未審核</li>
                    <li>資料等待補件：公托/社會局審核後要求補件</li>
                    <li>完成報名：公托已審核通過</li>
                    <li>取消報名：未於時間內完成補件/系統取消報名 (要有取消報名原因框，填寫才可送出取消報名)</li>
                    <li>放棄報名：家長自行取消報名</li>
                    <li>通知錄取</li>
                </ol>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">關閉</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="giveUpModal" tabindex="-1" aria-labelledby="giveUpModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="giveUpModalLabel">放棄報名</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>您選擇了 "<strong class="text-danger">放棄報名</strong>"，是否確認送出？</p>
                <div class="form-group">
                    <label class="form-label">請選擇放棄原因</label>
                    <div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" />
                            <label class="form-check-label" for="flexRadioDefault1">
                                入托其他托嬰中心或托育家園
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" />
                            <label class="form-check-label" for="flexRadioDefault2">
                                報名或備取其他托嬰中心或托育家園
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3" />
                            <label class="form-check-label" for="flexRadioDefault3">
                                其他
                            </label>
                        </div>
                        <div class="check-reason ps-4">
                            <input type="text" class="form-control" id="" placeholder="請輸入其他原因">
                        </div>
                    </div>
                </div>
                
                <div class="sign-wrap">
                    <label class="form-label">請在下方方框空白處以滑鼠簽名</label>
                    <textarea class="form-control" rows="4"></textarea>
                    <button type="button" class="btn btn-sm btn-outline-dark btn-rounded">清空</button>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消</button>
                <button type="submit" class="btn btn-primary">送出</button>
            </div>
        </div>
    </div>
</div>

<% content_for :js do %>

<% end %>
