<!-- template: 托育機構一覽表 -->

<%= render :partial => "/partials/breadcrumb" %>

<div class="container-lg">
	<div class="page-content d-block">
        
        <div class="page-title">
            <h3>托育機構一覽表</h3>
        </div>
        
        <div class="area-select">
            <select class="form-select" aria-label="選擇區域">
                <option selected>請選擇區域</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
            </select>
        </div>
        
        
        <!-- th, td 的 text-align 是用 nth-child 控制，欄位若有改變請找 fire 調整樣式 -->
        <div class="institution-list-wrapper">
            <div class="list-table">
                <div class="list-row list-thead">
                    <span class="list-th">公托名稱</span>
                    <span class="list-th">承辦單位</span>
                    <span class="list-th">地址</span>
                    <span class="list-th">電話</span>
                    <span class="list-th">核定收托數</span>
                    <span class="list-th">開辦狀態</span>
                    <span class="list-th">候補名單</span>
                    <span class="list-th">簡章</span>
                    <span class="list-th">相關連結</span>
                </div>
                
                <div class="list-row list-item">
                    <div class="list-td">
                        <span class="list-label">公托名稱</span>
                        
                        <!-- 欄位 18 個字元長度已緊繃，如果有可能超過 20 請找 fire 調整 css -->
                        <span class="list-data">臺中市公設民營東區大智慧國小托嬰中心</span>
                    </div>
                    <div class="list-td">
                        <span class="list-label">承辦單位</span>
                        <span class="list-data">社團法人中華民國文教產業發展暨補習服務品保協會</span>
                    </div>
                    <div class="list-td">
                        <span class="list-label">地址</span>
                        <span class="list-data">臺中市東區東橋里17鄰大智路359號</span>
                    </div>
                    <div class="list-td">
                        <span class="list-label">電話</span>
                        
                        <!-- 欄位寬度已緊繃，電話如果有可能超過 2 筆請找 fire 調整 html/css -->
                        <span class="list-data">(04)22802878</span>
                    </div>
                    <div class="list-td">
                        <span class="list-label">核定收托數</span>
                        <span class="list-data">32</span>
                    </div>
                    <div class="list-td">
                        <span class="list-label">開辦狀態</span>
                        <span class="list-data">開辦階段</span>
                    </div>
                    <div class="list-td">
                        <span class="list-label">候補名單</span>
                        <span class="list-data"><a href="#" class="data-link" title="{連結名稱}"><i class="fas fa-link"></i></a></span>
                    </div>
                    <div class="list-td">
                        <span class="list-label">簡章</span>
                        <span class="list-data"><a href="#" class="data-pdf" title="{連結名稱}"><i class="far fa-file-pdf"></i></a></span>
                    </div>
                    <div class="list-td">
                        <span class="list-label">相關連結</span>
                        <span class="list-data">
                            <a href="#" class="data-marker" title="{連結名稱}"><i class="fas fa-map-marker-alt"></i></a>
                            <a href="#" class="data-facebook" title="{連結名稱}"><i class="fab fa-facebook-square"></i></a>
                        </span>
                    </div>
                </div>

                <% (1..11).map do |i| %>
                <div class="list-row list-item">
                    <div class="list-td">
                        <span class="list-label">公托名稱</span>
                        
                        <!-- 欄位 18 個字元長度已緊繃，如果有可能超過 20 請找 fire 調整 css -->
                        <span class="list-data">臺中市大智慧國小托嬰中心</span>
                    </div>
                    <div class="list-td">
                        <span class="list-label">承辦單位</span>
                        <span class="list-data">臺中市政府社會局</span>
                    </div>
                    <div class="list-td">
                        <span class="list-label">地址</span>
                        <span class="list-data">臺中市東區東橋里17鄰大智路359號</span>
                    </div>
                    <div class="list-td">
                        <span class="list-label">電話</span>
                        
                        <!-- 欄位寬度已緊繃，電話如果有可能超過 2 筆請找 fire 調整 html/css -->
                        <span class="list-data">(04)22802878</span>
                    </div>
                    <div class="list-td">
                        <span class="list-label">核定收托數</span>
                        <span class="list-data">32</span>
                    </div>
                    <div class="list-td">
                        <span class="list-label">開辦狀態</span>
                        <span class="list-data">開辦階段</span>
                    </div>
                    <div class="list-td">
                        <span class="list-label">候補名單</span>
                        <span class="list-data"><a href="#" class="data-link" title="{連結名稱}"><i class="fas fa-link"></i></a></span>
                    </div>
                    <div class="list-td">
                        <span class="list-label">簡章</span>
                        <span class="list-data"><a href="#" class="data-pdf" title="{連結名稱}"><i class="far fa-file-pdf"></i></a></span>
                    </div>
                    <div class="list-td">
                        <span class="list-label">相關連結</span>
                        <span class="list-data">
                            <a href="#" class="data-marker" title="{連結名稱}"><i class="fas fa-map-marker-alt"></i></a>
                            <a href="#" class="data-facebook" title="{連結名稱}"><i class="fab fa-facebook-square"></i></a>
                        </span>
                    </div>
                </div>
                <% end %>
            </div>
            
            <nav aria-label="...">
                <ul class="pagination justify-content-end">
                    <li class="page-item disabled">
                        <a class="page-link" title="{連結名稱}">上一頁</a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#" title="{連結名稱}">1</a></li>
                    <li class="page-item active" aria-current="page">
                        <a class="page-link" href="#" title="{連結名稱}">2</a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#" title="{連結名稱}">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#" title="{連結名稱}">下一頁</a>
                    </li>
                </ul>
            </nav>
        </div>
        
	</div>
</div>

<% content_for :js do %>

<% end %>










