<!-- template: 登記報名 - 上傳佐證資料 -->

<%= render :partial => "/partials/breadcrumb" %>

<div class="container-lg">
	<div class="page-content d-block">
        
        <!--div class="page-title">
            <h3>上傳佐證資料</h3>
        </div-->
        
        <div class="step-wrapper">
            <div class="scrollbar-inner">
                <ul class="step-menu menu-item">
                    <li class="step-item done">
                        <span class="number">1</span>
                        <span class="description">申請人驗證</span>
                    </li>
                    <li class="step-item done">
                        <span class="number">2</span>
                        <span class="description">申請表</span>
                    </li>
                    <li class="step-item done">
                        <span class="number">3</span>
                        <span class="description">選擇托育機構</span>
                    </li>
                    <li class="step-item done">
                        <span class="number">4</span>
                        <span class="description">選擇身分別</span>
                    </li>
                    <li class="step-item current">
                        <span class="number">5</span>
                        <span class="description">上傳佐證資料</span>
                    </li>
                    <li class="step-item">
                        <span class="number">6</span>
                        <span class="description">送出申請</span>
                    </li>
                </ul>
            </div>
        </div>
        
        <div class="notice-wrapper">
            <p><%= lorem_paragraph %></p>
            <p><%= lorem_paragraph %></p>
        </div>
        
        <section class="section">
            <div class="section-title">
                <h4>共同需繳交文件</h4>
            </div>
            <div class="upload-wrapper register-upload">
                <div class="upload-item">
                    <div class="item-bd">
                        <h4>設籍本市戶口名簿或最近三個月內之戶籍謄本(嬰幼兒本身)</h4>
                        <p>
                            <a href="#" class="btn btn-link" title="{連結名稱}">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-arrow-down-fill" viewBox="0 0 16 16">
                                    <path
                                        d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0M9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1m-1 4v3.793l1.146-1.147a.5.5 0 0 1 .708.708l-2 2a.5.5 0 0 1-.708 0l-2-2a.5.5 0 0 1 .708-.708L7.5 11.293V7.5a.5.5 0 0 1 1 0"
                                    />
                                </svg>
                                <span>範本下載</span>
                            </a>
                        </p>
                        <div class="action-group">
                            <div class="input-chip">
                                <input class="form-control" type="file" id="fileInput1">
                            </div>
                            <div class="btn-chip">
                                <span><button type="button" class="btn btn-secondary">上傳</button></span>
                                <span><button type="button" class="btn btn-secondary"><i class="fas fa-camera"></i> 拍照上傳</button></span>
                            </div>
                        </div>
                    </div>
                    <div class="ft-action">
                        <span>
                            <div class="file-pill">
                                <!-- 避免檔名過長有限制最大寬度 192px，超出時會字元會省略 -->
                                <a href="#" target="_blank" class="filename" title="避免檔名過長有限制最大寬度.jpg" title="{連結名稱}">避免檔名過長有限制最大寬度.jpg</a>
                                <button type="button" class="btn btn-sm btn-rounded btn-dark" title="移除">
                                    <i class="fas fa-times"></i>
                                </button>
                            </div>
                        </span>
                        <span class="last-time">最後更新時間 : 2024-08-02 12:00</span>
                    </div>
                </div>
                
                <div class="upload-item">
                    <div class="item-bd">
                        <h4>設籍本市戶口名簿或最近三個月內之戶籍謄本(父或母其中一方)</h4>
                        <p>單親家長為尚未取得身分證之新住民檢附居留證</p>
                        <p>
                            <a href="#" class="btn btn-link" title="{連結名稱}">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-arrow-down-fill" viewBox="0 0 16 16">
                                    <path
                                        d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0M9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1m-1 4v3.793l1.146-1.147a.5.5 0 0 1 .708.708l-2 2a.5.5 0 0 1-.708 0l-2-2a.5.5 0 0 1 .708-.708L7.5 11.293V7.5a.5.5 0 0 1 1 0"
                                    />
                                </svg>
                                <span>範本下載</span>
                            </a>
                        </p>
                        <div class="action-group">
                            <div class="input-chip">
                                <input class="form-control" type="file" id="fileInput2">
                            </div>
                            <div class="btn-chip">
                                <span><button type="button" class="btn btn-secondary">上傳</button></span>
                                <span><button type="button" class="btn btn-secondary"><i class="fas fa-camera"></i> 拍照上傳</button></span>
                            </div>
                        </div>
                    </div>
                    <div class="ft-action">
                        <span>
                            <div class="file-pill">
                                <!-- 避免檔名過長有限制最大寬度 192px，超出時會字元會省略 -->
                                <a href="#" target="_blank" class="filename" title="避免檔名過長有限制最大寬度.jpg" title="{連結名稱}">避免檔名過長有限制最大寬度.jpg</a>
                                <button type="button" class="btn btn-sm btn-rounded btn-dark" title="移除">
                                    <i class="fas fa-times"></i>
                                </button>
                            </div>
                        </span>
                        <span class="last-time">最後更新時間 : 2024-08-02 12:00</span>
                    </div>
                </div>
                
                <div class="upload-item">
                    <div class="item-bd">
                        <h4>財稅證明切結書正本</h4>
                        <p>入托報到時，繳交最近一年綜合所得稅核定通知書；弱勢家庭及試養階段之收養家庭得免</p>
                        <p>
                            <a href="#" class="btn btn-link" title="{連結名稱}">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-arrow-down-fill" viewBox="0 0 16 16">
                                    <path
                                        d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0M9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1m-1 4v3.793l1.146-1.147a.5.5 0 0 1 .708.708l-2 2a.5.5 0 0 1-.708 0l-2-2a.5.5 0 0 1 .708-.708L7.5 11.293V7.5a.5.5 0 0 1 1 0"
                                    />
                                </svg>
                                <span>範本下載</span>
                            </a>
                        </p>
                        <div class="action-group">
                            <div class="input-chip">
                                <input class="form-control" type="file" id="fileInput3">
                            </div>
                            <div class="btn-chip">
                                <span><button type="button" class="btn btn-secondary">上傳</button></span>
                                <span><button type="button" class="btn btn-secondary"><i class="fas fa-camera"></i> 拍照上傳</button></span>
                            </div>
                        </div>
                    </div>
                    <div class="ft-action">
                        <span>
                            <div class="file-pill">
                                <!-- 避免檔名過長有限制最大寬度 192px，超出時會字元會省略 -->
                                <a href="#" target="_blank" class="filename" title="避免檔名過長有限制最大寬度.jpg" title="{連結名稱}">避免檔名過長有限制最大寬度.jpg</a>
                                <button type="button" class="btn btn-sm btn-rounded btn-dark" title="移除">
                                    <i class="fas fa-times"></i>
                                </button>
                            </div>
                        </span>
                        <span class="last-time">最後更新時間 : 2024-08-02 12:00</span>
                    </div>
                </div>
                <div class="upload-item">
                    <div class="item-bd">
                        <h4>特殊疾病嬰幼兒審斷證明書</h4>
                        <p>無則免</p>
                        <p>
                            <a href="#" class="btn btn-link" title="{連結名稱}">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-arrow-down-fill" viewBox="0 0 16 16">
                                    <path
                                        d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0M9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1m-1 4v3.793l1.146-1.147a.5.5 0 0 1 .708.708l-2 2a.5.5 0 0 1-.708 0l-2-2a.5.5 0 0 1 .708-.708L7.5 11.293V7.5a.5.5 0 0 1 1 0"
                                    />
                                </svg>
                                <span>範本下載</span>
                            </a>
                        </p>
                        <div class="action-group">
                            <div class="input-chip">
                                <input class="form-control" type="file" id="fileInput4">
                            </div>
                            <div class="btn-chip">
                                <span><button type="button" class="btn btn-secondary">上傳</button></span>
                                <span><button type="button" class="btn btn-secondary"><i class="fas fa-camera"></i> 拍照上傳</button></span>
                            </div>
                        </div>
                    </div>
                    
                    <!-- 上傳檔案前沒有 .ft-action -->
                    
                </div>
                <div class="upload-item">
                    <div class="item-bd">
                        <h4>委託他人申請委託書</h4>
                        <p>無則免</p>
                        <p>
                            <a href="#" class="btn btn-link" title="{連結名稱}">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-arrow-down-fill" viewBox="0 0 16 16">
                                    <path
                                        d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0M9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1m-1 4v3.793l1.146-1.147a.5.5 0 0 1 .708.708l-2 2a.5.5 0 0 1-.708 0l-2-2a.5.5 0 0 1 .708-.708L7.5 11.293V7.5a.5.5 0 0 1 1 0"
                                    />
                                </svg>
                                <span>範本下載</span>
                            </a>
                        </p>
                        <div class="action-group">
                            <div class="input-chip">
                                <input class="form-control" type="file" id="fileInput5">
                            </div>
                            <div class="btn-chip">
                                <span><button type="button" class="btn btn-secondary">上傳</button></span>
                                <span><button type="button" class="btn btn-secondary"><i class="fas fa-camera"></i> 拍照上傳</button></span>
                            </div>
                        </div>
                    </div>
                    
                    <!-- 上傳檔案前沒有 .ft-action -->
                    
                </div>
            </div>
        </section>
        
        <!-- 佐證資料選擇上傳檔案並已上傳，但再切換 radio 時，.ft-action 需要隱藏，麻煩工程師協助 -->
        <section class="section">
            <div class="section-title">
                <h4>佐證資料</h4>
            </div>
            <div class="upload-wrapper fluid-wrapper register-upload">
                <div class="upload-item">
                    <div class="item-bd">
                        <h4>臺中市公設民營東區大致國小托嬰中心</h4>
                        <p>設置於社會住宅或里 、社區活動中心之公托，該社會住宅住戶 或 里、社區別活動中心之設籍居民。</p>
                        <p>
                            <a href="#" class="btn btn-link" title="{連結名稱}">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-arrow-down-fill" viewBox="0 0 16 16">
                                    <path
                                        d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0M9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1m-1 4v3.793l1.146-1.147a.5.5 0 0 1 .708.708l-2 2a.5.5 0 0 1-.708 0l-2-2a.5.5 0 0 1 .708-.708L7.5 11.293V7.5a.5.5 0 0 1 1 0"
                                    />
                                </svg>
                                <span>範本下載</span>
                            </a>
                        </p>
                        <div class="form-check mb-1">
                            <input class="form-check-input" type="radio" name="flex1Radio" id="flex1Radio1" />
                            <label class="form-check-label" for="flex1Radio1">
                                從 <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal11" title="{連結名稱}">MyData</a> 取得相關資料
                            </label>
                        </div>
                        <div class="form-check mb-1">
                            <input class="form-check-input" type="radio" name="flex1Radio" id="flex1Radio2" />
                            <label class="form-check-label" for="flex1Radio2">
                                從 <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal11" title="{連結名稱}">臺中市社政資訊系統</a> 取得相關資料
                            </label>
                        </div>
                        <div class="form-check mb-1">
                            <input class="form-check-input" type="radio" name="flex1Radio" id="flex1Radio3" checked />
                            <label class="form-check-label" for="flex1Radio3">
                                自行上傳佐證資料
                            </label>
                        </div>
                        <div class="action-group check-upload">
                            <div class="input-chip">
                                <input class="form-control" type="file" id="fileInput1">
                            </div>
                            <div class="btn-chip">
                                <span><button type="button" class="btn btn-secondary">上傳</button></span>
                                <span><button type="button" class="btn btn-secondary"><i class="fas fa-camera"></i> 拍照上傳</button></span>
                            </div>
                        </div>
                    </div>
                    <div class="ft-action">
                        <span>
                            <div class="file-pill">
                                <!-- 避免檔名過長有限制最大寬度 192px，超出時會字元會省略 -->
                                <a href="#" target="_blank" class="filename" title="避免檔名過長有限制最大寬度.jpg" title="{連結名稱}">避免檔名過長有限制最大寬度.jpg</a>
                                <button type="button" class="btn btn-sm btn-rounded btn-dark" title="移除">
                                    <i class="fas fa-times"></i>
                                </button>
                            </div>
                        </span>
                        <span>
                            <div class="file-pill">
                                <!-- 避免檔名過長有限制最大寬度 192px，超出時會字元會省略 -->
                                <a href="#" target="_blank" class="filename" title="避免檔名過長有限制最大寬度.jpg" title="{連結名稱}">避免檔名過長有限制最大寬度.jpg</a>
                                <button type="button" class="btn btn-sm btn-rounded btn-dark" title="移除">
                                    <i class="fas fa-times"></i>
                                </button>
                            </div>
                        </span>
                        <span class="last-time">最後更新時間 : 2024-08-02 12:00</span>
                    </div>
                </div>
            </div>
        </section>
        
        <!-- 佐證資料選擇上傳檔案並已上傳，但再切換 radio 時，.ft-action 需要隱藏，麻煩工程師協助 -->
        <section class="section">
            <div class="section-title">
                <h4>佐證資料</h4>
            </div>
            <div class="upload-wrapper fluid-wrapper register-upload">
                <div class="upload-item">
                    <div class="item-bd">
                        <h4>臺中市公設民營東區大致國小托嬰中心</h4>
                        <p>設置於社會住宅或里 、社區活動中心之公托，該社會住宅住戶 或 里、社區別活動中心之設籍居民。</p>
                        <p>
                            <a href="#" class="btn btn-link" title="{連結名稱}">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-arrow-down-fill" viewBox="0 0 16 16">
                                    <path
                                        d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0M9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1m-1 4v3.793l1.146-1.147a.5.5 0 0 1 .708.708l-2 2a.5.5 0 0 1-.708 0l-2-2a.5.5 0 0 1 .708-.708L7.5 11.293V7.5a.5.5 0 0 1 1 0"
                                    />
                                </svg>
                                <span>範本下載</span>
                            </a>
                        </p>
                        <div class="form-check mb-1">
                            <input class="form-check-input" type="radio" name="flex2Radio" id="flex2Radio5" />
                            <label class="form-check-label" for="flex2Radio5">
                                從 <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal11" title="{連結名稱}">MyData</a> 取得相關資料
                            </label>
                        </div>
                        <div class="form-check mb-1">
                            <input class="form-check-input" type="radio" name="flex2Radio" id="flex2Radio6" />
                            <label class="form-check-label" for="flex2Radio6">
                                從 <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal11" title="{連結名稱}">臺中市社政資訊系統</a> 取得相關資料
                            </label>
                        </div>
                        <div class="form-check mb-1">
                            <input class="form-check-input" type="radio" name="flex2Radio" id="flex2Radio7" />
                            <label class="form-check-label" for="flex2Radio7">
                                自行上傳佐證資料
                            </label>
                        </div>
                        <div class="action-group check-upload">
                            <div class="input-chip">
                                <input class="form-control" type="file" id="fileInput1">
                            </div>
                            <div class="btn-chip">
                                <span><button type="button" class="btn btn-secondary">上傳</button></span>
                                <span><button type="button" class="btn btn-secondary"><i class="fas fa-camera"></i> 拍照上傳</button></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        <div class="form-action">
            <button type="button" class="btn btn-lg btn-light">上一步</button>
            <button type="button" class="btn btn-lg btn-primary">儲存</button>
            <button type="button" class="btn btn-lg btn-light">下一步</button>
        </div>
        
	</div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal11" tabindex="-1" aria-labelledby="exampleModal11Label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModal11Label">Modal title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

<% content_for :js do %>

<!-- mobile 視窗指定卷軸位置 -->
<script>
$(document).ready(function() {
    // 判斷是否為小視窗
    if ($(window).width() <= 768) {
        // 設定橫向卷軸到指定的 .current 元素位置
        var currentItem = $('.step-item.current');
        if (currentItem.length) {
            var scrollPosition = currentItem.position().left;
            $('.scrollbar-inner').scrollLeft(scrollPosition);
        }
    }
});
</script>

<% end %>










