<!-- template: 登記報名 - 選擇身分別 -->

<%= render :partial => "/partials/breadcrumb" %>

<div class="container-lg">
	<div class="page-content d-block">
        
        <!--div class="page-title">
            <h3>選擇身分別</h3>
        </div-->
        
        <div class="step-wrapper">
            <div class="scrollbar-inner">
                <ul class="step-menu menu-item">
                    <li class="step-item done">
                        <span class="number">1</span>
                        <span class="description">申請人驗證</span>
                    </li>
                    <li class="step-item done">
                        <span class="number">2</span>
                        <span class="description">申請表</span>
                    </li>
                    <li class="step-item done">
                        <span class="number">3</span>
                        <span class="description">選擇托育機構</span>
                    </li>
                    <li class="step-item current">
                        <span class="number">4</span>
                        <span class="description">選擇身分別</span>
                    </li>
                    <li class="step-item">
                        <span class="number">5</span>
                        <span class="description">上傳佐證資料</span>
                    </li>
                    <li class="step-item">
                        <span class="number">6</span>
                        <span class="description">送出申請</span>
                    </li>
                </ul>
            </div>
        </div>
        
        <div class="notice-wrapper">
            <p><%= lorem_paragraph %></p>
            <p><%= lorem_paragraph %></p>
        </div>
        
        <div class="identity-select-wrapper">
            
            <section class="item-section">
                <h4>臺中市公設民營東區大智國小托嬰中心</h4>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="identity1Radio" id="identity1Radio1" />
                            <label class="form-check-label" for="identity1Radio1">
                                設置於社會住宅或里、社區活動中心之公托，該社會住宅住戶或里、社區別活動中心之設籍居民。
                                <small>本項名額以不超過 5% 為上限，滿額時併入一般家庭排序</small>
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="identity1Radio" id="identity1Radio2" />
                            <label class="form-check-label" for="identity1Radio2">
                                提供設置公托場地之學校編制內教職員直系血親子女。
                                <small>本項名額以不超過 5% 為上限，滿額時併入一般家庭排序</small>
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="identity1Radio" id="identity1Radio3" />
                            <label class="form-check-label" for="identity1Radio3">
                                任職於該公托現職員工之子女。
                                <small>本項名額以不超過 5% 為上限，滿額時併入一般家庭排序</small>
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="identity1Radio" id="identity1Radio4" />
                            <label class="form-check-label" for="identity1Radio4">
                                低收入戶
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="identity1Radio" id="identity1Radio5" />
                            <label class="form-check-label" for="identity1Radio5">
                                中低收入戶
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="identity1Radio" id="identity1Radio6" />
                            <label class="form-check-label" for="identity1Radio6">
                                特殊境遇家庭（依特殊境遇家庭扶助條例認定）
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="identity1Radio" id="identity1Radio7" />
                            <label class="form-check-label" for="identity1Radio7">
                                本局社工服務中之脆弱家庭
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="identity1Radio" id="identity1Radio8" />
                            <label class="form-check-label" for="identity1Radio8">
                                臺中市家庭暴力及性侵害防治中心社工服務中之危機家庭
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="identity1Radio" id="identity1Radio9" />
                            <label class="form-check-label" for="identity1Radio9">
                                符合本市經濟弱勢兒童及少年生活扶助家庭之兒童
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="identity1Radio" id="identity1Radio10" />
                            <label class="form-check-label" for="identity1Radio10">
                                發展遲緩或持有身心障礙證明之兒童
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="identity1Radio" id="identity1Radio11" />
                            <label class="form-check-label" for="identity1Radio11">
                                具原住民身分之兒童
                            </label>
                        </div>
                    </div>
                    
                    <div class="col-lg-6">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="identity1Radio" id="identity1Radio12" />
                            <label class="form-check-label" for="identity1Radio12">
                                父母之一方為中度以上之身心障礙
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="identity1Radio" id="identity1Radio13" />
                            <label class="form-check-label" for="identity1Radio13">
                                父母雙方或單親一方於報名登記日為未成年親職家庭之兒童
                            </label>
                        </div>
                        
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="identity1Radio" id="identity1Radio14" />
                            <label class="form-check-label" for="identity1Radio14">
                                父母戶內育有雙(多)胞胎及三名以上子女家庭之兒童
                            </label>
                        </div>
                        <div class="twins-wrap">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="twinsRadio" id="twinsRadio1" />
                                <label class="form-check-label" for="twinsRadio1">
                                    雙(多)胞胎手足併於同一籤次登記(每位嬰幼兒仍要個別送出報名申請)
                                </label>
                            </div>
                            <div class="merge-wrap">
                                <div class="mb-1">
                                    <input type="text" class="form-control" id="mergeInput1" placeholder="請輸入合併登記手足身分證字號">
                                </div>
                                <div class="mb-1">
                                    <input type="text" class="form-control" id="mergeInput2" placeholder="請輸入合併登記手足身分證字號">
                                </div>
                                <div class="mb-1">
                                    <input type="text" class="form-control" id="mergeInput3" placeholder="請輸入合併登記手足身分證字號">
                                </div>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="twinsRadio" id="twinsRadio2" />
                                <label class="form-check-label" for="twinsRadio2">
                                    個別以獨立籤次登記
                                </label>
                            </div>
                        </div>
                        
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="identity1Radio" id="identity1Radio15" />
                            <label class="form-check-label" for="identity1Radio15">
                                法院裁定收養認可前(試養階段)，準收養人設籍於本市之收養家庭。
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="identity1Radio" id="identity1Radio16" checked />
                            <label class="form-check-label" for="identity1Radio16">
                                一般家庭
                            </label>
                        </div>
                    </div>
                </div>
                
            </section>
            
            <section class="item-section">
                <h4>文采永定托嬰中心</h4>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="identity2Radio" id="identity2Radio1" />
                            <label class="form-check-label" for="identity2Radio1">
                                設置於社會住宅或里、社區活動中心之公托，該社會住宅住戶或里、社區別活動中心之設籍居民。
                                <small>本項名額以不超過 5% 為上限，滿額時併入一般家庭排序</small>
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="identity2Radio" id="identity2Radio2" />
                            <label class="form-check-label" for="identity2Radio2">
                                提供設置公托場地之學校編制內教職員直系血親子女。
                                <small>本項名額以不超過 5% 為上限，滿額時併入一般家庭排序</small>
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="identity2Radio" id="identity2Radio3" />
                            <label class="form-check-label" for="identity2Radio3">
                                任職於該公托現職員工之子女。
                                <small>本項名額以不超過 5% 為上限，滿額時併入一般家庭排序</small>
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="identity2Radio" id="identity2Radio4" />
                            <label class="form-check-label" for="identity2Radio4">
                                低收入戶
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="identity2Radio" id="identity2Radio5" />
                            <label class="form-check-label" for="identity2Radio5">
                                中低收入戶
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="identity2Radio" id="identity2Radio6" />
                            <label class="form-check-label" for="identity2Radio6">
                                特殊境遇家庭（依特殊境遇家庭扶助條例認定）
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="identity2Radio" id="identity2Radio7" />
                            <label class="form-check-label" for="identity2Radio7">
                                本局社工服務中之脆弱家庭
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="identity2Radio" id="identity2Radio8" />
                            <label class="form-check-label" for="identity2Radio8">
                                臺中市家庭暴力及性侵害防治中心社工服務中之危機家庭
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="identity2Radio" id="identity2Radio9" />
                            <label class="form-check-label" for="identity2Radio9">
                                符合本市經濟弱勢兒童及少年生活扶助家庭之兒童
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="identity2Radio" id="identity2Radio10" />
                            <label class="form-check-label" for="identity2Radio10">
                                發展遲緩或持有身心障礙證明之兒童
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="identity2Radio" id="identity2Radio11" />
                            <label class="form-check-label" for="identity2Radio11">
                                具原住民身分之兒童
                            </label>
                        </div>
                    </div>
                    
                    <div class="col-lg-6">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="identity2Radio" id="identity2Radio12" />
                            <label class="form-check-label" for="identity2Radio12">
                                父母之一方為中度以上之身心障礙
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="identity2Radio" id="identity2Radio13" />
                            <label class="form-check-label" for="identity2Radio13">
                                父母雙方或單親一方於報名登記日為未成年親職家庭之兒童
                            </label>
                        </div>
                        
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="identity2Radio" id="identity2Radio14" />
                            <label class="form-check-label" for="identity2Radio14">
                                父母戶內育有雙(多)胞胎及三名以上子女家庭之兒童
                            </label>
                        </div>
                        <div class="twins-wrap">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="twins2Radio" id="twins2Radio1" />
                                <label class="form-check-label" for="twins2Radio1">
                                    雙(多)胞胎手足併於同一籤次登記(每位嬰幼兒仍要個別送出報名申請)
                                </label>
                            </div>
                            <div class="merge-wrap">
                                <div class="mb-1">
                                    <input type="text" class="form-control" id="merge2Input1" placeholder="請輸入合併登記手足身分證字號">
                                </div>
                                <div class="mb-1">
                                    <input type="text" class="form-control" id="merge2Input1" placeholder="請輸入合併登記手足身分證字號">
                                </div>
                                <div class="mb-1">
                                    <input type="text" class="form-control" id="merge2Input1" placeholder="請輸入合併登記手足身分證字號">
                                </div>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="twins2Radio" id="twins2Radio2" />
                                <label class="form-check-label" for="twins2Radio2">
                                    個別以獨立籤次登記
                                </label>
                            </div>
                        </div>
                        
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="identity2Radio" id="identity2Radio15" />
                            <label class="form-check-label" for="identity2Radio15">
                                法院裁定收養認可前(試養階段)，準收養人設籍於本市之收養家庭。
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="identity2Radio" id="identity2Radio16" checked />
                            <label class="form-check-label" for="identity2Radio16">
                                一般家庭
                            </label>
                        </div>
                    </div>
                </div>
            </section>
            
            <div class="form-action">
                <button type="button" class="btn btn-lg btn-light">上一步</button>
                <button type="button" class="btn btn-lg btn-primary">儲存</button>
                <button type="button" class="btn btn-lg btn-light">下一步</button>
            </div>
        </div>

	</div>
</div>

<% content_for :js do %>

<!-- mobile 視窗指定卷軸位置 -->
<script>
$(document).ready(function() {
    // 判斷是否為小視窗
    if ($(window).width() <= 768) {
        // 設定橫向卷軸到指定的 .current 元素位置
        var currentItem = $('.step-item.current');
        if (currentItem.length) {
            var scrollPosition = currentItem.position().left;
            $('.scrollbar-inner').scrollLeft(scrollPosition);
        }
    }
});
</script>

<% end %>










