<!-- template: 法規專區列表 -->

<%= render :partial => "/partials/breadcrumb" %>

<div class="container-lg">
	<div class="page-content d-block">
        
        <div class="page-title">
            <h3>法規專區</h3>
        </div>
        
        <div class="article-list-wrapper">
            <ul class="article-list regulations-list menu-item">
                <li>
                    <span class="date">113-09-20</span>
                    <a href="#" title="{連結名稱}">臺中市育兒指導服務–守護你的育兒路</a>
                </li>
                <li>
                    <span class="date">113-09-20</span>
                    <a href="#" title="{連結名稱}">暑期親子廚房課程報名時間千萬不要錯過</a>
                </li>
                <li>
                    <span class="date">113-09-20</span>
                    <a href="#" title="{連結名稱}">臺中市玩具銀行玩具回收大作戰邀請您一起來參加</a>
                </li>
                <li>
                    <span class="date">113-09-20</span>
                    <a href="#" title="{連結名稱}">臺中市親子館自110年11月16日下午部分開放現場預約入館</a>
                </li>
                <% (1..8).map do |i| %>
                <li>
                    <span class="date">113-09-1<%= i %></span>
                    <a href="#" title="{連結名稱}"><%= zh_lorem_sentence %></a>
                </li>
                <% end %>
            </ul>
        </div>
        
        <nav aria-label="...">
            <ul class="pagination justify-content-end">
                <li class="page-item disabled">
                    <a class="page-link" title="{連結名稱}">上一頁</a>
                </li>
                <li class="page-item"><a class="page-link" href="#" title="{連結名稱}">1</a></li>
                <li class="page-item active" aria-current="page">
                    <a class="page-link" href="#" title="{連結名稱}">2</a>
                </li>
                <li class="page-item"><a class="page-link" href="#" title="{連結名稱}">3</a></li>
                <li class="page-item">
                    <a class="page-link" href="#" title="{連結名稱}">下一頁</a>
                </li>
            </ul>
        </nav>
        
	</div>
</div>


<% content_for :js do %>


<% end %>










