<!-- template: 網站導覽 -->

<%= render :partial => "/partials/breadcrumb" %>

<div class="container-lg">
	<div class="page-content d-block">
        
        <div class="page-title">
            <h3>網站導覽</h3>
        </div>
        
        <div>
            <p class="mb-0">本網站依無障礙網頁設計原則建置，網站的主要內容分為三大區塊：</p>
            <p>1. 上方功能區塊、2. 中央內容區塊、3.下方功能區塊。</p>
            <p>本網站的快速鍵﹝Accesskey﹞設定如下：</p>
            
            <ul class="menu-item mb-3">
                <li>Alt+U：右上方功能區塊，包括回首頁、網站導覽、網站搜尋、字體選擇等。</li>
                <li>Alt+C：中央內容區塊，為本頁主要內容區。</li>
                <li>Alt+S：網站搜尋。</li>
                <li>Alt+Z：下方功能區塊。</li>
            </ul>
            <p>如果您的瀏覽器是Firefox，快速鍵的使用方法是 Shift+Alt+(快速鍵字母)，例如 Shift+Alt+C會跳至網頁中央區塊，以此類推。</p>
            
            <ol class="sitemap-menu">
                <li><a href="#" title="最新消息">最新消息</a></li>
                <li><a href="#" title="法規專區">法規專區</a></li>
                <li><a href="#" title="表單下載">表單下載</a></li>
                <li><a href="#" title="托育機構一覽表">托育機構一覽表</a></li>
                <li><a href="#" title="操作指引">操作指引</a></li>
            </ol>
        </div>
        
	</div>
</div>

<% content_for :js do %>

<% end %>










