<!-- NTU-Joint: 驗證成功  -->

<div class="container">
	<div class="start-container">
	    <h6 class="delivery-successful">The delivery is successful !! Please collect the letter from the email box you filled in to complete the authentication!</h6>
	    <a class="btn btn-success btn-rounded waves-effect z-depth-0" href="#">Start applying</a>
    </div>
</div>