
@import "base";

section.section {
	margin-bottom: 4rem;
}

.block-title {
	margin-bottom: 1rem;
	font-weight: 700;
}


/* `Login
-----------------------------------------------------------------------------*/

.login-container {
	.login {
		margin: 0 auto;
		width: 600px;
	}
}

/* `Index
-----------------------------------------------------------------------------*/

.wrap-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	> li {
		margin-bottom: 30px;
		width: 31.2%;
	}
	.date {
		margin-bottom: 0;
		color: #999;
	}
	.title {
		font-size: 18px;
		font-weight: 700;
	}
	.summary {
		margin-bottom: 0;
		line-height: 1.6;
	}
	.more { font-weight: 700; }
}

.scholarship-list {
	li {
		background: #fff;
	}
	.hd {
		background: #eee;
		border-bottom: 4px solid $main_color;
		display: flex;
		align-items: center;
		padding: 0 20px;
		height: 88px;
		h5.title {
			margin-bottom: 0;
			font-weight: 400;
		}
	}
	.list-info {
		border-bottom: 1px solid #eee;
		padding: 0.5rem 0;
		&:last-child { border-bottom: none; }
		span {
			display: block;
			padding: 0 20px;
		}
	}
	.links {
		display: flex;
		align-items: center;
		a {
			height: 56px;
			line-height: 56px;
			text-align: center;
		}
		.view-link {
			background: #eee;
			width: 35%;
			color: $main_color;
			&:hover { background: #ddd; }
		}
		.application-link {
			background: $main_color;
			width: 65%;
			color: #fff;
			&:hover { background: darken($main_color, 5); }
		}
	}
}

/* `Overview
-----------------------------------------------------------------------------*/

.avatar-wrap {
	border-bottom: 1px solid #e5e5e5;
	padding-bottom: 2rem;
	.avatar {
		margin: 0 auto 1rem;
		width: 65%;
		height: auto;
		img {
			border-radius: 50%;
			width: 100%;
			height: auto;
		}
	}
	h5 {
		text-align: center;
		small {
			display: block;
			margin-top: 1rem;
			padding-top: 1rem;
			font-size: 75%;
			position: relative;
			&:before, &:after {
				content: "";
				background: $main_color;
				border-radius: 50%;
				margin-left: 7px;
				width: 9px;
				height: 9px;
				position: absolute;
				top: -4.5px;
				left: 50%;
			}
			&:after {
				background: $secondary_color;
				margin-left: -7px;
			}
			span {
				display: block;
				margin-bottom: 0.5rem;
			}
		}
	}
}

.aside {
	.personal-menu {
		a {
			border-bottom: 1px solid #e5e5e5;
			display: block;
			padding: 0.75rem 0;
			position: relative;
			&:after {
				content: "";
				background: $main_color;
				width: 0;
				height: 2px;
				position: absolute;
				bottom: 0;
				left: 0;
				transition: all 0.2s ease-in-out;
			}
			&:hover {
				&:after {
					width: 20px;
				}
			}
		}
		.current a {
			background: #f0f0f0;
			padding-left: 0.85rem;
			padding-right: 0.85rem;
			color: #111;
			cursor: default;
			&:after { content: none; }
		}
	}
	.award-wrap {
		margin: 2rem 0;
	}
	.contact-wrap {
		color: #222;
		li {
			border-bottom: 1px dashed rgba(#000, .1);
			margin-bottom: 0.4rem;
			padding-bottom: 0.4rem;
			word-break: break-all;
			&:last-child {
				border-bottom: none;
				margin-bottom: 0;
				padding-bottom: 0;
			}
			.fa {
				margin-right: 8px;
				width: 20px;
			}
		}
	}
}

.scholarship-status {
	> li {
		width: 48.2%;
	}
	.hd {
		border-bottom: none;
	}
	.status {
		padding: 10px 20px;
		font-size: 18px;
		font-weight: bold;
		position: relative;
		overflow: hidden;
		&:after, &:before {
			content: "";
			transition: all 0.2s ease-in-out;
			position: absolute;
			top: 15px;
			right: -94px;
			height: 120px;
			width: 120px;
			transform: rotate(45deg);
		}
	}
	.open {
		.status {
			border-bottom: 2px solid $secondary_color;
			color: darken($secondary_color, 10);
			&:before {
				background: $main_color;
				top: 0;
			}
			&:after {
				background: $secondary_color;
			}
		}
	}
	.closed {
		.status {
			border-bottom: 2px solid $main_color;
			color: $main_color;
			&:before {
				background: $secondary_color;
				top: 0;
			}
			&:after {
				background: $main_color;
			}
		}
	}
	li:hover {
		.status:after,
		.status:before {
			right: -102px;
		}
	}
}




























































































