<header class="header">
    <nav class="navbar navbar-expand-lg navbar-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="mr-auto">
				<ul class="menu-item task-menu-item">
                    <li><a href="#">執行中任務 <span class="badge badge-pill badge-primary">9</span></a></li>
                    <li><a href="#">未開始任務 <span class="badge badge-pill badge-default">9</span></a></li>
                    <li><a href="#">檢核派工單 <span class="badge badge-pill badge-secondary">9</span></a></li>
                    <li><a href="#">退件修改派工單 <span class="badge badge-pill badge-danger">9</span></a></li>
                </ul>
            </div>
            <ul class="navbar-nav nav-right ml-md-auto">
				<li class="nav-item">
				    <a href="#" class="btn btn-sm btn-white">切換身分<span class="badge badge-danger ml-2">4</span></a>
				</li>
                <li class="nav-item dropdown">
                    <span class="counter">3</span>
                    <a href="" class="message-dropdown dropdown-toggle nav-link no-after" data-toggle="dropdown" aria-expanded="false">
                        <i class="fa fa-commenting-o"></i>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <ul class="has-row">
								<% (1..3).map do |i| %>
                                <li>
                                    <a role="button" class="dropdown-item message-item" data-toggle="modal" data-target="#adminChat">
										<div class="character">
                                            <div class="peer mr-15"><img src="../assets/default-avatar.svg" alt=""></div>
                                            <div class="peer peer-greed">
                                                <div>
                                                    <p class="name">陳光華</p>
                                                    <small class="office">駐胡志明市辦事處僑務組</small>
                                                </div>
                                            </div>
										</div>
										<div class="message-ft">
										    <span class="time">35 min</span>
											<span class="badge-pill badge-info">123</span>
										</div>
                                    </a>
                                </li>
								<li>
                                    <a role="button" class="dropdown-item message-item" data-toggle="modal" data-target="#adminChat">
										<div class="character">
                                            <div class="peer mr-15"><img src="../assets/default-avatar.svg" alt=""></div>
                                            <div class="peer peer-greed">
                                                <div>
                                                    <p class="name">林天送</p>
                                                    <small class="office">菲華文教服務中心</small>
                                                </div>
                                            </div>
										</div>
										<div class="message-ft">
										    <span class="time">2 days</span>
											<span class="badge-pill badge-info">5</span>
										</div>
                                    </a>
                                </li>
								<li>
                                    <a role="button" class="dropdown-item message-item" data-toggle="modal" data-target="#adminChat">
										<div class="character">
                                            <div class="peer mr-15"><img src="https://i.pinimg.com/originals/00/3c/ab/003cabb723700d63df376a4bf0d5920c.jpg" alt=""></div>
                                            <div class="peer peer-greed">
                                                <div>
                                                    <p class="name">Scarlett Johansson</p>
                                                    <small class="office">美國紐約演藝工會</small>
                                                </div>
                                            </div>
										</div>
										<div class="message-ft">
										    <span class="time">20 days</span>
										</div>
                                    </a>
                                </li>
								<% end %>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <span class="counter">3</span>
                    <a href="" class="notifications-dropdown dropdown-toggle nav-link no-after" data-toggle="dropdown" aria-expanded="false">
                        <i class="fa fa-bell-o"></i>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-head">
                            <i class="fa fa-bell-o"></i>
                            <span>Notifications</span>
                        </li>
                        <li>
                            <ul class="has-row">
                                <li>
                                    <a href="" class="dropdown-item">
                                        <div class="peer mr-15"><img src="../assets/default-avatar.svg" alt=""></div>
                                        <div class="peer peer-greed">
                                            <div class="flex between">
                                                <p>John Doe</p>
                                                <small>5 mins ago</small>
                                            </div>
                                            <span class="summary">Want to create your own customized data generator for your app...</span>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="" class="dropdown-item">
                                        <div class="peer mr-15"><img src="../assets/default-avatar.png" alt=""></div>
                                        <div class="peer peer-greed">
                                            <div class="flex between">
                                                <p>John Doe</p>
                                                <small>5 mins ago</small>
                                            </div>
                                            <span class="summary">Want to create your own customized data generator for your app...</span>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="" class="dropdown-item">
                                        <div class="peer mr-15"><img src="../assets/default-avatar.svg" alt=""></div>
                                        <div class="peer peer-greed">
                                            <div class="flex between">
                                                <p>John Doe</p>
                                                <small>5 mins ago</small>
                                            </div>
                                            <span class="summary">Want to create your own customized data generator for your app...</span>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown-foot"><div class="view-all"><a href="">View All Notifications <i class="fa fa-angle-right"></i></a></div ></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle peers" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<div class="peer"><img class="w-2r bdrs-50p" src="../assets/default-avatar.svg" alt=""></div>
						<span class="peer username">UserName</span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Profile</a>
                        <a class="dropdown-item" href="#">Settings</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Logout</a>
                    </div>
                </li>
                <li class="nav-item"><a href="#" class="js-toggle-right-slidebar nav-link blue-gradient">切換</a></li>
            </ul>
        </div>
    </nav>
</header>