<div class="modal fade" id="adminChat" tabindex="-1" role="dialog" aria-labelledby="adminChatLabel" aria-hidden="true" data-backdrop="false">
    <div class="modal-dialog modal-messages modal-conversations modal-side modal-bottom-right" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="adminChatLabel">{功能名稱}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <ul class="nav nav-tabs chat-tabs" id="chatTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="row-tab" data-toggle="tab" href="#row" role="tab" aria-controls="row" aria-selected="true">Row</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="sheet-tab" data-toggle="tab" href="#sheet" role="tab" aria-controls="sheet" aria-selected="false">Sheet</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="all-tab" data-toggle="tab" href="#all" role="tab" aria-controls="all" aria-selected="false">All</a>
                    </li>
                </ul>
                <div class="tab-content" id="chatTabContent">
					
                    <div class="tab-pane row-pane fade show active" id="row" role="tabpanel" aria-labelledby="row-tab">
						<div class="row-hd">
						    <h5>ROW: 專案啟動及專案規劃</h5>
						</div>
                        <div class="admin-messages scrollbar-inner">
                            <div class="messages">

                                <div class="character align-items-start">
                                    <div class="d-flex align-items-center">
                                        <div class="avatar">
                                            <img alt="Pic" src="https://avatarfiles.alphacoders.com/231/231252.jpg">
                                        </div>
                                        <div>
                                            <spa class="symbol">Scarlett Johansson</span>
                                            <span class="text-clock">剛剛</span>
                                        </div>
                                    </div>
                                    <div class="messages-item">
										<p>@人名 autocomplete 為示意，實際架構依套件或開發再做調整。</p>
										<div class="photo-group">
											<div class="mdb-lightbox">
												<figure>
                                                    <a href="../assets/fake/c01.jpg" data-size="800x600">
                                                        <img alt="Pic" src="../assets/fake/c01.jpg"  class="img-fluid">
                                                    </a>
												</figure>
												<figure>
                                                    <a href="../assets/fake/k05.jpg" data-size="542x800">
                                                        <img alt="Pic" src="../assets/fake/k05.jpg"  class="img-fluid">
                                                    </a>
												</figure>
												<figure>
                                                    <a href="../assets/fake/chat.gif" data-size="30x23">
                                                        <img alt="Pic" src="../assets/fake/chat.gif"  class="img-fluid">
                                                    </a>
												</figure>
											</div>
										</div>
										<button type="button" class="btn btn-reply" title="回覆">
                                            <i class="fa fa-reply"></i>
                                        </button>
									</div>
									<div class="reply-wrap">
                                        <div class="character align-items-start oneself">
                                            <div class="d-flex align-items-center">
                                                <div class="avatar">
                                                    <img alt="Pic" src="../assets/default-avatar.svg">
                                                </div>
                                                <div>
                                                    <spa class="symbol">我</span>
                                                    <span class="text-clock">1 分鐘前</span>
                                                </div>
                                            </div>
                                            <div class="messages-item">
                                                <p>自己的發言不用出現名字</p>
                                                <button type="button" class="btn btn-reply" title="回覆">
                                                    <i class="fa fa-reply"></i>
                                                </button>
                                                <button type="button" class="btn btn-action row_tooltip">
                                                    <i class="fa fa-ellipsis-v"></i>
                                                </button>
                                            </div>
                                        </div>
										
                                        <div class="character align-items-start">
                                            <div class="d-flex align-items-center">
                                                <div class="avatar">
                                                    <img alt="Pic" src="https://avatarfiles.alphacoders.com/231/231252.jpg">
                                                </div>
                                                <div>
                                                    <spa class="symbol">Scarlett Johansson</span>
                                                    <span class="text-clock">1 分鐘前</span>
                                                </div>
                                            </div>
                                            <div class="messages-item">
                                                <p>Ok, Understood!</p>
                                                <button type="button" class="btn btn-reply" title="回覆">
                                                    <i class="fa fa-reply"></i>
                                                </button>
                                            </div>
                                        </div>
									</div>
                                </div>

                                <div class="character align-items-start oneself">
                                    <div class="d-flex align-items-center">
                                        <div class="avatar">
                                            <img alt="Pic" src="../assets/default-avatar.svg">
                                        </div>
                                        <div>
                                            <spa class="symbol">我</span>
											<span class="text-clock">3 分鐘前</span>
                                        </div>
                                    </div>
                                    <div class="messages-item">
										<p>tooltip 套件 <a href="https://www.heteroclito.fr/modules/tooltipster/">Tooltipster</a></p>
										<p>檔案名稱過長時會截字元</p>
										<div class="file-wrap">
											<a href="#" class="pdf-file">檔案名稱.pdf</a>
											<a href="#" class="excel-file">Tempore nostrum voluptatem repellat eaque cumque.xls</a>
											<a href="#" class="doc-file">檔案名稱.docx</a>
											<a href="#" class="text-file">檔案名稱.txt</a>
											<a href="#" class="zip-file">壓縮檔名稱.zip</a>
										</div>
										<button type="button" class="btn btn-reply" title="回覆">
                                            <i class="fa fa-reply"></i>
                                        </button>
                                        <button type="button" class="btn btn-action row_tooltip">
                                            <i class="fa fa-ellipsis-v"></i>
                                        </button>
									</div>
                                </div>

                                <div class="character align-items-start">
                                    <div class="d-flex align-items-center">
                                        <div class="avatar">
                                            <img alt="Pic" src="https://avatarfiles.alphacoders.com/231/231252.jpg">
                                        </div>
                                        <div>
                                            <spa class="symbol">Scarlett Johansson</span>
                                            <span class="text-clock">5 分鐘前</span>
                                        </div>
                                    </div>
                                    <div class="messages-item">
										<p><span class="at-style">@fire</span>at 樣式</p>
										<p>換行</p>
										<button type="button" class="btn btn-reply" title="回覆">
                                            <i class="fa fa-reply"></i>
                                        </button>
									</div>
                                </div>

                                <div class="character align-items-start oneself">
                                    <div class="d-flex align-items-center">
                                        <div class="avatar">
                                            <img alt="Pic" src="../assets/default-avatar.svg">
                                        </div>
                                        <div>
											<spa class="symbol">我</span>
                                            <span class="text-clock">10 分鐘前</span>
                                        </div>
                                    </div>
                                    <div class="messages-item">
										<p>You’ll receive notifications for all issues, pull requests!</p>
										<div class="photo-group">
											<div class="mdb-lightbox">
												<figure>
                                                    <a href="../assets/fake/c01.jpg" data-size="800x600">
                                                        <img alt="Pic" src="../assets/fake/c01.jpg"  class="img-fluid">
                                                    </a>
												</figure>
												<figure>
                                                    <a href="../assets/fake/k05.jpg" data-size="542x800">
                                                        <img alt="Pic" src="../assets/fake/k05.jpg"  class="img-fluid">
                                                    </a>
												</figure>
												<figure>
                                                    <a href="../assets/fake/chat.gif" data-size="30x23">
                                                        <img alt="Pic" src="../assets/fake/chat.gif"  class="img-fluid">
                                                    </a>
												</figure>
												<figure>
                                                    <a href="../assets/fake/c01.jpg" data-size="800x600">
                                                        <img alt="Pic" src="../assets/fake/c01.jpg"  class="img-fluid">
                                                    </a>
												</figure>
												<figure>
                                                    <a href="../assets/fake/k05.jpg" data-size="542x800">
                                                        <img alt="Pic" src="../assets/fake/k05.jpg"  class="img-fluid">
                                                    </a>
												</figure>
												<figure>
                                                    <a href="../assets/fake/chat.gif" data-size="30x23">
                                                        <img alt="Pic" src="../assets/fake/chat.gif"  class="img-fluid">
                                                    </a>
												</figure>
												<figure>
                                                    <a href="../assets/fake/c01.jpg" data-size="800x600">
                                                        <img alt="Pic" src="../assets/fake/c01.jpg"  class="img-fluid">
                                                    </a>
												</figure>
												<figure>
                                                    <a href="../assets/fake/k05.jpg" data-size="542x800">
                                                        <img alt="Pic" src="../assets/fake/k05.jpg"  class="img-fluid">
                                                    </a>
												</figure>
												<figure>
                                                    <a href="../assets/fake/chat.gif" data-size="30x23">
                                                        <img alt="Pic" src="../assets/fake/chat.gif"  class="img-fluid">
                                                    </a>
												</figure>
											</div>
										</div>
										<button type="button" class="btn btn-reply" title="回覆">
                                            <i class="fa fa-reply"></i>
                                        </button>
                                        <button type="button" class="btn btn-action row_tooltip">
                                            <i class="fa fa-ellipsis-v"></i>
                                        </button>
									</div>
									<div class="reply-wrap">
										
                                        <div class="character align-items-start">
                                            <div class="d-flex align-items-center">
                                                <div class="avatar">
                                                    <img alt="Pic" src="https://avatarfiles.alphacoders.com/231/231252.jpg">
                                                </div>
                                                <div>
                                                    <spa class="symbol">Scarlett Johansson</span>
                                                    <span class="text-clock">1 分鐘前</span>
                                                </div>
                                            </div>
                                            <div class="messages-item">
                                                <div class="photo-group">
                                                    <div class="mdb-lightbox">
                                                        <figure>
                                                            <a href="../assets/fake/c01.jpg" data-size="800x600">
                                                                <img alt="Pic" src="../assets/fake/c01.jpg"  class="img-fluid">
                                                            </a>
                                                        </figure>
                                                        <figure>
                                                            <a href="../assets/fake/k05.jpg" data-size="542x800">
                                                                <img alt="Pic" src="../assets/fake/k05.jpg"  class="img-fluid">
                                                            </a>
                                                        </figure>
                                                        <figure>
                                                            <a href="../assets/fake/chat.gif" data-size="30x23">
                                                                <img alt="Pic" src="../assets/fake/chat.gif"  class="img-fluid">
                                                            </a>
                                                        </figure>
                                                        <figure>
                                                            <a href="../assets/fake/c01.jpg" data-size="800x600">
                                                                <img alt="Pic" src="../assets/fake/c01.jpg"  class="img-fluid">
                                                            </a>
                                                        </figure>
                                                        <figure>
                                                            <a href="../assets/fake/k05.jpg" data-size="542x800">
                                                                <img alt="Pic" src="../assets/fake/k05.jpg"  class="img-fluid">
                                                            </a>
                                                        </figure>
                                                        <figure>
                                                            <a href="../assets/fake/chat.gif" data-size="30x23">
                                                                <img alt="Pic" src="../assets/fake/chat.gif"  class="img-fluid">
                                                            </a>
                                                        </figure>
                                                        <figure>
                                                            <a href="../assets/fake/c01.jpg" data-size="800x600">
                                                                <img alt="Pic" src="../assets/fake/c01.jpg"  class="img-fluid">
                                                            </a>
                                                        </figure>
                                                        <figure>
                                                            <a href="../assets/fake/k05.jpg" data-size="542x800">
                                                                <img alt="Pic" src="../assets/fake/k05.jpg"  class="img-fluid">
                                                            </a>
                                                        </figure>
                                                        <figure>
                                                            <a href="../assets/fake/chat.gif" data-size="30x23">
                                                                <img alt="Pic" src="../assets/fake/chat.gif"  class="img-fluid">
                                                            </a>
                                                        </figure>
                                                    </div>
                                                </div>
                                                <button type="button" class="btn btn-reply" title="回覆">
                                                    <i class="fa fa-reply"></i>
                                                </button>
                                            </div>
                                        </div>
									</div>
                                </div>

                                <div class="character align-items-start">
                                    <div class="d-flex align-items-center">
                                        <div class="avatar">
                                            <img alt="Pic" src="https://avatarfiles.alphacoders.com/231/231252.jpg">
                                        </div>
                                        <div>
                                            <spa class="symbol">Scarlett Johansson</span>
                                            <span class="text-clock">1 小時前</span>
                                        </div>
                                    </div>
                                    <div class="messages-item">
										<p>You can unwatch this repository immediately by clicking here: <a href="#">https://github.com</a></p>
										<button type="button" class="btn btn-reply" title="回覆">
                                            <i class="fa fa-reply"></i>
                                        </button>
									</div>
                                </div>

                                <div class="character align-items-start oneself">
                                    <div class="d-flex align-items-center">
                                        <div class="avatar">
                                            <img alt="Pic" src="../assets/default-avatar.svg">
                                        </div>
                                        <div>
											<spa class="symbol">我</span>
                                            <span class="text-clock">3 小時前</span>
                                        </div>
                                    </div>
                                    <div class="messages-item">
										<p>Discover what students who viewed Learn Figma - UI/UX Design. Essential Training also viewed</p>
										<button type="button" class="btn btn-reply" title="回覆">
                                            <i class="fa fa-reply"></i>
                                        </button>
                                        <button type="button" class="btn btn-action row_tooltip">
                                            <i class="fa fa-ellipsis-v"></i>
                                        </button>
									</div>
                                </div>

                                <div class="character align-items-start">
                                    <div class="d-flex align-items-center">
                                        <div class="avatar">
                                            <img alt="Pic" src="https://avatarfiles.alphacoders.com/231/231252.jpg">
                                        </div>
                                        <div>
                                            <spa class="symbol">Scarlett Johansson</span>
                                            <span class="text-clock">2 天前</span>
                                        </div>
                                    </div>
                                    <div class="messages-item">
										<p>Most purchased Business courses during this sale!</p>
										<button type="button" class="btn btn-reply" title="回覆">
                                            <i class="fa fa-reply"></i>
                                        </button>
									</div>
                                </div>

                                <div class="character align-items-start oneself">
                                    <div class="d-flex align-items-center">
                                        <div class="avatar">
                                            <img alt="Pic" src="../assets/default-avatar.svg">
                                        </div>
                                        <div>
                                            <spa class="symbol">我</span>
											<span class="text-clock">3 天前</span>
                                        </div>
                                    </div>
                                    <div class="messages-item">
										<p>Company BBQ to celebrate the last quater achievements and goals. Food and drinks provided</p>
										<button type="button" class="btn btn-reply" title="回覆">
                                            <i class="fa fa-reply"></i>
                                        </button>
                                        <button type="button" class="btn btn-action row_tooltip">
                                            <i class="fa fa-ellipsis-v"></i>
                                        </button>
									</div>
                                </div>

                            </div>
                        </div>
                    </div>
					
                    <div class="tab-pane file-pane fade" id="sheet" role="tabpanel" aria-labelledby="sheet-tab">
						<div class="admin-messages scrollbar-inner">
							<div class="file-action-bar">
							    <div>
								    <button type="button" class="btn-floating btn-sm btn-white" title="下載"><i class="fa fa-cloud-download"></i></button>
									<button type="button" class="btn-floating btn-sm btn-white" title="刪除"><i class="fa fa-trash"></i></button>
								</div>
								<div>
								    <label>排序</label>
									<div class="d-inline-block ml-1">
                                        <select class="browser-default custom-select">
                                            <option selected>Open this select menu</option>
                                            <option value="1">One</option>
                                            <option value="2">Two</option>
                                            <option value="3">Three</option>
                                        </select>
									</div>
								</div>
							</div>
							<ul class="menu-item file-list">
							    <li>
								    <div class="column-sm">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="defaultUnchecked3">
                                            <label class="custom-control-label" for="defaultUnchecked3"></label>
                                        </div>
									</div>
									<div class="column-lg file-wrap">
									    <p class="file-name pdf-file">檔案名稱.pdf</p>
										<p class="description"><span>ROW: 專案啟動及專案規劃</span>說明文案 Est eligendi excepturi dolor commodi qui veritatis.</p>
										<span class="date">2021/10/12 14:00 by Kim</span>
									</div>
									<div class="column-sm">
                                        <button type="button" class="btn btn-action file_tooltip">
                                            <i class="fa fa-ellipsis-v"></i>
                                        </button>
									</div>
								</li>

								<li>
								    <div class="column-sm">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="defaultUnchecked3">
                                            <label class="custom-control-label" for="defaultUnchecked3"></label>
                                        </div>
									</div>
									<div class="column-lg file-wrap">
									    <p class="file-name excel-file">Tempore nostrum voluptatem repellat eaque cumque 檔案名稱.xls</p>
										<p class="description"><span>ROW: 專案啟動及專案規劃</span>說明文案</p>
										<span class="date">2021/10/12 14:00 by Kim</span>
									</div>
									<div class="column-sm">
                                        <button type="button" class="btn btn-action file_tooltip">
                                            <i class="fa fa-ellipsis-v"></i>
                                        </button>
									</div>
								</li>
								
								<li>
								    <div class="column-sm">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="defaultUnchecked3">
                                            <label class="custom-control-label" for="defaultUnchecked3"></label>
                                        </div>
									</div>
									<div class="column-lg file-wrap">
									    <p class="file-name doc-file">檔案名稱.docx</p>
										<p class="description"><span>ROW: 專案啟動及專案規劃</span>說明文案</p>
										<span class="date">2021/10/12 14:00 by Kim</span>
									</div>
									<div class="column-sm">
                                        <button type="button" class="btn btn-action file_tooltip">
                                            <i class="fa fa-ellipsis-v"></i>
                                        </button>
									</div>
								</li>
								
								<li>
								    <div class="column-sm">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="defaultUnchecked3">
                                            <label class="custom-control-label" for="defaultUnchecked3"></label>
                                        </div>
									</div>
									<div class="column-lg file-wrap">
									    <p class="file-name text-file">檔案名稱.text</p>
										<p class="description"><span>ROW: 專案啟動及專案規劃</span>說明文案</p>
										<span class="date">2021/10/12 14:00 by Kim</span>
									</div>
									<div class="column-sm">
                                        <button type="button" class="btn btn-action file_tooltip">
                                            <i class="fa fa-ellipsis-v"></i>
                                        </button>
									</div>
								</li>
								
								<li>
								    <div class="column-sm">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="defaultUnchecked3">
                                            <label class="custom-control-label" for="defaultUnchecked3"></label>
                                        </div>
									</div>
									<div class="column-lg file-wrap">
									    <p class="file-name zip-file">檔案名稱.zip</p>
										<p class="description"><span>ROW: 專案啟動及專案規劃</span>說明文案</p>
										<span class="date">2021/10/12 14:00 by Kim</span>
									</div>
									<div class="column-sm">
                                        <button type="button" class="btn btn-action file_tooltip">
                                            <i class="fa fa-ellipsis-v"></i>
                                        </button>
									</div>
								</li>
							</ul>
						</div>
                    </div>
					
                    <div class="tab-pane fade" id="all" role="tabpanel" aria-labelledby="all-tab">
						<div class="admin-messages scrollbar-inner">
                        Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork tattooed craft beer, iphone skateboard locavore carles
                        etsy salvia banksy hoodie helvetica. DIY synth PBR banksy irony. Leggings gentrify squid 8-bit cred pitchfork. Williamsburg banh mi whatever gluten-free, carles pitchfork biodiesel fixie etsy retro mlkshk vice blog. Scenester cred
                        you probably haven't heard of them, vinyl craft beer blog stumptown. Pitchfork sustainable tofu synth chambray yr.
						</div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
				<div class="messages-textarea">
                    <textarea class="form-control" rows="2" placeholder="輸入訊息" style="height: 100px;"></textarea>
                    <div class="widget-autocomplete">
                        <div class="scrollbar-inner">
                            <ul class="menu-item">
                                <% (1..4).map do |i| %>
                                <li>
                                    <a>
                                        <div class="avatar">
                                            <img alt="Pic" src="https://avatarfiles.alphacoders.com/231/231252.jpg">
                                        </div>
                                        <div class="userid">IDname</div>
                                    </a>
                                </li>
                                <li>
                                    <a>
                                        <div class="avatar">
                                            <img alt="Pic" src="../assets/default-avatar.svg">
                                        </div>
                                        <div class="userid">IDname</div>
                                    </a>
                                </li>
                                <% end %>
                            </ul>
                        </div>
                    </div>
				</div>
				<div class="controlbar">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="defaultUnchecked2">
                        <label class="custom-control-label" for="defaultUnchecked2">自動寄送email 通知訊息</label>
                    </div>
					<div class="comments-tool">
						<button type="button"><i class="fa fa-at"></i></button>
						<button type="button"><i class="fa fa-paperclip"></i></button>
						<button type="submit" class="btn-submit"><i class="fa fa-paper-plane"></i></button>
					</div>
				</div>
            </div>
        </div>
    </div>
</div>

<% content_for :js do %>

<% end %>