<div class="modal fade" id="adminFiles" tabindex="-1" role="dialog" aria-labelledby="adminFilesLabel" aria-hidden="true" data-backdrop="false">
    <div class="modal-dialog modal-messages modal-conversations modal-side modal-bottom-right" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="adminFilesLabel">{功能名稱}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <ul class="nav nav-tabs chat-tabs" id="filesTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="rowfiles-tab" data-toggle="tab" href="#rowfiles" role="tab" aria-controls="rowfiles" aria-selected="true">Row</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="sheetfiles-tab" data-toggle="tab" href="#sheetfiles" role="tab" aria-controls="sheetfiles" aria-selected="false">Sheet</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="allfiles-tab" data-toggle="tab" href="#allfiles" role="tab" aria-controls="allfiles" aria-selected="false">All</a>
                    </li>
                </ul>
                <div class="tab-content" id="filesTabContent">
					
                    <div class="tab-pane row-pane fade show active" id="rowfiles" role="tabpanel" aria-labelledby="rowfiles-tab">
						<div class="row-hd">
						    <h5>ROW: 專案啟動及專案規劃</h5>
						</div>
                        <div class="admin-messages scrollbar-inner">
							<div class="file-action-bar">
							    <div>
								    <button type="button" class="btn-floating btn-sm btn-white" title="下載"><i class="fa fa-cloud-download"></i></button>
									<button type="button" class="btn-floating btn-sm btn-white" title="刪除"><i class="fa fa-trash"></i></button>
								</div>
								<div>
								    <label>排序</label>
									<div class="d-inline-block ml-1">
                                        <select class="browser-default custom-select">
                                            <option selected>Open this select menu</option>
                                            <option value="1">One</option>
                                            <option value="2">Two</option>
                                            <option value="3">Three</option>
                                        </select>
									</div>
								</div>
							</div>
							<ul class="menu-item file-list">
							    <li>
								    <div class="column-sm">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="defaultUnchecked3">
                                            <label class="custom-control-label" for="defaultUnchecked3"></label>
                                        </div>
									</div>
									<div class="column-lg file-wrap">
									    <p class="file-name pdf-file">檔案名稱.pdf</p>
										<p class="description"><span>ROW: 專案啟動及專案規劃</span>說明文案 Est eligendi excepturi dolor commodi qui veritatis.</p>
										<span class="date">2021/10/12 14:00 by Kim</span>
									</div>
									<div class="column-sm">
                                        <button type="button" class="btn btn-action file_tooltip">
                                            <i class="fa fa-ellipsis-v"></i>
                                        </button>
									</div>
								</li>

								<li>
								    <div class="column-sm">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="defaultUnchecked3">
                                            <label class="custom-control-label" for="defaultUnchecked3"></label>
                                        </div>
									</div>
									<div class="column-lg file-wrap">
									    <p class="file-name excel-file">Tempore nostrum voluptatem repellat eaque cumque 檔案名稱.xls</p>
										<p class="description"><span>ROW: 專案啟動及專案規劃</span>說明文案</p>
										<span class="date">2021/10/12 14:00 by Kim</span>
									</div>
									<div class="column-sm">
                                        <button type="button" class="btn btn-action file_tooltip">
                                            <i class="fa fa-ellipsis-v"></i>
                                        </button>
									</div>
								</li>
								
								<li>
								    <div class="column-sm">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="defaultUnchecked3">
                                            <label class="custom-control-label" for="defaultUnchecked3"></label>
                                        </div>
									</div>
									<div class="column-lg file-wrap">
									    <p class="file-name doc-file">檔案名稱.docx</p>
										<p class="description"><span>ROW: 專案啟動及專案規劃</span>說明文案</p>
										<span class="date">2021/10/12 14:00 by Kim</span>
									</div>
									<div class="column-sm">
                                        <button type="button" class="btn btn-action file_tooltip">
                                            <i class="fa fa-ellipsis-v"></i>
                                        </button>
									</div>
								</li>
								
								<li>
								    <div class="column-sm">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="defaultUnchecked3">
                                            <label class="custom-control-label" for="defaultUnchecked3"></label>
                                        </div>
									</div>
									<div class="column-lg file-wrap">
									    <p class="file-name text-file">檔案名稱.text</p>
										<p class="description"><span>ROW: 專案啟動及專案規劃</span>說明文案</p>
										<span class="date">2021/10/12 14:00 by Kim</span>
									</div>
									<div class="column-sm">
                                        <button type="button" class="btn btn-action file_tooltip">
                                            <i class="fa fa-ellipsis-v"></i>
                                        </button>
									</div>
								</li>
								
								<li>
								    <div class="column-sm">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="defaultUnchecked3">
                                            <label class="custom-control-label" for="defaultUnchecked3"></label>
                                        </div>
									</div>
									<div class="column-lg file-wrap">
									    <p class="file-name zip-file">檔案名稱.zip</p>
										<p class="description"><span>ROW: 專案啟動及專案規劃</span>說明文案</p>
										<span class="date">2021/10/12 14:00 by Kim</span>
									</div>
									<div class="column-sm">
                                        <button type="button" class="btn btn-action file_tooltip">
                                            <i class="fa fa-ellipsis-v"></i>
                                        </button>
									</div>
								</li>
							</ul>
                        </div>
                    </div>
					
                    <div class="tab-pane file-pane fade" id="sheetfiles" role="tabpanel" aria-labelledby="sheetfiles-tab">
						<div class="admin-messages scrollbar-inner">
							<div class="file-action-bar">
							    <div>
								    <button type="button" class="btn-floating btn-sm btn-white" title="下載"><i class="fa fa-cloud-download"></i></button>
									<button type="button" class="btn-floating btn-sm btn-white" title="刪除"><i class="fa fa-trash"></i></button>
								</div>
								<div>
								    <label>排序</label>
									<div class="d-inline-block ml-1">
                                        <select class="browser-default custom-select">
                                            <option selected>Open this select menu</option>
                                            <option value="1">One</option>
                                            <option value="2">Two</option>
                                            <option value="3">Three</option>
                                        </select>
									</div>
								</div>
							</div>
							<ul class="menu-item file-list">
							    <li>
								    <div class="column-sm">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="defaultUnchecked3">
                                            <label class="custom-control-label" for="defaultUnchecked3"></label>
                                        </div>
									</div>
									<div class="column-lg file-wrap">
									    <p class="file-name pdf-file">檔案名稱.pdf</p>
										<p class="description"><span>ROW: 專案啟動及專案規劃</span>說明文案 Est eligendi excepturi dolor commodi qui veritatis.</p>
										<span class="date">2021/10/12 14:00 by Kim</span>
									</div>
									<div class="column-sm">
                                        <button type="button" class="btn btn-action file_tooltip">
                                            <i class="fa fa-ellipsis-v"></i>
                                        </button>
									</div>
								</li>

								<li>
								    <div class="column-sm">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="defaultUnchecked3">
                                            <label class="custom-control-label" for="defaultUnchecked3"></label>
                                        </div>
									</div>
									<div class="column-lg file-wrap">
									    <p class="file-name excel-file">Tempore nostrum voluptatem repellat eaque cumque 檔案名稱.xls</p>
										<p class="description"><span>ROW: 專案啟動及專案規劃</span>說明文案</p>
										<span class="date">2021/10/12 14:00 by Kim</span>
									</div>
									<div class="column-sm">
                                        <button type="button" class="btn btn-action file_tooltip">
                                            <i class="fa fa-ellipsis-v"></i>
                                        </button>
									</div>
								</li>
								
								<li>
								    <div class="column-sm">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="defaultUnchecked3">
                                            <label class="custom-control-label" for="defaultUnchecked3"></label>
                                        </div>
									</div>
									<div class="column-lg file-wrap">
									    <p class="file-name doc-file">檔案名稱.docx</p>
										<p class="description"><span>ROW: 專案啟動及專案規劃</span>說明文案</p>
										<span class="date">2021/10/12 14:00 by Kim</span>
									</div>
									<div class="column-sm">
                                        <button type="button" class="btn btn-action file_tooltip">
                                            <i class="fa fa-ellipsis-v"></i>
                                        </button>
									</div>
								</li>
								
								<li>
								    <div class="column-sm">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="defaultUnchecked3">
                                            <label class="custom-control-label" for="defaultUnchecked3"></label>
                                        </div>
									</div>
									<div class="column-lg file-wrap">
									    <p class="file-name text-file">檔案名稱.text</p>
										<p class="description"><span>ROW: 專案啟動及專案規劃</span>說明文案</p>
										<span class="date">2021/10/12 14:00 by Kim</span>
									</div>
									<div class="column-sm">
                                        <button type="button" class="btn btn-action file_tooltip">
                                            <i class="fa fa-ellipsis-v"></i>
                                        </button>
									</div>
								</li>
								
								<li>
								    <div class="column-sm">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="defaultUnchecked3">
                                            <label class="custom-control-label" for="defaultUnchecked3"></label>
                                        </div>
									</div>
									<div class="column-lg file-wrap">
									    <p class="file-name zip-file">檔案名稱.zip</p>
										<p class="description"><span>ROW: 專案啟動及專案規劃</span>說明文案</p>
										<span class="date">2021/10/12 14:00 by Kim</span>
									</div>
									<div class="column-sm">
                                        <button type="button" class="btn btn-action file_tooltip">
                                            <i class="fa fa-ellipsis-v"></i>
                                        </button>
									</div>
								</li>
							</ul>
						</div>
                    </div>
					
                    <div class="tab-pane fade" id="allfiles" role="tabpanel" aria-labelledby="allfiles-tab">
						<div class="admin-messages scrollbar-inner">
                        Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork tattooed craft beer, iphone skateboard locavore carles
                        etsy salvia banksy hoodie helvetica. DIY synth PBR banksy irony. Leggings gentrify squid 8-bit cred pitchfork. Williamsburg banh mi whatever gluten-free, carles pitchfork biodiesel fixie etsy retro mlkshk vice blog. Scenester cred
                        you probably haven't heard of them, vinyl craft beer blog stumptown. Pitchfork sustainable tofu synth chambray yr.
						</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<% content_for :js do %>

<% end %>