<div class="form-group">
    <label class="col-form-label-sm mb-0">名稱 </label>
	<input name="name" id="name" class=" form-control form-control-sm" value="簡章調查管理" type="text" readonly="1">
</div>
<div class="form-group form-row">
    <div class="col-sm-1">
        <label class="col-form-label-sm">ID</label>
        <input readonly="1" class="form-control form-control-sm form-control form-control-sm" name="fid" id="fid" value="F0077" type="text" />
    </div>
    <div class="col-sm-1">
        <label class="col-form-label-sm">版本</label>
        <div class="input-group input-group-sm">
            <input name="system_version_sn" id="system_version_sn" value="57" type="hidden" /> <input type="text" readonly="" class="form-control" name="version" value="1" />
            <div class="input-group-append dropright">
                <button class="btn btn-grey lighten-5 btn-md m-0 px-2 py-1 z-depth-0 dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-history"></i></button>
                <div class="dropdown-menu dropdown-menu-right">
                    <h6 class="dropdown-header">切換分支</h6>
                    <a class="dropdown-item active" href="#">1. 初始版 2022-02-27<i class="fa fa-check mt-1 ml-2"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <label class="col-form-label-sm">標籤</label>
        <div class="bootstrap-tagsinput bootstrap-tagsinput-sm disabled">
            <span class="badge badge badge-info" style="">繁體中文<span data-role="remove"></span></span><span class="badge badge badge-info">TEST<span data-role="remove"></span></span><input type="text" placeholder="" size="4">
        </div>
        <input data-role="tagsinput" name="tags" id="tags" class="form-control form-control-sm sr-only" value="" type="text">
    </div>
    <div class="col-sm-6">
        <label class="col-form-label-sm">開放角色</label>
        <div>select2</div>
    </div>
</div>
<div class="form-group-sm">
    <label class="col-form-label-sm">說明</label>
    <textarea readonly="1" class="form-control rounded-0" id="" rows="10">Et est dicta et dolorem similique dolore. Alias veritatis qui rerum aut enim ab. Qui iusto blanditiis reiciendis atque officia beatae nostrum laboriosam et. Et facilis ipsam unde ab sit atque. Unde omnis unde quia sint labore</textarea>
</div>