<div class="row">
    <div class="col-6">
        <div class="form-group-sm form-row">
            <div class="col-sm-2">
                <label class="col-form-label-sm"> 系統代碼<span class="text-danger">*</span> </label>
                <input readonly="1" required="required" name="code" id="code" class="form-control form-control-sm" value="0053--01" type="text" />
            </div>
            <div class="col-sm-6">
                <label class="col-form-label-sm"> 系統名稱<span class="text-danger">*</span> </label>
                <input readonly="1" required="required" name="name" id="name" class="form-control form-control-sm" value="招生專業化系統" type="text" />
            </div>
            <div class="col-sm-4">
                <label class="col-form-label-sm"> 系統簡稱<span class="text-danger">*</span> </label>
                <input readonly="1" required="required" name="short_name" id="short_name" class="form-control form-control-sm" value="招生專業化系統" type="text" />
            </div>
        </div>
        <div class="form-group-sm form-row">
            <div class="col-sm-2">
                <label class="col-form-label-sm"> 狀態<span class="text-danger">*</span> </label>
                <select required="required" class="custom-select custom-select-sm" name="status_key" id="status_key" value="0" disabled="">
                    <option value="0" selected="selected">開發</option>
                    <option value="1">正常</option>
                    <option value="2">停用</option>
                </select>
            </div>
            <div class="col-sm-4">
                <label class="col-form-label-sm"> 客戶<span class="text-danger">*</span> </label>
                <select required="required" class="custom-select custom-select-sm" name="customer_sn" id="customer_sn" value="11" disabled="">
                    <option value="1">捷思達數位開發有限公司</option>
                    <option value="2">測試大學</option>
                    <option value="3">國立政治大學</option>
                    <option value="4">國立清華大學</option>
                    <option value="5">國立臺灣大學</option>
                    <option value="6">國立成功大學</option>
                    <option value="7">國立陽明交通大學</option>
                    <option value="8">國立中山大學</option>
                    <option value="9">國立臺北大學</option>
                    <option value="10">國立東華大學</option>
                    <option value="11" selected="selected">國立高雄科技大學</option>
                    <option value="12">中華民國僑務委員會</option>
                    <option value="16">國立臺灣科技大學</option>
                    <option value="17">國立雲林科技大學</option>
                    <option value="18">國立臺北科技大學</option>
                    <option value="19">國立臺灣藝術大學</option>
                    <option value="20">國立宜蘭大學</option>
                    <option value="21">國立虎尾科技大學</option>
                    <option value="22">國立臺南大學</option>
                    <option value="23">國立臺北教育大學</option>
                    <option value="24">國立臺北護理健康大學</option>
                    <option value="26">輔仁大學學校財團法人輔仁大學</option>
                    <option value="27">中原大學</option>
                    <option value="28">中國文化大學</option>
                    <option value="29">逢甲大學</option>
                    <option value="30">元智大學</option>
                    <option value="31">實踐大學</option>
                    <option value="32">高雄醫學大學</option>
                    <option value="33">南華大學</option>
                    <option value="34">慈濟學校財團法人慈濟大學</option>
                    <option value="35">臺北醫學大學</option>
                    <option value="36">中山醫學大學</option>
                    <option value="37">明新學校財團法人明新科技大學</option>
                    <option value="38">臺灣警察專科學校</option>
                    <option value="39">財團法人中央通訊社</option>
                    <option value="40">臺灣歐洲教育推廣協會</option>
                    <option value="52">財團法人藥害救濟基金會</option>
                    <option value="53">中華民國儲蓄互助協會</option>
                    <option value="54">中央研究院</option>
                    <option value="55">教育部</option>
                </select>
            </div>
            <div class="col-sm-6">
                <label class="col-form-label-sm"> 單位<span class="text-danger">*</span> </label>
                <select required="required" class="custom-select custom-select-sm" name="customer_unit_sn" id="customer_unit_sn" value="76" disabled="">
                    <option value="34">國際事務處</option>
                    <option value="76">教務處</option>
                    <option value="106">總務處(第一校區)</option>
                </select>
            </div>
        </div>

        <!--div class="form-group-sm form-row">
            <div class="col-sm-2">
                <label class="col-form-label-sm"> 狀態<span class="text-danger">*</span> </label>
                <input readonly="1" required="required" name="" id="" class="form-control form-control-sm" value="開發" type="text" />
            </div>
            <div class="col-sm-4">
                <label class="col-form-label-sm"> 客戶<span class="text-danger">*</span> </label>
                <input readonly="1" required="required" name="" id="" class="form-control form-control-sm" value="國立高雄科技大學" type="text" />
            </div>
            <div class="col-sm-6">
                <label class="col-form-label-sm"> 單位<span class="text-danger">*</span> </label>
                <input readonly="1" required="required" name="" id="" class="form-control form-control-sm" value="國際事務處" type="text" />
            </div>
        </div-->

        <div class="form-group-sm">
            <label class="col-form-label-sm">系統說明</label>
            <textarea readonly="1" class="form-control rounded-0" id="" rows="10"><%= lorem_sentences(5) %></textarea>
        </div>
        <div class="form-group-sm form-row">
            <label class="col-form-label-sm active">標籤</label>
            <div class="bootstrap-tagsinput bootstrap-tagsinput-sm disabled">
                <span class="badge badge badge-info" style="">繁體中文<span data-role="remove"></span></span><span class="badge badge badge-info">TEST<span data-role="remove"></span></span><input type="text" placeholder="" size="4" />
            </div>
            <input data-role="tagsinput" name="tags" id="tags" class="form-control form-control-sm sr-only" value="" type="text" />
        </div>
        <div class="form-group-sm form-row">
            <div class="col-9">
                <label class="col-form-label-sm" for="base_group_sn">系統群組</label>
                <select name="base_group_sn" id="base_group_sn" class="custom-select custom-select-sm" required="1" disabled="">
                    <option value="0" selected="selected">系統獨立</option>
                    <option value="4">國際事務管理系統</option>
                </select>
            </div>
            <div class="col-sm-3">
                <label class="col-form-label-sm" for="is_group_account">帳號範圍</label>
                <select required="1" class="custom-select custom-select-sm" name="is_group_account" id="is_group_account" value="0" disabled="">
                    <option value="0" selected="selected">系統獨立</option>
                    <option value="1">群組共用</option>
                </select>
            </div>
        </div>
        <div class="form-group-sm form-row">
            <div class="col-sm-2">
                <label class="col-form-label-sm" for="is_group_gitlab">Gitlab 種類</label>
                <select required="1" class="custom-select custom-select-sm" name="is_group_gitlab" id="is_group_gitlab" value="0" disabled="">
                    <option value="0" selected="selected">系統獨立</option>
                    <option value="1">群組共用</option>
                </select>
            </div>
            <div class="col-sm-3">
                <label class="col-form-label-sm" for="gitlab_name_show">Maintainer / Project</label>
                <div id="show_gitlab_self">
                    <input type="text" id="gitlab_name_show" class="form-control form-control-sm" readonly="" value="" />
                    <input name="gitlab_name" id="gitlab_name" value="" type="hidden" /> <input name="gitlab_id" id="gitlab_id" type="hidden" /> <input name="gitlab_url" id="gitlab_url" value="" type="hidden" />
                </div>
                <div id="show_gitlab_share" style="display: none;"></div>
            </div>
            <div class="col-sm-7">
                <label class="col-form-label-sm" for="gitlab_click">URL</label>
                <div class="input-group input-group-sm" id="show_gitlab_self">
                    <input type="text" id="gitlab_url_show" placeholder="Gitlab url" class="form-control form-control-sm disabled text-dark" readonly="" value="" aria-describedby="button-addon2" />
                    <div class="input-group-append">
                        <button class="btn btn-xs btn-outline-default m-0 px-3 py-0 z-depth-0 waves-effect" title="選擇專案" type="button" id="gitlab_click"><i class="fa fa-git"></i></button>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="col-6">
	    <div class="col-block">
		    <div class="block-header d-flex justify-content-between align-items-center px-0 pt-0">
			    <h6 class="font-weight-bold">支援平台</h6>
                <div class="flex-1 text-right">
                    <button class="btn btn-secondary btn-sm mx-0 my-0" type="button" title="重新整理"><i class="fa fa-refresh mr-0"></i></button>
                    <button class="btn btn-success btn-sm mx-0 my-0" type="button" title="新增"><i class="fa fa-plus mr-0"></i></button>
                </div>
			</div>
			<div class="block-content expansion">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">First</th>
                            <th scope="col">Last</th>
                            <th scope="col">Handle</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Jacob</td>
                            <td>Thornton</td>
                            <td>@fat</td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td colspan="2">Larry the Bird</td>
                            <td>@twitter</td>
                        </tr>
                    </tbody>
                </table>
			</div>
		</div>
		<div class="col-block">
		    <div class="block-header d-flex justify-content-between align-items-center px-0 pt-0">
			    <h6 class="font-weight-bold">系統角色</h6>
                <div class="flex-1 text-right">
                    <button class="btn btn-secondary btn-sm mx-0 my-0" type="button" title="重新整理"><i class="fa fa-refresh mr-0"></i></button>
                    <button class="btn btn-success btn-sm mx-0 my-0" type="button" title="新增"><i class="fa fa-plus mr-0"></i></button>
                </div>
			</div>
			<div class="block-content expansion">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">First</th>
                            <th scope="col">Last</th>
                            <th scope="col">Handle</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Jacob</td>
                            <td>Thornton</td>
                            <td>@fat</td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td colspan="2">Larry the Bird</td>
                            <td>@twitter</td>
                        </tr>
                    </tbody>
                </table>
			</div>
		</div>
		<div class="col-block">
		    <div class="block-header d-flex justify-content-between align-items-center px-0 pt-0">
			    <h6 class="font-weight-bold">系統網址</h6>
                <div class="flex-1 text-right">
                    <button class="btn btn-secondary btn-sm mx-0 my-0" type="button" title="重新整理"><i class="fa fa-refresh mr-0"></i></button>
                    <button class="btn btn-success btn-sm mx-0 my-0" type="button" title="新增"><i class="fa fa-plus mr-0"></i></button>
                </div>
			</div>
			<div class="block-content expansion">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">First</th>
                            <th scope="col">Last</th>
                            <th scope="col">Handle</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Jacob</td>
                            <td>Thornton</td>
                            <td>@fat</td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td colspan="2">Larry the Bird</td>
                            <td>@twitter</td>
                        </tr>
                    </tbody>
                </table>
			</div>
		</div>
	</div>
</div>