<div class="d-flex mb-3">
    <span class="flex-1"><input type="text" class="form-control form-control-sm mr-1" value="" id="" placeholder="Search"></span>
    <span>
        <button class="btn btn-sm btn-primary dropdown-toggle my-0 mr-0" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">操作</button>
        <div class="dropdown-menu">
            <a class="dropdown-item btn-sm" href="#" onclick="createSubsystem()">新增子系統</a>
            <a class="dropdown-item btn-sm" href="#" onclick="tree_create();">新增功能</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item btn-sm" href="#" onclick="tree_delete();">刪除</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item btn-sm" href="#" onclick="selcetTemplate();">選擇範本</a>
            <a class="dropdown-item btn-sm" href="#" onclick="JdGenerateFid();">重新產生ID</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item btn-sm" href="#" onclick="JdAllVersion(1);">
                <i class="fa fa-check hidden"></i> 顯示所有版本
            </a>
        </div>
    </span>
</div>

<div id="treeBlockContent">
    <div class="three-column">
        <div class="tree-wrapper">
            <!-- tree 套件 -->
            <div class="js-tree" style="overflow: scroll; height: 1065px;">
                <div id="featTree" class="demo jstree jstree-1 jstree-default" role="tree" aria-multiselectable="true" tabindex="0" aria-activedescendant="j-4027" aria-busy="false">
                    <ul class="jstree-container-ul jstree-children jstree-no-icons jstree-striped jstree-contextmenu jstree-wholerow-ul jstree-no-dots" role="group">
                        <li role="none" data-jstree='{ "opened" : true, "selected" : false }' data-sn="4145" data-pos="0" id="j-4145" class="jstree-node jstree-open">
                            <div unselectable="on" role="presentation" class="jstree-wholerow">&nbsp;</div>
                            <i class="jstree-icon jstree-ocl" role="presentation"></i>
                            <a class="jstree-anchor" href="#" tabindex="-1" role="treeitem" aria-selected="false" aria-level="1" aria-expanded="true" id="j-4145_anchor">
                                <i class="jstree-icon jstree-themeicon" role="presentation"></i>後端管理系統
                            </a>
                            <ul role="group" class="jstree-children">
                                <li role="none" data-sn="4027" data-jstree='{"selected" : false }' id="j-4027" class="jstree-node jstree-closed">
                                    <div unselectable="on" role="presentation" class="jstree-wholerow">&nbsp;</div>
                                    <i class="jstree-icon jstree-ocl" role="presentation"></i>
                                    <a class="jstree-anchor" href="#" tabindex="-1" role="treeitem" aria-selected="false" aria-level="2" aria-expanded="false" id="j-4027_anchor">
                                        <i class="jstree-icon jstree-themeicon" role="presentation"></i>設定管理
                                    </a>
                                </li>
                                <li role="none" data-sn="4030" data-jstree='{"selected" : false }' id="j-4030" class="jstree-node jstree-open">
                                    <div unselectable="on" role="presentation" class="jstree-wholerow">&nbsp;</div>
                                    <i class="jstree-icon jstree-ocl" role="presentation" aria-expanded="true"></i>
                                    <a class="jstree-anchor" href="#" tabindex="-1" role="treeitem" aria-selected="false" aria-level="2" aria-expanded="false" id="j-4030_anchor">
                                        <i class="jstree-icon jstree-themeicon" role="presentation"></i>招生組
                                    </a>
                                    <ul role="group" class="jstree-children">
                                        <li role="none" data-sn="4047" data-jstree='{"selected" : false }' id="j-4047" class="jstree-node jstree-open">
                                            <div unselectable="on" role="presentation" class="jstree-wholerow jstree-wholerow-clicked">&nbsp;</div>
                                            <i class="jstree-icon jstree-ocl" role="presentation"></i>
                                            <a class="jstree-anchor jstree-clicked" href="#" tabindex="-1" role="treeitem" aria-selected="true" aria-level="3" aria-expanded="true" id="j-4047_anchor">
                                                <i class="jstree-icon jstree-themeicon" role="presentation"></i>簡章調查管理
                                            </a>
                                            <ul role="group" class="jstree-children">
                                                <li role="none" data-sn="4135" data-jstree='{"selected" : false }' id="j-4135" class="jstree-node jstree-leaf">
                                                    <div unselectable="on" role="presentation" class="jstree-wholerow">&nbsp;</div>
                                                    <i class="jstree-icon jstree-ocl" role="presentation"></i>
                                                    <a class="jstree-anchor" href="#" tabindex="-1" role="treeitem" aria-selected="false" aria-level="4" id="j-4135_anchor">
                                                        <i class="jstree-icon jstree-themeicon" role="presentation"></i>首頁
                                                    </a>
                                                </li>
                                                <li role="none" data-sn="4136" data-jstree='{"selected" : false }' id="j-4136" class="jstree-node jstree-closed">
                                                    <div unselectable="on" role="presentation" class="jstree-wholerow">&nbsp;</div>
                                                    <i class="jstree-icon jstree-ocl" role="presentation"></i>
                                                    <a class="jstree-anchor" href="#" tabindex="-1" role="treeitem" aria-selected="false" aria-level="4" aria-expanded="false" id="j-4136_anchor">
                                                        <i class="jstree-icon jstree-themeicon" role="presentation"></i>基本設定
                                                    </a>
                                                </li>
                                                <li role="none" data-sn="4142" data-jstree='{"selected" : false }' id="j-4142" class="jstree-node jstree-closed">
                                                    <div unselectable="on" role="presentation" class="jstree-wholerow">&nbsp;</div>
                                                    <i class="jstree-icon jstree-ocl" role="presentation"></i>
                                                    <a class="jstree-anchor" href="#" tabindex="-1" role="treeitem" aria-selected="false" aria-level="4" aria-expanded="false" id="j-4142_anchor">
                                                        <i class="jstree-icon jstree-themeicon" role="presentation"></i>系所簡章管理
                                                    </a>
                                                </li>
                                                <li role="none" data-sn="4158" data-jstree='{"selected" : false }' id="j-4158" class="jstree-node jstree-leaf jstree-last">
                                                    <div unselectable="on" role="presentation" class="jstree-wholerow">&nbsp;</div>
                                                    <i class="jstree-icon jstree-ocl" role="presentation"></i>
                                                    <a class="jstree-anchor" href="#" tabindex="-1" role="treeitem" aria-selected="false" aria-level="4" id="j-4158_anchor">
                                                        <i class="jstree-icon jstree-themeicon" role="presentation"></i>組別名額調整
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li role="none" data-sn="4048" data-jstree='{"selected" : false }' id="j-4048" class="jstree-node jstree-closed">
                                            <div unselectable="on" role="presentation" class="jstree-wholerow">&nbsp;</div>
                                            <i class="jstree-icon jstree-ocl" role="presentation"></i>
                                            <a class="jstree-anchor" href="#" tabindex="-1" role="treeitem" aria-selected="false" aria-level="3" aria-expanded="false" id="j-4048_anchor">
                                                <i class="jstree-icon jstree-themeicon" role="presentation"></i>考生報名及審查作業
                                            </a>
                                        </li>
                                        <li role="none" data-sn="4049" data-jstree='{"selected" : false }' id="j-4049" class="jstree-node jstree-closed">
                                            <div unselectable="on" role="presentation" class="jstree-wholerow">&nbsp;</div>
                                            <i class="jstree-icon jstree-ocl" role="presentation"></i>
                                            <a class="jstree-anchor" href="#" tabindex="-1" role="treeitem" aria-selected="false" aria-level="3" aria-expanded="false" id="j-4049_anchor">
                                                <i class="jstree-icon jstree-themeicon" role="presentation"></i>考試作業
                                            </a>
                                        </li>
                                        <li role="none" data-sn="4050" data-jstree='{"selected" : false }' id="j-4050" class="jstree-node jstree-closed">
                                            <div unselectable="on" role="presentation" class="jstree-wholerow">&nbsp;</div>
                                            <i class="jstree-icon jstree-ocl" role="presentation"></i>
                                            <a class="jstree-anchor" href="#" tabindex="-1" role="treeitem" aria-selected="false" aria-level="3" aria-expanded="false" id="j-4050_anchor">
                                                <i class="jstree-icon jstree-themeicon" role="presentation"></i>考生成績管理
                                            </a>
                                        </li>
                                        <li role="none" data-sn="4051" data-jstree='{"selected" : false }' id="j-4051" class="jstree-node jstree-closed jstree-last">
                                            <div unselectable="on" role="presentation" class="jstree-wholerow">&nbsp;</div>
                                            <i class="jstree-icon jstree-ocl" role="presentation"></i>
                                            <a class="jstree-anchor" href="#" tabindex="-1" role="treeitem" aria-selected="false" aria-level="3" aria-expanded="false" id="j-4051_anchor">
                                                <i class="jstree-icon jstree-themeicon" role="presentation"></i>錄取作業
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li role="none" data-sn="4031" data-jstree='{"selected" : false }' id="j-4031" class="jstree-node jstree-closed">
                                    <div unselectable="on" role="presentation" class="jstree-wholerow">&nbsp;</div>
                                    <i class="jstree-icon jstree-ocl" role="presentation"></i>
                                    <a class="jstree-anchor" href="#" tabindex="-1" role="treeitem" aria-selected="false" aria-level="2" aria-expanded="false" id="j-4031_anchor">
                                        <i class="jstree-icon jstree-themeicon" role="presentation"></i>系所
                                    </a>
                                </li>
                                <li role="none" data-sn="4032" data-jstree='{"selected" : false }' id="j-4032" class="jstree-node jstree-closed">
                                    <div unselectable="on" role="presentation" class="jstree-wholerow">&nbsp;</div>
                                    <i class="jstree-icon jstree-ocl" role="presentation"></i>
                                    <a class="jstree-anchor" href="#" tabindex="-1" role="treeitem" aria-selected="false" aria-level="2" aria-expanded="false" id="j-4032_anchor">
                                        <i class="jstree-icon jstree-themeicon" role="presentation"></i>系所主管
                                    </a>
                                </li>
                                <li role="none" data-sn="4033" data-jstree='{"selected" : false }' id="j-4033" class="jstree-node jstree-closed">
                                    <div unselectable="on" role="presentation" class="jstree-wholerow">&nbsp;</div>
                                    <i class="jstree-icon jstree-ocl" role="presentation"></i>
                                    <a class="jstree-anchor" href="#" tabindex="-1" role="treeitem" aria-selected="false" aria-level="2" aria-expanded="false" id="j-4033_anchor">
                                        <i class="jstree-icon jstree-themeicon" role="presentation"></i>系所審查委員
                                    </a>
                                </li>
                                <li role="none" data-sn="4034" data-jstree='{"selected" : false }' id="j-4034" class="jstree-node jstree-closed">
                                    <div unselectable="on" role="presentation" class="jstree-wholerow">&nbsp;</div>
                                    <i class="jstree-icon jstree-ocl" role="presentation"></i>
                                    <a class="jstree-anchor" href="#" tabindex="-1" role="treeitem" aria-selected="false" aria-level="2" aria-expanded="false" id="j-4034_anchor">
                                        <i class="jstree-icon jstree-themeicon" role="presentation"></i>註冊組
                                    </a>
                                </li>
                                <li role="none" data-sn="4035" data-jstree='{"selected" : false }' id="j-4035" class="jstree-node jstree-closed">
                                    <div unselectable="on" role="presentation" class="jstree-wholerow">&nbsp;</div>
                                    <i class="jstree-icon jstree-ocl" role="presentation"></i>
                                    <a class="jstree-anchor" href="#" tabindex="-1" role="treeitem" aria-selected="false" aria-level="2" aria-expanded="false" id="j-4035_anchor">
                                        <i class="jstree-icon jstree-themeicon" role="presentation"></i>綜合業務處
                                    </a>
                                </li>
                                <li role="none" data-sn="4037" data-jstree='{"selected" : false }' id="j-4037" class="jstree-node jstree-closed">
                                    <div unselectable="on" role="presentation" class="jstree-wholerow">&nbsp;</div>
                                    <i class="jstree-icon jstree-ocl" role="presentation"></i>
                                    <a class="jstree-anchor" href="#" tabindex="-1" role="treeitem" aria-selected="false" aria-level="2" aria-expanded="false" id="j-4037_anchor">
                                        <i class="jstree-icon jstree-themeicon" role="presentation"></i>出納
                                    </a>
                                </li>
                                <li role="none" data-sn="4036" data-jstree='{"selected" : false }' id="j-4036" class="jstree-node jstree-closed">
                                    <div unselectable="on" role="presentation" class="jstree-wholerow">&nbsp;</div>
                                    <i class="jstree-icon jstree-ocl" role="presentation"></i>
                                    <a class="jstree-anchor" href="#" tabindex="-1" role="treeitem" aria-selected="false" aria-level="2" aria-expanded="false" id="j-4036_anchor">
                                        <i class="jstree-icon jstree-themeicon" role="presentation"></i>資料分析報表
                                    </a>
                                </li>
                                <li role="none" data-sn="4038" data-jstree='{"selected" : false }' id="j-4038" class="jstree-node jstree-closed jstree-last">
                                    <div unselectable="on" role="presentation" class="jstree-wholerow">&nbsp;</div>
                                    <i class="jstree-icon jstree-ocl" role="presentation"></i>
                                    <a class="jstree-anchor" href="#" tabindex="-1" role="treeitem" aria-selected="false" aria-level="2" aria-expanded="false" id="j-4038_anchor">
                                        <i class="jstree-icon jstree-themeicon" role="presentation"></i>報到報表
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li role="none" data-jstree='{ "opened" : true, "selected" : false }' data-sn="4146" data-pos="1" id="j-4146" class="jstree-node jstree-open">
                            <div unselectable="on" role="presentation" class="jstree-wholerow">&nbsp;</div>
                            <i class="jstree-icon jstree-ocl" role="presentation"></i>
                            <a class="jstree-anchor" href="#" tabindex="-1" role="treeitem" aria-selected="false" aria-level="1" aria-expanded="true" id="j-4146_anchor">
                                <i class="jstree-icon jstree-themeicon" role="presentation"></i>前端申請學生
                            </a>
                            <ul role="group" class="jstree-children">
                                <li role="none" data-sn="4102" data-jstree='{"selected" : false }' id="j-4102" class="jstree-node jstree-leaf">
                                    <div unselectable="on" role="presentation" class="jstree-wholerow">&nbsp;</div>
                                    <i class="jstree-icon jstree-ocl" role="presentation"></i>
                                    <a class="jstree-anchor" href="#" tabindex="-1" role="treeitem" aria-selected="false" aria-level="2" id="j-4102_anchor"><i class="jstree-icon jstree-themeicon" role="presentation"></i>首頁</a>
                                </li>
                                <li role="none" data-sn="4103" data-jstree='{"selected" : false }' id="j-4103" class="jstree-node jstree-leaf">
                                    <div unselectable="on" role="presentation" class="jstree-wholerow">&nbsp;</div>
                                    <i class="jstree-icon jstree-ocl" role="presentation"></i>
                                    <a class="jstree-anchor" href="#" tabindex="-1" role="treeitem" aria-selected="false" aria-level="2" id="j-4103_anchor"><i class="jstree-icon jstree-themeicon" role="presentation"></i>註冊帳號</a>
                                </li>
                                <li role="none" data-sn="4104" data-jstree='{"selected" : false }' id="j-4104" class="jstree-node jstree-leaf">
                                    <div unselectable="on" role="presentation" class="jstree-wholerow">&nbsp;</div>
                                    <i class="jstree-icon jstree-ocl" role="presentation"></i>
                                    <a class="jstree-anchor" href="#" tabindex="-1" role="treeitem" aria-selected="false" aria-level="2" id="j-4104_anchor"><i class="jstree-icon jstree-themeicon" role="presentation"></i>忘記密碼</a>
                                </li>
                                <li role="none" data-sn="4105" data-jstree='{"selected" : false }' id="j-4105" class="jstree-node jstree-leaf">
                                    <div unselectable="on" role="presentation" class="jstree-wholerow">&nbsp;</div>
                                    <i class="jstree-icon jstree-ocl" role="presentation"></i>
                                    <a class="jstree-anchor" href="#" tabindex="-1" role="treeitem" aria-selected="false" aria-level="2" id="j-4105_anchor"><i class="jstree-icon jstree-themeicon" role="presentation"></i>重新寄送驗證信</a>
                                </li>
                                <li role="none" data-sn="4106" data-jstree='{"selected" : false }' id="j-4106" class="jstree-node jstree-leaf">
                                    <div unselectable="on" role="presentation" class="jstree-wholerow">&nbsp;</div>
                                    <i class="jstree-icon jstree-ocl" role="presentation"></i>
                                    <a class="jstree-anchor" href="#" tabindex="-1" role="treeitem" aria-selected="false" aria-level="2" id="j-4106_anchor"><i class="jstree-icon jstree-themeicon" role="presentation"></i>變更密碼</a>
                                </li>
                                <li role="none" data-sn="4107" data-jstree='{"selected" : false }' id="j-4107" class="jstree-node jstree-leaf">
                                    <div unselectable="on" role="presentation" class="jstree-wholerow">&nbsp;</div>
                                    <i class="jstree-icon jstree-ocl" role="presentation"></i>
                                    <a class="jstree-anchor" href="#" tabindex="-1" role="treeitem" aria-selected="false" aria-level="2" id="j-4107_anchor"><i class="jstree-icon jstree-themeicon" role="presentation"></i>具結書</a>
                                </li>
                                <li role="none" data-sn="4108" data-jstree='{"selected" : false }' id="j-4108" class="jstree-node jstree-leaf">
                                    <div unselectable="on" role="presentation" class="jstree-wholerow">&nbsp;</div>
                                    <i class="jstree-icon jstree-ocl" role="presentation"></i>
                                    <a class="jstree-anchor" href="#" tabindex="-1" role="treeitem" aria-selected="false" aria-level="2" id="j-4108_anchor"><i class="jstree-icon jstree-themeicon" role="presentation"></i>個人資訊</a>
                                </li>
                                <li role="none" data-sn="4109" data-jstree='{"selected" : false }' id="j-4109" class="jstree-node jstree-leaf">
                                    <div unselectable="on" role="presentation" class="jstree-wholerow">&nbsp;</div>
                                    <i class="jstree-icon jstree-ocl" role="presentation"></i>
                                    <a class="jstree-anchor" href="#" tabindex="-1" role="treeitem" aria-selected="false" aria-level="2" id="j-4109_anchor"><i class="jstree-icon jstree-themeicon" role="presentation"></i>選擇報名系所組別</a>
                                </li>
                                <li role="none" data-sn="4110" data-jstree='{"selected" : false }' id="j-4110" class="jstree-node jstree-leaf">
                                    <div unselectable="on" role="presentation" class="jstree-wholerow">&nbsp;</div>
                                    <i class="jstree-icon jstree-ocl" role="presentation"></i>
                                    <a class="jstree-anchor" href="#" tabindex="-1" role="treeitem" aria-selected="false" aria-level="2" id="j-4110_anchor"><i class="jstree-icon jstree-themeicon" role="presentation"></i>填寫報名資料</a>
                                </li>
                                <li role="none" data-sn="4111" data-jstree='{"selected" : false }' id="j-4111" class="jstree-node jstree-leaf">
                                    <div unselectable="on" role="presentation" class="jstree-wholerow">&nbsp;</div>
                                    <i class="jstree-icon jstree-ocl" role="presentation"></i>
                                    <a class="jstree-anchor" href="#" tabindex="-1" role="treeitem" aria-selected="false" aria-level="2" id="j-4111_anchor"><i class="jstree-icon jstree-themeicon" role="presentation"></i>繳交報名費</a>
                                </li>
                                <li role="none" data-sn="4112" data-jstree='{"selected" : false }' id="j-4112" class="jstree-node jstree-leaf">
                                    <div unselectable="on" role="presentation" class="jstree-wholerow">&nbsp;</div>
                                    <i class="jstree-icon jstree-ocl" role="presentation"></i>
                                    <a class="jstree-anchor" href="#" tabindex="-1" role="treeitem" aria-selected="false" aria-level="2" id="j-4112_anchor"><i class="jstree-icon jstree-themeicon" role="presentation"></i>推薦人</a>
                                </li>
                                <li role="none" data-sn="4113" data-jstree='{"selected" : false }' id="j-4113" class="jstree-node jstree-leaf">
                                    <div unselectable="on" role="presentation" class="jstree-wholerow">&nbsp;</div>
                                    <i class="jstree-icon jstree-ocl" role="presentation"></i>
                                    <a class="jstree-anchor" href="#" tabindex="-1" role="treeitem" aria-selected="false" aria-level="2" id="j-4113_anchor"><i class="jstree-icon jstree-themeicon" role="presentation"></i>上傳繳交文件</a>
                                </li>
                                <li role="none" data-sn="4114" data-jstree='{"selected" : false }' id="j-4114" class="jstree-node jstree-leaf">
                                    <div unselectable="on" role="presentation" class="jstree-wholerow">&nbsp;</div>
                                    <i class="jstree-icon jstree-ocl" role="presentation"></i>
                                    <a class="jstree-anchor" href="#" tabindex="-1" role="treeitem" aria-selected="false" aria-level="2" id="j-4114_anchor"><i class="jstree-icon jstree-themeicon" role="presentation"></i>送出申請</a>
                                </li>
                                <li role="none" data-sn="4115" data-jstree='{"selected" : false }' id="j-4115" class="jstree-node jstree-leaf">
                                    <div unselectable="on" role="presentation" class="jstree-wholerow">&nbsp;</div>
                                    <i class="jstree-icon jstree-ocl" role="presentation"></i>
                                    <a class="jstree-anchor" href="#" tabindex="-1" role="treeitem" aria-selected="false" aria-level="2" id="j-4115_anchor"><i class="jstree-icon jstree-themeicon" role="presentation"></i>列印報表</a>
                                </li>
                                <li role="none" data-sn="4116" data-jstree='{"selected" : false }' id="j-4116" class="jstree-node jstree-leaf">
                                    <div unselectable="on" role="presentation" class="jstree-wholerow">&nbsp;</div>
                                    <i class="jstree-icon jstree-ocl" role="presentation"></i>
                                    <a class="jstree-anchor" href="#" tabindex="-1" role="treeitem" aria-selected="false" aria-level="2" id="j-4116_anchor"><i class="jstree-icon jstree-themeicon" role="presentation"></i>報名狀況查詢</a>
                                </li>
                                <li role="none" data-sn="4117" data-jstree='{"selected" : false }' id="j-4117" class="jstree-node jstree-leaf">
                                    <div unselectable="on" role="presentation" class="jstree-wholerow">&nbsp;</div>
                                    <i class="jstree-icon jstree-ocl" role="presentation"></i>
                                    <a class="jstree-anchor" href="#" tabindex="-1" role="treeitem" aria-selected="false" aria-level="2" id="j-4117_anchor"><i class="jstree-icon jstree-themeicon" role="presentation"></i>面試時間查詢</a>
                                </li>
                                <li role="none" data-sn="4118" data-jstree='{"selected" : false }' id="j-4118" class="jstree-node jstree-leaf">
                                    <div unselectable="on" role="presentation" class="jstree-wholerow">&nbsp;</div>
                                    <i class="jstree-icon jstree-ocl" role="presentation"></i>
                                    <a class="jstree-anchor" href="#" tabindex="-1" role="treeitem" aria-selected="false" aria-level="2" id="j-4118_anchor"><i class="jstree-icon jstree-themeicon" role="presentation"></i>成績查詢</a>
                                </li>
                                <li role="none" data-sn="4119" data-jstree='{"selected" : false }' id="j-4119" class="jstree-node jstree-leaf">
                                    <div unselectable="on" role="presentation" class="jstree-wholerow">&nbsp;</div>
                                    <i class="jstree-icon jstree-ocl" role="presentation"></i>
                                    <a class="jstree-anchor" href="#" tabindex="-1" role="treeitem" aria-selected="false" aria-level="2" id="j-4119_anchor">
                                        <i class="jstree-icon jstree-themeicon" role="presentation"></i>錄取結果查詢及就讀意願回覆
                                    </a>
                                </li>
                                <li role="none" data-sn="4120" data-jstree='{"selected" : false }' id="j-4120" class="jstree-node jstree-leaf">
                                    <div unselectable="on" role="presentation" class="jstree-wholerow">&nbsp;</div>
                                    <i class="jstree-icon jstree-ocl" role="presentation"></i>
                                    <a class="jstree-anchor" href="#" tabindex="-1" role="treeitem" aria-selected="false" aria-level="2" id="j-4120_anchor"><i class="jstree-icon jstree-themeicon" role="presentation"></i>學籍資料表</a>
                                </li>
                                <li role="none" data-sn="4121" data-jstree='{"selected" : false }' id="j-4121" class="jstree-node jstree-leaf">
                                    <div unselectable="on" role="presentation" class="jstree-wholerow">&nbsp;</div>
                                    <i class="jstree-icon jstree-ocl" role="presentation"></i>
                                    <a class="jstree-anchor" href="#" tabindex="-1" role="treeitem" aria-selected="false" aria-level="2" id="j-4121_anchor"><i class="jstree-icon jstree-themeicon" role="presentation"></i>入學文件</a>
                                </li>
                                <li role="none" data-sn="4122" data-jstree='{"selected" : false }' id="j-4122" class="jstree-node jstree-leaf">
                                    <div unselectable="on" role="presentation" class="jstree-wholerow">&nbsp;</div>
                                    <i class="jstree-icon jstree-ocl" role="presentation"></i>
                                    <a class="jstree-anchor" href="#" tabindex="-1" role="treeitem" aria-selected="false" aria-level="2" id="j-4122_anchor">
                                        <i class="jstree-icon jstree-themeicon" role="presentation"></i>各系所報到狀況查詢
                                    </a>
                                </li>
                                <li role="none" data-sn="4123" data-jstree='{"selected" : false }' id="j-4123" class="jstree-node jstree-leaf jstree-last">
                                    <div unselectable="on" role="presentation" class="jstree-wholerow">&nbsp;</div>
                                    <i class="jstree-icon jstree-ocl" role="presentation"></i>
                                    <a class="jstree-anchor" href="#" tabindex="-1" role="treeitem" aria-selected="false" aria-level="2" id="j-4123_anchor"><i class="jstree-icon jstree-themeicon" role="presentation"></i>報名合格統計查詢</a>
                                </li>
                            </ul>
                        </li>
                        <li role="none" data-jstree='{ "opened" : true, "selected" : false }' data-sn="4147" data-pos="2" id="j-4147" class="jstree-node jstree-open jstree-last">
                            <div unselectable="on" role="presentation" class="jstree-wholerow">&nbsp;</div>
                            <i class="jstree-icon jstree-ocl" role="presentation"></i>
                            <a class="jstree-anchor" href="#" tabindex="-1" role="treeitem" aria-selected="false" aria-level="1" aria-expanded="true" id="j-4147_anchor">
                                <i class="jstree-icon jstree-themeicon" role="presentation"></i>線上推薦信系統
                            </a>
                            <ul role="group" class="jstree-children">
                                <li role="none" data-sn="4124" data-jstree='{"selected" : false }' id="j-4124" class="jstree-node jstree-leaf">
                                    <div unselectable="on" role="presentation" class="jstree-wholerow">&nbsp;</div>
                                    <i class="jstree-icon jstree-ocl" role="presentation"></i>
                                    <a class="jstree-anchor" href="#" tabindex="-1" role="treeitem" aria-selected="false" aria-level="2" id="j-4124_anchor"><i class="jstree-icon jstree-themeicon" role="presentation"></i>資料確認</a>
                                </li>
                                <li role="none" data-sn="4126" data-jstree='{"selected" : false }' id="j-4126" class="jstree-node jstree-leaf">
                                    <div unselectable="on" role="presentation" class="jstree-wholerow">&nbsp;</div>
                                    <i class="jstree-icon jstree-ocl" role="presentation"></i>
                                    <a class="jstree-anchor" href="#" tabindex="-1" role="treeitem" aria-selected="false" aria-level="2" id="j-4126_anchor"><i class="jstree-icon jstree-themeicon" role="presentation"></i>推薦內容</a>
                                </li>
                                <li role="none" data-sn="4125" data-jstree='{"selected" : false }' id="j-4125" class="jstree-node jstree-leaf">
                                    <div unselectable="on" role="presentation" class="jstree-wholerow">&nbsp;</div>
                                    <i class="jstree-icon jstree-ocl" role="presentation"></i>
                                    <a class="jstree-anchor" href="#" tabindex="-1" role="treeitem" aria-selected="false" aria-level="2" id="j-4125_anchor"><i class="jstree-icon jstree-themeicon" role="presentation"></i>同意推薦</a>
                                </li>
                                <li role="none" data-sn="4127" data-jstree='{"selected" : false }' id="j-4127" class="jstree-node jstree-leaf jstree-last">
                                    <div unselectable="on" role="presentation" class="jstree-wholerow">&nbsp;</div>
                                    <i class="jstree-icon jstree-ocl" role="presentation"></i>
                                    <a class="jstree-anchor" href="#" tabindex="-1" role="treeitem" aria-selected="false" aria-level="2" id="j-4127_anchor"><i class="jstree-icon jstree-themeicon" role="presentation"></i>推薦送出</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- tree 套件結束 -->
        </div>
    </div>
</div>