<div class="card promoting-card mb-3" id="spec-card-14000">
    <div class="card-body border-bottom">
        <div class="d-flex justify-content-between align-items-center">
            <div class="flex-1">
                <h5 class="card-title font-weight-bold mb-2 align-text-bottom"><span class="badge unique-color py-2">UML Activity</span>&nbsp;作業流程</h5>
                <p class="card-text"><i class="fa fa-clock pr-2"></i>01/01/1970 updated by EA Version:1.0</p>
            </div>
            <div>
                <a class="btn-floating btn-sm btn-fb float-sm-right ml-0" title="移除關聯" href="#" onclick="JdRemoveRelation(14000)"><i class="fa fa-unlink"></i></a>
                <a class="btn-floating btn-sm btn-fb float-sm-right ml-0" title="編輯規則" href="#" onclick="JdEditUml(16185)"><i class="fa fa-file-text-o"></i></a>
                <a class="btn-floating btn-sm btn-fb float-sm-right" title="開啟EA HTML Report" href="/uml/74/16159/report/index.htm?guid=5B51BA29-8D19-46c1-B1F8-1521ADFF4E96" target="_blank"><i class="fa fa-cloud"></i></a>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-8">
                <img src="../assets/fake/EAID_5B51BA29_8D19_46c1_B1F8_1521ADFF4E96.png" class="img-fluid img-thumbnail float-left" alt="UML Diagram" />
            </div>
            <div class="col-4"></div>
        </div>
    </div>
    <div class="card-body closed border-top pb-1">
        <div class="button mt-0">
            <a class="btn-floating btn-sm btn-fb float-sm-right m-0" title="編輯說明" onclick="JdEditComment(14000)"><i class="fa fa-comments-o"></i></a>
        </div>
		<div class="comment-wrap">
            <div class="comment-item">
                <p class="card-text">
                    <i class="fa fa-clock-o"></i>
                    2022-07-22 11:15 updated by 王俊欽
                </p>
                <div id="spec-comment-14000">
                    <p>test</p>
                </div>
            </div>
            <div class="comment-item">
                <p class="card-text">
                    <i class="fa fa-clock-o"></i>
                    2022-07-22 11:15 updated by 王俊欽
                </p>
                <div id="spec-comment-14000">
                    <p>test2</p>
                </div>
            </div>
		</div>
    </div>
</div>

<div class="card promoting-card mb-3" id="spec-card-14011">
    <div class="card-body border-bottom">
        <div class="d-flex justify-content-between align-items-center">
            <div class="flex-1">
                <img src="../assets/webpage.png" class="mr-1 mb-1" width="18" height="18">
				<span class="card-title font-weight-bold mb-2 h5">招生組_簡章調查管理_首頁     </span>
				<p class="card-text"><i class="fa fa-clock pr-2"></i>01/01/1970 updated by 王俊欽</p>
            </div>
            <div>
                <a class="btn-floating btn-sm btn-fb float-sm-right ml-0" title="移除關聯" href="#" onclick="JdRemoveRelation(14000)"><i class="fa fa-unlink"></i></a>
                <a class="btn-floating btn-sm btn-fb float-sm-right ml-0" title="編輯規則" href="#" onclick="JdEditUml(16185)"><i class="fa fa-file-text-o"></i></a>
                <a class="btn-floating btn-sm btn-fb float-sm-right" title="開啟EA HTML Report" href="/uml/74/16159/report/index.htm?guid=5B51BA29-8D19-46c1-B1F8-1521ADFF4E96" target="_blank"><i class="fa fa-cloud"></i></a>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-8">
				<img src="../assets/fake/home.png" class="img-fluid img-thumbnail float-left" alt="UML Diagram">
            </div>
            <div class="col-4"></div>
        </div>
    </div>
    <div class="card-body closed border-top pb-1">
        <div class="button mt-0">
            <a class="btn-floating btn-sm btn-fb float-sm-right m-0" title="編輯說明" onclick="JdEditComment(14000)"><i class="fa fa-comments-o"></i></a>
        </div>
		<div class="comment-wrap">
            <div class="comment-item">
                <p class="card-text">
                    <i class="fa fa-clock-o"></i>
                    2022-07-22 11:15 updated by 王俊欽
                </p>
                <div id="spec-comment-14000">
                    <p>test</p>
                </div>
            </div>
            <div class="comment-item">
                <p class="card-text">
                    <i class="fa fa-clock-o"></i>
                    2022-07-22 11:15 updated by 王俊欽
                </p>
                <div id="spec-comment-14000">
                    <p>test2</p>
                </div>
            </div>
		</div>
    </div>
</div>
