
<div class="proposal-quotation">
	<div class="text-right mb-2"><button class="btn btn-md btn-default btn-rounded">產生新報價單</button></div>
    <ul class="menu-item quotation-list">
        <li>
            <div class="column-lg quotation-wrap">
                <p class="quotation-version">版本 3</p>
                <p class="description"><%= lorem_paragraph %></p>
                <span class="date">2021/10/12 14:00 by Kim</span>
            </div>
            <div class="column-sm">
                <button type="button" class="btn btn-action quotation_tooltip">
                    <i class="fa fa-ellipsis-v"></i>
                </button>
            </div>
        </li>
		<li>
            <div class="column-lg quotation-wrap">
                <p class="quotation-version">版本 2</p>
                <p class="description"><%= zh_lorem_paragraph %></p>
                <span class="date">2021/10/12 14:00 by Kim</span>
            </div>
            <div class="column-sm">
                <button type="button" class="btn btn-action quotation_tooltip">
                    <i class="fa fa-ellipsis-v"></i>
                </button>
            </div>
        </li>
		<li>
            <div class="column-lg quotation-wrap">
                <p class="quotation-version">版本 1</p>
                <p class="description"><%= lorem_sentences(5) %></p>
                <span class="date">2021/10/12 14:00 by Kim</span>
            </div>
            <div class="column-sm">
                <button type="button" class="btn btn-action quotation_tooltip">
                    <i class="fa fa-ellipsis-v"></i>
                </button>
            </div>
        </li>
    </ul>
</div>

<% content_for :js do %>
<script>
</script>
<% end %>