
<div class="proposal-maintain">
	<div class="checkbox-warranty">
        <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="warrantyChecked">
            <label class="custom-control-label" for="warrantyChecked">保固 12 月，系統維護/更新方式 遠端桌面</label>
        </div>
	</div>
	<div class="proposal-maintain-list">
		<div class="item-wrap">
            <div class="maintain-card">
                <div class="card-hd">
                    <div class="item-check">
                        <label class="label">
                            <input class="label__checkbox" type="checkbox"/>
                            <span class="label__text">
                                <span class="label__check">
                                    <i class="fa fa-check icon"></i>
                                </span>
                            </span>
                        </label>
					</div>
                    <div class="service-item">
					    <h5>客戶諮詢服務</h5>
					</div>
                </div>
				<div class="card-bd">
                    <div class="maintain_illustrate">
                        <p>提供系統管理人員於技術支援及諮詢服務時段提供客服電話、信箱、緊急連絡電話。</p>
                        <p>回覆時間為系統正式建單後發送 Email 或 電話通知客戶。</p>
                    </div>
                    <div class="maintain_norm">
                        <div class="form-row">
                            <div class="col-4">
                                <select class="browser-default custom-select">
                                    <option selected>回覆時限(N): 工作日</option>
                                    <option value="1">4 小時</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                            </div>
                            <div class="col-4">
                                <select class="browser-default custom-select">
                                    <option selected>非工作日</option>
                                    <option value="1">復工後 4 小時</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                            </div>
                            <div class="col-4">
                                <select class="browser-default custom-select">
                                    <option selected>服務時段</option>
                                    <option value="1">公司上班時間</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="card-middle">
                        <div class="manpower">
						    <span>專案顧問</span>
						</div>
                        <div class="effective">
						    <input type="text" id="" class="form-control" placeholder="預估工作天">
						</div>
                    </div>
                    <div class="remark">
                        <textarea class="form-control rounded-0" id="" rows="3" placeholder="備註"></textarea>
                    </div>
				</div>
            </div>
		</div>
		<div class="item-wrap">
            <div class="maintain-card">
                <div class="card-hd">
                    <div class="item-check">
                        <label class="label">
                            <input class="label__checkbox" type="checkbox"/>
                            <span class="label__text">
                                <span class="label__check">
                                    <i class="fa fa-check icon"></i>
                                </span>
                            </span>
                        </label>
					</div>
                    <div class="service-item">
					    <h5>系統除錯</h5>
					</div>
                </div>
				<div class="card-bd">
                    <div class="maintain_illustrate">
                        <p>軟體程式錯誤排除。</p>
                        <p>接獲通知後 N 小時內回應，回應後 M小時內修復。若評估須超過 M小時以上之修復，須事先提出解決方案及修復時間並經客戶同意。</p>
                    </div>
                    <div class="maintain_norm">
                        <div class="form-row">
                            <div class="col-4">
                                <select class="browser-default custom-select">
                                    <option selected>回覆時限(N): 工作日</option>
                                    <option value="1">4 小時</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                            </div>
                            <div class="col-4">
                                <select class="browser-default custom-select">
                                    <option selected>非工作日</option>
                                    <option value="1">復工後 4 小時</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                            </div>
                            <div class="col-4">
                                <select class="browser-default custom-select">
                                    <option selected>服務時段</option>
                                    <option value="1">公司上班時間</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="card-middle">
						<div class="estimate-column">
                            <div class="manpower">
                                <span>專案顧問</span>
                            </div>
                            <div class="effective">
                                <input type="text" id="" class="form-control" placeholder="預估工作天">
                            </div>
						</div>
						<div class="estimate-column">
                            <div class="manpower">
                                <span>維護工程師</span>
                            </div>
                            <div class="effective">
                                <input type="text" id="" class="form-control" placeholder="預估工作天">
                            </div>
						</div>
                    </div>
                    <div class="remark">
                        <textarea class="form-control rounded-0" id="" rows="3" placeholder="備註"></textarea>
                    </div>
				</div>
            </div>
		</div>
		<div class="item-wrap">
            <div class="maintain-card">
                <div class="card-hd">
                    <div class="item-check">
                        <label class="label">
                            <input class="label__checkbox" type="checkbox"/>
                            <span class="label__text">
                                <span class="label__check">
                                    <i class="fa fa-check icon"></i>
                                </span>
                            </span>
                        </label>
					</div>
                    <div class="service-item">
					    <h5>系統備份</h5>
					</div>
                </div>
				<div class="card-bd">
                    <div class="maintain_illustrate">
                        <p>依系統需求，定期備份至客戶提供之儲存裝置。</p>
                    </div>
                    <div class="maintain_norm">
                        <select class="browser-default custom-select">
                            <option selected>處理週期</option>
                            <option value="1">每個月一次</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </div>
                    <div class="card-middle">
                        <div class="manpower">
                            <span>網路工程師</span>
                        </div>
                        <div class="effective">
                            <input type="text" id="" class="form-control" placeholder="預估工作天">
                        </div>
                    </div>
                    <div class="remark">
                        <textarea class="form-control rounded-0" id="" rows="3" placeholder="備註"></textarea>
                    </div>
				</div>
            </div>
		</div>
		<div class="item-wrap">
            <div class="maintain-card">
                <div class="card-hd">
                    <div class="item-check">
                        <label class="label">
                            <input class="label__checkbox" type="checkbox"/>
                            <span class="label__text">
                                <span class="label__check">
                                    <i class="fa fa-check icon"></i>
                                </span>
                            </span>
                        </label>
					</div>
                    <div class="service-item">
					    <h5>還原演練</h5>
					</div>
                </div>
				<div class="card-bd">
                    <div class="maintain_norm">
                        <select class="browser-default custom-select">
                            <option selected>處理週期</option>
                            <option value="1">每個月一次</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </div>
                    <div class="card-middle">
                        <div class="manpower">
                            <span>網路工程師</span>
                        </div>
                        <div class="effective">
                            <input type="text" id="" class="form-control" placeholder="預估工作天">
                        </div>
                    </div>
                    <div class="remark">
                        <textarea class="form-control rounded-0" id="" rows="3" placeholder="備註"></textarea>
                    </div>
				</div>
            </div>
		</div>
		<div class="item-wrap">
            <div class="maintain-card">
                <div class="card-hd">
                    <div class="item-check">
                        <label class="label">
                            <input class="label__checkbox" type="checkbox"/>
                            <span class="label__text">
                                <span class="label__check">
                                    <i class="fa fa-check icon"></i>
                                </span>
                            </span>
                        </label>
					</div>
                    <div class="service-item">
					    <h5>緊急災難復原</h5>
					</div>
                </div>
				<div class="card-bd">
                    <div class="maintain_illustrate">
                        <p>當正式主機發生嚴重問題需緊急復原時，接獲通報後確認復原計劃，N小時內確認問題點，並於X小時內使系統恢復正常作業，安裝在新主機上還原系統，超出時間需客戶同意。</p>
                    </div>
                    <div class="maintain_norm">
                        <div class="form-row">
                            <div class="col-4">
                                <select class="browser-default custom-select">
                                    <option selected>處理時限(X): 工作日</option>
                                    <option value="1">4 小時</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                            </div>
                            <div class="col-4">
                                <select class="browser-default custom-select">
                                    <option selected>非工作日</option>
                                    <option value="1">復工後 4 小時</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                            </div>
                            <div class="col-4">
                                <select class="browser-default custom-select">
                                    <option selected>服務時段</option>
                                    <option value="1">公司上班時間</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="card-middle">
						<div class="estimate-column">
                            <div class="manpower">
                                <span>網路工程師</span>
                            </div>
                            <div class="effective">
                                <input type="text" id="" class="form-control" placeholder="預估工作天">
                            </div>
						</div>
						<div class="estimate-column">
                            <div class="manpower">
                                <span>維護工程師</span>
                            </div>
                            <div class="effective">
                                <input type="text" id="" class="form-control" placeholder="預估工作天">
                            </div>
						</div>
                    </div>
                    <div class="remark">
                        <textarea class="form-control rounded-0" id="" rows="3" placeholder="備註"></textarea>
                    </div>
				</div>
            </div>
		</div>
		<div class="item-wrap">
            <div class="maintain-card">
                <div class="card-hd">
                    <div class="item-check">
                        <label class="label">
                            <input class="label__checkbox" type="checkbox"/>
                            <span class="label__text">
                                <span class="label__check">
                                    <i class="fa fa-check icon"></i>
                                </span>
                            </span>
                        </label>
					</div>
                    <div class="service-item">
					    <h5>系統化紀錄服務</h5>
					</div>
                </div>
				<div class="card-bd">
                    <div class="maintain_illustrate">
                        <p>管理單位或使用者提供的各項錯誤回報或是需求修改，定期提供維護系統紀錄。</p>
                    </div>
                    <div class="maintain_norm">
                        <select class="browser-default custom-select">
                            <option selected>處理週期</option>
                            <option value="1">每個月一次</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </div>
                    <div class="card-middle">
                        <div class="manpower">
                            <span>網路工程師</span>
                        </div>
                        <div class="effective">
                            <input type="text" id="" class="form-control" placeholder="預估工作天">
                        </div>
                    </div>
                    <div class="remark">
                        <textarea class="form-control rounded-0" id="" rows="3" placeholder="備註"></textarea>
                    </div>
				</div>
            </div>
		</div>
		<div class="item-wrap">
            <div class="maintain-card">
                <div class="card-hd">
                    <div class="item-check">
                        <label class="label">
                            <input class="label__checkbox" type="checkbox"/>
                            <span class="label__text">
                                <span class="label__check">
                                    <i class="fa fa-check icon"></i>
                                </span>
                            </span>
                        </label>
					</div>
                    <div class="service-item">
					    <h5>客製紀錄服務</h5>
					</div>
                </div>
				<div class="card-bd">
                    <div class="card-middle">
                        <div class="manpower">
                            <span>專案顧問</span>
                        </div>
                        <div class="effective">
                            <input type="text" id="" class="form-control" placeholder="預估工作天">
                        </div>
                    </div>
                    <div class="remark">
                        <textarea class="form-control rounded-0" id="" rows="3" placeholder="備註"></textarea>
                    </div>
				</div>
            </div>
		</div>
		<div class="item-wrap">
            <div class="maintain-card">
                <div class="card-hd">
                    <div class="item-check">
                        <label class="label">
                            <input class="label__checkbox" type="checkbox"/>
                            <span class="label__text">
                                <span class="label__check">
                                    <i class="fa fa-check icon"></i>
                                </span>
                            </span>
                        </label>
					</div>
                    <div class="service-item">
					    <h5>弱點掃描及風險排除</h5>
					</div>
                </div>
				<div class="card-bd">
                    <div class="maintain_illustrate">
                        <p>定期進行系統弱點掃描，並排除中高風險弱點。</p>
                    </div>
                    <div class="maintain_norm">
                        <select class="browser-default custom-select">
                            <option selected>處理週期</option>
                            <option value="1">每個月一次</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </div>
                    <div class="card-middle">
						<div class="estimate-column">
                            <div class="manpower">
                                <span>網路工程師</span>
                            </div>
                            <div class="effective">
                                <input type="text" id="" class="form-control" placeholder="預估工作天">
                            </div>
						</div>
						<div class="estimate-column">
                            <div class="manpower">
                                <span>維護工程師</span>
                            </div>
                            <div class="effective">
                                <input type="text" id="" class="form-control" placeholder="預估工作天">
                            </div>
						</div>
                    </div>
                    <div class="remark">
                        <textarea class="form-control rounded-0" id="" rows="3" placeholder="備註"></textarea>
                    </div>
				</div>
            </div>
		</div>
		<div class="item-wrap">
            <div class="maintain-card">
                <div class="card-hd">
                    <div class="item-check">
                        <label class="label">
                            <input class="label__checkbox" type="checkbox"/>
                            <span class="label__text">
                                <span class="label__check">
                                    <i class="fa fa-check icon"></i>
                                </span>
                            </span>
                        </label>
					</div>
                    <div class="service-item">
					    <h5>軟體更新</h5>
					</div>
                </div>
				<div class="card-bd">
                    <div class="maintain_illustrate">
                        <p>定期更新軟體的最新版本(當時開發版本)。</p>
                    </div>
                    <div class="maintain_norm">
                        <select class="browser-default custom-select">
                            <option selected>處理週期</option>
                            <option value="1">每個月一次</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </div>
                    <div class="card-middle">
						<div class="estimate-column">
                            <div class="manpower">
                                <span>網路工程師</span>
                            </div>
                            <div class="effective">
                                <input type="text" id="" class="form-control" placeholder="預估工作天">
                            </div>
						</div>
						<div class="estimate-column">
                            <div class="manpower">
                                <span>維護工程師</span>
                            </div>
                            <div class="effective">
                                <input type="text" id="" class="form-control" placeholder="預估工作天">
                            </div>
						</div>
                    </div>
                    <div class="remark">
                        <textarea class="form-control rounded-0" id="" rows="3" placeholder="備註"></textarea>
                    </div>
				</div>
            </div>
		</div>
		<div class="item-wrap">
            <div class="maintain-card">
                <div class="card-hd">
                    <div class="item-check">
                        <label class="label">
                            <input class="label__checkbox" type="checkbox"/>
                            <span class="label__text">
                                <span class="label__check">
                                    <i class="fa fa-check icon"></i>
                                </span>
                            </span>
                        </label>
					</div>
                    <div class="service-item">
					    <h5>防毒</h5>
					</div>
                </div>
				<div class="card-bd">
                    <div class="maintain_illustrate">
                        <p>定期掃描系統，中毒還原。</p>
                    </div>
                    <div class="card-middle">
                        <div class="manpower">
                            <span>網路工程師</span>
                        </div>
                        <div class="effective">
                            <input type="text" id="" class="form-control" placeholder="預估工作天">
                        </div>
                    </div>
                    <div class="remark">
                        <textarea class="form-control rounded-0" id="" rows="3" placeholder="備註"></textarea>
                    </div>
				</div>
            </div>
		</div>
	</div>
    <div class="proposal-action">
        <a href="#" class="btn btn-link"><i class="fa fa-long-arrow-left"></i>回列表</a>
        <button type="button" class="btn btn-secondary">儲存</button>
    </div>
</div>

<% content_for :js do %>
<script>
</script>
<% end %>