<div class="modal fade" id="versionModal" tabindex="-1" role="dialog" aria-labelledby="versionModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="versionModalLabel">版本紀錄</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
				<div class="mb-2">
					<button type="button" class="btn btn-xs btn-outline-default btn-rounded waves-effect z-depth-0 fonts-13">建立新版本</button>
					<button type="button" class="pull-right btn btn-xs btn-outline-danger btn-rounded waves-effect z-depth-0 fonts-13">刪除最後版本</button>
				</div>
                <table class="table table-sm">
                    <thead>
                        <tr>
                            <th class="text-center">版本</th>
                            <th>建立日期</th>
                            <th>說明</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="text-center">3</td>
                            <td>2021/11/30 15:00</td>
                            <td><%= lorem_word %></td>
                            <td><a href="#" target="_blank"><i class="fa fa-external-link"></i></a></td>
                        </tr>
						<tr>
                            <td class="text-center">2</td>
                            <td>2020/11/30 15:00</td>
                            <td><%= lorem_word %></td>
                            <td><a href="#" target="_blank"><i class="fa fa-external-link"></i></a></td>
                        </tr>
						<tr>
                            <td class="text-center">1</td>
                            <td>2019/11/30 15:00</td>
                            <td><%= lorem_word %></td>
                            <td><a href="#" target="_blank"><i class="fa fa-external-link"></i></a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-md btn-link" data-dismiss="modal">關閉</button>
                <button type="button" class="btn btn-md btn-secondary">儲存</button>
            </div>
        </div>
    </div>
</div>

<% content_for :js do %>

<% end %>