
<div class="table-responsive text-nowrap">
    <table class="table table-bordered table-estimate mb-0">
        <thead>
            <tr>
                <th><span>項次</span></th>
				<th></th>
                <th><span>工作項目</span></th>
				<th class="pp-estimate-th">
					<span>各職務的工時預估 (工作天)</span>
					<div class="estimate-region">
					    <span class="job-title">職務</span>
						<span class="num">預估</span>
						<span class="num">樂觀</span>
						<span class="num">悲觀</span>
						<span class="num">預估</span>
						<span class="estimate-checkbox">加班</span>
					</div>
				</th>
				<th><span>合計</span></th>
				<th class="pp-estimate-th">
					<span>其他</span>
					<div class="other-cost">
					    <span class="item">項目</span>
						<span class="cost-input">金額</span>
					</div>
				</th>
            </tr>
        </thead>
        <tbody>
			<tr>
                <td colspan="6" class="colspan">
					<h5>1. 第一階段（110年3月31日前）</h5>
				</td>
            </tr>
            <tr>
                <td class="text-center">1.1</td>
				<td>
				    <div class="btns">
						<a class="btn-floating btn-sm btn-mdb-color" data-toggle="modal" data-target="#adminChat">
							<i class="fa fa-comment"></i>
						</a>
						<a class="btn-floating btn-sm btn-mdb-color" data-toggle="modal" data-target="#adminFiles">
							<i class="fa fa-file"></i>
						</a>
					</div>
				</td>
                <td>專案啟動及專案規劃</td>
                <td class="pp-estimate">
					<div class="estimate-region">
						<div class="inner-row">
                            <span class="job-title">專案經理</span>
                            <span class="num">
							    <input type="text" id="exampleForm2" class="form-control form-control-sm" data-toggle="modal" data-target="#proposalEstimateModal" value="0.5">
							</span>
                            <span class="num">
							    <input type="text" id="exampleForm2" class="form-control form-control-sm" data-toggle="modal" data-target="#proposalEstimateModal">
							</span>
                            <span class="num">
							    <input type="text" id="exampleForm2" class="form-control form-control-sm" data-toggle="modal" data-target="#proposalEstimateModal">
							</span>
                            <span class="num">
							    <input type="text" id="exampleForm2" class="form-control form-control-sm" data-toggle="modal" data-target="#proposalEstimateModal">
							</span>
                            <span class="estimate-checkbox">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="defaultUnchecked">
                                    <label class="custom-control-label" for="defaultUnchecked"></label>
                                </div>
							</span>
						</div>
						<div class="inner-row">
                            <span class="job-title">系統分析師</span>
                            <span class="num">
							    <input type="text" id="exampleForm2" class="form-control form-control-sm" data-toggle="modal" data-target="#proposalEstimateModal">
							</span>
                            <span class="num">
							    <input type="text" id="exampleForm2" class="form-control form-control-sm" data-toggle="modal" data-target="#proposalEstimateModal" value="0.5">
							</span>
                            <span class="num">
							    <input type="text" id="exampleForm2" class="form-control form-control-sm" data-toggle="modal" data-target="#proposalEstimateModal">
							</span>
                            <span class="num">
							    <input type="text" id="exampleForm2" class="form-control form-control-sm" data-toggle="modal" data-target="#proposalEstimateModal">
							</span>
                            <span class="estimate-checkbox">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="defaultUnchecked">
                                    <label class="custom-control-label" for="defaultUnchecked"></label>
                                </div>
							</span>
						</div>
						<div class="inner-row">
                            <span class="job-title">專案負責人</span>
                            <span class="num">
							    <input type="text" id="exampleForm2" class="form-control form-control-sm" data-toggle="modal" data-target="#proposalEstimateModal">
							</span>
                            <span class="num">
							    <input type="text" id="exampleForm2" class="form-control form-control-sm" data-toggle="modal" data-target="#proposalEstimateModal">
							</span>
                            <span class="num">
							    <input type="text" id="exampleForm2" class="form-control form-control-sm" data-toggle="modal" data-target="#proposalEstimateModal">
							</span>
                            <span class="num">
							    <input type="text" id="exampleForm2" class="form-control form-control-sm" data-toggle="modal" data-target="#proposalEstimateModal" value="0.5">
							</span>
                            <span class="estimate-checkbox">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="defaultUnchecked">
                                    <label class="custom-control-label" for="defaultUnchecked"></label>
                                </div>
							</span>
						</div>
					</div>
				</td>
                <td class="text-center">24</td>
                <td class="pp-estimate">
					<div class="other-cost">
						<div class="inner-row">
                            <span class="item">交通費
								<small class="d-block">(台北 -台東 3次)</small>
							</span>
                            <span class="cost-input">
								<input type="text" id="exampleForm2" class="form-control form-control-sm">
							</span>
						</div>
					</div>
				</td>
            </tr>
        </tbody>
		<tbody>
			<tr>
                <td colspan="6" class="colspan">
					<h5>2. 第二階段（110年9月30日前）</h5>
				</td>
            </tr>
            <tr>
                <td class="text-center">2.1</td>
				<td></td>
                <td>前端網頁設計</td>
                <td class="pp-estimate">
					<div class="estimate-region">
						<div class="inner-row">
                            <span class="job-title">藝術總監</span>
                            <span class="num">
							    <input type="text" id="exampleForm2" class="form-control form-control-sm" data-toggle="modal" data-target="#proposalEstimateModal" value="0.5">
							</span>
                            <span class="num">
							    <input type="text" id="exampleForm2" class="form-control form-control-sm" data-toggle="modal" data-target="#proposalEstimateModal">
							</span>
                            <span class="num">
							    <input type="text" id="exampleForm2" class="form-control form-control-sm" data-toggle="modal" data-target="#proposalEstimateModal">
							</span>
                            <span class="num">
							    <input type="text" id="exampleForm2" class="form-control form-control-sm" data-toggle="modal" data-target="#proposalEstimateModal">
							</span>
                            <span class="estimate-checkbox">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="defaultUnchecked">
                                    <label class="custom-control-label" for="defaultUnchecked"></label>
                                </div>
							</span>
						</div>
					</div>
				</td>
                <td class="text-center">24</td>
                <td class="pp-estimate">
					<div class="other-cost">
						<div class="inner-row">
                            <span class="item">交通費</span>
                            <span class="cost-input">
								<input type="text" id="exampleForm2" class="form-control form-control-sm">
							</span>
						</div>
					</div>
				</td>
            </tr>
			<tr>
                <td class="text-center">2.2</td>
				<td>
				    <div class="btns">
						<a class="btn-floating btn-sm btn-mdb-color" data-toggle="modal" data-target="#adminChat">
							<i class="fa fa-comment"></i>
						</a>
						<a class="btn-floating btn-sm btn-mdb-color" data-toggle="modal" data-target="#adminFiles">
							<i class="fa fa-file"></i>
						</a>
					</div>
				</td>
                <td>系統開發</td>
                <td class="pp-estimate">
					<div class="estimate-region">
						<div class="inner-row">
                            <span class="job-title">系統工程師</span>
                            <span class="num">
							    <input type="text" id="exampleForm2" class="form-control form-control-sm" data-toggle="modal" data-target="#proposalEstimateModal" value="0.5">
							</span>
                            <span class="num">
							    <input type="text" id="exampleForm2" class="form-control form-control-sm" data-toggle="modal" data-target="#proposalEstimateModal">
							</span>
                            <span class="num">
							    <input type="text" id="exampleForm2" class="form-control form-control-sm" data-toggle="modal" data-target="#proposalEstimateModal">
							</span>
                            <span class="num">
							    <input type="text" id="exampleForm2" class="form-control form-control-sm" data-toggle="modal" data-target="#proposalEstimateModal">
							</span>
                            <span class="estimate-checkbox">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="defaultUnchecked">
                                    <label class="custom-control-label" for="defaultUnchecked"></label>
                                </div>
							</span>
						</div>
					</div>
				</td>
                <td class="text-center">24</td>
                <td class="pp-estimate"></td>
            </tr>
			<tr>
                <td class="text-center">2.3</td>
				<td>
				    <div class="btns">
						<a class="btn-floating btn-sm btn-mdb-color" data-toggle="modal" data-target="#adminFiles">
							<i class="fa fa-file"></i>
						</a>
					</div>
				</td>
                <td>系統安裝</td>
                <td class="pp-estimate">
					<div class="estimate-region">
						<div class="inner-row">
                            <span class="job-title">系統工程師</span>
                            <span class="num">
							    <input type="text" id="exampleForm2" class="form-control form-control-sm" data-toggle="modal" data-target="#proposalEstimateModal" value="0.5">
							</span>
                            <span class="num">
							    <input type="text" id="exampleForm2" class="form-control form-control-sm" data-toggle="modal" data-target="#proposalEstimateModal">
							</span>
                            <span class="num">
							    <input type="text" id="exampleForm2" class="form-control form-control-sm" data-toggle="modal" data-target="#proposalEstimateModal">
							</span>
                            <span class="num">
							    <input type="text" id="exampleForm2" class="form-control form-control-sm" data-toggle="modal" data-target="#proposalEstimateModal">
							</span>
                            <span class="estimate-checkbox">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="defaultUnchecked">
                                    <label class="custom-control-label" for="defaultUnchecked"></label>
                                </div>
							</span>
						</div>
					</div>
				</td>
                <td class="text-center">24</td>
                <td class="pp-estimate"></td>
            </tr>
        </tbody>
    </table>
</div>


<% content_for :js do %>
<script>
</script>
<% end %>