<div class="modal fade" id="modalCountersignature" tabindex="-1" role="dialog" aria-labelledby="countersignatureModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="countersignatureModalLabel">建立會辦流程</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
				<div class="form-group">
                    <label class="font-weight-bold">選擇彙辦方式</label>
                    <div class="mb-4">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" />
                            <label class="form-check-label" for="flexRadioDefault1"> 順會</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" />
                            <label class="form-check-label" for="flexRadioDefault2"> 併會</label>
                        </div>
                    </div>
					<ul class="menu-item">
					    <li>順會：依選擇的單位依序進行會辦流程</li>
						<li>併會：依選擇的單位同時進行會辦流程</li>
						<li>會辦流程：無論順會或是併會，流程均送至該單位的登記桌(分辦) > 承辦人(陳核) > 承辦人單位主管 > 承辦人上一層單位主管 > 會辦結束回到原來的關卡</li>
					</ul>
					<p>PS: 若會辦單位屬於一層單位則單位主管相同只跑後面的關卡。</p>
                </div>
				<div class="form-group">
				    <label class="font-weight-bold">選擇彙辦單位</label>
					<table class="table table-sm">
					    <thead>
						    <tr>
							    <th>序號</th>
								<th>選項文字</th>
							</tr>
						</thead>
						<tbody>
						    <tr>
							    <td>1</td>
								<td>
                                    <select class="custom-select">
                                        <option selected="">請選擇</option>
                                        <option value="1">校內全部單位</option>
                                        <option value="2">Two</option>
                                        <option value="3">Three</option>
                                    </select>
								</td>
							</tr>
							<tr>
							    <td>2</td>
								<td>
                                    <select class="custom-select">
                                        <option selected="">請選擇</option>
                                        <option value="1">校內全部單位</option>
                                        <option value="2">Two</option>
                                        <option value="3">Three</option>
                                    </select>
								</td>
							</tr>
							<tr>
							    <td>3</td>
								<td>
                                    <select class="custom-select">
                                        <option selected="">請選擇</option>
                                        <option value="1">校內全部單位</option>
                                        <option value="2">Two</option>
                                        <option value="3">Three</option>
                                    </select>
								</td>
							</tr>
						</tbody>
					</table>
					<button class="btn btn-block btn-rounded btn-outline-primary z-depth-0">新增一個會辦單位</button>
				</div>
            </div>
            <div class="modal-footer">
				<button type="button" class="btn  btn-link" data-dismiss="modal">取消</button>
                <button type="button" data-toggle="modal" data-target="#modalPreview" class="btn btn-secondary">確定</button>
            </div>
        </div>
    </div>
</div>

<% content_for :js do %>
<script>
</script>
<% end %>