<div class="modal fade" id="modalEmail" tabindex="-1" role="dialog" aria-labelledby="emailModalLabel" aria-hidden="true" data-backdrop="false">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="emailModalLabel">新郵件</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
				<div class="mail-content">
				    <div class="mail-header">
					    <div class="mail-breadcrumb">
							<h4><small class="originate">來自</small>出國交換生 申請件</h4>
						</div>
						<div class="mail-links">
							<div class="d-inline-block">
                                <select class="browser-default custom-select custom-select-sm my-0">
                                    <option selected>選擇範本</option>
                                    <option value="t1">Template One</option>
                                    <option value="t2">Template Two</option>
                                    <option value="t3">Template Three</option>
                                </select>
							</div>
							<button type="button" class="btn btn-sm btn-mdb-color my-0">加入範本</button>
						</div>
					</div>
					<div class="mail-compose">
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label" for="sender">寄件人名稱</label>
							<div class="col-sm-10">
                                <input type="text" class="form-control" id="sender">
							</div>
                        </div>
						<div class="form-group row">
                            <label class="col-sm-2 col-form-label">寄件人信箱</label>
							<div class="col-sm-10">
                                <select class="browser-default custom-select">
                                    <option selected>請選擇</option>
                                    <option value="1">公用信箱&lt;lilycheng@nctu.edu.tw&gt;</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
							</div>
                        </div>
						<div class="form-group row">
                            <label class="col-sm-2 col-form-label">收件人</label>
							<div class="col-sm-10">
                                <span>共 1789 封</span>
								<button type="button" class="btn btn-sm btn-dark" data-toggle="modal" data-target="#modalAddressee">詳細</button>
                                <div class="field-options">
									<button type="button" class="btn btn-sm" id="cc_button">副本</button>
									<button type="button" class="btn btn-sm" id="bcc_button">密件副本</button>
                                </div>
							</div>
                        </div>
                        <div class="cc_hidden hidden">
							<div class="form-group row">
                                <label class="col-sm-2 col-form-label" for="cc">副本</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="cc">
                                </div>
							</div>
                        </div>
                        <div class="bcc_hidden hidden">
							<div class="form-group row">
                                <label class="col-sm-2 col-form-label" for="bcc">密件副本</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="bcc">
                                </div>
							</div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label" for="subject">主旨</label>
							<div class="col-sm-10">
                                <input type="text" class="form-control" id="subject">
							</div>
                        </div>
						<div class="form-group row last">
                            <label class="col-sm-2 col-form-label">插入欄位</label>
							<div class="col-sm-10">
								<div class="select_add-wrap">
                                    <select class="browser-default custom-select">
                                        <option selected>請選擇</option>
                                        <option value="s1">學年</option>
                                        <option value="s2">身分證字號</option>
                                        <option value="s3">Three</option>
                                    </select>
                                    <button type="button" class="btn btn-light btn-sm">加入</button>
								</div>
							</div>
                        </div>
					</div>
					
					<div class="editor-wrapper" style="border: 1px solid #eee; margin: 0 1.25rem 1.25rem; height: 240px;">
						<!-- ckeditor 放這裡，請將 .editor-wrapper 的 inline style 拿掉 -->
						123
					</div>
					<div class="editor-files-wrapper">
                        <div class="editor-files-inner">
                            <div class="file-upload">
                                <label class="file-label" for="customFileLang"><i class="fa fa-paperclip"></i></label>
								<input type="file" class="file-input" id="customFileLang" lang="zh">
                            </div>
							<small class="text-muted">檔案大小限制 256M</small>
                        </div>
						<div class="d-flex flex-wrap align-items-center">
                            <div class="file-wrapper">
                                <div class="file-name">
									<a href="/" title="下載檔案">
										<i class="fa fa-cloud-download"></i>
										Datacolor Spyder3Express_.pdf
									</a>
								</div>
                                <button type="button" class="btn btn-cancel" title="移除檔案">
                                    <i class="fa fa-times"></i>
                                </button>
                            </div>
							<div class="file-wrapper">
								<div class="file-name">
									<a href="/" title="下載檔案">
										<i class="fa fa-cloud-download"></i>
										Dani_Box_Mini_manual.pdf
									</a>
								</div>
                                <button type="button" class="btn btn-cancel" title="移除檔案">
                                    <i class="fa fa-times"></i>
                                </button>
                            </div>
						</div>
					</div>
				</div>
            </div>
            <div class="modal-footer">
				<button type="button" class="btn  btn-link" data-dismiss="modal">捨棄</button>
                <button type="button" data-toggle="modal" data-target="#modalPreview" class="btn btn-secondary">預覽</button>
            </div>
        </div>
    </div>
</div>

<% content_for :js do %>
<script>
</script>
<% end %>