<footer class="footer">
	<div class="container">
		<div class="footer-wrap">
			<div class="footer-link">
				<a href="###">申請規定</a>
				<a href="###">問題回報</a>
			</div>
			<div class="contact">
				<h5>Taipei Medical University</h5>
				<p>250 Wuxing St. Taipei 11031 Taiwan</p>
				<p>TEL: 886-2-27361661 Ext.2690 Email: <a href="mailto:iss@tmu.edu.tw">iss@tmu.edu.tw</a></p>
				<p>We recommend Chrome, Firefox , and IE 11</p>
			</div>
		</div>
	</div>
</footer>
