<header class="header">
    <div class="container">
        <div class="header-wrap">
            <h1 class="brands d-inline-block">
                <a href="/">
                    <span class="logo text-hide">臺北醫學大學</span>
                    <small>演講活動宣傳申請</small>
                </a>
            </h1>
            <div class="account">
                <span class="name">username</span>
                <button type="button" class="logout">登出</button>
            </div>
        </div>
    </div>
</header>