<header class="header">
    <div class="container">
		<div class="header-wrap">
			<div class="brands">
				<a class="d-flex" href="/">
                    <div class="logo">
                        <img class="h1-logo" src="../assets/logo@2x.png" />
						<h1 class="h1-title">教育部</h1>
                    </div>
                    <div class="sub">公費留學考試筆試命題委員提名系統</div>
				</a>
			</div>
			<div class="account">
				<ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">您好 Mr.Suchart</a>
                        <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="#">登出</a>
                            <a class="dropdown-item" href="#">變更密碼</a>
                        </div>
                    </li>
				</ul>
			</div>
		</div>
    </div>
</header>