
<h3 class="border-title">委員名單登錄</h3>

<div class="board-detail">
	<ul class="menu-item item-detail">
		<li>編號 <span>1012B</span></li>
		<li>題號 <span>3B</span></li>
		<li>科目名稱 <span>國文作文</span></li>
	</ul>
</div>

<table class="table table-vertical-middle board-table">
    <thead>
        <tr>
            <th class="num">序號</th>
            <th>委員姓名</th>
            <th>服務單位</th>
            <th>系所名稱</th>
            <th></th>
        </tr>
    </thead>
	<tbody>
		<% (1..5).each do |n| %>
	    <tr>
		    <td class="num"><%= n %></td>
			<td><input type="text" id="exampleForm2" class="form-control"></td>
			<td>
                <select class="js-example-basic-single" name="state">
                  <option value="NSYU">國立中山大學</option>
                  <option value="NCNU">國立中正大學</option>
                  <option value="NCCU">國立政治大學</option>
                </select>
			</td>
			<td><input type="text" id="" class="form-control"></td>
			<td><a href="#" class="btn-delete" title="刪除"><i class="fa fa-times"></i></a></td>
		</tr>
		<% end %>
	</tbody>
</table>


<a href="#" class="add-btn">
	<span class="add-inner">
        <span class="btn-rounded waves-effect waves-light"><i class="fa fa-plus"></i> </span>
        <span class="text">新增一筆</span>
	</span>
</a>


































