<!-- OIA-ES: 申請 - Personal  -->

<div class="container">
    <div class="row">
		<div class="col-3">
		    <div class="sidenav">

				<ul class="collapsible collapsible-accordion" id="accordion" role="tablist" aria-multiselectable="true">
					<li class="menu-item has-sub menu-application">
						<div class="panel-heading" role="tab" id="headingOne">
							<a class="collapsible-header" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Application</a>
						</div>
						<div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
							<div class="panel-body">
								<ul class="sub-menu">
									<li><a href="#">Personal</a></li>
									<li><a href="#">Nationality</a></li>
									<li><a href="#">Exchange Information</a></li>
									<li><a href="#">Chinese Learning</a></li>
									<li><a href="#">Accommodation</a></li>
									<li><a href="#">Privacy</a></li>
									<li><a href="#">上傳繳交文件</a></li>
									<li><a href="#">設定推薦人</a></li>
									<li><a href="#">預覽及送出申請資料</a></li>
									<li><a href="#">入學繳交費用</a></li>
									<li><a href="#">審查結果公告</a></li>
								</ul>
							</div>
						</div>
					</li>
					<li class="menu-item has-sub menu-before">
						<div class="panel-heading" role="tab" id="headingTwo">
							<a class="collapsible-header collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">Before Arrival</a>
						</div>
						<div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
							<div class="panel-body">
								<ul class="sub-menu">
									<li><a href="#">123</a></li>
									<li><a href="#">123</a></li>
									<li><a href="#">123</a></li>
									<li><a href="#">123</a></li>
								</ul>
							</div>
						</div>
					</li>
					<li class="menu-item menu-after">
						<div class="panel-heading">
							<a class="collapsible-header collapsed" href="#">After Arrival</a>
						</div>
					</li>
					<li class="menu-item menu-leaving">
						<div class="panel-heading">
							<a class="collapsible-header collapsed" href="#">Leaving NTU</a>
						</div>
					</li>
				</ul>

			</div>
		</div>
		<div class="col-9">
		    <main class="main-block">
			    <h2>123</h2>
			</main>
		</div>
	</div>
</div>

<% content_for :js do %>
    <script>
		 $('.panel-collapse').on('show.bs.collapse', function() {
			 $(this).siblings('.panel-heading').addClass('active');
		 });

		 $('.panel-collapse').on('hide.bs.collapse', function() {
			 $(this).siblings('.panel-heading').removeClass('active');
		 });
    </script>
<% end %>