<!-- ntu: en 範本 -->

<%= render :partial => "/partials/title-wrapper-menu_en" %>

<div class="container-lg">
	<div class="dashboard-container">
	    
	    <div class="sidenav offcanvas-collapse">
			<div class="scrollbar-inner">
                <ul class="navigation menu-item">
                    <li><a class="nav-item" href="#">Application</a></li>
					<li><a class="nav-item" href="#">Exam results</a></li>
					<li><a class="nav-item current" href="#">Admission</a></li>
					<li><a class="nav-item" href="#">Registration Procedure</a></li>
					<li><a class="nav-item" href="#">Check in to upload</a></li>
                </ul>
			</div>
		</div>
	    <div id="widget-overlay"></div>
		
        <main class="main">
            <section class="section">
                <div class="section-title">
                    <h4 class="title">University admission</h4>
                </div>
				<div class="admission-well">
					<div class="item">
                        <span class="label">University admission</span>
                        <div class="h5">University of Victoria</div>
					</div>
					<div class="item">
                        <span class="label">Exchange period</span>
                        <div class="h5">One semester / Last semester</div>
					</div>
				</div>
            </section>
        </main>
	</div>
</div>


<% content_for :js do %>
    <!-- sidenav scrollbar -->
    <script src="../javascripts/jquery.scrollbar.min.js"></script>
    <script>
        jQuery(document).ready(function(){
            jQuery('.scrollbar-inner').scrollbar();
        });
	</script>

    <!-- sidenav open -->
	<script>
        (function () {
          'use strict'

          document.querySelector('#navbarSideCollapse').addEventListener('click', function () {
            document.querySelector('.offcanvas-collapse').classList.toggle('open')
          })
        })()
	</script>

    <!-- sidenav close -->
    <script>
        $("#widget-overlay").click(function(){
            $(".offcanvas-collapse").removeClass("open");
        });
	</script>
<% end %>