<!-- admin-page: 網站管理 - 活動公告 -->
<%= render :partial => "/partials/admin_breadcrumb" %>

<main class="main">
    <div class="page-header">
		<h2>活動公告</h2>
    </div>
    <div class="management-wrapper">
        <div class="management-bar">
			<button type="button" class="btn btn-md btn-outline-default btn-rounded unshadow waves-effect">新增公告</button>
            <div class="ml-auto">
                <div class="language-btn-group d-inline-block">
                    <span class="text-preview">語系</span>
                    <div class="btn-group btn-group-sm btn-flex-group unshadow">
                        <a href="#" class="btn btn-default current">中文</a>
                        <a href="#" class="btn btn-default">英文</a>
                        <a href="#" class="btn btn-default">日文</a>
                    </div>
                </div>
            </div>
        </div>
		<div class="management-announcement">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">標題</th>
                        <th scope="col">最後更新</th>
                        <th scope="col">操作人員</th>
						<th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>因應秋冬COVID-19疫情防治專案</td>
                        <td>2021-07-02 12:00</td>
                        <td>Scarlett Johansson</td>
						<td class="text-right">
						    <a href="#" class="btn btn-sm btn-info font-default">編輯</a>
							<a href="#" class="btn btn-sm btn-danger font-default">刪除</a>
						</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>推動社會住宅（第二階段）</td>
                        <td>2021-07-02 12:00</td>
                        <td>科林約斯特</td>
						<td class="text-right">
						    <a href="#" class="btn btn-sm btn-info font-default">編輯</a>
							<a href="#" class="btn btn-sm btn-danger font-default">刪除</a>
						</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>婦女節禮物！綠委、民團高喊保障女性3大法案優先</td>
                        <td>2021-07-02 12:00</td>
                        <td>萊恩雷諾斯</td>
						<td class="text-right">
						    <a href="#" class="btn btn-sm btn-info font-default">編輯</a>
							<a href="#" class="btn btn-sm btn-danger font-default">刪除</a>
						</td>
                    </tr>
                </tbody>
            </table>
		</div>
    </div>
</main>



<% content_for :js do %>

<% end %>
