<!-- admin-page: 網站管理 - 啟用功能 -->
<%= render :partial => "/partials/admin_breadcrumb" %>

<main class="main">
    <div class="page-header">
		<h2>啟用功能</h2>
        <p>活動報名的各區塊啟用設定，您可以直接在預覽頁面直接移除您不需要的區塊，或是透過左側的啟用功能設定區塊的啟用或關閉。</p>
        <p class="text-danger">iframe 高度應該和佈景主題同高 (iframe不出現卷軸)<p>
    </div>
    <div class="management-wrapper">
		<div class="enable-container">
		    <div class="switchbar">
				<p class="switchbar-hd"><span class="switch-pill"></span>為必要區塊不得關閉</p>
                <ul class="menu-switch-item menu-item">
                    <li>
                        <input type="checkbox" id="b-switch-1" checked disabled/>
                        <label for="b-switch-1">圖片輪播</label>
                    </li>
                    <li>
                        <input type="checkbox" id="b-switch-2" />
                        <label for="b-switch-2">公告訊息</label>
                    </li>
                    <li>
                        <input type="checkbox" id="b-switch-3" checked disabled/>
                        <label for="b-switch-3">活動介紹</label>
                    </li>
                    <li>
                        <input type="checkbox" id="b-switch-4" />
                        <label for="b-switch-4">常見問題</label>
                    </li>
                    <li>
                        <input type="checkbox" id="b-switch-5" />
                        <label for="b-switch-5">相關連結</label>
                    </li>
                    <li>
                        <input type="checkbox" id="b-switch-6" />
                        <label for="b-switch-6">檔案下載</label>
                    </li>
                    <li>
                        <input type="checkbox" id="b-switch-7" />
                        <label for="b-switch-7">Youtube 影片</label>
                    </li>
                    <li>
                        <input type="checkbox" id="b-switch-8" />
                        <label for="b-switch-8">活動地圖</label>
                    </li>
                </ul>
				<div class="px-2 py-2">
					<button type="button" class="btn btn-lg btn-block btn-primary">儲存</button>
				</div>
			</div>
			<div class="immediate-wrapper">
			    <div class="management-bar">
				    <button type="button" class="btn btn-md btn-outline-default btn-rounded unshadow waves-effect" data-toggle="modal" data-target="#themeModal">更換背景主題</button>
					<div class="ml-auto">
						<div class="preview-btn-group d-inline-block">
							<span class="text-preview">預覽</span>
                            <div class="btn-group btn-group-sm btn-flex-group unshadow">
                                <a href="#" class="btn btn-angel">
                                    <i class="fa fa-desktop"></i>
                                    <span>網頁版</span>
                                </a>
                                <a href="#" class="btn btn-angel">
                                    <i class="fa fa-mobile"></i>
                                    <span>手機版</span>
                                </a>
                            </div>
                        </div>
                        <div class="language-btn-group d-inline-block">
							<span class="text-preview">語系</span>
                            <div class="btn-group btn-group-sm btn-flex-group unshadow">
                                <a href="#" class="btn btn-default current">中文</a>
                                <a href="#" class="btn btn-default">英文</a>
								<a href="#" class="btn btn-default">日文</a>
                            </div>
                        </div>
					</div>
				</div>
				<div class="immediate-inner">
					<iframe id="mainiframe" width="100%" height="600" src="http://jesda.art.dev.com.tw/ocac/website/theme/theme_four.html"  frameborder="0" scrolling="auto"></iframe>
				</div>
			</div>
		</div>
    </div>
</main>



<% content_for :js do %>

<% end %>
