<!-- admin-page: 報名設定 - webEditor 外框 -->

<%= render :partial => "/partials/admin_breadcrumb" %>

<main class="main">
    <div class="page-header">
        <h2>活動介紹編輯</h2>
        <p>編輯活動介紹說明，可由右側選單取得要插入的元件。</p>
    </div>
    <div class="col-block">
        <div class="block-content padding-off">
            <div class="formeditor-action-wrap">
                <div class="group-left"><!-- 此空白 div 一定要留著，原本規劃的回網站首頁跟 sidenav 重複不需要放，在操作流程上也沒有暗示使用者倒退的必要性 --></div>
                <div class="group-right language-side">
                    <span class="text-muted">請選擇語系</span>
                    <div class="d-inline-block ml-1">
                        <select class="browser-default custom-select">
                            <option value="中文">中文</option>
                            <option value="English">English</option>
                            <option value="日本語">日本語</option>
                            <option value="Deutsche">Deutsche</option>
                        </select>
                    </div>
                </div>
            </div>
            <div
                id="web_editor"
                data-cbdata='{"api": "http://ocac-event-registration.dev.com.tw:10000/default/field.group/web.edit.api/", "uploadApi": "http://ocac-event-registration.dev.com.tw:10000/field.group/form.design.upload.api","applySn" : "1","languageKey" : "CH","theme": "http://jesda.art.dev.com.tw/ocac/website/stylesheets/theme_one.css","dev": true}'
            ></div>
        </div>
    </div>
</main>

<% content_for :js do %>
    
<% end %>
