<!-- template: 消息公告 - 列表 -->

<%= render :partial => "/partials/breadcrumb" %>

<div class="page-content" id="maincontent">
    <div class="container-xl">
        <div class="section-title">
            <h3>消息公告<i></i><i></i></h3>
            <div class="input-group">
                <input type="text" class="form-control" placeholder="請輸入關鍵字" aria-label="Recipient's username" aria-describedby="button-addon2" />
                <button class="btn btn-outline-secondary" type="button" id="button-addon2">
                    <i class="fas fa-search"></i>
                    <span class="sr-only">搜尋</span>
                </button>
            </div>
        </div>
        <div class="announcement-wrapper">
            <div class="wrapper-inner">
                <div class="wrapper-nav">
                    <ul class="nav nav-tabs" id="announcementTab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="all-tab" data-bs-toggle="tab" data-bs-target="#all-tab-pane" type="button" role="tab" aria-controls="all-tab-pane" aria-selected="true">全部</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="a1-tab" data-bs-toggle="tab" data-bs-target="#a1-tab-pane" type="button" role="tab" aria-controls="a1-tab-pane" aria-selected="false">最新消息</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="a2-tab" data-bs-toggle="tab" data-bs-target="#a2-tab-pane" type="button" role="tab" aria-controls="a2-tab-pane" aria-selected="false">招募新聞</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="a3-tab" data-bs-toggle="tab" data-bs-target="#a3-tab-pane" type="button" role="tab" aria-controls="a3-tab-pane" aria-selected="false">組織與導師故事</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="a4-tab" data-bs-toggle="tab" data-bs-target="#a4-tab-pane" type="button" role="tab" aria-controls="a4-tab-pane" aria-selected="false">活動亮點</button>
                        </li>
                    </ul>
                </div>
                <div class="wrapper-content">
                    <div class="tab-content" id="announcementTabContent">


                        <div class="tab-pane fade show active" id="all-tab-pane" role="tabpanel" aria-labelledby="all-tab" tabindex="0">

                            <ul class="menu-item announcement-list">
                                <li class="list-item">
                                    <a href="#" class="announcement-link" title="{連結名稱}">
                                        <div class="date">
                                            <span class="start">25</span>
                                            <span class="end">
                                                <span class="month">February</span>
                                                <span class="year">2024</span>
                                            </span>
                                        </div>
                                        <div class="list-title">臺大推引路人計畫 讓國際生企業實習留臺工作</div>
                                        <span class="list-icon">
                                            <img src="../assets/arrow-right.svg" alt="Arrow right">
                                        </span>
                                    </a>
                                </li>
                                <li class="list-item">
                                    <a href="#" class="announcement-link" title="{連結名稱}">
                                        <div class="date">
                                            <span class="start">19</span>
                                            <span class="end">
                                                <span class="month">January</span>
                                                <span class="year">2024</span>
                                            </span>
                                        </div>
                                        <div class="list-title">臺大每年有70國超過3千名國際生在校學習，許多國際生畢業後想留臺工作</div>
                                        <span class="list-icon">
                                            <img src="../assets/arrow-right.svg" alt="Arrow right">
                                        </span>
                                    </a>
                                </li>
                                <% (1..8).map do |i| %>
                                <li class="list-item">
                                    <a href="#" class="announcement-link" title="{連結名稱}">
                                        <div class="date">
                                            <span class="start">06</span>
                                            <span class="end">
                                                <span class="month">December</span>
                                                <span class="year">2023</span>
                                            </span>
                                        </div>
                                        <div class="list-title">引路人計畫是讓有經驗的前輩像師徒一般實際帶領同學</div>
                                        <span class="list-icon">
                                            <img src="../assets/arrow-right.svg" alt="Arrow right">
                                        </span>
                                    </a>
                                </li>
                                <% end %>
                            </ul>

                            <nav aria-label="...">
                                <ul class="pagination justify-content-end">
                                    <li class="page-item disabled">
                                        <a class="page-link"><span aria-hidden="true">&laquo;</span></a>
                                    </li>
                                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                                    <li class="page-item active" aria-current="page">
                                        <a class="page-link" href="#">2</a>
                                    </li>
                                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                                    <li class="page-item">
                                        <a class="page-link" href="#"><span aria-hidden="true">&raquo;</span></a>
                                    </li>
                                </ul>
                            </nav>
                        </div>


                        <div class="tab-pane fade" id="a1-tab-pane" role="tabpanel" aria-labelledby="a1-tab" tabindex="0">最新消息</div>
                        <div class="tab-pane fade" id="a2-tab-pane" role="tabpanel" aria-labelledby="a2-tab" tabindex="0">招募新聞</div>
                        <div class="tab-pane fade" id="a3-tab-pane" role="tabpanel" aria-labelledby="a3-tab" tabindex="0">組織與導師故事</div>
                        <div class="tab-pane fade" id="a4-tab-pane" role="tabpanel" aria-labelledby="a4-tab" tabindex="0">活動亮點</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<% content_for :js do %>

<% end %>

