<footer class="footer">
    <div class="footer-inner">
		<div class="container">
            <div class="general-content">
                <a accesskey="Z" href="#" class="sr-only "title="下方選單連結">:::</a>
                <ul class="menu-item general-links">
                    <li><a href="#" title="隱私權與資訊安全政策">隱私權與資訊安全政策</a></li>
                    <li><a href="#" title=學務處"">學務處</a></li>
                    <li><a href="#" title="網站檢索">網站檢索</a></li>
                    <li><a href="#" title="行政人員後台登入">登入</a></li>
                </ul>
                <ul class="menu-item contact">
                    <li><i class="fa fa-map-marker" title="地址"></i> 10617臺北市羅斯福路四段一號</li>
                    <li><i class="fa fa-envelope" title="信箱"></i> <a href="mailto:activity@ntu.edu.tw">activity@ntu.edu.tw</a></li>
                    <li><i class="fa fa-phone" title="聯絡電話"></i> 02-33662066</li>
                    <li><i class="fa fa-fax" title="傳真"></i> 02-23661952</li>
                </ul>
            </div>
            <div class="custom">
                <ul class="menu-item custom-links">
                    <li><a href="#" title="社團活動資訊系統">社團活動資訊系統</a></li>
                    <li><a href="#" title="服務學習">服務學習</a></li>
                    <li><a href="#" title="新生學習入門書院">新生學習入門書院</a></li>
                    <li><a href="#" title="全球集思論壇">全球集思論壇</a></li>
                    <li><a href="#" title="海報布旗欄位系統(學生社團)">海報布旗欄位系統(學生社團)</a></li>
                    <li><a href="#" title="海報布旗欄位系統(行政及學術單位)">海報布旗欄位系統(行政及學術單位)</a></li>
                </ul>
            </div>
            <div class="custom">
                <ul class="menu-item custom-links">
                    <li><a href="#" title="臺大帳務系統">臺大帳務系統</a></li>
                    <li><a href="#" title="事務組">事務組</a></li>
                </ul>
            </div>
            <div class="custom">
                <ul class="menu-item custom-icon">
                    <li><a href="#" class="icon-ft" title="myNTU 臺大人入口網"><img src="../assets/icon-myntu_ft@2x.png" alt="myNTU 臺大人入口網" title="myNTU 臺大人入口網"></a></li>
                    <li><a href="#" class="icon-ft" title="課外活動指導組 Facebook 紛絲頁"><img src="../assets/icon-facebook_ft@2x.png" class="fb" alt="課外活動指導組 Facebook 紛絲頁" title="課外活動指導組 Facebook 紛絲頁"></a></li>
                </ul>
            </div>
		</div>
    </div>
    <div class="footer-bt">
		<div class="container">
            <div class="footer-data">
                <p>瀏覽器建議 Chrome、Mozilla Firefox、IE11+</p>
                <p>最後更新日期 2019-05-01 13:39</p>
                <p>瀏覽人數 5678126</p>
            </div>
            <address>本網站著作權屬於國立臺灣大學 學生事務處</address>
		</div>
    </div>
</footer>
