
/* `Theme
-----------------------------------------------------------------------------*/

.theme-program {
    header.header {
        background: $theme_program;
    }
    a {
        color: $theme_program;
        &:hover { color: darken($theme_program, 20); }
    }
    .btn-primary {
        background-color: $theme_program;
        border-color: $theme_program;
        color: #fff;
        &:hover, &:active, &:focus {
            background-color: darken($theme_program, 15) !important;
            border-color: darken($theme_program, 15) !important;
        }
    }
    .btn-outline-primary {
        border-color: $theme_program;
        color: $theme_program;
        &:hover, &:active, &:focus {
            background-color: darken($theme_program, 15) !important;
            border-color: darken($theme_program, 15) !important;
            color: #fff !important;
        }
    }
    #backtop { background-color: $theme_program; }
    .page-title {
        h3:after, h3 span:after { background: $theme_program; }
    }
    .main .page-title h3:after { background: $theme_program; }
    .page-link.active, .active > .page-link {
        background: $theme_program;
        border-color: $theme_program;
        &:hover { color: #fff; }
    }
    .events-list-wrapper {
        .item-link:hover { background: $theme_program; }
    }
    .page-content .content-title h2:before {
        background: $theme_program;
    }
    .hamburger .line { background-color: $theme_program; }
    .side-navigation .nav-item.current, .side-navigation .nav-item.current:hover {
        background: $theme_program;
    }
    .side-navigation .nav-item { border-color: $theme_program; }
    .courses-menu .courses-link:hover {
        .courses-title { color: $theme_program; }
        .courses-title:after { background: $theme_program; }
    }
}

.theme-family {
    header.header {
        background: $theme_family;
    }
    a {
        color: $theme_family;
        &:hover { color: darken($theme_family, 20); }
    }
    .btn-primary {
        background-color: $theme_family;
        border-color: $theme_family;
        color: #fff;
        &:hover, &:active, &:focus {
            background-color: darken($theme_family, 15) !important;
            border-color: darken($theme_family, 15) !important;
        }
    }
    .btn-outline-primary {
        border-color: $theme_family;
        color: $theme_family;
        &:hover, &:active, &:focus {
            background-color: darken($theme_family, 15) !important;
            border-color: darken($theme_family, 15) !important;
            color: #fff !important;
        }
    }
    #backtop { background-color: $theme_family; }
    .page-title {
        h3:after, h3 span:after { background: $theme_family; }
    }
    .main .page-title h3:after { background: $theme_family; }
    .page-link.active, .active > .page-link {
        background: $theme_family;
        border-color: $theme_family;
        &:hover { color: #fff; }
    }
    .events-list-wrapper {
        .item-link:hover { background: $theme_family; }
    }
    .page-content .content-title h2:before {
        background: $theme_family;
    }
    .hamburger .line { background-color: $theme_family; }
    .side-navigation .nav-item.current, .side-navigation .nav-item.current:hover {
        background: $theme_family;
    }
    .side-navigation .nav-item { border-color: $theme_family; }
    .courses-menu .courses-link:hover {
        .courses-title { color: $theme_family; }
        .courses-title:after { background: $theme_family; }
    }
}

.theme-student {
    header.header {
        background: $theme_student;
    }
    a {
        color: $theme_student;
        &:hover { color: darken($theme_student, 20); }
    }
    .btn-primary {
        background-color: $theme_student;
        border-color: $theme_student;
        color: #fff;
        &:hover, &:active, &:focus {
            background-color: darken($theme_student, 15) !important;
            border-color: darken($theme_student, 15) !important;
        }
    }
    .btn-outline-primary {
        border-color: $theme_student;
        color: $theme_student;
        &:hover, &:active, &:focus {
            background-color: darken($theme_student, 15) !important;
            border-color: darken($theme_student, 15) !important;
            color: #fff !important;
        }
    }
    #backtop { background-color: $theme_student; }
    .page-title {
        h3:after, h3 span:after { background: $theme_student; }
    }
    .main .page-title h3:after { background: $theme_student; }
    .page-link.active, .active > .page-link {
        background: $theme_student;
        border-color: $theme_student;
        &:hover { color: #fff; }
    }
    .events-list-wrapper {
        .item-link:hover { background: $theme_student; }
    }
    .page-content .content-title h2:before {
        background: $theme_student;
    }
    .hamburger .line { background-color: $theme_student; }
    .side-navigation .nav-item.current, .side-navigation .nav-item.current:hover {
        background: $theme_student;
    }
    .side-navigation .nav-item { border-color: $theme_student; }
    .courses-menu .courses-link:hover {
        .courses-title { color: $theme_student; }
        .courses-title:after { background: $theme_student; }
    }
}

.theme-university {
    header.header {
        background: $theme_university;
    }
    a {
        color: $theme_university;
        &:hover { color: darken($theme_university, 20); }
    }
    .btn-primary {
        background-color: $theme_university;
        border-color: $theme_university;
        color: #fff;
        &:hover, &:active, &:focus {
            background-color: darken($theme_university, 15) !important;
            border-color: darken($theme_university, 15) !important;
        }
    }
    .btn-outline-primary {
        border-color: $theme_university;
        color: $theme_university;
        &:hover, &:active, &:focus {
            background-color: darken($theme_university, 15) !important;
            border-color: darken($theme_university, 15) !important;
            color: #fff !important;
        }
    }
    #backtop { background-color: $theme_university; }
    .page-title {
        h3:after, h3 span:after { background: $theme_university; }
    }
    .main .page-title h3:after { background: $theme_university; }
    .page-link.active, .active > .page-link {
        background: $theme_university;
        border-color: $theme_university;
        &:hover { color: #fff; }
    }
    .events-list-wrapper {
        .item-link:hover { background: $theme_university; }
    }
    .page-content .content-title h2:before {
        background: $theme_university;
    }
    .hamburger .line { background-color: $theme_university; }
    .side-navigation .nav-item.current, .side-navigation .nav-item.current:hover {
        background: $theme_university;
    }
    .side-navigation .nav-item { border-color: $theme_university; }
    .courses-menu .courses-link:hover {
        .courses-title { color: $theme_university; }
        .courses-title:after { background: $theme_university; }
    }
}

.theme-matchbox {
    header.header {
        background: $theme_matchbox;
    }
    a {
        color: $theme_matchbox;
        &:hover { color: darken($theme_matchbox, 20); }
    }
    .btn-primary {
        background-color: $theme_matchbox;
        border-color: $theme_matchbox;
        color: #fff;
        &:hover, &:active, &:focus {
            background-color: darken($theme_matchbox, 15) !important;
            border-color: darken($theme_matchbox, 15) !important;
        }
    }
    .btn-outline-primary {
        border-color: $theme_matchbox;
        color: $theme_matchbox;
        &:hover, &:active, &:focus {
            background-color: darken($theme_matchbox, 15) !important;
            border-color: darken($theme_matchbox, 15) !important;
            color: #fff !important;
        }
    }
    #backtop { background-color: $theme_matchbox; }
    .page-title {
        h3:after, h3 span:after { background: $theme_matchbox; }
    }
    .main .page-title h3:after { background: $theme_matchbox; }
    .page-link.active, .active > .page-link {
        background: $theme_matchbox;
        border-color: $theme_matchbox;
        &:hover { color: #fff; }
    }
    .events-list-wrapper {
        .item-link:hover { background: $theme_matchbox; }
    }
    .page-content .content-title h2:before {
        background: $theme_matchbox;
    }
    .hamburger .line { background-color: $theme_matchbox; }
    .side-navigation .nav-item.current, .side-navigation .nav-item.current:hover {
        background: $theme_matchbox;
    }
    .side-navigation .nav-item { border-color: $theme_matchbox; }
    .courses-menu .courses-link:hover {
        .courses-title { color: $theme_matchbox; }
        .courses-title:after { background: $theme_matchbox; }
    }
}

.theme-qa {
    header.header {
        background: $theme_qa;
    }
    a {
        color: $theme_qa;
        &:hover { color: darken($theme_qa, 20); }
    }
    .btn-primary {
        background-color: $theme_qa;
        border-color: $theme_qa;
        color: #fff;
        &:hover, &:active, &:focus {
            background-color: darken($theme_qa, 15) !important;
            border-color: darken($theme_qa, 15) !important;
        }
    }
    .btn-outline-primary {
        border-color: $theme_qa;
        color: $theme_qa;
        &:hover, &:active, &:focus {
            background-color: darken($theme_qa, 15) !important;
            border-color: darken($theme_qa, 15) !important;
            color: #fff !important;
        }
    }
    #backtop { background-color: $theme_qa; }
    .page-title {
        h3:after, h3 span:after { background: $theme_qa; }
    }
    .main .page-title h3:after { background: $theme_qa; }
    .page-link.active, .active > .page-link {
        background: $theme_qa;
        border-color: $theme_qa;
        &:hover { color: #fff; }
    }
    .events-list-wrapper {
        .item-link:hover { background: $theme_qa; }
    }
    .page-content .content-title h2:before {
        background: $theme_qa;
    }
    .hamburger .line { background-color: $theme_qa; }
    .side-navigation .nav-item.current, .side-navigation .nav-item.current:hover {
        background: $theme_qa;
    }
    .side-navigation .nav-item { border-color: $theme_qa; }
}



