<footer class="footer">
	<div class="container-lg">
		<div class="footer-inner">
			<div class="block-transition">
                <div class="ft-block central-content">
                    <h5>10617 臺北市大安區羅斯福路四段一號</h5>
                    <p class="mb-0">辦公室位置：</p>
                    <ul class="menu-item contact">
                        <li>動產股（財產貼牌,學位服）：展書樓1樓 <a href="#">（位置圖）</a></li>
                        <li>電話：02-33665071 FAX：02-23633935（動產相關規定請先參考<a href="#">（常見問題）</a>）</li>
                        <li>房地股：行政大樓305室</a></li>
                        <li>電話：02-33663433 FAX：02-23629012</li>
                    </ul>
                </div>
			</div>
            <div class="ft-block end-content">
                <address>臺灣大學總務處 版權所有</address>
            </div>
		</div>
	</div>
</footer>