<!-- ntu: 上傳檔案 -->

<%= render :partial => "/partials/title-wrapper-menu" %>

<div class="container-lg">
	<div class="dashboard-container">
		
	    <div class="sidenav offcanvas-collapse">
			<div class="scrollbar-inner">
                <ul class="navigation menu-item">
                    <li><a class="nav-item" href="#">檢視申請表</a></li>
                    <li><a class="nav-item" href="#">修改申請表</a></li>
					<li><a class="nav-item current" href="#">上傳作業</a></li>
					<li><a class="nav-item" href="#">甄試成績</a></li>
                </ul>
			</div>
		</div>
	    <div id="widget-overlay"></div>
		
		<main class="main">
            <div class="page-caption">
				<h5>注意事項</h5>
                <ol>
				    <li>上傳提醒：因為頁面載量限制，請<span class="text-danger">一次上傳一項資料</span>以確保上傳順利。</li>
					<li>使用IE瀏覽器如果檔案無法上傳，請至網際網路選項將安全性調低。</li>
					<li>系統有儲存功能，檔案上傳成功後會自動存檔。</li>
					<li>上傳作業可分多次完成，但請留意，須完成繳費且所有應繳文件皆上傳成功，送出申請後才算報名成功。報名成功者信箱會收到 <span class="text-danger">報名完成通知信</span>。</li>
				</ol>
            </div>
			<section class="section">
                <div class="section-title">
                    <h4 class="title">上傳照片</h4>
                </div>
				<p>一年內二吋正面脫帽半身相片(寬度100 x 高度140像素)，限為JPG格式，圖檔尺寸如果大於 100 x 140 像素，系統會自動產生縮圖。</p>
				<p>請直接使用相片原始電子檔，勿將相片掃描後再上傳！</p>
				<div class="form-group">
					<label class="form-label fw-bold">脫帽半身照 <a class="format-info" href="#" title="格式參考"></a></label>
                    <div class="input-group">
                        <input type="file" class="form-control" id="inputGroupFile00" aria-describedby="inputGroupFileAddon00" aria-label="Upload" />
                        <button class="btn btn-outline-secondary" type="button" id="inputGroupFileAddon00">上傳</button>
                    </div>
				</div>
			</section>
			
			<section class="section">
                <div class="section-title">
                    <h4 class="title">身分證/護照/入臺證、學生證正面影本</h4>
                </div>
				<p>限為 jpg 格式，圖檔尺寸如果大於 300 x 225 像素，系統會自動產生縮圖。</p>
				<p>請掃描證件後再行上傳，請勿使用手機照相功能上傳檔案。</p>
				<div class="form-group">
					<label class="form-label fw-bold">學生證正面 <a class="format-info" href="#" title="格式參考"></a></label>
                    <div class="input-group">
                        <input type="file" class="form-control" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01" aria-label="Upload" />
                        <button class="btn btn-outline-secondary" type="button" id="inputGroupFileAddon01">上傳</button>
                    </div>
				</div>
				<div class="form-group">
					<label class="form-label fw-bold">身分證正面 <a class="format-info" href="#" title="格式參考"></a></label>
                    <div class="input-group">
                        <input type="file" class="form-control" id="inputGroupFile02" aria-describedby="inputGroupFileAddon02" aria-label="Upload" />
                        <button class="btn btn-outline-secondary" type="button" id="inputGroupFileAddon02">上傳</button>
                    </div>
				</div>
				<div class="form-group">
					<label class="form-label fw-bold">身分證反面 <a class="format-info" href="#" title="格式參考"></a></label>
                    <div class="input-group">
                        <input type="file" class="form-control" id="inputGroupFile03" aria-describedby="inputGroupFileAddon03" aria-label="Upload" />
                        <button class="btn btn-outline-secondary" type="button" id="inputGroupFileAddon03">上傳</button>
                    </div>
				</div>
			</section>
			
			<section class="section">
                <div class="section-title">
                    <h4 class="title">履歷表、出國交換計畫書 、論文發表清單</h4>
                </div>
				<p>履歷表及出國交換計畫書兩者皆限A4兩張，以pdf檔上傳。 研究生可另不限張數上傳論文發表清單 (檔案上限1024M)</p>
				<div class="form-group">
					<label class="form-label fw-bold">履歷表 <a class="format-info" href="#" title="格式參考"></a></label>
                    <div class="input-group">
                        <input type="file" class="form-control" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04" aria-label="Upload" />
                        <button class="btn btn-outline-secondary" type="button" id="inputGroupFileAddon04">上傳</button>
                    </div>
				</div>
				<div class="form-group">
					<label class="form-label fw-bold">出國交換計畫書 <a class="format-info" href="#" title="格式參考"></a></label>
                    <div class="input-group">
                        <input type="file" class="form-control" id="inputGroupFile05" aria-describedby="inputGroupFileAddon05" aria-label="Upload" />
                        <button class="btn btn-outline-secondary" type="button" id="inputGroupFileAddon05">上傳</button>
                    </div>
				</div>
				<div class="form-group">
					<label class="form-label fw-bold">論文發表清單</label>
                    <div class="input-group">
                        <input type="file" class="form-control" id="inputGroupFile06" aria-describedby="inputGroupFileAddon06" aria-label="Upload" />
                        <button class="btn btn-outline-secondary" type="button" id="inputGroupFileAddon06">上傳</button>
                    </div>
					<div class="form-text">非必繳文件</div>
				</div>
			</section>
			
			<section class="section">
                <div class="section-title">
                    <h4 class="title">成績證明</h4>
                </div>
				<p>限為 PDF 格式，檔案上限 1024MB，文件須為 A4 大小。</p>
				<p><span class="text-danger">碩一生</span>須同時上傳大學歷年成績單，<span class="text-danger">博一生</span>須同時上傳碩士歷年成績單。</p>
				<div class="form-group">
					<label class="form-label fw-bold">歷年成績單 <a class="format-info" href="#" title="格式參考"></a></label>
                    <div class="input-group">
                        <input type="file" class="form-control" id="inputGroupFile07" aria-describedby="inputGroupFileAddon07" aria-label="Upload" />
                        <button class="btn btn-outline-secondary" type="button" id="inputGroupFileAddon07">上傳</button>
                    </div>
					<div class="form-text">須含當學期修課科目</div>
				</div>
			</section>
			
			<section class="section">
                <div class="section-title">
                    <h4 class="title">語言能力證明</h4>
                </div>
				<p>限為 PDF 格式，檔案上限 1024MB，文件須為 A4 大小。</p>
				<div class="form-group">
					<label class="form-label fw-bold">英語  全民英檢(GEPT) <a class="format-info" href="#" title="格式參考"></a></label>
                    <div class="input-group">
                        <input type="file" class="form-control" id="inputGroupFile08" aria-describedby="inputGroupFileAddon08" aria-label="Upload" />
                        <button class="btn btn-outline-secondary" type="button" id="inputGroupFileAddon08">上傳</button>
                    </div>
				</div>
			</section>
			
			<section class="section">
                <div class="section-title">
                    <h4 class="title">系所推薦表</h4>
                </div>
				<p>請將系統自動產生之系所推薦表印出，完成簽章後掃描上傳。系所推薦表 (本推薦表需於上傳照片/學生證正面/身分證正反面或護照或入臺證，才可產生列印)</p>
				<p>限為 PDF 格式，檔案上限 1024MB，文件須為 A4 大小。</p>
				<div class="form-group">
					<label class="form-label fw-bold">系所推薦表</label>
                    <div class="input-group">
                        <input type="file" class="form-control" id="inputGroupFile09" aria-describedby="inputGroupFileAddon09" aria-label="Upload" />
                        <button class="btn btn-outline-secondary" type="button" id="inputGroupFileAddon09">上傳</button>
                    </div>
				</div>
			</section>
			
			<section class="section">
                <div class="section-title">
                    <h4 class="title">指導教授推薦信1封</h4>
                </div>
				<p>請複製下方網址寄送給指導教授，並請指導教授線上填寫或上傳指導教授推薦表</p>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" value="http://ntu.eason.dev.com.tw/OutgoingExchange/html/index.php/pf.rc/online/s_no/E005/p_id/a76df57407875" aria-describedby="button-addon2" readonly="readonly" />
                    <button class="btn btn-outline-secondary" type="button" id="button-addon2">複製</button>
                </div>
			</section>
			
			<section class="section">
                <div class="section-title">
                    <h4 class="title">報名費繳費收據</h4>
                </div>
				<div class="awell">
                    <p>請將系統自動產生之報名費繳費單印出，完成繳費後將收據上傳。</p>
					<div>
						<button class="btn btn-sm btn-success" type="button"><i class="fas fa-print"></i> 列印</button>
						<span class="d-inline-block ms-1">報名費繳費單</span>
					</div>
                </div>
				<p>限為 PDF 格式，檔案上限 1024MB，文件須為 A4 大小。</p>
				<div class="form-group">
					<label class="form-label fw-bold">報名費繳費收據</label>
                    <div class="input-group">
                        <input type="file" class="form-control" id="inputGroupFile09" aria-describedby="inputGroupFileAddon09" aria-label="Upload" />
                        <button class="btn btn-outline-secondary" type="button" id="inputGroupFileAddon09">上傳</button>
                    </div>
				</div>
			</section>
			
			<section class="section">
                <div class="section-title">
                    <h4 class="title">注意事項</h4>
                </div>
                <div class="form-group mt-4">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="exCheck10" />
                        <label class="form-check-label" for="exCheck10">
                            我確認我已詳閱並同意遵守 111學年度（2022/2023 年度）第 2 學期 出國交換學生甄選簡章規定
                        </label>
                    </div>
                </div>
			</section>
			<div class="form-action">
			    <button type="submit" class="btn btn-lg btn-ntu">送出</button>
			</div>
		</main>
	</div>
</div>


<% content_for :js do %>
    <!-- sidenav scrollbar -->
    <script src="../javascripts/jquery.scrollbar.min.js"></script>
    <script>
        jQuery(document).ready(function(){
            jQuery('.scrollbar-inner').scrollbar();
        });
	</script>

    <!-- sidenav open -->
	<script>
        (function () {
          'use strict'

          document.querySelector('#navbarSideCollapse').addEventListener('click', function () {
            document.querySelector('.offcanvas-collapse').classList.toggle('open')
          })
        })()
	</script>

    <!-- sidenav close -->
    <script>
        $("#widget-overlay").click(function(){
            $(".offcanvas-collapse").removeClass("open");
        });
	</script>
<% end %>