<!-- NCTU-Scholarship: 通訊資料驗證  -->

<div class="container">
	<hgroup class="mb-4">
		<h4><%= lorem_sentence %></h4>
		<h6>請先驗證您的聯絡方式，可選擇電子郵件或手機</h6>
	</hgroup>
	<div class="block">
		<h5 class="block-hd">申請人</h5>
		<div class="form-row">
			<div class="form-group col-6">
				<div class="row">
					<label class="col-3 col-form-label">英文全名</label>
					<div class="col-9">
						<div class="mt-2">MIK WANUL KHOSIIN</div>
					</div>  
				</div>
			</div>
			<div class="form-group col-6">
				<div class="row">
					<label class="col-3 col-form-label">中文全名</label>
					<div class="col-9">
						<div class="mt-2">柯米克</div>
					</div> 
				</div>
			</div>
		</div>
		<div class="form-row">
			<div class="form-group col-6">
				<div class="row">
					<label class="col-3 col-form-label">系所</label>
					<div class="col-9">
						<div class="mt-2">工學院 土木工程系 ２ 年級</div>
					</div>  
				</div>
			</div>
		</div>
	</div>
	
	<form>
		<div class="block">
			<h5 class="block-hd">電子郵件驗證 <small>可任選一種電子郵件或手機號碼驗證</small></h5>
			<p>電子郵件，請確認您的郵件地址，確認無誤後按下寄送驗證信件，點選郵件連結後，即可開始申請。</p>
			<div class="form-row align-items-center">
				<div class="col-3">
					<input type="text" class="form-control mb-2" id="inlineFormInput" placeholder="mikwanulkhosiin@gmail.com">
				</div>
				<div class="col-auto">
					<button type="submit" class="btn btn-sm btn-mdb-color mt-0">寄送驗證郵件</button>
				</div>
			</div>
		</div>
		
		<div class="block">
			<h5 class="block-hd">手機號碼驗證 <small>可任選一種電子郵件或手機號碼驗證</small></h5>
			<p>手機號碼，請確認您的手機號碼，確認無誤後按下發送驗證簡訊，輸入簡訊驗證碼後，即可開始申請。</p>
			<div class="form-row align-items-center">
				<div class="col-3">
					<input type="text" class="form-control mb-2" id="inlineFormInput2" placeholder="0965485658">
				</div>
				<div class="col-auto">
					<button type="submit" class="btn btn-sm btn-mdb-color mt-0">發送驗證簡訊</button>
				</div>
			</div>
			<p class="mt-4">請輸入簡訊上的驗證碼，錯誤次數最多 5 次，簡訊驗證次數最多 3 次。</p>
			<div class="form-row align-items-center">
				<div class="col-2">
					<input type="text" class="form-control mb-2" id="inlineFormInput3" placeholder="">
				</div>
				<div class="col-auto">
					<button type="submit" class="btn btn-sm btn-mdb-color mt-0">確認驗證碼</button>
				</div>
			</div>
		</div>
		<div class="text-center">
			<a href="step1.html" class="btn btn-default mr-5">開始申請</a>
			<a href="overview.html" class="text-black-50">取消</a>
		</div>
	</form>
</div>

