<!-- NCTU-Scholarship: 申請步驟二  -->

<div class="container">
	<hgroup class="mb-4 step-hd">
		<h5>108 交大國際生新生獎學金</h5>
		<h6>請確實完成以下各項申請流程</h6>
	</hgroup>
	<div class="step-bar five-step">
		<ul>
			<li class="done">
				<span>
					<span class="step"><i class="fa fa-check"></i></span>
					<h4>個人資料更新</h4>
				</span>
			</li>
			<li class="active">
				<span>
					<span class="step">2</span>
					<h4>入台證資料更新</h4>
				</span>
			</li>
			<li>
				<span>
					<span class="step">3</span>
					<h4>學業及操行成績</h4>
				</span>
			</li>
			<li>
				<span>
					<span class="step">4</span>
					<h4>申請繳交文件</h4>
				</span>
			</li>
			<li>
				<span>
					<span class="step">5</span>
					<h4>線上推薦信填寫</h4>
				</span>
			</li>
		</ul>
	</div>
	<div class="step-container">
		<h5>入台證資料更新</h5>
		<p class="mb-5"><%= lorem_sentences(3) %></p>
		<div class="text-center mx-5 my-5 py-5"><h4>待校方提供入台證要更新的資料內容</h4></div>
		<hr />
		<div class="text-center">
			<a href="step3.html" class="btn btn-default btn-lg mr-5">Next Step</a>
			<a href="overview.html" class="text-black-50">Cancel</a>
		</div>
	</div>
</div>

