<!-- NCTU-Scholarship: 申請步驟五 -->

<div class="container">
	<hgroup class="mb-4 step-hd">
		<h5>108 交大國際生新生獎學金</h5>
		<h6>請確實完成以下各項申請流程</h6>
	</hgroup>
	<div class="step-bar five-step">
		<ul>
			<li class="done">
				<span>
					<span class="step"><i class="fa fa-check"></i></span>
					<h4>個人資料更新</h4>
				</span>
			</li>
			<li class="done">
				<span>
					<span class="step"><i class="fa fa-check"></i></span>
					<h4>入台證資料更新</h4>
				</span>
			</li>
			<li class="done">
				<span>
					<span class="step"><i class="fa fa-check"></i></span>
					<h4>學業及操行成績</h4>
				</span>
			</li>
			<li class="done">
				<span>
					<span class="step"><i class="fa fa-check"></i></span>
					<h4>申請繳交文件</h4>
				</span>
			</li>
			<li class="active">
				<span>
					<span class="step">5</span>
					<h4>線上推薦信填寫</h4>
				</span>
			</li>
		</ul>
	</div>
	<div class="step-container">
		<h5>線上推薦信填寫</h5>
		<p class="mb-5">說明文案 <%= lorem_sentences(3) %></p>
		<form>
			<div class="form-row">
				<div class="col-6">
					<div class="form-group">
						<label for="inputName"><span class="required">*</span>姓名</label>
						<input type="text" class="form-control" id="inputName" placeholder="">
					</div>
					<div class="form-group">
						<label for="inputUnit">單位</label>
						<input type="text" class="form-control" id="inputUnit" placeholder="">
					</div>
					<div class="form-group">
						<label for="inputEmail"><span class="required">*</span>Email</label>
						<input type="email" class="form-control" id="inputEmail" placeholder="">
					</div>
				</div>
				<div class="col-6">
					<div class="form-group">
						<label for="inputRelationship">關係</label>
						<input type="text" class="form-control" id="inputRelationship" placeholder="">
					</div>
					<div class="form-group">
						<label for="inputPosition">職稱</label>
						<input type="text" class="form-control" id="inputPosition" placeholder="">
					</div>
					<div class="form-group">
						<label for="inputPhone">電話</label>
						<input type="text" class="form-control" id="inputPhone" placeholder="">
					</div>
				</div>
			</div>
		</form>
		<hr />
		<div class="text-center">
			<a href="review.html" class="btn btn-default btn-lg mr-5">submit</a>
			<a href="overview.html" class="text-black-50">Cancel</a>
		</div>
	</div>
</div>

