<!-- NCTU-Scholarship: 申請步驟三  -->

<div class="container">
	<hgroup class="mb-4 step-hd">
		<h5>108 交大國際生新生獎學金</h5>
		<h6>請確實完成以下各項申請流程</h6>
	</hgroup>
	<div class="step-bar five-step">
		<ul>
			<li class="done">
				<span>
					<span class="step"><i class="fa fa-check"></i></span>
					<h4>個人資料更新</h4>
				</span>
			</li>
			<li class="done">
				<span>
					<span class="step"><i class="fa fa-check"></i></span>
					<h4>入台證資料更新</h4>
				</span>
			</li>
			<li class="active">
				<span>
					<span class="step">3</span>
					<h4>學業及操行成績</h4>
				</span>
			</li>
			<li>
				<span>
					<span class="step">4</span>
					<h4>申請繳交文件</h4>
				</span>
			</li>
			<li>
				<span>
					<span class="step">5</span>
					<h4>線上推薦信填寫</h4>
				</span>
			</li>
		</ul>
	</div>
	<div>
		<h5>學業及操行成績</h5>
		<p class="mb-5">成績限制說明<%= lorem_sentences(3) %></p>
		<div class="conduct-wrap grade-wrap">
		    <h6>操行成績</h6>
			<h5>
				<small>107-1 為</small>
				<span class="badge badge-info z-depth-1">80</span>
				<small>分</small>
			</h5>
			<h5>
				<small>107-2 為</small>
				<span class="badge badge-info z-depth-1">80</span>
				<small>分</small>
			</h5>
		</div>
		<div class="academic-wrap grade-wrap">
		    <h6>學業成績平均分數</h6>
			<h5>
				<small>107-1 平均成績為 1600 / 20 =</small>
				<span class="badge badge-info z-depth-1">80</span>
			</h5>
			<h5>
				<small>107-2 平均成績為 1600 / 20 =</small>
				<span class="badge badge-info z-depth-1">80</span>
			</h5>
		</div>
		<div class="row">
		    <div class="col-6">
				<table class="table table-bordered text-center">
					<thead>
						<tr>
							<th scope="col">課程代碼</th>
							<th scope="col">課程名稱</th>
							<th scope="col">學分數</th>
							<th scope="col">成績</th>
							<th scope="col">學分數 * 成績</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<th scope="row">10548</th>
							<td>計算機概論</td>
							<td>4</td>
							<td>85</td>
							<td>340</td>
						</tr>
						<tr>
							<th scope="row">10548</th>
							<td>程式語言</td>
							<td>2</td>
							<td>85</td>
							<td>170</td>
						</tr>
						<tr>
							<th scope="row"></th>
							<td></td>
							<td>...</td>
							<td></td>
							<td></td>
						</tr>
						<% 3.times do %>
						<tr>
							<th scope="row"></th>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<% end %>
					</tbody>
					<tfoot>
						<tr>
							<td scope="col"></td>
							<td scope="col">總學分數</td>
							<td scope="col">20</td>
							<td scope="col"></td>
							<td scope="col">1600</td>
						</tr>
					</tfoot>
				</table>
			</div>
			<div class="col-6">
			    <table class="table table-bordered text-center">
					<thead>
						<tr>
							<th scope="col">課程代碼</th>
							<th scope="col">課程名稱</th>
							<th scope="col">學分數</th>
							<th scope="col">成績</th>
							<th scope="col">學分數 * 成績</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<th scope="row">10548</th>
							<td>計算機概論</td>
							<td>4</td>
							<td>85</td>
							<td>340</td>
						</tr>
						<tr>
							<th scope="row">10548</th>
							<td>程式語言</td>
							<td>2</td>
							<td>85</td>
							<td>170</td>
						</tr>
						<tr>
							<th scope="row"></th>
							<td></td>
							<td>...</td>
							<td></td>
							<td></td>
						</tr>
						<% 3.times do %>
						<tr>
							<th scope="row"></th>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<% end %>
					</tbody>
					<tfoot>
						<tr>
							<td scope="col"></td>
							<td scope="col">總學分數</td>
							<td scope="col">20</td>
							<td scope="col"></td>
							<td scope="col">1600</td>
						</tr>
					</tfoot>
				</table>
			</div>
		</div>
		<hr />
		<div class="text-center">
			<a href="step4.html" class="btn btn-default btn-lg mr-5">Next Step</a>
			<a href="overview.html" class="text-black-50">Cancel</a>
		</div>
	</div>
</div>

