
/* `Header
-----------------------------------------------------------------------------*/

header.header {
	background: #f9fafa;
	border-bottom: 1px solid #e9ebed;
	position: relative;
	&:before, &:after {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		z-index: 0;
	}
	&:before {
		background: $gmba_color;
		height: 14px;
	}
	&:after {
		background: #071b33;
		height: 6px;
	}
	.dropdown-toggle {
		background-color: transparent;
		border: none;
		padding: 0;
	}
	.header-function { text-align: end; }
    .operate {
        display: flex;
        justify-content: flex-end;
        margin-bottom: .375rem;
        font-size: .9375rem;
		a {
			display: inline-block;
			padding: 0 0.5rem 0 0.25rem;
			position: relative;
			color: #999;
			&:hover { color: $main_color; }
		}
    }
	.language {
        margin-left: .75rem;
        i { color: #666; }
	}
	.sys-subject {
	}
	.btn-login {
		margin-left: 1rem;
		i {
			margin-right: .25rem;
			color: #aaa;
			transition: all 0.2s ease-in-out
		}
		&:hover, &:active {
			i { color: #333; }
		}
	}
}

.sys-subject {
    padding: 14px 0 0 20px;
    max-width: 640px;
    h2 {
        margin-bottom: 0;
        font-size: 1.625rem;
        font-weight: 500;
    }
}

.header-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
	flex-direction: row-reverse;
    height: 120px;
	.account {
		padding: 0 0.5rem;
	}
	.brands {
		display: flex;
		align-items: center;
		color: #333;
	}
	.brands-link {
		display: flex;
        align-items: center;
        justify-content: center;
        background: $gmba_color;
        box-shadow: 0 8px 24px rgba(#000, .35), 0 0 8px rgba(#000, .5);
        width: 320px;
        height: 120px;
        position: relative;
        z-index: 2;
	}
	.h1-logo {
		display: block;
		height: auto;
		width: 272px;
	}
	.sub {
		margin-left: 1rem;
		span {
			display: block;
			font-size: 1.5rem;
		}
		.en {
			font-size: 1rem;
			line-height: 1.3;
		}
	}
}

.header-right {
    text-align: end;
    padding-top: 14px;
}

.nav-breadcrumb {
    border-bottom: 1px solid #e9ebed;
    padding: 1rem 0;
    .breadcrumb { margin-bottom: 0; }
}
