<% I18n.locale = "zh-TW" %>
<!doctype html>
<html lang="<%= I18n.locale %>" class="no-js">
<head>
    <%= render :partial => "/partials/head" %>
</head>
<body>
	<div class="portal-container">
        <%= yield %>
	</div>
	
    <script src="../javascripts/jquery-3.7.1.min.js"></script>
    <script src="../javascripts/popper.min.js"></script>
    <script src="../javascripts/bootstrap.bundle.min.js"></script>
	
    <%= yield :js %>
</body>
</html>
