/* `Header
-----------------------------------------------------------------------------*/

header.header {
	border-top: $main_color solid 10px;
	position: relative;
	&:before {
		content: "";
		background: $secondary_color;
		width: 100%;
		height: 5px;
		position: absolute;
		top: 0;
		left: 0;
	}
	.navbar-wrapper {
		border-top: 1px solid $base_border_color;
		border-bottom: 1px solid #f5f6f9;
	}
	.navbar {
		box-shadow: none;
		padding: 0;
		font-weight: 400;
		.dropdown-menu {
			border-radius: 0;
			.dropdown-item {
                padding: 4px 10px;
                font-size: 1rem;
                font-weight: 400;
				&:hover, &:focus {
					background: darken($secondary_color, 10);;
					color: #fff;
				}
			}
		}
		.dropdown-toggle:after {
            border-style: solid;
            border-width: 4px 4px 0 4px;
            border-color: rgba(#999, .5) transparent transparent transparent;
			transition: all 0.2s ease-in-out;
		}
	}
	.navbar-nav {
		width: 100%;
		.nav-item {
			flex-grow: 1;
			border-left: 1px solid $base_border_color;
			border-right: 1px solid $base_border_color;
			margin-left: -1px;
			position: relative;
			&:first-child { margin-left: 0; }
		}
		.nav-link {
			font-size: 17px;
			text-align: center;
			color: #333;
			line-height: 32px;
			&:hover, &.current {
				background: $main_color;
				color: #fff !important;
			}
		}
	}
	.navbar-toggler {
		border-radius: 0;
		padding: 0.625rem 0 0.625rem 4rem;
		width: 124px;
		text-align: center;
		transition: width 0.2s ease-out 0.2s;
		&:before {
			content: "";
			//background: $main_color;
			height: 49px;
			position: absolute;
			right: 0;
			left: 100%;
			top: 0;
			transition: all 0.2s ease-in-out;
		}
		&:after {
			content: "MENU";
			font-size: 1rem;
			color: #666;
			position: absolute;
			right: 4.375rem;
			top: 1.125rem;
			transition: all 0.2s ease-in-out;
			transition-delay: 0.5s;
		}
		.line {
			display: inline-block;
			border-bottom: 3px solid $main_color;
			margin-top: 2px;
			width: 60px;
			height: 24px;
			position: relative;
			transition-delay: 0;
			transition: all 0.2s ease-in-out;
			&:before, &:after {
				content: "";
				background: $main_color;
				height: 3px;
				position: absolute;
				right: 0;
				left: 0;
			}
			&:before {
				top: 1px;
			}
			&:after {
				top: 50%;
			}
		}
		&:hover:after { opacity: 0.5; }
		&[aria-expanded="true"] {
			padding-left: 3.75rem;
			width: 100%;
			&:before {
				left: 0;
			}
			&:after {
				opacity: 0;
			}
			.line {
				transform-origin: right;
				transform: translateX(-50%);
			}
		}
	}
	.navbar-collapse {
		transition: all 0.2s ease-in-out;
	}
	.container { position: relative; }
}

.header-wrap {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1.75rem 0;
	.brands {
		a {
			display: flex;
            align-items: center;
			color: #333;
            &:hover { text-decoration: none; }
		}
        h1 { margin: 0; }
	}
    .logo {
        position: relative;
    }
	.h1-logo {
		display: inline-block;
		width: 640px;
		height: auto;

	}
    .sub {
		margin-left: 1.25rem;
        line-height: 1.2;
        > span {
            display: block;
        }
		.ch {
			margin-bottom: 0.375rem;
			font-size: 2rem;
		}
		.en {
			font-family: "Roboto", sans-serif;
			font-size: 1.25rem;
			font-weight: 300;
		}
    }
}

.header-right,
.header-top {
	text-align: right;
	.subnav, .topnav {
		li {
			display: inline-block;
			margin-left: 1.125rem;
			position: relative;
            &:after {
                content: "";
                width: 4px;
                height: 4px;
				background: #e1e5ec;
                border-radius: 50%;
                position: absolute;
                top: 45%;
                left: -13px;
            }
			&:first-child:after { content: none; }
			&:last-child {
				margin-left: 2.25rem;
				&:after {
					background: #e7e7e7;
					width: 1px;
					height: 1rem;
					top: 5px;
					right: auto;
					left: -1.125rem;
				}
			}
		}
		.language a {
			color: $link;
		}
		a {
			display: inline-block;
			color: #777;
			&:hover { color: $link_hover; }
		}
		.search-btn {
			a {
				padding-left: 0.25rem;
				position: relative;
				top: -0.125rem;
			}
		}
		.fa-envelope, .fa-sitemap, .fa-question-circle {
			display: none;
		}
	}
}

.header-top {
	display: none;
	border-bottom: 1px solid $lighten_border_color;
	padding: 0.5rem 0 0.25rem;
	.topnav {
		li { display: inline-block; }
	}
}