/* `Footer
-----------------------------------------------------------------------------*/

footer.footer {
	background: #f9f9f0;
	color: #333;
	line-height: 1.8;
	.footer-hd, .location-wrap, .footer-bt {
		display: flex;
		justify-content: space-between;
	}
	.footer-hd {
		padding: 1.5rem 0 1rem;
		flex-direction: row-reverse;
	}
	.footer-bd {
        border-top: 1px dashed #d9d5bc;
		border-bottom: 1px dashed #d9d5bc;
	}
	.footer-bt {
		padding: 1rem 0;
		color: #99978d;
		p { margin-bottom: 0; }
		.play-discern img {
			width: 238px;
			height: auto;
		}
	}
	.contact-email {
		span {
			display: inline-block;
			margin-right: 10px;
		}
	}
	.item-wrap {
		border-left: 1px dashed #d9d5bc;
		padding: 1rem;
		width: 33.3333%;
		h5 { font-size: 1.0625rem; }
		&:first-child {
			border-left: none;
			padding-left: 0;
		}
		&:last-child { padding-right: 0; }
	}
	.general-links {
		li { display: inline-block; }
	}
	.general-links {
		li {
			margin-right: 15px;
			position: relative;
			&:after {
				content: "";
				background: rgba(#000, .05);
				border-radius: 50%;
				width: 5px;
				height: 5px;
				position: absolute;
				top: 12px;
				right: -12px;
			}
			&:last-child {
				margin-right: 0;
				&:after {
					content: none;
				}
			}
			&.fb {
				img {
					width: 24px;
					height: auto;
				}
			}
		}
	}
	.contact {
		i {
			margin-right: 10px;
			width: 15px;
			text-align: center;
		}
	}
	a {
		color: rgba(#008000, 0.75);
		&:hover {
			color: rgba(#124c12, 1);
		}
	}
	address { margin-bottom: 0; }
}
