<!-- 學院教育目標 -->

<div class="college-wrapper">
    <div class="banner target"></div>
    <div class="container">
        <%= render :partial => "/partials/college_nab" %>
        <ol class="breadcrumb">
            <li class="breadcrumb-item active">學院教育目標</li>
        </ol>
    </div>
    <main>
        <div class="container">
            <div class="row">
                <div class="col-3">
                    <div id="mdb-scrollspy" class="list-group sticky">
                        <ul class="nav nav-pills default-pills smooth-scroll">
                            <li class="nav-item"><a class="nav-link" href="#section1">教育目標</a></li>
                            <li class="nav-item"><a class="nav-link" href="#section2">核心能力</a></li>
                            <li class="nav-item"><a class="nav-link" href="#section3">基本素養</a></li>
                            <li class="nav-item"><a class="nav-link" href="#section4">指標對應</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div data-spy="scroll" data-target="#mdb-scrollspy" data-offset="0">
                        <section id="section1" class="college-section">
                            <h3>教育目標</h3>
                            <ul class="items">
                                <li class="row">
                                    <div class="col-6 des-list text-right">誠</div>
                                    <div class="col-6 cor-list">以學生本位，培育具備「人際互動、自我成長、人文素養、國際移動、創新創意、跨域整合、資訊能力、專業技能」之國家社會亟需之實務專業人才，以促進產學共同發展、厚植國家競爭力。</div>
                                </li>
                                <li class="row">
                                    <div class="col-6 des-list text-right">正</div>
                                    <div class="col-6 cor-list">正直為人 正當行事</div>
                                </li>
                                <li class="row">
                                    <div class="col-6 des-list text-right">精</div>
                                    <div class="col-6 cor-list">精準明確 精業湛成</div>
                                </li>
                                <li class="row">
                                    <div class="col-6 des-list text-right">勤</div>
                                    <div class="col-6 cor-list">勤勞儉樸 勤學奮發</div>
                                </li>
                                <li class="row">
                                    <div class="col-6 des-list text-right">校教育目標2</div>
                                    <div class="col-6 cor-list">校教育目標_2</div>
                                </li>
                            </ul>
                        </section>
                        <section id="section2" class="college-section">
                            <h3>核心能力</h3>
                            <ul class="items">
                                <li class="row">
                                    <div class="col-6 des-list text-right">專業知識與技能</div>
                                    <div class="col-6 cor-list">以特有的藝術、設計領域優勢，培育符合社會與業界需求的「應用務實」與「人文科技」兼具之人才，並發展成為「文化創意」產學合作標竿及國際交流要角為教育目標。</div>
                                </li>
                                <li class="row">
                                    <div class="col-6 des-list text-right">溝通表達</div>
                                    <div class="col-6 cor-list">溝通表達</div>
                                </li>
                                <li class="row">
                                    <div class="col-6 des-list text-right">校核心能力2</div>
                                    <div class="col-6 cor-list">校核心能力2</div>
                                </li>
                            </ul>
                        </section>
                        <section id="section3" class="college-section">
                            <h3>基本素養</h3>
                            <ul class="items">
                                <li class="row">
                                    <div class="col-6 des-list text-right">自我成長</div>
                                    <div class="col-6 cor-list">
                                        <ol>
                                            <li>自我管理能力：能建構自我管理、自我情緒管理。</li>
                                            <li>資訊運用能力：能理解資訊科技。</li>
                                            <li>科學探索能力：培養科學興趣、充實科學能力、體現科學實驗、表現科學作品、欣賞科學之美。</li>
                                            <li>人文藝術鑑賞能力：能參與人文關懷、增長藝術欣賞。</li>
                                        </ol>
                                    </div>
                                </li>
                                <li class="row">
                                    <div class="col-6 des-list text-right">多元視野</div>
                                    <div class="col-6 cor-list">
                                        <ol>
                                            <li>國際觀察能力：能探析全球化議題、連結自我與全球關係、進行自我與全球互動、宏觀判斷全球化事件</li>
                                            <li>文化探究能力：能建立文化比較觀點、尊重多元族群文化、理解次文化之發展、珍惜文化資產文物。</li>
                                        </ol>
                                    </div>
                                </li>
                                <li class="row">
                                    <div class="col-6 des-list text-right">人際溝通</div>
                                    <div class="col-6 cor-list">
                                        <ol>
                                            <li>人際溝通能力：能表現人際溝通、尊重接納他人、 聆聽與表達。</li>
                                            <li>團隊合作能力：能表現團隊合作、參與團隊貢獻、學習組織能力、學習組織領導、領導與協調。</li>
                                        </ol>
                                    </div>
                                </li>
                                <li class="row">
                                    <div class="col-6 des-list text-right">公民素養</div>
                                    <div class="col-6 cor-list">
                                        <ol>
                                            <li>社會關懷能力：能了解台灣社會變遷、了解台灣政經發展、主動關懷團體活動意義、關懷生態環保活動。</li>
                                            <li>倫常法治能力：能參與品德習慣、建構職業倫理、表現道德反省。</li>
                                        </ol>
                                    </div>
                                </li>
                                <li class="row">
                                    <div class="col-6 des-list text-right">邏輯思維</div>
                                    <div class="col-6 cor-list">
                                        <ol>
                                            <li>邏輯思維能力：能表現邏輯推理、進行價值判斷、增強理性評估、表現獨立思考。</li>
                                            <li>問題解決能力：能表現問題解決、找尋解題工具。</li>
                                        </ol>
                                    </div>
                                </li>
                                <li class="row">
                                    <div class="col-6 des-list text-right">創意創新</div>
                                    <div class="col-6 cor-list">
                                        <ol>
                                            <li>創意發想能力：能表現創意思考、創新資源價值、具冒險挑戰精神、增強敏銳觀察、具強烈的好奇心。</li>
                                            <li>知識應用能力：能應用資訊技能、運用自然科學知識、運用社會科學知識、運用人文科學知識。</li>
                                        </ol>
                                    </div>
                                </li>
                                <li class="row">
                                    <div class="col-6 des-list text-right">終身學習</div>
                                    <div class="col-6 cor-list">自主學習能力：能表現主動探索、展現生涯規畫、持續終身學習。</div>
                                </li>
                                <li class="row">
                                    <div class="col-6 des-list text-right">服務發展</div>
                                    <div class="col-6 cor-list">專業服務能力：能充實就業能力、善用專業服務社會、參與社區服務工作、投入公益推展服務。</div>
                                </li>
                            </ul>
                        </section>
                        <section id="section4" class="college-section">
                            <h3>指標對應</h3>
                           <ul class="nav nav-pills section-tabs" id="pills-tab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="pills-professional-tab" data-toggle="pill" href="#panel5" role="tab" aria-controls="pills-panel5" aria-selected="true">核心能力與教育目標</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="pills-common-tab" data-toggle="pill" href="#panel6" role="tab" aria-controls="pills-panel6" aria-selected="false">基本素養與教育目標</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="pills-common-tab" data-toggle="pill" href="#panel7" role="tab" aria-controls="pills-panel7" aria-selected="false">基本素養與共通職能</a>
                                </li>
                            </ul>
                            <div class="tab-content" id="pills-tabContent">
                                <div class="tab-pane fade show active" id="panel5" role="tabpanel" aria-labelledby="pills-panel5-tab">
                                    <ul class="items">
                                        <li class="row">
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th class="text-right"><div class="des-list clean">核心能力 / 教育目標</div></th>
                                                        <th class="null"></th>
                                                        <th>誠</th>
                                                        <th>正</th>
                                                        <th>精</th>
                                                        <th>勤</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <th class="text-right"><div class="des-list">專業知識與技能</div></th>
                                                        <td class="null"></td>
                                                        <td><i class="fa fa-check" aria-hidden="true"></i></td>
                                                        <td><i class="fa fa-check" aria-hidden="true"></i></td>
                                                        <td><i class="fa fa-check" aria-hidden="true"></i></td>
                                                        <td><i class="fa fa-check" aria-hidden="true"></i></td>
                                                    </tr>
                                                    <tr>
                                                        <th class="text-right"><div class="des-list">溝通表達</div></th>
                                                        <td class="null"></td>
                                                        <td><i class="fa fa-check" aria-hidden="true"></i></td>
                                                        <td><i class="fa fa-check" aria-hidden="true"></i></td>
                                                        <td><i class="fa fa-check" aria-hidden="true"></i></td>
                                                        <td><i class="fa fa-check" aria-hidden="true"></i></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </li>
                                    </ul>
                                </div>
                                <div class="tab-pane fade" id="panel6" role="tabpanel" aria-labelledby="pills-panel6-tab">
                                    <ul class="items">
                                        <li class="row">
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th class="text-right"><div class="des-list clean">基本素養 / 教育目標</div></th>
                                                        <th class="null"></th>
                                                        <th>誠</th>
                                                        <th>正</th>
                                                        <th>精</th>
                                                        <th>勤</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <th class="text-right"><div class="des-list">自我成長</div></th>
                                                        <td class="null"></td>
                                                        <td><i class="fa fa-check" aria-hidden="true"></i></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                    </tr>
                                                    <tr>
                                                        <th class="text-right"><div class="des-list">人際溝通</div></th>
                                                        <td class="null"></td>
                                                        <td><i class="fa fa-check" aria-hidden="true"></i></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                    </tr>
                                                    <tr>
                                                        <th class="text-right"><div class="des-list">多元視野</div></th>
                                                        <td class="null"></td>
                                                        <td></td>
                                                        <td><i class="fa fa-check" aria-hidden="true"></i></td>
                                                        <td></td>
                                                        <td></td>
                                                    </tr>
                                                    <tr>
                                                        <th class="text-right"><div class="des-list">公民素養</div></th>
                                                        <td class="null"></td>
                                                        <td></td>
                                                        <td><i class="fa fa-check" aria-hidden="true"></i></td>
                                                        <td></td>
                                                        <td></td>
                                                    </tr>
                                                    <tr>
                                                        <th class="text-right"><div class="des-list">邏輯思維</div></th>
                                                        <td class="null"></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td><i class="fa fa-check" aria-hidden="true"></i></td>
                                                        <td></td>
                                                    </tr>
                                                    <tr>
                                                        <th class="text-right"><div class="des-list">創意創新</div></th>
                                                        <td class="null"></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td><i class="fa fa-check" aria-hidden="true"></i></td>
                                                        <td></td>
                                                    </tr>
                                                    <tr>
                                                        <th class="text-right"><div class="des-list">終身學習</div></th>
                                                        <td class="null"></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td><i class="fa fa-check" aria-hidden="true"></i></td>
                                                    </tr>
                                                    <tr>
                                                        <th class="text-right"><div class="des-list">服務發展</div></th>
                                                        <td class="null"></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td><i class="fa fa-check" aria-hidden="true"></i></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </li>
                                    </ul>
                                </div>
                                <div class="tab-pane fade" id="panel7" role="tabpanel" aria-labelledby="pills-panel7-tab">
                                    <ul class="items">
                                        <li class="row">
                                            <div class="col-6 des-list text-right list-head clean">基本素養</div>
                                            <div class="col-6 cor-list list-head">共通職能</div>
                                        </li>
                                        <li class="row">
                                            <div class="col-6 des-list text-right">自我成長</div>
                                            <div class="col-6 cor-list">溝通表達</div>
                                        </li>
                                        <li class="row">
                                            <div class="col-6 des-list text-right">多元視野</div>
                                            <div class="col-6 cor-list">問題解決</div>
                                        </li>
                                        <li class="row">
                                            <div class="col-6 des-list text-right">人際溝通</div>
                                            <div class="col-6 cor-list">持續學習</div>
                                        </li>
                                        <li class="row">
                                            <div class="col-6 des-list text-right">公民素養</div>
                                            <div class="col-6 cor-list">創新</div>
                                        </li>
                                        <li class="row">
                                            <div class="col-6 des-list text-right">邏輯思維</div>
                                            <div class="col-6 cor-list">工作責任及紀律</div>
                                        </li>
                                        <li class="row">
                                            <div class="col-6 des-list text-right">創意創新</div>
                                            <div class="col-6 cor-list">資訊科技應用</div>
                                        </li>
                                        <li class="row">
                                            <div class="col-6 des-list text-right">終身學習</div>
                                            <div class="col-6 cor-list">人際互動</div>
                                        </li>
                                        <li class="row">
                                            <div class="col-6 des-list text-right">服務發展</div>
                                            <div class="col-6 cor-list">團隊合作</div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </main>
    
</div>

<%= render :partial => "/partials/login" %>

<% content_for :js do %>

<script src="../javascripts/animsition.js"></script>
<script>
	$(document).ready(function(){
	
		$("body").scrollspy({
			target: "#mdb-scrollspy",
			offset: 140
		})
		
		$('[data-spy="scroll"]').each(function(){
	
			var $spy = $(this).scrollspy('refresh');
	
		}); 
	
		$(function () {
			$(".sticky").sticky({
				topSpacing: 0
				, zIndex: 2
				, stopper: ".footer"
			});
		});
		
		$('.mdb-select').material_select();
	
	});
	// Animsition ==========================
	$(document).ready(function() {
		$('.animsition').animsition({
				inClass: 'zoom-in-sm',
				outClass: 'zoom-out-sm'
			})
			.one('animsition.inStart', function() {
				$(this).append('<h2 class="target">Callback: Start</h2>');
				console.log('event -> inStart');
			})
			.one('animsition.inEnd', function() {
				$('.target', this).html('Callback: End');
				console.log('event -> inEnd');
			});
	});
</script>

<% end %>
