<!-- 學院教育目標 -->

<div class="college-wrapper">
    <div class="banner target"></div>
    <div class="container">
        <%= render :partial => "/partials/college_nab" %>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">學院教育目標</li>
            <li class="breadcrumb-item active">工程學院</li>
        </ol>
    </div>
    <main>
        <div class="container">
            <div class="row">
                <div class="col-3">
                    <div id="mdb-scrollspy" class="list-group sticky">
                        <ul class="nav nav-pills default-pills smooth-scroll">
                            <li class="nav-item"><a class="nav-link" href="#section1">教育目標</a></li>
                            <li class="nav-item"><a class="nav-link" href="#section2">核心能力</a></li>
                            <li class="nav-item"><a class="nav-link" href="#section3">教育目標與能力指標對應</a></li>
                            <li class="nav-item"><a class="nav-link" href="#section4">校院教育目標對應</a></li>
                            <li class="nav-item"><a class="nav-link" href="#section5">校院能力指標對應</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div data-spy="scroll" data-target="#mdb-scrollspy" data-offset="0">
                        <section id="section1" class="college-section">
                            <h3>教育目標</h3>
                            <ul class="items">
                                <li class="row">
                                    <div class="col-6 des-list text-right">人格養成、思想啟發</div>
                                    <div class="col-6 cor-list">人格養成、思想啟發</div>
                                </li>
                                <li class="row">
                                    <div class="col-6 des-list text-right">新知探索、研發創新</div>
                                    <div class="col-6 cor-list">新知探索、研發創新</div>
                                </li>
                                <li class="row">
                                    <div class="col-6 des-list text-right">社會責任、全球視野</div>
                                    <div class="col-6 cor-list">社會責任、全球視野</div>
                                </li>
                                <li class="row">
                                    <div class="col-6 des-list text-right">知識傳輸、技術傳承</div>
                                    <div class="col-6 cor-list">知識傳輸、技術傳承</div>
                                </li>
                            </ul>
                        </section>
                        <section id="section2" class="college-section">
                            <h3>核心能力</h3>
                            <ul class="items">
                                <li class="row">
                                    <div class="col-6 des-list text-right">培育道德觀念與提升人文素養</div>
                                    <div class="col-6 cor-list">培育道德觀念與提升人文素養</div>
                                </li>
                                <li class="row">
                                    <div class="col-6 des-list text-right">培養產業需求之專業技能</div>
                                    <div class="col-6 cor-list">培養產業需求之專業技能</div>
                                </li>
                                <li class="row">
                                    <div class="col-6 des-list text-right">結合學術與產業資源之跨領域整合</div>
                                    <div class="col-6 cor-list">結合學術與產業資源之跨領域整合</div>
                                </li>
                                <li class="row">
                                    <div class="col-6 des-list text-right">提供業界技術及創新服務</div>
                                    <div class="col-6 cor-list">提供業界技術及創新服務</div>
                                </li>
                                <li class="row">
                                    <div class="col-6 des-list text-right">提升國際視野</div>
                                    <div class="col-6 cor-list">提升國際視野</div>
                                </li>
                            </ul>
                        </section>
                        <section id="section3" class="college-section">
                            <h3>教育目標與能力指標對應</h3>
                           <ul class="nav nav-pills section-tabs" id="pills-tab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active show" id="pills-professional-tab" data-toggle="pill" href="#panel5" role="tab" aria-controls="pills-panel5" aria-selected="true">核心能力</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="pills-common-tab" data-toggle="pill" href="#panel6" role="tab" aria-controls="pills-panel6" aria-selected="false">共通職能</a>
                                </li>
                            </ul>
                            <div class="tab-content" id="pills-tabContent">
                                <div class="tab-pane fade show active" id="panel5" role="tabpanel" aria-labelledby="pills-panel5-tab">
                                    <ul class="items">
                                        <li class="row">
                                            <table class="table thead-sm">
                                                <thead>
                                                    <tr>
                                                        <th class="text-right"><div class="des-list clean">核心能力 / 教育目標</div></th>
                                                        <th class="null"></th>
                                                        <th>人格養成、思想啟發</th>
                                                        <th>新知探索、研發創新</th>
                                                        <th>社會責任、全球視野</th>
                                                        <th>知識傳輸、技術傳承</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <th class="text-right"><div class="des-list">培育道德觀念與提升人文素養</div></th>
                                                        <td class="null"></td>
                                                        <td><i class="fa fa-check" aria-hidden="true"></i></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                    </tr>
                                                    <tr>
                                                        <th class="text-right"><div class="des-list">培養產業需求之專業技能</div></th>
                                                        <td class="null"></td>
                                                        <td></td>
                                                        <td><i class="fa fa-check" aria-hidden="true"></i></td>
                                                        <td></td>
                                                        <td></td>
                                                    </tr>
                                                    <tr>
                                                        <th class="text-right"><div class="des-list">結合學術與產業資源之跨領域整合</div></th>
                                                        <td class="null"></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td><i class="fa fa-check" aria-hidden="true"></i></td>
                                                        <td></td>
                                                    </tr>
                                                    <tr>
                                                        <th class="text-right"><div class="des-list">提供業界技術及創新服務</div></th>
                                                        <td class="null"></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td><i class="fa fa-check" aria-hidden="true"></i></td>
                                                    </tr>
                                                    <tr>
                                                        <th class="text-right"><div class="des-list">提升國際視野</div></th>
                                                        <td class="null"></td>
                                                        <td><i class="fa fa-check" aria-hidden="true"></i></td>
                                                        <td><i class="fa fa-check" aria-hidden="true"></i></td>
                                                        <td><i class="fa fa-check" aria-hidden="true"></i></td>
                                                        <td><i class="fa fa-check" aria-hidden="true"></i></td>
                                                    </tr>
                                                    <tr>
                                                        <th class="text-right"><div class="des-list">訓練理論基礎與厚實實務經驗</div></th>
                                                        <td class="null"></td>
                                                        <td><i class="fa fa-check" aria-hidden="true"></i></td>
                                                        <td><i class="fa fa-check" aria-hidden="true"></i></td>
                                                        <td><i class="fa fa-check" aria-hidden="true"></i></td>
                                                        <td><i class="fa fa-check" aria-hidden="true"></i></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </li>
                                    </ul>
                                </div>
                                <div class="tab-pane fade" id="panel6" role="tabpanel" aria-labelledby="pills-panel6-tab">
                                    <ul class="items">
                                        <li class="row">
                                            <table class="table thead-sm">
                                                <thead>
                                                    <tr>
                                                        <th class="text-right"><div class="des-list clean">基本素養 / 教育目標</div></th>
                                                        <th class="null"></th>
                                                        <th>人格養成、思想啟發</th>
                                                        <th>新知探索、研發創新</th>
                                                        <th>社會責任、全球視野</th>
                                                        <th>知識傳輸、技術傳承</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <th class="text-right"><div class="des-list">溝通表達</div></th>
                                                        <td class="null"></td>
                                                        <td><i class="fa fa-check" aria-hidden="true"></i></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                    </tr>
                                                    <tr>
                                                        <th class="text-right"><div class="des-list">持續學習</div></th>
                                                        <td class="null"></td>
                                                        <td></td>
                                                        <td><i class="fa fa-check" aria-hidden="true"></i></td>
                                                        <td></td>
                                                        <td></td>
                                                    </tr>
                                                    <tr>
                                                        <th class="text-right"><div class="des-list">人際互動</div></th>
                                                        <td class="null"></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td><i class="fa fa-check" aria-hidden="true"></i></td>
                                                        <td></td>
                                                    </tr>
                                                    <tr>
                                                        <th class="text-right"><div class="des-list">團隊合作</div></th>
                                                        <td class="null"></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td><i class="fa fa-check" aria-hidden="true"></i></td>
                                                    </tr>
                                                    <tr>
                                                        <th class="text-right"><div class="des-list">問題解決</div></th>
                                                        <td class="null"></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td><i class="fa fa-check" aria-hidden="true"></i></td>
                                                        <td></td>
                                                    </tr>
                                                    <tr>
                                                        <th class="text-right"><div class="des-list">創新</div></th>
                                                        <td class="null"></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td><i class="fa fa-check" aria-hidden="true"></i></td>
                                                        <td></td>
                                                    </tr>
                                                    <tr>
                                                        <th class="text-right"><div class="des-list">工作責任及紀律</div></th>
                                                        <td class="null"></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td><i class="fa fa-check" aria-hidden="true"></i></td>
                                                        <td></td>
                                                    </tr>
                                                    <tr>
                                                        <th class="text-right"><div class="des-list">資訊科技應用</div></th>
                                                        <td class="null"></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td><i class="fa fa-check" aria-hidden="true"></i></td>
                                                        <td></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </section>
                        <section id="section4" class="college-section">
                            <h3>校院教育目標對應</h3>
                            <ul class="items">
                                <li class="row">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th class="text-right"><div class="des-list clean">院教育目標 / 校教育目標</div></th>
                                                <th class="null"></th>
                                                <th>誠</th>
                                                <th>正</th>
                                                <th>精</th>
                                                <th>勤</th>
                                                <th>校教育目標2</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th class="text-right"><div class="des-list">人格養成、思想啟發</div></th>
                                                <td class="null"></td>
                                                <td></td>
                                                <td><i class="fa fa-check" aria-hidden="true"></i></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <th class="text-right"><div class="des-list">新知探索、研發創新</div></th>
                                                <td class="null"></td>
                                                <td></td>
                                                <td></td>
                                                <td><i class="fa fa-check" aria-hidden="true"></i></td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <th class="text-right"><div class="des-list">社會責任、全球視野</div></th>
                                                <td class="null"></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td><i class="fa fa-check" aria-hidden="true"></i></td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <th class="text-right"><div class="des-list">知識傳輸、技術傳承</div></th>
                                                <td class="null"></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td><i class="fa fa-check" aria-hidden="true"></i></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </li>
                            </ul>
                        </section>
                        <section id="section5" class="college-section">
                            <h3>校院能力指標對應</h3>
                            <ul class="items">
                                <li class="row">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th class="text-right"><div class="des-list clean">院核心能力 / 校核心能力</div></th>
                                                <th class="null"></th>
                                                <th>專業知識與技能</th>
                                                <th>溝通表達</th>
                                                <th>校核心能力2</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th class="text-right"><div class="des-list">培育道德觀念與提升人文素養</div></th>
                                                <td class="null"></td>
                                                <td><i class="fa fa-check" aria-hidden="true"></i></td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <th class="text-right"><div class="des-list">培養產業需求之專業技能</div></th>
                                                <td class="null"></td>
                                                <td></td>
                                                <td><i class="fa fa-check" aria-hidden="true"></i></td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <th class="text-right"><div class="des-list">結合學術與產業資源之跨領域整合</div></th>
                                                <td class="null"></td>
                                                <td></td>
                                                <td></td>
                                                <td><i class="fa fa-check" aria-hidden="true"></i></td>
                                            </tr>
                                            <tr>
                                                <th class="text-right"><div class="des-list">提供業界技術及創新服務</div></th>
                                                <td class="null"></td>
                                                <td></td>
                                                <td><i class="fa fa-check" aria-hidden="true"></i></td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <th class="text-right"><div class="des-list">提升國際視野</div></th>
                                                <td class="null"></td>
                                                <td></td>
                                                <td><i class="fa fa-check" aria-hidden="true"></i></td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <th class="text-right"><div class="des-list">訓練理論基礎與厚實實務經驗</div></th>
                                                <td class="null"></td>
                                                <td></td>
                                                <td></td>
                                                <td><i class="fa fa-check" aria-hidden="true"></i></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </li>
                            </ul>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </main>
    
</div>

<%= render :partial => "/partials/login" %>

<% content_for :js do %>

<script src="../javascripts/animsition.js"></script>
<script>
	$(document).ready(function(){
	
		$("body").scrollspy({
			target: "#mdb-scrollspy",
			offset: 140
		})
		
		$('[data-spy="scroll"]').each(function(){
	
			var $spy = $(this).scrollspy('refresh');
	
		}); 
	
		$(function () {
			$(".sticky").sticky({
				topSpacing: 0
				, zIndex: 2
				, stopper: ".footer"
			});
		});
		
		$('.mdb-select').material_select();
	
	});
	// Animsition ==========================
	$(document).ready(function() {
		$('.animsition').animsition({
				inClass: 'zoom-in-sm',
				outClass: 'zoom-out-sm'
			})
			.one('animsition.inStart', function() {
				$(this).append('<h2 class="target">Callback: Start</h2>');
				console.log('event -> inStart');
			})
			.one('animsition.inEnd', function() {
				$('.target', this).html('Callback: End');
				console.log('event -> inEnd');
			});
	});
</script>

<% end %>
