<!-- NISA-IS: 承辦人 - 案件列表 -->

<div class="container">
	<div class="section-hd d-flex justify-content-between mb-4">
		<h4 class="block-title mb-0">申訴待處理案件 <span class="badge badge-danger ml-2" title="待處理案件">12</span></h4>
		<form class="form-inline md-form form-sm active-cyan-2 my-0">
			<select class="browser-default custom-select">
				<option selected>顯示全部</option>
				<option value="1">只顯示主辦待辦</option>
				<option value="2">只顯示副本通知</option>
			</select>
		</form>
	</div>
	<div class="table-responsive-lg">
		<table class="table table-striped mb-4">
			<thead>
				<tr>
					<th>案件編號</th>
					<th>申請日期</th>
					<th>轉送日期</th>
					<th>主辦人</th>
					<th class="mobile-hide">內容簡述</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<% 4.times do %>
				<tr>
					<td class="keep-all">待確認編碼原則</td>
					<td>2019/03/19 12:05</td>
					<td>2019/03/19 12:05</td>
					<td class="keep-all">黃國昌</td>
					<td class="mobile-hide"><%= lorem_sentence %>...</td>
					<td>
						<a class="btn btn-cyan btn-xs" href="/">主辦回覆</a>
					</td>
				</tr>
				<tr>
					<td class="keep-all">待確認編碼原則</td>
					<td>2019/03/19 12:05</td>
					<td>2019/03/19 12:05</td>
					<td class="keep-all">黃國昌</td>
					<td class="mobile-hide"><%= lorem_sentence %>...</td>
					<td>
						<a class="btn btn-secondary btn-xs" href="/">副本通知</a>
					</td>
				</tr>
				<% end %>
			</tbody>
		</table>
	</div>
	<nav aria-label="Page navigation">
		<ul class="pagination pg-amber justify-content-center">
			<li class="page-item disabled">
				<span class="page-link">Previous</span>
			</li>
			<li class="page-item active"><a class="page-link">1</a></li>
			<li class="page-item">
				<span class="page-link">2
					<span class="sr-only">(current)</span>
				</span>
			</li>
			<li class="page-item"><a class="page-link">3</a></li>
			<li class="page-item">
				<a class="page-link">Next</a>
			</li>
		</ul>
	</nav>
</div>