<!-- NISA-IS: 承辦人 - 單筆回覆 -->

<div class="container">
	<div class="d-flex justify-content-between mb-4">
		<h4 class="block-title mb-0">申訴待處理案件 <span class="badge badge-danger ml-2" title="待處理案件">12</span></h4>
	</div>
	<div class="accordion md-accordion" id="accordionEx" role="tablist" aria-multiselectable="true">
		<div class="card">
		    <div class="card-header" role="tab" id="headingOne1">
			    <a data-toggle="collapse" data-parent="#accordionEx" href="#collapseOne1" aria-expanded="true" aria-controls="collapseOne1">
				    <h5 class="mb-0">申請表 <small class="time-continuation"><i class="fa fa-clock-o"></i> 2019/03/19 14:05</small> <i class="fa fa-angle-down rotate-icon"></i></h5>
				</a>
			</div>
			<div id="collapseOne1" class="collapse show" role="tabpanel" aria-labelledby="headingOne1" data-parent="#accordionEx">
			    <div class="card-body">
					<div class="inquary-application">
						<div class="row">
							<div class="form-group col-md-6">
								<label>First name</label>
								<div>Wang</div>
							</div>
							<div class="form-group col-md-6">
								<label>Last name</label>
								<div>Shiqing</div>
							</div>
						</div>

						<div class="row">
							<div class="form-group col-md-6">
								<label>Gender</label>
								<div>Male</div>
							</div>
							<div class="form-group col-md-6">
								<label>Email</label>
								<div>test@gmail.com</div>
							</div>
						</div>

						<div class="row">
							<div class="form-group col-md-6">
								<label>Status</label>
								<div>College students with Chinese Language Center</div>
							</div>
							<div class="form-group col-md-6">
								<label>Nationality / Overseas Chinese</label>
								<div>Thailand</div>
							</div>
						</div>

						<div class="row">
							<div class="form-group col-md-6">
								<label>Service unit / School</label>
								<div>Feng Chia University</div>
							</div>
							<div class="form-group col-md-6">
								<label>Department</label>
								<div>Department of Statistics</div>
							</div>
						</div>

						<div class="form-group">
							<label>Grade</label>
							<div>2</div>
						</div>

						<div class="form-group">
							<label>Address</label>
							<div>No. 100, Wenhwa Rd., Seatwen, Taichung, Taiwan 40724, R.O.C.</div>
						</div>

						<div class="row">
							<div class="form-group col-md-6">
								<label>Cellphone number</label>
								<div>092155555</div>
							</div>
							<div class="form-group col-md-6">
								<label>Opinion category</label>
								<div>Learning rights</div>
							</div>
						</div>

						<div class="form-group">
							<label>Opinion content</label>
							<div><%= lorem_sentences(20) %></div>
						</div>

						<div class="row">
							<div class="form-group col-md-6">
								<label>Whether the above comments have been appealed through the school complaints channel</label>
								<div>Yes</div>
							</div>
							<div class="form-group col-md-6">
								<label>Whether the above comments have been appealed to the relevant units outside the school</label>
								<div>Yes</div>
							</div>
						</div>

						<div class="form-group">
							<label>Attachment</label>
							<div>
								<a href="#" class="attachment-link">attachment1</a>
								<a href="#" class="attachment-link">attachment2</a>
							</div>
						</div>

						<div class="form-group">
							<label>Password</label>
							<div>486663</div>
							<span class="form-text text-muted">Please enter the password you entered during the case inquiry.</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="dashed-wall">
		<div class="mb-3">
			<h5 class="font-weight-bold mb-4">校方意見內容 <small class="time-continuation"><i class="fa fa-clock-o"></i> 2019/03/19 14:05</small></h5>
			<div class="pb-3"><%= zh_lorem_sentences(20) %></div>
		</div>
		<div class="mb-3">
			<h5 class="font-weight-bold mb-0"><span class="required">*</span> 請主辦承辦人填寫回覆意見</h5>
			<p class="text-right"><a class="already-btn" data-toggle="modal" data-target="#alreadyModal">瀏覽本案已回覆內容</a></p>
			<div class="form-group">
				<textarea class="form-control rounded-0" id="" rows="6"></textarea>
			</div>
		</div>
		<div class="text-center">
			<a href="step3.html" class="btn btn-cyan btn-lg">Submit</a>
		</div>
	</div>
	
</div>

<!-- Modal -->
<div class="modal fade" id="alreadyModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">已回覆內容</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                尚無回覆...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>





















