<div class="container-lg">
    <footer class="footer">
        <h2>國立虎尾科技大學 教學發展中心</h2>
        <h3>National Formosa University Center <span>for</span> Teaching and Learning Development</h3>
        <div class="footer-inner">
            <div class="start-content">
                <ul class="menu-item contact">
                    <li>
                        <span class="label">電話</span>
                        <span class="output">+886-5-6313114</span>
                    </li>
                    <li>
                        <span class="label">傳真</span>
                        <span class="output">+886-5-6315939</span>
                    </li>
                    <li>
                        <span class="label">信箱</span>
                        <span class="output"><a href="mailto:ctld@nfu.edu.tw">ctld@nfu.edu.tw</a></span>
                    </li>
                    <li>
                        <span class="label">辦公室</span>
                        <span class="output">632301雲林縣虎尾鎮文化路64號 資訊大樓四樓</span>
                    </li>
                </ul>
            </div>
            <div class="end-content">
                <ul class="menu-item menu-link">
                    <li><a href="#" class="item-link">個人資料保護安全政策</a></li>
                    <li><a href="#" class="item-link">個資法17條應公告事項</a></li>
                    <li><a href="#" class="item-link">隱私權聲明</a></li>
                    <li><a href="#" class="item-link">資通安全管理政策</a></li>
                    <li><a href="#" class="item-link">當事人權利行使及申訴抱怨公告</a></li>
                </ul>
            </div>
        </div>
    </footer>
</div>