<div class="container-lg">
    <header class="header" id="pagetop">
        <div class="header-wrap">
            <div class="brands">
                <a class="brands-link" href="index.html" title="回系統首頁">
                    <div class="logo">
                        <h1 class="text-hide">國立虎尾科技大學 School or institution name</h1>
                        <img class="h1-logo" src="../assets/nfu-logo.svg">
                        <img class="graphics-logo" src="../assets/logo.svg">
                    </div>
                    <div class="sub">教師進行產業研習或研究管理系統</div>
                </a>
            </div>
            <div class="header-end">
                <div class="account">
                    <div class="dropdown">
                        <button class="dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <span class="web-only">陳小明教授<span class="inner">您好</span></span>
                            <span class="mobile-only"><i class="far fa-user-circle"></i></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">下載操作手冊</a></li>
                            <li><a class="dropdown-item" href="#">登出</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>
</div>