<!-- template: 首頁 -->
<div class="index-content">
    <div class="container-lg">
        
        <ul class="main-menu menu-item">
            <li class="menu-family">
                <a href="#" title="接待家庭">
                    <div class="text-area">
                        <h2 class="ch">
                            
                            <!-- 兩組 span.break 不可換行 -->
                            <span class="break">接待</span><span class="break">家庭</span>
                            
                        </h2>
                        <h3 class="en">Families</h3>
                    </div>
                    <div class="img-area">
                        <!-- 後台請註明，上傳圖片尺寸為 16:9 等比 (e.g. 1600x900) -->
                        <img class="img-fluid" src="http://placebeard.it/800x450" alt="接待家庭">
                    </div>
                </a>
            </li>
            <li class="menu-students">
                <a href="#" title="境外學生">
                    <div class="text-area">
                        <h2 class="ch">
                            <span class="break">境外</span><span class="break">學生</span>
                        </h2>
                        <h3 class="en">Students</h3>
                    </div>
                    <div class="img-area">
                        <!-- 後台請註明，上傳圖片尺寸為 16:9 等比 (e.g. 1600x900) -->
                        <img class="img-fluid" src="http://placebeard.it/1600x900" alt="境外學生">
                    </div>
                </a>
            </li>
            <li class="menu-universities">
                <a href="#" title="大專校院">
                    <div class="text-area">
                        <h2 class="ch">
                            <span class="break">大專</span><span class="break">校院</span>
                        </h2>
                        <h3 class="en">Universities</h3>
                    </div>
                    <div class="img-area">
                        <!-- 後台請註明，上傳圖片尺寸為 16:9 等比 (e.g. 1600x900) -->
                        <img class="img-fluid" src="http://placebeard.it/1200x675" alt="大專校院">
                    </div>
                </a>
            </li>
        </ul>
        
        <div class="events-wrapper">
            <h3 class="wrapper-title">活動專區</h3>
            <ul class="menu-item index-menu">
                <li class="events-family">
                    <a href="#" title="接待家庭活動">
                        <h4>接待家庭活動</h4>
                        <!-- 後台請註明，上傳圖片尺寸為 16:9 等比 (e.g. 1600x900) -->
                        <img class="img-fluid" src="http://placebeard.it/1400x788" alt="接待家庭活動">
                    </a>
                </li>
                <li class="events-students">
                    <a href="#" title="境外學生活動">
                        <h4>境外學生活動</h4>
                        <!-- 後台請註明，上傳圖片尺寸為 16:9 等比 (e.g. 1600x900) -->
                        <img class="img-fluid" src="http://placebeard.it/1000x563" alt="境外學生活動">
                    </a>
                </li>
                <li class="events-universities">
                    <a href="#" title="大專校院活動">
                        <h4>大專校院活動</h4>
                        <!-- 後台請註明，上傳圖片尺寸為 16:9 等比 (e.g. 1600x900) -->
                        <img class="img-fluid" src="http://placebeard.it/640x360" alt="大專校院活動">
                    </a>
                </li>
            </ul>
        </div>
        
        <div class="announcement-wrapper">
            <h3 class="wrapper-title">訊息公告</h3>
            <ul class="menu-item index-menu">
                <li>
                    <a class="announcement-link" href="#" title="{連結名稱}">
                        <!-- 後台請註明，上傳圖片尺寸為 16:9 等比 (e.g. 1600x900) -->
                        <img class="img-fluid" src="http://placebeard.it/1280x720" alt="{圖片描述}">
                        <p class="ann-title">本計畫辦公室將承辦教育部接待家庭計畫</p>
                    </a>
                </li>
                <li>
                    <a class="announcement-link" href="#" title="{連結名稱}">
                        <!-- 後台請註明，上傳圖片尺寸為 16:9 等比 (e.g. 1600x900) -->
                        <img class="img-fluid" src="http://placebeard.it/1440x810" alt="{圖片描述}">
                        <p class="ann-title">家庭、學生、學校將在火柴盒(接待家庭計畫2.0系統)發起活動及媒合彼此</p>
                    </a>
                </li>
                <li>
                    <a class="announcement-link" href="#" title="{連結名稱}">
                        <!-- 後台請註明，上傳圖片尺寸為 16:9 等比 (e.g. 1600x900) -->
                        <img class="img-fluid" src="http://placebeard.it/960x540" alt="{圖片描述}">
                        <p class="ann-title">建立全臺接待家庭網絡有學校的地方就有接待家庭</p>
                    </a>
                </li>
            </ul>
            <p class="text-end mt-5"><a href="#" class="btn-more" title="更多公告">更多公告</a></p>
        </div>
    </div>
    
    <div class="index-video-container">
        <div class="container-lg">
            <h3 class="wrapper-title">影片集錦</h3>
            <ul class="menu-item index-menu">
                <li>
                    <div class="video-wrapper">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/8XokR4GyzeM?start=2" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                    </div>
                    <p class="video-title">逢甲大學ROSOCoop，全台數位建築的核心基地</p>
                </li>
                <li>
                    <div class="video-wrapper">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/eLAHWTMNW5A?start=2" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                    </div>
                    <p class="video-title">逢甲大學微電影《心意》</p>
                </li>
                <li>
                    <div class="video-wrapper">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/4pNq57-TRRE?start=2" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                    </div>
                    <p class="video-title">逢甲大學與AWS聯手栽培產業轉型頂尖技術人才</p>
                </li>
            </ul>
        </div>
    </div>
</div>


<% content_for :js do %>

<% end %>

