<header class="header">
    <div class="container">
		<div class="header-wrap">
			<div class="brands">
				<a class="d-flex" href="/">
                    <div class="logo">
                        <h1 class="text-hide">臺灣大學 國際事務管理系統</h1>
                        <img class="h1-logo" src="../assets/logo.svg" />
                    </div>
                    <div class="sub">
                        <span>訪問學者線上申請系統</span>
                        <span class="en">Online Application System</span>
                    </div>
				</a>
			</div>
			<div class="account">
				<a class="nav-link login-link btn btn-primary" href="#">Login</a>
			</div>
		</div>
    </div>
</header>