<header class="header">
    <div class="container">
		<div class="header-wrap">
			<div class="brands">
				<a href="../home/index.html">
                    <div class="logo">
                        <h1 class="text-hide">GMBA</h1>
                        <img class="h1-logo" src="../assets/logo@2x.png" />
                    </div>
                    <h2 class="sub">GMBA New Incoming Student Survey</h2>
				</a>
			</div>
			<div class="header-right">
				<div class="account">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Hi, Scarlett Johansson</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="#">Logout</a>
                    </div>
				</div>
				<button type="button" class="btn btn-link btn-logout">
					<i class="fa fa-power-off" ></i>
				</button>
			</div>
		</div>
    </div>
</header>