<!-- TMU-SAP: 教職員首頁  -->

<div class="container">
	<div class="list-wrap">
		<div class="tabs-wrapper"> 
			<ul class="nav" role="tablist">
				<li class="nav-item">
					<a class="nav-link waves-light active" data-toggle="tab" href="#panel51" role="tab">全部</a>
				</li>
				<li class="nav-item">
					<a class="nav-link waves-light" data-toggle="tab" href="#panel52" role="tab">審查中<span class="badge badge-pill pink">3</span></a>
				</li>
				<li class="nav-item">
					<a class="nav-link waves-light" data-toggle="tab" href="#panel53" role="tab">通過</a>
				</li>
				<li class="nav-item">
					<a class="nav-link waves-light" data-toggle="tab" href="#panel54" role="tab">不通過</a>
				</li>
				<li class="nav-item">
					<a class="nav-link waves-light" data-toggle="tab" href="#panel55" role="tab">退補件<span class="badge badge-pill pink">999</span></a>
				</li>
			</ul>
		</div>
		<div class="tab-content card un-shadows">

			<!--Panel 1-->
			<div class="tab-pane fade in show active" id="panel51" role="tabpanel">
				<div class="controller">
				    <button onclick="location.href='new_form.html';" class="btn btn-white btn-sm un-shadows"><i class="fa fa-plus"></i> 新增申請</button>
					<form class="search-form form-inline md-form form-sm w-25">
						<input class="form-control form-control-sm ml-3 w-75" type="text" placeholder="請輸入關鍵字搜尋" aria-label="Search">
						<i class="fa fa-search" aria-hidden="true"></i>
					</form>
				</div>
				<table class="table table-sm">
					<thead class="blue-grey lighten-5">
						<tr>
							<th></th>
							<th>狀態</th>
							<th>活動類型</th>
							<th>活動名稱</th>
							<th>活動開始</th>
							<th>活動結束</th>
							<th>舉辦單位</th>
							<th>公開媒體</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td><button onclick="location.href='view.html';" class="btn btn-unique btn-xs un-shadows">開啟</button></td>
							<td>審查中</td>
							<td>說明會</td>
							<td><%= lorem_sentence %></td>
							<td>2018-05-11 17:00</td>
							<td>2018-05-11 17:00</td>
							<td>醫學院</td>
							<td>學術活動網、電視牆</td>
						</tr>
						<tr>
							<td><button onclick="location.href='view.html';" class="btn btn-unique btn-xs un-shadows">開啟</button></td>
							<td>通過</td>
							<td>演講</td>
							<td><%= lorem_sentence %></td>
							<td>2018-05-11 17:00</td>
							<td>2018-05-11 17:00</td>
							<td>研發處</td>
							<td>iTMU App</td>
						</tr>
						<tr>
						<tr class="highlight">
							<td><button onclick="location.href='view.html';" class="btn btn-unique btn-xs un-shadows">開啟</button></td>
							<td>退補件</td>
							<td>說明會</td>
							<td><%= lorem_sentence %></td>
							<td>2018-05-11 17:00</td>
							<td>2018-05-11 17:00</td>
							<td>醫學院</td>
							<td>電台</td>
						</tr>
						<tr>
							<td><button onclick="location.href='view.html';" class="btn btn-unique btn-xs un-shadows">開啟</button></td>
							<td>通過</td>
							<td>演講</td>
							<td><%= lorem_sentence %></td>
							<td>2018-05-11 17:00</td>
							<td>2018-05-11 17:00</td>
							<td>研發處</td>
							<td>iTMU App</td>
						</tr>
					</tbody>
				</table>
				<div class="card-ft">
					<nav aria-label="pagination example">
						<ul class="pagination pg-blue justify-content-end">
							<li class="page-item"><span class="count">1-10 of 35</span></li>
							<li class="page-item disabled">
								<a class="page-link" href="#" aria-label="Previous">
									<span aria-hidden="true">&laquo;</span>
									<span class="sr-only">Previous</span>
								</a>
							</li>
							<li class="page-item active">
								<a class="page-link" href="#">1 <span class="sr-only">(current)</span></a>
							</li>
							<li class="page-item"><a class="page-link" href="#">2</a></li>
							<li class="page-item"><a class="page-link" href="#">3</a></li>
							<li class="page-item"><a class="page-link" href="#">4</a></li>
							<li class="page-item"><a class="page-link" href="#">5</a></li>
							<li class="page-item">
								<a class="page-link" href="#" aria-label="Next">
									<span aria-hidden="true">&raquo;</span>
									<span class="sr-only">Next</span>
								</a>
							</li>
						</ul>
					</nav>
				</div>
			</div>
			<!--/.Panel 1-->

			<!--Panel 2-->
			<div class="tab-pane fade" id="panel52" role="tabpanel">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil odit magnam minima, soluta doloribus reiciendis molestiae placeat unde eos molestias. Quisquam aperiam, pariatur. Tempora, placeat ratione porro voluptate odit minima.</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil odit magnam minima, soluta doloribus reiciendis molestiae placeat unde eos molestias. Quisquam aperiam, pariatur. Tempora, placeat ratione porro voluptate odit minima.</p>
			</div>
			<!--/.Panel 2-->

			<!--Panel 3-->
			<div class="tab-pane fade" id="panel53" role="tabpanel">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil odit magnam minima, soluta doloribus reiciendis molestiae placeat unde eos molestias. Quisquam aperiam, pariatur. Tempora, placeat ratione porro voluptate odit minima.</p>
			</div>
			<!--/.Panel 3-->

			<!--Panel 4-->
			<div class="tab-pane fade" id="panel54" role="tabpanel">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil odit magnam minima, soluta doloribus reiciendis molestiae placeat unde eos molestias. Quisquam aperiam, pariatur. Tempora, placeat ratione porro voluptate odit minima.</p>
			</div>
			<!--/.Panel 4-->
			
			<!--Panel 5-->
			<div class="tab-pane fade" id="panel55" role="tabpanel">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil odit magnam minima, soluta doloribus reiciendis molestiae placeat unde eos molestias. Quisquam aperiam, pariatur. Tempora, placeat ratione porro voluptate odit minima.</p>
			</div>
			<!--/.Panel 5-->

		</div>
	</div>

</div>