<!-- TMU-SAP: 教職員-新申請表  -->

<div class="container">
    <h3>新申請表</h3>
    <form>
        <div class="form-wrap">
            <div class="form-title mb-4">
                <h5>1. 學術活動基本資料檔</h5>
                <small class="pink-text">下列欄位皆必填</small>
            </div>
            <div class="form-group row">
                <label for="text_1" class="col-sm-3 col-form-label">活動名稱</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="text_1" placeholder="">
                </div>
            </div>
            <div class="form-group row">
                <label for="text_2" class="col-sm-3 col-form-label">活動名稱(英文)</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="text_2" placeholder="">
                </div>
            </div>
            <div class="form-group row">
                <label for="text_3" class="col-sm-3 col-form-label">活動說明</label>
                <div class="col-sm-9">
                    <textarea type="text" class="form-control" id="text_3" placeholder=""></textarea>
                </div>
            </div>
            <div class="form-group row">
                <label for="text_4" class="col-sm-3 col-form-label">活動說明(英文)</label>
                <div class="col-sm-9">
                    <textarea type="text" class="form-control" id="text_4" placeholder=""></textarea>
                </div>
            </div>
            <div class="form-group row">
                <label for="text_5" class="col-sm-3 col-form-label">是否線上報名</label>
                <div class="col-sm-9 form-inline">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1" checked>
                        <label class="form-check-label" for="gridRadios1">是</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
                        <label class="form-check-label" for="gridRadios2">否</label>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label for="text_6" class="col-sm-3 col-form-label">開放人數</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" id="text_6" placeholder="">
                </div>
            </div>
            <div class="form-group row">
                <label for="text_7" class="col-sm-3 col-form-label">開始日期</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" id="text_7" placeholder="yyyy/mm/dd hh:mm:ss">
                </div>
            </div>
            <div class="form-group row">
                <label for="text_8" class="col-sm-3 col-form-label">結束日期</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" id="text_8" placeholder="yyyy/mm/dd hh:mm:ss">
                </div>
            </div>
            <div class="form-group row">
                <label for="text_9" class="col-sm-3 col-form-label">活動地點</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="text_9" placeholder="">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">活動類別</label>
                <div class="col-sm-4">
                    <select class="mdb-select">
                        <option value="" disabled selected>Choose your option</option>
                        <option value="1">演講</option>
                        <option value="2">研討會</option>
                        <option value="3">Option 3</option>
                    </select> 
                </div> 
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">舉辦單位</label>
                <div class="col-sm-9">
                    <div class="ans-control">醫學系</div>
                </div>
            </div>
            <div class="form-group row">
                <label for="text_10" class="col-sm-3 col-form-label">公開媒體別</label>
                <div class="col-sm-9 form-inline">
                    <div class="form-check mr-3">
                        <input class="form-check-input" type="checkbox" id="inlineFormCheckbox1" checked="checked">
                        <label class="form-check-label" for="inlineFormCheckbox1">學術活動網</label>
                    </div>
                    <div class="form-check mr-3">
                        <input class="form-check-input" type="checkbox" id="inlineFormCheckbox2" checked="checked">
                        <label class="form-check-label" for="inlineFormCheckbox2">iTMU App</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="inlineFormCheckbox3" checked="checked">
                        <label class="form-check-label" for="inlineFormCheckbox3">電視牆</label>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">是否播放電視牆</label>
                <div class="col-sm-9 form-inline">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="exampleRadios2" id="exampleRadiosInline3" value="option1" checked>
                        <label class="form-check-label" for="exampleRadiosInline3">是</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="exampleRadios2" id="exampleRadiosInline4" value="option2">
                        <label class="form-check-label" for="exampleRadiosInline4">否</label>
                    </div>
                </div>
            </div>
            <div class="form-group row"> 
                <label for="" class="col-sm-3 col-form-label">發送 iTMU 簡訊</label>
                <div class="col-sm-9 form-inline">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="exampleRadios3" id="exampleRadiosInline5" value="option1" checked>
                        <label class="form-check-label" for="exampleRadiosInline5">是</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="exampleRadios3" id="exampleRadiosInline6" value="option2">
                        <label class="form-check-label" for="exampleRadiosInline6">否</label>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">活動介紹檔案</label>
                <div class="col-sm-9">
                    <div class="ans-control">
                        <button class="btn btn-success btn-xs un-shadows float-left">檢視</button>
                        <div class="file-field float-left">
                            <div class="btn btn-primary btn-xs un-shadows">
                                <span>Choose file</span>
                                <input type="file" value="上傳">
                            </div>
                        </div>
                        <button class="btn btn-danger btn-xs un-shadows float-left">移除</button>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="form-wrap">
            <div class="form-title mb-4">
                <h5>2. iTMU 簡訊內容檔</h5>
            </div>
            <div class="form-group row">
                <label for="text_21" class="col-sm-3 col-form-label">推播時間</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" id="text_21" placeholder="yyyy/mm/dd hh:mm:ss">
                </div>
            </div>
            <div class="form-group row">
                <label for="text_22" class="col-sm-3 col-form-label">Itmu 發送內容</label>
                <div class="col-sm-9">
                    <textarea type="text" class="form-control" id="text_22" placeholder="請輸入70字內的簡訊內容"></textarea>
                </div>
            </div>
        </div>
        
        <div class="form-wrap">
            <div class="form-title mb-4">
                <h5>3. 電視牆內容檔</h5>
            </div>
            <div class="form-group row">
                <label for="text_23" class="col-sm-3 col-form-label">開始播放日期</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" id="text_23" placeholder="yyyy/mm/dd hh:mm:ss">
                </div>
            </div>
            <div class="form-group row">
                <label for="text_24" class="col-sm-3 col-form-label">結束播放日期</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" id="text_24" placeholder="yyyy/mm/dd hh:mm:ss">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">活動介紹檔案</label>
                <div class="col-sm-9">
                    <div class="ans-control">
                        <button class="btn btn-success btn-xs un-shadows float-left">檢視</button>
                        <div class="file-field float-left">
                            <div class="btn btn-primary btn-xs un-shadows">
                                <span>Choose file</span>
                                <input type="file" value="上傳">
                            </div>
                        </div>
                        <button class="btn btn-danger btn-xs un-shadows float-left">移除</button>
                        <span class="form-text text-muted">檔案需小於20MB</span>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="form-wrap">
            <div class="form-title mb-4">
                <h5>4. 學術活動網內容檔</h5>
            </div>
            <div class="form-group row">
                <label for="text_25" class="col-sm-3 col-form-label">是否線上報名</label>
                <div class="col-sm-9 form-inline">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1" checked>
                        <label class="form-check-label" for="gridRadios1">是</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
                        <label class="form-check-label" for="gridRadios2">否</label>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label for="text_26" class="col-sm-3 col-form-label">開放人數</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" id="text_26" placeholder="">
                </div>
            </div>
            <div class="form-group row">
                <label for="text_27" class="col-sm-3 col-form-label">是否開放瀏覽報名人數</label>
                <div class="col-sm-9 form-inline">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1" checked>
                        <label class="form-check-label" for="gridRadios1">是</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
                        <label class="form-check-label" for="gridRadios2">否</label>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label for="text_28" class="col-sm-3 col-form-label">參考連結</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="text_28" placeholder="">
                </div>
            </div>
        </div>
        
        <div class="form-action text-center">
            <button onclick="location.href='index.html';" type="button" class="btn purple-gradient btn-lg">取消</button>
            <button onclick="location.href='preview.html';" type="button" class="btn blue-gradient btn-lg">預覽並送出審查</button>
        </div>
    </form>
</div>

<% content_for :js do %>

<script>
	$(document).ready(function() {
		$('.mdb-select').material_select();
	});
</script>

<% end %>