<!-- templates: 變更密碼  -->

<div class="container">
	<section class="login-warpper">
		<p class="h4 text-center py-4">變更密碼</p>
        <form>
			<div class="md-form">
                <input type="email" id="materialLoginFormEmail" class="form-control">
                <label for="materialLoginFormEmail">信箱</label>
            </div>
            <div class="md-form">
                <input type="password" id="oldPassword" class="form-control">
                <label for="oldPassword">舊密碼</label>
            </div>
            <div class="md-form">
                <input type="password" id="newPassword" class="form-control">
                <label for="newPassword">輸入新密碼</label>
            </div>
			<div class="md-form">
                <input type="password" id="newPasswordAgain" class="form-control">
                <label for="newPasswordAgain">再次輸入新密碼</label>
            </div>
            <div class="text-center py-4">
                <button class="btn btn-outline-primary btn-rounded my-4 waves-effect z-depth-0" type="submit">送出</button>
            </div>
        </form>
    </section>
</div>