<!-- templates: 元件 - 申請步驟 -->

<div class="container">
	<h4>申請步驟範例</h4>
	<div class="step-bar">
		<ul>
			<li class="done">
				<span>
					<span class="step"><i class="fa fa-check"></i></span>
					<h4>步驟一</h4>
				</span>
			</li>
			<li class="done">
				<span>
					<span class="step"><i class="fa fa-check"></i></span>
					<h4>步驟二</h4>
				</span>
			</li>
			<li class="active">
				<span>
					<span class="step">3</span>
					<h4>步驟三</h4>
				</span>
			</li>
		</ul>
	</div>
	<hr class="my-5" />
	<p>如果只需要顯示當前是第幾步驟多加 <code>.step-current</code></p>
	<div class="step-bar step-current">
		<ul>
			<li>
				<span>
					<span class="step">1</span>
					<h4>步驟一</h4>
				</span>
			</li>
			<li>
				<span>
					<span class="step">2</span>
					<h4>步驟二</h4>
				</span>
			</li>
			<li>
				<span>
					<span class="step">3</span>
					<h4>步驟三</h4>
				</span>
			</li>
			<li class="active">
				<span>
					<span class="step">4</span>
					<h4>步驟四</h4>
				</span>
			</li>
		</ul>
	</div>
	<hr class="my-5" />
	<p>若有五個步驟需多加 <code>.five-step</code></p>
	<div class="step-bar">
		<ul>
			<li class="done">
				<span>
					<span class="step"><i class="fa fa-check"></i></span>
					<h4>步驟一</h4>
				</span>
			</li>
			<li class="done">
				<span>
					<span class="step"><i class="fa fa-check"></i></span>
					<h4>步驟二</h4>
				</span>
			</li>
			<li class="done">
				<span>
					<span class="step"><i class="fa fa-check"></i></span>
					<h4>步驟三</h4>
				</span>
			</li>
			<li class="active">
				<span>
					<span class="step">4</span>
					<h4>步驟四</h4>
				</span>
			</li>
			<li>
				<span>
					<span class="step">5</span>
					<h4>步驟五</h4>
				</span>
			</li>
		</ul>
	</div>
</div>

