<!-- templates: 上傳文件_01 -->

<div class="container">
	
	<div class="step-bar four-step">
		<ul>
			<li class="done">
				<span>
					<span class="step">1</span>
					<h4>填寫報名表</h4>
				</span>
			</li>
			<li class="active">
				<span>
					<span class="step">2</span>
					<h4>上傳申請文件</h4>
				</span>
			</li>
			<li>
				<span>
					<span class="step">3</span>
					<h4>預覽</h4>
				</span>
			</li>
		</ul>
	</div>
	
	<form>
        <div class="step-container mb-5">
            <div class="block-title">
                <h4 class="h-title">申請繳交文件</h4>
            </div>
            <p class="mb-5">Please upload the following files to limit the PDF format. Do not exceed 5 MB for individual files. </p>
            <div class="document-upload">

                <div class="document-item">
                    <div class="document-hd">
						<div class="title-wrap">
                            <h5>1. 歷年成績單正本 
                                <small>成績單上加蓋歷年排名章，請併同本申請表至教務處註冊組辦理</small>
                            </h5>
                            <button type="button" class="btn-description" data-toggle="modal" data-target="#basicExampleModal" title="詳細說明"><i class="fa fa-info"></i></button>
						</div>
                    </div>
                    <div class="document-ft md-form">
                        <div class="file-field">
                            <a class="btn-floating btn-sm btn-blue-grey mt-0 float-left">
                                <i class="fa fa-cloud-upload" aria-hidden="true"></i>
                                <input type="file">
                            </a>
                            <div class="file-path-wrapper">
                               <input class="file-path validate" type="text" placeholder="上傳">
                            </div>
                        </div>
                    </div>
                </div>
				
                <div class="document-item">
                    <div class="document-hd">
						<div class="title-wrap">
                            <h5>2. 家長同意書正本</h5>
                            <button type="button" class="btn-description" data-toggle="modal" data-target="#basicExampleModal" title="詳細說明"><i class="fa fa-info"></i></button>
						</div>
                    </div>
                    <div class="document-ft md-form">
                        <div class="file-field">
                            <a class="btn-floating btn-sm btn-blue-grey mt-0 float-left">
                                <i class="fa fa-cloud-upload" aria-hidden="true"></i>
                                <input type="file">
                            </a>
                            <div class="file-path-wrapper">
                               <input class="file-path validate" type="text" placeholder="上傳">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="document-item">
                    <div class="document-hd">
						<div class="title-wrap">
                            <h5>3. 身份證、學生證正反面影本</h5>
                            <button type="button" class="btn-description" data-toggle="modal" data-target="#basicExampleModal" title="詳細說明"><i class="fa fa-info"></i></button>
						</div>
                        <p class="upload-time">上傳時間
							<i class="fa fa-clock-o"></i>
							<span class="date">2020/02/28 18:20</span>
						</p>
                    </div>
                    <div class="document-ft md-form">
                        <a href="#" class="btn btn-info btn-xs">檢視</a>
                        <a href="#" class="btn btn-warning btn-xs">修改</a>
                    </div>
                </div>
                <div class="document-item">
                    <div class="document-hd">
						<div class="title-wrap">
                            <h5>
                                4. 讀書計畫
                                <small>兩頁 A4 為限</small>
                            </h5>
                            <button type="button" class="btn-description" data-toggle="modal" data-target="#basicExampleModal" title="詳細說明"><i class="fa fa-info"></i></button>
						</div>
                        <p class="upload-time">上傳時間
							<i class="fa fa-clock-o"></i>
							<span class="date">2020/02/28 18:20</span>
						</p>
                    </div>
                    <div class="document-ft md-form">
                        <a href="#" class="btn btn-info btn-xs">檢視</a>
                        <a href="#" class="btn btn-warning btn-xs">修改</a>
                    </div>
                </div>
                <div class="document-item">
                    <div class="document-hd">
						<div class="title-wrap">
                            <h5>
                                5. 教授推薦信二封
                                <small>中、英文版本皆可</small>
                            </h5>
                            <button type="button" class="btn-description" data-toggle="modal" data-target="#basicExampleModal" title="詳細說明"><i class="fa fa-info"></i></button>
						</div>
                        <p class="upload-time">上傳時間
							<i class="fa fa-clock-o"></i>
							<span class="date">2020/02/28 18:20</span>
						</p>
                    </div>
                    <div class="document-ft md-form">
                        <a href="#" class="btn btn-info btn-xs">檢視</a>
                        <a href="#" class="btn btn-warning btn-xs">修改</a>
                    </div>
                </div>
				<div class="document-item">
                    <div class="document-hd">
						<div class="title-wrap">
                            <h5>
                                6. 交換期間任務企畫書
                                <small>兩頁 A4 為限</small>
                            </h5>
                            <button type="button" class="btn-description" data-toggle="modal" data-target="#basicExampleModal" title="詳細說明"><i class="fa fa-info"></i></button>
						</div>
                        <p class="upload-time">上傳時間
							<i class="fa fa-clock-o"></i>
							<span class="date">2020/02/28 18:20</span>
						</p>
                    </div>
                    <div class="document-ft md-form">
                        <a href="#" class="btn btn-info btn-xs">檢視</a>
                        <a href="#" class="btn btn-warning btn-xs">修改</a>
                    </div>
                </div>
				<div class="document-item">
                    <div class="document-hd">
						<div class="title-wrap">
                            <h5>7. 語文能力證明</h5>
                            <button type="button" class="btn-description" data-toggle="modal" data-target="#basicExampleModal" title="詳細說明"><i class="fa fa-info"></i></button>
						</div>
                        <p class="upload-time">上傳時間
							<i class="fa fa-clock-o"></i>
							<span class="date">2020/02/28 18:20</span>
						</p>
                    </div>
                    <div class="document-ft md-form">
                        <a href="#" class="btn btn-info btn-xs">檢視</a>
                        <a href="#" class="btn btn-warning btn-xs">修改</a>
                    </div>
                </div>
				<div class="document-item">
                    <div class="document-hd">
						<div class="title-wrap">
                            <h5>
                                8. 其他有利審查資料影本 
                                <small>五頁為限</small>
                            </h5>
                            <button type="button" class="btn-description" data-toggle="modal" data-target="#basicExampleModal" title="詳細說明"><i class="fa fa-info"></i></button>
						</div>
                        <p class="upload-time">上傳時間
							<i class="fa fa-clock-o"></i>
							<span class="date">2020/02/28 18:20</span>
						</p>
                    </div>
                    <div class="document-ft md-form">
                        <a href="#" class="btn btn-info btn-xs">檢視</a>
                        <a href="#" class="btn btn-warning btn-xs">修改</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-action">
            <a href="/" class="btn btn-link mr-2">上一步</a>
            <a href="/" class="btn btn-primary mr-2">儲存</a>
            <a href="/" class="btn btn-link">下一步</a>
        </div>
	</form>
</div>

