<!-- template: data search -->

<div class="breadcrumb-container">
    <div class="container-lg">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Library</a></li>
                <li class="breadcrumb-item active" aria-current="page">Data</li>
            </ol>
        </nav>
    </div>
</div>


<div class="container-lg">
    <main class="main">
        <section class="section">
            <div class="data-filter">
                <h4>Search condition</h4>
                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <label class="form-label fw-bold" for="exampleInput01">Applicant Name</label>
                            <input type="text" class="form-control" id="exampleInput01">
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label class="form-label fw-bold" for="exampleInput02">Device Name</label>
                            <input type="text" class="form-control" id="exampleInput02">
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label class="form-label fw-bold" for="exampleInput03">510(k)/De Novo Number</label>
                            <input type="text" class="form-control" id="exampleInput03">
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-group">
                            <label class="form-label fw-bold">Set Classification</label>
                            <div class="row">
                                <div class="col-4">
                                    <select class="form-select" aria-label="Default select example">
                                        <option selected>Open this select menu</option>
                                        <option value="1">One</option>
                                        <option value="2">Two</option>
                                        <option value="3">Three</option>
                                    </select>
                                </div>
                                <div class="col-4">
                                    <select class="form-select" aria-label="Default select example">
                                        <option selected>Open this select menu</option>
                                        <option value="1">One</option>
                                        <option value="2">Two</option>
                                        <option value="3">Three</option>
                                    </select>
                                </div>
                                <div class="col-4">
                                    <select class="form-select" aria-label="Default select example">
                                        <option selected>Open this select menu</option>
                                        <option value="1">One</option>
                                        <option value="2">Two</option>
                                        <option value="3">Three</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-group">
                            <label class="form-label fw-bold">Operator field</label>
                            <div class="mt-1">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1" />
                                    <label class="form-check-label" for="inlineRadio1">And</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2" />
                                    <label class="form-check-label" for="inlineRadio2">Or</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-center"><button type="button" class="btn btn-lg btn-primary btn-rounded">Search</button></div>
            </div>
        </section>
    </main>
</div>


<% content_for :js do %>

<% end %>

