<!-- template: data search details -->

<div class="breadcrumb-container">
    <div class="container-lg">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Library</a></li>
                <li class="breadcrumb-item active" aria-current="page">Data</li>
            </ol>
        </nav>
    </div>
</div>


<div class="container-lg">
    <main class="main">
        <section class="section data-details">
            <div class="section-title">
                <h4>Details</h4>
            </div>
            
            <ul class="menu-item details-list">
                <li>
                    <span class="label">Device Name</span>
                    <span class="output">ROSA ONE Brain Application</span>
                </li>
                <li>
                    <span class="label">510(k) Number</span>
                    <span class="output">K231103</span>
                </li>
                <li>
                    <span class="label">Applicant</span>
                    <span class="output">
                        Medtech S.A.S<br>
                        432 Rue Du Rajol<br>
                        Mauguio,  FR 34130
                    </span>
                </li>
                <li>
                    <span class="label">Regulation Number</span>
                    <span class="output">882.456</span>
                </li>
                <li>
                    <span class="label">Classification Product Code</span>
                    <span class="output">HAW</span>
                </li>
                <li>
                    <span class="label">Device Classification Name</span>
                    <span class="output">neurological stereotaxic instrument</span>
                </li>
                <li>
                    <span class="label">Device Class</span>
                    <span class="output">2</span>
                </li>
                <li>
                    <span class="label">Date Received</span>
                    <span class="output">04/19/2023</span>
                </li>
                <li>
                    <span class="label">Decision Date</span>
                    <span class="output">07/20/2023</span>
                </li>
                <li>
                    <span class="label">Decision</span>
                    <span class="output">Substantially Equivalent (SESE)</span>
                </li>
                <li>
                    <span class="label">Regulation Medical Specialty</span>
                    <span class="output">Neurology</span>
                </li>
                <li>
                    <span class="label">510k Review Panel</span>
                    <span class="output">Neurology</span>
                </li>
                <li>
                    <span class="label">Type</span>
                    <span class="output">Traditional</span>
                </li>
                <li>
                    <span class="label">Reviewed by Third Party</span>
                    <span class="output"><a href="#">https://www.accessdata.fda.gov/scripts/cdrh/cfdocs/cfpmn/pmn.cfm?ID=K231103</a></span>
                </li>
            </ul>
        </section>
    </main>
</div>

<% content_for :js do %>

<% end %>

