<!-- template: smart search - Description (Step 1) -->

<div class="breadcrumb-container">
    <div class="container-lg">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Library</a></li>
                <li class="breadcrumb-item active" aria-current="page">Data</li>
            </ol>
        </nav>
    </div>
</div>


<div class="container-lg">
    <main class="main">
        
        <div class="step-bar four-step">
            <ul>
                <li class="active">
                    <span>
                        <span class="step">1</span>
                        <h4>Description</h4>
                    </span>
                </li>
                <li>
                    <span>
                        <span class="step">2</span>
                        <h4>Analysis</h4>
                    </span>
                </li>
                <li>
                    <span>
                        <span class="step">3</span>
                        <h4>Classification</h4>
                    </span>
                </li>
                <li>
                    <span>
                        <span class="step">4</span>
                        <h4>Product List</h4>
                    </span>
                </li>
            </ul>
        </div>
        
        <section class="section">
            <div class="section-title">
                <h4>Description</h4>
            </div>
            
            <div class="mb-4">
                <label class="form-label fw-bold" for="exampleInput01">Title</label>
                <input type="text" class="form-control" id="exampleInput01">
            </div>
            
            <div class="mb-4">
                <label class="form-label fw-bold" for="exampleTextarea01">Product / Technology Description:</label>
                <textarea class="form-control" id="exampleTextarea01" rows="8"></textarea>
            </div>
            
            <div class="mb-4">
                <label class="form-label fw-bold">Please choose to generate online or create a schedule</label>
                <div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="radioOptions" id="radio1" value="option1" />
                        <label class="form-check-label" for="radio1">Online instant generation (can be completed in about 2-3 minutes)</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="radioOptions" id="radio2" value="option2" />
                        <label class="form-check-label" for="radio2">Scheduled generation (no need to wait, the system will notify you and bring the results into the system field after generation)</label>
                    </div>
                </div>
            </div>
            
            <div class="form-action">
                <a href="#" class="btn btn-lg btn-light btn-back">
                    <i class="fas fa-long-arrow-alt-left"></i> Back
                </a>
                <button type="button" class="btn btn-lg btn-outline-success">Save</button>
                <button type="button" class="btn btn-lg btn-primary">Next GenAi</button>
            </div>
            
            <!-- 排程按鈕 -->
            <div class="form-action">
                <button type="button" class="btn btn-lg btn-outline-primary">Schedule created</button>
                <button type="button" class="btn btn-lg btn-outline-danger">Cancel scheduled</button>
            </div>
            
        </section>
        
    </main>
</div>


<% content_for :js do %>

<% end %>

