<!-- template: smart search - Product List (Step 4) -->

<div class="breadcrumb-container">
    <div class="container-lg">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Library</a></li>
                <li class="breadcrumb-item active" aria-current="page">Data</li>
            </ol>
        </nav>
    </div>
</div>


<div class="container-lg">
    <main class="main">
        
        <div class="step-bar four-step">
            <ul>
                <li class="done">
                    <span>
                        <span class="step">1</span>
                        <h4>Description</h4>
                    </span>
                </li>
                <li class="done">
                    <span>
                        <span class="step">2</span>
                        <h4>Analysis</h4>
                    </span>
                </li>
                <li class="done">
                    <span>
                        <span class="step">3</span>
                        <h4>Classification</h4>
                    </span>
                </li>
                <li class="active">
                    <span>
                        <span class="step">4</span>
                        <h4>Product List</h4>
                    </span>
                </li>
            </ul>
        </div>
        
        <h3 class="text-center">Title：Zeta Cranial Navigation System (Zns131-Us)</h3>
        
        <div class="product-list-wrapper">
            
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="benchmark-tab" data-bs-toggle="tab" data-bs-target="#benchmark-tab-pane" type="button" role="tab" aria-controls="benchmark-tab-pane" aria-selected="true">Search by Benchmark Product</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="code-tab" data-bs-toggle="tab" data-bs-target="#code-tab-pane" type="button" role="tab" aria-controls="code-tab-pane" aria-selected="false">Search By Product Code</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="regulation-tab" data-bs-toggle="tab" data-bs-target="#regulation-tab-pane" type="button" role="tab" aria-controls="regulation-tab-pane" aria-selected="false">Search By Regulation</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="medical-tab" data-bs-toggle="tab" data-bs-target="#medical-tab-pane" type="button" role="tab" aria-controls="medical-tab-pane" aria-selected="false">Search By Medical Specialty</button>
                </li>
            </ul>
            
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="benchmark-tab-pane" role="tabpanel" aria-labelledby="benchmark-tab" tabindex="0">

                    <section class="section">
                        <div class="data-filter">
                            <h4>Filters</h4>
                            <div class="row">
                                <div class="col-4">
                                    <div class="form-group">
                                        <label class="form-label fw-bold">Decision</label>
                                        <select class="form-select" aria-label="Default select example">
                                            <option selected>Open this select menu</option>
                                            <option value="1">One</option>
                                            <option value="2">Two</option>
                                            <option value="3">Three</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <label class="form-label fw-bold">Type</label>
                                        <select class="form-select" aria-label="Default select example">
                                            <option selected>Open this select menu</option>
                                            <option value="1">One</option>
                                            <option value="2">Two</option>
                                            <option value="3">Three</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <label class="form-label fw-bold">Country</label>
                                        <select class="form-select" aria-label="Default select example">
                                            <option selected>Open this select menu</option>
                                            <option value="1">One</option>
                                            <option value="2">Two</option>
                                            <option value="3">Three</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-8">
                                    <div class="form-group">
                                        <label class="form-label fw-bold">Decision Date</label>
                                        <div class="range-box">
                                            <div>
                                                <input type="date" class="form-control" id="hangUpForm1" name="trip-start1" value="2024-01-20" min="2024-01-01" max="2024-12-31">
                                            </div>
                                            <span>~</span>
                                            <div>
                                                <input type="date" class="form-control" id="hangUpForm1" name="trip-start1" value="2024-01-20" min="2024-01-01" max="2024-12-31">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <label class="form-label fw-bold">TYPE??</label>
                                        <div class="mt-2">
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1" />
                                                <label class="form-check-label" for="inlineCheckbox1">510(k)</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2" />
                                                <label class="form-check-label" for="inlineCheckbox2">De Novo</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="text-center"><button type="button" class="btn btn-lg btn-primary btn-rounded">Apply Filters</button></div>
                        </div>
                    </section>
                    <section class="section">
                        <div class="table-responsive">

                            <!-- datatable th 排序功能煩請工程師處理 -->
                            <table class="table align-middle">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Device Name</th>
                                        <th>Applicant</th>
                                        <th>510(K) Number</th>
                                        <th>Device Class</th>
                                        <th>Decision Date</th>
                                        <th>Reguration</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% (1..10).map do |i| %>
                                    <tr>
                                        <td>
                                            <div class="dropdown">
                                                <button class="btn btn-outline-dark btn-plus dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false"></button>
                                                <ul class="dropdown-menu">
                                                    <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#newFolder"><i class="fas fa-plus me-1"></i> New Folder</a></li>
                                                    <li><hr class="dropdown-divider"></li>
                                                    <li><a class="dropdown-item" href="#">Clearpointer</a></li>
                                                    <li><a class="dropdown-item" href="#">Clearpointer action</a></li>
                                                    <li><a class="dropdown-item" href="#">Clearpointer else here</a></li>
                                                </ul>
                                            </div>
                                        </td>
                                        <td><a href="#">Clearpointer Optical Navigation Wand</a></td>
                                        <td>ClearPoint Neuro Inc.</td>
                                        <td>K233155</td>
                                        <td>2</td>
                                        <td>01/12/2024</td>
                                        <td>882.4560</td>
                                    </tr>
                                    <% end %>
                                </tbody>
                            </table>

                        </div>

                        <nav aria-label="...">
                            <ul class="pagination justify-content-end">
                                <li class="page-item disabled">
                                    <a class="page-link">Previous</a>
                                </li>
                                <li class="page-item"><a class="page-link" href="#">1</a></li>
                                <li class="page-item active" aria-current="page">
                                    <a class="page-link" href="#">2</a>
                                </li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item">
                                    <a class="page-link" href="#">Next</a>
                                </li>
                            </ul>
                        </nav>
                    </section>
                    
                </div>
                <div class="tab-pane fade" id="code-tab-pane" role="tabpanel" aria-labelledby="code-tab" tabindex="0">
                    <section class="section">Product Code</section>
                </div>
                <div class="tab-pane fade" id="regulation-tab-pane" role="tabpanel" aria-labelledby="regulation-tab" tabindex="0">
                    <section class="section">Search By Regulation</section>
                </div>
                <div class="tab-pane fade" id="medical-tab-pane" role="tabpanel" aria-labelledby="medical-tab" tabindex="0">
                    <section class="section">Search By Medical Specialty</section>
                </div>
            </div>

            
        </div>
        
    </main>
</div>

<!-- Modal -->
<div class="modal fade" id="newFolder" tabindex="-1" aria-labelledby="newFolderLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="newFolderLabel">New Folder</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <label for="exampleInputText" class="form-label">Folder title</label>
                    <input type="text" class="form-control" id="exampleInputText" />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-bs-dismiss="modal">Cancle</button>
                <button type="button" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
</div>

<% content_for :js do %>

<% end %>

