<!-- admin-page: Sidenav / Style 4 + 5 -->
<%= render :partial => "/partials/admin_breadcrumb" %>

<main class="main">
    <div class="page-header">
        <h2>Page Title</h2>
    </div>
	<div class="clearfix">
        <div class="profile-sidebar">
            <div class="col-block">
                <div class="block-content expansion">
                    <div class="profile-avatar no-avatar">
                        <div class="scrap">
                            <div class="scrap-name my-4">
                                <span class="h5">202201</span>
                                <span class="h4">2022春季班</span>
                            </div>
                        </div>
                    </div>
                    <div id="accordion" class="profile-side_accordion">
                        <ul class="collapsible collapsible-accordion" id="accordion" role="tablist" aria-multiselectable="true">
                            <li class="menu-item">
                                <div class="panel-heading">
                                    <a class="btn btn-link" href="#">SideNav</a>
                                </div>
                            </li>
                            <li class="menu-item current">
                                <div class="panel-heading">
                                    <a class="btn btn-link" href="#">SideNav</a>
                                </div>
                            </li>
                            <li class="menu-item">
                                <div class="panel-heading">
                                    <a class="btn btn-link" href="#">SideNav</a>
                                </div>
                            </li>
                            <li class="menu-item">
                                <div class="panel-heading">
                                    <a class="btn btn-link" href="#" >SideNav</a>
                                </div>
                            </li>
                            <li class="menu-item">
                                <div class="panel-heading">
                                    <a class="btn btn-link" href="#">SideNav</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
			
			<!-- demo 示範，.mt-5 請拿掉 -->
			<div class="col-block mt-5">
                <div class="block-content expansion">
                    <div class="profile-avatar no-avatar">
                        <div class="scrap">
                            <div class="scrap-name my-4">
                                <span class="h4">110 學年</span>
                            </div>
                        </div>
                    </div>
                    <div id="accordion" class="profile-side_accordion">
                        <ul class="collapsible collapsible-accordion" id="accordion" role="tablist" aria-multiselectable="true">
                            <li class="menu-item">
                                <div class="panel-heading">
                                    <a class="btn btn-link" href="#">SideNav</a>
                                </div>
                            </li>
                            <li class="menu-item current">
                                <div class="panel-heading">
                                    <a class="btn btn-link" href="#">SideNav</a>
                                </div>
                            </li>
                            <li class="menu-item">
                                <div class="panel-heading">
                                    <a class="btn btn-link" href="#">SideNav</a>
                                </div>
                            </li>
                            <li class="menu-item">
                                <div class="panel-heading">
                                    <a class="btn btn-link" href="#" >SideNav</a>
                                </div>
                            </li>
                            <li class="menu-item">
                                <div class="panel-heading">
                                    <a class="btn btn-link" href="#">SideNav</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
		<div class="profile-content">
            <div class="col-block mb-20">
                <div class="block-header has-border">
                    <h3>Block title</h3>
                </div>
                <div class="block-content">
                    <div style="height: 50rem;">content</div>
                </div>
            </div>
		</div>
	</div>
</main>

<% content_for :js do %>
<% end %>