<!-- template: 審查 - 一般優華語計畫申請審閱 -->

<div class="container-lg">
    <div class="project-title performance-title">
        <h3><span>第3期 113年 一般優華語計畫申請審閱</span></h3>
        <div class="university">
            <span class="en">審查時間：2024-02-20 18:00 ~ 2024-03-20 18:00</span>
        </div>
    </div>
</div>

<div class="container-lg">
	<div class="page-content performance-content">
        
	    <aside class="aside">
			<div class="scrollbar-inner">
		        <div class="sidenav">
                    <ul class="side-navigation nav-school menu-item">
                        <li>
							<a class="nav-item" href="#">
							    <span class="link-inner">
                                    國立成功大學
                                    <span class="badge rounded-pill text-bg-warning">90</span>
                                </span>
							</a>
						</li>
						<li>
							<a class="nav-item current" href="#">
								<span class="link-inner">
                                    國立臺灣師範大學
                                    <span class="badge rounded-pill text-bg-warning">80</span>
                                </span>
							</a>
						</li>
						<li>
							<a class="nav-item" href="#">
								<span class="link-inner">
                                    國立清華大學
                                    <span class="badge rounded-pill text-bg-danger">迴避</span>
                                </span>
							</a>
						</li>
						<li>
							<a class="nav-item" href="#">
								<span class="link-inner">淡江大學</span>
							</a>
						</li>
						<li>
							<a class="nav-item" href="#">
								<span class="link-inner">
                                    國立政治大學
                                    <span class="badge rounded-pill text-bg-warning">3</span>
                                </span>
							</a>
						</li>
                        <% (1..15).map do |i| %>
                        <li>
							<a class="nav-item" href="#">
								<span class="link-inner"><%= lorem_words(2) %>大學</span>
							</a>
						</li>
                        <% end %>
                    </ul>
				</div>
			</div>
		</aside>

		<main class="main main-censor">
            
            <div class="mb-8">
                <div class="section-title">
                    <h4>學校基本資料</h4>
                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="basic-info">
                            <span class="label">申請學校</span>
                            <span class="info">成功大學</span>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="basic-info">
                            <span class="label">執行單位</span>
                            <span class="info">學務輔導救護站</span>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="basic-info">
                            <span class="label">聯絡人</span>
                            <span class="info">林森林</span>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="basic-info">
                            <span class="label">聯絡人電話</span>
                            <span class="info">+886-2-2881-2021</span>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="basic-info">
                            <span class="label">聯絡人信箱</span>
                            <span class="info">service@npm.gov.tw</span>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="mb-8">
                <div class="section-title">
                    <h4>申請文件</h4>
                </div>
                <div class="row">
                    <div class="col-4">
                        <div class="basic-info document-item">
                            <span class="label">計畫書</span>
                            <span class="info"><button type="button" class="btn btn-outline-primary btn-rounded">閱覽</button></span>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="basic-info document-item">
                            <span class="label">經費申請表</span>
                            <span class="info"><button type="button" class="btn btn-outline-primary btn-rounded">閱覽</button></span>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="basic-info document-item">
                            <span class="label">成果報告書</span>
                            <span class="info"><button type="button" class="btn btn-outline-primary btn-rounded">閱覽</button></span>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="mb-8">
                <div class="section-title">
                    <h4>審查委員評分</h4>
                </div>
                <table class="table align-middle mb-0">
                    <thead>
                        <tr>
                            <th class="text-center" scope="col">期程年度</th>
                            <th class="text-center" scope="col">期程</th>
                            <th scope="col">合作學校</th>
                            <th class="text-center" scope="col">合作外國大學<br>所在國家</th>
                            <th scope="col">所在州別/地區</th>
                            <th scope="col">教育部駐境外機構</th>
                            <th class="text-center" scope="col">分數</th>
                        </tr>
                    </thead>
                    <tbody>
                        
                        <% (1..4).map do |i| %>
                        <tr>
                            <th class="text-center" scope="row">111</th>
                            <td class="text-center">1</td>
                            <td>
                                <span class="d-block">路易斯安那傑為大學</span>
                                <span class="d-block">Xavier University of Louisiana (XULA)</span>
                            </td>
                            <td class="text-center">美國</td>
                            <td>路易斯安那州</td>
                            <td>台北經濟文化代表處</td>
                            <td class="text-center">92</td>
                        </tr>
                        <% end %>

                    </tbody>
                </table>
                <div class="account-wrapper">
                    <h5>平均分數：92</h5>
                </div>
            </div>
            
            <div class="mb-8">
                <div class="section-title">
                    <h4>奧本大學 <small>Auburn University</small></h4>
                </div>
                <div class="score-menu">
                    <div class="basic-info score-item">
                        <span class="label">
                            <label for="exampleInput1" class="form-label">1. 計畫合作對象及目的（20%）</label>
                        </span>
                        <span class="info">
                            <input type="text" class="form-control" id="exampleInput1">
                        </span>
                    </div>
                    <div class="basic-info score-item">
                        <span class="label">
                            <label for="exampleInput2" class="form-label">2. 計畫內容（50%）</label>
                        </span>
                        <span class="info">
                            <input type="text" class="form-control" id="exampleInput2">
                        </span>
                    </div>
                    <div class="basic-info score-item">
                        <span class="label">
                            <label for="exampleInput3" class="form-label">3. 計畫經費及人力（10%）</label>
                        </span>
                        <span class="info">
                            <input type="text" class="form-control" id="exampleInput3">
                        </span>
                    </div>

                    <div class="basic-info score-item">
                        <span class="label">
                            <label for="exampleInput4" class="form-label">4. 計畫預期效益及績效指標（20%）</label>
                        </span>
                        <span class="info">
                            <input type="text" class="form-control" id="exampleInput4">
                        </span>
                    </div>
                </div>
                <h5>審查意見</h5>
                
                <!-- textarea 假的佔位用 -->
                <textarea class="form-control" id="" rows="6"></textarea>
            </div>
            
            <% (1..6).map do |i| %>
            <div class="mb-8">
                <div class="section-title">
                    <h4><%= zh_lorem_words(3) %>大學 <small><%= lorem_words(3) %> University</small></h4>
                </div>
                <div class="score-menu">
                    <div class="basic-info score-item">
                        <span class="label">
                            <label for="exampleInput1" class="form-label">1. 計畫合作對象及目的（20%）</label>
                        </span>
                        <span class="info">
                            <input type="text" class="form-control" id="exampleInput1">
                        </span>
                    </div>
                    <div class="basic-info score-item">
                        <span class="label">
                            <label for="exampleInput2" class="form-label">2. 計畫內容（50%）</label>
                        </span>
                        <span class="info">
                            <input type="text" class="form-control" id="exampleInput2">
                        </span>
                    </div>
                    <div class="basic-info score-item">
                        <span class="label">
                            <label for="exampleInput3" class="form-label">3. 計畫經費及人力（10%）</label>
                        </span>
                        <span class="info">
                            <input type="text" class="form-control" id="exampleInput3">
                        </span>
                    </div>

                    <div class="basic-info score-item">
                        <span class="label">
                            <label for="exampleInput4" class="form-label">4. 計畫預期效益及績效指標（20%）</label>
                        </span>
                        <span class="info">
                            <input type="text" class="form-control" id="exampleInput4">
                        </span>
                    </div>
                </div>
                <h5>審查意見</h5>
                
                <!-- textarea 假的佔位用 -->
                <textarea class="form-control" id="" rows="6"></textarea>
            </div>
            <% end %>
            
            <div class="form-action">
                <button type="submit" class="btn btn-lg btn-primary">儲存</button>
            </div>
		</main>

	</div>
</div>



<% content_for :js do %>

<% end %>

