<!-- TPEAA: 表單管理系統 -->

<main class="main">
    <div class="page-header">
        <h2>表單管理系統</h2>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="col-block">
                <div class="block-header has-border">
				    <div class="row">
						<div class="col-sm-4">
							<select class="browser-default custom-select xs">
								<option selected>107</option>
								<option value="1">One</option>
								<option value="2">Two</option>
								<option value="3">Three</option>
							</select>
						</div>
						<div class="col-sm-4">
							<select class="browser-default custom-select xs">
								<option selected>第 2 學期</option>
								<option value="1">One</option>
								<option value="2">Two</option>
								<option value="3">Three</option>
							</select>
						</div>
						<div class="col-sm-4">
							<select class="browser-default custom-select xs">
								<option selected>未結案</option>
								<option value="1">One</option>
								<option value="2">Two</option>
								<option value="3">Three</option>
							</select>
						</div>
					</div>
				</div>
                <div class="block-content">
					<div class="table-responsive">
							<table class="table table-sm">
								<thead>
									<tr>
										<th></th>
										<th>申請日期</th>
										<th>申請單</th>
										<th>申請單位</th>
										<th>申請人姓名</th>
										<th>內容簡述</th>
										<th>審查狀態</th>
									</tr>   
								</thead>
								<tbody>
									<tr class="red lighten-5">
										<td>
										    <button class="btn btn-xs btn-primary btn-rounded mx-0">檢視</button>
											<button class="btn btn-xs btn-warning btn-rounded mx-0">取消申請</button>
											<button class="btn btn-xs btn-default btn-rounded mx-0">複製申請</button>
										</td>
										<td>2018-09-01 14:20</td>
										<td>請假單申請</td>
										<td>正37期第5班(行)</td>
										<td>王OO</td>
										<td>
										    <div>請假日期：2018-09-05</div>
											<div>假別時數：事假 3hr</div>
										</td>
										<td class="text-danger">不通過</td>
									</tr>
									
									<tr class="blue-grey lighten-5">
										<td>
										    <button class="btn btn-xs btn-primary btn-rounded mx-0">檢視</button>
											<button class="btn btn-xs btn-warning btn-rounded mx-0">取消申請</button>
											<button class="btn btn-xs btn-default btn-rounded mx-0">複製申請</button>
										</td>
										<td>2018-09-01 14:20</td>
										<td>請假單申請</td>
										<td>正37期第5班(行)</td>
										<td>王OO</td>
										<td>
										    <div>請假日期：2018-09-05</div>
											<div>假別時數：事假 3hr</div>
										</td>
										<td>尚未受理</td>
									</tr>
									
									<% 3.times do %>
									<tr>
										<td>
										    <button class="btn btn-xs btn-primary btn-rounded mx-0">檢視</button>
											<button class="btn btn-xs btn-warning btn-rounded mx-0">取消申請</button>
											<button class="btn btn-xs btn-default btn-rounded mx-0">複製申請</button>
										</td>
										<td>2018-09-01 14:20</td>
										<td>教室設備報修申請</td>
										<td>正37期第5班(行)</td>
										<td>王OO</td>
										<td>
										    板擦遺失
										</td>
										<td>通過</td>
									</tr>
									<% end %>
								</tbody>
							</table>
						</div>
                </div>
            </div>
        </div>
    </div>
</main>

<% content_for :js do %>

<% end %>