<!-- TPEAA: 瀏覽表單 -->

<main class="main">
    <div class="page-header">
        <h3>瀏覽表單</h3>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="col-block">
                <ul class="nav nav-tabs">
                    <li class="nav-item"><a href="#tab11" class="active" aria-controls="tab11" role="tab" data-toggle="tab">表單內容</a></li>
                    <li class="nav-item"><a href="#tab12" aria-controls="tab12" role="tab" data-toggle="tab">簽核流程</a></li>
                </ul>
                <div class="block-content tab-content">
                    <div role="tabpanel" class="tab-pane active" id="tab11">
						<h6>請辦內容說明 <small class="pull-right">申請日期：107 年 10 月 12 日</small></h6>
						<hr />
						<h5 class="mb-3 font-weight-bold">主旨：請鈞長核示 學生 王XX 記小功乙支</h5>
						<div class="text-block">
						    <p><%= zh_lorem_paragraph %></p>
							<p><%= zh_lorem_paragraph %></p>
							<p><%= zh_lorem_paragraph %></p>
						</div>
						<div class="form-block">
						    <img src="http://placekitten.com/g/900/600" alt="">
						</div>
						<div class="form-group mt-3">
							<label class="font-weight-bold" for="exampleFormControlTextarea1">簽核</label>
							<textarea class="form-control rounded-0" id="exampleFormControlTextarea1" rows="6"></textarea>
						</div>
						<button class="btn btn-primary my-2" type="submit">通過</button>
						<button class="btn btn-light my-2" type="submit">請依審查意見重新申請</button>
                    </div>
					
                    <div role="tabpanel" class="tab-pane" id="tab12">
						<div class="signing-flow">
							<div class="avatar bg-transparent">
							    <i class="fa fa-user-circle-o"></i>
								<p class="name">學生 王XX</p>
							</div>
						</div>
						
						<div class="signing-flow">
							<h5 class="step"><span>第 1 關</span></h5>
							<div class="avatar">
							    <i class="fa fa-user-circle-o"></i>
								<p class="name">區隊長 陳XX</p>
								<span class="badge badge-success">通過</span>
								<p class="date">107/10/15 16:00</p>
								<div class="summary">
								    甘失掉了麵皮！何故世上的人類們，也不上你..
									<button type="button" class="btn btn-sm btn-link" data-toggle="modal" data-target="#basicExampleModal">
										more
									</button>
								</div>
							</div>
							<div class="avatar">
							    <i class="fa fa-user-circle-o"></i>
								<p class="name">區隊長 林XX</p>
								<span class="badge badge-success">通過</span>
								<p class="date">107/10/15 16:00</p>
							</div>
							<div class="avatar">
							    <i class="fa fa-user-circle-o"></i>
								<p class="name">區隊長 林XX</p>
								<span class="badge badge-success">通過</span>
								<p class="date">107/10/15 16:00</p>
							</div>
							<div class="avatar">
							    <i class="fa fa-user-circle-o"></i>
								<p class="name">區隊長 林XX</p>
								<span class="badge badge-success">通過</span>
								<p class="date">107/10/15 16:00</p>
							</div>
							<div class="avatar">
							    <i class="fa fa-user-circle-o"></i>
								<p class="name">區隊長 林XX</p>
								<span class="badge badge-success">通過</span>
								<p class="date">107/10/15 16:00</p>
							</div>
							<div class="avatar">
							    <i class="fa fa-user-circle-o"></i>
								<p class="name">區隊長 林XX</p>
								<span class="badge badge-success">通過</span>
								<p class="date">107/10/15 16:00</p>
							</div>
							<div class="avatar">
							    <i class="fa fa-user-circle-o"></i>
								<p class="name">區隊長 林XX</p>
								<span class="badge badge-success">通過</span>
								<p class="date">107/10/15 16:00</p>
							</div>
							<div class="avatar">
							    <i class="fa fa-user-circle-o"></i>
								<p class="name">區隊長 林XX</p>
								<span class="badge badge-success">通過</span>
								<p class="date">107/10/15 16:00</p>
							</div>
							<div class="avatar">
							    <i class="fa fa-user-circle-o"></i>
								<p class="name">區隊長 林XX</p>
								<span class="badge badge-success">通過</span>
								<p class="date">107/10/15 16:00</p>
							</div>
							<div class="avatar">
							    <i class="fa fa-user-circle-o"></i>
								<p class="name">區隊長 林XX</p>
								<span class="badge badge-success">通過</span>
								<p class="date">107/10/15 16:00</p>
							</div>
						</div>
						
						<div class="signing-flow">
							<h5 class="step"><span>第 2 關</span></h5>
							<div class="action-top">
							    <button type="button" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#basicExampleModal2">加會</button>
								<button type="button" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#basicExampleModal2">通知</button>
							</div>
							<div class="avatar">
							    <i class="fa fa-user-circle-o"></i>
								<p class="name">中隊長 林XX</p>
							</div>
						</div>
						
						<div class="signing-flow">
							<div class="avatar bg-transparent">
							    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#basicExampleModal2">新增會辦單位</button>
							</div>
						</div>
						
						<div class="signing-flow">
							<h5 class="step"><span>第 3 關</span></h5>
							<div class="avatar">
							    <i class="fa fa-user-circle-o"></i>
								<p class="name">大隊長 林XX</p>
							</div>
						</div>
						
						<div class="signing-flow">
							<h5 class="step"><span>第 4 關</span></h5>
							<div class="avatar">
							    <i class="fa fa-user-circle-o"></i>
								<p class="name">核稿人員 秘書室 林XX</p>
							</div>
						</div>
						
						<div class="signing-flow">
							<h5 class="step"><span>第 5 關</span></h5>
							<div class="avatar">
							    <i class="fa fa-user-circle-o"></i>
								<p class="name">主任秘書 林XX</p>
							</div>
						</div>
						
						<div class="signing-flow">
							<h5 class="step"><span>第 6 關</span></h5>
							<div class="avatar">
							    <i class="fa fa-user-circle-o"></i>
								<p class="name">教育長 林XX</p>
							</div>
						</div>
						
						<div class="signing-flow">
							<h5 class="step"><span>第 7 關</span></h5>
							<div class="avatar">
							    <i class="fa fa-user-circle-o"></i>
								<p class="name">校長 林XX</p>
							</div>
						</div>
						
					</div>
                </div>
            </div>
        </div>
    </div>
</main>

<div class="modal fade" id="basicExampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <%= zh_lorem_paragraph %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-primary" data-dismiss="modal">確定</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="basicExampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
	<div class="modal-header">
	  <h4 class="modal-title w-100" id="myModalLabel">選擇簽核人員</h4>
	  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		<span aria-hidden="true">&times;</span>
	  </button>
	</div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">取消</button>
        <button type="button" class="btn btn-sm btn-primary">確定</button>
      </div>
    </div>
  </div>
</div>

<% content_for :js do %>
 
<% end %>