<!-- template: 授權申請 -->

<div class="container-lg">
	<div class="page-content">
        <main class="main">
            <div class="page-title">
                <h3>授權申請</h3>
            </div>
			<p>請選擇已授權代填寫申請的教師</p>
            <ul class="menu-item authorize-list">
                <li><a href="#" class="authorize-link"><span>尼古拉 (nikolatesla@ntu.edu.tw)</span></a></li>
                <li><a href="#" class="authorize-link"><span>特斯拉 (tesla@ntu.edu.tw)</span></a></li>
				<li><a href="#" class="authorize-link"><span>愛迪生 (edison@ntu.edu.tw)</span></a></li>
				<li><a href="#" class="authorize-link"><span>瑪麗居禮 (curie@ntu.edu.tw)</span></a></li>
				<li><a href="#" class="authorize-link"><span>本人申請</span></a></li>
            </ul>
        </main>
	</div>
</div>

<% content_for :js do %>

<% end %>

