<!-- template: 進度查詢 -->

<div class="container-lg">
	<div class="page-content">
        <main class="main">
            <div class="page-title">
                <h3>進度查詢</h3>
            </div>
			<p>最新進度 : 學院審查完畢</p>
            <button type="button" class="btn btn-outline-third" data-bs-toggle="modal" data-bs-target="#reviewProcessModal">審查歷程</button>
			<hr class="hr-lg">
			<a href="#" class="btn btn-primary">檢視申請表</a>
        </main>
	</div>
</div>

<div class="modal fade" id="reviewProcessModal" tabindex="-1" aria-labelledby="reviewProcessModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="reviewProcessModalLabel">審查歷程</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <ul class="menu-item rp-list">
					<li>
					    <div class="wrapper">
						    <div class="column">
							    <span class="date">2022-01-01 12:00:00</span>
								<span class="object">本人我 (myself@ntu.edu.tw)</span>
							</div>
							<div class="column">
								<span class="status">送出申請</span>
							</div>
						</div>
					</li>
				    <li>
					    <div class="wrapper">
						    <div class="column">
							    <span class="date">2022-01-01 12:00:00</span>
								<span class="object">尼古拉 (nikolatesla@ntu.edu.tw)</span>
							</div>
							<div class="column">
							    <span class="label">系所審查</span>
								<span class="status">審查完畢</span>
							</div>
						</div>
						<div class="opinion">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent mauris diam, interdum vitae nunc ut, tincidunt tincidunt arcu. Curabitur mattis urna id ante scelerisque.</div>
					</li>
					<li>
					    <div class="wrapper">
						    <div class="column">
							    <span class="date">2022-01-01 12:00:00</span>
								<span class="object">尼古拉 (nikolatesla@ntu.edu.tw)</span>
							</div>
							<div class="column">
							    <span class="label">學院審查</span>
								<span class="status">退回申請人</span>
							</div>
						</div>
						<div class="opinion">Consectetur adipiscing elit. Praesent mauris diam, interdum vitae nunc ut, tincidunt tincidunt arcu. Lorem ipsum dolor sit amet</div>
					</li>
					<li>
					    <div class="wrapper">
						    <div class="column">
							    <span class="date">2022-01-01 12:00:00</span>
								<span class="object">本人我 (myself@ntu.edu.tw)</span>
							</div>
							<div class="column">
								<span class="status">送出申請</span>
							</div>
						</div>
					</li>
					<li>
					    <div class="wrapper">
						    <div class="column">
							    <span class="date">2022-01-01 12:00:00</span>
								<span class="object">尼古拉 (nikolatesla@ntu.edu.tw)</span>
							</div>
							<div class="column">
							    <span class="label">系所審查</span>
								<span class="status">審查完畢</span>
							</div>
						</div>
						<div class="opinion">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent mauris diam, interdum vitae nunc ut, tincidunt tincidunt arcu. Curabitur mattis urna id ante scelerisque.</div>
					</li>
				</ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">關閉</button>
            </div>
        </div>
    </div>
</div>



<% content_for :js do %>

<% end %>

