<!-- admin-page: Vue / Table Size -->
<%= render :partial => "/partials/admin_breadcrumb" %>
<main class="main">
    <div class="page-header">
        <h2>Table Size</h2>
        <p>table 寬度都為 100%，尺寸 medium / small / mini</p>
    </div>
    <div class="col-block">
        <div class="block-header has-border">
            <h3>medium width el-expansion</h3>
        </div>
        <div class="block-content el-expansion">
            <div class="el-table">
                <div class="el-table__header-wrapper">
                    <table class="el-table__header" style="width: 1050px;" cellspacing="0" cellpadding="0" border="0">

                        <thead class="has-gutter">
                            <tr class="">
                                <th colspan="1" rowspan="1" class="el-table_1_column_1 is-leaf el-table__cell"><div class="cell">Date</div></th>
                                <th colspan="1" rowspan="1" class="el-table_1_column_2 is-leaf el-table__cell"><div class="cell">Name</div></th>
                                <th colspan="1" rowspan="1" class="el-table_1_column_3 is-leaf el-table__cell"><div class="cell">State</div></th>
                                <th colspan="1" rowspan="1" class="el-table_1_column_4 is-leaf el-table__cell"><div class="cell">City</div></th>
                                <th colspan="1" rowspan="1" class="el-table_1_column_5 is-leaf el-table__cell"><div class="cell">Address</div></th>
                                <th colspan="1" rowspan="1" class="el-table_1_column_6 is-leaf el-table__cell"><div class="cell">Zip</div></th>
                                <th colspan="1" rowspan="1" class="el-table_1_column_7 is-leaf el-table__cell"><div class="cell">Operations</div></th>
                                <th class="el-table__cell gutter" style="width: 0px; display: none;"></th>
                            </tr>
                        </thead>
                    </table>
                </div>
                <div class="el-table__body-wrapper is-scrolling-none">
                    <table class="el-table__body" style="width: 1050px;" cellspacing="0" cellpadding="0" border="0">

                        <tbody>
                            <% (1..4).map do |i| %>
                            <tr class="el-table__row">
                                <td rowspan="1" colspan="1" class="el-table_1_column_1 el-table__cell">
                                    <div class="cell">2022-05-03</div>
                                </td>
                                <td rowspan="1" colspan="1" class="el-table_1_column_2 el-table__cell">
                                    <div class="cell">湯姆</div>
                                </td>
                                <td rowspan="1" colspan="1" class="el-table_1_column_3 el-table__cell">
                                    <div class="cell">加州</div>
                                </td>
                                <td rowspan="1" colspan="1" class="el-table_1_column_4 el-table__cell">
                                    <div class="cell">洛杉磯</div>
                                </td>
                                <td rowspan="1" colspan="1" class="el-table_1_column_5 el-table__cell">
                                    <div class="cell">No. 189, Grove St, Los Angeles</div>
                                </td>
                                <td rowspan="1" colspan="1" class="el-table_1_column_6 el-table__cell">
                                    <div class="cell">CA 90036</div>
                                </td>
                                <td rowspan="1" colspan="1" class="el-table_1_column_7 el-table__cell">
                                    <div class="cell">
                                        <div class="btn-group btn-group-sm unshadow">
                                            <button title="" data-toggle="tooltip" type="button" class="btn btn-xs btn-white" data-original-title="Edit Client"><i class="fas fa-pencil-alt"></i></button>
                                            <button title="" data-toggle="tooltip" type="button" class="btn btn-xs btn-white" data-original-title="Remove Client"><i class="fa fa-times"></i></button>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <% end %>
                        </tbody>
                    </table>

                </div>

                <div class="el-table__column-resize-proxy" style="display: none;"></div>
            </div>
        </div>
    </div>
	
	<div class="col-block">
        <div class="block-header has-border">
            <h3>small</h3>
        </div>
        <div class="block-content">
            <div class="el-table el-table--small">
                <div class="el-table__header-wrapper">
                    <table class="el-table__header" style="width: 1050px;" cellspacing="0" cellpadding="0" border="0">

                        <thead class="has-gutter">
                            <tr class="">
                                <th colspan="1" rowspan="1" class="el-table_1_column_1 is-leaf el-table__cell"><div class="cell">Date</div></th>
                                <th colspan="1" rowspan="1" class="el-table_1_column_2 is-leaf el-table__cell"><div class="cell">Name</div></th>
                                <th colspan="1" rowspan="1" class="el-table_1_column_3 is-leaf el-table__cell"><div class="cell">State</div></th>
                                <th colspan="1" rowspan="1" class="el-table_1_column_4 is-leaf el-table__cell"><div class="cell">City</div></th>
                                <th colspan="1" rowspan="1" class="el-table_1_column_5 is-leaf el-table__cell"><div class="cell">Address</div></th>
                                <th colspan="1" rowspan="1" class="el-table_1_column_6 is-leaf el-table__cell"><div class="cell">Zip</div></th>
                                <th colspan="1" rowspan="1" class="el-table_1_column_7 is-leaf el-table__cell"><div class="cell">Operations</div></th>
                                <th class="el-table__cell gutter" style="width: 0px; display: none;"></th>
                            </tr>
                        </thead>
                    </table>
                </div>
                <div class="el-table__body-wrapper is-scrolling-none">
                    <table class="el-table__body" style="width: 1050px;" cellspacing="0" cellpadding="0" border="0">

                        <tbody>
                            <% (1..4).map do |i| %>
                            <tr class="el-table__row">
                                <td rowspan="1" colspan="1" class="el-table_1_column_1 el-table__cell">
                                    <div class="cell">2022-05-03</div>
                                </td>
                                <td rowspan="1" colspan="1" class="el-table_1_column_2 el-table__cell">
                                    <div class="cell">Tom</div>
                                </td>
                                <td rowspan="1" colspan="1" class="el-table_1_column_3 el-table__cell">
                                    <div class="cell">California</div>
                                </td>
                                <td rowspan="1" colspan="1" class="el-table_1_column_4 el-table__cell">
                                    <div class="cell">洛杉磯</div>
                                </td>
                                <td rowspan="1" colspan="1" class="el-table_1_column_5 el-table__cell">
                                    <div class="cell">No. 189, Grove St, Los Angeles</div>
                                </td>
                                <td rowspan="1" colspan="1" class="el-table_1_column_6 el-table__cell">
                                    <div class="cell">CA 90036</div>
                                </td>
                                <td rowspan="1" colspan="1" class="el-table_1_column_7 el-table__cell">
                                    <div class="cell">
                                        <div class="btn-group btn-group-sm unshadow">
                                            <button title="" data-toggle="tooltip" type="button" class="btn btn-xs btn-white" data-original-title="Edit Client"><i class="fas fa-pencil-alt"></i></button>
                                            <button title="" data-toggle="tooltip" type="button" class="btn btn-xs btn-white" data-original-title="Remove Client"><i class="fa fa-times"></i></button>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <% end %>
                        </tbody>
                    </table>

                </div>

                <div class="el-table__column-resize-proxy" style="display: none;"></div>
            </div>
        </div>
    </div>
	
	<div class="col-block">
        <div class="block-header has-border">
            <h3>mini</h3>
        </div>
        <div class="block-content">
            <div class="el-table el-table--mini">
                <div class="el-table__header-wrapper">
                    <table class="el-table__header" style="width: 1050px;" cellspacing="0" cellpadding="0" border="0">

                        <thead class="has-gutter">
                            <tr class="">
                                <th colspan="1" rowspan="1" class="el-table_1_column_1 is-leaf el-table__cell"><div class="cell">Date</div></th>
                                <th colspan="1" rowspan="1" class="el-table_1_column_2 is-leaf el-table__cell"><div class="cell">Name</div></th>
                                <th colspan="1" rowspan="1" class="el-table_1_column_3 is-leaf el-table__cell"><div class="cell">State</div></th>
                                <th colspan="1" rowspan="1" class="el-table_1_column_4 is-leaf el-table__cell"><div class="cell">City</div></th>
                                <th colspan="1" rowspan="1" class="el-table_1_column_5 is-leaf el-table__cell"><div class="cell">Address</div></th>
                                <th colspan="1" rowspan="1" class="el-table_1_column_6 is-leaf el-table__cell"><div class="cell">Zip</div></th>
                                <th colspan="1" rowspan="1" class="el-table_1_column_7 is-leaf el-table__cell"><div class="cell">Operations</div></th>
                                <th class="el-table__cell gutter" style="width: 0px; display: none;"></th>
                            </tr>
                        </thead>
                    </table>
                </div>
                <div class="el-table__body-wrapper is-scrolling-none">
                    <table class="el-table__body" style="width: 1050px;" cellspacing="0" cellpadding="0" border="0">

                        <tbody>
                            <% (1..4).map do |i| %>
                            <tr class="el-table__row">
                                <td rowspan="1" colspan="1" class="el-table_1_column_1 el-table__cell">
                                    <div class="cell">2022-05-03</div>
                                </td>
                                <td rowspan="1" colspan="1" class="el-table_1_column_2 el-table__cell">
                                    <div class="cell">Tom</div>
                                </td>
                                <td rowspan="1" colspan="1" class="el-table_1_column_3 el-table__cell">
                                    <div class="cell">California</div>
                                </td>
                                <td rowspan="1" colspan="1" class="el-table_1_column_4 el-table__cell">
                                    <div class="cell">洛杉磯</div>
                                </td>
                                <td rowspan="1" colspan="1" class="el-table_1_column_5 el-table__cell">
                                    <div class="cell">No. 189, Grove St, Los Angeles</div>
                                </td>
                                <td rowspan="1" colspan="1" class="el-table_1_column_6 el-table__cell">
                                    <div class="cell">CA 90036</div>
                                </td>
                                <td rowspan="1" colspan="1" class="el-table_1_column_7 el-table__cell">
                                    <div class="cell">
                                        <div class="btn-group btn-group-sm unshadow">
                                            <button title="" data-toggle="tooltip" type="button" class="btn btn-xs btn-white" data-original-title="Edit Client"><i class="fas fa-pencil-alt"></i></button>
                                            <button title="" data-toggle="tooltip" type="button" class="btn btn-xs btn-white" data-original-title="Remove Client"><i class="fa fa-times"></i></button>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <% end %>
                        </tbody>
                    </table>

                </div>

                <div class="el-table__column-resize-proxy" style="display: none;"></div>
            </div>
        </div>
    </div>
</main>


<% content_for :js do %>
    <script>
		$(document).ready(function() {
		   $('.mdb-select').materialSelect();
		 });
    </script>
<% end %>