<!-- template: 首頁 -->



<div class="container-fluid">
	<div class="index-content">
        
        <div class="main-carousel">
            <div id="carouselEtalkCaptions" class="carousel slide carousel-fade">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselEtalkCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselEtalkCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselEtalkCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="item-inner">
                            <div class="item-photo"><img src="https://placehold.co/1600x900" class="d-block w-100" alt="{圖片描述}" /></div>
                            <div class="item-text">
                                <div class="text-inner">
                                    <h2>國家教育研究院教育播客站</h2>
                                    <p>在節目中我們將深入探討與介紹教學現場的現況，你我關心的教育問題，並提供國內外教育研究新知及最新發展趨勢，用輕鬆活潑交談方式帶你進入「播客站」的教育領域！</p>
                                    <a href="#" class="link-more"><span>MORE</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="item-inner">
                            <div class="item-photo"><img src="https://placehold.co/1600x900" class="d-block w-100" alt="{圖片描述}" /></div>
                            <div class="item-text">
                                <div class="text-inner">
                                    <h2>數位世代青少年發展研究合作</h2>
                                    <p>中央研究院社會學研究所在國家科學及技術委員會經費的補助下，「臺灣數位世代青少年的成長歷程追蹤研究」（簡稱TIGPS）計畫以「數位生態系統理論」探討臺灣數位世代青少年的自我概念。</p>
                                    <a href="#" class="link-more"><span>MORE</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="item-inner">
                            <div class="item-photo"><img src="https://placehold.co/1600x900" class="d-block w-100" alt="{圖片描述}" /></div>
                            <div class="item-text">
                                <div class="text-inner">
                                    <h2>教育領導的理論探究與實踐經驗</h2>
                                    <p>本院教育制度及政策研究中心於2023年3月30日辦理本年度《跨界：學術/實務/跨域交流》系列第二場講座。</p>
                                    <a href="#" class="link-more"><span>MORE</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        
	</div>
</div>



<% content_for :js do %>

<% end %>

