<footer class="footer">
	<div class="container">
		<div class="footer-inner">
            <div class="contact">
                <h5>國際合作事務管理</h5>
                <p><i class="fa fa-map-marker"></i> 10048 臺北市中正區重慶南路1段122號</p>
				<p><i class="fa fa-envelope"></i> <a href="#">templates@templates.edu.tw</a></p>
                <p><i class="fa fa-phone"></i> 886-2-2311-3731</p>
            </div>
            <div class="browser-support">瀏覽器建議 <a href="https://www.google.com/intl/zh-TW/chrome/">Google Chrome</a>、<a href="https://www.mozilla.org/zh-TW/firefox/new/">Firefox</a> 或 <a href="https://www.microsoft.com/zh-tw/edge">IE11</a> (含)以上版本
            </div>
		</div>
	</div>
</footer>
