<header class="header">
    <div class="container">
		<div class="header-wrap">
			<div class="brands">
				<a class="d-flex" href="index.html">
                    <div class="logo">
                        <h1 class="text-hide">國際合作事務管理 Office of International Affairs</h1>
                        <img class="h1-logo" src="../assets/logo@2x.png" />
                    </div>
                    <div class="sub">
                        <span>國際合作事務管理</span>
						<span class="en">Office of International Affairs</span>
                    </div>
				</a>
			</div>
			<div class="header-right">
				<div class="language">
				    <a href="#" class="current">中文</a>
					<a href="#">EN</a>
				</div>
				<div class="account">
				    <a href="#">登入</a>
				</div>
			</div>
		</div>
    </div>
</header>