<!-- admin-page: 專案事項 - 會議 -->
<%= render :partial => "/partials/admin_breadcrumb" %>

<main class="main">
    <div class="project_board-wrapper">
	    <nav class="navigation">
		    <ul class="project-nav menu-item">
			    <li><a href="#" class="nav-link nav-item waves-effect waves-dark">專案資料</a></li>
				<li><a href="#" class="nav-link nav-item waves-effect waves-dark">工作任務</a></li>
				<li><a href="#" class="nav-link nav-item waves-effect waves-dark current">會議</a></li>
				<li><a href="#" class="nav-link nav-item waves-effect waves-dark">行事曆</a></li>
			</ul>
		</nav>
		<div class="project-content">
			<div class="meeting-wrapper">
			    <div class="inner">
					<div class="meeting-card">
					    <div class="card-hd">系統設計會議</div>
						<div class="card-bd">
						    <h6 class="font-weight-bold grey-text">參加人員</h6>
							<ul class="menu-item attend-list">
								<% (1..3).map do |i| %>
							    <li class="attend">
                                    <div class="avatar">
                                        <img alt="Pic" src="/assets/default.png">
                                    </div>
                                    <span class="name text-dark"><%= zh_lorem_name %></span>
								</li>
								<% end %>
							</ul>
							<h6 class="font-weight-bold grey-text">會議時間</h6>
							<p class="h6 font-weight-normal">
								<i class="fa fa-clock-o black-text mr-1"></i>
								2022/10/15 15:00 - 18:00 3H
							</p>
						</div>
                        <div class="meeting-link">
                            <span class="d-inline-block text-muted mr-2">線上會議網址</span>
                            <a href="#">https://tinyurl.com/2csleqkd</a>
                        </div>
					</div>
					<div class="meeting-card">
					    <div class="card-hd">系統設計會議</div>
						<div class="card-bd">
						    <h6 class="font-weight-bold grey-text">參加人員</h6>
							<ul class="menu-item attend-list">
								<% (1..8).map do |i| %>
							    <li class="attend">
                                    <div class="avatar">
                                        <img alt="Pic" src="/assets/default.png">
                                    </div>
                                    <span class="name text-dark"><%= zh_lorem_name %></span>
								</li>
								<% end %>
							</ul>
							<h6 class="font-weight-bold grey-text">會議時間</h6>
							<p class="h6 font-weight-normal">
								<i class="fa fa-clock-o black-text mr-1"></i>
								2022/10/15 15:00 - 18:00 3H
							</p>
						</div>
                        <div class="meeting-link">
                            <span class="d-inline-block text-muted mr-2">線上會議網址</span>
                            <a href="#">https://tinyurl.com/2csleqkd</a>
                        </div>
					</div>
					<% (1..5).map do |i| %>
				    <div class="meeting-card">
					    <div class="card-hd">系統設計會議</div>
						<div class="card-bd">
						    <h6 class="font-weight-bold grey-text">參加人員</h6>
							<ul class="menu-item attend-list">
								<% (1..5).map do |i| %>
							    <li class="attend">
                                    <div class="avatar">
                                        <img alt="Pic" src="/assets/default.png">
                                    </div>
                                    <span class="name text-dark"><%= zh_lorem_name %></span>
								</li>
								<% end %>
							</ul>
							<h6 class="font-weight-bold grey-text">會議時間</h6>
							<p class="h6 font-weight-normal">
								<i class="fa fa-clock-o black-text mr-1"></i>
								2022/10/15 15:00 - 18:00 3H
							</p>
						</div>
					</div>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</main>


<% content_for :js do %>

<% end %>