
/* `Footer
-----------------------------------------------------------------------------*/

footer.footer {
	border-top: 1px solid #DEEAE6;
	padding: calc(2rem + 2vw) 0 calc(3rem + 3vw);
	font-weight: 300;
	color: #696C6C;
	.footer-inner {
		display: flex;
		justify-content: space-between;
		padding-bottom: 1.5rem;
	}
	.block-start {
		display: flex;
		width: 66.66666%;
		.ft-block { width: 50%; }
	}
	.menu-item.contact {
		li {
			display: flex;
			margin-bottom: .125rem;
			.label {
				margin-right: 1rem;
			}
		}
	}
	.menu-item.links {
		li {
			margin-bottom: .5rem;
		}
	}
	.block-end {
		width: 33.33333%;
		text-align: end;
	}
	.menu-item.social-media {
		display: flex;
		justify-content: flex-end;
		li {
			margin-left: 2rem;
		}
		a {
			&:hover {
				filter: grayscale(100%);
			}
		}
	}
	.links-block {
		position: relative;
	}
	h2 {
		font-size: calc(.875rem + .5vw);
		font-weight: 500;
	}
}

#AH {
	position: absolute;
	left: -1.5rem;
	top: 0;
	padding: 0 .5rem;
	opacity: .4;
	&:hover {
		background-color: $main_color;
		color: #fff;
		opacity: 1;
	}
}

.footer-bottom {
	display: flex;
	justify-content: space-between;
	border-top: 1px dashed #DEEAE6;
	padding-top: 1.5rem;
}

/* `Responsive
-----------------------------------------------------------------------------*/

@media (max-width: 1199px) {
	footer.footer {
		.block-start {
			width: 70%;
			.contact-block { width: 70%; }
			.links-block { width: 30%; }
		}
		.block-end {
			width: 30%;
		}
	}
}

@media (max-width: 991px) {
	footer.footer {
		font-size: .9375rem;
		.block-start {
			display: block;
			.ft-block {
				width: 100%;
			}
			.contact-block {
				margin-bottom: 1rem;
			}
		}
		h2 {
			font-size: 1.125rem;
		}
		.menu-item.links {
			li {
				margin-bottom: .125rem;
			}
		}
	}
}

@media (max-width: 574px) {
	footer.footer {
		.footer-inner {
			display: block;
		}
		.block-start,
		.block-end {
			margin-bottom: 1rem;
			width: 100%;
		}
		.menu-item.social-media {
			justify-content: start;
			li {
				margin: 0 1rem 0 0;
			}
		}
	}
}