
/* `Footer
-----------------------------------------------------------------------------*/

footer.footer {
    //border-top: 1px dashed #ddd;
	color: #888;
    position: relative;
    overflow: hidden;
    &:after {
        content: "";
        background: url(../assets/bg-footer.png) center center repeat;
        width: 100%;
        height: 200px;
        position: absolute;
        left: 0;
        bottom: -160px;
    }
	.footer-inner {
		display: flex;
		justify-content: space-between;
		padding: 5rem 0 7rem;
	}
	.block-transition {
		display: flex;
		width: 66.66666%;
		.ft-block { width: 50%; }
	}
	.menu-item.contact {
		li {
			margin-bottom: .188rem;
            span {
                display: inline-block;
                margin-right: 1rem;
            }
		}
	}
	.end-content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
		width: 33.33333%;
		text-align: end;
	}
    .end-link {
        a {
            display: inline-block;
            margin-left: .375rem;
        }
    }
	a {
		color: #000;
		&:hover {
			color: $link;
		}
        &:focus {
			color: #fff;
		}
	}
    h3 {
        margin-bottom: .75rem;
        font-size: 1.188rem;
        font-weight: bold;
    }
}

.index-workspace {
    footer.footer {
        border-top: none;
    }
}

/* `Responsive
-----------------------------------------------------------------------------*/

@media (max-width: 1199px) {
    footer.footer {
        .footer-inner {
            padding: calc(2.75rem + 2.5vw) 0 calc(3.75rem + 3.5vw);
        }
    }
}

@media (max-width: 767px) {
    footer.footer {
        .footer-inner { display: block; }
        .block-transition {
            display: block;
            margin-bottom: 1.375rem;
            width: 100%;
            .ft-block { width: 100%; }
        }
        .end-content {
            flex-direction: row;
            align-items: center;
            width: 100%;
            text-align: start;
        }
    }
}

@media (max-width: 574px) {
    footer.footer {
        font-size: .9375rem;
    }
}






