<!-- admin-page: 政大國際事務處 login -->

<div class="login-container nccu-login">
    <div class="login">
        <h1 class="logo text-center"><img class="logo__img" src="../assets/nccu_logo@2x.png" alt="back" title="NCCU OIA" /></h1>
        <form>
            <div class="form-group">
                <img class="form-icon" src="../assets/tabler-icons/icons/user.svg" width="28" height="28" />
                <input type="email" id="materialFormCardEmailEx" class="form-control" placeholder="UserName or Email">
            </div>
            <div class="form-group">
                <img class="form-icon" src="../assets/tabler-icons/icons/lock.svg" width="28" height="28" />
                <input type="password" id="materialFormCardPasswordEx" class="form-control" placeholder="Password">
            </div>
            <button class="btn btn-login" type="submit">登入</button>
        </form>
    </div>
</div>