<!-- oia-yuntech: 申請首頁 (進度說明) -->

<div class="container">
	<h4 class="block-title">申請進度說明</h4>
	<p>請先填寫線上申請表，填寫完成後，請繼續完成其他項目。</p>
	<div class="document-upload mb-3">
		<div class="document-item">
			<div class="document-hd">
				<div class="title-wrap">
				    <h4>1. 申請表</h4>
				</div>
				<p>填寫線上申請表</p>
			</div>
			<div class="document-ft">
				<span class="badge badge-danger">未完成</span>
			</div>
		</div>
		<div class="document-item">
			<div class="document-hd">
				<div class="title-wrap">
				    <h4>2. 推薦信</h4>
				</div>
				<p>設定推薦人及指定推薦系所</p>
			</div>
			<div class="document-ft">
				<span class="badge badge-danger">未設定</span>
			</div>
		</div>
		<div class="document-item">
			<div class="document-hd">
				<div class="title-wrap">
				    <h4>3. 上傳繳交文件</h4>
				</div>
				<p>列印各系所的申請文件</p>
			</div>
			<div class="document-ft">
				<span class="badge badge-danger">未完成</span>
			</div>
		</div>
	</div>
	<div class="form-action">
		<a href="/" class="btn btn-default">開始填寫</a>
	</div>
</div>

<div style="margin: 5rem;"></div><!-- prototype 使用，套版請刪除 -->

<div class="container">
	<h4 class="block-title">申請進度說明</h4>
	<p>請先填寫線上申請表，填寫完成後，請繼續完成其他項目。</p>
	<div class="document-upload mb-3">
		<div class="document-item">
			<div class="document-hd">
				<div class="title-wrap">
                    <h4>1. 申請表</h4>
                    <a href="#" class="btn-floating btn-sm btn-secondary" title="修改申請表"><i class="fa fa-pencil"></i></a>
				</div>
				<p>填寫線上申請表</p>
			</div>
			<div class="document-ft">
				<span class="badge badge-success">完成</span>
				<p class="date">最後修改 2020/04/05 18:00</p>
			</div>
		</div>
		<div class="document-item">
			<div class="document-hd">
				<div class="title-wrap">
				    <h4>2. 推薦信</h4>
				</div>
				<p>設定推薦人及指定推薦系所</p>
			</div>
			<div class="document-ft">
				<span class="badge badge-danger">未設定</span>
			</div>
		</div>
		<div class="document-item">
			<div class="document-hd">
				<div class="title-wrap">
				    <h4>3. 上傳繳交文件</h4>
				</div>
				<p>列印各系所的申請文件</p>
			</div>
			<div class="document-ft">
				<span class="badge badge-danger">未完成</span>
			</div>
		</div>
	</div>
	<div class="form-action">
		<a href="/" class="btn btn-default">設定推薦人</a>
	</div>
</div>

<div style="margin: 5rem;"></div><!-- prototype 使用，套版請刪除 -->

<div class="container">
	<h4 class="block-title">申請進度說明</h4>
	<p>請先填寫線上申請表，填寫完成後，請繼續完成其他項目。</p>
	<div class="document-upload mb-3">
		<div class="document-item">
			<div class="document-hd">
				<div class="title-wrap">
                    <h4>1. 申請表</h4>
                    <a href="#" class="btn-floating btn-sm btn-secondary" title="修改申請表"><i class="fa fa-pencil"></i></a>
				</div>
				<p>填寫線上申請表</p>
			</div>
			<div class="document-ft">
				<span class="badge badge-success">完成</span>
				<p class="date">最後修改 2020/04/05 18:00</p>
			</div>
		</div>
		<div class="document-item">
			<div class="document-hd">
				<div class="title-wrap">
				    <h4>2. 推薦信</h4>
				</div>
				<p>設定推薦人及指定推薦系所</p>
			</div>
			<div class="document-ft">
				<span class="badge badge-warning">等候中</span>
			</div>
		</div>
		<div class="document-info">
			<h6>等候推薦人填寫完成</h6>
		    已有 2 封推薦信完成填寫，1 封推薦信尚未開啟，1封推薦信填寫中
		</div>
		<div class="document-item">
			<div class="document-hd">
				<div class="title-wrap">
				    <h4>3. 上傳繳交文件</h4>
				</div>
				<p>列印各系所的申請文件</p>
			</div>
			<div class="document-ft">
				<span class="badge badge-danger">未完成</span>
			</div>
		</div>
	</div>
	<div class="form-action">
		<a href="/" class="btn btn-default">上傳文件</a>
	</div>
</div>

<div style="margin: 5rem;"></div><!-- prototype 使用，套版請刪除 -->

<div class="container">
	<h4 class="block-title">申請進度說明</h4>
	<p>申請狀態參考</p>
	<div class="document-upload mb-3">
		<div class="document-item">
			<div class="document-hd">
				<div class="title-wrap">
                    <h4>1. 申請表</h4>
                    <a href="#" class="btn-floating btn-sm btn-secondary" title="修改申請表"><i class="fa fa-pencil"></i></a>
				</div>
				<p>填寫線上申請表</p>
			</div>
			<div class="document-ft">
				<span class="badge badge-success">完成</span>
				<p class="date">最後修改 2020/04/05 18:00</p>
			</div>
		</div>
		<div class="document-item">
			<div class="document-hd">
				<div class="title-wrap">
				    <h4>2. 推薦信</h4>
				</div>
				<p>設定推薦人及指定推薦系所</p>
			</div>
			<div class="document-ft">
				<span class="badge badge-warning">等候中</span>
			</div>
		</div>
		<div class="document-info">
			<h6>等候推薦人填寫完成</h6>
		    已有 2 封推薦信完成填寫，1 封推薦信尚未開啟，1封推薦信填寫中
		</div>
		<div class="document-item">
			<div class="document-hd">
				<div class="title-wrap">
                    <h4>3. 上傳繳交文件</h4>
                    <a href="#" class="btn-floating btn-sm btn-info" title="檢視上傳文件"><i class="fa fa-file-text-o"></i></a>
				</div>
				<p>列印各系所的申請文件</p>
			</div>
			<div class="document-ft">
				<span class="badge badge-success">完成</span>
			</div>
		</div>
	</div>
	<div class="form-action">
		<a href="/" class="btn btn-default">送出審查</a>
	</div>
</div>