<!-- oia-yuntech: S4 預覽 -->

<div class="container">
	
	<div class="step-bar four-step">
		<ul>
			<li class="done">
				<span>
					<span class="step">1</span>
					<h4>申請表</h4>
					<p class="brief">填寫線上申請表</p>
				</span>
			</li>
			<li class="done">
				<span>
					<span class="step">2</span>
					<h4>推薦信</h4>
					<p class="brief">設定各申請系所推薦人</p>
				</span>
			</li>
			<li class="done">
				<span>
					<span class="step">3</span>
					<h4>上傳文件</h4>
					<p class="brief">上傳各系所申請文件</p>
				</span>
			</li>
			<li class="active">
				<span>
					<span class="step">4</span>
					<h4>預覽及送出</h4>
					<p class="brief">預覽並送出申請</p>
				</span>
			</li>
		</ul>
	</div>
	
	<div class="step-container mb-5">
		<p class="mb-3">請確認下列資料無誤後送出審查</p>
		
		<div style="height: 50vh;"><!-- 測試假區塊 -->

			預覽資料

		</div>
		
	</div>
	
	<div class="text-center">
		<a href="/" class="btn btn-link">上一步</a>
		<a href="/" class="btn btn-default">送出審查</a>
	</div>
</div>

