<!-- oia-yuntech: S2 推薦信 -->

<div class="container">
	
	<div class="step-bar four-step">
		<ul>
			<li class="done">
				<span>
					<span class="step">1</span>
					<h4>申請表</h4>
					<p class="brief">填寫線上申請表</p>
				</span>
			</li>
			<li class="active">
				<span>
					<span class="step">2</span>
					<h4>推薦信</h4>
					<p class="brief">設定各申請系所推薦人</p>
				</span>
			</li>
			<li>
				<span>
					<span class="step">3</span>
					<h4>上傳文件</h4>
					<p class="brief">上傳各系所申請文件</p>
				</span>
			</li>
			<li>
				<span>
					<span class="step">4</span>
					<h4>預覽及送出</h4>
					<p class="brief">預覽並送出申請</p>
				</span>
			</li>
		</ul>
	</div>
	
    <div class="awall">
        <p><%= lorem_sentences(3) %></p>
        <p><%= lorem_sentences(3) %></p>
    </div>
	
	<form>

		<div class="data-block">
			<div class="data-head">
			    <h5>推薦人 1</h5>
			</div>
            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <label for="referrerName"><span class="required">*</span>姓名</label>
                        <input type="text" class="form-control" id="referrerName" placeholder="">
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label for="referrerRelationship">關係</label>
                        <input type="text" class="form-control" id="referrerRelationship" placeholder="">
                    </div>
                </div>
            </div>
			<div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <label for="referrerEmployment">職業</label>
                        <input type="text" class="form-control" id="referrerEmployment" placeholder="">
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label for="referrerPosition">職位</label>
                        <input type="text" class="form-control" id="referrerPosition" placeholder="">
                    </div>
                </div>
            </div>
			<div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <label>City/Country</label>
                        <select class="browser-default custom-select">
                            <option selected>請選擇</option>
                            <option value="波斯尼亞和黑塞哥維那">波斯尼亞和黑塞哥維那</option>
                            <option value="克羅埃西亞">克羅埃西亞</option>
                            <option value="捷克共和國">捷克共和國</option>
                        </select>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label for="referrerEmail">電子郵件</label>
                        <input type="email" class="form-control" id="referrerEmail" placeholder="">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="">聯絡電話</label>
                <div class="form-row">
                    <div class="col-2">
                        <input type="text" class="form-control" placeholder="國碼">
                    </div>
                    <div class="col-2">
                        <input type="text" class="form-control" placeholder="區碼">
                    </div>
                    <div class="col-8">
                        <input type="text" class="form-control" placeholder="號碼">
                    </div>
                </div>
            </div>
		</div>
		
		<div class="data-block">
			<div class="data-head">
			    <h5>推薦人 2</h5>
				<a href="#" title="刪除推薦人" class="btn-delete"><i class="fa fa-times"></i></a>
			</div>
            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <label for="referrerName"><span class="required">*</span>姓名</label>
                        <input type="text" class="form-control" id="referrerName" placeholder="">
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label for="referrerRelationship">關係</label>
                        <input type="text" class="form-control" id="referrerRelationship" placeholder="">
                    </div>
                </div>
            </div>
			<div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <label for="referrerEmployment">職業</label>
                        <input type="text" class="form-control" id="referrerEmployment" placeholder="">
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label for="referrerPosition">職位</label>
                        <input type="text" class="form-control" id="referrerPosition" placeholder="">
                    </div>
                </div>
            </div>
			<div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <label>City/Country</label>
                        <select class="browser-default custom-select">
                            <option selected>請選擇</option>
                            <option value="波斯尼亞和黑塞哥維那">波斯尼亞和黑塞哥維那</option>
                            <option value="克羅埃西亞">克羅埃西亞</option>
                            <option value="捷克共和國">捷克共和國</option>
                        </select>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label for="referrerEmail">電子郵件</label>
                        <input type="email" class="form-control" id="referrerEmail" placeholder="">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="">聯絡電話</label>
                <div class="form-row">
                    <div class="col-2">
                        <input type="text" class="form-control" placeholder="國碼">
                    </div>
                    <div class="col-2">
                        <input type="text" class="form-control" placeholder="區碼">
                    </div>
                    <div class="col-8">
                        <input type="text" class="form-control" placeholder="號碼">
                    </div>
                </div>
            </div>
		</div>

        <a href="#" class="add-btn">
            <span class="btn btn-sm btn-blue-grey btn-rounded waves-effect waves-light"><i class="fa fa-plus"></i></span>
            <span class="text-black-50">新增推薦人</span>
        </a>

		<div class="form-action">
			<a href="#" class="btn btn-link">上一步</a>
			<a href="#" class="btn btn-default">儲存</a>
			<a href="#" class="btn btn-link">下一步</a>
		</div>
	</form>
</div>

















































