<!-- oia-yuntech: 推薦信 - 新增其他推薦人 -->

<div class="container">

	<form>
		<div class="data-block">
			<div class="data-head">
			    <h5>新增推薦人</h5>
			</div>
            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <label for="referrerName"><span class="required">*</span>姓名</label>
                        <input type="text" class="form-control" id="referrerName" placeholder="">
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label for="referrerRelationship">關係</label>
                        <input type="text" class="form-control" id="referrerRelationship" placeholder="">
                    </div>
                </div>
            </div>
			<div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <label for="referrerEmployment">職業</label>
                        <input type="text" class="form-control" id="referrerEmployment" placeholder="">
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label for="referrerPosition">職位</label>
                        <input type="text" class="form-control" id="referrerPosition" placeholder="">
                    </div>
                </div>
            </div>
			<div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <label>City/Country</label>
                        <select class="browser-default custom-select">
                            <option selected>請選擇</option>
                            <option value="波斯尼亞和黑塞哥維那">波斯尼亞和黑塞哥維那</option>
                            <option value="克羅埃西亞">克羅埃西亞</option>
                            <option value="捷克共和國">捷克共和國</option>
                        </select>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label for="referrerEmail">電子郵件</label>
                        <input type="email" class="form-control" id="referrerEmail" placeholder="">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="">聯絡電話</label>
                <div class="form-row">
                    <div class="col-2">
                        <input type="text" class="form-control" placeholder="國碼">
                    </div>
                    <div class="col-2">
                        <input type="text" class="form-control" placeholder="區碼">
                    </div>
                    <div class="col-8">
                        <input type="text" class="form-control" placeholder="號碼">
                    </div>
                </div>
            </div>
		</div>
		
		<div class="form-action">
			<a href="application_s2_backup.html" class="btn btn-default">送出</a>
		</div>
	</form>
</div>

















































