<!-- oia-yuntech: 選擇入學管道 -->

<div class="container">
	<h4 class="block-title">請選擇入學管道</h4>
	<p>請點選下列入學管道</p>
	<form>
        <div class="row mt-4 mb-5">
            <div class="col-6">
                <div class="scheme-wrap">
					<h3>新生入學</h3>
                    <div class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input" id="schemeNewbie" name="schemeSelect">
                        <label class="custom-control-label" for="schemeNewbie">Default unchecked</label>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="scheme-wrap">
					<h3>雙聯學位生</h3>
                    <div class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input" id="schemeOne" name="schemeSelect">
                        <label class="custom-control-label" for="schemeOne"><%= lorem_sentences(1) %></label>
                    </div>
                    <div class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input" id="schemeTwo" name="schemeSelect">
                        <label class="custom-control-label" for="schemeTwo"><%= lorem_sentences(1) %></label>
                    </div>
                    <div class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input" id="schemeThree" name="schemeSelect">
                        <label class="custom-control-label" for="schemeThree"><%= lorem_sentences(1) %></label>
                    </div>
                </div>
            </div>
        </div>
		<div class="form-action">
			<a href="/" class="btn btn-default">下一步</a>
		</div>
	</form>
</div>

