
// `Base

$body_background:       #fff;
$base_font_size:        1rem;
$base_line_height:      1.5;
$latin-sans-serif:      "Helvetica Neue", Helvetica, Arial;
$base_border_radius:    0;
$base_border_color:     #e0e0e0;
$bg_border_color:       #ebebeb;
$table_border_color:    #efefef;
$darkgray_color:        #303235;
$warning_color:         #f34458;
$lightgray_color:       #999;

// `Main Color

$main_color:            #0d6efd;;
$main_lighten_color:    lighten(desaturate($main_color, 10), 20);
$secondary_color:       #7952b3;

// `Second Color

$second_color:          #ed9c33;
$second_lighten_color:  lighten($second_color, 6);
$denimblue_color:       #2564c0;
$cyanblue_color:        #25c0be;
$red_color:             #e22d2d;
$orange_color:          #f0851c;
$yellow_color:          #f3cc17;
$olive_color:           #c2df1f;
$magenta_color:         #c0259d;
$purple_color:          #7525ad;
$limegreen_color:       #25c054;
$alert_warning_color:   $orange_color;
$hightlight-color:      #fcf7e0;
$green:                 #28a745;

// `Link

$link:                  $main_color;
$link_hover:            darken($main_color, 15);

// `NavBar

$navTop_background:     $main_color;
$navTop_link:           #fff;
$nav_background:        #fff;
$nav_link:              #3e583e;

// `Form

$input_background:      #f6f6f6;
$input_border:          $base_border_color;

