<!-- template: 資料退補件 -->

<div class="container-lg">
	<div class="page-content d-block">
        <div>
            <div class="section-title">
                <h4>繳交文件上傳</h4>
            </div>
            <div class="upload-wrapper fluid-wrapper">
                <div class="row">
                    <div class="col-6">
                        <div class="upload-item">
                            <h4>計畫書</h4>
                            <p class="text-danger"><%= zh_lorem_paragraph %></p>
                            <div class="form-group">
                                  <input class="form-control" type="file" id="photoFile">
                            </div>
                            <div class="ft-action">
                                <div class="file-pill ms-0">
                                    <a href="#" target="_blank" class="filename" title="避免檔名過長有限制最大寬度.jpg">避免檔名過長有限制最大寬度避免檔名過長有限制最大寬度.jpg</a>
                                    <button type="button" class="btn btn-sm btn-rounded btn-dark" title="移除">
                                        <i class="fas fa-times"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="upload-item">
                            <h4>成果報告書</h4>
                            <p class="text-danger"><%= zh_lorem_paragraph %></p>
                            <div class="form-group">
                                  <input class="form-control" type="file" id="photoFile">
                            </div>
                            <div class="ft-action">
                                <div class="file-pill ms-0">
                                    <a href="#" target="_blank" class="filename" title="避免檔名過長有限制最大寬度.jpg">避免檔名過長有限制最大寬度避免檔名過長有限制最大寬度.jpg</a>
                                    <button type="button" class="btn btn-sm btn-rounded btn-dark" title="移除">
                                        <i class="fas fa-times"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="form-action">
            <button type="button" class="btn btn-lg btn-primary">送出申請</button>
            <span class="backhome"><a href="#" class="btn btn-lg btn-link"><i class="fas fa-long-arrow-alt-left"></i> 回申請首頁</a></span>
        </div>
        
	</div>
</div>



<% content_for :js do %>

<% end %>
