<!-- template: 申請 - 優華語計畫申請表 -->

<div class="container-lg">
	<div class="page-content d-block">
        <div class="project-title">
            <h3><span>112年教育部補助大學校院推動臺灣優華語計畫申請表</span></h3>
        </div>
        <div class="mb-8">
            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <label for="formControlInput1" class="form-label">申請學校</label>
                        <input type="text" class="form-control" id="formControlInput1" value="國立成功大學" disabled readonly>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label for="formControlInput2" class="form-label"><span class="required">*</span>計畫名稱</label>
                        <input type="text" class="form-control" id="formControlInput2" value="112年第1季優華語計畫" disabled readonly>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label for="formControlInput3" class="form-label"><span class="required">*</span>計畫主持人</label>
                        <input type="text" class="form-control" id="formControlInput3">
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label for="formControlInput4" class="form-label"><span class="required">*</span>執行單位</label>
                        <input type="text" class="form-control" id="formControlInput4">
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label for="formControlInput5" class="form-label"><span class="required">*</span>聯絡人</label>
                        <input type="text" class="form-control" id="formControlInput5" value="李曉明" disabled readonly>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label for="formControlInput6" class="form-label"><span class="required">*</span>聯絡人電話</label>
                        <input type="text" class="form-control" id="formControlInput6" value="02-23456789" disabled readonly>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label for="formControlInput7" class="form-label"><span class="required">*</span>聯絡人 Email</label>
                        <input type="email" class="form-control" id="formControlInput7" value="service@npm.gov.tw" disabled readonly>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="mb-8">
            <div class="section-title">
                <h4>合作學校</h4>
            </div>
            <table class="table align-middle">
                <thead>
                    <tr>
                        <th class="text-center" scope="col">期程年度</th>
                        <th class="text-center" scope="col">期程</th>
                        <th scope="col">合作學校</th>
                        <th scope="col">合作外國大學所在國家</th>
                        <th scope="col">所在州別/地區</th>
                        <th scope="col">教育部駐境外機構</th>
                        <th class="text-center" scope="col">是否結束合作註記</th>
                    </tr>
                </thead>
                <tbody>
                    <% (1..4).map do |i| %>
                    <tr>
                        <th class="text-center" scope="row">11<%= i %></th>
                        <td class="text-center"><%= i %></td>
                        <td>
                            <span class="d-block">路易斯安那傑為大學</span>
                            <span class="d-block">Xavier University of Louisiana (XULA)</span>
                        </td>
                        <td>美國</td>
                        <td>路易斯安那州</td>
                        <td>台北經濟文化代表處</td>
                        <td class="text-center">
                            <a href="#" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#schoolModal">修改</a>
                            <a href="#" class="btn btn-outline-danger">刪除</a>
                        </td>
                    </tr>
                    <% end %>
                </tbody>
            </table>
            <div class="text-start">
                <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#schoolModal"><i class="fas fa-plus"></i> 新增一所合作學校</button>
            </div>
        </div>
        
        <div class="mb-8">
            <div class="section-title">
                <h4>海外華語教學中心申請</h4>
            </div>
            <div class="row">
                <div class="col-6">

                    <!-- 與後面欄位連動有勞工程師處理 -->
                    <div class="form-group">
                        <label class="form-label"><span class="required">*</span>所屬合作學校</label>
                        <div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1" />
                                <label class="form-check-label" for="inlineRadio1">是</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2" />
                                <label class="form-check-label" for="inlineRadio2">否</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label class="form-label">是否申請設海外華語教學中心</label>
                        <div>
                            <select class="form-select" aria-label="Default select example">
                                <option selected>Open this select menu</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-start">
                <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#schoolModal"><i class="fas fa-plus"></i> 新增一所合作學校</button>
            </div>
        </div>
        
        <div class="form-action">
            <button type="button" class="btn btn-lg btn-primary">完成註記</button>
            <button type="button" class="btn btn-lg btn-primary">完成註記並往下一作業 <i class="fas fa-long-arrow-alt-right"></i></button>
            <span class="backhome"><a href="#" class="btn btn-lg btn-link"><i class="fas fa-long-arrow-alt-left"></i> 回申請首頁</a></span>
        </div>
        
	</div>
</div>


<!-- School Modal -->
<div class="modal fade" id="schoolModal" tabindex="-1" aria-labelledby="schoolModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="schoolModalLabel">新增合作學校</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h4>112 年第 3 期合作學校</h4>
                <div class="form-group">
                    <label for="modalSchoolForm1" class="form-label"><span class="required">*</span>合作外國大學</label>
                    <input type="text" class="form-control" id="modalSchoolForm1" />
                    <span class="form-text">中文名稱</span>
                </div>
                <div class="form-group">
                    <label for="modalSchoolForm2" class="form-label"><span class="required">*</span>公司英文合作外國大學代表名稱</label>
                    <input type="text" class="form-control" id="modalSchoolForm2" />
                    <span class="form-text">英文名稱</span>
                </div>
                <div class="form-group">
                    <label for="modalSchoolForm3" class="form-label"><span class="required">*</span>學校網址</label>
                    <input type="text" class="form-control" id="modalSchoolForm3" />
                </div>
                <div class="form-group">
                    <label for="" class="form-label"><span class="required">*</span>合作外國大學所在國家</label>
                    <select class="form-select" aria-label="Default select example">
                        <option selected>Open this select menu</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="" class="form-label">合作外國大學所在州別/地區</label>
                    <select class="form-select" aria-label="Default select example">
                        <option selected>Open this select menu</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="" class="form-label">教育部駐境外機構/地區</label>
                    <select class="form-select" aria-label="Default select example">
                        <option selected>Open this select menu</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">關閉</button>
                <button type="button" class="btn btn-primary">儲存</button>
            </div>
        </div>
    </div>
</div>


<% content_for :js do %>

<% end %>
