<!-- template: 申請 - 申請作業執行步驟 -->

<div class="container-lg">
	<div class="page-content d-block">        
        <div class="plan-notice-wrapper">
            <h4 class="fw-bold mb-3">受理申請開放時間</h4>
            <p class="project-calendar mb-0"><i class="far fa-calendar-alt"></i> 2024 年 02 月 10 日 12:00  至  2024 年 05 月 20 日 18:00</p>
        </div>
        
        <h4>計畫申請內容填寫</h4>
        
        <div class="plan-wrapper">
            <div class="item-plan">
                <div class="plan-hd">
                    <span>未完成</span>
                </div>
                <div class="plan-bd">
                    <h5 class="fw-bold">優華語計畫申請表填寫</h5>
                    <p>配合歐美地區國際情勢發展，為持續深耕、推廣臺灣優質華語文教育，向美歐地區展現臺灣優質軟實力</p>
                    <a href="#" class="btn btn-dark">前往 <i class="fas fa-long-arrow-alt-right"></i></a>
                </div>
            </div>
            <div class="item-plan done">
                <div class="plan-hd">
                    <span>已完成</span>
                </div>
                <div class="plan-bd">
                    <h5 class="fw-bold">經費規劃</h5>
                    <p>除選送華語教師及教學助理赴外國學校進行華語文教學外，教育部「臺灣優華語計畫」亦提供獎學金，鼓勵海外學生來臺灣學華語的同時，協助臺灣中、小學進行英語教學</p>
                    <a href="#" class="btn btn-dark">前往 <i class="fas fa-long-arrow-alt-right"></i></a>
                </div>
            </div>
            <div class="item-plan">
                <div class="plan-hd">
                    <span>未完成</span>
                </div>
                <div class="plan-bd">
                    <h5 class="fw-bold">申請文件上傳</h5>
                    <p>讓外國學生得以沉浸於華語文教學場域，深刻體會華語、華人文化之美</p>
                    <a href="#" class="btn btn-dark">前往 <i class="fas fa-long-arrow-alt-right"></i></a>
                </div>
            </div>
        </div>
        
        <div class="form-action">
            <button type="submit" class="btn btn-lg btn-primary">送出計畫書申請</button>
        </div>
        
	</div>
</div>

<% content_for :js do %>

<% end %>
