<!-- template: 申請 - 申請文件上傳 -->

<div class="container-lg">
	<div class="page-content d-block">
        <div class="project-title">
            <h3><span>112年教育部補助大學校院推動臺灣優華語計畫申請表</span></h3>
        </div>
        <div>
            <div class="section-title">
                <h4>繳交文件上傳</h4>
            </div>
            <div class="upload-wrapper fluid-wrapper">
                <div class="row">
                    <div class="col-6">
                        <div class="upload-item">
                            <h4>計畫書</h4>
                            <p><%= zh_lorem_paragraph %></p>
                            <div class="form-group">
                                  <input class="form-control" type="file" id="photoFile">
                            </div>
                            <div class="ft-action">
                                <div class="file-pill ms-0">
                                    <!-- 選擇檔案即上傳，省略點擊按鈕動作 -->
                                    <!-- 點擊 <a> 可預覽 -->
                                    <!-- 避免檔名過長有限制最大寬度 240px，超出時會字元會省略，切記標籤加上 title -->
                                    <a href="#" target="_blank" class="filename" title="避免檔名過長有限制最大寬度.jpg">避免檔名過長有限制最大寬度避免檔名過長有限制最大寬度.jpg</a>
                                    <button type="button" class="btn btn-sm btn-rounded btn-dark" title="移除">
                                        <i class="fas fa-times"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="upload-item">
                            <h4>經費申請表</h4>
                            <p><%= zh_lorem_paragraph %></p>
                            <div class="form-group">
                                  <input class="form-control" type="file" id="photoFile">
                            </div>
                            <div class="ft-action">
                                <div class="file-pill ms-0">
                                    <!-- 避免檔名過長有限制最大寬度 240px，超出時會字元會省略，切記標籤加上 title -->
                                    <!-- click <a> 可預覽 -->
                                    <a href="#" target="_blank" class="filename" title="避免檔名過長有限制最大寬度.jpg">避免檔名過長有限制最大寬度避免檔名過長有限制最大寬度.jpg</a>
                                    <button type="button" class="btn btn-sm btn-rounded btn-dark" title="移除">
                                        <i class="fas fa-times"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="upload-item">
                            <h4>成果報告書</h4>
                            <p><%= zh_lorem_paragraph %></p>
                            <div class="form-group">
                                  <input class="form-control" type="file" id="photoFile">
                            </div>
                            <div class="ft-action">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="form-action">
            <button type="button" class="btn btn-lg btn-primary">預覽申請內容</button>
            <span class="backhome"><a href="#" class="btn btn-lg btn-link"><i class="fas fa-long-arrow-alt-left"></i> 回申請首頁</a></span>
        </div>
        
	</div>
</div>



<% content_for :js do %>

<% end %>
