<!-- template: 海外教學中心績效 - 基本資料 -->

<div class="container-lg">
    <div class="project-title performance-title">
        <h3><span>奧本大學海外教學中心績效</h3>
    </div>
</div>

<div class="container-lg">
	<div class="page-content d-block">
        <div class="overseas-basic">
            <div class="mb-5">
                <label class="form-label fw-bold h5">是否已於合作學校完成海外華語教學中心掛牌</label>
                <div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="hangUpOptions" id="hangUpRadio1" value="option1" />
                        <label class="form-check-label" for="hangUpRadio1">是</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="hangUpOptions" id="hangUpRadio2" value="option2" />
                        <label class="form-check-label" for="hangUpRadio2">否</label>
                    </div>
                </div>
            </div>

            <div class="affirmative-gearing">
                <div class="row mb-4">
                    <div class="col-6">
                        <div class="form-group">
                            <label for="hangUpForm1" class="form-label">掛牌時間</label>
                            <input type="date" class="form-control" id="hangUpForm1" name="trip-start1" value="2024-01-20" min="2024-01-01" max="2024-12-31" />
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="mb-4">
                            <label for="hangUpForm2" class="form-label">海外華語教學中心的中文名稱</label>
                            <input type="text" class="form-control" id="hangUpForm2" />
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="mb-4">
                            <label for="hangUpForm3" class="form-label">海外華語教學中心的英文名稱</label>
                            <input type="text" class="form-control" id="hangUpForm3" />
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="mb-4">
                            <label class="form-label">是否派員至海外華語教學中心</label>
                            <div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="hangUpPersonnel" id="personnelRadio1" value="option1" />
                                    <label class="form-check-label" for="personnelRadio1">是</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="hangUpPersonnel" id="personnelRadio2" value="option2" />
                                    <label class="form-check-label" for="personnelRadio2">否</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="mb-8">
                    <div class="section-title">
                        <h4>海外華語教學中心主要負責人</h4>
                    </div>
                    <div class="d-flex align-items-center mb-3">
                        <span><label class="form-label mb-0 me-3" for="principalForm">負責人人數</label></span>
                        <span><input type="number" min="1" max="100" class="form-control" id="principalForm" /></span>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-hover text-nowrap text-center align-middle">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>負責人姓名</th>
                                    <th>所屬單位</th>
                                    <th>原聘職稱</th>
                                    <th>中心職稱</th>
                                    <th>國籍</th>
                                    <th>社會性別</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% (1..4).map do |i| %>
                                <tr>
                                    <td><a href="#" class="btn btn-sm btn-outline-primary" data-bs-toggle="modal" data-bs-target="#scholarshipModal">編輯</a></td>
                                    <td><%= zh_lorem_name %></td>
                                    <td>臺灣</td>
                                    <td>華語教師</td>
                                    <td>華語教師</td>
                                    <td>臺灣</td>
                                    <td>男</td>
                                </tr>
                                <% end %>
                            </tbody>
                        </table>
                    </div>
                </div>
                
                <div>
                    <div class="section-title">
                        <h4>海外華語教學中心專案人員</h4>
                    </div>
                    <div class="d-flex align-items-center mb-3">
                        <span><label class="form-label mb-0 me-3" for="projectForm">人數</label></span>
                        <span><input type="number" min="1" max="100" class="form-control" id="projectForm" /></span>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-hover text-nowrap text-center align-middle">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>負責人姓名</th>
                                    <th>所屬單位</th>
                                    <th>原聘職稱</th>
                                    <th>中心職稱</th>
                                    <th>國籍</th>
                                    <th>社會性別</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% (1..4).map do |i| %>
                                <tr>
                                    <td><a href="#" class="btn btn-sm btn-outline-primary" data-bs-toggle="modal" data-bs-target="#scholarshipModal">編輯</a></td>
                                    <td><%= zh_lorem_name %></td>
                                    <td>臺灣</td>
                                    <td>華語教師</td>
                                    <td>華語教師</td>
                                    <td>臺灣</td>
                                    <td>男</td>
                                </tr>
                                <% end %>
                            </tbody>
                        </table>
                    </div>
                </div>
                
                <div class="form-action">
                    <button type="submit" class="btn btn-lg btn-primary">儲存</button>
                </div>
            </div>
            
            <div class="negate-gearing">
                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <label for="hangUpFormNo" class="form-label">預計掛牌時間</label>
                            <input type="date" class="form-control" id="hangUpFormNo" name="trip-start1" value="2024-01-20" min="2024-01-01" max="2024-12-31" />
                        </div>
                    </div>
                </div>
                <div class="form-action">
                    <button type="submit" class="btn btn-lg btn-primary">儲存</button>
                </div>
            </div>
        </div>
	</div>
</div>



<% content_for :js do %>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        // 取得 radio 按鈕元素
        var hangUpRadioButtons = document.querySelectorAll('input[name="hangUpOptions"]');

        // 取得 .affirmative-gearing 和 .negate-gearing 元素
        var affirmativeGearing = document.querySelector('.affirmative-gearing');
        var negateGearing = document.querySelector('.negate-gearing');

        // 添加事件監聽器
        hangUpRadioButtons.forEach(function(hangUpRadioButton) {
            hangUpRadioButton.addEventListener('change', function() {
                // 檢查選中的 radio 按鈕的值
                if (hangUpRadioButton.value === 'option1') {
                    // 顯示 .affirmative-gearing，隱藏 .negate-gearing
                    affirmativeGearing.style.display = 'block';
                    negateGearing.style.display = 'none';
                } else {
                    // 顯示 .negate-gearing，隱藏 .affirmative-gearing
                    negateGearing.style.display = 'block';
                    affirmativeGearing.style.display = 'none';
                }
            });
        });
    });
</script>

<% end %>
