<!-- template: 績效 - 選任華語教學赴任情形 -->

<div class="container-lg">
    <div class="project-title performance-title">
        <h3><span>年度 112，第 2 季績效回報</span></h3>
        <div class="university">
            <span class="ch">普林斯頓大學</span>
            <span class="en">Princeton University</span>
        </div>
        <div class="university">
            <span class="ch">麻省理工學院</span>
            <span class="en">Massachusetts Institute of Technology</span>
        </div>
    </div>
</div>

<div class="container-lg">
	<div class="page-content performance-content">
	    <aside class="aside">
			<div class="scrollbar-inner">
		        <div class="sidenav">
                    <ul class="side-navigation menu-item">
                        <li>
							<a class="nav-item" href="#">
							    <span class="link-inner">基本資料</span>
							</a>
						</li>
						<li>
							<a class="nav-item current" href="#">
								<span class="link-inner">選任華語教學赴任情形</span>
							</a>
						</li>
						<li>
							<a class="nav-item" href="#">
								<span class="link-inner">優華語獎學金生研習情形</span>
							</a>
						</li>
						<li>
							<a class="nav-item" href="#">
								<span class="link-inner">大手攜小手辦理情形</span>
							</a>
						</li>
						<li>
							<a class="nav-item" href="#">
								<span class="link-inner">推廣華語文測驗</span>
							</a>
						</li>
                    </ul>
				</div>
			</div>
            <div class="procedures_nav-ft">
                <a href="" class="btn btn-lg btn-block btn-primary">送出本季績效回報</a>
                <!--p class="form-text text-end mt-3">所填申請資訊可於申請截止前修改，一旦「送出申請」後則無法修改。</p-->
            </div>
		</aside>
		<main class="main">
            <div class="mb-8">
                <div class="section-title">
                    <h4>前一季華語教學人員赴任人員清單</h4>
                </div>
                <div class="table-responsive">
                    <table class="table table-hover text-nowrap align-middle">
                        <thead>
                            <tr>
                                <th>姓名</th>
                                <th>社會性別</th>
                                <th>身分別</th>
                                <th class="text-center">聘期開始年月</th>
                                <th class="text-center">聘期結束年月</th>
                                <th class="text-center">是否已赴任</th>
                                <th class="text-center">華語教學人才庫登錄資訊</th>
                                <th>課堂使用教材</th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr>
                                <td><%= zh_lorem_name %></td>
                                <td>男性</td>
                                <td>華語教師</td>
                                <td class="text-center">2022-01</td>
                                <td class="text-center">2024-06</td>
                                <td class="text-center">否</td>
                                <td class="text-center">否</td>
                                <td class="text-wrap">華語文研習教材, 繁體中文研習教材</td>
                            </tr>

                            <% (1..4).map do |i| %>
                            <tr>
                                <td><%= zh_lorem_name %></td>
                                <td>男性</td>
                                <td>華語教師</td>
                                <td class="text-center">2022-01</td>
                                <td class="text-center">2024-06</td>
                                <td class="text-center">否</td>
                                <td class="text-center">否</td>
                                <td class="text-wrap">短期華語文研習團</td>
                            </tr>
                            <% end %>
                        </tbody>
                    </table>
                </div>
            </div>
            <div>
                <div class="section-title">
                    <h4>華語教學人員赴任人員清單</h4>
                </div>
                <div class="table-responsive">
                    <table class="table table-hover text-nowrap align-middle">
                        <thead>
                            <tr>
                                <th></th>
                                <th>姓名</th>
                                <th>社會性別</th>
                                <th>身分別</th>
                                <th class="text-center">聘期開始年月</th>
                                <th class="text-center">聘期結束年月</th>
                                <th class="text-center">是否已赴任</th>
                                <th class="text-center">華語教學人才庫登錄資訊</th>
                                <th>課堂使用教材</th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr>
                                <td>
                                    <a href="#" class="btn btn-sm btn-outline-primary" data-bs-toggle="modal" data-bs-target="#takeOfficeModal">編輯</a>
                                    <a href="#" class="btn btn-sm btn-outline-danger">刪除</a>
                                </td>
                                <td><%= zh_lorem_name %></td>
                                <td>男性</td>
                                <td>華語教師</td>
                                <td class="text-center">2022-01</td>
                                <td class="text-center">2024-06</td>
                                <td class="text-center">否</td>
                                <td class="text-center">否</td>
                                <td class="text-wrap">華語文研習教材, 繁體中文研習教材</td>
                            </tr>

                            <% (1..4).map do |i| %>
                            <tr>
                                <td>
                                    <a href="#" class="btn btn-sm btn-outline-primary" data-bs-toggle="modal" data-bs-target="#takeOfficeModal">編輯</a>
                                    <a href="#" class="btn btn-sm btn-outline-danger">刪除</a>
                                </td>
                                <td><%= zh_lorem_name %></td>
                                <td>男性</td>
                                <td>華語教師</td>
                                <td class="text-center">2022-01</td>
                                <td class="text-center">2024-06</td>
                                <td class="text-center">否</td>
                                <td class="text-center">否</td>
                                <td class="text-wrap">短期華語文研習團</td>
                            </tr>
                            <% end %>
                        </tbody>
                    </table>
                </div>
                <div class="text-start">
                    <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#takeOfficeModal"><i class="fas fa-plus"></i> 新增一筆人員</button>
                </div>
            </div>
		</main>
	</div>
</div>

<!-- Take office Modal -->
<div class="modal fade" id="takeOfficeModal" tabindex="-1" aria-labelledby="takeOfficeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="takeOfficeModalLabel">建立華語赴任教學人員</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    
                    <div class="col-12">
                        <div class="mb-4">
                            <label for="takeOfficeForm1" class="form-label"><span class="required">*</span>姓名</label>
                            <input type="text" class="form-control" id="takeOfficeForm1" />
                        </div>
                    </div>
                    
                    <div class="col-6">
                        <div class="mb-4">
                            <label class="form-label"><span class="required">*</span>社會性別</label>
                            <div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="genderOptions" id="genderRadio1" value="option1" />
                                    <label class="form-check-label" for="genderRadio1">男性</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="genderOptions" id="genderRadio2" value="option2" />
                                    <label class="form-check-label" for="genderRadio2">女性</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="genderOptions" id="genderRadio3" value="option3" />
                                    <label class="form-check-label" for="genderRadio3">其他</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-6">
                        <div class="mb-4">
                            <label class="form-label"><span class="required">*</span>身分別</label>
                            <div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="separationOptions" id="separationRadio1" value="option1" />
                                    <label class="form-check-label" for="separationRadio1">華語教師</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="separationOptions" id="separationRadio2" value="option2" />
                                    <label class="form-check-label" for="separationRadio2">華語教學助理</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-6">
                        <div class="mb-4">
                            <label class="form-label"><span class="required">*</span>聘期開始年月</label>
                            <div class="d-flex align-items-center">
                                <span><input type="text" class="form-control" /></span>
                                <span class="ps-1 pe-3">年</span>
                                <span><input type="text" class="form-control" /></span>
                                <span class="ps-1">月</span>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-6">
                        <div class="mb-4">
                            <label class="form-label"><span class="required">*</span>聘期結束年月</label>
                            <div class="d-flex align-items-center">
                                <span><input type="text" class="form-control" /></span>
                                <span class="ps-1 pe-3">年</span>
                                <span><input type="text" class="form-control" /></span>
                                <span class="ps-1">月</span>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-6">
                        <div class="mb-4">
                            <label class="form-label"><span class="required">*</span>是否已赴任</label>
                            <div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="alreadyOptions" id="alreadyRadio1" value="option1" />
                                    <label class="form-check-label" for="alreadyRadio1">是</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="alreadyOptions" id="alreadyRadio2" value="option2" />
                                    <label class="form-check-label" for="alreadyRadio2">否</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-6">
                        <div class="mb-4">
                            <label class="form-label"><span class="required">*</span>是否已於「華語教學人才庫」註冊並登錄聘任資訊</label>
                            <div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="logOptions" id="logRadio1" value="option1" />
                                    <label class="form-check-label" for="logRadio1">是</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="logOptions" id="logRadio2" value="option2" />
                                    <label class="form-check-label" for="logRadio2">否</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-12">
                        <div class="mb-4">
                            <label for="takeOfficeForm2" class="form-label"><span class="required">*</span>課堂使用教材</label>
                            <input type="text" class="form-control" id="takeOfficeForm2" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">關閉</button>
                <button type="button" class="btn btn-primary">儲存</button>
            </div>
        </div>
    </div>
</div>

<% content_for :js do %>

<% end %>
