<!-- template: 績效 - 大手攜小手辦理情形 -->

<div class="container-lg">
    <div class="project-title performance-title">
        <h3><span>年度 112，第 2 季績效回報</span></h3>
        <div class="university">
            <span class="ch">加州大學爾灣分校</span>
            <span class="en">University of California, Irvine</span>
        </div>
    </div>
</div>

<div class="container-lg">
	<div class="page-content performance-content">
	    <aside class="aside">
			<div class="scrollbar-inner">
		        <div class="sidenav">
                    <ul class="side-navigation menu-item">
                        <li>
							<a class="nav-item" href="#">
							    <span class="link-inner">基本資料</span>
							</a>
						</li>
						<li>
							<a class="nav-item" href="#">
								<span class="link-inner">選任華語教學赴任情形</span>
							</a>
						</li>
						<li>
							<a class="nav-item" href="#">
								<span class="link-inner">優華語獎學金生研習情形</span>
							</a>
						</li>
						<li>
							<a class="nav-item current" href="#">
								<span class="link-inner">大手攜小手辦理情形</span>
							</a>
						</li>
						<li>
							<a class="nav-item" href="#">
								<span class="link-inner">推廣華語文測驗</span>
							</a>
						</li>
                    </ul>
				</div>
			</div>
            <div class="procedures_nav-ft">
                <a href="" class="btn btn-lg btn-block btn-primary">送出本季績效回報</a>
            </div>
		</aside>
		<main class="main">
            <div class="mb-8">
                <div class="section-title">
                    <h4>前一季總優華語獎學金生人數</h4>
                </div>
                <div class="table-responsive">
                    <table class="table table-hover text-nowrap align-middle">
                        <thead>
                            <tr>
                                <th>模式</th>
                                <th>中小學全名</th>
                                <th class="text-center">是否簽訂合作<br>協議或備忘錄</th>
                                <th class="text-center">參加前<br>培訓時數</th>
                                <th>辦理培訓單位名稱</th>
                                <th class="text-center">參與之獎<br>學金生人次</th>
                                <th class="text-center">中小學<br>受惠人次</th>
                                <th>交流期間</th>
                                <th>執行頻率</th>
                                <th class="text-center">參與獎學金生<br>薪資標準</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>學伴制度</td>
                                <td>米爾頓中學</td>
                                <td class="text-center">否</td>
                                <td class="text-center">820</td>
                                <td>國教署</td>
                                <td class="text-center">8888</td>
                                <td class="text-center">666</td>
                                <td>2024-05-01 ~<br>2024-08-01</td>
                                <td><%= zh_lorem_words(10) %></td>
                                <td class="text-center">120,000</td>
                            </tr>
                            <% (1..3).map do |i| %>
                            <tr>
                                <td>赴合作學校擔任教學助理</td>
                                <td>安多佛菲利普中學</td>
                                <td class="text-center">是</td>
                                <td class="text-center">120</td>
                                <td>學生來臺之接待大學及合作之中小學</td>
                                <td class="text-center">999</td>
                                <td class="text-center">9999</td>
                                <td>2024-06-04 ~<br>2024-08-04</td>
                                <td><%= zh_lorem_words(10) %></td>
                                <td class="text-center">60,000</td>
                            </tr>
                            <% end %>
                        </tbody>
                    </table>
                </div>
            </div>
            <div>
                <div class="section-title">
                    <h4>本季新增優華語獎學金生人數</h4>
                </div>
                <div class="table-responsive">
                    <table class="table table-hover text-nowrap align-middle">
                        <thead>
                            <tr>
                                <th></th>
                                <th>模式</th>
                                <th>中小學全名</th>
                                <th class="text-center">是否簽訂合作<br>協議或備忘錄</th>
                                <th class="text-center">參加前<br>培訓時數</th>
                                <th>辦理培訓單位名稱</th>
                                <th class="text-center">參與之獎<br>學金生人次</th>
                                <th class="text-center">中小學<br>受惠人次</th>
                                <th>交流期間</th>
                                <th>執行頻率</th>
                                <th class="text-center">參與獎學金生<br>薪資標準</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <a href="#" class="btn btn-sm btn-outline-primary" data-bs-toggle="modal" data-bs-target="#companionModal">編輯</a>
                                    <a href="#" class="btn btn-sm btn-outline-danger">刪除</a>
                                </td>
                                <td>學伴制度</td>
                                <td>米爾頓中學</td>
                                <td class="text-center">否</td>
                                <td class="text-center">820</td>
                                <td>國教署</td>
                                <td class="text-center">8888</td>
                                <td class="text-center">666</td>
                                <td>2024-05-01 ~<br>2024-08-01</td>
                                <td><%= zh_lorem_words(10) %></td>
                                <td class="text-center">120,000</td>
                            </tr>
                            <% (1..3).map do |i| %>
                            <tr>
                                <td>
                                    <a href="#" class="btn btn-sm btn-outline-primary" data-bs-toggle="modal" data-bs-target="#companionModal">編輯</a>
                                    <a href="#" class="btn btn-sm btn-outline-danger">刪除</a>
                                </td>
                                <td>赴合作學校擔任教學助理</td>
                                <td>安多佛菲利普中學</td>
                                <td class="text-center">是</td>
                                <td class="text-center">120</td>
                                <td>學生來臺之接待大學及合作之中小學</td>
                                <td class="text-center">999</td>
                                <td class="text-center">9999</td>
                                <td>2024-06-04 ~<br>2024-08-04</td>
                                <td><%= zh_lorem_words(10) %></td>
                                <td class="text-center">60,000</td>
                            </tr>
                            <% end %>
                        </tbody>
                    </table>
                </div>
                <div class="text-start">
                    <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#companionModal"><i class="fas fa-plus"></i> 新增一筆</button>
                </div>
            </div>
		</main>
	</div>
</div>

<!-- Scholarship Student Modal -->
<div class="modal fade" id="companionModal" tabindex="-1" aria-labelledby="companionModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="companionModalLabel">大手攜小手辦理情形</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    
                    <div class="col-6">
                        <div class="mb-4">
                            <label class="form-label">大手攜小手模式</label>
                            <select class="form-select" aria-label="Default select example">
                                <option selected>Open this select menu</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                            </select>
                        </div>
                    </div>
                    
                    <div class="col-6">
                        <div class="mb-4">
                            <label for="companionForm1" class="form-label">合作大手攜小手之中小學全名</label>
                            <input type="text" class="form-control" id="companionForm1" />
                        </div>
                    </div>
                    
                    <div class="col-6">
                        <div class="mb-4">
                            <label class="form-label">是否與合作學校/單位簽訂合作協議或備忘錄</label>
                            <div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="memorandumOptions" id="memorandumRadio1" value="option1" />
                                    <label class="form-check-label" for="memorandumRadio1">否</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="memorandumOptions" id="memorandumRadio2" value="option2" />
                                    <label class="form-check-label" for="memorandumRadio2">是</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-6">
                        <div class="mb-4">
                            <label for="companionForm2" class="form-label">參加小手攜小手前培訓時數</label>
                            <input type="text" class="form-control" id="companionForm2" />
                        </div>
                    </div>
                    
                    <div class="col-6">
                        <div class="mb-4">
                            <label class="form-label">辦理培訓之單位名稱</label>
                            <select class="form-select" aria-label="Default select example">
                                <option selected>Open this select menu</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                            </select>
                        </div>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-6">
                        <div class="mb-4">
                            <label for="companionForm3" class="form-label">參與之獎學金生人次</label>
                            <input type="text" class="form-control" id="companionForm3" />
                        </div>
                    </div>
                    
                    <div class="col-6">
                        <div class="mb-4">
                            <label for="companionForm4" class="form-label">中小學受惠人次</label>
                            <input type="text" class="form-control" id="companionForm4" />
                        </div>
                    </div>
                    
                    <div class="col-6">
                        <div class="mb-4">
                            <label class="form-label">交流期間</label>
                            <div class="d-flex align-items-center">
                                <span class="flex-grow-1">
                                    <div>
                                        <input type="date" class="form-control" id="start1" name="trip-start1" value="2024-01-20" min="2024-01-01" max="2024-12-31" />
                                    </div>
                                </span>
                                <span class="px-2">~</span>
                                <span class="flex-grow-1">
                                    <div>
                                        <input type="date" class="form-control" id="end1" name="trip-end1" value="2024-01-20" min="2024-01-01" max="2024-12-31" />
                                    </div>
                                </span>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-12">
                        <div class="mb-4">
                            <label class="form-label">執行大手攜小手頻率</label>
                            <div class="d-flex align-items-center">
                                <span>每個月</span>
                                <span class="px-2">
                                    <input type="text" class="form-control" id="" />
                                </span>
                                <span>次，每次</span>
                                <span class="px-2">
                                    <input type="text" class="form-control" id="" />
                                </span>
                                <span>小時</span>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-6">
                        <div class="mb-4">
                            <label for="companionForm5" class="form-label">參與獎學金生薪資標準</label>
                            <input type="text" class="form-control" id="companionForm5" />
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">關閉</button>
                <button type="button" class="btn btn-primary">儲存</button>
            </div>
        </div>
    </div>
</div>

<% content_for :js do %>

<% end %>
