<!-- template: 績效 - 基本資料 -->

<div class="container-lg">
    <div class="project-title performance-title">
        <h3><span>年度 112，第 2 季績效回報</span></h3>
        <div class="university">
            <span class="ch">加州大學爾灣分校</span>
            <span class="en">University of California, Irvine</span>
        </div>
    </div>
</div>

<div class="container-lg">
	<div class="page-content performance-content">
	    <aside class="aside">
			<div class="scrollbar-inner">
		        <div class="sidenav">
                    <ul class="side-navigation menu-item">
                        <li>
							<a class="nav-item current" href="#">
							    <span class="link-inner">基本資料</span>
							</a>
						</li>
						<li>
							<a class="nav-item" href="#">
								<span class="link-inner">選任華語教學赴任情形</span>
							</a>
						</li>
						<li>
							<a class="nav-item" href="#">
								<span class="link-inner">優華語獎學金生研習情形</span>
							</a>
						</li>
						<li>
							<a class="nav-item" href="#">
								<span class="link-inner">大手攜小手辦理情形</span>
							</a>
						</li>
						<li>
							<a class="nav-item" href="#">
								<span class="link-inner">推廣華語文測驗</a></span>
							</a>
						</li>
                    </ul>
				</div>
			</div>
            <div class="procedures_nav-ft">
                <a href="" class="btn btn-lg btn-block btn-primary">送出本季績效回報</a>
                <!--p class="form-text text-end mt-3">所填申請資訊可於申請截止前修改，一旦「送出申請」後則無法修改。</p-->
            </div>
		</aside>
		<main class="main">
            <div class="mb-8">
                <div class="section-title">
                    <h4>填報人員資訊</h4>
                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <label for="performanceBasic1" class="form-label">填表人姓名</label>
                            <input type="text" class="form-control" id="performanceBasic1" value="張三丰" disabled readonly />
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label for="performanceBasic2" class="form-label">填表人所屬學校</label>
                            <input type="text" class="form-control" id="performanceBasic2" value="武當派歷史大學" disabled readonly />
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label for="performanceBasic3" class="form-label">填表人所屬單位</label>
                            <input type="text" class="form-control" id="performanceBasic3" />
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="section-title">
                    <h4>填報內容</h4>
                </div>
                <div class="form-group">
                    <label class="form-label">是否已與合作國外學校簽訂合作備忘錄</label>
                    <div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1" />
                            <label class="form-check-label" for="inlineRadio1">是</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2" />
                            <label class="form-check-label" for="inlineRadio2">否</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-action">
                <button type="submit" class="btn btn-lg btn-rounded btn-outline-primary">儲存</button>
            </div>
		</main>
	</div>
</div>



<% content_for :js do %>

<% end %>
