<!-- template: 績效 - 推廣華語文測驗 -->

<div class="container-lg">
    <div class="project-title performance-title">
        <h3><span>年度 112，第 2 季績效回報</span></h3>
        <div class="university">
            <span class="ch">加州大學爾灣分校</span>
            <span class="en">University of California, Irvine</span>
        </div>
    </div>
</div>

<div class="container-lg">
	<div class="page-content performance-content">
	    <aside class="aside">
			<div class="scrollbar-inner">
		        <div class="sidenav">
                    <ul class="side-navigation menu-item">
                        <li>
							<a class="nav-item" href="#">
							    <span class="link-inner">基本資料</span>
							</a>
						</li>
						<li>
							<a class="nav-item" href="#">
								<span class="link-inner">選任華語教學赴任情形</span>
							</a>
						</li>
						<li>
							<a class="nav-item" href="#">
								<span class="link-inner">優華語獎學金生研習情形</span>
							</a>
						</li>
						<li>
							<a class="nav-item" href="#">
								<span class="link-inner">大手攜小手辦理情形</span>
							</a>
						</li>
						<li>
							<a class="nav-item current" href="#">
								<span class="link-inner">推廣華語文測驗</a></span>
							</a>
						</li>
                    </ul>
				</div>
			</div>
            <div class="procedures_nav-ft">
                <a href="" class="btn btn-lg btn-block btn-primary">送出本季績效回報</a>
            </div>
		</aside>
		<main class="main">
            <div class="test-wrapper">
                <div class="wrap-item">
                    
                    <div>
                        <label class="form-label fw-bold">是否用華語文能力測驗「快篩系統」檢測合作學校學生華語能力</label>
                        <div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="quickOptions" id="quickRadioYes" value="option1" />
                                <label class="form-check-label" for="quickRadioYes">是</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="quickOptions" id="quickRadioNo" value="option2" />
                                <label class="form-check-label" for="quickRadioNo">否</label>
                            </div>
                        </div>
                    </div>
                    
                    <div class="mt-4 quick-gearing">
                        <div class="row">
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="performanceForm1" class="form-label">參與人數</label>
                                    <input type="text" class="form-control" id="performanceForm1" />
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="performanceForm2" class="form-label">成績符合CEFR A1-A2 之人數</label>
                                    <input type="text" class="form-control" id="performanceForm2" />
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="performanceForm3" class="form-label">成績符合CEFR B1-B2 之人數</label>
                                    <input type="text" class="form-control" id="performanceForm3" />
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="performanceForm4" class="form-label">成績符合CEFR C1-C2 之人數</label>
                                    <input type="text" class="form-control" id="performanceForm4" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="wrap-item">
                    
                    <div>
                        <label class="form-label fw-bold">是否與合作學校辦理華語文能力測驗</label>
                        <div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="cooperateOptions" id="cooperateRadio1" value="option1" />
                                <label class="form-check-label" for="cooperateRadio1">是</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="cooperateOptions" id="cooperateRadio2" value="option2" />
                                <label class="form-check-label" for="cooperateRadio2">否</label>
                            </div>
                        </div>
                    </div>
                    
                    <div class="mt-4 cooperate-gearing">
                        <div class="row">
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="performanceForm5" class="form-label">辦理華語文測驗之總場次</label>
                                    <input type="text" class="form-control" id="performanceForm5" />
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <label class="form-label">測驗型式</label>
                                    <div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1" />
                                            <label class="form-check-label" for="inlineCheckbox1">CAT 電腦化適性測驗</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2" />
                                            <label class="form-check-label" for="inlineCheckbox2">CBT 電腦測驗</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3" />
                                            <label class="form-check-label" for="inlineCheckbox3">紙本測驗</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="performanceForm6" class="form-label">辦理入門基礎 Band A的場次數</label>
                                    <input type="text" class="form-control" id="performanceForm6" />
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="performanceForm7" class="form-label">辦理入門基礎 Band B的場次數</label>
                                    <input type="text" class="form-control" id="performanceForm7" />
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="performanceForm8" class="form-label">辦理入門基礎 Band C的場次數</label>
                                    <input type="text" class="form-control" id="performanceForm8" />
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="performanceForm9" class="form-label">辦理適應性測驗的場次數</label>
                                    <input type="text" class="form-control" id="performanceForm9" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-action">
                <button type="submit" class="btn btn-lg btn-primary">儲存</button>
            </div>
		</main>
	</div>
</div>

<!-- Scholarship Student Modal -->
<div class="modal fade" id="companionModal" tabindex="-1" aria-labelledby="companionModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="companionModalLabel">大手攜小手辦理情形</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    
                    <div class="col-6">
                        <div class="mb-4">
                            <label class="form-label">大手攜小手模式</label>
                            <select class="form-select" aria-label="Default select example">
                                <option selected>Open this select menu</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                            </select>
                        </div>
                    </div>
                    
                    <div class="col-6">
                        <div class="mb-4">
                            <label for="companionForm1" class="form-label">合作大手攜小手之中小學全名</label>
                            <input type="text" class="form-control" id="companionForm1" />
                        </div>
                    </div>
                    
                    <div class="col-6">
                        <div class="mb-4">
                            <label class="form-label">是否與合作學校/單位簽訂合作協議或備忘錄</label>
                            <div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="memorandumOptions" id="memorandumRadio1" value="option1" />
                                    <label class="form-check-label" for="memorandumRadio1">否</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="memorandumOptions" id="memorandumRadio2" value="option2" />
                                    <label class="form-check-label" for="memorandumRadio2">是</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-6">
                        <div class="mb-4">
                            <label for="companionForm2" class="form-label">參加小手攜小手前培訓時數</label>
                            <input type="text" class="form-control" id="companionForm2" />
                        </div>
                    </div>
                    
                    <div class="col-6">
                        <div class="mb-4">
                            <label class="form-label">辦理培訓之單位名稱</label>
                            <select class="form-select" aria-label="Default select example">
                                <option selected>Open this select menu</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                            </select>
                        </div>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-6">
                        <div class="mb-4">
                            <label for="companionForm3" class="form-label">參與之獎學金生人次</label>
                            <input type="text" class="form-control" id="companionForm3" />
                        </div>
                    </div>
                    
                    <div class="col-6">
                        <div class="mb-4">
                            <label for="companionForm4" class="form-label">中小學受惠人次</label>
                            <input type="text" class="form-control" id="companionForm4" />
                        </div>
                    </div>
                    
                    <div class="col-6">
                        <div class="mb-4">
                            <label class="form-label">交流期間</label>
                            <div class="d-flex align-items-center">
                                <span class="flex-grow-1">
                                    <div>
                                        <input type="date" class="form-control" id="start1" name="trip-start1" value="2024-01-20" min="2024-01-01" max="2024-12-31" />
                                    </div>
                                </span>
                                <span class="px-2">~</span>
                                <span class="flex-grow-1">
                                    <div>
                                        <input type="date" class="form-control" id="end1" name="trip-end1" value="2024-01-20" min="2024-01-01" max="2024-12-31" />
                                    </div>
                                </span>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-12">
                        <div class="mb-4">
                            <label class="form-label">執行大手攜小手頻率</label>
                            <div class="d-flex align-items-center">
                                <span>每個月</span>
                                <span class="px-2">
                                    <input type="text" class="form-control" id="" />
                                </span>
                                <span>次，每次</span>
                                <span class="px-2">
                                    <input type="text" class="form-control" id="" />
                                </span>
                                <span>小時</span>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-6">
                        <div class="mb-4">
                            <label for="companionForm5" class="form-label">參與獎學金生薪資標準</label>
                            <input type="text" class="form-control" id="companionForm5" />
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">關閉</button>
                <button type="button" class="btn btn-primary">儲存</button>
            </div>
        </div>
    </div>
</div>

<% content_for :js do %>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        // 取得 radio 按鈕元素
        var radioButtons = document.querySelectorAll('input[name="quickOptions"]');

        // 取得 .quick-gearing 元素
        var quickGearing = document.querySelector('.quick-gearing');

        // 添加事件監聽器
        radioButtons.forEach(function(radioButton) {
            radioButton.addEventListener('change', function() {
                // 檢查選中的 radio 按鈕的值
                if (radioButton.value === 'option1') {
                    // 顯示 .quick-gearing
                    quickGearing.style.display = 'block';
                } else {
                    // 隱藏 .quick-gearing
                    quickGearing.style.display = 'none';
                }
            });
        });
    });
</script>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        // 取得 radio 按鈕元素
        var radioButtons = document.querySelectorAll('input[name="cooperateOptions"]');

        // 取得 .cooperate-gearing 元素
        var cooperateGearing = document.querySelector('.cooperate-gearing');

        // 添加事件監聽器
        radioButtons.forEach(function(radioButton) {
            radioButton.addEventListener('change', function() {
                // 檢查選中的 radio 按鈕的值
                if (radioButton.value === 'option1') {
                    // 顯示 .cooperate-gearing
                    cooperateGearing.style.display = 'block';
                } else {
                    // 隱藏 .cooperate-gearing
                    cooperateGearing.style.display = 'none';
                }
            });
        });
    });
</script>

<% end %>
