<!-- template: 績效 - 各季優華語計畫績效 -->

<div class="container-lg">
    <div class="project-title performance-title">
        <h3><span>年度 112，第 2 季績效回報</span></h3>
    </div>
</div>

<div class="container-lg">
	<div class="page-content d-block">
        <div class="performance-list">
            <% (1..1).map do |i| %>
            <a href="#" class="item-card">
                <h5>奧本大學<small>Auburn University</small></h5>
                <div class="schedule">
                    <span class="number">1</span>
                    <span>期程</span>
                </div>
                <div class="card-ft">
                    <span>前往填寫 <i class="fas fa-long-arrow-alt-right"></i></span>
                </div>
            </a>
            
            <a href="#" class="item-card">
                <h5>加州大學爾灣分校<small>University of California, Irvine</small></h5>
                <div class="schedule">
                    <span class="number">2</span>
                    <span>期程</span>
                </div>
                <div class="card-ft">
                    <span>前往填寫 <i class="fas fa-long-arrow-alt-right"></i></span>
                </div>
            </a>
            
            <a href="#" class="item-card">
                <h5>猶他科技大學<small>Utah Tech University</small></h5>
                <div class="schedule">
                    <span class="number">2</span>
                    <span>期程</span>
                </div>
                <div class="card-ft">
                    <span>前往填寫 <i class="fas fa-long-arrow-alt-right"></i></span>
                </div>
            </a>
            
            <a href="#" class="item-card">
                <h5>普林斯頓大學<small>Princeton University</small></h5>
                <h5>麻省理工學院<small>Massachusetts Institute of Technology</small></h5>
                <div class="schedule">
                    <span class="number">2</span>
                    <span>期程</span>
                </div>
                <div class="card-ft">
                    <span>前往填寫 <i class="fas fa-long-arrow-alt-right"></i></span>
                </div>
            </a>
            
            <a href="#" class="item-card">
                <h5>北卡羅來納大學教堂山分校<small>University of North Carolina at Chapel Hill</small></h5>
                <div class="schedule">
                    <span class="number">3</span>
                    <span>期程</span>
                </div>
                <div class="card-ft">
                    <span>前往填寫 <i class="fas fa-long-arrow-alt-right"></i></span>
                </div>
            </a>
            <% end %>
        </div>
        
	</div>
</div>



<% content_for :js do %>

<% end %>
