<footer class="footer container-responsive">
	<div class="container">
		<div class="footer-inner">
            <div class="contact">
                <h5>TIGP Office</h5>
				<div class="contact-num">
				    <p><i class="fa fa-phone"></i> +886-2-2789-8050</p>
					<p><i class="fa fa-fax"></i> +886-2-2785-8944</p>
				</div>
				<div class="contact-add">
				    <p><i class="fa fa-envelope"></i> <a href="#">tigp@gate.sinica.edu.tw</a></p>
					<p><i class="fa fa-map-marker"></i> No. 75, Lane 12, Section 2, Academia Road, Nankang Distract, <span class="wrap">Taipei 11529, Taiwan, R.O.C.</span></p>
				</div>
            </div>
			<div class="footer-bottom">
                <div class="browser-support">Browser support
                    <a href="https://www.google.com/intl/zh-TW/chrome/">Google Chrome</a>,
                    <a href="https://www.mozilla.org/zh-TW/firefox/new/">Firefox</a> or
                    <a href="https://www.microsoft.com/zh-tw/edge">IE10+</a>
                </div>
				<address>Copyright@Academia Sinica. All rights reserved.</address>
			</div>
		</div>
	</div>
</footer>
