<header class="header">
    <div class="container">
		<div class="header-wrap">
			<div class="brands">
				<a class="d-flex" href="index.html">
                    <div class="logo">
                        <h1 class="text-hide">Academia Sinica</h1>
                        <img class="h1-logo" src="../assets/logo@2x.png" />
						<img class="h2-logo" src="../assets/logo-tigp@2x.png" />
                    </div>
                    <div class="sub">Recommendation System</div>
				</a>
			</div>
		</div>
    </div>
</header>