<header class="header">
    <div class="container">
		<div class="header-wrap">
			<div class="brands">
				<a class="d-flex" href="index.html">
                    <div class="logo">
                        <h1 class="text-hide">Academia Sinica</h1>
                        <img class="h1-logo" src="../assets/logo@2x.png" />
						<img class="h2-logo" src="../assets/logo-tigp@2x.png" />
                    </div>
                    <div class="sub">On-Line Application</div>
				</a>
			</div>
			<div class="header-right">
                <div class="hd-links">
                    <a href="/application/qa.html">Ask Online</a>
                    <a href="/application/faq.html">FQA</a>
                </div>
				<div class="account">
				    <a href="../login/register.html">Register</a>
					<span class="px-1 grey-text">or</span>
					<a href="../login/login.html">Login</a>
				</div>
			</div>
		</div>
    </div>
</header>