<header class="header">
	<a href="#" class="js-toggle-right-slidebar js-toggle-slidebar">編輯</a>
    <div class="container">
		<div class="header-wrap">
			<div class="brands">
				<a class="d-flex" href="../home/index.html"><!-- 連結導回簡章首頁 -->
                    <div class="logo">
                        <h1 class="text-hide">Academia Sinica</h1>
                        <img class="h1-logo" src="../assets/logo@2x.png" />
						<img class="h2-logo" src="../assets/logo-tigp@2x.png" />
                    </div>
                    <div class="sub">On-Line Application</div>
				</a>
			</div>
			<div class="header-right">
                <div class="hd-links">
                    <a href="#">Ask Online</a>
                    <a href="#">FQA</a>
                </div>
				<div class="account">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Hi, Scarlett Johansson</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="#">Change password</a>
                        <a class="dropdown-item" href="#">Logout</a>
                    </div>
				</div>
			</div>
		</div>
    </div>
</header>