<form>
	<div class="row">
	    <div class="col-12 col-lg-6">
            <div class="form-group">
                <label for="refereeFirstName">First Name</label>
                <input type="text" class="form-control" id="refereeFirstName">
				<small class="form-text text-muted">Given Name</small>
            </div>
		</div>
		<div class="col-12 col-lg-6">
            <div class="form-group">
                <label for="refereeLastName">Last Name</label>
                <input type="text" class="form-control" id="refereeLastName">
				<small class="form-text text-muted">Family Name</small>
            </div>
		</div>
	</div>
    <div class="form-group">
        <label>Country</label>
        <div class="bootstrap-select-fullwidth">
            <select class="selectpicker" data-show-subtext="true" data-live-search="true">
                <option selected="">Please select country</option>
                <option data-subtext="Abkhazia">Abkhazia</option>
                <option data-subtext="Albania">Albania</option>
                <option data-subtext="Bosnia and Herzegovina">Bosnia and Herzegovina</option>
                <option data-subtext="Democratic Republic of the Congo">Democratic Republic of the Congo</option>
            </select>
        </div>
    </div>
	<div class="row">
	    <div class="col-12 col-lg-6">
            <div class="form-group">
                <label for="refereeOfficialEmail">Official E-mail Address</label>
                <input type="email" class="form-control" id="refereeOfficialEmail">
            </div>
		</div>
		<div class="col-12 col-lg-6">
            <div class="form-group">
                <label for="refereeOfficialWebsite">Official Website of Referee</label>
                <input type="text" class="form-control" id="refereeOfficialWebsite">
            </div>
		</div>
	</div>
    <div class="form-group">
        <label for="">Telephone Number</label>
        <div class="form-row">
            <div class="col-12 col-md-2 mb-1">
                <select class="browser-default custom-select">
                    <option selected="">Device</option>
                    <option value="mobile">Mobile</option>
                    <option value="landline">Landline</option>
                </select>
            </div>
            <div class="col-12 col-md-5 mb-1 bootstrap-select-fullwidth">
                <select class="selectpicker" data-show-subtext="true" data-live-search="true">
                    <option selected="">Country code</option>
                    <option data-subtext="Rep California">Tom Foolery</option>
                    <option data-subtext="Sen California">Bill Gordon</option>
                    <option data-subtext="Sen Massacusetts">Elizabeth Warren</option>
                    <option data-subtext="Rep Alabama">Mario Flores</option>
                    <option data-subtext="Rep Alaska">Don Young</option>
                    <option data-subtext="Rep California" disabled="disabled">Marvin Martinez</option>
                </select>
            </div>
            <div class="col-12 col-md-2 mb-1">
                <input type="text" class="form-control" id="" placeholder="Area code">
            </div>
            <div class="col-12 col-md-3 mb-1">
                <input type="text" class="form-control" id="" placeholder="Phone number">
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="refereePosition">Title/ Position</label>
        <input type="text" class="form-control" id="refereePosition">
    </div>
	<div class="row">
	    <div class="col-12 col-lg-6">
            <div class="form-group">
                <label for="refereeInstitute">Institute/ Company</label>
                <input type="text" class="form-control" id="refereeInstitute">
            </div>
		</div>
		<div class="col-12 col-lg-6">
		    <div class="form-group">
                <label for="refereeRelationship">Relationship to You</label>
                <input type="text" class="form-control" id="refereeRelationship">
            </div>
		</div>
	</div>
</form>



































