<header class="header">
	<div class="container">
        <div class="header-bar">
            <a href="#U" id="AU" name="U" title="右上方功能區塊" accesskey="U" tabindex="3">:::</a>
            <ul class="header-toolbar menu-item">
                <li><a href="#" title="臺灣大學">臺灣大學</a></li>
                <li><a href="#" title="學務處">學務處</a></li>
                <li><a href="#" title="聯絡我們">聯絡我們</a></li>
                <li><a href="#" title="常見問題">常見問題</a></li>
                <li><a href="#" title="網站地圖">網站地圖</a></li>
                <li><a href="#" title="切換英文語系">English</a></li>
            </ul>
        </div>
        <div class="header-wrap">
            <div class="brands">
                <a class="d-flex" href="index.html" title="國立臺灣大學 學生心理輔導中心" >
                    <div class="logo">
                        <h1 class="text-hide">國立臺灣大學</h1>
                        <img class="h1-logo" alt="學生心理輔導中心" src="../assets/scc-logo@2x.png" />
                        <img class="h1-calligraphy" alt="臺灣大學書法字" src="../assets/ntu-calligraphy-w.png" />
                    </div>
                    <div class="sub">
                        <span class="cht">學務處 | 學生心理輔導中心</span>
                        <span class="en">Student Counseling Center, Office of Student Affairs, NTU</span>
                    </div>
                </a>
            </div>
            <form class="search-form">
                <input class="form-control" type="text" placeholder="全站搜尋" aria-label="Search" title="全站搜尋" accesskey="S" tabindex="14">
            </form>
        </div>
        <nav class="navbar navbar-dark navbar-expand-lg">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <div class="header-bar mobile-only">
                    <ul class="header-toolbar menu-item">
                        <li><a href="#" title="臺灣大學">臺灣大學</a></li>
                        <li><a href="#" title="學務處">學務處</a></li>
                        <li><a href="#" title="聯絡我們">聯絡我們</a></li>
                        <li><a href="#" title="常見問題">常見問題</a></li>
                        <li><a href="#" title="網站地圖">網站地圖</a></li>
                        <li><a href="#" title="切換英文語系">English</a></li>
                    </ul>
                </div>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#" title="關於我們">關於我們</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" title="服務項目">服務項目</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" title="心靈小棧">心靈小棧</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" title="資源連結">資源連結</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" title="資源教室">資源教室</a>
                    </li>
                    <li class="nav-item mobile-only">
                        <form class="search-form">
                            <input class="form-control" type="text" placeholder="全站搜尋" aria-label="Search" title="全站搜尋" accesskey="S" tabindex="14">
                        </form>
                    </li>
                </ul>
            </div>
        </nav>
	</div>
</header>