<!-- template: apply.finish -->

<div class="container-lg">
	<div class="page-content d-block">
        
        <div class="general-note">
            <h4>注意事項 Note</h4>
            <ol>
                <li>請依海聯各地區簡章規定的報名時間完成繳費，列印繳費證明或收據並上傳至海聯報名系統。<br>Please complete the payment process which includes making the payment, printing out the Proof of Payment or Receipt and upload it onto University Entrance Committee for Overseas Chinese Students system by the application deadline for each country/area.</li>
                <li>審查費一經繳交，概不退還。包含申請未完成、放棄申請、申請資格不符、誤繳、重覆繳費等。<br>After the application fee has been paid, no refund will be given for any reason, including application withdrawal, failure to meet application requirements, accidental payment, or mistaken repeat payments.</li>
                <li>未繳交費用、或未完成上傳繳費證明之申請件，視同審查資格不符。<br>Applications with unpaid fees or failure to upload the proof of payment will not be processed.</li>
                <li>請以信用卡於線上完成繳費。國內亦可選擇ATM轉帳方式(請保留繳費證明並上傳)。<br>Please make your payment by online credit card. You may also do money transfer via ATMs if you are inside Taiwan.</li>
                <li>除新臺幣之外，不收受其他幣值，也不接受現金或支票。<br>Payment is only accepted in TWD. We do not accept other currencies, nor cash or checks sent by post. </li>
            </ol>
        </div>
        
        <section class="section">
            <div class="section-title">
                <h4>選擇系所 <small>Department Selection</small></h4>
            </div>
            <div class="table-responsive mb-4">
                <table class="table table-bordered align-middle mb-0">
                    <thead>
                        <tr>
                            <th></th>
                            <th>選擇系所 Department Selection</th>
                            <th class="text-end">費用 Cost</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th class="text-center">1</th>
                            <td>
                                <span class="d-block">(學士 Bachelor) 生物資源暨農學院/獸醫學系</span>
                                <span class="d-block">College of Bio-Resources & Agriculture/Department of Veterinary Medicine</span>
                            </td>
                            <td class="text-end">1500</td>
                        </tr>
                        <tr>
                            <th class="text-center">2</th>
                            <td>
                                <span class="d-block">(學士 Bachelor) 文學院/日本語文學系</span>
                                <span class="d-block">College of Liberal Arts/Department of Japanese Language and Literature</span>
                            </td>
                            <td class="text-end">1500</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="selection-fee">
                <div class="fee-start">
                    <span class="ch">您總共申請了 2 個系所</span>
                    <span class="en">You have applied for 1 department(s).</span>
                </div>
                <div class="fee-end">
                    <span class="ch">費用合計：新臺幣 <strong>1500</strong> 元整</span>
                    <span class="en">Application Fee: TWD 1500</span>
                </div>
            </div>
        </section>
        
        <section class="section mt-5">
            <div class="section-title">
                <h4>繳費作業 <small>Payment</small></h4>
            </div>

            <h4 class="mb-5">
                國立臺灣大學113學年度(2024/2025)僑生個人申請審查費繳費明細
                <small class="d-block">National Taiwan University 2024/2025 Application Fee Payment Details for Overseas Chinese Student</small>
            </h4>
            
            <div class="payment-detail">
                <ul class="menu-item">
                    <li>
                        <span class="label">繳款帳號 Order Number</span>
                        <span class="info">96169600153923</span>
                    </li>
                    <li>
                        <span class="label">繳費情形 Payment Status</span>
                        <span class="info">已繳費 completed</span>
                    </li>
                </ul>
            </div>
            <div class="payment-wrap">
                <span class="btn-wrap">
                    <a href="#" class="btn btn-lg btn-primary">
                        <i class="fas fa-print"></i>
                        <span>列印繳費證明</span>
                        <span>Print the Proof of Payment</span>
                    </a>
                </span>
                <p class="text-note">*自動提款機轉帳說明：若您在國內選擇以ATM轉帳方式繳費，請至設有跨行轉帳字樣之自動提款機，依繳費單上金額進行轉帳。跨行轉帳手續費將自轉出帳號中自動扣除。以上繳款帳號為您專屬帳號，勿借其他繳款人使用。</p>
            </div>
        </section>
        
	</div>
</div>


<% content_for :js do %>

<% end %>

