<!-- template: 修改密碼 -->

<div class="container-lg">
	<div class="login-wrapper">
		<div class="login-card">
		    <div class="card-hd">
			    <h4 class="text-center">修改密碼<small class="d-block">Change Password</small></h4>
			</div>
			<div class="card-bd">
                <div class="form-group">
                    <label for="passwordInput1" class="form-label"><span class="required">*</span> 舊密碼 Old Password</label>
                    <input type="password" class="form-control" id="passwordInput1" />
                </div>
                <div class="form-group">
                    <label for="passwordInput2" class="form-label"><span class="required">*</span> 新密碼 New Password</label>
                    <input type="password" class="form-control" id="passwordInput2" />
                    <div class="form-text">密碼格式需為8個字(含)以上，並包含大寫字母、小寫字母、數字至少各1。<span class="d-block">Password Format: at least 8 or more characters including at least one uppercase letter one lowercase letter and one number.</span></div>
                </div>
                <div class="form-group">
                    <label for="passwordInput3" class="form-label"><span class="required">*</span> 確認密碼 Confirm Password</label>
                    <input type="password" class="form-control" id="passwordInput3" />
                    <div class="form-text">請再次輸入密碼。<span class="d-block">Confirm password should match password.</span></div>
                </div>
			</div>
            <div class="d-grid mt-4">
                <button class="btn btn-lg btn-primary" type="submit">儲存 Save</button>
                <a href="#" class="btn btn-lg btn-link mt-5">
                    <i class="fas fa-long-arrow-alt-left"></i> 
                    回首頁 Back Home
                </a>
            </div>
		</div>
	</div>
</div>



<% content_for :js do %>

<% end %>

