<!-- template: 選擇系所 -->

<div class="container-lg">
	<div class="page-content d-block">
        
        <div class="page-title">
            <h3>選擇系所 <small>Department Selection</small></h3>
        </div>
        
        <div class="general-note">
            <h4>注意事項 Note</h4>
            <ol>
                <li>請依海聯各地區簡章規定的報名時間完成繳費，列印繳費證明或收據並上傳至海聯報名系統。<br>Please complete the payment process which includes making the payment, printing out the Proof of Payment or Receipt and upload it onto University Entrance Committee for Overseas Chinese Students system by the application deadline for each country/area.</li>
                <li>審查費一經繳交，概不退還。包含申請未完成、放棄申請、申請資格不符、誤繳、重覆繳費等。<br>After the application fee has been paid, no refund will be given for any reason, including application withdrawal, failure to meet application requirements, accidental payment, or mistaken repeat payments.</li>
                <li>未繳交費用、或未完成上傳繳費證明之申請件，視同審查資格不符。<br>Applications with unpaid fees or failure to upload the proof of payment will not be processed.</li>
                <li>請以信用卡於線上完成繳費。國內亦可選擇ATM轉帳方式(請保留繳費證明並上傳)。<br>Please make your payment by online credit card. You may also do money transfer via ATMs if you are inside Taiwan.</li>
                <li>除新臺幣之外，不收受其他幣值，也不接受現金或支票。<br>Payment is only accepted in TWD. We do not accept other currencies, nor cash or checks sent by post. </li>
            </ol>
        </div>
        
        <section class="section">
            <div class="section-title">
                <h4>選擇系所 <small>Department Selection</small></h4>
            </div>
            <div class="row">
                <div class="col-lg-3 col-sm-6">
                    <div class="form-group">
                        <select class="form-select" aria-label="Default select example">
                            <option selected>Open this select menu</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="form-group">
                        <select class="form-select" aria-label="Default select example">
                            <option selected>Open this select menu</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-12">
                    <div class="form-group">
                        <select class="form-select" aria-label="Default select example">
                            <option selected>Open this select menu</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="text-end mb-4">
                <button type="button" class="btn btn-success"><i class="fas fa-plus"></i> 加入 Add</button>
            </div>
            <div class="table-responsive mb-4">
                <table class="table table-bordered align-middle mb-0">
                    <thead>
                        <tr>
                            <th></th>
                            <th>選擇系所 Department Selection</th>
                            <th class="text-end">費用 Cost</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th class="text-center">1</th>
                            <td>
                                <span class="d-block">(學士 Bachelor) 生物資源暨農學院/獸醫學系</span>
                                <span class="d-block">College of Bio-Resources & Agriculture/Department of Veterinary Medicine</span>
                            </td>
                            <td class="text-end">1500</td>
                        </tr>
                        <tr>
                            <th class="text-center">2</th>
                            <td>
                                <span class="d-block">(學士 Bachelor) 文學院/日本語文學系</span>
                                <span class="d-block">College of Liberal Arts/Department of Japanese Language and Literature</span>
                            </td>
                            <td class="text-end">1500</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="selection-fee">
                <div class="fee-start">
                    <span class="ch">您總共申請了 2 個系所</span>
                    <span class="en">You have applied for 1 department(s).</span>
                </div>
                <div class="fee-end">
                    <span class="ch">費用合計：新臺幣 <strong>1500</strong> 元整</span>
                    <span class="en">Application Fee: TWD 1500</span>
                </div>
            </div>
        </section>
        
        <div class="form-action">
            <button type="submit" class="btn btn-lg btn-primary">前往繳費 Confirm & Pay</button>
        </div>
        
	</div>
</div>



<% content_for :js do %>

<% end %>

