<!-- template: 繳費作業 -->

<div class="container-lg">
	<div class="page-content d-block">
        
        <div class="page-title">
            <h3>繳費作業 <small>Payment</small></h3>
        </div>
        
        <h4>
            國立臺灣大學113學年度(2024/2025)僑生個人申請審查費繳費明細
            <small class="d-block">National Taiwan University 2024/2025 Application Fee Payment Details for Overseas Chinese Student</small>
        </h4>
        
        <section class="section">
            <div class="payment-detail">
                <ul class="menu-item">
                    <li>
                        <span class="label">繳款人 Name</span>
                        <span class="info">Scarlett Johansson</span>
                    </li>
                    <li>
                        <span class="label">申請系所 Departments</span>
                        <span class="info">您總共申請了 1 個系所 You have applied for 1 department(s).</span>
                    </li>
                    <li>
                        <span class="label">應繳金額 Total Amount</span>
                        <span class="info">TWD 1500 元整</span>
                    </li>
                    <li>
                        <span class="label">繳款帳號 Order Number</span>
                        <span class="info">96169600153923</span>
                    </li>
                    <li>
                        <span class="label">繳費情形 Payment Status</span>
                        <span class="info">
                            未繳費 Unpaid
                            <button type="button" class="btn btn-outline-dark ms-1">
                                <i class="fas fa-sync"></i>
                                同步繳費狀態 Sync Payment Status
                            </button>
                        </span>
                    </li>
                </ul>
            </div>
            <div class="payment-wrap">
                <span class="btn-wrap">
                    <a href="#" class="btn btn-lg btn-success">
                        <i class="far fa-credit-card"></i>
                        <span>信用卡繳費</span>
                        <span>Online Credit Card Payment</span>
                    </a>
                </span>
                <p class="text-note">*自動提款機轉帳說明：若您在國內選擇以ATM轉帳方式繳費，請至設有跨行轉帳字樣之自動提款機，依繳費單上金額進行轉帳。跨行轉帳手續費將自轉出帳號中自動扣除。以上繳款帳號為您專屬帳號，勿借其他繳款人使用。</p>
            </div>
        </section>
        
        <div class="form-action">
            <span class="backhome"><a href="#" class="btn btn-lg btn-link"><i class="fas fa-long-arrow-alt-left"></i> 回首頁 Back to Home Page</a></span>
        </div>
        
	</div>
</div>



<% content_for :js do %>

<% end %>

