<!-- template: 註冊成功 -->

<div class="container-lg">
	<div class="page-content d-block">
        
        <div class="page-title">
            <h3>註冊成功 <small>Registration Success</small></h3>
        </div>
        
        <div class="mb-5">
            <p>註冊成功！請至您填寫的 email 信箱中收取信件，完成認證。</p>
            <p>Your registration is confirmed. The registration verification letter has been sent to ypu. Please go verify your email and re-login with your registered account.</p>
        </div>
        <div>
            <a href="#" class="btn btn-lg btn-link ps-0">
                <i class="fas fa-long-arrow-alt-left"></i> 
                回登入畫面 Back to Login Page
            </a>
        </div>
        
	</div>
</div>



<% content_for :js do %>

<% end %>

