<header class="header" id="pagetop">
    <div class="container-lg">
        <div class="header-wrap">
            <div class="header-function">
                <span class="toggler-wrap"></span>
                <div class="header-right">
                    <div class="language">
						<span class="language-inner">
                            <a href="#" class="current">中文</a>
                            <a href="#">EN</a>
						</span>
                    </div>
                </div>
            </div>
            <div class="brands">
                <a class="brands-link" href="index.html">
                    <div class="logo">
                        <h1 class="text-hide">國立臺灣大學國際事務處 Office of International Affairs, National Taiwan University</h1>
                        <img class="h1-logo" src="../assets/logo@2x.png">
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="sys-subject">
        <div class="container-lg">
            <h2>國際學位生新生調查系統</h2>
        </div>
    </div>
</header>