

<div class="modal fade" id="exampleModal_01" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-fluid" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">選取案件</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="group-toolbar">
				    <div class="form-group">
					    <label>調查完成日</label>
                        <div class="mx-1">
                            <select class="browser-default custom-select">
                                <option selected>選擇年</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                            </select>
                        </div>
						<div class="mx-1">
                            <select class="browser-default custom-select">
                                <option selected>選擇月</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                            </select>
                        </div>
						<div class="mx-1">
                            <select class="browser-default custom-select">
                                <option selected>選擇日</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                            </select>
                        </div>
						<div class="mx-1">至</div>
						<div class="mx-1">
                            <select class="browser-default custom-select">
                                <option selected>選擇年</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                            </select>
                        </div>
						<div class="mx-1">
                            <select class="browser-default custom-select">
                                <option selected>選擇月</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                            </select>
                        </div>
						<div class="mx-1">
                            <select class="browser-default custom-select">
                                <option selected>選擇日</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                            </select>
                        </div>
					</div>
					<div class="form-group">
					    <label>調查完成日</label>
						<div class="mx-1"><input type="text" class="form-control" /></div>
						<div class="mx-1">至</div>
						<div class="mx-1"><input type="text" class="form-control" /></div>
						<div class="mx-1"><button type="button" class="btn btn-sm btn-info">查詢</button></div>
					</div>
				</div>
				
                <div class="table-responsive text-nowrap">
                    <table class="table table-striped mb-0">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="defaultUnchecked22">
                                        <label class="custom-control-label" for="defaultUnchecked22"></label>
                                    </div>
								</th>
                                <th>Heading</th>
								<th>Heading</th>
								<th>Heading</th>
								<th>Heading</th>
								<th>Heading</th>
								<th>Heading</th>
								<th>Heading</th>
								<th>Heading</th>
                            </tr>
                        </thead>
                        <tbody>
							<% (1..8).map do |i| %>
                            <tr>
                                <td><%= i %></td>
                                <td>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="defaultUnchecked32">
                                        <label class="custom-control-label" for="defaultUnchecked32"></label>
                                    </div>
								</td>
                                <td>Cell</td>
                                <td>Cell</td>
                                <td>Cell</td>
                                <td>Cell</td>
                                <td>Cell</td>
                                <td>Cell</td>
                                <td>Cell</td>
                                <td>Cell</td>
                            </tr>
							<% end %>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-link" data-dismiss="modal">關閉</button>
                <button type="button" class="btn btn-primary">確定</button>
            </div>
        </div>
    </div>
</div>
