
// `Base

$body_background:       #fff;
$base_font_size:        16px;
$base_line_height:      24px;
$latin-sans-serif:      "Helvetica Neue", Helvetica, Arial;
$base_font_color:       #303034;
$base_border_color:     #e5edea;
$main_border_color:     #DBE9E9;
$bg_border_color:       #ebebeb;
$table_border_color:    #efefef;
$darkgray_color:        #303235;
$warning_color:         #f34458;
$lightgray_color:       #999;

// `Main Color

$main_color:            #258282;
$main_secondary_color:  #6967b5;
$main_lighten_color:    #e9f6f6;
$secondary_color:       #c86428;
$third_color:           #E000DD;
$darker_color:          #2f3232;
$grayish_color:         #5E6B6B;

// `Second Color

$second_color:          #ed9c33;
$second_lighten_color:  lighten($second_color, 6);
$denimblue_color:       #2564c0;
$skyblue_color:         #00c0f0;
$cyanblue_color:        #25c0be;
$red_color:             #e22d2d;
$orange_color:          #f0851c;
$yellow_color:          #f3cc17;
$olive_color:           #c2df1f;
$magenta_color:         #c0259d;
$purple_color:          #7525ad;
$limegreen_color:       #25c054;
$alert_warning_color:   $orange_color;
$highlight_color:       #fcf7e0;
$green:                 #28a745;

// `Link

$link:                  $main_color;
$link_hover:            darken($main_color, 15);
$link_visited:          darken($main_color, 15);

$second_link:           #9747FF;
$second_hover:          $main_color;

// `Sidebar
// -------------------------

$aside_width:            240px;
$aside_width-collapsed:  64px;
$sidebar-bg:             $darker_color;
$sidebar-darker:         darken(desaturate($main_color, 75), 25);
$sidebar-color:          #fff;
$sidebar-dark-color:     #3f5252;
$sidebar-color-muted:    rgba(#fff, 0.7);
$sidebar-link:           #c8d8d8;
$sidebar-hover-bg:       rgba(#fff, 0.08);
$sidebar-active-bg:      rgba(#fff, 0.14);
$sidebar-headerHeight:   64px;
$sidebar-lighten-bg:     #eaf0f0;

// `Header
// -------------------------

$header_height:          64px;
$header_bg:              #fff;
$header_border:          $main_border_color;
$content_bg:             #f4f6f9;
$breakpoint_offcanvas:   1199px;
$breakpoint_desktop:     1200px;