<!-- ntuoia: 合約統計表 - 洲別或單位 -->

<%= render :partial => "/partials/breadcrumb" %>

<div class="container">
	<div class="pages-row">
	    <%= render :partial => "/partials/accordian_nav" %>
		<main class="main">
		    <div class="main-inner">
                <div class="title-wrap">
                    <h3 class="section-title">電機資訊學院</h3>
                </div>
				<h4 class="block-title">
					<span>合約統計表</span>
				</h4>
				<div class="table-responsive">
				    <table class="table table-bordered">
					    <thead class="blue-grey lighten-5">
						    <tr>
								<th></th>
							    <th>國家數</th>
								<th>學校數</th>
								<th>有效合約數 ( 校 / 院 / 系所 / 其他 )</th>
								<th>累計參與人數 ( 校 / 院 / 系所 / 其他 )</th>
							</tr>
						</thead>
						<tbody>
						    <tr>
							    <th>姊妹校</th>
								<td>66</td>
								<td>643</td>
								<td>1760 ( 650 / 756 / 352 / 2 ) </td>
								<td>n/a</td>
							</tr>
						</tbody>
					</table>
				</div>
                <h4 class="block-title">
					<span>合作計畫</span>
				</h4>
				<div class="table-responsive">
				    <table class="table table-sm table-striped table-bordered">
					    <thead>
						    <tr>
							    <th></th>
								<th>國家數</th>
								<th>學校數</th>
								<th>有效合約數 ( 校 / 院 / 系所 / 其他 )</th>
								<th>累計參與人數 ( 校 / 院 / 系所 / 其他 )</th>
							</tr>
						</thead>
						<tbody>
							<% (1..5).each do |n| %>
						    <tr>
							    <th>母約</th>
								<td>63</td>
								<td>562</td>
								<td>937 ( 362 / 365 / 208 / 2 )</td>
								<td>n/a</td>
							</tr>
							<tr>
							    <th>交換學生</th>
								<td>49</td>
								<td>395</td>
								<td>685 ( 266 / 334 / 85 / 0 )</td>
								<td>n/a</td>
							</tr>
							<% end %>
							<tr>
							    <th>雙聯學位 (個案)</th>
								<td>3</td>
								<td>7</td>
								<td>8 ( 0 / 0 / 8 / 0 )</td>
								<td>n/a</td>
							</tr>
						</tbody>
					</table>
				</div>
                <div class="agr-wrapper">
                    <div class="zone-wrapper">
                        <h4 class="tabs-title">
                            <a href="#" class="btn-title">College of Bioresources and Agriculture  <span class="count">70</span></a>
                        </h4>
                        <ul class="agr-list menu-item">
                            <li>
                                <a href="#" class="agr-link">電機工程學系 <span class="count">2</span></a>
                            </li>
							<li>
                                <a href="#" class="agr-link">資訊工程學系 <span class="count">4</span></a>
                            </li>
							<li>
                                <a href="#" class="agr-link">光電工程學研究所 <span class="count">3</span></a>
                            </li>
							<li>
                                <a href="#" class="agr-link">電信工程學研究所 <span class="count">5</span></a>
                            </li>
							<li>
                                <a href="#" class="agr-link">資訊網路與多媒體研究所 <span class="count">2</span></a>
                            </li>
							<li>
                                <a href="#" class="agr-link">電機資訊學院 <span class="count">55</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
				<h4 class="block-title">
					<span>院級合約清單</span>
				</h4>
				<div class="table-responsive">
				    <table class="table table-sm table-bordered table-align-middle">
					    <thead class="blue-grey lighten-5">
						    <tr>
								<th>簽約單位</th>
								<th>對方簽約單位</th>
							    <th>合約種類</th>
								<th>簽約日</th>
								<th>到期日</th>
								<th>狀態</th>
							</tr>
						</thead>
						<tbody>
							<% (1..2).each do |n| %>
						    <tr>
							    <td>
								    <span class="break">工學院</span>
									<span class="break">電機資訊學院</span>
								</td>
								<td>
								    <span class="break">德拉瓦大學</span>
									<span class="break">工學院</span>
								</td>
								<td>
								    <span class="break">交換學生</span>
									<span class="break">附約</span>
								</td>
								<td>2008-10-30</td>
								<td>2020-10-30</td>
								<td>active </td>
							</tr>
							<tr>
							    <td colspan="6">
								    <span class="break">合約中文： Supplementary Agreement for the Development of a Dual Degree Program between The College of Engineering, University of Delaware and The College of Engineering & the College of Electrical Engineering and Computer Science, National Taiwan University</span>
									<span class="break">合約英文： Supplementary Agreement for the Development of a Dual Degree Program between The College of Engineering, University of Delaware and The College of Engineering & the College of Electrical Engineering and Computer Science, National Taiwan University</span>
								</td>
							</tr>
							<tr>
							    <td colspan="6" class="separate"></td>
							</tr>
						    <tr>
							    <td><span class="break">電機資訊學院</span></td>
								<td>
								    <span class="break">捷克布拉格科技大學</span>
									<span class="break">電機工程學院</span>
								</td>
								<td><span class="break">母約</span></td>
								<td>2008-10-30</td>
								<td>2020-10-30</td>
								<td>active</td>
							</tr>
							<tr>
							    <td colspan="6">
								    <span class="break">合約中文</span>
									<span class="break">合約英文：MEMORANDUM OF UNDERSTANDING FOR SCHOLARLY EXCHANGE AND COLLABORATION BETWEEN FACULTY OF ELECTRICAL ENGINEERING CZECH TECHNICAL UNIVERSITY IN PRAGUE AND COLLEGE OF ELECTRICAL ENGINEERING AND COMPUTER SCIENCE NATIONAL TAIWAN UNIVERSITY</span>
								</td>
							</tr>
							<tr>
							    <td colspan="6" class="separate"></td>
							</tr>
							<tr>
							    <td>
								    <span class="break">工學院</span>
									<span class="break">電機資訊學院</span>
								</td>
								<td>
								    <span class="break">東京大學</span>
									<span class="break">大學院情報理工學系研究科</span>
								</td>
								<td>
								    <span class="break">交換學生</span>
									<span class="break">交換教授</span>
									<span class="break">其他</span>
								</td>
								<td>2008-10-30</td>
								<td>2024-10-30</td>
								<td>active</td>
							</tr>
							<tr>
							    <td colspan="6">
								    <span class="break">合約中文：國立臺灣大學電機資訊學院與東京大學大學院情報理工學系研究科交換教師、研究人員及研究生備忘錄</span>
									<span class="break">合約英文：</span>
								</td>
							</tr>
							<tr>
							    <td colspan="6" class="separate"></td>
							</tr>
							<% end %>
						</tbody>
					</table>
				</div>
				<h4 class="block-title">
					<span>系級合約清單</span>
				</h4>
				<div class="table-responsive">
				    <table class="table table-sm table-bordered table-align-middle">
					    <thead class="blue-grey lighten-5">
						    <tr>
								<th>簽約單位</th>
								<th>對方簽約單位</th>
							    <th>合約種類</th>
								<th>簽約日</th>
								<th>到期日</th>
								<th>狀態</th>
							</tr>
						</thead>
						<tbody>
							<% (1..2).each do |n| %>
						    <tr>
							    <td>
								    <span class="break">電機工程學系</span>
								</td>
								<td>
								    <span class="break">太克科技公司</span>
									<span class="break">e-Learning聯合實驗室</span>
								</td>
								<td>
								    <span class="break">母約</span>
								</td>
								<td>2008-10-30</td>
								<td>2020-10-30</td>
								<td>active </td>
							</tr>
							<tr>
							    <td colspan="6">
								    <span class="break">合約中文：</span>
									<span class="break">合約英文： Memorandum of Understanding Between the Institute of Electrical and Electronics Engineers, Computer Society and The National Taiwan University, Department of Electrical Engineering</span>
								</td>
							</tr>
							<tr>
							    <td colspan="6" class="separate"></td>
							</tr>
						    <tr>
							    <td>
								    <span class="break">光電工程學研究所</span>
								</td>
								<td>
								    <span class="break">首爾國立大學</span>
									<span class="break">DEPARTRMENT OF MATERIALS SCIENCE AND ENGINEERING ,COLLEGE OF ENGINEERING</span>
								</td>
								<td>
								    <span class="break">母約</span>
								</td>
								<td>2008-10-30</td>
								<td>2020-10-30</td>
								<td>active </td>
							</tr>
							<tr>
							    <td colspan="6">
								    <span class="break">合約中文</span>
									<span class="break">合約英文：MEMORANDUM OF UNDERSTANDING FOR SCHOLARLY EXCHANGE AND COLLABORATION BETWEEN FACULTY OF ELECTRICAL ENGINEERING CZECH TECHNICAL UNIVERSITY IN PRAGUE AND COLLEGE OF ELECTRICAL ENGINEERING AND COMPUTER SCIENCE NATIONAL TAIWAN UNIVERSITY</span>
								</td>
							</tr>
							<tr>
							    <td colspan="6" class="separate"></td>
							</tr>
							<tr>
							    <td>
								    <span class="break">光電工程學研究所</span>
								</td>
								<td>
								    <span class="break">巴黎第十三大學</span>
									<span class="break">(索邦北巴黎大學) 無中文名</span>
								</td>
								<td>
								    <span class="break">雙聯學位 (個案)</span>
								</td>
								<td>2008-10-30</td>
								<td>2024-10-30</td>
								<td>active </td>
							</tr>
							<tr>
							    <td colspan="6">
								    <span class="break">合約中文：</span>
									<span class="break">合約英文：CONVENTION FOR THE JOINT SUPERVISION OF THESIS</span>
								</td>
							</tr>
							<tr>
							    <td colspan="6" class="separate"></td>
							</tr>
							<% end %>
						</tbody>
					</table>
				</div>
			</div>
		</main>
    </div>
</div>



<% content_for :js do %>

<% end %>
































