<!-- ntuoia: 接待紀錄 -->

<%= render :partial => "/partials/breadcrumb" %>

<div class="container">
	<div class="pages-row">
	    <%= render :partial => "/partials/accordian_nav" %>
		<main class="main">
		    <div class="main-inner">
                <div class="title-wrap">
                    <h3 class="section-title">接待紀錄</h3>
                </div>
				<div class="guestbook-container">
					<div class="map-wrapper">
                        <div class="map">
                            <img class="" src="../assets/worldmap2.svg">
                        </div>
					</div>
					<div class="select-group">
					    <div class="select-col">
                            <select class="browser-default custom-select">
                                <option selected>2020 年</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                            </select>
						</div>
						<div class="select-col">
                            <select class="browser-default custom-select">
                                <option selected>選擇洲別</option>
                                <option value="1">跨洲 Cross Continents</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                            </select>
						</div>
						<div class="select-col">
                            <select class="browser-default custom-select">
                                <option selected>選擇國家</option>
                                <option value="1">南喬治亞島和南桑威奇群島 SOUTH GEORGIA AND THE SOUTH SANDWICH ISLANDS</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                            </select>
						</div>
						<div class="select-col">
                            <select class="browser-default custom-select">
                                <option selected>選擇學校</option>
                                <option value="1">美國國家研究院 Committee on Globalization of Science and Technology, The National Research Council of the National Academies</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                            </select>
						</div>
					</div>
					<!-- 照片最適合比例為 4:3，高度可大於，小於此比例 (ex. 16:9) 照片下方將會出現空白，請在後台註明提醒使用者 -->
					<div class="photo-wrapper">
                        <ul class="photo-list menu-item">
							<li class="guest-item">
								<a href="#" class="guest-link">
									<div class="img-wrapper"><img class="photo-item" src="http://placehold.jp/400x300.png"></div>
									<p class="photo-title">照片最佳比例 4:3，寬高比不可小於此 (ex. 16:9)</p>
								</a>
							</li>
							<li class="guest-item">
								<a href="#" class="guest-link">
								    <div class="img-wrapper"><img class="photo-item" src="http://placekitten.com/450/800"></div>
									<p class="photo-title">這是一張高大於寬的照片</p>
								</a>
							</li>
							<% (1..20).each do |n| %>
						    <li class="guest-item">
								<a href="#" class="guest-link">
								    <div class="img-wrapper"><img class="photo-item" src="https://picsum.photos/seed/picsum/400/300"></div>
									<p class="photo-title">美國加州大學10年總檢視計畫主席郭建廷來訪</p>
								</a>
							</li>
							<% end %>
						</ul>
					</div>
                    <nav aria-label="Page navigation">
                        <ul class="pagination pg-amber justify-content-end">
                            <li class="page-item item-amount"><span>212 筆</span></li>
                            <li class="page-item disabled"><a class="page-link">First</a></li>
                            <li class="page-item disabled">
                                <a class="page-link" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                    <span class="sr-only">Previous</span>
                                </a>
                            </li>
                            <li class="page-item active"><a class="page-link">1</a></li>
                            <li class="page-item"><a class="page-link">2</a></li>
                            <li class="page-item"><a class="page-link">3</a></li>
                            <li class="page-item"><a class="page-link">4</a></li>
                            <li class="page-item"><a class="page-link">5</a></li>
                            <li class="page-item">
                                <a class="page-link" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </li>
                            <li class="page-item"><a class="page-link">Last</a></li>
                        </ul>
                    </nav>
				</div>
                <div class="last-update">
					<span>更新時間： 2020 / 10 / 30</span>
				</div>
			</div>
		</main>
    </div>
</div>



<% content_for :js do %>

<% end %>
































