<!-- ntuoia: 網站地圖 -->

<nav aria-label="breadcrumb" class="breadcrumb-wrapper">
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i></a></li>
            <li class="breadcrumb-item"><a href="#">申請臺大</a></li>
			<li class="breadcrumb-item"><a href="#">境外學位生</a></li>
			<li class="breadcrumb-item"><a href="#">申請資格</a></li>
			<li class="breadcrumb-item active">國籍資格測驗</li>
        </ol>
    </div>
</nav>

<div class="container">
    <main class="main noside">
        <div class="title-wrap">
            <h3 class="section-title">網站地圖</h3>
        </div>
        <div class="sitemap-wrapper">
            <section class="sm-section">
				<div class="sm-inner">
                    <h4 class="sm-title"><a href="#">關於本處</a></h3>
                    <ul class="menu-item">
                        <li><a href="#">本處簡介</a></li>
                        <li><a href="#">本處成員</a></li>
                        <li><a href="#">法規彙編</a></li>
                        <li><a href="#">中英雙語詞彙</a></li>
                    </ul>
				</div>
			</section>
			<section class="sm-section">
				<div class="sm-inner">
                    <h4 class="sm-title"><a href="#">認識臺大</a></h3>
                    <ul class="menu-item">
                        <li><a href="#">選擇臺大</a></li>
                        <li><a href="#">認識臺灣</a></li>
                        <li>
                            <a href="#">學費與生活費用</a>
                            <ul>
                                <li><a href="#">學費</a></li>
                                <li><a href="#">生活費</a></li>
                                <li><a href="#">工作與實習機會</a></li>
                            </ul>
                        </li>
                        <li><a href="#">獎學金</a></li>
                        <li><a href="#">學生住宿</a></li>
                        <li>
                            <a href="#">校園生活</a>
                            <ul>
                                <li><a href="#">校內設施與服務</a></li>
                                <li><a href="#">學生活動與社團</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">參觀臺大</a>
                            <ul>
                                <li><a href="#">簡介</a></li>
                                <li><a href="#">校園活動</a></li>
                                <li><a href="#">海外活動</a></li>
                                <li><a href="#">拜訪臺大</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">學位生</a>
                            <ul>
                                <li><a href="#">簡介</a></li>
                                <li><a href="#">學士學位</a></li>
                                <li><a href="#">碩士及博士學位</a></li>
                                <li><a href="#">雙聯學位</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">非學位計畫</a>
                            <ul>
                                <li><a href="#">簡介</a></li>
                                <li><a href="#">交換學生計畫</a></li>
                                <li><a href="#">訪問學生計畫</a></li>
                                <li><a href="#">訪問研究計畫</a></li>
                                <li><a href="#">國際短期課程</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">學習華語</a>
                            <ul>
                                <li><a href="#">簡介</a></li>
                                <li><a href="#">臺大學生</a></li>
                                <li><a href="#">非臺大學生</a></li>
                            </ul>
                        </li>
                        <li><a href="#">聯絡我們</a></li>
                    </ul>
				</div>
			</section>
			<section class="sm-section">
				<div class="sm-inner">
                    <h4 class="sm-title"><a href="#">申請臺大</a></h3>
                    <ul class="menu-item">
                        <li>
                            <a href="#">境外學位生</a>
                            <ul>
                                <li><a href="#">申請資格</a></li>
                                <li><a href="#">2021年9月入學申請資訊</a></li>
                                <li><a href="#">2021年2月入學申請資訊</a></li>
                                <li><a href="#">常見問答</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">雙聯學位生</a>
                            <ul>
                                <li><a href="#">簡介</a></li>
                                <li><a href="#">2020 / 2021 申請資訊</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">來校交換學生</a>
                            <ul>
                                <li><a href="#">2020 / 2021 申請資訊</a></li>
                                <li><a href="#">交換學生經驗分享</a></li>
                                <li><a href="#">歷屆交換學生名單</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">來校訪問學生</a>
                            <ul>
                                <li><a href="#">2020 / 2021 入學資訊（2020年9月入學）</a></li>
                                <li><a href="#">2019 / 2020 入學資訊（2020年2月入學）</a></li>
                                <li><a href="#">歷屆來校訪問學生名單</a></li>
                                <li><a href="#">歷屆來校訪問學生心得暨網誌</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">來校訪問研究生</a>
                            <ul>
                                <li><a href="#">訪問研究計畫</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">聯絡我們</a>
                            <ul>
                                <li><a href="#">學位生</a></li>
                                <li><a href="#">非學位計畫</a></li>
                            </ul>
                        </li>
				</ul>
				</div>
			</section>
			<section class="sm-section">
				<div class="sm-inner">
                    <h4 class="sm-title"><a href="#">在校國際學生</a></h3>
                    <ul class="menu-item">
                        <li>
                            <a href="#">校園資訊</a>
                            <ul>
                                <li><a href="#">就學費用</a></li>
                                <li><a href="#">住宿資訊</a></li>
                                <li><a href="#">校園生活</a></li>
                                <li><a href="#">行事曆</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">國際學位生與雙聯學位生</a>
                            <ul>
                                <li><a href="#">新生</a></li>
                                <li><a href="#">在校學生</a></li>
                                <li><a href="#">獎學金</a></li>
                                <li><a href="#">其他（簽證、居留證、健保、工作證）</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">來校交換學生</a>
                            <ul>
                                <li><a href="#">2020/2021國際交換學生</a></li>
                                <li><a href="#">2019/2020國際交換學生</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">來校訪問學生</a>
                            <ul>
                                <li><a href="#">2020/2021國際訪問學生</a></li>
                                <li><a href="#">2019/2020國際訪問學生</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">國際學生華語課程</a>
                            <ul>
                                <li><a href="#">簡介</a></li>
                                <li><a href="#">一般華語與實用華語</a></li>
                                <li><a href="#">應用華語</a></li>
                                <li><a href="#">註冊及分班測驗</a></li>
                                <li><a href="#">常見問答</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">國際學生活動</a>
                            <ul>
                                <li><a href="#">迎新活動</a></li>
                                <li><a href="#">相簿</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">校內國際化服務</a>
                            <ul>
                                <li><a href="#">禮賓學生計畫</a></li>
                                <li><a href="#">國際學生接待志工</a></li>
                                <li><a href="#">國際學生迎新專案組員</a></li>
                                <li><a href="#">臺大國際短期課程輔導員</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">聯絡我們</a>
                            <ul>
                                <li><a href="#">學位生</a></li>
                                <li><a href="#">非學位計畫</a></li>
                            </ul>
                        </li>
                    </ul>
				</div>
			</section>
			<section class="sm-section">
				<div class="sm-inner">
                    <h4 class="sm-title"><a href="#">海外教育計畫</a></h3>
                    <ul class="menu-item">
                        <li>
                            <a href="#">海外教育計畫</a>
                            <ul>
                                <li><a href="#">海外教育計畫和國際化服務</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">海外教育展</a>
                            <ul>
                                <li><a href="#">2020/2021海外教育展</a></li>
                                <li><a href="#">節目一覽表</a></li>
                                <li><a href="#">攤位平面圖</a></li>
                                <li><a href="#">說明會簡報</a></li>
                                <li><a href="#">抽獎活動得獎名單</a></li>
                                <li><a href="#">最佳攤位得獎名單</a></li>
                                <li><a href="#">精彩剪影</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">交換學生計畫</a>
                            <ul>
                                <li><a href="#">110學年度出國交換學生甄選</a></li>
                                <li><a href="#">交換學生計畫</a></li>
                                <li><a href="#">交換學校列表</a></li>
                                <li><a href="#">交換學生獎學金</a></li>
                                <li><a href="#">歷屆交換學生名單及心得</a></li>
                                <li><a href="#">返國學生心得上傳</a></li>
                                <li><a href="#">交換學生計畫FAQ</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">訪問學生計畫</a>
                            <ul>
                                <li><a href="#">訪問學生計畫</a></li>
                                <li><a href="#">訪問學校列表｜校內甄選</a></li>
                                <li><a href="#">歷屆訪問學生名單及心得</a></li>
                                <li><a href="#">訪問學校列表｜自行申請</a></li>
                                <li><a href="#">返國學生心得上傳</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">海外暑期課程</a>
                            <ul>
                                <li><a href="#">海外暑期課程</a></li>
                                <li><a href="#">臺大主辦課程</a></li>
                                <li><a href="#">臺大協辦課程</a></li>
                                <li><a href="#">代公告姊妹校課程</a></li>
                                <li><a href="#">歷屆海外暑期課程心得及名單</a></li>
                                <li><a href="#">返國學生心得上傳</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">海外短期課程</a>
                            <ul>
                                <li><a href="#">須經臺大提名</a></li>
                                <li><a href="#">不須臺大提名</a></li>
                            </ul>
                        </li>
                        <li><a href="#">海外實習計畫</a></li>
                        <li>
                            <a href="#">雙聯學位計畫</a>
                            <ul>
                                <li><a href="#">雙聯學位計畫</a></li>
                                <li><a href="#">美國天普大學</a></li>
                                <li><a href="#">比利時KU Leuven & IMEC</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">國際化服務</a>
                            <ul>
                                <li><a href="#">國際學生接待志工</a></li>
                                <li><a href="#">國際學生迎新專案組員</a></li>
                                <li><a href="#">國際短期課程輔導員</a></li>
                            </ul>
                        </li>
                        <li><a href="#">AEARU 線上教室專案</a></li>
                    </ul>
				</div>
			</section>
			<section class="sm-section">
				<div class="sm-inner">
                    <h4 class="sm-title"><a href="#">國際短期課程</a></h3>
                    <ul class="menu-item">
                        <li><a href="#">國際短期課程</a></li>
                        <li>
                            <a href="#">國際春季課程</a>
                            <ul>
                                <li><a href="#">中文暨文化</a></li>
                                <li><a href="#">研究暨文化</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">國際夏季課程</a>
                            <ul>
                                <li><a href="#">課程內容</a></li>
                                <li><a href="#">精彩剪影</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">國際秋季課程</a>
                            <ul>
                                <li><a href="#">課程內容</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">國際冬季課程</a>
                            <ul>
                                <li><a href="#">+1 中文暨文化</a></li>
                                <li><a href="#">+2 研究暨文化</a></li>
                            </ul>
                        </li>
                        <li><a href="#">國際短期課程輔導員</a></li>
                    </ul>
				</div>
			</section>
			<section class="sm-section">
				<div class="sm-inner">
                    <h4 class="sm-title"><a href="#">國際訪賓與學人</a></h3>
                    <ul class="menu-item">
                        <li><a href="#">簡介</a></li>
                        <li>
                            <a href="#">國際訪賓</a>
                            <ul>
                                <li><a href="#">接待原則</a></li>
                                <li><a href="#">接待紀錄</a></li>
                                <li><a href="#">訪客中心</a></li>
                                <li><a href="#">校史館預約導覽服務</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">國際學人</a>
                            <ul>
                                <li><a href="#">國際學人</a></li>
                                <li><a href="#">訪問學者計畫</a></li>
                                <li><a href="#">訪問學者邀訪補助方案</a></li>
                                <li><a href="#">抵臺之前</a></li>
                                <li><a href="#">在臺生活資訊</a></li>
                                <li><a href="#">校園資源</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">禮賓學生計畫</a>
                            <ul>
                                <li><a href="#">計畫介紹</a></li>
                                <li><a href="#">本校各單位申請禮賓學生支援</a></li>
                                <li><a href="#">禮賓學生招募</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">行政職員研習計畫</a>
                            <ul>
                                <li><a href="#">計畫簡介</a></li>
                                <li><a href="#">計畫內容</a></li>
                                <li><a href="#">最新消息</a></li>
                            </ul>
                        </li>
                    </ul>
				</div>
			</section>
			<section class="sm-section">
				<div class="sm-inner">
                    <h4 class="sm-title"><a href="#">校際交流合作</a></h3>
                    <ul class="menu-item">
                        <li>
                            <a href="#">締結合約</a>
                            <ul>
                                <li><a href="#">締約注意事項</a></li>
                                <li><a href="#">雙聯學位合約及協議</a></li>
                                <li><a href="#">各學院聯絡人</a></li>
                            </ul>
                        </li>
                        <li><a href="#">本校姊妹校一覽</a></li>
                        <li><a href="#">合約查詢</a></li>
                        <li><a href="#">出席國際教育者年會</a></li>
                        <li><a href="#">主辦國際會議</a></li>
                        <li>
                            <a href="#">國際獎助計畫</a>
                            <ul>
                                <li><a href="#">哈佛燕京學社獎助計畫</a></li>
                                <li><a href="#">傅爾布萊特獎助計畫</a></li>
                                <li><a href="#">美國國家人文研究中心（NHC）獎助計畫</a></li>
                                <li><a href="#">法國波爾多大學 BIS-NTU 計畫</a></li>
                                <li><a href="#">臺大-雪梨大學重點合作種子計畫</a></li>
                                <li><a href="#">國際合作種子計畫</a></li>
                                <li><a href="#">交換教授計畫</a></li>
                                <li><a href="#">參與國際組織活動補助</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">重點姊妹校</a>
                            <ul>
                                <li><a href="#">重點姊妹校計畫</a></li>
                                <li><a href="#">重點姊妹校合作經費補助計畫</a></li>
                                <li><a href="#">京都大學</a></li>
                                <li><a href="#">東京大學</a></li>
                                <li><a href="#">漢堡大學</a></li>
                                <li><a href="#">北京大學</a></li>
                                <li><a href="#">伊利諾大學香檳分校</a></li>
                            </ul>
                        </li>
                    </ul>
			</section>
			<section class="sm-section">
				<div class="sm-inner">
                    <h4 class="sm-title"><a href="#">臺大教職員</a></h3>
                    <ul class="menu-item">
                        <li>
                            <a href="#">締結合約</a>
                            <ul>
                                <li><a href="#">締約注意事項</a></li>
                                <li><a href="#">雙聯學位合約及協議</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">英語授課補助計畫</a>
                            <ul>
                                <li><a href="#">英語授課補助計畫概要</a></li>
                                <li><a href="#">服務性課程&通識課程</a></li>
                                <li><a href="#">模組課程</a></li>
                                <li><a href="#">國外學者密集課程</a></li>
                            </ul>
                        </li>
                        <li><a href="#">境外學生招生</a></li>
                        <li>
                            <a href="#">海外教育計畫</a>
                            <ul>
                                <li><a href="#">出國交換學生計畫辦理原則</a></li>
                                <li><a href="#">出國短期研習計畫辦理原則</a></li>
                                <li><a href="#">歷屆交換生線上查詢系統</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">國際學生</a>
                            <ul>
                                <li><a href="#">國際學位生</a></li>
                                <li><a href="#">雙聯學位生</a></li>
                                <li><a href="#">交換學生</a></li>
                                <li><a href="#">短期研修生</a></li>
                                <li><a href="#">國際生華語課程</a></li>
                            </ul>
                        </li>
                        <li><a href="#">國際學人</a></li>
                        <li>
                            <a href="#">國際訪賓與出訪資源</a>
                            <ul>
                                <li><a href="#">辦理訪賓接待</a></li>
                                <li><a href="#">辦理國際出訪</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">主辦國際會議</a>
                            <ul>
                                <li><a href="#">舉辦國際研討會補助</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">入臺證專區</a>
                            <ul>
                                <li><a href="#">正式辦理前須知</a></li>
                                <li><a href="#">開始辦理SOP</a></li>
                                <li><a href="#">常見問題</a></li>
                                <li><a href="#">諮詢服務</a></li>
                                <li><a href="#">檔案下載專區</a></li>
                            </ul>
                        </li>
                        <li><a href="#">國際交流資訊系統</a></li>
                        <li><a href="#">國際化分享會</a></li>
                        <li><a href="#">常用表單</a></li>
                    </ul>
				</div>
			</section>
        </div>
		<hr class="mlg">
        <div class="last-update">
            <span>更新時間： 2019 / 03 / 06</span>
        </div>
    </main>
</div>


<% content_for :js do %>

<% end %>


    
        
        
        
        
    
        
    
        
        
























