<!-- ntuoia: table eight (語言能力) 語系 - 中 -->

<%= render :partial => "/partials/breadcrumb" %>

<div class="container">
	<div class="pages-row">
        <%= render :partial => "/partials/accordian_nav" %>
		<main class="main">
		    <div class="main-inner">
                <div class="title-wrap">
                    <h3 class="section-title">各種語言能力參加學生程度</h3>
                </div>
				<div class="table-control-button">
					<a href="#" class="btn btn-sm peach-gradient">
					    <i class="fa fa-chevron-left"></i>
					</a>
                    <a href="#" class="btn btn-sm peach-gradient">
					    <i class="fa fa-chevron-right"></i>
					</a>
				</div>
                <div class="table-responsive">
					<div class="table-row">
					    <div class="table-col">
							<div class="table-head">2020 / 2021年度</div>
							<div class="table-content">
							    <table class="table table-bordered table-sm text-center">
                                    <thead>
                                        <tr>
                                            <th>
												<span>TOEFL</span>
												<span class="remark">(iBT)</span>
											</th>
                                            <th>IELTS</th>
                                            <th>人數</th>
                                        </tr>
                                    </thead>
                                    <tbody>
										<% (1..7).each do |n| %>
                                        <tr>
                                            <td>114-115</td>
                                            <td>9.0</td>
                                            <td>123</td>
                                        </tr>
										<% end %>
                                    </tbody>
									
									<thead>
                                        <tr>
                                            <th colspan="2">
											    <span>全民英檢</span>
												<span class="remark">GEPT</span>
											</th>
                                            <th>人數</th>
                                        </tr>
                                    </thead>
									<tbody>
                                        <tr>
                                            <td colspan="2">Advanced(高級)</td>
                                            <td>1</td>
                                        </tr>
										<tr>
                                            <td colspan="2">High-Intermediate(中高級)</td>
                                            <td>10</td>
                                        </tr>
                                    </tbody>
									
									<thead>
                                        <tr>
                                            <th colspan="2">
											    <span>日語</span>
												<span class="remark">(最高級為一級)</span>
											</th>
                                            <th>人數</th>
                                        </tr>
                                    </thead>
									<tbody>
										<% (1..3).each do |n| %>
                                        <tr>
                                            <td colspan="2">一級</td>
                                            <td>59</td>
                                        </tr>
										<% end %>
                                    </tbody>
									
									<thead>
                                        <tr>
                                            <th colspan="2">
											    <span>韓語</span>
												<span class="remark">(最高級為六級)</span>
											</th>
                                            <th>人數</th>
                                        </tr>
                                    </thead>
									<tbody>
										<% (1..6).each do |n| %>
                                        <tr>
                                            <td colspan="2">二級</td>
                                            <td>10</td>
                                        </tr>
										<% end %>
                                    </tbody>
									
									<thead>
                                        <tr>
                                            <th colspan="2">
											    <span>俄語</span>
												<span class="remark">(最高級為四級TРКИ-4)</span>
											</th>
                                            <th>人數</th>
                                        </tr>
                                    </thead>
									<tbody>
										<% (1..6).each do |n| %>
                                        <tr>
                                            <td colspan="2">第四級TРКИ-4</td>
                                            <td>-</td>
                                        </tr>
										<% end %>
                                    </tbody>
									
									<thead>
                                        <tr>
                                            <th colspan="2">
											    <span>德語</span>
												<span class="remark">(最高級為C2)</span>
											</th>
                                            <th>人數</th>
                                        </tr>
                                    </thead>
									<tbody>
										<% (1..6).each do |n| %>
                                        <tr>
                                            <td colspan="2">B2</td>
                                            <td>10</td>
                                        </tr>
										<% end %>
                                    </tbody>
									
									<thead>
                                        <tr>
                                            <th colspan="2">
											    <span>法語</span>
												<span class="remark">(最高級為C2)</span>
											</th>
                                            <th>人數</th>
                                        </tr>
                                    </thead>
									<tbody>
										<% (1..6).each do |n| %>
                                        <tr>
                                            <td colspan="2">C2</td>
                                            <td>10</td>
                                        </tr>
										<% end %>
                                    </tbody>
									
									<thead>
                                        <tr>
                                            <th colspan="2">
											    <span>法語</span>
												<span class="remark">(最高級為C2)</span>
											</th>
                                            <th>人數</th>
                                        </tr>
                                    </thead>
									<tbody>
										<% (1..6).each do |n| %>
                                        <tr>
                                            <td colspan="2">C2</td>
                                            <td>10</td>
                                        </tr>
										<% end %>
                                    </tbody>
									
									<thead>
                                        <tr>
                                            <th colspan="2">
											    <span>西語</span>
												<span class="remark">(最高級為C2)</span>
											</th>
                                            <th>人數</th>
                                        </tr>
                                    </thead>
									<tbody>
										<% (1..6).each do |n| %>
                                        <tr>
                                            <td colspan="2">A2</td>
                                            <td>10</td>
                                        </tr>
										<% end %>
                                    </tbody>
									
                                </table>
							</div>
						</div>
						
						<div class="table-col">
							<div class="table-head">2019 / 2020年度</div>
							<div class="table-content">
							    <table class="table table-bordered table-sm text-center">
                                    <thead>
                                        <tr>
                                            <th>
												<span>TOEFL</span>
												<span class="remark">(iBT)</span>
											</th>
                                            <th>IELTS</th>
                                            <th>人數</th>
                                        </tr>
                                    </thead>
                                    <tbody>
										<% (1..7).each do |n| %>
                                        <tr>
                                            <td>114-115</td>
                                            <td>9.0</td>
                                            <td>123</td>
                                        </tr>
										<% end %>
                                    </tbody>
									
									<thead>
                                        <tr>
                                            <th colspan="2">
											    <span>全民英檢</span>
												<span class="remark">GEPT</span>
											</th>
                                            <th>人數</th>
                                        </tr>
                                    </thead>
									<tbody>
                                        <tr>
                                            <td colspan="2">Advanced(高級)</td>
                                            <td>1</td>
                                        </tr>
										<tr>
                                            <td colspan="2">High-Intermediate(中高級)</td>
                                            <td>10</td>
                                        </tr>
                                    </tbody>
									
									<thead>
                                        <tr>
                                            <th colspan="2">
											    <span>日語</span>
												<span class="remark">(最高級為一級)</span>
											</th>
                                            <th>人數</th>
                                        </tr>
                                    </thead>
									<tbody>
										<% (1..3).each do |n| %>
                                        <tr>
                                            <td colspan="2">一級</td>
                                            <td>59</td>
                                        </tr>
										<% end %>
                                    </tbody>
									
									<thead>
                                        <tr>
                                            <th colspan="2">
											    <span>韓語</span>
												<span class="remark">(最高級為六級)</span>
											</th>
                                            <th>人數</th>
                                        </tr>
                                    </thead>
									<tbody>
										<% (1..6).each do |n| %>
                                        <tr>
                                            <td colspan="2">二級</td>
                                            <td>10</td>
                                        </tr>
										<% end %>
                                    </tbody>
									
									<thead>
                                        <tr>
                                            <th colspan="2">
											    <span>俄語</span>
												<span class="remark">(最高級為四級TРКИ-4)</span>
											</th>
                                            <th>人數</th>
                                        </tr>
                                    </thead>
									<tbody>
										<% (1..6).each do |n| %>
                                        <tr>
                                            <td colspan="2">第四級TРКИ-4</td>
                                            <td>-</td>
                                        </tr>
										<% end %>
                                    </tbody>
									
									<thead>
                                        <tr>
                                            <th colspan="2">
											    <span>德語</span>
												<span class="remark">(最高級為C2)</span>
											</th>
                                            <th>人數</th>
                                        </tr>
                                    </thead>
									<tbody>
										<% (1..6).each do |n| %>
                                        <tr>
                                            <td colspan="2">B2</td>
                                            <td>10</td>
                                        </tr>
										<% end %>
                                    </tbody>
									
									<thead>
                                        <tr>
                                            <th colspan="2">
											    <span>法語</span>
												<span class="remark">(最高級為C2)</span>
											</th>
                                            <th>人數</th>
                                        </tr>
                                    </thead>
									<tbody>
										<% (1..6).each do |n| %>
                                        <tr>
                                            <td colspan="2">C2</td>
                                            <td>10</td>
                                        </tr>
										<% end %>
                                    </tbody>
									
									<thead>
                                        <tr>
                                            <th colspan="2">
											    <span>法語</span>
												<span class="remark">(最高級為C2)</span>
											</th>
                                            <th>人數</th>
                                        </tr>
                                    </thead>
									<tbody>
										<% (1..6).each do |n| %>
                                        <tr>
                                            <td colspan="2">C2</td>
                                            <td>10</td>
                                        </tr>
										<% end %>
                                    </tbody>
									
									<thead>
                                        <tr>
                                            <th colspan="2">
											    <span>西語</span>
												<span class="remark">(最高級為C2)</span>
											</th>
                                            <th>人數</th>
                                        </tr>
                                    </thead>
									<tbody>
										<% (1..6).each do |n| %>
                                        <tr>
                                            <td colspan="2">A2</td>
                                            <td>10</td>
                                        </tr>
										<% end %>
                                    </tbody>
									
                                </table>
							</div>
						</div>
						
						<div class="table-col">
							<div class="table-head">2018 / 2019年度</div>
							<div class="table-content">
							    <table class="table table-bordered table-sm text-center">
                                    <thead>
                                        <tr>
                                            <th>
												<span>TOEFL</span>
												<span class="remark">(iBT)</span>
											</th>
                                            <th>IELTS</th>
                                            <th>人數</th>
                                        </tr>
                                    </thead>
                                    <tbody>
										<% (1..7).each do |n| %>
                                        <tr>
                                            <td>114-115</td>
                                            <td>9.0</td>
                                            <td>123</td>
                                        </tr>
										<% end %>
                                    </tbody>
									
									<thead>
                                        <tr>
                                            <th colspan="2">
											    <span>全民英檢</span>
												<span class="remark">GEPT</span>
											</th>
                                            <th>人數</th>
                                        </tr>
                                    </thead>
									<tbody>
                                        <tr>
                                            <td colspan="2">Advanced(高級)</td>
                                            <td>1</td>
                                        </tr>
										<tr>
                                            <td colspan="2">High-Intermediate(中高級)</td>
                                            <td>10</td>
                                        </tr>
                                    </tbody>
									
									<thead>
                                        <tr>
                                            <th colspan="2">
											    <span>日語</span>
												<span class="remark">(最高級為一級)</span>
											</th>
                                            <th>人數</th>
                                        </tr>
                                    </thead>
									<tbody>
										<% (1..3).each do |n| %>
                                        <tr>
                                            <td colspan="2">一級</td>
                                            <td>59</td>
                                        </tr>
										<% end %>
                                    </tbody>
									
									<thead>
                                        <tr>
                                            <th colspan="2">
											    <span>韓語</span>
												<span class="remark">(最高級為六級)</span>
											</th>
                                            <th>人數</th>
                                        </tr>
                                    </thead>
									<tbody>
										<% (1..6).each do |n| %>
                                        <tr>
                                            <td colspan="2">二級</td>
                                            <td>10</td>
                                        </tr>
										<% end %>
                                    </tbody>
									
									<thead>
                                        <tr>
                                            <th colspan="2">
											    <span>俄語</span>
												<span class="remark">(最高級為四級TРКИ-4)</span>
											</th>
                                            <th>人數</th>
                                        </tr>
                                    </thead>
									<tbody>
										<% (1..6).each do |n| %>
                                        <tr>
                                            <td colspan="2">第四級TРКИ-4</td>
                                            <td>-</td>
                                        </tr>
										<% end %>
                                    </tbody>
									
									<thead>
                                        <tr>
                                            <th colspan="2">
											    <span>德語</span>
												<span class="remark">(最高級為C2)</span>
											</th>
                                            <th>人數</th>
                                        </tr>
                                    </thead>
									<tbody>
										<% (1..6).each do |n| %>
                                        <tr>
                                            <td colspan="2">B2</td>
                                            <td>10</td>
                                        </tr>
										<% end %>
                                    </tbody>
									
									<thead>
                                        <tr>
                                            <th colspan="2">
											    <span>法語</span>
												<span class="remark">(最高級為C2)</span>
											</th>
                                            <th>人數</th>
                                        </tr>
                                    </thead>
									<tbody>
										<% (1..6).each do |n| %>
                                        <tr>
                                            <td colspan="2">C2</td>
                                            <td>10</td>
                                        </tr>
										<% end %>
                                    </tbody>
									
									<thead>
                                        <tr>
                                            <th colspan="2">
											    <span>法語</span>
												<span class="remark">(最高級為C2)</span>
											</th>
                                            <th>人數</th>
                                        </tr>
                                    </thead>
									<tbody>
										<% (1..6).each do |n| %>
                                        <tr>
                                            <td colspan="2">C2</td>
                                            <td>10</td>
                                        </tr>
										<% end %>
                                    </tbody>
									
									<thead>
                                        <tr>
                                            <th colspan="2">
											    <span>西語</span>
												<span class="remark">(最高級為C2)</span>
											</th>
                                            <th>人數</th>
                                        </tr>
                                    </thead>
									<tbody>
										<% (1..6).each do |n| %>
                                        <tr>
                                            <td colspan="2">A2</td>
                                            <td>10</td>
                                        </tr>
										<% end %>
                                    </tbody>
									
                                </table>
							</div>
						</div>
					</div>
                </div>
				<div class="last-update">
					<span>更新時間： 2019 / 03 / 06</span>
				</div>
			</div>
		</main>
    </div>
</div>



<% content_for :js do %>
<script>
// Material Select Initialization
$(document).ready(function () {
    $(".mdb-select").materialSelect();
});
</script>
<% end %>
































