<!-- ntuoia: table university info / 語系 - 中 -->

<%= render :partial => "/partials/breadcrumb" %>

<div class="container">
	<div class="pages-row">
	    <%= render :partial => "/partials/accordian_nav" %>
		<main class="main">
		    <div class="main-inner">
                <div class="untitle-wrap">
                    <h2 class="university-title">
						魁北克大學蒙特婁分校
						<small>Université du Québec à Montréal</small>
					</h2>
                </div>
				<div class="untitle-logo">
                    <img src="../assets/fake/1061.jpg">
                </div>
				<div class="university-info">
                    <div class="uninfo-awall">
                        <h5 class="uninfo-label"><span>申請資格</span></h5>
                        <div class="uninfo-content">
                            <h6>法語組</h6>
                            <ol>
                                <li>本校大二/大三/大四/大五/碩一/碩二/碩三學生</li>
                                <li>前學年 GPA 達3.00分以上</li>
                                <li>TOEFL iBT 80 或 IELTS 6.0 或 全民英檢中高級</li>
                                <li>或具法語檢定成績 B2(中高級) 級以上</li>
                            </ol>
                        </div>
                    </div>
                    <div class="uninfo-awall">
                        <h5 class="uninfo-label"><span>名額</h5>
                        <div class="uninfo-content">
                            <p>全學年 1 名，可選擇交換一學期或一學年，限於本校第1學期出國交換。</p>
                        </div>
                    </div>
                    <div class="uninfo-awall">
                        <h5 class="uninfo-label"><span>學校年曆</span></h5>
                        <div class="uninfo-content">
                            <p>該校年曆請參考<a href="#">此連結</a></p>
                            <ul>
                                <li>1st semester : February to July</li>
                                <li>2nd semester: August to December</li>
                            </ul>
                        </div>
                    </div>
                    <div class="uninfo-awall">
                        <h5 class="uninfo-label"><span>註冊繳費</span></h5>
                        <div class="uninfo-content">
                            <p>須在本校註冊並繳交全額學雜費，免繳該校學費，但該校雜費、住宿費、生活費、保險費、往返機票費等均須自行負擔。</p>
                        </div>
                    </div>
                    <div class="uninfo-awall">
                        <h5 class="uninfo-label"><span>注意事項</span></h5>
                        <div class="uninfo-content">
                            <ol>
                                <li>交換學校一覽表所列之語言能力為該校之最低門檻要求，同學需自行確認語言能力是否符合該校修課要求、查詢是否有足夠的課程可供選讀、能否達到該校之每學期修課學分數要求、以及是否具備相關領域之背景知識，若未達標準，該校有權拒收。</li>
                                <li>交換計畫資訊請參考<a href="#">此連結</a></li>
                                <li>課程資訊請參考<a href="#">此連結</a> (If the appropriate semester's schedule is not yet available, students should pick their classes based on the same semester from the year before.)</li>
                                <li>Classes are offered at four different Campuses, in three different cities. We strongly recommend that students take classes in one city. FCA and FT are in Limeira and FOP is in Piracicaba.</li>
                                <li>All undergraduate classes and most graduate classes are offered in Portuguese.There are only two graduate programs offered in English:Bioenergy Ph.D. program, <a href="#">Masters program 「Social Economy and Labour」</a></li>
                                <li>
                                    Areas with restrictions:
                                    <ul>
                                        <li><a href="#">Medicine</a>:Only theory courses (up to two courses, one month each, upon Coordinator approval)</li>
                                        <li>Music: Only for Music major applicants, especially instrument classes.</li>
                                        <li>Odontology: Only theory courses.</li>
                                        <li>Art Courses: Only for Art major applicants.</li>
                                        <li>Sports Courses: Only for Sports major applicants.</li>
                                        <li>Thesis and final projects: most units do not accept students for thesis and final projects, even if no exam is required.</li>
                                    </ul>
                                </li>
                                <li>Portuguese for foreigners and Portuguese for Spanish speakers: semester-long and are free of charge. However, availability is limited and enrollment is not guaranteed. In addition, only students who arrive in time for the placement interview (offered the week prior to the beginning of classes) are able to enroll. Classes are offered ONLY in Campinas.</li>
                                <li>Estimated cost of living: Students usually spend around US$ 400 - 600 per month. This amount includes housing and food costs.</li>
                                <li>UNICAMP requires that all foreign students have international health insurance. It is advisable for students to take out medical insurance with an insurance company in their home country that provides coverage abroad.</li>
                            </ol>
                        </div>
                    </div>
                    <div class="uninfo-awall">
                        <h5 class="uninfo-label"><span>住宿資訊</span></h5>
                        <div class="uninfo-content">
                            <p>不保證住宿，住宿資訊請參考<a href="#">此連結</a></p>
                            <p>The university does not provide university dorms for Exchange Students, but the international office can assist the student finding a shared room near the campus.</p>
                        </div>
                    </div>
				</div>
			</div>
		</main>
    </div>
</div>



<% content_for :js do %>
<script>
// Material Select Initialization
$(document).ready(function () {
    $(".mdb-select").materialSelect();
});
</script>
<% end %>
































