<!-- NTU-Bike: 移車公告  -->

<div class="container">
	<h2 class="page-title">移車公告</h2>
	<div class="control-top d-flex justify-content-between">
		<form class="d-flex form-sort">
			<div class="form-group time-control">
				<label for="date-picker-example" class="col-sm-4 col-form-label d-none">移車日期</label>
				<input placeholder="拖吊日期" type="text" id="date-picker-example" class="form-control datepicker">
			</div>
			<div class="form-group">
				<label for="inputText" class="col-sm-4 col-form-label d-none">車證編號</label>
				<input type="text" class="form-control" id="inputText" placeholder="車證編號">
			</div>
			<div class="form-group form-btn">
				<button type="submit" class="btn btn-primary btn-sm">查詢</button>
			</div>
		</form>
		<div class="map-link">
			<a href="#" class="btn btn-sm btn-outline-info btn-rounded shadow-none waves-effect">
			   <i class="fa fa-map-o"></i>
				違規區域說明
			</a>
		</div>
	</div>
    <div class="row">
        <div class="col-12 col-md-3">
            <ul class="filter-list">
                <li><a href="#" class="waves-effect">全部</a></li>
                <li><a href="#" class="is-checked waves-effect">kitty</a></li>
                <li><a href="#" class="waves-effect">學生</a></li>
                <li><a href="#" class="waves-effect">校內教職員工</a></li>
                <li><a href="#" class="waves-effect">校內單位公務車</a></li>
                <li><a href="#" class="waves-effect">校外人士</a></li>
                <li><a href="#" class="waves-effect">Ubike</a></li>
                <li><a href="#" class="waves-effect">廠商1</a></li>
                <li><a href="#" class="waves-effect">無證車輛</a></li>
            </ul>
			<select class="browser-default mobile-select">
				<option value="" disabled selected>條件塞選</option>
				<option value="1">全部</option>
				<option value="2">kitty</option>
				<option value="3">學生</option>
				<option value="3">...以下省略</option>
			</select>
        </div>
        <div class="col-12 col-md-9">
            <ul class="violation-list towing-announcement move-list">
                <li>
                    <figure>
                        <a data-fancybox="" href="http://placekitten.com/1200/900"><img src="http://placekitten.com/1200/900" alt=""></a>
                    </figure>
                    <div class="info">
                        <h5>
							<span class="label">序號</span>
							<strong>1</strong>
						</h5>
						<p>
							<span class="label">車證編號</span>
							<span>2023-1500848680-01</span>
						</p>
						<p>
							<span class="label">原地點</span>
							<span>區域 A - 台大消失的密室</span>
						</p>
						<p>
							<span class="label">放置地點</span>
							<span>區域 A - 台大醉月湖</span>
						</p>
                    </div>
                </li>
				
				<li>
                    <figure>
                        <a data-fancybox="" href="http://placekitten.com/600/420"><img src="http://placekitten.com/600/800" alt=""></a>
                    </figure>
                    <div class="info">
                        <h5>
							<span class="label">序號</span>
							<strong>2</strong>
						</h5>
						<p>
							<span class="label">車證編號</span>
							<span>2023-1500848680-01</span>
						</p>
						<p>
							<span class="label">原地點</span>
							<span>區域 A - 台大消失的密室</span>
						</p>
						<p>
							<span class="label">放置地點</span>
							<span>區域 A - 台大醉月湖</span>
						</p>
                    </div>
                </li>
				
				<li>
                    <figure>
                        <a data-fancybox="" href="http://placekitten.com/600/420"><img src="http://placekitten.com/400/300" alt=""></a>
                    </figure>
                    <div class="info">
                        <h5>
							<span class="label">序號</span>
							<strong>3</strong>
						</h5>
						<p>
							<span class="label">車證編號</span>
							<span>2023-1500848680-01</span>
						</p>
						<p>
							<span class="label">原地點</span>
							<span>區域 A - 台大消失的密室</span>
						</p>
						<p>
							<span class="label">放置地點</span>
							<span>區域 A - 台大醉月湖</span>
						</p>
                    </div>
                </li>

            </ul>
        </div>
	</div>
</div>

<% content_for :js do %>
<script src="../javascripts/jquery.alphaindex.js"></script>
<script src="../javascripts/jquery.fancybox.js"></script>
<script>
    $('.datepicker').pickadate();
</script>
<% end %>