<!-- ntuoia: 本處成員 - 全覽 -->

<div class="full-header">
    <img class="h1-logo" src="../../assets/logo@2x.png">
</div>

<div class="full-container">
	<div class="full-group">
		<h4 class="group-title">國際長</h5>
		<div class="full-department">
			<h3 class="department-title">國際長</h5>
			<div class="full-wrapper">
				
                <div class="single-modal">
                    <div class="modal-content">
                        <div class="modal-body">
                            <div class="member-intro">
                                <div class="photo-wrap">
                                    <img src="http://placekitten.com/300/300">
                                </div>
                                <div class="intro-wrap">
                                    <div class="intro-hd">
                                        <h4>國際長</h4>
                                        <h3>袁孝維 Prof. Hsiao-Wei Yuan</h3>
                                    </div>
                                    <section class="intro-block">
                                        <h6>學歷</h6>
                                        <ul class="menu-item general-item">
                                            <li>美國康乃爾大學自然資源博士</li>
                                            <li>國立臺灣大學動物學碩士</li>
                                            <li>國立臺灣大學動物學學士</li>
                                        </ul>
                                    </section>
                                    <section class="intro-block">
                                        <h6>經歷</h6>
                                        <ul class="menu-item general-item">
                                            <li>After you get up and running, you can place Font Awesome icons just about anywhere with the tag:</li>
                                            <li>全球事務與科學發展中心主任</li>
                                            <li>國立臺灣大學森林環境暨資源學系系主任</li>
                                            <li>國家實驗研究院國際事務主任</li>
                                            <li>國立臺灣大學國際長</li>
                                            <li>國立臺灣大學副國際長</li>
                                            <li>國立臺灣大學學務處生活輔導組主任</li>
                                            <li>美國奧勒岡州立大學客座副教授</li>
                                            <li>國立臺灣大學森林學系副教授</li>
                                            <li>台灣森林保健學會理事長</li>
                                            <li>2011亞太國際教育年會副主席</li>
                                            <li>財團法人高等教育國際合作基金會執行長</li>
                                        </ul>
                                    </section>
                                    <section class="intro-block mb-0">
                                        <ul class="menu-item contact-item">
                                            <li>
                                                <i class="fa fa-envelope-o"></i>
                                                <a href="mailto:oia@ntu.edu.tw">oia@ntu.edu.tw</a>
                                            </li>
                                            <li>
                                                <i class="fa fa-phone"></i>
                                                +886 (0)2-3366-2007
                                            </li>
                                        </ul>
                                    </section>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
				
			</div>
		</div>
	</div>
	
	<div class="full-group">
		<h4 class="group-title">副國際長</h5>
		<div class="full-department">
			<h3 class="department-title">副國際長</h5>
			<div class="full-wrapper">
				
                <div class="single-modal">
                    <div class="modal-content">
                        <div class="modal-body">
                            <div class="member-intro">
                                <div class="photo-wrap">
                                    <img src="http://placekitten.com/300/300">
                                </div>
                                <div class="intro-wrap">
                                    <div class="intro-hd">
                                        <h4>副國際長</h4>
                                        <h3>林璧鳳 Prof. Bi-Fong Lin, Ph.D.</h3>
                                    </div>
                                    <section class="intro-block">
                                        <h6>學歷</h6>
                                        <ul class="menu-item general-item">
                                            <li>美國柏克萊加州大學營養科學系所博士 </li>
                                            <li>日本東京大學農藝化學系所碩士 </li>
                                            <li>臺灣大學農業化學系學士</li>
                                        </ul>
                                    </section>
                                    <section class="intro-block">
                                        <h6>經歷</h6>
                                        <ul class="menu-item general-item">
                                            <li>國立臺灣大學生化科技學系教授 </li>
                                            <li>國立臺灣大學生命科學院副院長 </li>
                                            <li>國立臺灣大學生化科技學系系主任 </li>
                                            <li>國立臺灣大學農業化學系教授 </li>
                                            <li>國立臺灣大學農業化學系副教授 </li>
                                            <li>大同工學院生物工程系講師</li>
                                        </ul>
                                    </section>
                                    <section class="intro-block mb-0">
                                        <ul class="menu-item contact-item">
                                            <li>
                                                <i class="fa fa-envelope-o"></i>
                                                <a href="mailto: bifong@ntu.edu.tw"> bifong@ntu.edu.tw</a>
                                            </li>
                                            <li>
                                                <i class="fa fa-phone"></i>
                                                +886 (0)2-3366-2007
                                            </li>
                                        </ul>
                                    </section>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
				
				<div class="single-modal">
                    <div class="modal-content">
                        <div class="modal-body">
                            <div class="member-intro">
                                <div class="photo-wrap">
                                    <img src="http://placekitten.com/300/300">
                                </div>
                                <div class="intro-wrap">
                                    <div class="intro-hd">
                                        <h4>副國際長</h4>
                                        <h3>林致廷 Prof. Chih-Ting Lin</h3>
                                    </div>
                                    <section class="intro-block">
                                        <h6>學歷</h6>
                                        <ul class="menu-item general-item">
                                            <li>美國密西根大學電機博士 </li>
                                            <li>美國密西根大學電機碩士 </li>
                                            <li>國立臺灣大學碩士 </li>
											<li>國立臺灣大學學士 </li>
                                        </ul>
                                    </section>
                                    <section class="intro-block">
                                        <h6>經歷</h6>
                                        <ul class="menu-item general-item">
                                            <li>國立臺灣大學電機工程學系專任教授 </li>
                                            <li>國立臺灣大學工學院暨電機資訊學院奈米機電系統研究中心主任</li>
                                        </ul>
                                    </section>
                                    <section class="intro-block mb-0">
                                        <ul class="menu-item contact-item">
                                            <li>
                                                <i class="fa fa-envelope-o"></i>
                                                <a href="mailto:timlin@ntu.edu.tw">timlin@ntu.edu.tw</a>
                                            </li>
                                            <li>
                                                <i class="fa fa-phone"></i>
                                                +886 (0)2-3366-2007
                                            </li>
                                        </ul>
                                    </section>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
				
			</div>
		</div>
	</div>
	
	<% (1..3).each do |n| %>
	<div class="full-group">
		<h4 class="group-title">國際長室</h5>
		
		<% (1..3).each do |n| %>
		<div class="full-department">
			<h3 class="department-title">綜合業務股</h5>
			<div class="full-wrapper">
				
                <div class="single-modal">
                    <div class="modal-content">
                        <div class="modal-body">
                            <div class="member-intro">
                                <div class="photo-wrap">
                                    <img src="http://placekitten.com/300/300">
                                </div>
                                <div class="intro-wrap">
                                    <div class="intro-hd">
                                        <h4>組長兼秘書</h4>
                                        <h3>吳熙君 Karen Wu</h3>
                                    </div>
                                    <section class="intro-block">
                                        <h6>學歷</h6>
                                        <ul class="menu-item general-item">
                                            <li>英國曼徹斯特大學行銷所碩士</li>
                                            <li>臺灣大學國際企業學系學士</li>
                                        </ul>
                                    </section>
                                    <section class="intro-block">
                                        <h6>負責業務</h6>
                                        <ul class="menu-item general-item">
                                            <li>核稿(公文)</li>
                                            <li>秘書</li>
                                        </ul>
                                    </section>
									<section class="intro-block">
                                        <h6>第一順位代理人</h6>
                                        <ul class="menu-item general-item">
                                            <li>陳瓊芬</li>
                                        </ul>
                                    </section>
									<section class="intro-block">
                                        <h6>第二順位代理人</h6>
                                        <ul class="menu-item general-item">
                                            <li>郭芠</li>
                                        </ul>
                                    </section>
                                    <section class="intro-block mb-0">
                                        <ul class="menu-item contact-item">
                                            <li>
                                                <i class="fa fa-envelope-o"></i>
                                                <a href="mailto: bifong@ntu.edu.tw"> bifong@ntu.edu.tw</a>
                                            </li>
                                            <li>
                                                <i class="fa fa-phone"></i>
                                                +886 (0)2-3366-2007
                                            </li>
                                        </ul>
                                    </section>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
				
				<div class="single-modal">
                    <div class="modal-content">
                        <div class="modal-body">
                            <div class="member-intro">
                                <div class="photo-wrap">
                                    <img src="http://placekitten.com/300/300">
                                </div>
                                <div class="intro-wrap">
                                    <div class="intro-hd">
                                        <h4>經理</h4>
                                        <h3>郭芠 Winni Kuo</h3>
                                    </div>
                                    <section class="intro-block">
                                        <h6>學歷</h6>
                                        <ul class="menu-item general-item">
                                            <li>英國利物浦大學企管所碩士</li>
                                        </ul>
                                    </section>
									<section class="intro-block">
                                        <h6>經歷</h6>
                                        <ul class="menu-item general-item">
                                            <li>中興高中教師</li>
                                            <li>莊敬高中教師</li>
											<li>中研院原分所</li>
                                        </ul>
                                    </section>
                                    <section class="intro-block">
                                        <h6>負責業務</h6>
                                        <ul class="menu-item general-item">
                                            <li>財務管理</li>
                                            <li>高教深耕計畫-國際化經費統籌</li>
                                        </ul>
                                    </section>
									<section class="intro-block">
                                        <h6>第一順位代理人</h6>
                                        <ul class="menu-item general-item">
                                            <li>陳韻典</li>
                                        </ul>
                                    </section>
									<section class="intro-block">
                                        <h6>第二順位代理人</h6>
                                        <ul class="menu-item general-item">
                                            <li>陳瓊芬</li>
                                        </ul>
                                    </section>
                                    <section class="intro-block mb-0">
                                        <ul class="menu-item contact-item">
                                            <li>
                                                <i class="fa fa-envelope-o"></i>
                                                <a href="mailto: winnikuo@ntu.edu.tw"> winnikuo@ntu.edu.tw</a>
                                            </li>
                                            <li>
                                                <i class="fa fa-phone"></i>
                                                +886 (0)2-3366-2007#204
                                            </li>
                                        </ul>
                                    </section>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
				
				<div class="single-modal">
                    <div class="modal-content">
                        <div class="modal-body">
                            <div class="member-intro">
                                <div class="photo-wrap">
                                    <img src="http://placekitten.com/300/300">
                                </div>
                                <div class="intro-wrap">
                                    <div class="intro-hd">
                                        <h4>組長兼秘書</h4>
                                        <h3>吳熙君 Karen Wu</h3>
                                    </div>
                                    <section class="intro-block">
                                        <h6>學歷</h6>
                                        <ul class="menu-item general-item">
                                            <li>英國曼徹斯特大學行銷所碩士</li>
                                            <li>臺灣大學國際企業學系學士</li>
                                        </ul>
                                    </section>
                                    <section class="intro-block">
                                        <h6>負責業務</h6>
                                        <ul class="menu-item general-item">
                                            <li>核稿(公文)</li>
                                            <li>秘書</li>
                                        </ul>
                                    </section>
									<section class="intro-block">
                                        <h6>第一順位代理人</h6>
                                        <ul class="menu-item general-item">
                                            <li>陳瓊芬</li>
                                        </ul>
                                    </section>
									<section class="intro-block">
                                        <h6>第二順位代理人</h6>
                                        <ul class="menu-item general-item">
                                            <li>郭芠</li>
                                        </ul>
                                    </section>
                                    <section class="intro-block mb-0">
                                        <ul class="menu-item contact-item">
                                            <li>
                                                <i class="fa fa-envelope-o"></i>
                                                <a href="mailto: bifong@ntu.edu.tw"> bifong@ntu.edu.tw</a>
                                            </li>
                                            <li>
                                                <i class="fa fa-phone"></i>
                                                +886 (0)2-3366-2007
                                            </li>
                                        </ul>
                                    </section>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
				
				<div class="single-modal">
                    <div class="modal-content">
                        <div class="modal-body">
                            <div class="member-intro">
                                <div class="photo-wrap">
                                    <img src="http://placekitten.com/300/300">
                                </div>
                                <div class="intro-wrap">
                                    <div class="intro-hd">
                                        <h4>組長兼秘書</h4>
                                        <h3>吳熙君 Karen Wu</h3>
                                    </div>
                                    <section class="intro-block">
                                        <h6>學歷</h6>
                                        <ul class="menu-item general-item">
                                            <li>英國曼徹斯特大學行銷所碩士</li>
                                            <li>臺灣大學國際企業學系學士</li>
                                        </ul>
                                    </section>
                                    <section class="intro-block">
                                        <h6>負責業務</h6>
                                        <ul class="menu-item general-item">
                                            <li>核稿(公文)</li>
                                            <li>秘書</li>
                                        </ul>
                                    </section>
									<section class="intro-block">
                                        <h6>第一順位代理人</h6>
                                        <ul class="menu-item general-item">
                                            <li>陳瓊芬</li>
                                        </ul>
                                    </section>
									<section class="intro-block">
                                        <h6>第二順位代理人</h6>
                                        <ul class="menu-item general-item">
                                            <li>郭芠</li>
                                        </ul>
                                    </section>
                                    <section class="intro-block mb-0">
                                        <ul class="menu-item contact-item">
                                            <li>
                                                <i class="fa fa-envelope-o"></i>
                                                <a href="mailto: bifong@ntu.edu.tw"> bifong@ntu.edu.tw</a>
                                            </li>
                                            <li>
                                                <i class="fa fa-phone"></i>
                                                +886 (0)2-3366-2007
                                            </li>
                                        </ul>
                                    </section>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
				
				<div class="single-modal">
                    <div class="modal-content">
                        <div class="modal-body">
                            <div class="member-intro">
                                <div class="photo-wrap">
                                    <img src="http://placekitten.com/300/300">
                                </div>
                                <div class="intro-wrap">
                                    <div class="intro-hd">
                                        <h4>組長兼秘書</h4>
                                        <h3>吳熙君 Karen Wu</h3>
                                    </div>
                                    <section class="intro-block">
                                        <h6>學歷</h6>
                                        <ul class="menu-item general-item">
                                            <li>英國曼徹斯特大學行銷所碩士</li>
                                            <li>臺灣大學國際企業學系學士</li>
                                        </ul>
                                    </section>
                                    <section class="intro-block">
                                        <h6>負責業務</h6>
                                        <ul class="menu-item general-item">
                                            <li>核稿(公文)</li>
                                            <li>秘書</li>
                                        </ul>
                                    </section>
									<section class="intro-block">
                                        <h6>第一順位代理人</h6>
                                        <ul class="menu-item general-item">
                                            <li>陳瓊芬</li>
                                        </ul>
                                    </section>
									<section class="intro-block">
                                        <h6>第二順位代理人</h6>
                                        <ul class="menu-item general-item">
                                            <li>郭芠</li>
                                        </ul>
                                    </section>
                                    <section class="intro-block mb-0">
                                        <ul class="menu-item contact-item">
                                            <li>
                                                <i class="fa fa-envelope-o"></i>
                                                <a href="mailto: bifong@ntu.edu.tw"> bifong@ntu.edu.tw</a>
                                            </li>
                                            <li>
                                                <i class="fa fa-phone"></i>
                                                +886 (0)2-3366-2007
                                            </li>
                                        </ul>
                                    </section>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
				
			</div>
		</div>
		<% end %>
		
	</div>
	<% end %>
	
</div>
































