
/* `Footer
-----------------------------------------------------------------------------*/

footer.footer {
	background: $main_color;
	padding: 1.5rem 0;
	font-size: .9375rem;
	color: rgba(#fff, .7);
	position: sticky;
	top: 100vh;
	.footer-inner {
		display: flex;
		justify-content: space-between;
	}
	.menu-item.link {
		li {
			display: inline-block;
			margin-right: .5rem;
			padding-right: .5rem;
			position: relative;
			&:after {
				content: "";
				background: rgba(#fff, .3);
				width: 0.063rem;
				height: .75rem;
				position: absolute;
				right: -.125rem;
				top: .313rem;;
			}
			&:last-child {
				margin-right: 0;
				padding-right: 0;
				&:after { content: none; }
			}
		}
		a {
			color: #fff933;
			text-decoration: none;
			&:hover {
				color: #fff;
			}
		}
	}
	.statistics {
		margin: .5rem 0;
		.item {
			display: inline-block;
			margin-right: .75rem;
			i { font-size: .875rem; }
		}
	}
	address {
		margin-bottom: 0;
		font-size: .813rem;
	}
	.footer-right {
		text-align: right;
	}
	.accessibility-link {
		display: inline-block;
		img {
			display: block;
			width: 9rem;
			height: auto;
		}
	}
}

/* `Responsive
-----------------------------------------------------------------------------*/

@media (max-width: 575px) {
	footer.footer {
        .footer-inner { display: block; }
		.footer-right {
			margin-top: 1rem;
			text-align: left;
		}
	}

}