
/* `Header
-----------------------------------------------------------------------------*/

header.header {
	position: relative;
	.top-link {
		font-size: .9375rem;
		.container {
			padding-right: 200px;
			position: relative;
		}
		.navbar {
			background: $main_color;
			padding: 0;
		}
		a {
			color: #fff !important;
			&:hover { color: rgba(#fff, .6) !important; }
		}
		.navbar-toggler {
			border: none;
			border-radius: 0;
			padding: 0.125rem 0.5rem;
			min-height: 2.406rem;
		}
        .ackey {
			float: right;
        }
		.nav-link { padding: .5rem; }
	}
	.top-function {
		position: absolute;
		right: 12px;
		top: 0;
		a {
			display: inline-block;
			padding: .5rem;
		}
	}
	.ackey {
		padding: .5rem;
	}
}

.header-wrap {
	border-bottom: 1px solid rgba($base_border_color, .5);
	padding: 1rem 0;
	.logo { padding-right: 1rem; }
	.h1-logo {
		width: 64px;
		height: auto;
	}
	.brands {
		display: inline-block;
		a {
			display: inline-flex;
			align-items: center;
			color: #000;
			&:hover { color: $main_color; }
		}
	}
	.sub {
		h2, h3 {
			margin-bottom: 0;
			line-height: 1.2;
		}
		.ch { font-size: 1.875rem; }
		.en { font-size: 1.125rem; }
	}
}

.navbar-main {
	.navbar-toggler { border-radius: 0; }
	.navbar-nav,
	.nav-item {
		flex-grow: 1;
		font-size: 1.0625rem;
	}
    .nav-link {
		color: $nav_link !important;
		word-break: keep-all;
		text-align: center;
		&:hover { color: #000 !important; }
	}
}

.en-navbar {
    .nav-link {
		color: #557655;
		&:hover {
			color: #000;
		}
    }
}

.navbar-main,
.en-navbar {
    padding-top: 0;
    padding-bottom: 0;
    .nav-link {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
}

/* `Lang
-----------------------------------------------------------------------------*/

:lang(en) {
	header.header {
		.top-link .container {
			padding-right: 12px;
		}
	}
    .header-wrap {
        .sub {
            h2, h3 {
                margin-bottom: 0;
                line-height: 1.2;
            }
            .en {
				font-size: 1.75rem;
				font-weight: 700;
				small {
					font-size: .75em;
					font-weight: 300;
				}
			}
            .edu {
				font-size: 1.125rem;
				color: #666;
			}
        }
    }
}

/* `Responsive
-----------------------------------------------------------------------------*/

@media (max-width: 1399px) {
	.navbar-main {
		.nav-link { text-align: left; }
	}
    .navbar-main,
    .en-navbar {
        padding-top: .5rem;
        padding-bottom: .5rem;
        .nav-link {
            padding-top: .5rem;
            padding-bottom: .5rem;
        }
    }
}

@media (max-width: 991px) {
    :lang(en) {
        .header-wrap {
            .sub {
                .en {
                    font-size: 1.375rem;
					line-height: 1.1;
                    small {
						display: block;
						font-size: .875em;
                    }
                }
                .edu {
                    font-size: 1rem;
                }
            }
        }
    }
}

@media (max-width: 767px) {
    header.header {
        .top-link {
            .ackey {
                float: none;
            }
        }
    }
	.header-wrap {
        .h1-logo {
            width: 56px;
        }
        .sub {
            .ch { font-size: 1.5rem; }
            .en { font-size: 1rem; }
        }
	}
}

@media (max-width: 574px) {
	.header-wrap {
        .h1-logo {
            width: 48px;
        }
        .sub {
            .ch { font-size: 1.375rem; }
            .en { font-size: .875rem; }
        }
	}
}

@media (max-width: 414px) {
	.header-wrap {
        .sub {
            .ch { font-size: 1.125rem; }
            .en { font-size: .75rem; }
        }
	}
    :lang(en) {
        .header-wrap {
            .sub {
                .en {
                    font-size: 1.25rem;
                }
                .edu {
                    font-size: .813rem;
                }
            }
        }
		.en-navbar {
			.nav-link {
				padding: .5rem;
			}
		}
    }
}









