<!-- NCKU-Menu: 登入  -->

<body class="login-layout">
    <div class="pages">
        <ul id="scene2" class="clean-list">
            <li class="layer layer1" data-depth="0.02">
                <img src="../assets/cloud-3.png" />
            </li>
            <li class="layer layer2" data-depth="0.02">
                <img src="../assets/cloud-2.png" />
            </li>
            <li class="layer layer3" data-depth="0.05">
                <img src="../assets/cloud-1.png" />
            </li>
            <li class="layer layer4" data-depth="0.12">
                <img src="../assets/tree.png" />
            </li>
            <li class="layer layer5" data-depth="0.005">
                <img src="../assets/ncku-logo.svg" />
            </li>
            <li class="layer layer6" data-depth="0.02">
                <img src="../assets/ncku-logo.svg" />
            </li>
        </ul>
        <div class="login-container">
            <div class="login-card">
                <h4>後台管理系統</h4>
                <form>
                    <div class="form-group">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-user" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                          <path stroke="none" d="M0 0h24v24H0z"/>
                          <circle cx="12" cy="7" r="4" />
                          <path d="M5.5 21v-2a4 4 0 0 1 4 -4h5a4 4 0 0 1 4 4v2" />
                        </svg>
                        <input type="email" id="materialFormCardEmailEx" class="form-control" placeholder="UserName or Email">
                    </div>
                    <div class="form-group">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-lock" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                          <path stroke="none" d="M0 0h24v24H0z"/>
                          <rect x="5" y="11" width="14" height="10" rx="2" />
                          <circle cx="12" cy="16" r="1" />
                          <path d="M8 11v-4a4 4 0 0 1 8 0v4" />
                        </svg>
                        <input type="password" id="materialFormCardPasswordEx" class="form-control" placeholder="Password">
                    </div>
                    <div class="form-group custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="defaultLoginFormRemember">
                        <label class="custom-control-label" for="defaultLoginFormRemember">Remember me</label>
                    </div>
                    <button class="btn btn-login" type="submit">登入</button>
                    <div class="sign-with text-center mt-3">
                        <p class="mb-0">or sign in with
                            <a href="/">SSO</a>
                        </p>
                    </div>
                </form>
            </div>
        </div>
	</div>
    <script src="../javascripts/popper.min.js"></script>
    <script src="../javascripts/bootstrap.min.js"></script>
    <script src="../javascripts/mdb.min.js"></script>
    <script src="../javascripts/jquery-3.4.1.min.js"></script>
    <script src="../javascripts/parallax.min.js"></script>

    <script>
        // run parallax when everything has loaded
        $(window).on('load', function(){
            // define parallax dependencies
            var scene = document.getElementById('scene2');
            var images = $('.layer');
            var p = new Parallax(scene2);

            //fade in the view
            $('#scene2').fadeIn(1800);
        });
    </script>
</body>