<!-- NCKU-Menu: 切換身分  -->

<body class="switch-layout">
    <div class="pages">
        <ul id="scene3" class="clean-list">
            <li class="layer layer1" data-depth="0.02">
                <img src="../assets/cloud-3.png" />
            </li>
            <li class="layer layer2" data-depth="0.02">
                <img src="../assets/cloud-2.png" />
            </li>
            <li class="layer layer3" data-depth="0.05">
                <img src="../assets/cloud-1.png" />
            </li>
            <li class="layer layer4" data-depth="0.12">
                <img src="../assets/tree.png" />
            </li>
            <li class="layer layer5" data-depth="0.005">
                <img src="../assets/ncku-logo.svg" />
            </li>
            <li class="layer layer6" data-depth="0.02">
                <img src="../assets/ncku-logo.svg" />
            </li>
			<li class="layer layer7" data-depth="0.1">
                <img class="cloud_animation" src="../assets/cloud-4.png" />
            </li>
        </ul>
        <div class="switch-container">
			<div class="switch-wrapper">
			    <h4 class="switch-title">切換身份</h4>
				<p class="description">說明文案<%= zh_lorem_paragraph %></p>
                <ul class="switch-list">
					<% (1..5).each do |n| %>
                    <li>
                        <div class="switch-item">
                            <h5>身份別名稱</h5>
							<p>說明文案<%= zh_lorem_sentence %></p>
							<button type="button" class="btn btn-info btn-rounded">切換</button>
                        </div>
                    </li>
					<% end %>
                </ul>
			</div>
        </div>
	</div>
    <script src="../javascripts/popper.min.js"></script>
    <script src="../javascripts/bootstrap.min.js"></script>
    <script src="../javascripts/mdb.min.js"></script>
    <script src="../javascripts/jquery-3.4.1.min.js"></script>
    <script src="../javascripts/parallax.min.js"></script>

    <script>
        // run parallax when everything has loaded
        $(window).on('load', function(){
            // define parallax dependencies
            var scene = document.getElementById('scene3');
            var images = $('.layer');
            var p = new Parallax(scene3);

            //fade in the view
            $('#scene3').fadeIn(1200);
        });
    </script>
</body>