<header class="header" id="pagetop">
    <div class="container-lg">
		<div class="header-wrap">
			<div class="brands">
                <a class="brands-link" href="index.html">
                    <div class="logo">
                        <h1 class="text-hide">國立東華大學 英語培力研究院籌備處 National Dong Hwa University | Academy of English Empowerment</h1>
                        <img class="h1-logo" src="../assets/logo@2x.png">
                    </div>
                    <div class="sub">
                        <span>國立東華大學 英語培力研究院籌備處</span>
                        <span class="en">學生獎學金申請系統</span>
                    </div>
                </a>
			</div>
		</div>
    </div>
</header>

