<!-- NKUST: 推薦信系統 - 同意推薦 -->

<div class="container">
    <div class="main-wrapper">
		<div class="mb-4">
			<p class="font-weight-bold">請問您是否同意推薦以下學生申請?</p>
		</div>
		<ul class="menu-item recommend-data">
		    <li>
			    <span class="label">姓名</span>
				<span class="data">史佳麗</span>
			</li>
			<li>
			    <span class="label">申請序號</span>
				<span class="data">000123456</span>
			</li>
			<li>
			    <span class="label">申請系所</span>
				<span class="data">理工學院 化學系學士班 甲組 一般生</span>
			</li>
		</ul>
        <div>
            <a href="/" class="btn btn-primary">同意推薦</a>
            <a href="#" class="btn btn-link font-weight-bold">不同意</a>
        </div>
    </div>
</div>