<!-- NKUST: 推薦信系統 - 資料確認 -->

<div class="container">
    <div class="main-wrapper">
		<div class="mb-4">
			<h5>Dear Mr./Ms. [推薦人姓名],</h5>
			<p>請確認下列資料無誤</p>
		</div>
		<ul class="menu-item recommend-data">
		    <li>
			    <span class="label">姓名</span>
				<span class="data">萊恩雷斯諾</span>
			</li>
			<li>
			    <span class="label">與報名者關係</span>
				<span class="data">師生</span>
			</li>
			<li>
			    <span class="label">職稱</span>
				<span class="data">教授</span>
			</li>
			<li>
			    <span class="label">連絡電話</span>
				<span class="data">0911222333</span>
			</li>
		</ul>
		<p>請問您是否為推薦人本人？</p>
        <div>
            <a href="/" class="btn btn-primary">是，我是本人</a>
            <a href="#" class="btn btn-link font-weight-bold">否，我不是本人</a>
        </div>
    </div>
</div>