<!-- NKUST: 推薦信系統 - 推薦內容 -->

<div class="container">
    <div class="main-wrapper">
		<h5 class="mb-3">推薦方式</h5>
        <div class="form-group">
            <div>
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" class="custom-control-input" id="recommendUpload" name="recommendMode">
                    <label class="custom-control-label" for="recommendUpload">上傳</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" class="custom-control-input" id="recommendtext" name="recommendMode">
                    <label class="custom-control-label" for="recommendtext">線上填寫</label>
                </div>
            </div>
        </div>
		
		<!-- show / hide 煩請工程師補上 -->
		
		<div class="mode-wrap">
            <div class="input-group">
                <div class="custom-file">
                    <input type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01" />
                    <label class="custom-file-label" for="inputGroupFile01">選擇檔案</label>
                </div>
            </div>
		</div>
		
		<div class="mode-wrap">
            <textarea class="form-control rounded-0" id="" rows="5" placeholder="請填寫推薦內容"></textarea>
		</div>
        <div>
            <a href="/" class="btn btn-primary">送出</a>
        </div>
    </div>
</div>