<!-- NTU-OSA: 關於我們  -->

<div class="container">
	
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="#">首頁</a></li>
			<li class="breadcrumb-item active">關於我們</li>
		</ol>
	</nav>
	<main class="main">
		<div class="row">
			<div class="col-md-3 sidenav">
				<div class="sticky">
					<ul class="collapsible collapsible-accordion menu-item">
						<li><a href="#" class="collapsible-header current">關於我們</a></li>
						<li><a href="#" class="collapsible-header">聯絡我們</a></li>
					</ul>
				</div>
			</div>
			<div class="col-md-9">
				<article class="article">
					<div class="post-meta">
						<div class="section-title">
							<h3>膳食協調委員會介紹</h3>
						</div>
						<div class="post-share">
							<ul class="menu-item">
								<li><a href="#"><img class="icon-share" src="../assets/icon-print2.svg" alt="列印" title="列印"></a></li>
								<li><a href="#"><img class="icon-share" src="../assets/icon-email.svg" alt="轉寄" title="轉寄"></a></li>
								<li><a href="#"><img class="icon-share" src="../assets/icon-facebook.svg" alt="分享到Facebook" title="Facebook"></a></li>
								<li><a href="#"><img class="icon-share" src="../assets/icon-twitter.svg" alt="分享到twitter" title="twitter"></a></li>
								<li><a href="#"><img class="icon-share" src="../assets/icon-line.svg" alt="分享到Line" title="Line"></a></li>
							</ul>
						</div>
					</div>
					
                    <div class="post-single">
						<p>為管理本校校園內食品衛生安全及品質，維護本校教職員工生及來訪貴賓良好飲食環境及健康，本校特製定「國立臺灣大學膳食協調委員會組織規程」，並訂定「國立臺灣大學餐廳及福利社膳食衛生安全管理辦法」，該委員會重要任務項目如下：</p>
						<ol>
						    <li>本校餐廳、福利社等改善設施之規劃。</li>
							<li>本校餐廳、福利社等處理食物流程之衛生管理。</li>
							<li>本校餐廳、福利社等內外環境及設施之衛生管理。</li>
							<li>本校餐廳、福利社員等設施之消防安全。</li>
							<li>本校承包餐廳、福利廠商合約之擬訂。</li>
							<li>其他餐廳、福利社衛生管理事項。</li>
						</ol>
						<h4 class="h4">組織概況</h4>
						<a href="#">膳食協調委員會組織規程</a>
                    </div>
					
                    <div class="files-section">
                        <ul class="menu-item file-list file-list-compact">
                            <li>
                                <h6>國立臺灣大學膳食協調委員會組織規程 </h6>
                                <div class="file-dl">
                                    <a href="#" title="PDF">
                                        <img class="icon-files" src="../assets/icons/pdf.png" alt="PDF">
                                    </a>
                                    <a href="#" title="DOCX">
                                        <img class="icon-files" src="../assets/icons/docx.png" alt="DOCX">
                                    </a>
                                    <a href="#" title="DOC">
                                        <img class="icon-files" src="../assets/icons/doc.png" alt="DOC">
                                    </a>
                                </div>
                            </li>
                            <li>
                                <h6>109膳食協調委員會委員名冊</h6>
                                <div class="file-dl">
                                    <a href="#" title="ODT">
                                        <img class="icon-files" src="../assets/icons/odt.png" alt="ODT">
                                    </a>
                                    <a href="#" title="ODP">
                                        <img class="icon-files" src="../assets/icons/odp.png" alt="ODP">
                                    </a>
                                    <a href="#" title="ODS">
                                        <img class="icon-files" src="../assets/icons/ods.png" alt="ODS">
                                    </a>
                                </div>
                            </li>
                            <li>
                                <h6><%= lorem_sentence %></h6>
                                <div class="file-dl">
                                    <a href="#" title="Excel">
                                        <img class="icon-files" src="../assets/icons/xls.png" alt="Excel">
                                    </a>
                                    <a href="#" title="PNG">
                                        <img class="icon-files" src="../assets/icons/png.png" alt="PNG">
                                    </a>
                                    <a href="#" title="JPG">
                                        <img class="icon-files" src="../assets/icons/jpg.png" alt="JPG">
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </div>
				</article>
			</div>
		</div>
	</main>
</div>


<% content_for :js do %>
<script>
$(function () {
	$(".sticky").sticky({
		topSpacing: 30,
		zIndex: 2,
		stopper: "footer.footer",
		minWidth: 991
	});
    jQuery(document).ready(function($) {
        var alterClass = function() {
            var ww = document.body.clientWidth;
            if (ww < 767) {
                $('.sticky').addClass('sticky-fix');
            } else if (ww >= 767) {
                $('.sticky').removeClass('sticky-fix');
            };
        };
        $(window).resize(function() {
            alterClass();
        });
        //Fire it when the page first loads:
        alterClass();
    });
});
</script>
<% end %>





















































