<!-- NTU-OSA: 聯絡我們  -->

<div class="container">
	
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="#">首頁</a></li>
			<li class="breadcrumb-item"><a href="#">關於我們</a></li>
			<li class="breadcrumb-item active">聯絡我們</li>
		</ol>
	</nav>
	<main class="main">
		<div class="row">
			<div class="col-md-3 sidenav">
				<div class="sticky">
					<ul class="collapsible collapsible-accordion menu-item">
						<li><a href="#" class="collapsible-header waves-effect">關於我們</a></li>
						<li><a href="#" class="collapsible-header waves-effect current">聯絡我們</a></li>
					</ul>
				</div>
			</div>
			<div class="col-md-9">
				<article class="article">
					<div class="post-meta">
						<div class="section-title">
							<h3>聯絡膳食協調委員會</h3>
						</div>
						<div class="post-share">
							<ul class="menu-item">
								<li><a href="#"><img class="icon-share" src="../assets/icon-print2.svg" alt="列印" title="列印"></a></li>
								<li><a href="#"><img class="icon-share" src="../assets/icon-email.svg" alt="轉寄" title="轉寄"></a></li>
								<li><a href="#"><img class="icon-share" src="../assets/icon-facebook.svg" alt="分享到Facebook" title="Facebook"></a></li>
								<li><a href="#"><img class="icon-share" src="../assets/icon-twitter.svg" alt="分享到twitter" title="twitter"></a></li>
								<li><a href="#"><img class="icon-share" src="../assets/icon-line.svg" alt="分享到Line" title="Line"></a></li>
							</ul>
						</div>
					</div>
					
                    <div class="post-single">
                        <div class="menber-info">
							<div class="awell">
                                <ul class="menu-item contact-item">
                                    <li><i class="fa fa-envelope" title="信箱"></i> <a href="mailto:ntumeals@ntu.edu.tw">ntumeals@ntu.edu.tw</a></li>
                                    <li><i class="fa fa-phone" title="聯絡電話"></i> 02-3366-2268</li>
                                    <li><i class="fa fa-fax" title="傳真"></i> 02-2369-6404</li>
                                </ul>
							</div>
							<h4 class="font-weight-normal mb-3">膳食協調委員會執行小組成員</h4>
							<% (1..4).map do |i| %>
							<div class="info-group">
                                <div class="menber-avatar">
                                    <img src="../assets/default.png" alt="測試" title="測試">
                                </div>
                                <div class="menber-introduction">
                                    <div class="item">
                                        <span>職稱</span>
                                        <span>大師</span>
                                    </div>
                                    <div class="item">
                                        <span>姓名</span>
                                        <span>史嘉莉</span>
                                    </div>
                                    <div class="item">
                                        <span>分機</span>
                                        <span>02-3366-2268 #999</span>
                                    </div>
                                    <div class="item">
                                        <span>信箱</span>
                                        <span><a href="mailto:ntumeals@ntu.edu.tw">ntumeals@ntu.edu.tw</a></span>
                                    </div>
                                </div>
                            </div>
							<% end %>
                        </div>
                    </div>
				</article>
			</div>
		</div>
	</main>
</div>


<% content_for :js do %>
<script>
$(function () {
	$(".sticky").sticky({
		topSpacing: 30,
		zIndex: 2,
		stopper: "footer.footer",
		minWidth: 991
	});
    jQuery(document).ready(function($) {
        var alterClass = function() {
            var ww = document.body.clientWidth;
            if (ww < 767) {
                $('.sticky').addClass('sticky-fix');
            } else if (ww >= 767) {
                $('.sticky').removeClass('sticky-fix');
            };
        };
        $(window).resize(function() {
            alterClass();
        });
        //Fire it when the page first loads:
        alterClass();
    });
});
</script>
<% end %>





















































