<!-- NTU-OSA: 相簿  -->

<div class="container">
	
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="#">首頁</a></li>
			<li class="breadcrumb-item active">活動花絮</li>
		</ol>
	</nav>
	
	<main class="main">
		<article class="article">
            <div class="post-meta">
                <div class="section-title">
                    <h3>活動花絮</h3>
                </div>
                <div class="post-share">
                    <ul class="menu-item">
                        <li><a href="#"><img class="icon-share" src="../assets/icon-print2.svg" alt="列印" title="列印"></a></li>
                        <li><a href="#"><img class="icon-share" src="../assets/icon-email.svg" alt="轉寄" title="轉寄"></a></li>
                        <li><a href="#"><img class="icon-share" src="../assets/icon-facebook.svg" alt="分享到Facebook" title="Facebook"></a></li>
                        <li><a href="#"><img class="icon-share" src="../assets/icon-twitter.svg" alt="分享到twitter" title="twitter"></a></li>
                        <li><a href="#"><img class="icon-share" src="../assets/icon-line.svg" alt="分享到Line" title="Line"></a></li>
                    </ul>
                </div>
            </div>
			
			<div class="post-single">
				<p>膳食委員會舉辦各式活動內容</p>
                <div class="album-gallery">
                    <div class="img-group">
                        <a href="#" class="album-item">
                            <div class="image-wrapper">
                                <img src="../assets/fake/01.jpg" alt="測試" title="測試">
                            </div>
                            <p>相簿名稱</p>
                        </a>
                        <a href="#" class="album-item">
                            <div class="image-wrapper">
                                <img src="../assets/fake/002.jpg" alt="測試" title="測試">
                            </div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                        </a>
                        <a href="#" class="album-item">
                            <div class="image-wrapper">
                                <img src="../assets/fake/fake-01.jpg" alt="測試" title="測試">
                            </div>
                            <p>相簿名稱</p>
                        </a>
                        <a href="#" class="album-item">
                            <div class="image-wrapper">
                                <img src="../assets/fake/01.jpg" alt="測試" title="測試">
                            </div>
                            <p>相簿名稱</p>
                        </a>
                        <a href="#" class="album-item">
                            <div class="image-wrapper">
                                <img src="../assets/fake/002.jpg" alt="測試" title="測試">
                            </div>
                            <p>相簿名稱</p>
                        </a>
                    </div>
                    <p>相簿圖片容器為標準的 16:9</p>
                </div>
				
                <div class="album-gallery upright">
                    <h5>直立相簿</h5>
					<p>不建議採用</p>
                    <div class="img-group">
                        <a href="#" class="album-item">
                            <div class="image-wrapper">
                                <img src="../assets/fake/01.jpg" alt="測試" title="測試">
                            </div>
                            <p>相簿名稱</p>
                        </a>
                        <a href="#" class="album-item">
                            <div class="image-wrapper">
                                <img src="http://placekitten.com/720/1280" alt="測試" title="測試">
                            </div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                        </a>
                        <a href="#" class="album-item">
                            <div class="image-wrapper">
                                <img src="../assets/fake/fake-01.jpg" alt="測試" title="測試">
                            </div>
                            <p>相簿名稱</p>
                        </a>
                        <a href="#" class="album-item">
                            <div class="image-wrapper">
                                <img src="http://placekitten.com/180/320" alt="測試" title="測試">
                            </div>
                            <p>相簿名稱</p>
                        </a>
                        <a href="#" class="album-item">
                            <div class="image-wrapper">
                                <img src="http://placekitten.com/360/640" alt="測試" title="測試">
                            </div>
                            <p>相簿名稱</p>
                        </a>
                        <a href="#" class="album-item">
                            <div class="image-wrapper">
                                <img src="http://placekitten.com/540/960" alt="測試" title="測試">
                            </div>
                            <p>相簿名稱</p>
                        </a>
                    </div>
                </div>
				
			</div>
		</article>
	</main>
	
</div>


<% content_for :js do %>

<% end %>





















































