<!-- NTU-OSA: 圖表 -->

<div class="container">
	
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="#">首頁</a></li>
			<li class="breadcrumb-item active">圖表</li>
		</ol>
	</nav>
	<main class="main">
		<div class="row">
			<div class="col-md-3 sidenav">
				<div class="sticky">
					<ul class="collapsible collapsible-accordion menu-item">
						<li><a href="#" class="collapsible-header waves-effect">書院活動宗旨</a></li>
						<li><a href="#" class="collapsible-header waves-effect">各學院分梯次及日期區間</a></li>
						<li><a href="#" class="collapsible-header waves-effect">報到日期、時間、地點</a></li>
						<li><a href="#" class="collapsible-header waves-effect">課程表</a></li>
						<li><a href="#" class="collapsible-header waves-effect">抽獎資訊</a></li>
						<li><a class="collapsible-header waves-effect arrow-r">書院團隊介紹<i class="fa fa-angle-down rotate-icon"></i></a>
							<div class="collapsible-body">
								<ul>
									<li><a class="waves-effect" href="#">課外組團隊</a></li>
									<li><a class="waves-effect" href="#">籌借人員團隊</a></li>
									<li><a class="waves-effect" href="#">隊輔團隊照片</a></li>
								</ul>
							</div>
						</li>
						<li><a href="#" class="collapsible-header waves-effect">常見問題</a></li>
						<li><a href="#" class="collapsible-header waves-effect current">重要文件下載</a></li>
						<li><a href="#" class="collapsible-header waves-effect">學生手冊</a></li>
					</ul>
				</div>
			</div>
			<div class="col-md-9">
				<article class="article">
					<div class="post-meta">
						<div class="section-title">
							<h3>圖表</h3>
						</div>
						<div class="post-share">
							<ul class="menu-item">
								<li><a href="#"><img class="icon-share" src="../assets/icon-print2.svg" alt="列印" title="列印"></a></li>
								<li><a href="#"><img class="icon-share" src="../assets/icon-facebook.svg" alt="分享到Facebook" title="Facebook"></a></li>
								<li><a href="#"><img class="icon-share" src="../assets/icon-twitter.svg" alt="分享到twitter" title="twitter"></a></li>
								<li><a href="#"><img class="icon-share" src="../assets/icon-line.svg" alt="分享到Line" title="Line"></a></li>
							</ul>
						</div>
					</div>
					<div class="post-single">
						<h4>圖表一</h4>
						<a href="../assets/chart-1.png" target="_blank" title="chart-1"><img src="../assets/chart-1.png" alt="chart-1" title="chart-1"></a>
						<hr class="hr">
						<h4>圖表二</h4>
						<a href="../assets/chart-2.png" target="_blank" title="chart-2"><img src="../assets/chart-2.png" alt="chart-2" title="chart-2"></a>
					</div>
				</article>
			</div>
		</div>
	</main>
</div>


<% content_for :js do %>
<script>
$(function () {
	$(".sticky").sticky({
		topSpacing: 30,
		zIndex: 2,
		stopper: "footer.footer",
		minWidth: 991
	});
    jQuery(document).ready(function($) {
        var alterClass = function() {
            var ww = document.body.clientWidth;
            if (ww < 767) {
                $('.sticky').addClass('sticky-fix');
            } else if (ww >= 767) {
                $('.sticky').removeClass('sticky-fix');
            };
        };
        $(window).resize(function() {
            alterClass();
        });
        //Fire it when the page first loads:
        alterClass();
    });
	// MDB Lightbox Init
    $("#mdb-lightbox-ui").load("../mdb-addons/mdb-lightbox-ui.html");
	
});
	
</script>
<% end %>





















































