<!-- NTU-OSA: 榮譽榜 / 網路票選結果  -->

<div class="container">
	
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="#">首頁</a></li>
			<li class="breadcrumb-item"><a href="#">校園餐飲</a></li>
			<li class="breadcrumb-item active"><a href="#">榮譽榜</a></li>
		</ol>
	</nav>
	<main class="main">
		<div class="row">
			<div class="col-md-3 sidenav">
				<div class="sticky">
					<ul class="collapsible collapsible-accordion menu-item">
						<li><a href="#" class="collapsible-header current">榮譽榜</a></li>
						<li><a href="#" class="collapsible-header">廠商資訊</a></li>
						<li><a href="#" class="collapsible-header">網路票選結果</a></li>
						<li><a href="#" class="collapsible-header">下架商品</a></li>
					</ul>
				</div>
			</div>
			<div class="col-md-9">
				<article class="article">
					<div class="post-meta">
						<div class="section-title">
							<h3>榮譽榜</h3>
						</div>
						<div class="post-share">
							<ul class="menu-item">
								<li><a href="#"><img class="icon-share" src="../assets/icon-print2.svg" alt="列印" title="列印"></a></li>
								<li><a href="#"><img class="icon-share" src="../assets/icon-email.svg" alt="轉寄" title="轉寄"></a></li>
								<li><a href="#"><img class="icon-share" src="../assets/icon-facebook.svg" alt="分享到Facebook" title="Facebook"></a></li>
								<li><a href="#"><img class="icon-share" src="../assets/icon-twitter.svg" alt="分享到twitter" title="twitter"></a></li>
								<li><a href="#"><img class="icon-share" src="../assets/icon-line.svg" alt="分享到Line" title="Line"></a></li>
							</ul>
						</div>
					</div>
					
                    <div class="post-single">
						<div class="head-btn-group">
							<a href="#" class="btn btn-xs btn-rounded btn-outline-default">107 年</a>
							<a href="#" class="btn btn-xs btn-rounded btn-outline-default">108 年</a>
							<a href="#" class="btn btn-xs btn-rounded btn-outline-default">109 年</a>
							<a href="#" class="btn btn-xs btn-rounded btn-outline-default">110 年</a>
						</div>
						<div class="honor-frame">
							<div class="honor-inner">
                                <img src="../assets/fake/u664.jpg" alt="衛生安全評鑑績優餐飲廠商" title="衛生安全評鑑績優餐飲廠商">
							</div>
						</div>
                    </div>
				</article>
			</div>
		</div>
	</main>
</div>


<% content_for :js do %>
<script>
$(function () {
	$(".sticky").sticky({
		topSpacing: 30,
		zIndex: 2,
		stopper: "footer.footer",
		minWidth: 991
	});
    jQuery(document).ready(function($) {
        var alterClass = function() {
            var ww = document.body.clientWidth;
            if (ww < 767) {
                $('.sticky').addClass('sticky-fix');
            } else if (ww >= 767) {
                $('.sticky').removeClass('sticky-fix');
            };
        };
        $(window).resize(function() {
            alterClass();
        });
        //Fire it when the page first loads:
        alterClass();
    });
});
</script>
<% end %>





















































