<!-- NTU-OSA: 問卷調查  -->

<div class="container">
	
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="#">首頁</a></li>
			<li class="breadcrumb-item active">問卷調查</li>
		</ol>
	</nav>
	
	<main class="main">
		<article class="article">
			<h2 class="post-title">【高教深耕】弱勢學生全照顧計畫問卷</h2>
			<div class="post-meta">
			    <div class="deadline">
					<span class="date">
						填寫期限
						<i class="fa fa-clock-o"></i>
						2019-05-08 - 2019-05-20
					</span>
				</div>
				<div class="post-share">
					<ul class="menu-item">
						<li><a href="#"><img class="icon-share" src="../assets/icon-print2.svg" alt="列印" title="列印"></a></li>
						<li><a href="#"><img class="icon-share" src="../assets/icon-facebook.svg" alt="分享到Facebook" title="Facebook"></a></li>
						<li><a href="#"><img class="icon-share" src="../assets/icon-twitter.svg" alt="分享到twitter" title="twitter"></a></li>
						<li><a href="#"><img class="icon-share" src="../assets/icon-line.svg" alt="分享到Line" title="Line"></a></li>
					</ul>
				</div>
			</div>
			
			<div class="questionnaire-wrap">
				<form>
					<div class="qus-item">
						<label class="label" for="form1">1. <%= zh_lorem_sentences(2) %></label>
						<div class="md-form">
							<input type="text" id="form1" class="form-control col-md-4" placeholder="你的回答">
						</div>
					</div>
					<div class="qus-item">
						<label class="label" for="form2">2. <%= zh_lorem_sentences(2) %></label>
						<div class="md-form">
							<input type="text" id="form2" class="form-control col-md-6" placeholder="你的回答">
						</div>
					</div>
					<div class="qus-item">
						<label class="label" for="form3">3. <%= zh_lorem_sentences(3) %></label>
						<div class="md-form">
							<input type="text" id="form3" class="form-control" placeholder="你的回答">
						</div>
					</div>
					<div class="qus-item">
						<label class="label" for="">4. <%= zh_lorem_sentences(3) %></label>
						<div class="md-form">
							<div class="form-check">
								<input type="radio" class="form-check-input" id="materialGroupExample1" name="groupOfMaterialRadios">
								<label class="form-check-label" for="materialGroupExample1">Option 1</label>
							</div>

							<!-- Group of material radios - option 2 -->
							<div class="form-check">
								<input type="radio" class="form-check-input" id="materialGroupExample2" name="groupOfMaterialRadios" checked>
								<label class="form-check-label" for="materialGroupExample2">option 2</label>
							</div>

							<!-- Group of material radios - option 3 -->
							<div class="form-check">
								<input type="radio" class="form-check-input" id="materialGroupExample3" name="groupOfMaterialRadios">
								<label class="form-check-label" for="materialGroupExample3">option 3</label>
							</div>
						</div>
					</div>
					<p class="text-center">
					    <button type="button" class="btn btn-info">Submit</button>
					</p>
				</form>
			</div>
		</article>
	</main>
	
</div>


<% content_for :js do %>

<% end %>





















































