<!-- NTU-OSA: 客製表格 (榮譽榜、下架商品、熱量表) -->

<div class="container">
	
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="#">首頁</a></li>
			<li class="breadcrumb-item active">客製表格</li>
		</ol>
	</nav>
	<main class="main">
		<div class="row">
			<div class="col-md-3 sidenav">
				<div class="sticky">
					<ul class="collapsible collapsible-accordion menu-item">
						<li><a href="#" class="collapsible-header waves-effect">書院活動宗旨</a></li>
						<li><a href="#" class="collapsible-header waves-effect">各學院分梯次及日期區間</a></li>
						<li><a href="#" class="collapsible-header waves-effect">報到日期、時間、地點</a></li>
						<li><a href="#" class="collapsible-header waves-effect">課程表</a></li>
						<li><a href="#" class="collapsible-header waves-effect">抽獎資訊</a></li>
						<li><a class="collapsible-header waves-effect arrow-r">書院團隊介紹<i class="fa fa-angle-down rotate-icon"></i></a>
							<div class="collapsible-body">
								<ul>
									<li><a class="waves-effect" href="#">課外組團隊</a></li>
									<li><a class="waves-effect" href="#">籌借人員團隊</a></li>
									<li><a class="waves-effect" href="#">隊輔團隊照片</a></li>
								</ul>
							</div>
						</li>
						<li><a href="#" class="collapsible-header waves-effect">常見問題</a></li>
						<li><a href="#" class="collapsible-header waves-effect current">重要文件下載</a></li>
						<li><a href="#" class="collapsible-header waves-effect">學生手冊</a></li>
					</ul>
				</div>
			</div>
			<div class="col-md-9">
				<article class="article">
					<div class="post-meta">
						<div class="section-title">
							<h3>客製表格</h3>
						</div>
						<div class="post-share">
							<ul class="menu-item">
								<li><a href="#"><img class="icon-share" src="../assets/icon-print2.svg" alt="列印" title="列印"></a></li>
								<li><a href="#"><img class="icon-share" src="../assets/icon-facebook.svg" alt="分享到Facebook" title="Facebook"></a></li>
								<li><a href="#"><img class="icon-share" src="../assets/icon-twitter.svg" alt="分享到twitter" title="twitter"></a></li>
								<li><a href="#"><img class="icon-share" src="../assets/icon-line.svg" alt="分享到Line" title="Line"></a></li>
							</ul>
						</div>
					</div>
					<div class="post-single">
						<h5>衛生安全評鑑績優餐飲廠商</h5>
                        <div class="table-responsive text-nowrap table-customize customize-1">
							<div class="honor-frame">
								<div class="honor-inner">
									<img class="icon-badge" src="../assets/badge.png" alt="徽章" title="徽章">
                                    <table class="table-striped">
                                        <thead>
                                            <tr>
                                                <th>分類</th>
                                                <th>評比績優餐飲廠商</th>
                                                <th>管理單位</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>學生餐廳類</td>
                                                <td>從缺</td>
                                                <td>從缺</td>
                                            </tr>
                                            <tr>
                                                <td>小吃部類</td>
                                                <td>第八小吃部</td>
                                                <td>員生消費合作社</td>
                                            </tr>
                                            <% 3.times do %>
                                            <tr>
                                                <% 3.times do %>
                                                <td><%= zh_lorem_words(5) %></td>
                                                <% end %>
                                            </tr>
                                            <% end %>
                                        </tbody>
                                    </table>
								</div>
							</div>
                        </div>
						
						<hr class="hr">
						<h4>麵食類</h4>
						<div class="table-responsive text-nowrap table-customize customize-2">
							<div class="honor-frame">
								<div class="honor-inner">
                                    <table class="table-striped">
                                        <thead>
                                            <tr>
                                                <th>品名</th>
                                                <th>熱量</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>黑胡椒麵</td>
                                                <td>474</td>
                                            </tr>
                                            <tr>
                                                <td>蘑菇麵</td>
                                                <td>453</td>
                                            </tr>
                                            <% 3.times do %>
                                            <tr>
                                                <td><%= zh_lorem_words(6) %></td>
												<td>999</td>
                                            </tr>
                                            <% end %>
                                        </tbody>
                                    </table>
								</div>
							</div>
                        </div>
						
						<hr class="hr">
						<h4>下架商品</h4>
						<div class="table-responsive text-nowrap table-customize customize-3">
							<div class="honor-frame">
								<div class="honor-inner">
                                    <table class="table-striped">
                                        <thead>
                                            <tr>
                                                <th>unknow</th>
                                                <th>unknow</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% 3.times do %>
                                            <tr>
                                                <td>unknow</td>
												<td>unknow</td>
                                            </tr>
                                            <% end %>
                                        </tbody>
                                    </table>
								</div>
							</div>
                        </div>
					</div>
				</article>
			</div>
		</div>
	</main>
</div>


<% content_for :js do %>
<script>
$(function () {
	$(".sticky").sticky({
		topSpacing: 30,
		zIndex: 2,
		stopper: "footer.footer",
		minWidth: 991
	});
    jQuery(document).ready(function($) {
        var alterClass = function() {
            var ww = document.body.clientWidth;
            if (ww < 767) {
                $('.sticky').addClass('sticky-fix');
            } else if (ww >= 767) {
                $('.sticky').removeClass('sticky-fix');
            };
        };
        $(window).resize(function() {
            alterClass();
        });
        //Fire it when the page first loads:
        alterClass();
    });
	// MDB Lightbox Init
    $("#mdb-lightbox-ui").load("../mdb-addons/mdb-lightbox-ui.html");
	
});
	
</script>
<% end %>





















































