<!-- NTU-OSA: 廠商列表  -->

<div class="container">
	
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="#">首頁</a></li>
			<li class="breadcrumb-item"><a href="#">校園餐飲</a></li>
			<li class="breadcrumb-item active">廠商資訊</li>
		</ol>
	</nav>
	<main class="main">
		<div class="row">
			<div class="col-md-3 sidenav">
				<div class="sticky">
					<ul class="collapsible collapsible-accordion menu-item">
						<li><a href="#" class="collapsible-header">榮譽榜</a></li>
						<li><a href="#" class="collapsible-header current">廠商資訊</a></li>
						<li><a href="#" class="collapsible-header">網路票選結果</a></li>
						<li><a href="#" class="collapsible-header">下架商品</a></li>
					</ul>
				</div>
			</div>
			<div class="col-md-9">
				<article class="article">
					<div class="post-meta">
						<div class="section-title">
							<h3>廠商資訊</h3>
						</div>
						<div class="post-share">
							<ul class="menu-item">
								<li><a href="#"><img class="icon-share" src="../assets/icon-print2.svg" alt="列印" title="列印"></a></li>
								<li><a href="#"><img class="icon-share" src="../assets/icon-email.svg" alt="轉寄" title="轉寄"></a></li>
								<li><a href="#"><img class="icon-share" src="../assets/icon-facebook.svg" alt="分享到Facebook" title="Facebook"></a></li>
								<li><a href="#"><img class="icon-share" src="../assets/icon-twitter.svg" alt="分享到twitter" title="twitter"></a></li>
								<li><a href="#"><img class="icon-share" src="../assets/icon-line.svg" alt="分享到Line" title="Line"></a></li>
							</ul>
						</div>
					</div>
					
                    <div class="post-single">
						<div class="distinguish-group">
							<a href="#" class="btn btn-sm btn-info">按地點區分</a>
							<a href="#" class="btn btn-sm btn-info">按餐飲種類區分</a>
							<a href="#" class="btn btn-sm btn-info">按管理單位區分</a>
							<a href="#" class="btn btn-sm btn-deep-orange">臺灣大學地圖資訊</a> 
						</div>
						<h5>學生住宿服務組</h5>
						<div class="awell">
                            <ul class="mb-0">
                                <li><a href="#">研一宿舍福利社</a></li>
                                <li><a href="#">研三(國青)宿舍萊爾富便利商店</a></li>
                                <li><a href="#">男一宿舍福利社</a></li>
                                <li><a href="#">男八宿舍福利社</a></li>
                                <li><a href="#">大一女宿舍餐廳</a></li>
                            </ul>
						</div>
						<h5>學生活動中心管理組</h5>
						<div class="awell">
                            <ul class="mb-0">
                                <li><a href="#">第一學生活動中心餐廳</a></li>
                                <li><a href="#">純義西點麵包坊</a></li>
                                <li><a href="#">麥當勞</a></li>
                            </ul>
						</div>
                    </div>
				</article>
			</div>
		</div>
	</main>
</div>


<% content_for :js do %>
<script>
$(function () {
	$(".sticky").sticky({
		topSpacing: 30,
		zIndex: 2,
		stopper: "footer.footer",
		minWidth: 991
	});
    jQuery(document).ready(function($) {
        var alterClass = function() {
            var ww = document.body.clientWidth;
            if (ww < 767) {
                $('.sticky').addClass('sticky-fix');
            } else if (ww >= 767) {
                $('.sticky').removeClass('sticky-fix');
            };
        };
        $(window).resize(function() {
            alterClass();
        });
        //Fire it when the page first loads:
        alterClass();
    });
});
</script>
<% end %>





















































