<!-- admin-page: 國立高雄科技大學 - 系統索引 -->

<body class="nkust-entrance">
    <div class="workbench-wrapper">
        <header class="workbench-header">
			<div class="entrance-container">
                <h1 class="logo"><img class="logo__img" src="../assets/nkust_logo-black@2x.png" title="NKUST" /></h1>
                <div class="account">
                    <span>您好, 史嘉蕾</span>
                    <a href="#" class="logout">登出</a>
                    <a href="#" class="btn btn-sm btn-warning">切換身份</a>
                </div>
			</div>
        </header>
        
        <div class="workbench-index">
			<div class="entrance-container">
                <ul class="system-list menu-item">
                    <% (1..9).each do |n| %>
                    <li>
                        <div class="card">
                            <a href="#" class="card-link">
                                <span class="name">子系統名稱</span>
                                <span class="info">簡短的系統功能說明建議不大於四十八個字元</span>
                            </a>
                        </div>
                    </li>
                    <% end %>
                    <li>
                        <div class="card disabled">
                            <a href="#" class="card-link">
                                <span class="name">不能 click 灰階 sample</span>
                                <span class="info">簡短的系統功能說明建議不大於四十八個字元</span>
                            </a>
                        </div>
                    </li>
                    <% (1..3).each do |n| %>
                    <li>
                        <div class="card">
                            <a href="#" class="card-link">
                                <span class="name">需要換行的子系統名稱</span>
                                <span class="info">簡短的系統功能說明建議不大於四十八個字元</span>
                            </a>
                        </div>
                    </li>
                    <% end %>
                </ul>
			</div>
        </div>
    </div>
    <script src="../javascripts/jquery-3.3.1.min.js"></script>
    <script src="../javascripts/popper.min.js"></script>
    <script src="../javascripts/bootstrap.min.js"></script>
    <script src="../javascripts/mdb.min.js"></script>
    <!--[if lt IE 10]>
        <script src="../javascripts/jquery-placeholder-fixed.js"></script>
        <script type="text/javascript">
            $(function() {
                $("input").placeholder();
            });
    </script>
    <![endif]-->
    <!--%= livereload_js if ENV["RACK_ENV"] != "production" && defined?(App)%-->
</body>