
/* `Header
-----------------------------------------------------------------------------*/

header.header {
	position: relative;
	margin-bottom: 4rem;
	.dropdown-toggle {
		background-color: transparent;
		border: none;
		padding: 0;
	}
	.header-function { text-align: end; }
	.language {
		margin-bottom: 0.5rem;
		font-size: 1rem;
        color: #999;
		a {
			display: inline-block;
			padding: 0 0.5rem;
			position: relative;
		}
	}
	.sys-subject {
		background: url("../assets/dot.png") left top repeat;
		padding: 1.5rem 0;
		h2 {
			margin-bottom: 0;
            font-size: 1.75rem;
            font-weight: bold;
		}
	}
	.btn-login {
		margin-left: 1rem;
		i {
			margin-right: .25rem;
			color: #aaa;
			transition: all 0.2s ease-in-out
		}
		&:hover, &:active {
			i { color: #333; }
		}
	}
    &.header-apply {
        .sys-subject {
            background: $ntured;
            color: #fff;
        }
    }
    &.header-certificate {
        .sys-subject {
            background: $ntugold;
        }
    }
}

.header-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
	flex-direction: row-reverse;
    height: 120px;
	.account {
		padding: 0 0.5rem;
	}
	.brands-link {
		display: flex;
		align-items: center;
		color: #333;
	}
	.h1-logo {
		display: block;
		width: auto;
		height: 72px;
	}
	.sub {
		margin-left: 1rem;
		span {
			display: block;
			font-size: 1.5rem;
		}
		.en {
			font-size: 1rem;
			line-height: 1.3;
		}
	}
}

.header-right {
	text-align: end;
}

/* `Responsive
-----------------------------------------------------------------------------*/

@media (max-width: 1199px) {
	header.header {
        .sys-subject {
            h2 {
                font-size: calc(1.125rem + .75vw);
                font-weight: 400;
            }
        }
	}
	.header-wrap {
        height: 100px;
        .sub {
            span { font-size: calc(1rem + .5vw); }
            .en { font-size: calc(.8rem + .35vw); }
        }
	}
}

@media (max-width: 991px) {
	header.header {
		.header-function {
			border-bottom: 1px dotted $base_border_color;
            margin: 0 -12px;
			padding: 8px 12px;
            .header-right {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
		}
		.language {
			margin-bottom: 0;
			display: inline-block;
		}
		.toggler-wrap { display: block; }
        margin-bottom: 2.5rem;
    }
	.header-wrap {
		display: block;
		height: auto;
		.account { display: inline-block; }
		.brands {
			padding: 1rem 0;
		}
        .h1-logo { height: 64px; }
	}
}

















