<header class="header" id="pagetop">
    <div class="container-lg">
		<div class="header-wrap">
            <div class="header-function"></div>
            
            <!-- Logo -->
			<div class="brands">
                <a class="brands-link" href="index.html" title="首頁">
                    <div class="logo">
                        <h1 class="text-hide">臺中市公托線上報名系統</h1>
                    </div>
                    <h2 class="sub">
                        <span>臺中市</span>公托線上報名系統
                    </h2>
                </a>
			</div>
		</div>
    </div>
</header>
