<header class="header" id="pagetop">
    <a href="#content" id="gotocenter" title="移到主要內容" class="sr-only sr-only-focusable">跳到主要內容</a>
    <div class="container-lg">
		<div class="header-wrap">
            <div class="header-function">
				<div class="header-right">
                    
                    <!-- 頂部功能 -->
                    <div class="header-bar">
                        
                        <!-- 頂部選單 -->
                        <div class="top-menu">
                            <div class="shortcut">
                                <a href="#U" id="AU" name="U" title="右上方功能區塊" accesskey="U">:::</a>
                                <a class="shortcut-link" href="#" title="首頁">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house" viewBox="0 0 16 16">
                                      <path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L2 8.207V13.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V8.207l.646.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293zM13 7.207V13.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V7.207l5-5z"/>
                                    </svg>
                                </a>
                                <a class="shortcut-link" href="#" title="網站導覽">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-diagram-3" viewBox="0 0 16 16">
                                      <path fill-rule="evenodd" d="M6 3.5A1.5 1.5 0 0 1 7.5 2h1A1.5 1.5 0 0 1 10 3.5v1A1.5 1.5 0 0 1 8.5 6v1H14a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-1 0V8h-5v.5a.5.5 0 0 1-1 0V8h-5v.5a.5.5 0 0 1-1 0v-1A.5.5 0 0 1 2 7h5.5V6A1.5 1.5 0 0 1 6 4.5zM8.5 5a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5zM0 11.5A1.5 1.5 0 0 1 1.5 10h1A1.5 1.5 0 0 1 4 11.5v1A1.5 1.5 0 0 1 2.5 14h-1A1.5 1.5 0 0 1 0 12.5zm1.5-.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zm4.5.5A1.5 1.5 0 0 1 7.5 10h1a1.5 1.5 0 0 1 1.5 1.5v1A1.5 1.5 0 0 1 8.5 14h-1A1.5 1.5 0 0 1 6 12.5zm1.5-.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zm4.5.5a1.5 1.5 0 0 1 1.5-1.5h1a1.5 1.5 0 0 1 1.5 1.5v1a1.5 1.5 0 0 1-1.5 1.5h-1a1.5 1.5 0 0 1-1.5-1.5zm1.5-.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5z"/>
                                    </svg>
                                </a>
                                <a id="S" name="S" accesskey="S" class="shortcut-link" href="#" title="搜尋" data-bs-toggle="offcanvas" data-bs-target="#offcanvasSearch" aria-controls="offcanvasSearch">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                      <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
                                    </svg>
                                </a>
                            </div>
                            
                            <!-- 字級 -->
                            <!-- 網站內容已預設為中級 -->
                            <div class="grade">
                                <button type="button" class="btn" title="字級大">大</button>
                                <button type="button" class="btn current" title="字級中">中</button>
                                <button type="button" class="btn" title="字級小">小</button>
                            </div>
                        </div>
                    </div>
                    <button type="button" id="nav-toggler" class="btn toggler-wrap" title="開啟隱藏選單">
                        <svg class="ham hamRotate ham1" viewBox="0 0 100 100" width="80" onclick="this.classList.toggle('active')">
                          <path
                                class="line top"
                                d="m 30,33 h 40 c 0,0 9.044436,-0.654587 9.044436,-8.508902 0,-7.854315 -8.024349,-11.958003 -14.89975,-10.85914 -6.875401,1.098863 -13.637059,4.171617 -13.637059,16.368042 v 40" />
                          <path
                                class="line middle"
                                d="m 30,50 h 40" />
                          <path
                                class="line bottom"
                                d="m 30,67 h 40 c 12.796276,0 15.357889,-11.717785 15.357889,-26.851538 0,-15.133752 -4.786586,-27.274118 -16.667516,-27.274118 -11.88093,0 -18.499247,6.994427 -18.435284,17.125656 l 0.252538,40" />
                        </svg>
                    </button>
                    <!-- 主選單 -->
                    <nav class="header-nav nav">
                        <ul class="nav-menu menu-item">
                            <li><a class="item-link" href="#" title="最新消息">最新消息</a></li>
                            <li><a class="item-link" href="#" title="法規專區">法規專區</a></li>
                            <li><a class="item-link" href="#" title="表單下載">表單下載</a></li>
                            <li><a class="item-link" href="#" title="托育機構一覽表">托育機構一覽表</a></li>
                            <li><a class="item-link" href="#" title="操作指引">操作指引</a></li>
                        </ul>
                    </nav>
				</div>
            </div>
            
            <!-- Logo -->
			<div class="brands">
                <a class="brands-link" href="index.html" title="首頁">
                    <div class="logo">
                        <h1 class="text-hide">臺中市公托線上報名系統</h1>
                    </div>
                    <h2 class="sub">
                        <span>臺中市</span>公托線上報名系統
                    </h2>
                </a>
			</div>
		</div>
    </div>
</header>

<div class="offcanvas offcanvas-top offcanvas-search" tabindex="-1" id="offcanvasSearch" aria-labelledby="offcanvasSearchLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasSearchLabel">搜尋</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div class="search-group">
            <div class="input-group mb-3">
                <input type="text" class="form-control form-control-lg" placeholder=請輸入關鍵字 aria-label="Recipient's username" aria-describedby="button-addon2" />
                <button class="btn btn-lg btn-dark" type="button" id="button-addon2">搜尋</button>
            </div>
            <div class="text-end"><a href="https://www.google.com.tw/" target="_blank" class="btn btn-link" title="進階搜尋 (另開新視窗)">進階搜尋</a></div>
        </div>
    </div>
</div>
