<!-- templates: 驗證成功  -->

<div class="container">
	<div class="py-5">
	    <p>The delivery is successful !! Please collect the letter from the email box you filled in to complete the authentication!</p>
	    <a class="btn btn-outline-primary btn-rounded waves-effect z-depth-0" href="#">Start Applying</a>
    </div>
</div>