/* `Footer
-----------------------------------------------------------------------------*/

footer.footer {
	margin-top: 3.75rem;
	color: #65686b;
	.footer-inner {

	}
	.contact {
		display: flex;
		border-top: 1px solid #e6eaee;
		border-bottom: 1px solid #e6eaee;
		padding: 2.5rem 0 2.5rem;
		h5 {
			margin-bottom: 0;
			padding-right: 2.25rem;
			font-size: 1.5rem;
			font-weight: 500;
			color: $main_color;
			word-break: keep-all;
		}
		p {
			margin-bottom: 0.25rem;
			padding-left: 1.875rem;
			position: relative;
			line-height: 1.6;
		}
        .fa {
            width: 16px;
            font-size: 0.875rem;
            color: #c5d2d2;
            text-align: center;
			position: absolute;
			left: 0;
			top: 6px;
        }
	}
	.contact-num,
	.contact-add {
		padding: 0 2.25rem;
		border-left: 1px solid #e6eaee;
	}
	.contact-add {
		padding-right: 0;
		.wrap {
			display: block;
		}
	}
	.footer-bottom {
		display: flex;
		justify-content: space-between;
		padding: 2.125rem 0 2.5rem;
		font-weight: 300;
		color: #a8acb0;
	}
}