/* `Header
-----------------------------------------------------------------------------*/

header.header {
	position: relative;
	.hd-links {
		position: relative;
		top: -2.25rem;
		font-size: 0.875rem;
		a {
			display: inline-block;
			padding: 0 0.5rem;
			font-weight: 300;
			color: #aaa;
			position: relative;
			&:after {
				content: "";
				border-radius: 50%;
				background: #eee;
				width: 5px;
				height: 5px;
				position: absolute;
				top: 0.5rem;
				right: -0.25rem;
			}
			&:last-child {
				padding-right: 0.5rem;
				&:after { content: none; }
			}
			&:hover { color: #37bcbb; }
		}
	}
}

.header-right {
	text-align: right;
}

.header-wrap {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 34px 0;
	.brands {
		a {
            align-items: center;
			color: #333;
			position: relative;
            &:hover { text-decoration: none; }
		}
        h1 { margin: 0; }
	}
	.h1-logo {
		display: inline-block;
		margin-right: 1.25rem;
		width: auto;
		height: 90px;
		vertical-align: middle;
	}
	.h2-logo {
		display: inline-block;
		width: 162px;
		height: auto;
		vertical-align: middle;
	}
    .sub {
        display: block;
		margin-left: 2.5rem;
        font-size: 1.625rem;
        font-weight: 500;
		color: #727272;
		text-transform: uppercase;
        line-height: 1.2;
		position: relative;
		&:after {
			content: "";
			background: #727272;
			width: 1px;
			height: 28px;
			position: absolute;
			left: -1.25rem;
			top: 0;
		}
    }
    .account {
		position: relative;
		top: -0.625rem;
		.nav-link {
			display: inline-block;
			padding: 0;
			height: 32px;
			line-height: 32px;
			color: #939393;
		}
	}
}