<!-- TPEAA: 學生 -->

<main class="main">
    <div class="page-header">
        <h2>學生首頁</h2>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="col-block">
                <div class="block-header has-border"><h3>公告列表</h3></div>
                <div class="block-content expansion">
					<div class="table-responsive">
						<table class="table">
							<thead>
								<tr>
									<th>主旨</th>
									<th>日期</th>
									<th>公告單位</th>
								</tr>   
							</thead>
							<tbody>
								<% 10.times do %>
								<tr>
									<td><a href="/"><%= zh_lorem_sentence %></a></td>
									<td><%= lorem_date("%Y/%m/%d", 2015..2016) %></td>
									<td><%= lorem_word %></td>
								</tr>
								<% end %>
							</tbody>
						</table>
					</div>
                </div>
            </div>
        </div>
    </div>
</main>

<% content_for :js do %>
 
<% end %>