<!-- template: 接待志工報名 - 個人資料 -->

<div class="container-lg">
	<div class="page-content d-block">
        
        <div class="page-title">
            <h3>申請資料</h3>
        </div>
        <p>您送出的申請資料如下</p>
        
        <div class="review-wrapper">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="true">個人資料</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="result-tab" data-bs-toggle="tab" data-bs-target="#result-tab-pane" type="button" role="tab" aria-controls="result-tab-pane" aria-selected="false">安排結果</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="log-tab" data-bs-toggle="tab" data-bs-target="#log-tab-pane" type="button" role="tab" aria-controls="log-tab-pane" aria-selected="false">收件紀錄</button>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                
                <div class="tab-pane fade show active" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
                    <section class="section">
                        <div class="row">
                            <div class="col-md-3 col-sm-6">
                                <div class="form-group">
                                    <label for="exampleInput000" class="form-label">
                                        <span class="required">*</span> 學年
                                    </label>
                                    <input id="exampleInput000" class="form-control" type="text" value="112" disabled readonly>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="form-group">
                                    <label for="exampleInput00" class="form-label">
                                        <span class="required">*</span> 學期
                                    </label>
                                    <input id="exampleInput00" class="form-control" type="text" value="2" disabled readonly>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="exampleInput01" class="form-label">
                                        <span class="required">*</span> 學號
                                    </label>
                                    <input id="exampleInput01" class="form-control" type="text" value="9876543" disabled readonly>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="exampleInput02" class="form-label">
                                        <span class="required">*</span> 中文姓名
                                    </label>
                                    <input id="exampleInput02" class="form-control" type="text" value="史嘉蕾喬韓森" disabled readonly>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="exampleInput03" class="form-label">
                                        <span class="required">*</span> 英文姓名
                                    </label>
                                    <input id="exampleInput03" class="form-control" type="text" value="Scarlett Johansson" disabled readonly>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="exampleInput05" class="form-label">
                                        <span class="required">*</span> 出生日期
                                    </label>
                                    <input id="exampleInput05" class="form-control" type="text" value="2003-09-27" disabled readonly>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="exampleInput04" class="form-label">
                                        <span class="required">*</span> 身分證字號 (居留證號碼)
                                    </label>
                                    <input id="exampleInput04" class="form-control" type="text" value="V221619868" disabled readonly>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="" class="form-label">
                                        <span class="required">*</span> 性別
                                    </label>
                                    <input id="exampleInput04" class="form-control" type="text" value="女" disabled readonly>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="" class="form-label">
                                        <span class="required">*</span> 學院
                                    </label>
                                    <div class="row">
                                        <div class="col-md-4 mb-2">
                                            <input id="" class="form-control" type="text" value="學士" disabled readonly>
                                        </div>
                                        <div class="col-md-8 mb-2">
                                            <input id="" class="form-control" type="text" value="生物資源暨農學院" disabled readonly>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="" class="form-label">
                                        <span class="required">*</span> 系所
                                    </label>
                                    <input id="" class="form-control" type="text" value="農藝學系" disabled readonly>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="" class="form-label">
                                        <span class="required">*</span> 年級
                                    </label>
                                    <input id="" class="form-control" type="text" value="2" disabled readonly>
                                </div>
                            </div>
                        </div>
                    </section>

                    <section class="section">
                        <div class="section-title">
                            <h4>地址和聯絡方式</h4>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="exampleInput11" class="form-label">
                                        <span class="required">*</span> 聯絡住址
                                    </label>
                                    <input id="exampleInput11" class="form-control" type="text" value="台東縣長濱鄉長濱村長光19鄰27之1號" disabled readonly>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="exampleInput12" class="form-label">聯絡電話</label>
                                    <input id="exampleInput12" class="form-control" type="text" value="台東縣長濱鄉長濱村長光19鄰27之1號" disabled readonly>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="exampleInput13" class="form-label">
                                        <span class="required">*</span> 手機
                                    </label>
                                    <input id="exampleInput13" class="form-control" type="text" value="12345678" disabled readonly>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="exampleInput14" class="form-label">
                                        <span class="required">*</span> Email
                                    </label>
                                    <input id="exampleInput14" class="form-control" type="text" value="b11601008@ntu.edu.tw" disabled readonly>
                                    <div class="form-text">所有重要信息將寄至學校信箱，請勤收學校信箱</div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="exampleInput15" class="form-label">Email</label>
                                    <input id="exampleInput15" class="form-control" type="text" value="b11601008@gmail.com" disabled readonly>
                                </div>
                            </div>
                        </div>
                    </section>

                    <section class="section">
                        <div class="section-title">
                            <h4>其他</h4>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="" class="form-label">語言能力</label>
                                    <div class="d-flex align-items-center flex-wrap">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1" checked disabled>
                                            <label class="form-check-label" for="inlineCheckbox1">英文</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2" disabled>
                                            <label class="form-check-label" for="inlineCheckbox2">日文</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3" disabled>
                                            <label class="form-check-label" for="inlineCheckbox3">韓文 </label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="checkbox" id="inlineCheckbox4" value="option4" disabled>
                                            <label class="form-check-label" for="inlineCheckbox4">德文 </label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="checkbox" id="inlineCheckbox5" value="option5" disabled>
                                            <label class="form-check-label" for="inlineCheckbox5">西班牙文 </label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="checkbox" id="inlineCheckbox6" value="option6" checked disabled>
                                            <label class="form-check-label" for="inlineCheckbox6">其他</label>
                                        </div>
                                        <div><input id="" class="form-control" type="text" value="俄文" disabled></div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="exampleInput22" class="form-label">曾是接待志工接待過</label>
                                    <input id="exampleInput22" class="form-control" type="text" value="萊恩雷諾斯" disabled readonly>
                                    <div class="form-text">僅需填寫最近一學期接待之 1 名訪問研究生姓名</div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="" class="form-label">
                                        <span class="required">*</span> 願意接待性別
                                    </label>
                                    <input id="" class="form-control" type="text" value="不拘" disabled readonly>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="" class="form-label">
                                        <span class="required">*</span> 可接待人數
                                    </label>
                                    <input id="" class="form-control" type="text" value="不拘" disabled readonly>
                                    <div class="form-text">要修習服務學習二課程的同學僅能選擇接待 2 人或不拘</div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="exampleInput23" class="form-label">
                                        <span class="required">*</span> 參與志工動機
                                    </label>
                                    <textarea class="form-control" id="exampleInput23" rows="3" disabled readonly>希望可以透過這次計畫更多的培養自己的英語口說能力，也希望可以培養自己不害怕開口講英文、改善自己怕生的性格，而最大的目標是希望能夠讓國際學生對臺灣、臺灣大學擁有好的印象。</textarea>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                
                <div class="tab-pane fade" id="result-tab-pane" role="tabpanel" aria-labelledby="result-tab" tabindex="0">
                    <section class="section">
                        <div class="section-title">
                            <h4>分配學生 1</h4>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-label">類別</label>
                                    <input class="form-control" type="text" value="院級交換生" disabled>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-label">學號</label>
                                    <input class="form-control" type="text" value="T12601201" disabled>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-label">學院</label>
                                    <input class="form-control" type="text" value="生物資源暨農學院" disabled>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-label">系所</label>
                                    <input class="form-control" type="text" value="農藝學系" disabled>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-label">姓名</label>
                                    <input class="form-control" type="text" value="康斯坦斯特羅提拉" disabled>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-label">英文姓名</label>
                                    <input class="form-control" type="text" value="Constance, Elise STROTILAT" disabled>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-label">國籍</label>
                                    <input class="form-control" type="text" value="法國" disabled>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-label">性別</label>
                                    <input class="form-control" type="text" value="女性" disabled>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-label">Email</label>
                                    <input class="form-control" type="text" value="constance.strotilat@etudiants.purpan.fr" disabled>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-label">電話</label>
                                    <input class="form-control" type="text" value="" disabled>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-label">行動電話</label>
                                    <input class="form-control" type="text" value="" disabled>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                
                <div class="tab-pane fade" id="log-tab-pane" role="tabpanel" aria-labelledby="log-tab" tabindex="0">
                    <div class="mt-4">Log</div>
                </div>
                
            </div>
        </div>
        
	</div>
</div>



<% content_for :js do %>

<% end %>

