<!-- NTU-OSA: 管理專區 - 投票頁面 -->
<% content_for :replace_css do %>
    <link rel="stylesheet" media="screen, projection" href="../stylesheets/management.css">
<% end %>
<div class="container">
	<main class="main">
		<form>
			<div class="vote-question">
			    <h6 class="h6">Q1. 您認為校園內哪些餐飲業者的服務態度最好？(可複選，最多三票; 重複投票僅以一票計算)</h6>
				<div class="question-item">
					<div class="form-row">
                        <div class="col-12 col-lg-6">
							<div class="form-group">
                                <select class="browser-default custom-select">
                                    <option selected>地點</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
							</div>
                        </div>
                        <div class="col-12 col-lg-6">
							<div class="form-group">
                                <select class="browser-default custom-select">
                                    <option selected>餐廳</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
							</div>
                        </div>
					</div>
				</div>
				<div class="question-item">
				    <div class="form-row">
                        <div class="col-12 col-lg-6">
							<div class="form-group">
                                <select class="browser-default custom-select">
                                    <option selected>地點</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
							</div>
                        </div>
                        <div class="col-12 col-lg-6">
							<div class="form-group">
                                <select class="browser-default custom-select">
                                    <option selected>餐廳</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
							</div>
                        </div>
					</div>
				</div>
				<div class="question-item">
				    <div class="form-row">
                        <div class="col-12 col-lg-6">
							<div class="form-group">
                                <select class="browser-default custom-select">
                                    <option selected>地點</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
							</div>
                        </div>
                        <div class="col-12 col-lg-6">
							<div class="form-group">
                                <select class="browser-default custom-select">
                                    <option selected>餐廳</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
							</div>
                        </div>
					</div>
				</div>
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="defaultUnchecked" />
                    <label class="custom-control-label" for="defaultUnchecked">本題無意見</label>
                </div>
			</div>
			<div class="vote-question">
			    <h6 class="h6">Q2. 您認為校園內最需改善的餐飲業者，並說明意見</h6>
				<div class="question-item">
				    <div class="form-row">
                        <div class="col-12 col-lg-6">
							<div class="form-group">
                                <select class="browser-default custom-select">
                                    <option selected>地點</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
							</div>
                        </div>
                        <div class="col-12 col-lg-6">
							<div class="form-group">
                                <select class="browser-default custom-select">
                                    <option selected>餐廳</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
							</div>
                        </div>
					</div>
				</div>
                <div class="form-group">
                    <textarea class="form-control rounded-0" id="exampleFormControlTextarea1" rows="4"></textarea>
                </div>
			</div>
			<div class="vote-question">
			    <h6 class="h6">Q3. 您認為校園內最喜歡的餐飲業者</h6>
				<div class="question-item">
				    <div class="form-row">
                        <div class="col-12 col-lg-6">
							<div class="form-group">
                                <select class="browser-default custom-select">
                                    <option selected>地點</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
							</div>
                        </div>
                        <div class="col-12 col-lg-6">
							<div class="form-group">
                                <select class="browser-default custom-select">
                                    <option selected>餐廳</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
							</div>
                        </div>
					</div>
				</div>
				<div class="question-item">
					<lable class="label">原因(可複選)</lable>
                    <div class="form-group">
                        <div class="custom-control custom-checkbox custom-control-inline">
                            <input type="checkbox" class="custom-control-input" id="defaultInline1" />
                            <label class="custom-control-label" for="defaultInline1">服務態度</label>
                        </div>
                        <div class="custom-control custom-checkbox custom-control-inline">
                            <input type="checkbox" class="custom-control-input" id="defaultInline2" />
                            <label class="custom-control-label" for="defaultInline2">菜色口味</label>
                        </div>
                        <div class="custom-control custom-checkbox custom-control-inline">
                            <input type="checkbox" class="custom-control-input" id="defaultInline3" />
                            <label class="custom-control-label" for="defaultInline3">價格C/P值</label>
                        </div>
						<div class="custom-control custom-checkbox custom-control-inline">
                            <input type="checkbox" class="custom-control-input" id="defaultInline4" />
                            <label class="custom-control-label" for="defaultInline4">場所環境</label>
                        </div>
                    </div>
				</div>
				<div class="question-item">
                    <div class="form-group">
                      <label class="label" for="exampleFormControlTextarea2">其他原因:</label>
                      <textarea class="form-control rounded-0" id="exampleFormControlTextarea2" rows="4"></textarea>
                    </div>
				</div>
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="defaultUnchecked2" />
                    <label class="custom-control-label" for="defaultUnchecked2">本題無意見</label>
                </div>
			</div>
            <div class="vote-action">
                <a href="#" class="btn aqua-gradient btn-rounded px-5">送出</a>
            </div>
		</form>
	</main>
</div>

<% content_for :js do %>
<script>
$(function () {
	$(".sticky").sticky({
		topSpacing: 30,
		zIndex: 2,
		stopper: "footer.footer",
		minWidth: 991
	});
    jQuery(document).ready(function($) {
        var alterClass = function() {
            var ww = document.body.clientWidth;
            if (ww < 767) {
                $('.sticky').addClass('sticky-fix');
            } else if (ww >= 767) {
                $('.sticky').removeClass('sticky-fix');
            };
        };
        $(window).resize(function() {
            alterClass();
        });
        //Fire it when the page first loads:
        alterClass();
    });
	// MDB Lightbox Init
    $("#mdb-lightbox-ui").load("../mdb-addons/mdb-lightbox-ui.html");
	
});
	
</script>
<% end %>





















































