<!-- admin-page: 清大 電子表單簽核系統 -->
<%= render :partial => "/partials/admin_breadcrumb" %>

<main class="main">
    <div class="page-header">
        <h2>電子表單簽核系統</h2>
    </div>
    <div class="eform-wrapper">
		<h5 class="wrapper-title">教職員</h5>
        <div class="sort-select">
            <select class="custom-select">
                <option value="1">全部類別</option>
                <option value="2">會計類</option>
                <option value="3">Three</option>
            </select>
        </div>
        <ul class="eform-list menu-item">
			<li class="eform-item">
                <a href="#" class="btn btn-outline-primary" data-toggle="tooltip" title="Lorem ipsum dolor sit amet, consectetur adipiscing elit">Lorem ipsum dolor sit amet, consectetur adipiscing elit</a>
            </li>
			<li class="eform-item">
                <a href="#" class="btn btn-outline-primary" data-toggle="tooltip" title="行政業務電腦化需求提案單">行政業務電腦化需求提案單</a>
            </li>
			<% (1..18).map do |i| %>
            <li class="eform-item">
                <a href="#" class="btn btn-outline-primary" data-toggle="tooltip" title="校內電話分機業務申請單">校內電話分機業務申請單</a>
            </li>
			<% end %>
			<li class="eform-item">
                <a href="#" class="btn btn-outline-primary" data-toggle="tooltip" title="子女教育補助費申請表">子女教育補助費申請表</a>
            </li>
			<li class="eform-item">
                <a href="#" class="btn btn-outline-primary" data-toggle="tooltip" title="預開收據申請表 (主計、出納)">預開收據申請表 (主計、出納)</a>
            </li>
        </ul>
    </div>
	<div class="eform-wrapper">
		<h5 class="wrapper-title">學生</h5>
        <div class="sort-select">
            <select class="custom-select">
                <option value="1">全部類別</option>
                <option value="2">會計類</option>
                <option value="3">Three</option>
            </select>
        </div>
        <ul class="eform-list menu-item">
			<li class="eform-item">
                <a href="#" class="btn btn-outline-primary" data-toggle="tooltip" title="研究生學分抵免申請單">研究生學分抵免申請單</a>
            </li>
			<li class="eform-item">
                <a href="#" class="btn btn-outline-primary" data-toggle="tooltip" title="學士班學分抵免申請">學士班學分抵免申請</a>
            </li>
			<li class="eform-item">
                <a href="#" class="btn btn-outline-primary" data-toggle="tooltip" title="休、退學申請書">休、退學申請書</a>
            </li>
        </ul>
    </div>
</main>

<% content_for :js do %>

<% end %>