<!-- admin-page: 清大 流程判斷 -->
<%= render :partial => "/partials/admin_breadcrumb" %>

<main class="main">
    <div class="col-block">
        <div class="block-header">
            <div class="btn-group btn-group-sm">
                <button type="button" class="btn btn-primary">儲存</button>
                <button type="button" class="btn btn-angel">預覽後端資料頁</button>
                <button type="button" class="btn btn-angel">預覽前端網頁版</button>
                <button type="button" class="btn btn-angel">預覽前端手機版</button>
            </div>
        </div>
        <div class="block-content">
            <div class="row">
                <div class="col-7">
                    <div class="flowchart-wrapper">
                        <div class="flowchart-control">
                            <h5>流程節點</h5>
							<a href="#" class="btn btn-angel">
								<i class="fa fa-play-circle-o text-success"></i> 填表人
							</a>
							<a href="#" class="btn btn-angel">
								<i class="fa fa-user-circle-o text-muted"></i> 簽核關卡
							</a>
							<a href="#" class="btn btn-angel">
								<i class="fa fa-sitemap text-primary"></i> 條件判斷
							</a>
							<a href="#" class="btn btn-angel">
								<i class="fa fa-stop-circle-o text-danger"></i> 結束
							</a>
                        </div>
                        <div class="flowchart-content">
						    <a href="http://frontend.editor.dev.com.tw/flowChart.html">flowChart</a>
						</div>
                    </div>
                </div>
                <div class="col-5">
                    <div class="flowchart-condition">
					    <h5>條件判斷</h5>
						<div class="form-group">
                            <label for="inputJudgment" class="font-weight-bold">判斷點名稱</label>
                            <input type="text" class="form-control" id="inputJudgment" placeholder="">
                        </div>
						<a class="btn btn-md btn-success" role="button" data-toggle="modal" data-target="#modalFlowPath">新增路徑</a>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>路徑</th>
                                    <th>路徑名稱</th>
									<th>下一關卡</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>計畫金額大於等於10萬</td>
									<td>處、院、館計通中心</td>
                                </tr>
								<tr>
                                    <td>1</td>
                                    <td>計畫金額小於10萬</td>
									<td>計畫主持人</td>
                                </tr>
                            </tbody>
                        </table>
					</div>
                </div>
			</div>
        </div>
    </div>
</main>