<!-- admin-page: 清大 表單首頁 -->
<%= render :partial => "/partials/admin_breadcrumb" %>

<main class="main">
    <div class="form-index">
		<a href="#" class="btn btn-primary">建立新表單</a>
        <ul class="menu-item">
			<% (1..2).each do |n| %>
            <li class="form-item">
                <div class="form-card">
                    <div class="card-bd">
                        <dl>
                            <dt>表單名稱</dt>
                            <dd>計畫處理表</dd>
                            <dt>開放時間</dt>
                            <dd>2021-07-01 00:00 ~ 2021-09-31 23:59</dd>
							<dt>開放語系</dt>
                            <dd>中文、英文</dd>
							<dt>開放對象</dt>
                            <dd>全校教職員</dd>
                        </dl>
						<a href="#" class="btn btn-md btn-info">設定</a>
                    </div>
                    <div class="card-ft">
                        <div class="data-block">
							<a href="#">
							    <h6>已核准紀錄</h6>
								<span>4621</span>
							</a>
						</div>
						<div class="data-block">
							<a href="#">
							    <h6>申請中件數</h6>
								<span>12</span>
							</a>
						</div>
                    </div>
                </div>
            </li>
			<li class="form-item">
                <div class="form-card">
                    <div class="card-bd">
                        <dl>
                            <dt>表單名稱</dt>
                            <dd>計畫處理表</dd>
                            <dt>開放時間</dt>
                            <dd>2021-07-01 00:00 ~ 2021-09-31 23:59</dd>
							<dt>開放語系</dt>
                            <dd>中文、英文</dd>
							<dt>開放對象</dt>
                            <dd>全校教職員</dd>
                        </dl>
						<a href="#" class="btn btn-md btn-info">設定</a>
                    </div>
                    <div class="card-ft">
                        <div class="data-block">
							<a href="#">
							    <h6>已核准紀錄</h6>
								<span>4621</span>
							</a>
						</div>
						<div class="data-block">
							<a href="#">
							    <h6>申請中件數</h6>
								<span>12</span>
							</a>
						</div>
                    </div>
                </div>
            </li>
			<% end %>
        </ul>
    </div>
</main>