<!-- admin-page: 清大 系統管理 -->
<%= render :partial => "/partials/admin_breadcrumb" %>

<main class="main">
    <div class="admission-index admission-nthu">
        <ul class="menu-item">
            <li class="admission-item">
                <div class="admission-card">
                    <div class="flag">
                        <span>01</span>
                    </div>
                    <div class="card-bd">
                        <h3 class="system-title">系所承辦人員化學系</h3>
                        <div class="description">
                            <p>系所承辦人員</p>
                        </div>
                        <div class="card-ft">
                            <a href="#" class="btn waves-effect">前往</a>
                        </div>
                    </div>
                </div>
            </li>
            <li class="admission-item">
                <div class="admission-card">
                    <div class="flag">
                        <span>02</span>
                    </div>
                    <div class="card-bd">
                        <h3 class="system-title">系所承辦人員藝術與設計學系</h3>
                        <div class="description">
                            <ul>
							    <li>系所承辦人員</li>
								<li>系所承辦人員</li>
							</ul>
                        </div>
                        <div class="card-ft">
                            <a href="#" class="btn waves-effect">前往</a>
                        </div>
                    </div>
                </div>
            </li>
            <li class="admission-item">
                <div class="admission-card">
                    <div class="flag">
                        <span>03</span>
                    </div>
                    <div class="card-bd">
                        <h3 class="system-title">系所承辦人員電機資訊學院學士班</h3>
                        <div class="description">
                            <p>系所承辦人員</p>
                        </div>
                        <div class="card-ft">
                            <a href="#" class="btn waves-effect">前往</a>
                        </div>
                    </div>
                </div>
            </li>

            <li class="admission-item">
                <div class="admission-card">
                    <div class="flag">
                        <span>04</span>
                    </div>
                    <div class="card-bd">
                        <h3 class="system-title">系所承辦人員分子與細胞生物研究所</span></h3>
                        <div class="description">
                            <p>系所承辦人員</p>
                        </div>
                        <div class="card-ft">
                            <a href="#" class="btn waves-effect">前往</a>
                        </div>
                    </div>
                </div>
            </li>
            <li class="admission-item">
                <div class="admission-card">
                    <div class="flag">
                        <span>05</span>
                    </div>
                    <div class="card-bd">
                        <h3 class="system-title">系所承辦人員化學系</h3>
                        <div class="description">
                            <p>系所承辦人員</p>
                        </div>
                        <div class="card-ft">
                            <a href="#" class="btn waves-effect">前往</a>
                        </div>
                    </div>
                </div>
            </li>
            <li class="admission-item">
                <div class="admission-card">
                    <div class="flag">
                        <span>06</span>
                    </div>
                    <div class="card-bd">
                        <h3 class="system-title">系所承辦人員化學系</h3>
                        <div class="description">
                            <p>系所承辦人員</p>
                        </div>
                        <div class="card-ft">
                            <a href="#" class="btn waves-effect">前往</a>
                        </div>
                    </div>
                </div>
            </li>

            <li class="admission-item">
                <div class="admission-card">
                    <div class="flag">
                        <span>07</span>
                    </div>
                    <div class="card-bd">
                        <h3 class="system-title">系所承辦人員化學系</h3>
                        <div class="description">
                            <p>系所承辦人員</p>
                        </div>
                        <div class="card-ft">
                            <a href="#" class="btn waves-effect">前往</a>
                        </div>
                    </div>
                </div>
            </li>
            <li class="admission-item">
                <div class="admission-card">
                    <div class="flag">
                        <span>08</span>
                    </div>
                    <div class="card-bd">
                        <h3 class="system-title">系所承辦人員化學系</h3>
                        <div class="description">
                            <p>系所承辦人員</p>
                        </div>
                        <div class="card-ft">
                            <a href="#" class="btn waves-effect">前往</a>
                        </div>
                    </div>
                </div>
            </li>
            <li class="admission-item">
                <div class="admission-card">
                    <div class="flag">
                        <span>09</span>
                    </div>
                    <div class="card-bd">
                        <h3 class="system-title">系所承辦人員國際會議</h3>
                        <div class="description">
                            <p>系所承辦人員</p>
                        </div>
                        <div class="card-ft">
                            <a href="#" class="btn waves-effect">前往</a>
                        </div>
                    </div>
                </div>
            </li>
            <li class="admission-item">
                <div class="admission-card">
                    <div class="flag">
                        <span>10</span>
                    </div>
                    <div class="card-bd">
                        <h3 class="system-title">Loop</h3>
                        <div class="description">
                            <p>系統管理</p>
                        </div>
                        <div class="card-ft">
                            <a href="#" class="btn waves-effect">前往</a>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</main>