<!-- NISA-IS: 案件查詢  -->

<div class="container">
	<h4 class="block-title">Check Status</h4>
	<div class="awall cyan lighten-5 pb-3 mb-0">
		<form>
			<div class="form-row">
				<div class="form-group col-md-5">
					<input type="text" class="form-control" placeholder="Case number">
					<span class="form-text text-muted">Please enter the case number</span>
				</div>
				<div class="form-group col-md-5">
					<input type="text" class="form-control" placeholder="Identifier">
					<span class="form-text text-muted">Please enter the application setting ID</span>
				</div>
				<div class="form-group col-md-2">
					<button class="btn btn-sm btn-cyan mx-0 my-0">Submit</button>
				</div>
			</div>
		</form>
	</div>
	<p class="mb-5 text-right"><a class="grey-text" href="#"><i class="fa fa-question-circle"></i> Forgot the case number and password?</a></p>
	<div class="inquary-info-head">
	    <h6>Case number <strong>20190314</strong></h6>
		<h6>Date of receipt <strong>20190315</strong></h6>
		<h6>Processing progress <strong>Accepted</strong></h6>
	</div>
	<!--div class="dashed-wall mb-5">
		<h5 class="font-weight-bold mb-4">Reply content</h5>
		<div class="mt-3"><span class="text-black-50">尚未回覆</span></div>
	</div-->
	<div class="dashed-wall mb-4">
	    <h5 class="font-weight-bold mb-4">Reply content <small class="time-continuation"><i class="fa fa-clock-o"></i> 2019/03/19 14:05</small></h5>
		<div class="mt-3">
		    <p><%= lorem_sentences(5) %></p>
			<p><%= lorem_sentences(8) %></p>
		</div>
	</div>
	<div class="dashed-wall white">
		<h5 class="font-weight-bold mb-4">Application form <small class="time-continuation"><i class="fa fa-clock-o"></i> 2019/03/19 14:05</small></h5>
		<div class="inquary-application">
			<div class="row">
				<div class="form-group col-md-6">
					<label>First name</label>
					<div>Wang</div>
				</div>
				<div class="form-group col-md-6">
					<label>Last name</label>
					<div>Shiqing</div>
				</div>
			</div>

			<div class="row">
				<div class="form-group col-md-6">
					<label>Gender</label>
					<div>Male</div>
				</div>
				<div class="form-group col-md-6">
					<label>Email</label>
					<div>test@gmail.com</div>
				</div>
			</div>

			<div class="row">
				<div class="form-group col-md-6">
					<label>Status</label>
					<div>College students with Chinese Language Center</div>
				</div>
				<div class="form-group col-md-6">
					<label>Nationality / Overseas Chinese</label>
					<div>Thailand</div>
				</div>
			</div>

			<div class="row">
				<div class="form-group col-md-6">
					<label>Service unit / School</label>
					<div>Feng Chia University</div>
				</div>
				<div class="form-group col-md-6">
					<label>Department</label>
					<div>Department of Statistics</div>
				</div>
			</div>
			
			<div class="form-group">
				<label>Grade</label>
				<div>2</div>
			</div>
			
			<div class="form-group">
				<label>Address</label>
				<div>No. 100, Wenhwa Rd., Seatwen, Taichung, Taiwan 40724, R.O.C.</div>
			</div>

			<div class="row">
				<div class="form-group col-md-6">
					<label>Cellphone number</label>
					<div>092155555</div>
				</div>
				<div class="form-group col-md-6">
					<label>Opinion category</label>
					<div>Learning rights</div>
				</div>
			</div>

			<div class="form-group">
				<label>Opinion content</label>
				<div><%= lorem_sentences(20) %></div>
			</div>

			<div class="row">
				<div class="form-group col-md-6">
					<label>Whether the above comments have been appealed through the school complaints channel</label>
					<div>Yes</div>
				</div>
				<div class="form-group col-md-6">
					<label>Whether the above comments have been appealed to the relevant units outside the school</label>
					<div>Yes</div>
				</div>
			</div>
			
			<div class="form-group">
				<label>Attachment</label>
				<div>
					<a href="#" class="attachment-link">attachment1</a>
					<a href="#" class="attachment-link">attachment2</a>
				</div>
			</div>
			
			<div class="form-group">
				<label>Password</label>
				<div>486663</div>
				<span class="form-text text-muted">Please enter the password you entered during the case inquiry.</span>
			</div>
		</div>
	</div>
	<!-- 不需要回上一頁的按鈕 -->
</div>








































