<!-- NISA-IS: 忘記案件編號及密碼  -->

<div class="container">
	<div class="center-warp">
		<form>
			<p class="h4 text-center py-4">忘記案件編號及密碼</p>
			<div class="md-form">
				<input type="email" id="materialLoginFormEmail" class="form-control" placeholder="請輸入申請案件之Email">
			</div>
			<div class="text-center py-4">
				<button class="btn btn-outline-cyan btn-rounded my-4 waves-effect z-depth-0" type="submit">Submit</button>
			</div>
		</form>
	</div>
</div>