<!-- NISA-IS: 步驟二 - 申訴單  -->

<div class="container">
	<h4 class="block-title">Appeal process</h4>
	<div class="step-bar five-step">
		<ul>
			<li class="done">
				<span>
					<span class="step">1</span>
					<h4>Consent</h4>
				</span>
			</li>
			<li class="active">
				<span>
					<span class="step">2</span>
					<h4>Appeal</h4>
				</span>
			</li>
			<li>
				<span>
					<span class="step">3</span>
					<h4>Mail Verification</h4>
				</span>
			</li>
			<li>
				<span>
					<span class="step">4</span>
					<h4>Complete</h4>
				</span>
			</li>
		</ul>
	</div>
	<div class="step-container">
		<form>
			<div class="row">
				<div class="form-group col-md-6">
					<label for="firstName"><span class="required">*</span>First name</label>
					<input type="text" class="form-control" id="firstName" placeholder="">
				</div>
				<div class="form-group col-md-6">
					<label for="lastName"><span class="required">*</span>Last name</label>
					<input type="text" class="form-control" id="lastName" placeholder="">
				</div>
			</div>

			<div class="row">
				<div class="form-group col-md-6">
					<label for=""><span class="required">*</span>Gender</label>
					<div>
						<div class="custom-control custom-radio custom-control-inline">
							<input type="radio" class="custom-control-input" id="male" name="PersonalGender">
							<label class="custom-control-label" for="male">Male</label>
						</div>
						<div class="custom-control custom-radio custom-control-inline">
							<input type="radio" class="custom-control-input" id="female" name="PersonalGender">
							<label class="custom-control-label" for="female">Female</label>
						</div>
						<div class="custom-control custom-radio custom-control-inline">
							<input type="radio" class="custom-control-input" id="other" name="PersonalGender">
							<label class="custom-control-label" for="other">Other</label>
						</div>
					</div>
				</div>
				<div class="form-group col-md-6">
					<label for="inputEmail"><span class="required">*</span>Email</label>
					<input type="email" class="form-control" id="inputEmail" placeholder="">
				</div>
			</div>
			
            <div class="row">
				<div class="form-group col-md-6">
					<label for="inputStatus"><span class="required">*</span>Status</label>
					<select id="inputStatus" class="browser-default custom-select">
						<option value="" disabled selected>Choose your option</option>
						<option value="1">College students with Chinese Language Center</option>
						<option value="2">Foreign short-term study and personal reading</option>
						<option value="3">3</option>
						<option value="4">4</option>
					</select>
				</div>
				<div class="form-group col-md-6">
					<label for="Nationality"><span class="required">*</span>Nationality / Overseas Chinese</label>
					<input type="text" class="form-control" id="Nationality" placeholder="">
				</div>
			</div>
			
			<div class="form-row">
				<div class="form-group col-md-4">
					<label for="inputService"><span class="required">*</span>Service unit / School</label>
					<input type="text" class="form-control" id="inputService" placeholder="">
				</div>
				<div class="form-group col-md-4">
					<label for="inputDepartment">Department</label>
					<input type="text" class="form-control" id="inputDepartment" placeholder="">
				</div>
				<div class="form-group col-md-4">
					<label for="inputGrade">Grade</label>
					<input type="text" class="form-control" id="inputGrade" placeholder="">
				</div>
			</div>
			
			<div class="form-group">
				<label for="inputAddress">Address</label>
				<input type="text" class="form-control" id="inputAddress" placeholder="">
			</div>
			
			<div class="row">
				<div class="form-group col-md-6">
					<label for="inputMobile"><span class="required">*</span>Cellphone number</label>
					<input type="text" class="form-control" id="inputMobile" placeholder="">
				</div>
				<div class="form-group col-md-6">
					<label for="inputOpinion"><span class="required">*</span>Opinion category</label>
					<select id="inputOpinion" class="browser-default custom-select">
						<option value="" disabled selected>Choose your option</option>
						<option value="1">Learning rights</option>
						<option value="2">2</option>
						<option value="3">3</option>
						<option value="4">4</option>
					</select>
				</div>
			</div>

			<div class="form-group">
				<label for="inputOpinion">Opinion content</label>
				<textarea class="form-control rounded-0" id="inputOpinion" rows="4"></textarea>
			</div>

			<div class="row mt-4">
				<div class="form-group col-md-6">
					<label for=""><span class="required">*</span>Whether the above comments have been appealed through the school complaints channel</label>
					<div>
						<div class="custom-control custom-radio custom-control-inline">
							<input type="radio" class="custom-control-input" id="oncampusYes" name="onCampus">
							<label class="custom-control-label" for="oncampusYes">Yes</label>
						</div>
						<div class="custom-control custom-radio custom-control-inline">
							<input type="radio" class="custom-control-input" id="oncampusNo" name="onCampus">
							<label class="custom-control-label" for="oncampusNo">No</label>
						</div>
					</div>
				</div>
				<div class="form-group col-md-6">
					<label for=""><span class="required">*</span>Whether the above comments have been appealed to the relevant units outside the school</label>
					<div>
						<div class="custom-control custom-radio custom-control-inline">
							<input type="radio" class="custom-control-input" id="offcampusYes" name="offCampus">
							<label class="custom-control-label" for="offcampusYes">Yes</label>
						</div>
						<div class="custom-control custom-radio custom-control-inline">
							<input type="radio" class="custom-control-input" id="offcampusNo" name="offCampus">
							<label class="custom-control-label" for="offcampusNo">No</label>
						</div>
					</div>
				</div>
			</div>
			
			<div class="form-group mt-2">
				<label for="">Attachment</label>
				<div class="form-row">
					<div class="col-md-6">
						<div class="input-group">
							<div class="input-group-prepend">
								<span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
							</div>
							<div class="custom-file">
								<input type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
								<label class="custom-file-label" for="inputGroupFile01">Choose file</label>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<a href="#" class="attachment-link">attachment1</a>
						<a href="#" class="attachment-link">attachment2</a>
					</div>
				</div>
			</div>
			
			<div class="row mt-4">
				<div class="form-group col-md-6">
					<label for="inputPassword"><span class="required">*</span>Set password</label>
					<input type="password" class="form-control" id="inputPassword" placeholder="">
					<span class="form-text text-muted">Please enter the password you entered during the case inquiry.</span>
				</div>
				<div class="form-group col-md-6">
					<label for="inputCAPTCHA"><span class="required">*</span>CAPTCHA</label>
					<div class="form-inline step-captcha">
						<input type="password" class="form-control" id="inputCAPTCHA" placeholder="">
						<img class="captcha mx-2" src="http://nfu-map.dev.com.tw/common/captcha.image">
						<button type="button" class="btn btn-xs btn-link text-lowercase">Regenerate</button>
					</div>
				</div>
			</div>
			
			<div class="text-center mt-5">
				<a href="step3.html" class="btn btn-cyan btn-lg mr-5">Submit</a>
				<a href="overview.html" class="text-black-50">Cancel</a>
			</div>
		</form>
	</div>
</div>

