<!-- NISA-IS: 步驟三 - 郵件驗證確認  -->

<div class="container">
	<h4 class="block-title">Appeal process</h4>
	<div class="step-bar five-step">
		<ul>
			<li class="done">
				<span>
					<span class="step">1</span>
					<h4>Consent</h4>
				</span>
			</li>
			<li class="done">
				<span>
					<span class="step">2</span>
					<h4>Appeal</h4>
				</span>
			</li>
			<li class="active">
				<span>
					<span class="step">3</span>
					<h4>Mail Verification</h4>
				</span>
			</li>
			<li>
				<span>
					<span class="step">4</span>
					<h4>Complete</h4>
				</span>
			</li>
		</ul>
	</div>
	<div class="step-container">
		<div class="awall text-center orange lighten-5">
		    <h6 class="mb-3">尚未完成郵件認證，請至申訴單填寫之 Email 信箱點擊連結。</h6>
			<button class="btn btn-sm btn-warning mx-0 my-0">重發認證信</button>
		</div>
	</div>
</div>

