<!-- NISA-IS: 步驟四 - 完成申請  -->

<div class="container">
	<h4 class="block-title">Appeal process</h4>
	<div class="step-bar five-step">
		<ul>
			<li class="done">
				<span>
					<span class="step">1</span>
					<h4>Consent</h4>
				</span>
			</li>
			<li class="done">
				<span>
					<span class="step">2</span>
					<h4>Appeal</h4>
				</span>
			</li>
			<li class="done">
				<span>
					<span class="step">3</span>
					<h4>Mail Verification</h4>
				</span>
			</li>
			<li class="active">
				<span>
					<span class="step">4</span>
					<h4>Complete</h4>
				</span>
			</li>
		</ul>
	</div>
	<div class="step-container">
		<div class="awall awall-lg text-center green lighten-5">
			<div class="success-checkmark">
				<div class="check-icon">
					<span class="icon-line line-tip"></span>
					<span class="icon-line line-long"></span>
					<div class="icon-circle"></div>
					<div class="icon-fix"></div>
				</div>
			</div>
		    <h6>恭喜您已完成申請，請記住您的案件編號及設定之識別碼。</h6>
		</div>
		<div class="text-center mt-5">
			<a href="step3.html" class="btn btn-cyan btn-lg">案件查詢</a>
		</div>
	</div>
</div>

