
@import "base";
@import "widgets/vanillaCalendar";
@import "widgets/fullcalendar";



/* `覆蓋 mdb
-----------------------------------------------------------------------------*/

.carousel {
	.carousel-caption {
		background: rgba(#000, .8);
		position: static;
		padding: 15px 20px;
		text-align: left;
		p {
			margin-bottom: 0;
			height: 54px;
			max-height: 54px;
			overflow: hidden;
		}
	}
	.carousel-indicators {
		bottom: -35px;
		li { background-color: rgba(0, 0, 0, 0.25); }
		.active { background-color: #000; }
	}
	.view .mask {
		height: 130px;
		top: auto;
	}
	.loop_title_hover .carousel-caption {
		transition: all .1s ease-in-out;
		color: $main_color;
		&:hover { color: #fff; }
	}
}

.carousel-control-prev, 
.carousel-control-next {
	bottom: 84px;
}

.pagination.pg-blue .page-item.active {
	.page-link, .page-link:hover { background-color: $main_color; }
}

#mdb-lightbox-ui {
	h1 { display: none; }
	.pswp__caption__center { font-size: 1rem; }
}

.form-control { font-size: 1rem; }

.navbar.navbar-light {
    .dropdown .dropdown-menu.dropdown-info .dropdown-item:hover, .dropdown .dropdown-menu.dropdown-info .dropdown-item:active, .dropup .dropdown-menu.dropdown-info .dropdown-item:hover, .dropup .dropdown-menu.dropdown-info .dropdown-item:active, .dropleft .dropdown-menu.dropdown-info .dropdown-item:hover, .dropleft .dropdown-menu.dropdown-info .dropdown-item:active, .dropright .dropdown-menu.dropdown-info .dropdown-item:hover, .dropright .dropdown-menu.dropdown-info .dropdown-item:active {
        background-color: $main_color !important;
        box-shadow: none;
    }
}

.table-responsive {
	margin-bottom: 1rem;
	table { margin-bottom: 0 !important; }
}

/* `Base
-----------------------------------------------------------------------------*/

.section-container {
	margin-bottom: 60px;
	&:last-child { margin-bottom: 0; }
}

.section-title {
	margin-bottom: 20px;
	h3 {
		padding-left: 20px;
		font-size: 1.5rem;
		font-weight: bold;
		position: relative;
		&:after {
			content: "";
			background: $main_color;
			width: 8px;
			height: 24px;
			position: absolute;
			left: 0;
			top: 2px;
		}
	}
}

.section-ft {
	text-align: center;
	.btn {
		border-color: $main_color !important;
		color: $main_color !important;
		font-size: 1.1rem;
		font-weight: 700;
		&:hover {
			border-color: $link !important;
			color: $link !important;	
		}
	}
}

.breadcrumb {
	background-color: transparent; /* `覆蓋 mdb */
	margin-top: -3rem;
	margin-bottom: 2rem; /* `覆蓋 mdb */
	padding: 0.75rem 0; /* `覆蓋 mdb */
}

/* `Announcement
-----------------------------------------------------------------------------*/

.announcement-list {
	margin-bottom: 30px;
	.photo-item {
		margin-bottom: 30px;
		.date {
			position: relative;
			margin-left: 40px;
			&:before {
				content: "";
				background: #e5e5e5;
				border-radius: 50%;
				width: 5px;
				height: 5px;
				position: absolute;
				left: -20px;
				top: 40%;
			}
		}
		h5 {
			margin-bottom: 1rem;
			line-height: 1.5;
		}
		.brief { font-size: 1rem; }
	}
	.photo-wrap {
		float: left;
		width: 200px;
		height: auto;
		img {
			width: 100%;
		    height: auto;
		}
	}
	.photo-content {
		margin-left: 220px;
	}
	.normal-item {
		display: flex;
		justify-content: space-between;
		border-bottom: 1px solid #e5ebf2;
		padding: 13px 0;
		h5 {
			width: 75%;
			font-size: 1rem;
			a {
				display: block;
				width: 100%;
				color: #333;
				overflow : hidden;
				text-overflow : ellipsis;
				white-space : nowrap;
				&:hover { color: $link_hover; }
				//&:visited { color: #999; }
			}
		}
		&:last-child { border-bottom: none; }
	}
	.tags {
		display: inline-block;
		background: #333;
		border-radius: 3px;
		padding: 0 6px;
		height: 26px;
		font-size: 15px;
		color: #fff;
		line-height: 26px;
		position: relative;
		&:after {
			content: "";
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 12px 0 12px 8px;
			border-color: transparent transparent transparent #333;
			position: absolute;
			right: -8px;
			top: 1px;
		}
		&:hover { transform: translate3d(3px, 0, 0); }
	}
	.tags-exchange {
		background: #54bbc5;
		&:after { border-left-color: #54bbc5; }
	}
	.tags-fund {
		background: #90c13d;
		&:after { border-left-color: #90c13d; }
	}
	.tags-activity {
		background: #cf9645;
		&:after { border-left-color: #cf9645; }
	}
	.date {
		color: #888;
		.fa { margin-right: 5px; }
	}
}

/* `Calendar
-----------------------------------------------------------------------------*/

.calendar-container {
	.content-wrap {
		display: flex;
		flex-direction: row-reverse;
		justify-content: space-between;
	}
	.activity-list, .cal-wrap {
		width: 50%;
	}
	.cal-wrap { padding-left: 15px; }
	.activity-list {
		padding-top: 1.2rem;
		padding-right: 15px;
		.brief {
			margin-bottom: 0;
		}
	}
	.date-illustrate {
		margin-bottom: 2rem;
		font-family: 'Roboto', '\5FAE\8EDF\6B63\9ED1\9AD4', Helvetica, Arial, sans-serif;
		font-size: 1.25rem;
		font-weight: 700;
	}
	.event-item {
		border-bottom: 1px solid #e5ebf2;
		margin-bottom: 1.5rem;
		padding-bottom: 1.5rem;
		&:last-child {
			border-bottom: none;
		}
	}
	.event-period {
		margin-bottom: 0.5rem;
		font-family: 'Roboto', '\5FAE\8EDF\6B63\9ED1\9AD4', Helvetica, Arial, sans-serif;
		font-size: 0.85rem;
		color: #999;
	}
	.event-title {
		margin-bottom: 0.8rem;
		font-size: 1.35rem;
		font-weight: bold;
	}
	.omission-item {
		p {
			margin-top: -1.25rem;
			text-align: center;
			font-size: 2.5rem;
			line-height: 1.1;
		}
	}
}

/* `Service Link
-----------------------------------------------------------------------------*/

.service-container {
	border-top: 1px solid #e5ebf2;
	border-bottom: 1px solid #e5ebf2;
	padding: 60px 0;
	.service-wrap {
        display: flex;
		flex-wrap: wrap;
	}
	.service-item {
		margin-bottom: 2rem;
		width: 50%;
		font-size: 1.15rem;
		text-align: center;
	}
	.item-logo {
		display: block;
		margin: 0 auto 1rem;
		max-width: 120px;
		position: relative;
		img {
			position: relative;
			z-index: 1;
		}
		.afterimage {
			transition: all .1s ease-in-out;
			position: absolute;
			left: 0;
			top: 0;
			z-index: 0;
			opacity: 0.5;
		}
	}
	.item-wrap {
		display: block;
		&:hover {
			.afterimage {
				transform: translate3d(3px, 0, 0);
			}
		}
	}
	.gis {
		.item-wrap:hover {
			.afterimage {
				opacity: 0.5;
			}
		}
	}
	.cais {
		.item-logo {
			max-width: 176px;
		}
	}
	.form-list {
		li {
			margin-bottom: 1rem;
		}
		a {
			transition: all .2s ease-in-out;
			background: #f9f9f9;
			display: block;
			padding: 0.6rem 1rem 0.6rem 1.3rem;
			font-size: 18px;
			color: #333;
			position: relative;
			z-index: 2;
			&:before {
				transition: all .2s ease-in-out;
				content: "";
				position: absolute;
				left: 0;
				top: 0;
				bottom: 0;
				background: #ddd;
				width: 8px;
				z-index: -1;
			}
			&:hover {
				color: #fff;
				&:before {
					background: $main_color;
					width: 100%;
				}
			}
		}
	}
}

/* `Media
-----------------------------------------------------------------------------*/
	
.video-wrapper{
    position: relative;
    padding-bottom: 56.25%;  //16:9
    overflow: hidden;
	iframe{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

.google-maps {
	position: relative;
	padding-bottom: 56.5%; // This is the aspect ratio
	height: 0;
	overflow: hidden;
	iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100% !important;
		height: 100% !important;
	}
}

/* `Article
-----------------------------------------------------------------------------*/

.main-topbar {
	margin-bottom: 2rem;
}

.category-bar {
	margin-bottom: 2rem;
	li {
		display: inline-block;
		margin-right: 0.15rem;
		a {
			display: block;
			border-radius: 18px;
			padding: 0.35rem 1.25rem;
			color: #888;
			&:hover {
				background: #f5f5f5;
				color: #454545;
			}
		}
	}
	.selected a, .selected a:hover {
		background: $main_color;
		color: #fff;
	}
}

.pagination {
	.item-amount {
		margin-right: 10px;
		span {
			display: inline-block;
			border-right: 1px solid #e5e5e5;
			margin-left: -1px;
			padding: 0.5rem 1.25rem 0.5rem 0.75rem;
			font-size: 0.9rem;
			line-height: 1.25;
			color: #868e96;
		}
	}
}

.post-title {
	margin-bottom: 1.5rem;
	font-size: 1.75rem;
}

.post-meta {
	display: flex;
	justify-content: space-between;
	margin-bottom: 2rem;
}

.date-author {
	color: #999;
	.date { margin-right: 10px; }
	.fa { margin-right: 5px; }
}

.post-share {
	text-align: right;
	li {
		display: inline-block;
		margin-left: 3px;
		a, img {
			display: block;
			border-radius: 3px;
		}
	}
	.icon-share {
		width: 24px;
		height: auto;
	}
}

.post-ft {
	display: flex;
	justify-content: space-between;
	margin-top: 3rem;
	.view-amount { color: #999; }
	.label {
		display: inline-block;
		padding-right: 6px;
	}
}

.file-dl {
	a {
		display: inline-block;
		background: #f5f5f5;
		border-radius: 5px;
		padding: 0.15rem 0.5rem;
		font-weight: 700;
	}
}

.post-single {
	font-size: 1rem;
	h3 {
		font-size: 1.5rem;
		font-weight: bold;
	}
	img {
		margin-bottom: 1rem;
		width: 100%;
		height: auto;
	}
	table {
		margin-bottom: 1rem;
		th, td {
			padding: 0.25rem 0.25rem;
			font-size: 0.935rem;
		}
	}
	.video-wrapper { margin-bottom: 1rem; }
	.text-runaround {
		display: flow-root;
		img {
			float: left;
			margin-right: 1rem;
			width: 33.333%;
		}
		&.right {
            img {
                float: right;
				margin-right: 0;
				margin-left: 1rem;
            }
		}
	}
	.photo-gallery {
		.img-group {
			display: flow-root;
			img {
				float: left;
				margin-right: 2%;
				width: 32%;
				&:nth-child(3n) {
					margin-right: 0;
				}
			}
		}
		&.upright .img-group {
			img {
				margin-right: 2%;
				width: 23.5%;
				&:nth-child(3n) {
					margin-right: 2%;
				}
				&:nth-child(4n) {
					margin-right: 0;
				}
			}
		}
	}
	
	.album-gallery {
		.album-item {
			display: block;
            float: left;
            margin-right: 2%;
			margin-bottom: 1rem;
            width: 32%;
            &:nth-child(3n) {
                margin-right: 0;
            }
		}
		.img-group {
			display: flow-root;
			img {
				margin-bottom: 0;
                position: absolute;
                object-fit: cover;
                width: 100%;
                height: 100%;
			}
            p {
                margin-bottom: 0;
				width: 100%;
                line-height: 1.2;
                text-align: center;
                overflow : hidden;
                text-overflow : ellipsis;
                white-space : nowrap;
            }
		}
        .image-wrapper {
            position: relative;
            padding-bottom: 56.2%;
			margin-bottom: 0.5rem;
        }
	}
	
	.album-gallery.upright {
		.album-item {
            width: 23.5%;
			&:nth-child(3n) {
                margin-right: 2%;
            }
            &:nth-child(4n) {
                margin-right: 0;
            }
		}
		.image-wrapper {
			padding-bottom: 150%;
		}
	}
	
	table {
		width: 100%;
		th, td {
			border: 1px solid #dee2e6;
			padding: .75rem;
		}
		th {
			border-bottom-width: 2px;
			font-weight: bold;
		}
	}
	.text-nowrap { white-space: nowrap !important; }
}

.mdb-lightbox {
	figure {
		a {
			background: #fff;
			display: block;
			padding-bottom: 66.7%;
			position: relative;
			overflow: hidden;
		}
		img {
			margin-bottom: 0;
			position: absolute;
			left: 0;
			//top: 50%;
			//margin-top: -33.3333%;
		}
	}
	.album-title { margin-top: 0.5rem; }
}

.file-list {
	li {
		display: flex;
		justify-content: space-between;
		align-items: center;
		border-bottom: 1px solid $bg_border_color;
		margin-bottom: 1rem;
		padding-bottom: 1rem;
		&:last-child {
			border-bottom: none;
		}
	}
	h6 {
		margin-bottom: 0;
		width: 75%;
	}
	.file-dl {
		width: 25%;
		text-align: right;
	}
}

.questionnaire-wrap {
	border-radius: 10px;
	background: #f6fafc;
	padding: 3rem 3rem 2rem;
}

.qus-item {
	margin-bottom: 2.5rem;
	line-height: 1.5;
	.label { font-size: 1rem; }
	.md-form { margin-top: 0.5rem; }
	.form-check {
		margin-bottom: 0.5rem;
		padding-left: 0;
	}
}

/* `SideNav
-----------------------------------------------------------------------------*/

.sidenav {
	.collapsible {
		font-size: 1rem;
		a {
			color: #333;
			&:hover { color: $main_color; }
			&.current {
				color: $main_color;
				font-weight: bold;
			}
		}
	}
	.sticky {
		border-right: 1px dashed #ddd;
		//padding-right: 1rem;
	}
	.collapsible-header {
		display: block;
		border-bottom: 1px dashed #ddd;
		padding: 0.5rem 0;
	}
	.active {
		.collapsible-body { border-bottom: 1px dashed #e5e5e5; }
	}
	li:last-child {
		.collapsible-header {
			border-bottom: none;
		}
	}
	.collapsible-header.active {
		font-weight: bold;
	}
	.fa-angle-down {
		margin-right: 1rem;
		position: absolute;
		right: 0;
		top: .8rem;
	}
	.collapsible-body {
		background: $body_background;
		margin-top: -1px;
		position: relative;
		z-index: 1;
		ul {
			padding-left: 0;
			a {
				display: block;
				padding: 0.5rem 0 0.5rem 1.5rem;
			}
		}
	}
}

.sticky-fix {
    position: static !important;
}

/* `FullCalendar
-----------------------------------------------------------------------------*/

#calendar { position: relative; }

.search-part {
	position: absolute;
	right: 0;
	top: 0;
	width: 40%;
	.search-form {
		display: flex;
		justify-content: space-between;
	}
	.keyword-form {
		margin-right: 10px;
		padding-right: 20px;
		position: relative;
		width: 40%;
		.fa-search {
			position: absolute;
			right: 0;
			top: 10px;
		}
	}
	.interval-form {
		padding-left: 20px;
		padding-right: 20px;
		width: 60%;
		.md-form { position: relative; }
		.fa-search {
			position: absolute;
			right: -20px;
			top: 10px;
		}
		.col-1 { padding-top: 5px; }
	}
	.md-form {
		margin-top: 0;
		margin-bottom: 0;
	}
	.form-control { display: inline-block; }
}

.fc-state-default {
	background: $main_color;
	border: none;
	box-shadow: none;
	text-shadow: none;
	color: #fff;
	&:hover {
		background: $main_darken_color;
	}
}

.fc-event {
	background: $main_lighten_color;
	border: none;
	color: #333;
	&:hover { color: #000; }
	.fc-title {
		display: inline-block;
		padding: 1px 2px 2px;
	}
}

.fc-button-group {
	.fc-button {
		border-left: 1px solid rgba(#000, .05);
		border-right: 1px solid rgba(#000, .05);
		&:first-child { border-left: none; }
		&:last-child { border-right: none; }
	}
}

.fc-toolbar h2 { font-size: 1.75rem; }

.popup-trigger { display: none !important; }

.animate, .btn, .btn span, .overlay .overlay-content, .overlay .overlay-content .overlay-close, .overlay .overlay-content .signup-form input {
  transition: all 0.3s;
}



.popup-trigger {
    width: auto;
    margin: -2px 0 1rem 0;
    position: relative;
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.05);
    z-index: 10;
}

.overlay {
    width: 100%;
    height: 100%;
    overflow: auto;
    float: left;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0;
    -webkit-transform: translateY(200px);
    transform: translateY(200px);
    transition: opacity 0.5s, z-index 0s 0.5s, -webkit-transform 0.5s;
    transition: opacity 0.5s, transform 0.5s, z-index 0s 0.5s;
    transition: opacity 0.5s, transform 0.5s, z-index 0s 0.5s, -webkit-transform 0.5s;
	.search-form {
		.fa-search {
			position: absolute;
			right: 0;
			top: 6px;
		}
	}
}

.overlay .overlay-background {
    background-color: rgba(43, 64, 77, 0.9);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
}

.overlay .overlay-content {
    width: 100%;
    max-width: 530px;
    margin: 100px auto 0;
    padding: 0 15px;
    color: #fff;
    position: relative;
    z-index: 10;
}

.overlay .overlay-content .overlay-close {
    display: block;
    font-size: 35px;
    cursor: pointer;
    position: absolute;
    top: 12px;
    right: 15px;
}

.overlay .overlay-content .overlay-close:hover {
    opacity: .8;
}

.overlay .overlay-content .blurb {
    margin-top: 35px;
    line-height: 100%;
    font-weight: 600;
    font-size: 18px;
}

.overlay .overlay-content .blurb-tagline {
    display: block;
    margin-top: 10px;
    line-height: 100%;
    font-size: 14px;
}

.overlay .overlay-content .signup-form {
    margin-top: 35px;
}

.overlay .overlay-content .signup-form label {
    line-height: 100%;
    margin-bottom: 5px;
    font-size: 14px;
}

.overlay .overlay-content .signup-form input {
    background-color: transparent;
    width: 100%;
    height: 30px;
    margin-bottom: 20px;
    padding: 0 8px;
    border: 1px solid rgba(254, 254, 254, 0.3);
    border-radius: 5px;
}

.overlay .overlay-content .signup-form input:hover,
.overlay .overlay-content .signup-form input:focus {
    border-color: #fff;
}

.overlay .overlay-content .signup-form .submit-btn {
    width: 150px;
}

.overlay.open {
    z-index: 15;
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    transition: opacity 0.5s, z-index 0s, -webkit-transform 0.5s;
    transition: opacity 0.5s, transform 0.5s, z-index 0s;
    transition: opacity 0.5s, transform 0.5s, z-index 0s, -webkit-transform 0.5s;
}

.overlay.short .overlay-content {
    margin: 30px auto;
}

/* `Member
-----------------------------------------------------------------------------*/

.menber-info {
	.info-group {
		display: flex;
		justify-content: space-between;
		border-bottom: 1px solid #e5e5e5;
		margin-bottom: 2rem;
		padding-bottom: 1.5rem;
	}
	.menber-avatar {
		width: 28%;
		img {
			display: block;
			box-shadow: 0 1px 3px rgba(#000, .2);
			border-radius: 5px;
			margin-bottom: 0;
			width: 100%;
			height: auto;
		}
	}
	.menber-introduction {
		width: 68%;
		h5 { font-weight: bold; }
		.item {
            border-bottom: 1px dashed #e8e8e8;
            margin-bottom: 0.5rem;
            padding-bottom: 0.5rem;
			&:last-child {
				border-bottom: none;
                margin-bottom: 0;
                padding-bottom: 0;
			}
			span:first-child { font-weight: bold; }
		}
		ul { margin-bottom: 0; }
		span {
			display: inline-block;
			padding-right: 5px;
		}
	}
}

/* `Club
-----------------------------------------------------------------------------*/

.search-club-wrap {
	background: #f4f6f7;
	border-radius: 3px;
	padding: 30px;
    display: flex;
    justify-content: space-between;
	align-items: center;
	.form-inline {
		width: 75%;
		position: relative;
	}
	.form-control {
		border: none;
		width: 100%;
	}
	.fa-search {
		color: $main_color;
		position: absolute;
		right: 15px;
		top: 30%;
	}
	.view-all {
		font-size: 1rem;
		.fa {
			transition: all 0.2s ease-in-out;
			font-size: 18px;
			color: #bbb;
		}
	}
	.text {
		display: inline-block;
		padding-right: 5px;
		color: #aaa;
	}
	.all-link {
		&:hover .fa { color: #888; }
	}
}

.club-classification {
	margin-bottom: 30px;
	ul {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		li { margin-bottom: 30px; }
		a, img {
			border-radius: 5px;
			display: block;
		}
		a {
			transition: all .15s ease-in-out;
			box-shadow: 0 4px 8px rgba(#000, .1);
			&:hover {
				box-shadow: 0 2px 2px rgba(#000, .15);
			}
		}
		img {
			width: 255px;
			height: auto;
		}
	}
}

.event-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
	li {
		margin-bottom: 20px;
		width: 48.5%;
	}
	.event-date {
		display: flex;
		float: left;
		width: 120px;
		font-family: 'Roboto', '\5FAE\8EDF\6B63\9ED1\9AD4', Helvetica, Arial, sans-serif;
	}
	.date-start, .date-end {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 60px;
		height: 90px;
		line-height: 1.1;
	}
	.date-start {
		background: #f4f7f8;
		border-radius: 3px 0 0 3px;
	}
	.date-end {
		background: #8f9599;
		border-radius: 0 3px 3px 0;
		color: #fff;
	}
	.date-month {
		font-size: 1rem;
		font-weight: 500;
		text-transform: uppercase;
	}
	.date-th {
		font-size: 1.875rem;
		font-weight: 900;
	}
	.start, .end {
		font-size: 0.875rem;
		font-weight: 300;
		color: #757575;
	}
	.end { color: #dedede; }
	.info {
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin-left: 135px;
		min-height: 90px;
		line-height: 1.3;
		h5 {
			font-size: 1rem;
			font-weight: bold;
			line-height: 1.1;
		}
		p {
			margin-bottom: 0;
			padding-left: 24px;
			line-height: 1.4;
			color: #666;
			position: relative;
		}
		.fa {
			margin-right: 2px;
			width: 18px;
			text-align: center;
			color: #999;
			position: absolute;
			left: 0;
			top: 5px;
		}
	}
}

.btn-download {
	display: block !important;
	background: $main_color;
	margin-top: 50px;
	padding: 1.25rem 0.5rem;
	font-size: 1.125rem;
	font-weight: bold;
	color: #fff;
	.fa {
		font-size: 1.125rem;
		font-weight: 400;
	}
	&:hover { color: rgba(#fff, .75); }
}

.nav-club-classification {
	margin-bottom: 3rem;
	li {
		float: left;
		position: relative;
		z-index: 1;
	}
	.club-item {
		display: flex;
		justify-content: center;
		align-items: center;
		background: #aaa;
		padding: 0 20px;
		height: 56px;
		font-weight: bold;
		font-size: 1rem;
		color: rgba(#000, .8);
		//text-shadow: 0 0 1px rgba(#000, .6), 0 0 2px rgba(#000, .5), 0 0 4px rgba(#000, .5);
		&:hover {
			color: #fff;
			text-shadow: 0 0 1px rgba(#000, .6), 0 0 2px rgba(#000, .5), 0 0 4px rgba(#000, .5);
		}
	}
	li:nth-child(1) .club-item {
		background: #eee;
		color: #000;
		text-shadow: none;
		&:hover { background: darken(#ddd, 10); }
	}
	li:nth-child(2) .club-item {
		background: #fe7c7c;
		&:hover { background: darken(#f35656, 12); }
	}
	li:nth-child(3) .club-item {
		background: #ffa562;
		&:hover { background: darken(#f68946, 8); }
	}
	li:nth-child(4) .club-item {
		background: #f7da55;
		&:hover { background: darken(#fcc623, 10); }
	}
	li:nth-child(5) .club-item {
		background: #f4ef5c;
		&:hover { background: darken(#ffde00, 6); }
	}
	li:nth-child(6) .club-item {
		background: #a5e56f;
		&:hover { background: darken(#83e931, 10); }
	}
	li:nth-child(7) .club-item {
		background: #78cdee;
		&:hover { background: darken(#46b4fa, 12); }
	}
	li:nth-child(8) .club-item {
		background: #a773ee;
		&:hover { background: darken(#7f40ff, 12); }
	}
	li:nth-child(9) .club-item {
		background: #f174f1;
		&:hover { background: darken(#d940ff, 12); }
	}
	li.current {
		z-index: 2;
		.club-item, .club-item:hover {
			background: #333;
			cursor: default;
			color: #fff;
		}
	}
}

.club-list {
	margin-bottom: 20px;
	li {
		display: flow-root;
		transition: all 0.1s ease-in-out;
		&.thead {
			border-bottom: 2px solid #eef2f4;
		}
		&.tdata {
			border-bottom: 1px solid #eef2f4;
			&:hover { background: #f4f7f8; }
			.name { font-weight: bold; }
		}
	}
	.number,
	.classification,
	.name,
	.link {
		float: left;
		padding: 10px 6px;
	}
	.number { width: 10%; }
	.classification { width: 15%; }
	.name { width: 30%; }
	.link { width: 45%; }
}

.club-introduction {
    display: flex;
	justify-content: space-between;
	font-size: 1rem;
	.brief {
		border-right: 1px solid #e7ecef;
		padding: 20px 30px 20px 0;
		width: 70%;
	}
	.external-link {
		.fa { color: #aaa; }
	}
	.contact {
		border-left: 1px solid #e7ecef;
		margin-left: 2px;
		padding: 20px 0;
		width: 30%;
		.item {
			border-bottom: 1px dashed #c8ced1;
			padding: 0 0 10px 30px;
			margin-bottom: 10px;
			h6 { color: #777; }
			p {
				margin-bottom: 0;
				font-weight: bold;
				line-height: 1.4;
			}
			&:last-child {
				border-bottom: none;
			}
		}
		.item-email {
			a {
				display: inline-block;
				margin-right: 8px;
			}
			.fa { color: #aaa; }
		}
	}
}

/* `Lang
-----------------------------------------------------------------------------*/

:lang(en) {}

/* `Responsive
-----------------------------------------------------------------------------*/

@media (max-width: 1399px) {
	header.header {
		margin-bottom: 3rem;
	}
}

@media (max-width: 1199px) {
    header.header {
		margin-bottom: 2rem;
    }
	.section-container {
		margin-bottom: 40px;
	}
	.service-container {
		padding: 40px 0 20px;
	}
	.breadcrumb { margin-top: -1rem; }
	.fc-toolbar { padding-right: 50px; }
	.search-part {
		width: 40px;
		text-align: right;
	}
	.popup-trigger { display: inline-block !important; }
	.xl-only { display: none !important; }
	.club-classification ul img { width: 210px; }
}

@media (max-width: 991px) {
    header.header {
		.header-bar {
			display: none;
		}
		.h1-calligraphy,
		.header-wrap form {
			display: none;
		}
		.mobile-only {
			display: block;
			padding-bottom: 1rem;
		}
		.logo { margin-right: 0; }
		.navbar {
			.container {
				padding-left: 15px;
				padding-right: 15px;
			}
            .header-bar {
				background-color: transparent;
                display: block;
				padding-left: 9px;
				padding-bottom: 4px;
				font-size: 15px;
				text-align: left;
            }
		}
		.nav-item::before { content: none; }
    }
	.footer-inner {
		.container { display: block; }
		.custom-icon { margin-top: 1rem; }
		.general-content {
			margin-bottom: 1rem;
		}
	}
	footer.footer .footer-bt .container { display: block; }
	.carousel .carousel-caption {
		p {
            height: 28px;
            max-height: 28px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
		}
	}
	.carousel-control-prev,
	.carousel-control-next{ bottom: 58px; }
	.carousel-indicators { display: none; }
	.announcement-list {
		.normal-item h5 { width: 65%; }
	}
	.sidenav {
		padding-bottom: 3rem;
		.sticky {
			display: block;
		}
	}
	.file-list {
		h6 { width: 65%; }
		.file-dl { width: 35%; }
	}
	.club-classification ul img { width: 150px; }
}

@media (max-width: 767px) {
    .announcement-list {
		.photo-item {
			.photo-wrap { display: none; }
			h5 { margin-bottom: 0.5rem; }
		}
		.photo-content {
			margin-left: 0;
			.info { margin-bottom: 0.5rem; }
		}
		.normal-item {
			position: relative;
			display: block;
			.tags { margin-bottom: 0.5rem; }
			h5 {
				margin-bottom: 0;
				width: 100%;
				padding-right: 120px;
				a {
					line-height: 1.5;
                    overflow: visible;
                    text-overflow: inherit;
                    white-space: normal;
				}
			}
			.date {
				position: absolute;
				right: 0;
				top: 46px;
			}
		}
	}
	.calendar-container {
		.content-wrap { display: block; }
		.cal-wrap, .activity-list {
			padding-left: 0;
			padding-right: 0;
			width: 100%;
		}
		.cal-wrap { margin-bottom: 1rem; }
		.event-item:last-child { margin-bottom: 0; }
	}
	.service-container {
		.col-md-4 { margin-bottom: 1rem; }
	}
	.media-container {
		margin-bottom: 50px;
		.video-wrapper { margin-bottom: 2rem; }
	}
	.footer-inner { padding-top: 2.5rem; }
	.breadcrumb { margin-bottom: 1rem; }
	.sidenav {
		margin-bottom: 1.5rem;
		padding-bottom: 0;
		.sticky {
			display: block;
			border-right: none;
		}
	}
	.post-title { margin-bottom: 1rem; }
	.post-meta {
		margin-bottom: 1rem;
		display: block;
		.date-author, .deadline { margin-bottom: 0.5rem; }
	}
	.post-share { text-align: left; }
	.questionnaire-wrap { padding: 1.5rem 1.5rem 1rem; }
	.post-single {
		.photo-gallery {
			.img-group {
				img { margin-bottom: 0.5rem; }
			}
		}
	}
	.fc-toolbar.fc-header-toolbar { margin-bottom: 1rem; }
	.fc-toolbar {
		h2 { font-size: 1.25rem; }
	}
	.fc-toolbar {
		padding-top: 30px;
		.fc-left {
            position: relative;
			width: 100%;
            h2 {
				margin-left: 0;
                position: absolute;
                left: 0;
                top: -30px;
            }
        }
	}
	.search-part { top: 30px; }
	
	.search-club-wrap .form-inline {
		width: auto;
	}
	.club-classification ul {
		li { margin-bottom: 15px; }
		img { width: 115px; }
	}
	.event-item {
		display: block;
		li {
			margin-bottom: 15px;
			width: 100%;
		}
	}
	.btn-download { margin-top: 20px; }
	
	.nav-club-classification .club-item {
		padding: 15px;
		height: 48px;
	}
	.club-list {
		.number { width: 20%; }
		.classification { width: 30%; }
		.name { width: 50%; }
		.link { display: none; }
	}
	.club-introduction {
		display: block;
		.brief {
			border-right: none;
			border-bottom: 1px solid #e7ecef;
			padding-right: 0;
			width: 100%;
		}
		.contact {
			border-left: none;
			border-top: 1px solid #e7ecef;
			margin: 2px 0 0;
			width: 100%;
			.item {
				padding-left: 0;
			}
		}
	}
}

@media (max-width: 574px) {
	.club-classification ul {
		li {
			margin-bottom: 20px;
			width: 47%;
		}
		img { width: 100%; }
	}
}

@media (max-width: 480px) {
	.file-dl a {
		font-size: 13px;
	}
	.file-list {
		h6 { width: 55%; }
		.file-dl { width: 45%; }
	}
	.post-title {
		font-size: 1.35rem;
	}
	.post-single {
		.photo-gallery {
			.img-group {
				img {
					width: 49%;
					&:nth-child(3n) { margin-right: 2%; }
					&:nth-child(even) { margin-right: 0; }
				}
			}
			&.upright {
				.img-group img {
					margin-right: 2%;
					width: 32%;
					&:nth-child(3n) { margin-right: 0; }
					&:nth-child(4n) { margin-right: 2%; }
				}
			}
		}
	}
	.post-single .album-gallery .album-item {
		width: 49%;
        &:nth-child(3n) { margin-right: 2%; }
        &:nth-child(even) { margin-right: 0; }
	}
	.post-single .album-gallery.upright .album-item {
        margin-right: 2%;
        width: 32%;
        &:nth-child(3n) { margin-right: 0; }
        &:nth-child(4n) { margin-right: 2%; }
	}
}

@media (max-width: 479px) {
	.header-bar { text-align: left; }
	.header-wrap {
		.sub {
			font-size: 1.15rem;
			.en { font-size: 0.85rem; }
		}
	}
	.header-wrap .logo img { height: 64px; }
	.carousel { display: none; }
	.service-container {
		.service-item {
            width: 48%;
            font-size: 1rem;
        }
		.item-logo { max-width: 100px; }
		.cais .item-logo { max-width: 146px; }
	}
	.file-dl a {
		margin-bottom: 0.2rem;
	}
	.main-topbar { margin-bottom: 1rem; }
	.category-bar {
		margin-bottom: 1rem;
		li {
            margin-bottom: 0.5rem;
			margin-right: 0.05rem;
            a { padding: 0.15rem 0.5rem; }
        }
	}
	.pagination {
		position: relative;
		.item-amount {
			position: absolute;
			right: 0;
			bottom: -30px;
			span {
				border-right: none;
                margin-left: 0;
                padding: 0.5rem 0 0.5rem 0;
			}
		}
	}
	.fc-toolbar {
		.fc-left {
			.fc-button-group {
				margin-bottom: 0.25rem;
			}
			h2 + .fc-button-group {
				float: none;
				display: block;
				margin-left: 0;
				margin-bottom: 0;
				clear: left;
			}
		}
	}
	.search-part { top: 64px; }
	
	.search-club-wrap {
		padding: 20px;
		display: block;
		.form-inline {
			margin-bottom: 10px;
			width: 100%;
		}
		.view-all { text-align: right; }
	}
	.club-introduction .external-link a { display: block; }
}




































