<!-- template: 首頁 -->

<div class="container-lg">
    <div class="index-content">
        
        <div class="alert-wrap">
            <div class="alert alert-light alert-dismissible fade show" role="alert">
                <i class="fas fa-info"></i>
                <span>親子館預約報名分為入館遊戲報名及活動報名，如果想來館舍遊戲區玩，別忘了兩個都要報名唷!!</span>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="關閉通知"></button>
            </div>
            <div class="alert alert-light alert-dismissible fade show" role="alert">
                <i class="fas fa-info"></i>
                <span>想上課又無法到場的家長設計了一連串精彩的視訊課程</span>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="關閉通知"></button>
            </div>
        </div>
        
        <div class="main-nav">
            <a href="#C" title="中央內容區塊" id="AC" accesskey="C" name="C">:::</a>
            <ul class="nav-menu menu-item">
                <li>
                    <a href="#" title="登記報名">
                        <img src="../assets/signup.png" alt="icon signup">
                        <span>登記報名</span>
                    </a>
                </li>
                <li>
                    <a href="#" title="報名登記進度查詢">
                        <img src="../assets/progress.png" alt="icon progress">
                        <span>報名登記進度查詢</span>
                    </a>
                </li>
                <li>
                    <a href="#" title="候補名單">
                        <img src="../assets/alternate.png" alt="icon alternate">
                        <span>候補名單</span>
                    </a>
                </li>
            </ul>
        </div>
        
        <section class="news-wrap">
            <div class="wrap-title">
                <h4><span>最新消息</span></h4>
            </div>
            <ul class="news-menu menu-item">
                <li>
                    <span class="date">113-09-20</span>
                    <a href="#" title="{連結名稱}">臺中市育兒指導服務–守護你的育兒路</a>
                </li>
                <li>
                    <span class="date">113-09-20</span>
                    <a href="#" title="{連結名稱}">暑期親子廚房課程報名時間千萬不要錯過</a>
                </li>
                <li>
                    <span class="date">113-09-20</span>
                    <a href="#" title="{連結名稱}">臺中市玩具銀行玩具回收大作戰邀請您一起來參加</a>
                </li>
                <li>
                    <span class="date">113-09-20</span>
                    <a href="#" title="{連結名稱}">臺中市親子館自110年11月16日下午部分開放現場預約入館</a>
                </li>
            </ul>
            <div class="more-area">
                <a href="#" class="btn-more" title="更多消息">更多消息</a>
            </div>
        </section>
    </div>
</div>



<% content_for :js do %>

<% end %>

