<!-- template: 首頁 -->
<div class="pages general-pages">
    
    <header class="header" id="pagetop">
        <div class="container-lg">
            <div class="brands">
                <div class="logo">
                    <h1 class="text-hide">國內大專校院選送學生出國研修或國外專業實習網站</h1>
                    <img class="h1-logo" src="../assets/logo-moe.svg" alt="教育部">
                </div>
                <div class="sub">
                    <span>國內大專校院</span>
                    <span>選送學生出國研修或國外專業實習網站</span>
                </div>
            </div>
        </div>
    </header>
    
    <div class="content">
        <a href="#maincontent" id="gotocenter" title="移到主要內容" class="sr-only sr-only-focusable">跳到主要內容</a>
        <div class="container-lg">
            <div class="index-content">
                <div class="top-menu">
                    <a href="#U" id="AU" name="U" title="右上方功能區塊" accesskey="U">:::</a>
                    <a href="#" title="聯絡我們" class="contact-form"><i class="far fa-paper-plane"></i> 聯絡我們</a>
                </div>
                <ul class="menu-item menu-year" aria-label="主要功能選單" id="maincontent">
                    <li>
                        <a href="../general/news.html.erb" class="item-link" title="112年度">
                            <span>112年度</span>
                        </a>
                    </li>
                    <li>
                        <a href="../general/news.html.erb" class="item-link" title="111年度">
                            <span>111年度</span>
                        </a>
                    </li>
                    <li>
                        <a href="../general/news.html.erb" class="item-link" title="110年度">
                            <span>110年度</span>
                        </a>
                    </li>
                    <li>
                        <a href="../general/news.html.erb" class="item-link" title="109年度">
                            <span>109年度</span>
                        </a>
                    </li>
                    <li>
                        <a href="../general/news.html.erb" class="item-link" title="108年度">
                            <span>108年度</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="airplane"><img class="airplane-img" src="../assets/airplane.png" alt="airplane"></div>
<div class="landmark"><img class="landmark-img" src="../assets/landmark.png" alt="landmark"></div>
<div class="cloud-wrapper">
    <div class="cloud large cloud-1">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
    <div class="cloud normal cloud-2">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
    <div class="cloud small cloud-3">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
    <div class="cloud tiny cloud-4">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
    <div class="cloud large cloud-5">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
    <div class="cloud normal cloud-6">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
    <div class="cloud small cloud-7">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
    <div class="cloud tiny cloud-8">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
    <div class="cloud small cloud-9">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
    <div class="cloud normal cloud-10">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
    <div class="cloud tiny cloud-11">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
    <div class="cloud small cloud-12">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>

<footer class="footer">
    <div class="footer-inner">
        <div class="social-block">
            <a class="social-media" target="_blank" title="Facebook (另開新視窗)" href="#">
                <img src="../assets/facebook_logo_icon.svg" alt="Facebook">
            </a>
            <a class="social-media" target="_blank" title="Instagram (另開新視窗)" href="#">
                <img src="../assets/instagram_logo_icon.svg" alt="Instagram">
            </a>
        </div>
        <div class="ft-block central-content">
            <span class="h5">臺科大人力資源辦公室</span>
            <ul class="menu-item contact">
                <li title="電話">
                    <i class="fas fa-phone-alt"></i>
                    (02)2730-1290
                </li>
                <li title="傳真">
                    <i class="fas fa-fax"></i>
                    (02)2730-1291
                </li>
                <li title="E-Mail">
                    <i class="fas fa-envelope"></i>
                    <a href="mailto:tosf@mail.ntust.edu.tw">tosf@mail.ntust.edu.tw</a>
                </li>
                <li title="地址">
                    <i class="fas fa-map-marker-alt"></i>
                    106990 臺灣科大郵局第 116 號信箱
                </li>
            </ul>
            <span class="view">瀏覽次數：303,646</span>
        </div>
    </div>
</footer>

<% content_for :js do %>

<% end %>

