<!-- ietw: 明信片交流活動專區 - 展示牆 -->

<div class="content-wrapper">
    <div class="container-xl">
        
        <div class="page-row">
            <aside class="sidenav">
                <a accesskey="L" href="#accesskey_left_nav" tabindex="0" title="左側目錄" id="accesskey_left_nav" class="ackey d-block">:::</a>
                
                <ul class="nav-pills menu-item">
                    <li><a href="#" class="nav-link active" title="{連結名稱}">明信片展示牆</a></li>
                    <li><a href="#" class="nav-link" title="{連結名稱}">活動介紹</a></li>
                    <li><a href="#" class="nav-link" title="{連結名稱}">製作明信片</a></li>
                </ul>
                
            </aside>
            <main class="main">
                <a accesskey="C" href="#accesskey_content" tabindex="0" title="主要內容" id="accesskey_content" class="ackey">:::</a>
                
                <svg class="d-none" xmlns="http://www.w3.org/2000/svg">
                    <symbol id="enlarge" viewBox="0 0 16 16">
                        <path
                            d="M1.5 1a.5.5 0 0 0-.5.5v4a.5.5 0 0 1-1 0v-4A1.5 1.5 0 0 1 1.5 0h4a.5.5 0 0 1 0 1h-4zM10 .5a.5.5 0 0 1 .5-.5h4A1.5 1.5 0 0 1 16 1.5v4a.5.5 0 0 1-1 0v-4a.5.5 0 0 0-.5-.5h-4a.5.5 0 0 1-.5-.5zM.5 10a.5.5 0 0 1 .5.5v4a.5.5 0 0 0 .5.5h4a.5.5 0 0 1 0 1h-4A1.5 1.5 0 0 1 0 14.5v-4a.5.5 0 0 1 .5-.5zm15 0a.5.5 0 0 1 .5.5v4a1.5 1.5 0 0 1-1.5 1.5h-4a.5.5 0 0 1 0-1h4a.5.5 0 0 0 .5-.5v-4a.5.5 0 0 1 .5-.5z"
                        />
                    </symbol>
                    <symbol id="exit" viewBox="0 0 16 16">
                        <path
                            d="M5.5 0a.5.5 0 0 1 .5.5v4A1.5 1.5 0 0 1 4.5 6h-4a.5.5 0 0 1 0-1h4a.5.5 0 0 0 .5-.5v-4a.5.5 0 0 1 .5-.5zm5 0a.5.5 0 0 1 .5.5v4a.5.5 0 0 0 .5.5h4a.5.5 0 0 1 0 1h-4A1.5 1.5 0 0 1 10 4.5v-4a.5.5 0 0 1 .5-.5zM0 10.5a.5.5 0 0 1 .5-.5h4A1.5 1.5 0 0 1 6 11.5v4a.5.5 0 0 1-1 0v-4a.5.5 0 0 0-.5-.5h-4a.5.5 0 0 1-.5-.5zm10 1a1.5 1.5 0 0 1 1.5-1.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 0-.5.5v4a.5.5 0 0 1-1 0v-4z"
                        />
                    </symbol>
                </svg>

                <section class="photo-gallery">
                    <div class="container">
                        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4 gallery-grid">
                            <div class="col">
                                <a class="gallery-item" href="https://picsum.photos/id/251/975/548.webp" title="{連結名稱}">
                                    <img src="https://picsum.photos/id/251/975/548.webp" class="img-fluid" class="img-fluid" alt="2024-11-15" />
                                </a>
                            </div>
                            <div class="col">
                                <a class="gallery-item" href="https://picsum.photos/id/678/975/548.webp" title="{連結名稱}">
                                    <img src="https://picsum.photos/id/678/975/548.webp" class="img-fluid" alt="2024-11-15" />
                                </a>
                            </div>
                            <div class="col">
                                <a class="gallery-item" href="https://picsum.photos/id/74/975/548.webp" title="{連結名稱}">
                                    <img src="https://picsum.photos/id/74/975/548.webp" class="img-fluid" alt="2024-11-15" />
                                </a>
                            </div>
                            <div class="col">
                                <a class="gallery-item" href="https://picsum.photos/id/92/975/548.webp" title="{連結名稱}">
                                    <img src="https://picsum.photos/id/92/975/548.webp" class="img-fluid" alt="2024-11-15" />
                                </a>
                            </div>
                            <div class="col">
                                <a class="gallery-item" href="https://picsum.photos/id/62/975/548.webp" title="{連結名稱}">
                                    <img src="https://picsum.photos/id/62/975/548.webp" class="img-fluid" alt="2024-11-15" />
                                </a>
                            </div>
                            <div class="col">
                                <a class="gallery-item" href="https://picsum.photos/id/575/975/548.webp" title="{連結名稱}">
                                    <img src="https://picsum.photos/id/575/975/548.webp" class="img-fluid" alt="2024-11-15" />
                                </a>
                            </div>
                            <div class="col">
                                <a class="gallery-item" href="https://picsum.photos/id/110/975/548.webp" title="{連結名稱}">
                                    <img src="https://picsum.photos/id/110/975/548.webp" class="img-fluid" alt="2024-11-15" />
                                </a>
                            </div>
                            <div class="col">
                                <a class="gallery-item" href="https://picsum.photos/id/177/975/548.webp" title="{連結名稱}">
                                    <img src="https://picsum.photos/id/177/975/548.webp" class="img-fluid" alt="2024-11-15" />
                                </a>
                            </div>
                            <div class="col">
                                <a class="gallery-item" href="https://picsum.photos/id/197/975/548.webp" title="{連結名稱}">
                                    <img src="https://picsum.photos/id/197/975/548.webp" class="img-fluid" alt="2024-11-15" />
                                </a>
                            </div>
                        </div>
                    </div>
                </section>

                <div class="modal fade lightbox-modal" id="lightbox-modal" tabindex="-1">
                    <div class="modal-dialog modal-dialog-centered modal-fullscreen">
                        <div class="modal-content">
                            <button type="button" class="btn-fullscreen-enlarge" aria-label="Enlarge fullscreen">
                                <svg class="bi"><use href="#enlarge"></use></svg>
                            </button>
                            <button type="button" class="btn-fullscreen-exit d-none" aria-label="Exit fullscreen">
                                <svg class="bi"><use href="#exit"></use></svg>
                            </button>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            <div class="modal-body">
                                <div class="lightbox-content">
                                    <!-- JS content here -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
		</div>
	</div>
</div>



<% content_for :js do %>

<!-- 另外一支 bs5-lightbox -->
<script src="../javascripts/bs5-lightbox2.js"></script>

<% end %>




