<!-- admin-page: Advanced search Version 2 -->
<%= render :partial => "/partials/admin_breadcrumb" %>
<main class="main">
    <div class="page-header">
        <h2>Advanced search Version 2</h2>
		<p><a href="datatables.html">Datatables Version 1</a></p>
    </div>
    <div class="row">
        <div class="col-12">
			<div class="col-block mb-4">
				<div class="block-header has-border">
					Version 2-1
				</div>
				<div class="block-content expansion">
                    <div class="dt-toolbar">
                        <div class="dt-toolbar-l">
                            <div class="btn-group btn-group-sm unshadow">
                                <a class="btn btn-white" data-mdb-toggle="collapse" href="#adSearch" role="button" aria-expanded="false" aria-controls="adSearch">進階搜尋</a>
                            </div>
                        </div>
                    </div>
					
					<%= render :partial => "/partials/advanced_search_v2" %>
					
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">First</th>
                                <th scope="col">Last</th>
                                <th scope="col">Handle</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td scope="row">1</td>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>@mdo</td>
                            </tr>
                            <tr>
                                <td scope="row">2</td>
                                <td>Jacob</td>
                                <td>Thornton</td>
                                <td>@fat</td>
                            </tr>
                            <tr>
                                <td scope="row">3</td>
                                <td>Larry</td>
                                <td>the Bird</td>
                                <td>@twitter</td>
                            </tr>
                        </tbody>
                    </table>
				</div>
			</div>
        </div>
    </div>
	<div class="row">
        <div class="col-12">
			<div class="col-block mb-4">
				<div class="block-header has-border">
					Version 2-2
				</div>
				<div class="block-content expansion">
                    <div class="dt-toolbar">
                        <div class="dt-toolbar-l">
                            <div class="btn-group btn-group-sm unshadow">
                                <a class="btn btn-white" data-mdb-toggle="collapse" href="#adSearch2" role="button" aria-expanded="false" aria-controls="adSearch2">進階搜尋</a>
                            </div>
                        </div>
                    </div>
					
					<%= render :partial => "/partials/advanced_search_v2-2" %>
					
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">First</th>
                                <th scope="col">Last</th>
                                <th scope="col">Handle</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td scope="row">1</td>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>@mdo</td>
                            </tr>
                            <tr>
                                <td scope="row">2</td>
                                <td>Jacob</td>
                                <td>Thornton</td>
                                <td>@fat</td>
                            </tr>
                            <tr>
                                <td scope="row">3</td>
                                <td>Larry</td>
                                <td>the Bird</td>
                                <td>@twitter</td>
                            </tr>
                        </tbody>
                    </table>
				</div>
			</div>
        </div>
    </div>
</main>

<% content_for :js do %>
<script src="../javascripts/slidebars.js"></script>
<script>
    // Material Select Initialization
    $(document).ready(function() {
        $('.mdb-select').materialSelect();
    });
</script>
<% end %>














