<!-- template: 出國: 承辦人 - 預覽問卷 -->

<div class="workspace" canvas="container">
    <div class="pages general-pages">
        
        <header class="header header-outgoing" id="pagetop">
            <div class="container-lg">
                <div class="header-wrap">
                    <div class="header-function">
                        <div class="header-right">
                            <div class="account">
                                <div class="dropdown">
                                    <button class="dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        Hi, Ina Venhuizen
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="#">Change password</a></li>
                                        <li><a class="dropdown-item" href="#">Log out</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="brands">
                        <div class="brands-link">
                            <div class="logo">
                                <h1 class="text-hide">National Taiwan University College of Management</h1>
                                <img class="h1-logo" src="../../assets/logo@2x.svg">
                            </div>
                            <div class="sub">
                                <span>National Taiwan University College of Management</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sys-subject">
                <div class="container-lg">
                    <h4>2025-2026 Exchange Program Online Survey</h4>
                </div>
            </div>
        </header>
        
        <div class="content">
            <div class="container-lg">
                <div class="page-content">
                    <main class="main">
                        
                        <div class="row">
                            <div class="col-3">
                                <div class="form-group">
                                    <label class="form-label">Your Name</label>
                                    <input class="form-control" type="text" value="Ina Venhuizen" disabled readonly>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="form-group">
                                    <label class="form-label">Your eMail</label>
                                    <input class="form-control" type="email" value="a.j.venhuizen@rug.nl" disabled readonly>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <label class="form-label">Your Institution</label>
                                    <input class="form-control" type="text" value="Netherlands - Faculty of Economics and Business, University of Groningen" disabled readonly>
                                </div>
                            </div>
                        </div>
                        
                        <section class="section questionnaire-section">
                            <div class="row">
                                <div class="col-6">
                                    <div class="form-group">
                                        <label class="form-label">
                                            Incoming Exchange Coordinator's Name
                                        </label>
                                        <input class="form-control" type="text" value="bertien hoving" disabled readonly>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <label class="form-label">
                                            Incoming Exchange Coordinator's eMail
                                        </label>
                                        <input class="form-control" type="email" value="exchange.in.feb@rug.nl" disabled readonly>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <label for="exampleInput03" class="form-label">
                                            AY2024-2025 : Exchange slots you would like to offer in AY 2024-2025
                                        </label>
                                        <input class="form-control w-20" type="text" value="3" disabled readonly>
                                        <div class="form-text">1 unit= 1 semester</div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <label class="form-label">
                                            Fall 2024: Exchange slots you would like to offer in Fall 2024
                                        </label>
                                        <input class="form-control w-20" type="text" value="3" disabled readonly>
                                        <div class="form-text">1 unit= 1 semester</div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <label class="form-label">
                                            Spring 2025: Exchange slots you would like to offer in Spring 2025
                                        </label>
                                        <input class="form-control w-20" type="text" value="3" disabled readonly>
                                        <div class="form-text">1 unit= 1 semester</div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        <label class="form-label">
                                            Do you want to specify the slots allocation for undergraduate/ graduate?
                                        </label>
                                        <div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="allocationYes" value="option1" checked disabled />
                                                <label class="form-check-label" for="allocationYes">Yes</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        <label class="form-label">
                                            Please specify the slots allocation
                                        </label>
                                        <div class="d-flex align-items-center">
                                            <span class="pe-2">undergraduate</span>
                                            <span class="pe-2 w-10"><input class="form-control" type="text" value="3" disabled readonly></span>
                                            <span class="pe-2">graduate</span>
                                            <span class="w-10"><input class="form-control" type="text" value="3" disabled readonly></span>
                                        </div>
                                        <div class="form-text">1 unit= 1 semester. e.g. undergraduate 4 and graduate 2</div>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="form-group">
                                        <label for="" class="form-label">Fall 2024: Nomination deadline</label>
                                        <input class="form-control" type="text" value="2024-12-31" disabled readonly>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="form-group">
                                        <label for="" class="form-label">Fall 2024: Application deadline</label>
                                        <input class="form-control" type="text" value="2024-12-31" disabled readonly>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="form-group">
                                        <label for="" class="form-label">Spring 2025: Nomination deadline</label>
                                        <input class="form-control" type="text" value="2024-12-31" disabled readonly>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="form-group">
                                        <label for="" class="form-label">Spring 2025: Application deadline</label>
                                        <input class="form-control" type="text" value="2024-12-31" disabled readonly>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <label for="" class="form-label">
                                            Please provide the hyperlink of your website for incoming exchange students.
                                        </label>
                                        <input class="form-control" type="text" value="https://www.rug.nl/feb/education/exchange/incoming/" disabled readonly>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <label for="" class="form-label">
                                            Please provide the hyperlink of your website for incoming exchange students.
                                        </label>
                                        <input class="form-control" type="text" value="Key Data Sheet partners_1689156158325.pdf" disabled readonly>
                                    </div>
                                </div>
                                <div class="col-8">
                                    <div class="form-group">
                                        <label for="" class="form-label">
                                            Please upload your fact sheet for AY 2024/2025
                                        </label>
                                        <input class="form-control" type="text" value="https://drive.google.com/uc?id=13ttEnA2TtVmIKFnrxQJcGifmDZKzQDzC&export=download" disabled readonly>
                                        <div class="form-text">if not available, the latest one also fine</div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <label class="form-label">
                                            Do you accept students whose nationalities same as your country?
                                        </label>
                                        <div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="inlineOptions01" id="inlineRadio1" value="option1" checked disabled />
                                                <label class="form-check-label" for="inlineRadio1">Yes</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <label class="form-label">
                                            Do you accept students with dual citizenship and holding one of the nationalities of your country?
                                        </label>
                                        <div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="inlineOptions02" id="inlineRadio3" value="option1" checked disabled />
                                                <label class="form-check-label" for="inlineRadio3">Yes</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <label class="form-label">
                                            Would you waive the English language proficiency requirements for those NTU CoM students who have one degree obtained from an English-speaking country?
                                        </label>
                                        <div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="inlineOptions03" id="inlineRadio4" value="option1" checked disabled />
                                                <label class="form-check-label" for="inlineRadio4">Yes</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <label class="form-label">
                                            Do you require a minimum GPA for NTU CoM incoming exchange students?
                                        </label>
                                        <div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="inlineOptions04" id="inlineRadio8" value="option2" checked disabled>
                                                <label class="form-check-label" for="inlineRadio8">No</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        <label class="form-label">
                                            Are there specific grade requirements (e.g. No failing grades on transcript) ?
                                        </label>
                                        <div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="inlineOptions05" id="inlineRadio10" value="option2" checked disabled>
                                                <label class="form-check-label" for="inlineRadio10">No</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <label for="" class="form-label">
                                            Please specify grade requirements
                                        </label>
                                        <input class="form-control" type="text" value="<%= lorem_sentence %>" disabled readonly>
                                    </div>
                                </div>
                                
                                <div class="col-12">
                                    <div class="form-group">
                                        <label class="form-label">
                                            Qualifications for undergraduate students at the time of their 'applications' for your exchange program.
                                        </label>
                                        <div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="radioDefault" id="radioDefault4" checked disabled />
                                                <label class="form-check-label" for="radioDefault4">
                                                    At least 3 semesters completed by the time of applicaiton
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        <label class="form-label">
                                            Do you accept our undergraduate students who postpone their graduation to apply your exchange program?
                                        </label>
                                        <div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="inlineOptions06" id="inlineRadio12" value="option2" checked disabled>
                                                <label class="form-check-label" for="inlineRadio12">No</label>
                                            </div>
                                        </div>
                                        <div class="form-text">For example, they may be in their 5th or 6th year of study at the time of study in your institution.</div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        <label class="form-label">
                                            Do you require a TOEFL(iBT)/IELTS score during the application process?
                                        </label>
                                        <div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="inlineOptions07" id="toeflYes" value="option1" checked disabled>
                                                <label class="form-check-label" for="toeflYes">Yes</label>
                                            </div>
                                        </div>
                                        <div class="form-text">if you require or recommend B2 level of CEFR, please select ‘yes’ </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="toeflyes-wrapper">
                                
                                <div>
                                    <h5 class="fw-bolder">TOEFL(iBT)</h5>
                                    <div class="five-col">
                                        <div class="form-group">
                                            <label for="exampleInput21" class="form-label">
                                                 Total score
                                            </label>
                                            <input class="form-control" type="text" value="100" disabled readonly>
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInput22" class="form-label">
                                                 Reading score
                                            </label>
                                            <input class="form-control" type="text" value="100" disabled readonly>
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInput23" class="form-label">
                                                 Listening score
                                            </label>
                                            <input class="form-control" type="text" value="100" disabled readonly>
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInput24" class="form-label">
                                                 Speaking score
                                            </label>
                                            <input class="form-control" type="text" value="100" disabled readonly>
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInput25" class="form-label">
                                                 Writing score
                                            </label>
                                            <input class="form-control" type="text" value="100" disabled readonly>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="form-label">
                                            Do you accept TOEFL iBT® Home Edition scores?
                                        </label>
                                        <div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="inlineOptions21" id="inlineRadio21" value="option1" checked disabled>
                                                <label class="form-check-label" for="inlineRadio21">Yes</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="mt-5">
                                    <h5 class="fw-bolder">IELTS</h5>
                                    <div class="five-col">
                                        <div class="form-group">
                                            <label for="exampleInput21" class="form-label">
                                                 Overall band score
                                            </label>
                                            <input class="form-control" type="text" value="100" disabled readonly>
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInput22" class="form-label">
                                                 Reading score
                                            </label>
                                            <input class="form-control" type="text" value="100" disabled readonly>
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInput23" class="form-label">
                                                 Listening score
                                            </label>
                                            <input class="form-control" type="text" value="100" disabled readonly>
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInput24" class="form-label">
                                                 Speaking score
                                            </label>
                                            <input class="form-control" type="text" value="100" disabled readonly>
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInput25" class="form-label">
                                                 Writing score
                                            </label>
                                            <input class="form-control" type="text" value="100" disabled readonly>
                                        </div>
                                    </div>
                                    
                                    <div class="row">
                                        <div class="col-6">
                                            <div class="form-group">
                                                <label class="form-label">
                                                    Do you accept students whose TOEFL/IELTS scores are expired before your exchange application?
                                                </label>
                                                <div>
                                                    <div class="form-check form-check-inline">
                                                        <input class="form-check-input" type="radio" name="inlineOptions23" id="inlineRadio23" value="option1" checked disabled>
                                                        <label class="form-check-label" for="inlineRadio23">Yes</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="form-group">
                                                <label class="form-label">
                                                    Do you accept students whose TOEFL/IELTS scores are expired before they start the exchange semester at your institution?
                                                </label>
                                                <div>
                                                    <div class="form-check form-check-inline">
                                                        <input class="form-check-input" type="radio" name="inlineOptions25" id="inlineRadio26" value="option2" checked disabled>
                                                        <label class="form-check-label" for="inlineRadio26">No</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="form-group">
                                                <label for="toelf1Fall" class="form-label">Please let us know the latest English test (TOEFL(iBT) or IELTS) you can accept for 2024 Fall exchange.</label>
                                                <input class="form-control" type="text" value="2024-12-31" disabled readonly>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="form-group">
                                                <label for="toelf1Spring" class="form-label">Please let us know the latest English test (TOEFL(iBT) or IELTS) you can accept for 2025 Spring exchange.</label>
                                                <input class="form-control" type="text" value="2024-12-31" disabled readonly>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="form-group">
                                                <label for="exampleInput28" class="form-label">
                                                    Any Other requirements?
                                                </label>
                                                <input class="form-control" type="text" value="<%= lorem_sentence %>" disabled readonly>
                                            </div>
                                        </div>
                                    </div>


                                </div>
                                
                            </div>
                            
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group">
                                        <label class="form-label">
                                            Qualifications for graduate(Master) students at the time of their 'applications' for your exchange program.
                                        </label>
                                        <div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="radioDefault10" id="radioDefault24" checked disabled>
                                                <label class="form-check-label" for="radioDefault24">
                                                    At least 3 semesters completed by the time of applicaiton
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        <label class="form-label">
                                            Do you require incoming graduate exchange students to have a bachelor's degree in a specific area?
                                        </label>
                                        <div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="inlineOptions31" id="inlineRadio31" value="option1" checked disabled>
                                                <label class="form-check-label" for="inlineRadio31">Yes</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        <label for="" class="form-label">
                                            Please specify the bachelor's degree/field of studies required for your incoming graduate exchange students.
                                        </label>
                                        <input class="form-control" type="text" value="<%= lorem_sentence %>" disabled readonly>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        <label class="form-label">
                                            Does the English test score requirements same as the undergraduate?
                                        </label>
                                        <div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="inlineOptions33" id="inlineRadio33" value="option1" checked disabled>
                                                <label class="form-check-label" for="inlineRadio33">Yes, please refer to the previous given information</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        <label class="form-label">
                                            Do you require NTU CoM students to submit a TOEFL(iBT)/IELTS score during the application process?
                                        </label>
                                        <div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="inlineOptions41" id="comToeflYes" value="option1" checked disabled>
                                                <label class="form-check-label" for="comToeflYes">Yes</label>
                                            </div>
                                        </div>
                                        <div class="form-text">if you require or recommend B2 level of CEFR, please select ‘yes’ </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="comtoeflyes-wrapper">
                                <div>
                                    <h5 class="fw-bolder">TOEFL(iBT)</h5>
                                    <div class="five-col">
                                        <div class="form-group">
                                            <label for="exampleInput51" class="form-label">
                                                 Total score
                                            </label>
                                            <input class="form-control" type="text" value="100" disabled readonly>
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInput52" class="form-label">
                                                 Reading score
                                            </label>
                                            <input class="form-control" type="text" value="100" disabled readonly>
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInput53" class="form-label">
                                                 Listening score
                                            </label>
                                            <input class="form-control" type="text" value="100" disabled readonly>
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInput54" class="form-label">
                                                 Speaking score
                                            </label>
                                            <input class="form-control" type="text" value="100" disabled readonly>
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInput55" class="form-label">
                                                 Writing score
                                            </label>
                                            <input class="form-control" type="text" value="100" disabled readonly>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="form-label">
                                            Do you accept TOEFL iBT® Home Edition scores?
                                        </label>
                                        <div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="inlineOptions51" id="inlineRadio51" value="option1" checked disabled>
                                                <label class="form-check-label" for="inlineRadio51">Yes</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="mt-5">
                                    <h5 class="fw-bolder">IELTS</h5>
                                    <div class="five-col">
                                        <div class="form-group">
                                            <label for="exampleInput61" class="form-label">
                                                 Overall band score
                                            </label>
                                            <input class="form-control" type="text" value="100" disabled readonly>
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInput62" class="form-label">
                                                 Reading score
                                            </label>
                                            <input class="form-control" type="text" value="100" disabled readonly>
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInput63" class="form-label">
                                                 Listening score
                                            </label>
                                            <input class="form-control" type="text" value="100" disabled readonly>
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInput64" class="form-label">
                                                 Speaking score
                                            </label>
                                            <input class="form-control" type="text" value="100" disabled readonly>
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInput65" class="form-label">
                                                 Writing score
                                            </label>
                                            <input class="form-control" type="text" value="100" disabled readonly>
                                        </div>
                                    </div>
                                    
                                    <div class="row">
                                        <div class="col-6">
                                            <div class="form-group">
                                                <label class="form-label">
                                                    Do you accept students whose TOEFL/IELTS scores are expired before your exchange application?
                                                </label>
                                                <div>
                                                    <div class="form-check form-check-inline">
                                                        <input class="form-check-input" type="radio" name="inlineOptions63" id="inlineRadio63" value="option1" checked disabled>
                                                        <label class="form-check-label" for="inlineRadio63">Yes</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="form-group">
                                                <label class="form-label">
                                                    Do you accept students whose TOEFL/IELTS scores are expired before they start the exchange semester at your institution?
                                                </label>
                                                <div>
                                                    <div class="form-check form-check-inline">
                                                        <input class="form-check-input" type="radio" name="inlineOptions65" id="inlineRadio65" value="option1" checked disabled>
                                                        <label class="form-check-label" for="inlineRadio65">Yes</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="form-group">
                                                <label for="comToelf1Fall" class="form-label">Please let us know the latest English test (TOEFL(iBT) or IELTS) you can accept for 2024 Fall exchange.</label>
                                                <input class="form-control" type="text" value="2024-12-31" disabled readonly>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="form-group">
                                                <label for="comToelf1Spring" class="form-label">Please let us know the latest English test (TOEFL(iBT) or IELTS) you can accept for 2025 Spring exchange.</label>
                                                <input class="form-control" type="text" value="2024-12-31" disabled readonly>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>

                        <div class="form-action">
                            <button type="button" class="btn btn-lg btn-secondary">Previous Page</button>
                            <button type="submit" class="btn btn-lg btn-primary">Submit Survey</button>
                        </div>
                    </main>
                </div>
            </div>
        </div>
        <a id="backtop"></a>
    </div>
    <%= render :partial => "/partials/footer" %>
</div>

<% content_for :js do %>

<% end %>
