<!-- ntuoia: DDoS 驗證 -->

<div class="workspace" canvas="container">
    <div class="pages">
         <header class="header">
            <div id="pagetop" class="header-top">
                <div class="container">
                    <ul class="menu-item topnav">
                        <li><a href="#">NTU</a></li>
                        <li>
                            <a href="#">
                                <i class="fa fa-envelope"></i>
                                <span class="text">聯絡我們</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-question-circle"></i>
                                <span class="text">常見問題</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-sitemap"></i>
                                <span class="text">網站地圖</span>
                            </a>
                        </li>
                        <li><a href="#" data-toggle="modal" data-target="#frameSearch"><i class="fa fa-search"></i></a></li>
                        <li class="language"><a href="#">English</a></li>
                    </ul>
                </div>
            </div>
            <div class="container">
                <div class="header-wrap">
                    <div class="brands">
                        <a href="index.html">
                            <div class="logo">
                                <h1 class="text-hide">國立臺灣大學 國際事務處 Office of International Affairs, National Taiwan University</h1>
                                <img class="h1-logo" src="../assets/logo@2x.png" />
                            </div>
                            <div class="sub">
                                <span class="ch">國立臺灣大學 國際事務處</span>
                                <span class="en">Office of International Affairs, National Taiwan University</span>
                            </div>
                        </a>
                    </div>
                    <div class="header-right">
                        <ul class="menu-item subnav">
                            <li><a href="#">NTU</a></li>
                            <li><a href="#">聯絡我們</a></li>
                            <li><a href="#">常見問題</a></li>
                            <li><a href="#">網站導覽</a></li>
                            <li class="search-btn"><a href="#" data-toggle="modal" data-target="#frameSearch"><i class="fa fa-search"></i></a></li>
                            <li class="language"><a href="#">English</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </header>
        <div class="content">
            <div class="blank-wrapper">
                <div class="container">
				    123
				</div>
            </div>
        </div>
        <a id="backtop"></a>
    </div>
</div>

<% content_for :js do %>

<% end %>
































