<!-- OIA-ES: 姊妹校 - 修改聯絡人資料  -->

<div class="container">
    <div class="row">
		<div class="col">
            <main class="main-block">
                <h4 class="form-title mt-0">姊妹校承辦人聯絡資料</h4>
                <form>
                    <div class="form-row">
                        <div class="form-group col-12 col-md-6">
                            <label for="InputName">姓名</label>
                            <input type="text" class="form-control" id="InputName" aria-describedby="" placeholder="">
                        </div>
                        <div class="form-group col-12 col-md-6">
                            <label for="InputTitle">職稱</label>
                            <input type="text" class="form-control" id="InputTitle" aria-describedby="" placeholder="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="InputOffice">辦公室</label>
                        <input type="text" class="form-control" id="InputOffice" aria-describedby="" placeholder="">
                    </div>
                    <div class="form-group">
                        <label for="">電話</label>
                        <div class="form-row">
                            <div class="col-auto">
                                <input type="text" class="form-control" placeholder="+ Country Code">
                            </div>
                            <div class="col-auto">
                                <input type="text" class="form-control" placeholder="Area Code">
                            </div>
                            <div class="col-auto">
                                <input type="text" class="form-control" placeholder="Number">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="">傳真</label>
                        <div class="form-row">
                            <div class="col-auto">
                                <input type="text" class="form-control" placeholder="+ Country Code">
                            </div>
                            <div class="col-auto">
                                <input type="text" class="form-control" placeholder="Area Code">
                            </div>
                            <div class="col-auto">
                                <input type="text" class="form-control" placeholder="Number">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                    </div>
                    <div class="text-center mt-4">
                        <button type="button" class="btn btn-lg btn-primary">Save</button>
                    </div>
                </form>
            </main>
        </div>
	</div>
</div>