<!-- admin-page: General / 單一課程審查 -->
<%= render :partial => "/partials/admin_breadcrumb" %>

<main class="main">
    <div class="page-header mb-0">
        <h2>審查作業</h2>
    </div>
	
	<div class="cr-wrapper">
	    <div class="cr-side">
			<ul class="menu-item info-group">
			    <li>
                    <span class="label">申請編號</span>
                    <span class="info h5 fw-bold">111A0001</span>
				</li>
			</ul>
			<h5 class="fw-bold">課程資訊</h5>
			<ul class="menu-item info-group">
			    <li>
                    <span class="label">學院系所</span>
                    <span class="info">理學院-統計與數據科學研究所</span>
				</li>
				<li>
                    <span class="label">英文課名</span>
                    <span class="info">Institute of Statistics and Data Science (Chinese version)</span>
				</li>
				<li>
                    <span class="label">主授老師</span>
                    <span class="info">史嘉蕾</span>
				</li>
				
				<!-- 希望欄位並排時於第一個 li 給 class，需注意資料有可能換行時絕對不要使用 -->
				<li class="half">
                    <span class="label">學分數</span>
                    <span class="info">2</span>
				</li>
				<li>
                    <span class="label">新續開</span>
                    <span class="info">新開</span>
				</li>
				<li>
                    <span class="label">近三次課程平均評鑑值</span>
                    <span class="info">80</span>
				</li>
				<li>
                    <span class="label">近三次填答/修課人數</span>
                    <span class="info">
                        <span class="info-item">111-2：<span class="text-danger">9</span>/40</span>
                        <span class="info-item">111-1 : 50/55</span>
                        <span class="info-item">110-2 : 40/35</span>
					</span>
				</li>
				<li class="half">
                    <span class="label">TA 申請人數</span>
                    <span class="info">99999</span>
				</li>
				<li>
                    <span class="label">TA 初核人數</span>
                    <span class="info">999</span>
				</li>
			</ul>
			<h5 class="fw-bold">審查意見</h5>
			<textarea class="form-control" rows="5" disabled>OIA 輸入的備註意見 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse porttitor tortor ut orci pulvinar egestas</textarea>
			<hr>
			<div class="form-group">
			    <textarea class="form-control" rows="5" placeholder="審查意見輸入"></textarea>
			</div>
			<div class="mb-3">
				
				<!-- checked 之後的加註時間與替換文字麻煩工程師協助 -->
                <label class="checky">
                    <input type="checkbox" />
                    <span>完成審查註記</span>
                </label>
			</div>
			<div class="d-flex justify-content-between">
			    <div>
				    <a href="#" class="btn btn-link"><i class="fas fa-long-arrow-alt-left"></i> 回申請資料</a>
				</div>
				<div>
				    <a href="#" class="btn btn-secondary">上一筆</a>
					<a href="#" class="btn btn-secondary">下一筆</a>
				</div>
			</div>
		</div>
		<div class="cr-stage">
		    <div class="stage-toolbar">
				<div>
                    <button type="button" class="btn btn-dark">上一份</button>
                    <div class="d-inline-block">
                        <select class="form-select" aria-label="Default select example">
                            <option selected>Open this select menu</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </div>
                    <button type="button" class="btn btn-dark">下一份</button>
                    <button type="button" class="btn btn-info">打包下載(合併文件)</button>
				</div>
				<div><a href="#" class="btn btn-secondary"><i class="fas fa-history"></i> 歷史資料</a></div>
			</div>
			<div class="stage-view">PDF 檢視文件</div>
		</div>
	</div>
	
</main>

<% content_for :js do %>

<% end %>