<!-- admin-page: 提案時數評估 - 基本資料 -->
<%= render :partial => "/partials/admin_breadcrumb" %>

<main class="main">
    <div class="d-flex">
        <aside>123</aside>
		<div class="flex-1">
		    123
		</div>
    </div>
</main>

<% content_for :js do %>
<script>
    $('.datepicker').datepicker();
</script>
<% end %>