<footer class="footer">
	<div class="container clearfix">
        <div class="float-left">
            <div class="contact">
                <p>No.43, Keelung Rd., Sec.4, Da'an Dist., Taipei City 10607, Taiwan (R.O.C.)</p>
                <p>TEL: 886-2-2733-3141</p>
                <p class="browser-support">Browser support Firefox、Chrome 或 IE11+</p>
            </div>
        </div>
        <address class="float-right">© 2018 NTUST OIA All Rights Reserved.</address>
	</div>
</footer>
