<header class="header">
    <div class="container">
		<div class="header-wrap">
			<div class="brands">
				<!-- 登入前 logo 會連到個人首頁 -->
				<a class="d-flex" href="overview.html">
                    <div class="logo">
                        <h1 class="text-hide">國立交通大學國際事務處 Office of International Affairs, NCTU</h1>
                        <img class="h1-logo" src="../assets/logo_w.svg" />
                    </div>
                    <div class="sub">
                        <span>國際生獎學金申請及管理系統</span>
						<span class="en">International Student Scholarship Application and Management System</span>
                    </div>
				</a>
			</div>
			<div class="account">
				<span class="greetings">Hi, Scarlett Johansson</span>
				<!--span class="greetings">您好, 史嘉蕾喬韓森</span-->
				<a class="logout" href="#">Logout</a>
			</div>
		</div>
    </div>
</header>