<!-- 個人資料 -->
<div class="modal fade" id="basicModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xlg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">個人資料</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body step-container">
				<form>
					<div class="avatar-wrap">
						<div class="file-field">
							<div class="avatar">
								<img src="../assets/default-avatar.svg" class="img-fluid" alt="">
							</div>
							<a href="/" class="btn btn-delete btn-sm btn-amber btn-rounded"><i class="fa fa-times"></i> <span>Delete</span></a>
							<div class="d-flex justify-content-center">
								<div class="btn aqua-gradient btn-sm btn-rounded float-left">
									<span>Upload photo</span>
									<input type="file">
								</div>
							</div>
						</div>
					</div>
					<div class="form-row">
						<div class="form-group col-md-6">
							<label for="" class="disabled">學號</label>
							<input type="text" class="form-control" id="" placeholder="750750" disabled>
						</div>
						<div class="form-group col-md-6">
							<label for="" class="disabled">中文全名</label>
							<input type="text" class="form-control" id="" placeholder="柯米克" disabled>
						</div>
					</div>

					<div class="form-row">
						<div class="form-group col-md-6">
							<label for="" class="disabled">系所</label>
							<input type="text" class="form-control" id="" placeholder="工學院 土木工程系 學士班 ２ 年級" disabled>
						</div>
						<div class="form-group col-md-6">
							<label for="" class="disabled">英文全名</label>
							<input type="text" class="form-control" id="" placeholder="MIK WANUL KHOSIIN" disabled>
						</div>
					</div>

					<div class="form-row">
						<div class="form-group col-md-6">
							<label for="" class="disabled">生日</label>
							<input type="text" class="form-control" id="" placeholder="90 年 10 月 2 日" disabled>
						</div>
						<div class="form-group col-md-6">
							<label for="" class="disabled">性別</label>
							<input type="text" class="form-control" id="" placeholder="男" disabled>
						</div>
					</div>

					<div class="form-row">
						<div class="form-group col-md-6">
							<label for="inputMobile">行動電話</label>
							<input type="text" class="form-control" id="inputMobile" placeholder="">
						</div>
						<div class="form-group col-md-6">
							<label for="inputPhone">電話</label>
							<input type="text" class="form-control" id="inputPhone" placeholder="">
						</div>
					</div>

					<div class="form-row">
						<div class="form-group col-md-6">
							<label for="inputMainemail">主要 Emial</label>
							<input type="eamil" class="form-control" id="inputMainemail" placeholder="">
						</div>
						<div class="form-group col-md-6">
							<label for="inputEmail">次要 Email</label>
							<input type="eamil" class="form-control" id="inputEmail" placeholder="">
						</div>
					</div>

					<div class="form-group">
						<label for="inputAddress">地址</label>
						<input type="text" class="form-control" id="inputAddress" placeholder="">
					</div>

					<div class="form-row">
						<div class="form-group col-md-6">
							<label for="input02">聯絡人</label>
							<input type="text" class="form-control" id="input02" placeholder="">
						</div>
						<div class="form-group col-md-6">
							<label for="input03">聯絡人電話</label>
							<input type="text" class="form-control" id="input03" placeholder="">
						</div>
					</div>

					<div class="form-row">
						<div class="form-group col-md-6">
							<label for="input04">金融帳號</label>
							<input type="text" class="form-control" id="input04" placeholder="">
						</div>
						<div class="form-group col-md-6">
							<label for="input05">護照號碼</label>
							<input type="text" class="form-control" id="input05" placeholder="">
						</div>
					</div>

					<div class="form-row">
						<div class="form-group col-md-6">
							<label for="input06">居留證號</label>
							<input type="text" class="form-control" id="input06" placeholder="">
						</div>
						<div class="form-group col-md-6">
							<label for="input07">居留證到期日</label>
							<input type="text" class="form-control" id="input07" placeholder="">
						</div>
					</div>

					<div class="form-row">
						<div class="form-group col-md-6">
							<label for="input08">入台證號</label>
							<input type="text" class="form-control" id="input08" placeholder="">
						</div>
						<div class="form-group col-md-6">
							<label for="input09">入台證到期日</label>
							<input type="text" class="form-control" id="input09" placeholder="">
						</div>
					</div>
				</form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-sm btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

<!-- 入台證資料 -->
<div class="modal fade" id="basicModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xlg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">入台證資料</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="text-center mx-5 my-5 py-5"><h4>待校方提供入台證要更新的資料內容</h4></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- 學業及操行成績 -->
<div class="modal fade" id="basicModal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xlg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">學業成績平均分數明細</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
				<div class="conduct-wrap grade-wrap">
					<h6>操行成績</h6>
					<h5>
						<small>107-1 為</small>
						<span class="badge badge-info z-depth-1">80</span>
						<small>分</small>
					</h5>
					<h5>
						<small>107-2 為</small>
						<span class="badge badge-info z-depth-1">80</span>
						<small>分</small>
					</h5>
				</div>
				<div class="academic-wrap grade-wrap">
					<h6>學業成績平均分數</h6>
					<h5>
						<small>107-1 平均成績為 1600 / 20 =</small>
						<span class="badge badge-info z-depth-1">80</span>
					</h5>
					<h5>
						<small>107-2 平均成績為 1600 / 20 =</small>
						<span class="badge badge-info z-depth-1">80</span>
					</h5>
				</div>
				<div class="row">
					<div class="col-6">
						<table class="table table-bordered text-center">
							<thead>
								<tr>
									<th scope="col">課程代碼</th>
									<th scope="col">課程名稱</th>
									<th scope="col">學分數</th>
									<th scope="col">成績</th>
									<th scope="col">學分數 * 成績</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<th scope="row">10548</th>
									<td>計算機概論</td>
									<td>4</td>
									<td>85</td>
									<td>340</td>
								</tr>
								<tr>
									<th scope="row">10548</th>
									<td>程式語言</td>
									<td>2</td>
									<td>85</td>
									<td>170</td>
								</tr>
								<tr>
									<th scope="row"></th>
									<td></td>
									<td>...</td>
									<td></td>
									<td></td>
								</tr>
								<% 3.times do %>
								<tr>
									<th scope="row"></th>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
								</tr>
								<% end %>
							</tbody>
							<tfoot>
								<tr>
									<td scope="col"></td>
									<td scope="col">總學分數</td>
									<td scope="col">20</td>
									<td scope="col"></td>
									<td scope="col">1600</td>
								</tr>
							</tfoot>
						</table>
					</div>
					<div class="col-6">
						<table class="table table-bordered text-center">
							<thead>
								<tr>
									<th scope="col">課程代碼</th>
									<th scope="col">課程名稱</th>
									<th scope="col">學分數</th>
									<th scope="col">成績</th>
									<th scope="col">學分數 * 成績</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<th scope="row">10548</th>
									<td>計算機概論</td>
									<td>4</td>
									<td>85</td>
									<td>340</td>
								</tr>
								<tr>
									<th scope="row">10548</th>
									<td>程式語言</td>
									<td>2</td>
									<td>85</td>
									<td>170</td>
								</tr>
								<tr>
									<th scope="row"></th>
									<td></td>
									<td>...</td>
									<td></td>
									<td></td>
								</tr>
								<% 3.times do %>
								<tr>
									<th scope="row"></th>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
								</tr>
								<% end %>
							</tbody>
							<tfoot>
								<tr>
									<td scope="col"></td>
									<td scope="col">總學分數</td>
									<td scope="col">20</td>
									<td scope="col"></td>
									<td scope="col">1600</td>
								</tr>
							</tfoot>
						</table>
					</div>
				</div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- 申請繳交文件 -->
<div class="modal fade" id="basicModal4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xlg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">繳交文件</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
				<div class="document-upload">
					<div class="document-item">
						<div class="document-hd">
							<h6>1. Application form</h6>
							<p>上傳時間 <i class="fa fa-clock-o"></i> 2018/12/12 18:20</p>
						</div>
						<div class="document-ft">
							<a href="#" class="btn btn-primary btn-xs">列印申請表</a>
							<a href="#" class="btn btn-secondary btn-xs">說明</a>
							<a href="#" class="btn btn-info btn-xs">檢視</a>
							<a href="#" class="btn btn-warning btn-xs">修改</a>
						</div>
					</div>
					<div class="document-item">
						<div class="document-hd">
							<h6>2. Transcripts for all semesters</h6>
							<p>上傳時間 <i class="fa fa-clock-o"></i> 2018/12/12 18:20</p>
						</div>
						<div class="document-ft">
							<a href="#" class="btn btn-secondary btn-xs">說明</a>
							<a href="#" class="btn btn-info btn-xs">檢視</a>
							<a href="#" class="btn btn-warning btn-xs">修改</a>
						</div>
					</div>
					<div class="document-item">
						<div class="document-hd">
							<h6>3. Completed NCTU scholarship application form</h6>
							<p>上傳時間 <i class="fa fa-clock-o"></i> 2018/12/12 18:20</p>
						</div>
						<div class="document-ft">
							<a href="#" class="btn btn-secondary btn-xs">說明</a>
							<a href="#" class="btn btn-info btn-xs">檢視</a>
							<a href="#" class="btn btn-warning btn-xs">修改</a>
						</div>
					</div>
					<div class="document-item">
						<div class="document-hd">
							<h6>4. <%= lorem_sentence %></h6>
						</div>
						<div class="document-ft">
							<form class="md-form">
								<div class="file-field">
									<a class="btn-floating btn-sm purple-gradient mt-0 float-left">
										<i class="fa fa-cloud-upload" aria-hidden="true"></i>
										<input type="file">
									</a>
									<div class="file-path-wrapper">
									   <input class="file-path validate" type="text" placeholder="Upload your file">
									</div>
								</div>
							</form>
						</div>
					</div>
					<div class="document-item">
						<div class="document-hd">
							<h6>5. <%= lorem_sentence %></h6>
						</div>
						<div class="document-ft">
							<form class="md-form">
								<div class="file-field">
									<a class="btn-floating btn-sm purple-gradient mt-0 float-left">
										<i class="fa fa-cloud-upload" aria-hidden="true"></i>
										<input type="file">
									</a>
									<div class="file-path-wrapper">
									   <input class="file-path validate" type="text" placeholder="Upload your file">
									</div>
								</div>
							</form>
						</div>
					</div>
					<div class="document-item">
						<div class="document-hd">
							<h6>6. <%= lorem_sentence %></h6>
						</div>
						<div class="document-ft">
							<form class="md-form">
								<div class="file-field">
									<a class="btn-floating btn-sm purple-gradient mt-0 float-left">
										<i class="fa fa-cloud-upload" aria-hidden="true"></i>
										<input type="file">
									</a>
									<div class="file-path-wrapper">
									   <input class="file-path validate" type="text" placeholder="Upload your file">
									</div>
								</div>
							</form>
						</div>
					</div>
					<div class="document-item">
						<div class="document-hd">
							<h6>7. <%= lorem_sentence %></h6>
						</div>
						<div class="document-ft">
							<form class="md-form">
								<div class="file-field">
									<a class="btn-floating btn-sm purple-gradient mt-0 float-left">
										<i class="fa fa-cloud-upload" aria-hidden="true"></i>
										<input type="file">
									</a>
									<div class="file-path-wrapper">
									   <input class="file-path validate" type="text" placeholder="Upload your file">
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- 線上推薦信填寫 -->
<div class="modal fade" id="basicModal5" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xlg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">推薦人填寫進度</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
				<div class="result-wrap">
					<form>
						<div class="row mb-3">
							<div class="col-4">
								<select class="browser-default custom-select">
									<option selected>Select Administrative unit</option>
									<option value="1">One</option>
									<option value="2">Two</option>
									<option value="3">Three</option>
								</select>
							</div>
						</div>
						<div class="row">
							<div class="col">
								<select class="browser-default custom-select">
									<option selected>Select College</option>
									<option value="1">All</option>
									<option value="2">One</option>
									<option value="3">Two</option>
								</select>
							</div>
							<div class="col">
								<select class="browser-default custom-select">
									<option selected>Select Department</option>
									<option value="1">All</option>
									<option value="2">One</option>
									<option value="3">Two</option>
								</select>
							</div>
							<div class="col">
								<select class="browser-default custom-select">
									<option selected>Name</option>
									<option value="1">Bruce Willis</option>
									<option value="2">Sylvester Gardenzio Stallone</option>
									<option value="3">Arnold Alois Schwarzenegger</option>
								</select>
							</div>
						</div>
					</form>
				</div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- 列印 -->
<div class="modal fade" id="basicModal6" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">列印申請表</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <img id="u9861_img" class="img " src="https://d2v8ggac1o0f6z.cloudfront.net/gsc/5BIPXC/28/a9/44/28a9442438a94b8b8e4c0b6060eaebc7/images/套印延遲申請表/u9861.png?token=9feacaa651efc79cabe50e11f601b9d5">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
