<!-- oia-yuntech: 重發認證信  -->

<div class="login">
	<form>
		<p class="h4 text-center py-4">重發認證信</p>
		<div class="md-form">
			<input type="email" id="" class="form-control" placeholder="請輸入您註冊信箱">
		</div>
		<div class="md-form row">
			<div class="col">
				<input type="text" id="CAPTCHA" class="form-control mb-4" placeholder="請輸入驗證碼">
			</div>
			<span class="col input-group-addon verification">
				<img class="captcha" src="http://nfu-map.dev.com.tw/common/captcha.image">
			</span>
		</div>
		<div class="text-center py-4">
			<button class="btn btn-outline-default btn-rounded my-4 waves-effect z-depth-0" type="submit">重發認證信</button>
		</div>
	</form>
</div>