<!-- oia-yuntech: 驗證成功  -->

<div class="container">
	<h4 class="font-700">信箱認證成功!</h4>
	<p class="mb-5"><a class="btn btn-outline-default btn-rounded my-4 waves-effect z-depth-0" href="#">開始申請</a></p>
</div>