<!-- oia-yuntech: 首頁 (未登入) -->

<div class="container">
	<div class="row">
	    <div class="col-8">
			<div class="announcement-wrap">
				<h4 class="block-title">公告</h4>
				<h4>愈覺得金錢的寶貴奏起悲壯的進行曲</h4>
				<p><%= lorem_sentences(3) %></p>
                <p><%= lorem_paragraphs(2) %></p>
                <p><%= lorem_sentences(5) %></p>
			</div>
		</div>
		<div class="col-4">
			<h4 class="block-title">申請報名</h4>
		    <div class="home-register">
				<p><%= lorem_sentences(3) %></p>
				<a href="register.html" class="btn btn-outline-default btn-rounded btn-lg btn-reg waves-effect">註冊帳號<i class="fa fa-arrow-circle-right"></i></a>
			</div>
		</div>
	</div>
</div>

