<!-- oia-yuntech: 登入  -->

<div class="login">
	<form>
		<p class="h4 text-center py-4">登入</p>
		<div class="md-form">
			<input type="email" id="materialLoginFormEmail" class="form-control" placeholder="請輸入信箱">
		</div>
		<div class="md-form">
			<input type="password" id="materialLoginFormPassword" class="form-control" placeholder="請輸入密碼">
		</div>
		<div class="text-center py-4">
			<button class="btn btn-outline-default btn-rounded my-4 waves-effect z-depth-0" type="submit">登入</button>
			
		</div>
		<p class="text-center"><a href="password-forget.html" class="text-muted">忘記密碼？</a></p>
		<div class="register">
            還沒有帳號？
            <a href="register.html">註冊</a>
        </div>
	</form>
</div>