<!-- oia-yuntech: 變更密碼  -->

<div class="login">
	<form>
		<p class="h4 text-center py-4">變更密碼</p>
		<p class="form-text text-muted">Please set a password to provide subsequent login application system. Please enter 4 - 8 digits of a password consisting of numbers or English letters.</p>
		<div class="md-form">
			<span class="font-weight-bold">test@gmail.com</span>
		</div>
		<div class="md-form">
			<input type="password" id="" class="form-control" placeholder="請輸入 6 - 12 個由數字或英文字母組成的密碼">
		</div>
		<div class="md-form">
			<input type="password" id="" class="form-control" placeholder="請再次輸入密碼">
		</div>
		<div class="text-center py-4">
			<button class="btn btn-outline-default btn-rounded my-4 waves-effect z-depth-0" type="submit">確定</button>
			<button class="btn btn-link" type="button">取消</button>
		</div>
	</form>
</div>