<!-- oia-yuntech: 註冊完成  -->

<div class="container">
	<h4 class="font-700">註冊成功!</h4>
	<p class="mb-5">請至您填寫的 Email 信箱中收取信件，點選連結啟用帳號。</p>
	<p class="text-muted">沒收到認證信？ <a href="#">重新發送</a></p>
</div>