<!-- oia-yuntech: 註冊  -->

<div class="login">
	<form>
		<p class="h4 text-center py-4">註冊</p>
		<p>建議使用 Gmail 信箱註冊，避免使用免費的網路信箱如 yahoo, pchome, hotmail 等，擋信問題可能讓您收不到註冊成功通知信，請先至信箱中的廣告匣或垃圾匣中查看。若還存在註冊相關問題，請來電諮詢：(02)2368-0826</p>
		<div class="md-form">
			<input type="email" id="" class="form-control" placeholder="請輸入 Email">
		</div>
		<div class="md-form">
			<input type="password" id="" class="form-control" placeholder="請輸入密碼">
		</div>
		<div class="md-form">
			<input type="password" id="" class="form-control" placeholder="請再次輸入密碼">
		</div>
		<div class="md-form row">
			<div class="col">
				<input type="text" id="CAPTCHA" class="form-control mb-4" placeholder="請輸入驗證碼">
			</div>
			<span class="col input-group-addon verification">
				<img class="captcha" src="http://nfu-map.dev.com.tw/common/captcha.image">
			</span>
		</div>
		<div class="text-center">
			<button class="btn btn-outline-default btn-rounded my-4 waves-effect z-depth-0" type="submit">註冊</button>
		</div>
		<div class="register">
            <a href="#" class="text-muted">重發認證信</a>
        </div>
	</form>
</div>