<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>VS Online Application System Prototype</title>
</head>
<body>
    <h1>VS Online Application System Prototype</h1>
    <%= yield %>
</body>
</html>
