<!-- NCTU-Scholarship: 推薦進度查詢  -->

<div class="container">
	<hgroup class="mb-4 step-hd">
		<h5>108 交大國際生新生獎學金</h5>
	</hgroup>
	<div class="result-wrap">
		<h5>推薦人填寫進度</h5>
		<p>完成設定申請系所的推薦人後，本系統將自動寄送電子郵件給您所指定之推薦人，通知推薦人進行線上推薦程序，推薦人可選擇下列任一推薦方式：</p>
		<ol>
		    <li>線上填寫推薦信 (建議選項)</li>
			<li>上傳推薦信的掃描檔</li>
			<li>親自郵寄推薦信</li>
			<li>密封後交由申請者郵寄</li>
		</ol>
		<p>通知發送後，您可隨時於申請進度中查看您的線上推薦信完成進度。</p>
		<div class="alert alert-danger alert-dismissible fade show" role="alert">
			<strong>Graduation Diploma / Certificate</strong> 拒絕了您車輛工程所碩士班的推薦，請設定其他推薦人。
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<div class="document-item">
			<div class="document-hd">
				<h5><strong>1. Graduation Diploma</strong> <small class="text-black-50">Department of Civil Engineering Professor</small> <span class="badge badge-danger un-shadows">unread</span></h5>
				<p>通知時間 <i class="fa fa-clock-o"></i> 2018/12/12 18:20</p>
			</div>
			<div class="document-ft">
				<a href="#" class="btn btn-info btn-xs">重寄通知</a>
				<a href="step5.html" class="btn btn-secondary btn-xs">變更推薦人</a>
			</div>
		</div>
		<div class="text-center">
			<a href="overview.html" class="btn btn-default btn-lg mr-5">回首頁</a>
			<a href="step1.html" class="text-black-50">申請首頁</a>
		</div>
	</div>
</div>

