<!-- NTUST-Scholarship: 申請步驟三 -->

<div class="container">
	<hgroup class="mb-4 step-hd">
		<h5>108 交大國際生新生獎學金</h5>
	</hgroup>
	<div class="step-bar five-step">
		<ul>
			<li class="done">
				<span>
					<span class="step"><i class="fa fa-check"></i></span>
					<h4>個人資料更新</h4>
				</span>
			</li>
			<li class="done">
				<span>
					<span class="step"><i class="fa fa-check"></i></span>
					<h4>申請繳交文件</h4>
				</span>
			</li>
			<li class="active">
				<span>
					<span class="step">3</span>
					<h4>填寫指導教授資料</h4>
				</span>
			</li>
		</ul>
	</div>
	<div class="step-container">
		<h5>填寫指導教授資料</h5>
		<p class="mb-5">說明文案 <%= lorem_sentences(3) %></p>
		<form>
			<div class="row mb-3">
				<div class="col-4">
					<select class="browser-default custom-select">
						<option selected>Select Administrative unit</option>
						<option value="1">One</option>
						<option value="2">Two</option>
						<option value="3">Three</option>
					</select>
				</div>
			</div>
			<div class="row mb-5">
				<div class="col">
					<select class="browser-default custom-select">
						<option selected>Select College</option>
						<option value="1">All</option>
						<option value="2">One</option>
						<option value="3">Two</option>
					</select>
				</div>
				<div class="col">
					<select class="browser-default custom-select">
						<option selected>Select Department</option>
						<option value="1">All</option>
						<option value="2">One</option>
						<option value="3">Two</option>
					</select>
				</div>
				<div class="col">
					<select class="browser-default custom-select">
						<option selected>Name</option>
						<option value="1">Bruce Willis</option>
						<option value="2">Sylvester Gardenzio Stallone</option>
						<option value="3">Arnold Alois Schwarzenegger</option>
					</select>
				</div>
			</div>
		</form>
		<hr />
		<div class="text-center">
			<a href="review.html" class="btn btn-default btn-lg mr-5">submit</a>
			<a href="overview.html" class="text-black-50">Cancel</a>
		</div>
	</div>
</div>

