<!-- NTUST-Scholarship: 申請步驟二  -->

<div class="container">
	<hgroup class="mb-4 step-hd">
		<h5>108 交大國際生新生獎學金</h5>
	</hgroup>
	<div class="step-bar five-step">
		<ul>
			<li class="done">
				<span>
					<span class="step"><i class="fa fa-check"></i></span>
					<h4>申請繳交文件</h4>
				</span>
			</li>
			<li class="active">
				<span>
					<span class="step">2</span>
					<h4>申請繳交文件</h4>
				</span>
			</li>
			<li>
				<span>
					<span class="step">3</span>
					<h4>填寫指導教授資料</h4>
				</span>
			</li>
		</ul>
	</div>
	<div class="step-container">
		<h5>申請繳交文件</h5>
		<p class="mb-5">請上傳下列各項文件，限制 PDF 格式，個別檔案請勿大於 5 MB，* 為必繳文件。</p>
		<div class="document-upload">
		    <div class="document-item">
			    <div class="document-hd">
				    <h6>1. Application form</h6>
					<p>上傳時間 <i class="fa fa-clock-o"></i> 2018/12/12 18:20</p>
				</div>
				<div class="document-ft">
					<a href="#" class="btn btn-primary btn-xs">列印申請表</a>
					<a href="#" class="btn btn-secondary btn-xs">說明</a>
					<a href="#" class="btn btn-info btn-xs">檢視</a>
					<a href="#" class="btn btn-warning btn-xs">修改</a>
				</div>
			</div>
			<div class="document-item">
			    <div class="document-hd">
				    <h6>2. Transcripts for all semesters</h6>
					<p>上傳時間 <i class="fa fa-clock-o"></i> 2018/12/12 18:20</p>
				</div>
				<div class="document-ft">
					<a href="#" class="btn btn-secondary btn-xs">說明</a>
					<a href="#" class="btn btn-info btn-xs">檢視</a>
					<a href="#" class="btn btn-warning btn-xs">修改</a>
				</div>
			</div>
			<div class="document-item">
			    <div class="document-hd">
				    <h6>3. Completed NCTU scholarship application form</h6>
					<p>上傳時間 <i class="fa fa-clock-o"></i> 2018/12/12 18:20</p>
				</div>
				<div class="document-ft">
					<a href="#" class="btn btn-secondary btn-xs">說明</a>
					<a href="#" class="btn btn-info btn-xs">檢視</a>
					<a href="#" class="btn btn-warning btn-xs">修改</a>
				</div>
			</div>
			<div class="document-item">
			    <div class="document-hd">
				    <h6>4. <%= lorem_sentence %></h6>
				</div>
				<div class="document-ft">
					<form class="md-form">
						<div class="file-field">
							<a class="btn-floating btn-sm purple-gradient mt-0 float-left">
								<i class="fa fa-cloud-upload" aria-hidden="true"></i>
								<input type="file">
							</a>
							<div class="file-path-wrapper">
							   <input class="file-path validate" type="text" placeholder="Upload your file">
							</div>
						</div>
					</form>
				</div>
			</div>
			<div class="document-item">
			    <div class="document-hd">
				    <h6>5. <%= lorem_sentence %></h6>
				</div>
				<div class="document-ft">
					<form class="md-form">
						<div class="file-field">
							<a class="btn-floating btn-sm purple-gradient mt-0 float-left">
								<i class="fa fa-cloud-upload" aria-hidden="true"></i>
								<input type="file">
							</a>
							<div class="file-path-wrapper">
							   <input class="file-path validate" type="text" placeholder="Upload your file">
							</div>
						</div>
					</form>
				</div>
			</div>
			<div class="document-item">
			    <div class="document-hd">
				    <h6>6. <%= lorem_sentence %></h6>
				</div>
				<div class="document-ft">
					<form class="md-form">
						<div class="file-field">
							<a class="btn-floating btn-sm purple-gradient mt-0 float-left">
								<i class="fa fa-cloud-upload" aria-hidden="true"></i>
								<input type="file">
							</a>
							<div class="file-path-wrapper">
							   <input class="file-path validate" type="text" placeholder="Upload your file">
							</div>
						</div>
					</form>
				</div>
			</div>
			<div class="document-item">
			    <div class="document-hd">
				    <h6>7. <%= lorem_sentence %></h6>
				</div>
				<div class="document-ft">
					<form class="md-form">
						<div class="file-field">
							<a class="btn-floating btn-sm purple-gradient mt-0 float-left">
								<i class="fa fa-cloud-upload" aria-hidden="true"></i>
								<input type="file">
							</a>
							<div class="file-path-wrapper">
							   <input class="file-path validate" type="text" placeholder="Upload your file">
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
		<hr />
		<div class="text-center">
			<a href="step3.html" class="btn btn-default btn-lg mr-5">Next Step</a>
			<a href="overview.html" class="text-black-50">Cancel</a>
		</div>
	</div>
</div>

