<div class="dropdown pull-right" id="t-column-filter-dropdown">

    <button class="btn btn-default dropdown-toggle" type="button" id="t-column-filter" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"> 顯示欄位 <span class="caret"></span> </button>
    <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="t-column-filter">
        <li class="checkbox">
            <label>
                <input class="column-vis" value="${idx}" type="checkbox" ${checked} />
                ${txt}
            </label>
        </li>
    </ul>
</div>
