
/* `Footer
-----------------------------------------------------------------------------*/

footer.footer {
    font-size: .9375rem;
	color: #888;
    position: relative;
    overflow: hidden;
    &:before, &:after {
        content: "";
        background-repeat: no-repeat;
        background-position: center center;
        position: absolute;
        bottom: 0;
        z-index: -1;
        
    }
    &:before {
        background: url(../assets/ft-left.svg);
        width: 709px;
        height: 134px;
        left: 0;
    }
    &:after {
        background: url(../assets/ft-right.svg);
        width: 620px;
        height: 143px;
        right: 0;
    }
	.footer-inner {
		display: flex;
		justify-content: space-between;
		padding: 5rem 0 11rem;
	}
	.block-transition {
		display: flex;
		.ft-block { width: 100%; }
	}
	.menu-item.contact {
		li {
			margin-bottom: .188rem;
            span {
                display: inline-block;
                margin-right: 1rem;
            }
            &:last-child {
                margin-top: 1.5rem;
            }
		}
	}
	.end-content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-grow: 1;
		text-align: end;
	}
    .end-link {
        a {
            display: inline-block;
            margin-left: .5rem;
            &:last-child {
                margin-left: 1.5rem;
                position: relative;
                &:after {
                    content: "";
                    background: #aaa;
                    width: 1px;
                    height: 1rem;
                    position: absolute;
                    top: 2px;
                    left: -13px;
                }
            }
        }
    }
	a {
		color: #000;
		&:hover {
			color: $link;
		}
        &:focus {
			color: #fff;
		}
	}
    h3 {
        margin-bottom: .75rem;
        font-size: 1.188rem;
        font-weight: bold;
    }
}

.index-workspace {
    footer.footer {
        border-top: none;
    }
}

/* `Responsive
-----------------------------------------------------------------------------*/

@media (max-width: 1199px) {
    footer.footer {
        .footer-inner {
            padding: calc(2.75rem + 2.5vw) 0 calc(3.75rem + 3.5vw);
        }
    }
}

@media (max-width: 767px) {
    footer.footer {
        .footer-inner { display: block; }
        .block-transition {
            display: block;
            margin-bottom: 1.375rem;
            width: 100%;
            .ft-block { width: 100%; }
        }
        .end-content {
            flex-direction: row;
            align-items: center;
            width: 100%;
            text-align: start;
        }
    }
}

@media (max-width: 574px) {
    footer.footer {
        font-size: .9375rem;
        .end-content {
            display: block;
        }
        .end-link {
            margin-bottom: 1rem;
        }
    }
}






