/* `Header
-----------------------------------------------------------------------------*/

header.header { margin-bottom: 3.75rem; }

.header-language {
	background: $main_color;
	height: 30px;
	line-height: 30px;
	text-align: right;
	a {
		display: inline-block;
		padding: 0 15px;
		color: rgba(#fff, .5);
		&:hover { color: rgba(#fff, 1); }
	}
	a.current, a.current:hover {
		background: $secondary_color;
		color: #333;
		cursor: default;
	}
}

.header-wrap {
    background: #fff;
	box-shadow: 0 1px 1px rgba(#000, .05);
	padding-left: 1.25rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 90px;
	.brands {
		a {
            align-items: center;
			color: #fff;
            &:hover { text-decoration: none; }
		}
        h1 { margin: 0; }
	}
	.h1-logo {
		display: inline-block;
		margin-right: 20px;
		margin-top: -9px;
		width: auto;
		height: 64px;
		vertical-align: middle;
	}
    .logo {
        margin-right: 0px;
    }
    .sub {
        line-height: 1.2;
		color: $main_color;
        > span {
            display: block;
            font-size: 1.4rem;
        }
		.en {
			font-size: 0.9rem;
		}
    }
    .account {
		> a {
			color: $main_color;
		}
		&.dropdown {
			background-color: transparent;
			a {
				background-color: transparent;
			}
		}
		&.show .nav-link { color: $secondary_color; }
	}
	.account-action {
		a {
			display: block;
			background-color: #eee;
			padding: 0.6rem 1rem 0.6rem 3rem;
			height: auto;
			line-height: 1.2;
			&:hover { color: $secondary_color; }
		}
		&.has-register {
			a {
				background-color: #eee;
				display: inline-block;
				padding: 0.6rem 1rem;
			}
		}
	}
	.dropdown .dropdown-menu .dropdown-item:hover { background: $main_color; }
}

