<!-- NTU-OSA: 首頁  -->

<div class="container">

	<div id="carousel-ntu" class="carousel slide carousel-fade section-container" data-ride="carousel">
		<ol class="carousel-indicators">
			<li data-target="#carousel-ntu" data-slide-to="0" class="active"></li>
			<li data-target="#carousel-ntu" data-slide-to="1"></li>
			<li data-target="#carousel-ntu" data-slide-to="2"></li>
		</ol>
		<div class="carousel-inner" role="listbox">
			<div class="carousel-item active">
				<div class="view">
					<img class="d-block w-100" src="../assets/fake/01.jpg" alt="First slide" title="First slide">
				</div>
				<div class="carousel-caption">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.</p>
				</div>
			</div>
			<div class="carousel-item">
				<div class="view">
					<img class="d-block w-100" src="https://placekeanu.com/1110/410" alt="Second slide" title="Second slide">
				</div>
				<a class="loop_title_hover" href="#" title="Secondary text">
                    <div class="carousel-caption">
                        <p>PlaceKeanu.com For when you need a little more Keanu in your life (always)</p>
                    </div>
				</a>
			</div>
			<div class="carousel-item">
				<div class="view">
					<img class="d-block w-100" src="../assets/fake/03.jpg" alt="Third slide" title="Third slide">
				</div>
				<div class="carousel-caption">
					<p>Donec in eleifend ante. Nunc rutrum sit amet dolor vitae auctor. Etiam diam ex, egestas eget rhoncus ut, commodo a lacus. Phasellus ante quam, sagittis vitae porttitor et, tempus non mauris. Sed a leo mollis, consequat sem maximus, scelerisque sem. Suspendisse porta sem sapien. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam eu aliquam est. Vestibulum at est nec sem porta vulputate non eu libero. Nunc vulputate, sem at elementum bibendum, enim augue volutpat risus, eu interdum arcu velit cursus orci. Nullam lobortis, magna eu vulputate rhoncus, dolor tortor consequat lorem, vitae accumsan nibh quam quis dui. Nam sed malesuada nunc. </p>
				</div>
			</div>
		</div>
		<a class="carousel-control-prev" href="#carousel-ntu" role="button" data-slide="prev">
			<i class="fa fa-angle-left" aria-hidden="true"></i>
			<span class="sr-only">Previous</span>
		</a>
		<a class="carousel-control-next" href="#carousel-ntu" role="button" data-slide="next">
			<i class="fa fa-angle-right" aria-hidden="true"></i>
			<span class="sr-only">Next</span>
		</a>
	</div>
	
	<section class="announcement-container section-container">
		<div class="row">
			<div class="col-lg-6">
                <div class="section-title">
                    <h3>最新消息</h3>
                </div>
                <ul class="announcement-list menu-item">
                    <li class="announcement-item">
						<span class="date"><i class="fa fa-clock-o"></i>2019-08-27</span>
						<h5><a href="#" title="[碩博班] 107-2 北北基 研究生男生短期住宿結果公告 ">[碩博班] 107-2 北北基 研究生男生短期住宿結果公告 </a></h5>
                    </li>
					<% (1..3).map do |i| %>
					<li class="announcement-item">
						<span class="date"><i class="fa fa-clock-o"></i>2019-08-27</span>
						<h5><a href="#" title="<%= zh_lorem_sentence %>"><%= zh_lorem_sentence %></a></h5>
                    </li>
					<% end %>
					<% (1..2).map do |i| %>
					<li class="announcement-item">
						<span class="date"><i class="fa fa-clock-o"></i>2019-08-27</span>
						<h5><a href="#" title="<%= lorem_sentence %>"><%= lorem_sentence %></a></h5>
                    </li>
					<% end %>
                </ul>
                <div class="section-ft ft-more">
                    <a href="#" class="more" title="更多公告">更多公告 <i class="fa fa-angle-right"></i></a>
                </div>
			</div>
			<div class="col-lg-6">
                <div class="section-title">
                    <h3>宿舍抽籤候補進度</h3>
                </div>
				<div class="lottery-wrap">
				    <ul class="lottery-list menu-item">
					    <li class="lottery-item">
						    <h5>108-1學士班舊生候補作業</h5>
							<div class="quantity">
							    <div class="sexuality">
								    <span class="boy gender">
									    <i class="fa fa-male"></i>
									</span>
									<span class="amount">234</span>
								</div>
								<div class="sexuality">
								    <span class="girl gender">
									    <i class="fa fa-female"></i>
									</span>
									<span class="amount">567</span>
								</div>
							</div>
						</li>
						<li class="lottery-item">
						    <h5>學士班新生暨轉學生申請宿舍</h5>
							<div class="quantity">
							    <div class="sexuality">
								    <span class="boy gender">
									    <i class="fa fa-male"></i>
									</span>
									<span class="amount">0</span>
								</div>
								<div class="sexuality">
								    <span class="girl gender">
									    <i class="fa fa-female"></i>
									</span>
									<span class="amount">55</span>
								</div>
							</div>
						</li>
						<li class="lottery-item">
						    <h5>107-2 研究生北北基男生短期住宿抽籤作業</h5>
							<div class="quantity">
							    <div class="sexuality">
								    <span class="boy gender">
									    <i class="fa fa-male"></i>
									</span>
									<span class="amount">89</span>
								</div>
								<div class="sexuality">
								    <span class="girl gender">
									    <i class="fa fa-female"></i>
									</span>
									<span class="amount">567</span>
								</div>
							</div>
						</li>
						<li class="lottery-item">
						    <h5>108-1研究所宿舍申請</h5>
							<div class="quantity">
							    <div class="sexuality">
								    <span class="boy gender">
									    <i class="fa fa-male"></i>
									</span>
									<span class="amount">234</span>
								</div>
								<div class="sexuality">
								    <span class="girl gender">
									    <i class="fa fa-female"></i>
									</span>
									<span class="amount">567</span>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</section>
	
	<section class="related-container section-container">
	    <div class="section-title">
		    <h3>相關資訊</h3>
		</div>
        <ul class="related-list menu-item">
            <li class="related-item">
                <a href="#" title="新生專區">
					<img alt="新生專區圖示" src="../assets/icons/abc.png">
				    <p>新生專區</p>
				</a>
            </li>
			<li class="related-item">
				<a href="#" title="修繕申請">
					<img alt="修繕申請圖示" src="../assets/icons/tools.png">
				    <p>修繕申請</p>
				</a>
            </li>
			<li class="related-item">
				<a href="#" title="消防講習">
					<img alt="消防講習圖示" src="../assets/icons/extinguisher.png">
				    <p>消防講習</p>
				</a>
            </li>
			<li class="related-item">
				<a href="#" title="志願服務服務學習">
					<img alt="志願服務服務學習圖示" src="../assets/icons/student.png">
				    <p>志願服務<span>服務學習</span></p>
				</a>
            </li>
			<li class="related-item">
				<a href="#" title="安定就學">
					<img alt="安定就學圖示" src="../assets/icons/desk-chair.png">
				    <p>安定就學</p>
				</a>
            </li>
			<li class="related-item">
				<a href="#" title="活動花絮">
					<img alt="活動花絮圖示" src="../assets/icons/picture.png">
				    <p>活動花絮</p>
				</a>
            </li>
			<li class="related-item">
				<a href="#" title="常見問題">
					<img alt="常見問題圖示" src="../assets/icons/question.png">
				    <p>常見問題</p>
				</a>
            </li>
			<li class="related-item">
				<a href="#" title="相關連結">
					<img alt="相關連結圖示" src="../assets/icons/link.png">
				    <p>相關連結</p>
				</a>
            </li>
        </ul>
	</section>
	
    <section class="map-container section-container">
	    <div class="section-title">
		    <h3>校園位置</h3>
		</div>
        <div class="google-maps">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6442.145413066884!2d121.5334585572125!3d25.01602158947239!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x21750404ee1d7f66!2z6Ie654Gj5aSn5a24!5e0!3m2!1szh-TW!2stw!4v1560381076701!5m2!1szh-TW!2stw" width="540" height="304" frameborder="0" style="border:0" title="Google map" allowfullscreen></iframe>
        </div>
    </section>
	
	<section class="navbar-container section-container">
		<div class="reveal-inner">
            <div class="reveal-col">
                <h4>關於我們</h4>
                <ul class="navbar-reveal menu-item">
                    <li class="reveal-item">
                        <a href="#" title="核心精神與目標">核心精神與目標</a>
                    </li>
					<li class="reveal-item">
                        <a href="#" title="行政人員">行政人員</a>
                    </li>
					<li class="reveal-item">
                        <a href="#" title="宿舍輔導員">宿舍輔導員</a>
                    </li>
					<li class="reveal-item">
                        <a href="#" title="宿舍介紹">宿舍介紹</a>
                    </li>
					<li class="reveal-item">
                        <a href="#" title="生活會總幹事">生活會總幹事</a>
                    </li>
					<li class="reveal-item">
                        <a href="#" title="各舍網管人員">各舍網管人員</a>
                    </li>
                </ul>
            </div>
            <div class="reveal-col">
                <h4>申請/退/換宿</h4>
                <ul class="navbar-reveal menu-item">
                    <li class="reveal-item">
                        <a href="#" title="申請住宿">申請住宿</a>
                    </li>
					<li class="reveal-item">
                        <a href="#" title="候補進度">候補進度</a>
                    </li>
					<li class="reveal-item">
                        <a href="#" title="換宿平台">換宿平台</a>
                    </li>
					<li class="reveal-item">
                        <a href="#" title="申請退宿退費">申請退宿退費</a>
                    </li>
					<li class="reveal-item">
                        <a href="#" title="租屋資訊">租屋資訊</a>
                    </li>
                </ul>
            </div>
            <div class="reveal-col">
                <h4>法規/流程/表單</h4>
                <ul class="navbar-reveal menu-item">
                    <li class="reveal-item">
                        <a href="#" title="法令規章">法令規章</a>
                    </li>
					<li class="reveal-item">
                        <a href="#" title="作業流程">作業流程</a>
                    </li>
					<li class="reveal-item">
                        <a href="#" title="表單下載">表單下載</a>
                    </li>
					<li class="reveal-item">
                        <a href="#" title="內部資源">內部資源</a>
                    </li>
                </ul>
            </div>
            <div class="reveal-col">
                <h4>值班/緊急電話</h4>
                <ul class="navbar-reveal menu-item">
                    <li class="reveal-item">
                        <a href="#" title="舍區值班表">舍區值班表</a>
                    </li>
					<li class="reveal-item">
                        <a href="#" title="宿舍聯絡電話">宿舍聯絡電話</a>
                    </li>
					<li class="reveal-item">
                        <a href="#" title="緊急聯絡電話">緊急聯絡電話</a>
                    </li>
                </ul>
            </div>
		</div>
	</section>

</div>


<% content_for :js do %>

<% end %>





















































