<!-- NTU-Joint: 忘記密碼  -->

<div class="container">
    <section class="login-wrap">
        <h4 class="block-title">Forget Password</h4>
        <form>
            <div class="md-form">
                <input type="email" id="materialLoginFormEmail" class="form-control">
                <label for="materialLoginFormEmail">Email</label>
            </div>
            <div class="form-row">
                <div class="col">
                    <div class="md-form mt-0">
                        <input type="text" id="CAPTCHA" class="form-control mb-4" placeholder="">
                        <label for="CAPTCHA">Verification Code</label>
                    </div>
                </div>
                <span class="col input-group-addon verification">
                    <img class="captcha" src="http://nfu-map.dev.com.tw/common/captcha.image">
                </span>
            </div>
            <div class="text-center py-4">
                <button class="btn btn-block btn-outline-deep-orange btn-rounded mb-3 waves-effect z-depth-0" type="submit">Submit</button>
            </div>
        </form>
    </section>
</div>