
/* `Header
-----------------------------------------------------------------------------*/

header.header {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	margin-bottom: calc(5rem + 3vw);
	padding: 2rem 2rem 0 2rem;
	position: relative;
	min-width: 1296px;
}

.header-logo {
	display: flex;
	align-items: center;
	gap: 1rem;
	margin-bottom: 0;
	span {
		display: block;
		line-height: 1.5;
	}
	.logo-year {
		font-size: 4rem;
		font-weight: 700;
		color: #a2b3a2;
		line-height: 1;
	}
	.logo-year-text {
		font-size: 1rem;
		font-weight: 500;
		color: rgba(#435143, .75);
	}
	.logo-main-text {
		font-size: 1.5rem;
		font-weight: 500;
		color: #435143;
	}
}

.header-title {
	margin-bottom: 0;
	position: relative;
	left: 50%;
	bottom: 0;
	font-size: 1.5rem;
	color: #121212;
	transform: translateX(-50%);
	&::after {
		content: "";
		position: absolute;
		bottom: -1.5rem;
		left: 50%;
		width: 48px;
		height: 1px;
		background-color: #889787;
		transform: translateX(-50%);
	}
}

.header-account {
	display: flex;
	gap: 1rem;
	color: #768875;
	.account-logout {
		color: #333;
		&:hover {
			text-decoration: underline;
		}
	}
}

.header-center {
	position: absolute;
	left: 50%;
	bottom: 0;
	transform: translateX(-50%)
}