
@import "base";

.block-title {
	margin-bottom: 1.5rem;
	padding-left: 36px;
	font-weight: 700;
	font-size: 1.625rem;
	position: relative;
	&:before, &:after {
		content: "";
		border-radius: 50%;
        width: 14px;
        height: 14px;
		position: absolute;
		top: 7px;
	}
    &:before {
        background: $main_color;
        left: 0;
		z-index: 1;
    }
	&:after {
        background: $secondary_color;
        left: 7px;
		z-index: 0;
    }
}

.md-form input[type="text"]:focus:not([readonly]), .md-form input[type="password"]:focus:not([readonly]), .md-form input[type="email"]:focus:not([readonly]), .md-form input[type="url"]:focus:not([readonly]), .md-form input[type="time"]:focus:not([readonly]), .md-form input[type="date"]:focus:not([readonly]), .md-form input[type="datetime-local"]:focus:not([readonly]), .md-form input[type="tel"]:focus:not([readonly]), .md-form input[type="number"]:focus:not([readonly]), .md-form input[type="search-md"]:focus:not([readonly]), .md-form input[type="search"]:focus:not([readonly]), .md-form textarea.md-textarea:focus:not([readonly]) {
	border-color: $main_color;
	box-shadow: 0 1px 0 0 $main_color;
}

.form-indentation { padding-left: 35px; }

.awell {
	border-radius: 5px;
	border: 1px solid #eff6f7;
	padding: 1.75rem;
}

.tab-content {
	padding-left: 0;
	padding-right: 0;
}

.info-well {
	h4 {
		font-size: 1.25rem;
		color: $main_color;
		.years {
			font-family: 'Roboto', sans-serif;
			font-size: 1.625rem;
			font-weight: 700;
			color: #ce7224;
		}
	}
	.menu-item {
		li {
			border-bottom: 1px dashed #dde0e9;
			padding: 0.5rem 0;
			&:last-child {
				border: none;
				padding-bottom: 0;
			}
			span { display: inline-block; }
			.item { margin-right: 1rem; }
		}
	}
	.label {
		margin-right: 1.75rem;
		width: 15rem;
		font-weight: 700;
		color: #585a61;
		text-align: right;
	}
}

.btn-primary {
    background-color: $main_color !important;
}

.btn-outline-primary {
    border-color: $main_color !important;
	color: $main_color !important;
}

/* `Index / Login
-----------------------------------------------------------------------------*/

.schedule-wrap {
	.schedule-item {
		margin-bottom: 2.5rem;
		.date {
			background: url("../assets/bg-striped.png") left top repeat;
			padding: 20px;
			font-family: "Roboto", sans-serif;
			font-size: 1.25rem;
			font-weight: 700;
			color: #ed6d00;
			i {
				margin-right: .75rem;
				font-size: 1.125rem;
				color: #979797;
			}
		}
	}
	h5 {
		font-size: 1.125rem;
		font-weight: 700;
		color: #50576d;
	}
}

.login-wrapper {
	margin: 3.5rem auto;
	max-width: 560px;
	.warpper-title {
		margin-bottom: 3rem;
		text-align: center;
		font-size: 1.5rem;
		position: relative;
		&:after {
			content: "";
			background: $main_color;
			margin-left: -1.5rem;
			width: 3rem;
			height: 1px;
			position: absolute;
			left: 50%;
			bottom: -1rem;
		}
	}
	.register {
		margin-bottom: 0;
		padding-top: 4rem;
		text-align: center;
		position: relative;
		&:after {
			content: "";
			background: #333;
			margin-left: -1.5rem;
			width: 3rem;
			height: 2px;
			position: absolute;
			left: 50%;
			top: 25px;
		}
	}
    .forget-password {
        color: #aaa;
        &:hover { color: #333; }
    }
	.form-country {
		margin-left: .5rem;
		flex: 1;
	}
}

/* `Aside
-----------------------------------------------------------------------------*/

.main-wrapper {
	padding: 50px 1.5rem;
}

.main-flex-wrapper {
	display: flex;
	justify-content: space-between;
	padding: 0 1.5rem;
	.main {
		flex: 1;
		border-left: 1px solid $base_border_color;
		padding: 50px 0 50px 30px;
		
	}
}

.button-collapse {
    display: none !important;
	padding: .5rem 0;
    .hamburger {
        .line {
            width: 48px;
            height: 4px;
            background-color: $main_color;
            display: block;
            margin: 5px auto;
        }
    }
}

.sidenav {
    background-color: #fff;
	border-right: 1px solid $base_border_color;
	margin-right: -1px;
	padding: 50px 0;
    min-width: 280px !important;
    height: 100%;
    position: relative;
	left: 280px;
    top: 0;
    overflow: hidden;
    z-index: 1040;
    backface-visibility: hidden;
    will-change: transform;
	.menu-item {
		li {
			border-bottom: 1px solid $base_border_color;
			&:last-child { border-bottom: none; }
		}
		a {
			display: block;
			padding: .75rem 0;
			font-size: 17px;
			color: $main_color;
			&:hover, &.current {
				background: $secondary_color;
				padding-left: 1rem;
				color: #fff;
			}
			&.current {
				background: $main_color;
			}
		}
	}
}

/* `Stuff
-----------------------------------------------------------------------------*/

.required {
	padding-right: 0.25rem;
	font-weight: bold;
	color: red;
}

.form-action {
    border-top: 1px solid #e7ecec;
    margin-top: 2rem;
    padding-top: 2rem;
    text-align: center;
    position: relative;
}

.form-section {
	margin-top: 3rem;
}

.section-title {
	margin-bottom: 1.5rem;
	font-size: 22px;
	font-weight: 700;
}

.referrer-section {
    margin-top: 2rem;
	.section-inner {
		background: #fafafa;
		padding: 1.5rem;
	}
	.section-hd {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: .5rem;
	}
	.section-title {
		margin-bottom: 0;
		font-size: 20px;
		font-weight: 400;
		color: #9f53e4;
	}
}

.nulllabel { padding-top: 33px; }

.hide-wrap {
	background: url("../assets/bg-striped.png") left top repeat;
	padding: 1rem;
}

.list-select {
	display: flex;
	justify-content: space-between;
	.inner {
		width: 49%;
	}
}

.department-list {
	.department-item {
		background: #fafbfd;
		margin: 1rem 0;
	}
	.item-hd {
		border-bottom: 1px dashed $base_border_color;
		padding: 1rem;
	}
	h5.department-path {
		font-size: 1.125rem;
	}
	.item-bd {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: .5rem 1rem;
		.success {
			font-size: 1.125rem;
			color: #33b733;
		}
		.additional {
			font-size: 1.125rem;
			color: #de3c78;
		}
		.notyet {
			font-size: 1.125rem;
			color: #1e73ca;
		}
		.inprogress {
			font-size: 1.125rem;
			color: #cd52e3;
		}
	}
	.item-ft {
		border-top: 2px solid #fff;
		padding: 1rem;
		&.ft-warning {
			background: #fdfbf7;
			border-bottom: 2px solid #fff;
		}
		.document-hd h5 { font-size: 1.125rem; }
		.main-title {
			font-size: 1.25rem;
			font-weight: bold;
		}
		.sub-title {
			font-size: 17px;
			color: #a6c;
		}
		.score-title {
			font-size: 20px;
			.score {
				display: inline-block;
				margin-left: .5rem;
				font-weight: bold;
				color: #a6c;
			}
		}
		.interview-detail {
			margin-bottom: 1.5rem;
			li {
				margin-top: .5rem;
				.label, .out {
					display: inline-block;
				}
				.label {
					margin-right: .5rem;
					color: #777;
				}
			}
		}
		.admit {
			margin-bottom: 1rem;
			.btn {
				box-shadow: none;
				margin-left: 0;
				margin-right: 0;
				padding: .25rem .75rem;
			}
		}
	}
	.id-wrap {
		color: #777;
		strong {
			display: inline-block;
			margin-left: .5rem;
			color: #a6c;
		}
	}
	&.department-print {
		.item-bd {
			display: block;
			.btn {
				margin-left: 0;
				margin-right: 0;
			}
		}
	}
	.item-detail {
		padding: 0 1rem .5rem;
		.detail {
			margin-bottom: .25rem;
			span { display: inline-block; }
			.out {
				margin-left: 1rem;
				font-weight: bold;
			}
		}
		.btn { margin: .5rem 0 0; }
	}
}

.department-path {
    margin-bottom: 0;
    color: #000;
    span {
        display: inline-block;
        margin-right: .5rem;
    }
	&.main-path {
		background: url("../assets/bg-striped.png") left top repeat;
		margin: -.5rem 0 1.5rem 0;
		padding: 1rem 1rem 1rem 36px;
	}
}

.form-add {
	margin-top: .25rem;
}

.output-section {
	background: #fbfbfb;
	padding: 1.5rem;
	label {
		margin-bottom: .25rem;
		color: #666;
	}
	.output {
		display: block;
		font-weight: 700;
		color: #5e3fdc;
		span {
			display: inline-block;
			margin-right: .25rem;
		}
		.inner-label {
			display: inline;
			font-weight: 400;
			color: #111;
		}
	}
	&.sheet-section {
		background: #fff;
		margin-top: 2rem;
		padding: 0;
	}
}

.avatar-wrap {
	margin-top: 2rem;
	width: 196px;
	.avatar-pic {
		width: 196px;
		height: auto;
	}
	.specification {
		display: inline-block;
		margin-top: .5rem;
		color: tomato;
		line-height: 1.2;
		text-align: center;
	}
}

.btn-mx0 {
	margin-left: 0;
	margin-right: 0;
	.btn {
        margin-left: 0;
        margin-right: 0;
	}
}

.select-wrapper {
	margin-bottom: 2rem;
    .select-inner {
        display: flex;
        .select-inline { margin-right: .5rem; }
        select.browser-default {
            padding-right: 24px;
        }
    }
	.select-action {
		.btn { margin: 0; }
	}
}

.table tfoot {
	text-align: right;
	td {
        font-weight: bold;
        font-size: 1rem;
	}
}

.menu-item.recommend-data {
	margin-bottom: 2rem;
	li {
		display: flex;
		border-bottom: 1px solid $base_border_color;
		margin-bottom: .5rem;
		padding-bottom: .5rem;
	}
	.label {
		margin-right: 1rem;
		width: 120px;
	}
}

.mode-wrap {
	margin-bottom: 1rem;
	background: #f3f6fb;
	padding: 1rem;
}

.thank-wrap {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 200px;
	font-size: 20px;
	color: #8941cc;
}

.objective-file-wrap {
	display: flex;
	align-items: center;
	.input-group {
		padding-right: 2%;
		width: 80%;
	}
}

/* `Step
-----------------------------------------------------------------------------*/

.step-bar {
	margin: 48px auto;
	text-align: center;
	ul, li {
		display: inline-block;
		list-style: none;
		margin: 0;
		padding: 0;
	}
	li {
		float: left;
		width: 124px;
		font-weight: 400;
	}
	.step {
		display: block;
		border-radius: 20px;
		border: 4px solid #ccc;
		margin: 0 0 12px 42px;
		width: 40px;
		height: 40px;
		font-size: 20px;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
		color: #666;
		line-height: 32px;
		position: relative;
		&:before, &:after {
			content: "";
			background: #ccc;
			width: 60px;
			height: 4px;
			position: absolute;
			top: 14px;
		}
		&:before {
			border-radius: 0 2px 2px 0;
			left: -88px;
		}
		&:after {
			border-radius: 2px 0 0 2px;
			right: -88px;
		}
	}
    h4 {
		padding: 0 0.5rem;
		font-size: 1.0625rem;
		font-weight: 400;
		color: #888;
	}
	.brief {
		padding: 0 .5rem;
        font-size: .875rem;
		font-weight: 400;
        line-height: 1.2;
		color: #aaa;
	}
	li {
		&:first-child .step:before, &:last-child .step:after {
			content: none;
		}
	}
	.active {
		color: $main_color;
	    .step {
			border-color: $secondary_color;
			color: $secondary_color;
			&:before {
				background: $main_color;
			}
		}
		h4 {
			color: #111;
		}
	}
	.done {
		color: #000;
		.step {
			background: $main_color;
			border-color: $main_color;
			color: #fff;
			&:before, &:after {
				background: $main_color;
			}
		}
	}
}

.step-bar.with-pick-seat {
	li { width: 160px; }
	.step {
		margin-left: 60px;
	}
	&:before, &:after { width: 45px; }
	&:before { left: -64px; }
	&:after { right: -64px; }
}

/* `Step Container
-----------------------------------------------------------------------------*/

.section-wrap { margin-bottom: 3rem; }

.step-hd {
	border-left: 10px solid $secondary_color;
	padding: 0.1rem 0 0.2rem 1rem;
	h5 {
		font-size: 1.35rem;
		margin-bottom: 0;
	}
	h6 { margin: 0.5rem 0 0; }
}

.step-container {
	.avatar-wrap {
		border-bottom: none;
		margin: 0 auto;
		width: 300px;
	}
	.tab-content {
		padding-left: 0;
		padding-right: 0;
	}
}

.form-wrapper {
    margin-bottom: 2rem;
}

.document-item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px dashed #d7dcdc;
	margin-bottom: 1.5rem;
	padding-bottom: 1.5rem;
	.document-hd {
		min-width: 50%;
		max-width: 68%;
		h5 { margin-bottom: 0; }
		.uptime {
            font-family: "Roboto", sans-serif;
			font-size: 0.9375rem;
			color: #9196a5;
		}
		p { margin-bottom: 0; }
	}
	.last-date {
		margin: 0.5rem 0 0;
		color: #9196a5;
	}
	.title-wrap {
		display: flex;
		.btn { margin: 0; }
		.btn-floating { margin: -0.25rem 0 0 0.75rem; }
	}
	.md-form {
		margin: 0;
	}
	&:last-child {
		border-bottom: none;
		margin-bottom: 0;
		padding-bottom: 0;
	}
	+ .document-info {
		border: 1px dashed #d7dcdc;
		border-radius: 5px;
		background: #faf9eb;
		margin-top: -2rem;
		margin-bottom: 1.5rem;
		padding: 1.5rem;
		color: #7a7b7c;
		h6 {
			font-size: 1.125rem;
			color: $main_darken_color;
		}
	}
	&.increase {
		margin-bottom: 2.5rem;
		padding-bottom: 2.5rem;
	}
}


.document-ft {
	text-align: right;
	width: 40%;
	.file-wrap {
		float: left;
		margin-left: .25rem;
		max-width: 188px;
	}
	.btn { margin: 0; }
	.btn-custom {
		margin-right: 5px;
		float: left;
		z-index: 1;
	}
	.btn-xs { text-transform: none; }
	.upload-inner {
		display: flex;
		justify-content: flex-end;
	}
}

.btn-description {
	display: inline-block;
	border-radius: 50%;
	background-color: transparent;
	border: 2px solid $secondary_color;
	margin: 0.25rem 0 0 0.5rem;
	width: 24px;
	height: 24px;
	color: $secondary_color;
	line-height: 20px;
	text-align: center;
	transition: all 0.2s ease-in-out;
	cursor: pointer;
	&:hover {
		border-color: darken($secondary_color, 10);
		color: darken($secondary_color, 10);
	}
}

.data-block {
	background: rgba(#fff, .5);
	border-radius: 6px;
	border: 1px solid #e3eaeb;
	box-shadow: 0 1px 2px rgba(#000, .05);
	margin-bottom: 1rem;
	padding: 1.5rem 1.5rem 1rem 1.5rem;
	position: relative;
	&:after {
		content: "";
        width: 0;
        height: 0;
		border-radius: 6px 0 0 0;
        border-style: solid;
        border-width: 24px 24px 0 0;
        border-color: $main_darken_color transparent transparent transparent;
		position: absolute;
		left: -1px;
		top: -1px;
	}
	.data-head {
		border-bottom: 1px solid $base_border_color;
		margin-bottom: 1rem;
		padding-bottom: 1rem;
		position: relative;
	}
    .btn-delete {
        $delete_button: 32px;
        border-radius: 50%;
        border: 1px solid $base_border_color;
        width: $delete_button;
        height: $delete_button;
        line-height: 30px;
        text-align: center;
        color: #ffa5a2;
        position: absolute;
        right: 0;
        top: 0;
        &:hover {
			background: #ef5350;
			border-color: #ef5350;
            color: #fff;
        }
    }
	table {
		th, td { font-size: 1rem; }
	}
}

.progress-wrap {
	.document-hd {
		padding-left: 8%;
		position: relative;
		&:before {
			content: "";
			background-size: 40px 40px;
			background-repeat: no-repeat;
			width: 3.75rem;
			height: 3.75rem;
			font-family: FontAwesome;
			font-size: 3rem;
			position: absolute;
			left: 0.5rem;
			top: 0.5rem;
		}
	}
	.upload-time {
		font-weight: 700;
		color: #222 !important;
		.fa, .date {
			font-weight: 300;
			color: #7b8a89;
		}
	}
	.status_success {
		.document-hd:before {
			background-image: url(../assets/iconmonstr-check-mark-8.svg);
		}
		.document-ft {
			color: green;
		}
	}
	.status_warning {
		.document-hd:before {
			background-image: url(../assets/iconmonstr-info-2.svg);
			//transform: rotate(3.14159rad);
		}
		.document-ft {
			color: red;
		}
	}
}

.form-group.md-form {
	margin-top: 3.5rem;
	.label-date, .label-date.active {
        line-height: 1.6;
        font-size: 16px;
        font-weight: 400;
        color: #333 !important;
		top: 0.25rem;
	}
}

.md-form .form-control[readonly] {
    box-sizing: border-box;
	border: 1px solid #ced4da;
	border-radius: 0.25rem;
	padding: 0.375rem 0.75rem;
}

.btn-home {
	float: left;
	padding-left: 0;
	padding-right: 0;
	.fa {
		margin-right: 0.375rem;
		top: -1px;
	}
}


/* `Responsive
-----------------------------------------------------------------------------*/

@media (max-width: 1199px) {
	header.header {
		.header-link { right: 15px; }
	}
	.header-wrap,
	.main-flex-wrapper,
	.main-wrapper,
	footer.footer .footer-inner {
		padding-left: 0;
		padding-right: 0;
	}
}

@media (max-width: 991px) {
	.main-flex-wrapper {
		display: block;
        .button-collapse {
            display: inline-block;
        }
        .main {
            border-left: none;
            padding: 50px 0;
			position: relative;
        }
		.sidenav {
			border-right: none;
			max-width: 280px;
			position: fixed;
			top: 0;
			left: 0;
			.menu-item {
				a {
					padding-left: 1rem;
				}
			}
		}
	}
    .button-collapse {
        display: inline-block !important;
		position: absolute;
		left: 0;
		top: 42px;
		z-index: 2;
		& + .block-title {
			padding-left: 66px;
			&:before, &:after {
				content: none;
			}
		}
    }
	.department-path.main-path { padding-left: 1rem }
    .select-wrapper {
        .select-inner {
            display: block;
            .select-inline {
				display: block;
				margin-bottom: .25rem;
			}
        }
        .select-action {
			padding-left: .25rem;
			margin-top: 1rem;
        }
    }
	footer.footer {
		.footer-inner {
			display: block;
		}
		.browser-support { margin-top: 1rem;}
	}
}

@media (max-width: 767px) {
	header.header {
		padding-top: 0;
		.header-link {
			border-bottom: 1px solid #ededed;
			padding: .375rem 0;
			text-align: right;
			position: static;
		}
	}
	.header-wrap {
		padding: 8px 0 12px 0;
		margin-bottom: 0;
		align-items: center;
		.h1-logo { display: none; }
		.h1-logo-mobile { display: inline-block; }
		.account { margin-bottom: 3px;}
	}
	.program-wrap {
		padding: 1.25rem 1.75rem 1.25rem 1.25rem;
		h2 {
			font-size: 22px;
			line-height: 1.4;
		}
	}
    .list-select {
        display: block;
        .inner {
			margin-bottom: .5rem;
            width: 100%;
        }
    }
	.department-path {
		font-size: 1.0625rem;
		line-height: 1.4;
	}
	.department-list h5.department-path {
		font-size: 1.0625rem;
	}
    .nulllabel { padding-top: 0; }
    .list-select { width: 100%; }
	.step-bar { display: none; }
	.main-flex-wrapper {
		.main { padding: 30px 0; }
	}
	.button-collapse { top: 22px; }
	footer.footer {
		.footer-inner { padding: 40px 0; }
	} 
}

@media (max-width: 574px) {
	.block-title { font-size: 1.5rem; }
	.department-path.main-path {
		padding: .75rem;
		font-size: 1.125rem;
		line-height: 1.4;
	}
	.document-item {
		display: block;
		.document-hd {
			max-width: 100%;
		}
		.document-ft {
			margin-top: .5rem;
			width: 100%;
			text-align: left;
			.upload-inner { justify-content: flex-start; }
			.file-wrap {
				float: none;
				width: auto;
			}
		}
	}
}



































