<footer class="footer">
	<div class="container-lg">
		<div class="footer-inner">
			<div class="block-transition">
                <div class="ft-block central-content">
                    <ul class="menu-item contact">
                        <li>
                            <i class="fas fa-map-marker-alt"></i>
                            10617 台北市大安區羅斯福路 4 段 1 號 第 2 行政大樓 4 樓 418 室
                        </li>
                        <li>
                            <i class="fas fa-phone-alt"></i>
                            +886-2-3366-2007, +886-2-2362-6801
                        </li>
						<li>
                            <i class="fas fa-fax"></i>
                            +886-2-2362-0096
                        </li>
                        <li>
                            <i class="fas fa-envelope"></i>
                            <a href="mailto:intadmission@ntu.edu.tw">intadmission@ntu.edu.tw</a>
                        </li>
                    </ul>
                </div>
			</div>
            <div class="ft-block end-content">
				<div>
                    Browser support
                    <a href="https://www.google.com/intl/zh-TW/chrome/">Google Chrome</a>,
                    <a href="https://www.mozilla.org/zh-TW/firefox/new/">Firefox</a> or
                    <a href="https://www.microsoft.com/zh-tw/edge">IE11+</a>
				</div>
				<address>Copyright © 2022 Office of International Affairs ALL RIGHTS RESERVED.</address>
            </div>
		</div>
	</div>
</footer>