<header class="header" id="pagetop">
    <div class="container-lg">
        <div class="header-wrap">
            <div class="header-function">
                <div class="header-right">
                    <div class="language">
                        <a href="#">English</a>
                    </div>
                </div>
            </div>
            <div class="brands">
                <a class="brands-link" href="index.html">
                    <div class="logo">
                        <h1 class="text-hide">國立臺灣大學 National Taiwan University</h1>
                        <img class="h1-logo" src="../assets/logo@2x.png">
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="sys-subject">
        <div class="container-lg">
            <h2>國際處英語授課補助申請系統</h2>
        </div>
    </div>
</header>