<!-- template: 入口 -->

<h1 class="sr-only">引路人計畫入口</h1>
<div class="portal-wrapper">
    <div class="portal-oia portal-block">
        <a href="#" class="link-portal" title="國際學生 國際引路人計畫">
            <span class="kv">
                <img src="../assets/oia-kv.png" alt="國際引路人計畫">
            </span>
            <h2>
                <span>國際引路人計畫</span>
                <small>國際學生</small>
                <span class="increased">NTU INTERNATIONAL MENTORSHIP PROGRAM</span>
                <small class="increased">I am an International student</small>
            </h2>
        </a>
    </div>
    <div class="portal-osa portal-block">
        <a href="#" class="link-portal" title="本國籍學生 臺灣引路人計畫">
            <span class="kv">
                <img src="../assets/osa-kv.png" alt="臺灣引路人計畫">
            </span>
            <h2>
                <span>臺灣引路人計畫</span>
                <small>本國籍學生</small>
                <span class="increased">NTU INTERDISCIPLINARY INTERNSHIP PROGRAM</span>
                <small class="increased">I am a student from Taiwan</small>
            </h2>
        </a>
    </div>
</div>



<% content_for :js do %>

<% end %>

