<!-- admin-page: 清大 - 承辦人首頁 -->
<%= render :partial => "/partials/admin_breadcrumb" %>

<main class="main">
    <div class="contractor-wrapper">
        <ul class="menu-item process-item">
			<% (1..2).map do |i| %>
            <li>
                <div class="process-icon"><i class="fa fa-bell"></i></div>
                <div class="process-body">
                    <h5 class="process-title">個人待處理</h5>
                    <p>待辦件數 <a href="/"><span class="badge badge-secondary">10</span></a></p>
                </div>
            </li>
            <li>
                <div class="process-icon"><i class="fa fa-bell"></i></div>
                <div class="process-body">
                    <h5 class="process-title">授權待處理</h5>
                    <p>待辦件數 <a href="/"><span class="badge badge-secondary">999</span></a></p>
                </div>
            </li>
            <li>
                <div class="process-icon"><i class="fa fa-bell"></i></div>
                <div class="process-body">
                    <h5 class="process-title">代理人處理</h5>
                    <p>待辦件數 <a href="/"><span class="badge badge-secondary">0</span></a></p>
                </div>
            </li>
			<% end %>
        </ul>
    </div>
</main>



<% content_for :js do %>

<% end %>
