<!-- template: 系統_單篇公告 -->

<header class="header" id="pagetop">
    <div class="container-lg">
		<div class="header-wrap">
            <div class="header-function">
				<div class="header-right">
                    <div class="account">
                        <div class="dropdown">
                            <button class="dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Hi Mr.Suchart
                            </button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Change password</a></li>
                                <li><a class="dropdown-item" href="#">Log out</a></li>
                            </ul>
                        </div>
                    </div>
				</div>
            </div>
			<div class="brands">
                <a class="brands-link" href="index.html" title="網站首頁">
                    <div class="logo">
                        <h1 class="text-hide">高等教育深耕計畫-特色領域研究中心 Higher Education Sprout Project-The Featured Areas Research Center Program</h1>
                        <img class="h1-logo" src="../assets/logo-moe.svg">
                    </div>
                    <div class="sub">
                        <h2>高等教育深耕計畫-特色領域研究中心</h2>
                        <h3 class="en">Higher Education Sprout Project-The Featured Areas Research Center Program</h3>
                    </div>
                </a>
			</div>
		</div>
    </div>
</header>

<nav aria-label="breadcrumb" style="margin-top: -3rem;" class="mb-5">
    <div class="container-lg">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="#">Library</a></li>
            <li class="breadcrumb-item active" aria-current="page">Data</li>
        </ol>
    </div>
</nav>

<div class="content">
    <div class="container-lg">
        <div class="page-content d-block">
            <article>
                <span class="d-block mb-2"><i class="far fa-calendar-alt me-1"></i> 2024-01-01</span>
                <h3 class="mb-4 fw-bolder"><%= lorem_sentences(2) %></h3>
                <p><%= lorem_paragraphs(3) %></p>
                <p><%= lorem_paragraphs(5) %></p>
                <p><%= lorem_paragraphs(2) %></p>
            </article>
            <div class="mt-5">
                <button type="button" class="btn btn-light"><i class="fas fa-long-arrow-alt-left"></i> 返回</button>
            </div>
        </div>
    </div>
</div>


<% content_for :js do %>

<% end %>

