<!-- template: 人社標竿_登入 -->

<header class="header" id="pagetop">
    <div class="container-lg">
		<div class="header-wrap">
            <div class="header-function">
                <div class="header-right">
                    <a href="#" class="btn btn-light bg-white"><i class="fas fa-caret-left"></i> 回計畫網站首頁</a>
                </div>
            </div>
			<div class="brands">
                <a class="brands-link" href="index.html" title="網站首頁">
                    <div class="logo">
                        <h1 class="text-hide">大專校院人文與社會科學領域標竿計畫 The Humanities and Social Sciences Benchmark Program</h1>
                        <img class="h1-logo" src="../assets/logo-moe.svg">
                    </div>
                    <div class="sub">
                        <h2>大專校院人文與社會科學領域標竿計畫</h2>
                        <h3 class="en">The Humanities and Social Sciences Benchmark Program</h3>
                    </div>
                </a>
			</div>
		</div>
    </div>
</header>

<div class="content">
    <div class="container-lg">
        <div class="login-wrapper">
            <div class="login-card">
                <div class="card-hd">
                    <h3 class="text-center">登入</h3>
                </div>
                <div class="card-bd">
                    <div class="mb-4">
                        <label for="exampleFormControlInput1" class="form-label">請選擇登入身分</label>
                        <div class="d-flex">
                            <div class="me-2">
                                <select class="form-select" aria-label="Default select example">
                                    <option selected>請選擇</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                            </div>
                            <div class="flex-fill">
                                <select class="form-select" aria-label="Default select example">
                                    <option selected>請選擇單位</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="mb-4">
                        <label for="exampleFormControlInput1" class="form-label">請輸入email</label>
                        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com" />
                    </div>
                    <div class="mb-4">
                        <label for="exampleFormControlInput1" class="form-label">請輸入密碼</label>
                        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com" />
                    </div>
                    <div class="mb-4">
                        <label for="loginInput4" class="form-label">Verification code</label>
                        <div class="d-flex align-items-center">
                            <span class="me-1"><input type="text" class="form-control" id="loginInput4" /></span>
                            <span class="me-1"><img class="captcha" src="http://nfu-map.dev.com.tw/common/captcha.image" /></span>
                            <span>
                                <button class="btn btn-xs btn-outline-primary" type="button"><i class="fas fa-sync-alt"></i></button>
                            </span>
                        </div>
                    </div>
                    <button type="button" class="btn btn-lg btn-block btn-primary">登入</button>
                    <p class="my-4 text-center"><a href="#">忘記密碼？</a></p>
                </div>
            </div>
        </div>
    </div>
</div>


<% content_for :js do %>

<% end %>

