<!-- template: 系統_共同績效指標 -->

<header class="header" id="pagetop">
    <div class="container-lg">
		<div class="header-wrap">
            <div class="header-function">
				<div class="header-right">
                    <div class="account">
                        <div class="dropdown">
                            <button class="dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Hi Mr.Suchart
                            </button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Change password</a></li>
                                <li><a class="dropdown-item" href="#">Log out</a></li>
                            </ul>
                        </div>
                    </div>
				</div>
            </div>
			<div class="brands">
                <a class="brands-link" href="index.html" title="網站首頁">
                    <div class="logo">
                        <h1 class="text-hide">高等教育深耕計畫-特色領域研究中心 Higher Education Sprout Project-The Featured Areas Research Center Program</h1>
                        <img class="h1-logo" src="../assets/logo-moe.svg">
                    </div>
                    <div class="sub">
                        <h2>高等教育深耕計畫-特色領域研究中心</h2>
                        <h3 class="en">Higher Education Sprout Project-The Featured Areas Research Center Program</h3>
                    </div>
                </a>
			</div>
		</div>
    </div>
    
    <nav class="nav-report">
        <div class="container-lg">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" href="#">申請日程一覽</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="#">期末報告與計畫書</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">第一次改善建議書</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">修正計畫書</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">第二次改善建議書</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">管考結果查詢</a>
                </li>
            </ul>
        </div>
    </nav>
    
	<div class="sys-subject">
		<div class="container-lg">
	        <h2>112 年度 填報作業</h2>
		</div>
	</div>
</header>

<nav aria-label="breadcrumb" style="margin-top: -3rem;" class="mb-5">
    <div class="container-lg">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="#">Library</a></li>
            <li class="breadcrumb-item active" aria-current="page">Data</li>
        </ol>
    </div>
</nav>

<div class="container-lg">
	<div class="page-title">
        <h3>期末報告與計畫書</h3>
    </div>
    
	<!-- 當 sidebar 需要 sticky 時 page-content 加上 .has-sticky -->
	<div class="page-content has-sticky">
	    <aside class="aside">
			<div class="scrollbar-inner">
		        <div class="sidenav procedures_nav side-sticky">
					<div class="procedures_nav-hd text-end mb-4">
					    <h5 class="fw-bold">申請程序</h5>
					</div>
                    <ul class="side-navigation menu-item">
                        <li>
							<a class="nav-item done" href="#">
							    <span class="link-inner">申請表</span>
							</a>
						</li>
						<li>
							<a class="nav-item done" href="#">
								<span class="link-inner">計畫團隊人力</span>
							</a>
						</li>
						<li>
							<a class="nav-item current" href="#">
								<span class="link-inner">共同績效指標</span>
							</a>
						</li>
						<li>
							<a class="nav-item" href="#">
								<span class="link-inner">自訂績效指標</span>
							</a>
						</li>
                        <li>
							<a class="nav-item" href="#">
								<span class="link-inner">標竿比較</span>
							</a>
						</li>
						<li>
							<a class="nav-item" href="#">
								<span class="link-inner">經費規劃</span>
							</a>
						</li>
                        <li>
							<a class="nav-item" href="#">
								<span class="link-inner">上傳計劃書</span>
							</a>
						</li>
                    </ul>
                    <div class="procedures_nav-ft">
                        <p class="form-text text-end mt-3">所填申請資訊可於申請截止前修改，一旦「送出申請」後則無法修改。</p>
                    </div>
				</div>
			</div>
		</aside>
		<main class="main">
			<section class="section mt-0">
                <div class="section-title">
                    <h4>共同績效指標</h4>
                </div>
                <p><%= lorem_paragraphs(2) %></p>
			</section>
            
            <div class="mt-5">
            
                <ul class="nav nav-tabs mb-3" id="reportTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="one-tab" data-bs-toggle="tab" data-bs-target="#one-tab-pane" type="button" role="tab" aria-controls="one-tab-pane" aria-selected="true">人才培育</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="two-tab" data-bs-toggle="tab" data-bs-target="#two-tab-pane" type="button" role="tab" aria-controls="two-tab-pane" aria-selected="false">學術表現</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="three-tab" data-bs-toggle="tab" data-bs-target="#three-tab-pane" type="button" role="tab" aria-controls="three-tab-pane" aria-selected="false">國際合作交流</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="four-tab" data-bs-toggle="tab" data-bs-target="#four-tab-pane" type="button" role="tab" aria-controls="four-tab-pane" aria-selected="false">社會貢獻</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="five-tab" data-bs-toggle="tab" data-bs-target="#five-tab-pane" type="button" role="tab" aria-controls="five-tab-pane" aria-selected="false">佐證資料表</button>
                    </li>
                </ul>
                
                <div class="tab-content" id="reportTabContent">
                    <div class="tab-pane fade show active" id="one-tab-pane" role="tabpanel" aria-labelledby="one-tab" tabindex="0">
                        
                        <div class="table-responsive">
                            <table class="table align-middle report-table">
                                <thead class="text-nowrap">
                                    <tr>
                                        <th>面向</th>
                                        <th>績效指標項目</th>
                                        <th>衡量方式</th>
                                        <th>量化/質化</th>
                                        <th>單位</th>
                                        <th class="text-center">111</th>
                                        <th class="text-center">112</th>
                                        <th class="text-center">113</th>
                                        <th class="text-center">114</th>
                                        <th class="text-center">115</th>
                                        <th class="text-center">116</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% (1..6).map do |i| %>
                                    <tr>
                                        <td>人才培育</td>
                                        <td>碩博士生培育情形</td>
                                        <td>中心培育人數比率：培育人數/中心研究</td>
                                        <td>量化</td>
                                        <td></td>
                                        <td><input type="text" class="form-control form-control-sm" placeholder="現況值"></td>
                                        <td>
                                            <input type="text" class="form-control form-control-sm" placeholder="目標值">
                                            <input type="text" class="form-control form-control-sm" placeholder="達成值">
                                        </td>
                                        <td>
                                            <input type="text" class="form-control form-control-sm" placeholder="目標值">
                                            <input type="text" class="form-control form-control-sm" placeholder="達成值">
                                        </td>
                                                    <td>
                                            <input type="text" class="form-control form-control-sm" placeholder="目標值">
                                            <input type="text" class="form-control form-control-sm" placeholder="達成值">
                                        </td>
                                                    <td>
                                            <input type="text" class="form-control form-control-sm" placeholder="目標值">
                                            <input type="text" class="form-control form-control-sm" placeholder="達成值">
                                        </td>
                                                    <td>
                                            <input type="text" class="form-control form-control-sm" placeholder="目標值">
                                            <input type="text" class="form-control form-control-sm" placeholder="達成值">
                                        </td>
                                    </tr>
                                    <% end %>
                                </tbody>
                            </table>
                        </div>
                        
                    </div>
                    
                    <div class="tab-pane fade" id="two-tab-pane" role="tabpanel" aria-labelledby="two-tab" tabindex="0">two</div>
                    
                    <div class="tab-pane fade" id="three-tab-pane" role="tabpanel" aria-labelledby="three-tab" tabindex="0">three</div>
                    
                    <div class="tab-pane fade" id="four-tab-pane" role="tabpanel" aria-labelledby="four-tab" tabindex="0">four</div>
                    
                    <div class="tab-pane fade" id="five-tab-pane" role="tabpanel" aria-labelledby="five-tab" tabindex="0">
                        
<table class="table align-middle">
    <thead>
        <tr>
            <th>操作</th>
            <th>項目名稱</th>
            <th>輸入筆數</th>
            <th>最後操作時間</th>
        </tr>
    </thead>
    <tbody>
        <% (1..30).map do |i| %>
        <tr>
            <td>
                <a href="#" class="btn btn-sm btn-primary" title="編輯"><i class="fas fa-pen"></i></a>
                <a href="#" class="btn btn-sm btn-secondary" title="匯入"><i class="fas fa-file-import"></i></a>
            </td>
            <td>A<%= i %>.1碩博士生培育情形_碩博人數</td>
            <td>1<%= i %></td>
            <td>2023-12-12 10:00:00</td>
        </tr>
        <% end %>
    </tbody>
</table>
                        
                    </div>
                </div>
                
                <div class="form-action">
                    <button type="button" class="btn btn-lg btn-light">上一步</button>
                    <button type="button" class="btn btn-lg btn-primary">暫存</button>
                    <button type="button" class="btn btn-lg btn-light">下一步</button>
                </div>
            
            </div>
		</main>
	</div>
</div>


<% content_for :js do %>
<script>
    var stickEl = $('.side-sticky'),
      stickyElTop = stickEl.offset().top;

    var sticky = function(){  
      var scrollTop = $(window).scrollTop();  

      if (stickyElTop < scrollTop+20) {   
          stickEl.addClass('is-fixed');  
      } else {  
          stickEl.removeClass('is-fixed');   
      }  
    };

    $(window).scroll(function() {
      sticky();
    }); 
</script>

<!-- .main min-height -->
<script>
    // 獲取 .procedures_nav 元素
    const proceduresNavElement = document.querySelector('.procedures_nav');

    // 獲取 .main 元素
    const mainElement = document.querySelector('.main');

    // 獲取 .procedures_nav 的高度
    const proceduresNavHeight = proceduresNavElement.offsetHeight;

    // 設定 .main 的最小高度為 .procedures_nav 的高度
    mainElement.style.minHeight = `${proceduresNavHeight}px`;
</script>
<% end %>

