<footer class="footer">    
    <div class="language language-open">
        <div class="language-active"><span>EN</span></div>
        <% if content_for? :replace_html %>
            <%= yield :replace_html %>
        <% end %>
    </div>
    <address>@KKBOX Inc</address>
</footer>
