<!-- Static navbar -->
<% @lang = "en" %>
<nav class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <h1 class="logo"><a href="index.html"></a></h1>
            <div class="hide pr-logo" hidden>
                <img src="/assets/kkbox@2x.png" />
            </div>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="active"><a href="index.html">Who We Are</a></li>
                <li><a href="what-we-do.html">What We Do</a></li>
                <li><a href="career.html">Career</a></li>
                <li><a href="press.html">Press</a></li>
                <li><a href="investor-relations.html">Investor Relations</a></li>
                <!--li><a href="#">Privacy</a></li-->
            </ul>
        </div>
    </div>
</nav>