<!-- NTU-Scholarship: 補件完成  -->

<% content_for :replace_nav do %>
<div class="collapse navbar-collapse" id="ntuNav">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="index.html">公告</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="identity.html">個人資料及身分別</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="scheme.html">全部獎補助項目</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="apply.html">
                申請獎補助項目
                <span class="count">12</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="admission.html">
                錄取獎補助項目
                <span class="count">3</span>
            </a>
        </li>
    </ul>
</div>
<% end %>

<div class="container">
	<div class="application-wrapper">
        <div class="scheme-head">
            <span class="number">02</span>
            <div class="scheme-name">
                <h5>
                    <span>參與住宿組之社會服務方案</span>
                    <span class="step">第一梯次</span>
                </h5>
                <span class="serial">109S1N-G10-F11</span>
            </div>
        </div>
	</div>
	<div class="awall complete-wall">
		申請已於 2020/02/05 18:00 補件完成並送出
	</div>
	<div class="description-content">
	    <p><%= lorem_sentences(3) %></p>
		<p><%= lorem_sentences(5) %></p>
	</div>
    <div class="form-action">
        <a href="scheme.html" class="btn btn-lg btn-white z-depth-0"><i class="fa fa-long-arrow-left"></i> 回列表</a>
    </div>
</div>

