<!-- NTU-Scholarship: 申請表檢視  -->

<% content_for :replace_nav do %>
<div class="collapse navbar-collapse" id="ntuNav">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="index.html">公告</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="identity.html">個人資料及身分別</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="scheme.html">全部獎補助項目</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="apply.html">
                申請獎補助項目
                <span class="count">12</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="admission.html">
                錄取獎補助項目
                <span class="count">3</span>
            </a>
        </li>
    </ul>
</div>
<% end %>

<div class="container">
	<div class="application-wrapper">
		<div class="scheme-wrapper">
            <div class="scheme-head">
                <span class="number">02</span>
                <div class="scheme-name">
                    <h5>
                        <span>參與住宿組之社會服務方案</span>
                        <span class="step">第一梯次</span>
                    </h5>
                    <span class="serial">109S1N-G10-F11</span>
                </div>
            </div>
            <div class="scheme-date">
                申請期間
                <span class="schedule">
                    <i class="fa fa-clock-o"></i>
                    2020/02/01 - 2020/03/01
                </span>
            </div>
            <div class="scheme-info">綜觀世界知名大學的教學不斷創新翻轉，跳脫傳統課程安排，重視問題或目標導向學習課程設計，突破系與系間僵化限制</div>
		</div>
		<section class="section">
            <div class="section-head">
                <h4 class="block-title">個人資料</h4>
            </div>
			<div class="row">
				<div class="col-sm-6 col-md-4">
                    <div class="form-group">
                        <label>姓名</label>
                        <div class="output">史嘉莉</div>
                    </div>
				</div>
				<div class="col-sm-6 col-md-4">
                    <div class="form-group">
                        <label>學號 (通知以學號信箱聯絡)</label>
                        <div class="output">B09501258</div>
                    </div>
				</div>
				<div class="col-sm-6 col-md-4">
                    <div class="form-group">
                        <label for="Chinesefullname">身份證號 (ID)</label>
                        <div class="output">F12****789</div>
                    </div>
				</div>
				<div class="col-sm-6 col-md-4">
                    <div class="form-group">
                        <label>學院</label>
                        <div class="output">電機學院</div>
                    </div>
				</div>
				<div class="col-sm-6 col-md-4">
                    <div class="form-group">
                        <label>系所單位</label>
                        <div class="output">電機系</div>
                    </div>
				</div>
				<div class="col-sm-6 col-md-4">
                    <div class="form-group">
                        <label for="Chinesefullname">年級</label>
                        <div class="output">大學部 1 年級</div>
                    </div>
				</div>
				<div class="col-sm-6 col-md-4">
                    <div class="form-group">
                        <label>手機</label>
                        <div class="output">09368468484</div>
                    </div>
				</div>
			</div>
        </section>
		<section class="section application-section">
            <div class="section-head">
                <h4 class="block-title">身分別</h4>
            </div>
			<div class="form-group">
				<div class="certification-group">
                    <div class="output-checkbox">
                        <label>1. 中低收入戶學生</label>
						<div class="remark">
							<span class="numbering">B09501258_DC_11</span>
						</div>
                    </div>
                    <div class="certification-info md-form">
                        <div class="inner">
                            <div class="info-group">
                                <a href="#" class="btn btn-info btn-xs" data-toggle="modal" data-target="#basicExampleModal">檢視證明文件</a>
                            </div>
                        </div>
                    </div>
                </div>
				
				<div class="certification-group">
                    <div class="output-checkbox">
                        <label>2. 原住民生</label>
						<div class="remark">
							<span class="race">族別: 阿美族</span>
							<span class="numbering">B09501258_DC_11</span>
						</div>
                    </div>
                    <div class="certification-info md-form">
                        <div class="inner">
                            <div class="info-group">
                                <a href="#" class="btn btn-info btn-xs" data-toggle="modal" data-target="#basicExampleModal">檢視證明文件</a>
                            </div>
                        </div>
                    </div>
                </div>
			</div>
		</section>
		
		<section class="section application-section">
            <div class="section-head">
                <h4 class="block-title">匯款帳號</h4>
            </div>
			<div class="form-group">
				<div class="certification-group">
                    <div class="output-control">
                        <label>玉山 808<span class="ml-2">帳號 12345678910112</span></label>
                    </div>
                    <div class="certification-info md-form">
                        <div class="inner">
                            <div class="info-group">
                                <a href="#" class="btn btn-info btn-xs" data-toggle="modal" data-target="#basicExampleModal">檢視存摺影本</a>
                            </div>
                        </div>
                    </div>
                </div>
			</div>
		</section>
		
		<section class="section application-section">
            <div class="section-head">
                <h4 class="block-title">申請繳交文件</h4>
            </div>
			<div class="form-group">
                <div class="certification-group">
					<div class="output-control">
                        <label>41. 學習成果紀錄表</label>
						<div class="remark">
							<span class="numbering">B09501258_DC_52</span>
						</div>
                    </div>
                    <div class="certification-info">
                        <div class="inner">
                            <div class="info-group">
                                <a href="#" class="btn btn-info btn-xs">檢視文件</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="certification-group">
                    <div class="output-control">
                        <label>42. 參與或籌備活動證明文件</label>
						<div class="remark">
							<span class="numbering">B09501258_DC_52</span>
						</div>
                    </div>
                    <div class="certification-info">
                        <div class="inner">
                            <div class="info-group">
                                <a href="#" class="btn btn-info btn-xs">檢視文件</a>
                            </div>
                        </div>
                    </div>
                </div>
			</div>
		</section>
		
		<section class="section application-section">
            <div class="section-head">
                <h4 class="block-title">
					審查結果
					<span class="result-mark">尚未公告</span>
				</h4>
            </div>
			<p class="upload-time">送出申請時間
                <i class="fa fa-clock-o"></i>
                <span class="date">2020/02/28 18:20</span>
            </p>
			<div class="awall">
                審核中請靜候通知
            </div>
		</section>
		
		<div class="form-action">
			<a href="scheme.html" class="btn btn-lg btn-white z-depth-0"><i class="fa fa-long-arrow-left"></i> 回列表</a>
        </div>
	</div>
</div>

<!-- Modal -->
<div class="modal fade" id="basicExampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Modal 相關設定請參考 <a href="https://mdbootstrap.com/docs/jquery/modals/basic/" btn-lg">Mdbootstrap</a>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-mdb-color" data-dismiss="modal">關閉</button>
            </div>
        </div>
    </div>
</div>
































