<!-- NTU-Scholarship: 申請獎補助項目  -->

<% content_for :replace_nav do %>
<div class="collapse navbar-collapse" id="ntuNav">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="index.html">公告</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="identity.html">個人資料及身分別</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="scheme.html">全部獎補助項目</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="apply.html">
                申請獎補助項目
                <span class="count">12</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="admission.html">
                錄取獎補助項目
                <span class="count">3</span>
            </a>
        </li>
    </ul>
</div>
<% end %>

<div class="container">
	<div class="scheme-wrapper">
		
		<div class="scheme-inner">
            <h3 class="main-title"><span>學習獎補助金</span></h3>
            <h4 class="level-title"><span>F1 社會及社區服務方案</span></h4>
			
            <div class="scheme-list">
				
				<div class="scheme-card">
				    <div class="scheme-head">
					    <span class="number">02</span>
						<div class="scheme-name">
                            <h5><span>參與住宿組之社會服務方案</span></h5>
							<span class="serial">109S1N-G10-F11</span>
						</div>
					</div>
					<div class="scheme-date">
					    申請期間
						<span class="schedule">
							<i class="fa fa-clock-o"></i>
							2020/02/01 - 2020/03/01
						</span>
					</div>
					<div class="scheme-body">
					    <div class="info">綜觀世界知名大學的教學不斷創新翻轉，跳脫傳統課程安排，重視問題或目標導向學習課程設計，突破系與系間僵化限制</div>
						<div class="notes">
						    <h6>應繳交文件</h6>
							<ol>
							    <li>本申請表</li>
								<li>學習成果紀錄表</li>
								<li>參與或籌備活動證明文件</li>
							</ol>
						</div>
					</div>
					<div class="scheme-qualifications">
					    <span class="label">申請資格</span>
						<span>無限制</span>
					</div>
					<div class="scheme-foot">
						<div class="progressive">
							<span class="success">2020/01/15 18:00 送出申請</span>
						</div>
						<div class="scheme-action">
							<button type="button" class="btn btn-info btn-rounded" onclick="location.href='application_review.html'">開啟申請表</button>
						</div>
					</div>
				</div>
				
            </div>
			
			<h4 class="level-title"><span>A1 培力方案</span></h4>
				
			<div class="scheme-list">
			    
				<div class="scheme-card">
				    <div class="scheme-head">
					    <span class="number">04</span>
						<div class="scheme-name">
                            <h5>
								<span>參與社團大型活動及校級活動</span>
							</h5>
							<span class="serial">109S1N-G10-F11</span>
						</div>
					</div>
					<div class="scheme-date">
					    申請期間
						<span class="schedule">
							<i class="fa fa-clock-o"></i>
							2020/02/01 - 2020/03/01
						</span>
					</div>
					<div class="scheme-body">
					    <div class="info">綜觀世界知名大學的教學不斷創新翻轉，跳脫傳統課程安排，重視問題或目標導向學習課程設計，突破系與系間僵化限制</div>
						<div class="notes">
						    <h6>應繳交文件</h6>
							<ol>
							    <li>本申請表</li>
								<li>學習成果紀錄表</li>
								<li>參與或籌備活動證明文件</li>
							</ol>
						</div>
					</div>
					<div class="scheme-qualifications">
					    <span class="label">申請資格</span>
						<span>中低收入戶學生</span>
					</div>
					<div class="scheme-foot">
						<div class="progressive">
							<span class="danger">不錄取</span>
						</div>
						<div class="scheme-action">
                            <button type="button" class="btn btn-info btn-rounded" onclick="location.href='application_unadmit.html'">開啟申請表</button>
						</div>
					</div>
				</div>
				
				<div class="scheme-card">
				    <div class="scheme-head">
					    <span class="number">05</span>
						<div class="scheme-name">
                            <h5>
								<span>參與本校交換學生、訪問學生計畫、海外暑期課程</span>
								<span class="step">第一梯次</span>
							</h5>
							<span class="serial">109S1N-G10-F11</span>
						</div>
					</div>
					<div class="scheme-date">
					    申請期間
						<span class="schedule">
							<i class="fa fa-clock-o"></i>
							2020/02/01 - 2020/03/01
						</span>
					</div>
					<div class="scheme-body">
					    <div class="info">綜觀世界知名大學的教學不斷創新翻轉，跳脫傳統課程安排，重視問題或目標導向學習課程設計，突破系與系間僵化限制</div>
						<div class="notes">
						    <h6>應繳交文件</h6>
							<ol>
							    <li>本申請表</li>
								<li>學習成果紀錄表</li>
								<li>參與或籌備活動證明文件</li>
							</ol>
						</div>
					</div>
					<div class="scheme-qualifications">
					    <span class="label">申請資格</span>
						<span>中低收入戶學生</span>
					</div>
					<div class="scheme-foot">
						<div class="progressive">
							<span class="success">申請資料填寫中</span>
						</div>
						<div class="scheme-action">
                            <button type="button" class="btn btn-info btn-rounded" onclick="location.href='application_review.html'">開啟申請表</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="scheme-inner">
            <h3 class="main-title"><span>國際交流獎助金</span></h3>
            <div class="scheme-list">
				
				<div class="scheme-card">
				    <div class="scheme-head">
					    <span class="number">30</span>
						<div class="scheme-name">
                            <h5><span>參與住宿組之社會服務方案</span></h5>
							<span class="serial">109S1N-G10-F11</span>
						</div>
					</div>
					<div class="scheme-date">
					    申請期間
						<span class="schedule">
							<i class="fa fa-clock-o"></i>
							2020/02/01 - 2020/03/01
						</span>
					</div>
					<div class="scheme-body">
					    <div class="info">綜觀世界知名大學的教學不斷創新翻轉，跳脫傳統課程安排，重視問題或目標導向學習課程設計，突破系與系間僵化限制</div>
						<div class="notes">
						    <h6>應繳交文件</h6>
							<ol>
							    <li>本申請表</li>
								<li>學習成果紀錄表</li>
								<li>參與或籌備活動證明文件</li>
							</ol>
						</div>
					</div>
					<div class="scheme-qualifications">
					    <span class="label">申請資格</span>
						<span>獲教育部弱勢助學金補助學生</span>
					</div>
					<div class="scheme-foot">
						<div class="progressive">
							<span class="success">申請資料填寫中</span>
						</div>
						<div class="scheme-action">
                            <button type="button" class="btn btn-info btn-rounded" onclick="location.href='application_review.html'">開啟申請表</button>
						</div>
					</div>
				</div>
				
            </div>

		</div>
		
	</div>
</div>


































