<!-- NTU-Scholarship: 同意具結書  -->

<% content_for :replace_nav do %>
<div class="collapse navbar-collapse" id="ntuNav">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="index.html">公告</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="identity.html">個人資料及身分別</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="scheme.html">全部獎補助項目</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="apply.html">
                申請獎補助項目
                <span class="count">12</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="admission.html">
                錄取獎補助項目
                <span class="count">3</span>
            </a>
        </li>
    </ul>
</div>
<% end %>

<div class="container">
	<h3 class="consent-warning">請同意並確認下列事項，同意後方可送出申請</h3>
	<div class="description-content">
	    <p><%= lorem_sentences(3) %></p>
		<p><%= lorem_sentences(5) %></p>
		<p><%= lorem_sentences(6) %></p>
		<p><%= lorem_sentences(2) %></p>
	</div>
	<div class="form-action">
		<a href="complete.html" class="btn btn-lg btn-light-green">同意並送出申請表</a>
		<a href="scheme.html" class="btn btn-lg btn-link">不同意</a>
	</div>
</div>

