<!-- NTU-Scholarship: 個人資料及身分別 -->

<% content_for :replace_nav do %>
<div class="collapse navbar-collapse" id="ntuNav">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="index.html">公告</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="identity.html">個人資料及身分別</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="scheme.html">全部獎補助項目</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="apply.html">
                申請獎補助項目
                <span class="count">12</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="admission.html">
                錄取獎補助項目
                <span class="count">3</span>
            </a>
        </li>
    </ul>
</div>
<% end %>

<div class="container">
	<form>
        <section class="section">
            <div class="section-head">
                <h4 class="block-title">個人資料</h4>
            </div>
			<div class="row">
				<div class="col-sm-6 col-md-4">
                    <div class="form-group">
                        <label>姓名</label>
                        <div class="output">史嘉莉</div>
                    </div>
				</div>
				<div class="col-sm-6 col-md-4">
                    <div class="form-group">
                        <label>學號 (通知以學號信箱聯絡)</label>
                        <div class="output">B09501258</div>
                    </div>
				</div>
				<div class="col-sm-6 col-md-4">
                    <div class="form-group">
                        <label for="Chinesefullname">身份證號 (ID)</label>
                        <div class="output">F12****789</div>
                    </div>
				</div>
				<div class="col-sm-6 col-md-4">
                    <div class="form-group">
                        <label>學院</label>
                        <div class="output">電機學院</div>
                    </div>
				</div>
				<div class="col-sm-6 col-md-4">
                    <div class="form-group">
                        <label>系所單位</label>
                        <div class="output">電機系</div>
                    </div>
				</div>
				<div class="col-sm-6 col-md-4">
                    <div class="form-group">
                        <label for="Chinesefullname">年級</label>
                        <div class="output">大學部 1 年級</div>
                    </div>
				</div>
				<div class="col-sm-6 col-md-4">
                    <div class="form-group">
                        <label for="mobilePhone">手機</label>
                        <input type="text" class="form-control" id="mobilePhone">
                    </div>
				</div>
			</div>
        </section>
		<section class="section">
            <div class="section-head">
                <h4 class="block-title">身分別</h4>
            </div>
			<div class="identity-wrapper">
                <div class="form-group">
                    <h5 class="identity-label">具學雜費減免資格</h5>
					<div class="form-group-inner">
                        <div class="certification-group">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="Unchecked1">
                                <label class="custom-control-label" for="Unchecked1">中低收入戶學生</label>
                                <button type="button" class="btn-description" data-toggle="modal" data-target="#basicExampleModal" title="身分別說明"><i class="fa fa-question-circle-o "></i></button>
                            </div>
                            <div id="hideseek1" class="certification-info md-form">
                                <div class="inner">
                                    <div class="info-group">
                                        <a href="#" class="btn btn-secondary btn-xs">範例檔案</a>
                                        <a href="#" class="btn btn-info btn-xs">檢視</a>
                                        <a href="#" class="btn btn-amber btn-xs">修改</a>
                                        <a href="#" class="btn btn-danger btn-xs">刪除</a>
                                    </div>
                                    <div class="file-field">
                                        <p class="upload-time">上傳時間
                                            <i class="fa fa-clock-o"></i>
                                            <span class="date">2020/02/28 18:20</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="certification-group">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="Unchecked2">
                                <label class="custom-control-label" for="Unchecked2">低收入戶學生</label>
                                <button type="button" class="btn-description" data-toggle="modal" data-target="#basicExampleModal" title="身分別說明"><i class="fa fa-question-circle-o "></i></button>
                            </div>
                            <div id="hideseek2" class="certification-info md-form">
                                <div class="inner">
                                    <div class="info-group">
                                        <a href="#" class="btn btn-secondary btn-xs">範例檔案</a>
                                    </div>
                                    <div class="file-field">
                                        <a class="btn-floating btn-sm btn-blue-grey mt-0 float-left">
                                            <i class="fa fa-cloud-upload"></i>
                                            <input type="file">
                                        </a>
                                        <div class="file-path-wrapper">
                                            <input class="file-path validate" type="text" placeholder="上傳證明文件">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="certification-group">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="Unchecked3">
                                <label class="custom-control-label" for="Unchecked3">身心障礙人士</label>
                            </div>
                            <div id="hideseek3" class="certification-info md-form">
                                <div class="inner">
                                    <div class="info-group"></div>
                                    <div class="file-field">
                                        <a class="btn-floating btn-sm btn-blue-grey mt-0 float-left">
                                            <i class="fa fa-cloud-upload"></i>
                                            <input type="file">
                                        </a>
                                        <div class="file-path-wrapper">
                                            <input class="file-path validate" type="text" placeholder="上傳證明文件">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="certification-group">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="Unchecked4">
                                <label class="custom-control-label" for="Unchecked4">身心障礙人士子女</label>
                                <button type="button" class="btn-description" data-toggle="modal" data-target="#basicExampleModal" title="身分別說明"><i class="fa fa-question-circle-o "></i></button>
                            </div>
                            <div id="hideseek4" class="certification-info md-form">
                                <div class="inner">
                                    <div class="info-group">
                                        <a href="#" class="btn btn-secondary btn-xs">範例檔案</a>
                                    </div>
                                    <div class="file-field">
                                        <a class="btn-floating btn-sm btn-blue-grey mt-0 float-left">
                                            <i class="fa fa-cloud-upload"></i>
                                            <input type="file">
                                        </a>
                                        <div class="file-path-wrapper">
                                            <input class="file-path validate" type="text" placeholder="上傳證明文件">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="certification-group">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="Unchecked5">
                                <label class="custom-control-label" for="Unchecked5">特殊境遇家庭子女孫子女學生</label>
                                <button type="button" class="btn-description" data-toggle="modal" data-target="#basicExampleModal" title="身分別說明"><i class="fa fa-question-circle-o "></i></button>
                            </div>
                            <div id="hideseek5" class="certification-info md-form">
                                <div class="inner">
                                    <div class="info-group">
                                        <a href="#" class="btn btn-secondary btn-xs">範例檔案</a>
                                    </div>
                                    <div class="file-field">
                                        <a class="btn-floating btn-sm btn-blue-grey mt-0 float-left">
                                            <i class="fa fa-cloud-upload"></i>
                                            <input type="file">
                                        </a>
                                        <div class="file-path-wrapper">
                                            <input class="file-path validate" type="text" placeholder="上傳證明文件">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
					</div>
                </div>
				<div class="form-group">
                    <h5 class="identity-label">未符合學雜費減免資格</h5>
					<div class="form-group-inner">
                        <div class="certification-group">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="Unchecked6">
                                <label class="custom-control-label" for="Unchecked6">獲教育部弱勢助學金補助學生</label>
                                <button type="button" class="btn-description" data-toggle="modal" data-target="#basicExampleModal" title="身分別說明"><i class="fa fa-question-circle-o "></i></button>
                            </div>
                            <div id="hideseek6" class="certification-info md-form">
                                <div class="inner">
                                    <div class="info-group">
                                        <a href="#" class="btn btn-secondary btn-xs">範例檔案</a>
                                    </div>
                                    <div class="file-field">
                                        <a class="btn-floating btn-sm btn-blue-grey mt-0 float-left">
                                            <i class="fa fa-cloud-upload"></i>
                                            <input type="file">
                                        </a>
                                        <div class="file-path-wrapper">
                                            <input class="file-path validate" type="text" placeholder="上傳證明文件">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="certification-group">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="Unchecked7">
                                <label class="custom-control-label" for="Unchecked7">家庭突遭變故，經學校審核通過</label>
                                <button type="button" class="btn-description" data-toggle="modal" data-target="#basicExampleModal" title="身分別說明"><i class="fa fa-question-circle-o "></i></button>
                            </div>
                            <div id="hideseek7" class="certification-info md-form">
                                <div class="inner">
                                    <div class="info-group">
                                        <a href="#" class="btn btn-secondary btn-xs">範例檔案</a>
                                    </div>
                                    <div class="file-field">
                                        <a class="btn-floating btn-sm btn-blue-grey mt-0 float-left">
                                            <i class="fa fa-cloud-upload"></i>
                                            <input type="file">
                                        </a>
                                        <div class="file-path-wrapper">
                                            <input class="file-path validate" type="text" placeholder="上傳證明文件">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="certification-group">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="Unchecked8">
                                <label class="custom-control-label" for="Unchecked8">其他經學校審核通過</label>
                            </div>
                            <div id="hideseek8" class="certification-info md-form">
                                <div class="inner">
                                    <div class="info-group"></div>
                                    <div class="file-field">
                                        <a class="btn-floating btn-sm btn-blue-grey mt-0 float-left">
                                            <i class="fa fa-cloud-upload"></i>
                                            <input type="file">
                                        </a>
                                        <div class="file-path-wrapper">
                                            <input class="file-path validate" type="text" placeholder="上傳證明文件">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
					</div>
                </div>
				<div class="form-group">
                    <h5 class="identity-label">原住民</h5>
					<div class="form-group-inner">
                        <div class="certification-group">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="Unchecked9">
                                <label class="custom-control-label" for="Unchecked9">原住民生</label>
                                <button type="button" class="btn-description" data-toggle="modal" data-target="#basicExampleModal" title="身分別說明"><i class="fa fa-question-circle-o "></i></button>
                                <div class="d-inline-block">
                                    <select class="browser-default custom-select">
                                        <option selected>請選擇族別</option>
                                        <option value="阿美族 ">阿美族 </option>
                                        <option value="撒奇萊雅族">撒奇萊雅族</option>
                                        <option value="卡那卡那富族">卡那卡那富族</option>
                                    </select>
                                </div>
                            </div>
                            <div id="hideseek9" class="certification-info md-form">
                                <div class="inner">
                                    <div class="info-group">
                                        <a href="#" class="btn btn-secondary btn-xs">範例檔案</a>
                                    </div>
                                    <div class="file-field">
                                        <a class="btn-floating btn-sm btn-blue-grey mt-0 float-left">
                                            <i class="fa fa-cloud-upload"></i>
                                            <input type="file">
                                        </a>
                                        <div class="file-path-wrapper">
                                            <input class="file-path validate" type="text" placeholder="上傳證明文件">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
					</div>
                </div>
				<div class="form-group">
                    <h5 class="identity-label">不同教育資歷且入大學機會較少之弱勢學生</h5>
					<div class="form-group-inner">
                        <div class="certification-group">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="Unchecked10">
                                <label class="custom-control-label" for="Unchecked10">三代無人上大專者</label>
                                <button type="button" class="btn-description" data-toggle="modal" data-target="#basicExampleModal" title="身分別說明"><i class="fa fa-question-circle-o "></i></button>
                            </div>
                            <div id="hideseek10" class="certification-info md-form">
                                <div class="inner">
                                    <div class="info-group">
                                        <a href="#" class="btn btn-secondary btn-xs">範例檔案</a>
                                    </div>
                                    <div class="file-field">
                                        <a class="btn-floating btn-sm btn-blue-grey mt-0 float-left">
                                            <i class="fa fa-cloud-upload"></i>
                                            <input type="file">
                                        </a>
                                        <div class="file-path-wrapper">
                                            <input class="file-path validate" type="text" placeholder="上傳證明文件">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="certification-group">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="Unchecked11">
                                <label class="custom-control-label" for="Unchecked11">新住民學生</label>
                                <button type="button" class="btn-description" data-toggle="modal" data-target="#basicExampleModal" title="身分別說明"><i class="fa fa-question-circle-o "></i></button>
                            </div>
                            <div id="hideseek11" class="certification-info md-form">
                                <div class="inner">
                                    <div class="info-group">
                                        <a href="#" class="btn btn-secondary btn-xs">範例檔案</a>
                                    </div>
                                    <div class="file-field">
                                        <a class="btn-floating btn-sm btn-blue-grey mt-0 float-left">
                                            <i class="fa fa-cloud-upload"></i>
                                            <input type="file">
                                        </a>
                                        <div class="file-path-wrapper">
                                            <input class="file-path validate" type="text" placeholder="上傳證明文件">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="certification-group">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="Unchecked12">
                                <label class="custom-control-label" for="Unchecked12">新住民子女</label>
                            </div>
                            <div id="hideseek12" class="certification-info md-form">
                                <div class="inner">
                                    <div class="info-group"></div>
                                    <div class="file-field">
                                        <a class="btn-floating btn-sm btn-blue-grey mt-0 float-left">
                                            <i class="fa fa-cloud-upload"></i>
                                            <input type="file">
                                        </a>
                                        <div class="file-path-wrapper">
                                            <input class="file-path validate" type="text" placeholder="上傳證明文件">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
					</div>
                </div>
			</div>
		</section>
		<section class="section remittance-section">
            <div class="section-head">
                <h4 class="block-title">匯款帳號</h4>
            </div>
            <div class="form-row">
                <div class="col-sm-4 col-md-3">
                    <select class="browser-default custom-select">
                        <option selected>銀行代碼</option>
                        <option value="郵局 700">郵局 700</option>
						<option value="華南 008">華南 008</option>
                        <option value="玉山 808">玉山 808</option>
                        <option value="其他非薪轉銀行">其他非薪轉銀行</option>
                    </select>
                </div>
                <div class="col-sm-8 col-md-5">
                    <div class="form-group">
                        <input type="text" id="bankAccount" class="form-control" placeholder="銀行帳號">
                        <span class="bank-account-help">請輸入 <strong>14</strong> 碼的帳號</span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <h5 class="mb-3">上傳金融機構存簿影本</h5>
                <div class="md-form d-inline-block my-0">
                    <div class="file-field">
                        <a class="btn-floating btn-sm btn-blue-grey mt-0 float-left">
                            <i class="fa fa-cloud-upload"></i>
                            <input type="file">
                        </a>
                        <div class="file-path-wrapper">
                            <input class="file-path validate" type="text" placeholder="選擇檔案">
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <h5 class="mb-3">上傳金融機構存簿影本</h5>
                <div class="md-form d-inline-block my-0">
                    <div class="info-group">
                        <a href="#" class="btn btn-info btn-xs">檢視</a>
                        <a href="#" class="btn btn-amber btn-xs">修改</a>
                        <a href="#" class="btn btn-danger btn-xs">刪除</a>
                    </div>
                    <p class="upload-time">上傳時間
                        <i class="fa fa-clock-o"></i>
                        <span class="date">2020/02/28 18:20</span>
                    </p>
                </div>
            </div>
		</section>
		<div class="form-action">
			<button class="btn btn-lg btn-light-green" type="submit">儲存</button>
        </div>
	</form>
</div>


<!-- Modal -->
<div class="modal fade" id="basicExampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Modal 相關設定請參考 <a href="https://mdbootstrap.com/docs/jquery/modals/basic/" btn-lg">Mdbootstrap</a>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-mdb-color" data-dismiss="modal">關閉</button>
            </div>
        </div>
    </div>
</div>
					
<% content_for :js do %>
<script>
    $("#hideseek1, #hideseek2, #hideseek3, #hideseek4, #hideseek5, #hideseek6, #hideseek7, #hideseek8, #hideseek9, #hideseek10, #hideseek11, #hideseek12").hide();
    $("#Unchecked1").click(function() {
        if($(this).is(":checked")) {
            $("#hideseek1").show();
        } else {
            $("#hideseek1").hide();
        }
    });
    $("#Unchecked2").click(function() {
        if($(this).is(":checked")) {
            $("#hideseek2").show();
        } else {
            $("#hideseek2").hide();
        }
    });
    $("#Unchecked3").click(function() {
        if($(this).is(":checked")) {
            $("#hideseek3").show();
        } else {
            $("#hideseek3").hide();
        }
    });
	$("#Unchecked4").click(function() {
        if($(this).is(":checked")) {
            $("#hideseek4").show();
        } else {
            $("#hideseek4").hide();
        }
    });
    $("#Unchecked5").click(function() {
        if($(this).is(":checked")) {
            $("#hideseek5").show();
        } else {
            $("#hideseek5").hide();
        }
    });
    $("#Unchecked6").click(function() {
        if($(this).is(":checked")) {
            $("#hideseek6").show();
        } else {
            $("#hideseek6").hide();
        }
    });
	$("#Unchecked7").click(function() {
        if($(this).is(":checked")) {
            $("#hideseek7").show();
        } else {
            $("#hideseek7").hide();
        }
    });
    $("#Unchecked8").click(function() {
        if($(this).is(":checked")) {
            $("#hideseek8").show();
        } else {
            $("#hideseek8").hide();
        }
    });
    $("#Unchecked9").click(function() {
        if($(this).is(":checked")) {
            $("#hideseek9").show();
        } else {
            $("#hideseek9").hide();
        }
    });
	$("#Unchecked10").click(function() {
        if($(this).is(":checked")) {
            $("#hideseek10").show();
        } else {
            $("#hideseek10").hide();
        }
    });
    $("#Unchecked11").click(function() {
        if($(this).is(":checked")) {
            $("#hideseek11").show();
        } else {
            $("#hideseek11").hide();
        }
    });
    $("#Unchecked12").click(function() {
        if($(this).is(":checked")) {
            $("#hideseek12").show();
        } else {
            $("#hideseek12").hide();
        }
    });
</script>
<% end %>
					
					
					
					
					
					
					
					
					
					
					
					
					
					
					
					
					
					
					
					
					
					
					
					
					
					
					
					
					
					
					
					
					
					
					
					
					
					
					
					
					
					
					
					
					
					
					