<!-- NTU-Scholarship: 首頁  -->

<div class="container">
	<div class="announcement-wrapper">
        <p>為協助大學建立自我定位及發展特色，教育部自92年起陸續推動多項競爭型經費計畫（如邁向頂尖大學計畫、獎勵大學教學卓越計畫、推動典範科技大學計畫等），並輔以區域教學資源中心、區域產學合作中心、教學增能計畫及創新轉型計畫等機制協助其他學校，以全面性提升大學品質，協助大學發展特色。</p>
        <p>前揭計畫均以學校為核心，為著重學校應以學生學習為主體，教育部爰以「連結在地、接軌國際及迎向未來」為主軸，以「發展大學多元特色，培育新世代優質人才」為願景，推動高等教育深耕計畫（以下簡稱深耕計畫），分為第一部分「全面性提升大學品質及促進高教多元發展」：維護學生平等受教權，以及第二部分「協助大學追求國際一流地位及發展研究中心」：強化國際競爭力，兩大主軸推動。未來將以各大學中長程校務規劃為主體，以5年為期，自107年1月起執行至111年12月止，在「落實教學創新」、「提升高教公共性」、「發展學校特色」及「善盡社會責任」四大目標下，協助大學配合社會趨勢及產業需求進行教學方法之創新，引發學生學習熱情，提升自主學習能力，進而發展大學多元特色，培育新世代優質人才。</p>
        <p>大學教育應以培育對社會有用、能解決問題、具有跨領域綜整能力人才為第一要務，有效激發學生學習動機、創造高教價值，讓學生有所感受「被社會需要」並樂於學習。</p>
		<p>綜觀世界知名大學的教學不斷創新翻轉，跳脫傳統課程安排，重視問題或目標導向學習課程設計，突破系與系間僵化限制，提供學生學習多元彈性自主空間。此外，校園應提供學生學習失敗經驗，透過鼓勵學生學習創新創業，提供面對失敗不斷再創新的機會。同時，學生要具備國際競爭力，在語言溝通能力、數位力以及前瞻力上都需有所準備，大學責任應培養年輕人具備前瞻及洞燭外來之能力。</p>
	</div>
</div>

