	    <div class="sidenav offcanvas-collapse">
			<div class="scrollbar-inner">
                <ul class="navigation menu-item">
                    <li><a class="nav-item" href="registration.html">報名表</a></li>
                    <li><a class="nav-item" href="payment.html">繳費資訊、退費資訊</a></li>
                    <li><a class="nav-item" href="pre-test.html">前測</a></li>
                    <li>
						<a class="nav-item" data-bs-toggle="collapse" href="#collapseMenu" role="button" aria-expanded="false" aria-controls="collapseMenu">
							課程 <i class="fas fa-angle-down"></i>
						</a>
						<div class="collapse" id="collapseMenu">
							<ul class="menu-item">
								<li><a class="nav-item" href="youtube.html">第 1 節課</a></li>
								<li><a class="nav-item" href="streaming.html">第 2 節課</a></li>
								<li><a class="nav-item" href="live.html">第 3 節課</a></li>
								<% (4..8).map do |i| %>
						        <li><a class="nav-item" href="session.html">第 <%= i %> 節課</a></li>
								<% end %>
							</ul>
						</div>
					</li>
					<li><a class="nav-item" href="post-test.html">後測</a></li>
                    <li><a class="nav-item" href="questionnaire.html">結訓問卷</a></li>
                    <li><a class="nav-item" href="results.html">上課成果</a></li>
                </ul>
			</div>
		</div>