<footer class="footer">
	<div class="container-lg">
		<div class="footer-inner">
			<div class="footer-start">
                <div class="links">
                    <ul class="menu-item">
                        <li><a href="#">隱私權政策</a></li>
                        <li><a href="#">使用者條款</a></li>
                    </ul>
                </div>
                <div class="contact">
                    <ul class="menu-item">
                        <li title="聯絡電話">
                            <i class="fas fa-phone-alt"></i>
                            <span class="output">02-2358-7343</span>
                        </li>
                        <li title="信箱">
                            <i class="fas fa-envelope"></i>
                            <span class="output">
                                <span class="d-block">
                                <a href="mailto:event-tdrf@tdrf.org.tw">event-tdrf@tdrf.org.tw</a>
                                (免費課程)
                                </span>
                                <span class="d-block">
                                    <a href="mailto:tdrf_learning@tdrf.org.tw">tdrf_learning@tdrf.org.tw</a>
                                    (收費課程)
                                </span>
                            </span>
                        </li>
                        <li title="地址">
                            <i class="fas fa-map-marker-alt"></i>
                            <span class="output">10092台北市中正區愛國東路22號10樓</span>
                        </li>
                    </ul>
                </div>
			</div>
			<address>Copyright © 財團法人藥害救濟基金會 | All Rights Reserved</address>
		</div>
	</div>
</footer>