<header class="header">
    <div class="container-lg">
		<div class="header-wrap">
			<div class="brands">
				<a href="../general/index.html">
                    <div class="logo">
                        <h1 class="text-hide">財團法人藥害救濟基金會</h1>
                        <img class="h1-logo" src="../assets/logo@2x.png" />
						<img class="h1-logo-single" src="../assets/logo-single@2x.png" />
                    </div>
				</a>
			</div>
			<div class="account">
				<!-- a href="#" class="login"><i class="far fa-user-circle"></i> 登入</a -->
                <div class="dropdown">
                    <a class="dropdown-toggle login" id="accountDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="far fa-user-circle"></i> 史嘉蕾
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="accountDropdown">
                        <li><a class="dropdown-item" href="#">個人資訊</a></li>
                        <li><a class="dropdown-item" href="#">我參加的課程</a></li>
                        <li><a class="dropdown-item" href="#">登出</a></li>
                    </ul>
                </div>
			</div>
		</div>
    </div>
</header>