<header class="header">
    <div class="container-lg">
		<div class="header-wrap">
			<div class="brands">
				<a href="../general/index.html">
                    <div class="logo">
                        <h1 class="text-hide">財團法人藥害救濟基金會</h1>
                        <img class="h1-logo h1-logo-event" src="../assets/logo@2x.png" />
						<img class="h1-logo-single" src="../assets/logo-single@2x.png" />
                    </div>
				</a>
			</div>
		</div>
    </div>
</header>