<!-- template: 首頁 (英文版範本) -->

<!-- 英文版範本只為確認 header 排版不會爆炸 -->
<div class="container-lg">
	<div class="index-content">
        <div class="search-wrapper">
			<h4 class="mb-3">搜尋活動</h4>
            <div class="form-group">
                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="請輸入活動名稱關鍵字">
            </div>
            <div class="form-group">
                <label class="form-label" for="datepicker">日期區間</label>
				<div class="row">
				    <div class="col-6">
                        <div class="input-group date" id="datepicker">
                            <input class="form-control" placeholder="MM/DD/YYYY" />
                            <span class="input-group-append input-group-addon">
                                <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                            </span>
                        </div>
					</div>
					<div class="col-6">
                        <div class="input-group date" id="datepicker">
                            <input class="form-control" placeholder="MM/DD/YYYY" />
                            <span class="input-group-append input-group-addon">
                                <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                            </span>
                        </div>
					</div>
				</div>
            </div>
			<button type="button" class="btn btn-primary"><i class="fas fa-search"></i> 搜尋</button>
        </div>
		<ul class="menu-item events-list">
			<% (1..3).map do |i| %>
		    <li class="event-item">
			    <div class="event-card">
				    <div class="card-head">
					    <h5>東華與澳洲昆士蘭語言機構 EMI證照密集工作坊</h5>
					</div>
					<div class="card-body">
					    <div class="date-group">
						    <span class="label">開放報名日期</span>
							<span class="date">2022/09/30</span>
						</div>
						<div class="date-group">
						    <span class="label">活動日期</span>
							<span class="date">2022/10/01 至 2022/11/30</span>
						</div>
					</div>
					<div class="card-foot">
					    <a href="#" class="btn btn-third">檢視活動</a>
					</div>
				</div>
			</li>
			<li class="event-item">
			    <div class="event-card">
				    <div class="card-head">
					    <h5>EMI 高峰會系列講座</h5>
					</div>
					<div class="card-body">
					    <div class="date-group">
						    <span class="label">開放報名日期</span>
							<span class="date">2022/09/30</span>
						</div>
						<div class="date-group">
						    <span class="label">活動日期</span>
							<span class="date">2022/10/01 至 2022/11/30</span>
						</div>
					</div>
					<div class="card-foot">
					    <a href="#" class="btn btn-third">檢視活動</a>
					</div>
				</div>
			</li>
			<li class="event-item">
			    <div class="event-card">
				    <div class="card-head">
					    <h5>2022 EMI 全英授課語言使用全攻略 工作坊</h5>
					</div>
					<div class="card-body">
					    <div class="date-group">
						    <span class="label">開放報名日期</span>
							<span class="date">2022/09/30</span>
						</div>
						<div class="date-group">
						    <span class="label">活動日期</span>
							<span class="date">2022/10/01 至 2022/11/30</span>
						</div>
					</div>
					<div class="card-foot">
					    <a href="#" class="btn btn-third">檢視活動</a>
					</div>
				</div>
			</li>
			<% end %>
			<li class="event-item">
			    <div class="event-card">
				    <div class="card-head">
					    <h5>Let’s talk about 預約名單</h5>
					</div>
					<div class="card-body">
					    <div class="date-group">
						    <span class="label">開放報名日期</span>
							<span class="date">2022/09/30</span>
						</div>
						<div class="date-group">
						    <span class="label">活動日期</span>
							<span class="date">2022/10/01 至 2022/11/30</span>
						</div>
					</div>
					<div class="card-foot">
					    <a href="#" class="btn btn-third">檢視活動</a>
					</div>
				</div>
			</li>
			<li class="event-item">
			    <div class="event-card">
				    <div class="card-head">
					    <h5>自學型說寫語言診斷</h5>
					</div>
					<div class="card-body">
					    <div class="date-group">
						    <span class="label">開放報名日期</span>
							<span class="date">2022/09/30</span>
						</div>
						<div class="date-group">
						    <span class="label">活動日期</span>
							<span class="date">2022/10/01 至 2022/11/30</span>
						</div>
					</div>
					<div class="card-foot">
					    <a href="#" class="btn btn-third">檢視活動</a>
					</div>
				</div>
			</li>
		</ul>
        <nav aria-label="...">
            <ul class="pagination justify-content-end">
                <li class="page-item disabled">
                    <a class="page-link">Previous</a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item active" aria-current="page">
                    <a class="page-link" href="#">2</a>
                </li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                    <a class="page-link" href="#">Next</a>
                </li>
            </ul>
        </nav>
	</div>
</div>



<% content_for :js do %>
    <!-- date & time picker -->
    <script src="../javascripts/moment.min.js"></script>
    <script src="../javascripts/bootstrap-datetimepicker.min.js"></script>
    <script>
        if (/Mobi/.test(navigator.userAgent)) {
            // if mobile device, use native pickers
            $(".date input").attr("type", "date");
            $(".time input").attr("type", "time");
        } else {
            // if desktop device, use DateTimePicker
            $("#datepicker").datetimepicker({
                useCurrent: false,
                format: "DD-MMM-YYYY",
                showTodayButton: true,
                icons: {
                    next: "fa fa-chevron-right",
                    previous: "fa fa-chevron-left",
                    today: "todayText",
                },
            });
            $("#timepicker").datetimepicker({
                format: "LT",
                icons: {
                    up: "fa fa-chevron-up",
                    down: "fa fa-chevron-down",
                },
            });
        }
    </script>
<% end %>

