<!-- template: 首頁 -->

<div class="container-lg">
	<div class="index-content">
	    <main class="main">
            <div class="page-title">
                <h3>公告 <small>Announcement</small></h3>
            </div>
			<div class="text-content">
			    <p>編輯器上稿 <%= lorem_paragraphs(3) %></p>
				<p><%= lorem_paragraphs(3) %></p>
				<p><%= lorem_paragraphs(3) %></p>
			</div>
		</main>
		<aside class="aside">
		<div class="login-card">
		    <div class="card-hd">
			    <h4 class="text-center">登入 Login</h4>
			</div>
			<div class="card-bd">
                <div class="form-group">
                    <label for="exampleFormControlInput1" class="form-label">電子郵件 Email</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1" />
                </div>
                <div class="form-group">
                    <label for="exampleFormControlInput2" class="form-label">密碼 Password</label>
                    <input type="password" class="form-control" id="exampleFormControlInput2" />
                    <div class="form-text text-end"><a href="#">忘記密碼 Forgot password</a></div>
                </div>
                <!--div class="form-group">
                    <label for="loginInput4" class="form-label">Verification code</label>
                    <div class="d-flex align-items-center">
                        <span class="me-1"><input type="text" class="form-control" id="loginInput4" /></span>
                        <span class="me-1"><img class="captcha" src="http://nfu-map.dev.com.tw/common/captcha.image" /></span>
                        <span>
                            <button class="btn btn-xs btn-outline-primary" type="button"><i class="fas fa-sync-alt"></i></button>
                        </span>
                    </div>
                </div-->
			</div>
            <div class="login-action">
                <button class="btn btn-block btn-lg btn-primary" type="button">登入 Sign in</button>
            </div>
            <div class="login-function">
                <div class="wrap-start">
                    <a href="#">
                        <span>註冊</span>
                        <span>Register</span>
                    </a>
                </div>
                <div class="wrap-end">
                    <a href="#">
                        <span>重新寄送認證信</span>
                        <span>Send verification mail again</span>
                    </a>
                </div>
            </div>
		</div>
		</aside>
	</div>
</div>



<% content_for :js do %>

<% end %>

