@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');

@import "vendor/font-awesome/font-awesome";
@import "widgets/variables";
@import "partials/header";
@import "partials/footer";

/* `Base
-----------------------------------------------------------------------------*/

html, body {
	height: 100%;
	min-height: 100%;
}

body {
	font-family: 'Apple LiGothic Medium', '\5FAE\8EDF\6B63\9ED1\9AD4', Helvetica, Arial, sans-serif;
	                                                     // 微軟正黑體
    line-height: 1.6;
	font-size: $base_font_size;
	font-weight: 400;
	color: #333;
}

body { background: darken(desaturate($main_color, 3), 2); }

.pages {
	background: $body_background;
	padding-bottom: 60px;
}

strong { font-weight: bold; }

.mobile-only { display: none; }

a {
	color: $link;
	&:focus {
		outline: none; /* for Firefox Google Chrome  */
		behavior: expression(this.onFocus=this.blur()); /* for IE */
	}
}

a:hover { color: $link_hover; }

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #aaa !important;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #aaa !important;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #aaa !important;
}

.menu-item, .menu-item li {
	list-style: none;
	margin: 0;
	padding: 0;
}

.btn, .btn.btn-md, .btn.btn-sm { font-size: 100%; } /* 覆蓋 mdbootstrap */

p { line-height: 1.8; }

.hide { display: none; }

.un-shadows { box-shadow: none; }

.btn.un-shadows {
	box-shadow: none;
	&:hover, &:active, &:focus { box-shadow: none; }
}

.btn.btn-xs {
	border-radius: 0.2rem;
	padding: 0.25rem 0.5rem 0.35rem;
	font-size: 0.875rem;
	line-height: 1.2;
	word-break: keep-all;
}

.btn.btn-white {
	background-color: transparent;
	border: 1px solid #ccc;
	color: #333;
	&:hover, &:active, &:focus { box-shadow: none; }
	&:hover, &:focus {
		border-color: #333;
	}
}

select.browser-default {
	border-radius: 0.25rem;
	border: 1px solid #ced4da;
	box-shadow: none;
	padding: 7px;
	width: 100%;
	color: #333;
}

.custom-select.xs {
	padding: 0.2rem 1.75rem 0.275rem 0.75rem;
	height: calc(1.8rem + 2px);
}

.table {
	.btn { margin: 0; }
	.highlight {
		td { background-color: #fffde7; }
	}
}

.keep-all { word-break: keep-all; }

@media (max-width: 575px) {
	//.keep-all { word-break: normal; }
}

.form-control { font-size: 0.9375rem; }

.normal-link {
	color: $main_color !important;
	text-decoration: underline;
	&:hover { color: darken($main_color, 10) !important; }
}

/* `覆蓋 MDB
-----------------------------------------------------------------------------*/

h1, h2, h3, h4, h5, h6 { font-weight: 400; }

table td {
	font-weight: 400;
}

.navbar {
    font-weight: 400;
}

.md-form .prefix {
	top: 1rem;
	font-size: 1.25rem;
	&.grey-text { color: #ccc !important; }
}

.md-form label.active {
	color: $main_color !important;
}

.md-form .form-control {
	padding: 0.3rem 0 0.55rem 0;
}

.select-wrapper input.select-dropdown { margin-bottom: -19px; }