<!-- NKUST-Subsidy: 首頁 -->

<div class="main-wrapper">
    <div class="container">
		<div class="info-well">
		    <h4><span class="years">2020</span> 出國交換生補助</h4>
			<ul class="menu-item">
			    <li>
				    <span class="label">申請時間</span>
					<span class="info">2020 / 04.01 - 2020 / 04.30</span>
				</li>
				<li>
				    <span class="label">名額</span>
					<span class="info">10</span>
				</li>
				<li>
				    <span class="label">負責人</span>
					<span class="info">
					    <span class="item">陳小明</span>
						<span class="item"><i class="fa fa-phone"></i> 07-1123-4456 # 1045</span>
						<span class="item"><i class="fa fa-envelope-o"></i> abc123@gmail.com</span>
					</span>
				</li>
			</ul>
		</div>
        <div class="mb-5">
			<h5>補助簡介</h5>
            <p><%= lorem_paragraphs(3) %></p>
            <p><%= lorem_paragraphs(2) %></p>
            <p><%= lorem_paragraphs(2) %></p>
        </div>
    </div>
</div>