<!-- NKUST-Subsidy: 步驟三  結果查詢 -->

<div class="main-wrapper">
    <div class="container">
        <div class="step-bar">
            <ul>
                <li class="done">
                    <span>
                        <span class="step">1</span>
                        <h4>填寫申請表</h4>
                    </span>
                </li>
                <li class="done">
                    <span>
                        <span class="step">2</span>
                        <h4>上傳申請文件</h4>
                    </span>
                </li>
                <li class="active">
                    <span>
                        <span class="step">3</span>
                        <h4>審查結果查詢</h4>
                    </span>
                </li>
            </ul>
        </div>
		<div class="info-well">
		    <h4><span class="years">2020</span> 出國交換生補助</h4>
			<ul class="menu-item">
			    <li>
				    <span class="label">補助金額</span>
					<span class="info">2000</span>
				</li>
				<li>
				    <span class="label">審查結果</span>
					<span class="info">通過</span>
				</li>
			</ul>
		</div>
        <div class="mb-5">
			<h5>補助簡介</h5>
            <p><%= lorem_paragraphs(3) %></p>
            <p><%= lorem_paragraphs(2) %></p>
            <p><%= lorem_paragraphs(2) %></p>
        </div>
    </div>
</div>