<!-- NKUST-Subsidy: 步驟一  填寫申請表 -->

<div class="main-wrapper">
    <div class="container">
        <div class="step-bar">
            <ul>
                <li class="active">
                    <span>
                        <span class="step">1</span>
                        <h4>填寫申請表</h4>
                    </span>
                </li>
                <li>
                    <span>
                        <span class="step">2</span>
                        <h4>上傳申請文件</h4>
                    </span>
                </li>
                <li>
                    <span>
                        <span class="step">3</span>
                        <h4>審查結果查詢</h4>
                    </span>
                </li>
            </ul>
        </div>
        <div class="step-container">
            <form>
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label for="chinesetName"><span class="required">*</span>中文姓名</label>
                            <input type="text" class="form-control" id="chinesetName" placeholder="">
                        </div>
                        <div class="form-group">
                            <label for="passportName">護照英文姓名</label>
                            <input type="text" class="form-control" id="passportName" placeholder="">
                        </div>
                        <div class="form-group">
                            <label class="d-block"><span class="required">*</span>性別</label>
                            <div class="form-check form-check-inline">
                                <input type="radio" class="form-check-input" id="genderMale" name="inlineGender">
                                <label class="form-check-label" for="genderMale">Male</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input type="radio" class="form-check-input" id="genderFemale" name="inlineGender">
                                <label class="form-check-label" for="genderFemale">Female</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label><span class="required">*</span>出生日期</label>
                            <div class="form-row">
                                <div class="col">
                                    <select class="browser-default custom-select">
                                        <option selected>Years</option>
                                        <option value="2000">2000</option>
                                        <option value="1999">1999</option>
                                        <option value="1998">1998</option>
                                    </select>
                                </div>
                                <div class="col">
                                    <select class="browser-default custom-select">
                                        <option selected>Month</option>
                                        <option value="january">January</option>
                                        <option value="february">February</option>
                                        <option value="march">March</option>
                                    </select>
                                </div>
                                <div class="col">
                                    <select class="browser-default custom-select">
                                        <option selected>Day</option>
                                        <option value="1">01</option>
                                        <option value="2">02</option>
                                        <option value="3">03</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="IDnumber"><span class="required">*</span>身份證字號</label>
                            <input type="text" class="form-control" id="IDnumber" placeholder="">
                        </div>
                    </div>
                    <div class="col">
                        <div class="avatar-wrap">
                            <form class="md-form mt-0">
                                <div class="file-field">
                                    <div class="avatar">
                                        <img src="../assets/default-avatar.svg" class="img-fluid" alt="">
                                    </div>
                                    <a href="/" class="btn btn-delete btn-sm btn-amber btn-rounded"><i class="fa fa-times"></i> <span>Delete</span></a>
                                    <div class="d-flex justify-content-center">
                                        <div class="btn aqua-gradient btn-sm btn-rounded float-left">
                                            <span>Upload photo</span>
                                            <input type="file">
                                        </div>
                                    </div>
                                    <small class="text-center form-text text-muted">JPG file, in the last six months, uncapped half-length color photo for student ID production</small>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label for="formDepartment"><span class="required">*</span>系所</label>
                            <div>
                                企業管理學系
                                <div class="d-inline-block ml-2">
                                    <input type="text" class="form-control" id="formDepartment" placeholder="年級 ">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label><span class="required">*</span>學號</label>
                            <div class="output">A9328011</div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="formInstructor"><span class="required">*</span>指導老師</label>
                    <input type="text" class="form-control" id="formInstructor" placeholder="">
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label for="cellphoneNumber"><span class="required">*</span>手機號碼</label>
                            <input type="text" class="form-control" id="cellphoneNumber" placeholder="">
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label for="homePhone">住家電話</label>
                            <input type="text" class="form-control" id="homePhone" placeholder="">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="residenceAddress">戶籍地址</label>
                    <div class="form-row">
                        <div class="col-2">
                            <input type="email" class="form-control" id="" placeholder="郵遞區號">
                        </div>
                        <div class="col-10">
                            <input type="text" class="form-control" id="residenceAddress" placeholder="請輸入完整地址">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="mailingAddress">
                        <span class="required">*</span>現居地址
                        <div class="custom-control custom-checkbox d-inline-block ml-2">
                            <input type="checkbox" class="custom-control-input" id="defaultUnchecked">
                            <label class="custom-control-label" for="defaultUnchecked">同上</label>
                        </div>
                    </label>
                    <div class="form-row">
                        <div class="col-2">
                            <input type="email" class="form-control" id="" placeholder="郵遞區號">
                        </div>
                        <div class="col-10">
                            <input type="text" class="form-control" id="mailingAddress" placeholder="請輸入完整地址">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label>Email</label>
                    <div class="output">A9328011@nckust.edu.tw</div>
                </div>
                <div class="form-group">
                    <label>在學成績</label>
                    <div class="form-row">
                        <div class="col-4">
                            <input type="text" class="form-control" placeholder="歷年平均成績 ">
                        </div>
                        <div class="col-4">
                            <input type="text" class="form-control" placeholder="班排名百分比">
                        </div>
                        <div class="col-4">
                            <input type="text" class="form-control" placeholder="操行成績">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label><span class="required">*</span>身分別</label>
                    <select class="browser-default custom-select">
                        <option selected>請選擇</option>
                        <option value="本國籍學生">本國籍學生</option>
                        <option value="僑生">僑生</option>
                        <option value="陸生">陸生</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>特殊身分</label>
                    <div>
                        <div class="custom-control custom-checkbox custom-control-inline">
                            <input type="checkbox" class="custom-control-input" id="newResident">
                            <label class="custom-control-label" for="newResident">新住民</label>
                        </div>
                        <div class="custom-control custom-checkbox custom-control-inline">
                            <input type="checkbox" class="custom-control-input" id="formAborigines">
                            <label class="custom-control-label" for="formAborigines">原住民</label>
                        </div>
                        <div class="custom-control custom-checkbox custom-control-inline">
                            <input type="checkbox" class="custom-control-input" id="low-incomeHouseholds">
                            <label class="custom-control-label" for="low-incomeHouseholds">低收入戶</label>
                        </div>
                        <div class="custom-control custom-checkbox custom-control-inline">
                            <input type="checkbox" class="custom-control-input" id="middle-incomeHouseholds">
                            <label class="custom-control-label" for="middle-incomeHouseholds">中低收入戶</label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="formOther"><span class="required">*</span>其他說明</label>
                    <textarea class="form-control rounded-0" id="formOther" rows="6"></textarea>
                </div>
                <div class="text-center">
                    <a href="#" class="btn btn-default btn-lg">下一步</a>
                </div>
            </form>
        </div>
    </div>
</div>






















