        <div id="slide-out" class="sidenav custom-scrollbar">
            <div id="accordian_nav">
                <ul>
                    <li class="has-child">
                        <h3>
                            <a href="#">Study Abroad Programs</a>
                        </h3>
                        <ul>
                            <li><a href="#">Study Abroad Programs and On Campus International Experience</a></li>
                            <li><a href="#">2020/2021 Study Abroad Fair</a></li>
                            <li><a href="#">Lucky Draw Winners</a></li>
                            <li><a href="#">FAQ (in Chinese)</a></li>
                        </ul>
                    </li>
                    <li class="has-child">
                        <h3>
                            <a href="#">Study Abroad Fair</a>
                        </h3>
                        <ul>
                            <li><a href="#">Today's tasks</a></li>
                            <li>
                                <a href="#">Scholarships for Exchange Student</a>
                                <ul>
                                    <li><a href="#">Today's tasks</a></li>
                                    <li><a href="#">Urgent</a></li>
                                    <li><a href="#">Overdues</a></li>
                                    <li><a href="#">Recurring</a></li>
                                    <li><a href="#">Settings</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">List of Previous Exchange Students and Reports (In Chinese)</a>
                                <ul>
                                    <li><a href="#">Today's tasks</a></li>
                                    <li><a href="#">Urgent</a></li>
                                    <li><a href="#">Overdues</a></li>
                                    <li><a href="#">Recurring</a></li>
                                    <li><a href="#">Settings</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Recurring</a></li>
                            <li><a href="#">Settings</a></li>
                        </ul>
                    </li>
					<li>
                        <h3>
                            <a href="#">Overseas Internship Programs</a>
                        </h3>
                    </li>
                    <li class="has-child">
                        <h3>
                            <a href="#">Dual Degree Programs</a>
                        </h3>
                        <ul>
                            <li><a href="#">Dual Degree Programs</a></li>
                            <li><a href="#">Temple University Dual Bachelor's Master's Degree</a></li>
                            <li><a href="#">KU Leuven & IMEC Dual Doctor's Degree</a></li>
                            <li><a href="#">Previous Week</a></li>
                            <li><a href="#">Next Month</a></li>
                            <li><a href="#">Next Week</a></li>
                            <li><a href="#">Team Calendar</a></li>
                            <li><a href="#">Private Calendar</a></li>
                            <li><a href="#">Settings</a></li>
                        </ul>
                    </li>
                    <li class="has-child">
                        <h3>
                            <a href="#">On Campus International Experience</a>
                        </h3>
                        <ul>
                            <li><a href="#">Global favs</a></li>
                            <li><a href="#">My favs</a></li>
                            <li><a href="#">Team favs</a></li>
                            <li><a href="#">Settings</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
		</div>