<!-- admin-page: 藥害救濟基金會 login -->

<% content_for :replace_css do %>
    <link rel="stylesheet" media="screen" href="../stylesheets/vendor/bootstrap/bootstrap.css">
    <link rel="stylesheet" media="screen, projection, print" href="../stylesheets/mdb.css">
    <link rel="stylesheet" media="screen, projection, print" href="../stylesheets/backend.css">
<% end %>

<div class="login-bg"></div>
<div class="login-bg login-bg2"></div>
<div class="login-bg login-bg3"></div>
<div class="tdrf_login-wrapper">
    <div class="tdrf_login-container">
        <h1 class="logo"><img class="logo__img" src="../assets/logo-tdrf@2x.png" alt="TDRF Logo" title="財團法人藥害救濟基金會" /></h1>
		<hgroup>
            <h3>藥害救濟基金會</h3>
            <h4 class="font-weight-bold">藥害救濟申請管理系統</h4>
		</hgroup>
        <form>
            <div class="md-form">
                <input type="email" id="materialLoginFormEmail" class="form-control">
				<label for="materialLoginFormEmail">帳號</label>
            </div>
            <div class="md-form">
                <input type="password" id="materialLoginFormPassword" class="form-control">
				<label for="materialLoginFormPassword">密碼</label>
            </div>
            <div class="form-row">
                <div class="col-7 col-md-5 mb-0">
                    <div class="md-form mt-0">
                        <input type="text" id="CAPTCHA" class="form-control mb-4">
						<label for="CAPTCHA">驗證碼</label>
                    </div>
                </div>
                <span class="col-5 col-md-7 mb-0 input-group-addon verification">
                    <img src="http://nfu-map.dev.com.tw/common/captcha.image">
					<button class="btn btn-xs btn-warning mx-0" type="button" title="Refresh">
					    <i class="fa fa-refresh mr-0"></i>
					</button>
                </span>
            </div>
            <!--div class="form-check pl-0">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
                <label class="form-check-label" for="flexCheckDefault">Remember me</label>
            </div-->
            <div class="text-center my-4">
				<button class="btn btn-outline-main btn-rounded z-depth-0" type="submit">登入</button>
            </div>
			<p class="forget-password"><a href="password.html">忘記密碼?</a></p>
        </form>
    </div>
</div>

<% content_for :js do %>

<% end %>