
@import "vendor/font-awesome/font-awesome";
@import "widgets/variables";
@import "partials/header";
@import "partials/footer";

/* `Base
-----------------------------------------------------------------------------*/

html, body {
	height: 100%;
	min-height: 100%;
}

body {
	font-family: 'Roboto', 'Apple LiGothic Medium', '\5FAE\8EDF\6B63\9ED1\9AD4', Helvetica, Arial, sans-serif;
    line-height: 1.6;
	font-size: 15px;
	color: #333;
}

a {
	color: $main_color;
	&:focus {
		outline: none; /* for Firefox Google Chrome  */
		behavior: expression(this.onFocus=this.blur()); /* for IE */
	}
}

a:hover { color: darken($main_color, 15%); }

p { line-height: 1.8; }

.un-shadows { box-shadow: none; }

.btn.un-shadows {
	box-shadow: none;
	&:hover, &:active, &:focus { box-shadow: none; }
}

.btn.btn-sm { font-size: 100%; }

.btn.btn-xs {
	border-radius: 0.2rem;
	padding: 0.25rem 0.5rem 0.35rem;
	font-size: 0.875rem;
	line-height: 1.2;
	word-break: keep-all;
}

.btn.btn-white {
	background-color: transparent;
	border: 1px solid #ccc;
	color: #333;
	&:hover, &:active, &:focus { box-shadow: none; }
	&:hover, &:focus {
		border-color: #333;
	}
}

.custom-select.xs {
	padding: 0.2rem 1.75rem 0.275rem 0.75rem;
	height: calc(1.8rem + 2px);
}

.table {
	.btn { margin: 0; }
	.highlight {
		td { background-color: #fffde7; }
	}
}

.keep-all { word-break: keep-all; }

@media (max-width: 575px) {
	.keep-all { word-break: normal; }
}

.form-control { font-size: 0.9375rem; }

.normal-link {
	color: $main_color !important;
	text-decoration: underline;
	&:hover { color: darken($main_color, 10) !important; }
}

.menu-item, .menu-item li {
	list-style: none;
	margin: 0;
	padding: 0;
}

/* `覆蓋 MDB input & label & slect 樣式
-----------------------------------------------------------------------------*/

.md-form .prefix {
	top: 1rem;
	font-size: 1.25rem;
	&.grey-text { color: #ccc !important; }
}

.md-form input[type="text"]:focus:not([readonly]), .md-form input[type="password"]:focus:not([readonly]), .md-form input[type="email"]:focus:not([readonly]), .md-form input[type="url"]:focus:not([readonly]), .md-form input[type="time"]:focus:not([readonly]), .md-form input[type="date"]:focus:not([readonly]), .md-form input[type="datetime-local"]:focus:not([readonly]), .md-form input[type="tel"]:focus:not([readonly]), .md-form input[type="number"]:focus:not([readonly]), .md-form input[type="search-md"]:focus:not([readonly]), .md-form input[type="search"]:focus:not([readonly]), .md-form textarea.md-textarea:focus:not([readonly]) {
	border-bottom: 1px solid $main_color;
	box-shadow: 0 1px 0 0 $main_color;
}

.md-form label.active {
	color: $main_color !important;
}

.select-wrapper input.select-dropdown { margin-bottom: -19px; }