

@import "base";

.page-link { color: $main_color; }

body { background: $body_background; }

.login_page {
	background: url(../assets/bg.jpg) center center;
	background-size: cover;
	.container { max-width: 768px; }
	header.header { margin-bottom: 20px; }
}

.login-modal {
	.modal-dialog {
		margin-top: 0;
		max-width: 100%;
	}
	.modal-content { border: none; }
	.captcha-img {
		display: inline-block;
		margin: 0 10px;
	}
	.modal-footer { justify-content: center; }
}

.main-block {
	background: #fff;
	border-radius: 5px;
    box-shadow: 0 1px 2px rgba(#000, .04);
    .main-inner { padding: 1.25rem 1rem 2rem; }
}

main.main-block {
	padding: 1.5rem;
	&.extended {
		padding: 0;
		& > .table thead th { border-top: 0; }
		.main-inner { padding: 2rem; }
	}
}

input.number {
	border: 1px solid #dee2e6;
	border-radius: 2px;
	width: 65px;
}

.page-title {
	background: #f4f4f4;
	border-bottom: 1px solid #e5e5e5;
	margin: 0 -15px;
	padding: 1.1rem 1.75rem;
}

.form-title {
	margin: 2rem 0 1rem;
	font-weight: bold;
}

.form-request {
	padding-left: 0.25rem;
	font-size: 18px;
	font-weight: bold;
	color: #e91e63;
}

/* `Sidenav
-----------------------------------------------------------------------------*/

.sidenav {
	margin-right: -30px;
	ul, li {
		list-style: none;
		margin: 0;
		padding: 0;
	}
	.menu-item {
		border-bottom: 1px solid #e5e5e5;
		&:last-child { border-bottom: none; }
	}
	.btn {
		display: block;
		padding: 20px 0;
        width: 100%;
		font-size: 18px;
		font-weight: bold;
        color: $main_color !important;
        text-align: left;
        text-transform: none;
        &:hover, &:focus { text-decoration: none; }
	}
	.has-sub {
        .btn { padding-right: 30px; }
		.btn:before {
		   font-family: 'FontAwesome';
		   content: "\f107";
		   float: right;
		   transition: all 0.1s;
		}
	}
	.panel-heading.active .btn:before {
		transform: rotate(180deg);
	}
	.sub-menu {
		padding: 0 0 20px 20px;
		font-size: 16px;
		a {
			display: block;
			padding: 5px 0;
			color: #aaa;
			&:hover { text-decoration: none; }
		}
		.completed a { color: #333; }
		.current a {
			font-weight: bold;
			color: #000;
		}
	}
	.menu-before .btn { color: $before_color !important; }
	.menu-after .btn { color: $after_color !important; }
	.menu-leaving .btn { color: $leaving_color !important; }
	a { padding-right: 30px !important; }
}

/* `Doc List
-----------------------------------------------------------------------------*/

.doc-list {
	li {
		border-bottom: 1px solid #e5e5e5;
		margin-bottom: 1.25rem;
		padding-bottom: 1.5rem;
	}
	&.leaving li:last-child {
		border: none;
		margin-bottom: 0;
		padding-bottom: 0;
	}
	h5 { font-size: 18px; }
	.list-bd {
		margin: 1rem 0;
	}
	.list-ft { margin-top: 1rem; }
	.list-ft.d-flex {
		justify-content: space-between;
		align-items: center;
	}
	.date { color: #999; }
	.avatar {
		background: #f9f9f9;
		border: 1px solid #f1f1f1;
		width: 256px;
		height: 256px;
	}
}

.progress {
	border-radius: 0.75rem;
	height: 1.5rem;
}

.experience-photos, .experience-photos li {
	list-style: none;
	margin: 0;
	padding: 0;
}

.experience-photos {
	li {
		float: left;
		margin: 0 20px 20px 0;
		position: relative;
		width: auto;
		height: 200px;
		&:before {
			content: "";
			transition: all 0.1s linear 0s;
			background: #000;
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			z-index: 2;
			opacity: 0;
		}
		.action {
			transition: all 0.1s linear 0s;
			text-align: center;
			position: absolute;
			top: 40%;
			right: 0;
			left: 0;
			opacity: 0;
			z-index: 3;
		}
	}
	li:hover {
		&:before { opacity: .75; }
		.action { opacity: 1; }
	}
	img {
		width: auto;
		max-height: 200px;
	}
}

/* `Partner
-----------------------------------------------------------------------------*/

.partner-avatar {
	margin-bottom: 2rem;
	text-align: center;
	img {
		max-width: 256px;
		height: auto;
	}
}

.partner-info, .student-info {
	border-bottom: 1px solid #e5e5e5;
	margin-bottom: 2rem;
	padding-bottom: 1rem;
	text-align: center;
	h5 { font-weight: 700; }
}

.partner-statistics,
.partner-statistics li,
.student-statistics,
.student-statistics li,
.label-item,
.label-item li {
	list-style: none;
	margin: 0;
	padding: 0;
}

.partner-statistics,
.student-statistics {
	li {
		display: flex;
		justify-content: space-between;
		border-bottom: 1px dashed #e5e5e5;
		margin-bottom: 1rem;
		padding-bottom: 1rem;
		&:last-child {
			border: none;
			margin-bottom: 0;
		}
	}
}

.has-scroll {
	overflow-x: scroll;
}

.student-avatar {
	margin-bottom: 2rem;
	padding: 0 10%;
	text-align: center;
	img {
		width: 100%;
		height: auto;
	}
}

.label-item {
	li {
		border-bottom: 1px dashed #e5e5e5;
		margin-bottom: 1rem;
		padding-bottom: 1rem;
		&:last-child {
			border: none;
			margin-bottom: 0;
		}
	}
}

/* `Step
-----------------------------------------------------------------------------*/

.step-bar {
	margin: 40px auto;
	text-align: center;
	ul, li {
		display: inline-block;
		list-style: none;
		margin: 0;
		padding: 0;
	}
	li {
		float: left;
		width: 200px;
		font-weight: 400;
	}
	.step {
		display: block;
		border-radius: 20px;
		border: 4px solid #bfbfbf;
		margin: 0 0 12px 80px;
		width: 40px;
		height: 40px;
		font-size: 20px;
		font-weight: 400;
		color: #666;
		line-height: 32px;
		position: relative;
		&:before, &:after {
			content: "";
			background: #bfbfbf;
			width: 65px;
			height: 4px;
			position: absolute;
			top: 14px;
		}
		&:before {
			border-radius: 0 2px 2px 0;
			left: -84px;
		}
		&:after {
			border-radius: 2px 0 0 2px;
			right: -84px;
		}
	}
    h4 { font-size: 20px; }
	li {
		&:first-child .step:before, &:last-child .step:after {
			content: none;
		}
	}
	.active {
		color: $main_color;
	    .step {
			border-color: $main_color;
			color: $main_color;
			&:before {
				background: $main_color;
			}
		}
	}
	.done {
		color: #000;
		.step {
			background: $main_color;
			border-color: $main_color;
			color: #fff;
			&:before, &:after {
				background: $main_color;
			}
		}
	}
}

.step-bar.with-pick-seat {
	li { width: 160px; }
	.step {
		margin-left: 60px;
	}
	&:before, &:after { width: 45px; }
	&:before { left: -64px; }
	&:after { right: -64px; }
}