

@import "base";

body { background: #fff; }

.pages {
	border-top: 2px solid $main_color;
	padding-bottom: 1.5rem;
}

.container {
	max-width: 100%;
	width: 100%;
}

.hd-title {
	margin-bottom: 1rem;
	padding: 2rem 0 1.25rem;
	font-size: 1.25rem;
	font-weight: 700;
	text-align: center;
	position: relative;
	&:after {
		content: "";
		background: $main_color;
		border-radius: 1.5px;
		width: 30px;
		height: 3px;
		position: absolute;
		left: 50%;
		bottom: 0;
		margin-left: -15px;
	}
}

.student-info {
	text-align: center;
	.student-id {
		display: inline-block;
		margin-right: 1rem;
		font-family: "Roboto",sans-serif;
		position: relative;
		&:after {
            content: "";
            background: #ddd;
            border-radius: 2px;
            width: 4px;
            height: 4px;
            position: absolute;
            right: -0.75rem;
            top: 45%;
		}
	}
}

.form-title {
	margin: 1.5rem 0 1rem;
	font-size: 1.125rem;
	font-weight: bold;
	color: #696d71;
}

.form-request {
	padding-left: 0.25rem;
	font-size: 18px;
	font-weight: bold;
	color: #e91e63;
}

.to-mobile {
	position: absolute;
	right: 1rem;
	top: 1.25rem;
	.btn {
		border-color: #333;
		padding: 0.125rem 0.25rem;
		&:hover {
			border-color: #007bff;
			color: #007bff;
		}
	}
}

.date-time {
	font-family: "Roboto",sans-serif;
	font-size: 1rem;
	color: #cf2568;
}

.register-item {
	li {
        padding: 0.75rem 0;
        border-bottom: 1px solid #dee2e6;
		&:last-child {
			border: none;
		}
	}
	.num {
		display: inline-block;
		margin-right: 0.25rem;
		font-family: "Roboto",sans-serif;
		font-size: 1.25rem;
		font-weight: 500;
	}
	.title { font-size: 1.125rem; }
	.status-caption { display: block; }
	.badge {
		font-size: 0.9375rem;
		line-height: 1.2;
	}
	.badge-light { background: #f0f1f2; }
}

