/* `Footer
-----------------------------------------------------------------------------*/

/* `Navbar Reveal
-----------------------------------------------------------------------------*/

.footer-nav {
	.reveal-inner {
		display: flex;
		justify-content: space-between;
		padding: 3rem 0 2rem;
	}
	.reveal-col {
		padding: 0 0.5rem;
		width: 12.5%;
		h4 {
			margin-bottom: 0.75rem;
			font-size: 1.125rem;
			font-weight: bold;
		}
	}
	.reveal-item {
		margin-bottom: 0.5rem;
		line-height: 1.3;
	}
}

footer.footer {
	background: #f1f7ef;
	color: #244622;
	line-height: 1.8;
	.general-links, .custom-icon {
		li { display: inline-block; }
	}
	.general-content { text-align: right; }
	.general-links {
		margin-bottom: 1.5rem;
		li {
			margin-right: 15px;
			position: relative;
			&:after {
				content: "";
				background: rgba(#fff, .25);
				border-radius: 50%;
				width: 5px;
				height: 5px;
				position: absolute;
				top: 12px;
				right: -12px;
			}
			&:last-child {
				margin-right: 0;
				&:after {
					content: none;
				}
			}
		}
	}
	
	.acc {
		display: block;
		img {
			width: 128px;
			height: auto;
		}
	}
	
	.contact {
		i {
			margin-right: 10px;
			width: 15px;
			text-align: center;
		}
	}
	
	.footer-bt {
		background: #36922d;
		padding: 1.5rem 0;
		color: #9ad196;
        .container {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
        }
		p { margin-bottom: 0; }
	}
	address { margin-bottom: 0; }
}

.footer-inner {
	background: linear-gradient(180deg, rgba(232,244,229,1) 0%, rgba(174,227,170,1) 100%);
	padding-bottom: 2rem;
	padding-top: 3rem;
	.container {
        display: flex;
		flex-direction: row-reverse;
        justify-content: space-between;
	}
}
