/* `Header
-----------------------------------------------------------------------------*/

header.header {
	margin-bottom: 3.75rem;
	.navbar {
		background: rgb(198,239,197);
        background: linear-gradient(180deg, rgba(198,239,197,1) 0%, rgba(236,253,233,1) 100%);
		border-top: 1px solid #ccefca;
		box-shadow: none;
		padding: 0;
		.header-toolbar {
            padding-right: 7px;
            padding-left: 0;
			a {
                color: $main_darken_color !important;
				&:hover {
					background: none; 
					color: #000 !important;
				}
            }
			li:last-child a { padding-right: 6px; }
		}
	}
	.nav-item {
		padding: 0 0.5rem 0;
		font-size: 1rem;
		position: relative;
		&:before {
			content: "";
			background: rgba(255,255,255, .2);
			width: 1px;
			height: 16px;
			position: absolute;
			left: 0;
			top: 13px;
		}
		&:first-child {
			&:before { content: none; }
		}
	}
	.nav-link {
		padding-top: 0;
		padding-bottom: 0;
		height: 40px;
		line-height: 40px;
		color: #1c261b !important;
		&:hover { color: #558c50 !important; }
	}
	.navbar-toggler {
		margin: 6px 0;
	}
	.search-form {
        position: relative;
        &:after {
            content: "\f002";
            font-family: 'FontAwesome';
            position: absolute;
            right: 10px;
            top: 7px;
        }
	}
	.mobile-only { display: none; }
}

.header-bar {
	box-shadow: 0 2px 2px rgba(#000, .25);
	background: #337c2c;
	font-size: 0.8125rem;
	text-align: right;
	position: relative;
	z-index: 2;
	#AU {
		color: rgba(#fff, .25);
		&:hover {
			color: rgba(#fff, .5);
		}
	}
}

.header-toolbar {
	display: inline-block;
	li {
		display: inline-block;
		position: relative;
		&:after {
			content: "";
			background: rgba(#fff, .15);
			width: 1px;
			height: 10px;
			position: absolute;
			right: -2px;
			top: 9px
		}
		&:last-child:after {
			content: none;
		}
	}
	a {
		display: inline-block;
		padding: 4px 6px;
		color: #e2ffdf;
		&:hover {
			background: rgba(#fff, .85);
			color: $main_darken_color;
		}
	}
}

.header-wrap {
    //background: url("../assets/bg-header.png") center 0 repeat-x;
	background: #ccefca;
	border-bottom: 1px solid #b9e1b7;
	padding: .375rem 0;
	.container {
        display: flex;
        justify-content: space-between;
        align-items: center;	
	}
	.brands {
		a {
            align-items: center;
			color: #fff;
            &:hover { text-decoration: none; }
		}
        h1 { margin: 0; }
	}
    .logo {
        margin-right: 20px;
		img {
            display: inline-block;
            width: auto;
            vertical-align: middle;
		}
    }
	.h1-logo {
		height: 88px;
		margin-right: 12px;
	}
	.h1-calligraphy {
		height: 60px;
	}
    .sub {
		font-family: 'Roboto', '\5FAE\8EDF\6B63\9ED1\9AD4', Helvetica, Arial, sans-serif;
        line-height: 1.2;
		color: #283527;
		font-size: 1.25rem;
		font-weight: bold;
        > span {
            display: block;
        }
		.cht { font-size: 1.375rem; }
		.en {
			font-size: 1rem;
			font-weight: 300;
			span { display: block; }
		}
    }
}


















