<!-- ntu: 計畫學校一覽表 - 交換 & 訪問 -->

<div class="container-lg">
    <div class="title-wrapper" id="anchor-top">
	    <h2>111 學年度 (2022/2023 年度) 第 2 學期</h2>
	</div>
</div>

<div class="container-lg">
	<div class="main-container">
        <main class="main">
            <div class="project-link">
                <h5>學校一覽表</h5>
				<div class="inner">
				    <a href="#" class="current">交換學生計畫</a>
					<a href="#">訪問學生計畫</a>
				</div>
            </div>
			<div class="filter-bar">
			    <div class="inner">
				    <div class="inner-start">
					    <span class="group">
						    <span class="label">請選擇</span>
							<span>
                                <select class="form-select" aria-label="Default select example">
                                    <option selected>組別</option>
                                    <option value="1">German Group</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
							</span>
						</span>
						<span class="group">
						    <span class="label">國家</span>
							<span>
                                <select class="form-select" aria-label="Default select example">
                                    <option selected>全部</option>
                                    <option value="1">United States of America</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
							</span>
						</span>
					</div>
					<div class="inner-end">
					    <span class="group">
						    <span class="label">第二次出國交換開放選填學校</span>
							<span class="switch-checkbox">
                                <input type="checkbox" id="switch" class="switch-input" /><label class="switch-label" for="switch"></label>
							</span>
						</span>
					</div>
				</div>
			</div>
			
			<div class="project-school">
			    <ul class="menu-item">
				    <li>
					    <a href="#s-01" class="card">
							<span class="inner">
                                <span class="serial">E0001</span>
								<span class="country">巴西</span>
                                <span class="school">坎皮納斯州立大學</span>
							</span>
							<span class="d-block text-danger">葡語B1檢定證書或本校修讀葡語4個學期以上成績及格</span>
						</a>
					</li>
					<li>
					    <a href="#s-02" class="card">
							<span class="inner">
                                <span class="serial">E0002</span>
								<span class="country">巴西</span>
                                <span class="school">里約熱內盧天主教大學</span>
							</span>
						</a>
					</li>
					<li>
					    <a href="#s-03" class="card">
							<span class="inner">
                                <span class="serial">E0003</span>
								<span class="country">巴西</span>
                                <span class="school">聖保羅大學</span>
							</span>
							<span class="d-block text-danger">須具葡語B1檢定證書</span>
						</a>
					</li>
					<li>
					    <a href="#s-04" class="card">
							<span class="inner">
                                <span class="serial">E0004</span>
								<span class="country">比利時</span>
                                <span class="school">托馬斯莫爾應用科技大學</span>
							</span>
						</a>
					</li>
					<li>
					    <a href="#s-05" class="card">
							<span class="inner">
                                <span class="serial">E0005</span>    
                                <span class="country">澳大利亞</span>
								<span class="school">墨爾本大學</span>
							</span>
							<span class="d-block text-danger">交換學生計畫</span>
						</a>
					</li>
				</ul>
			</div>
			
			<!-- 英文版範例 -->
			<!-- div class="project-school">
			    <ul class="menu-item">
				    <li>
					    <a href="#" class="card">
							<span class="inner">
                                <span class="serial">E0001</span>
								<span class="country">Brazil</span>
                                <span class="school">Universidade Estadual de Campinas (UNICAMP)</span>
							</span>
						</a>
					</li>
					<li>
					    <a href="#" class="card">
							<span class="inner">
                                <span class="serial">E0002</span>
								<span class="country">Brazil</span>
                                <span class="school">Pontifícia Universidade Católica do Rio de Janeiro</span>
							</span>
						</a>
					</li>
					<li>
					    <a href="#" class="card">
							<span class="inner">
                                <span class="serial">E0003</span>
								<span class="country">Brazil</span>
                                <span class="school">Universidade de São Paulo (USP)</span>
							</span>
						</a>
					</li>
					<li>
					    <a href="#" class="card">
							<span class="inner">
                                <span class="serial">E0004</span>
								<span class="country">Belgium</span>
                                <span class="school">Thomas More University of Applied Sciences</span> 
							</span>
						</a>
					</li>
					<li>
					    <a href="#" class="card">
							<span class="inner">
                                <span class="serial">E0005</span>
								<span class="country">Australia</span>
                                <span class="school">The University of Melbourne</span>
							</span>
						</a>
					</li>
				</ul>
			</div-->
			
			<div class="university-list-wrapper">
				
			    <div id="s-01" class="university-item">
				    <div class="item-hd">
						<div class="hd-part">
                            <span class="serial">E0001</span>
                            <span class="country">巴西</span>
						</div>
					    <a href="https://www.unicamp.br/unicamp/english/" class="item-link">
                            <span class="school">坎皮納斯州立大學</span>
							<small class="school-en">Universidade Estadual de Campinas (UNICAMP)</small>
						</a>
					</div>
					<div class="item-bd">
						<div class="item-warning">
					        <span class="warning">
								<span>葡語B1檢定證書或本校修讀葡語4個學期以上成績及格</span>
							</span>
						</div>
						<div class="qualifications row-block">
						    <h5 class="block-title">申請資格</h5>
							<h6 class="fw-bold">一般組</h6>
							<ol>
							    <li>本校大一/碩一/博一以上學生。</li>
								<li>具葡萄牙語能力證明 ，B1以上檢定證書或本校修讀葡萄牙語4個學期以上成績及格證明。</li>
							</ol>
						</div>
                        <div class="row-block">
                            <h5 class="block-title">名額</h5>
                            <p>兩學期2名。（可選擇一學期或一學年，一學期不限上下學期，一學年限於本校第1學期出國交換）</p>
                        </div>
                        <div class="row-block">
                            <h5 class="block-title">注意事項</h5>
                            <p>請詳細參閱 <a href="#">該校資料</a></p>
                        </div>
						<a href="#anchor-top" class="anchor-top" title="Top"><i class="fas fa-chevron-up"></i></a>
					</div>
				</div>
				
				<div id="s-02" class="university-item">
				    <div class="item-hd">
						<div class="hd-part">
                            <span class="serial">E0002</span>
                            <span class="country">巴西</span>
						</div>
					    <a href="http://www.puc-rio.br/" class="item-link">
                            <span class="school">里約熱內盧天主教大學</span>
							<small class="school-en">Pontifícia Universidade Católica do Rio de Janeiro</small>
						</a>
					</div>
					<div class="item-bd">
						<div class="item-warning"></div>
						<div class="qualifications row-block">
						    <h5 class="block-title">申請資格</h5>
							<h6 class="fw-bold">一般組</h6>
							<ol>
							    <li>本校大一/大二/碩一以上學生。</li>
								<li>前學年 GPA 達3.00分以上。</li>
								<li>TOEFL iBT 79 (接受 Home Edition) 或 IELTS 6.0。</li>
							</ol>
						</div>
                        <div class="row-block">
                            <h5 class="block-title">名額</h5>
                            <p>兩學期3名。（可選擇一學期或一學年，一學期不限上下學期，一學年限於本校第1學期出國交換）</p>
                        </div>
                        <div class="row-block">
                            <h5 class="block-title">注意事項</h5>
                            <p>請詳細參閱 <a href="#">該校資料</a></p>
                        </div>
						<div class="row-block">
						    <h5 class="block-title">COVID-19 資訊</h5>
							請參閱
							<ol>
							    <li><a href="https://covid19.ubc.ca/">https://covid19.ubc.ca/</a></li>
								<li><a href="https://covid19.ubc.ca/information-for-students/">https://covid19.ubc.ca/information-for-students/</a></li>
							</ol>
						</div>
						<a href="#anchor-top" class="anchor-top" title="Top"><i class="fas fa-chevron-up"></i></a>
					</div>
				</div>
				
				<!-- 英文版範例 -->
				<div id="s-03" class="university-item">
				    <div class="item-hd">
						<div class="hd-part">
                            <span class="serial">E0003</span>
                            <span class="country">Brazil</span>
						</div>
					    <a href="https://www5.usp.br/" class="item-link">
                            <span class="school">Universidade de São Paulo (USP)</span>
						</a>
					</div>
					<div class="item-bd">
						<div class="item-warning"></div>
						<div class="qualifications row-block">
						    <h5 class="block-title">Qualifications</h5>
							<h6 class="fw-bold">General group</h6>
							<ol>
							    <li>Freshmen/Master 1st/PhD 1st and above students.</li>
								<li>Student must have an Intermediate level of Portuguese in order to attend classes (B1).</li>
							</ol>
						</div>
						<div class="row-block">
						    <h5 class="block-title">COVID-19 Information</h5>
							Please see
							<ol>
							    <li><a href="https://covid19.ubc.ca/">https://covid19.ubc.ca/</a></li>
								<li><a href="https://covid19.ubc.ca/information-for-students/">https://covid19.ubc.ca/information-for-students/</a></li>
							</ol>
						</div>
                        <div class="row-block">
                            <h5 class="block-title">Quota</h5>
                            <p>3 for two semesters. (You can choose one semester or one academic year, one semester is not limited to upper and lower semesters, and one academic year is limited to the first semester of the school to go abroad for exchange)</p>
                        </div>
                        <div class="row-block">
                            <h5 class="block-title">Notice</h5>
                            <p>Please refer to <a href="#">Information about the school</a></p>
                        </div>
						<a href="#anchor-top" class="anchor-top" title="Top"><i class="fas fa-chevron-up"></i></a>
					</div>
				</div>
				
				<div id="s-04" class="university-item">
				    <div class="item-hd">
						<div class="hd-part">
                            <span class="serial">E0004</span>
                            <span class="country">Belgium</span>
						</div>
					    <a href="http://www.thomasmore.be/about" class="item-link">
                            <span class="school">Thomas More University of Applied Sciences</span>
						</a>
					</div>
					<div class="item-bd">
						<div class="item-warning">
					        <span class="warning">
								<span>This school is open to students who are going abroad for the second exchange.</span>
							</span>
						</div>
						<div class="qualifications row-block">
						    <h5 class="block-title">Qualifications</h5>
							<h6 class="fw-bold">General group</h6>
							<ol>
							    <li>Students of the university's freshman year or above <span class="text-danger">(university department only)</span>.</li>
								<li>GPA of 2.75 or higher in previous school year.</li>
								<li>TOEFL iBT 79, Accept TOEFL iBT® Home Edition or IELTS 6.0 or NIBT Intermediate-Advanced.</li>
							</ol>
						</div>
                        <div class="row-block">
                            <h5 class="block-title">Quota</h5>
                            <p>1 per semester. <br>(Limited to 1 person for the second semester of exchange) <span class="text-danger">You can choose one semester or one academic year, one semester is not limited to upper and lower semesters, and one academic year is limited to the first semester of the school to go abroad for exchange.</span></p>
                        </div>
                        <div class="row-block">
                            <h5 class="block-title">Notice</h5>
                            <p>Please refer to <a href="#">Information about the school</a></p>
                        </div>
						<a href="#anchor-top" class="anchor-top" title="Top"><i class="fas fa-chevron-up"></i></a>
					</div>
				</div>
				
				<div id="s-05" class="university-item">
				    <div class="item-hd">
						<div class="hd-part">
                            <span class="serial">E0005</span>
                            <span class="country">澳大利亞</span>
						</div>
					    <a href="http://www.unimelb.edu.au/" class="item-link">
                            <span class="school">墨爾本大學</span>
							<small class="school-en">The University of Melbourne</small>
						</a>
					</div>
					<div class="item-bd">
						<div class="item-warning">
					        <span class="warning">
								<span>交換學生計畫</span>
							</span>
							<span class="warning">
								<span>此校開放予第二次出國交換之同學選填</span>
							</span>
						</div>
						<div class="qualifications row-block">
						    <h5 class="block-title">申請資格</h5>
							<h6 class="fw-bold">一般組</h6>
							<ol>
							    <li>本校大一以上/碩一以上學生。</li>
								<li>前學年 GPA 達3.00分以上。</li>
								<li>TOEFL iBT 79 (讀 13 聽 13 說 18 寫 21)，Temporarily Accepting TOEFL iBT® Home Edition 或 IELTS 6.5 (讀 6.0 聽 6.0 說 6.0 寫 6.0)。</li>
							</ol>
						</div>
                        <div class="row-block">
                            <h5 class="block-title">名額</h5>
                            <p>兩學期3名。（可選擇一學期或一學年，一學期不限上下學期，一學年限於本校第1學期出國交換）</p>
                        </div>
                        <div class="row-block">
                            <h5 class="block-title">注意事項</h5>
                            <p>請詳細參閱 <a href="#">該校資料</a></p>
                        </div>
						<a href="#anchor-top" class="anchor-top" title="Top"><i class="fas fa-chevron-up"></i></a>
					</div>
				</div>
				
			</div>
        </main>
	</div>
</div>




<% content_for :js do %>
<script>
// Select all links with hashes
$('a[href*="#"]')
  // Remove links that don't actually link to anything
  .not('[href="#"]')
  .not('[href="#0"]')
  .click(function(event) {
    // On-page links
    if (
      location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') 
      && 
      location.hostname == this.hostname
    ) {
      // Figure out element to scroll to
      var target = $(this.hash);
      target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
      // Does a scroll target exist?
      if (target.length) {
        // Only prevent default if animation is actually gonna happen
        event.preventDefault();
        $('html, body').animate({
          scrollTop: target.offset().top
        }, 300, function() {
          // Callback after animation
          // Must change focus!
          var $target = $(target);
          $target.focus();
          if ($target.is(":focus")) { // Checking if the target was focused
            return false;
          } else {
            $target.attr('tabindex','-1'); // Adding tabindex for elements not focusable
            $target.focus(); // Set focus again
          };
        });
      }
    }
  });
</script>
<% end %>