<!-- ntu: 計畫學校一覽表 - 學校資料 -->

<div class="container-lg">
    <div class="title-wrapper">
	    <h2>111 學年度 (2022/2023 年度) 第 2 學期</h2>
	</div>
</div>

<div class="container-lg">
	<div class="main-container">
        <main class="main">
            <div class="school-info-wrpper">
				<div class="info-hd">
                    <h3 class="school-name">坎皮納斯州立大學</h3>
                    <h5 class="school-en">Universidade Estadual de Campinas (UNICAMP)</h5>
					<img class="s-logo" src="https://oiasystem.ntu.edu.tw/OutgoingExchange/html/images/school/0931.png">
				</div>
				
				<!-- 英文版範例 -->
				<!-- div class="info-hd">
                    <h3 class="school-name">Universidade Estadual de Campinas (UNICAMP)</h3>
					<img class="s-logo" src="https://oiasystem.ntu.edu.tw/OutgoingExchange/html/images/school/0931.png">
				</div-->
				
				<div class="university-item">
                    <div class="qualifications row-block">
                        <h5 class="block-title">申請資格</h5>
                        <h6 class="fw-bold">一般組</h6>
                        <ol>
                            <li>本校大一/碩一/博一以上學生。</li>
                            <li>具葡萄牙語能力證明 ，B1以上檢定證書或本校修讀葡萄牙語4個學期以上成績及格證明。</li>
                        </ol>
                    </div>
                    <div class="row-block">
                        <h5 class="block-title">名額</h5>
                        <p>兩學期2名。（可選擇一學期或一學年，一學期不限上下學期，一學年限於本校第1學期出國交換）</p>
                    </div>
					<div class="row-block">
                        <h5 class="block-title">學校年曆</h5>
                        <p>該校行事曆請參考<a href="#">此連結</a></p>
                    </div>
					<div class="row-block">
                        <h5 class="block-title">註冊繳費</h5>
                        <p>須在本校註冊並繳交全額學雜費，免繳該校學費，但住宿費、生活費、保險費、往返機票費等均須自行負擔。</p>
                    </div>
					<div class="row-block">
                        <h5 class="block-title">註冊繳費</h5>
                        <p>須在本校註冊並繳交全額學雜費，免繳該校學費，但住宿費、生活費、保險費、往返機票費等均須自行負擔。</p>
                    </div>
					<div class="row-block">
                        <h5 class="block-title">注意事項</h5>
                        <ol>
						    <li>交換學校一覽表所列之語言能力為該校之最低門檻要求，同學需自行確認語言能力是否符合該校修課要求、查詢是否有相對應系所及足夠的課程可供選讀、能否達到該校之每學期修課學分數要求、以及是否具備相關領域之背景知識，若未達標準，該校有權拒收</li>
							<li>交換計畫資訊請參考<a href="#">此連結</a></li>
							<li>課程資訊請參考<a href="#">此連結</a></li>
						</ol>
                    </div>
					<div class="row-block">
                        <h5 class="block-title">住宿資訊</h5>
                        <p>不保證住宿，住宿資訊請參考<a href="#">此連結</a></p>
                    </div>
				</div>
            </div>
        </main>
	</div>
</div>




<% content_for :js do %>

<% end %>