<!-- oia-yzu: 交流生 - 忘記密碼  -->

<div class="login">
	<form>
		<p class="h4 text-center py-4">忘記密碼</p>
		<p class="text-center">系統會重新設定一組新的密碼並寄送到您註冊的 Email 信箱。</p>
		<div class="md-form">
			<input type="email" id="materialLoginFormEmail" class="form-control" placeholder="Email">
		</div>
		<div class="md-form row">
			<div class="col">
				<input type="text" id="CAPTCHA" class="form-control mb-4" placeholder="CAPTCHA">
			</div>
			<span class="col input-group-addon verification">
				<img class="captcha" src="http://nfu-map.dev.com.tw/common/captcha.image">
			</span>
		</div>
		<div class="text-center py-4">
			<button class="btn btn-outline-success btn-rounded my-4 waves-effect z-depth-0" type="submit">Submit</button>
			
		</div>
	</form>
</div>