<!-- template: Sidenav, page-title, block-title 範例 -->

<div class="container-lg">
	<div class="page-content">
		
		<!-- .aside 沒有 sticky，不需要給 .main min-height -->
	    <aside class="aside offcanvas-collapse">
			<div class="scrollbar-inner">
				
				<!-- 當前頁面 .nav-item 需加上 .current -->
				
		        <div class="sidenav nav-mixed">
					<div class="procedures_nav nav-wrap">
                        <h5 class="nav-subject">確認入學調查資料</h5>
                        <ul class="side-navigation menu-item">
                            <li>
                                <a class="nav-item done" href="#">
                                    <span class="link-inner">確認入學後-6月初</span>
                                </a>
                            </li>
                            <li>
                                <a class="nav-item" href="#">
                                    <span class="link-inner">7月中開始-8月初</span>
                                </a>
                            </li>
                        </ul>
					</div>
					<div class="nav-wrap">
                        <h5 class="nav-subject">註冊資訊</h5>
                        <ul class="side-navigation menu-item">
                            <li>
								
								<!-- 當前頁面 .nav-item 加上 .current -->
								
                                <a class="nav-item current" href="#">
                                    <span class="link-inner">8月初新生註冊資訊</span>
                                </a>
                            </li>
                        </ul>
					</div>
					<div class="nav-wrap">
                        <h5 class="nav-subject">國際生華語課程調查</h5>
                        <ul class="side-navigation menu-item">
                            <li>
                                <a class="nav-item" href="#">
                                    <span class="link-inner">華語課程調查</span>
                                </a>
                            </li>
                        </ul>
					</div>
					<div class="nav-wrap">
                        <h5 class="nav-subject fw-bold text-end mb-3">文件上傳</h5>
                        <ul class="side-navigation menu-item">
                            <li>
                                <a class="nav-item" href="#">
                                    <span class="link-inner">額外交付文件</span>
                                </a>
                            </li>
                        </ul>
					</div>
					<div class="nav-wrap">
                        <h5 class="nav-subject">公告資訊</h5>
                        <ul class="side-navigation menu-item">
                            <li>
                                <a class="nav-item" href="#">
                                    <span class="link-inner">共通說明</span>
                                </a>
                            </li>
							<li>
                                <a class="nav-item" href="#">
                                    <span class="link-inner">臺大學籍資料 <span class="badge rounded-pill text-bg-danger">New</span></span>
                                </a>
                            </li>
							<li>
                                <a class="nav-item" href="#">
                                    <span class="link-inner">接待志工資訊 <span class="badge rounded-pill text-bg-danger">New</span></span>
                                </a>
                            </li>
							<li>
                                <a class="nav-item" href="#">
                                    <span class="link-inner">迎新說明會 <span class="badge rounded-pill text-bg-danger">New</span></span>
                                </a>
                            </li>
							<li>
                                <a class="nav-item" href="#">
                                    <span class="link-inner">宿舍分配資訊</span>
                                </a>
                            </li>
							<li>
                                <a class="nav-item" href="#">
                                    <span class="link-inner">其他相關文件下載</span>
                                </a>
                            </li>
                        </ul>
					</div>
				</div>
			</div>
		</aside>
		<div id="widget-overlay"></div>
		<main class="main">
			<div class="page-title">
			    <h3>頁面標題</h3>
			</div>
			<section class="section">
			    <div class="section-title">
                    <h4>區塊標題</h4>
                </div>
				<div class="notice-wrapper">
					<h4>注意事項</h4>
				    <%= lorem_paragraph %>
				</div>
				<p><%= lorem_paragraphs(2) %></p>
			</section>
			
			<section class="section">
			    <div class="section-title">
                    <h4>區塊標題</h4>
                </div>
				
				<!-- 原始 .notice-wrapper 跟下方內容間隔很大，此專案許多區塊都有說明文字，可使用 mb-(x) 調整，給較小的間隔 -->
				<div class="notice-wrapper mb-4">
					<h4 class="notice-title">注意事項</h4>
				    原始 .notice-wrapper 跟下方內容間隔很大，此專案許多區塊都有說明文字，可使用 mb-(x) 調整，給較小的間隔
				</div>
				<p><%= lorem_paragraphs(2) %></p>
			</section>
		</main>
	</div>
</div>



<% content_for :js do %>

<% end %>

