<!-- NCTU-Scholarship: 登入  -->

<div class="login">
	<form>
		<p class="h4 text-center py-4">學生登入</p>
		<div class="md-form">
			<input type="email" id="materialLoginFormEmail" class="form-control">
			<label for="materialLoginFormEmail">請輸入學號</label>
		</div>

		<!-- Password -->
		<div class="md-form">
			<input type="password" id="materialLoginFormPassword" class="form-control">
			<label for="materialLoginFormPassword">請輸入密碼</label>
		</div>
		<div class="text-center py-4">
			<button class="btn btn-outline-default btn-rounded my-4 waves-effect z-depth-0" type="submit">登入</button>
			
		</div>
		<p class="text-center"><a href="#" class="text-muted">忘記密碼</a></p>
	</form>
</div>