<!-- Jesda -->
<div class="content-wrapper">
    <div class="landing-page">
        <div class="main-stage">
            <div class="center-stage">
                <div class="container-xl">
                    <img class="jesda-logo" src="assets/logo-white.svg">
                    <h1 class="stage-title">系統開發的可靠夥伴</h1>
                </div>
            </div>
            <div class="bottom-stage">
                <span class="tiny-mouse">
                    <span class="mouseInfinite"></span>
                </span>
            </div>
            <nav class="spy-nav">
                <ul class="menu-item">
                    <li>
                        <a href="#" class="spy-link active">
                            <span class="spy-text">首頁</span> 
                        </a>
                    </li>
                    <li>
                        <a href="#" class="spy-link">
                            <span class="spy-text">資安優勢</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="spy-link">
                            <span class="spy-text">品質管理</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="spy-link">
                            <span class="spy-text">關於我們</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="landing-background">
            <div id="app"></div>
        </div>
    </div>
    <main class="main">
        <section class="section pt-5">
            <div class="container-xl">
                <h1 class="mb-3">更安心的網路系統開發</h1>
                <% (1..6).map do |i| %>
                <p><%= lorem_paragraphs(2) %></p>
                <% end %>
            </div>
        </section>
        <section class="section pb-5">
            <div class="container-xl">
                <h2 class="mb-3"><%= lorem_sentence %></h2>
                <% (1..6).map do |i| %>
                <p><%= lorem_paragraphs(2) %></p>
                <% end %>
            </div>
        </section>
    </main>
</div>


<% content_for :js do %>
 <script>
     
</script>
<% end %>