<!-- oia-yzu: 交流生 - 檢視申請表/補繳文件 -->

<div class="container">
	<div class="main-wrap">
		<ul class="nav nav-tabs" id="myTab" role="tablist">
			<li class="nav-item">
				<a class="nav-link" id="application_information-tab" data-toggle="tab" href="#application_information" role="tab" aria-controls="application_information" aria-selected="true">申請資料</a>
			</li>
			<li class="nav-item">
				<a class="nav-link active" id="review_result-tab" data-toggle="tab" href="#review_result" role="tab" aria-controls="review_result" aria-selected="false">補繳文件</a>
			</li>
		</ul>
		<div class="tab-content" id="myTabContent">
			
			<div class="tab-pane fade" id="application_information" role="tabpanel" aria-labelledby="application_information-tab">
				<div class="document-upload mb-5">
					<div class="document-item">
						<div class="document-hd">
							<h6>1. Application form <span class="badge badge-success">done</span></h6>
							<p>Last Review <i class="fa fa-clock-o"></i> 2018/12/12 18:20</p>
						</div>
						<div class="document-ft">
							<a href="#" class="btn btn-dark btn-xs">View</a>
						</div>
					</div>
					<div class="document-item">
						<div class="document-hd">
							<h6>2. Recommendation letter <span class="badge badge-success">done</span></h6>
						</div>
						<div class="document-ft">
							<a href="#" class="btn btn-dark btn-xs">View</a>
						</div>
					</div>
					<div class="document-item">
						<div class="document-hd">
							<h6>3. Upload payment documents <span class="badge badge-success">done</span></h6>
						</div>
						<div class="document-ft">
							<a href="#" class="btn btn-dark btn-xs">View</a>
						</div>
					</div>
				</div>
			</div>

			<div class="tab-pane fade show active" id="review_result" role="tabpanel" aria-labelledby="review_result-tab">
				<div class="mb-4">
					<p>補件截止日 : 2019-06-31</p>
				</div>

				<div class="document-upload">

					<div class="document-item">
						<div class="document-hd">
							<h6>1. 在校成績單正本1份 <span class="badge badge-warning">未補件</span></h6>
						</div>
						<div class="document-ft">
							<div class="form-inline">
								<a href="#" class="btn btn-secondary btn-xs mr-3">說明</a>
								<form class="md-form">
									<div class="file-field">
										<a class="btn-floating btn-sm purple-gradient mt-0 float-left">
											<i class="fa fa-cloud-upload" aria-hidden="true"></i>
											<input type="file">
										</a>
										<div class="file-path-wrapper">
										   <input class="file-path validate" type="text" placeholder="上傳">
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
					<div class="document-item">
						<div class="document-hd">
							<h6>2. 申請繳交文件 <span class="badge badge-warning">未補件</span></h6>
						</div>
						<div class="document-ft">
							<div class="form-inline">
								<a href="#" class="btn btn-secondary btn-xs mr-3">說明</a>
								<form class="md-form">
									<div class="file-field">
										<a class="btn-floating btn-sm purple-gradient mt-0 float-left">
											<i class="fa fa-cloud-upload" aria-hidden="true"></i>
											<input type="file">
										</a>
										<div class="file-path-wrapper">
										   <input class="file-path validate" type="text" placeholder="上傳">
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
					<div class="document-item">
						<div class="document-hd">
							<h6>3. 申請繳交文件2 <span class="badge badge-success">已補件</span></h6>
							<p>Upload time <i class="fa fa-clock-o"></i> 2018/12/12 18:20</p>
						</div>
						<div class="document-ft">
							<a href="#" class="btn btn-info btn-xs">檢視</a>
							<a href="#" class="btn btn-warning btn-xs">編輯</a>
						</div>
					</div>

				</div>
				
				<div class="text-center mt-5">
					<a href="/" class="btn btn-primary mr-2">Submit</a>
				</div>
			</div>
			
		</div>
	</div>
</div>

