<!-- oia-yzu: 交流生 - 已登入首頁 -->

<div class="container">
	<h4 class="block-title">申請進度說明</h4>
	<p>請先填寫線上申請表，填寫完成後，請繼續完成其他項目。</p>
	<div class="document-upload mb-3">
		<div class="document-item">
			<div class="document-hd">
				<h6>1. 申請表 <a href="#"><span class="badge badge-pill light-blue"><i class="fa fa-pencil" aria-hidden="true"></i></span></a></h6>
				<p>填寫申請表所有必填欄位</p>
			</div>
			<div class="document-ft">
				<h5><span class="badge badge-success">done</span></h5>
			</div>
		</div>
		<div class="document-item">
			<div class="document-hd">
				<h6>2. 上傳繳交文件 <a href="#"><span class="badge badge-pill light-blue"><i class="fa fa-pencil" aria-hidden="true"></i></span></a></h6>
				<p>上傳申請文件</p>
			</div>
			<div class="document-ft">
				<h5><span class="badge badge-danger">undone</span></h5>
			</div>
		</div>
		<div class="document-item">
			<div class="document-hd">
				<h6>3. 送出申請資料 <a href="#"><span class="badge badge-pill light-blue"><i class="fa fa-pencil" aria-hidden="true"></i></span></a></h6>
				<p>請於 2015-12-10 HH:mm:ss 前送出申請資料</p>
			</div>
			<div class="document-ft">
				<h5><span class="badge badge-danger">undone</span></h5>
			</div>
		</div>
		<div class="document-info">
			<h6>錄取結果</h6>
		    <%= lorem_sentences(6) %>
		</div>
		<div class="document-item">
			<div class="document-hd">
				<h6>4. 審查結果 <a href="#"><span class="badge badge-pill light-blue"><i class="fa fa-pencil" aria-hidden="true"></i></span></a></h6>
				<p>審查結果將於 2015-12-10 HH:mm:ss公佈</p>
			</div>
			<div class="document-ft">
				<h5><span class="badge badge-danger">undone</span></h5>
			</div>
		</div>
		<div class="document-item">
			<div class="document-hd">
				<h6>5. 新生入學調查 <a href="#"><span class="badge badge-pill light-blue"><i class="fa fa-pencil" aria-hidden="true"></i></span></a></h6>
				<p>填寫新生入學調查資料</p>
			</div>
			<div class="document-ft">
				<h5><span class="badge badge-danger">undone</span></h5>
			</div>
		</div>
		<div class="document-item">
			<div class="document-hd">
				<h6>6. 上傳入學繳交文件 <a href="#"><span class="badge badge-pill light-blue"><i class="fa fa-pencil" aria-hidden="true"></i></span></a></h6>
				<p>上傳新生入學繳交文件</p>
			</div>
			<div class="document-ft">
				<h5><span class="badge badge-danger">undone</span></h5>
			</div>
		</div>
	</div>
	<div class="text-center">
		<a href="/" class="btn btn-primary">開始填寫</a>
	</div>
</div>

