<!-- oia-yzu: 交流生 - S4預覽 -->

<div class="container">
	
	<div class="step-bar four-step">
		<ul>
			<li class="done">
				<span>
					<span class="step">1</span>
					<h4>具結書</h4>
					<p class="brief">具結書同意</p>
				</span>
			</li>
			<li class="done">
				<span>
					<span class="step">2</span>
					<h4>申請表</h4>
					<p class="brief">填寫線上申請表</p>
				</span>
			</li>
			<li class="done">
				<span>
					<span class="step">3</span>
					<h4>上傳文件</h4>
					<p class="brief">上傳各項申請文件</p>
				</span>
			</li>
			<li class="active">
				<span>
					<span class="step">4</span>
					<h4>送出申請</h4>
					<p class="brief">預覽並送出申請</p>
				</span>
			</li>
		</ul>
	</div>
	<div class="step-container mb-5">
		<p class="mb-3">請確認下列資料無誤後送出審查</p>
		
		<div style="height: 50vh;"><!-- 測試假區塊 -->

			預覽資料

		</div>
		
	</div>
	
	<div class="text-center">
		<a href="/" class="btn btn-link mr-2">Previous</a>
		<a href="/" class="btn btn-primary mr-2">Save</a>
		<a href="/" class="btn btn-link">Next step</a>
	</div>
</div>

