<!-- oia-yzu: 交流生 - S3申請文件 -->

<div class="container">
	
	<div class="step-bar four-step">
		<ul>
			<li class="done">
				<span>
					<span class="step">1</span>
					<h4>具結書</h4>
					<p class="brief">具結書同意</p>
				</span>
			</li>
			<li class="done">
				<span>
					<span class="step">2</span>
					<h4>申請表</h4>
					<p class="brief">填寫線上申請表</p>
				</span>
			</li>
			<li class="active">
				<span>
					<span class="step">3</span>
					<h4>上傳文件</h4>
					<p class="brief">上傳各項申請文件</p>
				</span>
			</li>
			<li>
				<span>
					<span class="step">4</span>
					<h4>送出申請</h4>
					<p class="brief">預覽並送出申請</p>
				</span>
			</li>
		</ul>
	</div>
	<div class="step-container mb-5">
		<p class="mb-3">Please upload the following files to limit the PDF format. Do not exceed 5 MB for individual files.</p>
		<div class="document-upload">

			<div class="document-item">
				<div class="document-hd">
					<h6>1. 在校成績單正本1份 <small><a href="#" class="btn btn-secondary btn-xs">說明</a></small></h6>
				</div>
				<div class="document-ft">
					<form class="md-form">
						<div class="file-field">
							<a class="btn-floating btn-sm purple-gradient mt-0 float-left">
								<i class="fa fa-cloud-upload" aria-hidden="true"></i>
								<input type="file">
							</a>
							<div class="file-path-wrapper">
							   <input class="file-path validate" type="text" placeholder="上傳">
							</div>
						</div>
					</form>
				</div>
			</div>
			<div class="document-item">
				<div class="document-hd">
					<h6>2. 申請繳交文件 <small><a href="#" class="btn btn-secondary btn-xs">說明</a></small></h6>
				</div>
				<div class="document-ft">
					<form class="md-form">
						<div class="file-field">
							<a class="btn-floating btn-sm purple-gradient mt-0 float-left">
								<i class="fa fa-cloud-upload" aria-hidden="true"></i>
								<input type="file">
							</a>
							<div class="file-path-wrapper">
							   <input class="file-path validate" type="text" placeholder="上傳">
							</div>
						</div>
					</form>
				</div>
			</div>
			<div class="document-item">
				<div class="document-hd">
					<h6>3. 申請繳交文件2</h6>
					<p>Upload time <i class="fa fa-clock-o"></i> 2018/12/12 18:20</p>
				</div>
				<div class="document-ft">
					<a href="#" class="btn btn-info btn-xs">View</a>
					<a href="#" class="btn btn-warning btn-xs">Edit</a>
				</div>
			</div>
			
			<!--div>

				<div class="document-item">
					<div class="document-hd">
						<h6>2. With a book</h6>
						<p>Upload time <i class="fa fa-clock-o"></i> 2018/12/12 18:20</p>
					</div>
					<div class="document-ft">
						<a href="#" class="btn btn-secondary btn-xs">Info</a>
						<a href="#" class="btn btn-info btn-xs">View</a>
						<a href="#" class="btn btn-warning btn-xs">Edit</a>
					</div>
				</div>
				<div class="document-item">
					<div class="document-hd">
						<h6>4. Health check report template</h6>
						<p>Upload time <i class="fa fa-clock-o"></i> 2018/12/12 18:20</p>
					</div>
					<div class="document-ft">
						<a href="#" class="btn btn-secondary btn-xs">Info</a>
						<a href="#" class="btn btn-info btn-xs">View</a>
						<a href="#" class="btn btn-warning btn-xs">Edit</a>
					</div>
				</div>
			</div-->

		</div>
	</div>
	
	<div class="text-center">
		<a href="/" class="btn btn-link mr-2">Previous</a>
		<a href="/" class="btn btn-primary mr-2">Save</a>
		<a href="/" class="btn btn-link">Next step</a>
	</div>
</div>

