<!-- oia-yzu: 資料空白 templates -->

<div class="container">
	<h4 class="block-title">電競比賽測試交流</h4>
	<div class="blank-wall">
        元智大學, <span class="deep-orange-text">Mdbootstrap</span>
        <a href="https://mdbootstrap.com/docs/jquery/css/text-color/">text color</a>
	</div>
</div>

