<!-- Advanced search V2-2 -->
<form>
    <div class="collapse dttoolbar-collapse" id="adSearch2">
        <div class="collapse-inner">

            <div class="row">
                <div class="col-6">
                    <div class="mb-3 row">
                        <label for="inputChName" class="col-sm-2 col-form-label text-end">中文姓名</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputChName" placeholder="">
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="mb-3 row">
                        <label for="inputEnName" class="col-sm-2 col-form-label text-end">英文姓名</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputEnName" placeholder="">
                        </div>
                    </div>
                </div>
            </div>
			
			<div class="row">
                <div class="col-6">
                    <div class="mb-3 row">
                        <label for="" class="col-sm-2 col-form-label text-end">研習種類</label>
                        <div class="col-sm-10">
                            <select id="" class="form-select">
								<option selected="">請選擇</option>
                                <option value="all">全部</option>
								<option value="">test</option>
                            </select>
                        </div>
                    </div>
                </div>
				<div class="col-6">
				    <div class="row">
                        <div class="col-6">
                            <div class="mb-3 row">
                                <label for="" class="col-sm-4 col-form-label text-end">研習年度</label>
                                <div class="col-sm-8">
                                    <select id="" class="form-select">
                                        <option selected="">請選擇</option>
                                        <option value="all">全部</option>
                                        <option value="">test</option>
                                    </select>
                                </div>
                            </div>
                        </div>
						<div class="col-6">
                            <div class="mb-3 row">
                                <label for="" class="col-sm-4 col-form-label text-end">研習學期</label>
                                <div class="col-sm-8">
                                    <select id="" class="form-select">
                                        <option selected="">請選擇</option>
                                        <option value="all">全部</option>
                                        <option value="">test</option>
                                    </select>
                                </div>
                            </div>
                        </div>
					</div>
				</div>
            </div>
			
			<div class="mb-3 row">
			    <label class="col-sm-1 col-form-label text-end">交換學校</label>
				<div class="col-sm-11">
                    <select multiple="multiple" class="multiple-select mb-2">
                        <optgroup label="巴西">
                            <option value="1">Option 1</option>
                            <option value="2">Option 2</option>
                        </optgroup>
                        <optgroup label="加拿大">
                            <option value="1">Option 1</option>
                            <option value="2">Option 2</option>
                        </optgroup>
                        <optgroup label="英國">
                            <option value="1">Option 1</option>
                            <option value="2">Option 2</option>
                        </optgroup>
                        <optgroup label="法國">
                            <option value="1">Option 1</option>
                            <option value="2">Option 2</option>
                        </optgroup>
                    </select>
				</div>
			</div>
			
            <div class="row">
                <div class="col-6">
                    <div class="mb-3 row">
                        <label for="" class="col-sm-2 col-form-label text-end">在台大學位</label>
                        <div class="col-sm-10">
                            <select id="" class="form-select">
								<option selected="">請選擇</option>
                                <option value="all">全部</option>
								<option value="">test</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="mb-3 row">
                        <label for="" class="col-sm-2 col-form-label text-end">在台大學院</label>
                        <div class="col-sm-10">
                            <select id="" class="form-select">
								<option selected="">請選擇</option>
                                <option value="all">全部</option>
								<option value="">test</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
			
            <div class="row">
                <div class="col-6">
                    <div class="mb-3 row">
                        <label for="" class="col-sm-2 col-form-label text-end">在台大系所</label>
                        <div class="col-sm-10">
                            <select id="" class="form-select">
                                <option selected="">請選擇</option>
                                <option value="all">全部</option>
                                <option value="">test</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
			
            <div class="row">
                <div class="col-6">
                    <div class="mb-3 row">
                        <label for="inputPhoneNum" class="col-sm-2 col-form-label text-end">電話</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputPhoneNum" placeholder="">
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="mb-3 row">
                        <label for="inputEmail" class="col-sm-2 col-form-label text-end">電子郵件</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputEmail" placeholder="">
                        </div>
                    </div>
                </div>
            </div>
			
			<div class="row">
                <div class="col-6">
                    <div class="mb-3 row">
                        <label for="inputSchNum" class="col-sm-2 col-form-label text-end">學號</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputSchNum" placeholder="">
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="mb-3 row">
                        <label for="inputScholarship" class="col-sm-2 col-form-label text-end">申請獎學金</label>
                        <div class="col-sm-10">
                            <select id="" class="form-select">
                                <option selected="">請選擇</option>
                                <option value="all">全部</option>
                                <option value="">test</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
			
			<div class="form-action text-center mt-4">
			    <button type="submit" class="btn btn-primary">搜尋</button>
				<button type="reset" class="btn btn-link">重設</button>
			</div>
			
        </div>
    </div>
</form>



































