<div class="modal fade" id="modalSort" tabindex="-1" role="dialog" aria-labelledby="sortModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="sortModalLabel">自訂排序</h5>
                <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
				<div class="sortblock-wrapper">
                    <div class="modal_sortblock">
                        <span class="num">1</span>
                        <div class="sort-select">
                            <select class="form-select">
                                <option selected>請選擇</option>
                                <option value="1">國外居住地聯絡電話</option>
                                <option value="2">永久地址區碼</option>
                                <option value="3">通訊地址區碼</option>
                            </select>
                        </div>
                        <div class="sort-by">
                            <select class="form-select">
                                <option selected>請選擇</option>
                                <option value="AZ">A 到 Z</option>
                                <option value="ZA">Z 到 A</option>
                            </select>
                        </div>
                    </div>
                    <div class="modal_sortblock">
                        <span class="num">2</span>
                        <div class="sort-select">
                            <select class="form-select">
                                <option selected>請選擇</option>
                                <option value="1">國外居住地聯絡電話</option>
                                <option value="2">永久地址區碼</option>
                                <option value="3">通訊地址區碼</option>
                            </select>
                        </div>
                        <div class="sort-by">
                            <select class="form-select">
                                <option selected>請選擇</option>
                                <option value="AZ">A 到 Z</option>
                                <option value="ZA">Z 到 A</option>
                            </select>
                        </div>
                    </div>
				</div>
				<a href="#" class="add-btn">
                    <span class="btn btn-sm btn-info"><i class="fa fa-plus"></i></span>
                    <span class="text-muted">新增一筆</span>
                </a>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn  btn-link" data-mdb-dismiss="modal">關閉</button>
                <button type="button" class="btn btn-primary">送出</button>
            </div>
        </div>
    </div>
</div>