<!-- VS-OAS: 註冊 - 認證成功  -->

<div class="container">
    <div class="row">
		<div class="col">
            <main class="main-block">
                <h4 class="form-title text-success mt-0">申請報名</h4>
                <span>信箱認證成功！</span>
                <button type="button" class="btn btn-sm btn-light">開始申請</button>
            </main>
        </div>
	</div>
</div>