<!-- VS-OAS: 註冊 - 完成  -->

<div class="container">
    <div class="row">
		<div class="col">
            <main class="main-block">
                <h4 class="form-title text-success mt-0">申請報名</h4>
                <p>註冊成功！請至您填寫的 Email 信箱中收取信件，點選連結啟用帳號</p>
                <div class="mt-4">
                    <span>沒收到認證信？</span>
                    <button type="button" class="btn btn-sm btn-light">重新寄送</button>
                </div>
            </main>
        </div>
	</div>
</div>