<!-- ietw: 英文版 - IEW (內頁) -->

<div class="content-breadcrumb">
	<div class="container">
        <nav aria-label="breadcrumb" class="breadcrumb-wrap">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">首頁</a></li>
                <li class="breadcrumb-item"><a href="#">示範路徑</a></li>
                <li class="breadcrumb-item active" aria-current="page">一般文章內文範本</li>
            </ol>
        </nav>
	</div>
</div>

<div class="container">

    <div class="chief-nav">
        <ul class="menu-item">
            <li><a href="#" class="current">What is IEW</a></li>
            <li><a href="#">Four Types ofo Exchange Activities</a></li>
            <li><a href="#">How IEW Functions</a></li>
            <li><a href="#">Looking for Taiwan School Partners</a></li>
        </ul>
    </div>

    <div class="row mt-4">
        <div class="col-lg-4">
            <div class="video-wrapper mb-4">
                <div class="videobox">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/kt4Z2AA5Kj0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
            <p class="h5" style="line-height: 1.6;">
                <a href="#" class="orange-link" title="LOG IN">LOG IN</a> with your existing account and password. OR 
                <a href="#" class="orange-link" title="KEY IN">KEY IN</a> your school’s information to begin our registration process.
            </p>
        </div>

        <div class="col-lg-8">
            <main class="main">
        <a accesskey="C" href="#accesskey_content" tabindex="0" title="主要內容" id="accesskey_content" class="ackey">:::</a>

        <article class="page-article">
            <div class="mb-4">
                <img src="../assets/en-welcome.svg" class="d-block w-100" alt="Welcome to K-12EA IEW" />
            </div>

            <div class="iew-content">
                <div class="row">
                    <div class="col-md-6">

                    </div>
                    <div class="col-md-6">

                    </div>
                </div>
                <div class="emphasize-wrapper">
                    <section class="section section-blue">
                        <h2>International  Exchange partnerships will …</h2>
                        <div class="inner-block">
                            <ul class="menu-item check-menu">
                                <li>Bring international education to your school.</li>
                                <li>Provide motivation for second language learning.</li>
                                <li>Inspire reciprocal students through exchange activities, classes and programs.</li>
                                <li>Focus on SDGs or other variety of themes.</li>
                                <li>Offer teachers the chance to share teaching experiences and cooperate with their foreign counterparts.</li>
                            </ul>
                        </div>
                    </section>
                    <section class="section section-green">
                        <h2>More About Taiwan…</h2>
                        <div class="inner-block">
                            <ul class="menu-item mat-menu">
                                <li>
                                    <a href="https://eng.taiwan.net.tw" title="Time for Taiwan Virtual Exhibition">Time for Taiwan Virtual Exhibition</a>
                                </li>
                                <li>
                                    <a href="https://english.moe.gov.tw/cp-126-17722-3fb83-1.html" title="Education System Briefing">Education System Briefing</a>
                                </li>
                                <li>
                                    <a href="https://stats.moe.gov.tw/enchartweb/Default.aspx?rptvalue=eng_f3" title="Hilights of Education Statistics">Highlights of Education Statistics</a>
                                </li>
                            </ul>
                        </div>
                    </section>
                </div>
            </div>
        </article>

    </main>
        </div>
    </div>

</div>

<% content_for :js do %>

<% end %>




