<!-- ietw: 英文版 - 首頁 -->

<div class="container">
    <div class="en-welcome">
        <img src="../assets/en-welcome.svg" class="d-block w-100" alt="Welcome to K-12EA IEW" />
    </div>
    <div class="row mt-4">
        <div class="col-lg-4">
            <div class="mb-5 h5">
                <p>Please enjoy using our website to find a Taiwan school to partner and work with: <a href="#" class="orange-link" title="LOG IN">LOG IN</a> with your existing account and password if your school already registered.</p>
                <p>Alternatively, <a href="#" class="orange-link" title="KEY IN">KEY IN</a> your school’s information to begin our registration process.</p>
            </div>
            <div class="video-wrapper">
                <div class="videobox">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/kt4Z2AA5Kj0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
        </div>
        <div class="col-lg-8">
            <div class="main-nav nav-en">
                <a accesskey="C" href="#accesskey_content" title="主要內容" id="accesskey_content" class="ackey" tabindex="0">:::</a>

                <!-- 快速連結 -->
                <ul class="menu-item">
                    <li>
                        <a href="#" class="main-item" title="About IE2.0">
                            <div class="main-nav-inner">
                                <img src="../assets/icon/w-01.png" alt="About IE2.0">
                                <h6>About IE2.0</h6>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="main-item" title="News">
                            <div class="main-nav-inner">
                                <img src="../assets/icon/w-02.png" alt="News">
                                <h6>News</h6>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="main-item" title="Taiwan International Education Trips Association">
                            <div class="main-nav-inner">
                                <img src="../assets/icon/w-03.png" alt="Taiwan International Education Trips Association">
                                <h6>Taiwan International Education Trips Association</h6>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="main-item" title="International Exchange Outcomes">
                            <div class="main-nav-inner">
                                <img src="../assets/icon/w-04.png" alt="International Exchange Outcomes">
                                <h6>International Exchange Outcomes</h6>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
            
            <div class="emphasize-wrapper">
                <section class="section section-blue">
                    <h2>International  Exchange partnerships will …</h2>
                    <div class="inner-block">
                        <ul class="menu-item check-menu">
                            <li>Bring international education to your school.</li>
                            <li>Provide motivation for second language learning.</li>
                            <li>Inspire reciprocal students through exchange activities, classes and programs.</li>
                            <li>Focus on SDGs or other variety of themes.</li>
                            <li>Offer teachers the chance to share teaching experiences and cooperate with their foreign counterparts.</li>
                        </ul>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <div class="mat-wrapper">
        <section class="section">
            <h2>More About Taiwan</h2>
            <div class="inner-block">
                <ul class="menu-item mat-menu">
                    <li>
                        <a href="https://eng.taiwan.net.tw" title="Time for Taiwan Virtual Exhibition">Time for Taiwan Virtual Exhibition</a>
                    </li>
                    <li>
                        <a href="https://english.moe.gov.tw/cp-126-17722-3fb83-1.html" title="Education System Briefing">Education System Briefing</a>
                    </li>
                    <li>
                        <a href="https://stats.moe.gov.tw/enchartweb/Default.aspx?rptvalue=eng_f3" title="Hilights of Education Statistics">Highlights of Education Statistics</a>
                    </li>
                </ul>
            </div>
        </section>
    </div>
    
    <section class="index-section index-banner">
        <img class="img-banner" src="../assets/fake/03.jpg" alt="{圖片說明}">
        <p class="text-end mt-1">
            <a href="#" class="btn btn-lg btn-secondary">觀光局網站 <i class="fas fa-long-arrow-alt-right"></i></a>
        </p>
    </section>
</div>



<div class="index-wrapper">
    <div class="container">
        <h3 class="search-title"><span>Find a Partner in Taiwan</span></h3>
		<form>
			<div class="program-block">
		        <h5>Gengeral Exchange Program</h5>
				<div class="row">
				    <div class="col-md-8">
					    <div class="form-group">
						    <label for="" class="form-label">International Exchange Method</label>
                            <select class="form-select" aria-label="Default select example">
                                <option selected>All</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                            </select>
						</div>
					</div>
					<div class="col-md-4">
					    <div class="form-group">
						    <label for="" class="form-label">Language</label>
                            <select class="form-select" aria-label="Default select example">
                                <option selected>All</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                            </select>
						</div>
					</div>
					<div class="col-md-4">
					    <div class="form-group">
						    <label for="" class="form-label">School Level</label>
                            <select class="form-select" aria-label="Default select example">
                                <option selected>All</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                            </select>
						</div>
					</div>
					<div class="col-md-8">
					    <div class="form-group">
						    <label for="" class="form-label">Activity</label>
                            <select class="form-select" aria-label="Default select example">
                                <option selected>All</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                            </select>
						</div>
					</div>
					<div class="col-12">
					    <div class="form-group">
						    <label for="geKey" class="form-label">Key Words</label>
                            <input type="text" class="form-control" id="geKey">
						</div>
					</div>
				</div>
				<div class="program-action">
				    <button type="button" class="btn btn-lg btn-success">Search</button>
					<button type="button" class="btn btn-lg btn-light">Reset</button>
				</div>
			</div>
			<div class="program-block">
		        <h5>Taiwan-Japan/Taiwan-Korea Educational Trip Program</h5>
				<div class="row">
				    <div class="col-md-8">
					    <div class="form-group">
						    <label for="" class="form-label">International Exchange Method</label>
                            <select class="form-select" aria-label="Default select example">
                                <option selected>All</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                            </select>
						</div>
					</div>
					<div class="col-md-4">
					    <div class="form-group">
						    <label for="" class="form-label">Language</label>
                            <select class="form-select" aria-label="Default select example">
                                <option selected>All</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                            </select>
						</div>
					</div>
					<div class="col-md-4">
					    <div class="form-group">
						    <label for="" class="form-label">School Level</label>
                            <select class="form-select" aria-label="Default select example">
                                <option selected>All</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                            </select>
						</div>
					</div>
					<div class="col-md-8">
					    <div class="form-group">
						    <label for="" class="form-label">Activity</label>
                            <select class="form-select" aria-label="Default select example">
                                <option selected>All</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                            </select>
						</div>
					</div>
					<div class="col-12">
					    <div class="form-group">
						    <label for="geKey" class="form-label">Key Words</label>
                            <input type="text" class="form-control" id="geKey">
						</div>
					</div>
				</div>
				<div class="program-action">
				    <button type="button" class="btn btn-lg btn-success">Search</button>
					<button type="button" class="btn btn-lg btn-light">Reset</button>
				</div>
			</div>
		</form>
    </div>
</div>

<% content_for :js do %>

<% end %>




