<!-- tigp: 變更密碼  -->

<div class="container">
	<div class="program-title">
	    <h3>Taiwan International Graduate Program On-line Application, 2020</h3>
	</div>
	<section class="form-center">
		<h4 class="text-center py-5">Change password</h4>
        <form>
			<div class="md-form">
                <input type="email" id="materialLoginFormEmail" class="form-control">
                <label for="materialLoginFormEmail">Email</label>
            </div>
            <div class="md-form">
                <input type="password" id="oldPassword" class="form-control">
                <label for="oldPassword">Old Password</label>
            </div>
            <div class="md-form">
                <input type="password" id="newPassword" class="form-control">
                <label for="newPassword">New Password</label>
            </div>
			<div class="md-form">
                <input type="password" id="newPasswordAgain" class="form-control">
                <label for="newPasswordAgain">Re-enter New Password</label>
            </div>
            <div class="text-center py-4">
                <button class="btn btn-outline-default btn-rounded my-4 waves-effect z-depth-0" type="submit">SUBMIT</button>
            </div>
        </form>
    </section>
</div>