<!-- tigp: 推薦信狀態 -->

<div class="container">
	<div class="program-title">
	    <h3>Taiwan International Graduate Program On-line Application, 2020</h3>
	</div>
	<div class="examine-container">
	    <div class="row">
		    <div class="tabs-column col-0 col-lg-3">
			    <ul class="nav-examine menu-item">
					<!-- 以下並非正確翻譯請跟客戶確認正確 wording -->
                    <li class="nav-item">
                        <a class="examine-link" href="examine_application.html">
							<span>Application Preview</span>
						</a>
                    </li>
					<li class="nav-item">
                        <a class="examine-link current" href="examine_recommendation.html">
							<span>Recommendation Letters</span>
							<span class="badge badge-pill badge-secondary">1/3</span>
						</a>
                    </li>
					<li class="nav-item">
                        <a class="examine-link" href="examine_document.html">
							<span>Re-submit Document</span>
							<span class="badge badge-pill badge-danger">1</span>
						</a>
                    </li>
					<li class="nav-item">
                        <a class="examine-link" href="examine_preliminary.html">
							<span>Preliminary Review</span>
						</a>
                    </li>
					<li class="nav-item">
                        <a class="examine-link" href="examine_review.html">
							<span>Secondary Review</span>
						</a>
                    </li>
					<li class="nav-item">
                        <a class="examine-link" href="examine_survey.html">
							<span>Entrance Survey</span>
						</a>
                    </li>
					<li class="nav-item">
                        <a class="examine-link" href="examine_upload.html">
							<span>Contract Upload</span>
						</a>
                    </li>
					<li class="nav-item">
                        <a class="examine-link" href="examine_result.html">
							<span>Result</span>
						</a>
                    </li>
				</ul>
			</div>
			<div class="content-column col-12 col-lg-9">
			    <div class="content-container">
					<div class="examine_nav">
                        <div class="button_container" id="toggle_examine"><span class="top"></span><span class="middle"></span><span class="bottom"></span></div>
                        <div class="overlay" id="overlay_examine">
                            <nav class="overlay-menu">
                                <ul>
                                    <li><a href="examine_application.html">Application Preview</a></li>
                                    <li><a href="examine_recommendation.html">Recommendation Letters <span class="badge badge-pill badge-secondary">1/3</span></a></li>
                                    <li><a href="examine_document.html">Re-submit Document <span class="badge badge-pill badge-danger">1</span></a></li>
                                    <li><a href="examine_preliminary.html">Preliminary review</a></li>
                                    <li><a href="examine_review.html">Review</a></li>
                                    <li><a href="examine_survey.html">Entrance survey</a></li>
                                    <li><a href="examine_upload.html">Contract Upload</a></li>
                                    <li><a href="examine_result.html">Result</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="block-title">
                        <h4 class="h-title">Recommendation Letters</h4>
                    </div>
					<form>
						<div class="add-referee">
                            <button type="button" class="btn btn-rounded aqua-gradient" data-toggle="modal" data-target="#newRefereeModal">
                                Add a new referee
                            </button>
						</div>
                        <div class="degree-section mb-5">
                            <div class="document-upload">
                                <div class="document-item">
                                    <div class="document-hd">
                                        <h5>William Bradley Pitt</h5>
                                    </div>
                                    <div class="document-ft">
                                        <a href="#" class="btn btn-success btn-xs">Sent</a>
                                        <a href="#" class="btn btn-secondary btn-xs" data-toggle="modal" data-target="#newRefereeModal">Edit</a>
                                        <a href="#" class="btn btn-danger btn-xs">Remove</a>
                                    </div>
                                </div>
                                <div class="document-item">
                                    <div class="document-hd">
                                        <h5>Kate Winslet</h5>
                                    </div>
                                    <div class="document-ft clearfix">
                                        <a href="#" class="btn btn-success btn-xs">Re-Sent</a>
                                    </div>
                                </div>
                                <div class="text-right">
                                    <button type="button" class="btn btn-sm btn-rounded btn-outline-primary mx-0">Send All</button>
                                </div>
                            </div>
                        </div>
                        <div class="document-upload mb-0">
                            <div class="document-item">
                                <div class="document-hd">
                                    <h5>Leonardo Wilhelm DiCaprio</h5>
                                    <p class="upload-time">Send
                                        <i class="fa fa-clock-o"></i>
                                        <span class="date">2020/02/28 18:20</span>
                                    </p>
                                </div>
                                <div class="document-ft">
                                    <span class="referee-result agree">
                                        <strong>Agree</strong> 2020/12/12 18:20
                                    </span>
                                </div>
                            </div>
                            <div class="document-item">
                                <div class="document-hd">
                                    <h5>Ryan Rodney Reynolds</h5>
                                    <p class="upload-time">Send
                                        <i class="fa fa-clock-o"></i>
                                        <span class="date">2020/02/28 18:20</span>
                                    </p>
                                </div>
                                <div class="document-ft clearfix">
                                    <span class="referee-result decline">
                                        <strong>Decline</strong> 2020/12/12 18:21
                                    </span>
                                </div>
                            </div>
                        </div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

<% content_for :js do %>
<script src="../javascripts/bootstrap-select.js"></script>
<script>
$("#toggle_examine").click(function () {
    $(this).toggleClass("active");
    $("#overlay_examine").toggleClass("open");
});
</script>
<% end %>