<!-- tigp: 待補文件 -->

<div class="container">
	<div class="program-title">
	    <h3>Taiwan International Graduate Program On-line Application, 2020</h3>
	</div>
	<div class="examine-container">
	    <div class="row">
		    <div class="tabs-column col-0 col-lg-3">
			    <ul class="nav-examine menu-item">
					<!-- 以下並非正確翻譯請跟客戶確認正確 wording -->
                    <li class="nav-item">
                        <a class="examine-link" href="examine_application.html">
							<span>Application Preview</span>
						</a>
                    </li>
					<li class="nav-item">
                        <a class="examine-link" href="examine_recommendation.html">
							<span>Recommendation Letters</span>
							<span class="badge badge-pill badge-secondary">1/3</span>
						</a>
                    </li>
					<li class="nav-item">
                        <a class="examine-link current" href="examine_document.html">
							<span>Re-submit Document</span>
							<span class="badge badge-pill badge-danger">1</span>
						</a>
                    </li>
					<li class="nav-item">
                        <a class="examine-link" href="examine_preliminary.html">
							<span>Preliminary Review</span>
						</a>
                    </li>
					<li class="nav-item">
                        <a class="examine-link" href="examine_review.html">
							<span>Secondary Review</span>
						</a>
                    </li>
					<li class="nav-item">
                        <a class="examine-link" href="examine_survey.html">
							<span>Entrance Survey</span>
						</a>
                    </li>
					<li class="nav-item">
                        <a class="examine-link" href="examine_upload.html">
							<span>Contract Upload</span>
						</a>
                    </li>
					<li class="nav-item">
                        <a class="examine-link" href="examine_result.html">
							<span>Result</span>
						</a>
                    </li>
				</ul>
			</div>
			<div class="content-column col-12 col-lg-9">
			    <div class="content-container">
					<div class="examine_nav">
                        <div class="button_container" id="toggle_examine"><span class="top"></span><span class="middle"></span><span class="bottom"></span></div>
                        <div class="overlay" id="overlay_examine">
                            <nav class="overlay-menu">
                                <ul>
                                    <li><a href="examine_application.html">Application Preview</a></li>
                                    <li><a href="examine_recommendation.html">Recommendation Letters <span class="badge badge-pill badge-secondary">1/3</span></a></li>
                                    <li><a href="examine_document.html">Re-submit Document <span class="badge badge-pill badge-danger">1</span></a></li>
                                    <li><a href="examine_preliminary.html">Preliminary review</a></li>
                                    <li><a href="examine_review.html">Review</a></li>
                                    <li><a href="examine_survey.html">Entrance survey</a></li>
                                    <li><a href="examine_upload.html">Contract Upload</a></li>
                                    <li><a href="examine_result.html">Result</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="block-title">
                        <h4 class="h-title">Re-submit Document</h4>
                    </div>
                    <div class="alert alert-warning" role="alert">
						<strong>Open Repair Time</strong> 2020.10.01 - 2020.12.31
					</div>
					<div class="editor-wall mb-5">After reviewing the documents, there are the following documents that need to be re-submitted, please click "select" to re-upload the documents.</div>
					<form>
                        <div class="document-upload">
							<div class="document-parent">
                                <div class="document-item">
                                    <div class="document-hd">
                                        <h5><%= lorem_words(5) %></h5>
                                    </div>
                                    <div class="document-ft clearfix">
                                        <a href="#" class="btn btn-xs btn-info btn-custom" data-toggle="modal" data-target="#documentModal">View</a>
                                        <div class="file-wrap d-inline-block">
                                            <div class="md-form">
                                                <div class="file-field">
                                                    <div class="btn btn-primary btn-xs float-left">
                                                        <span>Select</span>
                                                        <input type="file">
                                                    </div>
                                                    <div class="file-path-wrapper">
                                                        <input class="file-path validate" type="text" placeholder="Upload file">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <a href="#" class="btn btn-xs btn-default">Save</a>
                                        <a href="#" class="btn btn-blue-grey btn-xs" data-toggle="modal" data-target="#historyModal">History</a>
                                    </div>
                                </div>
								<div class="document-info"><%= lorem_sentences(1) %></div>
							</div>
							<div class="document-parent">
                                <div class="document-item">
                                    <div class="document-hd">
                                        <h5><%= lorem_words(5) %></h5>
                                    </div>
                                    <div class="document-ft clearfix">
                                        <a href="#" class="btn btn-xs btn-info btn-custom" data-toggle="modal" data-target="#documentModal">View</a>
                                        <div class="file-wrap d-inline-block">
                                            <div class="md-form">
                                                <div class="file-field">
                                                    <div class="btn btn-primary btn-xs float-left">
                                                        <span>Select</span>
                                                        <input type="file">
                                                    </div>
                                                    <div class="file-path-wrapper">
                                                        <input class="file-path validate" type="text" placeholder="Upload file">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <a href="#" class="btn btn-xs btn-default">Save</a>
                                        <a href="#" class="btn btn-blue-grey btn-xs" data-toggle="modal" data-target="#historyModal">History</a>
                                    </div>
                                </div>
								<div class="document-info"><%= lorem_sentences(1) %></div>
							</div>
                        </div>
                        <div class="form-action">
                            <a href="#" class="btn btn-primary">SUBMIT</a>
                        </div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

<% content_for :js do %>
<script src="../javascripts/bootstrap-select.js"></script>
<script>
$("#toggle_examine").click(function () {
    $(this).toggleClass("active");
    $("#overlay_examine").toggleClass("open");
});
</script>
<% end %>