<!-- tigp: 入學調查 -->

<div class="container">
	<div class="program-title">
	    <h3>Taiwan International Graduate Program On-line Application, 2020</h3>
	</div>
	<div class="examine-container">
	    <div class="row">
		    <div class="tabs-column col-0 col-lg-3">
			    <ul class="nav-examine menu-item">
					<!-- 以下並非正確翻譯請跟客戶確認正確 wording -->
                    <li class="nav-item">
                        <a class="examine-link" href="examine_application.html">
							<span>Application Preview</span>
						</a>
                    </li>
					<li class="nav-item">
                        <a class="examine-link" href="examine_recommendation.html">
							<span>Recommendation Letters</span>
							<span class="badge badge-pill badge-secondary">1/3</span>
						</a>
                    </li>
					<li class="nav-item">
                        <a class="examine-link" href="examine_document.html">
							<span>Re-submit Document</span>
							<span class="badge badge-pill badge-danger">1</span>
						</a>
                    </li>
					<li class="nav-item">
                        <a class="examine-link" href="examine_preliminary.html">
							<span>Preliminary Review</span>
						</a>
                    </li>
					<li class="nav-item">
                        <a class="examine-link" href="examine_review.html">
							<span>Secondary Review</span>
						</a>
                    </li>
					<li class="nav-item">
                        <a class="examine-link current" href="examine_survey.html">
							<span>Entrance Survey</span>
						</a>
                    </li>
					<li class="nav-item">
                        <a class="examine-link" href="examine_upload.html">
							<span>Contract Upload</span>
						</a>
                    </li>
					<li class="nav-item">
                        <a class="examine-link" href="examine_result.html">
							<span>Result</span>
						</a>
                    </li>
				</ul>
			</div>
			<div class="content-column col-12 col-lg-9">
			    <div class="content-container">
					<div class="examine_nav">
                        <div class="button_container" id="toggle_examine"><span class="top"></span><span class="middle"></span><span class="bottom"></span></div>
                        <div class="overlay" id="overlay_examine">
                            <nav class="overlay-menu">
                                <ul>
                                    <li><a href="examine_application.html">Application Preview</a></li>
                                    <li><a href="examine_recommendation.html">Recommendation Letters <span class="badge badge-pill badge-secondary">1/3</span></a></li>
                                    <li><a href="examine_document.html">Re-submit Document <span class="badge badge-pill badge-danger">1</span></a></li>
                                    <li><a href="examine_preliminary.html">Preliminary review</a></li>
                                    <li><a href="examine_review.html">Review</a></li>
                                    <li><a href="examine_survey.html">Entrance survey</a></li>
                                    <li><a href="examine_upload.html">Contract Upload</a></li>
                                    <li><a href="examine_result.html">Result</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="block-title">
                        <h4 class="h-title">Entrance survey</h4>
                    </div>
                    <div class="alert alert-success mb-5" role="alert">
                        <strong>Investigation period</strong> 2020.10.01 - 2020.12.31
                    </div>
					<form>
						<div class="form-section">
                            <h4 class="section-title">Intent to apply TiGP Dorm</h4>
                            <div class="form-group">
                                <label><span class="required">*</span> Do you want to apply TiGP dorm?</label>
                                <div>
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" class="custom-control-input dormapply_yes" id="singleYes" name="dormApply">
                                        <label class="custom-control-label" for="singleYes">Yes, single room</label>
                                    </div>
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" class="custom-control-input dormapply_yes" id="familyYes" name="dormApply">
                                        <label class="custom-control-label" for="familyYes">Yes, family room</label>
                                    </div>
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" class="custom-control-input dormapply_no" id="dormNo" name="dormApply">
                                        <label class="custom-control-label" for="dormNo">No, I don't need TIGP dorm</label>
                                    </div>
                                </div>
                            </div>
                            <div class="dormapply-container extend-con hide">
                                <div class="form-group">
                                    <label><span class="required">*</span> Do you need to apply for a car parking space in the TIGP dorm?</label>
                                    <div>
                                        <div class="custom-control custom-radio custom-control-inline">
                                            <input type="radio" class="custom-control-input" id="parkingYes" name="parkingApply">
                                            <label class="custom-control-label" for="parkingYes">Yes</label>
                                        </div>
                                        <div class="custom-control custom-radio custom-control-inline">
                                            <input type="radio" class="custom-control-input" id="parkingNo" name="parkingApply">
                                            <label class="custom-control-label" for="parkingYes">No</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="healthConcerns"><span class="required">*</span> Do you have any health concerns we should notice?</label>
                                    <input type="text" class="form-control" id="healthConcerns">
                                </div>
                                <div class="form-group">
                                    <label><span class="required">*</span> Your expected arrival date</label>
                                    <div id="date-picker-example" class="md-form md-outline input-with-post-icon datepicker my-0">
                                        <input placeholder="Select date" type="text" id="example" class="form-control" />
                                        <label for="example"></label>
                                        <i class="fa fa-calendar input-prefix" tabindex="0"></i>
                                    </div>
                                </div>
                            </div>
						</div>
						<div class="form-section">
						    <h4 class="section-title">Taiwan Overseas Missions for Visa Application</h4>
							<div class="form-group">
                                <label><span class="required">*</span> Which Taiwan overseas mission will you apply for the visa?</label>
                                <div class="custom-control custom-radio">
                                    <input type="radio" class="custom-control-input" id="visaTaiwanese" name="visaApply">
                                    <label class="custom-control-label" for="visaTaiwanese">I am Taiwanese, I don't need VISA</label>
                                </div>
                                <div class="custom-control custom-radio">
                                    <input type="radio" class="custom-control-input" id="visaDont" name="visaApply">
                                    <label class="custom-control-label" for="visaDont">I don't intend to change my VISA application office</label>
                                </div>
                                <div class="custom-control custom-radio">
                                    <input type="radio" class="custom-control-input" id="visaChange" name="visaApply">
                                    <label class="custom-control-label" for="visaChange">I intend to change VISA application office and I will apply at:</label>
                                </div>
								<div>
                                    <select class="browser-default custom-select">
                                        <option selected>Please select</option>
                                        <option value="Austria">Austria</option>
                                        <option value="India (New Delhi)">India (New Delhi)</option>
                                        <option value="Indonesia (Jakarta)">Indonesia (Jakarta)</option>
                                    </select>
								</div>
                            </div>
                            <div class="form-group">
                                <label><span class="required">*</span> Address (For sending admission package)</label>
                                <div>
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" class="custom-control-input address_same" id="addressSame" name="packageAddress">
                                        <label class="custom-control-label" for="addressSame">The address is same as current postal mailing address I provided in the application form</label>
                                    </div>
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" class="custom-control-input address_other" id="addressOther" name="packageAddress">
                                        <label class="custom-control-label" for="addressOther">I would like to provide the other address for sending the admission package:</label>
                                    </div>
                                </div>
                            </div>
                            <div class="address-container extend-con hide">
                                <div class="form-group">
                                    <label for="permanentAddressLine1"><span class="required">*</span> Address Line 1</label>
                                    <input type="text" class="form-control" id="permanentAddressLine1">
                                </div>
                                <div class="form-group">
                                    <label for="permanentAddressLine2">Address Line 2</label>
                                    <input type="text" class="form-control" id="permanentAddressLine2">
                                </div>
								<div class="form-group">
                                    <label for="permanentAddressLine3">Address Line 3</label>
                                    <input type="text" class="form-control" id="permanentAddressLine3">
                                </div>
                                <div class="form-row">
                                    <div class="col-12 col-lg-3">
                                        <div class="form-group">
                                            <label for="permanentPostalCode"><span class="required">*</span> Postal Code</label>
                                            <input type="text" class="form-control" id="permanentPostalCode">
                                        </div>
                                    </div>
                                    <div class="col-12 col-lg-4">
                                        <div class="form-group">
                                            <label for="permanentCityTown"><span class="required">*</span> City / Town</label>
                                            <input type="text" class="form-control" id="permanentCityTown">
                                        </div>
                                    </div>
                                    <div class="col-12 col-lg-5">
                                        <div class="form-group">
                                            <label for="permanentState"><span class="required">*</span> State</label>
                                            <input type="text" class="form-control" id="permanentState">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for=""><span class="required">*</span> Country</label>
                                    <div class="bootstrap-select-fullwidth">
                                        <select class="selectpicker" data-show-subtext="true" data-live-search="true">
                                            <option selected="">Please select country</option>
                                            <option data-subtext="Abkhazia">Abkhazia</option>
                                            <option data-subtext="Albania">Albania</option>
                                            <option data-subtext="Bosnia and Herzegovina">Bosnia and Herzegovina</option>
                                            <option data-subtext="Democratic Republic of the Congo">Democratic Republic of the Congo</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Is residential address?</label>
									<div>
                                        <div class="custom-control custom-radio custom-control-inline">
                                            <input type="radio" class="custom-control-input" id="residentialIs" name="residentialAddress">
                                            <label class="custom-control-label" for="residentialIs">It is residential address</label>
                                        </div>
                                        <div class="custom-control custom-radio custom-control-inline">
                                            <input type="radio" class="custom-control-input" id="residentialNot" name="residentialAddress">
                                            <label class="custom-control-label" for="residentialNot">It is NOT residential address</label>
                                        </div>
									</div>
                                </div>
                            </div>
						</div>
                        <div class="form-action">
                            <a href="#" class="btn btn-primary">SUBMIT</a>
                        </div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

<% content_for :js do %>
<script src="../javascripts/bootstrap-select.js"></script>
<script>
	$('.datepicker').datepicker();
    $("#toggle_examine").click(function () {
        $(this).toggleClass("active");
        $("#overlay_examine").toggleClass("open");
    });
	$(document).ready(function(){
        $('.dormapply_yes').click(function(){
            if($(this).is(":checked")) {
                $('.dormapply-container').show();
            } 
        });
		$('.dormapply_no').click(function(){
            if($(this).is(":checked")) {
                $('.dormapply-container').hide();
            }
        });
    });
	$(document).ready(function(){
        $('.address_same').click(function(){
            if($(this).is(":checked")) {
                $('.address-container').hide();
            } 
        });
		$('.address_other').click(function(){
            if($(this).is(":checked")) {
                $('.address-container').show();
            }
        });
    });
</script>
<% end %>