<!-- NCTU-OASIS: 變更密碼  -->

<div class="login-container">
    <div class="login">
        <div class="alert alert-danger" role="alert">
            Warning when the password is different from the password!
        </div>
        <form>
            <p class="h4 text-center py-4">Change Password</p>
            <div class="md-form">
                <input type="password" id="oldPassword" class="form-control">
                <label for="oldPassword">Old password</label>
            </div>
            <div class="md-form">
                <input type="password" id="newPassword" class="form-control">
                <label for="newPassword">New password</label>
				<small class="form-text text-muted">Please use English and numbers to form an 8 - 12 digit password.</small>
            </div>
            <div class="md-form">
                <input type="password" id="newPasswordAgain" class="form-control">
                <label for="newPasswordAgain">New password again</label>
            </div>
            <div class="text-center py-4">
                <button class="btn btn-outline-default btn-rounded my-4 waves-effect z-depth-0" type="submit">Submit</button>
            </div>
        </form>
    </div>
</div>