<!-- NCTU-OASIS: 雙重國籍檢查 - Two  -->

<div class="container">
    <div class="section-hd">
        <h4 class="block-title">Admission qualification review</h4>
		<p>Please follow the steps below to fill in the following information before applying to confirm your eligibility.</p>
    </div>
	<form>
		<div class="mb-5">
			<h6 class="font-weight-bold">Father nationality</h6>
            <div class="form-check mb-1">
                <input type="radio" class="form-check-input" id="nctuRadios1" name="nctuExampleRadios">
                <label class="form-check-label" for="nctuRadios1">只有外國國籍</label>
            </div>
			<div class="form-check mb-1">
                <input type="radio" class="form-check-input" id="nctuRadios2" name="nctuExampleRadios">
                <label class="form-check-label" for="nctuRadios2">曾有中華民國國籍，現為外國國籍</label>
				<p class="form-indentation form-text mb-0">放棄之證明書核發日期為</p>
				<div class="form-row form-indentation">
                    <div class="form-group col-2">
                        <select class="mdb-select md-form">
                            <option value="" disabled selected>Years</option>
                            <option value="1">2018</option>
                            <option value="2">2017</option>
                            <option value="3">2016</option>
                        </select>
                    </div>
					<div class="form-group col-2">
                        <select class="mdb-select md-form">
                            <option value="" disabled selected>Month</option>
                            <option value="1">01</option>
                            <option value="2">02</option>
                            <option value="3">03</option>
                        </select>
                    </div>
					<div class="form-group col-2">
                        <select class="mdb-select md-form">
                            <option value="" disabled selected>Day</option>
                            <option value="1">01</option>
                            <option value="2">02</option>
                            <option value="3">03</option>
                        </select>
                    </div>
				</div>
            </div>
			<div class="form-check mb-1">
                <input type="radio" class="form-check-input" id="nctuRadios3" name="nctuExampleRadios">
                <label class="form-check-label" for="nctuRadios3">現有中華民國國籍，但我申請者本人曾經放棄中華民國國籍</label>
				<p class="form-indentation form-text mb-0">放棄之證明書核發日期為</p>
				<div class="form-row form-indentation">
                    <div class="form-group col-2">
                        <select class="mdb-select md-form">
                            <option value="" disabled selected>Years</option>
                            <option value="1">2018</option>
                            <option value="2">2017</option>
                            <option value="3">2016</option>
                        </select>
                    </div>
					<div class="form-group col-2">
                        <select class="mdb-select md-form">
                            <option value="" disabled selected>Month</option>
                            <option value="1">01</option>
                            <option value="2">02</option>
                            <option value="3">03</option>
                        </select>
                    </div>
					<div class="form-group col-2">
                        <select class="mdb-select md-form">
                            <option value="" disabled selected>Day</option>
                            <option value="1">01</option>
                            <option value="2">02</option>
                            <option value="3">03</option>
                        </select>
                    </div>
				</div>
            </div>
			<div class="form-check mb-1">
                <input type="radio" class="form-check-input" id="nctuRadios4" name="nctuExampleRadios">
                <label class="form-check-label" for="nctuRadios4">現有中華民國國籍，且我申請者本人不曾放棄中華民國國籍</label>
            </div>
		</div>
		<div class="mb-5">
			<h6 class="font-weight-bold">Mother nationality</h6>
			<div class="form-check mb-1">
                <input type="radio" class="form-check-input" id="nctuRadios11" name="nctuExampleRadios">
                <label class="form-check-label" for="nctuRadios11">只有外國國籍</label>
            </div>
			<div class="form-check mb-1">
                <input type="radio" class="form-check-input" id="nctuRadios12" name="nctuExampleRadios">
                <label class="form-check-label" for="nctuRadios12">曾有中華民國國籍，現為外國國籍</label>
            </div>
			<div class="form-check mb-1">
                <input type="radio" class="form-check-input" id="nctuRadios13" name="nctuExampleRadios">
                <label class="form-check-label" for="nctuRadios13">現有中華民國國籍</label>
            </div>
		</div>
		<div class="mb-5">
			<h6 class="font-weight-bold">請問是否曾經在台灣設過戶籍</h6>
			<div class="form-check mb-1">
                <input type="radio" class="form-check-input" id="nctuRadios21" name="nctuExampleRadios">
                <label class="form-check-label" for="nctuRadios21">有</label>
            </div>
			<div class="form-check mb-1">
                <input type="radio" class="form-check-input" id="nctuRadios22" name="nctuExampleRadios">
                <label class="form-check-label" for="nctuRadios22">沒有，但是過去 6 年中，我曾在其中一年，在台灣居留超過 120 天，或曾在港澳大陸連續居留</label>
            </div>
			<div class="form-check mb-1">
                <input type="radio" class="form-check-input" id="nctuRadios23" name="nctuExampleRadios">
                <label class="form-check-label" for="nctuRadios23">沒有，並且過去 6 年中，我不曾在其中一年，在台灣居留超過 120 天，也不曾在港澳大陸連續居留</label>
            </div>
		</div>
        <div class="text-center">
            <a href="#" class="btn btn-link pull-left">Previous</a>
            <a href="#" class="btn btn-link">Cancel</a>
            <a href="#" class="btn btn-default">Next</a>
        </div>
	</form>
</div>

<% content_for :js do %>
<script>
    // Material Select Initialization
    $(document).ready(function() {
        $('.mdb-select').materialSelect();
    });
</script>
<% end %>