<!-- NCTU-OASIS: 雙重國籍檢查 - 通過  -->

<div class="container">
    <div class="section-hd">
        <h4 class="block-title">Admission qualification review</h4>
        <h5 class="font-700">Congratulations on your eligibility!</h5>
    </div>
	<p class="mb-5">Please confirm the delivery and enter the online application system.</p>
	<div class="text-center">
		<a href="#" class="btn btn-link">Cancel</a>
		<a href="#" class="btn btn-default">Submit</a>
	</div>
</div>

<% content_for :js do %>
<script>
    // Material Select Initialization
    $(document).ready(function() {
        $('.mdb-select').materialSelect();
    });
</script>
<% end %>