<!-- NCTU-OASIS: 雙重國籍檢查 - One  -->

<div class="container">
    <div class="section-hd">
        <h4 class="block-title">Admission qualification review</h4>
		<p>Please follow the steps below to fill in the following information before applying to confirm your eligibility.</p>
    </div>
	<form>
		<div class="mb-5">
			<h6 class="font-weight-bold">Please choose your identity</h6>
            <div class="form-check mb-1">
                <input type="radio" class="form-check-input" id="nctuRadios1" name="nctuExampleRadios">
                <label class="form-check-label" for="nctuRadios1">Only foreign nationality</label>
            </div>
			<div class="form-check mb-1">
                <input type="radio" class="form-check-input" id="nctuRadios2" name="nctuExampleRadios">
                <label class="form-check-label" for="nctuRadios2">Foreign nationality, both nationality of the Republic of China</label>
				<p class="form-indentation form-text mb-0">Please fill in the date of issuance of the certificate of waiver</p>
				<div class="form-row form-indentation">
                    <div class="form-group col-2">
                        <select class="mdb-select md-form">
                            <option value="" disabled selected>Years</option>
                            <option value="1">2018</option>
                            <option value="2">2017</option>
                            <option value="3">2016</option>
                        </select>
                    </div>
					<div class="form-group col-2">
                        <select class="mdb-select md-form">
                            <option value="" disabled selected>Month</option>
                            <option value="1">01</option>
                            <option value="2">02</option>
                            <option value="3">03</option>
                        </select>
                    </div>
					<div class="form-group col-2">
                        <select class="mdb-select md-form">
                            <option value="" disabled selected>Day</option>
                            <option value="1">01</option>
                            <option value="2">02</option>
                            <option value="3">03</option>
                        </select>
                    </div>
				</div>
            </div>
			<div class="form-check mb-1">
                <input type="radio" class="form-check-input" id="nctuRadios3" name="nctuExampleRadios">
                <label class="form-check-label" for="nctuRadios3">I have foreign nationality and have permanent residence in Hong Kong or Macau.</label>
            </div>
			<div class="form-check mb-1">
                <input type="radio" class="form-check-input" id="nctuRadios4" name="nctuExampleRadios">
                <label class="form-check-label" for="nctuRadios4">I have a Chinese nationality and are now a foreign national.</label>
            </div>
		</div>
		<div class="mb-5">
			<h6 class="font-weight-bold">Your birthday</h6>
            <div class="form-row">
                <div class="form-group col-2">
                    <select class="mdb-select md-form">
                        <option value="" disabled selected>Years</option>
                        <option value="1">2018</option>
                        <option value="2">2017</option>
                        <option value="3">2016</option>
                    </select>
                </div>
                <div class="form-group col-2">
                    <select class="mdb-select md-form">
                        <option value="" disabled selected>Month</option>
                        <option value="1">01</option>
                        <option value="2">02</option>
                        <option value="3">03</option>
                    </select>
                </div>
                <div class="form-group col-2">
                    <select class="mdb-select md-form">
                        <option value="" disabled selected>Day</option>
                        <option value="1">01</option>
                        <option value="2">02</option>
                        <option value="3">03</option>
                    </select>
                </div>
            </div>
		</div>
        <div class="text-center">
            <a href="#" class="btn btn-link">Cancel</a>
            <a href="#" class="btn btn-default">Next</a>
        </div>
	</form>
</div>

<% content_for :js do %>
<script>
    // Material Select Initialization
    $(document).ready(function() {
        $('.mdb-select').materialSelect();
    });
</script>
<% end %>