<!-- NCTU-OASIS: 申請步驟二  -->

<div class="container">
	<div class="step-bar four-step">
		<ul>
			<li class="done">
				<span>
					<span class="step">1</span>
					<h4>Application form</h4>
					<p class="brief">Fill in the online application form</p>
				</span>
			</li>
			<li class="active">
				<span>
					<span class="step">2</span>
					<h4>Referrer</h4>
					<p class="brief">Set recommendation letter recommender</p>
				</span>
			</li>
			<li>
				<span>
					<span class="step">3</span>
					<h4>Upload files</h4>
					<p class="brief">Upload the documents required for the application</p>
				</span>
			</li>
			<li>
				<span>
					<span class="step">4</span>
					<h4>Send an application</h4>
					<p class="brief">Preview and send out application materials</p>
				</span>
			</li>
		</ul>
	</div>
	<div class="step-container">
		<p><i class="fa fa-exclamation-circle"></i> Fill in at least one person and no more than three people.</p>
		<div class="data-block">
            <h4 class="mb-4 font-400">Referrer One</h4>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label for="referrerNameOne">Name</label>
                        <input type="text" class="form-control" id="referrerNameOne" placeholder="">
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label for="referrerRelationshipOne">Relationship with applicant</label>
                        <input type="email" class="form-control" id="referrerRelationshipOne" placeholder="">
                    </div>
                </div>
            </div>
			<div class="row">
                <div class="col">
                    <div class="form-group">
                        <label for="referrerEmploymentOne">Employment</label>
                        <input type="text" class="form-control" id="referrerEmploymentOne" placeholder="">
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label for="referrerPositionOne">Position/Title</label>
                        <input type="email" class="form-control" id="referrerPositionOne" placeholder="">
                    </div>
                </div>
            </div>
			<div class="row">
                <div class="col">
                    <div class="form-group">
                        <label for="referrerEmailOne">Email</label>
                        <input type="email" class="form-control" id="referrerEmailOne" placeholder="">
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label>Tel</label>
                        <div class="form-row">
                            <div class="col-4">
                                <input type="text" class="form-control" placeholder="Country Code">
                            </div>
                            <div class="col-4">
                                <input type="text" class="form-control" placeholder="Area Code">
                            </div>
                            <div class="col-4">
                                <input type="text" class="form-control" placeholder="Number">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label>Recommended department</label>
                <div class="form-check mb-1">
                    <input type="checkbox" class="form-check-input" id="recommendedOne">
                    <label class="form-check-label" for="recommendedOne">Degree/college name/department name</label>
                </div>
				<div class="form-check mb-1">
                    <input type="checkbox" class="form-check-input" id="recommendedTwo">
                    <label class="form-check-label" for="recommendedTwo">Degree/college name/department name</label>
                </div>
				<div class="form-check mb-1">
                    <input type="checkbox" class="form-check-input" id="recommendedThree">
                    <label class="form-check-label" for="recommendedThree">Degree/college name/department name</label>
                </div>
            </div>
		</div>
		<div class="data-block">
            <h4 class="mb-4 font-400">Referrer Two</h4>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label for="referrerNameTwo">Name</label>
                        <input type="text" class="form-control" id="referrerNameTwo" placeholder="">
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label for="referrerRelationshipTwo">Relationship with applicant</label>
                        <input type="email" class="form-control" id="referrerRelationshipTwo" placeholder="">
                    </div>
                </div>
            </div>
			<div class="row">
                <div class="col">
                    <div class="form-group">
                        <label for="referrerEmploymentTwo">Employment</label>
                        <input type="text" class="form-control" id="referrerEmploymentTwo" placeholder="">
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label for="referrerPositionTwo">Position/Title</label>
                        <input type="email" class="form-control" id="referrerPositionTwo" placeholder="">
                    </div>
                </div>
            </div>
			<div class="row">
                <div class="col">
                    <div class="form-group">
                        <label for="referrerEmailTwo">Email</label>
                        <input type="email" class="form-control" id="referrerEmailTwo" placeholder="">
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label>Tel</label>
                        <div class="form-row">
                            <div class="col-4">
                                <input type="text" class="form-control" placeholder="Country Code">
                            </div>
                            <div class="col-4">
                                <input type="text" class="form-control" placeholder="Area Code">
                            </div>
                            <div class="col-4">
                                <input type="text" class="form-control" placeholder="Number">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label>Recommended department</label>
                <div class="form-check mb-1">
                    <input type="checkbox" class="form-check-input" id="recommended2One">
                    <label class="form-check-label" for="recommended2One">Degree/college name/department name</label>
                </div>
				<div class="form-check mb-1">
                    <input type="checkbox" class="form-check-input" id="recommended2Two">
                    <label class="form-check-label" for="recommended2Two">Degree/college name/department name</label>
                </div>
				<div class="form-check mb-1">
                    <input type="checkbox" class="form-check-input" id="recommended2Three">
                    <label class="form-check-label" for="recommended2Three">Degree/college name/department name</label>
                </div>
            </div>
            <a href="#" title="delete" class="btn-delete"><i class="fa fa-times"></i></a>
			<!-- 刪除按鈕點擊後應該跳出警告視窗再次確認 -->
			<!-- 刪除按鈕在第二筆資料才會出現 -->
		</div>
        <a href="#" class="add-btn">
            <span class="btn btn-sm btn-blue-grey btn-rounded"><i class="fa fa-plus"></i></span>
            <span class="text-black-50">Add a new one</span>
        </a>
        <div class="text-center mt-4">
			<a href="#" class="btn btn-link btn-lg">Previous</a>
            <a href="#" class="btn btn-default btn-lg">Save</a>
            <a href="#" class="btn btn-link btn-lg">Next</a>
        </div>
	</div>
</div>

