<!-- NCTU-OASIS: 申請步驟三  -->

<div class="container">
	<div class="step-bar four-step">
		<ul>
			<li class="done">
				<span>
					<span class="step">1</span>
					<h4>Application form</h4>
					<p class="brief">Fill in the online application form</p>
				</span>
			</li>
			<li class="done">
				<span>
					<span class="step">2</span>
					<h4>Referrer</h4>
					<p class="brief">Set recommendation letter recommender</p>
				</span>
			</li>
			<li class="active">
				<span>
					<span class="step">3</span>
					<h4>Upload files</h4>
					<p class="brief">Upload the documents required for the application</p>
				</span>
			</li>
			<li>
				<span>
					<span class="step">4</span>
					<h4>Send an application</h4>
					<p class="brief">Preview and send out application materials</p>
				</span>
			</li>
		</ul>
	</div>
	
	<div class="step-container">
		<h5 class="mt-5 font-700">Qualification document</h5>
		<p class="text-muted mb-5"><span class="required font-700">*</span>Representative document</p>
		<div class="document-upload">
		    <div class="document-item">
			    <div class="document-hd">
				    <h5 class="font-300"><span class="required font-700">*</span><%= lorem_words(5) %></h5>
					<p class="font-300 text-muted">Upload time <i class="fa fa-clock-o"></i> 2018/12/12 18:20</p>
				</div>
				<div class="document-ft">
					<a href="#" class="btn btn-secondary btn-xs" data-toggle="modal" data-target="#basicExampleModal">Description</a>
					<a href="#" class="btn btn-info btn-xs" data-toggle="modal" data-target="#basicExampleModal">View</a>
					<a href="#" class="btn btn-warning btn-xs" data-toggle="modal" data-target="#basicExampleModal">Edit</a>
				</div>
			</div>
			<div class="document-item">
			    <div class="document-hd">
				    <h5 class="font-300"><span class="required font-700">*</span>Transcripts for all semesters</h5>
					<p class="font-300 text-muted">Upload time <i class="fa fa-clock-o"></i> 2018/12/12 18:20</p>
				</div>
				<div class="document-ft">
					<a href="#" class="btn btn-secondary btn-xs" data-toggle="modal" data-target="#basicExampleModal">Description</a>
					<a href="#" class="btn btn-info btn-xs" data-toggle="modal" data-target="#basicExampleModal">View</a>
					<a href="#" class="btn btn-warning btn-xs" data-toggle="modal" data-target="#basicExampleModal">Edit</a>
				</div>
			</div>
			<div class="document-item">
			    <div class="document-hd">
				    <h5 class="font-300">Completed NCTU scholarship application form</h5>
				</div>
                <div class="document-ft clearfix">
                    <a href="#" class="btn btn-xs btn-secondary btn-custom" data-toggle="modal" data-target="#basicExampleModal">Description</a>
                    <div class="file-wrap">
                        <form class="md-form">
                            <div class="file-field">
                                <div class="btn btn-primary btn-xs float-left">
                                    <span>Select</span>
                                    <input type="file">
                                </div>
                                <div class="file-path-wrapper">
                                    <input class="file-path validate" type="text" placeholder="Upload your file">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
			</div>
		</div>
		
		<h5 class="mt-5 mb-5 font-700">Degree/College Name/Department Name Requirements Document</h5>
		<div class="document-upload">
			<div class="document-item">
			    <div class="document-hd">
				    <h5 class="font-300">Completed NCTU scholarship application form</h5>
				</div>
                <div class="document-ft clearfix">
                    <a href="#" class="btn btn-xs btn-secondary btn-custom" data-toggle="modal" data-target="#basicExampleModal">Description</a>
                    <div class="file-wrap">
                        <form class="md-form">
                            <div class="file-field">
                                <div class="btn btn-primary btn-xs float-left">
                                    <span>Select</span>
                                    <input type="file">
                                </div>
                                <div class="file-path-wrapper">
                                    <input class="file-path validate" type="text" placeholder="Upload your file">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
			</div>
			<div class="document-item">
			    <div class="document-hd">
				    <h5 class="font-300">Completed NCTU scholarship application form</h5>
				</div>
                <div class="document-ft clearfix">
                    <a href="#" class="btn btn-xs btn-secondary btn-custom" data-toggle="modal" data-target="#basicExampleModal">Description</a>
                    <div class="file-wrap">
                        <form class="md-form">
                            <div class="file-field">
                                <div class="btn btn-primary btn-xs float-left">
                                    <span>Select</span>
                                    <input type="file">
                                </div>
                                <div class="file-path-wrapper">
                                    <input class="file-path validate" type="text" placeholder="Upload your file">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
			</div>
		</div>
		
		<h5 class="mt-5 mb-5 font-700">Registration fee certification document</h5>
		<table class="table">
		    <thead>
			    <tr>
				    <th>Priority</th>
					<th>College & Department/Institute</th>
					<th>Degree Program</th>
				</tr>
			</thead>
			<tbody>
			    <tr>
				    <td>1</td>
					<td>Degree/College Name/Department Name (Guangfu Campus)</td>
					<td>Master's degree</td>
				</tr>
				<tr>
				    <td>2</td>
					<td>Degree/College Name/Department Name (Guangfu Campus)</td>
					<td>Doctor</td>
				</tr>
			</tbody>
			<tfoot>
			    <tr>
				    <td class="text-right" colspan="3">
					    <h5 class="font-400 text-default">Total 2 departments total amount: 10 dollars</h5>
					</td>
				</tr>
			</tfoot>
		</table>
		<div class="text-block mb-5">
		    <p><%= lorem_paragraph %></p>
			<p><%= lorem_paragraph %></p>
		</div>
		<div class="document-upload mb-5">
			<div class="document-item">
			    <div class="document-hd">
				    <h5 class="font-300">Payment proof upload</h5>
				</div>
                <div class="document-ft clearfix">
                    <a href="#" class="btn btn-xs btn-secondary btn-custom" data-toggle="modal" data-target="#basicExampleModal">Description</a>
                    <div class="file-wrap">
                        <form class="md-form">
                            <div class="file-field">
                                <div class="btn btn-primary btn-xs float-left">
                                    <span>Select</span>
                                    <input type="file">
                                </div>
                                <div class="file-path-wrapper">
                                    <input class="file-path validate" type="text" placeholder="Upload your file">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
			</div>
		</div>
		
        <div class="text-center mt-4">
			<a href="#" class="btn btn-link btn-lg">Previous</a>
            <a href="#" class="btn btn-default btn-lg">Save</a>
            <a href="#" class="btn btn-link btn-lg">Next</a>
        </div>
	</div>
</div>

<!-- Modal -->
<div class="modal fade" id="basicExampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Modal 相關設定請參考 <a href="https://mdbootstrap.com/docs/jquery/modals/basic/" btn-lg">Mdbootstrap</a>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-white" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-sm btn-default">Save changes</button>
            </div>
        </div>
    </div>
</div>





























