<!-- NCTU-OASIS: 申請首頁  -->

<div class="container">
	<h6 class="mb-5">Open application time: January 31, 20XX 08:00 ~ February 28, 20XX 23:59 Taiwan</h6>
    <div class="document-upload mb-5">
        <div class="document-item">
            <div class="document-hd">
                <h5 class="caption"><strong>Step1.</strong> Fill in the online application form</h5>
            </div>
            <div class="document-ft">
                <h5><span class="badge badge-success">Completed</span></h5>
            </div>
        </div>
		<div class="document-item">
            <div class="document-hd">
                <h5 class="caption"><strong>Step2.</strong> Set the recommender</h5>
            </div>
            <div class="document-ft">
                <h5><span class="badge badge-danger">Undone</span></h5>
            </div>
        </div>
		<div class="document-item">
            <div class="document-hd">
                <h5 class="caption"><strong>Step3.</strong> Upload application file</h5>
            </div>
            <div class="document-ft">
                <h5><span class="badge badge-danger">Undone</span></h5>
            </div>
        </div>
    </div>
    <div class="text-center">
        <a href="step5.html" class="btn btn-default btn-lg mr-5">Next Step</a>
        <a href="overview.html" class="text-black-50">Cancel</a>
    </div>
</div>

