<!-- template: 出國: 教授 - 首頁 -->

<div class="workspace" canvas="container">
    <div class="pages general-pages">
        
        <header class="header header-outgoing" id="pagetop">
            <div class="container-lg">
                <div class="header-wrap">
                    <div class="header-function">
                        <div class="header-right">
                            <div class="account">
                                您好, 湯姆克魯斯
                            </div>
                        </div>
                    </div>
                    <div class="brands">
                        <div class="brands-link">
                            <div class="logo">
                                <h1 class="text-hide">College of Management ,National Taiwan University</h1>
                                <img class="h1-logo" src="../../assets/logo@2x.svg">
                            </div>
                            <div class="sub">
                                <span>國立臺灣大學 管理學院</span>
                                <span>出國交換甄選系統</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sys-subject">
                <div class="container-lg">
                    <h4>113 學年度 第 1 學期</h4>
                </div>
            </div>
        </header>
        
        <div class="content">
            <div class="container-lg">
                <div class="mb-5">
                    <h5>審查規範說明</h5>
                    <p><%= lorem_paragraph %></p>
                    <p><%= lorem_paragraph %></p>
                </div>
                
                <table class="table table-bordered text-center mb-5">
                    <thead>
                        <tr>
                            <th>待審查件數</th>
                            <th>已完成評分件數</th>
                            <th>未評分件數</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>999</td>
                            <td>999</td>
                            <td>999</td>
                            <td>
                                <a href="#" class="btn btn-outline-success btn-rounded">開啟審查</a>
                                <button type="button" class="btn btn-primary btn-rounded">送出結果</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                
                <div class="row mb-5">
                    <div class="col-6">
                        <h5 class="fw-bold mb-3">英檢分布圖</h5>
                        <img class="d-block w-100" src="https://files.axshare.com/gsc/WHMK1U/7b/9e/05/7b9e052723c44b4da4a8438d90335b9e/images/登入首頁_1/u19.png?pageId=b8bb70a4-5067-4a8e-9cd6-040ff14c5bb0">
                    </div>
                    <div class="col-6">
                        <h5 class="fw-bold mb-3">GPA</h5>
                        <img class="d-block w-100" src="https://files.axshare.com/gsc/WHMK1U/7b/9e/05/7b9e052723c44b4da4a8438d90335b9e/images/%E7%99%BB%E5%85%A5%E9%A6%96%E9%A0%81_1/u14.png?pageId=b8bb70a4-5067-4a8e-9cd6-040ff14c5bb0">
                    </div>
                </div>

            </div>
        </div>
        <a id="backtop"></a>
    </div>
    <%= render :partial => "/partials/footer" %>
</div>

<% content_for :js do %>

<% end %>
