<!-- template: 出國: 教授 - 審查教授登入 -->

<div class="workspace" canvas="container">
    <div class="pages general-pages">
        
        <header class="header header-outgoing" id="pagetop">
            <div class="container-lg">
                <div class="header-wrap">
                    <div class="header-function">
                    </div>
                    <div class="brands">
                        <div class="brands-link">
                            <div class="logo">
                                <h1 class="text-hide">College of Management ,National Taiwan University</h1>
                                <img class="h1-logo" src="../../assets/logo@2x.svg">
                            </div>
                            <div class="sub">
                                <span>國立臺灣大學 管理學院</span>
                                <span>出國交換甄選系統</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sys-subject">
                <div class="container-lg">
                    <h4>113 學年度 第 1 學期</h4>
                </div>
            </div>
        </header>
        
        <div class="content">
            <div class="container-lg">
                <div class="login-wrapper">
                    <div class="login-card">
                        <div class="card-hd">
                            <h3>教授線上審查</h3>
                        </div>
                        <div class="card-bd">
                            <div class="form-group">
                                <label for="exampleFormControlInput1" class="form-label">帳號</label>
                                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Exchange Coordinator Email" />
                            </div>
                            <div class="form-group">
                                <label for="exampleFormControlInput2" class="form-label">密碼</label>
                                <input type="password" class="form-control" id="exampleFormControlInput2" />
                            </div>
                        </div>
                        <div class="d-grid mt-4">
                            <button class="btn btn-lg btn-primary" type="button">登入</button>
                        </div>
                        <p class="text-center my-4">或</p>
                        <p><a href="#" class="btn btn-block btn-lg btn-outline-primary">臺大生 SSO 登入</a></p>
                    </div>
                </div>
            </div>
        </div>
        <a id="backtop"></a>
    </div>
    <%= render :partial => "/partials/footer" %>
</div>

<% content_for :js do %>

<% end %>
