/* `Header
-----------------------------------------------------------------------------*/

header.header {
	margin-bottom: 3.75rem;
	padding-top: 36px;
	.navbar {
		background: linear-gradient(90deg, rgba(250,250,250,1) 0%, rgba(255,255,255,1) 100%);
		border-top: 1px dashed #e5e5e5;
		border-bottom: 1px dashed #e5e5e5;
		box-shadow: none;
		margin-top: 30px;
		font-family: 'Roboto', '\5FAE\8EDF\6B63\9ED1\9AD4', sans-serif;
		font-size: 1.125rem;
		font-weight: 400;
		img {
			display: inline-block;
			margin-right: 0.5rem;
			width: 32px;
			height: auto;
		}
		.nav-link {
            color: #555;
            &:hover {
                color: #4dc9f7;
            }
		}
		.history-link {
            color: #111;
            &:hover {
                color: $main_color;
            }
		}
	}
}

.header-wrap {
	display: flex;
	justify-content: space-between;
	align-items: center;
	.brands {
		display: flex;
		align-items: center;
        h1 { margin: 0; }
		a {
            display: flex;
            align-items: center;
			color: #333;
		}
	}
	.h1-logo {
		display: inline-block;
		width: auto;
		height: 80px;
		vertical-align: middle;
	}
    .logo {
        margin-right: 20px;
		height: 80px;
		width: 80px;
		position: relative;
		&:after, &:before {
			content: "";
			border-radius: 50%;
			box-shadow: 0 6px 16px rgba(#000, .10), 0 16px 16px rgba(#000, .05);
			width: 80px;
			height: 80px;
			position: absolute;
			left: 0;
			top: 0;
		}
    }
    .sub {
		font-family: 'Roboto', '\5FAE\8EDF\6B63\9ED1\9AD4', sans-serif;
		font-weight: 400;
        line-height: 1.2;
        > span { display: block; }
		.level-one {
			font-size: 1.125rem;
			font-weight: 400;
		}
		.level-two {
			font-size: 1.5rem;
			font-weight: 700;
		}
		.level-three {
			font-size: 1rem;
			font-weight: 300;
		}
    }
	.academic-year {
		display: flex;
		align-items: center;
		border-left: 2px solid $main_color;
		padding-left: 1.25rem;
		margin-left: 1.25rem;
		height: 72px;
		font-family: 'Roboto', '\5FAE\8EDF\6B63\9ED1\9AD4', sans-serif;
		color: #595959;
		.years {
			padding-left: 0.5rem;
			font-size: 2.25rem;
			font-weight: 900;
			color: #ff9b24;
		}
	}
    .account {
		.nav-link {
			padding: 32px 0 0;
			color: rgba(#999, 1);
			&:hover { color: rgba(#333, 1); }
		}
		.show {
			.nav-link { color: rgba(#000, 1); }
		}
	}
}

