<!-- backend-rwd: MDB / Dashboard v.4 -->
<%= render :partial => "/partials/backend_breadcrumb" %>

  <!--Main layout-->
  <main class="main">

      <!--Section heading-->
      <div class="mt-lg-5 mb-5">
        <h4 class="text-left font-weight-bold dark-grey-text">Your business is growing</h4>
        <p class="grey-text mt-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>
        <hr>
      </div>
      <!--Section: Analytical panel-->
      <section class="mb-5">
        <!--Card-->
        <div class="card card-cascade narrower">
          <!--Section: Chart-->
          <section>
            <!--Grid row-->
            <div class="row mb-4">
              <!--Grid column-->
              <div class="col-xl-5 col-md-12 mr-0">
                <!--Card image-->
                <div class="view view-cascade gradient-card-header light-blue lighten-1">
                  <h4 class="h4-responsive font-weight-bold mb-0">Visitors by country</h4>
                </div>
                <!--/Card image-->
                <!--Card content-->
                <div class="card-body card-body-cascade pb-0">
                  <!--Panel data-->
                  <div class="card-body pt-2">
                    <table class="table no-header">
                      <tbody>
                        <tr>
                          <td><img src="../../assets/flags/us.png" class="flag mr-2"> United States</td>
                          <td>307</td>
                        </tr>
                        <tr>
                          <td><img src="../../assets/flags/in.png" class="flag mr-2"> India</td>
                          <td>504</td>
                        </tr>
                        <tr>
                          <td><img src="../../assets/flags/cn.png" class="flag mr-2"> China</td>
                          <td>613</td>
                        </tr>
                        <tr>
                          <td><img src="../../assets/flags/pl.png" class="flag mr-2"> Poland</td>
                          <td>208</td>
                        </tr>
                        <tr>
                          <td><img src="../../assets/flags/it.png" class="flag mr-2"> Italy</td>
                          <td>314</td>
                        </tr>
                      </tbody>
                    </table>
                    <button class="btn btn-flat grey lighten-3 btn-rounded waves-effect float-right font-weight-bold dark-grey-text">View full report</button>
                  </div>
                  <!--/Panel data-->
                </div>
                <!--/.Card content-->
              </div>
              <!--Grid column-->
              <!--Grid column-->
              <div class="col-xl-7 col-md-12 mb-4">
                <!--Card image-->
                <div class="view view-cascade gradient-card-header blue-gradient">
                  <!-- Chart -->
                  <div id="world-map" style="width: 100%; height: 400px"></div>
                </div>
                <!--/Card image-->
              </div>
              <!--Grid column-->
            </div>
            <!--Grid row-->
            <!--Second row-->
            <div class="row mb-0">
              <!--First column-->
              <div class="col-md-12">
                <!--Panel content-->
                <div class="card-body pt-0">
                  <div class="table-responsive">
                    <!--Table-->
                    <table class="table table-hover">
                      <!--Table head-->
                      <thead>
                        <tr class="rgba-stylish-strong white-text">
                          <th>Campaign name</th>
                          <th>Source</th>
                          <th>Conversion rate</th>
                          <th>Invested</th>
                        </tr>
                      </thead>
                      <!--/Table head-->
                      <!--Table body-->
                      <tbody>
                        <tr class="none-top-border">
                          <td>Newsletter</td>
                          <td>Newsletter</td>
                          <td>5%</td>
                          <td>100$</td>
                        </tr>
                        <tr>
                          <td>Facebook</td>
                          <td>Facebook</td>
                          <td>5%</td>
                          <td>100$</td>
                        </tr>
                        <tr>
                          <td>Adwords</td>
                          <td>Adwords</td>
                          <td>5%</td>
                          <td>100$</td>
                        </tr>
                        <tr>
                          <td>Sponsored post</td>
                          <td>Sponsored post</td>
                          <td>5%</td>
                          <td>100$</td>
                        </tr>
                        <tr>
                          <td>Newsletter 2</td>
                          <td>Newsletter 2</td>
                          <td>5%</td>
                          <td>100$</td>
                        </tr>
                      </tbody>
                      <!--/Table body-->
                    </table>
                    <!--/Table-->
                  </div>
                </div>
                <!--/.Panel content-->
              </div>
              <!--/First column-->
            </div>
            <!--/Second row-->
          </section>
          <!--Section: Chart-->
        </div>
        <!--/.Card-->
      </section>
      <!--Section: Analytical panel-->
      <!--Section: Cascading panels-->
      <section class="mb-5">
        <!--Grid row-->
        <div class="row">
          <!--Grid column-->
          <div class="col-lg-4 col-md-12 mb-4">
            <!--Card-->
            <div class="card card-cascade narrower">
              <!--Card image-->
              <div class="view view-cascade gradient-card-header mdb-color lighten-4">
                <canvas id="seo" height="155px"></canvas>
              </div>
              <!--/Card image-->
              <!--Card content-->
              <div class="card-body card-body-cascade text-center">
                <div class="list-group list-panel">
                  <a href="#" class="list-group-item d-flex justify-content-between dark-grey-text">Cras justo odio <i class="fa fa-wrench ml-auto" data-toggle="tooltip" data-placement="top" title="Click to fix"></i></a>
                  <a href="#" class="list-group-item d-flex justify-content-between dark-grey-text">Dapibus ac facilisi<i class="fa fa-wrench ml-auto" data-toggle="tooltip" data-placement="top" title="Click to fix"></i></a>
                  <a href="#" class="list-group-item d-flex justify-content-between dark-grey-text">Morbi leo risus <i class="fa fa-wrench ml-auto" data-toggle="tooltip" data-placement="top" title="Click to fix"></i></a>
                  <a href="#" class="list-group-item d-flex justify-content-between dark-grey-text">Porta ac consectet<i class="fa fa-wrench ml-auto" data-toggle="tooltip" data-placement="top" title="Click to fix"></i></a>
                  <a href="#" class="list-group-item d-flex justify-content-between dark-grey-text">Vestibulum at eros <i class="fa fa-wrench ml-auto" data-toggle="tooltip" data-placement="top" title="Click to fix"></i></a>
                </div>
              </div>
              <!--/.Card content-->
            </div>
            <!--/.Card-->
          </div>
          <!--Grid column-->
          <!--Grid column-->
          <div class="col-lg-4 col-md-12 mb-4">
            <!--Card-->
            <div class="card card-cascade narrower">
              <!--Card image-->
              <div class="view view-cascade gradient-card-header primary-color">
                <canvas id="traffic" height="155px"></canvas>
              </div>
              <!--/Card image-->
              <!--Card content-->
              <div class="card-body card-body-cascade text-center">
                <div class="list-group list-panel">
                  <a href="#" class="list-group-item d-flex justify-content-between dark-grey-text">Cras justo odio <i class="fa fa-wrench ml-auto" data-toggle="tooltip" data-placement="top" title="Click to fix"></i></a>
                  <a href="#" class="list-group-item d-flex justify-content-between dark-grey-text">Dapibus ac facilisi<i class="fa fa-wrench ml-auto" data-toggle="tooltip" data-placement="top" title="Click to fix"></i></a>
                  <a href="#" class="list-group-item d-flex justify-content-between dark-grey-text">Morbi leo risus <i class="fa fa-wrench ml-auto" data-toggle="tooltip" data-placement="top" title="Click to fix"></i></a>
                  <a href="#" class="list-group-item d-flex justify-content-between dark-grey-text">Porta ac consectet<i class="fa fa-wrench ml-auto" data-toggle="tooltip" data-placement="top" title="Click to fix"></i></a>
                  <a href="#" class="list-group-item d-flex justify-content-between dark-grey-text">Vestibulum at eros <i class="fa fa-wrench ml-auto" data-toggle="tooltip" data-placement="top" title="Click to fix"></i></a>
                </div>
              </div>
              <!--/.Card content-->
            </div>
            <!--/.Card-->
          </div>
          <!--Grid column-->
          <!--Grid column-->
          <div class="col-lg-4 col-md-12 mb-4">
            <!--Card-->
            <div class="card card-cascade narrower">
              <!--Card image-->
              <div class="view view-cascade gradient-card-header red accent-2">
                <canvas id="conversion" height="155px"></canvas>
              </div>
              <!--/Card image-->
              <!--Card content-->
              <div class="card-body card-body-cascade text-center">
                <div class="list-group list-panel">
                  <a href="#" class="list-group-item d-flex justify-content-between dark-grey-text">Cras justo odio <i class="fa fa-wrench ml-auto" data-toggle="tooltip" data-placement="top" title="Click to fix"></i></a>
                  <a href="#" class="list-group-item d-flex justify-content-between dark-grey-text">Dapibus ac facilisi<i class="fa fa-wrench ml-auto" data-toggle="tooltip" data-placement="top" title="Click to fix"></i></a>
                  <a href="#" class="list-group-item d-flex justify-content-between dark-grey-text">Morbi leo risus <i class="fa fa-wrench ml-auto" data-toggle="tooltip" data-placement="top" title="Click to fix"></i></a>
                  <a href="#" class="list-group-item d-flex justify-content-between dark-grey-text">Porta ac consectet<i class="fa fa-wrench ml-auto" data-toggle="tooltip" data-placement="top" title="Click to fix"></i></a>
                  <a href="#" class="list-group-item d-flex justify-content-between dark-grey-text">Vestibulum at eros <i class="fa fa-wrench ml-auto" data-toggle="tooltip" data-placement="top" title="Click to fix"></i></a>
                </div>
              </div>
              <!--/.Card content-->
            </div>
            <!--/.Card-->
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </section>
      <!--Section: Cascading panels-->

  </main>
  <!--Main layout-->
  
<% content_for :js do %>
  <script>
  /*Global settings*/
  Chart.defaults.global.defaultFontColor = '#fff';

  $(function() {
    var data = {
      labels: ["January", "February", "March", "April", "May", "June", "July"],
      datasets: [{
        label: "My First dataset",
        fillColor: "rgba(220,220,220,0.2)",
        strokeColor: "rgba(220,220,220,1)",
        pointColor: "rgba(220,220,220,1)",
        pointStrokeColor: "#fff",
        pointHighlightFill: "#fff",
        pointHighlightStroke: "rgba(0,0,0,.15)",
        data: [65, 59, 80, 81, 56, 55, 40],
        backgroundColor: "#4CAF50"
      }, {
        label: "My Second dataset",
        fillColor: "rgba(255,255,255,.25)",
        strokeColor: "rgba(255,255,255,.75)",
        pointColor: "#fff",
        pointStrokeColor: "#fff",
        pointHighlightFill: "#fff",
        pointHighlightStroke: "rgba(0,0,0,.15)",
        data: [28, 48, 40, 19, 86, 27, 90]
      }]
    };


    var dataPie = [{
      value: 300,
      color: "#F7464A",
      highlight: "#FF5A5E",
      label: "Red"
    }, {
      value: 50,
      color: "#46BFBD",
      highlight: "#5AD3D1",
      label: "Green"
    }, {
      value: 100,
      color: "#FDB45C",
      highlight: "#FFC870",
      label: "Yellow"
    }]

    var option = {
      responsive: true,
      // set font color
      scaleFontColor: "#fff",
      // font family
      defaultFontFamily: "'Roboto', sans-serif",
      // background grid lines color
      scaleGridLineColor: "rgba(255,255,255,.1)",
      // hide vertical lines
      scaleShowVerticalLines: false,
    };

    //Get the context of the canvas element we want to select
    // var ctx = document.getElementById("sales").getContext('2d');
    // var myLineChart = new Chart(ctx).Line(data, option); //'Line' defines type of the chart.

    // Get the context of the canvas element we want to select
    // var ctx = document.getElementById("conversion").getContext('2d');
    // var myRadarChart = new Chart(ctx).Radar(data, option);

    //radar
    var ctxR = document.getElementById("conversion").getContext('2d');
    var myRadarChart = new Chart(ctxR, {
      type: 'radar',
      data: {
        labels: ["Eating", "Drinking", "Sleeping", "Designing", "Coding", "Cycling"],
        datasets: [{
            label: "My First dataset",
            fillColor: "rgba(220,220,220,0.2)",
            strokeColor: "rgba(220,220,220,1)",
            pointColor: "rgba(220,220,220,1)",
            pointStrokeColor: "#fff",
            pointHighlightFill: "#fff",
            pointHighlightStroke: "rgba(220,220,220,1)",
            data: [65, 59, 90, 81, 56, 55]
          },
          {
            label: "My Second dataset",
            fillColor: "rgba(151,187,205,0.2)",
            strokeColor: "rgba(151,187,205,1)",
            pointColor: "rgba(151,187,205,1)",
            pointStrokeColor: "#fff",
            pointHighlightFill: "#fff",
            pointHighlightStroke: "rgba(151,187,205,1)",
            data: [28, 48, 40, 19, 96, 27]
          }
        ]
      },
      options: {
        responsive: true,
        scaleFontColor: "#FFFFFF"
      }
    });


    //bar
    var ctx = document.getElementById("traffic").getContext('2d');
    var myBarChart = new Chart(ctx, {
      type: 'bar',
      data: {
        labels: ["January", "Febuary", "March", "April", "May", "June"],
        datasets: [{
          label: '# of Votes',
          data: [12, 19, 3, 5, 2, 3],
          backgroundColor: [
            'rgba(255, 255, 255, 0.3)',
            'rgba(255, 255, 255, 0.3)',
            'rgba(255, 255, 255, 0.3)',
            'rgba(255, 255, 255, 0.3)',
            'rgba(255, 255, 255, 0.3)',
            'rgba(255, 255, 255, 0.3)'
          ],
          borderColor: [
            'rgba(255, 255, 255, 1)',
            'rgba(255, 255, 255, 1)',
            'rgba(255, 255, 255, 1)',
            'rgba(255, 255, 255, 1)',
            'rgba(255, 255, 255, 1)',
            'rgba(255, 255, 255, 1)'
          ],
          borderWidth: 1,
          color: 'rgba(255, 255, 255, 1)'
        }]
      },
      optionss: {
        scales: {
          yAxes: [{
            ticks: {
              beginAtZero: true
            }
          }]
        }
      }
    });

    //pie
    var ctxP = document.getElementById("seo").getContext('2d');
    var myPieChart = new Chart(ctxP, {
      type: 'pie',
      data: {
        labels: ["March", "April", "May", "June"],
        datasets: [{
          data: [160, 50, 100, 40],
          backgroundColor: ["#4285F4", "#ffbb33", "#45cafc", "#FF5252"],
          hoverBackgroundColor: ["#6ea0f2", "#fec451", "#78daffbtn-primaryvisit", "#fa6e6e"]
        }]
      },
      options: {
        responsive: true
      }
    });

  });
  </script>
  <script>
  $(function() {
    $('.min-chart#chart-sales').easyPieChart({
      barColor: "#4caf50",
      onStep: function(from, to, percent) {
        $(this.el).find('.percent').text(Math.round(percent));
      }
    });
  });
  </script>
  <script>
  // Data Picker Initialization
  $('.datepicker').pickadate();


  // Material Select Initialization
  $(document).ready(function() {
    $('.mdb-select').material_select();
  });

  // Sidenav Initialization
  $(".button-collapse").sideNav();

  // Tooltips Initialization
  $(function() {
    $('[data-toggle="tooltip"]').tooltip()
  })
  </script>
  <!-- JVectorMap -->
  <link rel="stylesheet" href="../../javascripts/vendor/jvectormap/jquery-jvectormap-2.0.3.css" type="text/css" media="screen" />
  <script src="../../javascripts/vendor/jvectormap/jquery-jvectormap-2.0.3.min.js"></script>
  <script src="../../javascripts/vendor/jvectormap/jquery-jvectormap-world-mill.js"></script>
  <script>
  $(function() {

    colors = {};

    colors['ca'] = '#A4D886';
    colors['ru'] = '#FCECA2';
    colors['cn'] = '#F9573B';
    colors['us'] = '#87CEEB';
    colors['jp'] = '#34BD0E';
    colors['au'] = '#BCC7FC';
    colors['kz'] = '#D4624E';
    colors['de'] = '#34BD0E';

    $('#world-map').vectorMap({
      colors: colors,
      hoverOpacity: 0.7, // opacity for :hover
      hoverColor: false
    });

  });
  </script>
  <!-- /.JVectorMap -->
<% end %>