<div class="container clearfix">
    <div class="logo-block">
        <a class="cm-home" href="../index.html"></a>
        <a class="logo" href="https://www.nfu.edu.tw/"><img src="../assets/logo-sm.svg" /></a>
    </div>
    <div class="logo-block mobile-only">
        <a class="cm-home" href="../index.html"></a>
        <a class="logo" href="https://www.nfu.edu.tw/"><img src="../assets/logo-responsive.svg" /></a>
    </div>
    <a href="../login/index.html" role="button" class="btn purple-gradient btn-rounded">學生專區</a>
</div>