<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Taiwan International Graduate Program On-line Application</title>
</head>
<body>
    <h1>Taiwan International Graduate Program On-line Application</h1>
    <%= yield %>
</body>
</html>
