<!-- event-page: 申請端 - 輸入密碼 -->

<main class="main">
	<div class="container">
		<div class="login-wrapper pt-fix">
            <form class="text-center">
				<p class="warpper-title">輸入密碼</p>
                <div class="md-form text-left">
                    emain: abc123@gogopanda.mail.com
                </div>
                <div class="md-form">
                    <input type="password" id="materialLoginFormPassword" class="form-control">
                    <label for="materialLoginFormPassword">請輸入密碼</label>
                </div>
				<div class="md-form">
                    <input type="password" id="materialLoginFormPasswordagain" class="form-control">
                    <label for="materialLoginFormPasswordagain">請再次輸入密碼</label>
                </div>
                <div class="form-inline">
                    <div class="md-form m-0">
                        <input type="text" id="CAPTCHA" class="form-control">
                        <label for="CAPTCHA">驗證碼</label>
                    </div>
                    <span class="input-group-addon verification">
                        <img class="captcha" src="http://nfu-map.dev.com.tw/common/captcha.image">
                        <button class="btn btn-xs btn-secondary mx-0" type="button"><i class="fa fa-refresh"></i></button>
                    </span>
                </div>
                <div class="text-center pt-4 pb-3">
                    <button class="btn btn-outline-default btn-rounded my-4 waves-effect z-depth-0" type="submit">登入</button>
                </div>
                <p><a href="#" class="btn btn-link" title="返回首頁">返回首頁</a></p>
            </form>
		</div>
    </div>
</main>



<% content_for :js do %>

<% end %>
