<!-- event-page: 團體報名 - 單一申請人 -->

<main class="main">
	<div class="container">
        <div class="registration-hd">
			<hgroup>
                <h3 class="main-title">2020 年僑務委員會海外商會幹部暨青商培訓班</h3>
                <h5 class="sub-title">2020 Overseas Chamber of Commerce Cadre and Youth Business Training Program</h5>
			</hgroup>
            <div class="account dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="UserName">
                    <span>UserName</span>
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="#" title="登出">登出</a>
                </div>
            </div>
        </div>
		<div class="registration-wrapper">
			<a href="#" class="btn btn-white mx-0 mb-5" title="返回團體報名">
				<i class="fa fa-long-arrow-left"></i>
				返回團體報名
			</a>
			<h5 class="mb-5">
				Scarlett Johansson
				<small class="pl-2 grey-text">scarlett.johansson@gmail.com </small>
				<small class="d-block blue-grey-text">{已登入有點多餘}</small>
			</h5>
            <div>
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="appform-tab" data-toggle="tab" href="#appform" role="tab" aria-controls="appform" aria-selected="true" title="申請資料">申請資料</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="uploadform-tab" data-toggle="tab" href="#uploadform" role="tab" aria-controls="uploadform" aria-selected="false" title="上傳文件">上傳文件</a>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
					
                    <div class="tab-pane fade show active" id="appform" role="tabpanel" aria-labelledby="appform-tab">
						
                        <div class="lastchild-wrap">
                            <div class="application-block">
                                <h5 class="block-hd">個人資訊</h5>
                                <div class="form-group">
                                    <label><span class="required">*</span>英文姓名</label>
                                    <div class="form-row">
                                        <div class="col-md-6 col-12 mb-2">
                                            <input type="text" class="form-control" placeholder="first">
                                        </div>
                                        <div class="col-md-6 col-12 mb-2">
                                            <input type="text" class="form-control" placeholder="last">
                                        </div>
                                    </div>
                                    <p class="form-info text-muted">same as shown on your passport</p>
                                </div>
                                <div class="form-group">
                                    <label for="registerChinese"><span class="required">*</span>中文姓名</label>
                                    <input type="text" class="form-control" id="registerChinese">
                                </div>
                                <div class="row">
                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <label><span class="required">*</span>性別</label>
                                            <div>
                                                <div class="custom-control custom-radio custom-control-inline">
                                                    <input type="radio" class="custom-control-input" id="registerMale" name="registerGender">
                                                    <label class="custom-control-label" for="registerMale">男</label>
                                                </div>
                                                <div class="custom-control custom-radio custom-control-inline">
                                                    <input type="radio" class="custom-control-input" id="registerFemale" name="registerGender">
                                                    <label class="custom-control-label" for="registerFemale">女</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <label>國籍</label>
                                            <div>
                                                <select class="browser-default custom-select">
                                                    <option>台灣</option>
                                                    <option>其他</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="application-block">
                                <h5 class="block-hd">聯絡資訊</h5>
								
								<!-- 多一個 .phone-group 很重要務必記得放 -->
								
                                <div class="form-group phone-group">
                                    <label><span class="required">*</span>電話</label>
                                    <div class="form-inline">
                                        <span class="pr-2">+</span>
                                        <input type="text" class="form-control" placeholder="Country Code">
                                        <span class="px-2">-</span>
                                        <input type="text" class="form-control" placeholder="Area Code">
                                        <span class="px-2">-</span>
                                        <input type="text" class="form-control" placeholder="Number">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="basic40"><span class="required">*</span>信箱</label>
                                    <input type="email" class="form-control" id="basic40">
                                    <p class="form-info text-muted">Please use your main email address for notifications</p>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-4 col-12">
                                        <div class="form-group">
                                            <label for="basic41"><span class="required">*</span>郵遞區號</label>
                                            <input type="text" class="form-control" id="basic41">
                                        </div>
                                    </div>
                                    <div class="col-md-8 col-12">
                                        <div class="form-group">
                                            <label for="basic41"><span class="required">*</span>郵寄地址</label>
                                            <input type="text" class="form-control" id="basic41">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="application-block">
                                <h5 class="block-hd">教育狀況</h5>
                                <div class="form-group">
                                    <label for="registerChinese"><span class="required">*</span>教育程度</label>
                                    <div>
                                        <div class="custom-control custom-radio custom-control-inline">
                                            <input type="radio" class="custom-control-input" id="basic41" name="academicStatus">
                                            <label class="custom-control-label" for="basic41">高中</label>
                                        </div>
                                        <div class="custom-control custom-radio custom-control-inline">
                                            <input type="radio" class="custom-control-input" id="basic42" name="academicStatus">
                                            <label class="custom-control-label" for="basic42">學士</label>
                                        </div>
                                        <div class="custom-control custom-radio custom-control-inline">
                                            <input type="radio" class="custom-control-input" id="basic43" name="academicStatus">
                                            <label class="custom-control-label" for="basic43">碩士</label>
                                        </div>
                                        <div class="custom-control custom-radio custom-control-inline">
                                            <input type="radio" class="custom-control-input" id="basic44" name="academicStatus">
                                            <label class="custom-control-label" for="basic44">博士</label>
                                        </div>
                                        <div class="custom-control custom-radio custom-control-inline">
                                            <input type="radio" class="custom-control-input" id="basic45" name="academicStatus">
                                            <label class="custom-control-label" for="basic45">其他</label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="application-block">
                                <h5 class="block-hd">其他</h5>
                                <div class="form-group">
                                    <label for="registerChinese">How did you hear about Plus Academy ?</label>
                                    <div>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="basic46">
                                            <label class="custom-control-label" for="basic46">OIA website (www.oia.ntu.edu.tw)</label>
                                        </div>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="basic47">
                                            <label class="custom-control-label" for="basic47">Staff at the international office of your home university</label>
                                        </div>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="basic48">
                                            <label class="custom-control-label" for="basic48">Taiwan embassy in your home country</label>
                                        </div>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="basic49">
                                            <label class="custom-control-label" for="basic49">Friend / Associate / Relative</label>
                                        </div>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="basic50">
                                            <label class="custom-control-label" for="basic50">Previous participant of the program</label>
                                        </div>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="basic51">
                                            <label class="custom-control-label" for="basic51">Other</label>
                                            <input type="text" class="form-control" placeholder="Please specify">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-action">
                            <a href="#" class="btn btn-lg btn-primary" title="儲存">儲存</a>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="uploadform" role="tabpanel" aria-labelledby="uploadform-tab">
                        <p>請上傳下列各項文件，各別檔案請勿大於 5 MB。</p>
                        <div class="lastchild-wrap mb-5">
                            <div class="application-block">
                                <h5 class="block-hd">資格審查文件</h5>
                                <div class="document-upload">
                                    <div class="document-item">
                                        <div class="document-hd">
                                            <h5 class="document-title">護照影本</h5>
                                            <div class="document-action">
                                                <a href="#" class="btn btn-xs btn-info" title="檢視">檢視</a>
                                                <a href="#" class="btn btn-xs btn-secondary" title="修改">修改</a>
                                            </div>
                                        </div>
                                        <div class="document-bd">
                                            <p>僑民兒童於到校體驗前，須將護照影本及投保證明文件送媒合學校教務處註冊組，以利學校安排至校短期體驗相關事宜。另，體驗學生之班級安排以家長所填寫之申請表(表B)為主，惟學校仍可依學生實際學習情況進行調整。如未填列欲體驗之年級，校方即以體驗學生之年齡作為編班依據逕行安排。</p>
                                            <span class="upload-date">上傳時間: 2015/12/12 18:20</span>
                                        </div>
                                    </div>

                                    <div class="document-item">
                                        <div class="document-hd">
                                            <h5 class="document-title">投保證明文件</h5>
                                            <div class="document-action">
                                                <div class="file-wrap">
                                                    <div class="md-form my-0">
                                                        <div class="file-field">
                                                            <div class="btn btn-primary btn-xs float-left waves-effect waves-light">
                                                                <span>選擇</span>
                                                                <input type="file" />
                                                            </div>
                                                            <div class="file-path-wrapper">
                                                                <input class="file-path validate" type="text" placeholder="選擇檔案" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="document-bd">
                                            <p>請家長自行為學生投保在校體驗期間之意外險(含醫療險)，活動期間學員若宿疾復發或突發病症，送醫所需醫療等相關費用，應自行負擔。</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
		</div>
    </div>
</main>



<% content_for :js do %>

<% end %>
