<!-- event-page: 團體報名 -->

<main class="main">
	<div class="container">
        <div class="registration-hd">
			<hgroup>
                <h3 class="main-title">2020 年僑務委員會海外商會幹部暨青商培訓班</h3>
                <h5 class="sub-title">2020 Overseas Chamber of Commerce Cadre and Youth Business Training Program</h5>
			</hgroup>
            <div class="account dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="UserName">
                    <span>UserName</span>
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="#" title="登出">登出</a>
                </div>
            </div>
        </div>
		<div class="registration-wrapper">
			<div class="btn-group btn-group-sm unshadow mb-4">
			    <a href="#" class="btn btn-white" title="新增">
					<i class="fa fa-plus pr-1"></i>
					<span class="font-default">新增</span>
				</a>
				<a href="#" class="btn btn-white" title="批次匯入">
					<i class="fa fa-upload pr-1"></i>
					<span class="font-default">批次匯入</span>
				</a>
			</div>
			<div class="table-responsive text-nowrap">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Email</th>
                            <th scope="col">中文姓名</th>
                            <th scope="col">英文姓名</th>
							<th scope="col">性別</th>
							<th scope="col">洲別</th>
							<th scope="col">國別</th>
							<th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>scarlett.johansson@gmail.com</td>
                            <td>史嘉蕾喬韓森</td>
                            <td>Scarlett Johansson</td>
							<td>女</td>
                            <td>California</td>
                            <td>United States</td>
							<td>
							    <a href="#" class="btn btn-xs btn-info" title="編輯">編輯</a>
								<a href="#" class="btn btn-xs btn-danger" title="刪除">刪除</a>
							</td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>ryan.reynolds@gmail.com</td>
                            <td>萊恩雷諾斯</td>
                            <td>Ryan Reynolds</td>
							<td>男</td>
                            <td>溫哥華</td>
                            <td>加拿大</td>
							<td>
							    <a href="#" class="btn btn-xs btn-info" title="編輯">編輯</a>
								<a href="#" class="btn btn-xs btn-danger" title="刪除">刪除</a>
							</td>
                        </tr>
						<tr>
                            <th scope="row">3</th>
                            <td>blake.lively@gmail.com</td>
                            <td>布蕾克萊芙莉</td>
                            <td>Blake Lively</td>
							<td>女</td>
                            <td>California</td>
                            <td>United States</td>
							<td>
							    <a href="#" class="btn btn-xs btn-info" title="編輯">編輯</a>
								<a href="#" class="btn btn-xs btn-danger" title="刪除">刪除</a>
							</td>
                        </tr>
                    </tbody>
                </table>
			</div>
            <div class="form-action">
                <a href="#" class="btn btn-lg btn-primary" title="送出">送出</a>
            </div>
		</div>
    </div>
</main>



<% content_for :js do %>

<% end %>
