<!-- event-page: 申請端 - 未公開 ( 登入) -->

<main class="main">
	<div class="container">
        <div class="registration-hd">
			<hgroup>
                <h3 class="main-title">2020 年僑務委員會海外商會幹部暨青商培訓班</h3>
                <h5 class="sub-title">2020 Overseas Chamber of Commerce Cadre and Youth Business Training Program</h5>
			</hgroup>
        </div>
		<div class="login-wrapper">
            <form class="text-center">
				<p class="warpper-title">申請報名</p>
                <div class="md-form">
                    <input type="email" id="materialLoginFormEmail" class="form-control">
                    <label for="materialLoginFormEmail">請輸入信箱</label>
                </div>
                <div class="md-form">
                    <input type="password" id="materialLoginFormPassword" class="form-control">
                    <label for="materialLoginFormPassword">請輸入密碼</label>
                </div>
                <div class="form-inline">
                    <div class="md-form m-0">
                        <input type="text" id="CAPTCHA" class="form-control">
                        <label for="CAPTCHA">驗證碼</label>
                    </div>
                    <span class="input-group-addon verification">
                        <img class="captcha" src="http://nfu-map.dev.com.tw/common/captcha.image">
                        <button class="btn btn-xs btn-secondary mx-0" type="button"><i class="fa fa-refresh"></i></button>
                    </span>
                </div>
                <div class="text-center py-4">
                    <button class="btn btn-outline-default btn-rounded my-4 waves-effect z-depth-0" type="submit">登入</button>
                </div>
                <p class="text-center"><a href="#" class="forget-password">忘記密碼？</a></p>
                <p class="register">還沒有帳號嗎？ <a href="#" title="註冊">註冊</a></p>
            </form>
		</div>
    </div>
</main>



<% content_for :js do %>

<% end %>
