<!-- event-page: 申請端 - 檢視申請資料 -->

<main class="main">
	<div class="container">
        <div class="registration-hd">
			<hgroup>
                <h3 class="main-title">2020 年僑務委員會海外商會幹部暨青商培訓班</h3>
                <h5 class="sub-title">2020 Overseas Chamber of Commerce Cadre and Youth Business Training Program</h5>
			</hgroup>
            <div class="account dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="UserName">
                    <span>UserName</span>
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="#" title="登出">登出</a>
                </div>
            </div>
        </div>
		<div class="registration-wrapper">
            <div>
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="appform-tab" data-toggle="tab" href="#appform" role="tab" aria-controls="appform" aria-selected="true" title="申請資料">申請資料</a>
                    </li>
					<li class="nav-item">
                        <a class="nav-link" id="additionalform-tab" data-toggle="tab" href="#additionalform" role="tab" aria-controls="additionalform" aria-selected="true" title="補件">補件</a>
                    </li>
					<li class="nav-item">
                        <a class="nav-link" id="unresultform-tab" data-toggle="tab" href="#unresultform" role="tab" aria-controls="unresultform" aria-selected="false" title="審查結果">未公告</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="resultform-tab" data-toggle="tab" href="#resultform" role="tab" aria-controls="resultform" aria-selected="false" title="審查結果">審查結果</a>
                    </li>
					<li class="nav-item">
                        <a class="nav-link" id="admitform-tab" data-toggle="tab" href="#admitform" role="tab" aria-controls="admitform" aria-selected="false" title="錄取資料填寫">錄取資料填寫</a>
                    </li>
                </ul>
				
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="appform" role="tabpanel" aria-labelledby="appform-tab">
						<h5 class="mb-4">檢視申請資料</h5>
                        <p>您已於 <strong>2020-11-24 15:10:52</strong> 送出申請資料，檢視 
							<a href="#" class="btn btn-sm btn-rounded btn-info font-default" title="申請表">申請表</a>
							<a href="#" class="btn btn-sm btn-rounded btn-info font-default" title="上傳文件">上傳文件</a>
						</p>
						<p>或是您想 <a href="#" class="btn btn-sm btn-rounded btn-outline-danger font-default" title="取消報名">取消報名</a></p>
                    </div>
					
					<div class="tab-pane fade" id="additionalform" role="tabpanel" aria-labelledby="additionalform-tab">
                        <div class="consent-block block-warning mb-5">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam massa sem, vulputate non lectus quis, molestie eleifend risus. Phasellus dictum, elit ac ultricies tincidunt, sapien lorem hendrerit est, in sodales ipsum eros sed erat. Etiam condimentum, ipsum id porta suscipit, sem nibh pretium dui, id pulvinar massa libero a urna.</p>
                            <p>Pellentesque pellentesque mi quis nulla tempus ultricies. Ut placerat eget purus vel mattis. Phasellus vel tempus nunc, a ullamcorper dui. </p>
                        </div>
                        <div class="lastchild-wrap">
                            <div class="application-block">
                                <h5 class="block-hd">資格審查文件</h5>
                                <div class="document-upload">
                                    <div class="document-item">
                                        <div class="document-hd">
                                            <h5 class="document-title">護照影本</h5>
                                            <div class="document-action">
												<a href="#" class="btn btn-xs btn-success" title="說明">說明</a>
                                                <a href="#" class="btn btn-xs btn-info" title="檢視">檢視</a>
                                                <a href="#" class="btn btn-xs btn-secondary" title="修改">修改</a>
                                            </div>
                                        </div>
                                        <div class="document-bd">
                                            <p class="text-danger">針對此文件的補件說明，例如非指定格式</p>
                                            <span class="upload-date">上傳時間: 2021/06/22 18:20</span>
                                        </div>
                                    </div>

                                    <div class="document-item">
                                        <div class="document-hd">
                                            <h5 class="document-title">投保證明文件</h5>
                                            <div class="document-action">
												<a href="#" class="btn btn-xs btn-success" title="說明">說明</a>
                                                <a href="#" class="btn btn-xs btn-info" title="檢視">檢視</a>
                                                <a href="#" class="btn btn-xs btn-secondary" title="修改">修改</a>
                                            </div>
                                        </div>
                                        <div class="document-bd">
                                            <p class="text-danger">針對此文件的補件說明，例如非指定格式</p>
											<span class="upload-date">上傳時間: 2021/06/22 18:20</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-action">
                            <a href="#" class="btn btn-primary" title="送出">送出</a>
                        </div>
                    </div>
					
                    <div class="tab-pane fade" id="unresultform" role="tabpanel" aria-labelledby="unresultform-tab">
						<p class="mb-4">審查結果預計於 <strong>2021/03/05 15:00</strong> 公告</p>
                        <div class="consent-block block-info">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam massa sem, vulputate non lectus quis, molestie eleifend risus. Phasellus dictum, elit ac ultricies tincidunt, sapien lorem hendrerit est, in sodales ipsum eros sed erat. Etiam condimentum, ipsum id porta suscipit, sem nibh pretium dui, id pulvinar massa libero a urna.</p>
                            <p>Pellentesque pellentesque mi quis nulla tempus ultricies. Ut placerat eget purus vel mattis. Phasellus vel tempus nunc, a ullamcorper dui. </p>
                        </div>
						<h5>目前審查進度</h5>
						<p>目前您的報名資料在 <strong class="font-weight-bold">台北駐日經濟文化代表處橫濱分處</strong> 審查中</p>
                    </div>
					
					<div class="tab-pane fade" id="resultform" role="tabpanel" aria-labelledby="resultform-tab">
						<h5 class="font-weight-bold">審查結果公布</h5>
                        <div class="consent-block block-info">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam massa sem, vulputate non lectus quis, molestie eleifend risus. Phasellus dictum, elit ac ultricies tincidunt, sapien lorem hendrerit est, in sodales ipsum eros sed erat. Etiam condimentum, ipsum id porta suscipit, sem nibh pretium dui, id pulvinar massa libero a urna.</p>
                            <p>Pellentesque pellentesque mi quis nulla tempus ultricies. Ut placerat eget purus vel mattis. Phasellus vel tempus nunc, a ullamcorper dui. </p>
                        </div>
                        <div class="form-group">
                            <label>是否確認錄取</label>
                            <div>
                                <div class="custom-control custom-radio">
                                    <input type="radio" class="custom-control-input" id="defaultGroupExample1" name="groupOfDefaultRadios" />
                                    <label class="custom-control-label" for="defaultGroupExample1">是，我確定要參加活動</label>
                                </div>

                                <div class="custom-control custom-radio">
                                    <input type="radio" class="custom-control-input" id="defaultGroupExample2" name="groupOfDefaultRadios" checked />
                                    <label class="custom-control-label" for="defaultGroupExample2">否，我要放棄錄取資格</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <textarea class="form-control rounded-0" id="" rows="4" placeholder="請輸入放棄原因"></textarea>
                            </div>
                        </div>
                        <div class="form-action">
                            <a href="#" class="btn btn-primary" title="送出">送出</a>
                        </div>
                    </div>
					
					<div class="tab-pane fade" id="admitform" role="tabpanel" aria-labelledby="admitform-tab">
                        <ul class="text-muted mb-5">
						    <li>僑民兒童於到校體驗前，須將護照影本及投保證明文件送媒合學校教務處註冊組，以利學校安排至校短期體驗相關事宜。另，體驗學生之班級安排以家長所填寫之申請表(表B)為主，惟學校仍可依學生實際學習情況進行調整。如未填列欲體驗之年級，校方即以體驗學生之年齡作為編班依據逕行安排。</li>
							<li>請家長自行為學生投保在校體驗期間之意外險(含醫療險)，活動期間學員若宿疾復發或突發病症，送醫所需醫療等相關費用，應自行負擔。</li>
						</ul>
						<div class="row">
						    <div class="col-md-6 col-12">
                                <div class="form-group">
                                    <label>報名序號</label>
									<div class="form-control disabled">A120001</div>
                                </div>
							</div>
							<div class="col-md-6 col-12">
                                <div class="form-group">
                                    <label for="basic61">特殊需求</label>
                                    <input type="text" class="form-control" id="basic61">
                                    <p class="form-info text-muted">請輸入參加活動的特殊需求</p>
                                </div>
							</div>
						</div>
						<div class="row">
						    <div class="col-md-4 col-12">
                                <div class="form-group">
                                    <label>抵台時間</label>
                                    <div id="date-picker-example" class="md-form md-outline input-with-post-icon datepicker mt-0">
                                        <input placeholder="Select date" type="text" id="example" class="form-control" />
                                        <label for="example"></label>
                                        <i class="fa fa-calendar input-prefix" tabindex="0"></i>
                                    </div>
                                </div>
							</div>
							<div class="col-md-4 col-12">
                                <div class="form-group">
                                    <label for="basic62">抵台班機</label>
                                    <input type="text" class="form-control" id="basic62">
                                </div>
							</div>
							<div class="col-md-4 col-12">
                                <div class="form-group">
                                    <label for="basic63">抵台班號</label>
                                    <input type="text" class="form-control" id="basic63">
                                </div>
							</div>
						</div>
                        <div class="form-action">
                            <a href="#" class="btn btn-primary" title="送出">送出</a>
                        </div>
                    </div>
                </div>
            </div>
		</div>
    </div>
</main>



<% content_for :js do %>

<% end %>
