
/* `Responsive
-----------------------------------------------------------------------------*/

@media (max-width: 1399px) {
    .institution-list-wrapper {
        .list-table {
            display: flex;
            flex-wrap: wrap;
            gap: 2rem;
        }
        .list-thead { display: none; }
        .list-item {
            display: block;
            border-radius: .5rem;
            border: 1px solid #e5e5e5;
            width: calc(33.33333% - 1.33333rem);
            &:hover {
                .list-td { background: #fafafa; }
            }
        }
        .list-td {
            display: block;
            text-align: start !important;
            &:last-child { border-bottom: none; }
        }
        .list-label {
            display: block;
            font-size: .875rem;
            font-weight: bold;
            color: #999;
        }
    }
    
    .step-item { width: 13.66666%; }
}

@media (max-width: 1199px) {
    .offcanvas-collapse {
        width: $aside_width;
        min-width: $aside_width;
        position: fixed;
        top: 0;
        bottom: 0;
        left: -$aside_width;
        overflow-y: auto;
        visibility: hidden;
        background-color: #fff;
        transition: transform 0.3s ease-in-out, visibility 0.3s ease-in-out;
        z-index: 1040;
    }
    .offcanvas-collapse.open {
        visibility: visible;
        transform: translateX(100%);
        & + #widget-overlay { display: block; }
    }
	.procedures_nav,
	.step-wrap {
		width: auto;
		position: static;
	}
	.procedures_nav-hd,
	.procedures_nav-ft,
	.step-navigation {
		margin: 0 1rem;
	}
	.procedures_nav-hd { margin-top: 1rem; }
	.step-wrap .step-h5 {
		margin: 1rem;
	}
	.page-content {
		&.has-sticky {
			.main { margin-left: 0; }
			.aside {
				float: none;
				position: fixed;
			}
		}
	}
	.upload-wrapper {
		display: block;
		.upload-item {
			border-radius: .25rem;
			border: 1px dotted #ddd;
            margin-right: 0;
			margin-bottom: 1.5rem;
			padding: 1.25rem;
            width: 100%;
		}
	}
    
    .institution-list-wrapper {
        .list-table {
            gap: 2rem;
        }
        .list-item {
            width: calc(50% - 1rem);
        }
    }
    
    .notice-wrapper { margin-bottom: calc(1.5rem + 2vw); }
    .nav-breadcrumb {
        margin-bottom: calc(1.5rem + 2vw);
    }
    .step-wrapper {
        padding-top: 0;
    }
    .step-item { width: 16.66666%; }
    
    .form-action {
        margin: calc(1.5rem + 2vw) 0;
        padding-top: calc(1.5rem + 2vw);
    }
}

@media (max-width: 991px) {
    .index-content {
        .alert-wrap {
            width: 100%;
        }
        .alert:last-child { margin-bottom: calc(2.25rem + 1.75vw); }
        .nav-menu {
            gap: 1.5rem;
            a { padding: 1.75rem 0; }
            img {
                margin-bottom: 1.5rem;
                width: 4.5rem;
            }
            span { font-size: calc(1rem + .75vw); }
        }
        .main-nav {
            margin-bottom: calc(2.75rem + 2.75vw);
            #AC {
                top: -2rem;
                left: 0;
            }
        }
    }
    .news-wrap {
        padding: 2.5rem 2rem 2rem;
        .wrap-title {
            h4 {
                font-size: 1.625rem;
                &:before, &:after {
                    top: 54%;
                } 
            }
        }
        .news-menu {
            li {
                padding: 1rem 0 1rem 3.5rem;
                width: 100%;
            }
        }
    }
    .nav-breadcrumb {
        margin-top: -1rem;
        #AC {
            display: inline-block;
            position: static;
        }
        .breadcrumb { display: inline-flex; }
    }
    
    .step-wrapper {
        width: 100%;
        .scroll-wrapper { width: 100%; }
    }
    .step-menu { justify-content: flex-start; }
    .step-item {
        min-width: 8.75rem;
        &:before, &:after {
            top: 1.25rem;
        }
        .description { font-size: 1.063rem; }
        .number {
            width: 2.5rem;
            height: 2.5rem;
            line-height: 2.5rem;
        }
    }
    
    .inquiry-section {
        .menu-inquiry {
            display: block;
        }
        .item-inquiry {
            margin-bottom: calc(1rem + .75vw);
            width: 100%;
            .item-bd,
            .item-ft {
                padding: 1rem;
            }
            .inquiry-status {
                padding: 1rem 0;
            }
        }
    }
    
    .download-menu,
    .article-list {
        display: block;
        li { width: 100%; }
    }
    .download-menu {
        .dl-link {
            padding: 1.2rem 0 1.25rem 3.25rem;
            &:after {
                top: 1rem;
            }
        }
    }
    .article-list {
        li { padding: 1.2rem 0 1.25rem 3.25rem; }
    }
    
    .sitemap-menu {
        width: 50%;
        li {
            padding: .75rem 0;
        }
    }
}

@media (max-width: 767px) {
    section.section {
        margin-top: 2.5rem;
    }
    .section-title { margin-bottom: 1.5rem; }
    
    .child-info {
        display: block;
        border-radius: .5rem;
        border: 1px solid #e5e5e5;
        padding: 1.5rem 1.5rem 0;
        .info-item {
            border: none;
            padding: 0;
        }
        .form-group {
            margin-bottom: 1.5rem;
            padding: 0;
        }
        .form-label { margin-bottom: .25rem; }
    }
}

@media (max-width: 679px) {
    .index-content {
        .nav-menu {
            display: block;
            li {
                margin-bottom: .75rem;
                width: 100%;
            }
            a { padding: 1.25rem 0 1rem; }
            img {
                margin-bottom: 1rem;
                width: 4rem;
            }
        }
    }
    
    .institution-list-wrapper {
        .list-table {
            display: block;
            gap: 0;
        }
        .list-item {
            margin-bottom: 1.5rem;
            width: 100%;
        }
    }
}

@media (max-width: 575px) {
	.identity-select-wrapper {
        .item-section { padding: 1.5rem; }
	}
    
    .register-upload {
        .upload-item {
            .form-control { width: 100%; }
        }
        .item-bd, .ft-action {
            padding: 1rem;
        }
        .action-group {
            display: block !important;
        }
        .input-chip { margin-bottom: .75rem; }
    }
    .page-controller {
        display: block;
        .pagination.justify-content-end {
            justify-content: flex-start !important;
        }
    }
    
    .replacement-info {
        display: block;
        .info-sn {
            padding: 0;
        }
        .info-institution {
            border-left: none;
            padding: 0;
        }
    }
    
    .sitemap-menu {
        width: 100%;
        li {
            padding: .5rem 0;
        }
    }
}

@media (max-width: 375px) {
    .notice-wrapper { padding: 1rem 1rem .125rem; }
	.identity-select-wrapper {
        .item-section { padding: 1rem; }
	}
}










