<!-- ntu: 學生 - STEP1: 申請課程 -->

<div class="container-lg">
	<div class="page-content">
	    <aside class="aside offcanvas-collapse">
			<div class="scrollbar-inner">
				<div class="user-wrapper">
				    <p><i class="far fa-user-circle"></i></p>
                    <div class="dropdown">
                        <button class="dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Angela Winson
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Change password</a></li>
                            <li><a class="dropdown-item" href="#">Log out</a></li>
                        </ul>
                    </div>
				</div>
		        <div class="sidenav">
                    <ul class="navigation step-navigation menu-item">
                        <li>
							<a class="nav-item current" href="#">
								<span class="step-small">Step 1</span>
								<span class="step-briefly">申請課程</span>
							</a>
						</li>
                        <li>
							<a class="nav-item" href="#">
								<span class="step-small">Step 2</span>
								<span class="step-briefly">申請表填寫</span>
							</a>
						</li>
						<li>
							<a class="nav-item" href="#">
								<span class="step-small">Step 3</span>
								<span class="step-briefly">文件上傳</span>
							</a>
						</li>
						<li>
							<a class="nav-item" href="#">
								<span class="step-small">Step 4</span>
								<span class="step-briefly">預覽申請資料</span>
							</a>
						</li>
						<li>
							<a class="nav-item" href="#">
								<span class="step-small">Step 5</span>
								<span class="step-briefly">繳交報名費</span>
							</a>
						</li>
						<li>
							<a class="nav-item" href="#">
								<span class="step-small">Step 6</span>
								<span class="step-briefly">送出申請</span>
							</a>
						</li>
                    </ul>
				</div>
			</div>
		</aside>
		<div id="widget-overlay"></div>
		<main class="main">
			<h2 class="mb-4">申請課程</h2>
		    <div class="notice-wrapper">
			    <h4 class="notice-title">注意事項</h4>
				<p><%= lorem_paragraph %></p>
				<ol>
					<% (1..3).map do |i| %>
				    <li><%= lorem_sentence %></li>
					<% end %>
				</ol>
			</div>
			<h4>選擇報名課程</h4>
			<div class="select-courses-wrapper">
				<div class="item-wrapper">
                    <div class="flex-wrap">
                        <div class="flex-item">
                            <select class="form-select" aria-label="Default select example">
                                <option selected>Open this select menu</option>
                                <option value="1">Seasonal Programs</option>
                                <option value="2">One-to-One Lessons</option>
                                <option value="3">Customized Lessons</option>
                            </select>
                        </div>
                        <div class="flex-item">
                            <select class="form-select" aria-label="Default select example">
                                <option selected>2022 Spring Quarter 2022/06/01 ~ 2022/09/31</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                            </select>
                        </div>
                        <div class="flex-item">
                            <a href="#" class="btn btn-outline-primary btn-window" title="另開視窗瀏覽">
								<i class="fas fa-external-link-square-alt"></i>
								<span>另開視窗瀏覽</span>
							</a>
                        </div>
                    </div>

                    <!-- 麻煩前端協助 checkbox show/hide .additional-wrapper -->
                    <div class="form-check mt-3">
                        <input class="form-check-input" type="checkbox" value="" id="additionalCourses" />
                        <label class="form-check-label" for="additionalCourses">
                            選擇加發課程
                        </label>
                    </div>
                    <div class="additional-wrapper">
                        <div class="form-group">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="additionalCourses_01" />
                                <label class="form-check-label" for="additionalCourses_01">
                                    2022 Spring Quarter (2022/06/01 ~ 2022/09/31)
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="additionalCourses_02" />
                                <label class="form-check-label" for="additionalCourses_02">
                                    2022秋季班 (2022/06/01 ~ 2022/09/31)
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="additionalCourses_03" />
                                <label class="form-check-label" for="additionalCourses_03">
                                    2022冬季班 (2022/06/01 ~ 2022/09/31)
                                </label>
                            </div>
                        </div>
                    </div>
				</div>
				<div class="item-wrapper">
					<button type="button" class="btn btn-sm btn-rounded btn-danger" title="刪除">
					    <i class="fas fa-times"></i>
					</button>
                    <div class="flex-wrap">
                        <div class="flex-item">
                            <select class="form-select" aria-label="Default select example">
                                <option selected>Open this select menu</option>
                                <option value="1">Seasonal Programs</option>
                                <option value="2">One-to-One Lessons</option>
                                <option value="3">Customized Lessons</option>
                            </select>
                        </div>
                        <div class="flex-item">
                            <select class="form-select" aria-label="Default select example">
                                <option selected>2022 Spring Quarter 2022/06/01 ~ 2022/09/31</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                            </select>
                        </div>
                        <div class="flex-item">
                            <a href="#" class="btn btn-outline-primary btn-window" title="New window">
								<i class="fas fa-external-link-square-alt"></i>
								<span>New window</span>
							</a>
                        </div>
                    </div>
				</div>
				<div class="mt-3">
					<button type="button" class="btn btn-success">新增報名課程</button>
				</div>
			</div>
			<div class="form-action">
                <button type="button" class="btn btn-lg btn-primary">暫存</button>
				<button type="button" class="btn btn-lg btn-light">下一步</button>
				<span class="backhome"><a href="#" class="btn btn-lg btn-link"><i class="fas fa-long-arrow-alt-left"></i> 回首頁</a></span>
			</div>
		</main>
	</div>
</div>



<% content_for :js do %>
    <!-- sidenav scrollbar -->
    <script src="../javascripts/jquery.scrollbar.min.js"></script>
    <script>
        jQuery(document).ready(function(){
            jQuery('.scrollbar-inner').scrollbar();
        });
	</script>

    <!-- sidenav open -->
	<script>
        (function () {
          'use strict'

          document.querySelector('#navbarSideCollapse').addEventListener('click', function () {
            document.querySelector('.offcanvas-collapse').classList.toggle('open')
          })
        })()
	</script>

    <!-- sidenav close -->
    <script>
        $("#widget-overlay").click(function(){
            $(".offcanvas-collapse").removeClass("open");
        });
	</script>
<% end %>

