<!-- ntu: 學生 - 已送出: 瀏覽申請紀錄 -->

<div class="container-lg">
	<div class="page-content">
	    <aside class="aside offcanvas-collapse">
			<div class="scrollbar-inner">
				<div class="user-wrapper">
				    <p><i class="far fa-user-circle"></i></p>
                    <div class="dropdown">
                        <button class="dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Angela Winson
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Change password</a></li>
                            <li><a class="dropdown-item" href="#">Log out</a></li>
                        </ul>
                    </div>
				</div>
		        <div class="sidenav">
                    <ul class="navigation menu-item">
                        <li>
							<a class="nav-item current" href="#">瀏覽申請紀錄</a>
						</li>
                        <li>
							<a class="nav-item" href="#">退補件</a>
						</li>
						<li>
							<a class="nav-item" href="#">繳交學費</a>
						</li>
						<li>
							<a class="nav-item" href="#">註冊單填寫</a>
						</li>
						<li>
							<a class="nav-item" href="#">分班結果</a>
						</li>
                    </ul>
				</div>
			</div>
		</aside>
		<div id="widget-overlay"></div>
		<main class="main">
			<h2 class="mb-4">瀏覽申請紀錄</h2>
			<div class="preview-wrapper">
				<fieldset disabled>
					<section class="application-section">
                        <h4 class="section-title">
                            <span>申請課程</span>
                        </h4>
                        <div class="select-courses-wrapper">
                            <div class="item-wrapper">
                                <div class="flex-wrap">
                                    <div class="flex-item">
                                        <select class="form-select" aria-label="Default select example">
                                            <option>Open this select menu</option>
                                            <option value="1" selected>Seasonal Programs</option>
                                            <option value="2">One-to-One Lessons</option>
                                            <option value="3">Customized Lessons</option>
                                        </select>
                                    </div>
                                    <div class="flex-item">
                                        <select class="form-select" aria-label="Default select example">
                                            <option selected>2022 Spring Quarter 2022/06/01 ~ 2022/09/31</option>
                                            <option value="1">One</option>
                                            <option value="2">Two</option>
                                            <option value="3">Three</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-check mt-3">
                                    <input class="form-check-input" type="checkbox" value="" id="additionalCourses" checked />
                                    <label class="form-check-label" for="additionalCourses">
                                        選擇加發課程
                                    </label>
                                </div>
                                <div class="additional-wrapper">
                                    <div class="form-group">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="additionalCourses_01" checked />
                                            <label class="form-check-label" for="additionalCourses_01">
                                                2022 Spring Quarter (2022/06/01 ~ 2022/09/31)
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="additionalCourses_02" />
                                            <label class="form-check-label" for="additionalCourses_02">
                                                2022秋季班 (2022/06/01 ~ 2022/09/31)
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="additionalCourses_03" checked />
                                            <label class="form-check-label" for="additionalCourses_03">
                                                2022冬季班 (2022/06/01 ~ 2022/09/31)
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item-wrapper">
                                <div class="flex-wrap">
                                    <div class="flex-item">
                                        <select class="form-select" aria-label="Default select example">
                                            <option>Open this select menu</option>
                                            <option value="1">Seasonal Programs</option>
                                            <option value="2" selected>One-to-One Lessons</option>
                                            <option value="3">Customized Lessons</option>
                                        </select>
                                    </div>
                                    <div class="flex-item">
                                        <select class="form-select" aria-label="Default select example">
                                            <option selected>2022 Spring Quarter 2022/06/01 ~ 2022/09/31</option>
                                            <option value="1">One</option>
                                            <option value="2">Two</option>
                                            <option value="3">Three</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
					</section>
                    <section class="application-section">
                        <h4 class="section-title">
                            <span>申請者基本資料</span>
                        </h4>
                        <div class="row">
                            <div class="col-lg-8">
                                <div class="row form-row">
                                    <label for="enNameFirst" class="form-label">
                                        <span class="required">*</span> 英文姓名
                                    </label>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="enNameFirst" value="Angela" />
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="enNameMiddle" value="Middle" />
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="enNameLast" value="Winson" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label for="chName" class="form-label">
                                        中文姓名
                                    </label>
                                    <input type="text" class="form-control" id="chName" value="安吉拉溫森" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-8">
                                <div class="form-group">
                                    <label class="form-label">
                                        <span class="required">*</span> 國籍
                                    </label>
                                    <select class="form-select" aria-label="Default select example">
                                        <option>Open this select menu</option>
                                        <option value="1" selected>阿爾巴尼亞 Albania</option>
                                        <option value="2">Two</option>
                                        <option value="3">Three</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label class="form-label">
                                        <span class="required">*</span> 性別
                                    </label>
                                    <div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="genderRadio" id="maleRadio" value="option1" />
                                            <label class="form-check-label" for="maleRadio">男</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="genderRadio" id="femaleRadio" value="option2" checked />
                                            <label class="form-check-label" for="femaleRadio">女</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-label">
                                        <span class="required">*</span> 出生日期
                                    </label>
                                    <div class="input-group date" id="datepicker">
                                        <input class="form-control" value="09/06/2001" />
                                        <span class="input-group-append input-group-addon">
                                            <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="passportInput" class="form-label">
                                        <span class="required">*</span> 護照號碼
                                    </label>
                                    <input type="text" class="form-control" id="passportInput" value="9876543210" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="phoneInput" class="form-label">
                                        <span class="required">*</span> 電話號碼
                                    </label>
                                    <input type="text" class="form-control" id="phoneInput" value="9876543210" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="emailInput" class="form-label">
                                        <span class="required">*</span> 電子郵件信箱
                                    </label>
                                    <input type="email" class="form-control" id="emailInput" value="angelawinson@gmail.com" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="emailBackupInput" class="form-label">
                                        備用電子郵件信箱
                                    </label>
                                    <input type="email" class="form-control" id="emailBackupInput" value="angelawinson@hotmail.com" />
                                </div>
                            </div>
                        </div>
                    </section>
                    <section class="application-section">
                        <h4 class="section-title">
                            <span>Permanent Postal Mailing Address</span>
                        </h4>
                        <div class="row">
                            <div class="col-md-8">
                                <div class="form-group">
                                    <label for="addressLine" class="form-label">
                                        <span class="required">*</span> Address Line
                                    </label>
                                    <input type="text" class="form-control" id="addressLine" value="士林區至善路二段221號" />
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="postalCode" class="form-label">
                                        <span class="required">*</span> Postal Code
                                    </label>
                                    <input type="text" class="form-control" id="postalCode" value="111" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="cityTown" class="form-label">
                                        <span class="required">*</span> City / Town
                                    </label>
                                    <input type="text" class="form-control" id="cityTown" value="台北市" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="stateInput" class="form-label">
                                        <span class="required">*</span> State
                                    </label>
                                    <input type="text" class="form-control" id="stateInput" value="台灣" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-label">
                                        <span class="required">*</span> Country
                                    </label>
                                    <select class="form-select" aria-label="Default select example">
                                        <option>Open this select menu</option>
                                        <option value="1" selected>中華民國 Republic of China</option>
                                        <option value="2">Two</option>
                                        <option value="3">Three</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section class="application-section">
                        <h4 class="section-title">
                            <span>調查資料</span>
                        </h4>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="educationJob" class="form-label">
                                        <span class="required">*</span> 最近學歷/職業
                                    </label>
                                    <input type="text" class="form-control" id="educationJob" value="Eos non eos qui quibusdam voluptas id" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="educationJob" class="form-label">
                                        <span class="required">*</span> 是否曾在CLD就讀
                                    </label>
                                    <div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="cldRadio" id="cldYes" value="option1" checked />
                                            <label class="form-check-label" for="cldYes">是</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="cldRadio" id="cldNo" value="option2" />
                                            <label class="form-check-label" for="cldNo">否</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="educationJob" class="form-label">
                                        <span class="required">*</span> 自認目前中文程度 [聼]
                                    </label>
                                    <div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="chineseListen" id="chineseListen1" value="option1" />
                                            <label class="form-check-label" for="chineseListen1">完全不會</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="chineseListen" id="chineseListen2" value="option2" />
                                            <label class="form-check-label" for="chineseListen2">差</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="chineseListen" id="chineseListen3" value="option3" />
                                            <label class="form-check-label" for="chineseListen3">尚可</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="chineseListen" id="chineseListen4" value="option4" />
                                            <label class="form-check-label" for="chineseListen4">佳</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="chineseListen" id="chineseListen5" value="option5" checked />
                                            <label class="form-check-label" for="chineseListen5">流利</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="educationJob" class="form-label">
                                        <span class="required">*</span> 自認目前中文程度 [說]
                                    </label>
                                    <div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="chineseTalk" id="chineseTalk1" value="option1" />
                                            <label class="form-check-label" for="chineseTalk1">完全不會</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="chineseTalk" id="chineseTalk2" value="option2" />
                                            <label class="form-check-label" for="chineseTalk2">差</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="chineseTalk" id="chineseTalk3" value="option3" />
                                            <label class="form-check-label" for="chineseTalk3">尚可</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="chineseTalk" id="chineseTalk4" value="option4" checked />
                                            <label class="form-check-label" for="chineseTalk4">佳</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="chineseTalk" id="chineseTalk5" value="option5" />
                                            <label class="form-check-label" for="chineseTalk5">流利</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="educationJob" class="form-label">
                                        <span class="required">*</span> 自認目前中文程度 [讀]
                                    </label>
                                    <div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="chineseRead" id="chineseRead1" value="option1" />
                                            <label class="form-check-label" for="chineseRead1">完全不會</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="chineseRead" id="chineseRead2" value="option2" />
                                            <label class="form-check-label" for="chineseRead2">差</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="chineseRead" id="chineseRead3" value="option3" checked />
                                            <label class="form-check-label" for="chineseRead3">尚可</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="chineseRead" id="chineseRead4" value="option4" />
                                            <label class="form-check-label" for="chineseRead4">佳</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="chineseRead" id="chineseRead5" value="option5" />
                                            <label class="form-check-label" for="chineseRead5">流利</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="educationJob" class="form-label">
                                        <span class="required">*</span> 自認目前中文程度 [寫]
                                    </label>
                                    <div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="chineseWrite" id="chineseWrite1" value="option1" />
                                            <label class="form-check-label" for="chineseWrite1">完全不會</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="chineseWrite" id="chineseWrite2" value="option2" checked />
                                            <label class="form-check-label" for="chineseWrite2">差</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="chineseWrite" id="chineseWrite3" value="option3" />
                                            <label class="form-check-label" for="chineseWrite3">尚可</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="chineseWrite" id="chineseWrite4" value="option4" />
                                            <label class="form-check-label" for="chineseWrite4">佳</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="chineseWrite" id="chineseWrite5" value="option5" />
                                            <label class="form-check-label" for="chineseWrite5">流利</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section class="application-section">
                        <h4 class="section-title">
                            <span>緊急連絡人資訊</span>
                        </h4>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="contactRelation" class="form-label">
                                        <span class="required">*</span> 與申請人關係
                                    </label>
                                    <input type="text" class="form-control" id="contactRelation" value="Slave" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="contactName" class="form-label">
                                        <span class="required">*</span> 姓名
                                    </label>
                                    <input type="text" class="form-control" id="contactName" value="Emergency Contact" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="contactPhone" class="form-label">
                                        <span class="required">*</span> 電話
                                    </label>
                                    <input type="text" class="form-control" id="contactPhone" value="9876543210" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="contactEmail" class="form-label">
                                        <span class="required">*</span> 電子郵件
                                    </label>
                                    <input type="email" class="form-control" id="contactEmail" value="emergencycontact@gmail.com" />
                                </div>
                            </div>
                        </div>
                    </section>
				</fieldset>
				
				<!-- 預覽時文件上傳須放在 fieldset disabled 之外，按鈕連結才能作用 -->
                <section class="application-section">
                    <h4 class="section-title">
                        <span>文件上傳</span>
                    </h4>
                    <div class="upload-wrapper">
                        <div class="upload-item">
                            <h4>照片</h4>
                            <p><%= lorem_sentence %></p>
                            <p><a href="#" class="btn btn-outline-cld">開啟檔案</a></p>
                        </div>
                        <div class="upload-item">
                            <h4>請上傳您的護照</h4>
                            <p>請上傳護照掃描檔</p>
                            <p><a href="#" class="btn btn-outline-cld">開啟檔案</a></p>
                        </div>
                    </div>
                </section>
				<section class="application-section">
                    <h4 class="section-title">
                        <span>繳費</span>
                    </h4>
                    <table class="table table-lg">
                        <thead>
                            <tr>
                                <th>項次</th>
                                <th>費用項目名稱</th>
                                <th class="text-end">金額</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>報名費</td>
                                <td class="text-end">NTD2,500</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="amount-wrap done">
                        <span>合計金額：NTD2,500</span>
                        <span><strong class="text-success">已完成線上付費：2022/06/01 08:30:59</strong></span>
                    </div>
				</section>
			</div>
			<div class="form-action">
				<a href="#" class="btn btn-lg btn-primary">查看申請紀錄</a>
			</div>
		</main>
	</div>
</div>



<% content_for :js do %>
    <!-- sidenav scrollbar -->
    <script src="../javascripts/jquery.scrollbar.min.js"></script>
    <script>
        jQuery(document).ready(function(){
            jQuery('.scrollbar-inner').scrollbar();
        });
	</script>

    <!-- sidenav open -->
	<script>
        (function () {
          'use strict'

          document.querySelector('#navbarSideCollapse').addEventListener('click', function () {
            document.querySelector('.offcanvas-collapse').classList.toggle('open')
          })
        })()
	</script>

    <!-- sidenav close -->
    <script>
        $("#widget-overlay").click(function(){
            $(".offcanvas-collapse").removeClass("open");
        });
	</script>
<% end %>

