<!-- admin-page: 藥害 - 選擇範本 -->

<div class="container">
    <main class="main">
        <div class="page-header">
            <div class="header-left">
                <h2 class="page-title">選擇報名課程範本</h2>
                <p class="title-info">選擇報名課程範本產生網站</p>
            </div>
            <div class="header-right">
                <a href="#" class="btn btn-md btn-dark btn-rounded">取消</a>
            </div>
        </div>
		<div class="events-host-container">
		    <form>
			    <div class="events-host-search text-right">
				    <div class="search-inner">
                        <i class="fa fa-search" aria-hidden="true"></i>
                        <input class="form-control" type="text" placeholder="搜尋課程"
                        aria-label="Search">
					</div>
				</div>
				<div class="events-host-list">
                    <div class="event-card">
                        <div class="event-hd">
                            <hgroup class="event-title mb-0">
                                <h4 class="language main-language">一般人員/收費【第05期】陪同就醫專業人員實務工作坊</h4>
                            </hgroup>
                        </div>
                        <div class="event-bd">
                            <div class="event-describe has-border">
                                <div class="event-column">
								    <h5>課程設定</h5>
									<ul class="mb-0">
									    <li>課程形式：實體課程</li>
										<li>是否收費：否</li>
										<li>開放學員類型：會員、非會員</li>
									</ul>
								</div>
								<div class="event-column">
								    <h5>結訓條件</h5>
									<ol class="mb-0">
									    <li>完成簽到退、點名</li>
										<li>完成前、後測</li>
										<li>完成結訓問卷</li>
										<li>上課時數達到標準</li>
										<li>測驗分數達到標準</li>
									</ol>
								</div>
							</div>
                        </div>
                        <div class="event-ft">
                            <div class="ft-left">
                                <a href="#" class="link-notification">
									<i class="fa fa-eye"></i> 預覽網站
                                </a>
								<a href="#" class="link-notification">
									<i class="fa fa-eye"></i> 預覽報名表
                                </a>
							</div>
                            <div class="ft-right">
							    <a href="#" class="btn btn-md btn-secondary btn-rounded">套用課程</a>
							</div>
                        </div>
                    </div>
					
					<div class="event-card">
                        <div class="event-hd">
                            <hgroup class="event-title mb-0">
                                <h4 class="language main-language">一般人員/收費【第05期】陪同就醫專業人員實務工作坊</h4>
                            </hgroup>
                        </div>
                        <div class="event-bd">
                            <div class="event-describe has-border">
                                <div class="event-column">
								    <h5>課程設定</h5>
									<ul class="mb-0">
									    <li>課程形式：實體課程</li>
										<li>是否收費：否</li>
										<li>開放學員類型：會員、非會員</li>
									</ul>
								</div>
								<div class="event-column">
								    <h5>結訓條件</h5>
									<ol class="mb-0">
									    <li>完成簽到退、點名</li>
										<li>完成前、後測</li>
										<li>完成結訓問卷</li>
										<li>上課時數達到標準</li>
										<li>測驗分數達到標準</li>
									</ol>
								</div>
							</div>
                        </div>
                        <div class="event-ft">
                            <div class="ft-left">
                                <a href="#" class="link-notification">
									<i class="fa fa-eye"></i> 預覽網站
                                </a>
								<a href="#" class="link-notification">
									<i class="fa fa-eye"></i> 預覽報名表
                                </a>
							</div>
                            <div class="ft-right">
							    <a href="#" class="btn btn-md btn-secondary btn-rounded">套用課程</a>
							</div>
                        </div>
                    </div>
					
					<div class="event-card">
                        <div class="event-hd">
                            <hgroup class="event-title mb-0">
                                <h4 class="language main-language">一般人員/收費【第05期】陪同就醫專業人員實務工作坊</h4>
                            </hgroup>
                        </div>
                        <div class="event-bd">
                            <div class="event-describe has-border">
                                <div class="event-column">
								    <h5>課程設定</h5>
									<ul class="mb-0">
									    <li>課程形式：實體課程</li>
										<li>是否收費：否</li>
										<li>開放學員類型：會員、非會員</li>
									</ul>
								</div>
								<div class="event-column">
								    <h5>結訓條件</h5>
									<ol class="mb-0">
									    <li>完成簽到退、點名</li>
										<li>完成前、後測</li>
										<li>完成結訓問卷</li>
										<li>上課時數達到標準</li>
										<li>測驗分數達到標準</li>
									</ol>
								</div>
							</div>
                        </div>
                        <div class="event-ft">
                            <div class="ft-left">
                                <a href="#" class="link-notification">
									<i class="fa fa-eye"></i> 預覽網站
                                </a>
								<a href="#" class="link-notification">
									<i class="fa fa-eye"></i> 預覽報名表
                                </a>
							</div>
                            <div class="ft-right">
							    <a href="#" class="btn btn-md btn-secondary btn-rounded">套用課程</a>
							</div>
                        </div>
                    </div>
				</div>
			</form>
		</div>
    </main>
</div>


<% content_for :js do %>

<% end %>
