<!-- template: 申請紀錄 (選單示範) -->

<div class="container-lg">
	<div class="page-content">
	    <aside class="aside">
			<div class="scrollbar-inner">
		        <div class="sidenav">
                    <ul class="side-navigation menu-item">
                        <li>
							<a class="nav-item current" href="#">
							    <span class="link-inner">申請紀錄</span>
							</a>
						</li>
						<li>
							<a class="nav-item" href="#">
								<span class="link-inner">補件作業</span>
							</a>
						</li>
						<li>
							<a class="nav-item" href="#">
								<span class="link-inner">推薦進度查詢</span>
							</a>
						</li>
						<li>
							<a class="nav-item" href="#">
								<span class="link-inner">錄取結果查詢</span>
							</a>
						</li>
						<li>
							<a class="nav-item" href="#">
								<span class="link-inner">實習每週心得上傳 (1/5)</span>
							</a>
						</li>
                        <li>
							<a class="nav-item" href="#">
								<span class="link-inner">實習總心得線上填報</span>
							</a>
						</li>
                        <li>
							<a class="nav-item" href="#">
								<span class="link-inner">問卷填寫</span>
							</a>
						</li>
                    </ul>
				</div>
			</div>
		</aside>
		<main class="main">
			<div>
			    <% (1..4).map do |i| %>
				<p><%= lorem_paragraphs(2) %></p>
				<% end %>
			</div>
		</main>
	</div>
</div>



<% content_for :js do %>

<% end %>

