<!-- ietw: 台日交流 (客製化) - 得獎名單 -->

<%= render :partial => "/partials/breadcrumb" %>
<div class="sidenav-overlay"></div>
<div class="content-wrapper">
    <div class="container">
	    <div class="pages-row">
			
			<!-- 側欄選單 -->
            <div class="sidenav">
                <div class="scrollbar-inner">
                    <a accesskey="L" href="#accesskey_left_nav" tabindex="0" title="左側目錄" id="accesskey_left_nav" class="ackey d-none d-xl-block">:::</a>
                    <div id="accordian_nav" class="sidenav-inner">
                        <h5 class="fw-bold nav-title">臺日教育交流</h5>
                        <ul>
                            <li>
                                <h4>
                                    <a href="#" title="{連結名稱}">20 週年紀念活動</a>
                                </h4>
                            </li>
                            <li>
                                <h4>
                                    <a href="#" class="current" title="{連結名稱}">得獎名單</a>
                                </h4>
                            </li>
							<li>
                                <h4>
                                    <a href="#" title="{連結名稱}">貴賓名錄</a>
                                </h4>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- 主要內容 -->
            <main class="main">
                <a accesskey="C" href="#accesskey_content" tabindex="0" title="主要內容" id="accesskey_content" class="ackey">:::</a>

                <article class="page-article ee-customized">
					<div class="post-head">
						<div class="ee-title">
							<img src="../assets/ee-banner00.jpg" class="d-block w-100" alt="..." />
                            <h2>得獎名單</h2>
						</div>
					</div>
					
					<div class="post-content">
						<div class="post-block">
							<div class="winner-wrapper">
							    <div class="list-hd">
								    <h5>臺灣學校</h5>
									<h5>日本學校</h5>
								</div>
								<ul class="menu-item winner-school">
								    <li>
									    <span>高雄市立高雄高級中學</span>
										<span>京都府立命館中学校・高等学校</span>
									</li>
									<li>
									    <span>臺北市立中山女子高級中學</span>
										<span>大阪府立住吉高等学校</span>
									</li>
									<li>
									    <span>國立彰化女子高級中學</span>
										<span>大阪府常翔学園中学校・高等学校</span>
									</li>
									<li>
									    <span>國立臺南女子高級中學</span>
										<span>兵庫県立龍野高等学校</span>
									</li>
									<li>
									    <span>臺中市立臺中第二高級中等學校</span>
										<span>兵庫県立伊丹高等学校</span>
									</li>
									<li>
									    <span>高雄市立高雄女子高級中學</span>
										<span>沖縄尚学高等学校</span>
									</li>
									<li>
									    <span>國立花蓮高級農業職業學校</span>
										<span>沖縄県立八重山商工高等学校</span>
									</li>
									<li>
									    <span>國立臺南高級商業職業學校</span>
										<span>宮城県仙台城南高等学校</span>
									</li>
									<li>
									    <span>國立臺南第二高級中學</span>
										<span>岡山県立林野高等学校</span>
									</li>
									<li>
									    <span>臺南市私立長榮高級中學</span>
										<span>関東学院中学校高等学校</span>
									</li>
									<li>
									    <span>臺北市立建國高級中學</span>
										<span>石川県立金沢泉丘高等学校</span>
									</li>
									<li>
									    <span>臺中市立臺中第一高級中等學校</span>
										<span>筑波大学附属駒場中・高等学校</span>
									</li>
									<li>
									    <span>國立新竹高級中學</span>
										<span>神奈川県立多摩高等学校</span>
									</li>
									<li>
									    <span>臺北市私立泰北高級中學</span>
										<span>学校法人愛知学院愛知高等学校</span>
									</li>
									<li>
									    <span>國立關西高級中學</span>
										<span>広島県立庄原実業高等学校</span>
									</li>
								</ul>
							</div>
						</div>
						<div class="post-block">
						    <h4 class="block-title">頒獎</h4>
							<div class="table-responsive keep-all">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>獎項</th>
                                            <th>受獎人員</th>
                                            <th>單位</th>
                                        </tr>
                                    </thead>
                                    <tbody>
										<% (1..6).map do |i| %>
                                        <tr>
                                            <td><%= lorem_words(5) %></td>
                                            <td><%= zh_lorem_name %></td>
                                            <td><%= lorem_words(3) %></td>
                                        </tr>
										<% end %>
                                    </tbody>
                                </table>  
							</div>
						</div>
						<div class="post-block">
						    <h4 class="block-title">友好宣言</h4>
							<h4>臺日姐妹校友好交流宣言-迎向嶄新世紀之友情</h4>
							<p>臺灣與日本同具有崇尚教育之傳統，在臺灣有「百年樹人」、在日本有「百年大計」之謂，意即教育需長期永續實施，方能顯現成效，在國際教育交流上亦復如此。臺日近代教育發展已逾百年，雙方交流密切，20年前臺灣大力推動高中生至日本教育旅行，交流人數日益成長，雙方學校關係日益友好，情同手足。今年適逢臺日教育交流20週年，在教育全球化的今日，臺日姐妹校立足迄今之堅實友好基礎，共同宣言，攜手豐富教育內涵，培育國際人才，貢獻社會，更創嶄新世紀。秉此友好交流宣言，雙方參與學校，就下列事項，達成持續相互合作共識：</p>
							<ol>
							    <li>本宣言以推動雙方學校師生交流，並增進對彼此歷史與文化之瞭解及親善友好為目的。</li>
								<li>
									為達成上述目的，下列事項由雙方在可能之範圍內協助舉辦及提供支援。
									<ol>
									    <li>以支援教育(研修及修學)旅行為目的，與教育旅行相關研討會、說明會等活動。</li>
										<li>互訪、共同研究、外語、教育、體育、文化與藝術等交流活動。</li>
										<li>以師生為對象，深化雙方青少年相互瞭解及友好之交流活動。</li>
									</ol>
								</li>
							</ol>
						</div>
						<div class="post-block">
							<h4>台日姉妹校友好交流宣言-新たな世紀に向けた友情</h4>
							<p>台湾と日本はともに教育を尊重する伝統を有している。教育とは台湾で「百年樹人(人材を育てるには百年)」、日本でも「百年の大計」と言われる。即ち、人を育てることは効果が表れるまでに長い年月がかかり、国際教育交流も同様である。台湾と日本における近代教育の發展はすでに百年を超え、互いに密接な交流が行われている。20年前に台湾が高校生の来日教育旅行事業を積極的に実施して以来、交流人数は年々増加し、双方の学校は親しい間柄となり、更なる友好を深めている。今年は台日教育交流20周年を迎え、教育のグローバル化が進んでいる今、台日の姉妹校はこれまでの堅実な友好関係を基礎とし、引き続き協力し合い、教育の内容を豊かにし、国際的人材を育み、社会に貢献し、更に新たな世紀を創り出すことをここに宣言する。本宣言に基づき、次の提携事項に合意する：</p>
							<ol>
							    <li>本宣言は、双方の教員と生徒の交流・協力を促進し、お互いの歴史と文化に対する理解及び友好親善を深めることを目的とする。</li>
								<li>
									上記の目的を達成するため、双方は以下の事項に関して、可能な範囲で、実施し、及び支援を行う。
									<ol>
									    <li>教育(研修、修学)旅行への支援として、教育旅行に関連するシンポジウム、説明会などの活動。</li>
										<li>相互訪問、共同研究、外国語、教育、体育、文化と芸術等の交流活動。</li>
										<li>教員と生徒を対象とした、青少年の相互理解及び友好を深める交流活動。</li>
									</ol>
								</li>
							</ol>
						</div>
						<div class="illustration">
						    <img src="../assets/ee-banner02.jpg" class="d-block w-100" alt="..." />
						</div>
					</div>
				</article>
				
            </main>
			
		</div>
	</div>
</div>



<% content_for :js do %>

<% end %>




