<!-- NTU-Bike: 自行車證申請表  -->

<div class="container">
    <h2 class="page-title">自行車證申請表</h2>
	<div class="app-form">
        <p>申請日期：2018/08/02 14:03</p>
		<div class="row">
		    <div class="col-xl-6">
			    <span class="label">申請人姓名</span>
				<span class="export">username</span>
			</div>
			<div class="col-xl-6">
			    <span class="label">申請人學號</span>
				<span class="export">B07201548</span>
			</div>
			<div class="col-xl-6">
			    <span class="label">Email</span>
				<span class="export">suchart@aaa.com.tw</span>
			</div>
			<div class="col-xl-6">
			    <span class="label">申請人系所</span>
				<span class="export">管理學院 資訊管理學系</span>
			</div>
		</div>
		<p class="mt-4">* 號為必填欄位，請確實填寫</p>
		<form>
			<div class="form-group row">
				<div class="form-group col-md-8">
					<label for="number"><span class="red-text pr-2">*</span>身分證/居留證/護照號碼</label>
					<input type="text" class="form-control" id="number" placeholder="">
				</div>
				<div class="form-group col-md-8">
					<label for="Phone"><span class="red-text pr-2">*</span>連絡電話</label>
					<input type="text" class="form-control" id="Phone" placeholder="">
				</div>
				<div class="form-group col-md-8">
					<label for="number2"><span class="red-text pr-2">*</span>車證到期日期</label>
					<input type="text" class="form-control" id="number2" placeholder="">
				</div>
			</div>
			<h5>費用說明</h5>
			<p>第二張車證費用為新台幣 80 元整，申請人送出申請後，可點選線上繳費，直接繳納費用。</p>
			<button type="submit" class="btn btn-primary">送出申請</button>
			<button type="submit" class="btn btn-blue-grey">取消</button>
		</form>
	</div>
</div>

<% content_for :js do %>
<script src="../javascripts/jquery.alphaindex.js"></script>
<script src="../javascripts/jquery.fancybox.js"></script>
<script>
    $('.datepicker').pickadate();
    
    $('#my-list').makeAlphaIndex()
    $('.alpha-index-bar').addClass("col-3");
    $('.alpha-index-list').addClass("col-9");
</script>
<% end %>