<!-- NTU-Bike: 已申請車證  -->

<div class="container">
    <h2 class="page-title">車證明細 共 3 張</h2>
	<div class="pt-3">
		<h4 class="mb-3">待繳費車證</h4>
		<div class="license-wrap">
		    <div class="license-item">
				<div class="hd red lighten-4">
			        <h5><span>車證2</span>2023-1523448680-02</h5>
				</div>
				<div class="bd">
					<ul class="menu-item">
						<li>
							<span class="label">申請日期</span>
							<span class="export">2018/08/02 14:03</span>
						</li>
						<li>
							<span class="label">使用期限</span>
							<span class="export">2023-12-31</span>
						</li>
						<li>
							<span class="label">申請費用</span>
							<span class="export">80 元</span>
						</li>
						<li>
							<span class="label">繳費</span>
							<span class="export"><a href="#" class="">前往繳費</a></span>
						</li>
						<li>
							<span class="label">車證領取</span>
							<span class="export red-text">未領取</span>
						</li>
					</ul>
					<a href="#" class="btn btn-danger btn-sm btn-ft">取消申請</a>
				</div>
			</div>
		</div>
	</div>
	<div>
		<h4 class="mb-3">已繳費車證</h4>
		<div class="license-wrap">
		    <div class="license-item">
				<div class="hd light-blue lighten-1 white-text">
			        <h5><span>車證2</span>2023-1523448680-02</h5>
				</div>
				<div class="bd">
					<ul class="menu-item">
						<li>
							<span class="label">申請日期</span>
							<span class="export">2018/08/02 14:03</span>
						</li>
						<li>
							<span class="label">使用期限</span>
							<span class="export">2023-12-31</span>
						</li>
						<li>
							<span class="label">申請費用</span>
							<span class="export">80 元</span>
						</li>
						<li>
							<span class="label">繳費</span>
							<span class="export"><a href="#" class="">前往繳費</a></span>
						</li>
						<li>
							<span class="label">車證領取</span>
							<span class="export">2018-07-25 16:00 李OO 領</span>
						</li>
					</ul>
				</div>
			</div>
			<div class="license-item">
				<div class="hd light-blue lighten-1 white-text">
			        <h5><span>車證2</span>2023-1523448680-02</h5>
				</div>
				<div class="bd">
					<ul class="menu-item">
						<li>
							<span class="label">申請日期</span>
							<span class="export">2018/08/02 14:03</span>
						</li>
						<li>
							<span class="label">使用期限</span>
							<span class="export">2023-12-31</span>
						</li>
						<li>
							<span class="label">申請費用</span>
							<span class="export">80 元</span>
						</li>
						<li>
							<span class="label">繳費</span>
							<span class="export"><a href="#" class="">前往繳費</a></span>
						</li>
						<li>
							<span class="label">車證領取</span>
							<span class="export red-text">未領取</span>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>

<% content_for :js do %>
<script src="../javascripts/jquery.alphaindex.js"></script>
<script src="../javascripts/jquery.fancybox.js"></script>
<script>
    $('.datepicker').pickadate();
    
    $('#my-list').makeAlphaIndex()
    $('.alpha-index-bar').addClass("col-3");
    $('.alpha-index-list').addClass("col-9");
</script>
<% end %>