<!-- NTU-Bike: 已申請遺失車證  -->

<div class="container">
    <h2 class="page-title">已申請遺失車證</h2>
	<div class="row lost-wrap">
		<div class="col-md-6">
			<ul class="menu-item lost-list">
				<li>
					<div class="th">檢視</div>
					<div class="td">
						<a class="btn-floating btn-sm blue-gradient waves-effect waves-light"><i class="fa fa-search"></i></a>
					</div>
				</li>
				<li>
					<div class="th">申請日期</div>
					<div class="td">2018-09-01 14:20</div>
				</li>
				<li>
					<div class="th">車證編號</div>
					<div class="td">2023-1500848680-01</div>
				</li>
				<li>
					<div class="th">審查狀態</div>
					<div class="td">不通過</div>
				</li>
				<li>
					<div class="th">審查結果說明</div>
					<div class="td"></div>
				</li>
				<li>
					<div class="th">報案單</div>
					<div class="td"></div>
				</li>
				<li>
					<div class="th">結果</div>
					<div class="td"></div>
				</li>
			</ul>
		</div>
		
		<div class="col-md-6">
			<ul class="menu-item lost-list">
				<li>
					<div class="th">檢視</div>
					<div class="td">
						<a class="btn-floating btn-sm blue-gradient waves-effect waves-light"><i class="fa fa-search"></i></a>
					</div>
				</li>
				<li>
					<div class="th">申請日期</div>
					<div class="td">2018-09-01 14:20</div>
				</li>
				<li>
					<div class="th">車證編號</div>
					<div class="td">2023-1500848680-01</div>
				</li>
				<li>
					<div class="th">審查狀態</div>
					<div class="td">通過</div>
				</li>
				<li>
					<div class="th">審查結果說明</div>
					<div class="td"><%= zh_lorem_paragraph %></div>
				</li>
				<li>
					<div class="th">報案單</div>
					<div class="td"><i class="fa fa-file-o"></i></div>
				</li>
				<li>
					<div class="th">結果</div>
					<div class="td"><button type="button" class="btn btn-sm btn-danger">取消</button></div>
				</li>
			</ul>
		</div>
		
		<% (1..8).map do |i| %>
		<div class="col-md-6">
			<ul class="menu-item lost-list">
				<li>
					<div class="th">檢視</div>
					<div class="td">
						<a class="btn-floating btn-sm blue-gradient waves-effect waves-light"><i class="fa fa-search"></i></a>
					</div>
				</li>
				<li>
					<div class="th">申請日期</div>
					<div class="td">2018-09-01 14:20</div>
				</li>
				<li>
					<div class="th">車證編號</div>
					<div class="td">2023-1500848680-01</div>
				</li>
				<li>
					<div class="th">審查狀態</div>
					<div class="td">通過</div>
				</li>
				<li>
					<div class="th">審查結果說明</div>
					<div class="td"><%= zh_lorem_paragraph %></div>
				</li>
				<li>
					<div class="th">報案單</div>
					<div class="td"><i class="fa fa-file-o"></i></div>
				</li>
				<li>
					<div class="th">結果</div>
					<div class="td">
						2017/08/11 12:01
						<span class="badge red">已取消</span>
					</div>
				</li>
			</ul>
		</div>
		<% end %>
	</div>
</div>

<% content_for :js do %>
<script src="../javascripts/jquery.alphaindex.js"></script>
<script src="../javascripts/jquery.fancybox.js"></script>
<script>
    $('.datepicker').pickadate();
    
    $('#my-list').makeAlphaIndex()
    $('.alpha-index-bar').addClass("col-3");
    $('.alpha-index-list').addClass("col-9");
</script>
<% end %>