<!-- NTU-Bike: 基本資料  -->

<div class="container">
    <h2 class="page-title">校內教職員學生基本資料</h2>
	<div class="app-form">
		<form>
		    <div class="row">
			    <div class="col-md-8">
					<div class="form-group">
						<label for="number">學生證號/員工證號</label>
						<input type="text" class="form-control" id="number" placeholder="">
					</div>
					<div class="form-group">
						<label for="name">姓名</label>
						<input type="text" class="form-control" id="name" placeholder="">
					</div>
					<div class="form-group">
						<label for="email"><span class="red-text pr-2">*</span>Email</label>
						<input type="text" class="form-control" id="email" placeholder="">
					</div>
					<div class="form-group">
						<label for="department">系所/單位</label>
						<input type="text" class="form-control" id="department" placeholder="">
					</div>
					<div class="form-group">
						<label for="number2"><span class="red-text pr-2">*</span>身分證/居留證/護照號碼</label>
						<input type="text" class="form-control" id="number2" placeholder="">
					</div>
					<div class="form-group">
						<label for="phone">聯絡電話</label>
						<input type="text" class="form-control" id="phone" placeholder="">
					</div>
					<div class="form-group">
						<label for="exampleFormControlTextarea1">備註</label>
						<textarea <textarea class="form-control rounded-0" id="exampleFormControlTextarea1" rows="4"></textarea></textarea>
					</div>
				</div>
				<div class="col-md-4">
					<div class="avatar-wrap">
						<div class="file-field avatar">
							<div class="z-depth-1-half mb-4">
								<img src="../assets/default-avatar.svg" class="img-fluid" alt="example placeholder">
							</div>
							<div class="d-flex justify-content-center">
								<div class="btn btn-sm btn-info btn-rounded float-left">
									<span>Choose file</span>
									<input type="file">
								</div>
							</div>
						</div>
					</div>
				</div>
		        <div class="col action-ft">
		            <button type="submit" class="btn btn-primary">儲存</button>
		        </div>
			</div>
		</form>
	</div>
</div>

<% content_for :js do %>
<script src="../javascripts/jquery.alphaindex.js"></script>
<script src="../javascripts/jquery.fancybox.js"></script>
<script>
    $('.datepicker').pickadate();
    
    $('#my-list').makeAlphaIndex()
    $('.alpha-index-bar').addClass("col-3");
    $('.alpha-index-list').addClass("col-9");
</script>
<% end %>