<!-- NTU-Bike: 違規拖吊自行車  -->

<div class="container towing-container">
    <h2 class="page-title">違規拖吊自行車</h2>
	<ul class="nav nav-tabs" id="myTab" role="tablist">
		<li class="nav-item">
			<a class="nav-link active" id="pending-tab" data-toggle="tab" href="#pending" role="tab" aria-controls="pending" aria-selected="true">待繳費 <span class="badge pink">2</span></a>
		</li>
		<li class="nav-item">
			<a class="nav-link" id="already-tab" data-toggle="tab" href="#already" role="tab" aria-controls="already" aria-selected="false">已繳費 <span class="badge pink">2</span></a>
		</li>
	</ul>
	
	<div class="tab-content" id="myTabContent">
	    <div class="tab-pane fade show active" id="pending" role="tabpanel" aria-labelledby="pending-tab">
		    <div class="d-flex justify-content-between mb-4">
				<div class="d-flex">
					<button type="button" class="btn btn-sm btn-blue-grey">全選</button>
					<button type="button" class="btn btn-sm btn-blue-grey">取消全選</button>
				</div>
				<button type="button" class="btn btn-sm btn-primary">線上繳費</button>
			</div>
			<ul class="violation-list">
				<li class="d-flex justify-content-between violation-item">
					<div class="d-flex violation-info">
						<div class="form-check">
							<input type="checkbox" class="form-check-input" id="materialUnchecked">
							<label class="form-check-label" for="materialUnchecked"></label>
						</div>
						<figure>
							<a data-fancybox="" href="http://placekitten.com/1200/900"><img src="http://placekitten.com/1200/900" alt=""></a>
						</figure>
						<div class="info">
							<p><span class="label">車證編號</span>2023-1500848680-01</p>
							<p><span class="label">拖吊地點</span>國立台灣大學消失的密室</p>
							<p><span class="label">拖吊時間</span>2018/12/10  02:05:00 PM</p>
							<p><span class="label">登記對象</span>學生(108***01)</p>
							<hr />
							<p><span class="label">保管費</span>100</p>
							<p><span class="label">移置費</span>150</p>
							<p><span class="label">金額合計</span>250</p>
						</div>
					</div>
					<div class="qrcode">
					    <button type="button" class="btn btn-sm btn-outline-info btn-rounded waves-effect un-shadows">開啟領車QRCode</button>
					</div>
				</li>
				<li class="d-flex justify-content-between violation-item">
					<div class="d-flex violation-info">
						<div class="form-check">
							<input type="checkbox" class="form-check-input" id="materialUnchecked">
							<label class="form-check-label" for="materialUnchecked"></label>
						</div>
						<figure>
							<a data-fancybox="" href="http://placekitten.com/1200/900"><img src="http://placekitten.com/1200/900" alt=""></a>
						</figure>
						<div class="info">
							<p><span class="label">車證編號</span>2023-1500848680-01</p>
							<p><span class="label">拖吊地點</span>國立台灣大學消失的密室</p>
							<p><span class="label">拖吊時間</span>2018/12/10  02:05:00 PM</p>
							<p><span class="label">登記對象</span>學生(108***01)</p>
							<hr />
							<p><span class="label">保管費</span>100</p>
							<p><span class="label">移置費</span>150</p>
							<p><span class="label">金額合計</span>250</p>
						</div>
					</div>
					<div class="qrcode">
					    <button type="button" class="btn btn-sm btn-outline-info btn-rounded waves-effect un-shadows">開啟領車QRCode</button>
					</div>
				</li>
			</ul>
		</div>
		
		<div class="tab-pane fade show" id="already" role="tabpanel" aria-labelledby="already-tab">
			<ul class="violation-list">
				<li class="d-flex justify-content-between violation-item">
					<div class="d-flex violation-info">
						<div class="verification">
							<i class="fa fa-check"></i>
						</div>
						<figure>
							<a data-fancybox="" href="http://placekitten.com/1200/900"><img src="http://placekitten.com/1200/900" alt=""></a>
						</figure>
						<div class="info">
							<h5 class="cyan-text">已繳費</h5>
							<p><span class="label">繳費日期</span>2018/12/11 20:03</p>
							<hr />
							<p><span class="label">車證編號</span>2023-1500848680-01</p>
							<p><span class="label">拖吊地點</span>國立台灣大學消失的密室</p>
							<p><span class="label">拖吊時間</span>2018/12/10  02:05:00 PM</p>
							<p><span class="label">登記對象</span>學生(108***01)</p>
							<hr />
							<p><span class="label">保管費</span>100</p>
							<p><span class="label">移置費</span>150</p>
							<p><span class="label">金額合計</span>250</p>
						</div>
					</div>
					<div class="qrcode">
					    <button type="button" class="btn btn-sm btn-outline-info btn-rounded waves-effect un-shadows">開啟領車QRCode</button>
					</div>
				</li>
				<li class="d-flex justify-content-between violation-item">
					<div class="d-flex violation-info">
						<div class="verification">
							<i class="fa fa-check"></i>
						</div>
						<figure>
							<a data-fancybox="" href="http://placekitten.com/1200/900"><img src="http://placekitten.com/1200/900" alt=""></a>
						</figure>
						<div class="info">
							<h5 class="cyan-text">已繳費</h5>
							<p><span class="label">繳費日期</span>2018/12/11 20:03</p>
							<hr />
							<p><span class="label">車證編號</span>2023-1500848680-01</p>
							<p><span class="label">拖吊地點</span>國立台灣大學消失的密室</p>
							<p><span class="label">拖吊時間</span>2018/12/10  02:05:00 PM</p>
							<p><span class="label">登記對象</span>學生(108***01)</p>
							<hr />
							<p><span class="label">保管費</span>100</p>
							<p><span class="label">移置費</span>150</p>
							<p><span class="label">金額合計</span>250</p>
						</div>
					</div>
					<div class="qrcode">
					    <button type="button" class="btn btn-sm btn-outline-info btn-rounded waves-effect un-shadows">開啟領車QRCode</button>
					</div>
				</li>
		</div>
	</div>
</div>

<% content_for :js do %>
<script src="../javascripts/jquery.fancybox.js"></script>
<% end %>