/* `Header
-----------------------------------------------------------------------------*/

header.header { margin-bottom: 3.75rem; }

.header-language {
	background: #049fa7;
	height: 30px;
	line-height: 30px;
	text-align: right;
	a {
		display: inline-block;
		padding: 0 15px;
		color: rgba(#fff, .5);
		&:hover { color: rgba(#fff, 1); }
	}
	a.current, a.current:hover {
		background: $secondary_color;
		color: #333;
		cursor: default;
	}
}

.header-wrap {
    background: $main_color;
	padding-left: 1.25rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 90px;
	.brands {
		a {
            align-items: center;
			color: #fff;
            &:hover { text-decoration: none; }
		}
        h1 { margin: 0; }
	}
	.h1-logo {
		display: inline-block;
		width: auto;
		height: 64px;
		vertical-align: middle;
	}
    .logo {
        margin-right: 20px;
    }
    .sub {
        line-height: 1.2;
		color: #fff;
        > span {
            display: block;
            font-size: 1.4rem;
        }
		.en {
			font-size: 0.9rem;
		}
    }
    .account {
		a {
			background: #036f75;
			display: inline-block;
			padding: 0 1rem 0 3rem;
			height: 40px;
			line-height: 40px;
			color: #fff;
		}
		.logout {
			border-left: 1px solid rgba(#4d4d4d, .5);
			background-color: transparent;
			margin-left: 1rem;
			padding-left: 1rem;
			height: auto;
			line-height: normal;
		}
		.greetings {
			display: inline-block;
			width: 150px;
			line-height: 15px;
			overflow : hidden;
			text-overflow : ellipsis;
			white-space : nowrap;
			text-align: right;
		}
	}
}

