
/* `Footer
-----------------------------------------------------------------------------*/

footer.footer {
    background: url(../assets/grass.png) left bottom repeat-x;
    position: relative;
    &:after {
        content: "";
        background: url(../assets/iloventub.png) left top no-repeat;
        background-size: cover;
        width: 480px;
        height: 85px;
        position: absolute;
        bottom: 4px;
        left: 50%;
        z-index: 1;
    }
	.footer-inner {
		display: flex;
		justify-content: space-between;
        align-items: flex-end;
		border-top: 1px solid $main_border_color;
		padding: 6rem 0 11rem;
	}
	.menu-item {
		margin-top: 1rem;
        color: #666;
		li {
			margin-bottom: .25rem;
		}
	}
    .end-content {
        padding-top: 1rem;
        a { display: inline-block; }
    }
    .ft-logo {
        display: inline-block;
        width: auto;
        height: 80px;
    }
}

footer.footer-member {
    .ft-logo {
        height: 80px !important;
    }
}

/* `Responsive
-----------------------------------------------------------------------------*/

@media (max-width: 1399px) {
    footer.footer {
        margin-bottom: calc(2.5rem + 2vw);
    }
}

@media (max-width: 991px) {
	footer.footer {
        background: url(../assets/grass-sm.png) left bottom repeat-x;
        font-size: .9375rem;
        &:after {
            left: auto;
            right: 10%;
            bottom: 12px;
            width: 320px;
            height: 57px;
        }
            
        .footer-inner {
            display: block;
            padding: calc(3rem + 3vw) 0 8rem;
        }
        .ft-logo {
            height: 64px;
        }
	}
}

@media (max-width: 767px) {
	footer.footer {
        .ft-logo {
            height: 56px;
        }
	}
}






