<!-- template: Grid -->


<style>
    .row { margin-bottom: 2rem; }
    .inner {
        background-color: #f5f5f5;
        padding: 1rem;
    }
</style>
<div class="container-lg">
    <h4>4 Column</h4>
    <div class="row">
        <div class="col">
            <div class="inner">
                Column
            </div>
        </div>
        <div class="col">
            <div class="inner">
                Column
            </div>
        </div>
        <div class="col">
            <div class="inner">
                Column
            </div>
        </div>
        <div class="col">
            <div class="inner">
                Column
            </div>
        </div>
    </div>
    <h4>5 Column</h4>
    <div class="row">
        <div class="col">
            <div class="inner">
                Column
            </div>
        </div>
        <div class="col">
            <div class="inner">
                Column
            </div>
        </div>
        <div class="col">
            <div class="inner">
                Column
            </div>
        </div>
        <div class="col">
            <div class="inner">
                Column
            </div>
        </div>
        <div class="col">
            <div class="inner">
                Column
            </div>
        </div>
    </div>
    <h4>6 Column</h4>
    <div class="row">
        <div class="col">
            <div class="inner">
                Column
            </div>
        </div>
        <div class="col">
            <div class="inner">
                Column
            </div>
        </div>
        <div class="col">
            <div class="inner">
                Column
            </div>
        </div>
        <div class="col">
            <div class="inner">
                Column
            </div>
        </div>
        <div class="col">
            <div class="inner">
                Column
            </div>
        </div>
        <div class="col">
            <div class="inner">
                Column
            </div>
        </div>
    </div>
    <h4>7 Column</h4>
    <div class="row">
        <div class="col">
            <div class="inner">
                Column
            </div>
        </div>
        <div class="col">
            <div class="inner">
                Column
            </div>
        </div>
        <div class="col">
            <div class="inner">
                Column
            </div>
        </div>
        <div class="col">
            <div class="inner">
                Column
            </div>
        </div>
        <div class="col">
            <div class="inner">
                Column
            </div>
        </div>
        <div class="col">
            <div class="inner">
                Column
            </div>
        </div>
        <div class="col">
            <div class="inner">
                Column
            </div>
        </div>
    </div>
    <h4>8 Column</h4>
    <div class="row">
        <div class="col">
            <div class="inner">
                Column
            </div>
        </div>
        <div class="col">
            <div class="inner">
                Column
            </div>
        </div>
        <div class="col">
            <div class="inner">
                Column
            </div>
        </div>
        <div class="col">
            <div class="inner">
                Column
            </div>
        </div>
        <div class="col">
            <div class="inner">
                Column
            </div>
        </div>
        <div class="col">
            <div class="inner">
                Column
            </div>
        </div>
        <div class="col">
            <div class="inner">
                Column
            </div>
        </div>
        <div class="col">
            <div class="inner">
                Column
            </div>
        </div>
    </div>
</div>



<% content_for :js do %>

<% end %>

