/* design by fire */

@import "base";

body {
    background: #6dd3e7;
    background: #99dae7;
    height: 100%;
    overflow: hidden;
    position: relative;
}

a {
	color: #192f33;
	text-decoration: none;
	transition: all 0.2s ease-in-out;
}

a:hover { color: #c14926; }

/* `Header
-----------------------------------------------------------------------------*/

header.header {
	margin-bottom: 120px;
    padding-top: 40px;
	.brands {
        display: block;
        text-align: center;
		color: #192f33;
	}
    .logo {
        display: inline-block;
        position: relative;
        &::after {
            content: "";
            box-shadow: 0 16px 32px rgba(0, 0, 0, 0.3);
            border-radius: 50%;
            position: absolute;
            left: 0;
            bottom: 0;
            right: 0;
            top: 0;
            z-index: -1;
            transform: scale(85%);
        }
    }
	.h1-logo {
		display: inline-block;
		width: auto;
		height: 112px;
	}
	.sub {
		margin-top: 4rem;
        color: #26373B;
        position: relative;
        &::after {
            content: "";
            background: rgba(#000, .25);
            width: 1rem;
            height: 1.5px;
            position: absolute;
            left: 50%;
            top: -2rem;
            z-index: -1;
            transform: translateX(-50%);
        }
		span {
			display: block;
			font-size: calc(2rem + .125vw);
            font-weight: 500;
            & + span {
                margin-top: .5rem;
                font-size: calc(1.125rem + .375vw);
                font-weight: 400;
                line-height: 1.3;
            }
		}
	}
    .text-hide {
        margin-bottom: 0;
        text-indent: -999rem;
        height: 0;
    }
}

/* `Index
-----------------------------------------------------------------------------*/

.index-content {
	margin-bottom: 4rem;
}

#gotocenter {
    padding: .25rem .5rem;
    position: absolute;
    left: 40px;
    top: 40px;
    &:focus {
        background: #111;
        color: #fff;
    }
}

.landmark {
    width: 640px;
    height: auto;
    position: absolute;
    left: 50%;
    bottom: 0;
    z-index: -1;
    transform: translateX(-50%);
    .landmark-img {
        width: 100%;
        height: auto;
    }
}

.airplane {
    position: absolute;
    left: 10%;
    top: 25%;
    z-index: -1;
}

.top-menu {
    display: flex;
    gap: 2rem;
    position: absolute;
    right: 40px;
    top: 40px;
    a {
        display: block;
        &:hover {
            opacity: .65;
        }
        &:focus {
            background: #111;
            img {
                filter: invert(1);
            }
        }
    }
}

#AU[accesskey] {
    opacity: .5;
    &:focus {
        background: #111;
        color: #fff;
    }
}

.menu-hd {
    margin-bottom: 1rem;
    text-align: center;
    font-size: 1.125rem;
}

.menu-year {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    .item-link {
        display: block;
        border-radius: 50%;
        background: #fff;
        box-shadow: 0 8px 12px rgba(#000, .1);
        padding: 8px;
        width: 120px;
        height: 120px;
        font-size: 2.25rem;
        font-weight: 700;
        color: #318292;
        span {
            display: flex;
            justify-content: center;
            align-items: center;
            background: #fff;
            border-radius: 50%;
            border: 2px solid #6dd3e7;
            width: 100%;
            height: 100%;
            transition: all 0.2s ease-in-out;
        }
        &:hover {
            background: rgba(#fff, .7);
            box-shadow: 0 6px 8px rgba(#000, .3);
            color: #cf2db4;
            span {
                //background: #e5fbff;
                border-color: #c73ea9;
            }
        }
        &:focus {
            box-shadow: 0 0 0 4px rgba(red, .5);
        }
    }
}

footer.footer {
    color: #141A1B;
    position: absolute;
    left: 40px;
    right: 40px;
    bottom: 40px;
    .h5 {
        display: block;
        margin-bottom: .5rem;
        font-size: 1rem;
        font-weight: 400;
    }
    .contact {
        li {
            margin-bottom: .125rem;
            font-size: 0.813rem;
            span {
                display: inline-block;
                margin-right: .25rem;
            }
            &:last-child { margin-top: 1rem; }
        }
    }
    a {
        text-decoration: underline;
        color: #000;
        &:hover {
            text-decoration: none;
            opacity: .65;
        }
        &:focus {
            background: #111;
            color: #fff;
            img {
                filter: invert(1);
            }
        }
    }
    .view {
        display: inline-block;
        margin-right: 1rem;
        margin-bottom: .25rem;
    }
}

.footer-inner {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.social-block {
    display: flex;
    gap: 1.5rem;
    margin-bottom: 1.5rem;
}

.social-media {
    width: 24px;
    height: 24px;
    &:hover {
        opacity: .65;
    }
    &:focus {
        background: #111;
        img {
            filter: invert(1);
        }
    }
}

/* `Cloud
-----------------------------------------------------------------------------*/

/* 
Some cloud animation!
Made by Kevin Jannis (@kevinjannis)
View more at www.janniskev.in 
*/

.cloud-wrapper {
    padding-top: 10%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -2;
    overflow: hidden;
}

@mixin animation($animation) {
    -webkit-animation: $animation;
    -moz-animation: $animation;
    -ms-animation: $animation;
    -o-animation: $animation;
    animation: $animation;
}

@mixin animation-duration($duration) {
    -webkit-animation-duration: $duration;
    -moz-animation-duration: $duration;
    -ms-animation-duration: $duration;
    -o-animation-duration: $duration;
    animation-duration: $duration;
}

@mixin keyframes($name) {
    @-webkit-keyframes #{$name} {
        @content;
    }
    @-moz-keyframes #{$name} {
        @content;
    }
    @-ms-keyframes #{$name} {
        @content;
    }
    @keyframes #{$name} {
        @content;
    }
}

.cloud {
    animation: clouds 60s infinite linear;
    border-radius: 10px;
    position: relative;
    margin: 33px 0 0 0;
    width: 54px;
    height: 5px;
    background: #c0dfe9;
    &.tiny {
        transform: scale(0.5);
        //opacity: .4;
    }
    &.small {
        transform: scale(1);
        //opacity: .5;
    }
    &.normal {
        transform: scale(2);
        //opacity: .6;
    }
    &.large {
        transform: scale(4);
        //opacity: .7;
    }
    div {
        box-shadow: inset -2px -3px 0 0 #c0dfe9;
        position: absolute;
        border-radius: 50%;
        width: 12px;
        height: 12px;
        left: -3px;
        bottom: 0;
        background: #c2ebec;
        z-index: 10;
        &:first-child {
            & + div {
                transform: scale(1.6, 1.6);
                margin: 0 0 4px 13px;
                z-index: 9;
                & + div {
                    transform: scale(2.4, 2.4);
                    margin: 0 0 9px 32px;
                    z-index: 8;
                    & + div {
                        transform: scale(1.3, 1.3);
                        margin: 0 0 2px 50px;
                        z-index: 7;
                    }
                }
            }
        }
    }
}

@keyframes clouds {
    0% {
        left: -100%;
    }

    100% {
        left: 120%;
    }
}

.cloud-1 {
    animation-duration: 263s;
    margin-left: 20%;
}

.cloud-2 {
    animation-duration: 99s;
    margin-left: 90%;
}

.cloud-3 {
    animation-duration: 142s;
    margin-left: 50%;
}

.cloud-4 {
    animation-duration: 152s;
    margin-left: 43%;
}

.cloud-5 {
    animation-duration: 215s;
    margin-left: 83%;
}

.cloud-6 {
    animation-duration: 139s;
    margin-left: 73%;
}

.cloud-7 {
    animation-duration: 109s;
    margin-left: 69%;
}

.cloud-8 {
    animation-duration: 121s;
    margin-left: 100%;
}

.cloud-9 {
    animation-duration: 101s;
    margin-left: 10%;
}

.cloud-10 {
    animation-duration: 126s;
    margin-left: 14%;
}

.cloud-11 {
    animation-duration: 96s;
    margin-left: 73%;
}

.cloud-12 {
    animation-duration: 83s;
    margin-left: 51%;
}

/* `Responsive
-----------------------------------------------------------------------------*/

@media (max-width: 1919px) {
    .landmark {
        width: 512px;
    }
}

@media (max-width: 1299px) {
    header.header {
        margin-bottom: 80px;
        .h1-logo {
            height: 96px;
        }
    }
    .landmark {
        width: 448px;
    }
}

@media (max-width: 991px) {
    body {
        overflow: auto;
        height: auto;
        min-height: 100%;
    }
    header.header {
        margin-bottom: 60px;
    }
    .landmark {
        width: 384px;
    }
    .menu-year {
        flex-wrap: wrap;
        margin-bottom: 3rem;
    }
}

@media (max-width: 768px) {
    .workspace {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-height: 100vh;
    }
    header.header {
        margin-bottom: 40px;
    }
    .airplane {
        display: none;
    }
    .landmark {
        width: 240px;
    }
    footer.footer {
        padding: 0 40px 40px 40px;
        position: static;
        .accessibility {
            display: inline-block;
            margin-top: 1rem;
        }
    }
}

@media (max-width: 479px) {
    header.header {
        padding-top: 16px;
        .h1-logo {
            width: 80px;
        }
        .sub {
            margin-top: 3rem;
            &::after {
                top: -1.5rem;
            }
        }
    }
    .top-menu {
        right: 24px;
        gap: 1rem;
    }
    .menu-year {
        gap: 1rem;
        .item-link {
            width: 96px;
            height: 96px;
            font-size: 1.875rem;
        }
    }
    .landmark { display: none; }
    footer.footer {
        padding: 0 24px 24px 24px;
    }
    .footer-inner {
        display: block;
    }
}
