<header class="header">
    <div class="container">
		<div class="header-inner">
            <div class="top-link">
                <a href="#" title="快速連結區" accesskey="U">:::</a>
                <a href="#" title="回首頁">回首頁</a>
				<a href="#" title="網站導覽">網站導覽</a>
                <div class="language">
                    <a href="#" title="English">English</a>
				</div>
            </div>
            <h1 class="h1-logo">
                <a href="#" class="logo-link" title="僑務活動報名系統">
                    <img src="../assets/logo@2x.png" alt="僑委會徽章">
                    <div class="logo-text">
                        <span class="cht">僑務活動報名系統</span>
                        <span class="en">Overseas Community Affairs Council, Republic of China (Taiwan)</span>
                    </div>
                </a>
            </h1>
		</div>
	</div>


    <nav class="navbar navbar-expand-lg navbar-dark cyan-color">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav" aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="basicExampleNav">
                <ul class="navbar-nav navbar-menu mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#" title="報名活動">
                            報名活動
							<!-- .sr-only 為視障專用，當前分頁務必要放 -->
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" title="歷史活動">歷史活動</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" title="場地租借表單">場地租借表單</a>
                    </li>
					<li class="nav-item">
                        <a class="nav-link" href="#" title="常見問題">常見問題</a>
                    </li>
                </ul>
            </div>
            <ul class="navbar-nav navbar-account ml-auto">
                <!--li class="nav-item dropdown">
                    <a href="#" class="btn btn-login btn-amber btn-rounded" title="登入">登入</a>
                </li-->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="Username">Username</a>
                    <div class="dropdown-menu dropdown-menu-right dropdown-info" aria-labelledby="navbarDropdownMenuLink-4">
                        <a class="dropdown-item" href="#" title="個人資訊">個人資訊</a>
                        <a class="dropdown-item" href="#" title="參加的活動">參加的活動</a>
                        <a class="dropdown-item" href="#" title="變更密碼">變更密碼</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#" title="Log out">登出</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>


</header>