<header class="header">
    <div class="container">
		<div class="header-inner">
            <div class="top-link">
                <a href="#" title="快速連結區" accesskey="U">:::</a>
                <a href="#" title="回首頁">回首頁</a>
				<a href="#" title="網站導覽">網站導覽</a>
                <div class="language">
                    <a href="#" title="English">English</a>
				</div>
            </div>
            <h1 class="h1-logo">
                <a href="#" class="logo-link" title="僑務活動報名系統">
                    <img src="../assets/logo@2x.png" alt="僑委會徽章">
                    <div class="logo-text">
                        <span class="cht">僑務活動報名系統</span>
                        <span class="en">Overseas Community Affairs Council, Republic of China (Taiwan)</span>
                    </div>
                </a>
            </h1>
		</div>
	</div>
</header>