<header class="registration_header">
    <div class="container">
		<div class="header-inner">
            <h1 class="h1-logo">
                <a href="#" class="logo-link" title="中華民國僑務委員會">
                    <img src="../assets/logo@2x.png" alt="僑委會徽章">
                    <div class="logo-text">
                        <span class="cht">中華民國僑務委員會</span>
                        <span class="en">Overseas Community Affairs Council, Republic of China (Taiwan)</span>
                    </div>
                </a>
            </h1>
            <div class="top-link">
                <a href="#" title="快速連結區" accesskey="U">:::</a>
                <a href="#" title="回首頁">回首頁</a>
                <div class="language">
                    <select class="browser-default custom-select">
                        <option selected>繁體中文</option>
                        <option value="englisg">English</option>
                    </select>
				</div>
            </div>
		</div>
	</div>
</header>