
/* `Footer
-----------------------------------------------------------------------------*/

footer.footer {
	color: #666;
	.footer-inner {
        background: #333;
        padding: 60px 0;
        color: #bbb;
        a {
            color: #fff;
            &:hover { color: #aaa; }
        }
	}
    .inner-wrap {
        display: flex;
        justify-content: space-between;
    }
    .footer-start {
        width: 66.66666%;
        h4 {
            font-size: 1.188rem;
            font-weight: 700;
        }
    }
    .footer-end {
        border-left: 1px solid #595959;
        padding-left: 2rem;
        width: 33.33333%;
        li {
            margin-bottom: .25rem;
            &:last-child { margin-bottom: 0; }
        }
        a { display: inline-block; }
    }
    .ft-nisa {
        display: inline-block;
        margin-bottom: 2.25rem;
        font-size: 1.063rem;
        a { display: inline-block; }
    }
	.menu-item.contact {
		li {
			margin-bottom: .25rem;
			position: relative;
            &:last-child { margin-bottom: 0; }
		}
	}
    .footer-link {
        display: inline-block;
        border-bottom: 1px solid #595959;
        margin-bottom: 2rem;
        padding-bottom: 2rem;
    }
    .social-link {
        .fab {
            margin-right: .375rem;
            width: 20px;
            text-align: center;
        }
        .fa-facebook-f { color: #426bc3; }
        .fa-instagram { color: #e63a79; }
    }
    .footer-bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 80px;
    }
    .bt-end {
        display: flex;
        align-items: center;
        address {
            margin: 0 2rem 0 0;
        }
        img {
            width: 88px;
            height: 31px;
        }
    }
    .accessibility-link { display: inline-block; }
}

/* `Responsive
-----------------------------------------------------------------------------*/

@media (max-width: 991px) {
	footer.footer {
        .footer-inner { padding: 40px 0; }
        .inner-wrap {
            display: block;
        }
        .footer-start { width: 100%; }
        .footer-end {
            border-left: none;
            margin-top: 2rem;
            padding-left: 0;
            width: 100%;
        }
        .footer-bottom {
            display: block;
            padding: 1rem 0;
            height: auto;
        }
        .bt-end {
            display: block;
        }
        .accessibility-link { margin-top: 1rem;}
	}
}







