<!-- NFU-TE: 登入  -->

<div class="container">
    <div class="row justify-content-center">
            <div class="card-deck">
				<div class="card mb-6">
				    <h5 class="card-header deep-purple lighten-1 white-text text-uppercase font-weight-bold text-center py-4">帳密登入</h5>
					<div class="card-body">
					    <input type="email" id="defaultLoginFormEmail" class="form-control mb-4" placeholder="帳號">
						<input type="password" id="defaultLoginFormPassword" class="form-control mb-4" placeholder="密碼">
						<div class="row">
							<div class="col">
								<input type="text" id="CAPTCHA" class="form-control mb-4" placeholder="驗證碼">
							</div>
							<span class="col input-group-addon verification">
								<img class="captcha" src="http://nfu-map.dev.com.tw/common/captcha.image">
							</span>
						</div>
						<a href="#">忘記密碼？</a>
						<button class="btn btn-secondary btn-block mt-4" type="submit">登入</button>
					</div>
				</div>
            </div>
	</div>
</div>

