<ul id="scene" class="clean-list">
	<li class="layer layer1" data-depth="0.03"></li>
	<li class="layer layer2" data-depth="0.02"></li>
	<li class="layer layer3" data-depth="0.005">
	    <img src="../assets/ncku-logo.svg" />
	</li>
	<li class="layer layer4" data-depth="0.02">
	    <img src="../assets/ncku-logo.svg" />
	</li>
</ul>
<div class="container">
    <ul class="system-list clean-list">
		<% (1..3).each do |n| %>
	    <li>
			<div class="card">
			    <a href="#" class="card-link">
				    <span class="name">子系統名稱</span>
					<span class="info">簡短的系統功能說明，空間很大其實可以放多行，但不大於七十二個字元</span>
				</a>
			</div>
		</li>
		<% end %>
		<li>
			<div class="card">
			    <a href="#" class="card-link">
				    <span class="name">需要換行的子系統名稱</span>
					<span class="info">簡短的系統功能說明，空間很大其實可以放多行，但不大於七十二個字元</span>
				</a>
			</div>
		</li>
		<% (1..9).each do |n| %>
	    <li>
			<div class="card">
			    <a href="#" class="card-link">
				    <span class="name">子系統名稱</span>
					<span class="info">簡短的系統功能說明，空間很大其實可以放多行，但不大於七十二個字元</span>
				</a>
			</div>
		</li>
		<% end %>
	</ul>
</div>