<footer class="footer">
	<div class="container-lg">
		<div class="footer-inner">
			<div class="block-transition">
                <span class="d-block h5">臺科大人力資源辦公室</span>
                <div class="ft-block">
                    <ul class="menu-item contact">
                        <li title="電話">
                            <i class="fas fa-phone-alt"></i>
                            (02)2730-1290
                        </li>
                        <li title="傳真">
                            <i class="fas fa-fax"></i>
                            (02)2730-1291
                        </li>
                        <li title="E-Mail">
                            <i class="fas fa-envelope"></i>
                            <a href="mailto:tosf@mail.ntust.edu.tw">tosf@mail.ntust.edu.tw</a>
                        </li>
                        <li title="地址">
                            <i class="fas fa-map-marker-alt"></i>
                            106990 臺灣科大郵局第 116 號信箱
                        </li>
                    </ul>
                </div>
			</div>
            <div class="ft-block end-content">
                <div>
                    瀏覽器支援
                    <a href="https://www.google.com/intl/zh-TW/chrome/" title="Google Chrome">Google Chrome</a>,
                    <a href="https://www.mozilla.org/zh-TW/firefox/new/" title="Firefox">Firefox</a> or
                    <a href="https://www.microsoft.com/zh-tw/edge" title="Microsoft Edge">Edge</a>
                </div>
                <div class="accessibility">
                    <a href="https://accessibility.moda.gov.tw/Applications/Detail?category=20231109151826" title="無障礙網站">
                        <img src="../assets/accessibility_aa.png" border="0" width="88" height="31" alt="通過AA無障礙網頁檢測" />
                    </a>
                </div>
            </div>
		</div>
	</div>
</footer>