<header class="header" id="pagetop">
    <a href="#maincontent" id="gotocenter" title="移到主要內容" class="sr-only sr-only-focusable">跳到主要內容</a>
    <div class="container-lg">
        <div class="header-wrap">
            <div class="brands">
                <a class="brands-link" href="../home/index.html" title="回首頁">
                    <div class="logo">
                        <h1 class="text-hide">國內大專校院選送學生出國研修或國外專業實習補助系統</h1>
                        <img class="h1-logo" src="../assets/logo-moe.svg" alt="教育部">
                    </div>
                    <div class="sub">
                        <h2>國內大專校院</h2>
                        <h3>選送學生出國研修或國外專業實習補助系統</h3>
                    </div>
                </a>
            </div>
        </div>
    </div>
    
    <nav class="navbar navbar-expand-lg navbar-dark" data-bs-theme="dark">
        <div class="container-lg">
            <a href="#U" id="AU" name="U" title="主要功能選單" accesskey="U">:::</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0" aria-label="主要功能選單">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#" title="{連結名稱}">最新消息</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" title="{連結名稱}">
                            各校簡章辦法
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#" title="{連結名稱}">112年度第一梯次</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" title="{連結名稱}">相關辦法與表格</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" title="{連結名稱}">
                            日程表
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#" title="{連結名稱}">112年度第一梯次</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" title="{連結名稱}">
                            學海計畫申請
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#" title="{連結名稱}">學校聯絡人登入</a></li>
                            <li><a class="dropdown-item" href="#" title="{連結名稱}">計畫主持人登入</a></li>
                            <li><a class="dropdown-item" href="#" title="{連結名稱}">選送學生登入</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" title="{連結名稱}">精選心得</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" title="{連結名稱}">常見問題</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    
    <nav aria-label="breadcrumb">
        <div class="container-lg">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">首頁</a></li>
                <li class="breadcrumb-item"><a href="#">最新消息列表</a></li>
                <li class="breadcrumb-item active" aria-current="page">最新消息</li>
            </ol>
        </div>
    </nav>
</header>