/* design by fire */

@import "base";

/* Variables 
--------------------------------------------------------------------- */

@import "widgets/variables";
@import "vendor/bootstrap/overwrite_bootstrap_styles";

/* Slick 
--------------------------------------------------------------------- */

@import "widgets/slick";

/* Base 
--------------------------------------------------------------------- */

body {
	background-color: $general_background;
	font-family: 'Roboto', 'Apple LiGothic Medium', '\5FAE\8EDF\6B63\9ED1\9AD4', Helvetica, Arial, sans-serif;
	font-size: 1rem;
	font-weight: 400;
	&.registration_layout { background-color: $body_background; }
	&.login_layout {
		background-color: #fff;
		.content-wrapper { border-top: 1px solid #e7efee; }
		.login-wrapper { padding-top: 3rem !important; }
	}
}

.menu-item, .menu-item > li {
	list-style: none;
	margin: 0;
	padding: 0;
}

.required {
	display: inline-block;
	margin-right: 0.5rem;
	color: tomato;
}

.tbale {
	.btn-group {
		.fa { margin-right: 0; }
	}
}

.form-group .form-info {
    font-size: 0.875rem;
}

.font-default {
	font-size: 1rem !important;
}

.form-control.disabled {
	background: #e9ecef;
	opacity: 1;
}

.btn-group.unshadow {
	.btn { box-shadow: none; }
}

.btn-group.unshadow[class*="btn-group-"] {
	box-shadow: none;
	.btn {
		border: 1px solid #e5e5e5;
	}
}

.btn-group.btn-group[class*="btn-group-"] {
	box-shadow: none !important;
}

.btn-group[class*="btn-group-"] .btn:hover {
    box-shadow: 0 0 5px 0 rgba(#000, .12) inset;
}

#backtop {
    display: inline-block;
    background-color: #f6a800;
    width: 50px;
    height: 50px;
    text-align: center;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s, opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
	&:after {
        content: "\f077";
        font-family: FontAwesome;
        font-weight: normal;
        font-style: normal;
        font-size: 1em;
        line-height: 50px;
        color: #fff;
	}
	&.show {
		opacity: 1;
		visibility: visible;
	}
}

.pt-fix { padding-top: 5rem; }

/* Index 
--------------------------------------------------------------------- */

main.main {
	padding-bottom: 3.75rem;
}

.slick-single {
	.slick-list {
	    overflow: visible; 
	}
	.slick-arrow {
		display: inline-block;
		border-radius: 50%;
		border: none;
		background: rgba(#000, .7);
		width: 36px;
		height: 36px;
		text-indent: -500rem;
		cursor: pointer;
		position: absolute;
		top: 40%;
		z-index: 2;
		&:after {
            width: 36px;
            height: 36px;
			font: normal normal normal 14px/1 FontAwesome;
			text-indent: 0;
			text-align: center;
			line-height: 36px;
			color: #fff;
			position: absolute;
			left: 0;
			top: 0;
		}
	}
	.slick-prev {
		left: 3rem;
		&:after {
			content: "\f104";
		}
	}
	.slick-next {
		right: 3rem;
		&:after {
			content: "\f105";
		}
	}
}

.slick-item {
	background: #eee;
	height: auto;
	position: relative;
	img {
		width: 100%;
		height: auto;
		filter: sepia(70%);
	}
	&:after {
		content: "";
		background: rgba(#fff, .6);
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	}
	&.slick-current {
		&:after { content: none; }
		img { filter: sepia(0%); }
	}
}

.searchbar {
	//border-bottom: 1px solid $base_border_color;
	//margin-bottom: 1.5rem;
	padding: 1.5rem 0;
	.search-label {
		display: inline-block;
		margin-right: .5rem;
	}
	.datepicker {
		margin: 0;
	}
	.form-control.picker__input {
		background: #fff !important;
		margin: 0;
	}
	.btn {
		margin: 0;
		padding: .4375rem 1.5rem;
	}
	.qa-search {
		display: inline-block;
		position: relative;
		.form-control {
			border-radius: 2rem;
			padding-left: 2.25rem;
		}
		.fa {
			color: rgba($main_color, .5);
			position: absolute;
			left: .75rem;
			top: .625rem;
		}
	}
}

.events-list-item {
	display: flex;
	align-items: center;
	background: #fff;
	border-radius: .25rem;
	box-shadow: 0 2px 2px rgba(#000, .05), 0 4px 8px rgba(#000, .02);
	margin-bottom: 1rem;
	position: relative;
	.item-start {
		padding: 1.875rem .9375rem 1.875rem 1.875rem;
	}
	.item-end {
		padding: 1.875rem 4.75rem 1.875rem 0;
		position: relative;
	}
	.event-name {
		margin-bottom: .25rem;
		font-size: 1.375rem;
	}
	.event-status {
		display: inline-block;
		border-radius: 1rem;
		background: #d198ce;
		margin-bottom: .5rem;
		padding: .25rem .75rem .125rem .75rem;
		font-size: 0.875rem;
		color: #fff;
		&.coming {
			background: #759adc;
		}
	}
	.event-brief {
		color: #656669;
	}
	.period {
		display: flex;
		align-items: center;
	}
	.period-start {
		color: #1699a5;
	}
	.period-end {
		color: #e36262;
	}
    .period-start,
	.period-end {
		padding: 0 .9375rem;
		.label {
			font-size: 0.875rem;
			font-weight: 700;
			color: #a3abaa;
		}
	}
	.event-link {
		display: block;
		background: $main_color;
		border-radius: 50%;
		margin-top: -18px;
		width: 36px;
		height: 36px;
		color: #fff;
		text-align: center;
		line-height: 38px;
		position: absolute;
		right: 1.875rem;
		top: 50%;
		&:hover {
			background: $gold_color;
		}
	}
	.link-tidbits {
		margin-top: .75rem;
		padding-top: 1rem;
		font-weight: 700;
		position: relative;
		&:after {
			content: "";
			background: #ccc;
			width: 1.5rem;
			height: 1px;
			position: absolute;
			left: 0;
			top: 0;
		}
		.fa {
			margin-right: .5rem;
			font-size: 1.375rem;
		}
		a {
			color: $gold_color;
			&:hover {
				color: #f6a800;
			}
		}
	}
}

.page-navigation {
	margin-top: 1.875rem;
}

.venue-wrapper {
	margin-top: 3rem;
	.continent-title {
		margin-bottom: 2rem;
		font-size: 1.625rem;
		position: relative;
		&:after {
			content: "";
			background: #f6a800;
			width: 3.125rem;
			height: 1px;
			position: absolute;
			left: 0;
			bottom: -.5rem;
		}
	}
	.continent-wrapper {
		display: flex;
		flex-wrap: wrap;
	}
	.agency-item {
		background: #fff;
		border-radius: .25rem;
		box-shadow: 0 1px 1px rgba(#000, .02), 0 2px 4px rgba(#000, .02);
		margin-bottom: 1.5rem;
		margin-right: 2%;
		padding: 1.25rem;
		width: 32%;
		&:nth-child(3n) { margin-right: 0; }
	}
	.region-title {
		font-size: 1.125rem;
		color: #666;
		position: relative;
        &:after {
            content: "";
			background: $general_background;
			border-radius: 0 .25rem .25rem 0;
			box-shadow: 0 1px 0 rgba(#000, .04) inset;
			width: 6px;
            position: absolute;
            top: 0;
			bottom: 0;
			left: -1.25rem;
        }
	}
	.bd {
		a {
			display: inline-block;
			margin-bottom: .25rem;
			padding-left: 1.625rem;
			position: relative;
			&:last-child { margin-bottom: 0; }
			&:after {
				content: "\f0f6";
				font: normal normal normal 14px/1 FontAwesome;
				color: #f6a800;
				position: absolute;
				left: 0;
				top: 3px;
				transition: all 0.2s ease-in-out;
			}
			&:hover {
				&:after { color: $main_color; }
			}
		}
	}
}

.qa-accordion {
	.card {
		background-color: transparent;
		border-bottom: 1px dashed #e3eae9 !important;;
        .card-header {
            padding: 0;
            a {
                display: block;
				padding: 1.5rem 0;
                color: $main_color;
                position: relative;
				&.collapsed { color: #000; }
				&:hover { color: $main_color; }
                h5 {
                    margin-bottom: 0;
					padding-right: 3rem;
                    font-size: 1.1875rem;
                }
            }
			.rotate-icon {
				float: none;
				position: absolute;
				right: 0;
				top: 40%;
			}
        }
		.card-body {
			padding: 0;
			font-size: 1rem;
			font-weight: 400;
		}
		.awell {
			background: rgba(#fff, .7);
			padding: 1.875rem;
		}
	}
}

.page-title {
	margin-bottom: 1rem;
	font-size: 1.75rem;
}

.general-menu {
	li { margin-bottom: .5rem; }
}

.sitemap-menu {
	li {
		margin-bottom: 1rem;
	}
    a {
        display: flex;
        align-items: center;
		span { transition: all 0.2s ease-in-out; }
    }
	.number {
		border-radius: 50%;
		background: $main_color;
		margin-right: 1rem;
		width: 28px;
		height: 28px;
		color: #fff;
		line-height: 30px;
		text-align: center;
	}
	.text {
		font-size: 1.125rem;
		color: #6f807e;
	}
	a:hover {
		.number { background: #f6a800; }
		.text { color: #f6a800; }
	}
}

.account-wrapper {
	display: flex;
	justify-content: space-between;
	.account-nav {
		padding-right: 1.875rem;
		width: 270px;
		li {
			border-bottom: 1px solid #dae3e4;
			font-size: 1.0625rem;
			&:last-child { border-bottom: none; }
			a {
				display: block;
				padding: 1rem 1rem 1rem 1.5rem;
				position: relative;
				&:after {
					content: "\f105";
					font: normal normal normal 14px/1 FontAwesome;;
					position: absolute;
					left: 0;
					top: 35%;
				}
				&.current {
					font-weight: 700;
					color: #000;
					cursor: default;
				}
			}
		}
	}
	.main-content {
		flex: 1;
	}
}

.form-control.disabled { background: #ebf3f2; }

#mdb-lightbox-ui {
	h1 { display: none; }
	.pswp__caption__center { font-size: 1rem; }
}

.mdb-lightbox {
	display: flow-root;
	figure {
		a {
			background: #fff;
			display: block;
			padding-bottom: 66.7%;
			position: relative;
			overflow: hidden;
		}
		img {
			margin-bottom: 0;
			position: absolute;
			left: 0;
			//top: 50%;
			//margin-top: -33.3333%;
		}
	}
	.album-title {
		margin-top: 0.5rem;
		width: 100%;
		height: 24px;
        overflow : hidden;
        text-overflow : ellipsis;
        white-space : nowrap;
	}
}

/* Registration 
--------------------------------------------------------------------- */

.form-action {
    border-top: 1px solid rgba($base_border_color, .5);
    margin-top: 2rem;
    padding-top: 2rem;
    text-align: center;
    position: relative;
}

.registration-hd {
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid $base_border_color;
	margin-bottom: 3rem;
	padding-top: 2rem;
	padding-bottom: 2.5rem;
	hgroup {
		padding-left: 4rem;
		position: relative;
		&:before {
			content: "";
			background: #000;
			border-radius: 50%;
			width: .5rem;
			height: .5rem;
			position: absolute;
			left: 1rem;
			top: .75rem;
		}
	}
	.main-title {
		color: #111;
	}
	.sub-title {
		font-size: 1.125rem;
		color: #6e7976;
	}
	.account {
		.dropdown-item { font-size: .9375rem !important; }
	}
}

.login-wrapper {
	margin: 3rem auto;
	width: 640px;
	.warpper-title {
		margin-bottom: 3rem;
		text-align: center;
		font-size: 1.5rem;
		position: relative;
		&:after {
			content: "";
			background: #a9dad6;
			margin-left: -1.5rem;
			width: 3rem;
			height: 1px;
			position: absolute;
			left: 50%;
			bottom: -1rem;
		}
	}
	.register {
		margin-bottom: 0;
		padding-top: 4rem;
		text-align: center;
		position: relative;
		&:after {
			content: "";
			background: #333;
			margin-left: -1.5rem;
			width: 3rem;
			height: 2px;
			position: absolute;
			left: 50%;
			top: 25px;
		}
	}
    .forget-password {
        color: #aaa;
        &:hover { color: #333; }
    }
	&.register-wrapper {
		margin: 3rem 0;
		width: 100%;
	}
	.form-country {
		margin-left: .5rem;
		flex: 1;
	}
}

.account-wrapper {
	.form-country {
		margin-left: .5rem;
		flex: 1;
	}
}

.registration-wrapper {
	margin: 3rem 0;
	.registration-inner {
		display: flex;
		justify-content: space-between;
		margin-top: -3rem;
	}
	.warpper-title {
		margin-bottom: 3rem;
		font-size: 1.5rem;
		position: relative;
		&:after {
			content: "";
			background: #a9dad6;
			width: 3rem;
			height: 1px;
			position: absolute;
			left: 0;
			bottom: -1rem;
		}
	}
	.consent-block {
		border-radius: .5rem;
		background: #f8fbfa;
		margin-bottom: 1.5rem;
		padding: 1.5rem;
		&.block-warning {
			background: #fffbf2;
			padding-bottom: .5rem;
		}
		&.block-info {
			background: #f8faff;
			padding-bottom: .5rem;
		}
	}
	.registration-nav {
		border-right: 1px solid rgba($base_border_color, .5);
		width: 300px;
		.registration-item {
			display: block;
			border-bottom: 1px solid rgba($base_border_color, .5);
			padding: 1.875rem 1.875rem 1.875rem .75rem;
			h5 {
				display: flex;
				align-items: center;
				margin-bottom: 0;
				font-size: 1.25rem;
				color: #888;
				line-height: 32px;
				small {
					border-radius: 50%;
					border: 1px solid $base_border_color;
					width: 2rem;
					height: 2rem;
					font-weight: 700;
					text-align: center;
					color: #aaa;
				}
				span { padding-left: 0.5rem; }
			}
			.brief {
				display: block;
				padding-left: 40px;
				font-size: .9375rem;
				color: #999;
			}
			&.current {
				background: $main_color;
				h5 {
					font-weight: 700;
					color: #fff;
					small {
						background: $main_color;
						border-color: rgba(#fff, .5);
						color: #fff;
					}
				}
				.brief { color: #cbf5f1; }
			}
			&.done {
				h5 {
					color: #111;
					small {
						background: $main_color;
						border-color: $main_color;
						color: #fff;
					}
				}
				.brief { color: #666; }
			}
			&:last-child { border-bottom: none; }
		}
	}
	.registration-content {
		flex: 1;
		border-left: 1px solid rgba($base_border_color, .5);
		padding: 1.875rem 0 1.875rem 1.875rem;
		position: relative;
		left: -1px;
		//min-height: 480px;
	}
	.application-block {
		border-bottom: 1px dashed rgba($base_border_color, .7);
		margin-bottom: 2.5rem;
		padding-bottom: 1.5rem;
		&:last-child {
            border-bottom: none;
            margin-bottom: 0;
            padding-bottom: 0;
		}
		.block-hd {
			margin-bottom: 1.5rem;
			font-weight: 700;
		}
	}
	.output-wrap {
		border-top: 3px double rgba($base_border_color, .75);
		padding-top: 2rem;
		.application-block {
			border-bottom: 1px solid rgba(222, 226, 230, 0.7);
			&:last-child { border-bottom: none; }
		}
        label {
			margin-bottom: .25rem;
            font-weight: 700;
            color: #9468ff;
        }
        .output { color: #000; }
		.form-group {
			margin-bottom: 1rem;
		}
	}
}

.document-upload {
	.document-item {
        border-top: 1px solid rgba($base_border_color, .5);
        margin-top: 2rem;
        padding-top: 2rem;
	}
	.document-hd {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 1rem;
	}
	.document-title {
		margin-bottom: 0;
		font-size: 1.375rem;
		color: $light_purple;
	}
	.document-action {
		.btn { margin: 0; }
	}
	.document-hd {
		color: #666;
	}
	.upload-date {
		display: block;
		padding-left: 1.5rem;
		font-size: .9375rem;
		color: #6f8280;
		position: relative;
		&:before {
			content: "\f017";
			font: normal normal normal 14px/1 FontAwesome;
			color: #000;
			position: absolute;
			left: 0;
			top: 0.25rem;
		}
	}
}

.verify-tabs-wrap {
	.form-group label {
		font-weight: 700;
		color: #9468ff;
	}
	.output {
		color: #000;
	}
}


/* `Responsive
-----------------------------------------------------------------------------*/

@media (max-width: 1199px) {
	.registration-wrapper {
		.phone-group {
			.form-control { width: 31%; }
		}
		.narrow-phone-group {
			.form-control { width: 30%; }
		}
	}
	.account-wrapper {
		display: block;
		.account-nav {
			margin-bottom: 2rem;
			width: 100%;
		}
	}
}

@media (max-width: 991px) {
	.login-wrapper {
		width: 100%;
	}
	.pt-fix { padding-top: 0; }
	.registration-hd {
		padding-top: 0;
		padding-bottom: 1.5rem;
		align-items: flex-start;
		hgroup {
			padding-left: 0;
			&:before {
				content: none;
			}
		}
		.main-title { font-size: 1.5rem; }
		.sub-title { font-size: 1rem; }
		.account {
			padding-left: 2rem;
			.nav-link {
                width: 2rem;
                height: 2rem;
				position: relative;
				span {
					display: inline-block;
					text-indent: -999rem;
				}
				&:after {
					content: "\f011";
					border: none;
					width: 2rem;
					height: 2rem;
					font: normal normal normal 1.5rem/1 FontAwesome;
					position: absolute;
					left: 0;
					top: 0;
				}
			}
		}
	}
	.registration-wrapper {
		.registration-nav { width: 240px; }
		.phone-group {
			.form-control { width: 30%; }
		}
		.narrow-phone-group {
			.form-control { width: 100%; }
		}
	}
	.searchbar {
		.d-inline-block { width: 24%; }
	}
	.events-list-item {
		display: block;
		.item-start {
			border-bottom: 1px solid rgba($base_border_color, .6);
			padding: 1.25rem;
		}
		.item-end { padding: 1.25rem; }
		.event-link { right: 1.25rem; }
		.period-start {
			border-right: 1px solid $base_border_color;
			padding-left: 0;
		}
	}
	.venue-wrapper {
		.agency-item {
			margin-bottom: 1rem;
			width: 49%;
			&:nth-child(3n) { margin-right: 2%; }
			&:nth-child(even) { margin-right: 0; }
		}
	}
}

@media (max-width: 767px) {
	.login-wrapper {
		margin: 0;
		&.register-wrapper {
			margin: 0;
		}
	}
	main.main { padding-bottom: 2.5rem; }
	.registration-hd {
		.main-title { font-size: 1.25rem; }
	}
	.registration-wrapper {
		margin-bottom: 0;
		.registration-inner {
			display: block;
		}
		.registration-nav {
			border-right: none;
			margin-bottom: 2rem;
			width: 100%;
			.registration-item {
				padding: .5rem 1.875rem .5rem .75rem;
				&:last-child { border-bottom: 1px solid rgba($base_border_color, .5); }
				h5 span { font-size: 1.125rem; }
			}
		}
		.registration-content {
			border-left: none;
			padding-left: 0;
		}
        .phone-group {
            .form-control { width: 100%; }
        }
	}
	.slick-single {
		.slick-arrow { top: 35%; }
		.slick-next { right: 1rem; }
		.slick-prev { left: 1rem; }
	}
	.document-upload {
		.document-hd {
			display: block;
			.document-title { margin-bottom: .75rem; }
		}
	}
	.searchbar {
		.d-inline-block {
			margin-bottom: .375rem;
			width: 100%;
			&.datepicker {
				margin-right: 1%;
				width: 49%;
				& + .datepicker { margin-right: 0; }
			}
		}
		.btn {
			display: block;
			width: 100%;
		}
	}
	.qa-accordion {
		.card {
			.awell {
				background: white;
				padding: 1.25rem;
			}
		}
	}
	.events-list-item {
		.period-start, .period-end {
			.label { display: block; }
		}
	}
}

@media (max-width: 575px) {
	.qa-accordion {
		.card .card-header {
			a {
				padding: 1.125rem 0;
				h5 { font-size: 1.0625rem; }
			}
		}
	}
}

@media (max-width: 574px) {
	.registration-wrapper {
		.nav-tabs {
			border-bottom: none;
			.nav-item {
				margin: 0 .25rem .25rem 0;
			}
			.nav-link {
				border: 1px solid $base_border_color;
				border-radius: 5rem;
				&.active {
					border-color: $main_color;
				}
			}
		}
	}
}

@media (max-width: 480px) {
	.venue-wrapper {
		.continent-wrapper { display: block; }
		.agency-item {
			margin-right: 0 !important;
			width: 100%;
		}
	}
}

@media (max-width: 479px) {
	.searchbar {
		.d-inline-block {
			&.datepicker {
				margin-right: 0;
			}
		}
	}
	.events-list-item {
		.period {
			display: block;
		}
		.period-start,
		.period-end {
			display: block;
			.label { display: inline-block; }
		}
		.period-start { border-right: none; }
		.period-end { padding-left: 0; }
	}
}
















