<footer class="footer">
    <div class="container-xl">
        <div class="footer-inner">
            <ul class="link-menu menu-item">
                <li><a href="policy.html">資訊安全政策</a></li>
                <li><a href="#" class="login">客戶登入</a></li>
            </ul>
            <div class="footer-start">
                <div class="start-left">
                    <h2>捷思達數位開發</h2>
                    <ul class="info-menu menu-item">
                        <li><i class="fas fa-map-marker"></i>新北市永和區中和路 343 號 14 樓之 3</li>
                        <li><i class="fas fa-map-marker"></i>台南市永康區中華路 1 之 150 號 24 樓 A 室</li>
                    </ul>
                </div>
                <div class="start-right">
                    <p>服務時間  09:00 - 180:00</p>
                    <ul class="info-menu menu-item">
                        <li><i class="fas fa-phone-alt"></i></i>02-29205589</li>
                        <li><i class="fas fa-fax"></i>02-29205689</li>
                        <li><i class="fas fa-envelope"></i><a href="mailto:jesda@jesda.com.tw">jesda@jesda.com.tw</a></li>
                    </ul>
                </div>
            </div>
            <div class="footer-end">
                <div class="end-bottom">
                    <address>© Jesda</address>
                </div>
            </div>
        </div>
    </div>
</footer>