<header class="header general-header">
    <a href="../index.html" class="header-logo">
        <svg x="0px" y="0px" viewBox="0 0 448 480" style="enable-background: new 0 0 448 480;" xml:space="preserve">
            <g>
                <g>
                    <path
                        class="darktheme"
                        d="M288,0v64l0,0v178c0,45.2-64,70-64,70s-64-24.8-64-70V96H96v148c0,90.4,128,136,128,136s128-45.6,128-136V64
                    h32v187c0,114.4-160,165-160,165S64,366.4,64,252V64h128v175c0,22.6,32,37,32,37s32-14.4,32-37V64V0H0v256c0,160,224,224,224,224
                    s224-64,224-224V0H288z"
                    />
                </g>
            </g>
        </svg>
    </a>
    <nav class="main-nav">
        <ul class="menu-item nav-menu">
            <li>
                <a class="item-link current" href="about.html">
                    <span class="text-span">關於我們</span>
                    <span class="separation"></span>
                </a>
            </li>
            <li>
                <a class="item-link" href="service.html">
                    <span class="text-span">服務流程</span>
                    <span class="separation"></span>
                </a>
            </li>
            <li>
                <a class="item-link" href="case.html">
                    <span class="text-span">案例經驗</span>
                    <span class="separation"></span>
                </a>
            </li>
        </ul>
    </nav>
    <a href="contact.html" class="btn-contact"><span><img src="../assets/contact.svg"></span></a>
</header>