<!-- template: 首頁登入 -->

<div class="container-lg">
	<div class="index-content">
        <div class="login-card">
            <h4><span>登入</span></h4>
            <div class="card-bd">
                <a href="#" class="btn btn-block btn-lg btn-primary btn-rounded">SSO</a>
            </div>
        </div>
	</div>
</div>



<% content_for :js do %>

<% end %>

