<footer class="footer">
	<div class="container clearfix">
		<div class="language">
			<span>Language</span>
			<a href="#" class="selected">English</a>
			<a href="#">中文</a>
		</div>
		<address class="float-right">© 2018 國立臺灣大學 National Taiwan University</address>
	</div>
</footer>
