<header class="header">
    <div class="container">
		<div class="header-wrap">
			<h1 class="brands">
				<a href="/">
					<h1 class="text-hide">臺灣大學 國際事務管理系統</h1>
					<img class="h1-logo" src="../assets/logo.svg" />
				</a>
			</h1>
			<div class="action-right">
                <div class="account dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        UserName
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="#">Profile</a>
                        <a class="dropdown-item" href="#">Settings</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Logout</a>
                    </div>
                </div>
				
				<!-- 交換生承辦人與姊妹校承辦人不需要此按鈕可直接拿掉 -->
				<a href="#" class="btn btn-sm btn-info btn-ii">
					<i class="fa fa-info-circle"></i>
					Important Information
				</a>
			</div>
		</div>
    </div>
</header>
<div class="system-name">
    <div class="container">
        <h4 class="sys-title">Online Application for University level Exchange Student Program</h4>
    </div>
</div>