<header class="header">
    <div class="container">
		<div class="header-wrap">
			<h1 class="brands">
				<a href="/">
					<h1 class="text-hide">臺灣大學 國際事務管理系統</h1>
					<img class="h1-logo" src="../assets/logo.svg" />
				</a>
			</h1>
			<div class="account dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					UserName
				</a>
				<div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
					<a class="dropdown-item" href="#">Profile</a>
					<a class="dropdown-item" href="#">Settings</a>
					<div class="dropdown-divider"></div>
					<a class="dropdown-item" href="#">Logout</a>
				</div>
			</div>
		</div>
    </div>
</header>