<header class="header">
    <div class="container">
		<div class="header-wrap">
			<h1 class="brands">
				<a href="/">
					<h1 class="text-hide">臺灣大學 國際事務管理系統</h1>
					<img class="h1-logo" src="../assets/logo.svg" />
				</a>
			</h1>
			<div class="action-right">
				<a href="#" class="btn btn-sm btn-info btn-ii">
					<i class="fa fa-info-circle"></i>
					Important Information
				</a>
			</div>
		</div>
    </div>
</header>
<div class="system-name">
    <div class="container">
        <h4 class="sys-title">Online Application for University level Exchange Student Program</h4>
    </div>
</div>