<footer class="footer">
	<div class="container-lg">
		<div class="footer-inner">
			<div class="block-transition">
                <div class="ft-block central-content">
                    <ul class="menu-item contact">
                        <li>
                            <i class="fas fa-map-marker-alt"></i>
                            Room 903, Building I, College of Management, No. 1, Sec.4, Roosevelt Road, Taipei 106, Taiwan
                        </li>
                        <li>
                            <i class="fas fa-phone-alt"></i>
                            +886-2-3366-1030
                        </li>
                        <li>
                            <i class="fas fa-fax"></i>
                            +886-2-3366-5411
                        </li>
                        <li>
                            <i class="fas fa-envelope"></i>
                            <a href="mailto:ntugmba@ntu.edu.tw">ntugmba@ntu.edu.tw</a>
                        </li>
                    </ul>
                </div>
			</div>
            <div class="ft-block end-content">
                Browser support
                <a href="https://www.google.com/intl/zh-TW/chrome/">Google Chrome</a>,
                <a href="https://www.mozilla.org/zh-TW/firefox/new/">Firefox</a> or
                <a href="https://www.microsoft.com/zh-tw/edge">IE11+</a>
            </div>
		</div>
	</div>
</footer>