<header class="header" id="pagetop">
    <div class="container-lg">
		<div class="header-wrap">
            <div class="header-function">
                <div class="language">
                    <a href="#">中文</a>
                    <a href="#" class="current">EN</a>
                </div>
                <div class="account">
                    <div class="dropdown">
                        <button class="dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Hi Mr.Suchart
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Change password</a></li>
                            <li><a class="dropdown-item" href="#">Log out</a></li>
                        </ul>
                    </div>
                </div>
            </div>
			<div class="brands">
                <a class="brands-link" href="index.html">
                    <div class="logo">
                        <h1 class="text-hide">國立臺灣大學管理學院 College of Management , National Taiwan University</h1>
                        <img class="h1-logo" src="../assets/logo@2x.png">
                    </div>
                    <div class="sub">
                        <span>國立臺灣大學管理學院</span>
                        <span class="en">College of Management , National Taiwan University</span>
                    </div>
                </a>
			</div>
		</div>
    </div>
	<div class="sys-subject">
		<div class="container-lg">
	        <h2>110 教師獎勵申請</h2>
		</div>
	</div>
</header>