/* `Header
-----------------------------------------------------------------------------*/

header.header {
	margin-bottom: 3.75rem;
	.navbar {
		background: #fbeff3;
		background: linear-gradient(180deg, rgba(#fbeff3,1) 0%, rgba(#fafafa,1) 100%);
		box-shadow: 0 1px 0 rgba(#f4eff1, 1), 0 1px 0 rgba(#f7e6ed, 1)inset;
		padding: 0;
		.header-toolbar {
            padding-right: 7px;
            padding-left: 0;
			a {
                color: $main_darken_color !important;
				&:hover {
					background: none; 
					color: #000 !important;
				}
            }
			li:last-child a { padding-right: 6px; }
		}
	}
	.nav-item {
		padding: 0 0.5rem 0;
		font-size: 16px;
		position: relative;
		&:before {
			content: "";
			background: rgba(0,0,0, .05);
			width: 1px;
			height: 16px;
			position: absolute;
			left: 0;
			top: 13px;
		}
		&:first-child {
			&:before { content: none; }
		}
	}
	.nav-link {
		padding-top: 0;
		padding-bottom: 0;
		height: 40px;
		line-height: 40px;
		color: #1a1a1a !important;
		&:hover { color: $main_color !important; }
	}
	.navbar-toggler {
		margin: 6px 0;
	}
	.search-form {
        position: relative;
        &:after {
            content: "\f002";
            font-family: 'FontAwesome';
            position: absolute;
            right: 10px;
            top: 7px;
        }
	}
	.emergency-call {
		line-height: 1.2;
		text-align: right;
		span {
			display: block;
			font-size: 1.25rem;
		}
		.number {
			font-family: 'Roboto';
			font-size: 1.5rem;
			font-weight: 700;
		}
	}
	.mobile-only { display: none; }
	.emergency-call.mobile-only { display: none; }
}

.header-bar {
	background: $main_color;
	font-size: 13px;
	text-align: right;
	.container {
		display: flex;
		justify-content: flex-end;
		align-items: center;
	}
	a {
		color: rgba(#fff, .6);
		&:hover { color: rgba(#fff, 1); }
	}
}

.header-toolbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
	li {
		position: relative;
		&:after {
			content: "";
			background: rgba(#fff, .3);
			width: 1px;
			height: 10px;
			position: absolute;
			right: -2px;
			top: 9px
		}
		&:last-child:after {
			content: none;
		}
	}
	a {
		display: inline-block;
		padding: 5.5px 6px;
		color: #fff;
		&:hover {
			background: rgba(#fff, .85);
			color: $main_darken_color;
		}
	}
	li.language:after { content: none; }
	.form-control {
		border-radius: 0;
		border: none;
		padding: 0.25rem 0.75rem;
	}
}

.header-wrap {
    background: #fbeff3;
	.container {
        display: flex;
        justify-content: space-between;
        align-items: center;
		background: url(../assets/bg-headerwrap.png) 15px top no-repeat;
		padding-top: .565rem;
		padding-bottom: .375rem;
	}
	.brands {
		a {
            align-items: center;
			color: #fff;
            &:hover { text-decoration: none; }
		}
        h1 { margin: 0; }
	}
    .logo {
        margin-right: 20px;
		img {
            display: inline-block;
            width: auto;
            vertical-align: middle;
		}
    }
	.h1-logo {
		height: 76px;
		margin-right: 12px;
	}
	.h1-calligraphy {
		height: 60px;
	}
    .sub {
		font-family: 'Roboto', '\5FAE\8EDF\6B63\9ED1\9AD4', Helvetica, Arial, sans-serif;
        line-height: 1.2;
		color: #333;
		font-size: 1.35rem;
		font-weight: bold;
        > span {
            display: block;
        }
		.en {
			font-size: 1.125rem;
			font-weight: 300;
		}
    }
}


















