<form>
	<div class="data-block">
		<h4 class="font-400">Work Experience One</h4>
		<p class="mb-4">required for GMBA applicants; other applicants are also encouraged to complete this section </p>
        <div class="form-group">
            <label for="companyName">Company Name</label>
            <input type="text" class="form-control" id="companyName" placeholder="">
        </div>
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label for="positionHeld">Position Held</label>
                    <input type="text" class="form-control" id="positionHeld" placeholder="">
                </div>
			</div>
			<div class="col">
                <div class="form-group">
                    <label for="mainDuties">Main Duties</label>
                    <input type="text" class="form-control" id="mainDuties" placeholder="">
                </div>
			</div>
        </div>
		<div class="row">
            <div class="col">
                <div class="form-group">
                    <label for="supervisorName">Supervisor's Name</label>
                    <input type="text" class="form-control" id="supervisorName" placeholder="">
                </div>
			</div>
			<div class="col">
                <div class="form-group">
                    <label for="supervisorEmail">Supervisor's Email</label>
                    <input type="text" class="form-control" id="supervisorEmail" placeholder="">
                </div>
			</div>
        </div>
		<div class="row">
			<div class="col-8">
                <div class="form-group">
                    <label>Duration of Service</label>
                    <div class="form-row">
                        <div class="col">
                            <select class="browser-default custom-select">
                                <option selected>Month</option>
                                <option value="january">January</option>
                                <option value="february">February</option>
                                <option value="march">March</option>
                            </select>
                        </div>
                        <div class="col">
                            <select class="browser-default custom-select">
                                <option selected>Years</option>
                                <option value="2000">2000</option>
                                <option value="1999">1999</option>
                                <option value="1998">1998</option>
                            </select>
                        </div>
                        <div class="col-1 text-center"><span class="d-block pt-1">to</span></div>
                        <div class="col">
                            <select class="browser-default custom-select">
                                <option selected>Month</option>
                                <option value="january">January</option>
                                <option value="february">February</option>
                                <option value="march">March</option>
                            </select>
                        </div>
                        <div class="col">
                            <select class="browser-default custom-select">
                                <option selected>Years</option>
                                <option value="2000">2000</option>
                                <option value="1999">1999</option>
                                <option value="1998">1998</option>
                            </select>
                        </div>
                    </div>
                </div>
			</div>
			<div class="col-4">
			    <div class="form-group">
                    <label for="supervisorEmail">Total years in this company</label>
                    <input type="text" class="form-control" id="supervisorEmail" placeholder="">
                </div>
			</div>
		</div>
	</div>
	
	<div class="data-block">
		<h4 class="font-400">Work Experience One</h4>
        <div class="form-group">
            <label for="companyName">Company Name</label>
            <input type="text" class="form-control" id="companyName" placeholder="">
        </div>
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label for="positionHeld">Position Held</label>
                    <input type="text" class="form-control" id="positionHeld" placeholder="">
                </div>
			</div>
			<div class="col">
                <div class="form-group">
                    <label for="mainDuties">Main Duties</label>
                    <input type="text" class="form-control" id="mainDuties" placeholder="">
                </div>
			</div>
        </div>
		<div class="row">
            <div class="col">
                <div class="form-group">
                    <label for="supervisorName">Supervisor's Name</label>
                    <input type="text" class="form-control" id="supervisorName" placeholder="">
                </div>
			</div>
			<div class="col">
                <div class="form-group">
                    <label for="supervisorEmail">Supervisor's Email</label>
                    <input type="text" class="form-control" id="supervisorEmail" placeholder="">
                </div>
			</div>
        </div>
		<div class="row">
			<div class="col-8">
                <div class="form-group">
                    <label>Duration of Service</label>
                    <div class="form-row">
                        <div class="col">
                            <select class="browser-default custom-select">
                                <option selected>Month</option>
                                <option value="january">January</option>
                                <option value="february">February</option>
                                <option value="march">March</option>
                            </select>
                        </div>
                        <div class="col">
                            <select class="browser-default custom-select">
                                <option selected>Years</option>
                                <option value="2000">2000</option>
                                <option value="1999">1999</option>
                                <option value="1998">1998</option>
                            </select>
                        </div>
                        <div class="col-1 text-center"><span class="d-block pt-1">to</span></div>
                        <div class="col">
                            <select class="browser-default custom-select">
                                <option selected>Month</option>
                                <option value="january">January</option>
                                <option value="february">February</option>
                                <option value="march">March</option>
                            </select>
                        </div>
                        <div class="col">
                            <select class="browser-default custom-select">
                                <option selected>Years</option>
                                <option value="2000">2000</option>
                                <option value="1999">1999</option>
                                <option value="1998">1998</option>
                            </select>
                        </div>
                    </div>
                </div>
			</div>
			<div class="col-4">
			    <div class="form-group">
                    <label for="supervisorEmail">Total years in this company</label>
                    <input type="text" class="form-control" id="supervisorEmail" placeholder="">
                </div>
			</div>
		</div>
		<a href="#" title="delete" class="btn-delete"><i class="fa fa-times"></i></a>
	</div>
	<a href="#" class="add-btn">
	    <span class="btn btn-sm btn-blue-grey btn-rounded waves-effect waves-light"><i class="fa fa-plus"></i> </span>
		<span class="text-black-50">Add a new one</span>
	</a>
    <div class="text-center mt-4">
        <a href="#" class="btn btn-default btn-lg">Save</a>
		<a href="#" class="btn btn-link btn-lg">Next</a>
    </div>
</form>



































