<footer class="footer">
	<div class="container container-xl">
		<div class="footer-inner">
            <div class="contact">
				<ul class="menu-item">
				    <li class="department">Office of International Affairs,</li>
					<li class="university">National Taiwan University</li>
					<li><i class="fa fa-phone"></i>+886-2-3366-2007 ext.302</li>
					<li><i class="fa fa-envelope"></i><a href="mailto:ivylin@ntu.edu.tw">ivylin@ntu.edu.tw</a></li>
				</ul>
            </div>
            <div class="ft-right">
				<ul class="menu-item language">
					<li>Language</li>
					<!-- 英文為預設 -->
					<li><a href="#" class="current">English</a></li>
					<li><a href="#">中文</a></li>
				</ul>
                <p class="browser-support">Browser support 
                    <a href="https://www.mozilla.org/firefox/new/">Firefox</a>, 
                    <a href="https://www.google.com/chrome/">Chrome</a> or
                    <a href="https://microsoft-edge.en.softonic.com/">IE11+</a>
                </p>
			</div>
		</div>
	</div>
</footer>
