<header class="header">
    <div class="container">
		<div class="header-wrap">
			<div class="brands">
				<a href="student-list.html">
                    <div class="logo">
                        <h1 class="text-hide">National Taiwan University</h1>
                        <img class="h1-logo" src="../assets/ntu-logo@2x.png" />
                    </div>
                    <div class="sub">
                        <span class="level-one">NTU Overseas Chinese</span>
                        <span class="level-two">Undergraduate Admission</span>
						<span class="level-three">School Recommaendation Portal</span>
                    </div>
				</a>
				<div class="academic-year">
					<span class="academic">Academic Year</span>
					<span class="years">2020</span>
				</div>
			</div>
			<div class="account">
				<ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Hi Mr.Suchart</a>
                        <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="#">Logout</a>
                            <a class="dropdown-item" href="school_info.html">Basic Information</a>
							<a class="dropdown-item" href="change_password.html">Change password</a>
                        </div>
                    </li>
				</ul>
			</div>
		</div>
		<nav class="navbar navbar-expand-lg">
		    <ul class="navbar-nav mr-auto">
			    <li class="nav-item">
				    <a class="nav-link" href="student-list.html">
						<img src="../assets/icon-list@2x.png" />Recommended list
					</a>
				</li>
				<li class="nav-item">
				    <a class="nav-link" href="upload.html">
						<img src="../assets/icon-upload@2x.png" />Upload
					</a>
				</li>
			</ul>
			<div class="md-form my-0">
			    <a class="history-link" href="#">History</a>
			</div>
		</nav>
    </div>
</header>