<form>
    <div class="form-group mb-4">
        <label class="d-block">Have you ever learned English?</label>
        <div class="form-check form-check-inline">
            <input type="radio" class="form-check-input" id="englishYes" name="languageEnglish">
            <label class="form-check-label" for="englishYes">Yes</label>
        </div>
        <div class="form-check form-check-inline">
            <input type="radio" class="form-check-input" id="englishNo" name="languageEnglish">
            <label class="form-check-label" for="englishNo">No</label>
        </div>
		<div class="form-check form-check-inline">
            <input type="radio" class="form-check-input" id="englishNative" name="languageEnglish">
            <label class="form-check-label" for="englishNative">I am a native speaker</label>
        </div>
    </div>
	
	<div class="form-group mb-5">
        <label class="d-block">Have you ever learned Chinese?</label>
        <div class="form-check form-check-inline">
            <input type="radio" class="form-check-input" id="chineseYes" name="languageChinese">
            <label class="form-check-label" for="chineseYes">Yes</label>
        </div>
        <div class="form-check form-check-inline">
            <input type="radio" class="form-check-input" id="chineseNo" name="languageChinese">
            <label class="form-check-label" for="chineseNo">No</label>
        </div>
		<div class="form-check form-check-inline">
            <input type="radio" class="form-check-input" id="chineseNative" name="languageChinese">
            <label class="form-check-label" for="chineseNative">I am a native speaker</label>
        </div>
    </div>
    
	<label class="d-block">Specify if you have taken any Chinese or English proficiency test(s). (Attach copies of results.)</label>
    <table class="table table-vertical-middle">
	    <thead>
		    <tr>
			    <th class="w-20">Language Type</th>
				<th class="w-30">Name of Test</th>
				<th class="w-10">Score</th>
				<th class="w-30">Date</th>
				<th class="w-5"></th>
			</tr>
		</thead>
		<tbody>
		    <tr>
			    <td>
                    <select class="browser-default custom-select">
                        <option selected>Please Select</option>
                        <option value="">Chinese</option>
                        <option value="">English</option>
                        <option value="">Russian</option>
                    </select>
				</td>
				<td><input type="text" class="form-control"></td>
				<td><input type="text" class="form-control"></td>
				<td>
					<div class="form-row">
						<div class="col">
                            <select class="browser-default custom-select">
                                <option selected>Month</option>
                                <option value="january">January</option>
                                <option value="february">February</option>
                                <option value="march">March</option>
                            </select>
						</div>
						<div class="col">
                            <select class="browser-default custom-select">
                                <option selected>Years</option>
                                <option value="2000">2000</option>
                                <option value="1999">1999</option>
                                <option value="1998">1998</option>
                            </select>
						</div>
					</div>
				</td>
				<td>
				    <a href="#" class="btn btn-xs btn-danger mr-0" title="delete"><i class="fa fa-times"></i></a>
				</td>
			</tr>
			<tr>
			    <td>
                    <select class="browser-default custom-select">
                        <option selected>Please Select</option>
                        <option value="">Chinese</option>
                        <option value="">English</option>
                        <option value="">Russian</option>
                    </select>
				</td>
				<td><input type="text" class="form-control"></td>
				<td><input type="text" class="form-control"></td>
				<td>
					<div class="form-row">
						<div class="col">
                            <select class="browser-default custom-select">
                                <option selected>Month</option>
                                <option value="january">January</option>
                                <option value="february">February</option>
                                <option value="march">March</option>
                            </select>
						</div>
						<div class="col">
                            <select class="browser-default custom-select">
                                <option selected>Years</option>
                                <option value="2000">2000</option>
                                <option value="1999">1999</option>
                                <option value="1998">1998</option>
                            </select>
						</div>
					</div>
				</td>
				<td>
				    <a href="#" class="btn btn-xs btn-danger mr-0" title="delete"><i class="fa fa-times"></i></a>
				</td>
			</tr>
		</tbody>
	</table>
	<a href="#" class="add-btn">
	    <span class="btn btn-sm btn-blue-grey btn-rounded"><i class="fa fa-plus"></i> </span>
		<span class="text-black-50">Add a new one</span>
	</a>
    <div class="text-center mt-4">
        <a href="#" class="btn btn-default btn-lg">Save</a>
		<a href="#" class="btn btn-link btn-lg">Next</a>
    </div>
</form>



































