	<div class="form-wrapper">
		<h4 class="wrapper-title">Basic information</h4>
        <div class="form-group">
            <div class="row">
                <div class="col-6">
                    <label for="Chinesefullname"><span class="required">*</span>Chinese Name</label>
                    <input id="Chinesefullname" type="text" class="form-control" placeholder="Same as passport">
                    <small class="form-text text-muted">Please provide your name as stated on your passport or national ID</small>
                </div>
                <div class="col-6">
                    <label for="Englishfullname"><span class="required">*</span>English name</label>
                    <input id="Englishfullname" type="text" class="form-control" placeholder="Same as passport">
                    <small class="form-text text-muted">Please provide your name as stated on your passport or national ID</small>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label class="d-block"><span class="required">*</span>Gender</label>
                    <div class="form-check form-check-inline">
                        <input type="radio" class="form-check-input" id="genderMale" name="inlineGender">
                        <label class="form-check-label" for="genderMale">Male</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input type="radio" class="form-check-input" id="genderFemale" name="inlineGender">
                        <label class="form-check-label" for="genderFemale">Female</label>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label><span class="required">*</span>Date of Birth</label>
                    <div class="form-row">
                        <div class="col">
                            <select class="browser-default custom-select">
                                <option selected>Years</option>
                                <option value="2000">2000</option>
                                <option value="1999">1999</option>
                                <option value="1998">1998</option>
                            </select>
                        </div>
                        <div class="col">
                            <select class="browser-default custom-select">
                                <option selected>Month</option>
                                <option value="january">January</option>
                                <option value="february">February</option>
                                <option value="march">March</option>
                            </select>
                        </div>
                        <div class="col">
                            <select class="browser-default custom-select">
                                <option selected>Day</option>
                                <option value="1">01</option>
                                <option value="2">02</option>
                                <option value="3">03</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label><span class="required">*</span>Country of Birth</label>
                    <select class="browser-default custom-select">
                        <option selected>Please select a country</option>
                        <option value="Afghanistan">Afghanistan</option>
                        <option value="Åland Islands">Åland Islands</option>
                        <option value="Albania">Albania</option>
                    </select>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label><span class="required">*</span>Nationality</label>
                    <select class="browser-default custom-select">
                        <option selected>Please select a country</option>
                        <option value="Afghanistan">Afghanistan</option>
                        <option value="Åland Islands">Åland Islands</option>
                        <option value="Albania">Albania</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-6">
                    <label for="Hometown"><span class="required">*</span>Hometown</label>
                    <input id="Hometown" type="text" class="form-control" placeholder="Same as passport">
                    <small class="form-text text-muted">中國以外國家似乎沒有籍貫的習慣，而且是必填欄位</small>
                </div>
                <div class="col-6">
                    <label for="Hometown2"><span class="required">*</span>Hometown Place?</label>
                    <input id="Hometown2" type="text" class="form-control" placeholder="Same as passport">
                    <small class="form-text text-muted">籍貫地又更混淆</small>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="mailingAddress"><span class="required">*</span>Mailing Address</label>
            <input type="text" class="form-control" id="mailingAddress" placeholder="">
        </div>
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label><span class="required">*</span>Tel</label>
                    <div class="form-row">
                        <div class="col-4">
                            <input type="text" class="form-control" placeholder="Country Code">
                        </div>
                        <div class="col-4">
                            <input type="text" class="form-control" placeholder="Area Code">
                        </div>
                        <div class="col-4">
                            <input type="text" class="form-control" placeholder="Number">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label><span class="required">*</span>Mobile</label>
                    <div class="form-row">
                        <div class="col-4">
                            <input type="text" class="form-control" placeholder="Country Code">
                        </div>
                        <div class="col-8">
                            <input type="text" class="form-control" placeholder="Number">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="personalEmail"><span class="required">*</span>E-mail</label>
            <input type="email" class="form-control" id="personalEmail" placeholder="">
        </div>
	</div>
	<div class="form-wrapper">
		<h4 class="wrapper-title">Chinese Language Proficiency Assessment</h4>
		<div class="row">
			<div class="col-6">
                <div class="form-group">
                    <label class="d-block"><span class="required">*</span>Listen</label>
                    <div class="form-check form-check-inline">
                        <input type="radio" class="form-check-input" id="listenExcellent" name="inlineListen">
                        <label class="form-check-label" for="listenExcellent">Excellent</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input type="radio" class="form-check-input" id="listenGood" name="inlineListen">
                        <label class="form-check-label" for="listenGood">Good</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input type="radio" class="form-check-input" id="listenPassable" name="inlineListen">
                        <label class="form-check-label" for="listenPassable">Passable</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input type="radio" class="form-check-input" id="listenPoor" name="inlineListen">
                        <label class="form-check-label" for="listenPoor">Poor</label>
                    </div>
                </div>
			</div>
			<div class="col-6">
                <div class="form-group">
                    <label class="d-block"><span class="required">*</span>Speak</label>
                    <div class="form-check form-check-inline">
                        <input type="radio" class="form-check-input" id="speakExcellent" name="inlineSpeak">
                        <label class="form-check-label" for="speakExcellent">Excellent</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input type="radio" class="form-check-input" id="speakGood" name="inlineSpeak">
                        <label class="form-check-label" for="speakGood">Good</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input type="radio" class="form-check-input" id="speakPassable" name="inlineSpeak">
                        <label class="form-check-label" for="speakPassable">Passable</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input type="radio" class="form-check-input" id="speakPoor" name="inlineSpeak">
                        <label class="form-check-label" for="speakPoor">Poor</label>
                    </div>
                </div>
			</div>
			<div class="col-6">
                <div class="form-group">
                    <label class="d-block"><span class="required">*</span>Read</label>
                    <div class="form-check form-check-inline">
                        <input type="radio" class="form-check-input" id="readExcellent" name="inlineRead">
                        <label class="form-check-label" for="readExcellent">Excellent</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input type="radio" class="form-check-input" id="readGood" name="inlineRead">
                        <label class="form-check-label" for="readGood">Good</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input type="radio" class="form-check-input" id="readPassable" name="inlineRead">
                        <label class="form-check-label" for="readPassable">Passable</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input type="radio" class="form-check-input" id="readPoor" name="inlineRead">
                        <label class="form-check-label" for="readPoor">Poor</label>
                    </div>
                </div>
			</div>
			<div class="col-6">
                <div class="form-group">
                    <label class="d-block"><span class="required">*</span>Write</label>
                    <div class="form-check form-check-inline">
                        <input type="radio" class="form-check-input" id="writeExcellent" name="inlineWrite">
                        <label class="form-check-label" for="writeExcellent">Excellent</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input type="radio" class="form-check-input" id="writeGood" name="inlineWrite">
                        <label class="form-check-label" for="writeGood">Good</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input type="radio" class="form-check-input" id="writePassable" name="inlineWrite">
                        <label class="form-check-label" for="writePassable">Passable</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input type="radio" class="form-check-input" id="writePoor" name="inlineWrite">
                        <label class="form-check-label" for="writePoor">Poor</label>
                    </div>
                </div>
			</div>
		</div>
		<div class="form-group">
            <label for="languageRemark">Remark</label>
            <textarea class="form-control rounded-0" id="languageRemark" rows="6"></textarea>
		</div>
	</div>
    <hr class="hr" />
    <div class="form-wrapper pb-5">
		<h4 class="wrapper-title">ID and password</h4>
		<div class="row">
			<div class="col-4">
                <div class="form-group">
                    <label for="personalID">ID</label>
                    <input type="text" class="form-control" id="personalID" placeholder="12345678" disabled>
                </div>
			</div>
			<div class="col-4">
                <div class="form-group">
                    <label for="personalPassword">Password</label>
                    <input type="password" class="form-control" id="personalPassword">
                </div>
			</div>
			<div class="col-4">
                <div class="form-group">
                    <label for="passwordCheck">Password check</label>
                    <input type="text" class="form-control" id="passwordCheck">
                </div>
			</div>
		</div>
	</div>


































