<form>
    <div class="form-group mb-4">
        <label>A. Application for NCTU Scholarships for Newly Admitted Students</label>
        <div class="form-check mb-1">
            <input type="radio" class="form-check-input" id="scholarshipsRadiosOne" name="scholarshipsRadios">
            <label class="form-check-label" for="scholarshipsRadiosOne">Yes, please consider my eligibility. (No additional application form required)</label>
        </div>
        <div class="form-check mb-1">
            <input type="radio" class="form-check-input" id="scholarshipsRadiosTwo" name="scholarshipsRadios">
            <label class="form-check-label" for="scholarshipsRadiosTwo">No, I do not intend to apply</label>
        </div>
        <div class="form-check mb-1">
            <input type="radio" class="form-check-input" id="scholarshipsRadiosThree" name="scholarshipsRadios">
            <label class="form-check-label" for="scholarshipsRadiosThree">No, I have been awarded a Taiwan Scholarship</label>
        </div>
    </div>
	<div class="form-group mb-5">
        <label>B. Application for other scholarships: (For scholarships not listed above, please appl</label>
        <div class="form-check form-check-inline mb-1">
            <input type="radio" class="form-check-input" id="scholarshipsRadiosOther" name="">
            <label class="form-check-label" for="scholarshipsRadiosOther">Other</label>
			<input type="text" id="exampleForm2" class="form-control ml-4">
        </div>
    </div>
    <div class="text-center mt-4">
        <a href="#" class="btn btn-default btn-lg">Save</a>
		<a href="#" class="btn btn-link btn-lg">Next</a>
    </div>
</form>



































