<!DOCTYPE html>
<!--[if lt IE 7]> <html lang="en" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>    <html lang="en" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>    <html lang="en" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>國立虎尾科技大學課程地圖</title>
    <!-- FB -->
    <meta property="og:url" content="http://nfu-map.com.tw/" />
    <meta property="og:title" content="NFU Course map" />
    <meta property="og:site_name" content="NFU Course map" />
    <meta property="og:image" content="http://nfu-map.com.tw/assets/nfu-og-image.png" />
    <meta property="og:description" content="NFU Course map" />
    <meta property="og:type" content="website" />
    <!-- Twitter -->
    <meta name="twitter:site" content="http://nfu-map.com.tw/" />
    <meta name="twitter:title" content="NFU Course map" />
    <meta name="twitter:image" content="http://nfu-map.com.tw/assets/nfu-og-image.png" />
    <meta name="twitter:description" content="NFU Course map" />
    <meta name="description" content="NFU Course map" />
    <% if content_for? :replace_css %>
        <%= yield :replace_css %>
    <% end %>
    <!--[if lt IE 9]>
        <script src="../javascripts/selectivizr-min.js"></script>
    <![endif]-->
    <link rel="stylesheet" media="all" href="stylesheets/bootstrap.css">
    <link rel="stylesheet" media="all" href="stylesheets/mdb.css">
    <link rel="stylesheet" media="all" href="stylesheets/homepage.css">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <script src="javascripts/modernizr.custom.26633.js"></script>
</head>
<body class="home drawer drawer--left">
<div class="homepage">
    <%= yield %>
    <%= render :partial => "/partials/footer" %>
</div>
<div class="movement-panel"></div>
<!--script src="javascripts/jquery-3.2.1.min.js"></script-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="javascripts/bootstrap.min.js"></script>
<script src="javascripts/mdb.min.js"></script>
<script src="javascripts/jquery.color-2.1.2.min.js"></script>

<% if content_for? :js %>
    <%= yield :js %>
<% end %>

<!--%= livereload_js if ENV["RACK_ENV"] != "production" && defined?(App)%-->
</body>
</html>
