<!-- NFU -->
<div class="buttons">
    <a href="news/index.html" role="button" class="btn btn-outline-primary btn-rounded waves-effect no-shadow animsition-link">公告</a>
    <a href="login/index.html" role="button" class="btn purple-gradient btn-rounded">學生專區</a>
</div>
<header class="sidenav-drawer" role="banner">
    <button type="button" class="drawer-toggle drawer-hamburger">
        <span class="sr-only">toggle navigation</span>
        <span class="drawer-hamburger-icon"></span>
    </button>
    <nav class="drawer-nav" role="navigation">
        <div class="nav-side-menu">
            <div class="menu-list">
                <ul id="menu-content" class="menu-content">
                    <li class="mobile-only">
                        <a href="login/index.html" role="button" class="">學生專區</a>
                    </li>
                    <li class="mobile-only">
                        <a href="news/index.html" role="button" class="animsition-link">公告</a>
                    </li>
                    <li>
                        <a href="target/index.html">學院教育目標</a>
                    </li>
                    <li data-toggle="collapse" data-target="#engineering" class="collapsed active">
                        <a class="plus-minus-toggle plus-minus-collapsed"><span></span>工程學院</a>
                    </li>
                    <ul class="sub-menu collapse" id="engineering">
                        <li><a href="college/index.html">材料科學與工程系</a></li>
                        <li><a href="college/index.html">機械設計工程系</a></li>
                        <li><a href="college/index.html">機械與電腦輔助工程系</a></li>
                        <li><a href="college/index.html">動力機械工程系</a></li>
                        <li><a href="college/index.html">自動化工程系</a></li>
                        <li><a href="college/index.html">車輛工程系</a></li>
                        <li><a href="college/index.html">飛機工程系</a></li>
                    </ul>
                    <li data-toggle="collapse" data-target="#management" class="collapsed">
                        <a class="plus-minus-toggle plus-minus-collapsed"><span></span>管理學院</a>
                    </li>  
                    <ul class="sub-menu collapse" id="management">
                        <li><a href="#">工業管理系</a></li>
                        <li><a href="#">資訊管理系</a></li>
                        <li><a href="#">財務金融系</a></li>
                        <li><a href="#">企業管理系</a></li>
                    </ul>
                    <li data-toggle="collapse" data-target="#electrical" class="collapsed">
                        <a class="plus-minus-toggle plus-minus-collapsed"><span></span>電機資訊學院</a>
                    </li>
                    <ul class="sub-menu collapse" id="electrical">
                        <li><a href="#">電機工程系</a></li>
                        <li><a href="#">光電工程系</a></li>
                        <li><a href="#">資訊工程系</a></li>
                        <li><a href="#">電子工程系</a></li>
                    </ul>
                    <li data-toggle="collapse" data-target="#sciences" class="collapsed">
                        <a class="plus-minus-toggle plus-minus-collapsed"><span></span>文理學院</a>
                    </li>
                    <ul class="sub-menu collapse" id="sciences">
                        <li><a href="#">應用外語系</a></li>
                        <li><a href="#">生物科技系</a></li>
                        <li><a href="#">多媒體設計系</a></li>
                        <li><a href="#">休閒遊憩系</a></li>
                    </ul>
                    <li>
                        <a href="#">跨域學習</a>
                    </li>
                    <li>
                        <a href="college/whole_course_map.html">全校課程地圖</a>
                    </li>
                    <li class="menu-footer">
                        <a href="https://www.nfu.edu.tw/zh/">虎尾科技大學首頁</a>
                    </li>
                    <li class="menu-footer">
                        <a href="links/index.html" class="animsition-link">相關連結</a>
                    </li>
                 </ul>
             </div>
        </div>
    </nav>
</header>
<div class="scroll-page">
    <section id="landing" class="landing scroll-panel">
        <div class="container">
            <div class="nfu-logo">
                <img class="h1-logo" src="assets/logo.svg" />
            </div>
            <div class="news">
                <ul>
                    <li>
                        <a href="news/news-item.html" target="_blank">
                            <span>2017.10.11</span>
                            <%= zh_lorem_sentences 2 %>
                        </a>
                    </li>
                    <li>
                        <a href="news/news-item.html" target="_blank">
                            <span>2017.10.11</span>
                            <%= zh_lorem_sentences 2 %>
                        </a>
                    </li>
                    <li>
                        <a href="news/news-item.html" target="_blank">
                            <span>2017.10.11</span>
                            <%= zh_lorem_sentences 2 %>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="stuff-container">
            <div class="mouse"><span class="mouseInfinite"></span></div>
            <div class="bg-view"><img src="assets/nfu-view.png"/></div>
        </div>
        <canvas id="landing-three" class="landing-three"></canvas>
    </section>
    <section id="nfu_motto" class="nfu-motto scroll-panel">
        <div class="bg-view motto-view"><img src="assets/nfu-view.png"/></div>
        <div class="container">
            <h2 class="section-title">教育目標</h2>
            <div class="section-content">
				<div class="content-title">
					<ul class="bxslider left">
						<li>校訓</li>
					</ul>
				</div>
				<div class="content-bd">
					<ul class="bxslider right">
						<li class="line">誠心誠意 誠實不欺</li>
						<li class="line">正直為人 正當行事</li>
						<li class="line">精準明確 精業湛成</li>
						<li class="line">勤勞儉樸 勤學奮發</li>
					</ul>
				</div>
			</div>
        </div>
    </section>
    <section id="nfu_expertise" class="nfu-expertise scroll-panel">
        <div class="container">
            <h2 class="section-title">核心能力</h2>
            <div class="section-content">
				<div class="content-title">
					<ul class="bxslider left">
						<li>專業知識與技能</li>
						<li>溝通表達</li>
					</ul>
				</div>
				<div class="content-bd">
					<ul class="bxslider right">
						<li class="text-s">以特有的藝術、設計領域優勢，培育符合社會與業界需求的「應用務實」與「人文科技」兼具之人才，並發展成為「文化創意」產學合作標竿及國際交流要角為教育目標。</li>
						<li>溝通表達</li>
					</ul>
				</div>
			</div>
        </div>
    </section>
    <section id="nfu_growth" class="nfu-growth scroll-panel">
        <div class="container">
            <h2 class="section-title">基本素養</h2>
			<div class="section-content">
			<!--Carousel Wrapper-->
			<div id="carousel-example-2" class="carousel slide carousel-fade" data-ride="carousel">
				<!--Indicators-->
				<ol class="carousel-indicators">
					<li data-target="#carousel-example-2" data-slide-to="0" class="active"></li>
					<li data-target="#carousel-example-2" data-slide-to="1"></li>
					<li data-target="#carousel-example-2" data-slide-to="2"></li>
					<li data-target="#carousel-example-2" data-slide-to="3"></li>
					<li data-target="#carousel-example-2" data-slide-to="4"></li>
					<li data-target="#carousel-example-2" data-slide-to="5"></li>
					<li data-target="#carousel-example-2" data-slide-to="6"></li>
					<li data-target="#carousel-example-2" data-slide-to="7"></li>
				</ol>
				<!--/.Indicators-->
				<!--Slides-->
				<div class="carousel-inner" role="listbox">
					<div class="carousel-item active">
						<div class="carousel-text">
							<div class="content-title">
								<h3>自我成長</h3>
							</div>
							<div class="content-bd">
								<ul>
									<li>自我管理能力：能建構自我管理、自我情緒管理。</li>
									<li>資訊運用能力：能理解資訊科技。</li>
									<li>科學探索能力：培養科學興趣、充實科學能力、體現科學實驗、表現科學作品、欣賞科學之美。</li>
									<li>人文藝術鑑賞能力：能參與人文關懷、增長藝術欣賞。</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="carousel-item">
						<div class="carousel-text">
							<div class="content-title">
								<h3>多元視野</h3>
							</div>
							<div class="content-bd">
								<ul>
									<li>國際觀察能力：能探析全球化議題、連結自我與全球關係、進行自我與全球互動、宏觀判斷全球化事件。</li>
									<li>文化探究能力：能建立文化比較觀點、尊重多元族群文化、理解次文化之發展、珍惜文化資產文物。</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="carousel-item">
						<div class="carousel-text">
							<div class="content-title">
								<h3>人際溝通</h3>
							</div>
							<div class="content-bd">
								<ul>
									<li>人際溝通能力：能表現人際溝通、尊重接納他人、 聆聽與表達。</li>
									<li>團隊合作能力：能表現團隊合作、參與團隊貢獻、學習組織能力、學習組織領導、領導與協調。</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="carousel-item">
						<div class="carousel-text">
							<div class="content-title">
								<h3>公民素養</h3>
							</div>
							<div class="content-bd">
								<ul>
									<li>社會關懷能力：能了解台灣社會變遷、了解台灣政經發展、主動關懷團體活動意義、關懷生態環保活動。</li>
									<li>倫常法治能力：能參與品德習慣、建構職業倫理、表現道德反省。</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="carousel-item">
						<div class="carousel-text">
							<div class="content-title">
								<h3>邏輯思維</h3>
							</div>
							<div class="content-bd">
								<ul>
									<li>邏輯思維能力：能表現邏輯推理、進行價值判斷、增強理性評估、表現獨立思考。</li>
									<li>問題解決能力：能表現問題解決、找尋解題工具。</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="carousel-item">
						<div class="carousel-text">
							<div class="content-title">
								<h3>創意創新</h3>
							</div>
							<div class="content-bd">
								<ul>
									<li>創意發想能力：能表現創意思考、創新資源價值、具冒險挑戰精神、增強敏銳觀察、具強烈的好奇心。</li>
									<li>知識應用能力：能應用資訊技能、運用自然科學知識、運用社會科學知識、運用人文科學知識。</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="carousel-item">
						<div class="carousel-text">
							<div class="content-title">
								<h3>終身學習</h3>
							</div>
							<div class="content-bd">
								<ul>
									<li>自主學習能力：能表現主動探索、展現生涯規畫、持續終身學習。</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="carousel-item">
						<div class="carousel-text">
							<div class="content-title">
								<h3>服務發展</h3>
							</div>
							<div class="content-bd">
								<ul>
									<li>專業服務能力：能充實就業能力、善用專業服務社會、參與社區服務工作、投入公益推展服務。</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<!--/.Slides-->
			</div>
			<!--/.Carousel Wrapper-->
			</div>
        </div>
	    <div class="wave-container">
	        <svg id="wave-anim" version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 80"></svg>
		</div>
    </section>
    <section id="nfu_literacy" class="nfu-literacy scroll-panel">
        <div class="container">
            <h2 class="section-title">指標對應</h2>
            <div class="section-content">
				<div class="content-title">
                    <ul class="nav flex-column" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#pane111" role="tab">核心能力與教育目標</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#pane112" role="tab">基本素養與教育目標</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#pane113" role="tab">共通職能與基本素養</a>
                        </li>
                    </ul>
				</div>
				<div class="content-bd">
					<div class="tab-content vertical">
                        <div class="tab-pane fade in show active" id="pane111" role="tabpanel">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>誠</th>
                                        <th>正</th>
                                        <th>精</th>
                                        <th>勤</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th>專業知識與技能</th>
                                        <td><i class="fa fa-check" aria-hidden="true"></i></td>
                                        <td><i class="fa fa-check" aria-hidden="true"></i></td>
                                        <td><i class="fa fa-check" aria-hidden="true"></i></td>
                                        <td><i class="fa fa-check" aria-hidden="true"></i></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="tab-pane fade" id="pane112" role="tabpanel">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>誠</th>
                                        <th>正</th>
                                        <th>精</th>
                                        <th>勤</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th>自我成長</th>
                                        <td><i class="fa fa-check" aria-hidden="true"></i></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <th>人際溝通</th>
                                        <td><i class="fa fa-check" aria-hidden="true"></i></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <th>多元視野</th>
                                        <td></td>
                                        <td><i class="fa fa-check" aria-hidden="true"></i></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <th>公民素養</th>
                                        <td></td>
                                        <td><i class="fa fa-check" aria-hidden="true"></i></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <th>邏輯思維</th>
                                        <td></td>
                                        <td></td>
                                        <td><i class="fa fa-check" aria-hidden="true"></i></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <th>創意創新</th>
                                        <td></td>
                                        <td></td>
                                        <td><i class="fa fa-check" aria-hidden="true"></i></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <th>終身學習</th>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td><i class="fa fa-check" aria-hidden="true"></i></td>
                                    </tr>
                                    <tr>
                                        <th>服務發展</th>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td><i class="fa fa-check" aria-hidden="true"></i></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="tab-pane fade" id="pane113" role="tabpanel">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>基本素養</th>
                                        <th>共通職能</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>自我成長</td>
                                        <td>溝通表達</td>
                                    </tr>
                                    <tr>
                                        <td>人際溝通</td>
                                        <td>持續學習</td>
                                    </tr>
                                    <tr>
                                        <td>多元視野</td>
                                        <td>問題解決</td>
                                    </tr>
                                    <tr>
                                        <td>公民素養</td>
                                        <td>創新</td>
                                    </tr>
                                    <tr>
                                        <td>邏輯思維</td>
                                        <td>工作責任及紀律</td>
                                    </tr>
                                    <tr>
                                        <td>創意創新</td>
                                        <td>資訊科技應用</td>
                                    </tr>
                                    <tr>
                                        <td>終身學習</td>
                                        <td>人際互動</td>
                                    </tr>
                                    <tr>
                                        <td>服務發展</td>
                                        <td>團隊合作</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
				</div>
			</div>
        </div>
    </section>
</div>

<%= render :partial => "/partials/login" %>

<% content_for :js do %>

    <script src="javascripts/three.min.js"></script>
    <script src="javascripts/lodash.min.js"></script>
    <script src="javascripts/jquery.simpler-sidebar.js"></script>
    <script src="javascripts/jquery.scrollNav.js"></script>
    <script src="javascripts/popper.min.js"></script>
    <script src="javascripts/iscroll.min.js"></script>
	<script src="javascripts/jquery.bxslider.min.js"></script>
    <script src="javascripts/animsition.js"></script>
    <script src="javascripts/drawer.min.js"></script>

    <script>
	
    // Drawer ==========================
	$('.drawer').drawer();
	
	// Carousel ==========================
	
	$('.carousel').carousel({
	    interval: 1002000
	})
			
	// Section minHeight ==========================
    $(".scroll-panel .container").css({ minHeight: $(window).innerHeight() + 'px' });
	
	// Scroll Nav ==========================
	$('.scroll-page').scrollNav();
	<!--$('.scroll-nav').addClass("nav-hide");-->
	
	// Drawer ==========================
	$(function() {
	  $('.plus-minus-toggle').on('click', function() {
		$(this).toggleClass('plus-minus-collapsed');
	  });
	});
	
	// Animsition ==========================
	$(document).ready(function() {
		$('.animsition').animsition({
				inClass: 'zoom-in-sm',
				outClass: 'zoom-out-sm'
			})
			.one('animsition.inStart', function() {
				$(this).append('<h2 class="target">Callback: Start</h2>');
				console.log('event -> inStart');
			})
			.one('animsition.inEnd', function() {
				$('.target', this).html('Callback: End');
				console.log('event -> inEnd');
			});
	});
	
	// Scrolling ==========================
		var preSec = 's1pos';
		var prePos = 0;
		var preScr = null;
		
		$(window).on('scroll', _.throttle(onScrolling, 100));
		
		function onScrolling () {
			var pos = $(window).scrollTop();
			var landing = $('#landing').position().top;
			var nfu_motto = $('#nfu_motto').position().top;
			var nfu_expertise = $('#nfu_expertise').position().top;
			var nfu_growth = $('#nfu_growth').position().top;
			var nfu_literacy = $('#nfu_literacy').position().top;
		
			if (pos >= landing && pos < nfu_motto) {
				if (preSec !== 'landing') {
		
					$('body').animate({backgroundColor: '#e5eaf0'}, 120);
					$('.sidenav-drawer').removeClass('lightness');
					$('.scroll-nav').removeClass('lightness');
					$('.drawer-nav').removeClass('lightness');
					$('.motto-view').removeClass('lightness');
					$('.drawer-hamburger').removeClass('lightness');
					$('.movement-panel').removeClass('movement-opacity');
					
					preSec = 'landing';
				}
				
			} else if (pos >= nfu_motto && pos < nfu_expertise) {
				if (preSec !== 'nfu_motto') {
		
					$('body').animate({backgroundColor: '#27292b'}, 120);
					$('.sidenav-drawer').addClass('lightness');
                    $('.scroll-nav').addClass('lightness');
					$('.drawer-nav').addClass('lightness');
					$('.motto-view').addClass('lightness');
					$('.drawer-hamburger').addClass('lightness');
					$('.movement-panel').addClass('movement-opacity');
		
					preSec = 'nfu_motto';
				}
				
			} else if (pos >= nfu_expertise && pos < nfu_growth) {
				if (preSec !== 'nfu_expertise') {
		
					$('body').animate({backgroundColor: '#27292b'}, 120);
					$('.sidenav-drawer').addClass('lightness');
					$('.scroll-nav').addClass('lightness');
					$('.drawer-nav').addClass('lightness');
					$('.motto-view').addClass('lightness');
					$('.drawer-hamburger').addClass('lightness');
					$('.movement-panel').addClass('movement-opacity');
		
					preSec = 'nfu_expertise';
				}
				
			} else if (pos >= nfu_growth && pos < nfu_literacy) {
				if (preSec !== 'nfu_growth') {
		
					$('body').animate({backgroundColor: '#eeeeee'}, 120);
					$('.sidenav-drawer').removeClass('lightness');
					$('.scroll-nav').removeClass('lightness');
					$('.drawer-nav').removeClass('lightness');
					$('.motto-view').removeClass('lightness');
					$('.drawer-hamburger').removeClass('lightness');
					$('.movement-panel').addClass('movement-opacity');
		
					preSec = 'nfu_growth';
				}
			} else if (pos >= nfu_literacy) {
				if (preSec !== 'nfu_literacy') {
		
					$('body').animate({backgroundColor: '#eeeeee'}, 120);
					$('.drawer-hamburger').removeClass('lightness');
					$('.movement-panel').addClass('movement-opacity');
		
					preSec = 'nfu_literacy';
				}
			}
		}
		
		// Movement ==========================
		var moveForce = 30; // max popup movement in pixels
		var rotateForce = 20; // max popup rotation in deg

		$(document).mousemove(function(e) {
			var docX = $(document).width();
			var docY = $(document).height();

			var moveX = (e.pageX - docX/2) / (docX/2) * -moveForce;
			var moveY = (e.pageY - docY/2) / (docY/2) * -moveForce;

			var rotateY = (e.pageX / docX * rotateForce*2) - rotateForce;
			var rotateX = -((e.pageY / docY * rotateForce*2) - rotateForce);

			$('.movement-panel')
				.css('left', moveX+'px')
				.css('top', moveY+'px')
				.css('transform', 'rotateX('+rotateX+'deg) rotateY('+rotateY+'deg)');
		});
		
		
		// Landing Three ==========================
		var scene = new THREE.Scene();
		var camera = new THREE.PerspectiveCamera( 50, window.innerWidth / window.innerHeight, 0.1, 1000 );

		var renderer = new THREE.WebGLRenderer({alpha: true});
		renderer.setSize( window.innerWidth, window.innerHeight );
		document.body.appendChild( renderer.domElement );

		var geometry = new THREE.SphereGeometry( 4 );
		var material = new THREE.MeshBasicMaterial( {
			color: 0x333333,
			wireframe: true
		} );

		var sphere = new THREE.Mesh( geometry, material );
		var sizer = true;

		scene.add( sphere );
		camera.position.z = 5;

		function render() {
			requestAnimationFrame( render );
			sphere.rotation.x += 0.001;
			sphere.rotation.y += 0.001;

			if(sphere.scale.x <= -1.1) sizer = false;
			if(sphere.scale.x >= 1.1) sizer = true;

			if(sizer) {
				sphere.scale.x -= 0.00001;
				sphere.scale.y -= 0.00001;
				sphere.scale.z -= 0.00001;
			} else {
				sphere.scale.x += 0.001;
				sphere.scale.y += 0.001;
				sphere.scale.z += 0.001;
			}

			renderer.domElement.id = 'landing-three';
			renderer.render( scene, camera );
		}

		//resize del canvas
		window.addEventListener( 'resize', onWindowResize, false );
		function onWindowResize(){
			camera.aspect = window.innerWidth / window.innerHeight;
			camera.updateProjectionMatrix();
			renderer.setSize( window.innerWidth, window.innerHeight );
		}

		//renderizzo tutto
		render();
		
		
		// Bxslider  ==========================
		$('.bxslider.left').bxSlider({
		  mode: 'vertical',
		  pager:false,
		  controls:false,
		  infiniteLoop:true,
		  auto:true,
		  speed:600,
		  pause:3000
		});


		$('.bxslider.right').bxSlider({
		  mode: 'vertical',
		  pager:false,
		  controls:false,
			infiniteLoop:true,
			auto:true,
			speed:600,
			pause:3000,
		  autoDirection: 'previous',
		});
		
		// SVG Wave ==========================
		var svg = document.querySelector('#wave-anim');
		var phase = 0;
		var config = {
		  wave_count: 2,
		  min_amplitude: .7,
		  max_amplitude: 1,
		  min_width: 1.5,
		  max_width: 2,
		  max_phase_drift: Math.PI*2,
		  min_period: 5,
		  max_period: 2.5,
		  min_offset_x: -35,
		  max_offset_x: -30,
		  min_offset_y: -2,
		  max_offset_y: 2
		}
		var waves = [];

		function random(min, max){
		  return min+Math.random()*~~(max-min);
		}

		function draw(){
		  svg.innerHTML='';

		  for(let wave of waves){
			let height = wave.center_y+wave.dy*Math.sin((phase+wave.phase_drift)/wave.period)
			svg.innerHTML += '<path class="wave'+wave.id+'" d="M'+wave.start_x+' '+wave.center_y+' Q'+wave.control_x+' '+height+' '+wave.center_x+' '+wave.center_y+' T'+wave.end_x+' '+wave.center_y+'"/>'
		  }
		}

		function randomizeWaves(){
		  let viewbox = svg.getAttribute('viewBox').split(' ');
		  let waves = [];
		  for(i=0;i<config.wave_count;i++){

			let amplitude = random(config.min_amplitude, config.max_amplitude);
			let width = random(config.min_width, config.max_width);
			let center_x = viewbox[2]/2+random(config.min_offset_x, config.max_offset_x);
			let center_y = viewbox[3]/2+random(config.min_offset_y, config.max_offset_y);
			let dx = width*viewbox[2]/2;
			let dy = amplitude*viewbox[3]/2;
			let start_x = center_x-dx;
			let end_x = center_x+dx;
			let control_x = center_x-dx/2;

			waves.push({
			  id: i,

			  amplitude: amplitude,
			  width: width,
			  phase_drift: random(0, config.max_phase_drift),
			  period: random(config.min_period, config.max_period),
			  dx: dx,
			  dy: dy,
			  start_x: start_x,
			  end_x: end_x,
			  center_x: center_x,
			  center_y: center_y,
			  control_x: control_x
			});
		  }
		  return waves;
		}

		waves = randomizeWaves();

		setInterval(()=>{draw();phase+=0.01}, 16)
		
	</script>
<% end %>