<!-- template: 首頁登入 -->

<div class="container-lg">
	<div class="index-content">
	    <main class="main">
            <div class="page-title">
                <h3>公告</h3>
            </div>
			<div class="text-content">
			    <p><%= lorem_paragraphs(2) %></p>
				<p><%= lorem_paragraphs(3) %></p>
				<p><%= lorem_paragraphs(1) %></p>
			</div>
		</main>
		<aside class="aside">
            <div class="login-card">
                <h4><span>登入</span></h4>
				<div class="card-bd">
					<a href="#" class="btn btn-block btn-lg btn-primary btn-rounded">SSO</a>
				</div>
            </div>
		</aside>
	</div>
</div>



<% content_for :js do %>

<% end %>

