/* `Footer
-----------------------------------------------------------------------------*/

footer.footer {
	padding-bottom: 60px;
	color: #999;
	line-height: 1.8;
	
	.general-links, .custom-icon {
		li { display: inline-block; }
	}
	
	.general-links {
		li {
			margin-right: 15px;
			position: relative;
			&:after {
				content: "";
				background: #e5e5e5;
				border-radius: 50%;
				width: 5px;
				height: 5px;
				position: absolute;
				top: 12px;
				right: -12px;
			}
			&:last-child {
				margin-right: 0;
				&:after {
					content: none;
				}
			}
		}
	}
	
	.contact {
		i {
			margin-right: 10px;
			width: 15px;
			text-align: center;
		}
	}
	
	.footer-bt {
		display: flex;
		justify-content: space-between;
		p { margin-bottom: 0; }
	}
	.icon-ft {
		img {
			transition: all .15s ease-in-out;
			filter: grayscale(1);
			width: 48px;
			height: 48px;
		}
		.fb { opacity: 0.8; }
		&:hover {
			img { filter: grayscale(0); }
		}
	}
}

.footer-inner {
	border-top: 1px solid #e5e5e5;
	display: flex;
	justify-content: space-between;
	margin-bottom: 2rem;
	padding-top: 3.75rem;
}

/* `Responsive
-----------------------------------------------------------------------------*/

