/* `Header
-----------------------------------------------------------------------------*/

header.header {
	margin-bottom: 3.75rem;
	.navbar {
		background: $main_lighten_color;
		box-shadow: 0 1px 1px rgba(#000, .05);
		border-radius: 0 0 6px 6px;
		padding: 0;
	}
	.nav-item {
		padding: 0 0.5rem 0;
		font-size: 16px;
		position: relative;
		&:after {
			content: "";
			background: rgba(0,0,0, .05);
			width: 1px;
			height: 16px;
			position: absolute;
			right: 0;
			top: 13px;
		}
		&:last-child {
			&:after { content: none; }
		}
	}
	.nav-link {
		padding-top: 0;
		padding-bottom: 0;
		height: 40px;
		line-height: 40px;
		color: $main_darken_color !important;
		&:hover { color: #000 !important; }
	}
	.navbar-toggler {
		margin: 6px 0;
	}
}

.header-bar {
	background: $main_color;
	border-bottom: 1px solid rgba(#000, .07);
	padding-left: 16px;
	font-size: 13px;
	text-align: right;
}

.header-toolbar {
	display: inline-block;
	li {
		display: inline-block;
		position: relative;
		&:after {
			content: "";
			background: rgba(#fff, .3);
			width: 1px;
			height: 10px;
			position: absolute;
			right: -2px;
			top: 9px
		}
		&:last-child:after {
			content: none;
		}
	}
	a {
		display: inline-block;
		padding: 4px 6px;
		color: #fff;
		&:hover {
			background: rgba(#fff, .85);
			color: $main_darken_color;
		}
	}
	li {
		&:last-child a { padding-right: 20px; }
	}
}

.header-wrap {
    background: $main_color;
	padding: .6rem 1.25rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	.brands {
		a {
            align-items: center;
			color: #fff;
            &:hover { text-decoration: none; }
		}
        h1 { margin: 0; }
	}
	.h1-logo {
		display: inline-block;
		width: auto;
		height: 80px;
		vertical-align: middle;
	}
    .logo {
        margin-right: 20px;
    }
    .sub {
		font-family: 'Roboto', '\5FAE\8EDF\6B63\9ED1\9AD4', Helvetica, Arial, sans-serif;
        line-height: 1.2;
		color: #fff;
		font-size: 1.8rem;
		font-weight: bold;
        > span {
            display: block;
        }
		.en {
			font-size: 1.25rem;
			font-weight: 300;
		}
    }
}

