
/* `Footer
-----------------------------------------------------------------------------*/

footer.footer {
	color: #858585;
	.footer-inner {
		display: flex;
		justify-content: space-between;
		border-top: 1px dashed #ddd;
		padding: 60px 0 100px;
	}
	.block-transition {
		width: 50%;
	}
    .ft-block { width: 50%; }
	.menu-item.contact {
		li {
			margin-bottom: .25rem;
			padding-left: 30px;
			position: relative;
            &:last-child { margin-bottom: 0; }
		}
		.fas {
			width: 16px;
			text-align: center;
			font-size: 14px;
			color: #ccc;
			position: absolute;
			left: 0;
			top: 5px;
			top: 5px;
		}
	}
	.end-content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
		text-align: end;
	}
    .ft-links {
        a {
            display: inline-block;
            margin-left: 1rem;
        }
    }
    address {
        margin-bottom: 0;
        font-size: .9375rem;
    }
    .browser {
        margin-top: 3rem;
        font-size: .9375rem;
    }
	a {
		color: #000;
		&:hover {
			color: $link;
		}
	}
}



