
/* `Header
-----------------------------------------------------------------------------*/

header.header {
	position: relative;
	margin-bottom: 4rem;
	.dropdown-toggle {
		background-color: transparent;
		border: none;
		padding: 0;
	}
	.header-function { text-align: end; }
    .dropdown-toggle {
        color: #fff;
    }
	.sys-subject {
        display: flex;
        align-items: center;
		background: #fff;
        height: 72px;
		h2 {
            margin-bottom: 0;
            padding: 0 20px;
            font-size: 1.5rem;
            font-weight: bold;
        }
	}
    .opening {
        border-left: 1px solid $base_border_color;
        padding: 0 20px;
        .label {
            color: #d67014;
        }
        .date {
            margin-left: 1rem;
            font-weight: 500;
        }
    }
}

.header-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
	flex-direction: row-reverse;
    background: $main_color;
    padding-right: 20px;
    color: #fff;
	.account {
		padding: 0 0.5rem;
	}
	.brands {
		display: flex;
		align-items: center;
	}
    .brand-link {
        display: flex;
        align-items: center;
        color: #fff;
        &:hover {
            background: rgba(#000, .1);
            color: rgba(#fff, .7);
            .h1-logo { transform: scale(1.05); }
        }
    }
    .logo {
        background: #000;
        padding-top: 12px;
        width: 120px;
        height: 120px;
    }
	.h1-logo {
		display: block;
        margin: 0 auto;
		width: auto;
		height: 96px;
        transition: all 0.2s ease-in-out;
	}
	.sub {
		padding: 0 2rem;
        font-size: 2.25rem;
        font-weight: bold;
	}
}

.header-right {
	text-align: end;
}