/* design by fire */

@import "base";
@import "widgets/sidenav";

/* DateTimepicker ------------------------------------------------------------------------*/
@import "widgets/bootstrap-datetimepicker.min";
@import "widgets/datetimepicker";

/* Select2 ------------------------------------------------------------------------*/
@import "widgets/select2.min";

/* `Stuff
-----------------------------------------------------------------------------*/

.modal-body {
    .form-label { font-weight: bold; }
} 

.table-responsive {
    margin-bottom: 1rem;
    .table { margin-bottom: 0; }
}

.table td {
    transition: all 0.1s ease-in-out;
}

.table-borderless {
    tbody {
        tr:nth-child(odd) {
            background: #f3f6f5;
        }
    }
}

#backtop {
    display: inline-block;
    background-color: $main_color;
    width: 50px;
    height: 50px;
    text-align: center;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s, opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
	cursor: pointer;
	&:after {
        content: "\f077";
        font-family: Font Awesome\ 5 Free;
        font-weight: 900;
        font-style: normal;
        font-size: 1em;
        line-height: 50px;
        color: #fff;
	}
	&.show {
		opacity: 1;
		visibility: visible;
	}
}

.video-wrapper {
	margin-bottom: 20px;
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
	iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
	}
}

.form-group {
	margin-bottom: 1rem;
}

.page-content {
    display: flex;
    justify-content: space-between;
	margin-bottom: 4rem;
    .aside {
		margin-right: 50px;
        width: $aside_width;
        min-width: $aside_width;
    }
	.main {
		flex: 1;
		overflow: hidden;
	}
	&.has-sticky {
		display: flow-root;
		position: relative;
		overflow: hidden;
		.main {
			margin-left: $aside_width + 50px;
		}
		.aside {
			margin-right: 0;
			position: absolute;
			float: left;
		}
	}
}

.is-fixed {
    position: fixed;
    top: 20px;
	width: $aside_width;
}

.page-title {
	margin-bottom: 2rem;
	h3 {
		font-weight: bold;
		color: #888;
	}
}

.section-title {
	margin-bottom: 2rem;
	padding-left: 1.25rem;
	position: relative;
	&:before, &:after {
		content: "";
		background: $base_border_color;
		position: absolute;
		z-index: -1;
	}
	&:before {
		width: 100%;
		height: 1px;
		left: 0;
		right: 0;
		top: 12px;
	}
	&:after {
		border-radius: 50%;
		width: 9px;
		height: 9px;
		left: 0;
		top: 8px;
	}
	h4 {
		display: inline-block;
		background: #fff;
		margin-bottom: 0;
		padding: 0 8px;
		font-weight: bold;
		line-height: 1.2;
	}
    small { font-weight: 400; }
    small + small {
        display: inline-block;
        margin-left: 1rem;
        font-size: 1rem;
        font-weight: 400;
        color: #666;
    }
}

.section-sub-title {
    margin-bottom: 1.5rem;
    padding-left: 1.75rem;
    position: relative;
    &::before {
        content: "";
        background: $magenta_color;
        border-radius: 50%;
        position: absolute;
        left: 0;
        top: 7px;
        width: 8px;
        height: 8px;
    }
}

.mb-8 { margin-bottom: 5rem; }

.wrap-title {
	margin-bottom: 2.5rem;
	h4 {
		display: inline-block;
		background: #fff;
		margin-bottom: 0;
        font-size: 1.75rem;
        font-weight: bold;
		line-height: 1;
        position: relative;
        &:after {
            content: "";
            background: #99222d;
            width: 40px;
            height: 2px;
            position: absolute;
            right: -56px;
            top: 45%;
        }
	}
}

.project-title {
    margin-bottom: 5rem;
	h3 {
		background: #fff;
		margin-bottom: 0;
		font-weight: 300;
        font-size: 2rem;
        text-align: center;
		line-height: 1;
        position: relative;
        span {
            display: inline-block;
            background: #fff;
            padding: 0 1rem;
            position: relative;
            z-index: 1;
        }
        &:before,
        &:after {
            content: "";
            background: #99222d;
            height: 1px;
            position: absolute;
            left: 0;
            right: 0;
            top: 45%;
        }
        &:after {
            top: 55%;
        }
	}
    &.performance-title {
        h3 {
            margin-bottom: 2rem;
            font-weight: bold;
            &:before,
            &:after {
                background: #c3d4c9;
            }
        }
        .university {
            text-align: center;
            position: relative;
            span {
                display: block;
                &.ch { font-size: 1.5rem; }
                &.en { font-size: 1.125rem; }
            }
            & + .university {
                margin-top: 1.25rem;
                &:after {
                    content: "";
                    background: #666;
                    border-radius: 50%;
                    width: 6px;
                    height: 6px;
                    position: absolute;
                    top: -13px;
                    left: 50%;
                    margin-left: -3px;
                }
            }
        }
    }
}

.customized-card {
    border-color: #ebf0ed;
    margin-bottom: 1.5rem;
    .card-head {
        background: #f0f2f1;
        padding: 1.25rem;
        h5 {
            margin-bottom: 0;
            font-size: 1.375rem;
            font-weight: bold;
        }
    }
    .card-body { padding: 1.25rem; }
    h6 {
        margin: 1rem 0;
        font-size: 1.125rem;
        font-weight: bold;
    }
}

.project-calendar {
    font-size: 1.125rem;
    i { margin-right: 1rem; }
}

.notice-wrapper {
	border-radius: .375rem;
	background: url(../assets/dot.png) left top repeat;
	margin-bottom: 3rem;
	padding: 1.25rem;
	.notice-title { color: orangered; }
}

.required {
    display: inline-block;
    padding-right: 0.25rem;
    font-weight: bold;
    color: red;
}

section.section {
	margin-top: 3rem;
}

.form-action {
	display: flow-root;
	border-top: 1px solid $base_border_color;
	margin: 3rem 0;
	padding-top: 3rem;
	text-align: center;
	position: relative;
	.backhome {
		position: absolute;
		left: 0;
		top: 3rem;
	}
	.has-history {
		position: absolute;
		right: 0;
		top: 3rem;
	}
}

#widget-overlay {
    position: fixed;
	display: none;
    top: 0;
    right: 0;
    left: 0;
    z-index: 997;
    height: 120vh;
    background-color: rgba(0, 0, 0, 0.5);
    will-change: opacity;
}

.index-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5rem;
    .announcement-wrap {
        width: 70%;
    }
    .login-card {
        width: 25%;
    }
}

.table-hover > tbody > tr:hover > * {
    --bs-table-accent-bg: disabled;
    background-color: #f5f7f6;
}

/* `login
-----------------------------------------------------------------------------*/

.login-wrapper {
	margin: 8rem auto 10rem;
	max-width: 480px;
}

.login-card {
	.card-hd {
		border-bottom: 1px dotted $base_border_color;
		margin-bottom: 2.5rem;
		padding-bottom: 1.25rem;
		h4 {
			margin-bottom: 0;
			//font-weight: bold;
		}
	}
}

/* `Index & Plan & Performance
-----------------------------------------------------------------------------*/

.index-content {
	display: flex;
	margin-bottom: 4rem;
	.main {
		flex: 1;
	}
	.aside {
		margin-left: 50px;
		width: 320px;
	}
	.schedule-wrapper {
		margin-top: 65px;
	}
	.schedule-item {
		margin-bottom: 2rem;
		.date {
			background: url(../assets/dot.png) left top repeat;
			padding: 1.25rem;
            font-family: "Roboto", sans-serif;
            font-size: 1.25rem;
            font-weight: 700;
            color: #ed6d00;
			i {
				margin-right: .375rem;
				color: #aaa;
			}
		}
	}
}

.partner-wrap {
    margin-bottom: 5rem;
    position: relative;
    .maintain-link {
        position: absolute;
        right: 0;
        top: .25rem;
    }
}

.progress-wrap {
    margin-bottom: 5rem;
}

.plan-notice-wrapper {
    border-bottom: 1px solid #ebf0ed;
    margin-bottom: 3rem;
    padding-bottom: 3rem;
}

.plan-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 48px 5%;
    margin-top: 3rem;
    .item-plan {
        width: 30%;
    }
    .plan-hd {
        background: #f9f0ec;
        margin-bottom: 1rem;
        padding: 4rem 0 1rem;
        text-align: center;
        position: relative;
        &:after {
            content: "\f00d";
            font-family: "Font Awesome 5 Free";
            font-size: 2rem;
            font-weight: 900;
            color: #ecc8c3;
            margin-left: -11px;
            position: absolute;
            left: 50%;
            top: 20%;
        }
        span {
            display: block;
            margin-top: 1rem;
            font-weight: bold;
        }
    }
    .done {
        .plan-hd {
            background: #e7f1ea;
            color: #578565;
            &:after {
                content: "\f00c";
                color: #84be95;
            }
        }
    }
}

.account-wrapper,
.subtotal-wrapper {
    background: url(../assets/bg-striped.png) left top repeat;
    padding: 1.25rem;
    text-align: end;
    position: relative;
    h5 {
        margin-bottom: 0;
        font-size: 1.188rem;
        font-weight: bold;
        & + h5 { margin-top: .5rem; }
    }
    .btn-add {
        margin-top: -19px;
        position: absolute;
        left: 0;
        top: 50%;
    }
}

.subtotal-wrapper {
    background: transparent;
    border-top: 3px double $base_border_color;
    border-bottom: 3px double $base_border_color;
    padding: .875rem 0;
    h5 {
        font-weight: 500;
    }
}

.performance-list {
    display: flex;
    flex-wrap: wrap;
    .item-card {
        border: 1px solid #e7ebe8;
        margin-left: -1px;
        margin-top: -1px;
        padding: 3rem 2rem;
        width: 33.33333%;
        color: #333;
        text-align: center;
        h5 {
            small {
                display: block;
                font-weight: 300;
                color: #333;
            }
            & + h4 { margin-top: 1rem; }
        }
        &:first-child, &:nth-child(3n+1) {
            margin-left: 0;
        }
        &:first-child, &:nth-child(2), &:nth-child(3) {
            margin-top: 0;
        }
    }
    .schedule {
        padding: 0 0 1rem;
        line-height: 1.2;
        span {
            display: block;
            font-weight: 700;
            font-size: 0.875em;
            &.number {
                font-size: 2.5rem;
                font-weight: 300;
                color: #b72dde;
            }
        }
    }
    .card-ft {
        margin-top: .5rem;
        color: $primary-color;
        transition: all 0.2s ease-in-out;
        i { transition: all 0.2s ease-in-out; }
    }
    .item-card:hover {
        background: #f7f9f8;
        .card-ft {
            color: #333;
            i { transform: translateX(4px); }
        }
    }
}

.performance-content {
    border-top: 1px solid $base_border_color;
    margin-top: -2rem;
    .sidenav, .main { padding-top: 3rem; }
    .sidenav {
        border-right: 1px solid #e5e5e5;
        margin-bottom: 1.5rem;
    }
    .side-navigation {
        .nav-item { border-right: none; }
    }
}

.test-wrapper {
    padding-left: .25rem;
    .wrap-item {
        border-bottom: 1px dashed #e5e5e5;
        margin-bottom: 2rem;
        padding-bottom: 2rem;
        &:last-child {
            border-bottom: none;
            margin-bottom: 4rem;
            padding-bottom: 0;
        }
    }
}

.head-question {
    margin-bottom: 4rem;
}

.select2bootstrap {
    width: 100%;
}

.select2-container {
    .select2-selection--single {
        border-radius: 0.375rem;
        border-color: #ced4da;
        height: 38px;
        .select2-selection__rendered {
            padding: 0.375rem 0.75rem;
        }
        .select2-selection__arrow {
            top: 6px;
            right: 6px;
        }
    }
}

.tab-content {
    .section-title {
        padding-left: 1.75rem;
        &::before {
            background: transparent;
            border: 1px solid #f3652f;
            border-radius: 50%;
            width: 23px;
            height: 23px;
            left: 0;
            top: 1px;
        }
        &::after {
            background: #f3652f;
            left: 7px;
        }
        h4 { background: transparent; }
    }
}

.customization-select {
    border-radius: .25rem;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3E%3C/svg%3E");
    background-color: $main_color;
    margin: 0 auto;
    width: 320px;
    color: #fff;
}

.funding-results-wrap {
    background: #f3f7ff url(../assets/bg-striped2.png) left top repeat;
    border-radius: 1rem;
    padding: 2rem;
    h3 {
        font-weight: bold;
        margin-bottom: 1.5rem;
    }
    .form-control:disabled {
        background-color: #fff;
        font-size: 17px;
    }
}

.head-select {
    background: url(../assets/bg-striped2.png) left top repeat;
    position: relative;
    &::after {
        content: none;
        background: #e2e3e4;
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        height: 1px;
        z-index: -1;
    }
}

.memorandum-wrap {
    padding-top: 1rem;
}

.modal-other-wrap {
    display: none;
}

.form-switch.form-switch-lg {
    display: flex;
    align-items: end;
    .form-check-input {
        height: 2rem;
        width: calc(3rem + 0.75rem);
        border-radius: 4rem;
    }
    .form-check-label {
        display: inline-block;
        padding-left: 1rem;
        font-size: 1.375rem;
        font-weight: bold;
        line-height: 32px;
        opacity: .5;
    }
    .form-check-input:checked ~ .form-check-label {
        opacity: 1;
    }
}

.form-switch.form-switch-md {
    .form-check-input {
        height: 1.5rem;
        width: calc(2rem + 0.75rem);
        border-radius: 3rem;
    }
    .form-check-label {
        display: inline-block;
        padding-left: .5rem;
        line-height: 34px;
        opacity: .5;
    }
    .form-check-input:checked ~ .form-check-label {
        opacity: 1;
    }
    .form-check-input:checked {
        background-color: $purple_color;
        border-color: $purple_color;
    }
}

.section-sub-wrapper {
    margin-bottom: 3rem;
    .wrap-item {
        background: #fafafa;
        border-radius: 8px;
        margin-bottom: 6px;
        padding: 1.5rem;
    }
    .item-title {
        margin-bottom: 1rem;
        font-size: 17px;
        font-weight: bold;
    }
}

/* `Photo Upload
-----------------------------------------------------------------------------*/

.upload-photo-wrapper {
    margin-bottom: 2rem;
    label {
        display: inline-block;
        margin-right: .5rem;;
    }
}

#image-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
    padding: 10px;
    img {
        width: 100%;
        height: auto;
        opacity: 0;
        transition: opacity 1s ease-in-out;
        border-radius: 8px;
    }
}

.image-wrapper {
    position: relative;
    display: inline-block;
    margin: 10px;
    .close-btn {
        position: absolute;
        top: 5px;
        right: 5px;
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
        border: none;
        border-radius: 50%;
        width: 24px;
        height: 24px;
        font-size: 16px;
        cursor: pointer;
        z-index: 2;
    }

    .close-btn:hover {
        background-color: rgba(0, 0, 0, 0.8);
    }
}

.image-preview {
    max-width: 200px;
    opacity: 1 !important;
    transition: opacity 0.3s ease-in-out;
}

/* `Committee
-----------------------------------------------------------------------------*/

.project-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $base_border_color;
    .project-item {
        padding: 4rem;
        width: calc(50% - 1px);
        text-align: center;
        &:first-child {
            padding-left: 0;
        }
        & + .project-item {
            border-left: 1px solid $base_border_color;
            padding-right: 0;
        }

        h4 { margin-bottom: 1.25rem; }
        p {
            margin-bottom: 1.25rem;
            font-size: 1.125rem;
            span {
                display: block;
                font-weight: 700;
                color: $magenta_color;
            }
        }
    }
}

.related-link {
    margin-top: 2rem;
    text-align: center;
    a {
        margin: 0 .5rem;
    }
}

/* `Step
-----------------------------------------------------------------------------*/

.step-bar {
	margin: 60px auto;
	text-align: center;
	ul, li {
		display: inline-block;
		list-style: none;
		margin: 0;
		padding: 0;
	}
	li {
		float: left;
		width: 240px;
		font-weight: 400;
	}
	.step {
		display: block;
		border-radius: 20px;
		border: 2px solid #ccc;
		margin: 0 0 12px 100px;
		width: 40px;
		height: 40px;
		font-size: 20px;
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
		color: #666;
		line-height: 36px;
		position: relative;
		&:before, &:after {
			content: "";
			background: #ccc;
			width: 85px;
			height: 1px;
			position: absolute;
			top: 15px;
		}
		&:before {
			border-radius: 0 2px 2px 0;
			left: -104px;
		}
		&:after {
			border-radius: 2px 0 0 2px;
			right: -104px;
		}
	}
    h4 {
		padding: 0 0.5rem;
		font-size: 1.15rem;
		font-weight: 400;
	}
	.brief {
        font-size: 0.85rem;
		font-weight: 300;
        line-height: 1.4;
		color: #aaa;
	}
	li {
		&:first-child .step:before, &:last-child .step:after {
			content: none;
		}
	}
	.active {
		color: $main_color;
	    .step {
			border-color: $main_color;
			color: $main_color;
			&:before {
				background: $main_color;
			}
		}
		h4 { font-weight: 700; }
	}
	.done {
		color: #000;
		.step {
			background: $main_color;
			border-color: $main_color;
			color: #fff;
			&:before, &:after {
				background: $main_color;
			}
            &:hover {
                background: lighten($main_color, 10);
                border-color: lighten($main_color, 10);
            }
		}
	}
}

/* `Upload
-----------------------------------------------------------------------------*/

.upload-wrapper {
	display: flex;
	flex-wrap: wrap;
	.upload-item {
		margin-bottom: 3rem;
		margin-right: 4%;
		width: 48%;
		&:nth-child(even) {
			margin-right: 0;
		}
	}
	.upload-ft {
		display: flex;
		justify-content: space-between;
		.ft-left {
			display: flex;
			align-items: center;
		}
	}
	.ft-action {
		display: flex;
		align-items: center;
	}
	.file-pill {
		border-radius: 5rem;
		border: 1px solid $base_border_color;
		margin-left: 1rem;
		padding: .25rem 2.25rem .25rem 1rem;
		height: 32px;
		position: relative;
		.filename {
			display: inline-block;
            max-width: 320px;
            overflow : hidden;
            text-overflow : ellipsis;
            white-space : nowrap;
        }
		.btn {
            background: #e1b1ba;
			box-shadow: none;
            border-color: #e1b1ba;
			margin-left: .5rem;
			padding: 0 0.375rem;
			position: absolute;
			right: .25rem;
			top: .25rem;
			&:hover, &:active {
				background: #dc3545;
				border-color: #dc3545;
			}
			&:focus {
				background: #dc3545;
				border-color: #dc3545;
				box-shadow: 0 0 0 0.25rem rgba(#dc3545, .5);
			}
		}
        &.preview-pill {
            padding: .25rem 1rem;
        }
	}
	&.fluid-wrapper {
		display: block;
		.upload-item {
			border-radius: .25rem;
			border: 1px dotted #ddd;
			margin-right: 0;
			margin-bottom: 1.5rem;
			padding: 1.25rem;
			width: 100%;
		}
	}
	.additional-info {
		color: #df3c3c;
	}
	.upload-ft {
		display: flex;
		justify-content: space-between;
		.ft-left {
			display: flex;
		}
	}
}

.btn-history {
	border: 1px solid #fff;
	box-shadow: none !important;
	&:hover, &:active {
		background: #f8f8f8 !important;
		border: 1px solid #f8f8f8 !important;
		color: #000 !important;
	}
	&:focus {
		background: #eee !important;
		border: 1px solid #eee !important;
		color: #000 !important;
	}
}

/* `Censor
-----------------------------------------------------------------------------*/

.main-censor {
    .basic-info {
        display: flex;
        align-items: flex-end;
        border-bottom: 1px dashed #ddd;
        padding: .875rem 0;
        .label {
            padding-right: 5%;
            width: 25%;
            font-size: .9375rem;
            font-weight: bold;
            color: #666;
            text-align: end;
        }
        .info {
            width: 75%;
            font-size: 1.125rem;
        }
        &.document-item {
            border-bottom: none;
            align-items: center;
            .label {
                width: 50%;
                font-size: 1.125rem;
            }
            .info { width: 50%; }
        }
    }
    .score-menu {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 2rem;
        .score-item {
            width: 45%;
            align-items: center;
            &:nth-child(odd) {
                margin-right: 5%;
            }
            &:nth-child(even) {
                margin-left: 5%;
            }
            .label {
                width: 75%;
                font-size: 1.125rem;
                text-align: start;
            }
            .form-label { margin-bottom: 0; }
            .info { width: 25%; }
        }
    }
}



























