<!-- template: 登入 -->

<div class="container-lg">
	<div class="login-wrapper">
		<div class="login-card">
		    <div class="card-hd text-center">
			    <h3>登入</h3>
			</div>
			<div class="card-bd">
                <div class="form-group">
                    <label for="exampleFormControlInput1" class="form-label">請輸入 Email</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com" />
                </div>
                <div class="form-group">
                    <label for="exampleFormControlInput2" class="form-label">請輸入密碼</label>
                    <input type="password" class="form-control" id="exampleFormControlInput2" />
                </div>
                <div class="form-group">
                    <label for="loginInput4" class="form-label">驗證碼</label>
                    <div class="d-flex align-items-center">
                        <span class="me-1"><input type="text" class="form-control" id="loginInput4" /></span>
                        <span class="me-1"><img class="captcha" src="http://nfu-map.dev.com.tw/common/captcha.image" /></span>
                        <span>
                            <button class="btn btn-xs btn-outline-primary" type="button"><i class="fas fa-sync-alt"></i></button>
                        </span>
                    </div>
                </div>
			</div>
            <div class="text-center my-5">
                <button class="btn btn-lg btn-primary" type="button">登入</button>
                <a href="#" class="btn btn-lg btn-light">註冊</a>
            </div>
            <hr>
            <p class="text-center mt-5">忘記密碼? <a href="#">請按此</a></p>
		</div>
	</div>
</div>



<% content_for :js do %>

<% end %>

