
@import "widgets/variables";

/* `Header
-----------------------------------------------------------------------------*/

header.header {
	position: relative;
	margin-bottom: 4rem;
	.dropdown-toggle {
		background-color: transparent;
		border: none;
		padding: 0;
		transition: all 0.2s ease-in-out;
        &:hover {
            background: rgba(#fff, .65);
            color: $com_color;;
        }
	}
	.sys-subject {
		background: url("../assets/dot2.png") left top repeat;
		.inner {
			background: $com_color;
			padding: 1.5rem 0 1.5rem 1.5rem;
			position: relative;
			&:before, &:after {
				content: "";
				background: #333 url("../assets/dot.png") left top repeat;
				width: 1.5rem;
				position: absolute;
				top: 0;
				bottom: 0;
			}
			&:before {
				left: -1.5rem;
			}
			&:after {
				right: -1.5rem;
			}
		}
		h2 {
			margin-bottom: 0;
			color: #fff;
		}
	}
	.dropdown-menu {
		border-radius: 0;
		border-color: #4d4d4d;
	}
}

.header-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
	flex-direction: row-reverse;
    height: 120px;
	.brands-link {
		display: flex;
		align-items: center;
		color: #333;
	}
	.h1-logo {
		display: block;
		width: auto;
		height: 88px;
	}
	.sub {
		margin-left: 1rem;
		span {
			display: block;
			font-size: 1.5rem;
		}
		.en {
			font-size: 1rem;
			line-height: 1.3;
		}
	}
}

.header-right {
	text-align: end;
	.language {
		margin-bottom: .75rem;
		position: relative;
		a {
			display: inline-block;
			padding-left: 24px;
			color: #999;
			position: relative;
            &:before {
                content: "\f57d";
                font-family: "Font Awesome 5 Free";
                font-weight: 900;
				color: #888;
                position: absolute;
                left: 0;
                top: 0;
				transition: all 0.2s ease-in-out;
			}
			&:hover {
				color: #000;
				&:before { color: #bfbfbf; }
			}
		}
	}
}

