/* `Footer
-----------------------------------------------------------------------------*/

footer.footer {
	padding-bottom: 60px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
	font-size: 15px;
	color: #aaa;
    .container { position: relative; }
	.footer-inner {
		display: flex;
		justify-content: space-between;
        border-top: 1px solid #e3eaeb;
        margin-top: 50px;
        padding: 50px 0;
	}
    address, .contact p, .language { line-height: 1.5; }
    .contact {
        p { margin-bottom: 0; }
		.fa {
			margin-right: 0.5rem;
			width: 20px;
			text-align: center;
		}
    }
}