/* `Header
-----------------------------------------------------------------------------*/

header.header {
	border-top: 6px solid $main_color;
	margin-bottom: 3rem;
	position: relative;
	&:after {
		content: "";
		background: linear-gradient(180deg, rgba(226, 236, 240, 1)0%, rgba(245, 248, 249, 1)100%); 
		position: absolute;
		height: 148px;
		left: 0;
		right: 0;
		top: 0;
		z-index: -1;
	}
}

.header-wrap {
	padding: 1.875rem 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	.brands {
		a {
            align-items: center;
            &:hover { text-decoration: none; }
		}
        h1 { margin: 0; }
	}
	.h1-logo {
		display: inline-block;
		border-radius: 50%;
		box-shadow: 0 12px 12px rgba(0, 0, 0, .1), 0 -12px 12px rgba(255, 255, 255, 1);
		margin-right: 20px;
		width: 88px;
		height: auto;
		vertical-align: middle;
	}
    .logo {
		display: flex;
		align-items: center;
        margin-right: 2.5rem;
    }
	.h1-title {
		display: inline-block;
		font-size: 2.5rem;
		font-weight: bold;
		color: #275e79;
	}
    .sub {
		font-size: 1.5rem;
		font-weight: 400;
        line-height: 1.2;
		color: #576468;
		position: relative;
        > span {
            display: block;
            font-size: 24px;
        }
		.en {
			font-size: 20px;
			font-weight: 300;
		}
		&:after {
			content: "";
			background: $secondary_color;
			border-radius: 50%;
			width: 6px;
			height: 6px;
			position: absolute;
			left: -1.25rem;
			top: 0.75rem;
		}
    }
    .account {
		.nav-link {
			padding: 1rem 0 0;
			color: $main_color;
			&:hover { color: $main_darken_color; }
		}
		.show {
			.nav-link { color: $edu_green; }
		}
		.dropdown .dropdown-menu.dropdown-primary .dropdown-item:hover {
			background-color: $edu_green !important;
		}
	}
}
