<!-- template: 填報系統 - 產業需求申請單 -->

<div class="container-lg">
    <div class="page-title">
        <h2>產業需求申請單</h2>
    </div>
    
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="readonly01" class="form-label">申請人姓名</label>
                <input id="readonly01" class="form-control" type="text" value="Ina Venhuizen" disabled readonly>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="readonly02" class="form-label">聯絡信箱</label>
                <input id="readonly02" class="form-control" type="text" value="<%= lorem_email %>" disabled readonly>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="readonly03" class="form-label">職稱</label>
                <input id="readonly03" class="form-control" type="text" value="地質、採礦、鑽探、冶金工程師" disabled readonly>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="readonly04" class="form-label">聯絡電話</label>
                <input id="readonly04" class="form-control" type="text" value="0921855511" disabled readonly>
            </div>
        </div>
        
        <div class="col-12">
            <div class="form-group">
                <label for="exampleInput01" class="form-label">產學合作需求主題</label>
                <input id="exampleInput01" class="form-control" type="text">
            </div>
        </div>
        <div class="col-12">
            <div class="form-group">
                <label for="exampleInput02" class="form-label">需要何種領域背景教師</label>
                <input id="exampleInput02" class="form-control" type="text">
            </div>
        </div>
        <div class="col-12">
            <div class="form-group">
                <label for="exampleInput03" class="form-label">屬意的合作教師系所</label>
                <input id="exampleInput03" class="form-control" type="text">
            </div>
        </div>
        <div class="col-12">
            <div class="form-group">
                <label for="exampleInput04" class="form-label">屬意的合作教師姓名</label>
                <input id="exampleInput04" class="form-control" type="text">
            </div>
        </div>
        <div class="col-12">
            <div class="form-group">
                <label for="exampleInput05" class="form-label">需求描述</label>
                <input id="exampleInput05" class="form-control" type="text">
            </div>
        </div>
    </div>
    
    <div class="form-action">
        <button type="submit" class="btn btn-lg btn-primary">預覽</button>
    </div>
</div>



<% content_for :js do %>

<% end %>

