<!-- template: 填報系統 - 基本資料修改 -->

<div class="container-lg">
    <div class="page-title">
        <h2>基本資料修改</h2>
    </div>
    
    <section class="section">
        <div class="section-title">
            <h4>公司資料</h4>
        </div>
        
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="form-group">
                    <label for="exampleInput01" class="form-label">公司名稱</label>
                    <input id="exampleInput01" class="form-control" type="text" value="捷思達企業股份有限公司" disabled readonly>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="form-group">
                    <label for="exampleInput02" class="form-label">統一編號</label>
                    <input id="exampleInput02" class="form-control" type="text" value="104122541" disabled readonly>
                </div>
            </div>
            <div class="col-lg-2 col-md-6">
                <div class="form-group">
                    <label for="exampleInput03" class="form-label">負責人</label>
                    <input id="exampleInput03" class="form-control" type="text" value="王俊欽">
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="form-group">
                    <label for="exampleInput04" class="form-label">公司電話</label>
                    <input id="exampleInput04" class="form-control" type="text">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="exampleInput05" class="form-label">所在地址</label>
                    <input id="exampleInput05" class="form-control" type="text">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="exampleInput06" class="form-label">電子信箱</label>
                    <input id="exampleInput06" class="form-control" type="email">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="form-label">公司類別</label>
                    <div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="categoryCheckbox1" value="category01" />
                            <label class="form-check-label" for="categoryCheckbox1">設計產業</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="categoryCheckbox2" value="category02" />
                            <label class="form-check-label" for="categoryCheckbox2">連鎖企業</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="categoryCheckbox3" value="category03" />
                            <label class="form-check-label" for="categoryCheckbox3">公家單位</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="categoryCheckbox4" value="category03" />
                            <label class="form-check-label" for="categoryCheckbox4">其他</label>
                        </div>
                        <div class="d-inline-block">
                            <input id="" class="form-control" type="text" placeholder="請輸入類別名稱">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="exampleInput07" class="form-label">主要產品與服務</label>
                    <input id="exampleInput07" class="form-control" type="text">
                </div>
            </div>
        </div>
    </section>
    
    <section class="section">
        <div class="section-title">
            <h4>聯絡人資料</h4>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="form-group">
                    <label for="exampleInput08" class="form-label">姓名</label>
                    <input id="exampleInput08" class="form-control" type="text">
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="form-group">
                    <label for="exampleInput09" class="form-label">職稱</label>
                    <input id="exampleInput09" class="form-control" type="text">
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="form-group">
                    <label for="exampleInput10" class="form-label">聯絡電話</label>
                    <input id="exampleInput10" class="form-control" type="text">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="exampleInput11" class="form-label">聯絡信箱</label>
                    <input id="exampleInput11" class="form-control" type="text">
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="form-group">
                    <label for="exampleInput12" class="form-label">系統登入帳號</label>
                    <input id="exampleInput12" class="form-control" type="text">
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="form-group">
                    <label for="formFile" class="form-label">您的名片掃描檔</label>
                    <input class="form-control" type="file" id="formFile" />
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <label for="exampleInput13" class="form-label">備註欄</label>
                    <input id="exampleInput13" class="form-control" type="text">
                </div>
            </div>
        </div>
    </section>
    
    <div class="form-action">
        <button type="submit" class="btn btn-lg btn-primary">送出申請</button>
    </div>
</div>



<% content_for :js do %>

<% end %>

