<!-- admin-page: 報名設定 - formEditor 側欄範例 -->

<%= render :partial => "/partials/admin_breadcrumb" %>

<main class="main">
    <div class="page-header">
		<h2>報名表欄位</h2>
		<p>設計報名人填寫的英文版的報名表單。儲存按鈕是從 <code>#form_editor</code> 硬拉上來到固定位置 <small>(    position: absolute;)</small>，wording 字數更改會讓最後更新時間字串的位置不正確，如有以上狀況請找 fire 調整 css。</p>
    </div>
    <div class="col-block block-tabs">
        <ul class="nav nav-tabs nav-justified nav-registration">
            <li class="nav-item"><a href="#" class="active" >報名表單欄位</a></li>
            <li class="nav-item"><a href="#">初審欄位</a></li>
            <li class="nav-item"><a href="#">複審欄位</a></li>
			<li class="nav-item"><a href="#">錄取後欄位</a></li>
        </ul>
        <div class="block-content padding-off">
            <div class="formeditor-action-wrap">
				<div class="group-left">
				    <span class="text-muted">最後更新時間 : 2022-05-09 12:00</span>
				</div>
				<div class="group-right preview-btn-group">
                    <span class="text-preview">預覽</span>
                    <div class="btn-group btn-group-sm btn-flex-group">
                        <a href="#" class="btn btn-angel">
                            <i class="fa fa-database"></i>
                            <span>後端資料頁</span>
                        </a>
                        <a href="#" class="btn btn-angel">
                            <i class="fa fa-desktop"></i>
                            <span>前端網頁版</span>
                        </a>
                        <a href="#" class="btn btn-angel">
                            <i class="fa fa-mobile"></i>
                            <span>前端手機版</span>
                        </a>
                    </div>
				</div>
            </div>
			<div class="formeditor-container">
				<div>
                    <div>
						<div class="row form_editor_row">
						    <div class="col-3 side_element"></div>
							<div class="col-5 edit_area"></div>
							<div class="col-4 side_field">
							    <div class="">
								    <label>選項</label>
									<div class="form-group">
									    <div class="editor_options-wrap">
										    <div class="options-item">
											    <div class="options-hd">
												    <span class="sort">
													    <input class="form-control form-control-sm">
													</span>
													<span class="additional">
                                                        <div class="custom-control form-check form-inline pl-0"><input id="options_des_0" type="checkbox" class="form-check-input"><label for="options_des_0" class="form-check-label">額外輸入</label></div>
													</span>
													<span class="action">
                                                        <div class="btn-group"><button title="" data-toggle="tooltip" type="button" disabled="disabled" class="btn btn-xs btn-default waves-effect waves-light"><i class="fa fa-chevron-up"></i></button><button title="" data-toggle="tooltip" type="button" class="btn btn-xs btn-default waves-effect waves-light"><i class="fa fa-chevron-down"></i></button><button title="" data-toggle="tooltip" type="button" class="btn btn-xs btn-default waves-effect waves-light"><i class="fa fa-times"></i></button></div>
													</span>
												</div>
												<div class="options-bd">
													<div class="language-item">
														<label for="">中文</label><input id="" class="form-control form-control-sm">
													</div>
													<div class="language-item">
														<label for="">英文</label><input id="" class="form-control form-control-sm">
													</div>
													<div class="language-item">
														<label for="">日文</label><input id="" class="form-control form-control-sm">
													</div>
													<div class="language-item">
														<label for="">西班牙文</label><input id="" class="form-control form-control-sm">
													</div>
                                                    <div class="additional-block">
														<h6>額外輸入</h6>
                                                        <div class="language-item">
                                                            <label for="">中文</label><input id="" class="form-control form-control-sm">
                                                        </div>
                                                        <div class="language-item">
                                                            <label for="">英文</label><input id="" class="form-control form-control-sm">
                                                        </div>
                                                        <div class="language-item">
                                                            <label for="">日文</label><input id="" class="form-control form-control-sm">
                                                        </div>
                                                        <div class="language-item">
                                                            <label for="">西班牙文</label><input id="" class="form-control form-control-sm">
                                                        </div>
                                                    </div>
												</div>
											</div>
											
											<div class="options-item">
											    <div class="options-hd">
												    <span class="sort">
													    <input class="form-control form-control-sm">
													</span>
													<span class="additional">
                                                        <div class="custom-control form-check form-inline pl-0"><input id="options_des_0" type="checkbox" class="form-check-input"><label for="options_des_0" class="form-check-label">額外輸入</label></div>
													</span>
													<span class="action">
                                                        <div class="btn-group"><button title="" data-toggle="tooltip" type="button" disabled="disabled" class="btn btn-xs btn-default waves-effect waves-light"><i class="fa fa-chevron-up"></i></button><button title="" data-toggle="tooltip" type="button" class="btn btn-xs btn-default waves-effect waves-light"><i class="fa fa-chevron-down"></i></button><button title="" data-toggle="tooltip" type="button" class="btn btn-xs btn-default waves-effect waves-light"><i class="fa fa-times"></i></button></div>
													</span>
												</div>
												<div class="options-bd">
													<div class="language-item">
														<label for="">中文</label><input id="" class="form-control form-control-sm">
													</div>
													<div class="language-item">
														<label for="">英文</label><input id="" class="form-control form-control-sm">
													</div>
													<div class="language-item">
														<label for="">日文</label><input id="" class="form-control form-control-sm">
													</div>
													<div class="language-item">
														<label for="">西班牙文</label><input id="" class="form-control form-control-sm">
													</div>
                                                    <div class="additional-block">
														<h6>額外輸入</h6>
                                                        <div class="language-item">
                                                            <label for="">中文</label><input id="" class="form-control form-control-sm">
                                                        </div>
                                                        <div class="language-item">
                                                            <label for="">英文</label><input id="" class="form-control form-control-sm">
                                                        </div>
                                                        <div class="language-item">
                                                            <label for="">日文</label><input id="" class="form-control form-control-sm">
                                                        </div>
                                                        <div class="language-item">
                                                            <label for="">西班牙文</label><input id="" class="form-control form-control-sm">
                                                        </div>
                                                    </div>
												</div>
											</div>
											
											<div class="options-item">
											    <div class="options-hd">
												    <span class="sort">
													    <input class="form-control form-control-sm">
													</span>
													<span class="additional">
                                                        <div class="custom-control form-check form-inline pl-0"><input id="options_des_0" type="checkbox" class="form-check-input"><label for="options_des_0" class="form-check-label">額外輸入</label></div>
													</span>
													<span class="action">
                                                        <div class="btn-group"><button title="" data-toggle="tooltip" type="button" disabled="disabled" class="btn btn-xs btn-default waves-effect waves-light"><i class="fa fa-chevron-up"></i></button><button title="" data-toggle="tooltip" type="button" class="btn btn-xs btn-default waves-effect waves-light"><i class="fa fa-chevron-down"></i></button><button title="" data-toggle="tooltip" type="button" class="btn btn-xs btn-default waves-effect waves-light"><i class="fa fa-times"></i></button></div>
													</span>
												</div>
												<div class="options-bd">
													<div class="language-item">
														<label for="">中文</label><input id="" class="form-control form-control-sm">
													</div>
													<div class="language-item">
														<label for="">英文</label><input id="" class="form-control form-control-sm">
													</div>
													<div class="language-item">
														<label for="">日文</label><input id="" class="form-control form-control-sm">
													</div>
													<div class="language-item">
														<label for="">西班牙文</label><input id="" class="form-control form-control-sm">
													</div>
                                                    <div class="additional-block">
														<h6>額外輸入</h6>
                                                        <div class="language-item">
                                                            <label for="">中文</label><input id="" class="form-control form-control-sm">
                                                        </div>
                                                        <div class="language-item">
                                                            <label for="">英文</label><input id="" class="form-control form-control-sm">
                                                        </div>
                                                        <div class="language-item">
                                                            <label for="">日文</label><input id="" class="form-control form-control-sm">
                                                        </div>
                                                        <div class="language-item">
                                                            <label for="">西班牙文</label><input id="" class="form-control form-control-sm">
                                                        </div>
                                                    </div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
                    </div>
				</div>
			</div>
        </div>
    </div>
</main>

<% content_for :js do %>

<% end %>
