<!-- admin-page: 報名設定 - 流程設定 (報名流程) -->
<%= render :partial => "/partials/admin_breadcrumb" %>

<main class="main">
    <div class="page-header">
		<h2>報名流程設計</h2>
		<p>點選圖示啟用或關閉功能</p>
    </div>
    <div class="row">
		<div class="col-8">
			<form class="basic-form">
				<div class="signup-process">
					<ul class="process-list menu-item">
						<li class="process-item">
						    <div class="status">
                                <label class="label">
                                    <input class="label__checkbox" type="checkbox" checked/>
                                    <span class="label__text">
                                        <span class="label__check">
                                            <i class="fa fa-check icon"></i>
                                        </span>
                                    </span>
                                </label>
							</div>
							<div class="process-wrap">
							    <div class="wrap-hd">
								    <h5 class="wrap-title">網站及活動日程</h5>
									<p class="brief text-light-purple">網站開放瀏覽/及活動日程</p>
								</div>
								<div class="wrap-bd">
									<div class="row">
									    <div class="col-6">
                                            <div class="form-group">
                                                <label for="">開放報名</label>
                                                <div id="date-picker-example" class="md-form md-outline input-with-post-icon datepicker mt-0">
                                                    <input placeholder="Select date" type="text" id="example" class="form-control" />
                                                    <label for="example"></label>
                                                    <i class="fa fa-calendar input-prefix" tabindex="0"></i>
                                                </div>
                                                <p class="form-info text-muted">網站開放，訪客可瀏覽活動首頁但須至報名開始時間才能報名。</p>
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input" id="webHighlight">
                                                    <label class="custom-control-label" for="webHighlight">網站置頂 (限系統管理員設定)</label>
                                                </div>
                                            </div>
										</div>
										<div class="col-6">
                                            <div class="form-group">
                                                <label for="">活動結束時間</label>
                                                <div id="date-picker-example" class="md-form md-outline input-with-post-icon datepicker mt-0">
                                                    <input placeholder="Select date" type="text" id="example" class="form-control" />
                                                    <label for="example"></label>
                                                    <i class="fa fa-calendar input-prefix" tabindex="0"></i>
                                                </div>
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input" id="webMask">
                                                    <label class="custom-control-label" for="webMask">活動結束前端網站隱藏</label>
                                                </div>
                                            </div>
										</div>
										<div class="col-6">
                                            <div class="form-group">
                                                <label for="">活動舉辦開始日期</label>
                                                <div id="date-picker-example" class="md-form md-outline input-with-post-icon datepicker mt-0">
                                                    <input placeholder="Select date" type="text" id="example" class="form-control" />
                                                    <label for="example"></label>
                                                    <i class="fa fa-calendar input-prefix" tabindex="0"></i>
                                                </div>
                                            </div>
										</div>
										<div class="col-6">
                                            <div class="form-group">
                                                <label for="">活動舉辦結束日期</label>
                                                <div id="date-picker-example" class="md-form md-outline input-with-post-icon datepicker mt-0">
                                                    <input placeholder="Select date" type="text" id="example" class="form-control" />
                                                    <label for="example"></label>
                                                    <i class="fa fa-calendar input-prefix" tabindex="0"></i>
                                                </div>
                                            </div>
										</div>
									</div>
								</div>
							</div>
						</li>
						
						<li class="process-item">
						    <div class="status">
                                <label class="label">
                                    <input class="label__checkbox" type="checkbox" />
                                    <span class="label__text">
                                        <span class="label__check">
                                            <i class="fa fa-check icon"></i>
                                        </span>
                                    </span>
                                </label>
							</div>
							<div class="process-wrap">
							    <div class="wrap-hd">
								    <h5 class="wrap-title">邀請名單</h5>
									<p class="brief text-light-purple">只有在邀請名單中的人員才能報名活動</p>
								</div>
								<div class="wrap-bd">
									<div class="form-group">
										<label>選擇邀請名單須輸入的欄位</label>
										<div>
                                            <div class="custom-control custom-checkbox custom-control-inline">
                                                <input type="checkbox" class="custom-control-input" id="basic11" />
                                                <label class="custom-control-label" for="basic11">姓名</label>
                                            </div>

                                            <div class="custom-control custom-checkbox custom-control-inline">
                                                <input type="checkbox" class="custom-control-input" id="basic12" />
                                                <label class="custom-control-label" for="basic12">生日</label>
                                            </div>

                                            <div class="custom-control custom-checkbox custom-control-inline">
                                                <input type="checkbox" class="custom-control-input" id="basic13" />
                                                <label class="custom-control-label" for="basic13">護照號碼</label>
                                            </div>
											<div class="custom-control custom-checkbox custom-control-inline">
                                                <input type="checkbox" class="custom-control-input" id="basic14" />
                                                <label class="custom-control-label" for="basic14">身份證字號</label>
                                            </div>

                                            <div class="custom-control custom-checkbox custom-control-inline">
                                                <input type="checkbox" class="custom-control-input" id="basic15" />
                                                <label class="custom-control-label" for="basic15">電子郵件</label>
                                            </div>
										</div>
									</div>
									
									<div class="form-group">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="basic16">
                                            <label class="custom-control-label" for="basic16">開放協辦駐外單位建立邀請名單</label>
                                        </div>
										<p class="form-info text-muted">邀請名單可在活動建立後至 報名與審查管理 / 邀請名單中編修。</p>
									</div>
								</div>
							</div>
						</li>
						
						<li class="process-item">
						    <div class="status">
                                <label class="label">
                                    <input class="label__checkbox" type="checkbox" />
                                    <span class="label__text">
                                        <span class="label__check">
                                            <i class="fa fa-check icon"></i>
                                        </span>
                                    </span>
                                </label>
							</div>
							<div class="process-wrap">
							    <div class="wrap-hd">
								    <h5 class="wrap-title">個資同意書</h5>
									<p class="brief text-light-purple">申請前個資同意書內容設定</p>
								</div>
								<div class="wrap-bd">
									<a href="#" class="btn btn-md btn-rounded btn-info" type="submit">編輯個資同意書內容</a>
								</div>
							</div>
						</li>
						
						<li class="process-item">
						    <div class="status">
                                <label class="label">
                                    <input class="label__checkbox" type="checkbox" />
                                    <span class="label__text">
                                        <span class="label__check">
                                            <i class="fa fa-check icon"></i>
                                        </span>
                                    </span>
                                </label>
							</div>
							<div class="process-wrap">
							    <div class="wrap-hd">
								    <h5 class="wrap-title">線上報名</h5>
									<p class="brief text-light-purple">前端填寫報名表的各項設定</p>
								</div>
								<div class="wrap-bd">
									<div class="form-row">
									    <div class="col-3">
                                            <div class="form-group">
                                                <label><span class="required">*</span>報名開始</label>
                                                <div id="date-picker-example" class="md-form md-outline input-with-post-icon datepicker mt-0">
                                                    <input placeholder="Select date" type="text" id="example" class="form-control" />
                                                    <label for="example"></label>
                                                    <i class="fa fa-calendar input-prefix" tabindex="0"></i>
                                                </div>
                                            </div>
										</div>
										<div class="col-3">
                                            <div class="form-group">
                                                <label><span class="required">*</span>報名結束</label>
                                                <div id="date-picker-example" class="md-form md-outline input-with-post-icon datepicker mt-0">
                                                    <input placeholder="Select date" type="text" id="example" class="form-control" />
                                                    <label for="example"></label>
                                                    <i class="fa fa-calendar input-prefix" tabindex="0"></i>
                                                </div>
                                            </div>
										</div>
										<div class="col-3">
                                            <div class="form-group">
                                                <label><span class="required">*</span>報名方式</label>
                                                <div>
                                                    <select class="browser-default custom-select">
                                                        <option value="0">個人報名</option>
                                                        <option value="1">One</option>
                                                        <option value="2">Two</option>
                                                        <option value="3">Three</option>
                                                    </select>
                                                </div>
                                            </div>
										</div>
										<div class="col-3">
                                            <div class="form-group">
                                                <label><span class="required">*</span>報名人數限制</label>
                                                <div>
                                                    <select class="browser-default custom-select">
                                                        <option value="0">不限人數</option>
                                                        <option value="1">One</option>
                                                        <option value="2">Two</option>
                                                        <option value="3">Three</option>
                                                    </select>
                                                </div>
                                            </div>
										</div>
									</div>
									<div class="form-group">
									    <label><span class="required">*</span>志願/梯次設定</label>
										<div>
                                            <div class="custom-control custom-radio">
                                                <input type="radio" class="custom-control-input" id="defaultGroupExample1" name="groupOfDefaultRadios" />
                                                <label class="custom-control-label" for="defaultGroupExample1">
													一般報名表，無志願或梯次項目。
													<a class="material-tooltip-main custom-tooltip" data-toggle="tooltip" title="Default tooltip"><i class="fa fa-question-circle"></i></a>
												</label>
                                            </div>
                                            <div class="custom-control custom-radio">
                                                <input type="radio" class="custom-control-input" id="defaultGroupExample2" name="groupOfDefaultRadios" />
                                                <label class="custom-control-label" for="defaultGroupExample2">
													活動有多個梯次，報名人需填寫要報名的梯次(單選)
													<a class="material-tooltip-main custom-tooltip" data-toggle="tooltip" title="Default tooltip"><i class="fa fa-question-circle"></i></a>
												</label>
                                            </div>
                                            <div class="custom-control custom-radio">
                                                <input type="radio" class="custom-control-input" id="defaultGroupExample3" name="groupOfDefaultRadios" />
                                                <label class="custom-control-label" for="defaultGroupExample3">
													活動有多個地區，報名人需填寫各地區希望的志願序
													<a class="material-tooltip-main custom-tooltip" data-toggle="tooltip" title="Default tooltip"><i class="fa fa-question-circle"></i></a>
												</label>
                                            </div>
											<div class="custom-control custom-radio">
                                                <input type="radio" class="custom-control-input" id="defaultGroupExample4" name="groupOfDefaultRadios" />
                                                <label class="custom-control-label" for="defaultGroupExample4">
													參加國內學校體驗，需輸入參加學期的日期期間，並選擇該學期志願學校
													<a class="material-tooltip-main custom-tooltip" data-toggle="tooltip" title="Default tooltip"><i class="fa fa-question-circle"></i></a>
												</label>
                                            </div>
										</div>
									</div>
                                    <div class="form-group">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="eventHistory">
                                            <label class="custom-control-label" for="eventHistory">
												近年參加過相同活動不得報名，請在下方選擇歷史活動
												<a class="material-tooltip-main custom-tooltip" data-toggle="tooltip" title="Default tooltip"><i class="fa fa-question-circle"></i></a>
											</label>
                                        </div>
										<div class="custom-select2-wrap">
											<div class="wrap-select2">
                                                <select class="js-example-basic-single custom-full-select2" name="state">
                                                    <option value="2020">2020 年僑務委員會海外青年臺灣學習體驗營</option>
                                                    <option value="AL">Alabama</option>
                                                    <option value="WY">Wyoming</option>
                                                </select>
											</div>
											<div class="wrap-action">
											    <button class="btn btn-md btn-info" type="submit">加入</button>
												<button class="btn btn-md btn-link" type="submit">清空</button>
											</div>
										</div>
                                        <div class="add-select-wrap">
                                            <ul class="vertical-item menu-item">
                                                <li>
                                                    <span>
														<a href="#" class="btn btn-cancel" title="移除"><i class="fa fa-times"></i></a>
                                                        海外僑界辦理推動臺灣參與 WHA - 王智弘醫學博士來開講
                                                    </span>
                                                </li>
                                                <li>
                                                    <span>
														<a href="#" class="btn btn-cancel" title="移除"><i class="fa fa-times"></i></a>
                                                        2020 年僑務委員會海外青年臺灣學習體驗營
                                                    </span>
                                                </li>
												<li>
                                                    <span>
														<a href="#" class="btn btn-cancel" title="移除"><i class="fa fa-times"></i></a>
                                                        北美臺商總會百場講堂 童振源分享創新僑務
                                                    </span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
								</div>
							</div>
						</li>
						
						<li class="process-item">
						    <div class="status">
                                <label class="label">
                                    <input class="label__checkbox" type="checkbox" />
                                    <span class="label__text">
                                        <span class="label__check">
                                            <i class="fa fa-check icon"></i>
                                        </span>
                                    </span>
                                </label>
							</div>
							<div class="process-wrap">
							    <div class="wrap-hd">
								    <h5 class="wrap-title">初審作業</h5>
									<p class="brief text-light-purple">報名資料須先經駐外單位初審</p>
								</div>
								<div class="wrap-bd">
									<div class="row">
									    <div class="col-6">
                                            <div class="form-group">
                                                <label>初審開始</label>
                                                <div id="date-picker-example" class="md-form md-outline input-with-post-icon datepicker mt-0">
                                                    <input placeholder="Select date" type="text" id="example" class="form-control" />
                                                    <label for="example"></label>
                                                    <i class="fa fa-calendar input-prefix" tabindex="0"></i>
                                                </div>
                                            </div>
										</div>
										<div class="col-6">
                                            <div class="form-group">
                                                <label>初審結束</label>
                                                <div id="date-picker-example" class="md-form md-outline input-with-post-icon datepicker mt-0">
                                                    <input placeholder="Select date" type="text" id="example" class="form-control" />
                                                    <label for="example"></label>
                                                    <i class="fa fa-calendar input-prefix" tabindex="0"></i>
                                                </div>
                                            </div>
										</div>
									</div>
									<div class="form-group">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="basic21">
											<label class="custom-control-label" for="basic21">
												指定特定駐外單位轄區人員審查
												<a class="material-tooltip-main custom-tooltip" data-toggle="tooltip" title="Default tooltip"><i class="fa fa-question-circle"></i></a>
											</label>
                                        </div>
										<div class="agency-container hide">
                                            <div class="my-3">
                                                <button type="button" class="btn btn-pick" data-toggle="modal" data-target="#basicAgencyModal">
                                                    選擇單位
                                                </button>
                                            </div>
                                            <table class="table table-sm">
                                                <thead>
                                                    <tr>
                                                        <th>#</th>
                                                        <th>洲別</th>
                                                        <th>駐外單位</th>
                                                        <th>人數限制</th>
                                                        <th></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>1</td>
                                                        <td>亞洲</td>
                                                        <td>菲華文教服務中心</td>
                                                        <td>10</td>
                                                        <td class="text-right">
                                                            <div class="btn-group">
                                                                <button title="編輯" type="button" class="btn btn-xs btn-success" data-original-title="Edit"><i class="fa fa-pencil"></i></button>
                                                                <button title="刪除" type="button" class="btn btn-xs btn-danger" data-original-title="Remove"><i class="fa fa-times"></i></button>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>2</td>
                                                        <td>亞洲</td>
                                                        <td>駐胡志明市辦事處僑務組</td>
                                                        <td>999</td>
                                                        <td class="text-right">
                                                            <div class="btn-group">
                                                                <button title="編輯" type="button" class="btn btn-xs btn-success" data-original-title="Edit"><i class="fa fa-pencil"></i></button>
                                                                <button title="刪除" type="button" class="btn btn-xs btn-danger" data-original-title="Remove"><i class="fa fa-times"></i></button>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
										</div>
									</div>
								</div>
							</div>
						</li>
						
						<li class="process-item">
						    <div class="status">
                                <label class="label">
                                    <input class="label__checkbox" type="checkbox" />
                                    <span class="label__text">
                                        <span class="label__check">
                                            <i class="fa fa-check icon"></i>
                                        </span>
                                    </span>
                                </label>
							</div>
							<div class="process-wrap">
							    <div class="wrap-hd">
								    <h5 class="wrap-title">複審作業</h5>
									<p class="brief text-light-purple">報名資料需活動負責人員複審</p>
								</div>
								<div class="wrap-bd">
									<div class="row">
									    <div class="col-6">
                                            <div class="form-group">
                                                <label>結果公告</label>
                                                <div id="date-picker-example" class="md-form md-outline input-with-post-icon datepicker mt-0">
                                                    <input placeholder="Select date" type="text" id="example" class="form-control" />
                                                    <label for="example"></label>
                                                    <i class="fa fa-calendar input-prefix" tabindex="0"></i>
                                                </div>
                                            </div>
										</div>
									</div>
								</div>
							</div>
						</li>
						
						<li class="process-item">
						    <div class="status">
                                <label class="label">
                                    <input class="label__checkbox" type="checkbox" />
                                    <span class="label__text">
                                        <span class="label__check">
                                            <i class="fa fa-check icon"></i>
                                        </span>
                                    </span>
                                </label>
							</div>
							<div class="process-wrap">
							    <div class="wrap-hd">
								    <h5 class="wrap-title">錄取確認作業</h5>
									<p class="brief text-light-purple">錄取的報名學生需確認是否參加</p>
								</div>
								<div class="wrap-bd">
									<div class="row">
									    <div class="col-6">
                                            <div class="form-group">
                                                <label>確認結束時間</label>
                                                <div id="date-picker-example" class="md-form md-outline input-with-post-icon datepicker mt-0">
                                                    <input placeholder="Select date" type="text" id="example" class="form-control" />
                                                    <label for="example"></label>
                                                    <i class="fa fa-calendar input-prefix" tabindex="0"></i>
                                                </div>
                                            </div>
										</div>
									</div>
								</div>
							</div>
						</li>
						
						<li class="process-item">
						    <div class="status">
                                <label class="label">
                                    <input class="label__checkbox" type="checkbox" />
                                    <span class="label__text">
                                        <span class="label__check">
                                            <i class="fa fa-check icon"></i>
                                        </span>
                                    </span>
                                </label>
							</div>
							<div class="process-wrap">
							    <div class="wrap-hd">
								    <h5 class="wrap-title">錄取後資料填寫及查詢</h5>
								</div>
								<div class="wrap-bd">
									<p>提供活動承辦人員設計錄取後須了解各項資訊、下載相關檔案及填寫的各項資料</p>
									<div class="row">
									    <div class="col-6">
                                            <div class="form-group">
                                                <label>開放時間</label>
                                                <div id="date-picker-example" class="md-form md-outline input-with-post-icon datepicker mt-0">
                                                    <input placeholder="Select date" type="text" id="example" class="form-control" />
                                                    <label for="example"></label>
                                                    <i class="fa fa-calendar input-prefix" tabindex="0"></i>
                                                </div>
                                            </div>
										</div>
										<div class="col-6">
                                            <div class="form-group">
                                                <label>結束時間</label>
                                                <div id="date-picker-example" class="md-form md-outline input-with-post-icon datepicker mt-0">
                                                    <input placeholder="Select date" type="text" id="example" class="form-control" />
                                                    <label for="example"></label>
                                                    <i class="fa fa-calendar input-prefix" tabindex="0"></i>
                                                </div>
                                            </div>
										</div>
									</div>
								</div>
							</div>
						</li>
						
						<li class="process-item">
						    <div class="status">
                                <label class="label">
                                    <input class="label__checkbox" type="checkbox" />
                                    <span class="label__text">
                                        <span class="label__check">
                                            <i class="fa fa-check icon"></i>
                                        </span>
                                    </span>
                                </label>
							</div>
							<div class="process-wrap">
							    <div class="wrap-hd">
								    <h5 class="wrap-title">活動成果網頁</h5>
									<p class="brief text-light-purple">提供上傳活動照片並產生網頁</p>
								</div>
								<div class="wrap-bd">
									<div class="row">
									    <div class="col-6">
                                            <div class="form-group">
                                                <label>顯示時間</label>
                                                <div id="date-picker-example" class="md-form md-outline input-with-post-icon datepicker mt-0">
                                                    <input placeholder="Select date" type="text" id="example" class="form-control" />
                                                    <label for="example"></label>
                                                    <i class="fa fa-calendar input-prefix" tabindex="0"></i>
                                                </div>
                                            </div>
										</div>
									</div>
								</div>
							</div>
						</li>
					</ul>
                </div>
				
				<div class="form-action">
					<button class="btn btn-lg btn-primary" type="submit">儲存</button>
				</div>
			</form>
		</div>
    </div>
</main>

<% content_for :js do %>

<% end %>
