
/* `Footer
-----------------------------------------------------------------------------*/

footer.footer {
	color: #999;
	.footer-inner {
		display: flex;
		justify-content: space-between;
		border-top: 1px dashed #ddd;
		padding: 60px 0;
	}
	.block-transition {
		flex: 1;
        padding-right: 2rem;
	}
	.menu-item.contact {
		margin-bottom: 26px;
		li {
			margin-bottom: .25rem;
		}
		.fas {
			width: 16px;
			text-align: center;
			font-size: 14px;
			color: #ccc;
			position: absolute;
			left: 0;
			top: 5px;
			top: 5px;
		}
	}
	.end-content {
		text-align: end;
	}
	a {
		color: #000;
		&:hover {
			color: $link;
		}
	}
    address { margin-bottom: 0; }
}

/* `Responsive
-----------------------------------------------------------------------------*/

@media (max-width: 767px) {
	footer.footer {
		.footer-inner {
			display: block;
		}
		.block-transition {
			flex: 1;
		}
		.ft-block { width: 100% !important; }
		.end-content { text-align: start; }
	}
}








