
/* `Header
-----------------------------------------------------------------------------*/

header.header {
	position: relative;
	margin-bottom: 4rem;
	.dropdown-toggle {
		background-color: transparent;
		border: none;
		padding: 0;
	}
	.header-function { text-align: end; }
	.sys-subject {
		background: url("../assets/dot.png") left top repeat;
		padding: 1.5rem 0;
		h2 {
			margin-bottom: 0;
		}
	}
}

.header-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
	flex-direction: row-reverse;
	.brands-link {
		display: flex;
		align-items: center;
		color: #333;
	}
    .brands { margin: 2rem 0; }
	.logo {
		display: flex;
        align-items: center;
        h1 {
            margin-bottom: 0;
            font-size: 2.5rem;
            font-weight: 300;
            color: #737e7e;
            line-height: 1.1;
            span {
                display: inline-block;
                background: linear-gradient(90deg, rgba(17,84,82,1) 0%, rgba(52,166,163,1) 100%);
                background-size: 100%;
                background-clip: text;
                -webkit-background-clip: text;
                color: transparent !important;
                font-weight: bold;
                margin-left: .25rem;
            }
        }
        h2 {
            margin: 0 0 0 .5rem;
            font-family: Roboto,sans-serif;
            font-size: 1.125rem;
            font-weight: 300;
            line-height: 1.1;
            color: #668988;
            span { display: block; }
        }
	}
}

.header-right {
	text-align: end;
}

/* `Responsive
-----------------------------------------------------------------------------*/

@media (max-width: 767px) {
	header.header {
        margin-bottom: 2.5rem;
	}
	.header-wrap {
		.dropdown-toggle {
            position: relative;
            padding-left: 1.5rem !important;
            &:before {
                content: "\f2bd";
                width: 1rem;
                height: 1rem;
                font-family: "Font Awesome 5 Free";
                font-weight: 400;
                font-size: 1.25rem;
                color: #999;
                position: absolute;
                left: 0;
                top: 40%;
                transition: all 0.15s ease-in-out;
            }
            span {
                display: block;
                text-indent: -9999rem;
            }
            &:hover {
                &:before { color: #333; }
            }
        }
	}
}

@media (max-width: 575px) {
	.header-wrap {
		.logo  {
            display: block;
            h1 {
                margin-bottom: .25rem;
                font-size: 1.875rem;
                color: #2c3a3a;
            }
            h2 {
                margin-left: 0;
                font-size: .9375rem;
            }
        }
        .brands { margin: 1.5rem 0; }
	}
}