<footer class="footer">
    <div class="footer-inner">
		<div class="container">
            <div class="general-content">
                <a accesskey="Z" href="#" class="sr-only "title="下方選單連結">:::</a>
                <ul class="menu-item general-links">
                    <li><a href="#" title="隱私權與資訊安全政策">隱私權與資訊安全政策</a></li>
                </ul>
            </div>
            <ul class="menu-item contact">
                <li><i class="fa fa-map-marker" title="地址"></i> 10617臺北市羅斯福路四段一號</li>
                <li><i class="fa fa-envelope" title="信箱"></i> <a href="mailto:ntumeals@ntu.edu.tw">ntumeals@ntu.edu.tw</a></li>
                <li><i class="fa fa-phone" title="聯絡電話"></i> 886-2-3366-2268</li>
                <li><i class="fa fa-fax" title="傳真"></i> 886-2-2369-6404</li>
            </ul>
		</div>
    </div>
    <div class="footer-bt">
		<div class="container">
            <div class="footer-data">
                <p>瀏覽器建議 Chrome、Mozilla Firefox、IE11+</p>
            </div>
            <address>本網站著作權屬於國立臺灣大學 膳食協調委員會</address>
		</div>
    </div>
</footer>
