<header class="header">
    <div class="header-bar">
		<div class="container">
            <a href="#U" id="AU" name="U" title="右上方功能區塊" accesskey="U" tabindex="3">:::</a>
            <ul class="header-toolbar menu-item">
                <li><a href="#" title="臺灣大學">臺灣大學</a></li>
				<li><a href="#" title="行事曆">行事曆</a></li>
                <li><a href="#" title="聯絡我們">聯絡我們</a></li>
                <li><a href="#" title="網站地圖">網站地圖</a></li>
                <li><a href="#" title="切換英文語系">English</a></li>
            </ul>
		</div>
    </div>
    <div class="header-wrap">
		<div class="container">
            <div class="brands">
                <a class="d-flex" href="index.html" title="國立臺灣大學 膳食協調委員會" >
                    <div class="logo">
                        <h1 class="text-hide">國立臺灣大學</h1>
                        <img class="h1-logo" alt="膳食協調委員會" src="../assets/ntu-logo@2x.png" />
                        <img class="h1-calligraphy" alt="臺灣大學書法字" src="../assets/ntu-calligraphy-w.png" />
                    </div>
                    <div class="sub">
                        <span class="cht">膳食協調委員會</span>
                        <span class="en">Dining Service Committee Indigenous Student, NTU</span>
                    </div>
                </a>
            </div>
            <form class="search-form">
                <input class="form-control" type="text" placeholder="全站搜尋" aria-label="Search" title="全站搜尋" accesskey="S" tabindex="14">
            </form>
		</div>
    </div>
    <nav class="navbar navbar-light navbar-expand-lg">
		<div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <div class="header-bar mobile-only">
                    <ul class="header-toolbar menu-item">
                        <li><a href="#" title="臺灣大學">臺灣大學</a></li>
                        <li><a href="#" title="行事曆">行事曆</a></li>
                        <li><a href="#" title="聯絡我們">聯絡我們</a></li>
                        <li><a href="#" title="網站地圖">網站地圖</a></li>
                        <li><a href="#" title="切換英文語系">English</a></li>
                    </ul>
                </div>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#" title="最新消息">最新消息</a>
                    </li>
                    <li class="nav-item">
						<a class="nav-link dropdown-toggle" id="navbarDropdown1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="關於我們">關於我們</a>
                        <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdown1">
                            <a class="dropdown-item" href="#" title="關於我們">關於我們</a>
                            <a class="dropdown-item" href="#" title="聯絡我們">聯絡我們</a>
                        </div>
                    </li>
                    <li class="nav-item">
						<a class="nav-link dropdown-toggle" id="navbarDropdown2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="行政專區">行政專區</a>
						<div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdown2">
                            <a class="dropdown-item" href="#" title="法令規章">法令規章</a>
                            <a class="dropdown-item" href="#" title="文件下載">文件下載</a>
                        </div>
                    </li>
                    <li class="nav-item">
						<a class="nav-link dropdown-toggle" id="navbarDropdown3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="校園餐飲">校園餐飲</a>
						<div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdown3">
                            <a class="dropdown-item" href="#" title="榮譽榜">榮譽榜</a>
                            <a class="dropdown-item" href="#" title="廠商資訊">廠商資訊</a>
							<a class="dropdown-item" href="#" title="網路票選結果">網路票選結果</a>
                            <a class="dropdown-item" href="#" title="下架商品">下架商品</a>
                        </div>
                    </li>
                    <li class="nav-item">
						<a class="nav-link dropdown-toggle" id="navbarDropdown4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="教育訓練">教育訓練</a>
						<div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdown4">
                            <a class="dropdown-item" href="#" title="膳食安全">膳食安全</a>
                            <a class="dropdown-item" href="#" title="環境衛生">環境衛生</a>
							<a class="dropdown-item" href="#" title="會議紀錄">會議紀錄</a>
                            <a class="dropdown-item" href="#" title="其他">其他</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" title="活動花絮">活動花絮</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" title="管理專區">管理專區</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" title="校園餐飲反映">校園餐飲反映</a>
                    </li>
                    <li class="nav-item mobile-only">
                        <form class="search-form">
                            <input class="form-control" type="text" placeholder="全站搜尋" aria-label="Search" title="全站搜尋" accesskey="S" tabindex="14">
                        </form>
                    </li>
                </ul>
            </div>
		</div>
    </nav>
</header>