<header class="header">
    <div class="header-wrap">
		<div class="container">
            <div class="brands">
                <a class="d-flex" href="index.html" title="國立臺灣大學 膳食協調委員會" >
                    <div class="logo">
                        <h1 class="text-hide">國立臺灣大學</h1>
                        <img class="h1-logo" alt="膳食協調委員會" src="../assets/ntu-logo@2x.png" />
                        <img class="h1-calligraphy" alt="臺灣大學書法字" src="../assets/ntu-calligraphy-w.png" />
                    </div>
                    <div class="sub">
                        <span class="cht">膳食協調委員會</span>
                        <span class="en">National Taiwan University Dining Services Committee</span>
                    </div>
                </a>
            </div>
			<div class="language">
			    <a href="#" class="current">中文</a>
				<a href="#">EN</a>
			</div>
		</div>
    </div>
    <div class="beneath-wrap">
		<div class="container">
            <div class="beneath-inner">
                <div class="account">
                    <span class="username">史嘉蕾，您好</span>
                    <a class="btn-logout" href="#" title="登出">登出</a>
                </div>
				<h4 class="system-title">2020 最佳餐廳投票活動</h4>
            </div>
		</div>
    </div>
</header>