<!-- 學生專區 -->
<header>
    <div class="fluid-wrapper">
        <a class="logo" href="../index.html"><img src="../assets/logo-sm.svg" /></a>
        <div class="link-group float-right">
            <a class="active" href="index.html">修課職能查詢</a>
            <a href="radar.html">職能雷達圖</a>
			<a href="simulation.html">選課模擬</a>
        </div>
    </div>
</header>
<main>
    <div class="fluid-wrapper">
        <h3 class="page-title">修課職能查詢</h3>
        <div class="row">
            <select class="mdb-select col-4">
                <option value="8" disabled selected>電機工程系日間部四技部</option>
                <option value="9">電機工程系日間部二技部</option>
                <option value="10">電機工程系進修推廣部四技部</option>
                <option value="11">電機工程系進修推廣部四技部攜手專班</option>
            </select>
        </div>
        <div class="well nfu-well">
            <h4>文字代號說明</h4>
            <ol>
                <li>將應用技術的概念和步驟運用在各領域（包含，工程、醫療、農業、生物技術、能源和電力、運輸、資訊通訊、製造和建築）的問題上。</li>
                <li>瞭解工程以及技術研發流程中所需的相關基本概念和步驟。</li>
                <li>應用工程實務的專業知識，將研發成果落實於產品之生產及製造上。</li>
                <li>運用安裝、制訂或更新技術，以確保生產設備的正常運轉。</li>
                <li>實施保養、維修並遵循相關法規，以維持安全和有生產力的工作環境。</li>
                <li>與他人溝通關於維護、安裝和維修的議題與趨勢。</li>
                <li>掌握設備運行的操作知識，以確認設備維護的需求，並且達到最佳的運作效果。</li>
                <li>辨識及判斷設備的問題，以有效地修復製造設備。</li>
                <li>安全地操作生產設備，以確保維修、安裝和維修工作環境的安全。</li>
                <li>協調預測和預防性維修，以確保生產過程順利。</li>
            </ol>
        </div>
        <table class="table table-striped table-nfu">
            <thead class="first-head">
                <tr>
                    <th colspan="3">UCAN 職涯類型/就業途徑</th>
                    <th colspan="3">科學、技術、工程、數學 / 工程及技術</th>
                    <th colspan="7">製造 / 設備安裝維護</th>
                    <th colspan="8">共同職能</th>
                </tr>
            </thead>
            <thead class="second-head">
                <tr>
                    <th>學年度-學期</th>
                    <th>年級</th>
                    <th>科目名稱</th>
                    <th>A</th>
                    <th>B</th>
                    <th>C</th>
                    <th>D</th>
                    <th>E</th>
                    <th>F</th>
                    <th>G</th>
                    <th>H</th>
                    <th>I</th>
                    <th>J</th>
                    <th>溝通表達</th>
                    <th>持續學習</th>
                    <th>人際互動</th>
                    <th>團隊合作</th>
                    <th>工作責任及紀律</th>
                    <th>資訊科技應用</th>
                    <th>問題解決</th>
                    <th>創新</th>
                </tr>
            </thead>
            <tbody>
                <% (1..10).each do |n| %>
                <tr>
                    <td>104 - 1</td>
                    <td>1</td>
                    <td>邏輯設計</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><i class="fa fa-check" aria-hidden="true"></i></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><i class="fa fa-check" aria-hidden="true"></i></td>
                    <td><i class="fa fa-check" aria-hidden="true"></i></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>104 - 1</td>
                    <td>1</td>
                    <td>物理(一) </td>
                    <td></td>
                    <td></td>
                    <td><i class="fa fa-check" aria-hidden="true"></i></td>
                    <td></td>
                    <td><i class="fa fa-check" aria-hidden="true"></i></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><i class="fa fa-check" aria-hidden="true"></i></td>
                    <td><i class="fa fa-check" aria-hidden="true"></i></td>
                </tr>
                <tr>
                    <td>104 - 1</td>
                    <td>1</td>
                    <td>英語聽講練習(一)  </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><i class="fa fa-check" aria-hidden="true"></i></td>
                    <td></td>
                    <td><i class="fa fa-check" aria-hidden="true"></i></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><i class="fa fa-check" aria-hidden="true"></i></td>
                    <td><i class="fa fa-check" aria-hidden="true"></i></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <% end %>
            </tbody>
        </table>
    </div>
</main>
<%= render :partial => "/partials/footer" %>
    
<% content_for :js do %>

<script>
	$(document).ready(function() {		
		$('.mdb-select').material_select();
	});
</script>

<% end %>