<!-- ietw: 交流專案 - 學校基本資料 -->

<div class="print-container">
    <div class="container">
        <div class="print-content">
            <!--a accesskey="C" href="#accesskey_content" tabindex="0" title="主要內容" id="accesskey_content" class="ackey">:::</a-->

            <div class="print-header">
				<hgroup>
			        <h1>00_學校基本資料</h1>
					<h2>School Information</h2>
				</hgroup>
				<span class="action-wrap"><button type="button" class="btn btn-round btn-dark">列印</button></span>
			</div>
			
			<div class="print-body">
			    <h3 class="print-note">請用英文填寫 (Please fill in the form in English)</h3>
				
				<div class="inner">
					
                    <div class="form-group">
                        <label for="pr-01" class="form-label">1.學校名稱 The full name of school</label>
                        <input type="text" class="form-control" id="pr-01" value="Shuang  Yuan Elementary School">
                    </div>
					
                    <div class="form-group">
                        <label class="form-label">2.學校層級 School level</label>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="pr-check01" checked />
                            <label class="form-check-label" for="pr-check01">
                                技術型高中 (Technical senior high school)
                            </label>
                        </div>
						<!-- 區塊 show/hide 煩請前端協助 -->
						<div class="extend-wrap">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="pr-check011" />
                                <label class="form-check-label" for="pr-check011">
                                    機械群 Mechanical Engineering
                                </label>
                            </div>
							<div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="pr-check012" checked />
                                <label class="form-check-label" for="pr-check012">
                                    土木與建築群 Civil engineering and Architecture
                                </label>
                            </div>
							<div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="pr-check013" />
                                <label class="form-check-label" for="pr-check013">
                                    動力機械群 Power Mechanical Engineering
                                </label>
                            </div>
						</div>
                    </div>
					
                    <div class="form-group">
                        <label class="form-label">3.學生年級 Student grade level</label>
                        <div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="pr-check02" value="option1" checked />
                                <label class="form-check-label" for="pr-check02">4年級 Grade 4</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="pr-check03" value="option2" checked />
                                <label class="form-check-label" for="pr-check03">5年級 Grade 5</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="pr-check04" value="option3" checked />
                                <label class="form-check-label" for="pr-check04">6年級 Grade 6</label>
                            </div>
                        </div>
                        <div class="form-text">可複選</div>
                    </div>
					
                    <div class="form-group">
                        <label for="pr-02" class="form-label">4.教師人數 Number of full-time teachers</label>
                        <input type="text" class="form-control w-50" id="pr-02" value="60">
                    </div>
					
                    <div class="form-group">
                        <label for="pr-03" class="form-label">5.學生人數 Number of students</label>
                        <input type="text" class="form-control w-50" id="pr-03" value="606">
                    </div>
					
                    <div class="form-group">
                        <label class="form-label">6.學校類型 School's types</label>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="prRadion_01" id="pr-radion01" checked />
                            <label class="form-check-label" for="pr-radion01">
                                公立(Public)
                            </label>
                        </div>
                    </div>
					
                    <div class="form-group">
                        <label class="form-label">7.學生組成 Composition of students</label>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="prRadion_02" id="pr-radion02" checked />
                            <label class="form-check-label" for="pr-radion02">
                                男女合校(Coeducation)
                            </label>
                        </div>
                    </div>
					
					<!-- 學校屬性展開後複選樣式請參考學校層級 -->
                    <div class="form-group">
                        <label class="form-label">8.學校屬性 Affiliation of schools</label>
                        <div class="d-flex-align">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="pr-check05" checked />
                                <label class="form-check-label" for="pr-check05">
                                    其他學校 (Other)
                                </label>
                            </div>
                            <div class="span-input ms-3 flex-fill"><input type="text" class="form-control w-50" value="公立學校"></div>
                        </div>
                        <div class="form-text">可複選</div>
                    </div>
					
                    <div class="form-group">
                        <label class="form-label">9.課程主要使用語言 The main instruction languages</label>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="pr-check06" checked />
                            <label class="form-check-label" for="pr-check06">
                                華語(Mandarin)
                            </label>
                        </div>
                        <div class="form-text">可複選</div>
                    </div>
					
					<div class="form-group">
                        <label class="form-label">10.外語課程 Foreign language programs</label>
                        <div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="pr-check07" value="option1" checked />
                                <label class="form-check-label" for="pr-check07">英語 English</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="pr-check08" value="option2" checked />
                                <label class="form-check-label" for="pr-check08">印尼語 Indonesian</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="pr-check09" value="option3" checked />
                                <label class="form-check-label" for="pr-check09">越語 Vietnamese</label>
                            </div>
                        </div>
                        <div class="form-text">開設之外語課程(Foreign language programs)，可複選</div>
                    </div>
					
					<div class="form-group">
                        <label for="pr-04" class="form-label">11.海外姊妹校數 Number of overseas sister schools</label>
                        <div class="d-flex-align mb-3">
							<span>總計 (Total)</span>
							<span class="span-middle mx-2"><input type="text" class="form-control" id="pr-04" value="999"></span>
                            <span>校(school(s))，分別為 (There are)：</span>
                        </div>
						<div class="single-wrap">
						    <div class="row">
							    <div class="col-md-3 mb-1">
                                    <select class="form-select" aria-label="Default select example">
                                        <option selected>洲 (Continent)</option>
                                        <option value="1">One</option>
                                        <option value="2">Two</option>
                                        <option value="3">大洋洲 (Oceania)</option>
                                    </select>
								</div>
								<div class="col-md-3 mb-1">
                                    <select class="form-select" aria-label="Default select example">
                                        <option selected>國家 (Country)</option>
                                        <option value="1">One</option>
                                        <option value="2">Two</option>
                                        <option value="3">Papua New Cuinea</option>
                                    </select>
								</div>
								<div class="col-md-5 mb-1">
									<input type="text" class="form-control" id="">
								</div>
								<div class="col-md-1">
									<button type="button" class="btn btn-success"><i class="fas fa-plus"></i></button>
								</div>
							</div>
						</div>
						<div class="single-wrap already">
						    <div class="row">
							    <div class="col-md-3 mb-1">
                                    <span class="align-middle">大洋洲(Oceania)</span>
								</div>
								<div class="col-md-3 mb-1">
                                    <span class="align-middle">Papua New Cuinea</span>
								</div>
								<div class="col-md-5 mb-1">
									<input type="text" class="form-control" id="" value="Port Moresby International School">
								</div>
								<div class="col-md-1">
									<button type="button" class="btn btn-danger"><i class="fas fa-times"></i></button>
								</div>
							</div>
						</div>
						<div class="single-wrap already">
						    <div class="row">
							    <div class="col-md-3 mb-1">
                                    <span class="align-middle">美洲(America)</span>
								</div>
								<div class="col-md-3 mb-1">
                                    <span class="align-middle">United States of America</span>
								</div>
								<div class="col-md-5 mb-1">
									<input type="text" class="form-control" id="" value="Success Academy Charter School Union Square">
								</div>
								<div class="col-md-1">
									<button type="button" class="btn btn-danger"><i class="fas fa-times"></i></button>
								</div>
							</div>
						</div>
                    </div>
					
                    <div class="form-group">
                        <label class="form-label">12.學區位置 School location</label>
                        <div class="w-50">
                            <select class="form-select" aria-label="Default select example">
                                <option selected>請選擇縣市</option>
                                <option value="1">臺北市</option>
                                <option value="2">基隆市</option>
                                <option value="3">基隆市</option>
                            </select>
                        </div>
                    </div>
					
					<div class="form-group">
                        <label for="pr-05" class="form-label">13.學校地址 School Postal Address</label>
                        <input type="text" class="form-control" id="pr-05" value="No.315, Juguang Rd., Wanhua District, Taipei City 108, Taiwan (R.O.C.)">
                    </div>
					
					<div class="form-group">
                        <label for="pr-06" class="form-label">14.學校網址 School website</label>
                        <input type="text" class="form-control" id="pr-06" value="http://www.syps.tp.edu.tw">
                    </div>
					
					<div class="form-group">
                        <label class="form-label">15.學校簡史 School's Brief history</label>
                        <div class="textarea">Shuangyuan Elementary School was opened on April 1 st , 1936 and named “ Taipei School ”. Temporarily Using Lao Sung and Tung Yuan Primary School 's classrooms for teaching while the school was under construction.When the school construction was finished on April 1 st , 1937, the school was moved to its present location the renamed as “ Taipei Chueh Chiang Ordinary School ”. After recovery of Taiwan , the school again was renamed as “ Taipei Shuang Yuan Ordinary School ” on November 1 st , 1945 . One resource class was established on March 1 st , 1965.Once again the school was renamed as “Taipei Shuang Yuan District Shuangyuan Elementary School¨ on August 1 st , 1968 .The Adult and Continuing Education School was established on July 15 th , 1981.The kindergarten was opened in August 1996.</div>
						<div class="form-text">600-1000字為限 Limit: 600-1000 Words</div>
                    </div>
					
					<div class="form-group">
                        <label class="form-label">16.學校特色 School features</label>
                        <div class="textarea">We are faculty members of Shuang-Yuan Elementary School in Taiwan. This school with 650 students is located in Wanhua District of Taipei City Taiwan. Wanhua District the origin of Taipei City used to be the most political financial and cultural center in the northern Taiwan. There are a famous Longshan Temple Bangka Clothing Trading Area and traditional Huaxi Street Tourist Night Market near our school. Our school curricula are famous for Martial arts Swimming and Maker education. In recent years the development of our school curriculum has gradually moved from localization to internationalization. First we had applied for 2018-2019 Overseas College Students Taipei Experience Education Program for two years. These emphasize the potential benefits that they can offer to co-teach with our local English teachers. Second we also apply for International Pen Pal Program with Israel school this year. Through this program we expect that students can put what they learn into practices when they interact with foreign students and motivate their learning interesting. Third we also invited foreign teachers from the District English Villages to tell stories with our students every semester. Moreover we all try to integrate these programs into English class art class integrative activities and vacant curriculum. It is our goal to educate students to become globally literate and proficient citizens especially in their understanding of the various cultural and global issues that they will have to face. Through the exposure of cross-cultural and international education that our students will be able to further develop a strong national identity multicultural knowledge and effective cross-cultural communication skills.</div>
						<div class="form-text">600-1000字為限 Limit: 600-1000 Words</div>
                    </div>
					
					<div class="form-group">
                        <label class="form-label">17.附檔 Attachment</label>
                        <div class="textarea"><a href="#">Attachment.pdf</a></div>
						<div class="form-text">pdf file only</div>
                    </div>
					
					<!-- inline style 為 demo，請拿掉 -->
					<div class="editor-container" style="background: #eee;padding: 1.25rem;">editor here, inline style 為 demo，請拿掉</div>
					
				</div>
			</div>

        </div>
	</div>
</div>



<% content_for :js do %>
    <!-- Three js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r61/three.min.js"></script>
    <script>
        var scene = new THREE.Scene();
        var camera = new THREE.PerspectiveCamera(75, window.innerWidth/window.innerHeight, 0.1, 1000);
        var renderer = new THREE.WebGLRenderer();

        /*
         In addition to creating the renderer instance, we also need to set the size at which we want it to render our app. 
         It's a good idea to use the width and height of the area we want to fill with our game 
         - in this case, the width and height of the browser window. For performance intensive games, you can also give setSize smaller values, 
         like window.innerWidth/2 and window.innerHeight/2, for half the resolution. 
         This does not mean that the game will only fill half the window, but rather look a bit blurry and scaled up.

         Last but not least, we add the renderer element to our HTML document. 
         This is a <canvas> element the renderer uses to display the scene to us.
        */

        renderer.setSize(window.innerWidth, window.innerHeight);
        document.body.appendChild(renderer.domElement);



        /* Create Lights: PointLight / SpotLight etc.*/
        var spotLight = new THREE.SpotLight(0xffffff);
        spotLight.position.set(100,100,100);
        spotLight.castShadow = true; //If set to true light will cast dynamic shadows. Warning: This is expensive and requires tweaking to get shadows looking right.
        spotLight.shadowMapWidth = 1024;
        spotLight.shadowMapHeight = 1024;
        spotLight.shadowCameraNear = 500;
        spotLight.shadowCameraFar = 4000;
        spotLight.shadowCameraFov = 30;
        scene.add(spotLight);

        /* Create Material */
        function Mat(){
          var material = new THREE.MeshPhongMaterial({
            color      : new THREE.Color("rgb(35,35,213)"),  //Diffuse color of the material
            emissive   : new THREE.Color("rgb(64,128,255)"), //Emissive(light) color of the material, essentially a solid color unaffected by other lighting. Default is black.
            specular   : new THREE.Color("rgb(93,195,255)"), /*Specular color of the material, i.e., how shiny the material is and the color of its shine. 
                                                               Setting this the same color as the diffuse value (times some intensity) makes the material more metallic-looking; 
                                                               setting this to some gray makes the material look more plastic. Default is dark gray.*/
            shininess  : 1,                                  //How shiny the specular highlight is; a higher value gives a sharper highlight. Default is 30.
            shading    : THREE.FlatShading,                  //How the triangles of a curved surface are rendered: THREE.SmoothShading, THREE.FlatShading, THREE.NoShading
            wireframe  : 1,                                  //THREE.Math.randInt(0,1)
            transparent: 1,
            opacity    : 0.15                                //THREE.Math.randFloat(0,1) 
          });
          return material;
        }

        /* Create Geometry */
        var geometry = new THREE.SphereGeometry(50,20,20,0,Math.PI*2,0,Math.PI);
        //SphereGeometry(radius, widthSegments, heightSegments, phiStart, phiLength, thetaStart, thetaLength)

        /* Create Earth Sphere*/
        var earth = new THREE.Mesh(geometry, Mat());

        /*
        var numSphere = 30;
        var tabSphere = [];
        for(var i=0: i<numSphere; i++){
          tabShpere.push(new Sphere(i));
          scene.add(tabSphere[i].b);
        }
        */

        scene.add(earth);

        camera.position.z = 90;



        /*
          This will create a loop that causes the renderer to draw the scene 60 times per second. 
          If you're new to writing games in the browser, you might say "why don't we just create a setInterval? 
          The thing is - we could, but requestAnimationFrame has a number of advantages. 
          Perhaps the most important one is that it pauses when the user navigates to another browser tab, hence not wasting their precious processing power and battery life.
        */
        function render(){
          requestAnimationFrame(render);
          earth.rotation.x += 0.001;
          earth.rotation.y += 0.001;
          renderer.render(scene, camera);
        }
        render();
    </script>
<% end %>




