<!-- ietw: 交流專案 - 交流方式 -->

<div class="print-container">
    <div class="container">
        <div class="print-content print-exchange-content">
            <!--a accesskey="C" href="#accesskey_content" tabindex="0" title="主要內容" id="accesskey_content" class="ackey">:::</a-->

            <div class="print-header">
				<hgroup>
			        <h1>臺日、臺韓高中生國際教育旅行專案(入境接待)</h1>
					<h2>Taiwan-Japan/Taiwan-Korea Educational Trip Program for High School Students（Inbound）</h2>
				</hgroup>
				<span class="action-wrap"><button type="button" class="btn btn-round btn-dark">列印</button></span>
			</div>
			
			<div class="print-body">
			    <h3 class="print-note">請用英文填寫 (Please fill in the form in English) <small><code>checkbox 即為可複選項目，建議不需再每題重複提示可複選</code></small></h3>
				
				<div class="inner">
					
					<div class="inner-group">
						<h4 class="pl">A. 邀請對象 Proposed exchange partner</h4>
						
                        <div class="form-group">
                            <label for="pr-01" class="form-label">A-1預期交流國家 Proposed exchange country</label>
							<div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="radioSample_01" id="pr-radio_01" value="option1" checked onclick="return false" />
                                    <label class="form-check-label" for="pr-radio_01">日本(Japan)</label>
                                </div>
								<div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="radioSample_01" id="pr-radio_02" value="option1" onclick="return false" />
                                    <label class="form-check-label" for="pr-radio_02">韓國(Republic of Korea)</label>
                                </div>
							</div>
							<div class="form-text">以 IE1.0 統計最常交流的國家</div>
                        </div>
						
						<div class="form-group">
                            <label for="pr-01" class="form-label">A-1 預期交流國家/地區 (第二種樣式)</label>
							<table class="table">
							    <thead>
								    <tr>
									    <th>洲 Continent</th>
										<th>國家 Country</th>
									</tr>
								</thead>
								<tbody>
								    <tr>
									    <td>亞洲(Asia)</td>
										<td>Japan</td>
									</tr>
									<tr>
									    <td>亞洲(Asia)</td>
										<td>Republic of Korea</td>
									</tr>
									<tr>
									    <td>亞洲(Asia)</td>
										<td>Malaysia</td>
									</tr>
									<tr>
									    <td>亞洲(Asia)</td>
										<td>Singapore</td>
									</tr>
									<tr>
									    <td>亞洲(Asia)</td>
										<td>Indonesia</td>
									</tr>
									<tr>
									    <td>美洲(America)</td>
										<td>United States of America</td>
									</tr>
									<tr>
									    <td>大洋洲(Oceania)</td>
										<td>Australia</td>
									</tr>
								</tbody>
							</table>
                        </div>
						
						<div class="form-group">
                            <label for="pr-01" class="form-label">A-2預期交流使用語言 Proposed languages for communication</label>
							<div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" id="pr-check_01" value="option1" checked onclick="return false" />
                                    <label class="form-check-label" for="pr-check_01">英語(English)</label>
                                </div>
								<div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" id="pr-check_02" value="option1" onclick="return false" />
                                    <label class="form-check-label" for="pr-check_02">日語(Japanese)</label>
                                </div>
							</div>
							<div class="form-text">可複選</div>
                        </div>
						
                        <div class="form-group">
                            <label class="form-label">A-3預期接待學校 Proposed exchange school</label>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="pr-check_03" checked />
                                <label class="form-check-label" for="pr-check_03">
                                    技術型高中 (Technical senior high school)
                                </label>
                            </div>
                            <!-- 區塊 show/hide 煩請前端協助 -->
                            <div class="extend-wrap mb-3">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="pr-check_04" />
                                    <label class="form-check-label" for="pr-check_04">
                                        機械群 Mechanical Engineering
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="pr-check_05" checked />
                                    <label class="form-check-label" for="pr-check_05">
                                        土木與建築群 Civil engineering and Architecture
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="pr-check_06" />
                                    <label class="form-check-label" for="pr-check_06">
                                        動力機械群 Power Mechanical Engineering
                                    </label>
                                </div>
                            </div>
                            <div class="d-flex-align">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="pr-check_07" checked />
                                    <label class="form-check-label" for="pr-check_07">
                                        其他 (Other)
                                    </label>
                                </div>
                                <div class="span-input ms-3 flex-fill"><input type="text" class="form-control w-50" value="" disabled></div>
                            </div>
                        </div>
						
                        <div class="form-group">
                            <label class="form-label">A-4 預期接待學生年級 Proposed grade level of exchange students</label>
                            <div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" id="pr-check_08" value="option1" checked />
                                    <label class="form-check-label" for="pr-check_08">4年級 Grade 4</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" id="pr-check_08" value="option2" checked />
                                    <label class="form-check-label" for="pr-check_08">5年級 Grade 5</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" id="pr-check_09" value="option3" checked />
                                    <label class="form-check-label" for="pr-check_09">6年級 Grade 6</label>
                                </div>
                            </div>
                        </div>
						
						<div class="form-group">
                            <label class="form-label">A-5 預期接待學校類型 Proposed type of exchange school</label>
                            <div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" id="pr-check_10" value="option1" checked />
                                    <label class="form-check-label" for="pr-check_10">公立(Public)</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" id="pr-check_11" value="option2" checked />
                                    <label class="form-check-label" for="pr-check_11">私立(Private)</label>
                                </div>
                            </div>
                        </div>
						
                        <div class="form-group">
                            <label class="form-label">A-6 預期接待學生組成 Proposed composition of exchange students</label>
                            <div class="d-flex-align">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="pr-check_12" checked />
                                    <label class="form-check-label" for="pr-check_12">
                                        其他 (Other)
                                    </label>
                                </div>
                                <div class="span-input ms-3 flex-fill"><input type="text" class="form-control w-50" value="男女合校" disabled></div>
                            </div>
                        </div>
						
						<div class="form-group">
                            <label class="form-label">A-7 預期接待學校屬性 Proposed affiliation of exchange school</label>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="pr-check_13" checked />
                                <label class="form-check-label" for="pr-check_13">
                                    實驗學校(Experimental School)
                                </label>
                            </div>
							<div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="pr-check_14" checked />
                                <label class="form-check-label" for="pr-check_14">
                                    國際學校(International School)
                                </label>
                            </div>
                            <div class="d-flex-align">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="pr-check_15" checked />
                                    <label class="form-check-label" for="pr-check_15">
                                        其他 (Other)
                                    </label>
                                </div>
                                <div class="span-input ms-3 flex-fill"><input type="text" class="form-control w-50" value="" disabled></div>
                            </div>
                        </div>
						
						<div class="form-group">
                            <label class="form-label">A-8 預期接待人員 Proposed composition of the group</label>
                            <div class="d-flex-align mb-3">
                                <span class="inner-label">總計 (Total)</span>
                                <span class="inner-input"><input type="text" class="form-control w-50" id="" value="42" disabled></span>
                            </div>
							<div class="d-flex-align mb-3">
                                <span class="inner-label">男學生 (Male Students)</span>
                                <span class="inner-input"><input type="text" class="form-control w-50" id="" value="15" disabled></span>
                            </div>
							<div class="d-flex-align mb-3">
                                <span class="inner-label">女學生 (Female Students)</span>
                                <span class="inner-input"><input type="text" class="form-control w-50" id="" value="15" disabled></span>
                            </div>
							<div class="d-flex-align mb-3">
                                <span class="inner-label">男教師 (Male Teachers)</span>
                                <span class="inner-input"><input type="text" class="form-control w-50" id="" value="5" disabled></span>
                            </div>
							<div class="d-flex-align mb-3">
                                <span class="inner-label">女教師 (Female Teachers)</span>
                                <span class="inner-input"><input type="text" class="form-control w-50" id="" value="5" disabled></span>
                            </div>
							<div class="d-flex-align mb-3">
                                <span class="inner-label">男隨團人員 (Male Other)</span>
                                <span class="inner-input"><input type="text" class="form-control w-50" id="" value="1" disabled></span>
                            </div>
							<div class="d-flex-align mb-3">
                                <span class="inner-label">女隨團人員 (Female Other)</span>
                                <span class="inner-input"><input type="text" class="form-control w-50" id="" value="1" disabled></span>
                            </div>
                        </div>
						
					</div>
					
					<div class="inner-group">
						
					    <h4 class="pl">B. 交流類型與活動 Exchange activities</h4>
						
						<div class="form-group">
                            <label class="form-label">B-1 預期交流類型活動 Proposed types of exchange activities</label>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="pr-check_16" checked />
                                <label class="form-check-label" for="pr-check_16">
                                    校園參訪(Campus tours)
                                </label>
                            </div>
							<div class="form-check">
                                <input class="form-check-input" type="checkbox" id="pr-check_17" checked />
                                <label class="form-check-label" for="pr-check_17">
                                    課堂體驗(Auditing classes)
                                </label>
                            </div>
							<div class="form-check">
                                <input class="form-check-input" type="checkbox" id="pr-check_18" />
                                <label class="form-check-label" for="pr-check_18">
                                    社團體驗(School club experiences)
                                </label>
                            </div>
							<div class="form-check">
                                <input class="form-check-input" type="checkbox" id="pr-check_19" />
                                <label class="form-check-label" for="pr-check_19">
                                    語言及文化體驗(Language culture experiences)
                                </label>
                            </div>
							<div class="form-check">
                                <input class="form-check-input" type="checkbox" id="pr-check_20" checked />
                                <label class="form-check-label" for="pr-check_20">
                                    實作工作坊(Hands-on workshops)
                                </label>
                            </div>
                            <div class="d-flex-align">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="pr-check_21" />
                                    <label class="form-check-label" for="pr-check_21">
                                        其他 (Other)
                                    </label>
                                </div>
                                <div class="span-input ms-3 flex-fill"><input type="text" class="form-control w-50" value="" disabled></div>
                            </div>
                        </div>
						
						<div class="form-group">
                            <label class="form-label">B-2 預期接待期間 Proposed periods</label>
							<div class="multilayer">
                                <div class="d-flex mb-3">
                                    <div class="me-2">
                                        <label for="inner_01" class="form-label">開始日期</label>
                                        <input type="text" class="form-control" id="inner_01" value="2021/11/15" disabled>
                                    </div>
                                    <div>
                                        <label for="inner_02" class="form-label">結束日期</label>
                                        <input type="text" class="form-control" id="inner_02" value="2021/11/19" disabled>
                                    </div>
                                </div>
                                <div class="d-flex mb-3">
                                    <div class="me-2">
                                        <label for="inner_03" class="form-label">開始日期</label>
                                        <input type="text" class="form-control" id="inner_03" value="yyyy/mm/dd" disabled>
                                    </div>
                                    <div>
                                        <label for="inner_04" class="form-label">結束日期</label>
                                        <input type="text" class="form-control" id="inner_04" value="yyyy/mm/dd" disabled>
                                    </div>
                                </div>
                                <div class="d-flex mb-3">
                                    <div class="me-2">
                                        <label for="inner_05" class="form-label">開始日期</label>
                                        <input type="text" class="form-control" id="inner_05" value="yyyy/mm/dd" disabled>
                                    </div>
                                    <div>
                                        <label for="inner_06" class="form-label">結束日期</label>
                                        <input type="text" class="form-control" id="inner_06" value="yyyy/mm/dd" disabled>
                                    </div>
                                </div>
							</div>
                        </div>
						
						<div class="form-group">
                            <label class="form-label">B-3 預期住宿安排 Proposed accommodation arrangement</label>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="pr-check_22" />
                                <label class="form-check-label" for="pr-check_22">
                                    旅館(Hotel)
                                </label>
                            </div>
							<div class="form-check">
                                <input class="form-check-input" type="checkbox" id="pr-check_23" />
                                <label class="form-check-label" for="pr-check_23">
                                    青年旅館(Hostel)
                                </label>
                            </div>
							<div class="form-check">
                                <input class="form-check-input" type="checkbox" id="pr-check_24" />
                                <label class="form-check-label" for="pr-check_24">
                                    宿舍(Dormitory)
                                </label>
                            </div>
							<div class="form-check">
                                <input class="form-check-input" type="checkbox" id="pr-check_25" checked />
                                <label class="form-check-label" for="pr-check_25">
                                    接待家庭(Host family)
                                </label>
                            </div>
                            <div class="d-flex-align">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="pr-check_26" />
                                    <label class="form-check-label" for="pr-check_26">
                                        其他 (Other)
                                    </label>
                                </div>
                                <div class="span-input ms-3 flex-fill"><input type="text" class="form-control w-50" value="" disabled></div>
                            </div>
                        </div>
						
						<div class="form-group">
                            <label class="form-label">B-4 負擔費用項目 Program costs and insurances</label>
							
                            <div class="table-responsive">
								<table class="table table-bordered text-nowrap">
								    <thead>
									    <tr>
										    <th colspan="2">項目<br>(Item)</th>
											<th class="text-center">交流師生需負擔<br>(Paid by visitors)</th>
											<th class="text-center">接待學校可負擔<br>(Paid by hosts)</th>
										</tr>
									</thead>
									<tbody>
									    <tr>
										    <td colspan="2">往返機票費用(Round-trip flight ticket cost)</td>
											<td class="text-center">
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name="radioSample_02" id="pr-radio_02" value="option1" onclick="return false" checked>
                                                </div>
											</td>
											<td class="text-center">
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name="radioSample_02" id="pr-radio_03" value="option2" onclick="return false">
                                                </div>
											</td>
										</tr>
										<tr>
										    <td colspan="2">保險費用(Insurance coverage)</td>
											<td class="text-center">
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name="radioSample_03" id="pr-radio_04" value="option1" onclick="return false" checked>
                                                </div>
											</td>
											<td class="text-center">
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name="radioSample_03" id="pr-radio_05" value="option2" onclick="return false">
                                                </div>
											</td>
										</tr>
										<tr>
										    <td colspan="2">簽證費用(Visa application fees)</td>
											<td class="text-center">
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name="radioSample_04" id="pr-radio_06" value="option1" onclick="return false" checked>
                                                </div>
											</td>
											<td class="text-center">
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name="radioSample_04" id="pr-radio_07" value="option2" onclick="return false">
                                                </div>
											</td>
										</tr>
										<tr>
										    <td rowspan="2">落地交通<br>(Transportation)</td>
											<td>1.機場接送 (Airport pick-up and send-off)</td>
											<td class="text-center">
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name="radioSample_05" id="pr-radio_08" value="option1" onclick="return false" checked>
                                                </div>
											</td>
											<td class="text-center">
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name="radioSample_05" id="pr-radio_09" value="option2" onclick="return false">
                                                </div>
											</td>
										</tr>
										<tr>
											<td>2.接待學校與住宿地點之往返交通 (Between school and accommodation)</td>
											<td class="text-center">
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name="radioSample_06" id="pr-radio_10" value="option1" onclick="return false" checked>
                                                </div>
											</td>
											<td class="text-center">
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name="radioSample_06" id="pr-radio_11" value="option2" onclick="return false">
                                                </div>
											</td>
										</tr>
										
										<tr>
										    <td rowspan="4">落地住宿<br>(Accommodation)</td>
											<td>1.旅館 (Hotel)</td>
											<td class="text-center">
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name="radioSample_07" id="pr-radio_08" value="option1" onclick="return false" checked>
                                                </div>
											</td>
											<td class="text-center">
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name="radioSample_07" id="pr-radio_09" value="option2" onclick="return false">
                                                </div>
											</td>
										</tr>
										<tr>
											<td>2.青年旅館 (Hostel)</td>
											<td class="text-center">
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name="radioSample_08" id="pr-radio_10" value="option1" checked="" onclick="return false" checked>
                                                </div>
											</td>
											<td class="text-center">
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name="radioSample_08" id="pr-radio_11" value="option2" onclick="return false">
                                                </div>
											</td>
										</tr>
										<tr>
											<td>3.宿舍 (Dormitory)</td>
											<td class="text-center">
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name="radioSample_09" id="pr-radio_10" value="option1" checked="" onclick="return false">
                                                </div>
											</td>
											<td class="text-center">
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name="radioSample_09" id="pr-radio_11" value="option2" onclick="return false">
                                                </div>
											</td>
										</tr>
										<tr>
											<td>4.接待家庭 (Host family)</td>
											<td class="text-center">
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name="radioSample_10" id="pr-radio_10" value="option1" onclick="return false">
                                                </div>
											</td>
											<td class="text-center">
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name="radioSample_10" id="pr-radio_11" value="option2" onclick="return false" checked>
                                                </div>
											</td>
										</tr>
										<tr>
										    <td colspan="2">以下省略請參考以上範例</td>
											<td class="text-center">
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name="radioSample_02" id="pr-radio_02" value="option1" onclick="return false" checked>
                                                </div>
											</td>
											<td class="text-center">
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name="radioSample_02" id="pr-radio_03" value="option2" onclick="return false">
                                                </div>
											</td>
										</tr>
									</tbody>
								</table>
                            </div>
                        </div>
						
					</div>
					
					<div class="inner-group">
					    <h4 class="pl">C. 聯絡資訊及上傳檔案 (Contact Information and Proposal submission)</h4>
						
						<div class="form-group">
                            <label for="pr-01" class="form-label">專案聯絡人</label>
							<div>
                                <div class="form-check form-check-inline">
									<input class="form-check-input" type="checkbox" id="pr-check_62" value="option1" onclick="return false" checked />
                                    <label class="form-check-label" for="pr-check_62">與學校聯絡人相同(Please check the box if the contact person is the same as the school contact, and leave C-1 and C-2 blank.)</label>
                                </div>
							</div>
                        </div>
						
                        <div class="form-group">
							<!-- 原始頁面題目原為 C-3 附檔，之後再塞了一個子題目，看不懂邏輯，我將子題目拉上來，邏輯若錯誤造成排版問題再找 fire 討論調整 -->
                            <label class="form-label">C-3 接待交流提案 The attached proposal</label>
                            <div class="textarea">無檔案上傳(no file)</div>
                            <div class="form-text">pdf file only (原始頁面題目原為 C-3 附檔，之後再塞了一個子題目，看不懂邏輯，我將子題目拉上來，邏輯若錯誤造成排版問題再找 fire 討論調整)</div>
                        </div>
					</div>
					
					<div class="inner-group">
					    <h4 class="pl">D. 備註 (Note)</h4>
						<p class="pl">若尚有其他問題，請於此提出。(If you have any further question, please leave your question in the box below.)</p>
                        <!-- inline style 為 demo，請拿掉 -->
                        <div class="editor-container" style="background: #eee;padding: 1.25rem;">editor here, inline style 為 demo，請拿掉</div>
					</div>
				</div>
			</div>

        </div>
	</div>
</div>



<% content_for :js do %>
    <!-- Three js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r61/three.min.js"></script>
    <script>
        var scene = new THREE.Scene();
        var camera = new THREE.PerspectiveCamera(75, window.innerWidth/window.innerHeight, 0.1, 1000);
        var renderer = new THREE.WebGLRenderer();

        /*
         In addition to creating the renderer instance, we also need to set the size at which we want it to render our app. 
         It's a good idea to use the width and height of the area we want to fill with our game 
         - in this case, the width and height of the browser window. For performance intensive games, you can also give setSize smaller values, 
         like window.innerWidth/2 and window.innerHeight/2, for half the resolution. 
         This does not mean that the game will only fill half the window, but rather look a bit blurry and scaled up.

         Last but not least, we add the renderer element to our HTML document. 
         This is a <canvas> element the renderer uses to display the scene to us.
        */

        renderer.setSize(window.innerWidth, window.innerHeight);
        document.body.appendChild(renderer.domElement);



        /* Create Lights: PointLight / SpotLight etc.*/
        var spotLight = new THREE.SpotLight(0xffffff);
        spotLight.position.set(100,100,100);
        spotLight.castShadow = true; //If set to true light will cast dynamic shadows. Warning: This is expensive and requires tweaking to get shadows looking right.
        spotLight.shadowMapWidth = 1024;
        spotLight.shadowMapHeight = 1024;
        spotLight.shadowCameraNear = 500;
        spotLight.shadowCameraFar = 4000;
        spotLight.shadowCameraFov = 30;
        scene.add(spotLight);

        /* Create Material */
        function Mat(){
          var material = new THREE.MeshPhongMaterial({
            color      : new THREE.Color("rgb(35,35,213)"),  //Diffuse color of the material
            emissive   : new THREE.Color("rgb(64,128,255)"), //Emissive(light) color of the material, essentially a solid color unaffected by other lighting. Default is black.
            specular   : new THREE.Color("rgb(93,195,255)"), /*Specular color of the material, i.e., how shiny the material is and the color of its shine. 
                                                               Setting this the same color as the diffuse value (times some intensity) makes the material more metallic-looking; 
                                                               setting this to some gray makes the material look more plastic. Default is dark gray.*/
            shininess  : 1,                                  //How shiny the specular highlight is; a higher value gives a sharper highlight. Default is 30.
            shading    : THREE.FlatShading,                  //How the triangles of a curved surface are rendered: THREE.SmoothShading, THREE.FlatShading, THREE.NoShading
            wireframe  : 1,                                  //THREE.Math.randInt(0,1)
            transparent: 1,
            opacity    : 0.15                                //THREE.Math.randFloat(0,1) 
          });
          return material;
        }

        /* Create Geometry */
        var geometry = new THREE.SphereGeometry(50,20,20,0,Math.PI*2,0,Math.PI);
        //SphereGeometry(radius, widthSegments, heightSegments, phiStart, phiLength, thetaStart, thetaLength)

        /* Create Earth Sphere*/
        var earth = new THREE.Mesh(geometry, Mat());

        /*
        var numSphere = 30;
        var tabSphere = [];
        for(var i=0: i<numSphere; i++){
          tabShpere.push(new Sphere(i));
          scene.add(tabSphere[i].b);
        }
        */

        scene.add(earth);

        camera.position.z = 90;



        /*
          This will create a loop that causes the renderer to draw the scene 60 times per second. 
          If you're new to writing games in the browser, you might say "why don't we just create a setInterval? 
          The thing is - we could, but requestAnimationFrame has a number of advantages. 
          Perhaps the most important one is that it pauses when the user navigates to another browser tab, hence not wasting their precious processing power and battery life.
        */
        function render(){
          requestAnimationFrame(render);
          earth.rotation.x += 0.001;
          earth.rotation.y += 0.001;
          renderer.render(scene, camera);
        }
        render();
    </script>
<% end %>




