<!-- NTU-Factsheet: 已填寫  -->

<div class="container">
    <div class="success-checkmark">
        <div class="check-icon">
            <span class="icon-line line-tip"></span>
            <span class="icon-line line-long"></span>
            <div class="icon-circle"></div>
            <div class="icon-fix"></div>
        </div>
    </div>
	<p class="text-center">此問卷已送出</p>
</div>

















