<!-- NTU-Factsheet: 更改密碼  -->

<div class="container">
    <div class="login-wrap">
        <form>
            <p class="h4 text-center py-4">更改密碼</p>
            <div class="md-form">
                <input type="password" id="materialOldPassword" class="form-control" placeholder="請輸入舊密碼">
            </div>
            <div class="md-form">
                <input type="password" id="materialNewPassword" class="form-control" placeholder="請輸入新密碼">
            </div>
            <div class="md-form">
                <input type="password" id="materialNewPassword2" class="form-control" placeholder="請再輸入一次新密碼">
            </div>
            <div class="md-form row">
                <div class="col">
                    <input type="text" id="CAPTCHA" class="form-control mb-4" placeholder="請輸入驗證碼">
                </div>
                <span class="col input-group-addon verification">
                    <img class="captcha" src="http://nfu-map.dev.com.tw/common/captcha.image">
                </span>
            </div>
            <div class="text-center py-4">
                <button class="btn btn-outline-unique btn-rounded my-4 waves-effect z-depth-0" type="submit">確認修改</button>
            </div>
        </form>
    </div>
</div>