<!-- NTU-Factsheet: 問卷填寫  -->

<div class="container">
	<hgroup class="step-hd">
		<h4>盧比安納大學</h4>
		<h5>歐洲 斯洛維尼亞共和國</h5>
	</hgroup>
	
	<div class="block">
	    <h4 class="block-hd">聯絡資訊</h4>
        <div class="row">
            <div class="form-group col-6">
				<div class="md-form">
                    <label for="inputName">姓名</label>
                    <input type="text" class="form-control" id="inputName" placeholder="">
				</div>
            </div>
            <div class="form-group col-6">
				<div class="md-form">
                    <label for="jobTitle">職稱</label>
                    <input type="text" class="form-control" id="jobTitle" placeholder="">
				</div>
            </div>
        </div>
		<div class="row">
            <div class="form-group col-6">
				<div class="md-form">
                    <label for="inputPhone"><span class="required">*</span>電話</label>
                    <input type="text" class="form-control" id="inputPhone" placeholder="">
				</div>
            </div>
			<div class="form-group col-6">
				<div class="md-form">
                    <label for="inputBackupEmail"><span class="required">*</span>聯絡信箱</label>
                    <input type="text" class="form-control" id="inputBackupEmail" placeholder="">
				</div>
            </div>
        </div>
		<div class="row">
			<div class="form-group col-6">
				<div class="md-form">
                    <label for="inputEmail">備用信箱</label>
                    <input type="text" class="form-control" id="inputEmail" placeholder="">
				</div>
            </div>
			<div class="form-group col-6">
				<div class="md-form">
                    <label for="inputAddress">地址</label>
                    <input type="text" class="form-control" id="inputAddress" placeholder="">
				</div>
            </div>
        </div>
	</div>
	
	<div class="block">
	    <h4 class="block-hd">Exchange Quota</h4>
        <div class="form-group mb-5">
            <label for="textareaCalendar">行事曆</label>
            <textarea class="form-control rounded-0" id="textareaCalendar" rows="4"></textarea>
        </div>
        <div class="row">
            <div class="form-group col-6">
                <div class="md-form">
                    <input placeholder="請選擇日期" type="text" id="date-picker-001" class="form-control datepicker">
                    <label for="date-picker-001">2020 提名截止日期</label>
                </div>
            </div>
            <div class="form-group col-6">
                <div class="md-form">
                    <input placeholder="請選擇日期" type="text" id="date-picker-002" class="form-control datepicker">
                    <label for="date-picker-002">2021 提名截止日期</label>
                </div>
            </div>
        </div>
		<div class="row">
            <div class="form-group col-6">
                <div class="md-form">
                    <input placeholder="請選擇日期" type="text" id="date-picker-003" class="form-control datepicker">
                    <label for="date-picker-003">2020 申請截止日期</label>
                </div>
            </div>
            <div class="form-group col-6">
                <div class="md-form">
                    <input placeholder="請選擇日期" type="text" id="date-picker-004" class="form-control datepicker">
                    <label for="date-picker-004">2021 申請截止日期</label>
                </div>
            </div>
        </div>
		<div class="row">
			<div class="form-group col-6">
                <div class="md-form">
                    <label for="inputSemesters">每學期可接收學生人數</label>
                    <input type="text" class="form-control" id="inputSemesters" placeholder="">
                </div>
			</div>
			<div class="form-group col-6">
				<div class="md-form">
                    <label for="inputSemester">單學期可接受人數</label>
                    <input type="text" class="form-control" id="inputSemester" placeholder="">
				</div>
            </div>
        </div>
        <div class="form-group">
            <label class="d-block">是否接受一學年交換生</label>
            <div class="form-check form-check-inline">
                <input type="radio" class="form-check-input" id="materialInline1" name="Single">
                <label class="form-check-label" for="materialInline1">是</label>
            </div>
            <div class="form-check form-check-inline">
                <input type="radio" class="form-check-input" id="materialInline2" name="Single">
                <label class="form-check-label" for="materialInline2">否</label>
            </div>
        </div>
	</div>
	
	<div class="block">
	    <h4 class="block-hd">Study Level</h4>
		<div class="row">
            <div class="form-group mb-4 col-6">
                <label class="d-block">學士／碩士／博士</label>
                <div class="form-check form-check-inline">
                    <input type="checkbox" class="form-check-input" id="materialInline5">
                    <label class="form-check-label" for="materialInline5">學士</label>
                </div>
                <div class="form-check form-check-inline">
                    <input type="checkbox" class="form-check-input" id="materialInline6">
                    <label class="form-check-label" for="materialInline6">碩士</label>
                </div>
                <div class="form-check form-check-inline">
                    <input type="checkbox" class="form-check-input" id="materialInline7">
                    <label class="form-check-label" for="materialInline7">博士</label>
                </div>
            </div>
            <div class="form-group mb-4 col-6">
                <label class="d-block">是否接受畢業班以及延畢學生</label>
                <div class="form-check form-check-inline">
                    <input type="radio" class="form-check-input" id="materialInline3" name="Extended">
                    <label class="form-check-label" for="materialInline3">是</label>
                </div>
                <div class="form-check form-check-inline">
                    <input type="radio" class="form-check-input" id="materialInline4" name="Extended">
                    <label class="form-check-label" for="materialInline4">否</label>
                </div>
            </div>
		</div>
		<div class="form-group mb-5">
            <label for="textareaProgram">若博士班學生需其他申請程序，請說明。</label>
            <textarea class="form-control rounded-0" id="textareaProgram" rows="4"></textarea>
        </div>
		<div class="row">
            <div class="form-group col-6">
				<div class="md-form">
                    <label for="inputGrade">成績要求</label>
                    <input type="text" class="form-control" id="inputGrade">
				</div>
            </div>
            <div class="form-group col-6">
				<div class="md-form">
                    <label for="inputCourse">課程網頁</label>
                    <input type="text" class="form-control" id="inputCourse">
				</div>
            </div>
        </div>
		<div class="row">
            <div class="form-group col-6">
				<div class="md-form">
                    <label for="inputLimit">系所限制</label>
                    <input type="text" class="form-control" id="inputLimit">
				</div>
            </div>
            <div class="form-group col-6">
				<div class="md-form">
                    <label for="inputCredit">每學期最低選修學分</label>
                    <input type="text" class="form-control" id="inputCredit">
				</div>
            </div>
        </div>
	</div>
	
	<div class="block">
	    <h4 class="block-hd">Gerneral Information</h4>
		<div class="row">
            <div class="form-group col-6">
				<div class="md-form">
                    <label for="livingExpenses">生活費</label>
                    <input type="text" class="form-control" id="livingExpenses">
				</div>
            </div>
            <div class="form-group mb-4 col-6">
                <label class="d-block">是否保障住宿</label>
                <div class="form-check form-check-inline">
                    <input type="radio" class="form-check-input" id="materialInline8" name="Accommodation">
                    <label class="form-check-label" for="materialInline8">是</label>
                </div>
                <div class="form-check form-check-inline">
                    <input type="radio" class="form-check-input" id="materialInline9" name="Accommodation">
                    <label class="form-check-label" for="materialInline9">否</label>
                </div>
            </div>
        </div>
		<div class="form-group mb-4">
            <label for="textareaAccommodation">住宿資訊</label>
            <textarea class="form-control rounded-0" id="textareaAccommodation" rows="4"></textarea>
        </div>
		<div class="row">
            <div class="form-group col-6">
				<div class="md-form">
                    <label for="inputInsurance">保險</label>
                    <input type="text" class="form-control" id="inputInsurance">
				</div>
            </div>
            <div class="form-group col-6">
				<div class="md-form">
                    <label for="inputLanguage">語言課程</label>
                    <input type="text" class="form-control" id="inputLanguage">
				</div>
            </div>
        </div>
	</div>
	
	<div class="block">
	    <h4 class="block-hd">自訂區塊標題</h4>
		<div class="info mb-4">
		<p>自訂區塊說明文案，Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus volutpat at erat et tincidunt. Cras imperdiet at erat eget tincidunt. Donec consectetur dui erat. Etiam at metus at nisl scelerisque pulvinar quis ac dolor. Donec venenatis sem nec laoreet finibus. Curabitur pretium</p>
		<p>自訂區塊 html 請參考上方相關範例，以下只呈列上方區塊沒有出現過表單類型，或參考 <a href="https://mdbootstrap.com/docs/jquery/forms/basic/">MDBootstrap</a>。</p>
		</div>
        <div class="form-group">
            <label class="d-block"><span class="required">*</span>題目標題文字</label>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus volutpat at erat et tincidunt. Cras imperdiet at erat eget tincidunt. Donec consectetur dui erat. Etiam at metus at nisl scelerisque pulvinar quis ac dolor. Donec venenatis sem nec laoreet finibus. Curabitur pretium.</p>
            <div class="form-check pl-0">
                <input type="radio" class="form-check-input" id="materiaCustom1" name="Custom1">
                <label class="form-check-label" for="materiaCustom1">item one</label>
            </div>
            <div class="form-check pl-0">
                <input type="radio" class="form-check-input" id="materiaCustom2" name="Custom1">
                <label class="form-check-label" for="materiaCustom2">item two</label>
            </div>
			<div class="input-group ml-0">
                <div class="form-check pl-0">
                    <input type="radio" class="form-check-input" id="materiaCustom3" name="Custom1">
                    <label class="form-check-label" for="materiaCustom3">item three</label>
                </div>
                <div class="md-form pl-3 mt-0">
                    <input type="text" class="form-control">
                </div>
			</div>
        </div>
		
		<div class="form-group">
            <label class="d-block">題目標題文字</label>
			<p>Vivamus volutpat at erat et tincidunt. Cras imperdiet at erat eget tincidunt. Donec consectetur dui erat.</p>
			<div class="input-group">
                <div class="mr-4">
                    <select class="mdb-select md-form colorful-select dropdown-primary">
                        <option selected>Choose your option</option>
                        <option value="1">Option 1</option>
                        <option value="2">Option 2</option>
                        <option value="3">Option 3</option>
                        <option value="4">Option 4</option>
                        <option value="5">Option 5</option>
                    </select>
                </div>
				<div class="mr-4">
                    <select class="mdb-select md-form colorful-select dropdown-primary">
                        <option selected>Choose your option</option>
                        <option value="1">Option 1</option>
                        <option value="2">Option 2</option>
                        <option value="3">Option 3</option>
                        <option value="4">Option 4</option>
                        <option value="5">Option 5</option>
                    </select>
                </div>
				<div class="md-form mr-4">
				    <input type="text" class="form-control" placeholder="請輸入分數">
				</div>
				<div class="form-action">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
				</div>
			</div>
			<div class="input-group">
                <div class="mr-4">
                    <select class="mdb-select md-form colorful-select dropdown-primary">
                        <option selected>Choose your option</option>
                        <option value="1">Option 1</option>
                        <option value="2">Option 2</option>
                        <option value="3">Option 3</option>
                        <option value="4">Option 4</option>
                        <option value="5">Option 5</option>
                    </select>
                </div>
				<div class="mr-4">
                    <select class="mdb-select md-form colorful-select dropdown-primary">
                        <option selected>Choose your option</option>
                        <option value="1">Option 1</option>
                        <option value="2">Option 2</option>
                        <option value="3">Option 3</option>
                        <option value="4">Option 4</option>
                        <option value="5">Option 5</option>
                    </select>
                </div>
				<div class="md-form mr-4">
				    <input type="text" class="form-control" placeholder="請輸入分數">
				</div>
				<div class="form-action">
                    <button type="button" class="close add" data-dismiss="alert" aria-label="Add">
                        <span aria-hidden="true">+</span>
                    </button>
				</div>
			</div>
        </div>
	</div>
	
	<div class="block">
        <div class="step-container">
            <h4 class="block-hd">繳交文件</h4>
            <div class="document-upload">
                <div class="document-item">
                    <div class="document-hd">
                        <h6>1. <%= lorem_sentence %></h6>
                    </div>
                    <div class="document-ft clearfix">
						<a href="#" class="btn btn-secondary btn-custom" data-toggle="modal" data-target="#basicExampleModal">說明</a>
						<div class="file-wrap">
                            <form class="md-form">
                                <div class="file-field">
                                    <div class="btn btn-primary btn-sm float-left">
                                        <span>選擇</span>
                                        <input type="file">
                                    </div>
                                    <div class="file-path-wrapper">
                                        <input class="file-path validate" type="text" placeholder="上傳檔案">
                                    </div>
                                </div>
                            </form>
						</div>
                    </div>
                </div>
                <div class="document-item">
                    <div class="document-hd">
                        <h6>2. Completed NCTU scholarship application form</h6>
                        <p>上傳時間 <i class="fa fa-clock-o"></i> 2018/12/12 18:20</p>
                    </div>
                    <div class="document-ft clearfix">
                        <a href="#" class="btn btn-secondary btn-custom" data-toggle="modal" data-target="#basicExampleModal">說明</a>
                        <a href="#" class="btn btn-info btn-custom">檢視</a>
                        <a href="#" class="btn btn-warning btn-custom">修改</a>
                    </div>
                </div>
                <div class="document-item">
                    <div class="document-hd">
                        <h6>3. <%= lorem_sentence %></h6>
                    </div>
                    <div class="document-ft clearfix">
						<a href="#" class="btn btn-secondary btn-custom" data-toggle="modal" data-target="#basicExampleModal">說明</a>
						<div class="file-wrap">
                            <form class="md-form">
                                <div class="file-field">
                                    <div class="btn btn-primary btn-sm float-left">
                                        <span>選擇</span>
                                        <input type="file">
                                    </div>
                                    <div class="file-path-wrapper">
                                        <input class="file-path validate" type="text" placeholder="上傳檔案">
                                    </div>
                                </div>
                            </form>
						</div>
                    </div>
                </div>
                <div class="document-item">
                    <div class="document-hd">
                        <h6>4. <%= lorem_sentence %></h6>
                    </div>
                    <div class="document-ft clearfix">
						<a href="#" class="btn btn-secondary btn-custom" data-toggle="modal" data-target="#basicExampleModal">說明</a>
						<div class="file-wrap">
                            <form class="md-form">
                                <div class="file-field">
                                    <div class="btn btn-primary btn-sm float-left">
                                        <span>選擇</span>
                                        <input type="file">
                                    </div>
                                    <div class="file-path-wrapper">
                                        <input class="file-path validate" type="text" placeholder="上傳檔案">
                                    </div>
                                </div>
                            </form>
						</div>
                    </div>
                </div>
            </div>
            <hr />
            <div class="text-center pt-4">
                <button type="button" class="btn btn-rounded btn-unique btn-lg">Submit</button>
            </div>
        </div>
	</div>
</div>

<!-- Modal -->
<div class="modal fade" id="basicExampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus volutpat at erat et tincidunt. Cras imperdiet at erat eget tincidunt. Donec consectetur dui erat. Etiam at metus at nisl scelerisque pulvinar quis ac dolor. Donec venenatis sem nec laoreet finibus. Curabitur pretium, nunc vel pulvinar semper, justo purus vulputate neque, non mattis dolor felis sit amet lectus. Nullam mattis ligula quis libero lobortis porttitor. Cras eros dui, egestas sit amet enim id, mattis lobortis nisl. Phasellus ac scelerisque lacus. Etiam finibus a lorem facilisis commodo. Duis vel risus facilisis, ornare libero sed, malesuada libero. Sed pharetra ligula dolor, vitae tempor orci condimentum at. </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-sm btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

<% content_for :js do %>
<script>
$(function () {
	$('.datepicker').pickadate();
});
// Material Select Initialization
$(document).ready(function() {
    $('.mdb-select').materialSelect();
});
</script>
<% end %>

















