<!-- NTU-OSA: 成員介紹 -->

<div class="container">
	
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="#">首頁</a></li>
			<li class="breadcrumb-item"><a href="#">關於我們</a></li>
			<li class="breadcrumb-item active">成員介紹</li>
		</ol>
	</nav>
	<main class="main">
	    <div class="about-container">
            <div class="section-title">
                <h3>成員介紹</h3>
            </div>
			<div class="member-wrapper">
                <div class="avatar">
                    <img src="https://placekeanu.com/1000/1000" alt="member name">
                </div>
				<div class="member-info">
				    <h3 class="mb-3">基諾李維</h3>
                    <ul class="menu-item individual">
                        <li>
                            <p class="label">連絡電話</p>
                            <ul class="menu-item">
                                <li>02-33662181 #10</li>
                            </ul>
                        </li>
                        <li>
                            <p class="label">電子信箱</p>
                            <ul class="menu-item">
                                <li>lioutung@ntu.edu.tw</li>
                            </ul>
                        </li>
                    </ul>
					<div class="individual">
                        <p class="label">學歷</p>
                        <ul class="menu-item">
                            <li>臺灣大學心理所 臨床心理學組碩士</li>
                        </ul>
                    </div>
					<div class="individual">
                        <p class="label">經歷</p>
                        <ul class="menu-item">
                            <li>值班初談接案</li>
                            <li>個別心理諮商</li>
                            <li>心理測驗解釋</li>
                            <li>成長團體工作坊</li>
                            <li>高關懷個案管理</li>
                            <li>新生普查電訪追蹤</li>
                        </ul>
                    </div>
					<div class="individual">
                        <p class="label">諮商議題</p>
                        <ul class="menu-item">
                            <li>自我及意義探索</li>
                            <li>生活壓力及時間管理</li>
                            <li>情感問題 </li>
                            <li>性別認同及相關議題</li>
                            <li>睡眠問題</li>
                            <li>飲食問題</li>
							<li>身心狀況</li>
							<li>人際相關議題</li>
							<li>家庭議題</li>
                        </ul>
                    </div>
					<div class="individual">
                        <p class="label">證照</p>
                        <ul class="menu-item">
                            <li>臺灣大學心理所</li>
                        </ul>
                    </div>
					<div class="individual">
                        <p class="label"><%= lorem_words(4) %></p>
                        <ul class="menu-item">
                            <li><%= lorem_words(6) %></li>
							<li><%= lorem_words(6) %></li>
							<li><%= lorem_words(6) %></li>
                        </ul>
                    </div>
				</div>
			</div>
		</div>
	</main>
</div>


<% content_for :js do %>

<% end %>





















































