<footer class="footer">
	<div class="container">
        <div class="footer-inner">
            <div class="contact">
                <h5>國立雲林科技大學國際事務處</h5>
                <p><i class="fa fa-map-marker"=></i> 64002 雲林縣斗六市大學路3段123號</p>
                <p><i class="fa fa-envelope"></i> <a href="mailto:oia@yuntech.edu.tw">oia@yuntech.edu.tw</a></p>
                <p><i class="fa fa-phone"></i>+886-5-534-2601</p>
            </div>
			<div class="language">
                <ul class="menu-item">
                    <li>Language</li>
                    <li><a href="#" class="current">繁體中文</a></li>
                    <li><a href="#">English</a></li>
                </ul>
				<div class="browser-support">
                    瀏覽器建議
                    <a href="https://www.google.com/intl/zh-TW/chrome/" target="_blank">Google Chrome</a>,
                    <a href="https://www.mozilla.org/zh-TW/firefox/new/" target="_blank">Mozilla Firefox</a> 或
                    <a href="https://www.microsoft.com/en-us/edge" target="_blank">IE11+</a>
                </div>
			</div>
        </div>
	</div>
</footer>
