<header class="header">
    <div class="container">
		<div class="header-wrap">
			<div class="brands">
				<a class="logo" href="/">
                    <h1 class="text-hide">國立雲林科技大學 YunTech</h1>
                    <img class="h1-logo" src="../assets/logo@2x.png" />
				</a>
			</div>
			<div class="account account-action">
				<a class="" href="login.html">登入</a>
			</div>
		</div>
    </div>
    <div class="project-wrapper">
        <div class="container">
		    <h3><span class="strong">學位生</span> 線上申請系統</h3>
			<h6 class="en">Online Application System for International Degree Students</h6>
		</div>
    </div>
</header>