<!-- NTU-OSA: 公告列表  -->

<div class="container">
	
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="#">首頁</a></li>
			<li class="breadcrumb-item active">公告列表</li>
		</ol>
	</nav>
    
	<main class="main">
		<div class="main-topbar">
			<ul class="category-bar menu-item">
				<li class="selected"><a href="#">全部</a></li>
				<li><a href="#">公告</a></li>
				<li><a href="#">實習機會</a></li>
				<li><a href="#">一般</a></li>
				<li><a href="#">活動</a></li>
			</ul>
		</div>
		
		<ul class="announcement-list menu-item">
			<% (1..2).map do |i| %>
			<li class="announcement-item">
				<span class="date"><i class="fa fa-clock-o"></i>2019-03-27</span>
				<h5><a href="#" title="6/17-6/22 Semarang University 夏季文化營 「Java is the Little Asia」">6/17-6/22 Semarang University 夏季文化營 「Java is the Little Asia」</a></h5>
			</li>
			<li class="announcement-item">
				<span class="date"><i class="fa fa-clock-o"></i>2019-03-27</span>
				<h5><a href="#" title="OC12隊輔面試錄取名單公告">OC12隊輔面試錄取名單公告</a></h5>
			</li>
			<li class="announcement-item">
				<span class="date"><i class="fa fa-clock-o"></i>2019-03-27</span>
				<h5><a href="#" title="水起台灣公益巡演–臺大場(東奧8k投影技術搶先看)｜臺大全球集思論壇2019 會前講座">水起台灣公益巡演–臺大場(東奧8k投影技術搶先看)｜臺大全球集思論壇2019 會前講座</a></h5>
			</li>
			<li class="announcement-item">
				<span class="date"><i class="fa fa-clock-o"></i>2019-03-27</span>
				<h5><a href="#" title="「拆除共同教學館一樓海報欄位改設置物櫃」說明會">「拆除共同教學館一樓海報欄位改設置物櫃」說明會</a></h5>
			</li>
			<li class="announcement-item">
				<span class="date"><i class="fa fa-clock-o"></i>2019-03-27</span>
				<h5><a href="#" title="OC12隊輔面試錄取名單公告">OC12隊輔面試錄取名單公告</a></h5>
			</li>
			<% end %>
		</ul>

		<nav aria-label="Page navigation">
			<ul class="pagination pg-blue justify-content-end">
				<li class="page-item item-amount"><span>212 筆</span></li>
				<li class="page-item disabled"><a class="page-link">First</a></li>
				<li class="page-item disabled">
					<a class="page-link" aria-label="Previous">
						<span aria-hidden="true">&laquo;</span>
						<span class="sr-only">Previous</span>
					</a>
				</li>
				<li class="page-item active"><a class="page-link">1</a></li>
				<li class="page-item"><a class="page-link">2</a></li>
				<li class="page-item"><a class="page-link">3</a></li>
				<li class="page-item"><a class="page-link">4</a></li>
				<li class="page-item"><a class="page-link">5</a></li>
				<li class="page-item">
					<a class="page-link" aria-label="Next">
						<span aria-hidden="true">&raquo;</span>
						<span class="sr-only">Next</span>
					</a>
				</li>
				<li class="page-item"><a class="page-link">Last</a></li>
			</ul>
		</nav>
	</main>
	
</div>


<% content_for :js do %>

<% end %>





















































