<!-- NTU-OSA: 網頁文章  -->

<div class="container">
	
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="#">首頁</a></li>
			<li class="breadcrumb-item active">新生書院</li>
		</ol>
	</nav>
	<main class="main">
		<div class="row">
			<div class="col-md-3 sidenav">
				<div class="sticky">
					<ul class="collapsible collapsible-accordion menu-item">
						<li><a href="#" class="collapsible-header waves-effect current">書院活動宗旨</a></li>
						<li><a href="#" class="collapsible-header waves-effect">各學院分梯次及日期區間</a></li>
						<li><a href="#" class="collapsible-header waves-effect">報到日期、時間、地點</a></li>
						<li><a href="#" class="collapsible-header waves-effect">課程表</a></li>
						<li><a href="#" class="collapsible-header waves-effect">抽獎資訊</a></li>
						<li><a class="collapsible-header waves-effect arrow-r">書院團隊介紹<i class="fa fa-angle-down rotate-icon"></i></a>
							<div class="collapsible-body">
								<ul>
									<li><a class="waves-effect" href="#">課外組團隊</a></li>
									<li><a class="waves-effect" href="#">籌借人員團隊</a></li>
									<li><a class="waves-effect" href="#">隊輔團隊照片</a></li>
								</ul>
							</div>
						</li>
						<li><a href="#" class="collapsible-header waves-effect">常見問題</a></li>
						<li><a href="#" class="collapsible-header waves-effect">重要文件下載</a></li>
						<li><a href="#" class="collapsible-header waves-effect">學生手冊</a></li>
					</ul>
				</div>
			</div>
			<div class="col-md-9">
				<article class="article">
					<div class="post-meta">
						<div class="section-title">
							<h3>書院活動宗旨</h3>
						</div>
						<div class="post-share">
							<ul class="menu-item">
								<li><a href="#"><img class="icon-share" src="../assets/icon-print2.svg" alt="列印" title="列印"></a></li>
								<li><a href="#"><img class="icon-share" src="../assets/icon-facebook.svg" alt="分享到Facebook" title="Facebook"></a></li>
								<li><a href="#"><img class="icon-share" src="../assets/icon-twitter.svg" alt="分享到twitter" title="twitter"></a></li>
								<li><a href="#"><img class="icon-share" src="../assets/icon-line.svg" alt="分享到Line" title="Line"></a></li>
							</ul>
						</div>
					</div>

					<div class="post-single">
						<img src="../assets/fake/03.jpg" alt="測試" title="測試">
						<div class="video-wrapper">
							<iframe width="560" height="315" src="https://www.youtube.com/embed/6Uagw4zser8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" title="Madonna - Dark Ballet (Official Music Video)" allowfullscreen></iframe>
						</div>
						<h2>h2 title</h2>
						<h3>h3 title</h3>
						<h4>h4 title</h4>
						<h5>h5 title</h5>
						<h6>h6 title</h6>

						<p>林怡潔</p>

						<p>中興大學國家政策與公共事務研究所  助理教授</p>

						<p>林怡潔曾是媒體人，哈佛大學人類學博士、哈佛大學區域研究碩士。曾在歐美出版《中國山寨》(Fake Stuff: China and the Rise of Counterfeit Goods)專書，並接受加拿大國家電視台《山寨文化》(Counterfeit Culture)專訪，並曾獲中興大學通識教學特優教師獎，研究興趣是各種社會創新與文化創意資產相關的議題。</p>
						<p>陳文剛 </p>

						<p>AJA Creative / UX Director</p>

						<p>台灣使用者經驗設計協會 / 常務監事</p>

						<p>David 曾經在BenQ Lifestyle Design Center擔任UI Lead，帶領團隊獲得IF, Reddot, IDEA等五項設計大賞；徒手創建AVerMedia User Experience Design Center，是台灣第一個以使用經驗為名的設計中心，也是少數把使用經驗當做企業核心競爭力的業界先例。過去十年中，曾經做過的產品橫跨了手機、Smart TV、Elder PC、MP3隨身聽、多功能事務機、數位相機、電子書、智慧型機器人，以及各種一言難盡的軟硬體介面。</p>

						<ol>
							<li>Lorem ipsum dolor sit amet</li>
							<li>consectetur adipiscing elit</li>
							<li>Pellentesque nec blandit risus</li>
							<li>In vel egestas leo. Vivamus vehicula turpis nunc, sit amet aliquet lacus viverra eget</li>
						</ol>

						<ul>
							<li>從前我也是 Lorem Ipsum 的愛用者</li>
							<li>不管在製作 wireframe 還是 mockup</li>
							<li>我都喜歡使用 Lorem Ipsum 來填滿畫面上需要文字的地方</li>
							<li>但現在我盡可能地的避免使用它，取而代之的是使用真實（或近乎真實）的內容來做設計</li>
						</ul>

						<table>
							<thead>
								<tr>
									<% 5.times do %>
									<th>測試用表格</th>
									<% end %>
								</tr>
							</thead>
							<tbody>
								<% 5.times do %>
								<tr>
									<% 5.times do %>
									<td><%= zh_lorem_sentence %></td>
									<% end %>
								</tr>
								<% end %>
							</tbody>
						</table>
						很長的網址：
						<a href="#">http://zzzzzzzzzz.zzzzzzzzz/zzzzzzzzz/zzzzzzzzzzzzzzzzz/zzzzzzzzzzzzzz/zzzzzzzzz/zzzzzzzzzzzzzzzzz/zzzzzzzzzzzzzz/zzzzzzzzz/zzzzzzzzzzzzzzzzz/zzzzzzzzzzzzzz/zzzzzzzzz/zzzzzzzzzzzzzzzzz/zzzzzzzzzzzzzz/zzzzzzzzzzzzz.html</a>
					</div>

					<div class="post-ft">
						<span></span>
						<div class="view-amount" title="瀏覽人次">
							<spn class="label"><i class="fa fa-eye"></i></spn>
							<spn>9999</spn>
						</div>
					</div>
				</article>
			</div>
		</div>
	</main>
</div>


<% content_for :js do %>
<script>
$(function () {
	$(".sticky").sticky({
		topSpacing: 30,
		zIndex: 2,
		stopper: "footer.footer",
		minWidth: 991
	});
    jQuery(document).ready(function($) {
        var alterClass = function() {
            var ww = document.body.clientWidth;
            if (ww < 767) {
                $('.sticky').addClass('sticky-fix');
            } else if (ww >= 767) {
                $('.sticky').removeClass('sticky-fix');
            };
        };
        $(window).resize(function() {
            alterClass();
        });
        //Fire it when the page first loads:
        alterClass();
    });
});
</script>
<% end %>





















































