

@import "base";


body { background: $body_background; }

.project-title { font-size: 1.8rem; }

.col-block {
	background: #fff;
	border-radius: 5px;
	padding: 1.25rem;
}

strong.degree {
	color: $orange_color;
}

.list-wrap {
	.nav-item {
		a.waves-effect, a.waves-light { display: block; }
		.nav-link { padding: 0.75rem 1.25rem; }
		.nav-link.active {
			background-color: $main_color;
			border-radius: 5px 5px 0 0;
			color: #fff;
		}
		.badge.badge-pill {
			margin-left: 3px;
			padding: 0.25em 0.5em;
			font-size: 80%;
		}
	}
	.tab-content.card {
		border-radius: 0 0 5px 5px;
		border-top: 2px solid $main_color;
		padding: 1.25rem;
		padding-top: 2rem;
		.pagination {
			margin-bottom: 0;
			.count {
				display: inline-block;
				border-right: 1px solid #e5e5e5;
				padding: 0.5rem 0.75rem 0.5rem 0;
				font-size: 0.9rem;
				color: #787878;
				line-height: 1.25;
			}
		}
	}
	.controller {
		min-height: 41px;
		margin-bottom: 20px;
		.btn.btn-sm { margin: 0; }
		position: relative;
		.form-inline {
			margin-top: 0;
			position: absolute;
			right: 0;
			top: 0;
		}
	}
}

.form-wrap {
	background-color: #fff;
	border-radius: 5px;
	margin-top: 20px;
	padding: 2rem 2rem 1rem;
	&:first-child { margin-top: 0; }
}

.form-action { margin-top: 15px; }

.preview {
	.form-wrap {
		background-color: #fdfdfd;
		border: 1px solid #eee;
	}
}

.fc-event, .fc-event:hover {
    color: #fff !important;
}

.fc-header-toolbar {
	h2 { font-size: 1.5em; }
	.btn-primary { background-color: $main_color !important; }
	.btn-primary:hover, .btn-primary:focus { background-color: lighten($main_color, 8) !important; }
	.btn-primary:active, .btn-primary:not([disabled]):not(.disabled):active, .btn-primary:not([disabled]):not(.disabled).active, .show > .btn-primary.dropdown-toggle { background-color: darken($main_color, 10) !important; }
}

.fc-event, .fc-event-dot {
	background-color: $main_color;
	border-color: $main_color;
}

/* `Step Nav
-----------------------------------------------------------------------------*/

.stepnav {
	ul, li {
		list-style: none;
		margin: 0;
		padding: 0;
	}
	li {
		border-bottom: 1px solid #eee;
		&:last-child { border-bottom: none; }
	}
	.item {
		display: flex;
		flex-direction: row;
		align-items: stretch;
		padding-top: 10px;
		padding-bottom: 10px;
		position: relative;
        &:hover { background: #f1f1f1; }
	}
	.num {
		width: 40px;
        span {
            display: inline-block;
            border: 1px solid #bbb;
            border-radius: 12px;
            width: 24px;
            height: 24px;
            font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
            font-size: 13px;
            font-weight: 400;
            color: #333;
            text-align: center;
            line-height: 24px;
        }
	}
	.question { width: 200px; }
	.end {
		width: 110px;
		text-align: right;
	}
	.status, .result, .re-examine {
		display: inline-block;
		width: 50px;
		color: $red_color;
		word-break: keep-all;
	}
	.re-examine {
		width: 100px;
	}
	.all-pass {
        color: #333;
		.question { width: 245px; }
		.end {
			width: 65px;
		}
		.status, .result {
			width: 30px;
			color: $limegreen_color;
		}
	}
	&.excursus {
		margin-top: 30px;
		.num {
			width: 65px;
			text-align: left;
		}
		.question { width: 175px; }
		.all-pass {
			.question { width: 220px; }
		}
	}
	&.single-review {
		.item {
			color: #333;
		}
		.status, .result {
			width: 30px;
			color: $limegreen_color;
		}
	}
	.current .item {
		background: #eaf5eb;;
		border-radius: 3px;
		margin: 0 -8px;
		padding-left: 8px;
		color: #000;
		.end { right: 8px; }
		.num span {
			border-color: rgba(#000, .5);
			color: #000;
		}
		/*
		.num span {
			border-color: rgba(#fff, .5);
			color: #fff;
		}
		.status, .result, .unaudited { color: #fff; }
		.re-examine { color: #f9ff00; }
		*/
	}
}

.table-roles {
	margin-bottom: 2rem;
	thead th { word-break: keep-all; }
	tbody td:last-child { text-align: center; }
}

/* `Responsive
-----------------------------------------------------------------------------*/

@media (max-width: 767px) {
	header.header {
		.header-wrap {
			display: block;
			padding: 10px 0;
			height: auto;
		}
		.brands {
			display: block !important;
			margin-bottom: 0;
			text-align: center;
			transform: scale(0.75);
		}
		.account { text-align: center; }
	}
	.tab-content.card {
		.table {
			* { word-break: normal; }
		}
	}
	.list-wrap {
		.controller {
			.btn { display: inline-block; }
			.search-form {
				display: inline-block;
				position: static; 
			}
			.w-25 { width: auto !important; }
		}
	}
	footer.footer {
		.footer-wrap {
			display: block;
			padding: 10px 20px;
		}
	}
}

@media (max-width: 575px) {
	.list-wrap {
		.controller {
			.search-form {
				.fa { display: none; }
			}
		}
	}
}

@media (max-width: 480px) {
	body { background: #fff; }
	.list-wrap {
		.nav-item .nav-link { padding: 0.75rem 1rem; }
		.tab-content.card { padding: 1.25rem 0; }
	}
	.form-wrap { padding: 1rem 0 0; }
	.preview .form-wrap { padding: 10px; }
}
