<!-- NKUST-Old: 首頁 -->

<div class="main-wrapper">
    <div class="container">
		<div class="row">
		    <div class="col-8">
                <h4 class="block-title">公告</h4>
                <p><%= lorem_paragraphs(1) %></p>
                <p><%= lorem_paragraphs(2) %></p>
                <p><%= lorem_paragraphs(1) %></p>
			</div>
			<div class="col-4">
			    <h4 class="block-title">登入</h4>
				<p><%= lorem_paragraph %></p>
				<a href="#" class="btn btn-default btn-rounded btn-block">SSO 登入</a>
			</div>
		</div>
    </div>
</div>