<!-- NKUST-Old: 申請完成  -->

<div class="container">
    <ul class="nav nav-tabs" id="resultTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="material-tab" data-toggle="tab" href="#material" role="tab" aria-controls="material" aria-selected="true">申請資料</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="result-tab" data-toggle="tab" href="#result" role="tab" aria-controls="result" aria-selected="false">審查結果</a>
        </li>
		<!-- 已公告只是將 prototype 塞在一起 -->
        <li class="nav-item">
            <a class="nav-link" id="result2-tab" data-toggle="tab" href="#result2" role="tab" aria-controls="result2" aria-selected="false">審查結果(已公告)</a>
        </li>
    </ul>
	
	<div class="tab-content" id="resultTabContent">
        <div class="tab-pane fade show active" id="material" role="tabpanel" aria-labelledby="material-tab">
            <div class="document-upload mb-5">
                <div class="document-item">
                    <div class="document-hd">
                        <h5 class="caption"><strong>1.</strong> 申請表</h5>
                        <p><a href="#" class="btn btn-xs btn-primary">檢視申請表</a></p>
                    </div>
                    <div class="document-ft">
                        <span class="badge badge-success un-shadows">完成</span>
                        <p class="last-date">最後修改 <i class="fa fa-clock-o"></i> 2020/04/20 18:00</p>
                    </div>
                </div>
                <div class="document-item">
                    <div class="document-hd">
                        <h5 class="caption"><strong>2.</strong> 上傳繳交文件</h5>
                        <p><a href="#" class="btn btn-xs btn-primary">檢視上傳文件</a></p>
                    </div>
                    <div class="document-ft">
                        <span class="badge badge-success un-shadows">已列印</span>
                    </div>
                </div>
            </div>
		</div>
		
		<div class="tab-pane fade" id="result" role="tabpanel" aria-labelledby="result-tab">
			<p class=mb-4>您已完成各申請步驟，並送出申請，本單位已開始審查作業。</p>
			<div>
                <p>尚未公告錄取結果說明 <%= lorem_paragraphs(1) %></p>
                <p><%= lorem_paragraphs(1) %></p>
                <p><%= lorem_paragraphs(1) %></p>
			</div>
		</div>
		
		<div class="tab-pane fade" id="result2" role="tabpanel" aria-labelledby="result2-tab">
            <div class="info-well">
                <h4>審查結果公布</h4>
                <ul class="menu-item">
                    <li>
                        <span class="label">獎學金申請錄取結果</span>
                        <span class="info">錄取</span>
                    </li>
                    <li>
                        <span class="label">錄取項目及金額</span>
                        <span class="info">
							<span class="item">每月獎學金：1000 元</span>
							<span class="item">免學雜費</span>
						</span>
                    </li>
                </ul>
            </div>
		</div>
	</div>
</div>

