<!-- NKUST-Old: 步驟一  申請表 -->

<div class="main-wrapper">
    <div class="container">
        <div class="step-bar">
            <ul>
                <li class="active">
                    <span>
                        <span class="step">1</span>
                        <h4>申請表</h4>
                    </span>
                </li>
                <li>
                    <span>
                        <span class="step">2</span>
                        <h4>上傳文件</h4>
                    </span>
                </li>
                <li>
                    <span>
                        <span class="step">3</span>
                        <h4>預覽及送出</h4>
                    </span>
                </li>
            </ul>
        </div>
        <div class="step-container">
			<p><span class="required">*</span> 號為必填欄位，請確實填寫</p>
            <form>
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label for="englishName"><span class="required">*</span>英文全名</label>
                            <input type="text" class="form-control" id="englishName" placeholder="">
							<p class="form-text text-muted">須與護照上英文姓名相符</p>
                        </div>
                    </div>
					<div class="col">
                        <div class="form-group">
                            <label for="chineseName">中文全名</label>
                            <input type="text" class="form-control" id="chineseName" placeholder="">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="d-block"><span class="required">*</span>性別</label>
                    <div class="form-check form-check-inline">
                        <input type="radio" class="form-check-input" id="genderMale" name="inlineGender">
                        <label class="form-check-label" for="genderMale">Male</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input type="radio" class="form-check-input" id="genderFemale" name="inlineGender">
                        <label class="form-check-label" for="genderFemale">Female</label>
                    </div>
                </div>
                <div class="form-group">
                    <label>學院 / 系所</label>
                    <div class="form-row">
                        <div class="col">
                            <select class="browser-default custom-select">
                                <option selected>選擇學院</option>
                                <option value="College of Arts and Sciences">College of Arts and Sciences</option>
                                <option value="1999">1999</option>
                                <option value="1998">1998</option>
                            </select>
                        </div>
                        <div class="col">
                            <select class="browser-default custom-select">
                                <option selected>選擇系所</option>
                                <option value="Department of Health">Department of Health</option>
                                <option value="february">February</option>
                                <option value="march">March</option>
                            </select>
                        </div>
                        <div class="col">
                            <select class="browser-default custom-select">
                                <option selected>選擇課程</option>
                                <option value="Engineering Management Section">Engineering Management Section</option>
                                <option value="2">02</option>
                                <option value="3">03</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group md-form">
                    <input placeholder="Selected date" type="text" id="date-picker-label" class="form-control datepicker">
                    <label for="date-picker-label" class="label-date">入學年月</label>
                </div>
				<div class="row">
					<div class="col">
                        <div class="form-group">
                            <label>電話</label>
                            <div class="form-row">
                                <div class="col-1">+</div>
                                <div class="col-2">
                                    <input type="text" class="form-control" placeholder="國碼">
                                </div>
                                <div class="col-2">
                                    <input type="text" class="form-control" placeholder="區碼">
                                </div>
                                <div class="col-7">
                                    <input type="text" class="form-control" placeholder="號碼">
                                </div>
                            </div>
                        </div>
					</div>
					<div class="col">
					    <label>Email</label>
						<div class="output">test@gmail.com</div>
					</div>
				</div>
				<div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <label for="formInstructor"><span class="required">*</span>指導老師</label>
                            <input type="text" class="form-control" id="formInstructor" placeholder="">
                        </div>
                    </div>
				</div>
                <div class="form-group">
                    <label>學年成績</label>
                    <div class="form-row">
                        <div class="col-4">
                            <input type="text" class="form-control" placeholder="學分數">
                        </div>
                        <div class="col-4">
                            <input type="text" class="form-control" placeholder="學業成績">
                        </div>
                        <div class="col-4">
                            <input type="text" class="form-control" placeholder="操行成績">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="d-block">獎逞紀錄</label>
                    <div class="form-check form-check-inline">
                        <input type="radio" class="form-check-input" id="awardsYes" name="inlineGender">
                        <label class="form-check-label" for="awardsYes">是</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input type="radio" class="form-check-input" id="awardsNo" name="inlineGender">
                        <label class="form-check-label" for="awardsNo">否</label>
                    </div>
                </div>
                <div class="form-action">
                    <a href="#" class="btn btn-link btn-home"><i class="fa fa-arrow-left"></i> 回首頁</a>
                    <a href="#" class="btn btn-default">儲存目前填寫資料</a>
                    <a href="#" class="btn btn-link">下一步</a>
                </div>
            </form>
        </div>
    </div>
</div>


<% content_for :js do %>
<script>
	$('.datepicker').pickadate();
</script>
<% end %>



















