<!-- NKUST-Old: 步驟三  預覽及送出 -->

<div class="main-wrapper">
    <div class="container">
        <div class="step-bar">
            <ul>
                <li class="done">
                    <span>
                        <span class="step">1</span>
                        <h4>申請表</h4>
                    </span>
                </li>
                <li class="done">
                    <span>
                        <span class="step">2</span>
                        <h4>上傳文件</h4>
                    </span>
                </li>
                <li class="active">
                    <span>
                        <span class="step">3</span>
                        <h4>預覽及送出</h4>
                    </span>
                </li>
            </ul>
        </div>
        <div class="step-container">
            <form>
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label for="englishName"><span class="required">*</span>英文全名</label>
                            <div class="output">Scarlett Johansson</div>
                        </div>
                    </div>
					<div class="col">
                        <div class="form-group">
                            <label for="chineseName">中文全名</label>
                            <div class="output">史嘉蕾喬韓森</div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="d-block"><span class="required">*</span>性別</label>
                    <div class="output">女</div>
                </div>
                <div class="form-group">
                    <label>學院 / 系所</label>
                    <div class="output">
                        <span>College of Arts and Sciences</span>
                        <span>Department of Health</span>
                        <span>Engineering Management Section</span>
                    </div>
                </div>
                <div class="form-group">
                    <label>入學年月</label>
					<div class="output">14 April, 2020</div>
                </div>
				<div class="row">
					<div class="col">
                        <div class="form-group">
                            <label>電話</label>
							<div class="output">
								<span>+886</span>
								<span>7</span>
								<span>6011000</span>
							</div>
                        </div>
					</div>
					<div class="col">
					    <label>Email</label>
						<div class="output">test@gmail.com</div>
					</div>
				</div>
				<div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <label for="formInstructor"><span class="required">*</span>指導老師</label>
                            <div class="output">Anthony Hopkins</div>
                        </div>
                    </div>
				</div>
                <div class="form-group">
                    <label>學年成績</label>
					<div class="output">
                        <span>學分數 100</span>
                        <span>學業成績 100</span>
                        <span>操行成績 100</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="d-block">獎逞紀錄</label>
                    <div class="output">是</div>
                </div>
				<h4 class="mt-5 mb-3">資格審查文件</h4>
                <div class="section-wrap">
                    <div class="form-section">
                        <div class="document-upload">
                            <div class="document-item">
                                <div class="document-hd">
                                    <div class="title-wrap">
                                        <h5><span class="numbering">1</span> 申請表</h5>
                                    </div>
                                    <p class="upload-time">上傳時間
                                        <i class="fa fa-clock-o"></i>
                                        <span class="date">2020/02/28 18:20</span>
                                    </p>
                                </div>
                                <div class="document-ft md-form">
									<a href="#" class="btn btn-primary btn-xs">列印</a>
                                    <a href="#" class="btn btn-info btn-xs">檢視</a>
                                    <a href="#" class="btn btn-warning btn-xs">修改</a>
                                </div>
                            </div>
                            <div class="document-item">
                                <div class="document-hd">
                                    <div class="title-wrap">
                                        <h5><span class="numbering">2</span> 具結書</h5>
                                        <button type="button" class="btn-description" data-toggle="modal" data-target="#basicExampleModal" title="說明"><i class="fa fa-info"></i></button>
                                    </div>
                                    <p class="upload-time">上傳時間
                                        <i class="fa fa-clock-o"></i>
                                        <span class="date">2020/02/28 18:20</span>
                                    </p>
                                </div>
                                <div class="document-ft md-form">
                                    <a href="#" class="btn btn-info btn-xs">檢視</a>
                                    <a href="#" class="btn btn-warning btn-xs">修改</a>
                                </div>
                            </div>
                            <div class="document-item">
                                <div class="document-hd">
                                    <div class="title-wrap">
                                        <h5><span class="numbering">3</span> 成績單</h5>
										<button type="button" class="btn-description" data-toggle="modal" data-target="#basicExampleModal" title="說明"><i class="fa fa-info"></i></button>
                                    </div>
                                    <p class="upload-time">上傳時間
                                        <i class="fa fa-clock-o"></i>
                                        <span class="date">2020/02/28 18:20</span>
                                    </p>
                                </div>
                                <div class="document-ft md-form">
                                    <a href="#" class="btn btn-info btn-xs">檢視</a>
                                    <a href="#" class="btn btn-warning btn-xs">修改</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
				
				
                <div class="form-action">
                    <a href="#" class="btn btn-link btn-home"><i class="fa fa-arrow-left"></i> 回首頁</a>
					<a href="#" class="btn btn-link">上一步</a>
                    <a href="#" class="btn btn-default">送出申請</a>
                </div>
            </form>
        </div>
    </div>
</div>