<!-- NKUST-Old: 申請首頁  -->

<div class="container">
	<p class="mb-5"><%= lorem_words(12) %></p>
    <div class="document-upload mb-5">
        <div class="document-item">
            <div class="document-hd">
                <h5 class="caption"><strong>1.</strong> 申請表</h5>
				<p><a href="#" class="btn btn-xs btn-secondary">修改申請表</a></p>
				<!-- 修改按鈕使用 btn-secondary -->
				<!--p><a href="#" class="btn btn-xs btn-primary">填寫線上申請表</a></p-->
            </div>
            <div class="document-ft">
                <span class="badge badge-success un-shadows">完成</span>
				<p class="last-date">最後修改 <i class="fa fa-clock-o"></i> 2020/04/20 18:00</p>
            </div>
        </div>
		<div class="document-item">
            <div class="document-hd">
                <h5 class="caption"><strong>2.</strong> 上傳繳交文件</h5>
				<p><a href="#" class="btn btn-xs btn-primary">上傳申請需繳交相關文件</a></p>
            </div>
            <div class="document-ft">
                <span class="badge badge-danger un-shadows">未完成</span>
            </div>
        </div>
    </div>
</div>

