<!-- NKUST-Old: 步驟二  上傳繳交文件 -->

<div class="main-wrapper">
    <div class="container">
        <div class="step-bar">
            <ul>
                <li class="done">
                    <span>
                        <span class="step">1</span>
                        <h4>申請表</h4>
                    </span>
                </li>
                <li class="active">
                    <span>
                        <span class="step">2</span>
                        <h4>上傳文件</h4>
                    </span>
                </li>
                <li>
                    <span>
                        <span class="step">3</span>
                        <h4>預覽及送出</h4>
                    </span>
                </li>
            </ul>
        </div>
        <div class="step-container">
            <form>
                <p class="mb-4">請上傳下列各項文件，限制 PDF 格式，個別檔案請勿大於 5 MB</p>
				<h4 class="mb-3">資格審查文件</h4>
                <div class="section-wrap">
                    <div class="form-section">
                        <div class="document-upload">
                            <div class="document-item">
                                <div class="document-hd">
                                    <div class="title-wrap">
                                        <h5><span class="numbering">1</span> 申請表</h5>
                                    </div>
                                    <p class="upload-time">上傳時間
                                        <i class="fa fa-clock-o"></i>
                                        <span class="date">2020/02/28 18:20</span>
                                    </p>
                                </div>
                                <div class="document-ft md-form">
									<a href="#" class="btn btn-primary btn-xs">列印</a>
                                    <a href="#" class="btn btn-info btn-xs">檢視</a>
                                    <a href="#" class="btn btn-warning btn-xs">修改</a>
                                </div>
                            </div>
                            <div class="document-item">
                                <div class="document-hd">
                                    <div class="title-wrap">
                                        <h5><span class="numbering">2</span> 具結書</h5>
                                        <button type="button" class="btn-description" data-toggle="modal" data-target="#basicExampleModal" title="說明"><i class="fa fa-info"></i></button>
                                    </div>
                                </div>
                                <div class="document-ft md-form">
                                    <div class="file-field">
                                        <a class="btn-floating btn-sm btn-blue-grey mt-0 float-left">
                                            <i class="fa fa-cloud-upload" aria-hidden="true"></i>
                                            <input type="file">
                                        </a>
                                        <div class="file-path-wrapper">
                                           <input class="file-path validate" type="text" placeholder="上傳">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="document-item">
                                <div class="document-hd">
                                    <div class="title-wrap">
                                        <h5><span class="numbering">3</span> 成績單</h5>
										<button type="button" class="btn-description" data-toggle="modal" data-target="#basicExampleModal" title="說明"><i class="fa fa-info"></i></button>
                                    </div>
                                </div>
                                <div class="document-ft md-form">
                                    <div class="file-field">
                                        <a class="btn-floating btn-sm btn-blue-grey mt-0 float-left">
                                            <i class="fa fa-cloud-upload" aria-hidden="true"></i>
                                            <input type="file">
                                        </a>
                                        <div class="file-path-wrapper">
                                           <input class="file-path validate" type="text" placeholder="上傳">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-action">
                    <a href="#" class="btn btn-link btn-home"><i class="fa fa-arrow-left"></i> 回首頁</a>
					<a href="#" class="btn btn-link">上一步</a>
                    <a href="#" class="btn btn-default">預覽各項資料，準備送出</a>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="basicExampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{吃該上傳項目的標題} 說明</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p><%= lorem_sentences(5) %></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">關閉</button>
            </div>
        </div>
    </div>
</div>






















