/* `Header
-----------------------------------------------------------------------------*/

header.header {
	background-color: $main-color;
    position: relative;
	z-index: 1001;
	.container {
		padding: 1rem .75rem;
		color: #fff;
	}
	.btn {
		margin: 0;
		padding: 0;
		color: #fff;
		position: absolute;
		left: 0;
		top: .875rem;
		z-index: 1039;
		.fa {
			font-size: 1.25rem;
		}
	}
	.hamburger {
        .line {
            width: 32px;
            height: 3px;
            background-color: #fff;
            display: block;
            margin: 5px auto;
		}
    }
	h1 {
		margin: 0;
		font-size: 1.25rem;
		font-weight: 700;
		text-align: center;
	}
}

.sidenav {
    background-color: #fff;
	border-top: .5rem solid $main_lighten_color;
	padding: 1rem;
    width: 280px !important;
    height: 100%;
    position: fixed;
    top: 0;
    overflow: hidden;
    z-index: 1040;
    backface-visibility: hidden;
    will-change: transform;
	h5 {
		margin-bottom: .25rem;
	}
	h6 {
		margin-bottom: 2rem;
		font-size: 0.9375rem;
		color: #65757d;
	}
	.menu-item {
		li {
			border-bottom: 1px dashed $base_border_color;
			&:last-child { border-bottom: none; }
		}
		a {
			display: inline-block;
			padding: .375rem 0;
		}
	}
}
