<!-- tigp: 首頁 (無招生) -->

<div class="container">
	<div class="program-title">
	    <h3>Taiwan International Graduate Program On-line Application, 2020</h3>
	</div>
	<div class="launch-date">
	    <strong class="grey-text">Launch</strong>
	</div>
	<div class="guide-wrapper">
		<div class="editor-wall blank">
            <h3 class="font-weight-light grey-text"><i class="fa fa-exclamation-triangle"></i> There are currently no admissions applications</h3>
            <p><%= lorem_sentences(3) %></p>
		</div>
	</div>
</div>

