<!-- template: 單一公告 -->

<div class="container-fix">
    <article class="article-single">
        <div class="article-hd">
            <h3><%= lorem_sentence %></h3>
            <time>2023-09-24</time>
        </div>
        <div>
            <% (1..6).map do |i| %>
            <p><%= lorem_paragraph %></p>
            <% end %>
        </div>
        <div class="form-action">
            <span class="backhome">
                <button type="button" class="btn btn-outline-dark btn-rounded">
                    <i class="fas fa-long-arrow-alt-left"></i>
                    Back
                </button>
            </span>
        </div>
    </article>
</div>



<% content_for :js do %>
<% end %>
