<!-- template: TA 個人資料填寫 -->

<div class="container-fix">
    <div class="page-content fixed">
        <div class="subject-head">
            <h3>Profile</h3>
        </div>
        <div class="single-wrapper">
            <div class="notice-wrapper">
                <p><%= lorem_paragraphs(3) %></p>
            </div>
            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <label class="form-label fw-bold">Email</label>
                        <div class="form-output">abc@gmail.com</div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label for="ei01" class="form-label fw-bold">Student ID</label>
                        <input type="text" class="form-control" id="ei01">
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label for="ei02" class="form-label fw-bold">TA English Name</label>
                        <input type="text" class="form-control" id="ei02">
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label for="ei03" class="form-label fw-bold">TA Chinese Name</label>
                        <input type="text" class="form-control" id="ei03">
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label for="ei04" class="form-label fw-bold">Department</label>
                        <input type="text" class="form-control" id="ei04">
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label for="ei04" class="form-label fw-bold">Grade</label>
                        <div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1" />
                                <label class="form-check-label" for="inlineRadio1">Bachelor</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2" />
                                <label class="form-check-label" for="inlineRadio2">Master</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3" />
                                <label class="form-check-label" for="inlineRadio3">PhD</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label for="ei05" class="form-label fw-bold">Phone</label>
                        <input type="text" class="form-control" id="ei05">
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label for="ei06" class="form-label fw-bold">LINE ID</label>
                        <input type="text" class="form-control" id="ei06">
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label for="ei04" class="form-label fw-bold">ID or ARC</label>
                        <div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions2" id="inlineRadio3" value="option1" />
                                <label class="form-check-label" for="inlineRadio3">ID</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions2" id="inlineRadio4" value="option2" />
                                <label class="form-check-label" for="inlineRadio4">ARC</label>
                            </div>
                        </div>
                        <div><input type="text" class="form-control" id=""></div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label for="ei04" class="form-label fw-bold">ARC Holder-stay in Taiwan over 183 days this year</label>
                        <div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions3" id="inlineRadio5" value="option1" />
                                <label class="form-check-label" for="inlineRadio5">Yes</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions3" id="inlineRadio6" value="option2" />
                                <label class="form-check-label" for="inlineRadio6">No</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-group">
                        <label for="ei07" class="form-label fw-bold">Address</label>
                        <input type="text" class="form-control" id="ei07">
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label for="ei08" class="form-label fw-bold">Bank Code</label>
                        <input type="text" class="form-control" id="ei08">
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label for="ei09" class="form-label fw-bold">Bank Account</label>
                        <input type="text" class="form-control" id="ei09">
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-group">
                        <label for="ei10" class="form-label fw-bold">Other</label>
                        <input type="text" class="form-control" id="ei10">
                    </div>
                </div>
            </div>
            
			<div class="form-action">
                <button type="button" class="btn btn-lg btn-primary">Save</button>
				<span class="backhome"><a href="#" class="btn btn-lg btn-link"><i class="fas fa-long-arrow-alt-left"></i> Home</a></span>
                
                <span class="has-history text-secondary pt-2">最後更新時間 2020-12-12 12:00</span>
			</div>
            
        </div>
    </div>
</div>



<% content_for :js do %>
<% end %>
