<!-- template: 論文計劃書審查作業 - 品質委員 -->

<div class="container-fix">
    <div class="page-content fixed">
        <div class="subject-head">
            <h3>Global MBA, Application for Thesis Proposal Approval</h3>
        </div>
        <div class="page-content-inner">
            <aside class="aside">
                <ul class="side-navigation menu-item">
                    <li>
                        <a class="nav-item current" href="#">
                            <span class="link-inner">Pending review list</span>
                        </a>
                    </li>
                    <li>
                        <a class="nav-item" href="#">
                            <span class="link-inner">Historical record</span>
                        </a>
                    </li>
                    <li>
                        <a class="nav-item" href="#">
                            <span class="link-inner">Return home</span>
                        </a>
                    </li>
                </ul>
            </aside>
            <main class="main">
                <div class="page-title">
                    <h3>Pending review list</h3>
                </div>
                <div class="notice-wrapper">
                    <p><%= lorem_paragraph %></p>
                </div>
                <div class="input-group mb-3 w-50">
                    <input type="text" class="form-control" placeholder="Search" aria-label="Search" aria-describedby="button-addon2">
                    <button class="btn btn-secondary" type="button" id="button-addon2"><i class="fas fa-search"></i></button>
                </div>
                <div class="table-responsive">

                    <table class="table align-middle">
                        <thead>
                            <tr class="bg-light">
                                <th></th>
                                <th>Academic</th>
                                <th>Serial</th>
                                <th class="keep-all">Student ID</th>
                                <th>Chinese name</th>
                                <th>English name</th>
                                <th>Thesis topic</th>
                                <th>Application time</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% (1..6).map do |i| %>
                            <tr>
                                <td>
                                    <div class="btn-group" role="group" aria-label="Basic outlined example">
                                        <button type="button" class="btn btn-sm btn-outline-primary">Review</button>
                                        <button type="button" class="btn btn-sm btn-outline-primary">History</button>
                                    </div>
                                </td>
                                <td class="keep-all">112-1</td>
                                <td class="keep-all">ABC1234<%= i %></td>
                                <td class="keep-all"></td>
                                <td class="keep-all"></td>
                                <td class="keep-all"></td>
                                <td>Modeling of Power Ground Plane and Ground Signal Suppression</td>
                                <td class="keep-all">2023-10-01 12:00</td>
                            </tr>
                            <% end %>
                        </tbody>
                    </table>
                </div>
                
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-end">
                        <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">Next</a></li>
                    </ul>
                </nav>
            </main>
        </div>
    </div>
</div>



<% content_for :js do %>
<% end %>
