<!-- template: TA 課程報告填寫系統 -->

<div class="container-fix">
    <div class="page-content fixed">
        <div class="subject-head">
            <h3>TA Course Report Filling System</h3>
        </div>
        <div class="single-wrapper">
            <div class="notice-wrapper">
                <p><%= lorem_paragraph %></p>
                <p><%= lorem_paragraph %></p>
            </div>
            <div class="input-group mb-3 w-50">
                <input type="text" class="form-control" placeholder="Search" aria-label="Search" aria-describedby="button-addon2">
                <button class="btn btn-secondary" type="button" id="button-addon2"><i class="fas fa-search"></i></button>
            </div>
            <div class="table-responsive">
                <table class="table table-bordered align-middle">
                    <thead>
                        <tr class="bg-light">
                            <th></th>
                            <th>課程識別碼</th>
                            <th>課程名稱</th>
                            <th>授課教師</th>
                            <th>學分</th>
                            <th>授課學分</th>
                            <th>週數</th>
                            <th>授課時數</th>
                            <th>匯入學生人數</th>
                            <th>最後更新</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% (1..6).map do |i| %>
                        <tr>
                            <td>
                                <div class="btn-group" role="group" aria-label="Basic outlined example">
                                    <button type="button" class="btn btn-sm btn-outline-primary">Review</button>
                                </div>
                            </td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <% end %>
                    </tbody>
                </table>
            </div>
            <button type="button" class="btn btn-outline-dark btn-rounded">
                <i class="fas fa-long-arrow-alt-left"></i>
                Back Home
            </button>
        </div>
    </div>
</div>



<% content_for :js do %>
<% end %>
