<!-- template: 單一學生 - 系所主管畢業論文審查 -->

<div class="container-fix">
    <div class="page-content fixed">
        <div class="subject-head">
            <h3>ABC12345 Review of graduation thesis by head of department</h3>
        </div>
        <div class="page-content-inner review-wrapper">
            <div class="review-info">
                <div class="row">
                    <div class="col-12">
                        <div class="form-group">
                            <label class="form-label fw-bold">Student ID</label>
                            <div class="form-output">M11100112345</div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label class="form-label fw-bold">Name</label>
                            <div class="form-output">史嘉蕾</div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label class="form-label fw-bold">English Name</label>
                            <div class="form-output">Scarlett Ingrid Johansson</div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label class="form-label fw-bold">Advisor</label>
                            <div class="form-output">Ryan Reynolds</div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label class="form-label fw-bold">Co-advising professor</label>
                            <div class="form-output">Blake Ellender</div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-group">
                            <label class="form-label fw-bold">Thesis topic</label>
                            <div class="form-output">電源接地平面之模型化與地訊抑制</div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-group">
                            <label class="form-label fw-bold">Thesis topic in English</label>
                            <div class="form-output">Modeling for Power/Ground Planes and  Suppression of Ground Bounce</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-label fw-bold">Review opinion</label>
                        <div class="mb-2">
                            <button type="button" class="btn btn-secondary">Cache</button>
                            <button type="button" class="btn btn-primary">Pass</button>
                            <button type="button" class="btn btn-warning">Return</button>
                        </div>
                        <textarea class="form-control" rows="16" readonly>123</textarea>
                    </div>
                    <div class="d-flex justify-content-between">
                        <div>
                            <button type="button" class="btn btn-light">Back</button>
                            <button type="button" class="btn btn-light">Course</button>
                        </div>
                        <div>
                            <button type="button" class="btn btn-secondary">Cache</button>
                            <button type="button" class="btn btn-primary">Pass</button>
                            <button type="button" class="btn btn-warning">Return</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pdf-wrapper">
                <div class="section-title">
                    <h4>Graduation documents</h4>
                </div>
                <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="pills-pdf01-tab" data-bs-toggle="pill" data-bs-target="#pills-pdf01" type="button" role="tab" aria-controls="pills-pdf01" aria-selected="true">Certificate of Approval</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="pills-pdf02-tab" data-bs-toggle="pill" data-bs-target="#pills-pdf02" type="button" role="tab" aria-controls="pills-pdf02" aria-selected="false">Oral Examination</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="pills-pdf03-tab" data-bs-toggle="pill" data-bs-target="#pills-pdf03" type="button" role="tab" aria-controls="pills-pdf03" aria-selected="false">Checklist</button>
                    </li>

                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="pills-pdf04-tab" data-bs-toggle="pill" data-bs-target="#pills-pdf04" type="button" role="tab" aria-controls="pills-pdf04" aria-selected="true">Membership roster</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="pills-pdf05-tab" data-bs-toggle="pill" data-bs-target="#pills-pdf05" type="button" role="tab" aria-controls="pills-pdf05" aria-selected="false">Originality report</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="pills-pdf06-tab" data-bs-toggle="pill" data-bs-target="#pills-pdf06" type="button" role="tab" aria-controls="pills-pdf06" aria-selected="false">Statement</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="pills-pdf07-tab" data-bs-toggle="pill" data-bs-target="#pills-pdf07" type="button" role="tab" aria-controls="pills-pdf07" aria-selected="false">Final paper</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="pills-pdf08-tab" data-bs-toggle="pill" data-bs-target="#pills-pdf08" type="button" role="tab" aria-controls="pills-pdf08" aria-selected="false">Report card</button>
                    </li>
                </ul>
                <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="pills-pdf01" role="tabpanel" aria-labelledby="pills-pdf01-tab" tabindex="0">

                        <!-- pdf viewer 只是確認視覺版面，請套系統慣用 -->
                        <iframe src="https://docs.google.com/viewer?url=http://www.pdf995.com/samples/pdf.pdf&embedded=true" frameborder="0" height="750px" width="100%"></iframe>

                    </div>
                    <div class="tab-pane fade" id="pills-pdf02" role="tabpanel" aria-labelledby="pills-pdf02-tab" tabindex="0">
                        <iframe src="https://docs.google.com/viewer?url=http://www.pdf995.com/samples/pdf.pdf&embedded=true" frameborder="0" height="750px" width="100%"></iframe>
                    </div>
                    <div class="tab-pane fade" id="pills-pdf03" role="tabpanel" aria-labelledby="pills-pdf03-tab" tabindex="0">Checklist</div>
                    <div class="tab-pane fade" id="pills-pdf04" role="tabpanel" aria-labelledby="pills-pdf04-tab" tabindex="0">Membership roster</div>
                    <div class="tab-pane fade" id="pills-pdf05" role="tabpanel" aria-labelledby="pills-pdf05-tab" tabindex="0">Originality report</div>
                    <div class="tab-pane fade" id="pills-pdf06" role="tabpanel" aria-labelledby="pills-pdf06-tab" tabindex="0">Statement</div>
                    <div class="tab-pane fade" id="pills-pdf07" role="tabpanel" aria-labelledby="pills-pdf07-tab" tabindex="0">Final paper</div>
                    <div class="tab-pane fade" id="pills-pdf08" role="tabpanel" aria-labelledby="pills-pdf08-tab" tabindex="0">Report card</div>
                </div>

            </div>
        </div>
    </div>
</div>



<% content_for :js do %>
<% end %>
