<!-- tdrf: 點名 -->

<!-- 特殊頁面，為避免誤點不相關連結造成點名過程困擾，header、footer 的連結已都拿掉 -->

<div class="title-wrapper">
	<div class="container-lg">
		<span class="serial-number">COURSE-00149</span>
	    <h2><span class="date">2022/06/15</span> 專業人員/免費《110年上市後醫療器材子法規及QMS系統說明會 II》</h2>
	</div>
</div>

<div class="container-lg">
    <div class="dashboard-container nosidenav">
		<main class="main">
            <div class="roll_call-wrapper">
				<div>
					<div class="h4 mb-4">請掃描此QRCODE進行登入點名</div>
                    <div class="qrcode-wrap">
						<img class="qrcode" src="../assets/fake/qrcode_17448698_.png">
                    </div>
                    <div class="mt-3"><a href="#">https://www.youtube.com/watch?v=aMZ4QL0orw0</a></div>
				</div>
			</div>
		</main>
	</div>
</div>
