<!-- oia-nkust: 變更密碼  -->

<div class="login">
	<form>
		<p class="h4 text-center py-4">Change password</p>
		<div class="md-form">
			<input type="email" id="materialLoginFormEmail" class="form-control" placeholder="Email">
		</div>
		<div class="md-form">
			<input type="password" id="materialLoginFormPassword" class="form-control" placeholder="New Password">
		</div>
		<div class="md-form">
			<input type="password" id="confirmPassword" class="form-control" placeholder="Confirm new password">
		</div>
		<div class="text-center py-4">
			<button class="btn btn-outline-primary btn-rounded my-4 waves-effect z-depth-0" type="submit">Submit</button>
		</div>
	</form>
</div>