<!-- tigp: academic achievement  -->

<div class="container">
	<div class="program-title">
	    <h3>Taiwan International Graduate Program On-line Application, 2020</h3>
	</div>
	<div class="application-container">
		<div class="row">
		    <div class="step-column col-3">
                <ul class="nav-step menu-item">
                    <li class="nav-item">
                        <a class="step-link" href="program_application.html">
							<img class="status icon-required" src="../assets/icon_required.svg">
							<span>Program Application</span>
						</a>
                    </li>
                    <li class="nav-item">
                        <a class="step-link" href="personal_information.html">
							<img class="status icon-check" src="../assets/iconmonstr-check-mark-8.svg">
							<span>Personal Information</span>
						</a>
                    </li>
					<li class="nav-item">
                        <a class="step-link" href="education_background.html">
							<img class="status icon-required" src="../assets/icon_required.svg">
							<span>Education Background</span>
						</a>
                    </li>
					<li class="nav-item">
                        <a class="step-link" href="english_proficiency.html">
							<img class="status icon-required" src="../assets/icon_required.svg">
							<span>English Proficiency</span>
						</a>
                    </li>
					<li class="nav-item">
                        <a class="step-link" href="uploading_documents.html">
							<img class="status icon-required" src="../assets/icon_required.svg">
							<span>Uploading Documents</span>
						</a>
                    </li>
					<li class="nav-item">
                        <a class="step-link current" href="academic_achievement.html">
							<img class="status icon-required" src="../assets/icon_required.svg">
							<span>Academic Achievement</span>
						</a>
                    </li>
					<li class="nav-item">
                        <a class="step-link" href="work_experiences.html">
							<span>Work Experiences</span>
						</a>
                    </li>
					<li class="nav-item">
                        <a class="step-link" href="recommendation_letters.html">
							<span>Recommendation Letters <strong>(1/3)</strong></span>
						</a>
                    </li>
					<li class="nav-item">
                        <a class="step-link" href="survey.html">
							<img class="status icon-required" src="../assets/icon_required.svg">
							<span>Survey</span>
						</a>
                    </li>
                </ul>
			</div>
			<div class="content-column col-9">
				<div class="content-container">
					<p>Please list the academic achievement you have done.</p>
					<form>
						<div class="degree-container">
                            <section class="degree-section">
                                <div class="degree-head">
                                    <h4>Publication-1</h4>
                                    <button type="button" class="btn btn-delete" title="Delete">
                                        <i class="fa fa-times"></i>
                                    </button>
                                </div>
                                <div class="degree-inner">
                                    <div class="form-group">
                                        <label for="publicationTopic">Topic</label>
                                        <input type="text" class="form-control" id="publicationTopic" placeholder="">
                                    </div>
									<div class="row">
										<div class="col-6">
                                            <div class="form-group">
                                                <label class="d-block">Date</label>
                                                <div id="date-picker-example" class="md-form md-outline input-with-post-icon datepicker my-0">
                                                    <input placeholder="Select date" type="text" id="example" class="form-control" />
                                                    <label for="example"></label>
                                                    <i class="fa fa-calendar input-prefix" tabindex="0"></i>
                                                </div>
                                            </div>
										</div>
									    <div class="col-6">
                                            <div class="form-group">
                                                <label for="publicationAccepted">Accepted by</label>
                                                <input type="text" class="form-control" id="publicationAccepted" placeholder="">
                                            </div>
										</div>
									</div>
                                    <div class="form-group">
                                        <label>Upload Document</label>
										<!-- 表單下方有 save 按鈕了，所以這邊改成只做選擇檔案不執行儲存 -->
                                        <div class="editor-files-wrapper">
                                            <div class="editor-files-inner">
                                                <div class="file-upload">
                                                    <label class="file-label" for="customFileLang"><i class="fa fa-paperclip"></i></label>
                                                    <input type="file" class="file-input" id="customFileLang" lang="en">
                                                </div>
                                                <div class="d-inline-block">
                                                    <div class="d-flex flex-wrap align-items-center">
                                                        <div class="file-wrapper">
                                                            <div class="file-name">
                                                                Dani_Box_Mini_manual.pdf
                                                            </div>
                                                            <button type="button" class="btn btn-cancel" title="Remove">
                                                                <i class="fa fa-times"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Published in an SCI/ SSCI journal?</label>
                                        <div>
                                            <div class="custom-control custom-radio custom-control-inline">
                                                <input type="radio" class="custom-control-input published_sci" id="publishedSCI" name="publishedYes">
                                                <label class="custom-control-label" for="publishedSCI">Yes, SCI (Science Citation Index) journal. Impact Factor:</label>
                                            </div>
                                            <div class="sci-container extend-con hide">
                                                <input type="text" class="form-control" id="" placeholder="">
                                            </div>
                                            <div class="custom-control custom-radio custom-control-inline">
                                                <input type="radio" class="custom-control-input published_ssci" id="publishedSSCI" name="publishedYes">
                                                <label class="custom-control-label" for="publishedSSCI">Yes, SSCI (Social Science Citation Index) journal. Impact Factor:</label>
                                            </div>
											<div class="ssci-container extend-con hide">
                                                <input type="text" class="form-control" id="" placeholder="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <a href="#" class="add-btn">
                                <span class="btn btn-sm btn-blue-grey btn-rounded waves-effect waves-light"><i class="fa fa-plus"></i></span>
                                <span class="text-black-50">Add a new one</span>
                            </a>
						</div>
						<div class="degree-container">
                            <section class="degree-section">
                                <div class="degree-head">
                                    <h4>Research Thesis-1</h4>
                                    <button type="button" class="btn btn-delete" title="Delete">
                                        <i class="fa fa-times"></i>
                                    </button>
                                </div>
                                <div class="degree-inner">
                                    <div class="form-group">
                                        <label for="researchTopic">Topic</label>
                                        <input type="text" class="form-control" id="researchTopic" placeholder="">
                                    </div>
									<div class="row">
										<div class="col-6">
                                            <div class="form-group">
                                                <label class="d-block">Date</label>
                                                <div id="date-picker-example" class="md-form md-outline input-with-post-icon datepicker my-0">
                                                    <input placeholder="Select date" type="text" id="example" class="form-control" />
                                                    <label for="example"></label>
                                                    <i class="fa fa-calendar input-prefix" tabindex="0"></i>
                                                </div>
                                            </div>
										</div>
									    <div class="col-6">
                                            <div class="form-group">
                                                <label for="researchAdvisor">Advisor</label>
                                                <input type="text" class="form-control" id="researchAdvisor" placeholder="">
                                            </div>
										</div>
									</div>
                                    <div class="form-group">
                                        <label for="researchInstitution">Institution</label>
                                        <input type="text" class="form-control" id="researchInstitution" placeholder="">
                                    </div>
                                    <div class="form-group">
                                        <label>Upload Document</label>
										<!-- 表單下方有 save 按鈕了，所以這邊改成只做選擇檔案不執行儲存 -->
                                        <div class="editor-files-wrapper">
                                            <div class="editor-files-inner">
                                                <div class="file-upload">
                                                    <label class="file-label" for="customFileLang"><i class="fa fa-paperclip"></i></label>
                                                    <input type="file" class="file-input" id="customFileLang" lang="en">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <a href="#" class="add-btn">
                                <span class="btn btn-sm btn-blue-grey btn-rounded waves-effect waves-light"><i class="fa fa-plus"></i></span>
                                <span class="text-black-50">Add a new one</span>
                            </a>
						</div>
						<div class="degree-container">
                            <section class="degree-section">
                                <div class="degree-head">
                                    <h4>Award-1</h4>
                                    <button type="button" class="btn btn-delete" title="Delete">
                                        <i class="fa fa-times"></i>
                                    </button>
                                </div>
                                <div class="degree-inner">
                                    <div class="form-group">
                                        <label for="awardName">Name of Award</label>
                                        <input type="text" class="form-control" id="awardName" placeholder="">
                                    </div>
									<div class="row">
										<div class="col-6">
                                            <div class="form-group">
                                                <label class="d-block">Date</label>
                                                <div id="date-picker-example" class="md-form md-outline input-with-post-icon datepicker my-0">
                                                    <input placeholder="Select date" type="text" id="example" class="form-control" />
                                                    <label for="example"></label>
                                                    <i class="fa fa-calendar input-prefix" tabindex="0"></i>
                                                </div>
                                            </div>
										</div>
									    <div class="col-6">
                                            <div class="form-group">
                                                <label for="awardIssuted">Issuted by</label>
                                                <input type="text" class="form-control" id="awardIssuted" placeholder="">
                                            </div>
										</div>
									</div>
                                    <div class="form-group">
                                        <label>Upload Document</label>
										<!-- 表單下方有 save 按鈕了，所以這邊改成只做選擇檔案不執行儲存 -->
                                        <div class="editor-files-wrapper">
                                            <div class="editor-files-inner">
                                                <div class="file-upload">
                                                    <label class="file-label" for="customFileLang"><i class="fa fa-paperclip"></i></label>
                                                    <input type="file" class="file-input" id="customFileLang" lang="en">
                                                </div>
                                                <div class="d-inline-block">
                                                    <div class="d-flex flex-wrap align-items-center">
                                                        <div class="file-wrapper">
                                                            <div class="file-name">
                                                                Dani_Box_Mini_manual.pdf
                                                            </div>
                                                            <button type="button" class="btn btn-cancel" title="Remove">
                                                                <i class="fa fa-times"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <a href="#" class="add-btn">
                                <span class="btn btn-sm btn-blue-grey btn-rounded waves-effect waves-light"><i class="fa fa-plus"></i></span>
                                <span class="text-black-50">Add a new one</span>
                            </a>
						</div>
						<div class="degree-container">
                            <section class="degree-section">
                                <div class="degree-head">
                                    <h4>Patent-1</h4>
                                    <button type="button" class="btn btn-delete" title="Delete">
                                        <i class="fa fa-times"></i>
                                    </button>
                                </div>
                                <div class="degree-inner">
                                    <div class="form-group">
                                        <label for="patentTopic">Topic</label>
                                        <input type="text" class="form-control" id="patentTopic" placeholder="">
                                    </div>
									<div class="row">
										<div class="col-6">
                                            <div class="form-group">
                                                <label class="d-block">Date</label>
                                                <div id="date-picker-example" class="md-form md-outline input-with-post-icon datepicker my-0">
                                                    <input placeholder="Select date" type="text" id="example" class="form-control" />
                                                    <label for="example"></label>
                                                    <i class="fa fa-calendar input-prefix" tabindex="0"></i>
                                                </div>
                                            </div>
										</div>
									    <div class="col-6">
                                            <div class="form-group">
                                                <label for="patentNumber">Patent No.</label>
                                                <input type="text" class="form-control" id="patentNumber" placeholder="">
                                            </div>
										</div>
									</div>
                                    <div class="form-group">
                                        <label>Upload Document</label>
										<!-- 表單下方有 save 按鈕了，所以這邊改成只做選擇檔案不執行儲存 -->
                                        <div class="editor-files-wrapper">
                                            <div class="editor-files-inner">
                                                <div class="file-upload">
                                                    <label class="file-label" for="customFileLang"><i class="fa fa-paperclip"></i></label>
                                                    <input type="file" class="file-input" id="customFileLang" lang="en">
                                                </div>
                                                <div class="d-inline-block">
                                                    <div class="d-flex flex-wrap align-items-center">
                                                        <div class="file-wrapper">
                                                            <div class="file-name">
                                                                Dani_Box_Mini_manual.pdf
                                                            </div>
                                                            <button type="button" class="btn btn-cancel" title="Remove">
                                                                <i class="fa fa-times"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <a href="#" class="add-btn">
                                <span class="btn btn-sm btn-blue-grey btn-rounded waves-effect waves-light"><i class="fa fa-plus"></i></span>
                                <span class="text-black-50">Add a new one</span>
                            </a>
						</div>
						<div class="degree-container">
                            <section class="degree-section">
                                <div class="degree-head">
                                    <h4>Other Evidence-1</h4>
                                    <button type="button" class="btn btn-delete" title="Delete">
                                        <i class="fa fa-times"></i>
                                    </button>
                                </div>
                                <div class="degree-inner">
                                    <div class="form-group">
                                        <label for="evidenceTopic">Topic</label>
                                        <input type="text" class="form-control" id="evidenceTopic" placeholder="">
                                    </div>
                                    <div class="form-group">
                                        <label class="d-block">Date</label>
                                        <div id="date-picker-example" class="md-form md-outline input-with-post-icon datepicker my-0">
                                            <input placeholder="Select date" type="text" id="example" class="form-control" />
                                            <label for="example"></label>
                                            <i class="fa fa-calendar input-prefix" tabindex="0"></i>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Upload Document</label>
										<!-- 表單下方有 save 按鈕了，所以這邊改成只做選擇檔案不執行儲存 -->
                                        <div class="editor-files-wrapper">
                                            <div class="editor-files-inner">
                                                <div class="file-upload">
                                                    <label class="file-label" for="customFileLang"><i class="fa fa-paperclip"></i></label>
                                                    <input type="file" class="file-input" id="customFileLang" lang="en">
                                                </div>
                                                <div class="d-inline-block">
                                                    <div class="d-flex flex-wrap align-items-center">
                                                        <div class="file-wrapper">
                                                            <div class="file-name">
                                                                Dani_Box_Mini_manual.pdf
                                                            </div>
                                                            <button type="button" class="btn btn-cancel" title="Remove">
                                                                <i class="fa fa-times"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <a href="#" class="add-btn">
                                <span class="btn btn-sm btn-blue-grey btn-rounded waves-effect waves-light"><i class="fa fa-plus"></i></span>
                                <span class="text-black-50">Add a new one</span>
                            </a>
						</div>
                        <div class="form-action">
                            <a href="/" class="btn btn-primary mr-2">Save</a>
                            <a href="application_home.html" class="btn btn-link">Home</a>
                        </div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div class="btn-custom">
	    <a href="../general/deposition.html" class="flat-btn disabled">
			Preview <i class="fa fa-arrow-circle-o-right"></i>
		</a>
	</div>
</div>

<% content_for :js do %>
<script>
    $('.datepicker').datepicker();
	
	$(document).ready(function(){
        $('.published_sci').click(function(){
            if($(this).is(":checked")) {
                $('.sci-container').show();
			    $('.ssci-container').hide();
            } else {
                $('.sci-container').hide();
			    $('.ssci-container').show();
            }
        });
		$('.published_ssci').click(function(){
            if($(this).is(":checked")) {
                $('.ssci-container').show();
				$('.sci-container').hide();
            } else {
                $('.ssci-container').hide();
				$('.sci-container').show();
            }
        });
    });
</script>
<% end %>