<!-- tigp: education background  -->

<div class="container">
	<div class="program-title">
	    <h3>Taiwan International Graduate Program On-line Application, 2020</h3>
	</div>
	<div class="application-container">
		<div class="row">
		    <div class="step-column col-3">
                <ul class="nav-step menu-item">
                    <li class="nav-item">
                        <a class="step-link" href="program_application.html">
							<img class="status icon-required" src="../assets/icon_required.svg">
							<span>Program Application</span>
						</a>
                    </li>
                    <li class="nav-item">
                        <a class="step-link" href="personal_information.html">
							<img class="status icon-check" src="../assets/iconmonstr-check-mark-8.svg">
							<span>Personal Information</span>
						</a>
                    </li>
					<li class="nav-item">
                        <a class="step-link current" href="education_background.html">
							<img class="status icon-required" src="../assets/icon_required.svg">
							<span>Education Background</span>
						</a>
                    </li>
					<li class="nav-item">
                        <a class="step-link" href="english_proficiency.html">
							<img class="status icon-required" src="../assets/icon_required.svg">
							<span>English Proficiency</span>
						</a>
                    </li>
					<li class="nav-item">
                        <a class="step-link" href="uploading_documents.html">
							<img class="status icon-required" src="../assets/icon_required.svg">
							<span>Uploading Documents</span>
						</a>
                    </li>
					<li class="nav-item">
                        <a class="step-link" href="academic_achievement.html">
							<img class="status icon-required" src="../assets/icon_required.svg">
							<span>Academic Achievement</span>
						</a>
                    </li>
					<li class="nav-item">
                        <a class="step-link" href="work_experiences.html">
							<span>Work Experiences</span>
						</a>
                    </li>
					<li class="nav-item">
                        <a class="step-link" href="recommendation_letters.html">
							<span>Recommendation Letters <strong>(1/3)</strong></span>
						</a>
                    </li>
					<li class="nav-item">
                        <a class="step-link" href="survey.html">
							<img class="status icon-required" src="../assets/icon_required.svg">
							<span>Survey</span>
						</a>
                    </li>
                </ul>
			</div>
			<div class="content-column col-9">
				<div class="content-container">
					<form>
                        <div class="form-group">
                            <label class="font-weight-normal">Your highest edcuation degree is: </label>
                            <div class="d-inline-block h3 indigo-text output">
                                Ph.D.
                            </div>
                        </div>
						<div class="degree-container">
                            <section class="degree-section">
                                <div class="degree-head">
                                    <h4>Bachelor's degree-1</h4>
                                    <button type="button" class="btn btn-delete" title="Delete">
                                        <i class="fa fa-times"></i>
                                    </button>
                                </div>
                                <div class="degree-inner">
                                    <div class="form-group">
                                        <label for="degreeUniversityName">Name of University</label>
                                        <input type="text" class="form-control" id="degreeUniversityName" placeholder="">
                                        <small class="form-text text-muted">Full name of the university/ college</small>
                                    </div>
                                    <div class="form-group">
                                        <label for="">Location</label>
                                        <div class="bootstrap-select-fullwidth">
                                            <select class="selectpicker" data-show-subtext="true" data-live-search="true">
                                                <option selected="">Please select country</option>
                                                <option data-subtext="Abkhazia">Abkhazia</option>
                                                <option data-subtext="Albania">Albania</option>
                                                <option data-subtext="Bosnia and Herzegovina">Bosnia and Herzegovina</option>
                                                <option data-subtext="Democratic Republic of the Congo">Democratic Republic of the Congo</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="d-block">Date of Entrance and Completion</label>
                                        <div class="d-inline-block w-48">
                                            <div id="date-picker-example" class="md-form md-outline input-with-post-icon datepicker my-0">
                                                <input placeholder="Select date" type="text" id="example" class="form-control" />
                                                <label for="example"></label>
                                                <i class="fa fa-calendar input-prefix" tabindex="0"></i>
                                            </div>
                                        </div>
                                        <span class="d-inline-block px-2">-</span>
                                        <div class="d-inline-block w-48">
                                            <div id="date-picker-example" class="md-form md-outline input-with-post-icon datepicker my-0">
                                                <input placeholder="Select date" type="text" id="example" class="form-control" />
                                                <label for="example"></label>
                                                <i class="fa fa-calendar input-prefix" tabindex="0"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="degreeMajor">Major</label>
                                        <input type="text" class="form-control" id="degreeMajor" placeholder="">
                                    </div>
                                    <div class="row">
                                        <div class="col-6">
                                            <div class="form-group">
                                                <label for="degreeUniversityRanking">National University Ranking Number</label>
                                                <input type="text" class="form-control" id="degreeUniversityRanking" placeholder="">
                                                <small class="form-text text-muted">Of Your University</small>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="form-group">
                                                <label for="degreeWorldRanking">World University Ranking Number</label>
                                                <input type="text" class="form-control" id="degreeWorldRanking" placeholder="">
                                                <small class="form-text text-muted">
                                                    Of Your University, 
                                                    <a href="https://www.topuniversities.com" target="_blank">Reference website</a>
                                                </small>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="degreeGPA">Grade Point Average</label>
                                        <input type="text" class="form-control" id="degreeGPA" placeholder="">
                                        <small class="form-text text-muted">GPA</small>
                                    </div>
                                    <div class="form-group">
                                        <label>Diploma (upload in PDF format)</label>
                                        <div class="editor-files-wrapper">
                                            <div class="editor-files-inner">
                                                <div class="file-upload">
                                                    <label class="file-label" for="customFileLang"><i class="fa fa-paperclip"></i></label>
                                                    <input type="file" class="file-input" id="customFileLang" lang="en">
                                                </div>
                                                <div class="d-inline-block">
                                                    <div class="d-flex flex-wrap align-items-center">
                                                        <div class="file-wrapper">
                                                            <div class="file-name">
                                                                Dani_Box_Mini_manual.pdf
                                                            </div>
                                                            <button type="button" class="btn btn-cancel" title="Remove">
                                                                <i class="fa fa-times"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="custom-control custom-checkbox mt-2">
                                            <input type="checkbox" class="custom-control-input degree_unavailable" id="degreeUnavailable">
                                            <label class="custom-control-label" for="degreeUnavailable">Currently unavailable, and the diploma will be issued from the University on</label>
                                        </div>
                                        <div class="unavailable-container extend-con hide">
                                            <div id="date-picker-example" class="md-form md-outline input-with-post-icon datepicker my-0">
                                                <input placeholder="Select date" type="text" id="example" class="form-control mb-0" />
                                                <label for="example"></label>
                                                <i class="fa fa-calendar input-prefix" tabindex="0"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Transcript (Upload in PDF format)</label>
                                        <div class="editor-files-wrapper">
                                            <div class="editor-files-inner">
                                                <div class="file-upload">
                                                    <label class="file-label" for="customFileLang"><i class="fa fa-paperclip"></i></label>
                                                    <input type="file" class="file-input" id="customFileLang" lang="en">
                                                </div>
                                                <div class="d-inline-block">
                                                    <div class="d-flex flex-wrap align-items-center">
                                                        <div class="file-wrapper">
                                                            <div class="file-name">
                                                                Dani_Box_Mini_manual.pdf
                                                            </div>
                                                            <button type="button" class="btn btn-cancel" title="Remove">
                                                                <i class="fa fa-times"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <small class="form-text text-muted">Including explanation of grading system</small>
                                    </div>
                                    <div class="form-group">
                                        <label>Syllabi of the Core Courses (Upload in PDF format)</label>
                                        <div class="editor-files-wrapper">
                                            <div class="editor-files-inner">
                                                <div class="file-upload">
                                                    <label class="file-label" for="customFileLang"><i class="fa fa-paperclip"></i></label>
                                                    <input type="file" class="file-input" id="customFileLang" lang="en">
                                                </div>
                                                <div class="d-inline-block">
                                                    <div class="d-flex flex-wrap align-items-center">
                                                        <div class="file-wrapper">
                                                            <div class="file-name">
                                                                Dani_Box_Mini_manual.pdf
                                                            </div>
                                                            <button type="button" class="btn btn-cancel" title="Remove">
                                                                <i class="fa fa-times"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Research Topic</label>
                                        <div class="research-wrapper">
                                            <ol class="num-list">
                                                <li><input type="text" class="form-control" id=""></li>
                                                <li><input type="text" class="form-control" id=""></li>
                                                <li><input type="text" class="form-control" id=""></li>
                                            </ol>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>The Abstract of Your Degree Thesis (Upload in PDF format)</label>
                                        <div class="editor-files-wrapper">
                                            <div class="editor-files-inner">
                                                <div class="file-upload">
                                                    <label class="file-label" for="customFileLang"><i class="fa fa-paperclip"></i></label>
                                                    <input type="file" class="file-input" id="customFileLang" lang="en">
                                                </div>
                                                <div class="d-inline-block">
                                                    <div class="d-flex flex-wrap align-items-center">
                                                        <div class="file-wrapper">
                                                            <div class="file-name">
                                                                Dani_Box_Mini_manual.pdf
                                                            </div>
                                                            <button type="button" class="btn btn-cancel" title="Remove">
                                                                <i class="fa fa-times"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-6">
                                            <div class="form-group">
                                                <label for="degreeAdvisor">The Name of Your Thesis Advisor</label>
                                                <input type="text" class="form-control" id="degreeAdvisor" placeholder="">
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="form-group">
                                                <label for="degreeAdvisorWebsite">Official Website of your Thesis Advisor</label>
                                                <input type="text" class="form-control" id="degreeAdvisorWebsite" placeholder="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <a href="#" class="add-btn">
                                <span class="btn btn-sm btn-blue-grey btn-rounded waves-effect waves-light"><i class="fa fa-plus"></i></span>
                                <span class="text-black-50">Add a new one</span>
                            </a>
						</div>
						<div class="degree-container">
                            <section class="degree-section">
                                <div class="degree-head">
                                    <h4>Master's degree-1</h4>
                                    <button type="button" class="btn btn-delete" title="Delete">
                                        <i class="fa fa-times"></i>
                                    </button>
                                </div>
                                <div class="degree-inner">
                                    <div class="form-group">
                                        <label for="degreeUniversityName">Name of University</label>
                                        <input type="text" class="form-control" id="degreeUniversityName" placeholder="">
                                        <small class="form-text text-muted">Full name of the university/ college</small>
                                    </div>
                                    <div class="form-group">
                                        <label for="">Location</label>
                                        <div class="bootstrap-select-fullwidth">
                                            <select class="selectpicker" data-show-subtext="true" data-live-search="true">
                                                <option selected="">Please select country</option>
                                                <option data-subtext="Abkhazia">Abkhazia</option>
                                                <option data-subtext="Albania">Albania</option>
                                                <option data-subtext="Bosnia and Herzegovina">Bosnia and Herzegovina</option>
                                                <option data-subtext="Democratic Republic of the Congo">Democratic Republic of the Congo</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="d-block">Date of Entrance and Completion</label>
                                        <div class="d-inline-block w-48">
                                            <div id="date-picker-example" class="md-form md-outline input-with-post-icon datepicker my-0">
                                                <input placeholder="Select date" type="text" id="example" class="form-control" />
                                                <label for="example"></label>
                                                <i class="fa fa-calendar input-prefix" tabindex="0"></i>
                                            </div>
                                        </div>
                                        <span class="d-inline-block px-2">-</span>
                                        <div class="d-inline-block w-48">
                                            <div id="date-picker-example" class="md-form md-outline input-with-post-icon datepicker my-0">
                                                <input placeholder="Select date" type="text" id="example" class="form-control" />
                                                <label for="example"></label>
                                                <i class="fa fa-calendar input-prefix" tabindex="0"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="degreeMajor">Major</label>
                                        <input type="text" class="form-control" id="degreeMajor" placeholder="">
                                    </div>
                                    <div class="row">
                                        <div class="col-6">
                                            <div class="form-group">
                                                <label for="degreeUniversityRanking">National University Ranking Number</label>
                                                <input type="text" class="form-control" id="degreeUniversityRanking" placeholder="">
                                                <small class="form-text text-muted">Of Your University</small>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="form-group">
                                                <label for="degreeWorldRanking">World University Ranking Number</label>
                                                <input type="text" class="form-control" id="degreeWorldRanking" placeholder="">
                                                <small class="form-text text-muted">
                                                    Of Your University, 
                                                    <a href="https://www.topuniversities.com" target="_blank">Reference website</a>
                                                </small>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="degreeGPA">Grade Point Average</label>
                                        <input type="text" class="form-control" id="degreeGPA" placeholder="">
                                        <small class="form-text text-muted">GPA</small>
                                    </div>
                                    <div class="form-group">
                                        <label>Diploma (upload in PDF format)</label>
                                        <div class="editor-files-wrapper">
                                            <div class="editor-files-inner">
                                                <div class="file-upload">
                                                    <label class="file-label" for="customFileLang"><i class="fa fa-paperclip"></i></label>
                                                    <input type="file" class="file-input" id="customFileLang" lang="en">
                                                </div>
                                                <div class="d-inline-block">
                                                    <div class="d-flex flex-wrap align-items-center">
                                                        <div class="file-wrapper">
                                                            <div class="file-name">
                                                                Dani_Box_Mini_manual.pdf
                                                            </div>
                                                            <button type="button" class="btn btn-cancel" title="Remove">
                                                                <i class="fa fa-times"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="custom-control custom-checkbox mt-2">
                                            <input type="checkbox" class="custom-control-input degree_unavailable" id="degreeUnavailable">
                                            <label class="custom-control-label" for="degreeUnavailable">Currently unavailable, and the diploma will be issued from the University on</label>
                                        </div>
                                        <div class="unavailable-container extend-con hide">
                                            <div id="date-picker-example" class="md-form md-outline input-with-post-icon datepicker my-0">
                                                <input placeholder="Select date" type="text" id="example" class="form-control mb-0" />
                                                <label for="example"></label>
                                                <i class="fa fa-calendar input-prefix" tabindex="0"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Transcript (Upload in PDF format)</label>
                                        <div class="editor-files-wrapper">
                                            <div class="editor-files-inner">
                                                <div class="file-upload">
                                                    <label class="file-label" for="customFileLang"><i class="fa fa-paperclip"></i></label>
                                                    <input type="file" class="file-input" id="customFileLang" lang="en">
                                                </div>
                                                <div class="d-inline-block">
                                                    <div class="d-flex flex-wrap align-items-center">
                                                        <div class="file-wrapper">
                                                            <div class="file-name">
                                                                Dani_Box_Mini_manual.pdf
                                                            </div>
                                                            <button type="button" class="btn btn-cancel" title="Remove">
                                                                <i class="fa fa-times"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <small class="form-text text-muted">Including explanation of grading system</small>
                                    </div>
                                    <div class="form-group">
                                        <label>Syllabi of the Core Courses (Upload in PDF format)</label>
                                        <div class="editor-files-wrapper">
                                            <div class="editor-files-inner">
                                                <div class="file-upload">
                                                    <label class="file-label" for="customFileLang"><i class="fa fa-paperclip"></i></label>
                                                    <input type="file" class="file-input" id="customFileLang" lang="en">
                                                </div>
                                                <div class="d-inline-block">
                                                    <div class="d-flex flex-wrap align-items-center">
                                                        <div class="file-wrapper">
                                                            <div class="file-name">
                                                                Dani_Box_Mini_manual.pdf
                                                            </div>
                                                            <button type="button" class="btn btn-cancel" title="Remove">
                                                                <i class="fa fa-times"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Research Topic</label>
                                        <div class="research-wrapper">
                                            <ol class="num-list">
                                                <li><input type="text" class="form-control" id=""></li>
                                                <li><input type="text" class="form-control" id=""></li>
                                                <li><input type="text" class="form-control" id=""></li>
                                            </ol>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>The Abstract of Your Degree Thesis (Upload in PDF format)</label>
                                        <div class="editor-files-wrapper">
                                            <div class="editor-files-inner">
                                                <div class="file-upload">
                                                    <label class="file-label" for="customFileLang"><i class="fa fa-paperclip"></i></label>
                                                    <input type="file" class="file-input" id="customFileLang" lang="en">
                                                </div>
                                                <div class="d-inline-block">
                                                    <div class="d-flex flex-wrap align-items-center">
                                                        <div class="file-wrapper">
                                                            <div class="file-name">
                                                                Dani_Box_Mini_manual.pdf
                                                            </div>
                                                            <button type="button" class="btn btn-cancel" title="Remove">
                                                                <i class="fa fa-times"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-6">
                                            <div class="form-group">
                                                <label for="degreeAdvisor">The Name of Your Thesis Advisor</label>
                                                <input type="text" class="form-control" id="degreeAdvisor" placeholder="">
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="form-group">
                                                <label for="degreeAdvisorWebsite">Official Website of your Thesis Advisor</label>
                                                <input type="text" class="form-control" id="degreeAdvisorWebsite" placeholder="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <a href="#" class="add-btn">
                                <span class="btn btn-sm btn-blue-grey btn-rounded waves-effect waves-light"><i class="fa fa-plus"></i></span>
                                <span class="text-black-50">Add a new one</span>
                            </a>
						</div>
						<div class="degree-container">
                            <section class="degree-section">
                                <div class="degree-head">
                                    <h4>Doctor's degree-1</h4>
                                    <button type="button" class="btn btn-delete" title="Delete">
                                        <i class="fa fa-times"></i>
                                    </button>
                                </div>
                                <div class="degree-inner">
                                    <div class="form-group">
                                        <label for="degreeUniversityName">Name of University</label>
                                        <input type="text" class="form-control" id="degreeUniversityName" placeholder="">
                                        <small class="form-text text-muted">Full name of the university/ college</small>
                                    </div>
                                    <div class="form-group">
                                        <label for="">Location</label>
                                        <div class="bootstrap-select-fullwidth">
                                            <select class="selectpicker" data-show-subtext="true" data-live-search="true">
                                                <option selected="">Please select country</option>
                                                <option data-subtext="Abkhazia">Abkhazia</option>
                                                <option data-subtext="Albania">Albania</option>
                                                <option data-subtext="Bosnia and Herzegovina">Bosnia and Herzegovina</option>
                                                <option data-subtext="Democratic Republic of the Congo">Democratic Republic of the Congo</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="d-block">Date of Entrance and Completion</label>
                                        <div class="d-inline-block w-48">
                                            <div id="date-picker-example" class="md-form md-outline input-with-post-icon datepicker my-0">
                                                <input placeholder="Select date" type="text" id="example" class="form-control" />
                                                <label for="example"></label>
                                                <i class="fa fa-calendar input-prefix" tabindex="0"></i>
                                            </div>
                                        </div>
                                        <span class="d-inline-block px-2">-</span>
                                        <div class="d-inline-block w-48">
                                            <div id="date-picker-example" class="md-form md-outline input-with-post-icon datepicker my-0">
                                                <input placeholder="Select date" type="text" id="example" class="form-control" />
                                                <label for="example"></label>
                                                <i class="fa fa-calendar input-prefix" tabindex="0"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="degreeMajor">Major</label>
                                        <input type="text" class="form-control" id="degreeMajor" placeholder="">
                                    </div>
                                    <div class="row">
                                        <div class="col-6">
                                            <div class="form-group">
                                                <label for="degreeUniversityRanking">National University Ranking Number</label>
                                                <input type="text" class="form-control" id="degreeUniversityRanking" placeholder="">
                                                <small class="form-text text-muted">Of Your University</small>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="form-group">
                                                <label for="degreeWorldRanking">World University Ranking Number</label>
                                                <input type="text" class="form-control" id="degreeWorldRanking" placeholder="">
                                                <small class="form-text text-muted">
                                                    Of Your University, 
                                                    <a href="https://www.topuniversities.com" target="_blank">Reference website</a>
                                                </small>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="degreeGPA">Grade Point Average</label>
                                        <input type="text" class="form-control" id="degreeGPA" placeholder="">
                                        <small class="form-text text-muted">GPA</small>
                                    </div>
                                    <div class="form-group">
                                        <label>Diploma (upload in PDF format)</label>
                                        <div class="editor-files-wrapper">
                                            <div class="editor-files-inner">
                                                <div class="file-upload">
                                                    <label class="file-label" for="customFileLang"><i class="fa fa-paperclip"></i></label>
                                                    <input type="file" class="file-input" id="customFileLang" lang="en">
                                                </div>
                                                <div class="d-inline-block">
                                                    <div class="d-flex flex-wrap align-items-center">
                                                        <div class="file-wrapper">
                                                            <div class="file-name">
                                                                Dani_Box_Mini_manual.pdf
                                                            </div>
                                                            <button type="button" class="btn btn-cancel" title="Remove">
                                                                <i class="fa fa-times"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="custom-control custom-checkbox mt-2">
                                            <input type="checkbox" class="custom-control-input degree_unavailable" id="degreeUnavailable">
                                            <label class="custom-control-label" for="degreeUnavailable">Currently unavailable, and the diploma will be issued from the University on</label>
                                        </div>
                                        <div class="unavailable-container extend-con hide">
                                            <div id="date-picker-example" class="md-form md-outline input-with-post-icon datepicker my-0">
                                                <input placeholder="Select date" type="text" id="example" class="form-control mb-0" />
                                                <label for="example"></label>
                                                <i class="fa fa-calendar input-prefix" tabindex="0"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Transcript (Upload in PDF format)</label>
                                        <div class="editor-files-wrapper">
                                            <div class="editor-files-inner">
                                                <div class="file-upload">
                                                    <label class="file-label" for="customFileLang"><i class="fa fa-paperclip"></i></label>
                                                    <input type="file" class="file-input" id="customFileLang" lang="en">
                                                </div>
                                                <div class="d-inline-block">
                                                    <div class="d-flex flex-wrap align-items-center">
                                                        <div class="file-wrapper">
                                                            <div class="file-name">
                                                                Dani_Box_Mini_manual.pdf
                                                            </div>
                                                            <button type="button" class="btn btn-cancel" title="Remove">
                                                                <i class="fa fa-times"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <small class="form-text text-muted">Including explanation of grading system</small>
                                    </div>
                                    <div class="form-group">
                                        <label>Syllabi of the Core Courses (Upload in PDF format)</label>
                                        <div class="editor-files-wrapper">
                                            <div class="editor-files-inner">
                                                <div class="file-upload">
                                                    <label class="file-label" for="customFileLang"><i class="fa fa-paperclip"></i></label>
                                                    <input type="file" class="file-input" id="customFileLang" lang="en">
                                                </div>
                                                <div class="d-inline-block">
                                                    <div class="d-flex flex-wrap align-items-center">
                                                        <div class="file-wrapper">
                                                            <div class="file-name">
                                                                Dani_Box_Mini_manual.pdf
                                                            </div>
                                                            <button type="button" class="btn btn-cancel" title="Remove">
                                                                <i class="fa fa-times"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Research Topic</label>
                                        <div class="research-wrapper">
                                            <ol class="num-list">
                                                <li><input type="text" class="form-control" id=""></li>
                                                <li><input type="text" class="form-control" id=""></li>
                                                <li><input type="text" class="form-control" id=""></li>
                                            </ol>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>The Abstract of Your Degree Thesis (Upload in PDF format)</label>
                                        <div class="editor-files-wrapper">
                                            <div class="editor-files-inner">
                                                <div class="file-upload">
                                                    <label class="file-label" for="customFileLang"><i class="fa fa-paperclip"></i></label>
                                                    <input type="file" class="file-input" id="customFileLang" lang="en">
                                                </div>
                                                <div class="d-inline-block">
                                                    <div class="d-flex flex-wrap align-items-center">
                                                        <div class="file-wrapper">
                                                            <div class="file-name">
                                                                Dani_Box_Mini_manual.pdf
                                                            </div>
                                                            <button type="button" class="btn btn-cancel" title="Remove">
                                                                <i class="fa fa-times"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-6">
                                            <div class="form-group">
                                                <label for="degreeAdvisor">The Name of Your Thesis Advisor</label>
                                                <input type="text" class="form-control" id="degreeAdvisor" placeholder="">
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="form-group">
                                                <label for="degreeAdvisorWebsite">Official Website of your Thesis Advisor</label>
                                                <input type="text" class="form-control" id="degreeAdvisorWebsite" placeholder="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <a href="#" class="add-btn">
                                <span class="btn btn-sm btn-blue-grey btn-rounded waves-effect waves-light"><i class="fa fa-plus"></i></span>
                                <span class="text-black-50">Add a new one</span>
                            </a>
						</div>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="trueEducationalBackground">
                            <label class="custom-control-label deep-orange-text" for="trueEducationalBackground">* All of my statements about educational background is true and complete to the best of my knowledge. I acknowledge that hiding important information which can affect the equality in admissions will be considered as cheating. </label>
                        </div>
                        <div class="form-action">
                            <a href="/" class="btn btn-primary mr-2">Save</a>
                            <a href="application_home.html" class="btn btn-link">Home</a>
                        </div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div class="btn-custom">
	    <a href="../general/deposition.html" class="flat-btn disabled">
			Preview <i class="fa fa-arrow-circle-o-right"></i>
		</a>
	</div>
</div>

<% content_for :js do %>
<script src="../javascripts/bootstrap-select.js"></script>
<script>
    $('.datepicker').datepicker();
	
    $(function () {
        $(".degree_unavailable").click(function () {
            if ($(this).is(":checked")) {
                $(".unavailable-container").show();
            } else {
                $(".unavailable-container").hide();
            }
        });
    });
</script>
<% end %>