<!-- tigp: FAQ Item -->

<div class="container">
	<div class="program-title">
	    <h3>Taiwan International Graduate Program On-line Application, 2020</h3>
	</div>
	<div class="general-container">
        <div class="general-head">
            <div class="block-title">
                <h4 class="h-title">FAQ</h4>
            </div>
        </div>
		<div class="faq-wrapper">
			<div class="faq-item">
                <h4><%= lorem_sentences(1) %></h4>
                <div class="item-hd mb-4">
                    <span class="item-category">
                        <i class="fa fa-folder-o"></i> TIGP
                    </span>
                    <span class="item-publish">
                        <i class="fa fa-clock-o"></i> 2020.09.31
                    </span>
                </div>
                <div class="editor-wall">
                    <p><%= lorem_sentences(5) %></p>
                    <p><%= lorem_sentences(3) %></p>
                    <p><%= lorem_sentences(5) %></p>
                </div>
				<div class="files">
				    <a class="file-wrap" href="#"><i class="fa fa-cloud-download"></i> Dani_Box_Mini_manual.pdf</a>
					<a class="file-wrap" href="#"><i class="fa fa-cloud-download"></i> tgip_2020_On-line_application.pdf</a>
				</div>
				<div class="back-to">
				    <a href="faq.html" class="back-link"><i class="fa fa-long-arrow-left"></i> Back</a>
				</div>
			</div>
		</div>
	</div>
</div>

