<!-- tigp: FAQ  -->

<div class="container">
	<div class="program-title">
	    <h3>Taiwan International Graduate Program On-line Application, 2020</h3>
	</div>
	<div class="general-container">
        <div class="general-head">
            <div class="block-title">
                <h4 class="h-title">FAQ</h4>
            </div>
			<div class="search">
                <form class="form-inline d-flex justify-content-center md-form form-sm mt-0">
                    <i class="fa fa-search" aria-hidden="true"></i>
                    <input class="form-control form-control-sm ml-3 w-75" type="text" placeholder="Search" aria-label="Search" />
                </form>
            </div>
        </div>
		<div class="faq-wrapper">
			<div class="faq-list">
				<% (1..4).each do |n| %>
                <div class="faq-item">
                    <div class="item-hd">
                        <span class="item-category" title="Object">
                            <i class="fa fa-folder-o"></i> TIGP
                        </span>
                        <span class="item-publish" title="Publish date">
                            <i class="fa fa-clock-o"></i> 2020.09.31
                        </span>
                    </div>
                    <div class="item-bd">
                        <a href="faq-answer.html" class="item-link"><%= lorem_sentences(1) %></a>
                    </div>
                </div>
				<% end %>
				<% (1..4).each do |n| %>
                <div class="faq-item">
                    <div class="item-hd">
                        <span class="item-category" title="Object">
                            <i class="fa fa-folder-o"></i> <%= lorem_words(5) %> program
                        </span>
                        <span class="item-publish" title="Publish date">
                            <i class="fa fa-clock-o"></i> 2020.09.31
                        </span>
                    </div>
                    <div class="item-bd">
                        <a href="faq-answer.html" class="item-link"><%= lorem_sentences(2) %></a>
                    </div>
                </div>
				<% end %>
			</div>
            <nav aria-label="Page navigation">
                <ul class="pagination pg-teal justify-content-center">
                    <li class="page-item">
                        <a class="page-link" tabindex="-1">Previous</a>
                    </li>
                    <li class="page-item"><a class="page-link">1</a></li>
                    <li class="page-item active">
                        <a class="page-link">2 <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="page-item"><a class="page-link">3</a></li>
                    <li class="page-item">
                        <a class="page-link">Next</a>
                    </li>
                </ul>
            </nav>
		</div>
	</div>
</div>

