<!-- tigp: personal information  -->

<div class="container">
	<div class="program-title">
	    <h3>Taiwan International Graduate Program On-line Application, 2020</h3>
	</div>
	<div class="application-container">
		<div class="row">
		    <div class="step-column col-3">
                <ul class="nav-step menu-item">
                    <li class="nav-item">
                        <a class="step-link" href="program_application.html">
							<img class="status icon-required" src="../assets/icon_required.svg">
							<span>Program Application</span>
						</a>
                    </li>
                    <li class="nav-item">
                        <a class="step-link current" href="personal_information.html">
							<img class="status icon-check" src="../assets/iconmonstr-check-mark-8.svg">
							<span>Personal Information</span>
						</a>
                    </li>
					<li class="nav-item">
                        <a class="step-link" href="education_background.html">
							<img class="status icon-required" src="../assets/icon_required.svg">
							<span>Education Background</span>
						</a>
                    </li>
					<li class="nav-item">
                        <a class="step-link" href="english_proficiency.html">
							<img class="status icon-required" src="../assets/icon_required.svg">
							<span>English Proficiency</span>
						</a>
                    </li>
					<li class="nav-item">
                        <a class="step-link" href="uploading_documents.html">
							<img class="status icon-required" src="../assets/icon_required.svg">
							<span>Uploading Documents</span>
						</a>
                    </li>
					<li class="nav-item">
                        <a class="step-link" href="academic_achievement.html">
							<img class="status icon-required" src="../assets/icon_required.svg">
							<span>Academic Achievement</span>
						</a>
                    </li>
					<li class="nav-item">
                        <a class="step-link" href="work_experiences.html">
							<span>Work Experiences</span>
						</a>
                    </li>
					<li class="nav-item">
                        <a class="step-link" href="recommendation_letters.html">
							<span>Recommendation Letters <strong>(1/3)</strong></span>
						</a>
                    </li>
					<li class="nav-item">
                        <a class="step-link" href="survey.html">
							<img class="status icon-required" src="../assets/icon_required.svg">
							<span>Survey</span>
						</a>
                    </li>
                </ul>
			</div>
			<div class="content-column col-9">
				<div class="content-container">
					<form>
						<div class="form-wrapper">
                            <div class="form-section">
                                <h4 class="section-title">Personal Information</h4>
                                <div class="row">
                                    <div class="col-8">
                                        <div class="form-group">
                                            <label><span class="required">*</span> English name</label>
                                            <div class="form-row">
                                                <div class="col-4">
                                                    <input type="text" class="form-control" id="" placeholder="First Name">
                                                    <small class="form-text text-muted">Given Name</small>
                                                </div>
                                                <div class="col-4">
                                                    <input type="text" class="form-control" id="" placeholder="Middle Name">
                                                </div>
                                                <div class="col-4">
                                                    <input type="text" class="form-control" id="" placeholder="Last Name">
                                                    <small class="form-text text-muted">Family Name</small>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="Chinesefullname">Chinese Name</label>
                                            <input type="text" class="form-control" id="Chinesefullname" placeholder="">
                                            <small class="form-text text-muted">if any</small>
                                        </div>
                                        <div class="form-group">
                                            <label for="Email"><span class="required">*</span> E-mail Address</label>
                                            <input type="email" class="form-control" id="Email" placeholder="">
                                        </div>
                                        <div class="form-group">
                                            <label for="CountryofCitizenship"><span class="required">*</span> Citizenship</label>
                                            <input type="text" class="form-control" id="CountryofCitizenship" placeholder="">
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="file-field">
                                            <div class="mb-4 text-center">
                                                <img src="../assets/default.png" class="avatar-pic avatar-recent" alt="Personal recent photo">
                                            </div>
                                            <div class="d-flex justify-content-center">
                                                <div class="btn btn-default btn-rounded float-left">
                                                    <span>Upload Photo</span>
                                                    <input type="file">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label for="TaiwanIDNumber">Taiwanese ID Number</label>
                                            <input type="text" class="form-control" id="TaiwanIDNumber" placeholder="">
                                            <small class="form-text text-muted">if any</small>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label for="TaiwanAlienResident">Taiwan Alien Resident Certificate (ARC)</label>
                                            <input type="text" class="form-control" id="TaiwanAlienResident" placeholder="">
                                            <small class="form-text text-muted">if application</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label for="PassportNumber">Passport Number</label>
                                            <input type="text" class="form-control" id="PassportNumber" placeholder="">
                                            <small class="form-text text-muted">if application</small>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label for="">Date of Birth</label>
                                            <div id="date-picker-example" class="md-form md-outline input-with-post-icon datepicker mt-0">
                                                <input placeholder="Select date" type="text" id="example" class="form-control" />
                                                <label for="example"></label>
                                                <i class="fa fa-calendar input-prefix" tabindex="0"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label>Gender</label>
                                            <div>
                                                <div class="custom-control custom-radio custom-control-inline">
                                                    <input type="radio" class="custom-control-input" id="male" name="personalGender">
                                                    <label class="custom-control-label" for="male">Male</label>
                                                </div>
                                                <div class="custom-control custom-radio custom-control-inline">
                                                    <input type="radio" class="custom-control-input" id="female" name="personalGender">
                                                    <label class="custom-control-label" for="female">Female</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label>Marital</label>
                                            <div>
                                                <div class="custom-control custom-radio custom-control-inline">
                                                    <input type="radio" class="custom-control-input" id="maritalSingle" name="personalMarital">
                                                    <label class="custom-control-label" for="maritalSingle">Single</label>
                                                </div>
                                                <div class="custom-control custom-radio custom-control-inline">
                                                    <input type="radio" class="custom-control-input" id="maritalMarried" name="personalMarital">
                                                    <label class="custom-control-label" for="maritalMarried">Married</label>
                                                </div>
                                                <div class="custom-control custom-radio custom-control-inline">
                                                    <input type="radio" class="custom-control-input" id="maritalOther" name="personalMarital">
                                                    <label class="custom-control-label" for="maritalOther">Other</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="">Telephone Number</label>
                                    <div class="form-row">
                                        <div class="col-2">
                                            <select class="browser-default custom-select">
                                                <option selected="">Device</option>
                                                <option value="mobile">Mobile</option>
                                                <option value="landline">Landline</option>
                                            </select>
                                        </div>
                                        <div class="col-5 bootstrap-select-fullwidth">
                                            <select class="selectpicker" data-show-subtext="true" data-live-search="true">
                                                <option selected="">Country code</option>
                                                <option data-subtext="Rep California">Tom Foolery</option>
                                                <option data-subtext="Sen California">Bill Gordon</option>
                                                <option data-subtext="Sen Massacusetts">Elizabeth Warren</option>
                                                <option data-subtext="Rep Alabama">Mario Flores</option>
                                                <option data-subtext="Rep Alaska">Don Young</option>
                                                <option data-subtext="Rep California" disabled="disabled">Marvin Martinez</option>
                                            </select>
                                        </div>
                                        <div class="col-2">
                                            <input type="text" class="form-control" id="" placeholder="Area code">
                                        </div>
                                        <div class="col-3">
                                            <input type="text" class="form-control" id="" placeholder="Phone number">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-section">
                                <h4 class="section-title">Permanent Postal Mailing Address</h4>
								<p>For Taiwanese applicants ,please type in Chinese. For International applications should list their home country address as their permanent address</p>
                                <div class="form-group">
                                    <label for="permanentAddressLine1"><span class="required">*</span> Address Line 1</label>
                                    <input type="text" class="form-control" id="permanentAddressLine1">
                                </div>
                                <div class="form-group">
                                    <label for="permanentAddressLine2">Address Line 2</label>
                                    <input type="text" class="form-control" id="permanentAddressLine2">
                                </div>
								<div class="form-group">
                                    <label for="permanentAddressLine3">Address Line 3</label>
                                    <input type="text" class="form-control" id="permanentAddressLine3">
                                </div>
                                <div class="form-row">
                                    <div class="col-2">
                                        <div class="form-group">
                                            <label for="permanentPostalCode"><span class="required">*</span> Postal Code</label>
                                            <input type="text" class="form-control" id="permanentPostalCode">
                                        </div>
                                    </div>
                                    <div class="col-5">
                                        <div class="form-group">
                                            <label for="permanentCityTown"><span class="required">*</span> City / Town</label>
                                            <input type="text" class="form-control" id="permanentCityTown">
                                        </div>
                                    </div>
                                    <div class="col-5">
                                        <div class="form-group">
                                            <label for="permanentState"><span class="required">*</span> State</label>
                                            <input type="text" class="form-control" id="permanentState">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for=""><span class="required">*</span> Country</label>
                                    <div class="bootstrap-select-fullwidth">
                                        <select class="selectpicker" data-show-subtext="true" data-live-search="true">
                                            <option selected="">Please select country</option>
                                            <option data-subtext="Abkhazia">Abkhazia</option>
                                            <option data-subtext="Albania">Albania</option>
                                            <option data-subtext="Bosnia and Herzegovina">Bosnia and Herzegovina</option>
                                            <option data-subtext="Democratic Republic of the Congo">Democratic Republic of the Congo</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
							<div class="form-section">
                                <h4 class="section-title">Current Postal Mailing Address</h4>
								<p>For sending admission package</p>
								<div class="form-group">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="samePermanentAddress">
                                        <label class="custom-control-label" for="samePermanentAddress">The same with permanent address</label>
                                    </div>
                                </div>
								<div class="samepermanent-container">
                                    <div class="form-group">
                                        <label for="currentAddressLine1"><span class="required">*</span> Address Line 1</label>
                                        <input type="text" class="form-control" id="currentAddressLine1">
                                    </div>
                                    <div class="form-group">
                                        <label for="currentAddressLine2">Address Line 2</label>
                                        <input type="text" class="form-control" id="currentAddressLine2">
                                    </div>
                                    <div class="form-group">
                                        <label for="currentAddressLine3">Address Line 3</label>
                                        <input type="text" class="form-control" id="currentAddressLine3">
                                    </div>
                                    <div class="form-row">
                                        <div class="col-2">
                                            <div class="form-group">
                                                <label for="permanentPostalCode"><span class="required">*</span> Postal Code</label>
                                                <input type="text" class="form-control" id="permanentPostalCode">
                                            </div>
                                        </div>
                                        <div class="col-5">
                                            <div class="form-group">
                                                <label for="permanentCityTown"><span class="required">*</span> City / Town</label>
                                                <input type="text" class="form-control" id="permanentCityTown">
                                            </div>
                                        </div>
										<div class="col-5">
                                            <div class="form-group">
                                                <label for="permanentState"><span class="required">*</span> State</label>
                                                <input type="text" class="form-control" id="permanentState">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for=""><span class="required">*</span> Country</label>
                                        <div class="bootstrap-select-fullwidth">
                                            <select class="selectpicker" data-show-subtext="true" data-live-search="true">
                                                <option selected="">Please select country</option>
                                                <option data-subtext="Abkhazia">Abkhazia</option>
                                                <option data-subtext="Albania">Albania</option>
                                                <option data-subtext="Bosnia and Herzegovina">Bosnia and Herzegovina</option>
                                                <option data-subtext="Democratic Republic of the Congo">Democratic Republic of the Congo</option>
                                            </select>
                                        </div>
                                    </div>
								</div>
                            </div>
                            <div class="form-section">
                                <h4 class="section-title">Emergency Contact Information</h4>
                                <div class="row">
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label for="emergencyName">Name</label>
                                            <input type="text" class="form-control" id="emergencyName" placeholder="" />
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label for="emergencyRelationship">Relationship of individual</label>
                                            <input type="text" class="form-control" id="emergencyRelationship" placeholder="" />
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="">Telephone Number</label>
                                    <div class="form-row">
                                        <div class="col-2">
                                            <select class="browser-default custom-select">
                                                <option selected="">Device</option>
                                                <option value="mobile">Mobile</option>
                                                <option value="landline">Landline</option>
                                            </select>
                                        </div>
                                        <div class="col-5 bootstrap-select-fullwidth">
                                            <select class="selectpicker" data-show-subtext="true" data-live-search="true">
                                                <option selected="">Country code</option>
                                                <option data-subtext="Rep California">Tom Foolery</option>
                                                <option data-subtext="Sen California">Bill Gordon</option>
                                                <option data-subtext="Sen Massacusetts">Elizabeth Warren</option>
                                                <option data-subtext="Rep Alabama">Mario Flores</option>
                                                <option data-subtext="Rep Alaska">Don Young</option>
                                                <option data-subtext="Rep California" disabled="disabled">Marvin Martinez</option>
                                            </select>
                                        </div>
                                        <div class="col-2">
                                            <input type="text" class="form-control" id="" placeholder="Area code">
                                        </div>
                                        <div class="col-3">
                                            <input type="text" class="form-control" id="" placeholder="Phone number">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Address</label>
                                    <div>
                                        <div class="custom-control custom-radio">
                                            <input type="radio" class="custom-control-input" id="emergencyPermanent" name="emergencyAddress">
                                            <label class="custom-control-label" for="emergencyPermanent">The same with permanent address</label>
                                        </div>
                                        <div class="custom-control custom-radio">
                                            <input type="radio" class="custom-control-input" id="emergencyCurrent" name="emergencyAddress">
                                            <label class="custom-control-label" for="emergencyCurrent">The same with current postal mailling address above</label>
                                        </div>
                                        <div class="custom-control custom-radio">
                                            <input type="radio" class="custom-control-input" id="emergencyNewAddress" name="emergencyAddress">
                                            <label class="custom-control-label" for="emergencyNewAddress">A new address</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="permanentAddressLine1"><span class="required">*</span> Address Line 1</label>
                                    <input type="text" class="form-control" id="permanentAddressLine1">
                                </div>
                                <div class="form-group">
                                    <label for="permanentAddressLine2">Address Line 2</label>
                                    <input type="text" class="form-control" id="permanentAddressLine2">
                                </div>
								<div class="form-group">
                                    <label for="permanentAddressLine3">Address Line 3</label>
                                    <input type="text" class="form-control" id="permanentAddressLine3">
                                </div>
                                <div class="form-row">
                                    <div class="col-2">
                                        <div class="form-group">
                                            <label for="permanentPostalCode"><span class="required">*</span> Postal Code</label>
                                            <input type="text" class="form-control" id="permanentPostalCode">
                                        </div>
                                    </div>
                                    <div class="col-5">
                                        <div class="form-group">
                                            <label for="permanentCityTown"><span class="required">*</span> City / Town</label>
                                            <input type="text" class="form-control" id="permanentCityTown">
                                        </div>
                                    </div>
                                    <div class="col-5">
                                        <div class="form-group">
                                            <label for="permanentState"><span class="required">*</span> State</label>
                                            <input type="text" class="form-control" id="permanentState">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for=""><span class="required">*</span> Country</label>
                                    <div class="bootstrap-select-fullwidth">
                                        <select class="selectpicker" data-show-subtext="true" data-live-search="true">
                                            <option selected="">Please select country</option>
                                            <option data-subtext="Abkhazia">Abkhazia</option>
                                            <option data-subtext="Albania">Albania</option>
                                            <option data-subtext="Bosnia and Herzegovina">Bosnia and Herzegovina</option>
                                            <option data-subtext="Democratic Republic of the Congo">Democratic Republic of the Congo</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
							<div class="form-section">
							    <h4 class="section-title">National Defense Service Information</h4>
								<p>For Taiwanese male students only</p>
                                <div class="form-group">
                                    <label>Are you currently serving National Defense Service?</label>
                                    <div>
                                        <div class="custom-control custom-radio custom-control-inline">
                                            <input type="radio" class="custom-control-input nationaldefense_yes" id="defenseYes" name="nationalDefense">
                                            <label class="custom-control-label" for="defenseYes">Yes</label>
                                        </div>
                                        <div class="custom-control custom-radio custom-control-inline">
                                            <input type="radio" class="custom-control-input nationaldefense_no" id="defenseNo" name="nationalDefense">
                                            <label class="custom-control-label" for="defenseNo">No</label>
                                        </div>
                                    </div>
                                </div>
								<div class="defense-container extend-con hide">
								    <div class="form-group">
									    <label>Please upload a letter of agreement from your organization</label>
                                        <div class="editor-files-wrapper">
                                            <div class="editor-files-inner">
                                                <div class="file-upload">
                                                    <label class="file-label" for="customFileLang"><i class="fa fa-paperclip"></i></label>
                                                    <input type="file" class="file-input" id="customFileLang" lang="en">
                                                </div>
												<div class="d-inline-block">
                                                    <div class="d-flex flex-wrap align-items-center">
                                                        <div class="file-wrapper">
                                                            <div class="file-name">
                                                                Dani_Box_Mini_manual.pdf
                                                            </div>
                                                            <button type="button" class="btn btn-cancel" title="Remove">
                                                                <i class="fa fa-times"></i>
                                                            </button>
                                                        </div>
                                                    </div>
												</div>
                                            </div>
                                        </div>
									</div>
									<div class="form-group mb-0">
									    <label>The expected month for finishing the service</label>
										<div class="col-6 px-0">
                                            <div id="date-picker-example" class="md-form md-outline input-with-post-icon datepicker my-0">
                                                <input placeholder="Select date" type="text" id="example" class="form-control" />
                                                <label for="example"></label>
                                                <i class="fa fa-calendar input-prefix" tabindex="0"></i>
                                            </div>
										</div>
									</div>
								</div>
							</div>
							<div class="form-section">
							    <h4 class="section-title">Some Information</h4>
                                <div class="form-group">
                                    <label>Are you currently applying for other university?</label>
                                    <div>
                                        <div class="custom-control custom-radio custom-control-inline">
                                            <input type="radio" class="custom-control-input applyingother_yes" id="applyingOtherYes" name="applyingOther">
                                            <label class="custom-control-label" for="applyingOtherYes">Yes</label>
                                        </div>
                                        <div class="custom-control custom-radio custom-control-inline">
                                            <input type="radio" class="custom-control-input applyingother_no" id="applyingOtherNo" name="applyingOther">
                                            <label class="custom-control-label" for="applyingOtherNo">No</label>
                                        </div>
                                    </div>
                                </div>
								<div class="applyingother-container extend-con hide">
								    <div class="form-group mb-0">
										<label for="otherUniversityName">Please provide the name of university you have applied</label>
										<input type="text" class="form-control" id="otherUniversityName" placeholder="">
									</div>
								</div>
								<div class="form-group">
                                    <label>Have you ever applied for TIGP International Internship Program (IIP)?</label>
                                    <div>
                                        <div class="custom-control custom-radio custom-control-inline">
                                            <input type="radio" class="custom-control-input appliedtigp_yes" id="appliedTIGPYes" name="appliedTIGP">
                                            <label class="custom-control-label" for="appliedTIGPYes">Yes,  I got admission</label>
                                        </div>
                                        <div class="custom-control custom-radio custom-control-inline">
                                            <input type="radio" class="custom-control-input appliedtigp_notget" id="appliedTIGPNotget" name="appliedTIGP">
                                            <label class="custom-control-label" for="appliedTIGPNotget">Yes, I applied but did not get selected</label>
                                        </div>
										<div class="custom-control custom-radio custom-control-inline">
                                            <input type="radio" class="custom-control-input appliedtigp_no" id="appliedTIGPNo" name="appliedTIGP">
                                            <label class="custom-control-label" for="appliedTIGPNo">No, I never apply for IIP</label>
                                        </div>
                                    </div>
                                </div>
								<div class="appliedtigp-container extend-con hide">
									<div class="row">
										<div class="col-4">
                                            <div class="form-group mb-0">
                                                <label for="">In year</label>
                                                <select class="browser-default custom-select">
                                                    <option selected="">Please select</option>
                                                    <option value="2020">2020</option>
                                                    <option value="2019">2019</option>
                                                </select>
                                            </div>
										</div>
										<div class="col-8">
                                            <div class="form-group mb-0">
                                                <label for="">In program</label>
                                                <select class="browser-default custom-select">
                                                    <option selected="">Please select</option>
                                                    <option value="Chemical Biology and Molecular Biophysics">Chemical Biology and Molecular Biophysics</option>
                                                    <option value="Social Networks and Human-Centered Computing">Social Networks and Human-Centered Computing</option>
                                                </select>
                                            </div>
										</div>
									</div>
								</div>
								<div class="form-group">
                                    <label>If TIGP is unable to grant admission to you due to the increasingly intense competition for admission, would you like to be considered for research assistant recruitment by TIGP's faculty members?</label>
                                    <div>
                                        <div class="custom-control custom-radio">
                                            <input type="radio" class="custom-control-input" id="assistantYes" name="assistantTIGP">
                                            <label class="custom-control-label" for="assistantYes">Yes,  TIGP's faculty members may have access to my application and may contact me for research assistant recruitment.</label>
                                        </div>
                                        <div class="custom-control custom-radio">
                                            <input type="radio" class="custom-control-input" id="assistantNo" name="assistantTIGP">
                                            <label class="custom-control-label" for="assistantNo">No</label>
                                        </div>
                                    </div>
                                </div>
								<div class="form-group">
                                    <label>Have you ever studied in the TIGP?</label>
                                    <div>
                                        <div class="custom-control custom-radio custom-control-inline">
                                            <input type="radio" class="custom-control-input studiedtigp_notget" id="studiedNotget" name="studiedTIGP">
                                            <label class="custom-control-label" for="studiedNotget">Yes,but I did not get an admission.</label>
                                        </div>
                                        <div class="custom-control custom-radio custom-control-inline">
                                            <input type="radio" class="custom-control-input studiedtigp_got" id="studiedGot" name="studiedTIGP">
                                            <label class="custom-control-label" for="studiedGot">Yes,and got an admission</label>
                                        </div>
										<div class="custom-control custom-radio custom-control-inline">
                                            <input type="radio" class="custom-control-input studiedtigp_no" id="studiedNo" name="studiedTIGP">
                                            <label class="custom-control-label" for="studiedNo">No, I never apply for IIP</label>
                                        </div>
                                    </div>
                                </div>
								<!-- 以下 show / hide 的 js 不會寫煩請前端協助 -->
								<div class="studiedtigp-container extend-con">
									<div class="row">
										<div class="col-4">
                                            <div class="form-group mb-0">
                                                <label for="">In year</label>
                                                <select class="browser-default custom-select">
                                                    <option selected="">Please select</option>
                                                    <option value="2020">2020</option>
                                                    <option value="2019">2019</option>
                                                </select>
                                            </div>
										</div>
										<div class="col-8">
                                            <div class="form-group mb-0">
                                                <label for="">In program</label>
                                                <select class="browser-default custom-select">
                                                    <option selected="">Please select</option>
                                                    <option value="Chemical Biology and Molecular Biophysics">Chemical Biology and Molecular Biophysics</option>
                                                    <option value="Social Networks and Human-Centered Computing">Social Networks and Human-Centered Computing</option>
                                                </select>
                                            </div>
										</div>
									</div>
								</div>
								<div class="studiedtigpgot-container extend-con">
									<div class="row">
										<div class="col-4">
                                            <div class="form-group">
                                                <label for="">Enrolled Year</label>
                                                <select class="browser-default custom-select">
                                                    <option selected="">Please select</option>
                                                    <option value="2020">2020</option>
                                                    <option value="2019">2019</option>
                                                </select>
                                            </div>
										</div>
										<div class="col-8">
                                            <div class="form-group">
                                                <label for="">Enrolled program</label>
                                                <select class="browser-default custom-select">
                                                    <option selected="">Please select</option>
                                                    <option value="Chemical Biology and Molecular Biophysics">Chemical Biology and Molecular Biophysics</option>
                                                    <option value="Social Networks and Human-Centered Computing">Social Networks and Human-Centered Computing</option>
                                                </select>
                                            </div>
										</div>
									</div>
                                    <div class="form-group mb-0">
                                        <label for="reasonforreapply">The reason why you reapply</label>
                                        <input type="text" class="form-control" id="reasonforreapply">
                                    </div>
								</div>
							</div>
						</div>
                        <div class="form-action">
                            <a href="/" class="btn btn-primary mr-2">Save</a>
                            <a href="application_home.html" class="btn btn-link">Home</a>
                        </div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div class="btn-custom">
	    <a href="../general/deposition.html" class="flat-btn disabled">
			Preview <i class="fa fa-arrow-circle-o-right"></i>
		</a>
	</div>
</div>

<% content_for :js do %>
<script src="../javascripts/bootstrap-select.js"></script>
<script>
    $('.datepicker').datepicker();
	
	//show & hide
    $(document).ready(function() {
        $('#samePermanentAddress').change(function() {
            if($(this).is(":checked")) {
               $('.samepermanent-container').hide();
            } else {
              $('.samepermanent-container').show();   
            }
        });
    });
    $(document).ready(function(){
        $('.nationaldefense_yes').click(function(){
            if($(this).is(":checked")) {
               $('.defense-container').show();
            } else {
              $('.defense-container').hide();   
            }
        });
		$('.nationaldefense_no').click(function(){
            if($(this).is(":checked")) {
               $('.defense-container').hide();
            } else {
              $('.defense-container').show();   
            }
        });
    });
	$(document).ready(function(){
        $('.applyingother_yes').click(function(){
            if($(this).is(":checked")) {
               $('.applyingother-container').show();
            } else {
              $('.applyingother-container').hide();   
            }
        });
		$('.applyingother_no').click(function(){
            if($(this).is(":checked")) {
               $('.applyingother-container').hide();
            } else {
              $('.applyingother-container').show();   
            }
        });
    });
	$(document).ready(function(){
        $('.appliedtigp_yes, .appliedtigp_notget').click(function(){
            if($(this).is(":checked")) {
               $('.appliedtigp-container').show();
            } else {
              $('.appliedtigp-container').hide();   
            }
        });
		$('.appliedtigp_no').click(function(){
            if($(this).is(":checked")) {
               $('.appliedtigp-container').hide();
            } else {
              $('.appliedtigp-container').show();   
            }
        });
    });
</script>
<% end %>
