<!-- tigp: program application  -->

<div class="container">
	<div class="program-title">
	    <h3>Taiwan International Graduate Program On-line Application, 2020</h3>
	</div>
	<div class="application-container">
		<div class="row">
		    <div class="step-column col-3">
                <ul class="nav-step menu-item">
                    <li class="nav-item">
                        <a class="step-link current" href="program_application.html">
							<img class="status icon-required" src="../assets/icon_required.svg">
							<span>Program Application</span>
						</a>
                    </li>
                    <li class="nav-item">
                        <a class="step-link" href="personal_information.html">
							<img class="status icon-check" src="../assets/iconmonstr-check-mark-8.svg">
							<span>Personal Information</span>
						</a>
                    </li>
					<li class="nav-item">
                        <a class="step-link" href="education_background.html">
							<img class="status icon-required" src="../assets/icon_required.svg">
							<span>Education Background</span>
						</a>
                    </li>
					<li class="nav-item">
                        <a class="step-link" href="english_proficiency.html">
							<img class="status icon-required" src="../assets/icon_required.svg">
							<span>English Proficiency</span>
						</a>
                    </li>
					<li class="nav-item">
                        <a class="step-link" href="uploading_documents.html">
							<img class="status icon-required" src="../assets/icon_required.svg">
							<span>Uploading Documents</span>
						</a>
                    </li>
					<li class="nav-item">
                        <a class="step-link" href="academic_achievement.html">
							<img class="status icon-required" src="../assets/icon_required.svg">
							<span>Academic Achievement</span>
						</a>
                    </li>
					<li class="nav-item">
                        <a class="step-link" href="work_experiences.html">
							<span>Work Experiences</span>
						</a>
                    </li>
					<li class="nav-item">
                        <a class="step-link" href="recommendation_letters.html">
							<span>Recommendation Letters <strong>(1/3)</strong></span>
						</a>
                    </li>
					<li class="nav-item">
                        <a class="step-link" href="survey.html">
							<img class="status icon-required" src="../assets/icon_required.svg">
							<span>Survey</span>
						</a>
                    </li>
                </ul>
			</div>
			<div class="content-column col-9">
				<div class="content-container">
					<div class="editor-wall mb-5">
                        <p class="font-weight-bold mb-0"><span class="required">*</span> : Required information to be provide</p>
						<p class="font-weight-bold"><span class="text-success"><i class="fa fa-check"></i></span> : Information is complete</p>
						<p>Once all the required information is complete, you would be ready for preview and submission.</p>
					</div>
					<form>
                        <div class="form-group">
                            <label>What is your highest edcuation degree?</label>
                            <div>
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" class="custom-control-input" id="highest_phd" name="highestEdcuation">
                                    <label class="custom-control-label" for="highest_phd">Ph.D.</label>
                                </div>
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" class="custom-control-input" id="highest_master" name="highestEdcuation">
                                    <label class="custom-control-label" for="highest_master">Master</label>
                                </div>
								<div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" class="custom-control-input" id="highest_bachelor" name="highestEdcuation">
                                    <label class="custom-control-label" for="highest_bachelor">Bachelor</label>
                                </div>
								<div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" class="custom-control-input" id="highest_others" name="highestEdcuation">
                                    <label class="custom-control-label" for="highest_others">Others</label>
                                </div>
                            </div>
                        </div>
						<div class="form-group">
                            <label>Course category selection</label>
                            <div class="mb-2">
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" class="custom-control-input category-radio" id="course_single" name="courseCategory" value="One">
                                    <label class="custom-control-label" for="course_single">Single course</label>
                                </div>
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" class="custom-control-input category-radio" id="course_all" name="courseCategory" value="Two">
                                    <label class="custom-control-label" for="course_all">All-in-one course</label>
                                </div>
                            </div>
							<div id="showOne" class="cc_selection">
								<div class="form-group extend-con">
                                    <select class="browser-default custom-select">
                                        <option selected>Please Select</option>
                                        <option value="1">One</option>
                                        <option value="2">Two</option>
                                        <option value="3">Three</option>
                                    </select>
								</div>
								<!-- 以下為 select 選擇後 -->
								<div class="extend-con">
                                    <div class="form-group">
                                        <label><span class="required">*</span> Partner University & Department</label>
                                        <ol class="num-list">
                                            <li>
                                                <select class="browser-default custom-select">
                                                    <option selected>Please Select</option>
                                                    <option value="National Cheng Kung University">National Cheng Kung University</option>
                                                    <option value="National Yang-Ming University">National Yang-Ming University</option>
                                                    <option value="National Defense Medical Center">National Defense Medical Center</option>
                                                </select>
                                            </li>
                                            <li>
                                                <select class="browser-default custom-select">
                                                    <option selected>Please Select</option>
                                                    <option value="National Cheng Kung University">National Cheng Kung University</option>
                                                    <option value="National Yang-Ming University">National Yang-Ming University</option>
                                                    <option value="National Defense Medical Center">National Defense Medical Center</option>
                                                </select>
                                            </li>
                                        </ol>
                                        <small class="form-text text-muted">Please prioritize the list</small>
                                    </div>
                                    <div class="form-group">
                                        <label><span class="required">*</span> Interested Lab or Potential Advisor</label>
                                        <ol class="num-list">
                                            <li><input type="text" class="form-control" id=""></li>
                                            <li><input type="text" class="form-control" id=""></li>
                                        </ol>
                                        <small class="form-text text-muted">Please prioritize the list, For the faculty list, you may check the program <a href="/">website</a></small>
                                    </div>
								</div>
							</div>
							<div id="showTwo" class="cc_selection">
								<div class="form-group extend-con">
                                    <select class="browser-default custom-select">
                                        <option selected>Please Select</option>
                                        <option value="1">Molecular Science and Technology+Nano Science and Technology+Sustainable Chemical Science and Technology</option>
                                        <option value="2">Two</option>
                                        <option value="3">Three</option>
                                    </select>
								</div>
								<!-- 以下為 select 選擇後 -->
								<div class="extend-con">
									<p class="form-text text-muted">For how to select the following options, applicants need to read the instructions and notes first via the <a href="/">website</a>.</p>
                                    <div class="form-group">
                                        <p>Please note that the admission result will be based jointly on your preferences of Program/University and the evaluation of the admission committee. And you may be accepted by one of the five Programs/Universities that you will select, which cannot be changed later.</p>
                                        <div class="form-row table-th-num">
                                            <div class="col-3">Research Area</div>
                                            <div class="col-3">Potential Advisor</div>
                                            <div class="col-6">Program/ University Department</div>
                                        </div>
										<!-- 以下為 col 寬度為參考，請依據實際資料字元長度做適當縮放 -->
                                        <ol class="num-list">
                                            <li>
												<div class="form-row">
												    <div class="col-3">
                                                        <select class="browser-default custom-select">
                                                            <option selected>Please Select</option>
                                                            <option value="Chemistry">Chemistry</option>
                                                            <option value="2">Two</option>
                                                            <option value="3">Three</option>
                                                        </select>
													</div>
													<div class="col-3">
                                                        <select class="browser-default custom-select">
                                                            <option selected>Please Select</option>
                                                            <option value="Sheng-hong Chen">Sheng-hong Chen</option>
                                                            <option value="2">Two</option>
                                                            <option value="3">Three</option>
                                                        </select>
													</div>
													<div class="col-6">
                                                        <select class="browser-default custom-select">
                                                            <option selected>Please Select</option>
                                                            <option value="Nano / NTHU Engineering and System Science">Nano / NTHU Engineering and System Science</option>
                                                            <option value="2">Two</option>
                                                            <option value="3">Three</option>
                                                        </select>
													</div>
												</div>
                                            </li>
											<li>
												<div class="form-row">
												    <div class="col-3">
                                                        <select class="browser-default custom-select">
                                                            <option selected>Please Select</option>
                                                            <option value="Chemistry">Chemistry</option>
                                                            <option value="2">Two</option>
                                                            <option value="3">Three</option>
                                                        </select>
													</div>
													<div class="col-3">
                                                        <select class="browser-default custom-select">
                                                            <option selected>Please Select</option>
                                                            <option value="Sheng-hong Chen">Sheng-hong Chen</option>
                                                            <option value="2">Two</option>
                                                            <option value="3">Three</option>
                                                        </select>
													</div>
													<div class="col-6">
                                                        <select class="browser-default custom-select">
                                                            <option selected>Please Select</option>
                                                            <option value="Nano / NTHU Engineering and System Science">Nano / NTHU Engineering and System Science</option>
                                                            <option value="2">Two</option>
                                                            <option value="3">Three</option>
                                                        </select>
													</div>
												</div>
                                            </li>
											<li>
												<div class="form-row">
												    <div class="col-3">
                                                        <select class="browser-default custom-select">
                                                            <option selected>Please Select</option>
                                                            <option value="Chemistry">Chemistry</option>
                                                            <option value="2">Two</option>
                                                            <option value="3">Three</option>
                                                        </select>
													</div>
													<div class="col-3">
                                                        <select class="browser-default custom-select">
                                                            <option selected>Please Select</option>
                                                            <option value="Sheng-hong Chen">Sheng-hong Chen</option>
                                                            <option value="2">Two</option>
                                                            <option value="3">Three</option>
                                                        </select>
													</div>
													<div class="col-6">
                                                        <select class="browser-default custom-select">
                                                            <option selected>Please Select</option>
                                                            <option value="Nano / NTHU Engineering and System Science">Nano / NTHU Engineering and System Science</option>
                                                            <option value="2">Two</option>
                                                            <option value="3">Three</option>
                                                        </select>
													</div>
												</div>
                                            </li>
											<li>
												<div class="form-row">
												    <div class="col-3">
                                                        <select class="browser-default custom-select">
                                                            <option selected>Please Select</option>
                                                            <option value="Chemistry">Chemistry</option>
                                                            <option value="2">Two</option>
                                                            <option value="3">Three</option>
                                                        </select>
													</div>
													<div class="col-3">
                                                        <select class="browser-default custom-select">
                                                            <option selected>Please Select</option>
                                                            <option value="Sheng-hong Chen">Sheng-hong Chen</option>
                                                            <option value="2">Two</option>
                                                            <option value="3">Three</option>
                                                        </select>
													</div>
													<div class="col-6">
                                                        <select class="browser-default custom-select">
                                                            <option selected>Please Select</option>
                                                            <option value="Nano / NTHU Engineering and System Science">Nano / NTHU Engineering and System Science</option>
                                                            <option value="2">Two</option>
                                                            <option value="3">Three</option>
                                                        </select>
													</div>
												</div>
                                            </li>
                                        </ol>
                                    </div>
								</div>
							</div>
                        </div>
                        <div class="form-action">
                            <a href="/" class="btn btn-primary mr-2">Save</a>
                            <a href="application_home.html" class="btn btn-link">Home</a>
                        </div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div class="btn-custom">
	    <a href="../general/deposition.html" class="flat-btn disabled">
			Preview <i class="fa fa-arrow-circle-o-right"></i>
		</a>
	</div>
</div>

<% content_for :js do %>
<script>
$(document).ready(function(){
    $('.category-radio').click(function(){
    	var demovalue = $(this).val(); 
        $(".cc_selection").hide();
        $("#show"+demovalue).show();
    });
});
</script>
<% end %>
