<!-- tigp: QA  -->

<div class="container">
	<div class="program-title">
	    <h3>Taiwan International Graduate Program On-line Application, 2020</h3>
	</div>
	<div class="general-container">
        <div class="general-head">
            <div class="block-title">
                <h4 class="h-title">QA</h4>
            </div>
        </div>
		<div class="faq-wrapper">
			<div class="faq-list qa-list">
                <div class="faq-item">
                    <div class="item-hd">
                        <span class="item-category" title="Object">
                            <i class="fa fa-user-o"></i> TIGP
                        </span>
                        <span class="item-publish" title="Question date">
                            <i class="fa fa-clock-o"></i> 2020.09.31
                        </span>
                    </div>
                    <div class="item-bd">
                        <a href="qa_answer.html" class="item-link"><%= lorem_sentences(1) %></a>
						<span class="status">
                            <strong class="badge badge-pill badge-danger">Processing</strong>
						</span>
                    </div>
                </div>
                <div class="faq-item">
                    <div class="item-hd">
                        <span class="item-category" title="Object">
                            <i class="fa fa-user-o"></i> <%= lorem_words(5) %> program
                        </span>
                        <span class="item-publish" title="Question date">
                            <i class="fa fa-clock-o"></i> 2020.09.31
                        </span>
                    </div>
                    <div class="item-bd">
                        <a href="qa_answer.html" class="item-link"><%= lorem_sentences(2) %></a>
						<span class="status">
                            <strong class="badge badge-pill badge-dark">Responded</strong>
						</span>
                    </div>
                </div>
			</div>
			<div class="text-left mt-4">
                <a href="qa_add.html" class="btn btn-rounded blue-gradient">Add Question</a>
            </div>
		</div>
	</div>
</div>

