<!-- tigp: QA Item  -->

<div class="container">
	<div class="program-title">
	    <h3>Taiwan International Graduate Program On-line Application, 2020</h3>
	</div>
	<div class="general-container">
        <div class="general-head">
            <div class="block-title">
                <h4 class="h-title">QA</h4>
            </div>
        </div>
		<div class="faq-wrapper">
			<form>
				<div class="row">
				    <div class="col-6">
                        <div class="form-group">
                            <label>Applicant's name</label>
                            <div class="output">Scarlett Johansson</div>
                        </div>
					</div>
					<div class="col-6">
                        <div class="form-group">
                            <label>Object</label>
							<div class="output">TIGP undertaker</div>
                        </div>
					</div>
				</div>
                <div class="form-group">
                    <label for="descriptionTextarea">Description</label>
                    <div class="output"><%= lorem_sentences(3) %></div>
                </div>
				<div class="files">
				    <a class="file-wrap" href="#"><i class="fa fa-cloud-download"></i> Dani_Box_Mini_manual.pdf</a>
					<a class="file-wrap" href="#"><i class="fa fa-cloud-download"></i> tgip_2020_On-line_application.pdf</a>
				</div>
				<div class="awall mt-5">
				    <h5>Reply</h5>
					<div><%= lorem_sentences(6) %></div>
				</div>
				<div class="back-to">
				    <a href="qa.html" class="back-link"><i class="fa fa-long-arrow-left"></i> Back</a>
				</div>
			</form>
		</div>
	</div>
</div>

