<!-- tigp: uploading documents  -->

<div class="container">
	<div class="program-title">
	    <h3>Taiwan International Graduate Program On-line Application, 2020</h3>
	</div>
	<div class="application-container">
		<div class="row">
		    <div class="step-column col-3">
                <ul class="nav-step menu-item">
                    <li class="nav-item">
                        <a class="step-link" href="program_application.html">
							<img class="status icon-required" src="../assets/icon_required.svg">
							<span>Program Application</span>
						</a>
                    </li>
                    <li class="nav-item">
                        <a class="step-link" href="personal_information.html">
							<img class="status icon-check" src="../assets/iconmonstr-check-mark-8.svg">
							<span>Personal Information</span>
						</a>
                    </li>
					<li class="nav-item">
                        <a class="step-link" href="education_background.html">
							<img class="status icon-required" src="../assets/icon_required.svg">
							<span>Education Background</span>
						</a>
                    </li>
					<li class="nav-item">
                        <a class="step-link" href="english_proficiency.html">
							<img class="status icon-required" src="../assets/icon_required.svg">
							<span>English Proficiency</span>
						</a>
                    </li>
					<li class="nav-item">
                        <a class="step-link current" href="uploading_documents.html">
							<img class="status icon-required" src="../assets/icon_required.svg">
							<span>Uploading Documents</span>
						</a>
                    </li>
					<li class="nav-item">
                        <a class="step-link" href="academic_achievement.html">
							<img class="status icon-required" src="../assets/icon_required.svg">
							<span>Academic Achievement</span>
						</a>
                    </li>
					<li class="nav-item">
                        <a class="step-link" href="work_experiences.html">
							<span>Work Experiences</span>
						</a>
                    </li>
					<li class="nav-item">
                        <a class="step-link" href="recommendation_letters.html">
							<span>Recommendation Letters <strong>(1/3)</strong></span>
						</a>
                    </li>
					<li class="nav-item">
                        <a class="step-link" href="survey.html">
							<img class="status icon-required" src="../assets/icon_required.svg">
							<span>Survey</span>
						</a>
                    </li>
                </ul>
			</div>
			<div class="content-column col-9">
				<div class="content-container">
					<form>
                        <h4 class="section-title">Common document</h4>
                        <div class="document-upload">
                            <div class="document-item">
                                <div class="document-hd">
                                    <h5><span class="required font-700">*</span> State of Purpose Upload  (upload in PDF format)</h5>
                                </div>
                                <div class="document-ft has-input">
									<div class="document">
                                        <a href="#" class="btn btn-success btn-xs" data-toggle="modal" data-target="#documentModal">Template</a>
                                        <a href="#" class="btn btn-secondary btn-xs" data-toggle="modal" data-target="#documentModal">Description</a>
                                        <a href="#" class="btn btn-info btn-xs" data-toggle="modal" data-target="#documentModal">View</a>
                                        <a href="#" class="btn btn-danger btn-xs">Delete File</a>
									</div>
									<div class="upload-input">
									    <input type="text" class="form-control" id="" placeholder="url">
									</div>
                                </div>
                            </div>
                            <div class="document-item">
                                <div class="document-hd">
                                    <h5><%= lorem_words(5) %></h5>
                                </div>
                                <div class="document-ft has-input">
									<div class="document">
                                        <a href="#" class="btn btn-xs btn-secondary btn-custom" data-toggle="modal" data-target="#documentModal">Description</a>
                                        <div class="file-wrap d-inline-block">
                                            <div class="md-form">
                                                <div class="file-field">
                                                    <div class="btn btn-primary btn-xs float-left">
                                                        <span>Select</span>
                                                        <input type="file">
                                                    </div>
                                                    <div class="file-path-wrapper">
                                                        <input class="file-path validate" type="text" placeholder="Upload file">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <a href="#" class="btn btn-xs btn-default">Save</a>
									</div>
									<div class="upload-input">
									    <input type="text" class="form-control" id="" placeholder="url">
									</div>
                                </div>
                            </div>
                        </div>
						<h4 class="section-title">Chemical Biology and Molecular Biophysics</h4>
                        <div class="document-upload">
                            <div class="document-item">
                                <div class="document-hd">
                                    <h5><span class="required font-700">*</span> Self-Evaluation Upload  (upload in PDF format)</h5>
                                </div>
                                <div class="document-ft has-input">
									<div class="document">
                                        <a href="#" class="btn btn-success btn-xs" data-toggle="modal" data-target="#documentModal">Template</a>
                                        <a href="#" class="btn btn-secondary btn-xs" data-toggle="modal" data-target="#documentModal">Description</a>
                                        <a href="#" class="btn btn-info btn-xs" data-toggle="modal" data-target="#documentModal">View</a>
                                        <a href="#" class="btn btn-danger btn-xs">Delete File</a>
									</div>
									<div class="upload-input">
									    <input type="text" class="form-control" id="" placeholder="url">
									</div>
                                </div>
                            </div>
                            <div class="document-item">
                                <div class="document-hd">
                                    <h5><%= lorem_words(5) %></h5>
                                </div>
                                <div class="document-ft has-input">
									<div class="document">
                                        <a href="#" class="btn btn-xs btn-secondary btn-custom" data-toggle="modal" data-target="#documentModal">Description</a>
                                        <div class="file-wrap d-inline-block">
                                            <div class="md-form">
                                                <div class="file-field">
                                                    <div class="btn btn-primary btn-xs float-left">
                                                        <span>Select</span>
                                                        <input type="file">
                                                    </div>
                                                    <div class="file-path-wrapper">
                                                        <input class="file-path validate" type="text" placeholder="Upload file">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <a href="#" class="btn btn-xs btn-default">Save</a>
									</div>
									<div class="upload-input">
									    <input type="text" class="form-control" id="" placeholder="url">
									</div>
                                </div>
                            </div>
                        </div>
                        <div class="form-action">
                            <a href="application_home.html" class="btn btn-link">Home</a>
                        </div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div class="btn-custom">
	    <a href="../general/deposition.html" class="flat-btn disabled">
			Preview <i class="fa fa-arrow-circle-o-right"></i>
		</a>
	</div>
</div>