<!-- tigp: work experiences  -->

<div class="container">
	<div class="program-title">
	    <h3>Taiwan International Graduate Program On-line Application, 2020</h3>
	</div>
	<div class="application-container">
		<div class="row">
		    <div class="step-column col-3">
                <ul class="nav-step menu-item">
                    <li class="nav-item">
                        <a class="step-link" href="program_application.html">
							<img class="status icon-required" src="../assets/icon_required.svg">
							<span>Program Application</span>
						</a>
                    </li>
                    <li class="nav-item">
                        <a class="step-link" href="personal_information.html">
							<img class="status icon-check" src="../assets/iconmonstr-check-mark-8.svg">
							<span>Personal Information</span>
						</a>
                    </li>
					<li class="nav-item">
                        <a class="step-link" href="education_background.html">
							<img class="status icon-required" src="../assets/icon_required.svg">
							<span>Education Background</span>
						</a>
                    </li>
					<li class="nav-item">
                        <a class="step-link" href="english_proficiency.html">
							<img class="status icon-required" src="../assets/icon_required.svg">
							<span>English Proficiency</span>
						</a>
                    </li>
					<li class="nav-item">
                        <a class="step-link" href="uploading_documents.html">
							<img class="status icon-required" src="../assets/icon_required.svg">
							<span>Uploading Documents</span>
						</a>
                    </li>
					<li class="nav-item">
                        <a class="step-link" href="academic_achievement.html">
							<img class="status icon-required" src="../assets/icon_required.svg">
							<span>Academic Achievement</span>
						</a>
                    </li>
					<li class="nav-item">
                        <a class="step-link current" href="work_experiences.html">
							<span>Work Experiences</span>
						</a>
                    </li>
					<li class="nav-item">
                        <a class="step-link" href="recommendation_letters.html">
							<span>Recommendation Letters <strong>(1/3)</strong></span>
						</a>
                    </li>
					<li class="nav-item">
                        <a class="step-link" href="survey.html">
							<img class="status icon-required" src="../assets/icon_required.svg">
							<span>Survey</span>
						</a>
                    </li>
                </ul>
			</div>
			<div class="content-column col-9">
				<div class="content-container">
					<p>Please list the work experience you have in reverse chronological order.</p>
					<form>
						<div class="degree-container">
                            <section class="degree-section">
                                <div class="degree-head">
                                    <h4>Experience-1</h4>
                                    <button type="button" class="btn btn-delete" title="Delete">
                                        <i class="fa fa-times"></i>
                                    </button>
                                </div>
                                <div class="degree-inner">
                                    <div class="form-group">
                                        <label for="experienceEmployer">Employer</label>
                                        <input type="text" class="form-control" id="experienceEmployer" placeholder="">
                                    </div>
									<div class="row">
									    <div class="col-6">
                                            <div class="form-group">
                                                <label for="experienceName">Institute/ Company Name</label>
                                                <input type="text" class="form-control" id="experienceName" placeholder="">
                                            </div>
										</div>
									    <div class="col-6">
                                            <div class="form-group">
                                                <label for="experiencePosition">Position</label>
                                                <input type="text" class="form-control" id="experiencePosition" placeholder="">
                                            </div>
										</div>
									</div>
                                    <div class="form-group">
                                        <label class="d-block">Employment Duration</label>
                                        <div class="d-inline-block w-48">
                                            <div id="date-picker-example" class="md-form md-outline input-with-post-icon datepicker my-0">
                                                <input placeholder="Select date" type="text" id="example" class="form-control" />
                                                <label for="example"></label>
                                                <i class="fa fa-calendar input-prefix" tabindex="0"></i>
                                            </div>
                                        </div>
                                        <span class="d-inline-block px-2">-</span>
                                        <div class="d-inline-block w-48">
                                            <div id="date-picker-example" class="md-form md-outline input-with-post-icon datepicker my-0">
                                                <input placeholder="Select date" type="text" id="example" class="form-control" />
                                                <label for="example"></label>
                                                <i class="fa fa-calendar input-prefix" tabindex="0"></i>
                                            </div>
                                        </div>
                                    </div>
									<div class="form-group">
                                        <label for="experienceDescription">Description of Work Content</label>
                                        <textarea class="form-control rounded-0" id="experienceDescription" rows="4"></textarea>
                                    </div>
                                </div>
                            </section>
						</div>
						<div class="degree-container">
                            <section class="degree-section">
                                <div class="degree-head">
                                    <h4>Experience-2</h4>
                                    <button type="button" class="btn btn-delete" title="Delete">
                                        <i class="fa fa-times"></i>
                                    </button>
                                </div>
                                <div class="degree-inner">
                                    <div class="form-group">
                                        <label for="experienceEmployer-2">Employer</label>
                                        <input type="text" class="form-control" id="experienceEmployer-2" placeholder="">
                                    </div>
									<div class="row">
									    <div class="col-6">
                                            <div class="form-group">
                                                <label for="experienceName-2">Institute/ Company Name</label>
                                                <input type="text" class="form-control" id="experienceName-2" placeholder="">
                                            </div>
										</div>
									    <div class="col-6">
                                            <div class="form-group">
                                                <label for="experiencePosition-2">Position</label>
                                                <input type="text" class="form-control" id="experiencePosition-2" placeholder="">
                                            </div>
										</div>
									</div>
                                    <div class="form-group">
                                        <label class="d-block">Employment Duration</label>
                                        <div class="d-inline-block w-48">
                                            <div id="date-picker-example" class="md-form md-outline input-with-post-icon datepicker my-0">
                                                <input placeholder="Select date" type="text" id="example" class="form-control" />
                                                <label for="example"></label>
                                                <i class="fa fa-calendar input-prefix" tabindex="0"></i>
                                            </div>
                                        </div>
                                        <span class="d-inline-block px-2">-</span>
                                        <div class="d-inline-block w-48">
                                            <div id="date-picker-example" class="md-form md-outline input-with-post-icon datepicker my-0">
                                                <input placeholder="Select date" type="text" id="example" class="form-control" />
                                                <label for="example"></label>
                                                <i class="fa fa-calendar input-prefix" tabindex="0"></i>
                                            </div>
                                        </div>
                                    </div>
									<div class="form-group">
                                        <label for="experienceDescription-2">Description of Work Content</label>
                                        <textarea class="form-control rounded-0" id="experienceDescription-2" rows="4"></textarea>
                                    </div>
                                </div>
                            </section>
                            <a href="#" class="add-btn">
                                <span class="btn btn-sm btn-blue-grey btn-rounded waves-effect waves-light"><i class="fa fa-plus"></i></span>
                                <span class="text-black-50">Add a new one</span>
                            </a>
						</div>
                        <div class="form-action">
                            <a href="/" class="btn btn-primary mr-2">Save</a>
                            <a href="application_home.html" class="btn btn-link">Home</a>
                        </div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div class="btn-custom">
	    <a href="../general/deposition.html" class="flat-btn disabled">
			Preview <i class="fa fa-arrow-circle-o-right"></i>
		</a>
	</div>
</div>

<% content_for :js do %>
<script>
    $('.datepicker').datepicker();
</script>
<% end %>