

/* ` by Peggy
-----------------------------------------------------------------------------*/

.el-dialog {
    border-radius: calc(0.5rem - 1px);
}
.el-dialog__header {
    min-height: 57.59px;
    border-bottom: 1px solid #e0e0e0;
}
.el-dialog__headerbtn {
    top: 16px;
    right: 16px;
}
.el-dialog__headerbtn .el-dialog__close {
    font-size: 26px;
}
.el-dialog__headerbtn:focus .el-dialog__close,
.el-dialog__headerbtn:hover .el-dialog__close {
    color: #000;
    opacity: 0.75;
}
.el-dialog__footer {
    border-top: 1px solid #e0e0e0;
}

.el-table .cell {
    overflow: visible;
}

.table_toolbar {
    line-height: normal;
}
.table_toolbar .btn {
    vertical-align: baseline;
}
.table_toolbar .el-input--small .el-input__inner {
    height: 32.6px;
}
.table_toolbar .el-select {
    margin-top: 10px;
    margin-right: 4px;
    vertical-align: bottom;
    width: 120px;
}

.dd-item .dd-handle.active {
    background: #aaa;
    box-shadow: 0 2px 4px rgba(#000, .2);
}

.add-btn {
    cursor: pointer;
}

/* ` by Fire
-----------------------------------------------------------------------------*/

.el-radio.block {
	margin: 0 30px 0 0;
}

[data-s-1] .vertical, .vertical[data-s-1] {
	display: block;
	margin-bottom: .5rem;
}

[data-s-1] .el-checkbox, 
.el-checkbox[data-s-1] {
	line-height: 1;
}

.el-form-item {
	margin-bottom: 1rem;
}

.el-form-item__text {
	margin-bottom: 0;
    padding-top: 4px;
    color: #999;
    font-size: .875rem;
    line-height: 1;
}

.el-form--label-top {
	.el-form-item__label {
		padding-bottom: 0;
	}
}

.el-input-number,
.el-select {
	width: 100%;
}

.el-date-editor.el-input,
.el-date-editor.el-input__inner {
	width: 100%;
}

.el-date-editor {
	.el-range-input { width: 44%; }
	.el-range-separator { width: 6%; }
}

.el-checkbox__label {
	font-size: .9375rem;
}

.el-table--small {
	font-size: .9375rem;
}

.el-table--mini {
	font-size: .875rem;
}

.el-table__header,
.el-table__body {
	width: 100% !important;
}

.el-expansion {
    padding: 0 !important;
}

