/* design by fire */

@import "base";

body.entrance-layout {
    background: rgb(88,147,255);
    background: url("../assets/noisy-texture.png") 0 0 repeat, linear-gradient(56deg, rgba(88,147,255,1) 0%, rgba(124,175,255,1) 42%, rgba(155,209,255,1) 61%, rgba(134,187,255,1) 76%, rgba(100,157,246,1) 100%);
	position: relative;
	&:after {
		content: "";
		background: radial-gradient(circle, rgba(169,215,255,0.5) 0%, rgba(100,157,246,0) 75%);;
		width: 600px;
		height: 600px;
		position: absolute;
		left: 20%;
		top: 20%;
	}
}

.clean-list, .clean-list li {
	list-style: none;
	margin: 0;
	padding: 0;
}

#scene{
	position: absolute;
	bottom: 0;
	display: none;
	height: 100%;
	min-height: 100%;
	z-index: 0;
}

#scene .layer{
	margin-left: -8%;
	//padding-bottom: 20vh;
	width: 110vw;
    height: 100%;
    min-height: 100%;
	&.layer1 {
		background: url("../assets/bg1.png") right bottom no-repeat;
		background-size: 110% auto;
		z-index: 2;
	}
	&.layer2 {
		background: url("../assets/bg2.png") right bottom no-repeat;
		background-size: 110% auto;
		z-index: 1;
	}
	&.layer3, &.layer4 {
		position: relative;
		img {
			width: 170px;
			height: auto;
			position: absolute;
			left: 50%;
		}
	}
	&.layer3 {
		z-index: 4;
		img { top: 3rem; }
	}
	&.layer4 {
		z-index: 3;
		img {
			top: 50px;
			opacity: 0.5;
			filter: grayscale(65%) blur(5px);
		}
	}
}

.container {
	margin: 0 auto;
	padding: 177px 0 300px;
	width: 1400px;
	position: relative;
	z-index: 1;
}

.account {
	margin-bottom: 80px;
	color: rgba(#000, .65);
	text-align: right;
	.logout {
		display: inline-block;
		margin-left: 0.5rem;
		color: rgba($main_color, .75);
		position: relative;
        &:after {
            content: "";
			background: rgba($main_color, .75);
            width: 100%;
            height: 1px;
            position: absolute;
            bottom: -2px;
            left: 0;
			transform-origin: 0;
			transition: all 0.2s ease-in-out;
        }
		&:hover {
			&:after {
				transform: scaleX(0);
			}
		}
	}
}

.system-list {
	display: flex;
	flex-wrap: wrap;
	margin-left: -0.9375rem;
	margin-right: -0.9375rem;
	li {
		margin: 0 0.9375rem 1.875rem;
		width: 17.9%;
	}
	.card-link {
		display: block;
        background: #fff;
        border-radius: 2px;
        box-shadow: 0 1px 3px rgba(#000, .15);
		padding: 0 0 1.875rem;
		position: relative;
		min-height: 296px;
		img {
			display: block;
			margin-bottom: 1rem;
			width: 100%;
			height: auto;
		}
		span {
			display: block;
			box-sizing: border-box;
			padding: 0 1.875rem;
			width: 100%;
			text-align: center;
		}
		.name {
			margin-bottom: 2.5rem;
			font-size: 1.5rem;
			position: relative;
			&:after {
				content: "";
				background: #f3f0ec;
				margin-left: -2rem;
				width: 4rem;
				height: 1px;
				position: absolute;
				left: 50%;
				bottom: -1.3rem;
			}
		}
		.info {
			color: #9d9183;
		}
        &:after {
            content: "";
            background: url("../assets/ribbon.svg") center center no-repeat;
            width: 24px;
            height: 31px;
            position: absolute;
            top: -2px;
            left: 6px;
			transition: all 0.2s ease-in-out;
			opacity: 0;
        }
		&:hover {
			background: #f9f8f7;
			box-shadow: 0 1px 1px rgba(#000, .2);
			&:after {
				opacity: 1;
			}
		}
	}
	.card.disabled {
		position: relative;
		&:after {
			content: "";
			position: absolute;
			left: 0;
			top: 0;
			right: 0;
			bottom: 0;
		}
		img {
			filter: grayscale(1);
		}
		.card-link {
			color: #999;
		}
	}
}

/* `Login
-----------------------------------------------------------------------------*/

body.login-layout {
    background: rgb(128,175,232);
    background: linear-gradient(0deg, rgba(128,175,232,1) 0%, rgba(85,156,244,1) 100%);
	position: relative;
}

#scene2 {
	position: absolute;
	bottom: 0;
	display: none;
	height: 100%;
	min-height: 100%;
	z-index: 0;
}

#scene2 .layer{
	margin-left: -8%;
	//padding-bottom: 20vh;
	width: 110vw;
    height: 100%;
    min-height: 100%;
	&.layer1 {
		z-index: 1;
		img {
			position: absolute;
			right: -20px;
			top: 20%;
		}
	}
	&.layer2 {
		z-index: 2;
		img {
			position: absolute;
			left: -20px;
			top: 25%;
		}
	}
	&.layer3 {
		z-index: 3;
		img {
			position: absolute;
			left: 60%;
			top: 35%;
		}
	}
	&.layer4 {
		z-index: 4;
		img {
			position: absolute;
			left: 50%;
			margin-left: -400px;
			bottom: -20px;
		}
	}
	&.layer5, &.layer6 {
		position: relative;
		img {
			width: 170px;
			height: auto;
			position: absolute;
			left: 50%;
		}
	}
	&.layer5 {
		z-index: 10;
		img { top: 3rem; }
	}
	&.layer6 {
		z-index: 9;
		img {
			top: 50px;
			opacity: 0.5;
			filter: grayscale(65%) blur(5px);
		}
	}
}


.login-container {
	margin: 0 auto;
	padding: 250px 0 300px;
	width: 480px;
	position: relative;
	z-index: 1;
}

.login-card {
	border-radius: 0.5rem;
	background: rgba(#fff, .5);
	padding: 3rem;
	h4 {
		margin-top: 0;
		font-size: 1.5rem;
		font-weight: 400;
		text-align: center;
	}
	.form-group {
		margin-bottom: 2rem;
		position: relative;
	}
	.form-control {
		border-radius: 0;
		box-sizing: border-box;
		background-color: transparent;
		border: none;
		border-bottom: 1px solid rgba(#6c4825, .25);
		padding-left: 45px;
		width: 100%;
		height: 56px;
		line-height: 56px;
		transition: all .2s ease-in-out;
		&:focus {
			border-bottom: 1px solid rgba(#6c4825, .75);
			box-shadow: none;
		}
	}
	.icon-tabler {
		color: #6c4825;
		position: absolute;
		left: 0;
		top: 14px;
	}
    ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: rgba(#6c4825, .75);
    }
    ::-moz-placeholder { /* Firefox 19+ */
      color: rgba(#6c4825, .75);
    }
    :-ms-input-placeholder { /* IE 10+ */
      color: rgba(#6c4825, .75);
    }
    :-moz-placeholder { /* Firefox 18- */
      color: rgba(#6c4825, .75);
    }
	.btn-login {
		display: block;
		border-radius: 28px;
		background-color: #806748;
		box-shadow: 0 -1px 0 rgba(#000, .1) inset, 0 1px 1px rgba(#000, .4);
		border: none;
		margin: 0;
		padding: 0;
		font-size: 1.125rem;
		color: #fff;
		width: 100%;
		height: 56px;
		line-height: 56px;
		&:hover {
			box-shadow: 0 -1px 0 rgba(#000, .1) inset, 0 3px 6px rgba(#000, .3);
		}
	}
	.custom-control-input {
        position: absolute;
        pointer-events: none;
        opacity: 0;
        box-sizing: border-box;
        padding: 0;
        left: 0;
        z-index: -1;
        width: 1rem;
        height: 1.25rem;
        overflow: visible;
	}
}

/* `Switch
-----------------------------------------------------------------------------*/

body.switch-layout {
    background: rgb(132,159,234);
    background: linear-gradient(0deg, rgba(132,159,234,1) 0%, rgba(101,79,233,1) 100%);
	position: relative;
}

/* `Responsive
-----------------------------------------------------------------------------*/

@media (max-width: 1599px) {
	.container {
		width: 1200px;
	}
    .system-list {
        li {
            width: 22.55%;
        }
    }
	#scene .layer {
		&.layer3, &.layer4 {
			img { margin-left: -2%; }
		}
	}
}

@media (max-width: 1399px) {
	.container {
		width: 1140px;
	}
	.system-list {
        li {
            width: 22.435%;
        }
    }
}




























