/* design by fire */

@import "base";

body.entrance-layout {
    background: rgb(88,147,255);
    background: url("../assets/noisy-texture.png") 0 0 repeat, linear-gradient(56deg, rgba(88,147,255,1) 0%, rgba(124,175,255,1) 42%, rgba(155,209,255,1) 61%, rgba(134,187,255,1) 76%, rgba(100,157,246,1) 100%);
	position: relative;
	&:after {
		content: "";
		background: radial-gradient(circle, rgba(169,215,255,0.5) 0%, rgba(100,157,246,0) 65%);;
		width: 600px;
		height: 600px;
		position: absolute;
		left: 20%;
		top: 20%;
	}
}

.clean-list, .clean-list li {
	list-style: none;
	margin: 0;
	padding: 0;
}

#scene, #scene2, #scene3, #scene4 {
	position: absolute;
	bottom: 0;
	//display: none;
	height: 100%;
	min-height: 100%;
	z-index: 0;
}

#scene .layer{
	//margin-left: -8%;
	//padding-bottom: 20vh;
	width: 100vw;
    height: 100%;
    min-height: 100%;
	&.layer1 {
		background: url("../assets/bg1.png") right bottom no-repeat;
		background-size: 110% auto;
		z-index: 2;
	}
	&.layer2 {
		background: url("../assets/bg2.png") right bottom no-repeat;
		background-size: 110% auto;
		z-index: 1;
	}
	&.layer3, &.layer4 {
		position: relative;
		img {
			width: 170px;
			height: auto;
			position: absolute;
			left: 50%;
		}
	}
	&.layer3 {
		z-index: 4;
		img {
			margin-left: -80px;
			top: 3rem;
		}
	}
	&.layer4 {
		z-index: 3;
		img {
			margin-left: -80px;
			top: 50px;
			opacity: 0.5;
			filter: grayscale(65%) blur(5px);
		}
	}
}

.entrance-container {
	margin: 0 auto;
	padding: 152px 0 300px;
	width: 1400px;
	position: relative;
	z-index: 1;
}

.account {
	margin-bottom: 80px;
	color: rgba(#000, 1);
	font-weight: bold;
	text-align: right;
	.logout {
		display: inline-block;
		margin-left: 0.5rem;
		color: rgba(#fff, 1);
		position: relative;
        &:after {
            content: "";
			background: rgba(#fff, 1);
            width: 100%;
            height: 1px;
            position: absolute;
            bottom: -2px;
            left: 0;
			transform-origin: 0;
			transition: all 0.2s ease-in-out;
        }
		&:hover {
			&:after {
				transform: scaleX(0);
			}
		}
	}
	.switch {
		margin-left: 20px;
		position: relative;
		&:before {
			content: "";
			background: rgba(#000, .4);
			width: 1px;
			height: 16px;
			position: absolute;
			top: 6px;
			left: -10px;
		}
	}
	.btn {
		margin: 0;
		margin-left: 3rem;
	}
}

.system-list {
	display: flex;
	flex-wrap: wrap;
	margin-left: -0.9375rem;
	margin-right: -0.9375rem;
	li {
		margin: 0 0.9375rem 1.875rem;
		width: 17.9%;
	}
	.card-link {
		display: block;
        background: #fff;
        border-radius: 2px;
        box-shadow: 0 1px 3px rgba(#000, .15);
		padding: 0 0 1.875rem;
		position: relative;
		min-height: 296px;
		img {
			display: block;
			margin-bottom: 1rem;
			width: 100%;
			height: auto;
		}
		span {
			display: block;
			box-sizing: border-box;
			padding: 0 1.875rem;
			width: 100%;
			text-align: center;
		}
		.name {
			margin-bottom: 2.5rem;
			font-size: 1.5rem;
			position: relative;
			&:after {
				content: "";
				background: #f3f0ec;
				margin-left: -2rem;
				width: 4rem;
				height: 1px;
				position: absolute;
				left: 50%;
				bottom: -1.3rem;
			}
		}
		.info {
			color: #9d9183;
		}
        &:after {
            content: "";
            background: url("../assets/ribbon.svg") center center no-repeat;
            width: 24px;
            height: 31px;
            position: absolute;
            top: -2px;
            left: 6px;
			transition: all 0.2s ease-in-out;
			opacity: 0;
        }
		&:hover {
			background: #f9f8f7;
			box-shadow: 0 1px 1px rgba(#000, .2);
			&:after {
				opacity: 1;
			}
		}
	}
	.card.disabled {
		position: relative;
		&:after {
			content: "";
			position: absolute;
			left: 0;
			top: 0;
			right: 0;
			bottom: 0;
		}
		img {
			filter: grayscale(1);
		}
		.card-link {
			color: #999;
		}
	}
}

@media (max-width: 1599px) {
	.entrance-container {
		width: 1200px;
	}
    .system-list {
        li {
            width: 22.55%;
        }
    }
}

@media (max-width: 1399px) {
	.entrance-container {
		width: 1140px;
	}
	.system-list {
        li {
            width: 22.435%;
        }
    }
}

/* `Login
-----------------------------------------------------------------------------*/

body.login-layout {
    background: rgb(128,175,232);
    background: linear-gradient(0deg, rgba(128,175,232,1) 0%, rgba(85,156,244,1) 100%);
	position: relative;
}

#scene2 .layer {
	//margin-left: -8%;
	//padding-bottom: 20vh;
	width: 100vw;
    height: 100%;
    min-height: 100%;
	&.layer1 {
		z-index: 1;
		img {
			position: absolute;
			right: -20px;
			top: 20%;
		}
	}
	&.layer2 {
		z-index: 2;
		img {
			position: absolute;
			left: -20px;
			top: 25%;
		}
	}
	&.layer3 {
		z-index: 3;
		img {
			position: absolute;
			left: 60%;
			top: 35%;
		}
	}
	&.layer4 {
		z-index: 4;
		img {
			position: absolute;
			left: 50%;
			margin-left: -450px;
			bottom: -20px;
		}
	}
	&.layer5, &.layer6 {
		position: relative;
		img {
			width: 170px;
			height: auto;
			position: absolute;
			left: 50%;
		}
	}
	&.layer5 {
		z-index: 10;
		img {
			margin-left: -80px;
			top: 3rem;
		}
	}
	&.layer6 {
		z-index: 9;
		img {
			margin-left: -80px;
			top: 50px;
			opacity: 0.5;
			filter: grayscale(65%) blur(5px);
		}
	}
}


.login-container {
	margin: 0 auto;
	padding: 250px 0 300px;
	width: 480px;
	position: relative;
	z-index: 1;
}

.login-card {
	border-radius: 0.5rem;
	background: rgba(#fff, .5);
	padding: 3rem;
	h4 {
		margin-top: 0;
		font-size: 1.5rem;
		font-weight: 400;
		text-align: center;
	}
	.form-group {
		margin-bottom: 2rem;
		position: relative;
	}
	.form-control {
		border-radius: 0;
		box-sizing: border-box;
		background-color: transparent;
		border: none;
		border-bottom: 1px solid rgba(#6c4825, .25);
		padding-left: 45px;
		width: 100%;
		height: 56px;
		line-height: 56px;
		transition: all .2s ease-in-out;
		&:focus {
			border-bottom: 1px solid rgba(#6c4825, .75);
			box-shadow: none;
		}
	}
	.icon-tabler {
		color: #6c4825;
		position: absolute;
		left: 0;
		top: 14px;
	}
    ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: rgba(#6c4825, .75);
    }
    ::-moz-placeholder { /* Firefox 19+ */
      color: rgba(#6c4825, .75);
    }
    :-ms-input-placeholder { /* IE 10+ */
      color: rgba(#6c4825, .75);
    }
    :-moz-placeholder { /* Firefox 18- */
      color: rgba(#6c4825, .75);
    }
	.btn-login {
		display: block;
		border-radius: 28px;
		background-color: #806748;
		box-shadow: 0 -1px 0 rgba(#000, .1) inset, 0 1px 1px rgba(#000, .4);
		border: none;
		margin: 0;
		padding: 0;
		font-size: 1.125rem;
		color: #fff;
		width: 100%;
		height: 56px;
		line-height: 56px;
		&:hover {
			box-shadow: 0 -1px 0 rgba(#000, .1) inset, 0 3px 6px rgba(#000, .3);
		}
	}
	.custom-control-input {
        position: absolute;
        pointer-events: none;
        opacity: 0;
        box-sizing: border-box;
        padding: 0;
        left: 0;
        z-index: -1;
        width: 1rem;
        height: 1.25rem;
        overflow: visible;
	}
}

/* `Switch
-----------------------------------------------------------------------------*/

body.switch-layout {
    background: rgb(175,204,239);
    background: linear-gradient(0deg, rgba(175,204,239,1) 0%, rgba(115,171,241,1) 100%);
	position: relative;
}

.switch-container {
	margin: 0 auto;
	padding: 250px 0 400px;
	width: 1140px;
	position: relative;
	z-index: 1;
}

.switch-wrapper {
	border-radius: 1rem 1rem 1rem 1rem;
	background: rgba(255,255,255, .95);
	box-shadow: 0 4px 8px rgba(0,0,0, 0.05);
	padding: 4rem 0 2rem 2rem;
	.switch-title {
		font-size: 1.75rem;
		font-weight: 500;
	}
	.description {
		margin-bottom: 2rem;
		padding-right: 2rem;
	}
}

.switch-list, .switch-list li {
	margin: 0;
	padding: 0;
	list-style: none;
}

.switch-list {
	display: flex;
	flex-wrap: wrap;
	li {
		margin-bottom: 2.5rem;
		width: 33.3333%;
	}
	.switch-item {
		margin-right: 10%;
		h5 {
			color: #4285f4;
		}
		.btn { margin: 0; }
	}
}

#scene3 .layer {
	//margin-left: -8%;
	//padding-bottom: 20vh;
	width: 100vw;
    height: 100%;
    min-height: 100%;
	&.layer7 {
		z-index: 5;
		.cloud_animation {
			position: absolute;
			//left: 0%;
			top: 9%;
            -webkit-animation: cloud4 120s infinite;
            -moz-animation:    cloud4 120s infinite;
            -o-animation:      cloud4 120s infinite;
            animation:         cloud4 120s infinite;
		}
	}
	&.layer1 {
		z-index: 1;
		img {
			position: absolute;
			right: 16%;
			top: 8%;
		}
	}
	&.layer2 {
		z-index: 2;
		img {
			position: absolute;
			left: 5%;
			top: 15%;
		}
	}
	&.layer3 {
		z-index: 3;
		img {
			position: absolute;
			right: -10%;
			top: 22%;
		}
	}
	&.layer4 {
		z-index: 4;
		img {
			position: absolute;
			left: 50%;
			margin-left: -400px;
			bottom: -20px;
		}
	}
	&.layer5, &.layer6 {
		position: relative;
		img {
			width: 170px;
			height: auto;
			position: absolute;
			left: 50%;
		}
	}
	&.layer5 {
		z-index: 10;
		img {
			margin-left: -80px;
			top: 3rem;
		}
	}
	&.layer6 {
		z-index: 9;
		img {
			margin-left: -80px;
			top: 50px;
			opacity: 0.5;
			filter: grayscale(65%) blur(5px);
		}
	}
}

@-webkit-keyframes cloud4 {
  0%{
      left: -560px;
	  opacity: 1;
  }
  97% {
      left: 120%;
	  opacity: 1;
  }
  98% {
      left: 120%;
	  opacity: 0;
  }
  99% {
      left: -560px;
	  opacity: 0;
  }
  100% {
      left: -560px;
	  opacity: 1;
  }
}

@-moz-keyframes cloud4 {
  0%{
      left: -560px;
	  opacity: 1;
  }
  97% {
      left: 120%;
	  opacity: 1;
  }
  98% {
      left: 120%;
	  opacity: 0;
  }
  99% {
      left: -560px;
	  opacity: 0;
  }
  100% {
      left: -560px;
	  opacity: 1;
  }
}

@-o-keyframes cloud4{
  0%{
      left: -560px;
	  opacity: 1;
  }
  97% {
      left: 120%;
	  opacity: 1;
  }
  98% {
      left: 120%;
	  opacity: 0;
  }
  99% {
      left: -560px;
	  opacity: 0;
  }
  100% {
      left: -560px;
	  opacity: 1;
  }
}

@keyframes cloud4{
  0%{
      left: -560px;
	  opacity: 1;
  }
  97% {
      left: 120%;
	  opacity: 1;
  }
  98% {
      left: 120%;
	  opacity: 0;
  }
  99% {
      left: -560px;
	  opacity: 0;
  }
  100% {
      left: -560px;
	  opacity: 1;
  }
}

/* `Workbench
-----------------------------------------------------------------------------*/

body.workbench-layout {
    background: rgb(128,179,255);
    background: linear-gradient(56deg, rgba(128,179,255,1) 0%, rgba(19,31,109,1) 100%);
	position: relative;
	line-height: 1.5;
	&:after {
		//content: "";
		background: radial-gradient(circle, rgba(169,215,255,0.25) 0%, rgba(100,157,246,0) 65%);
		width: 600px;
		height: 600px;
		position: absolute;
		left: -10%;
		bottom: 10%;
	}
}

#scene4 .layer {
	//margin-left: -8%;
	//padding-bottom: 20vh;
	width: 100vw;
    height: 100%;
    min-height: 100%;
	&.layer1 {
		z-index: 3;
		img {
			width: 90%;
			height: auto;
			position: absolute;
			right: -5%;
			bottom: -20px;
		}
	}
	&.layer2 {
		z-index: 2;
		img {
			width: 10%;
			height: auto;
			position: absolute;
			left: 6%;
			bottom: -20px;
		}
	}
	&.layer3 {
		z-index: 1;
		&:after {
			content: "";
            background: radial-gradient(circle, rgba(169,215,255,0.5) 0%, rgba(100,157,246,0) 65%);
            width: 720px;
            height: 720px;
            position: absolute;
            left: 0;
            bottom: 0;
		}
		z-index: 3;
	}
	&.layer4 {
		z-index: 1;
		img {
			width: 96px;
			height: auto;
			position: absolute;
			left: 20%;
			top: 150px;
		}
	}
	&.layer5, &.layer6 {
		position: relative;
		img {
			width: 170px;
			height: auto;
			position: absolute;
			left: 50%;
		}
	}
	&.layer5 {
		z-index: 10;
		img {
			margin-left: -80px;
			top: 3rem;
		}
	}
	&.layer6 {
		z-index: 9;
		img {
			margin-left: -80px;
			top: 50px;
			opacity: 0.5;
			filter: grayscale(65%) blur(5px);
		}
	}
}

.workbench-account {
	margin-bottom: 80px;
	text-align: right;
	.dropdown {
		.dropdown-toggle {
			color: rgba(#fff, .7);
			&:hover { color: rgba(#9fc1ff, 1); }
		}
		&.show {
            .dropdown-toggle {
                color: rgba(#fff, 1);
            }
		}
	}
	.account {
        color: rgba(#9fc1ff, 1);
		.logout {
			color: #fff;
			&:after { background: #fff; }
		}
		.switch {
			&:before {
				background: rgba(#fff, .2);
			}
		}
	}
}

.workbench-container {
	margin: 0 auto;
	padding: 152px 0 200px;
}

.workbench-menu, .workbench-menu li {
	margin: 0;
	padding: 0;
	list-style: none;
}

.workbench-menu {
    display: flex;
    flex-wrap: wrap;
    .admission-item {
        margin: 0 45px 45px 0;
        width: 570px;
    }
}

.admission-card {
	border-radius: 1rem;
	background: linear-gradient(15deg, #81b3f9 0%, #a8daff 100%);
	box-shadow: -12px 16px 24px rgba(#314d62, .25);
	padding-left: 90px;
	position: relative;
	.flag {
		font-family: "Roboto", sans-serif;
		font-size: 2.25rem;
		font-weight: 500;
		color: #fff;
		position: absolute;
		left: 26px;
		top: 18px;
	}
	.card-bd {
		border-radius: 0 1rem 1rem 1rem;
        background: rgb(226,235,241);
        background: linear-gradient(345deg, rgba(226,235,241,1) 0%, rgba(245,248,250,1) 100%);
		padding: 30px;
	}
	.system-title {
		margin-bottom: 1.5rem;
		font-size: 1.625rem;
		.badge {
			border-radius: 14px;
			margin-left: 0.5rem;
			position: relative;
			top: -0.125rem;
		}
	}
	.description {
		margin-bottom: 2rem;
		//min-height: 48px;
		font-size: 1rem;
	}
	.system-title .badge { background-color: #a31f34; }
	.btn {
		border-width: 1px;
		border-style: solid;
		border-radius: 12px;
		border-color: #af863d;
		color: #af863d;
		box-shadow: none;
		margin: 0 0.25rem 0 0;
		padding: 0.375rem 1rem;
		font-size: 1rem;
		&:hover {
            border-color: #886c46;
            color: #886c46;
		}
	}
	.card-ft {
		border-top: 1px dashed #c9d2d8;
		padding-top: 2rem;
	}
	.message {
		margin-bottom: 0.5rem;
		font-size: 1rem;
		color: #757e83;
	}
}

@media (max-width: 2560px) {
    .workbench-container {
        padding-left: 60px;
        padding-right: 60px;
        width: 1920px;
        max-width: 1920px;
    }
    .workbench-menu {
        .admission-item {
            width: 570px;;
            &:nth-child(3n) { margin-right: 0; }
        }
    }
}

@media (max-width: 1919px) {
    .workbench-container {
        padding-left: 20px;
        padding-right: 20px;
        width: 1655px;
        max-width: 1655px;
    }
    .workbench-menu {
        .admission-item {
            width: 785px;
            &:nth-child(3n) { margin-right: 45px; }
            &:nth-child(2n) { margin-right: 0; }
        }
    }
}

@media (max-width: 1654px) {
    .workbench-container {
        padding-left: 0;
        padding-right: 0;
        width: 1200px;
        max-width: 1200px;
    }
    .workbench-menu {
        .admission-item {
            width: 576px;
        }
    }
}





























