<!-- gmba: Event Questionnaire -->

<div class="container">
	<div class="eq-wrapper">
		<!-- 活動問卷名稱放在此處，不要放在 header！不要放在 header！不要放在 header！ -->
	    <h3 class="section-title">Life Planning Activity Questionnaire</h3>
        <div class="eq-intro">
            <p><%= lorem_paragraph %></p>
        </div>
		<div class="eq-content">
            <p><%= lorem_paragraph %></p>
			<p><%= lorem_paragraphs(2) %></p>
        </div>
		<p class="text-center"><a href="#" class="btn btn-unique btn-lg btn-gmba">Submit</a></p>
	</div>
</div>

<% content_for :js do %>

<% end %>