<!-- gmba: Home (共用) -->

<div class="container">
	<div class="home-wrapper">
	    <main class="main">
		    <h3 class="section-title">Announcement</h3>
			<p><%= lorem_paragraphs(2) %></p>
			<p><%= lorem_paragraphs(2) %></p>
			<p><%= lorem_paragraphs(2) %></p>
		</main>
		<aside class="aside">
		    <h3 class="aside-title">Important Date</h3>
			<h6>Survey Period</h6>
			<div class="period">
			    <span>2021-07-01</span>
				<span>2022-06-30</span>
			</div>
			<a href="#" class="btn btn-rounded btn-lg peach-gradient">Login</a>
		</aside>
	</div>
</div>

<% content_for :js do %>

<% end %>