<!-- gmba: Questionnaire -->

<div class="container">
	<div class="questionnaire-wrapper">
	    <h3 class="section-title">Questionnaire</h3>
        <div class="eq-intro">The purpose of this survey is to have an overview of each batch of students' most updated information after enrolled at GMBA program. The data is only for statistical purposes.</div>
		<div class="questionnaire-content">
            <div class="row">
			    <div class="col-12 col-lg-6">
                    <div class="form-group">
                        <label for=""><span class="required">*</span> Nationality</label>
                        <select class="browser-default custom-select">
                            <option selected>Open this select menu</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </div>
				</div>
				<div class="col-12 col-lg-6">
				    <div class="form-group">
                        <label class="d-block"><span class="required">*</span> Do you have dual nationality?</label>
                        <div class="form-check form-check-inline">
                            <input type="radio" class="form-check-input dualnationality_yes" id="dualYes" name="dualNationality">
                            <label class="form-check-label" for="dualYes">Yes</label>
                        </div>
						<div class="form-check form-check-inline">
                            <input type="radio" class="form-check-input dualnationality_no" id="dualNo" name="dualNationality">
                            <label class="form-check-label" for="dualNo">No</label>
                        </div>
                    </div>
					<div class="dualnationality-group">
                        <div class="form-group">
                            <label for=""><span class="required">*</span> Nationality</label>
                            <select class="browser-default custom-select">
                                <option selected>Open this select menu</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                            </select>
                        </div>
						<button type="button" class="btn btn-xs btn-outline-primary waves-effect">Add nationality</button>
					</div>
				</div>
				<div class="col-12 col-lg-6">
                    <div class="form-group">
                        <label for="example_1"><span class="required">*</span> Age</label>
                        <input type="text" id="example_1" class="form-control">
						<small class="form-text text-muted">The age at this moment you answer this survey (only years is enough)</small>
                    </div>
				</div>
				<div class="col-12 col-lg-6">
                    <div class="form-group">
                        <label for="example_2"><span class="required">*</span> Frequently used email</label>
                        <input type="text" id="example_2" class="form-control">
                    </div>
				</div>
				<div class="col-12 col-lg-6">
                    <div class="form-group">
                        <label for="example_3">Fixed telephone number (Home)</label>
                        <input type="text" id="example_3" class="form-control">
						<small class="form-text text-muted">For international students, given the phone number from home abroad is fine. Remember the country code!</small>
                    </div>
				</div>
				<div class="col-12 col-lg-6">
                    <div class="form-group">
                        <label for="example_4"><span class="required">*</span> Mobile number (Taiwan local number)</label>
                        <input type="text" id="example_4" class="form-control">
                    </div>
				</div>
			</div>
			
            <div class="form-group">
                <label for="example_3">Do you plan to be a full-time or part-time student?</label>
                <span class="form-text mb-2">It is always possilbe to switch from full-time to part-time and vise versa during the GMBA study.</span>
                <div>
                    <div class="form-check form-check-inline">
                        <input type="radio" class="form-check-input" id="fullTime" name="timeStudent">
                        <label class="form-check-label" for="fullTime">Full-time student</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input type="radio" class="form-check-input" id="partTime" name="timeStudent">
                        <label class="form-check-label" for="partTime">Part-time student</label>
                    </div>
                </div>
            </div>
			
			<div class="category-block">
			    <h5 class="block-title"><span>Education Background-PhD level</span></h5>
				<label class="font-weight-bolder"><span class="required">*</span> Do you have a PhD degree?</label>
				<div>
                    <div class="form-check form-check-inline">
                        <input type="radio" class="form-check-input phd_yes" id="phdYes" name="phdDegree">
                        <label class="form-check-label" for="phdYes">Yes</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input type="radio" class="form-check-input phd_no" id="phdNo" name="phdDegree">
                        <label class="form-check-label" for="phdNo">No</label>
                    </div>
                </div>
                <div class="phd-wrap definite-wrap">
					<div class="row">
					    <div class="col-12 col-lg-6">
                            <div class="form-group">
                                <label>School</label>
                                <select class="browser-default custom-select">
                                    <option selected>Open this select menu</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                            </div>
						</div>
						<div class="col-12 col-lg-6">
                            <div class="form-group">
                                <label>School name</label>
                                <select class="browser-default custom-select">
                                    <option selected>Open this select menu</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                            </div>
						</div>
						<div class="col-12 col-lg-6">
                            <div class="form-group">
                                <label>Fields</label>
                                <select class="browser-default custom-select">
                                    <option selected>Open this select menu</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
								<!-- select 選擇 other 時才出現 .other-wrap -->
								<div class="other-wrap">
								    <input type="text" id="" class="form-control" placeholder="Other">
								</div>
                            </div>
						</div>
					</div>
                </div>
			</div>
			
			<div class="category-block">
			    <h5 class="block-title"><span>Education Background-Master level</span></h5>
				<label class="font-weight-bolder"><span class="required">*</span> Do you have a Master degree?</label>
				<div>
                    <div class="form-check form-check-inline">
                        <input type="radio" class="form-check-input master_yes" id="masterYes" name="masterDegree">
                        <label class="form-check-label" for="masterYes">Yes</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input type="radio" class="form-check-input master_no" id="masterNo" name="masterDegree">
                        <label class="form-check-label" for="masterNo">No</label>
                    </div>
                </div>
                <div class="master-wrap definite-wrap">
					<div class="row">
					    <div class="col-12 col-lg-6">
                            <div class="form-group">
                                <label>School</label>
                                <select class="browser-default custom-select">
                                    <option selected>Open this select menu</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                            </div>
						</div>
						<div class="col-12 col-lg-6">
                            <div class="form-group">
                                <label>School name</label>
                                <select class="browser-default custom-select">
                                    <option selected>Open this select menu</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                            </div>
						</div>
						<div class="col-12 col-lg-6">
                            <div class="form-group">
                                <label>Fields</label>
                                <select class="browser-default custom-select">
                                    <option selected>Open this select menu</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
								<!-- select 選擇 other 時才出現 .other-wrap -->
								<div class="other-wrap">
								    <input type="text" id="" class="form-control" placeholder="Other">
								</div>
                            </div>
						</div>
					</div>
                </div>
			</div>
			
			<div class="category-block">
			    <h5 class="block-title"><span>Education Background-Bachelor level</span></h5>
				<div>
                    <div class="form-check form-check-inline">
                        <input type="radio" class="form-check-input bachelor_yes" id="bachelorYes" name="bachelorDegree">
                        <label class="form-check-label" for="bachelorYes">Yes</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input type="radio" class="form-check-input bachelor_no" id="bachelorNo" name="bachelorDegree">
                        <label class="form-check-label" for="bachelorNo">No</label>
                    </div>
                </div>
                <div class="bachelor-wrap definite-wrap">
					<div class="row">
					    <div class="col-12 col-lg-6">
                            <div class="form-group">
                                <label>School</label>
                                <select class="browser-default custom-select">
                                    <option selected>Open this select menu</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                            </div>
						</div>
						<div class="col-12 col-lg-6">
                            <div class="form-group">
                                <label>School name</label>
                                <select class="browser-default custom-select">
                                    <option selected>Open this select menu</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                            </div>
						</div>
						<div class="col-12 col-lg-6">
                            <div class="form-group">
                                <label>Fields</label>
                                <select class="browser-default custom-select">
                                    <option selected>Open this select menu</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
								<!-- select 選擇 other 時才出現 .other-wrap -->
								<div class="other-wrap">
								    <input type="text" id="" class="form-control" placeholder="Other">
								</div>
                            </div>
						</div>
					</div>
                </div>
			</div>
			
			<div class="category-block">
			    <h5 class="block-title"><span>Education Background- Associate of Arts</span></h5>
				<p>Associate Degree</p>
				<label class="font-weight-bolder"><span class="required">*</span> Do you have a A.A. degree?</label>
				<div>
                    <div class="form-check form-check-inline">
                        <input type="radio" class="form-check-input aa_yes" id="aaYes" name="aaDegree">
                        <label class="form-check-label" for="aaYes">Yes</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input type="radio" class="form-check-input aa_no" id="aaNo" name="aaDegree">
                        <label class="form-check-label" for="aaNo">No</label>
                    </div>
                </div>
                <div class="aa-wrap definite-wrap">
					<div class="row">
					    <div class="col-12 col-lg-6">
                            <div class="form-group">
                                <label>School</label>
                                <select class="browser-default custom-select">
                                    <option selected>Open this select menu</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                            </div>
						</div>
						<div class="col-12 col-lg-6">
                            <div class="form-group">
                                <label>School name</label>
                                <select class="browser-default custom-select">
                                    <option selected>Open this select menu</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                            </div>
						</div>
						<div class="col-12 col-lg-6">
                            <div class="form-group">
                                <label>Fields</label>
                                <select class="browser-default custom-select">
                                    <option selected>Open this select menu</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
								<!-- select 選擇 other 時才出現 .other-wrap -->
								<div class="other-wrap">
								    <input type="text" id="" class="form-control" placeholder="Other">
								</div>
                            </div>
						</div>
					</div>
                </div>
			</div>
			
			<div class="category-block">
			    <h5 class="block-title"><span>Work Experience</span></h5>
				<p>Please provide the information about your last employment/company</p>
				<div class="row">
                    <div class="col-12 col-lg-6">
                        <div class="form-group">
                            <label for="example_11">Last employment</label>
                            <input type="text" id="example_11" class="form-control" placeholder="company">
                            <small class="form-text text-muted">Please give the English name of your company and if possible, attach the web link.</small>
                        </div>
                    </div>
					<div class="col-12 col-lg-6">
						<div class="form-group">
                            <label><span class="required">*</span> Upload the company logo</label>
                            <div class="input-group">
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01" />
                                    <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                                </div>
                            </div>
                            <small class="form-text text-muted">jpg only, max. 2MB</small>
                        </div>
					</div>
                    <div class="col-12 col-lg-6">
                        <div class="form-group">
                            <label>Field of company</label>
                            <select class="browser-default custom-select">
                                <option selected>Open this select menu</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                            </select>
                            <!-- select 選擇 other 時才出現 .other-wrap -->
                            <div class="other-wrap">
                                <input type="text" id="" class="form-control" placeholder="Other">
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6">
                        <div class="form-group">
                            <label for="example_12">Job title</label>
                            <input type="text" id="example_12" class="form-control" placeholder="">
                        </div>
                    </div>
					<div class="col-12 col-lg-6">
                        <div class="form-group">
                            <label for="example_12">Total working years</label>
                            <select class="browser-default custom-select">
                                <option selected>Open this select menu</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                            </select>
                        </div>
                    </div>
				</div>
			</div>
			
			<div class="category-block">
			    <h5 class="block-title"><span>Looking for future GMBA business partners!</span></h5>
				<p>GMBA treasure our students the most since you are from different professionals and with various talents. Therefore, we would like to invite you to partner with us in the fields you may elaborate your knowhows and make GMBA a better program together.</p>
                <div class="form-group">
                    <label for="example_13">What kind of expertise do you have?</label>
                    <textarea class="form-control rounded-0" id="example_13" rows="3"></textarea>
                </div>
				<div class="form-group">
                    <label for="example_13">If GMBA is asking help for something you are good at, will you help us?</label>
                    <div>
                        <div class="form-check form-check-inline">
                            <input type="radio" class="form-check-input" id="helpYes" name="askingHelp">
                            <label class="form-check-label" for="helpYes">Yes</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input type="radio" class="form-check-input" id="helpNo" name="askingHelp">
                            <label class="form-check-label" for="helpNo">No</label>
                        </div>
						<div class="form-check form-check-inline">
                            <input type="radio" class="form-check-input" id="helpMaybe" name="askingHelp">
                            <label class="form-check-label" for="helpMaybe">Maybe</label>
                        </div>
                    </div>
                </div>
			</div>
        </div>
		<p class="text-center"><a href="#" class="btn btn-unique btn-lg btn-gmba">Submit</a></p>
	</div>
</div>

<% content_for :js do %>
<script>
	$(document).ready(function(){
        $('.dualnationality_yes').click(function(){
            if($(this).is(":checked")) {
                $('.dualnationality-group').show();
            } 
        });
		$('.dualnationality_no').click(function(){
            if($(this).is(":checked")) {
                $('.dualnationality-group').hide();
            }
        });
		
		$('.phd_yes').click(function(){
            if($(this).is(":checked")) {
                $('.phd-wrap').show();
            } 
        });
		$('.phd_no').click(function(){
            if($(this).is(":checked")) {
                $('.phd-wrap').hide();
            }
        });
		
		$('.master_yes').click(function(){
            if($(this).is(":checked")) {
                $('.master-wrap').show();
            } 
        });
		$('.master_no').click(function(){
            if($(this).is(":checked")) {
                $('.master-wrap').hide();
            }
        });
		
		$('.bachelor_yes').click(function(){
            if($(this).is(":checked")) {
                $('.bachelor-wrap').show();
            } 
        });
		$('.bachelor_no').click(function(){
            if($(this).is(":checked")) {
                $('.bachelor-wrap').hide();
            }
        });
		
		$('.aa_yes').click(function(){
            if($(this).is(":checked")) {
                $('.aa-wrap').show();
            } 
        });
		$('.aa_no').click(function(){
            if($(this).is(":checked")) {
                $('.aa-wrap').hide();
            }
        });
    });
</script>
<% end %>