<!-- gmba: Upload -->

<div class="container">
	<div class="upload-wrapper">
	    <h3 class="upload-title">Upload your thesis</h3>
		<p class="brief">Hello <strong>Scarlett Johansson</strong>, please upload your thesis file (pdf file)</p>
        <div class="md-form">
            <div class="file-field">
                <a class="btn-floating purple-gradient mt-0 float-left">
                    <i class="fa fa-cloud-upload"></i>
                    <input type="file" />
                </a>
                <div class="file-path-wrapper">
                    <input class="file-path validate" type="text" placeholder="Upload your file" />
                </div>
            </div>
        </div>
		<a href="#" class="btn btn-unique btn-lg btn-gmba">Submit</a>
	</div>
</div>

<% content_for :js do %>

<% end %>