<!-- oia-yzu: 姊妹校 - 登入後首頁選單  -->

<div class="container">
	<ul class="wrap-list sys-list menu-item">
		<li>
			<h5 class="title">2019 雙聯生申請案</h5>
			<p class="status">
			    <span class="badge badge-success">已完成</span>
				<span class="grey-text">2019/02/21 送出提名名單</span>
			</p>
			<p class="summary"><%= lorem_paragraph %></p>
			<div class="text-right"><a href="nomination.html" class="btn btn-sm btn-primary waves-effect waves-light">開啟</a></div>
		</li>
		<li>
			<h5 class="title">2019 雙聯生申請案錄取結果查詢</h5>
			<p class="status">
			    <span class="badge badge-danger">未完成</span>
			</p>
			<p class="summary"><%= lorem_paragraph %></p>
			<div class="text-right"><a href="progress-inquiry.html" class="btn btn-sm btn-primary waves-effect waves-light">查詢</a></div>
		</li>
		<li>
			<h5 class="title">2019 交換生申請案</h5>
			<p class="status">
			    <span class="badge badge-success">已完成</span>
				<span class="grey-text">2019/02/21 送出提名名單</span>
			</p>
			<p class="summary"><%= lorem_paragraph %></p>
			<div class="text-right"><a href="nomination.html" class="btn btn-sm btn-primary waves-effect waves-light">開啟</a></div>
		</li>
		<li>
			<h5 class="title">2019 交換生申請案錄取結果查詢</h5>
			<p class="status">
			    <span class="badge badge-success">已完成</span>
				<span class="grey-text">2019/02/21 送出提名名單</span>
			</p>
			<p class="summary"><%= lorem_paragraph %></p>
			<div class="text-right"><a href="progress-inquiry.html" class="btn btn-sm btn-primary waves-effect waves-light">查詢</a></div>
		</li>
	</ul>
</div>