<!-- oia-yzu: 姊妹校 - 申請進度查詢  -->

<div class="container">
	<h4 class="block-title">2019 秋季班錄取學生名單</h4>
	<div class="table-toolbar">
		<div>
			<form class="form-inline md-form form-sm my-0">
				<input class="form-control form-control-sm mr-3 w-75" type="text" placeholder="請輸入關鍵字" aria-label="Search">
				<i class="fa fa-search" aria-hidden="true"></i>
			</form>
		</div>
		<div>
			<div class="btn-group btn-group-sm unshadow mb-2">
				<a class="btn btn-white" role="button"><i class="fa fa-refresh"></i></a>
				<a class="btn btn-white" role="button"><i class="fa fa-list"></i></a>
				<a class="btn btn-white" role="button"><i class="fa fa-cog"></i></a>
				<a class="btn btn-white" role="button"><i class="fa fa-sort-alpha-asc"></i></a>
			</div>
		</div>
	</div>
	<table class="table table-striped">
		<thead>
			<tr>
				<th></th>
				<th>合約等級</th>
				<th>計畫名稱</th>
				<th>合約時間</th>
				<th class="text-center">已提名</th>
				<th class="text-center">錄取</th>
				<th class="text-center">未錄取</th>
				<th class="text-center">未審查</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>1</td>
				<td>Contract level</td>
				<td><%= lorem_words(3) %></td>
				<td>2019-02-03 ~ 2019-05-19</td>
				<td class="text-center">5</td>
				<td class="text-center">3</td>
				<td class="text-center">1</td>
				<td class="text-center">1</td>
				<td><a href="project-admission.html" class="btn btn-xs btn-primary">View</a></td>
			</tr>
			<% 5.times do %>
			<tr>
				<td>2</td>
				<td>Contract level</td>
				<td><%= lorem_words(3) %></td>
				<td>2019-02-03 ~ 2019-05-19</td>
				<td class="text-center">5</td>
				<td class="text-center">3</td>
				<td class="text-center">1</td>
				<td class="text-center">1</td>
				<td><a href="project-admission.html" class="btn btn-xs btn-primary">View</a></td>
			</tr>
			<% end %>
		</tbody>
	</table>
</div>