<!-- oia-yzu: 姊妹校 - 單一計畫錄取結果  -->

<div class="container">
	<h4 class="block-title">2019 秋季班錄取學生名單</h4>
	<h6 class="mt-5">公費未錄取名額: 3名</h6>
	<table class="table table-striped">
		<thead>
			<tr>
				<th>錄取狀態</th>
				<th>英文姓名</th>
				<th>性別</th>
				<th>本校系所</th>
				<th class="text-center">年級</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><span class="text-success">Admission</span></td>
				<td>Scarlett Johansson</td>
				<td>female</td>
				<td>Department of Capital Engineering</td>
				<td class="text-center">2</td>
				<td><a href="student.html" class="btn btn-xs btn-primary">View</a></td>
			</tr>
			<tr>
				<td><span class="text-warning">Unreviewed</span></td>
				<td><%= lorem_words(2) %></td>
				<td>female</td>
				<td>Department of Capital Engineering</td>
				<td class="text-center">3</td>
				<td><a href="student.html" class="btn btn-xs btn-primary">View</a></td>
			</tr>
			<% 3.times do %>
			<tr>
				<td><span class="text-danger">Not admitted</span></td>
				<td><%= lorem_words(2) %></td>
				<td>male</td>
				<td>Department of Capital Engineering</td>
				<td class="text-center">2</td>
				<td><a href="student.html" class="btn btn-xs btn-primary">View</a></td>
			</tr>
			<% end %>
		</tbody>
	</table>
</div>