<!-- oia-yzu: 姊妹校 - 聯絡人資料修改  -->

<div class="container">
	<h4 class="block-title">聯絡人資料修改</h4>
	<p>修改相關業務聯絡人員資料，及登入使用的電子郵件及密碼</p>
	<form>
		<div class="form-group">
			<div class="row">
				<div class="col">
					<label for="fullname">姓名</label>
					<div>Scarlett Johansson</div>
				</div>
				<div class="col">
					<label><span class="required">*</span> 性別</label>
					<div>
						<div class="custom-control custom-radio custom-control-inline">
							<input type="radio" class="custom-control-input" id="male" name="PersonalGender">
							<label class="custom-control-label" for="male">Male</label>
						</div>
						<div class="custom-control custom-radio custom-control-inline">
							<input type="radio" class="custom-control-input" id="female" name="PersonalGender">
							<label class="custom-control-label" for="female">Female</label>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="form-group">
			<div class="row">
				<div class="col">
					<label for="section"><span class="required">*</span> 單位</label>
					<input type="text" class="form-control" id="section" placeholder="">
				</div>
				<div class="col">
					<label for="jobTitle">職稱</label>
					<input type="text" class="form-control" id="jobTitle" placeholder="">
				</div>
			</div>
		</div>
		<div class="form-group">
			<label><span class="required">*</span> 地址</label>
			<div class="row">
				<div class="col-2">
				    <input type="text" class="form-control mr-sm-2" placeholder="郵遞區號">
				</div>
				<div class="col-10">
				    <input type="text" class="form-control" placeholder="地址">
				</div>
			</div>
		</div>
		<div class="form-group">
			<div class="row">
				<div class="col">
					<label for="phone"><span class="required">*</span> 電話</label>
					<input type="text" class="form-control" id="phone" placeholder="">
				</div>
				<div class="col">
					<label for="email"><span class="required">*</span> 電子郵件</label>
					<input type="text" class="form-control" id="email" placeholder="">
				</div>
			</div>
		</div>
		<div class="text-center mt-5">
			<button class="btn btn-lg btn-primary">Save</button>
		</div>
	</form>
</div>