<!-- oia-yzu: 姊妹校 - 檢視錄取結果  -->

<div class="container">
	<h4 class="block-title">2019 秋季班交換生錄取結果</h4>
	<div class="row mt-5">
	    <div class="col-4">
			<aside class="aside">
				<div class="avatar-wrap">
					<div class="avatar">
						<img src="../assets/default-avatar.svg" class="img-fluid" alt="">
					</div>
					<h5>
						史嘉蕾 Scarlett Johansson
						<small><span>Columbia University</span>Department of Computer Engineering, Grade 2</small>
					</h5>
					<h5 class="text-center"><span class="badge badge-pill badge-primary">公費</span></h5>
				</div>
				<div class="contact-wrap">
					<ul class="personal-menu menu-item">
						<li><i class="fa fa-mobile"></i>0936542765</li>
						<li><i class="fa fa-phone"></i>03-8634106</li>
						<li><i class="fa fa-envelope-o"></i>johansson@mail.ndhu.edu.tw</li>
					</ul>
				</div>
			</aside>
		</div>
		<div class="col-8">
			<div class="document-upload mb-5">
				<div class="document-item increase">
					<div class="document-hd">
						<h5>1. Application form</h5>
						<p class="grey-text">Upload time <i class="fa fa-clock-o"></i> 2019/02/12 18:20</p>
					</div>
					<div class="document-ft">
						<a href="#" class="btn btn-primary btn-xs">View</a>
					</div>
				</div>
				<div class="document-item increase">
					<div class="document-hd">
						<h5>2. Document submission checklist</h5>
						<p class="grey-text">Upload time <i class="fa fa-clock-o"></i> 2019/02/12 18:20</p>
					</div>
					<div class="document-ft">
						<a href="#" class="btn btn-info btn-xs">Info</a>
						<a href="#" class="btn btn-primary btn-xs">View</a>
					</div>
				</div>
				<div class="document-item increase">
					<div class="document-hd">
						<h5>3. Enrollment experience</h5>
						<p class="grey-text">Upload time <i class="fa fa-clock-o"></i> 2019/02/12 18:20</p>
					</div>
					<div class="document-ft">
						<a href="#" class="btn btn-info btn-xs">Info</a>
						<a href="#" class="btn btn-primary btn-xs">View</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>