.theme_two .element-cover:after {
    transform: scale(var(--myScaleCover));
}

.theme_two .element-img-direction.cover-square:after {
    transform: scale(var(--myScaleImg));
}

.theme_two .element-section-gsap {
    transform: translatey(20px);
    opacity: 0;
}

.theme_two .element-article-list .article-list-menu li {
    transform: translatey(20px);
    opacity: 0;
}

.theme_two .element-group-item .section-row {
    transform: translatey(20px);
    opacity: 0;
}

.theme_two .element-img-direction .cover-wrap,
.theme_two .element-img-direction .element-content {
    transform: translatey(20px);
    opacity: 0;
}