<!-- admin-page: Sidenav / Style 2 -->
<%= render :partial => "/partials/admin_breadcrumb" %>

<main class="main">
    <div class="page-header">
        <h2>Page Title</h2>
    </div>
	<div class="clearfix">
        <div class="profile-sidebar">
            <div class="col-block">
                <div class="block-content expansion">
                    <div class="profile-avatar">
						<div class="upload-wrap">
							<div class="avatar-field">
								
								<!-- 背景埋有預設頭像，使用者上傳後直接蓋在預設之上 -->
                                <img class="avatar" src="../assets/fake/k99.jpg" alt="avatar" />
								
							</div>
							<div class="file-field mb-4">
                                <span>
                                    <label class="btn btn-sm btn-rounded btn-outline-primary">
                                        <input id="upload_img" style="display:none;" type="file">上傳
                                    </label>
                                </span>
								<span><button type="button" class="btn btn-sm btn-rounded btn-outline-warning">清除</button></span>
							</div>
						</div>
                        <div class="scrap">
                            <div class="scrap-name">
                                <span class="h4">基努李維</span>
                                <span class="h6">Keanu Reeves</span>
                            </div>
                        </div>
                    </div>
                    <div id="accordion" class="profile-side_accordion">
                        <ul class="collapsible collapsible-accordion" id="accordion" role="tablist" aria-multiselectable="true">
                            <li class="menu-item">
                                <div class="panel-heading">
                                    <a class="btn btn-link" href="#">SideNav</a>
                                </div>
                            </li>
                            <li class="menu-item current">
                                <div class="panel-heading">
                                    <a class="btn btn-link" href="#">SideNav</a>
                                </div>
                            </li>
                            <li class="menu-item">
                                <div class="panel-heading">
                                    <a class="btn btn-link" href="#">SideNav</a>
                                </div>
                            </li>
                            <li class="menu-item">
                                <div class="panel-heading">
                                    <a class="btn btn-link" href="#" >SideNav</a>
                                </div>
                            </li>
                            <li class="menu-item">
                                <div class="panel-heading">
                                    <a class="btn btn-link" href="#">SideNav</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
		<div class="profile-content">
            <div class="col-block mb-20">
                <div class="block-header has-border">
                    <h3>Block title</h3>
                </div>
                <div class="block-content">
                    <div style="height: 50rem;">content</div>
                </div>
            </div>
		</div>
	</div>
</main>

<% content_for :js do %>
<% end %>