
<nav class="navbar navbar-expand-lg navbar-dark primary-color">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nfuNav" aria-controls="nfuNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="nfuNav">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="../target/index.html">學院教育目標</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarEngineering" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">工程學院</a>
                <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarEngineering">
                    <a class="dropdown-item" href="../college/index.html">機械與電腦輔助工程系</a>
                    <a class="dropdown-item" href="../college/index.html">材料科學與工程系</a>
                    <a class="dropdown-item" href="../college/index.html">機械設計工程系</a>
                    <a class="dropdown-item" href="../college/index.html">動力機械工程系</a>
                    <a class="dropdown-item" href="../college/index.html">自動化工程系</a>
                    <a class="dropdown-item" href="../college/index.html">車輛工程系</a>
                    <a class="dropdown-item" href="../college/index.html">飛機工程系</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarManagement" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">管理學院</a>
                <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarManagement">
                    <a class="dropdown-item" href="#">工業管理系</a>
                    <a class="dropdown-item" href="#">資訊管理系</a>
                    <a class="dropdown-item" href="#">財務金融系</a>
                    <a class="dropdown-item" href="#">企業管理系</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarMotor" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">電機資訊學院</a>
                <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarMotor">
                    <a class="dropdown-item" href="#">電機工程系</a>
                    <a class="dropdown-item" href="#">光電工程系</a>
                    <a class="dropdown-item" href="#">資訊工程系</a>
                    <a class="dropdown-item" href="#">電子工程系</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarLA" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">文理學院</a>
                <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarLA">
                    <a class="dropdown-item" href="#">應用外語系</a>
                    <a class="dropdown-item" href="#">生物科技系</a>
                    <a class="dropdown-item" href="#">多媒體設計系</a>
                    <a class="dropdown-item" href="#">休閒遊憩系</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">跨域學習</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/college/whole_course_map.html">全校課程地圖</a>
            </li>
        </ul>
    </div>
</nav>