<footer class="footer">
    <div class="container clearfix">
        <div class="browser-support float-left">IE11+</div>
        <div class="map float-right">
            <a href="https://goo.gl/maps/pYUdM8eJycD2" target="_blank"><i class="fa fa-map-marker" aria-hidden="true"></i></a>
        </div>
    </div>
</footer>
