<!-- template: 常見問題 - 單篇 -->

<div class="container-lg">
	<div class="page-content" id="maincontent">
        <div class="section-title">
            <h4>常見問題</h4>
        </div>
        <article class="faq-single">
            <h3 class="mb-4 fw-bold">校內徵選辦法是否為獨立？調整是否會影響行政績效？</h3>
            <div class="release faq-part">
                <span class="label">發佈日期</span>
                <span class="date">2023-03-17</span>
            </div>
            <div class="answer faq-part">
                <span class="label">答覆</span>
                <div>校內徵選辦法修改不會影響行政績效，僅需注意上傳時間須符合要點規定。</div>
            </div>
        </article>
        <div class="form-action">
            <span class="backhome"><a href="#" class="btn btn-lg btn-link"><i class="fas fa-long-arrow-alt-left"></i> 回上一頁</a></span>
        </div>
	</div>
</div>



<% content_for :js do %>

<% end %>

