<!-- template: 常見問題 -->

<div class="container-lg">
	<div class="page-content" id="maincontent">
        <div class="row">
            <div class="col-lg-4">
                <div class="card card-note mb-5">
                    <div class="card-body">
                        <div class="form-group">
                            <label for="keywords" class="form-label">關鍵字</label>
                            <input type="text" class="form-control" id="keywords" placeholder="搜尋" />
                        </div>
                        <div class="form-group">
                            <label class="form-label">問題分類</label>
                            <div>
                                <select class="form-select" aria-label="問題分類">
                                    <option selected>請選擇</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                            </div>
                        </div>
                        <div class="text-end">
                            <button type="button" class="btn btn-light">清除</button>
                            <button type="button" class="btn btn-primary">查詢</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <main class="main">
                    <div class="section-title">
                        <h4>常見問題</h4>
                    </div>
                    <ul class="menu-item general-menu-item faq-menu-item">
                        <li>
                            <div class="faq-info">
                                <span class="badge bg-secondary" title="問題分類">申請</span>
                                <span class="date" title="發佈日期">2023-08-01</span>
                            </div>
                            <h5><a href="#" title="{連結名稱}" class="item-link">校內徵選辦法是否為獨立？調整是否會影響行政績效？</a></h5>
                        </li>
                        <% (1..4).map do |i| %>
                        <li>
                            <div class="faq-info">
                                <span class="badge bg-secondary" title="問題分類">核定</span>
                                <span class="date" title="發佈日期">2023-08-01</span>
                            </div>
                            <h5><a href="#" title="{連結名稱}" class="item-link">填寫學海築夢計畫書補助項目只有生活費跟機票，是否有核銷標準？</a></h5>
                        </li>
                        <% end %>
                        <li>
                            <div class="faq-info">
                                <span class="badge bg-secondary" title="問題分類">出國</span>
                                <span class="date" title="發佈日期">2023-08-01</span>
                            </div>
                            <h5><a href="#" title="{連結名稱}" class="item-link">降低新南向學海築夢實習人數，須將計畫配合款由教育部核定補助金額20%調增至30%。提升的金額是以核定還降低後款？</a></h5>
                        </li>
                        <% (1..14).map do |i| %>
                        <li>
                            <div class="faq-info">
                                <span class="badge bg-secondary" title="問題分類">變更</span>
                                <span class="date" title="發佈日期">2023-08-01</span>
                            </div>
                            <h5><a href="#" title="{連結名稱}" class="item-link">填寫學海築夢計畫書補助項目只有生活費跟機票，是否有核銷標準？</a></h5>
                        </li>
                        <% end %>
                    </ul>
                    <nav aria-label="...">
                        <ul class="pagination justify-content-end">
                            <li class="page-item disabled">
                                <a class="page-link">上一頁</a>
                            </li>
                            <li class="page-item active"><a class="page-link" href="#">1</a></li>
                            <li class="page-item" aria-current="page">
                                <a class="page-link" href="#">2</a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#">下一頁</a>
                            </li>
                        </ul>
                    </nav>
                </main>
            </div>
        </div>
	</div>
</div>



<% content_for :js do %>

<% end %>

