<!-- template: 學校聯絡人登入 -->

<div class="container-lg">
    <div class="page-content" id="maincontent">
        <div class="row">
            <div class="col-md-6">
                <div class="card card-note mb-5">
                    <div class="card-body">
                        <p>歡迎來到國內大學校院自行選送人才出國研修服務網 ==&gt;[&nbsp;<a href="#" title="{連結名稱}">選擇其他年度</a>&nbsp;]</p>
                        <ol>
                            <li>帳號註冊：請聯繫計畫辦公室取得帳號並註冊聯絡人資料取得密碼登入系統。</li>
                            <li>忘記密碼：使用<strong class="text-danger">忘記密碼</strong>系統將發送密碼至貴校承辦人信箱，如有問題請洽計畫辦公室。</li>
                            <li>各校請於規定時間內完成各項申辦作業,欲知本年度期程請參考 <a href="#" title="{連結名稱}">日程表</a></li>
                            <li>
                                各項計畫結餘款繳回支票受款人請填入：
                                <h4 style="color:#f46903;" class="fw-bold mt-2 mb-0">國立臺灣科技大學403專戶</h4>
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="login-card">
                <div class="card-hd">
                    <h3>學校聯絡人登入</h3>
                </div>
                <div class="card-bd">
                    <div class="form-group">
                        <label for="loginlInput2" class="form-label">帳號</label>
                        <input type="text" class="form-control" id="loginlInput2" placeholder="請輸入帳號" />
                    </div>
                    <div class="form-group">
                        <label for="loginlPassword" class="form-label">密碼</label>
                        <input type="password" class="form-control" id="loginlInput2" placeholder="請輸入密碼" />
                    </div>
                    <div class="form-group">
                        <label for="loginInput4" class="form-label">驗證碼</label>
                        <div class="d-flex align-items-center">
                            <span class="me-1"><input type="text" class="form-control" id="loginInput4" /></span>
                            <span class="me-1"><img class="captcha" src="http://nfu-map.dev.com.tw/common/captcha.image" /></span>
                            <span class="me-1">
                                <button type="button" class="btn btn-xs btn-outline-dark" title="播放語音驗證碼"><i class="fa fa-volume-up"></i><span class="sr-only">播放語音驗證碼</span></button>
                            </span>
                            <span>
                                <button class="btn btn-xs btn-outline-dark" type="button" title="更新驗證碼"><i class="fas fa-sync-alt"></i></button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="d-grid mt-4">
                    <button class="btn btn-lg btn-primary" type="submit">登入</button>
                    <span class="d-block text-center mt-4">
                        <a href="#" class="btn btn-light" title="忘記密碼">忘記密碼</a>
                        <a href="#" class="btn btn-light" title="帳號註冊">帳號註冊</a>
                    </span>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>



<% content_for :js do %>

<% end %>

