<!-- template: 最新消息 -->

<div class="container-lg">
	<div class="page-content" id="maincontent">
        <div class="row">
            <div class="col-lg-4">
                <div class="card card-note mb-5">
                    <div class="card-body">
                        <p>歡迎來到<span class="text-danger">112年度</span>國內大學校院自行選送人才出國研修服務網 ==&gt;[ <a href="http://www.studyabroad.moe.gov.tw/index.php">選擇其他年度</a> ]</p>
                        <div class="h5"><i class="fas fa-bullhorn"></i> 貼心叮嚀</div>
                        <ol>
                            <li>為確實掌握選送生國外動向及安全，並給予適當協助，請各承辦人員及計畫主持人務必於出國前兩週依照學生實際出返國情形進行資料維護。</li>
                            <li>學生入境前請務必參考外交部領務局相關入境及簽證規定 (首頁>簽證>國人申請外國簽證>各國暨各地區簽證、旅遊及消費者保護資訊)。</li>
                        </ol>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <main class="main">
                    <div class="section-title">
                        <h4>最新消息</h4>
                    </div>
                    <ul class="menu-item general-menu-item">
                        <li>
                            <span class="d-block">2023-08-01</span>
                            <h5><a href="#" title="{連結名稱}" class="item-link">112年「教育部鼓勵國內大專校院選送學生出國研修或國外專業實習計畫」暫不辦理第2次甄選</a></h5>
                        </li>
                        <% (1..4).map do |i| %>
                        <li>
                            <span class="d-block">2023-08-01</span>
                            <h5><a href="#" title="{連結名稱}" class="item-link">臺科大112年8月份為響應節能減碳措施，每週五訂為共同暑休停止辦公</a></h5>
                        </li>
                        <% end %>
                        <li>
                            <span class="d-block">2023-08-01</span>
                            <h5><a href="#" title="{連結名稱}" class="item-link">學海惜珠申請身分及應檢附文件</a></h5>
                        </li>
                    </ul>
                    <nav aria-label="...">
                        <ul class="pagination justify-content-end">
                            <li class="page-item disabled">
                                <a class="page-link">上一頁</a>
                            </li>
                            <li class="page-item active"><a class="page-link" href="#">1</a></li>
                            <li class="page-item" aria-current="page">
                                <a class="page-link" href="#">2</a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#">下一頁</a>
                            </li>
                        </ul>
                    </nav>
                </main>
            </div>
        </div>
	</div>
</div>



<% content_for :js do %>

<% end %>

