<!-- template: 最新消息 - 單篇 -->

<div class="container-lg">
	<div class="page-content" id="maincontent">
        <article>
            <h3 class="mb-4 fw-bold">臺科大112年8月份為響應節能減碳措施，每週五訂為共同暑休停止辦公</h3>
            <p>臺科大112年8月份為響應節能減碳措施，每週五訂為共同暑休停止辦公(8/7、8/14、8/21、8/28)</p>
            <p>若需洽公，請於週一至週四上班時間(9:00~12:00、13:00~17:00)洽詢</p>
            <p>不便之處，敬請見諒!</p>
            <ul>
                <li><a href="#" title="{連結名稱}">112年核定各校一覽表_學海飛颺</a></li>
                <li><a href="#" title="{連結名稱}">112年核定各校一覽表_學海惜珠</a></li>
                <li><a href="#" title="{連結名稱}">112年核定各校一覽表_學海築夢(第一梯次)</a></li>
                <li><a href="#" title="{連結名稱}">112年核定各校一覽表_新南向學海築夢(第一梯次)</a></li>
            </ul>
        </article>
        <div class="form-action">
            <span class="backhome"><a href="#" class="btn btn-lg btn-link"><i class="fas fa-long-arrow-alt-left"></i> 回列表</a></span>
        </div>
	</div>
</div>



<% content_for :js do %>

<% end %>

