<!-- template: 日程表 -->

<div class="container-lg">
	<div class="page-content" id="maincontent">
        <section class="section">
            <div class="section-title">
                <h4>112年度學海飛颺與學海惜珠重要事項日程表</h4>
            </div>
            <ul class="menu-item general-menu-item schedule-menu-item">
                <li>
                    <div class="label-schedule">112年1月1日至2月1日</div>
                    <div class="note-schedule">
                        1. 上傳各校簡章辦法至選送網站
                    </div>
                </li>
                <li>
                    <div class="label-schedule">112年2月1日至3月31日</div>
                    <div class="note-schedule">
                        2. 至資訊網撰寫計畫書，用印後整份上傳至選送網站
                    </div>
                </li>
                <li>
                    <div class="label-schedule">112年5月31日</div>
                    <div class="note-schedule">
                        3. 經費補助核定公告日
                    </div>
                </li>
                <li>
                    <div class="label-schedule">112年6月1-30日</div>
                    <div class="note-schedule">
                        4. 薦送學校請款：學校於規定期限內備函及檢送學校領款收據(領據抬頭：國立臺灣科技大學)。逕寄人力資源辦公室(郵遞區號:106990臺灣科大郵局第116號信箱)，信封上請註明「學海飛颺/惜珠請款」字樣。
                    </div>
                </li>
                <li>
                    <div class="label-schedule">選送生出國前</div>
                    <div class="note-schedule">
                        5. 簽訂行政契約書：由薦送學校與選送生簽訂。選送生於赴國外大專校院研修期間，應保有薦送學校學籍，所修讀學分由校方審核是否符合所訂國外研修學分相關規定。<br>
                        6. 撥款: 由薦送學生於學生出國前核撥第一次經費，且不得少於本部核定補助款百分之八十。
                    </div>
                </li>
                <li>
                    <div class="label-schedule">112年6月-114年11月</div>
                    <div class="note-schedule">
                        7. 選送生資料維護：薦送學校應於選送生出國研修<strong class="text-danger">二週前</strong>，確實至本計畫資訊網維護選送生基本資料表，例如學生實際出國日期、出國研修機構、實際研修日期、實際獲補助經費等。
                        <div class="mt-2">※選送生需於112年5月31日至113年10月31日之間出國</div>
                    </div>
                </li>
                <li>
                    <div class="label-schedule">
                        計畫受補助選送生返國後 <strong class="text-danger">二個月內</strong>
                        <p class="form-text">(結案 按「教育部補助及委辦經費核撥結報作業要點」辦理。)</p>
                    </div>
                    <div class="note-schedule">
                        8.結案<br>
                        (1)計畫結案：由薦送學校督促選送生上傳出國研修心得報告(內容大綱詳見資訊網中之相關規定及表格)至本計畫資訊網登錄備查。<br>
                        (2)經費結案：由薦送學校「備函」檢附「選送生經費支領一覽表」及「教育部補助經費收支結算表」寄送人力資源辦公室(郵遞區號:106990臺灣科大郵局第116號信箱)核結。。<br>
                        <div class="mt-2">※學生心得報告若未全數上傳無法進行經費結案。</div>
                    </div>
                </li>
            </ul>
        </section>
        <section class="section">
            <div class="section-title">
                <h4>112年度第一梯次學海築夢與新南向重要事項日程表</h4>
            </div>
            <ul class="menu-item general-menu-item schedule-menu-item">
                <li>
                    <div class="label-schedule">112年1月1日至2月1日</div>
                    <div class="note-schedule">
                        1. 上傳各校簡章辦法至選送網站
                    </div>
                </li>
                <li>
                    <div class="label-schedule">112年2月1日至3月31日</div>
                    <div class="note-schedule">
                        2. 至資訊網撰寫計畫書，用印後整份上傳至選送網站
                    </div>
                </li>
                <li>
                    <div class="label-schedule">112年5月31日</div>
                    <div class="note-schedule">
                        3. 經費補助核定公告日
                    </div>
                </li>
                <li>
                    <div class="label-schedule">112年6月1-30日</div>
                    <div class="note-schedule">
                        4. 薦送學校請款：學校於規定期限內備函及檢送學校領款收據(領據抬頭：國立臺灣科技大學)。逕寄人力資源辦公室(郵遞區號:106990臺灣科大郵局第116號信箱)，信封上請註明「學海飛颺/惜珠請款」字樣。
                    </div>
                </li>
                <li>
                    <div class="label-schedule">選送生出國前</div>
                    <div class="note-schedule">
                        5. 簽訂行政契約書：由薦送學校與選送生簽訂。選送生於赴國外大專校院研修期間，應保有薦送學校學籍，所修讀學分由校方審核是否符合所訂國外研修學分相關規定。<br>
                        6. 撥款: 由薦送學生於學生出國前核撥第一次經費，且不得少於本部核定補助款百分之八十。
                    </div>
                </li>
                <li>
                    <div class="label-schedule">112年6月-114年11月</div>
                    <div class="note-schedule">
                        7. 選送生資料維護：薦送學校應於選送生出國研修<strong class="text-danger">二週前</strong>，確實至本計畫資訊網維護選送生基本資料表，例如學生實際出國日期、出國研修機構、實際研修日期、實際獲補助經費等。
                        <div class="mt-2">※選送生需於112年5月31日至113年10月31日之間出國</div>
                    </div>
                </li>
                <li>
                    <div class="label-schedule">
                        計畫受補助選送生返國後 <strong class="text-danger">二個月內</strong>
                        <p class="form-text">(結案 按「教育部補助及委辦經費核撥結報作業要點」辦理。)</p>
                    </div>
                    <div class="note-schedule">
                        8.結案<br>
                        (1)計畫結案：由薦送學校督促選送生上傳出國研修心得報告(內容大綱詳見資訊網中之相關規定及表格)至本計畫資訊網登錄備查。<br>
                        (2)經費結案：由薦送學校「備函」檢附「選送生經費支領一覽表」及「教育部補助經費收支結算表」寄送人力資源辦公室(郵遞區號:106990臺灣科大郵局第116號信箱)核結。。<br>
                        <div class="mt-2">※學生心得報告若未全數上傳無法進行經費結案。</div>
                    </div>
                </li>
            </ul>
            <hr>
            <p class="text-danger mt-2">備註：本站保有相關日程表之最後更新權利，如有變動另行公告或通知，最後更新日期 2022-12-30</p>
        </section>
	</div>
</div>



<% content_for :js do %>

<% end %>

