<!-- template: 相關辦法與表格 -->

<div class="container-lg">
	<div class="page-content" id="maincontent">
        <section class="section">
            <div class="section-title">
                <h4>相關辦法</h4>
            </div>
            <ol>
                <li><a href="#" title="{連結名稱}">112教育部鼓勵國內大專校院選送學生出國研修或國外專業實習補助要點</a></li>
                <li><a href="#" title="{連結名稱}">相關附表</a></li>
                <li><a href="#" title="{連結名稱}">低收入戶及中低收入戶學生參加教育部、大專校院選(薦)出國研修或國外專業實習返國後專案性補助計畫</a></li>
            </ol>
        </section>
        <section class="section">
            <div class="section-title">
                <h4>表格</h4>
            </div>
            <ol>
                <li><a href="#" title="{連結名稱}">申請流程說明</a></li>
                <li><a href="#" title="{連結名稱}">行政作業說明(經費請領、變更及結案)</a></li>
                <li><a href="#" title="{連結名稱}">空白計畫書參考</a></li>
                <li><a href="#" title="{連結名稱}">學海惜珠者申請身分及應檢附文件</a></li>
                <li><a href="#" title="{連結名稱}">學海計畫申請懶人包-承辦人</a></li>
                <li><a href="#" title="{連結名稱}">學海計畫申請懶人包-學生</a></li>
            </ol>
        </section>
	</div>
</div>



<% content_for :js do %>

<% end %>

