<!-- template: table test -->

<div class="container-lg">
	<div class="page-content" id="maincontent">
<table class="table align-middle table-bordered">
    <thead>
        <tr>
            <th>狀態</th>
            <th>填單日期</th>
            <th>種類</th>
            <th class="text-center">重要</th>
            <th class="text-center">優先</th>
            <th class="text-center">影響</th>
            <th>標題</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="has-badge"><span class="badge text-bg-info"><i class="fas fa-ticket-alt"></i>  已派工</span></td>
            <td>2023-11-17</td>
            <td>文件資安整理調整</td>
            <td class="text-center has-badge"><span class="badge text-bg-warning">中</span></td>
            <td class="text-center has-badge"><span class="badge text-bg-primary">中</span></td>
            <td class="text-center has-badge"><span class="badge text-bg-danger">大</span></td>
            <td><a href="#">新增任務更新主機環境</a></td>
        </tr>
        <% (1..6).map do |i| %>
        <tr>
            <td class="has-badge"><span class="badge text-bg-primary"><i class="fa fa-play-circle"></i> 處理中</span></td>
            <td>2023-11-17</td>
            <td>系統維護</td>
            <td class="text-center has-badge"><span class="badge text-bg-warning">中</span></td>
            <td class="text-center has-badge"><span class="badge text-bg-primary">中</span></td>
            <td class="text-center has-badge"><span class="badge text-bg-danger">大</span></td>
            <td><a href="#">任務執行或暫停時沒有扣除中午休息時間、下班時間及加入加班時間下班時間及加入加班時間下班時間及</a></td>
        </tr>
        <% end %>
        <tr>
            <td class="has-badge"><span class="badge text-bg-info"><i class="fas fa-ticket-alt"></i>  已派工</span></td>
            <td>2023-11-17</td>
            <td>資安文件維護</td>
            <td class="text-center has-badge"><span class="badge text-bg-warning">中</span></td>
            <td class="text-center has-badge"><span class="badge text-bg-primary">中</span></td>
            <td class="text-center has-badge"><span class="badge text-bg-danger">大</span></td>
            <td><a href="#">檢視增修案"任務"時，無法連結回原相關專案處，請加入連結按鈕</a></td>
        </tr>
    </tbody>
</table>
	</div>
</div>



<% content_for :js do %>

<% end %>

