
/* `Login
-----------------------------------------------------------------------------*/

.height-layout,
.login-layout {
	height: 100vh;
}

.login-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-image: url(../assets/trianglify.png);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 100%;
	position: relative;
	&:before {
		content: "";
		background: rgba(#000, .35);
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	}
	.login {
		min-width: 400px;
	}
	.logo {
		position: relative;
	}
}

.login-wrapper {
	.login-card {
		background: #fff;
		border-radius: .375rem;
		box-shadow: 0 8px 8px rgba(#000, .05), 0 4px 8px rgba(#000, .1);
        width: 420px;
        padding: 5rem 2rem 2rem;
        position: relative;
        .logo-circle {
            background: #fff;
            border-radius: 50%;
            padding: .5rem;
            position: absolute;
            top: -72px;
            left: 50%;
            margin-left: -72px;
            .logo__img {
                display: inline-block;
                width: 128px;
                height: auto;
            }
        }
		.logo-rectangle {
			background: #41474c;
			border-radius: .313rem .313rem 0 0;
			margin: -5rem -2rem 2rem;
			padding: 2rem;
			text-align: center;
            .logo__img {
                display: inline-block;
                width: auto;
                height: 72px;
            }
		}
        hgroup {
            text-align: center;
            h3 { font-weight: bold; }
            h5 { color: #888; }
        }
        .forget-password {
            margin-bottom: 0;
            padding-top: 3rem;
            text-align: center;
            position: relative;
            &:after {
                content: "";
                background: #777;
                margin-left: -24px;
                width: 48px;
                height: 2px;
                position: absolute;
                left: 50%;
                top: 12px;
            }
            a {
                color: #aaa;
                &:hover { color: #333; }
            }
        }
        .input-group-addon.verification {
            padding-top: 32px;
        }
	}
}

.login-page {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	position: relative;
	.container-absolute {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: -1;
	}
}

.role-page {
	.role_switch-container {
		padding: 4rem 0 2rem;
		.role_logo { margin-bottom: 2rem; }
	}
	.container-absolute {
		position: fixed;
	}
}

.effect_clouds {
	background: #2f323c;
    min-height: 100vh;
    display: grid;
    grid:
    "main" 100vh
    / auto;
    place-items: center;
    svg {
        grid-area: main;
        height: 100%;
        width: 100%;
    }
}

.effect_light {
    margin: 0;
    height: 100vh;
    background: radial-gradient(#8a0c0e,#382324);
    overflow-y: hidden;
    animation: fadeIn 1 1s ease-out;
    .light {
        position: absolute;
        width: 0px;
        opacity: .75;
        background-color: white;
        box-shadow: #e9f1f1 0px 0px 20px 2px;
        opacity: 0;
        top: 100vh;
        bottom: 0px;
        left: 0px;
        right: 0px;
        margin: auto;
    }

    .x1{
      animation: floatUp 4s infinite linear;
      transform: scale(1.0);
    }

    .x2{
      animation: floatUp 7s infinite linear;
      transform: scale(1.6);
      left: 15%;
    }

    .x3{
      animation: floatUp 2.5s infinite linear;
      transform: scale(.5);
      left: -15%;
    }

    .x4{
      animation: floatUp 4.5s infinite linear;
      transform: scale(1.2);
      left: -34%;
    }

    .x5{
      animation: floatUp 8s infinite linear;
      transform: scale(2.2);
      left: -57%;
    }

    .x6{
      animation: floatUp 3s infinite linear;
      transform: scale(.8);
      left: -81%;
    }

    .x7{
      animation: floatUp 5.3s infinite linear;
      transform: scale(3.2);
      left: 37%;
    }

    .x8{
      animation: floatUp 4.7s infinite linear;
      transform: scale(1.7);
      left: 62%;
    }

    .x9{
      animation: floatUp 4.1s infinite linear;
      transform: scale(0.9);
      left: 85%;
    }

    @-webkit-keyframes floatUp {
        0% {
            top: 100vh;
            opacity: 0;
        }
        25% {
            opacity: 1;
        }
        50% {
            top: 0vh;
            opacity: 0.8;
        }
        75% {
            opacity: 1;
        }
        100% {
            top: -100vh;
            opacity: 0;
        }
    }
    @-moz-keyframes floatUp {
        0% {
            top: 100vh;
            opacity: 0;
        }
        25% {
            opacity: 1;
        }
        50% {
            top: 0vh;
            opacity: 0.8;
        }
        75% {
            opacity: 1;
        }
        100% {
            top: -100vh;
            opacity: 0;
        }
    }
    @-o-keyframes floatUp {
        0% {
            top: 100vh;
            opacity: 0;
        }
        25% {
            opacity: 1;
        }
        50% {
            top: 0vh;
            opacity: 0.8;
        }
        75% {
            opacity: 1;
        }
        100% {
            top: -100vh;
            opacity: 0;
        }
    }
    @keyframes floatUp {
        0% {
            top: 100vh;
            opacity: 0;
        }
        25% {
            opacity: 1;
        }
        50% {
            top: 0vh;
            opacity: 0.8;
        }
        75% {
            opacity: 1;
        }
        100% {
            top: -100vh;
            opacity: 0;
        }
    }
}

.effect_torn {
    $nodeStreak: #242b3a ;
    $computationalFogTop: #3658a7;
    $computationalFogBot: #3658a7;
    $visualDistortionZapper: 360px;
    $nanoVelocity: 15s;
    background: linear-gradient($computationalFogTop 25%, $nodeStreak 50%, $nodeStreak 50%, $computationalFogBot 100%);
    .wrap {
        width: 100%;
        height: 100%;
        position: absolute;
        margin: 0 auto;
        perspective: $visualDistortionZapper;
        perspective-origin: 50% 50%;
    }

    .top-plane {
        width: 200%;
        height: 130%;
        position: absolute;
        bottom: -30%;
        left: -50%;
        background-image: -webkit-linear-gradient(rgba(#fff, .1) 2px, transparent 2px), -webkit-linear-gradient(left, rgba(#fff, .1) 2px, transparent 2px);
        background-size: 100px 100px, 100px 100px;
        background-position: -1px -1px, -1px -1px;
        transform: rotateX(85deg);
        animation: planeMoveTop $nanoVelocity infinite linear;
    }

    .bottom-plane {
        @extend .top-plane;
        transform: rotateX(-85deg);
        top: -30%;
        animation: planeMoveBot $nanoVelocity infinite linear;
    }

    @keyframes planeMoveTop {
        from {
            background-position: 0px -100px, 0px 0px;
        }
        to {
            background-position: 0px 0px, 100px 0px;
        }
    }

    @keyframes planeMoveBot {
        from {
            background-position: 0px 0px, 0px 0px;
        }
        to {
            background-position: 0px -100px, 100px 0px;
        }
    }

    @media (max-height: 350px) {
        .wrap {
            perspective: $visualDistortionZapper - 150;
        }
    }
}

.effect_cube {
	background-color: rgba(19,63,88,1);
	overflow: hidden;
    .cube {
        position: absolute;
        top: 80vh;
        left: 45vw;
        width: 10px;
        height: 10px;
        border: solid 1px darken(#242829, 8%);
        transform-origin: top left;
        transform: scale(0) rotate(0deg) translate(-50%, -50%);
        animation: cube 12s ease-in forwards infinite;

        &:nth-child(2n) {
            border-color: lighten(#242829, 10%);
        }

        &:nth-child(2) {
            animation-delay: 2s;
            left: 25vw;
            top: 40vh;
        }

        &:nth-child(3) {
            animation-delay: 4s;
            left: 75vw;
            top: 50vh;
        }

        &:nth-child(4) {
            animation-delay: 6s;
            left: 90vw;
            top: 10vh;
        }

        &:nth-child(5) {
            animation-delay: 8s;
            left: 10vw;
            top: 85vh;
        }

        &:nth-child(6) {
            animation-delay: 10s;
            left: 50vw;
            top: 10vh;
        }
    }

    @keyframes cube {
        from {
            transform: scale(0) rotate(0deg) translate(-50%, -50%);
            opacity: 1;
        }
        to {
            transform: scale(20) rotate(960deg) translate(-50%, -50%);
            opacity: 0;
        }
    }
}

.effect_breathe {
    background: #00adef;
    background: linear-gradient(135deg, #00adef 0%,#0076e5 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00adef', endColorstr='#0076e5',GradientType=1 );
    overflow: hidden;
    .effect-inside {
        position: relative;
        min-width: 1920px;
        max-width: 2560px;
        height: auto;
        min-height: 300%;
        margin: 0px auto;
        padding: 0px auto;
        overflow: visible;
    }

    .circle-small {
        -webkit-animation: circle-small-scale 3s ease-in-out infinite alternate;
        animation: circle-small-scale 3s ease-in-out infinite alternate;
        animation-timing-function: cubic-bezier(0.6, 0, 0.4, 1);
        animation-delay: 0s;
        position: absolute;
        top: 200px;
        left: -20%;
        background: #fff;
        width: 900px;
        height: 900px;
        border-radius: 50%;
        opacity: 0.4;
    }

    .circle-medium {
        -webkit-animation: circle-small-scale 3s ease-in-out infinite alternate;
        animation: circle-small-scale 3s ease-in-out infinite alternate;
        animation-timing-function: cubic-bezier(0.6, 0, 0.4, 1);
        animation-delay: 0.3s;
        position: absolute;
        top: 50px;
        left: -25%;
        background: #fff;
        width: 1200px;
        height: 1200px;
        border-radius: 50%;
        opacity: 0.3;
    }

    .circle-large {
        -webkit-animation: circle-small-scale 3s ease-in-out infinite alternate;
        animation: circle-small-scale 3s ease-in-out infinite alternate;
        animation-timing-function: cubic-bezier(0.6, 0, 0.4, 1);
        animation-delay: 0.6s;
        position: absolute;
        top: -100px;
        left: -30%;
        background: #fff;
        width: 1500px;
        height: 1500px;
        border-radius: 50%;
        opacity: 0.2;
    }

    .circle-xlarge {
        -webkit-animation: circle-small-scale 3s ease-in-out infinite alternate;
        animation: circle-small-scale 3s ease-in-out infinite alternate;
        animation-timing-function: cubic-bezier(0.6, 0, 0.4, 1);
        animation-delay: 0.9s;
        position: absolute;
        top: -250px;
        left: -35%;
        background: #fff;
        width: 1800px;
        height: 1800px;
        border-radius: 50%;
        opacity: 0.1;
    }

    .circle-xxlarge {
        -webkit-animation: circle-small-scale 3s ease-in-out infinite alternate;
        animation: circle-small-scale 3s ease-in-out infinite alternate;
        animation-timing-function: cubic-bezier(0.6, 0, 0.4, 1);
        animation-delay: 1.2s;
        position: absolute;
        top: -400px;
        left: -40%;
        background: #fff;
        width: 2100px;
        height: 2100px;
        border-radius: 50%;
        opacity: 0.05;
    }

    @-webkit-keyframes circle-small-scale {
        0% {
            -webkit-transform: scale(1);
        }
        100% {
            -webkit-transform: scale(1.1);
        }
    }

    @keyframes circle-small-scale {
        0% {
            transform: scale(1);
        }
        100% {
            transform: scale(1.1);
        }
    }
}
















