


.outbound-wrapper {
	max-width: 1600px;
	.outbound-toolbar {
		display: flex;
		justify-content: space-between;
		margin-bottom: 1.5rem;
		.start-group {
			display: flex;
			gap: .5rem;
		}
	}
	.outbound-note {
		margin: .5rem 0 1.5rem;
	}
	.wrapper-inner {
		display: flex;
		gap: 2rem;
	}
	.data-list,
	.outbound-list {
		width: 50%;
		.data-item {
			display: flex;
			align-items: center;
			justify-content: space-between;
			gap: .5rem;
			background: #fff;
			border: 1px solid #e5e5e5;
			border-radius: .25rem;
			box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
			margin-bottom: .25rem;
			padding-left: 1rem;
			transition: all 0.2s ease-in-out;
			opacity: 1;
			.btn {
				border-radius: 0 .25rem .25rem 0;
				padding-left: 1.5rem;
				padding-right: 1.5rem;
			}
			&.moving {
				animation: btnMove 2s ease-in-out;
			}
		}
		.item-number {
			display: inline-block;
			margin-right: .5rem;
		}
	}
	.outbound-list {
		.item-number {
			font-weight: bold;
		}
	}
}

@keyframes btnMove {
	0% {
		background-color: rgba(131, 0, 253, 0.05);
		box-shadow: 0 0 0 rgba(0, 0, 0, 0);
		opacity: 0.5;
	}
	100% {
		background-color: #fff;
		box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
		opacity: 1;
	}
}