<header class="header">
    <nav class="navbar navbar-expand-lg navbar-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="mr-auto">
			    <h5 class="mb-0">110 年度第 2 學期</h5>
			</div>
            <ul class="navbar-nav nav-right ml-md-auto">
                <li class="nav-item dropdown">
                    <span class="counter">3</span>
                    <a href="" class="notifications-dropdown dropdown-toggle nav-link no-after" data-toggle="dropdown" aria-expanded="false">
                        <i class="fa fa-bell-o"></i>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-head">
                            <i class="fa fa-bell-o"></i>
                            <span>Notifications</span>
                        </li>
                        <li>
                            <ul class="has-row">
                                <li>
                                    <a href="" class="dropdown-item">
                                        <div class="peer mr-15"><img src="../assets/default-avatar.svg" alt=""></div>
                                        <div class="peer peer-greed">
                                            <div class="flex between">
                                                <p>John Doe</p>
                                                <small>5 mins ago</small>
                                            </div>
                                            <span class="summary">Want to create your own customized data generator for your app...</span>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="" class="dropdown-item">
                                        <div class="peer mr-15"><img src="../assets/default-avatar.png" alt=""></div>
                                        <div class="peer peer-greed">
                                            <div class="flex between">
                                                <p>John Doe</p>
                                                <small>5 mins ago</small>
                                            </div>
                                            <span class="summary">Want to create your own customized data generator for your app...</span>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="" class="dropdown-item">
                                        <div class="peer mr-15"><img src="../assets/default-avatar.svg" alt=""></div>
                                        <div class="peer peer-greed">
                                            <div class="flex between">
                                                <p>John Doe</p>
                                                <small>5 mins ago</small>
                                            </div>
                                            <span class="summary">Want to create your own customized data generator for your app...</span>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown-foot"><div class="view-all"><a href="">View All Notifications <i class="fa fa-angle-right"></i></a></div ></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <span class="counter">3</span>
                    <a href="" class="email-dropdown dropdown-toggle nav-link no-after" data-toggle="dropdown" aria-expanded="false">
                        <i class="fa fa-envelope-o"></i>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-head">
                            <i class="fa fa-envelope-o"></i>
                            <span>Emails</span>
                        </li>
                        <li>
                            <ul class="has-row">
                                <li>
                                    <a href="" class="dropdown-item">
                                        <div class="peer mr-15"><img src="../assets/default-avatar.svg" alt=""></div>
                                        <div class="peer peer-greed">
                                            <div class="flex between">
                                                <p>John Doe</p>
                                                <small>5 mins ago</small>
                                            </div>
                                            <span class="summary">Want to create your own customized data generator for your app...</span>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="" class="dropdown-item">
                                        <div class="peer mr-15"><img src="../assets/default-avatar.svg" alt=""></div>
                                        <div class="peer peer-greed">
                                            <div class="flex between">
                                                <p>John Doe</p>
                                                <small>5 mins ago</small>
                                            </div>
                                            <span class="summary">Want to create your own customized data generator for your app...</span>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="" class="dropdown-item">
                                        <div class="peer mr-15"><img src="../assets/default-avatar.svg" alt=""></div>
                                        <div class="peer peer-greed">
                                            <div class="flex between">
                                                <p>John Doe</p>
                                                <small>5 mins ago</small>
                                            </div>
                                            <span class="summary">Want to create your own customized data generator for your app...</span>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown-foot"><div class="view-all"><a href="">View All Email <i class="fa fa-angle-right"></i></a></div ></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle peers" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<div class="peer"><img class="w-2r bdrs-50p" src="../assets/default-avatar.svg" alt=""></div>
						<span class="peer username">UserName</span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Profile</a>
                        <a class="dropdown-item" href="#">Settings</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Logout</a>
                    </div>
                </li>
                <li class="nav-item"><a href="#" class="js-toggle-right-slidebar nav-link blue-gradient">切換</a></li>
            </ul>
        </div>
    </nav>
</header>