
header.header {
	display: none;
}

.application-wrapper {
	.head-title {
		margin-bottom: 3rem;
		padding-bottom: 0;
		&::after {
			display: none;
		}
	}
}

.withdrawal-wrapper {
	display: block;
	.info-aside, .withdrawal-main {
		width: 100% !important;
	}
	.notice-wrapper * {
		background: transparent !important;
		padding: 0 !important;
		font-size: 1rem !important;
	}
	.form-action {
		display: none;
	}
	textarea {
		display: block;
		width: 100% !important;
	}
}