<span><a href="#C" title="中央內容區塊" id="AC" accesskey="C" name="C">:::</a></span>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#" title="首頁">首頁</a></li>
        <li class="breadcrumb-item"><a href="#" title="接待家庭">接待家庭</a></li>
        <li class="breadcrumb-item active" aria-current="page" title="活動專區">活動專區</li>
    </ol>
</nav>