<footer class="footer">
    <div class="footer-inner">
        <div class="container-lg">
            <div class="inner-wrap">
                <div class="footer-start">
                    <h3 class="ft-nisa"><a href="#" title="大專校院境外學生輔導人員支援體系計畫辦公室(NISA)">大專校院境外學生輔導人員支援體系計畫辦公室(NISA)(另開視窗)</a></h3>
                    <h4>大專校院境外學生接待家庭計畫辦公室(LMMF Host Family Program)</h4>
                    <p>聯絡時間：星期一至五上午9點至12點，下午2點至5點</p>
                    <ul class="menu-item contact">
                        <li>地址：407臺中市西屯區文華路100號(逢甲大學)</li>
                        <li>電話：(04)2451-7250 分機：2486</li>
                        <li>境外：+886 4 2451 7250 分機：2486</li>
                        <li>信箱：<a href="mailto:lmmf111@o365.fcu.edu.tw" title="辦公室 Email">lmmf111@o365.fcu.edu.tw</a></li>
                    </ul>
                </div>
                <div class="footer-end">
                    <div class="footer-link">
                        <ul class="menu-item">
                            <li><a href="#" title="隱私權及資通安全政策">隱私權及資通安全政策</a></li>
                            <li><a href="#" title="著作肖像權聲明">著作肖像權聲明</a></li>
                        </ul>
                    </div>
                    <div class="social-link">
                        <ul class="menu-item">
                            <li><a href="#" title="Facebook"><i class="fab fa-facebook-f"></i> Facebook</a></li>
                            <li><a href="#" title="Instagram"><i class="fab fa-instagram"></i> Instagram</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-lg">
        <div class="footer-bottom">
            <div class="bt-start">瀏覽人次 <span>376394</span></div>
            <div class="bt-end">
                <address>Copyright © 2023 大專院校境外學生輔導人員資訊交流平台</address>
                <a class="accessibility-link" href="#" title="移至無障礙標章網頁"><img src="../assets/aa.png" alt="通過AA檢測等級無障礙網頁檢測"></a>
            </div>
        </div>
    </div>
</footer>