<footer class="footer">
    <div class="footer-inner">
        <div class="container-lg">
            <div class="inner-wrap">
                <div class="footer-start">
                    <h3 class="ft-nisa"><a href="#" title="Network for International Student Advisors(NISA)">Network for International Student Advisors(NISA)</a></h3>
                    <h4>Light a Match Meet a Family - LMMF Program</h4>
                    <p>Office hours: 9:00am to 12:00pm and 2:00pm to 5:00pm, Monday to Friday</p>
                    <ul class="menu-item contact">
                        <li>Address: No. 100, Wenhua Rd., Xitun Dist., Taichung City, Taiwan (ROC).</li>
                        <li>Telephone number: 04-2451-7250 ext. 2486</li>
                        <li>International: +886 4 2451 7250 ext. 2486</li>
                        <li>Email: <a href="mailto:lmmf111@o365.fcu.edu.tw" title="Office Email">lmmf111@o365.fcu.edu.tw</a></li>
                    </ul>
                </div>
                <div class="footer-end">
                    <div class="footer-link">
                        <ul class="menu-item">
                            <li><a href="#" title="Privacy and Cyber Security Policy">Privacy and Cyber Security Policy</a></li>
                            <li><a href="#" title="Copyright Statement">Copyright Statement</a></li>
                        </ul>
                    </div>
                    <div class="social-link">
                        <ul class="menu-item">
                            <li><a href="#" title="Facebook"><i class="fab fa-facebook-f"></i> Facebook</a></li>
                            <li><a href="#" title="Instagram"><i class="fab fa-instagram"></i> Instagram</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-lg">
        <div class="footer-bottom">
            <div class="bt-start">Views <span>376394</span></div>
            <div class="bt-end">
                <address>Copyright © 2023 Network for International Student Advisors</address>
                <a class="accessibility-link" href="#" title="移至無障礙標章網頁"><img src="../assets/aa.png" alt="通過AA檢測等級無障礙網頁檢測"></a>
            </div>
        </div>
    </div>
</footer>