<header class="header header-white" id="pagetop">
    <div class="header-wrap">
        <div class="container-lg">
            <div class="header-inner">
                <div class="header-right">
                    <a class="accesskey" href="#U" id="AU" name="U" title="右方選單區導盲磚" accesskey="U">:::</a>
                    <div class="language">
                        <a href="#" title="English">
                            <i class="fas fa-globe"></i>
                            <span>EN</span>
                        </a>
                    </div>
                    <div class="account">
                        <div class="dropdown">
                            <button class="dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fas fa-user-circle"></i>
                                <span>emailaccount@email.com</span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#" title="變更密碼">變更密碼</a></li>
                                <li><a class="dropdown-item" href="#" title="登出">登出</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="link-nisa">
                        <a href="#" title="NISA首頁">
                            <i class="aplus"><img src="../assets/aplus_white.png" alt="NISA Logo"></i>
                            <span>NISA首頁</span>
                        </a>
                    </div>
                </div>
                <div class="brands">
                    <a class="brands-link" href="index.html" title="回首頁">
                        <div class="logo">
                            <h1 class="text-hide">Light a Match Meet a Family - LMMF Program</h1>
                            <img class="h1-logo" src="../assets/logo-lmmf-white.svg" alt="LMMF Logo">
                        </div>
                        <div class="logo-text">
                            <h2 class="text-hide">大專校院境外學生接待家庭計畫</h2>
                            <img src="../assets/logo-text-white.svg" alt="LMMF Logo">
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <nav class="navbar navbar-expand-lg" aria-label="主要功能選單">
        <div class="container-lg">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link program-link" href="#" title="計畫介紹">計畫介紹</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link family-link" href="#" title="接待家庭">接待家庭</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link student-link" href="#" title="境外學生">境外學生</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link university-link" href="#" title="大專校院">大專校院</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link matchbox-link active" href="#" title="火柴盒">火柴盒</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link qa-link" href="#" title="常見問答">常見問答</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>