<!-- ntuoia: 合約統計表 - 學校 -->

<%= render :partial => "/partials/breadcrumb" %>

<div class="container">
	<div class="pages-row">
	    <%= render :partial => "/partials/accordian_nav" %>
		<main class="main">
		    <div class="main-inner">
                <div class="title-wrap">
                    <h3 class="section-title">
						查理士大學
						<small class="en">Charles University in Prague</small>
					</h3>
                </div>
				<h4 class="block-title">
					<span>校級合約清單</span>
				</h4>
				<div class="table-responsive">
				    <table class="table table-sm table-bordered table-align-middle">
					    <thead class="blue-grey lighten-5">
						    <tr>
								<th>簽約單位</th>
								<th>對方簽約單位</th>
							    <th>合約種類</th>
								<th>簽約日</th>
								<th>到期日</th>
								<th>狀態</th>
							</tr>
						</thead>
						<tbody>
						    <tr>
							    <td>
								    <span class="break">工學院</span>
									<span class="break">電機資訊學院</span>
								</td>
								<td>
								    <span class="break">德拉瓦大學</span>
									<span class="break">工學院</span>
								</td>
								<td>
								    <span class="break">交換學生</span>
									<span class="break">附約</span>
								</td>
								<td>2008-10-30</td>
								<td>2020-10-30</td>
								<td>active </td>
							</tr>
							<tr>
							    <td colspan="6">
								    <span class="break">合約中文： MEMORANDAM CONCERNING AMENDMENT TO INTERNATIONAL EXCHANGE AGREEMENT</span>
									<span class="break">合約英文： MEMORANDAM CONCERNING AMENDMENT TO INTERNATIONAL EXCHANGE AGREEMENT (EXTENSION)</span>
								</td>
							</tr>
							<tr>
							    <td colspan="6" class="separate"></td>
							</tr>
						    <tr>
							    <td><span class="break">電機資訊學院</span></td>
								<td>
								    <span class="break">捷克布拉格科技大學</span>
									<span class="break">電機工程學院</span>
								</td>
								<td><span class="break">母約</span></td>
								<td>2008-10-30</td>
								<td>2020-10-30</td>
								<td>active</td>
							</tr>
							<tr>
							    <td colspan="6">
								    <span class="break">合約中文：國立臺灣大學電機資訊學院與美國南加州大學合作備忘錄 </span>
									<span class="break">合約英文：Memorandum of Understanding between Viterbi School of Engineering, University of South California, Los Angels, California 90039-0911, USA and College of Electrical Engineering and Computer Science, National Taiwan University, Taipei 10617, Taiwan, Republic of China</span>
								</td>
							</tr>
							<tr>
							    <td colspan="6" class="separate"></td>
							</tr>
							<tr>
							    <td>
								    <span class="break">工學院</span>
									<span class="break">電機資訊學院</span>
								</td>
								<td>
								    <span class="break">東京大學</span>
									<span class="break">大學院情報理工學系研究科</span>
								</td>
								<td>
								    <span class="break">交換學生</span>
									<span class="break">交換教授</span>
								</td>
								<td>2008-10-30</td>
								<td>2024-10-30</td>
								<td>active</td>
							</tr>
							<tr>
							    <td colspan="6">
								    <span class="break">合約中文：國立臺灣大學電機資訊學院與東京大學大學院情報理工學系研究科交換教師、研究人員及研究生備忘錄</span>
									<span class="break">合約英文：</span>
								</td>
							</tr>
							<tr>
							    <td colspan="6" class="separate"></td>
							</tr>
						</tbody>
					</table>
				</div>
				<h4 class="block-title">
					<span>院級合約清單</span>
				</h4>
				<div class="table-responsive">
				    <table class="table table-sm table-bordered table-align-middle">
					    <thead class="blue-grey lighten-5">
						    <tr>
								<th>簽約單位</th>
								<th>對方簽約單位</th>
							    <th>合約種類</th>
								<th>簽約日</th>
								<th>到期日</th>
								<th>狀態</th>
							</tr>
						</thead>
						<tbody>
						    <tr>
							    <td>
								    <span class="break">工學院</span>
									<span class="break">電機資訊學院</span>
								</td>
								<td>
								    <span class="break">德拉瓦大學</span>
									<span class="break">工學院</span>
								</td>
								<td>
								    <span class="break">交換學生</span>
									<span class="break">附約</span>
								</td>
								<td>2008-10-30</td>
								<td>2020-10-30</td>
								<td>active </td>
							</tr>
							<tr>
							    <td colspan="6">
								    <span class="break">合約中文： MEMORANDAM CONCERNING AMENDMENT TO INTERNATIONAL EXCHANGE AGREEMENT</span>
									<span class="break">合約英文： MEMORANDAM CONCERNING AMENDMENT TO INTERNATIONAL EXCHANGE AGREEMENT (EXTENSION)</span>
								</td>
							</tr>
							<tr>
							    <td colspan="6" class="separate"></td>
							</tr>
						    <tr>
							    <td><span class="break">電機資訊學院</span></td>
								<td>
								    <span class="break">捷克布拉格科技大學</span>
									<span class="break">電機工程學院</span>
								</td>
								<td><span class="break">母約</span></td>
								<td>2008-10-30</td>
								<td>2020-10-30</td>
								<td>active</td>
							</tr>
							<tr>
							    <td colspan="6">
								    <span class="break">合約中文：國立臺灣大學電機資訊學院與美國南加州大學合作備忘錄 </span>
									<span class="break">合約英文：Memorandum of Understanding between Viterbi School of Engineering, University of South California, Los Angels, California 90039-0911, USA and College of Electrical Engineering and Computer Science, National Taiwan University, Taipei 10617, Taiwan, Republic of China</span>
								</td>
							</tr>
							<tr>
							    <td colspan="6" class="separate"></td>
							</tr>
							<tr>
							    <td>
								    <span class="break">工學院</span>
									<span class="break">電機資訊學院</span>
								</td>
								<td>
								    <span class="break">東京大學</span>
									<span class="break">大學院情報理工學系研究科</span>
								</td>
								<td>
								    <span class="break">交換學生</span>
									<span class="break">交換教授</span>
								</td>
								<td>2008-10-30</td>
								<td>2024-10-30</td>
								<td>active</td>
							</tr>
							<tr>
							    <td colspan="6">
								    <span class="break">合約中文：國立臺灣大學電機資訊學院與東京大學大學院情報理工學系研究科交換教師、研究人員及研究生備忘錄</span>
									<span class="break">合約英文：</span>
								</td>
							</tr>
							<tr>
							    <td colspan="6" class="separate"></td>
							</tr>
						</tbody>
					</table>
				</div>
				<h4 class="block-title">
					<span>系所中心合約清單</span>
				</h4>
				<div class="table-responsive">
				    <table class="table table-sm table-bordered table-align-middle">
					    <thead class="blue-grey lighten-5">
						    <tr>
								<th>簽約單位</th>
								<th>對方簽約單位</th>
							    <th>合約種類</th>
								<th>簽約日</th>
								<th>到期日</th>
								<th>狀態</th>
							</tr>
						</thead>
						<tbody>
						    <tr>
							    <td>
								    <span class="break">工學院</span>
									<span class="break">電機資訊學院</span>
								</td>
								<td>
								    <span class="break">德拉瓦大學</span>
									<span class="break">工學院</span>
								</td>
								<td>
								    <span class="break">交換學生</span>
									<span class="break">附約</span>
								</td>
								<td>2008-10-30</td>
								<td>2020-10-30</td>
								<td>active </td>
							</tr>
							<tr>
							    <td colspan="6">
								    <span class="break">合約中文： MEMORANDAM CONCERNING AMENDMENT TO INTERNATIONAL EXCHANGE AGREEMENT</span>
									<span class="break">合約英文： MEMORANDAM CONCERNING AMENDMENT TO INTERNATIONAL EXCHANGE AGREEMENT (EXTENSION)</span>
								</td>
							</tr>
							<tr>
							    <td colspan="6" class="separate"></td>
							</tr>
						    <tr>
							    <td><span class="break">電機資訊學院</span></td>
								<td>
								    <span class="break">捷克布拉格科技大學</span>
									<span class="break">電機工程學院</span>
								</td>
								<td><span class="break">母約</span></td>
								<td>2008-10-30</td>
								<td>2020-10-30</td>
								<td>active</td>
							</tr>
							<tr>
							    <td colspan="6">
								    <span class="break">合約中文：國立臺灣大學電機資訊學院與美國南加州大學合作備忘錄 </span>
									<span class="break">合約英文：Memorandum of Understanding between Viterbi School of Engineering, University of South California, Los Angels, California 90039-0911, USA and College of Electrical Engineering and Computer Science, National Taiwan University, Taipei 10617, Taiwan, Republic of China</span>
								</td>
							</tr>
							<tr>
							    <td colspan="6" class="separate"></td>
							</tr>
							<tr>
							    <td>
								    <span class="break">工學院</span>
									<span class="break">電機資訊學院</span>
								</td>
								<td>
								    <span class="break">東京大學</span>
									<span class="break">大學院情報理工學系研究科</span>
								</td>
								<td>
								    <span class="break">交換學生</span>
									<span class="break">交換教授</span>
								</td>
								<td>2008-10-30</td>
								<td>2024-10-30</td>
								<td>active</td>
							</tr>
							<tr>
							    <td colspan="6">
								    <span class="break">合約中文：國立臺灣大學電機資訊學院與東京大學大學院情報理工學系研究科交換教師、研究人員及研究生備忘錄</span>
									<span class="break">合約英文：</span>
								</td>
							</tr>
							<tr>
							    <td colspan="6" class="separate"></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</main>
    </div>
</div>



<% content_for :js do %>

<% end %>
































