<!-- ntuoia: 合約統計表 -->

<%= render :partial => "/partials/breadcrumb" %>

<div class="container">
	<div class="pages-row">
	    <%= render :partial => "/partials/accordian_nav" %>
		<main class="main">
		    <div class="main-inner">
                <div class="title-wrap">
                    <h3 class="section-title">合約統計表</h3>
                </div>
				<h4 class="block-title">
					<span>合約統計表</span>
				</h4>
				<div class="table-responsive">
				    <table class="table table-bordered">
					    <thead class="blue-grey lighten-5">
						    <tr>
								<th></th>
							    <th>國家數</th>
								<th>學校數</th>
								<th>有效合約數 ( 校 / 院 / 系所 / 其他 )</th>
								<th>累計參與人數 ( 校 / 院 / 系所 / 其他 )</th>
							</tr>
						</thead>
						<tbody>
						    <tr>
							    <th>姊妹校</th>
								<td>66</td>
								<td>643</td>
								<td>1760 ( 650 / 756 / 352 / 2 ) </td>
								<td>n/a</td>
							</tr>
						</tbody>
					</table>
				</div>
                <h4 class="block-title">
					<span>合作計畫</span>
				</h4>
				<div class="table-responsive">
				    <table class="table table-sm table-striped table-bordered">
					    <thead>
						    <tr>
							    <th></th>
								<th>國家數</th>
								<th>學校數</th>
								<th>有效合約數 ( 校 / 院 / 系所 / 其他 )</th>
								<th>累計參與人數 ( 校 / 院 / 系所 / 其他 )</th>
							</tr>
						</thead>
						<tbody>
							<% (1..5).each do |n| %>
						    <tr>
							    <th>母約</th>
								<td>63</td>
								<td>562</td>
								<td>937 ( 362 / 365 / 208 / 2 )</td>
								<td>n/a</td>
							</tr>
							<tr>
							    <th>交換學生</th>
								<td>49</td>
								<td>395</td>
								<td>685 ( 266 / 334 / 85 / 0 )</td>
								<td>n/a</td>
							</tr>
							<% end %>
							<tr>
							    <th>雙聯學位 (個案)</th>
								<td>3</td>
								<td>7</td>
								<td>8 ( 0 / 0 / 8 / 0 )</td>
								<td>n/a</td>
							</tr>
						</tbody>
					</table>
				</div>
				<h4 class="block-title">
					<span>分類</span>
				</h4>
				<!-- 需要 hash -->
                <ul class="nav nav-tabs nav-justified md-tabs ntu-main lg-padding" id="agreementTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="country-tab" data-toggle="tab" href="#country" role="tab" aria-controls="country" aria-selected="true">
							依洲國別分類 
						</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="unit-tab" data-toggle="tab" href="#unit" role="tab" aria-controls="unit" aria-selected="false">
							依院系所分類 
						</a>
                    </li>
                </ul>
                <div class="tab-content" id="agreementTabContent">
                    <div class="tab-pane fade show active" id="country" role="tabpanel" aria-labelledby="country-tab">
                        <div class="agr-wrapper">
							<div class="zone-wrapper">
                                <h4 class="tabs-title">
                                    <a href="#" class="btn-title">跨洲 <span class="count">3</span></a>
                                </h4>
                                <ul class="agr-list menu-item">
                                    <li>
                                        <a href="#" class="agr-link">跨洲跨國 <span class="count">3</span></a>
                                    </li>
                                </ul>
							</div>
							<div class="zone-wrapper">
                                <h4 class="tabs-title">
                                    <a href="#" class="btn-title">美洲 <span class="count">268</span></a>
                                </h4>
                                <ul class="agr-list menu-item">
                                    <% (1..2).each do |n| %>
                                    <li>
                                        <a href="#" class="agr-link">BRAZIL <span class="count">5</span></a>
                                    </li>
                                    <li>
                                        <a href="#" class="agr-link">加拿大 <span class="count">43</span></a>
                                    </li>
                                    <li>
                                        <a href="#" class="agr-link">哥斯大黎加 <span class="count">43</span></a>
                                    </li>
                                    <% end %>
                                </ul>
							</div>
							<div class="zone-wrapper">
                                <h4 class="tabs-title">
                                    <a href="#" class="btn-title">亞洲 <span class="count">982</span></a>
                                </h4>
                                <ul class="agr-list menu-item">
                                    <% (1..5).each do |n| %>
                                    <li>
                                        <a href="#" class="agr-link">大陸地區 <span class="count">273</span></a>
                                    </li>
                                    <li>
                                        <a href="#" class="agr-link">香港 <span class="count">37</span></a>
                                    </li>
                                    <li>
                                        <a href="#" class="agr-link">科威特 <span class="count">4</span></a>
                                    </li>
                                    <li>
                                        <a href="#" class="agr-link">俄羅斯聯邦 <span class="count">14</span></a>
                                    </li>
                                    <li>
                                        <a href="#" class="agr-link">台灣 <span class="count">3</span></a>
                                    </li>
                                    <% end %>
                                </ul>
							</div>
							<div class="zone-wrapper">
                                <h4 class="tabs-title">
                                    <a href="#" class="btn-title">歐洲 <span class="count">462</span></a>
                                </h4>
                                <ul class="agr-list menu-item">
                                    <% (1..7).each do |n| %>
                                    <li>
                                        <a href="#" class="agr-link">奧地利 <span class="count">120</span></a>
                                    </li>
                                    <li>
                                        <a href="#" class="agr-link">瑞士 <span class="count">16</span></a>
                                    </li>
                                    <li>
                                        <a href="#" class="agr-link">捷克共和國 <span class="count">13</span></a>
                                    </li>
                                    <li>
                                        <a href="#" class="agr-link">斯洛維尼亞共和國 <span class="count">3</span></a>
                                    </li>
                                    <% end %>
                                </ul>
							</div>
							<div class="zone-wrapper">
                                <h4 class="tabs-title">
                                    <a href="#" class="btn-title">非洲 <span class="count">4</span></a>
                                </h4>
                                <ul class="agr-list menu-item">
                                    <li>
                                        <a href="#" class="agr-link">南非 <span class="count">4</span></a>
                                    </li>
                                </ul>
							</div>
							<div class="zone-wrapper">
                                <h4 class="tabs-title">
                                    <a href="#" class="btn-title">大洋洲 <span class="count">4</span></a>
                                </h4>
                                <ul class="agr-list menu-item">
                                    <li>
                                        <a href="#" class="agr-link">澳大利亞 <span class="count">34</span></a>
                                    </li>
                                    <li>
                                        <a href="#" class="agr-link">斐濟 <span class="count">1</span></a>
                                    </li>
                                    <li>
                                        <a href="#" class="agr-link">紐西蘭 <span class="count">5</span></a>
                                    </li>
                                    <li>
                                        <a href="#" class="agr-link">巴布新幾內亞 <span class="count">1</span></a>
                                    </li>
                                </ul>
							</div>
						</div>
                    </div>
                    <div class="tab-pane fade" id="unit" role="tabpanel" aria-labelledby="unit-tab">
                        <div class="agr-wrapper">
							<% (1..5).each do |n| %>
							<div class="zone-wrapper">
                                <h4 class="tabs-title">
                                    <a href="#" class="btn-title">陳銘憲副校長室 <span class="count">1</span></a>
                                </h4>
                                <ul class="agr-list menu-item">
                                    <li>
                                        <a href="#" class="agr-link">國際產學聯盟辦公室 <span class="count">1</span></a>
                                    </li>
                                </ul>
							</div>
							<% end %>
							<% (1..5).each do |n| %>
							<div class="zone-wrapper">
                                <h4 class="tabs-title">
                                    <a href="#" class="btn-title">文學院 <span class="count">81</span></a>
                                </h4>
                                <ul class="agr-list menu-item">
                                    <% (1..4).each do |n| %>
                                    <li>
                                        <a href="#" class="agr-link">中國文學系 <span class="count">25</span></a>
                                    </li>
                                    <li>
                                        <a href="#" class="agr-link">文學系 <span class="count">8</span></a>
                                    </li>
                                    <li>
                                        <a href="#" class="agr-link">藝術史研究所 <span class="count">12</span></a>
                                    </li>
									<li>
                                        <a href="#" class="agr-link">資訊網路與多媒體研究所 <span class="count">25</span></a>
                                    </li>
                                    <% end %>
                                </ul>
							</div>
							<% end %>
							<% (1..5).each do |n| %>
							<div class="zone-wrapper">
                                <h4 class="tabs-title">
                                    <a href="#" class="btn-title">College of Bioresources and Agriculture <span class="count">72</span></a>
                                </h4>
                                <ul class="agr-list menu-item">
                                    <% (1..4).each do |n| %>
									<li>
                                        <a href="#" class="agr-link">School of Pharmacy <span class="count">25</span></a>
                                    </li>
                                    <li>
                                        <a href="#" class="agr-link">Department of Civil Engineering <span class="count">25</span></a>
                                    </li>
                                    <li>
                                        <a href="#" class="agr-link">Department of Engineering Science and Ocean Engineering <span class="count">8</span></a>
                                    </li>
                                    <li>
                                        <a href="#" class="agr-link">College of Engineering <span class="count">12</span></a>
                                    </li>
                                    <% end %>
                                </ul>
							</div>
							<% end %>
							<% (1..13).each do |n| %>
							<div class="zone-wrapper">
                                <h4 class="tabs-title">
                                    <a href="#" class="btn-title">梁次震宇宙學與粒子天文物理學研究中心 <span class="count">81</span></a>
                                </h4>
                                <ul class="agr-list menu-item">
                                    <% (1..4).each do |n| %>
                                    <li>
                                        <a href="#" class="agr-link">文學系 <span class="count">25</span></a>
                                    </li>
                                    <li>
                                        <a href="#" class="agr-link">外國語文學系 <span class="count">8</span></a>
                                    </li>
                                    <% end %>
                                </ul>
							</div>
							<% end %>
						</div>
                    </div>
                </div>
			</div>
		</main>
    </div>
</div>



<% content_for :js do %>

<% end %>
































