<!-- ntuoia: 合約統計表 - 國家 -->

<%= render :partial => "/partials/breadcrumb" %>

<div class="container">
	<div class="pages-row">
	    <%= render :partial => "/partials/accordian_nav" %>
		<main class="main">
		    <div class="main-inner">
                <div class="title-wrap">
                    <h3 class="section-title">捷克共和國</h3>
                </div>
				<h4 class="block-title">
					<span>合約統計表</span>
				</h4>
				<div class="table-responsive">
				    <table class="table table-bordered">
					    <thead class="blue-grey lighten-5">
						    <tr>
								<th></th>
								<th>學校數</th>
								<th>有效合約數 ( 校 / 院 / 系所 / 其他 )</th>
								<th>累計參與人數 ( 校 / 院 / 系所 / 其他 )</th>
							</tr>
						</thead>
						<tbody>
						    <tr>
							    <th>姊妹校</th>
								<td>5</td>
								<td>13 ( 5 / 6 / 2 / 0 ) </td>
								<td>n/a</td>
							</tr>
						</tbody>
					</table>
				</div>
                <h4 class="block-title">
					<span>合作計畫</span>
				</h4>
				<div class="table-responsive">
				    <table class="table table-sm table-striped table-bordered">
					    <thead>
						    <tr>
							    <th></th>
								<th>學校數</th>
								<th>有效合約數 ( 校 / 院 / 系所 / 其他 )</th>
								<th>累計參與人數 ( 校 / 院 / 系所 / 其他 )</th>
							</tr>
						</thead>
						<tbody>
						    <tr>
							    <th>母約</th>
								<td>5</td>
								<td> 	6 ( 3 / 2 / 1 / 0 )</td>
								<td>n/a</td>
							</tr>
							<tr>
							    <th>交換學生</th>
								<td>4</td>
								<td>6 ( 2 / 4 / 0 / 0 )</td>
								<td>n/a</td>
							</tr>
							<tr>
							    <th>雙聯學位</th>
								<td>1</td>
								<td>1 ( 0 / 0 / 1 / 0 )</td>
								<td>n/a</td>
							</tr>
						</tbody>
					</table>
				</div>
				<h4 class="block-title">
					<span>學校資料</span>
				</h4>
				<div class="table-responsive">
				    <table class="table table-sm table-bordered table-align-middle">
					    <thead class="blue-grey lighten-5">
						    <tr>
								<th>學校名稱</th>
								<th>有效計畫數(校/院/系所/其他)</th>
								<th>網站連結</th>
							</tr>
						</thead>
						<tbody>
						    <tr>
							    <td>
									<a href="/">
                                        <span class="lang">查理士大學</span>
                                        <span class="lang">Charles University in Prague</span>
									</a>
								</td>
								<td>4 ( 3 / 0 / 1 / 0 )</td>
								<td><a href="/">網站</a></td>
							</tr>
							<tr>
							    <td>
									<a href="/">
                                        <span class="lang">國家公共衛生研究院</span>
                                        <span class="lang">National Institute of Public Health (NIPH) </span>
									</a>
								</td>
								<td>1 ( 0 / 0 / 1 / 0 )</td>
								<td><a href="/">網站</a></td>
							</tr>
							<tr>
							    <td>
									<a href="/">
                                        <span class="lang">馬薩裡克大學  </span>
                                        <span class="lang">Masaryk University </span>
									</a>
								</td>
								<td>3 ( 2 / 1 / 0 / 0 )</td>
								<td><a href="/">網站</a></td>
							</tr>
							<tr>
							    <td>
									<a href="/">
                                        <span class="lang">捷克布拉格科技大學</span>
                                        <span class="lang">Czech Technical University in Prague</span>
									</a>
								</td>
								<td>3 ( 0 / 3 / 0 / 0 )</td>
								<td><a href="/">網站</a></td>
							</tr>
							<tr>
							    <td>
									<a href="/">
                                        <span class="lang">布拉格經濟大學</span>
                                        <span class="lang">University of Economics, Prague</span>
									</a>
								</td>
								<td>2 ( 0 / 2 / 0 / 0 )</td>
								<td><a href="/">網站</a></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</main>
    </div>
</div>



<% content_for :js do %>

<% end %>
































