<!-- ntuoia: 聯絡我們 -->

<nav aria-label="breadcrumb" class="breadcrumb-wrapper">
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i></a></li>
            <li class="breadcrumb-item"><a href="#">申請臺大</a></li>
			<li class="breadcrumb-item"><a href="#">境外學位生</a></li>
			<li class="breadcrumb-item"><a href="#">申請資格</a></li>
			<li class="breadcrumb-item active">國籍資格測驗</li>
        </ol>
    </div>
</nav>

<div class="container">
    <main class="main noside">
        <div class="title-wrap">
            <h3 class="section-title">聯絡我們</h3>
        </div>
		<div class="contact-wrapper">
            <section class="ct-section">
                <h3 class="ct-title">本處地址</h3>
				<div class="section-awall">
				    <h5>國立臺灣大學 國際事務處</h5>
					<ul class="menu-item">
					    <li>10617 臺北市羅斯福路4段1號</li>
						<li>第2行政大樓4樓418、419、420室</li>
						<li><a href="#">本處地圖 PDF 下載</a></li>
						<li><a href="#">其他校區英文地圖 PDF 下載</a></li>
						<li><a href="#">臺大校園地圖及交通資訊</a></li>
					</ul>
				</div>
            </section>
			<section class="ct-section">
                <h3 class="ct-title">辦公資訊</h3>
				<div class="section-awall">
					<ul class="menu-item">
					    <li>週一至週五，自上午9時至下午5時</li>
						<li>例假日及國定假日不開放（<a href="#">查詢臺北當地時間</a>）</li>
						<li>電話: +886 (0)2 3366 2007</li>
						<li>外線: +886 (0)2 2362 6801</li>
						<li>傳真: +886-2-2362-0096</li>
						<li><a href="#">如何打電話到臺灣？</a></li>
					</ul>
				</div>
            </section>
			<section class="ct-section">
                <h3 class="ct-title">聯絡方式</h3>
				<div class="section-awall">
				    <h5>國際事務處</h5>
					<p><a href="mailto:oia@ntu.edu.tw">oia@ntu.edu.tw</a></p>
					<h6>學生相關</h6>
					<ul class="menu-item">
						<li>海外教育計畫：<a href="#">ntustudyabroad@ntu.edu.tw</a></li>
						<li>境外學生入學：<a href="#">intadmission@ntu.edu.tw</a></li>
						<li>國際學生服務：<a href="#">intstudent@ntu.edu.tw</a></li>
						<li>國際生短期研修：<a href="#">ntucie@ntu.edu.tw</a></li>
					</ul>
					<h6>國際合作</h6>
					<ul class="menu-item">
						<li>國際學人：<a href="#">intlscholar@ntu.edu.tw</a></li>
						<li>國際組織：<a href="#">intlprograms@ntu.edu.tw</a></li>
						<li>校際簽約請參閱<a href="#">專用網頁</a></li>
						<li>外賓請參閱<a href="#">專用網頁</a></li>
					</ul>
				</div>
            </section>
			<section class="ct-section">
                <h3 class="ct-title">臨櫃服務時間</h3>
				<div class="section-awall">
				    <p>週一至週五， 自中午 12 時至下午 4 時 30 分</p>
				</div>
            </section>
        </div>
		<hr class="mlg">
        <div class="last-update">
            <span>更新時間： 2019 / 03 / 06</span>
        </div>
    </main>
</div>


<% content_for :js do %>

<% end %>


    
        
        
        
        
    
        
    
        
        
























