<!-- ntuoia: 心得查詢 -->

<%= render :partial => "/partials/breadcrumb" %>

<div class="container">
	<div class="pages-row">
	    <%= render :partial => "/partials/accordian_nav" %>
		<main class="main">
		    <div class="main-inner">
                <div class="title-wrap">
                    <h3 class="section-title">心得查詢</h3>
                </div>
				<div class="retention-container">
                    <div class="experience-search">
                        <form>
                            <h5 class="mb-3">學生心得查詢</h5>
                            <div class="field-content">
                                <div class="form-group">
                                    <label for="faculty">院系所</label>
                                    <input type="text" class="form-control" id="faculty">
                                </div>
                                <div class="field-menu">
                                    <ul class="navbar-nav">
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown"> 學士</a>
                                            <ul class="dropdown-menu">
                                                <li>
													<a class="dropdown-item" href="#">
                                                        <div class="custom-control custom-checkbox">
                                                            <input type="checkbox" class="custom-control-input" id="dc1">
                                                            <label class="custom-control-label" for="dc1">全部學士</label>
                                                        </div>
													</a>
												</li>
                                                <li>
													<a class="dropdown-item" href="#">
                                                        <div class="custom-control custom-checkbox">
                                                            <input type="checkbox" class="custom-control-input" id="dc2">
                                                            <label class="custom-control-label" for="dc2">文學院(學) <i class="fa fa-angle-right"></i></label>
                                                        </div>
													</a>
                                                    <ul class="submenu dropdown-menu">
														<% (1..5).map do |i| %>
                                                        <li>
                                                            <a class="dropdown-item" href="#">
                                                                <div class="custom-control custom-checkbox">
                                                                    <input type="checkbox" class="custom-control-input" id="dcL1">
                                                                    <label class="custom-control-label" for="dcL1">中國文學系(學)</label>
                                                                </div>
                                                            </a>
														</li>
                                                        <li>
                                                            <a class="dropdown-item" href="#">
                                                                <div class="custom-control custom-checkbox">
                                                                    <input type="checkbox" class="custom-control-input" id="dcL2">
                                                                    <label class="custom-control-label" for="dcL2">圖書資訊學系(學)</label>
                                                                </div>
                                                            </a>
														</li>
														<% end %>
                                                    </ul>
                                                </li>
												<% (1..8).map do |i| %>
                                                <li>
													<a class="dropdown-item" href="#">
                                                        <div class="custom-control custom-checkbox">
                                                            <input type="checkbox" class="custom-control-input" id="dc2">
                                                            <label class="custom-control-label" for="dc3">生物資源暨農學院(學) <i class="fa fa-angle-right"></i></label>
                                                        </div>
													</a>
                                                    <ul class="submenu dropdown-menu">
														<% (1..5).map do |i| %>
                                                        <li>
                                                            <a class="dropdown-item" href="#">
                                                                <div class="custom-control custom-checkbox">
                                                                    <input type="checkbox" class="custom-control-input" id="dcL3">
                                                                    <label class="custom-control-label" for="dcL3">中國文學系(學)</label>
                                                                </div>
                                                            </a>
														</li>
                                                        <li>
                                                            <a class="dropdown-item" href="#">
                                                                <div class="custom-control custom-checkbox">
                                                                    <input type="checkbox" class="custom-control-input" id="dcL4">
                                                                    <label class="custom-control-label" for="dcL4">圖書資訊學系(學)</label>
                                                                </div>
                                                            </a>
														</li>
														<% end %>
                                                    </ul>
                                                </li>
												<% end %>
                                            </ul>
                                        </li>
										<li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown"> 碩士</a>
                                            <ul class="dropdown-menu">
                                                <li>
													<a class="dropdown-item" href="#">
                                                        <div class="custom-control custom-checkbox">
                                                            <input type="checkbox" class="custom-control-input" id="dc1">
                                                            <label class="custom-control-label" for="dc1">全部碩士</label>
                                                        </div>
													</a>
												</li>
                                                <li>
													<a class="dropdown-item" href="#">
                                                        <div class="custom-control custom-checkbox">
                                                            <input type="checkbox" class="custom-control-input" id="dc2">
                                                            <label class="custom-control-label" for="dc2">文學院(學) <i class="fa fa-angle-right"></i></label>
                                                        </div>
													</a>
                                                    <ul class="submenu dropdown-menu">
														<% (1..5).map do |i| %>
                                                        <li>
                                                            <a class="dropdown-item" href="#">
                                                                <div class="custom-control custom-checkbox">
                                                                    <input type="checkbox" class="custom-control-input" id="dcL1">
                                                                    <label class="custom-control-label" for="dcL1">中國文學系(學)</label>
                                                                </div>
                                                            </a>
														</li>
                                                        <li>
                                                            <a class="dropdown-item" href="#">
                                                                <div class="custom-control custom-checkbox">
                                                                    <input type="checkbox" class="custom-control-input" id="dcL2">
                                                                    <label class="custom-control-label" for="dcL2">圖書資訊學系(學)</label>
                                                                </div>
                                                            </a>
														</li>
														<% end %>
                                                    </ul>
                                                </li>
												<% (1..8).map do |i| %>
                                                <li>
													<a class="dropdown-item" href="#">
                                                        <div class="custom-control custom-checkbox">
                                                            <input type="checkbox" class="custom-control-input" id="dc2">
                                                            <label class="custom-control-label" for="dc3">生物資源暨農學院(學) <i class="fa fa-angle-right"></i></label>
                                                        </div>
													</a>
                                                    <ul class="submenu dropdown-menu">
														<% (1..5).map do |i| %>
                                                        <li>
                                                            <a class="dropdown-item" href="#">
                                                                <div class="custom-control custom-checkbox">
                                                                    <input type="checkbox" class="custom-control-input" id="dcL3">
                                                                    <label class="custom-control-label" for="dcL3">中國文學系(學)</label>
                                                                </div>
                                                            </a>
														</li>
                                                        <li>
                                                            <a class="dropdown-item" href="#">
                                                                <div class="custom-control custom-checkbox">
                                                                    <input type="checkbox" class="custom-control-input" id="dcL4">
                                                                    <label class="custom-control-label" for="dcL4">圖書資訊學系(學)</label>
                                                                </div>
                                                            </a>
														</li>
														<% end %>
                                                    </ul>
                                                </li>
												<% end %>
                                            </ul>
                                        </li>
										<li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown"> 博士</a>
                                            <ul class="dropdown-menu">
                                                <li>
													<a class="dropdown-item" href="#">
                                                        <div class="custom-control custom-checkbox">
                                                            <input type="checkbox" class="custom-control-input" id="dc1">
                                                            <label class="custom-control-label" for="dc1">全部博士</label>
                                                        </div>
													</a>
												</li>
                                                <li>
													<a class="dropdown-item" href="#">
                                                        <div class="custom-control custom-checkbox">
                                                            <input type="checkbox" class="custom-control-input" id="dc2">
                                                            <label class="custom-control-label" for="dc2">文學院(學) <i class="fa fa-angle-right"></i></label>
                                                        </div>
													</a>
                                                    <ul class="submenu dropdown-menu">
														<% (1..5).map do |i| %>
                                                        <li>
                                                            <a class="dropdown-item" href="#">
                                                                <div class="custom-control custom-checkbox">
                                                                    <input type="checkbox" class="custom-control-input" id="dcL1">
                                                                    <label class="custom-control-label" for="dcL1">中國文學系(學)</label>
                                                                </div>
                                                            </a>
														</li>
                                                        <li>
                                                            <a class="dropdown-item" href="#">
                                                                <div class="custom-control custom-checkbox">
                                                                    <input type="checkbox" class="custom-control-input" id="dcL2">
                                                                    <label class="custom-control-label" for="dcL2">圖書資訊學系(學)</label>
                                                                </div>
                                                            </a>
														</li>
														<% end %>
                                                    </ul>
                                                </li>
												<% (1..8).map do |i| %>
                                                <li>
													<a class="dropdown-item" href="#">
                                                        <div class="custom-control custom-checkbox">
                                                            <input type="checkbox" class="custom-control-input" id="dc2">
                                                            <label class="custom-control-label" for="dc3">生物資源暨農學院(學) <i class="fa fa-angle-right"></i></label>
                                                        </div>
													</a>
                                                    <ul class="submenu dropdown-menu">
														<% (1..5).map do |i| %>
                                                        <li>
                                                            <a class="dropdown-item" href="#">
                                                                <div class="custom-control custom-checkbox">
                                                                    <input type="checkbox" class="custom-control-input" id="dcL3">
                                                                    <label class="custom-control-label" for="dcL3">中國文學系(學)</label>
                                                                </div>
                                                            </a>
														</li>
                                                        <li>
                                                            <a class="dropdown-item" href="#">
                                                                <div class="custom-control custom-checkbox">
                                                                    <input type="checkbox" class="custom-control-input" id="dcL4">
                                                                    <label class="custom-control-label" for="dcL4">圖書資訊學系(學)</label>
                                                                </div>
                                                            </a>
														</li>
														<% end %>
                                                    </ul>
                                                </li>
												<% end %>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
								<div class="form-group">
                                    <label class="d-block"><span class="required">*</span> 學生身份別</label>
                                    <div class="custom-control custom-checkbox custom-control-inline">
                                        <input type="checkbox" class="custom-control-input" id="identitySummer">
                                        <label class="custom-control-label" for="identitySummer">暑期</label>
                                    </div>
									<div class="custom-control custom-checkbox custom-control-inline">
                                        <input type="checkbox" class="custom-control-input" id="identityAccess">
                                        <label class="custom-control-label" for="identityAccess">訪問</label>
                                    </div>
									<div class="custom-control custom-checkbox custom-control-inline">
                                        <input type="checkbox" class="custom-control-input" id="identityExchange">
                                        <label class="custom-control-label" for="identityExchange">交換</label>
                                    </div>
                                </div>
                            </div>
							<div class="continent-wrapper">
                                <ul class="nav nav-tabs" id="defaultTab" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" id="continent2-tab" data-toggle="tab" href="#continent2" role="tab" aria-controls="continent2" aria-selected="true">美洲、亞洲</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="continent3-tab" data-toggle="tab" href="#continent3" role="tab" aria-controls="continent3" aria-selected="false">歐洲、大洋洲、非洲</a>
                                    </li>
                                </ul>
                                <div class="tab-content" id="defaultTabContent">
                                    <div class="tab-pane fade show active" id="continent2" role="tabpanel" aria-labelledby="continent2-tab">
                                        <div class="row">
                                            <div class="col-12 col-sm-4 col-md-4 col-lg-3">
											    <ul class="country-menu menu-item">
												    <li>
                                                        <div class="custom-control custom-checkbox">
                                                            <input type="checkbox" class="custom-control-input" id="dc101">
                                                            <label class="custom-control-label" for="dc101">美洲全部</label>
                                                        </div>  
													</li>
													<% (1..5).map do |i| %>
													<li>
                                                        <div class="custom-control custom-checkbox">
                                                            <input type="checkbox" class="custom-control-input" id="dc102">
                                                            <label class="custom-control-label" for="dc102">加拿大</label>
                                                        </div>  
													</li>
													<% end %>
													<li>
                                                        <div class="custom-control custom-checkbox">
                                                            <input type="checkbox" class="custom-control-input" id="dc103">
                                                            <label class="custom-control-label" for="dc103">巴西</label>
                                                        </div>  
													</li>
												</ul>
											</div>
                                            <div class="col-12 col-sm-8 col-md-8 col-lg-9">
											    <ul class="country-menu menu-item has-column">
												    <li>
                                                        <div class="custom-control custom-checkbox">
                                                            <input type="checkbox" class="custom-control-input" id="dc201">
                                                            <label class="custom-control-label" for="dc201">亞洲全部</label>
                                                        </div>  
													</li>
													<% (1..14).map do |i| %>
													<li>
                                                        <div class="custom-control custom-checkbox">
                                                            <input type="checkbox" class="custom-control-input" id="dc202">
                                                            <label class="custom-control-label" for="dc202">馬來西亞</label>
                                                        </div>  
													</li>
													<% end %>
													<li>
                                                        <div class="custom-control custom-checkbox">
                                                            <input type="checkbox" class="custom-control-input" id="dc203">
                                                            <label class="custom-control-label" for="dc203">沙烏地阿拉伯</label>
                                                        </div>  
													</li>
												</ul>
											</div>
										</div>
                                    </div>
                                    <div class="tab-pane fade" id="continent3" role="tabpanel" aria-labelledby="continent3-tab">
                                        <div class="row">
                                            <div class="col-12 col-sm-8 col-md-8 col-lg-9">
											    <ul class="country-menu menu-item has-column">
												    <li>
                                                        <div class="custom-control custom-checkbox">
                                                            <input type="checkbox" class="custom-control-input" id="dc101">
                                                            <label class="custom-control-label" for="dc101">歐洲全部</label>
                                                        </div>  
													</li>
													<% (1..22).map do |i| %>
													<li>
                                                        <div class="custom-control custom-checkbox">
                                                            <input type="checkbox" class="custom-control-input" id="dc102">
                                                            <label class="custom-control-label" for="dc102">奧地利</label>
                                                        </div>  
													</li>
													<% end %>
													<li>
                                                        <div class="custom-control custom-checkbox">
                                                            <input type="checkbox" class="custom-control-input" id="dc103">
                                                            <label class="custom-control-label" for="dc103">斯洛維尼亞</label>
                                                        </div>  
													</li>
												</ul>
											</div>
											<div class="col-12 col-sm-4 col-md-4 col-lg-3">
											    <ul class="country-menu menu-item">
												    <li>
                                                        <div class="custom-control custom-checkbox">
                                                            <input type="checkbox" class="custom-control-input" id="dc101">
                                                            <label class="custom-control-label" for="dc101">大洋洲全部</label>
                                                        </div>  
													</li>
													<li>
                                                        <div class="custom-control custom-checkbox">
                                                            <input type="checkbox" class="custom-control-input" id="dc102">
                                                            <label class="custom-control-label" for="dc102">澳大利亞</label>
                                                        </div>  
													</li>
													<li>
                                                        <div class="custom-control custom-checkbox">
                                                            <input type="checkbox" class="custom-control-input" id="dc103">
                                                            <label class="custom-control-label" for="dc103">紐西蘭</label>
                                                        </div>  
													</li>
												</ul>
												<ul class="country-menu menu-item">
												    <li>
                                                        <div class="custom-control custom-checkbox">
                                                            <input type="checkbox" class="custom-control-input" id="dc101">
                                                            <label class="custom-control-label" for="dc101">非洲全部</label>
                                                        </div>  
													</li>
													<li>
                                                        <div class="custom-control custom-checkbox">
                                                            <input type="checkbox" class="custom-control-input" id="dc102">
                                                            <label class="custom-control-label" for="dc102">南非</label>
                                                        </div>  
													</li>
												</ul>
											</div>
										</div>
                                    </div>
                                </div>
                            </div>
                            <div class="text-center">
                                <a href="/" class="btn btn-sm btn-amber">搜尋</a>
                                <a href="application_home.html" class="btn btn-sm btn-link">清除</a>
                            </div>
                        </form>
                    </div>
				</div>
                <h4 class="block-title">
					<span>學生心得查詢結果列表</span>
				</h4>
				<div class="table-responsive">
				    <table class="table table-sm table-striped table-bordered table-align-middle">
					    <thead>
						    <tr>
								<th>
									<a href="#">交換年度 <i class="fa fa-caret-down"></i></a>
								</th>
							    <th>
								    <a href="#">國家 <i class="fa fa-caret-up"></i></a>
								</th>
								<th>
								    <a href="#">交換學校</a>
								</th>
								<th>
								    <a href="#">學院</a>
								</th>
								<th>
								    <a href="#">系所</a>
								</th>
								<th>
								    <a href="#">學位</a>
								</th>
								<th>
								    <a href="#">姓名</a>
								</th>
								<th>
								    <a href="#">心得</a>
								</th>
							</tr>
						</thead>
						<tbody>
						    <tr>
							    <td>109年度</td>
								<td>美國</td>
								<td>英屬哥倫比亞大學 (卑詩大學)</td>
								<td>理學院</td>
								<td>土木工程學系</td>
								<td></td>
								<td>林同學</td>
								<td>尚未繳交</td>
							</tr>
							<% (1..10).each do |n| %>
							<tr>
							    <td>109年度</td>
								<td>美國</td>
								<td>加州大學柏克萊分校</td>
								<td>生命科學院</td>
								<td>生命科學系</td>
								<td>學士</td>
								<td>許同學</td>
								<td><a href="#"><i class="fa fa-file-pdf-o"></i> PDF</a></td>
							</tr>
							<% end %>
							<tr>
							    <td>
									<span class="break">109年度</span>
									<span class="break">1學期</span>
								</td>
								<td>加拿大</td>
								<td>英屬哥倫比亞大學 (卑詩大學)</td>
								<td>醫學院</td>
								<td>藥學專業學院藥學系</td>
								<td></td>
								<td>吳同學</td>
								<td>尚未繳交</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</main>
    </div>
</div>



<% content_for :js do %>
<script>
// Prevent closing from click inside dropdown
$(document).on("click", ".dropdown-menu", function (e) {
    e.stopPropagation();
});

// make it as accordion for smaller screens
if ($(window).width() < 992) {
    $(".dropdown-menu a").click(function (e) {
        e.preventDefault();
        if ($(this).next(".submenu").length) {
            $(this).next(".submenu").toggle();
        }
        $(".dropdown").on("hide.bs.dropdown", function () {
            $(this).find(".submenu").hide();
        });
    });
}
</script>
<% end %>
































