<!-- ntuoia: 相簿 -->

<%= render :partial => "/partials/breadcrumb" %>

<div class="container">
	<div class="pages-row">
	    <%= render :partial => "/partials/accordian_nav" %>
		<main class="main">
		    <div class="main-inner">
                <div class="title-wrap">
                    <h3 class="section-title">相簿</h3>
                </div>
                <article class="article">
                    <div class="post-single">
                        <div class="album-gallery">
                            <h3>相簿</h3>
							<p>相簿圖片容器為 16:9，使用者可選擇任何尺寸的封面照</p>
                            <div class="img-group">
                                <a href="#" class="album-item">
                                    <div class="image-wrapper">
                                        <img src="../assets/fake/04.jpg" alt="測試" title="測試">
                                    </div>
                                    <p>相簿名稱</p>
                                </a>
                                <a href="#" class="album-item">
                                    <div class="image-wrapper">
                                        <img src="../assets/fake/05.jpg" alt="測試" title="測試">
                                    </div>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                                </a>
                                <a href="#" class="album-item">
                                    <div class="image-wrapper">
                                        <img src="../assets/fake/06.jpg" alt="測試" title="測試">
                                    </div>
                                    <p>相簿名稱</p>
                                </a>
                                <a href="#" class="album-item">
                                    <div class="image-wrapper">
                                        <img src="../assets/fake/07.jpg" alt="測試" title="測試">
                                    </div>
                                    <p>相簿名稱</p>
                                </a>
                                <a href="#" class="album-item">
                                    <div class="image-wrapper">
                                        <img src="../assets/fake/04.jpg" alt="測試" title="測試">
                                    </div>
                                    <p>相簿名稱</p>
                                </a>
                            </div>
                        </div>

                        <div class="album-gallery upright">
                            <h3>直立相簿</h3>
							<p>相簿圖片容器為 2:3，使用者可選擇任何尺寸的封面照</p>
                            <div class="img-group">
                                <a href="#" class="album-item">
                                    <div class="image-wrapper">
                                        <img src="../assets/fake/04.jpg" alt="測試" title="測試">
                                    </div>
                                    <p>相簿名稱</p>
                                </a>
                                <a href="#" class="album-item">
                                    <div class="image-wrapper">
                                        <img src="http://placekitten.com/720/1280" alt="測試" title="測試">
                                    </div>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                                </a>
                                <a href="#" class="album-item">
                                    <div class="image-wrapper">
                                        <img src="../assets/fake/fake-01.jpg" alt="測試" title="測試">
                                    </div>
                                    <p>相簿名稱</p>
                                </a>
                                <a href="#" class="album-item">
                                    <div class="image-wrapper">
                                        <img src="http://placekitten.com/180/320" alt="測試" title="測試">
                                    </div>
                                    <p>相簿名稱</p>
                                </a>
                                <a href="#" class="album-item">
                                    <div class="image-wrapper">
                                        <img src="http://placekitten.com/360/640" alt="測試" title="測試">
                                    </div>
                                    <p>相簿名稱</p>
                                </a>
                                <a href="#" class="album-item">
                                    <div class="image-wrapper">
                                        <img src="http://placekitten.com/540/960" alt="測試" title="測試">
                                    </div>
                                    <p>相簿名稱</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </article>
			</div>
		</main>
    </div>
</div>

<% content_for :js do %>

<% end %>
































