<!-- ntuoia: 短期課程入口 (en only) -->

<nav aria-label="breadcrumb" class="breadcrumb-wrapper">
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i></a></li>
			<li class="breadcrumb-item active">Short-term Programs</li>
        </ol>
    </div>
</nav>

<div class="container">
    <main class="main noside">
        <div class="title-wrap">
            <h3 class="section-title">Short-term Programs</h3>
        </div>
        <div class="short-wrapper">
            <a class="term-link">
				<div class="short-term">
                    <h3>Spring</h3>
                    <img src="../assets/season-spring.jpg" alt="Spring">
				</div>
            </a>
            <a class="term-link">
				<div class="short-term">
                    <h3>Summer</h3>
                    <img src="../assets/season-summer.jpg" alt="Summer">
				</div>
            </a>
            <a class="term-link">
				<div class="short-term">
                    <h3>Fall</h3>
                    <img src="../assets/season-fall.jpg" alt="Fall">
				</div>
            </a>
            <a class="term-link">
				<div class="short-term">
                    <h3>Winter</h3>
                    <img src="../assets/season-winter.jpg" alt="Winter">
				</div>
            </a>
			<a class="term-link">
				<div class="short-term">
                    <h3>Year Round</h3>
                    <img src="../assets/year-round.jpg" alt="Year Round">
				</div>
            </a>
			<a class="term-link">
				<div class="short-term">
                    <h3>Tailor Made</h3>
                    <img src="../assets/tailor-made.jpg" alt="Tailor Made">
				</div>
            </a>
        </div>
        <div class="last-update">
            <span>更新時間： 2020 / 12 / 25</span>
        </div>
    </main>
</div>


<% content_for :js do %>

<% end %>


    
        
        
        
        
    
        
    
        
        
























