<!-- ntuoia: 註冊身分別 -->

<nav aria-label="breadcrumb" class="breadcrumb-wrapper">
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i></a></li>
            <li class="breadcrumb-item"><a href="#">申請臺大</a></li>
			<li class="breadcrumb-item"><a href="#">境外學位生</a></li>
			<li class="breadcrumb-item"><a href="#">申請資格</a></li>
			<li class="breadcrumb-item active">國籍資格測驗</li>
        </ol>
    </div>
</nav>

<div class="container">
	<main class="main-full">
        <div class="status-wrapper">
            <h3 class="status-title">請選擇註冊身分別</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur in purus mattis, pharetra nulla vitae, aliquet leo. Aenean vel sapien sed arcu lobortis sollicitudin. Suspendisse enim nunc, dapibus vel odio in, mattis ornare urna. </p>
            <div class="status-list">
                <a href="#" class="status-item status-family">接待家庭</a>
                <a href="#" class="status-item status-university">大專院校</a>
                <a href="#" class="status-item status-student">境外學生</a>
            </div>
        </div>
	</main>
</div>

<% content_for :js do %>

<% end %>































