<!-- ntuoia: table six (一般表格) 語系 - 中 -->

<%= render :partial => "/partials/breadcrumb" %>

<div class="container">
	<div class="pages-row">
        <%= render :partial => "/partials/accordian_nav" %>
		<main class="main">
		    <div class="main-inner">
                <div class="title-wrap">
                    <h3 class="section-title">歷年各校最高/最低錄取分數</h3>
                </div>
				<div class="table-control-button">
                    <a href="#" class="btn btn-sm peach-gradient">
					    <i class="fa fa-chevron-right"></i>
					</a>
				</div>
                <div class="table-responsive">
                    <table class="table table-striped td-bordered table-sm text-center">
                        <thead>
                            <tr>
								<th>語言能力</th>
                                <th>2020 / 2021年度</th>
                                <th>2019 / 2020年度</th>
                                <th>2018 / 2019年度</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th>英語</th>
                                <td>647</td>
                                <td>696</td>
                                <td>571</td>
                            </tr>
							<tr>
                                <th>日語</th>
                                <td>116</td>
                                <td>123</td>
                                <td>120</td>
                            </tr>
							<tr>
                                <th>法語</th>
                                <td>14</td>
                                <td>11</td>
                                <td>20</td>
                            </tr>
							<tr>
                                <th>德語</th>
                                <td>15</td>
                                <td>20</td>
                                <td>18</td>
                            </tr>
							<tr>
                                <th>葡語</th>
                                <td>2</td>
                                <td>1</td>
                                <td>-</td>
                            </tr>
							<tr>
                                <th>西語</th>
                                <td>9</td>
                                <td>13</td>
                                <td>9</td>
                            </tr>
							<tr>
                                <th>韓語</th>
                                <td>15</td>
                                <td>18</td>
                                <td>3</td>
                            </tr>
							<tr>
                                <th>俄語</th>
                                <td>-</td>
                                <td>-</td>
                                <td>1</td>
                            </tr>
                        </tbody>
						<tfoot>
                            <tr class="total">
                                <td>總計(人數)</td>
                                <td>818</td>
                                <td>882</td>
                                <td>742</td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
				<div class="last-update">
					<span>更新時間： 2019 / 03 / 06</span>
				</div>
			</div>
		</main>
    </div>
</div>



<% content_for :js do %>
<script>
// Material Select Initialization
$(document).ready(function () {
    $(".mdb-select").materialSelect();
});
</script>
<% end %>
































