<!-- ntuoia: table seven (年度錄取率) 語系 - 中 -->

<%= render :partial => "/partials/breadcrumb" %>

<div class="container">
	<div class="pages-row">
        <%= render :partial => "/partials/accordian_nav" %>
		<main class="main">
		    <div class="main-inner">
                <div class="title-wrap">
                    <h3 class="section-title">年度錄取率統計</h3>
                </div>
				<div class="section-awall text-danger">
                    <p class="mb-0">各階段之百分比統計資料，是以該階段繳交志願人數為計算基數。</p>
                    <p>錄取人數之百分比統計，是以錄取人數除以報名總人數來計算，志願總計之百分比統計資料，是以錄取人數為計算基數。</p>
				</div>
				<div class="table-control-button">
					<a href="#" class="btn btn-sm peach-gradient">
					    <i class="fa fa-chevron-left"></i>
					</a>
                    <a href="#" class="btn btn-sm peach-gradient">
					    <i class="fa fa-chevron-right"></i>
					</a>
				</div>
                <div class="table-responsive">
                    <table class="table table-bordered table-sm text-center">
                        <thead>
                            <tr class="stage-head">
								<th class="status">狀態</th>
                                <th colspan="2">2020 / 2021年度</th>
                                <th colspan="2">2019 / 2020年度</th>
								<th colspan="2">2018 / 2019年度</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th class="text-left">報名總人數</th>
                                <td>795</td>
                                <td>-</td>
                                <td>893</td>
								<td>-</td>
                                <td>760</td>
                                <td>-</td>
                            </tr>
                        </tbody>
						<thead>
                            <tr>
								<th colspan="7" class="stage-head">
									第一階段
									<span></span>
								</th>
                            </tr>
                        </thead>
						<tbody class="stage_one">
							<tr>
                                <th class="text-left">第一階段繳交志願人數</th>
                                <td>676</td>
                                <td>-</td>
                                <td>747</td>
								<td>-</td>
                                <td>753</td>
                                <td>-</td>
                            </tr>
							<% (1..7).each do |n| %>
                            <tr>
                                <th class="text-left">第一階段錄取人數總計</th>
                                <td>568</td>
                                <td>84.02%</td>
                                <td>605</td>
								<td>80.99%</td>
                                <td>552</td>
                                <td>73.31%</td>
                            </tr>
							<% end %>
                        </tbody>
						<thead>
                            <tr>
								<th colspan="7" class="stage-head">
									第二階段
									<span></span>
								</th>
                            </tr>
                        </thead>
						<tbody class="stage_two">
							<tr>
                                <th class="text-left">第二階段繳交志願人數</th>
                                <td>153</td>
                                <td>-</td>
                                <td>200</td>
								<td>-</td>
                                <td>222</td>
                                <td>-</td>
                            </tr>
							<% (1..7).each do |n| %>
                            <tr>
                                <th class="text-left">第二階段錄取人數總計</th>
                                <td>140</td>
                                <td>91.50%</td>
                                <td>174</td>
								<td>87.00%</td>
                                <td>171</td>
                                <td>77.03%</td>
                            </tr>
							<% end %>
                        </tbody>
						<tbody>
							<% (1..3).each do |n| %>
							<tr>
                                <th class="text-left">第1~10志願總計</th>
                                <td>444</td>
                                <td>55.85%</td>
                                <td>469</td>
								<td>52.52%</td>
                                <td>421</td>
                                <td>55.39%</td>
                            </tr>
							<% end %>
                            <tr>
                                <th class="text-left">錄取人數總計</th>
                                <td>481</td>
                                <td>60.50%</td>
                                <td>521</td>
								<td>58.34%</td>
                                <td>473</td>
                                <td>62.24%</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
				<div class="last-update">
					<span>更新時間： 2019 / 03 / 06</span>
				</div>
			</div>
		</main>
    </div>
</div>



<% content_for :js do %>
<script>
// Material Select Initialization
$(document).ready(function () {
    $(".mdb-select").materialSelect();
});
</script>
<% end %>
































