<!-- ntuoia: table Two (院系、校捲動) 語系 - 中英 -->

<%= render :partial => "/partials/breadcrumb" %>

<div class="container">
	<div class="pages-row">
	    <%= render :partial => "/partials/accordian_nav" %>
		<main class="main">
		    <div class="main-inner">
                <div class="title-wrap">
                    <h3 class="section-title">
						臺灣大學歷屆國際交換學生名單
						<small>Lists of International Exchange Students, National Taiwan University</small>
					</h3>
                </div>
				<div class="scroll-links two-item">
					<ul class="smooth-scroll menu-item">
					    <li>
							<a href="#cd_level" class="link-item">
								<span class="ch">院 / 系級交換生</span>
								<span class="en">College / Department-Level Exchange Students</span>
							</a>
						</li>
						<li>
							<a href="#university_level" class="link-item">
								<span class="ch">2011/2012 校級交換生</span>
								<span class="en">2011/2012 University-Level Incoming Students to NTU</span>
							</a>
						</li>
					</ul>
				</div>
				
				<div id="cd_level" class="output-block">
                    <div class="output-head short">
                        <h3>院 / 系級交換生<small>College / Department-Level Exchange Students</small></h3>
                    </div>
					<div class="table-responsive">
                        <table class="table td-bordered table-striped table-sm">
                            <thead>
                                <tr>
									<th>
                                        <span class="ch">國家</span>
                                        <span class="en">Country</span>
                                    </th>
                                    <th>
                                        <span class="ch">學校</span>
                                        <span class="en">Home University</span>
                                    </th>
                                    <th class="w80">
                                        <span class="ch">姓名</span>
                                        <span class="en">Name</span>
                                    </th>
                                    <th>
                                        <span class="ch">系所</span>
                                        <span class="en">Major</span>
                                    </th>
                                    <th class="w160">
                                        <span class="ch">交換學期</span>
                                        <span class="en">Exchange Period</span>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
								<% (1..50).each do |n| %>
                                <tr>
									<td>
										<span class="lang">美國</span>
										<span class="lang">United States of America</span>
									</td>
                                    <td>
										<span class="lang">北卡羅來納大學教堂山分校</span>
										<span class="lang">The University of North Carolina at Chapel Hill</span>
									</td>
                                    <td>高同學</td>
                                    <td>
										<span class="lang">醫學檢驗暨生物技術學系</span>
										<span class="lang">Clinical Laboratory Sciences & Medical Biotechnology</span>
									</td>
                                    <td>100/1,2</td>
                                </tr>
								<% end %>
                            </tbody>
							<tfoot>
							    <tr>
								    <td class="total" colspan="5">
									    <span class="lang">共計： 23 個國家，130 所學校，478 名交換生</span>
										<span class="lang">Total:23 Countries, 130 Universities, 478 Students</span>
									</td>
								</tr>
							</tfoot>
                        </table>
					</div>
				</div>
				
				<div id="university_level" class="output-block">
                    <div class="output-head short">
                        <h3>2011/2012 校級交換生<small>2011/2012 University-Level Incoming Students to NTU</small></h3>
                    </div>
					<div class="table-responsive">
                        <table class="table td-bordered table-striped table-sm">
                            <thead>
                                <tr>
									<th>
                                        <span class="ch">國家</span>
                                        <span class="en">Country</span>
                                    </th>
                                    <th>
                                        <span class="ch">學校</span>
                                        <span class="en">Home University</span>
                                    </th>
                                    <th class="w80">
                                        <span class="ch">姓名</span>
                                        <span class="en">Name</span>
                                    </th>
                                    <th>
                                        <span class="ch">系所</span>
                                        <span class="en">Major</span>
                                    </th>
                                    <th class="w160">
                                        <span class="ch">交換學期</span>
                                        <span class="en">Exchange Period</span>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
								<% (1..50).each do |n| %>
                                <tr>
									<td>
										<span class="lang">加拿大</span>
										<span class="lang">Canada</span>
									</td>
                                    <td>
										<span class="lang">加拿大英屬哥倫比亞大學(卑詩大學)</span>
										<span class="lang">University of British Columbia</span>
									</td>
                                    <td>巫同學</td>
                                    <td>
										<span class="lang">財務金融學研究所</span>
										<span class="lang">Finance</span>
									</td>
                                    <td>100/1,2</td>
                                </tr>
								<% end %>
                            </tbody>
							<tfoot>
							    <tr>
								    <td class="total" colspan="5">
									    <span class="lang">共計： 23 個國家，130 所學校，478 名交換生</span>
										<span class="lang">Total:23 Countries, 130 Universities, 478 Students</span>
									</td>
								</tr>
							</tfoot>
                        </table>
					</div>
				</div>
			</div>
		</main>
    </div>
</div>



<% content_for :js do %>

<% end %>
































