<!-- ntuoia: table Three (無捲動) 語系 - 中英 -->

<%= render :partial => "/partials/breadcrumb" %>

<div class="container">
	<div class="pages-row">
	    <%= render :partial => "/partials/accordian_nav" %>
		<main class="main">
		    <div class="main-inner">
                <div class="title-wrap">
                    <h3 class="section-title">
						臺大曆屆來校訪問學生名單
						<small>Incoming Visiting Student Alumni at NTU</small>
					</h3>
                </div>
				
				<div class="output-block">
                    <div class="output-head short">
                        <h3>1911/1912  校級交換生<small>1911/1912   University-Level Incoming Students to NTU</small></h3>
                    </div>
					<div class="table-responsive">
                        <table class="table td-bordered table-striped table-sm">
                            <thead>
                                <tr>
									<th>
                                        <span class="ch">國家</span>
                                        <span class="en">Country</span>
                                    </th>
                                    <th>
                                        <span class="ch">學校</span>
                                        <span class="en">Home University</span>
                                    </th>
									<th>
                                        <span class="ch">其他學校</span>
                                        <span class="en">Other University</span>
                                    </th>
                                    <th class="w80">
                                        <span class="ch">姓名</span>
                                        <span class="en">Name</span>
                                    </th>
                                    <th>
                                        <span class="ch">系所</span>
                                        <span class="en">Major</span>
                                    </th>
                                    <th class="w160">
                                        <span class="ch">交換學期</span>
                                        <span class="en">Exchange Period</span>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
								<% (1..50).each do |n| %>
                                <tr>
									<td>
										<span class="lang">美國</span>
										<span class="lang">United States of America</span>
									</td>
                                    <td>
										<span class="lang">蒙特雷科技大學</span>
										<span class="lang">Monterrey Institute of Technology and Higher Education</span>
									</td>
									<td>
										<span class="lang">蘇黎世應用科技大學</span>
										<span class="lang">ZHAW Zürcher Hochschule für Angewandte Wissenschaften</span>
									</td>
                                    <td>蘇綉雯</td>
                                    <td>
										<span class="lang">醫學檢驗暨生物技術學系</span>
										<span class="lang">Clinical Laboratory Sciences & Medical Biotechnology</span>
									</td>
                                    <td>100/1,2</td>
                                </tr>
								<% end %>
                            </tbody>
							<tfoot>
							    <tr>
								    <td class="total" colspan="6">
									    <span class="lang">共計： 7 個國家，19 所學校，134 名訪問生</span>
										<span class="lang">Total: 7 Countries, 19 Universities, 134 Students</span>
									</td>
								</tr>
							</tfoot>
                        </table>
					</div>
				</div>
			</div>
		</main>
    </div>
</div>



<% content_for :js do %>

<% end %>
































