/* `Footer
-----------------------------------------------------------------------------*/

footer.footer {
    font-weight: 400;
	font-size: 15px;
	color: #5d6170;
    .container { position: relative; }
	.footer-inner {
		display: flex;
		justify-content: space-between;
        border-top: 1px dashed #cbd3d4;
        padding: 50px 24px 80px;
	}
	h6 {
		font-size: 1.125rem;
	}
    .contact-item {
        margin-bottom: 0;
        padding-left: 30px;
        position: relative;
		span {
			display: block;
		}
    }
    .fa {
        margin-right: 0.5rem;
        width: 1rem;
        color: #c2c6d3;
        text-align: center;
        position: absolute;
        left: 0;
        top: 6px;
    }
}