/* `Header
-----------------------------------------------------------------------------*/

header.header {
	padding-top: 20px;
	.container { position: relative; }
	.header-link {
		position: absolute;
		right: 39px;
		top: 12px;
		a {
			display: inline-block;
			font-size: 0.875rem;
			color: #777;
			position: relative;
			&:hover { color: #000; }
			&:last-child {
				margin-left: 1.25rem;
				&:after {
					content: "";
					background: #d7d7d7;
					width: 1px;
					height: 14px;
					position: absolute;
					left: -11px;
					top: 3px;
				}
			}
		}
	}
}

.header-wrap {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	margin-bottom: 28px;
	padding: 0 24px;
	.brands {
		a {
            &:hover { text-decoration: none; }
		}
        h1 { margin: 0; }
	}
	.h1-logo {
		display: inline-block;
		width: auto;
		height: 70px;
	}
	.h1-logo-mobile {
		display: none;
		width: auto;
		height: 44px;
	}
    .account {
		position: relative;
		bottom: -.75rem;
		.nav-link {
			display: inline-block;
			margin-left: 0.5rem;
			padding-right: 0;
			color: $link;
		}
	}
	.account-login {
		padding-bottom: 8px;
		a {
			display: inline-block;
			position: relative;
			&:last-child {
				margin-left: 1.5rem;
				&:after {
					content: "";
					background: #d7d7d7;
					width: 1px;
					height: 14px;
					position: absolute;
					left: -14px;
					top: 6px;
				}
			}
		}
	}
}

.program-wrap {
	background: $main_color;
	padding: 1.5rem;
	color: #fff;
	position: relative;
    &:before, &:after {
        content: "";
        position: absolute;
    }
	&:before {
        background: $secondary_color;
        width: 24px;
        top: 0;
		right: 0;
		bottom: 0;
    }
    &:after {
		box-shadow: 0 8px 14px rgba(#000, .35);
		width: 9rem;
		right: 0;
		top: 0;
		bottom: 0.375rem;
        transform-origin: bottom;
        transform: skewY(4deg);
		z-index: -1;
    }
	h2 {
		margin: 0;
		font-size: 26px;
		font-weight: 400;
	}
}

