<footer class="footer">
    <div class="footer-inner">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <ul class="footer-link clearfix">
                        <li><a href="#">聯絡我們</a></li>
                        <li><a href="#">相關連結</a></li>
                        <li><a href="sitemap.html">網站地圖</a></li>
                        <li><a href="http://www.nutn.edu.tw/">南大首頁</a></li>
                        <li><a href="https://www.facebook.com/nutn.tw/">Facebook</a></li>
                    </ul>
                    <address>
                        <p class="address">
                            <span>70005 台南市中西區樹林街二段33號</span>
                            <span>33, Sec. 2, Shu-Lin St. Tainan, Taiwan 70005</span>
                        </p>
                        <p class="contact">
                            <span>Tel：+886-6-213-3111 分機：852、856</span> | <span>Fax：+886-6-301-7009</span>
                        </p>
                        <p class="copyright">版權所有 國立臺南大學 <span>Copyright © 2016 National University of Tainan All Rights Reserved.</span>
                        </p>
                    </address>
                </div>
            </div>
        </div>
    </div>
</footer>