<footer class="footer">
    <div class="footer-inner">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <ul class="footer-link clearfix">
                        <li><a href="#">聯絡我們</a></li>
                        <li><a href="#">相關連結</a></li>
                        <li><a href="sitemap.html">網站地圖</a></li>
                        <li><a href="http://www.nutn.edu.tw/">南大首頁</a></li>
                        <li><a href="https://www.facebook.com/nutn.tw/">Facebook</a></li>
                    </ul>
                    <address>
                        <p>
                            <span>32023 桃園縣中壢市中北路 200 號</span>
                            <span>200, Chung Pei Rd, Chung Li, Taiwan 32023, R.O.C</span>
                        </p>
                        <span>Tel：+886-3265-1700 ~ 1720</span> | <span>Fax：+886-3-265-1729</span>
                        <p>版權所有 中原大學</span><span>Copyright &copy; 2013 Chung Yuan Christian University All Rights Reserved.</p>
                    </address>
                </div>
            </div>
        </div>
    </div>
</footer>