<header class="main-header">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <a class="logo text-hide" href="index.html">國立臺南大學資訊網 National University of Tainan</a>
                <a class="btn_en float-right" href="">EN</a>
            </div>
        </div>
    </div>
</header>
<nav class="navbar navbar-expand-lg global">
    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fa fa-bars" aria-hidden="true"></i>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="nutnIntro" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">本處簡介</a>
                    <div class="dropdown-menu" aria-labelledby="nutnIntro">
                        <a class="dropdown-item" href="#">處室簡介</a>
                        <a class="dropdown-item" href="member.html">成員與業務</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://www.nutn.edu.tw/languagecenter/">語文中心</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="nutnExchange" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">出國交換</a>
                    <div class="dropdown-menu" aria-labelledby="nutnExchange">
                        <a class="dropdown-item" href="article.html">相關資訊</a>
                        <a class="dropdown-item" href="news.html">心得報告</a>
                        <a class="dropdown-item" href="#">問卷調查</a>
                        <a class="dropdown-item" href="#">訪談分析</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="nutnOverseas" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">境外學生</a>
                    <div class="dropdown-menu" aria-labelledby="nutnOverseas">
                        <a class="dropdown-item" href="#">外國學生</a>
                        <a class="dropdown-item" href="#">港澳學生</a>
                        <a class="dropdown-item" href="#">來校交換</a>
                        <a class="dropdown-item" href="news.html">心得報告</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="sister_school.html">國際合作</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">辦法表格</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="activity.html">活動花絮</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <div class="form-group form-search">
                    <input class="form-control" placeholder="全站關鍵字搜尋" type="text">
                    <button class="btn btn-outline-success my-2 my-sm-0 hidden" type="submit" type="hidden">Search</button>
                    <i class="fa fa-search"></i>
                </div>
                <a class="av-search" href="search.html">進階搜尋</a>
            </form>
        </div>
    </div>
</nav>

