<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>國立臺南大學資訊網 National University of Tainan - http://www.nutn.edu.tw (台南大學, NUTN)</title>
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="../ico/apple-touch-icon-144-precom.png">
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="../ico/apple-touch-icon-114-precom.png">
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="../ico/apple-touch-icon-72-precomp.png">
<link rel="apple-touch-icon-precomposed" href="../ico/apple-touch-icon-57-precomp.png">
<!-- FB -->
<meta property="og:url" content="http://oia.nutn.edu.tw" />
<meta property="og:title" content="National University of Tainan" />
<meta property="og:site_name" content="National University of Tainan" />
<meta property="og:image" content="http://oia.nutn.edu.tw/images/" />
<meta property="og:description" content="National University of Tainan" />
<meta property="og:type" content="website" />
<!-- Twitter -->
<meta name="twitter:site" content="http://oia.nutn.edu.tw" />
<meta name="twitter:title" content="National University of Tainan" />
<meta name="twitter:image" content="http://oia.nutn.edu.tw/images/" />
<meta name="twitter:description" content="National University of Tainan" />
<meta name="description" content="National University of Tainan" />
<% if content_for? :replace_css %>
    <%= yield :replace_css %>
<% end %>
<!--[if lt IE 9]>
    <script src="../javascripts/selectivizr-min.js"></script>
<![endif]-->
<link rel="stylesheet" media="all" href="../stylesheets/bootstrap.css">
<link rel="stylesheet" media="all" href="../stylesheets/application.css">
<link rel="shortcut icon" href="../ico/favicon.png" type="image/x-icon">
<script src="../javascripts/modernizr.custom.js"></script>