<!-- tdrf: 繳費資訊、退費資訊 -->

<div class="title-wrapper">
	<div class="container-lg">
		<span class="serial-number">COURSE-00149</span>
	    <h2><span class="date">2022/06/15</span> 專業人員/免費《110年上市後醫療器材子法規及QMS系統說明會 II》</h2>
	</div>
</div>

<div class="container-lg">
    <div class="dashboard-container">
	    <%= render :partial => "/partials/dashboard-sidenav" %>
		
		<div id="widget-overlay"></div>
		
		<main class="main">
            <button class="navbar-toggler button-widget" type="button" id="navbarSideCollapse" aria-label="Toggle navigation">
                <span class="hamburger">
                    <span class="line"></span>
                    <span class="line"></span>
                    <span class="line"></span>
                </span>
            </button>
            <h3 class="page-title">繳費資訊、退費申請</h3>
			<ol>
			    <li>如需開立二張以上發票，請填寫每張發票資訊(含發票抬頭、統編、金額)。</li>
				<li>個人發票：發票抬頭欄位請填寫「個人姓名」、統編欄位請填寫「無」。</li>
				<li>公司發票：發票抬頭欄位請填寫「公司抬頭」、統編欄位請填寫「公司統編」。</li>
			</ol>
            <div class="register-wrapper">
                <fieldset disabled>
                    <div class="form-group">
                        <label class="form-label">繳費類別</label>
                        <div>
                            <div class="form-check">
                                <input class="form-check-input radio-select" type="radio" name="paymentRadio" id="paymentRadio1" value="single" />
                                <label class="form-check-label" for="paymentRadio1">
                                    個人報名
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input radio-select" type="radio" name="paymentRadio" id="paymentRadio2" value="group" checked />
                                <label class="form-check-label" for="paymentRadio2">
                                    團體報名(兩人以上)
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputText4" class="form-label">團體報名總人數( 包含自己 )</label>
                        <input type="text" class="form-control" id="exampleInputText4" value="2" />
                    </div>
                    <div class="group-wrap">
                        <p class="text-danger">報名總人數 2 人，課程費用總金額 : 10,000</p>
                        <div class="signup-wrap">
                            <div class="wrap-hd">
                                <h4 class="hd-title">報名者 1</h4>
                            </div>
                            <div class="form-group">
                                <label class="form-label">姓名</label>
                                <div>史嘉蕾</div>
                            </div>
                            <div class="form-group">
                                <label class="form-label">電子郵件</label>
                                <div>scarlettjohansson@gmail.com</div>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputText1" class="form-label">發票金額</label>
                                <input type="text" class="form-control" id="exampleInputText1" value="10000" />
                            </div>
                            <div class="form-group">
                                <label class="form-label">發票類型</label>
                                <div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="invoiceRadio" id="invoiceRadio1" />
                                        <label class="form-check-label" for="invoiceRadio1">
                                            個人發票
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="invoiceRadio" id="invoiceRadio2" checked />
                                        <label class="form-check-label" for="invoiceRadio2">
                                            公司發票
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="exampleInputText2" class="form-label">發票抬頭</label>
                                <input type="text" class="form-control" id="exampleInputText2" value="Apple company" />
                            </div>
                            <div class="form-group">
                                <label for="exampleInputText3" class="form-label">發票統編</label>
                                <input type="text" class="form-control" id="exampleInputText3" value="0123456789" />
                            </div>
                        </div>

                        <div class="signup-wrap">
                            <div class="wrap-hd">
                                <h4 class="hd-title">報名者 2</h4>
                                <div class="ms-4">
                                    <div class="form-check">
                                        <input class="form-check-input unnecessary" type="checkbox" value="invoice-wrap" id="unnecessaryInvoice" checked />
                                        <label class="form-check-label" for="unnecessaryInvoice">
                                            無需發票
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="form-label">姓名</label>
                                <div>科林約斯特</div>
                            </div>
							<div class="form-group">
                                <label class="form-label">電子郵件</label>
                                <div>colinjost@gmail.com</div>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <div class="pay-wrapper">
                    <h3>繳費資訊</h3>
                    <p class="fw-bold">(806) 元大商業銀行股份有限公司</p>
                    <ul class="menu-item pay-info">
                        <li>
                            <span class="label">繳費帳號</span>
                            <span>9616620215684884</span>
                        </li>
                        <li>
                            <span class="label">繳費金額</span>
                            <span>5,000</span>
                        </li>
                        <li>
                            <span class="label">繳費期限</span>
                            <span>2022-05-12 00:00</span>
                        </li>
                    </ul>
					<div class="h4 text-primary fw-bold mt-4">2022-05-11 確認繳費完成</div>
                </div>
                <div class="my-5">
                    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#cancelModal">取消報名</button>
                </div>
				
				<div class="pay-wrapper refund-wrapper">
				    <div class="h5 text-danger fw-bold">2022-05-12 申請退費</div>
					<h5>退費資訊</h5>
                    <ul class="menu-item pay-info">
                        <li>
                            <span class="label">退費戶名</span>
                            <span>史嘉蕾</span>
                        </li>
                        <li>
                            <span class="label">銀行分行</span>
                            <span>沙丘銀行 亞崔迪分行</span>
                        </li>
                        <li>
                            <span class="label">退費帳號</span>
                            <span>0123456789789</span>
                        </li>
						<li>
                            <span class="label">退費金額</span>
                            <span>5,000</span>
                        </li>
                    </ul>
					<div class="h4 text-danger fw-bold mt-3">2022-06-12 退費完成</div>
				</div>
            </div>
		</main>
	</div>
</div>

<!-- 退費 Modal -->
<div class="modal fade" id="cancelModal" tabindex="-1" aria-labelledby="cancelModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="cancelModalLabel">取消報名</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
				<ol>
				    <li>申請退費請填寫申請者本人帳戶資訊：含帳戶戶名、銀行分行、帳號，並上傳存摺電子檔(需清楚顯示前述資訊)。</li>
					<li>團體報名若全體都需退費，限全退一筆且需由原主報名者申請填寫本人帳戶資訊：含帳戶戶名、銀行分行、帳號，並上傳存摺電子檔(需清楚顯示前述資訊)。</li>
					<li>團體報名繳費後，若因部分學員申請退費導致不符合課程特價資格，上課學員需補繳原價差額。</li>
				</ol>
                <div class="form-group">
                    <label for="exampleInputText10" class="form-label">戶名</label>
                    <input type="text" class="form-control" id="exampleInputText10" />
                </div>
				<div class="form-group">
                    <label for="exampleInputText11" class="form-label">帳號</label>
                    <input type="text" class="form-control" id="exampleInputText11" />
                </div>
				<div class="form-group">
                    <label for="exampleInputText12" class="form-label">備註</label>
                    <input type="text" class="form-control" id="exampleInputText12" />
                </div>
				<div class="form-group">
                    <label for="" class="form-label">上傳檔案(影本)</label>
                    <div class="input-group mb-3">
                        <input type="file" class="form-control" id="inputGroupFile02">
                        <label class="input-group-text" for="inputGroupFile02">Upload</label>
                    </div>
                </div>
				<div class="form-group">
                    <label for="exampleInputText13" class="form-label">銀行分行</label>
                    <input type="text" class="form-control" id="exampleInputText13" />
                </div>
                <div class="form-group">
                    <label class="form-label">退費</label>
                    <div>
                        <div class="form-check">
                            <input class="form-check-input radio-select" type="radio" name="refundRadio" id="refundRadio1" value="single" />
                            <label class="form-check-label" for="refundRadio1">
                                團體全退
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input radio-select" type="radio" name="refundRadio" id="refundRadio2" value="group" />
                            <label class="form-check-label" for="refundRadio2">
                                個人退費
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-bs-dismiss="modal">取消</button>
                <button type="button" class="btn btn-tdrf">確定</button>
            </div>
        </div>
    </div>
</div>


<% content_for :js do %>

    <!-- sidenav scrollbar -->
    <script src="../javascripts/jquery.scrollbar.min.js"></script>
    <script>
        jQuery(document).ready(function(){
            jQuery('.scrollbar-inner').scrollbar();
        });
	</script>

    <!-- sidenav open -->
	<script>
        (function () {
          'use strict'

          document.querySelector('#navbarSideCollapse').addEventListener('click', function () {
            document.querySelector('.offcanvas-collapse').classList.toggle('open')
          })
        })()
	</script>

    <!-- sidenav close -->
    <script>
        $("#widget-overlay").click(function(){
            $(".offcanvas-collapse").removeClass("open");
        });
	</script>
<% end %>