<!-- tdrf: 前測 -->

<div class="title-wrapper">
	<div class="container-lg">
		<span class="serial-number">COURSE-00149</span>
	    <h2><span class="date">2022/06/15</span> 專業人員/免費《110年上市後醫療器材子法規及QMS系統說明會 II》</h2>
	</div>
</div>

<div class="container-lg">
    <div class="dashboard-container">
	    <%= render :partial => "/partials/dashboard-sidenav" %>
		
		<div id="widget-overlay"></div>
		
		<main class="main">
            <button class="navbar-toggler button-widget" type="button" id="navbarSideCollapse" aria-label="Toggle navigation">
                <span class="hamburger">
                    <span class="line"></span>
                    <span class="line"></span>
                    <span class="line"></span>
                </span>
            </button>
            <h3 class="page-title">前測</h3>
			<form>
			    <div class="d-flex justify-content-center align-items-center mb-4" style="background:#e5e5e5; height: 600px;">後台設定前測表單內容</div>
			    <div class="mt-4">
				    <button type="submit" class="btn btn-lg btn-tdrf">送出</button>
				</div>
			</form>
		</main>
	</div>
</div>


<% content_for :js do %>

    <!-- sidenav scrollbar -->
    <script src="../javascripts/jquery.scrollbar.min.js"></script>
    <script>
        jQuery(document).ready(function(){
            jQuery('.scrollbar-inner').scrollbar();
        });
	</script>

    <!-- sidenav open -->
	<script>
        (function () {
          'use strict'

          document.querySelector('#navbarSideCollapse').addEventListener('click', function () {
            document.querySelector('.offcanvas-collapse').classList.toggle('open')
          })
        })()
	</script>

    <!-- sidenav close -->
    <script>
        $("#widget-overlay").click(function(){
            $(".offcanvas-collapse").removeClass("open");
        });
	</script>
<% end %>