<!-- NTU-Factsheet: 忘記密碼  -->

<div class="container">
    <div class="login-wrap">
        <form>
            <p class="h4 text-center py-4">忘記密碼</p>
			<p class="text-center mb-5">系統會重新設定一組新的密碼並寄送到您註冊的 Email 信箱</p>
            <div class="md-form">
                <input type="email" id="materialLoginFormEmail" class="form-control" placeholder="請輸入 Email">
            </div>

            <div class="md-form row">
                <div class="col">
                    <input type="text" id="CAPTCHA" class="form-control mb-4" placeholder="請輸入驗證碼">
                </div>
                <span class="col input-group-addon verification">
                    <img class="captcha" src="http://nfu-map.dev.com.tw/common/captcha.image">
                </span>
            </div>
            <div class="text-center py-4">
                <button class="btn btn-outline-unique btn-rounded my-4 waves-effect z-depth-0" type="submit">寄送密碼</button>
            </div>
        </form>
    </div>
</div>