<!-- NTU-Factsheet: 登入  -->

<div class="container">
    <div class="login-wrap">
        <form>
            <p class="h4 text-center py-4">登入</p>
            <div class="md-form">
                <input type="password" id="materialLoginFormPassword" class="form-control" placeholder="請輸入密碼">
            </div>

            <div class="md-form row">
                <div class="col">
                    <input type="text" id="CAPTCHA" class="form-control mb-4" placeholder="請輸入驗證碼">
                </div>
                <span class="col input-group-addon verification">
                    <img class="captcha" src="http://nfu-map.dev.com.tw/common/captcha.image">
                </span>
            </div>
            <div class="text-center py-4">
                <button class="btn btn-outline-unique btn-rounded my-4 waves-effect z-depth-0" type="submit">登入</button>

            </div>
            <p class="text-center"><a href="#" class="text-muted">忘記密碼</a></p>
        </form>
    </div>
</div>