<!-- NTU-Joint: 變更密碼  -->

<div class="container">
	<section class="login-wrap">
        <h4 class="block-title">Change Password</h4>
        <form>
			<div class="md-form">
                <input type="email" id="materialLoginFormEmail" class="form-control">
                <label for="materialLoginFormEmail">Email</label>
            </div>
            <div class="md-form">
                <input type="password" id="oldPassword" class="form-control">
                <label for="oldPassword">Old password</label>
            </div>
            <div class="md-form">
                <input type="password" id="newPassword" class="form-control">
                <label for="newPassword">New password</label>
            </div>
			<div class="md-form">
                <input type="password" id="newPasswordAgain" class="form-control">
                <label for="newPasswordAgain">New password again</label>
            </div>
            <div class="text-center py-4">
                <button class="btn btn-block btn-outline-deep-orange btn-rounded mb-3 waves-effect z-depth-0" type="submit">Submit</button>
            </div>
        </form>
    </section>
</div>