<!-- NTU-Joint: 繳費  -->

<div class="container">
	<div class="pay-container">
		<div class="mb-5">
            <h4 class="wrapper-title">Payment details</h4>
            <table class="table table-vertical-middle">
                <thead>
                    <tr>
                        <th>Project</th>
                        <th class="text-right">Registration Fee (NTD)</th>
                        <th class="text-right">Registration Fee (USD)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Registration Fee</td>
                        <td class="text-right">2,000</td>
                        <td class="text-right">70</td>
                    </tr>
                </tbody>
            </table>
		</div>
		
		<div class="mb-5">
            <h4 class="wrapper-title">Payment method</h4>
            <a class="btn btn-outline-primary btn-rounded pay-credit" href="#">
                <img class="credit-card" src="../assets/credit-card.png">
                <span>Pay by credit (card)</span>
            </a>
			<!-- 已完成繳費 -->
			<!--p class="font-300 text-dark">Payment completed <i class="fa fa-clock-o"></i> 2020/01/23 18:20</p-->
		</div>
        <div class="form-action">
            <a href="#" class="btn btn-link btn-lg btn-home color-home">
                <i class="fa fa-arrow-circle-left"></i> Back Home
            </a>
        </div>
	</div>
</div>

