<!-- NTU-Joint: 五步驟  -->

<div class="container">
	
	<div class="step-bar five-step">
		<ul>
			<li>
				<a href="step1.html">
					<span class="step">1</span>
					<h4>Basic</h4>
				</a>
			</li>
			<li>
				<a href="step2.html">
					<span class="step">2</span>
					<h4>Volunteer</h4>
				</a>
			</li>
			<li>
				<a href="step3.html">
					<span class="step">3</span>
					<h4>Upload files</h4>
				</a>
			</li>
			<li>
				<a href="step4.html">
					<span class="step">4</span>
					<h4>Review</h4>
				</a>
			</li>
			<li class="active">
				<a href="/">
					<span class="step">5</span>
					<h4>Pay and Submit Application</h4>
				</a>
			</li>
		</ul>
	</div>
	
	<div class="step-container"></div>
</div>































