<!-- NTU-Joint: 申請步驟一  -->

<div class="container">
	
	<!-- UI/UX Tips: 不曾進入過的步驟無連結，例如使用者進入到第二步驟，不曾進入過第三步驟，那麼第一步驟是可以點擊的，但第三步驟不行，但如果已經填到第三步驟，使用者回到第一步驟檢視或編輯完，可以點擊 step3 快速回到步驟三 -->
	
	<div class="step-bar four-step">
		<ul>
			<li class="active">
				<a href="step1.html">
					<span class="step">1</span>
					<h4>Basic</h4>
				</a>
			</li>
			<li>
                <span class="step">2</span>
                <h4>Volunteer</h4>
			</li>
			<li>
                <span class="step">3</span>
                <h4>Upload files</h4>
			</li>
			<li>
                <span class="step">4</span>
                <h4>Review</h4>
			</li>
		</ul>
	</div>
	<div class="step-container">
		<div class="precautions-block">
			<p>Required information is marked with an asterisk</p>
			<p>Information that you enter into the fields will not be saved until you click the "Save" bottom of each page</p>
		</div>
		<form>
	        <%= render :partial => "/partials/personal" %>
            <div class="form-action">
                <a href="#" class="btn btn-link btn-lg btn-home">
                    <i class="fa fa-arrow-circle-left"></i> Back Home
                </a>
                <a href="#" class="btn btn-primary btn-lg">Save</a>
                <a href="#" class="btn btn-link btn-lg">Next</a>
            </div>
		</form>
	</div>
</div>

