<!-- template: 忘記密碼 & 重新寄送認證信 -->

<!-- 忘記密碼 -->
<div class="container-lg">
	<div class="login-wrapper">
		<div class="login-card">
		    <div class="card-hd">
			    <h4 class="text-center">忘記密碼<small class="d-block">Forgot password</small></h4>
			</div>
			<div class="card-bd">
                <div class="form-group">
                    <label for="exampleFormControlInput1" class="form-label">請輸入信箱 Email address</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com" />
                </div>
			</div>
            <div class="d-grid mt-4">
                <button class="btn btn-lg btn-primary" type="submit">送出 Submit</button>
            </div>
		</div>
	</div>
</div>

<!-- 重新寄送認證信 -->
<div class="container-lg">
	<div class="login-wrapper">
		<div class="login-card">
		    <div class="card-hd">
			    <h4 class="text-center">重新寄送認證信<small class="d-block">Send verification mail again</small></h4>
			</div>
			<div class="card-bd">
                <div class="form-group">
                    <label for="exampleFormControlInput1" class="form-label">請輸入驗證信箱 Verification email</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com" />
                </div>
			</div>
            <div class="d-grid mt-4">
                <button class="btn btn-lg btn-primary" type="submit">送出 Submit</button>
            </div>
		</div>
	</div>
</div>

<% content_for :js do %>

<% end %>

