<!-- TCU-AE: 申請表  -->

<div class="container">
    <div class="row">
	    <div class="col-4">
		    <nav class="stepnav">
			    <ul>
				    <li>
					    <a class="item all-pass" href="#">
							<span class="num">1</span>
							<span class="question">申請人、單位</span>
							<div class="end">
								<span class="status"><i class="fa fa-check" aria-hidden="true" title="完成"></i></span>
								<span class="result"><i class="fa fa-check" aria-hidden="true" title="通過"></i></span>
							</div>
						</a>
					</li>
					<li>
					    <a class="item" href="#">
							<span class="num">2</span>
							<span class="question">計畫/課程/試驗名稱、經費來源、執行期限</span>
							<div class="end">
								<span class="status">退補件</span>
								<span class="result">不通過</span>
							</div>
						</a>
					</li>
					<li>
					    <a class="item all-pass" href="#">
							<span class="num">3</span>
							<span class="question">進行動物實驗之相關人員資料</span>
							<div class="end">
								<span class="status"><i class="fa fa-check" aria-hidden="true" title="完成"></i></span>
								<span class="result"><i class="fa fa-check" aria-hidden="true" title="通過"></i></span>
							</div>
						</a>
					</li>
					<li>
					    <a class="item all-pass" href="#">
							<span class="num">4</span>
							<span class="question">實驗所需之動物</span>
							<div class="end">
								<span class="status"><i class="fa fa-check" aria-hidden="true" title="完成"></i></span>
								<span class="result"><i class="fa fa-check" aria-hidden="true" title="通過"></i></span>
							</div>
						</a>
					</li>
					<li>
					    <a class="item all-pass" href="#">
							<span class="num">5</span>
							<span class="question">動物飼養</span>
							<div class="end">
								<span class="status"><i class="fa fa-check" aria-hidden="true" title="完成"></i></span>
								<span class="result"><i class="fa fa-check" aria-hidden="true" title="通過"></i></span>
							</div>
						</a>
					</li>
					<li>
					    <a class="item all-pass" href="#">
							<span class="num">6</span>
							<span class="question">請簡述本研究之目的</span>
							<div class="end">
								<span class="status"><i class="fa fa-check" aria-hidden="true" title="完成"></i></span>
								<span class="result"><i class="fa fa-check" aria-hidden="true" title="通過"></i></span>
							</div>
						</a>
					</li>
					<li>
					    <a class="item all-pass" href="#">
							<span class="num">7</span>
							<span class="question">請以動物實驗應用3Rs之替代及減量原則，說明動物實驗試驗設計、實驗動物需求、動物種別及數量之必要性</span>
							<div class="end">
								<span class="status"><i class="fa fa-check" aria-hidden="true" title="完成"></i></span>
								<span class="result"><i class="fa fa-check" aria-hidden="true" title="通過"></i></span>
							</div>
						</a>
					</li>
					<li>
					    <a class="item all-pass" href="#">
							<span class="num">8</span>
							<span class="question">請以實驗動物應用3Rs之精緻化原則，說明實驗中所進行之動物實驗內容</span>
							<div class="end">
								<span class="status"><i class="fa fa-check" aria-hidden="true" title="完成"></i></span>
								<span class="result"><i class="fa fa-check" aria-hidden="true" title="通過"></i></span>
							</div>
						</a>
					</li>
					<li>
					    <a class="item all-pass" href="#">
							<span class="num">9</span>
							<span class="question">請說明實驗結束後動物之處置方式</span>
							<div class="end">
								<span class="status"><i class="fa fa-check" aria-hidden="true" title="完成"></i></span>
								<span class="result"><i class="fa fa-check" aria-hidden="true" title="通過"></i></span>
							</div>
						</a>
					</li>
					<li>
					    <a class="item all-pass" href="#">
							<span class="num">10</span>
							<span class="question">有無進行危險性實驗，如具生物危害 (含感染性物質、致癌藥物、基因重組)、放射線及化學危害(含毒物) 實驗？</span>
							<div class="end">
								<span class="status"><i class="fa fa-check" aria-hidden="true" title="完成"></i></span>
								<span class="result"><i class="fa fa-check" aria-hidden="true" title="通過"></i></span>
							</div>
						</a>
					</li>
					<li>
					    <a class="item all-pass" href="#">
							<span class="num">11</span>
							<span class="question">本申請表是否與過去七年內審核通過之實驗內容相似？</span>
							<div class="end">
								<span class="status"><i class="fa fa-check" aria-hidden="true" title="完成"></i></span>
								<span class="result"><i class="fa fa-check" aria-hidden="true" title="通過"></i></span>
							</div>
						</a>
					</li>
				</ul>
			</nav>
		</div>
		<div class="col">
			<form>
				<div class="form-wrap">
					<div class="form-title mb-4">
						<h5>1.1 申請人</h5>
						<small class="pink-text">下列欄位皆必填</small>
					</div>
					<div class="form-group row">
						<label for="text_1" class="col-sm-3 col-form-label">活動名稱</label>
						<div class="col-sm-9">
							<input type="text" class="form-control" id="text_1" placeholder="">
						</div>
					</div>
					<div class="form-group row">
						<label for="text_2" class="col-sm-3 col-form-label">活動名稱(英文)</label>
						<div class="col-sm-9">
							<input type="text" class="form-control" id="text_2" placeholder="">
						</div>
					</div>
					<div class="form-group row">
						<label for="text_3" class="col-sm-3 col-form-label">活動說明</label>
						<div class="col-sm-9">
							<textarea type="text" class="form-control" id="text_3" placeholder=""></textarea>
						</div>
					</div>
					<div class="form-group row">
						<label for="text_4" class="col-sm-3 col-form-label">活動說明(英文)</label>
						<div class="col-sm-9">
							<textarea type="text" class="form-control" id="text_4" placeholder=""></textarea>
						</div>
					</div>
					<div class="form-group row">
						<label for="text_5" class="col-sm-3 col-form-label">是否線上報名</label>
						<div class="col-sm-9 form-inline">
							<div class="form-check">
								<input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1" checked>
								<label class="form-check-label" for="gridRadios1">是</label>
							</div>
							<div class="form-check">
								<input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
								<label class="form-check-label" for="gridRadios2">否</label>
							</div>
						</div>
					</div>
					<div class="form-group row">
						<label for="text_6" class="col-sm-3 col-form-label">開放人數</label>
						<div class="col-sm-4">
							<input type="text" class="form-control" id="text_6" placeholder="">
						</div>
					</div>
					<div class="form-group row">
						<label for="text_7" class="col-sm-3 col-form-label">開始日期</label>
						<div class="col-sm-4">
							<input type="text" class="form-control" id="text_7" placeholder="yyyy/mm/dd hh:mm:ss">
						</div>
					</div>
				</div>

				<div class="form-wrap">
					<div class="form-title mb-4">
						<h5>1.2 單位</h5>
					</div>
					<div class="form-group row">
						<label for="text_21" class="col-sm-3 col-form-label">推播時間</label>
						<div class="col-sm-4">
							<input type="text" class="form-control" id="text_21" placeholder="yyyy/mm/dd hh:mm:ss">
						</div>
					</div>
					<div class="form-group row">
						<label for="text_22" class="col-sm-3 col-form-label">Itmu 發送內容</label>
						<div class="col-sm-9">
							<textarea type="text" class="form-control" id="text_22" placeholder="請輸入70字內的簡訊內容"></textarea>
						</div>
					</div>
				</div>

			</form>
		</div>
	</div>
</div>

<% content_for :js do %>

<script>
	$(document).ready(function() {
		$('.mdb-select').material_select();
	});
</script>

<% end %>