

/* `Login
-----------------------------------------------------------------------------*/

.login-bg {
    animation: slide 6s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, #f1892e 50%, #f7b756 50%);
    bottom: 0;
    left: -50%;
    opacity: 0.5;
    position: fixed;
    right: -50%;
    top: 0;
    z-index: -1;
}

.login-innerbg {
    animation: slide 6s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, #f1892e 50%, #f7b756 50%);
    bottom: 0;
    left: -50%;
    opacity: 0.5;
    position: fixed;
    right: -50%;
    top: 0;
    z-index: -1;
}

.login-bg2 {
    animation-direction: alternate-reverse;
    animation-duration: 8s;
}

.login-bg3 {
    animation-duration: 10s;
}

@keyframes slide {
  0% {
    transform:translateX(-25%);
  }
  100% {
    transform:translateX(25%);
  }
}

.tdrf-login {
	width: 100%;
	height: 100%;
	section, .tdrf_login-wrapper {
		position: absolute;
		left: 0;
		top: 0;
		bottom: 0;
		right: 0;
		z-index: 0;
	}
    canvas {
        position: absolute;
		position: fixed;
        top: 50%;
        transform: translateY(-50%);
    }
}

.btn-outline-main {
	background-color: #fff;
	border: 2px solid $main_color;
	color: $main_color;
}

.btn-main {
	background-color: $main_color;
	color: #fff;
	&:hover { color: #fff; }
}

.tdrf_login-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1 !important;
	.tdrf_login-container {
		background: #fff;
		box-shadow: 0 -16px 8px rgba(#000, .07), 0 -4px 24px rgba(#000, .2);
		border-radius: 1rem;
		width: 420px;
		padding: 4rem 2rem 2rem;
		position: relative;
	}
	.logo {
		background: #fff;
		box-shadow: 0 -16px 8px rgba(#000, .05), 0 -24px 16px rgba(#000, .05);
		border-radius: 50%;
		margin-left: -53px;
		padding: .5rem;
		height: 106px;
		width: 106px;
		position: absolute;
		top: -53px;
		left: 50%;
		.logo__img {
			display: inline-block;
			margin: 8px 0 0 5px;
			width: 80px;
			height: auto;
		}
	}
	hgroup {
		text-align: center;
		h3 { font-weight: bold; }
		h5 { color: #666; }
	}
	.forget-password {
		margin-bottom: 0;
		padding-top: 3rem;
		text-align: center;
		position: relative;
		&:after {
			content: "";
			background: #777;
			margin-left: -24px;
			width: 48px;
			height: 2px;
			position: absolute;
			left: 50%;
			top: 12px;
		}
		a {
            color: #aaa;
            &:hover { color: #333; }
		}
	}
}

.tdrf_switch-container {
    margin: 0 auto;
	padding: 8rem 0 4rem;
    width: 1140px;
    position: relative;
    z-index: 1;
	.tdrf_logo {
		margin-bottom: 5rem;
		text-align: center;
		.logo__img {
			width: 320px;
			height: auto;
		}
	}
	.role-list {
		display: flex;
		flex-wrap: wrap;
		text-align: center;
		justify-content: center;
		li {
			background: #fff;
			border-radius: .375rem;
			box-shadow: 0 8px 4px rgba(#000, .07), 0 2px 12px rgba(#000, .2);
			margin-right: 2%;
			margin-bottom: 1.375rem;
			padding: 2rem;
			width: 49%;
			&:nth-child(even) {
				margin-right: 0;
			}
		}
		.item-title {
			margin-bottom: 2rem;
			font-size: 1.375rem;
			font-weight: bold;
			position: relative;
			&:after {
				content: "";
				background: #d2a440;
				width: 1.5rem;
				height: 1px;
				margin-left: -0.75rem;
				position: absolute;
				left: 50%;
				bottom: -0.75rem;
			}
		}
		.item-description {
			margin-bottom: 2rem;
			color: #666;
		}
		.btn-main { margin: 0; }
	}
	.switch-list {
		display: flex;
		flex-wrap: wrap;
		text-align: center;
		li {
			background: #fff;
			border-radius: .125rem;
			box-shadow: 0 8px 4px rgba(#000, .07), 0 2px 12px rgba(#000, .2);
			margin-right: 2%;
			margin-bottom: 1.375rem;
			padding: 2rem;
			width: 32%;
			&:nth-child(3n) {
				margin-right: 0;
			}
		}
		hgroup {
			margin-bottom: 2rem;
			position: relative;
			h5 { font-size: 1.375rem; }
			h6 { font-size: 1.125rem; }
			&:after {
				content: "";
				background: #d2a440;
				width: 2rem;
				height: 1px;
				margin-left: -1rem;
				position: absolute;
				left: 50%;
				bottom: -1.25rem;
			}
		}
		.principal {
			padding: 1.5rem 0 1rem;
			font-size: 1.125rem;
			color: #888;
			span {
				display: inline-block;
				margin-left: .25rem;
				font-weight: bold;
				color: #111;
			}
		}
		.btn {
			background-color: rgb(0,109,172) !important;
			margin: 0;
		}
		.dl-link {
			display: inline-block;
			margin-top: 1rem;
			color: #d2a440;
			&:hover {
				color: #111;
			}
		}
	}
}

/* `Stuff
-----------------------------------------------------------------------------*/

.col-block { background: #f6fafd !important; }

.table th, .table td { font-size: 1rem !important; }

.btn-table {
	.btn-padding {
		margin: 0;
		padding: .25rem 1.25rem !important;
	}
}

table.table {
    .table-link {
		color: $main_color;
		&:hover { color: $main_lighten_color; }
	}
	.text-break {
		white-space: normal;
	}
}

.md-form .input-prefix.active,
.md-form .input-prefix {
	color: $main_color;
}

.table {
	.form-control {
		padding: 0.3125rem 0.75rem;
	}
}

.modal .modal-fluid {
	width: 99%;
}

.group-toolbar {
	display: flex;
	background: #eaf5e1;
	margin: -1rem -1rem 2rem;
	padding: 20px;
	.form-group {
		display: flex;
		align-items: center;
		margin: 0 2rem 0 0;
		label { margin: 0 .5rem 0 0; }
	}
	.btn-sm {
		margin: 0;
		padding: 0.4375rem 0.75rem
	}
}

.table-striped tbody tr:nth-of-type(odd) {
	background-color: rgba(#f4f8fb, 1);
}

.opinion-container {
	display: flow-root;
	.profile-sidebar { width: 320px; }
	.profile-content { margin-left: 340px; }
}

.profile-sidebar {
	.user-hd {
		margin: 1rem 0 1.5rem;
		text-align: center;
		.fa {
			font-size: 3rem;
			color: #adb7c5;
		}
	}
	.expansion {
		.profile-head {
			border-bottom: 1px solid $base_border_color;
			padding: 20px;
			.btn-success { background: #4878b3 !important; }
		}
	}
	.detail-list,
	.detail-list li {
		list-style: none;
		margin: 0;
		padding: 0;
	}
	.detail-list {
		margin-bottom: 1rem;
		li {
			display: flex;
			margin-bottom: .25rem;
		}
		.label {
			min-width: 96px;
			font-weight: bold;
		}
		.detail-info { color: #666; }
		li:first-child {
			display: block;
			margin-bottom: 1.5rem;
			text-align: center;
			.label {
				display: block;
			}
			.detail-info {
				font-size: 1.375rem;
				font-weight: bold;
				color: #000;
			}
		}
	}
	.status-return {
		display: block;
		border-radius: .125rem;
		border: 1px solid $warning_color;
		padding: .7rem 1.6rem;
		color: $warning_color;
	}
}

.block-content {
	.opinion-block {
		margin-bottom: 3rem;
		.inner-hd {
			display: flex;
			margin: 1rem 0 1.5rem;
			color: #333;
			position: relative;
			h5 {
				margin-bottom: 0;
				padding-left: 20px;
				font-weight: bold;
                font-size: 1.375rem;
                &:before, &:after {
                    content: "";
                    position: absolute;
                    background: $main_color;
                    height: 22px;
                    top: 1px;
                }
                &:before {
                    width: 6px;
                    left: 0;
                }
                &:after {
                    width: 2px;
                    left: 8px;
                }
			}
		}
		.inner-bd {
			.form-output {
				margin-bottom: .5rem;
				label { width: 120px; }
				.output { display: inline-block; }
			}
		}
		.table-opinion {
			border: 1px solid $base_border_color;
			border-top: 0;
			padding: 1.25rem 1.25rem .75rem;
		}
		.table-group + .table-group {
			border-top: 1px dashed #bbb;
			margin-top: 1px;
			padding-top: 1px;
		}
	}
}

.btn-downshow {
	background: #fff;
	border-radius: .375rem;
	box-shadow: none;
	border: 1px solid $base_border_color;
	margin: 0 0 0 1rem;;
	padding: .25rem 1rem .125rem;
	position: relative;
	top: -4px;
	&:hover {
		box-shadow: none;
		border-color: darken($base_border_color, 30);
	}
}

.col-block {
	.block-header.flex-head {
		display: flex;
		justify-content: space-between;
		align-items: center;
		.record-title {
			font-size: 22px;
			font-weight: bold;
			color: #aa66cc;
			flex: 1;
		}
		.btn-showhide {
			background: #fff;
			box-shadow: 0 2px 4px rgba(#000, .1);
			border-radius: .25rem;
			border: 1px solid $base_border_color;
			margin: 0;
			padding: .375rem 1rem .25rem;
			color: #555;
			.fa { margin: 0; }
			&:hover {
				box-shadow: 0 1px 0 rgba(#000, .1);
				color: #000;
			}
			&.hide {
				.fa { transform:rotate(180deg); }
			}
		}
		.custom-control {
			flex: 1;
			.custom-control-label {
				padding-left: .5rem;
				font-size: 22px;
				font-weight: bold;
				color: #aa66cc;
				&:before, &:after {
					width: 1.5rem;
					height: 1.5rem;
				}
			}
		}
	}
}

.group-lg {
	.col-block { margin-bottom: 20px; }
}

.item-row-wrapper {
	.item-row{
		background: #fafafa;
		border-bottom: 1px dashed $base_border_color;
		margin: .5rem 0;
		padding: 1rem;
		&:last-child { margin-bottom: 0; }
		.form-group { margin-bottom: 0; }
	}
}

.badg-lg {
	padding: 0.375rem 0.5rem .25rem;
	font-size: 1rem;
}

.date-row {
	display: flex;
	margin-left: -5px;
	margin-right: -5px;
	flex-wrap: wrap;
	width: 50%;
	.date-col {
		padding-left: 5px;
		padding-right: 5px;
		width: 26%;
	}
	.date-col-sm {
		padding-left: 5px;
		padding-right: 5px;
		width: 22%;
	}
}

.btn-custom {
	background: #fff;
	border-radius: .375rem;
	box-shadow: none;
	border: 1px solid $blue;
	margin: 0;
	padding: 0.4375rem 1rem .3125rem;
	color: $blue;
	&:hover {
		box-shadow: none;
		border-color: $base_border_color;
		color: #111;
	}
	&.btn-block {
		padding-left: 0;
		padding-right: 0;
	}
}

.form-table,
.form-table td {
	border-color: #d0d5d9;
}

.form-table {
	margin: .3125rem 0;
	td {
		padding: .5rem !important;
	}
	.lable-th {
		//background: #f5f7f9;
		//background: #ecf1f5;
		background: rgba(#000, .03);
		width: 15%;
	}
	.form-td { width: 35%; }
	label {
		display: block;
		margin-bottom: 0;
		padding: 0 .5rem;
		font-weight: bold;
		text-align: right;
	}
	label.custom-control-label {
		font-weight: 400;
		text-align: left;
	}
	.custom-control {
		label { padding: 0; }
	}
    .app-record {
        font-size: 1rem;
        margin: .375rem 0 0;
        color: #593bff;
        span {
            display: inline-block;
            margin-right: .75rem;
        }
    }
	.form-control { margin-bottom: 0; }
}

/* `Case Remind
-----------------------------------------------------------------------------*/

.case-remind-group {
	//margin-bottom: .5rem;
	.menu-item {
		display: flex;
		flex-wrap: wrap;
	}
	li {
		padding-right: 4px !important;
		margin-bottom: 4px !important;
		width: 25%;
		&:nth-child(4n) { padding-right: 0 !important; }
	}
	.remind-btn {
		display: block;
		border: 1px solid rgba(#ddd, .25);
		background: #fff;
		border-radius: .5rem;
		box-shadow: 0 1px 2px rgba(#000, .05);
		margin: .25%;
		padding: .6125rem 1.25rem .5rem;
		min-height: 98px;
		color: #000;
		&:nth-child(4n) { margin-right: 0; }
		h5 {
			margin-bottom: .25rem;
			font-size: 1.125rem;
			font-weight: bold;
		}
		p {
			margin-bottom: .25rem;
			opacity: .5;
			transition: all 0.2s ease-in-out;
		}
		.badge-pill {
			background: $main_color;
			box-shadow: none;
			padding-top: .375rem;
			font-size: 15px;
			transition: all 0.2s ease-in-out;
		}
		&:hover {
			background: $body_background;
			border: 1px solid rgba(#ddd, .5);
			box-shadow: none;
			p { opacity: 1; }
			.badge-pill { background: $red_color; }
		}
	}
	li.current {
		.remind-btn {
			background: #fff;
			//border: 1px solid $main_color;
			box-shadow: 0 0 2px 1px rgba($main_color ,1) inset;
			cursor: default;
		}
		.badge-pill {
			background: $red_color !important;
		}
		p { opacity: 1; }
	}
}

.table {
	.btn-sm-edit {
		margin: 0;
		padding: .375rem .75rem !important;
	}
}

.table-vertical-center {
	td, tbody th { vertical-align: middle; }
}















