<!-- NTU-OSA: 藥品資訊  -->

<div class="container">
	
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="#">首頁</a></li>
			<li class="breadcrumb-item "><a href="#">藥品查詢</a></li>
			<li class="breadcrumb-item active">藥品資訊</li>
		</ol>
	</nav>
	
	<main class="main">
		<h2 class="post-title">KASCOAL TABLETS 加斯克兒錠</h2>
		<div class="row">
			<div class="col-md-6 col-lg-4">
			    <div class="medicine-photo">
				    <img src="https://placekeanu.com/800/600" alt="Keanu Reeves" title="Keanu Reeves">
				</div>
			</div>
			<div class="col-md-6 col-lg-8">
			    <ul class="menu-item medicine-info">
				    <li>
					    <div class="label">中英文藥品名</div>
						<div class="info">KASCOAL TABLETS 加斯克兒錠</div>
					</li>
					<li>
					    <div class="label">藥品分類</div>
						<div class="info">口服藥</div>
					</li>
					<li>
					    <div class="label">成分及劑量</div>
						<div class="info">DIMETHICONE 40 MG</div>
					</li>
					<li>
					    <div class="label">給藥途徑</div>
						<div class="info">口服</div>
					</li>
					<li>
					    <div class="label">適應症</div>
						<div class="info">解除脹氣、緩解氣脹相關症狀。</div>
					</li>
					<li>
					    <div class="label">副作用</div>
						<div class="info">少見</div>
					</li>
					<li>
					    <div class="label">懷孕分級</div>
						<div class="info">B</div>
					</li>
					<li>
					    <div class="label">最後修改者</div>
						<div class="info">劉婉如</div>
					</li>
				</ul>
			</div>
		</div>
	</main>
	
</div>


<% content_for :js do %>

<% end %>





















































