<!-- NTU-OSA: 藥品查詢  -->

<div class="container">
	
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="#">首頁</a></li>
			<li class="breadcrumb-item active">藥品查詢</li>
		</ol>
	</nav>
	
	<main class="main medicine-container">
		<div class="table-responsive">
			<!-- Table sort https://mdbootstrap.com/docs/jquery/tables/sort/ -->
		    <table id="dtBasicMedicine" class="table table-striped table-sm dtBasicMedicine">
                <thead>
                    <tr>
                        <th class="th-sm">中英文藥品名</th>
						<th class="th-sm">藥品分類</th>
						<th class="th-sm">成分及劑量</th>
                    </tr>
                </thead>
				<tbody>
					<% (1..20).map do |i| %>
				    <tr>
					    <td><a href="/">KASCOAL TABLETS 加斯克兒錠</a></td>
						<td>口服藥</td>
						<td>DIMETHICONE 40 MG</td>
					</tr>
					<tr>
					    <td><a href="/">GASMIN TABLETS 瓦斯敏錠</a></td>
						<td>外用藥</td>
						<td>DIMETHICONE 40 MG</td>
					</tr>
					<tr>
					    <td><a href="/">(O.S.M.D.) SINOMIN OPHTHALMIC SOLUTION 止膿敏點眼液</a></td>
						<td>口服藥</td>
						<td>SULFAMETHOXAZOLE 40 MG/ML 15 ML/瓶</td>
					</tr>
					<tr>
					    <td><a href="/">ACNE LOTION 4% 愛顏洗劑 4%</a></td>
						<td>外用藥</td>
						<td>SULFUR 40MG/ML 100ML/瓶</td>
					</tr>
					<% end %>
				</tbody>
			</table>
		</div>
	</main>
	
</div>


<% content_for :js do %>
<script type="text/javascript" src="../javascripts/addons/datatables.min.js"></script>
<script>
    $(document).ready(function() {
        $('#dtBasicMedicine').DataTable();
        $('.dataTables_length').addClass('bs-select');
    });
</script>
<% end %>





















































