<!-- template: 資料及密碼修改 -->

<div class="container-lg">
	<div class="login-wrapper">
		<div class="login-card">
		    <div class="card-hd">
			    <h3>註冊資料及密碼修改</h3>
			</div>
			<div class="card-bd">
                <div class="form-group">
                    <label for="exampleFormControlInput1" class="form-label">Email</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1" value="su@aa.com.tw" disabled />
                    <p class="form-text mb-0">同時會做為帳號登入使用</p>
                </div>
                <div class="form-group">
                    <label for="exampleFormControlInput2" class="form-label">姓名</label>
                    <input type="text" class="form-control" id="exampleFormControlInput2" />
                </div>
                <div class="form-group">
                    <label for="exampleFormControlInput3" class="form-label">聯絡電話</label>
                    <input type="text" class="form-control" id="exampleFormControlInput3" />
                    <p class="form-text mb-0">辦公室電話</p>
                </div>
                <div class="form-group">
                    <label for="exampleFormControlInput10" class="form-label">請輸入原密碼</label>
                    <input type="password" class="form-control" id="exampleFormControlInput20" />
                    <p class="form-text mb-0">無異動時無須輸入</p>
                </div>
                <div class="form-group">
                    <label for="exampleFormControlInput21" class="form-label">請輸入密碼</label>
                    <input type="password" class="form-control" id="exampleFormControlInput21" />
                    <p class="form-text mb-0">無異動時無須輸入</p>
                </div>
                <div class="form-group">
                    <label for="exampleFormControlInput21" class="form-label">請再次輸入密碼確認</label>
                    <input type="password" class="form-control" id="exampleFormControlInput21" />
                    <p class="form-text mb-0">無異動時無須輸入</p>
                </div>
			</div>
            <div class="d-grid my-4">
                <button class="btn btn-lg btn-primary" type="submit">確定</button>
            </div>
            <p class="text-center mb-0"><a href="#">返回首頁</a></p>
		</div>
	</div>
</div>



<% content_for :js do %>

<% end %>

