<!-- template: 註冊 -->

<div class="container-lg">
	<div class="login-wrapper">
		<div class="login-card">
		    <div class="card-hd">
			    <h3>註冊</h3>
			</div>
			<div class="card-bd">
                <div class="form-group">
                    <label for="exampleFormControlInput1" class="form-label">Email</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com" />
                    <p class="form-text mb-0">同時會做為帳號登入使用</p>
                </div>
                <div class="form-group">
                    <label for="exampleFormControlInput2" class="form-label">姓名</label>
                    <input type="text" class="form-control" id="exampleFormControlInput2" />
                </div>
                <div class="form-group">
                    <label for="exampleFormControlInput3" class="form-label">聯絡電話</label>
                    <input type="text" class="form-control" id="exampleFormControlInput3" />
                    <p class="form-text mb-0">辦公室電話</p>
                </div>
                <p>請至信箱內收取驗證連結，請點選連結進行密碼修改後即完成驗證並註冊成功。</p>
			</div>
            <div class="d-grid my-4">
                <button class="btn btn-lg btn-primary" type="button">驗證信箱</button>
            </div>
            <p class="text-center mb-0">已有帳號，<a href="#">前往登入</a></p>
		</div>
	</div>
</div>



<% content_for :js do %>

<% end %>

