<!-- template: 找專家/找合作 - 教師列表 -->

<div class="container-lg">
    <div class="page-content d-block">
        
        <div class="page-title">
            <h2>教師資料列表</h2>
        </div>
        
        <div class="table-responsive text-nowrap">
            <table class="table align-middle">
                <thead>
                    <tr>
                        <th></th>
                        <th>教師姓名</th>
                        <th>教師系所</th>
                        <th>領域</th>
                        <th>Email</th>
                    </tr>
                </thead>
                <tbody>
                    <% (1..6).map do |i| %>
                    <tr>
                        <td>
                            <a href="#" class="btn btn-outline-primary btn-rounded">瀏覽</a>
                        </td>
                        <td><%= zh_lorem_name %></td>
                        <td>生物環境系統工程學系</td>
                        <td>絕對領域</td>
                        <td><%= lorem_email %></td>
                    </tr>
                    <% end %>
                </tbody>
            </table> 
        </div>
        
    </div>
</div>



<% content_for :js do %>

<% end %>

