<!-- template: 產業趨勢 & 研發成果列表 -->

<div class="container-lg">
    <div class="page-content d-block">
        
        <div class="page-title">
            <h2>產業趨勢列表</h2>
        </div>
        
        <div class="search-bar">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="關鍵字檢索" aria-describedby="button-addon2">
                <button class="btn btn-secondary" type="submit" id="button-addon2"><i class="fas fa-search"></i></button>
            </div>
        </div>
        
        <div class="trend-list">
            
            <div class="list-item">
                
                <!-- 後台請提供 16:9 圖片裁切工具，裁切後才能使用，並提醒使用者 {建議圖片解析度最少 800x450} -->
                <div class="cover">
                    <img src="https://picsum.photos/800/450">
                </div>
                <div class="item-end">
                    <h3>國立臺北商業大學國際行銷學院應用外語系專任專案教師</h3>
                    
                    <!-- 後台請限制並註明摘要最多 120 字元 -->
                    <p class="summary">用壯乾誰們貓小？吹歌親且教金鳥亭泉。陽您吧；和嗎哭裏者聽晚波們回清火，足口品躲條哥象申肖珠細叫今收刃土正玉更，你出五故吃、片這詞外的那入耍！收男活讀紅小語頁重汁假。朵吉者現波毛。木蝶念各良夏抄，沒村很歡重羽聲百科具雨氣象士眼知吧且別，瓜亭服</p>
                    <div class="text-end">
                        <a href="#" class="readmore"><span>閱覽全文</span></a>
                    </div>
                </div>
            </div>
            
            <% (1..7).map do |i| %>
            <div class="list-item">
                
                <!-- 後台請提供 16:9 圖片裁切工具，裁切後才能使用，並提醒使用者 {建議圖片解析度最少 800x450} -->
                <div class="cover">
                    <img src="https://picsum.photos/400/225">
                </div>
                <div class="item-end">
                    <h3><%= lorem_sentence %></h3>
                    <p class="summary"><%= zh_lorem_paragraph %></p>
                    <div class="text-end">
                        <a href="#" class="readmore"><span>閱覽全文</span></a>
                    </div>
                </div>
            </div>
            <% end %>
            
        </div>
        
        <nav aria-label="...">
            <ul class="pagination justify-content-end">
                <li class="page-item disabled">
                    <a class="page-link">Previous</a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item active" aria-current="page">
                    <a class="page-link" href="#">2</a>
                </li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                    <a class="page-link" href="#">Next</a>
                </li>
            </ul>
        </nav>
        
    </div>
</div>



<% content_for :js do %>

<% end %>

