
/* `Footer
-----------------------------------------------------------------------------*/

footer.footer {
	border-top: 1px solid #E5EDEB;
	margin-top: calc(3.5rem + 3.5vw);
	padding: calc(2rem + 2vw) 0 calc(4rem + 4vw);
	.footer-inner {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		gap: 4rem;
	}
	.inner-item {
		width: calc(25% - 48px);
		color: #666;
		transition: all 0.1s ease-in-out;
		&:hover {
			color: #222;
		}
	}
	.logo-link {
		display: flex;
		align-items: center;
		height: 96px;
		filter: grayscale(100%);
		&:hover {
			filter: grayscale(0%);
		}
	}
	.logo-image {
		width: auto;;
	}

	h6 { font-size: .9375rem; }
	.contact-info {
		display: block;
		margin-bottom: .125rem;
		font-size: .875rem;
	}
}

/* `Responsive
-----------------------------------------------------------------------------*/

@media (max-width: 1399px) {
	footer.footer {
		.footer-inner { gap: 3rem; }
		.inner-item {
			width: calc(25% - 36px);
		}
	}
}

@media (max-width: 991px) {
	footer.footer {
		.footer-inner { gap: 4rem; }
		.inner-item {
			width: calc(50% - 2rem);
		}
	}
}

@media (max-width: 479px) {
	footer.footer {
		.footer-inner { gap: 2rem; }
		.inner-item {
			width: 100%;
		}
	}
}






