<!-- ietw: 導航網站 - 日本列表 -->

<%= render :partial => "/partials/breadcrumb" %>
<div class="sidenav-overlay"></div>
<div class="content-wrapper">
    <div class="container">
        <div class="pages-row">
            
            <!-- 側欄選單 -->
            <div class="sidenav">
                <div class="scrollbar-inner">
                    <a accesskey="L" href="#accesskey_left_nav" tabindex="0" title="左側目錄" id="accesskey_left_nav" class="ackey d-none d-xl-block">:::</a>
                    <div id="accordian_nav" class="sidenav-inner">
                        <h5 class="fw-bold nav-title">國際教育旅行導航網站</h5>
                        <ul>
                            <li>
                                <h4>
                                    <a href="#" title="{連結名稱}">臺灣(各縣市)</a>
                                </h4>
                            </li>
                            <li class="has-child active">
                                <h4>
                                    <a href="#" title="{連結名稱}">日本</a>
                                </h4>
                                <ul>
                                    <li><a class="current" href="#" title="{連結名稱}">教育旅行之行程建議</a></li>
                                    <li><a href="#" title="{連結名稱}">教育内涵層面</a></li>
                                    <li><a href="#" title="{連結名稱}">教育旅行視訊交流學習的規劃</a></li>
                                    <li><a href="#" title="{連結名稱}">學生的學習歷程如何準備</a></li>
                                    <li><a href="#" title="{連結名稱}">兩國文化歴史的連結</a></li>
                                </ul>
                            </li>
                            <li>
                                <h4>
                                    <a href="#" title="{連結名稱}">韓國</a>
                                </h4>
                            </li>
                            <li>
                                <h4>
                                    <a href="#" title="{連結名稱}">其他(建置中)</a>
                                </h4>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- 主要內容 -->
            <main class="main">
                <a accesskey="C" href="#accesskey_content" tabindex="0" title="主要內容" id="accesskey_content" class="ackey">:::</a>

                <article class="page-article">
                    <div class="post-head">
                        <div class="post-title">
                            <h2>教育旅行之行程建議</h2>
                        </div>
                    </div>
                    
                    <div class="post-content">
                        
                        <ul class="menu-item nav-japen-list">
                            <li>
                                <a href="#" class="list-item" title="{連結名稱}"><span>沖繩縣</span></a>
                            </li>
                            <li>
                                <a href="#" class="list-item" title="{連結名稱}"><span>長野縣/千葉縣</span></a>
                            </li>
                            <li>
                                <a href="#" class="list-item" title="{連結名稱}"><span>福島縣/山形縣/宮城縣</span></a>
                            </li>
                            <li>
                                <a href="#" class="list-item" title="{連結名稱}"><span>熊本縣/福岡縣</span></a>
                            </li>
                            <li>
                                <a href="#" class="list-item" title="{連結名稱}"><span>四國(德島縣、香川縣、愛媛縣、高知縣)</span></a>
                            </li>
                            <li>
                                <a href="#" class="list-item" title="{連結名稱}"><span>栃木縣/琦玉縣/茨城縣</span></a>
                            </li>
                            <li>
                                <a href="#" class="list-item" title="{連結名稱}"><span>大阪府/兵庫縣/京都府/奈良縣/和歌山縣</span></a>
                            </li>
                            <li>
                                <a href="#" class="list-item" title="{連結名稱}"><span>北海道</span></a>
                            </li>
                            <li>
                                <a href="#" class="list-item" title="{連結名稱}"><span>岡山縣</span></a>
                            </li>
                            <li>
                                <a href="#" class="list-item" title="{連結名稱}"><span>長崎縣</span></a>
                            </li>
                        </ul>
                        
                    </div>
                </article>
                
            </main>
            
        </div>
    </div>
</div>



<% content_for :js do %>

<% end %>