<!-- admin-page: 國立高雄科技大學 - 招生流程設定 -->
<%= render :partial => "/partials/admin_breadcrumb" %>

<main class="main">
    <div class="page-header">
        <h2>學年學期設定</h2>
		<p>設定開放作業項目</p>
    </div>
    <div class="normal-wrapper">
        <form class="basic-form">
            <div class="signup-process">
                <ul class="process-list menu-item">
                    <li class="process-item">
                        <div class="status">
                            <label class="label">
                                <input class="label__checkbox" type="checkbox" checked/>
                                <span class="label__text">
                                    <span class="label__check">
                                        <i class="fa fa-check icon"></i>
                                    </span>
                                </span>
                            </label>
                        </div>
                        <div class="process-wrap">
                            <div class="wrap-hd">
                                <h5 class="wrap-title">基本資料</h5>
                                <p class="brief text-light-purple">網站開放瀏覽/及活動日程</p>
                            </div>
                            <div class="wrap-bd">
                                <div class="row">
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label for="academicYear">學年</label>
                                            <input type="text" id="academicYear" class="form-control">
                                            <p class="text-caption">可放說明文案</p>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label for="schoolTerm">學期</label>
                                            <input type="text" id="schoolTerm" class="form-control">
                                            <p class="text-caption">可放說明文案</p>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label>日程外相關設定複製來源</label>
                                            <div>
                                                <select class="browser-default custom-select">
                                                    <option selected>Open this select menu</option>
                                                    <option value="1">One</option>
                                                    <option value="2">Two</option>
                                                    <option value="3">Three</option>
                                                </select>
                                            </div>
                                            <p class="text-caption">可放說明文案</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>

                    <li class="process-item">
                        <div class="status">
                            <label class="label">
                                <input class="label__checkbox" type="checkbox" />
                                <span class="label__text">
                                    <span class="label__check">
                                        <i class="fa fa-check icon"></i>
                                    </span>
                                </span>
                            </label>
                        </div>
                        <div class="process-wrap">
                            <div class="wrap-hd">
                                <h5 class="wrap-title">簡章調查作業</h5>
                            </div>
                            <div class="wrap-bd">
                                <div class="form-group">
                                    <label>簡章分則調查</label>
                                    <div class="date_period-row">
                                        <div class="col-picker">
                                            <div id="date-picker-example" class="md-form md-outline input-with-post-icon datepicker">
                                                <input placeholder="Select date" type="text" id="example" class="form-control" />
                                                <label for="example"></label>
                                                <i class="fa fa-calendar input-prefix" tabindex="0"></i>
                                            </div>
                                        </div>
                                        <div class="col-hyphen">~</div>
                                        <div class="col-picker">
                                            <div id="date-picker-example" class="md-form md-outline input-with-post-icon datepicker">
                                                <input placeholder="Select date" type="text" id="example" class="form-control" />
                                                <label for="example"></label>
                                                <i class="fa fa-calendar input-prefix" tabindex="0"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <p class="text-caption">可放說明文案</p>
                                </div>
                                <div class="form-group">
                                    <label for="briefAnnouncement">簡章公告</label>
                                    <div class="row">
                                        <div class="col-6">
                                            <input type="text" id="briefAnnouncement" class="form-control">
                                        </div>
                                        <div class="col-6">
                                            <div id="date-picker-example" class="md-form md-outline input-with-post-icon datepicker">
                                                <input placeholder="Select date" type="text" id="example" class="form-control" />
                                                <label for="example"></label>
                                                <i class="fa fa-calendar input-prefix" tabindex="0"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <p class="text-caption">可放說明文案</p>
                                </div>
                                <div class="form-group">
                                    <label>命題</label>
                                    <div class="date_period-row">
                                        <div class="col-picker">
                                            <div id="date-picker-example" class="md-form md-outline input-with-post-icon datepicker">
                                                <input placeholder="Select date" type="text" id="example" class="form-control" />
                                                <label for="example"></label>
                                                <i class="fa fa-calendar input-prefix" tabindex="0"></i>
                                            </div>
                                        </div>
                                        <div class="col-hyphen">~</div>
                                        <div class="col-picker">
                                            <div id="date-picker-example" class="md-form md-outline input-with-post-icon datepicker">
                                                <input placeholder="Select date" type="text" id="example" class="form-control" />
                                                <label for="example"></label>
                                                <i class="fa fa-calendar input-prefix" tabindex="0"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <p class="text-caption">可放說明文案</p>
                                </div>
                            </div>
                        </div>
                    </li>

                    <li class="process-item">
                        <div class="status">
                            <label class="label">
                                <input class="label__checkbox" type="checkbox" />
                                <span class="label__text">
                                    <span class="label__check">
                                        <i class="fa fa-check icon"></i>
                                    </span>
                                </span>
                            </label>
                        </div>
                        <div class="process-wrap">
                            <div class="wrap-hd">
                                <h5 class="wrap-title">考生報名及審查作業</h5>
                            </div>
                            <div class="wrap-bd">
                                <div class="form-group">
                                    <label>入學同等學力認定標準第6、7條報考者寄送資料</label>
                                    <div class="date_period-row">
                                        <div class="col-picker">
                                            <div id="date-picker-example" class="md-form md-outline input-with-post-icon datepicker">
                                                <input placeholder="Select date" type="text" id="example" class="form-control" />
                                                <label for="example"></label>
                                                <i class="fa fa-calendar input-prefix" tabindex="0"></i>
                                            </div>
                                        </div>
                                        <div class="col-hyphen">~</div>
                                        <div class="col-picker">
                                            <div id="date-picker-example" class="md-form md-outline input-with-post-icon datepicker">
                                                <input placeholder="Select date" type="text" id="example" class="form-control" />
                                                <label for="example"></label>
                                                <i class="fa fa-calendar input-prefix" tabindex="0"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>考生報名、繳費、上傳表件</label>
                                    <div class="date_period-row has-time">
                                        <div class="col-picker">
                                            <div class="date-wrap">
                                                <div id="date-picker-example" class="md-form md-outline input-with-post-icon datepicker">
                                                    <input placeholder="Select date" type="text" id="example" class="form-control" />
                                                    <label for="example"></label>
                                                    <i class="fa fa-calendar input-prefix" tabindex="0"></i>
                                                </div>
                                            </div>
                                            <div class="time-wrap">
                                                <div class="col-time">
                                                    <select class="browser-default custom-select">
                                                        <option value="00">00</option>
                                                        <option value="01">01</option>
                                                        <option value="02">02</option>
                                                        <option value="03">03</option>
                                                    </select>
                                                </div>
                                                <div class="col-colon">:</div>
                                                <div class="col-time">
                                                    <select class="browser-default custom-select">
                                                        <option value="00">00</option>
                                                        <option value="01">01</option>
                                                        <option value="02">02</option>
                                                        <option value="03">03</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-hyphen">~</div>
                                        <div class="col-picker">
                                            <div class="date-wrap">
                                                <div id="date-picker-example" class="md-form md-outline input-with-post-icon datepicker">
                                                    <input placeholder="Select date" type="text" id="example" class="form-control" />
                                                    <label for="example"></label>
                                                    <i class="fa fa-calendar input-prefix" tabindex="0"></i>
                                                </div>
                                            </div>
                                            <div class="time-wrap">
                                                <div class="col-time">
                                                    <select class="browser-default custom-select">
                                                        <option value="00">00</option>
                                                        <option value="01">01</option>
                                                        <option value="02">02</option>
                                                        <option value="03">03</option>
                                                    </select>
                                                </div>
                                                <div class="col-colon">:</div>
                                                <div class="col-time">
                                                    <select class="browser-default custom-select">
                                                        <option value="00">00</option>
                                                        <option value="01">01</option>
                                                        <option value="02">02</option>
                                                        <option value="03">03</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>本校網站公告報考資料審查結果</label>
                                    <div class="date_period-row has-time">
                                        <div class="col-picker">
                                            <div class="date-wrap">
                                                <div id="date-picker-example" class="md-form md-outline input-with-post-icon datepicker">
                                                    <input placeholder="Select date" type="text" id="example" class="form-control" />
                                                    <label for="example"></label>
                                                    <i class="fa fa-calendar input-prefix" tabindex="0"></i>
                                                </div>
                                            </div>
                                            <div class="time-wrap">
                                                <div class="col-time">
                                                    <select class="browser-default custom-select">
                                                        <option value="00">00</option>
                                                        <option value="01">01</option>
                                                        <option value="02">02</option>
                                                        <option value="03">03</option>
                                                    </select>
                                                </div>
                                                <div class="col-colon">:</div>
                                                <div class="col-time">
                                                    <select class="browser-default custom-select">
                                                        <option value="00">00</option>
                                                        <option value="01">01</option>
                                                        <option value="02">02</option>
                                                        <option value="03">03</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>准考證列印時間</label>
                                    <div class="date_period-row has-time">
                                        <div class="col-picker">
                                            <div class="date-wrap">
                                                <div id="date-picker-example" class="md-form md-outline input-with-post-icon datepicker">
                                                    <input placeholder="Select date" type="text" id="example" class="form-control" />
                                                    <label for="example"></label>
                                                    <i class="fa fa-calendar input-prefix" tabindex="0"></i>
                                                </div>
                                            </div>
                                            <div class="time-wrap">
                                                <div class="col-time">
                                                    <select class="browser-default custom-select">
                                                        <option value="00">00</option>
                                                        <option value="01">01</option>
                                                        <option value="02">02</option>
                                                        <option value="03">03</option>
                                                    </select>
                                                </div>
                                                <div class="col-colon">:</div>
                                                <div class="col-time">
                                                    <select class="browser-default custom-select">
                                                        <option value="00">00</option>
                                                        <option value="01">01</option>
                                                        <option value="02">02</option>
                                                        <option value="03">03</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-hyphen">~</div>
                                        <div class="col-picker">
                                            <div class="date-wrap">
                                                <div id="date-picker-example" class="md-form md-outline input-with-post-icon datepicker">
                                                    <input placeholder="Select date" type="text" id="example" class="form-control" />
                                                    <label for="example"></label>
                                                    <i class="fa fa-calendar input-prefix" tabindex="0"></i>
                                                </div>
                                            </div>
                                            <div class="time-wrap">
                                                <div class="col-time">
                                                    <select class="browser-default custom-select">
                                                        <option value="00">00</option>
                                                        <option value="01">01</option>
                                                        <option value="02">02</option>
                                                        <option value="03">03</option>
                                                    </select>
                                                </div>
                                                <div class="col-colon">:</div>
                                                <div class="col-time">
                                                    <select class="browser-default custom-select">
                                                        <option value="00">00</option>
                                                        <option value="01">01</option>
                                                        <option value="02">02</option>
                                                        <option value="03">03</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="process-item">
                        <div class="status">
                            <label class="label">
                                <input class="label__checkbox" type="checkbox" />
                                <span class="label__text">
                                    <span class="label__check">
                                        <i class="fa fa-check icon"></i>
                                    </span>
                                </span>
                            </label>
                        </div>
                        <div class="process-wrap">
                            <div class="wrap-hd">
                                <h5 class="wrap-title">考試作業</h5>
                            </div>
                            <div class="wrap-bd">
                                <div class="form-group">
                                    <label>調查面試地點</label>
                                    <div class="date_period-row">
                                        <div class="col-picker">
                                            <div id="date-picker-example" class="md-form md-outline input-with-post-icon datepicker">
                                                <input placeholder="Select date" type="text" id="example" class="form-control" />
                                                <label for="example"></label>
                                                <i class="fa fa-calendar input-prefix" tabindex="0"></i>
                                            </div>
                                        </div>
                                        <div class="col-hyphen">~</div>
                                        <div class="col-picker">
                                            <div id="date-picker-example" class="md-form md-outline input-with-post-icon datepicker">
                                                <input placeholder="Select date" type="text" id="example" class="form-control" />
                                                <label for="example"></label>
                                                <i class="fa fa-calendar input-prefix" tabindex="0"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>書面資料審查作業</label>
                                    <div class="date_period-row">
                                        <div class="col-picker">
                                            <div id="date-picker-example" class="md-form md-outline input-with-post-icon datepicker">
                                                <input placeholder="Select date" type="text" id="example" class="form-control" />
                                                <label for="example"></label>
                                                <i class="fa fa-calendar input-prefix" tabindex="0"></i>
                                            </div>
                                        </div>
                                        <div class="col-hyphen">~</div>
                                        <div class="col-picker">
                                            <div id="date-picker-example" class="md-form md-outline input-with-post-icon datepicker">
                                                <input placeholder="Select date" type="text" id="example" class="form-control" />
                                                <label for="example"></label>
                                                <i class="fa fa-calendar input-prefix" tabindex="0"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>各系送交書面資料審查成績</label>
                                    <div class="date_period-row">
                                        <div class="col-picker">
                                            <div id="date-picker-example" class="md-form md-outline input-with-post-icon datepicker">
                                                <input placeholder="Select date" type="text" id="example" class="form-control" />
                                                <label for="example"></label>
                                                <i class="fa fa-calendar input-prefix" tabindex="0"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <p class="text-caption">日期前</p>
                                </div>
                                <div class="form-group">
                                    <label>筆試試場安排</label>
                                    <div class="date_period-row">
                                        <div class="col-picker">
                                            <div id="date-picker-example" class="md-form md-outline input-with-post-icon datepicker">
                                                <input placeholder="Select date" type="text" id="example" class="form-control" />
                                                <label for="example"></label>
                                                <i class="fa fa-calendar input-prefix" tabindex="0"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>系網公告面試名單</label>
                                    <div class="date_period-row">
                                        <div class="col-picker">
                                            <div id="date-picker-example" class="md-form md-outline input-with-post-icon datepicker">
                                                <input placeholder="Select date" type="text" id="example" class="form-control" />
                                                <label for="example"></label>
                                                <i class="fa fa-calendar input-prefix" tabindex="0"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>筆試時間</label>
                                    <div class="date_period-row">
                                        <div class="col-picker">
                                            <div id="date-picker-example" class="md-form md-outline input-with-post-icon datepicker">
                                                <input placeholder="Select date" type="text" id="example" class="form-control" />
                                                <label for="example"></label>
                                                <i class="fa fa-calendar input-prefix" tabindex="0"></i>
                                            </div>
                                        </div>
                                        <div class="col-hyphen">~</div>
                                        <div class="col-picker">
                                            <div id="date-picker-example" class="md-form md-outline input-with-post-icon datepicker">
                                                <input placeholder="Select date" type="text" id="example" class="form-control" />
                                                <label for="example"></label>
                                                <i class="fa fa-calendar input-prefix" tabindex="0"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>面試時間</label>
                                    <div class="date_period-row">
                                        <div class="col-picker">
                                            <div id="date-picker-example" class="md-form md-outline input-with-post-icon datepicker">
                                                <input placeholder="Select date" type="text" id="example" class="form-control" />
                                                <label for="example"></label>
                                                <i class="fa fa-calendar input-prefix" tabindex="0"></i>
                                            </div>
                                        </div>
                                        <div class="col-hyphen">~</div>
                                        <div class="col-picker">
                                            <div id="date-picker-example" class="md-form md-outline input-with-post-icon datepicker">
                                                <input placeholder="Select date" type="text" id="example" class="form-control" />
                                                <label for="example"></label>
                                                <i class="fa fa-calendar input-prefix" tabindex="0"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>送交面試審查成績</label>
                                    <div class="date_period-row has-time">
                                        <div class="col-picker">
                                            <div class="date-wrap">
                                                <div id="date-picker-example" class="md-form md-outline input-with-post-icon datepicker">
                                                    <input placeholder="Select date" type="text" id="example" class="form-control" />
                                                    <label for="example"></label>
                                                    <i class="fa fa-calendar input-prefix" tabindex="0"></i>
                                                </div>
                                            </div>
                                            <div class="time-wrap">
                                                <div class="col-time">
                                                    <select class="browser-default custom-select">
                                                        <option value="00">00</option>
                                                        <option value="01">01</option>
                                                        <option value="02">02</option>
                                                        <option value="03">03</option>
                                                    </select>
                                                </div>
                                                <div class="col-colon">:</div>
                                                <div class="col-time">
                                                    <select class="browser-default custom-select">
                                                        <option value="00">00</option>
                                                        <option value="01">01</option>
                                                        <option value="02">02</option>
                                                        <option value="03">03</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="process-item">
                        <div class="status">
                            <label class="label">
                                <input class="label__checkbox" type="checkbox" />
                                <span class="label__text">
                                    <span class="label__check">
                                        <i class="fa fa-check icon"></i>
                                    </span>
                                </span>
                            </label>
                        </div>
                        <div class="process-wrap">
                            <div class="wrap-hd">
                                <h5 class="wrap-title">考生成績作業</h5>
                            </div>
                            <div class="wrap-bd">
                                <div class="form-group">
                                    <label>閱卷</label>
                                    <div class="date_period-row">
                                        <div class="col-picker">
                                            <div id="date-picker-example" class="md-form md-outline input-with-post-icon datepicker">
                                                <input placeholder="Select date" type="text" id="example" class="form-control" />
                                                <label for="example"></label>
                                                <i class="fa fa-calendar input-prefix" tabindex="0"></i>
                                            </div>
                                        </div>
                                        <div class="col-hyphen">~</div>
                                        <div class="col-picker">
                                            <div id="date-picker-example" class="md-form md-outline input-with-post-icon datepicker">
                                                <input placeholder="Select date" type="text" id="example" class="form-control" />
                                                <label for="example"></label>
                                                <i class="fa fa-calendar input-prefix" tabindex="0"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="process-item">
                        <div class="status">
                            <label class="label">
                                <input class="label__checkbox" type="checkbox" />
                                <span class="label__text">
                                    <span class="label__check">
                                        <i class="fa fa-check icon"></i>
                                    </span>
                                </span>
                            </label>
                        </div>
                        <div class="process-wrap">
                            <div class="wrap-hd">
                                <h5 class="wrap-title">錄取作業</h5>
                            </div>
                            <div class="wrap-bd">
                                <div class="form-group">
                                    <label>提報建議錄取標準(初試)</label>
                                    <div class="date_period-row">
                                        <div class="col-picker">
                                            <div id="date-picker-example" class="md-form md-outline input-with-post-icon datepicker">
                                                <input placeholder="Select date" type="text" id="example" class="form-control" />
                                                <label for="example"></label>
                                                <i class="fa fa-calendar input-prefix" tabindex="0"></i>
                                            </div>
                                        </div>
                                        <div class="col-hyphen">~</div>
                                        <div class="col-picker">
                                            <div id="date-picker-example" class="md-form md-outline input-with-post-icon datepicker">
                                                <input placeholder="Select date" type="text" id="example" class="form-control" />
                                                <label for="example"></label>
                                                <i class="fa fa-calendar input-prefix" tabindex="0"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>提報建議錄取標準(複試)</label>
                                    <div class="date_period-row">
                                        <div class="col-picker">
                                            <div id="date-picker-example" class="md-form md-outline input-with-post-icon datepicker">
                                                <input placeholder="Select date" type="text" id="example" class="form-control" />
                                                <label for="example"></label>
                                                <i class="fa fa-calendar input-prefix" tabindex="0"></i>
                                            </div>
                                        </div>
                                        <div class="col-hyphen">~</div>
                                        <div class="col-picker">
                                            <div id="date-picker-example" class="md-form md-outline input-with-post-icon datepicker">
                                                <input placeholder="Select date" type="text" id="example" class="form-control" />
                                                <label for="example"></label>
                                                <i class="fa fa-calendar input-prefix" tabindex="0"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>系所聯合招生錄取填寫時間</label>
                                    <div class="date_period-row">
                                        <div class="col-picker">
                                            <div id="date-picker-example" class="md-form md-outline input-with-post-icon datepicker">
                                                <input placeholder="Select date" type="text" id="example" class="form-control" />
                                                <label for="example"></label>
                                                <i class="fa fa-calendar input-prefix" tabindex="0"></i>
                                            </div>
                                        </div>
                                        <div class="col-hyphen">~</div>
                                        <div class="col-picker">
                                            <div id="date-picker-example" class="md-form md-outline input-with-post-icon datepicker">
                                                <input placeholder="Select date" type="text" id="example" class="form-control" />
                                                <label for="example"></label>
                                                <i class="fa fa-calendar input-prefix" tabindex="0"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="process-item">
                        <div class="status">
                            <label class="label">
                                <input class="label__checkbox" type="checkbox" />
                                <span class="label__text">
                                    <span class="label__check">
                                        <i class="fa fa-check icon"></i>
                                    </span>
                                </span>
                            </label>
                        </div>
                        <div class="process-wrap">
                            <div class="wrap-hd">
                                <h5 class="wrap-title">報到作業</h5>
                            </div>
                            <div class="wrap-bd">
                                <div class="form-group">
                                    <label>總成績公告及查詢(初試)</label>
                                    <div class="date_period-row has-time">
                                        <div class="col-picker">
                                            <div class="date-wrap">
                                                <div id="date-picker-example" class="md-form md-outline input-with-post-icon datepicker">
                                                    <input placeholder="Select date" type="text" id="example" class="form-control" />
                                                    <label for="example"></label>
                                                    <i class="fa fa-calendar input-prefix" tabindex="0"></i>
                                                </div>
                                            </div>
                                            <div class="time-wrap">
                                                <div class="col-time">
                                                    <select class="browser-default custom-select">
                                                        <option value="00">00</option>
                                                        <option value="01">01</option>
                                                        <option value="02">02</option>
                                                        <option value="03">03</option>
                                                    </select>
                                                </div>
                                                <div class="col-colon">:</div>
                                                <div class="col-time">
                                                    <select class="browser-default custom-select">
                                                        <option value="00">00</option>
                                                        <option value="01">01</option>
                                                        <option value="02">02</option>
                                                        <option value="03">03</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>總成績公告及查詢(複試)</label>
                                    <div class="date_period-row has-time">
                                        <div class="col-picker">
                                            <div class="date-wrap">
                                                <div id="date-picker-example" class="md-form md-outline input-with-post-icon datepicker">
                                                    <input placeholder="Select date" type="text" id="example" class="form-control" />
                                                    <label for="example"></label>
                                                    <i class="fa fa-calendar input-prefix" tabindex="0"></i>
                                                </div>
                                            </div>
                                            <div class="time-wrap">
                                                <div class="col-time">
                                                    <select class="browser-default custom-select">
                                                        <option value="00">00</option>
                                                        <option value="01">01</option>
                                                        <option value="02">02</option>
                                                        <option value="03">03</option>
                                                    </select>
                                                </div>
                                                <div class="col-colon">:</div>
                                                <div class="col-time">
                                                    <select class="browser-default custom-select">
                                                        <option value="00">00</option>
                                                        <option value="01">01</option>
                                                        <option value="02">02</option>
                                                        <option value="03">03</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>總成績複查截止</label>
                                    <div class="date_period-row has-time">
                                        <div class="col-picker">
                                            <div class="date-wrap">
                                                <div id="date-picker-example" class="md-form md-outline input-with-post-icon datepicker">
                                                    <input placeholder="Select date" type="text" id="example" class="form-control" />
                                                    <label for="example"></label>
                                                    <i class="fa fa-calendar input-prefix" tabindex="0"></i>
                                                </div>
                                            </div>
                                            <div class="time-wrap">
                                                <div class="col-time">
                                                    <select class="browser-default custom-select">
                                                        <option value="00">00</option>
                                                        <option value="01">01</option>
                                                        <option value="02">02</option>
                                                        <option value="03">03</option>
                                                    </select>
                                                </div>
                                                <div class="col-colon">:</div>
                                                <div class="col-time">
                                                    <select class="browser-default custom-select">
                                                        <option value="00">00</option>
                                                        <option value="01">01</option>
                                                        <option value="02">02</option>
                                                        <option value="03">03</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>召開招生委員會審議錄取標準</label>
                                    <div class="date_period-row">
                                        <div class="col-picker">
                                            <div id="date-picker-example" class="md-form md-outline input-with-post-icon datepicker">
                                                <input placeholder="Select date" type="text" id="example" class="form-control" />
                                                <label for="example"></label>
                                                <i class="fa fa-calendar input-prefix" tabindex="0"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>本校網站公告正(備)取生錄取名單、寄發錄取通知單</label>
                                    <div class="date_period-row has-time">
                                        <div class="col-picker">
                                            <div class="date-wrap">
                                                <div id="date-picker-example" class="md-form md-outline input-with-post-icon datepicker">
                                                    <input placeholder="Select date" type="text" id="example" class="form-control" />
                                                    <label for="example"></label>
                                                    <i class="fa fa-calendar input-prefix" tabindex="0"></i>
                                                </div>
                                            </div>
                                            <div class="time-wrap">
                                                <div class="col-time">
                                                    <select class="browser-default custom-select">
                                                        <option value="00">00</option>
                                                        <option value="01">01</option>
                                                        <option value="02">02</option>
                                                        <option value="03">03</option>
                                                    </select>
                                                </div>
                                                <div class="col-colon">:</div>
                                                <div class="col-time">
                                                    <select class="browser-default custom-select">
                                                        <option value="00">00</option>
                                                        <option value="01">01</option>
                                                        <option value="02">02</option>
                                                        <option value="03">03</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>錄取生報到截止</label>
                                    <div class="date_period-row">
                                        <div class="col-picker">
                                            <div id="date-picker-example" class="md-form md-outline input-with-post-icon datepicker">
                                                <input placeholder="Select date" type="text" id="example" class="form-control" />
                                                <label for="example"></label>
                                                <i class="fa fa-calendar input-prefix" tabindex="0"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="form-action">
                <button class="btn btn-lg btn-primary" type="submit">儲存</button>
            </div>
    </form>
    </div>
</main>

<% content_for :js do %>
<script>
    $('.datepicker').datepicker();
</script>
<% end %>