<!-- admin-page: 國立高雄科技大學 - 考生首頁 -->
<%= render :partial => "/partials/admin_breadcrumb" %>

<main class="main">
    <div class="page-header">
        <h2>考生首頁</h2>
    </div>
	<div>
        <div class="profile-sidebar">
            <div class="col-block mb-20">
                <div class="block-content expansion">
                    <div class="profile-avatar no-avatar">
                        <div class="scrap">
                            <div class="scrap-info">
                                <p><i class="fa fa-user"></i></p>
                                <span class="school h4">林信鋒</span>
                            </div>
                        </div>
                    </div>
                    <div id="accordion" class="profile-side_accordion">
                        <ul class="collapsible collapsible-accordion" id="accordion" role="tablist" aria-multiselectable="true">
                            <li class="menu-item current">
                                <div class="panel-heading">
                                    <a class="btn btn-link" href="#">申請總覽</a>
                                </div>
                            </li>
                            <li class="menu-item">
                                <div class="panel-heading">
                                    <a class="btn btn-link" href="#">
                                        <span class="d-block">11002455720</span>
                                        化學工程與材料工程系碩士班 甲組
                                    </a>
                                </div>
                            </li>
                            <li class="menu-item">
                                <div class="panel-heading">
                                    <a class="btn btn-link" href="#">
                                        <span class="d-block">11002455721</span>
                                        化學工程與材料工程系碩士班 乙組
                                    </a>
                                </div>
                            </li>
                            <li class="menu-item">
                                <div class="panel-heading">
                                    <a class="btn btn-link" href="#">
                                        <span class="d-block">11002455722</span>
                                        化學工程與材料工程系碩士班 丙組
                                    </a>
                                </div>
                            </li>
                            <li class="menu-item">
                                <div class="panel-heading">
                                    <a class="btn btn-link" href="#">初審作業</a>
                                </div>
                            </li>
                            <li class="menu-item">
                                <div class="panel-heading">
                                    <a class="btn btn-link" href="#">考試作業</a>
                                </div>
                            </li>
                            <li class="menu-item">
                                <div class="panel-heading">
                                    <a class="btn btn-link" href="#">成績作業</a>
                                </div>
                            </li>
                            <li class="menu-item">
                                <div class="panel-heading">
                                    <a class="btn btn-link" href="#">備取遞補錄取報到作業</a>
                                </div>
                            </li>
                            <li class="menu-item">
                                <div class="panel-heading">
                                    <a class="btn btn-link" href="#">報到作業查詢</a>
                                </div>
                            </li>
                            <li class="menu-item">
                                <div class="panel-heading">
                                    <a class="btn btn-link" href="#">學籍資料</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-block">
                <div class="block-content">
                    <div class="summary">
                        <h5>聯絡資訊</h5>
                        <div class="profile-desc-link">
                            <i class="fa fa-mobile"></i>
                            <span class="blue-grey-text">+886-936542765</span>
                        </div>
                        <div class="profile-desc-link">
                            <i class="fa fa-phone"></i>
                            <span class="blue-grey-text">+886-2-8634112</span>
                        </div>
                        <div class="profile-desc-link">
                            <i class="fa fa-envelope"></i>
                            <a href="mailto: issa@mail.ntut.edu.tw">issa@mail.ntut.edu.tw</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="profile-content">

            <div class="col-block">
                <div class="block-header has-border">
                    <h5 class="candidate-path">
                        <span>11002455720</span>
                        <span>工學院</span>
                        <span>建工校區</span>
                        <span>化學工程與材料工程系碩士班</span>
                        <span>甲組</span>
                    </h5>
                </div>
                <div class="block-content">
                    <div class="step-bar four-step">
                        <ul>
                            <li class="done">
                                <span>
                                    <span class="step"><span>1</span></span>
                                    <h4>申請資訊</h4>
                                    <p class="brief">
                                        2021-05-01 12:00
                                        <span>送出</span>
                                    </p>
                                </span>
                            </li>
                            <li class="done">
                                <span>
                                    <span class="step"><span>2</span></span>
                                    <h4>繳交報名費</h4>
                                    <p class="brief">
                                        2021-05-01 12:00
                                        <span>送出</span>
                                    </p>
                                </span>
                            </li>
                            <li class="done">
                                <span>
                                    <span class="step"><span>3</span></span>
                                    <h4>上傳繳交文件</h4>
                                    <p class="brief">
                                        2021-05-01 12:00
                                        <span>送出</span>
                                    </p>
                                </span>
                            </li>
                            <li class="done">
                                <span>
                                    <span class="step"><span>4</span></span>
                                    <h4>招生組審查</h4>
                                    <p class="brief">
                                        2021-05-01 12:00
                                        <span>通過</span>
                                    </p>
                                </span>
                            </li>
                            <li class="done">
                                <span>
                                    <span class="step"><span>5</span></span>
                                    <h4>錄取結果</h4>
                                    <p class="brief">
                                        2021-05-01 12:00
                                        <span>錄取</span>
                                    </p>
                                </span>
                            </li>
                            <li class="active">
                                <span>
                                    <span class="step"><span>6</span></span>
                                    <h4>報到</h4>
                                    <p class="brief">
                                        2021-05-01 12:00
                                        <span>送出</span>
                                    </p>
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-block">
                <div class="block-header has-border">
                    <h5 class="candidate-path">
                        <span>11002455720</span>
                        <span>工學院</span>
                        <span>建工校區</span>
                        <span>化學工程與材料工程系碩士班</span>
                        <span>乙組</span>
                    </h5>
                </div>
                <div class="block-content">
                    <div class="step-bar four-step">
                        <ul>
                            <li class="done">
                                <span>
                                    <span class="step"><span>1</span></span>
                                    <h4>申請資訊</h4>
                                    <p class="brief">
                                        2021-05-01 12:00
                                        <span>送出</span>
                                    </p>
                                </span>
                            </li>
                            <li class="done">
                                <span>
                                    <span class="step"><span>2</span></span>
                                    <h4>繳交報名費</h4>
                                    <p class="brief">
                                        2021-05-01 12:00
                                        <span>送出</span>
                                    </p>
                                </span>
                            </li>
                            <li class="done">
                                <span>
                                    <span class="step"><span>3</span></span>
                                    <h4>上傳繳交文件</h4>
                                    <p class="brief">
                                        2021-05-01 12:00
                                        <span>送出</span>
                                    </p>
                                </span>
                            </li>
                            <li class="done">
                                <span>
                                    <span class="step"><span>4</span></span>
                                    <h4>招生組審查</h4>
                                    <p class="brief">
                                        2021-05-01 12:00
                                        <span>通過</span>
                                    </p>
                                </span>
                            </li>
                            <li class="deny active">
                                <span>
                                    <span class="step"><span>5</span></span>
                                    <h4>錄取結果</h4>
                                    <p class="brief">
                                        2021-05-01 12:00
                                        <span>不錄取</span>
                                    </p>
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-block">
                <div class="block-header has-border">
                    <h5 class="candidate-path">
                        <span>11002455720</span>
                        <span>工學院</span>
                        <span>建工校區</span>
                        <span>化學工程與材料工程系碩士班</span>
                        <span>乙組</span>
                    </h5>
                </div>
                <div class="block-content">
                    <div class="step-bar four-step">
                        <ul>
                            <li class="done">
                                <span>
                                    <span class="step"><span>1</span></span>
                                    <h4>申請資訊</h4>
                                    <p class="brief">
                                        2021-05-01 12:00
                                        <span>送出</span>
                                    </p>
                                </span>
                            </li>
                            <li class="active">
                                <span>
                                    <span class="step"><span>2</span></span>
                                    <h4>繳交報名費</h4>
                                    <p class="brief"></p>
                                </span>
                            </li>
                            <li class="">
                                <span>
                                    <span class="step"><span>3</span></span>
                                    <h4>上傳繳交文件</h4>
                                    <p class="brief"></p>
                                </span>
                            </li>
                            <li class="">
                                <span>
                                    <span class="step"><span>4</span></span>
                                    <h4>招生組審查</h4>
                                    <p class="brief"></p>
                                </span>
                            </li>
                            <li class="">
                                <span>
                                    <span class="step"><span>5</span></span>
                                    <h4>錄取結果</h4>
                                    <p class="brief"></p>
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
	</div>
</main>

<% content_for :js do %>
<% end %>