<!-- admin-page: 國立高雄科技大學 - 考試作業首頁 -->
<%= render :partial => "/partials/admin_breadcrumb" %>

<main class="main">
    <div class="page-header">
        <h2>考試作業首頁</h2>
    </div>
	<div class="row">
	    <div class="col-6">
			<div class="col-block mb-20">
			    <div class="block-header has-border">
				    <h5 class="d-inline-block">筆試作業</h5>
				</div>
				<div class="block-content">
				    <a href="#" class="btn btn-md btn-info mx-0">考場資料設定</a>
					<a href="#" class="btn btn-md btn-info mx-0">考試時間設定</a>
					<a href="#" class="btn btn-md btn-info mx-0">考生座位分配管理</a>
					<a href="#" class="btn btn-md btn-info mx-0">筆試報表</a>
				</div>
			</div>
			<div class="col-block mb-20">
			    <div class="block-header has-border">
				    <h5 class="d-inline-block">面試作業進度</h5>
					<div class="pull-right m-0">
					    <a href="#" class="btn btn-sm btn-primary">作業進度查詢</a>
					</div>
				</div>
				<div class="block-content">
				    <div class="table-responsive text-nowrap">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>學院</th>
                                    <th>系所別</th>
                                    <th>組別</th>
                                    <th class="text-center">合格人數</th>
									<th class="text-center">成績是否送出</th>
                                    <th>承辦人</th>
                                    <th>分機</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>工學院</td>
                                    <td>化學工程與材料工程系碩士班</td>
                                    <td>甲組（化工組）</td>
                                    <td class="text-center">10</td>
									<td class="text-center">是</td>
									<td></td>
									<td></td>
                                </tr>
								<tr>
                                    <td>工學院</td>
                                    <td>化學工程與材料工程系碩士班</td>
                                    <td>乙組（化學組）</td>
                                    <td class="text-center">1</td>
									<td class="text-center">是</td>
									<td></td>
									<td></td>
                                </tr>
								<tr>
                                    <td>工學院</td>
                                    <td>化學工程與材料工程系碩士班</td>
                                    <td>丙組（材料組）</td>
                                    <td class="text-center">1</td>
									<td class="text-center">否</td>
									<td></td>
									<td></td>
                                </tr>
                            </tbody>
                        </table>
					</div>
				</div>
			</div>
		</div>
		
		<div class="col-6">
			<div class="col-block mb-20">
			    <div class="block-header has-border">
				    <h5 class="d-inline-block">書面審查作業進度</h5>
					<div class="pull-right m-0">
					    <a href="#" class="btn btn-sm btn-primary">作業進度查詢</a>
					</div>
				</div>
				<div class="block-content">
				    <div class="table-responsive text-nowrap">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>學院</th>
                                    <th>系所別</th>
                                    <th>組別</th>
                                    <th class="text-center">合格人數</th>
									<th class="text-center">成績是否送出</th>
                                    <th>承辦人</th>
                                    <th>分機</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>工學院</td>
                                    <td>化學工程與材料工程系碩士班</td>
                                    <td>甲組（化工組）</td>
                                    <td class="text-center">10</td>
									<td class="text-center">是</td>
									<td></td>
									<td></td>
                                </tr>
								<tr>
                                    <td>工學院</td>
                                    <td>化學工程與材料工程系碩士班</td>
                                    <td>乙組（化學組）</td>
                                    <td class="text-center">1</td>
									<td class="text-center">是</td>
									<td></td>
									<td></td>
                                </tr>
								<tr>
                                    <td>工學院</td>
                                    <td>化學工程與材料工程系碩士班</td>
                                    <td>丙組（材料組）</td>
                                    <td class="text-center">1</td>
									<td class="text-center">否</td>
									<td></td>
									<td></td>
                                </tr>
                            </tbody>
                        </table>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>

<% content_for :js do %>
<% end %>