<!-- admin-page: 國立高雄科技大學 - 初審作業 -->
<%= render :partial => "/partials/admin_breadcrumb" %>

<main class="main">
	<div>
        <div class="profile-sidebar">
            <div class="col-block mb-20">
                <div class="block-content expansion">
                    <div class="profile-avatar no-avatar">
                        <div class="scrap">
                            <div class="scrap-info">
                                <p><i class="fa fa-user"></i></p>
                                <span class="school h4">林信鋒</span>
                            </div>
                        </div>
                    </div>
                    <div id="accordion" class="profile-side_accordion">
                        <ul class="collapsible collapsible-accordion" id="accordion" role="tablist" aria-multiselectable="true">
                            <li class="menu-item current">
                                <div class="panel-heading">
                                    <a class="btn btn-link" href="#">申請總覽</a>
                                </div>
                            </li>
                            <li class="menu-item">
                                <div class="panel-heading">
                                    <a class="btn btn-link" href="#">
                                        <span class="d-block">11002455720</span>
                                        化學工程與材料工程系碩士班 甲組
                                    </a>
                                </div>
                            </li>
                            <li class="menu-item">
                                <div class="panel-heading">
                                    <a class="btn btn-link" href="#">
                                        <span class="d-block">11002455721</span>
                                        化學工程與材料工程系碩士班 乙組
                                    </a>
                                </div>
                            </li>
                            <li class="menu-item">
                                <div class="panel-heading">
                                    <a class="btn btn-link" href="#">
                                        <span class="d-block">11002455722</span>
                                        化學工程與材料工程系碩士班 丙組
                                    </a>
                                </div>
                            </li>
                            <li class="menu-item">
                                <div class="panel-heading">
                                    <a class="btn btn-link" href="#">初審作業</a>
                                </div>
                            </li>
                            <li class="menu-item">
                                <div class="panel-heading">
                                    <a class="btn btn-link" href="#">考試作業</a>
                                </div>
                            </li>
                            <li class="menu-item">
                                <div class="panel-heading">
                                    <a class="btn btn-link" href="#">成績作業</a>
                                </div>
                            </li>
                            <li class="menu-item">
                                <div class="panel-heading">
                                    <a class="btn btn-link" href="#">備取遞補錄取報到作業</a>
                                </div>
                            </li>
                            <li class="menu-item">
                                <div class="panel-heading">
                                    <a class="btn btn-link" href="#">報到作業查詢</a>
                                </div>
                            </li>
                            <li class="menu-item">
                                <div class="panel-heading">
                                    <a class="btn btn-link" href="#">學籍資料</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-block">
                <div class="block-content">
                    <div class="summary">
                        <h5>聯絡資訊</h5>
                        <div class="profile-desc-link">
                            <i class="fa fa-mobile"></i>
                            <span class="blue-grey-text">+886-936542765</span>
                        </div>
                        <div class="profile-desc-link">
                            <i class="fa fa-phone"></i>
                            <span class="blue-grey-text">+886-2-8634112</span>
                        </div>
                        <div class="profile-desc-link">
                            <i class="fa fa-envelope"></i>
                            <a href="mailto: issa@mail.ntut.edu.tw">issa@mail.ntut.edu.tw</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="profile-content">
            <div class="col-block">
                <div class="block-header has-border">
                    <h5 class="candidate-path">
                        <span>11002455720</span>
                        <span>工學院</span>
                        <span>建工校區</span>
                        <span>化學工程與材料工程系碩士班</span>
                        <span>甲組</span>
                    </h5>
                </div>
                <div class="block-content">
                    <div class="form-group">
					    <label>初審結果</label>
						<div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" class="custom-control-input" id="defaultGroupExample1" name="groupOfDefaultRadios">
                                <label class="custom-control-label" for="defaultGroupExample1">未審查</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" class="custom-control-input" id="defaultGroupExample2" name="groupOfDefaultRadios">
                                <label class="custom-control-label" for="defaultGroupExample2">初審合格</label>
                            </div>
							<div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" class="custom-control-input" id="defaultGroupExample3" name="groupOfDefaultRadios">
                                <label class="custom-control-label" for="defaultGroupExample3">初審不合格</label>
                            </div>
							<div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" class="custom-control-input" id="defaultGroupExample4" name="groupOfDefaultRadios">
                                <label class="custom-control-label" for="defaultGroupExample4">補件</label>
                            </div>
						</div>
						<!-- .unfold-wrap show/hide js 麻煩工程師處理 -->
						<div class="unfold-wrap">
						    <div class="w-50">
                                <select class="browser-default custom-select">
                                    <option selected>不合格原因下拉選單</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
							</div>
						</div>
						<div class="unfold-wrap">
						    <button type="button" class="btn btn-md btn-outline-default mx-0">寄送補件通知</button>
						</div>
					</div>
					<div class="form-group">
					    <label>報名類型</label>
						<div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" class="custom-control-input" id="defaultGroupExample5" name="groupOfDefaultRadios2">
                                <label class="custom-control-label" for="defaultGroupExample5">一般</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" class="custom-control-input" id="defaultGroupExample6" name="groupOfDefaultRadios2">
                                <label class="custom-control-label" for="defaultGroupExample6">同等學力第七條</label>
                            </div>
						</div>
					</div>
                    <div class="form-group">
                        <label for="exampleFormControlTextarea2">初審審核說明</label>
                        <textarea class="form-control rounded-0" id="exampleFormControlTextarea2" rows="3"></textarea>
                    </div>
					
					<div class="document-review-wrapper">
						<div class="document-hd">
                            <h5 class="group-title">繳交文件</h5>
                            <button type="button" class="btn btn-sm btn-outline-secondary btn-rounded waves-effect mx-0">全部通過</button>
						</div>
						<div class="document-bd">
						    <div class="document-item">
							    <div class="item-hd">
								    <span class="number">1</span>
									<h5>
										畢業證書
										<small class="text-primary">(資格審查文件)</small>
									</h5>
								</div>
                                <div class="form-group">
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" class="custom-control-input" id="defaultGroup2Example1" name="groupOfDefaultRadios2">
                                        <label class="custom-control-label" for="defaultGroup2Example1">尚未處理</label>
                                    </div>
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" class="custom-control-input" id="defaultGroup2Example2" name="groupOfDefaultRadios2">
                                        <label class="custom-control-label" for="defaultGroup2Example2">資料通過</label>
                                    </div>
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" class="custom-control-input" id="defaultGroup2Example3" name="groupOfDefaultRadios2">
                                        <label class="custom-control-label" for="defaultGroup2Example3">可補件</label>
                                    </div>
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" class="custom-control-input" id="defaultGroup2Example4" name="groupOfDefaultRadios2">
                                        <label class="custom-control-label" for="defaultGroup2Example4">資料不通過</label>
                                    </div>
                                </div>
								<div class="form-group">
								    <input class="form-control" type="text" placeholder="補件說明">
								</div>
								<div class="item-ft">
								    <button type="button" class="btn btn-sm btn-info mx-0">檢視</button>
									<span class="date">上傳時間 <i class="fa fa-clock-o"></i> 2021/12/12 18:20</span>
								</div>
							</div>
							<div class="document-item">
							    <div class="item-hd">
								    <span class="number">2</span>
									<h5>
										中低收證明文件
										<small class="teal-text">(身分證明文件)</small>
									</h5>
								</div>
                                <div class="form-group">
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" class="custom-control-input" id="defaultGroup2Example1" name="groupOfDefaultRadios2">
                                        <label class="custom-control-label" for="defaultGroup2Example1">尚未處理</label>
                                    </div>
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" class="custom-control-input" id="defaultGroup2Example2" name="groupOfDefaultRadios2">
                                        <label class="custom-control-label" for="defaultGroup2Example2">資料通過</label>
                                    </div>
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" class="custom-control-input" id="defaultGroup2Example3" name="groupOfDefaultRadios2">
                                        <label class="custom-control-label" for="defaultGroup2Example3">可補件</label>
                                    </div>
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" class="custom-control-input" id="defaultGroup2Example4" name="groupOfDefaultRadios2">
                                        <label class="custom-control-label" for="defaultGroup2Example4">資料不通過</label>
                                    </div>
                                </div>
								<div class="form-group">
								    <input class="form-control" type="text" placeholder="補件說明">
								</div>
								<div class="item-ft">
								    <button type="button" class="btn btn-sm btn-info mx-0">檢視</button>
									<span class="date">上傳時間 <i class="fa fa-clock-o"></i> 2021/12/12 18:20</span>
								</div>
							</div>
							<div class="document-item">
							    <div class="item-hd">
								    <span class="number">3</span>
									<h5>
										作品集
										<small class="pink-text">(系所要求文件)</small>
									</h5>
								</div>
								<div class="item-ft">
								    <button type="button" class="btn btn-sm btn-info mx-0">檢視</button>
									<span class="date">上傳時間 <i class="fa fa-clock-o"></i> 2021/12/12 18:20</span>
								</div>
							</div>
						</div>
					</div>
                </div>
            </div>
			
			<div class="col-block">
                <div class="block-header has-border">
                    <h5 class="candidate-path">
                        <span>11002455720</span>
                        <span>工學院</span>
                        <span>建工校區</span>
                        <span>化學工程與材料工程系碩士班</span>
                        <span>乙組</span>
                    </h5>
                </div>
                <div class="block-content">
                    <div class="form-group">
					    <label>初審結果</label>
						<div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" class="custom-control-input" id="defaultGroupExample1" name="groupOfDefaultRadios">
                                <label class="custom-control-label" for="defaultGroupExample1">未審查</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" class="custom-control-input" id="defaultGroupExample2" name="groupOfDefaultRadios">
                                <label class="custom-control-label" for="defaultGroupExample2">初審合格</label>
                            </div>
							<div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" class="custom-control-input" id="defaultGroupExample3" name="groupOfDefaultRadios">
                                <label class="custom-control-label" for="defaultGroupExample3">初審不合格</label>
                            </div>
							<div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" class="custom-control-input" id="defaultGroupExample4" name="groupOfDefaultRadios">
                                <label class="custom-control-label" for="defaultGroupExample4">補件</label>
                            </div>
						</div>
						<!-- .unfold-wrap show/hide js 麻煩工程師處理 -->
						<div class="unfold-wrap">
						    <div class="w-50">
                                <select class="browser-default custom-select">
                                    <option selected>不合格原因下拉選單</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
							</div>
						</div>
						<div class="unfold-wrap">
						    <button type="button" class="btn btn-md btn-outline-default mx-0">寄送補件通知</button>
						</div>
					</div>
					<div class="form-group">
					    <label>報名類型</label>
						<div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" class="custom-control-input" id="defaultGroupExample5" name="groupOfDefaultRadios2">
                                <label class="custom-control-label" for="defaultGroupExample5">一般</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" class="custom-control-input" id="defaultGroupExample6" name="groupOfDefaultRadios2">
                                <label class="custom-control-label" for="defaultGroupExample6">同等學力第七條</label>
                            </div>
						</div>
					</div>
                    <div class="form-group">
                        <label for="exampleFormControlTextarea2">初審審核說明</label>
                        <textarea class="form-control rounded-0" id="exampleFormControlTextarea2" rows="3"></textarea>
                    </div>
					
					<div class="document-review-wrapper">
						<div class="document-hd">
                            <h5 class="group-title">繳交文件</h5>
                            <button type="button" class="btn btn-sm btn-outline-secondary btn-rounded waves-effect mx-0">全部通過</button>
						</div>
						<div class="document-bd">
						    <div class="document-item">
							    <div class="item-hd">
								    <span class="number">1</span>
									<h5>
										畢業證書
										<small class="text-primary">(資格審查文件)</small>
									</h5>
								</div>
                                <div class="form-group">
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" class="custom-control-input" id="defaultGroup2Example1" name="groupOfDefaultRadios2">
                                        <label class="custom-control-label" for="defaultGroup2Example1">尚未處理</label>
                                    </div>
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" class="custom-control-input" id="defaultGroup2Example2" name="groupOfDefaultRadios2">
                                        <label class="custom-control-label" for="defaultGroup2Example2">資料通過</label>
                                    </div>
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" class="custom-control-input" id="defaultGroup2Example3" name="groupOfDefaultRadios2">
                                        <label class="custom-control-label" for="defaultGroup2Example3">可補件</label>
                                    </div>
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" class="custom-control-input" id="defaultGroup2Example4" name="groupOfDefaultRadios2">
                                        <label class="custom-control-label" for="defaultGroup2Example4">資料不通過</label>
                                    </div>
                                </div>
								<div class="form-group">
								    <input class="form-control" type="text" placeholder="補件說明">
								</div>
								<div class="item-ft">
								    <button type="button" class="btn btn-sm btn-info mx-0">檢視</button>
									<span class="date">上傳時間 <i class="fa fa-clock-o"></i> 2021/12/12 18:20</span>
								</div>
							</div>
							<div class="document-item">
							    <div class="item-hd">
								    <span class="number">2</span>
									<h5>
										中低收證明文件
										<small class="teal-text">(身分證明文件)</small>
									</h5>
								</div>
                                <div class="form-group">
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" class="custom-control-input" id="defaultGroup2Example1" name="groupOfDefaultRadios2">
                                        <label class="custom-control-label" for="defaultGroup2Example1">尚未處理</label>
                                    </div>
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" class="custom-control-input" id="defaultGroup2Example2" name="groupOfDefaultRadios2">
                                        <label class="custom-control-label" for="defaultGroup2Example2">資料通過</label>
                                    </div>
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" class="custom-control-input" id="defaultGroup2Example3" name="groupOfDefaultRadios2">
                                        <label class="custom-control-label" for="defaultGroup2Example3">可補件</label>
                                    </div>
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" class="custom-control-input" id="defaultGroup2Example4" name="groupOfDefaultRadios2">
                                        <label class="custom-control-label" for="defaultGroup2Example4">資料不通過</label>
                                    </div>
                                </div>
								<div class="form-group">
								    <input class="form-control" type="text" placeholder="補件說明">
								</div>
								<div class="item-ft">
								    <button type="button" class="btn btn-sm btn-info mx-0">檢視</button>
									<span class="date">上傳時間 <i class="fa fa-clock-o"></i> 2021/12/12 18:20</span>
								</div>
							</div>
							<div class="document-item">
							    <div class="item-hd">
								    <span class="number">3</span>
									<h5>
										作品集
										<small class="pink-text">(系所要求文件)</small>
									</h5>
								</div>
								<div class="item-ft">
								    <button type="button" class="btn btn-sm btn-info mx-0">檢視</button>
									<span class="date">上傳時間 <i class="fa fa-clock-o"></i> 2021/12/12 18:20</span>
								</div>
							</div>
						</div>
					</div>
                </div>
            </div>
        </div>
	</div>
</main>

<% content_for :js do %>
<% end %>