<!-- admin-page: 國立高雄科技大學 - 簡章首頁 -->
<%= render :partial => "/partials/admin_breadcrumb" %>

<main class="main">
    <div class="page-header">
        <h2>簡章調查作業流程</h2>
    </div>
	<div class="row">
	    <div class="col-5">
            <div class="progress-timeline">
                <ul class="progress-list">
                    <li class="progress-item">
                        <div class="progress-check">
                            <div class="progress-circ">1</div>
                            <div class="progress-brief">
                                <h5><a href="#">日程及各項設定</a></h5>
                            </div>
                        </div>
                        <div class="progress-card">
                            <div class="progress-card-body">
                                設定簡章相關日程與開放考試項目
                            </div>
                        </div>
                    </li>
					<li class="progress-item">
                        <div class="progress-check">
                            <div class="progress-circ">2</div>
                            <div class="progress-brief">
                                <h5><a href="#">筆試日程設定</a></h5>
                            </div>
                        </div>
                        <div class="progress-card">
                            <div class="progress-card-body">
                                設定筆試日程與節次時間
                            </div>
                        </div>
                    </li>
					<li class="progress-item">
                        <div class="progress-check">
                            <div class="progress-circ">3</div>
                            <div class="progress-brief">
                                <h5><a href="#">繳費身分別設定</a></h5>
                            </div>
                        </div>
                        <div class="progress-card">
                            <div class="progress-card-body">
                                設定本次考試適用特殊身分別
                            </div>
                        </div>
                    </li>
					<li class="progress-item">
                        <div class="progress-check">
                            <div class="progress-circ">4</div>
                            <div class="progress-brief">
                                <h5><a href="#">系所聯合招生設定</a></h5>
                            </div>
                        </div>
                        <div class="progress-card">
                            <div class="progress-card-body">
                                設定聯合招生系所
                            </div>
                        </div>
                    </li>
					<li class="progress-item">
                        <div class="progress-check">
                            <div class="progress-circ">5</div>
                            <div class="progress-brief">
                                <h5><a href="#">系所開放設定</a></h5>
                            </div>
                        </div>
                        <div class="progress-card">
                            <div class="progress-card-body">
                                設定此次簡章調查開放系所
                            </div>
                        </div>
                    </li>
					<li class="progress-item">
                        <div class="progress-check">
                            <div class="progress-circ">6</div>
                            <div class="progress-brief">
                                <h5><a href="#">系所簡章管理</a></h5>
                            </div>
                        </div>
                        <div class="progress-card">
                            <div class="progress-card-body">
                                管理與審查各系所簡章
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
		</div>
		<div class="col-7">
		    <div class="col-block">
			    <div class="block-header has-border">
					<h5>各系調查進度</h5>
				</div>
				<div class="block-content">
				    <div class="table-responsive text-nowrap">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>學院</th>
                                    <th>系所</th>
									<th>系所別</th>
									<th>系所送出狀態</th>
									<th>系所主管審查</th>
									<th>招生組審查</th>
									<th>定案</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>工學院</td>
                                    <td>化學工程與材料工程系</td>
                                    <td>化學工程與材料工程系碩士班</td>
                                    <td>已送出</td>
                                    <td>通過</td>
                                    <td>通過</td>
                                    <td>是</td>
                                </tr>
								<% (1..6).map do |i| %>
								<tr>
                                    <td>工學院</td>
                                    <td>土木工程系</td>
                                    <td>土木工程系碩士班</td>
                                    <td>已送出</td>
                                    <td>通過</td>
                                    <td>通過</td>
                                    <td>是</td>
                                </tr>
								<% end %>
                            </tbody>
                        </table>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>


<% content_for :js do %>

<% end %>