<!-- admin-page: 國立高雄科技大學 - 筆試日程設定 -->
<%= render :partial => "/partials/admin_breadcrumb" %>

<main class="main">
    <div class="page-header">
        <h2>筆試日程設定</h2>
    </div>
    <div class="narrow-wrapper">
		<div class="mb-4">
		    <button type="button" class="btn btn-primary btn-rounded" data-toggle="modal" data-target="#scheduleModal01">
				<i class="fa fa-plus"></i>
				新增
			</button>
			<button type="button" class="btn btn-link clear-color">
				<i class="fa fa-times"></i>
				清除設定
			</button>
		</div>
		<div class="col-block">
		    <div class="block-header flex-header has-border">
                <h4>第1天</h4>
                <div class="right-action">
                    <button type="button" class="btn btn-md btn-info" data-toggle="modal" data-target="#scheduleModal01">編輯</button>
                    <button type="button" class="btn btn-md btn-danger">清除</button>
                </div>
            </div>
			<div class="block-content">
                <table class="table btn-table">
                    <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">節次1</th>
                            <th scope="col">節次2</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><button type="button" class="btn btn-sm btn-padding btn-info" data-toggle="modal" data-target="#scheduleModal02">編輯</button></td>
                            <td>10:00 ~ 10:50</td>
                            <td>11:00 ~ 11:50</td>
                        </tr>
                    </tbody>
                </table>
			</div>
		</div>
		
		<div class="col-block">
		    <div class="block-header flex-header has-border">
                <h4>第2天</h4>
                <div class="right-action">
                    <button type="button" class="btn btn-md btn-info" data-toggle="modal" data-target="#scheduleModal01">編輯</button>
                    <button type="button" class="btn btn-md btn-danger">清除</button>
                </div>
            </div>
			<div class="block-content">
                <table class="table btn-table">
                    <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">節次1</th>
                            <th scope="col">節次2</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><button type="button" class="btn btn-sm btn-padding btn-info" data-toggle="modal" data-target="#scheduleModal02">編輯</button></td>
                            <td>10:00 ~ 10:50</td>
                            <td>11:00 ~ 11:50</td>
                        </tr>
                    </tbody>
                </table>
			</div>
		</div>
    </div>
</main>

<% content_for :js do %>

<% end %>