<!-- admin-page: 國立高雄科技大學 - 單一簡章內容 -->
<%= render :partial => "/partials/admin_breadcrumb" %>

<main class="main">
    <div class="page-header">
        <h2>簡章管理</h2>
    </div>
	<div class="process_padding-container">
		<div class="process-wrapper">
			<h4 class="process-subject">審核流程</h4>
		    <div class="progress-timeline audit-timeline">
			    <ul class="progress-list">
                    <li class="progress-item item-pass">
                        <div class="progress-check">
                            <div class="progress-circ"></div>
                            <div class="progress-brief">
                                <h5>03/12</h5>
                            </div>
                        </div>
                        <div class="progress-card">
                            <div class="audit-card">
                                <div class="card-hd">
								    主管審核 <span>通過</span>
								</div>
								<div class="card-bd">
								    <a href="#" class="btn btn-md btn-outline-primary">檢視審查意見</a>
								</div>
                            </div>
                        </div>
                    </li>
					<li class="progress-item item-return">
                        <div class="progress-check">
                            <div class="progress-circ"></div>
                            <div class="progress-brief">
                                <h5>03/12</h5>
                            </div>
                        </div>
                        <div class="progress-card">
                            <div class="audit-card">
                                <div class="card-hd">
								    招生組 <span>退件</span>
								</div>
								<div class="card-bd">
								    <a href="#" class="btn btn-md btn-outline-primary">檢視審查意見</a>
								</div>
                            </div>
                        </div>
                    </li>
					<li class="progress-item item-current">
                        <div class="progress-check">
                            <div class="progress-circ"></div>
                            <div class="progress-brief">
                                <h5>03/12</h5>
                            </div>
                        </div>
                        <div class="progress-card">
                            <div class="audit-card">
                                <div class="card-hd">
								    主管審核 <span>審查中</span>
								</div>
								<div class="card-bd">
								    <a href="#" class="btn btn-md btn-outline-primary">檢視審查意見</a>
								</div>
                            </div>
                        </div>
                    </li>
					<li class="progress-item">
                        <div class="progress-check">
                            <div class="progress-circ"></div>
                            <div class="progress-brief">
                                <h5>03/12</h5>
                            </div>
                        </div>
                        <div class="progress-card">
                            <div class="audit-card">
                                <div class="card-hd">
								    主管審核
								</div>
								<div class="card-bd">
								    
								</div>
                            </div>
                        </div>
                    </li>
					<li class="progress-item">
                        <div class="progress-check">
                            <div class="progress-circ"></div>
                            <div class="progress-brief">
                                <h5>03/12</h5>
                            </div>
                        </div>
                        <div class="progress-card">
                            <div class="audit-card">
                                <div class="card-hd">
								    主管審核
								</div>
								<div class="card-bd">
								    
								</div>
                            </div>
                        </div>
                    </li>
					<li class="progress-item">
                        <div class="progress-check">
                            <div class="progress-circ"></div>
                            <div class="progress-brief">
                                <h5>03/12</h5>
                            </div>
                        </div>
                        <div class="progress-card">
                            <div class="audit-card">
                                <div class="card-hd">
								    主管審核
								</div>
								<div class="card-bd">
								    
								</div>
                            </div>
                        </div>
                    </li>
                </ul>
			</div>
		</div>
		<div class="brief-content_wrapper">
            <div class="col-block">
                <div class="block-header has-border">
					<h4 class="d-inline-block">招生組審查</h4>
					<div class="pull-right grey-text m-0">
						<i class="fa fa-clock-o"></i>
					    最後更新時間 <span class="text-dark">2020-05-02 12:00</span>
					</div>
				</div>
                <div class="block-content">
                    <div class="form-group">
                        <label>身分別</label>
                        <div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" class="custom-control-input" id="idForeign" name="identity">
                                <label class="custom-control-label" for="idForeign">審查中</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" class="custom-control-input" id="idOverseas" name="identity">
                                <label class="custom-control-label" for="idOverseas">通過</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" class="custom-control-input" id="idGenerally" name="identity">
                                <label class="custom-control-label" for="idGenerally">不通過，退回重填</label>
                            </div>
                        </div>
                    </div>
					<div class="form-group">
						<label for="exampleFormControlTextarea2">審查意見</label>
					    <textarea class="form-control rounded-0" id="exampleFormControlTextarea2" rows="4"></textarea>
					</div>
				</div>
				<div class="block-footer has-border">
				    <button type="button" class="btn btn-md btn-info m-0">預覽分則</button>
					<button type="button" class="btn btn-md btn-primary m-0">儲存</button>
					<div class="pull-right m-0">
					    <button type="button" class="btn btn-md btn-secondary m-0">確認定稿並產生分則WORD檔</button>
					</div>
				</div>
            </div>
			<div class="col-block">
                <div class="block-header has-border">
					<h4 class="d-inline-block">工程管理回扣系 簡章內容</h4>
					<div class="pull-right grey-text m-0">
						<i class="fa fa-clock-o"></i>
					    最後更新時間 <span class="text-dark">2020-05-02 12:00</span>
					</div>
				</div>
                <div class="block-content">
					<div class="content-group">
						<h5 class="content-title">名額設定</h5>
						<a href="#" class="btn btn-sm btn-outline-primary waves-effect btn-edit"><i class="fa fa-pencil"></i> 編輯</a>
                        <div class="table-responsive text-nowrap mb-4">
                            <table class="table btn-table">
                                <thead>
                                    <tr>
                                        <th>學院</th>
                                        <th>校區</th>
                                        <th>系所</th>
                                        <th>系所別</th>
                                        <th>組別</th>
                                        <th>研究方向</th>
                                        <th>一般生名額 (含同等學力)</th>
                                        <th>一般生同等學力名額</th>
                                        <th>一般生初試名額上限 (無則免填)</th>
                                        <th>在職生名額 (含同等學力)</th>
                                        <th>在職生同等學力名額</th>
                                        <th>在職生初試名額上限 (無則免填)</th>
                                        <th>推薦信數量</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% (1..3).map do |i| %>
                                    <tr>
                                        <td>工學院</td>
                                        <td>建工</td>
                                        <td>化學工程與材料工程系</td>
                                        <td>化學工程與材料工程系碩士班</td>
                                        <td>甲組（化工組）</td>
                                        <td><a href="#" class="btn btn-sm btn-primary waves-effect btn-edit">檢視</a></td>
                                        <td class="text-center">10</td>
                                        <td class="text-center">1</td>
                                        <td class="text-center"></td>
                                        <td class="text-center">0</td>
                                        <td class="text-center">0</td>
                                        <td class="text-center"></td>
                                        <td class="text-center">0</td>
                                    </tr>
                                    <% end %>
                                </tbody>
                            </table>
                        </div>
                        <div class="form-group">
                            <label>入學大學同等學力第 7 條「專業領域表現具卓越成就者」</label>
                            <div>
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" class="custom-control-input" id="exampleInput001" name="example001">
                                    <label class="custom-control-label" for="exampleInput001">招收</label>
                                </div>
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" class="custom-control-input" id="exampleInput002" name="example001">
                                    <label class="custom-control-label" for="exampleInput002">不招收</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>是否同意甄試錄取新生符合提前入學資格者，申請提前入學</label>
                            <div>
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" class="custom-control-input" id="exampleInput003" name="example002">
                                    <label class="custom-control-label" for="exampleInput003">同意</label>
                                </div>
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" class="custom-control-input" id="exampleInput004" name="example002">
                                    <label class="custom-control-label" for="exampleInput004">不同意</label>
                                </div>
                            </div>
                        </div>
					</div>
					<div class="content-group">
                        <h5 class="content-title">考科設定</h5>
						<p class="sub-group">化學工程與材料工程系碩士班 甲組（化工組）</p>
						<a href="#" class="btn btn-sm btn-outline-primary waves-effect btn-edit"><i class="fa fa-pencil"></i> 編輯</a>
						<div class="table-responsive text-nowrap mb-4">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>考試類型</th>
                                        <th>考科</th>
                                        <th>考科備註</th>
                                        <th>節次時間</th>
                                        <th>配分率</th>
                                        <th>同分參酌</th>
                                        <th>必考/選考</th>
                                        <th>是否需安排考場</th>
                                        <th>T分數</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% (1..2).map do |i| %>
                                    <tr>
                                        <td>筆試</td>
                                        <td>單元操作【1011】</td>
                                        <td></td>
                                        <td>第 1 天 節次 1 ( 10:00 ~ 10:50 )</td>
                                        <td>50%</td>
                                        <td>1</td>
                                        <td></td>
                                        <td></td>
                                        <td>否</td>
                                    </tr>
                                    <% end %>
                                </tbody>
                            </table>
                        </div>
						<p class="sub-group">化學工程與材料工程系碩士班 乙組（化工組）</p>
						<a href="#" class="btn btn-sm btn-outline-primary waves-effect btn-edit"><i class="fa fa-pencil"></i> 編輯</a>
						<div class="table-responsive text-nowrap mb-4">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>考試類型</th>
                                        <th>考科</th>
                                        <th>考科備註</th>
                                        <th>節次時間</th>
                                        <th>配分率</th>
                                        <th>同分參酌</th>
                                        <th>必考/選考</th>
                                        <th>是否需安排考場</th>
                                        <th>T分數</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% (1..2).map do |i| %>
                                    <tr>
                                        <td>筆試</td>
                                        <td>單元操作【1011】</td>
                                        <td></td>
                                        <td>第 1 天 節次 1 ( 10:00 ~ 10:50 )</td>
                                        <td>50%</td>
                                        <td>1</td>
                                        <td></td>
                                        <td></td>
                                        <td>否</td>
                                    </tr>
                                    <% end %>
                                </tbody>
                            </table>
                        </div>
						<p class="sub-group">化學工程與材料工程系碩士班 丙組（化工組）</p>
						<a href="#" class="btn btn-sm btn-outline-primary waves-effect btn-edit"><i class="fa fa-pencil"></i> 編輯</a>
						<div class="table-responsive text-nowrap mb-4">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>考試類型</th>
                                        <th>考科</th>
                                        <th>考科備註</th>
                                        <th>節次時間</th>
                                        <th>配分率</th>
                                        <th>同分參酌</th>
                                        <th>必考/選考</th>
                                        <th>是否需安排考場</th>
                                        <th>T分數</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% (1..2).map do |i| %>
                                    <tr>
                                        <td>筆試</td>
                                        <td>單元操作【1011】</td>
                                        <td></td>
                                        <td>第 1 天 節次 1 ( 10:00 ~ 10:50 )</td>
                                        <td>50%</td>
                                        <td>1</td>
                                        <td></td>
                                        <td></td>
                                        <td>否</td>
                                    </tr>
                                    <% end %>
                                </tbody>
                            </table>
                        </div>
					</div>
					<div class="content-group">
						<h5 class="content-title">繳交文件</h5>
						<a href="#" class="btn btn-sm btn-outline-primary waves-effect btn-edit"><i class="fa fa-pencil"></i> 編輯</a>
                        <table class="table btn-table">
                            <thead>
                                <tr>
                                    <th>文件名稱</th>
                                    <th>是否必繳</th>
                                    <th>繳交方式</th>
                                    <th>說明</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% (1..2).map do |i| %>
                                <tr>
                                    <td>大專校院歷年成績單</td>
                                    <td>否</td>
                                    <td>紙本</td>
									<td><a href="#" class="btn btn-sm btn-primary waves-effect btn-edit">檢視</a></td>
                                </tr>
                                <% end %>
                            </tbody>
                        </table>
					</div>
					<div class="content-group">
						<h5 class="content-title">成績計算說明</h5>
						<a href="#" class="btn btn-sm btn-outline-primary waves-effect btn-edit"><i class="fa fa-pencil"></i> 編輯</a>
                        <div class="mt-3">
						    <ol>
							    <li>考科一原始成績評分至小數點第二位，滿分為100分。</li>
								<li>選考科目成績以T分數計算，其計算公式為：T分數 ，為考生某選考科目之原始成績， 及 為某選考科目實際到考考生原始成績之平均數及標準差，T分數取至小數點第二位（第三位四捨五入）。</li>
								<li>總成績=考科一原始分數轉換為T分數×100% （評分至小數點第二位）。</li>
								<li>成績複查後若有更動，將影響T分數之計算基準。</li>
							</ol>
						</div>
					</div>
					<div class="content-group">
						<h5 class="content-title">備註</h5>
						<a href="#" class="btn btn-sm btn-outline-primary waves-effect btn-edit"><i class="fa fa-pencil"></i> 編輯</a>
                        <div class="mt-3">
						    <ol>
							    <li>訂於110年3月13日(六)辦理筆試。</li>
								<li>考科由考生自行選考一科（以T分數計算），測驗題型包含問答題、計算題或選擇題。</li>
								<li>原始分數轉換為T分數相同時，依考試科目1、2、3之考科編號的原始分數做比較，分數較高者優先錄取；若仍相同，本系得通知同分考生另辦面試已決定錄取名單順序，面試安排，另依通知辦理。</li>
								<li>上課地點：建工校區。</li>
							</ol>
						</div>
					</div>
					<div class="content-group">
						<h5 class="content-title">系所聯絡方式</h5>
						<a href="#" class="btn btn-sm btn-outline-primary waves-effect btn-edit"><i class="fa fa-pencil"></i> 編輯</a>
                        <div class="mt-3">
						    07-3814526轉15101楊先生。
						</div>
					</div>
				</div>
            </div>
		</div>
	</div>
</main>


<% content_for :js do %>

<% end %>