<!-- admin-page: 國立高雄科技大學 - 學籍資料 -->
<%= render :partial => "/partials/admin_breadcrumb" %>

<main class="main">
	<div>
        <div class="profile-sidebar">
            <div class="col-block mb-20">
                <div class="block-content expansion">
                    <div class="profile-avatar no-avatar">
                        <div class="scrap">
                            <div class="scrap-info">
                                <p><i class="fa fa-user"></i></p>
                                <span class="school h4">林信鋒</span>
                            </div>
                        </div>
                    </div>
                    <div id="accordion" class="profile-side_accordion">
                        <ul class="collapsible collapsible-accordion" id="accordion" role="tablist" aria-multiselectable="true">
                            <li class="menu-item current">
                                <div class="panel-heading">
                                    <a class="btn btn-link" href="#">申請總覽</a>
                                </div>
                            </li>
                            <li class="menu-item">
                                <div class="panel-heading">
                                    <a class="btn btn-link" href="#">
                                        <span class="d-block">11002455720</span>
                                        化學工程與材料工程系碩士班 甲組
                                    </a>
                                </div>
                            </li>
                            <li class="menu-item">
                                <div class="panel-heading">
                                    <a class="btn btn-link" href="#">
                                        <span class="d-block">11002455721</span>
                                        化學工程與材料工程系碩士班 乙組
                                    </a>
                                </div>
                            </li>
                            <li class="menu-item">
                                <div class="panel-heading">
                                    <a class="btn btn-link" href="#">
                                        <span class="d-block">11002455722</span>
                                        化學工程與材料工程系碩士班 丙組
                                    </a>
                                </div>
                            </li>
                            <li class="menu-item">
                                <div class="panel-heading">
                                    <a class="btn btn-link" href="#">初審作業</a>
                                </div>
                            </li>
                            <li class="menu-item">
                                <div class="panel-heading">
                                    <a class="btn btn-link" href="#">考試作業</a>
                                </div>
                            </li>
                            <li class="menu-item">
                                <div class="panel-heading">
                                    <a class="btn btn-link" href="#">成績作業</a>
                                </div>
                            </li>
                            <li class="menu-item">
                                <div class="panel-heading">
                                    <a class="btn btn-link" href="#">備取遞補錄取報到作業</a>
                                </div>
                            </li>
                            <li class="menu-item">
                                <div class="panel-heading">
                                    <a class="btn btn-link" href="#">報到作業查詢</a>
                                </div>
                            </li>
                            <li class="menu-item">
                                <div class="panel-heading">
                                    <a class="btn btn-link" href="#">學籍資料</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-block">
                <div class="block-content">
                    <div class="summary">
                        <h5>聯絡資訊</h5>
                        <div class="profile-desc-link">
                            <i class="fa fa-mobile"></i>
                            <span class="blue-grey-text">+886-936542765</span>
                        </div>
                        <div class="profile-desc-link">
                            <i class="fa fa-phone"></i>
                            <span class="blue-grey-text">+886-2-8634112</span>
                        </div>
                        <div class="profile-desc-link">
                            <i class="fa fa-envelope"></i>
                            <a href="mailto: issa@mail.ntut.edu.tw">issa@mail.ntut.edu.tw</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="profile-content">
            <div class="col-block">
                <div class="block-header has-border">
                    <h4>學籍資料</h4>
                </div>
                <div class="block-content">
					<div class="form-group">
					    <button type="button" class="btn btn-md btn-outline-default mx-0">更新紀錄查詢</button>
					</div>
					<div class="form-group">
					    <label>考生送出狀態</label>
						<div class="mb-2">
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" class="custom-control-input" id="defaultGroupExample1" name="groupOfDefaultRadios" />
                                <label class="custom-control-label" for="defaultGroupExample1">未送出</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" class="custom-control-input" id="defaultGroupExample2" name="groupOfDefaultRadios" />
                                <label class="custom-control-label" for="defaultGroupExample2">已送出</label>
                            </div>
						</div>
						<button type="button" class="btn btn-md btn-outline-primary mx-0">儲存變更送出狀態</button>
					</div>
                    <section class="output-section sheet-section">
						<h5 class="font-weight-bold mb-4">學籍資料內容</h5>
						<div class="row flex-row-reverse">
							<div class="col-4">
                                <div class="md-form avatar-wrap">
                                    <div class="file-field">
                                        <div class="mb-4">
                                            <img src="https://placekeanu.com/200/200" class="z-depth-1-half avatar-pic" />
                                        </div>
                                        <div class="d-flex justify-content-center">
                                            <div class="btn btn-mdb-color btn-rounded float-left">
                                                <span>選擇照片</span>
                                                <input type="file" />
                                            </div>
                                        </div>
                                    </div>
                                    <small class="specification">相片檔案規格需為低於100KB之JPG檔</small>
                                </div>
							</div>
							<div class="col-8">
                                <div class="row">
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label>姓名</label>
                                            <span class="output">史佳麗</span>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label>准考證號</label>
                                            <span class="output">11002化才0001</span>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label>性別</label>
                                            <span class="output">女</span>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label>身分證字號</label>
                                            <span class="output">F123456789</span>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label>出生年月日</label>
                                            <span class="output">110/01/19</span>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label>錄取系所</label>
                                            <span class="output">化學工程與材料工程系碩士班</span>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label>錄取系所別(組、類)</label>
                                            <span class="output">甲組 一般生</span>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label>畢(肄)業學校</label>
                                            <span class="output">國立高雄科技大學</span>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label>畢(肄)業系所</label>
                                            <span class="output">化學工程與材料工程系</span>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label>畢(肄)業年月</label>
                                            <span class="output">109年06月</span>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label>最高學歷</label>
                                            <span class="output">博士畢業</span>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label>報考學歷</label>
                                            <span class="output">一般學歷</span>
                                        </div>
                                    </div>
                                </div>
							</div>
						</div>
                        <div class="row mt-4">
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="engName">英文姓名</label>
                                    <input type="text" class="form-control" id="engName" value="Scarlett" disabled>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <label>國籍</label>
                                    <input type="text" class="form-control" id="engName" value="美國" disabled>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="placeBirth">出生地</label>
                                    <input type="text" class="form-control" id="engName" value="紐約" disabled>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="userEmail">Email</label>
                                    <input type="text" class="form-control" id="engName" value="scarlett@test.com" disabled>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="phoneDay">連絡電話(日)</label>
                                    <input type="text" class="form-control" id="engName" value="請參考以上範例" disabled>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="phoneNight">連絡電話(夜)</label>
                                    <input type="email" class="form-control" id="phoneNight">
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <label>通訊地址</label>
                                    <div class="row">
                                        <div class="col-6">
                                            <select class="browser-default custom-select">
                                                <option selected>請選擇</option>
                                                <option value="1">One</option>
                                                <option value="2">Two</option>
                                                <option value="3">Three</option>
                                            </select>
                                        </div>
                                        <div class="col-6">
                                            <select class="browser-default custom-select">
                                                <option selected>請選擇</option>
                                                <option value="1">One</option>
                                                <option value="2">Two</option>
                                                <option value="3">Three</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="addressVillage">村/里</label>
                                    <input type="email" class="form-control" id="addressVillage">
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="addressNeighbour">鄰</label>
                                    <input type="email" class="form-control" id="addressNeighbour">
                                </div>
                            </div>
                            <div class="col-md-8 col-12">
                                <div class="form-group">
                                    <label for="addressDetailed">路段詳細資料</label>
                                    <input type="email" class="form-control" id="addressDetailed">
                                </div>
                            </div>
                            <div class="col-md-4 col-12">
                                <div class="form-group">
                                    <label for="addressPostal">郵遞區號</label>
                                    <input type="email" class="form-control" id="addressPostal">
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <label>戶籍地址</label>
                                    <div class="row">
                                        <div class="col-6">
                                            <select class="browser-default custom-select">
                                                <option selected>請選擇</option>
                                                <option value="1">One</option>
                                                <option value="2">Two</option>
                                                <option value="3">Three</option>
                                            </select>
                                        </div>
                                        <div class="col-6">
                                            <select class="browser-default custom-select">
                                                <option selected>請選擇</option>
                                                <option value="1">One</option>
                                                <option value="2">Two</option>
                                                <option value="3">Three</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="domicileVillage">村/里</label>
                                    <input type="email" class="form-control" id="domicileVillage">
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="domicileNeighbour">鄰</label>
                                    <input type="email" class="form-control" id="domicileNeighbour">
                                </div>
                            </div>
                            <div class="col-md-8 col-12">
                                <div class="form-group">
                                    <label for="domicileDetailed">路段詳細資料</label>
                                    <input type="email" class="form-control" id="domicileDetailed">
                                </div>
                            </div>
                            <div class="col-md-4 col-12">
                                <div class="form-group">
                                    <label for="domicilePostal">郵遞區號</label>
                                    <input type="email" class="form-control" id="domicilePostal">
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="guardianName">監護人姓名</label>
                                    <input type="text" class="form-control" id="guardianName">
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <label>監護人關係</label>
                                    <div>
                                        <select class="browser-default custom-select">
                                            <option selected>請選擇</option>
                                            <option value="1">One</option>
                                            <option value="2">Two</option>
                                            <option value="3">Three</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="guardianPhone">監護人電話</label>
                                    <input type="text" class="form-control" id="guardianPhone">
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="guardianMobile">監護人行動電話</label>
                                    <input type="text" class="form-control" id="guardianMobile">
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="emergencyName">緊急聯絡人姓名</label>
                                    <input type="text" class="form-control" id="guardianName">
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <label>緊急聯絡人關係</label>
                                    <div>
                                        <select class="browser-default custom-select">
                                            <option selected>請選擇</option>
                                            <option value="1">One</option>
                                            <option value="2">Two</option>
                                            <option value="3">Three</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="emergencyPhone">緊急聯絡人電話</label>
                                    <input type="text" class="form-control" id="guardianPhone">
                                </div>
                            </div>
                        </div>
                    </section>
                    <section class="output-section sheet-section">
                        <h5 class="font-weight-bold mb-4">相關文件下載</h5>
						<div class="btn-mx0">
                            <a href="#" class="btn btn-md btn-rounded btn-info">列印就讀意願暨入學確認同意書</a>
                            <a href="#" class="btn btn-md btn-rounded btn-info">列印信封封面</a>
                            <a href="#" class="btn btn-md btn-rounded btn-info">列印未能繳交學位證書切結書</a>
                            <a href="#" class="btn btn-md btn-rounded btn-info">列印因暑修低修未能繳交學位證書證明書</a>
						</div>
                    </section>
                    <section class="output-section sheet-section">
						<h5 class="font-weight-bold mb-4">繳交文件</h5>
                        <div class="form-group">
                            <label class="d-block">就讀意願暨入學確認同意書</label>
                            <a href="#" class="btn btn-info btn-md">檢視</a>
                        </div>
                        <div class="form-group">
                            <label class="d-block">學歷(力)證件</label>
                            <a href="#" class="btn btn-info btn-md">檢視</a>
                        </div>
                    </section>
                </div>
            </div>
        </div>
	</div>
</main>

<% content_for :js do %>
<% end %>