<footer class="footer">
	<div class="container-lg">
		<div class="footer-inner">
			<div class="block-transition">
                <div class="ft-block">
					<h5>國立臺灣大學語文中心中國語文組</h5>
					<p>Chinese Language Division Language Center National Taiwan University</p>
                </div>
                <div class="ft-block">
					<p>10663臺北市辛亥路二段170號語文中心2樓222室</p>
					<p>R.222, 2F, No.170, Sec.2, Xin-Hai Rd., Da-an Dist., Taipei City, Taiwan, 10663. R.O.C. <a href="#" class="location-link"><i class="fas fa-map-marker-alt"></i> Location</a></p>
                </div>
			</div>
            <div class="contact-wrap">
                <ul class="menu-item contact">
					<li>
                        <i class="fas fa-phone-alt"></i>
                        02-3366-3417
                    </li>
                    <li>
                        <i class="fas fa-phone-alt"></i>
                        +886-2-3366-3417
                    </li>
					<li>
                        <i class="fas fa-fax"></i>
                        02-8369-5042 
                    </li>
                    <li>
                        <i class="fas fa-fax"></i>
                        +886-2-8369-5042
                    </li>
                    <li>
                        <i class="fas fa-envelope"></i>
                        <a href="mailto:cld222@ntu.edu.tw">cld222@ntu.edu.tw</a>
                    </li>
                </ul>
				<address>© 國立臺灣大學語文中心中國語文組</address>
            </div>
		</div>
	</div>
</footer>