<header class="header" id="pagetop">
    <div class="container-lg">
		<div class="header-wrap">
            <div class="header-function">
				<span class="toggler-wrap">
                    <button class="navbar-toggler button-widget" type="button" id="navbarSideCollapse" aria-label="Toggle navigation">
                        <span class="hamburger">
                            <span class="line"></span>
                            <span class="line"></span>
                            <span class="line"></span>
                        </span>
                    </button>
				</span>
                <div class="language">
                    <a href="#">中文</a>
                    <a href="#" class="current">English</a>
                </div>
            </div>
			<div class="brands">
                <a class="brands-link" href="index.html">
                    <div class="logo">
                        <h1 class="text-hide">國立臺灣大學 National Taiwan University</h1>
                        <img class="h1-logo" src="../assets/logo@2x.png">
                    </div>
                    <div class="sub">
						<h2 class="text-hide">國立臺灣大學文學院語文中心中國語文組 The Chinese Language Division (CLD) of the NTU Language Center</h2>
                        <img class="h2-logo" src="../assets/logo-text@2x.png">
                    </div>
                </a>
			</div>
		</div>
    </div>
</header>