<!-- template: UI - Sidenav (一般) -->

<div class="container-lg">
	<div class="page-content">
	    <aside class="aside offcanvas-collapse">
			<div class="scrollbar-inner">
				<!--div class="user-wrapper">
				    <p><i class="far fa-user-circle"></i></p>
                    <div class="dropdown">
                        <button class="dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Angela Winson
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Change password</a></li>
                            <li><a class="dropdown-item" href="#">Log out</a></li>
                        </ul>
                    </div>
				</div-->
		        <div class="sidenav">
                    <ul class="side-navigation menu-item">
                        <li>
							<a class="nav-item" href="#">
							    <span class="link-inner">個人資料維護</span>
							</a>
						</li>
						<li>
							<a class="nav-item current" href="#">
								<span class="link-inner">在外投保證明上傳</span>
							</a>
						</li>
						<li>
							<a class="nav-item" href="#">
								<span class="link-inner">開放申請中獎學金</span>
							</a>
						</li>
						<li>
							<a class="nav-item" href="#">
								<span class="link-inner">獎學金申請紀錄</span>
							</a>
						</li>
						<li>
							<a class="nav-item" href="#">
								<span class="link-inner">獎學金領獎紀錄 <span class="badge rounded-pill text-bg-warning">3</span></a></span>
							</a>
						</li>
                    </ul>
				</div>
			</div>
		</aside>
		<div id="widget-overlay"></div>
		<main class="main">
			<div>
			    <% (1..4).map do |i| %>
				<p><%= lorem_paragraphs(2) %></p>
				<% end %>
			</div>
		</main>
	</div>
</div>



<% content_for :js do %>

<% end %>

