<footer class="footer">
	<div class="container">
        <div class="footer-hd">
            <div class="general-content">
                <a accesskey="Z" href="#" class="sr-only "title="下方選單連結">:::</a>
                <ul class="menu-item general-links">
                    <li><a href="#" title="隱私權與資訊安全政策">隱私權與資訊安全政策</a></li>
                    <li><a href="#" title="行政人員後台登入">登入</a></li>
					<li class="fb">
						<a href="#" title="Facebook"><img class="play" src="../assets/fb-logo.png" alt="Facebook 粉絲頁" title="Facebook 粉絲頁"></a>
					</li>
                </ul>
            </div>
		    <div class="contact-email">
                <span>學生活動中心管理組</span>
				<i class="fa fa-envelope" title="信箱"></i> <a href="mailto:acenter@ntu.edu.tw">acenter@ntu.edu.tw</a>
			</div>
		</div>
        <div class="footer-bd">
			<div class="location-wrap">
                <div class="item-wrap">
					<h5>第一學生活動中心</h5>
                    <ul class="menu-item contact">
                        <li><i class="fa fa-map-marker" title="地址"></i> 10617臺北市羅斯福路四段一號</li>
                        <li><i class="fa fa-phone" title="聯絡電話"></i> 02-3366-3232~5</li>
                        <li><i class="fa fa-fax" title="傳真"></i> 02-2363-9135</li>
                    </ul>
               </div>
				<div class="item-wrap">
					<h5>第二學生活動中心</h5>
                    <ul class="menu-item contact">
                        <li><i class="fa fa-map-marker" title="地址"></i> 10617臺北市羅斯福路四段一號</li>
                        <li><i class="fa fa-phone" title="聯絡電話"></i> 02-3366-3232~5</li>
                        <li><i class="fa fa-fax" title="傳真"></i> 02-2363-9135</li>
                    </ul>
               </div>
				<div class="item-wrap">
					<h5>二活地下室場地委外廠商 (集思會議公司)</h5>
                    <ul class="menu-item contact">
                        <li><i class="fa fa-phone" title="聯絡電話"></i> 02-3366-3232~5</li>
                    </ul>
               </div>
			</div>
        </div>
        <div class="footer-bt">
            <div class="footer-data">
                <address>本網站著作權屬於國立臺灣大學 學生事務處</address>
                <p>瀏覽器建議 Chrome、Mozilla Firefox、IE11+</p>
                <p>最後更新日期 2019-05-01 13:39</p>
                <p>瀏覽人數 5678126</p>
            </div>
            <span class="play-discern"><img class="play" src="../assets/play@2x.png" alt="P.L.A.Y. logo" title="P.L.A.Y."></span>
        </div>
	</div>
</footer>
