<!-- NTU-Bike: 忘記密碼 (適用認證)  -->

<div class="container">
    <div class="row justify-content-md-center">
		<div class="col-6">
            <div class="login-modal">
				<h3 class="modal-title">忘記密碼</h3>
				<div class="modal-content">
					<p>請輸入註冊之Email信箱，系統會重新送一組密碼至此信箱</p>
					<input type="email" id="defaultLoginFormEmail" class="form-control mb-4" placeholder="Email">
					<button class="btn btn-default btn-block mb-4" type="submit">發送密碼</button>
					<p class="text-center"><a href="">回登入頁面</a></p>
				</div>
            </div>
        </div>
	</div>
</div>