<!-- NTU-Bike: 註冊  -->

<div class="container">
    <div class="row justify-content-md-center">
		<div class="col-6">
            <div class="login-modal">
				<h3 class="modal-title">校外人員帳號註冊</h3>
				<div class="modal-content">
					<input type="" class="form-control mb-4" placeholder="身分證號">
					<input type="" class="form-control mb-4" placeholder="Email">
					<input type="" class="form-control mb-4" placeholder="姓名">
					<input type="" class="form-control mb-4" placeholder="連絡電話">
					<input type="" class="form-control mb-4" placeholder="密碼">
					<input type="" class="form-control mb-4" placeholder="再次輸入密碼">
					<button class="btn btn-default btn-block mb-4" type="submit">註冊</button>
					<p class="mb-0">或透過以下方式註冊</p>
					<p class="mb-5">
						<a type="button" class="btn-floating btn-fb btn-sm"><i class="fa fa-facebook"></i></a>
						<a type="button" class="btn-floating btn-danger btn-sm"><i class="fa fa-google"></i></a>
					</p>
					<p class="text-center">已有會員？<a href="">登入</a></p>
				</div>
            </div>
        </div>
	</div>
</div>