
/* `Chat
-----------------------------------------------------------------------------*/

.modal-dialog.modal-messages {
	width: 500px;
	.modal-content {
        box-shadow: 0 0 60px -15px rgba(0,0,0,.2), 0 .5rem 1rem rgba(0,0,0,.1);
	}
	.character {
		display: flex;
		flex-direction: column;
		margin-bottom: 1.25rem;
	}
	.avatar {
		display: inline-block;
		background: url("../assets/default.png") left top no-repeat;
		background-size: cover;
		border-radius: 50%;
		margin-right: .75rem;
		width: 40px;
		height: 40px;
		img {
			display: block;
			border-radius: 50%;
			width: 100%;
			height: auto;
		}
	}
	.align-items-start {
		.messages-item {
			background: #e4f9f8;
		}
	}
	.align-items-end {
		.avatar {
			margin-left: .75rem;
			margin-right: 0;
		}
		.messages-item {
			background: #e6f1fd;
			//text-align: right;
		}
	}
	.messages-item {
		border-radius: .42rem;
		margin-top: 0.5rem;
		padding: 1.25rem;
		max-width: 400px;
		//font-size: 0.9375rem;
		a {
			text-decoration: underline;
			&:hover { text-decoration: none; }
		}
	}
	.symbol { color: #282b2d; }
	.text-clock {
		padding: 0 0.5rem;
		font-size: 0.875rem;
		color: #9aa3ab;
	}
	.modal-footer {
		display: block;
	}
	.messages-textarea {
		margin-bottom: 0.375rem;
		.form-control {
			border: none;
			resize: none;
			//font-size: 0.9375rem;
			&::placeholder {
				color: #7c8288;
				opacity: .6;
			}
			&:focus {
				box-shadow: none;
				&::placeholder { opacity: 1; }
			}
		}
	}
	.messages-control {
		text-align: right;
	}
}

.admin-messages.scrollbar-inner {
	max-height: 420px;
	padding-right: 1rem;
}