
@import "base";

.container { min-width: 1140px; } /* fix width */

section.section {
	margin-bottom: 4rem;
}

.section-hd {
	margin-bottom: 1.5rem;
    .block-title {
		padding-left: 30px;
		position: relative;
        &:before {
            content: "";
            background: $secondary_color;
            width: 12px;
            height: 26px;
            position: absolute;
            left: 0;
            top: 0;
        }
    }
}

.block-title {
	margin-bottom: 1.5rem;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 1.4rem;
}

.md-form input[type="text"]:focus:not([readonly]), .md-form input[type="password"]:focus:not([readonly]), .md-form input[type="email"]:focus:not([readonly]), .md-form input[type="url"]:focus:not([readonly]), .md-form input[type="time"]:focus:not([readonly]), .md-form input[type="date"]:focus:not([readonly]), .md-form input[type="datetime-local"]:focus:not([readonly]), .md-form input[type="tel"]:focus:not([readonly]), .md-form input[type="number"]:focus:not([readonly]), .md-form input[type="search-md"]:focus:not([readonly]), .md-form input[type="search"]:focus:not([readonly]), .md-form textarea.md-textarea:focus:not([readonly]) {
	border-color: $main_color;
	box-shadow: 0 1px 0 0 $main_color;
}

.form-indentation { padding-left: 35px; }


/* `Login
-----------------------------------------------------------------------------*/

.login-container {
	.login {
		margin: 0 auto;
		width: 480px;
	}
}

/* `Board Container
-----------------------------------------------------------------------------*/

.board-head {
	display: flex;
	align-items: center;
	border-top: 1px solid #e0eaee;
	border-bottom: 1px solid #eaf0f2;
	margin-bottom: 3rem;
	padding: 0.75rem 0;
	position: relative;
	.mission {
		font-size: 1.375rem;
		.year {
			font-family: 'Roboto', sans-serif;
			font-weight: 700;
			font-size: 1.625rem;
			color: $secondary_color;
		}
	}
	.deadline {
		margin-left: 2rem;
		font-size: 1.125rem;
		color: #999;
		position: relative;
		span {
			display: inline-block;
			margin-left: 0.375rem;
		}
		&:after {
			content: "";
			background: #e5e5e5;
			border-radius: 50%;
			width: 1px;
			height: 18px;
			position: absolute;
			left: -1rem;
			top: 0.5rem;
		}
	}
	.date {
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        font-size: 1.25rem;
        color: #cd6490;
	}
}

.board-container {
	.avatar-wrap {
		border-bottom: none;
		margin: 0 auto;
		width: 300px;
	}
	.tab-content {
		padding: 1rem 0 2rem;
	}
}

.board-tabs {
	display: block;
	border-bottom: none;
	border-right: 1px solid #e3eaeb;
	padding: 0 0 2rem;
	height: 100%;
	.nav-item {
		margin-bottom: 0;
		margin-right: -1px;
	}
	.nav-link {
		border-radius: 4px 0 0 4px;
		padding: 0 1rem;
		width: 100%;
		height: 60px;
        font-size: 1.15rem;
		text-align: right;
		position: relative;
		span {
			padding-right: 30px;
			width: 100%;
			line-height: 1.2;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
		&:hover {
			border-color: transparent;
		}
		&.active {
			background-color: $body_background;
			border: 1px solid #e3eaeb;
			border-right: none;
			border-left: 8px solid $main_color;
			font-weight: 400;
			color: #000;
		}
	}
}

.border-title {
	border-bottom: 3px double #dee2e6;
	margin-bottom: 1.25rem;
	padding-bottom: 0.75rem;
	font-size: 1.75rem;
	font-weight: bold;
	color: #111;
}

.board-detail {
	border-bottom: 1px solid #e3eaeb;
	margin-bottom: 1.5rem;
	padding-bottom: 1.5rem;
    li {
        display: inline-block;
		margin-right: 1.5rem;
		color: #666;
		position: relative;
		span { color: $secondary_color; }
		&:after {
			content: "";
			background: #ddd;
			border-radius: 50%;
			width: 1px;
			height: 14px;
			position: absolute;
			right: -1rem;
			top: 0.5rem;
		}
		&:last-child {
			&:after { content: none; }
		}
    }
}

.board-table {
	.num {
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
		text-align: center;
	}
}

.add-btn {
	display: inline-block;
	.add-inner {
        display: flex;
        align-items: center;
        align-content: center;
	}
	.btn-rounded {
		background: $edu_green;
		box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
		border-radius: 20px;
		margin-right: 0.5rem;
		width: 56px;
		height: 40px;
		font-size: 0.64rem;
		text-align: center;
		line-height: 40px;
		color: #fff;
		transition: .5s ease;
	}
	.text {
		color: #999;
		transition: .5s ease;
	}
	&:hover {
		.btn-rounded {
			box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
			outline: 0;
		}
		.text { color: #333; }
	}
}

.board-action {
	border-top: 1px solid #e3eaeb;
	padding-top: 3rem;
	text-align: center;
}

a.btn-delete {
	display: inline-block;
	border-radius: 50%;
	border: 2px solid #ebdddd;
	margin-right: 0 !important;
	width: 24px;
	height: 24px;
	text-align: center;
	line-height: 18px;
	color: #e0caca !important;
	vertical-align: middle;
	&:hover {
		border-color: #e69f9f;
		color: #e69f9f !important;
	}
}































