<!-- NTU-Joint: 新增推薦學生  -->

<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="#">Recommended List</a></li>
            <li class="breadcrumb-item active">Add list</li>
        </ol>
    </nav>
	<div class="form-wrapper">
		<form>
            <div class="form-group">
                <label><span class="required">*</span>Recommended year</label>
                <select class="browser-default custom-select">
                    <option selected>2020</option>
                    <option value="1">2019</option>
                    <option value="2">2018</option>
                    <option value="3">2017</option>
                </select>
            </div>
            <div class="row">
                <div class="col">
					<div class="form-group">
                        <label for="Chinesefullname"><span class="required">*</span>Chinese Name</label>
                        <input id="Chinesefullname" type="text" class="form-control" placeholder="Same as passport">
					</div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label for="Englishfullname"><span class="required">*</span>English name</label>
                        <input id="Englishfullname" type="text" class="form-control" placeholder="Same as passport">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="personalEmail"><span class="required">*</span>E-mail</label>
                <input type="email" class="form-control" id="personalEmail" placeholder="">
            </div>
            <div class="form-action">
                <a href="#" class="btn btn-link btn-lg btn-home">
                    <i class="fa fa-arrow-circle-left"></i> Back
                </a>
                <a href="#" class="btn btn-primary btn-lg">Add</a>
            </div>
		</form>
	</div>
</div>

<% content_for :js do %>

<% end %>