<!-- NTU-Joint: 編輯學生名單  -->

<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="#">Recommended List</a></li>
            <li class="breadcrumb-item active">Edit list</li>
        </ol>
    </nav>
	<div class="step-container">
		<form>
	        <%= render :partial => "/partials/personal" %>
            <div class="form-action">
                <a href="#" class="btn btn-link btn-lg btn-home">
                    <i class="fa fa-arrow-circle-left"></i> Back
                </a>
                <a href="#" class="btn btn-primary btn-lg">Save</a>
            </div>
		</form>
	</div>
</div>

