<!-- admin-page: UI / Profile 1 (have photo) -->
<%= render :partial => "/partials/admin_breadcrumb" %>

<main class="main">
    <div class="page-header">
        <h2>Page Title</h2>
    </div>
	<div class="clearfix">
        <div class="profile-sidebar">
            <div class="col-block">
                <div class="block-content expansion">
                    <div class="profile-avatar">
                        <img class="avatar" src="../assets/default.png" alt="avatar" />
                        <div class="scrap">
                            <div class="scrap-name">
                                <span class="h4">林申鳳</span>
                                <span class="h6">Shin-Feng Lin</span>
                            </div>
                            <div class="scrap-info">
                                <p><i class="fa fa-university"></i></p>
                                <span class="school">哥倫比亞大學</span>
                                <span class="department">資訊工程系所</span>
                                <span class="grade">2 年級</span>
                            </div>
                        </div>
                    </div>
                    <div id="accordion" class="profile-side_accordion">
                        <ul class="collapsible collapsible-accordion" id="accordion" role="tablist" aria-multiselectable="true">
                            <li class="menu-item">
                                <div class="panel-heading">
                                    <a class="btn btn-link" href="#">SideNav</a>
                                </div>
                            </li>
                            <li class="menu-item current">
                                <div class="panel-heading">
                                    <a class="btn btn-link" href="#">SideNav</a>
                                </div>
                            </li>
                            <li class="menu-item">
                                <div class="panel-heading">
                                    <a class="btn btn-link" href="#">SideNav</a>
                                </div>
                            </li>
                            <li class="menu-item">
                                <div class="panel-heading">
                                    <a class="btn btn-link" href="#" >SideNav</a>
                                </div>
                            </li>
                            <li class="menu-item">
                                <div class="panel-heading">
                                    <a class="btn btn-link" href="#">SideNav</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
		<div class="profile-content">
			<div class="col-block mb-20">
                <div class="block-header has-border">
                    <h3>Horizontal 範本</h3>
                </div>
                <div class="block-content">
					<form class="el-form">
                        <div class="el-form-item">
                            <label for="input" class="el-form-item__label" style="width: 140px;">中文標籤</label>
                            <div class="el-form-item__content" style="margin-left: 140px;">
                                <input type="text" autocomplete="off" class="el-input__inner">
                            </div>
                        </div>
                        <div class="el-form-item">
                            <label for="input" class="el-form-item__label" style="width: 140px;">字數長度測試換行時很悲劇</label>
                            <div class="el-form-item__content" style="margin-left: 140px;">
                                <input type="text" autocomplete="off" class="el-input__inner">
                            </div>
                        </div>
						<div class="el-form-item">
                            <label for="input" class="el-form-item__label" style="width: 140px;">單選項目</label>
                            <div class="el-form-item__content" style="">
                                <div>
                                    <div role="radiogroup" class="el-radio-group">
                                        <label role="radio" tabindex="0" class="el-radio block">
                                            <span class="el-radio__input"><span class="el-radio__inner"></span><input type="radio" aria-hidden="true" tabindex="-1" autocomplete="off" class="el-radio__original" value="1" /></span>
                                            <span class="el-radio__label">單選項目一</span>
                                        </label>
                                        <label role="radio" tabindex="-1" class="el-radio block">
                                            <span class="el-radio__input"><span class="el-radio__inner"></span><input type="radio" aria-hidden="true" tabindex="-1" autocomplete="off" class="el-radio__original" value="2" /></span>
                                            <span class="el-radio__label">單選項目二</span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="el-form-item">
                            <div class="el-form-item__content" style="margin-left: 140px;">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </div>
					</form>
				</div>
            </div>
            <div class="col-block mb-20">
                <div class="block-header has-border">
                    <h3>申請狀態</h3>
                </div>
                <div class="block-content">
                    <div class="d-flex align-items-center mb-3">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" />
                            <label class="form-check-label" for="flexRadioDefault1">填寫中</label>
                        </div>
                    </div>
                    <div class="d-flex align-items-center mb-3">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" />
                            <label class="form-check-label" for="flexRadioDefault2">已送出</label>
                        </div>
						<div class="mx-2">
						    <input type="text" class="form-control" placeholder="">
						</div>
                        <span>將提名狀態變更為未送出，對方學校即可修改提名結果</span>
                    </div>
                </div>
            </div>
            <div class="col-block mb-20">
                <div class="block-header has-border">
                    <h3>Home University</h3>
                </div>
                <div class="block-content">
                    <div class="mb-3">
                        <label>I am from<span class="form-request">*</span></label>
                        <div class="row">
                            <div class="col-4">
                                <select class="form-select">
                                    <option selected>請選擇洲別</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                            </div>
							<div class="col-4">
                                <select class="form-select">
                                    <option selected>請選擇國家</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                            </div>
							<div class="col-4">
                                <select class="form-select">
                                    <option selected>請選擇學校</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-block mb-20">
                <div class="block-header has-border">
                    <h3>Personal Information</h3>
                </div>
                <div class="block-content">
                    <div class="mb-3">
                        <label>Full Name in English<span class="form-request">*</span></label>
                        <div class="row">
                            <div class="col">
                                <input type="text" class="form-control" placeholder="first">
                            </div>
                            <div class="col">
                                <input type="text" class="form-control" placeholder="middle name">
                            </div>
                            <div class="col">
                                <input type="text" class="form-control" placeholder="last/family">
                            </div>
                        </div>
                        <p class="form-text text-muted">must be the same as shown on your passport</p>
                    </div>
                    <div class="mb-3">
                        <label>Full Name in Chinese<span class="form-request">*</span></label>
                        <input type="text" class="form-control" placeholder="最多七個字">
                    </div>
                    <div class="d-flex align-items-center mb-3">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="customCheck1">
                            <label class="form-check-label" for="customCheck1">accept a given one</label>
                        </div>
						<div class="ms-2">
						    <input type="text" class="form-control d-inline-block w-50 ml-4" value="成龍" disabled>
						</div>
                    </div>
                    <div class="mb-3">
                        <label>Date of Birth<span class="form-request">*</span></label>
                        <div class="row">
                            <div class="col-4">
                                <select class="form-select">
                                    <option selected>Y</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                            </div>
                            <div class="col-4">
                                <select class="form-select">
                                    <option selected>M</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                            </div>
                            <div class="col-4">
                                <select class="form-select">
                                    <option selected>D</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label>Gender<span class="form-request">*</span></label>
                        <div>
                            <div class="custom-control form-check custom-control-inline">
                                <input type="radio" id="customRadioInline1" name="customRadioInline1" class="form-check-input">
                                <label class="form-check-label" for="customRadioInline1">Male</label>
                            </div>
                            <div class="custom-control form-check custom-control-inline">
                                <input type="radio" id="customRadioInline2" name="customRadioInline1" class="form-check-input">
                                <label class="form-check-label" for="customRadioInline2">Female</label>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label>Native Language(s)<span class="form-request">*</span></label>
                        <div class="row">
                            <div class="col">
                                <input type="text" class="form-control" placeholder="">
                            </div>
                            <div class="col">
                                <input type="text" class="form-control" placeholder="">
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label>宗教</label>
                        <select class="form-select">
                            <option selected>請選擇</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-block mb-20">
                <div class="block-header has-border">
                    <h3>Contact Information</h3>
                </div>
                <div class="block-content">
                    <div class="mb-3">
                        <label>Telephone<span class="form-request">*</span></label>
                        <div class="row">
                            <div class="col">
                                <input type="text" class="form-control" placeholder="+ Country Code">
                            </div>
                            <div class="col">
                                <input type="text" class="form-control" placeholder="Area Code">
                            </div>
                            <div class="col">
                                <input type="text" class="form-control" placeholder="Number">
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label>Cell Phone</label>
                        <div class="row">
                            <div class="col-4">
                                <input type="text" class="form-control" placeholder="+ Country Code">
                            </div>
                            <div class="col-8">
                                <input type="text" class="form-control" placeholder="Number">
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label>Email<span class="form-request">*</span></label>
                        <input type="text" class="form-control" placeholder="">
                    </div>
                    <div class="mb-3">
                        <label>Mailing Address<span class="form-request">*</span></label>
                        <div class="row">
                            <div class="col-1 mb-3">
                                <input type="text" class="form-control" placeholder="Zip Code">
                            </div>
                            <div class="col-3 mb-3">
                                <select class="form-select">
                                    <option selected>Please Select Country</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                            </div>
                            <div class="col-2">
                                <input type="text" class="form-control" placeholder="City">
                            </div>
                            <div class="col-6">
                                <input type="text" class="form-control" placeholder="Address">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-block mb-20">
                <div class="block-header has-border">
                    <h3>Emergency Contact</h3>
                </div>
                <div class="block-content">
                    <div class="mb-3">
                        <label>Full Name<span class="form-request">*</span></label>
                        <input type="text" class="form-control" placeholder="">
                    </div>
                    <div class="mb-3">
                        <label>Relation with Applicant<span class="form-request">*</span></label>
                        <select class="form-select">
                            <option selected>請選擇</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label>Telephone<span class="form-request">*</span></label>
                        <div class="row">
                            <div class="col">
                                <input type="text" class="form-control" placeholder="+ Country Code">
                            </div>
                            <div class="col">
                                <input type="text" class="form-control" placeholder="Area Code">
                            </div>
                            <div class="col">
                                <input type="text" class="form-control" placeholder="Number">
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label>Cell Phone</label>
                        <div class="row">
                            <div class="col-4">
                                <input type="text" class="form-control" placeholder="+ Country Code">
                            </div>
                            <div class="col-8">
                                <input type="text" class="form-control" placeholder="Number">
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label>Email<span class="form-request">*</span></label>
                        <input type="text" class="form-control" placeholder="">
                    </div>
                    <div class="mb-3">
                        <label>Mailing Address<span class="form-request">*</span></label>
                        <div class="row">
                            <div class="col-1 mb-3">
                                <input type="text" class="form-control" placeholder="Zip Code">
                            </div>
                            <div class="col-3 mb-3">
                                <select class="form-select">
                                    <option selected>Please Select Country</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                            </div>
                            <div class="col-2">
                                <input type="text" class="form-control" placeholder="City">
                            </div>
                            <div class="col-6">
                                <input type="text" class="form-control" placeholder="Address">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pb-3">
                <button class="btn btn-primary" type="submit">Save</button>
                <button class="btn btn-success" type="submit">Next</button>
                <button class="btn btn-angel float-end" type="submit">回列表</button>
            </div>
		</div>
	</div>
</main>

<% content_for :js do %>
    <script>
		$(document).ready(function() {
            $('.mdb-select').material_select();
		});
		 $('.panel-collapse').on('show.bs.collapse', function() {
			 $(this).siblings('.panel-heading').addClass('active');
		 });

		 $('.panel-collapse').on('hide.bs.collapse', function() {
			 $(this).siblings('.panel-heading').removeClass('active');
		 });
    </script>
<% end %>