
/* `NKUST Login
-----------------------------------------------------------------------------*/

.nkust-login {
    background-image: radial-gradient(circle at center, #002764 0%, #131a22 50%);
	overflow: hidden;
	position: relative;
	width: 100%;
	height: 100%;
	section, .nkust_login-wrapper {
		position: absolute;
		left: 0;
		top: 0;
		bottom: 0;
		right: 0;
		z-index: 0;
	}
    canvas {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
}

.nkust_login-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1 !important;
	.nkust_login-container {
		background: #fff;
		box-shadow: 0 -16px 8px rgba(#000, .07), 0 -4px 24px rgba(#000, .2);
		border-radius: 1rem;
		width: 420px;
		padding: 4rem 2rem 2rem;
		position: relative;
	}
	.logo {
		background: #fff;
		box-shadow: 0 -16px 8px rgba(#000, .05), 0 -24px 16px rgba(#000, .05);
		border-radius: 50%;
		padding: .5rem;
		position: absolute;
		top: -53px;
		left: 50%;
		margin-left: -53px;
		.logo__img {
			display: inline-block;
			width: 90px;
			height: auto;
		}
	}
	hgroup {
		text-align: center;
		h3 { font-weight: bold; }
		h5 { color: #888; }
	}
	.forget-password {
		margin-bottom: 0;
		padding-top: 3rem;
		text-align: center;
		position: relative;
		&:after {
			content: "";
			background: #777;
			margin-left: -24px;
			width: 48px;
			height: 2px;
			position: absolute;
			left: 50%;
			top: 12px;
		}
		a {
            color: #aaa;
            &:hover { color: #333; }
		}
	}
}
