
/* `Signature Check
-----------------------------------------------------------------------------*/

.sc-process {
	.sc-center {
		width: 14%;
		min-width: 4rem;
		text-align: center;
		position: relative;
		.fa {
			font-size: 32px;
			color: #828a92;
		}
		&:after {
			content: "\f063";
			margin-left: -7px;
			font: normal normal normal 14px/1 FontAwesome;
			color: #828a92;
			position: absolute;
			left: 50%;
			bottom: -2.25rem;
		}
	}
	.sc-item {
		display: flex;
		justify-content: space-between;
		align-items: center;
		background: #f7f9fd;
		border-radius: 0.5rem;
		margin-bottom: 1.5rem;
		padding: 1rem;
		z-index: 1;
		position: relative;
		&:last-child {
			margin-bottom: 0;
			.sc-center:after { content: none; }
		}
	}
	.sc-left,
	.sc-right {
		width: 43%;
	}
	.sc-left {
		text-align: right;
		.btn {
			margin: .125rem;
			padding: .25rem 1.25rem;
		}
	}
	.sc-right {
		h6 {
			margin-bottom: 0;
			font-weight: bold;
		}
	}
	.sc-merge {
		background: #fff3c8;
		box-shadow: 0 2px 2px #e6d9aa, 0 4px 0 rgba(#fff, .3) inset;
		margin-top: -1.25rem;
		.merge {
            width: 100%;
            text-align: center;
        }
		h5 {
			margin-bottom: 0;
			font-size: 1.125rem;
		}
	}
}

.sc-actual {
	.actual-item {
		border-bottom: 4px double $base_border_color;
		margin-bottom: 1rem;
		padding-bottom: 1rem;
		&::marker {
			font-size: 1.125rem;
            font-weight: bold;
		}
		&:last-child {
			border-bottom: none;
			margin-bottom: 0;
			padding-bottom: 0;
		}
	}
	.major {
		display: flex;
		justify-content: space-between;
		color: #222;
	}
	.applicant {
		.name {
			margin-right: 1rem;
		}
		date { color: #888; }
	}
    strong {
        font-weight: bold;
        color: #999;
    }
	.opinion {
		margin-top: 1rem;
		position: relative;
		&:after {
			content: "";
			background: #000;
			width: 1rem;
			height: 1px;
			position: absolute;
			top: -0.5rem;
			left: 0;
		}
	}
	.countersignature {
		border-radius: 0.25rem;
		background: #f7f9fd;
		margin-top: 0.5rem;
		.branch {
			border-bottom: 1px solid $base_border_color;
			padding: 0.75rem;
			&:last-child { border: none; }
		}
		h6 {
			padding: 0.75rem 0 0 0.75rem;
			color: #d07768;
		}
	}
}

.flowchart-wrapper {
	position: relative;
	padding-left: 210px;
	min-height: 20rem;
	.flowchart-control {
		width: 180px;
		position: absolute;
		left: 0;
		top: 0;
		.btn {
			box-shadow: none;
			display: block;
			margin: 0 0 0.25rem 0;
			text-align: left;
		}
		.fa { font-size: 20px; }
	}
}

.flowchart-condition {
	border-radius: 0.5rem;
	background: #f5f8fb;
	padding: 1rem;
	.btn-md {
		margin: .5rem 0;
	    padding: .5rem 2rem;
	}
}

.eform-wrapper {
	margin-bottom: 3rem;
	.wrapper-title {
		margin-bottom: 1rem;
		padding-left: 1.875rem;
		font-size: 1.5rem;
		position: relative;
		&:before, &:after {
			content: "";
			background: #94c8ff;
			border-radius: 0.125rem;
			width: 6px;
			height: 24px;
			position: absolute;
			left: 0;
			top: 0;
		}
		&:after {
			background: #d194ff;
			left: 10px;
		}
	}
	.sort-select {
		display: inline-block;
		margin-bottom: 1.5rem;
		min-width: 19.5%;
	}
	.eform-list {
		display: flex;
		flex-wrap: wrap;
	}
	.eform-item {
		margin-bottom: 0.75rem;
		padding-right: 0.75rem;
		width: 25%;
		.btn {
			display: block;
			box-shadow: none;
			border-radius: 0.75rem;
			border-color: #d0d0d0 !important;
			border-width: 1px !important;
			margin: 0;
			padding-left: 3rem;
			font-size: 1rem;
			text-align: left;
			text-transform: none !important;
			position: relative;
			&:before {
				content: "\f039";
				font: normal normal normal 20px/1 FontAwesome;
				position: absolute;
				left: 1.5rem;
				top: 30%;
				color: #afb2bb;
				transition: all 0.15s;
			}
			&:hover {
				background: #fff !important;
				border-color: #4285f4 !important;
				box-shadow: 0 0 4px rgba(#4285f4, .3);
				&:before { color: #656c86; }
			}
		}
	}
}
