
@import "easyTree";

.flex-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
}

.treeview-container {
    .treeview-wrapper { width: 20%; }
    .table-wrapper { width: 80%; }
    &:after {
        content: "";
        background: #e5e5e5;
        width: 1px;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 20%;
    }
}

.easy-tree {
    .create {
        .input-group-btn {
            .btn {
                padding: 0.44rem 1.14rem;
                margin: 0;
            }
        }
        .form-control {
            padding: 0 !important;
        }
    }
    ul {
        .fa { padding-right: 10px; }
        a { transition: none }
    }
}

.treeview-container {
    div.dataTables_wrapper div.dataTables_filter {
        text-align: right;
    }

    div.dataTables_wrapper div.dataTables_filter input {
        margin-left: .5rem;
        display: inline-block;
        width: auto;
    }

    div.dataTables_wrapper div.dataTables_length.d-flex.flex-row label {
        margin-top: 1.2rem;
        margin-right: 1rem;
    }

    .dataTables_filter.md-form {
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
    }

    .dataTables_length.d-flex.flex-row {
        margin-top: 1rem;
    }
    
    div.dataTables_wrapper div.dataTables_paginate {
        text-align: right;
        margin: 0;
        .pagination { justify-content: flex-end; }
    }
}