

.nav.vertical-tabs {
	display: block;
	border-bottom: none;
	margin-bottom: 0;
	width: 100%;
	.nav-item {
		border-bottom: 1px solid rgba($base_border_color, .5);
		margin-bottom: 0;
		overflow: visible;
		&:last-child { border: none; }
	}
	.nav-link {
		border: none;
		padding: 1.25rem;
		position: relative;
	}
	.nav-link.active {
		border: none;
		&:after {
			content: "";
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 12px 0 12px 12px;
            border-color: transparent transparent transparent #fbffff;
			position: absolute;
			right: -12px;
			top: 50%;
			margin-top: -12px;
		}
	}
}

.vertical-tabs-content {
	padding: 0;
	width: 100%;
}

/* `Department 給學術單位一覽表的樣式
-----------------------------------------------------------------------------*/

.nav.vertical-tabs {
	.nav-link {
		.title { color: #454545; }
		.en {
			font-weight: 300;
			color: #a5acb2;
		}
		.count {
			margin-bottom: 0;
			color: #eb8045;
			opacity: 0.5;
		}
		&.active {
			background: #fbffff;
			.title { color: #219287; }
			.count { opacity: 1; }
		}
	}
	.action {
		.btn {
			min-width: 40px;
			i { margin-right: 0; }
		}
	}
}

.department-wrap {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.department-list {
	.department-wrap {
		border-bottom: 1px solid rgba($base_border_color, .5);
		padding: 1.25rem 0;
	}
	li:first-child {
        .department-wrap {
			padding-top: 0.375rem;
        }
	}
	li:last-child {
        .department-wrap {
            border-bottom: none;
			padding-bottom: 0;
        }
	}
    .title { color: #454545; }
    .en {
		margin-bottom: 0;
        font-weight: 300;
        color: #a5acb2;
    }
	.action {
		.btn {
			box-shadow: none;
			i { margin-right: 0; }
		}
	}
}

















