
/* `Footer
-----------------------------------------------------------------------------*/

footer.footer {
	border-top: 1px solid #DEEAE6;
	padding: calc(2rem + 2vw) 0 calc(3rem + 3vw);
	font-weight: 300;
	color: #696C6C;
	.footer-inner {
		display: flex;
		justify-content: space-between;
		padding-bottom: calc(1.5rem + 1.5vw);
	}
	.block-start {
		display: flex;
		width: 66.66666%;
		position: relative;
	}
	.title-block {
		padding-right: 4rem;
	}
	.contact-block {
		flex-grow: 1;
	}
	.menu-item.contact {
		li {
			display: flex;
			margin-bottom: .125rem;
			.label {
				margin-right: 1rem;
			}
		}
	}
	.menu-item.links {
		li {
			margin-bottom: .5rem;
		}
	}
	.block-end {
		width: 33.33333%;
		text-align: end;
	}
	.menu-item.social-media {
		display: flex;
		justify-content: flex-end;
		li {
			margin-left: 1.5rem;
		}
		a {
			display: block;
			border-radius: 3px;
			padding: .25rem;
			img {
				width: 2rem;
				height: auto;
			}
			&:hover {
				filter: grayscale(100%);
			}
			&:focus {
				background: $darker_color;
			}
		}
	}
	.links-block {
		position: relative;
	}
	h2 {
		margin-bottom: 1rem;
		font-size: 1.25rem;
	}
}

#AH {
	position: absolute;
	left: -1.5rem;
	top: 0;
	padding: 0 .5rem;
	opacity: .4;
	&:hover, &:focus {
		background-color: $main_color;
		color: #fff;
		opacity: 1;
	}
}

.footer-bottom {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-top: 1px dashed #ced4db;
	padding-top: calc(1.25rem + .75vw);
	.units {
		span {
			display: inline-block;
			margin-right: 1rem;
		}
	}
	a {
		border: 1px solid transparent;
		padding: 1px;
		&:hover, &:focus {
			border-color: $main_secondary_color;
		}
	}
}

/* `Responsive
-----------------------------------------------------------------------------*/

@media (max-width: 1199px) {
	footer.footer {
		.block-start {
			width: 70%;
			.contact-block { width: 70%; }
			.links-block { width: 30%; }
		}
		.block-end {
			width: 30%;
		}
	}
}

@media (max-width: 991px) {
	footer.footer {
		font-size: .9375rem;
		.block-start {
			display: block;
			.ft-block {
				width: 100%;
			}
			.contact-block {
				margin-bottom: 1rem;
			}
		}
		h2 {
			font-size: 1.125rem;
		}
		.menu-item.links {
			li {
				margin-bottom: .125rem;
			}
		}
	}
}

@media (max-width: 574px) {
	footer.footer {
		.footer-inner {
			display: block;
		}
		.block-start,
		.block-end {
			margin-bottom: 1rem;
			width: 100%;
		}
		.menu-item.social-media {
			justify-content: start;
			li {
				margin: 0 1rem 0 0;
			}
		}
	}
}