/* `Footer
-----------------------------------------------------------------------------*/

footer.footer {
	background: $main_color;
	padding: 46px 0;
	margin-top: -162px;
	min-height: 162px;
	color: #fff;
	.footer-inner {
		display: flex;
	}
	.logo { margin-right: 46px; }
	.h1-logo {
		display: block;
		width: 287px;
		height: auto;
	}
	.contact {
		h5 {
			margin-bottom: .375rem;
			font-size: 1.125rem;
			font-weight: 400;
		}
		p {
			font-size: 0.875rem;
			margin-bottom: 0;
		}
	}
}