
/* `Header
-----------------------------------------------------------------------------*/

header.header {
	border-top: 16px solid #c8a063;
	position: relative;
}

.header-wrap {
	padding: 30px 0;
	.brands {
		a {
			display: block;
			width: 287px;
		}
        h1 { margin: 0; }
	}
	.h1-logo {
		display: block;
		width: 287px;
		height: auto;
	}
}