<!-- admin-page: 活動主辦人 - 報名網站精靈 -->

<div class="container">
    <main class="main">
        <div class="page-header">
            <div class="header-left">
                <h2 class="page-title">建立新的報名活動</h2>
                <p class="title-info">選擇報名活動網站產生方式</p>
            </div>
        </div>
		<div class="new-mode">
		    <div class="mode-left">
			    <h3>讓精靈為您製作報名網站</h3>
				<p class="mb-5">依步驟設定各項資料即可產生報名網站</p>
				<a href="#" class="btn btn-primary btn-rounded">立即開始</a>
			</div>
			<div class="mode-right">
			    <h3>讓精靈為您製作報名網站</h3>
				<p class="mb-5">依步驟設定各項資料即可產生報名網站</p>
				<a href="#" class="btn btn-primary btn-rounded">選擇範本</a>
			</div>
		</div>
    </main>
</div>


<% content_for :js do %>

<% end %>
