<!-- admin-page: 活動主辦人 - 精靈: 繳交文件 -->

<div class="container">
    <main class="main">
        <div class="page-header">
            <div class="header-left">
                <h2 class="page-title">報名網站精靈</h2>
                <p class="title-info">請依下列步驟完成報名網站設計</p>
            </div>
			<div class="header-right">
                <a href="#" class="btn btn-md btn-dark btn-rounded">取消</a>
            </div>
        </div>
		<div class="elves-wrapper">
		    <div class="elves-nav">
				<ul class="menu-item">
				    <li>
					    <a href="#" class="elves-link">
						    <span class="menu-label">選擇版型</span>
							<span class="menu-brief">選擇活動佈景主題</span>
						</a>
					</li>
					<li>
					    <a href="#" class="elves-link">
						    <span class="menu-label">基本設定</span>
							<span class="menu-brief">活動名稱、語系、網址等設定</span>
						</a>
					</li>
					<li>
					    <a href="#" class="elves-link">
						    <span class="menu-label">報名流程</span>
							<span class="menu-brief">設定報名及審查流程</span>
						</a>
					</li>
					<li>
					    <a href="#" class="elves-link">
						    <span class="menu-label">網站功能</span>
							<span class="menu-brief">設定報名網站使用功能</span>
						</a>
					</li>
					<li>
					    <a href="#" class="elves-link">
						    <span class="menu-label">報名表單設計</span>
							<span class="menu-brief">設計報名表需要的欄位</span>
						</a>
					</li>
					<li>
					    <a href="#" class="elves-link active">
						    <span class="menu-label">繳交文件</span>
							<span class="menu-brief">選擇報名需要繳交的文件</span>
						</a>
					</li>
				</ul>
			</div>
			<div class="elves-content">
				<din class="elves-content-hd">
					<div class="hd-left">
					    <h5 class="hd-title">請選擇報名表需要的繳交文件</h5>
						<p class="mb-0">請由可用文件的項目，按 " <i class="fa fa-plus"></i> " 加入按鈕啟用功能區塊。</p>
					</div>
				</din>
				<din class="elves-content-bd has-border">
					<div class="function-container">
					    <div class="available-block module-wrapper">
							<h5>文件項目</h5>
						    <ul class="menu-item">
							    <li>
								    <div class="function-card">
									    <div class="function-head">
										    <h6>個資使用同意書</h6>
											<a href="#" class="btn btn-sm btn-rounded btn-outline-success" title="加入"><i class="fa fa-plus"></i></a>
										</div>
										<div class="function-body">
										    說明文案
											<a href="#" class="link-modal" data-toggle="modal" data-target="#elvesDocument">檢視</a>
										</div>
									</div>
								</li>
								<li>
								    <div class="function-card">
									    <div class="function-head">
										    <h6>畢業證書</h6>
											<a href="#" class="btn btn-sm btn-rounded btn-outline-success" title="加入"><i class="fa fa-plus"></i></a>
										</div>
										<div class="function-body">
										    Lorem ipsum dolor sit amet
											<a href="#" class="link-modal" data-toggle="modal" data-target="#elvesDocument">檢視</a>
										</div>
									</div>
								</li>
								<li>
								    <div class="function-card">
									    <div class="function-head">
										    <h6>文件名稱</h6>
											<a href="#" class="btn btn-sm btn-rounded btn-outline-success" title="加入"><i class="fa fa-plus"></i></a>
										</div>
										<div class="function-body">
										    Lorem ipsum dolor sit amet
											<a href="#" class="link-modal" data-toggle="modal" data-target="#elvesDocument">檢視</a>
										</div>
									</div>
								</li>
								<li>
								    <div class="function-card">
									    <div class="function-head">
										    <h6>文件名稱</h6>
											<a href="#" class="btn btn-sm btn-rounded btn-outline-success" title="加入"><i class="fa fa-plus"></i></a>
										</div>
										<div class="function-body">
										    Lorem ipsum dolor sit amet
											<a href="#" class="link-modal" data-toggle="modal" data-target="#elvesDocument">檢視</a>
										</div>
									</div>
								</li>
								<li>
								    <div class="function-card">
									    <div class="function-head">
										    <h6>文件名稱</h6>
											<a href="#" class="btn btn-sm btn-rounded btn-outline-success" title="加入"><i class="fa fa-plus"></i></a>
										</div>
										<div class="function-body">
										    Lorem ipsum dolor sit amet
											<a href="#" class="link-modal" data-toggle="modal" data-target="#elvesDocument">檢視</a>
										</div>
									</div>
								</li>
							</ul>
						</div>
						<div class="enabled-block module-wrapper">
							<h5>選用的文件項目</h5>
						    <ul class="menu-item">
							    <li>
								    <div class="function-card">
									    <div class="function-head">
										    <h6>研習同意書</h6>
											<a href="#" class="btn btn-sm btn-rounded btn-outline-danger" title="移除"><i class="fa fa-times"></i></a>
										</div>
										<div class="function-body">
										    本活動各項生活輔導規定
											<a href="#" class="link-modal" data-toggle="modal" data-target="#elvesDocument">檢視</a>
										</div>
									</div>
								</li>
								<li>
								    <div class="function-card">
									    <div class="function-head">
										    <h6>護照影本</h6>
											<a href="#" class="btn btn-sm btn-rounded btn-outline-danger" title="移除"><i class="fa fa-times"></i></a>
										</div>
										<div class="function-body">
										    護照封面的影印電子檔案
											<a href="#" class="link-modal" data-toggle="modal" data-target="#elvesDocument">檢視</a>
										</div>
									</div>
								</li>
								<li>
								    <div class="function-card">
									    <div class="function-head">
										    <h6>英語能力</h6>
											<a href="#" class="btn btn-sm btn-rounded btn-outline-danger" title="移除"><i class="fa fa-times"></i></a>
										</div>
										<div class="function-body">
										    英語能力的等級及說明
											<a href="#" class="link-modal" data-toggle="modal" data-target="#elvesDocument">檢視</a>
										</div>
									</div>
								</li>
							</ul>
						</div>
						<!-- div class="module-control">
						    <a href="#" class="btn-add control-button" title="加入">
								<i class="fa fa-chevron-right"></i>
							</a>
							<a href="#" class="btn-remove control-button" title="移除">
								<i class="fa fa-chevron-left"></i>
							</a>
						</div -->
					</div>
				</din>
				<din class="elves-content-ft">
				    <button type="button" class="btn btn-primary">上一步</button>
					<button type="button" class="btn purple-gradient">產生網站</button>
				</din>
			</div>
		</div>
    </main>
</div>


<% content_for :js do %>

<% end %>
