<!-- admin-page: 活動主辦人 - 精靈: 網站功能 -->

<div class="container">
    <main class="main">
        <div class="page-header">
            <div class="header-left">
                <h2 class="page-title">報名網站精靈</h2>
                <p class="title-info">請依下列步驟完成報名網站設計</p>
            </div>
			<div class="header-right">
                <a href="#" class="btn btn-md btn-dark btn-rounded">取消</a>
            </div>
        </div>
		<div class="elves-wrapper">
		    <div class="elves-nav">
				<ul class="menu-item">
				    <li>
					    <a href="#" class="elves-link">
						    <span class="menu-label">選擇版型</span>
							<span class="menu-brief">選擇活動佈景主題</span>
						</a>
					</li>
					<li>
					    <a href="#" class="elves-link">
						    <span class="menu-label">基本設定</span>
							<span class="menu-brief">活動名稱、語系、網址等設定</span>
						</a>
					</li>
					<li>
					    <a href="#" class="elves-link">
						    <span class="menu-label">報名流程</span>
							<span class="menu-brief">設定報名及審查流程</span>
						</a>
					</li>
					<li>
					    <a href="#" class="elves-link active">
						    <span class="menu-label">網站功能</span>
							<span class="menu-brief">設定報名網站使用功能</span>
						</a>
					</li>
					<li>
					    <a href="#" class="elves-link">
						    <span class="menu-label">報名表單設計</span>
							<span class="menu-brief">設計報名表需要的欄位</span>
						</a>
					</li>
					<li>
					    <a href="#" class="elves-link">
						    <span class="menu-label">繳交文件</span>
							<span class="menu-brief">選擇報名需要繳交的文件</span>
						</a>
					</li>
				</ul>
			</div>
			<div class="elves-content">
				<din class="elves-content-hd">
					<div class="hd-left">
					    <h5 class="hd-title">請選擇網站要使用的功能</h5>
						<p class="mb-0">請由可用功能的項目，按 " <i class="fa fa-plus"></i> " 加入按鈕啟用功能區塊</p>
					</div>
				</din>
				<din class="elves-content-bd has-border">
					<div class="function-container">
					    <div class="available-block module-wrapper">
							<h5>可用功能</h5>
						    <ul class="menu-item">
							    <li>
								    <div class="function-card">
									    <div class="function-head">
										    <h6>首頁影片</h6>
											<a href="#" class="btn btn-sm btn-rounded btn-outline-success" title="加入"><i class="fa fa-plus"></i></a>
										</div>
										<div class="function-body">
										    首頁崁入 Youtube 影片
										</div>
									</div>
								</li>
								<li>
								    <div class="function-card">
									    <div class="function-head">
										    <h6>首頁地圖</h6>
											<a href="#" class="btn btn-sm btn-rounded btn-outline-success" title="加入"><i class="fa fa-plus"></i></a>
										</div>
										<div class="function-body">
										    首頁崁入 Google Map
										</div>
									</div>
								</li>
								<li>
								    <div class="function-card">
									    <div class="function-head">
										    <h6>公告</h6>
											<a href="#" class="btn btn-sm btn-rounded btn-outline-success" title="加入"><i class="fa fa-plus"></i></a>
										</div>
										<div class="function-body">
										    首頁提供最新公告區塊，並提供公告清單的列表及單一公告檢視。
										</div>
									</div>
								</li>
								<li>
								    <div class="function-card">
									    <div class="function-head">
										    <h6>Q&A</h6>
											<a href="#" class="btn btn-sm btn-rounded btn-outline-success" title="加入"><i class="fa fa-plus"></i></a>
										</div>
										<div class="function-body">
										    功能選單增加常見問題功能
										</div>
									</div>
								</li>
							</ul>
						</div>
						<div class="enabled-block module-wrapper">
							<h5>啟用功能</h5>
						    <ul class="menu-item">
							    <li>
								    <div class="function-card">
									    <div class="function-head">
										    <h6>首頁輪播</h6>
											<a href="#" class="btn btn-sm btn-rounded btn-outline-danger" title="移除"><i class="fa fa-times"></i></a>
										</div>
										<div class="function-body">
										    首頁提供 Banner 輪播功能
										</div>
									</div>
								</li>
								<li>
								    <div class="function-card">
									    <div class="function-head">
										    <h6>相關連結</h6>
											<a href="#" class="btn btn-sm btn-rounded btn-outline-danger" title="移除"><i class="fa fa-times"></i></a>
										</div>
										<div class="function-body">
										    首頁相關連結區塊
										</div>
									</div>
								</li>
							</ul>
						</div>
						<!-- div class="module-control">
						    <a href="#" class="btn-add control-button" title="加入">
								<i class="fa fa-chevron-right"></i>
							</a>
							<a href="#" class="btn-remove control-button" title="移除">
								<i class="fa fa-chevron-left"></i>
							</a>
						</div -->
					</div>
				</din>
				<din class="elves-content-ft">
				    <button type="button" class="btn btn-primary">上一步</button>
					<button type="button" class="btn btn-primary">下一步</button>
				</din>
			</div>
		</div>
    </main>
</div>


<% content_for :js do %>

<% end %>
