<!-- admin-page: 活動主辦人 - 選擇範本 -->

<div class="container">
    <main class="main">
        <div class="page-header">
            <div class="header-left">
                <h2 class="page-title">選擇報名活動範本</h2>
                <p class="title-info">選擇報名活動範本產生網站/p>
            </div>
            <div class="header-right">
                <a href="#" class="btn btn-md btn-dark btn-rounded">取消</a>
            </div>
        </div>
		<div class="events-host-container">
		    <form>
			    <div class="events-host-search text-right">
				    <div class="search-inner">
                        <i class="fa fa-search" aria-hidden="true"></i>
                        <input class="form-control" type="text" placeholder="搜尋活動"
                        aria-label="Search">
					</div>
				</div>
				<div class="events-host-list">
                    <div class="event-card">
                        <div class="event-hd">
                            <hgroup class="event-title">
                                <h4 class="language main-language">2021 年僑務委員會海外青年臺灣學習體驗營</h4>
                                <h5 class="language sub-language">Application Form for 201 Overseas Youth Taiwan Experience Program</h5>
                            </hgroup>
                            <div class="event-condition">
                                <span>研習課程</span>
                                <span>以梯次方式申請，共 2 梯次</span>
								<span>限制 2 年內不得參加同類活動</span>
                            </div>
                        </div>
                        <div class="event-bd">
                            <div class="event-stage">
                                <ul class="stage-list">
                                    <li class="done">
                                        <div class="start-inner">
											<span class="start-date">02/01</span>
                                            <span class="status"><i class="fa fa-check"></i></span>
                                            <h4>活動報名</h4>
                                            <span class="end-date">03/05</span>
                                        </div>
                                    </li>
                                    <li class="active">
                                        <div class="start-inner">
                                            <span class="status"><i class="fa fa-play"></i></span>
                                            <h4>初審作業</h4>
                                            <span class="end-date">04/15</span>
                                        </div>
                                    </li>
                                    <li class="">
                                        <div class="start-inner">
                                            <span class="status">3</span>
                                            <h4>複審作業</h4>
                                            <span class="end-date">05/20</span>
                                        </div>
                                    </li>
                                    <li class="">
                                        <div class="start-inner">
                                            <span class="status">4</span>
                                            <h4>確認參加</h4>
                                            <span class="end-date">06/30</span>
                                        </div>
                                    </li>
                                </ul>
							</div>
                        </div>
                        <div class="event-ft">
                            <div class="ft-left">
                                <a href="#" class="link-notification">
									<i class="fa fa-eye"></i> 預覽活動
                                </a>
								<a href="#" class="link-notification">
									<i class="fa fa-eye"></i> 預覽報名表
                                </a>
							</div>
                            <div class="ft-right">
							    <a href="#" class="btn btn-md btn-secondary btn-rounded">套用範本</a>
							</div>
                        </div>
                    </div>
					
					<div class="event-card">
                        <div class="event-hd">
                            <hgroup class="event-title">
                                <h4 class="language main-language">僑委會建構全球僑臺商產學合作方案遠東科技大學完成服務手冊</h4>
                                <h5 class="language sub-language">Lorem ipsum dolor sit amet consectetur adipiscing elit mauris molestie malesuada erat</h5>
                            </hgroup>
                            <div class="event-condition">
                                <span>個人報名</span>
                                <span>以梯次方式申請，共 2 梯次</span>
								<span>研習課程</span>
                            </div>
                        </div>
                        <div class="event-bd">
                            <div class="event-stage">
                                <ul class="stage-list">
                                    <li class="done">
                                        <div class="start-inner">
											<span class="start-date">02/01</span>
                                            <span class="status"><i class="fa fa-check"></i></span>
                                            <h4>活動報名</h4>
                                            <span class="end-date">03/05</span>
                                        </div>
                                    </li>
                                    <li class="done">
                                        <div class="start-inner">
                                            <span class="status"><i class="fa fa-check"></i></span>
                                            <h4>初審作業</h4>
                                            <span class="end-date">04/15</span>
                                        </div>
                                    </li>
                                    <li class="done">
                                        <div class="start-inner">
                                            <span class="status"><i class="fa fa-check"></i></span>
                                            <h4>複審作業</h4>
                                            <span class="end-date">05/20</span>
                                        </div>
                                    </li>
                                    <li class="active">
                                        <div class="start-inner">
                                            <span class="status"><i class="fa fa-play"></i></span>
                                            <h4>確認參加</h4>
                                            <span class="end-date">06/30</span>
                                        </div>
                                    </li>
									<li class="">
                                        <div class="start-inner">
                                            <span class="status">4</span>
                                            <h4>測試</h4>
                                            <span class="end-date">07/30</span>
                                        </div>
                                    </li>
                                </ul>
							</div>
                        </div>
                        <div class="event-ft">
                            <div class="ft-left">
                                <a href="#" class="link-notification">
									<i class="fa fa-eye"></i> 預覽活動
                                </a>
								<a href="#" class="link-notification">
									<i class="fa fa-eye"></i> 預覽報名表
                                </a>
							</div>
                            <div class="ft-right">
							    <a href="#" class="btn btn-md btn-secondary btn-rounded">套用範本</a>
							</div>
                        </div>
                    </div>
					
					<div class="event-card">
                        <div class="event-hd">
                            <hgroup class="event-title">
                                <h4 class="language main-language">2021 年僑務委員會海外青年臺灣學習體驗營</h4>
                                <h5 class="language sub-language">Application Form for 201 Overseas Youth Taiwan Experience Program</h5>
                            </hgroup>
                            <div class="event-condition">
                                <span>研習課程</span>
                                <span>以梯次方式申請，共 2 梯次</span>
								<span>團體報名</span>
                                <span>限制 2 年內不得參加同類活動</span>
								<span>Lorem ipsum dolor sit amet</span>
								<span>研習課程</span>
                                <span>以梯次方式申請，共 2 梯次</span>
								<span>團體報名</span>
                                <span>限制 2 年內不得參加同類活動</span>
								<span>Lorem ipsum dolor sit amet</span>
                            </div>
                        </div>
                        <div class="event-bd">
                            <div class="event-stage">
                                <ul class="stage-list">
                                    <li class="done">
                                        <div class="start-inner">
											<span class="start-date">02/01</span>
                                            <span class="status"><i class="fa fa-check"></i></span>
                                            <h4>活動報名</h4>
                                            <span class="end-date">03/05</span>
                                        </div>
                                    </li>
                                    <li class="done">
                                        <div class="start-inner">
                                            <span class="status"><i class="fa fa-check"></i></span>
                                            <h4>初審作業</h4>
                                            <span class="end-date">04/15</span>
                                        </div>
                                    </li>
                                    <li class="done">
                                        <div class="start-inner">
                                            <span class="status"><i class="fa fa-check"></i></span>
                                            <h4>確認參加</h4>
                                            <span class="end-date">06/30</span>
                                        </div>
                                    </li>
                                </ul>
							</div>
                        </div>
                        <div class="event-ft">
                            <div class="ft-left">
                                <a href="#" class="link-notification">
									<i class="fa fa-eye"></i> 預覽活動
                                </a>
								<a href="#" class="link-notification">
									<i class="fa fa-eye"></i> 預覽報名表
                                </a>
							</div>
                            <div class="ft-right">
							    <a href="#" class="btn btn-md btn-secondary btn-rounded">套用範本</a>
							</div>
                        </div>
                    </div>
				</div>
			</form>
		</div>
    </main>
</div>


<% content_for :js do %>

<% end %>
