<footer class="footer">
	<div class="container">
		<div class="footer-inner">
            <div class="contact">
				<h4>國立臺灣大學學生事務處</h4>
				<ul class="menu-item">
					<li><i class="fa fa-map-marker"></i>10617 臺北市羅斯福路四段一號</li>
					<li><i class="fa fa-envelope"></i><a href="mailto:studenta@ntu.edu.tw">studenta@ntu.edu.tw</a></li>
					<li><i class="fa fa-phone"></i>02-3366-3366</li>
				</ul>
            </div>
            <div class="browser-support">
                瀏覽器建議 
                <a href="https://www.mozilla.org/firefox/new/">Firefox</a>, 
                <a href="https://www.google.com/chrome/">Chrome</a> 或
                <a href="https://microsoft-edge.en.softonic.com/">IE11+</a>
			</div>
		</div>
	</div>
</footer>
