<header class="header">
    <div class="container">
		<div class="header-wrap">
			<div class="brands">
				<a href="#" class="h-link">
                    <div class="logo">
                        <h1 class="text-hide">National Taiwan University</h1>
                        <img class="h1-logo" src="../assets/ntu-logo@2x.png" />
                    </div>
                    <div class="project">
                        <span class="years">109</span>
                        <span class="name">
							國立臺灣大學高教深耕計畫
							<small>獎助線上申請系統</small>
						</span>
                    </div>
				</a>
			</div>
			<div class="account">
				<span class="mobile-hide">您好 史嘉莉,</span>
				<a class="logout" href="#">登出</a>
			</div>
		</div>
    </div>
	<nav class="navbar navbar-expand-lg navbar-light">
		<div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ntuNav"
            aria-controls="ntuNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <% if content_for? :replace_nav %>
                <%= yield :replace_nav %>
            <% else %>
            <div class="collapse navbar-collapse" id="ntuNav">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="index.html">公告</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="identity.html">個人資料及身分別</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="scheme.html">全部獎補助項目</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="apply.html">
							申請獎補助項目
							<span class="count">12</span>
						</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="admission.html">
							錄取獎補助項目
							<span class="count">3</span>
						</a>
                    </li>
                </ul>
            </div>
            <% end %>
		</div>
	</nav>
</header>