<footer class="footer">
	<div class="container-lg">
		<div class="footer-inner">
			<div class="block-transition">
                <address>© 國立臺灣大學 管理學院 College of Management ,National Taiwan University</address>
			</div>
            <div class="ft-block end-content">
                Browser support
                <a href="https://www.google.com/intl/zh-TW/chrome/">Google Chrome</a>,
                <a href="https://www.mozilla.org/zh-TW/firefox/new/">Firefox</a> or
                <a href="https://www.microsoft.com/zh-tw/edge">IE11+</a>
            </div>
		</div>
	</div>
</footer>