<header class="header header-outgoing" id="pagetop">
    <div class="container-lg">
        <div class="header-wrap">
            <div class="header-function">
				<div class="header-right">
                    <div class="language">
                        <a href="#">EN</a>
                    </div>
                    <div class="account">
                        Hi, Nicole Kidman
                    </div>
				</div>
            </div>
            <div class="brands">
                <div class="brands-link">
                    <div class="logo">
                        <h1 class="text-hide">College of Management ,National Taiwan University</h1>
                        <img class="h1-logo" src="../../assets/logo@2x.svg">
                    </div>
                    <div class="sub">
                        <span>國立臺灣大學管理學院</span>
                        <span class="en">National Taiwan University College of Management</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="sys-subject">
        <div class="container-lg">
            <h4>113 學年度出國交換甄選系統</h4>
        </div>
    </div>
</header>