
<aside class="aside">
    <div class="scrollbar-inner">
        <div class="sidenav procedures_nav side-sticky">
            <div class="procedures_nav-hd text-end mb-4">
                <h5 class="fw-bold mb-3">Application Progress</h5>
                <div class="progress mb-3" role="progressbar" aria-label="Basic example" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                    <div class="progress-bar bg-success" style="width: 25%;">25%</div>
                </div>
            </div>

            <!-- 已完成給 .done，當前頁面給 .current -->
            <ul class="side-navigation menu-item">
                <li>
                    <a class="nav-item done" href="#">
                        <span class="link-inner">Personal Information</span>
                    </a>
                </li>
                <li>
                    <a class="nav-item done current" href="#">
                        <span class="link-inner">Nationality</span>
                    </a>
                </li>
                <li>
                    <a class="nav-item" href="#">
                        <span class="link-inner">Exchange Information</span>
                    </a>
                </li>
                <li>
                    <a class="nav-item" href="#">
                        <span class="link-inner">Chinese Language Proficiency</span>
                    </a>
                </li>
                <li>
                    <a class="nav-item" href="#">
                        <span class="link-inner">Accommodation</span>
                    </a>
                </li>
                <li>
                    <a class="nav-item" href="#">
                        <span class="link-inner">Required documents</span>
                    </a>
                </li>
                <li>
                    <a class="nav-item" href="#">
                        <span class="link-inner">Exchange Practical Documents</span>
                    </a>
                </li>
            </ul>

        </div>
    </div>
</aside>