
<aside class="aside">
    <div class="scrollbar-inner">
        <div class="sidenav side-sticky">
            <ul class="side-navigation result-navigation menu-item">
                <li>
                    <a class="nav-item" href="#">
                        <span class="link-inner">View Application Data</span>
                    </a>
                </li>
                <li>
                    
                    <!-- 當前頁面要給 .current，包括 .accordion 裡的 .nav-item -->
                    
                    <a class="nav-item current" href="#">
                        <span class="link-inner">Application Result</span>
                    </a>
                </li>
                <li>
                    <div class="accordion" id="accordionExample1">
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button nav-item" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    Before Arrival
                                </button>
                            </h2>
                            <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample1">
                                <div class="accordion-body">
                                    <ul class="menu-item">
                                        <li>
                                            <a class="nav-item" href="#">
                                                <span class="link-inner">Medical and Accident Insurance Proof</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="nav-item" href="#">
                                                <span class="link-inner">Health exam form</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="nav-item" href="#">
                                                <span class="link-inner">Pre-arrival Survey</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                </li>
                <li>
                    <div class="accordion" id="accordionExample2">
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button nav-item" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                                    After Arrival
                                </button>
                            </h2>
                            <div id="collapseTwo" class="accordion-collapse collapse show" data-bs-parent="#accordionExample2">
                                <div class="accordion-body">
                                    <ul class="menu-item">
                                        <li>
                                            <a class="nav-item" href="#">
                                                <span class="link-inner">Internet Access Fee</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="nav-item" href="#">
                                                <span class="link-inner">Other documents</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="nav-item" href="#">
                                                <span class="link-inner">Other  documents_Stamp application</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="nav-item" href="#">
                                                <span class="link-inner">Leaving NTU</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                </li>
            </ul>
        </div>
    </div>
</aside>