
<aside class="aside">
    <div class="scrollbar-inner">
        <div class="sidenav procedures_nav side-sticky">

            <!-- 已完成給 .done，當前頁面給 .current -->
            <ul class="side-navigation menu-item">
                <li>
                    <a class="nav-item done" href="#">
                        <span class="link-inner">申請表填寫</span>
                    </a>
                </li>
                <li>
                    <a class="nav-item done current" href="#">
                        <span class="link-inner">在學資料填寫</span>
                    </a>
                </li>
                <li>
                    <a class="nav-item" href="#">
                        <span class="link-inner">各項成績與語言檢定</span>
                    </a>
                </li>
                <li>
                    <a class="nav-item" href="#">
                        <span class="link-inner">線上選填志願</span>
                    </a>
                </li>
                <li>
                    <a class="nav-item" href="#">
                        <span class="link-inner">申請文件電子檔上傳</span>
                    </a>
                </li>
            </ul>

        </div>
    </div>
</aside>