
<aside class="aside">
    <div class="scrollbar-inner">
        <div class="sidenav side-sticky">
            <ul class="side-navigation result-navigation outgoing-sidebar menu-item">
                <li>
                    <a class="nav-item" href="#">
                        <span class="link-inner">瀏覽申請紀錄</span>
                    </a>
                </li>
                <li>
                    
                    <!-- 當前頁面要給 .current -->
                    
                    <a class="nav-item current" href="#">
                        <span class="link-inner">退補件上傳</span>
                    </a>
                </li>
                <li>
                    <a class="nav-item" href="#">
                        <span class="link-inner">錄取報到</span>
                    </a>
                </li>
                <li>
                    <a class="nav-item" href="#">
                        <span class="link-inner">第二次線上選填志願</span>
                    </a>
                </li>
                <li>
                    <a class="nav-item" href="#">
                        <span class="link-inner">第二次錄取報到</span>
                    </a>
                </li>
                <li>
                    <a class="nav-item" href="#">
                        <span class="link-inner">役男上傳資料</span>
                    </a>
                </li>
                <li>
                    <a class="nav-item" href="#">
                        <span class="link-inner">回國資料上傳</span>
                    </a>
                </li>
                <li>
                    <a class="nav-item" href="#">
                        <span class="link-inner">出國資料下載</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</aside>