<form>
    <div class="form-group">
        <label for="fatherName"><span class="required">*</span>Father's Name</label>
        <input type="text" class="form-control" id="fatherName" placeholder="">
    </div>
	<div class="row">
	    <div class="col">
		    <div class="form-group">
			    <label><span class="required">*</span>Father's Country of Birth</label>
                <select class="browser-default custom-select">
                    <option selected>Please select a country</option>
                    <option value="Afghanistan">Afghanistan</option>
                    <option value="Åland Islands">Åland Islands</option>
                    <option value="Albania">Albania</option>
                </select>
			</div>
		</div>
		<div class="col">
		    <div class="form-group">
			    <label><span class="required">*</span>Father's Nationality</label>
                <select class="browser-default custom-select">
                    <option selected>Please select a country</option>
                    <option value="Afghanistan">Afghanistan</option>
                    <option value="Åland Islands">Åland Islands</option>
                    <option value="Albania">Albania</option>
                </select>
			</div>
		</div>
	</div>
	<div class="form-group">
        <label for="motherName"><span class="required">*</span>Mother's Name</label>
        <input type="text" class="form-control" id="motherName" placeholder="">
    </div>
	<div class="row">
	    <div class="col">
		    <div class="form-group">
			    <label><span class="required">*</span>Mother's Country of Birth</label>
                <select class="browser-default custom-select">
                    <option selected>Please select a country</option>
                    <option value="Afghanistan">Afghanistan</option>
                    <option value="Åland Islands">Åland Islands</option>
                    <option value="Albania">Albania</option>
                </select>
			</div>
		</div>
		<div class="col">
		    <div class="form-group">
			    <label><span class="required">*</span>Mother's Nationality</label>
                <select class="browser-default custom-select">
                    <option selected>Please select a country</option>
                    <option value="Afghanistan">Afghanistan</option>
                    <option value="Åland Islands">Åland Islands</option>
                    <option value="Albania">Albania</option>
                </select>
			</div>
		</div>
	</div>
	<h5 class="mt-5 mb-5 font-700">Emergency Contact</h5>
	
	<div class="row">
	    <div class="col">
            <div class="form-group">
                <label for="emergencyName"><span class="required">*</span>Name</label>
                <input type="text" class="form-control" id="emergencyName" placeholder="">
            </div>
		</div>
		<div class="col">
		    <div class="form-group">
                <label for="emergencyRelationship"><span class="required">*</span>Relationship</label>
                <input type="text" class="form-control" id="emergencyRelationship" placeholder="">
            </div>
		</div>
	</div>
	<div class="row">
	    <div class="col">
            <div class="form-group">
                <label for="emergencyEmail"><span class="required">*</span>Email</label>
                <input type="email" class="form-control" id="emergencyEmail" placeholder="">
            </div>
		</div>
		<div class="col">
			<div class="form-group">
                <label><span class="required">*</span>Mobile</label>
                <div class="form-row">
                    <div class="col-4">
                        <input type="text" class="form-control" placeholder="Country Code">
                    </div>
					<div class="col-8">
                        <input type="text" class="form-control" placeholder="Number">
                    </div>
                </div>
			</div>
		</div>
	</div>
    <div class="text-center mt-4">
        <a href="#" class="btn btn-default btn-lg">Save</a>
		<a href="#" class="btn btn-link btn-lg">Next</a>
    </div>
</form>



































