<footer class="footer">
	<div class="container clearfix">
		<div class="footer-inner">
            <div class="float-left">
                <div class="contact">
                    <p>Office of International Affairs (Library 8F), National Chiao Tung University</p>
                    <p>1001 University Road, Hsinchu, Taiwan 30010 </p>
                    <p>FAX: +886-3-513-1473</p>
                    <p>TEL: +886-3-5712121 #50023</p>
                    <p>Email: <a href="mailto:nctu_ia@nctu.edu.tw">nctu_ia@nctu.edu.tw</a></p>
                    <p class="browser-support">Browser support 
						<a href="https://www.mozilla.org/firefox/new/">Firefox</a>, 
						<a href="https://www.google.com/chrome/">Chrome</a> or
						<a href="https://microsoft-edge.en.softonic.com/">IE11+</a>
					</p>
                </div>
            </div>
            <address class="float-right">© 2019 NCTU OIA All Rights Reserved.</address>
		</div>
	</div>
</footer>
