<header class="header">
    <div class="container">
		<div class="header-wrap">
			<div class="brands">
				<!-- 登入前 logo 會連到空開首頁 -->
				<a class="d-flex" href="#">
                    <div class="logo">
                        <h1 class="text-hide">國立交通大學國際事務處 Office of International Affairs, NCTU</h1>
                        <img class="h1-logo" src="../assets/logo_w.svg" />
                    </div>
                    <div class="sub">
                        <span>National Chiao Tung University</span>
						<span class="en">Online Application System for Overseas students</span>
                    </div>
				</a>
			</div>
		</div>
		<div class="header-project">
		    <h2><strong>107</strong> Fall class 1st step Foreign student application</h2>
		</div>
    </div>
</header>