<header class="header">
    <div class="container">
		<div class="header-wrap">
			<div class="brands">
				<!-- 登入前 logo 會連到個人首頁 -->
				<a class="d-flex" href="/">
                    <div class="logo">
                        <h1 class="text-hide">國立交通大學國際事務處 Office of International Affairs, NCTU</h1>
                        <img class="h1-logo" src="../assets/logo_w.svg" />
                    </div>
                    <div class="sub">
                        <span>National Chiao Tung University</span>
						<span class="en">Online Application System for Overseas students</span>
                    </div>
				</a>
			</div>
			<div class="account">
				<ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Hi Mr.Suchart</a>
                        <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="#">Logout</a>
                            <a class="dropdown-item" href="#">Change password</a>
                        </div>
                    </li>
				</ul>
			</div>
		</div>
		<div class="header-project">
		    <h2><strong>107</strong> Fall class 1st step Foreign student application</h2>
		</div>
    </div>
</header>