<form>
    <p class="mb-4">Academic honors & Extracurricular activities (optional)</p>
	
    <table class="table table-vertical-middle">
	    <thead>
		    <tr>
			    <th class="w-50">Priority</th>
				<th class="w-45">Details</th>
				<th class="w-5"></th>
			</tr>
		</thead>
		<tbody>
		    <tr>
			    <td class="font-700">
                    <div class="form-row">
                        <div class="col">
                            <select class="browser-default custom-select">
                                <option selected>Month</option>
                                <option value="january">January</option>
                                <option value="february">February</option>
                                <option value="march">March</option>
                            </select>
                        </div>
                        <div class="col">
                            <select class="browser-default custom-select">
                                <option selected>Years</option>
                                <option value="2000">2000</option>
                                <option value="1999">1999</option>
                                <option value="1998">1998</option>
                            </select>
                        </div>
                        <div class="col-1 text-center"><span class="d-block pt-1">to</span></div>
                        <div class="col">
                            <select class="browser-default custom-select">
                                <option selected>Month</option>
                                <option value="january">January</option>
                                <option value="february">February</option>
                                <option value="march">March</option>
                            </select>
                        </div>
                        <div class="col">
                            <select class="browser-default custom-select">
                                <option selected>Years</option>
                                <option value="2000">2000</option>
                                <option value="1999">1999</option>
                                <option value="1998">1998</option>
                            </select>
                        </div>
                    </div>
				</td>
				<td>
				    <textarea class="form-control rounded-0" id="" rows="2"></textarea>
				</td>
				<td>
				    <a href="#" class="btn btn-xs btn-danger mr-0" title="delete"><i class="fa fa-times"></i></a>
				</td>
			</tr>
			<tr>
			    <td class="font-700">
                    <div class="form-row">
                        <div class="col">
                            <select class="browser-default custom-select">
                                <option selected>Month</option>
                                <option value="january">January</option>
                                <option value="february">February</option>
                                <option value="march">March</option>
                            </select>
                        </div>
                        <div class="col">
                            <select class="browser-default custom-select">
                                <option selected>Years</option>
                                <option value="2000">2000</option>
                                <option value="1999">1999</option>
                                <option value="1998">1998</option>
                            </select>
                        </div>
                        <div class="col-1 text-center"><span class="d-block pt-1">to</span></div>
                        <div class="col">
                            <select class="browser-default custom-select">
                                <option selected>Month</option>
                                <option value="january">January</option>
                                <option value="february">February</option>
                                <option value="march">March</option>
                            </select>
                        </div>
                        <div class="col">
                            <select class="browser-default custom-select">
                                <option selected>Years</option>
                                <option value="2000">2000</option>
                                <option value="1999">1999</option>
                                <option value="1998">1998</option>
                            </select>
                        </div>
                    </div>
				</td>
				<td>
				    <textarea class="form-control rounded-0" id="" rows="2"></textarea>
				</td>
				<td>
				    <a href="#" class="btn btn-xs btn-danger mr-0" title="delete"><i class="fa fa-times"></i></a>
				</td>
			</tr>
		</tbody>
	</table>
	<a href="#" class="add-btn">
	    <span class="btn btn-sm btn-blue-grey btn-rounded waves-effect waves-light"><i class="fa fa-plus"></i> </span>
		<span class="text-black-50">Add a new one</span>
	</a>
	
    <div class="text-center mt-4">
        <a href="#" class="btn btn-default btn-lg">Save</a>
		<a href="#" class="btn btn-link btn-lg">Next</a>
    </div>
</form>



































