<form>
    <div class="row">
	    <div class="col">
			<div class="form-group">
                <label><span class="required">*</span>Name</label>
                <div class="form-row">
                    <div class="col-4">
                        <input type="text" class="form-control" placeholder="first name">
                    </div>
					<div class="col-4">
                        <input type="text" class="form-control" placeholder="middle name">
                    </div>
					<div class="col-4">
                        <input type="text" class="form-control" placeholder="last name">
                    </div>
                </div>
				<small class="form-text text-muted">Please provide your name as stated on your passport or national ID</small>
			</div>
            <div class="form-group">
                <label for="previousName">Previous family name</label>
                <input type="text" class="form-control" id="previousName" placeholder="">
				<small class="form-text text-muted">if any</small>
            </div>
			<div class="form-group">
                <label for="Chinesefullname">Chinese Name</label>
                <input type="text" class="form-control" id="Chinesefullname" placeholder="">
				<small class="form-text text-muted">if left blank, the university will give you one</small>
            </div>
		</div>
		<div class="col">
            <div class="avatar-wrap">
                <form class="md-form mt-0">
                    <div class="file-field">
                        <div class="avatar">
                            <img src="../assets/default-avatar.svg" class="img-fluid" alt="">
                        </div>
                        <a href="/" class="btn btn-delete btn-sm btn-amber btn-rounded"><i class="fa fa-times"></i> <span>Delete</span></a>
                        <div class="d-flex justify-content-center">
                            <div class="btn aqua-gradient btn-sm btn-rounded float-left">
                                <span>Upload photo</span>
                                <input type="file">
                            </div>
                        </div>
						<small class="text-center form-text text-muted">JPG file, in the last six months, uncapped half-length color photo for student ID production</small>
                    </div>
                </form>
            </div>
		</div>
	</div>
	<div class="row">
	    <div class="col">
		    <div class="form-group">
			    <label><span class="required">*</span>Date of Birth</label>
				<div class="form-row">
				    <div class="col">
                        <select class="browser-default custom-select">
                            <option selected>Years</option>
                            <option value="2000">2000</option>
                            <option value="1999">1999</option>
                            <option value="1998">1998</option>
                        </select>
					</div>
					<div class="col">
                        <select class="browser-default custom-select">
                            <option selected>Month</option>
                            <option value="january">January</option>
                            <option value="february">February</option>
                            <option value="march">March</option>
                        </select>
					</div>
					<div class="col">
                        <select class="browser-default custom-select">
                            <option selected>Day</option>
                            <option value="1">01</option>
                            <option value="2">02</option>
                            <option value="3">03</option>
                        </select>
					</div>
				</div>
			</div>
		</div>
		<div class="col">
		    <div class="form-group">
			    <label class="d-block"><span class="required">*</span>Gender</label>
                <div class="form-check form-check-inline">
                    <input type="radio" class="form-check-input" id="genderMale" name="inlineGender">
                    <label class="form-check-label" for="genderMale">Male</label>
                </div>
				<div class="form-check form-check-inline">
                    <input type="radio" class="form-check-input" id="genderFemale" name="inlineGender">
                    <label class="form-check-label" for="genderFemale">Female</label>
                </div>
			</div>
		</div>
	</div>
	<div class="row">
	    <div class="col">
		    <div class="form-group">
			    <label><span class="required">*</span>Country of Birth</label>
                <select class="browser-default custom-select">
                    <option selected>Please select a country</option>
                    <option value="Afghanistan">Afghanistan</option>
                    <option value="Åland Islands">Åland Islands</option>
                    <option value="Albania">Albania</option>
                </select>
			</div>
		</div>
		<div class="col">
		    <div class="form-group">
			    <label><span class="required">*</span>Nationality</label>
                <select class="browser-default custom-select">
                    <option selected>Please select a country</option>
                    <option value="Afghanistan">Afghanistan</option>
                    <option value="Åland Islands">Åland Islands</option>
                    <option value="Albania">Albania</option>
                </select>
			</div>
		</div>
	</div>
	<div class="row">
	    <div class="col">
            <div class="form-group">
                <label for="passportNo"><span class="required">*</span>Passport No</label>
                <input type="text" class="form-control" id="passportNo" placeholder="">
            </div>
		</div>
		<div class="col">
		    <div class="form-group">
                <label for="personalEmail"><span class="required">*</span>E-mail</label>
                <input type="email" class="form-control" id="personalEmail" placeholder="">
            </div>
		</div>
	</div>
	<div class="row">
	    <div class="col">
            <div class="form-group">
                <label for="motherTongue"><span class="required">*</span>Mother Tongue</label>
                <input type="text" class="form-control" id="motherTongue" placeholder="">
            </div>
		</div>
		<div class="col">
		    <div class="form-group">
			    <label class="d-block"><span class="required">*</span>Marital Status</label>
                <div class="form-check form-check-inline">
                    <input type="radio" class="form-check-input" id="statusSingle" name="maritalStatus">
                    <label class="form-check-label" for="statusSingle">Single</label>
                </div>
				<div class="form-check form-check-inline">
                    <input type="radio" class="form-check-input" id="statusMarried" name="maritalStatus">
                    <label class="form-check-label" for="statusMarried">Married</label>
                </div>
			</div>
		</div>
	</div>
	<div class="row">
	    <div class="col">
			<div class="form-group">
                <label>Tel</label>
                <div class="form-row">
                    <div class="col-4">
                        <input type="text" class="form-control" placeholder="Country Code">
                    </div>
					<div class="col-4">
                        <input type="text" class="form-control" placeholder="Area Code">
                    </div>
					<div class="col-4">
                        <input type="text" class="form-control" placeholder="Number">
                    </div>
                </div>
			</div>
		</div>
		<div class="col">
			<div class="form-group">
                <label><span class="required">*</span>Mobile</label>
                <div class="form-row">
                    <div class="col-4">
                        <input type="text" class="form-control" placeholder="Country Code">
                    </div>
					<div class="col-8">
                        <input type="text" class="form-control" placeholder="Number">
                    </div>
                </div>
			</div>
		</div>
	</div>
	<div class="form-row">
	    <div class="col-9">
            <div class="form-group">
                <label for="permanentAddress">Permanent Address</label>
                <input type="text" class="form-control" id="permanentAddress" placeholder="">
            </div>
		</div>
		<div class="col-3">
		    <div class="form-group">
                <label for="permanentPostal">Postal/Zip Code</label>
                <input type="email" class="form-control" id="permanentPostal" placeholder="">
            </div>
		</div>
	</div>
	<div class="form-row">
	    <div class="col-9">
            <div class="form-group">
                <label for="mailingAddress">Mailing Address</label>
                <input type="text" class="form-control" id="mailingAddress" placeholder="">
				<small class="form-text text-muted">valid until (mm/dd/yyyy)</small>
            </div>
		</div>
		<div class="col-3">
		    <div class="form-group">
                <label for="mailingPostal">Postal/Zip Code</label>
                <input type="email" class="form-control" id="mailingPostal" placeholder="">
            </div>
		</div>
	</div>
    <div class="text-center">
        <a href="#" class="btn btn-default btn-lg">Save</a>
		<a href="#" class="btn btn-link btn-lg">Next</a>
    </div>
</form>



































