<form>
    <table class="table table-vertical-middle">
	    <thead>
		    <tr>
			    <th>Priority</th>
				<th></th>
				<th>College & Department/Institute</th>
				<th>Degree Program</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
		    <tr>
			    <td class="font-700">1</td>
				<td>
					<div class="btn-group btn-sort" role="group" aria-label="Basic example">
                        <a href="#" class="btn btn-xs btn-link mr-0 un-shadows"><i class="fa fa-long-arrow-up"></i></a>
                        <a href="#" class="btn btn-xs btn-link mr-0 un-shadows"><i class="fa fa-long-arrow-down"></i></a>   
					</div>
				</td>
				<td>
                    <div class="form-row">
                        <div class="col">
                            <select class="browser-default custom-select">
                                <option selected>College</option>
                                <option value="School of Management">School of Management</option>
                                <option value="Business school">Business school</option>
                                <option value="School of Humanities">School of Humanities</option>
                            </select>
                        </div>
                        <div class="col">
                            <select class="browser-default custom-select">
                                <option selected>Department</option>
                                <option value="Department of Engineering">Department of Engineering</option>
                                <option value="Department of Physics">Department of Physics</option>
                            </select>
                        </div>
                        <div class="col">
                            <select class="browser-default custom-select">
                                <option selected>Group</option>
                                <option value="Guangfu School District">Guangfu School District</option>
                            </select>
                        </div>
                    </div>
				</td>
				<td>
                    <select class="browser-default custom-select">
                        <option selected>Please select</option>
                        <option value="Bachelor">Bachelor</option>
                        <option value="master's degree">Master's degree</option>
                        <option value="Doctor">Doctor</option>
                    </select>
				</td>
				<td>
				    <a href="#" class="btn btn-xs btn-danger mr-0" title="delete"><i class="fa fa-times"></i></a>
				</td>
			</tr>
			<tr>
			    <td class="font-700">2</td>
				<td>
					<div class="btn-group btn-sort" role="group" aria-label="Basic example">
                        <a href="#" class="btn btn-xs btn-link mr-0 un-shadows"><i class="fa fa-long-arrow-up"></i></a>
                        <a href="#" class="btn btn-xs btn-link mr-0 un-shadows"><i class="fa fa-long-arrow-down"></i></a>   
					</div>
				</td>
				<td>
                    <div class="form-row">
                        <div class="col">
                            <select class="browser-default custom-select">
                                <option selected>College</option>
                                <option value="School of Management">School of Management</option>
                                <option value="Business school">Business school</option>
                                <option value="School of Humanities">School of Humanities</option>
                            </select>
                        </div>
                        <div class="col">
                            <select class="browser-default custom-select">
                                <option selected>Department</option>
                                <option value="Department of Engineering">Department of Engineering</option>
                                <option value="Department of Physics">Department of Physics</option>
                            </select>
                        </div>
                        <div class="col">
                            <select class="browser-default custom-select">
                                <option selected>Group</option>
                                <option value="Guangfu School District">Guangfu School District</option>
                            </select>
                        </div>
                    </div>
				</td>
				<td>
                    <select class="browser-default custom-select">
                        <option selected>Please select</option>
                        <option value="Bachelor">Bachelor</option>
                        <option value="master's degree">Master's degree</option>
                        <option value="Doctor">Doctor</option>
                    </select>
				</td>
				<td>
				    <a href="#" class="btn btn-xs btn-danger mr-0" title="delete"><i class="fa fa-times"></i></a>
				</td>
			</tr>
		</tbody>
	</table>
	<a href="#" class="add-btn">
	    <span class="btn btn-sm btn-blue-grey btn-rounded"><i class="fa fa-plus"></i> </span>
		<span class="text-black-50">Add a new one</span>
	</a>
	<h5 class="mt-5 mb-5 font-700">
		Home University Advisor Information
		<small class="d-block text-muted font-300">Dual-Degree students only</small>
	</h5>
	<div class="row">
	    <div class="col">
            <div class="form-group">
                <label for="homeName">Name</label>
                <input type="text" class="form-control" id="homeName" placeholder="">
            </div>
		</div>
		<div class="col">
		    <div class="form-group">
                <label for="homeEmail">E-mail</label>
                <input type="email" class="form-control" id="homeEmail" placeholder="">
            </div>
		</div>
	</div>
	<h5 class="mt-5 mb-5 font-700">
		NCTU Advisor
		<small class="d-block text-muted font-300">optional</small>
	</h5>
    <table class="table table-vertical-middle">
	    <thead>
		    <tr>
			    <th class="w-10">Priority</th>
				<th class="w-80">Name</th>
				<th class="w-10"></th>
			</tr>
		</thead>
		<tbody>
		    <tr>
			    <td class="font-700">1</td>
				<td></td>
				<td>
				    <a href="#" class="btn btn-xs btn-danger mr-0" title="delete"><i class="fa fa-times"></i></a>
				</td>
			</tr>
		</tbody>
	</table>
	<a href="#" class="add-btn">
	    <span class="btn btn-sm btn-blue-grey btn-rounded"><i class="fa fa-plus"></i></span>
		<span class="text-black-50">Add a new one</span>
	</a>
    <div class="text-center mt-4">
        <a href="#" class="btn btn-default btn-lg">Save</a>
		<a href="#" class="btn btn-link btn-lg">Next</a>
    </div>
</form>



































