<header class="header">
    <nav class="navbar navbar-expand-lg navbar-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="mr-auto">
                <div class="input-group rounded">
                    <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
                    <span class="input-group-text border-0" id="search-addon">
                        <i class="fas fa-search"></i>
                    </span>
                </div>
            </div>
            <ul class="navbar-nav nav-right align-items-center ms-auto">
				<li class="nav-item">
				    <a href="#" class="btn btn-sm btn-white">身分<span class="badge bg-danger ms-2">4</span></a>
				</li>
				<li class="nav-item">
				    <a href="#" class="btn btn-sm btn-white">切換身分<span class="badge bg-danger ms-2">4</span></a>
				</li>
                <li class="nav-item dropdown">
                    <span class="counter">3</span>
                    <a href="" class="notifications-dropdown dropdown-toggle nav-link no-after" id="dropdownBell" data-mdb-toggle="dropdown" aria-expanded="false">
                        <i class="fas fa-bell"></i>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="dropdownBell">
                        <li class="dropdown-head">
                            <i class="fas fa-bell"></i>
                            <span>Notifications</span>
                        </li>
                        <li>
                            <ul class="has-row">
                                <li>
                                    <a href="" class="dropdown-item">
                                        <div class="peer mr-15"><img src="../assets/default-avatar.svg" alt=""></div>
                                        <div class="peer peer-greed">
                                            <div class="flex between">
                                                <p>John Doe</p>
                                                <small>5 mins ago</small>
                                            </div>
                                            <span class="summary">Want to create your own customized data generator for your app...</span>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="" class="dropdown-item">
                                        <div class="peer mr-15"><img src="../assets/default-avatar.png" alt=""></div>
                                        <div class="peer peer-greed">
                                            <div class="flex between">
                                                <p>John Doe</p>
                                                <small>5 mins ago</small>
                                            </div>
                                            <span class="summary">Want to create your own customized data generator for your app...</span>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="" class="dropdown-item">
                                        <div class="peer mr-15"><img src="../assets/default-avatar.svg" alt=""></div>
                                        <div class="peer peer-greed">
                                            <div class="flex between">
                                                <p>John Doe</p>
                                                <small>5 mins ago</small>
                                            </div>
                                            <span class="summary">Want to create your own customized data generator for your app...</span>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown-foot"><div class="view-all"><a href="">View All Notifications <i class="fa fa-angle-right"></i></a></div ></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <span class="counter">3</span>
                    <a href="" class="email-dropdown dropdown-toggle nav-link no-after" id="dropdownEnvelope" data-mdb-toggle="dropdown" aria-expanded="false">
                        <i class="fas fa-envelope"></i>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="dropdownEnvelope">
                        <li class="dropdown-head">
                            <i class="fas fa-envelope"></i>
                            <span>Emails</span>
                        </li>
                        <li>
                            <ul class="has-row">
                                <li>
                                    <a href="" class="dropdown-item">
                                        <div class="peer mr-15"><img src="../assets/default-avatar.svg" alt=""></div>
                                        <div class="peer peer-greed">
                                            <div class="flex between">
                                                <p>John Doe</p>
                                                <small>5 mins ago</small>
                                            </div>
                                            <span class="summary">Want to create your own customized data generator for your app...</span>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="" class="dropdown-item">
                                        <div class="peer mr-15"><img src="../assets/default-avatar.svg" alt=""></div>
                                        <div class="peer peer-greed">
                                            <div class="flex between">
                                                <p>John Doe</p>
                                                <small>5 mins ago</small>
                                            </div>
                                            <span class="summary">Want to create your own customized data generator for your app...</span>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="" class="dropdown-item">
                                        <div class="peer mr-15"><img src="../assets/default-avatar.svg" alt=""></div>
                                        <div class="peer peer-greed">
                                            <div class="flex between">
                                                <p>John Doe</p>
                                                <small>5 mins ago</small>
                                            </div>
                                            <span class="summary">Want to create your own customized data generator for your app...</span>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown-foot"><div class="view-all"><a href="">View All Email <i class="fa fa-angle-right"></i></a></div ></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle peers" href="#" id="navbarDropdown" role="button" data-mdb-toggle="dropdown" aria-expanded="false">
						<div class="peer"><img class="w-2r bdrs-50p" src="../assets/default-avatar.svg" alt=""></div>
						<span class="peer username">UserName</span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Profile</a>
                        <a class="dropdown-item" href="#">Settings</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Logout</a>
                    </div>
                </li>
                <li class="nav-item"><a href="#" class="js-toggle-right-slidebar nav-link blue-gradient">切換</a></li>
            </ul>
        </div>
    </nav>
</header>