<!-- Advanced search -->
<form>
    <div class="collapse dttoolbar-collapse" id="adSearch">
        <div class="collapse-inner">
            <ul class="nav nav-tabs" id="collapseSearch" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="basic-tab" data-mdb-toggle="tab" href="#basic" role="tab" aria-controls="basic"
    aria-selected="true">學生資料</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="department-tab" data-mdb-toggle="tab" href="#department" role="tab" aria-controls="department"
    aria-selected="true">交換系所</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="school-tab" data-mdb-toggle="tab" href="#school" role="tab" aria-controls="school"
    aria-selected="true">交換學校</a>
                </li>
            </ul>

            <div class="tab-content pt-4" id="adSearchTabContent">
                <div class="tab-pane fade show active" id="basic" role="tabpanel" aria-labelledby="basic-tab">
                    <div class="mb-3 row">
                        <label class="col-sm-1 col-form-label text-end">種類</label>
                        <div class="col-sm-11 d-flex flex-wrap align-items-center">
                            <div class="form-check form-check-inline">
                                <input type="checkbox" class="form-check-input" id="defaultInline1">
                                <label class="form-check-label" for="defaultInline1">校級</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input type="checkbox" class="form-check-input" id="defaultInline2">
                                <label class="form-check-label" for="defaultInline2">院級</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input type="checkbox" class="form-check-input" id="defaultInline3">
                                <label class="form-check-label" for="defaultInline3">系級</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input type="checkbox" class="form-check-input" id="defaultInline4">
                                <label class="form-check-label" for="defaultInline4">訪問</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input type="checkbox" class="form-check-input" id="defaultInline5">
                                <label class="form-check-label" for="defaultInline5">短期</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input type="checkbox" class="form-check-input" id="defaultInline6">
                                <label class="form-check-label" for="defaultInline6">實習</label>
                            </div>

                            <div class="form-check form-check-inline">
                                <input type="checkbox" class="form-check-input" id="defaultInline7">
                                <label class="form-check-label" for="defaultInline7">研究單位短期生</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input type="checkbox" class="form-check-input" id="defaultInline8">
                                <label class="form-check-label" for="defaultInline8">專案生</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input type="checkbox" class="form-check-input" id="defaultInline9">
                                <label class="form-check-label" for="defaultInline9">海外服務學習</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="mb-3 row">
                                <label for="inputChName" class="col-sm-2 col-form-label text-end">中文姓名</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="inputChName" placeholder="">
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="mb-3 row">
                                <label for="inputEnName" class="col-sm-2 col-form-label text-end">英文姓名</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="inputEnName" placeholder="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="mb-3 row">
                                <label for="inputStudentID" class="col-sm-2 col-form-label text-end">學號</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="inputStudentID" placeholder="">
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="mb-3 row">
                                <label class="col-sm-2 col-form-label text-end">性別</label>
                                <div class="col-sm-10 d-flex flex-wrap align-items-center">
                                    <div class="form-check form-check-inline">
                                        <input type="radio" class="form-check-input" id="genderMale" name="inlineGender">
                                        <label class="form-check-label" for="genderMale">男</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input type="radio" class="form-check-input" id="genderFemale" name="inlineGender">
                                        <label class="form-check-label" for="genderFemale">女</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label class="col-sm-1 col-form-label text-end">國籍</label>
                        <div class="col-sm-11">
                            <div class="d-inline-block">
                                <select id="citizenshipselector" class="form-select">
                                    <option selected="">選擇洲別</option>
                                    <option value="americas">美洲</option>
                                    <option value="asia">亞洲</option>
                                    <option value="europe">歐洲</option>
                                    <option value="oceania">大洋洲</option>
                                    <option value="africa">非洲</option>
                                </select>
                            </div>
                            <!-- 應該選擇洲別後才秀出國家選項 -->
                            <div class="d-inline-block">
                                <div id="americas" class="continent">
                                    <select class="form-select">
                                        <option selected="">選擇美洲國家</option>
                                        <option value="2000">2000</option>
                                        <option value="1999">1999</option>
                                        <option value="1998">1998</option>
                                    </select>
                                </div>
                                <div id="asia" class="continent">
                                    <select class="form-select">
                                        <option selected="">選擇亞洲國家</option>
                                        <option value="2000">2000</option>
                                        <option value="1999">1999</option>
                                        <option value="1998">1998</option>
                                    </select>
                                </div>
                            </div>
                            <small class="d-block form-text text-muted">交換生及訪問生只過濾第一個國籍</small>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="mb-3 row">
                                <label for="inputEmail" class="col-sm-2 col-form-label text-end">電子郵件</label>
                                <div class="col-sm-10">
                                    <input type="email" class="form-control" id="inputEmail" placeholder="">
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="mb-3 row">
                                <label for="inputTel" class="col-sm-2 col-form-label text-end">電話</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="inputTel" placeholder="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="mb-3 row">
                                <label class="col-sm-2 col-form-label text-end">交換學期</label>
                                <div class="col-sm-10">
                                    <div class="d-inline-block">
                                        <select class="form-select">
                                            <option selected="">選擇年度</option>
                                            <option value="2000">2000</option>
                                            <option value="1999">1999</option>
                                            <option value="1998">1998</option>
                                        </select>
                                    </div>
                                    <div class="d-inline-block">
                                        <select class="form-select">
                                            <option selected="">選擇學期</option>
                                            <option value="semesterOne">第一學期</option>
                                            <option value="semesterTwo">第二學期</option>
                                        </select>
                                    </div>
                                    <span> ~ </span>
                                    <div class="d-inline-block">
                                        <select class="form-select">
                                            <option selected="">選擇年度</option>
                                            <option value="2000">2000</option>
                                            <option value="1999">1999</option>
                                            <option value="1998">1998</option>
                                        </select>
                                    </div>
                                    <div class="d-inline-block">
                                        <select class="form-select">
                                            <option selected="">選擇學期</option>
                                            <option value="semesterOne">第一學期</option>
                                            <option value="semesterTwo">第二學期</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="mb-3 row">
                                <label class="col-sm-2 col-form-label text-end">交換期間</label>
                                <div class="col-sm-10">
                                    <div class="d-inline-block">
                                        <select class="form-select">
                                            <option selected="">選擇學期</option>
                                            <option value="semesterOne">第一學期</option>
                                            <option value="semesterTwo">第二學期</option>
                                        </select>
                                    </div>
                                    <small class="d-block form-text text-muted">交換生及訪問生條件</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="mb-3 row">
                                <label class="col-sm-2 col-form-label text-end">原學校學位</label>
                                <div class="col-sm-10 d-flex flex-wrap align-items-center">
                                    <div class="form-check form-check-inline">
                                        <input type="checkbox" class="form-check-input" id="defaultBachelor">
                                        <label class="form-check-label" for="defaultBachelor">學士</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input type="checkbox" class="form-check-input" id="defaultMaster">
                                        <label class="form-check-label" for="defaultMaster">碩士</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input type="checkbox" class="form-check-input" id="defaultDoctor">
                                        <label class="form-check-label" for="defaultDoctor">博士</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="mb-3 row">
                                <label for="inputOrSchool" class="col-sm-2 col-form-label text-end">原學校系所</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="inputOrSchool" placeholder="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label class="col-sm-1 col-form-label text-end">申請CLD</label>
                        <div class="col-sm-11 pt-2">
                            <div class="d-flex flex-wrap align-items-center">
                                <div class="form-check form-check-inline">
                                    <input type="radio" class="form-check-input" id="CLDYes" name="DLCApplication">
                                    <label class="form-check-label" for="CLDYes">是</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input type="radio" class="form-check-input" id="CLDNo" name="DLCApplication">
                                    <label class="form-check-label" for="CLDNo">否</label>
                                </div>
                            </div>
                            <small class="d-block form-text text-muted">校級交換生</small>
                        </div>
                    </div>
                </div>

                <div class="tab-pane fade " id="department" role="tabpanel" aria-labelledby="department-tab">
                    <div class="mb-3 row">
                        <label class="col-sm-1 col-form-label text-end">交換學位</label>
                        <div class="col-sm-11 d-flex flex-wrap align-items-center">
                            <div class="form-check form-check-inline">
                                <input type="checkbox" class="form-check-input" id="defaultInline10">
                                <label class="form-check-label" for="defaultInline10">學士</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input type="checkbox" class="form-check-input" id="defaultInline11">
                                <label class="form-check-label" for="defaultInline11">碩士</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input type="checkbox" class="form-check-input" id="defaultInline12">
                                <label class="form-check-label" for="defaultInline12">博士</label>
                            </div>
							<span class="pl-2 pr-4">|</span>
                            <div class="form-check form-check-inline">
                                <input type="checkbox" class="form-check-input" id="defaultInline13">
                                <label class="form-check-label" for="defaultInline13">1000 文學院</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input type="checkbox" class="form-check-input" id="defaultInline14">
                                <label class="form-check-label" for="defaultInline14">2000 理學院</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input type="checkbox" class="form-check-input" id="defaultInline15">
                                <label class="form-check-label" for="defaultInline15">3000 社會科學院</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input type="checkbox" class="form-check-input" id="defaultInline16">
                                <label class="form-check-label" for="defaultInline16">4000 醫學院</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input type="checkbox" class="form-check-input" id="defaultInline17">
                                <label class="form-check-label" for="defaultInline17">5000 工學院</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input type="checkbox" class="form-check-input" id="defaultInline18">
                                <label class="form-check-label" for="defaultInline18">6000 生物資源暨農學院</label>
                            </div>
                        </div>
                    </div>
					<div class="mb-3 row">
                        <label class="col-sm-1 col-form-label text-end">交換學院</label>
                        <div class="col-sm-11 d-flex flex-wrap align-items-center">
                            <div class="form-check form-check-inline">
                                <input type="checkbox" class="form-check-input" id="defaultInline20">
                                <label class="form-check-label" for="defaultInline20">7000 管理學院</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input type="checkbox" class="form-check-input" id="defaultInline21">
                                <label class="form-check-label" for="defaultInline21">8000 公共衛生學院</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input type="checkbox" class="form-check-input" id="defaultInline22">
                                <label class="form-check-label" for="defaultInline22">9000 電機資訊學院</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input type="checkbox" class="form-check-input" id="defaultInline23">
                                <label class="form-check-label" for="defaultInline23">A000 法律學院</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input type="checkbox" class="form-check-input" id="defaultInline24">
                                <label class="form-check-label" for="defaultInline24">B000 生命科學院</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input type="checkbox" class="form-check-input" id="defaultInline25">
                                <label class="form-check-label" for="defaultInline25">E000 進修推廣學院</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input type="checkbox" class="form-check-input" id="defaultInline26">
                                <label class="form-check-label" for="defaultInline26">H000 共教中心</label>
                            </div>
                        </div>
                    </div>
					<div class="mb-3 row">
                        <label class="col-sm-1 col-form-label text-end">交換系所</label>
                        <div class="col-sm-11">
                            <div class="d-inline-block">
                                <select class="form-select select-hasadd">
                                    <option selected="">請選擇</option>
                                    <option value="">5510 分子科學與技術國際研究生博士學位學程</option>
                                    <option value="">987654321</option>
                                </select>
                            </div>
							<button type="button" class="btn btn-sm btn-dark btn-selectadd" title="加入"><i class="fa fa-plus mr-0"></i></button>
							<div class="selected-wrapper">
							    <div class="selected-inner">
                                    <div class="selected-item" dpt-code="4500">
                                        <input type="hidden">
                                        <a href="#" class="selected-delete">
										    <i class="fa fa-times mr-0"></i>
										</a>
                                        <span>4500 口腔生物科學研究所</span>
                                    </div>
									<div class="selected-item" dpt-code="4500">
                                        <input type="hidden">
                                        <a href="#" class="selected-delete">
										    <i class="fa fa-times mr-0"></i>
										</a>
                                        <span>527A 材料科學與工程學系國際應用材料工程碩士班</span>
                                    </div>
									<div class="selected-item" dpt-code="4500">
                                        <input type="hidden">
                                        <a href="#" class="selected-delete">
										    <i class="fa fa-times mr-0"></i>
										</a>
                                        <span>4500 口腔生物科學研究所</span>
                                    </div>
									<div class="selected-item" dpt-code="4500">
                                        <input type="hidden">
                                        <a href="#" class="selected-delete">
										    <i class="fa fa-times mr-0"></i>
										</a>
                                        <span>4500 口腔生物科學研究所</span>
                                    </div>
									<div class="selected-item" dpt-code="4500">
                                        <input type="hidden">
                                        <a href="#" class="selected-delete">
										    <i class="fa fa-times mr-0"></i>
										</a>
                                        <span>4500 口腔生物科學研究所</span>
                                    </div>
									<div class="selected-item" dpt-code="4500">
                                        <input type="hidden">
                                        <a href="#" class="selected-delete">
										    <i class="fa fa-times mr-0"></i>
										</a>
                                        <span>4500 口腔生物科學研究所</span>
                                    </div>
									<div class="selected-item" dpt-code="4500">
                                        <input type="hidden">
                                        <a href="#" class="selected-delete">
										    <i class="fa fa-times mr-0"></i>
										</a>
                                        <span>4500 口腔生物科學研究所</span>
                                    </div>
								</div>
								<button type="button" class="btn btn-white btn-clean" title="清空全部"><i class="fa fa-times mr-0"></i></button>
							</div>
                        </div>
                    </div>
                </div>

                <div class="tab-pane fade " id="school" role="tabpanel" aria-labelledby="school-tab">
                    <div class="mb-3 row">
                        <label class="col-sm-1 col-form-label text-end">交換洲別</label>
                        <div class="col-sm-11 d-flex flex-wrap align-items-center">
                            <div class="form-check form-check-inline">
                                <input type="checkbox" class="form-check-input" id="defaultInline30">
                                <label class="form-check-label" for="defaultInline30">美洲</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input type="checkbox" class="form-check-input" id="defaultInline31">
                                <label class="form-check-label" for="defaultInline31">亞洲</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input type="checkbox" class="form-check-input" id="defaultInline32">
                                <label class="form-check-label" for="defaultInline32">歐洲</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input type="checkbox" class="form-check-input" id="defaultInline33">
                                <label class="form-check-label" for="defaultInline33">大洋洲</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input type="checkbox" class="form-check-input" id="defaultInline34">
                                <label class="form-check-label" for="defaultInline34">非洲</label>
                            </div>
                        </div>
                    </div>
					<div class="mb-3 row">
                        <label class="col-sm-1 col-form-label text-end">交換國家</label>
                        <div class="col-sm-11">
                            <div class="d-inline-block">
                                <select class="form-select select-hasadd">
                                    <option selected="">請選擇</option>
                                    <option value="">Antigua and Barbuda 安提瓜島及巴布達</option>
                                    <option value="">Democratic Republic of the Congo 剛果民主共和國</option>
                                </select>
                            </div>
							<button type="button" class="btn btn-sm btn-dark btn-selectadd" title="加入"><i class="fa fa-plus mr-0"></i></button>
							<div class="selected-wrapper">
							    <div class="selected-inner">
								</div>
								<button type="button" class="btn btn-white btn-clean" title="清空全部"><i class="fa fa-times mr-0"></i></button>
							</div>
                        </div>
                    </div>
					<div class="mb-3 row">
                        <label class="col-sm-1 col-form-label text-end">交換學校</label>
                        <div class="col-sm-11">
                            <div class="d-inline-block">
                                <select class="form-select select-hasadd">
                                    <option selected="">請選擇</option>
                                    <option value="">Antigua and Barbuda 安提瓜島及巴布達</option>
                                    <option value="">Democratic Republic of the Congo 剛果民主共和國</option>
                                </select>
                            </div>
							<button type="button" class="btn btn-sm btn-dark btn-selectadd" title="加入"><i class="fa fa-plus mr-0"></i></button>
							<div class="selected-wrapper">
							    <div class="selected-inner width-auto">
									<div class="selected-item">
                                        <input type="hidden">
                                        <a href="#" class="selected-delete">
										    <i class="fa fa-times mr-0"></i>
										</a>
                                        <span>Thomas More University of Applied Sciences 托馬斯莫爾應用科技大學</span>
                                    </div>
                                    <div class="selected-item">
                                        <input type="hidden">
                                        <a href="#" class="selected-delete">
                                            <i class="fa fa-times mr-0"></i>
                                        </a>
                                        <span>ICHEC Brussels Management School 比利時布魯塞爾管理學院</span>
                                    </div>
									<div class="selected-item">
                                        <input type="hidden">
                                        <a href="#" class="selected-delete">
                                            <i class="fa fa-times mr-0"></i>
                                        </a>
                                        <span>Ghent University 根特大學</span>
                                    </div>
									<div class="selected-item">
                                        <input type="hidden">
                                        <a href="#" class="selected-delete">
                                            <i class="fa fa-times mr-0"></i>
                                        </a>
                                        <span>City University London 倫敦城市大學</span>
                                    </div>
									<div class="selected-item">
                                        <input type="hidden">
                                        <a href="#" class="selected-delete">
                                            <i class="fa fa-times mr-0"></i>
                                        </a>
                                        <span>University of Oxford 牛津大學</span>
                                    </div>
									<div class="selected-item">
                                        <input type="hidden">
                                        <a href="#" class="selected-delete">
                                            <i class="fa fa-times mr-0"></i>
                                        </a>
                                        <span>The University of Nottingham United Kingdom Campus 諾丁漢大學</span>
                                    </div>
								</div>
								<button type="button" class="btn btn-white btn-clean" title="清空全部"><i class="fa fa-times mr-0"></i></button>
							</div>
                        </div>
                    </div>
				</div>
            </div>
			
			<div class="form-action text-center">
			    <button type="submit" class="btn btn-primary">搜尋</button>
				<button type="reset" class="btn btn-link">重設</button>
			</div>
			
        </div>
    </div>
</form>



































