<div class="modal fade" id="modalFlowPath" tabindex="-1" role="dialog" aria-labelledby="flowpathModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="flowpathModalLabel">流程路徑</h5>
                <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="inputSC-1">條件判斷名稱</label>
                    <input type="text" class="form-control" id="inputSC-1" placeholder="">
                </div>
				<div class="form-group">
                    <label>選擇方式</label>
                    <select class="custom-select">
                        <option value="1">使用申請表內的欄位判斷</option>
                        <option value="2">客製化規則1(程式開發後顯示項目)</option>
                        <option value="3">Three</option>
                    </select>
                </div>
				<div class="form-group">
                    <label>選擇判斷欄位</label>
					<div class="form-row">
					    <div class="col-5">
                            <select class="custom-select">
                                <option value="1">計畫金額</option>
                                <option value="2">申請表中欄位 2</option>
                                <option value="3">Three</option>
                            </select>
						</div>
						<div class="col-2">
						    <select class="custom-select">
                                <option value="1">大於等於</option>
                                <option value="2">小於等於</option>
                                <option value="3">Three</option>
                            </select>
						</div>
						<div class="col-3">
						    <input type="text" class="form-control" placeholder="">
						</div>
						<div class="col-2">
						    <select class="custom-select">
                                <option value="1">and</option>
                                <option value="2">or</option>
                            </select>
						</div>
					</div>
					<button type="button" class="btn btn-md btn-info mx-0 my-0">加入邏輯</button>
                </div>
				<div class="form-group">
                    <label>下一關關卡</label>
                    <select class="custom-select">
                        <option value="1">流程中已定義的關卡</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>
            </div>
            <div class="modal-footer">
				<button type="button" class="btn  btn-link" data-dismiss="modal">取消</button>
                <button type="button" data-toggle="modal" data-target="#modalPreview" class="btn btn-secondary">加入</button>
            </div>
        </div>
    </div>
</div>

<% content_for :js do %>
<script>
</script>
<% end %>