<div off-canvas="slidebar-2 right reveal" class="slidebar">
	<h5 class="slidebar-title">系統切換</h5>
	<div class="accordion" id="accordionEx" role="tablist" aria-multiselectable="true">
		<div class="card">

			<!-- Card header -->
			<div class="card-header" role="tab" id="headingOne">
				<a class="collapsed" data-mdb-toggle="collapse" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne" class="waves-effect">
				    <i class="fa fa-angle-right rotate-icon"></i> 國際合作
				</a>
			</div>

			<!-- Card body -->
			<div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordionEx" >
				<ul class="card-body">
					<li><a href="#">國際合作管理系統</a></li>
					<li><a href="#">院系國合帳號管理</a></li>
				</ul>
			</div>
		</div>
		
		<div class="card">

			<!-- Card header -->
			<div class="card-header" role="tab" id="headingTwo">
				<a class="collapsed" data-mdb-toggle="collapse" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" class="waves-effect">
				    <i class="fa fa-angle-right rotate-icon"></i> 海外教育
				</a>
			</div>

			<!-- Card body -->
			<div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordionEx" >
				<ul class="card-body">
					<li><a href="#">出國學生管理系統（出國交換、訪問、海外暑期課程）</a></li>
					<li><a href="#">出國交換學生管理系統（新）</a></li>
					<li><a href="#">海外暑期課程</a></li>
				</ul>
			</div>
		</div>
		
		<div class="card">

			<!-- Card header -->
			<div class="card-header" role="tab" id="headingThree">
				<a class="collapsed" data-mdb-toggle="collapse" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree" class="waves-effect">
				    <i class="fa fa-angle-right rotate-icon"></i> 學校管理
				</a>
			</div>

			<!-- Card body -->
			<div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree" data-parent="#accordionEx" >
				<ul class="card-body">
					<li><a href="#">締約學校設定管理</a></li>
				</ul>
			</div>
		</div>
	    
        <div class="card">

			<!-- Card header -->
			<div class="card-header" role="tab" id="headingFour">
				<a class="collapsed" data-mdb-toggle="collapse" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour" class="waves-effect">
				    <i class="fa fa-angle-right rotate-icon"></i> 國際學生區
				</a>
			</div>

			<!-- Card body -->
			<div id="collapseFour" class="collapse" role="tabpanel" aria-labelledby="headingFour" data-parent="#accordionEx">
				<ul class="card-body">
					<li><a href="#">學位生管理系統</a></li>
					<li><a href="#">非學位生管理系統（來校交換、訪問、短期研習）</a></li>
					<li><a href="#">志工系統</a></li>
				</ul>
			</div>
		</div>
        
		<div class="card">

			<!-- Card header -->
			<div class="card-header" role="tab" id="headingFive">
				<a class="collapsed" data-mdb-toggle="collapse" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive" class="waves-effect">
				    <i class="fa fa-angle-right rotate-icon"></i> 出訪紀錄
				</a>
			</div>

			<!-- Card body -->
			<div id="collapseFive" class="collapse" role="tabpanel" aria-labelledby="headingFive" data-parent="#accordionEx">
				<ul class="card-body">
					<li><a href="#">處內人員出訪紀錄</a></li>
				</ul>
			</div>
		</div>
        
        <div class="card">

			<!-- Card header -->
			<div class="card-header" role="tab" id="headingFive">
				<a class="collapsed" data-mdb-toggle="collapse" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix" class="waves-effect">
				    <i class="fa fa-angle-right rotate-icon"></i> 帳號管理
				</a>
			</div>

			<!-- Card body -->
			<div id="collapseSix" class="collapse" role="tabpanel" aria-labelledby="headingSix" data-parent="#accordionEx">
				<div class="card-body">
					<%= lorem_sentences(5) %>
				</div>
			</div>
		</div>
	</div>
</div>