<!-- template: 來校: 學生 - document application -->

<div class="workspace" canvas="container">
    <div class="pages general-pages">
        
        <%= render :partial => "/partials/header-incoming" %>
        
        <div class="content">
            <div class="container-lg">
                <div class="page-content has-sticky">

                    <%= render :partial => "/partials/incoming-result-sidebar" %>
                    
                    <main class="main">
                        
                        <div class="mb-5">
                            <div class="page-title">
                                <h3>Document Application</h3>
                            </div>

                            <div class="row">
                                <div class="col-6">
                                    <div class="form-group">
                                        <label class="form-label">applicant</label>
                                        <div>Scarlett Ingrid Johansson</div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <label class="form-label">Home University/ Institution</label>
                                        <div>Asia - Israel - Hebrew University of Jerusalem</div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        <label for="exampleInput11" class="form-label">Purpose</label>
                                        <input id="exampleInput11" class="form-control" type="text">
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <label class="form-label">Document Type</label>
                                        <select class="form-select" aria-label="Default select example">
                                            <option selected>Open this select menu</option>
                                            <option value="1">One</option>
                                            <option value="2">Two</option>
                                            <option value="3">Three</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <label class="form-label">Upload</label>
                                        <div class="d-flex">
                                            <div><input class="form-control" type="file" id=""></div>
                                            <div class="ms-2"><button type="button" class="btn btn-secondary">Upload</button></div>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="text-danger mt-4"><%= lorem_paragraph %></div>
                            </div>
                        </div>
                        
                        <div class="form-action">
                            <button type="submit" class="btn btn-lg btn-primary">Confirm and Submit</button>
                            <div class="action-submitted">You already submitted this form. <span>2024/07/31 11:56</span></div>
                        </div>

                    </main>
                </div>
            </div>
        </div>
        <a id="backtop"></a>
    </div>
    <%= render :partial => "/partials/footer" %>
</div>

<% content_for :js do %>

<% end %>
