<!-- template: 來校: 學生 - health exam form -->

<div class="workspace" canvas="container">
    <div class="pages general-pages">
        
        <%= render :partial => "/partials/header-incoming" %>
        
        <div class="content">
            <div class="container-lg">
                <div class="page-content has-sticky">

                    <%= render :partial => "/partials/incoming-result-sidebar" %>
                    
                    <main class="main">
                        
                        <div class="mb-5">
                            <div class="page-title">
                                <h3>Health Exam Form</h3>
                            </div>

                            <div>
                                <p>Health Exam Form & Form C: Must be valid within at least 3 months prior to your arrival to Taiwan. Please download the form, provided  by NTU and complete the exmination items in the form accordingly.</p>
                                <p><a href="#" class="btn btn-outline-primary btn-rounded"><i class="far fa-file-alt"></i> Download</a></p>
                                <div class="upload-wrapper fluid-wrapper">
                                    <div class="upload-item">
                                        <div class="form-group">
                                              <input class="form-control" type="file" id="academicRecords">
                                        </div>
                                        <div class="ft-action">
                                            <span>
                                                <button type="button" class="btn btn-secondary">Upload</button>
                                            </span>
                                            <span>
                                                <div class="file-pill">
                                                    <a href="#" target="_blank" class="filename" title="避免檔名過長有限制最大寬度.jpg">避免檔名過長有限制最大寬度.jpg</a>
                                                    <button type="button" class="btn btn-sm btn-rounded btn-dark" title="移除">
                                                        <i class="fas fa-times"></i>
                                                    </button>
                                                </div>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="form-action">
                            <button type="submit" class="btn btn-lg btn-primary btn-submit">Confirm and Submit</button>
                            <div class="action-submitted">You already submitted this form. <span>2024/07/31 11:56</span></div>
                        </div>

                    </main>
                </div>
            </div>
        </div>
        <a id="backtop"></a>
    </div>
    <%= render :partial => "/partials/footer" %>
</div>

<% content_for :js do %>

<% end %>
