<!-- template: 來校: 學生 - medical and accident insurance_proof -->

<div class="workspace" canvas="container">
    <div class="pages general-pages">
        
        <%= render :partial => "/partials/header-incoming" %>
        
        <div class="content">
            <div class="container-lg">
                <div class="page-content has-sticky">

                    <%= render :partial => "/partials/incoming-result-sidebar" %>
                    
                    <main class="main">
                        
                        <div class="mb-5">
                            <div class="page-title">
                                <h3>Medical and Accident Insurance Proof</h3>
                            </div>

                            <div>
                                <p>Purchase insurance in your home country before traveling to Taiwan. Please provide proof of insurance in Chinese or English valid for your entire exchange period for the following:</p>
                                <ul>
                                    <li>Accident insurance worth a minimum of TWD 1,000,000</li>
                                    <li>Medical insurance worth a minimum of TWD 1,000,000</li>
                                </ul>
                                <div class="mt-2">
                                    <a href="#" class="btn btn-info btn-rounded">View</a>
                                    <button type="button" class="btn btn-outline-danger btn-rounded">Delete</button>
                                </div>
                            </div>
                        </div>
                        
                        <div class="form-action">
                            <button type="submit" class="btn btn-lg btn-primary btn-submit">Confirm and Submit</button>
                            <div class="action-submitted">You already submitted this form. <span>2024/07/31 11:56</span></div>
                        </div>

                    </main>
                </div>
            </div>
        </div>
        <a id="backtop"></a>
    </div>
    <%= render :partial => "/partials/footer" %>
</div>

<% content_for :js do %>

<% end %>
