<!-- template: 來校: 學生 - internet access fee -->

<div class="workspace" canvas="container">
    <div class="pages general-pages">
        
        <%= render :partial => "/partials/header-incoming" %>
        
        <div class="content">
            <div class="container-lg">
                <div class="page-content has-sticky">

                    <%= render :partial => "/partials/incoming-result-sidebar" %>
                    
                    <main class="main">
                        
                        <div class="mb-5">
                            <div class="page-title">
                                <h3>Internet Access Fee</h3>
                            </div>
                            
                            <div class="alert alert-danger" role="alert">
                                Please upload the documents during 2022-07-01 00:00 ~ 2024-01-31 00:00 (Taiwan Time, GMT+8)
                            </div>

                            <div>
                                <h5>Billing Statement- Internet Access Fee</h5>
                                <p>Once you are able to activate your NTU account, please download  and print out your payment sheet- the Internet Access Fee from the “Tuition and Miscellaneous Fees and Payment”〔學雜分費繳費及證明〕application in the “Students” section of “myNTU.”</p>
                                <p>Please do not pay the fee at your current location. On the day of the orientation in NTU CoM,  you will be directed to  the near convnience store and pay the fee either in  Taiwanese dollar or credit card  preferrable)</p>
                                <p><a href="#" class="btn btn-outline-primary btn-rounded">payment sheet SOP</a></p>
                                <div class="upload-wrapper fluid-wrapper">
                                    <div class="upload-item">
                                        <div class="form-group">
                                              <input class="form-control" type="file" id="academicRecords">
                                        </div>
                                        <div class="ft-action">
                                            <span>
                                                <button type="button" class="btn btn-secondary">Upload</button>
                                            </span>
                                            <span>
                                                <div class="file-pill">
                                                    <a href="#" target="_blank" class="filename" title="避免檔名過長有限制最大寬度.jpg">避免檔名過長有限制最大寬度.jpg</a>
                                                    <button type="button" class="btn btn-sm btn-rounded btn-dark" title="移除">
                                                        <i class="fas fa-times"></i>
                                                    </button>
                                                </div>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="form-action">
                            <button type="submit" class="btn btn-lg btn-primary btn-submit">Confirm and Submit</button>
                            <div class="action-submitted">You already submitted this form. <span>2024/07/31 11:56</span></div>
                        </div>

                    </main>
                </div>
            </div>
        </div>
        <a id="backtop"></a>
    </div>
    <%= render :partial => "/partials/footer" %>
</div>

<% content_for :js do %>

<% end %>
