<!-- template: 來校: 學生 - personal information -->

<div class="workspace" canvas="container">
    <div class="pages general-pages">
        
        <%= render :partial => "/partials/header-incoming" %>
        
        <div class="content">
            <div class="container-lg">
                <div class="page-content has-sticky">
                    
                    <%= render :partial => "/partials/incoming-app-sidebar" %>
                    
                    <main class="main">
                        <div class="page-title">
                            <h3>Application</h3>
                        </div>
                        
                        <!-- 規劃中很多欄位給了必填，包含 readonly，因為不知道正確性所以都沒給 *，需要的話請參考第一個 -->
                        
                        <section class="section">
                            <div class="section-title">
                                <h4>Home University</h4>
                            </div>
                            <div class="form-group">
                                <label class="form-label">
                                    I am from <span class="required">*</span>
                                </label>
                                <div class="row">
                                    <div class="col-3">
                                        <input class="form-control" type="text" value="Asia" disabled readonly>
                                    </div>
                                    <div class="col-3">
                                        <input class="form-control" type="text" value="Japan" disabled readonly>
                                    </div>
                                    <div class="col-6">
                                        <input class="form-control" type="text" value="University of Tsukuba" disabled readonly>
                                    </div>
                                </div>
                            </div>
                        </section>
                        
                        <section class="section">
                            <div class="section-title">
                                <h4>Personal Information</h4>
                            </div>
                            <div class="mb-3">
                                Your Chinese name will be shown in the official admission letter and NTU Student ID card. If you’d like to change your Chinese name (including the given one) for special reason, please apply to the coordinator at NTU before November 30, 2021. Otherwise, any request for name change is not acceptable.
                            </div>
                            <div class="form-group">
                                <label class="form-label">
                                    Full Name in English
                                </label>
                                <div class="row">
                                    <div class="col-4">
                                        <input class="form-control" type="text" value="Scarlett" disabled readonly>
                                    </div>
                                    <div class="col-4">
                                        <input class="form-control" type="text" value="Ingrid" disabled readonly>
                                    </div>
                                    <div class="col-4">
                                        <input class="form-control" type="text" value="Johansson" disabled readonly>
                                    </div>
                                </div>
                                <div class="form-text">must be the same as shown on your passport</div>
                            </div>
                            <div class="form-group">
                                <label for="exampleInput01" class="form-label">
                                    Full Name in Chinese (if available)
                                </label>
                                <div class="w-50">
                                    <input id="exampleInput01" class="form-control" type="text">
                                </div>
                                <div class="form-text">This will be your official name and cannot be changed after successful submitting. If you do not have a Chinese name now, it is acceptable to leave it blank. If you have problem typing your name in the system, you may handwrite and send it to the exchange program coordinator.</div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <div class="form-group">
                                        <label for="hangUpForm1" class="form-label">Date of Birth</label>
                                        <input type="date" class="form-control" id="hangUpForm1" name="trip-start1" value="2006-01-01" min="2000-01-01" max="2010-12-31">
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <label class="form-label">Gender</label>
                                        <div class="mt-1">
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                                                <label class="form-check-label" for="inlineRadio1">Male</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                                                <label class="form-check-label" for="inlineRadio2">Female</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="form-label">
                                    Native Language(s)
                                </label>
                                <div class="row">
                                    <div class="col-6">
                                        <input class="form-control" type="text">
                                    </div>
                                    <div class="col-6">
                                        <input class="form-control" type="text">
                                    </div>
                                </div>
                            </div>
                        </section>
                        
                        <section class="section">
                            <div class="section-title">
                                <h4>Contact Information</h4>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <div class="form-group">
                                        <label class="form-label">
                                            Cell Phone Number
                                        </label>
                                        <div class="row">
                                            <div class="col-4">
                                                <input class="form-control" type="text" placeholder="+ Country Code">
                                            </div>
                                            <div class="col-8">
                                                <input class="form-control" type="text" placeholder="Number">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <label class="form-label">
                                            Home Phone Number
                                        </label>
                                        <div class="row">
                                            <div class="col-4">
                                                <input class="form-control" type="text" placeholder="+ Country Code">
                                            </div>
                                            <div class="col-8">
                                                <input class="form-control" type="text" placeholder="Number">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="form-label">
                                    Email
                                </label>
                                <input class="form-control" type="text" value="<%= lorem_email %>" disabled readonly>
                            </div>
                            <div class="form-group">
                                <label class="form-label">
                                    Mailing Address
                                </label>
                                <div class="row">
                                    <div class="col-12 mb-4">
                                        <input class="form-control" type="text" placeholder="Address">
                                    </div>
                                    <div class="col-4">
                                        <input class="form-control" type="text" placeholder="City">
                                    </div>
                                    <div class="col-6">
                                        <select class="form-select" id="single-select-field" data-placeholder="Select Country">
                                            <option></option>
                                            <option>Reactive</option>
                                            <option>Solution</option>
                                            <option>Conglomeration</option>
                                            <option>Algoritm</option>
                                            <option>Holistic</option>
                                        </select>
                                    </div>
                                    <div class="col-2">
                                        <input class="form-control" type="text" placeholder="Zip Code">
                                    </div>
                                </div>
                            </div>
                        </section>
                        
                        <section class="section">
                            <div class="section-title">
                                <h4>Emergency Contact</h4>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <div class="form-group">
                                        <label for="exampleInput11" class="form-label">
                                            Full Name
                                        </label>
                                        <input id="exampleInput11" class="form-control" type="text">
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <label for="exampleInput12" class="form-label">
                                            Relation with Applicant
                                        </label>
                                        <input id="exampleInput12" class="form-control" type="text">
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <label class="form-label">
                                            Cell Phone Number
                                        </label>
                                        <div class="row">
                                            <div class="col-4">
                                                <input class="form-control" type="text" placeholder="+ Country Code">
                                            </div>
                                            <div class="col-8">
                                                <input class="form-control" type="text" placeholder="Number">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <label class="form-label">
                                            Home Phone Number
                                        </label>
                                        <div class="row">
                                            <div class="col-4">
                                                <input class="form-control" type="text" placeholder="+ Country Code">
                                            </div>
                                            <div class="col-8">
                                                <input class="form-control" type="text" placeholder="Number">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="exampleInput13" class="form-label">
                                    Email
                                </label>
                                <input id="exampleInput13" class="form-control" type="email">
                            </div>
                            <div class="form-group">
                                <label class="form-label">
                                    Mailing Address
                                </label>
                                <div class="row">
                                    <div class="col-12 mb-4">
                                        <input class="form-control" type="text" placeholder="Address">
                                    </div>
                                    <div class="col-4">
                                        <input class="form-control" type="text" placeholder="City">
                                    </div>
                                    <div class="col-6">
                                        <select class="form-select" id="single-select-field" data-placeholder="Select Country">
                                            <option></option>
                                            <option>Reactive</option>
                                            <option>Solution</option>
                                            <option>Conglomeration</option>
                                            <option>Algoritm</option>
                                            <option>Holistic</option>
                                        </select>
                                    </div>
                                    <div class="col-2">
                                        <input class="form-control" type="text" placeholder="Zip Code">
                                    </div>
                                </div>
                            </div>
                        </section>
                        
                        <div class="form-action">
                            <button type="submit" class="btn btn-lg btn-primary">Save</button>
                            <span class="has-history"><button type="button" class="btn btn-lg btn-light">Next <i class="fas fa-chevron-right"></i></button></span>
                        </div>
                    </main>
                </div>
            </div>
        </div>
        <a id="backtop"></a>
    </div>
    <%= render :partial => "/partials/footer" %>
</div>

<% content_for :js do %>

<!-- Select2 + bootstrap theme -->
<script src="../../javascripts/select2.full.min.js"></script>
<script type="text/javascript">
$( '#single-select-field' ).select2( {
    theme: "bootstrap-5",
    width: $( this ).data( 'width' ) ? $( this ).data( 'width' ) : $( this ).hasClass( 'w-100' ) ? '100%' : 'style',
    placeholder: $( this ).data( 'placeholder' ),
} );
</script>

<% end %>
