<div class="modal fade" id="modalAddressee" tabindex="-1" role="dialog" aria-labelledby="previewModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="previewModalLabel">所有收件人</h5>
                <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
				<div class="modal_addressee scrollbar-inner">
                    <ul class="menu-item modal-addressee-list">
                        <% (1..5).each do |n| %>
                        <li>陳麒文 <span>(practicejoke0617@gmail.com)</span></li>
                        <li>林韋廷 <span>(wtlin2015@gmail.com)</span></li>
                        <li>吳晨璿 <span>(bibiwu621@gmail.com)</span></li>
                        <li>黃新畬 <span>(serinahuang1116@gmail.com)</span></li>
                        <li>楊佳昕 <span>(t0512210@gmail.com)</span></li>
                        <% end %>
                    </ul>
				</div>
            </div>
        </div>
    </div>
</div>

<% content_for :js do %>
<script>
    jQuery(document).ready(function(){
        jQuery('.scrollbar-inner').scrollbar();
    });
</script>
<% end %>