<div class="modal fade" id="newItemModal" tabindex="-1" role="dialog" aria-labelledby="newItemModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="newItemModalLabel">工作項目</h5>
                <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-10 mb-0">
                        <div class="form-group">
                            <label class="form-label" for="">工作項目</label>
							<div>
                                <select class="form-select">
                                    <option selected>Open this select menu</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
							</div>
                        </div>
                    </div>
                    <div class="col-2 mb-0">
                        <div class="form-group">
                            <label class="form-label" for="examplem002">對外工作天數</label>
                            <input type="text" class="form-control" id="examplem002">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-label" for="exampleTextarea1">說明</label>
                    <textarea class="form-control rounded-0" id="exampleTextarea1" rows="4" placeholder="readonly"></textarea>
                </div>
				<div class="form-group">
                    <label class="form-label" for="">使用人力</label>
					<!-- style for demo only -->
                    <div class="d-flex justify-content-center align-self-center px-5 py-5" style="background-color:#f5f5f5;">使用人力列表，readonly</div>
                </div>
				<div class="form-group">
                    <label class="form-label" for="">交付文件</label>
					<!-- style for demo only -->
                    <div class="d-flex justify-content-center align-self-center px-5 py-5" style="background-color:#eceff1;">帶入文件項目可修改</div>
                </div>
				<div class="form-group">
                    <label class="form-label">其他成本</label>
					<div class="d-flex align-items-center mb-2">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="cost-1">
                            <label class="form-check-label" for="cost-1">交通費</label>
                        </div>
						<div class="px-2 flex-fill"><input type="text" class="form-control" placeholder="說明"></div>
						<div class="w80"><input type="text" class="form-control" placeholder="次數"></div>
					</div>
					<div class="d-flex align-items-center mb-2">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="cost-2">
                            <label class="form-check-label" for="cost-2">住宿費</label>
                        </div>
						<div class="px-2"><input type="text" class="form-control" placeholder="說明"></div>
						<div class="w80"><input type="text" class="form-control" placeholder="次數"></div>
					</div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-md btn-link" data-dismiss="modal">關閉</button>
                <button type="button" class="btn btn-md btn-secondary">儲存</button>
            </div>
        </div>
    </div>
</div>

<% content_for :js do %>

<% end %>