<!-- News -->

<div class="animsition">
    <header>
        <%= render :partial => "/partials/header" %>
    </header>
    <div class="container">
        <div class="back-wrap">
            <a href="../index.html" class="animsition-link close-button">Close</a>
        </div>
        <div class="news-wrapper">
            <h2 class="section-title">相關連結</h2>
            <ul class="news-list">
                <li>
                    <a href="http://www.pchome.com.tw" target="_blank">網路家庭</a>
                </li>
                <li>
                    <a href="http://tw.yahoo.com" target="_blank">雅虎奇摩</a>
                </li>
                <li>
                    <a href="http://www.ithome.com.tw" target="_blank">電週文化</a>
                </li>
                <li>
                    <a href="http://www.netadmin.com.tw" target="_blank">網管人</a>
                </li>
                <li>
                    <a href="http://www.bnext.com.tw" target="_blank">數位時代</a>
                </li>
                <li>
                    <a href="http://buzzorange.com/techorange/" target="_blank">科技橘報</a>
                </li>
            </ul>
        </div>
    </div>
    <%= render :partial => "/partials/footer" %>
</div>

<% content_for :js do %>

<script src="../javascripts/animsition.js"></script>
<script>
	$(document).ready(function() {
		$('.animsition').animsition({
			inClass: 'zoom-in-sm',
			outClass: 'zoom-out-sm'
        })
	});
</script>

<% end %>