<!-- News -->

<div class="animsition">
    <header>
        <%= render :partial => "/partials/header" %>
    </header>
    <div class="container">
        <div class="back-wrap">
            <a href="../index.html" class="animsition-link close-button">Close</a>
        </div>
        <div class="news-wrapper">
            <h2 class="section-title">相關連結</h2>
            <ul class="news-list link text-center">
                <li>
                    <a href="https://ucan.moe.edu.tw/Account/Login.aspx" target="_blank"><h3>UCAN 大專校院就業職能平台</h3></a>
                </li>
                <li>
                    <a href="https://ecare.nfu.edu.tw/" target="_blank"><h3>校務行政 e 化資訊平台</h3></a>
                </li>
                <li>
                    <a href="http://e3.nfu.edu.tw/EasyE3P/LMS2/login.aspx" target="_blank"><h3>網路數位學習平台</h3></a>
                </li>
                <li>
                    <a href="https://osa.nfu.edu.tw/query/" target="_blank"><h3>教務查詢整合平台</h3></a>
                </li>
                <li>
                    <a href="http://course.sys.nfu.edu.tw/" target="_blank"><h3>選課系統</h3></a>
                </li>
                <li>
					<a href="http://learns.nfu.edu.tw/clindex/" target="_blank"><h3>學程修讀暨學程證書申請平台</h3></a>
                </li>
            </ul>
        </div>
    </div>
    <%= render :partial => "/partials/footer" %>
</div>

<% content_for :js do %>

<script src="../javascripts/animsition.js"></script>
<script>
	$(document).ready(function() {
		$('.animsition').animsition({
			inClass: 'zoom-in-sm',
			outClass: 'zoom-out-sm'
        })
	});
</script>

<% end %>