<!-- template: 變更密碼 -->

<div class="container-lg">
	<div class="login-wrapper">
		<div class="login-card">
		    <div class="card-hd">
			    <h3>Change password</h3>
			</div>
			<div class="card-bd">
                <div class="form-group">
                    <label for="exampleFormControlInput1" class="form-label">Email address</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1" value="name@example.com" disabled readonly>
                </div>
                <div class="form-group">
                    <label for="exampleFormControlInput2" class="form-label">Password</label>
                    <input type="password" class="form-control" id="exampleFormControlInput2" />
                </div>
                <div class="form-group">
                    <label for="exampleFormControlInput3" class="form-label">Confirm Password</label>
                    <input type="password" class="form-control" id="exampleFormControlInput3" />
                </div>
                <div class="form-group">
                    <label for="loginInput4" class="form-label">Verification code</label>
                    <div class="d-flex align-items-center">
                        <span class="me-1"><input type="text" class="form-control" id="loginInput4" /></span>
                        <span class="me-1"><img class="captcha" src="http://nfu-map.dev.com.tw/common/captcha.image" /></span>
                        <span>
                            <button class="btn btn-xs btn-outline-primary" type="button"><i class="fas fa-sync-alt"></i></button>
                        </span>
                    </div>
                </div>
			</div>
            <div class="mt-4">
                <button class="btn btn-lg btn-block btn-primary" type="submit">SUBMIT</button>
            </div>
            
            <!-- 取消按鈕建議不用放 -->
            <div class="mt-4">
                <button class="btn btn-lg btn-block btn-light" type="button">Cancel</button>
            </div>
		</div>
	</div>
</div>



<% content_for :js do %>

<% end %>

