<footer class="footer">
	<div class="container-lg">
		<div class="footer-inner">
			<div class="block-transition">
                <div class="ft-block central-content">
                    <h5>國立臺灣大學 國際事務處</h5>
                    <ul class="menu-item contact">
                        <li>
                            <i class="fas fa-map-marker-alt"></i>
                            106319 臺北市大安區羅斯福路四段1號 禮賢樓7樓
                        </li>
                        <li>
                            <i class="fas fa-phone-alt"></i>
                            +886-2-3366-2007, +886-2-2362-6801
                        </li>
                        <li>
                            <i class="fas fa-fax"></i>
                            +886-2-2362-0096
                        </li>
                        <li>
                            <i class="fas fa-envelope"></i>
                            <a href="mailto:oia@ntu.edu.tw">oia@ntu.edu.tw</a>
                        </li>
                    </ul>
                </div>
			</div>
            <div class="ft-block end-content">
                Browser support
                <a href="https://www.google.com/intl/zh-TW/chrome/">Google Chrome</a>,
                <a href="https://www.mozilla.org/zh-TW/firefox/new/">Firefox</a> or
                <a href="https://www.microsoft.com/zh-tw/edge">IE11+</a>
            </div>
		</div>
	</div>
</footer>