<!-- admin-page: 國立高雄科技大學 - 選擇角色 -->

<% content_for :replace_css do %>
    <link rel="stylesheet" media="screen" href="../stylesheets/vendor/bootstrap/bootstrap.css">
    <link rel="stylesheet" media="screen, projection, print" href="../stylesheets/mdb.css">
    <link rel="stylesheet" media="screen, projection, print" href="../stylesheets/backend.css">
<% end %>

<div class="login-innerbg"></div>
<div class="login-innerbg login-bg2"></div>
<div class="login-innerbg login-bg3"></div>
<div class="nkust_switch-container">
    <h1 class="nkust_logo"><img class="logo__img" src="../assets/nkust_logo-white@2x.png" alt="NKUST Logo" title="國立高雄科技大學" /></h1>
    <ul class="role-list menu-item">
		<li>
            <div class="role-inner">
                <h5 class="item-title">系統管理</h5>
                <p class="item-description">說明文案<%= zh_lorem_sentence %></p>
                <a href="#" class="btn btn-info btn-rounded">前往</a>
            </div>
        </li>
        <% (1..5).each do |n| %>
        <li>
            <div class="role-inner">
                <h5 class="item-title">身份別名稱</h5>
                <p class="item-description">說明文案<%= zh_lorem_sentence %></p>
                <a href="#" class="btn btn-info btn-rounded">前往</a>
            </div>
        </li>
        <% end %>
    </ul>
</div>

<% content_for :js do %>

<% end %>