<!-- admin-page: 國立高雄科技大學 - 切換功能 -->

<% content_for :replace_css do %>
    <link rel="stylesheet" media="screen" href="../stylesheets/vendor/bootstrap/bootstrap.css">
    <link rel="stylesheet" media="screen, projection, print" href="../stylesheets/mdb.css">
    <link rel="stylesheet" media="screen, projection, print" href="../stylesheets/backend.css">
<% end %>

<div class="login-innerbg"></div>
<div class="login-innerbg login-bg2"></div>
<div class="login-innerbg login-bg3"></div>
<div class="nkust_switch-container">
    <h1 class="nkust_logo"><img class="logo__img" src="../assets/nkust_logo-white@2x.png" alt="NKUST Logo" title="國立高雄科技大學" /></h1>
    <ul class="switch-list menu-item">
		<li>
            <div class="switch-inner">
				<hgroup>
                    <h5 class="item-title">109 第一學期 註冊組</h5>
                    <h6>簡章調查</h6>
				</hgroup>
                <p class="principal">單位負責人<span>史家蕾</span></p>
                <p><a href="#" class="btn btn-info btn-rounded">前往</a></p>
				<a href="#" class="dl-link">下載招生作業日程表</a>
            </div>
        </li>
		<li>
            <div class="switch-inner">
				<hgroup>
                    <h5 class="item-title">109 第一學期 招生組</h5>
                    <h6>考試作業</h6>
				</hgroup>
                <p class="principal">單位負責人<span>史家蕾</span></p>
                <p><a href="#" class="btn btn-info btn-rounded">前往</a></p>
				<a href="#" class="dl-link">下載招生作業日程表</a>
            </div>
        </li>
		<li>
            <div class="switch-inner">
				<hgroup>
                    <h5 class="item-title">109 第一學期 註冊組</h5>
                    <h6>錄取作業</h6>
				</hgroup>
                <p class="principal">單位負責人<span>史家蕾</span></p>
                <p><a href="#" class="btn btn-info btn-rounded">前往</a></p>
				<a href="#" class="dl-link">下載招生作業日程表</a>
            </div>
        </li>
    </ul>
</div>

<% content_for :js do %>

<% end %>