<% I18n.locale = "zh-TW" %>
<!doctype html>
<html lang="<%= I18n.locale %>" class="no-js">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>Jesda</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" media="screen, projection" href="../stylesheets/bootstrap.css">
<% if content_for? :replace_css %>
    <%= yield :replace_css %>
<% end %>
    <link rel="stylesheet" media="screen, projection, print" href="../stylesheets/application.css">

    <link rel="apple-touch-icon" sizes="57x57" href="../favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="../favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="../favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="../favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="../favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="../favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="../favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="../favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="../favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="../favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="../favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../favicon/favicon-16x16.png">
    <link rel="manifest" href="../favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="../favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <script src="../javascripts/modernizr.custom.26633.js"></script>
<% if content_for? :page_styles %>
    <%= yield :page_styles %>
<% end %>
<script src="../javascripts/modernizr.custom.js"></script>
<% if content_for? :head_js %>
    <%= yield :head_js %>
<% end %>
</head>

<body>
<div class="content">
    <div class="landing-wrapper">
        <div class="bottom-stage">
            <span class="tiny-mouse">
                <span class="mouseInfinite"></span>
            </span>
        </div>
        <div id="landing">

            <div class="landing-layer layer-cloud">
                <div class="cloud-wrapper">
                    <div class="cloud-group group-right">
                        <span class="r-01"><img src="../assets/cloud.png" /></span>
                        <span class="r-02"><img src="../assets/cloud.png" /></span>
                    </div>
                    <div class="cloud-group group-left">
                        <span class="l-01"><img src="../assets/cloud.png" /></span>
                        <span class="l-02"><img src="../assets/cloud.png" /></span>
                    </div>
                </div>
            </div>
            <div class="landing-layer r1"></div>
            <div class="landing-layer r2"></div>
            <div class="landing-layer r3"></div>
            <div class="landing-layer r4"></div>
            <div class="landing-layer r0">
                <div class="landing-main">
                    <div class="main-stage">
                        <div class="logo-stage">
                            <img class="logo-v" src="../assets/logo-v.svg">
                            <h5 class="slogan">我們提供更安心的網路系統開發</h5>
                        </div>
                        <div class="carousel-stage">
                            <div class="vertical carousel slide" data-bs-ride="carousel">
                                <div class="carousel-inner">
                                    <div class="carousel-item active" data-bs-interval="3000">
                                        <img src="../assets/svg/feather.svg" />
                                        <div class="carousel-caption d-none d-md-block">
                                            <h6>循環升級管理</h6>
                                        </div>
                                    </div>
                                    <div class="carousel-item" data-bs-interval="3000">
                                        <img src="../assets/svg/cup.svg" />
                                        <div class="carousel-caption d-none d-md-block">
                                            <h6>快速雛型製作</h6>
                                        </div>
                                    </div>
                                    <div class="carousel-item" data-bs-interval="3000">
                                        <img src="../assets/svg/shield.svg" />
                                        <div class="carousel-caption d-none d-md-block">
                                            <h6>精準需求分析</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="landing-layer r5"></div>
            <div class="landing-layer r6"></div>
            <div class="landing-layer r7"></div>
            <div class="landing-layer r8"></div>
            <div class="landing-layer r9"></div>
            <div class="landing-layer r10"></div>
            <div class="landing-layer r11"></div>
            <div class="landing-layer r12"></div>
            <div class="landing-layer r13"></div>
            <div class="landing-layer r14"></div>
        </div>
    </div>
    
</div>
<!-- div class="wrapper">123</div -->
    <script src="javascripts/jquery-3.6.0.min.js"></script>
    <script src="javascripts/popper.min.js"></script>
    <script src="javascripts/bootstrap.bundle.js"></script>
    
    <script src="javascripts/TweenMax.min.js"></script>
    <script>
    $(document).ready(function() {
        $('body').mousemove(function(event) {
            cx = Math.ceil($('body').width() * 0.5);
            cy = Math.ceil($('body').height() * 0.5);
            dx = event.pageX - cx;
            dy = event.pageY - cy;

            tiltx = (dy / cy);
            tilty = - (dx / cx);
            radius = Math.sqrt(Math.pow(tiltx,2) + Math.pow(tilty,2));
            degree = (radius * 2);
            TweenLite.set("#landing", {transform:'rotate3d(' + tiltx + ', ' + tilty + ', 0, ' + degree + 'deg)'});
        });
    });
    </script>
    
</body>
</html>
