<!-- nthu-mobile: 頁面不存在 -->

<div class="page">
    <div class="page-wrapper">
        <%= render :partial => "/partials/header" %>
        <div class="content-wrapper fill-wrapper">
            <div class="inner">
				<img class="icon-sad" src="../assets/icons8-sad-90.png">
			    <h4>頁面不存在</h4>
			</div>
        </div>
    </div>
</div>
