<!-- nthu-mobile: 申請單 - 預覽 -->

<div class="page">
    <div class="page-wrapper">
        <%= render :partial => "/partials/header" %>
        <div class="content-wrapper">
			<%= render :partial => "/partials/breadcrumb" %>
            <div class="container">
                <main class="main">
				    <h5 class="text-center my-4">行政業務電腦化需求提案單</h5>
                    <div class="form-group">
                        <label for="">姓名</label>
                        <input type="text" id="" class="form-control" value="史佳麗韓喬森" disabled>
                    </div>
					<div class="form-group">
                        <label for="">單位</label>
                        <input type="text" id="" class="form-control" value="行政秘書政風管理室" disabled>
                    </div>
					<div class="form-group">
                        <label for="">金額</label>
                        <input type="text" id="" class="form-control" value="150" disabled>
                    </div>
					<div class="form-group">
                        <label for="">核准欄位</label>
                        <input type="text" id="" class="form-control" value="210" disabled>
                    </div>
					<div class="form-group">
                        <label for="">歸類</label>
                        <input type="text" id="" class="form-control" value="類別名稱" disabled>
                    </div>
					<div class="form-group">
                        <label>Radio Buttons</label>
						<input type="text" id="" class="form-control" value="Default unchecked" disabled>
                    </div>
					<div class="form-group">
                        <label>Checkbox</label>
                        <input type="text" id="" class="form-control" value="Default unchecked" disabled>
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">Large textarea</label>
                        <textarea class="form-control rounded-0" id="exampleFormControlTextarea1" rows="4" disabled></textarea>
                    </div>
					<div class="form-group">
						<label>File Input</label>
                        <input type="text" id="" class="form-control" value="fileName" disabled>
					</div>
					<div class="form-group">
						<label>Time picker</label>
                        <div class="md-form md-outline input-with-post-icon timepicker" twelvehour="true">
                            <input type="text" id="light-version-examples" class="form-control" placeholder="Select time" />
                            <label for="light-version-examples">12hours</label>
                            <i class="fa fa-clock-o input-prefix"></i>
                        </div>
					</div>
					<div class="form-group">
						<label>Date picker</label>
                        <div id="date-picker-example" class="md-form md-outline input-with-post-icon datepicker">
                            <input placeholder="Select date" type="text" id="example" class="form-control" />
                            <label for="example">選擇日期</label>
                            <i class="fa fa-calendar input-prefix" tabindex="0"></i>
                        </div>
					</div>
					<div class="text-center">
						<button type="button" class="btn btn-sm btn-link">回申請表</button>
					    <button type="button" class="btn btn-primary btn-rounded">確認流程</button>
					</div>
				</main>
			</div>
        </div>
    </div>
</div>

<% content_for :js do %>
    <script>
		$('.datepicker').datepicker();
	</script>
<% end %>