<!-- nthu-mobile: 申請單 - 確認流程 -->

<div class="page">
    <div class="page-wrapper">
        <%= render :partial => "/partials/header" %>
        <div class="content-wrapper">
			<%= render :partial => "/partials/breadcrumb" %>
            <div class="container">
                <main class="main">
				    <h5 class="text-center my-4">行政業務電腦化需求提案單</h5>
					<ol class="application-process">
					    <li>
						    <h6>申請人</h6>
							<p>史佳麗 <span class="text-muted">代理 韓喬森</span></p>
						</li>
						<li>
						    <h6>申請人單位主管</h6>
							<p>萊恩雷諾斯</p>
						</li>
						<li>
						    <h6>申請人上一層單位主管</h6>
							<p>布蕾克萊芙莉</p>
						</li>
						<li>
						    <h6>人事室登記桌</h6>
							<p>葛斯林</p>
						</li>
						<li>
						    <h6>關卡名稱</h6>
							<p>史佳麗</p>
						</li>
					</ol>
					<div class="text-center">
						<button type="button" class="btn btn-sm btn-link">回申請表</button>
					    <button type="button" class="btn btn-secondary btn-rounded">送出</button>
					</div>
				</main>
			</div>
        </div>
    </div>
</div>

<% content_for :js do %>
    <script>
		$('.datepicker').datepicker();
	</script>
<% end %>