<!-- nthu-mobile: 首頁 -->

<div class="page">
    <div class="page-wrapper">
        <%= render :partial => "/partials/header" %>
        <div class="content-wrapper">
			<%= render :partial => "/partials/breadcrumb" %>
            <div class="container">
			    <ul class="menu-item home-list">
				    <li>
					    <ul class="menu-item list-level">
                            <li>
                                <a href="#">
									個人待處理
									<span class="badge badge-danger ml-1">5</span>
								</a>
                            </li>
							<li>
                                <a href="#">
									授權待處理
									<span class="badge badge-danger ml-1">88</span>
								</a>
                            </li>
							<li>
                                <a href="#">
									代理人待處理
									<span class="badge badge-danger ml-1">999</span>
								</a>
                            </li>
						</ul>
					</li>
					<li>
					    <a href="#">表單申請</a>
					</li>
					<li>
					    <a href="#">申請紀錄查詢</a>
					</li>
				</ul>
			</div>
        </div>
    </div>
</div>
