<!-- nthu-mobile: Login -->

<div class="page">
    <div class="login-wrapper">
		<p class="nthu-logo">
			<img src="../assets/logo.png">
		</p>
        <hgroup>
		    <h3>國立清華大學</h3>
			<h4>電子表單簽核系統</h4>
		</hgroup>
        <form>
            <div class="md-form">
                <input type="email" id="materialLoginFormEmail" class="form-control">
				<label for="materialLoginFormEmail">帳號</label>
            </div>
			<div>
                <select class="mdb-select md-form">
                    <option value="" disabled selected>選擇進入角色</option>
                    <option value="1">Option 1</option>
                    <option value="2">Option 2</option>
                    <option value="3">Option 3</option>
                </select>
			</div>
            <div class="form-row">
                <div class="col-7 col-md-5">
                    <div class="md-form mt-0">
                        <input type="text" id="CAPTCHA" class="form-control mb-4">
						<label for="CAPTCHA">驗證碼</label>
                    </div>
                </div>
                <span class="col-5 col-md-7 input-group-addon verification">
                    <img src="http://nfu-map.dev.com.tw/common/captcha.image">
					<button class="btn btn-xs btn-secondary mx-0" type="button"><i class="fa fa-refresh"></i></button>
                </span>
            </div>
            <div class="text-center">
                <button class="btn btn-outline-secondary btn-rounded my-4 z-depth-0" type="submit">登入</button>
            </div>
			<!--p class="text-center"><a href="password.html">忘記密碼?</a></p-->
        </form>
    </div>
</div>

<% content_for :js do %>

<% end %>