<!-- nthu-mobile: 申請紀錄列表 -->

<div class="page">
    <div class="page-wrapper">
        <%= render :partial => "/partials/header" %>
        <div class="content-wrapper">
			<%= render :partial => "/partials/breadcrumb" %>
            <div class="container">
                <select class="mdb-select md-form">
                    <option value="" disabled selected>Choose your option</option>
                    <option value="1">Option 1</option>
                    <option value="2">Option 2</option>
                    <option value="3">Option 3</option>
                </select>
			    <div class="unreviewed-list">
					<div class="unreviewed-item">
						<h6 class="form-title">行政業務電腦化需求提案單</h6>
						<div class="item-inner">
                            <label>填表人</label>
                            <span class="data">史佳麗韓喬森</span>
						</div>
						<div class="item-inner">
                            <label>申請時間</label>
                            <span class="data">2021-09-30 12:00</span>
						</div>
						<div class="item-inner">
                            <label>送件人</label>
                            <span class="data">萊恩雷諾斯</span>
						</div>
						<div class="item-inner">
                            <label>送件時間</label>
                            <span class="data">2021-12-30 12:00</span>
						</div>
						<a href="#" class="btn btn-sm btn-rounded btn-primary">瀏覽</a>
						<a href="#" class="btn btn-sm btn-rounded btn-danger">取消申請</a>
					</div>
					<div class="unreviewed-item">
						<h6 class="form-title">國立清華大學行政標題很長業務電腦化需求提案單</h6>
						<div class="item-inner">
                            <label>申請人</label>
                            <span class="data">史佳麗韓喬森</span>
						</div>
						<div class="item-inner">
                            <label>申請時間</label>
                            <span class="data">2021-09-30 12:00</span>
						</div>
						<div class="item-inner">
                            <label>送件人</label>
                            <span class="data">萊恩雷諾斯</span>
						</div>
						<div class="item-inner">
                            <label>送件時間</label>
                            <span class="data">2021-12-30 12:00</span>
						</div>
						<a href="#" class="btn btn-sm btn-rounded btn-primary">瀏覽</a>
						<a href="#" class="btn btn-sm btn-rounded btn-danger">取消申請</a>
					</div>
					<% (1..4).map do |i| %>
					<div class="unreviewed-item">
						<h6 class="form-title">行政業務電腦化需求提案單</h6>
						<div class="item-inner">
                            <label>填表人</label>
                            <span class="data">史佳麗韓喬森</span>
						</div>
						<div class="item-inner">
                            <label>申請時間</label>
                            <span class="data">2021-09-30 12:00</span>
						</div>
						<div class="item-inner">
                            <label>送件人</label>
                            <span class="data">萊恩雷諾斯</span>
						</div>
						<div class="item-inner">
                            <label>送件時間</label>
                            <span class="data">2021-12-30 12:00</span>
						</div>
						<a href="#" class="btn btn-sm btn-rounded btn-primary">瀏覽</a>
						<a href="#" class="btn btn-sm btn-rounded btn-danger">取消申請</a>
					</div>
					<% end %>
				</div>
			</div>
        </div>
    </div>
</div>
