<!-- nthu-mobile: 待審查 - 申請表 -->

<div class="page">
    <div class="page-wrapper">
        <%= render :partial => "/partials/header" %>
        <div class="content-wrapper">
			<%= render :partial => "/partials/breadcrumb" %>
            <div class="btn-group btn-group-bar">
				<!-- 勿改 wording 變長會跑版 -->
                <a href="#" class="btn current">申請表</a>
                <a href="#" class="btn">簽核流程</a>
                <a href="#" class="btn">審查結果</a>
            </div>
            <div class="container">
                <main class="main">
				    <h5 class="text-center my-4">行政業務電腦化需求提案單</h5>
                    <div class="form-group">
                        <label for="inputDisabledEx1">姓名</label>
                        <input type="text" id="inputDisabledEx1" class="form-control" value="史佳麗韓喬森" disabled>
                    </div>
					<div class="form-group">
                        <label for="inputDisabledEx2">單位</label>
                        <input type="text" id="inputDisabledEx2" class="form-control" value="行政秘書政風管理室" disabled>
                    </div>
					<div class="form-group">
                        <label for="inputDisabledEx3">金額</label>
                        <input type="text" id="inputDisabledEx3" class="form-control" value="150">
                    </div>
					<div class="form-group">
                        <label for="inputDisabledEx3">核准欄位</label>
                        <input type="text" id="inputDisabledEx3" class="form-control" value="210">
                    </div>
					<div class="form-group">
                        <label for="inputDisabledEx3">歸類</label>
                        <select class="browser-default custom-select">
                            <option selected>Open this select menu</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </div>
					<div class="form-group">
                        <label>Radio Buttons</label>
                        <div class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" id="defaultRadiosUnchecked" name="defaultExampleRadios">
                            <label class="custom-control-label" for="defaultRadiosUnchecked">Default unchecked</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" id="defaultRadiosChecked" name="defaultExampleRadios" checked>
                            <label class="custom-control-label" for="defaultRadiosChecked">Default checked</label>
                        </div>
                    </div>
					<div class="form-group">
                        <label>Checkbox</label>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="defaultChecked2" checked>
                            <label class="custom-control-label" for="defaultChecked2">Default checked</label>
                        </div>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="defaultUnchecked">
                            <label class="custom-control-label" for="defaultUnchecked">Default unchecked</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">Large textarea</label>
                        <textarea class="form-control rounded-0" id="exampleFormControlTextarea1" rows="4"></textarea>
                    </div>
					<div class="form-group">
						<label>File Input</label>
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01" />
                            <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                        </div>
					</div>
					<div class="form-group">
						<label>Time picker</label>
                        <div class="md-form md-outline input-with-post-icon timepicker" twelvehour="true">
                            <input type="text" id="light-version-examples" class="form-control" placeholder="Select time" />
                            <label for="light-version-examples">12hours</label>
                            <i class="fa fa-clock-o input-prefix"></i>
                        </div>
					</div>
					<div class="form-group">
						<label>Date picker</label>
                        <div id="date-picker-example" class="md-form md-outline input-with-post-icon datepicker">
                            <input placeholder="Select date" type="text" id="example" class="form-control" />
                            <label for="example">選擇日期</label>
                            <i class="fa fa-calendar input-prefix" tabindex="0"></i>
                        </div>
					</div>
					<div class="text-center">
					    <button type="button" class="btn btn-primary btn-rounded">儲存</button>
					</div>
				</main>
			</div>
        </div>
    </div>
</div>

<% content_for :js do %>
    <script>
		$('.datepicker').datepicker();
	</script>
<% end %>