<!-- backend-rwd: MDB / Date Picker -->
<%= render :partial => "/partials/backend_breadcrumb" %>
    <!--Main layout-->
    <main class="main">


			<div class="row">
				<div class="col-md-6 col-lg-5 mx-auto">
					<div class="card px-5 py-3 mt-5 mx-2">

					   <div class="md-form">
						   <input placeholder="Selected date" type="text" id="date-picker-example" class="form-control datepicker">
						   <label for="date-picker-example" class="active">Select date</label>
					   </div>

					</div>
				</div>
			</div>

			<!--Section: Docs link-->
			<section class="pb-4 pt-5 mt-5">

			   <!--Panel-->
				<div class="card text-center">
					<h3 class="card-header primary-color white-text">Full documentation</h3>
					<div class="card-body">
						<p class="card-text">Read the full documentation for these components.</p>
						<a href="https://mdbootstrap.com/javascript/time-picker/" target="_blank" class="btn btn-primary">Learn more</a>
					</div>
				</div>
				<!--/.Panel-->


			</section>
			<!--Section: Docs link-->


    </main>
    <!--Main layout-->

<% content_for :js do %>
    <script>
        $('.datepicker').pickadate();
    </script>
<% end %>