<!-- backend-rwd: MDB / Popovers -->
<%= render :partial => "/partials/backend_breadcrumb" %>

    <!--Main layout-->
    <main class="main">

            <div class="row">
                <div class="col-md-12 col-xl-10 mx-auto">

                    <div class="card py-5 mt-5">

                        <div class="card-body mx-auto">


                            <button type="button" class="btn btn-default" data-toggle="popover" data-placement="left" title="popover on left" data-content="Sed posuere consectetur est at lobortis. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.">popover on left</button>

                            <button type="button" class="btn btn-default" data-toggle="popover" data-placement="top" title="popover on top" data-content="Sed posuere consectetur est at lobortis. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.">popover on top</button>

                            <button type="button" class="btn btn-default" data-toggle="popover" data-placement="bottom" title="popover on bottom" data-content="Sed posuere consectetur est at lobortis. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.">popover on bottom</button>

                            <button type="button" class="btn btn-default" data-toggle="popover" data-placement="right" title="popover on right" data-content="Sed posuere consectetur est at lobortis. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.">popover on right</button>


                        </div>

                    </div>

                </div>
            </div>

            <!--Section: Docs link-->
            <section class="pb-4 pt-5 mt-5 pb-5">

               <!--Panel-->
                <div class="card text-center">
                    <h3 class="card-header primary-color white-text">Full documentation</h3>
                    <div class="card-body">
                        <p class="card-text">Read the full documentation for these components.</p>
                        <a href="https://mdbootstrap.com/javascript/popovers/" target="_blank" class="btn btn-primary">Learn more</a>
                    </div>
                </div>
                <!--/.Panel-->


            </section>
            <!--Section: Docs link-->

    </main>
    <!--Main layout-->


<% content_for :js do %>
    <script>
        // popovers Initialization
        $(function () {
            $('[data-toggle="popover"]').popover()
        })
    </script>
<% end %>