<!-- backend-rwd: MDB / Tags, Labels & Badges -->
<%= render :partial => "/partials/backend_breadcrumb" %>

    <!--Main layout-->
    <main class="main">

		<h2 class="mt-lg-5 mb-5 pb-4 font-weight-bold"><strong>Tags, Labels & Badges</strong></h2>

			<!--Basic example-->
			<section class="section">

				<h5 class="mt-5 mb-5 dark-grey-text font-weight-bold">Basic examples</h5>

				<div class="row pb-4">

					<div class="col-lg-4 col-md-12 mt-2 mb-4">
						<div class="chip pink lighten-4">
							<img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-6.jpg" alt="Contact Person">                                Jane Doe
						</div>
						<div class="chip pink lighten-4">
							<img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-5.jpg" alt="Contact Person">                                Anna Black
						</div>

						<div class="chip pink lighten-4">
							Tag 1
							<i class="close fa fa-times"></i>
						</div>
						<div class="chip pink lighten-4">
							Tag 2
							<i class="close fa fa-times"></i>
						</div>
						<div class="chip pink lighten-4">
							Tag 3
							<i class="close fa fa-times"></i>
						</div>
					</div>

					<div class="col-lg-6 col-md-8 mb-4">
						<h1>Example heading <span class="badge red">New</span></h1>
						<h2>Example heading <span class="badge blue">New</span></h2>
						<h3>Example heading <span class="badge pink">New</span></h3>
						<h4>Example heading <span class="badge green">New</span></h4>
						<h5>Example heading <span class="badge grey">New</span></h5>
						<h6>Example heading <span class="badge indigo">New</span></h6>
					</div>

					<div class="col-lg-2 col-md-4 mb-4">
						<span class="badge badge-default">Default</span> <br>
						<span class="badge badge-primary">Primary</span> <br>
						<span class="badge badge-success">Success</span> <br>
						<span class="badge badge-info">Info</span> <br>
						<span class="badge badge-warning">Warning</span> <br>
						<span class="badge badge-danger">Danger</span>
					</div>

				</div>

			</section>
			<!--Basic example-->

			<!--Section: Docs link-->
			<section class="pb-4">

			   <!--Panel-->
				<div class="card text-center">
					<h3 class="card-header primary-color white-text">Full documentation</h3>
					<div class="card-body">
						<p class="card-text">Read the full documentation for these components.</p>
						<a href="https://mdbootstrap.com/components/badges/" target="_blank" class="btn btn-primary">Learn more</a>
					</div>
				</div>
				<!--/.Panel-->


			</section>
			<!--Section: Docs link-->

    </main>
    <!--Main layout-->

