
/* Shared
--------------------------------------------------------------------- */

.ans-menu {
	& > .item {
		margin-bottom: 1.875rem;
		&:last-child {
			margin-bottom: 0;
		}
	}
	.subject {
		font-weight: 700;
		color: #494f54;
	}
	.ans {
		background: #f6fafd;
		border-radius: .375rem;
		padding: 1.25rem;
	}
	.item-focus {
		.subject { color: #d339d6; }
		.ans { background: #fff5ff; }
	}
}