<div class="container container-index">
    <%= render :partial => "/partials/breadcrumb" %>
    <div class="row">
        <aside class="col-md-3">
            <ul class="sorting">
                <li class="current"><a class="#">全部</a></li>
                <li class=""><a class="#">座談活動</a></li>
                <li class=""><a class="#">外賓來訪</a></li>
                <li class=""><a class="#">出國參訪</a></li>
            </ul>
        </aside>
        
        <main class="col-md-9">
            <div class="content-box">
                <div class="box-hd">
                    <h2 class="main-title">活動花絮一覽表 </h2>
                    <div class="box-right">
                        <select>
                            <option>全部年度</option>
                            <option>2013</option>
                            <option>2012</option>
                            <option>2011</option>
                            <option>2010</option>
                            <option>2009</option>
                        </select>
                    </div>
                </div>
                <ul class="activity-list">
                    <li class="activity-item">
                        <a href="activity_content.html">
                            <figure>
                                <img class="photo" src="images/visiting_img.jpg" alt="" />
                            </figure>
                            <div class="activity-detail">
                                <p class="datetime">
                                    <i class="fa fa-clock-o" aria-hidden="true"></i>2013年6月3日
                                    <span class="badge badge-secondary">外賓來訪</span>
                                </p>
                                <h3>「印尼來台留學學生會」成立典禮</h3>
                                <p class="intro">但.....格子籠養雞是沒維護到雞權，我人在高雄又回不去，當絕大多數國家主人主張停建核四，!，請收拾好心情，不論在那，大腸花</p>
                            </div>
                        </a>
                    </li>
                    <li class="activity-item">
                        <a href="activity_content.html">
                            <figure>
                                <img class="photo" src="images/visiting_img.jpg" alt="" />
                            </figure>
                            <div class="activity-detail">
                                <p class="datetime">
                                    <i class="fa fa-clock-o" aria-hidden="true"></i>2013年6月3日
                                    <span class="badge badge-secondary">活動</span>
                                </p>
                                <h3>亞洲日本大阪府立大仙聽覺高等支援學校蒞臨本校參訪進行成立典禮以及這裡做很長的標題測試</h3>
                                <p class="intro">但.....格子籠養雞是沒維護到雞權，我人在高雄又回不去，當絕大多數國家主人主張停建核四，!，請收拾好心情，不論在那，大腸花</p>
                            </div>
                        </a>
                    </li>
                    <li class="activity-item">
                        <a href="activity_content.html">
                            <figure>
                                <img class="photo" src="images/visiting_img.jpg" alt="" />
                            </figure>
                            <div class="activity-detail">
                                <p class="datetime">
                                    <i class="fa fa-clock-o" aria-hidden="true"></i>2013年6月3日
                                    <span class="badge badge-secondary">座談活動</span>
                                </p>
                                <h3>「印尼來台留學學生會」成立典禮</h3>
                                <p class="intro">但.....格子籠養雞是沒維護到雞權，我人在高雄又回不去，當絕大多數國家主人主張停建核四，!，請收拾好心情，不論在那，大腸花</p>
                            </div>
                        </a>
                    </li>
                    <li class="activity-item">
                        <a href="activity_content.html">
                            <figure>
                                <img class="photo" src="images/visiting_img.jpg" alt="" />
                            </figure>
                            <div class="activity-detail">
                                <p class="datetime">
                                    <i class="fa fa-clock-o" aria-hidden="true"></i>2013年6月3日
                                    <span class="badge badge-secondary">活動</span>
                                </p>
                                <h3>「印尼來台留學學生會」成立典禮</h3>
                                <p class="intro">但.....格子籠養雞是沒維護到雞權，我人在高雄又回不去，當絕大多數國家主人主張停建核四，!，請收拾好心情，不論在那，大腸花</p>
                            </div>
                        </a>
                    </li>
                </ul>
                <div class="content-ft"><a href="#content" class="back-to-top">Top</a></div>
            </div>
        </main>
    </div>
</div>

<div class="push"></div>

<% content_for :js do %>

<% end %>