<div class="container container-index">
    <%= render :partial => "/partials/breadcrumb" %>
    <div class="row">
        <aside class="col-sm-3">
            <div class="side-block">
                <div class="block-hd">
                    <h4>座談活動</h4>
                </div>
                <div class="block-bd">
                    <ul class="general-list">
                        <li><a href="#">全部年度</a></li>
                        <li class="current"><a href="#">2017</a></li>
                        <li><a href="#">2016</a></li>
                        <li><a href="#">2015</a></li>
                        <li><a href="#">2014</a></li>
                        <li><a href="#">2013</a></li>
                        <li><a href="#">2012</a></li>
                        <li><a href="#">2011</a></li>
                    </ul>
                </div>
            </div>
        </aside>
        
        <main class="col-sm-9">
            <div class="content-box">
                <h2 class="main-title">出國交換學生經驗分享座談會</h2>
                <p>請務必使用寬高尺寸相同以及標準比例 (4:3 或 16:9) 的照片</p>
                <div class="activity-section">
                    <figure>
                        <a href="images/activity_img_1.jpg" class="photo" data-lightbox="roadtrip" title="照片說明文案"><img src="images/activity_image.jpg" alt="" /></a>
                    </figure>
                    <div class="activity-detail">
                        <div class="control">
                            <span class="label">活動日期</span>
                            October 25, 2017
                        </div>
                        <div class="control">
                            <span class="label">LOCATION</span>
                            國立臺南大學
                        </div>
                        <div class="control">
                            <span class="label">活動類別</span>
                            座談活動
                        </div>
                    </div>
                </div>
                <div class="activity-content">
                    <h3 class="content-title"><i class="fa fa-chevron-right" aria-hidden="true"></i>活動內容</h3>
                    <div class="depiction">
                        <p>為加強學生外語表達能力，提昇國際觀與競爭力，特別邀請來自美國加州國際商業大學CIBU(California International Business University)的教授Dr.Marcus Benniefield來本校為學生進行跨國界的演講。透過與學生們互動方式教學，讓學生親身體驗不同國家文化的差異性。隨著每週課程進度學習，漸漸培養學生能與外國人士溝通及表達的能力。</p>
                        <p>首先，Dr. Benniefield透過簡單的自我介紹過後，讓學生對他有初步的瞭解後。隨即徵選兩位自願同學做為演講助理，以便於傳達與發佈演講的相關資訊，並於FaceBook成立英語互動學習社團，方便日後與學生們進行線上教學與資訊的交流。</p>
                        <p>豐富與生動的教學方式和學生們互動學習，讓每位學生深刻體驗到不同國家文化的差別。當中還穿插流行歌曲與舞蹈演出，使得演講增添許多樂趣。在社交禮儀方面，當與人相會面時，握手為最基本的禮貌，包含了握手時眼神的交流、手須緊握對方及姿勢擺放和握手時間掌控等等相當重要。</p>
                    </div>
                    <h3 class="content-title"><i class="fa fa-chevron-right" aria-hidden="true"></i>照片分享<a class="btn btn-primary btn-sm ml10" href="album_content.html">相簿連結</a></h3>
                    <div class="activity-album clearfix">
                        <a href="images/activity_img_1.jpg" class="picture" data-lightbox="roadtrip" title="照片說明文案"><img src="images/activity_img_1.jpg" alt="" /></a>
                        <a href="images/activity_img_2.jpg" class="picture" data-lightbox="roadtrip" title="照片說明文案"><img src="images/activity_img_2.jpg" alt="" /></a>
                        <a href="images/activity_img_3.jpg" class="picture" data-lightbox="roadtrip" title="照片說明文案"><img src="images/activity_img_3.jpg" alt="" /></a>
                        <a href="images/activity_img_4.jpg" class="picture" data-lightbox="roadtrip" title="照片說明文案"><img src="images/activity_img_4.jpg" alt="" /></a>
                        <a href="images/activity_img_5.jpg" class="picture" data-lightbox="roadtrip" title="照片說明文案"><img src="images/activity_img_5.jpg" alt="" /></a>
                        <a href="images/activity_img_6.jpg" class="picture" data-lightbox="roadtrip" title="照片說明文案"><img src="images/activity_img_6.jpg" alt="" /></a>
                        <a href="images/activity_img_7.jpg" class="picture" data-lightbox="roadtrip" title="照片說明文案"><img src="images/activity_img_7.jpg" alt="" /></a>
                        <a href="http://oia.nutn.edu.tw/upload/photo/activity/UDEwNzA1OTU=.jpg" class="picture" data-lightbox="roadtrip" title="照片說明文案"><img src="http://oia.nutn.edu.tw/upload/photo/activity/UDEwNzA1OTU=.jpg" alt="" /></a>
                        <a href="images/activity_img_4.jpg" class="picture" data-lightbox="roadtrip" title="照片說明文案"><img src="images/activity_img_4.jpg" alt="" /></a>
                        <a href="images/activity_img_5.jpg" class="picture" data-lightbox="roadtrip" title="照片說明文案"><img src="images/activity_img_5.jpg" alt="" /></a>
                        <a href="http://oia.nutn.edu.tw/upload/photo/activity/UDEwNzA1OTU=.jpg" class="picture" data-lightbox="roadtrip" title="照片說明文案"><img src="http://oia.nutn.edu.tw/upload/photo/activity/UDEwNzA1OTU=.jpg" alt="" /></a>
                        <a href="images/activity_img_4.jpg" class="picture" data-lightbox="roadtrip" title="照片說明文案"><img src="images/activity_img_4.jpg" alt="" /></a>
                        <a href="images/activity_img_5.jpg" class="picture" data-lightbox="roadtrip" title="照片說明文案"><img src="images/activity_img_5.jpg" alt="" /></a>
                    </div>
                    <h3 class="content-title"><i class="fa fa-chevron-right" aria-hidden="true"></i>相關文件</h3>
                    <ol>
                        <li class="mb5">申請書<a href="#" class="btn btn-primary btn-sm ml10">下載</a></li>
                        <li class="mb5">新聞稿<a href="#" class="btn btn-primary btn-sm ml10">下載</a></li>
                    </ol>
                </div>
                <div class="content-ft"><a href="#content" class="back-to-top">Top</a></div>
            </div>
        </main>
    </div>
</div>

<div class="push"></div>

<% content_for :js do %>
    <script src="javascripts/jquery-ui-1.9.1.js"></script>
    <script src="javascripts/lightbox-2.6.min.js"></script>
<% end %>