<div class="container container-index">
    <%= render :partial => "/partials/breadcrumb" %>
    <div class="row">
        <main class="col-12">
            <div class="content-box article">
                <h2 class="main-title">陝西大學參訪</h2>
                <p class="datetime"><i class="fa fa-clock-o" aria-hidden="true"></i> 2013年6月20日</p>
                <div class="activity-album event-album clearfix">
                    <a href="images/activity_img_1.jpg" class="picture" data-lightbox="roadtrip" title="照片說明文案"><img src="images/activity_img_1.jpg" alt="" /></a>
                    <a href="images/activity_img_2.jpg" class="picture" data-lightbox="roadtrip" title="照片說明文案"><img src="images/16-9-dummy-image2.jpg" alt="" /></a>
                    <a href="images/activity_img_3.jpg" class="picture" data-lightbox="roadtrip" title="照片說明文案"><img src="images/activity_img_3.jpg" alt="" /></a>
                    <a href="images/activity_img_4.jpg" class="picture" data-lightbox="roadtrip" title="照片說明文案"><img src="images/activity_img_4.jpg" alt="" /></a>
                    <a href="images/activity_img_5.jpg" class="picture" data-lightbox="roadtrip" title="照片說明文案"><img src="images/activity_img_5.jpg" alt="" /></a>
                    <a href="images/activity_img_6.jpg" class="picture" data-lightbox="roadtrip" title="照片說明文案"><img src="images/activity_img_6.jpg" alt="" /></a>
                    <a href="images/activity_img_7.jpg" class="picture" data-lightbox="roadtrip" title="照片說明文案"><img src="images/activity_img_7.jpg" alt="" /></a>
                    <a href="http://oia.nutn.edu.tw/upload/photo/activity/UDEwNzA1OTU=.jpg" class="picture" data-lightbox="roadtrip" title="照片說明文案"><img src="http://oia.nutn.edu.tw/upload/photo/activity/UDEwNzA1OTU=.jpg" alt="" /></a>
                    <a href="images/activity_img_4.jpg" class="picture" data-lightbox="roadtrip" title="照片說明文案"><img src="images/activity_img_4.jpg" alt="" /></a>
                    <a href="images/activity_img_5.jpg" class="picture" data-lightbox="roadtrip" title="照片說明文案"><img src="images/activity_img_5.jpg" alt="" /></a>
                    <a href="http://oia.nutn.edu.tw/upload/photo/activity/UDEwNzA1OTU=.jpg" class="picture" data-lightbox="roadtrip" title="照片說明文案"><img src="http://oia.nutn.edu.tw/upload/photo/activity/UDEwNzA1OTU=.jpg" alt="" /></a>
                    <a href="images/activity_img_4.jpg" class="picture" data-lightbox="roadtrip" title="照片說明文案"><img src="images/activity_img_4.jpg" alt="" /></a>
                    <a href="images/activity_img_5.jpg" class="picture" data-lightbox="roadtrip" title="照片說明文案"><img src="images/activity_img_5.jpg" alt="" /></a>
                </div>
                <div class="content-ft"><a href="#content" class="back-to-top">Top</a></div>
            </div>
        </main>
    </div>
</div>

<div class="push"></div>

<% content_for :js do %>
    <script src="javascripts/jquery-ui-1.9.1.js"></script>
    <script src="javascripts/lightbox-2.6.min.js"></script>
<% end %>