<div class="container container-index">
    <%= render :partial => "/partials/breadcrumb" %>
    <div class="row">
        <main class="col-12">
            <div class="content-box article">
                <h2 class="main-title">相簿專區</h2>
                <ul class="albums clearfix">
                    <li class="album-item">
                        <a class="title" href="album_content.html">陝西大學參訪</a>
                        <figure>
                            <a href="album_content.html"><img src="images/activity_img_3.jpg" /></a>
                        </figure>
                        <div class="status">
                            <p class="datetime"><i class="fa fa-clock-o" aria-hidden="true"></i>2013年6月20日</p>
                            <p class="number">20</p>
                        </div>
                    </li>
                    <li class="album-item">
                        <a class="title" href="album_content.html">陝西大學參訪</a>
                        <figure>
                            <a href="album_content.html"><img src="http://oia.nutn.edu.tw/upload/photo/activity/UDEwNzA1OTU=.jpg" /></a>
                        </figure>
                        <div class="status">
                            <p class="datetime"><i class="fa fa-clock-o" aria-hidden="true"></i>2013年6月20日</p>
                            <p class="number">20</p>
                        </div>
                    </li>
                    <li class="album-item">
                        <a class="title" href="album_content.html">1070308_英國牛津奧利爾學院、劍橋莫徳林學院暑期學分雙證課程宣講會</a>
                        <figure>
                            <a href="album_content.html"><img src="images/activity_img_3.jpg" /></a>
                        </figure>
                        <div class="status">
                            <p class="datetime"><i class="fa fa-clock-o" aria-hidden="true"></i>2013年6月20日</p>
                            <p class="number">20</p>
                        </div>
                    </li>
                    <li class="album-item">
                        <a class="title" href="album_content.html">陝西大學參訪</a>
                        <figure>
                            <a href="album_content.html"><img src="images/activity_img_3.jpg" /></a>
                        </figure>
                        <div class="status">
                            <p class="datetime"><i class="fa fa-clock-o" aria-hidden="true"></i>2013年6月20日</p>
                            <p class="number">20</p>
                        </div>
                    </li>
                    <li class="album-item">
                        <a class="title" href="album_content.html">陝西大學參訪</a>
                        <figure>
                            <a href="album_content.html"><img src="images/activity_img_3.jpg" /></a>
                        </figure>
                        <div class="status">
                            <p class="datetime"><i class="fa fa-clock-o" aria-hidden="true"></i>2013年6月20日</p>
                            <p class="number">20</p>
                        </div>
                    </li>
                    <li class="album-item">
                        <a class="title" href="album_content.html">陝西大學參訪</a>
                        <figure>
                            <a href="album_content.html"><img src="images/activity_img_3.jpg" /></a>
                        </figure>
                        <div class="status">
                            <p class="datetime"><i class="fa fa-clock-o" aria-hidden="true"></i>2013年6月20日</p>
                            <p class="number">20</p>
                        </div>
                    </li>
                </ul>
                <div class="content-ft"><a href="#content" class="back-to-top">Top</a></div>
            </div>
        </main>
    </div>
</div>

<div class="push"></div>

<% content_for :js do %>

<% end %>