<div class="container container-index">
    <%= render :partial => "/partials/breadcrumb" %>
    <div class="row">
        <main class="col-12">
            <div class="content-box article">
                <h2 class="main-title">(申請日期：106/11/15-12/1)本校107學年度出國交換學生申請</h2>
<ul>
    <li><a href="https://admissions.nutn.edu.tw/ESA/outgoing/stuLogin.aspx" target="_blank"><span style="color:rgb(105, 105, 105)">交換學生出國甄選申請系統</span></a></li>
    <li><a href="/upload/workbench/files/107學年度交換學生出國甄選手冊.pdf" target="_blank"><span style="color:#696969">107學年度交換學生出國甄選手冊</span></a>
        <a href="http://oia.nutn.edu.tw/upload/workbench/files/107%E5%AD%B8%E5%B9%B4%E5%BA%A6%E4%BA%A4%E6%8F%9B%E5%AD%B8%E7%94%9F%E5%87%BA%E5%9C%8B%E7%94%84%E9%81%B8%E6%89%8B%E5%86%8A.pdf"><img src="images/pdf.gif"></a><span style="color:rgb(105, 105, 105)">&nbsp;</span></li>
    <li><a href="/upload/workbench/files/107學年度交換學生出國甄選簡報.pdf" target="_blank"><span style="color:rgb(105, 105, 105)">107學年度交換學生出國甄選簡報</span></a>
        <a href="http://oia.nutn.edu.tw/upload/workbench/files/107%E5%AD%B8%E5%B9%B4%E5%BA%A6%E4%BA%A4%E6%8F%9B%E5%AD%B8%E7%94%9F%E5%87%BA%E5%9C%8B%E7%94%84%E9%81%B8%E7%B0%A1%E5%A0%B1.pdf"><img src="images/pdf.gif"></a>
    </li>
    <li><a href="/upload/workbench/files/0_國立臺南大學交換學生保證人同意書.pdf" target="_blank"><span style="color:rgb(105, 105, 105)">本校交換學生保證人同意書</span></a>
        <a href="http://oia.nutn.edu.tw/upload/workbench/files/0_%E5%9C%8B%E7%AB%8B%E8%87%BA%E5%8D%97%E5%A4%A7%E5%AD%B8%E4%BA%A4%E6%8F%9B%E5%AD%B8%E7%94%9F%E4%BF%9D%E8%AD%89%E4%BA%BA%E5%90%8C%E6%84%8F%E6%9B%B8.pdf"><img src="images/pdf.gif"></a>
    </li>
    <li><a href="http://oia.nutn.edu.tw/upload/files/AC/教育部鼓勵國內大專校院選送學生出國研修或國外專業實習補助要點.pdf" target="_blank"><span style="color:#696969">教育部鼓勵國內大專校院選送學生出國研修或國外專業實習補助要點</span></a>
        <a href="http://oia.nutn.edu.tw/upload/files/AC/%E6%95%99%E8%82%B2%E9%83%A8%E9%BC%93%E5%8B%B5%E5%9C%8B%E5%85%A7%E5%A4%A7%E5%B0%88%E6%A0%A1%E9%99%A2%E9%81%B8%E9%80%81%E5%AD%B8%E7%94%9F%E5%87%BA%E5%9C%8B%E7%A0%94%E4%BF%AE%E6%88%96%E5%9C%8B%E5%A4%96%E5%B0%88%E6%A5%AD%E5%AF%A6%E7%BF%92%E8%A3%9C%E5%8A%A9%E8%A6%81%E9%BB%9E.pdf"><img src="images/pdf.gif"></a><span style="color:rgb(105, 105, 105)">&nbsp;</span></li>
    <li><a href="/upload/workbench/files/手冊(1).pdf"><span style="color:#696969">赴外交換生行前手冊</span></a>
        <a href="http://oia.nutn.edu.tw/upload/files/AC/%E8%B5%B4%E5%A4%96%E4%BA%A4%E6%8F%9B%E7%94%9F%E8%A1%8C%E5%89%8D%E6%89%8B%E5%86%8A.pdf"><img src="images/pdf.gif"></a><span style="color:rgb(105, 105, 105)">&nbsp;</span></li>
    <li><a href="/upload/workbench/files/2_簡報(1).pdf"><span style="color:#696969">赴外交換生行前簡報</span></a>
        <a href="http://oia.nutn.edu.tw/upload/files/AC/%E8%B5%B4%E5%A4%96%E4%BA%A4%E6%8F%9B%E7%94%9F%E8%A1%8C%E5%89%8D%E7%B0%A1%E5%A0%B1.pdf"><img src="images/pdf.gif"></a><span style="color:rgb(105, 105, 105)">&nbsp;</span></li>
    <li><a href="http://oia.nutn.edu.tw/upload/files/AC/選赴國外交換學生資格放棄聲明書.doc" target="_blank"><span style="color:#696969">交換學生資格放棄聲明書</span></a>
        <a href="http://oia.nutn.edu.tw/upload/files/AC/%E9%81%B8%E8%B5%B4%E5%9C%8B%E5%A4%96%E4%BA%A4%E6%8F%9B%E5%AD%B8%E7%94%9F%E8%B3%87%E6%A0%BC%E6%94%BE%E6%A3%84%E8%81%B2%E6%98%8E%E6%9B%B8.doc"><img src="images/word.gif"></a>
    </li>
    <li><a href="http://oia.nutn.edu.tw/upload/files/AC/國立臺南大學姐妹學校交換學生出國程序單.docx" target="_blank"><span style="color:#696969">國立臺南大學姐妹學校交換學生出國程序單</span></a>
        <a href="http://oia.nutn.edu.tw/upload/files/AC/%E5%9C%8B%E7%AB%8B%E8%87%BA%E5%8D%97%E5%A4%A7%E5%AD%B8%E5%A7%90%E5%A6%B9%E5%AD%B8%E6%A0%A1%E4%BA%A4%E6%8F%9B%E5%AD%B8%E7%94%9F%E5%87%BA%E5%9C%8B%E7%A8%8B%E5%BA%8F%E5%96%AE.docx"><img src="images/word.gif"></a>
    </li>
    <li><a href="/upload/workbench/files/11-1_%E5%9C%8B%E7%AB%8B%E8%87%BA%E5%8D%97%E5%A4%A7%E5%AD%B8%E4%BA%A4%E6%8F%9B%E5%AD%B8%E7%94%9F%E5%87%BA%E5%9C%8B%E6%8A%B5%E9%81%94%E5%9C%8B%E5%A4%96%E7%A0%94%E7%A9%B6%E6%A9%9F%E6%A7%8B%E5%A0%B1%E5%88%B0%E8%A1%A8.docx" target="_blank"><span style="color:#696969">國立臺南大學交換學生出國抵達國外研究機構報到表</span></a>
        <a href="/upload/workbench/files/11-1_%E5%9C%8B%E7%AB%8B%E8%87%BA%E5%8D%97%E5%A4%A7%E5%AD%B8%E4%BA%A4%E6%8F%9B%E5%AD%B8%E7%94%9F%E5%87%BA%E5%9C%8B%E6%8A%B5%E9%81%94%E5%9C%8B%E5%A4%96%E7%A0%94%E7%A9%B6%E6%A9%9F%E6%A7%8B%E5%A0%B1%E5%88%B0%E8%A1%A8.docx"><img src="images/word.gif"></a>
    </li>
    <li><a href="http://oia.nutn.edu.tw/upload/files/AC/交換學生出國研修報告單.docx" target="_blank"><span style="color:#696969">交換學生出國研修報告單</span></a>
        <a href="http://oia.nutn.edu.tw/upload/files/AC/%E4%BA%A4%E6%8F%9B%E5%AD%B8%E7%94%9F%E5%87%BA%E5%9C%8B%E7%A0%94%E4%BF%AE%E5%A0%B1%E5%91%8A%E5%96%AE.docx"><img src="images/word.gif"></a>
    </li>
    <li><a href="http://oia.nutn.edu.tw/upload/files/AC/國立臺南大學交換學生變更姐妹校交換系所申請表.docx" target="_blank"><span style="color:#696969">國立臺南大學交換學生變更姐妹校交換系所申請表</span></a>
        <a href="http://oia.nutn.edu.tw/upload/files/AC/%E5%9C%8B%E7%AB%8B%E8%87%BA%E5%8D%97%E5%A4%A7%E5%AD%B8%E4%BA%A4%E6%8F%9B%E5%AD%B8%E7%94%9F%E8%AE%8A%E6%9B%B4%E5%A7%90%E5%A6%B9%E6%A0%A1%E4%BA%A4%E6%8F%9B%E7%B3%BB%E6%89%80%E7%94%B3%E8%AB%8B%E8%A1%A8.docx"><img src="images/word.gif"></a>
    </li>
    <li><a href="http://oia.nutn.edu.tw/upload/files/AC/交換學生出國進修之心得報告格式.doc" target="_blank"><span style="color:#696969">交換學生出國進修之心得報告格式</span></a>
        <a href="http://oia.nutn.edu.tw/upload/files/AC/%E4%BA%A4%E6%8F%9B%E5%AD%B8%E7%94%9F%E5%87%BA%E5%9C%8B%E9%80%B2%E4%BF%AE%E4%B9%8B%E5%BF%83%E5%BE%97%E5%A0%B1%E5%91%8A%E6%A0%BC%E5%BC%8F.doc"><img src="images/word.gif"></a>
    </li>
    <li><a href="http://oia.nutn.edu.tw/upload/files/AC/國立臺南大學姐妹學校交換學生返國程序單.docx" target="_blank"><span style="color:#696969">國立臺南大學姐妹學校交換學生返國程序單</span></a>
        <a href="http://oia.nutn.edu.tw/upload/files/AC/%E5%9C%8B%E7%AB%8B%E8%87%BA%E5%8D%97%E5%A4%A7%E5%AD%B8%E5%A7%90%E5%A6%B9%E5%AD%B8%E6%A0%A1%E4%BA%A4%E6%8F%9B%E5%AD%B8%E7%94%9F%E8%BF%94%E5%9C%8B%E7%A8%8B%E5%BA%8F%E5%96%AE.docx"><img src="images/word.gif"></a>
    </li>
    <li><a href="/upload/workbench/files/本校交換學生出國延長縮短交換申請表.doc" target="_blank"><span style="color:#696969">交換學生出國延長/縮短交換申請表</span></a>
        <a href="http://oia.nutn.edu.tw/upload/workbench/files/%E6%9C%AC%E6%A0%A1%E4%BA%A4%E6%8F%9B%E5%AD%B8%E7%94%9F%E5%87%BA%E5%9C%8B%E5%BB%B6%E9%95%B7%E7%B8%AE%E7%9F%AD%E4%BA%A4%E6%8F%9B%E7%94%B3%E8%AB%8B%E8%A1%A8.doc"><img src="images/word.gif"></a>
    </li>
</ul>
                <div class="content-ft"><a href="#content" class="back-to-top">Top</a></div>
            </div>
        </main>
    </div>
</div>

<div class="push"></div>

<% content_for :js do %>

<% end %>