<div class="container container-carouse">
    <div class="row">
        <div class="col-12">
            <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <a href="#">
                            <img class="d-block w-100" src="images/banner_1.jpg" alt="First slide">
                            <div class="carousel-caption d-none d-md-block">
                                <h5>First slide label</h5>
                            </div>
                        </a>
                    </div>
                    <div class="carousel-item">
                        <a href="#">
                            <img class="d-block w-100" src="images/banner_2.jpg" alt="Second slide">
                            <div class="carousel-caption d-none d-md-block">
                                <h5>Second slide label</h5>
                            </div>
                        </a>
                    </div>
                    <div class="carousel-item">
                        <a href="#">
                            <img class="d-block w-100" src="images/banner_3.jpg" alt="Third slide">
                            <div class="carousel-caption d-none d-md-block">
                                <h5>Third slide label</h5>
                            </div>
                        </a>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="container container-index">
    <div class="row row-reverse">
        <div class="col-sm-4 side-section">

            <a class="hot-area" href="http://oia.cycu.edu.tw/academic.international/list">
                <span class="icon icon-apply">icon</span>
                <hgroup>
                    <h1>活動花絮</h1>
                    <h3>Events</h3>
                </hgroup>
            </a>
            <a class="hot-area" href="album.html">
                <span class="icon icon-album">icon</span>
                <hgroup>
                    <h1>熱門相簿專區</h1>
                    <h3>Hot Album Area</h3>
                </hgroup>
            </a>
            <a class="hot-area" href="movie.html">
                <span class="icon icon-movie">icon</span>
                <hgroup>
                    <h1>熱門影片專區</h1>
                    <h3>Hot Movie Area</h3>
                </hgroup>
            </a>

            <a href="#" class="hot-area">
                <hgroup class="inline">
                    <p>國際學生線上申請<i class="icon-chevron-right icon-white right"></i></p>
                </hgroup>
            </a>
            <a href="#" class="hot-area">
                <hgroup class="inline">
                    <p>僑生學位生線上申請<i class="icon-chevron-right icon-white right"></i></p>
                </hgroup>
            </a>
            <a href="#" class="hot-area">
                <hgroup class="inline">
                    <p>大陸學位生線上申請<i class="icon-chevron-right icon-white right"></i></p>
                </hgroup>
            </a>
            <a href="#" class="hot-area">
                <hgroup class="inline">
                    <p>出國交換生線上申請<i class="icon-chevron-right icon-white right"></i></p>
                </hgroup>
            </a>
            <a href="#" class="hot-area">
                <hgroup class="inline">
                    <p>赴大陸交換生線上申請<i class="icon-chevron-right icon-white right"></i></p>
                </hgroup>
            </a>
            
            <section class="jsd-Laura mt5">
                <h3 class="f-c-system mt15"><i class="fa fa-circle-o" aria-hidden="true"></i> 當月熱門連結</h3>
                <ul class="aside-list">
                    <li>
                        <a class="index-link" href="#">赴美、日、韓姐妹校交換生申請流程<span>999</span></a>
                    </li>
                    <li>
                        <a class="index-link" href="#">交換生 Q &amp; A<span>999</span></a>
                    </li>
                    <li>
                        <a class="index-link" href="#">成員與業務<span>999</span></a>
                    </li>
                    <li>
                        <a class="index-link" href="#">本處最新消息與公告<span>999</span></a>
                    </li>
                    <li>
                        <a class="index-link" href="#">本校教授學位分布表<span>999</span></a>
                    </li>
                </ul>
            </section>

            <section class="jsd-Laura mt5">
                <h3 class="f-c-system mt10"><i class="fa fa-circle-o" aria-hidden="true"></i> 當月熱門下載</h3>
                <ul class="aside-list">
                    <li>
                        <a class="index-link" href="#">中原大學姊妹校交換生離校程序單<span>999</span></a>
                    </li>
                    <li>
                        <a class="index-link" href="#">Chung Yuan Christian University International Student On-line Application System<span>999</span></a>
                    </li>
                    <li>
                        <a class="index-link" href="#">大陸人士來台申請書<span>999</span></a>
                    </li>
                    <li>
                        <a class="index-link" href="#">外籍生獎學金<span>999</span></a>
                    </li>
                    <li>
                        <a class="index-link" href="#">2013 暑期領袖英語營-活動課表<span>999</span></a>
                    </li>
                </ul>
            </section>
        </div>
        
        <div class="col-sm-8 main-section">
            <div class="content-box">
                <div class="title-icon jsd-icon-news">
                    <h3>最新消息</h3>
                    <a class="btn-flat more" href="news.html">more</a> </div>
                <div class="news-spotlight">
                    <div class="news-image">
                        <img src="images/news_image.jpg" />
                    </div>
                    <div class="news-info">
                        <div class="date">
                            <i class="fa fa-clock-o" aria-hidden="true"></i> 2013年6月3日
                        </div>
                        <h3 class="feature mt5"><a href="news_content.html">所剩名額不多!快來報名!★ 【2013年全英語暑期營 全方位領袖與特質】今日下午5:00前截止!</a></h3>
                    </div>
                </div>
                <ul class="bulletin-list news-bulletin">
                    <li>
                        <a href="news_content.html"><span class="hot">HOT</span>大連理工大學「2013海峽兩岸青年文化交流研習營」錄取名單公告<span class="date">July 16, 2013</span></a>
                    </li>
                    <li>
                        <a href="news_content.html">想學韓語及了解韓國文化嗎? 機會來囉!!!<span class="date">2013年6月3日</span></a>
                    </li>
                    <li>
                        <a href="news_content.html">Dreams come TRUE!! ☼《留學澳洲墨爾本，讓你的夢。想。實。現》前50名報名參加者贈送精美小禮喔!<span class="date">2013年6月3日</span></a>
                    </li>
                    <li>
                        <a href="news_content.html">你想去哪裡? 「美國聖地牙哥、澳洲墨爾本、全英語暑期營」三場說明會，一次滿足!<span class="date">2013年6月3日</span></a>
                    </li>
                    <li>
                        <a href="news_content.html">記得我們有約! ☆【2013年全英語暑期營 全方位領袖與特質】說明會!!♫前50名入場參加者贈送精美小禮喔♫<span class="date">2013年6月3日</span></a>
                    </li>
                    <li>
                        <a href="news_content.html">去美國學英文! 加州大學溪口分校ALCI暑期英文課程火熱報名中!說明會5/17(五)中午12:20<span class="date">2013年6月3日</span></a>
                    </li>
                    <li>
                        <a href="news_content.html">Higher Education Fair European<span class="date">2013年6月3日</span></a>
                    </li>
                    <li>
                        <a href="news_content.html">2013年臺灣高校傑出青年北京考察團(北京)<span class="date">2013年6月3日</span></a>
                    </li>
                    <li>
                        <a href="news_content.html">《時間變更》『美國聖地牙哥州立大學交換實習計畫』說明會來囉!!<span class="date">2013年6月3日</span></a>
                    </li>
                </ul>
            </div>
            <div class="mt15">
                <div class="content-box">
                    <div class="title-icon jsd-icon-camp">
                        <h3>活動花絮</h3>
                        <a class="btn-flat more" href="news.html">more</a>
                    </div>
                    <div class="news-spotlight">
                        <div class="camp-image">
                            <img src="images/camp_image.jpg" />
                        </div>
                        <div class="news-info">
                            <div class="date">
                                <i class="fa fa-clock-o" aria-hidden="true"></i> 2013年6月3日
                            </div>
                            <h3 class="feature mt5"><a href="news_content.html">與日本德島文理大學簽約公告</a></h3>
                        </div>
                    </div>
                    <ul class="bulletin-list news-bulletin">
                        <li>
                            <a href="news_content.html"><span class="hot">HOT</span>大連理工大學「2013海峽兩岸青年文化交流研習營」錄取名單公告<span class="date">July 16, 2013</span></a>
                        </li>
                        <li>
                            <a href="news_content.html">想學韓語及了解韓國文化嗎? 機會來囉!!!<span class="date">2013年6月3日</span></a>
                        </li>
                        <li>
                            <a href="news_content.html">Dreams come TRUE!! ☼《留學澳洲墨爾本，讓你的夢。想。實。現》前50名報名參加者贈送精美小禮喔!<span class="date">2013年6月3日</span></a>
                        </li>
                        <li>
                            <a href="news_content.html">你想去哪裡? 「美國聖地牙哥、澳洲墨爾本、全英語暑期營」三場說明會，一次滿足!<span class="date">2013年6月3日</span></a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
        <!-- /.span8 -->
    </div>
    <!-- /.row -->
</div>
<!-- /.container -->
<div class="push"></div>

<% content_for :js do %>
	<script>
		$('.carousel').carousel()
	</script>
<% end %>