<div class="container container-index">
    <%= render :partial => "/partials/breadcrumb" %>
    <div class="row">
        <aside class="col-sm-3">
            <div class="side-block">
                <div class="block-hd">
                    <h4>人員執掌</h4>
                </div>
                <div class="block-bd">
                    <ul class="general-list">
                        <li class="current">
                            <a href="#">國際長</a>
                        </li>
                        <li>
                            <a href="#">語文中心</a>
                        </li>
                        <li>
                            <a href="#">國際事務組</a>
                        </li>
                    </ul>
                </div>
            </div>
        </aside>
        
        <main class="col-sm-9">
            <div class="content-box">
                <h2 class="main-title">成員與業務</h2>
                <div class="row jsd-member-row">
                    <figure class="photo member col-3">
                        <img alt="" src="images/member_06.jpg">
                    </figure>
                    <div class=col-9>
                        <h3 class="pt10">Ms. Fiona Wang (Chih-Ying Wang)</h3>
                        <p class="position">Administrative Assistant</p>
                        <div class="jsd-member-form">
                            <div class="field">
                                <label class="field-label">連絡電話:</label>
                                <div class="field-content">
                                    +886-3-2651706
                                </div>
                            </div>
                            <div class="field">
                                <label class="field-label">Email:</label>
                                <div class="field-content">
                                    <a href="mailto:chihying@cycu.edu.tw">chihying@cycu.edu.tw</a>
                                </div>
                            </div>
                            <div class="field">
                                <label class="field-label">負責業務:</label>
                                <div class="field-content">
                                    <ol class="pl20">
                                        <li>宣傳及招收大陸學 / 碩 / 博相關事務</li>
                                        <li>大陸交換生業務及諮詢</li>
                                        <li>學生赴大陸姐妹校參與營隊相關事務</li>
                                        <li>大陸人士來臺證件辦理相關事務</li>
                                        <li>大陸事務網站</li>
                                        <li>陸生照護及文化活動</li>
                                        <li>接待外賓</li>
                                        <li>協助國際化相關事務推動</li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row jsd-member-row">
                    <figure class="photo member col-3">
                        <img alt="" src="images/member_06.jpg">
                    </figure>
                    <div class=col-9>
                        <h3 class="pt10">Ms. Fiona Wang (Chih-Ying Wang)</h3>
                        <p class="position">Administrative Assistant</p>
                        <div class="jsd-member-form">
                            <div class="field">
                                <label class="field-label">連絡電話:</label>
                                <div class="field-content">
                                    +886-3-2651706
                                </div>
                            </div>
                            <div class="field">
                                <label class="field-label">Email:</label>
                                <div class="field-content">
                                    <a href="mailto:chihying@cycu.edu.tw">chihying@cycu.edu.tw</a>
                                </div>
                            </div>
                            <div class="field">
                                <label class="field-label">負責業務:</label>
                                <div class="field-content">
                                    <ol class="pl20">
                                        <li>宣傳及招收大陸學 / 碩 / 博相關事務</li>
                                        <li>大陸交換生業務及諮詢</li>
                                        <li>學生赴大陸姐妹校參與營隊相關事務</li>
                                        <li>大陸人士來臺證件辦理相關事務</li>
                                        <li>大陸事務網站</li>
                                        <li>陸生照護及文化活動</li>
                                        <li>接待外賓</li>
                                        <li>協助國際化相關事務推動</li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content-ft"><a href="#content" class="back-to-top">Top</a></div>
            </div>
        </main>
    </div>
</div>

<div class="push"></div>

<% content_for :js do %>

<% end %>