<div class="container container-index">
    <div class="row">
        <div class="col-12">
			<div class="content-box">
				<ul class="menu-list news-list">
					<li class="view">
						<div class="list-hd">
							<i class="fa fa-clock-o"></i>
							2018 年 05 月 30 日
							<span class="classification">新聞</span>
							<span class="hot">HOT</span>
						</div>
						<h5><a class="fileLink" href="news-detail.html">NUTN Admission List of International Degree Students of Fall 2018 </a></h5>
					</li>
					<li class="view">
						<div class="list-hd">
							<i class="fa fa-clock-o"></i>
							2018 年 05 月 30 日
							<span class="classification">新聞</span>
							<span class="hot">HOT</span>
						</div>
						<h5><a class="fileLink" href="news-detail.html">NUTN Admission List of International Degree Students of Fall 2018 </a></h5>
					</li>
					<li class="view">
						<div class="list-hd">
							<i class="fa fa-clock-o"></i>
							2018 年 05 月 30 日
							<span class="classification">新聞</span>
							<span class="hot">HOT</span>
						</div>
						<h5><a class="fileLink" href="news-detail.html">NUTN Admission List of International Degree Students of Fall 2018 </a></h5>
					</li>
					<li>
						<div class="list-hd">
							<i class="fa fa-clock-o"></i>
							2018 年 05 月 30 日
							<span class="classification">活動</span>
						</div>
						<h5><a class="fileLink" href="news-detail.html">NUTN Admission List of International Degree Students of Fall 2018 </a></h5>
					</li>
					<li>
						<div class="list-hd">
							<i class="fa fa-clock-o"></i>
							2018 年 05 月 30 日
							<span class="classification">活動</span>
						</div>
						<h5><a class="fileLink" href="news-detail.html">NUTN Admission List of International Degree Students of Fall 2018 </a></h5>
					</li>
					<li>
						<div class="list-hd">
							<i class="fa fa-clock-o"></i>
							2018 年 05 月 30 日
							<span class="classification">活動</span>
						</div>
						<h5><a class="fileLink" href="news-detail.html">NUTN Admission List of International Degree Students of Fall 2018 </a></h5>
					</li>
				</ul>
				<nav aria-label="Page navigation">
					<ul class="pagination justify-content-center">
						<li class="page-item disabled">
							<a class="page-link" href="#" tabindex="-1">Previous</a>
						</li>
						<li class="page-item"><a class="page-link" href="#">1</a></li>
						<li class="page-item"><a class="page-link" href="#">2</a></li>
						<li class="page-item"><a class="page-link" href="#">3</a></li>
						<li class="page-item">
							<a class="page-link" href="#">Next</a>
						</li>
					</ul>
				</nav>
			</div>
        </div>
    </div>
</div>

<div class="push"></div>

<% content_for :js do %>

<% end %>