<div class="container container-index">
    <div class="row">
        <main class="col-12">
            <div class="content-box article">
				<div class="function text-right mb-4">					
					<a class="btn btn-light btn-sm" onclick="history.back(1)">
						<i class="fa fa-long-arrow-left"></i> 回上一頁
					</a>				
				</div>
                <h2 class="main-title">NUTN Admission List of International Degree Students of Fall 2018 </h2>
				<p><%= lorem_paragraphs(2) %></p>
				<p><%= lorem_paragraphs(1) %></p>
				<p><%= lorem_paragraphs(3) %></p>
				<p><%= lorem_paragraphs(2) %></p>
                <div class="content-ft"><a href="#content" class="back-to-top">Top</a></div>
            </div>
        </main>
    </div>
</div>

<div class="push"></div>

<% content_for :js do %>

<% end %>