<div class="container container-index">
    <%= render :partial => "/partials/breadcrumb" %>
    <div class="row">
        <aside class="col-md-3">
            <div class="side-block select-years">
                <div class="block-hd">
                    <h4>心得報告</h4>
                </div>
                <div class="block-bd">
                    <ul class="general-list">
                        <li class="current"><a href="#">2017</a></li>
                        <li><a href="#">2016</a></li>
                        <li><a href="#">2015</a></li>
                        <li><a href="#">2014</a></li>
                        <li><a href="#">2013</a></li>
                        <li><a href="#">2012</a></li>
                        <li><a href="#">2011</a></li>
                    </ul>
                    <select class="custom-select mobile-only">
                        <option selected>請選擇</option>
                        <option value="2017">2017</option>
                        <option value="2016">2016</option>
                        <option value="2015">2015</option>
                        <option value="2014">2014</option>
                        <option value="2013">2013</option>
                        <option value="2012">2012</option>
                        <option value="2011">2011</option>
                    </select>
                </div>
            </div>
        </aside>
        
        <main class="col-md-9">
            <div class="content-box">
                <h2 class="main-title">2017年交換學生出國心得報告</h2>
                <p>請務必使用寬高尺寸相同以及標準比例 (4:3 或 16:9) 的照片</p>
                <div class="report-section">
                    <p>日期：02/2018 ~ 06/2018</p>
                    <p>事由：經管系葉凡瑀同學赴韓國京畿大學進行交換學生<a href="#" target="_blank">心得報告</a></p>
                    <div class="card-deck">
                        <div class="card">
                            <img class="card-img-top" src="http://oia.nutn.edu.tw/upload/workbench/images/%E8%91%89%E5%87%A1%E7%91%80-1.jpg" alt="">
                            <div class="card-body">
                                <h5 class="card-title">和朋友一起去濟州島</h5>
                            </div>
                        </div>
                        <div class="card">
                            <img class="card-img-top" src="http://oia.nutn.edu.tw/upload/workbench/images/%E8%91%89%E5%87%A1%E7%91%80-1.jpg" alt="">
                            <div class="card-body">
                                <h5 class="card-title">GLOBAL K 舉辦的送別會</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="report-section">
                    <p>日期：02/2018 ~ 06/2018</p>
                    <p>事由：經管系葉凡瑀同學赴韓國京畿大學進行交換學生<a href="#" target="_blank">心得報告</a></p>
                    <div class="card-deck">
                        <div class="card">
                            <img class="card-img-top" src="http://oia.nutn.edu.tw/upload/workbench/images/%E8%91%89%E5%87%A1%E7%91%80-1.jpg" alt="">
                            <div class="card-body">
                                <h5 class="card-title">和朋友一起去濟州島</h5>
                            </div>
                        </div>
                        <div class="card">
                            <img class="card-img-top" src="http://oia.nutn.edu.tw/upload/workbench/images/%E8%91%89%E5%87%A1%E7%91%80-1.jpg" alt="">
                            <div class="card-body">
                                <h5 class="card-title">GLOBAL K 舉辦的送別會</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content-ft"><a href="#content" class="back-to-top">Top</a></div>
            </div>
        </main>
    </div>
</div>

<div class="push"></div>

<% content_for :js do %>

<% end %>