<div class="container container-index">
    <%= render :partial => "/partials/breadcrumb" %>
    <div class="row">
        <main class="col-12">
            <div class="content-box article">
                <h2 class="main-title">搜尋</h2>
                <p>請勾選資料的條件</p>
                <div class="search-section">
                    <form>
                        <div class="form-group row">
                            <label for="inputSearch" class="col-sm-2 col-form-label">關鍵字</label>
                            <div class="col-sm-10">
                                <input type="search" class="form-control" id="inputSearch" placeholder="search">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="staticEmail" class="col-sm-2 col-form-label">網站管理</label>
                            <div class="col-sm-10 pt-2">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="customCheck1">
                                    <label class="custom-control-label" for="customCheck1">網頁文件</label>
                                </div>
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="customCheck2">
                                    <label class="custom-control-label" for="customCheck2">活動花絮</label>
                                </div>
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="customCheck3">
                                    <label class="custom-control-label" for="customCheck3">相關連結</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="staticEmail" class="col-sm-2 col-form-label">國際合作</label>
                            <div class="col-sm-10 pt-2">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="customCheck4">
                                    <label class="custom-control-label" for="customCheck4">姊妹校</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="staticEmail" class="col-sm-2 col-form-label">全選</label>
                            <div class="col-sm-10 pt-2">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="customCheck5">
                                    <label class="custom-control-label" for="customCheck5">全選</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row mt-2">
                            <div class="col-sm-10 offset-md-2">
                                <button type="button" class="btn btn-primary">搜尋</button>
                                <button type="button" class="btn btn-light">清除</button>
                            </div>
                        </div>
                    </form>
                </div>
                <h2 class="main-title">搜尋結果</h2>
                <ul class="search-result">
                    <li>
                        <a href="#">
                            <h4>(申請日期：106/11/15-12/1)本校107學年度出國交換學生申請</h4>
                            <span class="datetime">
                                <i class="fa fa-clock-o" aria-hidden="true"></i>2017-11-09
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <h4>2017年交換學生來校心得報告</h4>
                            <span class="datetime">
                                <i class="fa fa-clock-o" aria-hidden="true"></i>2017-11-09
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <h4>2017年交換學生來校心得報告</h4>
                            <span class="datetime">
                                <i class="fa fa-clock-o" aria-hidden="true"></i>2017-11-09
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <h4>2017年交換學生來校心得報告</h4>
                            <span class="datetime">
                                <i class="fa fa-clock-o" aria-hidden="true"></i>2017-11-09
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <h4>2017年交換學生來校心得報告</h4>
                            <span class="datetime">
                                <i class="fa fa-clock-o" aria-hidden="true"></i>2017-11-09
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <h4>2017年交換學生來校心得報告</h4>
                            <span class="datetime">
                                <i class="fa fa-clock-o" aria-hidden="true"></i>2017-11-09
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <h4>2017年交換學生來校心得報告</h4>
                            <span class="datetime">
                                <i class="fa fa-clock-o" aria-hidden="true"></i>2017-11-09
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <h4>2017年交換學生來校心得報告</h4>
                            <span class="datetime">
                                <i class="fa fa-clock-o" aria-hidden="true"></i>2017-11-09
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <h4>2017年交換學生來校心得報告</h4>
                            <span class="datetime">
                                <i class="fa fa-clock-o" aria-hidden="true"></i>2017-11-09
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <h4>2017年交換學生來校心得報告</h4>
                            <span class="datetime">
                                <i class="fa fa-clock-o" aria-hidden="true"></i>2017-11-09
                            </span>
                        </a>
                    </li>
                </ul>
                <nav aria-label="Page navigation example" class="mt-4">
                    <ul class="pagination justify-content-end">
                        <li class="page-item disabled">
                            <a class="page-link" href="#" tabindex="-1">Previous</a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#">Next</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </main>
    </div>
</div>

<div class="push"></div>

<% content_for :js do %>

<% end %>