<div class="container container-index">
    <%= render :partial => "/partials/breadcrumb" %>
    <div class="row">
        <main class="col-12">
            <div class="content-box article">
                <h2 class="main-title">網站地圖</h2>
                <div class="sitemap">
                    <ul>
                        <li>
                            <h3><a href="#">首頁</a></h3>
                            <ul>
                                <li><a href="#">最新消息</a></li>
                            </ul>
                        </li>
                        <li>
                            <h3><a href="#">本處簡介</a></h3>
                            <ul>
                                <li><a href="#">處室簡介</a></li>
                                <li><a href="#">成員與業務</a></li>
                            </ul>
                        </li>
                        <li>
                            <h3><a href="#">語文中心</a></h3>
                        </li>
                        <li>
                            <h3><a href="#">出國交換</a></h3>
                            <ul>
                                <li><a href="#">相關資訊</a></li>
                                <li><a href="#">心得報告</a></li>
                                <li><a href="#">問卷調查</a></li>
                                <li><a href="#">訪談分析</a></li>
                            </ul>
                        </li>
                        <li>
                            <h3><a href="#">境外學生</a></h3>
                            <ul>
                                <li><a href="#">外國學生</a></li>
                                <li><a href="#">港澳學生</a></li>
                                <li><a href="#">來校交換</a></li>
                                <li><a href="#">心得報告</a></li>
                            </ul>
                        </li>
                         <li>
                            <h3><a href="#">國際合作</a></h3>
                        </li>
                         <li>
                            <h3><a href="#">辦法表格</a></h3>
                        </li>
                         <li>
                            <h3><a href="#">活動花絮</a></h3>
                        </li>
                         <li>
                            <h3><a href="#">聯絡我們</a></h3>
                        </li>
                         <li>
                            <h3><a href="#">南大首頁</a></h3>
                        </li>
                    </ul>
                </div>
            </div>
        </main>
    </div>
</div>

<div class="push"></div>

<% content_for :js do %>

<% end %>