<!-- admin-page: 臺大保管組 / 單筆文件審查作業 -->
<%= render :partial => "/partials/admin_breadcrumb" %>

<main class="main">
    <div class="page-header mb-3">
        <h1>審查作業</h1>
    </div>
    <div class="document-review-wrapper">
        
        <div class="left-bar">
            <div class="info-group">
                <div class="row form-group">
                    <label class="col-3 col-form-label text-right">申請序號</label>
                    <div class="col-9 form-output">YYYY0001 (目前狀態：處理中)</div>
                </div>
            </div>
            <div class="d-flex mb-2">
                <h4 class="mb-0 me-4">申請表資訊</h4>
                <div class="btn-group">
                    <a href="#" class="btn btn-sm btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal" title="列印文件紀錄">列印文件紀錄</a>
                    <a href="#" class="btn btn-sm btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal" title="補件紀錄">補件紀錄</a>
                    <a href="#" class="btn btn-sm btn-success" title="瀏覽">瀏覽</a>
                </div>
            </div>
            <div class="info-group">
                <div class="row form-group">
                    <label class="col-3 col-form-label text-right">申請時間</label>
                    <div class="col-9 form-output">YYYY-MM-DD HH:mm</div>
                </div>
                <div class="row form-group">
                    <label class="col-3 col-form-label text-right">使用單位</label>
                    <div class="col-9 form-output">生物環境系統工程學系</div>
                </div>
                <div class="row form-group">
                    <label class="col-3 col-form-label text-right">財物使用人</label>
                    <div class="col-9 form-output">(多) 高OO</div>
                </div>
                <div class="row form-group">
                    <label class="col-3 col-form-label text-right">聯絡人</label>
                    <div class="col-9 form-output">王OO 288252552</div>
                </div>
                <div class="row form-group">
                    <label class="col-3 col-form-label text-right">Email</label>
                    <div class="col-9 form-output">sa@aa.com.tw</div>
                </div>
            </div>
            <h4><strong class="text-primary">Step4</strong> 審查結果登錄</h4>
            <div class="mb-4">
                <div class="form-group mb-2">
                    <select class="form-select" aria-label="Default select example">
                        <option selected>Open this select menu</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>
                <div class="form-group mb-2">
                    <select class="form-select" aria-label="Default select example">
                        <option selected>Open this select menu</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>
                <div class="form-group mb-2">
                    <textarea class="form-control" id="" rows="3" placeholder="審查意見"></textarea>
                </div>
                <div class="form-group mb-2">
                    <select class="form-select" aria-label="Default select example">
                        <option selected>Open this select menu</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>
            </div>
            <div class="d-flex mb-2">
                <div class="d-flex align-items-center me-4">
                    <h4 class="mb-0 me-2"><strong class="text-primary">Step5</strong></h4>
                    <span><a href="#" class="btn btn-sm btn-info" title="儲存審查結果">儲存審查結果</a></span>
                </div>
                <div class="d-flex align-items-center">
                    <h4 class="mb-0 me-2"><strong class="text-primary">Step6</strong></h4>
                    <span><a href="#" class="btn btn-sm btn-info" title="登錄財產編號">登錄財產編號</a></span>
                </div>
            </div>
            <div class="mb-4">
                <table class="table table-bordered align-middle bg-body">
                    <thead class="table-light">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">主件編號</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>3140101001-89991 (附2)</td>
                            <td class="text-end">
                                 <a href="#" class="btn btn-sm btn-outline-primary" data-bs-toggle="modal" data-bs-target="#exampleModal2" title="編輯"><i class="fas fa-pencil-alt"></i></a>
                                <a href="#" class="btn btn-sm btn-outline-danger" title="刪除"><i class="fas fa-trash-alt"></i></a>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>3140101001-89992</td>
                            <td class="text-end">
                                 <a href="#" class="btn btn-sm btn-outline-primary" title="編輯"><i class="fas fa-pencil-alt"></i></a>
                                <a href="#" class="btn btn-sm btn-outline-danger" title="刪除"><i class="fas fa-trash-alt"></i></a>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>3140101009-121</td>
                            <td class="text-end">
                                 <a href="#" class="btn btn-sm btn-outline-primary" title="編輯"><i class="fas fa-pencil-alt"></i></a>
                                <a href="#" class="btn btn-sm btn-outline-danger" title="刪除"><i class="fas fa-trash-alt"></i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="d-flex mb-2">
                <div class="d-flex align-items-center me-4">
                    <h4 class="mb-0 me-2"><strong class="text-primary">Step7</strong></h4>
                    <span><a href="#" class="btn btn-sm btn-info">下載列印文件</a></span>
                </div>
                <div class="d-flex align-items-center">
                    <h4 class="mb-0 me-2"><strong class="text-primary">Step8</strong></h4>
                    <span><a href="#" class="btn btn-sm btn-info">單筆所有標籤列印</a></span>
                </div>
            </div>
            <p class="mt-5">
            <a href="#" class="btn btn-outline-dark"><i class="fas fa-long-arrow-alt-left"></i> 回審查文件及查詢</a>
            </p>
        </div>
        
        <div class="right-content">
            
            <ul class="nav nav-tabs doc-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="doc-tab1" data-bs-toggle="tab" data-bs-target="#doc-tab1-pane" type="button" role="tab" aria-controls="doc-tab1-pane" aria-selected="true">單據<span class="badge rounded-pill text-bg-secondary">待處理</span></button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="doc-tab2" data-bs-toggle="tab" data-bs-target="#doc-tab2-pane" type="button" role="tab" aria-controls="doc-tab2-pane" aria-selected="false">財物照片1<span class="badge rounded-pill text-bg-warning">須補件</span></button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="doc-tab3" data-bs-toggle="tab" data-bs-target="#doc-tab3-pane" type="button" role="tab" aria-controls="doc-tab3-pane" aria-selected="false">購買冷氣核准文件<span class="badge rounded-pill text-bg-success">通過</span></button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="doc-tab4" data-bs-toggle="tab" data-bs-target="#doc-tab4-pane" type="button" role="tab" aria-controls="doc-tab4-pane" aria-selected="false">申請表<span class="badge rounded-pill text-bg-success">通過</span></button>
                </li>
            </ul>
            
            <div class="tab-content" id="myTabContent">
                
                <div class="tab-pane fade show active" id="doc-tab1-pane" role="tabpanel" aria-labelledby="doc-tab1" tabindex="0">
                    <div class="d-flex align-items-center mb-3">
                        <div class="me-5">
                            <h4 class="mb-0"><strong class="text-primary">Step1</strong> 文件內容審查</h4>
                        </div>
                        <div class="me-3">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1" />
                                <label class="form-check-label" for="inlineRadio1">通過</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2" />
                                <label class="form-check-label" for="inlineRadio2">須補件</label>
                            </div>
                        </div>
                        <div class="me-3">
                            <div>
                                <select class="form-select" aria-label="Default select example">
                                    <option selected>Open this select menu</option>
                                    <option value="1">工程案請以整組財產整理成excel表</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                            </div>
                        </div>
                        <div class="me-3">
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal3">裁切</button>
                            <button type="button" class="btn btn-info">View</button>
                            <button type="button" class="btn btn-secondary">Select</button>
                            <button type="button" class="btn btn-secondary">Upload</button>
                            <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#exampleModal">歷史紀錄</button>
                        </div>
                    </div>
                    
                    <div class="d-flex align-items-center mb-3">
                        <div class="me-5">
                            <h4 class="mb-0"><strong class="text-primary">Step2</strong> 填寫列印合併頁數</h4>
                        </div>
                        <div class="me-3 flex-grow-1">
                            <input class="form-control" type="text" placeholder="blah blah blah">
                        </div>
                        <div class="me-3 form-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1" />
                            <label class="form-check-label" for="exampleCheck1">全部頁數</label>
                        </div>
                    </div>
                    
                    <div class="d-flex align-items-center mb-3">
                        <div class="d-flex align-items-center me-2">
                            <h4 class="mb-0"><strong class="text-primary">Step3</strong></h4>
                            <span class="ms-2"><a href="#" class="btn btn-sm btn-primary" title="儲存選擇文件">儲存選擇文件</a></span>
                        </div>
                        <div class="me-3">
                            單據(1),財物照片1(全),...
                        </div>
                    </div>
                    
                    <div class="viewer-wrapper">
                        PDF VIEWER
                    </div>
                </div>
                
                <div class="tab-pane fade" id="doc-tab2-pane" role="tabpanel" aria-labelledby="doc-tab2" tabindex="0">
                    <div class="d-flex align-items-center mb-3">
                        <div class="me-5">
                            <h4 class="mb-0"><strong class="text-primary">Step1</strong> 文件內容審查</h4>
                        </div>
                        <div class="me-3">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1" />
                                <label class="form-check-label" for="inlineRadio1">通過</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2" />
                                <label class="form-check-label" for="inlineRadio2">須補件</label>
                            </div>
                        </div>
                        <div class="me-3">
                            <div>
                                <select class="form-select" aria-label="Default select example">
                                    <option selected>Open this select menu</option>
                                    <option value="1">工程案請以整組財產整理成excel表</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                            </div>
                            
                            <!-- 需補件原因時才出現 -->
                            <div class="mt-1">
                                <input class="form-control" type="text" placeholder="其他：補件原因說明">
                            </div>
                        </div>
                        <div class="me-3">
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal3">裁切</button>
                            <button type="button" class="btn btn-info">View</button>
                            <button type="button" class="btn btn-secondary">Select</button>
                            <button type="button" class="btn btn-secondary">Upload</button>
                            <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#exampleModal">歷史紀錄</button>
                        </div>
                    </div>
                    
                    <div class="d-flex align-items-center mb-3">
                        <div class="me-5">
                            <h4 class="mb-0"><strong class="text-primary">Step2</strong> 填寫列印合併頁數</h4>
                        </div>
                        <div class="me-3 flex-grow-1">
                            <input class="form-control" type="text" placeholder="blah blah blah">
                        </div>
                        <div class="me-3 form-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1" />
                            <label class="form-check-label" for="exampleCheck1">全部頁數</label>
                        </div>
                    </div>
                    
                    <div class="d-flex align-items-center mb-3">
                        <div class="d-flex align-items-center me-2">
                            <h4 class="mb-0"><strong class="text-primary">Step3</strong></h4>
                            <span class="ms-2"><a href="#" class="btn btn-sm btn-primary" title="儲存選擇文件">儲存選擇文件</a></span>
                        </div>
                        <div class="me-3">
                            單據(1),財物照片1(全),...
                        </div>
                    </div>
                    
                    <div class="viewer-wrapper">
                        PDF VIEWER
                    </div>
                </div>
                
                <div class="tab-pane fade" id="doc-tab3-pane" role="tabpanel" aria-labelledby="doc-tab3" tabindex="0">33333</div>
                
                <div class="tab-pane fade" id="doc-tab4-pane" role="tabpanel" aria-labelledby="doc-tab4" tabindex="0">444444</div>
                
            </div>

        </div>
        
    </div>
</main>

<!-- 列印文件紀錄 & 補件紀錄 & 歷史紀錄 Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                table
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">關閉</button>
            </div>
        </div>
    </div>
</div>

<!-- 維護標籤設定 Modal -->
<div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">維護標籤設定</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <ul class="nav nav-tabs" id="myTab2" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="label-tab" data-bs-toggle="tab" data-bs-target="#label-tab-pane" type="button" role="tab" aria-controls="label-tab-pane" aria-selected="true">標籤資訊</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="print-tab" data-bs-toggle="tab" data-bs-target="#print-tab-pane" type="button" role="tab" aria-controls="print-tab-pane" aria-selected="false">標籤列印紀錄</button>
                    </li>
                </ul>
                <div class="tab-content" id="myTab2Content">
                    <div class="tab-pane fade show active" id="label-tab-pane" role="tabpanel" aria-labelledby="label-tab" tabindex="0">
                        表單
                    </div>
                    <div class="tab-pane fade" id="print-tab-pane" role="tabpanel" aria-labelledby="print-tab" tabindex="0">table</div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">關閉</button>
                <button type="button" class="btn btn-primary">儲存</button>

            </div>
        </div>
    </div>
</div>

<!-- 裁切 Modal -->
<div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">單據</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>非照片檔案會先轉成照片檔案格式，依照該檔案的頁數產生對應的圖檔數量，完成裁切或轉向後請執行【合併回PDF】將檔案轉換回PDF檔案格式，系統會自動取代原有的檔案</p>
                <div class="row">
                    <div class="col-2">
                        <ul class="list-group">
                            <li class="list-group-item">
                                單據001
                                <button type="button" class="btn btn-sm btn-danger btn-rounded">刪除</button>
                            </li>
                            <li class="list-group-item">
                                單據002
                                <button type="button" class="btn btn-sm btn-danger btn-rounded">刪除</button>
                            </li>
                            <li class="list-group-item">
                                單據003
                                <button type="button" class="btn btn-sm btn-danger btn-rounded">刪除</button>
                            </li>
                        </ul>
                    </div>
                    <div class="col-10">
                        <div class="cutting-wrapper">
                            <div class="cutting-stage" style="height: 300px; background: #888;">
                                裁切區塊, inline css 請拿掉
                            </div>
                            <div class="text-end mt-2">
                                <button type="button" class="btn btn-outline-dark">向左旋轉</button>
                                <button type="button" class="btn btn-outline-dark">向右旋轉</button>
                                <button type="button" class="btn btn-outline-dark">合併回PDF</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">關閉</button>
                <button type="button" class="btn btn-primary">儲存</button>

            </div>
        </div>
    </div>
</div>

<% content_for :js do %>

<% end %>