<!-- Culroc-BK: 備轉金帳戶查詢  -->

<div class="container">
    <main class="main-content fund">
		<div class="main-hd">
		    <h4>備轉金帳戶查詢</h4>
		</div>
	    <div class="table-wrap">
		    <!--table class="table table-striped stock-table-responsive">
			    <thead class="special-color white-text">
				    <tr>
					    <th>日期</th>
						<th>轉入/轉出</th>
						<th>金額</th>
						<th>結餘</th>
					</tr>
				</thead>
				<tbody>
					<% (1..10).map do |i| %>
				    <tr>
					    <td>2018/03/14</td>
						<td>轉入</td>
						<td>1,00,00,000</td>
						<td>21,00,00,000</td>
					</tr>
					<% end %>
				</tbody>
			</table-->
		    <div class="nodata">
			    <h5>尚無資料</h5>
				<p>在尚無任何數據之前呈現的說明區塊</p>
			</div>
		</div>
	</main>
</div>