<!-- Culroc-BK: 首頁  -->

<div class="container">
    <ul class="nav-guide menu-item">
	    <li>
		    <a href="stock.html" class="guide-wrap waves-effect">
				<div class="inner">
					<h5>股金帳戶查詢</h5>
					<p>股金餘額
						<span class="stress"><i class="fa fa-money"></i>10,000</span>
					</p>
				</div>
			</a>
		</li>
		<li>
		    <a href="fund.html" class="guide-wrap waves-effect">
				<div class="inner">
					<h5>備轉金帳戶查詢</h5>
					<p>備轉金餘額
						<span class="stress"><i class="fa fa-money"></i>10,000</span>
					</p>
				</div>
			</a>
		</li>
		<li>
		    <a href="loan.html" class="guide-wrap waves-effect">
				<div class="inner">
					<h5>貸款資料查詢</h5>
					<p>下次還款日期
						<span class="stress"><i class="fa fa-calendar"></i>107/01/29</span>
					</p>
				</div>
			</a>
		</li>
		<li>
		    <a href="mutual-aid.html" class="guide-wrap waves-effect">
				<div class="inner">
					<h5>互助基金查詢</h5>
					<p>已參加互助基金
						<span class="stress"><i class="fa fa-handshake-o"></i>3</span>
					</p>
				</div>
			</a>
		</li>
		<li>
		    <a href="payroll.html" class="guide-wrap waves-effect">
				<div class="inner">
					<h5>薪資轉帳紀錄</h5>
					<p>最近一筆紀錄
						<span class="stress"><i class="fa fa-calendar"></i>107/11/06</span>
					</p>
				</div>
			</a>
		</li>
		<li>
		    <a href="log.html" class="guide-wrap waves-effect">
				<div class="inner">
			        <h5>登入記錄查詢</h5>
				</div>
			</a>
		</li>
		<li>
		    <a href="password.html" class="guide-wrap waves-effect">
				<div class="inner">
			        <h5>變更密碼</h5>
				</div>
			</a>
		</li>
		<li>
		    <a href="/" class="guide-wrap waves-effect">
				<div class="inner">
			        <h5>協會官網</h5>
				</div>
			</a>
		</li>
	</ul>
</div>

<% content_for :js do %>

<script>
    
</script>
<% end %>