<!-- Culroc-BK: 貸款資料查詢  -->

<div class="container">
    <main class="main-content loan">
		<div class="main-hd">
		    <h4>貸款資料查詢</h4>
		</div>
	    <div class="table-wrap table-responsive-xxl">
		    <table class="table table-striped">
			    <thead class="special-color white-text">
				    <tr>
					    <th></th>
						<th>借據號碼</th>
						<th>借款方案</th>
						<th>借款金額</th>
						<th>借款期間(起)</th>
						<th>借款期間(迄)</th>
						<th>下次應繳日期</th>
						<th>下次應繳金額</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<% (1..5).map do |i| %>
				    <tr>
					    <td>1</td>
						<td>ab12345678</td>
						<td>方案名稱</td>
						<td>1,00,00,000</td>
						<td>108/10/15</td>
						<td>109/10/15</td>
						<td>108/11/15</td>
						<td>10,00,000</td>
						<td>
						    <a href="repayment.html" class="btn btn-xs btn-outline-info waves-effect">還款紀錄</a>
						</td>
					</tr>
					<% end %>
				</tbody>
			</table>
		</div>
	</main>
</div>