<!-- Culroc-BK: 登入紀錄查詢  -->

<div class="container">
    <main class="main-content log">
		<div class="main-hd">
		    <h4>登入紀錄查詢</h4>
		</div>
	    <div class="table-wrap">
		    <table class="table table-striped">
			    <thead class="special-color white-text">
				    <tr>
					    <th>登入時間</th>
						<th>IP 位址</th>
					</tr>
				</thead>
				<tbody>
					<% (1..5).map do |i| %>
				    <tr>
					    <td>2018/03/14</td>
						<td>127.0.0.1</td>
					</tr>
					<% end %>
				</tbody>
			</table>
		</div>
	</main>
</div>