<!-- Culroc-BK: 互助基金查詢  -->

<div class="container">
    <main class="main-content mutual-aid">
		<div class="main-hd">
		    <h4>互助基金查詢</h4>
		</div>
	    <div class="table-wrap">
		    <table class="table table-striped mutual-aid-table-responsive">
			    <thead class="special-color white-text">
				    <tr>
					    <th></th>
						<th>年度</th>
						<th>方案名稱</th>
						<th>子方案名稱</th>
						<th>繳款狀態</th>
					</tr>
				</thead>
				<tbody>
					<% (1..3).map do |i| %>
				    <tr>
					    <td>1</td>
						<td>107</td>
						<td>方案名稱</td>
						<td>A</td>
						<td>已繳</td>
					</tr>
					<% end %>
				</tbody>
			</table>
		</div>
	</main>
</div>