<!-- Culroc-BK: 薪資轉帳紀錄  -->

<div class="container">
    <main class="main-content payroll">
		<div class="main-hd">
		    <h4>薪資轉帳紀錄</h4>
		</div>
	    <div class="table-wrap">
			<!-- 不確定欄位，在 responsive 下請參考其它頁面 table 給適當的 xxx-table-responsive，或呼叫 fire 給 css -->
		    <div class="nodata">
			    <h5>尚無資料</h5>
				<p>在尚無任何數據之前呈現的說明區塊</p>
			</div>
		</div>
	</main>
</div>