<!-- Culroc-BK: 薪資轉帳紀錄  -->

<div class="container">
    <main class="main-content payroll">
		<div class="main-hd">
		    <h4>薪資轉帳紀錄</h4>
		</div>
	    <div class="table-wrap">
		    <table class="table table-striped stock-table-responsive">
			    <thead class="special-color white-text">
				    <tr>
					    <th>日期</th>
						<th>股金</th>
						<th>備轉金</th>
						<th>還款</th>
						<th>總額</th>
					</tr>
				</thead>
				<tbody>
					<% (1..10).map do |i| %>
				    <tr>
					    <td>2018/03/14</td>
						<td>1,00,00,000</td>
						<td>10,00,000</td>
						<td>
							<span class="pr-2">1,00,000</span>
							<a class="btn-floating btn-sm blue-gradient un-shadows" title="檢視明細" data-toggle="modal" data-target="#basicExampleModal"><i class="fa fa-search"></i></a>
						</td>
						<td>21,00,00,000</td>
					</tr>
					<% end %>
				</tbody>
			</table>
		    <!--div class="nodata">
			    <h5>尚無資料</h5>
				<p>在尚無任何數據之前呈現的說明區塊</p>
			</div-->
		</div>
	</main>
</div>

<div class="modal fade" id="basicExampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header info-color text-white">
                <h5 class="modal-title" id="exampleModalLabel">還款明細</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h5 class="font-weight-bold">1070010001</h5>
				<ul class="repayment-details menu-item">
				    <li>
					    <span class="label">本金</span>
						<span class="label-content">10,00,000</span>
					</li>
					<li>
					    <span class="label">利息</span>
						<span class="label-content">10,00,000</span>
					</li>
					<li>
					    <span class="label">違約金</span>
						<span class="label-content">10,00,000</span>
					</li>
				</ul>
				<h5 class="font-weight-bold">1070010002</h5>
				<ul class="repayment-details menu-item">
				    <li>
					    <span class="label">本金</span>
						<span class="label-content">10,00,000</span>
					</li>
					<li>
					    <span class="label">利息</span>
						<span class="label-content">10,00,000</span>
					</li>
					<li>
					    <span class="label">違約金</span>
						<span class="label-content">10,00,000</span>
					</li>
				</ul>
            </div>
        </div>
    </div>
</div>