<!-- Culroc-BK: 貸款資料查詢  -->

<div class="container">
    <main class="main-content loan">
		<div class="main-hd has-col">
		    <h4>貸款資料查詢</h4>
			<a href="loan.html" class="back"><i class="fa fa-arrow-left"></i></a>
			<h5>借據<span>107010100001</span></h5>
		</div>
	    <div class="table-wrap">
		    <table class="table table-striped repayment-table-responsive">
			    <thead class="special-color white-text">
				    <tr>
					    <th>還款日期</th>
						<th>本金</th>
						<th>利息</th>
						<th>違約金</th>
					</tr>
				</thead>
				<tbody>
					<% (1..5).map do |i| %>
				    <tr>
					    <td>108/11/15</td>
						<td>10,00,000</td>
						<td>50,000</td>
						<td>0</td>
					</tr>
					<% end %>
				</tbody>
			</table>
		</div>
	</main>
</div>