
/* `Footer
-----------------------------------------------------------------------------*/

footer.footer {
	color: #757575;
	.footer-inner {
        display: flex;
        justify-content: space-between;
		border-top: 1px dashed #ddd;
		padding: 3.75rem 0;
	}
	.menu-item.contact {
		//margin-bottom: 26px;
		li {
			margin-bottom: .25rem;
			padding-left: 1.875rem;
			position: relative;
            &:last-child { margin-bottom: 0; }
		}
		.fas {
			width: 1rem;
			text-align: center;
			font-size: .875rem;
			color: #ccc;
			position: absolute;
			left: 0;
			top: 5px;
			top: 5px;
		}
	}
	a {
		color: #000;
		&:hover {
			color: #1388c4;
		}
	}
    .end-content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .accessibility { text-align: end; }
}

/* `Responsive
-----------------------------------------------------------------------------*/

@media (max-width: 767px) {
	footer.footer {
		.footer-inner {
			display: block;
            padding: 2.5rem 0;
		}
        .accessibility {
            margin-top: .5rem;
            text-align: start;
        }
	}
}








