<!-- backend-rwd: UI / Alerts & Wells -->
<%= render :partial => "/partials/backend_breadcrumb" %>

<main class="main">
    <div class="page-header">
        <h2>Alerts / Well</h2>
        <p>Bootstrap style</p>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="col-block">
                <div class="block-header has-border">Default</div>
                <div class="block-content">
                    <div class="alert bg-success lightness text-success" role="alert">Well done! You successfully read this important alert message.</div>
                    <div class="alert bg-info lightness text-info" role="alert">Heads up! This alert needs your attention, but it's not super important.</div>
                    <div class="alert bg-primary lightness text-primary" role="alert">Primary</div>
                    <div class="alert bg-warning lightness text-warning" role="alert">Warning! Better check yourself, you're not looking too good.</div>
                    <div class="alert bg-danger lightness text-danger" role="alert">Oh snap! Change a few things up and try submitting again.</div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="col-block">
                <div class="block-header has-border">Dismissible alerts</div>
                <div class="block-content">
                    <div class="alert bg-warning lightness text-warning alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <strong>Warning!</strong> Better check yourself, you're not looking too good.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <h4 class="content-heading">使用類似舊版 well 的方式</h4>
    <div class="row">
        <div class="col-md-6">
            <div class="col-block">
                <div class="block-header has-border">Default</div>
                <div class="block-content">
                    <div class="card">
                        <code>.card</code>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="col-block">
                <div class="block-header has-border">Optional</div>
                <div class="block-content">
                    <p>可以加上相關 class 讓容器符合需求，例如以下樣式為 padding 1rem、背景淺灰、取消陰影、margin bottom 1rem</p>
                    <div class="card p-3 bg-lightgrey unshadow mb-3">
                        <code>.card .p-3 .bg-lightgrey .unshadow .mb-3</code>
                    </div>
                    <p>或是 padding 1.5rem、背景灰</p>
                    <div class="card p-4 bg-grey">
                        <code>.card .p-4 .bg-grey</code>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>