<!-- backend-rwd: UI / Button -->
<%= render :partial => "/partials/backend_breadcrumb" %>

<main class="main">
    <div class="page-header">
        <h2>Buttons</h2>
        <p>Bootstrap + MDBootstrap + Customize style</p>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <div class="col-block">
                <div class="row">                
                    <div class="col-12">
                        <div class="block-header has-border">Button tags</div>
                        <div class="block-content">
                            <a class="btn btn-default" href="#" role="button">Link</a>
                            <button class="btn btn-default" type="submit">Button</button>
                            <input class="btn btn-default" type="button" value="Input">
                            <input class="btn btn-default" type="submit" value="Submit">
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="block-header has-border">Sizes</div>
                        <div class="block-content">
                            <div class="block">
                                <a href="#" class="btn btn-primary btn-lg">Large button</a>
                                <a href="#" class="btn btn-default btn-lg">Large button</a>
                            </div>
                            <div class="block">
                                <a href="#" class="btn btn-primary">Default button</a>
                                <a href="#" class="btn btn-default">Default button</a>
                            </div>
                            <div class="block">
                                <a href="#" class="btn btn-primary btn-sm">Small button</a>
                                <a href="#" class="btn btn-default btn-sm">Small button</a>
                            </div>
                            <div class="block">
                                <p>客製化尺寸</p>
                                <a href="#" class="btn btn-primary btn-xs">Extra small button</a>
                                <a href="#" class="btn btn-default btn-xs">繁體中文</a>
                            </div>
                            <div class="block">
                                <p>滿版</p>
                                <button type="button" class="btn btn-default btn-lg btn-block">Block level button</button>
                                <button type="button" class="btn btn-light-blue btn-lg btn-block">Block level button</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-8">
            <div class="col-block">
                <div class="block-header has-border">Options</div>
                <div class="block-content">
                    <div class="block">
                        <button type="button" class="btn btn-default">Default</button>
                        <button type="button" class="btn btn-primary">Primary</button>
                        <button type="button" class="btn btn-success">Success</button>
                        <button type="button" class="btn btn-info">Info</button>
                        <button type="button" class="btn btn-warning">Warning</button>
                        <button type="button" class="btn btn-danger">Danger</button>
                        <button type="button" class="btn btn-link">Link</button>
                    </div>
                    <div class="block">
                        <p>新增後台使用</p>
                        <a href="#" class="btn btn-angel btn-lg">Minor</a>
                        <a href="#" class="btn btn-angel">Minor</a>
                        <a href="#" class="btn btn-angel btn-sm">Minor</a>
                        <a href="#" class="btn btn-angel btn-xs">Minor</a>
                        <p>
                            <div class="btn-group btn-group-default">
                                <button type="button" class="btn btn-angel">Middle</button>
                                <button type="button" class="btn btn-angel">Right</button>
                                <button type="button" class="btn btn-angel">Action</button>
                                <button type="button" class="btn btn-angel">繁體中文</button>
                            </div>
                            <div class="btn-group btn-group-sm">
                                <button type="button" class="btn btn-angel">Middle</button>
                                <button type="button" class="btn btn-angel">Right</button>
                                <button type="button" class="btn btn-angel">Action</button>
                                <button type="button" class="btn btn-angel">繁體中文</button>
                            </div>
                            <div class="btn-group btn-group-xs">
                                <button type="button" class="btn btn-angel">Middle</button>
                                <button type="button" class="btn btn-angel">Right</button>
                                <button type="button" class="btn btn-angel">Action</button>
                                <button type="button" class="btn btn-angel">繁體中文</button>
                            </div>
                        </p>
                    </div>
                    <div class="block">
                        <p>disabled</p>
                        <button class="btn btn-primary" disabled>Primary button</button>
                        <button class="btn btn-default" disabled>Button</button>
                    </div>
                    <div class="block">
                        <p>Gradient buttons</p>
                        <button class="btn peach-gradient btn-rounded">Peach</button>
                        <button class="btn purple-gradient btn-rounded">Purple</button>
                        <button class="btn blue-gradient btn-rounded">Blue</button>
                        <button class="btn aqua-gradient btn-rounded">Aqua</button>
                    </div>
                    <div class="block">
                        <p>Outline buttons <code>.btn-outline-[color]</code></p>
                        <button type="button" class="btn btn-outline-primary waves-effect">Primary</button>
                        <button type="button" class="btn btn-outline-default waves-effect">Default</button>
                        <button type="button" class="btn btn-outline-secondary waves-effect">Secondary</button>
                        <button type="button" class="btn btn-outline-success waves-effect">Success</button>
                        <button type="button" class="btn btn-outline-info waves-effect">Info</button>
                        <button type="button" class="btn btn-outline-warning waves-effect">Warning</button>
                        <button type="button" class="btn btn-outline-danger waves-effect">Danger</button>
                    </div>
                    <div class="block">
                        <p>Rounded buttons</p>
                        <button type="button" class="btn btn-primary btn-rounded">Primary</button>
                        <button type="button" class="btn btn-default btn-rounded">Default</button>
                        <button type="button" class="btn btn-secondary btn-rounded">Secondary</button>
                        <button type="button" class="btn btn-success btn-rounded">Success</button>
                        <button type="button" class="btn btn-info btn-rounded">Info</button>
                        <button type="button" class="btn btn-warning btn-rounded">Warning</button>
                        <button type="button" class="btn btn-danger btn-rounded">Danger</button>
                    </div>
                    <div class="block">
                        <p>Rounded outline buttons <code>.btn-outline-[color] .rounded</code></p>
                        <button type="button" class="btn btn-outline-primary btn-rounded waves-effect">Primary</button>
                        <button type="button" class="btn btn-outline-default btn-rounded waves-effect">Default</button>
                        <button type="button" class="btn btn-outline-secondary btn-rounded waves-effect">Secondary</button>
                        <button type="button" class="btn btn-outline-success btn-rounded waves-effect">Success</button>
                        <button type="button" class="btn btn-outline-info btn-rounded waves-effect">Info</button>
                        <button type="button" class="btn btn-outline-warning btn-rounded waves-effect">Warning</button>
                        <button type="button" class="btn btn-outline-danger btn-rounded waves-effect">Danger</button>
                    </div>
                    <div class="block">
                        <p>Shadow off <code>.unshadow</code></p>
                        <button type="button" class="btn unshadow btn-outline-primary btn-rounded waves-effect">Primary</button>
                        <button type="button" class="btn unshadow btn-outline-default btn-rounded waves-effect">Default</button>
                        <button type="button" class="btn unshadow btn-outline-secondary btn-rounded waves-effect">Secondary</button>
                        <button type="button" class="btn unshadow btn-outline-success btn-rounded waves-effect">Success</button>
                        <button type="button" class="btn unshadow btn-outline-info btn-rounded waves-effect">Info</button>
                        <button type="button" class="btn unshadow btn-outline-warning btn-rounded waves-effect">Warning</button>
                        <button type="button" class="btn unshadow btn-outline-danger btn-rounded waves-effect">Danger</button>
                    </div>
                    <div class="block">
                        <p>Floating buttons</p>
                        <a class="btn-floating btn-lg purple-gradient"><i class="fa fa-bolt"></i></a>
                        <a class="btn-floating peach-gradient"><i class="fa fa-leaf"></i></a>
                        <a class="btn-floating btn-sm blue-gradient"><i class="fa fa-star"></i></a>
                        <button class="btn btn-primary"><i class="fa fa-magic mr-1"></i> Left</button>
                    </div>
                    <div class="block">
                        <p>Buttons with icons</p>
                        <button class="btn btn-primary"><i class="fa fa-magic mr-1"></i> Left</button>
                        <button class="btn btn-white">btn-white <i class="fa fa-magic ml-1"></i></button>
                        <button class="btn btn-angel"><i class="fa fa-heart mr-1"></i> btn-angel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="col-block">
                <div class="block-header has-border">Button toolbar</div>
                <div class="block-content">
                    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                        <div class="btn-group btn-group-sm mr-2" role="group" aria-label="First group">
                            <button type="button" class="btn btn-secondary">1</button>
                            <button type="button" class="btn btn-secondary">2</button>
                            <button type="button" class="btn btn-secondary">3</button>
                            <button type="button" class="btn btn-secondary">4</button>
                        </div>
                        <div class="btn-group btn-group-sm mr-2" role="group" aria-label="Second group">
                            <button type="button" class="btn btn-secondary">5</button>
                            <button type="button" class="btn btn-secondary">6</button>
                            <button type="button" class="btn btn-secondary">7</button>
                        </div>
                        <div class="btn-group btn-group-sm" role="group" aria-label="Third group">
                            <button type="button" class="btn btn-secondary">8</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="col-block">
                <div class="block-header has-border">Nesting</div>
                <div class="block-content">
                    <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                        <button type="button" class="btn btn-secondary">1</button>
                        <button type="button" class="btn btn-secondary">2</button>
                    
                        <div class="btn-group" role="group">
                            <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Dropdown
                            </button>
                            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                <a class="dropdown-item" href="#">Dropdown link</a>
                                <a class="dropdown-item" href="#">Dropdown link</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6">
            <div class="col-block">
                <div class="block-header has-border">Dropdown buttons</div>
                <div class="block-content">
					<div class="btn-group">
						<!--Trigger-->
						<button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Action</button>
						<!--Menu-->
						<div class="dropdown-menu dropdown-primary">
							<a class="dropdown-item" href="#">Action</a>
							<a class="dropdown-item" href="#">Another action</a>
							<a class="dropdown-item" href="#">Something else here</a>
							<a class="dropdown-item" href="#">Something else here</a>
						</div>
					</div>
					<div class="btn-group">
						<button type="button" class="btn btn-angel">Action</button>
						<button type="button" class="btn btn-angel dropdown-toggle px-3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<span class="sr-only">Toggle Dropdown</span>
						</button>
						<div class="dropdown-menu">
							<a class="dropdown-item" href="#">Action</a>
							<a class="dropdown-item" href="#">Another action</a>
							<a class="dropdown-item" href="#">Something else here</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="#">Separated link</a>
						</div>
					</div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="col-block">
                <div class="block-header has-border">Button groups</div>
                <div class="block-content">
                    <div class="btn-group">
                        <a href="#" class="btn btn-default">Left</a>
                        <a href="#" class="btn btn-default">Middle</a>
                        <a href="#" class="btn btn-default">Right</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8">
            <div class="row">
                <div class="col-12">
                    <div class="col-block">
                        <div class="block-header has-border">Justified link variation</div>
                        <div class="block-content">
                            <div class="btn-group btn-group-justified">
                                <a class="btn btn-default" role="button">Left</a>
                                <a class="btn btn-default" role="button">Middle</a>
                                <a class="btn btn-default" role="button">Right</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="col-block">
                        <div class="block-header has-border">Button group in form-actions</div>
                        <div class="block-content">
                            <div class="form-actions">
                                <div class="btn-group">
                                    <a class="btn btn-default" role="button">Left</a>
                                    <a class="btn btn-default" role="button">Middle</a>
                                    <a class="btn btn-default" role="button">Right</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="col-block">
                        <div class="block-header has-border">button + search toolbar</div>
                        <div class="block-content">
                            <div class="form-actions">
                                <div class="btn-group btn-group-sm">
                                    <a class="btn btn-default" role="button"><i class="fa fa-pencil" aria-hidden="true"></i>
</a>
                                    <a class="btn btn-default" role="button"><i class="fa fa-paper-plane" aria-hidden="true"></i>
</a>
                                    <a class="btn btn-default" role="button"><i class="fa fa-rocket" aria-hidden="true"></i>
</a>
                                </div>
                                <div class="search-sticky form-inline d-inline mr-auto">
                                    <input class="form-control form-control-sm" type="text" placeholder="Search" aria-label="Search"><button class="btn btn-default btn-sm my-0 ml-0" type="submit"><i class="fa fa-search"></i></button>
                                    <span class="ml-1">search html 的 input 跟 button 不可換行否則會出現空隙</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
				<div class="col-12">
                    <div class="col-block">
                        <div class="block-header has-border">Kim style button group</div>
                        <div class="block-content">
							<div class="btn-group unshadow">
								<a class="btn btn-default" role="button"><i class="fa fa-pencil" aria-hidden="true"></i>
</a>
								<a class="btn btn-default" role="button"><i class="fa fa-paper-plane" aria-hidden="true"></i>
</a>
								<a class="btn btn-default" role="button"><i class="fa fa-rocket" aria-hidden="true"></i>
</a>
							</div>
							<div class="btn-group btn-group-sm unshadow">
								<a class="btn btn-white" role="button"><i class="fa fa-pencil" aria-hidden="true"></i>
</a>
								<a class="btn btn-white" role="button"><i class="fa fa-paper-plane" aria-hidden="true"></i>
</a>
								<a class="btn btn-white" role="button"><i class="fa fa-rocket" aria-hidden="true"></i>
</a>
							</div>
							<p class="mt-3"><code>.btn-group</code> 加入 <code>.unshadow</code> 可移除陰影，底下的 <code>.btn</code> 加入 <code>.btn-white</code> 即可讓按鈕背景為白色</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="col-block">
                <div class="block-header has-border">Vertical variation</div>
                <div class="block-content">
                    <div class="btn-group btn-group-vertical">
                        <button type="button" class="btn btn-default">Button</button>
                        <button type="button" class="btn btn-default">Button</button>
                        <div class="btn-group">
                            <button id="btnGroupVerticalDrop1" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                Dropdown
                                <span class="caret"></span>
                            </button>
							<div class="dropdown-menu">
								<a class="dropdown-item" href="#">Dropdown link</a>
								<a class="dropdown-item" href="#">Dropdown link</a>
							</div>
                        </div>
                        <button type="button" class="btn btn-default">Button</button>
                        <button type="button" class="btn btn-default">Button</button>
                        <div class="btn-group">
                            <button id="btnGroupVerticalDrop2" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                Dropdown
                                <span class="caret"></span>
                            </button>
							<div class="dropdown-menu">
								<a class="dropdown-item" href="#">Dropdown link</a>
								<a class="dropdown-item" href="#">Dropdown link</a>
							</div>
                        </div>
                        <div class="btn-group">
                            <button id="btnGroupVerticalDrop3" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                Dropdown
                                <span class="caret"></span>
                            </button>
							<div class="dropdown-menu">
								<a class="dropdown-item" href="#">Dropdown link</a>
								<a class="dropdown-item" href="#">Dropdown link</a>
							</div>
                        </div>
                        <div class="btn-group">
                            <button id="btnGroupVerticalDrop4" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                Dropdown
                                <span class="caret"></span>
                            </button>
							<div class="dropdown-menu">
								<a class="dropdown-item" href="#">Dropdown link</a>
								<a class="dropdown-item" href="#">Dropdown link</a>
							</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>