<!-- Culroc-BK: 登入  -->

<div class="container">
    <main class="main-content login">
		<div class="main-hd">
		    <h4>社員登入</h4>
		</div>
	    <div class="table-wrap">
		    <form>
				<div class="md-form">
					<input type="text" id="identity" class="form-control">
					<label for="identity">身分證件號碼</label>
				</div>
				<div class="md-form">
					<input type="password" id="password1" class="form-control">
					<label for="password1">密碼</label>
				</div>
				<div class="form-row">
					<div class="col-md-6">
						<div class="md-form">
							<input type="text" id="CAPTCHA" class="form-control">
							<label for="CAPTCHA">驗證碼</label>
						</div>
					</div>
					<div class="col-md-6">
						<div class="md-form">
					        <img class="captcha" src="http://nfu-map.dev.com.tw/common/captcha.image">
						</div>
					</div>
					<div class="custom-control custom-checkbox">
						<input type="checkbox" class="custom-control-input" id="defaultUnchecked">
						<label class="custom-control-label" for="defaultUnchecked">記住我</label>
					</div>
				</div>
				<div class="d-flex justify-content-center mb-5">
                    <button class="btn btn-outline-default un-shadows waves-effect" type="submit">登入</button>
                </div>
				<hr />
				<p class="text-center"><a href="/" class="">忘記密碼？</a></p>
			</form>
		</div>
	</main>
</div>