
// `Base

$body_background:       #f6f8f9;
$base_font_size:        16px;
$base_line_height:      24px;
$latin-sans-serif:      "Helvetica Neue", Helvetica, Arial;
$base_font_color:       #2e3539;
$base_border_radius:    0;
$base_border_color:     #e5e5e5;
$bg_border_color:       #ebebeb;
$table_border_color:    #efefef;
$darkgray_color:        #303235;
$warning_color:         #f34458;
$lightgray_color:       #999;

// `Main Color

$main_color:            #58b2dc;
$darker_color:          #1c1d1e;
$main_dark_color:       #465055;

// `Second Color

$second_color:          #ed9c33;
$second_lighten_color:  lighten($second_color, 6);
$denimblue_color:       #2564c0;
$skyblue_color:         #00c0f0;
$cyanblue_color:        #25c0be;
$red_color:             #e22d2d;
$orange_color:          #f0851c;
$yellow_color:          #f3cc17;
$olive_color:           #c2df1f;
$magenta_color:         #c0259d;
$purple_color:          #7525ad;
$limegreen_color:       #25c054;
$alert_warning_color:   $orange_color;
$hightlight-color:      #fcf7e0;
$green:                 #28a745;

// `Link

$link:                  $main_color;
$link_hover:            darken($main_color, 15);
$link_visited:          darken($main_color, 15);


// Bootstrap overwrite
$primary-color:         #357adf;
$third-color:           #a04adb;
$success-color:         #63ab2e;
$warning-color:         #e9ac00;
$info-color:            #2ac4e3;