<footer class="footer">
	<div class="container clearfix">
        <div class="float-left">
            <div class="contact">
                <p>交通大學國際事務處新竹市大學路 1001 號 浩然圖書館八樓</p>
                <p>FAX: +886-3-5131473</p>
                <p>TEL: +886-3-5712121 ext.50059</p>
                <p>Email: <a href="mailto:nctu_ia@nctu.edu.tw">nctu_ia@nctu.edu.tw</a></p>
                <p class="browser-support">瀏覽器建議 Firefox、Chrome 或 IE11+</p>
            </div>
        </div>
        <address class="float-right">Copyright © 2018 NCTU OIA All Rights Reserved.</address>
	</div>
</footer>
