<header class="header">
    <div class="container">
		<div class="header-language">
			<a href="#">English</a>
			<a href="#" class="current">中文</a>
		</div>
		<div class="header-wrap">
			<div class="brands">
				<a class="d-flex" href="/">
                    <div class="logo">
                        <h1 class="text-hide">國立交通大學國際事務處 Office of International Affairs, NCTU</h1>
                        <img class="h1-logo" src="../assets/logo.svg" />
                    </div>
                    <div class="sub">
                        <span>國際生獎學金申請及管理系統</span>
						<span class="en">International Student Scholarship Application and Management System</span>
                    </div>
				</a>
			</div>
			<div class="account">
				<a class="" href="#">登入</a>
			</div>
		</div>
    </div>
</header>