/* `Footer
-----------------------------------------------------------------------------*/

footer.footer {
	padding-bottom: 60px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
	font-size: 15px;
	color: #aaa;
    .container { position: relative; }
	.footer-inner {
        border-top: 1px solid #e3eaeb;
        margin-top: 50px;
        padding: 50px 0;
	}
    .browser-support { margin-top: 1rem; }
    address, .contact p, .language { line-height: 1.5; }
    .contact {
        p { margin-bottom: 0; }
    }
}