<!-- OIA-ES: 訪問生推薦人 - 同意推薦 (包含之後所有步驟)  -->

<div class="container">
    <div class="row">
		<div class="col-12">
            <main class="main-block">
                <h5 class="form-title mt-0">請問您是否同意推薦以下申請人?</h5><!-- main block 第一個 form-title 要給 mt-0 -->
                <ul class="label-item mb-5">
                    <li class="row">
                        <span class="label col-sm-3">Name</span>
                        <span class="for-label col-sm-9">Chris Coyier</span>
                    </li>
                    <li class="row">
                        <span class="label col-sm-3">申請學校</span>
                        <span class="for-label col-sm-9">National Dong Hwa University</span>
                    </li>
                    <li class="row">
                        <span class="label col-sm-3">申請系所</span>
                        <span class="for-label col-sm-9">理工學院 化學系 學士班</span>
                    </li>
                </ul>
                <button type="button" class="btn btn-primary">同意推薦</button>
                <button type="button" class="btn btn-secondary">不同意推薦</button>
            </main>
        </div>
	</div>
</div>    

<br><!-- 以下 container 皆為單一頁面 -->

<div class="container">    
    <div class="row">
		<div class="col-12">
            <main class="main-block">
                <h5 class="form-title mt-0">感謝您同意推薦，請選擇下列其中一種推薦方式</h5><!-- main block 第一個 form-title 要給 mt-0 -->
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                    <label class="form-check-label" for="exampleRadios1">
                        線上填寫推薦信 (建議選項)
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
                    <label class="form-check-label" for="exampleRadios2">
                        上傳推薦信的掃描檔
                    </label>
                </div>
                <div class="mt-3">
                    <button type="submit" class="btn btn-primary">確定</button>
                </div>
            </main>
        </div>
	</div>
</div>
  
<br>

<div class="container">    
    <div class="row">
		<div class="col-12">
            <main class="main-block">
                <h5 class="form-title mt-0">希望您能撥冗詳實填寫下方推薦信內容，以利本校進行審核作業。</h5><!-- main block 第一個 form-title 要給 mt-0 -->
                <div class="form-group">
                    <textarea class="form-control" rows="8"></textarea>
                </div>
                <div class="mt-3">
                    <button type="submit" class="btn btn-primary">送出</button>
                </div>
            </main>
        </div>
	</div>
</div>
   
<br>

<div class="container">    
    <div class="row">
		<div class="col-12">
            <main class="main-block">
                <h5 class="form-title mt-0">請確認推薦信內容無誤後送出</h5><!-- main block 第一個 form-title 要給 mt-0 -->
                <div class="textarea">
                    <p><%= lorem_sentences(5) %></p>
                    <p><%= lorem_sentences(10) %></p>
                    <p><%= lorem_sentences(8) %></p>
                </div>
                <div class="mt-3">
                    <button type="submit" class="btn btn-primary">送出</button>
                </div>
            </main>
        </div>
	</div>
</div>

<br>

<div class="container">    
    <div class="row">
		<div class="col-12">
            <main class="main-block">
                <p class="form-text text-muted">檔案上傳(若超過1份文件請合併成1個檔案上傳，檔案大小請在50MB以內)</p>
                <div class="form-inline">
                    <div class="custom-file col-sm-3">
                        <input type="file" class="custom-file-input" id="customFile">
                        <label class="custom-file-label" for="customFile">Choose file</label>
                    </div>
                    <div class="custom-file col-sm-3">
                        <button type="submit" class="btn btn-primary">上傳</button>
                    </div>
                </div>
            </main>
        </div>
	</div>
</div>

<br>

<div class="container">    
    <div class="row">
		<div class="col-12">
            <main class="main-block">
                <h5 class="form-title mt-0">感謝您的推薦</h5><!-- main block 第一個 form-title 要給 mt-0 -->
            </main>
        </div>
	</div>
</div>