<!-- OIA-ES: 訪問生推薦人 - 資料核對  -->

<div class="container">
    <div class="row">
		<div class="col-12">
            <main class="main-block">
                <h5 class="form-title mt-0">Dear Mr./Ms. [推薦人姓名],</h5><!-- main block 第一個 form-title 要給 mt-0 -->
                <p>請確認下列資料無誤</p>
                <ul class="label-item mb-5">
                    <li class="row">
                        <span class="label col-sm-3">Name</span>
                        <span class="for-label col-sm-9">Chris Coyier</span>
                    </li>
                    <li class="row">
                        <span class="label col-sm-3">Relationship with applicant</span>
                        <span class="for-label col-sm-9">師生</span>
                    </li>
                    <li class="row">
                        <span class="label col-sm-3">Position/Title</span>
                        <span class="for-label col-sm-9">Professor</span>
                    </li>
                </ul>
                <p>請問您是否為推薦人本人？</p>
                <button type="button" class="btn btn-primary">是，我是本人</button>
                <button type="button" class="btn btn-secondary">否，我不是本人</button>
            </main>
        </div>
	</div>
</div>