<!-- template: 註冊 -->

<div class="container-lg">
	<div class="page-content d-block">
        
        <div class="page-title">
            <h3>申請人基本資料 <small>Personal Information</small></h3>
        </div>
        
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="personalInfo01" class="form-label bilingual-label">
                        <span class="required">*</span>
                        <span class="label">
                            <span class="ch">中文姓名</span>
                            <span class="en">Chinese Name</span>
                        </span>
                    </label>
                    <input id="personalInfo01" class="form-control" type="text">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="personalInfo02" class="form-label bilingual-label">
                        <span class="required">*</span>
                        <span class="label">
                            <span class="ch">英文姓名</span>
                            <span class="en">English Name</span>
                        </span>
                    </label>
                    <input id="personalInfo02" class="form-control" type="text">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="personalInfo03" class="form-label bilingual-label">
                        <span class="required">*</span>
                        <span class="label">
                            <span class="ch">海聯報名序號</span>
                            <span class="en">Application Number from UECOCS System</span>
                        </span>
                    </label>
                    <input id="personalInfo03" class="form-control" type="text">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="personalInfo04" class="form-label bilingual-label">
                        <span class="required">*</span>
                        <span class="label">
                            <span class="ch">出生日期</span>
                            <span class="en">Date of Birth</span>
                        </span>
                    </label>
                    <div>
                        <input type="date" class="form-control" id="personalInfo04" name="date-birth" value="" min="1900-01-01" max="2014-12-31">
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="personalInfo05" class="form-label bilingual-label">
                        <span class="required">*</span>
                        <span class="label">
                            <span class="ch">畢業學校</span>
                            <span class="en">Name of School</span>
                        </span>
                    </label>
                    <input id="personalInfo05" class="form-control" type="text">
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="form-label bilingual-label">
                        <span class="required">*</span>
                        <span class="label">
                            <span class="ch">僑居地</span>
                            <span class="en">Country of Overseas Residence</span>
                        </span>
                    </label>
                    <select class="form-select" aria-label="Default select example">
                        <option selected>Open this select menu</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="personalInfo06" class="form-label bilingual-label">
                        <span class="required">*</span>
                        <span class="label">
                            <span class="ch">僑居地地址</span>
                            <span class="en">Mailing Address</span>
                        </span>
                    </label>
                    <input id="personalInfo06" class="form-control" type="text">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="form-label bilingual-label">
                        <span class="required">*</span>
                        <span class="label">
                            <span class="ch">僑居地聯絡電話-市話</span>
                            <span class="en">Telephone Number</span>
                        </span>
                    </label>
                    <div class="form-combination">
                        <span><input id="" class="form-control" type="text" placeholder="+國碼 Country code"></span>
                        <span><input id="" class="form-control" type="text" placeholder="+區碼 Area code"></span>
                        <span><input id="" class="form-control" type="text" placeholder="電話號碼 Phone number"></span>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="form-label bilingual-label">
                        <span class="required">*</span>
                        <span class="label">
                            <span class="ch">僑居地聯絡電話-手機</span>
                            <span class="en">Mobile Phone Number</span>
                        </span>
                    </label>
                    <div class="form-combination">
                        <span><input id="" class="form-control" type="text" placeholder="+國碼 Country code"></span>
                        <span><input id="" class="form-control" type="text" placeholder="電話號碼 Phone number"></span>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="personalInfo07" class="form-label bilingual-label">
                        <span class="label">
                            <span class="ch">在台地址(若有)</span>
                            <span class="en">Address in Taiwan (if applicable)</span>
                        </span>
                    </label>
                    <input id="personalInfo07" class="form-control" type="text">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="personalInfo08" class="form-label bilingual-label">
                        <span class="label">
                            <span class="ch">在台電話(若有)</span>
                            <span class="en">Phone Number in Taiwan (if applicable)</span>
                        </span>
                    </label>
                    <input id="personalInfo08" class="form-control" type="text">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="personalInfo09" class="form-label bilingual-label">
                        <span class="required">*</span>
                        <span class="label">
                            <span class="ch">電子郵件</span>
                            <span class="en">Email</span>
                        </span>
                    </label>
                    <input id="personalInfo09" class="form-control" type="email">
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="personalInfo10" class="form-label bilingual-label">
                        <span class="required">*</span>
                        <span class="label">
                            <span class="ch">密碼</span>
                            <span class="en">Password</span>
                        </span>
                    </label>
                    <input id="personalInfo10" class="form-control" type="password">
                    <div class="form-text">密碼格式需為8個字(含)以上，並包含大寫字母、小寫字母、數字至少各1。<span class="d-block">Password Format: at least 8 or more characters including at least one uppercase letter one lowercase letter and one number.</span></div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="personalInfo11" class="form-label bilingual-label">
                        <span class="required">*</span>
                        <span class="label">
                            <span class="ch">確認密碼</span>
                            <span class="en">Confirm Password</span>
                        </span>
                    </label>
                    <input id="personalInfo11" class="form-control" type="password">
                    <div class="form-text">請再次輸入密碼。<span class="d-block">Confirm password should match password.</span></div>
                </div>
            </div>
        </div>
        
        <div class="form-action">
            <button type="submit" class="btn btn-lg btn-primary">送出 Submit</button>
        </div>
        
	</div>
</div>



<% content_for :js do %>

<% end %>

