<footer class="footer">
	<div class="container clearfix">
		<div class="footer-inner">
            <div class="contact">
				<p>其他相關事宜請洽</p>
                <p class="mb-1">國立臺灣科技大學・學海計畫人力資源專案辦公室・葉小姐</p>
                <p class="font-roboto"><i class="fa fa-phone"></i> (02) 2730-1290</p>
                <p class="font-roboto"><i class="fa fa-envelope"></i> <a href="mailto:tosf@mail.ntust.edu.tw ">tosf@mail.ntust.edu.tw </a></p>
            </div>
            <p class="browser-support">
				瀏覽器建議
                <a href="https://www.google.com/chrome/">Google Chrome</a>, 
                <a href="https://www.mozilla.org/firefox/new/">Mozilla Firefox</a> 或
                <a href="https://microsoft-edge.en.softonic.com/">IE11+</a>
            </p>
		</div>
	</div>
</footer>
