<!-- admin-page: 登入 Style One (Clouds) -->


<div class="login-page">

    <div class="login-wrapper">
        <div class="login-card">
            <h1 class="logo logo-rectangle" style="background: #920783;">
				<img class="logo__img" style="height: 64px;" src="../assets/fake/ndhu-logo@2x.png" alt="單位名稱" title="單位名稱" />
			</h1>
            <hgroup>
                <h3>單位名稱</h3>
                <h5>管理系統</h5>
            </hgroup>
            <form>
                <div class="form-group">
                    <label class="form-label" for="loginFormEmail">帳號</label>
                    <input type="email" id="loginFormEmail" class="form-control" />
                </div>
                <div class="form-group">
                    <label class="form-label" for="loginFormPassword">密碼</label>
                    <input type="password" id="loginFormPassword" class="form-control" />

                </div>
                <div class="form-group">
                    <label class="form-label" for="loginFormCAPTCHA">驗證碼</label>
                    <div class="d-flex">
                        <span><input type="text" id="loginFormCAPTCHA" class="form-control" /></span>
                        <span class="mx-2"><img src="http://nfu-map.dev.com.tw/common/captcha.image"></span>
                        <span><button class="btn btn-xs btn-secondary mx-0" type="button" title="Refresh"><i class="fas fa-sync-alt"></i></button></span>
                    </div>
                </div>
                <div class="text-center">
                    <button class="btn btn-lg purple-gradient btn-rounded my-4 z-depth-0" type="submit">登入</button>
                </div>
                <p class="forget-password"><a href="password.html">忘記密碼?</a></p>
            </form>
        </div>
    </div>
	
	<!-- effect_clouds 可給 inline style 改變背景色 -->
	<div class="effect_clouds container-absolute">
        <svg viewBox="0 0 100 100" preserveAspectRatio="xMidYMid slice">
            <defs>
                <radialGradient id="Gradient1" cx="50%" cy="50%" fx="10%" fy="50%" r=".5">
                    <animate attributeName="fx" dur="34s" values="0%;3%;0%" repeatCount="indefinite" />
                    <stop offset="0%" stop-color="#ff0" />
                    <stop offset="100%" stop-color="#ff00" />
                </radialGradient>
                <radialGradient id="Gradient2" cx="50%" cy="50%" fx="10%" fy="50%" r=".5">
                    <animate attributeName="fx" dur="23.5s" values="0%;3%;0%" repeatCount="indefinite" />
                    <stop offset="0%" stop-color="#0ff" />
                    <stop offset="100%" stop-color="#0ff0" />
                </radialGradient>
                <radialGradient id="Gradient3" cx="50%" cy="50%" fx="50%" fy="50%" r=".5">
                    <animate attributeName="fx" dur="21.5s" values="0%;3%;0%" repeatCount="indefinite" />
                    <stop offset="0%" stop-color="#f0f" />
                    <stop offset="100%" stop-color="#f0f0" />
                </radialGradient>
            </defs>
            <rect x="0" y="0" width="100%" height="100%" fill="url(#Gradient1)">
                <animate attributeName="x" dur="20s" values="25%;0%;25%" repeatCount="indefinite" />
                <animate attributeName="y" dur="21s" values="0%;25%;0%" repeatCount="indefinite" />
                <animateTransform attributeName="transform" type="rotate" from="0 50 50" to="360 50 50" dur="17s" repeatCount="indefinite" />
            </rect>
            <rect x="0" y="0" width="100%" height="100%" fill="url(#Gradient2)">
                <animate attributeName="x" dur="23s" values="-25%;0%;-25%" repeatCount="indefinite" />
                <animate attributeName="y" dur="24s" values="0%;50%;0%" repeatCount="indefinite" />
                <animateTransform attributeName="transform" type="rotate" from="0 50 50" to="360 50 50" dur="18s" repeatCount="indefinite" />
            </rect>
            <rect x="0" y="0" width="100%" height="100%" fill="url(#Gradient3)">
                <animate attributeName="x" dur="25s" values="0%;25%;0%" repeatCount="indefinite" />
                <animate attributeName="y" dur="26s" values="0%;25%;0%" repeatCount="indefinite" />
                <animateTransform attributeName="transform" type="rotate" from="360 50 50" to="0 50 50" dur="19s" repeatCount="indefinite" />
            </rect>
        </svg>
	</div>

</div>
