<!-- admin-page: 登入 Style Three (Torn) -->


<div class="login-page">

    <div class="login-wrapper">
        <div class="login-card">
            <h1 class="logo logo-circle"><img class="logo__img" src="../assets/default.png" alt="單位名稱" title="單位名稱" /></h1>
            <hgroup>
                <h3>單位名稱</h3>
                <h5>管理系統</h5>
            </hgroup>
            <form>
                <div class="form-group">
                    <label class="form-label" for="loginFormEmail">帳號</label>
                    <input type="email" id="loginFormEmail" class="form-control" />
                </div>
                <div class="form-group">
                    <label class="form-label" for="loginFormPassword">密碼</label>
                    <input type="password" id="loginFormPassword" class="form-control" />

                </div>
                <div class="form-group">
                    <label class="form-label" for="loginFormCAPTCHA">驗證碼</label>
                    <div class="d-flex">
                        <span><input type="text" id="loginFormCAPTCHA" class="form-control" /></span>
                        <span class="mx-2"><img src="http://nfu-map.dev.com.tw/common/captcha.image"></span>
                        <span><button class="btn btn-xs btn-secondary mx-0" type="button" title="Refresh"><i class="fas fa-sync-alt"></i></button></span>
                    </div>
                </div>
                <div class="text-center">
                    <button class="btn btn-lg btn-outline-primary btn-rounded my-4 z-depth-0" type="submit">登入</button>
                </div>
                <p class="forget-password"><a href="password.html">忘記密碼?</a></p>
            </form>
        </div>
    </div>
	
	<div class="effect_torn container-absolute">
        <div class="wrap">
            <div class="top-plane"></div>
            <div class="bottom-plane"></div>
        </div>
	</div>

</div>
