<input type="checkbox" class="sr-only sidebar-ctrler" id="v-nav-secondary" checked>
<div class="vertical_nav sidebar sidebar--secondary event-sidebar">
    <div class="sidebar__header media">
        <div class="media-left"></div>
        <div class="media-body media-middle text-right">
            <label class="sidebar-ctrler--label" for="v-nav-secondary"><i class="fa fa-ellipsis-v"></i></label>
        </div>
    </div>
    <div class="menu">
        <div class="sidebar-scroll">
            <ul class="nav">
                <li class="">
                    <a class="waves-effect" href="###">
                        <i class="fa fa-globe" title="Globe"></i>
                        <span class="menu-label">Globe</span>
                    </a>
                </li>
                <li class="">
                    <a class="waves-effect" href="###">
                        <i class="fa fa-anchor" title="anchor"></i>
                        <span class="menu-label">Anchor</span>
                    </a>
                </li>
                <li class="">
                    <a class="waves-effect" href="###">
                        <i class="fa fa-cog" title="Cog"></i>
                        <span class="menu-label">Cog</span>
                    </a>
                </li>
                <li class="">
                    <a class="waves-effect" href="###">
                        <i class="fa fa-life-ring" title="Life-ring"></i>
                        <span class="menu-label">Life ring</span>
                    </a>
                </li>
                <li class="">
                    <a class="waves-effect" href="###">
                        <i class="fa fa-gavel" title="Gavel"></i>
                        <span class="menu-label">Gavel</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
