<div off-canvas="slidebar-2 right reveal" class="slidebar">
	<h5 class="slidebar-title">系統切換</h5>
	<div class="accordion" id="accordionEx" role="tablist" aria-multiselectable="true">
		<div class="card">

			<!-- Card header -->
			<div class="card-header" role="tab" id="headingOne">
				<a data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne" class="waves-effect">
				    <i class="fa fa-angle-right rotate-icon"></i> 國際合作
				</a>
			</div>

			<!-- Card body -->
			<div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordionEx" >
				<ul class="card-body">
					<li><a href="#">國際合作管理系統</a></li>
					<li><a href="#">院系國合帳號管理</a></li>
				</ul>
			</div>
		</div>
		
		<div class="card">

			<!-- Card header -->
			<div class="card-header" role="tab" id="headingTwo">
				<a data-toggle="collapse" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo" class="waves-effect">
				    <i class="fa fa-angle-right rotate-icon"></i> 海外教育
				</a>
			</div>

			<!-- Card body -->
			<div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordionEx" >
				<ul class="card-body">
					<li><a href="#">出國學生管理系統（出國交換、訪問、海外暑期課程）</a></li>
					<li><a href="#">出國交換學生管理系統（新）</a></li>
					<li><a href="#">海外暑期課程</a></li>
				</ul>
			</div>
		</div>
		
		<div class="card">

			<!-- Card header -->
			<div class="card-header" role="tab" id="headingThree">
				<a data-toggle="collapse" href="#collapseThree" aria-expanded="true" aria-controls="collapseThree" class="waves-effect">
				    <i class="fa fa-angle-right rotate-icon"></i> 學校管理
				</a>
			</div>

			<!-- Card body -->
			<div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree" data-parent="#accordionEx" >
				<ul class="card-body">
					<li><a href="#">締約學校設定管理</a></li>
				</ul>
			</div>
		</div>
		
		<div class="card">

			<!-- Card header -->
			<div class="card-header" role="tab" id="headingFour">
				<a data-toggle="collapse" href="#collapseFour" aria-expanded="true" aria-controls="collapseFour" class="waves-effect">
				    <i class="fa fa-angle-right rotate-icon"></i> 國際學生
				</a>
			</div>

			<!-- Card body -->
			<div id="collapseFour" class="collapse" role="tabpanel" aria-labelledby="headingFour" data-parent="#accordionEx" >
				<ul class="card-body">
					<li><a href="#">學位生管理系統</a></li>
					<li><a href="#">非學位生管理系統（來校交換、訪問、短期研習）</a></li>
					<li><a href="#">志工系統</a></li>
				</ul>
			</div>
		</div>
	
		<div class="card">

			<!-- Card header -->
			<div class="card-header" role="tab" id="headingFive">
				<a class="collapsed" data-toggle="collapse" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive" class="waves-effect">
				    <i class="fa fa-angle-right rotate-icon"></i> 帳號管理 - 網管專區
				</a>
			</div>

			<!-- Card body -->
			<div id="collapseFive" class="collapse" role="tabpanel" aria-labelledby="headingFive" data-parent="#accordionEx">
				<div class="card-body">
					Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute,
					non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf
					moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch
					et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
					Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic
					synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
				</div>
			</div>
		</div>
	</div>
</div>