<div class="modal fade" id="modalOutput" tabindex="-1" role="dialog" aria-labelledby="outputModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="outputModalLabel">匯出 Excel</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p><i class="fa fa-info-circle text-warning"></i> 直接拖曳欄位排序或點選欄位操作移動</p>
				<div class="portlet-wrapper">
				    <div class="portlet-box portlet-selected">
					    <div class="portlet-hd">顯示的欄位</div>
						<div class="portlet-bd">
							<div class="scrollbar-inner">
                                <ol class="menu-item">
                                    <li class="dd-item">
                                        <div class="dd-handle">國外聯絡手機</div>
                                    </li>
                                    <li class="dd-item">
                                        <div class="dd-handle">國外緊急聯絡人電話</div>
                                    </li>
									<li class="dd-item">
                                        <div class="dd-handle">國外聯絡手機</div>
                                    </li>
                                    <li class="dd-item">
                                        <div class="dd-handle">國外緊急聯絡人電話</div>
                                    </li>
									<li class="dd-item">
                                        <div class="dd-handle">國外聯絡手機</div>
                                    </li>
                                    <li class="dd-item">
                                        <div class="dd-handle">國外緊急聯絡人電話</div>
                                    </li>
									<li class="dd-item">
                                        <div class="dd-handle">國外聯絡手機</div>
                                    </li>
                                    <li class="dd-item">
                                        <div class="dd-handle">國外緊急聯絡人電話</div>
                                    </li>
									<li class="dd-item">
                                        <div class="dd-handle">國外聯絡手機</div>
                                    </li>
                                    <li class="dd-item">
                                        <div class="dd-handle">國外緊急聯絡人電話</div>
                                    </li>
									<li class="dd-item">
                                        <div class="dd-handle">國外聯絡手機</div>
                                    </li>
                                    <li class="dd-item">
                                        <div class="dd-handle">聯絡人電話</div>
                                    </li>
                                </ol>
							</div>
						</div>
					</div>
					<div class="portlet-box portlet-action">
					    <div class="portlet-hd">操作</div>
						<div class="portlet-bd">
						    <button title="全部不顯示" type="button" class="btn btn-white btn-block">
							    <i class="fa fa-angle-double-right"></i>
							</button>
							<button title="選擇項目設為不顯示" type="button" class="btn btn-white btn-block">
							    <i class="fa fa-angle-right"></i>
							</button>
							<button title="選擇項目設為顯示" type="button" class="btn btn-white btn-block">
							    <i class="fa fa-angle-left"></i>
							</button>
							<button title="全部顯示" type="button" class="btn btn-white btn-block">
							    <i class="fa fa-angle-double-left"></i>
							</button>
							<button type="button" class="btn btn-elegant btn-block">
							    回復預設
							</button>
						</div>
					</div>
					<div class="portlet-box portlet-unselected">
					    <div class="portlet-hd">不顯示的欄位</div>
						<div class="portlet-bd">
							<div class="scrollbar-inner">
                                <ol class="menu-item">
                                    <li class="dd-item">
                                        <div class="dd-handle">申請梯次</div>
                                    </li>
                                </ol>
							</div>
						</div>
					</div>
				</div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn  btn-link" data-dismiss="modal">關閉</button>
                <button type="button" class="btn btn-primary">儲存</button>
            </div>
        </div>
    </div>
</div>