
$bodyColor: #fafafa;
$brand-kkbox: #00aed8;
$brand-kktix: #64c025;
$brand-kktown: #ffd552;
$brand-kktv: #551127;;
$brand-kktv-light: #79092b;
$brand-kkstream: #2c87ef;
$brand-utapass: #ff813d;
$brand-kkfarm: #e7bd85;

/* `Font
-----------------------------------------------------------------------------*/

@font-face {
  font-family: 'Gotham-Light';
  src: url('../fonts/Gotham-Light.eot');
  src: url('../fonts/Gotham-Light.woff') format('woff'),
       url('../fonts/Gotham-Light.ttf') format('truetype'),
       url('../fonts/Gotham-Light.svg#Gotham-Book') format('svg'),
       url('../fonts/Gotham-Light.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham-Book';
  src: url('../fonts/Gotham-Book.eot');
  src: url('../fonts/Gotham-Book.woff') format('woff'),
       url('../fonts/Gotham-Book.ttf') format('truetype'),
       url('../fonts/Gotham-Book.svg#Gotham-Book') format('svg'),
       url('../fonts/Gotham-Book.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham-Medium';
  src: url('../fonts/Gotham-Medium.eot');
  src: url('../fonts/Gotham-Medium.woff') format('woff'),
       url('../fonts/Gotham-Medium.ttf') format('truetype'),
       url('../fonts/Gotham-Medium.svg#Gotham-Book') format('svg'),
       url('../fonts/Gotham-Medium.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Gotham-Bold';
  src: url('../fonts/Gotham-Bold.eot');
  src: url('../fonts/Gotham-Bold.woff') format('woff'),
       url('../fonts/Gotham-Bold.ttf') format('truetype'),
       url('../fonts/Gotham-Bold.svg#Gotham-Book') format('svg'),
       url('../fonts/Gotham-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Gotham-Black';
  src: url('../fonts/Gotham-Black.eot');
  src: url('../fonts/Gotham-Black.woff') format('woff'),
       url('../fonts/Gotham-Black.ttf') format('truetype'),
       url('../fonts/Gotham-Black.svg#Gotham-Book') format('svg'),
       url('../fonts/Gotham-Black.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

.gotham-light { font-family: 'Gotham-Light'; }
.gotham-medium { font-family: 'Gotham-Medium'; }
.gotham-bold { font-family: 'Gotham-Bold'; }
.gotham-black { font-family: 'Gotham-Black'; }

/* `Base
-----------------------------------------------------------------------------*/

html, body, .homepage, .pages, .scroll-page, .scroll-nav__section { height: 100%; }

body {
	font-family:'Gotham-Book', 'Apple LiGothic Medium', '\5FAE\8EDF\6B63\9ED1\9AD4', Helvetica, Arial, sans-serif;
	                                                     // 微軟正黑體
    line-height: 1.8;
	color: #333;
}

a {
	color: $brand-kkbox;
	&:focus {
		outline: none; /* for Firefox Google Chrome  */
		behavior: expression(this.onFocus=this.blur()); /* for IE */
	}
}

a:hover { color: darken($brand-kkbox, 10%); }

p { line-height: 1.6; }

.page, .scroll-page, .scroll-nav__section { position: relative; }

.navbar .container-fluid {
	padding-left: 40px;
	padding-right: 40px;
}

.navbar-default {
	background-color: transparent;
	border: none;
	margin-bottom: 0;
	.navbar-header h1.logo {
		margin: 0;
		a {
			display: inline-block;
			margin-top: 20px;
			height: 55px;
		}
	}
}

.subheading {
	margin: 0 0 20px;
	font-size: 32px;
	color: $brand-kkbox;
}

.subdes {
	font-family: 'Gotham-Light';
	font-size: 24px;
	text-align: center;
}

.title-dc,
.subheading,
.subdes {
	font-weight: 400;
}