<!-- OIA-ES: 交換生系所承辦人 - 登入首頁  -->

<div class="container">
    <div class="row">
        <div class="col-12 mb-5">
            <div class="form-inline mb-4">
                <select class="custom-select">
                    <option selected>選擇學年學期</option>
                    <option value="1">106-1</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
            </div>
            <ul class="partner-statistics">
                <li>
                    <span>申請件數</span>
                    <span>6</span>
                </li>
                <li>
                    <span>確認提名人數</span>
                    <span>0</span>
                </li>
                <li>
                    <span>不同意提名人數</span>
                    <span>2</span>
                </li>
            </ul>
        </div>
		<div class="col-12">
            <main class="main-block extended">
                <div class="main-inner">
                    <div class="mb-5">
                        <p><%= lorem_sentences(5) %></p>
                        <p><%= lorem_sentences(8) %></p>
                    </div>
                    <div class="table-toolbar text-danger">table toolbar、pagination 不確定是否由套件產生或有現成的，如沒有需要樣式請再跟我說</div>
                </div>
                <div class="has-scroll">
                    <table class="table" style="max-width: 1600px !important; width: 1600px !important;"><!-- inline style 只是測試勿使用 -->
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Name</th>
                                <th>Exchange Duration</th>
                                <th>Level of Study at NTU</th>
                                <th>Approved</th>
                                <th>Scholarship Nomination</th>
                                <th>Priority Order</th>
                                <th>Scholarship period</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% (1..8).each do |n| %>
                            <tr>
                                <th><%= n %></th>
                                <td>Michelle Xie (謝芷蔚)</td>
                                <td>One Semester</td>
                                <td>Graduate - Master</td>
                                <td>
                                    <div class="custom-control custom-radio">
                                        <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input">
                                        <label class="custom-control-label" for="customRadio1">Yes</label>
                                    </div>
                                    <div class="custom-control custom-radio">
                                        <input type="radio" id="customRadio2" name="customRadio" class="custom-control-input">
                                        <label class="custom-control-label" for="customRadio2">No</label>
                                    </div>
                                </td>
                                <td>
                                    <div class="custom-control custom-radio">
                                        <input type="radio" id="customRadio3" name="customRadio" class="custom-control-input">
                                        <label class="custom-control-label" for="customRadio3">Yes</label>
                                    </div>
                                    <div class="custom-control custom-radio">
                                        <input type="radio" id="customRadio4" name="customRadio" class="custom-control-input">
                                        <label class="custom-control-label" for="customRadio4">No</label>
                                    </div>
                                </td>
                                <td>
                                    <input type="number" class="number">
                                </td>
                                <td>
                                    <div class="custom-control custom-radio">
                                        <input type="radio" id="customRadio5" name="customRadio" class="custom-control-input">
                                        <label class="custom-control-label" for="customRadio5">1 semester</label>
                                    </div>
                                    <div class="custom-control custom-radio">
                                        <input type="radio" id="customRadio6" name="customRadio" class="custom-control-input">
                                        <label class="custom-control-label" for="customRadio6">1 academic year</label>
                                    </div>
                                </td>
                            </tr>
                            <% end %>
                        </tbody>
                    </table>
                </div>
                <div class="main-inner">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination pagination-success">
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                    <span class="sr-only">Previous</span>
                                </a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </main>
        </div>
	</div>
</div>