<!-- OIA-ES: 交換生系所承辦人 - 單一學生  -->

<div class="container">
    <div class="row">
        <div class="col-3">
            <div class="student-avatar">
                <img src="../assets/default.png" alt="partner" />
            </div>
            <div class="student-info">
                <h5>Shin-Feng Lin</h5>
                <p>105第2學期</p>
            </div>
            <ul class="student-statistics">
                <li>
                    <span>國籍</span>
                    <span>阿富汗</span>
                </li>
                <li>
                    <span>性別</span>
                    <span>男性</span>
                </li>
                <li>
                    <span>最高學歷</span>
                    <span>檳城鍾靈國民型中學</span>
                </li>
            </ul>
        </div>
		<div class="col-9">
            <main class="main-block">
                <h5 class="form-title mt-0">輸入審查結果</h5><!-- main block 第一個 form-title 要給 mt-0 -->
                <div class="form-inline mb-4">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                        <label class="form-check-label" for="inlineRadio1">同意</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                        <label class="form-check-label" for="inlineRadio2">不同意</label>
                    </div>
                    <button type="button" class="btn btn-sm btn-outline-success">Save</button>
                </div>
                <hr />
                <div class="pdftoolbar mb-2 clearfix">
                    <div class="form-inline d-inline">
                        <button type="button" class="btn btn-xs btn-secondary">上一份</button>
                        <select class="custom-select xs">
                            <option selected>申請表(預覽畫面轉PDF提供瀏覽)</option>
                            <option value="1">106-1</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                        <button type="button" class="btn btn-xs btn-secondary">下一份</button>
                    </div>
                    <div class="float-right">
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <button type="button" class="btn btn-xs btn-secondary">下載</button>
                            <button type="button" class="btn btn-xs btn-secondary">列印</button>
                            <button type="button" class="btn btn-xs btn-secondary">上一位</button>
                            <button type="button" class="btn btn-xs btn-secondary">下一位</button>
                        </div>
                    </div>
                </div>
                <div class="pdf-review">
                    <!-- 以下只是做樣子確認樣式，請勿使用 -->
                    <div style="width:100%; height:800px; background:#eee; padding-top:380px; text-align:center;">PDF 檢視文件...</div>
                </div>
            </main>
        </div>
	</div>
</div>