

@import "base";
@import "widgets/jquery.fancybox";


.page-link { color: $main_color; }

body { background: $body_background; }

.container { min-width: 1024px; }

.login_page {
	header.header { margin-bottom: 20px; }
}

.login-modal {
	.modal-dialog {
		margin-top: 0;
		max-width: 100%;
	}
	.modal-content { border: none; }
	.captcha-img {
		display: inline-block;
		margin: 0 10px;
	}
	.modal-footer { justify-content: center; }
}

.page-title {
    margin-bottom: 2rem;
    font-size: 1.8rem;
    position: relative;
    &:before {
        content: "";
        background: $main_color;
        height: 1px;
        width: 56px;
        position: absolute;
        left: 0;
        bottom: -8px;
    }
}

.control-top {
    margin-bottom: 4rem;
    padding-top: 1rem;
    .form-sort {
        width: 70%;
        .form-group {
            margin-right: 0;
            margin-bottom: 0;
            width: 50%;
        }
        .time-control { width: 30%; }
        .form-btn { width: 20%; }
        .col-form-label { padding-right: 0; }
        .form-control.datepicker { background: #fff; }
    }
    .map-link {
        width: 30%;
        font-size: 16px;
        text-align: right;
        .fa { font-size: 14px; }
    }
    .btn { margin: 0; }
}

.violation-list,
.violation-list li,
.filter-list,
.filter-list li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.violation-list {
    width: 100%;
    li {
        display: flex;
        border-bottom: 1px dashed #e5e5e5;
        margin-bottom: 1rem;
        padding-bottom: 1rem;
        &:last-child { border: none; }
        figure {
            display: flex;
            align-items: center;
            margin-bottom: 0;
            width: 200px;
            height: 140px;
            overflow: hidden;
            a {
                display: block;
                position: relative;
                &:before,&:after {
                    transition: all .15s ease-in-out;
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    opacity: 0;
                }
                &:before {
                    content: "";
                    background: rgba(#000, .5);
                    z-index: 2;
                }
                &:after {
                    content: "\f002";
                    font-family: 'FontAwesome';
                    z-index: 3;
                    font-size: 20px;
                    color: #fff;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    align-content: center;
                }
                &:hover:before, &:hover:after {
                    opacity: 1;
                }
            }
        }
        img {
            width: 100%;
            height: auto;
            position: relative;
            z-index: 1;
        }
        h4 {
            margin-bottom: 3rem;
            padding-top: 0.3rem;
            font-weight: bold;
            .label {
                margin-right: 1rem;
                font-weight: 400;
                color: #888;
            }
        }
        .info {
            padding-left: 30px;
            p { margin-bottom: 0.3rem; }
            .fa {
                margin-right: 1rem;
                width: 24px;
                text-align: center;
                color: #aaa;
            }
            .fa-map-marker { color: #e04006; }
            .fa-clock-o { color: #6baded; }
        }
    }
}

.filter-list {
    li {
        margin-bottom: 1px;
        &:first-child a {
            border-radius: 3px 3px 0 0;
        }
        &:last-child a {
            border-radius: 0 0 3px 3px;
        }
    }
    a {
        display: block;
        background: #f8f8f8;
        padding: 0.8rem 0.8rem;
        color: #888;
        &.is-checked {
            background: $main_color;
            color: #fff;
            cursor: default;
        }
    }
}

.pagination {
    padding-top: 1.5rem;
    border-top: 1px dashed #e5e5e5;
}


























