

@import "base";
@import "widgets/jquery.fancybox";

.no-shadow { box-shadow: none !important; }

.page-link { color: $main_color; }

body { background: $body_background; }

.login-modal {
	margin: 3rem 0;
	text-align: center;
	.modal-title {
		margin-bottom: 2rem;
	}
	.modal-content { border: none; }
	.modal-footer { justify-content: center; }
}

.login_page {
	.card-deck { padding: 3rem 0; }
}

.dropdown-menu {
	.department {
		padding: 0.5rem;
		font-size: 0.9rem;
		span {
			display: block;
		}
	}
}

.page-title {
    margin-bottom: 2rem;
    font-size: 1.8rem;
    position: relative;
    &:before {
        content: "";
        background: $main_color;
        height: 1px;
        width: 56px;
        position: absolute;
        left: 0;
        bottom: -8px;
    }
}

.control-top {
    margin-bottom: 4rem;
    padding-top: 1rem;
    .form-sort {
        width: 70%;
        .form-group {
            margin-right: 0;
            margin-bottom: 0;
            width: 50%;
        }
        .time-control { width: 30%; }
        .form-btn { width: 20%; }
        .col-form-label { padding-right: 0; }
        .form-control.datepicker { background: #fff; }
    }
    .map-link {
        width: 30%;
        font-size: 16px;
        text-align: right;
        .fa { font-size: 14px; }
    }
    .btn { margin: 0; }
}

.violation-list,
.violation-list li,
.filter-list,
.filter-list li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.violation-list {
    width: 100%;
    li {
        display: flex;
        border-bottom: 1px dashed #e5e5e5;
        margin-bottom: 1rem;
        padding-bottom: 1rem;
        &:last-child { border: none; }
        figure {
            display: flex;
            align-items: center;
            margin-bottom: 0;
            width: 200px;
            height: 140px;
            overflow: hidden;
            a {
                display: block;
                position: relative;
                &:before,&:after {
                    transition: all .15s ease-in-out;
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    opacity: 0;
                }
                &:before {
                    content: "";
                    background: rgba(#000, .5);
                    z-index: 2;
                }
                &:after {
                    content: "\f002";
                    font-family: 'FontAwesome';
                    z-index: 3;
                    font-size: 20px;
                    color: #fff;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    align-content: center;
                }
                &:hover:before, &:hover:after {
                    opacity: 1;
                }
            }
        }
        img {
            width: 100%;
            height: auto;
            position: relative;
            z-index: 1;
        }
        h4 {
            margin-bottom: 3rem;
            padding-top: 0.3rem;
            font-weight: bold;
            .label {
                margin-right: 1rem;
                font-weight: 400;
                color: #888;
            }
        }
        .info {
            padding-left: 30px;
            p { margin-bottom: 0.3rem; }
            .fa {
                margin-right: 1rem;
                width: 24px;
                text-align: center;
                color: #aaa;
            }
            .fa-map-marker { color: #e04006; }
            .fa-clock-o { color: #6baded; }
        }
    }
}

.filter-list {
    li {
        margin-bottom: 1px;
        &:first-child a {
            border-radius: 3px 3px 0 0;
        }
        &:last-child a {
            border-radius: 0 0 3px 3px;
        }
    }
    a {
        display: block;
        background: #f8f8f8;
        padding: 0.8rem 0.8rem;
        color: #888;
        &.is-checked {
            background: $main_color;
            color: #fff;
            cursor: default;
        }
    }
}

.pagination {
    padding-top: 1.5rem;
    border-top: 1px dashed #e5e5e5;
}

.announcement-list, .announcement-list li {
	list-style: none;
	margin: 0;
	padding: 0;
}

.announcement-list {
	li {
		border-bottom: 1px dashed #e5e5e5;
		margin-bottom: 1rem;
		padding-bottom: 1rem;
		&:last-child { border: none; }
	}
	.date {
		display: block;
		margin-bottom: 0.5rem;
		color: #787878;
	}
	.fa {
		margin-right: 1rem;
		color: #6baded;
	}
	p { margin-bottom: 0; }
}

a.more { text-transform: uppercase; }

.nav-cards {
	display: flex;
	flex-wrap: wrap;
	.card {
		box-shadow: none;
		border: 1px solid #eee;
		width: 31%;
		margin-right: 3.5%;
		margin-bottom: 2rem;
		&:nth-child(3n) { margin-right: 0; }
		.card-text { font-size: 100%; }
	}
}

.app-form {
	padding-top: 1rem;
	.label, .export {
		display: inline-block;
		border-bottom: 1px dashed #e5e5e5;
		margin-bottom: 1rem;
		padding-bottom: 1rem;
	}
	.label {
		width: 35%;
		font-weight: bold;
		color: #888;
	}
	.export { width: 64%; }
}


.license-wrap {
	display: flex;
	margin-bottom: 3rem;
}

.license-item {
	border-radius: 10px;
	margin-right: 2%;
	width: 32%;
	&:nth-child(3n) { margin-right: 0; }
	.hd, .bd {
		border: 1px dashed #ddd;
	}
	.hd {
		border-radius: 10px 10px 2px 2px;
		box-shadow: 0 0 5px rgba(#000, .05);
		margin-bottom: 1px;
		padding: 1.5rem 1rem;
		h5 {
			margin-bottom: 0;
			font-size: 1.25rem;
		}
		span {
			padding-right: 0.5rem;
			font-weight: bold;
		}
	}
	.bd {
		border-radius: 2px 2px 10px 10px;
		box-shadow: 0 3px 5px rgba(#000, .05);
		ul {
			li {
				display: flex;
				align-items: center;
				border-bottom: 1px dashed #ddd;
				margin-bottom: 0.5rem;
				padding: 0.5rem 1rem;
				&:last-child {
					border: none;
					margin-bottom: 0;
				}
			}
		}
	}
	.btn-ft {
		display: block;
		margin: 1rem;
	}
	.label, .export { display: inline-block; }
	.label {
		width: 40%;
		padding-right: 5%;
	}
}












































































