

@import "base";
@import "widgets/jquery.fancybox";

.no-shadow { box-shadow: none !important; }

.page-link { color: $main_color; }

body { background: $body_background; }

.login-modal {
	margin: 3rem 0;
	text-align: center;
	.modal-title {
		margin-bottom: 2rem;
	}
	.modal-content { border: none; }
	.modal-footer { justify-content: center; }
	.social-login { margin-bottom: 3rem; }
}

.login_page {
	.card-deck { padding: 3rem 0; }
}

.dropdown-menu {
	.department {
		padding: 0.5rem;
		font-size: 0.9rem;
		span {
			display: block;
		}
	}
}

.page-title {
    margin-bottom: 2rem;
    font-size: 1.8rem;
    position: relative;
    &:before {
        content: "";
        background: $main_color;
        height: 1px;
        width: 56px;
        position: absolute;
        left: 0;
        bottom: -8px;
    }
}

.control-top {
    margin-bottom: 3rem;
    padding-top: 1rem;
    .form-sort {
        width: 75%;
        .form-group {
            margin-right: 0.5rem;
            margin-bottom: 0;
            width: 50%;
        }
        .time-control { width: 30%; }
        .form-btn {
			width: 20%;
			margin-right: 0;
		}
        .col-form-label { padding-right: 0; }
        .form-control.datepicker { background: #fff; }
    }
    .map-link {
        width: 25%;
        font-size: 16px;
        text-align: right;
        .fa { font-size: 14px; }
    }
    .btn { margin: 0; }
}

.violation-list,
.violation-list li,
.filter-list,
.filter-list li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.violation-list {
    width: 100%;
    li {
        display: flex;
        border-bottom: 1px dashed #e5e5e5;
        margin-bottom: 1rem;
        padding-bottom: 1rem;
        &:last-child { border: none; }
        figure {
            display: flex;
            align-items: center;
            margin-bottom: 0;
            width: 200px;
            height: 140px;
            overflow: hidden;
            a {
                display: block;
                position: relative;
                &:before,&:after {
                    transition: all .15s ease-in-out;
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    opacity: 0;
                }
                &:before {
                    content: "";
                    background: rgba(#000, .5);
                    z-index: 2;
                }
                &:after {
                    content: "\f002";
                    font-family: 'FontAwesome';
                    z-index: 3;
                    font-size: 20px;
                    color: #fff;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    align-content: center;
                }
                &:hover:before, &:hover:after {
                    opacity: 1;
                }
            }
        }
        img {
            width: 100%;
            height: auto;
            position: relative;
            z-index: 1;
        }
        h4 {
            margin-bottom: 3rem;
            padding-top: 0.3rem;
            font-weight: bold;
            .label {
                margin-right: 1rem;
                font-weight: 400;
                color: #888;
            }
        }
        .info {
            padding-left: 30px;
			width: calc(100% - 200px);
            p { margin-bottom: 0.3rem; }
            .fa {
                margin-right: 1rem;
                width: 24px;
                text-align: center;
                color: #aaa;
            }
            .fa-map-marker { color: #e04006; }
            .fa-clock-o { color: #6baded; }
        }
    }
}

.filter-list {
    li {
        margin-bottom: 1px;
        &:first-child a {
            border-radius: 3px 3px 0 0;
        }
        &:last-child a {
            border-radius: 0 0 3px 3px;
        }
    }
    a {
        display: block;
        background: #f8f8f8;
        padding: 0.8rem 0.8rem;
        color: #888;
        &.is-checked {
            background: $main_color;
            color: #fff;
            cursor: default;
        }
    }
}

.pagination {
    padding-top: 1.5rem;
    border-top: 1px dashed #e5e5e5;
}

.announcement-list, .announcement-list li {
	list-style: none;
	margin: 0;
	padding: 0;
}

.announcement-list {
	li {
		border-bottom: 1px dashed #e5e5e5;
		margin-bottom: 1rem;
		padding-bottom: 1rem;
		&:last-child { border: none; }
	}
	.date {
		display: block;
		margin-bottom: 0.5rem;
		color: #787878;
	}
	.fa {
		margin-right: 1rem;
		color: #6baded;
	}
	p { margin-bottom: 0; }
}

a.more { text-transform: uppercase; }

.nav-cards {
	display: flex;
	flex-wrap: wrap;
	.card {
		box-shadow: none;
		border: 1px solid #eee;
		width: 31%;
		margin-right: 3.5%;
		margin-bottom: 2rem;
		&:nth-child(3n) { margin-right: 0; }
		.card-text { font-size: 100%; }
	}
}

.app-form {
	padding-top: 1rem;
	.label, .export {
		display: inline-block;
		border-bottom: 1px dashed #e5e5e5;
		margin-bottom: 1rem;
		padding-bottom: 1rem;
	}
	.label {
		width: 35%;
		padding-right: 3%;
		font-weight: bold;
		color: #888;
	}
	.export { width: 64%; }
}


.license-wrap {
	display: flex;
	margin-bottom: 2rem;
}

.license-item {
	border-radius: 10px;
	margin-right: 2%;
	margin-bottom: 2rem;
	width: 32%;
	&:nth-child(3n) { margin-right: 0; }
	.hd, .bd {
		border: 1px dashed #ddd;
	}
	.hd {
		border-radius: 10px 10px 2px 2px;
		box-shadow: 0 0 5px rgba(#000, .05);
		margin-bottom: 1px;
		padding: 1.5rem 1rem;
		h5 {
			margin-bottom: 0;
			font-size: 1.25rem;
		}
		span {
			padding-right: 0.5rem;
			font-weight: bold;
		}
	}
	.bd {
		border-radius: 2px 2px 10px 10px;
		box-shadow: 0 3px 5px rgba(#000, .05);
		ul {
			li {
				display: flex;
				align-items: center;
				border-bottom: 1px dashed #ddd;
				margin-bottom: 0.5rem;
				padding: 0.5rem 1rem;
				&:last-child {
					border: none;
					margin-bottom: 0;
				}
			}
		}
	}
	.btn-ft {
		display: block;
		margin: 1rem;
	}
	.label, .export { display: inline-block; }
	.label {
		width: 40%;
		padding-right: 5%;
	}
}

.avatar-wrap {
	display: flex;
	justify-content: center;
}

.file-field.avatar {
	margin-top: 2rem;
	max-width: 192px;
	.img-fluid {
		width: 100%;
		height: auto;
	}
}

.lost-list {
	margin-bottom: 3rem;
	position: relative;
	li {
		display: flex;
		align-items: center;
		border-bottom: 1px dashed #e5e5e5;
		margin-bottom: 1rem;
		padding-bottom: 1rem;
	}
	.th {
		width: 30%;
		padding-right: 5%;
		font-weight: bold;
		color: #000;
	}
	.td { width: 70%; }
}

.lost-wrap {
	.col-md-6:first-child ul:after,
	.col-md-6:nth-child(2n) ul:after,
	.col-md-6:nth-child(3n) ul:after,
	.col-md-6:nth-child(4n) ul:after,
	.col-md-6:nth-child(5n) ul:after,
	.col-md-6:nth-child(6n) ul:after,
	.col-md-6:nth-child(7n) ul:after,
	.col-md-6:nth-child(8n) ul:after,
	.col-md-6:nth-child(9n) ul:after,
	.col-md-6:nth-child(10n) ul:after {
		font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", "sans-serif";
		font-size: 8rem;
		color: #f9f9f9;
		position: absolute;
		top: -7%;
		right: 5%;
		z-index: -1;
	}
	.col-md-6:first-child ul:after {
		content: "1";
	}
	.col-md-6:nth-child(2n) ul:after {
		content: "2";
	}
	.col-md-6:nth-child(3n) ul:after {
		content: "3";
	}
	.col-md-6:nth-child(4n) ul:after {
		content: "4";
	}
	.col-md-6:nth-child(5n) ul:after {
		content: "5";
	}
	.col-md-6:nth-child(6n) ul:after {
		content: "6";
	}
	.col-md-6:nth-child(7n) ul:after {
		content: "7";
	}
	.col-md-6:nth-child(8n) ul:after {
		content: "8";
	}
	.col-md-6:nth-child(9n) ul:after {
		content: "9";
	}
	.col-md-6:nth-child(10n) ul:after {
		content: "10";
	}
}

.towing-container {
	.nav-tabs {
		.nav-item {
			font-size: 1.15rem;
		}
	}
	.tab-content {
		padding-right: 0;
		padding-left: 0;
	}
	.violation-list {
		.violation-item {
			margin-bottom: 1.5rem;
		}
		.label {
			display: inline-block;
			padding-right: 5%;
			width: 23%;
		}
	}
	.violation-info {
		display: flex;
		width: 100%;
		.form-check, .verification { width: 8%; }
		.info {
			width: 72%;
			position: relative;
			p { display: flex; }
		}
		figure {
			display: inline-block;
			width: 20%;
			a {
				display: flex;
				width: 200px;
				height: 140px;
				overflow: hidden;
				align-items: center;
			}
		}
	}
	.qrcode {
		position: absolute;
		top: 0;
		right: 0;
	}
	.verification .fa {
		font-size: 3rem;
		color: $main_color;
	}
}

.first-keep {
	tr td:first-child { word-break: keep-all; }
}

.move-list {
	.info { width: calc(100% - 200px); }
	.label {
		display: inline-block;
		width: 25%;
	}
}

select.mobile-select { display: none !important; }

/* `Responsive
-----------------------------------------------------------------------------*/

@media (max-width: 1200px) {
	.login_page .card-deck {
		padding: 2rem 0;
	}
	.app-form {
		.label { width: 30%; }
	}
}

@media (max-width: 991px) {
	.login-modal { margin: 1rem 0; }
	.license-item {
		width: 49%;
		&:nth-child(2n) { margin-right: 0; }
		&:nth-child(3n) { margin-right: 2%; }
	}
	.towing-container {
		.qrcode {
			position: static;
		}
		.violation-info {
			figure { width: 30%; }
			.info {
				padding-left: 20px;
				width: 62%;
			}
			.label { width: 26%; }
			.fa-check { font-size: 2.5rem; }
		}
	}
	.control-top .form-sort {
		.form-group { width: 40%; }
		.time-control { width: 30%; }
		.form-btn { width: 30%; }
	}
	.violation-list li h4 { margin-bottom: 1rem; }
	.move-list {
		h5, p {
			display: flex;
			align-items: center;
		}
		.label { width: 30%; }
	}
}


@media (max-width: 767px) {
	.login_page .card-deck {
		padding: 1rem 0;
	}
	.nav-cards {
		flex-direction: column;
		.card {
			margin-right: 0;
			width: 100%;
		}
		.card-header { padding: 1rem 1.25rem !important; }
	}
	.app-form {
		.info-group {
			display: flex;
		}
		.label { width: 34%; }
	}
	.license-wrap { display: block; }
	.license-item {
		width: 100%;
		margin-right: 0;
		&:nth-child(3n) { margin-right: 0; }
	}
	.file-field.avatar { margin-top: 1rem; }
	.action-ft {
		margin-top: 1.5rem;
		.btn {
			display: block;
			margin: 0;
			width: 100%;
		}
	}
	.towing-container {
		.violation-info {
			flex-wrap: wrap;
			.form-check, .verification { width: 15%; }
			figure { width: 85%; }
			.info {
				padding-left: 15%;
				padding-top: 1rem;
				width: 100%;
			}
		}
	}
	.control-top {
		margin-bottom: 2rem;
		flex-direction: column;
		.form-sort {
			width: 100%;
			.form-group { width: 45%; }
			.time-control { width: 30%; }
			.form-btn {
				width: 25%;
				.col-sm-10 {
					flex: 0 0 100%;
					max-width: 100%;
					padding: 0;
				}
			}
		}
		.map-link {
			margin-top: 1rem;
			width: 100%;
			text-align: left;
		}
	}
	.filter-list { display: none; }
	select.mobile-select {
		display: block !important;
		margin-bottom: 2rem;
	}
	.violation-list li .info { padding-left: 20px; }
}

@media (max-width: 575px) {
	.login-modal {
		margin: 0;
		.social-login { margin-bottom: 1rem; }
	}
	.license-wrap { margin-bottom: 1rem; }
	.license-item { margin-bottom: 1rem; }
	.towing-announcement li {
		figure {
			width: 120px;
			height: 90px;
		}
		.info {
			width: calc(100% - 120px);
			p { margin-bottom: 0; }
		}
		h4 {
			margin-bottom: 0.5rem;
			font-size: 1.15rem;
		}
		h4, h5, p {
			display: flex;
			align-items: center;
		}
	}
	.move-list li .info {
		h5 { font-size: 1rem; }
		h5, p {
			margin-bottom: 0;
			line-height: 1.5;
		}
	}
}

@media (max-width: 480px) {
	.towing-announcement li {
		.info h4 {
			flex-direction: column;
			align-items: flex-start;
			margin-bottom: 0.25rem;
			padding-top: 0;
			font-size: 1rem;
			.label {
				display: block;
				width: 100%;
			}
		}
	}
}

@media (max-width: 479px) {
	.move-list {
		.info {
			p {
				flex-direction: column;
				align-items: self-start;
				span { width: 100%; }
				.label { color: #888; }
			}
		}
	}
}

@media (max-width: 375px) {
	.page-title {
		margin-bottom: 1.5rem;
		font-size: 1.5rem;
	}
    .login_page .card-deck {
		padding: 1rem 0 0;
	}
	.login-modal .modal-title { margin-bottom: 1rem; }
	.app-form {
		.label { width: 40%; }
		.export { width: 60%; }
	}
	.license-item {
		.hd h5 { font-size: 1.15rem; }
		.export span { display: block; }
	}
	.control-top {
		.form-btn .btn { padding: 0.5rem .6rem; }
	}
	.towing-container {
		.d-action {
			.btn {
				margin: 0.2rem;
				padding: 0.3rem 0.5rem;
			}
		}
		.violation-info {
			.form-check, .verification { width: 20%; }
			figure { width: 80%; }
			.info { padding-left: 20%; }
			.label { width: 30%; }
		}
	}
	.towing-announcement li .info {
		padding-left: 10px;
		.fa { display: none; }
	}
}

@media (max-width: 375px) {
	.towing-container .violation-info .label { width: 35%; }
}
















































