<% I18n.locale = "zh-TW" %>
<!doctype html>
<html lang="<%= I18n.locale %>" class="no-js">
<head>
    <%= render :partial => "/partials/head" %>
</head>
<body class="member_login">
	<div class="workspace" canvas="container">
        <%= yield %>
	</div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../javascripts/popper.min.js"></script>
    <script src="../javascripts/bootstrap.bundle.js"></script>
    
    <%= yield :js %>
</body>
</html>
