<!-- ietw: 交流專案 - 註冊 -->

<div class="login-container scroll-container register-container">
    <div class="container">
        <div class="inner-wrapper">
		    <div class="login-hd">
				<h1><img class="logo" src="../assets/logo_bs.png" alt="教育部中小學國際教育2.0全球資訊網logo"></h1>
				<h2>IETW Portal</h2>
				<h3>Register</h3>
			</div>
            
            
            <!-- 以下排版範例 -->
            
            <form>
                <h5>Foreign School Information</h5>
                <p>Please fill in the form in English (Fields marked*are required)</p>
                
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="form-label">Country Name</label>
                            <select class="form-select" aria-label="Default select example">
                                <option selected>Open this select menu</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="input001" class="form-label">Country Code</label>
                            <input type="text" class="form-control" id="input001" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="input002" class="form-label">Full name of school <span class="required">*</span></label>
                            <input type="text" class="form-control" id="input002" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="input003" class="form-label">School website</label>
                            <input type="text" class="form-control" id="input003" />
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-group">
                            <label for="input004" class="form-label">School postal address <span class="required">*</span></label>
                            <input type="text" class="form-control" id="input004" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="form-label">Country Name</label>
                            <select class="form-select" aria-label="Default select example">
                                <option selected>Open this select menu</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="input001" class="form-label">Country Code</label>
                            <input type="text" class="form-control" id="input001" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="input002" class="form-label">Full name of school <span class="required">*</span></label>
                            <input type="text" class="form-control" id="input002" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="input003" class="form-label">School website</label>
                            <input type="text" class="form-control" id="input003" />
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-group">
                            <label for="input004" class="form-label">School postal address <span class="required">*</span></label>
                            <input type="text" class="form-control" id="input004" />
                        </div>
                    </div>
                </div>
                
                <h5 class="mt-4">International Exchange Programs (multiple choices) <span class="required">*</span></h5>
                
                <div class="row">
                    <div class="col-12">
                        <div class="form-group">
                            <label for="input001" class="form-label">(A) Does your school have targeted exchange schools from Taiwan? </label>
                            <div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1" />
                                    <label class="form-check-label" for="inlineCheckbox1">Invite them or/and</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2" />
                                    <label class="form-check-label" for="inlineCheckbox2">Wait for IEW automatically matching</label>
                                </div>
                            </div>
                            <p class="form-text">If yes, please tick and write down the names of schools, If no, please continue filling in the following items.</p>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-group">
                            <label for="input001" class="form-label">(B) Preferred languages for communication with Taiwan’s students <span class="required">*</span></label>
                            <div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1" />
                                    <label class="form-check-label" for="inlineCheckbox1">English(drop-down list)</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2" />
                                    <label class="form-check-label" for="inlineCheckbox2">Other</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="form-group">
                    <label class="form-label"><%= lorem_sentence %></label>
                    <div class="block-plus">
                        <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <select class="form-select" aria-label="Default select example">
                                    <option selected>Continent</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <select class="form-select" aria-label="Default select example">
                                    <option selected>Country</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                            </div>
                        </div>
                            <div class="col-md-5">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="" placeholder="School" />
                                </div>
                            </div>
                        <div class="col-md-1 text-end">
                            <button type="button" class="btn btn-success" title="新增"><i class="fas fa-plus"></i></button>
                        </div>
                    </div>
                    </div>

                    <div class="block-delete">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <input class="form-control" type="text" value="Asia" disabled>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <input class="form-control" type="text" value="Japan" disabled>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="form-group">
                                    <input class="form-control" type="text" value="Stanford University" disabled>
                                </div>
                            </div>
                            <div class="col-md-1 text-end">
                                <button type="button" class="btn btn-danger" title="刪除"><i class="fas fa-times"></i></i></button>
                            </div>
                        </div>
                    </div>
                </div>

				<div class="action-wrap">
                    <button type="submit" class="btn btn-lg btn-primary">Register</button>
				</div>
            </form>
		</div>
	</div>
</div>



<% content_for :js do %>
    <!-- Three js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r61/three.min.js"></script>
    <script>
        var scene = new THREE.Scene();
        var camera = new THREE.PerspectiveCamera(75, window.innerWidth/window.innerHeight, 0.1, 1000);
        var renderer = new THREE.WebGLRenderer();

        /*
         In addition to creating the renderer instance, we also need to set the size at which we want it to render our app. 
         It's a good idea to use the width and height of the area we want to fill with our game 
         - in this case, the width and height of the browser window. For performance intensive games, you can also give setSize smaller values, 
         like window.innerWidth/2 and window.innerHeight/2, for half the resolution. 
         This does not mean that the game will only fill half the window, but rather look a bit blurry and scaled up.

         Last but not least, we add the renderer element to our HTML document. 
         This is a <canvas> element the renderer uses to display the scene to us.
        */

        renderer.setSize(window.innerWidth, window.innerHeight);
        document.body.appendChild(renderer.domElement);



        /* Create Lights: PointLight / SpotLight etc.*/
        var spotLight = new THREE.SpotLight(0xffffff);
        spotLight.position.set(100,100,100);
        spotLight.castShadow = true; //If set to true light will cast dynamic shadows. Warning: This is expensive and requires tweaking to get shadows looking right.
        spotLight.shadowMapWidth = 1024;
        spotLight.shadowMapHeight = 1024;
        spotLight.shadowCameraNear = 500;
        spotLight.shadowCameraFar = 4000;
        spotLight.shadowCameraFov = 30;
        scene.add(spotLight);

        /* Create Material */
        function Mat(){
          var material = new THREE.MeshPhongMaterial({
            color      : new THREE.Color("rgb(35,35,213)"),  //Diffuse color of the material
            emissive   : new THREE.Color("rgb(64,128,255)"), //Emissive(light) color of the material, essentially a solid color unaffected by other lighting. Default is black.
            specular   : new THREE.Color("rgb(93,195,255)"), /*Specular color of the material, i.e., how shiny the material is and the color of its shine. 
                                                               Setting this the same color as the diffuse value (times some intensity) makes the material more metallic-looking; 
                                                               setting this to some gray makes the material look more plastic. Default is dark gray.*/
            shininess  : 1,                                  //How shiny the specular highlight is; a higher value gives a sharper highlight. Default is 30.
            shading    : THREE.FlatShading,                  //How the triangles of a curved surface are rendered: THREE.SmoothShading, THREE.FlatShading, THREE.NoShading
            wireframe  : 1,                                  //THREE.Math.randInt(0,1)
            transparent: 1,
            opacity    : 0.15                                //THREE.Math.randFloat(0,1) 
          });
          return material;
        }

        /* Create Geometry */
        var geometry = new THREE.SphereGeometry(50,20,20,0,Math.PI*2,0,Math.PI);
        //SphereGeometry(radius, widthSegments, heightSegments, phiStart, phiLength, thetaStart, thetaLength)

        /* Create Earth Sphere*/
        var earth = new THREE.Mesh(geometry, Mat());

        /*
        var numSphere = 30;
        var tabSphere = [];
        for(var i=0: i<numSphere; i++){
          tabShpere.push(new Sphere(i));
          scene.add(tabSphere[i].b);
        }
        */

        scene.add(earth);

        camera.position.z = 90;



        /*
          This will create a loop that causes the renderer to draw the scene 60 times per second. 
          If you're new to writing games in the browser, you might say "why don't we just create a setInterval? 
          The thing is - we could, but requestAnimationFrame has a number of advantages. 
          Perhaps the most important one is that it pauses when the user navigates to another browser tab, hence not wasting their precious processing power and battery life.
        */
        function render(){
          requestAnimationFrame(render);
          earth.rotation.x += 0.001;
          earth.rotation.y += 0.001;
          renderer.render(scene, camera);
        }
        render();
    </script>
<% end %>




