<!-- admin-page: UI / Overview -->
<%= render :partial => "/partials/admin_breadcrumb" %>

<main class="main">
    <div class="page-header">
        <h1>Overview</h1>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="col-block">
                <div class="block-content">
				    <p>Jesda admin 主要框架為 Bootstrap + Mdbootstrap，但因應後台架構與需求，少部分規範不盡相同，但使用方式大致上都差不多。</p>
					<h4>容器</h4>
					<p><code>.container 或 .container-fluid</code> 不會使用在 admin 中</p>
					<h4>樣式修改</h4>
					<p>任何樣式要進行變動請勿直接修改 prototype 的 css，新增一支 overwrite_style.css 之類的檔案另外載入做覆蓋。真正未 compile 的 prototype 樣式是透過許多支 scss 組合而成，若直接修改 css 很有可能再度被覆蓋。若要動到 bootstrap 核心的參數可找 fire 協助處裡。</p>
					<h4>Font Awesome</h4>
					<p><a href="https://fontawesome.com/v4.7.0/">Font Awesome 4.7.0</a></p>
					<h4>其它</h4>
					<p>陸續補充說明</p>
				</div>
            </div>
        </div>
    </div>
</main>