<!-- admin-page: UI / Overview -->
<%= render :partial => "/partials/admin_breadcrumb" %>

<div class="main">
    <div class="page-header">
        <h2>Overview</h2>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="col-block">
                <div class="block-content">
				    <p>Jesda admin 主要框架為 Bootstrap + Mdbootstrap，但因應後台架構與需求，少部分規範不盡相同，但使用方式大致上都差不多，規範不同之處會在各元件頁面中說明。</p>
					<h4>容器</h4>
					<code>.container 或 .container-fluid</code>
					<p>不會使用在 admin 中</p>
				</div>
            </div>
        </div>
    </div>
</div>