<!-- admin-page: Sitemap -->
<%= render :partial => "/partials/admin_breadcrumb" %>

<main class="main">
    <div class="page-header">
        <h2>Sitemap</h2>
    </div>
	<div class="sitemap scol-6">
		<p><a href="https://github.com/mattbrailsford/css-sitemap">Sitemap &mdash; Version 1.0</a></p>
		<nav class="primary">
			<ul>
				<li class="home">
					<a href="###">
						<i class="fa fa-home"></i> Home <small>Some kind of description</small>
					</a>
					<ul>
						<li>
							<a href="/search"><i class="fa fa-search"></i> Search <small>Search by name, location and/or category.</small></a>
							<ul>
								<li><a href="/search/#list">List view</a></li>
								<li><a href="/search/#map">Map view</a></li>
							</ul>
						</li>
						<li>
							<a href="/suppliers"><i class="fa fa-building"></i> Suppliers</a>
							<ul>
								<li>
									<a href="/suppliers/a-z">A to Z</a>
									<ul>
										<li><a href="/suppliers/a-z/:letter" class="multi">Level 3</a></li>
									</ul>
								</li>
								<li>
									<a href="/suppliers/location">Location</a>
									<ul>
										<li><a href="/suppliers/location/:location" class="multi">Level 3</a></li>
									</ul>
								</li>
								<li>
									<a href="/suppliers/category">Category</a>
									<ul>
										<li><a href="/suppliers/category/:category" class="multi">Level 3</a></li>
									</ul>
								</li>
							</ul>
						</li>
						<li>
							<a href="/supplier/:slug"><i class="fa fa-building"></i> Supplier <small>Supplier details page.</small></a>
						</li>
						<li>
							<a href="/blog"><i class="fa fa-rss"></i> Blog <small>Filter by category or tag.</small></a>
							<ul>
								<li><a href="/blog/article" class="multi">Article</a></li>
							</ul>
						</li>
						<li>
							<a href="/about"><i class="fa fa-info-circle"></i> About</a>
						</li>
						<li>
							<a href="/contact"><i class="fa fa-phone"></i> Contact</a>
						</li>
					</ul>
				</li>
			</ul>
		</nav>

		<nav class="secondary">
			<ul>
				<li><a href="/login">Sign In</a></li>
				<li><a href="/sitemap">Site Map</a></li>
				<li><a href="/faqs">FAQs</a></li>
				<li><a href="/terms">Terms &amp; Conditions</a></li>
				<li><a href="/privacy">Privacy Policy</a></li>
			</ul>
		</nav>

	</div>
</main>