<!-- admin-page: Timeline -->
<%= render :partial => "/partials/admin_breadcrumb" %>

<main class="main">
    <div class="page-header">
        <h2>Timeline</h2>
    </div>
</main>

<% content_for :js do %>
    <script>
		$('#myTabs a').click(function (e) {
			e.preventDefault()
			$(this).tab('show')
		})
    </script>
<% end %>