<!-- template: 線上推薦系統 - 不推薦 -->

<div class="container-lg">
	<div class="page-content">
		<main class="main">
            <div class="inform-content notice-wrapper">
                <h4 class="fw-bold">謝謝推薦人，雖然不參與推薦，但仍完成作業流程。</h4>
                <p><%= lorem_sentences(3) %></p>
                <p><%= lorem_sentences(3) %></p>
            </div>
		</main>
	</div>
</div>



<% content_for :js do %>

<% end %>
