<!-- template: 線上推薦系統 - 資料核對 -->

<div class="container-lg">
	<div class="page-content">
		<main class="main">
            <h5 class="fw-bold">{NAME} 先生/女士 您好</h5>
            <p class="mb-5">歡迎您進入 {{該期別設定的}} 線上推薦系統，請您先核對以下個人身分資料：</p>
            
            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <label class="form-label">中文名稱</label>
                        <input class="form-control" type="text" value="王曉輝" aria-label="中文名稱" disabled readonly>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label class="form-label">英文名稱</label>
                        <input class="form-control" type="text" value="Wang Suchart" aria-label="英文名稱" disabled readonly>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label class="form-label">服務機關與部門</label>
                        <input class="form-control" type="text" value="王曉輝" aria-label="服務機關與部門" disabled readonly>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label class="form-label">服務機關電話(分機)</label>
                        <input class="form-control" type="text" value="02-22626552" aria-label="服務機關電話(分機)" disabled readonly>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label class="form-label">職稱</label>
                        <input class="form-control" type="text" value="教授" aria-label="職稱" disabled readonly>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label class="form-label">Email</label>
                        <input class="form-control" type="email" value="suchart@aa.com" aria-label="Email" disabled readonly>
                    </div>
                </div>
            </div>
            
            <div class="form-group mt-2">
                <label class="form-label">請問您是否為上述資料之本人？</label>
                <div>
                    <button type="button" class="btn btn-lg btn-outline-dark">否，我不是本人</button>
                    <button type="button" class="btn btn-lg btn-outline-primary">是，我是本人</button>
                </div>
            </div>
            
		</main>
	</div>
</div>



<% content_for :js do %>

<% end %>
