<nav aria-label="breadcrumb" class="breadcrumb-wrapper">
    <div class="container-xl">
        <div class="inner">
            <a href="#C" title="中央內容區塊" id="AC" accesskey="C" name="C" style="">:::</a>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#" title="{連結名稱}">首頁</a></li>
                <li class="breadcrumb-item"><a href="#" title="{連結名稱}">企業簡介</a></li>
                <li class="breadcrumb-item active" aria-current="page">網站路徑數字 HTML and CSS</li>
            </ol>
        </div>
    </div>
</nav>                           