                               
<footer class="footer sticky-stopper">
    
    <div class="footer-inner">
        <div class="container-xl">
            <div class="block-start">
                <h2 class="logo">
                    <img src="../assets/logo-original.svg" class="original" alt="臺灣引路人 original logo">
                    <img src="../assets/logo.svg" alt="臺灣引路人 logo">
                </h2>
                <ul class="menu-item contact">
                    <li>
                        <span class="output">國立臺灣大學 學務處學生職業生涯發展中心</span>
                    </li>
                    <li>
                        <span class="label">地址</span>
                        <span class="output">10617 臺北市大安區羅斯福路四段1號望樂樓區</span>
                    </li>
                    <li>
                        <span class="label">信箱</span>
                        <span class="output">
                            <a href="mailto:career@ntu.edu.tw">career@ntu.edu.tw</a>
                        </span>
                    </li>
                    <li>
                        <span class="label">電話</span>
                        <span class="output">+886-2-33662046~7</span>
                    </li>
                </ul>
            </div>
            <div class="block-end">
                <ul class="menu-item footer-link">
                    <li class="accessibility-mark"><a href="#X" id="X" name="X" title="下方功能區塊" accesskey="Z">:::</a></li>
                    <li class="social-media">
                        <a href="#" title="Facebook">
                            <i class="fab fa-facebook-square"></i>
                            <span class="sr-only">Facebook</span>
                        </a>
                        <a href="#" title="Instagram">
                            <i class="fab fa-instagram"></i>
                            <span class="sr-only">Instagram</span>
                        </a>
                    </li>
                    <li><a href="#" title="隱私權與資訊安全政策">隱私權與資訊安全政策</a></li>
                    <li><a href="#" title="雙語辭彙表">雙語辭彙表</a></li>
                    <li><a href="#" title="臺大地圖">臺大地圖</a></li>
                </ul>
            </div>
        </div>
    </div>
    
    <div class="footer-bottom">
        <div class="container-xl">
            <div class="block-start">
                <span class="link-wrap">
                    <a href="#" class="bottom-link" title="臺灣大學 學生事務處">
                        <span class="sr-only">臺灣大學 學生事務處</span>
                        <img src="../assets/logo-osa@2x.png" alt="臺灣大學 學生事務處">
                    </a>
                    <a href="#" class="bottom-link"  title="臺灣大學 學生職業生涯發展中心">
                        <span class="sr-only">臺灣大學 學生職業生涯發展中心</span>
                        <img src="../assets/logo-career@2x.png" alt="臺灣大學 學生職業生涯發展中心">
                    </a>
                </span>
                <address>本網站著作權屬於國立臺灣大學 學生事務處</address>
                <div class="browser">
                    瀏覽器建議
                    <a href="https://www.google.com/intl/zh-TW/chrome/">Google Chrome</a>,
                    <a href="https://www.mozilla.org/zh-TW/firefox/new/">Firefox</a> 或
                    <a href="https://www.microsoft.com/zh-tw/edge">Edge</a>
                </div>
            </div>
            <div class="block-end">
                <a href="#" target="_blank" title="無障礙網站（另開新視窗）">
                    <img src="../assets/accessibility.png" alt="通過A檢測等級無障礙網頁檢測">
                </a>
            </div>
        </div>
    </div>

</footer>