<header class="header" id="pagetop">
    <a href="#maincontent" id="gotocenter" title="移到主要內容" class="sr-only sr-only-focusable">跳到主要內容</a>
    <div class="header-wrap">
        <div class="brands">
            <h1>
                <a class="brands-link" href="../index.html" title="臺灣大學職涯中心 臺灣引路人">
                    <div class="brands-wrapper">
                        <video width="640" height="360" class="svg-clipped" autoplay playsinline muted loop preload poster="../assets/logo-poster.png">
                            <source src="../assets/bg-video.mp4"/>
                        </video>
                        <img id="svgPath" src="../assets/cace.svg" alt="NTU CACE">
                    </div>
                    <span class="h1-hide">臺灣大學職涯中心 臺灣引路人</span>
                </a>
            </h1>
        </div>
        <div class="nav-menu">
            <ul class="nav" aria-label="主要功能選單">
                <li class="nav-item accessibility">
                    <a class="btn" href="#U" id="AU" name="U" title="主要功能選單" accesskey="U">:::</a>
                </li>
                <li class="nav-item">
                    <div class="dropdown">
                        <a class="btn dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" title="{連結名稱}">
                            關於臺灣引路人
                        </a>

                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#" title="{連結名稱}">臺灣引路人介紹</a></li>
                            <li><a class="dropdown-item" href="#" title="{連結名稱}">主辦單位介紹</a></li>
                            <li><a class="dropdown-item" href="#" title="{連結名稱}">主辦團隊介紹</a></li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <div class="dropdown">
                        <a class="btn dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" title="{連結名稱}">
                            學生須知
                        </a>

                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#" title="{連結名稱}">實習前準備</a></li>
                            <li><a class="dropdown-item" href="#" title="{連結名稱}">如何申請</a></li>
                            <li><a class="dropdown-item" href="#" title="{連結名稱}">預期效益</a></li>
                            <li><a class="dropdown-item" href="#" title="{連結名稱}">常見問題</a></li>
                            <li><a class="dropdown-item" href="#" title="{連結名稱}">實習申請連結</a></li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <div class="dropdown">
                        <a class="btn dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" title="{連結名稱}">
                            實習機構
                        </a>

                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#" title="{連結名稱}">實習企業簡介</a></li>
                            <li><a class="dropdown-item" href="#" title="{連結名稱}">實習企業導師簡介</a></li>
                        </ul>
                    </div>
                </li>
                
                <li class="nav-item">
                    <a class="btn" href="#" title="{連結名稱}"><span class="link-span">消息公告</span></a>
                </li>
                <li class="nav-item">
                    <a class="btn" href="#" title="{連結名稱}"><span class="link-span">活動成果</span></a>
                </li>
            </ul>
        </div>
        <div class="sub-menu">
            <a class="btn" href="#" title="網站地圖">
                <span class="link-span"><i class="fas fa-sitemap"></i><span class="sr-only">網站地圖</span></span>
            </a>
            <a class="btn" href="#" title="搜尋" data-bs-toggle="offcanvas" data-bs-target="#offcanvasSearch" aria-controls="offcanvasSearch" name="S" id="S" accesskey="S">
                <span class="sr-only">搜尋</span>
                <span class="link-span"><i class="fas fa-search"></i></span>
            </a>
        </div>
    </div>
    <div class="mobile-only">
        
        <a class="btn btn--close" data-bs-toggle="offcanvas" href="#offcanvasNav" role="button" aria-controls="offcanvasNav" title="開啟選單">
            <span class="main-navigation-toggle">
                <span></span>
            </span>
        </a>
    </div>
    <%= render :partial => "/partials/nav-main" %>
</header>
                                        



