
.bootstrap-tagsinput-sm {
    padding: 2px 4px !important;
}

.educate-wrapper {
	background: #fff;
	.comment-item {
		border-top: 1px dashed #ddd;
		padding-top: 1.25rem;
		&:first-child {
            border-top: none;
            padding-top: 0;
		}
	}
	.section-test {
		border: 1px solid #2bbbad;
		padding: 1.25rem;
	}
}

.educate-tabs {
	border-bottom: none;
	margin-bottom: 0 !important;
	a {
		display: block;
		padding: 1rem 1.5rem;
		font-size: 17px;
		color: #333;
		&.active {
			background: #4285f4;
			color: #fff;
		}
	}
}

.educate-content {
	padding: 2.5rem 1.25rem 1.25rem;
	.bootstrap-tagsinput {
		.badge { margin-right: 3px; }
		&.disabled {
            background-color: #e9ecef !important;
		}
	}
	.custom-select:disabled {
		font-size: 14px;
		color: #333;
		opacity: 1;
	}
	.col-block + .col-block {
		margin-top: 30px;
	}
}

.educate-flex-wrapper {
	display: flex;
	justify-content: space-between;
	.flex-start {
		width: 20%;
	}
	.flex-end {
		padding-left: 20px;
		width: 80%;
	}
}

.educate-function-tabs {
	.nav {
		background: #484b4c !important;
		border-radius: 0;
		li {
			&:first-child { margin-left: 0; }
			a {
				padding: 14px 24px 12px;
				font-size: 1rem;
			}
		}
	}
	.tab-content { padding: 2rem 0 0; }
}