
/* `Login
-----------------------------------------------------------------------------*/

.jesda-login {
    background: rgba(#0f2b3f ,1);
    background-image: linear-gradient(to right, #0f2b3f, #1a60a4);
	overflow: hidden;
	position: relative;
	section, .jesda_login-wrapper {
		position: absolute;
		left: 0;
		top: 0;
		bottom: 0;
		right: 0;
		z-index: 0;
	}
}

.jesda_login-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1 !important;
	.jesda_login-container {
		background: #fff;
		box-shadow: 0 -16px 8px rgba(#000, .07), 0 -4px 24px rgba(#000, .2);
		border-radius: 1rem;
		width: 420px;
		padding: 4rem 2rem 2rem;
		position: relative;
	}
	.logo {
		background: #fff;
		box-shadow: 0 -16px 8px rgba(#000, .05), 0 -24px 16px rgba(#000, .05);
		border-radius: 50%;
		padding: .5rem;
		position: absolute;
		top: -53px;
		left: 50%;
		margin-left: -53px;
		.logo__img {
			display: inline-block;
			width: 90px;
			height: auto;
		}
	}
	hgroup {
		text-align: center;
		h3 { font-weight: bold; }
		h5 { color: #888; }
	}
	.forget-password {
		margin-bottom: 0;
		padding-top: 3rem;
		text-align: center;
		position: relative;
		&:after {
			content: "";
			background: #777;
			margin-left: -24px;
			width: 48px;
			height: 2px;
			position: absolute;
			left: 50%;
			top: 12px;
		}
		a {
            color: #aaa;
            &:hover { color: #333; }
		}
	}
}

/* `Three Column & Tabs
-----------------------------------------------------------------------------*/

$block-padding: 20px;

.three-column {
	width: 100%;
	&.has-tabs {
		display: flow-root;
		.vertical-tabs {
			float: left;
			border-right: 1px solid #f1f1f1;
			width: 180px;
		}
		.tree-wrapper {
			margin-left: 180px;
			.js-tree {
				border-left: 1px solid #f1f1f1;
				padding: $block-padding;
				margin-left: -1px;
			}
		}
	}
	&.tabs-right {
		.vertical-tabs {
			float: right;
			border-right: none;
			border-left: 1px solid #f1f1f1;
			position: relative;
			z-index: 1;
		}
		.content-wrapper {
			border-right: 1px solid #f1f1f1;
			margin-right: 179px;
			padding: $block-padding;
			position: relative;
			z-index: 0;
		}
	}
}

.vertical-tab-item {
	li a {
		display: block;
		border-bottom: 1px solid #f1f1f1;
		padding: 0.5rem 20px;
		color: #777d86;
		position: relative;
		&:hover {
			background: #edf0f3;
			color: #4d535d;
		}
		&.current {
			background: #f4b142;
			margin-right: -1px;
			font-weight: bold;
			color: #fff;
			&:after {
				content: "";
                border-style: solid;
                border-width: 6px 0 6px 6px;
                border-color: transparent transparent transparent #f4b142;
				margin-top: -6px;
                width: 0;
                height: 0;
				position: absolute;
				right: -4px;
				top: 50%;
			}
		}
	}
}

.three-column {
	&.tabs-right {
		.vertical-tab-item {
			a.current {
				margin-right: 0;
				margin-left: -1px;
                &:after {
					border-width: 6px 6px 6px 0;
                    border-color: transparent #f4b142 transparent transparent;
					right: auto;
					left: -4px;
                }
			}
		}
	}
}

/* `Proposal
-----------------------------------------------------------------------------*/

.proposal-wrapper {
	display: flow-root;
	.proposal-side {
		float: left;
		margin-bottom: 1.5rem;
		padding-right: 1.25rem;
		width: 440px;
		min-width: 440px;
		.side-hd {
			position: relative;
			.badge {
				box-shadow: none;
				padding: .5rem .75rem .375rem;
				font-size: 1rem;
				position: absolute;
				right: 0;
				top: 0;
			}
			.description {
				margin: 1.5rem 0;
				position: relative;
			}
		}
        .project-client {
			margin-bottom: .5rem;
			padding: .25rem 80px 0 0;
            color: #667a9b;
            span {
                display: inline-block;
                margin-right: .5rem;
            }
        }
        .project-system {
            margin-bottom: 0;
			font-size: 1.875rem;
            color: #000;
        }
		.project-detail {
			border-bottom: none;
			margin-bottom: 1.5rem;
			.menu-item {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                align-items: center;
			}
		}
		.detail-item {
			border-bottom: 1px dotted #d8dee3;
			display: flex;
			margin-bottom: .25rem;
			padding-bottom: .25rem;
			width: 47%;
			&.status {
				border-bottom: none;
			}
			.badge {
				box-shadow: none;
				//border-radius: .25rem;
				padding: .375rem .5rem .25rem;
				font-size: 0.9375rem;
			}
			.badge-success {
				background-color: #50bb40 !important
			}
			.badge-danger {
				background-color: #ff7c35 !important
			}
		}
		.detail-lable {
			padding-right: .75rem;
			width: 92px;
			color: #7a7f8b;
		}
		.detail-content {
			flex: 1;
		}
		section { margin-bottom: 2rem;}
		.section-title {
			margin-bottom: .75rem;
			font-weight: bold;
		}
	}
	.proposal-content {
		padding-left: 460px;
		max-width: 100%;
		.col-block .block-content { padding: 1.25rem; }
	}
}

.white-well {
	background: #fff;
}

.col-block.proposal-tabs {
	.nav-tabs {
		background-color: #fff !important;
		& > li > a {
			padding: 1.25rem 1.75rem !important;
			font-size: 1.125rem;
			font-weight: bold;
			color: rgba(#000, .8) !important;
			&.active { color: #000 !important; }
			&:hover { background: #dee0e3 !important; }
		}
	}
	.nav-tabs > li > a.active, 
	.nav-tabs > li > a.active:hover, 
	.nav-tabs > li > a.active:focus {
		background: $mdb_primary !important;
		color: #fff !important;
	}
}

.object-schedule {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	li {
		display: flex;
		align-items: center;
		width: 49%;
		background: #fff;
		//border: 1px solid #e7e8eb;
		border-radius: .125rem;
		box-shadow: 0 1px 2px rgba(#000, .05);
		margin-bottom: 10px !important;
		.object {
			flex: 1;
			padding-left: .75rem;
			color: #888;
			span { display: block; }
			.neme {
				font-size: 1.125rem;
				color: #111;
			}
		}
	}
}

.table.table-estimate {
	border-top-color: #b9c3c3;
	thead th {
		background: #f4f9fd;
		border-color: #b9c3c3;
		text-align: center;
		span {
			display: inline-block;
			padding: .75rem;
		}
		&.pp-estimate-th { padding: 0; }
	}
	th, td {
        padding: .5rem;
		vertical-align: middle;
	}
	.estimate-region,
	.other-cost {
		display: flex;
		border-top: 1px solid #b9c3c3;
		span {
			border-right: 1px solid #b9c3c3;
			padding: .5rem;
			font-weight: 400;
			&:last-child { border-right: none; }
		}
	}
	.estimate-region {
		.job-title { width: 50%; }
		.num { width: 10%; }
		.estimate-checkbox { width: 10%; }
	}
	.other-cost {
		.inner-row {
			align-items: center;
			border-right: 1px solid $base_border_color;
			span { border-right: none !important; }
		}
		.item { width: 55%; }
		.cost-input {
			border-left: 1px solid $base_border_color !important;
			border-right: 1px solid $base_border_color !important;
			width: 45%;
		}
	}
	.pp-estimate {
		background: #f2f5f5;
		padding: 1px;
		.estimate-region,
		.other-cost {
			display: block;
			background: #fff;
            border-top: 1px solid $base_border_color;
            border-left: 1px solid $base_border_color;
		}
		.estimate-checkbox {
			padding-top: .75rem;
			text-align: center;
			.custom-control {
				display: inline-block;
				margin-right: 0;
				padding-left: 0;
				min-width: 1rem;
			}
		}
		.job-title { padding-top: .75rem; }
	}
	.inner-row {
		display: flex;
		border-bottom: 1px solid $base_border_color;
		white-space: normal;
		span, span:last-child {
		    border-right: 1px solid $base_border_color;
		}
	}
	.btns {
		.btn-floating {
			margin-right: .125rem;
			&:last-child { margin-right: 0; }
			&.btn-sm {
				width: 28px;
				height: 28px;
				.fa {
                    font-size: .75rem;
                    line-height: 28px !important;
				}
			}
		}
	}
	.colspan {
		h5 {
			margin: 0;
			padding: .5rem 0;
			font-weight: bold;
		}
	}
	.step-subject {
		h6 {
			margin-bottom: 0;
			font-weight: bold;
		}
		.topic {
			margin-top: .25rem;
			color: #777;
			white-space: normal !important;
		}
	}
	tbody + tbody {
		border-top-width: 1px;
	}
}

.modal_estimated {
	.modal-footer {
		position: relative;
		.btn-warning {
			position: absolute;
			left: 1rem;
		}
	}
	.table th {
		background: #f4f9fd;
	}
}

.tooltip {
	font-size: 13px;
	a {
		&:hover { color: $metronic_warning !important; }
	}
}

.btn-trash_table,
.btn-pencil_table,
.btn-link_table {
	box-shadow: none;
	background: #fff;
	margin: 0;
	padding: 0.25rem 0.5rem .125rem;
	color: #aaa;
	&:hover {
		background: #f5f5f5;
		box-shadow: none;
		color: #333;
	}
	i { margin-right: 0; }
}

.section-wrap {
	margin-top: 1.5rem;
	.section-hd {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: .75rem;
		.btn {
			margin: 0;
			padding: 0.25rem 0.5rem 0.125rem;
		}
	}
	.section-title {
		margin-bottom: 0;
		font-weight: bold;
	}
}

.number-input input[type="number"] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
}

.number-input input[type="number"]::-webkit-inner-spin-button,
.number-input input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

.number-input {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.number-input button {
    -webkit-appearance: none;
    background-color: transparent;
    border: none;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin: 0;
    position: relative;
}

.number-input button:before,
.number-input button:after {
    display: inline-block;
    position: absolute;
    content: "";
    height: 2px;
    transform: translate(-50%, -50%);
}

.number-input button.plus:after {
    transform: translate(-50%, -50%) rotate(90deg);
}

.number-input input[type="number"] {
    text-align: center;
}

.number-input.number-input {
    border: 1px solid #ced4da;
    width: 100%;
    border-radius: 0.25rem;
}

.number-input.number-input button {
    width: 2.6rem;
    height: 0.7rem;
}

.number-input.number-input button.minus {
    padding-left: 10px;
}

.number-input.number-input button:before,
.number-input.number-input button:after {
    width: 0.7rem;
    background-color: #495057;
}

.number-input.number-input input[type="number"] {
    max-width: 4rem;
    padding: 0.5rem;
    border: 1px solid #ced4da;
    border-width: 0 1px;
    font-size: 1rem;
    height: 37px;
    color: #495057;
}

@media not all and (min-resolution: 0.001dpcm) {
    @supports (-webkit-appearance: none) and (stroke-color: transparent) {
        .number-input.def-number-input.safari_only button:before,
        .number-input.def-number-input.safari_only button:after {
            margin-top: -0.3rem;
        }
    }
}

.proposal-tree-wrapper {
	display: flex;
	.jtree {
		border: 1px solid $base_border_color;
		padding: 1.25rem;
	}
	.jtree-form {
		flex: 1;
		margin-left: 1.25rem;
		label { font-weight: bold; }
	}
	.evaluation-group + .evaluation-group {
		margin-top: 1.75rem;
	}
}

.evaluate-table {
	th { background: #f4f9fd; }
}

.proposal-maintain-list {
	display: flex;
	flex-wrap: wrap;
	.maintain-card {
		margin-bottom: 2.25rem;
	}
	.item-wrap {
		width: 49.2%;
		&:nth-child(odd) {
			margin-right: 1.6%;
		}
	}
	.card-hd {
		display: flex;
		justify-content: space-between;
        align-items: center;
		.service-item {
			flex: 1;
			//padding-left: 1.25rem;
			font-size: 1.25rem;
			h5 {
				margin-bottom: 0;
				//padding-top: .5rem;
				font-weight: bold;
				color: #614bdd;
			}
		}
		.item-check {
			background: rgba($process-light, 0.5);
			width: 2.5rem;
			height: 2.5rem;
			.label { margin-bottom: 0; }
		}
	}
	.card-bd { background: #fafafa; }
	.card-middle {
		border: 1px solid $base_border_color;
		border-bottom: none;
		display: flex;
		align-items: center;
		.manpower {
			padding: .75rem;
			width: 50%;
		}
		.effective {
			border-left: 1px solid $base_border_color;
			padding: .75rem;
			width: 50%;
		}
	}
	.estimate-column {
		display: flex;
		align-items: center;
		width: 50%;
		& + .estimate-column {
			border-left: 1px solid $base_border_color;
		}
		&.has-modal {
			padding: .75rem;
			font-size: 1rem;
		}
	}
	.maintain_norm,
	.remark {
		padding: .75rem;
	}
	
	.maintain_illustrate {
		background: #fff;
		padding: .75rem 0;
		p {
			margin-bottom: .25rem;
			& + p { margin-bottom: 0; }
		}
	}
	
	.maintain_norm {
		border: 1px solid $base_border_color;
		border-bottom: none;
	}
	
	.remark {
		box-shadow: 0 2px 2px rgba(#000, .05);
		border: 1px solid $base_border_color;
	}
	
    .label__checkbox {
        display: none;
    }

    .label__check {
        display: inline-block;
        background: #eaeaea;
        vertical-align: middle;
        width: 2.5rem;
        height: 2.5rem;
        cursor: pointer;
		color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.3s ease;
		transform-origin: center center;

        i.icon {
            opacity: .8;
            font-size: 1.5rem;
			//font-size: calc(1rem + 1vw);
            //color: transparent;
            transition: opacity 0.3s 0.1s ease;
            //-webkit-text-stroke: 3px rgba(0, 0, 0, 0.5);
        }

        &:hover {
            background: #7c7e81;
        }
    }

    .label__checkbox:checked + .label__text .label__check {
        animation: check 0.5s cubic-bezier(0.895, 0.03, 0.685, 0.22) forwards;
		transform-origin: center center;

        .icon {
            opacity: 1;
            transform: scale(0);
            color: white;
            -webkit-text-stroke: 0;
            animation: icon 0.3s cubic-bezier(1, 0.008, 0.565, 1.65) 0.1s 1 forwards;
        }
    }
	.form-control { font-size: .9375rem; }
	.modal-link {
		padding-left: .25rem;
	}
}

@keyframes icon {
    from {
        opacity: 0;
        transform: scale(0.3);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes check {
    0% {
        width: 1.5em;
        height: 1.5em;
        border-width: 5px;
    }
    10% {
        width: 1.5em;
        height: 1.5em;
        opacity: 0.1;
        background: rgba(0, 0, 0, 0.2);
        border-width: 15px;
    }
    12% {
        width: 1.5em;
        height: 1.5em;
        opacity: 0.4;
        background: rgba(0, 0, 0, 0.1);
        border-width: 0;
    }
    50% {
        width: 2.5rem;
        height: 2.5rem;
        background: #25d400;
        border: 0;
        opacity: 0.6;
    }
    100% {
        width: 2.5rem;
        height: 2.5rem;
        background: #51d845;
        border: 0;
        opacity: 1;
    }
}

.carousel-contact {
	.contact-inner {
		display: flow-root;
	}
	.contact-avatar {
		display: flex;
		justify-content: center;
		align-items: center;
		float: left;
		border-radius: 50%;
		width: 96px;
		height: 96px;
		overflow: hidden;
		img {
			width: 100%;
			height: auto;
		}
	}
	.contact-info {
		padding-left: 120px;
		h5 {
			font-size: 1.125rem;
			font-weight: bold;
			color: #666;
			small { color: #919cb0; }
		}
		ul, ul li {
			list-style: none;
			margin: 0;
			padding: 0;
		}
		ul { margin-bottom: .5rem !important; }
		li {
			span { display: inline-block; }
		}
		.label {
			width: 56px;
		}
	}
	.carousel-indicators {
		bottom: -2.5rem;
		li {
			background-color: #aaa;
			&.active {
				background-color: $main_color;;
			}
		}
	}
}

.table-estimate-bar {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	margin-bottom: 1rem;
	.object-schedule {
		li {
			box-shadow: none;
			margin: 0 0 0 1rem !important;
			width: auto;
			height: 60px;
		}
		.schedule-pie {
			transform:scale(.75);
		}
		.object { padding-left: 0; }
	}
	.checkbox-warranty {
		align-items: center;
		margin-bottom: 0;
	}
}

.evaluation-tabs {
	.nav-link {
		padding: .5rem .75rem;
		.staff-display {
			.number {
				margin-left: .5rem;
				padding-left: .5rem;
			}
		}
	}
	.tab-content {
		padding: 1rem 0;
	}
}

.proposal-quotation {
    .quotation-list {
        li {
            display: flex;
            align-items: center;
            border: 1px solid $base_border_color;
			border-radius: .125rem;
			margin-bottom: 1.25rem;
            padding: 1rem 1rem 1rem 5rem;
			position: relative;
			&:after {
				content: "\f0f6";
				margin-top: -1rem;
				font: normal normal normal 32px/1 FontAwesome;
				position: absolute;
				left: 1.5rem;
				top: 50%;
			}
        }
        .column-sm {
            padding-left: .25rem;
            width: 40px;
        }
        .column-lg {
            flex: 1;
            &.quotation-wrap {
                margin-top: 0;
            }
        }
    }
    .quotation-version {
        margin-bottom: .25rem;
		font-size: 1rem;
		font-weight: bold;
    }
    .description {
        margin-bottom: .25rem;
        padding-right: 1rem;
        line-height: 1.3;
        span {
            display: inline-block;
            padding-right: .5rem;
            color: $light_purple;
        }
    }
    .date {
        font-size: 0.8125rem;
        color: #999;
    }
    .btn-action {
        background-color: transparent;
        box-shadow: none;
        margin: 0;
        padding: 0.375rem 0.75rem 0.25rem;
        opacity: 1;
        i { font-size: 1rem; }
    }
}

/* `Stuff
-----------------------------------------------------------------------------*/

label {
	font-size: 1rem;
	&.custom-control-label { font-size: .9375rem; }
}

.mb-10 { margin-bottom: 10px; }

.fonts-13 { font-size: .8125rem !important; }

.fonts-15 { font-size: .9375rem !important; }

.fonts-16 { font-size: 1rem !important; }

.w80 { width: 80px; }

.indent-menu, .indent-menu li {
	margin: 0;
	margin-left: 6px;
	padding: 0;
	padding-left: 4px;
}

.btn-depth-0 {
	.btn {
		box-shadow: none;
		border-radius: 50rem;
		margin-left: 0;
		padding: .25rem .5rem .125rem !important;
	}
}

.table-btn-group {
	.btn {
		border: 0 !important;
		border-radius: .125rem !important;
		.fa {
			color: #cacacb !important;
			transition: all 0.2s ease-in-out;
		}
		&:hover {
			background-color: #f1f3f5 !important;
			box-shadow: none !important;
			.fa { color: #000 !important; }
		}
	}
}

.modal-link {
	display: inline-block;
    font-weight: bold;
    color: $mdb_secondary !important;
    &:hover { color: $mdb_primary !important; }
}

#mdb-lightbox-ui {
	h1 { display: none; }
}

.text-break {
	white-space: normal;
}

.vertical-align-middle {
	th, td { vertical-align: middle !important; }
}

.table {
	.avatar {
		img {
			border-radius: 50%;
			width: 40px;
			height: 40px;
		}
	}
}

.proposal-action {
	border-top: 1px solid $base_border_color;
	margin-top: 2rem;
	padding-top: 1.5rem;
	text-align: center;
}

.checkbox-warranty {
	background: #f1f6fb;
	margin-bottom: 2rem;
	padding: 1.25rem;
	font-size: 1rem;
	line-height: 1.6;
}

.staff-display {
	display: flex;
	align-items: center;
	line-height: 1.3;
	img {
		border-radius: 50%;
		width: 40px;
	}
	.number {
		margin-left: 1rem;
		padding-left: 1rem;
		font-size: 1.25rem;
		color: #000;
		position: relative;
		&:before {
			content: "";
			background: $base_border_color;
			width: 1px;
			height: 36px;
			position: absolute;
			left: 0;
			top: -5px;
		}
	}
}

.awell {
	background: #f9fbfd;
	padding: 1.25rem;
}

.jtree-toolbar {
	display: flex;
	margin-bottom: 1rem;
	.btn-sm {
		padding: .5rem .75rem;
	}
	.filter-column {
		width: 144px;
	}
	.add-column {
		padding-left: 6px;
		width: 87px;
		.btn {
			margin-top: 0;
			margin-bottom: 0;
			&:not(:first-child) {
				margin-right: 0;
				padding-left: .5rem;
				padding-right: .5rem;
			}
		}
		.dropdown-toggle::after {
			margin-left: 0;
			vertical-align: 0.125em;
		}
	}
	.delete-column {
		padding-left: 6px;
		width: 42px;
		.btn { margin: 0; }
	}
	.version-column {
		padding-left: 6px;
		flex: 1;
		.col-inner {
			display: flex;
		}
		.form-control { border-radius: 0 !important; }
		.btn-sm {
            border-radius: 0 .1875rem .1875rem 0;
			background-color: #7e7e7e !important;
			margin: 0;
		}
	}
	.fa { margin-right: 0; }
}

/* `Job Ticket
-----------------------------------------------------------------------------*/

.job-ticket-wrapper {
	display: flex;
	flex-wrap: wrap;
    align-items: flex-end;
	margin-bottom: 1rem;
	.item-link {
		display: flex;
		justify-content: space-between;
		align-items: center;
		border-radius: .375rem .375rem 0 0;
		background: #222;
		border-bottom: 1px solid #000;
		padding: .75rem 1.25rem;
		color: #fff;
		span { transition: all .15s ease-in-out; }
		.h4 {
			margin-bottom: 0;
			opacity: .8;
		}
		.bookkeeping {
			margin-left: 1rem;
			font-size: 14px;
			opacity: .6;
		}
		&:hover {
			.h4 { opacity: 1; }
			.bookkeeping { opacity: .8; }
		}
	}
	.ticket-item {
		background: #fff;
		border-radius: .375rem;
		box-shadow: 0 4px 6px rgba(#000, .05), 0 2px 4px rgba(#000, .1);
		margin: 0 1rem 1rem 0;
		&.done {
			.item-link {
				padding-left: 3.5rem;
				position: relative;
				&:after {
					content: "\f058";
                    font-family: "Font Awesome 5 Free";
                    font-weight: 900;
					position: absolute;
					left: 1.25rem;
					top: 20%;
					font-size: 1.375rem;
					color: #6bab6b;
				}
			}
		}
        .course,
        .bd-end { display: none; }
        .avatar-wrap {
            margin-right: 0;
            padding-right: 0;
            &:after { content: none; }
        }
        &.current {
            .course { display: flex; }
            .bd-end { display: block; }
            .avatar-wrap {
                margin-right: 0.75rem;
                padding-right: 0.75rem;
                &:after { content: ""; }
            }
        }
	}
	.item-bd {
		padding: 1rem 1.25rem;
	}
	.avatar img {
        border-radius: 50%;
        width: 40px;
        height: 40px;
	}
	.bd-end {
		margin-left: 2rem;
		position: relative;
		.btn {
			padding: .25rem 0;
			width: 32px;
			height: 32px;
			i { margin-right: 0 !important; }
		}
		.badge {
			position: absolute;
			right: -.75rem;
			top: -.25rem;
			pointer-events: none;
		}
	}
	.avatar-wrap {
		display: flex;
		align-items: center;
		margin-right: .75rem;
		padding-right: .75rem;
		position: relative;
		&:after {
			content: "";
			background: #ddd;
			width: 1px;
			height: 40px;
			position: absolute;
			right: 0;
			top: 0;
		}
	}
	.course {
		display: flex;
		align-items: center;
		.period {
            margin-right: .75rem;
            padding-right: .75rem;
			font-size: 14px;
			position: relative;
            &:after {
                content: "";
                background: #ddd;
                width: 1px;
                height: 40px;
                position: absolute;
                right: 0;
                top: 0;
            }
			span {
				display: block;
			}
		}
	}
	.period-total {
		font-size: 1.375rem;
		font-weight: bold;
	}
}

/* `Project Task
-----------------------------------------------------------------------------*/

$switch_blue-theme: rgb(3, 155, 229);

.flex-grow-1 {
	flex-grow: 1;
}

.tooltip.bs-tooltip-top {
	font-size: .9375rem;
}

.switch-wrap {
    input[type="checkbox"].switch + label {
        width: 34px;
        height: 14px;
        background: lightgray;
        display: inline-block;
        border-radius: 10px;
        position: relative;
        cursor: pointer;
        margin: 10px;
        &:before,
        &:after {
            content: "";
            display: inline-block;
            width: 20px;
            height: 20px;
            background: white;
            border-radius: 50%;
            position: absolute;
            top: -3px;
            left: 0;
            transition: all 0.2s;
        }
        &:after {
            box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
        }
        &:before {
            background: lightgray;
            transform: scale3d(0, 0, 1);
        }
        &:active:before {
            transform: scale3d(3, 3, 1);
            opacity: 0;
        }
    }
    input[type="checkbox"].switch {
        display: none;
        &:checked + label {
            background: rgba($switch_blue-theme, 0.5);
			span { color: #111 !important; }
            &:before,
            &:after {
                left: 14px;
                background: $switch_blue-theme;
            }
        }
        &:disabled + label {
            opacity: 0.4;
            cursor: not-allowed;
        }
    }
	label span {
		padding-right: 10px;
		width: 120px;
		color: #777;
		text-align: right;
		white-space: nowrap;
		position: absolute;
		left: -120px;
		top: -3px;
		z-index: 2;
		transition: all 0.2s ease-in-out;
		&:hover {
			color: #111;
		}
	}
}

.page-wrapper.page-height {
    display: flex;
    flex-direction: column;
    height: 100%;
    .content-wrapper,
    .main {
        display: flex;
        flex-direction: column;
        height: 100%;
        flex-grow: 1;
        flex-wrap: nowrap;
    }
	.project-content {
        display: flex;
        flex-direction: column;
		background: $body_background;
        height: 100%;
        flex-grow: 1;
		padding: 0 !important;
		label { font-size: .9375rem; }
	}
	.project_board-wrapper {
        display: flex;
        flex-direction: column;
        height: 100%;
        flex-grow: 1;
        flex-wrap: nowrap;
		.navigation { border-bottom: none !important; }
	}
    .kanban-wrapper,
    .board-wrapper,
    .board-main-content {
        display: flex;
        flex-direction: column;
        height: 100%;
        flex-grow: 1;
    }

    .board-canvas {
        flex-grow: 1;
        position: relative;
		.board {
            bottom: 0;
            left: 0;
            overflow-x: auto;
            overflow-y: hidden;
            position: absolute;
            right: 0;
            top: 0;
            -webkit-user-select: none;
            user-select: none;
            white-space: nowrap;
		}
		.list-wrapper {
            display: inline-block;
			margin-right: 4px;
			padding-top: .5rem;
            height: 100%;
            width: 320px;
			.scrollbar-inner > .scroll-element {
				&.scroll-y {
                    width: 4px;
                    right: 0;
				}
				.scroll-bar {
                    background-color: #49565a;
                }
			}
        }
		.task-block {
			display: flex;
			background: #e7edef;
			border: 1px solid rgba($base_border_color, .5);
            max-height: 100%;
            position: relative;
            white-space: normal;
            width: 100%;
            flex-direction: column;
            flex-wrap: nowrap;
		}
        .task-header {
			padding: 1rem 1rem .75rem;
            flex: 0 0 auto;
            position: relative;
			z-index: 2;
			h6 {
				margin-bottom: 0;
				font-weight: bold;
			}
        }
		.task-content {
            flex: 1 1 auto;
            min-height: 0;
            overflow-x: hidden;
            overflow-y: auto;
            padding: 0 4px;
            z-index: 1;
            scroll-behavior: smooth;
		}
    }
}

.project_board-wrapper {
	margin-bottom: 1.25rem;
	background: #fff;
	.navigation { border-bottom: 1px solid $base_border_color; }
	.project-nav {
		display: flex;
		flex-wrap: wrap;
		.nav-link {
			display: block;
		    padding: 1rem 1.75rem;
			border-right: 1px solid $base_border_color;
			font-size: 1.0625rem;
			color: #000;
			&:hover {
				background: #dee0e3;
			}
			&.current {
                background: #5b676c;
                color: #fff;
				cursor: default;
			}
		}
	}
	.project-toolbar {
		display: flex;
		align-items: center;
		background: #e7edef;
		box-shadow: 0 4px 2px rgba(#000, .07) inset;
		padding: .625rem 1.25rem;
		.tool-block {
			margin-right: 1rem;
			&.flex-grow-1 {
				margin-right: 0;
				text-align: end;
			}
		}
		.btn-group {
			.btn {
				margin-right: .5rem !important;
				padding: 0.5rem 0.75rem 0.375rem;
				&:last-child { margin-right: 0 !important; }
			}
		}
		.switch-wrap { margin-top: 3px; }
	}
	.project-content { padding: 1.25rem; }
}



.task-content-wrapper {
	padding: 0 4px 8px;
	.progress { background-color: #e0e3e5; }
	.task-item {
		border-radius: .5rem;
		border: 2px dashed #d9e3eb;
		background: #fff;
		margin-bottom: .5rem;
		padding: .5rem;
		transition: all 0.2s ease-in-out;
		&:last-child { margin-bottom: 0; }
		&.pick {
			border-color: #b96cff;
		}
        .item-hd {
            display: flex;
            justify-content: space-between;
            align-items: center;
			border-bottom: 1px solid #dee9ef;
            margin: 0 -8px 8px;
            padding: 0 8px 8px;
        }
        .item-bd {
            .label {
				margin-bottom: 0;
				color: rgba(#555, .6);
			}
        }
        .item-subject {
            margin-bottom: .5rem;
        }
        .item-ft {
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-top: 1px solid #dee9ef;
            margin: 0 -8px -8px;
            padding: 8px;
        }
	}
    .task-executor {
        display: flex;
        align-items: center;
        .avatar {
            width: 28px;
            height: 28px;
			img {
                border-radius: 50%;
                width: 100%;
                height: auto;
			}
        }
        .name {
            margin-left: .375rem;
            color: #999;
        }
    }
	.dropdown-link {
		font-size: 1rem;
		color: #111;
		&:hover {
			color: $mdb_primary;
		}
	}
	.dropdown-menu { font-size: .9375rem; }
	.subject-modal {
		display: block;
		margin: 1rem 0;
		font-size: 1rem;
		font-weight: bold;
        width : 100%;
		position: relative;
		cursor: default;
		&[data-toggle="modal"] {
			border-radius: .5rem;
			background: #f2fbff;
			margin: 0;
			padding: .5rem .5rem .438rem 1.75rem;
            overflow : hidden;
            text-overflow : ellipsis;
            white-space : nowrap;
			cursor: pointer;
			&:before {
				content: "\f129";
				font: normal normal normal 16px/1 FontAwesome;
				color: $mdb_primary;
				position: absolute;
				left: 14px;
				top: 10px;
			}
			&:hover, &:focus, &:active {
				background: #bde9ff;
			}
		}
	}
	
	$sl-shadow: #9595b3 0 -1px 4px 1px;
	
	.task-status {
		.status {
            padding-left: 1.5rem;
            position: relative;
			color: #000;
            &:before {
                content: "";
                border-radius: 50%;
                background: #eee;
				border: 1px solid rgba(#000, .4);
                width: 16px;
                height: 16px;
                position: absolute;
                left: 0;
                top: 0;
            }
		}
	}
	.task-action {
        display: flex;
		.item {
			margin-left: 1rem;
			font-size: 1rem;
			&:hover i { color: #000 !important; }
		}
		i {
			color: #bbb;
			transition: all 0.2s ease-in-out;
		}
	}
	.sl-dark {
		&:before {
            background: #999 !important;
        }
	}
	.sl-black {
		&:before {
            background: #111 !important;
        }
	}
	.sl-white {
		&:before {
            background: #fff !important;
        }
	}
	.sl-red {
		color: #f00 !important;
		&:before {
            background: #f00 !important;
        }
	}
	.sl-blue {
		color: $mdb_primary !important;
		&:before {
            background: $mdb_primary !important;
        }
	}
	.sl-green {
		color: #4ab509 !important;
		&:before {
            background: $mdb_success !important;
        }
	}
	.sl-purple {
		color: $mdb_secondary !important;
		&:before {
            background: $mdb_secondary !important;
        }
	}
	.sl-yellow {
		color: #cfac0c !important;
		&:before {
            background: $yellow_color !important;
			border: 1px solid rgba(#000, .2) !important;
        }
	}
}

.project-content {
	.meeting-wrapper {
		border-top: 1px solid #ddd;
		padding-top: 1.25rem;
		.inner {
			display: flex;
			flex-wrap: wrap;
		}
	}
    .meeting-card {
		background: #fff;
		box-shadow: 0 1px 1px rgba(#000, .05), 0 2px 2px rgba(#000, .03);
        border-radius: .25rem;
        margin-right: 1.5%;
        margin-bottom: 1.5rem;
        width: 32.333333%;
        &:nth-child(3n) {
            margin-right: 0;
        }
		.card-hd {
			background: #e2ebef;
			border-radius: .25rem .25rem 0 0;
			padding: .75rem 1.25rem;
			font-size: 1.125rem;
		}
		.card-bd {
			padding: 1.25rem 1.25rem .75rem;
		}
		.meeting-link {
			border-top: 1px solid $base_border_color;;
			padding: 1.25rem;
		}
    }
	.attend-list {
		display: flex;
		flex-wrap: wrap;
		margin-top: 1rem;
        .attend {
            display: flex;
            align-items: center;
			margin-right: 1.5rem;
			margin-bottom: 1rem;
            .avatar {
                width: 32px;
                height: 32px;
                img {
                    border-radius: 50%;
                    width: 100%;
                    height: auto;
                }
            }
            .name {
                margin-left: .375rem;
                color: #999;
            }
        }
	}
}

.task-message-wrapper {
    .task-message-list { margin-bottom: 4rem; }
    .message-item {
        margin-bottom: 2rem;
    }
    .message-start {
        display: flex;
        align-items: center;
    }
    .message-time {
        margin-left: 1rem;
        padding-left: 1rem;
        color: #999;
        position: relative;
        &:after {
            content: "";
            background: #ddd;
            width: 1px;
            height: 1rem;
            position: absolute;
            left: 0;
            top: 2px;
        }
    }
    .message-hd {
        margin-bottom: 1rem;
        position: relative;
        .action-ft {
            position: absolute;
            right: 0;
            top: 0;
            opacity: .5;
            transition: all 0.2s ease-in-out;
        }
        .name { color: #111; }
        &:hover {
            .action-ft {
                opacity: 1;
            }
        }
    }
    .file-pill {
        display: inline-block;
        border-radius: 5rem;
        border: 1px solid $base_border_color;
        margin-right: .5rem;
        padding: .25rem .25rem .25rem 1rem;
        a {
            display: inline-block;
            margin-right: .5rem;
            vertical-align: bottom;
            .fa {
                margin-right:.25rem; 
                color: #666;
            }
        }
        .btn-xs { margin: 0; }
    }
    .replay-wrapper {
        padding: 20px 0 20px 40px;
        .message-item {
            background: #f8fafd;
            border-radius: .55rem;
            margin-bottom: 1rem;
            padding: 1.5rem 1.5rem .5rem;
            &:last-child { margin-bottom: 0; }
        }
    }
    .task-message-replay {
        .matters-executor { margin-bottom: .5rem; }
    }
}

.task-tab-content {
    .task-state.menu-item {
        border-bottom: 1px dashed $base_border_color;
        margin-bottom: 1.5rem;
        padding-bottom: 1.5rem;
        .task-state-item {
            display: flex;
            align-items: center;
            border-bottom: 1px solid $base_border_color;
            margin-bottom: 1rem;
            padding-bottom: 1rem;
            &:last-child {
                border-bottom: none;
                margin-bottom: 0;
                padding-bottom: 0; 
            }
            .s1 {
                padding-right: .5rem;
                width: 30%;
                line-height: 1.3;
            }
            .s2 {
                display: flex;
                width: 26%;
                .quantity {
                    margin: 0 .25rem;
                    width: 50%;
                }
            }
            .s3 {
                padding: 0 3rem 0 .5rem;
                width: 44%;
                position: relative;
                .thumb.active {
                    position: absolute;
                    right: 0;
                    margin-left: 0 !important;
                    top: 5% !important;
                }
            }
        }
    }

    .task-state-hd {
        display: flex;
        margin-bottom: 1rem;
        .h6 { margin-bottom: 0; }
        span { width: 30%; }
        span + span {
            width: 26%;
            padding: 0 .25rem;
        }
        span + span + span {
            padding-left: .5rem;
            width: 44%;
        }
    }

    .task-pills {
        .badge {
            margin: .25rem .125rem 0 0;
            padding-top: .375rem;
            font-size: 15px;
        }
    }

    .w-range {
        width: 100%;
        height: 1.4rem;
        padding: 0;
    }   
}

/* `SOP
-----------------------------------------------------------------------------*/

.sop-container {
    display: flex;
    flex-direction: column;
    background: #fff;
    padding: 1.25rem;
    width: 100%;
    height: 100%;
    overflow: hidden;
    .container-inner {
        display: flex;
        height: 100%;
    }
    .aside {
        width: 352px;
        min-width: 352px;
        padding-bottom: 6rem;
    }
    .main {
        flex-grow: 1;
        margin-left: 2.5rem;
        padding: 0;
    }
    .aside-scrollbar,
    .main-scrollbar {
        height: 100%;
        overflow: hidden;
    }
    .scrollspy {
        padding: 0;
        height: 85vh;
        overflow: auto;
    }
    .list-group {
        border-radius: .25rem;
        counter-reset: my-awesome-counter;
        .list-group-item {
            border: 1px dashed #ddd;
            padding-left: 2.75rem;
            counter-increment: my-awesome-counter;
            position: relative;
            color: #000;
            &:before {
                content: counter(my-awesome-counter) ". ";
                font-weight: bold;
                color: #007bff;
                position: absolute;
                left: 1rem;
                transition: all 0.5s ease-in-out;
            }
            &:hover {
                background: #e6eef6;
            }
            &:first-child { border-radius: .25rem .25rem 0 0; }
            &:last-child { border-radius: 0 0 .25rem .25rem; }
            &.active {
                color: #fff;
                &:before { color: #fff; }
            }
        }
    }
    .scrollspy-inner {
        counter-reset: scrollspy-awesome-counter;
        .section h4 {
            counter-increment: scrollspy-awesome-counter;
            margin-bottom: 1rem;
            position: relative;
            padding-left: 48px;
            &:before {
                content: counter(scrollspy-awesome-counter) ". ";
                width: 32px;
                font-weight: bold;
                position: absolute;
                left: 0;
                top: 0;
            }
        }
    }
    .section {
        border-bottom: 1px dashed #ddd;
        margin-bottom: 1.5rem;
        padding-bottom: 1.5rem;
        &:last-child {
            border-bottom: none;
            margin-bottom: 0;
            padding-bottom: 0;
        }
        .inner { padding-left: 48px; }
        .charge { margin-bottom: 1rem; }
        .table {
            thead th,
            tbody td {
                &:first-child {
                    padding-left: 0;
                    width: 320px;
                }
            }
            a {
                color: #007bff;
                &:hover { color: #2260be; }
            }
        }
    }
}























