

/* `Role login
-----------------------------------------------------------------------------*/

.btn-role {
	background-color: $main_color;
	color: #fff;
	&:hover { color: #fff; }
}

.login-innerbg {
    animation: slide 6s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, $main_color 50%, $main_lighten_color 50%);
    bottom: 0;
    left: -50%;
    opacity: 0.5;
    position: fixed;
    right: -50%;
    top: 0;
    z-index: -1;
}

.login-bg2 {
    animation-direction: alternate-reverse;
    animation-duration: 8s;
}

.login-bg3 {
    animation-duration: 10s;
}

@keyframes slide {
  0% {
    transform:translateX(-25%);
  }
  100% {
    transform:translateX(25%);
  }
}

.role-login {
	width: 100%;
	height: 100%;
	section, .role_login-wrapper {
		position: absolute;
		left: 0;
		top: 0;
		bottom: 0;
		right: 0;
		z-index: 0;
	}
    canvas {
        position: absolute;
		position: fixed;
        top: 50%;
        transform: translateY(-50%);
    }
}

.role_switch-container {
    margin: 0 auto;
	padding: 8rem 0 4rem;
    width: 1140px;
    position: relative;
    z-index: 1;
	.role_logo {
		margin-bottom: 5rem;
		text-align: center;
		.logo__img {
			width: 246px;
			height: auto;
		}
	}
	.role-list {
		display: flex;
		flex-wrap: wrap;
		text-align: center;
		justify-content: center;
		li {
			background: #fff;
			border-radius: .375rem;
			box-shadow: 0 8px 4px rgba(#000, .07), 0 2px 12px rgba(#000, .2);
			margin-right: 2%;
			margin-bottom: 1.375rem;
			padding: 2rem;
			width: 49%;
			&:nth-child(even) {
				margin-right: 0;
			}
		}
		.item-title {
			margin-bottom: 2rem;
			font-size: 1.375rem;
			font-weight: bold;
			position: relative;
			&:after {
				content: "";
				background: $main_color;
				width: 1.5rem;
				height: 1px;
				margin-left: -0.75rem;
				position: absolute;
				left: 50%;
				bottom: -0.75rem;
			}
		}
		.item-description {
			margin-bottom: 2rem;
			color: #666;
		}
		.btn-main { margin: 0; }
	}
}















