<!-- NKUST: 報名狀況查詢 - 調整推薦人 -->

<div class="container">
	<div class="main-flex-wrapper">
        <div id="slide-out" class="sidenav">
            <ul class="menu-item">
                <li><a href="#">個人資料</a></li>
                <li><a href="#">網路登錄報名</a></li>
                <li><a href="#" class="current">報名狀況查詢</a></li>
                <li><a href="#">列印報表</a></li>
                <li><a href="#">面試時間查詢</a></li>
                <li><a href="#">成績查詢</a></li>
                <li><a href="#">錄取結果查詢及就讀意願回覆</a></li>
				<li><a href="#">學籍資料表</a></li>
				<li><a href="#">入學文件</a></li>
            </ul>
        </div>
		<main class="main">
            <a class="button-collapse" data-activates="slide-out">
                <span class="hamburger">
                    <span class="line"></span>
                    <span class="line"></span>
                    <span class="line"></span>
                </span>
            </a>
			<h4 class="block-title">報名狀況查詢 <small>調整推薦人</small></h4>
			<div class="adjust-referrer">
                <div class="adjust-hd">
                    <h5 class="department-path">
                        <span>工學院</span>
                        <span>建工校區</span>
                        <span>化學工程與材料工程系碩士班</span>
                        <span>甲組</span>
                        <span>一般生</span>
                    </h5>
                </div>
				<section class="referrer-section">
					<div class="section-inner">
						<div class="section-hd">
                            <h4 class="section-title">推薦人 1</h4>
							<div><a href="#" class="btn btn-xs btn-danger mr-0" title="刪除"><i class="fa fa-times"></i></a></div>
						</div>
                        <div class="row">
                            <div class="col-md-6 col-12">
                                <div class="form-group">
                                    <label for="nameReferrer"><span class="required">*</span>姓名</label>
                                    <input type="text" class="form-control" id="nameReferrer" value="陳曉明">
                                </div>
                            </div>
                            <div class="col-md-6 col-12">
                                <div class="form-group">
                                    <label for="relationshipReferrer">關係</label>
                                    <input type="text" class="form-control" id="relationshipReferrer" value="師生">
                                </div>
                            </div>
                            <div class="col-md-6 col-12">
                                <div class="form-group">
                                    <label for="jobReferrer">職稱</label>
                                    <input type="text" class="form-control" id="jobReferrer" value="教授">
                                </div>
                            </div>
                            <div class="col-md-6 col-12">
                                <div class="form-group">
                                    <label for="emailReferrer"><span class="required">*</span>Email</label>
                                    <input type="email" class="form-control" id="emailReferrer" value="aaa@gmail.com">
                                </div>
                            </div>
                            <div class="col-md-6 col-12">
                                <div class="form-group">
                                    <label for="phoneReferrer">連絡電話</label>
                                    <input type="text" class="form-control" id="phoneReferrer" value="0912345678">
                                </div>
                            </div>
                        </div>
					</div>
                    <div class="form-add">
                        <a href="#" class="add-btn">
                            <span class="btn btn-sm btn-default btn-rounded"><i class="fa fa-plus"></i> </span>
                            <span class="text-black-50">新增推薦人</span>
                        </a>
                    </div>
                </section>
			</div>
            <div class="form-action">
				<a href="#" class="btn btn-link font-weight-bold"><i class="fa fa-long-arrow-left"></i> 返回報名狀況查詢</a>
                <a href="/" class="btn btn-primary">送出</a>
            </div>
		</main>
	</div>
</div>

<% content_for :js do %>
    <script>
		$('.datepicker').datepicker();
	</script>
<% end %>
