<!-- NKUST: 入學文件 -->

<div class="container">
	<div class="main-flex-wrapper">
        <div id="slide-out" class="sidenav">
            <ul class="menu-item">
                <li><a href="#">個人資料</a></li>
                <li><a href="#">網路登錄報名</a></li>
                <li><a href="#">報名狀況查詢</a></li>
                <li><a href="#">列印報表</a></li>
                <li><a href="#">面試時間查詢</a></li>
                <li><a href="#">成績查詢</a></li>
                <li><a href="#">錄取結果查詢及就讀意願回覆</a></li>
				<li><a href="#">學籍資料表</a></li>
				<li><a href="#" class="current">入學文件</a></li>
            </ul>
        </div>
		<main class="main">
            <a class="button-collapse" data-activates="slide-out">
                <span class="hamburger">
                    <span class="line"></span>
                    <span class="line"></span>
                    <span class="line"></span>
                </span>
            </a>
			<h4 class="block-title">入學文件</h4>
			<p><%= lorem_paragraph %></p>
			<div class="form-action text-left btn-mx0">
                <h4 class="section-title">相關文件下載</h4>
                <a href="#" class="btn btn-sm btn-rounded btn-info">列印就讀意願暨入學確認同意書</a>
                <a href="#" class="btn btn-sm btn-rounded btn-info">列印信封封面</a>
                <a href="#" class="btn btn-sm btn-rounded btn-info">列印未能繳交學位證書切結書</a>
				<a href="#" class="btn btn-sm btn-rounded btn-info">列印因暑修低修未能繳交學位證書證明書</a>
            </div>
			<section class="output-section sheet-section">
			    <h4 class="section-title">繳交文件</h4>
				<p>請上傳下列各項文件，限制 PDF 檔格式，個別檔案請勿大於 5MB</p>
                <div class="form-group">
                    <label>就讀意願暨入學確認同意書</label>
					<div class="objective-file-wrap">
                        <div class="input-group">
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01" />
                                <label class="custom-file-label" for="inputGroupFile01"></label>
                            </div>
                        </div>
						<div class="btn-wrap"><a href="#" class="btn btn-success btn-xs mx-0">說明</a></div>
					</div>
                </div>
                <div class="form-group">
                    <label>學歷(力)證件</label>
                    <div>
						<a href="#" class="btn btn-warning btn-xs mx-0" data-toggle="modal" data-target="#basicExampleModal">修改</a>
                        <a href="#" class="btn btn-info btn-xs mx-0" data-toggle="modal" data-target="#basicExampleModal">檢視</a>
                        <a href="#" class="btn btn-danger btn-xs mx-0">刪除</a>
						<a href="#" class="btn btn-success btn-xs mx-0">說明</a>
                    </div>
                </div>
			</section>
            <div class="form-action">
				<!-- 送出後表單 disabled，送出區塊包含按鈕移除 -->
                <a href="/" class="btn btn-primary">送出</a>
            </div>
		</main>
	</div>
</div>

<!-- Modal -->
<div class="modal fade" id="basicExampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Modal 相關設定請參考 <a href="https://mdbootstrap.com/docs/jquery/modals/basic/" btn-lg">Mdbootstrap</a>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-link" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-sm btn-default">儲存</button>
            </div>
        </div>
    </div>
</div>
					
<% content_for :js do %>

<% end %>
