<!-- NKUST: 網路登錄報名 - 選擇報名系所組別 -->

<div class="container">
	<div class="main-flex-wrapper">
        <div id="slide-out" class="sidenav">
            <ul class="menu-item">
                <li><a href="#">個人資料</a></li>
                <li><a href="#" class="current">網路登錄報名</a></li>
                <li><a href="#">報名狀況查詢</a></li>
                <li><a href="#">列印報表</a></li>
                <li><a href="#">面試時間查詢</a></li>
                <li><a href="#">成績查詢</a></li>
                <li><a href="#">錄取結果查詢及就讀意願回覆</a></li>
				<li><a href="#">學籍資料表</a></li>
				<li><a href="#">入學文件</a></li>
            </ul>
        </div>
		<main class="main">
            <a class="button-collapse" data-activates="slide-out">
                <span class="hamburger">
                    <span class="line"></span>
                    <span class="line"></span>
                    <span class="line"></span>
                </span>
            </a>
			<h4 class="block-title">網路登錄報名</h4>
			<div class="department-list">
                <div class="list-select">
					<div class="inner">
                        <select class="browser-default custom-select">
                            <option selected>全部學院</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
					</div>
					<div class="inner">
                        <select class="browser-default custom-select">
                            <option selected>全部系所</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
					</div>
                </div>
				<div class="department-item">
					<div class="item-hd">
                        <h5 class="department-path">
                            <span>工學院</span>
                            <span>化學工程與材料工程系碩士班</span>
                            <span>甲組</span>
                        </h5>
					</div>
					<div class="item-bd">
						<div class="id-wrap">
							身分別 <strong>一般生</strong>
						</div>
						<a href="#" class="btn btn-sm btn-primary">報名</a>
					</div>
				</div>
				<div class="department-item">
					<div class="item-hd">
                        <h5 class="department-path">
                            <span>工學院</span>
                            <span>化學工程與材料工程系碩士班</span>
                            <span>甲組</span>
                        </h5>
					</div>
					<div class="item-bd">
						<div class="id-wrap">
							身分別 <strong>一般生</strong>
						</div>
						<a href="#" class="btn btn-sm btn-secondary">已報名</a>
					</div>
				</div>
				<div class="department-item">
					<div class="item-hd">
                        <h5 class="department-path">
                            <span>工學院</span>
                            <span>化學工程與材料工程系碩士班</span>
                            <span>甲組</span>
                        </h5>
					</div>
					<div class="item-bd">
						<div class="id-wrap">
							身分別 <strong>一般生</strong>
						</div>
						<a href="#" class="btn btn-sm btn-primary">報名</a>
					</div>
				</div>
				<div class="department-item">
					<div class="item-hd">
                        <h5 class="department-path">
                            <span>資訊管理系碩士班聯合招生</span>
                        </h5>
					</div>
					<div class="item-bd">
						<div class="id-wrap">
							身分別 <strong>一般生</strong>
						</div>
						<a href="#" class="btn btn-sm btn-primary">報名</a>
					</div>
				</div
			</div>
		</main>
	</div>
</div>

<% content_for :js do %>
    <script>
		$('.datepicker').datepicker();
	</script>
<% end %>
