<!-- NKUST: 首頁 -->

<div class="container">
    <div class="main-wrapper">
		<div class="row">
		    <div class="col-lg-7 col-12">
                <h4 class="block-title">公告</h4>
                <p><%= lorem_paragraphs(1) %></p>
                <p><%= lorem_paragraphs(2) %></p>
                <p><%= lorem_paragraphs(1) %></p>
			</div>
			<div class="col-lg-5 col-12">
			    <h4 class="block-title">相關日程</h4>
				<div class="schedule-wrap">
				    <div class="schedule-item">
					    <h5>網路申請開放日期</h5>
						<div class="date">
						    <i class="fa fa-calendar-minus-o"></i>
							2021-09-01 ~ 2021-12-31
						</div>
					</div>
					<div class="schedule-item">
					    <h5>資格初審查詢日期</h5>
						<div class="date">
						    <i class="fa fa-calendar-minus-o"></i>
							2021-10-01 ~ 2022-01-31
						</div>
					</div>
				</div>
			</div>
		</div>
    </div>
</div>