<!-- NKUST: 個人資料 -->

<div class="container">
	<div class="main-flex-wrapper">
        <div id="slide-out" class="sidenav">
            <ul class="menu-item">
                <li><a href="#" class="current">個人資料</a></li>
                <li><a href="#">網路登錄報名</a></li>
                <li><a href="#">報名狀況查詢</a></li>
                <li><a href="#">列印報表</a></li>
                <li><a href="#">面試時間查詢</a></li>
                <li><a href="#">成績查詢</a></li>
                <li><a href="#">錄取結果查詢及就讀意願回覆</a></li>
				<li><a href="#">學籍資料表</a></li>
				<li><a href="#">入學文件</a></li>
            </ul>
        </div>
		<main class="main">
            <a class="button-collapse" data-activates="slide-out">
                <span class="hamburger">
                    <span class="line"></span>
                    <span class="line"></span>
                    <span class="line"></span>
                </span>
            </a>
			<h4 class="block-title">個人資料</h4>
            <form>
			    <div class="md-form avatar-wrap">
                    <div class="file-field">
                        <div class="mb-4">
                            <img src="../assets/default.png" class="rounded-circle z-depth-1-half avatar-pic" alt="example placeholder avatar" />
                        </div>
                        <div class="d-flex justify-content-center">
                            <div class="btn btn-mdb-color btn-rounded float-left">
                                <span>選擇照片</span>
                                <input type="file" />
                            </div>
                        </div>
                    </div>
					<small class="specification">相片檔案規格需為低於100KB之JPG檔，請上傳近6個月的證件照，需彩色正面、脫帽、五官清晰之照片。</small>
				</div>
                <div class="row">
                    <div class="col-md-6 col-12">
                        <div class="form-group">
                            <label for="userName"><span class="required">*</span>姓名</label>
                            <input type="text" class="form-control" id="userName">
                        </div>
                    </div>
					<div class="col-md-6 col-12">
                        <div class="form-group">
                            <label for="userName"><span class="required">*</span>姓名</label>
                            <input type="text" class="form-control" id="userName">
                        </div>
                    </div>
                    <div class="col-md-6 col-12">
                        <div class="form-group">
                            <label><span class="required">*</span>身分別</label>
                            <div>
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" class="custom-control-input" id="idForeign" name="identity">
                                    <label class="custom-control-label" for="idForeign">外籍生</label>
                                </div>
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" class="custom-control-input" id="idOverseas" name="identity">
                                    <label class="custom-control-label" for="idOverseas">僑生</label>
                                </div>
								<div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" class="custom-control-input" id="idGenerally" name="identity">
                                    <label class="custom-control-label" for="idGenerally">一般生</label>
                                </div>
                            </div>
                        </div>
                    </div>
					<div class="col-md-6 col-12">
                        <div class="form-group">
                            <label for="idNumber"><span class="required">*</span>身分證號(或居留證號)</label>
                            <input type="text" class="form-control" id="idNumber">
                        </div>
                    </div>
					<div class="col-md-6 col-12">
                        <div class="form-group">
                            <label><span class="required">*</span>性別</label>
                            <div>
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" class="custom-control-input" id="userMale" name="userGender">
                                    <label class="custom-control-label" for="userMale">男</label>
                                </div>
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" class="custom-control-input" id="userFemale" name="userGender">
                                    <label class="custom-control-label" for="userFemale">女</label>
                                </div>
                            </div>
                        </div>
                    </div>
					<div class="col-md-6 col-12">
                        <div class="form-group">
                            <label><span class="required">*</span>出生日期(民國)</label>
                            <div id="date-picker-example" class="md-form md-outline input-with-post-icon datepicker mt-0">
                                <input placeholder="Select date" type="text" id="example" class="form-control" />
                                <i class="fa fa-calendar input-prefix" tabindex="0"></i>
                            </div>
                        </div>
                    </div>
                </div>
				<div class="form-row">
				    <div class="col-md-6 col-12">
                        <div class="form-group">
                            <label><span class="required">*</span>通訊地址</label>
                            <div>
                                <select class="browser-default custom-select">
                                    <option selected>選擇縣市</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                            </div>
                        </div>
					</div>
					<div class="col-md-6 col-12">
                        <div class="form-group">
                            <div class="nulllabel">
                                <select class="browser-default custom-select">
                                    <option selected>選擇區域</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                            </div>
                        </div>
					</div>
					<div class="col-md-4 col-12">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="郵遞區號">
                        </div>
                    </div>
					<div class="col-md-8 col-12">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="地址">
                        </div>
                    </div>
				</div>
				<div class="form-row">
					<div class="col-md-6 col-12">
                        <div class="form-group">
                            <label for="phoneNumber"><span class="required">*</span>聯絡電話</label>
                            <input type="text" class="form-control" id="phoneNumberDay" placeholder="日">
                        </div>
                    </div>
					<div class="col-md-6 col-12">
                        <div class="form-group">
							<div class="nulllabel">
                                <input type="text" class="form-control" id="phoneNumberNight" placeholder="夜">
							</div>
                        </div>
                    </div>
				</div>
				<div class="row">
					<div class="col-md-6 col-12">
                        <div class="form-group">
                            <label for="mobileNumber">行動電話</label>
                            <input type="text" class="form-control" id="mobileNumber">
                        </div>
                    </div>
					<div class="col-md-6 col-12">
                        <div class="form-group">
							<label for="mobileNumber">Email</label>
                            <input type="text" class="form-control" id="phoneNumberNight"  value="test@gmail.com" disabled>
                        </div>
                    </div>
					<div class="col-md-6 col-12">
                        <div class="form-group">
                            <label>繳費身分別</label>
                            <div>
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" class="custom-control-input" id="payIdNone" name="payId">
                                    <label class="custom-control-label" for="payIdNone">無</label>
                                </div>
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" class="custom-control-input" id="payIdMiddle" name="payId">
                                    <label class="custom-control-label" for="payIdMiddle">中低收入戶</label>
                                </div>
								<div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" class="custom-control-input" id="payIdLow" name="payId">
                                    <label class="custom-control-label" for="payIdLow">低收入戶</label>
                                </div>
                            </div>
                        </div>
                    </div>
					<div class="col-md-6 col-12">
                        <div class="form-group">
                            <label>最高學歷</label>
                            <div>
                                <select class="browser-default custom-select">
                                    <option selected>請選擇</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                            </div>
                        </div>
					</div>
					<div class="col-12">
                        <div class="form-group">
                            <label>報考學歷</label>
                            <div>
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" class="custom-control-input" id="generalEducation" name="applyEducation">
                                    <label class="custom-control-label" for="generalEducation">一般學歷</label>
                                </div>
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" class="custom-control-input" id="equalEducation" name="applyEducation">
                                    <label class="custom-control-label" for="equalEducation">同等學力</label>
                                </div>
								<div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" class="custom-control-input" id="overseasEducation" name="applyEducation">
                                    <label class="custom-control-label" for="overseasEducation">外國學歷</label>
                                </div>
								<div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" class="custom-control-input" id="chinaEducation" name="applyEducation">
                                    <label class="custom-control-label" for="chinaEducation">大陸地區學歷</label>
                                </div>
                            </div>
							<div class="hide-wrap mt-2">
                                <select class="browser-default custom-select">
                                    <option selected>請選擇</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
							</div>
                        </div>
                    </div>
				</div>
				<section class="form-section">
                    <h4 class="section-title">緊急聯絡人一</h4>
					<div class="row">
					    <div class="col-md-6 col-12">
                            <div class="form-group">
                                <label for="nameEmergency"><span class="required">*</span>姓名</label>
                                <input type="text" class="form-control" id="nameEmergency">
                            </div>
						</div>
						<div class="col-md-6 col-12">
                            <div class="form-group">
                                <label for="relationshipEmergency"><span class="required">*</span>關係</label>
                                <input type="text" class="form-control" id="relationshipEmergency">
                            </div>
						</div>
						<div class="col-md-6 col-12">
                            <div class="form-group">
                                <label for="phoneEmergency"><span class="required">*</span>電話</label>
                                <input type="text" class="form-control" id="phoneEmergency">
                            </div>
						</div>
					</div>
                </section>
				<section class="form-section">
                    <h4 class="section-title">緊急聯絡人二</h4>
					<div class="row">
					    <div class="col-md-6 col-12">
                            <div class="form-group">
                                <label for="nameEmergency">姓名</label>
                                <input type="text" class="form-control" id="nameEmergency">
                            </div>
						</div>
						<div class="col-md-6 col-12">
                            <div class="form-group">
                                <label for="relationshipEmergency">關係</label>
                                <input type="text" class="form-control" id="relationshipEmergency">
                            </div>
						</div>
						<div class="col-md-6 col-12">
                            <div class="form-group">
                                <label for="phoneEmergency">電話</label>
                                <input type="text" class="form-control" id="phoneEmergency">
                            </div>
						</div>
					</div>
                </section>
                <div class="form-action">
                    <a href="/" class="btn btn-primary mr-2">儲存</a>
                    <a href="application_home.html" class="btn btn-link">取消</a>
                </div>
            </form>
		</main>
	</div>
</div>

<% content_for :js do %>
    <script>
		$('.datepicker').datepicker();
	</script>
<% end %>
