<!-- NKUST: 面試時間查詢 -->

<div class="container">
	<div class="main-flex-wrapper">
        <div id="slide-out" class="sidenav">
            <ul class="menu-item">
                <li><a href="#">個人資料</a></li>
                <li><a href="#">網路登錄報名</a></li>
                <li><a href="#">報名狀況查詢</a></li>
                <li><a href="#">列印報表</a></li>
                <li><a href="#" class="current">面試時間查詢</a></li>
                <li><a href="#">成績查詢</a></li>
                <li><a href="#">錄取結果查詢及就讀意願回覆</a></li>
				<li><a href="#">學籍資料表</a></li>
				<li><a href="#">入學文件</a></li>
            </ul>
        </div>
		<main class="main">
            <a class="button-collapse" data-activates="slide-out">
                <span class="hamburger">
                    <span class="line"></span>
                    <span class="line"></span>
                    <span class="line"></span>
                </span>
            </a>
			<h4 class="block-title">面試時間查詢</h4>
			<div class="department-list">
				<div class="department-item">
					<div class="item-hd">
                        <h5 class="department-path">
                            <span>工學院</span>
                            <span>建工校區</span>
                            <span>化學工程與材料工程系碩士班</span>
							<span>甲組</span>
							<span>一般生</span>
                        </h5>
					</div>
					<div class="item-ft">
						<a href="#" class="btn btn-sm btn-outline-secondary waves-effect mx-0">檢視系所公告</a>
						<ul class="menu-item interview-detail mb-0">
						    <li>
								<span class="label">報到地點</span>
								<span class="out">建功校區工學院大樓</span>
							</li>
							<li>
								<span class="label">報到時間</span>
								<span class="out">2021-09-31 12:00</span>
							</li>
							<li>
								<span class="label">面試時間</span>
								<span class="out">2021-09-31 13:00</span>
							</li>
						</ul>
					</div>
				</div>
				<div class="department-item">
					<div class="item-hd">
                        <h5 class="department-path">
                            <span>工學院</span>
                            <span>建工校區</span>
                            <span>化學工程與材料工程系碩士班</span>
							<span>乙組</span>
							<span>一般生</span>
                        </h5>
					</div>
					<div class="item-ft">無面試</div>
				</div>
			</div>
		</main>
	</div>
</div>

<% content_for :js do %>
    <script>
		$('.datepicker').datepicker();
	</script>
<% end %>
