<!-- NKUST: 報名合格統計查詢 -->

<div class="container">
    <div class="main-wrapper">
		<div class="select-wrapper qualified-wrapper">
			<div class="select-inner">
			    <div class="select-inline">
                    <select class="browser-default custom-select">
                        <option selected>Open this select menu</option>
                        <option value="1">日間部碩士班考試</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
				</div>
				<div class="select-inline">
                    <select class="browser-default custom-select">
                        <option selected>Open this select menu</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
				</div>
				<div class="select-action">
                    <button type="button" class="btn btn-default btn-sm">查詢</button>
                    <a href="#" target="_blank" class="btn btn-link btn-sm">前往其他入學管道</a>
				</div>
			</div>
		</div>
		<div class="table-responsive text-nowrap">
            <table class="table">
                <thead>
                    <tr>
                        <th>學院</th>
                        <th>系所別</th>
						<th>組別</th>
						<th class="text-right">一般生/在職生</th>
						<th class="text-right">合格總人數</th>
						<th class="text-right">報名總人數</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>工學院</td>
                        <td>化學工程與材料工程系碩士班</td>
                        <td>甲組</td>
                        <td class="text-right">一般生</td>
                        <td class="text-right">50</td>
                        <td class="text-right">100</td>
                    </tr>
					<tr>
                        <td>工學院</td>
                        <td>資訊工程學系碩士班</td>
                        <td>乙組</td>
                        <td class="text-right">一般生</td>
                        <td class="text-right">10</td>
                        <td class="text-right">30</td>
                    </tr>
					<tr>
                        <td>管理學院</td>
                        <td>資訊科技與管理學系碩士班</td>
                        <td></td>
                        <td class="text-right">一般生</td>
                        <td class="text-right">50</td>
                        <td class="text-right">100</td>
                    </tr>
                </tbody>
				<tfoot>
				    <tr class="text-right">
                        <td colspan="4">合格</td>
                        <td>180</td>
                        <td>390</td>
                    </tr>
				</tfoot>
            </table>
		</div>
    </div>
</div>