<!-- NKUST: 錄取結果查詢及就讀意願回覆 -->

<div class="container">
	<div class="main-flex-wrapper">
        <div id="slide-out" class="sidenav">
            <ul class="menu-item">
                <li><a href="#">個人資料</a></li>
                <li><a href="#">網路登錄報名</a></li>
                <li><a href="#">報名狀況查詢</a></li>
                <li><a href="#">列印報表</a></li>
                <li><a href="#">面試時間查詢</a></li>
                <li><a href="#">成績查詢</a></li>
                <li><a href="#" class="current">錄取結果查詢及就讀意願回覆</a></li>
				<li><a href="#">學籍資料表</a></li>
				<li><a href="#">入學文件</a></li>
            </ul>
        </div>
		<main class="main">
            <a class="button-collapse" data-activates="slide-out">
                <span class="hamburger">
                    <span class="line"></span>
                    <span class="line"></span>
                    <span class="line"></span>
                </span>
            </a>
			<h4 class="block-title">錄取結果查詢及就讀意願回覆</h4>
			<p><%= lorem_paragraph %></p>
			<div class="department-list">
				<div class="department-item">
					<div class="item-hd">
                        <h5 class="department-path">
                            <span>11002化才0001</span>
                            <span>工學院</span>
                            <span>化學工程與材料工程系碩士班</span>
							<span>甲組</span>
							<span>一般生</span>
                        </h5>
					</div>
					<div class="item-ft">
						<ul class="menu-item interview-detail">
						    <li>
								<span class="label">錄取狀況</span>
								<span class="out">正取 1</span>
								<div class="admit">
								    <a href="#" class="btn btn-sm btn-outline-primary waves-effect">有意願報到</a>
									<a href="#" class="btn btn-sm btn-outline-danger waves-effect">無意願報到</a>
								</div>
							</li>
							<li>
								<span class="label">報到意願</span>
								<span class="out"><span class="text-primary">已登錄有意願報到</span></span>
							</li>
							<li>
								<span class="label">報到狀況</span>
								<span class="out"><span class="text-primary">報到入學</span></span>
							</li>
						</ul>
					</div>
				</div>
				<div class="department-item">
					<div class="item-hd">
                        <h5 class="department-path">
                            <span>11002化才0001</span>
                            <span>工學院</span>
                            <span>化學工程與材料工程系碩士班</span>
							<span>乙組</span>
							<span>一般生</span>
                        </h5>
					</div>
					<div class="item-ft">
						<ul class="menu-item interview-detail">
						    <li>
								<span class="label">錄取狀況</span>
								<span class="out">備取 1</span>
							</li>
						</ul>
					</div>
				</div>
				<div class="department-item">
					<div class="item-hd">
                        <h5 class="department-path">
                            <span>11002化才0001</span>
                            <span>工學院</span>
                            <span>化學工程與材料工程系碩士班</span>
							<span>丙組</span>
							<span>一般生</span>
                        </h5>
					</div>
					<div class="item-ft">
						<ul class="menu-item interview-detail">
						    <li>
								<span class="label">錄取狀況</span>
								<span class="out">備取遞補 1</span>
								<div class="admit">
								    <a href="#" class="btn btn-sm btn-outline-primary waves-effect">有意願遞補</a>
									<a href="#" class="btn btn-sm btn-outline-danger waves-effect">無意願遞補</a>
								</div>
							</li>
							<li>
								<span class="label">報到意願</span>
								<span class="out"></span>
							</li>
							<li>
								<span class="label">遞補時間</span>
								<span class="out"><span class="text-danger">2010-10-11 12:00 ~ 2010-10-11 12:00</span></span>
							</li>
							<li>
								<span class="label">報到意願</span>
								<span class="out">無</span>
							</li>
						</ul>
					</div>
				</div>
				
				<div class="department-item">
					<div class="item-hd">
                        <h5 class="department-path">
                            <span>11002化才0001</span>
                            <span>工學院</span>
                            <span>化學工程與材料工程聯合招生</span>
                        </h5>
					</div>
					<div class="item-ft">
						<ul class="menu-item interview-detail">
						    <li>
								<span class="label">錄取狀況</span>
								<div>
                                    <span class="label">志願 1</span>
                                    <span class="out">化學工程與材料工程系 正取 1</span>
								</div>
								<div>
                                    <span class="label">志願 2</span>
                                    <span class="out">化學工程與材料工程系 備取 1</span>
								</div>
								<div>
                                    <span class="label">志願 3</span>
                                    <span class="out">xxxxxx系 備取 1</span>
								</div>
								<div class="admit">
								    <a href="#" class="btn btn-sm btn-outline-primary waves-effect">有意願遞補 化學工程與材料工程系</a>
									<a href="#" class="btn btn-sm btn-outline-danger waves-effect">無意願遞補 化學工程與材料工程系</a>
								</div>
							</li>
							<li>
								<span class="label">報到意願</span>
								<span class="out"></span>
							</li>
							<li>
								<span class="label">報到時間</span>
								<span class="out"><span class="text-danger">2010-10-11 12:00 ~ 2010-10-11 12:00</span></span>
							</li>
							<li>
								<span class="label">報到意願</span>
								<span class="out">無</span>
							</li>
						</ul>
					</div>
				</div>
			</div>
            <div class="form-action">
				<!-- 送出後表單 disabled，送出區塊包含按鈕移除 -->
                <a href="/" class="btn btn-primary">送出</a>
            </div>
		</main>
	</div>
</div>

<!-- Modal -->
<div class="modal fade" id="basicExampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Modal 相關設定請參考 <a href="https://mdbootstrap.com/docs/jquery/modals/basic/" btn-lg">Mdbootstrap</a>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-link" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-sm btn-default">儲存</button>
            </div>
        </div>
    </div>
</div>
					
<% content_for :js do %>

<% end %>
