<!-- NKUST: 成績查詢 -->

<div class="container">
	<div class="main-flex-wrapper">
        <div id="slide-out" class="sidenav">
            <ul class="menu-item">
                <li><a href="#">個人資料</a></li>
                <li><a href="#">網路登錄報名</a></li>
                <li><a href="#">報名狀況查詢</a></li>
                <li><a href="#">列印報表</a></li>
                <li><a href="#">面試時間查詢</a></li>
                <li><a href="#" class="current">成績查詢</a></li>
                <li><a href="#">錄取結果查詢及就讀意願回覆</a></li>
				<li><a href="#">學籍資料表</a></li>
				<li><a href="#">入學文件</a></li>
            </ul>
        </div>
		<main class="main">
            <a class="button-collapse" data-activates="slide-out">
                <span class="hamburger">
                    <span class="line"></span>
                    <span class="line"></span>
                    <span class="line"></span>
                </span>
            </a>
			<h4 class="block-title">成績查詢</h4>
			<div class="department-list">
				<div class="department-item">
					<div class="item-hd">
                        <h5 class="department-path">
                            <span>工學院</span>
                            <span>建工校區</span>
                            <span>化學工程與材料工程系碩士班</span>
							<span>甲組</span>
							<span>一般生</span>
                        </h5>
					</div>
					<div class="item-ft">
						<h5 class="sub-title">單元操作</h5>
						<ul class="menu-item interview-detail">
						    <li>
								<span class="label">原始分數</span>
								<span class="out">80.00</span>
							</li>
							<li>
								<span class="label">違規扣分</span>
								<span class="out">0</span>
							</li>
							<li>
								<span class="label">實得分數</span>
								<span class="out">80.00</span>
							</li>
							<li>
								<span class="label">加權比例</span>
								<span class="out">50.00%</span>
							</li>
							<li>
								<span class="label">加權分數</span>
								<span class="out">40.00</span>
							</li>
						</ul>
						<h5 class="sub-title">化學反應工程</h5>
						<ul class="menu-item interview-detail">
						    <li>
								<span class="label">原始分數</span>
								<span class="out">80.00</span>
							</li>
							<li>
								<span class="label">違規扣分</span>
								<span class="out">0</span>
							</li>
							<li>
								<span class="label">實得分數</span>
								<span class="out">80.00</span>
							</li>
							<li>
								<span class="label">加權比例</span>
								<span class="out">50.00%</span>
							</li>
							<li>
								<span class="label">加權分數</span>
								<span class="out">40.00</span>
							</li>
						</ul>
						<h5 class="score-title">總成績 <span class="score">67.50</span></h5>
						<a href="#" class="btn btn-sm btn-outline-default waves-effect mx-0">申請成績複查</a>
					</div>
				</div>
				<div class="department-item">
					<div class="item-hd">
                        <h5 class="department-path">
                            <span>工學院</span>
                            <span>建工校區</span>
                            <span>化學工程與材料工程系碩士班</span>
							<span>乙組</span>
							<span>一般生</span>
                        </h5>
					</div>
					<div class="item-ft">
						<h4 class="main-title">初試</h4>
						<h5 class="sub-title">書面審查</h5>
						<ul class="menu-item interview-detail">
						    <li>
								<span class="label">原始分數</span>
								<span class="out">80.00</span>
							</li>
							<li>
								<span class="label">實得分數</span>
								<span class="out">80.00</span>
							</li>
						</ul>
						<h4 class="main-title">複試</h4>
						<h5 class="sub-title">書面審查</h5>
						<ul class="menu-item interview-detail">
						    <li>
								<span class="label">原始分數</span>
								<span class="out">80.00</span>
							</li>
							<li>
								<span class="label">實得分數</span>
								<span class="out">80.00</span>
							</li>
							<li>
								<span class="label">加權比例</span>
								<span class="out">50.00%</span>
							</li>
							<li>
								<span class="label">加權分數</span>
								<span class="out">40.00</span>
							</li>
						</ul>
						<h4 class="main-title">面試</h4>
						<ul class="menu-item interview-detail">
						    <li>
								<span class="label">原始分數</span>
								<span class="out">80.00</span>
							</li>
							<li>
								<span class="label">實得分數</span>
								<span class="out">80.00</span>
							</li>
							<li>
								<span class="label">加權比例</span>
								<span class="out">50.00%</span>
							</li>
							<li>
								<span class="label">加權分數</span>
								<span class="out">40.00</span>
							</li>
						</ul>
						<h5 class="score-title">總成績 <span class="score">80.50</span></h5>
						<a href="#" class="btn btn-sm btn-outline-default waves-effect mx-0">申請成績複查</a>
					</div>
				</div>
				<div class="department-item">
					<div class="item-hd">
                        <h5 class="department-path">
                            <span>工學院</span>
                            <span>建工校區</span>
                            <span>化學工程與材料工程系碩士班</span>
							<span>丙組</span>
							<span>一般生</span>
                        </h5>
					</div>
					<div class="item-ft">
					    <a href="#" class="btn btn-sm btn-outline-default waves-effect mx-0">申請成績複查</a>
					</div>
				</div>
			</div>
		</main>
	</div>
</div>

<% content_for :js do %>
    <script>
		$('.datepicker').datepicker();
	</script>
<% end %>
