<!-- NKUST: 學籍資料表 -->

<div class="container">
	<div class="main-flex-wrapper">
        <div id="slide-out" class="sidenav">
            <ul class="menu-item">
                <li><a href="#">個人資料</a></li>
                <li><a href="#">網路登錄報名</a></li>
                <li><a href="#">報名狀況查詢</a></li>
                <li><a href="#">列印報表</a></li>
                <li><a href="#">面試時間查詢</a></li>
                <li><a href="#">成績查詢</a></li>
                <li><a href="#">錄取結果查詢及就讀意願回覆</a></li>
				<li><a href="#" class="current">學籍資料表</a></li>
				<li><a href="#">入學文件</a></li>
            </ul>
        </div>
		<main class="main">
            <a class="button-collapse" data-activates="slide-out">
                <span class="hamburger">
                    <span class="line"></span>
                    <span class="line"></span>
                    <span class="line"></span>
                </span>
            </a>
			<h4 class="block-title">學籍資料表</h4>
			<p><%= lorem_paragraph %></p>
			<section class="output-section sheet-section">
				<div class="md-form avatar-wrap">
                    <img src="https://placekeanu.com/200/200" class="z-depth-1-half avatar-pic" />
				</div>
			    <!--div class="md-form avatar-wrap">
                    <div class="file-field">
                        <div class="mb-4">
                            <img src="../assets/default.png" class="rounded-circle z-depth-1-half avatar-pic" alt="example placeholder avatar" />
                        </div>
                        <div class="d-flex justify-content-center">
                            <div class="btn btn-mdb-color btn-rounded float-left">
                                <span>選擇照片</span>
                                <input type="file" />
                            </div>
                        </div>
                    </div>
					<small class="specification">相片檔案規格需為低於100KB之JPG檔</small>
				</div-->
                <div class="row">
                    <div class="col-md-6 col-12">
                        <div class="form-group">
                            <label>姓名</label>
                            <span class="output">史佳麗</span>
                        </div>
                    </div>
                    <div class="col-md-6 col-12">
                        <div class="form-group">
                            <label>准考證號</label>
							<span class="output">11002化才0001</span>
                        </div>
                    </div>
					<div class="col-md-6 col-12">
                        <div class="form-group">
                            <label>性別</label>
							<span class="output">女</span>
                        </div>
                    </div>
					<div class="col-md-6 col-12">
                        <div class="form-group">
                            <label>身分證字號</label>
							<span class="output">F123456789</span>
                        </div>
                    </div>
					<div class="col-md-6 col-12">
                        <div class="form-group">
                            <label>出生年月日</label>
                            <span class="output">110/01/19</span>
                        </div>
                    </div>
					<div class="col-md-6 col-12">
                        <div class="form-group">
                            <label>錄取系所</label>
                            <span class="output">化學工程與材料工程系碩士班</span>
                        </div>
                    </div>
					<div class="col-md-6 col-12">
                        <div class="form-group">
                            <label>錄取系所別(組、類)</label>
                            <span class="output">甲組 一般生</span>
                        </div>
                    </div>
					<div class="col-md-6 col-12">
                        <div class="form-group">
                            <label>畢(肄)業學校</label>
                            <span class="output">國立高雄科技大學</span>
                        </div>
                    </div>
					<div class="col-md-6 col-12">
                        <div class="form-group">
                            <label>畢(肄)業系所</label>
                            <span class="output">化學工程與材料工程系</span>
                        </div>
                    </div>
					<div class="col-md-6 col-12">
                        <div class="form-group">
                            <label>畢(肄)業年月</label>
                            <span class="output">109年06月</span>
                        </div>
                    </div>
					<div class="col-md-6 col-12">
                        <div class="form-group">
                            <label>最高學歷</label>
                            <span class="output">博士畢業</span>
                        </div>
                    </div>
					<div class="col-md-6 col-12">
                        <div class="form-group">
                            <label>報考學歷</label>
                            <span class="output">一般學歷</span>
                        </div>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-md-6 col-12">
                        <div class="form-group">
                            <label for="engName">英文姓名</label>
                            <input type="text" class="form-control" id="engName">
                        </div>
                    </div>
				    <div class="col-md-6 col-12">
                        <div class="form-group">
                            <label>國籍</label>
                            <div>
                                <select class="browser-default custom-select">
                                    <option selected>請選擇</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                            </div>
                        </div>
					</div>
					<div class="col-md-6 col-12">
                        <div class="form-group">
                            <label for="placeBirth">出生地</label>
                            <input type="text" class="form-control" id="placeBirth">
                        </div>
                    </div>
					<div class="col-md-6 col-12">
                        <div class="form-group">
                            <label for="userEmail">Email</label>
                            <input type="email" class="form-control" id="userEmail">
                        </div>
                    </div>
					<div class="col-md-6 col-12">
                        <div class="form-group">
                            <label for="phoneDay">連絡電話(日)</label>
                            <input type="email" class="form-control" id="phoneDay">
                        </div>
                    </div>
					<div class="col-md-6 col-12">
                        <div class="form-group">
                            <label for="phoneNight">連絡電話(夜)</label>
                            <input type="email" class="form-control" id="phoneNight">
                        </div>
                    </div>
					<div class="col-12">
                        <div class="form-group">
                            <label>通訊地址</label>
                            <div class="row">
								<div class="col-md-6 col-12">
                                    <select class="browser-default custom-select">
                                        <option selected>請選擇</option>
                                        <option value="1">One</option>
                                        <option value="2">Two</option>
                                        <option value="3">Three</option>
                                    </select>
								</div>
								<div class="col-md-6 col-12">
                                    <select class="browser-default custom-select">
                                        <option selected>請選擇</option>
                                        <option value="1">One</option>
                                        <option value="2">Two</option>
                                        <option value="3">Three</option>
                                    </select>
								</div>
                            </div>
                        </div>
                    </div>
					<div class="col-md-6 col-12">
                        <div class="form-group">
                            <label for="addressVillage">村/里</label>
                            <input type="email" class="form-control" id="addressVillage">
                        </div>
                    </div>
					<div class="col-md-6 col-12">
                        <div class="form-group">
                            <label for="addressNeighbour">鄰</label>
                            <input type="email" class="form-control" id="addressNeighbour">
                        </div>
                    </div>
					<div class="col-md-8 col-12">
                        <div class="form-group">
                            <label for="addressDetailed">路段詳細資料</label>
                            <input type="email" class="form-control" id="addressDetailed">
                        </div>
                    </div>
					<div class="col-md-4 col-12">
                        <div class="form-group">
                            <label for="addressPostal">郵遞區號</label>
                            <input type="email" class="form-control" id="addressPostal">
                        </div>
                    </div>
					<div class="col-12">
                        <div class="form-group">
                            <label>戶籍地址</label>
                            <div class="row">
								<div class="col-md-6 col-12">
                                    <select class="browser-default custom-select">
                                        <option selected>請選擇</option>
                                        <option value="1">One</option>
                                        <option value="2">Two</option>
                                        <option value="3">Three</option>
                                    </select>
								</div>
								<div class="col-md-6 col-12">
                                    <select class="browser-default custom-select">
                                        <option selected>請選擇</option>
                                        <option value="1">One</option>
                                        <option value="2">Two</option>
                                        <option value="3">Three</option>
                                    </select>
								</div>
                            </div>
                        </div>
                    </div>
					<div class="col-md-6 col-12">
                        <div class="form-group">
                            <label for="domicileVillage">村/里</label>
                            <input type="email" class="form-control" id="domicileVillage">
                        </div>
                    </div>
					<div class="col-md-6 col-12">
                        <div class="form-group">
                            <label for="domicileNeighbour">鄰</label>
                            <input type="email" class="form-control" id="domicileNeighbour">
                        </div>
                    </div>
					<div class="col-md-8 col-12">
                        <div class="form-group">
                            <label for="domicileDetailed">路段詳細資料</label>
                            <input type="email" class="form-control" id="domicileDetailed">
                        </div>
                    </div>
					<div class="col-md-4 col-12">
                        <div class="form-group">
                            <label for="domicilePostal">郵遞區號</label>
                            <input type="email" class="form-control" id="domicilePostal">
                        </div>
                    </div>
					<div class="col-md-6 col-12">
                        <div class="form-group">
                            <label for="guardianName">監護人姓名</label>
                            <input type="text" class="form-control" id="guardianName">
                        </div>
                    </div>
				    <div class="col-md-6 col-12">
                        <div class="form-group">
                            <label>監護人關係</label>
                            <div>
                                <select class="browser-default custom-select">
                                    <option selected>請選擇</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                            </div>
                        </div>
					</div>
					<div class="col-md-6 col-12">
                        <div class="form-group">
                            <label for="guardianPhone">監護人電話</label>
                            <input type="text" class="form-control" id="guardianPhone">
                        </div>
                    </div>
					<div class="col-md-6 col-12">
                        <div class="form-group">
                            <label for="guardianMobile">監護人行動電話</label>
                            <input type="text" class="form-control" id="guardianMobile">
                        </div>
                    </div>
					<div class="col-md-6 col-12">
                        <div class="form-group">
                            <label for="emergencyName">緊急聯絡人姓名</label>
                            <input type="text" class="form-control" id="guardianName">
                        </div>
                    </div>
				    <div class="col-md-6 col-12">
                        <div class="form-group">
                            <label>緊急聯絡人關係</label>
                            <div>
                                <select class="browser-default custom-select">
                                    <option selected>請選擇</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                            </div>
                        </div>
					</div>
					<div class="col-md-6 col-12">
                        <div class="form-group">
                            <label for="emergencyPhone">緊急聯絡人電話</label>
                            <input type="text" class="form-control" id="guardianPhone">
                        </div>
                    </div>
				</div>
			</section>
            <div class="form-action">
				<!-- 送出後表單 disabled，送出區塊包含按鈕移除 -->
                <a href="/" class="btn btn-primary">送出</a>
            </div>
		</main>
	</div>
</div>
					
<% content_for :js do %>

<% end %>
