<!-- NKUST: 報名狀況查詢 -->

<div class="container">
	<div class="main-flex-wrapper">
        <div id="slide-out" class="sidenav">
            <ul class="menu-item">
                <li><a href="#">個人資料</a></li>
                <li><a href="#">網路登錄報名</a></li>
                <li><a href="#" class="current">報名狀況查詢</a></li>
                <li><a href="#">列印報表</a></li>
                <li><a href="#">面試時間查詢</a></li>
                <li><a href="#">成績查詢</a></li>
                <li><a href="#">錄取結果查詢及就讀意願回覆</a></li>
				<li><a href="#">學籍資料表</a></li>
				<li><a href="#">入學文件</a></li>
            </ul>
        </div>
		<main class="main">
            <a class="button-collapse" data-activates="slide-out">
                <span class="hamburger">
                    <span class="line"></span>
                    <span class="line"></span>
                    <span class="line"></span>
                </span>
            </a>
			<h4 class="block-title">報名狀況查詢</h4>
			<div class="department-list">
				<div class="department-item">
					<div class="item-hd">
                        <h5 class="department-path">
                            <span>工學院</span>
                            <span>建工校區</span>
                            <span>化學工程與材料工程系碩士班</span>
							<span>甲組</span>
							<span>一般生</span>
                        </h5>
					</div>
					<div class="item-bd">
						<span class="inprogress">初審審查中</span>
					</div>
					<div class="item-detail">
						<div class="detail">
						    <span class="label">填寫推薦人</span>
							<span class="out">2</span>
						</div>
						<div class="detail">
						    <span class="label">推薦人已送出</span>
							<span class="out">1</span>
						</div>
						<div class="detail">
						    <span class="label">推薦人未送出或拒絕推薦</span>
							<span class="out">1</span>
						</div>
						<a href="#" class="btn btn-sm btn-outline-primary">調整推薦人</a>
					</div>
				</div>
				<div class="department-item">
					<div class="item-hd">
                        <h5 class="department-path">
                            <span>工學院</span>
                            <span>建工校區</span>
                            <span>化學工程與材料工程系碩士班</span>
							<span>甲組</span>
							<span>一般生</span>
                        </h5>
					</div>
					<div class="item-bd">
						<span class="success">初審通過</span>
					</div>
				</div>
				<div class="department-item">
					<div class="item-hd">
                        <h5 class="department-path">
                            <span>工學院</span>
                            <span>建工校區</span>
                            <span>化學工程與材料工程系碩士班</span>
							<span>甲組</span>
							<span>一般生</span>
                        </h5>
					</div>
					<div class="item-bd">
						<span class="additional">需補件</span>
					</div>
					<div class="item-ft ft-warning">
                        <div class="document-item">
                            <div class="document-hd">
                                <h5>具結書</h5>
                                <p class="uptime">上傳時間 <i class="fa fa-clock-o"></i> 2020/01/23 18:20</p>
                            </div>
                            <div class="document-ft">
                                <a href="#" class="btn btn-info btn-xs" data-toggle="modal" data-target="#basicExampleModal">檢視</a>
                                <a href="#" class="btn btn-warning btn-xs" data-toggle="modal" data-target="#basicExampleModal">修改</a>
                            </div>
                        </div>
                        <div class="document-item">
                            <div class="document-hd">
                                <h5>最高學歷畢業證書</h5>
                                <p class="uptime">上傳時間 <i class="fa fa-clock-o"></i> 2020/01/23 18:20</p>
                            </div>
                            <div class="document-ft">
								<a href="#" class="btn btn-success btn-xs" data-toggle="modal" data-target="#basicExampleModal">說明</a>
                                <a href="#" class="btn btn-info btn-xs" data-toggle="modal" data-target="#basicExampleModal">檢視</a>
                                <a href="#" class="btn btn-warning btn-xs" data-toggle="modal" data-target="#basicExampleModal">修改</a>
                            </div>
                        </div>
					</div>
					<div class="item-detail">
						<a href="#" class="btn btn-sm btn-outline-primary">補件送出</a>
					</div>
				</div>
				<div class="department-item">
					<div class="item-hd">
                        <h5 class="department-path">
                            <span>工學院</span>
                            <span>建工校區</span>
                            <span>化學工程與材料工程系碩士班</span>
							<span>甲組</span>
							<span>一般生</span>
                        </h5>
					</div>
					<div class="item-bd">
						<span class="notyet">尚未報名完成</span>
						<a href="#" class="btn btn-sm btn-primary">繼續報名</a>
					</div>
				</div>
			</div>
		</main>
	</div>
</div>

<% content_for :js do %>
    <script>
		$('.datepicker').datepicker();
	</script>
<% end %>
