<!-- NKUST: 網路登錄報名 - 推薦人 -->

<div class="container">
	<div class="main-flex-wrapper">
        <div id="slide-out" class="sidenav">
            <ul class="menu-item">
                <li><a href="#">個人資料</a></li>
                <li><a href="#" class="current">網路登錄報名</a></li>
                <li><a href="#">報名狀況查詢</a></li>
                <li><a href="#">列印報表</a></li>
                <li><a href="#">面試時間查詢</a></li>
                <li><a href="#">成績查詢</a></li>
                <li><a href="#">錄取結果查詢及就讀意願回覆</a></li>
				<li><a href="#">學籍資料表</a></li>
				<li><a href="#">入學文件</a></li>
            </ul>
        </div>
		<main class="main">
            <a class="button-collapse" data-activates="slide-out">
                <span class="hamburger">
                    <span class="line"></span>
                    <span class="line"></span>
                    <span class="line"></span>
                </span>
            </a>
			<h4 class="block-title">網路登錄報名</h4>
            <h5 class="department-path main-path">
                <span>工學院</span>
                <span>化學工程與材料工程系碩士班</span>
                <span>甲組</span>
            </h5>
            <div class="step-bar">
                <ul>
                    <li class="done">
                        <span>
                            <span class="step">1</span>
                            <h4>申請表</h4>
							<p class="brief">填寫各項基本資料</p>
                        </span>
                    </li>
                    <li class="done">
                        <span>
                            <span class="step">2</span>
                            <h4>繳交報名費</h4>
							<p class="brief">繳交申請報名費用</p>
                        </span>
                    </li>
                    <li class="active">
                        <span>
                            <span class="step">3</span>
                            <h4>推薦人</h4>
							<p class="brief">填寫推薦人資訊</p>
                        </span>
                    </li>
					<li>
                        <span>
                            <span class="step">4</span>
                            <h4>上傳文件</h4>
							<p class="brief">上傳各項申請所需文件</p>
                        </span>
                    </li>
                    <li>
                        <span>
                            <span class="step">5</span>
                            <h4>送出申請</h4>
							<p class="brief">確認步驟完成送出申請</p>
                        </span>
                    </li>
                </ul>
            </div>
            <form>
				<section class="form-section">
                    <h4 class="section-title">推薦人</h4>
					<p>完成設定申請系所的推薦人後，本系統將自動寄送電子郵件給您所指定之推薦人，通知推薦人進行線上推薦程序，推薦人可選擇下列任一推薦方式:</p>
					<ol>
					    <li>線上填寫推薦信內容</li>
						<li>上傳推薦信的掃描檔</li>
					</ol>
					<p>通知發送後，您可隨時於申請進度中查看您的線上推薦信完成進度。</p>
                </section>
				<section class="referrer-section">
					<div class="section-inner">
						<div class="section-hd">
                            <h4 class="section-title">推薦人 1</h4>
							<div><a href="#" class="btn btn-xs btn-danger mr-0" title="刪除"><i class="fa fa-times"></i></a></div>
						</div>
                        <div class="row">
                            <div class="col-md-6 col-12">
                                <div class="form-group">
                                    <label for="nameReferrer"><span class="required">*</span>姓名</label>
                                    <input type="text" class="form-control" id="nameReferrer">
                                </div>
                            </div>
                            <div class="col-md-6 col-12">
                                <div class="form-group">
                                    <label for="relationshipReferrer">關係</label>
                                    <input type="text" class="form-control" id="relationshipReferrer">
                                </div>
                            </div>
                            <div class="col-md-6 col-12">
                                <div class="form-group">
                                    <label for="jobReferrer">職稱</label>
                                    <input type="text" class="form-control" id="jobReferrer">
                                </div>
                            </div>
                            <div class="col-md-6 col-12">
                                <div class="form-group">
                                    <label for="emailReferrer"><span class="required">*</span>Email</label>
                                    <input type="email" class="form-control" id="emailReferrer">
                                </div>
                            </div>
                            <div class="col-md-6 col-12">
                                <div class="form-group">
                                    <label for="phoneReferrer">連絡電話</label>
                                    <input type="text" class="form-control" id="phoneReferrer">
                                </div>
                            </div>
                        </div>
					</div>
                </section>
				<section class="referrer-section">
					<div class="section-inner">
						<div class="section-hd">
                            <h4 class="section-title">推薦人 2</h4>
							<div><a href="#" class="btn btn-xs btn-danger mr-0" title="刪除"><i class="fa fa-times"></i></a></div>
						</div>
                        <div class="row">
                            <div class="col-md-6 col-12">
                                <div class="form-group">
                                    <label for="nameReferrer"><span class="required">*</span>姓名</label>
                                    <input type="text" class="form-control" id="nameReferrer">
                                </div>
                            </div>
                            <div class="col-md-6 col-12">
                                <div class="form-group">
                                    <label for="relationshipReferrer">關係</label>
                                    <input type="text" class="form-control" id="relationshipReferrer">
                                </div>
                            </div>
                            <div class="col-md-6 col-12">
                                <div class="form-group">
                                    <label for="jobReferrer">職稱</label>
                                    <input type="text" class="form-control" id="jobReferrer">
                                </div>
                            </div>
                            <div class="col-md-6 col-12">
                                <div class="form-group">
                                    <label for="emailReferrer"><span class="required">*</span>Email</label>
                                    <input type="email" class="form-control" id="emailReferrer">
                                </div>
                            </div>
                            <div class="col-md-6 col-12">
                                <div class="form-group">
                                    <label for="phoneReferrer">連絡電話</label>
                                    <input type="text" class="form-control" id="phoneReferrer">
                                </div>
                            </div>
                        </div>
					</div>
                    <div class="form-add">
                        <a href="#" class="add-btn">
                            <span class="btn btn-sm btn-default btn-rounded"><i class="fa fa-plus"></i> </span>
                            <span class="text-black-50">新增推薦人</span>
                        </a>
                    </div>
                </section>
                <div class="form-action">
                    <a href="/" class="btn btn-primary">儲存</a>
                    <a href="#" class="btn btn-link font-weight-bold">下一步 <i class="fa fa-long-arrow-right"></i></a>
                </div>
            </form>
		</main>
	</div>
</div>

<% content_for :js do %>
    <script>
		$('.datepicker').datepicker();
	</script>
<% end %>
