<!-- NKUST: 網路登錄報名 - 上傳文件 -->

<div class="container">
	<div class="main-flex-wrapper">
        <div id="slide-out" class="sidenav">
            <ul class="menu-item">
                <li><a href="#">個人資料</a></li>
                <li><a href="#" class="current">網路登錄報名</a></li>
                <li><a href="#">報名狀況查詢</a></li>
                <li><a href="#">列印報表</a></li>
                <li><a href="#">面試時間查詢</a></li>
                <li><a href="#">成績查詢</a></li>
                <li><a href="#">錄取結果查詢及就讀意願回覆</a></li>
				<li><a href="#">學籍資料表</a></li>
				<li><a href="#">入學文件</a></li>
            </ul>
        </div>
		<main class="main">
            <a class="button-collapse" data-activates="slide-out">
                <span class="hamburger">
                    <span class="line"></span>
                    <span class="line"></span>
                    <span class="line"></span>
                </span>
            </a>
			<h4 class="block-title">網路登錄報名</h4>
            <h5 class="department-path main-path">
                <span>工學院</span>
                <span>化學工程與材料工程系碩士班</span>
                <span>甲組</span>
            </h5>
            <div class="step-bar">
                <ul>
                    <li class="done">
                        <span>
                            <span class="step">1</span>
                            <h4>申請表</h4>
							<p class="brief">填寫各項基本資料</p>
                        </span>
                    </li>
                    <li class="done">
                        <span>
                            <span class="step">2</span>
                            <h4>繳交報名費</h4>
							<p class="brief">繳交申請報名費用</p>
                        </span>
                    </li>
                    <li class="done">
                        <span>
                            <span class="step">3</span>
                            <h4>推薦人</h4>
							<p class="brief">填寫推薦人資訊</p>
                        </span>
                    </li>
					<li class="active">
                        <span>
                            <span class="step">4</span>
                            <h4>上傳文件</h4>
							<p class="brief">上傳各項申請所需文件</p>
                        </span>
                    </li>
                    <li>
                        <span>
                            <span class="step">5</span>
                            <h4>送出申請</h4>
							<p class="brief">確認步驟完成送出申請</p>
                        </span>
                    </li>
                </ul>
            </div>
            <form>
				<section class="form-section">
                    <h4 class="section-title">上傳文件</h4>
					<p>請上傳下列各項文件，限制 PDF 格式，個別檔案請勿大於 5 MB</p>
                </section>
				<section class="form-section">
					<h4 class="section-title">資格審查文件</h4>
                    <div class="document-upload">
                        <div class="document-item">
                            <div class="document-hd">
                                <h5>申請表</h5>
                                <p class="uptime">上傳時間 <i class="fa fa-clock-o"></i> 2020/01/23 18:20</p>
                            </div>
                            <div class="document-ft">
                                <a href="#" class="btn btn-secondary btn-xs" data-toggle="modal" data-target="#basicExampleModal">列印</a>
                                <a href="#" class="btn btn-info btn-xs" data-toggle="modal" data-target="#basicExampleModal">檢視</a>
                                <a href="#" class="btn btn-warning btn-xs" data-toggle="modal" data-target="#basicExampleModal">修改</a>
                            </div>
                        </div>
                        <div class="document-item">
                            <div class="document-hd">
                                <h5>最高學歷畢業證書</h5>
                                <p class="uptime">列印時間 <i class="fa fa-clock-o"></i> 2020/01/23 18:20</p>
                            </div>
                            <div class="document-ft">
								<a href="#" class="btn btn-success btn-xs" data-toggle="modal" data-target="#basicExampleModal">說明</a>
                                <a href="#" class="btn btn-info btn-xs" data-toggle="modal" data-target="#basicExampleModal">檢視</a>
                                <a href="#" class="btn btn-warning btn-xs" data-toggle="modal" data-target="#basicExampleModal">修改</a>
                            </div>
                        </div>
                        <div class="document-item">
                            <div class="document-hd">
                                <h5>繳費收據</h5>
                                <p class="uptime">上傳時間 <i class="fa fa-clock-o"></i> 2020/01/23 18:20</p>
                            </div>
                            <div class="document-ft">
								<div class="upload-inner md-form">
                                    <span><a href="#" class="btn btn-success btn-xs" data-toggle="modal" data-target="#basicExampleModal">說明</a></span>
                                    <div class="file-wrap">
                                        <div class="file-field">
                                            <div class="btn btn-primary btn-xs float-left">
                                                <span>選擇</span>
                                                <input type="file">
                                            </div>
                                            <div class="file-path-wrapper">
                                                <input class="file-path validate" type="text" placeholder="上傳文件">
                                            </div>
                                        </div>
                                    </div>
								</div>
                            </div>
                        </div>
                    </div>
				</section>
				<section class="form-section">
					<h4 class="section-title">系所要求文件</h4>
                    <div class="document-upload">
                        <div class="document-item">
                            <div class="document-hd">
                                <h5>具結書</h5>
                                <p class="uptime">上傳時間 <i class="fa fa-clock-o"></i> 2020/01/23 18:20</p>
                            </div>
                            <div class="document-ft">
                                <a href="#" class="btn btn-info btn-xs" data-toggle="modal" data-target="#basicExampleModal">檢視</a>
                                <a href="#" class="btn btn-warning btn-xs" data-toggle="modal" data-target="#basicExampleModal">修改</a>
                            </div>
                        </div>
                        <div class="document-item">
                            <div class="document-hd">
                                <h5>文件繳交查核表</h5>
                                <p class="uptime">上傳時間 <i class="fa fa-clock-o"></i> 2020/01/23 18:20</p>
                            </div>
                            <div class="document-ft">
                                <a href="#" class="btn btn-info btn-xs" data-toggle="modal" data-target="#basicExampleModal">檢視</a>
                                <a href="#" class="btn btn-warning btn-xs" data-toggle="modal" data-target="#basicExampleModal">修改</a>
                            </div>
                        </div>
                        <div class="document-item">
                            <div class="document-hd">
                                <h5>留學計畫書範本</h5>
                                <p class="uptime">上傳時間 <i class="fa fa-clock-o"></i> 2020/01/23 18:20</p>
                            </div>
                            <div class="document-ft">
                                <a href="#" class="btn btn-info btn-xs" data-toggle="modal" data-target="#basicExampleModal">檢視</a>
                                <a href="#" class="btn btn-warning btn-xs" data-toggle="modal" data-target="#basicExampleModal">修改</a>
                            </div>
                        </div>
                    </div>
				</section>
                <div class="form-action">
                    <a href="/" class="btn btn-primary">儲存</a>
                    <a href="#" class="btn btn-link font-weight-bold">下一步 <i class="fa fa-long-arrow-right"></i></a>
                </div>
            </form>
		</main>
	</div>
</div>

<!-- Modal -->
<div class="modal fade" id="basicExampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Modal 相關設定請參考 <a href="https://mdbootstrap.com/docs/jquery/modals/basic/" btn-lg">Mdbootstrap</a>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-link" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-sm btn-default">儲存</button>
            </div>
        </div>
    </div>
</div>

<% content_for :js do %>
    <script>
		$('.datepicker').datepicker();
	</script>
<% end %>
