<!-- NKUST: 網路登錄報名 - 送出申請 -->

<div class="container">
	<div class="main-flex-wrapper">
        <div id="slide-out" class="sidenav">
            <ul class="menu-item">
                <li><a href="#">個人資料</a></li>
                <li><a href="#" class="current">網路登錄報名</a></li>
                <li><a href="#">報名狀況查詢</a></li>
                <li><a href="#">列印報表</a></li>
                <li><a href="#">面試時間查詢</a></li>
                <li><a href="#">成績查詢</a></li>
                <li><a href="#">錄取結果查詢及就讀意願回覆</a></li>
				<li><a href="#">學籍資料表</a></li>
				<li><a href="#">入學文件</a></li>
            </ul>
        </div>
		<main class="main">
            <a class="button-collapse" data-activates="slide-out">
                <span class="hamburger">
                    <span class="line"></span>
                    <span class="line"></span>
                    <span class="line"></span>
                </span>
            </a>
			<h4 class="block-title">網路登錄報名</h4>
            <h5 class="department-path main-path">
                <span>工學院</span>
                <span>化學工程與材料工程系碩士班</span>
                <span>甲組</span>
            </h5>
            <div class="step-bar">
                <ul>
                    <li class="done">
                        <span>
                            <span class="step">1</span>
                            <h4>申請表</h4>
							<p class="brief">填寫各項基本資料</p>
                        </span>
                    </li>
                    <li class="done">
                        <span>
                            <span class="step">2</span>
                            <h4>繳交報名費</h4>
							<p class="brief">繳交申請報名費用</p>
                        </span>
                    </li>
                    <li class="done">
                        <span>
                            <span class="step">3</span>
                            <h4>推薦人</h4>
							<p class="brief">填寫推薦人資訊</p>
                        </span>
                    </li>
					<li class="done">
                        <span>
                            <span class="step">4</span>
                            <h4>上傳文件</h4>
							<p class="brief">上傳各項申請所需文件</p>
                        </span>
                    </li>
                    <li class="active">
                        <span>
                            <span class="step">5</span>
                            <h4>送出申請</h4>
							<p class="brief">確認步驟完成送出申請</p>
                        </span>
                    </li>
                </ul>
            </div>
            <section class="form-section">
                <h4 class="section-title">送出申請</h4>
                <p>您已完成學生端各項申請步驟，請確認各項資料無誤後，點選下方"送出申請"，送出申請資料。</p>
                <p>請注意一旦送出申請後，除 "推薦人"外其他資料都不能再修改，並請您的推薦人，須於2020/08/31 日前完成線上推薦信的填寫。</p>
                <p>如您的推薦人拒絕推薦，或各原因無法完成線上推薦信，您在送出申請後仍可在"推薦信進度及管理"中修改推薦人或重新發送推薦信的電子郵件。</p>
            </section>
			<div class="output-section">
                <div class="row">
                    <div class="col-md-6 col-12">
                        <div class="form-group">
                            <label>姓名</label>
                            <span class="output">史佳麗</span>
                        </div>
                    </div>
                    <div class="col-md-6 col-12">
                        <div class="form-group">
                            <label>身分別</label>
							<span class="output">一般生</span>
                        </div>
                    </div>
					<div class="col-md-6 col-12">
                        <div class="form-group">
                            <label>身分證號(或居留證號)</label>
							<span class="output">f987654321</span>
                        </div>
                    </div>
					<div class="col-md-6 col-12">
                        <div class="form-group">
                            <label>性別</label>
							<span class="output">女</span>
                        </div>
                    </div>
					<div class="col-md-6 col-12">
                        <div class="form-group">
                            <label>出生日期(民國)</label>
                            <span class="output">82</span>
                        </div>
                    </div>
                </div>
				<div class="form-row">
				    <div class="col-12">
                        <div class="form-group">
                            <label>通訊地址</label>
                            <span class="output">
								<span>台北市</span>
								<span>中正區</span>
								<span>100</span>
								<span>中山南路21號</span>
							</span>
                        </div>
					</div>
				</div>
				<div class="form-row">
					<div class="col-md-6 col-12">
                        <div class="form-group">
                            <label>聯絡電話</label>
                            <span class="output"><span class="inner-label">日</span> 98765432</span>
                        </div>
                    </div>
					<div class="col-md-6 col-12">
                        <div class="form-group">
							<div class="nulllabel">
                                <span class="output"><span class="inner-label">夜</span> 98765432</span>
							</div>
                        </div>
                    </div>
				</div>
				<div class="row">
					<div class="col-md-6 col-12">
                        <div class="form-group">
                            <label>行動電話</label>
                            <span class="output">0999999999</span>
                        </div>
                    </div>
					<div class="col-md-6 col-12">
                        <div class="form-group">
							<label>Email</label>
							<span class="output">test@gmail.com</span>
                        </div>
                    </div>
					<div class="col-md-6 col-12">
                        <div class="form-group">
                            <label>繳費身分別</label>
							<span class="output">無</span>
                        </div>
                    </div>
					<div class="col-md-6 col-12">
                        <div class="form-group">
                            <label>最高學歷</label>
							<span class="output">學士</span>
                        </div>
					</div>
					<div class="col-12">
                        <div class="form-group">
                            <label>報考學歷</label>
							<span class="output">
								<span>一般學歷</span>
								<span>中華民國教育程度標準分類</span>
							</span>
                        </div>
                    </div>
				</div>
				<section class="form-section">
                    <h4 class="section-title">緊急聯絡人一</h4>
					<div class="row">
					    <div class="col-md-6 col-12">
                            <div class="form-group">
                                <label>姓名</label>
                                <span class="output">卡斯頓約翰松</span>
                            </div>
						</div>
						<div class="col-md-6 col-12">
                            <div class="form-group">
                                <label>關係</label>
                                <span class="output">父親</span>
                            </div>
						</div>
						<div class="col-md-6 col-12">
                            <div class="form-group">
                                <label>電話</label>
                                <span class="output">0999999999</span>
                            </div>
						</div>
					</div>
                </section>
				<section class="form-section">
					<h4 class="section-title">推薦人 1</h4>
                        <div class="row">
                        <div class="col-md-6 col-12">
                            <div class="form-group">
                                <label>姓名</label>
                                <span class="output">萊恩雷諾斯</span>
                            </div>
                        </div>
                        <div class="col-md-6 col-12">
                            <div class="form-group">
                                <label>關係</label>
                                <span class="output">前夫</span>
                            </div>
                        </div>
                        <div class="col-md-6 col-12">
                            <div class="form-group">
                                <label>職稱</label>
                                <span class="output">演員</span>
                            </div>
                        </div>
                        <div class="col-md-6 col-12">
                            <div class="form-group">
                                <label>Email</label>
                                <span class="output">ryan@test.com</span>
                            </div>
                        </div>
                        <div class="col-md-6 col-12">
                            <div class="form-group">
                                <label>連絡電話</label>
                                <span class="output">0999999999</span>
                            </div>
                        </div>
                    </div>
				</section>
            </div>
            <div class="form-action">
                <a href="/" class="btn btn-lg blue-gradient btn-rounded">送出申請</a>
            </div>
		</main>
	</div>
</div>

<!-- Modal -->
<div class="modal fade" id="basicExampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Modal 相關設定請參考 <a href="https://mdbootstrap.com/docs/jquery/modals/basic/" btn-lg">Mdbootstrap</a>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-link" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-sm btn-default">儲存</button>
            </div>
        </div>
    </div>
</div>

<% content_for :js do %>
    <script>
		$('.datepicker').datepicker();
	</script>
<% end %>
