
/* `Footer
-----------------------------------------------------------------------------*/

footer.footer {
	color: #999;
	.footer-inner {
		display: flex;
		justify-content: space-between;
		border-top: 1px dashed #ddd;
		padding: calc(2rem + 2vw) 0;
	}
	.block-transition {
		width: 80%;
	}
	.menu-item.contact {
		li {
			margin-bottom: .25rem;
			position: relative;
		}
		.fas {
			width: 16px;
			text-align: center;
			font-size: .875rem;
			color: #ccc;
			position: absolute;
			left: 0;
			top: 5px;
			top: 5px;
		}
	}
	.end-content {
		width: 20%;
		text-align: end;
	}
	a {
		color: #000;
		&:hover {
			color: $link;
		}
	}
}

/* `Responsive
-----------------------------------------------------------------------------*/

@media (max-width: 1199px) {

}

@media (max-width: 767px) {
	footer.site-footer {
		.footer-inner {
			display: block;
		}
		.block-transition,
		.end-content {
			width: 100%;
		}
		.end-content { text-align: start; }
	}
}








