
/* `Responsive
-----------------------------------------------------------------------------*/

@media (min-width: 992px){
    .dropdown-menu .dropdown-toggle:after{
        border-top: .3em solid transparent;
        border-right: 0;
        border-bottom: .3em solid transparent;
        border-left: .3em solid;
    }

    .dropdown-menu .dropdown-menu{
        margin-left:0; margin-right: 0;
    }

    .dropdown-menu li{
        position: relative;
    }
    .nav-item .submenu{ 
        display: none;
        position: absolute;
        left:100%; top:-7px;
    }
    .nav-item .submenu-left{ 
        right:100%; left:auto;
    }

    .dropdown-menu > li:hover{ background-color: #f1f1f1 }
    .dropdown-menu > li:hover > .submenu{
        display: block;
    }
}

@media (max-width: 1469px) {
    .members-brief {
		.name { font-size: 1rem; }
        .contact-item {
            font-size: 0.875rem;
        }
    }
}

@media (max-width: 1199px) {
	header.header {
		.navbar-nav {
			.nav-item {
				border: none;
				&.show .nav-link {
					background: $link_hover;
					color: #fff;
				}
			}
			.nav-link {
				line-height: 24px;
				&:hover {
					background: $link;
                    &:after {
                        border-color: rgba(#fff, .5) transparent transparent transparent;
                    }
				}
				&.current {
					background: #888a8e;
                    &:after {
                        border-color: rgba(#fff, .5) transparent transparent transparent;
                    }
				}
			}
		}
		.navbar-collapse.show {
			background: #fafafa;
		    box-shadow: 0 1px 2px rgba(0,0,0,.1),  0 1px 2px rgba(0,0,0,.1) inset;
		}
	}
    :lang(en) {
        header.header {
            .navbar-wrapper {
                background: none;
            }
            .navbar-nav {
                .nav-item {
                    border-bottom: none;
                }
            }
        }
    }
	.header-wrap {
		display: block;
		padding: 1rem 0;
		.brands {
			a { width: fit-content; }
		}
	}
	.navbar {
        justify-content: flex-end;
		//background: #fafafa;
		margin-left: -15px;
		margin-right: -15px;
		.dropdown-menu {
			background: $link;
			border: none;
			padding: 0;
			min-width: 100%;
			a:not(.active) { color: #fff; }
		}
		.dropdown-item {
			text-align: center;
		}
	}
	.header-right {
		display: none;
	}
	.header-top { display: block; }
	.breadcrumb-wrapper {
		display: flex;
		flex-direction: row-reverse;
		padding: 0;
		.container {
			padding-top: 0.875rem;
			padding-bottom: 0.875rem;
		}
	}
	.button-collapse {
		display: block;
	}
	.footer-inner {
		display: block;
		padding: 2.5rem 260px 2.5rem 0;
		position: relative;
		.contact {
			padding: 0 1.875rem 0 0;
			width: auto;
		}
		.contact-block, .contact-block:last-child {
			margin-bottom: 0;
			padding-bottom: 1.5rem;
		}
		.breakpoint { display: inline; }
	}
	footer.footer {
		.social-media {
			padding: 0 0 0 4rem;
			width: 220px;
			position: absolute;
			right: 0;
			top: 2.5rem;
		}
		h5 { margin-bottom: 0.5rem; }
		.has-padding { margin-bottom: 0.25rem; }
	}
	.fc-toolbar { padding-right: 50px; }
	.search-part {
		width: 40px;
		text-align: right;
	}
	.popup-trigger { display: inline-block !important; }
	.xl-only { display: none !important; }
	.calendar-container {
		.event-item.omission-item {
			margin-bottom: 0;
			padding-bottom: 0;
		}
	}
	
	.main-row { display: block; }
    .activity-column {
        padding-right: 0;
		padding-bottom: 0;
        width: 100%;
        &:after { content: none; }
    }
	.activity-hybrid {
		li { width: 32%; }
	}
    .announcement-column {
        padding-left: 0;
		padding-top: 0;
        width: 100%;
		&:after { content: none; }
    }
	.announcement-hybrid {
		column-count: 2;
		column-gap: 30px;
		li:nth-child(4) {
			border-bottom: none;
			-moz-column-break-after: always;
			-webkit-column-break-after: always;
			column-break-after: always;
		}
		li:last-child { border-bottom: none; }
	}
    .pages-row {
        display: block;
        .sidenav {
			background-color: #fff;
			border-top: #5b0f12 solid 10px;
            border-right: none;
			box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
            width: 320px !important;
			height: 100%;
			position: fixed;
			top: 0;
			//right: auto;
			//left: 0;
			overflow: hidden;
			z-index: 1040;
			backface-visibility: hidden;
            will-change: transform;
            &:before {
                content: "";
                background: #e5c779;
                width: 100%;
                height: 5px;
                position: absolute;
                top: 0;
                left: 0;
            }
        }
        .main {
            padding-left: 0;
            width: 100%;
        }
    }
    .pages-row .sidenav {
        right: 0;
        left: auto;
        transform: translateX(100%) !important;
        transition: 0.6s;
    }

    .pages-row .sidenav.active {
        transform: translateX(0px) !important;
        transition: 0.6s;
    }
	#accordian_nav {
		> ul > li {
			a { padding-left: 1rem; }
		}
		ul ul li {
			a { padding-left: 1rem; }
		}
		.active .active > a {
			color: #000;
		}
	}
	.sitemap-wrapper {
		.sm-section {
			width: 33.3333%;
		}
	}
	.main.noside {
		padding: 1.75rem 0 2.75rem;
	}
	:lang(zh-TW), :lang(en) {
        .contact-wrapper {
			margin: 0 -15px;
            .ct-section {
                margin: 0 0 30px;
				padding: 0 15px;
                width: 50%;
                &:after {
                    content: none;
                }
                &:nth-child(even) {
                    margin-right: 0;
                }
            }
			.ct-title {
				border-bottom: 1px dashed $base_border_color;
				margin-bottom: 1rem;
				padding-bottom: 0.5rem;
			}
        }
	}
    .short-wrapper {
        .short-term {
            h3 {
                font-size: 1.5rem !important;
            }
        }
    }
	.brown-well {
		margin-bottom: 1rem;
	}
}

@media (min-width: 992px) { /* global map effect by Peggy */
	.global-wrapper {
		.region {
			div {
				.popup {
                    max-height: 0;
                    transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
                    top: 72px;
				}
				&:hover {
					&:after {
						z-index: 3;
					}
					.popup {
                        opacity: 1;
                        max-height: 10000px;
                        top: 36px;
                        z-index: 2;
					}
					.statistics,
					.popup-continent { display: block; }
				}
			}
		}
	}
}

@media (max-width: 991px) {
    html, body {
        height: auto;
        overflow: auto;
    }
	.global-wrapper {
		.region {
            .positioning {
                &:after {
                    content: "\f111";
                    font-size: 1rem;
                    top: 40px;
                }
				.continent { display: none; }
            }
            .oceania {
                right: 17%;
                bottom: 22%;
            }
            .asia {
                right: 22%;
                top: 24%;
            }
            .euro {
                right: 44%;
                top: 16%;
            }
            .africa {
                right: 43%;
                top: 45%;
            }
            .america {
                left: 26%;
                top: 35%;
            }
		}
		.region-mobile { display: flex; }
	}
    .members-brief {
        margin: 0 2.75% 1.875rem 0;
        width: 31.5%;
		&:nth-child(3n) {
			margin-right: 0;
		}
		&:nth-child(4n) {
			margin-right: 2.75%;
		}
    }
	.single-modal {
		.member-intro { display: block; }
		.photo-wrap {
			margin-bottom: 1.5rem;
			width: 100%;
		}
		.intro-wrap {
			padding-left: 0;
		}
	}
	.full-container {
		.member-intro { display: flex; }
		.photo-wrap {
			width: 240px;
			min-width: 240px;
		}
		.intro-wrap {
			padding-left: 1.875rem;
		}
	}
	.table-responsive {
		white-space: nowrap !important;
	}
	.table-row {
		.table-col {
			margin-right: 6px;
			width: 312px;
			min-width: 312px;
			&:last-child { margin-right: 0; }
		}
	}
    #calendar {
        margin-top: 2rem;
        padding-bottom: 0;
    }
	.col-12 + .col-12 + .col-12 {
        margin-top: 0.5rem;
    }
	.guestbook-container {
		.select-group {
			flex-wrap: wrap;
		}
		.select-col {
			margin-bottom: 0.25rem;
			margin-right: 1%;
			min-width: 49.5%;
			width: 49.5%;
			&:nth-child(2){ margin-right: 0; }
			&:nth-child(3), &:nth-child(4){
				margin-right: 0;
                min-width: 100%;
                width: 100%;
			}
		}
		.guest-item {
			width: 33.333333%;
		}
	}
	.continent-wrapper {
		.country-menu.has-column {
            column-count: 2;
		}
	}
    .short-wrapper {
        flex-wrap: wrap;
        .short-term {
            h3 {
                font-size: 1.5rem !important;
            }
        }
		.term-link {
			margin-bottom: 1.875rem;
			width: 31%;
		}
    }
}

@media (max-width: 768px) {
	.main .title-wrap {
		margin-bottom: 2rem;
	}
    .activity-hybrid li {
        width: 31%;
    }
	.members-wrapper {
		.allin { margin-top: 2rem; }
		.league-wrapper { margin-bottom: 1.5rem; }
	}
	.sitemap-wrapper {
		.sm-section {
			width: 50%;
		}
	}
	.section-awall, .section-brief { margin-bottom: 2rem; }
	.ntu-main + .tab-content { padding-top: 2rem; }
	table.table {
		.country-column {
			padding-top: 0.625rem;
            padding-bottom: 0.625rem;
		}
	}
	.guestbook-container .mdb-lightbox figure { margin-bottom: 0.5rem; }
}

@media (max-width: 767px) {
	
	$h1_logo_size: 72px;
	
	header.header {
		.logo:after {
            width: $h1_logo_size;
            height: $h1_logo_size;
		}
		.h1-logo {
			width: $h1_logo_size;
		}
		.sub {
			.ch {
                margin-bottom: 0.1875rem;
                font-size: 1.75rem;
			}
			.en { font-size: 1.125rem; }
		}
	}
	.breadcrumb {
		.breadcrumb-item {
			display: none;
			&:first-child, &:last-child {
				display: block;
			}
			&:first-child {
				position: relative;
				width: 14px;
				height: 25px;
				&:before {
					content: "...";
					color: #999;
					position: absolute;
					top: -4px;
					left: 0;
				}
				a { display: none; }
			}
		}
	}
	.calendar-container {
		.content-wrap { display: block; }
		.cal-wrap, .activity-list {
			padding-left: 0;
			padding-right: 0;
			width: 100%;
		}
		.cal-wrap { margin-bottom: 1rem; }
		.event-item:last-child { margin-bottom: 0; }
	}
	.fc-toolbar.fc-header-toolbar { margin-bottom: 1rem; }
	.fc-toolbar {
		h2 { font-size: 1.25rem; }
	}
	.fc-toolbar {
		padding-top: 30px;
		.fc-left {
            position: relative;
			width: 100%;
            h2 {
				margin-left: 0;
                position: absolute;
                left: 0;
                top: -30px;
            }
        }
	}
	.search-part { top: 30px; }
	.footer-inner {
		padding: 2rem 0;
		.contact {
			border-right: none;
			padding: 0;
		}
	}
	footer.footer {
		.social-media {
			display: flex;
			justify-content: space-between;
			padding: 0;
			width: 100%;
			position: initial;
			.menu-item {
				padding-left: 3rem;
				&:first-child { margin-bottom: 0; }
				&:before {
					font-size: 1.5rem;
					left: -0.5rem;
				}
				&.facebook {
					padding-right: 1.875rem;
				}
				li { line-height: 1.2; }
			}
			.youtube:before {
				top: -0.615rem;
			}
			.instagram:before {
				transform:scale(0.75);
			}
		}
		.contact-address {
			border-bottom: 1px solid $lighten_border_color;
			margin-bottom: 1.5rem;
			padding-bottom: 1.5rem;
		}
		.contact-block, .contact-block:last-child { padding-bottom: 1rem; }
	}
    .activity-hybrid li {
        width: 48%;
    }
    .announcement-hybrid {
        column-count: auto;
        column-gap: 0;
		li:nth-child(4), li:last-child {
			border-bottom: 1px solid #edf0f5;
		}
    }
	.scroll-links {
		margin: 0 -0.25rem 2rem;
		li {
			margin-bottom: 0.5rem;
			padding: 0 0.25rem;
			width: 50%;
		}
		&.two-item {
			.menu-item {
				display: block;
			}
			li {
				width: 100%;
			}
		}
	}
	.output-block {
		.output-head {
			margin-bottom: 1.5rem;
			h3 {
				font-size: 1.5rem;
				small { font-size: 75%; }
			}
		}
	}
	.annual-wrapper {
		.tabs-title { font-size: 1.375rem; }
	}
	.untitle-wrap {
		margin-bottom: 1.5rem;
		.university-title {
			font-size: 1.75rem;
		}
	}
	.untitle-logo { margin-bottom: 2rem; }
	.guestbook-container {
		.guestbook-content { margin-bottom: 1rem; }
		.mdb-lightbox {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			margin-bottom: 1rem;
			figure {
				float: none;
				margin-bottom: 0.75rem;
				padding: 0 !important;
			    width: 49% !important;	
			}
		}
	}
    .short-wrapper {
        display: block;
        .term-link {
			display: block;
            width: 100%;
        }
        .short-term {
			margin-bottom: 1.5rem;
            padding-top: 56.25%;
			h3 { font-size: 2rem !important; }
            img {
                position: absolute;
				left: 0;
				bottom: 0;
            }
        }
    }
	.brown-well {
		padding: 1.25rem;
		.well-title { font-size: 1.375rem; }
	}
}

@media (max-width: 767px) {
	.agr-wrapper {
		.zone-wrapper {
			margin-bottom: 2rem;
			&:last-child { margin-bottom: 0; }
		}
		.tabs-title {
			margin-bottom: 1rem;
			font-size: 1.375rem;
			text-align: left;
			&:after { top: 44%; }
		}
		.btn-title {
			border: none;
			padding: 0 1rem 0 0;
			.count { right: 0; }
		}
	}
}

@media (max-width: 640px) {
	.global-wrapper {
		.region {
            .oceania {
                right: 15%;
                bottom: 22%;
            }
            .asia {
                right: 21%;
                top: 12%;
            }
            .euro {
                right: 43%;
                top: 11%;
            }
            .africa {
                right: 40%;
                top: 36%;
            }
            .america {
                left: 24%;
                top: 31%;
            }
		}
	}
	.members-group {
		display: block;
		.department, .member-card {
			width: 100%;
		}
	}
    .members-brief {
        margin: 0 4% 1.5rem 0;
        width: 48%;
		&:nth-child(3n) {
			margin-right: 4%;
		}
		&:nth-child(4n) {
			margin-right: 0;
		}
		&:nth-child(even) {
			margin-right: 0;
		}
    }
	.guestbook-container {
		.select-group {
			display: block;
			margin-bottom: 1rem;
			padding: 1rem;
		}
		.select-col {
			margin-right: 0;
			min-width: 100%;
			width: 100%;
		}
		.guest-item {
			margin-bottom: 1rem;
			width: 50%;
		}
	}
	.agr-wrapper {
		.tabs-title {
			&:after { content: none; }
		}
	}
}

@media (max-width: 584px) {
	
	$h1_logo_size: 64px;
	
	header.header {
		.header-top { font-size: 0.9375rem; }
		.logo:after {
            width: $h1_logo_size;
            height: $h1_logo_size;
		}
		.h1-logo {
			width: $h1_logo_size;
		}
		.sub {
			.ch {
                font-size: 1.5rem;
			}
			.en { font-size: 0.875rem; }
		}
	}
	.post-single {
		.text-runaround img {
			width: 50%;
		}
		.photo-gallery {
			.img-group {
				img {
					margin-right: 4%;
				    width: 48%;
					&:nth-child(3n) {
						margin-right: 4%;
					}
					&:nth-child(even) {
						margin-right: 0;
					}
				}
			}
			&.upright {
                .img-group {
                    img {
                        margin-right: 2.75%;
                        width: 31.5%;
                        &:nth-child(even) {
                            margin-right: 2.75%;
                        }
                        &:nth-child(3n) {
                            margin-right: 0;
                        }
                    }
                }	
			}
		}
		.album-gallery {
			.img-group {
				.album-item {
					margin-right: 4%;
				    width: 48%;
					&:nth-child(3n) {
						margin-right: 4%;
					}
					&:nth-child(even) {
						margin-right: 0;
					}
				}
			}
			&.upright {
                .img-group {
                    .album-item {
                        margin-right: 2.75%;
                        width: 31.5%;
                        &:nth-child(even) {
                            margin-right: 2.75%;
                        }
                        &:nth-child(3n) {
                            margin-right: 0;
                        }
                    }
                }	
			}
		}
	}
	:lang(zh-TW), :lang(en) {
        .contact-wrapper {
			display: block;
			margin: 0;
            .ct-section {
                margin: 0 0 30px;
				padding: 0;
                width: 100%;
            }
        }
	}
}

@media (max-width: 575px) {
    .calendar-container {
        padding: 2rem 0;
    }
	.carousel-wrapper {
		padding-bottom: 2.5rem;
	}
	.carousel-indicators { bottom: -42px; }
	.mdb-lightbox [class*="col-"] { padding: 0; }
	#backtop {
		bottom: 15px;
		right: 15px;
	}
	.output-block .select-container {
		margin-bottom: 1.5rem;
		padding: 1rem;
	}
	.col-12 + .col-12 {
        margin-top: 0.5rem;
    }
	.continent-wrapper {
		.country-menu {
			display: block;
            column-count: 2;
			column-gap: 1rem;
			margin-bottom: 1rem;
		}
	}
    .short-wrapper {
        .short-term {
			h3 {
				padding: 1rem 0;
				font-size: 1.5rem !important;
			}
        }
    }
}

@media (max-width: 574px) {
    .activity-hybrid {
        display: block;
		li { width: 100%; }
    }
	.ntu-main {
		display: block;
		.nav-item {
			display: block;
			margin-bottom: 0.75rem;
			&:last-child { margin-bottom: 0; }
		}
	}
	.annual-list {
		li {
			margin-right: 6%;
			width: 47%;
			&:nth-child(3n) {
				margin-right: 6%;
			}
			&:nth-child(even) {
				margin-right: 0;
			}
		}
	}
	footer.footer {
		.social-media {
			display: block;
			.menu-item {
				&:first-child { margin-bottom: 1.5rem; }
			}
			.instagram:before {
				transform:scale(0.7);
				left: -0.25rem;
			}
		}
	}
}

@media (max-width: 479px) {
	
	$h1_logo_size: 56px;
	
	header.header {
		.logo:after {
            width: $h1_logo_size;
            height: $h1_logo_size;
		}
		.h1-logo {
			width: $h1_logo_size;
		}
		.sub {
			.ch {
                font-size: 1.25rem;
			}
		}
		.navbar-toggler {
			padding-left: 2rem;
			width: 92px;
		}
	}
    .header-right,
    .header-top {
        .subnav, .topnav {
			.text { display: none; }
            .fa-envelope, .fa-sitemap, .fa-question-circle {
                display: inline-block;
            }
        }
    }
	.ntu_search {
		.row.d-flex {
			justify-content: flex-start !important;
			padding-right: 66px;
			.form-inline {
				display: block;
				width: 100%;
			}
			.form-control { width: 100%; }
		}
		.btn-link { right: -0.5rem; }
	}
	.fc-toolbar {
		.fc-left {
			.fc-button-group {
				margin-bottom: 0.25rem;
			}
			h2 + .fc-button-group {
				float: none;
				display: block;
				margin-left: 0;
				margin-bottom: 0;
				clear: left;
			}
		}
	}
	.search-part { top: 64px; }
	footer.footer {
		font-size: 0.9375rem;
		h5 { font-size: 1rem; }
	}
	.footer-bottom {
		font-size: 0.875rem;
	}
	.activity-hybrid {
		.item-inner {
			padding: 0.75rem 2.5rem 1.25rem 0;
			background-position: right 0.75rem;
		}
		h5 {
			margin-bottom: 0;
			font-size: 1rem;
		}
	}
	.announcement-hybrid {
		li {
			margin-bottom: 0.5rem;
			padding-bottom: 0.5rem;
		}
		a {
			display: block;
			span {
				display: block;
				&.date { text-align: left; }
			}
		}
	}
	.global-wrapper {
		.region-mobile {
			display: block;
			padding: 1.25rem 1.25rem 0.125rem;
			.positioning {
				margin-bottom: 1.25rem;
				width: 100%;
			}
		}
		.region {
            .oceania {
                right: 13%;
                bottom: 19%;
            }
            .asia {
                right: 19%;
                top: 6%;
            }
            .euro {
                right: 39%;
                top: -7%;
            }
            .africa {
                right: 39%;
                top: 24%;
            }
            .america {
                left: 19%;
                top: 12%;
            }
		}
	}
	.section-title {
		font-size: 1.5rem;
	}

	.main .section-title small {
		padding-top: 0;
		font-size: 75%;
	}
    .members-brief {
		float: none;
        margin: 0 0 1.25rem 0 !important;
        width: 100%;
		.name { font-size: 1.125rem; }
		.contact-item { font-size: 1rem; }
    }
	.sitemap-wrapper {
		display: block;
		margin: 0;
		.sm-section {
			padding: 0;
			width: 100%;
		}
	}
	.untitle-wrap {
		.university-title {
			font-size: 1.5rem;
		}
	}
	.guestbook-container {
		.guest-item {
			width: 100%;
		}
	}
	.pagination .item-amount { display: none; }
	
	.guestbook-container {
		.mdb-lightbox {
			display: block;
			figure {
				margin-bottom: 0.5rem;
			    width: 100% !important;	
			}
		}
	}
	.continent-wrapper {
		.nav-link { padding: 0.5rem; }
	}
    .file-list {
        .file-item {
            display: block;
        }
        h5 {
            margin-bottom: 0.5rem;
        }
        .files {
			display: block;
            min-width: auto;
            text-align: left;
        }
    }
}

@media (max-width: 375px) {
	.modal_cookie {
		.modal-body { padding: 1rem !important; }
	}
    .pages-row {
        .sidenav {
            width: 300px !important;
        }
    }
	.post-single {
		.photo-gallery {
			.img-group {
				img {
					float: none;
					margin-right: 0;
				    width: 100%;
					&:nth-child(3n) {
						margin-right: 0;
					}
				}
			}
			&.upright {
                .img-group {
                    img {
						float: left;
                        margin-right: 4%;
                        width: 48%;
                        &:nth-child(even) {
                            margin-right: 0;
                        }
                        &:nth-child(odd) {
                            margin-right: 4%;
                        }
                    }
                }	
			}
		}
		.album-gallery {
			.img-group {
				.album-item {
					float: none;
					margin-right: 4%;
				    width: 100%;
					&:nth-child(even) {
						margin-right: 0;
					}
					&:nth-child(odd) {
						margin-right: 4%;
					}
				}
			}
			&.upright {
                .img-group {
                    .album-item {
						float: left;
                        margin-right: 4%;
                        width: 48%;
                        &:nth-child(even) {
                            margin-right: 0;
                        }
                        &:nth-child(odd) {
                            margin-right: 4%;
                        }
                    }
                }	
			}
		}
	}
}

@media (max-width: 360px) {
	header.header {
		.sub {
			.ch {
                font-size: 1rem;
			}
		}
	}
}
