<!-- breadcrumb 麵包屑 -->

<div class="content-breadcrumb">
	<div class="container">
        <nav aria-label="breadcrumb" class="breadcrumb-wrap">
			<a href="#" class="btn sidenav-collapse"></a>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">首頁</a></li>
                <li class="breadcrumb-item"><a href="#">示範路徑</a></li>
                <li class="breadcrumb-item active" aria-current="page">一般文章內文範本</li>
            </ol>
        </nav>
	</div>
</div>