<!-- 教學活動 tabs-1 -->

<div class="main-block">
    <section class="block-section">
        <h4 class="block-title">設計理念</h4>
        <div class="block-content">
            <h6 class="shrinkage">課程設計</h6>
            <div class="content">
			    <p>透過團隊教師與國際NGO組織(Unforgotten Connection People) 共同合作親自到肯亞實地觀察，當地觀點設計出可具體改變肯亞生活的行動方案，以真正落實用理解肯亞的問題與解決問題，達到從認知到關懷的目的。</p>
			</div>
            <h6 class="shrinkage">行動研究</h6>
			<div class="content">
                <ol>
                    <li>實作： 師生前往肯亞實際體驗取水。內容包括實地來回取水，體驗取水的距離、水井如何打水與取水、洗衣、煮飯、燒開水等日常生活之運用。</li>
                    <li>實驗：師生前往烏干達，將實驗室濾水實驗課程，實際到烏干達進行濾水，將理論與實務結合，探究可行方法。</li>
                </ol>
			</div>
        </div>
    </section>
    <section class="block-section">
        <h4 class="block-title">融入領域</h4>
		<div class="content">
            <p>語文、數學、社會、自然科學、綜合活動</p>
		</div>
    </section>
    <section class="block-section">
		<div class="content">
            <h4 class="d-inline-block"><span class="badge bg-secondary">上課節數：10節</span></h4>
			<h4 class="d-inline-block"><span class="badge bg-secondary">年級：8年級</span></h4>
		</div>
    </section>
</div>

<div class="row">
    <div class="col-lg-4">
	    <section class="section">
            <div class="section-head">
                <div class="inner">
                    <h5>國際教育議題實質內涵</h5>
                </div>
            </div>
			<div class="section-content">
                <ul class="menu-item grade-list">
                    <li>
                        <span class="lable"><span class="badge rounded-pill bg-dark">國J9</span></span>
                        <span class="text">運用跨文化溝通技巧參與國際交流</span>
                    </li>
                    <li>
                        <span class="lable"><span class="badge rounded-pill bg-dark">國J12</span></span>
                        <span class="text">探索全球議題，並構思永續發展的在地行動方案</span>
                    </li>
                </ul>
			</div>
		</section>
	</div>
    <div class="col-lg-4">
	    <section class="section">
            <div class="section-head">
                <div class="inner">
                    <h5>學習目標</h5>
                </div>
            </div>
			<div class="section-content">
                <ul class="menu-item grade-list">
                    <li>
						<a href="#" title="{連結名稱}">
						    <span class="d-block fw-bold">國J09-1</span>
							<span>與非洲交流學校視訊交流認識非洲用水問題。</span>
						</a>
					</li>
                    <li>
						<a href="#" title="{連結名稱}">
						    <span class="d-block fw-bold">國J09-2</span>
							<span>與非洲交流學校分享全球水資源至少一項探究成果與淨水策略。</span>
						</a>
					</li>
					<li>
						<a href="#" title="{連結名稱}">
						    <span class="d-block fw-bold">國J12-1</span>
							<span>運用文獻分析探究全球水資源分布及非洲缺水之原因。</span>
						</a>
					</li>
                    <li>
						<a href="#" title="{連結名稱}">
						    <span class="d-block fw-bold">國J12-2</span>
							<span>創造並實驗淨水方法，包括直接濾水，再運用太陽能煮沸過濾過後的水。</span>
						</a>
					</li>
					<li>
						<a href="#" title="{連結名稱}">
						    <span class="d-block fw-bold">國J12-3</span>
							<span>發展適宜非洲脈絡的淨水策略。</span>
						</a>
					</li>
                </ul>
			</div>
		</section>
	</div>
    <div class="col-lg-4">
	    <section class="section">
            <div class="section-head">
                <div class="inner">
                    <h5>總結性評量</h5>
                </div>
            </div>
			<div class="section-content">
                <h6><strong>台灣省水、濾水大考驗，非洲濾水實作</strong></h6>
				<p>學生以分組形式探討非洲地形、水源、缺水原因，知道因提水造成學童中輟與生病的原因。以實驗室濾水、收集太陽能煮沸過濾的水，接下來以體驗挑水與操作省水、省電方法，最後能將所學淨水策略與方法帶往非洲與夥伴學校交流檢核所學的濾水方法在非洲的實用性。</p>
			</div>
		</section>
	</div>
</div>

<section class="section subject-item">
    <div class="card">
        <div class="card-head">
            <h5>英語：A Teenager Who Does a Lot for the World Today （2節）</h5>
        </div>
		<div class="card-body">
		    <p>雷恩在烏干達鑿井原因，分析因飲水造成兒童感染痢疾及傷寒如何實際行動幫助非洲人民。</p>
            <ul>
                <li><a href="#" title="{連結名稱}">附件南1-2-2</a></li>
                <li><a href="#" title="{連結名稱}">附件南1-2 Big Change 教案</a></li>
                <li><a href="#" title="{連結名稱}">附件南1-2-1 文法暖身投影片</a></li>
            </ul>
		</div>
		<div class="card-foot">
			<div class="inner">
                <div class="goal">
                    <h5>學習目標</h5>
                    <p>國J09-1 | 國J12-1</p>
                </div>
                <div class="goal">
                    <h5>學習評量</h5>
                    <p>學習單、口頭發表：<br>分組發表鑿井原因、不乾淨飲水造成問題、分享助人的經驗與感想。</p>
                    <ul>
                        <li><a href="#" title="{連結名稱}">附件南1-2-3角色分派.合作行為觀察表</a></li>
                        <li><a href="#" title="{連結名稱}">附件南1-2-4 核心素養教案問卷</a></li>
                    </ul>
                </div>
			</div>
		</div>
	</div>
</section>

<section class="section subject-item">
    <div class="card">
        <div class="card-head">
            <h5>自然：如何濾水（2節）</h5>
        </div>
		<div class="card-body">
            <ul>
                <li>模擬非洲汙水，指導學生使用探究法，運用有限、隨手可得的物品進行濾水。</li>
                <li>凹面金屬容器收集太陽能，集熱後將水煮沸之淨水策略。</li>
            </ul>
		</div>
		<div class="card-foot">
			<div class="inner">
                <div class="goal">
                    <h5>學習目標</h5>
                    <p>國J09-2 | 國J12-2 | 國J12-3</p>
                </div>
                <div class="goal">
                    <h5>學習評量</h5>
                    <p>學習單、口頭發表：<br>分組發表鑿井原因、不乾淨飲水造成問題、分享助人的經驗與感想。</p>
                    <ol>
                        <li>學習單：各小組收集濾水材料、實施老師課堂教過操作濾水的流程。</li>
                        <li>各小組展示過濾成果，全班票選前三名最乾淨的水。</li>
						<li>口頭發表在實驗室實作淨化來的水源，操作、觀察與最後修正成果。</li>
                    </ol>
                </div>
			</div>
		</div>
	</div>
</section>

<section class="section subject-item">
    <div class="card">
        <div class="card-head">
            <h5>社會：全球環境議題：水資源 (見附件南1-9)（2節）</h5>
        </div>
		<div class="card-body">
			<p>探究分析非洲的實際降雨量、水質、討論缺水的原因。</p>
			<p><a href="#" title="{連結名稱}">附件南1-9 全球環境議題－水資源教案</a></p>
		</div>
		<div class="card-foot">
			<div class="inner">
                <div class="goal">
                    <h5>學習目標</h5>
                    <p>國J12-1</p>
                </div>
                <div class="goal">
                    <h5>學習評量</h5>
                    <p>四人一組，分析討論全球水源、地形、降雨完成學習單，最後進行全班口頭發表。</p>
                </div>
			</div>
		</div>
	</div>
</section>

<section class="section subject-item">
    <div class="card">
        <div class="card-head">
            <h5>數學：非懂不渴的水資源（2節）</h5>
        </div>
		<div class="card-body">
			<p>觀察日常生活裡的情境或模式中的數量關係，作為省水數據的依據，運用比與比值概念，估算平時在家如何節省水源、認識家中自來水表，運用所學進行省水。</p>
			<p><a href="#" title="{連結名稱}">附件南1-8 非懂不渴的水資源教案</a></p>
		</div>
		<div class="card-foot">
			<div class="inner">
                <div class="goal">
                    <h5>學習目標</h5>
                    <p>國J12-1 | 國J12-2 | 國J12-3</p>
                </div>
                <div class="goal">
                    <h5>學習評量</h5>
                    <ol>
                        <li>學會容量與體積之間的關係，運用比與比值觀念。</li>
                        <li>收集家中水費繳費單，認識水表與計費。改變家中用水習慣，利用桌遊學習單結合文字與相關符號來表述，協助推理與解題。</li>
                    </ol>
                </div>
			</div>
		</div>
	</div>
</section>

<section class="section subject-item">
    <div class="card">
        <div class="card-head">
            <h5>綜合領域（童軍）：誰知桶中「水」 滴滴皆辛苦（2節）</h5>
        </div>
		<div class="card-body">
			<p>利用永備尺的觀念，教導學生計算提水的距離，實際提水感受平地與山坡地取水提水的艱辛。</p>
			<p><a href="#" title="{連結名稱}">附件南1-6 誰知桶中「水」 滴滴皆辛苦教案</a></p>
		</div>
		<div class="card-foot">
			<div class="inner">
                <div class="goal">
                    <h5>學習目標</h5>
                    <p>國J12-1</p>
                </div>
                <div class="goal">
                    <h5>學習評量</h5>
					<h6><strong>口頭發表與實作</strong></h6>
                    <p>以童軍棍、手臂長估算取水距離。體驗從學校兩棟樓層挑水的艱辛。最後能寫下取水與挑水心得體驗。</p>
                </div>
			</div>
		</div>
	</div>
</section>

<section class="section subject-item">
    <div class="card">
        <div class="card-head">
            <h5>台、非視訊與當地實作和實驗（14節）</h5>
        </div>
		<div class="card-body">
			<p>體認國際能力養成的重要，視訊與交流時外語能力、探究及批判能力、運用資訊科技能力及跨文化溝通能力，從而付諸行動，致力於終身學習。體認國際能力養成的重要，視訊與交流時外語能力、探究及批判能力、運用資訊科技能力及跨文化溝通能力，從而付諸行動，致力於終身學習。</p>
		</div>
		<div class="card-foot">
			<div class="inner">
                <div class="goal">
                    <h5>學習目標</h5>
                    <p>國J09-1 | 國J09-2 | 國J12-1 | 國J12-2 | 國J12-3</p>
                </div>
                <div class="goal">
                    <h5>學習評量</h5>
					<h6><strong>實作課程：</strong></h6>
                    <p>學校志工學生與老師前往肯亞與烏干達實際體驗取水、濾水等行動課程，最後將成果與實際體驗心得帶回台灣，作為下次課程修正基礎。</p>
                </div>
			</div>
		</div>
	</div>
</section>

<section class="section subject-item">
    <div class="card">
        <div class="card-head">
            <h5>檔案下載</h5>
        </div>
		<div class="card-body">
			<div class="download-wrap">
			    <a class="dl-item" href="#" title="{連結名稱}">南1-2Big Change教案</a>
				<a class="dl-item" href="#" title="{連結名稱}">南1-2-1文法暖身投影片</a>
				<a class="dl-item" href="#" title="{連結名稱}">南1-2-2非洲取水影片</a>
				<a class="dl-item" href="#" title="{連結名稱}">南1-2-3角色分派.合作行為觀察表</a>
				<a class="dl-item" href="#" title="{連結名稱}">南1-2-4核心素養教案問卷</a>
				<a class="dl-item" href="#" title="{連結名稱}">南1-6誰知桶中「水」 滴滴皆辛苦教案</a>
				<a class="dl-item" href="#" title="{連結名稱}">南1-8非懂不渴的水資源教案</a>
				<a class="dl-item" href="#" title="{連結名稱}">南1-9全球環境議題－水資源教案</a>
			</div>
		</div>
	</div>
</section>