<header class="header">
	<a href="#accesskey_content" id="gotocenter" title="跳到主要內容" tabindex="1" class="sr-only sr-only-focusable">跳到主要內容</a>
	<div class="top-link">
        <nav class="navbar" aria-label="選單鍵">
            <div class="container justify-content-end">
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link" accesskey="U" href="#accesskey_topmenu" title="頂部功能選單" tabindex="0" id="accesskey_topmenu" class="ackey">:::</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" title="MOE">MOE</a>
                    </li>
					<li class="nav-item">
                        <a class="nav-link" href="#" title="Language (Chinese)">Chinese</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" title="Language (Japanese)">Japanese</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" title="搜尋" data-bs-toggle="modal" data-bs-target="#exampleEnModal"><i class="fas fa-search text-white"></i></a>
                    </li>
                </ul>
            </div>
        </nav>
	</div>
	
    
    <div class="header-wrap">
        <div class="container">
            <div class="brands">
                <a href="../general/index.html">
                    <div class="logo">
                        <h1 class="text-hide">Medium-Term Plan for International Education in Primary and Secondary Schools</h1>
                        <img class="h1-logo" src="../assets/logo_bs.png" alt="教育部中小學國際教育2.0全球資訊網logo" />
                    </div>
                    <div class="sub">
                        <h2 class="en">
							Medium-Term Plan for International Education
							<small>in Primary and Secondary Schools</small>
						</h2>
                    </div>

                </a>
            </div>
        </div>
    </div>
	
	<nav class="navbar en-navbar" aria-label="選單鍵">
        <div class="container">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" href="#" title="About IE2.0">About IE2.0</a>
                </li>
				<li class="nav-item">
                    <a class="nav-link" href="#" title="FAQ">FAQ</a>
                </li>
				<li class="nav-item">
                    <a class="nav-link" href="#" title="Contact us">Contact us</a>
                </li>
				<li class="nav-item">
                    <a class="nav-link" href="#" title="Login">Go to IEW</a>
                </li>
            </ul>
        </div>
	</nav>
    
</header>



