<header class="header">
	<a href="#accesskey_content" id="gotocenter" title="跳到主要內容" tabindex="1" class="sr-only sr-only-focusable">跳到主要內容</a>
	<div class="top-link">
        <nav class="navbar" aria-label="選單鍵">
            <div class="container justify-content-end">
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link" accesskey="U" href="#accesskey_topmenu" title="頂部功能選單" tabindex="0" id="accesskey_topmenu" class="ackey">:::</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" title="MOE">MOE</a>
                    </li>
					<li class="nav-item">
                        <a class="nav-link" href="#" title="Language (Chinese)">Chinese</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" title="Language (Japanese)">Japanese</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" title="搜尋" data-bs-toggle="modal" data-bs-target="#exampleEnModal"><i class="fas fa-search text-white"></i></a>
                    </li>
                </ul>
            </div>
        </nav>
	</div>
	
    
    <div class="header-wrap">
        <div class="container">
            <div class="brands">
                <a href="../general/index.html">
                    <div class="logo">
                        <h1 class="text-hide">The Ministry of Education's Website for International Education</h1>
                        <img class="h1-logo" src="../assets/logo_bs.png" alt="教育部中小學國際教育2.0全球資訊網logo" />
                    </div>
                    <div class="sub">
                        <h2 class="en">
							The Ministry of Education's Website for International Education
							<span>in Primary and Secondary School</span>
						</h2>
                        <h3 class="edu">Republic of China (Taiwan)</h3>
                    </div>

                </a>
            </div>
        </div>
    </div>
	
    <nav class="navbar navbar-expand-lg navbar-light en-navbar" aria-label="選單鍵">
        <div class="container">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#" title="{連結名稱}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" title="{連結名稱}">FAQ</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" title="{連結名稱}">
                            Dropdown
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#" title="{連結名稱}">Action</a></li>
                            <li><a class="dropdown-item" href="# title="{連結名稱}"">Another action</a></li>
                            <li><hr class="dropdown-divider" /></li>
                            <li><a class="dropdown-item" href="#" title="{連結名稱}">Something else here</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" title="{連結名稱}">Link</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" title="{連結名稱}">
                            International Exchanges
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#" title="{連結名稱}">SIEP International Exchange Handbook</a></li>
                            <li><a class="dropdown-item" href="# title="{連結名稱}"">Another action</a></li>
                            <li><a class="dropdown-item" href="#" title="{連結名稱}">Something else here</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    
</header>



