<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>教育部中小學國際教育2.0全球資訊網</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" media="screen, projection" href="../stylesheets/bootstrap.css">
<% if content_for? :replace_css %>
    <%= yield :replace_css %>
<% end %>
<link rel="stylesheet" media="screen, projection, print" href="../stylesheets/application.css">

    <link rel="icon" href="favicon.ico" mce_href="favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="favicon.ico" mce_href="favicon.ico" type="image/x-icon">
    <!-- SEO -->
    <meta http-equiv="content-language" content="zh-tw">
    <meta name="robots" content="index,follow,all" />
    <meta name="author" content="教育部中小學國際教育2.0全球資訊網"  />
    <meta name="description" content="教育部中小學國際教育2.0全球資訊網"  />
    <meta name="keywords" content=""  />
    <meta name="copyright" CONTENT="本網頁著作權為捷思達數位開發有限公司所有"> 

    <meta property='og:title' content='教育部中小學國際教育2.0全球資訊網:' />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="http://www.ietw2.edu.tw/ietw2/include/index.php?" />
    <meta property='og:description' content='教育部中小學國際教育2.0全球資訊網' />
    <meta property='og:image' content='' />
    <!-- SEO -->

<% if content_for? :page_styles %>
    <%= yield :page_styles %>
<% end %>

<% if content_for? :head_js %>
    <%= yield :head_js %>
<% end %>