<header class="header">
	<a href="#accesskey_content" id="gotocenter" title="跳到主要內容" tabindex="1" class="sr-only sr-only-focusable">跳到主要內容</a>
	<div class="top-link">
        <nav class="navbar navbar-expand-md navbar-dark" aria-label="選單鍵">
            <div class="container">
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTop" aria-controls="navbarTop" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarTop">
                    <ul class="navbar-nav">
						<li class="nav-item">
                            <a accesskey="U" href="#accesskey_topmenu" title="頂部功能選單" tabindex="0" id="accesskey_topmenu" class="ackey">:::</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" title="網站導覽">網站導覽</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" title="回網站首頁">回網站首頁</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" title="教育部網站">教育部網站</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" title="常見問題">常見問題</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" title="聯絡我們">聯絡我們</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" title="登入計畫服務網">登入計畫服務網</a>
                        </li>
                    </ul>
                </div>
                <div class="top-function">
                    <a href="#" title="English">English</a>
                    <a href="#" title="搜尋" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="fas fa-search text-white"></i></a>
                </div>
            </div>
        </nav>
	</div>
	
    
    <div class="header-wrap">
        <div class="container">
            <div class="brands">
                <a href="../general/index.html">
                    <div class="logo">
                        <h1 class="text-hide">教育部中小學國際教育2.0全球資訊網</h1>
                        <img class="h1-logo" src="../assets/logo_bs.png" alt="教育部中小學國際教育2.0全球資訊網logo" />
                    </div>
                    <div class="sub">
                        <h2 class="ch">教育部中小學國際教育2.0全球資訊網</h2>
                        <h3 class="en">International Education 2.0 for Primary and Secondary Schools</h3>
                    </div>

                </a>
            </div>
        </div>
    </div>
	<nav class="navbar navbar-expand-xxl navbar-main navbar-light" aria-label="選單鍵">
        <div class="container">
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMenu" aria-controls="navbarMenu" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
			<div class="collapse navbar-collapse" id="navbarMenu">
                <ul class="navbar-nav">
					
					
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" data-bs-auto-close="outside" title="認識國際教育2.0">認識國際教育2.0</a>
                        <ul class="dropdown-menu">
							<li><a class="dropdown-item" href="#" title="2.0之理念">2.0之理念</a></li>
							<li><a class="dropdown-item" href="#" title="2.0之願景、目標及策略">2.0之願景、目標及策略</a></li>
							<li><a class="dropdown-item" href="#" title="組織架構">組織架構</a></li>
                            <li class="dropend">
                                <a href="#" class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" data-bs-auto-close="outside" title="推動團隊">推動團隊</a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#" title="中小學教育國際化專案辦公室">中小學教育國際化專案辦公室</a></li>
                                    <li><a class="dropdown-item" href="#" title="國民及學前教育署">國民及學前教育署</a></li>
                                    <li><a class="dropdown-item" href="#" title="國際及兩岸教育司">國際及兩岸教育司</a></li>
                                    <li class="dropend">
                                        <a href="#" class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" data-bs-auto-close="outside"  title="計畫團隊">計畫團隊</a>
                                        <ul class="dropdown-menu dropdown-submenu">
                                            <li><a class="dropdown-item" href=""> Third level 1</a></li>
                                            <li><a class="dropdown-item" href=""> Third level 2</a></li>
                                            <li><a class="dropdown-item" href=""> Third level 3</a></li>
                                            <li><a class="dropdown-item" href=""> Third level 4</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
							<li><a class="dropdown-item" href="#" title="2.0白皮書">2.0白皮書</a></li>
							<li class="dropend">
							    <a href="#" class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" data-bs-auto-close="outside" title="2.0文宣圖庫">2.0文宣圖庫</a>
                                <ul class="dropdown-menu dropdown-submenu shadow">
                                    <li><a class="dropdown-item" href=""> Third level 1</a></li>
                                    <li><a class="dropdown-item" href=""> Third level 2</a></li>
                                    <li><a class="dropdown-item" href=""> Third level 3</a></li>
                                    <li><a class="dropdown-item" href=""> Third level 4</a></li>
                                </ul>
							</li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false" title="SIEP課程發展與教學">SIEP課程發展與教學</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#" title="123">Action</a></li>
                            <li><a class="dropdown-item" href="#" title="123">Another action</a></li>
                            <li><a class="dropdown-item" href="#" title="123">Something else here</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false" title="SIEP國際交流">SIEP國際交流</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#" title="123">Action</a></li>
                            <li><a class="dropdown-item" href="#" title="123">Another action</a></li>
                            <li><a class="dropdown-item" href="#" title="123">Something else here</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false" title="SIEP學校國際化">SIEP學校國際化</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#" title="123">Action</a></li>
                            <li><a class="dropdown-item" href="#" title="123">Another action</a></li>
                            <li><a class="dropdown-item" href="#" title="123">Something else here</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false" title="培力團與培力課程">培力團與培力課程</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#" title="123">Action</a></li>
                            <li><a class="dropdown-item" href="#" title="123">Another action</a></li>
                            <li><a class="dropdown-item" href="#" title="123">Something else here</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false" title="臺灣國際教育旅行聯盟2.0">臺灣國際教育旅行聯盟2.0</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#" title="123">Action</a></li>
                            <li><a class="dropdown-item" href="#" title="123">Another action</a></li>
                            <li><a class="dropdown-item" href="#" title="123">Something else here</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false" title="國際交流櫥窗">國際交流櫥窗</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#" title="123">Action</a></li>
                            <li><a class="dropdown-item" href="#" title="123">Another action</a></li>
                            <li><a class="dropdown-item" href="#" title="123">Something else here</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" title="國際交流社群">國際交流社群</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false" title="123">相關補助</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#" title="123">Action</a></li>
                            <li><a class="dropdown-item" href="#" title="123">Another action</a></li>
                            <li><a class="dropdown-item" href="#" title="123">Something else here</a></li>
                        </ul>
                    </li>
                </ul>
			</div>
        </div>
	</nav>
    
</header>



