<!-- 教學活動與評量 -->
					<div class="landing-wrap">
                        <h4 class="collapse-title"><a data-bs-toggle="collapse" href="#collapseLanding" role="button" aria-expanded="true" aria-controls="collapseLanding">
							對應國際教育議題實質內涵
							<span class="float-end"><i class="fas fa-chevron-up"></i></span>
						</a></h4>
                        <div class="collapse show" id="collapseLanding">
                            <div class="section-row">
                                <section class="section">
                                    <div class="section-head head-start">
                                        <div class="inner">
                                            <h5>彰顯國家價值</h5>
                                        </div>
                                    </div>
									<div class="section-content">
									    <ul class="menu-item grade-list">
										    <li>
												<span class="lable"><span class="badge rounded-pill bg-dark">國J3</span></span>
											    <span class="text">展現認同我國國家價值的行動</span>
											</li>
										</ul>
									</div>
								</section>
								<section class="section">
                                    <div class="section-head head-start">
                                        <div class="inner">
                                            <h5>尊重多元文化與國際理解</h5>
                                        </div>
                                    </div>
									<div class="section-content">
									    <ul class="menu-item grade-list">
										    <li>
												<span class="lable"><span class="badge rounded-pill bg-dark">國J4</span></span>
											    <span class="text">認識跨文化與全球競合的現象</span>
											</li>
											<li>
												<span class="lable"><span class="badge rounded-pill bg-dark">國J5</span></span>
											    <span class="text">引導學生收集與饑餓相關文本資料</span>
											</li>
										</ul>
									</div>
								</section>
								<section class="section">
                                    <div class="section-head head-start">
                                        <div class="inner">
                                            <h5>強化國際移動力</h5>
                                        </div>
                                    </div>
									<div class="section-content">
									    <ul class="menu-item grade-list">
										    <li>
												<span class="lable"><span class="badge rounded-pill bg-dark">國J7</span></span>
											    <span class="text">了解跨語言與探究學習的重要內涵</span>
											</li>
											<li>
												<span class="lable"><span class="badge rounded-pill bg-dark">國J8</span></span>
											    <span class="text">覺察外語與探究學習對國際能力養成的重要性</span>
											</li>
											<li>
												<span class="lable"><span class="badge rounded-pill bg-dark">國J9</span></span>
											    <span class="text">運用跨文化溝通技巧參與國際交流</span>
											</li>
											<li>
												<span class="lable"><span class="badge rounded-pill bg-dark">國J10</span></span>
											    <span class="text">視訊理解當地環境</span>
											</li>
										</ul>
									</div>
								</section>
								<section class="section">
                                    <div class="section-head head-start">
                                        <div class="inner">
                                            <h5>善盡全球公民責任</h5>
                                        </div>
                                    </div>
									<div class="section-content">
									    <ul class="menu-item grade-list">
										    <li>
												<span class="lable"><span class="badge rounded-pill bg-dark">國J11</span></span>
											    <span class="text">了解全球永續發展之理念</span>
											</li>
											<li>
												<span class="lable"><span class="badge rounded-pill bg-dark">國J12</span></span>
											    <span class="text">尊重與維護不同文化群體的人權與尊嚴</span>
											</li>
											<li>
												<span class="lable"><span class="badge rounded-pill bg-dark">國J14</span></span>
											    <span class="text">探索全球議題，並構思永續發展的在地行動方案</span>
											</li>
										</ul>
									</div>
								</section>
                            </div>
                        </div>
					</div>