<footer class="footer">
	<div class="container-xl">
		<div class="footer-inner">
			<div class="footer-left">
				<h5>教育部中小學國際教育2.0全球資訊網</h5>
                <p class="mb-0">2023-05-25 1,212,110</p>
				<address>Copyright@ 教育部「國際教育2.0全球資訊網資料庫及國際架接推動計畫」專案委辦 版權所有</address>
			</div>
			<div class="footer-right">
				<a class="accessibility-link" href="#" target="_blank" title="開啟新分頁：無障礙網頁憑證">
					<img src="../assets/assessAA.png" alt="無障礙標章2.0 AA等級">
				</a>
			</div>
		</div>
	</div>
</footer>