<!-- 側欄選單 -->

<div class="sidenav">
	<div class="scrollbar-inner">
        <a accesskey="L" href="#accesskey_left_nav" tabindex="0" title="左側目錄" id="accesskey_left_nav" class="ackey d-none d-xl-block">:::</a>
        <div id="accordian_nav" class="sidenav-inner">
            <h5 class="fw-bold nav-title">最新消息</h5>
            <ul>
                <li>
                    <h4>
                        <a href="#">單一連結測試</a>
                    </h4>
                </li>
                <li class="has-child">
                    <h4>
                        <a href="#">有子選單測試</a>
                    </h4>
                    <ul>
                        <li><a href="#"><%= lorem_words(6) %></a></li>
                        <li><a href="#"><%= lorem_words(6) %></a></li>
                        <li><a href="#"><%= lorem_sentence %></a></li>
                        <li><a href="#"><%= lorem_words(6) %></a></li>
                    </ul>
                </li>
                <li class="has-child">
                    <h4>
                        <a href="#">學校國際化六大面向指標分類說明</a>
                    </h4>
                    <ul>
                        <li><a href="#">Today's tasks</a></li>
                        <li>
                            <a href="#">DrillDown</a>
                            <ul>
                                <li><a href="#">Today's tasks</a></li>
                                <li><a href="#">Urgent</a></li>
                                <li><a href="#">Overdues</a></li>
                                <li><a href="#">Recurring</a></li>
                                <li><a href="#">Settings</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Overdues</a>
                            <ul>
                                <li><a href="#">Today's tasks</a></li>
                                <li><a href="#">Urgent</a></li>
                                <li><a href="#">Overdues</a></li>
                                <li><a href="#">Recurring</a></li>
                                <li><a href="#">Settings</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Recurring</a></li>
                        <li><a href="#">Settings</a></li>
                    </ul>
                </li>
                <li>
                    <h4>
                        <a href="#">單一連結</a>
                    </h4>
                </li>
                <li class="has-child">
                    <h4>
                        <a href="#">實施機制</a>
                    </h4>
                    <ul>
                        <li><a href="#">Current Month</a></li>
                        <li><a href="#">Current Week</a></li>
                        <li><a href="#">Previous Month</a></li>
                        <li><a href="#">Previous Week</a></li>
                        <li><a href="#">Next Month</a></li>
                        <li><a href="#">Next Week</a></li>
                        <li><a href="#">Team Calendar</a></li>
                        <li><a href="#">Private Calendar</a></li>
                        <li><a href="#">Settings</a></li>
                    </ul>
                </li>
                <li class="has-child">
                    <h4>
                        <a href="#">教師及教育行政人員培力計畫簡介</a>
                    </h4>
                    <ul>
                        <li><a href="#">Global favs</a></li>
                        <li><a href="#">My favs</a></li>
                        <li><a href="#">Team favs</a></li>
                        <li><a href="#">Settings</a></li>
                    </ul>
                </li>
            </ul>
        </div>
	</div>
</div>