<!-- 側欄選單 -->

<div class="sidenav">
	<div class="scrollbar-inner">
        <a accesskey="L" href="#accesskey_left_nav" tabindex="0" title="左側目錄" id="accesskey_left_nav" class="ackey d-none d-xl-block">:::</a>
        <div id="accordian_nav" class="sidenav-inner">
            <h5 class="fw-bold nav-title">最新消息</h5>
            <ul>
                <li>
                    <h4>
                        <a href="#" class="current" title="{連結名稱}">單一連結 current 頁面</a>
                    </h4>
                </li>
                <li class="has-child">
                    <h4>
                        <a href="#" title="{連結名稱}">有子選單測試</a>
                    </h4>
                    <ul>
                        <li><a href="#" class="current" title="{連結名稱}">子選單 current</a></li>
                        <li><a href="#" title="{連結名稱}"><%= lorem_words(6) %></a></li>
                        <li><a href="#" title="{連結名稱}"><%= lorem_sentence %></a></li>
                        <li><a href="#" title="{連結名稱}"><%= lorem_words(6) %></a></li>
                    </ul>
                </li>
                <li class="has-child">
                    <h4>
                        <a href="#" title="{連結名稱}">學校國際化六大面向指標分類說明</a>
                    </h4>
                    <ul>
                        <li><a href="#" title="{連結名稱}">Today's tasks</a></li>
                        <li>
                            <a href="#" title="{連結名稱}">DrillDown</a>
                            <ul>
                                <li><a href="#" title="{連結名稱}">Today's tasks</a></li>
                                <li><a href="#" title="{連結名稱}">Urgent</a></li>
                                <li><a href="#" title="{連結名稱}">Overdues</a></li>
                                <li><a href="#" title="{連結名稱}">Recurring</a></li>
                                <li><a href="#" title="{連結名稱}">Settings</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#" title="{連結名稱}">Overdues</a>
                            <ul>
                                <li><a href="#" title="{連結名稱}">Today's tasks</a></li>
                                <li><a href="#" title="{連結名稱}">Urgent</a></li>
                                <li><a href="#" title="{連結名稱}">Overdues</a></li>
                                <li><a href="#" title="{連結名稱}">Recurring</a></li>
                                <li><a href="#" title="{連結名稱}">Settings</a></li>
                            </ul>
                        </li>
                        <li><a href="#" title="{連結名稱}">Recurring</a></li>
                        <li><a href="#" title="{連結名稱}">Settings</a></li>
                    </ul>
                </li>
                <li>
                    <h4>
                        <a href="#" title="{連結名稱}">單一連結</a>
                    </h4>
                </li>
                <li class="has-child">
                    <h4>
                        <a href="#" title="{連結名稱}">實施機制</a>
                    </h4>
                    <ul>
                        <li><a href="#" title="{連結名稱}">Current Month</a></li>
                        <li><a href="#" title="{連結名稱}">Current Week</a></li>
                        <li><a href="#" title="{連結名稱}">Previous Month</a></li>
                        <li><a href="#" title="{連結名稱}">Previous Week</a></li>
                        <li><a href="#" title="{連結名稱}">Next Month</a></li>
                        <li><a href="#" title="{連結名稱}">Next Week</a></li>
                        <li><a href="#" title="{連結名稱}">Team Calendar</a></li>
                        <li><a href="#" title="{連結名稱}">Private Calendar</a></li>
                        <li><a href="#" title="{連結名稱}">Settings</a></li>
                    </ul>
                </li>
                <li class="has-child">
                    <h4>
                        <a href="#" title="{連結名稱}">教師及教育行政人員培力計畫簡介</a>
                    </h4>
                    <ul>
                        <li><a href="#" title="{連結名稱}">Global favs</a></li>
                        <li><a href="#" title="{連結名稱}">My favs</a></li>
                        <li><a href="#" title="{連結名稱}">Team favs</a></li>
                        <li><a href="#" title="{連結名稱}">Settings</a></li>
                    </ul>
                </li>
            </ul>
        </div>
	</div>
</div>