<!-- 側欄選單 -->

<div class="sidenav sidenav-retrieval">
	<div class="scrollbar-inner">
        <a accesskey="L" href="#accesskey_left_nav" tabindex="0" title="左側目錄" id="accesskey_left_nav" class="ackey d-none d-xl-block">:::</a>
        <div id="accordian_nav" class="sidenav-inner">
            <h5 class="fw-bold nav-title">新北市立江翠國民中學</h5>
			<div class="dl-toolkit">
                <span>工具包下載</span>
				<a href="#" title="下載{校名}工具包"><i class="fas fa-cloud-download-alt"></i></a>
			</div>
            <ul>
                <li>
                    <h4>
                        <a href="#" class="current" title="{連結名稱}">課程概覽</a>
                    </h4>
                </li>
                <li class="has-child">
                    <h4>
                        <a href="#" title="{連結名稱}">情境分析與課程目標</a>
                    </h4>
                    <ul>
                        <li><a href="#" title="{連結名稱}">學校資源盤點</a></li>
                        <li><a href="#" title="{連結名稱}">國際教育現況分析</a></li>
                        <li><a href="#" title="{連結名稱}">本學年度推動目標</a></li>
                        <li><a href="#" title="{連結名稱}">組織分工</a></li>
                    </ul>
                </li>
                <li>
                    <h4>
                        <a href="#" title="{連結名稱}">教學活動與評量</a>
                    </h4>
                </li>
                <li class="has-child">
                    <h4>
                        <a href="#" title="{連結名稱}">課程實施與成效評估</a>
                    </h4>
                    <ul>
                        <li><a href="#" title="{連結名稱}">課程實施歷程</a></li>
                        <li><a href="#" title="{連結名稱}">學生學習成果</a></li>
                        <li><a href="#" title="{連結名稱}">成效評估</a></li>
                    </ul>
                </li>
				<li>
                    <h4>
                        <a href="#" title="{連結名稱}">相關資源</a>
                    </h4>
                </li>
            </ul>
        </div>
	</div>
</div>