<!-- 側欄選單 -->

<div class="sidenav">
	<div class="scrollbar-inner">
        <a accesskey="L" href="#accesskey_left_nav" tabindex="0" title="左側目錄" id="accesskey_left_nav" class="ackey d-none d-xl-block">:::</a>
        <div id="accordian_nav" class="sidenav-inner">
            <h5 class="fw-bold nav-title">認識國際教育2.0</h5>
            <ul>
                <li>
                    <h4>
                        <a href="#" class="current" title="{連結名稱}">2.0 之理念</a>
                    </h4>
                </li>
                <li>
                    <h4>
                        <a href="#" title="{連結名稱}">2.0 之願景、目標及策略</a>
                    </h4>
                </li>
				<li>
                    <h4>
                        <a href="#" title="{連結名稱}">組織架構</a>
                    </h4>
                </li>
                <li>
                    <h4>
                        <a href="#" title="{連結名稱}">推動團隊</a>
                    </h4>
                </li>
				<li>
                    <h4>
                        <a href="#" title="{連結名稱}">2.0 白皮書</a>
                    </h4>
                </li>
				<li>
                    <h4>
                        <a href="#" title="{連結名稱}">2.0 文宣圖庫</a>
                    </h4>
                </li>
            </ul>
        </div>
	</div>
</div>