<!-- 全站搜尋 modal -->

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">搜尋全站</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
				<div class="d-flex py-4">
				    <div class="flex-fill pe-1"><input type="text" class="form-control" placeholder="輸入關鍵字"></div>
					<div><button type="submit" class="btn btn-success">搜尋</button></div>
				</div>
            </div>
        </div>
    </div>
</div>