<!-- VS-OAS: Step1 - 申請表  -->
<div class="container">
    <div class="step-bar">
        <ul>
            <li class="active">
                <span>
                    <span class="step">1</span>
                    <h4>申請表</h4>
                    <p class="text-grey">填寫線上申請表</p>
                </span>
            </li>
            <li>
                <span>
                    <span class="step">2</span>
                    <h4>服務申請</h4>
                    <p class="text-grey">申請各式服務</p>
                </span>
            </li>
            <li>
                <span>
                    <span class="step">3</span>
                    <h4>上傳</h4>
                    <p class="text-grey">上傳各項申請文件</p>
                </span>
            </li>
        </ul>
    </div>
    <div class="row">
		<div class="col">
            <main class="main-block">
                <p>* 號為必填欄位，請確實填寫</p>
                <hr />
                <h5 class="form-title mt-0">*申請人資料(必填)</h5>
                <div class="form-group">
                    <label>Full Name in English<span class="form-request">*</span></label>
                    <div class="form-row">
                        <div class="col">
                            <input class="form-control" placeholder="first" type="text">
                        </div>
                        <div class="col">
                            <input class="form-control" placeholder="middle name" type="text">
                        </div>
                        <div class="col">
                            <input class="form-control" placeholder="last/family" type="text">
                        </div>
                    </div>
                    <p class="form-text text-muted">must be the same as shown on your passport</p>
                </div>
                <div class="form-group">
                    <label>Full Name in Chinese</label>
                    <input class="form-control" placeholder="" type="text">
                </div>
                <div class="form-group">
                    <label>Gender<span class="form-request">*</span></label>
                    <div>
                        <div class="custom-control custom-radio custom-control-inline">
                            <input id="customRadioInline1" name="customRadioInline1" class="custom-control-input" type="radio">
                            <label class="custom-control-label" for="customRadioInline1">Male</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                            <input id="customRadioInline2" name="customRadioInline1" class="custom-control-input" type="radio">
                            <label class="custom-control-label" for="customRadioInline2">Female</label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label>Date of Birth<span class="form-request">*</span></label>
                    <div class="row">
                        <div class="col-md-4">
                            <select class="custom-select">
                                <option selected="">Y</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                            </select>
                        </div>
                        <div class="col-md-4">
                            <select class="custom-select">
                                <option selected="">M</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                            </select>
                        </div>
                        <div class="col-md-4">
                            <select class="custom-select">
                                <option selected="">D</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label>國籍<span class="form-request">*</span></label>
                    <select class="custom-select">
                        <option selected="">請選擇</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>護照號碼<span class="form-request">*</span></label>
                    <input class="form-control" placeholder="" type="text">
                </div>
                <div class="form-group">
                    <label>入臺證號碼<span class="form-request">*</span></label>
                    <input class="form-control" placeholder="" type="text">
                </div>
                <div class="form-group">
                    <label>Telephone<span class="form-request">*</span></label>
                    <div class="form-row">
                        <div class="col">
                            <input class="form-control" placeholder="+ Country Code" type="text">
                        </div>
                        <div class="col">
                            <input class="form-control" placeholder="Area Code" type="text">
                        </div>
                        <div class="col">
                            <input class="form-control" placeholder="Number" type="text">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label>Email</label>
                    <input class="form-control" placeholder="test@gmail.com" type="text" disabled>
                </div>
                
                
                <h5 class="form-title">原屬學校資料</h5>
                <div class="form-group">
                    <label>國家</label>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <select class="custom-select">
                                <option selected="">請選擇洲別</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                            </select>
                        </div>
                        <div class="col-md-6 mb-3">
                            <select class="custom-select">
                                <option selected="">請選擇國家</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label>學校名稱</label>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <select class="custom-select">
                                <option selected="">姊妹校選單</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                            </select>
                        </div>
                        <div class="col-md-6 mb-3">
                            <input class="form-control" placeholder="" type="text">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label>原屬系所單位</label>
                    <input class="form-control" placeholder="" type="text">
                </div>
                <div class="form-group">
                    <label>原屬學校職稱</label>
                    <input class="form-control" placeholder="" type="text">
                </div>
                
                
                <h5 class="form-title">訪問相關資料</h5>
                <div class="form-group">
                    <label>訪問日期</label>
                    <div class="row">
                        <div class="col-md-4 mb-3">
                            <input class="form-control" placeholder="" type="text">
                        </div>
                        <div class="mb-3">~</div>
                        <div class="col-md-4 mb-3">
                            <input class="form-control" placeholder="" type="text">
                        </div>
                        <div class="col-md-3 mb-3 text-danger">10 days</div>
                    </div>
                </div>
                <div class="form-group">
                    <label>訪問目的</label>
                    <input class="form-control" placeholder="" type="text">
                </div>
                
                
                <h5 class="form-title">臺大接待聯絡人</h5>
                <div class="form-group">
                    <label>接待單位<span class="form-request">*</span></label>
                    <select class="custom-select">
                        <option selected="">請選擇</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>接待教授姓名<span class="form-request">*</span></label>
                    <input class="form-control" placeholder="" type="text">
                </div>
                <div class="form-group">
                    <label>接待教授電子郵件<span class="form-request">*</span></label>
                    <input class="form-control" placeholder="" type="text">
                </div>
                <div class="text-center mt-4">
                    <button type="button" class="btn btn-lg btn-primary">Save</button>
                    <button type="button" class="btn btn-lg btn-light">Next</button>
                </div>
            </main>
        </div>
	</div>
</div>













































