<!-- VS-OAS: Step3 - 上傳文件  -->
<div class="container">
    <div class="step-bar">
        <ul>
            <li class="done">
                <span>
                    <span class="step"><i class="fa fa-check" aria-hidden="true"></i></span>
                    <h4>申請表</h4>
                    <p class="text-grey">填寫線上申請表</p>
                </span>
            </li>
            <li class="done">
                <span>
                    <span class="step"><i class="fa fa-check" aria-hidden="true"></i></span>
                    <h4>服務申請</h4>
                    <p class="text-grey">申請各式服務</p>
                </span>
            </li>
            <li class="active">
                <span>
                    <span class="step">3</span>
                    <h4>上傳</h4>
                    <p class="text-grey">上傳各項申請文件</p>
                </span>
            </li>
        </ul>
    </div>
    <div class="row">
		<div class="col">
            <main class="main-block">
                <p>請上傳下列各項文件，限制 PDF 格式，個別檔案請勿大於 5 MB</p>
                <hr />
                <h5 class="form-title mt-0">計畫相關文件</h5>
                <ul class="list-reset doc-list">
                    <li>
                        <h5>大頭照</h5>
                        <div>
                            <button type="button" class="btn btn-outline-info btn-sm">說明</button>
                            <button type="button" class="btn btn-sm btn-outline-dark">檢視</button>
                            <button type="button" class="btn btn-sm btn-outline-success" data-toggle="modal" data-target="#exampleModal">上傳照片</button>
                            <span class="date">上傳時間：2015/12/12 18:20</span>
                        </div>
                    </li>
                    <li>
                        <h5>大頭照</h5>
                        <div>
                            <button type="button" class="btn btn-outline-info btn-sm">說明</button>
                            <button type="button" class="btn btn-sm btn-outline-dark">檢視</button>
                            <button type="button" class="btn btn-sm btn-outline-success">修改</button>
                            <span class="date">上傳時間：2015/12/12 18:20</span>
                        </div>
                    </li>
                    <li>
                        <h5>文件 A</h5>
                        <div>
                            <button type="button" class="btn btn-outline-info btn-sm">說明</button>
                            <button type="button" class="btn btn-sm btn-outline-dark">檢視</button>
                            <button type="button" class="btn btn-sm btn-outline-success">修改</button>
                            <span class="date">上傳時間：2015/12/12 18:20</span>
                        </div>
                    </li>
                    <li>
                        <h5>文件 B</h5>
                        <div>
                            <button type="button" class="btn btn-outline-info btn-sm">說明</button>
                            <button type="button" class="btn btn-sm btn-outline-dark">檢視</button>
                            <button type="button" class="btn btn-sm btn-outline-success">修改</button>
                            <span class="date">上傳時間：2015/12/12 18:20</span>
                        </div>
                    </li>
                </ul>
                <div class="text-center mt-4">
                    <button type="button" class="btn btn-lg btn-light">Prev</button>
                    <button type="button" class="btn btn-lg btn-primary">Save</button>
                    <button type="button" class="btn btn-lg btn-success">Submit</button>
                </div>
            </main>
        </div>
	</div>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">照片上傳</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card-group mb-3">
                    <div class="card">
                        <img class="card-img-top" src="http://placekitten.com/200/200" alt="">
                        <div class="card-body">
                            <p class="text-center mb-0">範例照片</p>
                        </div>
                    </div>
                    <div class="card">
                        <img class="card-img-top" src="http://placekitten.com/g/200/200" alt="">
                        <div class="card-body">
                            <p class="text-center mb-0">照片預覽</p>
                        </div>
                    </div>
                </div>
                <ol>
                    <li>格式限制 JPG或PNG，檔案需小於 2 MB。</li>
                    <li>6個月之內拍攝。</li>
                    <li>對焦需清晰且鮮明，高品質，無墨跡或摺痕。</li>
                    <li>眼睛正視相機鏡頭拍攝，自然地顯現出皮膚的色。</li>
                </ol>
                <div class="custom-file">
                    <input type="file" class="custom-file-input" id="customFile">
                    <label class="custom-file-label" for="customFile">Choose file</label>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>












































