<!-- VS-OAS: 申請首頁  -->

<div class="container">
    <div class="row">
		<div class="col">
            <main>
                <h4 class="form-title mt-0">申請進度說明</h4>
                <p>請先填寫線上申請表，填寫完成後，請繼續完成其他項目。</p>
                <ul class="list-reset apply-list">
                    <li>
                        <h5>1. 申請表 <small>填寫線上申請表</small></h5>
                        <span class="status bg-danger">未完成</span>
                    </li>
                    <li>
                        <h5>2. 服務申請 <small>申請各式服務</small></h5>
                        <span class="status bg-success">完成</span>
                    </li>
                    <li>
                        <h5>3. 上傳繳交文件 <small>上傳各項申請文件</small></h5>
                        <span class="status bg-warning">補件</span>
                    </li>
                    <li>
                        <h5>4. 繳交費用 <small>繳交相關費用( 如有需要 )</small></h5>
                        <span class="status passed">審查通過</span>
                    </li>
                    <li>
                        <h5>5. Application result</h5>
                        <div class="caption">補件說明<%= lorem_sentences(5) %></div>
                        <span class="status bg-warning">Additional documents</span>
                    </li>
                </ul>
                <div class="text-center mt-4">
                    <button type="button" class="btn btn-lg btn-primary">開始填寫線上申請表</button>
                </div>
            </main>
        </div>
	</div>
</div>