<!-- VS-OAS: Step2 - 服務申請  -->
<div class="container">
    <div class="step-bar">
        <ul>
            <li class="done">
                <span>
                    <span class="step"><i class="fa fa-check" aria-hidden="true"></i></span>
                    <h4>申請表</h4>
                    <p class="text-grey">填寫線上申請表</p>
                </span>
            </li>
            <li class="active">
                <span>
                    <span class="step">2</span>
                    <h4>服務申請</h4>
                    <p class="text-grey">申請各式服務</p>
                </span>
            </li>
            <li>
                <span>
                    <span class="step">3</span>
                    <h4>上傳</h4>
                    <p class="text-grey">上傳各項申請文件</p>
                </span>
            </li>
        </ul>
    </div>
    <div class="row">
		<div class="col">
            <main class="main-block">
                <p>* 號為必填欄位，請確實填寫</p>
                <div class="card mb-5">
                    <div class="card-body">
                        <p class="mb-1">所有申請接機服務的訪問學者，請於抵臺2週前填寫完本表格。</p>
                        <p class="mb-1">接機服務時間為8:00 a.m. 至20:00 p.m.。</p>
                        <p class="mb-1">負責接機的本校禮賓學生將至機場與您會面，您需要自行支付機場至市區的交通費。</p>
                    </div>
                </div>
                
                
                <h5 class="form-title mt-0">接機服務</h5>
                <div class="form-group">
                    <label>接機服務<span class="form-request">*</span></label>
                    <div>
                        <div class="custom-control custom-radio custom-control-inline">
                            <input id="customRadioInline1" name="customRadioInline1" class="custom-control-input" type="radio">
                            <label class="custom-control-label" for="customRadioInline1">是( 請提供航班資訊 )</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                            <input id="customRadioInline2" name="customRadioInline1" class="custom-control-input" type="radio">
                            <label class="custom-control-label" for="customRadioInline2">否</label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label>航空公司</label>
                    <input class="form-control" placeholder="" type="text">
                </div>
                <div class="form-group">
                    <label>航班號碼</label>
                    <input class="form-control" placeholder="" type="text">
                </div>
                <div class="form-group">
                    <label>抵達時間與日期</label>
                    <input class="form-control" placeholder="" type="text">
                </div>
                <div class="form-group">
                    <label>抵達航廈</label>
                    <input class="form-control" placeholder="" type="text">
                </div>
                <div class="form-group">
                    <label>校園導覽</label>
                    <div>
                        <div class="custom-control custom-radio custom-control-inline">
                            <input id="customRadioInline1" name="customRadioInline3" class="custom-control-input" type="radio">
                            <label class="custom-control-label" for="customRadioInline3">是</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                            <input id="customRadioInline2" name="customRadioInline4" class="custom-control-input" type="radio">
                            <label class="custom-control-label" for="customRadioInline4">否</label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label>臺大識別證</label>
                    <div>
                        <div class="custom-control custom-radio custom-control-inline">
                            <input id="customRadioInline1" name="customRadioInline5" class="custom-control-input" type="radio">
                            <label class="custom-control-label" for="customRadioInline5">是</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                            <input id="customRadioInline2" name="customRadioInline6" class="custom-control-input" type="radio">
                            <label class="custom-control-label" for="customRadioInline6">否</label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label>開設銀行帳戶</label>
                    <div>
                        <div class="custom-control custom-radio custom-control-inline">
                            <input id="customRadioInline1" name="customRadioInline7" class="custom-control-input" type="radio">
                            <label class="custom-control-label" for="customRadioInline7">是</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                            <input id="customRadioInline2" name="customRadioInline8" class="custom-control-input" type="radio">
                            <label class="custom-control-label" for="customRadioInline8">否</label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label>生活基本用品採購</label>
                    <div>
                        <div class="custom-control custom-radio custom-control-inline">
                            <input id="customRadioInline1" name="customRadioInline9" class="custom-control-input" type="radio">
                            <label class="custom-control-label" for="customRadioInline9">是</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                            <input id="customRadioInline2" name="customRadioInline10" class="custom-control-input" type="radio">
                            <label class="custom-control-label" for="customRadioInline10">否</label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label>其他(請註明)</label>
                    <textarea class="form-control" rows="3"></textarea>
                </div>
                <div class="text-center mt-4">
                    <button type="button" class="btn btn-lg btn-light">Prev</button>
                    <button type="button" class="btn btn-lg btn-primary">Save</button>
                    <button type="button" class="btn btn-lg btn-light">Next</button>
                </div>
            </main>
        </div>
	</div>
</div>













































