<!-- VS-OAS: 申請說明  -->

<div class="container">
    <div class="row">
		<div class="col">
            <main class="main-block">
                <h4 class="form-title mt-0">訪問學者申請說明</h4>
                <p><%= lorem_sentences(5) %></p>
                <p><%= lorem_sentences(12) %></p>
                <p><%= lorem_sentences(8) %></p>
                <div class="text-center mt-4">
                    <button type="button" class="btn btn-lg btn-primary">我已閱讀說明內容</button>
                </div>
            </main>
        </div>
	</div>
</div>