<!-- CULROC_admin: Table / Toolbar -->
<%= render :partial => "/partials/admin_breadcrumb" %>
<main class="main">
    <div class="page-header">
        <h2>Toolbar</h2>
    </div>
    <div class="row">
        <div class="col-12">
			<div class="col-block">
				<div class="block-header has-border">
					<h5 class="mb-0">block title</h5>
				</div>
				<div class="block-content">
					<div class="content-toolbar">
						<div class="btn-group btn-group-sm has-border unshadow">
							<a class="btn btn-white" role="button"><i class="fa fa-plus"></i></a>
							<a class="btn btn-white" role="button"><i class="fa fa-square-o"></i></a>
							<a class="btn btn-white" role="button"><i class="fa fa-trash"></i></a>
						</div>
						<div class="d-inline-flex toolbar-search">
							<input class="form-control form-control-sm" type="text" placeholder="Search">
							<i class="fa fa-search"></i>
						</div>
						<div class="btn-group btn-group-sm has-border unshadow">
							<a class="btn btn-white" role="button"><i class="fa fa-refresh"></i></a>
							<a class="btn btn-white" role="button"><i class="fa fa-list"></i></a>
							<a class="btn btn-white" role="button"><i class="fa fa-cog"></i></a>
						</div>
					</div>
					<table class="table table-bordered mb-0">
						<thead class="grey lighten-4">
							<tr>
								<th scope="col">#</th>
								<th scope="col">First</th>
								<th scope="col">Last</th>
								<th scope="col">Handle</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<th scope="row">1</th>
								<td>Mark</td>
								<td>Otto</td>
								<td>@mdo</td>
							</tr>
							<tr>
								<th scope="row">2</th>
								<td>Jacob</td>
								<td>Thornton</td>
								<td>@fat</td>
							</tr>
							<% (1..6).map do |i| %>
							<tr>
								<th scope="row">3</th>
								<td>Larry</td>
								<td>the Bird</td>
								<td>@twitter</td>
							</tr>
							<% end %>
						</tbody>
					</table>
				</div>
			</div>
        </div>
    </div>
	
    <div class="row">
        <div class="col-12">
			<div class="col-block">
				<div class="block-header has-border">
					<div class="btn-group btn-group-sm has-border">
						<a class="btn btn-white" role="button"><i class="fa fa-plus"></i></a>
						<a class="btn btn-white" role="button"><i class="fa fa-square-o"></i></a>
						<a class="btn btn-white" role="button"><i class="fa fa-trash"></i></a>
					</div>
					<div class="d-inline-flex toolbar-search">
						<input class="form-control form-control-sm" type="text" placeholder="Search">
						<i class="fa fa-search"></i>
					</div>
					<div class="btn-group btn-group-sm has-border">
						<a class="btn btn-white" role="button"><i class="fa fa-refresh"></i></a>
						<a class="btn btn-white" role="button"><i class="fa fa-list"></i></a>
						<a class="btn btn-white" role="button"><i class="fa fa-cog"></i></a>
					</div>
				</div>
				<div class="block-content">
					<table class="table table-bordered mb-0">
						<thead class="grey lighten-4">
							<tr>
								<th scope="col">#</th>
								<th scope="col">First</th>
								<th scope="col">Last</th>
								<th scope="col">Handle</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<th scope="row">1</th>
								<td>Mark</td>
								<td>Otto</td>
								<td>@mdo</td>
							</tr>
							<tr>
								<th scope="row">2</th>
								<td>Jacob</td>
								<td>視力檢查中文測試</td>
								<td>@fat</td>
							</tr>
							<% (1..6).map do |i| %>
							<tr>
								<th scope="row">3</th>
								<td>Larry</td>
								<td>the Bird</td>
								<td>@twitter</td>
							</tr>
							<% end %>
						</tbody>
					</table>
				</div>
			</div>
        </div>
    </div>
</main>

<% content_for :js do %>
<script src="/javascripts/jquery.dataTables.js"></script>
<script src="/javascripts/dataTables-settings.js"></script>
<!-- <script src="/javascripts/dataTable-initialisation-with-select2.js"></script> -->
<script src="/javascripts/select2.js"></script>
<% end %>
