<div class="modal fade" id="uploadHistory" tabindex="-1" aria-labelledby="uploadHistoryLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="uploadHistoryLabel">歷史紀錄</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table class="table table-lg keep-all">
                        <thead>
                            <tr>
                                <th>上傳時間</th>
                                <th>檔案</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>2022/04/10 11:35</td>
                                <td><a href="#"><i class="fas fa-cloud-download-alt"></i> AngelaWinson_202204101135.pdf</a></td>
                            </tr>
                            <tr>
                                <td>2022/04/08 06:35</td>
                                <td><a href="#"><i class="fas fa-cloud-download-alt"></i> AngelaWinson_202204080635.pdf</a></td>
                            </tr>
                            <tr>
                                <td>2022/03/26 11:35</td>
                                <td><a href="#"><i class="fas fa-cloud-download-alt"></i> AngelaWinson_202203261135.pdf</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>