<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>Backend RWD</title>
<% if content_for? :replace_css %>
    <%= yield :replace_css %>
<% else %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" media="screen, projection, print" href="../stylesheets/bootstrap.min.css">
    <link rel="stylesheet" media="screen, projection, print" href="../stylesheets/mdb.min.css">
    <link rel="stylesheet" media="screen, projection, print" href="../stylesheets/backend.css">
<% end %>
<% if content_for? :page_styles %>
    <%= yield :page_styles %>
<% end %>
<script src="../javascripts/modernizr.custom.js"></script>
<% if content_for? :head_js %>
    <%= yield :head_js %>
<% end %>