<div>
    <h4 class="popover-heading">繳費狀態</h4>
    <div>
        <label><input type="checkbox"> <span class="label label-success">已繳費</span></label>
        <label><input type="checkbox"> <span class="label label-warning">未繳費</span></label>
        <label><input type="checkbox"> <span class="label label-default">已退票</span></label>
        <label><input type="checkbox"> <span class="label label-default">部份退票</span></label>
    </div>
</div>

<div>
    <h4 class="popover-heading">退款狀態</h4>
    <div>
        <label><input type="checkbox"> <span class="label label-danger">未退款</span></label>
        <label><input type="checkbox"> <span class="label label-primary">退款中</span></label>
        <label><input type="checkbox"> <span class="label label-info">已退款</span></label>
    </div>
</div>

<div>
    <h4 class="popover-heading">付款方式</h4>
    <div>
        <label><input type="checkbox"> 信用卡</label>
        <label><input type="checkbox"> Paypal</label>
        <label><input type="checkbox"> ATM</label>
        <label><input type="checkbox"> 全家代碼繳費</label>
        <label><input type="checkbox"> 全家購票</label>
        <label><input type="checkbox"> 現金</label>
    </div>
</div>

<div>
    <h4 class="popover-heading">退款處理單位</h4>
    <div>
        <label><input type="checkbox"> KKTIX</label>
        <label><input type="checkbox"> 主辦單位</label>
    </div>
</div>

<div>
    <h4 class="popover-heading">營運公司</h4>
    <div>
        <label><input type="checkbox"> KKBOX</label>
        <label><input type="checkbox"> WALKIE</label>
    </div>
</div>

<div>
    <h4 class="popover-heading">取票方式</h4>
    <div>
        <label><input type="checkbox"> QRCode</label>
        <label><input type="checkbox"> ibon</label>
        <label><input type="checkbox"> FamiPort</label>
        <label><input type="checkbox"> 郵寄</label>
        <label><input type="checkbox"> 現場</label>
        <label><input type="checkbox"> 端點</label>
    </div>
</div>

<div>
    <h4 class="popover-heading">金額</h4>
    <div>
        <input type="text" placeholder="最低" size="5">
        ~
        <input type="text" placeholder="最高" size="5">
    </div>
</div>

<div>
    <h4 class="popover-heading">票數</h4>
    <div>
        <input type="text" placeholder="最低" size="5">
        ~
        <input type="text" placeholder="最高" size="5">
    </div>
</div>

<div>
    <h4 class="popover-heading">報名日期</h4>
    <div>
        <input type="text" class="date datepicker" size="10" placeholder="起">
        ~
        <input type="text" class="date datepicker" size="10" placeholder="迄">
    </div>
</div>

<div>
    <h4 class="popover-heading">付款日期</h4>
    <div>
        <input type="text" class="date datepicker" size="10" placeholder="起">
        ~
        <input type="text" class="date datepicker" size="10" placeholder="迄">
    </div>
</div>
