<footer class="footer">
	<div class="container">
        <div class="footer-inner">
            <div class="footer-right">
                <ul class="ft-link menu-item">
                    <li><a href="#" title="隱私權保護聲明">隱私權保護聲明</a></li>
                    <li><a href="#" title="網站安全政策宣示">網站安全政策宣示</a></li>
                </ul>
            </div>
            <div class="footer-left">
                <p>10055台北市徐州路五號三、十五、十六、十七樓</p>
                <p>3,15-17F., No.5, Xuzhou Rd., Zhongzheng Dist., Taipei City 10055, Taiwan (R.O.C.)</p>
                <p>為民服務專線: 886-2-2327-2600（週一至週五 08:30~17:30）‧Fax : 886-2-2356-6354‧  意見信箱</p>
                <address>Copyright © 中華民國僑務委員會‧Overseas Community Affairs Council, Republic of China (Taiwan)</address>
            </div>
			<a href="#" title="無障礙網站(開新視窗)" class="accessibility" target="_blank">
                <img src="../assets/Freego20A.jpg" alt="網站無障礙規範2.0版A級標章">
            </a>
        </div>
	</div>
</footer>
