<header class="header">
    <div class="container">
        <a class="btn btn-link button-collapse" data-activates="slide-out">
            <span class="hamburger">
                <span class="line"></span>
                <span class="line"></span>
                <span class="line"></span>
            </span>
		</a>
		<h1>NTHU 電子表單簽核系統</h1>
    </div>
    <div id="slide-out" class="sidenav">
		<h5>史佳麗韓喬森</h5>
		<h6>行政秘書政風管理室</h6>
        <ul class="menu-item">
            <li><a href="#">職務切換</a></li>
			<li><a href="#">切換網頁版</a></li>
			<li><a href="#">登出</a></li>
        </ul>
    </div>
</header>