<!-- NCCU-Menu: 院系單位索引  -->

<body class="workbench-layout">
<div class="pages">
	<div class="h1-logo">
	    <img src="../assets/nccu-logo-w.svg" />
	</div>
    <div class="workbench-container">
        <div class="workbench-account">
            <div class="account">
                <span>您好, 史嘉蕾</span>
                <a href="#" class="logout">登出</a>
                <a href="#" class="btn btn-info">切換身份</a>
            </div>
        </div>
        <div class="workbench-wrap">
			<!--h2 class="font-weight-bold mb-5">單位名稱</h2-->
            <ul class="workbench-menu">
                <li class="admission-item">
				    <div class="admission-card">
					    <div class="flag">
						    <span>01</span>
						</div>
						<div class="card-bd">
						    <h3 class="system-title">國際會議</h3>
							<div class="description">
							    <p>請進入此系統登錄貴單位主辦之國際會議</p>
							</div>
							<div class="card-ft">
							    <a href="#" class="btn waves-effect">進入系統</a>
							</div>
						</div>
					</div>
				</li>
				<li class="admission-item">
				    <div class="admission-card">
					    <div class="flag">
						    <span>02</span>
						</div>
						<div class="card-bd">
						    <h3 class="system-title">境外訪賓</h3>
							<div class="description">
							    <p>請進入此系統登錄貴單位主辦之國際會議</p>
							</div>
							<div class="card-ft">
								<p class="message">貴單位尚有 36 訪賓紀錄需填寫</p>
							    <a href="#" class="btn waves-effect">進入系統</a>
								<a href="#" class="btn waves-effect">開始填寫資料</a>
							</div>
						</div>
					</div>
				</li>
            </ul>
        </div>
    </div>
	<span class="nccu-copyright">照片來源-達賢圖書館攝影比賽作品</span>
</div>

<script src="../javascripts/jquery-3.4.1.min.js"></script>
<script src="../javascripts/parallax.min.js"></script>
<script src="../javascripts/popper.min.js"></script>
<script src="../javascripts/bootstrap.min.js"></script>
<script src="../javascripts/mdb.min.js"></script>

<script>
    // run parallax when everything has loaded
    $(window).on('load', function(){
        // define parallax dependencies
        var scene = document.getElementById('scene4');
        var images = $('.layer');
        var p = new Parallax(scene4);

        //fade in the view
        $('#scene4').fadeIn(1800);
    });
</script>

</body>