/* `Footer
-----------------------------------------------------------------------------*/

.page-wrapper {
	min-height: calc(100vh - 248px);
}

footer.footer {
	background: $main_color;
	border-top: 2rem solid #1fb8aa;
	height: 248px;
	font-size: .9375rem;
	.footer-inner {
		display: flex;
		justify-content: space-between;
		flex-direction: row-reverse;
        padding: 3rem 0;
		position: relative;
	}
	.footer-left {
		p {
			margin-bottom: 0;
			color: #caefeb;
		}
		address {
			margin-top: 1rem;
			color: #caefeb;
		}
	}
	.footer-right { text-align: right; }
	.accessibility {
		width: 120px;
		position: absolute;
		right: 0;
		top: 5.75rem;
		img {
			width: 120px;
			height: auto;
		}
	}
	.ft-link {
		margin-bottom: 1rem;
		li {
			display: inline-block;
			margin-left: .75rem;
			padding-left: .75rem;
			position: relative;
			&:before {
				content: "";
				background: rgba(#fff, .2);
				width: 1px;
				height: 14px;
				position: absolute;
				left: 0;
				top: .25rem;
			}
			&:first-child:before { content: none; }
		}
		a {
			color: #fff;
			&:hover {
				color: #ffd908;
			}
		}
	}
}


/* `Registration Footer
-----------------------------------------------------------------------------*/

footer.registration_footer {
	font-size: .9375rem;
	.footer-inner {
		display: flex;
		justify-content: space-between;
		flex-direction: row-reverse;
        border-top: 1px solid $base_border_color;
        //margin-top: 3rem;
        padding: 3rem 0;
		position: relative;
	}
	.footer-left {
		p {
			margin-bottom: 0;
			color: #747d7c;
		}
		address {
			margin-top: 1rem;
			color: #a3a7a6;
		}
	}
	.footer-right { text-align: right; }
	.accessibility {
		width: 120px;
		position: absolute;
		right: 0;
		top: 5.75rem;
		img {
			width: 120px;
			height: auto;
		}
	}
	.ft-link {
		margin-bottom: 1rem;
		li {
			display: inline-block;
			margin-left: .75rem;
			padding-left: .75rem;
			position: relative;
			&:before {
				content: "";
				background: #eee;
				width: 1px;
				height: 14px;
				position: absolute;
				left: 0;
				top: .25rem;
			}
			&:first-child:before { content: none; }
		}
	}
}

/* `Responsive
-----------------------------------------------------------------------------*/

@media (max-width: 991px) {
	.page-wrapper { min-height: auto; }
	footer.footer,
	footer.registration_footer {
		height: auto;
		.footer-inner {
			display: block;
		}
		.accessibility { position: static; }
		.footer-right { text-align: left; }
		.ft-link {
			li {
                margin: 0 .75rem 0 0;
                padding: 0 .75rem 0 0;
				&:before { left: -12px; }
			}
		}
	}
}
















