<!-- template: 首頁 -->

<div class="container-lg">
	<div class="page-content d-block">
        
	    <div class="status-wrapper">
            
            <!-- 只有一筆完成認定時拿掉 status-warning，status-checked 會自動長大 -->
            <div class="item-status status-warning">
                <div class="item-hd">
                    <span class="label">前輪次應執行期間</span>
                    <h5>2024/10/12 至 2024/12/31（第三輪）</h5>
                </div>
                
                <div class="item-bd">
                    <h5>尚未完成認定</h5>
                    <div class="status-info">
                        <span>目前累計日數：365 天</span>
                        <span>剩餘 365 天到期</span>
                    </div>
                </div>
            </div>
            
            <div class="item-status status-checked">
                <div class="item-hd">
                    <span class="label">執行起始期間</span>
                    <h5>2024/10/12 至 2024/12/31（第三輪）</h5>
                </div>
                
                <div class="item-bd">
                    <h5>已完成認定</h5>
                    <div class="status-info">
                        <span>下輪次執行期間：</span>
                        <span>2024/10/20 至 2024/12/31</span>
                    </div>
                </div>
            </div>
            
        </div>
        
        <div class="main-nav">
            <ul class="menu-item">
                <li>
                    <a href="#" class="main-link">
                        <img src="../assets/folder.png">
                        <span>申請深耕服務/深度研習</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="main-link">
                        <img src="../assets/matchmaker.png">
                        <span>DIAC 產學研媒合平台</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="main-link">
                        <img src="../assets/grades.png">
                        <span>申請成果認定</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="main-link">
                        <img src="../assets/history.png">
                        <span>歷史認證情形</span>
                    </a>
                </li>
            </ul>
        </div>
        
        <section class="news-wrap">
            <ul class="news-menu menu-item">
                <li class="pin">
                    <span class="date">2024-09-30</span>
                    <a href="#">113學年度第1學期教師授課時數確認第2次公告</a>
                </li>
                <li class="pin">
                    <span class="date">2024-09-29</span>
                    <a href="#">助園區廠商培育優質科技產業人才虎科大參與中科人才培育計畫 </a>
                </li>
                <li>
                    <span class="date">2024-09-28</span>
                    <a href="#">國立彰化師範大學教師教學知能成長講座</a>
                </li>
                <li>
                    <span class="date">2024-09-27</span>
                    <a href="#">數理教學中心誠徵物理兼任教學助理</a>
                </li>
                <li>
                    <span class="date">2024-09-26</span>
                    <a href="#">國立高雄科技大學開設6門磨課師(MOOCs)線上課程</a>
                </li>
                <li>
                    <span class="date">2024-09-25</span>
                    <a href="#">積體電路設計暨智慧晶片系統創新 虎科大奪特優獎</a>
                </li>
            </ul>
            <div class="more-area">
                <a href="#" class="btn-more">更多</a>
            </div>
        </section>
        
	</div>
</div>



<% content_for :js do %>

<% end %>

