<!-- template: 申請深耕服務/深度研習 入口 -->

<div class="container-lg">
    <%= render :partial => "/partials/breadcrumb" %>
    
	<div class="page-content d-block">
        
        <div class="page-title">
            <h3>申請深耕服務/深度研習</h3>
        </div>
        
        <div class="portal-wrapper">
            <a href="#">
                <img class="h1-logo" src="../assets/linear_support.svg">
                <span>深耕服務</span>
            </a>
            <a href="#">
                <img class="h1-logo" src="../assets/linear_round-bottom-flask.svg">
                <span>深度實務研習</span>
            </a>
        </div>
        
	</div>
</div>


<% content_for :js do %>


<% end %>










