<!-- NKUST: 變更密碼 -->

<main class="main">
	<div class="container">
        <div class="login-wrapper">
            <form class="text-center">
                <div class="warpper-title">忘記密碼</div>
				<p class="text-center">系統寄送一封重設密碼連節到您的 Email 信箱</p>
                <div class="md-form">
                    <input type="email" id="materialLoginFormEmail" class="form-control" value="test@gmail.com" disabled>
                </div>
                <div class="md-form">
                    <input type="text" class="form-control" id="changePassword" placeholder="請輸入 6 - 12 個由數字或英文字母">
					<label for="changePassword">新密碼</label>
                </div>
                <div class="md-form">
                    <input type="text" class="form-control" id="changePassword2" placeholder="請再次輸入密碼確認">
					<label for="changePassword2">新密碼確認</label>
                </div>
                <div class="text-center pt-4 pb-3">
                    <button class="btn btn-outline-primary btn-rounded my-4 waves-effect z-depth-0" type="submit">確定</button>
					<button type="button" class="btn btn-link" title="取消">取消</a>
                </div>
            </form>
        </div>
	</div>
</main>



<% content_for :js do %>

<% end %>
