<!-- NKUST: 忘記密碼 & 重新寄送驗證信 -->

<main class="main">
	<div class="container">
        <div class="login-wrapper">
            <form class="text-center">
                <div class="warpper-title">忘記密碼</div>
				<p class="text-center">系統寄送一封重設密碼連節到您的 Email 信箱</p>
                <div class="md-form">
                    <input type="email" id="materialLoginFormEmail" class="form-control">
                    <label for="materialLoginFormEmail">請輸入信箱</label>
                </div>
                <div class="form-inline">
                    <div class="md-form m-0">
                        <input type="text" id="CAPTCHA" class="form-control">
                        <label for="CAPTCHA">驗證碼</label>
                    </div>
                    <span class="input-group-addon verification">
                        <img class="captcha" src="http://nfu-map.dev.com.tw/common/captcha.image">
                        <button class="btn btn-xs btn-secondary mx-0" type="button"><i class="fa fa-refresh"></i></button>
                    </span>
                </div>
                <div class="text-center pt-4 pb-3">
                    <button class="btn btn-outline-primary btn-rounded my-4 waves-effect z-depth-0" type="submit">寄送重置密碼信件</button>
                </div>
                <p><a href="#" class="btn btn-link" title="返回登入">返回登入</a></p>
            </form>
        </div>
	</div>
</main>



<% content_for :js do %>

<% end %>
