<!-- NKUST: 註冊 -->

<main class="main">
	<div class="container">
		<div class="login-wrapper">
            <form>
				<div class="warpper-title">註冊</div>
				<p class="text-center">使用您常用的 email 註冊帳號，請避免使用免費信箱。</p>
				<div class="form-group">
                    <label for="registerEmail">電子郵件</label>
                    <input type="text" class="form-control" id="registerEmail">
                </div>
                <div class="form-group">
                    <label for="registerPassword">請輸入密碼</label>
                    <input type="text" class="form-control" id="registerPassword">
                </div>
                <div class="form-group">
                    <label for="registerPassword2">請再次輸入密碼</label>
                    <input type="text" class="form-control" id="registerPassword2">
                </div>
                <div class="form-group">
					<label for="CAPTCHA">驗證碼</label>
					<div class="form-inline">
                        <input type="text" id="CAPTCHA" class="form-control">
                        <span class="input-group-addon verification ml-2">
                            <img class="captcha" src="http://nfu-map.dev.com.tw/common/captcha.image">
                            <button class="btn btn-xs btn-secondary mx-0" type="button"><i class="fa fa-refresh"></i></button>
                        </span>
					</div>
                </div>
				<div class="form-action">
					<button class="btn btn-outline-primary btn-rounded my-4 waves-effect z-depth-0" type="submit">註冊</button>
					<p><a href="#" class="btn btn-link" title="重新寄送驗證信">重新寄送驗證信</a></p>
                </div>
            </form>
		</div>
    </div>
</main>



<% content_for :js do %>

<% end %>
