@charset "UTF-8";
/* `青年署青年生涯領航計畫
-----------------------------------------------------------------------------*/
.consult-container {
  display: flex;
  gap: 4rem;
}
.consult-container .consult-main {
  width: 960px;
}
.consult-container .consult-operate {
  flex-grow: 1;
  max-width: 800px;
}
.consult-container .consult-operate .form-group {
  margin-bottom: 1.5rem !important;
}
.consult-container .section-consult {
  margin-bottom: 4rem;
}
.consult-container .section-consult .section-consult-title {
  margin-bottom: calc(1rem + 1vw);
  font-weight: 700;
  color: #262535;
  line-height: 1;
}
.consult-container .section-consult .form-label {
  font-size: 1.125rem;
  font-weight: 700;
}
.consult-container .section-consult .form-group {
  margin-bottom: calc(1.25rem + 1vw);
}
.consult-container .check-min-height {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  min-height: 48px;
}
.consult-container .consult-other-input input {
  width: 208px;
}
.consult-container .textarea-group {
  border-radius: .5rem;
  border: 1px solid #d1e1dd;
  margin-bottom: 1rem;
}
.consult-container .textarea-group .group-head {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #d1e1dd;
}
.consult-container .textarea-group .group-serial {
  padding: 0 1rem;
  font-size: 1.375rem;
  font-weight: 700;
  line-height: 1;
}
.consult-container .textarea-group .group-cancel {
  margin-left: auto;
}
.consult-container .textarea-group .form-select {
  border-radius: 0;
  border: none;
  border-left: 1px solid #d1e1dd;
  border-right: 1px solid #d1e1dd;
}
.consult-container .textarea-group textarea.form-control {
  border: none;
  border-radius: 0 0 .5rem .5rem;
  padding: 1rem;
  min-height: 120px;
}
.consult-container .option-wrap {
  background: #f3f3f3;
  border-radius: .75rem;
  margin-bottom: 1.5rem;
  padding: 1rem;
}
.consult-container .date-wrap {
  display: flex;
  justify-content: space-between;
  gap: 4rem;
  margin-bottom: calc(1.25rem + 1vw);
}
.consult-container .date-list {
  width: calc(50% - 2rem);
}
.consult-container .date-list li {
  display: flex;
  gap: 2rem;
  border-bottom: 1px dashed #c4dada;
  padding: .75rem 0;
}
.consult-container .date-list li:last-child {
  border-bottom: none;
}
.consult-container .date-list .date-label {
  font-weight: 500;
}
.consult-container .form-check-input {
  border-color: #b7c8c2;
}

/* `Sidebar Menu Override
-----------------------------------------------------------------------------*/
.sidebar {
  background: #fff;
  color: #888;
}
.sidebar .sidebar__header {
  background-color: transparent;
}
.sidebar li.title {
  opacity: 1;
}
.sidebar .menu a {
  color: #000;
}
.sidebar .has-sub ul {
  background-color: #f5f5f5;
}
.sidebar .nav-brief {
  color: #352f96;
}

/* `執行階段文件審查
-----------------------------------------------------------------------------*/
.file-review-content {
  padding: 2rem 1.25rem !important;
}
.file-review-content .reason-input {
  display: none;
}
.file-review-content .reason-check-input:has(:checked) + .reason-input {
  display: block;
}

/* `問卷設定
-----------------------------------------------------------------------------*/
.survey-container {
  display: flex;
  gap: calc(2rem + 1vw);
  max-width: 1920px;
  padding-bottom: 6rem;
}
.survey-container .container-start {
  width: 35%;
}
.survey-container .container-end {
  flex-grow: 1;
}
.survey-container .form-action {
  border-top: 1px solid #ddd;
  margin-top: 3rem;
  padding-top: 3rem;
  text-align: center;
}

.form-switch-lg {
  padding-left: 3em;
}
.form-switch-lg .form-check-input {
  width: 2.5em;
  height: 1.25rem;
  margin-left: -3em;
}
.form-switch-lg .form-check-label {
  padding-top: .25rem;
  font-size: 1rem;
}

.questionnaire-group {
  border-radius: .25rem;
  border: 1px dashed #666;
  background: #fff;
  margin-bottom: 1rem;
  overflow: hidden;
}
.questionnaire-group .group-hd {
  display: flex;
  gap: 1px;
  background: #c3c7cc;
  border-bottom: 1px dashed #ddd;
}
.questionnaire-group .hd-start {
  flex-grow: 1;
}
.questionnaire-group .hd-start .form-control {
  border: none;
  border-radius: 0;
  padding: .375rem 1.25rem;
}
.questionnaire-group .hd-end {
  display: flex;
  gap: 1px;
}
.questionnaire-group .hd-end .btn {
  border-radius: 0;
  border: none;
  padding: 0;
  width: 48px;
  height: 48px;
  line-height: 48px;
  font-size: .75rem;
}
.questionnaire-group .hd-end .btn-delete {
  background: #fff;
  color: #999;
}
.questionnaire-group .hd-end .btn-delete:hover, .questionnaire-group .hd-end .btn-delete:focus {
  background: #ecedee;
  color: #e22d2d;
}
.questionnaire-group .questionnaire-group-bd {
  padding: 1.25rem;
  min-height: 6rem;
  position: relative;
}
.questionnaire-group .questionnaire-group-bd::after {
  content: "請按右下角按鈕開始新增題目";
  color: #aaa;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.questionnaire-group .questionnaire-group-bd.has-items::after {
  display: none;
}
.questionnaire-group .group-ft {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  border-top: 1px dashed #ddd;
  padding: 1.25rem;
  text-align: end;
}
.questionnaire-group .item-question {
  display: flex;
  border-radius: .25rem;
  background: #f9f9f9;
  margin-bottom: .75rem;
}
.questionnaire-group .item-question:last-child {
  margin-bottom: 0;
}
.questionnaire-group .item-question.is-dragging {
  opacity: 0.4;
}
.questionnaire-group .item-question .drag-area {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 64px;
  font-size: .75rem;
  color: #999;
  cursor: grab;
  transition: all 0.15s ease-in-out;
}
.questionnaire-group .item-question .drag-area:hover {
  color: #111;
}
.questionnaire-group .item-question .drag-area:active {
  cursor: grabbing;
}
.questionnaire-group .item-question .item-bd {
  flex-grow: 1;
  padding: 1rem;
}
.questionnaire-group .item-question .item-action {
  display: flex;
  align-items: center;
  padding: 1rem;
}

.questionnaire-modal .modal-body {
  padding: 1.5rem 1rem;
}
.questionnaire-modal .form-group {
  margin-bottom: 1.5rem;
}

.generate-stage {
  border-radius: .375rem;
  border: 1px dashed #ccc;
  background-color: #f9f9f9;
  margin-top: .5rem;
  padding: 1.5rem;
}
.generate-stage .item-check .btn {
  font-size: .875rem;
}
.generate-stage .item-check + .item-check {
  margin-top: .5rem;
}
.generate-stage .item-type-inline {
  display: flex;
  flex-wrap: wrap;
  gap: .5rem;
}
.generate-stage .item-type-inline .item-check {
  margin: 0 !important;
  width: calc(33.33333% - 0.375rem);
}

/*# sourceMappingURL=ycnp.css.map */
