<!-- OIA-ES: 登入 - 首次申請首頁  -->

<div class="container">
    <div class="row">
		<div class="col">
            <main class="main-block">
                <h4 class="form-title mt-0">第一次進行申請首頁入口說明標題</h4>
                <p><%= lorem_sentences(5) %></p>
                <p><%= lorem_sentences(12) %></p>
                <p><%= lorem_sentences(8) %></p>
                <div class="text-center mt-4">
                    <button type="button" class="btn btn-lg btn-primary">前往申請</button>
                </div>
            </main>
        </div>
	</div>
</div>