<!-- OIA-ES: 登入 - 註冊成功  -->

<div class="container">
    <div class="row">
		<div class="col">
            <div class="alert alert-warning" role="alert">
                這是給忘記密碼那邊用的 alert
            </div>
            <main class="main-block">
                <h4 class="form-title text-success mt-0">註冊成功！</h4>
                <p><%= lorem_sentences(1) %></p>
                <div class="mt-4">
                    <span>沒收到認證信？</span>
                    <button type="button" class="btn btn-sm btn-light">重新寄送</button>
                </div>
            </main>
        </div>
	</div>
</div>