<!-- admin-page: 藥害救濟基金會 - 案件提醒時效_承辦人 -->
<%= render :partial => "/partials/admin_breadcrumb" %>

<main class="main">
	
    <div class="page-header">
        <h2>案件提醒時效</h2>
    </div>
	
    <div class="case-remind-group">
		<ul class="menu-item">
			<li>
                <a href="#" class="remind-btn">
                    <h5>健保就醫紀錄調閱</h5>
                    <p>就醫紀錄調閱完成日 > 14日</p>
                    <span class="badge badge-pill">99件</span>
                </a>
			</li>
			<li>
                <a href="#" class="remind-btn">
                    <h5>病歷調閱發文日</h5>
                    <p>病歷調閱完成日 > 21日</p>
                    <span class="badge badge-pill">8件</span>
                </a>
			</li>
			<li>
                <a href="#" class="remind-btn">
                    <h5>病歷調閱完成日</h5>
                    <p>案件病歷摘要調查完成日 > 25日</p>
                    <span class="badge badge-pill">26件</span>
                </a>
			</li>
			<li>
                <a href="#" class="remind-btn">
                    <h5>未調閱完成案件</h5>
                    <span class="badge badge-pill">6件</span>
                </a>
			</li>
			<li>
                <a href="#" class="remind-btn">
                    <h5>未調查完成案件</h5>
                    <span class="badge badge-pill">38件</span>
                </a>
			</li>
			<li>
                <a href="#" class="remind-btn">
                    <h5>調閱資料未回覆機構</h5>
                    <span class="badge badge-pill">2件</span>
                </a>
			</li>
			<li class="current">
                <a href="#" class="remind-btn">
                    <h5>初審審查送件日</h5>
                    <p>完成審查日 > 30日</p>
                    <span class="badge badge-pill">177件</span>
                </a>
			</li>
			<li>
                <a href="#" class="remind-btn">
                    <h5>初審未完成案件</h5>
                    <span class="badge badge-pill">0件</span>
                </a>
			</li>
			<li>
                <a href="#" class="remind-btn">
                    <h5>延審/自付額發文日</h5>
                    <p>院所/單位回文日 > 7日</p>
                    <span class="badge badge-pill">999件</span>
                </a>
			</li>
			<li>
                <a href="#" class="remind-btn">
                    <h5>已審議，尚未核定結果案件</h5>
                    <span class="badge badge-pill">999件</span>
                </a>
			</li>
			<li>
                <a href="#" class="remind-btn">
                    <h5>未結案案件</h5>
                </a>
			</li>
		</ul>
    </div>
	
    <div class="col-block">
	    <div class="block-content expansion">
            <table class="table table-bordered table-vertical-center">
                <thead>
                    <tr>
						<th class="text-center">#</th>
                        <th>案例編號</th>
                        <th>承辦人</th>
                        <th>案件收件日</th>
						<th>案件受理通知發文日</th>
						<th class="text-center">天數</th>
                        <th>編輯</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="text-center">1</td>
                        <td>987654321</td>
                        <td>王聰明, 李明璁 (停用)</td>
						<td>2021-11-31</td>
						<td>2021-12-31</td>
						<td class="text-center">31</td>
						<td><button type="button" class="btn btn-sm-edit btn-primary"><i class="fa fa-pencil mr-0"></i></button></td>
                    </tr>
					<tr>
                        <td class="text-center">2</td>
                        <td>987654321</td>
                        <td>陳曉明</td>
						<td>2021-11-31</td>
						<td>2021-12-31</td>
						<td class="text-center">5</td>
						<td><button type="button" class="btn btn-sm-edit btn-primary"><i class="fa fa-pencil mr-0"></i></button></td>
                    </tr>
					<tr>
                        <td class="text-center">3</td>
                        <td>123456789</td>
                        <td>林森森</td>
						<td>2021-11-31</td>
						<td>2021-12-31</td>
						<td class="text-center">5</td>
						<td><button type="button" class="btn btn-sm-edit btn-primary"><i class="fa fa-pencil mr-0"></i></button></td>
                    </tr>
                </tbody>
            </table>
		</div>
	</div>
</main>