<!-- admin-page: 藥害救濟基金會 - 案件登錄 -->
<%= render :partial => "/partials/admin_breadcrumb" %>

<main class="main">
	
    <div class="page-header">
        <h2>案件登錄</h2>
    </div>

	<div class="group-lg">
        <div class="col-block">
            <div class="block-header flex-head has-border">
                <h3 class="record-title">收件資訊</h3>
                <button class="btn btn-showhide" type="button" title="展開"><i class="fa fa-chevron-down"></i></button>
                <button class="btn btn-showhide hide" type="button" title="收合"><i class="fa fa-chevron-down"></i></button>
            </div>
            <div class="block-content">
				<table class="table table-bordered table-vertical-center form-table">
				    <tbody>
					    <tr>
						    <td class="lable-th">
							    <label for="example_01"><span class="required">*</span>案例編號</label>
							</td>
							<td class="form-td">
							    <input type="text" id="example_01" class="form-control" value="儲存後系統自動賦予最大號+1" disabled>
							</td>
							<td class="lable-th">
							    <label><span class="required">*</span>申請日期</label>
							</td>
							<td class="form-td">
                                <div class="date-row">
                                    <div class="date-col">
                                        <select class="browser-default custom-select">
                                            <option selected>年</option>
                                            <option value="1">One</option>
                                            <option value="2">Two</option>
                                            <option value="3">Three</option>
                                        </select>
                                    </div>
                                    <div class="date-col">
                                        <select class="browser-default custom-select">
                                            <option selected>月</option>
                                            <option value="1">One</option>
                                            <option value="2">Two</option>
                                            <option value="3">Three</option>
                                        </select>
                                    </div>
                                    <div class="date-col">
                                        <select class="browser-default custom-select">
                                            <option selected>日</option>
                                            <option value="1">One</option>
                                            <option value="2">Two</option>
                                            <option value="3">Three</option>
                                        </select>
                                    </div>
                                    <div class="date-col-sm">
                                        <button class="btn btn-block btn-custom" type="button">今日</button>
                                    </div>
                                </div>
							</td>
						</tr>
						<tr>
						    <td class="lable-th">
							    <label>收件日期</label>
							</td>
							<td class="form-td">
                                <div class="date-row">
                                    <div class="date-col">
                                        <select class="browser-default custom-select">
                                            <option selected>年</option>
                                            <option value="1">One</option>
                                            <option value="2">Two</option>
                                            <option value="3">Three</option>
                                        </select>
                                    </div>
                                    <div class="date-col">
                                        <select class="browser-default custom-select">
                                            <option selected>月</option>
                                            <option value="1">One</option>
                                            <option value="2">Two</option>
                                            <option value="3">Three</option>
                                        </select>
                                    </div>
                                    <div class="date-col">
                                        <select class="browser-default custom-select">
                                            <option selected>日</option>
                                            <option value="1">One</option>
                                            <option value="2">Two</option>
                                            <option value="3">Three</option>
                                        </select>
                                    </div>
                                    <div class="date-col-sm">
                                        <button class="btn btn-block btn-custom" type="button">今日</button>
                                    </div>
                                </div>
							</td>
							<td class="lable-th">
							    <label for="example_02">收文號</label>
							</td>
							<td class="form-td">
							    <input type="text" id="example_02" class="form-control">
							</td>
						</tr>
						<tr>
						    <td class="lable-th"><label>檢核承辦人</label></td>
							<td class="form-td">
                                <select class="browser-default custom-select">
                                    <option selected>請選擇</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
							</td>
							<td class="lable-th"><label for="example_03">選民服務註記</label></td>
							<td class="form-td"><input type="text" id="example_03" class="form-control"></td>
						</tr>
						<tr>
						    <td class="lable-th"><label for="example_04">顯示備註</label></td>
							<td colspan="3" class="form-td"><input type="text" id="example_04" class="form-control"></td>
						</tr>
					</tbody>
				</table>
            </div>
        </div>
		
		<div class="col-block">
            <div class="block-header flex-head has-border">
                <h3 class="record-title">申請資訊</h3>
                <button class="btn btn-showhide" type="button" title="展開"><i class="fa fa-chevron-down"></i></button>
            </div>
            <div class="block-content">
				<table class="table table-bordered table-vertical-center form-table">
				    <tbody>
					    <tr>
						    <td class="lable-th">
								<label>申請類別</label>
							</td>
							<td class="form-td">
                                <div class="d-flex">
                                    <div>
                                        <div class="custom-control custom-radio custom-control-inline">
                                            <input type="radio" class="custom-control-input" id="defaultradio01" name="exampleRadios_01">
                                            <label class="custom-control-label" for="defaultradio01">嚴重疾病</label>
                                        </div>
                                        <div class="custom-control custom-radio custom-control-inline">
                                            <input type="radio" class="custom-control-input" id="defaultradio02" name="exampleRadios_01">
                                            <label class="custom-control-label" for="defaultradio02">障礙</label>
                                        </div>
                                        <div class="custom-control custom-radio custom-control-inline">
                                            <input type="radio" class="custom-control-input" id="defaultradio03" name="exampleRadios_01">
                                            <label class="custom-control-label" for="defaultradio03">死亡</label>
                                        </div>
                                    </div>
                                    <div class="ml-4">
                                        <span class="badge badg-lg badge-secondary">審議後最終申請類別：嚴重疾病</span>
                                    </div>
                                </div>
							</td>
							<td class="lable-th">
							    <label>申請資訊來源</label>
							</td>
							<td class="form-td">
                                <div class="form-row">
                                    <div class="col">
                                        <select class="browser-default custom-select">
                                            <option selected>請選擇</option>
                                            <option value="1">醫院設施</option>
                                            <option value="2">醫藥人員</option>
                                            <option value="3">Three</option>
                                        </select>
                                    </div>
                                    <div class="col">
                                        <select class="browser-default custom-select">
                                            <option selected>請選擇</option>
                                            <option value="1">其他醫療專業人員</option>
                                            <option value="2">電視(廣告/專訪/新聞/跑馬燈)</option>
                                            <option value="3">網路 (本會網站/其他網路資源)</option>
                                        </select>
                                    </div>
                                </div>
							</td>
						</tr>
						<tr>
						    <td class="lable-th">
							    <label>申請資訊來源</label>
							</td>
							<td class="form-td">
							    <div class="form-row">
								    <div class="col">
                                        <select class="browser-default custom-select">
                                            <option selected>請選擇</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                        </select>
                                    </div>
									<div class="col">
                                        <select class="browser-default custom-select">
                                            <option selected>請選擇</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                        </select>
                                    </div>
								</div>
							</td>
						</tr>
						<tr>
						    <td class="lable-th">
							    <label for="example_05">資訊來源註記</label>
							</td>
							<td colspan="3" class="form-td">
							    <input type="text" id="example_05" class="form-control">
							</td>
						</tr>
						<tr>
						    <td class="lable-th">
							    <label>藥品取得處方日</label>
							</td>
							<td class="form-td">
                                <div class="date-row">
                                    <div class="date-col">
                                        <select class="browser-default custom-select">
                                            <option selected>年</option>
                                            <option value="1">One</option>
                                            <option value="2">Two</option>
                                            <option value="3">Three</option>
                                        </select>
                                    </div>
                                    <div class="date-col">
                                        <select class="browser-default custom-select">
                                            <option selected>月</option>
                                            <option value="1">One</option>
                                            <option value="2">Two</option>
                                            <option value="3">Three</option>
                                        </select>
                                    </div>
                                    <div class="date-col">
                                        <select class="browser-default custom-select">
                                            <option selected>日</option>
                                            <option value="1">One</option>
                                            <option value="2">Two</option>
                                            <option value="3">Three</option>
                                        </select>
                                    </div>
                                    <div class="date-col-sm">
                                        <button class="btn btn-block btn-custom" type="button">今日</button>
                                    </div>
                                </div>
							</td>
							<td class="lable-th">
							    <label>藥害嚴重不良反應發生日</label>
							</td>
							<td class="form-td">
                                <div class="date-row">
                                    <div class="date-col">
                                        <select class="browser-default custom-select">
                                            <option selected>年</option>
                                            <option value="1">One</option>
                                            <option value="2">Two</option>
                                            <option value="3">Three</option>
                                        </select>
                                    </div>
                                    <div class="date-col">
                                        <select class="browser-default custom-select">
                                            <option selected>月</option>
                                            <option value="1">One</option>
                                            <option value="2">Two</option>
                                            <option value="3">Three</option>
                                        </select>
                                    </div>
                                    <div class="date-col">
                                        <select class="browser-default custom-select">
                                            <option selected>日</option>
                                            <option value="1">One</option>
                                            <option value="2">Two</option>
                                            <option value="3">Three</option>
                                        </select>
                                    </div>
                                    <div class="date-col-sm">
                                        <button class="btn btn-block btn-custom" type="button">今日</button>
                                    </div>
                                </div>
							</td>
						</tr>
						<tr>
						    <td class="lable-th">
							    <label for="example_06">發生藥害年齡(申請主張)</label>
							</td>
							<td class="form-td">
                                <input type="text" id="example_06" class="form-control">
							</td>
							<td class="lable-th">
							    <label>年齡級距(申請主張)</label>
							</td>
							<td class="form-td">
							    <select class="browser-default custom-select" disabled>
                                    <option selected>Open this select menu</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
							</td>
						</tr>
						<tr>
						    <td class="lable-th">
							    <label>知悉嚴重不良反應發生日</label>
							</td>
							<td class="form-td">
							    <div class="date-row">
                                    <div class="date-col">
                                        <select class="browser-default custom-select">
                                            <option selected>年</option>
                                            <option value="1">One</option>
                                            <option value="2">Two</option>
                                            <option value="3">Three</option>
                                        </select>
                                    </div>
                                    <div class="date-col">
                                        <select class="browser-default custom-select">
                                            <option selected>月</option>
                                            <option value="1">One</option>
                                            <option value="2">Two</option>
                                            <option value="3">Three</option>
                                        </select>
                                    </div>
                                    <div class="date-col">
                                        <select class="browser-default custom-select">
                                            <option selected>日</option>
                                            <option value="1">One</option>
                                            <option value="2">Two</option>
                                            <option value="3">Three</option>
                                        </select>
                                    </div>
                                    <div class="date-col-sm">
                                        <button class="btn btn-block btn-custom" type="button">今日</button>
                                    </div>
                                </div>
							</td>
							<td class="lable-th">
							    <label>是否就本次事件與機構或個人達成和解或已取得補償或賠償</label>
							</td>
							<td class="form-td">
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" class="custom-control-input" id="defaultradio03" name="exampleRadios_02">
                                    <label class="custom-control-label" for="defaultradio03">無</label>
                                </div>
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" class="custom-control-input" id="defaultradio04" name="exampleRadios_02">
                                    <label class="custom-control-label" for="defaultradio04">有</label>
                                </div>
							</td>
						</tr>
						<tr>
						    <td class="lable-th">
							    <label>藥物過敏史</label>
							</td>
							<td colspan="3" class="form-td">
                                <div class="d-flex align-items-center">
                                    <div>
                                        <div class="custom-control custom-radio custom-control-inline">
                                            <input type="radio" class="custom-control-input" id="defaultradio05" name="exampleRadios_03">
                                            <label class="custom-control-label" for="defaultradio05">無</label>
                                        </div>
                                        <div class="custom-control custom-radio custom-control-inline">
                                            <input type="radio" class="custom-control-input" id="defaultradio06" name="exampleRadios_03">
                                            <label class="custom-control-label" for="defaultradio06">有</label>
                                        </div>
                                    </div>
                                    <div class="flex-1">
                                        <input type="text" id="" class="form-control">
                                    </div>
                                </div>
							</td>
						</tr>
					</tbody>
				</table>
				
				

            </div>
        </div>
		
		<div class="col-block">
            <div class="block-header flex-head has-border">
                <h3 class="record-title">受害人資訊</h3>
                <button class="btn btn-showhide hide" type="button" title="收合"><i class="fa fa-chevron-down"></i></button>
            </div>
            <div class="block-content">
                <table class="table table-bordered table-vertical-center form-table">
				    <tbody>
					    <tr>
						    <td class="lable-th">
							    <label for="example_10"><span class="required">*</span>姓名</label>
							</td>
							<td class="form-td">
							    <input type="text" id="example_10" class="form-control">
							</td>
							<td class="lable-th">
							    <label><span class="required">*</span>受害人出生日期</label>
							</td>
							<td class="form-td">
                                <div class="date-row">
                                    <div class="date-col">
                                        <select class="browser-default custom-select">
                                            <option selected>年</option>
                                            <option value="1">One</option>
                                            <option value="2">Two</option>
                                            <option value="3">Three</option>
                                        </select>
                                    </div>
                                    <div class="date-col">
                                        <select class="browser-default custom-select">
                                            <option selected>月</option>
                                            <option value="1">One</option>
                                            <option value="2">Two</option>
                                            <option value="3">Three</option>
                                        </select>
                                    </div>
                                    <div class="date-col">
                                        <select class="browser-default custom-select">
                                            <option selected>日</option>
                                            <option value="1">One</option>
                                            <option value="2">Two</option>
                                            <option value="3">Three</option>
                                        </select>
                                    </div>
                                    <div class="date-col-sm">
                                        <button class="btn btn-block btn-custom" type="button">今日</button>
                                    </div>
                                </div>
							</td>
						</tr>
						<tr>
						    <td class="lable-th">
							    <label for="example_10">身分證字號</label>
							</td>
							<td class="form-td">
                                <div class="d-flex">
                                    <div class="flex-1">
                                        <input type="text" id="example_10" class="form-control">
                                    </div>
                                    <div class="ml-2">
                                        <button class="btn btn-custom" type="button">檢查申請紀錄</button>
                                    </div>
                                </div>
								<p class="app-record"><span>33900</span><span>31901</span><span>20334</span></p>
							</td>
							<td class="lable-th">
							    <label>性別</label>
							</td>
							<td class="form-td">
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" class="custom-control-input" id="defaultradio10" name="exampleRadios_11">
                                    <label class="custom-control-label" for="defaultradio10">男</label>
                                </div>
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" class="custom-control-input" id="defaultradio11" name="exampleRadios_11">
                                    <label class="custom-control-label" for="defaultradio11">女</label>
                                </div>
							</td>
						</tr>
						<tr>
						    <td class="lable-th">
							    <label for="example_11">受害人電話</label>
							</td>
							<td class="form-td">
							    <input type="text" id="example_11" class="form-control">
							</td>
							<td class="lable-th">
							     <label for="example_12">受害人行動電話</label>
							</td>
							<td class="form-td">
							     <input type="text" id="example_12" class="form-control">
							</td>
						</tr>
						<tr>
						    <td class="lable-th">
							    <label>聯絡地址</label>
							</td>
							<td class="form-td">
                                <div class="d-flex">
                                    <div class="d-flex">
                                        <div class="mr-2">
                                            <input type="text" id="" class="form-control" placeholder="郵遞區號">
                                        </div>
                                        <div class="mr-2">
                                            <select class="browser-default custom-select">
                                                <option selected>台北市</option>
                                                <option value="1">One</option>
                                                <option value="2">Two</option>
                                                <option value="3">Three</option>
                                            </select>
                                        </div>
                                        <div class="mr-2">
                                            <select class="browser-default custom-select">
                                                <option selected>中山區</option>
                                                <option value="1">One</option>
                                                <option value="2">Two</option>
                                                <option value="3">Three</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="flex-1">
                                        <input type="text" id="" class="form-control">
                                    </div>
                                </div>
							</td>
						</tr>
					</tbody>
				</table>
            </div>
        </div>
		
		<div class="col-block">
            <div class="block-header flex-head has-border">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="defaultUnchecked_7" />
                    <label class="custom-control-label" for="defaultUnchecked_7">不同於受害人</label>
                </div>
                <button class="btn btn-showhide hide" type="button" title="收合"><i class="fa fa-chevron-down"></i></button>
            </div>
            <!--div class="block-content">
				...
            </div-->
        </div>
		
		<div class="col-block">
            <div class="block-header flex-head has-border">
                <h3 class="record-title">檢附文件</h3>
                <button class="btn btn-showhide hide" type="button" title="收合"><i class="fa fa-chevron-down"></i></button>
            </div>
            <div class="block-content">
                <table class="table table-bordered table-vertical-center form-table mb-4">
				    <tbody>
					    <tr>
						    <td class="lable-th">
							    <label for="example_15">首次通知補件日</label>
							</td>
							<td class="form-td">
							    <input type="text" id="example_15" class="form-control" value="YYY-MM-DD  文號：1100110001" disabled>
							</td>
							<td class="lable-th">
							    <label>補件截止日</label>
							</td>
							<td class="form-td">
                                <div class="date-row">
                                    <div class="date-col">
                                        <select class="browser-default custom-select">
                                            <option selected>年</option>
                                            <option value="1">One</option>
                                            <option value="2">Two</option>
                                            <option value="3">Three</option>
                                        </select>
                                    </div>
                                    <div class="date-col">
                                        <select class="browser-default custom-select">
                                            <option selected>月</option>
                                            <option value="1">One</option>
                                            <option value="2">Two</option>
                                            <option value="3">Three</option>
                                        </select>
                                    </div>
                                    <div class="date-col">
                                        <select class="browser-default custom-select">
                                            <option selected>日</option>
                                            <option value="1">One</option>
                                            <option value="2">Two</option>
                                            <option value="3">Three</option>
                                        </select>
                                    </div>
                                    <div class="date-col-sm">
                                        <button class="btn btn-block btn-custom" type="button">今日</button>
                                    </div>
                                </div>
							</td>
						</tr>
					    <tr>
						    <td class="lable-th">
							    <label>補件完成日</label>
							</td>
							<td class="form-td">
                                <div class="date-row">
                                    <div class="date-col">
                                        <select class="browser-default custom-select">
                                            <option selected>年</option>
                                            <option value="1">One</option>
                                            <option value="2">Two</option>
                                            <option value="3">Three</option>
                                        </select>
                                    </div>
                                    <div class="date-col">
                                        <select class="browser-default custom-select">
                                            <option selected>月</option>
                                            <option value="1">One</option>
                                            <option value="2">Two</option>
                                            <option value="3">Three</option>
                                        </select>
                                    </div>
                                    <div class="date-col">
                                        <select class="browser-default custom-select">
                                            <option selected>日</option>
                                            <option value="1">One</option>
                                            <option value="2">Two</option>
                                            <option value="3">Three</option>
                                        </select>
                                    </div>
                                    <div class="date-col-sm">
                                        <button class="btn btn-block btn-custom" type="button">今日</button>
                                    </div>
                                </div>
							</td>
							<td class="lable-th">
							    <label>退件處理</label>
							</td>
							<td class="form-td">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="defaultUnchecked_02" />
                                    <label class="custom-control-label" for="defaultUnchecked_02">確定</label>
                                </div>
							</td>
						</tr>
					</tbody>
				</table>
				<button type="button" class="btn btn-md btn-default btn-rounded">補正紀錄登錄</button>
                <table class="table table-bordered table-vertical-center">
                    <thead>
                        <tr>
                            <th>附件名稱</th>
                            <th></th>
							<th>備註</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>申請書</th>
                            <td>
                                <div>
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" class="custom-control-input" id="defaultradio20" name="exampleRadios_12">
                                        <label class="custom-control-label" for="defaultradio20">已檢附</label>
                                    </div>
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" class="custom-control-input" id="defaultradio21" name="exampleRadios_12">
                                        <label class="custom-control-label" for="defaultradio21">未檢附</label>
                                    </div>
									<div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" class="custom-control-input" id="defaultradio22" name="exampleRadios_12">
                                        <label class="custom-control-label" for="defaultradio22">需補正</label>
                                    </div>
                                </div>
							</td>
                            <td><input type="text" id="" class="form-control"></td>
                        </tr>
						<tr>
                            <th>受害前病歷摘要</th>
                            <td>
                                <div>
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" class="custom-control-input" id="defaultradio20" name="exampleRadios_12">
                                        <label class="custom-control-label" for="defaultradio20">已檢附</label>
                                    </div>
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" class="custom-control-input" id="defaultradio21" name="exampleRadios_12">
                                        <label class="custom-control-label" for="defaultradio21">未檢附</label>
                                    </div>
									<div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" class="custom-control-input" id="defaultradio22" name="exampleRadios_12">
                                        <label class="custom-control-label" for="defaultradio22">需補正</label>
                                    </div>
                                </div>
							</td>
                            <td><input type="text" id="" class="form-control"></td>
                        </tr>
						<tr>
                            <th>受害後病歷摘要</th>
                            <td>
                                <div>
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" class="custom-control-input" id="defaultradio20" name="exampleRadios_12">
                                        <label class="custom-control-label" for="defaultradio20">已檢附</label>
                                    </div>
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" class="custom-control-input" id="defaultradio21" name="exampleRadios_12">
                                        <label class="custom-control-label" for="defaultradio21">未檢附</label>
                                    </div>
									<div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" class="custom-control-input" id="defaultradio22" name="exampleRadios_12">
                                        <label class="custom-control-label" for="defaultradio22">需補正</label>
                                    </div>
                                </div>
							</td>
                            <td><input type="text" id="" class="form-control"></td>
                        </tr>
						
						<tr>
                            <th>診斷證明書</th>
                            <td>
                                <div>
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" class="custom-control-input" id="defaultradio20" name="exampleRadios_12">
                                        <label class="custom-control-label" for="defaultradio20">已檢附</label>
                                    </div>
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" class="custom-control-input" id="defaultradio21" name="exampleRadios_12">
                                        <label class="custom-control-label" for="defaultradio21">未檢附</label>
                                    </div>
									<div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" class="custom-control-input" id="defaultradio22" name="exampleRadios_12">
                                        <label class="custom-control-label" for="defaultradio22">需補正</label>
                                    </div>
                                </div>
							</td>
                            <td><input type="text" id="" class="form-control"></td>
                        </tr>
						<tr>
                            <th>醫療費用收據</th>
                            <td>
                                <div>
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" class="custom-control-input" id="defaultradio20" name="exampleRadios_12">
                                        <label class="custom-control-label" for="defaultradio20">已檢附</label>
                                    </div>
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" class="custom-control-input" id="defaultradio21" name="exampleRadios_12">
                                        <label class="custom-control-label" for="defaultradio21">未檢附</label>
                                    </div>
									<div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" class="custom-control-input" id="defaultradio22" name="exampleRadios_12">
                                        <label class="custom-control-label" for="defaultradio22">需補正</label>
                                    </div>
                                </div>
							</td>
                            <td><input type="text" id="" class="form-control"></td>
                        </tr>
						<tr>
                            <th>障礙證明正反面影本</th>
                            <td>
                                <div>
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" class="custom-control-input" id="defaultradio20" name="exampleRadios_12">
                                        <label class="custom-control-label" for="defaultradio20">已檢附</label>
                                    </div>
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" class="custom-control-input" id="defaultradio21" name="exampleRadios_12">
                                        <label class="custom-control-label" for="defaultradio21">未檢附</label>
                                    </div>
									<div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" class="custom-control-input" id="defaultradio22" name="exampleRadios_12">
                                        <label class="custom-control-label" for="defaultradio22">需補正</label>
                                    </div>
                                </div>
							</td>
                            <td><input type="text" id="" class="form-control"></td>
                        </tr>
						
						<tr>
                            <th>死亡診斷證明</th>
                            <td>
                                <div>
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" class="custom-control-input" id="defaultradio20" name="exampleRadios_12">
                                        <label class="custom-control-label" for="defaultradio20">已檢附</label>
                                    </div>
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" class="custom-control-input" id="defaultradio21" name="exampleRadios_12">
                                        <label class="custom-control-label" for="defaultradio21">未檢附</label>
                                    </div>
									<div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" class="custom-control-input" id="defaultradio22" name="exampleRadios_12">
                                        <label class="custom-control-label" for="defaultradio22">需補正</label>
                                    </div>
                                </div>
							</td>
                            <td><input type="text" id="" class="form-control"></td>
                        </tr>
						
						<tr>
                            <th>申請人身份證正面影本</th>
                            <td>
                                <div>
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" class="custom-control-input" id="defaultradio20" name="exampleRadios_12">
                                        <label class="custom-control-label" for="defaultradio20">已檢附</label>
                                    </div>
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" class="custom-control-input" id="defaultradio21" name="exampleRadios_12">
                                        <label class="custom-control-label" for="defaultradio21">未檢附</label>
                                    </div>
									<div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" class="custom-control-input" id="defaultradio22" name="exampleRadios_12">
                                        <label class="custom-control-label" for="defaultradio22">需補正</label>
                                    </div>
                                </div>
							</td>
                            <td><input type="text" id="" class="form-control"></td>
                        </tr>
						<tr>
                            <th>申請人與受害人關係證明(例如:戶口名簿)</th>
                            <td>
                                <div>
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" class="custom-control-input" id="defaultradio20" name="exampleRadios_12">
                                        <label class="custom-control-label" for="defaultradio20">已檢附</label>
                                    </div>
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" class="custom-control-input" id="defaultradio21" name="exampleRadios_12">
                                        <label class="custom-control-label" for="defaultradio21">未檢附</label>
                                    </div>
									<div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" class="custom-control-input" id="defaultradio22" name="exampleRadios_12">
                                        <label class="custom-control-label" for="defaultradio22">需補正</label>
                                    </div>
                                </div>
							</td>
                            <td class="w-50"><input type="text" id="" class="form-control"></td>
                        </tr>
						<tr>
                            <th>其他(如:解剖報告、彩照、信函、光碟)</th>
                            <td>
                                <div>
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" class="custom-control-input" id="defaultradio20" name="exampleRadios_12">
                                        <label class="custom-control-label" for="defaultradio20">已檢附</label>
                                    </div>
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" class="custom-control-input" id="defaultradio21" name="exampleRadios_12">
                                        <label class="custom-control-label" for="defaultradio21">未檢附</label>
                                    </div>
									<div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" class="custom-control-input" id="defaultradio22" name="exampleRadios_12">
                                        <label class="custom-control-label" for="defaultradio22">需補正</label>
                                    </div>
                                </div>
							</td>
                            <td><input type="text" id="" class="form-control"></td>
                        </tr>
                    </tbody>
                </table>
                <div class="form-group">
                      <label for="exampleFormControlTextarea1">備註</label>
                      <textarea class="form-control rounded-0" id="exampleFormControlTextarea1" rows="5"></textarea>
                </div>
            </div>
        </div>
		
		<div class="col-block">
            <div class="block-header flex-head has-border">
                <h3 class="record-title">歷次諮詢紀錄</h3>
                <button class="btn btn-showhide hide" type="button" title="收合"><i class="fa fa-chevron-down"></i></button>
            </div>
            <div class="block-content">
				<div class="d-flex mb-3">
                    <div class="mr-2">
                        <select class="browser-default custom-select">
                            <option selected>請選擇諮詢類別</option>
                            <option value="1">藥袋標示藥害救濟訊息諮詢</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </div>
					<div class="mr-2">
                        <select class="browser-default custom-select">
                            <option selected>請選擇諮詢對象</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </div>
					<div class="mr-2">
                        <select class="browser-default custom-select">
                            <option selected>請選擇諮詢方式</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </div>
					<div class="flex-1">
					    <div class="d-flex">
						    <input type="text" id="example_13" class="form-control mx-2" placeholder="諮詢內容記錄填寫">
							<button class="btn btn-custom" type="button">新增</button>
						</div>
					</div>
				</div>
                <table class="table table-bordered table-vertical-center text-nowrap">
                    <thead>
                        <tr>
                            <th class="text-center">#</th>
							<th>編輯</th>
                            <th>諮詢日期時間</th>
                            <th>諮詢類別</th>
                            <th>對象</th>
                            <th>形式</th>
                            <th>諮詢內容</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="text-center">1</td>
							<td><button type="button" class="btn btn-sm-edit btn-primary"><i class="fa fa-pencil mr-0"></i></button></td>
                            <td>YYY-MM-DD HH:mm</td>
                            <td>申請相關事宜</td>
                            <td>民眾</td>
                            <td>電話</td>
                            <td>
								<div class="text-break"><%= lorem_paragraph %></div>
							</td>
                        </tr>
                        <tr>
							<td class="text-center">2</td>
							<td><button type="button" class="btn btn-sm-edit btn-primary"><i class="fa fa-pencil mr-0"></i></button></td>
                            <td>YYY-MM-DD HH:mm</td>
                            <td>復審、訴願、領款</td>
                            <td>醫師</td>
                            <td>郵件</td>
                            <td>
								<div class="text-break"><%= lorem_paragraph %></div>
							</td>
                        </tr>
                        <tr>
							<td class="text-center">3</td>
							<td><button type="button" class="btn btn-sm-edit btn-primary"><i class="fa fa-pencil mr-0"></i></button></td>
                            <td>YYY-MM-DD HH:mm</td>
                            <td>其他相關事務諮詢</td>
                            <td>民眾</td>
                            <td>電話</td>
                            <td>
								<div class="text-break"><%= lorem_paragraph %></div>
							</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
		
		<div class="col-block">
            <div class="block-header flex-head has-border">
                <h3 class="record-title">案件日程</h3>
                <button class="btn btn-showhide hide" type="button" title="收合"><i class="fa fa-chevron-down"></i></button>
            </div>
			<div class="block-content">
                <table class="table table-bordered table-vertical-center form-table">
				    <tbody>
					    <tr>
						    <td class="lable-th">
							    <label>案件受理通知發文日</label>
							</td>
							<td class="form-td">
                                <div class="date-row">
                                    <div class="date-col">
                                        <select class="browser-default custom-select">
                                            <option selected>年</option>
                                            <option value="1">One</option>
                                            <option value="2">Two</option>
                                            <option value="3">Three</option>
                                        </select>
                                    </div>
                                    <div class="date-col">
                                        <select class="browser-default custom-select">
                                            <option selected>月</option>
                                            <option value="1">One</option>
                                            <option value="2">Two</option>
                                            <option value="3">Three</option>
                                        </select>
                                    </div>
                                    <div class="date-col">
                                        <select class="browser-default custom-select">
                                            <option selected>日</option>
                                            <option value="1">One</option>
                                            <option value="2">Two</option>
                                            <option value="3">Three</option>
                                        </select>
                                    </div>
                                    <div class="date-col-sm">
                                        <button class="btn btn-block btn-custom" type="button">今日</button>
                                    </div>
                                </div>
							</td>
							<td class="lable-th">
							    <label for="example_23">文號</label>
							</td>
							<td class="form-td">
							    <input type="text" id="example_23" class="form-control">
							</td>
						</tr>
						<tr>
						    <td class="lable-th">
							    <label>案件審議結果來文日</label>
							</td>
							<td class="form-td">
                                <input type="text" id="" class="form-control" value="YYY-MM-DD" disabled>
							</td>
							<td class="lable-th">
							    <label for="">文號</label>
							</td>
							<td class="form-td">
							    <input type="text" id="" class="form-control" value="1010100001" disabled>
							</td>
						</tr>
						<tr>
						    <td class="lable-th">
							    <label>案件審議結果通知申請人發文日</label>
							</td>
							<td class="form-td">
                                <div class="date-row">
                                    <div class="date-col">
                                        <select class="browser-default custom-select">
                                            <option selected>年</option>
                                            <option value="1">One</option>
                                            <option value="2">Two</option>
                                            <option value="3">Three</option>
                                        </select>
                                    </div>
                                    <div class="date-col">
                                        <select class="browser-default custom-select">
                                            <option selected>月</option>
                                            <option value="1">One</option>
                                            <option value="2">Two</option>
                                            <option value="3">Three</option>
                                        </select>
                                    </div>
                                    <div class="date-col">
                                        <select class="browser-default custom-select">
                                            <option selected>日</option>
                                            <option value="1">One</option>
                                            <option value="2">Two</option>
                                            <option value="3">Three</option>
                                        </select>
                                    </div>
                                    <div class="date-col-sm">
                                        <button class="btn btn-block btn-custom" type="button">今日</button>
                                    </div>
                                </div>
							</td>
							<td class="lable-th">
							    <label for="example_23">文號</label>
							</td>
							<td class="form-td">
							    <input type="text" id="example_23" class="form-control">
							</td>
						</tr>
						<tr>
						    <td class="lable-th">
							    <label>領據收齊日</label>
							</td>
							<td class="form-td">
                                <div class="date-row">
                                    <div class="date-col">
                                        <select class="browser-default custom-select">
                                            <option selected>年</option>
                                            <option value="1">One</option>
                                            <option value="2">Two</option>
                                            <option value="3">Three</option>
                                        </select>
                                    </div>
                                    <div class="date-col">
                                        <select class="browser-default custom-select">
                                            <option selected>月</option>
                                            <option value="1">One</option>
                                            <option value="2">Two</option>
                                            <option value="3">Three</option>
                                        </select>
                                    </div>
                                    <div class="date-col">
                                        <select class="browser-default custom-select">
                                            <option selected>日</option>
                                            <option value="1">One</option>
                                            <option value="2">Two</option>
                                            <option value="3">Three</option>
                                        </select>
                                    </div>
                                    <div class="date-col-sm">
                                        <button class="btn btn-block btn-custom" type="button">今日</button>
                                    </div>
                                </div>
							</td>
							<td class="lable-th">
							    <label for="example_23">支票號</label>
							</td>
							<td class="form-td">
							    <input type="text" id="example_23" class="form-control">
							</td>
						</tr>
						<tr>
						    <td class="lable-th">
							    <label>支票發文日</label>
							</td>
							<td class="form-td">
                                <div class="date-row">
                                    <div class="date-col">
                                        <select class="browser-default custom-select">
                                            <option selected>年</option>
                                            <option value="1">One</option>
                                            <option value="2">Two</option>
                                            <option value="3">Three</option>
                                        </select>
                                    </div>
                                    <div class="date-col">
                                        <select class="browser-default custom-select">
                                            <option selected>月</option>
                                            <option value="1">One</option>
                                            <option value="2">Two</option>
                                            <option value="3">Three</option>
                                        </select>
                                    </div>
                                    <div class="date-col">
                                        <select class="browser-default custom-select">
                                            <option selected>日</option>
                                            <option value="1">One</option>
                                            <option value="2">Two</option>
                                            <option value="3">Three</option>
                                        </select>
                                    </div>
                                    <div class="date-col-sm">
                                        <button class="btn btn-block btn-custom" type="button">今日</button>
                                    </div>
                                </div>
							</td>
							<td class="lable-th">
							    <label for="example_23">文號</label>
							</td>
							<td class="form-td">
							    <input type="text" id="example_23" class="form-control">
							</td>
						</tr>
					</tbody>
				</table>

				<div class="mt-4">
                    <h5 class="font-weight-bold indigo-text">歷次審定資訊</h5>
                    <table class="table table-sm table-bordered">
                        <thead>
                            <tr>
                                <th class="text-center">序號</th>
                                <th>會期</th>
                                <th>召開日</th>
                                <th>類別</th>
                                <th>備註(決議)</th>
                                <th>案件審定結果通知申請人發文日</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="text-center">1</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td class="text-center">2</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
				</div>
			</div>
        </div>
		
		<div class="col-block">
            <div class="block-header flex-head has-border">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="defaultUnchecked_8" />
                    <label class="custom-control-label" for="defaultUnchecked_8">異議案件登錄</label>
                </div>
                <button class="btn btn-showhide hide" type="button" title="收合"><i class="fa fa-chevron-down"></i></button>
            </div>
            <div class="block-content">
                <table class="table table-bordered table-vertical-center form-table">
				    <tbody>
					    <tr>
						    <td class="lable-th">
							    <label>申請日期</label>
							</td>
							<td class="form-td">
                                <div class="date-row">
                                    <div class="date-col">
                                        <select class="browser-default custom-select">
                                            <option selected>年</option>
                                            <option value="1">One</option>
                                            <option value="2">Two</option>
                                            <option value="3">Three</option>
                                        </select>
                                    </div>
                                    <div class="date-col">
                                        <select class="browser-default custom-select">
                                            <option selected>月</option>
                                            <option value="1">One</option>
                                            <option value="2">Two</option>
                                            <option value="3">Three</option>
                                        </select>
                                    </div>
                                    <div class="date-col">
                                        <select class="browser-default custom-select">
                                            <option selected>日</option>
                                            <option value="1">One</option>
                                            <option value="2">Two</option>
                                            <option value="3">Three</option>
                                        </select>
                                    </div>
                                    <div class="date-col-sm">
                                        <button class="btn btn-block btn-custom" type="button">今日</button>
                                    </div>
                                </div>
							</td>
							<td class="lable-th">
							    <label for="example_24">收件日期</label>
							</td>
							<td class="form-td">
                                <div class="date-row">
                                    <div class="date-col">
                                        <select class="browser-default custom-select">
                                            <option selected>年</option>
                                            <option value="1">One</option>
                                            <option value="2">Two</option>
                                            <option value="3">Three</option>
                                        </select>
                                    </div>
                                    <div class="date-col">
                                        <select class="browser-default custom-select">
                                            <option selected>月</option>
                                            <option value="1">One</option>
                                            <option value="2">Two</option>
                                            <option value="3">Three</option>
                                        </select>
                                    </div>
                                    <div class="date-col">
                                        <select class="browser-default custom-select">
                                            <option selected>日</option>
                                            <option value="1">One</option>
                                            <option value="2">Two</option>
                                            <option value="3">Three</option>
                                        </select>
                                    </div>
                                    <div class="date-col-sm">
                                        <button class="btn btn-block btn-custom" type="button">今日</button>
                                    </div>
                                </div>
							</td>
						</tr>
						<tr>
						    <td class="lable-th">
							    <label>異議案件受理通知發文日</label>
							</td>
							<td class="form-td">
							    <div class="date-row">
                                    <div class="date-col">
                                        <select class="browser-default custom-select">
                                            <option selected>年</option>
                                            <option value="1">One</option>
                                            <option value="2">Two</option>
                                            <option value="3">Three</option>
                                        </select>
                                    </div>
                                    <div class="date-col">
                                        <select class="browser-default custom-select">
                                            <option selected>月</option>
                                            <option value="1">One</option>
                                            <option value="2">Two</option>
                                            <option value="3">Three</option>
                                        </select>
                                    </div>
                                    <div class="date-col">
                                        <select class="browser-default custom-select">
                                            <option selected>日</option>
                                            <option value="1">One</option>
                                            <option value="2">Two</option>
                                            <option value="3">Three</option>
                                        </select>
                                    </div>
                                    <div class="date-col-sm">
                                        <button class="btn btn-block btn-custom" type="button">今日</button>
                                    </div>
                                </div>
							</td>
							<td class="lable-th">
							    <label for="example_30">文號</label>
							</td>
							<td class="form-td">
							    <input type="text" id="example_30" class="form-control">
							</td>
						</tr>
						<tr>
						    <td class="lable-th">
							    <label>異議案件審議結果通知申請人發文日</label>
							</td>
							<td class="form-td">
							    <div class="date-row">
                                    <div class="date-col">
                                        <select class="browser-default custom-select">
                                            <option selected>年</option>
                                            <option value="1">One</option>
                                            <option value="2">Two</option>
                                            <option value="3">Three</option>
                                        </select>
                                    </div>
                                    <div class="date-col">
                                        <select class="browser-default custom-select">
                                            <option selected>月</option>
                                            <option value="1">One</option>
                                            <option value="2">Two</option>
                                            <option value="3">Three</option>
                                        </select>
                                    </div>
                                    <div class="date-col">
                                        <select class="browser-default custom-select">
                                            <option selected>日</option>
                                            <option value="1">One</option>
                                            <option value="2">Two</option>
                                            <option value="3">Three</option>
                                        </select>
                                    </div>
                                    <div class="date-col-sm">
                                        <button class="btn btn-block btn-custom" type="button">今日</button>
                                    </div>
                                </div>
							</td>
							<td class="lable-th">
							    <label for="example_31">文號</label>
							</td>
							<td class="form-td">
							    <input type="text" id="example_31" class="form-control">
							</td>
						</tr>
					</tbody>
				</table>
            </div>
        </div>
		
		<div class="col-block">
            <div class="block-header flex-head has-border">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="defaultUnchecked_9" />
                    <label class="custom-control-label" for="defaultUnchecked_9">訴願、訴訟案件登錄</label>
                </div>
                <button class="btn btn-showhide hide" type="button" title="收合"><i class="fa fa-chevron-down"></i></button>
            </div>
            <div class="block-content">
                <table class="table table-bordered table-vertical-center form-table">
				    <tbody>
					    <tr>
						    <td class="lable-th">
							    <label>行政程序項目</label>
							</td>
							<td class="form-td">
                                <div class="custom-control custom-checkbox custom-control-inline">
                                    <input type="checkbox" class="custom-control-input" id="defaultInline_01" />
                                    <label class="custom-control-label" for="defaultInline_01">訴願</label>
                                </div>
                                <div class="custom-control custom-checkbox custom-control-inline">
                                    <input type="checkbox" class="custom-control-input" id="defaultInline_02" />
                                    <label class="custom-control-label" for="defaultInline_02">行政訴訟</label>
                                </div>
                                <div class="custom-control custom-checkbox custom-control-inline">
                                    <input type="checkbox" class="custom-control-input" id="defaultInline_03" />
                                    <label class="custom-control-label" for="defaultInline_03">民事訴訟</label>
                                </div>
                                <div class="custom-control custom-checkbox custom-control-inline">
                                    <input type="checkbox" class="custom-control-input" id="defaultInline_04" />
                                    <label class="custom-control-label" for="defaultInline_04">刑事訴訟</label>
                                </div>
                                <div class="custom-control custom-checkbox custom-control-inline">
                                    <input type="checkbox" class="custom-control-input" id="defaultInline_05" />
                                    <label class="custom-control-label" for="defaultInline_05">其他</label>
                                </div>
							</td>
							<td class="lable-th">
							    <label>訴願申請日期</label>
							</td>
							<td class="form-td">
                                <div class="date-row">
                                    <div class="date-col">
                                        <select class="browser-default custom-select">
                                            <option selected>年</option>
                                            <option value="1">One</option>
                                            <option value="2">Two</option>
                                            <option value="3">Three</option>
                                        </select>
                                    </div>
                                    <div class="date-col">
                                        <select class="browser-default custom-select">
                                            <option selected>月</option>
                                            <option value="1">One</option>
                                            <option value="2">Two</option>
                                            <option value="3">Three</option>
                                        </select>
                                    </div>
                                    <div class="date-col">
                                        <select class="browser-default custom-select">
                                            <option selected>日</option>
                                            <option value="1">One</option>
                                            <option value="2">Two</option>
                                            <option value="3">Three</option>
                                        </select>
                                    </div>
                                    <div class="date-col-sm">
                                        <button class="btn btn-block btn-custom" type="button">今日</button>
                                    </div>
                                </div>
							</td>
						</tr>
						<tr>
						    <td class="lable-th">
							    <label>訴願文件收件日期</label>
							</td>
							<td class="form-td">
                                <div class="date-row">
                                    <div class="date-col">
                                        <select class="browser-default custom-select">
                                            <option selected>年</option>
                                            <option value="1">One</option>
                                            <option value="2">Two</option>
                                            <option value="3">Three</option>
                                        </select>
                                    </div>
                                    <div class="date-col">
                                        <select class="browser-default custom-select">
                                            <option selected>月</option>
                                            <option value="1">One</option>
                                            <option value="2">Two</option>
                                            <option value="3">Three</option>
                                        </select>
                                    </div>
                                    <div class="date-col">
                                        <select class="browser-default custom-select">
                                            <option selected>日</option>
                                            <option value="1">One</option>
                                            <option value="2">Two</option>
                                            <option value="3">Three</option>
                                        </select>
                                    </div>
                                    <div class="date-col-sm">
                                        <button class="btn btn-block btn-custom" type="button">今日</button>
                                    </div>
                                </div>
							</td>
							<td class="lable-th">
							    <label for="example_41">訴願TFDA承辦人員</label>
							</td>
							<td class="form-td">
							    <input type="text" id="example_41" class="form-control">
							</td>
						</tr>
					</tbody>
				</table>
            </div>
        </div>
		
        <div class="expansion-action text-center">
            <button type="button" class="btn btn-link"><i class="fa fa-long-arrow-left"></i> 返回</button>
            <button type="button" class="btn btn-primary">儲存</button>
        </div>
	</div>
	
</main>

<% content_for :js do %>

<% end %>