<!-- oiaes-admin: 編輯日程設定 -->
<%= render :partial => "/partials/admin_breadcrumb" %>

<main class="main">
    <div class="page-header">
        <h2>編輯日程設定</h2>
    </div>
    <form>
    <div class="row">
        <div class="col-12">
            <div class="col-block">
                <div class="block-header has-border"><h3>各項基本設定</h3></div>
                <div class="block-content">
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label text-right">入學學年度</label>
                        <div class="col-sm-6">
                            <select class="mdb-select">
                                <option value="" disabled selected>Choose your option</option>
                                <option value="1">Option 1</option>
                                <option value="2">Option 2</option>
                                <option value="3">Option 3</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label text-right">入學學期</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" placeholder="">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label text-right">申請網址</label>
                        <div class="col-sm-10 form-inline">
                            <span class="d-inline-block mr-2">https://xxxxxxxxxxxxxx.edu.tw/</span>
                            <input type="text" class="form-control" placeholder="">
                            <button type="button" class="btn btn-angel btn-sm waves-effect waves-light">複製至剪貼簿</button>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label text-right">申請表表頭(中文)</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" placeholder="">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label text-right">申請表表頭(英文)</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" placeholder="">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label text-right">申請系統名稱(中文)</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" placeholder="">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label text-right">申請系統名稱(英文)</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" placeholder="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="col-block">
                <div class="block-header has-border">
                    <h3>編輯交換日程設定</h3>
                    <code>
                        <a href="https://mdbootstrap.com/javascript/date-picker/">Date Picker</a>
                        <a href="https://mdbootstrap.com/javascript/time-picker/">Time Picker</a>
                    </code>
                </div>
                <div class="block-content">
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label text-right">申請起訖日期</label>
                        <div class="col-sm-10 form-inline">
                            <div class="md-form mt-0 mr-2">
                                <input placeholder="選擇日期" type="text" id="date-picker-example" class="form-control datepicker">
                            </div>
                            <div class="md-form mt-0">
                                <input placeholder="選擇時間" type="text" class="form-control timepicker input_starttime">
                            </div>
                            <span class="d-inline-block mr-5 ml-5">至</span>
                            <div class="md-form mt-0 mr-2">
                                <input placeholder="選擇日期" type="text" id="date-picker-example" class="form-control datepicker">
                            </div>
                            <div class="md-form mt-0">
                                <input placeholder="選擇時間" type="text" class="form-control timepicker input_starttime">
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label text-right">提名起訖日期</label>
                        <div class="col-sm-10 form-inline">
                            <div class="md-form mt-0 mr-2">
                                <input placeholder="選擇日期" type="text" id="date-picker-example" class="form-control datepicker">
                            </div>
                            <div class="md-form mt-0">
                                <input placeholder="選擇時間" type="text" class="form-control timepicker input_starttime">
                            </div>
                            <span class="d-inline-block mr-5 ml-5">至</span>
                            <div class="md-form mt-0 mr-2">
                                <input placeholder="選擇日期" type="text" id="date-picker-example" class="form-control datepicker">
                            </div>
                            <div class="md-form mt-0">
                                <input placeholder="選擇時間" type="text" class="form-control timepicker input_starttime">
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label text-right">系所審查截止</label>
                        <div class="col-sm-10 form-inline">
                            <div class="md-form mt-0 mr-2">
                                <input placeholder="選擇日期" type="text" id="date-picker-example" class="form-control datepicker">
                            </div>
                            <div class="md-form mt-0">
                                <input placeholder="選擇時間" type="text" class="form-control timepicker input_starttime">
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label text-right">審查結果公佈</label>
                        <div class="col-sm-10 form-inline">
                            <div class="md-form mt-0 mr-2">
                                <input placeholder="選擇日期" type="text" id="date-picker-example" class="form-control datepicker">
                            </div>
                            <div class="md-form mt-0">
                                <input placeholder="選擇時間" type="text" class="form-control timepicker input_starttime">
                            </div>
                            <div class="form-check ml-4">
                                <input class="form-check-input" type="checkbox" value="" id="defaultCheckbox1">
                                <label class="form-check-label" for="defaultCheckbox1">
                                    系所同意後前端即可查到錄取結果
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label text-right">新生調查截止</label>
                        <div class="col-sm-10 form-inline">
                            <div class="md-form mt-0 mr-2">
                                <input placeholder="選擇日期" type="text" id="date-picker-example" class="form-control datepicker">
                            </div>
                            <div class="md-form mt-0">
                                <input placeholder="選擇時間" type="text" class="form-control timepicker input_starttime">
                            </div>
                            <span class="d-inline-block mr-5 ml-5">至</span>
                            <div class="md-form mt-0 mr-2">
                                <input placeholder="選擇日期" type="text" id="date-picker-example" class="form-control datepicker">
                            </div>
                            <div class="md-form mt-0">
                                <input placeholder="選擇時間" type="text" class="form-control timepicker input_starttime">
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label text-right">離校手續起訖</label>
                        <div class="col-sm-10 form-inline">
                            <div class="md-form mt-0 mr-2">
                                <input placeholder="選擇日期" type="text" id="date-picker-example" class="form-control datepicker">
                            </div>
                            <div class="md-form mt-0">
                                <input placeholder="選擇時間" type="text" class="form-control timepicker input_starttime">
                            </div>
                            <span class="d-inline-block mr-5 ml-5">至</span>
                            <div class="md-form mt-0 mr-2">
                                <input placeholder="選擇日期" type="text" id="date-picker-example" class="form-control datepicker">
                            </div>
                            <div class="md-form mt-0">
                                <input placeholder="選擇時間" type="text" class="form-control timepicker input_starttime">
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label text-right">離校問卷</label>
                        <div class="col-sm-6">
                            <a href="#" class="btn btn-sm btn-info">編輯問卷</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <button class="btn btn-default" type="submit">儲存</button>
        <button class="btn btn-angel" type="submit">取消</button>
    </div>
    </form>
</main>

<% content_for :js do %>
    <script>
		$(document).ready(function() {
            $('.mdb-select').material_select();
		});
		$('.datepicker').pickadate();
		$('.input_starttime').pickatime({});
    </script>
<% end %>