<!-- oiaes-admin: 入臺證申請系統 -->
<%= render :partial => "/partials/admin_breadcrumb" %>

<main class="main">
    <div class="page-header">
        <h2>入臺證申請首頁</h2>
    </div>
    <div class="row">
        <div class="col-6">
            <div class="col-block">
                <div class="block-header has-border">
                     <h3>陸藉交換生</h3>
                </div>
                <div class="block-content">
                    <div class="col-md-6 mb-3">
                        <select class="mdb-select">
                            <option selected>請切換學期</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </div>
                    <ul class="review-data clearfix">
                        <li class="total">
                            <a class="circle"><span>262</span></a>
                            <h5>總件數</h5>
                        </li>
                        <li class="already">
                            <a class="circle"><span>56</span></a>
                            <h5>已處理</h5>
                        </li>
                        <li class="not-yet">
                            <a class="circle"><span>206</span></a>
                            <h5>未處理</h5>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="col-block">
                <div class="block-header has-border">
                     <h3>陸藉訪問生</h3>
                </div>
                <div class="block-content">
                    <div class="col-md-6 mb-3">
                        <select class="mdb-select">
                            <option selected>請切換學期</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </div>
                    <ul class="review-data clearfix">
                        <li class="total">
                            <a class="circle"><span>262</span></a>
                            <h5>總件數</h5>
                        </li>
                        <li class="already">
                            <a class="circle"><span>56</span></a>
                            <h5>已處理</h5>
                        </li>
                        <li class="not-yet">
                            <a class="circle"><span>206</span></a>
                            <h5>未處理</h5>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="col-block">
                <div class="block-header has-border">
                     <h3>陸藉訪問研究生</h3>
                </div>
                <div class="block-content">
                    <div class="col-md-6 mb-3">
                        <select class="mdb-select">
                            <option selected>請切換學期</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </div>
                    <ul class="review-data clearfix">
                        <li class="total">
                            <a class="circle"><span>262</span></a>
                            <h5>總件數</h5>
                        </li>
                        <li class="already">
                            <a class="circle"><span>56</span></a>
                            <h5>已處理</h5>
                        </li>
                        <li class="not-yet">
                            <a class="circle"><span>206</span></a>
                            <h5>未處理</h5>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</main>

<% content_for :js do %>
    <script>
		$(document).ready(function() {
            $('.mdb-select').material_select();
		});
    </script>
<% end %>