<footer class="footer">
	<div class="container clearfix">
        <div class="float-left">
            <div class="contact"><!-- 英文版 -->
                <p>NKUST Office of International ffairs</p>
                <p>No. 415,Jiangong Rd., Sanmin Dist., Kaohsiung City 80778, Taiwan</p>
                <p>TEL: +886-7-3814526  </p>
                <p>Email: <a href="mailto:qaoffice02@ncku.edu.tw">qaoffice02@ncku.edu.tw</a></p>
                <p class="browser-support">Browser Support Firefox、Chrome 或 IE11+</p>
            </div>
        </div>
        <address class="float-right">Copyright © 2019 NKUST OIA All Rights Reserved.</address>
	</div>
</footer>
