<header class="header">
    <div class="container">
		<div class="header-language">
			<a href="#" class="current">中文</a>
			<a href="#">English</a>
		</div>
		<div class="header-wrap">
			<div class="brands">
				<a class="d-flex" href="overview.html">
                    <div class="logo">
                        <h1 class="text-hide">國立高雄科技大學</h1>
                        <img class="h1-logo" src="../assets/logo.png" />
                    </div>
                    <div class="sub">
                        <span>2020春季班國際學位生申請</span>
						<span class="en">2020 spring class international degree student application</span>
                    </div>
				</a>
			</div>
			<div class="account dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					Hi, Scarlett Johansson
				</a>
				<div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
					<a class="dropdown-item" href="#">Change Password</a>
					<a class="dropdown-item" href="#">Logout</a>
				</div>
			</div>
		</div>
    </div>
</header>