<header class="header">
    <div class="container">
		<div class="header-language">
			<a href="#">中文</a>
			<a href="#" class="current">English</a>
		</div>
		<div class="header-wrap">
			<div class="brands">
				<a class="d-flex" href="index.html">
                    <div class="logo">
                        <h1 class="text-hide">國立高雄科技大學</h1>
                        <img class="h1-logo" src="../assets/logo.png" title="國立高雄科技大學 National Kaohsiung University of Science and Technology">
                    </div>
                    <div class="sub">
                        <span>2020春季班國際學位生申請</span>
						<span class="en">2020 spring class international degree student application</span>
                    </div>
				</a>
			</div>
			<div class="account account-action">
				<a class="" href="#">Login</a>
			</div>
		</div>
    </div>
</header>