<header class="header">
    <div class="container">
		<div class="header-language">
			<a href="#">中文</a>
			<a href="#" class="current">English</a>
		</div>
		<div class="header-wrap">
			<div class="brands">
				<a class="d-flex" href="index.html">
                    <div class="logo">
                        <h1 class="text-hide">國立高雄科技大學</h1>
                        <img class="h1-logo" src="../assets/logo.png" />
                    </div>
                    <div class="sub">
                        <span>國際短期 / 研修課程</span>
						<span class="en">International training camp</span>
                    </div>
				</a>
			</div>
			<div class="account account-action has-register">
				<a class="" href="#">Register</a>
				<a class="" href="#">Login</a>
			</div>
		</div>
    </div>
</header>