<footer class="footer">
	<div class="container-lg">
		<div class="footer-inner">
			<div class="block-transition">
                <div class="ft-block central-content">
                    <ul class="menu-item contact">
                        <li>
                            <i class="fas fa-map-marker-alt"></i>
                            407臺中市西屯區文華路100號(逢甲大學)
                        </li>
                        <li>
                            <i class="fas fa-phone-alt"></i>
                            (04)2451-7250 分機：2486
                        </li>
                        <li>
                            <i class="fas fa-envelope"></i>
                            <a href="mailto:lmmf111@o365.fcu.edu.tw">lmmf111@o365.fcu.edu.tw</a>
                        </li>
                    </ul>
                </div>
			</div>
            <div class="ft-block end-content">
                Browser support
                <a href="https://www.google.com/intl/zh-TW/chrome/">Google Chrome</a>,
                <a href="https://www.mozilla.org/zh-TW/firefox/new/">Firefox</a> or
                <a href="https://www.microsoft.com/zh-tw/edge">IE11+</a>
            </div>
		</div>
	</div>
</footer>