<input type="checkbox" class="sr-only sidebar-ctrler" id="v-nav-primary" checked>
<div class="vertical_nav sidebar sidebar--primary">
    <div class="sidebar__header media">
        <div class="logo-left">
            <h1 class="logo"><a class="logo__link" href="/"><img class="logo__img" src="../assets/logo-tmu-white.png" alt="back" title="admin" width="120" height="30" /></a></h1>
        </div>
        <div class="media-body text-right">
            <label class="sidebar-ctrler--label" for="v-nav-primary"><i class="fa fa-ellipsis-v"></i></label>
        </div>
    </div>
    <div class="menu">
        <div class="sidebar-scroll">
            <ul class="nav">
                <li class="">
                    <a class="waves-effect" href="#">
                        <i class="fa fa-tachometer" title="Dashboard"></i>
                        <span class="menu-label">Dashboard</span>
                    </a>
                </li>
                <li class="">
                    <a class="waves-effect" href=#>
                        <i class="fa fa-list-ul" title="活動類別設定"></i>
                        <span class="menu-label">活動類別設定</span>
                    </a>
                </li>
                <li class="has-sub">
                    <a class="nav-ctrler waves-effect" href="###">
                        <i class="fa fa-sitemap" title="組織管理"></i>
                        <span class="menu-label">組織管理</span>
                        <i class="fa fa-angle-left leftNavIcon"></i>
                    </a>
                    <ul>
                        <li><a class="waves-effect" href="="#">學校單位</a></li>
                        <li><a class="waves-effect" href="="#">醫院單位</a></li>
                    </ul>
                </li>
                <li class="has-sub ">
                    <a class="nav-ctrler waves-effect" href="###">
                        <i class="fa fa-microphone" title="活動講演管理"></i>
                        <span class="menu-label">活動講演管理</span>
                        <i class="fa fa-angle-left leftNavIcon"></i>
                    </a>
                    <ul>
                        <li><a class="waves-effect" href="#">全部</a></li>
                        <li><a class="waves-effect" href="#">待審查</a></li>
                        <li><a class="waves-effect" href="#">已通過</a></li>
                        <li><a class="waves-effect" href="#">未通過</a></li>
                    </ul>
                </li>
                <li class="">
                    <a class="waves-effect" href="#">
                        <i class="fa fa-television" title="電視牆檔案下載"></i>
                        <span class="menu-label">電視牆檔案下載</span>
                    </a>
                </li>
                <li class="has-sub ">
                    <a class="nav-ctrler waves-effect" href="###">
                        <i class="fa fa-cogs" title="系統紀錄"></i>
                        <span class="menu-label">系統紀錄</span>
                        <i class="fa fa-angle-left leftNavIcon"></i>
                    </a>
                    <ul>
                        <li><a class="waves-effect" href="#">公文系統連棟紀錄</a></li>
                        <li><a class="waves-effect" href="#">iTMU App 同步紀錄</a></li>
                        <li><a class="waves-effect" href="#">學術活動網同步紀錄</a></li>
                        <li><a class="waves-effect" href="#">學校單位匯入紀錄</a></li>
                        <li><a class="waves-effect" href="#">醫院單位匯入紀錄</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
