<header class="header">
    <div class="header-bar">
		<div class="container">
            <a href="#U" id="AU" name="U" title="右上方功能區塊" accesskey="U" tabindex="3">:::</a>
            <ul class="header-toolbar menu-item">
                <li><a href="#" title="臺灣大學">臺灣大學</a></li>
				<li><a href="#" title="學務處">學務處</a></li>
                <li><a href="#" title="聯絡我們">聯絡我們</a></li>
                <li><a href="#" title="常見問題">常見問題</a></li>
                <li><a href="#" title="網站地圖">網站地圖</a></li>
                <li><a href="#" title="切換英文語系">English</a></li>
            </ul>
		</div>
    </div>
    <div class="header-wrap">
		<div class="container">
            <div class="brands">
                <a class="d-flex" href="index.html" title="國立臺灣大學 僑生及陸生輔導組" >
                    <div class="logo">
                        <h1 class="text-hide">國立臺灣大學</h1>
                        <img class="h1-logo" alt="僑生及陸生輔導組" src="../assets/gocfs-logo@2x.png" />
                        <img class="h1-calligraphy" alt="臺灣大學書法字" src="../assets/ntu-calligraphy-w.png" />
                    </div>
                    <div class="sub">
                        <span class="cht">學務處 | 僑生及陸生輔導組</span>
                        <span class="en">Overseas Students Advising Division, Office of Student Affairs, NTU</span>
                    </div>
                </a>
            </div>
            <form class="search-form">
                <input class="form-control" type="text" placeholder="全站搜尋" aria-label="Search" title="全站搜尋" accesskey="S" tabindex="14">
            </form>
		</div>
    </div>
    <nav class="navbar navbar-dark navbar-expand-lg">
		<div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <div class="header-bar mobile-only">
                    <ul class="header-toolbar menu-item">
                        <li><a href="#" title="臺灣大學">臺灣大學</a></li>
						<li><a href="#" title="學務處">學務處</a></li>
                        <li><a href="#" title="聯絡我們">聯絡我們</a></li>
                        <li><a href="#" title="常見問題">常見問題</a></li>
                        <li><a href="#" title="網站地圖">網站地圖</a></li>
                        <li><a href="#" title="切換英文語系">English</a></li>
                    </ul>
                </div>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#" title="關於本組">關於本組</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" title="僑生">僑生</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" title="陸生">陸生</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" title="獎助學金">獎助學金</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" title="工作證">工作證</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" title="僑健保">僑健保</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" title="相簿">相簿</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" title="行事曆">行事曆</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" title="緊急聯絡電話">緊急聯絡電話</a>
                    </li>
                    <li class="nav-item mobile-only">
                        <form class="search-form">
                            <input class="form-control" type="text" placeholder="全站搜尋" aria-label="Search" title="全站搜尋" accesskey="S" tabindex="14">
                        </form>
                    </li>
                </ul>
            </div>
		</div>
    </nav>
</header>