
/* Elves Theme ---------------------------------------------------------------------------*/
@import "widgets/elvesTheme";

/* `Expansion
-----------------------------------------------------------------------------*/

.col-block {
	&.bg-transparent {
		color: #131313;
		.block-content, .block-header, .block-footer {
			padding-left: 0;
			padding-right: 0;
		}
	}
	&.bg-transparent + .bg-transparent {
        margin-top: 2rem !important;
	}
}

.bb-snap {
	margin-bottom: 1rem !important;
	position: relative;
	font-size: 1.375rem;
	color: rgba(56, 55, 70, 0.95);
	&:before {
		content: "";
		background: $purple_color;
		width: 40px;
		height: 1px;
		position: absolute;
		left: 1px;
		bottom: -12px;
	}
}

.custom-tooltip {
	.fa {
        font-size: 1.25rem;
        color: $blue;
	}
}

.extend-con {
	background: rgba(#fff, .5);
	border-radius: 0.375rem;
	border: 1px solid #e1eaea;
    margin-bottom: 1rem;
    padding: 1rem;
}

.basic-form {
	padding-left: 1.875rem;
    label {
		font-weight: bold;
		color: #1b1f1f;
	}
    label.custom-control-label {
		font-weight: 400;
		color: #232524;
	}
	&.has-bg {
		background: #fff;
		padding: 1.875rem;
	}
	.col-block {
		box-shadow: none;
	}
}

.input-group {
	.status-confirm,
	.status-danger {
		position: absolute;
		right: 0.5rem;
		top: 0.625rem;
		z-index: 4;
		.fa { font-size: 1.25rem; }
	}
	.status-confirm {
		color: rgba($custom-success, .7);
	}
	.status-danger {
		color: rgba($warning_color, .7);
	}
}

.add-select-container {
	position: relative;
	padding-right: 90px;
	.btn {
		margin: 0;
		padding: .5625rem 1.625rem;
		position: absolute;
		right: 0;
		top: 0;
	}
}

.add-select-wrap {
	border-radius: 0.8rem;
	background: #f8faff;
	margin-top: 1rem;
	padding: 1.5rem 1.5rem 1rem;
	ul {
		display: flex;
		flex-wrap: wrap;
	}
	li {
		display: flex;
		align-items: center;
		margin: 0 0.5rem 0.5rem 0 !important;
		span {
			border-radius: 1.1875rem;
			background: #fff;
			border: 1px solid #b9dcd9;
			padding: 0.25rem 0.25rem 0 1rem;
			color: #747979;
			transition: all 0.2s ease-in-out;
		}
		.btn-cancel {
			border-radius: 50%;
			box-shadow: none;
			margin: -0.25rem 0 0;
		    padding: 0;
			width: 2rem;
			height: 2rem;
			color: #999;
			line-height: 2rem;
			opacity: .5;
			.fa { margin-right: 0; }
			&:hover {
				color: $custom-danger;
				opacity: .75;
			}
		}
		&:hover {
			span {
				border-color: #7cbfb9;
				color: #1c2121;
			}
		}
	}
	ul.vertical-item {
		display: block;
		li {
			margin-right: 0 !important;
			span {
				padding: .25rem 1rem 0 .25rem;
			}
		}
	}
}

.form-action {
	border-top: 1px solid $base_border_color;
	margin-top: 1rem;
	padding-top: 2rem;
}

.form-group {
	.form-info { font-size: 0.875rem; }
}

.md-form.md-outline + .form-info {
	margin: -1rem 0 .75rem;
}

.md-form.md-outline + .custom-control {
	margin-top: -.5rem;
}

.md-form.input-with-post-icon .input-prefix {
    right: 0;
    width: 8rem;
    height: 32px;
    line-height: 32px;
    text-align: right;
    padding-right: 1rem;
	&.active {
		//color: $main_color;
	}
}

.text-light-purple { color: $light_purple !important; }

.btn-pick {
	box-shadow: none;
	background-color: transparent;
	border-radius: 10em;
	border: 1px solid #c5cece;
	padding: 0.375rem 2rem 0.25rem;
	color: $main_color;
	text-align: center;
	&:hover, &:focus, &:active {
	    box-shadow: none;
		border-color: $main_color;
	}
}

.modal-dialog.modal-agency {
	min-width: 640px;
	width: 640px;
}

.btn-flex-group {
	a {
		display: flex;
		align-items: center;
		border-left: none !important;
		&:first-child { border-left: 1px solid #e5e5e5 !important; }
	}
}

.menu-item-border {
	li {
		border-bottom: 1px dashed #ddd;
		padding: .5rem .5rem .5rem 1.5rem  !important;
		position: relative;
		&:before {
			content: "";
			border-radius: 50%;
			background: #fff;
			border: 2px solid #ececec;
			box-shadow: 0 2px 2px rgba(#000, .5);
			width: .625rem;
			height: .625rem;
			position: absolute;
			left: 0;
			top: 35%;
		}
		&:last-child {
			border: none;
		}
	}
}

.upcoming-menu {
	li {
		display: flex;
		justify-content: space-between;
		align-items: center;
		border-bottom: 1px solid #eee;
		padding: .625rem 1rem .5rem 2.5rem !important;
		position: relative;
		&:after {
			content: "\f0f6";
			margin-top: -.5rem;
			font: normal normal normal 1rem/1 FontAwesome;
			color: #a6b1d0;
			position: absolute;
			left: .5rem;
			top: 35%;
		}
		&:hover {
			background: #f6f9fd;
		}
	}
	.upcoming-title {
		margin-bottom: 0;
		font-size: 1.0625rem;
	}
	.upcoming-info {
		margin-bottom: 0;
		font-size: .9375rem;
		color: #8c9493;
	}
	.date {
		color: #999;
	}
}

.block-scrollbar {
    .scroll-wrapper {
		max-height: 560px;
    }
}

.unread-menu {
	li {
		display: flex;
		justify-content: space-between;
		align-items: center;
		border-bottom: 1px solid #eee;
		padding: 1rem 1rem 1rem 0 !important;
		.contact, .contact-info { margin-bottom: 0; }
		&:hover { background: #f6f9fd; }
	}
	.item-start {
		padding-left: 4.5rem;
		position: relative;
		img {
			border-radius: 50%;
			width: 3rem;
			height: 3rem;
			position: absolute;
			left: .5rem;
			top: -0.125rem;
		}
		.contact { font-size: 1.0625rem; }
		.contact-info {
			font-size: .9375rem;
			color: #888;
		}
	}
	.item-end {
		text-align: right;
		span {
			display: block;
			font-size: .9375rem;
		}
	}
}


/* `Sign Up Process
-----------------------------------------------------------------------------*/

.signup-process {
	.process-list {
		padding: 2rem 0;
		position: relative;
		&:after {
            content: "";
            border-radius: 1px;
            background: #c5cece;
            width: 2px;
            position: absolute;
            left: 31px;
            top: 0;
            bottom: 0;
            z-index: 0;
		}
	}
	.process-item {
		position: relative;
		margin-bottom: 2rem;
		padding-left: 6rem;
		min-height: 6rem;
		.status {
			border-radius: 50%;
			background: #fff;
			//border: 2px solid $process-light;
			width: 4rem;
			height: 4rem;
			text-align: center;
			line-height: 4rem;
			position: absolute;
			left: 0;
			top: 0.375rem;
			z-index: 2;
		}
		.label { margin-bottom: 0; }
	}
	
    .label__checkbox {
        display: none;
    }

    .label__check {
        display: inline-block;
        border-radius: 50%;
        border: 5px solid rgba($process-light, 0.4);
        background: white;
        vertical-align: middle;
        width: 4rem;
        height: 4rem;
        cursor: pointer;
		color: $process-light;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: border 0.3s ease;

        i.icon {
            opacity: 0.5;
            font-size: 2rem;
			//font-size: calc(1rem + 1vw);
            //color: transparent;
            transition: opacity 0.3s 0.1s ease;
            //-webkit-text-stroke: 3px rgba(0, 0, 0, 0.5);
        }

        &:hover {
            border: 5px solid rgba($process-light, 0.9);
        }
    }

    .label__checkbox:checked + .label__text .label__check {
        animation: check 0.5s cubic-bezier(0.895, 0.03, 0.685, 0.22) forwards;

        .icon {
            opacity: 1;
            transform: scale(0);
            color: white;
            -webkit-text-stroke: 0;
            animation: icon 0.3s cubic-bezier(1, 0.008, 0.565, 1.65) 0.1s 1 forwards;
        }
    }

    @keyframes icon {
        from {
            opacity: 0;
            transform: scale(0.3);
        }
        to {
            opacity: 1;
            transform: scale(1);
        }
    }

    @keyframes check {
        0% {
            width: 1.5em;
            height: 1.5em;
            border-width: 5px;
        }
        10% {
            width: 1.5em;
            height: 1.5em;
            opacity: 0.1;
            background: rgba(0, 0, 0, 0.2);
            border-width: 15px;
        }
        12% {
            width: 1.5em;
            height: 1.5em;
            opacity: 0.4;
            background: rgba(0, 0, 0, 0.1);
            border-width: 0;
        }
        50% {
            width: 4rem;
            height: 4rem;
            background: #25d400;
            border: 0;
            opacity: 0.6;
        }
        100% {
            width: 4rem;
            height: 4rem;
            background: #51d845;
            border: 0;
            opacity: 1;
        }
    }
	
	.process-wrap {
		border-radius: 0.5rem;
		box-shadow: 0 1px 1px rgba(#000, .05);
		background: #fff;
		.wrap-hd, .wrap-bd {
			padding: 1rem;
		}
		.wrap-hd {
			border-bottom: 1px solid #e1eaea;
			position: relative;
			&:after {
				content: "";
				background: $body_background;
				border-radius: 0 0.25rem 0.25rem 0;
				box-shadow: -1px 1px 1px rgba(#000, .05) inset;
				width: 0.5rem;
				height: 1rem;
				position: absolute;
				left: 0;
				top: 1.25rem;
			}
			.wrap-title {
				margin-bottom: .25rem;
				font-weight: 700;
				color: rgba(#3b4a49, 1);
			}
			.brief {
				margin-bottom: 0;
				font-size: 0.9375rem;
				color: #5b9e98;
			}
		}
		.form-group {
			margin-bottom: 2rem;
		}
	}
}

.custom-select2-wrap {
	display: flex;
	margin-top: 0.75rem;
	.wrap-select2 {
		flex-grow: 1;
	}
	.wrap-action {
		padding-left: 0.5rem;
		.btn-md {
			display: inline-block;
			margin: 0;
			padding: .5rem 1rem;
		}
	}
}

.custom-full-select2 {
    min-width: 100%;
    & + .select2-container--default .select2-selection--single {
        border-color: #ced4da;
        height: 38px;
        .select2-selection__rendered {
            line-height: 38px;
        }
        .select2-selection__arrow {
            height: 36px;
        }
    }
}

/* `Management
-----------------------------------------------------------------------------*/

$menEqualHeight: 74px;

.management-wrapper {
	background: #fff;
	margin-bottom: 1.25rem;
	.enable-container {
		display: flex;
		.switchbar{
			border-right: 1px solid $base_border_color;
			width: 300px;
			position: relative;
			left: 1px;
		}
		.switchbar-hd {
			display: flex;
			align-items: center;
			border-bottom: 1px solid $base_border_color;
			margin-bottom: 0;
			padding: 1rem 1.875rem;
			min-height: $menEqualHeight;
		}
		.immediate-wrapper {
			border-left: 1px solid $base_border_color;
			flex: 1;
		}
	}
    .management-bar {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        border-bottom: 1px solid $base_border_color;
        padding: .5rem 1.875rem;
        min-height: $menEqualHeight;
        position: relative;
		.btn-previous {
			background: #e6e8e8 !important;
			border-radius: 0;
			border-right: 1px solid $base_border_color;
			box-shadow: none;
			margin: 0;
			line-height: 52px;
			position: absolute;
			left: 0;
			top: 0;
			bottom: 0;
			&:hover {
				background: #fff !important;
			}
		}
    }
}

.narrow-wrapper { width: 960px; }

.switch-pill {
	display: inline-block;
	border-radius: 10rem;
	background: #b2a4ff;
	margin-right: .5rem;
	width: 20px;
	height: 15px;
	position: relative;
	top: -2px;
}

.preview-btn-group {
    .btn {
        border-color: $light-assist;
        &:first-child,
        &:last-child { border-radius: 0 !important; }
        .fa {
            margin-right: 0.375rem !important;
            color: #c7cece;
            transition: all 0.2s ease-in-out;
        }
        .fa-mobile {
            font-size: 1.375rem;
        }
        &:hover {
            background: #f2f9f9;
            box-shadow: none !important;
            color: #111;
            .fa { color: $dark-assist; }
        }
    }
	.text-preview {
		display: inline-block;
		margin-right: 0.5rem;
		color: #808c8b;
	}
}


.language-btn-group {
	margin-left: 1rem;
	.btn {
		border-color: transparent !important;
		& + .btn {
			border-left: 1px solid #238e84 !important;
		}
		&:hover {
			background: #238e84 !important;
		}
		&.current {
			background: #238e84 !important;
			cursor: default;
		}
	}
	.text-preview {
		display: inline-block;
		margin-right: 0.5rem;
		color: #808c8b;
	}
}

.menu-switch-item {
	li {
		border-bottom: 1px dashed $base_border_color;
		padding: 0 1.875rem !important;
		color: #738280;
	}
    input[type="checkbox"] {
        height: 0;
        width: 0;
        visibility: hidden;
    }
    label {
        display: block;
		margin-bottom: 0;
		padding: 1.25rem 0 1.25rem 64px;
		cursor: pointer;
        position: relative;
		transition: 0.3s;
		&:before {
            content: "";
            position: absolute;
            top: 18px;
            left: 0;
            width: 50px;
            height: 25px;
            background: #878e8d;
            border-radius: 25px;
            transition: 0.3s;
		}
		&:after {
            content: "";
            position: absolute;
            top: 20px;
            left: 2px;
            width: 21px;
            height: 21px;
            background: #fff;
            border-radius: 21px;
            transition: 0.3s;
		}
    }
	input:checked + label {
		font-weight: 700;
		color: #000;
	}
    input:checked + label:before {
        background: #68c36b;
    }
    input:checked + label:after {
        left: calc(50px - 2px);
        transform: translateX(-100%);
    }
	input:disabled + label:before {
		background: #9283e4;
	}
    label:active:after {
        width: 32px;
    }
}

.management-slider {
	.slider-item {
		display: flex;
		align-items: center;
		border-bottom: 1px solid #eaf0f7;
		padding: 1.875rem;
		&:last-child { border-bottom: none; }
		.image-wrap {
			img {
				display: block;
				border-radius: .375rem;
				width: auto;
				height: 176px;
			}
		}
	}
	.slider-sort {
		padding-right: 1.875rem;
		.btn {
			padding-left: 1rem;
			padding-right: 1rem;
			&:hover { color: $main_color; }
			.fa { font-size: 1.5rem; }
		}
	}
	.img-introduction {
		flex: 1;
		padding-left: 1.875rem;
	}
	.action {
		.btn {
			padding: .375rem 1rem;
			margin: 0;
		}
	}
}

.management-announcement { padding: 1.875rem; }





