
.process-item {
	display: flex;
	flex-wrap: wrap;
	li {
		display: flex;
		background: #fff;
		border-radius: 5px;
		margin-right: 1.333% !important;
		margin-bottom: 1rem !important;
		width: 24%;
		&:nth-child(4n) { margin-right: 0 !important; }
	}
	.process-icon, .process-body {
		padding: 1rem;
	}
	.process-icon {
		display: flex;
		align-items: center;
		background: #afc2d0;
		border-radius: 5px 0 0 5px;
		width: 20%;
		text-align: center;
		.fa {font-size: 18px;
			width: 100%;
			color: #fff;
		}
	}
	.process-body {
		width: 80%;
		p {
			margin-bottom: 0;
			color: #777;
		}
		.badge {
			background: #16a598 !important;
			border-radius: 5rem;
			margin-left: .5rem;
			padding: 0.375em 1em 0.25em;
			font-size: 100%;
			    transition: all 0.2s ease-in-out;
		}
	}
	a:hover .badge {
		background: #de45f1 !important;
	}
	.process-title {
		border-bottom: 1px dashed #e5e5e5;
		margin-bottom: 0.75rem;
		padding-bottom: 0.75rem;
		font-weight: 400;
		font-size: 1.1rem;
	}
}

.personal-info {
	text-align: left;
	span { display: inline-block; }
	.label {
		float: left;
		width: 35%;
		text-align: right;
	}
	.detail {
		float: right;
		width: 60%;
	}
}