<!-- ntu: 師資班 - 申請紀錄 -->

<div class="container-lg">
	<div class="page-content">
	    <aside class="aside offcanvas-collapse">
			<div class="scrollbar-inner">
				<div class="user-wrapper">
				    <p><i class="far fa-user-circle"></i></p>
                    <div class="dropdown">
                        <button class="dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Angela Winson
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Change password</a></li>
                            <li><a class="dropdown-item" href="#">Log out</a></li>
                        </ul>
                    </div>
				</div>
		        <div class="sidenav">
                    <ul class="navigation menu-item">
                        <li><a class="nav-item" href="#">Home</a></li>
                        <li><a class="nav-item current" href="#">Registration Records</a></li>
                    </ul>
				</div>
			</div>
		</aside>
		<div id="widget-overlay"></div>
		<main class="main">
		    <div class="application-applying-wrapper">
			    <div class="wrapper-inner">
				    <div class="applying-item status-one">
					    <h4 class="status">申請中</h4>
						<ul class="menu-item">
						    <li>
							    <h5>2022 春季師資班班</h5>
								<p class="date">2022/06/01 ~ 2022/09/31</p>
							</li>
						</ul>
						<a href="#" class="btn btn-outline-cld">前往</a>
					</div>
					<div class="applying-item status-two">
					    <h4 class="status">審查中</h4>
						<ul class="menu-item">
						    <li>
							    <h5>2022 假字文案師資班</h5>
								<p class="date">2022/06/01 ~ 2022/09/31</p>
							</li>
						</ul>
						<a href="#" class="btn btn-outline-cld">前往</a>
					</div>
					<div class="applying-item status-three">
					    <h4 class="status">待補件</h4>
						<ul class="menu-item">
						    <li>
							    <h5>2022 辛亥路二段師資班</h5>
								<p class="date">2022/06/01 ~ 2022/09/31</p>
							</li>
						</ul>
						<a href="#" class="btn btn-outline-cld">前往</a>
					</div>
				</div>
			</div>
			
			<div class="application-pass-wrapper">
			    <h5 class="fw-bold mb-0">已申請通過紀錄</h5>
                <section class="lessons-section">
					<div class="rwd-container">
                        <div class="record-table">
                            <div class="record-cell">
                                <span class="record-row">狀態</span>
                                <span class="record-row">申請核可待繳費</span>
                            </div>
                            <div class="record-cell">
                                <span class="record-row">課程名稱</span>
                                <span class="record-row">2022 春季師資班</span>
                            </div>
                            <div class="record-cell">
                                <span class="record-row">上課日期</span>
                                <span class="record-row">2022/06/01 ~ 2022/09/31</span>
                            </div>
                            <div class="record-cell">
                                <span class="record-row">申請截止日期</span>
                                <span class="record-row">額滿為止</span>
                            </div>
                            <div class="record-cell">
                                <span class="record-row">註冊日期</span>
                                <span class="record-row">2022/05/01</span>
                            </div>
                            <div class="record-cell">
                                <span class="record-row">申請資料</span>
                                <span class="record-row">
                                    <a href="#" class="btn btn-cld">前往</a>
                                </span>
                            </div>
                        </div>
					</div>
                </section>
			</div>
		</main>
	</div>
</div>



<% content_for :js do %>
    <!-- sidenav scrollbar -->
    <script src="../javascripts/jquery.scrollbar.min.js"></script>
    <script>
        jQuery(document).ready(function(){
            jQuery('.scrollbar-inner').scrollbar();
        });
	</script>

    <!-- sidenav open -->
	<script>
        (function () {
          'use strict'

          document.querySelector('#navbarSideCollapse').addEventListener('click', function () {
            document.querySelector('.offcanvas-collapse').classList.toggle('open')
          })
        })()
	</script>

    <!-- sidenav close -->
    <script>
        $("#widget-overlay").click(function(){
            $(".offcanvas-collapse").removeClass("open");
        });
	</script>
<% end %>

