<!-- ntu: 師資班 - STEP1: 申請表填寫 -->

<div class="container-lg">
	<div class="page-content">
	    <aside class="aside offcanvas-collapse">
			<div class="scrollbar-inner">
				<div class="user-wrapper">
				    <p><i class="far fa-user-circle"></i></p>
                    <div class="dropdown">
                        <button class="dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Angela Winson
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Change password</a></li>
                            <li><a class="dropdown-item" href="#">Log out</a></li>
                        </ul>
                    </div>
				</div>
		        <div class="sidenav">
                    <ul class="navigation step-navigation menu-item">
                        <li>
							<a class="nav-item current" href="#">
								<span class="step-small">Step 1</span>
								<span class="step-briefly">申請表填寫</span>
							</a>
						</li>
                        <li>
							<a class="nav-item" href="#">
								<span class="step-small">Step 2</span>
								<span class="step-briefly">文件上傳</span>
							</a>
						</li>
						<li>
							<a class="nav-item" href="#">
								<span class="step-small">Step 3</span>
								<span class="step-briefly">預覽申請資料</span>
							</a>
						</li>
                    </ul>
				</div>
			</div>
		</aside>
		<div id="widget-overlay"></div>
		<main class="main">
			<h2 class="mb-4">申請表填寫</h2>
		    <div class="notice-wrapper">
			    <h4 class="notice-title">注意事項</h4>
				<p><%= lorem_paragraph %></p>
				<ol>
					<% (1..3).map do |i| %>
				    <li><%= lorem_sentence %></li>
					<% end %>
				</ol>
			</div>
			
			<!-- 表單欄位有些可能帶資料進來，但都可以修改，在此 prototype 省略 value -->
			<section class="application-section">
                <h4 class="section-title">
                    <span>退費與各項規定</span>
                </h4>
				<p class="text-danger"><span class="required">*</span> 所有欄位皆為必填</p>
                <div class="form-group">
                    <label class="form-label">
                        本期課程為到校實體上課，請戴口罩上課，若因疫情關係，配合政府或校方規定，隨時可能改為線上授課(或授課教師確診)，請確認家中電腦設備與網路速度是否可以配合，以上是否了解並能配合。
                    </label>
                    <div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="covid-19" id="covid-19_Yes" value="option1" />
                            <label class="form-check-label" for="covid-19_Yes">了解並能完全配合</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="covid-19" id="covid-19_No" value="option2" />
                            <label class="form-check-label" for="covid-19_No">無法配合</label>
                        </div>
                    </div>
                </div>
				<div class="row">
				    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="form-label">
                                報名方式
                            </label>
                            <div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="covid-19" id="covid-19_Yes" value="option1" />
                                    <label class="form-check-label" for="covid-19_Yes">個人報名</label>
                                </div>
                                <div class="d-inline-block">
                                    <div class="d-flex align-items-center">
                                        <div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="covid-19" id="covid-19_No" value="option2" />
                                                <label class="form-check-label" for="covid-19_No">團體報名</label>
                                            </div>
										</div>
                                        <div>
										    <input type="text" class="form-control" id="" placeholder="團報朋友姓名" />
										</div>
                                    </div>
                                </div>
                            </div>
                        </div>
					</div>
					<div class="col-lg-6">
						<div class="form-group">
                            <label class="form-label">
                                報名課程
                            </label>
                            <select class="form-select" aria-label="Default select example">
                                <option value="1">2022 春季師資班(2022/06/01 ~ 2022/09/31)</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                            </select>
						</div>
					</div>
				</div>
				
				<div class="row">
					<div class="col-md-6">
                        <div class="form-group">
                            <label for="chName" class="form-label">
                                中文姓名
                            </label>
                            <input type="text" class="form-control" id="chName" value="安吉拉威爾遜" />
							<div class="form-text">須與身分證相同，如有改名，請寄送相關文件以資證明</div>
                        </div>
					</div>
				    <div class="col-md-6">
					    <div class="form-group">
                            <label for="enName" class="form-label">
                                英文姓名
                            </label>
                            <input type="text" class="form-control" id="enName" />
							<div class="form-text">須與護照相同，製作結業證書使用</div>
                        </div>
					</div>
					<div class="col-md-6">
                        <div class="form-group">
                            <label class="form-label">
                                性別
                            </label>
                            <div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="genderRadio" id="maleRadio" value="option1" />
                                    <label class="form-check-label" for="maleRadio">男</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="genderRadio" id="femaleRadio" value="option2" />
                                    <label class="form-check-label" for="femaleRadio">女</label>
                                </div>
							</div>
                        </div>
					</div>
					<div class="col-md-6">
					    <div class="form-group">
                            <label for="idNumber" class="form-label">
                                身分證字號
                            </label>
                            <input type="text" class="form-control" id="idNumber" />
                        </div>
					</div>
					<div class="col-md-6">
                        <div class="form-group">
                            <label class="form-label">
                                出生日期
                            </label>
                            <div class="input-group date" id="datepicker">
                                <input class="form-control" placeholder="MM/DD/YYYY" />
                                <span class="input-group-append input-group-addon">
                                    <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                                </span>
                            </div>
                        </div>
					</div>
				</div>
				
				<div class="row">
				    <div class="col-md-6">
					    <div class="form-group">
                            <label for="graduatedSchool" class="form-label">
                                畢業學校
                            </label>
                            <input type="text" class="form-control" id="graduatedSchool" />
							<div class="form-text">如果是在校生，請填寫就讀學校</div>
                        </div>
					</div>
					<div class="col-md-6">
					    <div class="form-group">
                            <label for="graduatedDepartment" class="form-label">
                                畢業科系
                            </label>
                            <input type="text" class="form-control" id="graduatedDepartment" />
							<div class="form-text">如果是在校生，請填寫就讀科系</div>
                        </div>
					</div>
					<div class="col-md-6">
					    <div class="form-group">
                            <label for="serviceUnit" class="form-label">
                                服務單位
                            </label>
                            <input type="text" class="form-control" id="serviceUnit" />
							<div class="form-text">授課教師分組討論參考用，就學請填寫校名，無請寫待業</div>
                        </div>
					</div>
					<div class="col-md-6">
					    <div class="form-group">
                            <label for="jobTitle" class="form-label">
                                職稱
                            </label>
                            <input type="text" class="form-control" id="jobTitle" />
							<div class="form-text">授課教師分組討論參考用</div>
                        </div>
					</div>
					<div class="col-md-6">
					    <div class="form-group">
                            <label for="phoneNumber" class="form-label">
                                室內電話
                            </label>
                            <input type="text" class="form-control" id="phoneNumber" />
                        </div>
					</div>
					<div class="col-md-6">
					    <div class="form-group">
                            <label for="mobileNumber" class="form-label">
                                行動電話
                            </label>
                            <input type="text" class="form-control" id="mobileNumber" />
                        </div>
					</div>
					<div class="col-md-6">
					    <div class="form-group">
                            <label for="emailAddress" class="form-label">
                                電子信箱
                            </label>
                            <input type="email" class="form-control" id="emailAddress" />
                        </div>
					</div>
				</div>
				
				<div class="row">
					<div class="col-md-2">
					    <div class="form-group">
                            <label for="postalCode" class="form-label">
                                郵遞區號
                            </label>
                            <input type="text" class="form-control" id="postalCode" />
							<div class="form-text"><a href="#" target="_blank">郵遞區號查詢</a></div>
                        </div>
					</div>
					<div class="col-md-10">
					    <div class="form-group">
                            <label for="postalCode" class="form-label">
                                地址
                            </label>
                            <input type="text" class="form-control" id="postalCode" />
							<div class="form-text">如缺課時數與結業考試成績符合資格，中英文證書於課程結束後兩個月以掛號寄送此地址</div>
                        </div>
					</div>
				</div>
			</section>

			<div class="mb-5">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
                    <label class="form-check-label" for="flexCheckDefault">
                        是否已經詳閱了解退費規定？
                    </label>
					<div class="form-text">退費轉帳手續費30元，本辦法依教育部規定 <a href="http://cld.liberal.ntu.edu.tw/attchment/RefundPolicy-teacher.pdf" target="_blank">查閱退費規定</a></div>
                </div>
			</div>
			
			<div class="form-action">
                <button type="button" class="btn btn-lg btn-primary">暫存</button>
				<button type="button" class="btn btn-lg btn-light">下一步</button>
				<span class="backhome"><a href="#" class="btn btn-lg btn-link"><i class="fas fa-long-arrow-alt-left"></i> 回首頁</a></span>
			</div>
		</main>
	</div>
</div>



<% content_for :js do %>
    <!-- sidenav scrollbar -->
    <script src="../javascripts/jquery.scrollbar.min.js"></script>
    <script>
        jQuery(document).ready(function(){
            jQuery('.scrollbar-inner').scrollbar();
        });
	</script>

    <!-- sidenav open -->
	<script>
        (function () {
          'use strict'

          document.querySelector('#navbarSideCollapse').addEventListener('click', function () {
            document.querySelector('.offcanvas-collapse').classList.toggle('open')
          })
        })()
	</script>

    <!-- sidenav close -->
    <script>
        $("#widget-overlay").click(function(){
            $(".offcanvas-collapse").removeClass("open");
        });
	</script>

    <!-- date & time picker -->
    <script src="../javascripts/moment.min.js"></script>
    <script src="../javascripts/bootstrap-datetimepicker.min.js"></script>
    <script>
        if (/Mobi/.test(navigator.userAgent)) {
            // if mobile device, use native pickers
            $(".date input").attr("type", "date");
            $(".time input").attr("type", "time");
        } else {
            // if desktop device, use DateTimePicker
            $("#datepicker").datetimepicker({
                useCurrent: false,
                format: "DD-MMM-YYYY",
                showTodayButton: true,
                icons: {
                    next: "fa fa-chevron-right",
                    previous: "fa fa-chevron-left",
                    today: "todayText",
                },
            });
            $("#timepicker").datetimepicker({
                format: "LT",
                icons: {
                    up: "fa fa-chevron-up",
                    down: "fa fa-chevron-down",
                },
            });
        }
	</script>
<% end %>

