<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>National Taiwan University EMBA</title>
</head>
<body>
    <h1>National Taiwan University EMBA</h1>
    <%= yield %>
</body>
</html>
