<form>
	<h5 class="mb-4 font-700">Highest Level of Education</h5>
	<div class="data-block">
        <div class="row">
            <div class="col-4">
                <div class="form-group">
                    <label for="highestDegree">Degree</label>
                    <select class="browser-default custom-select">
                        <option selected>Please Select</option>
                        <option value="2000">High school</option>
                        <option value="1999">Bachelor</option>
                        <option value="1998">Master</option>
						<option value="1998">Doctor</option>
                    </select>
                </div>
            </div>
            <div class="col-8">
                <div class="form-group">
                    <label for="highestInstitution">Name of Institution</label>
                    <input type="text" class="form-control" id="highestInstitution" placeholder="">
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="locationInstitution">Location of Institution</label>
            <div class="form-row">
                <div class="col-8">
                    <input type="text" class="form-control" id="locationInstitution" placeholder="City, State">
                </div>
                <div class="col-4">
                    <select class="browser-default custom-select">
                        <option selected>Please select a country</option>
                        <option value="Afghanistan">Afghanistan</option>
                        <option value="Åland Islands">Åland Islands</option>
                        <option value="Albania">Albania</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label>Period of Study</label>
            <div class="form-row">
                <div class="col">
                    <select class="browser-default custom-select">
                        <option selected>Years</option>
                        <option value="2000">2000</option>
                        <option value="1999">1999</option>
                        <option value="1998">1998</option>
                    </select>
                </div>
                <div class="col">
                    <select class="browser-default custom-select">
                        <option selected>Month</option>
                        <option value="january">January</option>
                        <option value="february">February</option>
                        <option value="march">March</option>
                    </select>
                </div>
                <div class="col-1 text-center"><span class="d-block pt-1">to</span></div>
                <div class="col">
                    <select class="browser-default custom-select">
                        <option selected>Years</option>
                        <option value="2000">2000</option>
                        <option value="1999">1999</option>
                        <option value="1998">1998</option>
                    </select>
                </div>
                <div class="col">
                    <select class="browser-default custom-select">
                        <option selected>Month</option>
                        <option value="january">January</option>
                        <option value="february">February</option>
                        <option value="march">March</option>
                    </select>
                </div>
            </div>
        </div>
		<div class="form-group">
            <label for="inputProgram">Program</label>
            <input type="text" class="form-control" id="inputProgram" placeholder="">
        </div>
		<div class="form-group">
			<label>Graduation Certificate</label>
			<div class="form-row">
				<div class="col">
                    <div class="form-check form-check-inline pt-2">
                        <input type="checkbox" class="form-check-input" id="inlineExpected">
                        <label class="form-check-label" for="inlineExpected">Expected</label>
                    </div>
                    <div class="form-check form-check-inline pt-2">
                        <input type="checkbox" class="form-check-input" id="inlineObtained">
                        <label class="form-check-label" for="inlineObtained">Obtained</label>
                    </div>
				</div>
                <div class="col">
                    <select class="browser-default custom-select">
                        <option selected>Month</option>
                        <option value="january">January</option>
                        <option value="february">February</option>
                        <option value="march">March</option>
                    </select>
                </div>
				<div class="col">
                    <select class="browser-default custom-select">
                        <option selected>Years</option>
                        <option value="2000">2000</option>
                        <option value="1999">1999</option>
                        <option value="1998">1998</option>
                    </select>
                </div>
			</div>
        </div>
		<div class="form-group">
		    <label>Grade Average</label>
			<div class="form-inline">
                <input type="text" class="form-control mb-2 mr-sm-2">
				<span>out of</span>
				<input type="text" class="form-control mb-2 ml-sm-2">
			</div>
		</div>
		<div class="form-group">
            <label for="projectTopic">Thesis/Project Topic</label>
            <input type="text" class="form-control" id="projectTopic" placeholder="">
        </div>
		<div class="form-group">
            <label for="projectAdvisor">Thesis/Project Advisor</label>
            <input type="text" class="form-control" id="projectAdvisor" placeholder="">
        </div>
		<div class="form-group">
            <label for="fieldInterest">Field of Interest</label>
            <input type="text" class="form-control" id="fieldInterest" placeholder="">
        </div>
	</div>
	
	<div class="data-block pt-5"><!-- 第二筆資料出現刪除按鈕時才會多 pt-5 class name -->
        <div class="row">
            <div class="col-4">
                <div class="form-group">
                    <label for="highestDegree">Degree</label>
                    <select class="browser-default custom-select">
                        <option selected>Please Select</option>
                        <option value="2000">High school</option>
                        <option value="1999">Bachelor</option>
                        <option value="1998">Master</option>
						<option value="1998">Doctor</option>
                    </select>
                </div>
            </div>
            <div class="col-8">
                <div class="form-group">
                    <label for="highestInstitution">Name of Institution</label>
                    <input type="text" class="form-control" id="highestInstitution" placeholder="">
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="locationInstitution">Location of Institution</label>
            <div class="form-row">
                <div class="col-8">
                    <input type="text" class="form-control" id="locationInstitution" placeholder="City, State">
                </div>
                <div class="col-4">
                    <select class="browser-default custom-select">
                        <option selected>Please select a country</option>
                        <option value="Afghanistan">Afghanistan</option>
                        <option value="Åland Islands">Åland Islands</option>
                        <option value="Albania">Albania</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label>Period of Study</label>
            <div class="form-row">
                <div class="col">
                    <select class="browser-default custom-select">
                        <option selected>Years</option>
                        <option value="2000">2000</option>
                        <option value="1999">1999</option>
                        <option value="1998">1998</option>
                    </select>
                </div>
                <div class="col">
                    <select class="browser-default custom-select">
                        <option selected>Month</option>
                        <option value="january">January</option>
                        <option value="february">February</option>
                        <option value="march">March</option>
                    </select>
                </div>
                <div class="col-1 text-center"><span class="d-block pt-1">to</span></div>
                <div class="col">
                    <select class="browser-default custom-select">
                        <option selected>Years</option>
                        <option value="2000">2000</option>
                        <option value="1999">1999</option>
                        <option value="1998">1998</option>
                    </select>
                </div>
                <div class="col">
                    <select class="browser-default custom-select">
                        <option selected>Month</option>
                        <option value="january">January</option>
                        <option value="february">February</option>
                        <option value="march">March</option>
                    </select>
                </div>
            </div>
        </div>
		<div class="form-group">
            <label for="inputProgram">Program</label>
            <input type="text" class="form-control" id="inputProgram" placeholder="">
        </div>
		<div class="form-group">
			<label>Graduation Certificate</label>
			<div class="form-row">
				<div class="col">
                    <div class="form-check form-check-inline pt-2">
                        <input type="checkbox" class="form-check-input" id="inlineExpected">
                        <label class="form-check-label" for="inlineExpected">Expected</label>
                    </div>
                    <div class="form-check form-check-inline pt-2">
                        <input type="checkbox" class="form-check-input" id="inlineObtained">
                        <label class="form-check-label" for="inlineObtained">Obtained</label>
                    </div>
				</div>
                <div class="col">
                    <select class="browser-default custom-select">
                        <option selected>Month</option>
                        <option value="january">January</option>
                        <option value="february">February</option>
                        <option value="march">March</option>
                    </select>
                </div>
				<div class="col">
                    <select class="browser-default custom-select">
                        <option selected>Years</option>
                        <option value="2000">2000</option>
                        <option value="1999">1999</option>
                        <option value="1998">1998</option>
                    </select>
                </div>
			</div>
        </div>
		<div class="form-group">
		    <label>Grade Average</label>
			<div class="form-inline">
                <input type="text" class="form-control mb-2 mr-sm-2">
				<span>out of</span>
				<input type="text" class="form-control mb-2 ml-sm-2">
			</div>
		</div>
		<div class="form-group">
            <label for="projectTopic">Thesis/Project Topic</label>
            <input type="text" class="form-control" id="projectTopic" placeholder="">
        </div>
		<div class="form-group">
            <label for="projectAdvisor">Thesis/Project Advisor</label>
            <input type="text" class="form-control" id="projectAdvisor" placeholder="">
        </div>
		<div class="form-group">
            <label for="fieldInterest">Field of Interest</label>
            <input type="text" class="form-control" id="fieldInterest" placeholder="">
        </div>
		<a href="#" title="delete" class="btn-delete"><i class="fa fa-times"></i></a>
		<!-- 刪除按鈕點擊後應該跳出警告視窗再次確認 -->
		<!-- 刪除按鈕在第二筆資料才會出現 -->
	</div>
	<a href="#" class="add-btn">
	    <span class="btn btn-sm btn-blue-grey btn-rounded"><i class="fa fa-plus"></i> </span>
		<span class="text-black-50">Add a new one</span>
	</a>
    <div class="text-center mt-4">
        <a href="#" class="btn btn-default btn-lg">Save</a>
		<a href="#" class="btn btn-link btn-lg">Next</a>
    </div>
</form>



































