<header class="header">
    <div class="container">
		<div class="header-wrap">
			<div class="brands">
				<a href="#"><!-- 連結在申請步驟完成前是連到申請首頁，申請送出後改為申請資料瀏覽頁面 -->
                    <div class="logo">
                        <h1 class="text-hide">National Taiwan University</h1>
                        <img class="h1-logo" src="../assets/ntu-logo@2x.png" />
                    </div>
                    <div class="sub">
                        <span class="level-one">NTU Overseas Chinese</span>
                        <span class="level-two">Undergraduate Admission</span>
						<span class="level-three">School Recommaendation Portal</span>
                    </div>
				</a>
				<div class="academic-year">
					<span class="academic">Academic Year</span>
					<span class="years">2020</span>
				</div>
			</div>
		</div>
    </div>
</header>