/* `Footer
-----------------------------------------------------------------------------*/

footer.footer {
	padding-bottom: 60px;
    font-weight: 400;
	font-size: 15px;
	color: #999;
    .container { position: relative; }
	.footer-inner {
        border-top: 1px solid #e3eaeb;
        margin-top: 50px;
        padding: 50px 0;
	}
	h6 {
		font-size: 1rem;
		color: #777;
	}
    .browser-support { margin-top: 1rem; }
    .contact p, .language { line-height: 1.5; }
    .contact {
		float: left;
        p { margin-bottom: 0; }
		.fa {
			margin-right: 0.5rem;
			width: 1.125rem;
			text-align: center;
		}
    }
	.language {
		float: right;
		span, a { display: inline-block; }
		a {
			margin-left: 0.75rem;
			position: relative;
			&.en:after {
				content: "";
				background: #ddd;
				border-radius: 50%;
				width: 4px;
				height: 4px;
				position: absolute;
				right: -0.6rem;
				top: 40%;
			}
			&.selected {
				color: #333;
				cursor: default;
			}
		}
	}
}