<!-- tdrf: step2 確認資料 -->

<div class="title-wrapper">
	<div class="container-lg">
		<span class="serial-number">COURSE-00149</span>
	    <h2><span class="date">2022/06/15</span> 專業人員/免費《110年上市後醫療器材子法規及QMS系統說明會 II》</h2>
	</div>
</div>

<div class="container-lg">
	<div class="signup-container">
		<div class="step-wrapper">
            <ul class="menu-item step-menu">
                <li>
                    <span class="num">1</span>
                    <span class="summary">報名表</span>
                    <span class="text">填寫報名表所需資訊</span>
                </li>
                <li>
                    <span class="num">2</span>
                    <span class="summary">送出報名</span>
                    <span class="text">確認填寫內容並送出報名</span>
                </li>
                <li class="disabled">
                    <span class="num">3</span>
                    <span class="summary">繳費</span>
                    <span class="text">繳交課程費用</span>
                </li>
            </ul>
		</div>
        <div class="account-container">
            <h3 class="page-title">檢視申請資料</h3>
			<p>檢視各項填寫的資料</p>
            <div class="register-wrapper">
                <form>
					<fieldset disabled>
                        <div class="form-group">
                            <label for="exampleInputText1" class="form-label"><span class="required">*</span> 姓名</label>
                            <input type="text" class="form-control" id="exampleInputText1" value="史嘉蕾" />
                        </div>

                        <div class="form-group">
                            <label for="exampleInputEmail1" class="form-label"><span class="required">*</span> 電子信箱</label>
                            <input type="email" class="form-control" id="exampleInputEmail1" value="scarlettjohansson@gmail.com" />
                        </div>

                        <div class="form-group">
                            <label for="exampleInputText2" class="form-label">連絡電話</label>
                            <input type="text" class="form-control" id="exampleInputText2" value="0987654321" />
                        </div>

                        <div class="form-group">
                            <label for="exampleInputText4" class="form-label">現職 / 服務機構名稱</label>
                            <input type="text" class="form-control" id="exampleInputText4" value="黑寡婦 / 漫威" />
                        </div>

                        <div class="form-group">
                            <label class="form-label">長照人員類別</label>
                            <div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="typeRadio" id="typeRadio1" />
                                    <label class="form-check-label" for="typeRadio1">
                                        A 照顧服務人員
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="typeRadio" id="typeRadio2" />
                                    <label class="form-check-label" for="typeRadio2">
                                        B 居家服務督導員
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="typeRadio" id="typeRadio3" checked />
                                    <label class="form-check-label" for="typeRadio3">
                                        C 社會工作師、社會工作人員及醫事人員
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="typeRadio" id="typeRadio4" />
                                    <label class="form-check-label" for="typeRadio4">
                                        D 照顧管理專員及照顧管理督導
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="typeRadio" id="typeRadio5" />
                                    <label class="form-check-label" for="typeRadio5">
                                        E 長照服務相關計畫之人員
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="exampleInputText3" class="form-label">身分證字號</label>
                            <input type="text" class="form-control" id="exampleInputText3" value="F123456789" />
                        </div>

                        <div class="form-group">
                            <label class="form-label"><span class="required">*</span> 飲食</label>
                            <div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="foodRadio" id="foodRadio1" />
                                    <label class="form-check-label" for="foodRadio1">
                                        素
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="foodRadio" id="foodRadio2" checked />
                                    <label class="form-check-label" for="foodRadio2">
                                        葷
                                    </label>
                                </div>
                            </div>
                        </div>
					</fieldset>
                    <div class="my-5">
						<a href="signup_s1.html" class="btn btn-dark"><i class="fas fa-long-arrow-alt-left"></i> 上一步</a>
						<a href="signup_s2.html" class="btn btn-tdrf">下一步 <i class="fas fa-long-arrow-alt-right"></i></a>
                    </div>
					
                </form>
            </div>
        </div>
	</div>
</div>


<% content_for :js do %>

<% end %>