<!-- tdrf: step3 繳費 -->

<div class="title-wrapper">
	<div class="container-lg">
		<span class="serial-number">COURSE-00149</span>
	    <h2><span class="date">2022/06/15</span> 專業人員/免費《110年上市後醫療器材子法規及QMS系統說明會 II》</h2>
	</div>
</div>

<div class="container-lg">
	<div class="signup-container">
		<div class="step-wrapper">
            <ul class="menu-item step-menu">
                <li>
                    <span class="num">1</span>
                    <span class="summary">報名表</span>
                    <span class="text">填寫報名表所需資訊</span>
                </li>
                <li>
                    <span class="num">2</span>
                    <span class="summary">送出報名</span>
                    <span class="text">確認填寫內容並送出報名</span>
                </li>
                <li>
                    <span class="num">3</span>
                    <span class="summary">繳費</span>
                    <span class="text">繳交課程費用</span>
                </li>
            </ul>
		</div>
        <div class="account-container">
            <h3 class="page-title">繳費</h3>
			<div class="caption-wrapper">
			    <p><%= lorem_paragraph %></p>
				<p><%= lorem_sentence %></p>
			</div>
            <div class="register-wrapper">
                <form>
                    <div class="form-group">
                        <label class="form-label">繳費類別</label>
                        <div>
                            <div class="form-check">
                                <input class="form-check-input radio-select" type="radio" name="paymentRadio" id="paymentRadio1" value="single" />
                                <label class="form-check-label" for="paymentRadio1">
                                    個人報名
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input radio-select" type="radio" name="paymentRadio" id="paymentRadio2" value="group" />
                                <label class="form-check-label" for="paymentRadio2">
                                    團體報名(兩人以上)
                                </label>
                            </div>
                        </div>
                    </div>
					
                    <div class="radio-results" id="radio-single">
                        <p class="text-danger">課程費用總金額 : 5,000</p>
                        <div class="signup-wrap signup-single-wrap">
							<div class="form-group">
                                <label class="form-label">姓名</label>
                                <div>史嘉蕾</div>
                            </div>
                            <div class="form-group">
                                <label class="form-label">電子郵件</label>
                                <div>scarlettjohansson@gmail.com</div>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputText1" class="form-label">發票金額</label>
                                <input type="text" class="form-control" id="exampleInputText1" />
                            </div>
                            <div class="form-group">
                                <label class="form-label">發票類型</label>
                                <div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="invoiceRadio" id="invoiceRadio1" />
                                        <label class="form-check-label" for="invoiceRadio1">
                                            個人發票
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="invoiceRadio" id="invoiceRadio2" />
                                        <label class="form-check-label" for="invoiceRadio2">
                                            公司發票
                                        </label>
                                    </div>
                                </div>
                            </div>
							
							<!-- 依據上方勾選 show / hide，煩請工程師協助 -->
                            <div class="form-group">
                                <label for="exampleInputText2" class="form-label">發票抬頭</label>
                                <input type="text" class="form-control" id="exampleInputText2" />
                            </div>
                            <div class="form-group">
                                <label for="exampleInputText3" class="form-label">發票統編</label>
                                <input type="text" class="form-control" id="exampleInputText3" />
                            </div>
                        </div>
                        <div class="mt-4">
                            <button class="btn btn-lg btn-tdrf btn-pay" type="button">確認送出</button>
                        </div>
                    </div>

                    <div class="radio-results" id="radio-group">
                        <div class="form-group">
                            <label for="exampleInputText4" class="form-label">團體報名總人數( 包含自己 )</label>
                            <input type="text" class="form-control" id="exampleInputText4" />
                        </div>
                        <button id="btn-group" class="btn btn-dark" type="button">填寫報名者資訊</button>
                        <div class="group-wrap">
                            <p class="text-danger">報名總人數 2 人，課程費用總金額 : 10,000</p>
                            <div class="signup-wrap">
                                <div class="wrap-hd">
                                    <h4 class="hd-title">報名者 1</h4>
                                </div>
                                <div class="form-group">
                                    <label class="form-label">姓名</label>
                                    <div>史嘉蕾</div>
                                </div>
                                <div class="form-group">
                                    <label class="form-label">電子郵件</label>
                                    <div>scarlettjohansson@gmail.com</div>
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputText1" class="form-label">發票金額</label>
                                    <input type="text" class="form-control" id="exampleInputText1" />
                                </div>
                                <div class="form-group">
                                    <label class="form-label">發票類型</label>
                                    <div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="invoiceRadio" id="invoiceRadio1" />
                                            <label class="form-check-label" for="invoiceRadio1">
                                                個人發票
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="invoiceRadio" id="invoiceRadio2" />
                                            <label class="form-check-label" for="invoiceRadio2">
                                                公司發票
                                            </label>
                                        </div>
                                    </div>
                                </div>
								
								<!-- 依據上方勾選 show / hide，煩請工程師協助 -->
                                <div class="form-group">
                                    <label for="exampleInputText2" class="form-label">發票抬頭</label>
                                    <input type="text" class="form-control" id="exampleInputText2" />
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputText3" class="form-label">發票統編</label>
                                    <input type="text" class="form-control" id="exampleInputText3" />
                                </div>
                            </div>

                            <div class="signup-wrap">
                                <div class="wrap-hd">
                                    <h4 class="hd-title">報名者 2</h4>
									<div class="ms-4">
                                        <div class="form-check">
                                            <input class="form-check-input unnecessary" type="checkbox" value="invoice-wrap" id="unnecessaryInvoice" />
                                            <label class="form-check-label" for="unnecessaryInvoice">
                                                無需發票
                                            </label>
                                        </div>
									</div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-8">
                                        <div class="form-group">
                                            <label for="exampleInputText9" class="form-label">電子郵件</label>
                                            <input type="email" class="form-control" id="exampleInputText9" />
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
									    <span class="auto-box">科林約斯特</span>
									</div>
                                </div>
								<div class="invoice-wrap">
                                    <div class="form-group">
                                        <label for="exampleInputText1" class="form-label">發票金額</label>
                                        <input type="text" class="form-control" id="exampleInputText1" />
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">發票類型</label>
                                        <div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="invoiceRadio" id="invoiceRadio1" />
                                                <label class="form-check-label" for="invoiceRadio1">
                                                    個人發票
                                                </label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="invoiceRadio" id="invoiceRadio2" />
                                                <label class="form-check-label" for="invoiceRadio2">
                                                    公司發票
                                                </label>
                                            </div>
                                        </div>
                                    </div>
									
									<!-- 依據上方勾選 show / hide，煩請工程師協助 -->
                                    <div class="form-group">
                                        <label for="exampleInputText2" class="form-label">發票抬頭</label>
                                        <input type="text" class="form-control" id="exampleInputText2" />
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputText3" class="form-label">發票統編</label>
                                        <input type="text" class="form-control" id="exampleInputText3" />
                                    </div>
								</div>
                            </div>
							
							<button class="btn btn-lg btn-tdrf btn-pay" type="button">確認送出</button>
                        </div>
                    </div>
					<div class="pay-wrapper">
					    <h3>繳費資訊</h3>
						<p class="fw-bold">(806) 元大商業銀行股份有限公司</p>
						<ul class="menu-item pay-info">
						    <li>
								<span class="label">繳費帳號</span>
								<span>9616620215684884</span>
							</li>
							<li>
								<span class="label">繳費金額</span>
								<span>5,000</span>
							</li>
							<li>
								<span class="label">繳費期限</span>
								<span>2022-05-12 00:00</span>
							</li>
						</ul>
					</div>
                </form>
            </div>
        </div>
	</div>
</div>


<% content_for :js do %>

<!-- 個人&團體 show/hide -->
<script>
    jQuery(document).ready(function () {
        $(".radio-select").on("click", function (event) {
            var $this = $(event.target);
            var thisValue = $this.val();
            var $thisResults = $("#radio-" + thisValue);
            $(".radio-results").hide();
            $thisResults.show();
        });
    });
</script>

<!-- 團體 show/hide -->
<script>
    $("#btn-group").click(function() {
        $(".group-wrap").toggle();
    });
</script>

<!-- 無需發票 show/hide -->
<script>
    $('.unnecessary').click(function(){
        var inputValue = $(this).attr("value");
        $("." + inputValue).toggle();
    });
</script>

<!-- 繳費資訊 show/hide -->
<script>
    $(".btn-pay").click(function() {
        $(".pay-wrapper").toggle();
    });
</script>
<% end %>