<!-- template: 接待志工證書申請 - 申請 -->

<div class="container-lg">
	<div class="page-content certificate-content">
        
        <div class="application-bar">
            <section>
                <div class="section-title">
                    <h4>志工證書申請進度</h4>
                </div>
                <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                    <div class="progress-bar" style="width: 100%;"></div>
                </div>
                <button type="button" class="btn btn-outline-primary btn-rounded">檢視</button>
            </section>
            <section>
                <div class="section-title">
                    <h4>列印志工證書</h4>
                </div>
                <button type="button" class="btn btn-outline-primary btn-rounded">檢視</button>
            </section>
        </div>
        
        <main class="main">
            <div class="section-title">
                <h4>志工接待紀錄</h4>
            </div>
            <div class="recoed-list">
                <div class="recoed-item">
                    <div class="semester">
                        <div class="label">服務學期</div>
                        <div class="output">112-1</div>
                    </div>
                    <div class="survey">
                        <div class="label">問卷連結</div>
                        <div class="output">
                            <a href="#" class="btn btn-sm btn-success btn-rounded">問卷</a>
                        </div>
                    </div>
                    <div class="recoeds">
                        <div class="label">接待紀錄</div>
                        <div class="output">
                            上傳時間 2023-10-07 18:06 
                            <a href="#" class="btn btn-sm btn-outline-primary btn-rounded">檢視接待紀錄</a>
                        </div>
                    </div>
                </div>
                <div class="recoed-item">
                    <div class="semester">
                        <div class="label">Academic Year-Semester</div>
                        <div class="output">112-1</div>
                    </div>
                    <div class="survey">
                        <div class="label">Survey Link</div>
                        <div class="output">
                            <a href="#" class="btn btn-sm btn-success btn-rounded">Survey</a>
                        </div>
                    </div>
                    <div class="recoeds">
                        <div class="label">Upload the Records</div>
                        <div class="output">
                            Upload time 2023-10-07 18:06 
                            <a href="#" class="btn btn-sm btn-outline-primary btn-rounded">Preview</a>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        
	</div>
</div>

<% content_for :js do %>

<% end %>

