<!-- template: 接待志工證書申請 - 志工問卷系統 -->

<div class="container-lg">
	<div class="page-content d-block">
        
        <div class="page-title">
            <h3>問卷調查</h3>
        </div>
        
        <div class="editor-content">
            <p><%= lorem_paragraph %></p>
            <p><%= lorem_paragraphs(2) %></p>
            <p><%= lorem_paragraph %></p>
            <p><%= lorem_paragraph %></p>
        </div>
        
        <div class="form-action">
            <a href="#" class="btn btn-lg btn-primary">登入</a>
        </div>
        
	</div>
</div>

<% content_for :js do %>

<% end %>

