<!-- NTU-OSA: 首頁  -->

<div class="container">
	<div id="carousel-ntu" class="carousel slide carousel-fade section-container" data-ride="carousel">
		<ol class="carousel-indicators">
			<li data-target="#carousel-ntu" data-slide-to="0" class="active"></li>
			<li data-target="#carousel-ntu" data-slide-to="1"></li>
			<li data-target="#carousel-ntu" data-slide-to="2"></li>
		</ol>
		<!-- 後台上稿請註明圖片尺寸寬高為 555px x 410px，非標準尺寸獎有可能導致圖片失真、跑版的情況發生  -->
		<div class="carousel-inner" role="listbox">
			<div class="carousel-item active">
				<div class="view">
					<img class="w-50" src="../assets/fake/01.jpg" alt="First slide" title="First slide">
                    <div class="carousel-caption">
						<h3><a href="/" title="轉知馬來西亞拉曼大學">轉知馬來西亞拉曼大學</a></h3>
                        <p>轉知馬來西亞拉曼大學(Universiti Tunku Abdul Rahman)於108年7月27日至7月28日辦理青年發展會議(International Youth Development Conference)，敬邀各國學生參與，有興趣者歡迎逕自報名聯繫..</p>
                    </div>
				</div>
			</div>

			<div class="carousel-item">
				<div class="view">
					<img class="d-block w-50" src="../assets/fake/02.jpg" alt="Second slide" title="Second slide">
                    <div class="carousel-caption">
						<h3>Item title no link</h3>
                        <p>Secondary text</p>
                    </div>
				</div>
			</div>
			<div class="carousel-item">
				<div class="view">
					<img class="d-block w-50" src="../assets/fake/03.jpg" alt="Third slide" title="Third slide">
                    <div class="carousel-caption">
						<h3><a href="/" title="Lorem ipsum dolor sit amet, consectetur adipiscing elit">Lorem ipsum dolor sit amet, consectetur adipiscing elit</a></h3>
                        <p>Donec in eleifend ante. Nunc rutrum sit amet dolor vitae auctor. Etiam diam ex, egestas eget rhoncus ut, commodo a lacus. Phasellus ante quam, sagittis vitae porttitor et, tempus non mauris. Sed a leo mollis, consequat sem maximus, scelerisque sem. Suspendisse porta sem sapien. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam eu aliquam est. Vestibulum at est nec sem porta vulputate non eu libero. Nunc vulputate, sem at elementum bibendum, enim augue volutpat risus, eu interdum arcu velit cursus orci. Nullam lobortis, magna eu vulputate rhoncus, dolor tortor consequat lorem, vitae accumsan nibh quam quis dui. Nam sed malesuada nunc. </p>
                    </div>
				</div>
			</div>

		</div>
		<a class="carousel-control-prev" href="#carousel-ntu" role="button" data-slide="prev">
			<i class="fa fa-angle-left" aria-hidden="true"></i>
			<span class="sr-only">Previous</span>
		</a>
		<a class="carousel-control-next" href="#carousel-ntu" role="button" data-slide="next">
			<i class="fa fa-angle-right" aria-hidden="true"></i>
			<span class="sr-only">Next</span>
		</a>
	</div>
</div>

<section class="section-container">
	<div class="container">
		<div class="row">
			<div class="col-xl-6">
                <div class="section-title">
                    <h3>學務處公告</h3>
                </div>
                <ul class="announcement-list menu-item">
                    <li class="announcement-item">
						<div class="item-inner">
                            <div class="tags-wrap"><a href="#" class="tags tags-scholarship" title="公告分類：獎助學金">獎助學金</a></div>
                            <h5><a href="#" title="2020年「第26屆臺大藝術季」總召甄選活動延長收件公告">2020年「第26屆臺大藝術季」總召甄選活動延長收件公告</a></h5>
						</div>
                        <span class="date"><i class="fa fa-clock-o"></i>2019-08-27</span>
                    </li>
                    <li class="announcement-item">
						<div class="item-inner">
                            <div class="tags-wrap"><a href="#" class="tags tags-workpermit" title="公告分類：工作證">工作證</a></div>
                            <h5><a href="#" title="弱勢學生全照顧計畫">弱勢學生全照顧計畫</a></h5>
						</div>
                        <span class="date"><i class="fa fa-clock-o"></i>2019-08-27</span>
                    </li>
                    <li class="announcement-item">
						<div class="item-inner">
                            <div class="tags-wrap"><a href="#" class="tags tags-servitor" title="公告分類：工讀">工讀</a></div>
                            <h5><a href="#" title="國立臺灣大學推動暑假多年期深耕服務計畫簡章(試辦)">國立臺灣大學推動暑假多年期深耕服務計畫簡章(試辦)</a></h5>
						</div>
                        <span class="date"><i class="fa fa-clock-o"></i>2019-08-27</span>
                    </li>
                    <li class="announcement-item">
						<div class="item-inner">
                            <div class="tags-wrap"><a href="#" class="tags tags-recruit" title="公告分類：徵才">徵才</a></div>
                            <h5><a href="#" title="本校學生社團辦理弱勢學生招生入學宣傳與輔導經費補助申請 (收件至5/24 17:00)">本校學生社團辦理弱勢學生招生入學宣傳與輔導經費補助申請 (收件至5/24 17:00)</a></h5>
						</div>
                        <span class="date"><i class="fa fa-clock-o"></i>2019-08-27</span>
                    </li>
					<li class="announcement-item">
						<div class="item-inner">
                            <div class="tags-wrap"><a href="#" class="tags tags-health" title="公告分類：僑健保">僑健保</a></div>
                            <h5><a href="#" title="新生看過來-臺大學務處IG新手包">新生看過來-臺大學務處IG新手包</a></h5>
						</div>
                        <span class="date"><i class="fa fa-clock-o"></i>2019-08-27</span>
                    </li>
                    <li class="announcement-item">
						<div class="item-inner">
                            <div class="tags-wrap"><a href="#" class="tags tags-activity" title="公告分類：活動">活動</a></div>
                            <h5><a href="#" title="團體/工作坊 - 108-1心輔中心心理健康促進系列活動III">團體/工作坊 - 108-1心輔中心心理健康促進系列活動III</a></h5>
						</div>
                        <span class="date"><i class="fa fa-clock-o"></i>2019-08-27</span>
                    </li>
                    <li class="announcement-item">
						<div class="item-inner">
                            <div class="tags-wrap"><a href="#" class="tags tags-other" title="公告分類：其他">其他</a></div>
                            <h5><a href="#" title="108年社團聯展第二次報名結果 (8/19完成繳費)">108年社團聯展第二次報名結果 (8/19完成繳費)</a></h5>
						</div>
                        <span class="date"><i class="fa fa-clock-o"></i>2019-08-27</span>
                    </li>
                </ul>
                <div class="section-ft ft-more">
                    <a href="#" class="more" title="更多公告">更多公告 <i class="fa fa-angle-right"></i></a>
                </div>
			</div>
			<div class="col-xl-6">
                <div class="section-title">
                    <h3>單位連結</h3>
                </div>
                <ul class="organization-list menu-item">
				    <li class="organization-item">
					    <a href="#" title="生活輔導組">生活輔導組</a>
					</li>
					<li class="organization-item">
					    <a href="#" title="學生住宿服務組">學生住宿服務組</a>
					</li>
					<li class="organization-item">
					    <a href="#" title="課外活動指導組">課外活動指導組</a>
					</li>
					<li class="organization-item">
					    <a href="#" title="保健中心">保健中心</a>
					</li>
					<li class="organization-item">
					    <a href="#" title="學生職業生涯發展中心">學生職業生涯發展中心</a>
					</li>
					<li class="organization-item">
					    <a href="#" title="僑生及陸生輔導組">僑生及陸生輔導組</a>
					</li>
					<li class="organization-item">
					    <a href="#" title="校園安全中心">校園安全中心</a>
					</li>
					<li class="organization-item">
					    <a href="#" title="學生活動中心管理組">學生活動中心管理組</a>
					</li>
					<li class="organization-item">
					    <a href="#" title="學生心理輔導中心">學生心理輔導中心</a>
					</li>
					<li class="organization-item">
					    <a href="#" title="醫學院學務分處">醫學院學務分處</a>
					</li>
					<li class="organization-item">
					    <a href="#" class="subordinate" title="資源教室">資源教室</a>
					</li>
					<li class="organization-item ">
					    <a href="#" class="subordinate" title="學生申訴評議委員會">學生申訴評議委員會</a>
					</li>
					<li class="organization-item">
					    <a href="#" class="equality" title="膳食協調委員會">膳食協調委員會</a>
					</li>
					<li class="organization-item">
					    <a href="#" class="equality" title="原住民族學生資源中心">原住民族學生資源中心</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>
	
<section class="calendar-container section-container">
	<div class="container">
	    <div class="section-fulltitle">
		    <h3>近期活動</h3>
		</div>
		<div class="content-wrap">
			<div class="cal-wrap">
				<div id="v-cal">
					<div class="vcal-header">
						<button class="vcal-btn" data-calendar-toggle="previous">
							<svg height="24" version="1.1" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
								<path d="M16.8,8.5l-2.4-2.4L6.5,14l7.9,7.9l2.4-2.4L11.3,14L16.8,8.5z"/>
							</svg>
						</button>

						<div class="vcal-header__label" data-calendar-label="month">
							March 2017
						</div>


						<button class="vcal-btn" data-calendar-toggle="next">
							<svg height="24" version="1.1" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
								<path d="M7.5,19.5l2.4,2.4l7.9-7.9L9.9,6.1L7.5,8.5L13,14L7.5,19.5z"/>
							</svg>
						</button>
					</div>
					<div class="vcal-week">
						<span>Mon</span>
						<span>Tue</span>
						<span>Wed</span>
						<span>Thu</span>
						<span>Fri</span>
						<span>Sat</span>
						<span>Sun</span>
					</div>
					<div class="vcal-body" data-calendar-area="month"></div>
				</div>
				<p class="demo-picked" style="display: none;">
					Date picked:
					<span data-calendar-label="picked"></span>
				</p>
			</div>
			<div class="activity-list">
				<h4 class="date-illustrate">Wednesday, May 21, 2019</h4>
				<div class="event-item">
				    <p class="event-period">Wednesday, May 22, 2019 - Friday, May 24, 2019</p>
					<h3 class="event-title"><a href="#" title="巴爾幹的流浪日記-重新發現真實的自己">巴爾幹的流浪日記-重新發現真實的自己</a></h3>
					<p class="brief">我假設你已經了解CSS選取器 (Selector)、屬性 (Property) 和屬性值 (Value) 是什麼，而且你可能也知道所謂「版面配置」到底在講什麼，然而你也知道學會...</p>
				</div>
				<div class="event-item">
				    <p class="event-period">Friday, May 24, 2019</p>
					<h3 class="event-title"><a href="#" title="No.225文學院音樂會－峇里島甘美朗樂舞成果展演">No.225文學院音樂會－峇里島甘美朗樂舞成果展演</a></h3>
					<p class="brief">Suspendisse dui risus, pellentesque sed interdum vel, condimentum id metus. Aenean quis efficitur magna, quis aliquam magna. Quisque...</p>
				</div>
				<div class="event-item omission-item">
				    <p>.....</p>
				</div>
			</div>
		</div>
		<div class="section-ft">
		    <a href="#" class="btn btn-outline-info btn-rounded waves-effect un-shadows" title="更多活動">更多活動</a>
		</div>
	</div>
</section>
	
<section class="links-container section-container">
	<div class="container">
		<div class="row">
			<div class="col-lg-6">
                <div class="section-title">
                    <h3>相關連結</h3>
                </div>
			    <ul class="menu-item links-list">
				    <li>
						<a href="#" title="相關法規">
							<img src="../assets/icon/01.png" title="相關法規" alt="相關法規">
							<span>相關法規</span>
						</a>
					</li>
					<li>
						<a href="#" title="學務處路線圖">
							<img src="../assets/icon/02.png" title="學務處路線圖" alt="學務處路線圖">
							<span>學務處路線圖</span>
						</a>
					</li>
					<li>
						<a href="#" title="Instagram">
							<img src="../assets/icon/03.png" title="Instagram" alt="Instagram">
							<span>Instagram</span>
						</a>
					</li>
					<li>
						<a href="#" title="常用連結">
							<img src="../assets/icon/04.png" title="常用連結" alt="常用連結">
							<span>常用連結</span>
						</a>
					</li>
					<li>
						<a href="#" title="雙語詞彙表">
							<img src="../assets/icon/05.png" title="雙語詞彙表" alt="雙語詞彙表">
							<span>雙語詞彙表</span>
						</a>
					</li>
					<li>
						<a href="#" title="學務出版品">
							<img src="../assets/icon/06.png" title="學務出版品" alt="學務出版品">
							<span>學務出版品</span>
						</a>
					</li>
					<li>
						<a href="#" title="學務影音">
							<img src="../assets/icon/07.png" title="學務影音" alt="學務影音">
							<span>學務影音</span>
						</a>
					</li>
					<li>
						<a href="#" title="網站地圖">
							<img src="../assets/icon/08.png" title="網站地圖" alt="網站地圖">
							<span>網站地圖</span>
						</a>
					</li>
				</ul>
				
				<!--ul class="menu-item links-list">
				    <li>
						<a href="#" title="相關法規">
							<i class="fa fa-balance-scale"></i>
							<span>相關法規</span>
						</a>
					</li>
					<li>
						<a href="#" title="學務處路線圖">
							<i class="fa fa-map-o"></i>
							<span>學務處路線圖</span>
						</a>
					</li>
					<li>
						<a href="#" title="Instagram">
							<i class="fa fa-instagram"></i>
							<span>Instagram</span>
						</a>
					</li>
					<li>
						<a href="#" title="常用連結">
							<i class="fa fa-link"></i>
							<span>常用連結</span>
						</a>
					</li>
					<li>
						<a href="#" title="雙語詞彙表">
							<i class="fa fa-language"></i>
							<span>雙語詞彙表</span>
						</a>
					</li>
					<li>
						<a href="#" title="學務出版品">
							<i class="fa fa-book"></i>
							<span>學務出版品</span>
						</a>
					</li>
					<li>
						<a href="#" title="學務影音">
							<i class="fa fa-video-camera"></i>
							<span>學務影音</span>
						</a>
					</li>
					<li>
						<a href="#" title="網站地圖">
							<i class="fa fa-sitemap"></i>
							<span>網站地圖</span>
						</a>
					</li>
				</ul-->
			</div>
			<div class="col-lg-6">
				<div class="video-wrapper">
                    <div class="section-title">
                        <h3>影音專區</h3>
                    </div>
					<div class="video-inner">
                        <iframe width="540" height="304" src="https://www.youtube-nocookie.com/embed/yYXLO0lIvEw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" title="認識台大" allowfullscreen></iframe>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
	
<section class="map-container section-container">
	<div class="container">
        <div class="google-maps">
            <div class="section-fulltitle">
                <h3>校園位置</h3>
            </div>
			<div class="map-inner">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3615.492930077537!2d121.53756311607424!3d25.01734048398008!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3442a989fe322ea9%3A0x21750404ee1d7f66!2z6Ie654Gj5aSn5a24!5e0!3m2!1szh-TW!2stw!4v1566871606303!5m2!1szh-TW!2stw" width="600" height="360" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
			</div>
        </div>
	</div>
</section>




<% content_for :js do %>
<script src="../javascripts/vanillaCalendar.js"></script>
<script>
	window.addEventListener('load', function () {
		vanillaCalendar.init({
			disablePastDays: true
		});
	})
</script>
<% end %>





















































