<!-- admin-page: Veu /  Column Forms -->
<%= render :partial => "/partials/admin_breadcrumb" %>

<main class="main" data-s-1>
    <div class="page-header">
        <h2>Page Title</h2>
    </div>
    <div class="row">
        <div class="col-4">
            <div class="col-block">
                <div class="block-content">
                    <div class="partner-avatar">
                        <img src="../assets/default.png" alt="partner" />
                        <h4>林XX Shin-Feng Lin</h4>
                        <h5>東京大學 XXXX系所 2 年級</h5>
                    </div>
                    <div class="mb-3">
                        <ul class="nav quick-nav">
                            <li class="primary"><a href="#">登入姊妹校</a></li>
                            <li class="info"><a href="#">寄送提名通知</a></li>
                            <li class="secondary"><a href="#">通知紀錄 <span class="badge badge-pill pink">3</span></a></li>
                        </ul>
                    </div>

                    <div id="accordion" class="accordion profile-nav">
                        <ul>
                            <li class="menu-item completed">
                                <div class="panel-heading">
                                    <a class="btn btn-link" href="#">帳號密碼</a>
                                </div>
                            </li>
                            <li class="menu-item completed has-sub">
                                <div class="panel-heading active" id="headingOne">
									
                                    <button class="btn btn-link collapsed" type="button" data-mdb-toggle="collapse" data-mdb-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">申請資料</button>
                                </div>
								
                                <div id="collapseOne" class="panel-collapse collapse" aria-labelledby="headingOne" data-mdb-parent="#accordion"><!-- 只有在申請資料此階段才預設展開 -->
                                    <div class="panel-body">
                                        <ul class="sub-menu">
                                            <li class="current"><a href="#">Personal</a></li>
                                            <li><a href="application_nationalityl.html">Nationality</a></li>
                                            <li><a href="#">Exchange Information</a></li>
                                            <li><a href="#">Chinese Learning</a></li>
                                            <li><a href="#">Accommodation</a></li>
                                            <li><a href="#">Privacy</a></li>
                                            <li><a href="#">上傳繳交文件</a></li>
                                            <li><a href="#">設定推薦人</a></li>
                                            <li><a href="#">預覽及送出申請資料</a></li>
                                            <li><a href="#">入學繳交費用</a></li>
                                            <li><a href="#">審查結果公告</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li class="menu-item current">
                                <div class="panel-heading">
                                    <a class="btn btn-link" href="#">繳交文件</a>
                                </div>
                            </li>
                            <li class="menu-item">
                                <div class="panel-heading">
                                    <a class="btn btn-link" href="#" >第一階段繳費</a>
                                </div>
                            </li>
                            <li class="menu-item">
                                <div class="panel-heading">
                                    <a class="btn btn-link" href="#">提名結果</a>
                                </div>
                            </li>
                            <li class="menu-item">
                                <div class="panel-heading">
                                    <a class="btn btn-link" href="#" >OIA收件審查</a>
                                </div>
                            </li>
                            <li class="menu-item">
                                <div class="panel-heading">
                                    <a class="btn btn-link" href="#">入臺證件申請</a>
                                </div>
                            </li>
                            <li class="menu-item">
                                <div class="panel-heading">
                                    <a class="btn btn-link" href="#" >入學繳交文件</a>
                                </div>
                            </li>
                            <li class="menu-item">
                                <div class="panel-heading">
                                    <a class="btn btn-link" href="#">新生調查</a>
                                </div>
                            </li>
                            <li class="menu-item">
                                <div class="panel-heading">
                                    <a class="btn btn-link" href="#">離校手續</a>
                                </div>
                            </li>
                            <li class="menu-item has-sub menu-before">
                                <div class="panel-heading" id="headingTwo">
                                    <button class="btn btn-link collapsed" data-mdb-toggle="collapse" data-mdb-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">聯絡資訊</button>
                                </div>
                                <div id="collapseTwo" class="panel-collapse collapse" aria-labelledby="headingTwo" data-mdb-parent="#accordion">
                                    <div class="panel-body">
                                        <ul class="sub-menu">
                                            <li>123</li>
                                            <li>123</li>
                                            <li>123</li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-8">
			<form class="el-form el-form--label-top">
                <div class="col-block mb-20">
                    <div class="block-header has-border">
                        <h3>申請狀態</h3>
                    </div>
                    <div class="block-content">
                        <div class="el-form-item">
                            <label for="radio2" class="el-form-item__label" style="">單選項目垂直</label>
                            <div class="el-form-item__content" style="">
                                <div>
                                    <div role="radiogroup" class="el-radio-group">
                                        <label role="radio" tabindex="0" class="el-radio block vertical">
                                            <span class="el-radio__input"><span class="el-radio__inner"></span><input type="radio" aria-hidden="true" tabindex="-1" autocomplete="off" class="el-radio__original" value="1"></span>
                                            <span class="el-radio__label">填寫中</span>
                                        </label>
										<div class="d-flex align-items-center mb-2">
                                            <label role="radio" tabindex="-1" class="el-radio block vertical me-2 mb-0">
                                                <span class="el-radio__input"><span class="el-radio__inner"></span><input type="radio" aria-hidden="true" tabindex="-1" autocomplete="off" class="el-radio__original" value="2"></span>
                                                <span class="el-radio__label">已送出</span>
                                            </label>
                                            <div class="mx-2 el-form-item__content el-input--medium">
                                                <input type="text" class="el-input__inner">
                                            </div>
                                            <div class="el-radio__label">將提名狀態變更為未送出，對方學校即可修改提名結果</div>
										</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
				
                <div class="col-block mb-20">
                    <div class="block-header has-border">
                        <h3>Home University</h3>
                    </div>
                    <div class="block-content">
                        <div class="el-form-item is-required">
                            <label for="select" class="el-form-item__label" style="">I am from</label>
							<div class="row">
								<div class="col-4">
                                    <div class="el-form-item__content" style="">
                                        <div>
                                            <div class="el-select">
                                                <div class="el-input el-input--suffix">
                                                    <input type="text" readonly="readonly" autocomplete="off" placeholder="請選擇洲別" class="el-input__inner" />
                                                    <span class="el-input__suffix">
                                                        <span class="el-input__suffix-inner">
                                                            <i class="el-select__caret el-input__icon el-icon-arrow-up"></i>
                                                        </span>
                                                    </span>
                                                </div>
                                                <div class="el-select-dropdown el-popper" style="display: none; min-width: 221px;">
                                                    <div class="el-scrollbar" style="">
                                                        <div class="el-select-dropdown__wrap el-scrollbar__wrap" style="margin-bottom: -17px; margin-right: -17px;">
                                                            <ul class="el-scrollbar__view el-select-dropdown__list">
                                                                <li class="el-select-dropdown__item"><span>選項一</span></li>
                                                                <li class="el-select-dropdown__item"><span>選項二</span></li>
                                                            </ul>
                                                        </div>
                                                        <div class="el-scrollbar__bar is-horizontal"><div class="el-scrollbar__thumb" style="transform: translateX(0%);"></div></div>
                                                        <div class="el-scrollbar__bar is-vertical"><div class="el-scrollbar__thumb" style="transform: translateY(0%);"></div></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
								</div>
								<div class="col-4">
                                    <div class="el-form-item__content" style="">
                                        <div>
                                            <div class="el-select">
                                                <div class="el-input el-input--suffix">
                                                    <input type="text" readonly="readonly" autocomplete="off" placeholder="請選擇國家" class="el-input__inner" />
                                                    <span class="el-input__suffix">
                                                        <span class="el-input__suffix-inner">
                                                            <i class="el-select__caret el-input__icon el-icon-arrow-up"></i>
                                                        </span>
                                                    </span>
                                                </div>
                                                <div class="el-select-dropdown el-popper" style="display: none; min-width: 221px;">
                                                    <div class="el-scrollbar" style="">
                                                        <div class="el-select-dropdown__wrap el-scrollbar__wrap" style="margin-bottom: -17px; margin-right: -17px;">
                                                            <ul class="el-scrollbar__view el-select-dropdown__list">
                                                                <li class="el-select-dropdown__item"><span>選項一</span></li>
                                                                <li class="el-select-dropdown__item"><span>選項二</span></li>
                                                            </ul>
                                                        </div>
                                                        <div class="el-scrollbar__bar is-horizontal"><div class="el-scrollbar__thumb" style="transform: translateX(0%);"></div></div>
                                                        <div class="el-scrollbar__bar is-vertical"><div class="el-scrollbar__thumb" style="transform: translateY(0%);"></div></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
								</div>
								<div class="col-4">
                                    <div class="el-form-item__content" style="">
                                        <div>
                                            <div class="el-select">
                                                <div class="el-input el-input--suffix">
                                                    <input type="text" readonly="readonly" autocomplete="off" placeholder="請選擇學校" class="el-input__inner" />
                                                    <span class="el-input__suffix">
                                                        <span class="el-input__suffix-inner">
                                                            <i class="el-select__caret el-input__icon el-icon-arrow-up"></i>
                                                        </span>
                                                    </span>
                                                </div>
                                                <div class="el-select-dropdown el-popper" style="display: none; min-width: 221px;">
                                                    <div class="el-scrollbar" style="">
                                                        <div class="el-select-dropdown__wrap el-scrollbar__wrap" style="margin-bottom: -17px; margin-right: -17px;">
                                                            <ul class="el-scrollbar__view el-select-dropdown__list">
                                                                <li class="el-select-dropdown__item"><span>選項一</span></li>
                                                                <li class="el-select-dropdown__item"><span>選項二</span></li>
                                                            </ul>
                                                        </div>
                                                        <div class="el-scrollbar__bar is-horizontal"><div class="el-scrollbar__thumb" style="transform: translateX(0%);"></div></div>
                                                        <div class="el-scrollbar__bar is-vertical"><div class="el-scrollbar__thumb" style="transform: translateY(0%);"></div></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
								</div>
							</div>
                        </div>
                    </div>
                </div>
				
                <div class="col-block mb-20">
                    <div class="block-header has-border">
                        <h3>Personal Information</h3>
                    </div>
                    <div class="block-content">
						<div class="el-form-item is-required">
                            <label for="input" class="el-form-item__label">Full Name in English</label>
							<div class="row">
								<div class="col-4">
                                    <div class="el-form-item__content el-input">
                                        <input type="text" autocomplete="off" class="el-input__inner" placeholder="first">
                                    </div>
								</div>
								<div class="col-4">
                                    <div class="el-form-item__content el-input">
                                        <input type="text" autocomplete="off" class="el-input__inner" placeholder="middle name">
                                    </div>
								</div>
								<div class="col-4">
                                    <div class="el-form-item__content el-input">
                                        <input type="text" autocomplete="off" class="el-input__inner" placeholder="last/family">
                                    </div>
								</div>
							</div>
							<p class="el-form-item__text">must be the same as shown on your passport</p>
                        </div>
						
						<div class="el-form-item is-required">
                            <label for="input" class="el-form-item__label">Full Name in Chinese</label>
                            <div class="el-form-item__content el-input">
                                <input type="text" autocomplete="off" class="el-input__inner" placeholder="">
                            </div>
							<p class="el-form-item__text">最多七個字</p>
                        </div>
						
						<div class="el-form-item">
                            <div class="d-flex align-items-center">
                                <div class="el-form-item__content" style="">
                                    <div>
                                        <label class="el-checkbox">
                                            <span class="el-checkbox__input"><span class="el-checkbox__inner"></span><input type="checkbox" aria-hidden="false" class="el-checkbox__original" value=""></span>
                                            <span class="el-checkbox__label">accept a given one</span>
                                        </label>
                                    </div>
                                </div>
                                <div class="el-radio__label el-input is-disabled w-auto">
									<input type="text" class="el-input__inner" disabled="disabled" value="成龍">
                                </div>
                            </div>
						</div>
						
						<div class="el-form-item is-required">
                            <label for="date" class="el-form-item__label" style="">Date of Birth</label>
                            <div class="el-form-item__content" style="">
                                <div>
                                    <div class="el-date-editor el-input el-input--prefix el-input--suffix el-date-editor--date">
                                        <input type="text" autocomplete="off" name="" placeholder="請選擇日期" class="el-input__inner">
                                        <span class="el-input__prefix">
                                            <i class="el-input__icon el-icon-date"></i>
                                        </span>
                                        <span class="el-input__suffix">
                                            <span class="el-input__suffix-inner">
                                                <i class="el-input__icon"></i>
                                            </span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
						
                        <div class="el-form-item is-required">
                            <label for="radio2" class="el-form-item__label" style="">Gender</label>
                            <div class="el-form-item__content" style="">
                                <div>
                                    <div role="radiogroup" class="el-radio-group">
                                        <label role="radio" tabindex="0" class="el-radio block vertical">
                                            <span class="el-radio__input"><span class="el-radio__inner"></span><input type="radio" aria-hidden="true" tabindex="-1" autocomplete="off" class="el-radio__original" value="1"></span>
                                            <span class="el-radio__label">Male</span>
                                        </label>
                                        <label role="radio" tabindex="-1" class="el-radio block vertical me-2 mb-0">
                                            <span class="el-radio__input"><span class="el-radio__inner"></span><input type="radio" aria-hidden="true" tabindex="-1" autocomplete="off" class="el-radio__original" value="2"></span>
                                            <span class="el-radio__label">Female</span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>

						<div class="el-form-item is-required">
                            <label for="input" class="el-form-item__label">Native Language(s)</label>
							<div class="row">
								<div class="col-6">
                                    <div class="el-form-item__content el-input">
                                        <input type="text" autocomplete="off" class="el-input__inner" placeholder="first">
                                    </div>
								</div>
								<div class="col-6">
                                    <div class="el-form-item__content el-input">
                                        <input type="text" autocomplete="off" class="el-input__inner" placeholder="middle name">
                                    </div>
								</div>
							</div>
                        </div>
						
						<div class="el-form-item">
                            <label for="select" class="el-form-item__label" style="">宗教</label>
                            <div class="el-form-item__content" style="">
                                <div>
                                    <div class="el-select">
                                        <div class="el-input el-input--suffix">
                                            <input type="text" readonly="readonly" autocomplete="off" placeholder="下拉選項文字" class="el-input__inner">
                                            <span class="el-input__suffix">
                                                <span class="el-input__suffix-inner">
                                                    <i class="el-select__caret el-input__icon el-icon-arrow-up"></i>
                                                </span>
                                            </span>
                                        </div>
                                        <div class="el-select-dropdown el-popper" style="display: none; min-width: 221px;">
                                            <div class="el-scrollbar" style="">
                                                <div class="el-select-dropdown__wrap el-scrollbar__wrap" style="margin-bottom: -17px; margin-right: -17px;">
                                                    <ul class="el-scrollbar__view el-select-dropdown__list">
                                                        <li class="el-select-dropdown__item"><span>選項一</span></li>
                                                        <li class="el-select-dropdown__item"><span>選項二</span></li>
                                                    </ul>
                                                </div>
                                                <div class="el-scrollbar__bar is-horizontal"><div class="el-scrollbar__thumb" style="transform: translateX(0%);"></div></div>
                                                <div class="el-scrollbar__bar is-vertical"><div class="el-scrollbar__thumb" style="transform: translateY(0%);"></div></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
				
				
                <div class="col-block mb-20">
                    <div class="block-header has-border">
                        <h3>Contact Information</h3>
                    </div>
                    <div class="block-content">
						
						<div class="el-form-item is-required">
                            <label for="input" class="el-form-item__label">Telephone</label>
							<div class="row">
								<div class="col-4">
                                    <div class="el-form-item__content el-input">
                                        <input type="text" autocomplete="off" class="el-input__inner" placeholder="+ Country Code">
                                    </div>
								</div>
								<div class="col-4">
                                    <div class="el-form-item__content el-input">
                                        <input type="text" autocomplete="off" class="el-input__inner" placeholder="Area Code">
                                    </div>
								</div>
								<div class="col-4">
                                    <div class="el-form-item__content el-input">
                                        <input type="text" autocomplete="off" class="el-input__inner" placeholder="Number">
                                    </div>
								</div>
							</div>
                        </div>
						
						<div class="el-form-item">
                            <label for="input" class="el-form-item__label">Cell Phone</label>
							<div class="row">
								<div class="col-4">
                                    <div class="el-form-item__content el-input">
                                        <input type="text" autocomplete="off" class="el-input__inner" placeholder="+ Country Code">
                                    </div>
								</div>
								<div class="col-8">
                                    <div class="el-form-item__content el-input">
                                        <input type="text" autocomplete="off" class="el-input__inner" placeholder="Number">
                                    </div>
								</div>
							</div>
                        </div>
						
						<div class="el-form-item is-required">
                            <label for="input" class="el-form-item__label" style="">Email </label>
                            <div class="el-form-item__content" style="">
                                <input type="email" autocomplete="off" placeholder="" class="el-input__inner">
                            </div>
                        </div>
						
						<div class="el-form-item is-required">
						    <label for="input" class="el-form-item__label" style="">Mailing Address</label>
							<div class="row">
							    <div class="col-2">
                                    <div class="el-form-item__content el-input">
                                        <input type="text" autocomplete="off" class="el-input__inner" placeholder="Zip Code">
                                    </div>
								</div>
								<div class="col-3">
                                    <div class="el-form-item__content" style="">
                                        <div>
                                            <div class="el-select">
                                                <div class="el-input el-input--suffix">
                                                    <input type="text" readonly="readonly" autocomplete="off" placeholder="Please Select Country" class="el-input__inner">
                                                    <span class="el-input__suffix">
                                                        <span class="el-input__suffix-inner">
                                                            <i class="el-select__caret el-input__icon el-icon-arrow-up"></i>
                                                        </span>
                                                    </span>
                                                </div>
                                                <div class="el-select-dropdown el-popper" style="display: none; min-width: 221px;">
                                                    <div class="el-scrollbar" style="">
                                                        <div class="el-select-dropdown__wrap el-scrollbar__wrap" style="margin-bottom: -17px; margin-right: -17px;">
                                                            <ul class="el-scrollbar__view el-select-dropdown__list">
                                                                <li class="el-select-dropdown__item"><span>選項一</span></li>
                                                                <li class="el-select-dropdown__item"><span>選項二</span></li>
                                                            </ul>
                                                        </div>
                                                        <div class="el-scrollbar__bar is-horizontal"><div class="el-scrollbar__thumb" style="transform: translateX(0%);"></div></div>
                                                        <div class="el-scrollbar__bar is-vertical"><div class="el-scrollbar__thumb" style="transform: translateY(0%);"></div></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
								</div>
								<div class="col-2">
                                    <div class="el-form-item__content el-input">
                                        <input type="text" autocomplete="off" class="el-input__inner" placeholder="City">
                                    </div>
								</div>
								<div class="col-5">
								    <div class="el-form-item__content el-input">
                                        <input type="text" autocomplete="off" class="el-input__inner" placeholder="Address">
                                    </div>
								</div>
							</div>
						</div>

                    </div>
                </div>
				
				<div class="col-block mb-20">
                    <div class="block-header has-border">
                        <h3>Emergency Contact</h3>
                    </div>
                    <div class="block-content">
						
						<div class="el-form-item is-required">
                            <label for="input" class="el-form-item__label">Full Name</label>
							<div class="el-form-item__content el-input">
                                <input type="text" autocomplete="off" class="el-input__inner">
                            </div>
                        </div>
						
						<div class="el-form-item is-required">
                            <label for="select" class="el-form-item__label" style="">Relation with Applicant</label>
                            <div class="el-form-item__content" style="">
                                <div>
                                    <div class="el-select">
                                        <div class="el-input el-input--suffix">
                                            <input type="text" readonly="readonly" autocomplete="off" placeholder="請選擇" class="el-input__inner">
                                            <span class="el-input__suffix">
                                                <span class="el-input__suffix-inner">
                                                    <i class="el-select__caret el-input__icon el-icon-arrow-up"></i>
                                                </span>
                                            </span>
                                        </div>
                                        <div class="el-select-dropdown el-popper" style="display: none; min-width: 221px;">
                                            <div class="el-scrollbar" style="">
                                                <div class="el-select-dropdown__wrap el-scrollbar__wrap" style="margin-bottom: -17px; margin-right: -17px;">
                                                    <ul class="el-scrollbar__view el-select-dropdown__list">
                                                        <li class="el-select-dropdown__item"><span>選項一</span></li>
                                                        <li class="el-select-dropdown__item"><span>選項二</span></li>
                                                    </ul>
                                                </div>
                                                <div class="el-scrollbar__bar is-horizontal"><div class="el-scrollbar__thumb" style="transform: translateX(0%);"></div></div>
                                                <div class="el-scrollbar__bar is-vertical"><div class="el-scrollbar__thumb" style="transform: translateY(0%);"></div></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
						
						<div class="el-form-item is-required">
                            <label for="input" class="el-form-item__label">Telephone</label>
							<div class="row">
								<div class="col-4">
                                    <div class="el-form-item__content el-input">
                                        <input type="text" autocomplete="off" class="el-input__inner" placeholder="+ Country Code">
                                    </div>
								</div>
								<div class="col-4">
                                    <div class="el-form-item__content el-input">
                                        <input type="text" autocomplete="off" class="el-input__inner" placeholder="Area Code">
                                    </div>
								</div>
								<div class="col-4">
                                    <div class="el-form-item__content el-input">
                                        <input type="text" autocomplete="off" class="el-input__inner" placeholder="Number">
                                    </div>
								</div>
							</div>
                        </div>
						
						<div class="el-form-item">
                            <label for="input" class="el-form-item__label">Cell Phone</label>
							<div class="row">
								<div class="col-4">
                                    <div class="el-form-item__content el-input">
                                        <input type="text" autocomplete="off" class="el-input__inner" placeholder="+ Country Code">
                                    </div>
								</div>
								<div class="col-8">
                                    <div class="el-form-item__content el-input">
                                        <input type="text" autocomplete="off" class="el-input__inner" placeholder="Number">
                                    </div>
								</div>
							</div>
                        </div>
						
						<div class="el-form-item is-required">
                            <label for="input" class="el-form-item__label" style="">Email </label>
                            <div class="el-form-item__content" style="">
                                <input type="email" autocomplete="off" placeholder="" class="el-input__inner">
                            </div>
                        </div>
						
						<div class="el-form-item is-required">
						    <label for="input" class="el-form-item__label" style="">Mailing Address</label>
							<div class="row">
							    <div class="col-2">
                                    <div class="el-form-item__content el-input">
                                        <input type="text" autocomplete="off" class="el-input__inner" placeholder="Zip Code">
                                    </div>
								</div>
								<div class="col-3">
                                    <div class="el-form-item__content" style="">
                                        <div>
                                            <div class="el-select">
                                                <div class="el-input el-input--suffix">
                                                    <input type="text" readonly="readonly" autocomplete="off" placeholder="Please Select Country" class="el-input__inner">
                                                    <span class="el-input__suffix">
                                                        <span class="el-input__suffix-inner">
                                                            <i class="el-select__caret el-input__icon el-icon-arrow-up"></i>
                                                        </span>
                                                    </span>
                                                </div>
                                                <div class="el-select-dropdown el-popper" style="display: none; min-width: 221px;">
                                                    <div class="el-scrollbar" style="">
                                                        <div class="el-select-dropdown__wrap el-scrollbar__wrap" style="margin-bottom: -17px; margin-right: -17px;">
                                                            <ul class="el-scrollbar__view el-select-dropdown__list">
                                                                <li class="el-select-dropdown__item"><span>選項一</span></li>
                                                                <li class="el-select-dropdown__item"><span>選項二</span></li>
                                                            </ul>
                                                        </div>
                                                        <div class="el-scrollbar__bar is-horizontal"><div class="el-scrollbar__thumb" style="transform: translateX(0%);"></div></div>
                                                        <div class="el-scrollbar__bar is-vertical"><div class="el-scrollbar__thumb" style="transform: translateY(0%);"></div></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
								</div>
								<div class="col-2">
                                    <div class="el-form-item__content el-input">
                                        <input type="text" autocomplete="off" class="el-input__inner" placeholder="City">
                                    </div>
								</div>
								<div class="col-5">
								    <div class="el-form-item__content el-input">
                                        <input type="text" autocomplete="off" class="el-input__inner" placeholder="Address">
                                    </div>
								</div>
							</div>
						</div>

                    </div>
                </div>

                <div>
                    <button class="btn btn-primary" type="submit">Save</button>
                    <button class="btn btn-success" type="submit">Next</button>
                    <button class="btn btn-angel float-end" type="submit">回列表</button>
                </div>
			</form>
        </div>
    </div>
</main>

<% content_for :js do %>
    <script>
		$(document).ready(function() {
            $('.mdb-select').material_select();
		});
		 $('.panel-collapse').on('show.bs.collapse', function() {
			 $(this).siblings('.panel-heading').addClass('active');
		 });

		 $('.panel-collapse').on('hide.bs.collapse', function() {
			 $(this).siblings('.panel-heading').removeClass('active');
		 });
    </script>
<% end %>