<!-- admin-page: Veu / Forms -->
<%= render :partial => "/partials/admin_breadcrumb" %>

<main class="main" data-s-1>
    <div class="page-header">
        <h1>Forms</h1>
		<p>Element UI + MDB Button</p>
    </div>
    <div class="row">
        <div class="col-6">
            <div class="col-block">
                <div class="block-header has-border">
                    <h3><strong>Horizontal form</strong></h3>
                </div>
                <div class="block-content">
					<form class="el-form form--label-top">
                        <div class="el-form-item is-required">
                            <label for="input" class="el-form-item__label" style="">Email address</label>
                            <div class="el-form-item__content" style="">
                                <input type="email" autocomplete="off" placeholder="We'll never share your email with anyone else." class="el-input__inner" />
                            </div>
                        </div>
                        <div class="el-form-item">
                            <label for="input" class="el-form-item__label">Password</label>
                            <div class="el-form-item__content">
                                <input type="password" autocomplete="off" class="el-input__inner" />
								<div class="el-form-item__text">這是自訂的說明文字列</div>
                            </div>
                        </div>
                        <div class="el-form-item">
                            <div class="el-form-item__content">
                                <div>
                                    <label class="el-checkbox">
                                        <span class="el-checkbox__input">
                                            <span class="el-checkbox__inner"></span>
                                            <input type="checkbox" aria-hidden="false" class="el-checkbox__original" value="" autocompleted="" />
                                        </span>
                                        <span class="el-checkbox__label">Check me out</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="el-form-item">
                            <div class="el-form-item__content">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </div>
					</form>
				</div>
            </div>
        </div>
        <div class="col-6">
            <div class="col-block">
                <div class="block-header has-border">
                    <h3><strong>Size</strong></h3>
                </div>
                <div class="block-content">
					<form class="el-form ">
                        <div class="el-form-item">
                            <label for="input" class="el-form-item__label">Default</label>
                            <div class="el-form-item__content el-input">
                                <input type="text" autocomplete="off" class="el-input__inner" placeholder="繁體中文字型尺寸大小 AaBbCc" />
                            </div>
                        </div>
                        <div class="el-form-item el-form-item--medium">
                            <label for="input" class="el-form-item__label">Medium</label>
                            <div class="el-form-item__content el-input--medium">
                                <input type="text" autocomplete="off" class="el-input__inner" placeholder="繁體中文字型尺寸大小 AaBbCc" />
                            </div>
                        </div>
                        <div class="el-form-item el-form-item--small">
                            <label for="input" class="el-form-item__label">Small</label>
                            <div class="el-form-item__content el-input--small">
                                <input type="text" autocomplete="off" class="el-input__inner" placeholder="繁體中文字型尺寸大小 AaBbCc" />
                            </div>
                        </div>
                        <div class="el-form-item el-form-item--mini">
                            <label for="input" class="el-form-item__label">Mini</label>
                            <div class="el-form-item__content el-input--mini">
                                <input type="text" autocomplete="off" class="el-input__inner" placeholder="繁體中文字型尺寸大小 AaBbCc" />
                            </div>
                        </div>
					</form>
				</div>
            </div>
        </div>
    </div>
	
    <div class="row">
        <div class="col-6">
            <div class="col-block">
                <div class="block-header has-border">
                    <h3><strong>Lable align right</strong></h3>
                </div>
                <div class="block-content">
					<form class="el-form ">
                        <div class="el-form-item">
                            <label for="input" class="el-form-item__label" style="width: 140px;">中文標籤</label>
                            <div class="el-form-item__content" style="margin-left: 140px;">
                                <input type="text" autocomplete="off" class="el-input__inner">
                            </div>
                        </div>
                        <div class="el-form-item">
                            <label for="input" class="el-form-item__label" style="width: 140px;">字數長度測試換行時很悲劇</label>
                            <div class="el-form-item__content" style="margin-left: 140px;">
                                <input type="text" autocomplete="off" class="el-input__inner">
                            </div>
                        </div>
                        <div class="el-form-item">
                            <div class="el-form-item__content" style="margin-left: 140px;">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </div>
					</form>
				</div>
            </div>
        </div>
        <div class="col-6">
            <div class="col-block">
                <div class="block-header has-border">
                    <h3><strong>Lable align Left</strong></h3>
                </div>
                <div class="block-content">
					<form class="el-form el-form--label-left">
                        <div class="el-form-item">
                            <label for="input" class="el-form-item__label" style="width: 140px;">中文標籤</label>
                            <div class="el-form-item__content" style="margin-left: 140px;">
                                <input type="text" autocomplete="off" class="el-input__inner">
                            </div>
                        </div>
                        <div class="el-form-item">
                            <label for="input" class="el-form-item__label" style="width: 140px;">字數長度測試換行時很悲劇</label>
                            <div class="el-form-item__content" style="margin-left: 140px;">
                                <input type="text" autocomplete="off" class="el-input__inner">
                            </div>
                        </div>
                        <div class="el-form-item">
                            <div class="el-form-item__content" style="margin-left: 140px;">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </div>
					</form>
				</div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-6">
            <div class="col-block">
                <div class="block-header has-border">
                    <h3><strong>Forms</strong></h3>
                </div>
                <div class="block-content">
                    <form class="el-form el-form--label-top">
                        <div class="el-form-item is-required">
                            <label for="input" class="el-form-item__label" style="">單行文字</label>
                            <div class="el-form-item__content" style="">
                                <div>
                                    <div class="el-input el-input-group el-input-group--append el-input-group--prepend">
                                        <div class="el-input-group__prepend">共</div>
                                        <input type="text" autocomplete="off" placeholder="請輸入單行文字" class="el-input__inner" />
                                        <div class="el-input-group__append">天</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="el-form-item">
                            <label for="number" class="el-form-item__label" style="">數字</label>
                            <div class="el-form-item__content" style="">
                                <div>
                                    <div class="el-input-number">
                                        <span role="button" class="el-input-number__decrease"><i class="el-icon-minus"></i></span><span role="button" class="el-input-number__increase"><i class="el-icon-plus"></i></span>
                                        <div class="el-input">
                                            <input
                                                type="text"
                                                autocomplete="off"
                                                placeholder="請輸入數字"
                                                max="Infinity"
                                                min="0"
                                                class="el-input__inner"
                                                role="spinbutton"
                                                aria-valuemax="Infinity"
                                                aria-valuemin="0"
                                                aria-valuenow="undefined"
                                                aria-disabled="false"
                                            />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="el-form-item is-required">
                            <label for="select" class="el-form-item__label" style="">下拉選項</label>
                            <div class="el-form-item__content" style="">
                                <div>
                                    <div class="el-select">
                                        <div class="el-input el-input--suffix">
                                            <input type="text" readonly="readonly" autocomplete="off" placeholder="下拉選項文字" class="el-input__inner" />
                                            <span class="el-input__suffix">
                                                <span class="el-input__suffix-inner">
                                                    <i class="el-select__caret el-input__icon el-icon-arrow-up"></i>
                                                </span>
                                            </span>
                                        </div>
                                        <div class="el-select-dropdown el-popper" style="display: none; min-width: 221px;">
                                            <div class="el-scrollbar" style="">
                                                <div class="el-select-dropdown__wrap el-scrollbar__wrap" style="margin-bottom: -17px; margin-right: -17px;">
                                                    <ul class="el-scrollbar__view el-select-dropdown__list">
                                                        <li class="el-select-dropdown__item"><span>選項一</span></li>
                                                        <li class="el-select-dropdown__item"><span>選項二</span></li>
                                                    </ul>
                                                </div>
                                                <div class="el-scrollbar__bar is-horizontal"><div class="el-scrollbar__thumb" style="transform: translateX(0%);"></div></div>
                                                <div class="el-scrollbar__bar is-vertical"><div class="el-scrollbar__thumb" style="transform: translateY(0%);"></div></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="el-form-item">
                            <label for="select2" class="el-form-item__label" style="">下拉選項可多選</label>
                            <div class="el-form-item__content" style="">
                                <div>
                                    <div class="el-select">
                                        <div class="el-select__tags" style="width: 100%; max-width: 189px;"><span></span><input type="text" autocomplete="off" class="el-select__input" style="flex-grow: 1; width: 0.10582%; max-width: 179px;" /></div>
                                        <div class="el-input el-input--suffix">
                                            <input tabindex="-1" type="text" readonly="readonly" autocomplete="off" placeholder="下拉選項文字" class="el-input__inner" style="height: 40px;" />
                                            <span class="el-input__suffix">
                                                <span class="el-input__suffix-inner">
                                                    <i class="el-select__caret el-input__icon el-icon-arrow-up"></i>
                                                </span>
                                            </span>
                                        </div>
                                        <div class="el-select-dropdown el-popper is-multiple" style="display: none; min-width: 221px;">
                                            <div class="el-scrollbar" style="">
                                                <div class="el-select-dropdown__wrap el-scrollbar__wrap" style="margin-bottom: -17px; margin-right: -17px;">
                                                    <ul class="el-scrollbar__view el-select-dropdown__list">
                                                        <li class="el-select-dropdown__item"><span>選項一</span></li>
                                                        <li class="el-select-dropdown__item"><span>選項二</span></li>
                                                    </ul>
                                                </div>
                                                <div class="el-scrollbar__bar is-horizontal"><div class="el-scrollbar__thumb" style="transform: translateX(0%);"></div></div>
                                                <div class="el-scrollbar__bar is-vertical"><div class="el-scrollbar__thumb" style="transform: translateY(0%);"></div></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="el-form-item is-required">
                            <label for="date" class="el-form-item__label" style="">日期</label>
                            <div class="el-form-item__content" style="">
                                <div>
                                    <div class="el-date-editor el-input el-input--prefix el-input--suffix el-date-editor--date">
                                        <input type="text" autocomplete="off" name="" placeholder="請選擇日期" class="el-input__inner" />
                                        <span class="el-input__prefix">
                                            <i class="el-input__icon el-icon-date"></i>
                                        </span>
                                        <span class="el-input__suffix">
                                            <span class="el-input__suffix-inner">
                                                <i class="el-input__icon"></i>
                                            </span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="el-form-item is-required">
                            <label for="year" class="el-form-item__label" style="">年</label>
                            <div class="el-form-item__content" style="">
                                <div>
                                    <div class="el-date-editor el-input el-input--prefix el-input--suffix el-date-editor--year">
                                        <input type="text" autocomplete="off" name="" placeholder="請選擇年" class="el-input__inner" />
                                        <span class="el-input__prefix">
                                            <i class="el-input__icon el-icon-date"></i>
                                        </span>
                                        <span class="el-input__suffix">
                                            <span class="el-input__suffix-inner">
                                                <i class="el-input__icon"></i>
                                            </span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="el-form-item is-required">
                            <label for="month" class="el-form-item__label" style="">月</label>
                            <div class="el-form-item__content" style="">
                                <div>
                                    <div class="el-date-editor el-input el-input--prefix el-input--suffix el-date-editor--month">
                                        <input type="text" autocomplete="off" name="" placeholder="請選擇月" class="el-input__inner" />
                                        <span class="el-input__prefix">
                                            <i class="el-input__icon el-icon-date"></i>
                                        </span>
                                        <span class="el-input__suffix">
                                            <span class="el-input__suffix-inner">
                                                <i class="el-input__icon"></i>
                                            </span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="el-form-item">
                            <label for="dates" class="el-form-item__label" style="">多個日期</label>
                            <div class="el-form-item__content" style="">
                                <div>
                                    <div class="el-date-editor el-input el-input--prefix el-input--suffix el-date-editor--dates">
                                        <input type="text" readonly="readonly" autocomplete="off" name="" placeholder="請選擇多個日期" class="el-input__inner" />
                                        <span class="el-input__prefix">
                                            <i class="el-input__icon el-icon-date"></i>
                                        </span>
                                        <span class="el-input__suffix">
                                            <span class="el-input__suffix-inner">
                                                <i class="el-input__icon"></i>
                                            </span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="el-form-item is-required">
                            <label for="week" class="el-form-item__label" style="">週</label>
                            <div class="el-form-item__content" style="">
                                <div>
                                    <div class="el-date-editor el-input el-input--prefix el-input--suffix el-date-editor--week">
                                        <input type="text" readonly="readonly" autocomplete="off" name="" placeholder="請選擇週" class="el-input__inner" />
                                        <span class="el-input__prefix">
                                            <i class="el-input__icon el-icon-date"></i>
                                        </span>
                                        <span class="el-input__suffix">
                                            <span class="el-input__suffix-inner">
                                                <i class="el-input__icon"></i>
                                            </span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="el-form-item is-required">
                            <label for="datetime" class="el-form-item__label" style="">日期時間</label>
                            <div class="el-form-item__content" style="">
                                <div>
                                    <div class="el-date-editor el-input el-input--prefix el-input--suffix el-date-editor--datetime">
                                        <input type="text" autocomplete="off" name="" placeholder="請選擇日期時間" class="el-input__inner" />
                                        <span class="el-input__prefix">
                                            <i class="el-input__icon el-icon-time"></i>
                                        </span>
                                        <span class="el-input__suffix">
                                            <span class="el-input__suffix-inner">
                                                <i class="el-input__icon"></i>
                                            </span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="el-form-item">
                            <label for="datetimerange" class="el-form-item__label" style="">日期時間範圍</label>
                            <div class="el-form-item__content" style="">
                                <div>
                                    <div class="el-date-editor el-range-editor el-input__inner el-date-editor--datetimerange">
                                        <i class="el-input__icon el-range__icon el-icon-time"></i><input autocomplete="off" placeholder="開始日期" name="" class="el-range-input" /><span class="el-range-separator">至</span>
                                        <input autocomplete="off" placeholder="結束日期" name="" class="el-range-input" /><i class="el-input__icon el-range__close-icon"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="el-form-item">
                            <label for="daterange" class="el-form-item__label" style="">日期範圍</label>
                            <div class="el-form-item__content" style="">
                                <div>
                                    <div class="el-date-editor el-range-editor el-input__inner el-date-editor--daterange">
                                        <i class="el-input__icon el-range__icon el-icon-date"></i><input autocomplete="off" placeholder="開始日期" name="" class="el-range-input" /><span class="el-range-separator">至</span>
                                        <input autocomplete="off" placeholder="結束日期" name="" class="el-range-input" /><i class="el-input__icon el-range__close-icon"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="el-form-item">
                            <label for="monthrange" class="el-form-item__label" style="">月份範圍</label>
                            <div class="el-form-item__content" style="">
                                <div>
                                    <div class="el-date-editor el-range-editor el-input__inner el-date-editor--monthrange">
                                        <i class="el-input__icon el-range__icon el-icon-date"></i><input autocomplete="off" placeholder="開始日期" name="" class="el-range-input" /><span class="el-range-separator">至</span>
                                        <input autocomplete="off" placeholder="結束日期" name="" class="el-range-input" /><i class="el-input__icon el-range__close-icon"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="el-form-item is-required">
                            <label for="time" class="el-form-item__label" style="">時間</label>
                            <div class="el-form-item__content" style="">
                                <div>
                                    <div class="el-date-editor el-input el-input--prefix el-input--suffix el-date-editor--time">
                                        <input type="text" autocomplete="off" name="" placeholder="請選擇時間" class="el-input__inner" />
                                        <span class="el-input__prefix">
                                            <i class="el-input__icon el-icon-time"></i>
                                        </span>
                                        <span class="el-input__suffix">
                                            <span class="el-input__suffix-inner">
                                                <i class="el-input__icon"></i>
                                            </span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
		
		<div class="col-6">
            <div class="col-block">
                <div class="block-header has-border">
                    <h3><strong>Forms</strong></h3>
                </div>
                <div class="block-content">
                    <form class="el-form el-form--label-top">
                        <div class="el-form-item">
                            <label for="switch" class="el-form-item__label" style="">開關</label>
                            <div class="el-form-item__content" style="">
                                <div>
                                    <div role="switch" class="el-switch">
                                        <input type="checkbox" name="" true-value="true" class="el-switch__input" />
                                        <span class="el-switch__core" style="width: 40px;"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="el-form-item">
                            <label for="checkbox1" class="el-form-item__label" style="">複選項目</label>
                            <div class="el-form-item__content" style="">
                                <div>
                                    <label class="el-checkbox">
                                        <span class="el-checkbox__input"><span class="el-checkbox__inner"></span><input type="checkbox" aria-hidden="false" class="el-checkbox__original" value="" /></span>
                                        <span class="el-checkbox__label">複選項目單個</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="el-form-item is-required">
                            <label for="checkbox2" class="el-form-item__label" style="">複選項目</label>
                            <div class="el-form-item__content" style="">
                                <div>
                                    <label class="el-checkbox">
                                        <span class="el-checkbox__input"><span class="el-checkbox__inner"></span><input type="checkbox" aria-hidden="false" class="el-checkbox__original" value="1" /></span><span class="el-checkbox__label">項目一</span>
                                    </label>
                                    <label class="el-checkbox">
                                        <span class="el-checkbox__input"><span class="el-checkbox__inner"></span><input type="checkbox" aria-hidden="false" class="el-checkbox__original" value="2" /></span><span class="el-checkbox__label">項目二</span>
                                    </label>
                                    <label class="el-checkbox">
                                        <span class="el-checkbox__input"><span class="el-checkbox__inner"></span><input type="checkbox" aria-hidden="false" class="el-checkbox__original" value="3" /></span><span class="el-checkbox__label">項目三</span>
                                    </label>
                                    <label class="el-checkbox">
                                        <span class="el-checkbox__input"><span class="el-checkbox__inner"></span><input type="checkbox" aria-hidden="false" class="el-checkbox__original" value="4" /></span><span class="el-checkbox__label">項目四</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="el-form-item">
                            <label for="checkbox3" class="el-form-item__label" style="">複選項目垂直</label>
                            <div class="el-form-item__content" style="">
                                <div>
                                    <label class="el-checkbox vertical">
                                        <span class="el-checkbox__input"><span class="el-checkbox__inner"></span><input type="checkbox" aria-hidden="false" class="el-checkbox__original" value="1" /></span><span class="el-checkbox__label">項目一</span>
                                    </label>
                                    <label class="el-checkbox vertical">
                                        <span class="el-checkbox__input"><span class="el-checkbox__inner"></span><input type="checkbox" aria-hidden="false" class="el-checkbox__original" value="2" /></span><span class="el-checkbox__label">項目二</span>
                                    </label>
                                    <label class="el-checkbox vertical">
                                        <span class="el-checkbox__input"><span class="el-checkbox__inner"></span><input type="checkbox" aria-hidden="false" class="el-checkbox__original" value="3" /></span><span class="el-checkbox__label">項目三</span>
                                    </label>
                                    <label class="el-checkbox vertical">
                                        <span class="el-checkbox__input"><span class="el-checkbox__inner"></span><input type="checkbox" aria-hidden="false" class="el-checkbox__original" value="4" /></span><span class="el-checkbox__label">項目四</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="el-form-item is-required">
                            <label for="radio" class="el-form-item__label" style="">單選項目</label>
                            <div class="el-form-item__content" style="">
                                <div>
                                    <div role="radiogroup" class="el-radio-group">
                                        <label role="radio" tabindex="0" class="el-radio block">
                                            <span class="el-radio__input"><span class="el-radio__inner"></span><input type="radio" aria-hidden="true" tabindex="-1" autocomplete="off" class="el-radio__original" value="1" /></span>
                                            <span class="el-radio__label">單選項目一</span>
                                        </label>
                                        <label role="radio" tabindex="-1" class="el-radio block">
                                            <span class="el-radio__input"><span class="el-radio__inner"></span><input type="radio" aria-hidden="true" tabindex="-1" autocomplete="off" class="el-radio__original" value="2" /></span>
                                            <span class="el-radio__label">單選項目二</span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="el-form-item">
                            <label for="radio2" class="el-form-item__label" style="">單選項目垂直</label>
                            <div class="el-form-item__content" style="">
                                <div>
                                    <div role="radiogroup" class="el-radio-group">
                                        <label role="radio" tabindex="0" class="el-radio block vertical">
                                            <span class="el-radio__input"><span class="el-radio__inner"></span><input type="radio" aria-hidden="true" tabindex="-1" autocomplete="off" class="el-radio__original" value="1" /></span>
                                            <span class="el-radio__label">單選項目一</span>
                                        </label>
                                        <label role="radio" tabindex="-1" class="el-radio block vertical">
                                            <span class="el-radio__input"><span class="el-radio__inner"></span><input type="radio" aria-hidden="true" tabindex="-1" autocomplete="off" class="el-radio__original" value="2" /></span>
                                            <span class="el-radio__label">單選項目二</span>
                                        </label>
                                        <label role="radio" tabindex="-1" class="el-radio block vertical">
                                            <span class="el-radio__input"><span class="el-radio__inner"></span><input type="radio" aria-hidden="true" tabindex="-1" autocomplete="off" class="el-radio__original" value="3" /></span>
                                            <span class="el-radio__label">單選項目三</span>
                                        </label>
                                        <label role="radio" tabindex="-1" class="el-radio block vertical">
                                            <span class="el-radio__input"><span class="el-radio__inner"></span><input type="radio" aria-hidden="true" tabindex="-1" autocomplete="off" class="el-radio__original" value="4" /></span>
                                            <span class="el-radio__label">單選項目四</span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="el-form-item is-required">
                            <label for="textarea" class="el-form-item__label" style="">多行文字</label>
                            <div class="el-form-item__content" style="">
                                <div>
                                    <div class="el-textarea">
                                        <textarea autocomplete="off" placeholder="請輸入多行文字" class="el-textarea__inner" style="min-height: 33px;"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="el-form-item">
                            <label for="custom" class="el-form-item__label" style="">自定區塊</label>
                            <div class="el-form-item__content" style="">
                                <div>
                                    <div><h1>元件外自訂區塊</h1></div>
                                </div>
                            </div>
                        </div>
                        <div class="el-form-item">
                            <label for="outer-function" class="el-form-item__label" style="">按鈕</label>
                            <div class="el-form-item__content" style="">
                                <div>
                                    <button type="button" class="btn btn-outline-success btn-sm">
                                        <i class="el-icon-search"></i>
                                        查看
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="el-form-item">
                            <label class="el-form-item__label" style="">檔案上傳</label>
                            <div class="el-form-item__content" style="">
                                <div>
                                    <div class="upload-demo">
                                        <div tabindex="0" class="el-upload el-upload--text">
                                            <button type="button" class="btn btn-primary btn-sm">點擊上傳</button> <input type="file" name="file" multiple="multiple" accept="image/jpeg,image/png" class="el-upload__input" />
                                        </div>
                                        <div class="el-upload__tip">只能上傳jpg/png文件</div>
                                        <ul class="el-upload-list el-upload-list--text">
                                            <li tabindex="0" class="el-upload-list__item is-success">
                                                <a class="el-upload-list__item-name"><i class="el-icon-document"></i>food.jpeg </a><label class="el-upload-list__item-status-label"><i class="el-icon-upload-success el-icon-circle-check"></i></label>
                                                <i class="el-icon-close"></i><i class="el-icon-close-tip">按 delete 鍵可刪除</i>
                                            </li>
                                            <li tabindex="0" class="el-upload-list__item is-success">
                                                <a class="el-upload-list__item-name"><i class="el-icon-document"></i>food2.jpeg </a><label class="el-upload-list__item-status-label"><i class="el-icon-upload-success el-icon-circle-check"></i></label>
                                                <i class="el-icon-close"></i><i class="el-icon-close-tip">按 delete 鍵可刪除</i>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="el-form-item">
                            <label for="cascader" class="el-form-item__label" style="">級聯選擇器</label>
                            <div class="el-form-item__content" style="">
                                <div>
                                    <div class="el-cascader">
                                        <div class="el-input el-input--suffix">
                                            <input type="text" readonly="readonly" autocomplete="off" placeholder="請選擇" class="el-input__inner" style="height: 40px;" />

                                            <span class="el-input__suffix">
                                                <span class="el-input__suffix-inner">
                                                    <i class="el-input__icon el-icon-arrow-down"></i>
                                                </span>
                                            </span>
                                        </div>
                                        <div class="el-cascader__tags"><input type="text" placeholder="請選擇" class="el-cascader__search-input" /></div>
                                        <div class="el-popper el-cascader__dropdown" style="display: none;">
                                            <div class="el-cascader-panel">
                                                <div class="el-scrollbar el-cascader-menu" role="menu" id="cascader-menu-6256-0">
                                                    <div class="el-cascader-menu__wrap el-scrollbar__wrap" style="margin-bottom: -17px; margin-right: -17px;">
                                                        <ul class="el-scrollbar__view el-cascader-menu__list">
                                                            <li role="menuitem" id="cascader-menu-6256-0-0" tabindex="-1" class="el-cascader-node" aria-haspopup="true" aria-owns="cascader-menu-6256-0">
                                                                <label class="el-checkbox">
                                                                    <span class="el-checkbox__input"><span class="el-checkbox__inner"></span><input type="checkbox" aria-hidden="false" class="el-checkbox__original" value="" /></span>
                                                                </label>
                                                                <span class="el-cascader-node__label">指南</span><i class="el-icon-arrow-right el-cascader-node__postfix"></i>
                                                            </li>
                                                            <li role="menuitem" id="cascader-menu-6256-0-1" tabindex="-1" class="el-cascader-node" aria-haspopup="true" aria-owns="cascader-menu-6256-0">
                                                                <label class="el-checkbox">
                                                                    <span class="el-checkbox__input"><span class="el-checkbox__inner"></span><input type="checkbox" aria-hidden="false" class="el-checkbox__original" value="" /></span>
                                                                </label>
                                                                <span class="el-cascader-node__label">組件</span><i class="el-icon-arrow-right el-cascader-node__postfix"></i>
                                                            </li>
                                                            <li role="menuitem" id="cascader-menu-6256-0-2" tabindex="-1" class="el-cascader-node" aria-haspopup="true" aria-owns="cascader-menu-6256-0">
                                                                <label class="el-checkbox">
                                                                    <span class="el-checkbox__input"><span class="el-checkbox__inner"></span><input type="checkbox" aria-hidden="false" class="el-checkbox__original" value="" /></span>
                                                                </label>
                                                                <span class="el-cascader-node__label">資源</span><i class="el-icon-arrow-right el-cascader-node__postfix"></i>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <div class="el-scrollbar__bar is-horizontal"><div class="el-scrollbar__thumb" style="transform: translateX(0%);"></div></div>
                                                    <div class="el-scrollbar__bar is-vertical"><div class="el-scrollbar__thumb" style="transform: translateY(0%);"></div></div>
                                                </div>
                                            </div>
                                            <div class="el-cascader__suggestion-panel el-scrollbar" style="display: none;">
                                                <div class="el-scrollbar__wrap" style="margin-bottom: -17px; margin-right: -17px;">
                                                    <ul class="el-scrollbar__view el-cascader__suggestion-list" style="min-width: 221px;">
                                                        <li class="el-cascader__empty-text">無匹配資料</li>
                                                    </ul>
                                                </div>
                                                <div class="el-scrollbar__bar is-horizontal"><div class="el-scrollbar__thumb" style="transform: translateX(0%);"></div></div>
                                                <div class="el-scrollbar__bar is-vertical"><div class="el-scrollbar__thumb" style="transform: translateY(0%);"></div></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="el-form-item">
                            <div class="el-form-item__content" style=""><button type="button" class="btn btn-primary">儲存</button> <button type="button" class="btn btn-light">重置</button></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>

<% content_for :js do %>

<% end %>