<!-- template: 首頁 -->

<div class="container-lg">
	<div class="index-content">
	    <main class="main">
            <div class="page-title">
                <h3>公告</h3>
            </div>
			<div class="text-content">
			    <p><%= lorem_paragraphs(3) %></p>
				<p><%= lorem_paragraphs(3) %></p>
				<p><%= lorem_paragraphs(3) %></p>
			</div>
		</main>
		<aside class="aside">
            <div class="login-card">
                <div class="card-hd">
                    <h4>登入</h4>
                </div>
                <div class="card-bd">
                    <div class="form-group">
                        <label for="exampleFormControlInput1" class="form-label">Email address</label>
                        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com" />
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlInput2" class="form-label">Password</label>
                        <input type="password" class="form-control" id="exampleFormControlInput2" />
                    </div>
                    <div class="form-group">
                        <label for="loginInput4" class="form-label">Verification code</label>
                        <div class="d-flex align-items-center">
                            <span class="me-1"><input type="text" class="form-control" id="loginInput4" /></span>
                            <span class="me-1"><img class="captcha" src="http://nfu-map.dev.com.tw/common/captcha.image" /></span>
                            <span>
                                <button class="btn btn-xs btn-outline-primary" type="button"><i class="fas fa-sync-alt"></i></button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="d-grid mt-4">
                    <button class="btn btn-lg btn-primary" type="button">Login</button>
                </div>
				<div class="sso-wrap text-center">
					<span class="d-block my-4">或</span>
					<div class="d-grid">
				        <button class="btn btn-lg btn-outline-primary" type="button">SSO</button>
					</div>
				</div>
            </div>
		</aside>
	</div>
</div>



<% content_for :js do %>

<% end %>

