<!-- template: 申請紀錄 -->

<div class="container-lg">
	<div class="page-content">
        <main class="main">
            <div class="page-title">
                <h3>申請紀錄</h3>
            </div>
			<a href="#" class="btn btn-lg btn-primary">申請課程</a>
			<div class="mt-5">
				<div class="select-group">
				    <span>
                        <select class="form-select" aria-label="Default select example">
                            <option value="1">全部學年期</option>
                            <option value="2">112-1</option>
                            <option value="3">112-2</option>
                        </select>
					</span>
					<span>
                        <select class="form-select" aria-label="Default select example">
                            <option value="1">全部狀態</option>
                            <option value="2">已送出(審查中)</option>
                            <option value="3">Three</option>
                        </select>
					</span>
				</div>
				<div class="table-responsive">
                    <table class="table table-lg align-middle">
                        <thead class="table-light">
                            <tr>
                                <th>申請時間</th>
                                <th>申請類別</th>
                                <th>開課單位/主開課單位</th>
                                <th>課程名稱/主題名稱</th>
                                <th>狀態</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>2022-10-25 14:26:38</td>
                                <td>基礎專業與通識課程</td>
                                <td>文學院</td>
                                <td>國中數學第三冊第四章一次函數及其圖形</td>
                                <td>填寫中</td>
                                <td>
                                    <a href="#" class="btn btn-outline-info">編輯</a>
                                </td>
                            </tr>
                            <tr>
                                <td>2022-10-25 14:26:38</td>
                                <td>模組課程</td>
                                <td>理學院</td>
                                <td>資訊網路應用競賽活動實施計畫</td>
                                <td>已送出(審查中)</td>
                                <td>
                                    <a href="#" class="btn btn-outline-success">瀏覽</a>
                                </td>
                            </tr>
							<tr>
                                <td>2022-10-25 14:26:38</td>
                                <td>國外學者密集課程</td>
                                <td>高科技鄉民圍觀學院</td>
                                <td>創思與自我探索哲學概論</td>
                                <td>已完成審查</td>
                                <td>
                                    <a href="#" class="btn btn-outline-success">瀏覽</a>
                                </td>
                            </tr>
							<tr>
                                <td>2022-10-25 14:26:38</td>
                                <td>國外學者密集課程</td>
                                <td>高科技鄉民圍觀學院</td>
                                <td>閱讀融入學習領域之課程與教學研究</td>
                                <td>補件</td>
                                <td>
                                    <a href="#" class="btn btn-outline-danger">補件</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
				</div>
			</div>
        </main>
	</div>
</div>



<% content_for :js do %>

<% end %>

