/* `Footer
-----------------------------------------------------------------------------*/

footer.footer {
	background: #fbf6f4;
	color: #666;
	line-height: 1.8;
	.general-links, .custom-icon {
		li { display: inline-block; }
	}
	.general-links {
		li {
			margin-right: 15px;
			position: relative;
			&:after {
				content: "";
				background: rgba(#fff, .25);
				border-radius: 50%;
				width: 5px;
				height: 5px;
				position: absolute;
				top: 12px;
				right: -12px;
			}
			&:last-child {
				margin-right: 0;
				&:after {
					content: none;
				}
			}
		}
	}
	.contact-content {
		display: flex;
		h5 { font-size: 1.125rem; }
	}
	.contact {
		i {
			margin-right: 10px;
			width: 15px;
			text-align: center;
		}
	}
	
	.footer-bt {
		background: #f9f1ed;
		padding: 1.5rem 0;
        .container {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
        }
		p { margin-bottom: 0; }
	}
	address { margin-bottom: 0; }
}

.footer-inner {
	margin-bottom: 2rem;
	padding-top: 3rem;
	.container {
        display: flex;
		flex-direction: row-reverse;
        justify-content: space-between;
	}
}
.ft-logo {
	padding-right: 1.25rem;
	img {
		width: 138px;
		height: auto;
	}
}
