/* `Footer
-----------------------------------------------------------------------------*/

footer.footer {
	margin-top: 60px;
	font-size: 0.9375rem;
	color: #999;
	.footer-inner {
		display: flow-root;
		border-top: 1px dashed #ddd;
		padding: 60px 0 80px;
		line-height: 1.5;
	}
	.contact {
		float: left;
		h5, p { margin-bottom: 0; }
	}
    .browser-support {
		float: right;
	}
	.fa {
		margin-right: 0.5rem;
		width: 16px;
		font-size: 0.875rem;
		color: #bbb;
		text-align: center;
	}
}