/* `Header
-----------------------------------------------------------------------------*/

header.header {
	border-top: 6px solid $main_color;
	margin-bottom: 3.75rem;
	position: relative;
	.language {
		margin-bottom: 0.5rem;
		font-size: 0.9375rem;
		a {
			display: inline-block;
			padding: 0 0.5rem;
			position: relative;
			color: #999;
			&:hover { color: $main_color; }
			&.current {
				cursor: default;
				color: #000;
			}
			&:after {
				content: "";
				background: #e5e5e5;
				width: 1px;
				height: 16px;
				position: absolute;
				right: -0.125rem;
				top: 0.25rem;
			}
			&:last-child:after {
				content: none;
			}
		}
	}
}

.header-right { text-align: right; }

.header-wrap {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	height: 100px;
	.brands {
		a {
            align-items: center;
			color: #333;
            &:hover { text-decoration: none; }
		}
        h1 { margin: 0; }
	}
	.h1-logo {
		display: inline-block;
		width: auto;
		height: 64px;
		vertical-align: middle;
	}
    .logo {
        margin-right: 20px;
    }
    .sub {
        line-height: 1.2;
        > span {
            display: block;
            font-size: 1.5rem;
        }
		.en {
			font-family: "Roboto", sans-serif;
			font-size: 1rem;
			font-weight: 500;
		}
    }
    .account {
		padding: 0 0.5rem;
		.nav-link {
			display: inline-block;
			padding: 0;
			height: 32px;
			line-height: 32px;
		}
	}
}

