<footer class="footer">
	<div class="container">
		<div class="footer-inner">
			<div class="contact">
				<div class="contact-block">
                    <h5>Office Hours</h5>
                    <p>Monday – Friday [ Taiwan Time ] 9am - 5pm</p>
				</div>
				<div class="contact-block">
                    <h5>Consultation Hours</h5>
                    <p>Noon - 4:30pm</p>
				</div>
            </div>
            <div class="contact contact-address">
				<h5>Contact</h5>
                <p class="has-padding"><i class="fa fa-map-marker"></i> 4th floor, 2nd Admin Bldg., No 1, Sec 4, Roosevelt Rd, Taipei 10617, Taiwan</p>
				<p class="has-padding"><i class="fa fa-phone"></i> +886-2-3366-2007, +886-2-2362-6801</p>
				<p class="has-padding"><i class="fa fa-fax"></i> +886-2-2362-0096 </p>
            </div>
			<div class="contact social-media">
			    <ul class="menu-item facebook">
				    <li><a href="#">NTUOIA</a></li>
				</ul>
				<ul class="menu-item youtube">
				    <li><a href="#">NTUOIA </a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="footer-bottom">
	    <div class="container">
		    <address>© 2020 Office of International Affairs ALL RIGHTS RESERVED.</address>
		</div>
	</div>
</footer>
