<footer class="footer">
	<div class="container">
		<div class="footer-inner">
			<div class="contact">
				<div class="contact-block">
                    <h5>辦公時間</h5>
                    <p>週ㄧ至週五 [台灣時間] 自上午 9 時至下午 5 時</p>
				</div>
				<div class="contact-block">
                    <h5>臨櫃服務時間</h5>
                    <p>中午 12 時至下午 4 時 30 分</p>
				</div>
            </div>
            <div class="contact">
				<h5>聯絡我們</h5>
                <p class="has-padding"><i class="fa fa-map-marker"></i> 10617 臺北市大安區羅斯福路 4 段 1 號<span class="breakpoint">第 2 行政大樓 4 樓 418、419、420 室</span></p>
				<p class="has-padding"><i class="fa fa-phone"></i> +886-2-3366-2007, +886-2-2362-6801</p>
				<p class="has-padding"><i class="fa fa-fax"></i> +886-2-2362-0096 </p>
            </div>
			<div class="contact social-media">
			    <ul class="menu-item facebook">
				    <li><a href="#">國際處</a></li>
					<li><a href="#">海外教育</a></li>
					<li><a href="#">國際學生</a></li>
					<li><a href="#">短期研修</a></li>
				</ul>
				<ul class="menu-item youtube">
				    <li><a href="#">NTUOIA </a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="footer-bottom">
	    <div class="container">
		    <address>© 2020 Office of International Affairs ALL RIGHTS RESERVED.</address>
		</div>
	</div>
</footer>
