<header class="header">
    <div id="pagetop" class="header-top">
		<div class="container">
            <ul class="menu-item topnav">
                <li><a href="#">NTU</a></li>
                <li>
                    <a href="#">
                        <i class="fa fa-envelope"></i>
                        <span class="text">Contact</span>
                    </a>
                </li>
				<li>
                    <a href="#">
                        <i class="fa fa-question-circle"></i>
                        <span class="text">Q&A</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-sitemap"></i>
                        <span class="text">Sitemap</span>
                    </a>
                </li>
                <li><a href="#" data-toggle="modal" data-target="#frameSearch"><i class="fa fa-search"></i></a></li>
                <li class="language"><a href="#">中文</a></li>
            </ul>
		</div>
    </div>
    <div class="container">
		<div class="header-wrap">
			<div class="brands">
				<a href="index.html">
                    <div class="logo">
                        <h1 class="text-hide">Office of International Affairs, National Taiwan University</h1>
                        <img class="h1-logo" src="../assets/logo@2x.png" />
                    </div>
                    <div class="sub">
                        <span class="ch">Office of International Affairs</span>
						<span class="en">National Taiwan University</span>
                    </div>
				</a>
			</div>
			<div class="header-right">
                <ul class="menu-item subnav">
                    <li><a href="#">NTU</a></li>
                    <li><a href="#">Contact</a></li>
					<li><a href="#">Q&A</a></li>
                    <li><a href="#">Sitemap</a></li>
                    <li class="search-btn"><a href="#" data-toggle="modal" data-target="#frameSearch"><i class="fa fa-search"></i></a></li>
                    <li class="language"><a href="#">中文</a></li>
                </ul>
			</div>
		</div>
    </div>
	<div class="navbar-wrapper">
		<div class="container">
            <nav class="navbar navbar-light navbar-expand-xl">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="line"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">About</a>
                            <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink1">
                                <a class="dropdown-item" href="#">Facts & Figures</a>
                                <a class="dropdown-item" href="#">Members</a>
                                <a class="dropdown-item" href="#">Statistics</a>
                                <a class="dropdown-item" href="#">Bilingual Glossary</a>
								<a class="dropdown-item" href="#">Regulation</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Prospective Students</a>
                            <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink2">
                                <a class="dropdown-item" href="#">Study at NTU</a>
                                <a class="dropdown-item" href="#">Degree Programs</a>
                                <a class="dropdown-item" href="#">Non-Degree Programs</a>
                                <a class="dropdown-item" href="#">Learning Chinese</a>
                                <a class="dropdown-item" href="#">Meet NTU</a>
                                <a class="dropdown-item" href="#">Contact Us</a>
                            </div>
                        </li>
						<li class="nav-item">
                            <a class="nav-link dropdown-toggle current" id="navbarDropdownMenuLink3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Apply to NTU</a>
                            <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink3">
                                <a class="dropdown-item" href="#">Degree Student</a>
                                <a class="dropdown-item" href="#">Dual Degree Student</a>
                                <a class="dropdown-item" href="#">Exchange Student Program</a>
                                <a class="dropdown-item" href="#">Visiting Student Program</a>
								<a class="dropdown-item" href="#">Research Visiting Program</a>
                                <a class="dropdown-item" href="#">Contact Us</a>
                            </div>
                        </li>
						<li class="nav-item">
                            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Current Students</a>
                            <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink4">
								<a class="dropdown-item" href="#">Overview</a>
                                <a class="dropdown-item" href="#">International Degree and Dual Degree Students</a>
                                <a class="dropdown-item" href="#">International Exchange Students</a>
                                <a class="dropdown-item" href="#">International Visiting Students</a>
                                <a class="dropdown-item" href="#">Chinese for International Students</a>
                                <a class="dropdown-item" href="#">Activities for International Students</a>
								<a class="dropdown-item" href="#">On Campus International Experience</a>
                                <a class="dropdown-item" href="#">Contact Us</a>
                            </div>
                        </li>
						<li class="nav-item">
                            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink5" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Study Abroad</a>
                            <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink5">
								<a class="dropdown-item" href="#">Study Abroad Programs</a>
                                <a class="dropdown-item" href="#">Study Abroad Fair</a>
                                <a class="dropdown-item" href="#">Exchange Student Program</a>
                                <a class="dropdown-item" href="#">Visiting Student Program</a>
                                <a class="dropdown-item" href="#">Overseas Summer Programs</a>
                                <a class="dropdown-item" href="#">Overseas Short-term Programs</a>
								<a class="dropdown-item" href="#">Overseas Internship Programs</a>
                                <a class="dropdown-item" href="#">Dual Degree Programs</a>
								<a class="dropdown-item" href="#">On Campus International Experience</a>
                            </div>
                        </li>
						<li class="nav-item">
                            <a href="#" class="nav-link">Short-term Programs</a>
                        </li>
						<li class="nav-item">
                            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink10" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Cooperation with NTU</a>
                            <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink10">
								<a class="dropdown-item" href="#">Agreement Signing</a>
                                <a class="dropdown-item" href="#">List of Agreements</a>
                                <a class="dropdown-item" href="#">Agreements Search</a>
                                <a class="dropdown-item" href="#">Cooperation through Networks</a>
                                <a class="dropdown-item" href="#">International Funding Projects</a>
                            </div>
                        </li>
						<li class="nav-item">
                            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink7" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">International Scholar</a>
                            <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink7">
								<a class="dropdown-item" href="#">International Scholar</a>
                                <a class="dropdown-item" href="#">Scholars Program</a>
                                <a class="dropdown-item" href="#">International Visiting Scholar Benefits & Privileges</a>
                                <a class="dropdown-item" href="#">Before you arrive</a>
                                <a class="dropdown-item" href="#">Once you're in Taipei</a>
								<a class="dropdown-item" href="#">Campus Resources</a>
                            </div>
                        </li>
						<li class="nav-item">
                            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink8" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">International Guests</a>
                            <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink8">
								<a class="dropdown-item" href="#">Intellectual Visits</a>
                                <a class="dropdown-item" href="#">Guest Book</a>
                                <a class="dropdown-item" href="#">University Staff Training Program</a>
                            </div>
                        </li>
						<li class="nav-item">
                            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink9" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">NTU Faculty & Staff</a>
                            <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink9">
								<a class="dropdown-item" href="#">Subsidies for English Teaching</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
		</div>
	</div>
</header>