<header class="header">
	<a href="#" class="js-toggle-right-slidebar js-toggle-slidebar">編輯</a>
    <div class="container">
		<div class="header-top">
		    <ul class="menu-item topnav">
			    <li><a href="#">NTU</a></li>
				<li><a href="#">聯絡我們</a></li>
				<li><a href="#">網站導覽</a></li>
				<li><a href="#"><i class="fa fa-search"></i></a></li>
				<li class="language"><a href="#">English</a></li>
			</ul>
		</div>
		<div class="header-wrap">
			<div class="brands">
				<a href="index.html">
                    <div class="logo">
                        <h1 class="text-hide">國立臺灣大學 國際事務處 Office of International Affairs, National Taiwan University</h1>
                        <img class="h1-logo" src="../assets/logo@2x.png" />
                    </div>
                    <div class="sub">
                        <span class="ch">國立臺灣大學 國際事務處</span>
						<span class="en">Office of International Affairs, National Taiwan University</span>
                    </div>
				</a>
			</div>
			<div class="header-right">
                <ul class="menu-item subnav">
                    <li><a href="#">NTU</a></li>
                    <li><a href="#">聯絡我們</a></li>
                    <li><a href="#">網站導覽</a></li>
                    <li class="search-btn"><a href="#"><i class="fa fa-search"></i></a></li>
                    <li class="language"><a href="#">English</a></li>
                </ul>
			</div>
		</div>
    </div>
	<nav class="navbar navbar-expand-lg">
	    <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#">關於本處</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">認識臺大</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">申請臺大</a>
                    </li>
					<li class="nav-item">
                        <a class="nav-link" href="#">境外生</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">海外教育計畫</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">國際短期課程</a>
                    </li>
					<li class="nav-item">
                        <a class="nav-link" href="#">國際訪賓與學人</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">校際交流合作</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">臺大教職員</a>
                    </li>
					<li class="nav-item">
                        <a class="nav-link" href="#">SoNTU臺大形象禮品</a>
                    </li>
                </ul>
            </div>
		</div>
	</nav>
</header>