<header class="header">
    <div id="pagetop" class="header-top">
		<div class="container">
            <ul class="menu-item topnav">
                <li><a href="#">NTU</a></li>
                <li>
                    <a href="#">
                        <i class="fa fa-envelope"></i>
                        <span class="text">聯絡我們</span>
                    </a>
                </li>
				<li>
                    <a href="#">
                        <i class="fa fa-question-circle"></i>
                        <span class="text">常見問題</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-sitemap"></i>
                        <span class="text">網站地圖</span>
                    </a>
                </li>
                <li><a href="#" data-toggle="modal" data-target="#frameSearch"><i class="fa fa-search"></i></a></li>
                <li class="language"><a href="#">English</a></li>
            </ul>
		</div>
    </div>
    <div class="container">
		<div class="header-wrap">
			<div class="brands">
				<a href="index.html">
                    <div class="logo">
                        <h1 class="text-hide">國立臺灣大學 國際事務處 Office of International Affairs, National Taiwan University</h1>
                        <img class="h1-logo" src="../assets/logo@2x.png" />
                    </div>
                    <div class="sub">
                        <span class="ch">國立臺灣大學 國際事務處</span>
						<span class="en">Office of International Affairs, National Taiwan University</span>
                    </div>
				</a>
			</div>
			<div class="header-right">
                <ul class="menu-item subnav">
                    <li><a href="#">NTU</a></li>
                    <li><a href="#">聯絡我們</a></li>
					<li><a href="#">常見問題</a></li>
                    <li><a href="#">網站導覽</a></li>
                    <li class="search-btn"><a href="#" data-toggle="modal" data-target="#frameSearch"><i class="fa fa-search"></i></a></li>
                    <li class="language"><a href="#">English</a></li>
                </ul>
			</div>
		</div>
    </div>
	<div class="navbar-wrapper">
		<div class="container">
            <nav class="navbar navbar-light navbar-expand-xl">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="line"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">關於本處</a>
                            <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink1">
                                <a class="dropdown-item" href="#">本處簡介</a>
                                <a class="dropdown-item" href="#">本處成員</a>
                                <a class="dropdown-item" href="#">法規彙編</a>
                                <a class="dropdown-item" href="#">中英雙語詞彙</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">認識臺大</a>
                            <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink2">
                                <a class="dropdown-item" href="#">選擇臺大</a>
                                <a class="dropdown-item" href="#">認識臺灣</a>
                                <a class="dropdown-item" href="#">學費與生活費用</a>
                                <a class="dropdown-item" href="#">獎學金</a>
                                <a class="dropdown-item" href="#">學生住宿</a>
                                <a class="dropdown-item" href="#">校園生活</a>
                                <a class="dropdown-item" href="#">參觀臺大</a>
                                <a class="dropdown-item" href="#">學位生</a>
                                <a class="dropdown-item" href="#">非學位計畫</a>
                                <a class="dropdown-item" href="#">學習華語</a>
                                <a class="dropdown-item" href="#">聯絡我們</a>
                            </div>
                        </li>
						<li class="nav-item">
                            <a class="nav-link dropdown-toggle current" id="navbarDropdownMenuLink3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">申請臺大</a>
                            <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink3">
                                <a class="dropdown-item" href="#">境外學位生</a>
                                <a class="dropdown-item" href="#">雙聯學位生</a>
                                <a class="dropdown-item" href="#">來校交換學生</a>
                                <a class="dropdown-item" href="#">來校訪問學生</a>
								<a class="dropdown-item" href="#">來校訪問研究生</a>
                                <a class="dropdown-item" href="#">聯絡我們</a>
                            </div>
                        </li>
						<li class="nav-item">
                            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">國際學生</a>
                            <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink4">
								<a class="dropdown-item" href="#">校園資訊</a>
                                <a class="dropdown-item" href="#">國際學位生與雙聯學位生</a>
                                <a class="dropdown-item" href="#">來校交換學生</a>
                                <a class="dropdown-item" href="#">來校訪問學生</a>
                                <a class="dropdown-item" href="#">國際學生華語課程</a>
                                <a class="dropdown-item" href="#">國際學生活動</a>
								<a class="dropdown-item" href="#">校內國際化服務</a>
                                <a class="dropdown-item" href="#">聯絡我們</a>
                            </div>
                        </li>
						<li class="nav-item">
                            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink5" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">海外教育</a>
                            <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink5">
								<a class="dropdown-item" href="#">海外教育計畫</a>
                                <a class="dropdown-item" href="#">海外教育展</a>
                                <a class="dropdown-item" href="#">交換學生計畫</a>
                                <a class="dropdown-item" href="#">訪問學生計畫</a>
                                <a class="dropdown-item" href="#">海外暑期課程</a>
                                <a class="dropdown-item" href="#">海外短期課程</a>
								<a class="dropdown-item" href="#">海外實習計畫</a>
                                <a class="dropdown-item" href="#">雙聯學位計畫</a>
								<a class="dropdown-item" href="#">國際化服務</a>
                                <a class="dropdown-item" href="#">AEARU 線上教室專案</a>
                            </div>
                        </li>
						<li class="nav-item">
                            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink6" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">國際短期課程</a>
                            <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink6">
								<a class="dropdown-item" href="#">國際短期課程</a>
                                <a class="dropdown-item" href="#">國際春季課程</a>
                                <a class="dropdown-item" href="#">國際夏季課程</a>
                                <a class="dropdown-item" href="#">國際秋季課程</a>
                                <a class="dropdown-item" href="#">國際冬季課程</a>
                                <a class="dropdown-item" href="#">國際短期課程輔導員</a>
                            </div>
                        </li>
						<li class="nav-item">
                            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink7" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">國際訪賓與學人</a>
                            <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink7">
								<a class="dropdown-item" href="#">簡介</a>
                                <a class="dropdown-item" href="#">國際訪賓</a>
                                <a class="dropdown-item" href="#">國際學人</a>
                                <a class="dropdown-item" href="#">禮賓學生計畫</a>
                                <a class="dropdown-item" href="#">行政職員研習計畫</a>
                            </div>
                        </li>
						<li class="nav-item">
                            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink8" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">校際交流合作</a>
                            <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink8">
								<a class="dropdown-item" href="#">締結合約</a>
                                <a class="dropdown-item" href="#">本校姊妹校一覽</a>
                                <a class="dropdown-item" href="#">合約查詢</a>
                                <a class="dropdown-item" href="#">出席國際教育者年會</a>
                                <a class="dropdown-item" href="#">主辦國際會議</a>
								<a class="dropdown-item" href="#">國際獎助計畫</a>
                                <a class="dropdown-item" href="#">重點姊妹校</a>
                            </div>
                        </li>
						<li class="nav-item">
                            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink9" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">臺大教職員</a>
                            <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink9">
								<a class="dropdown-item" href="#">締結合約</a>
                                <a class="dropdown-item" href="#">英語授課補助計畫</a>
                                <a class="dropdown-item" href="#">境外學生招生</a>
                                <a class="dropdown-item" href="#">海外教育計畫</a>
                                <a class="dropdown-item" href="#">國際學生</a>
								<a class="dropdown-item" href="#">國際學人</a>
                                <a class="dropdown-item" href="#">國際訪賓與出訪資源</a>
								<a class="dropdown-item" href="#">主辦國際會議</a>
                                <a class="dropdown-item" href="#">入臺證專區</a>
                                <a class="dropdown-item" href="#">國際交流資訊系統</a>
								<a class="dropdown-item" href="#">國際化分享會</a>
                                <a class="dropdown-item" href="#">常用表單</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
		</div>
	</div>
</header>