    <div class="modal single-modal fade" id="basicMemberModal" tabindex="-1" role="dialog" aria-labelledby="memberModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="memberModalLabel">Vice President Office</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
					<div class="member-intro">
					    <div class="photo-wrap">
						    <img src="http://placekitten.com/300/300">
						</div>
						<div class="intro-wrap">
							<div class="intro-hd">
                                <h4>Vice President for International Affairs</h4>
                                <h3>袁孝維 Prof. Hsiao-Wei Yuan</h3>
							</div>
							<section class="intro-block">
                                <h6>Education</h6>
								<ul class="menu-item general-item">
								    <li>Ph.D., in Department of Natural resources, Cornell University</li>
									<li>M.Sc., in Department of Animal Science and Technology, NTU</li>
									<li>B.A. in Department of Animal Science and Technology, NTU</li>
								</ul>
							</section>
							<section class="intro-block">
                                <h6>Work Experience</h6>
								<ul class="menu-item general-item">
								    <li>After you get up and running, you can place Font Awesome icons just about anywhere with the tag:</li>
									<li>Professor, School of Forestry and Resource Conservation, NTU</li>
									<li>Director of the MOST Center for Global Affairs and Science Engagement (GASE)</li>
									<li>Chair, School of Forestry and Resource Conservation, NTU</li>
									<li>Director for International Affairs Office, National Applied Research Laboratories</li>
									<li>Vice President for International Affairs, NTU</li>
									<li>Deputy Vice President for International Affairs, NTU</li>
									<li>Section Director, Student Assistance Division, Office of Student Affairs, NTU</li>
									<li>Visiting Associate Professor, Oregon State U., Corvallis</li>
									<li>Associate Professor, Department of Forestry and Resources Conservation, NTU</li>
									<li>Chair, Taiwan Forest Therapy Society</li>
									<li>Vice Chair, Asia-Pacific Association for International Education</li>
									<li>Chief Executive Officer, FICHET</li>
								</ul>
							</section>
							<section class="intro-block mb-0">
                                <ul class="menu-item contact-item">
                                    <li>
                                        <i class="fa fa-envelope-o"></i>
                                        <a href="mailto:oia@ntu.edu.tw">oia@ntu.edu.tw</a>
                                    </li>
                                    <li>
                                        <i class="fa fa-phone"></i>
                                        +886 (0)2-3366-2007
                                    </li>
                                </ul>
							</section>
						</div>
					</div>
                </div>
            </div>
        </div>
    </div>