    <div class="modal single-modal fade" id="basicMemberModal" tabindex="-1" role="dialog" aria-labelledby="memberModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="memberModalLabel">國際長室</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
					<div class="member-intro">
					    <div class="photo-wrap">
						    <img src="http://placekitten.com/300/300">
						</div>
						<div class="intro-wrap">
							<div class="intro-hd">
                                <h4>國際長</h4>
                                <h3>袁孝維 Prof. Hsiao-Wei Yuan</h3>
							</div>
							<section class="intro-block">
                                <h6>學歷</h6>
								<ul class="menu-item general-item">
								    <li>美國康乃爾大學自然資源博士</li>
									<li>美國康乃爾大學自然資源博士</li>
									<li>美國康乃爾大學自然資源博士</li>
								</ul>
							</section>
							<section class="intro-block">
                                <h6>經歷</h6>
								<ul class="menu-item general-item">
								    <li>After you get up and running, you can place Font Awesome icons just about anywhere with the tag:</li>
									<li>全球事務與科學發展中心主任</li>
									<li>國立臺灣大學森林環境暨資源學系系主任</li>
									<li>國家實驗研究院國際事務主任</li>
									<li>國立臺灣大學國際長</li>
									<li>國立臺灣大學副國際長</li>
									<li>國立臺灣大學學務處生活輔導組主任</li>
									<li>美國奧勒岡州立大學客座副教授</li>
									<li>國立臺灣大學森林學系副教授</li>
									<li>台灣森林保健學會理事長</li>
									<li>2011亞太國際教育年會副主席</li>
									<li>財團法人高等教育國際合作基金會執行長</li>
								</ul>
							</section>
							<section class="intro-block mb-0">
                                <ul class="menu-item contact-item">
                                    <li>
                                        <i class="fa fa-envelope-o"></i>
                                        <a href="mailto:oia@ntu.edu.tw">oia@ntu.edu.tw</a>
                                    </li>
                                    <li>
                                        <i class="fa fa-phone"></i>
                                        +886 (0)2-3366-2007
                                    </li>
                                </ul>
							</section>
						</div>
					</div>
                </div>
            </div>
        </div>
    </div>