/* `Footer
-----------------------------------------------------------------------------*/

footer.footer {
	margin-top: 5rem;
	color: #929189;
	.footer-inner {
		display: flex;
		justify-content: space-between;
        border-top: 1px solid $base_border_color;
		padding: 3.75rem 0 7.5rem;
	}
	.contact {
		display: flex;
		.menu-item li { margin-bottom: 0.125rem; }
	}
	h4 {
		margin-right: 3rem;
		font-size: 1.25rem;
		color: #5f5d56;
	}
	.fa {
		padding-right: 0.625rem;
		width: 28px;
		color: rgba(#929189, .65);
		text-align: center;
	}
	.browser-support { margin-bottom: 0; }
}