/* `Header
-----------------------------------------------------------------------------*/

header.header {
	background: #fff;
	margin-bottom: 3.75rem;
	padding-top: 2.25rem;
	.navbar {
		box-shadow: none;
		background-color: #e0e0d6;
		padding-top: 0;
		padding-bottom: 0;
		min-height: 3.75rem;
		.nav-link {
			padding: 0 2rem;
			font-size: 1.0625rem;
			color: #7d7d6e !important;
			line-height: 3.75rem;
			&:hover { color: #2e231b !important; }
		}
		.nav-item {
			position: relative;
			&:before, &:after {
				content: "";
				position: absolute;
				top: 1.875rem;
				border-radius: 50%;
				background: #c9c9c0;
				width: 2px;
				height: 2px;
			}
			&:before { left: -1px; }
			&:after { right: -1px; }
		}
        .count {
            display: inline-block;
            background: #fffc96;
            border-radius: 13px;
            margin-left: 0.25rem;
            padding: 0 0.5rem;
            font-family: 'Roboto', '\5FAE\8EDF\6B63\9ED1\9AD4', sans-serif;
            line-height: 26px;
			transition: .35s;
        }
		.nav-item.active .nav-link,
		.nav-item.active .nav-link:hover {
			background-color: #c9c9c0 !important;
			color: #2e231b !important;
			cursor: default;
		}
		.navbar-toggler { min-height: 3.75rem; }
		
	}
	.nav-item {
		.nav-link:hover .count { background-color: #fffdc0; }
		&.active .nav-link .count { background-color: #fffc96; }
		
	}
}

.header-wrap {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 2.25rem;
	.brands {
		display: flex;
		align-items: center;
        h1 { margin: 0; }
		.h-link {
            display: flex;
            align-items: center;
			color: #333;
		}
	}
	.h1-logo {
		display: inline-block;
		width: auto;
		height: 72px;
		vertical-align: middle;
	}
    .logo {
        margin-right: 1.625rem;
		height: 72px;
		width: 72px;
		position: relative;
		&:after, &:before {
			content: "";
			border-radius: 50%;
			width: 72px;
			height: 72px;
			position: absolute;
			left: 0;
			top: 0;
		}
		&:before {
			box-shadow: 0 -6px 6px rgba(#fff, 1);
			z-index: 1;
		}
		&:after {
			box-shadow: 0 6px 16px rgba(#372113, .2), 0 0 16px rgba(#322a24, .2);
			z-index: 0;
		}
    }
	.project {
		display: flex;
		align-items: center;
		line-height: 1.2;
		color: #595959;
		.years {
			margin-right: 0.875rem;
			font-size: 3.5rem;
			font-weight: 300;
			color: $secondary_color;
		}
		.name {
			font-size: 1.25rem;
			color: #57544d;
			small {
				display: block;
				margin-top: 0.125rem;
                font-size: 1.125rem;
                color: #857f6e;
			}
		}
	}
    .account {
		color: #857f6e;
		.logout {
			display: inline-block;
			margin-left: 0.5rem;
			color: #c1c198;
			&:hover { color: $secondary_color; }
		}
	}
}

.header-project {
	background: $main_lighten_color;
	border-radius: 0 0 3px 3px;
	padding: 0.65rem 1.25rem;
	h2 {
		margin-bottom: 0;
		font-family: 'Roboto', sans-serif;
		font-size: 20px;
		font-weight: 300;
		strong { font-weight: 700; }
	}
}

