/*
	Name: Global Form Styles
	Description: Default styling for forms.
	Coder: Emma Lu
*/
/*
select,
button,
input[type="button"],
input[type="reset"],
input[type="submit"],
input[type="radio"],
input[type="checkbox"] {cursor: pointer; *zoom: 1;}

button,
input[type="button"],
input[type="text"],
input[type="file"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
select,
textarea {font-family: 微軟正黑體, "Open Sans", sans-serif; font-size: 13px; vertical-align: middle;}

p {margin-bottom: .8em;}
*/
/* Input Types 
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
textarea {box-shadow: 0 1px 1px #EEE inset;	background-color: #fff;	border: 1px solid #AAA;	color: #333; font-size: inherit;
  padding: 4px; height: 20px; line-height: 20px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;}

textarea {height: auto;}
input[type="file"] {height: 26px; line-height: 26px; background-color: #FFF; border: 1px solid #AAA;}

input[type="text"]:hover,
input[type="password"]:hover,
input[type="datetime"]:hover,
input[type="datetime-local"]:hover,
input[type="date"]:hover,
input[type="month"]:hover,
input[type="time"]:hover,
input[type="week"]:hover,
input[type="number"]:hover,
input[type="email"]:hover,
input[type="url"]:hover,
input[type="search"]:hover,
input[type="tel"]:hover,
textarea:hover {border-color: #BBB;
  -moz-box-shadow: 0 0 5px #BBB;
  -webkit-box-shadow: 0 0 5px #BBB;
  box-shadow: 0 0 5px #BBB;}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
textarea:focus,
select:focus {border-color: #66ccff; color: #000;
  -moz-box-shadow: 0 0 5px #0099ff;
  -webkit-box-shadow: 0 0 5px #0099ff;
  box-shadow: 0 0 5px #0099ff;}

input[disabled],
select[disabled],
textarea[disabled],
input[readonly],
select[readonly],
textarea[readonly] {
  background-color: #e9e9e9;
  border-color: #DDD;
  cursor: not-allowed;}

select {box-shadow: 0 1px 1px #EEE inset; color: #333; display: inline-block; height: 30px; line-height: 30px;
  padding: 4px 6px; vertical-align: middle; border: 1px solid #AAA;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;}
select[multiple], select[size] {height: auto;}

input[type="radio"],
input[type="checkbox"] {padding: 0; margin: 0;}
input[disabled], input[disabled]:hover {cursor: not-allowed; border-color: #CCC; color: #777;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;}
*/
/* Buttons */
/*
.btn, input.btn {display: inline-block; *display: inline; padding: 3px 8px; *padding: 2px 8px 0; color: #444; line-height: 20px; margin: 0 1px; *margin: 0 2px; text-shadow: 0 1px 1px #EEE;
  text-align: center; vertical-align: middle; box-shadow: 0 1px 0 rgba(255, 255, 255, 0.35) inset, 0 1px 1px rgba(200, 200, 200, 0.5); cursor: pointer; font-size: 14px;
  border: 1px solid #AAA;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background: #DDD;
  behavior: url(/pie/PIE.htc);}
.btn:hover, .btn:active, .btn.active, .btn.disabled, .btn[disabled] {color: #333; background: #CCC;}
.btn.disabled, .btn[disabled] {cursor: not-allowed; background: none; opacity: 0.60; filter: alpha(opacity=60); text-shadow: none; text-decoration: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;}
a.btn, a.btn:hover {text-decoration: none; color: #444; padding: 4px 10px;}

.btn-primary.active, .btn-success.active, .btn-info.active, btn-warning.active, btn-danger.active, btn-inverse.active {color: rgba(255, 255, 255, 0.75);}
a.btn-primary, a.btn-primary:hover, a.btn-success, a.btn-success:hover, a.btn-info, a.btn-info:hover, a.btn-danger, a.btn-danger:hover, a.btn-inverse, a.btn-inverse:hover {color: #FFF;}
.btn-primary, input.btn-primary  {color: #FFF; text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.4); border-color: #0384c0; background: #04a5f0; font-weight: bold;}
.btn-primary:hover, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] {color: #FFF; background: #0384c0;}

.btn-success, input.btn-success {color: #fff; text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.4); border-color: #50910a; background: #64b50d; font-weight: bold;}
.btn-success:hover, .btn-success:active, .btn-success.active, .btn-success.disabled, .btn-success[disabled] {color: #FFF; background: #50910a;}

.btn-info, input.btn-info {color: #fff; text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.4); border-color: #b48200; background: #e1a200; font-weight: bold;}
.btn-info:hover, .btn-info:active, .btn-info.active, .btn-info.disabled, .btn-info[disabled] {color: #FFF; background: #b48200;}

.btn-danger, input.btn-danger {color: #fff; text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.4); border-color: #c35300; background: #D77400; font-weight: bold;}
.btn-danger:hover, .btn-danger:active, .btn-danger.active, .btn-danger.disabled, .btn-danger[disabled] {color: #FFF; background: #c35300;}

.btn-inverse, input.btn-inverse {color: #fff; text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.4); border-color: #222; background-color: #333;}
.btn-inverse:hover, .btn-inverse:active, .btn-inverse.active, .btn-inverse.disabled, .btn-inverse[disabled] {color: #fff; background: #222;}
.btn-link, .btn-link:active, .btn-link[disabled] {background: transparent; background-image: none; 
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;}
.btn-link, input.btn-link {color: #0087c6; cursor: pointer; border-color: transparent; padding: 0; display: inline; text-align: left;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;}
.btn-link:hover {color: #0087c6; text-decoration: underline; background: transparent;}
.btn-link.disabled:hover, .btn-link[disabled]:hover {color: #333; text-decoration: none;}

.btn-small, input.btn-small {padding: 0 4px; font-size: 13px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;}
a.btn-small, a.btn-small:hover {padding: 1px 6px;}
input.btn-small {padding: 1px 4px;}

.btn-large, input.btn-large {padding: 6px 12px; font-size: 16px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;}
a.btn-large, a.btn-large:hover {padding: 7px 14px;}
input.btn-large {padding: 5px 12px 4px;}
*/
/* flat style */
a.btn-flat {padding: 2px 8px; background-color: #aaa; color: #FFF; float: left; height: 20px; line-height: 20px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  behavior: url(PIE.htc);}
a.btn-flat:hover {text-decoration: none; background-color: #999;}

/* jsd-page */
.jsd-page-note {color: #F00; margin: 10px 0 8px;}
.jsd-note-mark {color: #F00; padding: 0 4px; font-weight: bold;}
.jsd-page-start {background-color: #D9F2FF; margin: 20px 0 10px; padding: 8px 10px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;}

/* jsd-Athena */
.jsd-Athena {margin-bottom: 20px;}
.jsd-Athena:last-child {margin-bottom: 0;}
.jsd-Athena .disabled {cursor: default;}
.jsd-Athena .action_area {padding: 20px 0 0 175px;}
.jsd-Athena .jsd-Athena-title {background-color: #edc766; color: #666; height: 26px; line-height: 26px; margin: 0; padding: 0 10px; font-weight: normal; font-size: 15px;}
.jsd-Athena .jsd-Athena-subtitle {padding-top: 5px; margin: 0 15px 10px; line-height: 22px; color: #0068a6; font-size: 14px; border-bottom: 1px dashed #BBB;}
.jsd-Athena-body-state {padding: 0 20px 10px; margin: 0; color: #c16800;}
.jsd-Athena-body {background-color: #f2f2f2; padding: 15px 0;}
.jsd-Athena-body .field {position: relative; margin: 0; padding: 3px 10px; font-size: 1em; line-height: 26px; font-size: 13px;}
.jsd-Athena-body .field-label {position: absolute; left: 0; width: 160px; text-align: right;}
.jsd-Athena-body .field-label-long {position: absolute; left: 0; width: 160px; text-align: right; line-height: 1.3; top: 4px;}
.jsd-Athena-body .field-label-block, .jsd-Athena-body .field-block {display: block;}
.jsd-Athena-body .field-content {position: relative; padding-left: 165px; _padding-left: 175px; *zoom: 1;}
.jsd-Athena-body .help {background: url(../images/query_icon.png) left top no-repeat scroll; display: inline-block; font: 0px/0 Arial,sans-serif;
  height: 20px; margin-left: 6px; position: absolute; top: 4px; width: 20px;}
.jsd-Athena-body .help:hover {background: url(../images/query_icon.png) left -20px no-repeat scroll;}
.jsd-Athena-body .text {_padding: 4px; _vertical-align: middle;}
.jsd-Athena-body .select {*float: left; *margin-top: 3px;}
.jsd-Athena-body .textarea {resize: none;}
.jsd-Athena-body .field-single {display: block; float: left; margin-right: 5px; _margin-right: 2px; *margin-right: 2px;}
.jsd-Athena-body .field-single-info {text-align: center; color: #999;}
.jsd-Athena-body .inline-note {display: inline; padding: 0 5px; color: #999; margin: 0;}
.jsd-Athena-body .block-noteA {display: block; color: #999; margin: 0;}
.jsd-Athena-body .block-noteB {display: block; color: #999; margin: 0; line-height: 18px; padding-bottom: 10px;}
.jsd-Athena-body .radio, .jsd-Athena-body .check {position: relative; display: inline; padding-right: 5px; *top: -1px; _top: 2px;}
.jsd-Athena-body .radio input {position: relative; top: 1px; left: 0; display: inline; margin-right: 3px; *margin-right: 1px;}
.jsd-Athena-body .check input {position: relative; top: 2px; left: 0; display: inline; margin-right: 3px;}
.jsd-Athena-body .btn-file {height: 26px; line-height: 18px; padding: 0 8px 3px;}
.jsd-Athena-body .term {*float: left; *margin-top: 2px; *padding: 0 4px;}
.jsd-Athena-body .field-list .block-note {padding: 0 10px 0 17px; line-height: 18px; margin-bottom: 8px; *padding-left: 22px; _line-height: 28px; _margin-bottom: 0;}
.jsd-Athena-body .spaceA {padding: 5px 0 0 46px; *padding: 5px 0 0 53px;}
.jsd-Athena-body .session {border: 1px solid #CCC; background-color: #FFF; padding: 5px 0; *padding-bottom: 0; width: 480px; min-height: 115px; height: 115px; overflow-y: auto;}
.jsd-Athena-body .session li {list-style: none; line-height: 25px; padding: 0 10px;}
.jsd-Athena-body .session .disabled {color: #666; background-color: #e5e5e5;}
.jsd-Athena-body .session .disabled strong {color: #666; font-weight: normal;}
.jsd-Athena-body .session strong {color: #8d0b13;}
.jsd-Athena-body .inside-table th {height: auto; line-height: 20px; padding: 2px 6px;}
.jsd-Athena-body .point {font-size: 16px; color: #C00;}

/* jsd-Laura */
.jsd-Laura {margin: 10px 0;}
.jsd-Laura-body {width: 100%; border: 1px solid #CCC; background-color: #FFF;}
.jsd-Laura-body th {height: 21px; padding: 1px 6px; background-color: #FFDFD5; color: #333; white-space: nowrap; font-size: 13px;}
.jsd-Laura-body td {height: 22px; padding: 3px 6px; border-left: 1px dashed #CCC; border-bottom: 1px solid #CCC; cursor: default;}
.jsd-Laura-body tr:nth-child(even) {background: #EEE;}  
.jsd-Laura-body tr:nth-child(odd) {background: #f9f9f9;}
.jsd-Laura-body .text-l {text-align: left;}
.jsd-Laura-body .text-c {text-align: center;}
.jsd-Laura-body .text-r {text-align: right;}
.jsd-Laura-body .radio, .jsd-Laura-body .check {position: relative; display: inline; padding-right: 5px; *top: -1px; _top: 2px;}
.jsd-Laura-body .radio input {position: relative; top: 1px; left: 0; display: inline; margin-right: 3px; *margin-right: 1px;}
.jsd-Laura-body .check input {position: relative; top: 2px; left: 0; display: inline; margin-right: 3px;}
.jsd-Laura-body .middle {vertical-align: middle;}
.jsd-Laura-body .title {font-size: 15px; margin-bottom: 2px;}
.jsd-Laura-body .note {color: #666; margin-bottom: 5px;}
.jsd-Laura-body .no-border-l {border-left: none;}
.jsd-Laura-body .f13 {font-size: 13px;}
.jsd-Laura-body .delete i {margin: 2px 3px 0;}
.jsd-Laura-body .delete:hover i {opacity: 0.7;}
.jsd-Laura-body .negative td {background-color: #F2DEDE;}
.jsd-Laura-body a.index-link {width: 270px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; display: inline-block; line-height: 1.3;}

/* jsd-toolbar */
.jsd-toolbar {height: 32px; position: relative;}
.jsd-toolbar:after {content: ""; display: block; height: 0; line-height: 0; clear: both; visibility: hidden; overflow: hidden;}
.jsd-toolbar .group {position: absolute; top: 0; right: 0; text-align: right;}
.jsd-toolbar .btn {font-size: 14px; padding: 2px 4px; *padding: 2px 0;}
.jsd-toolbar a.btn{padding: 3px 7px;}
.jsd-toolbar .btn-save {*width: 70px;}
.jsd-toolbar .btn-cancel {*width: 60px;}
.jsd-toolbar .btn-submit {*width: 100px;}
.jsd-toolbar .prev-icon {background: url(../images/prev_icon.png) left center no-repeat scroll; padding: 2px 2px 2px 19px; *padding: 0 0 0 19px;}
.jsd-toolbar .next-icon {background: url(../images/next_icon.png) right center no-repeat scroll; padding: 2px 19px 2px 2px; *padding: 0 19px 0 0;}
.jsd-toolbar .save-icon {background: url(../images/save_icon.png) left center no-repeat scroll; padding: 2px 2px 2px 19px; *padding: 0 0 0 19px;}
.jsd-toolbar .submit-icon {background: url(../images/submit_icon.png) left center no-repeat scroll; padding: 2px 2px 2px 19px; *padding: 0 0 0 19px;}
.jsd-toolbar .prev-icon, .jsd-toolbar .next-icon, .jsd-toolbar .save-icon, .jsd-toolbar .cancel-icon, .jsd-toolbar .submit-icon, {*zoom: 1; vertical-align: middle; cursor: pointer;}
.jsd-toolbar .disabled, .jsd-toolbar .disabled, .jsd-toolbar .disabled, .jsd-toolbar .disabled {cursor: default;}
.jsd-toolbar .disabled .prev-icon,
.jsd-toolbar .disabled .next-icon,
.jsd-toolbar .disabled .save-icon,
.jsd-toolbar .disabled .cancel-icon,
.jsd-toolbar .disabled .submit-icon {cursor: default;}
.jsd-toolbar .btn-space {margin-left: 8px;}

/* jsd-Nike */
.jsd-Nike {padding: 0 10px 15px; margin-bottom: 25px; border-bottom: 1px solid #CCC; position: relative; min-height: 110px; height: auto;}
.jsd-Nike .logo {position: absolute; top: 0; left: 10px;}
.jsd-Nike .ml100 {margin-left: 100px; width: 85%;}
.jsd-Nike .ml140 {margin-left: 140px; width: 78%;}
.jsd-Nike .w64 {width: 64%;}
.jsd-Nike-body {width: 100%;}
.jsd-Nike-body caption {text-align: left; font-size: 15px; padding-bottom: 5px; text-indent: -11px;}
.jsd-Nike-body caption a {color: #444;}
.jsd-Nike-body caption span {padding-right: 5px;}
.jsd-Nike-body th, .jsd-Nike-body td {height: 18px; line-height: 18px; padding: 3px 6px;}
.jsd-Nike-body th {text-align: left; font-size: 13px; font-weight: normal; white-space: nowrap; color: #66a4ca;}
.jsd-Nike-body .text-c {text-align: center;}
.jsd-Nike-body .radio, .jsd-Nike-body .check {position: relative; display: inline; padding-right: 5px; *top: -1px; _top: 2px;}
.jsd-Nike-body .radio input {position: relative; top: 1px; left: 0; display: inline; margin-right: 3px; *margin-right: 1px;}
.jsd-Nike-body .check input {position: relative; top: 2px; left: 0; display: inline; margin-right: 3px;}
.jsd-Nike-body .middle {vertical-align: middle;}

/* paginator */
.paginator {height: 30px; margin-top: 15px; text-align: center;}
.paginator .body {position: relative;}
.paginator a, .paginator span {margin: 2px 1px; display: inline-block; vertical-align: middle;}
.paginator .paginator-F-btn {width: 10px; height: 10px; background: url(../images/paginator.gif) 0 -75px no-repeat scroll;}
.paginator .paginator-F-btn:hover {background-position: 0 -85px;}
.paginator .paginator-B-btn {width: 10px; height: 10px; background: url(../images/paginator.gif) 0 -95px no-repeat scroll;}
.paginator .paginator-B-btn:hover {background-position: 0 -105px;}
.paginator .paginator-N-btn {width: 22px; height: 22px; background: url(../images/paginator.gif) 0 0 no-repeat scroll;}
.paginator .paginator-N-btn:hover {background-position: 0 -25px;}
.paginator .paginator-N-disabled {width: 22px; height: 22px; background: url(../images/paginator.png) 0 -50px no-repeat scroll;}
.paginator .paginator-N-disabled:hover {background-position: 0 -50px; cursor: default;}
.paginator .paginator-link {padding: 0 5px; height: 22px; background-color: #FFF; line-height: 22px; font-size: 12px; text-align: center;}
.paginator .paginator-link:hover {background-color: #edc766; color: #666; text-decoration: none;}
.paginator .current {background-color: #1a77af; color: #FFF; font-weight: bold; cursor: default;}
.paginator .current:hover {text-decoration: none;}
.paginator .paginator-jump {width: 30px; padding: 2px 2px 2px 4px; margin-left: 8px;}
.paginator span {line-height: 22px; width: 14px; text-align: center;}

/* Basic Space */
.clearfix:before, .clearfix:after {content: ""; display: table;}
.clearfix:after {clear: both;}
.clearfix {*zoom: 1;}
.fixed {resize: none;}
.mt0 {margin-top: 0;}
.mt3  {margin-top: 3px;}
.mt5  {margin-top: 5px;}
.mt10 {margin-top: 10px;}
.mt15 {margin-top: 15px;}
.mt20 {margin-top: 20px;}
.mt25 {margin-top: 25px;}
.mt30 {margin-top: 30px;}
.mt40 {margin-top: 40px;}
.mr3  {margin-right: 3px;}
.mr5  {margin-right: 5px;}
.mr10 {margin-right: 10px;}
.mr15 {margin-right: 15px;}
.mr20 {margin-right: 20px;}
.mr25 {margin-right: 25px;}
.mr30 {margin-right: 30px;}
.mr40 {margin-right: 40px;}
.mb0  {margin-bottom: 0;}
.mb5  {margin-bottom: 5px;}
.mb10 {margin-bottom: 10px;}
.mb15 {margin-bottom: 15px;}
.mb20 {margin-bottom: 20px;}
.mb25 {margin-bottom: 25px;}
.mb30 {margin-bottom: 30px;}
.mb40 {margin-bottom: 40px;}
.ml5  {margin-left: 5px;}
.ml10 {margin-left: 10px;}
.ml15 {margin-left: 15px;}
.ml20 {margin-left: 20px;}
.ml25 {margin-left: 25px;}
.ml30 {margin-left: 30px;}
.ml40 {margin-left: 40px;}

.pt0  {padding-top: 0;}
.pt3  {padding-top: 3px;}
.pt5  {padding-top: 5px;}
.pt10 {padding-top: 10px;}
.pt15 {padding-top: 15px;}
.pt20 {padding-top: 20px;}
.pt25 {padding-top: 25px;}
.pt30 {padding-top: 30px;}
.pr5  {padding-right: 5px;}
.pr10 {padding-right: 10px;}
.pr15 {padding-right: 15px;}
.pr20 {padding-right: 20px;}
.pr25 {padding-right: 25px;}
.pr30 {padding-right: 30px;}
.pb5  {padding-bottom: 5px;}
.pb10 {padding-bottom: 10px;}
.pb15 {padding-bottom: 15px;}
.pb20 {padding-bottom: 20px;}
.pb25 {padding-bottom: 25px;}
.pb30 {padding-bottom: 30px;}
.pl5  {padding-left: 5px;}
.pl10 {padding-left: 10px;}
.pl15 {padding-left: 15px;}
.pl20 {padding-left: 20px;}
.pl25 {padding-left: 25px;}
.pl30 {padding-left: 30px;}

.w30 {width: 30px;}
.w50 {width: 50px;}
.w60 {width: 50px;}
.w70 {width: 70px;}
.w85 {width: 85px;}
.w100 {width: 100px;}
.w125 {width: 125px;}
.w150 {width: 150px;}
.w200 {width: 200px;}
.w240 {width: 240px;}
.w300 {width: 300px;}
.w400 {width: 400px;}
.w500 {width: 500px;}
	
.text-c {text-align: center;}
.text-l {text-align: left;}
.text-r {text-align: right;}

.float-l {float: left;}
.float-r {float: right;}

.f12 {font-size: 12px;}
.f13 {font-size: 13px;}
.f14 {font-size: 14px;}
.f15 {font-size: 15px;}
.f16 {font-size: 16px;}
.f18 {font-size: 18px;}
.fwb {font-weight: bold;}

.container .f-c-system {color: #009AB0;}
.container .f-c-sub {color: #d77400;}
.container .f-c-red {color: #C00;}
.container .f-c-gray {color: #757575;}
/**
.container {width: 940px; position: relative; margin-right: auto; margin-left: auto; *zoom: 1;}
.container:before, .container:after {display: table; line-height: 0; content: "";}
.container:after {clear: both;}
**/
.row {margin-left: -20px; *zoom: 1;}
.row30 {margin-left: -30px; *zoom: 1;}
.row:before, .row:after {display: table; line-height: 0; content: "";}
.row:after {clear: both;}
[class*="span"] {float: left; min-height: 1px; margin-left: 20px;}
.span280 {width: 280px;}
.span130 {width: 130px;}
.span115 {width: 115px; margin-left: 15px;}
.span12 {width: 940px;}
.span11 {width: 860px;}
.span10 {width: 780px;}
.span9 {width: 700px;}
.span8 {width: 620px;}
.span7 {width: 540px;}
.span6 {width: 460px;}
.span5 {width: 380px;}
.span4 {width: 300px;}
.span3 {width: 220px;}
.span2 {width: 140px;}
.span1 {width: 60px;}
.span3A {width: 200px; margin-left: 30px;}
.offset12 {margin-left: 980px;}
.offset11 {margin-left: 900px;}
.offset10 {margin-left: 820px;}
.offset9 {margin-left: 740px;}
.offset8 {margin-left: 660px;}
.offset7 {margin-left: 580px;}
.offset6 {margin-left: 500px;}
.offset5 {margin-left: 420px;}
.offset4 {margin-left: 340px;}
.offset3 {margin-left: 260px;}
.offset2 {margin-left: 180px;}
.offset1 {margin-left: 100px;}
