<header class="header" id="pagetop">
    <div class="container-lg">
		<div class="header-wrap">
            <div class="header-function">
                <span class="toggler-wrap">
                    <button class="navbar-toggler button-widget" type="button" id="navbarSideCollapse" aria-label="Toggle navigation">
                        <span class="hamburger">
                            <span class="line"></span>
                            <span class="line"></span>
                            <span class="line"></span>
                        </span>
                    </button>
                </span>
				<div class="header-right">
                    <div class="language">
                        <a href="#">中文</a>
                        <a href="#" class="current">EN</a>
                    </div>
                    <div class="account">
                        <div class="dropdown">
                            <button class="dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Hi Mr.Suchart
                            </button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Change password</a></li>
                                <li><a class="dropdown-item" href="#">Log out</a></li>
                            </ul>
                        </div>
                    </div>
				</div>
            </div>
			<div class="brands">
                <a class="brands-link" href="index.html">
                    <div class="logo">
                        <h1 class="text-hide">高等教育深耕計畫 Higher Education SPROUT Project</h1>
                        <img class="h1-logo" src="../assets/logo-moe.svg">
                    </div>
                    <div class="sub">
                        <span>高等教育深耕計畫</span>
                        <span class="en">Higher Education SPROUT Project</span>
                    </div>
                </a>
			</div>
		</div>
    </div>
	<div class="sys-subject">
		<div class="container-lg">
	        <h2>系統名稱 System name</h2>
		</div>
	</div>
</header>