<header class="header" id="pagetop">
    <div class="container-lg">
        <div class="header-wrap">
            <div class="header-function">
                <span class="toggler-wrap"></span>
                <div class="header-right">
                    <a href="#" class="btn btn-light bg-white"><i class="fas fa-caret-left"></i> 回計畫網站首頁</a>
                </div>
            </div>
			<div class="brands">
                <a class="brands-link" href="index.html" title="網站首頁">
                    <div class="logo">
                        <h1 class="text-hide">高等教育深耕計畫-特色領域研究中心 Higher Education Sprout Project-The Featured Areas Research Center Program</h1>
                        <img class="h1-logo" src="../assets/logo-moe.svg">
                    </div>
                    <div class="sub">
                        <h2>高等教育深耕計畫-特色領域研究中心</h2>
                        <h3 class="en">Higher Education Sprout Project-The Featured Areas Research Center Program</h3>
                    </div>
                </a>
			</div>
        </div>
    </div>
    <div class="sys-subject">
        <div class="container-lg">
            <h2>系統名稱 System name</h2>
        </div>
    </div>
</header>