<header class="site-header" id="pagetop">
    <a href="#maincontent" id="gotocenter" title="移到主要內容" class="sr-only sr-only-focusable">跳到主要內容</a>
    <div class="container-lg">
		<div class="header-wrap">
            <div class="header-function">
				<div class="header-right">
                    <div class="language">
                        <a href="#" title="Switch to english"><i class="fas fa-globe me-1"></i> English</a>
                    </div>
				</div>
            </div>
			<div class="brands">
                <a class="brands-link" href="index.html" title="網站首頁">
                    <div class="logo">
                        <h1 class="text-hide">高等教育深耕計畫-特色領域研究中心 Higher Education Sprout Project-The Featured Areas Research Center Program</h1>
                        <img class="h1-logo" src="../assets/logo-moe.svg">
                    </div>
                    <div class="sub">
                        <h2>高等教育深耕計畫-特色領域研究中心</h2>
                        <h3 class="en">Higher Education Sprout Project-The Featured Areas Research Center Program</h3>
                    </div>
                </a>
			</div>
		</div>
    </div>
	<div class="site-nav">
        <nav class="navbar navbar-dark navbar-expand-xl">
            <div class="container-lg">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav" aria-label="主要功能選單">
                        <li class="nav-item accessibility">
                            <a href="#U" id="AU" name="U" title="主要功能選單" accesskey="U">:::</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" title="{連結名稱}">關於計畫</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="#" title="{連結名稱}">最新消息</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" title="{連結名稱}">各中心成果與亮點</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" title="{連結名稱}">聯絡我們</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" title="{連結名稱}">相關連結</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" title="{連結名稱}">登入管考系統</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
	</div>
</header>