<!-- admin-page: UI / Forms -->
<%= render :partial => "/partials/admin_breadcrumb" %>

<main class="main">
    <div class="page-header">
        <h1>Forms</h1>
    </div>
    <div class="row">
        <div class="col-6">
            <div class="col-block">
                <div class="block-header has-border">
                    <h3><strong>Bootstrap</strong></h3>
                </div>
                <div class="block-content">
                    <form>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Email address</label>
                            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Password</label>
                            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                        </div>
						<div class="form-group">
                            <div class="file-field d-inline-block">
                                <div class="z-depth-1-half mb-3">
									<!-- 未設定相片尺寸下寬度會是 max-width: 100%;，請直接 inline style 給一個適當的寬度，ex: style="width:256px;"- -->
                                    <img src="http://placekitten.com/512/512" class="img-fluid" alt="example placeholder" />
                                </div>
                                <div class="d-flex justify-content-star">
                                    <div class="btn btn-md btn-mdb-color btn-rounded float-left">
                                        <span>選擇檔案</span>
                                        <input type="file" />
                                    </div>
                                </div>
                            </div>
						</div>
                        <div class="form-group form-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1">Check me out</label>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
				</div>
            </div>
        </div>
        <div class="col-6">
            <div class="col-block">
                <div class="block-header has-border">
                    <h3><strong>MDBootstrap</strong></h3>
                </div>
                <div class="block-content">
                    <form>
                        <div class="form-group md-form">
                            <input type="email" id="materialFormLoginEmailEx" class="form-control">
                            <label for="materialFormLoginEmailEx">Your email</label>
                            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                        </div>
                        <div class="form-group md-form">
                            <input type="password" id="materialFormLoginPasswordEx" class="form-control">
                            <label for="materialFormLoginPasswordEx">Your password</label>
                        </div>
                        <div class="form-group form-check md-form">
                            <input type="checkbox" class="form-check-input" id="exampleCheck2">
                            <label class="form-check-label" for="exampleCheck2">Check me out</label>
                        </div>
                        <div class="mt-4">
                            <button class="btn btn-default" type="submit">Login</button>
                        </div>
                    </form>
				</div>
            </div>
        </div>
    </div>
    <div class="col-block">
        <div class="block-header has-border">
            <h3><strong>Horizontal form</strong></h3>
        </div>
        <div class="block-content">
			<p>label 寬度為動態，字元有可能較長時可調整 <code>col-sm-x</code>，範例請參考欄位直立發展</p>
			<form>
				<h5>欄位水平發展</h5>
                <div class="row">
                    <div class="col-6">
                        <div class="form-group row">
                            <label for="inputEmail3MD" class="col-sm-2 col-form-label text-right">Email 1</label>
                            <div class="col-sm-10">
                                <input type="email" class="form-control" id="inputEmail3MD" placeholder="Email" />
                            </div>
                        </div>
                    </div>
					<div class="col-6">
                        <div class="form-group row">
                            <label for="inputEmail4" class="col-sm-2 col-form-label text-right">Email 2</label>
                            <div class="col-sm-10">
                                <input type="email" class="form-control" id="inputEmail4" placeholder="Email" />
                            </div>
                        </div>
                    </div>
                </div>
				<div class="row">
                    <div class="col-6">
                        <div class="form-group row">
                            <label for="inputTest101" class="col-sm-2 col-form-label text-right">測試欄位 1</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="inputTest101" placeholder="placeholder" />
                            </div>
                        </div>
                    </div>
					<div class="col-6">
                        <div class="form-group row">
                            <label for="inputTest102" class="col-sm-2 col-form-label text-right">測試欄位 2</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="inputTest102" placeholder="placeholder" />
                            </div>
                        </div>
                    </div>
                </div>
				<hr />
				<h5>欄位直立發展</h5>
				<div class="row">
					<div class="col-6">
                        <div class="form-group row">
                            <label for="inputTest103" class="col-sm-3 col-form-label text-right">Email 1</label>
                            <div class="col-sm-9">
                                <input type="email" class="form-control" id="inputTest103" placeholder="Email" />
                            </div>
                        </div>
						<div class="form-group row">
                            <label for="inputTest104" class="col-sm-3 col-form-label text-right">Email 2</label>
                            <div class="col-sm-9">
                                <input type="email" class="form-control" id="inputTest104" placeholder="Email" />
                            </div>
                        </div>
					</div>
					<div class="col-6">
					    <div class="form-group row">
                            <label for="inputTest105" class="col-sm-4 col-form-label text-right">測試欄位 1</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="inputTest105" placeholder="placeholder" />
                            </div>
                        </div>
						<div class="form-group row">
                            <label for="inputTest106" class="col-sm-4 col-form-label text-right">測試欄位 2</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="inputTest106" placeholder="placeholder" />
                            </div>
                        </div>
						<div class="form-group row">
                            <label for="inputTest107" class="col-sm-4 col-form-label text-right">測試欄位 3</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="inputTest107" placeholder="placeholder" />
                            </div>
                        </div>
					</div>
				</div>
			</form>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <div class="col-block">
                <div class="block-header has-border">
                    <h3><strong>Time picker</strong></h3>
                </div>
                <div class="block-content">
					<p><code>label</code> 可拿掉，時鐘深色模式由 <code>input id</code> 決定，範例二為修改版，說明文件請參考 <a href="https://mdbootstrap.com/docs/jquery/forms/time-picker/">MDBootstrap Time picker</a></p>
                    <form>
                        <div class="form-group">
                            <div class="md-form md-outline input-with-post-icon timepicker" twelvehour="true">
                                <input type="text" id="light-version-examples" class="form-control" placeholder="Select time" />
                                <label for="light-version-examples">Light version, 12hours</label>
                                <i class="fa fa-clock-o input-prefix"></i>
                            </div>
                        </div>
                        <div class="form-group">
							<label>Example label</label>
                            <div class="mt-0 md-form md-outline input-with-post-icon timepicker" darktheme="true">
                                <input type="text" id="dark-version-example" class="form-control" placeholder="Select time" />
                                <i class="fa fa-clock-o input-prefix"></i>
                            </div>
                        </div>
                    </form>
				</div>
            </div>
        </div>
        <div class="col-6">
            <div class="col-block">
                <div class="block-header has-border">
                    <h3><strong>Date Picker</strong></h3>
                </div>
                <div class="block-content">
					<p>範例二的 <code>label</code> 使用方式請參考 html code (多加一個 <code>.mt-0</code>)，說明文件請參考 <a href="https://mdbootstrap.com/docs/jquery/forms/date-picker/">MDBootstrap Date Picker</a></p>
                    <form>
                        <div class="form-group">
                            <div id="date-picker-example" class="md-form md-outline input-with-post-icon datepicker">
                                <input placeholder="Select date" type="text" id="example" class="form-control" />
                                <label for="example">Try me...</label>
                                <i class="fa fa-calendar input-prefix" tabindex="0"></i>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Example label</label>
                            <div id="date-picker-example" class="mt-0 md-form md-outline input-with-post-icon datepicker">
                                <input placeholder="Select date" type="text" id="example" class="form-control" />
                                <i class="fa fa-calendar input-prefix" tabindex="0"></i>
                            </div>
                        </div>
                    </form>
				</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="col-block">
                <div class="block-header has-border">
                    <h3><strong>Bootstrap</strong></h3>
                </div>
                <div class="block-content">
                    <form>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Email address</label>
                            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                        </div>
                        <div class="form-group">
                            <label>Example label</label>
                            <select class="browser-default custom-select">
                                <option value="" disabled selected>Choose your option</option>
                                <option value="1">Option 1</option>
                                <option value="2">Option 2</option>
                                <option value="3">Option 3</option>
                            </select> 
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlSelect2">Example multiple select</label>
                            <select multiple class="form-control browser-default" id="exampleFormControlSelect2">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlTextarea1">Example textarea</label>
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlFile1">Example file input</label>
                            <input type="file" class="form-control-file" id="exampleFormControlFile1">
                        </div>
                        <div class="form-group">
                            <input class="form-control form-control-lg" type="text" placeholder=".form-control-lg"><br />
                            <input class="form-control" type="text" placeholder="Default input"><br />
                            <input class="form-control form-control-sm" type="text" placeholder=".form-control-sm">
                        </div>
                    </form>
                    <form>
                        <div class="form-group row">
                            <label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
                            <div class="col-sm-10">
                                <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="email@example.com">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
                            <div class="col-sm-10">
                                <input type="password" class="form-control" id="inputPassword" placeholder="Password">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="col-block">
                <div class="block-header has-border">
                    <h3><strong>Bootstrap Server side</strong></h3>
                </div>
                <div class="block-content">
                    <form>
                        <div class="form-row">
                            <div class="col-md-4 mb-3">
                                <label for="validationServer01">First name</label>
                                <input type="text" class="form-control is-valid" id="validationServer01" placeholder="First name" value="Mark" required>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                            </div>
                            <div class="col-md-4 mb-3">
                                <label for="validationServer02">Last name</label>
                                <input type="text" class="form-control is-valid" id="validationServer02" placeholder="Last name" value="Otto" required>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                            </div>
                            <div class="col-md-4 mb-3">
                                <label for="validationServerUsername">Username</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="inputGroupPrepend3">@</span>
                                    </div>
                                    <input type="text" class="form-control is-invalid" id="validationServerUsername" placeholder="Username" aria-describedby="inputGroupPrepend3" required>
                                    <div class="invalid-feedback">
                                        Please choose a username.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-6 mb-3">
                                <label for="validationServer03">City</label>
                                <input type="text" class="form-control is-invalid" id="validationServer03" placeholder="City" required>
                                <div class="invalid-feedback">
                                    Please provide a valid city.
                                </div>
                            </div>
                            <div class="col-md-3 mb-3">
                                <label for="validationServer04">State</label>
                                <input type="text" class="form-control is-invalid" id="validationServer04" placeholder="State" required>
                                <div class="invalid-feedback">
                                    Please provide a valid state.
                                </div>
                            </div>
                            <div class="col-md-3 mb-3">
                                <label for="validationServer05">Zip</label>
                                <input type="text" class="form-control is-invalid" id="validationServer05" placeholder="Zip" required>
                                <div class="invalid-feedback">
                                    Please provide a valid zip.
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-check">
                                <input class="form-check-input is-invalid" type="checkbox" value="" id="invalidCheck3" required>
                                <label class="form-check-label" for="invalidCheck3">
                                    Agree to terms and conditions
                                </label>
                                <div class="invalid-feedback">
                                    You must agree before submitting.
                                </div>
                            </div>
                        </div>
                        <button class="btn btn-primary" type="submit">Submit form</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>

<% content_for :js do %>
    <script>
		$(document).ready(function() {
			$('.mdb-select').materialSelect();
		});
		
		$('.datepicker').datepicker();
    </script>
<% end %>