<div class="modal fade" id="adminChat" tabindex="-1" role="dialog" aria-labelledby="adminChatLabel" aria-hidden="true" data-backdrop="false">
    <div class="modal-dialog modal-messages modal-side modal-bottom-right" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="adminChatLabel">{對方名稱}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
				<div class="admin-messages scrollbar-inner">
                    <div class="messages">
                        <!--begin::Message In-->
                        <div class="character align-items-start">
                            <div class="d-flex align-items-center">
                                <div class="avatar">
                                    <img alt="Pic" src="https://avatarfiles.alphacoders.com/231/231252.jpg">
                                </div>
                                <div>
									<spa class="symbol">Scarlett Johansson</span>
                                    <span class="text-clock">剛剛</span>
                                </div>
                            </div>
                            <div class="messages-item">How likely are you to recommend our company to your friends and family?</div>
                        </div>
                        <!--end::Message In-->
                        <!--begin::Message Out-->
                        <div class="character align-items-end">
                            <div class="d-flex align-items-center">
                                <div>
                                    <span class="text-clock">1 分鐘前</span>
									<spa class="symbol">我</span>
                                </div>
                                <div class="avatar">
                                    <img alt="Pic" src="../assets/default-avatar.svg">
                                </div>
                            </div>
                            <div class="messages-item">自己的對話框應該不用出現自己名字或第一人稱</div>
							<div class="messages-item">Lorem ipsum dolor sit amet, consectetur adipiscing elit. <a href="#">Link</a> Praesent laoreet lacus tortor, porta euismod dui vestibulum vel. Duis semper lectus in pharetra lobortis. Mauris tempus tempor purus quis elementum.</div>
                        </div>
                        <!--end::Message Out-->
                        <!--begin::Message In-->
                        <div class="character align-items-start">
                            <div class="d-flex align-items-center">
                                <div class="avatar">
                                    <img alt="Pic" src="https://avatarfiles.alphacoders.com/231/231252.jpg">
                                </div>
                                <div>
                                    <spa class="symbol">Scarlett Johansson</span>
                                    <span class="text-clock">1 分鐘前</span>
                                </div>
                            </div>
                            <div class="messages-item">Ok, Understood!</div>
                        </div>
                        <!--end::Message In-->
                        <!--begin::Message Out-->
                        <div class="character align-items-end">
                            <div class="d-flex align-items-center">
                                <div>
                                    <span class="text-clock">10 分鐘前</span>
                                </div>
                                <div class="avatar">
                                    <img alt="Pic" src="../assets/default-avatar.svg">
                                </div>
                            </div>
                            <div class="messages-item">You’ll receive notifications for all issues, pull requests!</div>
                        </div>
                        <!--end::Message Out-->
                        <!--begin::Message In-->
                        <div class="character align-items-start">
                            <div class="d-flex align-items-center">
                                <div class="avatar">
                                    <img alt="Pic" src="https://avatarfiles.alphacoders.com/231/231252.jpg">
                                </div>
                                <div>
                                    <spa class="symbol">Scarlett Johansson</span>
                                    <span class="text-clock">1 小時前</span>
                                </div>
                            </div>
                            <div class="messages-item">You can unwatch this repository immediately by clicking here: 
                            <a href="#">https://github.com</a></div>
                        </div>
                        <!--end::Message In-->
                        <!--begin::Message Out-->
                        <div class="character align-items-end">
                            <div class="d-flex align-items-center">
                                <div>
                                    <span class="text-clock">3 小時前</span>
                                </div>
                                <div class="avatar">
                                    <img alt="Pic" src="../assets/default-avatar.svg">
                                </div>
                            </div>
                            <div class="messages-item">Discover what students who viewed Learn Figma - UI/UX Design. Essential Training also viewed</div>
                        </div>
                        <!--end::Message Out-->
                        <!--begin::Message In-->
                        <div class="character align-items-start">
                            <div class="d-flex align-items-center">
                                <div class="avatar">
                                    <img alt="Pic" src="https://avatarfiles.alphacoders.com/231/231252.jpg">
                                </div>
                                <div>
                                    <spa class="symbol">Scarlett Johansson</span>
                                    <span class="text-clock">2 天前</span>
                                </div>
                            </div>
                            <div class="messages-item">Most purchased Business courses during this sale!</div>
                        </div>
                        <!--end::Message In-->
                        <!--begin::Message Out-->
                        <div class="character align-items-end">
                            <div class="d-flex align-items-center">
                                <div>
                                    <span class="text-clock">3 天前</span>
									<spa class="symbol">我</span>
                                </div>
                                <div class="avatar">
                                    <img alt="Pic" src="../assets/default-avatar.svg">
                                </div>
                            </div>
                            <div class="messages-item">Company BBQ to celebrate the last quater achievements and goals. Food and drinks provided</div>
                        </div>
                        <!--end::Message Out-->
                    </div>
				</div>
            </div>
            <div class="modal-footer">
				<div class="messages-textarea">
                    <textarea class="form-control" rows="2" placeholder="輸入訊息" style="height: 100px;"></textarea>
				</div>
				<div class="messages-control">
                    <!--button type="button" class="btn  btn-link" data-dismiss="modal">取消</button-->
                    <button type="button" class="btn btn-md btn-secondary">送出</button>
				</div>
            </div>
        </div>
    </div>
</div>

<% content_for :js do %>

<% end %>