<input type="checkbox" class="sr-only sidebar-ctrler" id="v-nav-primary" checked>
<div class="vertical_nav sidebar sidebar--primary">
    <div class="sidebar__header media">
        <div class="logo-left">
            <h1 class="logo">
				<a class="logo__link" href="/">
					<strong>僑務</strong>活動報名系統
				</a>
			</h1>
        </div>
        <div class="media-body text-right">
            <label class="sidebar-ctrler--label" for="v-nav-primary"><i class="fa fa-ellipsis-v"></i></label>
        </div>
    </div>
    <div class="menu">
        <div class="sidebar-scroll">
            <ul class="nav">
                <li>
                    <a class="waves-effect" href="#">
                        <i class="fa fa-tachometer" title="Dashboard"></i>
                        <span class="menu-label">活動總覽</span>
						<p class="nav-brief">活動各項資訊</p>
                    </a>
                </li>
                <li class="has-sub active">
                    <a class="nav-ctrler waves-effect" href="###">
                        <i class="fa fa-cogs" title="前端網站管理"></i>
                        <span class="menu-label">前端網站管理</span>
						<i class="fa fa-angle-left leftNavIcon"></i>
                        <p class="nav-brief">提供管理及編修報名網站各項內容</p>
                    </a>
                    <ul>
                        <li><a class="waves-effect" href="#">啟用功能</a></li>
                        <li><a class="waves-effect" href="#">圖片輪播</a></li>
                        <li><a class="waves-effect" href="#">活動公告</a></li>
						<li><a class="waves-effect" href="#">相關連結</a></li>
                        <li><a class="waves-effect" href="#">活動介紹</a></li>
						<li><a class="waves-effect" href="#">影片連結</a></li>
                        <li><a class="waves-effect" href="#">活動地圖</a></li>
                    </ul>
                </li>
                <li class="has-sub">
                    <a class="nav-ctrler waves-effect" href="###">
                        <i class="fa fa-wrench" title="報名及審查設定"></i>
                        <span class="menu-label">報名及審查設定</span>
						<i class="fa fa-angle-left leftNavIcon"></i>
						<p class="nav-brief">管理設定報名及審查各項作業</p>
                    </a>
					<ul>
                        <li><a class="waves-effect" href="#">基本設定</a></li>
                        <li class="current"><a class="waves-effect" href="#">流程設定</a></li>
                        <li><a class="waves-effect" href="#">邀請名單</a></li>
                        <li><a class="waves-effect" href="#">報名欄位</a></li>
						<li><a class="waves-effect" href="#">繳交文件</a></li>
                        <li><a class="waves-effect" href="#">資訊安全</a></li>
						<li><a class="waves-effect" href="#">郵件通知</a></li>
                    </ul>
                </li>
				<li>
                    <a class="waves-effect" href="#">
                        <i class="fa fa-file" title="初審作業"></i>
                        <span class="menu-label">初審作業</span>
						<p class="nav-brief">管理各初審單位審查進度及狀況</p>
                    </a>
                </li>
				<li>
                    <a class="waves-effect" href="#">
                        <i class="fa fa-file-text" title="複審作業"></i>
                        <span class="menu-label">複審作業</span>
						<p class="nav-brief">輸入複審審查結果</p>
                    </a>
                </li>
				<li class="current">
                    <a class="waves-effect" href="#">
                        <i class="fa fa-list" title="報名名單"></i>
                        <span class="menu-label">報名名單</span>
						<p class="nav-brief">管理已報名的名單</p>
                    </a>
                </li>
				<li>
                    <a class="waves-effect" href="#">
                        <i class="fa fa-picture-o" title="Dashboard"></i>
                        <span class="menu-label">成果照片</span>
						<p class="nav-brief">上傳活動照片產生前台活動成果網頁</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
