<div class="modal fade" id="basicAgencyModal" tabindex="-1" role="dialog" aria-labelledby="basicAgencyModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-agency" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="basicAgencyModalLabel">初審單位</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
				<div class="form-group">
					<label><span class="required">*</span>駐外單位</label>
                    <div class="form-row">
                        <div class="col-3">
                            <div>
                                <select class="browser-default custom-select">
                                    <option value="0">亞洲</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">中南美洲</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-9">
                            <div>
                                <select class="browser-default custom-select">
                                    <option value="0">台北駐日經濟文化代表處橫濱分處</option>
                                    <option value="1">台北莫斯科經濟文化協調委員會駐莫斯科代表處</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                            </div>
                        </div>
                    </div>
				</div>
                <div class="form-group">
                    <label for="basic25"><span class="required">*</span>報名人數限制</label>
                    <input type="text" class="form-control" id="basic25" placeholder="請輸入">
					<p class="form-info text-muted mt-1">0 代表不限人數</p>
                </div>
				<div class="form-group mb-0">
                    <label>審查人數超過限制時</label>
					<div>
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" class="custom-control-input" id="basic26" name="inlineDefaultRadiosExample10" />
                            <label class="custom-control-label" for="basic26">僅提示</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" class="custom-control-input" id="basic27" name="inlineDefaultRadiosExample10" />
                            <label class="custom-control-label" for="basic27">限制不得超過</label>
                        </div>
					</div>
                </div>
            </div>
            <div class="modal-footer">
				<button type="button" class="btn btn-md btn-secondary" data-dismiss="modal">關閉</button>
				<button type="button" class="btn btn-md btn-primary">儲存</button>
            </div>
        </div>
    </div>
</div>

<% content_for :js do %>

<% end %>