<div class="modal fade" id="elvesForm" tabindex="-1" role="dialog" aria-labelledby="elvesFormLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="elvesFormLabel">個人資料欄位</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="basic31"><span class="required">*</span>中文名稱</label>
                    <input type="text" class="form-control" id="basic31" placeholder="">
                </div>
				<div class="form-group">
                    <label><span class="required">*</span>英文姓名</label>
                    <div class="row">
                        <div class="col-6">
                            <input type="text" class="form-control" id="" placeholder="First Name">
                        </div>
                        <div class="col-6">
                            <input type="text" class="form-control" id="" placeholder="Last Name">
                        </div>
                    </div>
				</div>
                <!--div class="row">
				    <div class="col-4">
					    <div class="form-group">
                            <label for="basic31"><span class="required">*</span>中文名稱</label>
                            <input type="text" class="form-control" id="basic31" placeholder="">
                        </div>
					</div>
					<div class="col-8">
                        <label><span class="required">*</span>英文姓名</label>
                        <div class="form-row">
                            <div class="col-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="" placeholder="First Name">
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="" placeholder="Last Name">
                                </div>
                            </div>
                        </div>
					</div>
				</div-->
				<div class="row">
                    <div class="col-6">
                        <div class="form-group">
							<label for="basic32">出生地</label>
                            <input type="text" class="form-control" id="basic32">
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
							<label for="">出生日期</label>
                            <div id="date-picker-example" class="md-form md-outline input-with-post-icon datepicker mt-0">
                                <input placeholder="Select date" type="text" id="example" class="form-control" />
                                <label for="example"></label>
                                <i class="fa fa-calendar input-prefix" tabindex="0"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label><span class="required">*</span>國籍</label>
                    <div>
                        <select class="browser-default custom-select">
                            <option value="0">請選擇</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </div>
                </div>
				<div class="form-group">
                    <label for="basic33"><span class="required">*</span>住址</label>
                    <input type="text" class="form-control" id="basic33" placeholder="">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-md btn-dark" data-dismiss="modal">關閉</button>
            </div>
        </div>
    </div>
</div>