<div class="modal fade" id="elvesDocument" tabindex="-1" role="dialog" aria-labelledby="elvesDocumentLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="elvesDocumentLabel">文件設定</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
				<div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <label for="basic35">中文名稱</label>
                            <input type="text" class="form-control" id="basic35" placeholder="">
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label for="basic36">英文名稱</label>
                            <input type="text" class="form-control" id="basic36" placeholder="">
                        </div>
                    </div>
                </div>
				<div class="form-group">
                    <div class="custom-control custom-checkbox mt-2">
                        <input type="checkbox" class="custom-control-input" id="basic37">
                        <label class="custom-control-label" for="basic37">必繳文件</label>
                    </div>
				</div>
				<div class="form-group">
					<label for="basic35" class="d-block">範例檔案</label>
					<div class="d-inline-block">
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01" />
                            <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                        </div>
					</div>
					<a href="#" class="btn btn-file-action btn-info">檢視</a>
					<a href="#" class="btn btn-file-action btn-danger">清除</a>
				</div>
                <div class="form-group">
                    <label for="basic38">中文說明</label>
                    <textarea class="form-control rounded-0" id="basic38" rows="4"></textarea>
                </div>
				<div class="form-group">
                    <label for="basic39">英文說明</label>
                    <textarea class="form-control rounded-0" id="basic39" rows="4"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-md btn-dark" data-dismiss="modal">關閉</button>
            </div>
        </div>
    </div>
</div>