<div class="modal fade" id="themeModal" tabindex="-1" role="dialog" aria-labelledby="themeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="themeModalLabel">選擇活動背景主題</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="elves-content">
                    <din class="elves-content-bd">
                        <ul class="menu-item menu-theme">
                            <li>
                                <div class="photo-wrap">
                                    <div class="theme-status">
                                        <label class="label" for="theme_1">
                                            <input class="label__checkbox" type="radio" id="theme_1" name="themeRadios" />
                                            <span class="label__text">
                                                <span class="label__check">
                                                    <i class="fa fa-check icon"></i>
                                                </span>
                                            </span>
                                        </label>
                                    </div>
                                    <img src="https://fakeimg.pl/700/" class="screenshot "alt="screenshot">
                                </div>
                                <div class="summary">
                                    <h6>佈景主題名稱</h6>
                                    <p>完整功能版</p>
                                </div>
                            </li>
                            <li>
                                <div class="photo-wrap">
                                    <div class="theme-status">
                                        <label class="label" for="theme_2">
                                            <input class="label__checkbox" type="radio" id="theme_2" name="themeRadios" checked/>
                                            <span class="label__text">
                                                <span class="label__check">
                                                    <i class="fa fa-check icon"></i>
                                                </span>
                                            </span>
                                        </label>
                                    </div>
                                    <img src="https://fakeimg.pl/700/" class="screenshot "alt="screenshot">
                                </div>
                                <div class="summary">
                                    <h6>佈景主題名稱</h6>
                                    <p>完整功能版</p>
                                </div>
                            </li>
                            <li>
                                <div class="photo-wrap">
                                    <div class="theme-status">
                                        <label class="label" for="theme_3">
                                            <input class="label__checkbox" type="radio" id="theme_3" name="themeRadios" />
                                            <span class="label__text">
                                                <span class="label__check">
                                                    <i class="fa fa-check icon"></i>
                                                </span>
                                            </span>
                                        </label>
                                    </div>
                                    <img src="https://fakeimg.pl/700/" class="screenshot "alt="screenshot">
                                </div>
                                <div class="summary">
                                    <h6>佈景主題名稱</h6>
                                    <p>完整功能版</p>
                                </div>
                            </li>
                            <li>
                                <div class="photo-wrap">
                                    <div class="theme-status">
                                        <label class="label" for="theme_4">
                                            <input class="label__checkbox" type="radio" id="theme_4" name="themeRadios" />
                                            <span class="label__text">
                                                <span class="label__check">
                                                    <i class="fa fa-check icon"></i>
                                                </span>
                                            </span>
                                        </label>
                                    </div>
                                    <img src="https://fakeimg.pl/700/" class="screenshot "alt="screenshot">
                                </div>
                                <div class="summary">
                                    <h6>佈景主題名稱</h6>
                                    <p>完整功能版</p>
                                </div>
                            </li>
                            <li>
                                <div class="photo-wrap">
                                    <div class="theme-status">
                                        <label class="label" for="theme_5">
                                            <input class="label__checkbox" type="radio" id="theme_5" name="themeRadios" />
                                            <span class="label__text">
                                                <span class="label__check">
                                                    <i class="fa fa-check icon"></i>
                                                </span>
                                            </span>
                                        </label>
                                    </div>
                                    <img src="https://fakeimg.pl/700/" class="screenshot "alt="screenshot">
                                </div>
                                <div class="summary">
                                    <h6>佈景主題名稱</h6>
                                    <p>完整功能版</p>
                                </div>
                            </li>
                        </ul>
                    </din>
                </div>
            </div>
            <div class="modal-footer">
				<button type="button" class="btn btn-md btn-secondary" data-dismiss="modal">關閉</button>
				<button type="button" class="btn btn-md btn-primary">儲存</button>
            </div>
        </div>
    </div>
</div>

<% content_for :js do %>

<% end %>