<!-- admin-page: formEditor modal -->

<%= render :partial => "/partials/admin_breadcrumb" %>

<main class="main">

<div class="modal fade show" id="basicExampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="display:block; position: relative;">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel">選項管理</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
				<div class="modal-option-wrapper">
					<div class="option-group">
                        <div class="light-blue-well mb-3">
							<div class="text-right">
                                <div class="btn-group mb-2">
                                    <button title="" data-toggle="tooltip" type="button" disabled="disabled" class="btn btn-xs btn-default"><i class="fa fa-chevron-up mr-0"></i></button>
                                    <button title="" data-toggle="tooltip" type="button" class="btn btn-xs btn-default"><i class="fa fa-chevron-down mr-0"></i></button>
                                    <button title="" data-toggle="tooltip" type="button" class="btn btn-xs btn-default"><i class="fa fa-times mr-0"></i></button>
                                </div>
							</div>
                            <div class="form-group form-group-sm row">
                                <label class="col-sm-3 col-form-label text-right" for="類別-0-CH">類別 - 中文</label>
                                <input id="類別-0-CH" class="form-control form-control-sm col-sm-9" />
                            </div>
                            <div class="form-group form-group-sm row">
                                <label class="col-sm-3 col-form-label text-right" for="類別-0-EN">類別 - 英文</label>
                                <input id="類別-0-EN" class="form-control form-control-sm col-sm-9" />
                            </div>
                            <div class="form-group form-group-sm row">
                                <label class="col-sm-3 col-form-label text-right" for="類別-0-JP">類別 - 日文</label>
                                <input id="類別-0-JP" class="form-control form-control-sm col-sm-9" />
                            </div>
                            <div class="form-group form-group-sm row">
                                <label class="col-sm-3 col-form-label text-right" for="類別-0-ES">類別 - 西班牙文</label>
                                <input id="類別-0-ES" class="form-control form-control-sm col-sm-9" />
                            </div>
                            <div class="form-group form-group-sm row">
                                <label class="col-sm-3 col-form-label text-right" for="類別-0-PT">類別 - 葡萄牙文</label>
                                <input id="類別-0-PT" class="form-control form-control-sm col-sm-9" />
                            </div>
                            <div class="form-group form-group-sm row">
                                <label class="col-sm-3 col-form-label text-right" for="類別-0-FR">類別 - 法文</label>
                                <input id="類別-0-FR" class="form-control form-control-sm col-sm-9" />
                            </div>
                            <div class="form-group form-group-sm row">
                                <label class="col-sm-3 col-form-label text-right" for="類別-0-DE">類別 - 德文</label>
                                <input id="類別-0-DE" class="form-control form-control-sm col-sm-9" />
                            </div>
                            <div class="text-center">
                                <button data-toggle="tooltip" type="button" class="btn btn-info btn-md add-btn-md">新增梯次</button>
							</div>
                        </div>
						<ul class="formeditor_echelon-list menu-item">
						    <li>
								<div class="num">
									<span>1</span>
								</div>
								<div class="input-option-group">
                                    <div class="form-group form-group-sm row">
                                        <label class="col-sm-2 col-form-label text-right" for="選項內容-0-0-CH">中文</label>
                                        <input id="選項內容-0-0-CH" class="form-control form-control-sm col-sm-10" />
                                    </div>
                                    <div class="form-group form-group-sm row">
                                        <label class="col-sm-2 col-form-label text-right" for="選項內容-0-0-EN">英文</label>
                                        <input id="選項內容-0-0-EN" class="form-control form-control-sm col-sm-10" />
                                    </div>
									<div class="form-group form-group-sm row">
                                        <label class="col-sm-2 col-form-label text-right" for="選項內容-0-0-JP">日文</label>
                                        <input id="選項內容-0-0-JP" class="form-control form-control-sm col-sm-10" />
                                    </div>
									<div class="form-group form-group-sm row">
                                        <label class="col-sm-2 col-form-label text-right" for="選項內容-0-0-ES">西班牙文</label>
                                        <input id="選項內容-0-0-ES" class="form-control form-control-sm col-sm-10" />
                                    </div>
									<div class="form-group form-group-sm row">
                                        <label class="col-sm-2 col-form-label text-right" for="選項內容-0-0-PT">葡萄牙文</label>
                                        <input id="選項內容-0-0-PT" class="form-control form-control-sm col-sm-10" />
                                    </div>
									<div class="form-group form-group-sm row">
                                        <label class="col-sm-2 col-form-label text-right" for="選項內容-0-0-FR">法文</label>
                                        <input id="選項內容-0-0-FR" class="form-control form-control-sm col-sm-10" />
                                    </div>
									<div class="form-group form-group-sm row">
                                        <label class="col-sm-2 col-form-label text-right" for="選項內容-0-0-DE">德文</label>
                                        <input id="選項內容-0-0-DE" class="form-control form-control-sm col-sm-10" />
                                    </div>
								</div>
								<div class="action">
                                    <div class="btn-group">
                                        <button title="" data-toggle="tooltip" type="button" class="btn btn-xs btn-default"><i class="fa fa-chevron-up mr-0"></i></button>
                                        <button title="" data-toggle="tooltip" type="button" class="btn btn-xs btn-default"><i class="fa fa-chevron-down mr-0"></i></button>
                                        <button title="" data-toggle="tooltip" type="button" class="btn btn-xs btn-default"><i class="fa fa-times mr-0"></i></button>
                                    </div>
								</div>
							</li>
							<li>
							    <div class="num">
									<span>2</span>
								</div>
								<div class="input-option-group">
                                    <div class="form-group form-group-sm row">
                                        <label class="col-sm-2 col-form-label text-right" for="選項內容-0-0-CH">中文</label>
                                        <input id="選項內容-0-0-CH" class="form-control form-control-sm col-sm-10" />
                                    </div>
                                    <div class="form-group form-group-sm row">
                                        <label class="col-sm-2 col-form-label text-right" for="選項內容-0-0-EN">英文</label>
                                        <input id="選項內容-0-0-EN" class="form-control form-control-sm col-sm-10" />
                                    </div>
									<div class="form-group form-group-sm row">
                                        <label class="col-sm-2 col-form-label text-right" for="選項內容-0-0-JP">日文</label>
                                        <input id="選項內容-0-0-JP" class="form-control form-control-sm col-sm-10" />
                                    </div>
									<div class="form-group form-group-sm row">
                                        <label class="col-sm-2 col-form-label text-right" for="選項內容-0-0-ES">西班牙文</label>
                                        <input id="選項內容-0-0-ES" class="form-control form-control-sm col-sm-10" />
                                    </div>
									<div class="form-group form-group-sm row">
                                        <label class="col-sm-2 col-form-label text-right" for="選項內容-0-0-PT">葡萄牙文</label>
                                        <input id="選項內容-0-0-PT" class="form-control form-control-sm col-sm-10" />
                                    </div>
									<div class="form-group form-group-sm row">
                                        <label class="col-sm-2 col-form-label text-right" for="選項內容-0-0-FR">法文</label>
                                        <input id="選項內容-0-0-FR" class="form-control form-control-sm col-sm-10" />
                                    </div>
									<div class="form-group form-group-sm row">
                                        <label class="col-sm-2 col-form-label text-right" for="選項內容-0-0-DE">德文</label>
                                        <input id="選項內容-0-0-DE" class="form-control form-control-sm col-sm-10" />
                                    </div>
								</div>
								<div class="action">
                                    <div class="btn-group">
                                        <button title="" data-toggle="tooltip" type="button" class="btn btn-xs btn-default"><i class="fa fa-chevron-up mr-0"></i></button>
                                        <button title="" data-toggle="tooltip" type="button" class="btn btn-xs btn-default"><i class="fa fa-chevron-down mr-0"></i></button>
                                        <button title="" data-toggle="tooltip" type="button" class="btn btn-xs btn-default"><i class="fa fa-times mr-0"></i></button>
                                    </div>
								</div>
							</li>
							<li>
							    <div class="num">
									<span>3</span>
								</div>
								<div class="input-option-group">
                                    <div class="form-group form-group-sm row">
                                        <label class="col-sm-2 col-form-label text-right" for="選項內容-0-0-CH">中文</label>
                                        <input id="選項內容-0-0-CH" class="form-control form-control-sm col-sm-10" />
                                    </div>
                                    <div class="form-group form-group-sm row">
                                        <label class="col-sm-2 col-form-label text-right" for="選項內容-0-0-EN">英文</label>
                                        <input id="選項內容-0-0-EN" class="form-control form-control-sm col-sm-10" />
                                    </div>
									<div class="form-group form-group-sm row">
                                        <label class="col-sm-2 col-form-label text-right" for="選項內容-0-0-JP">日文</label>
                                        <input id="選項內容-0-0-JP" class="form-control form-control-sm col-sm-10" />
                                    </div>
									<div class="form-group form-group-sm row">
                                        <label class="col-sm-2 col-form-label text-right" for="選項內容-0-0-ES">西班牙文</label>
                                        <input id="選項內容-0-0-ES" class="form-control form-control-sm col-sm-10" />
                                    </div>
									<div class="form-group form-group-sm row">
                                        <label class="col-sm-2 col-form-label text-right" for="選項內容-0-0-PT">葡萄牙文</label>
                                        <input id="選項內容-0-0-PT" class="form-control form-control-sm col-sm-10" />
                                    </div>
									<div class="form-group form-group-sm row">
                                        <label class="col-sm-2 col-form-label text-right" for="選項內容-0-0-FR">法文</label>
                                        <input id="選項內容-0-0-FR" class="form-control form-control-sm col-sm-10" />
                                    </div>
									<div class="form-group form-group-sm row">
                                        <label class="col-sm-2 col-form-label text-right" for="選項內容-0-0-DE">德文</label>
                                        <input id="選項內容-0-0-DE" class="form-control form-control-sm col-sm-10" />
                                    </div>
								</div>
								<div class="action">
                                    <div class="btn-group">
                                        <button title="" data-toggle="tooltip" type="button" class="btn btn-xs btn-default"><i class="fa fa-chevron-up mr-0"></i></button>
                                        <button title="" data-toggle="tooltip" type="button" class="btn btn-xs btn-default"><i class="fa fa-chevron-down mr-0"></i></button>
                                        <button title="" data-toggle="tooltip" type="button" class="btn btn-xs btn-default"><i class="fa fa-times mr-0"></i></button>
                                    </div>
								</div>
							</li>
						</ul>
					</div>
					<div class="option-group">
                        <div class="light-blue-well mb-3">
							<div class="text-right">
                                <div class="btn-group mb-2">
                                    <button title="" data-toggle="tooltip" type="button" disabled="disabled" class="btn btn-xs btn-default"><i class="fa fa-chevron-up mr-0"></i></button>
                                    <button title="" data-toggle="tooltip" type="button" class="btn btn-xs btn-default"><i class="fa fa-chevron-down mr-0"></i></button>
                                    <button title="" data-toggle="tooltip" type="button" class="btn btn-xs btn-default"><i class="fa fa-times mr-0"></i></button>
                                </div>
							</div>
                            <div class="form-group form-group-sm row">
                                <label class="col-sm-3 col-form-label text-right" for="類別-0-CH">類別 - 中文</label>
                                <input id="類別-0-CH" class="form-control form-control-sm col-sm-9" />
                            </div>
                            <div class="form-group form-group-sm row">
                                <label class="col-sm-3 col-form-label text-right" for="類別-0-EN">類別 - 英文</label>
                                <input id="類別-0-EN" class="form-control form-control-sm col-sm-9" />
                            </div>
                            <div class="form-group form-group-sm row">
                                <label class="col-sm-3 col-form-label text-right" for="類別-0-JP">類別 - 日文</label>
                                <input id="類別-0-JP" class="form-control form-control-sm col-sm-9" />
                            </div>
                            <div class="form-group form-group-sm row">
                                <label class="col-sm-3 col-form-label text-right" for="類別-0-ES">類別 - 西班牙文</label>
                                <input id="類別-0-ES" class="form-control form-control-sm col-sm-9" />
                            </div>
                            <div class="form-group form-group-sm row">
                                <label class="col-sm-3 col-form-label text-right" for="類別-0-PT">類別 - 葡萄牙文</label>
                                <input id="類別-0-PT" class="form-control form-control-sm col-sm-9" />
                            </div>
                            <div class="form-group form-group-sm row">
                                <label class="col-sm-3 col-form-label text-right" for="類別-0-FR">類別 - 法文</label>
                                <input id="類別-0-FR" class="form-control form-control-sm col-sm-9" />
                            </div>
                            <div class="form-group form-group-sm row">
                                <label class="col-sm-3 col-form-label text-right" for="類別-0-DE">類別 - 德文</label>
                                <input id="類別-0-DE" class="form-control form-control-sm col-sm-9" />
                            </div>
                            <div class="text-center">
                                <button data-toggle="tooltip" type="button" class="btn btn-info btn-md add-btn-md">新增梯次</button>
							</div>
                        </div>
						<ul class="formeditor_echelon-list menu-item">
						    <li>
							    <div class="num">
									<span>1</span>
								</div>
								<div class="input-option-group">
                                    <div class="form-group form-group-sm row">
                                        <label class="col-sm-2 col-form-label text-right" for="選項內容-0-0-CH">中文</label>
                                        <input id="選項內容-0-0-CH" class="form-control form-control-sm col-sm-10" />
                                    </div>
                                    <div class="form-group form-group-sm row">
                                        <label class="col-sm-2 col-form-label text-right" for="選項內容-0-0-EN">英文</label>
                                        <input id="選項內容-0-0-EN" class="form-control form-control-sm col-sm-10" />
                                    </div>
									<div class="form-group form-group-sm row">
                                        <label class="col-sm-2 col-form-label text-right" for="選項內容-0-0-JP">日文</label>
                                        <input id="選項內容-0-0-JP" class="form-control form-control-sm col-sm-10" />
                                    </div>
									<div class="form-group form-group-sm row">
                                        <label class="col-sm-2 col-form-label text-right" for="選項內容-0-0-ES">西班牙文</label>
                                        <input id="選項內容-0-0-ES" class="form-control form-control-sm col-sm-10" />
                                    </div>
									<div class="form-group form-group-sm row">
                                        <label class="col-sm-2 col-form-label text-right" for="選項內容-0-0-PT">葡萄牙文</label>
                                        <input id="選項內容-0-0-PT" class="form-control form-control-sm col-sm-10" />
                                    </div>
									<div class="form-group form-group-sm row">
                                        <label class="col-sm-2 col-form-label text-right" for="選項內容-0-0-FR">法文</label>
                                        <input id="選項內容-0-0-FR" class="form-control form-control-sm col-sm-10" />
                                    </div>
									<div class="form-group form-group-sm row">
                                        <label class="col-sm-2 col-form-label text-right" for="選項內容-0-0-DE">德文</label>
                                        <input id="選項內容-0-0-DE" class="form-control form-control-sm col-sm-10" />
                                    </div>
								</div>
								<div class="action">
                                    <div class="btn-group">
                                        <button title="" data-toggle="tooltip" type="button" class="btn btn-xs btn-default"><i class="fa fa-chevron-up mr-0"></i></button>
                                        <button title="" data-toggle="tooltip" type="button" class="btn btn-xs btn-default"><i class="fa fa-chevron-down mr-0"></i></button>
                                        <button title="" data-toggle="tooltip" type="button" class="btn btn-xs btn-default"><i class="fa fa-times mr-0"></i></button>
                                    </div>
								</div>
							</li>
							<li>
							    <div class="num">
									<span>2</span>
								</div>
								<div class="input-option-group">
                                    <div class="form-group form-group-sm row">
                                        <label class="col-sm-2 col-form-label text-right" for="選項內容-0-0-CH">中文</label>
                                        <input id="選項內容-0-0-CH" class="form-control form-control-sm col-sm-10" />
                                    </div>
                                    <div class="form-group form-group-sm row">
                                        <label class="col-sm-2 col-form-label text-right" for="選項內容-0-0-EN">英文</label>
                                        <input id="選項內容-0-0-EN" class="form-control form-control-sm col-sm-10" />
                                    </div>
									<div class="form-group form-group-sm row">
                                        <label class="col-sm-2 col-form-label text-right" for="選項內容-0-0-JP">日文</label>
                                        <input id="選項內容-0-0-JP" class="form-control form-control-sm col-sm-10" />
                                    </div>
									<div class="form-group form-group-sm row">
                                        <label class="col-sm-2 col-form-label text-right" for="選項內容-0-0-ES">西班牙文</label>
                                        <input id="選項內容-0-0-ES" class="form-control form-control-sm col-sm-10" />
                                    </div>
									<div class="form-group form-group-sm row">
                                        <label class="col-sm-2 col-form-label text-right" for="選項內容-0-0-PT">葡萄牙文</label>
                                        <input id="選項內容-0-0-PT" class="form-control form-control-sm col-sm-10" />
                                    </div>
									<div class="form-group form-group-sm row">
                                        <label class="col-sm-2 col-form-label text-right" for="選項內容-0-0-FR">法文</label>
                                        <input id="選項內容-0-0-FR" class="form-control form-control-sm col-sm-10" />
                                    </div>
									<div class="form-group form-group-sm row">
                                        <label class="col-sm-2 col-form-label text-right" for="選項內容-0-0-DE">德文</label>
                                        <input id="選項內容-0-0-DE" class="form-control form-control-sm col-sm-10" />
                                    </div>
								</div>
								<div class="action">
                                    <div class="btn-group">
                                        <button title="" data-toggle="tooltip" type="button" class="btn btn-xs btn-default"><i class="fa fa-chevron-up mr-0"></i></button>
                                        <button title="" data-toggle="tooltip" type="button" class="btn btn-xs btn-default"><i class="fa fa-chevron-down mr-0"></i></button>
                                        <button title="" data-toggle="tooltip" type="button" class="btn btn-xs btn-default"><i class="fa fa-times mr-0"></i></button>
                                    </div>
								</div>
							</li>
							<li>
							    <div class="num">
									<span>3</span>
								</div>
								<div class="input-option-group">
                                    <div class="form-group form-group-sm row">
                                        <label class="col-sm-2 col-form-label text-right" for="選項內容-0-0-CH">中文</label>
                                        <input id="選項內容-0-0-CH" class="form-control form-control-sm col-sm-10" />
                                    </div>
                                    <div class="form-group form-group-sm row">
                                        <label class="col-sm-2 col-form-label text-right" for="選項內容-0-0-EN">英文</label>
                                        <input id="選項內容-0-0-EN" class="form-control form-control-sm col-sm-10" />
                                    </div>
									<div class="form-group form-group-sm row">
                                        <label class="col-sm-2 col-form-label text-right" for="選項內容-0-0-JP">日文</label>
                                        <input id="選項內容-0-0-JP" class="form-control form-control-sm col-sm-10" />
                                    </div>
									<div class="form-group form-group-sm row">
                                        <label class="col-sm-2 col-form-label text-right" for="選項內容-0-0-ES">西班牙文</label>
                                        <input id="選項內容-0-0-ES" class="form-control form-control-sm col-sm-10" />
                                    </div>
									<div class="form-group form-group-sm row">
                                        <label class="col-sm-2 col-form-label text-right" for="選項內容-0-0-PT">葡萄牙文</label>
                                        <input id="選項內容-0-0-PT" class="form-control form-control-sm col-sm-10" />
                                    </div>
									<div class="form-group form-group-sm row">
                                        <label class="col-sm-2 col-form-label text-right" for="選項內容-0-0-FR">法文</label>
                                        <input id="選項內容-0-0-FR" class="form-control form-control-sm col-sm-10" />
                                    </div>
									<div class="form-group form-group-sm row">
                                        <label class="col-sm-2 col-form-label text-right" for="選項內容-0-0-DE">德文</label>
                                        <input id="選項內容-0-0-DE" class="form-control form-control-sm col-sm-10" />
                                    </div>
								</div>
								<div class="action">
                                    <div class="btn-group">
                                        <button title="" data-toggle="tooltip" type="button" class="btn btn-xs btn-default"><i class="fa fa-chevron-up mr-0"></i></button>
                                        <button title="" data-toggle="tooltip" type="button" class="btn btn-xs btn-default"><i class="fa fa-chevron-down mr-0"></i></button>
                                        <button title="" data-toggle="tooltip" type="button" class="btn btn-xs btn-default"><i class="fa fa-times mr-0"></i></button>
                                    </div>
								</div>
							</li>
						</ul>
						<div class="text-center">
                            <button data-toggle="tooltip" type="button" class="btn btn-info btn-md add-btn-md">新增類別</button>
						</div>
					</div>
				</div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-md btn-dark" data-dismiss="modal">關閉</button>
                <button type="button" class="btn btn-md btn-primary">儲存</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade show" id="basicExampleModal_02" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="display:block; position: relative;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel">報名梯次設定</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
				<div class="modal-option-wrapper">
					<h5>梯次名稱</h5>
                    <div class="form-group form-group-sm row">
                        <label class="col-sm-3 col-form-label text-right" for="CH">中文</label>
                        <input id="CH" class="form-control form-control-sm col-sm-9" />
                    </div>
                    <div class="form-group form-group-sm row">
                        <label class="col-sm-3 col-form-label text-right" for="EN">英文</label>
                        <input id="EN" class="form-control form-control-sm col-sm-9" />
                    </div>
                    <div class="form-group form-group-sm row">
                        <label class="col-sm-3 col-form-label text-right" for="JP">日文</label>
                        <input id="JP" class="form-control form-control-sm col-sm-9" />
                    </div>
                    <div class="form-group form-group-sm row">
                        <label class="col-sm-3 col-form-label text-right" for="ES">西班牙文</label>
                        <input id="ES" class="form-control form-control-sm col-sm-9" />
                    </div>
                    <div class="form-group form-group-sm row">
                        <label class="col-sm-3 col-form-label text-right" for="PT">葡萄牙文</label>
                        <input id="PT" class="form-control form-control-sm col-sm-9" />
                    </div>
                    <div class="form-group form-group-sm row">
                        <label class="col-sm-3 col-form-label text-right" for="FR">法文</label>
                        <input id="FR" class="form-control form-control-sm col-sm-9" />
                    </div>
                    <div class="form-group form-group-sm row">
                        <label class="col-sm-3 col-form-label text-right" for="DE">德文</label>
                        <input id="DE" class="form-control form-control-sm col-sm-9" />
                    </div>
				</div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-md btn-dark" data-dismiss="modal">關閉</button>
                <button type="button" class="btn btn-md btn-primary">儲存</button>
            </div>
        </div>
    </div>
</div>
	
<div class="modal fade show" id="basicExampleModal_03" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="display:block; position: relative;">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel">選項管理</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
				<div class="modal-option-wrapper">
                    <div class="light-blue-well mb-3">
                        <div class="d-flex align-items-end mb-3">
                            <div class="flex-1">
                                <div class="form-row">
                                    <div class="col-6">
										<div>
											<label>學期開始</label>
                                            <div id="date-picker-example" class="md-form md-outline input-with-post-icon datepicker my-0">
                                                <input placeholder="Select date" type="text" id="example" class="form-control mb-0" />
                                                <label for="example"></label>
                                                <i class="fa fa-calendar input-prefix" tabindex="0"></i>
                                            </div>
										</div>
                                    </div>
                                    <div class="col-6">
										<div>
											<label>學期結束</label>
                                            <div id="date-picker-example" class="md-form md-outline input-with-post-icon datepicker my-0">
                                                <input placeholder="Select date" type="text" id="example" class="form-control mb-0" />
                                                <label for="example"></label>
                                                <i class="fa fa-calendar input-prefix" tabindex="0"></i>
                                            </div>
										</div>
                                    </div>
                                </div>
                            </div>
                            <div class="text-right pl-3 pb-4">
                                <div class="btn-group">
                                    <button title="" data-toggle="tooltip" type="button" disabled="disabled" class="btn btn-xs btn-default"><i class="fa fa-chevron-up mr-0"></i></button>
                                    <button title="" data-toggle="tooltip" type="button" class="btn btn-xs btn-default"><i class="fa fa-chevron-down mr-0"></i></button>
                                    <button title="" data-toggle="tooltip" type="button" class="btn btn-xs btn-default"><i class="fa fa-times mr-0"></i></button>
                                </div>
                            </div>
                        </div>
                        <div class="form-group form-group-sm row">
                            <label class="col-sm-3 col-form-label text-right" for="學期-0-CH">學期 - 中文</label>
                            <input id="學期-0-CH" class="form-control form-control-sm col-sm-9" placeholder="請輸入學期" />
                        </div>
                        <div class="form-group form-group-sm row">
                            <label class="col-sm-3 col-form-label text-right" for="學期-0-EN">學期 - 英文</label>
                            <input id="學期-0-EN" class="form-control form-control-sm col-sm-9" placeholder="請輸入學期" />
                        </div>
                        <div class="form-group form-group-sm row">
                            <label class="col-sm-3 col-form-label text-right" for="學期-0-JP">學期 - 日文</label>
                            <input id="學期-0-JP" class="form-control form-control-sm col-sm-9" placeholder="請輸入學期" />
                        </div>
                        <div class="form-group form-group-sm row">
                            <label class="col-sm-3 col-form-label text-right" for="學期-0-ES">學期 - 西班牙文</label>
                            <input id="學期-0-ES" class="form-control form-control-sm col-sm-9" placeholder="請輸入學期" />
                        </div>
                        <div class="form-group form-group-sm row">
                            <label class="col-sm-3 col-form-label text-right" for="學期-0-PT">學期 - 葡萄牙文</label>
                            <input id="學期-0-PT" class="form-control form-control-sm col-sm-9" placeholder="請輸入學期" />
                        </div>
                        <div class="form-group form-group-sm row">
                            <label class="col-sm-3 col-form-label text-right" for="學期-0-FR">學期 - 法文</label>
                            <input id="學期-0-FR" class="form-control form-control-sm col-sm-9" placeholder="請輸入學期" />
                        </div>
                        <div class="form-group form-group-sm row">
                            <label class="col-sm-3 col-form-label text-right" for="學期-0-DE">學期 - 德文</label>
                            <input id="學期-0-DE" class="form-control form-control-sm col-sm-9" placeholder="請輸入學期" />
                        </div>
                    </div>
					<div class="light-blue-well mb-3">
                        <div class="d-flex align-items-end mb-3">
                            <div class="flex-1">
                                <div class="form-row">
                                    <div class="col-6">
										<div>
											<label>學期開始</label>
                                            <div id="date-picker-example" class="md-form md-outline input-with-post-icon datepicker my-0">
                                                <input placeholder="Select date" type="text" id="example" class="form-control mb-0" />
                                                <label for="example"></label>
                                                <i class="fa fa-calendar input-prefix" tabindex="0"></i>
                                            </div>
										</div>
                                    </div>
                                    <div class="col-6">
										<div>
											<label>學期結束</label>
                                            <div id="date-picker-example" class="md-form md-outline input-with-post-icon datepicker my-0">
                                                <input placeholder="Select date" type="text" id="example" class="form-control mb-0" />
                                                <label for="example"></label>
                                                <i class="fa fa-calendar input-prefix" tabindex="0"></i>
                                            </div>
										</div>
                                    </div>
                                </div>
                            </div>
                            <div class="text-right pl-3 pb-4">
                                <div class="btn-group">
                                    <button title="" data-toggle="tooltip" type="button" disabled="disabled" class="btn btn-xs btn-default"><i class="fa fa-chevron-up mr-0"></i></button>
                                    <button title="" data-toggle="tooltip" type="button" class="btn btn-xs btn-default"><i class="fa fa-chevron-down mr-0"></i></button>
                                    <button title="" data-toggle="tooltip" type="button" class="btn btn-xs btn-default"><i class="fa fa-times mr-0"></i></button>
                                </div>
                            </div>
                        </div>
                        <div class="form-group form-group-sm row">
                            <label class="col-sm-3 col-form-label text-right" for="學期-0-CH">學期 - 中文</label>
                            <input id="學期-0-CH" class="form-control form-control-sm col-sm-9" placeholder="請輸入學期" />
                        </div>
                        <div class="form-group form-group-sm row">
                            <label class="col-sm-3 col-form-label text-right" for="學期-0-EN">學期 - 英文</label>
                            <input id="學期-0-EN" class="form-control form-control-sm col-sm-9" placeholder="請輸入學期" />
                        </div>
                        <div class="form-group form-group-sm row">
                            <label class="col-sm-3 col-form-label text-right" for="學期-0-JP">學期 - 日文</label>
                            <input id="學期-0-JP" class="form-control form-control-sm col-sm-9" placeholder="請輸入學期" />
                        </div>
                        <div class="form-group form-group-sm row">
                            <label class="col-sm-3 col-form-label text-right" for="學期-0-ES">學期 - 西班牙文</label>
                            <input id="學期-0-ES" class="form-control form-control-sm col-sm-9" placeholder="請輸入學期" />
                        </div>
                        <div class="form-group form-group-sm row">
                            <label class="col-sm-3 col-form-label text-right" for="學期-0-PT">學期 - 葡萄牙文</label>
                            <input id="學期-0-PT" class="form-control form-control-sm col-sm-9" placeholder="請輸入學期" />
                        </div>
                        <div class="form-group form-group-sm row">
                            <label class="col-sm-3 col-form-label text-right" for="學期-0-FR">學期 - 法文</label>
                            <input id="學期-0-FR" class="form-control form-control-sm col-sm-9" placeholder="請輸入學期" />
                        </div>
                        <div class="form-group form-group-sm row">
                            <label class="col-sm-3 col-form-label text-right" for="學期-0-DE">學期 - 德文</label>
                            <input id="學期-0-DE" class="form-control form-control-sm col-sm-9" placeholder="請輸入學期" />
                        </div>
                    </div>
                    <div class="text-center">
                        <button data-toggle="tooltip" type="button" class="btn btn-info btn-md add-btn-md">新增學期</button>
                    </div>
				</div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-md btn-dark" data-dismiss="modal">關閉</button>
                <button type="button" class="btn btn-md btn-primary">儲存</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade show" id="basicExampleModal_03" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="display:block; position: relative;">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel">選項管理</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
				<div class="modal-option-wrapper">
					<div class="light-blue-well mb-3">
                        <div class="d-flex align-items-end mb-4">
                            <div class="flex-1">
                                <div>
                                    <label>縣市</label>
                                    <select class="browser-default custom-select">
                                        <option selected>Open this select menu</option>
                                        <option value="1">One</option>
                                        <option value="2">Two</option>
                                        <option value="3">Three</option>
                                    </select>
                                </div>
                            </div>
                            <div class="text-right pl-4">
                                <div class="btn-group">
                                    <button title="" data-toggle="tooltip" type="button" disabled="disabled" class="btn btn-xs btn-default"><i class="fa fa-chevron-up mr-0"></i></button>
                                    <button title="" data-toggle="tooltip" type="button" class="btn btn-xs btn-default"><i class="fa fa-chevron-down mr-0"></i></button>
                                    <button title="" data-toggle="tooltip" type="button" class="btn btn-xs btn-default"><i class="fa fa-times mr-0"></i></button>
                                </div>
                            </div>
                        </div>
                        <div class="form-group form-group-sm row">
                            <label class="col-sm-3 col-form-label text-right" for="駐外單位-0-CH">駐外單位 - 中文</label>
                            <input id="駐外單位-0-CH" class="form-control form-control-sm col-sm-9" placeholder="請輸入駐外單位" />
                        </div>
                        <div class="form-group form-group-sm row">
                            <label class="col-sm-3 col-form-label text-right" for="駐外單位-0-EN">駐外單位 - 英文</label>
                            <input id="駐外單位-0-EN" class="form-control form-control-sm col-sm-9" placeholder="請輸入駐外單位" />
                        </div>
                    </div>
					<div class="light-blue-well mb-3">
                        <div class="d-flex align-items-end mb-4">
                            <div class="flex-1">
                                <div>
                                    <label>縣市</label>
                                    <select class="browser-default custom-select">
                                        <option selected>Open this select menu</option>
                                        <option value="1">One</option>
                                        <option value="2">Two</option>
                                        <option value="3">Three</option>
                                    </select>
                                </div>
                            </div>
                            <div class="text-right pl-4">
                                <div class="btn-group">
                                    <button title="" data-toggle="tooltip" type="button" disabled="disabled" class="btn btn-xs btn-default"><i class="fa fa-chevron-up mr-0"></i></button>
                                    <button title="" data-toggle="tooltip" type="button" class="btn btn-xs btn-default"><i class="fa fa-chevron-down mr-0"></i></button>
                                    <button title="" data-toggle="tooltip" type="button" class="btn btn-xs btn-default"><i class="fa fa-times mr-0"></i></button>
                                </div>
                            </div>
                        </div>
                        <div class="form-group form-group-sm row">
                            <label class="col-sm-3 col-form-label text-right" for="駐外單位-0-CH">駐外單位 - 中文</label>
                            <input id="駐外單位-0-CH" class="form-control form-control-sm col-sm-9" placeholder="請輸入駐外單位" />
                        </div>
                        <div class="form-group form-group-sm row">
                            <label class="col-sm-3 col-form-label text-right" for="駐外單位-0-EN">駐外單位 - 英文</label>
                            <input id="駐外單位-0-EN" class="form-control form-control-sm col-sm-9" placeholder="請輸入駐外單位" />
                        </div>
                    </div>
                    <div class="text-center">
                        <button data-toggle="tooltip" type="button" class="btn btn-info btn-md add-btn-md">新增學校</button>
                    </div>
				</div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-md btn-dark" data-dismiss="modal">關閉</button>
                <button type="button" class="btn btn-md btn-primary">儲存</button>
            </div>
        </div>
    </div>
</div>
	
<div class="modal fade show" id="basicExampleModal_03" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="display:block; position: relative;">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel">選項管理</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
				<div class="modal-option-wrapper">
					<div class="light-blue-well mb-3">
                        <div class="d-flex align-items-end mb-4">
                            <div class="flex-1">
                                <div>
                                    <select class="browser-default custom-select">
                                        <option selected>亞洲</option>
                                        <option value="1">One</option>
                                        <option value="2">Two</option>
                                        <option value="3">Three</option>
                                    </select>
                                </div>
                            </div>
                            <div class="text-right pl-4">
                                <div class="btn-group">
                                    <button title="" data-toggle="tooltip" type="button" disabled="disabled" class="btn btn-xs btn-default"><i class="fa fa-chevron-up mr-0"></i></button>
                                    <button title="" data-toggle="tooltip" type="button" class="btn btn-xs btn-default"><i class="fa fa-chevron-down mr-0"></i></button>
                                    <button title="" data-toggle="tooltip" type="button" class="btn btn-xs btn-default"><i class="fa fa-times mr-0"></i></button>
                                </div>
                            </div>
                        </div>
                        <div class="form-group form-group-sm row">
                            <label class="col-sm-3 col-form-label text-right" for="地點-0-CH">地點 - 中文</label>
                            <input id="地點-0-CH" class="form-control form-control-sm col-sm-9" placeholder="請輸入地點" />
                        </div>
                        <div class="form-group form-group-sm row">
                            <label class="col-sm-3 col-form-label text-right" for="地點-0-EN">地點 - 英文</label>
                            <input id="地點-0-EN" class="form-control form-control-sm col-sm-9" placeholder="請輸入地點" />
                        </div>
                    </div>
					<div class="light-blue-well mb-3">
                        <div class="d-flex align-items-end mb-4">
                            <div class="flex-1">
                                <div>
                                    <select class="browser-default custom-select">
                                        <option selected>Open this select menu</option>
                                        <option value="1">One</option>
                                        <option value="2">Two</option>
                                        <option value="3">Three</option>
                                    </select>
                                </div>
                            </div>
                            <div class="text-right pl-4">
                                <div class="btn-group">
                                    <button title="" data-toggle="tooltip" type="button" disabled="disabled" class="btn btn-xs btn-default"><i class="fa fa-chevron-up mr-0"></i></button>
                                    <button title="" data-toggle="tooltip" type="button" class="btn btn-xs btn-default"><i class="fa fa-chevron-down mr-0"></i></button>
                                    <button title="" data-toggle="tooltip" type="button" class="btn btn-xs btn-default"><i class="fa fa-times mr-0"></i></button>
                                </div>
                            </div>
                        </div>
                        <div class="form-group form-group-sm row">
                            <label class="col-sm-3 col-form-label text-right" for="地點-0-CH">地點 - 中文</label>
                            <input id="地點-0-CH" class="form-control form-control-sm col-sm-9" placeholder="請輸入地點" />
                        </div>
                        <div class="form-group form-group-sm row">
                            <label class="col-sm-3 col-form-label text-right" for="地點-0-EN">地點 - 英文</label>
                            <input id="地點-0-EN" class="form-control form-control-sm col-sm-9" placeholder="請輸入地點" />
                        </div>
                    </div>
                    <div class="text-center">
                        <button data-toggle="tooltip" type="button" class="btn btn-info btn-md add-btn-md">新增學校</button>
                    </div>
				</div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-md btn-dark" data-dismiss="modal">關閉</button>
                <button type="button" class="btn btn-md btn-primary">儲存</button>
            </div>
        </div>
    </div>
</div>
	
<div class="modal fade show" id="basicExampleModal_03" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="display:block; position: relative;">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel">下拉選項管理</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
				<div class="modal-option-wrapper">
					<div class="light-blue-well mb-3">
                        <div class="d-flex align-items-end mb-4">
                            <div class="flex-1">
                                <input id="" class="form-control" placeholder="" />
                            </div>
                            <div class="text-right pl-4">
                                <div class="btn-group">
                                    <button title="" data-toggle="tooltip" type="button" disabled="disabled" class="btn btn-xs btn-default"><i class="fa fa-chevron-up mr-0"></i></button>
                                    <button title="" data-toggle="tooltip" type="button" class="btn btn-xs btn-default"><i class="fa fa-chevron-down mr-0"></i></button>
                                    <button title="" data-toggle="tooltip" type="button" class="btn btn-xs btn-default"><i class="fa fa-times mr-0"></i></button>
                                </div>
                            </div>
                        </div>
                        <div class="form-group form-group-sm row">
                            <label class="col-sm-2 col-form-label text-right" for="CH">中文</label>
                            <input id="CH" class="form-control form-control-sm col-sm-10" placeholder="" />
                        </div>
                        <div class="form-group form-group-sm row">
                            <label class="col-sm-2 col-form-label text-right" for="EN">英文</label>
                            <input id="EN" class="form-control form-control-sm col-sm-10" placeholder="" />
                        </div>
                    </div>
                    <div class="text-center">
                        <button data-toggle="tooltip" type="button" class="btn btn-info btn-md add-btn-md">新增項目</button>
                    </div>
				</div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-md btn-dark" data-dismiss="modal">關閉</button>
                <button type="button" class="btn btn-md btn-primary">儲存</button>
            </div>
        </div>
    </div>
</div>
	
<div class="modal fade show" id="basicExampleModal_03" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="display:block; position: relative;">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel">單選選項管理</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
				<div class="modal-option-wrapper">
					<div class="checkbox-single-item">
                        <div class="light-blue-well d-flex align-items-end mb-4">
                            <div class="flex-1">
								<div class="form-row align-items-center">
								    <div class="col-4 mb-0">
									    <input id="" class="form-control" placeholder="" />
									</div>
									<div class="col-8 mb-0">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="defaultUnchecked" />
                                            <label class="custom-control-label" for="defaultUnchecked">額外輸入</label>
                                        </div>
									</div>
								</div>
                            </div>
                            <div class="text-right pl-4">
                                <div class="btn-group">
                                    <button title="" data-toggle="tooltip" type="button" disabled="disabled" class="btn btn-xs btn-default"><i class="fa fa-chevron-up mr-0"></i></button>
                                    <button title="" data-toggle="tooltip" type="button" class="btn btn-xs btn-default"><i class="fa fa-chevron-down mr-0"></i></button>
                                    <button title="" data-toggle="tooltip" type="button" class="btn btn-xs btn-default"><i class="fa fa-times mr-0"></i></button>
                                </div>
                            </div>
                        </div>
                        <div class="form-group form-group-sm row">
                            <label class="col-sm-2 col-form-label text-right" for="CH">中文</label>
                            <input id="CH" class="form-control form-control-sm col-sm-10" placeholder="" />
                        </div>
                        <div class="form-group form-group-sm row">
                            <label class="col-sm-2 col-form-label text-right" for="EN">英文</label>
                            <input id="EN" class="form-control form-control-sm col-sm-10" placeholder="" />
                        </div>
                        <div class="light-yellow-well">
                            <h6 class="font-weight-bold">額外輸入</h6>
                            <div class="form-group form-group-sm row">
                                <label class="col-sm-2 col-form-label text-right" for="CH">中文</label>
                                <input id="CH" class="form-control form-control-sm col-sm-10" placeholder="" />
                            </div>
                            <div class="form-group form-group-sm row">
                                <label class="col-sm-2 col-form-label text-right" for="EN">英文</label>
                                <input id="EN" class="form-control form-control-sm col-sm-10" placeholder="" />
                            </div>
                        </div>
					</div>
					
					<div class="checkbox-single-item">
                        <div class="light-blue-well d-flex align-items-end mb-4">
                            <div class="flex-1">
								<div class="form-row align-items-center">
								    <div class="col-4 mb-0">
									    <input id="" class="form-control" placeholder="" />
									</div>
									<div class="col-8 mb-0">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="defaultUnchecked" />
                                            <label class="custom-control-label" for="defaultUnchecked">額外輸入</label>
                                        </div>
									</div>
								</div>
                            </div>
                            <div class="text-right pl-4">
                                <div class="btn-group">
                                    <button title="" data-toggle="tooltip" type="button" disabled="disabled" class="btn btn-xs btn-default"><i class="fa fa-chevron-up mr-0"></i></button>
                                    <button title="" data-toggle="tooltip" type="button" class="btn btn-xs btn-default"><i class="fa fa-chevron-down mr-0"></i></button>
                                    <button title="" data-toggle="tooltip" type="button" class="btn btn-xs btn-default"><i class="fa fa-times mr-0"></i></button>
                                </div>
                            </div>
                        </div>
                        <div class="form-group form-group-sm row">
                            <label class="col-sm-2 col-form-label text-right" for="CH">中文</label>
                            <input id="CH" class="form-control form-control-sm col-sm-10" placeholder="" />
                        </div>
                        <div class="form-group form-group-sm row">
                            <label class="col-sm-2 col-form-label text-right" for="EN">英文</label>
                            <input id="EN" class="form-control form-control-sm col-sm-10" placeholder="" />
                        </div>
					</div>
                    <div class="text-center">
                        <button data-toggle="tooltip" type="button" class="btn btn-info btn-md add-btn-md">新增項目</button>
                    </div>
				</div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-md btn-dark" data-dismiss="modal">關閉</button>
                <button type="button" class="btn btn-md btn-primary">儲存</button>
            </div>
        </div>
    </div>
</div>
</main>

<% content_for :js do %>

<% end %>
