/* `Footer
-----------------------------------------------------------------------------*/

footer.footer {
	background: $main_color;
	color: rgba(#fff, .75);
	line-height: 1.8;
	.general-links, .custom-icon {
		li { display: inline-block; }
	}
	.general-links {
		li {
			margin-right: 15px;
			position: relative;
			&:after {
				content: "";
				background: rgba(#fff, .25);
				border-radius: 50%;
				width: 5px;
				height: 5px;
				position: absolute;
				top: 12px;
				right: -12px;
			}
			&:last-child {
				margin-right: 0;
				&:after {
					content: none;
				}
			}
		}
	}
	.contact-content {
		h5 { font-size: 1.125rem; }
	}
	.contact {
		i {
			margin-right: 10px;
			width: 15px;
			text-align: center;
		}
	}
	
	.footer-bt {
		background: darken(desaturate($main_color, 3), 2);
		padding: 1.5rem 0;
        .container {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
        }
		p { margin-bottom: 0; }
	}
	a {
		color: rgba(#fff, 1);
		&:hover {
			color: rgba(#fff, .75);
		}
	}
	address { margin-bottom: 0; }
}

.footer-inner {
	margin-bottom: 2rem;
	padding-top: 3rem;
	.container {
        display: flex;
		flex-direction: row-reverse;
        justify-content: space-between;
	}
}
