<!-- template: 代理人填寫 -->

<div class="container-lg">
	<div class="page-content">
        <main class="main">
            <div class="page-title">
                <h3>代理人填寫</h3>
            </div>
			<p>請選擇可代理填寫的教師</p>
            <ul class="menu-item agent-list">
                <li><a href="#" class="agent-link"><span>尼古拉 (nikolatesla@ntu.edu.tw)</span></a></li>
                <li><a href="#" class="agent-link"><span>特斯拉 (tesla@ntu.edu.tw)</span></a></li>
				<li><a href="#" class="agent-link"><span>愛迪生 (edison@ntu.edu.tw)</span></a></li>
            </ul>
        </main>
	</div>
</div>

<div class="modal fade" id="agentModal" tabindex="-1" aria-labelledby="agentModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="agentModalLabel">設定填寫代理人</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">關閉</button>
                <button type="button" class="btn btn-primary">送出並通知代理人</button>
            </div>
        </div>
    </div>
</div>



<% content_for :js do %>

<% end %>

