<!-- template: 獎學金領獎紀錄 -->

<div class="container-lg">
	<div class="page-content">
	    <aside class="aside offcanvas-collapse">
			<div class="scrollbar-inner">
		        <div class="sidenav">
                    <ul class="side-navigation menu-item">
                        <li>
							<a class="nav-item" href="#">
							    <span class="link-inner">個人資料維護</span>
							</a>
						</li>
						<li>
							<a class="nav-item" href="#">
								<span class="link-inner">在外投保證明上傳</span>
							</a>
						</li>
						<li>
							<a class="nav-item" href="#">
								<span class="link-inner">開放申請中獎學金</span>
							</a>
						</li>
						<li>
							<a class="nav-item" href="#">
								<span class="link-inner">獎學金申請紀錄 <span class="badge rounded-pill text-bg-danger">需補件</span></span>
							</a>
						</li>
						<li>
							<a class="nav-item current" href="#">
								<span class="link-inner">獎學金領獎紀錄 <span class="badge rounded-pill text-bg-danger">續領申請</span></a></span>
							</a>
						</li>
                    </ul>
				</div>
			</div>
		</aside>
		<main class="main">
			<div class="page-title">
			    <h3>獲獎獎學金</h3>
			</div>
			<div class="award-card">
				<div class="award-hd">
				    <h4>科技部補助大學校院培育優秀博士生獎學金</h4>
				</div>
				<div class="award-date">
				    <span>領獎期間</span>
					<span>2022/10 - 2023/10</span>
				</div>
				<div class="award-content">
				    <h6 class="fw-bold">獲獎內容</h6>
					<p><%= lorem_paragraph %></p>
				</div>
				<div class="award-info">
				    <span class="info-label">領獎資格：符合資格</span>
					<span class="info-link">
					    <a href="#" class="btn btn-outline-primary btn-rounded">MyNTU</a>
						<a href="#" class="btn btn-outline-primary btn-rounded">獎學金證明</a>
					</span>
				</div>
				<div class="award-follow">
				    <ul class="menu-item">
					    <li>
						    <span class="label">YYY-1 續領填報期間</span>
							<span class="result">2022/11/26 13:18 YYY-1 已完成</span>
						</li>
						<li>
						    <span class="label">YYY-2 續領填報期間</span>
							<span class="result">
							    <a href="#" class="btn btn-success btn-rounded">填寫</a>
							</span>
						</li>
						<li>
						    <span class="label">YYY-1 續領填報期間</span>
							<span class="result">
							    <a href="#" class="btn btn-outline-secondary btn-rounded disabled">未開放</a>
							</span>
						</li>
						<li>
						    <span class="label">YYY-2 續領填報期間</span>
							<span class="result">
							    <a href="#" class="btn btn-outline-secondary btn-rounded disabled">未開放</a>
							</span>
						</li>
					</ul>
				</div>
			</div>
			
			<div class="award-card">
				<div class="award-hd">
				    <h4>艾伯特國際優秀研究生獎助學金</h4>
				</div>
				<div class="award-date">
				    <span>領獎期間</span>
					<span>2022/10 - 2023/10</span>
				</div>
				<div class="award-content">
				    <h6 class="fw-bold">獲獎內容</h6>
					<p><%= lorem_paragraph %></p>
				</div>
				<div class="award-info">
				    <span class="info-label">已處理發放項目</span>
					<span class="info-link">
					    <a href="#" class="btn btn-outline-primary btn-rounded">MyNTU</a>
						<a href="#" class="btn btn-outline-primary btn-rounded">獎學金證明</a>
					</span>
				</div>
			</div>
		</main>
	</div>
</div>



<% content_for :js do %>

<% end %>

