<!-- template: 首頁獎學金列表 -->

<div class="container-lg">
	<div class="page-content">
	    <aside class="aside offcanvas-collapse">
			<div class="scrollbar-inner">
		        <div class="sidenav">
                    <ul class="side-navigation menu-item">
                        <li>
							<a class="nav-item" href="#">
							    <span class="link-inner">個人資料維護</span>
							</a>
						</li>
						<li>
							<a class="nav-item" href="#">
								<span class="link-inner">在外投保證明上傳</span>
							</a>
						</li>
						<li>
							<a class="nav-item" href="#">
								<span class="link-inner">開放申請中獎學金</span>
							</a>
						</li>
						<li>
							<a class="nav-item" href="#">
								<span class="link-inner">獎學金申請紀錄 <span class="badge rounded-pill text-bg-danger">需補件</span></span>
							</a>
						</li>
						<li>
							<a class="nav-item" href="#">
								<span class="link-inner">獎學金領獎紀錄 <span class="badge rounded-pill text-bg-danger">續領申請</span></a></span>
							</a>
						</li>
                    </ul>
				</div>
			</div>
		</aside>
		<main class="main">
			<div class="scholarship-list">
				<ul class="menu-item">
					<li class="item-wrap">
					    <div class="scholarship-item">
						    <div class="item-hd">
							    <h5 class="title">霍金科技部補助大學校院培育優秀博士生獎學金</h5>
							</div>
							<div class="item-bd">
							    <div class="info-group">
								    <span class="label">開放申請起訖</span>
									<span class="info">2022/11/30 09:00  至  2022/12/31 17:00</span>
								</div>
								<div class="info-group">
								    <span class="label">結果公告</span>
									<span class="info">2023/01/03 09:00</span>
								</div>
								<div class="info-group">
								    <span class="label">開放學位別</span>
									<span class="info">Bachelor, Master, Doctorate</span>
								</div>
							</div>
							<div class="item-ft">
								<span>
                                    <a href="#" title="詳細內容" class="btn btn-dark btn-detail" data-bs-toggle="modal" data-bs-target="#scholarshipModal">
                                        <i class="fas fa-info"></i>
                                    </a>
								</span>
								<span>
								    <a href="#" class="btn btn-rounded btn-apply">進入申請</a>
								</span>
							</div>
						</div>
					</li>
					<% (1..4).map do |i| %>
				    <li class="item-wrap">
					    <div class="scholarship-item">
						    <div class="item-hd">
							    <h5 class="title">愛因斯坦國際優秀研究生獎助學金</h5>
							</div>
							<div class="item-bd">
							    <div class="info-group">
								    <span class="label">開放申請起訖</span>
									<span class="info">2022/11/30 09:00  至  2022/12/31 17:00</span>
								</div>
								<div class="info-group">
								    <span class="label">結果公告</span>
									<span class="info">2023/01/03 09:00</span>
								</div>
								<div class="info-group">
								    <span class="label">開放學位別</span>
									<span class="info">Bachelor, Master, Doctorate</span>
								</div>
							</div>
							<div class="item-ft">
								<span>
                                    <a href="#" title="詳細內容" class="btn btn-dark btn-detail" data-bs-toggle="modal" data-bs-target="#scholarshipModal">
                                        <i class="fas fa-info"></i>
                                    </a>
								</span>
								<span>
								    <a href="#" class="btn btn-rounded btn-apply">進入申請</a>
								</span>
							</div>
						</div>
					</li>
					<% end %>
				</ul>
			</div>
		</main>
	</div>
</div>



<% content_for :js do %>

<% end %>

