<!-- template: 獎學金申請紀錄 -->

<div class="container-lg">
	<div class="page-content">
	    <aside class="aside offcanvas-collapse">
			<div class="scrollbar-inner">
		        <div class="sidenav">
                    <ul class="side-navigation menu-item">
                        <li>
							<a class="nav-item" href="#">
							    <span class="link-inner">個人資料維護</span>
							</a>
						</li>
						<li>
							<a class="nav-item" href="#">
								<span class="link-inner">在外投保證明上傳</span>
							</a>
						</li>
						<li>
							<a class="nav-item" href="#">
								<span class="link-inner">開放申請中獎學金</span>
							</a>
						</li>
						<li>
							<a class="nav-item current" href="#">
								<span class="link-inner">獎學金申請紀錄 <span class="badge rounded-pill text-bg-danger">需補件</span></span>
							</a>
						</li>
						<li>
							<a class="nav-item" href="#">
								<span class="link-inner">獎學金領獎紀錄 <span class="badge rounded-pill text-bg-danger">續領申請</span></a></span>
							</a>
						</li>
                    </ul>
				</div>
			</div>
		</aside>
		<main class="main">
            <table class="table align-middle">
                <thead>
                    <tr>
                        <th>申請時間</th>
                        <th>申請獎學金</th>
						<th>狀態</th>
						<th class="text-center">操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>2022-11-25 09:57:43</td>
                        <td>霍金科技部補助大學校院培育優秀博士生獎學金</td>
                        <td>審查中</td>
                        <td class="text-center"><a href="#" class="btn btn-light btn-rounded">瀏覽</a></td>
                    </tr>
					<tr>
                        <td>2022-11-25 09:57:43</td>
                        <td>愛因斯坦國際優秀研究生獎助學金</td>
                        <td>通過</td>
                        <td class="text-center"><a href="#" class="btn btn-light btn-rounded">瀏覽</a></td>
                    </tr>
					<tr>
                        <td>2022-11-25 09:57:43</td>
                        <td>居里夫人外交部臺灣獎學金</td>
                        <td>不通過</td>
                        <td class="text-center"><a href="#" class="btn btn-light btn-rounded">瀏覽</a></td>
                    </tr>
					<tr>
                        <td>2022-11-25 09:57:43</td>
                        <td>達文西培英專案獎學金</td>
                        <td>補件</td>
                        <td class="text-center"><a href="#" class="btn btn-danger btn-rounded">補件</a></td>
                    </tr>
					<tr>
                        <td>2022-11-25 09:57:43</td>
                        <td>伽利略伽利萊國際優秀研究生獎助學金</td>
                        <td>結果：未公告</td>
                        <td class="text-center"><a href="#" class="btn btn-light btn-rounded">瀏覽</a></td>
                    </tr>
					<tr>
                        <td>2022-11-25 09:57:43</td>
                        <td>亞里士多德國際優秀研究生獎助學金</td>
                        <td>結果：獲獎</td>
                        <td class="text-center"><a href="#" class="btn btn-light btn-rounded">瀏覽</a></td>
                    </tr>
                </tbody>
            </table>
		</main>
	</div>
</div>



<% content_for :js do %>

<% end %>

