<!-- template: 選擇問卷類型 -->

<div class="container-lg">
	<div class="page-content">
        <main class="main">
            <div class="page-title">
                <h3>請選擇填寫課程</h3>
            </div>
            <div class="agent-block">
                <span>
                    <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#agentModal">設定填寫代理人</button>
                </span>
                <span>已設定代理人: 000123@ntu.edu.tw</span>
            </div>
            <ul class="menu-item course-list">
                <li><a href="#" class="course-link"><span>跨境數位貿易</span></a></li>
                <li><a href="#" class="course-link"><span>課程名稱XXXX</span></a></li>
                <li><a href="#" class="course-link"><span>Lorem ipsum dolor sit amet consectetur adipiscing elit</span></a></li>
            </ul>
        </main>
	</div>
</div>

<div class="modal fade" id="agentModal" tabindex="-1" aria-labelledby="agentModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="agentModalLabel">設定填寫代理人</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">關閉</button>
                <button type="button" class="btn btn-primary">送出並通知代理人</button>
            </div>
        </div>
    </div>
</div>



<% content_for :js do %>

<% end %>

