<footer class="footer">
	<div class="container">
		<div class="footer-inner clearfix">
            <div class="contact">
                <h6>國立高雄科技大學國際事務處</h6>
                <p><i class="fa fa-phone"></i> +886-7-6011000 ext.1601</p>
                <p><i class="fa fa-envelope"></i> <a href="mailto:qcoffice01@nkust.edu.tw">qcoffice01@nkust.edu.tw</a></p>
                <p><i class="fa fa-map-marker"></i> 1 University Road, Yanchao District, Kaohsiung City, Taiwan (R.O.C.)</p>
                <p class="browser-support">Browser support 
                    <a href="https://www.mozilla.org/firefox/new/">Firefox</a>, 
                    <a href="https://www.google.com/chrome/">Chrome</a> or
                    <a href="https://microsoft-edge.en.softonic.com/">IE11+</a>
                </p>
            </div>
            <div class="language">
                <span>Language</span>
                <a class="en" href="#">English</a>
                <a class="ch selected" href="#">中文</a>
			</div>
		</div>
	</div>
</footer>
