<!-- admin-page: 選擇角色 -->

<div class="login-innerbg"></div>
<div class="login-innerbg login-bg2"></div>
<div class="login-innerbg login-bg3"></div>
<div class="role_switch-container">
    <h1 class="role_logo"><img class="logo__img" src="../assets/logo_white@2x.png" alt="Jesda Logo" title="Jesda" /></h1>
    <ul class="role-list menu-item">
		<li>
            <div class="role-inner">
                <h5 class="item-title">資料登錄人員</h5>
                <p class="item-description">案件資料登錄及管理但不可登錄登錄案件資訊(審議後) 資料</p>
                <a href="#" class="btn btn-role btn-rounded">前往</a>
            </div>
        </li>
		<li>
            <div class="role-inner">
                <h5 class="item-title">案件統計建檔人員</h5>
                <p class="item-description">除登錄及維護案件各項資料外可進行登錄案件資訊(審議後) 資料</p>
                <a href="#" class="btn btn-role btn-rounded">前往</a>
            </div>
        </li>
		<li>
            <div class="role-inner">
                <h5 class="item-title">案件查閱人員</h5>
                <p class="item-description">案件資料查詢</p>
                <a href="#" class="btn btn-role btn-rounded">前往</a>
            </div>
        </li>
		<li>
            <div class="role-inner">
                <h5 class="item-title">管理者</h5>
                <p class="item-description">最大權限</p>
                <a href="#" class="btn btn-role btn-rounded">前往</a>
            </div>
        </li>
    </ul>
</div>
