<!-- oia-nkust: Application S1 -->

<div class="container">
	
	<div class="step-bar four-step">
		<ul>
			<li class="active">
				<span>
					<span class="step">1</span>
					<h4>Application form</h4>
					<p class="brief">Fill in the online application form</p>
				</span>
			</li>
			<li>
				<span>
					<span class="step">2</span>
					<h4>Recommendation letter</h4>
					<p class="brief">Set the recommended person for each application department</p>
				</span>
			</li>
			<li>
				<span>
					<span class="step">3</span>
					<h4>Upload</h4>
					<p class="brief">Upload the documents requested by each department</p>
				</span>
			</li>
			<li>
				<span>
					<span class="step">4</span>
					<h4>Preview and send out</h4>
				</span>
			</li>
		</ul>
	</div>
	<p><span class="required">*</span> Required field, please fill in.</p>
	<form>
	    <div class="mb-5">
		    <h4>Application department <small class="grey-text">at least one department is required</small></h4>
			<table class="table">
			    <thead>
				    <tr>
					    <th>Order</th>
						<th>Campus</th>
						<th>Bachelor of Science</th>
						<th>Department</th>
					</tr>
				</thead>
				<tbody>
				    <tr>
					    <td>1</td>
						<td>
							<select class="browser-default custom-select">
								<option selected>Choose a campus</option>
								<option value="1">One</option>
								<option value="2">Two</option>
								<option value="3">Three</option>
							</select>
						</td>
						<td>
							<select class="browser-default custom-select">
								<option selected>Please choose</option>
								<option value="1">Bachelor class</option>
								<option value="2">Two</option>
								<option value="3">Three</option>
							</select>
						</td>
						<td>
							<div class="row">
								<div class="col">
									<select class="browser-default custom-select d-inline-block">
										<option selected>Select a college</option>
										<option value="1">Humanities and Social Sciences college</option>
										<option value="2">Two</option>
										<option value="3">Three</option>
									</select>
								</div>
								<div class="col">
									<select class="browser-default custom-select d-inline-block">
										<option selected>Select a department</option>
										<option value="1">Bachelor of Information Engineering</option>
										<option value="2">Two</option>
										<option value="3">Three</option>
									</select>
								</div>
								<div class="col">
									<select class="browser-default custom-select d-inline-block">
										<option selected>Select a course group</option>
										<option value="1">Molecular Chemistry Group</option>
										<option value="2">Two</option>
										<option value="3">Three</option>
									</select>
								</div>
							</div>
						</td>
					</tr>
					<tr>
					    <td>2</td>
						<td>
							<select class="browser-default custom-select">
								<option selected>Choose a campus</option>
								<option value="1">One</option>
								<option value="2">Two</option>
								<option value="3">Three</option>
							</select>
						</td>
						<td>
							<select class="browser-default custom-select">
								<option selected>Please choose</option>
								<option value="1">Bachelor class</option>
								<option value="2">Two</option>
								<option value="3">Three</option>
							</select>
						</td>
						<td>
							<div class="row">
								<div class="col">
									<select class="browser-default custom-select d-inline-block">
										<option selected>Select a college</option>
										<option value="1">Humanities and Social Sciences college</option>
										<option value="2">Two</option>
										<option value="3">Three</option>
									</select>
								</div>
								<div class="col">
									<select class="browser-default custom-select d-inline-block">
										<option selected>Select a department</option>
										<option value="1">Bachelor of Information Engineering</option>
										<option value="2">Two</option>
										<option value="3">Three</option>
									</select>
								</div>
								<div class="col">
									<select class="browser-default custom-select d-inline-block">
										<option selected>Select a course group</option>
										<option value="1">Molecular Chemistry Group</option>
										<option value="2">Two</option>
										<option value="3">Three</option>
									</select>
								</div>
							</div>
						</td>
					</tr>
					<tr>
					    <td>3</td>
						<td>
							<select class="browser-default custom-select">
								<option selected>Choose a campus</option>
								<option value="1">One</option>
								<option value="2">Two</option>
								<option value="3">Three</option>
							</select>
						</td>
						<td>
							<select class="browser-default custom-select">
								<option selected>Please choose</option>
								<option value="1">Bachelor class</option>
								<option value="2">Two</option>
								<option value="3">Three</option>
							</select>
						</td>
						<td>
							<div class="row">
								<div class="col">
									<select class="browser-default custom-select d-inline-block">
										<option selected>Select a college</option>
										<option value="1">Humanities and Social Sciences college</option>
										<option value="2">Two</option>
										<option value="3">Three</option>
									</select>
								</div>
								<div class="col">
									<select class="browser-default custom-select d-inline-block">
										<option selected>Select a department</option>
										<option value="1">Bachelor of Information Engineering</option>
										<option value="2">Two</option>
										<option value="3">Three</option>
									</select>
								</div>
								<div class="col">
									<select class="browser-default custom-select d-inline-block">
										<option selected>Select a course group</option>
										<option value="1">Molecular Chemistry Group</option>
										<option value="2">Two</option>
										<option value="3">Three</option>
									</select>
								</div>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		
		<div class="mb-5">
		    <h4>Personal information</h4>
			<div class="row">
				<div class="col-9">
					<div class="form-group">
						<label for="FullnameinEnglish"><span class="required">*</span> Full name in English</label>
						<input type="text" class="form-control" id="FullnameinEnglish" placeholder="Example input">
						<p class="form-text text-muted">Must match the English name on the passport</p>
					</div>
					<div class="form-group">
						<label for="Chinesefullname">Chinese full name</label>
						<input type="text" class="form-control" id="Chinesefullname" placeholder="">
					</div>
					<div class="form-group">
						<label><span class="required">*</span> Gender</label>
						<div>
							<div class="custom-control custom-radio custom-control-inline">
								<input type="radio" class="custom-control-input" id="male" name="PersonalGender">
								<label class="custom-control-label" for="male">Male</label>
							</div>
							<div class="custom-control custom-radio custom-control-inline">
								<input type="radio" class="custom-control-input" id="female" name="PersonalGender">
								<label class="custom-control-label" for="female">Female</label>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label for="CountryofCitizenship"><span class="required">*</span> Country of Citizenship</label>
						<select id="CountryofCitizenship" class="browser-default custom-select">
							<option selected>Please choose</option>
							<option value="1">Bachelor class</option>
							<option value="2">Two</option>
							<option value="3">Three</option>
						</select>
					</div>
					<div class="form-group">
						<label for="Passportnumber"><span class="required">*</span> Passport number</label>
						<input type="text" class="form-control" id="Passportnumber" placeholder="">
					</div>
					<div class="form-group">
						<label for="">Phone number</label>
						<div class="row">
							<div class="col">
								<input type="text" class="form-control" placeholder="Country code">
							</div>
							<div class="col">
								<input type="text" class="form-control" placeholder="Area code">
							</div>
							<div class="col">
								<input type="text" class="form-control" placeholder="Number">
							</div>
						</div>
					</div>
					<div class="form-group">
						<label for="Email">Email</label>
						<input type="text" class="form-control" id="Email" placeholder="test@gmail.com" disabled>
					</div>
					<div class="form-group">
						<label for="Birthplace"><span class="required">*</span> Birth place</label>
						<input type="text" class="form-control" id="Birthplace" placeholder="">
					</div>
					<div class="form-group">
						<label for="">Birthday</label>
						<div class="row">
							<div class="col">
								<select class="browser-default custom-select">
									<option selected>Years</option>
									<option value="1">1999</option>
									<option value="2">1998</option>
									<option value="3">1997</option>
								</select>
							</div>
							<div class="col">
								<select class="browser-default custom-select">
									<option selected>Month</option>
									<option value="1">01</option>
									<option value="2">02</option>
									<option value="3">03</option>
								</select>
							</div>
							<div class="col">
								<select class="browser-default custom-select">
									<option selected>Day</option>
									<option value="1">01</option>
									<option value="2">02</option>
									<option value="3">03</option>
								</select>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label>Marital status</label>
						<div>
							<div class="custom-control custom-radio custom-control-inline">
								<input type="radio" class="custom-control-input" id="defaultInline1" name="inlineDefaultRadiosExample">
								<label class="custom-control-label" for="defaultInline1">Unmarried</label>
							</div>
							<div class="custom-control custom-radio custom-control-inline">
								<input type="radio" class="custom-control-input" id="defaultInline2" name="inlineDefaultRadiosExample">
								<label class="custom-control-label" for="defaultInline2">Married</label>
							</div>
							<div class="custom-control custom-control-inline">
								<input type="text" class="form-control" id="" placeholder="Number of children">
							</div>
						</div>
					</div>
				</div>
				<div class="col-3">
					<div class="file-field">
						<div class="mb-4">
							<img src="../assets/default.png" class="rounded-circle z-depth-1-half avatar-pic avatar-recent" alt="Personal recent photo">
						</div>
						<div class="d-flex justify-content-center">
							<div class="btn btn-mdb-color btn-rounded float-left">
								<span>Add photo</span>
								<input type="file">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<p class="text-center mt-5 mb-5">------------------------------------------ 以下省略，請參以上表單範例或 <a href="https://mdbootstrap.com/docs/jquery/forms/basic/">mdbootstrap</a> ------------------------------------------</p>
		
	</form>
	
	<div class="text-center">
		<a href="/" class="btn btn-link mr-2">Previous</a>
		<a href="/" class="btn btn-primary mr-2">Save</a>
		<a href="/" class="btn btn-link">Next step</a>
	</div>
</div>

