<!-- oia-nkust: 雙重國籍確認 S1 -->

<div class="container">
	<h4 class="block-title">Dual citizenship confirmation</h4>
	<p>Please answer the following questions to confirm that you have dual citizenship. If you have dual citizenship, you cannot apply.</p>
	
	<div class="step-bar three-step">
		<ul>
			<li class="active">
				<span>
					<span class="step">1</span>
					<h4>Identity confirmation</h4>
				</span>
			</li>
			<li>
				<span>
					<span class="step">2</span>
					<h4>Nationality confirmation</h4>
				</span>
			</li>
			<li>
				<span>
					<span class="step">3</span>
					<h4>Application qualifications</h4>
				</span>
			</li>
		</ul>
	</div>
	
	<form>
		<div class="mb-5">
			<h4 class="mb-3">Please choose your nationality status</h4>
			<div class="custom-control custom-radio">
				<input type="radio" class="custom-control-input" id="defaultNationality" name="defaultExampleRadios">
				<label class="custom-control-label" for="defaultNationality">I have foreign nationality and have the citizenship of the Republic of China.</label>
			</div>
			<div class="custom-control custom-radio">
				<input type="radio" class="custom-control-input" id="defaultNationality2" name="defaultExampleRadios">
				<label class="custom-control-label" for="defaultNationality2">I have foreign nationality and have nationality of the Republic of China.</label>
			</div>
			<div class="custom-control custom-radio">
				<input type="radio" class="custom-control-input" id="defaultNationality3" name="defaultExampleRadios">
				<label class="custom-control-label" for="defaultNationality3">I have a foreign nationality and have a permanent residence in Hong Kong or Macau (foreign nationality does not include a British national passport).</label>
			</div>
			<div class="custom-control custom-radio">
				<input type="radio" class="custom-control-input" id="defaultNationality3" name="defaultExampleRadios">
				<label class="custom-control-label" for="defaultNationality3">I have a Chinese nationality and are now a foreign national.</label>
			</div>
			<div class="custom-control custom-radio">
				<input type="radio" class="custom-control-input" id="defaultNationality3" name="defaultExampleRadios">
				<label class="custom-control-label" for="defaultNationality3">I only have foreign nationality.</label>
			</div>
		</div>

		<div class="mb-5">
			<h4 class="mb-3">Please enter your birthday</h4>
			<div class="form-row">
			    <div class="col">
					<select class="browser-default custom-select">
						<option selected>Years</option>
						<option value="1">1999</option>
						<option value="2">1998</option>
						<option value="3">1997</option>
					</select>
				</div>
				<div class="col">
					<select class="browser-default custom-select">
						<option selected>Month</option>
						<option value="1">01</option>
						<option value="2">02</option>
						<option value="3">03</option>
					</select>
				</div>
				<div class="col">
					<select class="browser-default custom-select">
						<option selected>Day</option>
						<option value="1">01</option>
						<option value="2">02</option>
						<option value="3">03</option>
					</select>
				</div>
			</div>
		</div>
	
		<div class="text-center mt-5">
			<a href="/" class="btn btn-light mr-5">Previous</a>
			<a href="/" class="btn btn-primary">Next step</a>
		</div>
	</form>
</div>

