<!-- oia-nkust: Application status -->

<div class="container">
	<h4 class="block-title">Application Progress</h4>
	<p>
		You have completed the application form, please complete the following steps.
		<span class="badge badge-danger">Referrer</span>
		<span class="badge badge-danger">Upload</span>
	</p>
	<div class="document-upload mb-5">
		<div class="document-item">
			<div class="document-hd">
				<h6>1. Application form <span class="badge badge-success">done</span></h6>
				<p>Last Review <i class="fa fa-clock-o"></i> 2018/12/12 18:20</p>
			</div>
			<div class="document-ft">
				<a href="#" class="btn btn-dark btn-xs">Edit</a>
			</div>
		</div>
		<div class="document-item">
			<div class="document-hd">
				<h6>2. Recommendation letter <span class="badge badge-warning">Waiting for the referee to complete</span></h6>
				<p>2 recommendation letters have been completed, 1 recommendation letter has not been opened, and 1 recommendation letter is filled in.</p>
			</div>
			<div class="document-ft">
				<a href="#" class="btn btn-dark btn-xs">View & change</a>
			</div>
		</div>
		<div class="document-item">
			<div class="document-hd">
				<h6>3. Upload payment documents <span class="badge badge-danger">undone</span></h6>
				<p>Print the application documents of each department.</p>
			</div>
			<div class="document-ft">
				<a href="#" class="btn btn-dark btn-xs">Upload</a>
			</div>
		</div>
	</div>
	<div class="text-center">
		<a href="/" class="btn btn-primary">Upload files</a>
	</div>
</div>

