<!-- oia-nkust: 審查結果錄取 -->

<div class="container">
	<div class="main-wrap">
		<ul class="nav nav-tabs" id="myTab" role="tablist">
			<li class="nav-item">
				<a class="nav-link" id="application_information-tab" data-toggle="tab" href="#application_information" role="tab" aria-controls="application_information" aria-selected="true">Application information</a>
			</li>
			<li class="nav-item">
				<a class="nav-link active" id="review_result-tab" data-toggle="tab" href="#review_result" role="tab" aria-controls="review_result" aria-selected="false">Review result</a>
			</li>
		</ul>
		<div class="tab-content" id="myTabContent">
			
			<div class="tab-pane fade" id="application_information" role="tabpanel" aria-labelledby="application_information-tab">
				<div class="document-upload mb-5">
					<div class="document-item">
						<div class="document-hd">
							<h6>1. Application form <span class="badge badge-success">done</span></h6>
							<p>Last Review <i class="fa fa-clock-o"></i> 2018/12/12 18:20</p>
						</div>
						<div class="document-ft">
							<a href="#" class="btn btn-dark btn-xs">View</a>
						</div>
					</div>
					<div class="document-item">
						<div class="document-hd">
							<h6>2. Recommendation letter <span class="badge badge-success">done</span></h6>
						</div>
						<div class="document-ft">
							<a href="#" class="btn btn-dark btn-xs">View</a>
						</div>
					</div>
					<div class="document-item">
						<div class="document-hd">
							<h6>3. Upload payment documents <span class="badge badge-success">done</span></h6>
						</div>
						<div class="document-ft">
							<a href="#" class="btn btn-dark btn-xs">View</a>
						</div>
					</div>
				</div>
			</div>

			<div class="tab-pane fade show active" id="review_result" role="tabpanel" aria-labelledby="review_result-tab">
				<div class="mb-4">
					<h5>Result announcement</h5>
					<p><%= lorem_sentences(4) %></p>
				</div>
				<table class="table table-striped">
				    <thead>
					    <tr>
						    <th>Serial number</th>
							<th>Group</th>
							<th>Result</th>
							<th>Scholarship</th>
						</tr>
					</thead>
					<tbody>
					    <tr>
						    <td>105B02001</td>
							<td>Bachelor of Applied Mathematics</td>
							<td>Admission</td>
							<td>Type A</td>
						</tr>
						<tr>
						    <td>105B03002</td>
							<td>Bachelor of Science in Physics</td>
							<td><span class="red-text">Not admitted</span></td>
							<td>123</td>
						</tr>
					</tbody>
				</table>
				<div class="mb-4">
					<h5>Scholarship Awards</h5>
					<p><%= lorem_sentences(6) %></p>
				</div>
				<div class="mb-4">
					<h5>Admission confirmation</h5>
					<p><%= lorem_sentences(4) %></p>
				</div>
				<div class="mb-5">
					<div class="form-group">
						<label>Is it confirmed that the Bachelor of Applied Mathematics in Admissions?</label>
						<div>
							<div class="custom-control custom-radio">
								<input type="radio" class="custom-control-input" id="yes" name="PersonalGender">
								<label class="custom-control-label" for="yes">Yes, I am sure I want to enroll in the Bachelor of Applied Mathematics.</label>
							</div>
							<div class="custom-control custom-radio">
								<input type="radio" class="custom-control-input" id="no" name="PersonalGender">
								<label class="custom-control-label" for="no">No, I have to give up admission</label>
								<textarea class="form-control mt-2" id="exampleFormControlTextarea" rows="4" placeholder="The reason"></textarea>
							</div>
						</div>
					</div>
				</div>
				<div class="text-center">
					<a href="/" class="btn btn-primary mr-2">Send results</a>
					<a href="/" class="btn btn-light">Download notice</a>
				</div>
				
			</div>
			
		</div>
	</div>
</div>

