<!-- oia-nkust: Application S3 -->

<div class="container">
	
	<div class="step-bar four-step">
		<ul>
			<li class="done">
				<span>
					<span class="step">1</span>
					<h4>Application form</h4>
					<p class="brief">Fill in the online application form</p>
				</span>
			</li>
			<li class="done">
				<span>
					<span class="step">2</span>
					<h4>Recommendation letter</h4>
					<p class="brief">Set the recommended person for each application department</p>
				</span>
			</li>
			<li class="active">
				<span>
					<span class="step">3</span>
					<h4>Upload</h4>
					<p class="brief">Upload the documents requested by each department</p>
				</span>
			</li>
			<li>
				<span>
					<span class="step">4</span>
					<h4>Preview and send out</h4>
				</span>
			</li>
		</ul>
	</div>
	<div class="step-container mb-5">
		<p class="mb-3">Please upload the following files to limit the PDF format. Do not exceed 5 MB for individual files.</p>
		<div class="document-upload">
			<div class="referrer-container">
				<h5 class="referrer-number mb-4">Qualification document</h5>
				<div class="document-item">
					<div class="document-hd">
						<h6>2. With a book</h6>
						<p>Upload time <i class="fa fa-clock-o"></i> 2018/12/12 18:20</p>
					</div>
					<div class="document-ft">
						<a href="#" class="btn btn-secondary btn-xs">Info</a>
						<a href="#" class="btn btn-info btn-xs">View</a>
						<a href="#" class="btn btn-warning btn-xs">Edit</a>
					</div>
				</div>
				<div class="document-item">
					<div class="document-hd">
						<h6>4. Health check report template</h6>
						<p>Upload time <i class="fa fa-clock-o"></i> 2018/12/12 18:20</p>
					</div>
					<div class="document-ft">
						<a href="#" class="btn btn-secondary btn-xs">Info</a>
						<a href="#" class="btn btn-info btn-xs">View</a>
						<a href="#" class="btn btn-warning btn-xs">Edit</a>
					</div>
				</div>
			</div>
			<div class="referrer-container">
				<h5 class="referrer-number mb-4">105B20101 Bachelor of Information Engineering</h5>
				<div class="document-item">
					<div class="document-hd">
						<h6>1. Application form</h6>
						<p>Upload time <i class="fa fa-clock-o"></i> 2018/12/12 18:20</p>
					</div>
					<div class="document-ft">
						<a href="#" class="btn btn-info btn-xs">View</a>
						<a href="#" class="btn btn-primary btn-xs">Print</a>
					</div>
				</div>
				<div class="document-item">
					<div class="document-hd">
						<h6>3. Document submission checklist</h6>
						<p>Upload time <i class="fa fa-clock-o"></i> 2018/12/12 18:20</p>
					</div>
					<div class="document-ft">
						<a href="#" class="btn btn-info btn-xs">View</a>
						<a href="#" class="btn btn-warning btn-xs">Edit</a>
					</div>
				</div>
				<div class="document-item">
					<div class="document-hd">
						<h6>5. Study abroad plan template</h6>
						<p>Upload time <i class="fa fa-clock-o"></i> 2018/12/12 18:20</p>
					</div>
					<div class="document-ft">
						<a href="#" class="btn btn-info btn-xs">View</a>
						<a href="#" class="btn btn-warning btn-xs">Edit</a>
					</div>
				</div>
			</div>
			<div class="referrer-container">
				<h5 class="referrer-number mb-4">105M20101 Master of Applied Physics, Department of Physics</h5>
				<div class="document-item">
					<div class="document-hd">
						<h6>1. Application form <small><a href="#" class="btn btn-secondary btn-xs">Info</a></small></h6>
						<p>Upload time <i class="fa fa-clock-o"></i> 2018/12/12 18:20</p>
					</div>
					<div class="document-ft">
						<form class="md-form">
							<div class="file-field">
								<a class="btn-floating btn-sm purple-gradient mt-0 float-left">
									<i class="fa fa-cloud-upload" aria-hidden="true"></i>
									<input type="file">
								</a>
								<div class="file-path-wrapper">
								   <input class="file-path validate" type="text" placeholder="Upload your file">
								</div>
							</div>
						</form>
					</div>
				</div>
				<div class="document-item">
					<div class="document-hd">
						<h6>3. Document submission checklist <small><a href="#" class="btn btn-secondary btn-xs">Info</a></small></h6>
						<p>Upload time <i class="fa fa-clock-o"></i> 2018/12/12 18:20</p>
					</div>
					<div class="document-ft">
						<form class="md-form">
							<div class="file-field">
								<a class="btn-floating btn-sm purple-gradient mt-0 float-left">
									<i class="fa fa-cloud-upload" aria-hidden="true"></i>
									<input type="file">
								</a>
								<div class="file-path-wrapper">
								   <input class="file-path validate" type="text" placeholder="Upload your file">
								</div>
							</div>
						</form>
					</div>
				</div>
				<div class="document-item">
					<div class="document-hd">
						<h6>5. Study abroad plan template</h6>
						<p>Upload time <i class="fa fa-clock-o"></i> 2018/12/12 18:20</p>
					</div>
					<div class="document-ft">
						<a href="#" class="btn btn-info btn-xs">View</a>
						<a href="#" class="btn btn-warning btn-xs">Edit</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="text-center">
		<a href="/" class="btn btn-primary mr-2">Preview and Submit</a>
	</div>
</div>

