<!-- oia-nkust: 雙重國籍確認 S3 -->

<div class="container">
	<h4 class="block-title">Dual citizenship confirmation</h4>
	<p>Please answer the following questions to confirm that you have dual citizenship. If you have dual citizenship, you cannot apply.</p>
	
	<div class="step-bar three-step">
		<ul>
			<li class="done">
				<span>
					<span class="step">1</span>
					<h4>Identity confirmation</h4>
				</span>
			</li>
			<li class="done">
				<span>
					<span class="step">2</span>
					<h4>Nationality confirmation</h4>
				</span>
			</li>
			<li class="active">
				<span>
					<span class="step">3</span>
					<h4>Application qualifications</h4>
				</span>
			</li>
		</ul>
	</div>
	
	<div class="mb-5">
		<h4 class="mb-3">You are eligible to apply as an international student</h4>
		<p>Please click "Next step" to start filling out the online application form, thank you.</p>
		<p>The application qualification examination of this system is for reference only. The applicant's actual qualifications shall be based on the Nationality Law of the Ministry of Internal Affairs of the People's Republic of China and the Ministry of Education's "Measures for Foreign Students to Come to Taiwan".</p>
	</div>

	<div class="text-center mt-5">
		<a href="/" class="btn btn-link mr-5">Previous</a>
		<a href="/" class="btn btn-primary">Next step</a>
	</div>

</div>

