<!-- oia-nkust: Application Progress -->

<div class="container">
	<h4 class="block-title">Application Progress</h4>
	<p>Please fill out the online application form first. After completing the application, please continue to complete other projects.</p>
	<div class="document-upload">
		<div class="document-item">
			<div class="document-hd">
				<h6>1. Application form</h6>
				<p>Fill in the online application form.</p>
			</div>
			<div class="document-ft">
				<h5><span class="badge badge-success">done</span></h5>
			</div>
		</div>
		<div class="document-item">
			<div class="document-hd">
				<h6>2. Recommendation letter</h6>
				<p>Set the recommender and the designated recommendation department.</p>
			</div>
			<div class="document-ft">
				<h5><span class="badge badge-danger">undone</span></h5>
			</div>
		</div>
		<div class="document-item">
			<div class="document-hd">
				<h6>3. Upload payment documents</h6>
				<p>Print the application documents of each department.</p>
			</div>
			<div class="document-ft">
				<h5><span class="badge badge-danger">undone</span></h5>
			</div>
		</div>
	</div>
	<div class="text-center">
		<a href="/" class="btn btn-primary">Start</a>
	</div>
</div>

