<!-- oia-nkust: 入學管道 -->

<div class="container">
	<h4 class="block-title">Admission pipeline</h4>
	<p>Please click on the following admissions channel.</p>
    <div class="card mb-3">
		<div class="row">
			<div class="col-1">
				<div class="form-check card-body">
					<input type="radio" class="form-check-input" id="materialUnchecked" name="materialExampleRadios">
					<label class="form-check-label" for="materialUnchecked"></label>
				</div>
			</div>
			<div class="col-11">
				<div class="card-body">
					<h4 class="card-title">Freshman enrollment</h4>
					<p class="card-text"><%= lorem_sentences(3) %></p>
					<p class="card-text"><%= lorem_sentences(5) %></p>
				</div>
			</div>
		</div>
	</div>
	<div class="card mb-3">
		<div class="row">
			<div class="col-1">
				<div class="form-check card-body">
					<input type="radio" class="form-check-input" id="materialUnchecked2" name="materialExampleRadios">
					<label class="form-check-label" for="materialUnchecked2"></label>
				</div>
			</div>
			<div class="col-11">
				<div class="card-body">
					<h4 class="card-title">Double degree student</h4>
					<p class="card-text"><%= lorem_sentences(3) %></p>
					<p class="card-text"><%= lorem_sentences(5) %></p>
				</div>
			</div>
		</div>
	</div>
	<div class="text-center">
		<a href="/" class="btn btn-primary">Next step</a>
	</div>
</div>

