/* `Footer
-----------------------------------------------------------------------------*/

footer.footer {
    border-top: 1px solid #e5e5e5;
	margin-top: 40px;
    padding: 40px 0;
	color: #aaa;
    .container { position: relative; }
	a {
		color: #aaa;
		&:hover { color: $main_color; }
	}
	.language {
		display: inline-block;
        padding-bottom: 1rem;
		a {
			display: inline-block;
			margin-left: 5px;
			padding-bottom: 3px;
		}
		.selected {
			color: #000;
			border-bottom: 3px $main_color solid;
		}
	}
    .browser-support { margin-top: 1rem; }
    address, .contact p, .language { line-height: 1.5; }
    .contact {
        p { margin-bottom: 0; }
    }
}

/* `Responsive
-----------------------------------------------------------------------------*/

@media (max-width: 991px) {
	footer.footer {
		.float-left, .float-right {
			float: none !important;
		}
		address { margin-top: 1rem; }
	}
}