/* `Header
-----------------------------------------------------------------------------*/

header.header {
    background: #f9f9f9;
	margin-bottom: 3rem;
	.brands {
		a {
            align-items: center;
			color: #000;
            &:hover { text-decoration: none; }
		}
        h1 { margin: 0; }
	}
	.h1-logo {
		display: inline-block;
		width: 268px;
		height: auto;
		vertical-align: middle;
	}
    .logo {
        border-right: 1px solid #ebebeb;
        margin-right: 20px;
        padding-right: 20px;
    }
    .sub {
        font-weight: bold;
        line-height: 1.2;
        span {
            display: block;
            font-size: 1.5rem;
        }
        .en {
            padding-top: 8px;
            font-size: 0.9rem;
            font-weight: 400;
        }
    }
    .login-link { font-weight: bold; }
}

.header-wrap {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100px;
}

