<!-- NTU-OSA: 相簿 -->

<div class="container">
	
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="#">首頁</a></li>
			<li class="breadcrumb-item active">相簿</li>
		</ol>
	</nav>
	<main class="main">
		<div class="row">
			<div class="col-md-3 sidenav">
				<div class="sticky">
					<ul class="collapsible collapsible-accordion menu-item">
						<li><a href="#" class="collapsible-header waves-effect">書院活動宗旨</a></li>
						<li><a href="#" class="collapsible-header waves-effect">各學院分梯次及日期區間</a></li>
						<li><a href="#" class="collapsible-header waves-effect">報到日期、時間、地點</a></li>
						<li><a href="#" class="collapsible-header waves-effect">課程表</a></li>
						<li><a href="#" class="collapsible-header waves-effect">抽獎資訊</a></li>
						<li class="active"><a class="collapsible-header waves-effect arrow-r active">書院團隊介紹<i class="fa fa-angle-down rotate-icon"></i></a>
							<div class="collapsible-body">
								<ul>
									<li><a class="waves-effect current" href="#">課外組團隊</a></li>
									<li><a class="waves-effect" href="#">籌借人員團隊</a></li>
									<li><a class="waves-effect" href="#">隊輔團隊照片</a></li>
								</ul>
							</div>
						</li>
						<li><a href="#" class="collapsible-header waves-effect">常見問題</a></li>
						<li><a href="#" class="collapsible-header waves-effect">重要文件下載</a></li>
						<li><a href="#" class="collapsible-header waves-effect">學生手冊</a></li>
					</ul>
				</div>
			</div>
			<div class="col-md-9">
				<article class="article">
					<div class="section-title">
						<h3>課外組團隊</h3>
					</div>
					<div class="post-single">

						<!--First row-->
						<div class="row">

							<!--First column-->
							<div class="col-md-12">

								<div id="mdb-lightbox-ui"></div>

								<!--Full width lightbox-->
								<div class="mdb-lightbox">

									<figure class="col-md-4">
										<a href="../assets/fake/04.jpg" data-size="600x450">
											<img src="../assets/fake/04.jpg" class="img-fluid" alt="圖片描述">
										</a>
										<p class="album-title">職務名稱 <span>陳小明</span></p>
									</figure>

									<figure class="col-md-4">
										<a href="../assets/fake/fake-01.jpg" data-size="2101x3152">
											<img src="../assets/fake/fake-01.jpg" class="img-fluid" alt="圖片描述">
										</a>
										<p class="album-title">職務名稱 <span>陳小明</span></p>
									</figure>

									<figure class="col-md-4">
										<a href="https://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(133).jpg" data-size="1600x1067">
											<img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(133).jpg" class="img-fluid" alt="圖片描述">
										</a>
										<p class="album-title">職務名稱 <span>陳小明</span></p>
									</figure>

									<figure class="col-md-4">
										<a href="https://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(131).jpg" data-size="1600x1067">
											<img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(131).jpg" class="img-fluid" alt="圖片描述">
										</a>
										<p class="album-title">職務名稱 <span>陳小明</span></p>
									</figure>

									<figure class="col-md-4">
										<a href="https://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(130).jpg" data-size="1600x1067">
											<img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(130).jpg" class="img-fluid" alt="圖片描述">
										</a>
										<p class="album-title">職務名稱 <span>陳小明</span></p>
									</figure>

									<figure class="col-md-4">
										<a href="https://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(132).jpg" data-size="1600x1067">
											<img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(132).jpg" class="img-fluid" alt="圖片描述">
										</a>
										<p class="album-title">職務名稱 <span>陳小明</span></p>
									</figure>

									<figure class="col-md-4">
										<a href="https://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(134).jpg" data-size="1600x1067">
											<img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(134).jpg" class="img-fluid" alt="圖片描述">
										</a>
										<p class="album-title">職務名稱 <span>陳小明</span></p>
									</figure>

									<figure class="col-md-4">
										<a href="https://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(1).jpg" data-size="1600x1067">
											<img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(1).jpg" class="img-fluid" alt="圖片描述">
										</a>
										<p class="album-title">職務名稱 <span>陳小明</span></p>
									</figure>

								</div>
								<!--/Full width lightbox-->

							</div>
							<!--/First column-->
						</div>
						<!--/First row-->
					</div>

					<nav aria-label="Page navigation">
						<ul class="pagination pg-blue justify-content-end">
							<li class="page-item item-amount"><span>212 筆</span></li>
							<li class="page-item disabled"><a class="page-link">First</a></li>
							<li class="page-item disabled">
								<a class="page-link" aria-label="Previous">
									<span aria-hidden="true">&laquo;</span>
									<span class="sr-only">Previous</span>
								</a>
							</li>
							<li class="page-item active"><a class="page-link">1</a></li>
							<li class="page-item"><a class="page-link">2</a></li>
							<li class="page-item"><a class="page-link">3</a></li>
							<li class="page-item"><a class="page-link">4</a></li>
							<li class="page-item"><a class="page-link">5</a></li>
							<li class="page-item">
								<a class="page-link" aria-label="Next">
									<span aria-hidden="true">&raquo;</span>
									<span class="sr-only">Next</span>
								</a>
							</li>
							<li class="page-item"><a class="page-link">Last</a></li>
						</ul>
					</nav>
				</article>
			</div>
		</div>
	</main>
</div>


<% content_for :js do %>
<script>
$(function () {
	$(".sticky").sticky({
		topSpacing: 30,
		zIndex: 2,
		stopper: "#YourStopperId"
	});
	// MDB Lightbox Init
    $("#mdb-lightbox-ui").load("../mdb-addons/mdb-lightbox-ui.html");
});
</script>
<% end %>





















































