<!-- NTU-OSA: 單一社團資料  -->

<div class="container">
	
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="#">首頁</a></li>
			<li class="breadcrumb-item"><a href="#">社團總覽</a></li>
			<li class="breadcrumb-item"><a href="#">社團檢索</a></li>
			<li class="breadcrumb-item active">社團簡介</li>
		</ol>
	</nav>
	
	<main class="main">
		<div class="club-introduction">
		    <div class="brief">
				<h3>綺巧手工藝社</h3>
				<p class="external-link">
					社團網址
					<i class="fa fa-external-link"></i>
					<a href="https://www.facebook.com/ntuhandiwork" target="_blank" title="綺巧手工藝社">https://www.facebook.com/ntuhandiwork</a>
				</p>
                <div class="post-single">
					<p><%= zh_lorem_paragraphs(2) %></p>
				</div>
			</div>
            <div class="contact">
				<div class="item">
				    <h6>編號</h6>
					<p>0627</p>
				</div>
                <div class="item item-email">
				    <h6>聯絡資訊</h6>
					<p>
						<a href="mailto:#"><i class="fa fa-envelope-o"></i> 社長信箱</a>
						<a href="mailto:#"><i class="fa fa-envelope-o"></i> 聯絡人信箱</a>
					</p>
				</div>
				<div class="item">
				    <h6>社團輔導人</h6>
					<p>史嘉蕾老師</p>
				</div>
            </div>
		</div>
	</main>
	
</div>


<% content_for :js do %>

<% end %>





















































