<!-- NTU-OSA: 首頁  -->

<div class="container">

	<div id="carousel-ntu" class="carousel slide carousel-fade section-container" data-ride="carousel">
		<ol class="carousel-indicators">
			<li data-target="#carousel-ntu" data-slide-to="0" class="active"></li>
			<li data-target="#carousel-ntu" data-slide-to="1"></li>
			<li data-target="#carousel-ntu" data-slide-to="2"></li>
		</ol>
		<div class="carousel-inner" role="listbox">
			<div class="carousel-item active">
				<div class="view">
					<img class="d-block w-100" src="../assets/fake/01.jpg" alt="First slide" title="First slide">
				</div>
				<div class="carousel-caption">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.</p>
				</div>
			</div>
			<div class="carousel-item">
				<div class="view">
					<img class="d-block w-100" src="../assets/fake/02.jpg" alt="Second slide" title="Second slide">
				</div>
				<div class="carousel-caption">
					<p>Secondary text</p>
				</div>
			</div>
			<div class="carousel-item">
				<div class="view">
					<img class="d-block w-100" src="../assets/fake/03.jpg" alt="Third slide" title="Third slide">
				</div>
				<div class="carousel-caption">
					<p>Third text</p>
				</div>
			</div>
		</div>
		<a class="carousel-control-prev" href="#carousel-ntu" role="button" data-slide="prev">
			<i class="fa fa-angle-left" aria-hidden="true"></i>
			<span class="sr-only">Previous</span>
		</a>
		<a class="carousel-control-next" href="#carousel-ntu" role="button" data-slide="next">
			<i class="fa fa-angle-right" aria-hidden="true"></i>
			<span class="sr-only">Next</span>
		</a>
	</div>
	
	<section class="announcement-container section-container">
	    <div class="section-title">
		    <h3>公告</h3>
		</div>
		<ul class="announcement-list menu-item">
		    <li class="photo-item clearfix">
			    <div class="photo-wrap"><img src="../assets/default.jpg" title="照片描述" alt="照片描述"></div>
				<div class="photo-content">
				    <h5><a href="#" title="[兩岸交流] 西安交通大學「手拉手心連心，兩岸同胞情」參訪活動錄取名單 ">[兩岸交流] 西安交通大學「手拉手心連心，兩岸同胞情」參訪活動錄取名單 </a></h5>
					<p class="info">
					    <a href="#" class="tags tags-fund" title="公告分類：經費申請">經費申請</a>
						<span class="date"><i class="fa fa-clock-o"></i>2019-03-27</span>
					</p>
					<p class="brief">轉知馬來西亞拉曼大學(Universiti Tunku Abdul Rahman)於108年7月27日至7月28日辦理青年發展會議(International Youth Development Conference)，敬邀各國學生參與，有興趣者歡迎逕自報名聯繫..</p>
				</div>
			</li>
			<li class="normal-item">
			    <a href="#" class="tags tags-exchange" title="公告分類：國際交流">國際交流</a>
				<h5><a href="#" title="6/17-6/22 Semarang University 夏季文化營 「Java is the Little Asia」">6/17-6/22 Semarang University 夏季文化營 「Java is the Little Asia」</a></h5>
				<span class="date"><i class="fa fa-clock-o"></i>2019-03-27</span>
			</li>
			<li class="normal-item">
			    <a href="#" class="tags tags-fund" title="公告分類：經費申請">經費申請</a>
				<h5><a href="#" title="OC12隊輔面試錄取名單公告">OC12隊輔面試錄取名單公告</a></h5>
				<span class="date"><i class="fa fa-clock-o"></i>2019-03-27</span>
			</li>
			<li class="normal-item">
			    <a href="#" class="tags tags-activity" title="公告分類：活動訊息">活動訊息</a>
				<h5><a href="#" title="水起台灣公益巡演–臺大場(東奧8k投影技術搶先看)｜臺大全球集思論壇2019 會前講座">水起台灣公益巡演–臺大場(東奧8k投影技術搶先看)｜臺大全球集思論壇2019 會前講座</a></h5>
				<span class="date"><i class="fa fa-clock-o"></i>2019-03-27</span>
			</li>
			<li class="normal-item">
			    <a href="#" class="tags tags-exchange" title="公告分類：國際交流">國際交流</a>
				<h5><a href="#" title="「拆除共同教學館一樓海報欄位改設置物櫃」說明會">「拆除共同教學館一樓海報欄位改設置物櫃」說明會</a></h5>
				<span class="date"><i class="fa fa-clock-o"></i>2019-03-27</span>
			</li>
		</ul>
		<div class="section-ft">
		    <a href="#" class="btn btn-outline-info btn-rounded waves-effect un-shadows" title="更多公告">更多公告</a>
		</div>
	</section>
	
	<section class="calendar-container section-container">
	    <div class="section-title">
		    <h3>行事曆</h3>
		</div>
		<div class="content-wrap">
			<div class="cal-wrap">
				<div id="v-cal">
					<div class="vcal-header">
						<button class="vcal-btn" data-calendar-toggle="previous">
							<svg height="24" version="1.1" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
								<path d="M16.8,8.5l-2.4-2.4L6.5,14l7.9,7.9l2.4-2.4L11.3,14L16.8,8.5z"/>
							</svg>
						</button>

						<div class="vcal-header__label" data-calendar-label="month">
							March 2017
						</div>


						<button class="vcal-btn" data-calendar-toggle="next">
							<svg height="24" version="1.1" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
								<path d="M7.5,19.5l2.4,2.4l7.9-7.9L9.9,6.1L7.5,8.5L13,14L7.5,19.5z"/>
							</svg>
						</button>
					</div>
					<div class="vcal-week">
						<span>Mon</span>
						<span>Tue</span>
						<span>Wed</span>
						<span>Thu</span>
						<span>Fri</span>
						<span>Sat</span>
						<span>Sun</span>
					</div>
					<div class="vcal-body" data-calendar-area="month"></div>
				</div>
				<p class="demo-picked" style="display: none;">
					Date picked:
					<span data-calendar-label="picked"></span>
				</p>
			</div>
			<div class="activity-list">
				<h4 class="date-illustrate">Wednesday, May 21, 2019</h4>
				<div class="event-item">
				    <p class="event-period">Wednesday, May 22, 2019 - Friday, May 24, 2019</p>
					<h3 class="event-title"><a href="#" title="巴爾幹的流浪日記-重新發現真實的自己">巴爾幹的流浪日記-重新發現真實的自己</a></h3>
					<p class="brief">我假設你已經了解CSS選取器 (Selector)、屬性 (Property) 和屬性值 (Value) 是什麼，而且你可能也知道所謂「版面配置」到底在講什麼，然而你也知道學會...</p>
				</div>
				<div class="event-item">
				    <p class="event-period">Friday, May 24, 2019</p>
					<h3 class="event-title"><a href="#" title="No.225文學院音樂會－峇里島甘美朗樂舞成果展演">No.225文學院音樂會－峇里島甘美朗樂舞成果展演</a></h3>
					<p class="brief">Suspendisse dui risus, pellentesque sed interdum vel, condimentum id metus. Aenean quis efficitur magna, quis aliquam magna. Quisque...</p>
				</div>
				<div class="event-item omission-item">
				    <p>.....</p>
				</div>
			</div>
		</div>
		<div class="section-ft">
		    <a href="#" class="btn btn-outline-info btn-rounded waves-effect un-shadows" title="更多活動">更多活動</a>
		</div>
	</section>
	
	<section class="service-container section-container">
	    <div class="section-title">
		    <h3>學生常用表單/連結</h3>
		</div>
		<div class="row">
			<div class="col-md-4">
			    <ul class="menu-item form-list">
				    <li><a href="#" title="社團營運文件">社團營運文件</a></li>
					<li><a href="#" title="經費申請及核銷">經費申請及核銷</a></li>
					<li><a href="#" title="場地借用">場地借用</a></li>
					<li><a href="#" title="活動辦理須知">活動辦理須知</a></li>
					<li><a href="#" title="社團活動證明">社團活動證明</a></li>
				</ul>
                <div class="section-ft">
                    <a href="#" class="btn btn-link" title="更多表單">更多表單</a>
                </div>
			</div>
			<div class="col-md-8">
				<div class="service-wrap">
                    <div class="service-item learn">
                        <a href="#" class="item-wrap" title="服務學習">
                            <span class="item-logo">
                                <img src="../assets/logo-learn.svg" title="服務學習商標" alt="服務學習商標">
                                <img class="afterimage" src="../assets/logo-learn-2.svg" title="服務學習商標2" alt="服務學習商標">
                            </span>
                            <span>服務學習</span>
                        </a>
                    </div>
                    <div class="service-item newbie">
                        <a href="#" class="item-wrap" title="新生書院">
                            <span class="item-logo">
                                <img src="../assets/logo-newbie.svg" title="新生書院商標" alt="新生書院商標">
                                <img class="afterimage" src="../assets/logo-newbie-2.svg" title="新生書院商標2" alt="新生書院商標">
                            </span>
                            <span>新生書院</span>
                        </a>
                    </div>
                    <div class="service-item gis">
                        <a href="#" class="item-wrap" title="GIS Taiwan 全球集思論壇">
                            <span class="item-logo">
                                <img src="../assets/logo-gis.svg" title="GIS商標" alt="GIS商標">
                                <img class="afterimage" src="../assets/logo-gis-2.svg" title="GIS商標2" alt="GIS商標">
                            </span>
                            <span>GIS Taiwan 全球集思論壇</span>
                        </a>
                    </div>
					<div class="service-item cais">
                        <a href="#" class="item-wrap" title="社團活動資訊系統">
                            <span class="item-logo">
                                <img src="../assets/logo-cais.svg" title="社團活動資訊系統" alt="社團活動資訊系統">
                                <img class="afterimage" src="../assets/logo-cais-2.svg" title="社團活動資訊系統" alt="社團活動資訊系統">
                            </span>
                            <span>社團活動資訊系統</span>
                        </a>
                    </div>
				</div>
			</div>
		</div>
	</section>
	
	<section class="media-container section-container">
	    <div class="row">
		    <div class="col-md-6">
				<div class="video-wrapper">
					<iframe width="540" height="304" src="https://www.youtube-nocookie.com/embed/yYXLO0lIvEw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" title="認識台大" allowfullscreen></iframe>
				</div>
			</div>
			<div class="col-md-6">
				<div class="google-maps">
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6442.145413066884!2d121.5334585572125!3d25.01602158947239!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x21750404ee1d7f66!2z6Ie654Gj5aSn5a24!5e0!3m2!1szh-TW!2stw!4v1560381076701!5m2!1szh-TW!2stw" width="540" height="304" frameborder="0" style="border:0" title="Google map" allowfullscreen></iframe>
				</div>
			</div>
		</div>
	</section>

</div>


<% content_for :js do %>
<script src="../javascripts/vanillaCalendar.js"></script>
<script>
	window.addEventListener('load', function () {
		vanillaCalendar.init({
			disablePastDays: true
		});
	})
</script>
<% end %>





















































