<!-- NTU-OSA: 社服 - 社會服務申請及查詢  -->

<div class="container">
	
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="#">首頁</a></li>
			<li class="breadcrumb-item active">服務學習</li>
			<li class="breadcrumb-item active">社會服務申請及查詢</li>
		</ol>
	</nav>
	
	<main class="main">
		<div class="social-service-container">
			<div class="service-list">
				<div class="card service-item">
					<div class="view">
					    <img class="card-img-top" src="../assets/ss-01.jpg" alt="社會服務申請">
					</div>
					<div class="card-body">
						<h4 class="card-title">社會服務申請</h4>
                        <p class="card-text">申請社會服務活動</p>
						<a href="#" class="btn btn-primary">申請服務</a>
					</div>
				</div>
				<div class="card service-item">
					<div class="view">
					    <img class="card-img-top" src="../assets/ss-02.jpg" alt="社會服務成果回報及查詢">
					</div>
					<div class="card-body">
						<h4 class="card-title">社會服務成果回報及查詢</h4>
                        <p class="card-text">輸入識別碼查詢社會服務申請紀錄及上傳成果回報</p>
						<a href="#" class="btn btn-primary">查詢及回報</a>
					</div>
				</div>
			</div>
		</div>
	</main>
	
</div>


<% content_for :js do %>

<% end %>





















































