<!-- NTU-OSA: 社服 - 申請資料填寫  -->

<div class="container">
	
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="#">首頁</a></li>
			<li class="breadcrumb-item active">服務學習</li>
			<li class="breadcrumb-item active">申請資料填寫</li>
		</ol>
	</nav>
	
	<main class="main">
        <div class="section-title">
            <h3>新增活動</h3>
        </div>
		<div class="social-service-container">
			<form>
				<section>
					<h4 class="block-title">活動基本資料<span>110學年暑假</span></h4>
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <div class="form-group">
                                <label><span class="required">*</span>社團名稱</label>
                                <select class="mdb-select" editable="true" searchable="Search and add here...">
                                  <option value="" disabled selected>請選擇</option>
                                  <option value="1">Option 1</option>
                                  <option value="2">Option 2</option>
                                  <option value="3">Option 3</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="form-group">
                                <label for="eventName"><span class="required">*</span>活動名稱</label>
                                <input type="text" id="eventName" class="form-control">
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <label><span class="required">*</span>活動開始</label>
                            <div id="date-picker-example" class="md-form md-outline input-with-post-icon datepicker">
                                <input placeholder="Select date" type="text" id="example" class="form-control" />
                                <label for="example"></label>
                                <i class="fa fa-calendar input-prefix" tabindex="0"></i>
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <label><span class="required">*</span>活動結束</label>
                            <div id="date-picker-example" class="md-form md-outline input-with-post-icon datepicker">
                                <input placeholder="Select date" type="text" id="example" class="form-control" />
                                <label for="example"></label>
                                <i class="fa fa-calendar input-prefix" tabindex="0"></i>
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="form-group">
                                <label for="eventLocation"><span class="required">*</span>活動地點</label>
                                <input type="text" id="eventLocation" class="form-control">
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="form-group">
                                <label><span class="required">*</span>分區</label>
                                <select class="browser-default custom-select">
                                  <option selected>請選擇</option>
                                  <option value="1">Option 1</option>
                                  <option value="2">Option 2</option>
                                  <option value="3">Option 3</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="form-group">
                                <label for="eventAdd">被服務地址</label>
                                <input type="text" id="eventAdd" class="form-control">
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="form-group">
                                <label for="eventOg">被服務機構人員姓名</label>
                                <input type="text" id="eventOg" class="form-control">
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="form-group">
                                <label for="eventPhone">被服務機構聯絡電話</label>
                                <input type="text" id="eventPhone" class="form-control">
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="form-group">
                                <label for="eventEmail">被服務機構聯絡信箱</label>
                                <input type="email" id="eventEmail" class="form-control">
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="form-group">
                                <label for="eventObject">服務對象</label>
                                <input type="text" id="eventObject" class="form-control">
                            </div>
                        </div>
                    </div>
				</section>
				<section>
				    <h4 class="block-title">出隊統計資訊</h4>
					<div class="row">
                        <div class="col-12 col-md-6">
                            <div class="form-group">
                                <label for="attendBoy">出隊男生人數</label>
                                <input type="text" id="attendBoy" class="form-control">
                            </div>
                        </div>
						<div class="col-12 col-md-6">
							<div class="form-group">
                                <label for="attendGirl">出隊女生人數</label>
                                <input type="text" id="attendGirl" class="form-control">
                            </div>
                        </div>
						<div class="col-12">
							<div class="form-group">
                                <label>出隊總人數</label>
                                <input type="text" id="" class="form-control" value="123" disabled>
								<p class="form-text text-muted">自動計算男生+女生</p>
                            </div>
                        </div>
						<div class="col-12 col-md-6">
                            <div class="form-group">
                                <label for="serviceNumberOne">服務時數1人</label>
                                <input type="text" id="serviceNumberOne" class="form-control">
                            </div>
                        </div>
						<div class="col-12 col-md-6">
							<div class="form-group">
                                <label for="serviceNumber">被服務人數</label>
                                <input type="text" id="serviceNumber" class="form-control">
                            </div>
                        </div>
						<div class="col-12">
							<div class="form-group">
                                <label>服務總時數</label>
                                <input type="text" id="" class="form-control" value="123" disabled>
								<p class="form-text text-muted">服務時數(1人) * 總人數</p>
                            </div>
                        </div>
					</div>
				</section>
				<section>
				    <h4 class="block-title">出隊名單主要人員基本資料</h4>
					<div class="row">
                        <div class="col-12 col-md-6">
                            <div class="form-group">
                                <label for="example01">社團指導老師姓名</label>
                                <input type="text" id="example01" class="form-control">
                            </div>
                        </div>
						<div class="col-12 col-md-6">
							<div class="form-group">
                                <label for="example02">社團指導老師電子信箱</label>
                                <input type="email" id="example02" class="form-control">
                            </div>
                        </div>
						<div class="col-12 col-md-6">
                            <div class="form-group">
                                <label for="example03">負責同學1 姓名</label>
                                <input type="text" id="example03" class="form-control">
                            </div>
                        </div>
						<div class="col-12 col-md-6">
							<div class="form-group">
                                <label for="example04">負責同學1 電話</label>
                                <input type="text" id="example04" class="form-control">
                            </div>
                        </div>
						<div class="col-12">
                            <div class="form-group">
                                <label for="example05">負責同學1 電子信箱</label>
                                <input type="email" id="example05" class="form-control">
                            </div>
                        </div>
						<div class="col-12 col-md-6">
                            <div class="form-group">
                                <label for="example06">負責同學2 姓名</label>
                                <input type="text" id="example06" class="form-control">
                            </div>
                        </div>
						<div class="col-12 col-md-6">
							<div class="form-group">
                                <label for="example07">負責同學2 電話</label>
                                <input type="text" id="example07" class="form-control">
                            </div>
                        </div>
						<div class="col-12">
                            <div class="form-group">
                                <label for="example08">負責同學2 電子信箱</label>
                                <input type="email" id="example08" class="form-control">
                            </div>
                        </div>
						<div class="col-12 col-md-6">
                            <div class="form-group">
                                <label for="example09">報帳同學 姓名</label>
                                <input type="text" id="example09" class="form-control">
                            </div>
                        </div>
						<div class="col-12 col-md-6">
							<div class="form-group">
                                <label for="example10">報帳同學 電話</label>
                                <input type="text" id="example10" class="form-control">
                            </div>
                        </div>
						<div class="col-12">
                            <div class="form-group">
                                <label for="example11">報帳同學 電子信箱</label>
                                <input type="email" id="example11" class="form-control">
                            </div>
                        </div>
					</div>
				</section>
				<div class="form-action">
				    <button type="button" class="btn btn-lg btn-info">送出申請</button>
				</div>
			</form>
		</div>
	</main>
	
</div>


<% content_for :js do %>
<script>
    // Material Select Initialization
    $(document).ready(function () {
        $(".mdb-select").materialSelect();
    });
</script>
<% end %>





















































