<!-- NTU-OSA: 社服 - 輸入識別碼查詢  -->

<div class="container">
	
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="#">首頁</a></li>
			<li class="breadcrumb-item active">服務學習</li>
			<li class="breadcrumb-item active">社會服務申請及查詢</li>
		</ol>
	</nav>
	
	<main class="main">
        <div class="section-title">
            <h3>識別碼查詢</h3>
        </div>
		<div class="identifier-wrap">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="請輸入識別碼">
				<p class="form-text text-muted">如遺忘識別碼，請洽課外組</p>
            </div>
			<button type="button" class="btn btn-primary">查詢</button>
		</div>
	</main>
	
</div>


<% content_for :js do %>

<% end %>





















































