<!-- NTU-OSA: 社服 - 查詢結果畫面  -->

<div class="container">
	
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="#">首頁</a></li>
			<li class="breadcrumb-item active">服務學習</li>
			<li class="breadcrumb-item active">社會服務申請及查詢</li>
		</ol>
	</nav>
	
	<main class="main">
        <div class="section-title">
            <h3>測試的假活動名稱 (110KAB461)</h3>
        </div>
		<div class="social-service-container">
			<div class="service-list">
				<div class="card service-item">
					<div class="view">
					    <img class="card-img-top" src="../assets/ss-03.jpg" alt="社會服務申請">
					</div>
					<div class="card-body">
						<h4 class="card-title">成果回報</h4>
						<a href="#" class="btn btn-primary mx-0">前往</a>
					</div>
				</div>
				<div class="card service-item">
					<div class="view">
					    <img class="card-img-top" src="../assets/ss-04.jpg" alt="社會服務申請">
					</div>
					<div class="card-body">
						<h4 class="card-title">瀏覽申請資料</h4>
						<a href="#" class="btn btn-primary mx-0">前往</a>
					</div>
				</div>
			</div>
		</div>
	</main>
	
</div>


<% content_for :js do %>

<% end %>





















































