<!-- NTU-OSA: 社服 - 成果回報  -->

<div class="container">
	
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="#">首頁</a></li>
			<li class="breadcrumb-item active">服務學習</li>
			<li class="breadcrumb-item active">社會服務申請及查詢</li>
		</ol>
	</nav>
	
	<main class="main">
        <div class="section-title">
            <h3>測試的假活動名稱 (110KAB461)</h3>
        </div>
		<div class="social-service-container output-wrapper">
			<form>
			    <section>
				    <h4 class="block-title">活動基本資料</h4>
					<div class="row">
					    <div class="col-12 col-md-6">
							<div class="form-group">
							    <label>社團名稱</label>
								<div class="output">測試的假社團名稱</div>
							</div>
						</div>
						<div class="col-12 col-md-6">
							<div class="form-group">
							    <label>活動名稱</label>
								<div class="output">測試的假活動名稱</div>
							</div>
						</div>
						<div class="col-12 col-md-6">
							<div class="form-group">
							    <label>活動開始</label>
								<div class="output">2021/12/31</div>
							</div>
						</div>
						<div class="col-12 col-md-6">
							<div class="form-group">
							    <label>活動結束</label>
								<div class="output">2022/01/03</div>
							</div>
						</div>
						<div class="col-12 col-md-6">
							<div class="form-group">
							    <label>活動地點</label>
								<div class="output">106台北市大安區辛亥路二段29號</div>
							</div>
						</div>
						<div class="col-12 col-md-6">
							<div class="form-group">
							    <label>分區</label>
								<div class="output">北</div>
							</div>
						</div>
						<div class="col-12 col-md-6">
							<div class="form-group">
							    <label>被服務地址</label>
								<div class="output">10853台北市萬華區廣州街211號</div>
							</div>
						</div>
						<div class="col-12 col-md-6">
							<div class="form-group">
							    <label>被服務機構人員姓名</label>
								<div class="output">龍山寺</div>
							</div>
						</div>
						<div class="col-12 col-md-6">
							<div class="form-group">
							    <label>被服務機構聯絡電話</label>
								<div class="output">+886223025162</div>
							</div>
						</div>
						<div class="col-12 col-md-6">
							<div class="form-group">
							    <label>被服務機構聯絡電子信箱</label>
								<div class="output">test@lungshan.org.tw</div>
							</div>
						</div>
						<div class="col-12 col-md-6">
							<div class="form-group">
							    <label>服務對象</label>
								<div class="output">文化古蹟</div>
							</div>
						</div>
					</div>
				</section>
				<section>
				    <h4 class="block-title">出隊統計資訊</h4>
					<div class="row">
                        <div class="col-12 col-md-6">
                            <div class="form-group">
                                <label for="attendBoy">出隊男生人數</label>
                                <input type="text" id="attendBoy" class="form-control">
                            </div>
                        </div>
						<div class="col-12 col-md-6">
							<div class="form-group">
                                <label for="attendGirl">出隊女生人數</label>
                                <input type="text" id="attendGirl" class="form-control">
                            </div>
                        </div>
						<div class="col-12">
							<div class="form-group">
                                <label>出隊總人數</label>
                                <input type="text" id="" class="form-control" value="123" disabled>
								<p class="form-text text-muted">自動計算男生+女生</p>
                            </div>
                        </div>
						<div class="col-12 col-md-6">
                            <div class="form-group">
                                <label for="serviceNumberOne">服務時數1人</label>
                                <input type="text" id="serviceNumberOne" class="form-control">
                            </div>
                        </div>
						<div class="col-12 col-md-6">
							<div class="form-group">
                                <label for="serviceNumber">被服務人數</label>
                                <input type="text" id="serviceNumber" class="form-control">
                            </div>
                        </div>
						<div class="col-12">
							<div class="form-group">
                                <label>服務總時數</label>
                                <input type="text" id="" class="form-control" value="123" disabled>
								<p class="form-text text-muted">服務時數(1人) * 總人數</p>
                            </div>
                        </div>
					</div>
				</section>
				<section>
				    <h4 class="block-title">活動預算金額</h4>
					<div class="row">
                        <div class="col-12 col-md-6">
                            <div class="form-group">
                                <label for="attendBoy"><span class="required">*</span>預算金額</label>
                                <input type="text" id="attendBoy" class="form-control">
                            </div>
                        </div>
						<div class="col-12 col-md-6">
							<div class="form-group">
                                <label for="attendGirl"><span class="required">*</span>活動收入</label>
                                <input type="text" id="attendGirl" class="form-control">
                            </div>
                        </div>
						<div class="col-12 col-md-6">
							<div class="form-group">
                                <label><span class="required">*</span>決算金額</label>
                                <input type="text" id="" class="form-control">
                            </div>
                        </div>
						<div class="col-12">
                            <div class="form-group">
                                <label for="exampleFormControlTextarea2">預算規劃</label>
                                <textarea class="form-control rounded-0" id="exampleFormControlTextarea2" rows="3"></textarea>
								<p class="form-text text-muted">請保留 label，可改為備註之類 wording</p>
                            </div>
						</div>
					</div>
				</section>
				<section>
				    <h4 class="block-title">其它</h4>
					<p>有區塊為必填，依邏輯多一層 "其它" 大分類</p>
                    <div class="form-group">
                        <label for="exampleFormControlTextarea3"><span class="required">*</span>社團傳承</label>
                        <textarea class="form-control rounded-0" id="exampleFormControlTextarea3" rows="3" placeholder="長篇文字敘述"></textarea>
                    </div>
					<div class="form-group">
                        <label for="exampleFormControlTextarea4"><span class="required">*</span>活動內容</label>
                        <textarea class="form-control rounded-0" id="exampleFormControlTextarea4" rows="3"></textarea>
                    </div>
					<div class="form-group">
                        <label for="exampleFormControlTextarea5"><span class="required">*</span>與被服務單位之互動</label>
                        <textarea class="form-control rounded-0" id="exampleFormControlTextarea5" rows="3"></textarea>
                    </div>
					<div class="form-group">
                        <label for="exampleFormControlTextarea6"><span class="required">*</span>整體遇到的困難與改善方式</label>
                        <textarea class="form-control rounded-0" id="exampleFormControlTextarea6" rows="3"></textarea>
                    </div>
					<div class="form-group">
                        <label for="exampleFormControlTextarea7">對本組的建議</label>
                        <textarea class="form-control rounded-0" id="exampleFormControlTextarea7" rows="3"></textarea>
                    </div>
				</section>
				<section>
				    <h4 class="block-title">上傳檔案</h4>
					<p>依邏輯多一層大分類</p>
					<div class="row">
						<div class="col-12 col-md-6">
                            <div class="form-group">
                                <label for="">請上傳填寫完成之本組制式成果報告</label>
								<div class="has-download-wrap">
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01" />
                                        <label class="custom-file-label" for="inputGroupFile01">選擇檔案</label>
                                    </div>
									<div class="btn-wrap">
                                        <button type="button" class="btn btn-sm btn-success">下載</button>
									</div>
								</div>
								<p class="form-text text-muted">
									作為編撰社會服務專刊之用。
									<a href="#" class="" data-toggle="modal" data-target="#basicExampleModal">範本檔案</a>
								</p>
                            </div>
						</div>
						<div class="col-12 col-md-6">
                            <div class="form-group">
                                <label for="">請上傳填寫完成之經費決算表</label>
								<div class="has-download-wrap">
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01" />
                                        <label class="custom-file-label" for="inputGroupFile01">選擇檔案</label>
                                    </div>
								</div>
								<p class="form-text text-muted"><a href="#" class="" data-toggle="modal" data-target="#basicExampleModal">範本檔案</a></p>
                            </div>
						</div>
						<div class="col-12 col-md-6">
                            <div class="form-group">
                                <label for="">請上傳社團自行製作之成果報告書 word 檔</label>
								<div class="has-download-wrap">
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01" />
                                        <label class="custom-file-label" for="inputGroupFile01">選擇檔案</label>
                                    </div>
								</div>
                            </div>
						</div>
						<div class="col-12">
                            <div class="form-group">
                                <label for="">請上傳活動期間照片5張</label>
								<div class="has-download-wrap">
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01" />
                                        <label class="custom-file-label" for="inputGroupFile01">選擇檔案</label>
                                    </div>
									<div class="btn-wrap">
                                        <button type="button" class="btn btn-sm btn-primary"  data-toggle="modal" data-target="#basicExampleModal2">瀏覽</button>
										<button type="button" class="btn btn-sm btn-success">下載</button>
									</div>
								</div>
								<p class="form-text text-muted">檔案名稱格式：社團名稱-照片說明（範例：世界志工社(瑞美)-美術教案活動）</p>
								<textarea class="form-control rounded-0" id="" rows="3" placeholder="說明"></textarea>
                            </div>
						</div>
					</div>
				</section>
				<div class="form-action">
				    <button type="button" class="btn btn-lg btn-info">儲存</button>
					<button type="button" class="btn btn-lg btn-link">回上一頁</button>
				</div>
			</form>
		</div>
	</main>
	
</div>

<!-- Modal -->
<div class="modal fade" id="basicExampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-sm btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="basicExampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel2">上傳照片</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="upload-photo-group">
				    <ul class="menu-item">
					    <li><img src="../assets/fake/04.jpg" class="img-fluid" alt="圖片描述"></li>
						<li><img src="../assets/fake/fake-01.jpg" class="img-fluid" alt="圖片描述"></li>
						<li><img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(130).jpg" class="img-fluid" alt="圖片描述"></li>
						<li><img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(134).jpg" class="img-fluid" alt="圖片描述"></li>
						<li><img src="https://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(132).jpg" class="img-fluid" alt="圖片描述"></li>
						<li><img src="../assets/fake/04.jpg" class="img-fluid" alt="圖片描述"></li>
						<li><img src="../assets/fake/fake-01.jpg" class="img-fluid" alt="圖片描述"></li>
						<li><img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(130).jpg" class="img-fluid" alt="圖片描述"></li>
						<li><img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(134).jpg" class="img-fluid" alt="圖片描述"></li>
						<li><img src="https://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(132).jpg" class="img-fluid" alt="圖片描述"></li>
					</ul>
				</div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<% content_for :js do %>

<% end %>





















































