<!-- NTU-OSA: 社服 - 非TA的活動報名  -->

<div class="container">
	
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="#">首頁</a></li>
			<li class="breadcrumb-item active">服務學習</li>
			<li class="breadcrumb-item active">社會服務申請及查詢</li>
		</ol>
	</nav>
	
	<main class="main">
        <div class="section-title">
            <h3>報名活動</h3>
        </div>
		<div class="social-service-container output-wrapper">
			<form>
			    <section>
				    <h4 class="block-title">活動基本資料</h4>
					<div class="row">
					    <div class="col-12 col-md-6">
							<div class="form-group">
							    <label>學年學期</label>
								<div class="output">110-2</div>
							</div>
						</div>
						<div class="col-12 col-md-6">
							<div class="form-group">
							    <label>開課單位</label>
								<div class="output">測試的假開課單位名稱</div>
							</div>
						</div>
						<div class="col-12 col-md-6">
							<div class="form-group">
							    <label>活動名稱</label>
								<div class="output">測試的假活動名稱</div>
							</div>
						</div>
						<div class="col-12 col-md-6">
							<div class="form-group">
							    <label>活動類別</label>
								<div class="output">測試的假活動類別</div>
							</div>
						</div>
						<div class="col-12 col-md-6">
							<div class="form-group">
							    <label>活動地點</label>
								<div class="output">106台北市大安區辛亥路二段29號</div>
							</div>
						</div>
						<div class="col-12 col-md-6">
							<div class="form-group">
							    <label>活動時間</label>
								<div class="output">YYYY-MM-DD  HH:mm ~ YYYY-MM-DD  HH:mm</div>
							</div>
						</div>
						<div class="col-12">
							<div class="output textarea">後端維護的備註內容</div>
						</div>
					</div>
					<div class="table-responsive text-nowrap">
					    <table class="table">
						    <thead>
							    <tr>
								    <th>參加項目</th>
									<th>子活動名稱</th>
									<th>時數</th>
									<th>活動說明</th>
								</tr>
							</thead>
							<tbody>
							    <tr>
									<td>
                                        <div class="custom-control custom-checkbox d-inline-block">
                                            <input type="checkbox" class="custom-control-input" id="defaultUnchecked">
                                            <label class="custom-control-label" for="defaultUnchecked"></label>
                                        </div>
									</td>
									<td>A1</td>
									<td>2</td>
									<td>Similique libero eum libero est</td>
								</tr>
								<tr>
									<td>
                                        <div class="custom-control custom-checkbox d-inline-block">
                                            <input type="checkbox" class="custom-control-input" id="defaultUnchecked2">
                                            <label class="custom-control-label" for="defaultUnchecked2"></label>
                                        </div>
									</td>
									<td>A2</td>
									<td>4</td>
									<td></td>
								</tr>
							</tbody>
						</table>
					</div>
				</section>
				<section>
				    <h4 class="block-title">報名人員基本資料</h4>
					<div class="row">
                        <div class="col-12 col-md-6">
                            <div class="form-group">
                                <label for="ex01">姓名</label>
                                <input type="text" id="ex01" class="form-control">
                            </div>
                        </div>
						<div class="col-12 col-md-6">
							<div class="form-group">
                                <label for="ex02">學號</label>
                                <input type="text" id="ex02" class="form-control">
                            </div>
                        </div>
						<div class="col-12 col-md-6">
							<div class="form-group">
								<label for="ex03">身分證字號</label>
                                <input type="text" id="ex03" class="form-control">
                            </div>
                        </div>
						<div class="col-12 col-md-6">
                            <label>出生年月日(民國)</label>
                            <div id="date-picker-example" class="md-form md-outline input-with-post-icon datepicker">
                                <input placeholder="Select date" type="text" id="example" class="form-control" />
                                <label for="example"></label>
                                <i class="fa fa-calendar input-prefix" tabindex="0"></i>
                            </div>
                        </div>
						<div class="col-12 col-md-6">
							<div class="form-group">
								<label for="ex04">聯絡信箱</label>
                                <input type="email" id="ex04" class="form-control">
                            </div>
                        </div>
						<div class="col-12 col-md-6">
							<div class="form-group">
								<label for="ex05">連絡電話</label>
                                <input type="text" id="ex05" class="form-control">
                            </div>
                        </div>
						<div class="col-12 col-md-6">
							<div class="form-group">
								<label for="ex06">緊急聯絡人</label>
                                <input type="text" id="ex06" class="form-control">
                            </div>
                        </div>
						<div class="col-12 col-md-6">
							<div class="form-group">
								<label for="ex07">緊急聯絡人電話</label>
                                <input type="text" id="ex07" class="form-control">
                            </div>
                        </div>
						<div class="col-12 col-md-6">
							<div class="form-group">
								<label for="ex07">用餐葷素</label>
                                <div>
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" class="custom-control-input" id="defaultInline1" name="inlineDefaultRadiosExample" />
                                        <label class="custom-control-label" for="defaultInline1">葷</label>
                                    </div>
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" class="custom-control-input" id="defaultInline2" name="inlineDefaultRadiosExample" />
                                        <label class="custom-control-label" for="defaultInline2">素</label>
                                    </div>
								</div>
                            </div>
                        </div>
						<div class="col-12">
						    <div class="form-group">
                                <label for="exampleFormControlTextarea6">備註</label>
                                <textarea class="form-control rounded-0" id="exampleFormControlTextarea6" rows="3"></textarea>
                            </div>
						</div>
						<div class="col-12 col-md-6">
							<div class="form-group">
								<label for="ex08">活動識別碼</label>
                                <input type="text" id="ex08" class="form-control">
								<p class="form-text text-muted">僅社會服務申請對象輸入</p>
                            </div>
                        </div>
					</div>
				</section>
				<div class="form-action">
				    <button type="button" class="btn btn-lg btn-info">送出</button>
				</div>
			</form>
		</div>
	</main>
	
</div>


<% content_for :js do %>

<% end %>





















































