<!-- NTU-OSA: 社服 - 瀏覽資料 -->

<div class="container">
	
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="#">首頁</a></li>
			<li class="breadcrumb-item active">服務學習</li>
			<li class="breadcrumb-item active">社會服務申請及查詢</li>
		</ol>
	</nav>
	
	<main class="main">
        <div class="section-title">
            <h3>測試的假活動名稱 (110KAB461)</h3>
        </div>
		<div class="social-service-container output-wrapper">
			<form>
			    <section>
				    <h4 class="block-title">活動基本資料</h4>
					<div class="row">
					    <div class="col-12 col-md-6">
							<div class="form-group">
							    <label>社團名稱</label>
								<div class="output">測試的假社團名稱</div>
							</div>
						</div>
						<div class="col-12 col-md-6">
							<div class="form-group">
							    <label>活動名稱</label>
								<div class="output">測試的假活動名稱</div>
							</div>
						</div>
						<div class="col-12 col-md-6">
							<div class="form-group">
							    <label>活動開始</label>
								<div class="output">2021/12/31</div>
							</div>
						</div>
						<div class="col-12 col-md-6">
							<div class="form-group">
							    <label>活動結束</label>
								<div class="output">2022/01/03</div>
							</div>
						</div>
						<div class="col-12 col-md-6">
							<div class="form-group">
							    <label>活動地點</label>
								<div class="output">106台北市大安區辛亥路二段29號</div>
							</div>
						</div>
						<div class="col-12 col-md-6">
							<div class="form-group">
							    <label>分區</label>
								<div class="output">北</div>
							</div>
						</div>
						<div class="col-12 col-md-6">
							<div class="form-group">
							    <label>被服務地址</label>
								<div class="output">10853台北市萬華區廣州街211號</div>
							</div>
						</div>
						<div class="col-12 col-md-6">
							<div class="form-group">
							    <label>被服務機構人員姓名</label>
								<div class="output">龍山寺</div>
							</div>
						</div>
						<div class="col-12 col-md-6">
							<div class="form-group">
							    <label>被服務機構聯絡電話</label>
								<div class="output">+886223025162</div>
							</div>
						</div>
						<div class="col-12 col-md-6">
							<div class="form-group">
							    <label>被服務機構聯絡電子信箱</label>
								<div class="output">test@lungshan.org.tw</div>
							</div>
						</div>
						<div class="col-12 col-md-6">
							<div class="form-group">
							    <label>服務對象</label>
								<div class="output">文化古蹟</div>
							</div>
						</div>
					</div>
				</section>
				<section>
				    <h4 class="block-title">出隊統計資訊</h4>
					<div class="row">
                        <div class="col-12 col-md-6">
                            <div class="form-group">
                                <label>出隊男生人數</label>
                                <div class="output">56</div>
                            </div>
                        </div>
						<div class="col-12 col-md-6">
							<div class="form-group">
                                <label>出隊女生人數</label>
                                <div class="output">68</div>
                            </div>
                        </div>
						<div class="col-12">
							<div class="form-group">
                                <label>出隊總人數</label>
                                <div class="output">124</div>
                            </div>
                        </div>
						<div class="col-12 col-md-6">
                            <div class="form-group">
                                <label>服務時數1人</label>
                                <div class="output">2</div>
                            </div>
                        </div>
						<div class="col-12 col-md-6">
							<div class="form-group">
                                <label>被服務人數</label>
                                <div class="output">23</div>
                            </div>
                        </div>
						<div class="col-12">
							<div class="form-group">
                                <label>服務總時數</label>
                                <div class="output">46</div>
                            </div>
                        </div>
					</div>
				</section>
				<section>
				    <h4 class="block-title">活動預算金額</h4>
					<div class="row">
                        <div class="col-12 col-md-6">
                            <div class="form-group">
                                <label>預算金額</label>
                                <div class="output">148060</div>
                            </div>
                        </div>
						<div class="col-12 col-md-6">
							<div class="form-group">
                                <label>活動收入</label>
                                <div class="output">139000</div>
                            </div>
                        </div>
						<div class="col-12 col-md-6">
							<div class="form-group">
                                <label>決算金額</label>
                                <div class="output">121247</div>
                            </div>
                        </div>
						<div class="col-12">
                            <div class="form-group">
                                <label>預算規劃</label>
								<div class="output">遊覽車39000，團員及老師食宿108360元，保險2900元。活動收入主要來自於向參加者收取團費6000元，非社員會收取較高額的費用(6500)以確保社員的優先參與，共收入123500元，其餘收入則來自課外組的暑期出隊補助9500元與定期統籌6000元。活動支出：遊覽車34125元，團員及老師食宿79000元，保險2122元，講師費6000元。</div>
                            </div>
						</div>
					</div>
				</section>
				<section>
				    <h4 class="block-title">其它</h4>
					<p>有區塊為必填，依邏輯多一層 "其它" 大分類</p>
                    <div class="form-group">
                        <label>社團傳承</label>
                        <div class="output">Aenean ut luctus dui, pharetra finibus odio. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Duis id interdum nulla. Vivamus fringilla, diam sit amet tincidunt accumsan</div>
                    </div>
					<div class="form-group">
                        <label>活動內容</label>
                        <div class="output">文字敘述</div>
                    </div>
					<div class="form-group">
                        <label>與被服務單位之互動</label>
                        <div class="output">Integer a nunc ante. Aenean ut luctus dui, pharetra finibus odio.</div>
                    </div>
					<div class="form-group">
                        <label>整體遇到的困難與改善方式</label>
                        <div class="output">文字敘述</div>
                    </div>
					<div class="form-group">
                        <label>對本組的建議</label>
                        <div class="output">Duis id interdum nulla. Vivamus fringilla, diam sit amet tincidunt accumsan, nulla nisi porta sem, non scelerisque purus neque vel tellus.</div>
                    </div>
				</section>
				<section>
				    <h4 class="block-title">上傳檔案</h4>
					<p>依邏輯多一層大分類</p>
					<div class="row">
						<div class="col-12 col-md-6">
                            <div class="form-group">
                                <label for="">請上傳填寫完成之本組制式成果報告</label>
								<div class="has-download-wrap">
                                    <div class="output">檔案名稱</div>
									<div class="btn-wrap">
                                        <button type="button" class="btn btn-sm btn-success">下載</button>
									</div>
								</div>
                            </div>
						</div>
						<div class="col-12 col-md-6">
                            <div class="form-group">
                                <label for="">請上傳填寫完成之經費決算表</label>
								<div class="has-download-wrap">
                                    <div class="output">檔案名稱</div>
									<div class="btn-wrap">
                                        <button type="button" class="btn btn-sm btn-success">下載</button>
									</div>
								</div>
                            </div>
						</div>
						<div class="col-12 col-md-6">
                            <div class="form-group">
                                <label for="">請上傳社團自行製作之成果報告書 word 檔</label>
								<div class="has-download-wrap">
                                    <div class="output">檔案名稱</div>
									<div class="btn-wrap">
                                        <button type="button" class="btn btn-sm btn-success">下載</button>
									</div>
								</div>
                            </div>
						</div>
						<div class="col-12">
                            <div class="form-group">
                                <label for="">請上傳活動期間照片5張</label>
								<div class="has-download-wrap">
									<div class="btn-wrap mb-3">
                                        <button type="button" class="btn btn-sm btn-primary"  data-toggle="modal" data-target="#basicExampleModal2">瀏覽</button>
										<button type="button" class="btn btn-sm btn-success">下載</button>
									</div>
								</div>
								<div class="output">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In id pharetra lorem, sit amet ornare tortor. Morbi tempor, quam quis luctus pharetra, dolor mauris sagittis ex, dapibus tempus sem orci ac risus. Integer a nunc ante. Aenean ut luctus dui, pharetra finibus odio. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Duis id interdum nulla. Vivamus fringilla, diam sit amet tincidunt accumsan, nulla nisi porta sem, non scelerisque purus neque vel tellus. Aenean tristique laoreet velit. Sed ut ex sodales, ornare dolor eu, semper purus. </div>
                            </div>
						</div>
					</div>
				</section>
				<div class="form-action">
					<button type="button" class="btn btn-lg btn-dark">回上一頁</button>
				</div>
			</form>
		</div>
	</main>
	
</div>

<!-- Modal -->
<div class="modal fade" id="basicExampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-sm btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="basicExampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel2">上傳照片</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="upload-photo-group">
				    <ul class="menu-item">
					    <li><img src="../assets/fake/04.jpg" class="img-fluid" alt="圖片描述"></li>
						<li><img src="../assets/fake/fake-01.jpg" class="img-fluid" alt="圖片描述"></li>
						<li><img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(130).jpg" class="img-fluid" alt="圖片描述"></li>
						<li><img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(134).jpg" class="img-fluid" alt="圖片描述"></li>
						<li><img src="https://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(132).jpg" class="img-fluid" alt="圖片描述"></li>
						<li><img src="../assets/fake/04.jpg" class="img-fluid" alt="圖片描述"></li>
						<li><img src="../assets/fake/fake-01.jpg" class="img-fluid" alt="圖片描述"></li>
						<li><img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(130).jpg" class="img-fluid" alt="圖片描述"></li>
						<li><img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(134).jpg" class="img-fluid" alt="圖片描述"></li>
						<li><img src="https://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(132).jpg" class="img-fluid" alt="圖片描述"></li>
					</ul>
				</div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<% content_for :js do %>

<% end %>





















































