
/* `Footer
-----------------------------------------------------------------------------*/

.workspace {
    footer.footer {
        width: 100%;
        position: absolute;
        bottom: 0;
    }
}

footer.footer {
    background: $darker_color;
    padding-top: calc(3.75rem + 4.5vw);
    font-size: 1rem;
	color: #91989f;
    .container-xl {
		display: flex;
		justify-content: space-between;
    }
	.footer-inner {
		padding-bottom: 48px;
        border-bottom: 1px solid #2a2c2e;
        .block-end {
            border-left: 1px solid #313335;
        }
	}
    a {
        display: inline-block;
        color: #fff;
        &:hover {
            color: $main_color;
        }
        &:focus {
            background: $main_color;
            color: #fff;
        }
    }
    .block-start { display: flex; }
	.logo {
        margin-bottom: 0;
        margin-right: 50px;
        position: relative;
        img {
            display: block;
            width: auto;
            height: 136px;
        }
        .original {
            position: absolute;
            left: 0;
            top: 0;
            opacity: 0;
        }
	}
	.menu-item.contact {
		li {
            display: flex;
            margin-bottom: .75rem;
        }
        .label { margin-right: 1rem; }
	}
    .block-end {
        width: 25%;
        text-align: end;
        a {
            display: inline-block;
        }
    }
	.menu-item.footer-link {
        font-weight: 300;
        position: relative;
		li {
            display: block;
            margin-bottom: .5rem;
            position: relative;
        }
        .accessibility-mark {
            position: absolute;
            top: -2rem;
            right: 0;
        }
	}
    .social-media {
        a {
            margin-left: 1rem;
            font-size: 1.5rem;
        }
    }
    address { margin: 0 1rem 0 4.125rem; }
}

.footer-bottom {
    padding: 24px 0;
    .block-start {
        display: flex;
        align-items: center;
    }
    .block-end { width: auto !important; }
    .bottom-link {
        margin-right: .5rem;
        width: 48px;
        opacity: .5;
        img {
            width: 100%;
            height: auto;
        }
        &:hover { opacity: 1; }
    }
    .container-xl {
		align-items: center;
    }
}

#X {
    border-radius: .125rem;
    padding: 0;
    color: $body_background;
    &:hover,
    &:focus {
        background: $main_color;
        color: #fff !important;
    }
}

/* `Responsive
-----------------------------------------------------------------------------*/

@media (max-width: 1199px) {
    footer.footer {
        .footer-inner {
            .block-end { width: 33.33333%; }
        }
    }
}

@media (max-width: 991px) {
    footer.footer {
        padding-top: 2.75rem;
        .footer-inner {
            padding-bottom: calc(1.5rem + 1.5vw);
            .container-xl { display: block; }
            .block-start {
                display: block;
                margin-bottom: 4rem;
                position: relative;
                &:after {
                    content: "";
                    background: #4b4e52;
                    width: 4rem;
                    height: 1px;
                    position: absolute;
                    left: 0;
                    bottom: -2rem;
                }
            }
            .block-end {
                border-left: none;
                width: 100%;
                text-align: start;
            }
            .logo { margin-bottom: 1rem; }
            .menu-item.contact,
            .menu-item.footer-link {
                li {
                    margin-bottom: .375rem;
                    &:last-child { margin-bottom: 0; }
                }
            }
        }
        .footer-bottom {
            font-size: .9375rem;
            .container-xl { align-items: flex-start; }
            .block-start { display: block; }
            address { margin: .5rem 0; }
            .link-wrap {
                display: inline-block;
                margin-bottom: .5rem;
            }
        }
        .social-media a { margin: 0 1rem 0 0; }
        .menu-item.footer-link {
            .accessibility-mark {
                position: static;
            }
        }
    }
}

@media (max-width: 640px) {
    footer.footer {
        .footer-inner {
            display: block;
            .block-end { margin-top: 1.5rem; }
        }
    }
}

@media (max-width: 479px) {
    footer.footer {
        font-size: .9375rem;
        .menu-item.contact .label { display: none; }
        .footer-bottom {
            .container-xl { display: block; }
            .block-end {
                margin-top: .5rem;
                text-align: start;
            }
        }
    }
}




