<% I18n.locale = "zh-TW" %>
<!doctype html>
<html lang="<%= I18n.locale %>" class="no-js">
<head>
    <%= render :partial => "/partials/event-head" %>
</head>
<body>
	<div class="workspace" canvas="container">
        <div class="event-page">
            <header class="header">
                <div class="container-lg">
                    <div class="header-wrap">
                        <div class="brands">
                            <div class="logo">
                                <h1 class="text-hide">財團法人藥害救濟基金會</h1>
                                <img class="h1-logo h1-logo-event" src="../assets/logo@2x.png" />
                                <img class="h1-logo-single" src="../assets/logo-single@2x.png" />
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <div class="content">
                <%= yield %>
            </div>
        </div>
        <footer class="footer">
            <div class="container-lg">
                <div class="footer-inner">
                    <div class="footer-start">
                        <div class="contact">
                            <ul class="menu-item">
                                <li title="聯絡電話">
                                    <i class="fas fa-phone-alt"></i>
                                    <span class="output">02-2358-7343</span>
                                </li>
                                <li title="信箱">
                                    <i class="fas fa-envelope"></i>
                                    <span class="output">
                                        <span class="d-block">
                                        event-tdrf@tdrf.org.tw
                                        (免費課程)
                                        </span>
                                        <span class="d-block">
                                            tdrf_learning@tdrf.org.tw
                                            (收費課程)
                                        </span>
                                    </span>
                                </li>
                                <li title="地址">
                                    <i class="fas fa-map-marker-alt"></i>
                                    <span class="output">10092台北市中正區愛國東路22號10樓</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <address>Copyright © 財團法人藥害救濟基金會 | All Rights Reserved</address>
                </div>
            </div>
        </footer>
	</div>
	
    <script src="../javascripts/jquery-3.6.0.min.js"></script>
    <script src="../javascripts/popper.min.js"></script>
    <script src="../javascripts/bootstrap.bundle.js"></script>
    <%= yield :js %>
</body>
</html>
