<header class="header">
    <div class="container">
		<div class="header-language">
			<a href="#">English</a>
			<a href="#" class="current">中文</a>
		</div>
		<div class="header-wrap">
			<div class="brands">
				<a class="d-flex" href="#">
                    <div class="logo">
                        <h1 class="text-hide">國立臺灣大學 國際事務處</h1>
                        <img class="h1-logo" src="../assets/logo.svg" />
                    </div>
                    <div class="sub">臺灣大學國際處問卷系統</div>
				</a>
			</div>
		</div>
    </div>
</header>