/* `Header
-----------------------------------------------------------------------------*/

header.header {
	background: #fff;
	margin-bottom: 3.75rem;
}

.header-wrap {
	padding: 2.5rem 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	.brands {
        h1 { margin: 0; }
	}
	.h1-logo {
		display: inline-block;
		width: auto;
		height: 33px;
		vertical-align: middle;
	}
	.logo { display: block; }
    .account {
		&.dropdown {
			background-color: transparent;
			a {
				background-color: transparent;
			}
		}
		&.show .nav-link { color: $secondary_color; }
	}
	.dropdown .dropdown-menu .dropdown-item:hover { background: $main_color; }
}

.project-wrapper {
	background: $main_color;
	border-left: 15px solid $main_color;
	border-right: 15px solid $main_lighten_color;
	.container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		position: relative;
		&:after {
			content: "";
			background: #fff;
			width: 1px;
			height: 10px;
			position: absolute;
			top: 0;
			left: 38px;
		}
	}
	h3 {
		margin-bottom: 0;
		padding-top: 1rem;
		padding-bottom: 1rem;
		font-size: 1.625rem;
		color: #cce9e7;
        .strong { color: #f4b869; }
        .year {
            font-family: "Roboto", sans-serif;
            font-weight: 500;
        }
	}
	.selection-link {
		a {
			display: inline-block;
			padding: 0.5rem 0;
			color: #fff;
			&:hover { color: rgba(#fff, .75);}
		}
	}
}